[2016-11-10 10:21] aviviadi opened #13550 "Failed to cross build for ARM32"
Problem updated to https://github.com/dotnet/corefx/issues/13550#issuecomment-261781800

## OLD problem (solved)
Successfully built coreclr.  Failed with corefx.

Specific problem with :

info :   OK https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/system.threading.tasks.parallel/index.json 393ms
info :   GET https://dotnetmyget.blob.core.windows.net/artifacts

[2016-11-10 11:14] cdrnet commented on #13526
Since a major aspects of the semantics of semantic versioning is about compatibility, it could be worth to also provide basic functionality to check whether an actual semantic version is expected to be compatible to a known version (simply put: same major version, same or larger minor, patch)

[2016-11-10 12:34] #13520 closed

[2016-11-10 12:39] aviviadi commented on #13550
i.e. trying to get
https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-buildtools/nuget/v3/flatcontainer/system.threading.threadpool/index.json
is not found, and probably should be.

[2016-11-10 12:41] #13339 closed

[2016-11-10 13:06] sergey-brutsky opened #13551 "HttpClient slow performance on windows and linux"
Hi guys,

I've noticed that httpclient is performing very slow in dotnet core comparing to golang for example.

For tests I've used VM with 16 virtual cores, and 24Gb of ram based on Intel Xeon E312 2.6Mgz

Tried windows server 2012 and centos 7.2

Code is super simple (you may find it in attached file).
And my test was made via "wrk -c 256 -t 32 http://<simple dotnet core solution>:5000/ --latenc

[2016-11-10 13:52] stephentoub commented on #13551
@sergey-brutsky, I took a quick look at your examples.  You call out HttpClient as being slower, but your examples are also involving ASP.NET, making requests to a localhost ASP.NET server that then in turn makes requests with HttpClient.  How are you determining that the bottleneck is with HttpClient rather than with the local server?  Have you tried narrowing it down to one or the other, such as

[2016-11-10 15:24] saurabh500 commented on #12987
The `netcat` tool suggests that there is a TCP connection path from the client to server. This is good.

Can you also share your connection string without the sensitive information like credentials?

[2016-11-10 15:33] mobidev111 commented on #984
libusb support could be here: "LibUsbDotNet for .NET Core 2.2.8-r101"
https://www.nuget.org/packages/CoreCompat.LibUsbDotNet/
can't see the sources though - will contact the authors

[2016-11-10 15:55] mobidev111 commented on #984
sources are here: https://github.com/CoreCompat/LibUsbDotNet/tree/fixes/upgrade-msbuild
@qmfrederik in what stage is your LibUsbDotNet modification - does it fully work on .Net Core? what are known limitations?
@gusmanb could this be working to add support for USB serial devices?

[2016-11-10 16:21] jhudsoncedaron commented on #12072
Windows 10.

Incidentally this can be worked around if the ConnectionState property is made to work in all cases. (The documentation says states Executing and Fetching aren't implemented "This value is reserved for future versions of the product.".), in which case I can implement my own connection pool.

[2016-11-10 16:41] karelz commented on #13526
Sounds good, let us know how that goes - assigning to you for now as you're working on it. Let me know if that changes.

[2016-11-10 16:55] ericstj commented on #12913
This isn't a CoreFx package, please open in https://github.com/dotnet/roslyn/issues

[2016-11-10 16:55] joperezr commented on #12913
thanks @ericstj I'll move this issue over to roslyn repo.

[2016-11-10 16:56] joperezr commented on #12913
Issue moved to [dotnet/roslyn #15137](https://github.com/dotnet/roslyn/issues/15137) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-10 16:56] #12913 closed

[2016-11-10 17:07] joperezr commented on #11406
@mikem8361 this has gone stale for a while, are you still planning to work on this? If not, is it ok to add a bit more info to the issue and perhaps mark it as up-for-grabs?

[2016-11-10 17:08] sergey-brutsky commented on #13551
hi @stephentoub,

I've tried 2 scenarios

1) await context.Response.WriteAsync("Hello World");

2) var response = await httpClient.GetStringAsync("http://<nginx web server>/test.html");
    await context.Response.WriteAsync(response);

First one testing results
./wrk -c 256 -t 32 -d 30 http://10.3.34.191:5003 --latency --timeout 10

Running 30s test @ http://10.3.34.191:5003
  32 threads and 256 c

[2016-11-10 17:11] stephentoub commented on #13551
And what's the difference between the same scenarios with the go client?

[2016-11-10 17:16] #10583 closed

[2016-11-10 17:21] joperezr commented on #9670
@mikem8361 any updates on this issue? Were you able to repro?

[2016-11-10 17:31] joperezr commented on #9376
related: #10633

[2016-11-10 17:31] danmosemsft commented on #984
@mobidev111 bear in mind @stephentoub 's note above that while .NET Core can certainly depend on 3rd party libraries, we cannot generally ship them or link with them. On Windows at least we should be able to just use the .NET Framework implementation (or the Mono one) without extra dependencies. On OSX/Unix ideally the dependencies would already be present.

@shaggygi the work in [standard](https:

[2016-11-10 17:40] joperezr commented on #6872
@vancem I'll try to get a repro for this since it's been a while since it was logged.

[2016-11-10 17:40] sergey-brutsky commented on #13551
Tried the same scenarios for go with fasthttp --> https://github.com/valyala/fasthttp

1) fmt.Fprintf(ctx, "Hello, world!")

2) proxy call to http://nginx-web-server/test.html

Results for the first scenario
Running 30s test @ http://10.3.34.191:8080
  32 threads and 256 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency     4.73ms   19.93ms 406.65ms   97.43%
    Req/Sec

[2016-11-10 17:42] danmosemsft commented on #13501
@steveharter @bartonjs any ideas, have you seen this error code before?

[2016-11-10 17:45] #13367 closed

[2016-11-10 17:45] stephentoub commented on #13551
Thanks, @sergey-brutsky.

Not yet.

A few more questions:
1. You mentioned initially that you're seeing this difference on both Windows and Linux, but it looks like the most recent numbers you shared are just on Linux.  I assume you see the same kinds of numbers for both scenarios on both dotnet and go on both Windows and Linux?
2. For Windows, have you tried running on the .NET Framework vs on .N

[2016-11-10 17:48] joperezr commented on #6589
assigning to @GSPP to get an api proposal for this Assert API

[2016-11-10 17:50] sergey-brutsky commented on #13551
1) Regarding dotnet core scenarios in Windows and Linux difference wasn't significant.
I have no experience how to run "go" applications on windows (will try to investigate that)

2) If it's possible to run "kestrel" on .net framework on windows I will try and share my results

[2016-11-10 17:55] danmosemsft commented on #1346
@yizhang82 I see this present in .NET Core now. Is there further work here?

[2016-11-10 17:55] joperezr commented on #1797
Done by #12527

[2016-11-10 17:55] #1797 closed

[2016-11-10 18:06] yizhang82 commented on #1346
Thanks @danmosemsft It's support in .NET Core now. I'm closing this one.

[2016-11-10 18:06] #1346 closed

[2016-11-10 18:13] karelz commented on #1037
@ellismg is looking at it now. Please update the issue (incl. unassign from yourself + mark up for grabs) when you're done.

[2016-11-10 18:14] mikem8361 commented on #11406
It is still an active work item, I just haven't had a chance to do this one yet.

[2016-11-10 18:14] mikem8361 commented on #9670
I haven’t repro this one yet.

[2016-11-10 18:17] karelz commented on #1370
@joperezr please work with @noahfalk and @tmat to work on high-level idea. Let's mark the issue appropriately then.

[2016-11-10 18:19] karelz commented on #3708
We need end-to-end design proposal on this feature.

[2016-11-10 18:21] karelz commented on #3906
We need implementation of the Desktop API surface. It will be of course Windows-only.
For cross-platform solution, use EventCounters.

[2016-11-10 18:24] danmosemsft commented on #12162
https://github.com/dotnet/corefx/pull/13479

[2016-11-10 18:25] joperezr commented on #5868
@stephentoub is this done? if so, can we close?

[2016-11-10 18:28] #5868 closed

[2016-11-10 18:28] karelz commented on #6589
@GSPP if you're working on the proposal, please let us know and we will assign it to you.

Personally, I don't think a new API is worth saving just one extra line.

[2016-11-10 18:33] danmosemsft commented on #11808
@ramarag I see your comment above about striking out some parts of StringNameKeyPair. Anything we don't implement must be present, it can throw PlatformNotSupportedException if forced.

I see this one is still missing.
[code]

Do you need a new issue for this?

[2016-11-10 18:35] karelz commented on #9376
Dupe of #3906.

[2016-11-10 18:35] #9376 closed

[2016-11-10 18:36] karelz commented on #9670
No repro, closing. Please reopen if you think we made wrong decision.

[2016-11-10 18:37] karelz commented on #10431
We need formal API proposal.

[2016-11-10 18:42] karelz commented on #10633
It should be fairly straightforward to add EventCounters in System.Data. If there's any doubt how to use EventCounters, please work with @vancem.

[2016-11-10 18:45] karelz commented on #11288
The Core-only API should be tracked with netfx-port-consider. If we approve it, it of course will come with these tests. @joperezr @Priya91 can you please confirm the Core-only API is tracked appropriately?

Closing as it has no impact on .NET Core.

[2016-11-10 18:45] #11288 closed

[2016-11-10 18:46] danmosemsft commented on #13375
Not public surface area.

[2016-11-10 18:48] karelz commented on #11406
Should be easy migration of one code pattern to another. @joperezr can provide more details.

[2016-11-10 18:58] sergey-brutsky commented on #13551
Tried another scenarios under windows 2012 r2 on the same powerful VM (checked attached files)

1) simple hello world web server on .net framework 4.6.1
Running 1m test @ http://10.3.34.191:5004
  32 threads and 256 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency     5.00ms   17.19ms 620.68ms   98.08%
    Req/Sec     3.02k   356.86     7.35k    69.00%
  Latency Distribu

[2016-11-10 19:01] danmosemsft commented on #11636
Updated list above to include `      protected static int WaitHelper(IntPtr[] waitHandles, bool waitAll, int millisecondsTimeout);`

[2016-11-10 19:02] MontyGvMC commented on #12987
Well, here I had a list with all my approaches
https://github.com/aspnet/EntityFramework/issues/6830

Well, versions I tried so far:
Data Source=[IP],1433;Database=DatabaseName;user id=usr;password=pwd;
Data Source=[IP],1433;Database=DatabaseName;user id=usr;password=pwd;Encryption=False;
Data Source=[IP],1433;Initial Catalog=DatabaseName;user id=usr;password=pwd;
Data Source=[IP],1433;Initial Cat

[2016-11-10 19:08] danmosemsft commented on #12162
[code]
is not listed above.

[2016-11-10 19:11] danmosemsft commented on #11655
The following still remain missing from Assembly:

[code]
In the case of LoadModule it is present but misisng virtual

[2016-11-10 19:12] kouvel commented on #11808
I'll take a look

[2016-11-10 19:12] danmosemsft opened #13555 "Missing stragglers from System.Reflection"
These are still missing from System.Reflection
[code]

[2016-11-10 19:13] danmosemsft commented on #9327
This is what still remains from `AppDomain`
[code]

[2016-11-10 19:16] danmosemsft opened #13556 "Environment is missing SystemDirectory"
It seems to be in the implementation so it just needs exposing

[code]

[2016-11-10 19:21] alexperovich commented on #5598
None of them have been done. All streams get this perf for free from Stream for CopyToAsync, but the specific cases in this issue have not been done.

[2016-11-10 19:22] stephentoub commented on #13551
cc: @cipop, @davidsh

[2016-11-10 19:24] danmosemsft opened #13558 "ServiceNameCollection does not impl ReadOnlyCollectionBase"
[code]

[2016-11-10 19:25] danmosemsft opened #13559 "Missing ExtendedProtectionPolicyTypeConverter"
ExtendedProtectionPolicyTypeConverter is missing.

[code]

[2016-11-10 19:29] mikem8361 commented on #11406
I know what needs to be done. The PE layout flag (memory or file) needs to be plumbed from the native coreclr code to the mscorlib and then to System.Diagnostics.StackTrace in the corefx repo. So the there are some logistical problems

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------
From: Karel Zikmund <notifications@github.com>
Date: 11/10/16 10:48 AM (GMT-08:00

[2016-11-10 19:51] redknightlois commented on #8034
@jamesqo There should be ```long``` based too.

[2016-11-10 19:52] shrah commented on #12162
These types are in the above list but not is the updated net standard(https://raw.githubusercontent.com/dotnet/standard/master/netstandard/ref/mscorlib.cs):

ExtensibleClassFactory
IDispatchImplAttribute
IDispatchImplType
ObjectCreationDelegate
SetWin32ContextInIDispatchAttribute
IExpando
DesignerNamespaceResolveEventArgs
EventRegistrationToken
NamespaceResolveEventArgs
WindowsRuntimeMetadata
Desi

[2016-11-10 20:03] saurabh500 commented on #12987
@CIPop @stephentoub Can you folks help with this issue or direct us to someone from Xplat networking?

My understanding is that SqlClient is failing to open a TCP connection

Connection id "0HL06TURUPCSV": An unhandled exception was thrown by the application. System.Data.SqlClient.SqlException: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The

[2016-11-10 20:27] AtsushiKan commented on #13426
So how bad would pinning actually be?

Without these primitives, the perf-critical DangerousPinnedReference method has to switch based on whether _object is a T[] or a plain old object (thanks to DangerousCreate()) and string (on ReadOnlySpan) plus whatever else we decide to build Spans around. And then there's the issue of hardcoding object header layouts and possibly having to accomodate Mono.

[2016-11-10 21:27] jkotas commented on #13426
You would need to measure ... the full framework JITs won't inline anything with pinning.

What about calling these `GetFieldOffset` and `GetFieldAtOffset` ?

[2016-11-10 21:42] pasikarkkainen commented on #2089
.NET Core roadmap page (https://github.com/dotnet/core/blob/master/roadmap.md) has this plan for .NET Core 1.2: "bringing .NET Core to parity with .NET Framework and Mono for a large collection of base types."

I think porting System.DirectoryServices fits that plan very well, and should indeed be part of 1.2 release. Just my 5 (euro) cents :)

[2016-11-10 21:46] AtsushiKan commented on #13426
We'd be using these for array elements and string characters as well as "fields."

[2016-11-10 21:47] svick commented on #13538
There's already an API for that: [`RuntimeInformation.IsOSPlatform`](https://docs.microsoft.com/en-us/dotnet/core/api/system.runtime.interopservices.runtimeinformation#System_Runtime_InteropServices_RuntimeInformation_IsOSPlatform_System_Runtime_InteropServices_OSPlatform_) and other members of `RuntimeInformation`.

There might a hierachy of classes present in all the CLR with at the root the fea

[2016-11-10 22:23] vors commented on #13447
Thank you, @daxian-dbw !
@karelz for the context, we are working on https://github.com/PowerShell/PowerShell/issues/1908

In PowerShell, if we piping `native | native` we would like to avoid creating PowerShell pipeline at all and just do the stdin -> stdout redirection. `CopyToAsync` looks like the perfect API for this job, but Dongbo found this issue with it.

[2016-11-10 22:40] ericstj commented on #12838
Cleaning these up, but needed to add refs to System.Security.Principal to suppress warnings.
[code]

[2016-11-10 22:41] VSadov commented on #12686
@jamesqo - do you want to take care of this?
Do you think it is possible/profitable optimization considering that you cannot directly pass the func?

[2016-11-10 22:47] VSadov commented on #12702
Might not be hard to implement, but need to be sure there is a noticeable positive impact in common scenarios.

[2016-11-10 22:58] VSadov commented on #12629
@jamesqo - would this also be applicable to generic enumerables?  (like when downcasting from base to derived)
Is there a way to measure the effects of the improvement in the context of common scenarios?

[2016-11-10 23:06] VSadov commented on #12506
Replacing literal "throw" with not inlinable call seems like a good idea.

Whether to use enum-based dispatch -  seems like a good idea too, but the win is not as clear. Can we have more info on that?

[2016-11-10 23:13] VSadov commented on #12083
Right. Immutable collections are known to have relatively expensive indexers, so using indexer may not be a win.
Overall this might only be profitable when dotnet/coreclr#603 is fixed.

[2016-11-10 23:14] CIPop commented on #12987
@saurabh500 I'm not sure I understand the issue. Please summarize what works and what doesn't.
Also, does it work if you use System.Net.Sockets instead of SqlClient?

[2016-11-10 23:19] VSadov commented on #11467
This does not seem to provide a unified issue or a strategy. I think the separate enhansements would be better served via entering individual issues.

[2016-11-10 23:19] #11467 closed

[2016-11-10 23:28] VSadov commented on #11457
This seems a micro optimization for a case that does not seem to be a likely bottleneck.

Considering that this is a trade of a division that we can skip in some cases for a branch that we should take always, it is unclear whether it is going to be profitable.

[2016-11-10 23:28] #11457 closed

[2016-11-10 23:32] karelz commented on #5296
We're thinking about general stress strategy for System.Data. This is likely not to be the approach we take.
We need first rich functional test bed in the area, before we are ready to move on to stress testing.

[2016-11-10 23:32] #5296 closed

[2016-11-10 23:32] karelz commented on #5296
That said, if anyone wants to do that we will be happy to take the benefits.

[2016-11-10 23:34] VSadov commented on #11455
The bool argument is there on purpose. In particular in nested cases we would want to propagate it down. Even if the actual ```false``` value is not used much in code, it would be used in many places because of the cascading use.

[2016-11-10 23:34] #11455 closed

[2016-11-10 23:36] karelz commented on #5840
This looks like nit picking - in such case, please just submit PR with changes, we will review them there.
Closing for now as single line comment changes are not worth tracking in issues.

[2016-11-10 23:36] #5840 closed

[2016-11-10 23:36] saurabh500 commented on #12987
@CIPop We haven't tried the an isolated System.Net.Sockets sample.
Do you have any sample code for opening a Tcp Connection from a Client to server that @MontyGvMC could try for us? If not, I could create one and ask @MontyGvMC to try it.

The issue is that when SqlClient on Ubuntu tries to connect to Sql Server on Windows, we get an error during DNS resolution.
@MontyGvMC is providing the IP addr

[2016-11-10 23:38] karelz commented on #6476
@YoungGah plans to port over the old one, not create a new one. Sorry for the confusion and thanks for your effort and help here!

[2016-11-10 23:38] #6476 closed

[2016-11-10 23:40] karelz commented on #8807
We need to port over code from full .NET Framework.

[2016-11-10 23:40] VSadov commented on #11451
It seems this would be applicable only for trivial cases like empty arrays and may not compose well, unless we find a way to propagate the cached/empty result, which would add more complexity.

It does not look like this would be a big enough improvement in typical scenarios.

[2016-11-10 23:40] #11451 closed

[2016-11-10 23:44] karelz commented on #8954
@YoungGah says it will likely need new API. We need formal API proposal.

[2016-11-10 23:45] weshaggard opened #13566 "System.Runtime.InteropServices.RuntimeInformation fails when running on full .NET on Win7"
The library PInvokes into an api-set which isn't present on Win7 and so when running on .NET Framework there it throws the following exception.

[code]

To workaround people can deploy api-ms-win-core-sysinfo-
l1-2-0.dll with their application similar to https://github.com/dotnet/corefx/issues/8091#issuecomment-225641743.

My expectation is that this should no longer be an issue once @JohnChen0 fi

[2016-11-10 23:48] VSadov commented on #11414
@bartdesmet  - is this still relevant after https://github.com/dotnet/corefx/pull/13194 ?

[2016-11-10 23:49] karelz commented on #8955
@roji (or anyone) can you provide more details what is your plan here?

[2016-11-10 23:50] karelz commented on #9809
Looks like we don't have enough data to move forward. Closing for now.
Please reopen when more data is available.

[2016-11-10 23:50] #9809 closed

[2016-11-10 23:52] karelz commented on #10859
Dupe of #4571.

[2016-11-10 23:52] #10859 closed

[2016-11-10 23:53] karelz commented on #10975
This is a lot of work, but if anyone wants to tackle, go for it.

[2016-11-10 23:56] bartdesmet commented on #11414
Can be closed.

[2016-11-10 23:56] #11414 closed

[2016-11-10 23:58] karelz commented on #13035
@YoungGah says the code is a thin layer on top of native libraries. It should be in reference source code, so we just need it ported over.

[2016-11-10 23:58] ArshBunny opened #13568 "System.Numerics.BigInteger causes StackOverflowException"
![Screenshot](http://archive.org/download/Fsharp-StackOverflowException/fsi.png)

The F# code first defines a custom power function, then tetration function based on it and then two operators so I don't have to type 'I' next to every number I want to work with and hide the superfluous BigInteger members from the console.

It worked fine for 3rd tetration of 4 [4 ^ (4 ^ 4) = 4 ^ 256] and returned o

[2016-11-10 23:59] saurabh500 commented on #12615
@fitzchak I am not in favor of adding a private members whose values will be accessed via reflection. Such code is not maintainable.
I recommend using `ObjectIDGenerator` in these scenarios.

[2016-11-10 23:59] #12615 closed

[2016-11-10 23:59] stephentoub commented on #13035
The reference source code probably only includes the managed layer.  Is the native code in Windows?  If so, a counterpart would be needed for Unix.  Or is the native code portable?  If so, we'd need to open source it and make it available as part of corefx.

[2016-11-10 23:59] karelz commented on #13544
We need formal API proposal. We expect it will be rather complex.

[2016-11-11 00:05] saurabh500 commented on #13035
@stephentoub  ODBC driver is available on Windows and Linux and the API is available to be consumed by applications.

System.Data.ODBC was a managed layer calling into the ODBC APIs

[2016-11-11 00:06] stephentoub commented on #13035
Excellent.  And macOS as well?

[2016-11-11 00:10] CIPop commented on #12987
@stephentoub may know more about the non-Windows implementation for Dns. (Sounds like "host not found" to me).

[2016-11-11 00:14] Clockwork-Muse commented on #13568
Your expoentiation function isn't tail-call recursive.  Are you sure its not just regular stack overflow?

[2016-11-11 00:17] clrjunkie commented on #5296
@karlz Why this is likely not to be the approach you take for stress testing and how will anyone be aware of this if the issue is closed?

[2016-11-11 00:24] saurabh500 commented on #13035
No its not available on macOS.

[2016-11-11 00:31] #13482 closed

[2016-11-11 00:31] #13418 closed

[2016-11-11 00:36] mj1856 commented on #13329
Thanks.  It looks like CoreRT is exactly what I was looking for.

For others that may stumble on this, [read here](https://github.com/dotnet/corert/blob/master/Documentation/intro-to-corert.md)

[2016-11-11 00:41] #13214 closed

[2016-11-11 00:43] ianhays commented on #7702
Closing this as there is a workaround. Thanks Eric.

[2016-11-11 00:44] YoungGah commented on #13035
@stephentoub & @saurabh500  Any ODBC drivers that run on Linux and MacOS should work with System.Data.Odbc layer once it is ported. There are many difference ODBC drivers that are provided by other companies.

[2016-11-11 00:44] mj1856 commented on #11897
Any such implementation will require [the mapping data from CLDR](http://unicode.org/repos/cldr/trunk/common/supplemental/windowsZones.xml).  This may or may not already be available on the OS, or may have to be included manually.

Then you have to consider *overrides*.  That is - since CLDR only updates twice annually, what do you do to keep in sync when new time zones come out (on either side)?

[2016-11-11 00:54] CIPop opened #13570 "Move the WebSockets implementation from HttpListener to System.Net.WebSockets"
To allow usage of the implementation in other contracts we would also need to expose a public API similar to:
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/ManagedWebSocket.cs#L37-L41

[2016-11-11 00:59] danmosemsft commented on #13555
@rahku fyi.

[2016-11-11 01:05] JunTaoLuo commented on #9670
I have tried with 1.0.0 packages and the latest 1.1.0 packages and I still see the same issue following my initial repro steps? How did you run the repro?

[2016-11-11 01:08] bartdesmet opened #13571 "Reintroduce the use of MethodBase.GetCurrentMethod in Queryable"
For constructing expression trees.

[2016-11-11 01:14] karelz commented on #5296
@YoungGah's team (System.Data) doesn't think this is best approach. They plan to reuse the stress infra from full .NET Framework (after modification).

Which issue do you think needs to be tracked?
I think it makes sense to track: "Add more System.Data functional tests", and/or "Create System.Data stress test infra". Using Azure SQL Benchmark infra is a potential solution to the latter one (assumi

[2016-11-11 01:16] karelz commented on #9670
@JunTaoLuo did you try master branch? @mikem8361 which version did you use?

[2016-11-11 01:39] JunTaoLuo commented on #9670
Ah, I see. You should be using the johluo/stack-trace-zip branch I linked to in the original comment. I have also created a new branch johluo/stack-trace-110-zip using 1.1.0 dependencies.

[2016-11-11 01:47] karelz commented on #2089
Just to clarify: The APIs ported in 1.2 were picked based on usage data (and rarely complexity) - @weshaggard @danmosemsft can you chime in with details, why we didn't include System.DirectoryServices?

[2016-11-11 01:57] jamesqo commented on #12686
@VSadov, have thought about this some more. Since we have to wrap the func in another func, there will be an extra layer of indirection per method call which will outweigh Add being inlined. Plus, we have to allocate a closure to make this work. Perhaps this can be revisited if `ConvertAll(Func<...>)` is added in the future, but for now I'm closing.

[2016-11-11 01:57] #12686 closed

[2016-11-11 02:07] jamesqo commented on #12629
Yes, this is applicable for generic enumerables. The collection type has to implement non-generic `ICollection` though, luckily that's common for most of the BCL containers such as List/Queue/ImmutableArray et al.

Yes, I can write a test app with enumerables of different types/sizes/etc. when the time comes & post perf results.

[2016-11-11 02:08] jamesqo commented on #11467
@VSadov, yes. Sorry, I had forgotten to close this issue earlier. Also, I've learned that some of the statements here are incorrect, e.g. we cannot just return a cached iterator in `DefaultIfEmpty` because of lazy eval.

[2016-11-11 02:20] jamesqo commented on #11451
@VSadov, you are correct; I've learned since writing this that we can only do this for arrays because of lazy eval. However, @JonHanna and I discussed specializing `Select` / `Where` for EmptyPartition in #11840. So if we returned EmptyPartition for empty arrays, and then returned more EmptyPartitions for EmptyPartitions, then we may end up avoiding a bunch of allocations for chains of `Select` /

[2016-11-11 02:54] karelz commented on #9670
I meant, did you try master branch of corefx?

[2016-11-11 03:20] danmosemsft commented on #2089
The list of assemblies we chose to match is [here](https://github.com/dotnet/standard/tree/master/netstandard/ref). @weshaggard will have to remind me how he chose that list. (Mono has S.DirectoryServices)

[2016-11-11 03:23] danmosemsft commented on #12509
If I understand this change correctly, this is happily no longer true:
https://github.com/dotnet/coreclr/commit/e76da565c106016d604b95f3bb7eadd24ceaf18a

[2016-11-11 03:27] danmosemsft commented on #12190
@terrajobst ?

[2016-11-11 03:31] danmosemsft commented on #11155
@terrajobst

[2016-11-11 03:32] danmosemsft commented on #11098
@dagood is this still relevant now dev/api is gone?

[2016-11-11 03:34] danmosemsft commented on #10524
@karelz perhaps this should be a feature request against the CLR debugging team, their issues are in coreclr right?

[2016-11-11 03:49] #13385 closed

[2016-11-11 05:15] danmosemsft commented on #12162
As discussed, we don't need anything that's not in https://raw.githubusercontent.com/dotnet/standard/master/netstandard/ref

[2016-11-11 05:35] #13490 closed

[2016-11-11 05:44] karelz commented on #3126
We need formal API proposal.

[2016-11-11 05:46] karelz commented on #10524
@noahfalk @lt72 do you track such request in coreclr repo?

[2016-11-11 06:15] karelz commented on #11142
@weshaggard @terrajobst any thoughts here?

[2016-11-11 06:28] karelz commented on #11406
@mikem8361 do you plan to actively work on it now? If not, please leave the bug unassigned -- see [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md)

[2016-11-11 08:28] wateret commented on #13033
It is good now. Closing.

[2016-11-11 08:28] #13033 closed

[2016-11-11 08:28] wateret commented on #12545
@dotnet-bot help

[2016-11-11 09:10] nietras commented on #13426
Yes, and perhaps other scenarios so I think naming is fine.

However, I do not understand the need for `int ByteOffset<T>(object origin, !!T& target)`. As far as I can tell this can be solved with the existing `Unsafe` API surface (via `As` and `ByteOffset(ref,ref)`), which also appears to be what is done in the current implementation of "portable" Span.

@jkotas did show you could do something li

[2016-11-11 09:17] capiono commented on #13504
Any update on this?

[2016-11-11 10:32] nietras commented on #13426
@jkotas just to be sure, is there really no way to convert an `object o` to a `ref` directly? Given you know the offset/header size of `object` one can easily create a `ref` to the same "location" as the object itself i.e. via `SubtractByteOffset`. So perhaps the implicit conversion is "illegal" but is the `ref` valid? Additionally, can the `ref` be `null`?

[2016-11-11 11:37] MontyGvMC commented on #12987
I am experiencing a strange behavior of the Database connections (for the first time today).

Is there a way to log (within startup.cs or on some controller)
the actual used connection settings (aka the connection string)
and not the value from the config file?

` services.AddDbContext<MyDbContext>(options => options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));`

Are conn

[2016-11-11 11:38] Sjark commented on #2089
I believe you will be able to do just about everything needed in regards to talking with ActiveDirectory (and other ldap servers) using System.DirectoryServices.Protocols, but a lot of people will have to rewrite their code to use S.DS.Protocols.

Personally I would prefere MS to port S.DS.Protocols and MS or the Community to create an easy to use library for user/group management on top of this.

[2016-11-11 11:46] gabarach commented on #8807
So does it mean the AAD auth support for Azure SQL Database may not be available anytime soon?

Thanks & Regards,
Gajendra Barachha

From: Karel Zikmund [mailto:notifications@github.com]
Sent: Friday, November 11, 2016 5:11 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Gajendra Barachha <Gajendra.Barachha@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/corefx] AAD Au

[2016-11-11 11:51] jkotas commented on #13426
Depends on the runtime implementation. It should be valid in the current implementations of .NET Framework / .NET Core, but it is untested behavior. There are not tests to verify that everything works well with it.

Yes.

[2016-11-11 12:09] nietras commented on #13426
Hmm, so in principle we could eliminate the branch `(_pinnable != null)` in the index, if that is we could convert a `object` to `ref` directly or avoid a null check when getting ref for `.Data` on `_pinnable`?

[2016-11-11 12:30] MontyGvMC commented on #12987
@saurabh500

Oh dear, the connection from Ubuntu to the fully patched Windows Server 2008 R2 works now.

And the solution in short: was a auto-generated and hardcoded connection string in the auto generated DbContext class.

A bit more detail:
It seems the last time I scaffolded the db context (database first approach) i missed replacing the OnConfigure method with the Constructor taking the DbCon

[2016-11-11 13:01] devinfluencer opened #13583 "Please add System.Drawing.StringAlignment to System.Drawing.Primitives"
Using this for alignment of objects inside a rectangle.
-Thomas

[2016-11-11 13:31] lasseschou commented on #1624
Please, Microsoft, add the `IHttpClient`, period. OR be consistent and remove all your interfaces  in the BCL - `IList`, `IDictionary`, `ICollection`, because they are "hard to version" anyway. Heck, also get rid of `IEnumerable`.

On a serious note, instead of arguing like "you can just write your own handler" (sure, but an interface is easier and cleaner) and "an interface introduces breaking ch

[2016-11-11 14:39] v-yadli opened #13584 "SemaphoreSlim fairness: waiting threads are not first-in-first-out"
Repro:
[code]
Expected:
Thread 1 blocks on wait;
Thread 2 releases signal;
Thread 1 receives signal;
Thread 2 blocks on wait;
Thread 1 releases signal;
Thread 2 receives signal;
Thread 1 & 2 end;

Actual:
Deadlock; I checked with windbg, it seems that thread 1 has exited but thread 2 is still waiting for the signal, which means that thread 1 did not successfully release the signal.
Replace `Semaph

[2016-11-11 14:48] stephentoub commented on #13584
Please share the code for __run_in_threads

[2016-11-11 14:50] stephentoub commented on #13584
Actually, the repro is flawed. If thread2 runs first, it'll release and then wait on the semaphore successfully. Then when thread1 runs, it'll block forever waiting on the semaphore.

[2016-11-11 15:20] v-yadli commented on #13584
@stephentoub Thanks for the quick reply!
`__run_in_threads` sequentially starts the thread procedures and then join them.
For demonstration of the problem, I added some delay between thread starts:
[code]
I get what you mean. Yes in this way it does not produce a 'deadlock'.
However, given that thread 1 is already running (because of the delay), when thread 2 releases the signal, thread 1 should b

[2016-11-11 15:30] stephentoub commented on #13584
Most of the synchronization primitives in .NET, including SemaphoreSlim and Monitor (which SemaphoreSlim is implemented with), by design aren't "fair", as fairness leads to problems like lock convoys.  As a result, there's no guarantee that a thread waiting for a semaphore will be released by another thread that releases it and then immediately waits for it... it's quite possible that second threa

[2016-11-11 15:42] v-yadli commented on #13584
Understood. Thank you for the explanation. 👍
Updating the title of this issue because it is not deadlock issue.

[2016-11-11 15:42] #13584 closed

[2016-11-11 16:04] eliezedeck opened #13586 "Single Worker thread, single I/O thread"
Hey guys,

I have been working on a project that involves async/await a lot. And with the multiple worker threads and I/O thread, the order at which operations happen are pretty much mangled together, and things just go wrong all the time. Because of this too, it's really hard to debug what's happening.

I'm looking for a way to **limit both the Worker and I/O threads** to both be just 1. I need t

[2016-11-11 16:17] tarekgh commented on #11075
https://github.com/dotnet/coreclr/pull/8074

[2016-11-11 16:17] karelz commented on #13504
@davidfowl ping?

[2016-11-11 16:18] karelz commented on #13583
Do you have API proposal?

[2016-11-11 16:19] svick commented on #13586
A way to do this might be to run your application on a single-threaded `SynchronizationContext`. That way, any `await` that does not use `.ConfugureAwait(false)` will resume on that thread.

A simple way to do that is to use [`AsyncContext` from AsyncEx](https://github.com/StephenCleary/AsyncEx/wiki/AsyncContext).

[2016-11-11 16:40] karelz commented on #8807
Yes, priority-wise it is not too high up given the cost/benefit ratio (as understood today).
If there is significant customer need and feedback, we are always opened to change our point of view. So far this issue has 1 vote.

@YoungGah @saurabh500 are there other ways to authenticate Azure SQL Database from .NET Core?

[2016-11-11 16:53] saurabh500 commented on #8807
Right now connections to Azure SQL DB can be accomplished by specifying the Used Id and Password to the `SqlConnection`

[2016-11-11 17:14] stephentoub commented on #13583
@karelz, he's not asking for a new API, he's asking for https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Advanced/StringAlignment.cs,20 to be brought to corefx.

[2016-11-11 17:19] saurabh500 commented on #12987
Thanks for the confirmation @MontyGvMC

[2016-11-11 17:19] #12987 closed

[2016-11-11 17:25] karelz commented on #13583
Thanks, I let @alexperovich comment on complexity / triage of the issue.

[2016-11-11 17:26] t-sch commented on #13583
Thanks

[2016-11-11 17:26] karelz commented on #8807
@gabarach would that be a reasonable workaround for you?

[2016-11-11 17:31] CIPop commented on #8809
This is being investigated in https://github.com/aspnet/Performance/issues/182

[2016-11-11 17:32] #13556 closed

[2016-11-11 17:36] KevinRansom opened #13588 "System.Numerics.BigInteger causes StackOverflowException on calculating an arbitrarily large number #1731"
Hi,

whilst experimenting with F# @arshbunny found an issue with System.Numerics .Biginteger.  Here is a link to his issue:

https://github.com/Microsoft/visualfsharp/issues/1731#issuecomment-259840351

We don't believe this is issue due to F#  but because of a bug in System.Numerics.BigInteger.  Please take a look at it.

Thank you

Kevin

![Screenshot](http://archive.org/download/Fsharp-StackOve

[2016-11-11 17:39] svick commented on #13588
This looks like a duplicate of https://github.com/dotnet/corefx/issues/13568.

[2016-11-11 17:40] stephentoub opened #13589 "HttpClient allocates a lot of objects"
This simple console app makes 1000 calls to GetStringAsync to download the page at http://httpbin.org:
[code]

This chart shows the allocations for those 1000 iterations (so divide each number by 1000 to see the appx allocations per iteration):

|Type|Allocations|Bytes|
|---|---|---|
|System.String|18690|25369814|
|System.Threading.Tasks.Task`1|15455|1112760|
|System.Threading.Tasks.TaskCompletion

[2016-11-11 17:53] #13588 closed

[2016-11-11 17:53] stephentoub commented on #13588
Dup of https://github.com/dotnet/corefx/issues/13568

[2016-11-11 17:54] CIPop commented on #12987
Glad that this got sorted out! Thanks @MontyGvMC !

[2016-11-11 17:57] n8allan commented on #984
Just a note from experience, however, for any considering using mono source, that the SerialPort implementation in Mono has serious problems (on Linux).  It has been months since I endured them so I don't remember all the particulars.  Sporadic errors opening the port, especially after having it open then closing it, is one problem I recall, and I wasn't doing anything exotic.  The same code on Wi

[2016-11-11 18:01] mikem8361 commented on #11406
I’m not but (probably incorrectly) use github to track the work items/bugs that I’ll need to fix in the next release.  I guess I’ll look at the up for grabs when doing my planning.  This was marked for 1.2.0 also.  You don’t think it is important enough for 1.2?

[2016-11-11 18:05] mikem8361 commented on #11406
When this is done there will be one more scenario supported: just a in-memory PE that references a portable PDB (no in-memory PDB).  The AssemblyLoadContext.Load has an override for this case.

[2016-11-11 18:19] karelz commented on #987
This looks tricky. Where to start is mentioned above.

[2016-11-11 18:21] karelz commented on #1633
We need to find out if the scenario of signing built binary has good enough API. Maybe we do not need any API at all.

[2016-11-11 18:25] karelz commented on #2061
As next step: We need someone to look at the ECMA Metadata spec and compare to implementation, identify missing pieces and propose a list for review. More steps will follow (e.g. test coverage).

[2016-11-11 18:26] karelz commented on #2688
We need formal API proposal. It looks fairly straightforward.

[2016-11-11 18:28] karelz commented on #4100
We need formal API proposal.

[2016-11-11 18:31] karelz commented on #5377
This looks very simple. We need someone to implement it. @vScottLouvau do you want to grab it?

cc: @terrajobst @weshaggard we approved the (super-simpler) API with @tmat and @nguerrera, please let us know if you disagree.

[2016-11-11 18:34] karelz commented on #6045
Straightforward and simple.
Next step: Mark the library as compliant, then work through the errors and flip specific APIs back to false. File issues where important APIs don't have CLSCompliant alternatives/workarounds.

[2016-11-11 18:35] karelz commented on #6533
Should be simple and straightforward to inline.
Note: It might spark a new general BCL API for these type of things (@nguerrera).

[2016-11-11 18:36] joperezr opened #13592 "Add 32-bit version of tests that were disabled"
PR #13572 marked a few tests to be 64-bit only, given that the assumptions they make were only meant for 64-bit runs. This workitem is to track the addition of 32-bit version of those tests.

[2016-11-11 18:37] karelz commented on #6942
Next step: We need real scenario demonstrating the perf issue, so that we can measure the improvement and if it is worth the effort.

[2016-11-11 18:39] karelz commented on #7996
Be warned: This is rather tricky. You have to be careful about allocation lifetime, memory mapping, etc.

[2016-11-11 18:40] bartdesmet opened #13593 "System.Transactions.Tests.AsyncTransactionScopeTests.AsyncTSTest failing in CI"
See https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/24/consoleFull#192703349679fe3b83-f408-404c-b9e7-9207d232e5fc.

[code]

[2016-11-11 18:41] karelz commented on #8139
@tmat says it is corner case in WinRT projections.
The fix will likely not be trivial.

[2016-11-11 18:44] karelz commented on #13295
Approved (cc: @terrajobst @weshaggard should be non-controversial).
We need someone to implement it - it will be medium complex, the code is more or less in Roslyn.

[2016-11-11 18:49] weshaggard commented on #2089
The initial seeding was done from intersecting Xamarin profiles with .NET Framework. Xamarain profiles (which is a subset of mono) do not support DirectoryServices which is why this wasn't in the intersection.

[2016-11-11 18:57] mikem8361 commented on #9670
I'm sorry. I should have said something sooner. I meant to say to Karel that I have had a chance to repro this issue yet.  Not that it didn't repro for me.

[2016-11-11 18:58] mellinoe commented on #2171
This is no longer relevant, closing.

[2016-11-11 18:58] #2171 closed

[2016-11-11 19:00] mellinoe commented on #2817
This was a while ago and I'm pretty sure we've changed the way this stuff is resolved at least once since this was filed.

[2016-11-11 19:00] #2817 closed

[2016-11-11 19:00] mellinoe commented on #3065
This is covered by how things are currently being done, at least in spirit. We regularly update to the latest coreclr packages for our tests.

[2016-11-11 19:00] #3065 closed

[2016-11-11 19:01] #13558 closed

[2016-11-11 19:01] mellinoe commented on #3140
@weshaggard Do you still think this is something we should enable? If we enable this across the board and don't see any errors, is it something we should just go ahead and do?

[2016-11-11 19:04] mellinoe commented on #3501
@CIPop Of the things in the original issue, how much have we enabled now, and how much do we think still needs to be invested in? I know we have started running some build-time analyzers on the managed code, and we have at least done some offline (i.e. not build-time) analysis of the native code. Are there more things we should be adding to build-time validation?

[2016-11-11 19:05] mellinoe commented on #3623
This doesn't happen anymore, at least not with newer versions of tooling.

[2016-11-11 19:05] #3623 closed

[2016-11-11 19:05] stephentoub commented on #3140
I'm 100% sure there will be errors / regressions if/when we enable this everywhere. ;)

[2016-11-11 19:06] mellinoe commented on #3789
@sokket How much of this do we have right now? I know we have the native code formatter, but it is a manual process (i.e. just a script you can optionally run). Do we have plans to automate that stuff and/or add something for managed code?

[2016-11-11 19:07] mellinoe commented on #4152
@danmosemsft @markwilkie Are we addressing this for our Helix and Jenkins runs?

[2016-11-11 19:11] sokket commented on #3789
There currently isn't a plan in place for how to do this; we have manual formatting rules that can be applied for C# and C++ but no process and no plan for a way forward

[2016-11-11 19:12] mellinoe commented on #4887
@davidsh Is this something that can be solved by just creating a new VM image, with the appropriate configuration, and setting up a new CI job to use that image?

[2016-11-11 19:13] terrajobst commented on #13295
I've no objection to the concept but what's the actual API that's being approved here? We should have at least an outline.

[2016-11-11 19:14] danmosemsft commented on #4152
@sepidehMS is currently working on enabling @schaabs 's Dumpling service.

[2016-11-11 19:17] mellinoe commented on #4950
We do have tags and commit SHA's in the binaries now.

[2016-11-11 19:17] #4950 closed

[2016-11-11 19:20] mellinoe commented on #5105
This problem: `PE file is already strong-name signed.` is actually not specific to VS 2015 CE or anything like that. It's just an issue that occasionally occurs if builds are canceled (for some reason) in an intermediate state. It should not persist at all if you just clean and rebuild the project. If you feel that there is actually another distinct issue here, please re-open this or just file a n

[2016-11-11 19:20] #5105 closed

[2016-11-11 19:21] mellinoe commented on #5315
@weshaggard @venkat-raman251 There are still some instances of `NET_NATIVE` around the repo. I'm wondering if `netcore50` is still the thing that we are using?

[2016-11-11 19:23] mellinoe commented on #5420
@weshaggard @ericstj What's the status of this one? I think we've cleaned up lots of OS-related stuff, and refactored a bunch on top of that. Is this still a problem?

[2016-11-11 19:24] mellinoe commented on #5443
@mmitche Could you share the resource here in case someone would like to invest some time into it? That's assuming this is still a problem and we aren't capturing log files.

[2016-11-11 19:24] #13500 closed

[2016-11-11 19:25] SunnyWar commented on #13586
@eliezedeck I'm confused. Async/Await is not multi-threaded. It does not create additional worker threads. [https://msdn.microsoft.com/en-us/library/hh191443(v=vs.110).aspx](url)

[2016-11-11 19:25] mellinoe commented on #5444
@weshaggard Do you still believe we should do this? I'm kind of skeptical that it will really be worth it. Download / restore times are still long enough to be annoying, but they aren't really debilitating anymore, at least with a decent connection speed.

[2016-11-11 19:25] weshaggard commented on #3140
I do think this is probably worth doing, but I agree that it is likely not as simple as flipping a build configuration on.

[2016-11-11 19:28] mellinoe commented on #6397
These are uniform now, since we moved to the run tool.

[2016-11-11 19:28] #6397 closed

[2016-11-11 19:28] mellinoe commented on #6598
Yes, these are being produced. They should ship stable with our next release.

[2016-11-11 19:28] #6598 closed

[2016-11-11 19:29] mellinoe commented on #6759
I'm going to move this to buildtools as it's more actionable there. It does look like we are still using the OpenSourceSign task, so we should fix that.

[2016-11-11 19:29] #6759 closed

[2016-11-11 19:32] mellinoe commented on #6901
@danmosemsft @markwilkie Has this been done? Is there potentially a better place to track this issue?

[2016-11-11 19:32] mellinoe commented on #7010
This is done.

[2016-11-11 19:32] #7010 closed

[2016-11-11 19:33] SunnyWar commented on #3126
I skeptical how needed this is. Writing one is trivial by using a Queue and called dequeuer if the size is reached before pushing another item. I suppose someone might want one with vastly superior performance than what is described above, but unless such a thing is demonstrated, I'm not seeing the value.  In short, show me numbers that demonstrate a circular buffer that vastly outperforms the tri

[2016-11-11 19:33] mellinoe commented on #7597
We did disable some of the tests that were known to fail here https://github.com/dotnet/corefx/pull/11574.

It would be interesting to see how a full outerloop run fares.

[2016-11-11 19:37] tmat commented on #13295
It's in the title :)

[code]

[2016-11-11 19:38] markwilkie commented on #6901
As far as I know, this is not yet done.  However, it should be relatively straight forward to do.  Probably the right thing to do is talk to @Chrisboh about getting a working group going.  Timeframe goals?

Tracking eng issue: https://github.com/dotnet/core-eng/issues/120

[2016-11-11 19:44] karelz commented on #3126
I see the value mostly in the "I don't have to write the trivial implementation".

[2016-11-11 19:48] terrajobst commented on #13295
😄 I really didn't see this. :-)

[2016-11-11 19:48] mellinoe commented on #8307
@ellismg Is this still a problem? Assuming that you meant this in your first post:

Then I think this is not a problem any longer, since we don't build/run our tests that way anymore.

[2016-11-11 19:49] terrajobst commented on #13295
APIs look good as proposed.

[2016-11-11 19:50] karelz commented on #13295
BTW: Me neither until @tmat and @nguerrera told me -- @tam @nguerrera if you can in future add the mini-specs, it will help streamline things :)

[2016-11-11 19:50] mellinoe commented on #7705
The described issue no longer repros, so I'm going to close this. Technically it's only fixed because we build every configuration now (because of the test's pkgproj references), but it's fixed nonetheless.

[2016-11-11 19:50] #7705 closed

[2016-11-11 19:51] mellinoe commented on #8367
There's been no more discussion of this (and the original log link 404's) so I'll assume the root bug was fixed as part of 1.0.0.

[2016-11-11 19:51] #8367 closed

[2016-11-11 19:52] mellinoe commented on #8369
I haven't had MSBuild 12 installed on a variety of machines and I haven't hit this, so I'm going to assume it is fixed by now.

[2016-11-11 19:52] #8369 closed

[2016-11-11 19:54] mellinoe commented on #8665
We no longer use dnxcore50 except in places like legacy documentation, etc.

[2016-11-11 19:54] #8665 closed

[2016-11-11 19:55] weshaggard commented on #10073
This is taken care of by https://github.com/dotnet/corefx/pull/13565

[2016-11-11 19:55] #10073 closed

[2016-11-11 19:55] karelz commented on #11406
@mikem8361 we are introducing these [triage & label rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) in CoreFX repo. I didn't realize it impacts also you / Diagnostics team, so I missed you in my earlier communications. Sorry for that. I'll stop by to explain details if necessary.

[2016-11-11 19:58] weshaggard commented on #5444
I do still think we should do this to try and help share packages across many repo's. Beyond potential restore performance it also saves a lot of duplicated disk space.

[2016-11-11 19:58] mellinoe commented on #8960
We fixed a bunch of things like this with our "binclashlogger", so this should no longer repro.

[2016-11-11 19:58] #8960 closed

[2016-11-11 19:59] weshaggard commented on #5420
There may be some lingering projects that can be optimized but I agree this is pretty much done now.

[2016-11-11 19:59] #5420 closed

[2016-11-11 19:59] #13289 closed

[2016-11-11 20:01] weshaggard commented on #5315
We should use the guidance at https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md#define-naming-convention and clean-up the remaining projects to make them consistent.

[2016-11-11 20:03] Structed commented on #13526
The issue was indeed shared via Twitter by @NickCraver

[2016-11-11 20:05] mellinoe commented on #9735
I think it's fair to say that right now, the "TargetingPack" nuget packages aren't intended to be used outside of our build system. Delivering a separate package for public consumption would probably be a separate effort.

[2016-11-11 20:05] ellismg commented on #8307
Yeah, this is not a problem anymore.

[2016-11-11 20:05] #8307 closed

[2016-11-11 20:07] mellinoe commented on #9756
@joperezr It doesn't look like we have any `FriendAccessAllowed` attributes in mscorlib here. Is that correct?

[2016-11-11 20:09] mellinoe commented on #9958
@jyoungyun Were you still planning on adding this filtering feature? I believe we aren't using `run-test.sh` anywhere in our main test runs.

[2016-11-11 20:20] karelz commented on #13526
@Structed that explains it, thanks!

[2016-11-11 20:30] jamesqo opened #13598 "Running `sync -p` on a clean machine installs DNVM & adds it to PATH?"
I accidentally corrupted my laptop two days ago, and was forced to do a clean install of Windows and re-clone corefx. When I ran `sync -p` for the first time on a fresh clone of the repo, here is the output I got:

[code]

And indeed, when I check my home directory there appears to be a newly created `.dnx` directory, which contains dnvm under a subfolder: http://imgur.com/a/LrmZt

Since dnx was d

[2016-11-11 20:32] mellinoe commented on #8899
I'm fixing this. It looks like two files have the wrong casing:

https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Cng/src/ApiCompatBaseLine.net463.txt

https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/ApiCompatBaseLine.net463.txt

Base**Line**.txt vs. Baseline.txt

[2016-11-11 20:32] MichalStrehovsky commented on #6942
This is about API consistency. The rest of the APIs in S.R.Metadata tries hard to avoid allocations (which is why we chose to use it in the CoreRT compiler) and this one doesn't even try.

If it's not fixed, we might end up just not using S.R.Metadata's parser in CoreRT and roll our own. It's not rocket science and other people can do it too. It's a question of whether S.R.Metadata wants to be a o

[2016-11-11 20:33] mellinoe commented on #10567
I made a recent change that auto-detects a test RID for all platforms. If the perf tests inherit that behavior, then this issue should be fixed. But, I'm not sure how they work. Is this still a problem? @Clockwork-Muse , @brianrob , @dsgouda

[2016-11-11 20:39] mellinoe commented on #10600
@karajas Are you still looking at this, and do we have a plan going forward or do we need more input on possible options?

[2016-11-11 20:41] danmosemsft commented on #13474
Hit again with MoveFileOver and RemoveStoreWithContent tests

[2016-11-11 20:45] jamesqo commented on #8034
@redknightlois, sounds reasonable. I updated the proposal to include `long` overloads of `Combine`.

[2016-11-11 20:59] danmosemsft commented on #13474
This needs running in a loop locally with ProcMon running.

[2016-11-11 21:00] mellinoe opened #13599 ""windows.winmd" is lower-case in our Microsoft.TargetingPack.Private.WinRT package"
Related: #8899

ApiCompat is unable to resolve references to the "Windows" assembly, because the binary in our targeting pack is lower-case. Since we created this targeting pack, we could just rename the file in it and publish a new version. In the meantime, I'm going to disable ApiCompat on the projects affected.

[2016-11-11 21:01] mellinoe commented on #10856
@chcosta Any update on this one?

[2016-11-11 21:01] redknightlois commented on #2209
Probably this issue should be moved to CoreCLR.

[2016-11-11 21:03] mellinoe commented on #12461
Done

[2016-11-11 21:03] #12461 closed

[2016-11-11 21:04] CIPop commented on #3501
@mellinoe I just opened the issue observing that these tools were missing but I am not aware of any changes that have been made since.
@steveharter might be able to answer your question.

I've converted this into a checkbox issue to better track progress.

[2016-11-11 21:04] mellinoe commented on #12450
@ericstj Could you update this with more details? The linked commit got wiped out at some point.

[2016-11-11 21:07] mellinoe commented on #12545
@wateret Has this issue been addressed by #13543?

[2016-11-11 21:07] CIPop commented on #7597
I'm working with the Bash on Ubuntu team offline. I was able to run build + inner on the 14967 insider build but saw some of the tests failing intermittently.
I will shortly have a few changes to the docs since they seem to point to the wrong prerequisite lib.

[2016-11-11 21:08] ericstj commented on #12450
This one: https://github.com/dotnet/corefx/pull/12376/commits/8bee74ced4c22992824d671305c228bef94b497e

Though it might be moot.  I think the SNI packages are staying 4.3.0 so long as they are building from TFS.

[2016-11-11 21:10] mellinoe commented on #12758
@ellismg Was this fixed by https://github.com/dotnet/buildtools/issues/1150? We should be consuming that here in corefx at this point.

[2016-11-11 21:10] danmosemsft commented on #11132
I'll do this as it's quick

[2016-11-11 21:11] ellismg commented on #12758
Yes, it was.

[2016-11-11 21:11] #12758 closed

[2016-11-11 21:15] mellinoe commented on #13416
@danmosemsft Are you guys still seeing this in the helix runs or was this a sort of one-off thing?

[2016-11-11 21:19] mellinoe commented on #13550
Not necessarily. Nuget queries all of the package sources for packages, and that one shouldn't be contained on the buildtools feed, as far as I can tell.

My initial guess is that you may be behind some firewall or proxy that is not playing nicely with myget or some other part of our build.

[2016-11-11 21:19] CIPop commented on #8369
Trying now with a fresh install of Win7 and without installing MSBuild 12.
(Note for others: Win7 needs to be up-to-date before installing VS Community, otherwise the VS setup will hang.)

[2016-11-11 21:28] jamesqo opened #13601 "Strong name validation is failing for certain analyzer assemblies with a fresh build."
I re-cloned corefx on a clean install of Windows, ran `sync -p`, and then ran `msbuild /t:RebuildAndTest` for the System.Linq tests. That resulted in an error message from MSBuild saying that csc couldn't verify certain analyzer assemblies: [here](https://gist.github.com/jamesqo/f07b669ee436367c46baa594760a0c67) is the log. The output when I also pass in `/v:detailed` can be found [here](https://g

[2016-11-11 21:28] karelz commented on #2209
Issues affecting public API surface should be tracked also in CoreFX, see [coreclr docs](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing.md#contributing-to-mscorlib-library]

[2016-11-11 21:31] svick opened #13602 "System.Data.SqlClient.sln contains stresstest project that does not exist"
[System.Data.SqlClient.sln contains a project named stresstest, which does not exist.](https://github.com/dotnet/corefx/blob/768e18c/src/System.Data.SqlClient/System.Data.SqlClient.sln#L13) This causes an error loading the project when opening the solution in VS and also causes running `msbuild` on the solution to fail.

Instead of the single project, [the `tests/StressTests` directory](https://gi

[2016-11-11 21:38] karelz commented on #13592
@joperezr please file 2 issues - only 1 area path per issue is strongly encouraged.

[2016-11-11 21:39] svick commented on #8960
@mellinoe It still reproes to me on the current master 768e18c (after I remove the `stresstest` project that does not exist https://github.com/dotnet/corefx/issues/13602):

[code]

[code]

[2016-11-11 21:40] ItayGal2 commented on #984
I'm working with mono's serial port on Raspbian and it works fine. tried it
on mono v3 and v4

On Fri, Nov 11, 2016 at 7:57 PM, Nathan Allan <notifications@github.com>
wrote:

[2016-11-11 21:45] ellismg commented on #13598
Probably due to the logic in VsDevCmd.bat which our scripts run (this is part of Visual Studio and sets up a "developer command prompt")

That script has this logic (on my machine, anyway):

[code]

[2016-11-11 21:47] mellinoe commented on #8960
Ah, I see. Building solution files isn't really something we've ever tested for or supported. They are essentially only there so that you can get Intellisense in Visual Studio, and outside of that they have many issues that we don't really try to fix. Including staying in sync with the actual project files, as you've noticed. I'm not familiar with "why", but it looks like running MSBuild on soluti

[2016-11-11 21:48] ellismg commented on #13598
I'm not really sure what we'll be able to do about, FWIW.

[2016-11-11 21:49] mellinoe commented on #13602
Unfortunately, I expect that a lot of our solution files are out of sync. We need a tool that automatically re-generates them, or something of that sort. It's just a matter of spending the time to go and write that thing versus hacking up fixes to individual sln's as we go along.

[2016-11-11 21:51] danmosemsft commented on #13416
I've asked @jiangzeng to close this if he doesn't see it repro for a couple of builds.

[2016-11-11 21:52] mellinoe commented on #13598
Yeah, this is just part of the VS "developer command prompt" script. We don't actually use any of that stuff.

[2016-11-11 21:52] saurabh500 commented on #13602
The StressTests folder projects are not building because of https://github.com/dotnet/corefx/pull/12345

@karajas I understand that you have consolidated all deps of tests in single project.json

I think that to build the projects under the stresstests folder, I will have to have their independent project.json along with the csproj files.

Can you revert the changes for the projects in StressTests

[2016-11-11 21:54] danmosemsft commented on #984
I would suggest the approach proposed by @stephentoub above

This way you get progressive value.

[2016-11-11 21:56] clrjunkie commented on #5296
@karelz I suggest you rename this issue or reference it in a newly created it issue (or an existing applicable issue) rather than simply closing it, since the fundamental problem for which the suggestion was modified remains  – System.Data did not undergo stress test, which is important enough to be considered as an open issue.

[2016-11-11 22:01] alexperovich commented on #13583
Simply porting the enum `System.Drawing.StringAlignment` is easy. Its an enumeration with 3 members.

That being said I don't think this is worth doing unless we port features in `System.Drawing` that use this enum.
@weshaggard thoughts?

[2016-11-11 22:05] stephentoub commented on #13593
Dup of https://github.com/dotnet/corefx/issues/12228?

[2016-11-11 22:20] jamesqo commented on #13598
Ah, I see. So the issue is coming from Visual Studio, rather than corefx. Bummer, hopefully it'll be fixed in the next major VS release.

[2016-11-11 22:20] #13598 closed

[2016-11-11 22:30] svick opened #13604 "Validate_ConversionOverflows_ThrowsOverflowException fails on cs-CZ culture"
When running the tests for `System.ComponentModel.Annotations` on a machine with the cs-CZ culture (which uses `,` as the decimal separator), the `Validate_ConversionOverflows_ThrowsOverflowException` test fails:

[code]

[2016-11-11 22:33] alexperovich commented on #13586
@SunnyWar async/await doesn't have to be multithreaded, but if the SynchronizationContext that the Task is running on provides multiple threads (like the thread pool, which is used by default) then the async/await execution will be multithreaded.

@svick's solution is the correct one. If you need a sequence of async/await to be single threaded you must use a single threaded SynchronizationContext.

[2016-11-11 22:56] zhenlan opened #13606 "Support "duration" in XmlSerializer"
Updated by @karelz (info from @shmao):
The change needs to be ported from full .NET Framework (the bug fix there is in progress now).
.NET Core change needs to address compat between Timespan and duration (might be tricky).

[2016-11-11 22:59] tarekgh commented on #13604
This is Component model tests issue and not Globalization issue.

[2016-11-11 23:00] Priya91 opened #13607 "HttpListener contract requires access to internal APIs from Cookie."
[code]
The code is using reflection to get to these values short time, we need alternate solution.

[2016-11-11 23:01] Priya91 commented on #13607
cc @CIPop

[2016-11-11 23:19] gencebay commented on #6701
Or you can use it like that:
`dynamic proxy = DispatchProxy.Create<TApi, MyCustomDispatchProxy>();`
`var context = new ProxyContext(typeof(TApi));`
`proxy.Initialize(context);`
and so on
` public MyCustomDispatchProxy() {
     public Initialize(ProxyContext contex) { // code }
 }`

[2016-11-11 23:28] gencebay opened #13609 "Can DispatchProxy provide Task<object> InvokeAsync abstract method!"
Currently using it as HttpDispatchProxy and consuming APIs via API Contracts - Interfaces with HttpClient. As you know HttpClient provides async methods to reduce IO bound operation (async / await) as well but I could not found a proper way to call httpClient.SendAsync method from DispatchProxy implemented Invoke method.

[2016-11-11 23:52] shmao commented on #13606
Adding the link to the fix for serialization of Timespan. https://github.com/dotnet/corefx/pull/4554

[2016-11-11 23:53] NickCraver commented on #2089
What can we do to argue this should be in? The inability to use the most common authentication scheme in Microsoft applications is a bit of a blocker, no? Is the focus on Azure here and AAD instead? Or is the blocker that porting this across platfoms is a larger unknown of protocols?

What can we do to increase the priority here? 2.0 is a long way away, and that's really unfortunate if _everything

[2016-11-11 23:56] clrjunkie opened #13610 "Reconsider port to core approach for System.Net.HttpListener"
See discussion below at:

System.Net.HttpListener #13502

[2016-11-12 00:01] mellinoe commented on #3140
Yes I spoke too soon 😄 . We'd definitely need a lot of work to enable it globally. Perhaps it's smarter to start with a few valuable projects and see how much work it is.

[2016-11-12 00:03] shmao commented on #13375
We agreed not going to make XmlBaseWriter to implement this interface. We will do that when it's needed.

@huanwu , Can you please delete the related tests for this?

[2016-11-12 00:07] #13604 closed

[2016-11-12 00:12] mellinoe commented on #13601
@alexperovich  Ever seen this?

[2016-11-12 00:16] danmosemsft commented on #12364
Taking this as it's quick.

[2016-11-12 00:26] danmosemsft commented on #12366
Taking this as it's quick

[2016-11-12 00:26] brianrob commented on #10567
@DrewScoggins, can you confirm?

[2016-11-12 00:34] qmfrederik commented on #984
@mobidev111 I consider the .NET Core port of LibUsbDotNet stable - we use it in production accross Windows, macOS & Linux.

Note that this is about USB devices and not the traditional ports. That said, if there is a plan to add USB support to .NET core, it's definitively worth considering libusb - it's essentially a PAL with Win, macOS & Linux implementations.

It's LGPL licensed, not sure wheter

[2016-11-12 00:37] MichaCo opened #13613 "DNS client and custom DNS queries"
Hi,
I was looking for this for some time now and it seems either the feature is hiding pretty well or is missing.

System.Net has basic name resolution and network information now. But what about a DNS client which can query any kind of DNS server?

I'm currently trying to implement services with the new aspnet core stack. One common scenario with Microservices is service discovery. And one common

[2016-11-12 01:28] NickCraver commented on #13526
I talked with @yishaigalatzer and @rrelyea at the summit a little about this. I'm not sure they're confident NuGet can use a SemanticVersion in the BCL and I'm not sure either - but let's find out!

Starting with NuGet's current implementation (linked in the issue), here's a first pass at what `System.SemanticVersion` could look like. The changes are including `Version` comparison operators and co

[2016-11-12 01:56] weshaggard commented on #2089
I don't think there is any disagreement that we want to support this in .NET Core, which is different then being part of .NET Standard, it is just a matter of when. @tquerec owns the area and would be the one to speak to that.

[2016-11-12 02:05] #13483 closed

[2016-11-12 02:07] Priya91 opened #13618 "[HttpListener] Add more test coverage for System.Net.HttpListener."

[2016-11-12 02:30] jnm2 opened #13619 "Full framework test csproj referencing netstandard csproj using HttpClient fails at runtime"
I have a net461 test project that uses a netstandard 1.3 csproj. The netstandard project uses HttpClient.

When I run the tests, some with HTTP gets and some with HTTPS, they fail with this:

[code]

What can I do about this? There are no warnings or other hints to point me in any direction, and Google searches have left me more confused than ever.

Windows 10 x64 AU
Microsoft Visual Studio Profes

[2016-11-12 02:35] jcolebrand commented on #13526
So anything that doesn't match the original Version is now a release-label?

Can't we establish some commonalities around that? alpha, beta, pre, etc. By providing a text enum we start to solidify common business practices and get people on the same stage. You can still have populated release labels but how often are those strings _plural_?

If you have `Version 1.0.9-1pre1` what does that parse i

[2016-11-12 03:17] PureKrome commented on #1624
@jnm2 - Out of interest, why do you think an `IHttpClient` is the wrong abstraction level to be mocking?

I'm not hating or trolling - honest Q.

(Like to learn, etc).

[2016-11-12 03:42] justinvp commented on #13526
1. What are the scenarios for subclassing `SemanticVersion`? Why not make it `sealed` like `Version` and be fully immutable like `Version`?

1. Consider a strongly-typed `Clone()` method that returns `SemanticVersion` instead of having a copy constructor. `SemanticVersion` could also implement `ICloneable` explicitly (privately) with it's `ICloneable.Clone()` implementation returning the result of

[2016-11-12 04:08] eliezedeck commented on #13586
@svick Thanks. All async operations don't have to be awaited, like the `async void` which returns no Task but will do async work eventually. At times, you explicitly want this, and that is a requirement.

Consider this situation: I do a lot of network async operations, I need a deadline to a group of operations. I obviously need to spin at least one Task.Delay() before all operations begin, which

[2016-11-12 04:39] Clockwork-Muse commented on #13568
TL;DR - the multiplication operation isn't considered for tail-call optimizations.  I'm not sure what to do on that end, or if anything should be done, given it's a heavy operation.

<br />

Yeah, looks like there's no problem in `BigInteger`, it handles that multiplication just fine.  You're not even going to be touching the recursive algorithms there, it's going to be a simple loop.  The problem

[2016-11-12 05:05] dasjestyr commented on #1624
I was gonna ask the same thing considering its pretty much a perfect level of abstraction seeing as it is a client.

[2016-11-12 05:42] Clockwork-Muse commented on #13586
@eliezedeck - wouldn't it be cleaner to do something like:
[code]
(there are potential problems with the above code, but you get what I mean)

My gut feeling is that if you're dealing with async code and expecting only one thread, or adding explicit delays to try and match things up, you may be able to change how you structured your code to take better advantage of things.

[2016-11-12 05:59] jamesqo commented on #6695
Updated the proposal to remove the `ArraySegment` overload, which doesn't seem too in line with the other overloads of `Array`.

[2016-11-12 06:04] kendrahavens commented on #2315
@alexperovich Well, our whole graphics discussion was torn between designing something new and amazing, but that can also support the legacy type. We decided to start supporting the legacy type first and if designs came up for new and amazing things we could think about them later.

[2016-11-12 07:50] roji commented on #8954
@karelz and @YoungGah, in the absence of a standard API for this I implemented an Npgsql-specific one, here are some details which may help shaping things.

Npgsql includes an NpgsqlStatement command which identifies a single statement within a batch. NpgsqlCommand exposes a `Statements` property which is an `IReadOnlyList` of these. NpgsqlStatement exposes a `Rows` property which provides the row

[2016-11-12 07:57] roji commented on #8955
On the read side of things, there's `DbDataReader.GetFieldValue<T>()` allowing users to generically read values. This allows ADO.NET providers to provide an implementation that doesn't box value types - users can read ints without needless heap allocations.

Unfortunately nothing like this exists on the write side - DbParameter has a object `Value` property, so writing ints via ADO.NET necessarily

[2016-11-12 07:59] roji commented on #13544
Note the substantial previous discussion in #5024 which should be taken into account. The existing weakly-typed DataTable-based API can definitely serve as a starting point, but this is definitely the opportunity to clearly separate common metadata from SQL Server-centric metadata etc.

[2016-11-12 11:46] #13602 closed

[2016-11-12 13:57] jnm2 commented on #1624
It's not an absolute. If you're building a web browser, then I could see how it's 1:1 between what your app needs and what HttpClient abstracts. But if you're using HttpClient to talk to an API of some sort- anything with more specific expectations on top of HTTP, you're only going to need a fraction of what HttpClient can do. If you build a service which encapsulates the HttpClient transport mech

[2016-11-12 15:13] jnm2 commented on #13526
I agree that this is a BCL must-have.
If it's interesting, here's the full spec implementation and tests I've been using for a good while: https://gist.github.com/jnm2/44be513fc69a705172de134bd1448a21

[2016-11-12 15:16] jnm2 commented on #13526
I agree that this is a BCL must-have. I am a huge proponent of minimalism as long as people's needs aren't blocked.

If it's interesting, here's the full spec implementation and tests I've been using for a good while: https://gist.github.com/jnm2/44be513fc69a705172de134bd1448a21

[2016-11-12 15:18] lasseschou commented on #1624
The point here is that the HttpClient is such a great advancement over
WebClient, XMLHttpRequest, that it was become the preferred way to do HTTP
calls. It's clean and modern. I always use mockable adapters that talk
directly to the HttpClient, so testing my code is easy. But I'd like to
test those adapter classes as well. And that's when I discover: there's no
IHttpClient. Perhaps you're right, i

[2016-11-12 16:46] karelz commented on #13544
@roji do you plan to create the proposal?

[2016-11-12 16:49] karelz commented on #8955
@saurabh500 @YoungGah is it sufficient info for you? Or do you need more details?
If we have enough of direction and you agree with it, please remove the "needs more info" and add "up for grabs" label.

[2016-11-12 16:53] davidsh commented on #4887
Yes. And in particular it would be good to be able to have various Windows 10 images with RTM versus other versions of Windows 10, i.e. Windows 10 RTM (build 10240) vs. TH2 (build 10586) vs. RS1 (build 14393) etc. This will enable us to do positive testing of expected features/behaviors from each release.

[2016-11-12 17:00] eliezedeck commented on #13586
I guess I gave a pretty naive example. And I have to admit, this is really the very first .Net project that I'm working on, and I find the language pretty cool.

@Clockwork-Muse May be I'm not yet a very good C# developer. But my usecase involves a lot of values being modified at each end of the await(s), and since they are not known at the beginning of the program, I don't think I can make use of

[2016-11-12 17:49] aviviadi commented on #13550
i.e. this one : https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-buildtools/nuget/v3/flatcontainer/system.threading.threadpool/index.json

also from home network without firewall gives:
<Error>
<Code>BlobNotFound</Code>
<Message>
The specified blob does not exist. RequestId:026f6e5a-0001-0135-710d-3d8e85000000 Time:2016-11-12T17:48:39.2204867Z
</Message>
</Error>

Obviously the specific

[2016-11-12 18:25] stephentoub opened #13622 "Creating a Uri also allocates a string and a char[]"
Constructing a Uri has a couple of allocations should that should be easily avoidable, at least in common cases.

Here's a profile of an app that just does this a thousand times: ```new Uri("http://test.com")```:
![image](https://cloud.githubusercontent.com/assets/2642209/20239952/96b6b7bc-a8da-11e6-8b98-45fed7685072.png)

As can be seen, in addition to the 1000 Uri allocations, there are also 100

[2016-11-12 18:40] roji commented on #13544
Well, @saurabh500 made a good start in #5024, it's worth pursuing that with the community. I'm not going to have the time to lead the discussion, although I'd be happy to review/contribute.

[2016-11-12 18:51] karelz commented on #13610
@clrjunkie I don't quite understand what you want to reconsider / propose.

As @stephentoub said, HttpListener is compatibility only API to make easier transition of full .NET Framework code to .NET Core. Nothing more. There are no plans to evolve it in any way. We will likely reject any API improvements on this class, we may accept some super-safe, easy-to-review and easy-to-reason-about bug fixe

[2016-11-12 18:52] karelz commented on #13613
cc: @davidsh @CIPop

[2016-11-12 18:55] karelz commented on #13619
Looks similar to #13409 - I think you need new NuGet.
cc: @ericstj

[2016-11-12 19:07] jnm2 commented on #13619
If that's the case, we seriously need a system that gives package restore errors if you're on an unsupported version of NuGet.

[2016-11-12 19:12] jnm2 commented on #13619
I installed the NuGet 3.5 vsix and restarted VS, restored packages, and ran tests. Same result.

[2016-11-12 19:26] karelz commented on #5296
@clrjunkie I don't think this issue is well structured for the rename to make sense at this moment.

Also I believe we mix up things here: "Data did not undergo stress test" vs. "Add stress test infra for Data" are two different things.
IMO the former makes sense to track only if it means such infra/test bed exists, it is tracking an activity, not code deficiency. BTW: For context, we do have some

[2016-11-12 19:28] clrjunkie commented on #13610
@karelz I’m not talking about C# interfaces I’m talking about “Interfaces” as in *API*.

Instead of investing time in refactoring and testing Full .NET FW HttpListener codeI urge you to strongly consider to program an adapter class named “HttpListener” having the same *API* (e.g interface) as in the full .NET FW in order to convert from HttpListener API to “Kestrel” API

The fact that “kestrel” is

[2016-11-12 19:29] MichalStrehovsky opened #13624 "HandleCollections should have an indexer"
I have a use case where I need to index into methods and fields on a `TypeDefinition`. `FieldDefinitionHandleCollection` and `MethodDefinitionHandleCollection` don't have an indexer, so the only option seems to be to get an enumerator and call `GetNext()` method *N* times to get *N*th member.

`GenericParameterHandleCollection` or `GenericParameterConstraintHandleCollection` already have an indexe

[2016-11-12 19:29] MichalStrehovsky commented on #13624
Cc @tmat @nguerrera

[2016-11-12 19:31] karelz commented on #11220
@JeremyKuhne what else do we need to move this API approval forward? @khellang has implementation ready, waiting just on us ...

[2016-11-12 20:05] karelz commented on #13610
That makes much more sense.

Did you consider the fact that such approach is much more costly and most likely will never be highly compatible? Which is actually the primary goal of HttpListener (customers' code just works).
If you know how to implement it in highly compatible way, we will be more than happy to take your contribution ...
We didn't believe it would be a successful path compatibility

[2016-11-12 20:25] h3smith commented on #2089
Someone from .NET Foundation asked, but the namespaces we are using specifically are:
System.DirectoryServices, System.DirectoryServices.Protocols, System.DirectoryServices.AccountManagement

[2016-11-12 20:36] clrjunkie commented on #13610
HttpListener in the full .NET FW – on Windows – is simply an OO abstraction over the Win32 Http API

I have no idea how or if it was implemented by Mono/Xarmin but there is no equivalent Http API on linux (which was why kestrel was developed in the first place) so given your assessment I’m assuming Mono/Xarmin implemented HttpListener over sockets which would make the port even worse since now you

[2016-11-12 21:00] tmat commented on #13624
It's by design. The APIs in System.Reflection.Metadata do not make an assumption that it is possible to efficiently index into member lists. You can use MetadataTokens.FieldDefinitionHandle(int rowNumber) from Ecma335 namespace to get a handle fro ma row number.

[2016-11-12 21:11] jamesqo opened #13626 "RebuildAndTest sometimes does not run the xUnit tests."
Sometimes, running `msbuild /t:RebuildAndTest` for a particular project will not actually test the project. I've noticed this a couple of times over the past few months, but I'm not quite sure what causes it. I just got some sample output from MSBuild with this happening, though, so I thought it might help to open an issue here. The output can be viewed [here](https://gist.github.com/jamesqo/22d9c

[2016-11-12 21:12] jamesqo commented on #13626
This is what the detailed log says about the RunTestsForProject target:

[code]

[2016-11-12 21:28] MichalStrehovsky commented on #13624
If the concern is portability to other formats (such as the .NET Native metadata format), we already have a problem there for `GenericParameterHandleCollection` and `GenericParameterConstraintHandleCollection` that do expose the indexer and there's no way to efficiently implement it in the .NET Native format.

If this is going to be resolved by design, is there a way to get to the row numbers rang

[2016-11-12 21:31] clrjunkie commented on #13610
#13187

[2016-11-12 21:55] NickCraver commented on #13526
@jcolebrand SemanticVersion is not constrained to those things, so this has to be more flexible per the rules at http://semver.org/ to be generally useful.

I don't disagree...but that's that look like, in API form? Pitch out some ideas?

@justinvp Responses:

NuGet does additional comparisons in `NuGetVersion`, you can [find it here](https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/N

[2016-11-12 21:56] tmat commented on #13624
Parameters and generic parameters have semantic sequence number no matter what the encoding in metadata is. Members do not. A token/row number for members is an implementation detail.

Could you explain your scenario in more detail? What are you trying to achieve?

[2016-11-12 21:59] stephentoub commented on #13610
@clrjunkie, HttpListener is not an implementation or API surface area we plan to invest in for the future.  We recommend that kestrel and the technologies the ASP.NET folks are heavily investing in be used for that.  They have no plans to layer those technologies on top of HttpListener, nor do they have plans to expose the exact HttpListener surface area; if you have questions or concerns about wh

[2016-11-12 22:06] onovotny commented on #13526
@NickCraver The `public SemanticVersion Clone()` method would need to be `virtual` based on the current pattern.

[2016-11-12 22:08] MichalStrehovsky commented on #13624
This is for the CoreRT type system. We have [a method](https://github.com/dotnet/corert/blob/77d17f08abfe27d43760b2321376a99fdb5a00fb/src/Common/src/TypeSystem/Ecma/EcmaType.cs#L358-L365) on the object representing a type that enumerates the type system objects representing fields. The current implementation is horribly inefficient and I'm trying to see if I can make it work with a struct enumerat

[2016-11-12 22:09] onovotny commented on #13526
I think the `ReleaseLabels` needs a way to be set from a derived class as well. Not sure if it should just be an `IList<string>` or be virtual?

[2016-11-12 22:14] clrjunkie commented on #13610
@stephentoub

Even so AFAIK kestrel doesn't expose a public API or should I say an API for the public so what exactly is the migration path for server applications built on the HttpListener API?

[2016-11-12 22:17] tmat commented on #13624
Why not use FieldDefinitionHandle for such a cookie?

[2016-11-12 22:22] tmat commented on #13624
Why not have an immutable array of MethodDescs on the type and just return it? It can be initialized lazily. That's how Roslyn does it.

[2016-11-12 22:33] yishaigalatzer commented on #13526
Please don't ever seal, that's just an unnecessary constraint.

Version ranges do not belong in dotnet core, they are a nuget feature that we plan to keep expanding. Either all of these go to a package from nuget we can keep revving without being tied to dotnet releases as we add new features or stick with just version.

Metadata should not be part of the comparison nor should imho the enum be the

[2016-11-12 22:35] stephentoub commented on #13610
Server applications built on HttpListener are running today on either the .NET Framework on Windows or on Mono.  In either case, the HttpListener-based portions of those applications should continue to "just work" at the same level of reliability and performance as they do today, because the HttpListener implementation will essentially be the same as it is in the .NET Framework on Windows or on Mo

[2016-11-12 22:36] MichalStrehovsky commented on #13624
Those come with a different set of tradeoffs. A change to struct enumerators is a net improvement. But allocating a cached immutable array impacts working set.

I would keep that as a plan B if switching to struct iterators still didn't have good enough performance characteristics. The CoreRT type system doesn't cache much to keep the footprint minimal. We might have to tweak that policy, but at t

[2016-11-12 22:37] tmat commented on #13624
You don't cache the allocated MethodDescs?

[2016-11-12 22:38] MichalStrehovsky commented on #13624
Those are cached. Not caching those would be a waste.

[2016-11-12 22:40] tmat commented on #13624
If they are already cached are you worried about the additional overhead of the array itself? That's 4B per member. If that's a problem, perhaps the array can be a Slice into an array of the members used by the cache, or something like that.

[2016-11-12 22:50] MichalStrehovsky commented on #13624
Yes, my concern was about the extra arrays (one for fields, one for methods), plus two extra pointers in the class representing a type.

Our cache is currently a dictionary from token to the MethodDesc. I guess I could look into overhauling that to have a way to get a contiguous region of memory, but a way to index into metadata would still be less invasive :).

[2016-11-12 23:05] clrjunkie commented on #13610
@stephentoub Sorry, that neither answers my question or addresses kestrel current state.
If I have existing server application(s) written against HttpListener API and your telling to rewrite against some new technology because otherwise it would cost you a fortune to develop a compatibility layer, then you should make sure it doesn't cost a fortune for me..

Plain and simple: What is the alternati

[2016-11-12 23:06] tmat commented on #13624
It doesn't need to be 2 arrays. You can have just one storing all members. Fields can be stored first and then methods, or something like that.
BTW, looking into EcmaType, why is _typeDefinition needed? It can be retrieved given a reader and a handle.

[2016-11-12 23:16] tmat commented on #13624
Retrieving TypeDefinition is cheap unless WinRT projections are involved. If you don't have projections enabled it's basically a no-op.

[2016-11-12 23:19] tmat commented on #13624
Another savings could be achieved by using UTF8 string for the names. The reader has now API to get a pointer to the UTF8 String stream for given StringHandle.

[2016-11-12 23:37] stephentoub commented on #13610
@clrjunkie, I am genuinely confused about how my response didn't answer your question.

Scenario:
You have an app that runs on the .NET Framework today on Windows that uses HttpListener.  You want to migrate your app to work on .NET Core on Windows and have it run the same as it does on .NET Framework on Windows.  It works.

Scenario:
You have an app that runs on Mono today on Unix that uses HttpL

[2016-11-13 00:03] clrjunkie commented on #13610
@stephentoub

How?? There is no low level HTTP public API in the stack where effort is being invested which is equivalent to HttpListener’s API but rather all sorts of abstractions like middlewares, filters and what not...I don't want to bring these into my code! (But I do want the perf investments and protocol maintenance from kestrel - thats why I told you should program an adapter class - can’t

[2016-11-13 00:14] stephentoub commented on #13610
I've already stated multiple times multiple reasons why we're not planning to rewrite the HttpListener implementation in corefx on top of kestrel (besides the fact that many of the perf improvements now and in the future come from API-level differences), e.g. compatibility, layering, etc.  An adapter that provides that HttpListener surface area on top of kestrel would be a fine thing for you or so

[2016-11-13 07:36] fitzchak commented on #12615
@saurabh500 I understand this very much.
In our use case ObjectIDGenerator won't help much as it isn't thread safe.
But we will use ConditionalWeakTable.

Note that I do think that a public ID should be exposed here as we show this connection in all the commends and other traces related to the connection (as the transactions) but there is no a build it way to identify the connection. Think about l

[2016-11-13 08:43] aviviadi commented on #13550
ok. I found the missing packages in dotnet-core feed.  I will add this feed to the build script locally.  Thanks @mellinoe

[2016-11-13 10:26] matekm commented on #1378
@Priya91 thanks, that helped me move forward. but now I have a ApiCompat errors:

[code]
any hints?

I compared my changes with a commit that introduced netcoreapp1.1 API (HashSet constructors and Queue methods) and I can't see any missing bits.

[2016-11-13 13:22] vcsjones commented on #13526
One issue with the equality operators is this scenario:

[code]

I'm not a big fan of having equality operators having left and right be in a specific order, by type.

This can be solved in a few ways.

1. Implement the same operators on `Version`.
2. Implement the operators on `SemanticVersion` with `left` and `right` on both sides, e.g.:

[code]
3. Decide it is not a problem that needs to be sol

[2016-11-13 13:51] NickCraver commented on #13526
@yishaigalatzer Good thoughts, much appreciated.

I agree on ranges (and didn't include them). If they are *only* NuGet specific then yes, we should leave them out and hopefully leave this extensible where NuGet can use the base `SemanticVersion`, if that can be reasonably done. I'm not sure I follow on the second half. Many more people than NuGet have a need for `SemanticVersion` (hence this prop

[2016-11-13 14:27] stebet commented on #13526
Would an optional bool parameter in the `CompareTo` function make sense to give people the option to decide if they want the Pre-release component to affect comparisons? Would it make sense to able to define when it should affect ordering (after Major/Minor/Patch?).

For example:
Should `1.0.1-dev` be considered a higher version that `1.0.0` by default? I'd say yes, and the spec does as well, but

[2016-11-13 15:21] vcsjones commented on #13526
@NickCraver

That seems the best way to go. The more I think on it, the more I dislike the idea of `Version` knowing anything about `SemanticVersion`. I would then suggest that the following be added to the proposal:

[code]

[2016-11-13 18:11] svick commented on #13586
@eliezedeck

There are .Net Core versions of AsyncEx types. For `AsyncContext`, it's in [AsyncEx.Context](https://github.com/StephenCleary/AsyncEx.Context).

And `Task.Delay()` certainly does not use a sleeping thread, instead it uses a timer. (You can verify that by looking at [the source code](https://github.com/dotnet/coreclr/blob/19346e5/src/mscorlib/src/System/Threading/Tasks/Task.cs#L5881).)

[2016-11-13 19:07] JonHanna opened #13630 "ExpandoObject key and value collections are too agressive with version checking."
Consider:
[code]
However if `dict` is set to `= new ExpandoObject();` then the three commented lines error. The collection versioning used to throw on continuing an enumeration after modification is blocking these calls too.

The same is also true of the `Values` collection.

[2016-11-14 00:47] JonHanna opened #13633 "Range check incorrectly located in ExpandoObject"
The sequence:
[code]
Means that potentially the range-check could pass, then a change which invalidates it take place before the lock is obtained.

[2016-11-14 01:13] tango-charly opened #13635 "Dependency injector doesn't resolve my repository (Debian and SqlLite)"
Hi !

I got a probleme with Net.Core 1.1 dependency injector.

In my project (under Debian) i got a simple architecture:

I have a Generic Base Controller

BaseController.cs
[code]

And One Controller (the method Get() is the one called when error occurred)

ThemeController.cs
[code]
I use SqlLite and i defined my context like this :

ApiContext.cs
[code]
And finally my Startup.cs
[code]
My Reposi

[2016-11-14 01:52] dotnet-mc-bot opened #13636 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_UnsupportedSSLVersion_Throws(name: \"SSLv3\", url: \"https://www.ssllabs.com:10300/\")"
Opened on behalf of @jiangzeng

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_UnsupportedSSLVersion_Throws(name: \"SSLv3\", url: \"https://www.ssllabs.com:10300/\")` has failed.

Assert.Throws() Failure
    Expected: typeof(System.Net.Http.HttpRequestException)
    Actual:   (No exception was thrown)

        Stack Trace:

        --- End of stack trace fr

[2016-11-14 02:04] dotnet-mc-bot opened #13637 "Test failure: System.Net.Security.Tests.SslStreamSystemDefaultTest/SslStream_DefaultTlsConfigurationApm_Ok"
Opened on behalf of @jiangzeng

The test `System.Net.Security.Tests.SslStreamSystemDefaultTest/SslStream_DefaultTlsConfigurationApm_Ok` has failed.

System.Security.Authentication.AuthenticationException : The remote certificate is invalid according to the validation procedure.

        Stack Trace:

           at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
       at System.Net.

[2016-11-14 03:09] davidfowl commented on #13635
This should be moved to github.com/aspnet/Home

[2016-11-14 04:55] AlexRadch opened #13639 "Fast append or insert StringBuilder into other StringBuilder"
Hello,
I think for fast strings processing, StringBuilder should have fast methods to append and insert other StringBuilder.

Now when I gather string from many parts, I gather each part into separated StrindBuilder (for example in different threads for speed) and then when I gather all parts to one StringBuilder, the standard library made many copy operations to convert each StringBuilder to stri

[2016-11-14 07:05] capiono commented on #13504
the .exe is ran in a command prompt, it throws this exception:
`Unhandled Exception: System.TypeInitializationException: The type initializer fo
r 'System.Diagnostics.DiagnosticSourceEventSource' threw an exception. ---> Syst
em.MissingMethodException: Method not found: 'Void System.Diagnostics.Tracing.Ev
entSource..ctor(System.Diagnostics.Tracing.EventSourceSettings)'.
   at System.Diagnostics.Di

[2016-11-14 07:08] hseok-oh opened #13640 "[ARM/Linux] Error during cross building for arm32"
Build environment: x64 Ubuntu 14.04
Build target: arm32
commit: ece35f9
Build option: release, skiptests, enable outloop

error log in msbuild.log

[code]

I've get error, but can use build results in corefx/bin directory.

[2016-11-14 07:21] t-sch commented on #13583
We are using this enum in our code to control similar things as System.Drawing but we didn't want to reinvent the wheel. Now we are porting portions of our code and wouldn't want to create a proprietary copy...

[2016-11-14 08:09] ststeiger commented on #3634
While SkiaSharp is work in progress, see
https://github.com/zkweb-framework/ZKWeb.System.Drawing
or
https://github.com/sherif-elmetainy/DotnetGD/tree/master/src/CodeArt.DotnetGD

[2016-11-14 08:45] jiangzeng commented on #13419
Close. Checked in recent builds, it's not happening.

[2016-11-14 08:45] #13419 closed

[2016-11-14 08:48] jiangzeng commented on #13455
Close. Checked in recent builds from 20161108.502, it's not happening.

[2016-11-14 08:49] jiangzeng commented on #13416
Close. Checked in recent builds from 20161107.502, it's not happening.

[2016-11-14 08:49] #13416 closed

[2016-11-14 10:21] aviviadi commented on #13550
So, after successfully :cross compiled coreclr & corefx on ubuntu 16.04 x64,

[2016-11-14 11:36] capiono commented on #13504
I added System.AppContext version 4.1.0 again, I'm now getting the error below:

`Unhandled Exception: System.TypeInitializationException: The type initializer fo
r 'System.Diagnostics.DiagnosticSourceEventSource' threw an exception. ---> Syst
em.MissingMethodException: Method not found: 'Void System.Diagnostics.Tracing.Ev
entSource..ctor(System.Diagnostics.Tracing.EventSourceSettings)'.
   at Sys

[2016-11-14 12:09] tango-charly commented on #13635
Ok thank's :)

[2016-11-14 12:09] #13635 closed

[2016-11-14 13:03] nil4 commented on #13504
I am experiencing the same issue as @capiono with a project targeting .NET 4.6.2 and .NETCoreApp 1.1 preview 1.

[2016-11-14 14:36] stephentoub commented on #984
@qmfrederik, can you help me better understand what you're proposing?  It sounds like you're talking about adding new surface area / library to corefx, rather than providing an implementation of the existing SerialPort surface area, is that correct?  If so. I don't think that's a direction we want to head.  We don't need every .NET library to come from the corefx repo, in fact we expect only a ver

[2016-11-14 15:40] shaggygi commented on #984
@stephentoub I would definitely be happy if what is provided by current SerialPort be added.  However, it would be even better to update it to include Async.  For example ReadByte seems to hang until something is received on the port and would be nice to have a cancel token.

[2016-11-14 16:48] karelz commented on #13583
@t-sch do you plan to use the enum in a NuGet library and its public API surface?
Or is it needed only as implementation detail of your library or application?

[2016-11-14 16:55] mmitche commented on #5443
We now have a lot more storage available.  I am okay with capturing log files of failed builds.

[2016-11-14 16:58] Clockwork-Muse commented on #10567
@mellinoe - I don't know, I can't get any performance tests to run right now.  Have the instructions gone out of date again, or is something up with the larger process?  Build output complains that we've got a assembly mismatch:
[code]

... however, leaving off the `OSGroup` option still generates the same error it did previously.

[2016-11-14 17:13] devinfluencer commented on #13583
Only internal.

[2016-11-14 17:21] ericstj commented on #13619
No, not the same.

What's happening here is you have some dependencies that exclusive to a project reference, and those aren't being applied to the referencing project.

Transitive flow of dependencies is a new thing with NuGet 3 and still rather fragile.  That's one of the things that's NuGet is working on making better with native `<PackageReference>` support in MSBuild.

What does your project

[2016-11-14 17:27] karelz commented on #13583
@t-sch, in that case I would suggest to use a copy of the enum for now. It doesn't make sense to bring just 1 enum without its usage, unless there is benefit for libraries (if we see more evidence of that benefit, we can reconsider/reprioritize).

Until then, we should treat the issue as @alexperovich suggested - port the enum and methods which use it.

[2016-11-14 17:29] ericstj commented on #13599
I fixed this and pushed a new version of Microsoft.TargetingPack.Private.WinRT.  You should be able to update to 1.0.3 to get the fix.

[2016-11-14 17:32] qizhanMS commented on #10678
Finished.

[2016-11-14 17:32] #10678 closed

[2016-11-14 17:33] jnm2 commented on #13619
Yes and yes. I use project.json for all csprojs. Should I upload a skeleton example?

[2016-11-14 17:40] qmfrederik commented on #984
@stephentoub I'm not suggesting anything in particular, just responding to @mobidev111 who added me to this thread :)

I think you answered both questions - LGPL code isn't a good candidate and USB support doesnt't fit CoreFX, so I guess that kind of settles the questions raised w.r.t. the USB side-track.

[2016-11-14 17:42] weshaggard commented on #13504
Looks like there are some mixed up package dependencies in this configuration from the AspNetCore packages. Adding some more asp.net folks. @glennc @danroth27 have you guys seen these issue reported?

[2016-11-14 17:46] tarekgh commented on #8133
after talking offline with @weshaggard here is the plan and some info for FormatterServices.GetUninitializedObject

- RuntimeHelpers.GetUninitializedObject is already exposed from system.Runtime in netcoreapp1.1
- We'll not change the implementation of FormatterServices.GetUninitializedObject which is currently using the reflection when building the library as netstandard. there is already some di

[2016-11-14 17:49] ericstj commented on #13619
What are you using to restore?  NuGet/VS or dotnet.exe?  (the latter doesn't understand p2p references between CSProjs).

Sure, if you have an example that'd help.

[2016-11-14 17:54] MattGal commented on #10567
I'll try this out shortly myself.  Problems with System.Private.CoreLib are affecting the main functional builds as well so this could simply be a manifestation of that.

[2016-11-14 18:07] jnm2 commented on #13619
NuGet/VS.

https://github.com/jnm2/misc-codesamples/raw/master/Bug%20reports/.NET/Netstandard%20HttpClient%20issue.zip

To reproduce, open the solution and run all tests in the Visual Studio test window.

[2016-11-14 18:19] vcsjones commented on #13640
Same problem.

[2016-11-14 18:20] stephentoub commented on #8133
Can you help me to understand why?

[2016-11-14 18:23] stephentoub commented on #984
@shaggygi, yup, understood, and as @danmosemsft noted, we're certainly open to it being added to corefx, we just haven't dedicated time yet to doing it.  If you or someone else motivated to see it happen wanted to work on such a port, we'd be happy to see that happen, help code review, etc.

@qmfrederik, ah, ok, thanks for sharing about your lib, regardless.

[2016-11-14 18:25] tarekgh commented on #8133
@weshaggard could you please help answering @stephentoub question? Thx.

[2016-11-14 18:27] danroth27 commented on #13504
@muratg @Eilon

[2016-11-14 18:29] weshaggard commented on #8133
We are technically lying to ourselves if we are building a library targeting netstandard that has a direct dependency on S.P.CoreLib, as that by nature causes it to not be supported anywhere that doesn't have a S.P.CoreLib.

[2016-11-14 18:30] stephentoub commented on #8133
Maybe I'm misunderstanding something.  Isn't System.Runtime.Serialization.Formatters part of netstandard, not implemented on top of netstandard?

[2016-11-14 18:32] stephentoub commented on #8133
Also, whether it has a direct dependency to Sp.Corelib or uses reflection to access what's effectively an internal type of Corelib (it's public, but it's not part of the netstandard surface area), isn't it a similar lie?

[2016-11-14 18:36] weshaggard commented on #8133
Yes it is part of netstandard2.0 but it is also building against netstandard (https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Formatters/src/System.Runtime.Serialization.Formatters.csproj#L9) which we should instead switch to netcoreapp in order to access the new RuntimeHelper API. As a bigger push we will end up disabling/deleting all the netstandard build configurat

[2016-11-14 18:41] karelz commented on #9735
Given that these packages are not supposed to be used outside, we should close the issue.

[2016-11-14 18:41] #9735 closed

[2016-11-14 18:42] karelz commented on #9756
@joperezr did it already happen by a chance?

[2016-11-14 18:46] sepidehkh opened #13647 "Cleanup Assert.True(false) in Xml tests"
In case of failure, Xml tests are doing Assert.True(false), which doesn't help in seeing what the problem and expected behaviour was. Use Assert.Throws<EXPECTED_EXCEPTION> instead wherever applies.

[2016-11-14 18:52] karelz commented on #1597
We support running tests from VS. We may still need to file issues to run specific test from VS -- it should go to buildtools repo (it's common for all repos, not CoreFX specific).

[2016-11-14 18:52] #1597 closed

[2016-11-14 18:53] ericstj commented on #13619
Oops, I missed the part of error, which @karelz did not: `The located assembly's manifest definition does not match the assembly reference`

That's because the test is running without bindingRedirects.  I made the following changes to the test CSproj to fix this:
[code]

Related issue on MSBuild is here: https://github.com/Microsoft/msbuild/issues/1310

Can you try this and let me know if it fixes

[2016-11-14 18:53] bharatmangal04 commented on #1039
Can anyone suggest what would be the recommended approach to pass data ( User Defined Table type or paramenters) to stored procedure in ASp.NET Core if using ADO.NET

[2016-11-14 18:56] saurabh500 commented on #1039
@bharatmangal04 Are you referring to SQL CLR UDTs on Sql Server?
Can you open a separate issue for this question?

[2016-11-14 18:56] karelz commented on #2003
Next step: Flip the bit and see what breaks, and we need list of things that depend on time/date (version.c analogy).

[2016-11-14 18:58] karelz commented on #2801
We believe that his is the industry standard to put the files into git repo -- git has ignores, so should VSCode have ignores on them.
Closing for now.

[2016-11-14 18:58] #2801 closed

[2016-11-14 19:00] DrewScoggins commented on #10567
As far as I know you still need to use the OSGroup flag when you want to run performance tests, and it seems like @Clockwork-Muse has confirmed this.  The assembly loading issue you are seeing we have run into before in the CoreCLR repo, due to work being done for Net Standard 2.0.  This commit https://github.com/dotnet/coreclr/pull/7835/commits/ef60f7921285baef7257b79fa79443ff15205d57 in the core

[2016-11-14 19:02] karelz commented on #3140
Next steps: Flip individual projects and mark code which overflows on purpose as unchecked.

[2016-11-14 19:04] stephentoub commented on #3140
And measure critical paths to ensure nothing regresses perf-wise.

[2016-11-14 19:07] karelz commented on #3789
Next steps:
1. Create analyzer that checks the rules
2. Enable it for selected projects (we might need to disable it for some legacy tests, etc.)

[2016-11-14 19:08] #13340 closed

[2016-11-14 19:10] nguerrera commented on #3140
I opened this suggesting debug-only. I'd still recommend starting with that.

[2016-11-14 19:12] MattGal commented on #10567
Yup, I had the same experience.  The reason TargetOS has to be explicitly set is clear in PerfTesting.targets: https://github.com/dotnet/buildtools/blob/50b800cd9a84da8609c4c59959e1222688a173fa/src/Microsoft.DotNet.Build.Tasks/PackageFiles/PerfTesting.targets#L20  since many required properties are only set it TargetOS is also set.   These could switch to use one of the various other properties ea

[2016-11-14 19:20] joperezr commented on #13332
Done by #13530

[2016-11-14 19:20] #13332 closed

[2016-11-14 19:23] karelz commented on #4919
Next steps: We need a tool to generate .sln files from existing .builds files.
Tricky question afterwards: Do we keep .sln checked in? If yes, how do we update them? (enforcement / ad-hoc)

[2016-11-14 19:26] karelz commented on #5042
Next step: Find out how to make VS to not show them.

[2016-11-14 19:26] QuantumDeveloper commented on #157
@mellinoe Could you say when exactly you will provide new overloads for .Net Framework and will SIMD be available for matrices? For Now seems that only Vector is using SIMD. Isn`t it?

[2016-11-14 19:30] karelz commented on #5444
@mellinoe we should move it to buildtools - this is cross-repo problem.

[2016-11-14 19:32] karelz commented on #6901
@gkhanna79 should we move the issue to core-eng repo only? It does not seem to be specific to corefx repo.

[2016-11-14 19:33] jnm2 commented on #13619
The test appears to run indefinitely, and when I debug I get this:

Additional information: Could not load file or assembly 'Microsoft.Win32.Primitives, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

[code]

I tried the two properti

[2016-11-14 19:37] karelz commented on #7952
@mellinoe can you please move it to buildtools? This is impacting more than just corefx repo.

[2016-11-14 19:38] karelz commented on #7973
Dupe of #4919.

[2016-11-14 19:38] #7973 closed

[2016-11-14 19:40] karelz commented on #8671
Not quite actionable now. If there are more repros, we can reopen.

[2016-11-14 19:40] #8671 closed

[2016-11-14 19:40] karelz commented on #8899
Fixed by #13600.

[2016-11-14 19:40] #8899 closed

[2016-11-14 19:41] karelz commented on #9066
Probably not happening anymore. If it does, let's file an issue and look into it right away.

[2016-11-14 19:41] #9066 closed

[2016-11-14 19:42] ericstj commented on #7702
I don't think my unsigned workaround package on a myget feed is a sufficient workaround.  We should get something more official.

[2016-11-14 19:42] mmitche commented on #9066
I haven't seen this in a while, but the good news is there is new logging in there so we should be able to see some more diagnostics

[2016-11-14 19:45] karelz commented on #9156
Unclear what it should track now. Things either improved or will improve shortly - let's close it and potentially reconsider in early 2017 when new engineering stuff gets in.

[2016-11-14 19:45] #9156 closed

[2016-11-14 19:47] karelz commented on #9187
Our plan for build-from-source should mitigate it.
It is still unlikely we will add a lot of distros (especially those moving super-fast) - we will likely rely on distros owners/maintainers to build for it.

[2016-11-14 19:47] #9187 closed

[2016-11-14 19:59] mellinoe commented on #13599
Thanks, @ericstj

[2016-11-14 19:59] #13599 closed

[2016-11-14 20:01] Eilon commented on #13504
It looks like perhaps the project.json file in 1.0.0 of Microsoft.Extensions.PlatformAbstractions was incorrect, but I think it's been fixed for 1.1.0.

[2016-11-14 20:04] mellinoe commented on #10421
@maririos @MattGal Are either of you working on this, or is there anything more to do here?

[2016-11-14 20:05] mellinoe commented on #10422
Hey @maririos , are you still looking into this, or is it better tracked elsewhere, etc? I think there's other related issues in here and in buildtools.

[2016-11-14 20:09] Eilon commented on #13504
The fix is to add a reference to System.AppContext from your own app's project.

[2016-11-14 20:10] #13337 closed

[2016-11-14 20:13] mellinoe commented on #5444
Actually, we're overriding the packages directory in corefx. I suspect most other repos are doing that, too. if we want to use the user cache, we probably just need to remove [this](https://github.com/dotnet/corefx/blob/master/dir.props#L129).

[2016-11-14 20:14] mellinoe commented on #7952
@dagood Is there a better place to track this?

[2016-11-14 20:17] CIPop commented on #13613
@MichaCo Your observation is correct. We have split out the System.Net.NameResolution contract to give us the ability to extend our existing library and offer more advanced name resolution functionality like the scenarios you mentioned.

It would be great if you could create a feature request issue by giving us a few examples of how you think the APIs should look like as well as pointing out the R

[2016-11-14 20:21] CIPop commented on #2801
Also, no longer needed if VS Code is used. The VS Code user-voice was fixed some time ago: https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7769619-git-support-in-sub-directories (I am able to open just the \src folder and perform git operations.)

[2016-11-14 20:22] mellinoe commented on #11257
@joperezr Is this still an issue?

[2016-11-14 20:41] Clockwork-Muse commented on #13647
Ah!  Thanks for working on this.  I have some [stuff I did in this space](https://github.com/Clockwork-Muse/corefx/tree/System.Xml.XmlSchemaSet), but got distracted by something else.

Note that beyond just the exceptions, the tests have some problems.  The validation event handler used in many tests is mentioned multiple times in the same test, making it impossible to determine _where_ a specific

[2016-11-14 20:47] #12789 closed

[2016-11-14 20:48] CIPop commented on #8369
I can confirm that the build works as expected after installing just VS Community!
Thanks @weshaggard @mellinoe !

[2016-11-14 20:54] gkhanna79 commented on #6901
This is specific to running coreFX tests in Helix for WinArm64 (similar to what is done for x64 and x86). I am not sure what "core-eng" repo is about but we need to ensure this work is tracked at the appropriate source.

[2016-11-14 20:56] sepidehMS commented on #13647
@Clockwork-Muse Thank you for pointing these out and your work on this. Please feel free to submit a PR for fixing some of these issues.

[2016-11-14 20:57] weshaggard commented on #5444
Correct we would need to remove that in some cases but we also have to decide if we want CI/Official builds to still use an isolated packages folder or use the shared cache folder as well.

[2016-11-14 21:00] CIPop opened #13649 "System.Net.Ping.Functional.Tests hangs on a 1 Core Ubuntu 16.04 VM"
This issue was originally reported by the WSL team. I'm able to repro if I switch my Ubuntu VM to 1 core.
I don't have more info available (my host machine has perf issues and is now unusable).

/cc @stephentoub @mellinoe

[2016-11-14 21:02] stephentoub commented on #13649
@cipop, which test?  Can you pass ```/p:XunitOptions="-showProgress -parallel none"``` to the command-line and see which test it stops in?

[2016-11-14 21:04] vcsjones commented on #13640
@ericstj is this your area of expertise?

[2016-11-14 21:10] maririos commented on #10422
Currently there is effort working on Run.exe but I'm not sure it includes this issue.
@MattGal could answer this more accurately

[2016-11-14 21:14] #11132 closed

[2016-11-14 21:15] #12364 closed

[2016-11-14 21:19] karajas commented on #10600
No resolution at the moment, probably require more information as to what are the actual build dependencies.

[2016-11-14 21:21] ericstj commented on #13640
This was @weshaggard's change.  Wes, why is the layout.proj trying to build windows layouts on a mac machine? https://github.com/dotnet/corefx/blob/master/layout/layout.proj#L21

[2016-11-14 21:27] ericstj commented on #13619
It looks like MSBuild is missing the conflict and not generating a redirect.  I haven't gotten to the bottom of why that is happening.

[2016-11-14 21:34] ericstj commented on #13619
I found what's wrong.  MSBuild misses the conflict because System.Net.Http.dll's reference assembly is does not reference to Microsoft.Win32.Primitives.  This is related to https://github.com/dotnet/corefx/issues/7702 but the workaround there won't fix this.  You could add a bindingRedirect directly in the test project as a workaround, but ultimately I think MSBuild needs to improve this.  It shou

[2016-11-14 21:36] tarekgh commented on #8133
#8133

[2016-11-14 21:44] jnm2 commented on #13619
Something that can be fixed in time for 1.1?

[2016-11-14 22:03] capiono commented on #13504
I added System.AppContext  to my dependencies, still not working:

`  "dependencies": {
    "Microsoft.AspNetCore.Diagnostics": "1.1.0-preview1-final",
    "Microsoft.AspNetCore.Mvc": "1.1.0-preview1-final",
    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.0.0-preview2-final",
      "type": "build"
    },
    "Microsoft.AspNetCore.Routing": "1.1.0-preview1-final",
    "Microsoft.AspNe

[2016-11-14 22:05] CIPop commented on #13649
@stephentoub I had some odd issues with my _host_ (and VM as well) machine freezing up and couldn't do anything. Hard rebooted and will try again now.

[2016-11-14 22:06] ericstj commented on #13619
It's a problem with MSBuild, not .NET Core.  We could use the same workaround strategy I mentioned in https://github.com/dotnet/corefx/issues/7702 for 1.1, but can't really fix the root problem.

This class of problem will be fixed in general with the NETStandard changes that are coming.  We'll be coalescing all these to a single assembly (netstandard.dll) which will be garunteed to be in the comp

[2016-11-14 22:07] #12366 closed

[2016-11-14 22:08] karelz commented on #1336
We need formal API proposal

[2016-11-14 22:08] alexperovich commented on #13586
@eliezedeck There will always be at least two threads for a .net application, the main thread and the GC finalizer thread. For most applications there will also be one or more threads for the ThreadPool.

I am curious what your full use case is. Normally a single threaded context is only needed if you have a UI thread or STA COM objects. If you await things properly you will get a single chain of

[2016-11-14 22:10] alexperovich commented on #13601
I haven't seen this.

[2016-11-14 22:14] weshaggard commented on #13640
Yes I will take a look.

The builds are hitting another error (https://github.com/dotnet/buildtools/issues/1224) which is why they are not correctly failing in these cases. It is safe to ignore for now these errors for now.

[2016-11-14 22:31] karelz commented on #2316
This does not look like a good idea. There is simple workaround: use `long` as type if you want to get `long` output. It is in line how `10 + 20` code works -- neither here the compiler promotes it to long on your behalf without explicit cast.

[2016-11-14 22:31] #2316 closed

[2016-11-14 22:32] CIPop commented on #13649
Running `~/corefx/Tools/msbuild.sh /t:rebuild,test "/p:XunitOptions=-showprogress -parallel none" /p:Configuration=Unix_Debug` or adding \" for the XunitOptions gives me an error.

Running without -parallel none:

[code]

[2016-11-14 22:36] CIPop commented on #13649
Offline: The correct form for Ubuntu 16.04 is:

`~/corefx/Tools/msbuild.sh /t:rebuild,test "/p:XunitOptions=-showprogress" /p:Configuration=Unix_Debug /p:OSGroup=Linux /p:TestNugetRuntimeId=ubuntu.16.04-x64`

Output shows the same test hanging but nothing else fails:
[code]

[2016-11-14 22:36] Priya91 commented on #1378
@matekm For which configuration are the api-compat errors occuring? Can you share your working branch, it'll be easier to diagnose, not enough data in the pasted error..

[2016-11-14 22:38] karelz commented on #2323
Seems like a good idea, we should review the API, then we can mark it "up for grabs".

[2016-11-14 22:42] JonHanna commented on #1336
The combination `.OrderBy(x => x).ElementAt(2)` would find the third element using Hoare's quickselect algorithm. The pivot strategy is simple median, which is indeed naïve. I thought of experimenting with random, median-of-three, etc. and even made a start at it, but got distracted by other things. It'd be worth looking at.

[2016-11-14 22:46] karelz commented on #3093
What about adding `Enumerable.Create<T>(T item)`, with overloads like `.Create<T>(T item1, T item2)` up to 5-8 overloads. That would be even more useful.
Would everyone be fine with the API name `Create<T>`?

cc: @VSadov @OmarTawfik

[2016-11-14 22:51] CodingGorilla commented on #11100
This has become a significant issue for me; we use a lot of our own nuget packages internally.  And it seems nuget just _will not_ let those `bindingRedirect`s alone.  **Everytime** we update one of our internal packages, it changes the redirect back to `newVersion="4.1.0.0"`.  Is there a way to stop it from doing that, or is there a fix on the horizon?

[2016-11-14 22:54] mellinoe commented on #13649
I'm not able to reproduce this, but I'm only using `taskset -c 0 <testcommand>` on my existing machine, which has 4 cores.

Also, you should be able to run the tests simply via `msbuild /t:rebuildandtest <project>` now. The other stuff should be auto-detected.

[2016-11-14 22:55] clrjunkie commented on #13610
But you’re not willing to debate them which I believe is a loss.

This whole approach of “If you think you can do a better job, do it yourself” is fundamentally flawed because:

1) I know I can do it myself. The issue here is not if I’m allowed to do so. I'm not asking for any permissions.

2) You already have man resources  allocated for this task (substantial I figure from the open issues) and i

[2016-11-14 22:56] karelz commented on #5582
Seems reasonable, let's review the API proposal.

[2016-11-14 23:03] stephentoub commented on #13649
I can repro it... including on Windows.  There's at least a test bug, if not a product issue as well.  I'll take it...

[2016-11-14 23:12] ianhays commented on #13447
All Console.ReadLine does is call the ReadLine method of Console.In. It looks like your problem is actually that `_downstream.StandardInput.Dispose();` is not what doing what you want it to on Unix.

Here's my thinking. On Windows, stdin is a handle that is unique to a process and when you call `_downstream.StandardInput.Dispose();` you're disposing the StreamWriter around the FileStream that was

[2016-11-14 23:16] tarekgh commented on #8133
I have did the changes in System.Runtime.Serialization.Formatters adn now when compiling as netcoreapp1.1 we are using RuntimeHelpers.GetUninitializedObject and not using the reflection.

Also this issue is marked as netfx-port-consider so would be tracked by the tools to do the work for the full framework which is exposing RuntimeHelpers.GetUninitializedObject

by that I am closing the issue now

[2016-11-14 23:16] #8133 closed

[2016-11-14 23:28] vors commented on #13447
I thought that the whole point of being a cross-platform framework is to abstract away such things and allow people to write code that predictable runs the same way on all platforms.

Marking issue with label `enhancement` also suggests that you don't think there is a bug in the existing behavior. I understand the reasoning about the possible source of the problem and I think it doesn't justify th

[2016-11-14 23:36] karelz commented on #2648
@weshaggard what are the options for quirks here? We want portable libraries targeting .NET Standard 2.0 have the same behavior on .NET Core and Desktop I assume.

[2016-11-14 23:42] karelz commented on #4465
Sounds reasonable, can you submit a PR?

BTW: Sorry for the overdue answer :( ... we are catching up now.

[2016-11-14 23:47] Thealexbarney commented on #9735
Is there any plan to publish .NET Framework reference assemblies to NuGet so that the .NET Core CLI could be used to target .NET Framework versions without having the relevant targeting pack installed?

[2016-11-14 23:48] dmetzgar commented on #13593
Closing as duplicate of #12228

[2016-11-14 23:48] #13593 closed

[2016-11-14 23:52] ianhays commented on #13447
The label is not an end-all thing. It's just a quick and easy way to triage issues. After discussion and more in-depth triage, we refine the labels once we know more about the issue. I marked it as 'enhancement' because I'm not yet certain that it's a bug and not just a platform inconsistency that is unavoidable (but possible mitigable through some enhancement). The label has no affect on how we p

[2016-11-14 23:54] karelz commented on #4693
Looks like we got only 1 vote on this for last year.
The value doesn't seem to be that great to compensate for complexity of the code (don't forget that data-binding models like MVC would have to be updated as well - they validate only properties today).

Closing for now. If there is more interest in future, we can reconsider.

[2016-11-14 23:54] #4693 closed

[2016-11-15 00:01] karelz commented on #4942
If anyone contributes the PR, we will consider it.

[2016-11-15 00:09] danmosemsft commented on #13610
Closing based on the discussion above.

[2016-11-15 00:09] #13610 closed

[2016-11-15 00:12] danmosemsft commented on #13639
Append is already tracked by https://github.com/dotnet/corefx/issues/4928. Perhaps you would like to pick up ownership of that issue and write an [API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)? It should not be long or complicated. Then we can review the API, and if approved, someone can implement it - potentially you if you like.

As

[2016-11-15 00:15] danmosemsft commented on #13501
ping @bartonjs .. this was a CI failure

[2016-11-15 00:19] danmosemsft commented on #13626
It skips the tests if neither the product nor test binaries have changed (as you can see in that snippet, they are the only 'input files')

Is that what you are seeing? I agree it's sometimes not what you want. I personally just 'touch' a .cs file when I want to rerun the tests. There ought to be a flag to force them to run.

[2016-11-15 00:24] nathandavidson opened #13660 "SqlConnection should support Azure AD token-based authentication"
The desktop .NET Framework 4.6 and newer has an `AccessToken` property on the `SqlConnection` class ([MSDN](https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.accesstoken(v=vs.110).aspx)) which can be used to authenticate to a SQL Azure database using an access token issued by Azure AD ([examples here](https://azure.microsoft.com/en-us/documentation/articles/sql-database-

[2016-11-15 00:26] danmosemsft commented on #13626
Looks like you have to pass /p:forceruntests=true (or set as an environment variable)
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets#L131

[2016-11-15 00:26] #13626 closed

[2016-11-15 00:51] Chrisboh commented on #6901
There is things that need to happen here.

1. We need to get the hardware to host in the lab and get that all setup.  I am not sure who is responsible for acquiring all the hardware but once we have it let me know and we can get that setup in the Lab.
2. We need to hook them up in Helix (https://github.com/dotnet/core-eng/issues/125)
3. We need the make sure the test builds support this new TFM an

[2016-11-15 01:05] tarekgh commented on #9294
CC all people who commented on the original issue #8133
@KrzysztofCwalina @eiriktsarpalis @terrajobst @SGuyGe @niemyjski @danmosemsft @stephentoub @jkotas @weshaggard

Having Exception.StackTrace setter was requested before we had the serialization constructors exposed on the Exception class. now we have the serialization constructors which can be used to deserialize the exception object. StackTra

[2016-11-15 01:21] danmosemsft commented on #9294
Removing the label since as you say this is no longer required for our NS2.0 goal. It seems to me this is a feature at this point and not something that needs doing right now.

[2016-11-15 01:22] jnm2 commented on #13619
I think I'm following- so it will never be possible to fix msbuild so that this scenario with netstandard 1.3 just works?

[2016-11-15 01:24] Priya91 opened #13663 "Reuse ManagedWebSocket for websocket connections on Windows HttpListener."
Refer comment [here](https://github.com/dotnet/corefx/pull/13502#issuecomment-259461282)

cc @stephentoub

[2016-11-15 01:37] #12793 closed

[2016-11-15 01:45] daxian-dbw commented on #13447
@ianhays thanks for looking into this! I feel it's more like a bug because the issue happens only if I chain **more than 2** processes on Linux, but not when only 2 processes are chained in this way.

When only 2 processes are chained by `ProcessPipe`, `Console.ReadLine` in the downstream process will correctly read `null`, and that means `_downstream.StandardInput.Dispose()` actually takes effect

[2016-11-15 01:54] eiriktsarpalis commented on #9294
My opinion has always been that making the stacktrace settable is not a
very good idea
On Tue, 15 Nov 2016 at 01:22, Dan Moseley <notifications@github.com> wrote:

[2016-11-15 01:55] eiriktsarpalis commented on #9294
I'm happy that the constructors are back. ISerializable is not the best
abstraction, but at least it lets us send exceptions over the wire.
On Tue, 15 Nov 2016 at 01:54, Eirik George Tsarpalis <
eirik.tsarpalis@gmail.com> wrote:

[2016-11-15 02:02] karelz commented on #11220
@JeremyKuhne ping?
cc: @ianhays

[2016-11-15 02:15] karelz commented on #6901
I thought it is common across repos (coreclr, potentially others like wcf, CLI, etc.). Or what is so special on CoreFX regarding arm64?

[2016-11-15 02:19] karelz commented on #13663
@Priya91 is it netstandard2.0?

[2016-11-15 02:20] Priya91 commented on #13663
@karelz Need to understand the change, @stephentoub can elaborate..

[2016-11-15 02:25] #12796 closed

[2016-11-15 02:49] AlexRadch commented on #4928
I think that creating one StringBuilder from other is not so useful, as have fast method to append one String Builder to other.

For example program can create many StringBuilder strings in different threads for performance and then it should append they all to one StringBuilder for result string.

Now each StringBuilder will be coped twice. One time when it will be converted to string and the sec

[2016-11-15 02:59] #13639 closed

[2016-11-15 03:11] saurabh500 commented on #13660
Related to #8807

[2016-11-15 04:39] brentschmaltz commented on #12623
@PinpointTownes Similar to this issue: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/480, I think IdentityModel needs a 4.6.2 target. For 4.6.1 and below, if RSA is not an RSACryptoServiceProvider, we have to throw OR have a later failure.

[2016-11-15 06:42] eliezedeck commented on #13586
@alexperovich It's a proxy that uses all other non-TCP protocols as the main transport.

- Accept connection
- start reading TCP using async (this is not awaited)
- split data in order to send to Transports
- each transport has their own speed, depending on the Protocol available, and `await Task.Delay()` is used to delay sending in order to avoid overwhelming each transport

I agree I may have th

[2016-11-15 07:19] Licshee commented on #2576
It turns out Windows 10 is not what I want on my Surface devices.

[2016-11-15 09:38] matekm commented on #1378
@Priya91

the branch is here: https://github.com/dotnet/corefx/compare/master...matekm:1378_dictionary_ienumerable_ctor

and the commit with all the changes is here:

https://github.com/matekm/corefx/commit/8baa4ab78282dbe1ea75c4d722025077f6d576a4

[2016-11-15 10:12] SetTrend commented on #4693
OK, thanks for taking the time, though.

Actually, I have a strong feeling that votes are not an ideal measurement of driving improvement.

I myself don't have the time to vote for others' ideas. And, vice versa, I don't get any votes on my ideas for years now.

Shouldn't we return to have a board that's discussing proposals on a weekly basis?

Frankly, I'm not a fan of Open Source at all. -- I'd

[2016-11-15 11:43] #13649 closed

[2016-11-15 11:44] #13622 closed

[2016-11-15 12:24] JonHanna opened #13670 "Interpreter does not handle equality on operatorless nullables correctly"
`Expression.Equal()` and `Expression.NotEqual()` have a special case treatment for a nullable type where the element type does not have `==` and `!=` overloads (generally ruling out `Expression.Equal()` without an explicitly passed method) where it can be compared to a `ConstantExpression` with a null value. (This is a rather strange allowance, but it allows a parallel to comparison with null lite

[2016-11-15 12:57] stephentoub commented on #13663
It's an implementation detail to avoid having multiple competing copies of a fairly large swath of code, and using the one that's already had performance work done on it, rather than the one that was just ported over as part of HttpListener as part of netstandard2.0 work.  But it's not stricly necessary in order to ship.

[2016-11-15 13:04] JonHanna commented on #13523
Interestingly, some of the 27% it's showing as covering is in fact not covered in the tests available. Could it be previous tests belonging to System.Dynamic? Could it be use of dynamic and expressions internal to the tester?

[2016-11-15 13:11] jnm2 commented on #4693
@SetTrend I don't think this would be an improvement. It's inconsistent with good modeling practices; because of that it's inconsistent with model binders. Keep in mind too that \*if\* the property happens to be simple field get/set with no validation, it is often inlined and you have runtime performance exactly on par with a field without the cost against good design.

[2016-11-15 13:18] JonHanna commented on #4693
AFAICT the only thing this would have offered is saving a developer around a dozen keystrokes. Less if their IDE had autocorrect.

[2016-11-15 13:23] jnm2 commented on #13586
@eliezedeck I realize this is not the same as what you are doing but I wonder if you would find it interesting to compare. It's a simple full-duplex TCP proxy that has been solid in production. https://github.com/jnm2/CoreProxy/blob/master/src/CoreProxy/Proxies/TcpProxyService.cs#L115

Also, I agree that your code probably shouldn't have to know or care that it's running on multiple threads. If yo

[2016-11-15 13:29] eliezedeck commented on #13586
@jnm2 Thanks for your input, I'll look into that code for insights.

The problem was not about which Thread did which task, it was about **multiple threads making changes to the same instance** of a class at the same time and causing races. That was the reason behind getting a single-threaded `SynchronizationContext`.

I know this could have also been solved by using locks, but really, it makes th

[2016-11-15 13:31] yetanotherchris opened #13672 "Will there be a .NET framework 5?"
Apologies if this is the wrong repository to ask this question, but I'm seeking some clarity on where the _existing_ .NET Framework is headed.

- Will we see a .NET framework 5?
- Will there be improvements to just the CLR, or will we eventually get a single unified CoreCLR?

I can see some Windows-based parts of the existing .NET Framework never being in the .net-core (AD and interop for example)

[2016-11-15 13:42] jnm2 commented on #13586
@eliezedeck I'm curious to see your code to get a clearer picture but I'm guessing you have multiple transports finishing concurrently and you need to merge their results or stats into one place without one waiting for the others to finish.

 * If that's the case, you're right. I think you'll need a synchronization context or a synchronization primitive such as `lock`. (I have a hard time visualiz

[2016-11-15 13:50] GSPP commented on #6371
@kouvel I did not mean to suggest that not resetting the state in the application code is a good thing. I agree it should be considered a bug. But what if such a bug happens? It's catastrophic:

For that reason .NET apps become more stable if the thread pool always resets threads.

Flipping this around: Assume that pool threads were resetting their state *today*. Would we support a change for them

[2016-11-15 13:54] eliezedeck commented on #13586
@jnm2 It's the first case indeed. There are several members, like `sentCount`, `sentBytes`, `unackedCount`, `resentCount`, etc... these get updated in completely different contexts.

Now, there are a lot of inter-dependencies, and some operations that start depends on one value, but suddenly the value is changed by some other threads: nightmare. Apparently, the Single threaded synchronization solv

[2016-11-15 13:57] jnm2 commented on #3093
@stephentoub Interestingly I've toyed with the idea of an allocation-free `EnumerableEx.Single<T>(T value)`. Not sure if that would be interesting. I do run into `new[] { x }` not infrequently.

[2016-11-15 13:59] stephentoub commented on #3093
If EnumerableEx.Single would return an ```IEnumerable<T>```, how would it be allocation-free?  Are you thinking of caching instances for specific T values?

[2016-11-15 14:04] jnm2 commented on #1336
I also find tremendous usage of my `public static T MaxBy<T, TSort>(this IEnumerable<T> enumerable, Func<T, TSort> sortSelector, IComparer<TSort> sortComparer = null)`. I wonder if having overloads that take a sort selector like OrderBy would be a good addition to this proposal?

[2016-11-15 14:05] dasMulli commented on #13526
@NickCraver

1. I believe the metadata should not be a single `string` field but rather an `IEnumerable<string>` just like `ReleaseLabels`. The semver "spec" has specific requirements about how these have to be constructed so it would seem like a good place to put the logic and not require users to look up and implement it themselves.

2. Does the type have to be class or could it be a struct? Tha

[2016-11-15 14:13] jnm2 commented on #13526
It would be super nice to be able to do this in one attribute instead of two:
[code]

[2016-11-15 14:18] jnm2 commented on #13586
This might be the cause: `.Result` and `.Wait()` and `.GetAwaiter().GetResult()` cause deadlocks on a task that hasn't ended yet when you call from the same thread which the task's continuation must be synchronized on. On a single-thread sync context, you'll have to await everywhere and only call the above once you know the task is complete.

If it was me I'd go multi-threaded which is less overhe

[2016-11-15 14:26] eliezedeck commented on #13586
@jnm2 I don't use those `.Wait()` (...) methods that you mentioned. And as far as I understand, there should be no other threads able to run while the current one is running. Wasn't that the essence of the single-threaded sync context? It makes absolutely no sense to me to use it while there is still a rogue thread calling stuffs on my code without me knowing.

But I'll definitely change the appro

[2016-11-15 14:37] jnm2 commented on #13586
@eliezedeck On a single-threaded context, it *does* make no sense; thus the deadlock. If you don't use `Task.Result` or `.Wait()` then ignore that.

C#'s async and await is used extensively in an single-threaded manner. When you write a Windows Forms app or a WPF app, everything runs on the UI thread. It's just not normal for a non-UI app, but it *should* be mature and work.

[2016-11-15 14:50] GSPP commented on #8130
@dotnetjunkie this might be a weakly referenced cache. I believe it was in an earlier .NET version. Not sure what it's now.

[2016-11-15 15:14] gkhanna79 commented on #6901
Currently, CoreFX is the only repo running tests in Helix. Also, the mechanism to run CoreFX tests (XUnit) is different from how CoreCLR tests are run (using smarty).

I think it is appropriate to keep this issue active in CoreFX.

[2016-11-15 16:04] karelz commented on #6901
OK, that makes sense, thanks for clarification.

[2016-11-15 16:06] bartonjs commented on #13501
@steveharter Looks like the new copy ctor has an intermittent failure.  I wonder if you can make it deterministic by adding a GC.Collect(); and GC.WaitForPendingFinalizers(); between `TestPrivateKey(c1, false)` and `TestPrivateKey(c2, true)`.  Something somewhere probably isn't ref-counting correctly, which is bad.

[2016-11-15 16:07] karelz commented on #1336
Unless it is directly related to these APIs, I would suggest to keep it in separate issue.

[2016-11-15 16:09] stephentoub commented on #13501
May be totally unrelated, but there were a few seg faults in System.Security.Cryptography.X509Certificates.Tests in last night's runs:
https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_release/35/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release/36/consoleText

[2016-11-15 16:14] karelz commented on #4693
That is already happening --  the "triage" is done by area experts (@lajones @divega @rowanmiller in this case).
The votes are not just votes, but also how many positively chime in the discussion -- none in this case and as you see there are couple of community votes against the proposal. Together with the expert "triage" I think it is as fair as we can get. If you have better ideas how to "vote"

[2016-11-15 16:34] jnm2 commented on #1336
@karelz To clarify, I'm suggesting that this proposal considers:

[code]

[2016-11-15 16:36] tarekgh commented on #9294
Thanks @eiriktsarpalis.
I am going to close this request for now and we can open it again if we find any case really need this setter.

[2016-11-15 16:37] karelz commented on #1336
In the last post you suggested adding `MaxBy`. How does that fit?
Either way, we still need [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md). It is also best way to clarify what exactly is asked for and why.

[2016-11-15 16:38] nrjohnstone commented on #9846
The problem I find now is that everytime I fix the issue by changing the binding redirect to prevent v4.0 being redirected to 4.1.0.0 like this

<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.1.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>

as soon as anyone does a

[2016-11-15 16:44] weshaggard commented on #12142
This issue should be unblocked now as System.IO types have been moved into System.Runtime.Extensions

[2016-11-15 16:52] weshaggard commented on #10567
We should definitely look at using something that gets a default value setup so it isn't required to be specified at the command line everytime.

Unfortunately that same fix isn't going to work in corefx. We have started moving a lot of our tests to be .NET Core specific and so we will not be able to make all the test projects we want to run performance benchmarks on .NET Standard based.

[2016-11-15 16:53] karelz commented on #12142
@geoffkizer do you plan to finish it off?

[2016-11-15 16:56] jnm2 commented on #1336
@karelz `NthSmallestElement(0)` is `Min()` and `NthLargestElement(0)` is `Max()`. My point was that I haven't found `Max` to be half as useful as `MaxBy`, so I would expect that `NthSmallestElement(n)` would not be half so useful as `NthSmallestElement(n, sortSelector)`.
`MaxBy` would be great too, but I'd have to start a proposal for that.

[2016-11-15 16:58] weshaggard commented on #9011
A more general issue is at https://github.com/dotnet/corefx/issues/12737 so closing this one in favor of that issue.

[2016-11-15 16:58] #9011 closed

[2016-11-15 16:59] jnm2 commented on #1336
Separate point: `ElementAt` is 0-based but it looks like `NthSmallestElement` is proposed to be 1-based. What are the consequences of choosing 0 or 1?

[2016-11-15 17:08] karelz commented on #13672
@terrajobst do we have any blog posts on future of "full" .NET Framework? And how it is related to .NET Core?

This repo is about .NET Core, not about "full" .NET Framework. They are 2 separate products. Some changes will flow across them.
.NET Core is about cross-platform, open source and flexibility (agile changes, rapid innovation). Full .NET Framework is Windows-only with strong emphasis on co

[2016-11-15 17:11] ericstj commented on #13619
It's possible, but requires updates to MSBuild, so it would be a release like Visual Studio to fix those.  I have filed some issues in the MSBuild repo that could help here.

Meanwhile we could create a package that works with netstandard1.3 and makes it "just work" with the old MSBuild by forcing it to see conflicts, even if you aren't using the conflicting assemblies at compile time.

[2016-11-15 17:13] karelz commented on #1336
Now I see your point. It makes sense to keep them together as they are very related APIs.

Very good question - I would expect the proposal to suggest solution here, providing arguments why.

[2016-11-15 17:14] brentschmaltz commented on #11082
I will investigate

________________________________
From: Dan Moseley <notifications@github.com>
Sent: Tuesday, November 8, 2016 3:26 PM
To: dotnet/corefx
Cc: BrentSchmaltz; Mention
Subject: Re: [dotnet/corefx] System.Security.Claims.Claim value type incorrect (#11082)

@brentschmaltz<https://github.com/brentschmaltz> are you still planning to work on this one? We are trying to close down the iss

[2016-11-15 17:14] weshaggard commented on #1378
The Dictionary class you updated is only used in the uap10.1 build configuration https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System.Collections.csproj#L76. For netcoreapp1.1 the Dictionary implementation is actually in System.Private.CoreLib in the coreclr repo, https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Dictionary.cs. That

[2016-11-15 17:17] JonHanna commented on #1336
One question is whether the IQueryable version of this immediately return `.OrderBy(…).ElementAt(n - 1)`, or directly represent an `NthSmallest` operation. The latter has the advantage that a provider could more directly support it, but the former would allow for backwards compatibility.

[2016-11-15 17:19] steveharter commented on #13501
This could be a regression, as I haven't seen any of these before, and it's been several weeks since the copy ctor was added. Will attempt to repro locally, and will likely add the GC.Collect and WaitForPendingFinalizers per suggestion.

[2016-11-15 17:21] jnm2 commented on #13619
I'd like to follow them. Just this one? https://github.com/Microsoft/msbuild/issues/1344

As long as sometime in the future netstandard1.3 just works like I was expecting, I'm willing to implement a workaround.

[2016-11-15 17:23] ericstj commented on #13619
That one and this https://github.com/Microsoft/msbuild/issues/1310

[2016-11-15 17:24] jnm2 commented on #1336
I would hope it would do whatever `Max` does today.

[2016-11-15 17:27] JonHanna commented on #1336
The tactic `Max` uses is to be in `Queryable` from the time it was first created, so that anyone writing a query provider knows about it, and knows to implement it unless that's impossible for some reason.

[2016-11-15 17:33] jnm2 commented on #1336
For example, I would not expect `NthSmallest` to work until Entity Framework knows about it. It's not unusual for BCL extension methods to be unsupported by EF.
I'd prefer the semantics to be preserved. `.OrderBy(…).ElementAt(n - 1)` has polyfilling going for it but has neither semantics nor perf on it's side.

Separate note: I'm really not in love with the name `NthSmallestElement`. Off the top o

[2016-11-15 17:37] jnm2 commented on #13619
What's my best bet for the time being?

[2016-11-15 17:42] karelz commented on #13619
If you're asking when msbuild will fix the problem - it would be best to ask them :)
Are we ok to close this question as answered?

[2016-11-15 17:44] JonHanna commented on #1336
On the other hand, it's unlikely that any provider is likely to do anything other than the same as it would with `.OrderBy(…).ElementAt(n - 1)` (for that matter, with IEnumerable it's going to be pretty much the same as that anyway, except for one object allocation). If providers aren't going to find some extra benefit then that is likely the way to go.

I'm sceptical if there's any need for this

[2016-11-15 17:56] #9913 closed

[2016-11-15 17:58] JonHanna opened #13675 "Dynamic-, MethodCall- and InvocationExpressions Inconsistent in exceptions on out of range"
If one calls `GetExpression()` on instances of `DynamicExpression`, `MethodCallExpression` or `InvocationExpression` then depending on which derived type they are of they might throw `InvalidOperationException` or `ArgumentOutOfRangeException`.

This is another variant of issue #3881

[2016-11-15 17:58] pkothare commented on #1336
@JonHanna, I'm just curious, is the current process of selection still subject to n^2 worst case time complexity?

[2016-11-15 18:00] jnm2 commented on #13619
I'm actually asking if a workaround exists or if I should skip testing net461?

[2016-11-15 18:07] Casimodo72 commented on #7953
@joekaiser: How would I know? I'm in a phase of clinical depression now due to this issue and thus can't provide any feedback anymore. Is this how you guys work? Bug, depress and then ask for feedback?

Just kidding :-) I'm in a phase of clinical depression currently, but it's not due to this issue.

[2016-11-15 18:07] JonHanna commented on #1336
It is, except for the indices of 0 or Count - 1; they're guaranteed linear time.

I've thought about randomising the pivots, but not experimented with it. For one thing I've honestly no idea how fast the PRNG is and hence whether it would have an appreciable downside in some cases.

Ideas? (If the idea in this issue was pursued, it would be necessary to consider it there, to).

[2016-11-15 18:12] shmao opened #13677 "Use RuntimeHelpers.GetUninitializedObject in Serialization"
Currently we are calling RuntimeHelpers.GetUninitializedObject via reflection. PR #13652 made it available on NetCore. We now can call the API directly.

[2016-11-15 18:13] terrajobst commented on #2323
We just reviewed it and it looks good as proposed.

[2016-11-15 18:14] ericstj commented on #13619
You can workaround by adding the bindingRedirect for Microsoft.Win32.Primitives to an app.config in the test project.  0.0.0.0-4.0.1.0 -> 4.0.1.0.  I'm leaving https://github.com/dotnet/corefx/issues/7702 open to track a better workaround.

[2016-11-15 18:14] karelz commented on #2323
Our apologies that it took us a 1+ year to approve. We are trying to get better ;-)

Anyone wants to submit a PR? @GSPP?

[2016-11-15 18:25] terrajobst commented on #4805
This looks good provided that:

* We add overloads for both, `StartsWith` and `EndsWith`
* We add all three versions (char, char + bool + culture, char + comparison)
* The semantics of the overloads follow the ones that take `string`, for example, `EndsWith('c')` should be identical to calling `EndsWith("c")`. That means the simple one must be culture-aware instead of the current (internal) implem

[2016-11-15 18:34] terrajobst commented on #5582
The return type of Linq's `GroupBy` is ` IEnumerable<IGrouping<TKey, TSource>>`. As @JonHanna said, we can't add `IReadOnlyList` to `IGrouping` because that would be a breaking change.

We could implement `IReadOnlyList` on `Grouping` but that value seems low as the type is (effectively) no public API returns it. Callers would have to cast the value returned from the enumerable which is pretty muc

[2016-11-15 18:34] #5582 closed

[2016-11-15 18:37] terrajobst commented on #6485
Looks good as proposed.

[2016-11-15 18:39] JonHanna commented on #2323
Does the PR have to go against future or master?

[2016-11-15 18:43] bartonjs commented on #6695
This seems to be a somewhat popular request on StackOverflow: http://stackoverflow.com/questions/1014005/how-to-populate-instantiate-a-c-sharp-array-with-a-single-value

It gets a lot of bad (performance-wise) answers, too.

[2016-11-15 18:51] terrajobst commented on #6869
We agree with @stephentoub. Appending lines with a single char doesn't seem to be too common.

[2016-11-15 18:51] #6869 closed

[2016-11-15 18:56] jnm2 commented on #6869
This is one of those things I run into all the time, so I'm naturally interested and a bit disappointed. But extension methods serve well.

[2016-11-15 18:59] terrajobst commented on #8034
Is @JonHanna's suggestion not good enough?

[code]

[2016-11-15 19:05] terrajobst commented on #8429
The API looks good.

[2016-11-15 19:07] karelz commented on #6695
For context: We don't quite believe that the use case is very common. Doing a for-cycle sounds like a reasonable workaround. However the amount of interest on StackOverflow (100+ votes) convinced us to take it.

[2016-11-15 19:08] yetanotherchris commented on #13672
I think the crux of the issue is should you now be moving towards .net-core as a long term strategy, or (if you're happy with Windows-based hosting) just remain on .NET framework - the question is web focused, so ignoring WPF or any mobile technologies.

My API examples were a bit poor, what I meant was parts of the framework which are Windows only: anything COM related, the registry as you mentio

[2016-11-15 19:09] terrajobst commented on #12644
OK, in that case it's good to go.

[2016-11-15 19:13] svick commented on #1336
@jnm2

There already is one: https://github.com/dotnet/corefx/issues/2146.

[2016-11-15 19:13] terrajobst commented on #13374
Makes sense.

[2016-11-15 19:15] danmosemsft commented on #1378
No longer up for grabs, @matekm has it.

[2016-11-15 19:18] terrajobst commented on #13470
We should probably add a strongly typed handle class, like `SafeSocketHandle` as we can't easily do this later. Other then that, it looks good.

[2016-11-15 19:20] joperezr commented on #11257
We actually don't even use TestWithLocalLibraries in our pipebuilds anymore, so I guess we could close this one.

[2016-11-15 19:20] #11257 closed

[2016-11-15 19:27] tarekgh opened #13680 "Move IdnMapping from System.Globalization.Extensions to System.Runtime"
https://github.com/dotnet/coreclr/pull/8129

[2016-11-15 19:32] karelz commented on #2323
master. We do not use future at this point. And hopefully never will have to again.

[2016-11-15 19:33] karelz commented on #2323
Do you want to grab it @JonHanna?

[2016-11-15 19:37] JonHanna commented on #2323
I've an approach on my machine somewhere, but @GSPP might want to be the one to implement their proposal, so I'll wait and see if they shout for it first. (Also, I need to learn how API versioning works, is there a doc on what to do about the ref files etc? I've never touched that).

[2016-11-15 19:38] SetTrend commented on #4693
I see. Thanks for clarifying.

Yet, I don't undestand the down-voting. Fields cannot be added to interfaces - but that's not a drawback when interfaces are no requirement in a project.

When I'm creating view models, data models and other classes, converting all the fields to properties doubles workload (given that fields names are no longer than 10 characers ("`{ get; set; }`"), becoming rather t

[2016-11-15 19:41] karelz commented on #2323
@weshaggard can comment on API versioning.

[2016-11-15 19:47] weshaggard commented on #2323
Take a look at https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md. You can also look at some example of recently changes to System.Runtime ref as well.

[2016-11-15 19:48] AtsushiKan opened #13681 "Span: Restore Span<T>[index] return type to "ref T" and remove Span<T>.GetItem()"

[2016-11-15 19:48] thomaslevesque commented on #7593
Related: #2254

[2016-11-15 19:49] thomaslevesque commented on #2254
Related: #7593

[2016-11-15 19:54] danmosemsft commented on #2254
@botaberg ?

[2016-11-15 19:55] danmosemsft commented on #2254
Actually this is a dupe of #7593 I believe.

[2016-11-15 19:55] #2254 closed

[2016-11-15 19:55] danmosemsft commented on #7593
@terrajobst @KrzysztofCwalina do we want to contemplate "regular" API for this, or defer until slices?

[2016-11-15 19:58] corivera commented on #10198
Correction, secur32.dll appears to be the correct dll to use according to the Windows SSPI documentation. My test connections to Azure succeed when using that dll

[2016-11-15 19:59] kouvel commented on #6371
There are ways to diagnose these types of problems, they're not impossible to diagnose. I don't think hiding the problem is a good solution.

State changes could be made to be fairly deterministic, for instance if the change is common to all threads. Resetting them could cause perf issues in the app, which could be considered a break. Although the thread-specific state would disappear, the user ma

[2016-11-15 20:00] vcsjones commented on #13640
OK. I was hitting an unrelated build error which lead me to believe this was blocking me.

[2016-11-15 20:00] saurabh500 commented on #10198
@corivera

Did you drop a sni.dll compiled with secur32.dll to make this work?

[2016-11-15 20:01] corivera commented on #10198
@saurabh500 Yep

[2016-11-15 20:02] KrzysztofCwalina commented on #7593
I would do regular (string, int, int) APIs in corfx. We will do Span<char> APIs as an OOB package.

[2016-11-15 20:12] dmetzgar opened #13683 "Assign ActivityId in System.Transactions EventSource to the transaction id"
Will allow us to trace all the events associated with a given transaction

[2016-11-15 20:14] karelz commented on #13672
Long-term best bet is to move to .NET Core - that's where most of the innovation is happening (functionality, high performance improvements, etc.). If you have services running on .NET Framework and the performance and functionality is sufficient for you, then you can decide to stay of course.

Many of these things are available on .NET Core, they are just Windows-only, without Linux/Mac implement

[2016-11-15 20:15] #6375 closed

[2016-11-15 20:35] redknightlois commented on #8034
Beyond the code generated to be a few orders of magnitude worse, I cannot think of any other good enough reason. Unless of course there are optimizations in the new runtime that deal with this particular case in mind, in which case (of course) this analysis is moot. Having said that I tried this on 1.0.1.

Let me illustrate with an example.

Lets suppose that we take the actual code that is being

[2016-11-15 20:39] Priya91 commented on #12737
Since you mention lsb_release for retrieving this information, not all Linux distributions are LSB compliant. I had considering using this function while implementing ```RuntimeInformation.OSVersion```, and because there is no guarantee on this being available on all distros, POSIX compliant uname was chosen.

[2016-11-15 20:40] mellinoe commented on #13550
I haven't tried this exact scenario, so I can only really give general advice about things to check:

* Does the version of System.Private.CoreLib.dll (this is the actual core assembly used now, not mscorlib.dll) match the version of libcoreclr.so. E.g. are they built from the same git commit, and for the same configuration (i.e. linux / arm32)?
* Do you have all of the native dependencies install

[2016-11-15 20:41] svick commented on #4693
When I have to write lots of auto-properties, I use the `prop` code snippet. Using that, you don't have to type `{ get; set; }`, just the type and name.

[2016-11-15 20:41] mellinoe commented on #13550
Another thing to check: Are you using any native images in your framework? System.Private.CoreLib**.ni.dll**, for example. Try removing those and leaving the "regular" .dll files, if you can.

[2016-11-15 20:52] pkothare commented on #1336
The justification here to use 1 based instead of 0 based arguments for the method, is because of the semantics of language. For example, given the following array:

`var a = new int[] {100, 200, 300, 400};`

we can characterize 300 in the following way:

- It is the 3rd element in the array
- It has index value of 2
- It is the 3rd smallest value in the array

If the proposed naming convention `Nt

[2016-11-15 21:01] jnm2 commented on #4693
@SetTrend code snippets like the one @svick suggests are even faster than typing fields.
To refactor existing fields fast: select them all, press Ctrl+H, find `;`, replace with ` { get; set; }`, chose Selection, and press Alt+A (or flock the Replace All button).

IMO the big reason that you don't use public fields in models has nothing to do with interfaces. It's because the setters need to be che

[2016-11-15 21:08] mellinoe commented on #10439
Documentation has been added with #13678

[2016-11-15 21:08] #10439 closed

[2016-11-15 21:11] rahku commented on #9327
These overrides will be excluded for net core
public new Type GetType();
public override object InitializeLifetimeService();

[2016-11-15 21:15] weshaggard commented on #13640
@joperezr is disabling this project from building temporarily (https://github.com/dotnet/corefx/pull/13651/files/3878be1f7f72232775a089345539ba882c2e7eb1..fd662f31278cbb44eea393b0a631f3c512d796a3)  until I can get it properly fixed.

[2016-11-15 21:17] danmosemsft commented on #7593
OK. @alexperovich @joperezr please either give feedback or mark as api-ready-for-review.

@hughbe looks like you have this just for ints, do you believe that's sufficient to get almost all the benefit, or are you proposing to add it to all the other primitive types?

[2016-11-15 21:27] danmosemsft opened #13687 "Oversights in X509Certificates namespace"
Small omissions from X509Certificates ns.

`X509CertificateCollection` needs to derive from `CollectionBase`
`X509CertificateCollection.X509CertificateEnumerator` needs to be `new` ie
[code]

Also this method is missing.
[code]

/cc @steveharter

[2016-11-15 21:29] danmosemsft opened #13688 "Default is missing from SslProtocols"
[code]

[2016-11-15 21:31] rahku commented on #13555
Module.GetSignerCertificate has a dependency on crypto which is in corefx repo. Opened issue https://github.com/dotnet/standard/issues/99 for this.

[2016-11-15 21:35] danmosemsft opened #13689 "readonly on two Formatter fields does not match NS2.0"
These two fields were marked `readonly` in Core, but were not `readonly` in the full Framework, and thus not in Standard. Adding readonly to a protected/public field is a breaking change so we should probably revert this.

[code]

@shmao @zhenlan

[2016-11-15 21:40] stephentoub commented on #13689
I probably did that as part of porting it to core.  I'll fix it.

[2016-11-15 21:43] danmosemsft opened #13691 "DataContractJsonSerializer implementation overrides fewer methods from base class"
The presence or absence of an override is not a breaking change. It is really a matter for the implementation. However the API diff tool does flag them and I noticed that these are not present in Core but were in Desktop Could you please take a look and confirm that that is intentional?

[code]

In Desktop for example, we have
[code]

whereas in Core the base class will be called which has
[code]

[2016-11-15 21:43] jnm2 commented on #1336
Given https://github.com/dotnet/corefx/issues/2146, we might want `NthSmallestElementBy` for consistency. Also, I make good use of the `IComparer<TKey>` at times!

[2016-11-15 21:46] ianhays commented on #13270
@kevin-david FileStream was recently [moved to coreclr](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/corefx/System/IO/FileStream.cs) so any changes would need to go there.

As to the actual issue, I'm not surprised there are issues with `FILE_FLAG_NO_BUFFERING` as it isn't included as a `FileOption`. I agree that there is an issue here, but I'm not sure if that issue is that we're al

[2016-11-15 21:47] joperezr commented on #10688
@sepidehMS this is a very old workitem back from when we merged dev/xml branch into dev/api. I suppose all of these have been covered already by your Xml cleanups?

[2016-11-15 21:50] danmosemsft opened #13692 "Missing RuntimeHelpers.Equals"
This guy got overlooked

[code]

[2016-11-15 21:56] sepidehMS commented on #10688
@joperezr All Xml P2P references to csproj has already been removed. However, some Xml tests still reference the following:
[code]
What should happen with these? There is no pkgproj

[2016-11-15 22:02] kevin-david commented on #13270
Yeah, the only reason I even tried it was because of [this check](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/corefx/System/IO/FileStream.cs#L178) that explicitly allows `FILE_FLAG_NO_BUFFERING`, and it worked fine in the synchronous case.

If the "fix" is to remove that from the allowed flags, then that's fine, but it seems like a breaking change - granted, an undocumented one - bu

[2016-11-15 22:03] terrajobst commented on #8034
Performance was brought up during the meeting. The question is whether this API is likely to be on the hot path. To be clear, I'm not saying we shouldn't have the API. I'm merely saying unless there is a concrete scenario it's harder to design the API because we can't say "we need it for X, thus the measure of success is whether X can use it". That's important for APIs that don't allow you you to

[2016-11-15 22:12] JonHanna commented on #8034
I think that the more important it is to have a fast, good quality hash, the more important it is to tune the algorithm used to the object(s) and the range of values likely to be seen, and hence the more you need such a helper, the more you need to not use such a helper.

[2016-11-15 22:13] JeremyKuhne commented on #13270
I think that we should create an issue to add the `FILE_FLAG_NO_BUFFERING` flag and fix the issue here while we sort out getting the flag officially added. We'll also want to try and fix this for `FileStream`s created on existing handles.

@ericstj What are your thoughts?

[2016-11-15 22:13] ianhays commented on #13270
That's an odd check. I wonder why we would explicitly allow it but not include it in FileOptions. [We even have a test for it as well](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.IO.FileSystem/tests/FileStream/ctor_str_fm_fa_fs_buffer_fo.cs#L43). My guess would be that it's because we didn't want to/couldn't support it on Unix so we left it out of File

[2016-11-15 22:15] jamesqo commented on #8034
@terrajobst, performance was a major motivation for this proposal but not the only one. Having a dedicated type will help with discoverability; even with built-in tuple support in C# 7, developers may not necessarily know that they are equated by value. Even if they do, they may forget that tuples override `GetHashCode`, and will likely end up having to Google how to implement `GetHashCode` in .NE

[2016-11-15 22:18] sepidehMS commented on #13255
This seems to be fixed as it hasn't happened in any of the recent builds. Please re-open if appears again.

[2016-11-15 22:18] #13255 closed

[2016-11-15 22:19] steveharter commented on #13687
For X509Chain.Create just return new X509Chain() and ignore CryptoConfig

[2016-11-15 22:20] joperezr commented on #9756
The thing is that now the libraries in corefx compile against S.P.C.dll so I believe that this is not required anymore. I'll close it for now.

[2016-11-15 22:20] #9756 closed

[2016-11-15 22:23] redknightlois commented on #8034
@terrajobst At RavenDB GetHashCode performance had such a hit on our bottomline that we ended up implementing a whole set of highly optimized routines. Even Roslyn has their own internal hashing https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/InternalUtilities/Hash.cs also check the discussion on Roslyn specifically here: https://github.com/dotnet/coreclr/issues/1619 ... S

[2016-11-15 22:26] #12367 closed

[2016-11-15 22:28] stephentoub commented on #13637
Failing here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/11/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/12/

[2016-11-15 22:28] jamesqo commented on #8034
@JonHanna

So you're saying that adding a helper class would be bad, since it would encourage people to just throw in the helper function without thinking about how to do a proper hash? It seems like the opposite would be true, actually; `Hash.Combine` should improve general hash quality. People who know how to do hashing can evaluate `Hash.Combine` to see if it fits their use case. People who don

[2016-11-15 22:30] joperezr commented on #10688
I see, in that case I guess we can close this issue and leave those P2P for now since they are required. This was only meant to track workarounds caused by the merge. Thanks @sepidehMS !

[2016-11-15 22:30] #10688 closed

[2016-11-15 22:30] #13448 closed

[2016-11-15 22:32] svick commented on #3093
@karelz I think I would prefer a name that works well with `using static System.Linq.Enumerable;`.

For comparison, looking at whether the existing non-extension methods on `Enumerable` work in that situation, I'd say that `Range()` is good, `Repeat()` is acceptable, only `Empty()` is bad.

[2016-11-15 22:38] joperezr commented on #7593
API looks good to me, so I'll mark as ready for review and we'll check it on triage.

[2016-11-15 22:47] #13489 closed

[2016-11-15 22:57] #13689 closed

[2016-11-15 23:06] jnm2 commented on #3093
@stephentoub It would return a struct which implements IEnumerable but has GetEnumerator return another struct, etc.

[2016-11-15 23:11] danmosemsft opened #13694 "Two more parameter renames to reverse"
[code]

The latter unfortunately I messed up in 2c32fb1 - I renamed the impl, which was already correct, instead of the ref.

[2016-11-15 23:13] stephentoub commented on #3093
Oh, you're suggesting its signature actually include the struct rather than IEnumerable<T> as the return type?  I'm not clear on what scenarios this really helps.  Presumably the reason you want an enumerable for a single object is because you're going to be using it as part of other code that works with enumerables, at which point you're going to have to cast this to IEnumerable<T> and box it.  I

[2016-11-15 23:18] yetanotherchris commented on #13672
@karelz I wasn't planning on changing anything! (I'm not sure how I would anyway) I am just after an idea of where the .NET Framework 4.X/5 is heading - if there is a current plan that extends for 1 or 2 years. My thoughts on slimming the framework down were just me pontificating on how it might all pan out in the future.

I assumed .NET core was the recommended path unless you are creating very-s

[2016-11-15 23:23] karelz commented on #3093
I have no idea why you rated them this way. Can you please shed some light here? Why is `Empty` worse than `Range`? Maybe post a code snippet demonstrating your point may help me understand ...

[2016-11-15 23:23] jamesqo opened #13695 "Specialize ImmutableArray.InsertRange for arrays."
I made an optimization in #13158 to make `ImmutableArray.InsertRange` for well-known collections, including arrays, lists, and `ImmutableArrays`. Unfortunately, the optimization for arrays had to be reverted. For context, see https://github.com/dotnet/corefx/pull/13158#discussion_r86702932

There are a few possible workarounds for this:

1) Use a for-loop, which will be less efficient than `Array.

[2016-11-15 23:38] karelz commented on #13672
Yes, there is plan -- keep going in the direction we are going. Innovate, while keeping high compat bar.

Nope, that is not the plan. First time I heard anyone raising it.

The recommendation is to pick which product suites best your needs. I don't know which needs you have, so I can't tell which one is the right for you.
In general, I would suggest to use .NET Core where you can as it provides fa

[2016-11-15 23:40] jamesqo opened #13696 "Linq: Where(pred).First should not be faster than First(pred)"
Related StackOverflow question: http://stackoverflow.com/q/8663897/4077294

Because `Where` is specialized internally for different types, e.g. arrays and lists, we can iterate through them directly in `MoveNext` and avoid some virtual dispatch. `First(pred)`, on the other hand, does not do any such specialization. This means that `array.Where.First` will be faster than `array.First` if the first

[2016-11-15 23:43] svick commented on #3093
@karelz

If I saw code like `var range = Range(1, 10);`, I would expect `range` to be sequence of consecutive numbers.

If I saw `var repeated = Repeat(-1, 10);`, I would expect `repeated` to be a sequence of -1 repeated 10 times.

If I saw `var empty = Empty<int>();`, I wouldn't know what to expect.

Likewise, if I saw `var created = Create(1);`, I wouldn't know what to expect.

My point is that

[2016-11-15 23:45] jamesqo commented on #6695
Great! I will submit a PR right away.

[2016-11-15 23:48] yetanotherchris commented on #13672
It sounds like for web usage my original confirmation bias is true and .
net core is the best path - thanks for clearing it up.

On Tue, 15 Nov 2016, 23:38 Karel Zikmund, <notifications@github.com> wrote:

--

Sent from my Android

[2016-11-15 23:50] danmosemsft commented on #6999
It is present now (though not shipped)

[2016-11-16 00:03] alexperovich commented on #12644
@xoofx Are you working on this?

[2016-11-16 00:18] JonHanna commented on #13696
I think the first thing is to have a strong idea of which are faster, and by how much.

[2016-11-16 00:26] ianhays commented on #13291
They're exposed in System.Runtime but implemented in coreclr.  It looks like [we've already got a version of SafeAccessTokenHandle there](https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/mscorlib/src/System/Security/SafeSecurityHandles.cs#L15) - can we just expose it and use that?

[2016-11-16 00:27] bendono commented on #13374
What are the semantics of a null array? Should it return null or raise an exception? If only non-null values are permitted, then rather than static, this could be an instance method. That way the null check as well as potential exception could be avoided.

[2016-11-16 00:33] JonHanna commented on #13374
I know accepting null as the `this` to an extension isn't the common pattern, but I think it would be more uesful.

[2016-11-16 00:39] terrajobst commented on #13374
To be clear, `Array.Clone` would be a static method and not an extension method. It can't be an extension method because and instance method with the same signature exists and thus will be preferred by the compiler.

I think accepting and returning `null` would be useful.

[2016-11-16 00:43] shmao opened #13699 "DCS/DCJS does not Support ExtensionDataObject in ReflectionOnly mode"
Fix for #12767 made DataContractSerializer and DataContractJsonSerializer support ExtensionDataObject. But ExtensionDataObject tests failed in ReflectionOnly mode. To fix this, have a look at PR #13701 and made changes in the following files,

[code]

[2016-11-16 00:44] karelz commented on #3093
@svick I see your point now, thanks for explanation. Is there any special reason why `Enumerable` should play well in `using` statements on the class name?
I personally never used `using` on a class (class name as context is great in the code IMO). Naively, I don't believe our methods in general are well named at all to support this pattern. I don't think we should even go after that goal - that w

[2016-11-16 00:49] karelz commented on #13672
Happy to hear my answers helped -- just want to emphasize that the recommendation is specific for each project, not general for all web usage.
BTW: UI frameworks are not supported on .NET Core today - you have to use full .NET or Xamarin.

[2016-11-16 00:49] #13672 closed

[2016-11-16 00:52] danmosemsft opened #13700 "Remove sealed from FirstChanceExceptionEventArgs"
This was changed to sealed, which is a breaking change (albeit in this case perhaps unlikely to affect anyone)

[code]

The impl is not sealed however the ref in both coreclr and corefx need to be fixed.

[2016-11-16 01:02] weshaggard commented on #13291
If the one in CoreLib is actually exposed and used then we could type-forward it there if not it shouldn't be a big deal to implement it in System.Runtime directly. Either way it should be moved into System.Runtime ref.

[2016-11-16 01:05] svick commented on #3093
@karelz

I think that it is something that's nice to have, especially for types that already work at least somewhat with `using static` and that are already used with it (see [this GitHub search](https://github.com/search?p=2&q=%22using+static+System.Linq.Enumerable%22&type=Code) for some examples).

But I agree that repeating context is not a good idea. And I don't have a good alternative name. (

[2016-11-16 01:16] danmosemsft opened #13703 "AES missing member"
`Create()` should be `new` and we are missing `Create(string algorithmName)`.

[code]

[2016-11-16 01:16] karelz commented on #1336
The more I think about these APIs, the less I am convinced that they are widely used/valuable for us to include them in BCL. Maybe they should be part of external library, e.g. together with specialized sort algorithms (#2252)?

[2016-11-16 01:18] danmosemsft commented on #13703
Might as well roll it into this issue, we are also missing AesManaged.FeedbackSize property.

[code]

[2016-11-16 01:20] terrajobst commented on #8034
We discussed this a bit more and you convinced us :-)

A few more questions:

1. We need to decide where to put this type. Introducing a new namespace seems odd; `System.Numerics` might work though. `System.Collections.Generic` might also work, because it has the comparers and hashing is most often used in the context of collections.
2. Should we provide an allocation-free builder pattern to combi

[2016-11-16 01:22] karelz commented on #3093
More used in `using` than I expected, thanks for the data @svick!

So far the best name is `Create`, if someone comes up with better name, we can consider it (`Singleton` is not best choice).

[2016-11-16 01:23] jamesqo commented on #13374
@JonHanna, @terrajobst Why do you think returning null for null would be useful? If this is meant to supplant usages of `(T[])array.Clone()`, and if that throws a (nullref) exception today if `array` is null, then wouldn't it be better for `Array.Clone(array)` to also throw if `array` is null?

[2016-11-16 01:32] #13480 closed

[2016-11-16 01:36] jamesqo commented on #8034
🎉

If we decide not to add a new namespace, then it should be noted that any code that has a class named `Hash` and a `using System.Numerics` directive will fail to compile with an ambiguous type error.

This sounds like a great idea. As a couple of initial suggestions, perhaps we should name it `HashBuilder` and have it `return this` after every `Add` method, to make it easier to add hashes like

[2016-11-16 01:43] karelz commented on #8034
@jamesqo please update the proposal at the top when there is consensus on the thread. We can then do final review. Assigning to you for now as you drive the design ;-)

[2016-11-16 01:47] karelz commented on #11793
@Priya91 can we close it now that we merged your main PR? Remaining pieces should be tracked by separate issues, right?

[2016-11-16 01:51] terrajobst commented on #8034
Depends on the actual scenario. In many cases the compiler will prefer your type as the defined namespace hierarchy of the compilation unit is walked before considering using directives.

But even so: adding APIs can be a source breaking change. However, it's impractical to avoid this, assuming we want to make forward progress 😄 We generally strive to avoid conflicts by, for example, using names t

[2016-11-16 01:58] terrajobst commented on #13374
I was thinking of cases where I've implemented `Clone()` for compound objects. It's much easier if you can simply call the `.Clone(array)` method without having to worry whether the array is `null` or not. Cloning a `null` array is well-defined by returning `null`.

[2016-11-16 02:00] terrajobst commented on #1336
I agree with @karelz. This feels incredibly specialized.

[2016-11-16 02:03] karelz commented on #8034
I like @jamesqo's idea of chained calls (return `this` from instance methods `Combine`).

I would even go as far as removing the static methods entirely and keep just the instance methods ...

`Combine(long hashCode)` will just cast down to `int`. Do we truly want that?
What is the use case for `long` overloads in the first place?

[2016-11-16 02:06] JonHanna commented on #13374
Yes, generally how I'm going to treat null falls into one of the following:

1. I've my own special case rule — the approaches are equal, because I have to test anyway.
2. I want null for null — just passing null and getting it back is easier than having to test to avoid the ANE.
3. A null shouldn't be there and will eventually error. ANE sooner than later is slightly better, but not a lot; it's s

[2016-11-16 02:06] lextm commented on #6999
Please go to https://github.com/dotnet/corefx/issues/11793 for more details.

[2016-11-16 02:11] JonHanna commented on #2317
Any more on this API review?

[2016-11-16 02:37] redknightlois commented on #8034
@karelz Please don't remove them, structs are not free. Hashes can be used in very hot paths, you certainly dont want to waste instructions when the static method would be essentially free. Look at the analysis of the code where I showed the real impact of the enclosing struct.

We used the ```Hashing``` static class to avoid name clashes and the code looks good.

[2016-11-16 02:37] jiangzeng opened #13705 "System.Xml.Xsl.XslCompiledTransformApi.Tests threw "System.NullReferenceException""
No results generated.

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161115.01/workItem/System.Xml.Xsl.XslCompiledTransformApi.Tests/details/4944a05a-b748-44ab-b117-f6714bb60568

[code]

Build : Master - 20161115.01 (Core Tests)
Failing configurations: OSX.1011.Amd64:AnyCPU-Debug

[2016-11-16 02:40] vcsjones commented on #12396
I took a look at this, I think there is a little more nuance to it.

In Ubuntu 16.04-x64, an `IOException` is thrown if the directories are not empty. For example, this will throw:

[code]

If the b\ path is empty (the destination), then an exception is not thrown. This behavior is also consistent with Mac.

Windows is different. Windows will throw even if "a" and "b" are empty.

[2016-11-16 02:46] karelz commented on #8034
@redknightlois I wonder if we should expect same 'bad' code also in a case of non-generic struct with one int field.
If that is still 'bad' assembly code, I wonder if we could improve JIT to do better job in optimizations here. Adding APIs just to save couple of instructions should be our last resort IMO.

[2016-11-16 02:48] jiangzeng opened #13706 "System.Xml.Xsl.XslTransformApi.Tests threw "System.Xml.Tests.VerifyException""
No results generated.

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161115.01/workItem/System.Xml.Xsl.XslTransformApi.Tests/details/4944a05a-b748-44ab-b117-f6714bb60568

[code]

Build : Master - 20161115.01 (Core Tests)
 Failing configurations: OSX.1011.Amd64:AnyCPU-Debug

[2016-11-16 03:03] vcsjones commented on #12396
Same problem as #2460 but for directories.

[2016-11-16 03:17] jamesqo commented on #2317
Huh, I had forgotten about this proposal. Waiting for @VSadov per @terrajobst's comment

[2016-11-16 03:23] jamesqo commented on #8034
@redknightlois Curious, does the JIT generate any worse code if the struct (in this case `HashCode`) can fit in a register? It'll only be an `int` big.

Also, I've been seeing lots of pull requests in coreclr recently to improve the code generated around structs, and it looks like dotnet/coreclr#8057 will enable those optimizations. Perhaps the code the JIT generates will be better after this chan

[2016-11-16 03:40] JonHanna commented on #2317
I actually hit a bug caused by the disconnect between IOrderedQueryable and IOrderedEnumrable earlier this week. It was on the desktop framework so this being in core wouldn't have helped me, but it brought it to mind.

[2016-11-16 04:02] jnm2 commented on #3093
@stephentoub

Yeah, looks like there's nothing here. My brain hadn't reached the conclusion. So next question is, what's the least expensive allocation? Probably `T[]` is as cheap as any.

[2016-11-16 04:07] jamesqo commented on #8034
@karelz, I agree with you-- assuming the JIT generates decent code for an `int`-sized struct (which I believe it does, `ImmutableArray` has no overhead for example) then the static overloads are redundant and can be removed.

@terrajobst Some more ideas I have:

- I think we can combine your & my ideas a bit. `HashCode` seems like a good name; it doesn't have to be a mutable struct following the b

[2016-11-16 04:50] jnm2 commented on #3093
I like the name Single a lot, especially when a single item is going in a slot where multiple items are expected.

[2016-11-16 05:38] TingluoHuang opened #13708 "Console.ReadLine(); cause process hung when execute dotnet core console app from PowerShell ISE"
[code]
[code]

When execute the console app published by `dotnet publish` from PowerShell ISE, the process will hung and not able to finish readline, also privouse `Console.Write()` will not be print out.
![image](https://cloud.githubusercontent.com/assets/1750815/20335994/eb9edd74-ab94-11e6-8204-c11279e4c0a3.png)

[2016-11-16 06:45] bartonjs commented on #13703
This is not currently actionable. @steveharter - is this one not already on the list of all the Create methods you're already doing?

(The FeedbackSize member can be done, though)

[2016-11-16 07:18] BGrojer commented on #2394
Any update on that topic? The "port-to-core" tag was removed few days ago. So we can expect that this will not happen?

[2016-11-16 07:31] xoofx commented on #12644
@alexperovich sure, I can rebuild my PR, add some tests, hopefully later this week

[2016-11-16 07:40] pkothare commented on #1336
I agree with @karelz to a certain extent. However, on the flip side, pure statistics are also starting to play a larger role in the realm of computing and becoming more mainstream(everything from building dashboards and collecting metrics to machine learning).

This proposition stemmed from a need to analyze relatively large in memory datasets that were created using BCL generic collections. The q

[2016-11-16 10:06] JonHanna commented on #3093
`Single` is already a name of a method on `Enumerable`. Even if it didn't clash due to overloads it still clashes mnemonically.
I think I like `Create` the best myself.

[2016-11-16 10:13] JonHanna commented on #1336
I like the idea of a `Statistics` class providing for many of these, separate to Linq (though perhaps with overloads for `IQueryable` so that it would play nicely with Linq providers). Added to `Enumerable` and `Queryable` `NthOrder` does seem rather specialised, but `Statistics.NthOrder` seem an obvious method.

[2016-11-16 10:20] surculus12 commented on #13422
Was this included in yesterday's System.Data.SqlClient release? (Wishful thinking here!)

If not, do you have a rough date on the next release?

[2016-11-16 12:18] SetTrend commented on #4693
@svick : Good idea!

I guess I'm just acquainted to using fields instead of properties from the other languages I'm working with, like `JavaScript` and `C`/`C++`. I guess I just dislike the additional effort of reminding myself about the realm I'm eventually working in.

@jnm2 : That depends on the design you're using: If you're using `POCO` entities and utilize an additional layer for validation,

[2016-11-16 12:25] jnm2 commented on #13619
Thank you, I'm unblocked.

[2016-11-16 12:25] #13619 closed

[2016-11-16 12:47] jnm2 commented on #4693
@SetTrend I subscribe to the "invalid object is an anti-pattern" view, but to each his own =)

[2016-11-16 12:54] SetTrend commented on #4693
😉

[2016-11-16 13:06] redknightlois commented on #8034
Luckily it is easy to check. And the good news is that it works properly as it is 👍

![image](https://cloud.githubusercontent.com/assets/1045411/20347609/c613d8f6-abe0-11e6-99c6-c632d492558b.png)

Probably, the code is not nearly as straightforward, having an implicit conversion would clean it up a bit. I still like the idea of being able to have multiple parameters interface too.

[code]

Combine

[2016-11-16 13:42] stephentoub commented on #3093
@jnm2, the smallest possible allocation on 64-bit is 24 bytes: 16 bytes for the object header, and then a minimum of 8 bytes for the state of the object.  So a T[1] where T is <= 8 bytes would be 24 bytes.  However, if you're asking as part of thinking through an implementation of the method being discussed here, almost certainly you'd want the object to be a custom one that implements ```IEnumera

[2016-11-16 13:47] #13201 closed

[2016-11-16 14:03] paalmoest commented on #8645
Will the fix for this issue be present in core 1.1 ? @saurabh500

[2016-11-16 16:02] tmds opened #13710 "Path.GetTempPath does not return a user specific folder on Unix systems"
On Unix systems Path.GetTempPath returns "/tmp" unless the TMPDIR envvar is set.

According to the documentation, this method returns the path of the current user's temporary folder.
On Windows it returns: "%USERPROFILE%\AppData\Local\Temp".

This is causing an issue for the NuGet.Client because the program assumes it is the owner of the temp directory, see https://github.com/NuGet/Home/issues/279

[2016-11-16 16:30] stephentoub commented on #13710
What directory are you expecting this to return?  On Linux there is no per-user tmp folder provided by the OS, so the user's temp folder is the global one.  Is the suggestion that we manufacture a per-user subdirectory of /tmp/ (but presumably only if TMPDIR isn't set)?  (Note that the current behavior matches the behavior what Mono has.)

[2016-11-16 16:33] vcsjones commented on #13710
There really is no such thing as a "per-user" temp directory in all Linux distros. This is likely going to be a problem specific to nuget. The Linux-y way to handle the nuget issue is to have make a unique directory under `/tmp` for a user or a given operation.

Not quite. It returns `user32::GetTempPath` which is also capable of returning a "global" path, like C:\Windows\Temp (such as an IIS AppP

[2016-11-16 16:48] mdsharpe commented on #11100
Encountered when running application over HTTPS, which worked fine over HTTP. Not sure if any other significant differences.
Workaround of setting `newversion="4.0.0.0"` worked for me.

[2016-11-16 16:49] karelz commented on #3093
Good point from @stephentoub that majority in `Enumerable` creates something. I like `Elements` and `Items`.

[2016-11-16 17:05] karelz commented on #1336
@pkothare I agree that statistics are useful in general. The point is that adding just one more is not going to make us much more "complete" in BCL. We should probably have also standard deviation, etc. All those things would be best added in a separate class, ideally in separate library. They can be extension methods for ease of use. They will be used by folks who care about these things more tha

[2016-11-16 17:07] karelz commented on #11220
@JeremyKuhne @ianhays ping?

[2016-11-16 17:15] ianhays commented on #11220
I like these. There are a few places where we have helpers like this that lack async equivalents e.g. [ZipFile](https://github.com/dotnet/corefx/issues/5681). I doubt we'll face much resistance to adding these, so lets take it to the next API review session.

[2016-11-16 17:23] danmosemsft commented on #12228
@jimcarley what's the next step here -- more logging? We can close this issue, but without reason to believe it is fixed, it will get reopened again eventually.

[2016-11-16 17:24] danmosemsft commented on #12696
@Priya91 can you please go ahead and do the port, and close this issue? NB: it perhaps need a fix in 1.1

[2016-11-16 17:24] pkothare commented on #1336
Understood. Is a formal API proposal still in order or should this issue be closed and reopened under a different repo?

[2016-11-16 17:26] danmosemsft commented on #13356
@Priya91 in the interests of keeping clean CI it would be great to fix this this week. Worst case disable with this issue #.

[2016-11-16 17:30] danmosemsft commented on #4928
@JeremyKuhne do you still have time to take this API proposal forward (eg change to append)? If not someone else should...

[2016-11-16 17:31] benjamin-bader commented on #3093
Perhaps my years on the JVM are showing, but I still like good old `Of`: concise and descriptive:

[code]

[2016-11-16 17:39] danmosemsft commented on #13703
Ah I see mention of Create in https://github.com/dotnet/corefx/issues/13703. I did attempt to search for duplicates -- I'm trying to open issues for anything overlooked.
@steveharter if https://github.com/dotnet/corefx/issues/13703 covers that already then I'll edit this issue to just FeedbackSize.

[2016-11-16 17:40] karelz commented on #1336
Yes, we should close the issue - looks like no one will push back strongly. If I am wrong, then we can reopen again.
There is no other appropriate repo I know about -- I would expect someone to create a new library or contribute to an existing one.

[2016-11-16 17:40] #1336 closed

[2016-11-16 17:43] jimcarley commented on #12228
Now that we have tracing capabilities inside System.Transactions itself, I am looking into turning on that tracing for this test to get more information.

[2016-11-16 18:08] steveharter commented on #13703
The CryptoConfig work handles all static Create methods - issue #12327. However the X509 Create method mentioned in new issue #13687 can be done there as that's the only member in that assembly and that issue is dealing with other X509 issues, and doesn't require CryptoConfig.

FeedbackSize in issue #12368. If it's not actionable please mention that in the issue

[2016-11-16 18:10] karelz commented on #4935
@steveharter can you please make a list of things that should happen? Or decide all is ok enough.

[2016-11-16 18:14] karelz commented on #4866
We need API proposal for each algorithm.
Keep in mind that each new algorithm has to receive Microsoft crypto-board approval - we can help get it started, but there is no guarantee about the result.

[2016-11-16 18:16] karelz commented on #2106
We need API proposal for each algorithm.
Keep in mind that each new algorithm has to receive Microsoft crypto-board approval - we can help get it started, but there is no guarantee about the result.

[2016-11-16 18:19] karelz commented on #4981
@steveharter can you please make a list of things that need to happen? Or close if nothing is needed?

[2016-11-16 18:21] karelz commented on #4986
We need API proposal for each algorithm.
Keep in mind that each new algorithm has to receive Microsoft crypto-board approval - we can help get it started, but there is no guarantee about the result.

[2016-11-16 18:22] karelz commented on #5008
@bartonjs can you please double check the work needed here? Please mark it "up for grabs" if appropriate.

[2016-11-16 18:23] karelz commented on #5162
We need API proposal for the algorithm.
Keep in mind that each new algorithm has to receive Microsoft crypto-board approval - we can help get it started, but there is no guarantee about the result.

[2016-11-16 18:32] karelz commented on #6550
Next step: @bartonjs needs to provide the (pre-approved) API proposal.

[2016-11-16 18:32] karelz commented on #7023
We need API proposal for each algorithm.
Keep in mind that each new algorithm has to receive Microsoft crypto-board approval - we can help get it started, but there is no guarantee about the result.

[2016-11-16 18:38] karelz commented on #7127
This is XXXL size, also a bit vague.
If there are concrete improvements in existing APIs, we can take them.

If you have idea for overall brand new APIs design, we can discuss it. Another option is to create a new NuGet package and start experimenting there. If it is successful and popular, we can eventually consider adding it into BCL as replacement of current APIs..

I don't think it makes sense

[2016-11-16 18:38] #7127 closed

[2016-11-16 18:39] karelz commented on #7129
We need API proposal.

[2016-11-16 18:45] karelz commented on #7325
The API is available on Windows. We do not think it makes too much sense on Linux/Mac.
Please let us know if you disagree.

[2016-11-16 18:45] #7325 closed

[2016-11-16 18:48] karelz commented on #7779
Dispose either has to eat the exception (which is bad), or not do the thing which caused it - which is functional breaking change against Desktop, which we probably shouldn't take.

[2016-11-16 18:49] karelz commented on #8187
We need API proposal.

[2016-11-16 18:51] karelz commented on #8491
We need API proposal - especially the name (we have to avoid collision with existing methods)

[2016-11-16 18:55] karelz commented on #8515
Blocked on Desktop shipping with TargetingPack (4.6.3+)

[2016-11-16 18:58] karelz commented on #8688
Should be fairly simple to implement (10 mins + adding new API) - up for grabs.

[2016-11-16 19:01] PinpointTownes commented on #8491
`GetAnyPublicKey()` and `GetAnyPrivateKey()` sound a bit weird, as they seem to imply a certificate may contain multiple public keys/private keys (which is, AFAIK, not possible, at least with X.509 v3).

Since @bartonjs wants these API to return non-shared instances, why not something like `GetDisposablePublicKey()`/`GetDisposablePrivateKey()`?

[2016-11-16 19:02] karelz commented on #7325
BTW #9225 tracks Unix identity feature.

[2016-11-16 19:02] karelz commented on #9225
We need API proposal -- will likely be involved.

[2016-11-16 19:03] karelz commented on #9252
We need to cherry pick the commit (likely #9659). Should be easy and is needed for 1.2.

[2016-11-16 19:05] karelz commented on #9369
We need API proposal.

[2016-11-16 19:08] karelz commented on #9545
We need formal API proposal.

[2016-11-16 19:10] adamsitnik opened #13717 "netcoreapp11 methods did not get exposed in System.Runtime package"
Today when .NET Core 1.1 got released I wanted to make use of the new `GC.GetAllocatedBytesForCurrentThread ` method which got exposed [here](https://github.com/dotnet/corefx/pull/12489) by @jkotas .

However I can't do so, I get `error CS0117: 'GC' does not contain a definition for 'GetAllocatedBytesForCurrentThread'` error when trying to use it.

`dotnet --version: 1.0.0-preview2-1-003155`

My p

[2016-11-16 19:10] karelz commented on #9966
It should be 3 lines of code - anyone wants to grab it?

[2016-11-16 19:18] karelz commented on #10443
Should be fairly simple (1h) work item.

[2016-11-16 19:20] bartonjs commented on #10218
Likely the "OpenCSP failed" exception happened during the time when we didn't have the WindowsCryptographicException subype, and the fix here is to find that throw `new CryptographicException(...)` and replace it with throwing the Windows-specific subtype exception.  (rather than doing a lookup on the message contents, which are handled  by the windows subtype already)