[2016-11-16 19:21] karelz commented on #10534
We think it works (#10801 was fixed). Please reopen if not.

[2016-11-16 19:21] #10534 closed

[2016-11-16 19:22] karelz commented on #10544
We need confirmation if the slow down is in .NET Core code (something we could potentially change) or in Windows libraries (something we can't change).

[2016-11-16 19:23] iamjasonp commented on #10534
cc: @hongdai, putting this on your radar just in case you want to double check

[2016-11-16 19:24] karelz commented on #10749
We need formal API proposal

[2016-11-16 19:24] steveharter commented on #11646
See also issue #10218

[2016-11-16 19:25] karelz commented on #10760
We need someone to debug it.

[2016-11-16 19:26] karelz commented on #11046
We need a test and likely add one more fallback call.

[2016-11-16 19:28] karelz commented on #11050
We need to get it under debugger and find out if it is OpenSSL bug, or .NET Core bug.

[2016-11-16 19:33] PinpointTownes commented on #10749
If I had to design such an API, I'd personally go with something like that:

[code]

It could even support string comparison:

[code]

[2016-11-16 19:53] Priya91 commented on #11793
Yeah that's correct. Closed.

[2016-11-16 19:53] #11793 closed

[2016-11-16 19:54] sdrapkin commented on #10544
I assume this issue is assigned to someone on the corefx team to resolve. The new `AesCng` is unusable since it takes over 2 seconds to ECB-encrypt 16 bytes.

Is someone finally taking personal ownership/responsibility to debug & fix, or are *we* going to continue describing what *we* need, such as "time in a profiler", "finding where the slowdown is", etc.?

[2016-11-16 19:56] stephentoub commented on #11220
@khellang, how did you decide whether to have an overload that does / does not take a CancellationToken?

[2016-11-16 20:04] karelz commented on #10544
@sdrapkin no, it is not assigned currently to anyone. It is marked "up for grabs" - so anyone from .NET Core community can take it and work on it.

We do not consider the issue critical for next release (1.2) - the perf difference is there for quite some time and this is the first and only complaint, so it didn't make the cut. Also there is non-trivial chance the problem is in Windows code - exter

[2016-11-16 20:06] steveharter commented on #12320
Additional context: UniversalCryptoDecryptor contains the PadBlock() and DepadBlock() methods which needs to add support for the two new padding modes. The logic should be taken from desktop CryptoUtils class.

Appropriate tests should be written to test the new padding modes.

[2016-11-16 20:06] safern opened #13721 "Remove System.Security.Permissions dependency on System.Diagnostics.*Trace"
With PR #13320 System.Security.Permissions dependency was added because some members had CAS Attributes, but then we deleted those attributes and forgot to break the dependency.

[2016-11-16 20:09] pasikarkkainen commented on #2089
So, @tquerec, how do we get System.DirectoryServices flagged for .NET Core 1.2 ? At least System.DirectoryServices.Protocols. Is that possible?

Thanks a lot!

[2016-11-16 20:24] khellang commented on #11220
First I wanted all of them to take a `CancellationToken`, but since most of the methods deals with `FileStream` and a `Stream[Reader|Writer]`, I was restricted to either checking cancellation in a loop, or pass the token along to the reader/writer API and let it handle cancellation.

Unfortunately, the `StreamReader.ReadToEndAsync` and `StreamWriter.WriteAsync` methods doesn't take a ´Cancellation

[2016-11-16 20:24] karelz commented on #2089
I met with @tquerec on Monday. I owe everyone a write up. In nutshell:

System.DirectoryServices is doable on Windows-only (it calls into Windows DLL where all the implementation lives), totally unknown for Linux/Mac
System.DirectoryServices.AccountManagement sits on top of it, so also doable Windows-only, and unknown for Linux/Mac
System.DirectoryServices.Protocols should be reasonably simple for

[2016-11-16 20:32] mellinoe commented on #13323
I debugged this and found that the test is hanging at this call:
https://github.com/dotnet/corefx/blob/a7a3d8b1dd428bd449c7b90d29a729bc19184364/src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs#L153

There is a thread waiting at this line in `SocketAsyncEngine.EventLoop`:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketAsyncEngine

[2016-11-16 20:32] tquerec commented on #2089
@karelz System.DirectoryServices.ActiveDirectory is based on a large number of Windows specific APIs so it falls into the same bucket as S.DS and S.DS.AM.

[2016-11-16 20:36] stephentoub commented on #11220
@khellang, thanks.

We don't need to be constrained by what's currently available on StreamReader/StreamWriter... we don't even need to use StreamReader/Writer in the implementation if we don't want to, it's an implementation detail.  Let's design the APIs we want and then figure out how to implement them.

What's the limitation with FileStream?

I think it makes sense for there to be an overload

[2016-11-16 20:40] rock-meister commented on #2089
@karelz I am not sure what you mean by a windows only solution for 1.2.  We already have a windows only solution that works.

"frameworks": {
    "net452": {
      "frameworkAssemblies": {
        "System.DirectoryServices": "4.0.0.0",
        "System.DirectoryServices.AccountManagement": "4.0.0.0"
      }
    }
  },

[2016-11-16 20:43] karelz commented on #2089
@rock-meister I mean .NET Core. The one you mentioned targets "full" .NET 4.5.2+.

[2016-11-16 20:46] khellang commented on #11220
Yeah, I just followed what was already there (the sync overloads). Is there a reason why those reader/writer methods don't take a `CancellationToken` in the first place?

Nothing. Where I've used the `FileStream` directly, I've used methods that take a `CancellationToken`.

Alright. I'll change it back to include cancellation tokens for the `[Read|Write|Append]AllTextAsync` APIs :smile:

[2016-11-16 20:49] stephentoub commented on #11220
Why the synchronous ones don't?  There are very few synchronous methods in the framework that take a CancellationToken; the only ones I can think of are on synchronization primitives, e.g. Wait(CancellationToken).  While there is some value in adding sync methods that take CancellationToken, it's generally much less valuable than for the async ones, because of usage patterns but also because of th

[2016-11-16 20:50] khellang commented on #11220
No, I mean `StreamReader.ReadToEndAsync` and `StreamWriter.WriteAsync` :smile:

[2016-11-16 20:52] stephentoub commented on #11220
Oh... no idea why they were introduced without them ;)

[2016-11-16 20:55] khellang commented on #11220
So... do I smell another API request/proposal/PR? :wink:

[2016-11-16 20:55] JeremyKuhne commented on #4928
@AlexRadch, @vancem, @jkotas  I'm fine with just the Append. That said, there is no way to create a totally empty StringBuilder- you really need to `sb2 = new StringBuilder(sb1.Length).Append(sb1)`. Not terribly elegant, but with anything you do you should be calculating needed capacity to get the best performance.

So lets submit these to API review:

[code]

[2016-11-16 20:59] stephentoub commented on #11220
That ones a bit trickier, as there are virtual methods involved; ideally the virtual one would have been the one accepting a CancellationToken.  We also don't want things proposed just because there's a theoretical gap, but rather something that is actually needed (I'm not casting judgement on this case, just citing that we only want to spend time on things that actually move the needle). But you'

[2016-11-16 20:59] karelz commented on #13717
@ericstj @weshaggard @mellinoe can you please advise?

[2016-11-16 21:01] weshaggard commented on #13717
These new APIs didn't ship as part of .NET Core 1.1 release, they are targeting the .NET Core 1.2 release. There is some confusion as our master branch is still using the netcoreapp11 target framework because we haven't got the necessary nuget tool updates to start using netcoreapp1.2 yet. So don't take what you see in master targeting netcoreapp1.1 as a sign that it should have been in the .NET C

[2016-11-16 21:02] JeremyKuhne commented on #11220
I'm happy with the current state of the proposal, sorry about the dead air.

[2016-11-16 21:08] karelz commented on #7660
@divega @rowanmiller @lajones do you think this one fits your area better?

[2016-11-16 21:12] JonHanna commented on #2323
I think that was a respectable amount of time to give @GSPP first dibs.

[2016-11-16 21:18] karelz commented on #8359
Should be fairly simple to do. Anyone wants to pick it up?

[2016-11-16 21:20] danmosemsft commented on #13703
My bad for not seeing hte dupes. Great.

[2016-11-16 21:20] #13703 closed

[2016-11-16 21:21] karelz commented on #9946
It is unclear what this one tracks -- MEF1 (Composition) or ComponentModel.DataAnnotations. If we still need to track them, let's create new separate issues for each.

[2016-11-16 21:21] #9946 closed

[2016-11-16 21:22] karelz commented on #9946
BTW: MEF1 is tracked by #11857.

[2016-11-16 21:25] karelz commented on #11857
@weshaggard do you think it would be valuable, or should we just point devs to MEF2? (which already is part of .NET Core)

[2016-11-16 21:27] divega commented on #7660
@karelz I am not sure. Historically `DataAnnotations` have not been about mutating input data as much as about describing database mappings and constraints on the data (and performing validations based on those).

One possible exception that comes to mind is [`DisplayFormatAttribute.ConvertEmptyStringToNull`](https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.displayfor

[2016-11-16 21:29] karelz commented on #12215
@AlexGhiondea says there is no particular reason to do it. Closing.

[2016-11-16 21:29] #12215 closed

[2016-11-16 21:33] NickCraver commented on #2089
Yes, Windows-only support is a huge unblocker for us. We can do all the work for .NET Core porting and expand platform supports "for free" later, when the underlying bits do. Right not the blocker to even *starting* to port is huge. That being gone is a big win.

[2016-11-16 21:35] JonHanna opened #13727 "Windows NT Debug CI Builds failing"
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/247/
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/241/
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/248/

[2016-11-16 21:38] karelz commented on #6936
Dupe of #8515

[2016-11-16 21:38] #6936 closed

[2016-11-16 21:39] karelz commented on #7435
@AlexGhiondea says it's fixed.

[2016-11-16 21:39] #7435 closed

[2016-11-16 21:40] nevcoBpalacio commented on #2089
Being a Windows shop this would be big win here also. So many big enterprises would consider this a huge win! Thanks for keeping up to date with your information. Keep us posted. Thanks.

[2016-11-16 21:40] morganbr commented on #9966
@karelz the security review is the expensive/concerning part of this. Two-key 3DES is significantly less secure than three-key. [NIST](http://csrc.nist.gov/publications/nistpubs/800-57/sp800-57-Part1-revised2_Mar08-2007.pdf) suggests it has 80 bits of security, which is generally considered close to breakable; That paper also suggests the algorithm lifetime ended in 2010.

[2016-11-16 21:41] karelz commented on #11682
@weshaggard what is this issue tracking? Even @AlexGhiondea doesn't understand.

[2016-11-16 21:42] karelz commented on #11682
Actually looks like dupe of #12456.

[2016-11-16 21:43] bartonjs commented on #9966
If it works for TripleDES.Create() out of the box on Desktop, it should work out of the box on Core.

[2016-11-16 21:43] ericstj commented on #11682
It's not a dup.  These were APIs previously added for all platforms but they need to be scoped to just NETCore.

[2016-11-16 21:47] ericstj commented on #11682
Specifically: https://github.com/dotnet/corefx/blob/b8701fabcded3a340b09779bad9f89c1821a05e8/src/System.Runtime/ref/System.Runtime.cs#L87 needs to be if'defed so that it isn't in the netstandard reference assembly.

Surround it in `#if netcoreapp11` and remove https://github.com/dotnet/corefx/blob/b8701fabcded3a340b09779bad9f89c1821a05e8/src/System.Runtime/src/ApiCompatBaseline.net463.txt

[2016-11-16 21:50] tmds commented on #13710
GetTempPath _could_ create and return a /tmp/dotnet-tmp-\<uid\> folder with rwx set only to the user (effective UID).

The [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) defines a directory XDG_RUNTIME_DIR with similar semantics.

[2016-11-16 21:51] AlexGhiondea commented on #4432
I remember we decided long ago that we are ok with the current state of AppContext. If I am remembering this wrong, please re-open.

[2016-11-16 21:51] #4432 closed

[2016-11-16 21:55] AlexGhiondea commented on #11682
@ericstj that should cover both GetData and TargetFrameworkName, right?

[2016-11-16 21:56] ericstj commented on #11682
Whichever ones were not in net461.

[2016-11-16 21:59] jamesqo commented on #13374
@terrajobst @JonHanna Makes sense. I'll update the PR to return `null`, then.

[2016-11-16 22:18] rock-meister commented on #2089
@karelz Thanks for the clarification.  Yes, Windows-only scoping for 1.2 works for us.
Rockmeister

[2016-11-16 22:28] mellinoe commented on #13374
I'll throw in a dissenting opinion here and say that null shouldn't be accepted as input. It's a small distinction and obviously we could define the semantics/document it however we want, but it seems semantically and conceptually cleaner to require the parameter to be a real, non-null array.

This is wandering into personal preference territory, I guess, but I feel sort of the opposite. `null` is

[2016-11-16 22:29] liquidboy commented on #2089
System.DirectoryServices.Protocols with Linux /LDAP support is the highest priority for us ..

[2016-11-16 22:30] PleasantD commented on #2089
We switched from using `System.DirectoryServices` to using `System.DirectoryServices.Protocols` a while back so that we could support non-AD LDAP servers.  Having access to the Protocols namespace would be one step closer to allowing us to port our code to .NET core.

However, if this is going to be platform-specific then there is less use for us. One main point of wanting to move to .NET core is

[2016-11-16 22:30] vancem commented on #4928
I mentioned this to Jeremy offline.   I am OK with just adding the Append(StringBuilder) overload for now.   If we find that creating a StringBuilder from another StringBuilder is important we can add it, but I would leave it out until someone describes a plausible scenario or two for it, as you really don't want to be copying StringBuilders for the most part (and you may end up reusing it anyway)

[2016-11-16 22:33] jamesqo commented on #13374
@jkotas @stephentoub Do you have an opinion on this?

[2016-11-16 22:37] terrajobst commented on #13374
@mellinoe

To me, the higher order bit to consider is whether a given enforcement of non-`null` is helping or hurting. The cases where missing validation is hurting is when it hides bugs. For example, operations that have side effects so generally validate arguments instead of silently no-oping.

Operations like this that return values are hardly hiding bugs. If subsequent code can't deal with the

[2016-11-16 22:37] karelz commented on #13717
OK, that explains it: .NET Core 1.1 is in branch [release/1.1.0](https://github.com/dotnet/corefx/tree/release/1.1.0).

If you want to try out the newly added APIs, you need to grab master branch - some daily build.

[2016-11-16 22:37] #13717 closed

[2016-11-16 22:39] jamesqo opened #13735 "Investigate benefits of separating out parts of Count into a non-generic method."
Separated out from #12703. Relevant discussion: https://github.com/dotnet/corefx/pull/12703#discussion_r87884894

tl;dr We may want to put a part of `Enumerable.Count<T>` in a non-generic method so that the JIT has less code to generate during the following 2 scenarios:

- For a particular value type T, the source enumerable always implements `ICollection`, `IIListProvider`, etc. and we can determ

[2016-11-16 22:47] karelz commented on #7660
@roydukkey given that it doesn't seem to fit naturally into DataAnnotations direction and that you already have a NuGet library available for the APIs, we should probably leave it at that.
If we later find out the API is popular and there would be advantages from having it in BCL/CoreFX, we can reconsider.

Closing for now, feel free to reopen if you think I missed any major points.

[2016-11-16 22:47] #7660 closed

[2016-11-16 22:49] terrajobst commented on #11220
Any reason we wouldn't make the cancellation token optional?

[code]

[2016-11-16 22:52] mellinoe commented on #13374
Sure, we can define the semantics however we want. And like I said, it's a pretty small distinction anyways. But to me, `Clone()`ing a null object doesn't make conceptual sense. If I saw some code relying on that behavior, I might be slightly confused for a bit, and have to re-evaluate my assumptions. I'm just throwing my opinion in here, if others feel differently then it's no big deal.

I dunno;

[2016-11-16 22:53] h3smith commented on #2089
For us getting to .NET Core was the ability to leverage Docker and be totally platform agnostic. So being stuck with Windows only LDAP support wouldn't be beneficial.

Thanks for discussing internally.

My vote is going with platform independent route 🦃

[2016-11-16 22:55] danmosemsft commented on #13727
https://github.com/dotnet/corefx/pull/13733

[2016-11-16 22:55] #13727 closed

[2016-11-16 23:06] stephentoub commented on #13374
Can we take a step back? Why are we adding this method? At this point, it's implementation it's just going to call the instance Clone and do a cast, so the only value the method provides is doing the cast for you. But it also has to do a null check, it incurs generic overheads, and as a new method it's not portable. Doesn't seem like enough value to me.

All that said, if everyone else still wants

[2016-11-16 23:06] nevcoBpalacio commented on #2089
I have to agree with the platform agnostic comment, as much as it hurts that I cannot use core until this gets accomplished. I do think this is something that has to be reviewed at a higher level. The thing I do not get is the complexity of the concept? There are several directory solutions, AD, Novell, etc... This calls for a cross platform (agnostic) interface solution... Happy Holidays!

[2016-11-16 23:07] RussKie commented on #8491
I find `Disposable` bit confusing - does it now imply the end-consumer of API has to dispose the key after they used it?

`GetCertificatePublicKey` / `GetCertificatePrivateKey`?

[2016-11-16 23:16] PinpointTownes commented on #8491
Yes. That's how `GetRSAPublicKey` and `GetRSAPrivateKey` are supposed to be used: https://blogs.msdn.microsoft.com/dotnet/2015/07/20/announcing-net-framework-4-6/

[2016-11-16 23:16] bartonjs commented on #8491
@RussKie Well, they do return unique disposable objects, so... yes, the caller is responsible for managing the lifetime.  That's already true of the Get[Algorithm]{Public|Private}Key() methods.  (The PrivateKey property and PublicKey.Key property return shared objects, so the caller should not dispose them)

[2016-11-16 23:17] khellang commented on #11220
Nope. I had them optional at some point, but have been back and forth so much, I guess they got dropped at some point 😝

[2016-11-16 23:20] bartonjs commented on #8491
* GetCertPublicKey()
* GetAnyAlgPublicKey()
* GetAbstractPublicKey()
* GetPublicKeyObject()
* ...

The problem is the best name, `GetPublicKey()` is already taken by X509Certificate to return the `byte[]`.  And while we could do `public new virtual AsymmetricAlgorithm GetPublicKey()` that's a breaking change for anyone trying to call the base class one on a X509Certificate2 object.  And I'm sort o

[2016-11-16 23:20] #11075 closed

[2016-11-16 23:21] #11169 closed

[2016-11-16 23:23] #9327 closed

[2016-11-16 23:24] terrajobst commented on #13374
Yes, the primary value this method offers is syntactic sugar by preserving the type of the array instead of returning `object`.

[2016-11-16 23:24] #11875 closed

[2016-11-16 23:27] alexperovich commented on #12565
This is caused by an underlying msbuild issue where the GenerateResources task doesn't honor the types in the resx when generating resources. Microsoft/msbuild#1352

[2016-11-16 23:32] #13721 closed

[2016-11-16 23:32] #13700 closed

[2016-11-16 23:34] tarekgh commented on #12565
@alexperovich if this is msbuild issue then why this is happening on Linux only and not happening on Windows?

[2016-11-16 23:47] alexperovich commented on #12565
Its actually a .NET Core msbuild issue. I will change the title. It doesn't happen on windows because we use full .NET msbuild there.

[2016-11-16 23:58] jamesqo commented on #8034
@redknightlois

IMO, multiple parameters seems a bit redundant. I agree it is not as straightforward, but you wouldn't want to have some people writing it one way and some the other. For now, we should probably just stick to `Combine`.

Combine it is then. 😄

I liked your idea of having a separate struct do the core hashing logic, and using generics so we can work with other types besides `int`. (

[2016-11-17 00:00] JohnChen0 opened #13738 "Move API lists to buildtools repo"
PR #13440 added two new API list files in the top-level directory of this repo. These two files should be moved to the buildtools repo eventually.

[2016-11-17 00:14] JohnChen0 opened #13739 "Build for x86 on Windows runs tests using 64-bit runtime"
After running `build -buildArch=x86` on Windows, the build script created `bin\tests\AnyOS.x86.Debug` and `bin\tests\Windows_NT.x86.Debug` directories. However, 64-bit `coreclr.dll` and `corerun.exe` were copied into these directories, so the tests were actually run with 64-bit runtime.

[2016-11-17 00:25] sepidehMS commented on #12273
Closing as could not repro the failure. Seems like it's either be gone or happens very rarely. Please re-open if seen again.

[2016-11-17 00:25] #12273 closed

[2016-11-17 00:27] terrajobst commented on #8034
@jamesqo

Ah yes. In that case I'm fine with that pattern. I generally don't like the pattern of returning instances if the operation had a side effect. It's especially bad if the API is following the immutable `WithXxx` pattern. In this case though, the pattern is essentially an immutable data structure so that pattern would work fine.

So what about:

[code]

This allows for code like this:

[co

[2016-11-17 00:28] jkotas commented on #13374
In this particular case, it is a syntactic sugar mixed with salt because of it is not extension method (for source compat) that it should really be for good flow. I agree with @stephentoub that it does not have enough value.

[2016-11-17 00:33] terrajobst commented on #13374
Why do you say that? Especially on array instance methods aren't common. Most of the functionality is provided as static methods on `Array`.

[2016-11-17 00:48] danmosemsft commented on #13488
Please include the Obsolete attributes
[code]

[2016-11-17 00:56] danmosemsft opened #13741 "Add missing [Obsolete] attributes on NS2.0 ports"
We should have any [Obsolete] attributes that are present in Standard. Some are missing. Copy them from the Standard repo.

These are missing:

* various on AppDomain
* various on Process
* various on Thread
* these two
[code]

[2016-11-17 01:09] vors commented on #5540
This issue affects PowerShell Add-Type https://github.com/PowerShell/PowerShell/issues/1616

[2016-11-17 01:10] danmosemsft commented on #13694
The Console diff is only in system.private.corelib.dll, which is not the implementation we expose. It's only there for the tests apparently.

[2016-11-17 01:13] RussKie commented on #8491
I can't seem to find where it is stated on the blog...
Regardless, until @bartonjs clarified the lifetime difference here I wasn't sure how it was **meant to be used correctly** (and I am pretty particular about disposing of resources).

`GetAlgorithAgnosticPublicKey`?

[2016-11-17 01:19] RussKie commented on #8491
The type of keys depend on the underlying certificate (the crypto algorithm to generate it), isn't it? So "Certificate" fits nicely in between :)

[2016-11-17 01:21] PinpointTownes commented on #8491
@RussKie it's in the code sample under `Cryptography Updates`:

[code]

[2016-11-17 01:32] RussKie commented on #8491
Thanks, looks like my corporate proxy blocks some stuff and I can't see the code samples... Just tried it on the phone and indeed there is heaps more stuff I was oblivious to.

[2016-11-17 01:32] jiangzeng commented on #13298
The latest exception in build 20161116.04 is:
[code]

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161116.04/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2016-11-17 01:40] jamesqo commented on #8034
@terrajobst Thoughts:

1. The `Create<T>` factory method should be removed. Otherwise, there would be 2 ways of writing the same thing, `HashCode.Create(_val)` or `new HashCode().Combine(_val)`. Also, having different names for `Create` / `Combine` would not be diff-friendly since if you added a new first field, you would have to change 2 lines.

2. I don't think the overload accepting a string/St

[2016-11-17 01:49] capiono commented on #13504
I was able to make it work by doing the following:

- installed net461 on the server (windows 2012)
- Updated my project.json to this:

` "dependencies": {
   "Microsoft.AspNetCore.Diagnostics": "1.1.0",
    "Microsoft.AspNetCore.Mvc": "1.1.0",
    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.1.0-preview4-final",
      "type": "build"
    },
    "Microsoft.AspNetCore.Routing": "1.1.0"

[2016-11-17 01:50] jiangzeng commented on #13706
Results are generated in build 20161116.04, and the following tests are still throwing "System.Xml.Tests.VerifyException".
System.Xml.Xsl.XslCompiledTransformApi.Tests/System.Xml.Tests.CLoadReaderTest/LoadXmlReader2
System.Xml.Xsl.XslCompiledTransformApi.Tests/System.Xml.Tests.CLoadReaderTest/LoadXmlReader5
System.Xml.Xsl.XslCompiledTransformApi.Tests/System.Xml.Tests.CLoadTest/LoadGeneric2
System

[2016-11-17 02:34] svick commented on #8034
@jamesqo

[The Framework Design Guidelines for operator overloads say:](https://msdn.microsoft.com/en-us/library/ms229032(v=vs.110).aspx)

Specifically, F# is one of the languages that makes it awkward to invoke implicit conversion operators.

---

Also, I don't think having only one way of doing things is that important. In my opinion, it's more important to make the API convenient. If I just wan

[2016-11-17 02:36] sepidehMS commented on #13236
@tarekgh I did some investigation and found out there are two ways to set `UpperFirst=true` in XmlSortKey:

1. Passing a collation Uri to the public method `XmlQueryRuntime.CreateCollation(string)` which contains upperfirst=1 (For which the doc says: _This API supports the product infrastructure and is not intended to be used directly from your code._)

2. Having a `xsl:sort` instruction in an inp

[2016-11-17 02:49] #13486 closed

[2016-11-17 02:57] AlexRadch commented on #4928
@JeremyKuhne you changed title of this issue, but did not change "APIs being added" section in issue description. Should be "APIs being added" section changed from creating constructors to creating Append methods also?

[2016-11-17 03:05] JeremyKuhne commented on #4928
I've updated it to make it clearer.

[2016-11-17 03:08] jamesqo commented on #8034
@svick, your point about other languages not supporting operators that well is legitimate. I yield, let's add `Value` then.

It is important. If someone does it one way, and reads the code of a person who does it another way, then he/she will have to Google what the other way does.

- The problem with a static method is that, since there will be no `params int[]` overload, we will have to add over

[2016-11-17 03:09] jamesqo commented on #13374
@jkotas, if we were to add an extension method, does `array.Duplicate` sound like a good name?

[2016-11-17 03:27] terrajobst commented on #8034
I think minimizing the number of ways you can do the same thing is important because it avoids confusion. At the same time, our goal isn't to be 100% overlapping free if it helps to realize other goals, such as discoverability, convenience, performance or readability.

The reason I added the factory method is make it clear how one gets an initial hash code. Creating the empty struct followed by `C

[2016-11-17 03:32] jamesqo opened #13746 "Proposal: Supporting C# 7 deconstruction of certain types."
## Background

C# 7 added support for deconstruction of user-defined types via a `Deconstruct(out ...)` method. ([see it in action](http://tryroslyn.azurewebsites.net/#b:master/K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbGNmfYsmANwHswAExgARVKT4QUAJ2ClkACj7BkMSMgDaAXRhUANDGWr1MAgaNqIq0gEpW7Fuye6YAXhgRgRIjmfsCbjAADL5+FIEh9mwAvtixeIQk5JQ0dCLYjuycSbwCwgCyCnZOmX48VNLh7hCoAO4MRaFlFTAK+jCoBoI2ga

[2016-11-17 03:35] jamesqo commented on #13746
It seems like a lot of the drawing primitives in https://github.com/dotnet/corefx/tree/master/src/System.Drawing.Primitives/src/System/Drawing could benefit from this as well, so even though I don't know much about those types I'll submit a proposal for those as well.

[2016-11-17 03:42] jkotas commented on #13374
`Clone` is existing instance method on array and many other types. If you got `int[] a` and start typing `a.Clone()`, the intelisense will give you the existing one that returns object. The static Clone would be pretty hard to discover.

The existing `Clone()` with cast does not look that bad, considering all alternatives. There are number of instance `Clone()` methods in the framework that return

[2016-11-17 03:48] terrajobst commented on #13374
@jkotas

I get that. But what I'm trying to say is that we've trained developers to look for static methods on `Array`. Of course, an instance method would probably be more discoverable, but at the same time I think not having to type the extra parentheses and the type names is worth it -- you just have to learn which method you need to call.

We should most certainly not introduce a method using

[2016-11-17 04:05] AlexRadch commented on #4928
I suggest next fast Append implementation https://github.com/dotnet/coreclr/pull/8140 to append one StringBuilder to other.

[2016-11-17 04:21] #13692 closed

[2016-11-17 04:22] danmosemsft opened #13748 "Failure in AppDomainTests.GetAssemblies due to FileNotFoundException"
This failed in CI, on CentOS
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/280/consoleText
[code]

[2016-11-17 04:24] danmosemsft commented on #13748
@rahku

[2016-11-17 04:30] redknightlois commented on #8034
@terrajobst There are very different types of hashing algorithms, a real zoo. In fact, probably 70% are non-cryptographic by design. And probably way more than half of those are designed to deal with 64+ bits (common target is 128/256). That the framework decided to use 32 bits I bet (I haven't been there) is because at the time x86 was still a huge consumer and hashes are used all over the place,

[2016-11-17 04:35] danmosemsft commented on #13739
@joperezr

[2016-11-17 04:38] AlexGhiondea commented on #13062
This should be done now.

[2016-11-17 04:38] #13062 closed

[2016-11-17 05:02] wateret opened #13749 "[ARM/CI] Need to install some packages for arm-hardfp cross build"
The HardFP build fails with:
[code]

Probably the package `binutils-arm-linux-gnueabihf` is missing.
To work for it, I may need a remote access to cloned CI machine.

[2016-11-17 05:21] danmosemsft commented on #13687
Take care with https://github.com/dotnet/corefx/pull/2824

[2016-11-17 05:24] #13694 closed

[2016-11-17 07:32] wateret commented on #13749
I found out what we need for arm-hardfp CI here #13581. [success log](https://ci.dot.net/job/dotnet_corefx/job/master/job/linuxarmemulator_hardfp_cross_debug_prtest/3/)
However it may not be a good idea to install pacakges and make symbolic links in the CI script cause it is enough to apply these operations only once.
Could you tell me which would be better? @mmitche @jashook

[2016-11-17 07:52] mpfisterUniBE commented on #2089
While personally I could live perfectly fine with a windows-only scope, in my opinion this breaks the idea of the .NET Core and its portability.
A platform independent solution should be the route to focus on.

[2016-11-17 08:13] pasikarkkainen commented on #2089
Yes, agreed, .NET Core should be cross-platform and features/APIs should work on all supported platforms!
So if System.DirectoryServices.Protocols is going to be ported/implemented first, it should work also on Linux.

[2016-11-17 08:29] adamsitnik commented on #13717
Thanks for the explanation, anyway I am not happy with the current situation.

One of the biggest advantages of .NET Core was supposed to be it's frequent releases. I know that I can get new package from custom feed, but I am building a framework (BenchmarkDotNet) and we can't ship a package to nuget.org with dependency to custom nuget feed ;(

[2016-11-17 08:31] richieeeeeeee commented on #3633
Why is it closed? It still does not exist in .NET Core 1.1!

[2016-11-17 08:37] tmds commented on #13710
Making a per user nuget folder under /tmp is not straightforward as there doesn't seem to be a netstandard way of identifying a user (e.g. Environment.UserName is not netstandard).

[2016-11-17 08:52] nayato opened #13752 "Socket.ReceiveAsync and other methods don't support sync completion"
On Windows, it is possible to use the following WIN API function to enable WSARecv and other calls on the socket to complete synchronously when possible and avoid triggering IOCP completion: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365538(v=vs.85).aspx
It is possible to do even now, e.g.:
[code]
The problem is in ReceiveAsync implementation on this line: https://github.com/dotnet

[2016-11-17 08:53] alexandrnikitin commented on #4544
![giphy](https://cloud.githubusercontent.com/assets/1798438/20382302/fbdbd046-acb3-11e6-93f4-88261b393def.gif)

[2016-11-17 11:09] parjong commented on #13705
I encountered the same issue before on some Linux system.

While digging this issue, I found that there are root issues:
 - There was a bug in the test code (discussed in #13669)
 - The current implementation of those tests works only for en_US locale.

I could fix this issue by applying #13669 first (then you will encounter the issue discussed in #13706), and setting LANG=en_US.UTF-8.

[2016-11-17 11:54] arielbh opened #13753 "Upgarding nuget package of .NETCoreApp breaks debugging"
Creating a new console .NET core application:
After upgrading the .NET Core App package.
Getting this errors when building:
tNet.Common.Targets(262,5): error : Can not find runtime target for framework '
1>.NETCoreApp,Version=v1.0' compatible with one of the target runtimes: 'win10-x6
1>4, win81-x64, win8-x64, win7-x64'. Possible causes:
1>C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.

[2016-11-17 11:57] zuckerthoben commented on #2089
I agree that ideally a platform independent solution should be the goal. Though still not having it on Windows is a blocker for a lot of developers that just want to experiment with the platform in a corporate (AD) Environment, like myself. That's why I would welcome a Windows only solution for the time being.

[2016-11-17 12:07] rrelyea commented on #13753
Try doing this same thing with nuget.tools.vsix 3.5rtm installed for vs 2015. I believe that fixes the loss of metadata on upgrade.
Current .net core tools preview2 chain installed 3.5b2

[2016-11-17 14:23] vcsjones commented on #13710
It could, but I think that's a breaking change. Some applications just want to get the $TMPDIR directory as the rest of the system sees it. I don't think `GetTempPath` should try to solve every problem. It has historically just been "Get me the environment's temporary directory, whatever it is".

This feels more like an API proposal to me for something new, but that's just my thoughts.

[2016-11-17 16:27] KrzysztofCwalina commented on #8034
@redknightlois, I think we understand the limitations of the int hashes. But I agree with @terrajobst: this feature should be about APIs to compute hashes for the purpose of returning them from Object.GetHashCode overrides. We might in addition have a separate library for more modern hashing, but I would say it should be a separate discussion, as it needs to include deciding what to do with Object

[2016-11-17 16:42] karelz commented on #3633
Both issues were closed with milestone=1.2, which means they will be fixed in the release after 1.1.
The whole .NET Standard 2.0 push for 1.2 is LOTS of APIs and it takes significant time to port them all even for large team.

[2016-11-17 16:47] bendono commented on #13374
In well written code, a developer should know if a value could be null.
It's a nice goal to aspire to, but real world code is not always so clean as it should be.
If this static method does not accept nulls, I imagine that it will generally need to be used as follows:
`var copy = array != null ? Array.Clone(array) : null;`
It's not too bad--and there are shorter ways to write it--, but I see it as

[2016-11-17 16:50] #13491 closed

[2016-11-17 16:51] redknightlois commented on #8034
@KrzysztofCwalina I do agree it is two different approaches. One is to fix an issue caused on 2000; a different one is to tackle the general hashing problem. If we all agree this is a solution for the former, the discussion is over. However, for a design discussion for a "Future" milestone I have the sense that it will fall short, mostly because what we will do here will impact the future discussi

[2016-11-17 16:56] redknightlois opened #13757 "Provide support for general non-cryptographic hashing. System.Hashing?"
A spin-of of the design discussion to tackle the general problem. References: https://github.com/dotnet/corefx/issues/8034

[2016-11-17 16:57] KrzysztofCwalina commented on #8034
@redknightlois, I would propose the following: let's design an API as if we did not have to worry about the future. Then, let's discuss which design choices we think would cause problems for the future APIs. Also, what we could do is add the c2000 APIs to corfx and in parallel try to experiment with the future APIs in corfxlab, which should uncover any issues associated with such additions, if we

[2016-11-17 16:57] jamesqo commented on #8034
@redknightlois

I think if, in the future we want to support more advanced scenarios, then we can just do so in a separate type from `HashCode`.

[2016-11-17 16:58] redknightlois commented on #8034
I created a different issue to start tackling that.

[2016-11-17 17:02] joperezr commented on #13739
This is a known issue and actually I'm currently working now on fixing it. @JohnChen0 in the mean time, you can workaround it by also passing `TestNugetRuntimeId` like: `build.cmd -buildArch=x86 -TestNugetRuntimeId=win7-x86`

[2016-11-17 17:02] jamesqo commented on #8034
@redknightlois :+1:. Btw, you responded before I could edit my comment, but I actually did try out your idea (above) of having the hash work with any type (int, long, decimal, etc.) and enscapulating the core hashing logic in a struct: https://github.com/jamesqo/HashApi (sample usage was [here](https://github.com/jamesqo/HashApi/blob/master/samples/Demo/1_BasicUsage.cs#L14)). But, having two gener

[2016-11-17 17:08] karelz commented on #13717
Note that we have released quite a few versions in last few months -- 1.0, 1.0.1, 1.0.2 and 1.1 (see [.NET blog](https://blogs.msdn.microsoft.com/dotnet/)).

Currently we are working on 1.2, support .NET Standard 2.0 (see .NET Core [roadmap](https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/)). Beside the fact that shipping official stable releases has some overhead, there is not

[2016-11-17 17:10] karelz commented on #13738
@JohnChen0 do you plan to address this issue?
Why did we introduce them in corefx repo when they belong somewhere else?

[2016-11-17 17:13] karelz commented on #13753
@ericstj @weshaggard @mellinoe is it something we can address in corefx or does it belong somewhere else?

[2016-11-17 17:14] jamesqo commented on #8034
@terrajobst The API seems almost ready, but there are 1 or 2 more things I'd like to change.

- I initially didn't want the static factory method, since `HashCode.Create(x)` has the same effect as `new HashCode().Combine(x)`. But, I've changed my mind about that since that means 1 extra hash. Instead, why don't we rename `Create` to `Combine`? It seems kinda annoying to have to type something for

[2016-11-17 17:16] tarekgh commented on #13236
looking at the doc of XmlQueryRuntime.CreateCollation https://msdn.microsoft.com/en-us/library/system.xml.xsl.runtime.xmlqueryruntime.createcollation(v=vs.110).aspx it says

[code]

so it is not really used by apps. but when looking at the Xsl specs looks this is something used and might be necessary to support. here is some link describing the options there

https://www.tutorialspoint.com/xslt/xs

[2016-11-17 17:18] JonHanna commented on #13757
I've a port of SpookyHash for .NET, and while it might be a bit dusty, I'd happily add it to such an endeavour.

[2016-11-17 17:19] redknightlois commented on #13757
We can contribute the code for XXHash32, XXHash64 and Metro128. They can be optimized further, but they are fast enough atm to never show up in profiling runs (even though we use the a lot).

[2016-11-17 17:22] JonHanna commented on #13757
Mine should perhaps be made a bit slower, in that I'm doing unsafe things with memcpy that might not be strictly necessary, but the main thing is the API is a bit kitchen-sinky. I'd just made a new hammer, and look at all these nails everywhere!

[2016-11-17 17:24] #11135 closed

[2016-11-17 17:24] #11682 closed

[2016-11-17 17:25] JohnChen0 commented on #13738
Yes, I plan to address this issue. The reason to temporarily add the lists to corefx repo was to avoid long wait before merging PR #13440, as changes in buildtools repo will take longer to be tested and propagated.

[2016-11-17 17:25] bartonjs commented on #8491
I sort of think `cert.GetCertificatePrivateKey()` (or `cert.GetCertPrivateKey()`) looks a bit weird, but I guess it's less weird if you name your variables only one letter :smile:.

@PinpointTownes: Thoughts on "Certificate" (or "Cert") as the "middle word"?

[code]

[2016-11-17 17:27] JohnChen0 commented on #13739
@joperezr Thanks for the update and workaround.

[2016-11-17 17:34] karelz commented on #13738
OK, assuming you're working on it now, I'll assign it to you and mark as bug.
Please check [simplified triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)

[2016-11-17 17:47] Eilon commented on #8034
@terrajobst said:

It's actually super important: creating hashes for strings often involves taking into account the purpose of that string, which involves both its culture and its case-sensitivity. The StringComparer isn't about comparisons per se, but rather about providing specific GetHashCode implementations that are culture/case-aware.

Without this API, you'd need to do something weird like:

[2016-11-17 17:50] GSPP commented on #2323
Sure, just go ahead.

[2016-11-17 17:54] PinpointTownes commented on #8491
Sounds fine.

Or if you don't like certificate, maybe something like `GetPrivateKeyAlgorithm`/`GetPublicKeyAlgorithm`?

[2016-11-17 18:00] karelz commented on #8034
@Eilon in such case I would expect the code should explicitly call `string.GetHashCode(StringComparison comparison)` which is culture/case-aware and pass the result as `int` into `Combine`.
[code]

[2016-11-17 18:04] jamesqo commented on #8034
@Eilon, you could just use StringComparer.InvariantCultureIgnoreCase.GetHashCode.

[2016-11-17 18:06] #5383 closed

[2016-11-17 18:07] bartonjs commented on #8491
That returns an OID, right? :smile:

[2016-11-17 18:12] Eilon commented on #8034
Those are certainly better in terms of allocations, but those calls are not pretty to look at... We have uses all throughout ASP.NET where hashes need to include culture/case-aware strings.

[2016-11-17 18:25] sepidehMS commented on #13705
Thanks @parjong for the fix.

[2016-11-17 18:29] #13175 closed

[2016-11-17 18:37] Tornhoof commented on #13757
If you need another/alternative metro128 Hash implementation, you can have mine too

[2016-11-17 18:48] #13064 closed

[2016-11-17 18:48] justinvp commented on #13746
`KeyValuePair<TKey, TValue>`? `DictionaryEntry`? Any others?

[2016-11-17 18:50] stephentoub commented on #13746
@madstorgersen, what is the thinking about what types should expose deconstructors?

Personally, I think it makes sense for tuple-like types, e.g. KeyValuePair, DictionaryEntry, Tuple, ValueTuple, etc.  I'm less convinced it's a good idea for other types just as a way to extract their fields.

[2016-11-17 18:54] #13356 closed

[2016-11-17 19:01] tmds commented on #13710
According the the MSDN documentation: "Returns the path of the current user's temporary folder."

[2016-11-17 19:05] sepidehMS commented on #13705
Fixed by https://github.com/dotnet/corefx/pull/13669

[2016-11-17 19:05] #13705 closed

[2016-11-17 19:06] bartonjs commented on #8491
While writing up the proposal for this I realized there's a bit of a snag... ECC.

Certificates using `id-ecPublicKey` can be any of:
* ECDSA (this the only valid OID for ECDSA)
* ECDH (which can be disambiguated via id-ecdh)
* ECMQV (which can be disambiguated via id-ecMQV)

Other algorithms that RFC 5480 doesn't explicitly talk about:
* ECIES
* EdDSA
* ECQV

That makes it hard to know what to re

[2016-11-17 19:08] karelz commented on #10752
@robertmclaws just curious if you're still working on it, or we should make it available for grabs ...

[2016-11-17 19:09] ewinnington commented on #2394
Well CoreWF is alive and exists at https://github.com/dmetzgar/corewf

It needs to be seen if DynamicActivity can now be ported with the new Composition APIs added to core and the .net standard 2.0.

Would be great if we heard from the WF team.

[2016-11-17 19:11] jkotas commented on #12678
This should fix https://github.com/dotnet/corefx/issues/5540 as well.

[2016-11-17 19:15] karelz commented on #12034
@robertmclaws is [GeoApi](https://github.com/NetTopologySuite/GeoAPI) something that could be leveraged  forwarded to instead of building yet another solution in .NET Core (disclaimer: I have no background in the geo space, just fishing for information)

[2016-11-17 19:30] MadsTorgersen commented on #13746
I agree completely. No reason to reinvent the dot.

From: Stephen Toub [mailto:notifications@github.com]
Sent: Thursday, November 17, 2016 10:51 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Mads Torgersen <Mads.Torgersen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Proposal: Supporting C# 7 deconstruction of certain types. (#13746)

@madstorgersen<https

[2016-11-17 19:40] mellinoe commented on #13746
The fixed-size types in System.Numerics.Vectors could be a decent candidate for this too: `Vector2`, `Vector3`, `Vector4`, `Plane`, `Quaternion`, `Matrix3x2` (?), `Matrix4x4` (?).

[2016-11-17 19:46] huanwu opened #13766 "Need some improvement for TimeSpan"
There're two main areas.
Support the DefaultValue attribute.
Follow the similar pattern as the DateTime.

[2016-11-17 19:56] PinpointTownes commented on #8491
Well, they return `AsymmetricAlgorithm` instances (but I agree it might be confusing) :trollface:

Concerning your last remark, aren't `PublicKey.Key` and `PrivateKey` already impacted by the same concern/issue? I took a brief look at the code, and it looks like both the Windows/Linux PALs assume that ECC always means ECDSA and not ECDH (the other algorithms don't have a correspond CLR type, so I

[2016-11-17 20:08] stephentoub commented on #13752
I think this is a dup of https://github.com/dotnet/corefx/issues/4900.

I would very much like to see this get fixed.

cc: @davidsh, @cipop, @geoffkizer

[2016-11-17 20:09] weshaggard commented on #11857
I think it really depends on the customer. For folks that are using MEF1 in there applications they might be able to move to MEF2 but it might require subtle changes in their code and likely their extensions as well. We have converted some of our own usages of MEF1 to MEF2 in our tools but we owned the host and all the extensions, however for folks that don't own all the extensions it might be a c

[2016-11-17 20:17] stephentoub commented on #13752
@nayato, @davidsh/@cipop can comment as well, but personally I think it'd be great if you could put together a PR to address this.  Note that it needs to include handling the Unix side as well; while Unix doesn't have this distinction, our Unix implementation explicitly matches the current Windows behavior, e.g. https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Soc

[2016-11-17 20:20] vcsjones commented on #13710
The docs also go on to say:

* The path specified by the TEMP environment variable.
* The path specified by the USERPROFILE environment variable.
* The Windows directory.

Thought I am splitting hairs here, I believe the documentation is stating it gets the path that the current user believes the temp path to be, even if it is shared one, not a path unique to that user. I've already given a scenar

[2016-11-17 20:22] #13706 closed

[2016-11-17 20:38] romainbecheau opened #13768 "HttpWebRequest POST operation doesn't work with 5.2.2 UWP"
Hi
I notice something between the v5.2 and 5.1 of the .netCore.UWP nugets version in Visual Studio
I have an APP in v5.1 and a do a "POST" opperation whith a HttpWebRequest , with parameter in the body encode in UTF8. (to simulate a login on a webSite)
If a upgrade to v5.2, my POST stop working !
I restore to v5.1 and it work again !
Have you got an idea ?

i've make a small VS project .

In 5.1 ,

[2016-11-17 20:39] romainbecheau commented on #13768
the VS project : https://www.dropbox.com/s/o0u399cna5ygn06/bug.ZIP?dl=0

[2016-11-17 20:45] steveharter commented on #12966
May be done along with #11118 as it contains CryptDeriveKey as well

[2016-11-17 21:03] steveharter commented on #12362
Please review with @bartonjs to determine if we want PNSE for ns2.0 and if not the best way to test this. The Csp provider takes a CLR_PP_PIN

[2016-11-17 21:04] stephentoub commented on #13501
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/327/consoleText
[code]

[2016-11-17 21:08] steveharter commented on #12302
Depends on CryptoConfig (https://github.com/dotnet/corefx/issues/12327). CryptoConfig changes and tests should be modified as appropriate (to include SignatureDescription)

[2016-11-17 21:14] bartonjs commented on #8491
Yeah, mainly because we don't have ECDH in Core yet; or ECDH-from-a-cert in Framework (not that Framework will support ECDSA from PrivateKey or PublicKey.Key; so maybe we should just remove that case label and let them throw like netfx).  Good catch, though...

[2016-11-17 21:22] terrajobst commented on #13035
@saurabh500

Do you mean that ODBC isn't available to macOS or that specific ODBC drivers aren't supported on macOS?

[2016-11-17 21:29] terrajobst commented on #8034
Fair enough, combining all of what was said above, how about this shape then:

[code]

[2016-11-17 21:38] KrzysztofCwalina commented on #8034
ship it! :-)

[2016-11-17 21:51] dlstucki opened #13773 "HttpClient and WebSockets don't provide HTTP error details"
I have a WebSocket service which can return error details in the HTTP response to a WebSocket upgrade request such as:

HTTP/1.1 404 Endpoint does not exist. TrackingId:71d07da7-8ace-4463-b764-1f76559aebd0_G2

When I use ClientWebSocket.ConnectAsync and it fails (expected) there's no way to get the HTTP StatusCode (e.g. 404) or the HTTP StatusDescription (e.g. "Endpoint does not exist. TrackingId:

[2016-11-17 21:52] saurabh500 commented on #13035
When I wrote that comment I meant that Sql ODBC driver is not available on macOS.

However there are ODBC managers for macOS which can be used with ODBC drivers. Hence this namespace implementation is feasible on Xplat.

[2016-11-17 21:54] nayato commented on #13752
@stephentoub, also I don't think it will be OK to enable the flag on socket by default as I guess there is a lot of code out there relying on current behavior. How would you want to expose it? a property `bool AllowSyncCompletionOnAsyncOperations` on Socket?
For Unix implementation, in place you've mentioned I suppose if sync completion is allowed, it would just return Success otherwise, do what i

[2016-11-17 21:58] stephentoub commented on #13752
@cipop / @davidsh should comment, but I actually think we should fix it in the current implementation.  I'm interested in other opinions, too, though... @jkotas? @geoffkizer?  My view is that it's simply a bug in the implementation today that operations complete asynchronously when they could complete synchronously.  The docs for SocketAsyncEventArgs are already very clear that operations can comp

[2016-11-17 22:03] terrajobst commented on #13035
Got it. Thanks!

That's what I was concerned about. Sweet.

[2016-11-17 22:03] jamesqo commented on #8034
@terrajobst *Hold on--* can't `Combine(string, StringComparison)` just be implemented as an extension method?

[code]

I would much, much prefer it to be an extension method rather than a part of the type signature. However, if you or @Elion absolutely think this should be a builtin method, I won't block this proposal.

[2016-11-17 22:05] terrajobst commented on #13374
@stephentoub and @jkotas

Any push back on the API? I know you guys said you don't think it adds enough value, but it' clear folks disagree. So unless you strongly think we shouldn't add this API I'm inclined to accept this API as proposed.

[2016-11-17 22:05] nayato commented on #13752
Confirmed that the bug fix mentioned above was not backported to Win 7 and corresponding Win Server. So it is dangerous to just enable this behavior on Windows by default (at least for UDP sockets) as Win 7 SP1 is a supported platforms.

[2016-11-17 22:07] stephentoub commented on #13752
That just suggests it couldn't be enabled by default pre-Win8.

[2016-11-17 22:12] stephentoub commented on #13374
I still think it's silly to add.  Any new API we add increases the differences between the various .NET implementations.  It's one thing to do so for things that really move the needle; this doesn't.  There's also the extra costs involved in it being a generic method.  There's potential confusion around instance vs static Clone.  Etc.  Maybe these are minor concerns, but the value of the API is al

[2016-11-17 22:13] nayato commented on #13752
I still think it might be a good idea to expose it as a property. It is similar to how `Blocking` property works: - backed by interop call
- only applicable in particular operation mode: you need to use async API to see it working

Effect is more subtle though.

[2016-11-17 22:13] redknightlois commented on #8034
LGTM. I would go extension.

[2016-11-17 22:18] ayende commented on #13550
Okay, we managed to progress quite a bit.
The current blocking issue can be reproduced with minimal work:

[code]

We build it with `dotnet publish -r ubuntu.14.04-x64 -c release`

And then deploy to Raspberry PI, there, we get:
[code]

I'm pretty sure that I'm using the wrong System.Net.Primitives.dll (MD5: 8cb76133c5863a5dab35bee20076e412 )

But I'm not sure how to check that, and how to verify

[2016-11-17 22:19] terrajobst commented on #8034
Yes, it could be an extension method, but what problem does it solve?

[2016-11-17 22:19] jamesqo opened #13774 "ValueTuple should no longer use EqualityComparer.Default for hashing."
As of dotnet/coreclr#7895, `GetHashCode()` on an enum no longer boxes the enum. So, there are no advantages of using `EqualityComparer<T>.Default.GetHashCode(obj)` over `obj?.GetHashCode() ?? 0`. So all of the [code in `ValueTuple`](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L1919) which calls `EqualityComparer<T>.Default` should just use

[2016-11-17 22:21] jamesqo commented on #8034
@terrajobst

I was suggesting in ASP.NET code.

[2016-11-17 22:23] redknightlois commented on #8034
Mhhh this is core anyways. Once defined it will be part of the signature anyways. Scrap the comment. It is ok as it is.

[2016-11-17 22:26] terrajobst commented on #8034
Using extension methods is useful for cases where (1) it's an existing type which we'd like to augment without having to ship an update to type itself (2) solve layering issues (3) separate super common APIs from much less used APIs.

I don't think (1) or (2) apply here. (3) would only help if we would move the code to a different assembly than `HashCode` or if we move it to a different namespace.

[2016-11-17 22:33] jamesqo commented on #8034
@terrajobst, to be clear I was suggesting ditch the `string` API altogether, and leave it to ASP.NET to write up their own extension method for strings.

Yes, but how common is it for someone to want to get the non-ordinal hash code of a string? e.g. Someone who calls `StringComparer.CurrentCulture.GetHashCode` in their overrides? I may be wrong, but I haven't seen many.

Sorry for the pushback on

[2016-11-17 22:35] stephentoub commented on #13774
Is this ValueTuple code only used on platforms that have that coreclr fix?

[2016-11-17 22:38] jkotas commented on #13374
I do not think we should add this API.

[2016-11-17 22:39] stephentoub opened #13778 "kevent signals data available on a socket but ioctl(...,FIONREAD,...) returns 0"
There appears to be a race condition in the implementation of kqueues on macOS, such that kevent can wake up for a read on a socket (meaning at least 1 byte of data is available) but an ioctl(..., FIONREAD, ...) call immediately after that completion can still return 0.  This can manifest as code like:
[code]
getting a count of 0 instead of something larger.

[2016-11-17 22:40] jamesqo commented on #13774
@stephentoub, @MichalStrehovsky just mentioned something about this in https://github.com/dotnet/coreclr/issues/8143#issuecomment-261388963. I'm not sure if the code is only used on the platforms with the fix, but if it isn't, then I guess I'll have to wait a few months.

[2016-11-17 22:45] halter73 commented on #13504
@capiono @nil4 I think figured out what's going on.

You should install .NET 4.6.(1|2) on the server since you are targeting net461 and Win Server 2012 only comes with .NET 4.5. Alternatively, you can change "net461" in the "frameworks" section to "net451".

Both fixes worked for me when I got a 502.5 error from IIS while trying to run an app with the same dependencies on a fresh install of Win Se

[2016-11-17 22:46] karelz commented on #13774
Given that it is technically blocked - it may be for years rather than months, I would rather close it and bring the idea back once we can actually can change it ...

[2016-11-17 22:48] terrajobst commented on #8034
I might be biased, but in many cases case invariance is quite popular. Sure, not many (if any) care for culture-specific hash-codes but hash-codes that ignore casing I can totally see (and that seems what @Eilon ) is after (which is `StringComparison.OrdinalIgnoreCase').

[2016-11-17 22:49] #13691 closed

[2016-11-17 22:51] JonHanna commented on #13374
I'm really interested if we can get a real boost (which if possible would likely need to be at the level of the array instance method C++ code). Otherwise I'd rather not have the syntactic vinegar of an explicit cast to the sugar of a hidden cast.

[2016-11-17 22:51] jamesqo commented on #13746
@stephentoub @MadsTorgersen I didn't think this would be a controversial proposal; I thought this was basically how deconstruction was intended to be used. However, if you disagree, I'll update the proposal to include just KeyValuePair/DictionaryEntry.

[2016-11-17 22:56] JonHanna commented on #13746
Of the types mentioned here, I'm not convinced about ArraySegment (but maybe I just don't use it enough), but with the drawing primitives I think it's common enough to want to get all instance properties in a use that it would make sense.

[2016-11-17 22:58] jamesqo commented on #13746
@JonHanna, just updated the proposal; see @stephentoub & @MadsTorgersen's comments.

[2016-11-17 23:04] jamesqo commented on #8034
@terrajobst Ok then, let's add it :+1: Last issue: I mentioned this above, but can we make the namespace Numerics rather than Collections.Generic? If we were to add more hashing-related types in the future, I think they would be something of a misnomer in Collections.

[2016-11-17 23:04] JonHanna commented on #13746
Yep. I'm speaking in favour of that part of the original. I think tough there are going to be a bunch of debates in the near future in a bunch of .NET projects where one side thinks of a type as tuple-y and the other doesn't.

[2016-11-17 23:15] jamesqo commented on #13374
@jkotas As @JonHanna mentions, it doesn't have to be a wrapper around the existing `Clone`. I don't know as much about the current `Clone` as you do, but presumably there are things like checks in the C++ code to handle multi-dim arrays, non-zero based arrays, etc. If we added this API, we could remove those checks since we know the input is an SZ array. Also, since this would be implemented in C+

[2016-11-17 23:22] stephentoub commented on #13374
If the implementation can be made meaningfully faster (and the instance method can't), then I'd understand the method being added when those improvements come, not before.

[2016-11-17 23:23] huanwu commented on #10570
Fix by #11363

[2016-11-17 23:24] Eilon commented on #8034
I'm lovin' it. 🍔

[2016-11-17 23:34] #10570 closed

[2016-11-17 23:40] rahku commented on #11157
we have added back Assembly.LoadFile to .net core which should now allow you to do above.

[2016-11-17 23:40] #11157 closed

[2016-11-17 23:47] jkotas commented on #13374
Agree.

IMHO, it would pretty hard to demonstrate that the generic API has significant performance advantage over the non-generic one, everything else being equal.

The existing non-generic implementation does not have these checks already. Also, the existing non-generic implementation can be optimized quite a bit.

C++ does not help you much here. And we want to move to a place where this is impl

[2016-11-17 23:47] karelz commented on #8034
I don't think Hashing falls conceptually into Collections. What about System.Runtime?

[2016-11-17 23:48] mellinoe commented on #930
I'm going to close this because I don't think it's worth adding extra test configurations just to get this coverage.

[2016-11-17 23:48] #930 closed

[2016-11-17 23:49] jkotas commented on #13374
BTW: This shares similar set of problems as the generic version of Array.Copy. I believe it is hard to demonstrate significant performance advantage for the generic Array.Copy for similar reasons.

[2016-11-17 23:50] mellinoe commented on #1008
If we can get a concrete proposal for this, I still think it's worth pursuing. I'm going to close it now. Please re-open this if you'd like to continue discussion of a concrete proposal.

[2016-11-17 23:50] #1008 closed

[2016-11-17 23:50] redknightlois commented on #8034
I was going to suggest the same, or even System. It is not Numerics either.

[2016-11-17 23:57] CIPop commented on #13752
I agree with @stephentoub. This should be enabled by default.
@nayato please include me too in the discussion with WinSock.

[2016-11-17 23:58] jamesqo commented on #8034
@karelz, System.Runtime could work. @redknightlois System would be convenient, since chances are you've already imported that namespace. Dunno if that would be the appropriate, though (again, if more hashing types are added).

[2016-11-17 23:59] jamesqo commented on #13374
@jkotas

Is it? `GetLowerBound(0)` removed?

[2016-11-17 23:59] danmosemsft opened #13783 "Some RSA members not virtual"
These should all be virtual not abstract.

[code]

also
[code]

[2016-11-18 00:01] mellinoe commented on #1010
@mburbea Thanks for the proposal. I think that this is a good starting point:

[code]

We could also consider just starting with "parameterless" versions for now, which would be the equivalent of `GetBitMaskX(0)`.

@CarolEidt How does the above sound?

Right now we have quite a few items on our backlog for `Vector<T>`, so I can't really say that we will have the spare cycles to build and test this

[2016-11-18 00:02] danmosemsft opened #13784 "Two members missing virtual"
@danmosemsft commented on [Thu Nov 17 2016](https://github.com/dotnet/coreclr/issues/8190)

These should be virtual like Desktop

[code]

---

@danmosemsft commented on [Thu Nov 17 2016](https://github.com/dotnet/coreclr/issues/8190#issuecomment-261409151)

Uh, this should be in CoreFX ..

[2016-11-18 00:13] terrajobst commented on #8034
We shouldn't put it in `System.Runtime` as this for esoteric and quite specialized cases. I talked to @KrzysztofCwalina and we both think it's one of the two:

* `System`
* `System.Collections.*`

We both lean towards `System`.

[2016-11-18 00:15] jkotas commented on #13374
You can restructure the implementation a bit to make the GetLowerBound(0) call go away, without changing the public surface.

[2016-11-18 00:35] joperezr commented on #1037
Talked to @ellismg offline and this is not any longer so we decided to close this for now and reopen in the future if needed.

[2016-11-18 00:35] #1037 closed

[2016-11-18 00:42] redknightlois commented on #8034
If what we need is a rationale of why to go for ```System``` I can try a justification. We built ```HashCode``` to help in implementations of ```object.GetHashCode()```, it sounds fitting that both would share namespace.

[2016-11-18 00:43] jamesqo commented on #8034
@terrajobst I think `System` should be the namespace, then. Let's :shipit:

[2016-11-18 00:43] #11808 closed

[2016-11-18 00:46] jamesqo commented on #8034
Updated the API spec in the description.

[2016-11-18 00:47] NotMyself commented on #9998
I am sad this did not make it into 1.1

[2016-11-18 01:02] nayato commented on #13752
@CIPop OK. How should I check whether it's safe to set the notification modes? Check `Environment.OSVersion` if protocol is UDP?

[2016-11-18 01:07] AndyAyersMS commented on #930
The lab HW seems to run on AVX2 capable boxes these days, so that's what gets tested by default.

Note we also have SSE2 specific vector codegen bugs at times, eg dotnet/coreclr#7977. This won't show up as a coverage issue in corefx.

So really there are 3 configurations to test: no SIMD, SSE2, and AVX2. We should do some of this sort of testing over in coreclr where we are already set up to run t

[2016-11-18 01:11] #13680 closed

[2016-11-18 01:21] weshaggard commented on #13753
Similar to @rrelyea I suspect this is a tooling issue so there isn't anything in corefx that would address it.

[2016-11-18 01:24] karelz commented on #13753
Closing for now then.

[2016-11-18 01:24] #13753 closed

[2016-11-18 01:31] weshaggard commented on #5540
@danmosemsft you were asking if we had an issue tracking this duplication, turns out we do have this one.  You can also see the duplicated types in the netstandard facade generation as seed preferences (https://github.com/dotnet/standard/blob/wesh/netcoreapp_compat/netstandard/src/netstandard.csproj#L55).

@vors while this is definitely not desired there is a good chance we will never fully elimin

[2016-11-18 01:39] terrajobst commented on #8034
That was the rationale that @KrzysztofCwalina and I used, too. Sold!

[2016-11-18 01:40] terrajobst commented on #8034
@jamesqo

I assume you want to provide the PR with the implementation as well?

[2016-11-18 01:46] jamesqo commented on #8034
@terrajobst Yes, definitely. Thanks for taking the time to review this!

[2016-11-18 01:53] tmat commented on #5540
@weshaggard Is it only matter of resources or is it inherently not fixable?

[2016-11-18 01:54] terrajobst commented on #8034
Sweet. In that case I'll leave it assigned to you. That's good with you @karelz?

Thanks for taking the time working with us on the API shape. It can be a painful process to go back and forth. We highly appreciate your patience!

[2016-11-18 02:07] jkotas commented on #5540
@rahku is going to look into fixing this as part of #12678.

We should be able to fully eliminate the duplication of public types. The types may be still duplicated in some cases, but only one of them will be marked public - the poor duplicate will be internal.

[2016-11-18 02:10] jiangzeng commented on #13349
It's failed on "Suse.132.Amd64:AnyCPU-Release" with the same issue in latest build 20161117.52.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161117.52/workItem/System.Net.Sockets.Async.Performance.Tests

[2016-11-18 02:14] vors commented on #5540
PowerShell team will very much appreciate if it could be fixed.
Our customers hit problems using `Add-Type` on alpha build because of the type duplications.
See https://github.com/PowerShell/PowerShell/issues/1616#issuecomment-261387181 for the discussion.

@tmat helped me to create a reflection-based workaround https://github.com/PowerShell/PowerShell/pull/2704 but the team rejected it, because w

[2016-11-18 02:27] Eilon commented on #8034
And I'm looking forward to delete the ASP.NET Core implementation and use this instead 😄

[2016-11-18 02:50] stephentoub commented on #13589
I've addressed the most common cases with #13631 and #13720.  Others can be handled as individual issues.

[2016-11-18 02:50] #13589 closed

[2016-11-18 02:53] stephentoub commented on #7719
This has been addressed.

[2016-11-18 02:53] #7719 closed

[2016-11-18 03:27] Clockwork-Muse commented on #13766
@huanwu - what do you mean by

?

[2016-11-18 03:40] justinvp commented on #8034
Nit: The [methods on `String` that take `StringComparison`](https://github.com/dotnet/coreclr/blob/eb4920aeb75f40ee5029c5ad1c30545a02006ee3/src/mscorlib/src/System/String.Comparison.cs#L850) (e.g. `Equals`, `Compare`, `StartsWith`, `EndsWith`, etc.) use `comparisonType` as the name of the parameter, not `comparison`. Should the parameter be named `comparisonType` here as well to be consistent?

[2016-11-18 03:50] danmosemsft commented on #13784
Need to update contract also

[2016-11-18 04:01] #12549 closed

[2016-11-18 04:37] jamesqo commented on #8034
@justinvp, that seems more like a naming flaw in String's methods; `Type` is redundant. I do not think we should make new APIs more verbose just to "follow precedent" with old ones.

[2016-11-18 04:50] justinvp commented on #8034
As another data point, [xUnit](https://github.com/xunit/assert.xunit/blob/431f1aaab702b2a184dd03ec56d7a565c6e916c8/StringAsserts.cs#L32) chose to use `comparisonType` as well.

[2016-11-18 05:25] rnagpal commented on #12496
Any updates on this one?

[2016-11-18 05:48] jkotas commented on #12496
This method was added back as part of .NET Standard 2.0 project: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L5377.

You can read more about .NET Standard 2.0 at https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

If you cannot wait for .NET Standard 2.0, you can lookup the method by name, or use a creative GetMethodInfoOf constru

[2016-11-18 06:48] #13783 closed

[2016-11-18 07:56] #13368 closed

[2016-11-18 09:24] tmds commented on #13710
Definitely the ability to overwrite it with an envvar should be maintained.

All programs using the same version of .NET Core will see the same tmp dir so I don't expect backward compat issues.

[2016-11-18 09:31] ajtowf opened #13794 "CGI error in azure when using HttpClient with ServerCertificateCustomValidationCallback in Azure"
Can't post to an API using client certificate with custom certificate validation from my backend when upgradring to netcore 1.1. This works absolutely fine locally and it works when posting to an https endpoint that has a cert signed by a trusted CA. Worth mentioning is that this worked with the 1.1 preview. Now I get this once deployed to azure:

    The specified CGI application encountered an e

[2016-11-18 09:40] ajtowf commented on #13794
## Update

The following works:

    var clientHandler = new HttpClientHandler();
    var httpClient = new HttpClient(clientHandler);
    await httpClient.PostAsync("https://httpbin.org/post", new StringContent(string.Empty));

But this fails:

    var clientHandler = new HttpClientHandler();
    clientHandler.ServerCertificateCustomValidationCallback += (message, certificate2, arg3, arg4) => true

[2016-11-18 10:34] Opiumtm opened #13795 "Objects deep clone support"
There is very common problem - "deep clone" of objects (create exact copy of object with different instances of cloned objects including any nested references).

There is no support for this common task in standard libraries. One widely used workaround is the serialization and deserialization of object using built-in serialization classes. But this workaround is suffering from poor performance and

[2016-11-18 10:43] RussKeldorph commented on #930
@AndyAyersMS This would be easy to set up on VMs and would acceptably cover the three scenarios as long as a high enough fraction of VMs are AVX2-capable.  Pinning to run on the few real (AVX2) boxes we have would be a bit more work but entirely doable.

@mellinoe Note that we intend to bring SIMD to to 32-bit as well with RyuJIT/x86.

[2016-11-18 10:48] m4x1202 commented on #13310
This behavior unfortunately did not change with the current release: dotnet-dev-1.0.0-preview2.1-003177

[2016-11-18 11:47] jamesqo commented on #8034
@justinvp You've convinced me. Now that I think about it intuitively, "case-insensitive" or "culture-dependent" is a 'type' of comparison. I'll change the name.

[2016-11-18 12:07] ajtowf commented on #13794
## Update 2

So I've isolated the problem to if I read a certificate from the cert store and then register a delegate for validating the certificate the app crashes.

    using (var certStore = new X509Store(StoreName.My, StoreLocation.CurrentUser))
    {
        certStore.Open(OpenFlags.ReadOnly);
        var certCollection = certStore.Certificates.Find(X509FindType.FindByThumbprint, "<thumb>", f

[2016-11-18 12:23] stephentoub commented on #8034
I'm ok with the shape of this, but regarding the StringComparison, a possible alternative:

Don't include:
[code]
Instead, add a method:
[code]

Then instead of writing:
[code]
you write:
[code]
Yes, it's a bit longer, but it solves the same problem without needing two specialized methods on HashCode (which we've just promoted to System), and you get a static helper method that can be used in othe

[2016-11-18 12:31] #5256 closed

[2016-11-18 12:40] stephentoub commented on #13794
@ajtowf, thanks for the report. Do you know what OS this is?  And is it actually crashing, or is an exception getting thrown that you could catch and share the details of?

cc: @bartonjs

[2016-11-18 12:42] stephentoub commented on #13568
@Clockwork-Muse, thanks for the investigation.

@ArshBunny, it sounds like the issue isn't actually in BigInteger.  Can this be closed?

[2016-11-18 13:11] #12233 closed

[2016-11-18 13:12] #1198 closed

[2016-11-18 13:13] #4833 closed

[2016-11-18 13:13] #4882 closed

[2016-11-18 13:14] #6388 closed

[2016-11-18 13:31] ajtowf commented on #13794
Since the CGI program crashed this isn't something that can be catched, doesn't matter if I wrap it in try/catch. Anyways what I ended up doing was to load the file from disk instead of reading it from the store. That will do for now, I'll close this bug. Cheers!

[2016-11-18 13:34] fegonfe opened #13799 "ByteStreamMessageEncoder?"
What is the plan for System.ServiceModel.Channels.ByteStreamMessageEncoder to get to .NET Core?

[2016-11-18 13:43] ajtowf commented on #13794
Sorry forgot to answer your question, it's windows locally, but it works on locally, the problem occurred when deployed to azure website.

[2016-11-18 14:28] stephentoub commented on #13794
Thanks, @ajtowf.  I reopened it because if the code is actually crashing (e.g. an AV, seg fault, etc.), that's something we'd want to investigate.

[2016-11-18 14:38] jamesqo commented on #8034
@stephentoub, `FromComparison` sounds like a good idea. I actually proposed upwards in the thread to add a `string.GetHashCode(StringComparison)` api, which makes your example even simpler (assuming non-null string):

[code]

@Elion said it added too many calls though.

[2016-11-18 14:48] jamesqo opened #13800 "Proposal: Make it easier to use StringComparison & StringComparer with GetHashCode."
## Proposed API

1. Add API to convert a `StringComparison` to a `StringComparer`, to avoid bunch of switch-statements in user code (see 'Motivation' section below).
2. Add `string.GetHashCode(StringComparison)` API, to make it easier/more discoverable to get the culture-dependent, case-insensitive, etc. hash of a string. Currently, you have to do `StringComparer.XXX.GetHashCode(str)`, which is ve

[2016-11-18 14:56] jkotas commented on #13374
Better performance is really the only good reason to add this API, but there is no evidence that it really does that. We can reconsider if the generic implementation is proved to provide significant performance advantage over the existing non-generic one (and equivalent optimization cannot be reasonably applied to the existing non-generic implementation).

[2016-11-18 15:08] jkotas commented on #11588
Better performance is really the only good reason to add this API, but there is no evidence that it really does that. We should not be adding the API with a hope that it may improve something in the future - related discussion in https://github.com/dotnet/corefx/issues/13374. We can reconsider if the generic implementation is proved to provide significant performance advantage over the existing no

[2016-11-18 15:27] svick commented on #13795
I think there are lots of questions that have to be answered for something like this. Some of them:

* Not all objects can be cloned safely. (Which is why even the shallow clone support that does exist in the form of `MemberwiseClone()` is `protected`.) So how do you ensure only cloneable objects can actually be cloned? Are you going to require that cloneable objects are marked with an attribute?

[2016-11-18 15:48] joperezr commented on #219
@nguerrera I unassigned you as you were not working on this. Is this still something you think we should add?

[2016-11-18 15:53] svick commented on #13800
How is `StringComparer.Ordinal.GetHashCode(str)` more verbose than `str.GetHashCode(StringComparison.Ordinal)`, when it's 2 characters shorter?

[2016-11-18 15:58] justinvp commented on #13800
I think it's more about discoverability. Not everyone knows that you can use `StringComparer` to get a hash code. I've seen a bunch of uses of `text.ToLowerInvariant().GetHashCode()` when `StringComparer.OrdinalIgnoreCase.GetHashCode(text)` would have been better.

[2016-11-18 16:05] JonHanna commented on #13800
To be honest, I do know that you can use `StringComparer` that way, and I still forget sometime and go through a case transform.

[2016-11-18 16:06] joperezr commented on #494
We need a formal Api proposal if we want to go through with this.

Personally, given the methods are already exposed, I don't think there is a big gain with doing this.

[2016-11-18 16:12] daflame76 commented on #984
+1
It is difficult for my work to transition to .NET standard/core without this.  However, I would propose NOT to copy the failings of [`System.IO.Ports`](https://github.com/Microsoft/referencesource/tree/master/System/sys/system/IO/ports) verbatim.  Its modularity and compatibility is horrendous.

We have the opportunity to improve the serial port here since this is a break away from the original

[2016-11-18 16:37] bartonjs commented on #13794
* Windows
* .NET Core 1.1
* Crashes after reading a cert from the store, but not from a file

Sounds like an R2R bug under investigation: https://github.com/dotnet/coreclr/issues/8148

If anyone agrees we can probably close this one

[2016-11-18 16:56] jamesqo commented on #13800
@svick Another thing to mention is that `str.GetHashCode(StringComparison.Ordinal)` has less dots, so you have to hit Enter less in VS.

[2016-11-18 16:58] tarekgh opened #13804 "Fold the System.Globalization.Extensions contract to System.Runtime.Extensions"
System.Globalization.Extensions became very tiny contract and it make sense to fold it to System.Runtime.Extensions with the rest of the related types moved there. this was Wes and jkotas ask

[2016-11-18 16:59] #12316 closed

[2016-11-18 17:02] stephentoub commented on #13794
Thanks, Jeremy.  Sounds like the same issue.  We can close this one.

[2016-11-18 17:02] #13794 closed

[2016-11-18 17:04] nguerrera commented on #219
I don't see why not. We'd need a formal API proposal. I just sketched the idea.

[2016-11-18 17:08] Opiumtm commented on #13795
I think, `[Serializable]` attribute should be used and its rules  (as classic `BinaryFormatter` does) should be closely followed. Deep clone behavior should be close as possible to classic `BinaryFormatter`.

[2016-11-18 17:15] jbuck79 commented on #2089
I'd just like to chime in and say that I'm fine with a Windows-only solution until something cross-platform can be put together.

I would imagine that 99.9% of developers who need to connect to Active Directory are doing so in an enterprise environment where they are developing on Windows boxes.

[2016-11-18 17:16] tmds commented on #13710
@stephentoub any thoughts from your side?

[2016-11-18 17:23] jkotas commented on #13795
There is existing `ICloneable` interface - types that want to support efficient cloning can implement it.

[2016-11-18 17:27] svick commented on #13800
@jamesqo I count 2 dots in `StringComparer.Ordinal.GetHashCode(str)` and 2 dots in `str.GetHashCode(StringComparison.Ordinal)`. 😉

[2016-11-18 17:29] karelz commented on #8034
I also dislike adding 2 specialized methods on `HashCode` for string.
@Eilon you mentioned the pattern is used in ASP.NET Core itself. How much do you think external developers will use it?

[2016-11-18 17:30] viniciusvillas commented on #984
Quick technical question: should the SerialPort implementation in .NET Core for Linux be based on file operations over the device? I mean, should, for instance, `SerialPort.Write(...)` call a write on `/dev/ttyUSB0`? In this case, how can we deal with the different serial port configurations that can be set by termios (tcsetattr/tcgetattr)? Should it always reset it to a raw serial port state?

[2016-11-18 17:32] karelz commented on #8034
@jamesqo thanks for driving the design! As @terrajobst said, we appreciate your help and patience. Fundamental small APIs can sometimes take a while to iterate on :).

Let's see where we land with this last piece of API feedback, then we can go ahead with the implementation.

[2016-11-18 17:34] JonHanna commented on #13795
If following BinaryFormatter, then would an ObjectFormatter which "serialised" an object to a new object, as if it had serialised and deserialised but without the actual intermediary step, suffice?

If an object is immutable would getting the same instance be okay (as when you call Clone() on a string) or a problem?

[2016-11-18 17:42] svick commented on #13795
@jkotas I don't see how does `ICloneable` help here.

* Its documentation suggests it shouldn't be used in public APIs. In private APIs, I don't see how implementing BCL interface with unclear semantics that forces unnecessary casts adds any value.
* The implementation is the main issue. Efficient implementation would require lots of repetition or some kind of code generation and would probably ha

[2016-11-18 17:46] JonHanna commented on #8034
Should there be a:
[code]
?

(Apologies if that was dismissed already and I'm missing it here).

[2016-11-18 17:54] jhclark opened #13806 "System.IO.File.Copy() provides an incorrect error message when destination directory does not exist"
**Problem:** System.IO.File.Copy() provides an incorrect error message when destination directory does not exist
**Proposed solution:** Edit https://github.com/dotnet/corefx/blob/c55435befeb372707558a5c441b3c64bf243948f/src/Common/src/System/IO/Win32Marshal.cs#L61 to check whether it's the source or dest path that doesn't exist when creating an error message.

**Problem description from colleague'

[2016-11-18 17:56] Opiumtm commented on #13795
@JonHanna

Yes, indeed. Serialization/deserialization "simulation" have many issues. On of such issue is requirement to store intermediate binary result somewhere. Often it is `MemoryStream`. Binary writes to stream are totally unnecessary here.

[2016-11-18 18:00] karelz commented on #1745
netstandard2.0 was worked around (says @joperezr)

[2016-11-18 18:03] karelz commented on #2324
We need formal API proposal. Please include also usage info with justification why it is useful to add (should be widely needed/used).

[2016-11-18 18:04] karelz commented on #2321
This would be a breaking change. We can't take it.

[2016-11-18 18:04] #2321 closed

[2016-11-18 18:05] karelz commented on #2119
We will take changes in this direction as long as they are backwards compatible. Feel free to submit PRs per struct or bundle them.

[2016-11-18 18:07] Eilon commented on #8034
@stephentoub said:

[code]
Yes, it's a bit longer, but it solves the same problem without needing two specialized methods on HashCode (which we've just promoted to System), and you get a static helper method that can be used in other, unrelated situations. It also keeps it similar to how you'd use it if you already have a StringComparer (since we're not talking about comparer overloads):

----

We

[2016-11-18 18:10] karelz commented on #2064
We don't think using `Add`, etc. will be that helpful. Ideally we would like operators on interfaces, which requires language + library + runtime support.
Closing here - we should move this to User Voice per our [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#when-we-close-issues).

[2016-11-18 18:10] #2064 closed

[2016-11-18 18:14] karelz commented on #1903
Based on the comments above and low interest, I would suggest to close this one. There are some workarounds and it is not super clear that this will bring huge value.
If you feel we missed your point, feel free to reopen with additional details and justification.

[2016-11-18 18:14] #1903 closed

[2016-11-18 18:16] karelz commented on #1565
We need formal API proposal

[2016-11-18 18:17] danmosemsft opened #13807 "revert TextWriter virtual"
This was changed from virtual, which is a breaking change.
[code]

[2016-11-18 18:19] karelz commented on #1514
Next step: Improve current memory allocations of existing APIs as much as possible -- the result will tell us if we still need new APIs.

[2016-11-18 18:21] karelz commented on #1244
@terrajobst the link above doesn't work. What was the work needed here?

[2016-11-18 18:21] stephentoub commented on #8034
Because it's not clear to me convenience methods are really needed here.  I get that ASP.NET does it in various places.  How many places?  And in how many of those places is it actually a variable StringComparison you have rather than a known value, in which case you don't even need the helper I mentioned and could just do:
[code]
which in no way seems onerous to me or any more undiscoverable than

[2016-11-18 18:33] tarekgh commented on #1244
https://github.com/dotnet/apireviews/blob/267a7c25e418335b8aaf45c466d90425a9a944e4/2015/04-28-misc/README.md

[2016-11-18 18:34] tarekgh commented on #1244
[code]

[2016-11-18 18:34] danmosemsft opened #13808 "Two interop methods missed"
These are in standard but didn't make it into https://github.com/dotnet/corefx/pull/13479.

[code]

[2016-11-18 18:35] tarekgh commented on #1244
@ joperezr please talk to me if you are going to do any work here

[2016-11-18 18:36] Eilon commented on #8034
Here's the search I did: https://github.com/search?p=2&q=user%3Aaspnet+hashcodecombiner&type=Code&utf8=%E2%9C%93

Out of ~100 matches, even just from the first few pages almost every use case has strings, and in several cases uses different kinds of string comparisons:

1. Ordinal: https://github.com/aspnet/Razor/blob/77ed9f22fc8894fbce796bb8a704d6cd03a3b226/src/Microsoft.AspNetCore.Razor.TagHelpe

[2016-11-18 18:41] CIPop commented on #13752
@nayato, the ideal way to do this is without checking for the OS. Is there any way we can avoid platform detection and infer the availability from Winsock APIs?

[2016-11-18 18:43] stephentoub commented on #8034
Every one of the 10 you listed (I didn't look at the rest of the search) explicitly specifies the string comparison, rather than pulling it from a variable, so aren't we just talking about the difference between, for example:
[code]
and
[code]
?  That is not "waaay super longer", unless I'm missing something.

Anyway, as I've stated, I'm simply suggesting we really consider whether these overloads

[2016-11-18 18:45] huanwu commented on #13766
@Clockwork-Muse I mean make the code style, format of TimeSpan similar as DateTime.

[2016-11-18 18:47] shmao opened #13809 "Area-Serialization Sprint 110"
The issue is for tracking issues to be done in sprint 110 (due by 12/09/2016).

[2016-11-18 18:48] #13555 closed

[2016-11-18 18:49] #11655 closed

[2016-11-18 18:49] stephentoub commented on #8034
Related, what is the behavior we're planning for null inputs?  What about int==0? I can start to see more benefit to the string overload if we allow null to be passed, as I believe StringComparer.GetHashCode typically throws for a null input, so if this really is common, it does start to become more cumbersome if the caller has to special case nulls.  But that then also begs the question of what t

[2016-11-18 18:57] VSadov commented on #3093
I think Create is good here.  It is true that many other methods create something, but the typical use will be:    "Enumerable.Create(...)"   which is clearly creating an enumerable.

[2016-11-18 18:57] JonHanna commented on #8034
I think the best general approach to null is to mix in a zero. For a single null element added having it as a nop would be better, but if someone is feeding in a sequence then it becomes more beneficial to have 10 nulls hash differently to 20.

[2016-11-18 18:58] shmao commented on #13365
This was fixed by #13365.

[2016-11-18 18:58] #13365 closed

[2016-11-18 18:59] VSadov commented on #3093
It seems like a good addition.
Before this is implemented we  need to agree on
- The name of the factory
- How many overloads  ( 1-8, N)
- Do we need a "params" overload
- Pass the above through API review.

[2016-11-18 19:08] shrah commented on #13808
https://github.com/dotnet/corefx/pull/13811

[2016-11-18 19:08] Eilon commented on #8034
Indeed, my vote comes from the perspective of ASP.NET Core's codebase, where having an overload that is string-aware would be very helpful. The things about line-length were not really my main concern, but rather about discoverability.

If a string-aware overload were not available in the system, we'd just add an internal extension method in ASP.NET Core and use that.

[2016-11-18 19:12] joperezr commented on #649
Marking as up-for-grabs so that anybody can submit an API Proposal to look at.

[2016-11-18 19:13] davidsh commented on #13768
Thank you for submitting the repro solution. I have reproduced the problem and there is a different in behavior from the 5.1 to the 5.2.2 UWP meta-package.

The problem seems to be that cookies are not being sent back to the server.

I took a Fiddler trace of the HTTP request/response transactions from the repro solution.

First request:
[code]
Response:
[code]

In the 5.1 case, the cookie is sent

[2016-11-18 19:16] karelz commented on #8034
I think that would be a great solution for now, until we see more evidence that such API is needed in general, also outside of ASP.NET Core code base.

[2016-11-18 19:27] karelz commented on #1244
We need formal API proposal (taking into account the above feedback)

[2016-11-18 19:32] davidsh commented on #13768
I have determined the root cause of the bug.  It seems that any `Set-Cookie` headers that arrive in HTTP responses that are 3xx responses (i.e. redirects) will not end up in the .NET CookieContainer store. That means that they won't be sent back on subsequent requests.

The reason this is happening is due to a set of changes made last year to fix other Cookie related issues in UWP apps.

https://g

[2016-11-18 19:39] Pastafarian opened #13813 "HttpClient - Create synchronous versions of HTTP calls"
Currently the HttpClient only offers async HTTP calls GetAsync, PostAsync, PutAsync etc...

When calling from synchronous code it becomes necessary to break to mix async and synchronous code which breaks with best practice and leaves the developer unsure if a ".Result" may result in deadlock.

I suggest we create synchronous versions for all HTTP calls on the client.

[2016-11-18 19:48] JonHanna commented on #3093
A params overload wouldn't add much, since params itself is just sugar on an array, but it would be intuitive that there was no arbitrary limit.
Would just returning that array be considered leaking interfaces?

[2016-11-18 19:50] ianhays commented on #13291
Opened an issue to remove this type from standard and assigned it to @weshaggard: https://github.com/dotnet/standard/issues/104.

[2016-11-18 19:50] #13291 closed

[2016-11-18 19:51] #12162 closed

[2016-11-18 19:57] kouvel commented on #11638
Added `Marshal.CleanupUnusedObjectsInCurrentContext`

[2016-11-18 19:58] karelz commented on #13799
Please ask on [dotnet/wcf](https://github.com/dotnet/wcf)

[2016-11-18 19:58] #13799 closed

[2016-11-18 19:58] kouvel commented on #13808
Moved `Marshal.CleanupUnusedObjectsInCurrentContext` to issue #11638, that is covered by PR #13722. @shrah, you have use this issue for your PR.

[2016-11-18 19:58] ianhays commented on #12302
@steveharter looks like this should go in the System.Security.Cryptography.Algorithms assembly, yes?

[2016-11-18 20:09] #13807 closed

[2016-11-18 20:09] karelz commented on #13813
cc: @davidsh @CIPop @stephentoub

[2016-11-18 20:15] VSadov commented on #2076
It looks like the major purpose of this proposal is to
1. not require an identity key projection  when item is its own key
2. provide comparer lambda  instead (or in addition to) of IComparer

The main question is - why do we need so many new API entries? Can we still have most of the benefits without bloating the API surface too much? What would be the minimum necessary API addition?

It seems th

[2016-11-18 20:16] VSadov commented on #2076
The idea seems reasonable, but need to settle on appropriate shape of the additional API

[2016-11-18 20:26] davidsh commented on #13768
Seem like this is a dupe of #9003

[2016-11-18 20:32] davidsh commented on #7750
This is possibly a dupe of #9003.

[2016-11-18 20:32] romainbecheau commented on #13768
Thanks

So I will keep the v5.1 waiting a correction :)
Le ven. 18 nov. 2016 à 21:26, David Shulman <notifications@github.com> a
écrit :

[2016-11-18 20:44] bottomup opened #13814 "System.Net.Security.SslStream error on AuthenticateAsClientAsync"
Since the upgrade from ASP.NET Core 1.0.1 to 1.1.0, my application breaks on AuthenticateAsClientAsync, which is used in MailKit.SmtpClient.Connect by @jstedfast

The only feedback the appication gives is
An unhandled exception of type 'System.Reflection.TargetInvocationException' occurred in System.Windows.ni.dll

I'm connecting to smtp.sendgrid.net

[2016-11-18 20:49] davidsh commented on #12282
Closing this as we believe this is fixed in the .NET Core 1.1 RTM release.

Please re-open if you still see this problem.  Thx.

[2016-11-18 20:49] #12282 closed

[2016-11-18 20:49] blowdart commented on #13814
@bartonjs ?

[2016-11-18 20:52] davidsh commented on #10566
This problem should be gone now in the current code in [master] branch targeted for .NET Core 1.2 release.

The APM methods have been added back to the API surface and don't reside in any extensions class.

Closing this issue for now.  Please try out the current code in [master].  Thx.

[2016-11-18 20:52] #10566 closed

[2016-11-18 20:56] bartonjs commented on #13814
@bottomup A TargetInvocationException frequently has an inner exception to go with it.  do you have a full exception report, including any inner exception(s)?

[2016-11-18 21:04] bottomup commented on #13814
Unfortunately not very useful. The innerexception is this:
System.ExecutionEngineException was unhandled
Message: An unhandled exception of type 'System.ExecutionEngineException' occurred in System.Private.CoreLib.ni.dll

[2016-11-18 21:06] svick commented on #13813
`Result` resulting in deadlock can only happen if the `Task` you're waiting on attempts to continue on the current context. When it comes to well-written non-UI code, that should never happen. So I think it's safe to assume calling `Result` on the return value of `HttpClient` methods will not deadlock.

[2016-11-18 21:09] tmat commented on #5540
@jkotas Sounds great. Internal dups are fine.

[2016-11-18 21:17] svick commented on #2076
@VSadov Did you mean `Func<T, T, int>` (delegate version of `IComparer<T>`), instead of `Func<T, T, bool>` (delegate version of `IEqualityComparer<T>`)?

[2016-11-18 21:17] VSadov opened #13816 "Relax Array.Copy to only require that source is assignment-compatible with destination"
Note that this only affects the case where the destination element type is a valuetype.
Since arrays of enums of the same underlying types are assignment compatible (from CLR point of view), it is easy to fall into a trap where one array would be assignable to another, but not "copyable" form the CopyTo prospective.  That results in issues as in https://github.com/dotnet/corefx/issues/2241

It see

[2016-11-18 21:18] VSadov commented on #2241
It seems the right solution here is to make new or existing CopyTo  to work with everything assignment-compatible.
I have entered https://github.com/dotnet/corefx/issues/13816 to track that.

[2016-11-18 21:18] VSadov commented on #2241
I think we should close this for now until   #13816 is fixed.

[2016-11-18 21:20] bartonjs commented on #13814
Ah, then I think you've run into dotnet/coreclr#8148. As a way to confirm you can change your debugger launch settings to set the  COMPlus_ReadyToRunExcludeList  enviornment variable to  System.Security.Cryptography.X509Certificates . If the exception(s) go away then that's the culprit.

[2016-11-18 21:22] shmao commented on #10573
This has been fixed. Closing the issue.

[2016-11-18 21:22] #10573 closed

[2016-11-18 21:23] shmao commented on #11917
This was fixed by  #13788.

[2016-11-18 21:23] #11917 closed

[2016-11-18 21:24] daflame76 commented on #984
@viniciusvillas if there is a way the feature can be abstracted for the advanced serial port use cases and still be compatible across all platforms I don't see why not, otherwise it belongs in a platform specific library.

[2016-11-18 21:28] #13748 closed

[2016-11-18 21:35] daflame76 commented on #2937
@SariDev I wouldn't call it useless for mobile targets.  There are `GSM` modems that operate connected as `/dev/ttyUSB*`.  I have developed .NET software to interface with them myself.  In fact, the device I connected to offered its bring-up console via serial as well.  So I would say that maybe end-users and mobile app developers aren't interested, but systems and device manufacturing developers

[2016-11-18 21:38] VSadov commented on #2076
@svick  - right, Func<T, T, int> of course

[2016-11-18 21:41] shrah commented on #13808
Merged https://github.com/dotnet/corefx/pull/13811

[2016-11-18 21:41] #13808 closed

[2016-11-18 21:46] VSadov commented on #3093
@JonHanna it would need at least to wrap the array into something so it could not be cast back to an array  and changed.

I am not very convinced that params version is needed.

[2016-11-18 21:48] VSadov commented on #3093
As a minimal API change that would address the issue we only need something like

[code]

[2016-11-18 21:50] steveharter commented on #12302
Yes - S.S.C.Algorithms

[2016-11-18 21:51] nayato commented on #13752
@CIPop the problem is that on OS prior to Win 8 there is an bug with SkipCompletionPortOnSuccess on UDP socket. As .NET Core supports Win 7 SP1 I don't know how to get around it without version check. Unless you want to skip enabling it on any UDP socket regardless of OS version.

[2016-11-18 21:55] VSadov commented on #2317
@terrajobst - I think it is a clear oversight and is better to be fixed.
It is a source breaker for some implementers of IOrderedEnumerable, but I doubt there are may of them

[2016-11-18 21:58] JonHanna commented on #2317
If we do consider it a fix rather than an API change at least I could tackle it without hitting the noob issues I'm having as a noob at API additions :/

[2016-11-18 22:04] CIPop commented on #13752
@nayato I understand that: was hoping there's some cool hack to determine if the code has the bug or not. (e.g. maybe in Win8 when the bug was fixed, the winsock DLL has a few more APIs: if those are detected we are 100% sure the bug is also fixed.) I think it's worth asking the WinSock team internally before adding the platform version check.

In the past, @weshaggard and @ericstj proposed that w

[2016-11-18 22:05] bottomup commented on #13814
@bartonjs this indeed 'fixed' the problem! I guess this will be addressed in the 1.2.0 milestone?

[2016-11-18 22:12] CIPop commented on #13813
This is by design.

@Pastafarian the issue that you're pointing out is TPL in general. @stephentoub may be able to address the issue.

[2016-11-18 22:12] bottomup commented on #13814
@bartonjs however the problem persists when deploying to Azure, any idea where I can force that behavior there?

[2016-11-18 22:12] karelz commented on #2241
Let's keep it open to not loose track.

[2016-11-18 22:12] VSadov commented on #2327
Would be a useful change, but need to carefully balance the impact of specialization.

Unlike Count, which is by default O(N), Any is typically O(1), and it would be harder to ensure that the improvement is big enough to amortize the cost of specialization.

In particular, consider cases like immutable collections. I am not sure Count is O(1) there, but Any certainly is.

[2016-11-18 22:15] karelz commented on #2241
Blocked on #13816

[2016-11-18 22:20] GSPP commented on #2324
What more details are needed?

[2016-11-18 22:21] karelz commented on #13816
This is blocking another issue - is such change to CopyTo desirable?
cc: @AlexGhiondea @joperezr @stephentoub @jkotas

[2016-11-18 22:21] bottomup commented on #13814
@bartonjs found it in Azure, and this also solved the issue there. Thanks for the suggestion.

[2016-11-18 22:21] #13814 closed

[2016-11-18 22:21] terrajobst commented on #2317
With .NET Core decoupled from .NET Framework, I don't have any concerns right now. Per @ericstj and @mjrousos suggestion, when we port this change to .NET Framework, we should document it as a breaking change.

@ericstj @weshaggard @KrzysztofCwalina any concerns approving this API suggestion?

[2016-11-18 22:22] VSadov commented on #2327
Second answer in http://stackoverflow.com/questions/2989300/interview-question-any-vs-if-length-0-for-testing-if-a-collection-has-e actually   actually makes a very good explanation why "Any" could be preferred over "Count > 0" .  Basically "Any" is almost certainly O(1), while with "Count" you cannot be sure. Even if sequence implements interfaces that provide "Count" it does not necessarily mean

[2016-11-18 22:25] #12767 closed

[2016-11-18 22:25] karelz commented on #2324
Formal API proposal: see [example](https://github.com/dotnet/corefx/issues/271), or [general API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2016-11-18 22:31] shmao commented on #13360
Closing the issues as the sprint ends. All issues in the sprint have been resolved.

/cc: @huanwu @zhenlan

[2016-11-18 22:31] #13360 closed

[2016-11-18 22:37] #11633 closed

[2016-11-18 22:37] #11635 closed

[2016-11-18 22:37] #11638 closed

[2016-11-18 22:37] #11636 closed

[2016-11-18 22:37] #13484 closed

[2016-11-18 22:40] JonHanna commented on #2076
Call that on a variable typed as `List<T>` for some T and it will call `List`'s instance method instead of this.

Even if there were no signature matches, "Sort is in-place, OrderBy produces a new object" is the explanation often given, so the names would match. So I don't think `Sort` is a good name.

It seems to me that these are really overloads of `OrderBy` and so should be named as such.

Unl

[2016-11-18 22:42] #13624 closed

[2016-11-18 22:42] karelz commented on #11857
@danmosemsft @terrajobst should we close the issue?

[2016-11-18 22:42] tmat commented on #13624
The collections don't expose indexers by design.

[2016-11-18 22:43] karelz commented on #2648
Ping @weshaggard?

[2016-11-18 22:48] jimcarley commented on #11995
It looks like commit:
https://github.com/dotnet/corefx/commit/60e727a897891d3820ff7017806dbf807676a81d

fixed this issue. Closing.

[2016-11-18 22:48] #11995 closed

[2016-11-18 22:48] karelz commented on #12336
@lzybkr were you able to make any progress?
cc: @ianhays

[2016-11-18 22:50] svick commented on #2076
@JonHanna

They are, except the `By` part does not fit for the identity sort. As [said previously](https://github.com/dotnet/corefx/issues/2076#issuecomment-112862707) by @eatdrinksleepcode:

I agree with that. For example, `employees.OrderBy(e => e.Name)` reads "order employees by name", `numbers.OrderBy()` is just "order numbers", there is no "by" part. Because of that, I think `Order` would be

[2016-11-18 22:51] JonHanna commented on #3093
I've we're going to insist that the params must be wrapped, then I'm against the params form.

[2016-11-18 22:52] jimcarley commented on #11737
There has been one failure since the commit for early transaction timeout issues was done. While this issue is opposite - transactions don't timeout when expected to, I thought the timeout fix might affect this one. Apparently not.

The infrequency of failures makes figuring this one out difficult.

[2016-11-18 22:53] JonHanna commented on #2076
I could happily live with `Order`.

[2016-11-18 22:54] ianhays commented on #12302
What would you suggest I do about the lack of the SHA(X)Cng types? To be specific, they're being used as the `DigestAlgorithm`s for `RSAPKCS1SHA1SignatureDescription` and friends.

It looks like I can create a dummy `Sha(X)Cng) type in Security.Cng and have it wrap around `CngAlgorithm.Sha(X)`. Does that seem reasonable? I would use those properties directly, but CngAlgorithm doesn't inherit from

[2016-11-18 22:56] ianhays commented on #13447
Feel free to investigate and push a PR referencing this issue. Marking as `bug` and `up for grabs`.

[2016-11-18 22:57] karelz commented on #8429
Anyone wants to pick it up? Should be fairly simple (the API addition will be a bit tricky) ...

[2016-11-18 22:57] ianhays commented on #13457
This is resolved by https://github.com/dotnet/corefx/pull/13758

[2016-11-18 22:57] #13457 closed

[2016-11-18 22:57] lzybkr commented on #12336
The affected key bindings aren't too critical, so I haven't found time to take a look yet.

[2016-11-18 23:01] shmao commented on #10578
This was fixed by #11511. Closing the issue.

[2016-11-18 23:01] #10578 closed

[2016-11-18 23:05] JonHanna commented on #2323
Gah. As a noob to versioning the API, I'm having noob problems versioning the API :(

[2016-11-18 23:14] VSadov commented on #2159
@neil-119    Hi, sorry for not getting to this earlier. I have tried the referenced repro and I am having troubles compiling it. That could be because it beta5 bits, that might be unavailable (I cannot say I am an expert in DNX/Core packages and versioning)

If the problem is still reproducing, could you please update/fix the repro to make it work again?

Thanks!

[2016-11-18 23:24] karelz commented on #2323
@JonHanna yeah, sorry, adding APIs it is not pretty now :( ... I want to clean it up and make it simple for mainline cases (hopefully during December).
In the meantime: if you have questions, ask, if you know where we miss in docs, let me know or just submit PR updating them (if it is larger shake up of docs, we can create a docs branch right away and tune it there).

[2016-11-18 23:25] ianhays commented on #13708
I can repro this on ISE. The first time I ran the exe, it opened another window and immediately closed it.

I'd suggest raising this issue with the ISE devs as they'll have better context than we do. This works fine in a regular powershell window, so that makes me think the issue is in something ISE is doing with the exe.

[2016-11-18 23:25] #13708 closed

[2016-11-18 23:31] jkotas commented on #13816
`Array.CopyTo` is a thin wrapper over `Array.Copy`. I assume that this change would be actually made in `Array.Copy`.

The copy is allowed from array of enums to array of underlying primitive type today. Relaxing it to allow other direction sounds fine to me.

[code]

It makes it consistent with how similar cases are handled in other parts of the system, for example boxing/unboxing works in both d

[2016-11-18 23:44] karelz commented on #2127
@kzu do you want to grab it?

[2016-11-18 23:46] karelz commented on #4690
@ViIvanov do you plan to work on it? Would an example help?

[2016-11-18 23:57] karelz commented on #6318
@hermitdave are you working on it?

[2016-11-19 00:07] karelz commented on #12560
@Priya91 @ianhays should we switch it into API proposal?

[2016-11-19 00:21] VSadov commented on #2146
It is the goal of Linq to support all possible scenarios. Any additional API introduces costs of ongoing support, and additional size.

As I see there are two parts in this proposal

1.  XxxxBy  methods.   -  It seems like most of that functionality is already expressible via custom comparers.
It is unclear if the benefits of an additional way to do the same thing would be attractive enough to exp

[2016-11-19 00:21] #2146 closed

[2016-11-19 00:25] karelz commented on #1961
@KrzysztofCwalina ping?

[2016-11-19 00:25] karelz commented on #1900
@KrzysztofCwalina ping?

[2016-11-19 00:34] karelz commented on #11715
@clarkis117 just curious if you were able to make any progress ... or if you need any help

[2016-11-19 00:35] VSadov commented on #5449
For the most part LINQ is a library of composable query-like operators that work with sequences.
It would not be the right place for an extension that specifically targets arrays with the purpose of in-place mutation.

[2016-11-19 00:35] #5449 closed

[2016-11-19 00:45] JonHanna commented on #2323
@karelz if you can see why #13726 is failing that'd be great. It's most likely the sort of silly thing one can get stuck on the first go on something that I'll kick myself about later, but I can't figure it right now.

[2016-11-19 00:52] clarkis117 commented on #11715
Yeah, I seem to be running into issues where the APIs for `System.Text.Encoding.CodePages` are not available on netstandard1.7. I will post the project.json files I'm using and example code that reproduces the issue, in a more detailed write up soon.

[2016-11-19 01:01] karelz commented on #2323
@mellinoe @weshaggard @ericstj can you please help advise here?
(sadly I didn't do a change of this type myself, so I don't know yet - it's my homework for December)

[2016-11-19 01:07] karelz commented on #2089
We're discussing the funding on our side (expect update in ~2 weeks), this is currently top priority from APIs which are not yet part of .NET Standard 2.0.

Are there people around who would be willing to help/contribute with the Windows implementation and/or Linux implementation? (we could drop in the code from Desktop and it would require further massaging to build + some testing)

[2016-11-19 01:11] alexperovich commented on #6371
The `Thread.ResetState()` method with a flags enum parameter makes sense. Can we get a formal api proposal?

[2016-11-19 01:25] VSadov commented on #3481
Ok, we have to get this to some conclusion.

Assuming that
1. It was observed a while ago that most queries are enumerated only once. I think this observation still holds.
2. If we separate Enumerable/Enumerator classes, we would need to pay for 2 object headers + duplicated data like "source", "predicate", that would not be compensated by the loss of ThreadID

I think the above rules out "just se

[2016-11-19 01:25] #3481 closed

[2016-11-19 01:44] terrajobst commented on #11857
We should leave it open and mark it up for grabs. This allows folks to vote for it so we can collect feedback.

[2016-11-19 02:06] svick commented on #2146
@VSadov

I think that at least `MinBy`/`MaxBy` and chunking are fairly common.

---

You didn't address `MinBy` and `MaxBy` at all. What is the reason for rejecting those? Is it because `OrderBy(…).First()/.Last()` is now efficient? If that is the reason, my concern is that `OrderBy(…).First()` *looks* slow, while `MinBy()` looks like it's optimized exactly for this case. That increases chances th

[2016-11-19 02:09] clarkis117 commented on #11715
Example code:

[code]

project.json for ref System.IO.Compression
[code]

project.json for src System.IO.Compression
[code]
Related build warnings and errors:

C:\Users\clark\Source\Repos\corefx\src\System.IO.Compression\src\System.IO.Compression.nuget.targets(4,5): warning : Pa
ckages containing MSBuild targets and props files cannot be fully installed in projects targeting multiple frameworks.
T

[2016-11-19 02:17] jnm2 commented on #2146
@VSadov I completely agree with @svick, came to argue the same. IComparer does not cut it.

[2016-11-19 02:19] karelz commented on #11857
"up for grabs" issues have to be actionable for community members. The source code is not available in the open, which means internal source code access is needed.

[2016-11-19 02:23] terrajobst commented on #11857
MEF v1 was released as open-source. http://mef.codeplex.com/

[2016-11-19 02:41] karelz commented on #1155
@alexperovich says: Likely race condition, tricky to track down and fix.

[2016-11-19 02:41] karelz commented on #1490
@alexperovich says: Likely race condition, tricky to track down and fix.

[2016-11-19 02:43] terrajobst commented on #8034
I've to say that I don't see the value in removing the string overload. It doesn't reduce any complexity, it doesn't make the code more efficient, and it doesn't prevent us from doing the other things, such as providing a method that returns a `StringComparer` from a `StringComparison`. Syntactic sugar *does* matter, because .NET has always been about making the common case easy. We also want to g

[2016-11-19 02:53] #13190 closed

[2016-11-19 03:08] jamesqo commented on #8034
@terrajobst, your compromise is a clever one. I like how you no longer have to call `GetHashCode` or nest an extra set of parentheses with a custom comparer.

[2016-11-19 03:12] be5invis opened #13822 "String iterator over code points (and a corresponded codepoint struct)"
[code]

[2016-11-19 03:18] jamesqo commented on #8034
Sorry for interrupting the conversation here. But, where should I put the new type? @mellinoe @ericstj @weshaggard, do you suggest I make a new assembly/package for this type like `System.HashCode`, or should I add it to an existing assembly like `System.Runtime.Extensions`? Thanks.

[2016-11-19 03:26] terrajobst commented on #8034
We've recently refactored the assembly layout in .NET Core quite a bit; I suggest to put it where the concrete comparers live, which seem to indicate `System.Runtime.Extensions`.

@weshaggard?

[2016-11-19 04:19] Thaina commented on #5449
@VSadov Currently now there is proposal about return ref. Which it should be supported on IEnumerable too. So this feature would not be only for array but can be possible on every collection that can return ref

[2016-11-19 04:24] Clockwork-Muse commented on #13822
Hmm, ideas for [precomposed characters](https://en.wikipedia.org/wiki/Unicode#Ready-made_versus_composite_characters)?

[2016-11-19 04:26] jahmai commented on #11100
Still an issue in NETStandard 1.6.1. Why?!

[2016-11-19 06:07] RussKie commented on #8491
This may be a crazy idea, but I thought I'd share regardless

`GetKeys(bool loadPrivateKey = false)` which returns an object with both public and private (if available) keys as properties.

[2016-11-19 09:36] LoulG commented on #11100
System.Net.Http 4.3.0 is out. Someone tried ?

[2016-11-19 10:53] jahmai commented on #11100
@LoulG Yep, still a problem I'm afraid.

[2016-11-19 13:13] Pastafarian commented on #13813
Thanks for the feedback.

Could you point me in the direction of the reasoning behind only supplying async methods?

I'm certainly not an expert with async though when I was looking over various articles concerning this (including some by @stephentoub) they appeared to suggest avoiding calling async from synchronous code.

Without looking through the source code for the HttpClient you would be una

[2016-11-19 14:26] stephentoub commented on #13813
It's not even that, it's any synchronous operation needing to consume an asynchronous one, regardless of how it's implemented.

You want to avoid it if possible, but it's not always possible.

In general it should be "safe" to block waiting for any Task-returning method from the framework; any place that's not the case is a bug that should be fixed.  I put "safe" in quotes because, as with any blo

[2016-11-19 14:49] svick opened #13824 "Proposal: Better API for StringInfo.GetTextElementEnumerator"
To get text elements from a `string`, you can currently use `System.Globalization.StringInfo.GetTextElementEnumerator`:

[code]

Notice that `TextElementEnumerator` is a (non-generic) enumerator, not enumerable, so it can't be used in a `foreach` or in LINQ or pretty much any other collection-related operation. To use it, you write code like:

[code]

This makes the API unfamiliar and inconvenient

[2016-11-19 14:54] svick commented on #13822
@Clockwork-Muse Isn't that what `string.Normalize` is for?

And if you want to iterate graphemes, there's `StringInfo.GetTextElementEnumerator` (though that API is terrible: https://github.com/dotnet/corefx/issues/13824).

[2016-11-19 15:05] Pastafarian commented on #13813
Thanks for explaining @stephentoub, the information regarding the safety of blocking framework tasks is worth knowing.

[2016-11-19 15:44] stephentoub commented on #13710
I agree that the docs could be misleading.  To my knowledge, there was never any intent that GetTempPath would guarantee a per-user folder (it doesn't guarantee that), it just happens that way sometimes on Windows due to the Windows-specific environment variables being checked.  But I also don't think the docs are wrong; the docs state "Returns the path of the current user's temporary folder", and

[2016-11-19 16:17] jamesqo commented on #13800
@svick Sorry, my logic was faulty yesterday :smile: I was trying to say that, with an instance method, once you type `GetHashCode(` VS will detect that the method accepts an enum & will offer autocomplete for `StringComparison`. Whereas, with the current scenario, you need to type at least up to `StringC` before VS guesses `StringComparer`, otherwise you need to move the selection down.

Anyway, @

[2016-11-19 16:37] jamesqo commented on #4928
Nice! 👍

[2016-11-19 16:41] jnm2 commented on #13800
Is there any reason that it shouldn't be better to encourage people to be hanging onto `IComparer<string>` in the first place rather than `StringComparison`?

[2016-11-19 16:53] jamesqo commented on #13800
@jnm2 I see your point. If we accepted an `IEqualityComparer<string>`, however, it would not help with discoverability since people would have no way of knowing to plug in a `StringComparer`.

[2016-11-19 16:54] robertmclaws commented on #11100
I spoke with @terrajobst on Twitter, and he said it's actually a bigger problem, and they have like 10 people working on it now. I'm personally not sure why they are not pulling the versions of this package displaying the problem, as I thought that's what package management was for. But the next we can do at this point is wait.

[2016-11-19 17:02] jamesqo commented on #13746
@karelz, maybe this is OK for review? I edited the original proposal and changed it to only include @justinvp's suggestions, namely `KeyValuePair` and `DictionaryEntry`. I think those types are pretty much intended to be used with this language feature.

[2016-11-19 17:29] jamesqo commented on #8034
@terrajobst Regarding the proposal itself, I just found out that we can't name both the static & instance overloads `Combine`, unfortunately. 😢

The following results in a [compiler error](http://tryroslyn.azurewebsites.net/#K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AwgPYA2lqAxsmORCMQOKoSoBOYtO2AB2AAjSrxgouwejAASAQxAALCgBNU2AN7YYumENHiAbuTCqYFdMMioAFJGQwwASh17temAF83u3/pExWglkeQZgkzMLcisbewhHF38PPR8vIA==

[2016-11-19 17:51] ViIvanov commented on #4690
@karelz I'm sorry for big delay. I trying to understand how the unit tests works and how to write new one. Will try to send PR today.

[2016-11-19 18:09] karelz commented on #8034
Separating the logic into 2 types sounds weird to me - to use `HashCode` you have to make the connection and start with `Hash` class instead.

I'd rather add `Create` method (or `Seed` or `Init`).
I would add also no-args overload `HashCode.Create().Combine(_field1).Combine(_field2)`.

[2016-11-19 18:10] jnm2 commented on #13800
@jamesqo `<see cref="StringComparer"/>`?

[2016-11-19 18:22] karelz commented on #5925
Given that we are bringing APIs back in 1.2, I think we can close this one.

[2016-11-19 18:22] #5925 closed

[2016-11-19 18:33] karelz commented on #4690
@ViIvanov no worries, there's no rush. I just wanted to know if I should assign it to you ...

[2016-11-19 18:37] AlexRadch opened #13827 "XsltCompiler.Tests project fails many tests when UI language is not ENU"
I have many failed tests in next projects.

msbuild.err
[code]

Is it normal?

[2016-11-19 19:01] JonHanna commented on #1490
Akin to #1330 is this actually promised?

[2016-11-19 21:13] svick commented on #13827
Why did the tests fail? You should be able to find out in msbuild.log or if you build `.builds` for one of the failing tests, e.g.:

[code]

 Does the same thing happen if you do a clean rebuild?

[2016-11-19 22:43] tmds commented on #13710
Everyone that wants to do something in /tmp should chose names wisely. So if it makes sense to have a user-specific folder returned by GetTempPath, it's 'only' a matter of choosing a good name.

If I have a look at my Windows environment variables, by default: TMP, TEMP and USERPROFILE are set and point to a user-specific Temp folder. So existing Windows .NET code may only work under this conditio

[2016-11-19 22:43] #13710 closed

[2016-11-20 00:46] #13687 closed

[2016-11-20 00:48] #13688 closed

[2016-11-20 01:30] jamesqo commented on #13800
@jnm2 An XML doc comment does not help much-- some people might not read it. Besides, if you already have a `StringComparer` you can do `_yourComparer.GetHashCode(str)` whereas that is not the case with `StringComparison` (with this proposal, you'd need to write `StringComparer.FromComparison(_comparison).GetHashCode(str)` which is kinda verbose).

[2016-11-20 01:42] jamesqo commented on #8034
@karelz, I do not think we should add a factory method if it isn't the same name. We should just offer the parameterless constructor, `new`, since it is more natural.

[code]

This does an extra combine with 0 and `_field1`'s hash code, instead of initializing directly from the hash code. However, a side effect of the [current hash we're using](https://github.com/dotnet/corefx/blob/master/src/Comm

[2016-11-20 01:51] jamesqo commented on #13816
@jkotas @VSadov, there was discussion in the other thread that a generic overload of `Copy` be added, so people have to be very explicit when they want to copy arrays that are assignment-compatible but not the same type. Does adding the generic overload with a new behavior, and preserving current behavior in the original sound like a good plan?

[2016-11-20 01:52] jamesqo commented on #13695
Note: if #13816 is fixed, this will be a non-issue and the optimization can simply be applied again.

[2016-11-20 01:58] jamesqo commented on #2323
Nice, didn't know about this proposal! :tada: Hopefully it'll get people off of `Distinct` which is slower.

[2016-11-20 02:11] jkotas commented on #13816
This is correcting behavior in a subtle corner cases. It is pretty unlikely that anybody is depending on the throwing behavior in this subtle corner case. I do not think that correcting behavior in a subtle corner case is a good argument for adding a new API.

[2016-11-20 03:18] Clockwork-Muse commented on #1490
Not sure that it is.  Especially back when I posted this stuff, I wasn't sure what the limits were.

[2016-11-20 03:23] Clockwork-Muse commented on #13822
@svick - well, `Normalize` would possibly transform the string, so at that point are we assuming this would iterate through as-is?

[2016-11-20 03:40] jamesqo commented on #13816
@jkotas

Yes, that's true; I may have misworded. I was trying to say that with this change, it would be easier to make errors; in addition to `Copy` not giving a compile-time error if the types are mismatched, it will now also silently copy over the data at runtime if the types turn out to be assignment-compatible.

[2016-11-20 04:59] AlexRadch commented on #13827
After clean rebuild only `corefx\src\System.Private.Xml\tests\Xslt\XsltCompiler\XsltCompiler.Tests.csproj`  project have failed tests.
Like next

[code]

I think that TryCreatePersistedTransformAssembly method start new "xsltc.exe" process and "xsltc.exe" process produce different output with different language settings in windows. I cannot check it because I did not find how to change new process

[2016-11-20 06:18] Daniel15 commented on #13221
I'm seeing the same segfault when running `dotnet restore`, even when using the Debian build (dotnet-dev-debian-x64.1.0.0-preview2-1-003177.tar.gz) instead of the Ubuntu packages.

[2016-11-20 06:19] Daniel15 commented on #13221
I noticed the .NET Core site has separate Debian instructions and a Debian-specific tarball (`dotnet-dev-debian-x64.1.0.0-preview2-1-003177.tar.gz`). I tried that out, and encountered the same issue. This segfault also manifests itself when running `dotnet restore`.

[2016-11-20 06:44] ViIvanov commented on #4690
@karelz, Thank you.

I need some help. I have added a new method to `KeyedCollection<,>` class (at \src\System.ObjectModel\src\System\Collections\ObjectModel\KeyedCollection.cs and .\src\System.ObjectModel\ref\System.ObjectModel.cs).

[code]
and
[code]
builds succesfully. But when I run
[code]
I get errors:
[code]
Same error I see when I try to build .\src\System.ObjectModel\src\System.ObjectModel

[2016-11-20 07:30] JackUkleja opened #13831 "ExpandoObject PropertyChanged event fails to detect changes in value types"
`ExpandoObject` uses a `IDictionary<string, object>` under the hood for storing properties. It also implements `INotifyProperyChanged` such that when the value for a property changes (but only when it changes) it will raise the `PropertyChanged` event - i.e. the normal INPC pattern.

The problem is this does not work for value types - the `PropertyChanged` event is raised every time a value type p

[2016-11-20 08:02] AlexRadch commented on #13827
I changed Windows language to English (USA). Now my Windows UI interface uses english language. But `corefx\src\System.Private.Xml\tests\Xslt\XsltCompiler\XsltCompiler.Tests.csproj`  project failed the same tests.

In addition `System.Globalization.Tests.CultureInfoMiscTests.InstalledUICultureTest` [FAIL] in `corefx\src\System.Private.Xml\tests\Xslt\XsltCompiler\XsltCompiler.Tests.csproj` project

[2016-11-20 08:11] AlexRadch opened #13832 "InstalledUICultureTest fail if Windows language is changed"
I have Windows 10 (non english) after I changed it language to  English (USA) and restart it, my Windows  UI interface changed to english.

After that `System.Globalization.Tests.CultureInfoMiscTests.InstalledUICultureTest` in `corefx\src\System.Private.Xml\tests\Xslt\XsltCompiler\XsltCompiler.Tests.csproj` project failed.

I think this test is wrong because it will fail if window language is chan

[2016-11-20 11:55] JonHanna commented on #13831
A reference-type value changed to a new instance that was `Equals()` the previous should still be seen as a change though.

We could though replace `value != oldValue` with:

[code]

It'd still fail on some strange overrides for `Equals()`, but that's the `Equals()` overloads fault for being strange and maybe should be considered just that.

I'd like to roll this into my fix for #13630 if nobody m

[2016-11-20 12:01] odinnou commented on #11100
@LoulG  same here, I have updated all my Nuget Packages, with the release of .net core 1.1 and i got this issue

Firstly, I think it was due to IdentityServer/IdentityServer3.AccessTokenValidation but, with reading this issue I understand my situation t_t, I spent several hours to try to solve it

[2016-11-20 12:02] JonHanna commented on #1490
My read on it is that even with Linq2Objects the first-match-is-key behaviour is just an implementation detail (though probably one we should maintain now even if there were some reason not to). In PLINQ there'd be a performance cost in forcing this behaviour that I don't think should be paid by those who don't need it. It's possible to construct queries that produce it if you really do need it.

[2016-11-20 13:17] ayende commented on #13550
Okay, looks like it is something else, I recompiled on Ubuntu and pushed the whole thing over, and now it seems to be work fine.

[2016-11-20 13:32] JonHanna commented on #13822
I don't think we need a codepoint struct when we have `int`. (I'd have perhaps preferred `uint` but it's not CLS-compliant).
A struct could give range-checking, but I think I'd rather explicitly check when needed than have it on every construction.

[2016-11-20 14:31] #13559 closed

[2016-11-20 14:34] #11680 closed

[2016-11-20 14:34] ayende commented on #13550
I managed to get it working to the point where it is opening the Kesterl server, but then it just dies.
Not sure why.

The code is:

[code]

Based on console output, I know it is getting to this code, but then it just dies.
No errrors, nothing.
The finally isn't executed, and the return code is 66.
I put a while loop there that just printed a line per second, and it looks like it dies after 9 - 10

[2016-11-20 14:43] stephentoub opened #13833 "Outerloop test failures due to SslProtocols.Default addition"
@danmosemsft, @cipop, we're seeing a bunch of outerloop test failures, I believe as a result of this change:
https://github.com/dotnet/corefx/pull/13745
e.g.
[code]
I think the problem stems from this line:
https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/tests/System/Net/SslProtocolSupport.cs#L32
[code]
and that it should be changed to something like:
[cod

[2016-11-20 16:09] varocarbas opened #13834 "New System.Math decimal versions"
First thing to note is that I already submitted [another issue](https://github.com/dotnet/corefx/issues/6308) on similar lines, which was reviewed and (not completely) rejected. I have taken all that feedback into account to make this new proposal, which only consists in the following inclusions:

[code]

The algorithms of the new `Pow`/`Sqrt` overloads are expected to exclusively rely on the `dec

[2016-11-20 16:30] Clockwork-Muse commented on #13822
@JonHanna - code points don't necessarily fit into an int.  They can be six bytes.

[2016-11-20 16:43] JonHanna commented on #13822
@Clockwork-Muse code-points are 21-bit values from 0 to 10FFFF<sub>16</sub>. They can fit into three.

[2016-11-20 18:04] jamesqo commented on #8034
@redknightlois @JonHanna @stephentoub @Eilon, do you have an opinion on a factory method vs. using the default constructor? I found out the compiler does not allow a static `Combine` overload since that conflicts with the instance methods, so we have the option of either

[code]

The advantage of the first is that it's a little terser. The advantage of the second is that we don't have to add any n

[2016-11-20 18:07] HalidCisse commented on #11100
same issue here after upgrading

[2016-11-20 18:07] JonHanna commented on #8034
Another possibility is two different types, one with the `Combine` factory, one with the `Combine` instance (or the second as an extension on the first type).

I'm not sure which I'd prefer TBH.

[2016-11-20 18:23] justinvp commented on #8034
We could keep the top-level type `HashCode` and just nest the struct. This would allow the desired usage while keeping the "entry point" of the API to one top-level type, e.g.:

[code]

[2016-11-20 18:28] jamesqo commented on #8034
@justinvp What is the problem with having two separate types in the first place, though? This system seems to work fine for `LinkedList<T>` and `LinkedListNode<T>`, for example.

[2016-11-20 18:38] justinvp commented on #8034
There are two concerns with two top-level types:

 1. Which type is the "entry point" for the API? If the names are `Hash` and `HashCode`, which one do you start with? It's not clear from those names. With `LinkedList<T>` and `LinkedListNode<T>` it's pretty clear which one is the main entry point, `LinkedList<T>`, and which is a helper.

 2. Polluting the `System` namespace. It's not as much of a

[2016-11-20 18:50] dvdobrovolskiy opened #13837 "100% CPU load"
After upgrade to 1.1.0 I have an issue then dotnet process start to load CPU on 100%. I have a pretty standard several application where and had no problem but not from time to time it goes in 100% and hangs whole server.

After killing dot net it starts again and works pretty normal. Also this issue is happened when I (nobody) do not web apps. When I work with this webapps all pretty normal but t

[2016-11-20 19:28] jamesqo commented on #8034
@justinvp

OK, fair enough point. What if we named the types `Hash` and `HashValue`, not nesting types? Would that denote enough of a subjugatory relationship between the two types?

If we do so, then the factory method becomes even terse: `Hash.Combine(field1).Combine(field2)`. Plus, using the struct type in itself is still practical. For example, someone might want to collect a list of hashes, a

[2016-11-20 19:31] karelz commented on #13837
You will need to enable CPU profiler to find out where the time is spent.

[2016-11-20 19:33] dvdobrovolskiy commented on #13837
Easy to say. machine is almost unavailable then it happens. Will try.

[2016-11-20 19:38] karelz commented on #13837
Enable sampling production profiling prior to the issue (e.g. [PerfView](https://channel9.msdn.com/Series/PerfView-Tutorial) on Windows).
It should be fairly simple and it is useful skill to gain. It is also the only way to find out details systematically.

cc: @vancem @brianrob

[2016-11-20 19:50] justinvp commented on #8034
`Hash` just seems way too general of a name to me. I think we need to have `HashCode` in the name of the entry point API because its intended purpose is to help implement `GetHashCode()`, not `GetHash()`.

This seems like an unlikely use case -- not sure we should optimize the design for it.

`TimeZoneInfo.AdjustmentRule` and `TimeZoneInfo.TransitionTime` are examples in the BCL that were intentio

[2016-11-20 20:34] steveharter commented on #12302
We shouldn't have to add RSAPKCS1SignatureDescription (not part of ns2.0)

[2016-11-20 21:59] jamesqo commented on #8034
@justinvp

👍 I see.

I've thought about things a bit more. It seems reasonable to have a nested struct; as you mentioned, most people will never see the actual type. However, is there a reason you named it `HashCodeValue` as opposed to `Value`? Even better, why not just call it `Seed`?

[code]

[2016-11-20 22:01] JonHanna opened #13840 "DebuggerTypeProxies within S.L.Expressions and S.Dynamic should throw on null."
Most such types just trust the debugger to pass in a valid instance, while `ExpandoObject.KeyCollectionDebugView` and `ExpandoObject.ValueCollectionDebugView` assert that it isn't null. Since these are supplied from outside the library they should not trust the debugger to do the right thing quite that much.

(Compare with the S.Collections.Generic debugger view types, which throw on null).

[2016-11-20 22:37] be5invis commented on #13822
@JonHanna A separate struct can provide more meaningful data, like, `the string form` vs `the integer value`.

[2016-11-20 22:52] redknightlois commented on #8034
@jamesqo Any objection or implementation issue with having ```public readonly int Value``` instead? Problem with ```Seed``` is that it is not technically a seed after the first combine.

Also agree with @justinvp, ```Hash``` should be reserved to dealing with hashes. This was introduced simplify dealing with ```HashCode``` instead.

[2016-11-20 22:55] jamesqo commented on #8034
@redknightlois To be clear, we were talking about the struct name, not the property name.

[code]

It is a seed for the next combine, which produces a new seed.

[2016-11-20 22:56] jamesqo commented on #8034
Why? `int Value { get; }` is more idiomatic and can easily be inlined.

[2016-11-20 22:58] JonHanna commented on #8034
Wouldn't that be a seedling? ;)

[2016-11-20 23:00] redknightlois commented on #8034
@jamesqo In my experience when surrounded with complex code properties tend to generate worse code than properties (among those, non inlines). Also a readonly field of a single int on an struct translates straight in and eventually when the JIT uses readonly for optimization (which couldn't find any use of it yet regarding code-gen); there are optimizations that could be allowed because it can rea

[2016-11-20 23:10] rnagpal commented on #12496
@jkotas Thanks for the pointer!

[2016-11-20 23:10] #12496 closed

[2016-11-20 23:13] jamesqo commented on #8034
If you find a single non-Debug build where an auto-implemented property is not always inlined, then that is a JIT issue and should definitely be fixed.

The backing field of this struct will be readonly; the API will be an accessor.

I don't believe using a property will hurt perf in any way here.

[2016-11-20 23:14] shaggygi commented on #984
Just a side note on future possibility.  I came across this link how to access serial device within Docker container.

http://stackoverflow.com/questions/24225647/docker-any-way-to-give-access-to-host-usb-or-serial-device

[2016-11-20 23:15] JackUkleja commented on #13831
I'm not convinced by the argument that:

I don't think setting a property to "Test Value" and then setting it to another instance of "Test Value" should raise a property changed event. The whole point of the Equals is that it can be overriden to make semantic sense for the type in question and if two strings are logically equal, I won't care to know if they happen to be different references.

I su

[2016-11-20 23:31] redknightlois commented on #8034
@jamesqo I will keep that in mind, when I find those. For performance sensitive code I just don't use properties anymore because of that (muscle memory at this point).

[2016-11-20 23:34] kataras commented on #6771
I really don't know why the asp.net core team does not even plan to support a kind of HttpListener, with http/2 implementation, from TcpListener.

I'm author of a popular web framework (9months, 5.5+ stars, 50+ blog posts and more than 2k reddit+hackernews comments so far)  and **I want to re-implement that on `C#` and I just realized that I simple can't** because I have to code the http  from Tcp

[2016-11-20 23:35] kataras commented on #6771
I really don't know why the net core team does not even plan to support a kind of HttpListener, with http/2 implementation, from TcpListener.

I'm author of a popular web framework (9months, 5.5+ stars, 50+ blog posts and more than 2k reddit+hackernews comments so far)  and **I want to re-implement that on `C#` and I just realized that I simple can't** because I have to code the http  from TcpList

[2016-11-20 23:38] #13833 closed

[2016-11-20 23:52] JonHanna commented on #13831
If there was a good way to detect immutability then that argument might hold for immutable types like `string`, but that `x.Equals(y)` holds for two instances of a reference type now does not mean that it will hold after that. Anyone depending on the event to keep track of the value of the property would now be tracking the wrong object.

The closest thing to definitive that I can find is:

1. The

[2016-11-21 00:06] JonHanna commented on #13831
The more I think about the potential for something unusual in `Equals`, the more I think the implementation as is goes about as far as is safe. While a value-type `Equals` considering two instances equal when some observer might care about a difference is unlikely (but consider the difference between `decimal.Parse("0.00")` and `decimal.Parse("0.000")` which could impact on some rendering), not tr

[2016-11-21 00:50] jamesqo opened #13842 "Add Enumerable.SkipLast, TakeLast to get the last N elements of a sequence."
## Background

Currently, Linq does not offer an API for getting the last N elements of a sequence. This has resulted in no less than [5 StackOverflow questions](https://www.google.com/search?q=skip+last+n+elements+of+enumerable&rlz=1CAACAH_enUS678US678&oq=skip+last+n+elements+of+enumerable&aqs=chrome..69i57.4760j0j7&sourceid=chrome&ie=UTF-8) (with ~300 votes) popping up as the first result when y

[2016-11-21 00:51] jamesqo commented on #13842
cc @JonHanna, @svick, @VSadov, @justinvp

[2016-11-21 01:05] JonHanna commented on #13842
The difference in outputs isn't too big a concern IMO, especially since variations in behaviour along similar lines already exist.

I've wanted a `TakeLast()` in the past, though it wasn't too arduous in the circumstances to just `ToList()` and then take the chunk I needed, it's always nice to have a convenient and (if possible) efficient form to hand. `SkipLast()` would at the very least be analo

[2016-11-21 01:30] ellismg commented on #8034
You may consider calling the nested struct "State" rather than "Seed"?

[2016-11-21 01:37] jamesqo commented on #13842
@JonHanna

I don't think we would need to do any copying with a buffer of 4 elements, actually. We could just implement it as a circular buffer of length N that automatically overwrote the most stale items, if I understand correctly. You're right though that we may need to do some dynamic growth in case `count` is really large.

[2016-11-21 01:38] svick commented on #13842
@JonHanna I don't understand, why would buffering only 4 elements require copying? The way I imagine the implementation, it would use `List<T>` in two phases. Phase one would be filling the list, phase two would treat it as circular buffer. At the end, you would yield items from the list (starting from the right position). Is there any copying in there that I'm missing?

`SkipLast` could be implem

[2016-11-21 01:49] jamesqo commented on #8034
@ellismg Sure, thanks for the suggestion. I was struggling to come up with a good name for the inner struct.

[2016-11-21 02:03] JonHanna commented on #13842
Yes, we could be circular. You are both correct.

[2016-11-21 04:19] Clockwork-Muse commented on #13822
@JonHanna - I stand corrected.  Must have run into something mentioning the old standard.

Regardless of that, I'd prefer to avoid just passing back a number, to prevent issues with a BOM.  Or having a method to switch between composed/uncomposed characters.
Or hopefully to prevent people from trying to roundtrip through `char`, since those're UTF-16.

[2016-11-21 04:51] Mogikan commented on #6751
Any updates?

[2016-11-21 08:41] nietras commented on #13427
Having looked at the many uses that `ContainsReference`/`IsReferenceFree` has, I don't think `Unsafe` is the best place for this. `TypeExtensions` sounds right, however I am not privy to how functionality is divided into which assemblies and why, and what dependencies can be made from the different assemblies.

I have the same issue with the overlapping memory copy. I don't think this should be in

[2016-11-21 08:56] vascofernandes commented on #11100
Issue still present with 4.3.0.

[2016-11-21 09:10] AlexRadch opened #13849 "System.Security.Cryptography.Algorithms.Tests fail ExpectedSignature_SHA1_384 test"
On my Windows 2012 server `System.Security.Cryptography.Algorithms.Tests` project fail `ExpectedSignature_SHA1_384` test with exception `Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: Requested operation is not supported`.

[2016-11-21 09:39] JonHanna commented on #13822
Well a BOM shouldn't be in a string, but if you were going to be handling a string with a BOM in it for some reason then the BOM codepoint should be there.

Dealing with code points is such a low-level thing that too much wrapping can get in the way. It's too high to map directly to `char` as you say (though to another way of looking at it, codepoints are the lowest conceptual level, the UTF-16 en

[2016-11-21 10:01] AlexRadch opened #13850 "System.Security.Cryptography.Cng.Tests fails two tests"
On my Windows 2012 server `System.Security.Cryptography.Cng.Tests` project fails two tests: `ExpectedSignature_SHA1_384` and `RSACng_Ctor_UnusualKeysize_384` with the same exception `Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: Requested operation is not supported`.

[2016-11-21 10:22] Tornhoof commented on #9545
While you're discussing this, may I suggest folding Microsoft.AspNetCore.Cryptography.KeyDerivation into this?
Microsoft.AspNetCore.Cryptography.KeyDerivation provides a more generic PBKDF2 with support for more hmac implementations than just Rfc2898DeriveBytes.  It also provides native versions based on the OS you're using and the native versions are quite a bit faster than the managed one, allow

[2016-11-21 12:14] dvdobrovolskiy commented on #13837
Giving up. Rolling back to 1.0.1

Problem happens only on production server and blocks it completely. I barely can kill dotnet process.

[2016-11-21 12:18] niemyjski commented on #9294
I have seen people set a custom stack trace... I agree it should be gone, it will break some people tho.

[2016-11-21 12:41] damilola-dealdey commented on #9171
Hello!
I have this same issue but i am running on an Ubuntu 16 system.

Please Help!

[2016-11-21 12:59] gortok commented on #2089
@karelz I'd love to contribute for the Linux side of things.  We need this support for both Windows and non-Windows Authentication (on-prem).  This is a blocker for us, and we're targeting .NET core for our cross platform project (previously was Mono on the Linux side and .NET on the Windows side).

[2016-11-21 13:25] JonHanna commented on #13541
It seems the github bot does not recognise "This addresses issue #13541" the same way it would "Fixes #13541" or "Closes #13541" :)
This issue should was fixed by #13595 and should be closed.

[2016-11-21 14:52] h3smith commented on #2089
Would like to help out where we can, without a doubt.

[2016-11-21 14:58] NickCraver commented on #1514
How would we *ever* eliminate the boxing here without the API additions? I agree with internal eliminations being the first step, but if we're after absolute performance, I don't see a way around the second step.

[2016-11-21 15:03] vcsjones commented on #13850
Can you show the output of `RuntimeInformation.OSDescription` in your environment?

RSA-384 isn't supported on all platforms, so the test tries to ignore the failure if it things your platform doesn't support RSA-384 by examining `RuntimeInformation.OSDescription`. I suspect perhaps your output is different or localized.

[2016-11-21 15:23] bartonjs commented on #9171
@damilola-dealdey Are you having trouble loading `System.Security.Cryptography.Native`, or `System.Security.Cryptography.Native.OpenSsl`?  I'm assuming the latter, which is more like https://github.com/dotnet/corefx/issues/12517.  Psychic debugging says you have a mix of the 1.0 shared framework and a new 1.1-based individual package.  The easiest answer is to upgrade to 1.1.

[2016-11-21 15:31] bartonjs commented on #13221
@Daniel15 It's for Jessie, we don't have any support for Stretch (as far as I'm aware).

Crude directions would be to clone this repository at the release/1.1.0 branch and run `./build-native.sh -release`; then for every file in `bin/Linux.x64.Release/Native/*.so` find the corresponding other copy on your system and overwrite it.  (Of course, I don't know if that'll lead to further instability...)

[2016-11-21 15:35] jkotas commented on #1514
The no-allocation formatters being developed in corefxlab are going after absolute performance.

`String.Format` will always allocate the string. The string is likely short-lived garbage - it is unlikely that it is stored for long. I do not think that the difference between allocating a string vs. allocating a string and a box for each argument is going to be that significant.

[2016-11-21 15:38] JonHanna commented on #1514
(Aside regarding the original proposed API rather than the current discussion, would `public static string Format<T>(string format, params T[] args);` be useful or overkill? It's not rare to have to output a bunch of integers or a bunch of dates or otherwise format several items of the same type).

[2016-11-21 15:45] jkotas commented on #13427
There is `TypeExtensions` class that is full of reflection APIs: https://github.com/dotnet/corefx/blob/master/src/System.Reflection.TypeExtensions/ref/System.Reflection.TypeExtensions.cs#L50. This does not belong togehter with reflection.

Right. Memory is taken for the `Span<T>` and friends.

The existing `System.Runtime.CompilerServices.RuntimeHelpers` or `System.Buffer` types maybe better candi

[2016-11-21 15:46] AtsushiKan commented on #13427
The only qualm with S.R.TypeExtensions is that its only purpose was to "add back" desktop apis to .NetCore 1.0 using extension methods. Now that we're adding back all those apis anyway, S.R.TypeExtensions is a solution looking for a problem and we may not want people to consume it (and all those redundant extension methods) just to get ContainsReferences().

[2016-11-21 15:46] Socolin commented on #12962
Hi,

1) I got another (last time it was #12871) error with `HttpClient` when adding a certificate clients. the certificate is in pkcs12 format, and its working on mono with following code:
[code]

Again I only got these informations on exceptions ` System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: SSL connect error`

On linux (do

[2016-11-21 15:56] bartonjs commented on #12962
The CRL file not existing is a complete red herring.  After curl fails the authentication we try re-verifying it to see if we have more information than curl had (such as the .NET CurrentUser\Root store contents).  So I'm pretty sure that it has already failed by the time you see the file not found in strace.

[2016-11-21 16:07] karelz commented on #13837
Can you profile your test environment and compare 1.0.1 vs. 1.1.0?

[2016-11-21 16:09] Socolin commented on #12962
@bartonjs I still get `System.Net.Http.CurlException: SSL connect error` and no informations when CRL file is missing, and the only way I find this was with strace and perfcollect. (I speak about the server certificate crl)

[code]

[code]

[2016-11-21 16:12] AlexRadch commented on #13850
@vcsjones I think Windows Server 2012 have "Windows 6.2" as OSDescription and Windows Server 2012 R2 have have "Windows 6.3" as OSDescription. I will check it exactly tomorrow at work.

[2016-11-21 16:19] Socolin commented on #12962
I just check for my problem for the error: `error:0D07207B:asn1 encoding routines:ASN1_get_object:header too long` and I think its because the crl I use is too big (1122 revoked certificates)

[2016-11-21 16:20] tarekgh commented on #13824
I think having TextElementEnumerator impelment the IEnumerable interface should be enough to have it work with the foreach(...)

[2016-11-21 16:40] karelz opened #13856 "Improve AsyncLocal throughput and memory usage (port to Desktop)"
Consider porting https://github.com/dotnet/coreclr/pull/8216 and https://github.com/dotnet/coreclr/commit/9bc06f7e534a1989911d795528737d767c2b408d to Desktop

[2016-11-21 16:41] karelz commented on #13856
@AlexGhiondea can we close it right away? (i.e. does your tooling work on Closed issues) Or do we have to wait for your tooling to kick in?

[2016-11-21 16:45] Ziflin commented on #10931
Well since @mellinoe suggested wrapping the Numerics.Vector3/etc types with our own types to address this issue, I finally got a chance to do some tests with .Net Core and unfortunately the results are not pretty.

The test is simple, I wrote a _standard_, non-SIMD Vector3 class with `float x,y,z;` fields and another version that contained a single `System.Numerics.Vector3 v;` field. I also implem

[2016-11-21 16:47] karelz commented on #13837
Also, if you want to increase the chance that the problem is gone in 1.2 and future releases, then we will need to know what regressed (i.e. you need to profile your environment). When you have more data, please reopen the issue.

[2016-11-21 16:47] #13837 closed

[2016-11-21 16:50] ericstj commented on #13856
Should also look at https://github.com/dotnet/coreclr/commit/9bc06f7e534a1989911d795528737d767c2b408d.  Both are relevant to folks using AsyncLocal on desktop.

[2016-11-21 16:51] karelz commented on #13850
If the tests are not supported on particular platform, then either they should be disabled on the platform, or they should expect the PlatformNotSupport exception on the platform.
@bartonjs @steveharter any guidance here?

[2016-11-21 16:51] karelz commented on #13849
If the tests are not supported on particular platform, then either they should be disabled on the platform, or they should expect PlatformNotSupport exception on the platform.
@bartonjs @steveharter any guidance here?

[2016-11-21 16:57] jamesqo commented on #13427
Agreed. I think there are too many of these types already, namely `Unsafe` in corefx, `Buffer` / `RuntimeHelpers` in coreclr, and `JitHelpers` which is internal to mscorlib. Adding another one will create more confusion.

[2016-11-21 16:59] bartonjs commented on #13850
We currently say it has expected failure on Windows 7, and expected pass on Windows 8.1 (2012 R2).  It's possible we don't have Windows 8 (2012) in our CI matrix, so we've never noticed the failure.

It just means that https://github.com/dotnet/corefx/blob/681d85aa63891a63be928d29667cd3fc0f6c966c/src/System.Security.Cryptography.Cng/tests/RSACngProvider.cs#L27-L33 needs to also detect Windows 8 /

[2016-11-21 17:01] redknightlois commented on #10931
Nothing in that code hint it could be 7x slower, no obvious flaw I can see.

[2016-11-21 17:03] jamesqo commented on #13427
I mentioned this above, but would it be good to have a 'metaprogramming' class that simply contains cached values of a type's properties? For example

[code]

[2016-11-21 17:03] dvdobrovolskiy commented on #13837
1.0.1 Works fine. Published 1.1.0 to Virtual machine and also fine. Some nasty combination of my production server and new feature in 1.1.0 I believe. I unfortunately limited in experiment on a production server in which server goes 100% load.

Will clone in and test in near future

[2016-11-21 17:15] rynowak opened #13857 "Consider adding a "slim" dictionary type"
Inspired by seeing: https://github.com/dotnet/coreclr/pull/8216

We've come across many cases in ASP.NET where we want to expose something like the `IDictionary<,>` contract, but we know that the number of items used with it will always be a small number (N < 10). In some cases, potentially hundreds of these may be created for a single request, and so we want them to be pretty slim.

We've created

[2016-11-21 17:16] danmosemsft commented on #12228
@jimcarley did you get a chance to turn on the logging? I'm trying to keep all the CI failure issues moving along.

[2016-11-21 17:17] karelz commented on #13850
Should be simple to fix - @AlexRadch do you want to grab it?

[2016-11-21 17:21] karelz commented on #4690
net463 configuration should not be affected - you probably change the wrong contract. Can you publish your changes?
@Priya91 @ianhays can you please help here?

[2016-11-21 17:22] karelz commented on #13816
What is bad on that? I view it as goodness.

[2016-11-21 17:26] ianhays commented on #13806
Thanks for finding this, @jhclark! I'm marking this as "up for grabs", so you (or anyone else) feel free to work on it :)

It would probably be a good idea to add a test to [File.Copy](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/tests/File/Copy.cs) for this case, as well.

[2016-11-21 17:28] karelz commented on #2323
I don't think it will get people off that -- it is non-trivial mental leap to think about using `ToHashSet` when you need unique/distinct members. Even if you have to just think about what happens with dupes in HashSet.

Also note that 99% of code does not care about subtle performance differences, because it is not on hot path. Only performance-sensitive code should care about things like these.

[2016-11-21 17:33] aviviadi commented on #13550
And beside the above problem mentioned by ayende, I can demonstrate the following difference between x64 ubuntu machine and RPI for the following code (from empty new project):
[code]

In ubuntu 14.04 x64 it works fine.
In rpi3 response code is 504.  However the "Got the request" string is printed.

[2016-11-21 17:34] krwq commented on #9920
I talked with @tarekgh about this couple of times. I do believe the solution @stephentoub provided is slightly inconvenient and possibly incorrect if there is no BOM in the file but giving a user heuristically detected encoding in the corefx would probably be even worse from maintenance point of view - fuzzy logic is simply problematic.

I think this would be useful addition but corefx is probably

[2016-11-21 17:34] #9920 closed

[2016-11-21 17:38] Daniel15 commented on #13221
I wonder whether it's possible to add support for Stretch? Ubuntu pull a lot of their packages from Stretch, so if Ubuntu 16.10 is supported then it shouldn't be too difficult to support Stretch.

[2016-11-21 17:39] AlexGhiondea commented on #13856
@karelz the tool looks at all issues, regarding of state and creates the tracking bugs. We can close this.

[2016-11-21 17:39] #13856 closed

[2016-11-21 17:44] JonHanna commented on #2323
Distinct is certainly going to be faster to first element, and should compare well otherwise (the internal Set doesn't bother with some housekeeping that `HashSet` has to do, including cheating in its Remove putting it into a state that would break on another Add because it knows that other Add will never happen). That you're finding HashSet faster is a bit disconcerting.

[2016-11-21 17:48] karelz commented on #13856
Perfect, thanks for confirmation. Will try to remember it for future :)

[2016-11-21 17:49] jnm2 commented on #13816
One thing worth noting is that between arrays of reference types, `Array.Copy` can blit directly from one array's memory to the other's. However, for arrays of value types being copied to arrays of, say, `IFormattable`, every element will have to be boxed first.

[2016-11-21 17:54] AlexGhiondea commented on #538
It sounds like this might make more sense in the context of a language feature. Since there is an issue tracking that proposed language feature I am going to close this for now.

If/when the language design is complete and the shape of the additional type understood, we should create a new issue tracking implementing that type.

[2016-11-21 17:54] #538 closed

[2016-11-21 17:56] bartonjs commented on #13849
Described in #13850, and the same fix will fix both.  Closing as dupe.

[2016-11-21 17:56] #13849 closed

[2016-11-21 17:56] jkotas commented on #13816
For better or worse, `Array.Copy` does many of these conversions today:

[code]

[2016-11-21 17:56] weshaggard commented on #13752
Querying for the OS isn't inherently bad we just need to ensure we do the querying for OS and Version in such a way that we continue to work in the future compatible version of the OS. The general problem that people don't correctly future proof and do things like check for exact versions and other things that end up causing the code to break in the future.

[2016-11-21 17:57] AlexGhiondea commented on #12655
@hughbe, it looks like @jamesqo has taken over that work and filed https://github.com/dotnet/coreclr/pull/7942 for it.

[2016-11-21 17:57] matekm commented on #1378
@danmosemsft @Priya91 code was commited to coreclr,  should the dependency be updated manually or dotnet-bot will pick that up?

[2016-11-21 17:57] ianhays commented on #13207
If you want a directory with all of the items within that directory, you would need to return a list of ZipArchiveEntries. Also, entryName doesn't make much sense when you're adding multiple files unless you want that to be the base path for entries within the directory.

I could see the usefulness of this. The implementation would be easily merge-able with the existing `CreateFromDirectory` sourc

[2016-11-21 17:59] AlexGhiondea commented on #12655
@jamesqo, @hughbe  let me know if any of you are planning to add tests in CoreFx side for this.

[2016-11-21 17:59] danmosemsft commented on #1378
I believe https://github.com/dotnet/corefx/pull/13802 needs to merge.

[2016-11-21 18:00] AlexGhiondea commented on #13293
It looks like there was some progress made here and we ran into a perf regression.

@hughbe are you still interested in working on this? Is there anything we can do to help investigate the perf regression?

[2016-11-21 18:00] weshaggard commented on #2648
Sorry I don't know the space in question much here so it is hard to say. Assuming it is just code as opposed to attribute discovery then we have the usual AppContext switches that can be considered to enable folks to opt into the same behavior. I would defer to @divega about whether we feel a quirk would be warranted here or not.

[2016-11-21 18:03] AlexGhiondea commented on #7175
It looks like the API is ready for review. @terrajobst can you add this to the agenda for the next meeting?

[2016-11-21 18:03] weshaggard commented on #2317
I didn't dig in but if it is truly on a source breaking change then I'm also not too worried. As any dug in enough to know if shows up as a binary breaking change in any scenarios?

[2016-11-21 18:07] AlexGhiondea commented on #6405
We would need a [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for this.

[2016-11-21 18:07] jnm2 commented on #13831
For reference types, comparing references is the most important thing. Instances have identity. I need to know, even if the values of the instances are equal, whether I'm working with the same instance or a new one.

Ideally, you'd compare the data that's being set, whether it's a reference or a value. ReferenceEquals does that for reference types and Equals is the closest we can get to doing that

[2016-11-21 18:14] ianhays commented on #3482
My opinion:

I try to be more of a minimalist when it comes to API: I'd rather provide the basic construction blocks as well as helper functions that either save paragraphs of code or simplify especially complex code. To me this fits neither of those criteria. I'd expect most people would be more likely to code this up themselves using `TryGetValue` than google it and learn about a new API that sa

[2016-11-21 18:14] AlexGhiondea commented on #3179
Sounds like a good idea for an enhancement.

We would need a formal API proposal for this.

[2016-11-21 18:18] ianhays commented on #2392
+1 to @AArnott comments on the `MoveToArray`.

Also, seems like `AddRange` would make more sense as `InsertRange`.

[2016-11-21 18:19] JonHanna commented on #13831
@jnm2 I was thinking similarly yesterday when I did the commit that I since withdrew (it didn't go through Runtime, but explicitly checked for ValueType) but on thinking further I'm not sure we can trust `Equals()` not to be overridden in a way that hides a distinction that could be important.

[2016-11-21 18:20] AlexGhiondea commented on #3249
@KrzysztofCwalina what are the next steps here? Are we waiting for a formal API proposal?

[2016-11-21 18:21] JonHanna commented on #2317
@weshaggard I looked at binary-compatibility effects at https://github.com/dotnet/corefx/issues/2317#issuecomment-169328660

[2016-11-21 18:25] AlexGhiondea commented on #3418
Reading through this, it looks like the clear advantage would come if this was actually a language feature. Having a specific type that holds a case insensitive string seems like overkill in most scenarios.

@KrzysztofCwalina should we move this issue to the Roslyn repo to see if there is interest from the compiler to implement this?

[2016-11-21 18:27] jnm2 commented on #13831
@JonHanna The point of the `RuntimeHelpers.Equals` method is that would call Object.Equals method _nonvirtually_. That guarantees that even if Equals is overridden, we're still calling the base implementation located in Object. We can trust that 100%.

[2016-11-21 18:29] AlexGhiondea commented on #3419
@terrajobst this one is ready for review as well.

My 2 cents: I would prefer if we would call the API `AppendAll` instead of `AppendJoin`.

[2016-11-21 18:29] tarekgh commented on #6405
if there is any change in the API surface then it will be good if include the proposal of the changes here.

[2016-11-21 18:31] Eilon commented on #3482
@ianhays  I think that writing this:

[code]

Instead of this:

[code]

Counts as "simplify especially complex code". With the code you have to write today, the intention of the code is not very clear. There's way too much syntax salt in there. And that's *with* a C# 7 feature that doesn't even exist yet.

I rather think the BCL should offer tons of utilities and helpers, so long as they have a cl

[2016-11-21 18:31] AlexGhiondea commented on #3571
It sounds like there is some more performance investigation needed.

[2016-11-21 18:33] ianhays commented on #13857
Is the `slimness` factor here attainable through some implementation detail that prefers small sizes, or is it through an API with the fat trimmed? If only the former, there might also be opportunity there to have a regular Dictionary be a slim dictionary until it needs to resize above the threshold number.

[2016-11-21 18:34] AlexGhiondea commented on #3779
It sounds like collectible assemblies are not something we can easily support and there is a workaround (that does leak some memory) for re-loading assemblies from disk.

@gkhanna79 are there plans to support collectible assemblies in the long run?

[2016-11-21 18:37] AlexGhiondea commented on #4190
It sounds like we are leaning **against** taking this API.

@terrajobst, @stephentoub let me know if you think we should consider an API like this.

[2016-11-21 18:38] AlexGhiondea commented on #4222
These have been added to netstandard2.0: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L120
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L128

[2016-11-21 18:38] #4222 closed

[2016-11-21 18:39] manu-silicon commented on #4190
@AlexGhiondea Do you have a rationale why this is leaning against this API?

[2016-11-21 18:40] mellinoe commented on #4190
We have already added it back:

https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs#L2964

[2016-11-21 18:41] AlexGhiondea commented on #4632
@KrzysztofCwalina are we still interested in taking this, or do we see the library from CoreFxLabs becoming the way to do this in the future?

[2016-11-21 18:42] manu-silicon commented on #4190
@mellinoe Missed this. Unless this is going to be withdrawn, I'm closing the issue.

[2016-11-21 18:42] #4190 closed

[2016-11-21 18:44] AlexGhiondea commented on #4805
Updating the reference to the code:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.Comparison.cs#L795

[2016-11-21 18:50] terrajobst commented on #3482
It seems in many cases `out` variables will greatly remove the friction for APIs like `TryGetValue`. At the same time, it's not a replacement for the scenario @Eilon is after, which is providing a wrapper API for a dictionary. Consider the following, grossly simplified code:

[code]

In other words, for cases where a method wants to return value from a dictionary, the current API pattern is quite

[2016-11-21 18:53] karelz commented on #3482
Ideally the API just shows in IntelliSense (typing `Get` for starter feels very natural to me). No need to search for the API online.
I wrote this utility function myself in quite a few projects. Having `Dictionary.GetValueOrDefault` in BCL would be helpful.

If we decide to add also `IDictionary` extension method (I don't have personal preference here), I think we should add general extension cla

[2016-11-21 18:53] AlexGhiondea commented on #4190
@manu-silicon it sounded like we did not want to add it back from the comments... but that was before netstandard 2.0 😄.

[2016-11-21 18:56] terrajobst commented on #4190
Yes, APIs like this will come back thanks to .NET Standard 2.0 :-)

[2016-11-21 18:57] ianhays commented on #12302
Oh. Well I did way too much for this issue then. I'll pare it down and push a PR shortly.

[2016-11-21 19:04] karelz commented on #2392
@tmat could you please update your API proposal if you agree. We can then send it for API review.

[2016-11-21 19:04] ianhays commented on #4690
@ViIvanov when you build the src and ref, make sure to build the *builds file e.g.

[code]

The reason you're seeing that error in tests but not src/ref is because the tests build the src/ref for more configurations than just the default.

As Karel mentioned, if you post your branch I can guide you a bit better.

[2016-11-21 19:07] AlexGhiondea commented on #12320
https://github.com/dotnet/corefx/pull/13859

[2016-11-21 19:09] #13488 closed

[2016-11-21 19:10] #13364 closed

[2016-11-21 19:13] jkotas commented on #4632
Improvements of the existing formatting APIs (with the due-diligence required to maintaining 100% compatibility) should be good to me. It would goodness for existing code. The current formatting APIs are leaving a lot on the table as discussed in #1514.

However, the ultimate performance will be provided by corefxlab APIs. For any new APIs, we should be snapping to corefxlab.

[2016-11-21 19:13] hughbe commented on #13293
I'm really busy at the mo, feel free to take this or reassign (you can use my code too if you want)

[2016-11-21 19:14] hughbe commented on #12655
Yeah I agreed with James he'd implement and test

[2016-11-21 19:15] AlexGhiondea commented on #12655
@hughbe and @jamesqo  thank you! :)

[2016-11-21 19:16] gkhanna79 commented on #3779
Yes, we will be in future. @rahku will be looking into it.

[2016-11-21 19:16] mellinoe commented on #11604
Hey @hughbe , the structure of this project has changed since you filed this. It shouldn't repro anymore. Please re-open if you're still hitting problems.

[2016-11-21 19:16] #11604 closed

[2016-11-21 19:19] jkotas commented on #4632
Related issue: #972 . This can be up for grabs. (The usual best practices about small incremental easy to review PRs or good test coverage apply.)

[2016-11-21 19:22] Priya91 commented on #4690
Seems like you've added the api for all configurations in ref.. Make sure it's included only for netcoreapp1.1 profile, by using a build constant like [here ](https://github.com/dotnet/corefx/blob/master/src/System.Collections/ref/System.Collections.csproj#L8)

[2016-11-21 19:22] mellinoe commented on #13323
@karelz This doesn't seem to be an infrastructure bug to me anymore. I put it into the "System.Net" area, but I'm not sure who is the best person to investigate this.

[2016-11-21 19:27] mellinoe commented on #13550
@aviviadi Could you clarify what OS / configuration you're trying this out on? If you're trying to run arm32 on Linux, then you're mostly heading into uncharted territory. Some folks have gone there, but you're most likely going to run into some unusual things that nobody has seen or fixed yet. win10-arm is a new scenario and perhaps @gkhanna79 would know more about potential issues.

[2016-11-21 19:29] mellinoe commented on #13601
@jamesqo Hm, I'm not seeing this, and I have a fairly fresh machine here. Could you let me know if this is still occurring for you, and if so, maybe the following info as well:

* Windows version
* Visual Studio version(s) you have installed
* Which developer command prompt you are using (i.e. what MSBuild version is used)

[2016-11-21 19:33] bartonjs commented on #13310
@m4x1202 Do you have a full stack trace? Nothing in new builds should be looking for that library (it was replaced).  Your project.json will likely also be interesting.

[2016-11-21 19:46] jnm2 commented on #3482
I have the exact same `IReadOnlyDictionary` vs `IDictionary` extension method pain.

[2016-11-21 20:00] nietras commented on #13427
@jkotas isn't `ContainsReference<T>` all reflection based? Why exactly do you want `ContainsReference` in `Unsafe`, if you don't mind indulging me :)?

Fair enough, but this is so closely related to `Type` that is seems more relevant to be put somewhere close to this. However, one could also argue its usage is mainly for memory related stuff, and that it could be added to `System.Memory.dll` inste

[2016-11-21 20:08] jkotas commented on #13427
The current implementation that tries its best for existing runtimes is internally implemented via reflection. The ultimate implementation should be part of the runtime and JIT intrinsic, like the current internal `ContainsReferences<T>()`  https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/jithelpers.cs#L239

[2016-11-21 20:20] nietras commented on #13427
Yes, I understood that :) But does that mean `Unsafe` is the best place for the "public" API and the portable version to be? Or simply put, why on `Unsafe`? Is `Unsafe` in your view the public facing API for `JitHelpers`?

[2016-11-21 20:24] karelz commented on #12460
Update: @geoffkizer is working on it this week.

[2016-11-21 20:29] karelz commented on #12134
@alecont are you still working on it?

[2016-11-21 20:29] danmosemsft commented on #12142
@safern this should be straightforward.

[2016-11-21 20:33] mellinoe commented on #10931
Yes, that seems quite bad and looks decidedly slower than the simple, naive version with three fields.

@CarolEidt I know you have been looking into enabling struct optimizations lately. Does this scenario show up on your radar at all, as something that needs to be improved? I would guess that some bad inlining decisions are being made here, or something like that, because the effective logic shou

[2016-11-21 20:35] ViIvanov commented on #4690
@karelz, @ianhays, @Priya91 Thanks for you suggestions, but nothing of them helps me. I have posted my PR as is and ready to fix issues.

[2016-11-21 20:43] anpete opened #13864 "Possible LINQ expression compiler bug?"
Consider the following repro code distilled from a customer-affecting EF issue:

[code]
which produces:
[code]
The only difference in the two expressions is the order in which the constructor args are passed when creating the NewExpression.

Is this a bug?

[2016-11-21 20:48] VSadov commented on #2114
Generally LINQ takes Funcs to abstract away very open ended user action like projecting an element or filtering. Here we are dealing with equality and  IEqualityComparer  is specifically an interface that represents equality with particular expectations from its implementation.

For example if we are given two sequences that are arrays of different lengths, it would seem to be ok to just return "f

[2016-11-21 20:50] #2114 closed

[2016-11-21 20:50] bartdesmet commented on #13864
It's a limitation being addressed in https://github.com/dotnet/corefx/pull/13126. Glad another real-world case was reported :-).

[2016-11-21 20:56] #13741 closed

[2016-11-21 21:06] #13541 closed

[2016-11-21 21:09] rynowak commented on #13857
I'd call out specifically in terms of 'slimness' the size of the objects and the use of hashing for lookups, but these two are closely related.

An empty dictionary has a lot of fields: https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Dictionary.cs#L38
A dictionary with 1 item additionally allocates two arrays, the `Entry[]` array has about a 33% o

[2016-11-21 21:12] jkotas commented on #13427
`Unsafe` is a public version of the internal `JitHelpers` in my mind. Number of APIs that used to (or still are) on JitHelpers are on Unsafe as well. We should get rid of the internal `JitHelpers` and just switch to Unsafe - it was done in CoreRT already.

Now, this does not mean that everything that is currently on JitHelpers should move to Unsafe. I agree that APIs like `ContainsReference<T>()`

[2016-11-21 21:15] ianhays commented on #11715
how are you calling msbuild? You shouldn't be passing a TargetGroup.

If you post your branch I can take a look and see if anything stands out to me.

[2016-11-21 21:16] breyed commented on #2114
@VSadov I share your sentiment for keeping API surface area small and keeping consistency among the members. I agree that adding Func-based overloads for the equality and hashing operations would be a bad idea, especially considering the tight coupling between the two methods.

What makes the current design a bit of a hard pill to swallow is that of all the methods that take an IEqualityComparer,

[2016-11-21 21:18] ellismg commented on #13221
We have a script that takes an existing CLI and rebuilds all the native bits on the target system.  See: https://github.com/dotnet/core/pull/326 that would fix cases where there where ABI differences but we didn't need additional source changes in the runtime or shims to support Stretch.

[2016-11-21 21:20] Ziflin commented on #10931
@mellinoe Yah, here's some of the Disassembly snippets. These were from placing a `Debugger.Break` around `var c = a+b;` in the test code.

### Directly Using Numerics.Vector3
[code]
This is nearly optimal code except that I think technically the last `movaps` is not needed. It should have been able to `addps xmm0, xmm1` as neither `xmm0` nor `xmm1` are used again. That may be more than the optimi

[2016-11-21 21:21] karelz commented on #13036
Continued design discussion from the PR https://github.com/dotnet/corefx/pull/13152#issuecomment-258709914:
@DamianEdwards do you have suggestion how to go from here?

The safe route is to introduce just yet-another class for HTML5 only.

[2016-11-21 21:26] VSadov commented on #4750
As described in comments above, there is clearly a danger of compat breaks.
It is not hard to imagine code that currently works and will not work after this change.

The following example would be relying (intentionally or not) on the snapshotting behavior or Reverse and after the change would be broken.

[code]
It looks like the benefits do not justify the likelihood for breaking existing apps.

[2016-11-21 21:26] #4750 closed

[2016-11-21 21:33] #5898 closed

[2016-11-21 21:36] mellinoe commented on #10931
@CarolEidt, @sivarv We should take a close look here and see if there are any obvious things to be improved, or if some of your other work will help here.

@Ziflin Thanks for continuing to help with this. As I was alluding to earlier, even if we provided a "lower-level" SIMD structure, we would still be relying on "wrapper structs" being highly optimized. Hopefully we can identify what the problem

[2016-11-21 21:41] karelz commented on #3482
So here's the updated proposal then:

# Proposal

[code]

Won't there be a problem when 2 different extension methods match the call? Can some please try it out?

[2016-11-21 21:41] CalebMacdonaldBlack commented on #2089
I would love to help out but im sure you guys are way more experienced than myself and i dont i would be of any use.

[2016-11-21 21:44] Ziflin commented on #10931
No problem! I'd love to see it work well and it looks like it's pretty close. Let me know if there's anything else I can help with.

[2016-11-21 21:49] #12362 closed

[2016-11-21 21:57] ianhays commented on #12560
I don't know that we want to take this as an API addition, as it would be adding essentially identical API except that it works correctly. I'd rather keep the broken behavior or break compat, personally. Of course neither option is ideal, but imo they're preferable to API bloat.

[2016-11-21 22:00] jamesqo commented on #8034
@karelz I think this API is finally good-to-go; this time, I checked to make sure everything compiles. Unless anyone has any objections, I will start working on the implementation for this.

[2016-11-21 22:00] ianhays commented on #12560
My vote is to either solve this the *right* way and break compat, or close the issue. It would be helpful to examine exactly what scenarios this would break and determine the overall impact before moving forward with a fix or any kind of API.

[2016-11-21 22:00] aviviadi commented on #13550
Ubuntu mate 16.04 on rpi3.
We've already ran into strange things and we overcome them. After running with a great success on linux x64, running kestrel on linux-arm32 can be a nice milestone. We want to cross this uncharted terrotory:)

[2016-11-21 22:04] JonHanna commented on #12560
In favour of the API approach is that really doing this correctly involves having a comparer parameter. Fixing it but only ever using the default equality comparer is an incomplete API for comparing sets.

[2016-11-21 22:10] CIPop opened #13868 "SmtpClient NTLM and Kerberos testing"
Per offline SCRUM discussion: add e2e NTLM/Kerberos testing for SmtpClient authentication.
Example:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/FunctionalTests/NegotiateStreamKerberosTest.cs

/cc: @karelz @Priya91

[2016-11-21 22:16] mellinoe commented on #9958
I'm going to close this for now. The official CI and official runs on our side are not using `run-tests.sh` at all, and we've been moving away from it for a while.

[2016-11-21 22:16] #9958 closed

[2016-11-21 22:17] jamesqo opened #13869 "Add methods to StringBuilder to append ReadOnlySpan<char>"
## Background

It seems logical that we should support appending `Span<char>` and `ReadOnlySpan<char>` to a StringBuilder, since the point of both data types is to reduce allocations. The only way to do this with the current APIs is to loop through the span one char at a time and call Append on each of them, which is pretty slow.

## Proposed API

[code]

cc @jkotas, @KrzysztofCwalina, @justinvp

[2016-11-21 22:18] ianhays commented on #12560
Apologies, I missed that it takes a comparer. I got it into my head that you had suggested also replacing the existing method with an identical-but-differently-named one.

I would be good with an overload alongside the existing method to provide both compat and better correctness. If that's the path we want to take then it may be better to open a new API addition issue specifically for the overloa

[2016-11-21 22:18] huanwu commented on #12828
It is caused by https://github.com/dotnet/wcf/issues/1673

[2016-11-21 22:23] anpete commented on #13864
Closing 😄

[2016-11-21 22:23] #13864 closed

[2016-11-21 22:27] jamesqo commented on #3419
@AlexGhiondea, I don't think `AppendAll(list, ", ")` clearly clarifies that the list is being joined. Meanwhile `AppendJoin` is gramatically incorrect because `Join` is not a noun (while `Format` in `AppendFormat` is a noun). I think it sounds better as `AppendJoined`.

[2016-11-21 22:39] jkotas commented on #13869
We would need to move Span to System.Runtime contract to make this work.

Enhancing existing types with Span overloads is in the grand plan, but it is probably too early for it at this point.

[2016-11-21 22:52] tarekgh commented on #13804
We couldn't move it to System.Runtime contract because it is using StringComparer which is in System.Runtime.Extansions. this is why we decided to move it to System.Runtime.Extansions.

[2016-11-21 23:06] karelz commented on #12828
Can we close this issue on corefx then?

[2016-11-21 23:16] #13522 closed

[2016-11-21 23:27] jamesqo commented on #13869
@jkotas I see. I'll keep this proposal open for when `StringBuilder` is able to reference `Span`, then.

[2016-11-21 23:28] mellinoe commented on #13550
@karelz I'm going to move this into area-Meta, since this isn't directly infrastructure-related.

@aviviadi Unfortunately I'm not sure I have the expertise here, especially with Kestrel. It sounds like you have gotten some basic programs to run, but it's unclear how stable or robust everything else is. You might get some better insights if you tried running some other small programs to test the ca

[2016-11-21 23:34] mellinoe commented on #13094
We discussed this a bit more, and it is probably a good idea to simply wait until we have finished some of our build refactoring work to address this. When we have full "vertical builds" enabled here, we should easily be able to gather code coverage information for every assembly, due to the nature of that build.

[2016-11-21 23:35] danmosemsft commented on #12134
Santi could you grab this one also?

[2016-11-21 23:35] mellinoe commented on #7952
We discussed this briefly today and we don't really think there's much to be done here. We don't think we want to automatically be updating the CLI version, but we should still be thinking about periodically doing so in the future, especially (only?) after major versions are released.

[2016-11-21 23:35] #7952 closed

[2016-11-21 23:37] danmosemsft commented on #12724
This would save me time several times a week if not more often. Also, we could have dotnet-bot submit the insertion jobs (for CoreCLR etc) with this flag automatically set.

[2016-11-21 23:38] mellinoe commented on #3789
We talked a bit more about this today. The general consensus was that we should add this, but have it "disabled" by default. By that, I mean the option is available, but it is not build-blocking or automatic.

[2016-11-21 23:40] #12368 closed

[2016-11-21 23:40] mellinoe commented on #5040
We discussed this a bit more today. It doesn't seem very important to fix right now, but like @tarekgh said above, it would be good to get better information on how severe the size bloat is because of this.

Another thing that was brought up: with the .NET Standard 2.0 work, we've added a lot of duplicate string resources across assemblies in corefx. Although they may be used in all of the assembl

[2016-11-21 23:41] mellinoe commented on #743
We discussed this briefly today. The main problem discussed was that NuGet and Visual Studio do not support this at all anymore. Even past that, there was some discussion on whether we should even ship localized strings for our exception messages, or whether having English-only exception messages is acceptable.

[2016-11-21 23:41] CIPop opened #13871 "System.Threading.Tests AV (System.ExecutionEngineException)"
Contact me internally for the output of `.dump /mA ...` and `.dumpcab /a c:\threadAV.cab`.

[code]

[2016-11-21 23:43] CIPop commented on #13871
@karelz @stephentoub PTAL.
Two other instances in coreclr but not related to the Threading tests: https://github.com/dotnet/coreclr/issues/8148 ; https://github.com/dotnet/coreclr/issues/6795

[2016-11-21 23:47] danmosemsft opened #13872 "Add missing CryptoStream::FlushAsync"
The overrides below are missing from Core implemementations. This is not an API breaking change. is it intentional?
[code]

@steveharter @bartonjs

[2016-11-21 23:52] danmosemsft commented on #12327
@steveharter I don't see `public static byte[] EncodeOID(string str);` ... did you omit it intentionally? We should have it even if it only throws.

[2016-11-22 00:08] #13516 closed

[2016-11-22 00:15] karelz commented on #13550
@dotnet/samsung folks might be able to help.
I think you will need to get it under debugger / get dump and find out what is happening.
coreclr repo might be better place to track problems like these - corefx repo is useful for specific APIs problems, not for runtime issues.

[2016-11-22 00:21] karelz commented on #9293
@mmitche the https://github.com/Azure/WALinuxAgent/issues/392 was closed. Do we have an issue tracking in engineering to work around the problem?

[2016-11-22 00:25] karelz commented on #10076
I think we should close this issue. We should use only official distro snapshots. Adding kernel updates into our distro matrix won't help us too much and is quite a lot of work -- we will get the coverage from official distros eventually.

[2016-11-22 00:26] mellinoe commented on #10076
@karelz Ok, I'll go ahead and close this.

[2016-11-22 00:26] #10076 closed

[2016-11-22 00:32] safern commented on #12134
Yes I'll do it :)

[2016-11-22 00:50] danmosemsft commented on #13372
@CIPop  These too are implemented but not yet exposed:
[code]

[2016-11-22 00:51] danmosemsft commented on #13372
One more
[code]

@karelz  fyi.

[2016-11-22 00:54] danmosemsft commented on #13871
@kouvel

[2016-11-22 00:56] CIPop commented on #13871
Looks like I can repro:

[code]

[2016-11-22 01:02] kouvel commented on #13871
It looks like CoreCLR binaries are not up to date. This test was enabled after the fix for this issue was merged. Fix PR: https://github.com/dotnet/coreclr/pull/8142. Where is this occurrence from, is it from some automated test run?

[2016-11-22 01:16] gkhanna79 commented on #13550
@aviviadi How are you building for Linux Arm32? Are you cross compiling it on Ubuntu x64 or building on Ubuntu mate on RPI3 itself?

[2016-11-22 01:22] danmosemsft commented on #13871
CLR updated again just 30 mins ago, I would sync.

[2016-11-22 01:33] danmosemsft commented on #11634
@kouvel can this be deleted? src\mscorlib\src\System\Threading\ReaderWriterLock.cs

[2016-11-22 03:56] kouvel commented on #11634
Yes should be able to remove this. There are several redundant types in threading, need to generally go over the new threading types and not expose/remove duplicates from CoreLib as part of #12850 depending on uses.

[2016-11-22 04:29] Kwal commented on #11100
@terrajobst can you provide any updates on this issue or any further insight into the deeper problem that @robertmclaws referenced?

[2016-11-22 04:45] suprduprmn commented on #11100
Any reason why this fix works locally, but when deployed to an Azure Cloud Service, the error persists?

[2016-11-22 04:50] jahmai commented on #11100
Sometimes packaging Azure can screw up your binding redirects, try unzipping the cspkg and see what is actually being deployed.

[2016-11-22 05:02] suprduprmn commented on #11100
Here is the version of the System.Net.Http.dll

<img width="252" alt="Snip" src="https://cloud.githubusercontent.com/assets/23649009/20511476/aa7c1d50-b02d-11e6-8128-389439bf621b.PNG">

I've been working on this for a few days now.  Was super happy to find this fix and in tears when deploying out to Azure.

[2016-11-22 05:09] jahmai commented on #11100
What about the .config file containing binding redirects for the project? I actually expect it to still deploy the broken version of the assembly due to CopyLocal being true from the nuget package, but the binding redirect should ensure that the framework version of the assembly is instead loaded inside the cloud service VM.

[2016-11-22 05:27] suprduprmn commented on #11100
It is!!!  WTH?

`
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
`

Looking back into my project, the web.config has reverted as well.  I'll have to pick this up again in the morning.  Thanks for some leads!

[2016-11-22 05:29] jahmai commented on #11100
I find that if you use AutoGenerateBindingRedirects and then modify any nuget package for the project, it will "fix" your previously hand-modified redirects back to the broken version. Very frustrating.

[2016-11-22 05:45] robertmclaws commented on #11100
But part of the problem is, if you DON'T use AutoGenerateBindingRedirects when you add new packages, you might run into other issues too.

I've been dealing with this nonsense for over a week now while having to deploy a new version of our app. Best I can suggest is to get in the habit of checking your web.config every time you deploy.

[2016-11-22 06:43] composite opened #13881 "Unable to cast object of type 'System.Numerics.BigInteger' to type 'System.Decimal'."
While unit test my project, I got a weird exception.

Referenced source
[code]

But in according to [MSDN](https://msdn.microsoft.com/en-us/library/dd268232(v=vs.110).aspx), `System.Numerics.BigInteger` have a explicit cast to `System.Decimal`.
but I got `TypeCastException`. why?

`project.json` - .NET Standard 1.1
[code]

Reference project is a unit test in [here](https://github.com/composite/Ara

[2016-11-22 06:52] brentschmaltz commented on #11082
@RussKie can you help me out with the version of System.IdentityModel.Tokens.Jwt you are using?
With 5.1.0 I am seeing the ClaimsPrincipal.Identity containing 7 claims. One of the claims is Type: ClaimsSets, Value: {"Claims":{"serverId":"Helix.Containers.Dev","serverVersion":"dev","issX5t":"53ED61555059AD87AA82CA560E48BB12C537F9F5"},"Provider":"Helix.Containers.Dev.vdev","Schema":"Helix.Container"

[2016-11-22 06:54] RussKie commented on #11082
I'm insanly busy for next few weeks, but I'll try to set aside some time to
test it

On 22/11/2016 5:52 PM, "BrentSchmaltz" <notifications@github.com> wrote:

[2016-11-22 07:09] aviviadi commented on #13550
@gkhanna79 cross build on ubuntu x64 plus few things from here : https://github.com/dotnet/coreclr/issues/6321#issuecomment-245770180

@karelz - I had few corefx build problems but they are solved now (I think local proxy issues) so I will close this thread.

@mellinoe - A _LOT_ of things are working on the pi.  We have more then a basic program already running fine on dotnet core / Linux-x64.   W

[2016-11-22 07:09] #13550 closed

[2016-11-22 08:45] AlexRadch opened #13882 "Where is dotnet-bot commands documentation?"
I want rerun tests for PR but can not find dotnet-bot command for this.
Where is dotnet-bot commands description?

[2016-11-22 09:11] patricksadowski commented on #13207
Yes, the return type could be changed to `IEnumerable<ZipArchive>`. entryName should be the base path for entries within the directory. I altered my proposal to make the functionality more clear. The API is now based on `ZipFile.CreateFromDirectory`. I'm not sure if we should add a parameter `Encoding entryNameEncoding`.

Given a directory structure on local storage
[code]
I can call the first ove

[2016-11-22 09:23] m4x1202 commented on #13310
@bartonjs thanks for your reply. This would be the full stack trace: ```Unhandled Exception: System.TypeInitializationException: The type initializer for 'Crypto' threw an exception. ---> System.TypeInitializationException: The type initializer for 'CryptoInitializer' threw an exception. ---> System.DllNotFoundException: Unable to load DLL 'System.Security.Cryptography.Native': The specified modul

[2016-11-22 09:56] aviviadi commented on #13550
P.S. - The above sample program now works on the Pi (I overran arm's dll by mistake).

[2016-11-22 10:30] tmds commented on #13323
@mellinoe if I turn this into a Console app and run it on Fedora 24 with .NET Core 1.1, it doesn't hang.

Console app: https://gist.github.com/tmds/0684ad0f3e858879bd59913095240f15

[2016-11-22 10:42] mellinoe commented on #13323
@tmds Hm, interesting. Perhaps it has something to do with XUnit's custom SynchronizationContext?

[2016-11-22 10:51] tmds commented on #13323
@mellinoe the test is trying to receive an udp message which was sent 10 times (for redundancy) on the "default network interface". The issue may be related to the network settings on the test machine. If that is the case, the console app should also fail on the test machine.

[2016-11-22 12:52] AlexRadch commented on #13850
I made PR https://github.com/dotnet/corefx/pull/13883 for this issue

[2016-11-22 12:52] #13850 closed

[2016-11-22 12:57] stephentoub commented on #13323
@tmds, so it hangs for you when you run it as a test, but it doesn't when run in a console app, on the same machine?

[2016-11-22 13:06] jkotas commented on #13427
@jamesqo Do you have a good real-world examples where IsValueType or IsEnum would be used? In theory, you can take the entire Type/TypeInfo surface and duplicate it to this metaprogramming class, but it is unclear to me whether it would be of much use.

[2016-11-22 13:23] jkotas commented on #13427
These copy APIs are actually redundant with the ones exposed by `Span<T>`. I think we should just declare `Span<T>` as the public surface for this functionality.

There may be an extra validation of the source/destination buffer size, or check for overlap, but that is miniscule compared to the overall cost of the copy operation in most cases, and price worth paying for clean and secure design.

So

[2016-11-22 13:46] tmds commented on #13323
Haven't tried to reproduce the hanging test. Will give it a try.

[2016-11-22 14:24] kronic opened #13884 "Add Transactional support file sytem."
Add transactional support for files and directories;

[2016-11-22 15:21] steveharter commented on #13872
The KeyExchangeAlgorithm and From\ToXml stream being addressed by https://github.com/dotnet/corefx/issues/12315

FeedbackSize by issue https://github.com/dotnet/corefx/pull/13786

FlushAsync implemented on base class (override not needed on CryptoStream). I don't believe we require overrides for netstandard compat

RSACryptoServiceProvider DecryptValue\EncryptValue added to base class via https://

[2016-11-22 15:39] dluxfordhpf commented on #11100
Yeah, you have to both disable binding updates via hand edit in the CSPROJ, and then fix the .config binding redirects, AND reconfigure NuGet in the GUI to NOT update dependencies, and THEN you’re ok.  Yes, this is a major PITA, I am surprised it has been out in production so long.  My team has been cursing at it regularly for months now.

David L-

From: Robert McLaws (Microsoft MVP) [mailto:noti