[2019-05-31 15:36] tannergooding commented on #38087
Nullable reference types is a C# 8 feature which is only officially supported on .NET Standard 2.1 and higher.

I think discussion on where in the reflection stack it goes is reasonable, although I think most people would expect and look for it to be an instance (or extension) method

[2019-05-31 15:39] fume commented on #33596
thanks @MarcoRossignoli for the fast answer, but the documentation for ZipArchiveEntry doesn't state anything about thread-safety :)

https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchiveentry?view=netcore-2.2#remarks

[2019-05-31 15:39] danmosemsft commented on #38001
Good sleuthing @anipik

[2019-05-31 15:41] Anipik commented on #38001
Thanks :)

[2019-05-31 15:41] danmosemsft commented on #32837
This cannot fit in 3.0. It's on the radar for v next.

[2019-05-31 15:42] danmosemsft commented on #34361
@carlossanlop maybe add more sleep/retries?

[2019-05-31 15:42] MarcoRossignoli commented on #33596
By design every "instance" method is non thread safe if not documented, only static one

https://docs.microsoft.com/en-us/dotnet/standard/threading/managed-threading-best-practices#recommendations-for-class-libraries
[code]

[2019-05-31 15:42] danmosemsft commented on #34640
@ptoonen how is it going? Just wondering whether it misses 3.0 at this point.

[2019-05-31 15:45] danmosemsft commented on #30422
Servicing-consider means it's ready for shiproom. We'd need a template filled out.

[2019-05-31 15:46] MichalStrehovsky commented on #38087
Not that I want to make this my main argument (my main argument is to not pollute the instance member surface area with convenience APIs), but runtime reflection is not the only flavor of reflection. A .NET Standard 2.1 assembly can be loaded for inspection in all sorts of ways on downlevel runtimes (reflection only load is one way, and things like our own System.Reflection.MetadataLoadContext is

[2019-05-31 15:48] danmosemsft commented on #29254
@steveharter I assume you mean moving out of 3.0. I'll move it (since it's not necessary to ship 3.0) but for now there is still a little room to fix non 3.0 bugs.

[2019-05-31 16:01] RobSiklos opened #38105 "System.DirectoryServices GroupPrincipal.GetMembers() fails with PrincipalOperationException if code running outside domain/forest"
When calling `GroupPrincipal.GetMembers()`, I'm getting the following error:

It only happens when the code is executing on a computer which is entirely unrelated to the domain we are connected to. Not in the same domain/forest, no trust, etc.

Steps to reproduce:

1. Set up a test domain D1 in Azure, and open up the firewall so that you can connect from your workstation (not on D1)
2. Add a Unive

[2019-05-31 16:02] adamsitnik commented on #37691
From a quick look at the profiles and the code, I can tell that we are using different APIs to get the sortKey when computing the hash when comparing strings (Windows offers us something nice here). I will try to find a way to make the Linux implementation faster.

[2019-05-31 16:17] nvmkpk commented on #38043
The version of `System.Text.Json` nuget package I have is `4.6.0-preview6.19259.10`.

[2019-05-31 16:19] tarekgh commented on #37691
@adamsitnik from @sebastienros investigation, I believe he mentioned not seeing that much difference when executing in a single threaded scenario while the regression is seen in the ASP.NET scenario with mutli-threaded. in other word, @sebastienros data show if measuring the difference between Linux and Windows only when calling InvariantCultureIgnoreCase, not seeing that much regression.

@sebast

[2019-05-31 16:24] michaelschmit commented on #30011
I'm running core 3.0 preview 5 and still seem to be running into this issue.  I'm doing a directoryEntry.Invoke("Members", null).  It fails with a IDispatch and IDispatchEx not supported error, but works on .NET framework.

[2019-05-31 16:27] Anipik commented on #38080
Adding this fixes the error https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/ImageConverter.cs,76

I will throw a pr to fix this

[2019-05-31 16:33] bartonjs commented on #37748
For the API shape: I think that the nested struct needs to move out to be a peer type.  We don't have crisp guidelines here, but it boils down to something like "If the average person working with the API needs to use the type by name, it shouldn't be nested".  Since it's the output of the primary API (TryFind) it seems pretty "average user" to me.  (So what does get to be a public nested type?  M

[2019-05-31 16:41] adamsitnik commented on #37691
I just want to make sure we use the best available method in the right way according to spec.

[2019-05-31 16:42] Symbai commented on #37764
Sadly not, and yes it also happens in Preview 6. I've reported the issue also in VS but didn't received any attention yet. Didn't found a workaround either. At the moment I've downgraded to Preview 4 and hope that it's getting fixed before .NET Core 3 release but without any attention it's unlikely.

[2019-05-31 16:45] safern commented on #34019
Thanks @GeorgeAlexandria, I marked it as api-ready-for-review so that the API Review crew reviews this.

[2019-05-31 16:46] wfurt commented on #37044
To begin with, can we collect output of `netstat -natu` wehn it happens and than run `sudo sysctl -w net.ipv4.ip_local_port_range="1024 65535"` to see if that improves the situation?

[2019-05-31 16:48] safern commented on #36391
@iexapl thanks for your detailed description, however it is kind of hard to read and understand. Could you please help by explaining the expected result and the actual result?

Also, it would be helpful to point out the APIs that are giving the wrong result. Thank you very much.

[2019-05-31 16:49] tarekgh commented on #37691
Yes, that is fine. I would suggest to measure this scenario in isolation first before jumping in trying to optimize it. As I mentioned there could be another factor in the ASP.NET scenario (something like involving locking with the collections for instance)  causing this difference.

[2019-05-31 16:51] bartonjs commented on #37927
No.

My understanding was we didn't send any intermediates if chain.Build returned false.  And if it returned true we knew that the last one was a root.  If we're sending intermediates always, then the loop needs to be updated to not skip the last one if the chain has the status code PartialChain in it.

[2019-05-31 16:54] adamsitnik commented on #37691
When I wrote "From a quick look at the profiles" I meant that I have already profiled that.

Anyway, thanks for the hint. The more people repeat "measure, measure, measure" the better!

[2019-05-31 16:56] ericstj commented on #37942
This is required for the WinForms resources work.

[2019-05-31 17:02] onovotny commented on #38085
This is the commit that added `AddRange` to `Collection<T>` and caused the behavior difference: https://github.com/dotnet/corefx/commit/b705522753f09d501762cca6c45d6bd031c112d7

[2019-05-31 17:02] safern commented on #37149
No worries, @datvm, thanks for the proposal. I've marked it as ready for review, and also added the extension method for `IReadOnlyDictionary`.

[2019-05-31 17:02] jkoritzinsky commented on #38093
This has already been fixed in the preview 3 builds of System.Management (the second code snippet you linked is the fixed version). Since System.Management ships out-of-band, the package needs to be updated separately. Powershell 7 probably hasn't updated the package.

[2019-05-31 17:07] jkoritzinsky commented on #30011
@michaelschmit can you create a small repro? I can't reproduce the failure on 3.0 preview 5.

[2019-05-31 17:19] ericstj opened #38109 "Resources Extensions API changes to better handle ResX scenarios"
https://github.com/dotnet/corefx/issues/37942 - resx doesn't require type information for binary formatted blobs
https://github.com/dotnet/corefx/issues/37711 - resx doesn't know what types are primitive types and safe to deserialize, giving it that knowledge would leak implementation details from the writer

To fix these issues were changing the existing API as follows:
[code]

See https://github

[2019-05-31 17:19] Anipik opened #38110 "Parameter name different in reference and impementation"
We are using different parameter names in

implementation
https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedDictionary.cs#L170

ref
https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/ref/System.Collections.Immutable.cs#L756

In reference we are using source and in implementation we are using buil

[2019-05-31 17:30] antonioortizpola commented on #37044
I have run `netstat -natu` in [our server](https://gist.github.com/antonioortizpola/78f4a57170841fb221b117fcb7a5ec45) and it looks like the error is with the WSDL endpoints (the address 172.17.72.150 is a WSDL service).

To work with the WSDL we are adding the service as Transient:

[code]

And then we use it in the service like this

[code]

The method to log is just a function to log the request

[2019-05-31 17:30] ahsonkhan commented on #36974
Not currently, but if you have suggestions or perf improvement strategy, I would be interested in how we can leverage them.

[2019-05-31 17:45] karelz commented on #10752
FYI: This API caused a significant regression for WPF apps :( - see #38085
... just to demonstrate that even things that should be "OK" and simple, are not always that simple when you're at the bottom of the stack ... sigh
cc @onovotny

[2019-05-31 17:47] karelz commented on #38085
I wonder if we should just try to fix up WPF `ListCollectionView` instead of backing out the change ...

@safern can you please take a look? This may impact our ability to get feedback on WPF apps. At minimum it will be blocker for Preview 7.

cc @danmosemsft @vatsan-madhavan @amit-kabra @fabiant3 @ericstj

[2019-05-31 17:51] safern commented on #38085
Yes, I assigned to myself and will follow up with WPF folks. We could back out the change before the snap today and then do a deeper investigation and try to put ti back for Preview 7 as another alternative.

[2019-05-31 17:56] karelz commented on #38085
Thanks @safern! That may be best option - can you please send red-bang email to WPF folks? (Vatsan, Amit, Fabian above)

cc @wtgodbe - another last minute must-have change in Preview 6.

[2019-05-31 18:00] sebastienros commented on #37691
FYI this issue has probably the same root cause as this one: https://github.com/dotnet/corefx/issues/29462

[2019-05-31 18:02] robertmclaws commented on #38085
TBH, when I first proposed the API I was afraid there were going to be father-reaching changes than people anticipated. A lot of code was based on flawed implementations on how to handle those events (the original implementation of observable incorrectly accounted for the possibility of multiple events to be fired at once, for example).

It's going to have a lot farther downstream changes than jus

[2019-05-31 18:03] Joe4evr commented on #2315
:thought_balloon: Having only glanced at this conversation, I feel like it'd be simply too much work, even conceptually, to unify *all* the scenarios, lest we end up with:
![XKCD Standards](https://imgs.xkcd.com/comics/standards.png)
So it might be better to consider some things separate from others. In particular, I have it boiled down to 3:
* The "main"/"full fidelity" primitive: For the sake of

[2019-05-31 18:04] vatsan-madhavan commented on #38085
@rladuca fyi.

[2019-05-31 18:26] michaelschmit commented on #30011
I will work on getting that together.  In the meantime I wanted to state that I'm using LDAP in this case to grab members from an AD group.  I'm not sure if that is supported in core or not.  I've been having a hard time finding concrete answers on some of this stuff.

[2019-05-31 18:28] joperezr commented on #37929
Nope, the plan is to do it for the 3 bridge packages, which are all includded in my PR #38104. Is there a specific package you want to have a net461 target?

[2019-05-31 18:30] karelz commented on #38085
We should not break WPF apps in Preview 6 - we need feedback. Note that Preview 7 is RC (go-live), so we don't have much runway to break partners and react.

We had a quick call and decided to back out the change from Preview 6 (@safern works on PR) and reopen discussion next week what to do in Preview 7.
If WPF changes are simple, we could consider it still for Preview 7 (pending @danmosemsft app

[2019-05-31 18:33] #37537 closed

[2019-05-31 18:33] #37885 closed

[2019-05-31 18:40] #34882 closed

[2019-05-31 18:42] stephentoub opened #38114 "ProcessStart_OpenFileOnLinux_UsesSpecifiedProgram failed in CI on Linux"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fskip-oledb/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190530.2/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FProcessStart_OpenFileOnLinux_UsesSpecifiedProgram(programToOpenWith:%20%5C%22vi%5C%22)
[code]

[2019-05-31 18:43] #37929 closed

[2019-05-31 18:53] karelz commented on #34882
API change approved via email.

[2019-05-31 18:57] #36717 closed

[2019-05-31 18:58] tarekgh commented on #37691
I doubt that because the string comparisons are not using the sortkeys. but maybe similar issue.

[2019-05-31 19:02] saucecontrol commented on #2315
That XKCD is right on.

A completely agnostic `ColorF` with 4 floats would be useful for optimized/SIMD scenarios, in the same way that `System.Numerics.Vector4` already is.  A type specifically designed for color could have some useful utility methods, but many/most of those probably end up being specific to a certain interpretation of the color data, making them inappropriate for a one-size-fits

[2019-05-31 19:02] #38080 closed

[2019-05-31 19:14] gfoidl commented on #36974
Outline of the idea:
If the user doesn't provide a `JavaScriptEncoder`, so that the [DefaultJavaScriptEncoder ](https://github.com/dotnet/corefx/blob/fdab38c206fe545b53d043f81be574cdbe9b5b8c/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/JavaScriptEncoder.cs#L48) will be used (is that correct?), hence when can use a modified base64-encoding*, where the lookup will incorporate the esca

[2019-05-31 19:33] VSadov opened #38117 "Add a test scenario to test that `GC.GetTotalAllocatedBytes` is monotonic"
Re: https://github.com/dotnet/coreclr/issues/24615

[2019-05-31 19:35] wfurt commented on #37044
From the log:
[code]
That means the server or client did not finish closing the socket.
You should also see this with `lsof -i -n -p <PID>`
Can you please do packet capture for few requests @antonioortizpola ? I'm wondering if this happens on every request and it just takes some time to use all port numbers.

I'm not familiar with WSDL code. Can you craft runable repro - just like we got one for t

[2019-05-31 19:50] bgribaudo opened #38119 "SqlException Includes PRINTed Text - Bug?"
Using SqlClient, if a SQL statement uses `PRINT` to output text then encounters an error, the exception thrown by SqlClient may contain **both** the error returned by SQL Server (expected) _and_ the output from the print `PRINT` statement (not expected).

For obvious reasons, it makes sense that the exception contains the error. :-) However, the print statement's contents are not an error and do n

[2019-05-31 20:00] ptoonen commented on #34640
I’m going to give it one more go on Sunday but keep running into new issues as soon as I’ve fixed one. I’m starting to wonder whether it’s my device...

On 31 May 2019, at 17:44, Dan Moseley <notifications@github.com<mailto:notifications@github.com>> wrote:

@ptoonen<https://github.com/ptoonen> how is it going? Just wondering whether it misses 3.0 at this point.

—
You are receiving this because y

[2019-05-31 20:02] Clockwork-Muse commented on #38119
It could be that it's specifically happening here because you're using a delimited statement.  Does any other type of statement fill out the `Message` field?  A part of this possibility is, what happens if you have a stored procedure with `PRINT` statements before a `THROW` statement?  (that is, output more details before presenting the actual error)  Does that generate separate `Info`/`Error` tok

[2019-05-31 20:04] danmosemsft commented on #34640
@stephentoub you had a concern above about (2) being potentially a breaking change. We do have one more preview left in which breaking changes are possible - Preview 7. But it's the last one. Say we take this change in a week, would you feel that we have sufficient runway to validate this change is not unacceptably breaking before final release?

[2019-05-31 20:07] bgribaudo commented on #38119
Executing
[code]
also returns the `Info`/`Error` token sequence and results in the same exception output (`System.Data.SqlClient.SqlException: 'Ouch\nhello world!'`).

[2019-05-31 20:25] terrajobst commented on #38087
@chucker

Syntactically, you could make the argment that they look similar. But C# doesn't abstract them away. `int?` and `int` are different types and this has real observable language behavior. For example, this is valid:

[code]

While this is not:

[code]

In other words, you can't overload based on nullability of reference types. Also, the types have differen members. So no, I don't think we

[2019-05-31 20:25] terrajobst commented on #38087
@MichalStrehovsky

But they aren't specific to C#. In order to the C in CLR to be meaningful, other languages, so they support nullability, should use the same underlying encoding. Otherwise exchanges types no longer works. Hence, the reflection API can be considered general purpose.

Reflection is about inspecting the program at runtime. While I understand that there good reasons to separate conc

[2019-05-31 20:26] ericstj commented on #30422
/cc @joperezr - another case where we may want to remove reference assemblies for desktop.

[2019-05-31 20:35] IlyaGrebnov opened #38122 "Consider unsealing SocketsHttpHandler"
HttpClientHandler is unsealed, but doesn't expose PooledConnectionLifetime, so I have to fallback to SocketsHttpHandler. Now I am trying to enable HTTP/2 using code below unfortunately it doesn't compile because HttpClientHandler is sealed and thee is no suitable method found to override.

Any suggestions? CC @stephentoub

        private class Handler : SocketsHttpHandler
        {
            pr

[2019-05-31 20:37] safern commented on #38084
cc: @wfurt @bartonjs @davidsh

[2019-05-31 20:38] antonioortizpola commented on #37044
@wfurt sure, I can work in my project by removing all code, just leaving one WSDL client.

I will try to work on this on the weekend (right now I am in the office and have some other tasks), creating a simple solution and make some packet capture with wireshark, then I will let you know what i can find.

[2019-05-31 20:42] stephentoub commented on #38122
Create a delegating handler whose job it is to update the request appropriately, and wrap it around the underlying handler that'll send the request:
[code]
?

[2019-05-31 20:46] ahoefling commented on #38085
@karelz and team, I am sorry this was missed during the Pull Request and the months of hard work we all did to get this into tn to CoreFX and NET Standard.

What can I do to help in the meantime so we can get this right for Preview 7. **I am worried that we aren't going to be able to get this working and it is going to be excluded when .NET Core 3.0** is Generally Available. I understand this is a

[2019-05-31 20:48] terrajobst commented on #38087
@roji

Right now, this issue is still open so there is no spec. In general, at the metadata level the property itself has a signature (and thus a return type). Similar, the C# compiler emits the nullable attribute for the property itself, as well as for all accessors:

[code]

So in other words I don't think exposing this on the property is a bad idea; depending on context it might just not be suf

[2019-05-31 20:52] IlyaGrebnov commented on #38122
This is good suggestion. Thank you!

[2019-05-31 20:52] #38122 closed

[2019-05-31 20:56] safern commented on #38085
Thanks @ahoefling -- this is not your fault or anyone else's this was just bad timing and unfortunately we don't have time now to do the proper fix before Preview 6. However, be sure that I will follow up with the WPF guys to take action so that we can try and get this into Preview 7 and if we can sort it out, the way that we will do it is by Reverting my Revert 😄.

Also, we don't need to revert a

[2019-05-31 21:00] ahoefling commented on #38085
@safern thanks for the explanation of how we will proceed on this as it answers a lot of the questions I had 👍.

If there are any actionable items I can help out with such as adding better test coverage in CoreFX, please let me know as I am willing to jump in to get this released in 3.0

[2019-05-31 21:00] chucker commented on #38087
That’s an interesting edge case, yes.

But I stand by my assertion — the syntax of `string?` wasn’t just picked because other languages do that, but also because, by and large, it expresses a sufficiently similar intent to `int?`. And if someone were to design .NET today, those subtle behavioral differences would have been avoided. They exist by and large for legacy reasons.

(IANA C# language des

[2019-05-31 21:03] rainersigwald commented on #37907
Can you run with these environment variables?

[code]

where `{full path to folder}` is an existing but empty folder.

That will produce additional logging around node communication. Hopefully that gives us a clue.

I'd also be interested in your results doing something like @wtgodbe suggested, which would point a finger at the binary logger rather than node communication as the problem.

Also, th

[2019-05-31 21:06] terrajobst commented on #38087
I know. I was in the LDM meeting when the feature was originally discussed. Originally, we considered doing `string` and `string!` where `string` meant nullable and `string!` meant non-nullable. The lack of symmetry with nullable value types was urking us, but the higher order bit was that we all felt nullable would be the wrong default. At the same time, it was also clear from the beginning that

[2019-05-31 21:07] aaronfranke commented on #2315
@Joe4evr It definitely can be useful to have multiple Color representations, though I would make a few tweaks to your suggestion.

* `ColorF` and `ColorRgba` would both still store colors in RGBA, it's just that the latter would use the 8-bit `byte`. For this reason, it would make vastly more sense to call it `Color8` or `ColorB`.

* Since `ColorF` would be the more flexible / fully capable implem

[2019-05-31 21:18] AaronRobinsonMSFT commented on #30011
@michaelschmit Thanks for the clarifying. Glad all it working now.

[2019-05-31 21:22] karelz commented on #38085
@ahoefling if you (or anyone) is up to it -- debugging through WPF, figuring out what went wrong there and suggesting solutions in WPF code would be very appreciated.
It would save mainly WPF team's time ... which is precious as they have plenty of things to finish for .NET Core 3.0, more than CoreFX team has.

[2019-05-31 21:25] karelz commented on #38085
I realized I said it only in email -- but HUGE kudos to @onovotny for saving us from shipping these bits with such bad WPF experience. Thank you!
You're savior of the day (as usual) ;) Thanks!!!

[2019-05-31 21:26] tannergooding commented on #2315
I would believe that the appropriate thing to do would be to make the color structs generic (e.g. `ColorRgb<T>`) as that is the only way to satisfy the `byte` vs `float` vs `half` vs `uint` vs etc discussion.

Likewise, you can't have a low overhead "general-purpose" `Color` struct (such as one that supports Rgb or Hsv or Rgba or Bgra/etc). You can really only have distinct types (`ColorRgb`, `Col

[2019-05-31 21:28] tannergooding commented on #2315
What you might ultimately end up with then is a `Color3<T>` and `Color4<T>` struct (potentially others, depending on use-case) with various extension methods for operating on particular spectrums (such as Hsv vs Rgb vs Rgba premultiplied vs etc)

[2019-05-31 21:28] MichalStrehovsky commented on #38087
Nullability as it was implemented is a tooling concern - the CLR is not involved. CLR and the metadata format provide a general purpose way to encode metadata and the tools can have an agreement on what it means. E.g. [JetBrains](https://www.jetbrains.com/help/resharper/Reference__Code_Annotation_Attributes.html) has their own set of attributes that deal with nullability and they're in the same bo

[2019-05-31 21:31] wfurt commented on #37044
thanks @antonioortizpola . it would be nice to get to bottom of this. Seeing half-closed TCP is certainly clue.

[2019-05-31 21:31] #38085 closed

[2019-05-31 21:36] chucker commented on #38087
As @terrajobst said, "Reflection is about inspecting the program at runtime."

[Here's](https://docs.microsoft.com/en-us/dotnet/framework/reflection-and-codedom/reflection) MS introducing the feature:

It's not (just) about what's meaningful to the runtime. It's also about what's meaningful to _you_, the developer, _during_ runtime. This is already the case with `MemberInfo.GetCustomAttributes()`

[2019-05-31 21:36] mtschneiders commented on #30011
Is there a way to make it work on .net 2.2?
I'm specifically dealing with this error on getting Active Directory group members via the System.DirectoryServices.AccountManagement namespace.

[2019-05-31 21:39] #31312 closed

[2019-05-31 21:40] aaronfranke commented on #2315
`ColorRgb<T>` would be a disaster for several reasons.

* As far as I know, there's no way to do math with generic types: https://github.com/dotnet/csharplang/issues/1345 (and see linked issues in the comments)

* `float` and `half` would be on a range of 0 to 1, while `byte` would be from 0 to 255, and `ushort` would be from 0 to 65535 (no idea what you have in mind with `uint`, we don't need nea

[2019-05-31 21:43] karelz commented on #10752
We had to revert the original PR in #38115 for 3.0 Preview 6.
Let's keep this issue open to figure out what should happen in Preview 7 (or later in .NET 5).

[2019-05-31 21:43] AaronRobinsonMSFT commented on #30011
@mtschneiders Unfortunately not. Enabling this feature required supporting `IDispatch`. The support of `IDispatch` required a lot of work throughout the runtime and there is no plan to port that support down to 2.2.

[2019-05-31 21:46] mtschneiders commented on #30011
@AaronRobinsonMSFT OK, thanks.

[2019-05-31 21:47] karelz commented on #10752
Next steps:
1. Figure out what we have to do in WPF to accommodate this API. Do we need to make WPF code changes? Large or small changes?
2. Is there a pattern we should look for in other projects? How many other projects will be impacted?

Note: Preview 7 is RC (go-live) and we won't be able to add new APIs after that. Even if this change is too close to shipping Preview 7, we may have to postpon

[2019-05-31 21:49] stephentoub commented on #34640
@danmosemsft, it's "breaking" from a machine-wide reliability perspective: we'd stop forcing a flush to disk in a case where we were previously doing so.  No amount of previews are going to tell us whether that's a problem or not.  We just have to make a call.  I'm ok with it.  I think it's a mistake that FlushAsync was previously doing the same thing as Flush(true) when Flush() is equivalent to F

[2019-05-31 21:50] tannergooding commented on #2315
No single-line of code way. It would be supported the same way as `System.Numerics.Vector<T>` where there are "blessed set" of T (which can be expanded in the future as needed) and the implementation would utilize generic specialization to ensure each `T` does the right thing. The JIT will then eliminate the dead code paths, ultimately giving you efficient code that is the same as specialized non-

[2019-05-31 21:59] owlstead commented on #37748
I'm all open to use `PemFields` as a separate instance. I'll check if I can get that to work with `Span`.

Ah, and here I just inserted the exceptions. Personally I'm in favor of throwing errors when *if* a full header line / pre encap boundary is found (i.e. five dashes, BEGIN, some kind of label (any chars) and then five dashes again. Because if anything is wrong, then it is hard to argue that t

[2019-05-31 22:26] JeremyKuhne commented on #29377
Another hit:

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38124~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190531.63/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterTests~2FPerformanceCounter_NextValue_ProcessorCounter

[2019-05-31 22:34] #38092 closed

[2019-05-31 22:36] terrajobst commented on #38087
I think @MichalStrehovsky isnt' wrong; there is a balance to strike. If we put every little language convention into the reflection model, we'll create a mess. Also, not every language feature is relevant at runtime. However, I think we can agree that these things hold:

1. Nullable reference types will be a popular feature
2. There are sensible scenarios using the nullable annotations at runtime

[2019-05-31 22:37] danmosemsft commented on #38114
More info in the console output
[code]

This same output is on all 4 Alpine legs, but only 2 failed. Presumably `vi` is failing and it's just a race to read the process name first.

[2019-05-31 22:43] danmosemsft commented on #38114
Happened to notice https://bugs.alpinelinux.org/issues/2259 which apparently is long fixed but suggests it can happen because a previous process messed up stdin.

We need access to a shell here so we can repro with `strace`. @wfurt do we/you have a way to do this? Repro tool?

[2019-05-31 22:43] danmosemsft commented on #38114
cc @tmds in case all this escaped goo above suggests a theory to him.

[2019-05-31 22:44] danmosemsft commented on #38093
Is there any work here for us? If not we should close this?

[2019-05-31 22:44] danmosemsft commented on #38078
cc @jkotas who made that change.

[2019-05-31 22:46] danmosemsft commented on #38072
@DualBrain what does "doesn't work" mean exactly - missing method exception? wrong result?

[2019-05-31 22:47] danmosemsft commented on #38071
Did you build release? That can break expression eval in many cases.

[2019-05-31 22:47] danmosemsft commented on #38065
@joperezr

[2019-05-31 22:51] jkoritzinsky commented on #38093
There’s no work for us to do in the CoreFX repo on this.

[2019-05-31 23:11] roji commented on #38087
+1 on having the new API recognize nullable value types. It's true the nullable reference and value types are completely different things under the hood, but it seems like a good idea not to surface that distinction where not strictly necessary. Ideally users shouldn't need to care more than absolutely necessary (see https://github.com/dotnet/csharplang/issues/1865 for an example issue for making

[2019-05-31 23:25] #30747 closed

[2019-05-31 23:37] roji commented on #38119
Move to https://github.com/dotnet/sqlclient? AFAIK all SqlClient issues are being tracked there now.

[2019-05-31 23:38] #35647 closed

[2019-05-31 23:39] ahsonkhan commented on #36974
Remainder of the behavioral change was fixed in https://github.com/dotnet/corefx/pull/38106.

[2019-05-31 23:39] #36974 closed

[2019-05-31 23:41] davkean commented on #38087
How far do you take that? Take optional values, params, constant fields, properties or events; no meaning to the runtime only a tooling concern, but we still represent these.

[2019-05-31 23:41] wfurt commented on #35239
There is somewhat more than this. There are also requirements about ciphers and  key sizes. https://http2.github.io/http2-spec/#rfc.section.9.2.2
That part is SHOULD NOT so we may deal with it later.

Perhaps ALPN based crypto profiles may not be bad option. That would allow proper HTTP2 settings.
As minimum we may have more work in future besides simply allowing TLS to negotiate.

[2019-05-31 23:42] ahsonkhan commented on #36974
We likely want to stick to base64 encoding as the default (even though base64url has the benefit of not requiring escaping by default), to remain consistent with user expectations here. I am not sure if these encodings are easily interchangeable, in general.

[2019-05-31 23:42] stephentoub commented on #35239
That's a separate issue, though, right?

[2019-05-31 23:49] DualBrain commented on #38072
The line:

Console.WriteLine(My.Computer.Name)

Will not compile (and should).  As for the IDE, it show "red squiggles".

If you type My. the popup only shows InternalXmlHelper as a possible entry... no Computer, no User, no Forms, nothing else.  I provided the example to demonstrate a common behavior and that the "underlying" pieces are indeed in place to allow My to work... it's just that My bey

[2019-05-31 23:51] DualBrain commented on #38072
I meant to update the sample when I originally posted to be the following but got distracted with "real work"...

Module Program
Sub Main(args As String())
Console.WriteLine(My.Computer.Name) ' <--- Will not compile, red squiggles.
Console.WriteLine((New Microsoft.VisualBasic.Devices.ServerComputer).Name) ' <--- What My.Computer.Name basically translates to...
Console.WriteLine(System.Environment.

[2019-05-31 23:54] wfurt commented on #35239
yes. The AllowRenegotiation has probably
biggest practical impact as it can break client side authentication. SocketsHttpHandler can take SslOptions. We may respect that if provided to give control over compat vs security tradeoffs. (and perhaps choose compat for HttpClient) similar to #36555.

[2019-06-01 00:03] ahsonkhan commented on #38064
The `JsonSerializer.ToBytes` method was recently renamed to `ToUt8Bytes`, so I suspect there is some mismatching bits causing the concern here. Can you try with the latest SDK and see if you are still hitting this issue?
https://github.com/dotnet/corefx/issues/37898

cc @pranavkm, @BrennanConroy from the aspnet side in case they have some insights.

[2019-06-01 00:06] pranavkm commented on #38064
You likely need the preview6 SDK, since that determines what you're compiling against.

[2019-06-01 00:09] noahfalk commented on #37966
I think its reasonable to have a scenario with a decoupled task, I was more surprised that you are only trying to apply the decoupling to the activity tracing and not to any other aspect of the async state.

ExecutionContext.SuppressFlow() will certainly suppress it with a single line of code. I think this appears harder because you are trying to single out Activity and preserve all other async st

[2019-06-01 00:40] danmosemsft commented on #38072
Ah right. I think `My` is a construct created by the VB compiler. @cston would have to answer why the compiler isn't handling it.

[2019-06-01 00:47] divega commented on #37695
@AfsanehR FYI, I fixed the milestone to 3.0, since this issue is in the CoreFx repo, not SqlClient.

[2019-06-01 00:54] divega commented on #33999
@AfsanehR @joperezr @danmosemsft Wondering if this issue should be mirrored on the SqlClient repo, as it probably affects Microsoft.Data.SqlClient as well, or even if it would be ok to say we won't fix in System.Data.SqlClient but we can potentially fix it in Microsoft.Data.SqlClient.

Besides, in the long run we can consider using the managed implementation of SNI for any platforms that aren't su

[2019-06-01 00:54] terrajobst commented on #38087
Great point @davkean!

[2019-06-01 00:57] divega commented on #27989
@saurabh500 @david-engel wondering if it would be appropriate to copy or move this issue to SqlClient. Presumably the issue exists in the tests there too, but if/when we fix it we would fix it in both places?

[2019-06-01 00:58] divega commented on #27858
@David-engel as other known test bugs, should this be moved to the SqlClient repo?

[2019-06-01 01:01] danmosemsft commented on #33999
@divega to me ARM32 support is a feature, it is up to the owners of this package whether they want new features in it but my understanding was that they would only go into M.D.SqlClient. In which case this issue should be fixed by disabling those tests for ARM32

[2019-06-01 01:07] bartonjs commented on #35239
I think I'm okay with being lax about the renegotation for now.  In the distant future, when everyone's on TLS 1.3, it won't matter anyways.

[2019-06-01 01:20] divega commented on #25205
@jkotas as you probably know, future development of SqlClient will happen on a new package, Microsoft.Data.SqlClient, that will be hosted in https://github.com/dotnet/SqlClient. System.Data.SqlClient will still be built in CoreFx, be supported and receive fixes for high priority bugs.

Are the concerns described by this issue are still current? Could you elaborate on how they map to both System.Da

[2019-06-01 01:27] danmosemsft commented on #38130
This is a puzzle. I don't see a debugger visualizer. It's not quite the output of `Font.ToString()`. It's not quite the output of `FontConverter.ConvertTo(...typeof(string))` ...

[2019-06-01 01:28] danmosemsft commented on #38130
[code]
`"Segoe UI, 9pt"`

[2019-06-01 01:28] robertmclaws commented on #38085
@onovotny Can you post a WPF app that exhibits the behavior somewhere so I can debug through it? Maybe I can track down the issue and fix it in the ListCollectionView.

Thanks!

[2019-06-01 01:29] danmosemsft commented on #38130
@ericstj any idea? Some special IDE magic?

[2019-06-01 01:30] RussKie commented on #38130
There must be something else, visualisers can be applied at various levels

[2019-06-01 01:37] divega commented on #33999
@danmosemsft ok, so my understanding is:

1. This issue can remain here in CoreFx to track disabling the tests. Should this be in the 3.0 milestone instead of Future? Can anyone handle it?
2. I created https://github.com/dotnet/SqlClient/issues/117 to track this on SqlClient

[2019-06-01 01:37] onovotny commented on #38085
NuGet Package Explorer shows it in many places. Clone master and run with preview6 (before this fix). First place I noticed is in the “open from feed” dialog where there was an error message instead of displaying the feed info. There are other places too.

[2019-06-01 01:42] danmosemsft commented on #33999
Yes, anyone can disable the tests. EG `[ConditionalFact(typeof(PlatformDetection), nameof(PlatformDetection.IsNotArmProcess))] ` if it's a single test, I think there are also conditions that can be applied on the fixture (test class). But there are plenty of ARM32 tests that need fixes or exclusions right now. It should not stop us shipping.

[2019-06-01 02:01] ahoefling commented on #38085
@onovotny thanks for sharing information about the project. I had a similar question as I plan to dig into this as well. @robertmclaws we should try and compare notes sometime next week on what we find.

Here are some useful links:
* [NuGet Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer)
* [PR that updates it to Preview 6](https://github.com/NuGetPackageExplorer/NuG

[2019-06-01 02:05] Yucked commented on #38064
I'm guessing this is the right place to download the prev6 SDK: https://github.com/dotnet/core-sdk#installers-and-binaries

[2019-06-01 02:18] ahsonkhan commented on #38064
Yep!

[2019-06-01 02:23] Yucked commented on #38064
Thank you, that fixed the issue!

[2019-06-01 02:23] #38064 closed

[2019-06-01 03:12] ahsonkhan opened #38131 "JsonSerializer does not ignore or gracefully fail when serializing a class with a public indexer."
**Sample repro:**
[code]

**Actual behavior:**
[code]

cc @JeremyKuhne, @steveharter, @buyaa-n

[2019-06-01 03:19] karelz commented on #38085
You don't need to build master - just use daily build from yesterday and you will get the "bad" bits end-to-end via SDK download.

[2019-06-01 03:30] ahsonkhan commented on #38071
There was a recently issue with the debugger (seemingly for structs only), where locals weren't showing up.

A temporary workaround would have been to attach the VS debugger to a running test (by running it via the command line), with `System.Diagnostics.Debugger.Launch();` added within the test you want to debug. I think that would have worked to resolve the locals issue, but not sure (feel free

[2019-06-01 03:44] ahsonkhan commented on #38071
Closing as fixed. Feel free to re-open if it isn't.

[2019-06-01 03:44] #38071 closed

[2019-06-01 03:52] ares128 opened #38132 "Immutable collection read are way too slow than Normal collections"
As i think immutable collection read operations will not do checks with concurrent access, it should be faster than normal collection. but test shows a different result.

// * Summary *

BenchmarkDotNet=v0.11.5, OS=Windows 10.0.17763.503 (1809/October2018Update/Redstone5)
Intel Core i5-7300U CPU 2.60GHz (Kaby Lake), 1 CPU, 4 logical and 2 physical cores
.NET Core SDK=2.2.204
  [Host]     : .NET Co

[2019-06-01 03:59] ahsonkhan commented on #38043
That was a one-off publish of the package from a nightly build a few weeks ago (right after preview 5). Can you either retry by referencing the latest package version from the dev feed (currently, the latest available is `4.6.0-preview7.19281.7`, with the last preview6 being `4.6.0-preview6.19281.8`)? Otherwise, you would have to wait for the preview6 to ship and become available on NuGet.

Add th

[2019-06-01 04:36] BrennanConroy commented on #36717
Did a before and after for this change:
Before:

Method |          Input |    HubProtocol |     Mean |     Error |   StdDev |     Op/s |  Gen 0 |  Gen 1 | Allocated |
------------------ |--------------- |--------------- |---------:|----------:|---------:|---------:|-------:|-------:|----------:|
 ReadSingleMessage | LargeArguments |           Json | 21.11 us | 1.6846 us | 4.967 us | 47,381.8 | 2.0

[2019-06-01 05:38] jkotas commented on #25205
Yes, the issues are still current for both `Microsoft.Data.SqlClient` and `System.Data.SqlClient` packages.

For `Microsoft.Data.SqlClient` package, you should delete all files from the implementation that P/Invoke into the `System.*.Native.so/dylib` shims. I do see these P/Invokes in the current preview versions of https://www.nuget.org/packages/Microsoft.Data.SqlClient/. These shims are internal

[2019-06-01 05:56] MarcoRossignoli commented on #38071
Thanks guys!

[2019-06-01 06:25] MichalStrehovsky commented on #38087
Those are also represented with unique structures at the file format level. If we take those apis away, there's no way to get to them. Nullable annotations are custom attributes like any other. That's my line.

It's very common to look for the CompilerGeneratedAttribute to see if something was compiler generated. Would we put a top level IsCompilerGenerated property on FieldInfo and friends to mak

[2019-06-01 08:29] MarcoRossignoli commented on #38131
I grab this

[2019-06-01 08:32] roji commented on #38087
I think a key point - and what drove this issue in the first place - is that the current scheme of placing an attribute on every single member is causing significant bloat, and the compiler team is looking into a more elaborate and space-saving scheme (e.g. assembly-level and/or type-level defaults). That would make interpretation much more complicated, hence the need of an API.

Basically, if thi

[2019-06-01 08:53] MarcoRossignoli commented on #38071
Confirm that after re-clone all works as expected.

[2019-06-01 11:52] phillip-haydon commented on #33115
@JonPSmith IMO it shouldn't matter. You should never be serializing an entity directly. You should serialize a projection. This avoids circular references, and doesn't expose all data, especially when you add more properties to the entity that may end up being sensitive.

[2019-06-01 11:58] Wraith2 commented on #37966
In this case I have no other execution state I want to keep so I can use the suppression. It feels like an incorrectly sized hammer for the problem and knowing that it will work requires some pretty advanced knowledge because ExecutionContext isn't something most people will/should ever be near. Perhaps the better option is to set Activity.Current to null in the disconnected task.

This might not

[2019-06-01 11:58] #37966 closed

[2019-06-01 12:04] Wraith2 commented on #38132
The normal collections don't check for concurrent access which is why they aren't safe, not doing work is generally faster than doing work so they're also fast

The immutable collections are slower because every mutation operation has to produce a new instance. The immutable types do this by trying not to consume all your memory so they do a lot of work to be both safe and re-use information. More

[2019-06-01 12:04] jkotas commented on #38078
This problem is not related to #37261.

This is bug in the implementation of `CustomValidationAttribute`. .NET Framework has overridden `CustomValidationAttribute.TypeId` method, but .NET Core is missing this override. `System.ComponentModel` machinery is using the TypeId method to [de-duplicate the attributes](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Syst

[2019-06-01 12:05] stephentoub commented on #38132
The immutable collections use fundamentally different data structures optimized for different things, and as such, while it's easy to make this assumption, it's not a valid one. They are optimized for the use case of creating new collections from previous ones, e.g. ImmutableDictionary.Add creating a new instance that's able to share most of the state of the previous collection.

[2019-06-01 12:06] jkotas commented on #38078
Targeted repro:

[code]

Output on .NET Core:
[code]

Output on .NET Framework:
[code]

[2019-06-01 12:21] MarcoRossignoli commented on #38132
related benchmarks https://github.com/dotnet/corefx/issues/36416

[2019-06-01 12:26] MarcoRossignoli commented on #38078
For ref https://referencesource.microsoft.com/#System.ComponentModel.DataAnnotations/DataAnnotations/CustomValidationAttribute.cs,107

[2019-06-01 12:28] MarcoRossignoli commented on #38078
Can grab is nobody is working on it.

[2019-06-01 12:31] Wraith2 commented on #36416
@PiotrKowalski93 no permission needed just go for it. The code standard here are high so be prepared to be able to justify and measure everything but improvements are always welcome.

[2019-06-01 12:59] TsengSR commented on #33115
@JonPSmith: Imho both use cases are invalid from both best practice and DDD point of view.

1. I have never seen a best practice which recommends deserializing entities directly (except in the most simple tutorial examples). Circular references always come at a cost. It requires tracking of already processed objects, this means: memory allocations and additional CPU cycles. But one of the mail goa

[2019-06-01 13:29] ableji commented on #37982
Im so sorry it  was my mistake, the problem was somewhere else in my code and every thing works perfectly
@tarekgh @Clockwork-Muse

[2019-06-01 13:29] stephentoub commented on #35239
Ok, thanks.  Let's go ahead with it.

[2019-06-01 14:38] gfoidl commented on #36974
Hm, my initial thought of special handling while base64-encoding may not be the best route. Especially since we got [simd-based base64](https://github.com/dotnet/corefx/pull/34529), as this relies on a `3 input bytes -> four output bytes`, and this isn't the case with javascript escaping anymore.
While still possible to build this into a base64-encoder, I believe this will be bad perf-wise.

A bet

[2019-06-01 16:03] vcsjones commented on #37907
@rainersigwald thanks for the assistance.

Sure. Thank you for taking the time to help me troubleshoot.

Using `./build.sh --restore --build` with no CPU affinity set, it produced a single log file with 1,844 of lines like this:

Later after the build appeared "done" more log files like this appeared:

[code]

I don't see any lingering processes. Anyway, these logs seem harmless to upload so here

[2019-06-01 16:09] bricelam commented on #38078
@MarcoRossignoli feel free to send a PR. I think the EF team happens to own that code... 😅

[2019-06-01 17:36] kevingosse commented on #33500
I can reproduce locally when running the `Clear_ConcurrentUsage_NoExceptions` about 50 times. It's easier to debug by setting `threadsCount` to 2, `itemsPerThread` to 10000, and having one of the two threads do only `TryTake` operations.

Anyway, it seems like a race condition caused by an overflow.

The race is between `TrySteal` and `TryLocalPop`. The initial condition is that the collection is

[2019-06-01 17:48] Genbox commented on #22940
@aaronfranke I don't know how much you know already, but it is my understanding that the IntrinsicAttribute is applied to a few methods where the compiler is supposed to replace the usual instructions with specially generated instructions. This is only possible since you distribute IL code to run on different platforms, and if a platform has the popcnt instruction, it is handled as a special case.

[2019-06-01 18:53] nvmkpk commented on #38043
I tried with version `4.6.0-preview7.19301.2` and it is working.

[2019-06-01 19:11] robertmclaws commented on #10752
You know, I was thinking about this a lot again this afternoon, and reading another thread on Twitter about API breakage (between @davidfowl and @terrajobst). I really think we're thinking about this the wrong way, and here's why:

**The `*Range` changes are going to be a HUGE breaking change across the entire UI ecosystem.** This stems from the fact that **`ObservableCollection` has _always_ been

[2019-06-01 19:27] #35239 closed

[2019-06-01 20:17] gfoidl commented on #36974
For the `Base64JavaScriptEncoder` I made a [quick iteration](https://github.com/gfoidl/Benchmarks/blob/3193356256db47fe2e038a82217c3a7e9421f0df/corefx/System/Text/Encodings/Web/Base64JavaScriptEncoderBenchmarks/Base64JavaScriptEncoderBenchmarks/Encoders/Base64JavaScriptEncoder.cs) and [compared](https://github.com/gfoidl/Benchmarks/blob/3193356256db47fe2e038a82217c3a7e9421f0df/corefx/System/Text/E

[2019-06-01 20:53] AntonPlotnikov opened #38139 "DotNetAppHost's version info and icon"
Hello. I need to add a version info and custom icon for DotNetAppHost? We use potable mode (Framework-dependent deployment), and there are some branding and security requirements. But -during building I can add version info only to main assembly (dll), not to exe file (we use RID win7-x64). How can I do it during MSBuild process?

[2019-06-01 21:19] terrajobst commented on #38087
@MichalStrehovsky

That's a fair point.

I don't think it's *that* common for runtime reflection to ask that question. It's more common in static analysis tools and AFAIK Roslyn does expose and API for that. If it were a common question then yes, I would consider exposing a property on the reflection APIs.

I've outlined my bar [above](https://github.com/dotnet/corefx/issues/38087#issuecomment-497

[2019-06-01 21:29] jkotas commented on #22940
`IntrinsicAttribute` is an internal implementation detail. You do not need to worry about it to use the intrinsics.

https://devblogs.microsoft.com/dotnet/using-net-hardware-intrinsics-api-to-accelerate-machine-learning-scenarios/ describes good examples of real hardware intrinsic uses.

[2019-06-01 21:54] terrajobst commented on #38132
As was pointed out, immutability comes with a price tag. That being said, I do agree that lookup speed in particular is unfortunate with `ImmutableDictionary<,>`. It's the dictionary is basically a tree. I wish dictionaries would mirror would we did with lists: we have `ImmutableList<T>`, which optimizes for minimizing copying by using a tre, and `ImmutableArray<T>` which optimizes for lookup spee

[2019-06-01 22:15] JustArchi opened #38141 "Changing console's OutputEncoding on linux generates garbage"
I've experimented a bit in my cross-platform app by declaring `Console.OutputEncoding = Encoding.Unicode;` globally before first console entry gets written.

On Windows, as expected, the output encoding is changed nicely and the console displays whole range of symbols, including cyrillic characters.

On Linux, the encoding is also changed, but the console generates garbage from this point onwards,

[2019-06-01 23:15] fiigii commented on #22940
If you already have SIMD or low-level programming experience in C/C++, the [comment of API source](https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86) would be sufficient.
If not, this article [Hardware intrinsic in .NET Core 3.0 - Introduction](https://fiigii.com/2019/03/03/Hardware-intrinsic-in-NET-Core-3-0-Introduction/) would be a good

[2019-06-02 00:45] aaronfranke commented on #37822
Ok, so I'm going to close this issue then. I think the fact that `System.Numerics` is included by default in newer versions of .NET and Mono make this a non-issue, since (for the most part) we could simply define operators that convert to `System.Numerics` types. The only things projects have to worry about is:

* Complex and potentially niche types as mentioned above.

* Using a new enough versio

[2019-06-02 00:45] #37822 closed

[2019-06-02 01:19] joshudson commented on #8895
Ok so now I've got the whole fix up. Would someone please do something about these spurious build failures. There's no possible chance that 3 of the 4 pull requests (including test case fixes) failed Windows builds but I'm showing some Windows builds.

I can't integrate the test though. :(

[2019-06-02 03:55] davidfowl opened #38143 "Add methods for url manipulation"
This is coming up while people are porting their ASP.NET application to ASP.NET Core because there was a general purpose utility that was the moral equivalent of Path for handling what was coined a virtual path basically (the path part of a URI). Here's the existing API surface (in the System.Web namespace):

[code]

[2019-06-02 04:09] danmosemsft opened #38144 "Instructions for patching private CLR do not work"
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits says I can build from the root, then apply a private CoreCLR using `dotnet msbuild /p:CoreCLROverridePath=d:\git\coreclr\bin\Product\Windows_NT.x64.Release\ ./external/runtime/runtime.depproj`
however that gives
[code]
the workaround is to  run dotnet msbuild on src/pretest.

[2019-06-02 04:20] #38078 closed

[2019-06-02 07:16] MichalStrehovsky commented on #38087
[Here](https://github.com/aspnet/AspNetCore/blob/400835e0b4d3f0f9da03ad5a8e2d7c5c38287000/src/Shared/StackTrace/StackFrame/StackTraceHelper.cs#L86) it's used in ASP.NET Core, [here](https://github.com/aspnet/EntityFrameworkCore/blob/915d214351f6c691f7fe7563bf7f9d51274845b0/src/Shared/SharedTypeExtensions.cs#L68-L71) in EF, [here](https://github.com/JamesNK/Newtonsoft.Json/blob/b34a3ccca7ff6535c0c9

[2019-06-02 08:12] davkean commented on #38087
Good point, we should expose IsCompilerGenerated too.

It is not argument that Reflection does not represent the languages that consume them. Binder itself tries to implement C#/VB binding rules. GetCustomAttributes takes into account overridden "properties" - a concept that doesn't even exist at runtime, nor represented in in metadata.

[2019-06-02 12:29] adamsitnik commented on #37691
I have used the recommendations provided in the ICU User Guide and made it two times faster https://github.com/dotnet/coreclr/pull/24889

[2019-06-02 13:17] Happypig375 commented on #10752
I'd say we should make `NotifyCollectionChangedEventArgs` generic as well. Currently non-generic lists are used which is not only inconvenient, but also risks run-time `InvalidCastException`s.

[2019-06-02 13:57] danmosemsft commented on #38141
On Ubuntu in WSL at least this does not repro
[code]

[2019-06-02 13:59] danmosemsft commented on #38132
I think this is answered and I will close. Feel free to reopen if not.

[2019-06-02 13:59] #38132 closed

[2019-06-02 14:05] glennawatson commented on #24524
Is this a reasonable interpretation of what `SubmitRequestAsync()` would of done?

[code]

Old issue I know so hopefully you guys don't mind.

[2019-06-02 14:09] JustArchi commented on #38141
@danmosemsft it doesn't? Your output shows the garbage I refer to caused by incorrectly used console encoding in .net core and actual encoding in the terminal.

[2019-06-02 14:59] robertmclaws commented on #10752
I wish that would have been part of the spec @Happypig375 because that is a fantastic idea. Generic Lists still implement `IList`, so I believe that wouldn't be as big of an issue as I initially thought when I considered it. But that would be a lot of extra testing that I'm not sure we have time for... unless this all gets punted to .NET 5, then we have all the time in the world ;).

[2019-06-02 15:03] jnm2 commented on #10752
Not necessarily, since `IList<>` [does not inherit `IList`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ilist-1).

[2019-06-02 15:06] robertmclaws commented on #10752
@jnm2 @Happypig375 Curses, foiled again! I thought it implemented `IList` as the most basic interface, but it implements `IEnumerable` instead. :(

[2019-06-02 15:12] bartonjs commented on #24524
@glennawatson Not quite.  The response isn't a token, it's its own thing.  https://github.com/bartonjs/corefx/blob/918f38842698d44e5ddd98ba73fdfb73d5f9df2d/src/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Rfc3161TimestampRequest.cs#L61-L203 is the most recent version I could (quickly) find.

[2019-06-02 15:17] bartonjs commented on #24524
@glennawatson The modern version, though, is something like

[code]

[2019-06-02 15:26] glennawatson commented on #24524
Awesome thanks @bartonjs -- pretty helpful :)

[2019-06-02 15:31] glennawatson commented on #24524
My final version was

[code]

[2019-06-02 15:35] bsagal opened #38148 "[API Proposal] Add ReadOnlySequence<T>.TrySlice"
When using ReadOnlySequence<T> if i want to see if i can get and get the `length` bytes stating from position `start` i need the following code:

[code]

This code needs to allocate extra ReadOnlySequence, witch could be much better achieved in the sequence its self.

[2019-06-02 15:52] billwert commented on #37691
Great that we were able to optimize this! @sebastienros what was the overall impact of this on the techempower scenario?

@brianrob

[2019-06-02 16:13] #22849 closed

[2019-06-02 16:13] #37430 closed

[2019-06-02 16:15] joshudson commented on #38144
Confirmed. But I don't think the workaround works.

[2019-06-02 16:26] danmosemsft commented on #38144
@joshudson FWIW it did for me. I guess if it doesn't, then use `/p:CoreCLROverridePath=d:\git\coreclr\bin\Product\Windows_NT.x64.Release\ ` when building from the root with build.

[2019-06-02 16:28] danmosemsft commented on #37816
In the case of the topmost example, it is actually true.  😺

[2019-06-02 17:11] joshudson commented on #38144
CoreCLROverridePath is clearly what I needed thanks.

[2019-06-02 17:16] ptoonen commented on #34640
I did not succeed today. Although the change seems incredibly easy (and I think it may be), there are some tests that fail where I don't expect them to. If anyone else has any ideas, I'd gladly hear them. Otherwise I'm afraid I'm going to have to let this one go.

[2019-06-02 18:11] danmosemsft commented on #38141
@JustArchi I misunderstood, you mean that writing through the Console object is messed up. I guess so, at least, my next string is double spaced:
[code]

[2019-06-02 18:26] karelz commented on #10752
@robertmclaws thanks for you thoughts, unfortunately I have to respectfully disagree with some of your points -- the landscape is a bit more complicated than what you highlighted above. Here are my points:

Yes, that was the original plan in .NET Core 1.0. And then the reality hit us and had to put back TONS of old APIs in .NET Core 2.0, reverted our Reflection "start-fresh" work, etc. All that ma

[2019-06-02 18:36] stephentoub commented on #38141
Changing Console.OutputEncoding changes the encoding used to translate strings to the bytes written out to the underlying stream, whether that's to a terminal or redirected. There's no good way I'm aware of to programmatically tell the terminal to change the encoding it uses to decide written bytes, but we dutifully follow the request so that a terminal manually changed or redirected output gets t

[2019-06-02 18:43] JustArchi commented on #38141
@stephentoub I thought of 3 approaches to this issue (all 3 apply when `!Console.IsOutputRedirected`):

- Determine if it's possible to change terminal encoding, if yes, we should use it (I guess it's not viable based on the note and the fact that this is not the case yet)
- Determine that it's not possible to change terminal encoding and decide to make a real no-op operation that won't affect any

[2019-06-02 18:46] stephentoub commented on #38141
Someone can manually change the encoding of their terminal, in which case they'd want to use Console.OutputEncoding to match.  If we start ignoring that request or throwing, it breaks that use case.

[2019-06-02 18:46] markrendle commented on #33115
@suncodefactory This is the opposite of a breaking change. Right now, in ASP.NET Core 2.2, JSON.NET is used by the framework as well as by user code. This has the potential to cause conflicts with your own use of Newtonsoft.Json; if ASP.NET Core 3.0 moved to JSON.NET 12.x and there was some kind of issue in there that broke your application, you'd have a problem.

For example, look at [Microsoft.E

[2019-06-02 18:47] JustArchi commented on #38141
That's true, but when you can't change the encoding of the already-set terminal then runtime should have logic for detecting and applying to the encoding that was already set (whether it's utf8 or anything else), and since you can't do anything with `OutputEncoding` in a way it won't break that terminal output, it could be a no-op.

[2019-06-02 18:48] JustArchi commented on #38141
To the best of my knowledge you can't change encoding of already established terminal output on unix (as opposed to windows), which is why logical solution to me is runtime detecting that encoding (and applying to it), while making all future calls to output encoding a no-op.

[2019-06-02 18:48] stephentoub commented on #38141
How?

[2019-06-02 18:48] JustArchi commented on #38141
That's a good question, I don't know, maybe you have some idea 😅.

[2019-06-02 18:51] JustArchi commented on #38141
Majority of unix applications seem to depend on `LANG`, `LC_CTYPE` and `LC_ALL` for that, although it's true that it's not really stating the encoding per-se, but what the terminal *should* be using.

[2019-06-02 18:51] stephentoub commented on #38141
I'm not aware of any good way to reliably determine the encoding the terminal is using (if anyone knows of one, please share).  And without that, I don't think this is actionable.

[2019-06-02 18:51] stephentoub commented on #38141
Right

[2019-06-02 18:53] JustArchi commented on #38141
Which is why I'm not really suggesting any particular solution as I don't feel comfortable enough doing so, I'm just brainstorming potential approaches to the problem in order to determine whether there is anything we can do to improve in regard to this issue.

If you feel like there is nothing we can do to improve this use case then I fully understand that and the issue can be closed, I just thou

[2019-06-02 19:10] svick commented on #38141
@JustArchi

What *is* the use case? Why are you setting `Console.OutputEncoding` in the first place?

Personally, I think it's really confusing that `Encoding.Unicode` actually means UTF-16, but I'm not sure there's anything that can be done about that.

[2019-06-02 19:24] robertmclaws commented on #10752
The point of view makes sense, and I understand where Microsoft is coming from. I know no one likes surprises, and this was definitely an unintended surprise. My primary point was that, at this moment, you're not breaking shipping apps. So if people looking to migrate can't do so until the first monthly .NET Core update (October instead of September) that doesn't seem like a huge deal, if people a

[2019-06-02 19:33] fernacolo opened #38149 "Custom TaskScheduler replaced by the default one for no apparent reason"
I'm trying to build a custom `TaskScheduler` that uses the priority of each task to make scheduling decisions. Basically, if there are two or more tasks ready to run, it should schedule the one that has more priority.

I can put priority information in a custom `SynchronizationContext` and communicate it to my custom `TaskScheduler`. The problem is that certain `await` patterns cause the scheduler

[2019-06-02 19:35] GSPP commented on #37816
The "root cause" is not "the implementation detail that caused the exception to be thrown". I think *root cause* is ill defined; this wording does not mean anything concrete. That is what I mean by nonsense.

If a programmatic decision needs to be made on how to handle an error drilling to the innermost exception is very likely wrong.

[2019-06-02 19:35] JustArchi commented on #38141
@svick I'm changing encoding on Windows to have consistent display of more obscure characters for my users, this involves stuff like cyrillic characters on non-cyrillic OS languages to display properly (instead of bunch of `????`).

Accidentally this line regressed on linux/osx setups since there it changed the output encoding without changing terminal encoding, so I was forced to make my line abo

[2019-06-02 19:48] jkotas commented on #37816
From Wikipedia [root cause](https://en.wikipedia.org/wiki/Root_cause) definition: initiating cause of either a condition or a causal chain . Describing the inner most exception as root cause is accurate, I think.

[2019-06-02 20:42] tarekgh commented on #37691
Yes @billwert point is important as I am expecting there is some other places contributing to the perf differences.

[2019-06-02 20:45] Genbox commented on #37702
This is already done. See https://github.com/dotnet/corefxlab/issues/2456

[2019-06-02 20:46] stephentoub commented on #34640
@ptoonen, which tests? Can you share your branch? Someone might be able to pick up where you left off. Thanks!

[2019-06-02 21:01] svick commented on #38141
@JustArchi I think a good approach to do that is to use `Console.OutputEncoding = Encoding.UTF8;` everywhere. On Windows, setting `OutputEndoding` notifies the OS, which means both UTF-16 and UTF-8 should work:

https://github.com/dotnet/corefx/blob/aa0c037c1f64c91f73698d0607dea16904d08da8/src/System.Console/src/System/ConsolePal.Windows.cs#L113-L120

On Unix, that doesn't work, so you should stic

[2019-06-02 21:05] fr0 commented on #1973
Why isn't this implemented yet?

[2019-06-02 21:47] JustArchi commented on #38141
@svick This is actually what I've decided to go with, but I still have `if` for Windows in-place, because if by any chance somebody would be running terminal in non-utf8 then I can't do anything about that anyway, so I rely on what runtime can detect in this case and I don't intend to change it at all. If unix terminal would be running in something like ASCII then forcing UTF-8 response could stil

[2019-06-02 22:00] wfurt commented on #38114
Seems like we observed some instability in #31970 and decided to disable 'vi' test on Alpine. For recored, on Alpine 'vi' is not normal application but rather minimal implementation using BusyBox. Now, since we start this all in background, vi should not share normal stdin. However, because 'vi' is  interactive it may also need /dev/tty besides stdin. I don't know what we do to make sure we have c

[2019-06-02 23:19] danmosemsft commented on #38114
Thanks @tmds. I don't realize even vi is part of busybox. I wonder whether there is a more suitable executable for this test.

[2019-06-02 23:28] wfurt commented on #38114
we can update images and use "vim" instead.
However I think it would be nice to understand what is going on. I don't know if we need interactive program for this test or not. Maybe as next step, we should try to reproduce it locally with identical container.

One more note that the characters in log looks like ANSI escaper sequences. We may use TERM=dumb to avoid it.

[2019-06-03 00:31] stephentoub commented on #38148
What do you mean?  `ReadOnlySequence<T>` is a struct.

[2019-06-03 01:42] weitzhandler commented on #10752
@karelz thank you for laying out all points so nicely and precisely.

I was aware to that WPF issue long ago, because [I posted](https://stackoverflow.com/a/45364074/75500) an implementation for it on SO that people complained about when using in WPF, some with ability to fix down, but when we discussed the issue here no one was talking about WPF in .NET Core.
BTW, my implementation also takes adv

[2019-06-03 01:49] onovotny commented on #10752
If that was the case, I'd agree. Unfortunately, I believe that it's a common pattern that people added an `AddRange` extension method that did this functionality. I know I did, and it's the logical method name to use. With this change, that method isn't used. It'll compile just fine but then lead to a runtime exception later -- which in some ways is worse than if it just failed to compile. If that

[2019-06-03 01:55] weitzhandler commented on #10752
Totally agree. So it's only the new-coming WPF apps who are gonna suffer then, right?
Can we issue a warning on the range methods that they're not yet ready to be used with WPF apps?
Alternatively, we can implement a 'hack' in the WPF code that instead of throwing that exception, inserts the range items one by one, can we?

[2019-06-03 01:55] ahoefling commented on #10752
@karelz thanks for the detailed explanation, it is much appreciated! Is there a deadline we could agree to as a hard-stop when we would need to get a Pull Request submitted to fix this problem with WPF? If we as a community are going to research this and try to hunt down the problem a **hard-stop date** will be helpful so we can prioritize our time.

@onovotny do you think you have time to show us

[2019-06-03 01:59] weitzhandler commented on #10752
BTW, @ahoefling, thanks for your PR!
Would you mind taking a look at [my implementation](https://stackoverflow.com/a/45364074/75500) and see if it makes sense? It avoids replacing same item, so that the UI doesn't refresh for them. I did that because I had an `ObservableCollection` with 15k items that made the UI laggy.

[2019-06-03 02:03] weitzhandler commented on #10752
BTW, @ahoefling, thanks for your PR!
Would you mind taking a look at [my implementation](https://github.com/dotnet/corefx/compare/master...weitzhandler:observable-range-collection) and see if it makes sense? It avoids replacing same item, so that the UI doesn't refresh for them. I did that because I had an `ObservableCollection` with 15k items that made the UI laggy.

[2019-06-03 02:06] weitzhandler commented on #10752
I actually had pull-request #26482 that was rejected because I introduced another method if I remember correctly. Then the team decided to move it all into CoreCLR which is where I gave up 😢
But I'd be happy if some of my code or its ideas (for instance those clusters) would be incorporated in the .NET.

[2019-06-03 02:08] weitzhandler commented on #10752
Yep lol, been a while. It's [right here](https://github.com/dotnet/corefx/issues/10752#issuecomment-359197102) above.

[2019-06-03 02:09] ahoefling commented on #10752
@weitzhandler I remember seeing your attempt and I remember looking at it when I was working on my PR. I need to review my code and your code to see the differences and refresh my memory on the implementations.

[2019-06-03 02:09] onovotny commented on #10752
No, because it changes the method binding. Instead of binding to the extension method, it'll silently use the version in `Collection<T>`.

It's pretty simple: any place there's an `AddRange` on an ObservableCollection in the codebase, there's a potential issue due to binding:

Here's the first one I noticed, but there are many others in use in the various editors.
https://github.com/NuGetPackageEx

[2019-06-03 02:13] weitzhandler commented on #10752
You're right.

AFAIR when digging after the WPF exception, it's thrown in a single spot and shouldn't be hard to fix, worst case we port back all range-updates into single UI calls (silly but less work).

[2019-06-03 02:13] #35499 closed

[2019-06-03 02:14] onovotny commented on #10752
The unknown question is what else is making assumptions on that behavior? Is it just that `ListCollectionView` or are there other things that'll break? Hard problem.

[2019-06-03 02:15] robertmclaws commented on #10752
I wonder if we could build a Roslyn Analyzer to catch extension methods on ObservableCollection so you get a design-time error instead of a runtime one.

[2019-06-03 02:15] weitzhandler commented on #10752
Guys if we're back here again, how about we discuss those APIs again? They're very important because they avoid refreshing the UI with new items, hence vastly improving UX.

You're prob right, but all those exceptions are backed with tests.

[2019-06-03 02:15] robertmclaws commented on #10752
Dear Jesus, no. We were at the finish like. Let's just fix the problem and move on, not overcomplicate it worse.

[2019-06-03 02:17] onovotny commented on #10752
Not trying to over-complicate, just manage risk.

[2019-06-03 02:17] weitzhandler commented on #10752
Ok ok ok...

[2019-06-03 02:18] ahoefling commented on #10752
I agree with @robertmclaws we are so close to shipping this feature 🚀 🚀 🚀

[2019-06-03 02:20] weitzhandler commented on #10752
@ahoefling

Me too. But it looked like it might net get into 3.0 anyway

[2019-06-03 02:21] weitzhandler commented on #10752
Ok delete it.

[2019-06-03 02:29] stephentoub commented on #17452
@terrajobst, I'm assuming this can be bumped out of 3.0?

[2019-06-03 02:33] ahoefling commented on #10752
@onovotny I appreciate your concern as anything we do now will have long term consequences (good or bad). I am going to try and dig through this to better understand the problem to see if we can come up with something that is acceptable.

[2019-06-03 02:33] buyaa-n opened #38154 "New modifier with different type is not hiding base property"
New modifier with different type is not hiding base property, throwing `System.InvalidOperationException: The JSON property name for 'System.Text.Json.Serialization.Tests.FooBar1.foo' collides with another property.`
It is workign as expected when base derived property types are same.
This issue is edge case, with very low priority.
[code]

[2019-06-03 02:35] robertmclaws commented on #10752
OK, so I looked at the code that was throwing the error, and it just seems like the `ListCollectionView` is operating off the assumption I mentioned earlier where you can only ever do one item at a time in an event. It seems like most of the code in `ValidateCollectionChangedEventArgs` is no longer necessary.

Wouldn't the solution be:
1) Remove any code that throws `SRID.RangeActionsNotSupported`

[2019-06-03 02:49] danmosemsft commented on #10752
We just snapped Preview 6 for release in a week or so. Preview 7 is in a month, but that will be the first preview widely supported : we cannot make (or at least can't plan to make) breaking changes after that. If we put this back in Preview 7 then discovered it caused to much pain to keep, we would have to make such a breaking change.

[2019-06-03 02:51] ahoefling commented on #10752
@danmosemsft If I am understanding you it sounds like there may be too much risk to try and include this in Preview 7 or is there still a chance?

[2019-06-03 03:00] ahoefling commented on #10752
To help everyone out here is the snippet in question that @robertmclaws referenced:

[code]

After reviewing this code it makes sense to me that the root cause has to deal with this function throwing `SRID.RangeActionNotSupported` Exceptions. If we remove that code it should resolve the problem.

As a way to be proactive about other platforms in .NET Core that may be affected by this change maybe

[2019-06-03 03:03] onovotny commented on #10752
That validation was presumably there for a reason. Do we know why? Just removing the exception doesn't necessarily mean things will work as expected.

[2019-06-03 03:07] robertmclaws commented on #10752
I would assume because of the broken API elements I mentioned earlier. I'm not suggesting that we "just remove the exceptions", we would need to write new unit tests that cover range methods and those events. Then we'd need to pull the potential fixes into an app or two (like NPE) and see if they behave as expected.

[2019-06-03 05:31] karelz commented on #10752
I personally do not believe that any amount of XML docs would truly help. First, you would need time-machine and go back 20 years and backfill everything (not realistic) and second, I have near-zero trust in developers, that they would update the docs as we would progress in future and the code and paradigm would change.
Just being very practical here.
Adding XML docs is good idea, but it is not s

[2019-06-03 05:50] karelz commented on #10752
@robertmclaws

I don't fully understand your statement/point here. Can you please rephrase it / clarify for me?

My key viewpoint is: App migration to .NET Core matters A LOT. To the point that if we have to break apps in a way that is not super-easy to detect upfront, I would not support taking the change in ANY future release of .NET Core (at least given current knowledge from this thread which

[2019-06-03 05:59] karelz commented on #1973
There is no consensus -- mainly BCL team (incl. Collection area owners) does not agree that latest proposal https://github.com/dotnet/corefx/issues/1973#issuecomment-420840406 brings value justifying the complexity and overhead of the interface.
To my knowledge noone is willing to sponsor this API for API review in current shape and value proposition. Which is a must-have for API proposals.

I'd b

[2019-06-03 06:03] karelz commented on #17452
@bartonjs @joperezr as area owners - do you agree? (I do)

[2019-06-03 06:11] weitzhandler commented on #10752
@karelz
I totally understand your concern.
Do you think it would be enough relying on the WPF tests + additional tests in the WPF repo to verify range handling, and maybe one or two of OS WPF showcase apps tested against this change, and have this in 3.0?

[2019-06-03 06:21] karelz commented on #10752
@weitzhandler depends on solution, but keep in mind that WPF tests did NOT flag current problem (as it requires app using common extension), so it his hard to claim it is sufficient test coverage for this case ...

[2019-06-03 06:24] gfoidl commented on #37816
👍

I see the term "root cause" well defined, and have the same view as @jkotas (so inner most exception = root cause).

[2019-06-03 06:25] weitzhandler commented on #10752
I'm not familiar with the WPF testing architecture, but I'm sure it has UI tests that we can add collection-range testing to.

[2019-06-03 06:32] AriNuer opened #38156 "Test failure: System.IO.Pipelines.Tests.ReadAsyncCancellationTests/FlushAsyncCancellationDeadlock"
Test `System.IO.Pipelines.Tests.ReadAsyncCancellationTests/FlushAsyncCancellationDeadlock `has filed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190602.20](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190602.20)(Master)

Failing configurations:

- Ubuntu.1804.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#

[2019-06-03 06:54] tmds commented on #38114
`vi` on alpine exits shortly after starting when stdin is not a terminal.

Looking at what the test does (and ProcessStart_OpenFileOnLinux_UsesSpecifiedProgramUsingArgumentList), this test could use the `sleep` command instead.

[2019-06-03 07:25] pan-theis commented on #37747
Hello @davidsh,

I'm in an enterprise environment, my .NET Core CLI client uses HttpClient to send a POST request to the middle tier server, which requests another resource. The complete setup is more complex and I don't have all the information about the infrastructure at the moment.

I tried multiple versions.

2.0: **works**
2.1: **does not work**
2.2: **does not work**
3.0.0-preview5-27626-15

[2019-06-03 07:54] JonPSmith commented on #33115
Thanks @phillip-haydon and @TsengSR for your thoughts. I was asking if these features would be supported and you says that aren't, which understand and accept. I will continue to use Json.NET for the case where I need to serializing/deserializing EF Core classes.

BTW. I do have a valid reason for serializing/deserializing DDD-styles EF Core entity classes. I have a library that contains a feature

[2019-06-03 08:43] stevenruizhang opened #38157 "add additional library gss-ntlmssp in .netcore 2.1"
I create one .net core 2.1 project and can run will in my local windows os. But when i follow the AWS toolkit for VS tool to push that in AWS lambda it will throw below issue. I check this is regarding NTLM auth does not work by default on Unix issue, so any library can resolve that issue and include in .net core project directly , i try gss-ntlmssp but it must be run in pt-get -y install and hard

[2019-06-03 08:48] bsagal commented on #38148
What i meant to say is the slice method will need to be called multiple times, causing unnecessary calculations internally of the index and segment

[2019-06-03 09:57] tmds commented on #34221
I've read through the issue. Once the enum is there, it's `Undefined` value can later be split into more specific values (the user should add a `catch IOException`, and not check `Undefined`). Other values can not be split, because that will break existing code.

The added-value of the enum is to be able to handle certain specific values (Exists being the one requested in the issue). Programs won'

[2019-06-03 09:59] tmds commented on #37907
I'm seeing this issue also.

[2019-06-03 10:09] wexman commented on #35691
Thanks for getting back to this. I guess that should work (didn't try it yet!), I'm using a similar technique now to work around that.
However, my concern was mainly the inconsistency in behavior, not the lack of a wordaround...

[2019-06-03 13:08] YohDeadfall opened #38163 "JsonSerializer should support private setters as an opt-in feature"
There is a limitation in `JsonSerializer` which doesn't allow to use private setters while other serializers have that feature. The proposal is to add a property to specify should private setters be uses or not.

The motivation of doing this is immutable objects which can't be deserialized for now. As a workaround the user should write it's own value converter which isn't trivial in case of a comp

[2019-06-03 13:24] stephentoub opened #38164 "System.Runtime.Numerics.Tests seg fault in CI on macOS"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38160~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190603.9/workItem/System.Runtime.Numerics.Tests/wilogs
[code]
cc: @tannergooding, @bartonjs

[2019-06-03 13:32] GSPP commented on #38087
I find this to be an egregious layering violation and a .NET 1.0 mistake.

[2019-06-03 13:37] stephentoub opened #38165 "RegexCultureTests.TurkishI_Is_Differently_LowerUpperCased_In_Turkish_Culture failed in CI"
[code]

[2019-06-03 13:47] davidsh commented on #37747
So, on the first machine (client machine), you're using .NET Core and HttpClient?  What is being used on the middle tier server that requests the resource from the third server?  Is it also .NET Core and HttpClient or something else?

[2019-06-03 14:08] stephentoub opened #38168 "SocketsHttpHandlerTest_Http2.GoAwayFrame_AbortAllPendingStreams_StreamFailWithExpectedException hung in CI on Fedora"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38162~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190603.12/workItem/System.Net.Http.Functional.Tests/wilogs
[code]

[2019-06-03 14:09] #30162 closed

[2019-06-03 14:19] stephentoub opened #38169 "ProcessTests.ProcessNameMatchesScriptName failed in CI on Debian"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38133~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190603.3/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FProcessNameMatchesScriptName
[code]

Looks like another case of the process name getting truncated to 15 characters.
cc: @tmds

[2019-06-03 14:20] stephentoub commented on #38169
Ah, this is a dup of https://github.com/dotnet/corefx/issues/37739, and the test was disabled for RedHat 6, but this repro was on Debian.
cc: @ViktorHofer

[2019-06-03 14:20] #38169 closed

[2019-06-03 14:21] stephentoub commented on #37739
This also just failed on Debian here. Details here:
https://github.com/dotnet/corefx/issues/38169

[2019-06-03 14:21] MarcoRossignoli commented on #37882
I'm taking a look at this...I don't understand why `-01` it's not a valid json.
Number 01 is invalid for leading 0.
RFC:
[code]

[2019-06-03 14:27] MarcoRossignoli commented on #38066
@stephentoub PR ready https://github.com/dotnet/corefx/pull/38096

[2019-06-03 14:38] stephentoub commented on #38156
cc: @davidfowl

[2019-06-03 14:46] Martin-Stein opened #38171 "Microsoft.data.sqlclient fails to connect to local server"
Hi there,

Microsoft.data.sqlclient (1.0.19128.1-Preview) fails to connect to local server, connections to remote SQL-Servers are working. It also fails with System.data.sqlclient(latest version, and all version before :-( )
Find attached the related error message.

Kind regards,

Martin Stein

![2019-06-03 16_45_25-_WinDev1903Eval_ auf _DESKTOP-7QAG33J_ - Verbindung mit virtuellen Computern](http

[2019-06-03 14:50] Martin-Stein commented on #38171
I have forgot something to mention.
This error only happens to Apps released and installed thru the MS-Appstore!
When run the App from my developer PC it works fine!

Martin

[2019-06-03 14:55] stephentoub commented on #38171
I believe this issue should actually be in the https://github.com/dotnet/SqlClient repo.  Thanks.

[2019-06-03 15:05] karelz commented on #10752
Just to reiterate: It is the test bed that did NOT discover the problem in the first place. While we can boost it up, the coverage of the scenario will be only what we will add, i.e. skewed by our understanding and minimal. The key will be to come up with good test plan to discover potential downsides of the solution we are going to propose. Ideally some exploratory testing.

[2019-06-03 15:12] ChaseFlorell commented on #10752
Shouldn't the priority here to be to finally make it right? I find it kind of odd that this conversation is directed at supporting folks who had to wire up their own extensions in order to make the API work correctly in the first place. Now that we have a working structure, those folks extensions are inevitably being deprecated.

This seems like an instance of the Needs of the Many Outweigh the Ne

[2019-06-03 15:13] stevenruizhang commented on #28961
@davidsh , I create one .net core 2.1 project and can run will in my local windows OS. But when i follow the AWS toolkit for VS tool to push that in AWS lambda it will throw GSSAPI issue. I check this is regarding NTLM auth does not work by default on Unix issue, I setup Ubuntu 14.04 VM local and run apt-get -y install gss-ntlmssp, also add AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandl

[2019-06-03 15:14] stevenruizhang opened #38173 "NTLM not working on Linux"
@davidsh , I create one .net core 2.1 project and can run will in my local windows OS. But when i follow the AWS toolkit for VS tool to push that in AWS lambda it will throw GSSAPI issue. I check this is regarding NTLM auth does not work by default on Unix issue, I setup Ubuntu 16.04 VM local and run apt-get -y install gss-ntlmssp, also add AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandl

[2019-06-03 15:14] tmds commented on #37118
Those are not included (currently). Adding them to `UdpClient` is mostly for convenience. You can use the `CancellationToken` overloads via the `UdpClient.Client` (which gives you the `Socket`).

[2019-06-03 15:22] stephentoub opened #38174 "IPGlobalProperties_TcpActiveConnections_Succeed failed on RedHat 6 in CI"
[code]

[2019-06-03 15:25] #31570 closed

[2019-06-03 15:25] bartonjs commented on #29294
Even if the disk/drive as a whole is fine, it may be that the CNG key directories are having issues (https://docs.microsoft.com/en-us/windows/desktop/seccng/key-storage-and-retrieval#key-directories-and-files).

The most likely culprit being `%APPDATA%\Microsoft\Crypto\Keys` for the user the test runs as.

[2019-06-03 15:26] rainersigwald commented on #37907
Interesting. We emit that message just before we spawn a child process to act as a worker node. That explains why your build is slow: it became single-threaded, and is slow even relative to that, since it's also looping trying to create child processes.

However, looking at the code in question:

https://github.com/microsoft/msbuild/blob/c70d6ded175c0a7da632018b856daff9f9cd392e/src/Build/BackEnd/C

[2019-06-03 15:27] SamuelEnglard commented on #10752
@ChaseFlorell One must remember an extremely important policy of .NET (and many other Microsoft products): Do not break existing products, even with major release. This has been in place for years and will continue to be.

[2019-06-03 15:28] bartonjs commented on #17452
By the power vested in me by an at-mention and the permissions model, I've moved the issue to Future.  If anyone was prepared to do late-feature justification paperwork they can always move it back.

[2019-06-03 15:30] davidfowl commented on #38156
@pakrym Did you write this test, it looks suspect.

[2019-06-03 15:30] ChaseFlorell commented on #10752
@SamuelEnglard but unless I'm missing something, we're **not** breaking any existing products, we're  _potentially_ breaking other developers workarounds to existing deficiencies.

[2019-06-03 15:36] ViktorHofer commented on #29294
What's your recommendation? Move all tests to Outerloop for that one configuration? Or could there be a way to diagnose the health of the machine?

[2019-06-03 15:36] robertmclaws commented on #10752
@karelz Do you have like 15 minutes at some point in the next couple days to chat briefly on Teams? I think we could get on the same page real quick with a face-to-face discussion.

[2019-06-03 15:36] David-Engel commented on #27989
@divega I'd move it to SqlClient. We can add the label for porting to corefx if we think it's worth fixing here, too.

[2019-06-03 15:38] David-Engel commented on #27858
@divega Yes. Same as the others. We can add the port label and port back here as appropriate.

[2019-06-03 15:41] karelz commented on #10752
@ChaseFlorell existing apps / assets = existing customers = existing products.

[2019-06-03 15:42] karelz commented on #10752
@robertmclaws sure, ping on me gitter, Twitter, Skype or email - see my GH profile for links to the info.

[2019-06-03 15:49] bartonjs commented on #29294
It would literally mean every crypto test and every System.Net.Security test.  So, I don't think that would be a good strategy (particularly if the problem is environmental).

I'm open to suggestion.  Adding a cctor which prints the size on disk remaining and number of files in `%APPDATA%\Microsoft\Crypto\Keys` until we get a hit is maybe reasonable, but since we've seen it from at least three dif

[2019-06-03 15:55] tmds commented on #37907
@rainersigwald an observation: if I close vscode, I get much more dotnet processes and my corefx build becomes faster.

[2019-06-03 15:56] pakrym commented on #38156
I did, this is the first time I see it fail. Maybe the timeout in Wait is to low.

[2019-06-03 16:06] ericstj opened #38176 "System.Runtime.Tests timing out on Arm64"
Recently I've been seeing the System.Runtime.Tests on Arm64 fail with timeout:
[code]
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38167~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190603.16/workItem/System.Runtime.Tests/wilogs

We should investigate whether this is a hang or just too much work in a single test assembly.  If the former: fix it, if the latter: part

[2019-06-03 16:11] ViktorHofer commented on #38176
I pinged @MattGal offline to find that out.

cc @stephentoub

[2019-06-03 16:16] daniefer opened #38177 "*OrDefault methods not returning correct Nullable Reference Type information"
**Issue Type:** Defect

Currently the .NET Core 3.0 Preview does not handle Nullable Reference Types correctly on methods that return a default value. For example:
[code]

### Desired output:
`*OrDefault` extensions should return Nullable types. Using the example above, the following line should show a compiler warning
[code]

### Environment:

Using Visual Studio 2019 Preview 1:
[code]
Using .NET

[2019-06-03 16:36] stephentoub commented on #38177
None of the APIs in corefx have been annotated yet. Only APIs exposed from a few of the reference assemblies (e.g. System.Runtime) will be annotated when 3.0 ships. System.Linq will be annotated post-3.0. Thanks.

[2019-06-03 16:36] #38177 closed

[2019-06-03 16:37] rainersigwald commented on #37907
[code]

Seems to complete just fine for me on fully updated Ubuntu 18.04 + f6aed7b17. Nothing untoward in the logs

Interesting. I'm sshed into this machine with only a single login, so that might be an interesting difference. Can you share the communcation logs from the scenario where vscode is open?

[2019-06-03 16:40] ericstj commented on #34963
This isn't a requirement for the infra for 3.0 and will only introduce more risk.  Projects can compile against netstandard2.1 in corefx today.  We'll decide what we want to do here for v.Next as well as how that plays into config system changes.

[2019-06-03 16:42] maryamariyan opened #38178 "Issue with upaired surrogate conversion to utf16"
Destination too small for unpaired surrogate when converting to utf16

Two tests marked as active issue. More details here:
https://github.com/dotnet/corefx/pull/37911#issuecomment-497963969

[2019-06-03 16:42] daniefer commented on #38177
Is there a timeline I can follow that shows when Linq and other assemblies will be annotated? Is this something I could submit a PR for to get it in sooner?

[2019-06-03 17:06] tannergooding commented on #33997
This could also be resolved by special-casing those values in .NET Standard and I would strongly push as the preference if we said that the behavior has to match. However, we are also already in a world where Full Framework vs .NET Core and even older .NET Core vs new .NET Core can and will have different behaviors. We also have a large number of cases where the old logic simply won't roundtrip so

[2019-06-03 17:06] SamuelEnglard commented on #10752
@ChaseFlorell I should have been clearer:

Do not beak existing products, applications, or code; whether the product, application, or code belongs to Microsoft or not.

Those workarounds are in products, products that are used by people now. And it's not potentially, as the reason this was reopened in the first place was an example of it not working for a developer.

[2019-06-03 17:18] yujayee commented on #35691
Glad to hear you've already found a workaround for this issue. The inconsistency behavior is by design, as I said it is caused by the code generation fallback on .NET Framework.
I'm closing this issue. But feel free to comment or reopen it if you have more questions.

[2019-06-03 17:27] vcsjones commented on #37907
For what it's worth I still have the issue with no VSCode open or anything else going on in the box. If I restart the box then run that command, it reproduces for me.

@tmds Does the error go away for you if you lock to a single core? `taskset -a 1 ./build.sh`?

[2019-06-03 17:31] stephentoub commented on #38177
Some time after the 3.0 release, almost certainly for the next significant release after that (e.g. not servicing).  We won't be able to take a PR for 3.0.  The compiler isn't ready yet.  Libraries System.Linq depends on aren't ready yet.  Enabling annotations means we need to review all APIs to validate that they're correctly annotated (not just the ones that are touched).  Etc.  But thank you fo

[2019-06-03 17:36] ChaseFlorell commented on #10752
But honestly this is a net new method. How can MS possibly account for every extension method ever conceived in history? Sure it's in products that are used, but their extension methods are within their code base that they have control over.

[2019-06-03 17:37] tannergooding commented on #25334
Thanks for the feedback @varon. I definitely want to see this get done, we just didn't have enough resources to do it for 3.0.

Once we start reviewing issues for .NET 5, I'll be sure to try and push this through API review again (we previously determined it requires a dedicated review session) and then, once approved, work can begin on the API.

[2019-06-03 17:56] davidsh commented on #38173
The NTLM bug you reference in #28961 was fixed in .NET Core 3.0.  It is not fixed in .NET Core 2.1.

Please try out .NET Core 3.0 latest Preview:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-5/

If you are still having problems, please update this issue and include the code sample that you are using.  From the screenshot above, it appears you are using WebRequest.  But it

[2019-06-03 17:56] danmosemsft commented on #10752
Normally we consider breaking hypothetical extension methods to be an acceptable breaking change, at least in a major version. The concern is whether this is going to affect enough people that it's not.

[2019-06-03 17:57] davidsh commented on #38173
Also, do not use this code in your application:

[code]

It will not help.  The NTLM fixes require the new SocketsHttpHandler.  So, you shouldn't be turning it off with that app context switch.

[2019-06-03 18:01] ChaseFlorell commented on #10752
Right, and reasonable. So what is the threshold for this? Also, is there another avenue to a solution without reverting the code? I feel as though I'm in the same boat whereby we've got a custom `ObservableRangeCollection<T>` in our source, the idea here is to actually be able to delete it in favor of the code @ahoefling contributed... ie: we _want_ to stop supporting our own custom implementation

[2019-06-03 18:07] davidsh commented on #38157
.NET Core requires Linux machines to have the gss-ntlmssp package installed on the Linux machine in order for NTLM authentication to work.  .NET Core does not bundle Linux packages with its setup.  It is assumed that Linux machines will have the proper setup before .NET Core is installed and used.

AWS lambda Linux VMs probably don't have the required package installed on their VMs.  I am not sure

[2019-06-03 18:19] MarcoRossignoli commented on #37739
again here https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38133~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190603.3/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FProcessNameMatchesScriptName

[2019-06-03 18:22] steveharter commented on #38087
I'd like to see reflection be "policy free" as much as reasonable, so inferring "nullability" from NullableAttribute and\or Nullable<> seems like it should be a higher-level API than reflection. Or at least until the implementation and adoption has proven to be stable.

[2019-06-03 18:30] scalablecory commented on #38148
Why are you calling `Slice` twice? Does this do what you want?

[code]

[2019-06-03 18:34] #38165 closed

[2019-06-03 18:50] tmds commented on #37739
Interesting, 2 Debian fails in such a short time, and none in the weeks before.

[2019-06-03 18:56] MarcoRossignoli commented on #37739
btw I've seen similar behaviour on windows fixing same issue https://github.com/dotnet/corefx/issues/35783

[2019-06-03 19:33] rainersigwald commented on #37907
I currently think @vcsjones and @tmds are seeing separate problems.

@vcsjones let's try to scope down the repro. Can you copy this into a file named `test.proj`

[code]

and run `.dotnet/dotnet build test.proj` to build it using the private CLI that corefx downloads and uses? Please run that under the logging environment like you did before and upload those logs (and the console output).

That's

[2019-06-03 19:36] omariom commented on #10752
Let's ask @vatsan-madhavan about that

[2019-06-03 19:37] benaadams commented on #10752
Replacing them with something that fails seems something to avoid

[2019-06-03 19:48] wfurt commented on #37516
do you have any updates @aseduto ?

[2019-06-03 19:49] tmds commented on #37907
For the simple project, without vscode running I get:
[code]
log:
[code]
With vscode running:
[code]
log:
[code]

[2019-06-03 19:55] danmosemsft commented on #37907
With VSCode running, I'm guessing it makes MSBuild child processes. What copy of microsoft.build.dll do they load - does it have a commit SHA in it I wonder? Also, without VSCode running, what copy of microsoft.build.dll does that load. My guess (but go with what @rainersigwald says) is that the parent and child are using incompatibly different microsoft.build.dll's. The handshake is supposed to p

[2019-06-03 19:56] robertmclaws commented on #10752
@benaadams The replacement didn't fail. What failed was that a WPF control coded in *throwing exceptions* when a broken API gained the functionality it originally intended. The Observable's EventArgs were a bad design, and the WPF control was a bad design. We fixed the first, now we have to a) fix the second, and b) find out what else might be broken, c) build a tool that can help developers porti

[2019-06-03 20:00] terrajobst commented on #10752
Here is how I feel about this:

* **This is an acceptable breaking change**. It's clearly valuable and completely sensible to support this in UI. It's likely that we can't always support it in the most efficient way, but a the very minim the receiver can always treat is as individual events or as a reset.

* **The product needs to self-consistent**. Even for acceptable breaking changes, we can't s

[2019-06-03 20:02] vatsan-madhavan commented on #10752
/cc @rladuca, @grubioe

[2019-06-03 20:07] MattGal commented on #29294
@bartonjs  / @ViktorHofer Unfortunately the machine(s) that ran your tests have long since been recycled, but I am very skeptical of the "disk full" theory going on here.  The Windows 8.1 VMs get created with 100+ GB free disk space on the C:\ drive where %APPDATA% is located, and Helix VMs refuse to take work if there's less than 3 GB available on this disk.

Have you actually run this on a Windo

[2019-06-03 20:14] bartonjs commented on #29294
@MattGal Yep, my main workstation is 2K12R2.  I've never seen NTE_INTERNAL_ERROR on it.

[2019-06-03 20:17] MattGal commented on #38176
To make the same comment as on the other thread, some tests use too many resources to be run in 46-threads-at-once mode without major slowdown or resource contention.

[2019-06-03 20:21] sebastienros commented on #37691
@billwert For the DataUpdate scenario this was terrible when used with Npgsql and Dapper, which I assume is very common. We'll see how much of an issue this was for the other scenarios when the fix is in. And also how much is this change fixed the DataUpdates scenario. As an example, ADO.NET is 10 times faster than Dapper on this scenario. I would expect a difference of 10% instead.

[2019-06-03 20:22] robertmclaws commented on #10752
@terrajobst Thank you SO MUCH for that link to the references in WPF. I'm going to put together a triage list and see what might be affected.

[2019-06-03 20:23] robertmclaws commented on #10752
PLACEHOLDER FOR TRIAGE LIST

[2019-06-03 20:24] wfurt commented on #37907
the question is if the test project is build from VSCode of that is different process group. If it is the second, it should not have functional impact like it does, right?

[2019-06-03 20:27] MattGal commented on #29294
@bartonjs good to hear it works on your box :)  I'm standing up a machine to investigate and will share a repro if I get you one.

[2019-06-03 20:29] stephentoub opened #38180 "PerformanceCounter_NextValue_ProcessorCounter failed in CI"
[code]

[2019-06-03 20:33] danmosemsft commented on #10752
I agree.

[2019-06-03 20:53] rainersigwald commented on #37907
Ok, maybe it's _not_ a distinct issue!

@danmosemsft I don't _think_ it's that, because we're not even seeing the "attempting to connect to PID xxx" log string.

Can someone seeing this problem run this tiny program that enumerates processes like MSBuild does?

[code]

MSBuild enumerates processes to attempt to find preexisting idle worker nodes. That may be going wrong here (though _how_ is not c

[2019-06-03 20:57] vcsjones commented on #37907
OK, I might be seeing what @tmds is. Here's what I did.

1. I ran the small .proj file. I got the same error from the initial report. I did not have VSCode open.
1. I _restarted_ my computer. Without opening anything else, I hopped in the Terminal and ran the build. It built without errors!
1. I opened VSCode.
1. Ran the exact same command and immediately started getting errors. I closed VSCode, a

[2019-06-03 20:59] MattGal commented on #29294
@bartonjs no repro, I'm letting it loop a few hundred times on a machine with the same image to check it out.   I also checked the execution history of a00007K  and noted only 40 other work items ran before it (none of which, in a spot check,  logged  "now ruining certs on the machine", though they could be at fault) ... this would indicate the odds of the disk being full when that happeend are cl

[2019-06-03 21:00] vcsjones commented on #37907
The interesting thing for me is I was able to reproduce it with VS Code closed - I assume some of the nodes that are being problematic needed to idle out? It's clearly tied to VS Code for me, somehow.

[2019-06-03 21:03] vcsjones commented on #37907
@rainersigwald

When I have VS Code closed:

[code]

and when I have it open (and the small project is failing to build):

[code]

[2019-06-03 21:09] JeremyKuhne commented on #37707
This should be in https://github.com/aspnet/Extensions. @karelz do you have write access to transfer this or know who does?

`Microsoft.Extensions.FileProviders.Physical.PhysicalFilesWatcher.OnFileSystemEntryChange` should be hardened for the reported call stack.

[2019-06-03 21:10] bartonjs commented on #35026
@ericstj I believe the position in March was that even though two different workstreams (WindowsDesktop.App and AspNetCore.App) need it we're sticking with "not required for .NET Standard or internal use by .NET Core, so it doesn't belong in NETCore.App".

If you haven't changed your feelings on that we can probably go ahead and close this issue.

[2019-06-03 21:11] JeremyKuhne commented on #37573
Need to validate this on 1903 to see if the behavior of delete has actually shipped.

[2019-06-03 21:16] joperezr commented on #30422
That is weird, I wonder how we missed this one if the target that made sure we cover all cases is also in release/2.1 branch where this package is built:

https://github.com/dotnet/corefx/blob/c6d9138def9be7c92f33a2f44897841142058a96/src/dir.targets#L22-L31

I would have expected that the first dry run we made to have caught this, that said, I'm not sure if I rebuilt all pkgprojs with the target,

[2019-06-03 21:16] ericstj commented on #35026
Definitely not for 3.0 at this point due to it requiring assembly-refactoring to avoid pulling in CAS.  Agree with close.

[2019-06-03 21:16] #35026 closed

[2019-06-03 21:20] ericstj commented on #30422
This doesn't violate the Exclude=Compile rule, it's just that it has a reference assembly which some desktop tools don't tolerate.

[2019-06-03 21:21] robertmclaws commented on #10752
Just had my call with @karelz. I want to talk briefly with Andrew before I report the results of that conversation on the rest of the thread.

[2019-06-03 21:24] JeremyKuhne commented on #36628
Sorry about the delayed response. I'm ok with moving to a shared lock.

[2019-06-03 21:28] MarcoRossignoli commented on #37729
@davidsh I think that the bug is [here](https://github.com/dotnet/corefx/blob/6acc044c36df2138d86620e2c27d3234c4fa0d3d/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs#L176) the `quality of protection` is always added, there is not check if requested throught `qop-options` directive.
I'll PR a fix

[2019-06-03 21:33] StephenCleary commented on #21570
I've used `select`/`poll`-style, both on UNIX and Windows. POSIX AIO was unfortunately just too awkward of an API coming too late to the ecosystem.

But as soon as I had the chance to use `OVERLAPPED`, I switched right to that. The programming concepts are much easier to deal with. Then moved to .NET, with an IOCP built-in and `Task` replacing `OVERLAPPED`, and it's even easier. And finally `async

[2019-06-03 21:34] karelz commented on #10752
Just to clarify: We have decided between architects, managers and PM on CoreFX team, that we WILL NOT take this issue for 3.0. We are fine to take it on the first day of .NET 5 in master (which should be in July ... likely mid-July if I read the tea-leaves right ... the dates are subject to change though).
I discussed it with @robertmclaws over Skype and we came to same consensus, given all restri

[2019-06-03 21:35] ViktorHofer commented on #29294
Thanks a lot for spending time on this. I will let you when it happens again.

[2019-06-03 21:40] rainersigwald commented on #37907
Thanks, folks! With a private of https://github.com/microsoft/msbuild/pull/4417, I get a better stack:

[code]

That looks like a corefx issue to me at first glance.

[2019-06-03 22:00] weitzhandler commented on #10752
OK, now that it's been confirmed (sadly), can we consider adding filtered replace to enable reusing items (good for UI performance, so those items don't have to be rendered again. Imagine a drop-down list or plenty of other scenarios I've used and encountered that this behavior of reusing items made it slick.

[Here](https://github.com/dotnet/corefx/issues/10752#issuecomment-359197102)'s my previo

[2019-06-03 22:05] rainersigwald commented on #37907
With VS Code 1.34.0 open, I get this exception from the program above (no MSBuild):

[code]

These processes are children of code:

[code]

I tried killing 5799 and 5662, and it still crashed. But closing code made it complete.

[2019-06-03 22:13] roji commented on #21570
Hey @StephenCleary!

It's true that I come from a Unix system programming background - that may explain why non-blocking (synchronous) I/O appeals to me. As opposed to asynchronous I/O, the model is extremely simple and a lot of complexity is obviated - no need to think which thread is going to run your callback, no complicated stacks to wade through and reconstruct program flow from, no issues wi

[2019-06-03 22:13] #21570 closed

[2019-06-03 22:17] joperezr commented on #38065
This package is built out of the release branch so it would need to be fixed there. The problem here was caused do to servicing the package since we needed to remove the reference assets out of it, but in order to do that we did rebuild the package after a different change went in that rev'ed the Unsafe assembly. I can fill up the release template and submit a PR with the fix.

[2019-06-03 22:19] vcsjones commented on #37907
Oh I misunderstood, I did not run that with corefx's own copy of msbuild. Doing that I get the same problem:

[code]

[2019-06-03 22:22] brianrob commented on #37691
@sebastienros do you have a trace that shows the overall cost of the slowdown on the scenario?  I'd like for us to prioritize this bug based on the potential benefit we'd get from a fix.

[2019-06-03 22:22] carlossanlop commented on #37707
This issue was moved to aspnet/Extensions#1782

[2019-06-03 22:23] #37707 closed

[2019-06-03 22:23] carlossanlop commented on #37707
This issue was moved to aspnet/Extensions#1783

[2019-06-03 22:30] sebastienros commented on #37691
@brianrob I pasted a screenshot of the best details I could get from the trace. I can show you the command line I used, maybe you would know how to get a better one, or get better data out of it.

[2019-06-03 22:31] tarekgh commented on #38149
@stephentoub it looks the second part of the method ```RunAsync()``` which is after the await, is executing in a method which doesn't have any Task associated with it. interesting enough, if you add any Task related call, the context and the scheduler will be restored:

[code]

any thing bill a ring here?

[2019-06-03 22:36] tarekgh commented on #37691
Just to tell, @jkotas mentioned important comment https://github.com/dotnet/coreclr/pull/24889#issuecomment-498057278 which most likely contributing to the delay in the multi-threading scenario.

[2019-06-03 22:55] natemcmaster commented on #34906
It appears there is no plan in 3.0 to address this, and no one seems overly concerned about the drawbacks I mentioned in the original issue description.

[2019-06-03 22:55] #34906 closed

[2019-06-03 23:04] StephenBonikowsky commented on #16755
Closing, the tests remain disabled and can be enabled if distributed transactions become supported in Core.

[2019-06-03 23:04] #16755 closed

[2019-06-03 23:05] StephenBonikowsky commented on #10353
Don't need this issue, tests can be uncommented if distributed transactions is ever supported in Core.

[2019-06-03 23:05] #10353 closed

[2019-06-03 23:15] StephenBonikowsky commented on #38181
@karelz
This issue belongs to WCF, I moved it from the WCF repo since the fix is over here and added the Serialization label.
We are actively working on it and should have it fixed in the 3.0 time frame, probably for Preview7.
Should we add it to the 3.0 milestone?

[2019-06-03 23:16] ericstj commented on #37907
This appears to be fixed with https://github.com/dotnet/corefx/commit/1b6f45ca261467baea62ef577f8b8a7c6cf3b96c#diff-eb6c3669a3203e9c82dfb79eb45a93e1R285. /cc @tmds @wtgodbe

If we pick up a new SDK with that fix in the shared runtime we should avoid this issue.

[2019-06-03 23:25] ahsonkhan commented on #33552
Nope, the issue can be closed. Any other future APIs/discussions can be tracked separately.

[2019-06-03 23:25] #33552 closed

[2019-06-03 23:32] ahsonkhan commented on #36974
Sounds good to me. Can you also establish a baseline by submitting writer (and serializer/deserializer) perf test related to base64 encoded byte arrays to dotnet/performance? We should check that in and then add the perf improvements.

Add something similar to these:
https://github.com/dotnet/performance/blob/021411d229876d5208bbce9983a284949f67a210/src/benchmarks/micro/corefx/System.Text.Json/Ser

[2019-06-03 23:34] robertmclaws commented on #10752
Well, this is disappointing... but I'm not going to suggest that Microsoft put on its' big-kid panties if I'm not willing to do it myself, so we move forward. :)

I spoke with Karel and Andrew, and we have the beginnings of a plan to tackle this properly in .NET 5... I will open a new issue soon and link back to it here when we're ready for a bigger discussion.

Regarding any API changes, I am goi

[2019-06-03 23:41] karelz commented on #38181
If it is critical for 3.0, then yes, set the milestone to 3.0.

[2019-06-03 23:41] ahsonkhan commented on #38043
Closing as fixed.

[2019-06-03 23:41] #38043 closed

[2019-06-03 23:43] danmosemsft commented on #37907
Nice job everyone helping root cause this. So the fix is already in Preview 6 then (plus the MSBuild change in next preview).

[2019-06-03 23:44] ericstj commented on #37907
yep. I want to use this to track an update to global.json so that we consume that update for our local CLI.

[2019-06-03 23:46] danmosemsft commented on #37907
Maybe `ArrayPool.Return` should just silently accept null, this pattern seems fairly common..

[2019-06-03 23:51] owlstead commented on #37748
Sorry, things taking too much time. I hope tomorrow or Wednesday.

[2019-06-03 23:53] ryanbrandenburg opened #38184 "HtmlEncoder.Encode overload does not correctly handle multi-character icons"
The following test fails against a preview6 nightly:

[code]
The "2" directly after the emoji gets truncated. If you add a second '2' after the first, it succeeds. Also of note is that the `Encode(string value)` overload does NOT seem to suffer from this problem.

I would assume that this would be true of other emojis and/or high unicode characters.

Originally reported in https://github.com/aspne

[2019-06-03 23:59] ericstj commented on #37907
@danmosemsft that makes me nervous.  Seems like someone might accidentally leak a rented array, which I believe would have happened here.  Maybe take that discussion to a new issue if you'd like folks to follow up.

[2019-06-04 00:05] bartonjs commented on #33278
@vcsjones Any progress / are you still looking at this one?  https://github.com/dotnet/corefx/issues/37595 seems pretty similar.

[2019-06-04 00:09] JeremyKuhne commented on #33603
I've validated the new deletion behavior is in Windows 10 1903. Filenames are immediately freed when delete is called. Closing as that gets rid of the underlying problem here.

[2019-06-04 00:09] #33603 closed

[2019-06-04 00:13] dlstucki commented on #29163
It would be great to expose the HttpResponseMessage, if present, in the resulting WebSocketException. I'd be interested in helping create a PR for this but the API would need to be determined.

Given this code which already has an HttpResponseMessage and throws the WebSocketException how should the response details be propagated in the Exception? A new property, `WebSocketException.HttpResponse`?

[2019-06-04 00:21] #37751 closed

[2019-06-04 00:27] terrajobst opened #38188 "AssemblyMetadataAttribute should be applicable to everything"
We added the `AssemblyMetadataAttribute` as a catch-all mechanism to apply key-value pairs of metadata. There is nothing to be gained by restricting this attribute to `AttributeTargets.Assembly`. I propose to remove that restriction:

[code]

[2019-06-04 00:30] ahsonkhan commented on #37882
If you look at the state machine (from json.org), you will see -01 is invalid:
![image](https://user-images.githubusercontent.com/6527137/58842900-18d47700-8625-11e9-9d90-782748f6a923.png)

From RFC - https://tools.ietf.org/html/rfc8259#section-6
[code]

As to the rationale behind why it was done this way within the JSON spec itself, I am not sure. Maybe to avoid potential ambiguous states.

[2019-06-04 00:54] weitzhandler commented on #10752
@robertmclaws ok. that makes sense.

[2019-06-04 00:57] vcsjones commented on #33278
@bartonjs I haven't made any significant progress. I was meant to get back in the swing of things but only a few hours ago have I managed to figure out why I could not build CoreFX for the past two weeks due to #37907 😅

I'll be looking at this very near term.

[2019-06-04 01:00] terrajobst commented on #10752
@robertmclaws

This a really well written and reflecting comment on what it means to work together to achieve more. This is truly remarkable and part of the reason why I love our OSS community so much. You all rock. You've all been incredibly patient with us. This API has been sitting there for a long time before we even looked at it.

@weitzhandler

Don't feel too bad. It's quite clear based on y

[2019-06-04 01:10] jcouv commented on #36222
The API shapes looks good to me. Tagging @AlekseyTs @cston FYI

The only thing I would add is the attribute targets. Here's what our compiler doc captures:
[code]

https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-reference-types.md#annotations

[2019-06-04 01:13] bgrainger opened #38191 "Can't get code coverage working with VS2019"
I'm interested in contributing tests to increase code coverage (for one or more of these issues: https://github.com/dotnet/corefx/labels/increase-code-coverage).

I've set up a Windows 10 development machine with VS2019 Preview, as per https://github.com/dotnet/corefx/wiki/Development-environment-setup-for-Windows.

In `src\System.Data.Common\tests` I can execute `dotnet msbuild /t:BuildAndTest /p

[2019-06-04 01:14] robertmclaws commented on #10752
@terrajobst Thanks man. I worked really hard on that post... I had hoped it wouldn't offend anyone. :)

@weitzhandler No need to be sorry man, I know you were helping, and I had a lot of personal stuff going on back then, so my head wasn't in the right place at the time. We've all learned valuable lessons in this process. At this point I just want to see this cross the finish line so that **all of

[2019-06-04 01:21] phi1ipp commented on #14745
Check this issue, they have some suggestions how to work it around https://github.com/dotnet/corefx/issues/23780 I agree, it's bit weird, that it behaves this way

[2019-06-04 01:49] bgrainger commented on #38191
The problem appears to be related to `set DOTNET_MULTILEVEL_LOOKUP=0` in RunTests.cmd.

With this present, the "It was not possible to find any installed dotnet SDKs" error message is displayed.

With that environment variable unset, `dotnet tool` instead prints an error message that `dotnet tool run` is not a known command. This appears to be because my dotnet program, `"C:\Code\dotnet\corefx\art

[2019-06-04 01:50] robertmclaws commented on #10752
@weitzhandler I definitely think that you should put a proposal together for your additional APIs. I just think it should wait. If you start on your proposal now in your own repo, then you can copy it to this repo after we get this API over the finish line. Just check out the Speclet format in the first post, should give you a great start. Happy to review it in your repo while you're working on it

[2019-06-04 01:53] #35610 closed

[2019-06-04 01:58] bgrainger commented on #38191
If install .NET Core SDK 3.0.100-preview5-011568, then run the individual commands from RunTests.cmd, without the environment variables, I can get a coverage report.

This unblocks me for testing coverage locally, but the original issue of the command in the documentation (`dotnet msbuild /p:Coverage=true`) not working is still a problem.

[2019-06-04 02:23] wfurt commented on #37044
BTW any chance @antonioortizpola that you can share core dump from time when it is failing? (it does not need to reach port exhaustion - we just need few sockets in half-closed state)
 It will be large and it can contain any  secrets or private data. But if we can work it out I think we would be able to sort this out.
If that not possible, we may be able to script dump file processing or I can gui

[2019-06-04 02:59] stevenruizhang commented on #38173
@davidsh , please see below steps , i want to firstly test in my local ubuntu if passed, then i can ask AWS team if u can install the gss-ntlmssp library in the lambda vm or they can use  .NET Core 3.0 latest Preview directly. see related issue https://github.com/dotnet/corefx/issues/38157
1) i use .net core 2.1 in VS 2017 to push the code, and that code can run well in my local
2) i remove the Ap

[2019-06-04 03:04] davidsh commented on #38173
.NET Core 3.0 still requires the gss-ntlmssp package to be installed in a Linux VM.

[2019-06-04 03:07] stevenruizhang commented on #38173
@davidsh could u answer the other questions below , thanks
a) how can i use .net core 2.1 run success in my local VM ubuntu , only to install the gss-ntlmssp library is enough any other library is needed? the credential set up above is fine?
b) if .net core 2.1 can not resolve this issue, we had to use .NET Core 3.0 latest Preview, no any library and code need to change when use for .NET Core 3.0,

[2019-06-04 03:17] #37573 closed

[2019-06-04 03:18] daveaglick opened #38192 "ReadOnlySpan<char> Replace extensions"
It would be useful to have `Replace()` methods for `ReadOnlySpan<char>` similar to the ones for `string`. This was briefly mentioned in #21395 but then [the `Replace` API was removed from the proposal](https://github.com/dotnet/corefx/issues/21395#issuecomment-359906138) for needing more work. As far as I can tell, it hasn't been revisited yet.

Here's my proposal to get things started:
[code]

I

[2019-06-04 03:49] davidsh commented on #38173
.NET Core 2.1 has bugs that are only fixed in .NET Core 3.0.  Specifically Negotiate protocol won't auto-fallback from kerberos to NTLM.  So your a) won't work.

b) is not true either.  You need to install gss-ntlmssp to use NTLM protocol even with .NET Core 3.0.

c) The issue is not related to linux version.

The basic requirements are:

* .NET Core 3.0.
* Install gss-ntlmssp package to the Linux

[2019-06-04 03:50] daveaglick commented on #38192
Feedback on Twitter seems to be that a `TryReplace` version should be provided as well (or instead). I’d amend the proposal to include...
[code]
...where `bufferSize` would always indicate the required number of char regardless of success (so a properly sized buffer could be allocated in a second pass on failure). This overload would not attempt to allocate a new buffer if the provided one is not

[2019-06-04 03:54] davidsh commented on #38173
Also, you cannot use "Default Credentials" on Linux with NTLM.  There is no such thing because there is no default identity on Linux.

So, code like this won't work on Linux with NTLM:

[code]

Using DefaultCredentials only work when a Linux VM is correctly configured and joined to a Kerberos realm or Windows Active Directory domain.  And you must pre-initialize the credential with a "kinit" comma

[2019-06-04 03:55] Eilon commented on #38188
Is `*Assembly*MetadataAttribute` the right name for something that targets members other than assemblies?

[2019-06-04 03:57] stephentoub commented on #38188
It is metadata stored in the assembly :)

[2019-06-04 03:57] davidsh commented on #38173
It sounds like your issue is actually the same as #35383.  And that requires .NET Core 3.0 as well as the gss-ntlmssp package to be installed.

[2019-06-04 03:58] Eilon commented on #38188
I'm also slightly not sure about having an attribute that's a generic "key/value bag" that can be applied to anything. I'm concerned that by enabling it to have broad usage it will get abused. For example, I envision "lazy" library authors writing code that uses this attribute to store their own metadata. Then users will start using. Then when the user uses two different libraries written by "lazy

[2019-06-04 03:59] davidsh commented on #38173
Please try out .NET Core 3.0 with your Linux VM and install the gss-ntlmssp package.  If you are still having trouble with Negotiate or NTLM authentication, then we can re-open this issue.

[2019-06-04 03:59] #38173 closed

[2019-06-04 04:00] Eilon commented on #38188
I'm curious about the concrete scenarios that led to this proposal.

One thing I might be more happy with is having an "abstract base class" for key/value bag attributes (with no abstract members) where all a library author needs to do is derive from it so that it has a unique name, thus avoiding collisions.

[2019-06-04 05:35] ahsonkhan commented on #38191
@ViktorHofer has been working on getting this issue resolved. Thanks for reporting it.

cc @ericstj

[2019-06-04 06:26] bluetianx opened #38194 "I have a problem with DataFlow"
# Problem describe:
my dataflow  not work after  a while, The whole dataflow is blocked when the block of fileExtract  donot handle any message. I try stop the dataflow by calling Complete() of startNode, I find that
Completion.Status of node of SaveFileToDB is WaitingForActivation.
        I donot know why , the Completion.Status of node of SaveFileToDB should is Faulted  ,if the node of fileExtr

[2019-06-04 06:37] AriNuer opened #38195 "Test failure: System.Text.RegularExpressions.Tests.RegexCultureTests/TurkishI_Is_Differently_LowerUpperCased_In_Turkish_Culture"
Test `System.Text.RegularExpressions.Tests.RegexCultureTests/TurkishI_Is_Differently_LowerUpperCased_In_Turkish_Culture ` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190603.59](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190603.59) (Master)

Failing configurations:

- Windows.10.Amd64.ClientRS5.Open-

[2019-06-04 06:53] tmds commented on #37907
In this case the null was pointing out a bug: not returning the proper rented array. So I'm also in favor of keeping this as an invalid value.

[2019-06-04 07:01] kevingosse commented on #38149
As I understand it, the continuation of `InternalRunAsync` is inlined because the thread is already using the desired synchronization context. If you replace `SetSynchronizationContext(this);` with `SetSynchronizationContext(new MySynchronizationContext(scheduler));` then it'll work as expected.

To be honest, I wasn't aware continuations could ever be inlined under a synchronization context.

In

[2019-06-04 07:34] tmds commented on #37907
:sweat_smile: regressed here: https://github.com/dotnet/corefx/commit/4214b09864bea0416f17727ffa39a55d950035d1 fixed here: https://github.com/dotnet/corefx/commit/1b6f45ca261467baea62ef577f8b8a7c6cf3b96c

Some more info on the relationship with vscode running: the issue occurs when there is a process with a command line that is long (`strlen(arg[0]) + strlen(arg[1]) + 2 > 512`).

[2019-06-04 07:49] stevenruizhang commented on #38173
i will try , thanks

[2019-06-04 07:53] ViktorHofer commented on #38195
@stephentoub seems your change was not enough.

[2019-06-04 07:54] ViktorHofer commented on #38191
The fix for this is in arcade now and will be consumable in corefx with the next auto update.

[2019-06-04 08:29] MarcoRossignoli commented on #37882
@ahsonkhan this is labeled future, does it make sense work on it or better pick-up 3.0 milestone?

[2019-06-04 08:36] charlesroddie commented on #2315
32 bit per channel is too much space. The idea of having ranges exceding 0. to 1. goes along with specific encodings and color spaces (e.g. scRGB). Doesn't make sense with more standard color profiles.

[2019-06-04 08:41] bsagal commented on #38148
@scalablecory You are correct about my example, unforchantly most of the time use the slice overload where `start` is of type `SequencePosition` and there is currently no way to get the index from the `SequencePosition`

[2019-06-04 09:55] YairHalberstadt opened #38197 "Path.GetRelativePath throws ArgumentNullException when relativeTo is empty string"
The following program throws an ArgumentNullException:

[code]

This is a misleading exception. It should be an ArgumentException since relativePath is not null.

[2019-06-04 10:18] aseduto commented on #37516
Hi wfurt,
I have updated the code and seems working now.

Thank you.

I will do some additional test and than close the issue.

Thank again.

[2019-06-04 10:47] afterlogic-support opened #38198 "SslStream does not call BeginRead or ReadAsync of InnerStream in .NET Core 2.1 and newer"
I found that SslStream in .NET Core 2.1/2.2/3.0 does not call BeginRead or ReadAsync of InnerStream when SslStream's BeginRead or ReadAsync are called.

Discussion at https://stackoverflow.com/questions/56431957/sslstream-does-not-call-beginread-or-readasync-of-innerstream-in-net-core-2-1 suggests this is because starting from .NET Core 2.1 the "core" APIs are no longer the byte-array ones; they'd

[2019-06-04 10:52] svick commented on #38194
It's hard to tell without seeing your code, but it sounds like the action of the `fileExtract` block is stuck. Is that possible?

In that situation, completion would not propagate to `SaveFileToDB`, because `fileExtract` can't complete, which happens because it's still processing a message.

[2019-06-04 10:57] gfoidl commented on #36974
Will do this during this week. I'll CC you on the PR then.

[2019-06-04 11:01] matthid opened #38199 "Inconsistent behavior of ClientWebSockets on cancellation"
In addition to the documentation issue (see @JohBa [comment](https://github.com/dotnet/dotnet-api-docs/issues/1431#issuecomment-498595999)) I'd like to report this as API-bug as well as all current implementations seems to behave differently.

Interesting is the response from @karelz :

Does it help?

Because no implementation actually has this (imho expected) behavior.

For completeness:

[code]

[2019-06-04 11:02] matthid commented on #38199
Related https://github.com/dotnet/corefx/issues/27066

[2019-06-04 12:13] daveaglick commented on #38192
Thought about this some more, here's an updated proposal:

[code]

- Removed the overload that maybe allocates or maybe fills - on second thought that seems both more confusing and less helpful than I initially thought it would be.
- Added an overload that takes a `Span<char>` as both the initial input and the buffer to fill (overwriting what was in it).
- Added overloads for `char`

One other tho

[2019-06-04 12:54] fgheysels commented on #32027
I'm experiencing a similar issue.
I have a custom Azure IoT Edge module which runs in a Linux container.   The IoT Edge module uses the Zeroconf library to discover devices in the network via mDNS.  ZeroConf uses UdpClient to bind to a certain socket.  When the IoT Edge module starts, ZeroConf is called to discover the devices.
I get the following exception:

[code]

When I look into the relevant

[2019-06-04 13:29] vcsjones commented on #38192
I like the API idea and agree it's useful, I have some thoughts on the shape though.

Returning spans from a method is generally not something I would use unless the span's creation is guaranteed not to allocate (like if you are returning a slice of a span parameter).

In those circumstances I do not think using `Span<T>` is an appropriate choice and I would suggest using `string` again. I think i

[2019-06-04 13:39] ViktorHofer commented on #38144
@ericstj I assigned you as this touches runtime.depproj mostly. I hope that's ok.

[2019-06-04 13:45] stephentoub commented on #38197
cc: @JeremyKuhne

[2019-06-04 13:53] stephentoub commented on #38195
Apparently not.  Not sure what's going on then, or what changed that it's failing now.

[2019-06-04 14:09] JimBobSquarePants commented on #2315
I don't think there is an advantage to adding this that exceeds the development costs.

[2019-06-04 14:13] danmosemsft commented on #37691
@adamsitnik maybe you still nod this bug to track further  investigation

[2019-06-04 14:34] cbenard commented on #37903
Ping @danmosemsft

[2019-06-04 14:41] leecow opened #38206 "Review and update THIRD-PARTY-NOTICES.TXT for 3.0"
Review and update repo THIRD-PARTY-NOTICES.TXT as appropriate. Work should be completed for Preview 7.

[2019-06-04 14:48] anurse commented on #34906
I think that's a reasonable assessment. It's a problem that is somewhat inevitable with composable framework references, and it's not really a new problem. I could reference two different versions of a package today and some kind of conflict resolution ends up selecting one of them to run against. The same is true here.

[2019-06-04 15:32] apollux opened #38208 "Trace.Assert does not trigger"
Consider the following program:
[code]

I expect the Trace.Assert to trigger in both Debug and Release configuration. However it does not trigger at all.

`dotnet run -c Debug` results in:
[code]

`dotnet run -c Release` results in:
[code]

Dotnet version: 2.1.507

The Debug output in Visual Studio does show that the assertion fails in both Debug and Release configuration:
[code]

[2019-06-04 15:33] davidfowl commented on #34906
cc https://github.com/dotnet/corefx/pull/38207

[2019-06-04 15:39] danmosemsft commented on #37903
@cbenard do you need this right now? I have some other tasks right now, it may be a while before I can get to this.

[2019-06-04 16:25] #38114 closed

[2019-06-04 16:28] davidsh commented on #38198
@stephentoub

[2019-06-04 16:33] stephentoub commented on #38198
When we add new virtual methods to a type like Stream, we often want to take an optimized path in those methods but may not be able to if some other method on the type could have been overridden, in which case for compat reasons we want to prefer to call that other method.  That's the case with the Read/Write{Async} span-based and memory-based overloads on Stream that were added in .NET Core 2.1.

[2019-06-04 16:47] davidfowl opened #38212 "PDB files are locked and can't be deleted/renamed once loaded"
We've been getting reports of locked pdb files (https://github.com/aspnet/AspNetCore/issues/3269) when deploying ASP.NET Core applications (but not locked dlls) and we assumed that it was application insights locking the pdb. Turns out, the runtime opens pdb files (once somebody accesses something like Exception.StackTrace) it can't be renamed/deleted until the process ends. This interrupts the de

[2019-06-04 16:48] Gnbrkm41 commented on #38192
Great to see this idea catching on!

Related Issue: https://github.com/dotnet/corefx/issues/36460 (There were some additional discussions about span based overloads of replace(

[2019-06-04 16:53] stephentoub commented on #38212
Did you mean to open this in coreclr?

[2019-06-04 16:56] davidfowl commented on #38212
The source is in corefx and it seems to be dynamically loaded by coreclr.

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.StackTrace/src/System/Diagnostics/StackTraceSymbols.CoreCLR.cs#L14

https://github.com/dotnet/coreclr/blob/9773db1e7b1acb3ec75c9cc0e36bd62dcbacd6d5/src/System.Private.CoreLib/src/System/Diagnostics/StackFrameHelper.cs#L111

[2019-06-04 17:02] bartonjs commented on #35630
I've just tested this again with 3.0 master, and on both Windows 7 and Windows 10 the ObjectDisposedException is no longer present.

It looks like got fixed in PR https://github.com/dotnet/corefx/pull/32786 for the bug variant https://github.com/dotnet/corefx/issues/32636.

You could try again with package version 4.6.0-preview5.19224.8, which should have the fix.

[2019-06-04 17:02] #35630 closed

[2019-06-04 17:03] stephentoub commented on #38212
Right, so System.Reflection.Metadata (which is used by System.Diagnostics.StackTrace). Ok.

cc: @tmat, @mikem8361

[2019-06-04 17:10] afterlogic-support commented on #38198
Thank you for reply. Yeah, I already implemented option 2, seems to work well. I cannot use option 1 because my dll must support both .net core 2.0 and .net core 2.1 while the option 1 obviously won't work in 2.0 (Span is not there yet).

[2019-06-04 17:14] davidfowl commented on #36896
Those APIs need more `Span<byte>`

[2019-06-04 17:29] carlossanlop commented on #38197
I see what you mean.

The fix would be quite simple. The very first check we do when calling GetRelativePath is this:

https://github.com/dotnet/corefx/blob/b2097cbdcb26f7f317252334ddcce101a20b7f3d/src/Common/src/CoreLib/System/IO/Path.cs#L813-L815

So the checks could be split into a string.IsNull check and a string.IsEmpty check, and throw the appropriate exception for each case.

Not breaking b

[2019-06-04 17:30] wfurt commented on #37516
I'm glad to hear that. Close it as soon as you can verify it so we don't have lingering issues.

[2019-06-04 17:39] rjmholt opened #38215 "DirectoryInfo.Parent.ToString() returns absolute not relative path (unlike Desktop)"
From https://github.com/PowerShell/PowerShell/issues/9800.

Identical to https://github.com/dotnet/corefx/issues/2632 (but that was resolved by https://github.com/dotnet/corefx/pull/5437).

If you've got PowerShell on your machine, try:

[code]

In PowerShell Core 6.2 (.NET Core 2.1) and 7 (.NET Core 3.0-preview5) this returns an absolute path, but in Windows PowerShell (.NET Framework) it's relat

[2019-06-04 17:41] vellozzi opened #38216 "Is there HTTP2 server push client support in .NET Core?"
I can't find a way to receive server pushes using the HttpClient in .NET Core or Framework.  I'm new to HTTP2 so I may just be missing something simple.

Here's my understanding from what documentation I can find:
* Server push is available via HttpResponse.PushPromise in ASP.NET but not available in ASP.NET Core.  I've spun up an ASP.NET web app and can see the server pushes in the Chrome develop

[2019-06-04 17:47] scalablecory commented on #38148
There are a few API proposals that might be useful here. A `long ReadOnlySequence<T>.GetIntegerPosition(SequencePosition)` doesn't sound unreasonable to me.

I'd encourage you to implement a quick benchmark (making use of `SequencePosition.GetObject()` and `SequencePosition.GetInteger()`) to see what difference this would make. This will help lend weight to your proposal. Note, using `ReadOnlySequ

[2019-06-04 18:04] #32808 closed

[2019-06-04 18:18] jimcarley commented on #34478
@GammaFour
We have a small miscommunication.
The caller of one of the Transaction methods to enlist in a transaction (EnlistDurable, EnlistVolatile, and EnlistPromotableSinglePhase) must pass a reference to an object that implements the IEnlistmentNotification (or one of its derived classes). This object is something that is implemented by the resource manager author.

The enlistment design in Sys

[2019-06-04 18:23] scalablecory commented on #37000
[RFC 3986 Section 5.2.3](https://tools.ietf.org/html/rfc3986#section-5.2.3) defines the relative URI merge operation consistent with current behavior:

[2019-06-04 18:24] scalablecory commented on #37000
Regardless of the RFC, I think @svick is on point. I've written code making use of this behavior when talking to a REST API which gave relative URLs for linked resources. I can see arguments for either way being intuitive, but it's inappropriate to make a breaking change to this now.

[2019-06-04 18:25] jimcarley commented on #34401
As noted in my above responses, I believe the 100 ms is due to an extra round trip to SQL Server when there is a Transaction.Current when the enlistment is made. If you do the enlistment without a TransactionScope, there is no Transaction.Current, so that extra round trip to SQL Server does not happen.

System.Data folks should be able to confirm this.

I am removing the label "area-System.Transac

[2019-06-04 18:27] jimcarley commented on #33243
The documentation has been updated. Any enhancement to System.Transactions would require an enhancement to MSDTC. If such an enhancement is done to MSDTC, we can re-open this issue. But I am closing this for now.

[2019-06-04 18:27] #33243 closed

[2019-06-04 18:29] davidsh commented on #38216
@stephentoub

[2019-06-04 18:33] JeremyKuhne commented on #38197
Yeah, it should be split up.

[2019-06-04 18:34] jimcarley commented on #34113
Okay. So what we are looking for is an enhancement to the documentation for TransactionScopeAsyncFlowOption that indicates that the transaction will flow to ALL threads creating in that transaction scope, not just those threads associated with Tasks or async programming model.

I will see what I can do.

[2019-06-04 18:35] stephentoub commented on #38216
Correct.  Technically you could do HTTP/2 prior to 3.0 if you were on an OS that supported it and switched to using a handler that supported it, e.g. on a recent enough release of Windows and used WinHttpHandler.

Correct.

@anurse or @JamesNK can probably comment on this.

[2019-06-04 18:43] anurse commented on #38216
+ @Tratcher @halter73 @jkotalik

We don't have support for push promises right now. https://github.com/aspnet/AspNetCore/issues/2727 is tracking this request for a future release.

[2019-06-04 18:52] Tratcher commented on #38216
This all sounds accurate. Note server push is designed for cache pre-populating and that doesn't apply for HttpClient, there is no cache.

But is there an event anywhere that lets you directly accept that push?

[2019-06-04 18:53] cbenard commented on #37903
Hi @danmosemsft. Not an immediate need. I just wanted to make sure my reply from last week got seen. Thank you.

[2019-06-04 19:06] vellozzi commented on #38216
Thanks.  That answers my questions about current support.
Can you comment on any future plans to support server push in the client?

I realize that the HttpClient itself has no cache but what if I wanted to implement a cache or some other mechanism that needs access to the pushed data?

[2019-06-04 19:16] stephentoub commented on #38212
(I see now it is actually directly using File.  Thanks.)

[2019-06-04 19:17] mikem8361 commented on #38212
This is probably the MetadataReaderProvider caching in  corefx's StackTraceSymbols.CoreCLR.cs.  We do a File.OpenRead on the pdb path.

The caching is necessary because there is a lot libraries that use System.Diagnostics.StackTrace in their logging to get source/line info on stack frames.

/cc: @noahfalk

[2019-06-04 19:33] nguerrera commented on #38188
IMHO, no. There are a bunch of AssemblyXxxAttributes and they all go on the assembly.

I share @Eilon's other concerns too.

Can you give examples of where this would have been used if it were available?

(One of my first ever API reviews (circa 2004) people argued that `System.Diagnostics.CodeAnalysis.SuppressMessageAttribute` should just take one string that tools parse. I joked in response that

[2019-06-04 19:40] maciejw opened #38219 "HttpClient that uses client certificate without access to private key hangs indefinitely"
I have a project that uses MIcrosoft.NETCore.App 2.2.0 and 2.1.0, a console app, it uses http clinet with client certificate to authenticate.

[code]

Certificate is located in local machine personal store. When my user does not have access to private key (run from not elevated command prompt), Win32Exception is thrown with message "The credentials supplied to the package were not recognized" from

[2019-06-04 19:41] terrajobst commented on #38087
@steveharter

The proposal here ins't inferring -- it is reading the attribute that the compiler put in the metadata. The point is to get them correct and agree with the compiler semantics. And we're in a much better boat to make that efficient & correct than higher levels.

That layer doesn't exist today. In my book the bar for creating a new layer, meaning a new assembly and a new set of types h

[2019-06-04 19:43] davidsh commented on #38219
This is a known issue in .NET Core 2.1/2.2.  The hang was fixed in .NET Core 3.0.  So, the exception should propagate correctly now.

Have you tried .NET Core 3.0 latest Preview?

[2019-06-04 19:44] davidsh commented on #38219
See https://github.com/dotnet/corefx/issues/30858#issuecomment-485191640 for a similar discussion of the "hang".

[2019-06-04 19:55] stephentoub opened #38221 "LookupOverflow JSON test consistently failing across all platforms"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38211~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190604.1/workItem/System.Text.Json.Tests/analysis/xunit/System.Text.Json.Tests.Utf8JsonReaderTests~2FLookupOverflow
[code]

[2019-06-04 19:56] roji commented on #34401
This should probably be moved to https://github.com/dotnet/sqlclient, where all SQL Client issues now live, cc @divega (I have no write access on that repo).

[2019-06-04 19:58] maciejw commented on #38219
I'll check this discussion you mentioned, sadly I cannot run net core 3.0 preview in my production, if this is fixed in 3.0, it should be fixed in 2.1 also, if not, LTS status is completely meaningless, this is clearly a serious bug.

[2019-06-04 20:03] #30032 closed

[2019-06-04 20:03] Tratcher commented on #38216
I can't speak to the schedule or priority, but I will outline some of the design challenges.

Push is architecturally problematic for HttpClient because the is based on a 1:1 request -> response model, you'd need some new event to surface unsolicited responses. Then there's a layering issue, where  HttpClient is really broken up into HttpClient -> middleware -> handler. The event would have to be

[2019-06-04 20:14] geoffkizer commented on #35652
I think much of this is addressed by the changes in #36884. In particular, I believe we should now be sending RST_STREAM on client abort in the cases listed above.

We should add tests for these cases to confirm.

There's also this part:

With #36884, we should be removing these streams from the dictionary immediately. However, I'm unclear whether we need to do something further to discard frames

[2019-06-04 20:14] davidsh commented on #38219
@karelz

[2019-06-04 20:19] #37907 closed

[2019-06-04 20:20] ericstj commented on #38191
@ViktorHofer was this fixed by https://github.com/dotnet/corefx/pull/38200?

[2019-06-04 20:21] ViktorHofer commented on #38191
This should already be fixed now.

[2019-06-04 20:21] ericstj commented on #38191
/cc @buyaa-n @ahsonkhan

[2019-06-04 20:21] #38191 closed

[2019-06-04 20:22] vcsjones commented on #37907
Woohoo! Thanks a ton to everyone helping me figure out why this wasn't working.

[2019-06-04 20:23] ViktorHofer commented on #38191
correct.

[2019-06-04 20:41] stephentoub commented on #38216
Thanks for the question, @vellozzi.  I'm going to close this as answered, but feel free to re-open if there's something missed.

[2019-06-04 20:41] #38216 closed

[2019-06-04 20:45] stephentoub commented on #38215
cc: @JeremyKuhne

[2019-06-04 20:46] halter73 commented on #38216
I also can't speak to the priority. My understanding is that it's fairly low, but is there really a need to have a special API to "surface unsolicited responses" in the client? Does such an API exist in the browser? I would think the pushed responses would just be surfaced if and when an associated request was made in the future. That could lead to question about how much to cache for how long, bu

[2019-06-04 20:51] Tratcher commented on #38216
Wanting to implement an HTTP cache as middleware would be a reasonable use case give that HttpClient doesn't have any caching.

[2019-06-04 20:58] jkotas commented on #38087
I think these should be static state-free decoder methods.

It is fine for these to be part of the platform, in System.Runtime if we wish, be kept in sync with the compilers, etc.

These domain-specific layers do exist today, all over the place. For example, there is `bool Marshal.IsTypeVisibleFromCom` that reads a bunch of COM related attributes and gives you an answer.

One of the problems not m

[2019-06-04 21:10] steveharter commented on #33228
Moving to future.

[2019-06-04 21:23] JeremyKuhne commented on #38215
I don't think we should change this to match desktop as this turns a passed-in fully qualified path into a relative path (which is more risky from a security standpoint).

Using `.Name` will give you consistent behavior and is explicit about intent.

We should add some tests to document this change in behavior.

[2019-06-04 21:27] geoffkizer commented on #35239
For what it's worth, it's always possible for someone to pass their own SslOptions to disallow renegotiation if they really care about this. So if someone complains, we can just tell them to do that.

[2019-06-04 21:28] stephentoub opened #38227 "ProcessStart_OnLinux_UsesSpecifiedProgram test failing on macOS"
[code]

[2019-06-04 21:41] stephentoub opened #38229 "Add some HttpClientMiniStressTest coverage for HTTP/2"
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientMiniStressTest.cs

[2019-06-04 21:50] carlossanlop commented on #38215
@JeremyKuhne additionally, I suggest we also update [the documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.directoryinfo.parent?view=netcore-3.0) (a remark maybe?) to clarify that Parent will return a full path in netcore and a relative path in framework. If you agree, I'll open an issue in dotnet/dotnet-api-docs and assign it to both of us.

[2019-06-04 21:54] vcsjones opened #38230 "SIGFPE in OpenSsl in CryptoNative_GetRandomBytes"
While tinkering with #38002 I got a hard CLR crash from inside openssl with a SIGFPE (which as far as I know is a divide by zero). The native stack:

<details>
<summary><code>* thread #1, name = 'dotnet', stop reason = signal SIGFPE</code></summary>
<pre>
  * frame #0: 0x00007efef1ebf8c9 libcrypto.so.1.1`___lldb_unnamed_symbol1265$$libcrypto.so.1.1 + 1177
    frame #1: 0x00007efef2449442 System.Se

[2019-06-04 21:57] ahsonkhan commented on #33299
@adamsitnik, can you help with this port?

[2019-06-04 22:00] vcsjones commented on #38230
[sigh] nevermind. Long explanation as to the problem but the problem was me.

[2019-06-04 22:00] #38230 closed

[2019-06-04 22:00] bartonjs commented on #38230
Any idea how `0x00007efef1ebf8c9`(`___lldb_unnamed_symbol1265$$libcrypto.so.1.1`) related to `RAND_bytes`?  Our code isn't very complicated:

[code]

[2019-06-04 22:15] rjmholt commented on #38215
That would be helpful to us.

PowerShell doesn't depend on this directly, but exposes the API and coercing any object to a string defaults to `ToString()`. So usages involving `DirectoryInfo` being used as a path string (like `Get-Item ./here | Test-Path`) are all affected.

[2019-06-04 22:15] #38227 closed

[2019-06-04 22:17] joperezr commented on #30422
@layomia do you plan on taking this? If so, let me know so that I can help you out on how to fix it.

[2019-06-04 22:20] terrajobst commented on #38087
👍

The idiomatic pattern in .NET for indicating uncached and potentially expensive operations is exposing them as a methods, which is why I didn't make them properties.

Should these APIs be called a lot, we may find ourselves in the position where we still want to cache the operation in order to speed up the rest of the stack. However, in that case I don't see how the proposed location makes make

[2019-06-04 22:22] wfurt commented on #20741
Starting with 2.1, one can use EvenPipe to do tracing on Linux. That is part of coreclr and there is no longer need for lltng. This can be simple as:

[code]

This will produce .netperf trace file in CWD -> typically where the application lives.

To tune tracing a little bit additionan variables can be set. Following example shows tracing from major networking events with some tuning:

[code]

Mor

[2019-06-04 22:22] #20741 closed

[2019-06-04 22:24] wfurt commented on #20741
Also aside from .Net tracing, following command can be used to trace network related system calls:

[code]

[2019-06-04 22:55] fernacolo commented on #38149
That was indeed the case. Can you please elaborate? Why the current instance, which is also of type `MySynchronizationContext`, cannot be used? What is different between the two instance (`this` and the new one)?

[2019-06-04 22:57] fernacolo commented on #38149
The reason I'm asking that is to look for an optimization opportunity and avoid creating an object all the time, in case I can't use the `AsyncLocal<T>` for some reason.

[2019-06-04 23:24] jkotas commented on #38087
The performance characteritics should be part of the API design. When we fundamentally change the API performance characteristics, it just causes confusion. If certain callers end up calling these APIs a lot, they should be responsible for inventing their own scheme for caching.

If this is going to be popular, I am pretty sure somebody comes up with good reasons why they want to answer the fine g

[2019-06-04 23:25] ahsonkhan commented on #37720
This is by-design and follows the try-pattern.

[2019-06-04 23:25] #37720 closed

[2019-06-04 23:28] ahsonkhan commented on #36109
Adding an unconstrained generic API which only works for a small set of types is not something we have precedence for within .NET. The scenario here relates to the user wanting to control the exception behavior (and throw custom exception) and that would have to be resolved by the caller writing custom code to do so. Hence, this is by-design and the issue is non-actionable. Closing.

[2019-06-04 23:28] #36109 closed

[2019-06-05 00:00] pranavkm opened #38238 "[System.Text.Json] JsonExtensionData should allow non-JsonElement types during serialization"
Consider the model

[code]

This serializes correctly. If I annotate the `Extensions` property with `JsonExtensionDataAttribute`, serialization fails with:

`The data extension property 'WebApplication1.Test2Controller+TestModel.Extensions' cannot contain dictionary values of type 'System.Int32'. Dictionary values must be of type JsonElement.`

It's not entirely clear why serialization requires th

[2019-06-05 00:02] pranavkm commented on #38238
Note that in the one use case that MVC uses this feature, it stores arbitrary content (strings or numbers) in the `JsonExtensionData` backed dictionary.

[2019-06-05 00:03] pranavkm commented on #38238
cc @steveharter

[2019-06-05 00:16] anurse commented on #38216
There are also emerging specs that use push promises to send unsolicited messages from the server to the client, such as [RFC 8030 - Generic Event Delivery Using HTTP Push
](https://tools.ietf.org/html/rfc8030) which is designed to power the browser implementation of the [Web Push API](https://w3c.github.io/push-api/).

[2019-06-05 00:17] danmosemsft commented on #38206
@tannergooding could you have a quick check then resolve this?

[2019-06-05 00:24] danmosemsft commented on #37978
Ping @ericstj

[2019-06-05 00:28] danmosemsft commented on #36723
I spoke to @GrabYourPitchforks. He is going to remove the public surface area and reach consensus on the rest for 3.0 (ie this month I hope).

[2019-06-05 00:29] danmosemsft commented on #35629
@ViktorHofer still planning to look here? should this remain 3.0

[2019-06-05 00:42] stephentoub commented on #38168
This continues to hang relatively frequently, e.g.
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38204~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190604.59/workItem/System.Net.Http.Functional.Tests/wilogs

[2019-06-05 00:48] tommcdon commented on #33013
Closing since this is not a CoreFX issue, and has been fixed in  Microsoft.Diagnostics.Tracing.TraceEvent V2.0.32  and later

[2019-06-05 00:48] #33013 closed

[2019-06-05 01:35] bluetianx commented on #38194
there is not loop in ```fileExtract ``` block, The code as follows:
[code]

Nlog maybe caused deadlock , Nlog in my code  is a static variable,which only is instanced once.the code as follow ：
[code]

PS: my vesion of nlog is 4.6.3

[2019-06-05 01:41] DustinCampbell opened #38241 "TypeDescriptor.GetAssociation(...) does not use IDesignerHost"
The code path in `TypeDescriptor.GetAssociation(...)` to use an `IDesignerHost` to return an associated `IDesigner` at design-time is disabled behind a `FEATURES_IDESIGNERHOST` define, which doesn't appear anywhere else in the corefx code base.

https://github.com/dotnet/corefx/blob/be2a1c4b62f8a7886792aaa361ca6b09d8aceaee/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/TypeDescr

[2019-06-05 01:44] DustinCampbell commented on #38241
FWIW, the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.typedescriptor.getassociation?view=netcore-3.0) actually say that it returns a designer if there's no association:

[code]

[2019-06-05 01:56] ericstj commented on #37978
It’s part of WPF and available building a WPF .NETCore 3.0 app.

[2019-06-05 02:17] terrajobst commented on #36222
I assume you don't care whether we expose the flags array as a field or property because you don't ever read it, right? You only care about the metadata passed to the .ctor, correct?

[2019-06-05 02:18] ahsonkhan commented on #37882
The main thing that needs to be fixed here is the exception message if we were to encounter a zero-leading number in the payload so that it is more meaningful. Since this is primarily just an exception message change, it is relatively low priority (and non-breaking), which is why its marked as future.

[2019-06-05 02:29] stephentoub commented on #35239
Good point.

[2019-06-05 02:30] cromachina opened #38243 "Add Ptr<T>, type safe IntPtr wrapper for marshaling"
Typically wrapping native libraries that produce (own) and consume native pointers is done with System.IntPtr. It seems like a better way to match a native interface is to wrap IntPtr in another structure to give it a unique type, `Ptr<T>`. This would be similar to the idea of `SafeHandle` but unmanaged and not for just Windows Handle types. `OpaquePtr<T>` may represent a pointer of unknown implem

[2019-06-05 02:37] jkotas commented on #38243
`Ptr<T>` that you are proposing is equivalent to `T*` (C# unmanaged pointers).

Why are not C# unmanaged pointers sufficient for what you are trying to do?

[2019-06-05 02:38] cromachina commented on #38243
Then you are forced with the `unsafe` constraint, no?

[2019-06-05 02:42] jkotas commented on #38243
Yes, unmanaged pointers do require `unsafe`.

`Ptr<T>` that you are proposing is exactly as unsafe as `T*`. It is not desirable that it is masking the unsafe, without guaranteeing any kind of safety. We are trying hard to avoid adding APIs to the platform that are unsafe in practice, but pretend to be nice safe on the surface.

[2019-06-05 02:49] jkotas commented on #38242
This is known issue with .NET Core 3.0 and old version of System.Management package.

For .NET Core 3.0, you need to reference latest preview version 4.6.0-preview5.19224.8 of https://www.nuget.org/packages/System.Management/ to workaround it.

cc @jkoritzinsky

This is duplicate of #38093 and #35694

[2019-06-05 02:49] #38242 closed

[2019-06-05 02:50] jkotas commented on #38093
This is known issue with .NET Core 3.0 and old version of System.Management package.

For .NET Core 3.0, you need to reference latest preview version 4.6.0-preview5.19224.8 of https://www.nuget.org/packages/System.Management/ to workaround it.

[2019-06-05 02:50] #38093 closed

[2019-06-05 02:50] JeremyKuhne commented on #38215
We should also update `ToString()` (for `*Info`) to recommend using the `.Name` and `.FullName` properties instead.

[2019-06-05 02:52] cromachina commented on #38243
`IntPtr` is just as bad in that regard then, as it masks `intptr_t`, which is as ambiguous as `void *`. Curious as marshaling documentation often suggests the usage of IntPtr and not unsafe pointers.

[2019-06-05 03:13] wfurt commented on #38227
why do we get "dotnet"? That really looks like a bug.

@tmds

[2019-06-05 03:15] bluetianx commented on #38194
I  log  by useing Nlog every block，I think nlog is thread safe ，do I wrong ？

[2019-06-05 03:17] bgrainger commented on #38191
Confirmed this is fixed; thanks!

[2019-06-05 03:18] cromachina commented on #38243
So you get type safety without the theater of `unsafe`, which you already circumvent with `IntPtr` and `DllImport` which do not require `unsafe` to use. Perhaps this is a flawed design?

[2019-06-05 03:27] jkotas commented on #38243
Yes, we wish some of the old APIs used actual pointers instead `IntPtr`, but we cannot go back in time to fix it.

[2019-06-05 03:35] cromachina commented on #38243
I see, well hopefully you guys can enter a deprecation cycle for the marshaling API and gradually force the usage of typed pointers. Thanks for responding so quickly!

[2019-06-05 03:35] #38243 closed

[2019-06-05 04:10] karelz commented on #38131
@ahsonkhan please assign issues when someone grabs them - got contributors complaining that it is hard to use queries on unassigned work ... Thanks!

[2019-06-05 04:11] karelz commented on #37335
@Marusyk are you still working on it? I see the linked PR is Closed ...

[2019-06-05 04:13] karelz commented on #37335
@ahsonkhan please assign issues to contributors when they grab them ... thanks! (community contributor rightfully complained ;))

[2019-06-05 04:21] karelz commented on #35573
I don't think this label is that useful, unless we have process to use it. I recommend to keep an MD file with list of breaking changes, given that we have so few.
Deleting the label, to keep some sanity in number of labels we have (which is already way too high :()

[2019-06-05 04:24] karelz commented on #38066
Is it addressed in the merged PR #38096 or is the bug still active?

[2019-06-05 04:40] jkotas commented on #38247
This is duplicate of https://github.com/dotnet/core-setup/issues/5106. Fixed in 3.0

[2019-06-05 04:40] #38247 closed

[2019-06-05 05:17] #37978 closed

[2019-06-05 05:19] wangleigpt opened #38249 "How to add a new oid to the lookup table ?"
When i use X509Certificate2 to parse a .cer file which has some oids like "1.2.156.10197.1.501",  it returns  "The OID value is invalid."
Is there a way to  add new oids to the lookup table ?
THANKS!

[2019-06-05 05:22] jcouv commented on #36222
@terrajobst Correct. The compiler only cares about the signature of the .ctors.
The purpose of storing the information in a field or property is to make it available for reflection. I think we do that for other compiler-related attributes and so probably should do the same here (in some shape or another).

[2019-06-05 05:52] WinCPP commented on #37786
@ahsonkhan once the decision is through, may I work on this?

[2019-06-05 06:02] MarcoRossignoli commented on #38066
Fixed we can close

[2019-06-05 06:04] MarcoRossignoli commented on #37882
I'll pickup from 3.0 for now thanks

[2019-06-05 06:07] ericstj commented on #38144
I just tried reproducing this and it doesn't repro for me.  I did a `build` of corefx, a `build -release -skiptests` of coreclr and then did build of runtime.depproj specifying CLROverridePath.  It copied over the private CoreCLR and didn't delete anything.  I'm guessing we're missing something in repro steps.  @danmosemsft or anyone else who hits this, please share a binlog (/bl) from the build o

[2019-06-05 06:07] #38144 closed

[2019-06-05 06:11] ericstj commented on #38027
/cc @wfurt @wtgodbe looks like we need to evaluate porting this back to servicing.

[2019-06-05 06:22] ericstj commented on #37892
I'm guessing that doc was not accounting for fields, since we don't typically expose public fields.  /cc @terrajobst

APICompat does the right thing here: https://github.com/dotnet/arcade/blob/c9ab9c47d6c66fb9ad89e331900e06bed7463904/src/Microsoft.DotNet.ApiCompat/Rules/Compat/MembersMustExist.cs#L27
It only permits moving to base for methods.

We should probably update that doc.

[2019-06-05 06:29] lmolkova commented on #36954
Looking into this.

Making `DiagnosticsHandler` public creates a whole new level of complexity:
- it will be possible to add it to the pipeline in addition to the one added automatically in `HttpClientHandler`
- need to pass instance `SuppressActivityPropagation` to the instance created by `HttpClientHandler`.

I suggest to expose `SuppressActivityPropagation` properties on `HttpClientHandler` ins

[2019-06-05 06:35] ericstj commented on #37666
I think you mean you're using the .NET.SDK to target .NET45, is that correct?  There is no such thing as a ".NET Core application targeting net45".  .NET Core applications do not use bindingRedirects at all and target netcoreappX.Y.

If you're using System.Net.Http 4.3.0 package you should redirect to the assembly version that is carried by that package, not down to 4.0.0.0.  Redirecting down can

[2019-06-05 06:36] kevingosse commented on #38149
Unless I'm mistaken, you're hitting that test:

https://github.com/dotnet/coreclr/blob/25878db0c11bfb8d52088c75ccfcc13e4c8383f2/src/System.Private.CoreLib/shared/System/Threading/Tasks/TaskContinuation.cs#L386-391

https://github.com/dotnet/coreclr/blob/25878db0c11bfb8d52088c75ccfcc13e4c8383f2/src/System.Private.CoreLib/shared/System/Threading/Tasks/TaskContinuation.cs#L386_391

This is an optimiz

[2019-06-05 06:54] WinCPP commented on #36125
@steveharter @ahsonkhan is this something that I can start working on while the conclusion is reached on API for `char`?

In that case I could start with `TryGet*` and `Get*` APIs on `Utf8JsonReader` and `JsonElement` in [comment](https://github.com/dotnet/corefx/issues/36125#issuecomment-474074184) by @ahsonkhan and work on the `Write*` APIs when concluded?

[2019-06-05 06:58] mariusGundersen commented on #32337
Since nothing has changed here I have made a very simple implementation of a `Lazy` for my own code, an implementation that only has one mode:

[code]

[2019-06-05 07:25] aseduto commented on #37516
In the end the line causing the problem was:
```X509Certificate x509Certificate = new X509Certificate("merged.pfx", "pwd");```
just changing it to
```X509Certificate x509Certificate = new X509Certificate2("merged.pfx", "pwd");```
solved it.
On linux I had to use **X509Certificate2** instead of X509Certificate.
Maybe with this information it can be fixed for X509Certificate as well.

[2019-06-05 07:30] wfurt commented on #37516
great. @bartonjs may be able to proved some more detailed insight.

[2019-06-05 07:32] ksaurabh1 commented on #37666
Thanks for the clarification Eric.
Yes, i am using .NET.SDK to target net45.

<Project Sdk="Microsoft.NET.Sdk">
    <PlatformTarget>AnyCPU</PlatformTarget>
    <TargetFrameworks>netstandard2.0;net45;net461</TargetFrameworks>

I am not actually using the binding redirect, that was one of the option which i tried.
the configuration present in csproj is

<ItemGroup>
      <PackageReference Include="N

[2019-06-05 07:32] #37666 closed

[2019-06-05 08:00] karelz commented on #38066
Fixed by #38096

[2019-06-05 08:00] #38066 closed

[2019-06-05 08:19] Marusyk commented on #37335
No, we decided to stop because there is small benefit from caching

https://github.com/dotnet/corefx/pull/37533#discussion_r284940413

[2019-06-05 09:29] #38131 closed

[2019-06-05 09:33] AriNuer opened #38252 "Test failure:System.Runtime.InteropServices.Tests.AreComObjectsAvailableForCleanupTests/AreComObjectsAvailableForCleanup_NothingToCleanup_ReturnsFalse"
Test `System.Runtime.InteropServices.Tests.AreComObjectsAvailableForCleanupTests/AreComObjectsAvailableForCleanup_NothingToCleanup_ReturnsFalse ` has failed.

Message :
[code]

Stack Trace :
[code]

Build: -[20190604.76](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190604.76)(Master)

Failing configurations:

- Windows.1

[2019-06-05 09:49] ahsonkhan commented on #37786
This issue is marked for future and likely requires some design and/or api work (which would need to go through approval). I don't think we will have a decision any time soon, so I don't think it can easily be picked up yet.

If you prefer to prototype an implementation and propose an API for review, then feel free to take this on. However, we have quite a few 3.0. milestone issues that we are pri

[2019-06-05 10:05] WinCPP commented on #37119
@layomia @watfordgnf I guess this is already assigned? Or is it still up for grabs? Thanks!

[2019-06-05 10:13] svick commented on #38194
What happens when you run your inside a debugger and inspect call stacks of threads when you reach the problematic state? Does any of the stacks include `HandleCntFile`? If it does, look at the bottom of that stack, that's where you'll probably find the problem.

[2019-06-05 10:15] MarcoRossignoli commented on #38074
@steveharter is this fixed?Should we close?

[2019-06-05 10:40] FailedShack opened #38253 "API Proposal: Expose known folder default path flags in Environment.SpecialFolderOption"
On Windows, the locations of special folders [can be changed by the user](https://docs.microsoft.com/es-es/windows/desktop/api/shlobj_core/nf-shlobj_core-shsetknownfolderpath). Usually by modifying the path in a [`Location` tab](https://cloud.addictivetips.com/wp-content/uploads/2015/08/win10-screenshots-loc.png) in the folder properties dialog in Windows Explorer. These exist for many user folder

[2019-06-05 10:59] RussKie commented on #38130
Looks like the `Brush` object is suffering from the similar symptom:
![image](https://user-images.githubusercontent.com/4403806/58951565-c8038080-87d4-11e9-84b0-cc779686b38c.png)

[2019-06-05 11:14] svick commented on #38253
What is the use case? Why would you want to know the default path for a folder?

[2019-06-05 11:20] vcsjones commented on #38249
I think this is certificate with that has an SM3withSM2 AlgorithmIdentifier, correct? Can you describe what you are trying to do with the certificate after it has been parsed?

There are a few places in .NET Core where the certificate's algorithm identifier lookup is hard coded such as [here][1].

Even if the OID were added, there is still the matter that .NET Core does not support any cryptograph

[2019-06-05 11:29] FailedShack commented on #38253
@svick The user specified location for a special folder might be inaccessible. In that case, we might choose to use the default folder as a fallback.

Some software chooses not to use the user specified folder but rather the default one, for example.
This is especially true in sensible locations such as `%AppData%`, where even Microsoft decides to ignore the user defined path in some cases.

If we

[2019-06-05 12:12] doctordns commented on #38215
This should probably be noted as a breaking change for at least PowerShell 7. Scripts written using the Get-ChildItem cmdlet to use the returned DirectoryInfo objects can now break.

[2019-06-05 12:43] watfordgnf commented on #37119
I have #37119 which addresses this, but it hasn't been reviewed yet.

[2019-06-05 13:16] bartonjs commented on #37516
@wfurt Sounds like somewhere there's some X509Certificate -> X509Certificate2 upgrade code inside SslStream that does `new X509Certificate2(cert.Handle)` instead of `new X509Certificate2(cert)`.  Reopening by Handle and seeing the private key only works on Windows.

[2019-06-05 13:17] stephentoub commented on #38181
Fixed by #38246

[2019-06-05 13:17] #38181 closed

[2019-06-05 13:23] ericstj commented on #38130
Sorry for delay. Let me see if I can find it.

[2019-06-05 13:31] stephentoub commented on #37516
[code]

[2019-06-05 13:33] davidsh commented on #38248
We have seen this type of error before on MacOS.  It is some kind of DNS resolution problem.

[2019-06-05 13:37] shaggygi opened #38259 "System.Runtime.Remoting Support"
I mistakenly [added to CoreClr repo](https://github.com/dotnet/coreclr/issues/24974), but closed and added here.

There has been many mentions of System.Runtime.Remoting APIs not being ported to .NET Core. I understand the reasoning, but want to understand a little more before continuing with other limited options.

I have an older API that depends on System.Runtime.Remoting. I was trying to port

[2019-06-05 13:39] PedroCavaleiro commented on #38248
I've read that, but it happened on .NET Core 2.2 and apparently it still isn't fixed.

My Mac is properly configured and there are no problems in the internet I've already cleaned the DNS cache in case it was corrupted somehow but still the same.

[2019-06-05 13:44] #38212 closed

[2019-06-05 14:03] liben-y commented on #24175
I had SQL Server running on windows with a linux container on the same machine trying to connect. I tried quite a lot of things suggested here and stack overflow but had no luck.

The error I was getting was a bit different to the others:
Unhandled Exception: System.AggregateException: One or more errors occurred. (A network-related or instance-specific error occurred while establishing a connecti

[2019-06-05 14:08] bluetianx commented on #38194
ok ， I will do it when the problem happens again. I'll let you know if there are any new developments

[2019-06-05 14:22] FailedShack opened #38260 "System.Security.Cryptography does not provide a way to handle NTE_BAD_KEY_STATE"
The API provided by `System.Security.Cryptography` allows you store keys in containers using `CspParameters`. However, these key containers can become inaccessible in some cases and the API does not provide a graceful way to remove them, instead throwing `CryptographicException` exceptions with unhelpful messages.

Take this very simple program, for example:
[code]
When you run it for the first ti

[2019-06-05 14:23] bartonjs commented on #37516
The CertificateValidationPal ones are probably fine, since they're probably only after the public key (and some of them are promoting the native pointer to the managed wrapper).

https://github.com/dotnet/corefx/blob/6e4a2ceb63cb3f4b496dbb74c9e0e65b10cd9177/src/System.Net.Security/src/System/Net/Security/SecureChannel.cs#L257-L278 is likely the culprit.

[2019-06-05 14:41] #38002 closed

[2019-06-05 14:58] #38241 closed

[2019-06-05 15:03] stephentoub commented on #37516
Re-opened to track fixing SecureChannel's use of X509Certificate2's ctor.

@bartonjs, the fix looks trivial, but I'm not sure what a test for this looks like.  Is it easy for you to write one?

[2019-06-05 15:18] bartonjs commented on #37516
Given a PFX blob, open it with the legacy X509Certificate constructor.  Then use it as a server cert, client cert, or both-sides cert.

If https://github.com/dotnet/corefx/blob/d6a3b78f3fa2b636621f6030fc3f8b99e08474bb/src/Common/tests/System/Net/Configuration.Certificates.cs#L75-L79 also asserts `X509KeyStorageFlags.Exportable` then one could avoid a whole lot of plumbing and just do something lik

[2019-06-05 15:27] MarcoRossignoli commented on #38238
Guys I'm working on this if you can take a look at https://github.com/dotnet/corefx/pull/38262 and let me know what you think I could bring it to the end.

[2019-06-05 15:37] ericstj commented on #38130
Looks like these are coming from autoexp.dll in VS.  @r-ramesh it looks like you may be the current owner, can you take a look here?  That file should be updated to not rely on private fields.
https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fcsharp%2Fautoexp%2Fautoexp.cs&version=GBmaster&_a=contents&line=28&lineStyle=plain&lineEnd=29&lineStartColumn=18&lineEndColumn=99

I also see some

[2019-06-05 15:41] danmosemsft commented on #38130
Whoa. That's an interesting file. Why doesn't it defer to debugger attributes on the type itself? Those will be maintained and issues like this wouldn't occur.

[2019-06-05 15:44] ericstj commented on #38130
Yeah, I'm filing an issue i VS repo and we can hopefully get some clarity on this.  I also see many public copies of this file.  It looks like VS may have redistributed it at some point.

[2019-06-05 15:45] danmosemsft commented on #38259
@shaggygi no S.R.Remoting will not be available in.NET Core. It was explicitly cut because of technical compromises and fragility inherent in it. I recommend you look at other remoting technologies if you need this scenario on Core. Is this for cross process or cross machine?

[2019-06-05 15:47] MarcoRossignoli commented on #33291
@ahsonkhan should we close this?

[2019-06-05 15:49] hez2010 opened #38263 "Dispather.Yield() for UWP"
Sometimes we need to let UI refresh when event handlers are running.
In WPF we can use `Dispatcher.Yield()`, but in UWP we don't have `Dispatcher.Yield()`.

I hope that UWP can provide `Dispatcher.Yield()`, so we can write:
[code]

Although it can be implemented manually, but I think it will be better if `Dispatcher.Yield()` was provided in UWP.

An implementation of `Dispatcher.Yield()`:
[code]

[2019-06-05 15:57] ericstj commented on #38130
@danmosemsft we can test to see what the debugger prefers, not sure anyone has done that yet.  Perhaps if it prefers an attribute on the type we could add one to fix this.

[2019-06-05 16:00] danmosemsft commented on #34151
@JeremyKuhne it does not seem like the API proposal has been approved. Is a fix still feasible for 3.0 here?

[2019-06-05 16:00] tarekgh commented on #38065
@ericstj I originally moved it to infrastructure because we need to look at any other library suffer from the same issue. I recall the guidelines was infrastructure include the build and packaging of the libraries.

[2019-06-05 16:10] joperezr commented on #30679
@brianrob ping. Do you mind answering @sergiy-k question above? If this is not tracking 3.0 work I would like to either move it to Future or close it.

[2019-06-05 16:11] joperezr commented on #30681
@brianrob ping

[2019-06-05 16:12] MarcoRossignoli commented on #33130
@ahsonkhan should we return false if empy segment is returned?

[2019-06-05 16:12] joperezr commented on #32099
@JeremyKuhne is this something we want to do for 3.0? If not I would like to move it to future.

[2019-06-05 16:27] stephentoub commented on #32099
I'm not entirely sure what this issue is tracking.

- If there's a case where we're using MemoryMarshal.GetReference but it's causing (or has the potential to cause) problems because the resulting pointer is being passed to something that requires a null pointer for 0 length inputs, then there's a bug to be fixed and ideally we'd fix it for 3.0.
- Otherwise, MemoryMarshal.GetReference is more typi

[2019-06-05 16:29] joperezr commented on #33170
@jaredpar looks like most of these are not being live built anymore (all except for Microsoft.CSharp). Do we want to move this to Future or do we want to keep this as 3.0?

[2019-06-05 16:30] shaggygi commented on #38259
@danmosemsft Thanks for reply and understood on why Remoting is not being moved forward.  I was more hoping we could at least use the Windows Compatibility package since we intend to run only on Windows.  We have an old 3rd-party API dependency that is built on Remoting and the vendor has confirmed they will not be updating to support .NET Core.  We are evaluating options for longer term strategy,

[2019-06-05 16:34] terrajobst commented on #38087
Agreed, which is why I made them methods as I expect them to be not cached.

Also agreed; I have a design in my head. I'll update the issue description with more details. The basic idea would be to introduce a new concept in `System.Reflection` (e.g. `TypeWithAnnotations`) that can be created from the *info classes that allows you to walk a type signature and expose information that is provided by

[2019-06-05 16:35] r-ramesh commented on #38130
@ericstj Can the expression be written using public properties/fields (and will such an expression work for previous versions?) If so, feel free to go ahead and edit the autoexp.cs.
The DebuggerDisplay can be defined inline above the type or in a separate assembly (such as autoexp), but looking through the debugger code it looks like the precedence is autoexp > what is defined inline (which makes

[2019-06-05 16:37] joperezr commented on #33944
Without much context, seems to me that (1) is the best choice, and we can just add a turd DLL for the platforms were we don't have an implementation. Do you have a list of these files?

[2019-06-05 16:46] wangleigpt commented on #38249
@vcsjones thanks for your reply. I'm trying to get some information from a given certificate file. For example, the issuer and the signature algorithm and whether the certificate was expired.

[2019-06-05 16:48] ViktorHofer commented on #36577
cc @wtgodbe

[2019-06-05 16:51] ericstj commented on #35717
Moving out since this isn't currently causing failures (warnings have been suppressed for Alpine).

[2019-06-05 16:52] #38065 closed

[2019-06-05 16:53] JeremyKuhne commented on #32099
I did not realize it was slightly faster. If it was equivalent there is no reason to use it as it isn't as safe.

Maybe a better issue would be to ensure we have tests that cover "unused" inputs when using GetReference?

[2019-06-05 16:54] ericstj commented on #32539
I'll see if I can help on this since @safern is fully booked on nullable.

[2019-06-05 16:55] JeremyKuhne commented on #34151
I'll kick the internal alias for approval as it is simple.

[2019-06-05 16:56] joperezr commented on #32099
From the original issue, I thought the original idea was to do this work for a better perf, but seems like when @danmosemsft attempted it, he flushed out some potential product bugs, so I guess I'm also confused @stephentoub . @JeremyKuhne what is the work that this is really tracking?

[2019-06-05 17:01] ericstj commented on #36613
Quick thoughts on how this can work:
1. See how we construct package versions / flow package versions to the package testing leg.
2. Make a project that consumes all the relevant packages and not the raw binaries.  Consider even generating such a project and saving it as an artifact.
3. Restore and publish that project to the required directories.  Use the PackageId metadata as a means for partiti

[2019-06-05 17:02] ericstj commented on #37942
Fixed in #38012

[2019-06-05 17:02] #37942 closed

[2019-06-05 17:03] ericstj commented on #38109
First round of changes went in.  Getting more feedback on that and will mop up that with a follow up PR.

[2019-06-05 17:04] ericstj commented on #37711
Fixed in #38012

[2019-06-05 17:04] #37711 closed

[2019-06-05 17:09] JeremyKuhne commented on #32099
Not using an API that has an unexpected behavior as it is was causing bugs. Pinning empty arrays always returned null, as does directly pinning an empty span. `GetReference` does not. Some native APIs require that null is passed for empty arrays (see the linked bug in the description).

It was never about performance, I just assumed it wasn't going to negatively impact perf to just pin the span.

[2019-06-05 17:11] tarekgh commented on #38149
@kevingosse thanks for your analysis.

@fernacolo I am closing the issue but feel free to send any more questions if you have any.

[2019-06-05 17:11] #38149 closed

[2019-06-05 17:15] Cybrosys commented on #38197
If someone wanted to write a unit test to assert the exception throwing, where would that "PathTests.cs" file be placed? It seems tests can be found in multiple places so it's not immediately obvious where to put it.

The Path.cs file seems to be located here:
\corefx\src\Common\src\CoreLib\System\IO\Path.cs

Tests for other classes that are located in the same path as the Path class are placed he

[2019-06-05 17:29] JeremyKuhne commented on #38197
Tests go where the type is publicly exposed. In this case it is `System.Runtime.Extensions`.  https://apisof.net/catalog/System.IO.Path

https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Extensions/tests/System/IO

`System.IO.Path` is actually compiled into `System.Private.CoreLib`. So the changes have to come through CoreCLR.

Instructions for consuming a private CoreCLR build are h

[2019-06-05 17:39] vcsjones commented on #29779
@bartonjs I think the cause of this is was the same as #35224 which was fixed in #35246. According the commentary above it is the same Symantec certificate chain where CT requirements were imposed.

There are a few tests that are skipped under this issue. How would you feel about re-enabling the tests that are disabled with this issue ID to see if they consistently pass now?

[2019-06-05 18:15] stephentoub opened #38267 "Lots of 1st-chance exceptions from HTTP/2 requests"
I made 100 serial HTTP/2 requests to https://www.microsoft.com:
[code]
All the requests completed but incurred 28 first-chance exceptions, all of the form:
[code]
cc: @geoffkizer, @wfurt

[2019-06-05 18:16] rrelyea commented on #36062
NuGet team is driving to ship XPlat signature validation as part of a NetStandard 2.1 NuGet.Packaging.dll
Can this be made available in Preview7 of 3.0?

[2019-06-05 18:18] #37896 closed

[2019-06-05 18:21] bartonjs commented on #29779
@vcsjones I'd be okay with doing the test, but the top comment suggests this also failed on Linuxes, so I'd be skeptical that it's fixed :)

[2019-06-05 18:23] vcsjones commented on #38249
@wangleigpt Including the stack trace of the error would be helpful as well. The best way to troubleshoot this is to include the entire public X509 certificate, or a test one that reproduces the problem.

[2019-06-05 18:27] davidsh commented on #38260
@bartonjs

[2019-06-05 18:28] vcsjones commented on #29779
Ah, hm..

[2019-06-05 18:32] danmosemsft commented on #38259
@shaggygi the compat pack is pure library, and remoting is a major runtime feature (that we didn't bring forward) which is why it doesn't help you unfortunately. Thanks for the info.

I'll close this feel free to reopen if you have more questions.

[2019-06-05 18:32] #38259 closed

[2019-06-05 18:33] #37729 closed

[2019-06-05 18:34] stephentoub commented on #38267
Sorry, yes, Windows.  I just added:
[code]
to see what was being thrown.

[2019-06-05 18:35] KSchlobohm opened #38268 "System.PlatformNotSupportedException from NameObjectCollectionBase"
This unsupported method was discovered while working to port the Enterprise Library Composite UI Application block. I'm receiving a System.PlatformNotSupportedException from the NameObjectCollectionBase class and can see that the corefx implementation has [three platform not supported exception scenarios](https://github.com/dotnet/corefx/blob/1fd3717d73da3ae7440841e8fded4adbba5b0770/src/System.Col

[2019-06-05 18:36] danmosemsft commented on #38130
@r-ramesh do you feel like that order of precedence is appropriate for types in the platform itself? I would like to improve our types to have better DebuggerDisplay attributes but if I understand right, that would have no effect.

Presumably we need them in this file for .NET Framework, even if they existed on .NET Core versions of the types.

[2019-06-05 18:56] mconnew commented on #33120
@gallivantor, I'm very strongly against porting over NetDataContractSerialzier for the simple reason that the concrete type to be deserialized is written into the payload and is then used on deserialization to instantiate objects. NetDataContractSerialzier was created in more innocent times when it wasn't yet realized how bad an idea this is.
Serializing an exception into the response and then hav

[2019-06-05 19:01] cbenard commented on #33120
@mconnew how about letting developers make the decision on which code to use? Not having `NetDataContractSerializer` means being unable to deserialize objects that have been persisted in the past by Framework code.

It's not only used by WCF. We have data that's been persisted using NDCS and without NDCS we are unable to deserialize it, and unable to move to .NET Core/5. Yes, I know we could write

[2019-06-05 19:09] ericstj commented on #33944
These are the assemblies which are potentially inconsistent:
https://github.com/dotnet/corefx/blob/94c5f1384c9b6477d164050de964cf6dcf99b2a9/pkg/Microsoft.Private.CoreFx.NETCoreApp/Microsoft.Private.CoreFx.NETCoreApp.pkgproj#L40-L52

Today we don't enforce a fixed set: maybe we should.

[2019-06-05 19:13] layomia commented on #37119
I think you mean https://github.com/dotnet/corefx/pull/37838. I'll review it shortly.
Thanks @watfordgnf  @WinCPP

[2019-06-05 19:16] watfordgnf commented on #37119
Hah, yes thanks @layomia. That came straight from the Department of Recursion's Department of Recursion...

[2019-06-05 19:19] wfurt commented on #38219
It would be nice if you can at least verify with 3.0 @maciejw even if you cannot depend on it in production.

[2019-06-05 19:33] tannergooding commented on #38206
@leecow, @danmosemsft could you clarify what is required here? The third party notices file (to my knowledge) has already been updated, as appropriate, with any PRs that were using some new external code.

I'm not sure what would be actionable here outside reviewing all PRs that have happened since the last time it was reviewed and confirming that any 3rd party code pulled in also included a relev

[2019-06-05 19:34] tarekgh commented on #38194
@bluetianx I am going to close the issue, but when you hit the problem again and have more info, reply back here and we'll reopen the issue. Thanks.

[2019-06-05 19:34] #38194 closed

[2019-06-05 19:43] tannergooding commented on #38164
I haven't seen this fail since although it could be an issue with an AVX2 instruction being emitted on hardware that only supports AVX.

Will try to repro tomorrow when I remember to bring my Macbook in....

[2019-06-05 19:45] wtgodbe commented on #37689
@shravan2x did you get a chance to try this with the latest 3.0 SDK? You can download the latest installer at https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe

[2019-06-05 19:49] wtgodbe commented on #37948
@cspotcode did you get a chance to try this with the latest 3.0 SDK? You can download the installer from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe

[2019-06-05 20:30] mconnew commented on #33120
@cbenard, I know it's not what you meant, but you do have the freedom to make the decision on which code to use. The entire code required is available on reference source and there's no impediment to you using that code. I also believe that you should be able to use XmlSerializer to deserialize XML created with NetDataContractSerializer. XmlSerializer was designed to be able to deserialize arbitra

[2019-06-05 20:41] r-ramesh commented on #38130
@danmosemsft That would be a design change that impacts much more than just this Font scenario. Is there a backward compatible way to write the debugger display using public fields/properties?

[2019-06-05 20:42] bartonjs commented on #36062
@rrelyea That's the plan.

[2019-06-05 20:42] steveharter commented on #38238
The request is only for polymorphic serialize, which for round-tripping on subsequent deserialize will create JsonElement.

This means the values should always be JsonElement, and we shouldn't try to convert to int, string, etc.

cc @MarcoRossignoli

[2019-06-05 20:43] Anipik opened #38276 "Long running test hang: System.Net.Mail.Tests.SmtpClientTest.TestCredentialsCopyInAsyncContext"
`System.Net.Mail.Tests.SmtpClientTest.TestCredentialsCopyInAsyncContext` hangs randomly on `OSX.1013.Amd64.Open-x64:Release`:

[code]

https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190518.8/workItem/System.Net.Mail.Functional.Tests/wilogs

@stephentoub maybe `SmtpClient.SendMailAsync` happens before the `TcpListener.Accep

[2019-06-05 20:44] #38276 closed

[2019-06-05 20:44] Anipik commented on #38276
This is just to test the labeler tool

[2019-06-05 20:49] ahsonkhan commented on #37119
@watfordgnf, I can't assign the issue to you yet. @karelz, I have removed the up-for-grabs label. Hope that helps with queries.

[2019-06-05 21:01] Anipik opened #38277 "Add back StandardOleMarshalObject and IMarshal"
These are used by Winforms to ensure that COM calls are marshalled to UI thread. It's used by the webrowser control and in the base type for accessible controls (to permit external automation). See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references I've temporarily implemented this as a copy where I need it,

[2019-06-05 21:14] Anipik opened #38278 "Add back StandardOleMarshalObject and IMarshal"
These are used by Winforms to ensure that COM calls are marshalled to UI thread. It's used by the webrowser control and in the base type for accessible controls (to permit external automation). See https://referencesource.microsoft.com/#System/compmod/System/Runtime/InteropServices/StandardOleMarshalObject.cs,9cc1693e68a2dac7,references I've temporarily implemented this as a copy where I need it,

[2019-06-05 21:15] #38278 closed

[2019-06-05 21:21] bartonjs commented on #38260
@FailedShack Do you just want something like `CspParamters.Delete(CspParameters keyId)` to delete the key identified by the parameters?  (Similar to how CNG is modelled.  Also, all of the CSP stuff is legacy, you should really be using CNG when doing Windows-specific platform interop)

[2019-06-05 21:31] jariq commented on #22437
I surely don't know all the limitations of `X509Certificate2` class (and all its underlying layers) so please correct me if I'm wrong but I think it might be possible to use existing API to achieve this goal.

There are following extension methods already available in .NET Core 2.0+, .NET Framework 4.7.2+ and .NET Standard 2.1 :

- [`RSACertificateExtensions.CopyWithPrivateKey(X509Certificate2, RS

[2019-06-05 21:34] #38277 closed

[2019-06-05 21:36] leecow commented on #38206
This is an exercise to ensure the TPN is correct and up to date. If processes in place which ensure that then we're good go.

[2019-06-05 21:48] nguerrera opened #38279 "Consider putting System.Text.Encoding.CodePages in the shared framework"
There are currently 6 copies in SDK. See below.

It seems to be used quite a lot, and it seems to be purpose defeating that every app/component is carrying it. I think we're making apps significantly bigger more than we're benefiting from shared framework being approximately 1% smaller.

Also, it seems when you deploy as portable (no RID), you get 3 copies so 2.4 MB instead if 800 KB.

(Now there'

[2019-06-05 21:48] nguerrera commented on #38279
@ericstj @tarekgh

[2019-06-05 21:49] ahsonkhan commented on #38168
The Windows.7.Amd64.Open-x64:Debug leg fails with different results. Just adding here for context (in case it's related):
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38270~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190605.37/workItem/System.Net.Http.Functional.Tests/wilogs

[code]

From https://github.com/dotnet/corefx/pull/38270

[2019-06-05 21:51] nguerrera commented on #38279
What's the difference between lib\netstandard2.0\System.Text.Encoding.CodePages.dll and runtimes\*\System.Text.Encoding.CodePages.dll? It is quite a penalty on portable apps to need multiple copies of this 800 KB assembly.

[2019-06-05 21:52] stephentoub commented on #38168
@ahsonkhan, that's not related: that's coming from WinHttpHandler.

[2019-06-05 21:56] nguerrera commented on #38279
In 2.1 and 2.2 it was also in the ASP.NET shared framework.

[2019-06-05 21:58] stephentoub commented on #38268
You must be trying to use BinaryFormatter to serialize such a type?
cc: @ViktorHofer

[2019-06-05 22:34] tarekgh commented on #38279
the runtime version has a specific platform specific calls (i.e. the Windows runtime version is calling into kernel32 mainly for getting the default system codepage). while netstandard is not doing that and just return null as couldn't get the default codepage. maybe we can consider instead of cross compile the library, to do the magic during the runtime by detecting we are running on Windows and

[2019-06-05 22:37] FailedShack commented on #38260
@bartonjs I honestly didn't know there was an alternate cryptographic API in .NET.
Every single resource I've seen still uses `CspParameters`. It would seem like this CNG aims to be a replacement for CSP, so why isn't CSP deprecated?

In any case, since the problem actually occurs in an external library, I have no choice but to use CSP and seeing the wide adoption it has I can't help but think man

[2019-06-05 22:39] nguerrera commented on #38279
Do they all carry identical data? If you keep it out of the framework, I would suggest something figuring out a way to not put the data in more than one dll in runtimes/. This is because portable apps have to carry multiple copies. Or you could do the OS specific logic using light-up.

It's one thing to say that apps should carry it, but it seems unfortunate that apps are carrying more than one co

[2019-06-05 22:42] ericstj commented on #38279
It will likely reduce the size of the SDK to move it to the shared framework.  Granted this will grow the runtime installer, but I wonder if we could find ways to shrink that elsewhere (certainly not part of this issue, but I bet I can find 800KB if I go [hunting](https://github.com/dotnet/corefx/issues/35821)).  I'm supportive of this change.  I believe the primary reason this functionality was s

[2019-06-05 22:54] wfurt commented on #38248
This is clearly DNS lookup failure. I was tracing something this while back and sometimes OS simply returns failure. I did not find any good way aside from retry how to fix it. You can try to use NameResolution directly and check what you getting.