[2017-05-15 08:08] jchannon commented on #9728
Try this http://stackoverflow.com/questions/17643509/conflict-between-dynamic-linking-priority-in-osx/35070568#35070568

[2017-05-15 09:20] robosek commented on #18424
I’ve investigated this issue and I’ve discovered that test **GetResponse_ConnectFailure_ThrowsWebException** is the slowest one. It’s because this test tries to call some address (ftp://192.0.2.1) which actually doesn’t exist and searching this address takes too long time. I’ve switched this address to local address (ftp://127.0.0.1) and basically it’s much better right now. The second test **GetR

[2017-05-15 09:31] v-haren opened #19767 "The plugin hasn't been performed correctly: Problem on deletion failed in ci"
CI tests pass, but plugin fails to report results

[xUnit] [ERROR] - The plugin hasn't been performed correctly: Problem on deletion

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug/47/consoleFull#-7738886783554902-aff0-4799-9e92-0ada24ce2a06

[2017-05-15 10:22] luoxy123 opened #19768 "System.Net.Http.WinHttpException: %1"
I use httpclient to send http request,When I use this method ReadAsStringAsync to read content , this
exception occurs.

the netstandard version is netstandard1.3;
My system is window 10 Professional;

this is the code:
 `Var responseMessage = await HttpClient.SendAsync (Request, HttpCompletionOption.ResponseHeadersRead,
                    CancellationToken) .ConfigureAwait (false);

 var content

[2017-05-15 11:16] BreyerW opened #19769 "Add indexer to MatrixXxX es (preferably ref returning)"
I would like to be able to query any value of matrix using indexer

Like:

[code]

This is mainly convenience, but become big one if one want to get matrix property "randomly" e.g. in `for` loop. In this case one must write pretty big `if` `else` block or `switch`. `ref` might be useful to be able to send matrixes to graphic libraries efficiently and conveniently.

Next use case is migrating betwe

[2017-05-15 12:59] hugosmarques opened #19771 "Port DatasetExtensions to .NET Core"
Anyones knows if .AsEnumerable() propertie will be available for datatable on .net core

[2017-05-15 14:11] stephentoub commented on #19466
@Jiayili1, understood, I was asking about the build that was used, though, and wondering when it was built / from what sources so that I could know whether the hang was potentially caused by the test bug fixed in https://github.com/dotnet/corefx/pull/19755.

[2017-05-15 14:23] stephentoub commented on #19765
cc: @Maoni0

[2017-05-15 14:31] #19287 closed

[2017-05-15 14:45] stephentoub commented on #9975
@mmitche, when do we expect this to be up and running?

[2017-05-15 15:21] bartstinson opened #19773 "Unload assembly from runtime"
Hello,

Now that AppDomains have been removed from .NET Core, how does one unload an assembly from memory once it has been loaded? AssemblyLoadContext has an Unloading event but no way to programmatically trigger the unload of an assembly

[2017-05-15 15:25] steveharter commented on #19307
@Priya91 I just run them from the folder.
[code]

[2017-05-15 15:26] mikasoukhov opened #19774 "Different behavior for x86 and x64 in passing structs"
Code below for x86 print

handle( StrctInDlgt.Program, ( i:0, o: ), 123 )

for x64

handle( StrctInDlgt.Program, ( i:123, o:123 ), 123 )

Looks like for 64 bits value types args passed as a reference on stack.

[code]

[2017-05-15 15:36] ericstj opened #19775 "NETStandard.Library.NETFramework incorrectly includes sources."
It looks like Pack isn't splitting out the symbols package.

[2017-05-15 15:36] ericstj commented on #19775
Created from https://github.com/dotnet/standard/issues/344

[2017-05-15 15:38] davidfowl commented on #19773
You can't right now AFAIK.

[2017-05-15 15:49] danmosemsft commented on #19774
The behavior is the same in full framework. I am not sure what the correct behavior should be: this may be more of a question for the Roslyn folk. @stephentoub ?

[2017-05-15 15:49] danmosemsft commented on #19773
@gkhanna79 can you confirm that this is not expected to be supported in Core?

@bartstinson what are you trying to achieve?

[2017-05-15 15:51] weshaggard commented on #19694
I'm fine with adding those annotations as well. It is probably worth doing in .NET Standard as well so I've filed https://github.com/dotnet/standard/issues/346 to do that.

[2017-05-15 15:54] bartstinson commented on #19773
@danmosemsft I need the ability to unload a dll assembly because I may have an updated version of that dll to load and I don't want to tear down the entire process to do so. I was able to do this with AppDomains before and with AppDomains gone in .NET Core there doesn't seem to be a replacement.

[2017-05-15 15:57] davidfowl commented on #19773
@bartstinson Is that dll generated at runtime or does it have a fixed name?

[2017-05-15 15:57] danmosemsft commented on #19771
This is a request for `DataTableExtensions.AsEnumerable` which is in System.Data.DataSetExtensions.dll.

@saurabh500 is this available for Core? I don't see it in our sources or NuGet.

[2017-05-15 15:59] danmosemsft commented on #19764
@Jiayili1 please be sure to set the "test-run-" label.

[2017-05-15 16:00] danmosemsft commented on #19763
@ViktorHofer it's expected that c:\ isn't visible from appcontainer. Test tweak

[2017-05-15 16:00] mmitche commented on #9975
@stephentoub The .Open nano Helix queue should be available this week, and then my pipeline PR will be merged and it will be available.

[2017-05-15 16:00] danmosemsft commented on #19762
@ViktorHofer another test writing to %cd%

[2017-05-15 16:04] jkotas commented on #19773
You can load updated copy of the .dll in a new assembly load context (https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md), and keep the old copy loaded. Of course, this only works if you do not keep doing it again and again.

Unloading is not supported in .NET Core today. https://github.com/dotnet/coreclr/issues/552 is the proposed plan to add it.

[2017-05-15 16:05] ViktorHofer commented on #19763
Thanks. I'm going through all the UAP tests and haven't yet touched that one. Will do.

What is currently not expected to work, is basically everything with RemoteExecutor and Localhost...

[2017-05-15 16:11] jkotas commented on #19774
This issue was moved to dotnet/coreclr#11611

[2017-05-15 16:11] #19774 closed

[2017-05-15 16:11] jkotas commented on #19774
This is RyuJIT bug. Moving to CoreCLR repo.

[2017-05-15 16:12] ViktorHofer commented on #19762
@danmosemsft I think we shouldn't already file issues for uap/uapaot runs... We have to many rough edges right now (RemoteExecutor, Localhost). IMO we should first fix in the Infra and enable UAPAOT to run inside an AppContainer...

cc @wesgaggard

[2017-05-15 16:18] pjanotti commented on #19366
@karelz @ianhays last week I assumed that you guys were at \\BUILD... perhaps now it is a good time to get back to this :-)

[2017-05-15 16:18] #19179 closed

[2017-05-15 16:20] karelz commented on #19366
@ianhays is OOF sick today. @JeremyKuhne can you please help review the docs change? We can then move it into docs repo. Thanks!

[2017-05-15 16:29] madsiberian commented on #11978
Do I understand it correctly that only GetResponseHeaderCharBufferLength method should be updated? And GetResponseHeader & GetResponseHeader must be left intact?
Sorry for delay: I never used Perf before and have to learn it.

[2017-05-15 16:30] stephentoub commented on #9975
Thanks, @mmitche.

[2017-05-15 16:39] stephentoub commented on #19699
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/47
and here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/lastCompletedBuild/testReport/

[2017-05-15 16:41] stephentoub commented on #19702
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/46/consoleText

[2017-05-15 16:42] stephentoub commented on #7812
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/46/consoleText

[2017-05-15 16:46] ericstj opened #19781 "Remove sources from our symbol packages"
We've gone to a lot of effort to preserve building symbols packages including source in those packages.

Certainly we need to flow symbols to core-setup in our transport packages so that we can produce symbols zips for shared framework, that is not in question.

The things that are in question are the following:
1. Do we need symbols.nupkgs at all?
2. If we do produce them, do they need to contain

[2017-05-15 16:59] bartstinson commented on #19773
@davidfowl dll has fixed name.

@jkotas Thanks for the link. Are there any sample code or guides for how to use this LoadContext?

[2017-05-15 17:08] #19629 closed

[2017-05-15 17:10] dagood commented on #19781
I think we need a symbol package for any package that anyone will consume DLLs from. Maybe that means fewer CoreFX packages need symbol packages than what we have today, but I believe there are some CoreFX packages that aren't part of the shared framework that will still need symbol packages.

@markwilkie, you mentioned https://github.com/dotnet/roslyn/issues/12759 as a way to source link our PDBs

[2017-05-15 17:14] saurabh500 commented on #19771
@danmosemsft DataSetExtensions was not ported to Core.

[2017-05-15 17:17] lmolkova commented on #19689
New behavior was introduced in #19659 that causes this test to fail. I'll submit fix later today.

[2017-05-15 17:25] weshaggard opened #19783 "UWP Compability with .NET Standard System.Net.Security"
@taoyouh commented on [Sat May 13 2017](https://github.com/dotnet/standard/issues/343)

Though System.Net.Security.SslStream is not in the .Net Standard 1.4, but the NuGet package System.Net.Security supports .NET Standard 1.3. So it's supposed to support Universal Windows Platform 10.0. I installed the package to a UWP project targeting 10.0.15063 and try to reference it, only getting the followi

[2017-05-15 17:27] AtsushiKan opened #19784 "FileVersionInfo.InternalName on Unix."
On Unix, FileVersionInfo.GetVersionInfo() unconditionally sets the FileVersionInfo.InternalName property to be the same as a FileVersionInfo.OriginalFileName property.

On Windows. these are two distinct properties that can be set individually.

[2017-05-15 17:35] kouvel opened #19785 "ThreadPoolBoundHandle.BindHandle should not be supported on Unix"
ThreadPool.BindHandle always returns false on Unix, so ThreadPoolBoundHandle.BindHandle would fail the assertion. It should throw PNSE.

[2017-05-15 17:37] steveharter commented on #19702
We can try lowering _socket_instances_ variable from 200 to 100 to see if this has an impact. If not, the test should be disabled.

[2017-05-15 17:48] jkotas commented on #19773
If you just need to load a single assembly, a good sample is implementation of `Assembly.LoadFile` .NET Standard 2.0 API using AssemblyLoadContext:

https://github.com/dotnet/coreclr/blob/b38113c80d04c39890207d149bf0359a86711d62/src/mscorlib/src/System/Runtime/Loader/AssemblyLoadContext.cs#L471
https://github.com/dotnet/coreclr/blob/3ababc21ab334a2e37c6ba4115c946ea26a6f2fb/src/mscorlib/src/System/

[2017-05-15 17:49] kouvel commented on #19785
Since ThreadPoolBoundHandle is now type-forwarded to S.P.CoreLib as of https://github.com/dotnet/corefx/pull/19597, instead of S.T.Overlapped being a PNSE assembly

[2017-05-15 17:50] karelz commented on #11978
@CIPop @davidsh can you please advise?

[2017-05-15 17:54] tmat commented on #17116
We are finishing implementation of Portable PDBs for Desktop FX 4.7.1

I'd like to add
[code]

to Desktop FX in the same check-in. Any objections?

@noahfalk FYI

[2017-05-15 17:56] jaredpar commented on #17116
@tmat can you expand on what support went into desktop for portable PDB?  Hard to understand where this may get used based on the limited information in the comment.

[2017-05-15 17:59] tmat commented on #17116
@jaredpar Currently there is no support for Portable PDBs in Desktop FX. We are finishing support in stack traces for portable and embedded PDBs for 4.7.1. Features that generate code at runtime (such as scripting) would benefit from being able to detect whether the runtime supports Portable PDBs or not, as they could emit Portable PDBs instead of Windows PDBs. Emitting Portable PDBs has perf bene

[2017-05-15 18:03] danmosemsft commented on #19771
Is it something worth considering - would it be a fit for CoreFX? We have had success with dumping desktop sources and community folk driving the work.

This is the only ask I have seen for it though.

[2017-05-15 18:03] jcouv commented on #17116
@tmat, please start an new CoreFX API proposal (linked to this one). Every new feature the runtime declares will go through new API discussion/review.

[2017-05-15 18:07] karelz commented on #17116
Do you need it in .NET Core 2.0? We should be forking into rel/2.0.0 branch today.

[2017-05-15 18:10] bartstinson commented on #19773
@jkotas Thanks. That helps a lot. Will monitor the threads for unload functionality

[2017-05-15 18:10] #19773 closed

[2017-05-15 18:24] tmat commented on #17116
@karelz It would be nice to have it there too. Not strictly necessary since there are other ways to detect Core CLR, but it would certainly simplify things. I can prepare PR in a few minutes.

[2017-05-15 18:29] geleems commented on #19708
@NickCraver After running `build.cmd -BuildNumber 12345`, I got all unit test failed with the same error message `Dapper.Tests.QueryMultipleTests.SO35554284_QueryMultipleUntilConsumed [FAIL]`
Do you have any idea what config I should setup additionally?
[code]

[2017-05-15 18:29] stephentoub commented on #19307
I'm working on this now...

[2017-05-15 18:31] BreyerW commented on #19769
Ok, did some small testing and it turns out that sample above wont work because one cant return by ref `this` if it is inside `struct` (and `Matrix` is). So i searched and coded potential replacements and found at least one:

[code]
I made extremely simple struct like above and populated it with random numbers:

`var test=new testStruct() { field1 = 7, field3 = 67 };`

And console show expected va

[2017-05-15 18:34] mellinoe commented on #19769
Hi @BreyerW , thanks for the suggestion.

I think it is a reasonable addition. Most other matrix implementations do provide an indexer for convenience. I looked at OpenTK, SharpDX, and UnityEngine's Matrix types. GLSL and HLSL also allow matrix values to be indexed in a similar way.

I'm not sure that we can provide a by-ref indexer, though. I don't fully understand the safety implications around

[2017-05-15 18:35] danmosemsft commented on #18760
@ViktorHofer

[2017-05-15 18:36] tmat commented on #17116
OK.

[2017-05-15 18:36] NickCraver commented on #19708
@geleems Dapper assumes a local SQL Server running (since we have to have a database to hit). If you fire one up, it uses your login and runs in tempdb.

[2017-05-15 18:38] tmat opened #19788 "Add System.Runtime.CompilerServices.RuntimeFeature.PortablePdb"
Currently there is no support for Portable PDBs in Desktop FX. We are finishing support in stack traces for portable and embedded PDBs for 4.7.1. Features that generate code at runtime (such as scripting) would benefit from being able to detect whether the runtime supports Portable PDBs or not, as they could emit Portable PDBs instead of Windows PDBs. Emitting Portable PDBs has perf benefits.

In

[2017-05-15 18:39] tmat commented on #17116
Portable PDBs: https://github.com/dotnet/corefx/issues/19788

[2017-05-15 18:39] stephentoub commented on #19307
Figured it out... it's a one-line bug in SocketAsyncContext.Unix.cs for the case involving a list of buffers... will put up a PR to fix.

[2017-05-15 18:40] bartonjs commented on #19718
Since this will enable a workaround on macOS where none currently exists, this seems pretty worthwhile for 2.0.  Of course, it's entirely experimental, so it's possible that it can't be done at a shipping quality in the time remaining.

[2017-05-15 18:43] tmat commented on #19788
@karelz What's the process for approving this API for Desktop FX 4.7.1?

[2017-05-15 18:44] tmat commented on #19788
/cc @noahfalk

[2017-05-15 18:48] AtsushiKan opened #19789 "Need Reflection api to enumerate type-forwards in an assembly."
**Proposed Api**

[code]

Gets the Types exposed by this assembly but defined in another assembly.

If one or more Types fail to load (perhaps because the forwardee assembly cannot be found), this api throws a **ReflectionTypeLoadException**. The **ReflectionTypeLoadException**'s **Types** and **LoaderExceptions** property can be queried to recover the Types that did successfully load. (Works simi

[2017-05-15 18:48] vsccarl opened #19790 "Importing Sdk.props results in circular dependency on web app creation"
In the latest vsuml (26515.00) I'm seeing the below error when creating a new ASP .NET Core Web Application (both .NET Core and Framework) .NET Core 1.1. The solution does not successfully contain the new project after clicking ok.

![image](https://cloud.githubusercontent.com/assets/12900364/26073626/45a7221a-3964-11e7-8b36-8c02041aa7ba.png)

[2017-05-15 18:49] bartonjs commented on #9728
It might be possible to bring the libcurl+openssl1.0 workaround back for 2.0. https://github.com/dotnet/corefx/issues/19718 tracks the work.  (Client authentication still won't work on macOS with HttpClient, because the bridge only reliably goes one way)

[2017-05-15 18:49] AtsushiKan commented on #19789
cc @slozier, @MichalStrehovsky , @davidwrighton

Will open for discussion for a week before taking to api-ready.

[2017-05-15 18:53] BreyerW commented on #19769
You have valid concerns of course. However if there is no performance loss (there might be a problem since `DangerousCreate` receive `object` which probably imply boxing - although worth note that is only one possible implementation - noone said there isnt more) and no additional complexity (example in 2nd post seems simple enough and there shouldnt be problem with safety since span is snapshotted

[2017-05-15 18:59] karelz commented on #9728
If you hit this and need the workaround, please go ASAP and vote for the issue #19718 which @bartonjs created. Thanks!

[2017-05-15 19:02] karelz commented on #19788
@tmat email fxdc. @leecow might also help.

[2017-05-15 19:13] danmosemsft commented on #19749
Generally overrides are filtered out of API diffs as removing an override is an implementation issue, not a breaking change. Sometime (often?) the override is intentionally omitted, because previously it didn't do anything or is no longer necessary. In short, we rely on having good tests because API scans are too noisy. @weshaggard do you have anything to add to that?

[2017-05-15 19:15] danmosemsft commented on #19749
Also as I mentioned elsewhere, we know there are a lot of omissions from SqlClient. (https://github.com/dotnet/corefx/issues/17126). There was insufficient time to fill it out.

[2017-05-15 19:16] karelz commented on #19749
@danmosemsft can we review the missing overrides now? Based on 3 regressions and low test coverage, I think it is our best chance to retain high-quality ...

[2017-05-15 19:18] mellinoe commented on #19769
Yes, that would be a problem -- you're boxing on every call to the indexer. You could equivalently (?) use this pattern to avoid that:
[code]

Again, I don't think this is a generally safe pattern to use for a public API. Without the "ref return" part, I think we could move forward with the proposal.

@tannergooding Any thoughts on this one?

[2017-05-15 19:24] ilya-bin commented on #16649
Hi @sepidehMS ,
I'd like to participate in the issue but never did opensource before.
I've just read all the related docs and style guides.

[2017-05-15 19:26] #19790 closed

[2017-05-15 19:26] danmosemsft commented on #19790
Issue moved to [dotnet/project-system #2173](https://github.com/dotnet/project-system/issues/2173) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-15 19:28] danmosemsft commented on #19768
Can you create a small repro case?
Also I don't see WinHttpException in the output above.

[2017-05-15 19:32] stephentoub commented on #19784
@AtsushiKan, can you elaborate?  What do you expect InternalName to be set to in the Unix implementation? i.e. currently it's set here:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.FileVersionInfo/src/System/Diagnostics/FileVersionInfo.Unix.cs#L84
[code]
What are you saying that should be instead?

[2017-05-15 19:33] danmosemsft commented on #19033
There are probably several other exceptions that could usefully include paths.

[2017-05-15 19:34] danmosemsft commented on #18759
@JeremyKuhne if this is just tracking port, I believe the protocol is to close it?

[2017-05-15 19:38] stephentoub opened #19793 "UseCallback_BadCertificate_ExpectedPolicyErrors failing in CI with "a security error occurred""
I thought we had an issue for this but I can't find it, so I'm opening a new one.  Please consolidate as necessary...

e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/72/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug_prtest/7/consoleText
[code]

[2017-05-15 19:40] garfbradaz opened #19794 "New Contributor - Build-Tests Fails on Clean Clone"
Hey Guys,

I've decided to help out on the dead code issue (#17905), I have followed the repo's instructions on forking; cloning and building the root repository, and I'm finding test errors before I even start on changes required for #17905.

Here are the errors I have received when running **build-test.cmd** in root:

Build FAILED.

       "c:\dotnet\corefx\src\tests.builds" (default target) (1)

[2017-05-15 19:43] jkotas commented on #19769
This pattern has GC hole. It will caused your app to crash in the GC intermittently. Do not ever do this.

[2017-05-15 19:45] AtsushiKan commented on #19784
I don't have a prescription for a fix. This is to track the issue as we have to condition the corefx test onit.

[2017-05-15 19:46] stephentoub commented on #19784
Let me rephrase.  What is the problem?  In what situation would you expect these to be different on Unix?

[2017-05-15 19:48] mellinoe commented on #19769
@jkotas Thanks for the confirmation.

[2017-05-15 19:49] AtsushiKan commented on #19784
It's exposed in the latest revision to PR (https://github.com/dotnet/corefx/pull/19778). Once that's merged, I can put in a more permanent link. The summary version is, you build a managed assembly as "Foo.dll", then use file operations to rename it "Foo.ildll", Windows and Unix report these two properties differently. Windows reports them as "Foo.dll" (which seems more correct to me) and Unix rep

[2017-05-15 19:50] sepidehMS commented on #16649
@ilya-bin Thank you for your interest in helping with this issue :)
All the existing tests for System.Xml.Schema are [here](https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests/XmlSchema). You can add new tests under any of these two test projects or create a new test project, if that makes more sense, based on what the test is doing. After you write the new tests, you can sub

[2017-05-15 19:52] hugosmarques commented on #19771
@saurabh500 did you know if it will be available in the future? I have to know because if this is not available I have to abandon the .net approach.

[2017-05-15 19:55] tmat commented on #19788
@marek-safar What's the process of adding APIs to Mono? If we added this API to 4.7.1 should it also be added to Mono? Do you have a release synchronized with Desktop FX?

[2017-05-15 20:01] morganbr commented on #19119
Here's a breakdown of work remaining:
- [ ] Remove [Serializable] from types that should no longer be serializable
    - [ ] CoreFX
    - [ ] CoreCLR
    - [ ] CoreRT
- [ ] Add platform-agnostic tests for every remaining serializable type
- [ ] Make ISerializable implementations on non-serializable types throw PNSE
    - [ ] CoreFX
    - [ ] CoreCLR
    - [ ] CoreRT
- [ ] Remove unnecessary attrib

[2017-05-15 20:11] stephentoub commented on #19784
Oh, so it's not that you expect the values to be different from each other, it's that you expect both properties to be the same but to have a different answer on Unix than they're currently giving.

[2017-05-15 20:13] schen381 commented on #19793
It's same one as #7812. https://github.com/dotnet/corefx/issues/7812#issuecomment-297161505 I'm investigating this issue

[2017-05-15 20:21] CIPop commented on #19699
Thanks @stephentoub , the test is consistently failing - I'm investigating the cause.

[2017-05-15 20:25] CIPop commented on #11978
@madsiberian thanks for your interest. Yes, I believe that's true: you'll need to first understand the Win32 API (see MSDN referred to in my [comment](https://github.com/dotnet/corefx/issues/11978#issuecomment-248983296)) then figure out where `char` (2-byte wide) is used instead of byte (1-byte wide).

Running the outerloop tests on Windows should be sufficient to check that everything works as e

[2017-05-15 20:37] karelz commented on #19788
BTW: Mono is trying to reuse CoreFX source libraries, so it will be likely in the same boat as .NET Core.

[2017-05-15 20:39] karelz commented on #19794
@mellinoe @weshaggard can you please help?

[2017-05-15 20:45] jkotas commented on #19769
This is described in detail in https://github.com/dotnet/roslyn/issues/5233 - look for "`this` in structs" paragraph.

[2017-05-15 20:45] Workshop2 commented on #11100
I have seemed to have encountered this via a perfect storm.

I am using the Azure Functions preview with a combination of both Azure Key Vault (2.0.6) and Octopus Client (4.15.3).

I have tried upgrading to `System.Net.Http` to `4.3.2` however it still fails when trying to use `Key Vault`.

Any tips?

@karelz

[2017-05-15 20:47] Maoni0 commented on #19765
You are inducing gen2 GCs, so GC doesn't participate in deciding what's live and what's dead - it's purely determined by the user code. If you use the !gcroot sos command, it should shed some light as to what's holding an object alive.

[2017-05-15 20:51] karelz commented on #11100
Can you please make sure that the assembly from 4.3.2 nuget package is really used at runtime? (it was fixed in 4.3.1)

[2017-05-15 20:52] saurabh500 commented on #19771
The source for DataSetExtensions is at https://github.com/Microsoft/referencesource/tree/master/System.Data.DataSetExtensions

We haven't planned porting this particular assembly to .Net Core. However I do agree with @danmosemsft idea about having the community bring the code to .Net Core. I don't see any platform specific dependencies in the code so this should be relatively simple.

[2017-05-15 20:53] saurabh500 opened #19797 "SqlConnection.GetSchema is missing override in SqlClient"
The SqlConnection.GetSchema() API implementation is missing from SqlConnection

[2017-05-15 20:54] saurabh500 commented on #19749
SqlConnection.GetSchema() is another API which is missing. I have opened https://github.com/dotnet/corefx/issues/19797

[2017-05-15 20:59] danmosemsft commented on #19771
Would we be open @saurabh500 to having it in CoreFX? If so, we can invite a PR to get things started.

[2017-05-15 21:02] mellinoe commented on #19794
Hmm, it seems like some of the tests do not like how your machine is set up. Perhaps there is something unusual about your network or domain settings that is interacting badly with the tests. I wouldn't be surprised if it's the same underlying issue causing all of the test failures. For example, it seems really unusual that this test would be failing:

https://github.com/dotnet/corefx/blob/master/

[2017-05-15 21:06] jkotas opened #19799 "Behavior of arraySegment.ToArray() has changed"
_From @jodavis on May 15, 2017 20:25_

I was using `Enumerable.ToArray(this IEnumerable)` on an ArraySegment, which calls `ArraySegment.GetEnumerator()`. This did not throw any exception when the underlying array is null, so `ToArray()` would return an empty array.

Now that ArraySegment has its own `ToArray()` function, my code is calling that one (with no code change on my part). `ArraySegment.T

[2017-05-15 21:08] johnkors commented on #19535
If anyone is interested, I created a CLI extension/tool to check for such packages via `dotnet retire`.

https://github.com/RetireNet/dotnet-retire  + [blog post](https://blogg.blank.no/hunting-for-vulnerable-nugets-in-net-core-3c37f30e467a)

[2017-05-15 21:09] JeremyKuhne commented on #18759
It is currently in NetFX vnext.

[2017-05-15 21:09] #18759 closed

[2017-05-15 21:13] jkotas commented on #19799
@jodavis Similar source code breaking changes when upgrading to newer profile with more APIs are by design, unfortunately. Otherwise, we would not be ever able to add any new APIs.

There is decent chance that people may hit similar collisions when upgrading to .NET Core 2.0 because of the .NET Standard 2.0 API added back will take precedence over the workarounds for missing APIs. Perhaps we may w

[2017-05-15 21:14] #12190 closed

[2017-05-15 21:15] danmosemsft commented on #17126
Here are the members missing from Core that are overrides. I didn't list them above as they're not relevant to API compat. However, when they're missing it can suggest implementation is missing.

[code]

[2017-05-15 21:16] danmosemsft commented on #17126
The lists above are large enough that we should basically consider SqlClient incomplete and decide whether we want it to be complete (or if not exactly which part is supported) rather than adding in API piecewise from these lists.

[2017-05-15 21:16] NickCraver commented on #19749
@danmosemsft

I think the point is that these aren't in that list. There's another class here that's been missed, and they are regressions. I think most of them stem from `DataTable` being not-a-thing early on and them coming back, with some edges missed. They were added to the contract but *effectively* aren't there. To me, there's an obvious mismatch here.

IMO, these APIs should ship in `netsta

[2017-05-15 21:23] omajid commented on #12190
🎉

[2017-05-15 21:34] NickCraver commented on #17126
I went through these vs. reference source, can nuke these from the list (they aren't overridden in NetFx):
[code]

[2017-05-15 21:36] NickCraver commented on #17126
Can also remove `M:System.Data.SqlClient.SqlClientFactory.CreateDataAdapter` - it landed a few days ago in https://github.com/dotnet/corefx/commit/88f562c80d8d78218ccc7b4be8b23ceab712a5f6

[2017-05-15 21:40] CIPop commented on #19794
I think that the AD configuration is OK, just that the machine was not able to connect to its DC at that particular point in time while the OS expected it to be able to do that.

If the machine is taken outside of a corpnet the credentials should be cached and the test should pass. In this case, could it be possible that the machine still believes it's in corpnet but the connection to the domain c

[2017-05-15 21:42] CIPop commented on #19794
Just saw the other failures. This explains it:
[code]

The machine has most likely lost the trust relationship as it was outside of the domain network for more than the token expiration time. You should also see issues during login.

[2017-05-15 21:45] stephentoub commented on #19702
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/73/

[2017-05-15 21:45] #19307 closed

[2017-05-15 21:53] hugosmarques commented on #19771
Well guys I do not have words for your good vibe in helping me. I will be very thankful if this is implemented, because right now for me is impossible to Port all my code to EF, I have thousands of line code and I use datatable with Linq. If is simple as @saurabh500 says I'm praying that it's implemented.

[2017-05-15 21:56] CIPop commented on #16516
@karelz Sure, I'll give this a try.

I found this for coreclr: https://github.com/dotnet/coreclr/commit/a97eacb1813191e07b2f9b12b58ecb4ec72bb653

@bartonjs how exactly do I enable this flag for CoreFX? (.Net Framework requires a reg-key change - is it through the coreclr script above?)

[2017-05-15 21:58] bartonjs commented on #16516
It uses an environment variable.  So:

set COMPlus_GCStress=3
[run the test]

It'll be really, really, really slow :)

[2017-05-15 22:02] saurabh500 commented on #19749
@NickCraver DataTable/DataSet and friends are available in System.Data.Common which is a part of netstandard2.0. However System.Data.SqlClient has been removed from netstandard and is not a part of it. System.Data.SqlClient is now another ADO.Net DB provider which doesn't fall into the netstandard API surface area and is a netstandard2.0 compliant library

This decoupling allows SqlClient to be sh

[2017-05-15 22:08] stephentoub commented on #16516
So slow that you probably want to run just that test using corerun explicitly, rather than using msbuild /t:rebuildandtest, etc., as msbuild itself would end up running in that GCStress mode.

[2017-05-15 22:08] NickCraver commented on #19749
@saurabh500 Well yes, but I'm saying *how a user sees it*. They upgrade to `netstandard2.0`, grab the `netstandard2.0` SqlClient, and it breaks. They don't make the distinction of what is split into what or ships when like we do here.

I understand you, and you are totally correct, but the reality is what most users simply won't care. IMO, SqlClient should not ship a non-pre-release `netstandard2.

[2017-05-15 22:10] danmosemsft commented on #19749
@NickCraver I hear you.

For overrides, as you saw I appended a list into #17126. Even that doesn't catch the IDbDataParameter case because which is a bit unusual because the members were present but just ignored because the base class implemented it explicitly. All these are technically API compatible so they don't show up in eg https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBase

[2017-05-15 22:12] danmosemsft commented on #19771
@karelz fyi another port-to-core request.

[2017-05-15 22:21] geasi commented on #9966
As proposed by Damien_The_Unbeliever in this post (https://stackoverflow.com/questions/39013264/tripledes-16-byte-not-working/39013863#39013863), I've repeated the first 8 bytes to form a valid 24 bytes key and it worked.
This is a work around but works for now.

[2017-05-15 22:24] stephentoub commented on #19793
Ok, will close as a dup of #7812.

[2017-05-15 22:24] #19793 closed

[2017-05-15 22:29] geleems commented on #19708
@NickCraver Thanks. I ran localdb, and was able to kick off the tests.
But it seems it does not hit the `Dapper.Tests.ParameterTests.DataTableParametersWithExtendedProperty()` test. I added `Console.WriteLine("*********")` line to see if the test was executed, but it does appear to the console.
Do you have any idea why the test does not run?
[code]

[2017-05-15 22:37] shmao opened #19804 "XmlSerializer Tests Failed to Build on UWP"
XmlSerializer Tests failed to build on UWP.

[2017-05-15 22:37] CIPop commented on #16516
Nothing failed... Selectively compiled only the StreamToStream tests and ran them with GCStress:

[code]

I'll run the full Security test suite with this enabled next.

[2017-05-15 22:40] karelz commented on #19771
Moving to Future.

Next step: If there are folks interested, we can dump the code and let community make the code build, add tests, then ship it. Marking as up-for-grabs.

[2017-05-15 23:10] CIPop commented on #16516
Nothing interesting when running the entire test suite:
`   System.Net.Security.Tests  Total: 140, Errors: 0, Failed: 0, Skipped: 7, Time: 855.401s`

I am still waiting for a CI failure on a Debug build which should give us more information on the state of the process.

[2017-05-15 23:19] sepidehMS opened #19806 "XmlDownloadManager HttpRequest in Core vs. WebRequest in Full Framework"
XmlDownloadManager.GetNonFileStream uses HttpRequest on Core, whereas it uses WebRequest in Desktop. This change was originally made at time of porting Xml because WebRequest was not available then.
This causes cases like `XmlReader.Create("ftp://www.bing.com")` not be acceptable and hit the following error:  `System.Net.Http.HttpRequestException: Only 'http' and 'https' schemes are allowed.`

The

[2017-05-15 23:23] safern commented on #19806
Difference in behavior in between Core and Full Framework should be 2.0? @danmosemsft

[2017-05-15 23:27] JeremyKuhne commented on #19738
@zamont Is changing this for System.Private.Corelib in ProjectN- I assume the shared folder will sync to CoreCLR?

[2017-05-15 23:28] davidsh commented on #19709
@stephentoub Is this new API being proposed for NetStandard2.0 as well?  If so, this new API will need to be done for .NET Framework vNext as well (inbox System.Net.Http.dll).  @AlexGhiondea FYI.

[2017-05-15 23:34] JeremyKuhne commented on #19366
I'm OK with the verbiage, not sure on procedure for moving forward.

[2017-05-15 23:35] davidsh commented on #19783
System.Net.Security will be available for UWP platform in .NET Core 2.1 release timeframe.

[2017-05-15 23:39] jkotas commented on #19738
You should fix this in CoreCLR and let it propagate to CoreRT/ProjectN from there.

[2017-05-15 23:44] karelz commented on #17126
I updated all the lists and merged them into master list in top post with help from @ViktorHofer.
Thanks @NickCraver for verification!

[2017-05-15 23:45] danmosemsft commented on #19806
Yes 2.0

[2017-05-15 23:45] zamont commented on #19738
I can hold off on checking in my ProjectN change until the change in CoreCLR propagates to CoreRT/ProjectN (my changes depend on SetThreadErrorMode existing)

[2017-05-15 23:54] weshaggard commented on #19788
The RuntimeFeature API isn't slated for netstandard yet, at least not netstandard2.0. It would be good to get it into .NET Framework 4.7.1 however.

[2017-05-15 23:54] jkotas commented on #19738
@zamont Yes, it would be useful - it will avoid the conflicts. There is number of extra changes needed in CoreCLR in addition to what your delta has.

[2017-05-15 23:57] NickCraver commented on #19708
@geleems I only see the `netstandard1.3` run - are you sure you're on the `netstandard2` branch? It *looks* like you're testing current `master`.

[2017-05-15 23:57] karelz commented on #19366
Either move the bug, or file a new one in dotnet/docs - post the text change there, link this issue as "it was approved by area experts"
@pjanotti do you want to create it?

[2017-05-15 23:58] JeremyKuhne commented on #19738
I'll update System.Private.Corelib here then (as a start). It doesn't look like the native bits are shared?

[2017-05-16 00:01] taoyouh commented on #19783
So I think it is currently unsafe to reference a .NET standard library from a UWP project? What about Xamarin?

[2017-05-16 00:08] busbina commented on #5593
@danmosemsft Is there a bug\feature started for <msxsl:script> support?

[2017-05-16 00:14] krwq commented on #5593
cc: @sepidehMS

[2017-05-16 00:24] karelz commented on #19709
I don't think it should go into .NET Standard 2.0, just into .NET Core 2.0.

[2017-05-16 00:25] divega commented on #17126
AFAR, `T:System.Data.SqlClient.SqlProviderServices` is defined in System.Data.Entity.dll in .NET Framework even if it is part of the SqlClient namespaces. It is part of the EF provider model for old versions of EF that were part of .NET Framework. I don't think it makes sense to have it in this list.

[2017-05-16 00:26] divega commented on #17126
@karelz @danmosemsft is there a similar list for System.Data.Common or are those APIs complete?

[2017-05-16 00:32] pjanotti commented on #19366
@karelz ok, I will do it (maybe tomorrow)

[2017-05-16 00:48] sepidehMS commented on #5593
@busbina Currently there is no plan to add msxsl:script support and it's not being tracked by an issue right now. You could file a bug with your scenario and we will make a decision based on popularity :)

[2017-05-16 00:50] karelz commented on #17126
@divega's API moved into "By Design missing" section.
@ViktorHofer @danmosemsft can help create similar list for other namespaces.

[2017-05-16 00:51] karelz commented on #16516
If it didn't repro locally with GCStress (on release), let's move it to Future.

[2017-05-16 00:58] hughbe commented on #18483
@safern were you looking into this? I ask as HttpListener has a bunch of tests that aren't running on netfx right now so it's harder to say with confidence there are no regressions.

[2017-05-16 01:00] safern commented on #18483
I haven't looked deep into this as we had higher priorities, but I can take a look at this in the few next days.

[2017-05-16 01:04] ViktorHofer commented on #17126
Outside of the System.Data.SqlClient scope is see these members missing:

[code]

[2017-05-16 01:18] shmao opened #19809 "[UWP] XElement Tests Failed"
The following tests failed on UWP. The tests failed in both CodeGen mode and ReflectionOnly mode.

[code]

CodeGen callstack

[code]

ReflectionOnly callstack,

[code]

[2017-05-16 01:19] corivera opened #19810 "MARS async read timeouts in Entity Framework tests with parallel testing enabled"
When using a managed SNI enabled SqlClient in Entity Framework tests, some tests in EFCore.SqlServer.FunctionalTests can take over a minute to complete when using MARS while XUnit test parallelization is enabled. When using the LongRunning task continuation option in SqlClient async reads, these tests runs go from over a minute to less than 10 seconds. We need to investigate the underlying threadi

[2017-05-16 01:21] corivera commented on #19810
CC @saurabh500 @divega

[2017-05-16 01:22] shmao opened #19811 "XmlSerializerTests.Xml_KnownTypesThroughConstructorWithArrayProperties Failed"
Test `XmlSerializerTests.Xml_KnownTypesThroughConstructorWithArrayProperties` failed on UWP when using Sg.

[code]

[2017-05-16 01:25] divega commented on #17126
@ViktorHofer just to make sure, are you saying this list + the list at the top are the full API diff?

From what I know, the whole of System.Data.Odbc is still missing (although the code was ported, I believe we are not producing the package).

It might help me understand if I know exactly are you diffing and excluding.

[2017-05-16 01:25] juepiezhongren commented on #5766
@Mike-EEE @terrajobst @terrajobst @cwensley @mellinoe
I have created a issue in Xaml Standard.
https://github.com/Microsoft/xaml-standard/issues/57

[2017-05-16 01:32] ViktorHofer commented on #17126
I updated the above list. This should now be the full diff between netcoreapp20 and netfx461. Please excuse the mixed formatting.

[2017-05-16 01:36] stephentoub commented on #19709
I'm proposing it for core, for now at least.

[2017-05-16 01:46] Jiayili1 commented on #19466
@stephentoub the build is 20170515.01, but in build 20170516.01, test result are generated, but all are fire item, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170516.01/workItem/System.Net.HttpListener.Tests

[2017-05-16 01:57] ViktorHofer commented on #17126
We ignored TypesMustExist errors in other namespaces as they weren't goal NS2.0. You can find the diff checked in here:
- https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt
- https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt

This is the raw output we use for our validation.

[2017-05-16 02:02] saurabh500 commented on #19708
@geleems I could get the tests running

I cloned Dapper and then checked out Nick's commit
` git checkout 7e5bd308f99b790212e6990bc4ec8b0c72579406`

I uninstalled all the versions of .Net Core. I have .Net Core 2.0 preview 1 installed from https://www.microsoft.com/net/core/preview#windowscmd

I ran the tests and I got an error
[code]

After this I installed .Net Core Runtime 1.0.5 from https://ww

[2017-05-16 02:12] danmosemsft commented on #19767
fyi @mmitche

[2017-05-16 02:20] ViktorHofer commented on #19783
I wouldn't say unsafe. It's just not supported yet in UWP. Xamarin should support it as they have all the APIs from Mono. When targeting .NET Standard 2.0 you should cover all targets except UWP. For more info see here: https://apisof.net/catalog/System.Net.Security.SslStream

[2017-05-16 02:43] Mike-EEE commented on #5766
Thanks for the heads up and contributing to the conversation, @juepiezhongren!

[2017-05-16 02:47] TingluoHuang opened #19813 "System.IO.IOException “The parameter is incorrect” on System_Console!System.ConsolePal+ControlCHandlerRegistrar.Unregister()+0x35"
initial report: https://github.com/dotnet/coreclr/issues/11550

My netcore 1.1 app crash on exit due to following exception.
[code]

Before the crash, we pinvoke to cancel some child process via the following code.
we didn't get any exception trace, and the child process is able to get Ctrl-C and gracefully exit.
[code]

We currently only see 2 machine hitting this exception so far. 1 win7 machine

[2017-05-16 02:52] benaadams opened #19814 "Proposal: List<T>.AsSpan()"
## Proposed API Additions
[code]
## Sample Usage and Rationale

[code]

[2017-05-16 03:22] karldodd commented on #19748
+1. Found this problem too while migrating my lib to netstarndard2.0 .

[2017-05-16 03:44] stephentoub commented on #19814
What's the expected behavior in a case like:
[code]
where the span would then be wrapping the "wrong" array?

[2017-05-16 03:50] benaadams commented on #19814
A warning in docs that `Add`ing or `TrimExcess` to the List may disconnect the Span from live List?

[2017-05-16 04:45] pjanotti commented on #19366
This is now tracked by https://github.com/dotnet/docs/issues/2171

[2017-05-16 04:45] #19366 closed

[2017-05-16 05:27] danmosemsft commented on #19813
MSDN indicates that multiple handlers are legitimate, so the customer code above adding and removing its own handler should not affect ours.

One might expect this if our unregister is getting called twice, but it's only called from Console.cs, and within a lock, only if not null, and then set to null within the lock.

[code]
This code is the same in 1.1 as 2.0.
So it's not something immediately o

[2017-05-16 05:32] garfbradaz commented on #19794
I'm off to work in a mo, I will build the tests when there.  When using a FortiClient VPN to corpnet, I get the same errors.

Thanks guys, i will report back in the next couple of hours.

[2017-05-16 06:06] ygc369 opened #19817 "Proposal: dynamic array with lazy reallocation feature"
Copied from https://github.com/dotnet/csharplang/issues/586
The current C# array can "resize", but it acturally allocates new memory and copies data, and the old memory can neither be freed nor be used until next GC.
I hope to have a kind of dynamic array which can change its length without memory reallocation until next GC. When this kind of array extend its length, only allocate memory of "exten

[2017-05-16 06:07] v-haren commented on #19702
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/46/testReport/System.Net.Sockets.Performance.Tests/SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync/

[2017-05-16 06:18] v-haren commented on #7812
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/46/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/UseCallback_BadCertificate_ExpectedPolicyErrors_url____https___wrong_host_badssl_com_____expectedErrors__RemoteCertificateNameMismatch_/

[2017-05-16 06:23] mgravell commented on #19814
Nice. Would need clear warnings about competing access (as above, but also reminding people that the length won't change if they Remove etc), but: nice idea

[2017-05-16 06:45] v-haren commented on #19702
failed again, but this time with a different exception message: (Connection reset by peer) (Connection timed out)
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_debug/48/testReport/System.Net.Sockets.Performance.Tests/SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync/

Message:
[code]

[2017-05-16 06:54] cStorm commented on #18023
To what extent is Win IoT supposed to work?

I am running a 2.0.0-preview2 build from a few days ago on v10.0.15026, but SerialPort.GetPortNames() returns no results when a USB serial dongle is connected.  (It is a Z-Wave controller that works well for the same build on a Windows 10 desktop.)

I do see that in WinIoT the device does not appear in HKLM\HARDWARE\DEVICEMAP\SERIALCOMM (as it does in o

[2017-05-16 06:59] #19768 closed

[2017-05-16 07:08] omariom commented on #19814
"snapshot" in the name would be selfdescriptive

[2017-05-16 07:17] mgravell commented on #19814
Just a minor observation: the `string` equivalent of this ignores `As[Read-only]Span`, and jumps straight to `Slice(...)`, IIRC (I could be misremembering, I'm not in that code).

[2017-05-16 07:19] marek-safar commented on #19788
@tmat it's enough to cc me on the commit where the change is being worked on for CoreFX or CoreRT. We can add it earlier if the API is approved.

[2017-05-16 07:59] FransBouma commented on #19749
I think the whole 'sql client isn't part of .netstandard2.0' aspect is a complicated issue to sell to the average user and I agree with @NickCraver on this. I also see why SqlClient is not part of netstandard2.0, as other 3rd party ADO.NET providers aren't either (which have the same problem) yet it does create a confusing situation.

As DbProviderFactory and the common interfaces/types used by th

[2017-05-16 08:00] mgravell commented on #19814
Related idea: Slice over MemoryStream, encapsulating all the GetBuffer / TryGetBuffer (depending on framework version)

[2017-05-16 08:12] omariom commented on #19814
Btw, I have a story about `GetBuffer` and how people confuse its meaning.
There is [a mistake in serializing DataTable](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/DataSet.cs#L308). I filed a bug 12 or more years ago but MS refused to fix it. I can't remember the exact explanation, something like "BinaryFormatter is not the coolest kid in the block any more"

[2017-05-16 08:13] Tornhoof commented on #19814
@stephentoub your last comment in
[code]
is wrong, isn't it?
It should output 1,2,3,4,5 as the list contains 5 now.

For an initial 5 element list it would work as the list currently would have an array size of 8 initially
[code]
I'd say the API would be too dangerous too put on list, simply because it requires the understanding of the implementation details of list to use fully/correctly.
Maybe o

[2017-05-16 08:15] omariom commented on #19814
People don't read the docs since they got intellisense :)

[2017-05-16 09:13] Ermiar commented on #10526
@lajones I have code ready to address this issue. Can I submit my PR ?

[2017-05-16 09:18] mgravell commented on #19814
@Tornhoof  by that logic, `MemoryStream` shouldn't have `GetBuffer()` / `TryGetBuffer()`; that has *exactly* the same problems, yet it is a very valuable tool.

I can see immediate use cases for this including serialization and vectorization.

[2017-05-16 09:24] garfbradaz commented on #19794
# Update

I'm connected to my corp domain, run **build-tests** and ALL tests run successfully.

I will re-run tonight at home just to check, but I think my dev workflow for corefx will now be (until home machine is back online):

1. Home - code
2. Work - build-tests, *cough* lunchtimes check build errors and fix
3. Home - more code

Thanks everyone. Tonight I will close the issue once restested. F

[2017-05-16 09:29] mgravell commented on #19814
@omariom re that `DataSet` bug: oof, that's a fun catch. I see people doing this *all the time*, sadly (I get a lot of questions about that re protobuf-net; it is  right up there next to people using `MemoryStream` and forgetting to rewind it between usages)

[2017-05-16 10:05] Tornhoof commented on #19814
@mgravell Yes I admit, it's similar to ``MemoryStream`` and yes ``ReadOnlyList`` does not exist and only ``IReadOnlyList`` exists (I mixed that up somewhere). Your point about contiguous memory is important and only works by relying on the actual implementation details, without some funny interfaces like ``IContiguousMemory`` (and that one implementing the Span API).

[2017-05-16 10:18] dadhi commented on #19814
May be then `AsDetachedSpan()`, `AsDetachedReadonlySpan()`.

Even if the name itself doesn't click, then the name length should be a warning :-)

[2017-05-16 10:20] Alois-xx commented on #16991
Will this change be merged to the Full .NET Framework? Will this be part of a minor update and what is the expected timeframe for it to arrive?

[2017-05-16 10:22] tom3m commented on #19814
AsDetachedSnapshot() AsDetachedReadonlySnapshot()

[2017-05-16 11:11] ReubenBond commented on #19814
`GetCurrentSpan()` would allude to the potentially transient nature of the result.

[2017-05-16 11:45] stephentoub commented on #19814
I was highlighting how different folks could have different expectations.  It would be reasonable for someone to expect that since 5 was added to the list and the 0th element was changed to 0 via the span that it would then contain 0,2,3,4,5.  As you point out, the list itself would actually contain 1,2,3,4,5 even though the span would show 0,2,3,4.

It's not just Adding and TrimExcess that would

[2017-05-16 12:10] stephentoub commented on #16991
The change is marked for consideration for being ported to the .NET Framework, but there are currently no plans for if/when that would happen.

[2017-05-16 12:29] dudikeleti opened #19822 "typeof(MyEnum).GetEnumValues() return confusing result"
I do not know if it's a bug or it's on purpose ..

`enum MyEnum { A = 0, B = 0 }`

What do you think should be the result of this:

`typeof(MyEnum).GetEnumValues()`

the result is: A, A

If the return array was: 0,0 sure it's OK but A,A is little confusing.. why not B,B?

I think it was less confusing if it was A,B

(maybe not use just ` Enum.ToObject((Type) this, values[index])` but consider sort

[2017-05-16 12:52] benaadams commented on #19814
To get a real Span snapshot or detached you can use the existing api and do `new Span(list.ToArray())` but that mostly defeats the purpose; both allocating and not being a live copy (for interop), also more apis current exist that take array so you probably wouldn't bother with the Span.

Though you may do `new ReadOnlySpan(list.ToArray())` to pass a read only array snapshot.

Its a less dangerous

[2017-05-16 12:52] stephentoub commented on #19784
The Windows implementation is based on support that doesn't exist on Unix, so on Unix we just read metadata from assemblies.  Which piece of metadata do you believe is the right thing to return in this case?  I'm not seeing anything better than what's currently used.

[2017-05-16 13:21] stephentoub opened #19824 "TestMultipleConcurrentRequests test failed in CI on desktop"
[code]
cc: @lmolkova

[2017-05-16 13:35] FransBouma commented on #19749
Found another one (unless I overlooked it): SqlConnection.ProviderFactory isn't overridden. This is currently not that much of a deal, unless someone brings back DbProviderFactories, as the desktop implementation of DbProviderFactories contains a GetFactory(DbConnection) method which uses the internal DbConnection.ProviderFactory property. Will file an issue.

[2017-05-16 13:44] FransBouma opened #19825 "SqlConnection doesn't override DbProviderFactory property"
Hi,

Currently SqlConnection doesn't override the `DbProviderFactory` property. On Desktop/.NET full this is used by `DbConnection.ProviderFactory`, an internal property used by `DbProviderFactories`. This last class isn't part of .NET core, however the lack of these properties and implementation makes it harder to bring this class back to .NET core, as `DbProviderFactories` contains a method `Get

[2017-05-16 13:48] FransBouma opened #19826 "DbConnection doesn't offer an internal property ProviderFactory"
Hi

(This issue is related to #19825). To bring back the functionality of the `DbProviderFactories` class to .NET core so sharing of code between .NET full and .NET core is easy, it's required to have `DbConnection.ProviderFactory` present, as `DbProviderFactories` has a method `GetFactory(DbConnection)` which reads this property to obtain the factory.

.NET full has this implementation: https://r

[2017-05-16 14:01] AtsushiKan commented on #19784
Whatever we return, it probably should be deterministic and based only on the content of the file - not what filename we happened to access it under. Other than that, it's probably not too critical what we return. Maybe returning the AssemblyName (or taking the assembly name and suffixing ".dll") will give most people what they expect?

[2017-05-16 14:08] kpreisser commented on #19765
Hi @Maoni0,
sorry, I'm not sure I understand you correctly. I included the `GC.Collect()` call just to show that even after an explicit GC the objects are not collected, but the behavior is the same when you remove this line.

You can reproduce the leak by running the above code as a .NET Core Console Application (VS target ".NETCoreApp 1.1") on Windows: After some seconds, the programm will crash

[2017-05-16 14:44] AtsushiKan commented on #19822
It's not returning "A, A" or "B, B" - it 's returning (MyEnum)0, (MyEnum)0 which then gets printed as "A, A".

A and B are just two ways to get to the identical enum value. They are not two distinct values.

[2017-05-16 14:44] #19822 closed

[2017-05-16 14:46] ilya-bin commented on #16649
Dear @sepidehMS
I am moving on with the assignment (prepared environment, forked, built etc) but due to my poor experience I have some issues.

1. I am not quite understand the tests projects structure. I see that XmlSchema covered for about 70% and [Read()](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/System.Private.Xml_XmlSchema.htm#file0_line98)

[2017-05-16 15:04] madsiberian commented on #11978
@CIPop But what if we allocate char[] buffer of a smaller size instead of switching to byte[] buffer?
As far as I understand, we only need to divide bufferLength returned by WinHttpQueryHeaders by sizeof(char).

[2017-05-16 15:14] mgravell commented on #19814
In the spirit of `DangerousGetPinnableReference()`: `DangerousGetSpan()` :) although `GetFrankenspan()` also has a curious appeal...

[2017-05-16 15:25] TingluoHuang commented on #19813
Here is the code we have: https://github.com/microsoft/vsts-agent
[code]

in ITerminal
[code]

[2017-05-16 15:33] hugosmarques commented on #19771
If the integration of this is relatively simple i hope that someone do this ASAP please.

[2017-05-16 15:46] hugosmarques commented on #19771
is not supose that if .net core have DataTables properties gave the AsEnumerable propertie too, otherwise how i can use LINQ with datatables

[2017-05-16 15:49] csturm83 commented on #12915
I came across a need for this a while back storing Outlook COM Interop objects in a List\<T\> (maybe not great practice). The default EqualityComparer\<T\> wasn't meeting my needs so I rolled my own.

I remember initially feeling like there was a gap in the List\<T\> API when I was able to use Contains(T, IEqualityComparer\<T\>), but there was not Remove(T, IEqualityComparer\<T\>). Then I realized

[2017-05-16 15:57] svick commented on #19814
@mgravell

Is that an argument to add a something like `TryGetSpan` as a default interface method (https://github.com/dotnet/csharplang/issues/52) to `IList<T>` when that becomes possible? It could look something like:

[code]

[2017-05-16 15:59] karelz commented on #19813
Does not seem to be critical for 2.0 - moving to Future.

[2017-05-16 15:59] lajones commented on #10526
@Ermiar Feel free to submit. @dougbu - you should probably review the PR.

[2017-05-16 16:02] baulig opened #19827 "[HttpListener] Multiple HttpListeners on same IP Endpoint"
In both .NET 4.5 and Mono, you could have have `HttpListener` instances listen on the same IP Endpoint with different paths, such as for instance

			HttpListener listener1 = new HttpListener ();
			listener1.Prefixes.Add ("http://127.0.0.1:" + port + "/");
			HttpListener listener2 = new HttpListener ();
			listener2.Prefixes.Add ("http://127.0.0.1:" + port + "/hola/");
			listener1.Start ();

[2017-05-16 16:04] karelz commented on #19799
This is natural impact of evolution -- whenever we add new API (e.g. `Dictionary.GetValueOrDefault), which devs already did their own extension methods for, we will cause either ambiguity (compiler errors), or our implementation will win. There is nothing that can be done about that short of "don't add new APIs", which is obviously undesirable.
Similar thing happened in this case -- the code used

[2017-05-16 16:04] #19799 closed

[2017-05-16 16:05] karelz commented on #19797
@saurabh500 I assume you wanted to address it in 2.0, right?

[2017-05-16 16:05] danmosemsft commented on #18023
@cStorm as you probably saw, `GetPortNames()` relies on that regkey but it [notes ](https://github.com/dotnet/corefx/blob/5c7af3d5a8098135a3d757385e723d6d7c12a005/src/System.IO.Ports/src/System/IO/Ports/SerialPort.cs#L565)that `QueryDosDevice` is an alternative. I also see [GetDefaultCommConfig ](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363262(v=vs.85).aspx) might be an alternati

[2017-05-16 16:05] davidsh commented on #19827
cc: @hughbe @stephentoub @Priya91

[2017-05-16 16:08] karelz commented on #19771
@saurabh500 @NickCraver @FransBouma do you think this is must-have for 2.0? Or can it wait for Future?

[2017-05-16 16:12] steveharter commented on #19702
FYI Jenkins info from Jdash shows the last failure 10 weeks ago, and then 3 failures over 3 days:
[code]
The 3 recent ones:
[code]

[code]

[code]

[2017-05-16 16:16] stephentoub commented on #19827
We have a dearth of testing on HttpListener right now.  Some works are working to improve that and fix issues found in the managed/Unix implementation to match it to the Windows one; that was the purpose of that PR.  But it sounds like something got messed up along the way and needs to be fixed asap.

@baulig, it's sounds like you're saying this broke something not just in the managed implementati

[2017-05-16 16:17] dougbu commented on #10526
🆗

[2017-05-16 16:18] danmosemsft commented on #19749
@FransBouma I fully agree. We're meeting in person this morning to see what can be done in the time remaining for 2.0.

[2017-05-16 16:26] stephentoub commented on #19827
I just tried... the Windows implementation behaves as expected, so you were just referring to the managed implementation used on Unix, correct?

[2017-05-16 16:27] joshfree commented on #19227
@danmosemsft can you help prioritize this issue for this sprint?  It's the last big AppCompat blocker with NS2.0 UWP

[2017-05-16 16:31] danmosemsft commented on #19749
Interesting. This wasn't in the list I posted of course. As far as I can tell, our API diff tools are semi arbitrary about which overrides they flag -- because they are designed for discovering API-breaking changes only.

All this reinforces the point that the issue here is that the code is incomplete -- I'm not sure that missing overrides are special, they just happen to be what we're discovering

[2017-05-16 16:33] danmosemsft commented on #19227
@JeremyKuhne assigning to you -- please prioritize appripriately given its causing noise in the app compat runs.

[2017-05-16 16:36] baulig commented on #19827
Yeah, it's just the Unix implementation.  I also checked with .NET 4.7 in a Windows 10 Azure VM and it's working as expected.

For tests, we have this in Mono: https://github.com/mono/mono/blob/master/mcs/class/System/Test/System.Net/HttpListenerTest.cs#L200

[2017-05-16 16:39] FransBouma commented on #19771
I use it with meta-data filled DataTable instances (obtained from e.g. GetSchemaTable, stored procedures or ad-hoc sql queries) so I can write Linq queries consuming the meta-data. I use this method as it was available on in .NET full (the code is in .NET full targeting drivers), however I think `datatable.Rows.Cast<DataRow>()` would do just as well as .AsEnumerable(). `EnumerableRowCollection`, t

[2017-05-16 16:43] shmao opened #19829 "XmlSerializerTests.Xml_KnownTypesThroughConstructor failed"
Test `XmlSerializerTests.Xml_KnownTypesThroughConstructor` failed in reflection only mode on UWP.

[2017-05-16 16:46] shmao opened #19830 "XmlSerializerTests.XmlSchemaTest failed on UWP"
Test `XmlSerializerTests.XmlSchemaTest` failed on UWP.

[code]

The issue is likely due to missing metadata,

[code]

[2017-05-16 16:46] hugosmarques commented on #19771
@FransBouma tell me one thing. I see that i can use:

datatable.Select().Select(x => ... instead of datatable.AsEnumerable().Select(x => x.....

Exist any diference between the two cases?

[2017-05-16 16:50] stephentoub commented on #19827
Would you be able to / have the time to port those tests to corefx?  That should hopefully make it much easier for folks making changes in corefx to avoid breaking Mono again, once this issue is addressed and you're able to use the exact same sources.

Ok, thanks for confirming.  I assume it's this that caused the break:
https://github.com/dotnet/corefx/commit/7a48e11efae5b163a6c3b3d49a7066960e40a

[2017-05-16 16:52] karelz commented on #19771
Thanks for advice @FransBouma!

[2017-05-16 16:53] FransBouma commented on #19771
I see that datatable.Select() creates a new array and datatable.AsEnumerable() wraps the rows in the datatable, similar to `datatable.Rows.Cast<DataRow>()`, so the former copies data, the latter wraps it, which can have a huge impact.

[2017-05-16 16:55] hugosmarques commented on #19771
@FransBouma so please if as you said is a very simple feature can we have this for the 2.0 version?

[2017-05-16 17:06] FransBouma commented on #19771
I don't work for Microsoft, so I can't decide over that :)

[2017-05-16 17:12] #19784 closed

[2017-05-16 17:20] stephentoub commented on #19699
Ok, to unblock CI, I'm disabling the test.

[2017-05-16 17:28] vancem commented on #19824
adding @lmolkova @brahmnes

[2017-05-16 17:28] #19733 closed

[2017-05-16 17:31] austindrenski opened #19832 "'System.Text.Encoding is not assignable to parameter type 'System.Text.Encoding'"
I'm working on a library targeting .NET Standard 1.6 and I'm seeing the following error:

It sounds like one of the parameters is targeting a private version of `System.Text.Encoding`.

Any advice?

[2017-05-16 17:47] CIPop commented on #19709
I'm nitpicky about the name: `DangerousAcceptAllCertificatesValidator` doesn't feel very descriptive to me.
In general, the server sends a chain of certificates (and in this case that's not what we mean by "all certificates"). If those certificates are valid (chaining, expiration, they match the local trusted roots, etc) we will accept them without this set.

I would think that the API needs to de

[2017-05-16 17:52] davidsh commented on #19709
I think we need to add something about the "Server" in this name.  We're not disabling all Tls security, i.e. if the server wants client certificates then a client cert would potentially be sent and the server would decide itself whether to continue the Tls connection.

So, I would want to change ` DangerousAcceptAllCertificatesValidator ` to something like ` DangerousAcceptAnyServerlCertificateVa

[2017-05-16 17:52] CIPop commented on #19794
Sounds like the VPN is interfering by not allowing Domain Controller access (at least when the tests are trying to reach it) while the network containing it is apparently available to your system.

You may be able to simplify your plan by using a local account on the same machine or, as you proposed, a VM.

The alternative is to figure out how to allow DC access through the VPN (you may be able to

[2017-05-16 17:54] CIPop commented on #11978
(I don't remember much about this bug) What would be the advantage?

[2017-05-16 17:54] stephentoub commented on #19709
DangerousAcceptAnyServerCertificateValidator sounds good to me.

[2017-05-16 17:54] shmao opened #19833 "Xml_DefaultValueAttributeSetToNaNTest Failed on UWP"
Xml_DefaultValueAttributeSetToNaNTest Failed on UWP when using Sg.

[code]

[2017-05-16 17:55] bartonjs commented on #19709
I agree with @davidsh.  This doesn't "disable" privacy (it might still be there), or security (it might still be there), or authentication (TLS authentication I'd see as "mutual authentication", so it's misleading; and HTTPS authentication could mean a cookie).

`DangerousAcceptAnyServerCertificateValidator` sounds good to me.

[2017-05-16 18:09] blowdart commented on #19709
Tagging @srivatsn for roslyn-analyzers and @h3xstream for roslyn-security-guard - folks you may want to consider flagging usage of this as a bad idea in your security rules once you update for 2.0.

[2017-05-16 18:13] Ermiar commented on #10526
@lajones @dougbu Thanks for your feedback. PR created!

[2017-05-16 18:28] CIPop commented on #19709
@bartonjs How can privacy, security or authentication still be there if you're allowing your client to connect to a random machine on the network (WiFi included!) which can decode all transmissions to their original, "clear-text" form?

Take for example a rogue machine acting as the destination server. It will have access to clear-text user/pwd (Basic/Digest), cookies as well as to your identity (

[2017-05-16 18:29] ericstj opened #19835 "Is Microsoft.XmlSerializer.Generator shipping with 2.0.0?"
What is the plan for this package in release/2.0.0?

Do we plan to ship it as stable?
Pre-release?
Not at all?

[2017-05-16 18:30] stephentoub commented on #19702
Shouldn't this line:
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Net/Sockets/SocketTestServerAsync.cs#L116
[code]
instead be:
[code]
?

[2017-05-16 18:33] stephentoub commented on #19709
This doesn't make sense to me.  If you put this on the deny list, people are just going to change their code to use `delegate { return true; }` instead.

[2017-05-16 18:33] #19810 closed

[2017-05-16 18:35] blowdart commented on #19709
We're nitpicking now :) So, it doesn't disable all TLS protection because the data over the wire would still be encrypted, it's just you can no longer rely on what's at the other end. So, strictly you get the transport security, just now you're open to MITM.

[2017-05-16 18:36] saurabh500 commented on #19748
I have a branch with the code ported from Framework sitting at https://github.com/saurabh500/corefx/tree/datareaderSchema
This needs testing though. I can't get to it until tomorrow.
@NickCraver Do you think you can build the SqlClient from my branch and run it through Dapper tests?

[2017-05-16 18:37] stephentoub commented on #19810
@corivera, is there another issue tracking fixing whatever the underlying cause of the blocking was and removing the LongRunning option?

[2017-05-16 18:38] Jonathan34 commented on #8647
I also need XmlCodeExporter to be ported to .net core (2.0).
Any ETA or workaround for that?
This is mostly what I use.

[code]

[2017-05-16 18:40] baulig commented on #19827
Looking at your `Add_AlreadyStarted_ReturnsExpected`, it seems like `HttpListenerFactory` will start `"http://{Hostname}:{port}/{_path}/"` and `factory.Path` returns `_path`.

The test uses `http://localhost:{port}/{factory.Path}/`.

Depending on which port the factory is using, the loop may or may not try the same one first.  So in theory, the `listener.Prefixes.Add(uriPrefix)` in line 199 may at

[2017-05-16 18:41] NickCraver commented on #19748
@saurabh500 My time is very limited and building is usually a mess - if you can get me a `.nupkg` link I'm happy test it out that's pretty low time-cost and hopefully something easy to produce on your side? Let me know and I'll throw it in the mix ASAP.

[2017-05-16 18:42] baulig commented on #19827
If I understand the `Add_PrefixAlreadyRegisteredAndStarted_ThrowsHttpListenerException` correctly, then the `Assert.Single` will return the prefix that `HttpListenerFactory`s constructor used to start the default listener.

Line 235 then attempts to add that same prefix - which should throw.
The next line then attempts to add a sub-path of that prefix - this should work.

[2017-05-16 18:43] leopignataro commented on #4278
Hello everybody, great effort on porting this!

May I ask why is the Nuget package referencing .NET Core 2.0, instead of .NET Standard 2.0? Wouldn't that be referred?

[2017-05-16 18:44] CIPop commented on #8673
Here is the WinHTTP team's answer:

This sounds exactly like the workaround proposed by @vadimline.

I'm closing this for now:
1. We have no way of implementing this using WinHTTP at this point (although they are considering supporting it in a future version of Windows).
2. We have already raised the issue with ACS/Service Management and they are investigating on the server side.

[2017-05-16 18:47] corivera opened #19836 "Investigate use of LongRunning continuation option in SqlClient async reads"
A change was made here https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIPacket.cs#L270 to fix timeouts in Entity Framework tests due to blocked async reads. Using the LongRunning option means a new thread will be created on every async read. We need to investigate if this LongRunning option will cause other side effects, and if it can be repla

[2017-05-16 18:47] busbina commented on #5593
@sepidehMS Thanks!

[2017-05-16 18:48] corivera commented on #19836
CC @stephentoub

[2017-05-16 18:50] busbina opened #19837 "Add <msxsl:script> support to System.Xml.Xsl"
In need of this to be supported in order to move onto Core 2.0.

[2017-05-16 18:50] saurabh500 commented on #19748
@NickCraver If you can tell me how to execute the Dapper Tests selectively, that would be great.
E.g. I want to run only Dapper.Tests.Tests.ExecuteReaderOpenAsync without executing any other tests. How do I do that?

[2017-05-16 18:52] srivatsn commented on #19709
Tagging @jinujoseph for the roslyn-analyzers suggestion.

[2017-05-16 18:55] saurabh500 commented on #19748
Running Dapper tests with my changes to SqlClient
Here is the status

Before changes
`Dapper.Tests  Total: 286, Errors: 0, Failed: 10, Skipped: 13, Time: 36.848s`

After changes
`Dapper.Tests  Total: 286, Errors: 0, Failed: 5, Skipped: 13, Time: 36.291s`

I don't see any more stack traces with the following.
[code]

I will add some more tests with my changes and send out a PR.

PS: @NickCraver It

[2017-05-16 18:57] NickCraver commented on #19748
@saurabh500 absolutely, starting at the repo root, here's how to run a single test:
[code]

[2017-05-16 18:57] CIPop commented on #19709
Why would anyone with good intentions do that?

WACK is enforced only as a gate to the Store. The API can still be used during development and testing (apps can be built and installed w/o running WACK). A Release warning would also not prevent compilation, would only notify the developer that he may have forgotten test-only code enabled.

For anyone reading the thread in the future: obtaining corr

[2017-05-16 19:00] saurabh500 commented on #19748
@NickCraver Thanks
Also is there a way to filter on the netcoreapp2.0 tests?

[2017-05-16 19:01] NickCraver commented on #19748
@saurabh500 Yep! `dotnet xunit -framework netcoreapp2.0`, you can see all the filter options with `dotnet xunit -h` :)

[2017-05-16 19:02] davidsh commented on #19709
In addition to getting a public trusted certificate, UWP developers can ship their own trusted roots with the UWP app and they get installed into the app-container certificate store.  This allows UWP apps to still be use secure Tls connections.  The trustworthy-ness of those certificates is then simply about the trustworthy-ness of the app itself which is vetted on the Windows App Store.  So, ther

[2017-05-16 19:03] saurabh500 commented on #19748
@NickCraver Thanks for the confirmation :) I was wondering if there is a different mechanism that you use.
Many different projects have their own way of doing things. So I thought I would ask

[2017-05-16 19:06] davidsh commented on #19709
@stephentoub What is the next step for this?  Are you driving API review with @terrajobst et. al.? The dev cost of implementing is low at this point since you have the work already prepared.

[2017-05-16 19:20] ericstj commented on #19835
Can you state explicitly what your desire is for the release/2.0.0 branch?  Do you want a pre-release published to nuget?

[2017-05-16 19:21] stephentoub commented on #19709
All of the same reasons people disable compiler warnings, disable fxcop rules warnings, disable Roslyn analyzer warnings, etc. I'm simply saying if someone thinks they need it, if they're blocked from using it they're going to go in search of the quickest and easiest workaround, which already exists and is only a few characters.

Yes

[2017-05-16 19:27] Maoni0 commented on #19765
In a blocking gen2 GC, GC does not participate in determining object's lifetime at all. So if a blocking gen2 does not collect something, it means that something is held alive by user code. The fact that you keep doing blocking gen2's and the object is not going away, it simply means GC is being told that it's alive. Does this make sense? I was trying to help you to find out who's holding it live.

[2017-05-16 19:31] CIPop commented on #19709
I thought we've agreed that this property is for Debug/Test time only. In https://github.com/dotnet/corefx/issues/19709#issuecomment-301880839 I've already explained that these two scenarios will not be impacted at all (no warnings, app works as expected). Compilation will also not be impacted if the build is a "Debug" build (no warning for a Debug build, just for a Release one).

I'm still missin

[2017-05-16 19:48] saurabh500 commented on #19797
@FransBouma What is your thought on the priority of the SqlConnection.GetSchema() API and its overloads? I remember from one of the past discussions in https://github.com/dotnet/corefx/issues/5024#issuecomment-173861443 that this was important for LLBLGEN.

Quoting a comment

[code]

[2017-05-16 19:50] saurabh500 commented on #19797
@karelz I feel that this is important for Schema driven applications and I will keep it for 2.0

[2017-05-16 19:53] kichalla opened #19838 "Exception stack trace does not have line numbers"
**Repro:**
- dotnet new console
- Update the Program.cs file to
[code]
- dotnet run
- The above code would print out like the following (Notice that there is no line number information)
[code]

**dotnet --info**
[code]

[2017-05-16 19:56] JeremyKuhne opened #19839 "IsolatedStorage Machine scope for WinRT issues"
As it is currently implemented it depends on `ApplicationData.Current.SharedLocalFolder`, which isn't available without proper [policy](https://docs.microsoft.com/en-us/uwp/api/windows.storage.applicationdata#Windows_Storage_ApplicationData_SharedLocalFolder).

Note that with upcoming support in `Environment.GetFolderPath()` we'll be switching to using that and that may alter behavior here. Once t

[2017-05-16 19:56] blowdart commented on #19709
You can't limit the property to debug/test though can you? I'm not sure how useful that would be, given people can approach this in another way anyway.

[2017-05-16 20:05] jkotas commented on #19765
@maonis There is no user (ie non-framework) code keeping anything alive in the example above. The ConditionalWeakTable is keeping itself alive because of how it is implemented using conditional handles.

@kpreisser You should be able to workaround the issue by storing the back-references to ConditionalWeakTable in another weak reference, like `table.Add(key, new Tuple<object, byte[]>(new WeakRefer

[2017-05-16 20:08] danmosemsft commented on #19749
Update, we met today and @saurabh500 is going to continue a code audit of SqlClient focusing on overrides. We have some other potential avenues of attack (porting samples, and running desktop SqlClient tests) that aren't scheduled. We're going to discuss status on Thursday. Our priorities are #1 do not break upgraders from Core, #2 code should just work against new System.Data API. Time remaining

[2017-05-16 20:14] steveharter commented on #19702
I think the test is assuming the connection requests will be processed quick enough to not hit 100, although having that be a top-level variable or constant would be better perhaps proportional to _maxNumConnections. If that is the case, then perhaps we should add a new test for that however and use _maxNumConnections for the current test.

[2017-05-16 20:16] karelz commented on #19797
Sounds good.
If the experts agree it is important, we should not leave it out, unless it is XXXL costly (and we ran out of time). We don't want to ship API surface which will work only for 10% of customers. I would prefer to be in the 80%-90% range (we can shoot for perfect in next release). Thanks!

cc @NickCraver @cincuranet @FransBouma

[2017-05-16 20:21] markwilkie commented on #19781
There may be a way in the future to source-link symbols without including the source in the nupkgs, but my understanding for now is that the myget symbol server is what we're placing our bet on - and this includes our released symbols once symbol signing gets sorted.

@ericstj - Perhaps there are some things we can do to reduce the overhead moving forward?

@noahfalk might have additional opinions

[2017-05-16 20:26] stephentoub commented on #19709
Right.

In any event, that discussion isn't really relevant to the API itself, so it can be tabled and had by whoever is responsible for what the WACK validates.

[2017-05-16 20:43] ericstj commented on #19781
I thought folks are looking to source-index the PDBs directly to github URLs which would mean we don't need source in the nupkgs nor would we require myget to rewrite them.

The overhead I'm discussing here is actually flowing the source, so you can't really reduce that without dropping the requirement.  I'm trying to understand if its a real requirement.  AFAIK no one is testing or consuming the

[2017-05-16 20:53] danmosemsft commented on #5593
Right, this issue is closed (XSL support in general) but we'd welcome a distinct new issue for msxsl:script.

[2017-05-16 20:54] danmosemsft commented on #19749
Marking up for grabs since others are welcome to contribute by testing or looking at the code, if anyone is interested. I think porting code from desktop to try it would be particularly welcome.

[2017-05-16 20:55] FransBouma commented on #19797
For me personally, they're less important as I only use them on desktop, but I can imagine there's code out there which is using these schema tables, even if they're sometimes incomplete for the complete picture (in general, in my experience, you always have to do some custom queries to get all the meta data from the schema in the catalog, but existing schemas can help a great deal without a lot o

[2017-05-16 20:56] danmosemsft commented on #14346
+ @dhoehna since he asked about contributing in this area. @dhoehna one possible thing you could do is look at what MOno does to test SqlClient, and see whether anything can be reused.

[2017-05-16 20:59] svick commented on #19838
Weird, it works fine for me on 2.0.0-preview1-005977, but I get the same behavior as you on 2.0.0-preview2-006080. I wonder what changed.

[2017-05-16 20:59] FransBouma commented on #19749
I've some time this week, as I'm in a post-release lull at the moment, and ahead of my big port-to-corefx work this summer I think it's a good thing to familiarize myself with the codebase, so I'll try to submit fixes for the issues I reported today. If that goes well, I'll try to bring back DbProviderFactories as well, so porting code over utilizing that will be easier. Fingers crossed :)

[2017-05-16 21:00] stephentoub commented on #19702
I'm pretty sure the problem is that the code isn't keeping up with accepts and ends up hitting whatever max the system is asserting for the listen queue.  If I change the code to increase up from 100 (though even if I use a huge number it appears to put in place a lower limit somewhere around 200) and change the Start function that calls StartAccept(null) instead call it a bunch of times, e.g. `fo

[2017-05-16 21:02] saurabh500 commented on #19708
I have a repro with SqlClient code, I extracted this from Dapper

[code]

What this repro highlights is that SqlClient Parameters don't support TVPs.
Looking into this.

[2017-05-16 21:20] saurabh500 commented on #19743
@corivera I think this may have to do with SqldataReader not implementing the IDataReader directly.
`                if ( rdr != null ) rdr.Close(); `
The reader is being closed with the reference of `IDataReader`

[2017-05-16 21:49] cesarbs opened #19845 "Pipes: WritableBuffer.Write() throws InvalidOutOfRangeException when writing empty array"
![image](https://cloud.githubusercontent.com/assets/924164/26129825/c13c1c5e-3a46-11e7-93e8-b0ef64ce8577.png)

![image](https://cloud.githubusercontent.com/assets/924164/26129852/e3b82bf6-3a46-11e7-8625-622ba7d8006c.png)

[2017-05-16 21:52] stephentoub commented on #19845
@cesarbs, did you intend to open this in corefxlab rather than corefx?

[2017-05-16 21:52] Maoni0 commented on #19765
@jkotas by user code I just meant not GC code...

[2017-05-16 21:55] danmosemsft commented on #19749
@FransBouma to give you an idea of schedule/context -- we fork off a 2.0 release branch from master potentially today. After that all changes that want to merge into 2.0 must go through our "shiproom" process (in person meeting where we examine the change, risk, and benefit). Shiproom will take minimal changes that fix key breaks such as those we're seeing in SqlClient, if the risk is acceptable.

[2017-05-16 21:57] JeremyKuhne commented on #19227
Fixed with #19840

[2017-05-16 21:57] #19227 closed

[2017-05-16 21:58] JeremyKuhne commented on #18202
#19840

[2017-05-16 21:58] #18202 closed

[2017-05-16 22:09] stephentoub commented on #19845
This issue was moved to dotnet/corefxlab#1547

[2017-05-16 22:09] #19845 closed

[2017-05-16 22:11] cesarbs commented on #19845
Sorry, yeah, was meant for corefxlab.

[2017-05-16 22:11] stephentoub commented on #19838
cc: @mikem8361

[2017-05-16 22:11] #19806 closed

[2017-05-16 22:23] zhenlan commented on #19835
This component should not release anything for 2.0 (neither pre-release nor stable).

[2017-05-16 22:27] ViktorHofer commented on #19583
We could automate it, so that after registering the appx package on the machine it will run the checkisolation tool.

cc @joperezr

[2017-05-16 22:34] stephentoub opened #19848 "BeginSendToV4IPEndPointToV6Host_NotReceived failed for desktop in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_debug_prtest/327/consoleText
[code]

[2017-05-16 22:37] CIPop commented on #19583
I believe that the tool needs to be ran from an elevated prompt so this is a bit problematic as we don't have anything running elevated at the moment.

If the package family name doesn't change, we can add this as a documented prerequisite step. We could also change the tests to first verify if loopback networking is allowed (via the `Capability.*.cs` model).

(https://msdn.microsoft.com/en-us/lib

[2017-05-16 22:39] polarapfel commented on #1728
@ianhays

I've run into issues with how FileInfo and FileSystemInfo deal with non-existent files and FileInfo instances representing them across Windows and Linux.

Consider this:

[code]

The same condition exists on both platforms, the same API is called, yet I get two different exception types being thrown.

Can this be fixed and in both cases the same exception is thrown?

How about throwing D

[2017-05-16 22:48] CIPop commented on #19699
Thanks @stephentoub!

[2017-05-16 22:50] karelz commented on #17619
We have hit ZBB (zero 2.0 bugs filed before 5/10) !!! **Hooray!!!**
* CoreFX repo - [0](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A2.0.0%20-label%3APost-ZBB%20-label%3Aarea-Infrastructure%20-label%3Aarea-Tizen%20-label%3Aarea-System.Net%20-label%3Aarea-System.Net.Http%20-label%3Aarea-System.Net.Security%20-label%3Aarea-System.Net.Sockets%20created

[2017-05-16 22:58] saurabh500 commented on #19708
I was able to port the code for TVPs using DataTables in SqlParameters and after running the Dapper tests using my changes I could see 100% pass rate in Dapper.Tests

[code]

@NickCraver  I do see a couple failures in `Dapper.Tests.Contrib` listed above.

One of them is `Dapper.Tests.Contrib.SqlServerTestSuite.TransactionScope`
It looks like the test is expecting to use TransactionScope with SqlCl

[2017-05-16 23:03] stephentoub opened #19850 "Difference in File/DirectoryNotFoundException behavior when both directory and file don't exist"
This code on Windows:
[code]
throws a FileNotFoundException, whereas this code on Linux:
[code]
throws a DirectoryNotFoundException.  (If the whole directory exists and just the file doesn't, then we throw a FileNotFoundException on Linux as expected.)

Difference reported by @polarapfel at https://github.com/dotnet/corefx/issues/1728#issuecomment-301935624

cc: @ianhays, @JeremyKuhne

[2017-05-16 23:04] rndoherty commented on #10445
Thanks @okosodovictor !! Like others here, I was installing sqlite-net-pcl for a Xamarin.Forms PCL project in Visual Studio 2017 and your suggestion worked perfectly.

[2017-05-16 23:16] mikem8361 commented on #19838
This has been fixed. The fix has made it into preview1 Microsoft.NETCore.App (2.0.0-preview1-002111-00) and preview2 Microsoft.NETCore.App (2.0.0-preview2-25316-09).

[2017-05-16 23:17] stephentoub commented on #19850
Hmmm.  We have code in the Unix implementation especially to deal with what the comment claims is a difference:
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileSystemInfo.Unix.cs#L270-L281
but that cited difference on Windows directly goes against the example I included in this issue.  And if as an experiment I set:
https://github.com/dotnet/corefx/blob/mast

[2017-05-16 23:22] ericstj opened #19852 "System.Reflection.Tests.MemberInfoTests.TestEquality_Multiple fails due to non-deterministic ordering of nested classes"
See https://github.com/dotnet/corefx/pull/19842#issuecomment-301937137 and https://github.com/dotnet/corefx/pull/19849.

We should either remove the test case, do an on-ordered equality check, or sort on MetadataToken before doing the check.

/cc @AtsushiKan

[2017-05-16 23:26] stephentoub commented on #11737
Failed again here on desktop:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/58/consoleText

[2017-05-16 23:28] leopignataro commented on #19198
Hello, @karelz @tintoy and @krwq. First of all, great effort in porting the XmlDSig feature and also in trying to tackle this long-standing bug.

I am on the same team as Bruno C Dias Ribeiro, and we've found the workaround mentioned on the Connect report together. We'd like to offer our help with this issue.

Unfortunately, this is not the case. Consider the following document:

https://files.lac

[2017-05-16 23:34] moozzyk opened #19854 "WebSocket can crash UWP apps if the server does not close the connection gracefully"
I am investigating a [SignalR issue](https://github.com/aspnet/SignalR/issues/412) where a netstandard SignalR client is being used in a UWP app. The client uses webSockets to connect to the server. The expectation is that when the server is being closed the client will notify the user by raising an event. However the application crashes due to an unhandled exception with the following stack trace

[2017-05-16 23:38] CIPop commented on #16516
Yesterday's tests were on Debug. Re-ran all tests on Release - nothing failed...

[code]

[2017-05-16 23:44] lmolkova commented on #19824
These tests use bing.com or other external sites and they could never be stable. The right thing to do would be to use localhost server as HttpClient tests do. I will do it today/tomorrow.

[2017-05-16 23:46] JeremyKuhne commented on #19850
Are you talking about the trimming of the final separator change to the original logic? You added the original check for this, didn't you?

[2017-05-16 23:51] weshaggard commented on #19835
We already pushed a prerelease version of this package during preview1 https://www.nuget.org/packages/Microsoft.XmlSerializer.Generator/1.0.0-preview1-25305-02. We can unlist it but if we don't want to ship it we need to make sure we remove it from the package list for the rest of the shipping cycles. @zhenlan should it even be producing a package yet?

[2017-05-16 23:58] danmosemsft commented on #19749
@karelz and I agreed to limit this to jsut SqlClient. We don't have evidence that missing overrides are a widespread problem, and the scanning is noisy with lots of false positives and negatives. Made title more specific.

[2017-05-16 23:58] danmosemsft commented on #16926
Almost complete.

[2017-05-16 23:59] davidsh commented on #19854
This is a dupe of #17317.

[2017-05-17 00:00] #19854 closed

[2017-05-17 00:09] justinhelgerson commented on #6564
@zhenlan I can't seem to find the Serializable Attribute available in the preview of Standard.  Am I just missing it?

[2017-05-17 00:13] brentschmaltz commented on #18682
@shamo was this in Preview1? https://github.com/dotnet/core/tree/master/release-notes

[2017-05-17 00:22] saurabh500 commented on #19743
@cskwg We couldn't get a repro with the above code snippet, however looking at the error message, I believe that the PR https://github.com/dotnet/corefx/pull/19851 should fix this issue for you. (we modified the repro to invoke Sql Queries for sample databases)
We are probably not able to repro the issue with your code potentially because it may have to do with the Database and the stored procs th

[2017-05-17 00:41] shmao commented on #18682
It's not in preview1. The latest preview2 should include it.

[2017-05-17 00:42] tmat opened #19857 "PinnedObject.Release may attempt to release an invalid GCHandle during shutdown"
If process shutdown happens to stop PinnedObject.Release processing within the GCHandle.Free call, then shutdown finalization of the same object will generate an InvalidOperationException. The same may occur if the constructor is preempted by shutdown.

[2017-05-17 00:46] danmosemsft commented on #4278
That should have been done (c4650c9730861c61c648a6b7f1bbf40e5dfbffae)

I'm guessing you're looking at the official preview on Nuget
https://www.nuget.org/packages/System.Security.Cryptography.Xml/4.4.0-preview1-25305-02

and it's only got to Myget
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Xml/4.4.0-preview2-25316-02

[2017-05-17 00:52] JeremyKuhne commented on #19850
Ok, so _normally_ the Windows behavior matches what we're seeing on Unix. You get PATH_NOT_FOUND if the path to the left of the last separator doesn't exist. The kicker here is that on [desktop](https://referencesource.microsoft.com/#mscorlib/system/io/filesysteminfo.cs,293) we _explicitly_ ignore the error value (`_dataInitialised = File.FillAttributeInfo(FullPath, ref _data, false, false);`).

T

[2017-05-17 00:53] leopignataro commented on #19198
The plain reasoning behind the workaround is to change the behavior of the following line:

[code]
https://referencesource.microsoft.com/#System.Security/system/security/cryptography/xml/signedxml.cs,767

Calling the constructor of the `SignedXml` class passing a `XmlDocument` causes the `Utils.GetPropagatedAttributes()` method to be called with the document root element, while calling the constru

[2017-05-17 00:55] JeremyKuhne commented on #19850
Note that I validated the Windows error behavior for both `GetFileAttributes` and `FindFirstFile`. They return PATH_NOT_FOUND in the same way.

[2017-05-17 00:58] brentschmaltz commented on #18682
@shmoa can you point me to those packages?

[2017-05-17 00:58] stephan-tolksdorf commented on #19119
Please reconsider removing [Serializable] from the System.Text.Decoder types. AFAIK, serialization is currently the only way to persist the state of a decoder, which e.g. the FParsec parser combinator library needs in order to enable efficient backtracking in huge input streams (see https://github.com/stephan-tolksdorf/fparsec/blob/master/FParsecCS/Cloning.cs and https://github.com/stephan-tolksdo

[2017-05-17 01:02] leopignataro commented on #4278
Yes, that's were I was looking. Thank you, @danmosemsft!

[2017-05-17 01:07] zhenlan commented on #19835
Yes, please unlist this package. Thanks! Is there a package list I can update to exclude it from 2.0 release?

Our current plan is to release this component as a NuGet package eventually, so producing a package helps our E2E testing.

cc: @huanwu @shmao

[2017-05-17 01:09] shmao commented on #18682
https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App should include the fix for netcoreapp

[2017-05-17 01:10] huanwu opened #19859 "Use stream as the input in GenerateSerializer method"
Currently, it is using code path as the input, need use steam.

[2017-05-17 01:15] MichalStrehovsky opened #19861 "Making a member virtual should be considered a breaking change"
The [breaking change document](https://github.com/dotnet/corefx/blob/d2a2d7ccb631aeaf97dc67b2241410b312241343/Documentation/coding-guidelines/breaking-change-rules.md) currently considers making a member virtual a non-breaking change with a small sidenote. When that rule was decided, the C# compiler was only emitting `call` IL instruction in a couple places that didn't really matter and used the I

[2017-05-17 01:17] karelz commented on #19743
Let's close this as fixed.
@cskwg if you can test it on latest daily build, that would be a great help: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

Please let us know how it goes. If it is still broken, please given us isolated repro as @saurabh500 suggests above. Note that we need to act quickly as Ask mode ends on 5/26 - see https://github.com/dotnet/co

[2017-05-17 01:17] #19743 closed

[2017-05-17 01:24] hughbe commented on #19827
Yup I addded these tests and caused this - sorry! I'd like to clarify what the problem is before I push a fix.
Basically we are aligning the managed implementation with Windows with a view to have almost 100% comparability with Windows. One of the reasons for this is that we plan to use the managed implementation for UWP on Windows.

Now that I've got some context out of the way: do you expect  th

[2017-05-17 01:26] karelz commented on #16516
Thanks! Let's leave this one for Future and let's focus on 2.0 bugs now.

[2017-05-17 01:28] CIPop commented on #19699
This appears to be an OS-level behavior difference: a server running on Win7 will not request client certificates unless its own certificate is trusted locally.
I'm working with the Schannel team to further understand why this is happening and why the behavior was changed in future versions of the OS.

This is a test-only issue: real applications should not use untrusted certificates for the serve

[2017-05-17 01:29] hughbe commented on #19827
Going forward, I agree it'd be helpful to port the Mono tests to corefx and this is something I'd be happy to assist with or drive.
You may also be interested in https://github.com/dotnet/corefx/issues/18128

Also, are you sure about Net45? We run the unit tests for System.Net.HttpListener against netfx so any regressions should be caught.

[2017-05-17 01:31] karelz commented on #19708
@saurabh500 how can customers detect the missing feature? Is it runtime failure? Or compile time / missing API failure?
If it is runtime failure, I'd be curious how blocking it is for which scenarios? (@NickCraver? @FransBouma? @cincuranet?) At minimum, we need to document the difference in [ApPiCompat](https://github.com/dotnet/corefx/wiki/ApiCompat), so that Immo's tooling flags it to people ...

[2017-05-17 01:33] karelz commented on #19699
If it is test-only problem, only on Win7, I would suggest to disable the test on Win7 only and move the issue to Future.

[2017-05-17 01:34] morganbr commented on #19119
@stephentoub , do you have suggestions for @stephan-tolksdorf ?

Decoder and friends have pretty different implementations between NetFX and Core so I'd think field-for-field compatibility between them would be undesirable. Additionally, I suspect they have a sizable graph of types that would also have to be serializable.

[2017-05-17 01:35] CIPop commented on #19466
@Jiayili1 from the links above, this fails only on OSX. Is that correct? Have you seen this failing in any other OS types / SKUs?

@safern Have you seen this particular failure for Windows? Unless we're suspecting an infrastructure issue, would it be safe to assume that there are no results because the test process crashed?
If that's the case, we should keep the discussions separate (please open a

[2017-05-17 01:38] danmosemsft commented on #19119
Expanded bullet list above and added @ViktorHofer  for the testing.

[2017-05-17 01:38] karelz commented on #16649
@ilya-bin happy to hear that you want to contribute! I just sent you Collaborator invite. Once you accept, we will be able to assign the issue to you. Please ping us, when you accept.

Assigning temporarily to @sepidehMS.

Also note that we have contributor docs under construction, please feel free to make them better - they are on wiki, which is RW for everyone: https://github.com/dotnet/corefx/w

[2017-05-17 01:39] sepidehMS commented on #16649
@ilya-bin
The XmlSchema tests live in these two projects:
- [System.Xml.XmlSchemaSet.Tests](https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaSet)
- [System.Xml.XmlSchemaValidatorApi.Tests](https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests/XmlSchema/XmlSchemaValidatorApi).

You can take a look at the existing tests for the structur

[2017-05-17 01:41] saurabh500 commented on #19708
@karelz I think you are referring to my comment
`It looks like the test is expecting to use TransactionScope with SqlClient. SqlClient doesn't support TransactionScope. We had to move the feature out of .Net 2.0 due to lack time and this is quite a bit of an involved feature #12534`

This is a runtime anomaly in behavior. If one expects SqlClient command executions to be wrapped in a Single `Trans

[2017-05-17 01:43] CIPop commented on #19702
@DavidGoll @karelz  /cc @geoffkizer

I agree with @stephentoub: I don't think this is a 2.0 issue, rather our infrastructure not being able to execute a stress/perf test.

We can temporarily disable or tune the test to run in CI and revisit once we have some time to streamline stress/perf as well as multi-machine testing.

[2017-05-17 01:44] karelz commented on #19708
What will the customer see? Exception? Or just "wrong non-transactional behavior"?

[2017-05-17 01:46] karelz commented on #19702
Sold, move it to Future.
Multi-machine is a big deal which is IMO still far out, so I would not make too many bets on it now :(

[2017-05-17 01:46] saurabh500 commented on #19708
No exceptions. They will see non-transactional behavior

[2017-05-17 01:49] karelz commented on #19771
@hugosmarques unless it is super-critical for many customers, we will not add more APIs into .NET Core 2.0, sorry. See details in https://github.com/dotnet/corefx/issues/17619#issuecomment-301937346

[2017-05-17 01:50] danmosemsft commented on #4278
@leopignataro no problem, I encourage you to try bits from "head" -- you can get them from the homepage here https://github.com/dotnet/cli ... you can just download the zip if you want. Let us know if you find issues -- we have only a little time left to fix them before release.

[2017-05-17 01:52] karelz commented on #4278
FYI: Here's info about timelines: https://github.com/dotnet/corefx/issues/17619#issuecomment-301937346

[2017-05-17 01:54] karelz commented on #19708
How bad and surprising is it? Can we flag specific method, field, enum value or something in the ApiCompat tool?

[2017-05-17 02:00] saurabh500 commented on #19826
@FransBouma I want to confirm if you will you be making changes and sending a PR for this issue?

[2017-05-17 02:21] moozzyk commented on #19854
SignalR is hitting this as well: https://github.com/aspnet/SignalR/issues/412

[2017-05-17 02:22] moozzyk commented on #17317
SignalR is hitting this as well: https://github.com/aspnet/SignalR/issues/412

[2017-05-17 02:26] stephentoub commented on #19850
I'm talking about the whole thing. I must have added this in response to something failing, but none if the existing tests are failing without it, and the behavior on Windows doesn't match the comment.

[2017-05-17 02:41] ygc369 commented on #19817
Nobody are interested in this?

[2017-05-17 02:59] stephentoub commented on #19848
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_release_prtest/351/
[code]

[2017-05-17 03:03] karelz commented on #17317
@moozzyk this is UWP (client) issue, not .NET Core. How is this affecting SignalR? I thought that is server-side scenario. What is the scenario? How common is it?

[2017-05-17 03:07] stephentoub commented on #19702
I'm not convinced this is just an infrastructure issue: the perf test simply isn't reliable.  That I can repro on my fairly beefy machine locally highlights this.  Basically, the test currently has only a single thread doing accepts (and note that it's written as well to try to do a receive for each accept): if it runs slower than the barrage of clients trying to connect, such that the listen queu

[2017-05-17 03:08] safern commented on #19466
@CIPop the Windows/desktop issue on System.Net.Requests was because some tests where hanging but that was solved a week ago. So about the failure I pointed out we shouldn't worry anymore :).

Deleted my comment so that it doesn't confuse people as it  is fixed.

[2017-05-17 03:08] stephentoub commented on #19827
Any regressions for which we have a test... but we don't have the test that caught this... the test that caught this was from Mono.

[2017-05-17 03:41] moozzyk commented on #17317
SignalR consists of the server and the client. The server runs on .NET core but the C# client targets netstandard1.3 so that it can run all over the place (desktop, .NET Core, xamarin, UWP etc.). WebSockets is the default transport so the bug can be hit easily when running SignalR client in a UWP app.

[2017-05-17 03:47] danmosemsft commented on #19861
https://github.com/dotnet/corefx/pull/18138

[2017-05-17 03:51] hughbe commented on #19827
I meant regressions for `AddPrefix_PrefixAlreadyRegisteredAndStarted_ThrowsHttpListenerException` but I misunderstood the issue. This issue is multiple listeners on the same port rather than the same listener on the same port.

[2017-05-17 03:51] danmosemsft commented on #19838
@mikem8361 do you know how to correlate 2.0.0-preview2-006082 (the latest version on https://github.com/dotnet/cli) with 2.0.0-preview2-25316-09 (the number you cite)?

[2017-05-17 03:55] danmosemsft commented on #19813
@stephentoub do you see the defect, in a quick glance? see my note above.

[2017-05-17 04:21] #19748 closed

[2017-05-17 04:36] RickStrahl commented on #19749
Another related one I'm running into is that SqlDbType is missing. Looks like it's not coming over to .NET Core? Seems an odd thing to leave out. Easy enough to work around with DbType, but not all types are represented there.

[2017-05-17 04:36] ViktorHofer opened #19870 "Win32Api SetEnvironmentVariableW - Disabled tests"
Re-Enable all tests which are disabled on UAP/UAPAOT with reason substring "SetEnvironmentVariableW" as soon as Win32 api gets available.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/Environment.SetEnvironmentVariable.cs
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/Environment.GetEnvironmentVariable.cs
https://g

[2017-05-17 04:39] zhenlan commented on #6564
@justinhelgerson it should be there.

Did you install 2.0 Preview1 SDK as instructed in the [announcement blog post](https://blogs.msdn.microsoft.com/dotnet/2017/05/10/announcing-net-core-2-0-preview-1/)?

After you create a .NET Core project, can you please make sure the .csproj file has `<TargetFramework>netstandard2.0</TargetFramework>` if you created a Class Library or `<TargetFramework>netcor

[2017-05-17 04:47] ViktorHofer opened #19871 "Remove SkipOnTargetFramework UAP/UAPAOT on whole classes"
Skip only tests which are runnable on UAP/UAPAOT for either reasons:
- Win32Api not yet available
- Execution not possible because of AppContainer isolation

If the test tries to access the FileSystem outside of the whitelisted places (appx installation dir, appx temp dir --> %appdata%, capabilities --> pictures,documents,music,...) then rewrite test cases with TempDirectory.

[2017-05-17 04:49] zhenlan commented on #6564
BTW, since many folks on this thread have interest in binary serializer, you may be interested in discussion in #19119, which is about scaling back [Serializable] for .NET Core 2.0. Please let us know there in case you have any feedback.

[2017-05-17 04:53] justinhelgerson commented on #6564
@zhenlan Thanks a lot for your quick response.  That did the trick!  I'll read about the scaling back and provide input if it would impact our use-case.

[2017-05-17 05:02] dhoehna commented on #14346
@danmosemsft There are a lot of tests in System.Data.SqlClient.  Where is the lack of code coverage?

[2017-05-17 05:10] ViktorHofer opened #19872 "Assembly.Load currently not suppported on UWP"
LoadFile / Load is currently intentionally blocked in Coreclr: https://github.com/dotnet/coreclr/blob/906f60ce3c55ab0cc41765d9eeea542ec65ff737/src/mscorlib/src/System/AppDomain.cs#L393

Will it be supported inside an AppContainer? If yes, re-enable deactivated tests.

[2017-05-17 05:12] danmosemsft commented on #19872
This one is already tracked by https://github.com/dotnet/coreclr/issues/9914 actually :)

[2017-05-17 05:12] #19872 closed

[2017-05-17 05:47] saurabh500 commented on #19749
Are you talking about the enum at  https://msdn.microsoft.com/en-us/library/system.data.sqldbtype(v=vs.110).aspx
  SqlDbType is available in the Data.Common references.

[2017-05-17 06:14] ViktorHofer commented on #17681
Happened again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/8059/ on WINDOWS

[2017-05-17 06:15] ViktorHofer commented on #19435
Happened again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/3663/

[2017-05-17 06:19] hughbe commented on #19827
I've sent in https://github.com/dotnet/corefx/pull/19874.

First thanks for reporting this and I apologize for the problems it caused mono folks and for the disruption. The unit test coverage of HttpListener is not very high - this is something I've been working on by hand writing new tests and (soon) porting Mono tests. There was a bit of a rush to get things fixed quickly for a 2.0 issue before

[2017-05-17 06:29] dotnet-mc-bot opened #19875 "Test failure: System.Net.Http.Functional.Tests.PostScenarioTest/PostEmptyContentUsingContentLengthSemantics_Success(serverUri: http://corefx-net.cloudapp.net/Echo.ashx)"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.PostScenarioTest/PostEmptyContentUsingContentLengthSemantics_Success(serverUri: http://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The operation has been canceled

        Stack Trace:

[2017-05-17 06:35] Jiayili1 opened #19876 "System.Collections.Tests failed to generate the test result"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170517.01/workItem/System.Collections.Tests/wilogs

Configuration: Windows.10.Nano.Amd64-x64:Release

[code]

[2017-05-17 06:40] Jiayili1 commented on #19344
This issue is repro on 20170517.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170517.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledLogging

[2017-05-17 06:40] kpreisser commented on #19765
Hi @Maoni0,
thank you. Yes, it makes sense. But note: In my report I did not want to say that there's a problem with GC (in that it would not collect objects to which no more references exist) - I think GC is working correctly. Rather, it is the `ConditionalWeakTable` which somehow keeps references to the value objects alive even if no more non-framework code contains references to them and to the

[2017-05-17 06:41] Jiayili1 commented on #16201
This issue is repro on Portable Core Tests in build 20170517.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170517.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_

[2017-05-17 06:42] ViktorHofer commented on #18718
This happened because the ctor tried to delete `AssemblyResolverTest.dll` which is loaded into the default AppDomain by the test main dll `System.Runtime.Extensions.Tests.dll`. This locks the file. Deleting the file isn't necessary, I deactivated similar code already in `System.Runtime.Tests`.

[2017-05-17 06:43] danmosemsft commented on #14346
@dhoehna take a look at the all up report linked above https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/ search for SqlClient you see there is only 20% coverage.

[2017-05-17 06:58] cwe1ss commented on #19071
I've been playing with Application Insights over the last days and they also have an "Operation Name" field which is used by how OpenTracing defines it (e.g. "POST api/values").

Would be great if you could resolve this inconsistency (before the currently assigned 2.1.0 milestone because this would be a breaking change and therefore impossible).

[2017-05-17 06:59] ygc369 opened #19878 "Question: What would happen if we use a lot of Weakreferences?"
I know that using Weakreference is not without cost, but about the cost, I have some questions.
1. What is the cost? GC time, memory space, or both? GCHandle?
2. How much is the cost?
3. Why does Weakreference has extra cost while strong ref does not have? When GC, strong ref need to be updated too, why couldn't weak ref be updated the same way as strong ref?
4. Can I create a lot of objects and a

[2017-05-17 07:21] danmosemsft commented on #19878
@swgillespie do you want to take a shot at these?

[2017-05-17 07:22] FransBouma commented on #19708
IMHO, if the user uses TransactionScope in the code, they'll assume it will work if there are no compile errors. If the user gets a runtime exception, it will be frustrating perhaps for the user, but at least they won't assume the work is performed using a single transaction. If things are silently done without transactional behavior it can be seriously bad if they have to rollback due to an error

[2017-05-17 07:22] FransBouma commented on #19826
Yes, I'll work on this today.

[2017-05-17 07:22] danmosemsft commented on #19876
@MattGal I'm not sure what to make sense of this "fire" - the various infra logs don't seem to hvae errors in..?

[2017-05-17 07:25] FransBouma commented on #19749
@danmosemsft understood. I don't think MS will wait a year or so before releasing 2.1 anyway ;). It's a bit unfortunate things are coming together right at this moment and not 3 months earlier, but I understand your point. :)

[2017-05-17 07:41] flyingxu commented on #8259
Just a note here, the PCL profile should be set to 111, 259 did not work.

[2017-05-17 07:59] zokiad commented on #19753
Ok, thanks. If it is not urgent, I will validate on next preview.

[2017-05-17 08:04] v-haren commented on #19767
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/50/consoleFull#-7738886783554902-aff0-4799-9e92-0ada24ce2a06

[2017-05-17 08:45] v-haren opened #19881 "System.Dynamic.Runtime.Tests failed"
CI tests pass, but System.Dynamic.Runtime.Tests fails to report results

detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/48/consoleFull#-199872194479fe3b83-f408-404c-b9e7-9207d232e5fc

[2017-05-17 08:59] RickStrahl commented on #19749
@saurabh500 I think the problem is this:

![image](https://cloud.githubusercontent.com/assets/1374013/26146250/59482026-3aa4-11e7-979d-d174417ab46c.png)

[2017-05-17 09:04] RickStrahl opened #19882 "SqlDbType exists both in NetStandard and System.Data.SqlClient"
When using SqlDbType in .NET Core 2.0 SqlDbType errors with:

![image](https://cloud.githubusercontent.com/assets/1374013/26146341/add2c5e2-3aa4-11e7-8efc-0b44d538a801.png)

The type exists both in System.Data.SqlClient and .NET Standard, so the Sql Client version probably has to be removed.

[2017-05-17 09:06] EncoderPtd commented on #17434
I've met the same trouble these days i think.
We have a console app which deal with so many TCP connections runs on about 5 `CentOS7.2` machines. And three of them run very well. But the other two always give me this:

   at System.Net.Dns.HostResolutionEndHelper(IAsyncResult asyncResult)
   at System.Net.Dns.EndGetHostAddresses(IAsyncResult asyncResult)
   at System.Net.Dns.<>c.<GetHostAddressesA

[2017-05-17 09:30] FransBouma opened #19883 "sync.cmd / build.cmd commandlets fail when a space is in the path"
I know, why on earth would you use a space a file path, but I happen to have the path: `\myprojects\vs.net projects\github\corefx` which makes sync.cmd and build.cmd fail as they don't wrap the path they're in with quotes.

Moving the repo on disk to a folder without a space solves it. Not a high-prio error, just a FYI in case you didn't know. The https://github.com/dotnet/corefx/wiki/Checking-out

[2017-05-17 09:46] garfbradaz commented on #19883
I had the same thing. Example, I use Box, and you will have a directory structure C:\Users\me\Box Sync\corefx

Again I moved to root of C: with no spaces and works.

[2017-05-17 09:51] ilya-bin commented on #16649
Hi @karelz
Thanks for the invite just accepted it.
@sepidehMS
Thank you for the answer, I'll try to move on now, is it okay to ping you for the advice here in the issue comments, or should I use gitter instead?

[2017-05-17 10:21] FransBouma commented on #17905
There's been a false positive: #19826 is implemented with code removed by commit 81506698 on this issue. Although the method is 'dead' for now, it's essential to be there to bring back DbProviderFactories back from .NET full. So it will be resurrected if #19826's PR is merged.

[2017-05-17 10:23] FransBouma commented on #19826
Issue #17905 has removed the code which implements this issue in commit 81506698. The PR will resurrect the 'dead' code. I've replied in that issue as well, will proceed with the PR, I'll leave it up to MS to decide what to do.

[2017-05-17 10:46] hugosmarques commented on #19771
@karelz thanks for all but i cannot understand this decision.... as we all know this is a simple integration and when .net core team decide to put the DataTable on .Net Core i did not understand why does not put the AsEnumerable propertie. People that use DataTable needs this. This is a disapoiting final for me because i cannot move forward with my migration to .Net Core without this.....

[2017-05-17 11:16] hugosmarques commented on #19771
@FransBouma if i use dt.Rows.Cast<DataRow>().Where(a => instead of dt.AsEnumerable().Where(a =>
is the same or almost the same right?

I make a test with 1000000 rows on datatable and the time for both are the same. Did you see any incovenient of using dt.Rows.Cast<DataRow>() instead of dt.AsEnumerable()

[2017-05-17 11:21] FransBouma commented on #19771
No, I think they're the same, functionality wise, as far as I can see.

[2017-05-17 11:43] hugosmarques commented on #19771
@FransBouma this is what I need from beginning... with this I don't need to port AsEnumerable to .net core
dt.Rows.Cast() is available on .net core 2 right?

[2017-05-17 11:45] #19794 closed

[2017-05-17 11:52] FransBouma commented on #19771
Yes. Just add `using System.Linq;` at the top of your own code file to make `Cast` available.

[2017-05-17 12:02] hugosmarques commented on #19771
@karelz thanks again. We have a solution for this:)

[2017-05-17 12:42] GSPP commented on #2454
@i3arnon completing an async method calls TCS.SetResult. *Everyone* has this issue. Please also see the long list of disastrous consequences in the opening post!

You don't have to sacrifice performance at all. There should be opt-in ways to get inlining. Most places already accept a flags enum so that's easy to do.

When my production app freezes and causes an outage at 4AM I will make the follow

[2017-05-17 13:26] sharwell commented on #2454
This is a good overview of issues. Tagging @AArnott as well.

[2017-05-17 13:54] jkotas commented on #19765
BTW: The Clear method was added as public API in .NET Core 2.0.

[2017-05-17 14:14] binki commented on #2454
An additional thought: `TaskCompletionSource` requires you to pass `TaskCreationOptions` during construction, but you might call `SetResult()` on that particular `TaskCompletionSource` from both synchronized-continuation-safe (no locks on the thread pool) and unsafe (in a `lock`). Maybe the way awaiters work requires the continuation style to be known when the awaiter starts awaiting, so maybe thi

[2017-05-17 14:44] AArnott commented on #2454
Thanks, @sharwell.

@GSPP, I can sympathize with how you're feeling. I felt similarly when I first discovered this behavior. But as @stephentoub said, it would be a breaking change to change default behavior at this point and there are significant performance wins from this pattern, which yes does sometimes bite folks but most of the time it doesn't. And when it does bite, there are always ways to

[2017-05-17 15:04] saurabh500 commented on #19749
@RickStrahl what's the version of SqlClient that you are using? It looks like you need to upgrade to 4.4.0-*

[2017-05-17 15:05] AArnott commented on #2454
I will add one particularly nasty problem though that we've hit due to inlining await continuations, just for the record:

It creates an unwanted dependency between unrelated code when multiple folks await on the same task. We've seen *very* subtle deadlocks because the inlining behavior is such that when *multiple* continuations are added to a task and that task completes, the continuations are e

[2017-05-17 15:13] mmitche commented on #19767
@ilyas1974 @JPratherMS FYI

I may need to put some code in there to capture the stack trace.  Interesting that's it happening on similar legs.

[2017-05-17 15:15] stephentoub commented on #17434
Hmm.  "Resource temporarily unavailable" suggests that the getaddrinfo call failed with EAGAIN.  I don't see any mention of that as a possible error in the man page.  @tmds, are you aware of any reasons why on CentOS getaddrinfo would return EAGAIN, and what we're supposed to do in such cases?  Retry after some period of time?  Simply fail as we are today and leave it up to the caller?

[2017-05-17 15:20] bartonjs opened #19887 "Document crypto APIs which exist for compat, but are otherwise deprecated"
A lot (but not all) of the cryptography API delta from 1.1 to 2.0 is compat-only.  In addition to the automatically identified cross-platform warnings, identify what things which were brought back that should just be generally regarded as deprecated and add them to the code analyzer tooling.

In addition to those items, some 1.x API should be tagged:
* The Windows CAPI dependencies (*CryptoService

[2017-05-17 15:27] stephentoub commented on #17434
Ah, actually, I do see this in the man page:
[code]
Still unclear what if anything we can do about this.  Not sure how much later "later" is... are we talking immediately?  If not, then I don't think we can really address this in the .NET layer, and it would be up to the app code to decide to retry.

[2017-05-17 15:32] devunt opened #19888 "X509Certificate2.CopyWithPrivateKey does not work as expected."
[code]

After checking both certificate with inspector, it was discovered that some fields of `X509Certificate2.PrivateKey.Key` objects such as `KeyName`, `IsEphemeral`, `UniqueId` are different from each certificates.

Because of this issue, `certificate1` cannot be used for `SslStream.AuthenticateAsServer` method.
To workaround this, generated certificate should be exported as pcks#12 and reimpo

[2017-05-17 15:38] stephentoub commented on #19435
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/3581/consoleText
[code]

[2017-05-17 15:54] DanAtkinson opened #19889 "System.IO.Compression: Add IsFile or IsDirectory property to ZipArchiveEntry"
The current mechanism to determine whether an item in a zip is a directory is to test whether the `FullName` ends with `"/"` and also the `Name` property is blank.

To my knowledge, in order to extract a zip file and overwrite the contents - since `ExtractToDirectory` doesn't have that ability yet (#8146!) - the following is the smallest way of performing this:

    $zip = [System.IO.Compression.Z

[2017-05-17 15:58] vitek-karas opened #19890 "VS Code has trouble opening projects from CoreFX"
I've been trying to use VS code for CoreFx development, but with very little luck so far.
First of all there doesn't seem to be a master solution, some assemblies have their own solutions some don't, there doesn't seem to be much of an order in the .sln files.
Opening the repo in VS Code, one needs to pick the .sln to work with (so that OmniSharp has a way to load the projects).
Just two examples:

[2017-05-17 16:05] tmds commented on #17434
https://msdn.microsoft.com/en-us/library/windows/desktop/ms738519(v=vs.85).aspx says `EAI_AGAIN` is equivalent to `WSATRY_AGAIN`, which gets mapped to SocketError.TryAgain on Windows. And on Unix it does the same mapping: https://github.com/dotnet/corefx/blob/bfac45af5dddcbd70b6935fcf92b4b8755f3cd1c/src/System.Net.NameResolution/src/System/Net/NameResolutionPal.Unix.cs#L42-L43.

This is DNS resolu

[2017-05-17 16:14] madsiberian commented on #11978
@CIPop After removing my changes and double-checking existing state of the code I realized that QueryHeaders already does exactly that -- divides bufferLengthInBytes by sizeof(char).
I am really sorry for turning my lack of attention into everyone's distraction. Let's start anew -- with questions that I should have asked before:

1. Given that WinHttpQueryHeaders works with wchar array, why should

[2017-05-17 16:19] MattGal commented on #19876
@danmosemsft I agree this looks like a totally normal run.  I will check out the backing DB and get back shortly.

[2017-05-17 16:21] karelz commented on #19890
This is weird and blocks/demotivates some of our contributors. @weshaggard @mellinoe can you please take a look at it when you're done with high-pri fires? This is fairly important IMO.

[2017-05-17 16:23] karelz commented on #19889
@ianhays don't we have something like that already?

@DanAtkinson if it doesn't exist, we will need formal API proposal - ideally formatted as example in [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - it is just much easier to read and reason about. Thanks!

[2017-05-17 16:26] danmosemsft commented on #19881
@janvorli @gkhanna79 an ExecutionEngineException. Should this be investigated for 2.0?

[code]

[2017-05-17 16:29] danmosemsft commented on #19881
There is a dump at https://dumpling.azurewebsites.net/api/dumplings/archived/76d34280a33fcb66b58d8c83f97790e708b32e1e but the symbols would have to be manually gotten for the CLR this build was using.

[2017-05-17 16:32] vitek-karas commented on #19890
Let me add that full VS is not much better. I tried both of the solutions above and neither really works. System.Threading.Taks.sln doesn't show any .cs files in the "product" project.
System.Private.Xml is better, as the project opens nicely, but VS didn't manage to get intellisense working anyway (go to definition between types from inside System.Private.Xml still didn't work).

[2017-05-17 16:38] danmosemsft commented on #19738
CoreRT and CoreCLR do not share native bits via the auto syncer. @jkotas is there any native sharing likely to happen someday?

[2017-05-17 16:39] janvorli commented on #19881
@danmosemsft I will take a look, I believe we need to investigate it for 2.0, I have never seen a failure where the ProcessCLRException would fail fast in the first pass of exception handling.

[2017-05-17 16:44] DanAtkinson commented on #19889
@karelz I did check the [docs](https://msdn.microsoft.com/en-us/library/system.io.compression.ziparchiveentry(v=vs.110).aspx) first but I can't see anything that would aid being able to differentiate between file and folder.

**Current Properties of ZipArchiveEntry**
Archive, CompressedLength, FullName, LastWriteTime, Length, Name

**Current Methods of ZipArchiveEntry:**
Delete(), Equals(Object),

[2017-05-17 16:46] gkhanna79 commented on #19881
@janvorli This maybe a function of an AV resulting in process termination as a consequence of https://github.com/dotnet/coreclr/pull/10957.

CC @jkotas

I think the question is why did we have an AV in the first place.

[2017-05-17 16:46] jkotas commented on #19738
We do share some native bits, like GC (via manual process - it may be nice to turn on the auto syncer for it when we get a chance).

The assembly loader which contains the SetErrorMode calls are in CoreCLR is unlikely to be ever shared. It has been rewritten in C# for CoreRT.

[2017-05-17 16:46] vancem commented on #19071
I think at the heart of the issue is that 'OperationName' may mean different things at different levels of abstraction.    It would be nice if we all agreed, but logging systems are built up over time by different groups (the owners of the various components and infrastructure), so we have to make cost-benefit choices.

The action item before us in this issue is to determine whether to rename 'Ope

[2017-05-17 16:49] DrewScoggins opened #19892 "Confirm stability of new Perf.Environment tests"
We checked in new tests in this PR, https://github.com/dotnet/corefx/pull/19623.  The tests appear to be good, but we should ensure that over the next week we are seeing stable results from these tests.

[2017-05-17 16:53] sepidehMS commented on #16649
@ilya-bin Please post your questions here and mention me. I just assigned the issue to you.

[2017-05-17 16:54] ianhays commented on #19889
We added that function in https://github.com/dotnet/corefx/pull/14806. Note that is why #8146 has been closed.

No, we do not. In ZipFile we just check for a trailing slash. I don't think the `IsDirectory`/`IsFile` Properties would save devs enough time/code to justify the additional API, particularly since our method of distinguishing between the two is based on trailing character. If the Zip spe

[2017-05-17 16:58] joeyaiello commented on #19718
Just wanted to 👍 this with the context that it would unblock PowerShell/PowerShell#3648 which would help a non-trivial amount of our customers and partners use PowerShell Core 6.0 on macOS. Feel free to ping me offline if you need more formal justification.

[2017-05-17 16:58] mikem8361 commented on #19838
These versions are for the Microsoft.NETCore.App nuget package which is part/installed by dotnet cli. It this case, dotnet cli version 6082 doesn't have either of the above versions.  I have no idea when dotnet cli will.

@gkhanna79 can you help clarify?

[2017-05-17 17:04] dhoehna commented on #14346
@danmosemsft I found that.  SO, all the classes under the SqlClient heading need tests?  What is Mono?

[2017-05-17 17:06] stephenmichaelf commented on #19892
@DrewScoggins

Thanks for tracking this, I will check again in a week.

A few questions:

1. You ran a command to test perf "in the lab", where are those results?
2. Does this mean perf tests only run when specifically requested and not on every build/test run?
3. What is the longer term plan here? There are many other classes that need to be tested for System.Runtime.Extensions as well as for man

[2017-05-17 17:09] ericstj commented on #19835
It sounds like you want it published to myget but not nuget.org.  No, we don't have anything to control that at the moment.  In the past the push to nuget.org was manual so we'd just leave it out of the list.  I believe @dagood is trying to make it automatic this release.  @dagood do you have a way to exclude a package?

We do have an extra safeguard that can be added to prevent us from accidental

[2017-05-17 17:17] stephentoub commented on #19718
@joeyaiello, just to be sure, https://github.com/dotnet/corefx/issues/19709 would also unblock PowerShell, right?  It looks like SkipCertificateCheck just uses `delegate { return true; }`, so once #19709 is implemented, PowerShell could just assign this delegate instead of that one, and it wouldn't require the end user to work around it by changing out the libcurl being used. (To be clear, I would

[2017-05-17 17:20] saurabh500 opened #19894 "User message for non-support of Sys.Transactions in SqlClient"
I am opening this issue to discuss the right customer messaging for absence of Sys.Transactions support in SqlClient.
Refer comment https://github.com/dotnet/corefx/issues/19708#issuecomment-301959886 and the following comment.

In case of SqlClient operations enclosed in a TransactionScope, the operations would not be run in a single transaction.
However this would not throw an exception to the c

[2017-05-17 17:22] saurabh500 commented on #19708
I have opened an issue https://github.com/dotnet/corefx/issues/19894 to discuss this behavior.

I agree with @FransBouma . In case all the operations in a TransactionScope go well, then there would be no customer complains, but if one of the operations fail, the the application would expect all the operations in TransactionScope to be rolled back. This is bad for data integrity.
The failure case i

[2017-05-17 17:23] AtsushiKan opened #19895 "Disabled test in System.Dynamic.Runtime.Test on ILC"
-method ManagedTests.DynamicCSharp.Conformance.dynamic.overloadResolution.Methods.Oneclass2methods.generic002.generic002.Test.DynamicCSharpRunTest

For convenience, the text of the test:

[code]

First, we need to get the (already approved) MemberInfo.HasSameMetadataDefinitionAs() api implemented in CoreRT: (https://github.com/dotnet/corefx/issues/5884)

Then, have Microsoft.CSharp switch over to

[2017-05-17 17:24] iAlexanderMoon commented on #9357
I have also received:  System.Net.Http.CurlException: Couldn't resolve host name
running my dockerized asp.netcore mvc application on a ubuntu 16.04 LTS host.

Where:
* the host COULD ping the dns name
* the container COULD ping the dns name
* the container COULD curl the request

The dns name was internal and I had specified 2 nameservers only one of which would resolve the internal dns name. Aft

[2017-05-17 17:25] saurabh500 commented on #19894
One of the proposal is to Check in SqlClient operations (SqlConnection.Open() , SqlCommand.Execute*() ) to see if there is an active transaction scope and show an error to the customer that they are trying to use TransactionScope with SqlClient which is not supported and the implicit Transactional behavior is not guaranteed.
The user can set an AppConfig flag to turn off this error message to opt-

[2017-05-17 17:26] saurabh500 commented on #19894
cc @karelz @FransBouma @NickCraver @divega

[2017-05-17 17:30] saurabh500 opened #19896 "Add Tracing in SqlClient"
SqlClient doesn't have any tracing in .Net Core. All the Bid Tracing API calls were removed during the port to Core.
One of the options is to use EventSource to emit traces during runtime.
Something similar was done by @stephentoub in `System.Data.Common` .
Ref: https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DataCommonEventSource.cs

cc @corivera

[2017-05-17 17:31] dagood commented on #19835
There hasn't been any work on the automated release story yet, but I'll keep this type of exclusion in mind and see if it makes sense to have that config in the repo.

I have some small scripts I use to help with the manual releases which support package exclusions--I'll add this exclusion to that script in case we do another manual release before we get automation.

[2017-05-17 17:31] saurabh500 commented on #19896
I am adding the milestone of Future, however this needs re-triaging.

@divega , Will this be interesting from AppInsight perspective?

[2017-05-17 17:33] MattGal commented on #19876
It looks like there's a subtle bug somewhere in how we ingest test result telemetry into our database.  I filed https://github.com/dotnet/core-eng/issues/779 to track this.   Thanks for reporting this, please track future issues with the same symptom as this issue if possible.

[2017-05-17 17:42] cwe1ss commented on #19071
Thanks for the response Vance! If the change is no longer possible, I'd suggest at least fixing the docs and the comment as they are not correct right now (at least not for me [I'm not a native english speaker]). It should clearly indicate that the property must be a unique compile time identifier for the activity type and that it will be used by DiagnosticSource subscribers to identify the activi

[2017-05-17 17:46] DrewScoggins commented on #19892
Sadly right now this is not viewable outside Microsoft.  We are currently working on bringing this site up publicly, but we have not finished yet.

We run tests in CoreFX on every commit as well as when you request a perf run in a PR comment

We at this point have not thought too deeply about how we want to do onboarding of new tests, as we have been mostly focused on getting the infrastructure in

[2017-05-17 17:56] CIPop commented on #19466
This is good info: this is likely why this is happening on OSX too.
Marking as such - please remove the tag if this repros on any other OS.

[2017-05-17 18:03] gkhanna79 commented on #19838
Which corefx build had the fix? @eerhardt can then tell which cli may have the change.

Thanks,
Gaurav

-------- Original message --------
From: Mike McLaughlin <notifications@github.com>
Date: 5/17/17 9:59 AM (GMT-08:00)
To: dotnet/corefx <corefx@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Exception

[2017-05-17 18:09] CIPop commented on #11978
You're right: we should then use char[] but correctly calculate the length as you originally proposed.

Have you tried to check the buffer length in a debugger?
If it's the correct size, feel free to close the issue.

[2017-05-17 18:14] shmao opened #19897 "XmlSerializerTests.Xml_TypeWithTwoDimensionalArrayProperty1 Failed on UWP"
Test `XmlSerializerTests.Xml_TypeWithTwoDimensionalArrayProperty1` failed on UWP when using SG.

[code]

[2017-05-17 18:20] shmao opened #19898 "XmlSerializerTests.XmlUnknownElementAndEventHandlerTest Failed on UWP"
`XmlSerializerTests.XmlUnknownElementAndEventHandlerTest` failed on UWP when using Sg.

[code]

Test `XmlSerializerTests.XmlUnknownNodeAndEventHandlerTest` also failed.

[2017-05-17 18:20] svick commented on #19817
My worry is that the performance benefit is unclear (mostly because indexing into a linked list is not O(1), but also because it adds one level of abstraction) and the cost of making GC do all the work you describe is probably very high. Instead, I think a better solution would be to have an array which can be resized without reallocating, which is why I have just opened https://github.com/dotnet/

[2017-05-17 18:23] shmao opened #19899 "XmlSerializerTests.Xml_TypeWithXmlQualifiedName Failed on UWP"
XmlSerializerTests.Xml_TypeWithXmlQualifiedName failed on UWP when using Sg.

[code]

[2017-05-17 18:27] shmao opened #19901 "XmlSerializerTests.Xml_TypeWithDefaultTimeSpanProperty Failed on UWP"
`XmlSerializerTests.Xml_TypeWithDefaultTimeSpanProperty`  failed on UWP when using Sg.

[code]

[2017-05-17 18:29] shmao opened #19902 "XmlSerializerTests.XML_TypeWithQNameArrayAsXmlAttribute Failed on UWP"
Test `XmlSerializerTests.XML_TypeWithQNameArrayAsXmlAttribute` failed on UWP when using Sg.

[code]

[2017-05-17 18:29] davidsh commented on #12088
Closing this issue since the UWP TestRunner appears to be fixed. The tests are passing.

[2017-05-17 18:29] #12088 closed

[2017-05-17 18:31] shmao opened #19903 "XmlSerializerTests.XmlDeserializationEventsTest Failed on UWP"
Test `XmlSerializerTests.XmlDeserializationEventsTest` failed on UWP when using Sg.

[code]

[2017-05-17 18:33] shmao opened #19904 "XmlSerializerTests.Xml_TypeWithTypesHavingCustomFormatter Failed on UWP"
Test `XmlSerializerTests.Xml_TypeWithTypesHavingCustomFormatter` failed on UWP when using sg.

[code]

[2017-05-17 18:55] shmao commented on #14879
@huanwu All of the tests using DataContractResolver passed on UWP. Can you please give this another try?

[2017-05-17 18:56] CIPop commented on #17681
[code]

(@ViktorHofer I'm adding stacks here because the logs get removed after some time.)

[2017-05-17 19:03] eerhardt commented on #19838
The latest runtime build that the CLI is on is `2.0.0-preview2-25309-07` (See https://github.com/dotnet/cli/blob/master/build/DependencyVersions.props#L4) which is earlier than when the fix came in `2.0.0-preview2-25316-09`.

We have been doing a bunch of engineering work in dotnet/core-setup which is slowing the frequency of runtime builds flowing into the CLI.

[2017-05-17 19:05] mellinoe commented on #19890
One thing to note if you're opening these projects: you need to run a build (build.cmd/sh) first, in order to produce all of the reference assemblies used when compiling the product assemblies. At the very least, it should work reliably in full VS.

System.Threading.Tasks doesn't have any source files in its src project, so that is expected. It is a facade assembly, so it only contains type-forwar

[2017-05-17 19:14] garfbradaz commented on #19890
Arrgghh i was wondering this myself. Is this documented as a "FYI" somewhere? Thanks for clarifying @mellinoe .

[2017-05-17 19:15] zhenlan commented on #19835
Sounds good. Thanks @dagood. Will you unlist the one on nuget.org?

[2017-05-17 19:43] dagood commented on #19835
No problem. I've unlisted it now and added an exclusion to my script for future 2.0.0 releases.

[2017-05-17 19:46] ChadNedzlek commented on #19876
The problem is that we got a connection error when attempting to download the results XML files for this item. We can try and add some more retry logic around this section to shore this up in the future. Thanks for reporting it so quickly, so I could find the incident in our logs.

[2017-05-17 19:48] zhenlan commented on #19835
Awesome! Thanks @dagood.

[2017-05-17 19:49] steveharter commented on #19683
Currently attempting another repro, and investigating the dispose semantics of the test (esp the client socket)

[2017-05-17 19:52] joeyaiello commented on #19718
@stephentoub that sounds right to me, but I would need @daxian-dbw to confirm. Going to linkback to #19709 in that issue as well.

Thanks!

[2017-05-17 20:12] daxian-dbw commented on #13447
I now have a smaller repro, and it turns out this happens as long as more than one processes have `StandardInput` redirected in an application.

Take the repro below as an example, when I start `proc2` and `proc3` and redirect their `StandardInput`, `Console.ReadLine()` in `proc2` continues to block after `proc2.StandardInput.Close()` is called. However, if I don't start `proc3`, then `Console.Rea

[2017-05-17 20:21] divega commented on #19836
Does this really belong in 2.1 as opposed to 2.0? @stephentoub mentioned before:

[2017-05-17 20:22] stephentoub commented on #19836
I suggest that at least understanding the root cause should be in 2.0; it's possible we'll discover the fix is too complicated to make 2.0, but the investigation should at least make it.

[2017-05-17 20:32] divega commented on #19894
AFAIR, auto-enlistment only happens during `Open`/`OpenAsync`, so it should be enough to do it there.

We can also override `DbConnection.EnlistTransaction` for the purpose of throwing with the same message.

FWIW, we are already doing something similar in EF Core layer, and the plan is to remove it when we have actual support.

[2017-05-17 21:08] davidsh opened #19907 "Need PlatformDetection.IsUAP to allow testing of UAP specific behaviors"
#1395 talks about making `TargetFrameworkMonikers.Uap` more useful to be used in a Skip* attribute on a test method/class.

But what can we use within tests where we have different behaviors between platforms? For example, we have the `PlatformDectection` class.  We can use things like "if (PlatformDetection.IsFullFramework)" etc.

However, for UAP apps, it is confusing.

We have PlatformDetection

[2017-05-17 21:12] saurabh500 commented on #19894
Makes sense.
Since `Enlist` default value is `true` for Sql connection string, it makes enlisting in Ambient transactions a default behavior.

Essentially we are down to throwing an exception for
1. `SqlConnection.Open/OpenAsync` if it is inside a TransactionScope
2. `DbConnection.EnlistTransaction` override in `SqlConnection`

@divega  For #1 do you think that it makes sense to have an opt-in beh

[2017-05-17 21:56] AtsushiKan opened #19909 "Reenable the tests ActiveIssue'd on 19909 this in Uap (not UapAot)"
[code]

These tests are ActiveIssue'd against this issue but for Uap, not UapAot. Chances are they were intended to be ActiveIssued against some other process-related issue that prevents them from running in UWP (non-AOT) but since we've fix the aot-related issues, zombie'ing this issue to track reenabling these two tests.

[2017-05-17 22:07] divega commented on #19894
@saurabh500 I have a concern with having a temporary flag that just bypasses the exception: assume once we start supporting Sys.Tx again, we stop paying attention to this flag and connections are auto-enlisted again. This will have significant side effects on the behavior of the app, but can easily go undetected. It seems much better to tell users to disable auto-enlistment in the connection strin

[2017-05-17 22:12] saurabh500 commented on #19894
@divega Thanks for the feedback. I had missed out the fact that I can re-introduce the Enlist keyword and take a decision on the keyword as well.

[2017-05-17 22:13] davidsh commented on #19909
cc: @ViktorHofer

This is a known issue and there is discussion on other issues about ways to solve this.

[2017-05-17 22:14] AtsushiKan commented on #19909
If there's an existing issue, please let me know. I just need an issue # in order to put into some ActiveAttribute annotations.

[2017-05-17 22:18] davidsh commented on #19907
cc: @ViktorHofer

[2017-05-17 22:24] mellinoe commented on #19890
@garfbradaz We have some brief explanation of what facade assemblies are [here](https://github.com/dotnet/corefx/blob/0723e486ba880be7bce85723b7834d2d60fd2741/Documentation/coding-guidelines/project-guidelines.md#facades). If you look at a project file and see [this property](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks/src/System.Threading.Tasks.csproj#L7), it means the

[2017-05-17 22:28] joperezr commented on #19890
I'm not sure if its documented, but take a look at [this line](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks/src/System.Threading.Tasks.csproj#L7), what that means is that if there is a type in the contract(ref project) and it wasn't compiled in the sources, then a type forward will be added to the assembly that has the implementation.

[2017-05-17 22:41] shmao commented on #19830
The test failed in ReflectionOnly mode because the necessary metadata for XmlSchema was not kept.

The test failed with sg.exe because of a bug in sg. I will send a CodeFlow for fixing that bug.

[2017-05-17 23:29] saurabh500 commented on #17126
I have created a Gist, categorizing the buckets/scenarios for most of the Types/Methods/Properties which are missing. I am going by the list in the original issue at top.
I will be refining these further.

https://gist.github.com/saurabh500/011e90da4ac77d879ea74980fa6fcfae

[2017-05-18 00:02] saurabh500 opened #19913 "Analyze SqlParameter on Desktop to find out scenarios of missing support for DataTable"
Code Scan of .Net Framework SqlClient shows that there are more missing references to DataTable and DataRow from .Net Core.

Opening this issue to track the progress of the gaps.

Action items:
Port CParamTest and tvpTests from NetFx to .Net Core and run them to see the deficiencies in SqlParameter and port over the missing code from NetFx to support these scenarios.

Other related issue which wer

[2017-05-18 00:07] BreyerW commented on #19769
Can i ask if this feature have chance to appear with `ref`/`out` alternative methods? If not could this feature request be changed to 'up-for-grabs'? I have to admit that lacking indexer is as much showstopper as lack of `ref`/`out` methods and if there is no chance to be shipped with `ref`/`out`, then i would like to help to make it possible ;)

Since there is consensus that indexer shouldnt be `

[2017-05-18 00:15] karelz commented on #19888
@bartonjs is it serious for 2.0?

[2017-05-18 00:19] karelz commented on #19883
Thanks for catching it @FransBouma! I updated the wiki page. Next time, feel free to make the edits as well 0 it is RW for everyone and bunch of us are partying on the wiki, collaborating in a [gitter room](https://gitter.im/dotnet/corefx-contrib-docs?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge) ...

[2017-05-18 00:35] karelz commented on #19882
@weshaggard @danmosemsft any advice?

[2017-05-18 00:39] ViktorHofer commented on #19907
Correct, but it is planned to run inside an AppContainer. Discussion is still ongoing.

Interesting not mention, it also merges all referenced assemblies together, so the generated output is only one big (native) exe.

Currently correct, yes! I haven't yet seen a lot cases where we need to differentiate between uapaot and uap. As I said above, uapaot will in future also run inside an AppContainer,

[2017-05-18 00:47] ViktorHofer commented on #19909
We have an offline discussion going on where I will cc you.

[2017-05-18 00:47] karelz commented on #19878
@ygc369 did you try to measure it yourself? [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet) is pretty useful. Another option is to inspect the source code.

Or are you looking at best practices and guidance when to use WeakReference vs. GCHandle?

[2017-05-18 00:48] mj1856 opened #19914 "HttpClient 4.3.2 broken on Mono"
Hopefully this is the right place to report this.  If not, please move and/or let me know where to report.

`HttpClient` appears to be broken when running on Mono with the latest release.  Consider the following:

[code]

[code]

Compile with VS 2017, targeting .NET Framework 4.6.1.   Run from the Windows command line:
[code]
Works, no problem.  Run under Mono, and also works.
[code]

Now upgrade

[2017-05-18 00:50] mj1856 commented on #19914
@blowdart - Could this be a side effect of #19535?

[2017-05-18 00:51] davidsh commented on #19907
Perhaps we can implement a `PlatformDetection.IsUAP` being basically equivalent to `PlatformDetection.IsWinRT` or `PlatformDetection.IsNetNative'.

[2017-05-18 00:52] davidsh commented on #19907
cc: @CIPop

[2017-05-18 00:56] karelz commented on #19861
Next step: We need PR with right wording ...

[2017-05-18 00:58] swgillespie commented on #19878
Weak references create an entry in the handle table. The handle table is quite efficient but allocating a huge amount of handles will degrade performance in general.

When the target of a weak reference dies, the GC must null out the weak reference. There is a cost to this that is proportional to the number of weak refs that died during a GC.

+1 for using BenchmarkDotNet for getting this informat

[2017-05-18 01:02] karelz commented on #19914
@marek-safar @ericstj any insight here?

[2017-05-18 01:02] jkotas commented on #19769
The Unsafe class should help the performance compared to the switch statement, not hurt it.

[2017-05-18 01:10] karelz commented on #18424
@robosek thanks for your contribution! I sent you collaborator invite, so that we can assign the issue to you (GH limitation). Please let me know when you accept. Thanks and welcome on board!

[2017-05-18 01:15] bartonjs commented on #19888
It's not just CopyWithPrivateKey, it's EphemeralKeySet.  Apparently we don't have a test that loads from a PFX and calls `ToString(true)`.

Well, we will now.  (LocalFixed).

[2017-05-18 01:19] blowdart commented on #19914
Shouldn't have affected it

[2017-05-18 01:43] CIPop commented on #19702
Moving to future: we all agree that this is a test bug.

[2017-05-18 01:44] karelz commented on #19708
Reopening to track port to rel/2.0.0 branch

[2017-05-18 01:46] CIPop commented on #17681
We have a bunch of timeout issues reported throughout tests that perform networking. I believe this is is a test issue. Moving to Future.

@karelz  Please move back if you disagree or if the failure frequency is too high (2 failures in 24hrs).

[2017-05-18 01:50] ygc369 commented on #19878
Why not let all weak references that have same target share one entry in the handle table?

[2017-05-18 01:57] jkotas commented on #19878
That's a good question. Can you think about which operations would be more expensive, which operations would be cheaper and which operations would be impossible if we have done that; and whether it would be a good tradeoff for most .NET program out there?

[2017-05-18 01:59] sharwell commented on #19878
@ygc369 In some recent work on Roslyn, there were a large number of weak references getting cleaned up. They did not form a meaningful amount of time for the performance issue I was diagnosing. This is not to say they are without cost, but simply to say that work has been done to make them efficient enough to use them where they provide the right functionality for some task. See dotnet/roslyn#1949

[2017-05-18 02:12] ygc369 commented on #19878
@swgillespie
@jkotas
@sharwell
What data structure is the handle table? An array or a link list? If it is an array, it has to be reallocated when we create more weak references than its capacity. Does this matter?

[2017-05-18 02:20] Jiayili1 opened #19918 "Desktop: System.Data.SqlClient.Tests.TcpDefaultForAzureTest.NonAzureNoProtocolConnectionTest failed with "System.TypeInitializationException""
Failed test: System.Data.SqlClient.Tests.TcpDefaultForAzureTest.NonAzureNoProtocolConnectionTest

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/59/testReport/System.Data.SqlClient.Tests/TcpDefaultForAzureTest/NonAzureNoProtocolConnectionTest/

Configuration: outerloop_netfx_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-18 02:24] Jiayili1 commented on #11737
This test failed with "Xunit.Sdk.ThrowsException" on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/59/testReport/System.Transactions.Tests/NonMsdtcPromoterTests/PSPENonMsdtcTimeout_promote__False_/

[2017-05-18 02:30] danmosemsft commented on #19738
This is not going to go through shiproom.

[2017-05-18 02:33] ygc369 commented on #19878
@jkotas
If you find it hard to make a tradeoff, why not to provide both mechanisms and let users decide which to use according to their use case? It would be fine to provide another form of weak ref which shares same entry for same target.

[2017-05-18 02:34] karelz commented on #19878
@ygc369 we appreciate your curiosity, but I would like to ask you to try to do a bit research before asking questions / suggesting features.
We are more than happy to help community members to learn more, especially when they are stuck or the code is above their understanding, but we do not scale to answer lots of questions about code details which can be answered by poking at code, testing it on

[2017-05-18 02:38] karelz commented on #19738
@danmosemsft why not? This is reliability and compat problem.

[2017-05-18 02:44] danmosemsft commented on #19738
Because as far as I'm aware the code has been this way forever and I haven't seen recent issues root caused to this. Moved it back though, I don't feel strongly either way.

[2017-05-18 02:44] karelz commented on #19738
Oh, I didn't understand it that way - maybe I am wrong.
@jkotas can you please comment on the impact on reliability? Is it new .NET Core? Or is it same as in .NET Framework?

[2017-05-18 02:45] mellinoe commented on #19521
I have seen Rational types used in libraries before, but they are usually very niche ([for example](https://github.com/sharpdx/SharpDX/blob/master/Source/SharpDX.DXGI/Rational.cs)), and in my opinion aren't very interesting for us to include in the BCL. There are all sorts of different specialized mathematical types we could potentially include, but we only want to include things that are generall

[2017-05-18 02:46] ygc369 commented on #19878
@karelz
I tried to look at source code, but found that much of "core" code seems not opened. I see code from http://referencesource.microsoft.com/, and find that many C# classes (including WeakReference) use "extern" C++ function, but I can't see C++ implement code.

[2017-05-18 02:48] stephentoub commented on #19702
Yup

[2017-05-18 02:53] sharwell commented on #19878
@ygc369 Here you go:

* Managed code (C#)
  * [WeakReference.cs](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/WeakReference.cs)
  * [WeakReferenceOfT.cs](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/WeakReferenceOfT.cs)
* Unmanaged code (C++)
  * [weakreferencenative.h]
(https://github.com/dotnet/coreclr/blob/master/src/vm/weakreferencenative.h)

[2017-05-18 02:54] Thaina commented on #19521
@mellinoe I think it's niche because we actually not included in BCL

All of financial and statistics application or even graphics and physics simulation could replace most floating point in the code into rational if it was standard library

But because it not standard no one would likely risk downloading additional library for their crucial job so it still neglect even it make calculation more ac

[2017-05-18 02:57] #19888 closed

[2017-05-18 03:04] mellinoe commented on #19769
Could you clarify what you mean? Are you referring to [this proposal](https://github.com/dotnet/corefx/issues/157)? If so, that is already planned to be added, hopefully in the next release past 2.0. I have [a branch which implements it](https://github.com/mellinoe/corefx/tree/ref-overloads-squash), but it needs coordination with JIT changes in order to preserve SIMD functionality.

Right, I think

[2017-05-18 03:21] BreyerW commented on #19769
@mellinoe  exactly that proposal. I wanted to know if u feel fairly capable of adding indexer before next release in core env.

As for `Unsafe` `return Unsafe.Add<float>(ref this.M11,index );` should work even for structs (note no `ref` return). At least VS doesn't complain about that code. What are safety implications im not sure (though c# is very restrictive about `ref` safety so i would be sup

[2017-05-18 03:23] stephentoub commented on #19918
@corivera, this is due to https://github.com/dotnet/corefx/pull/19807; the checks are written to expect the implementation in core and blow up with desktop.  That said, why are types in a "ManualTesting" namespace being used in CI... is that just a naming mistake?

[2017-05-18 03:29] stephentoub commented on #19753
I'm going to close this.  The implementation no longer throws PNSE and we have multiple tests validating the updated behavior.  If you discover otherwise, please reopen.  Thanks.

[2017-05-18 03:29] #19753 closed

[2017-05-18 03:33] stephentoub commented on #19236
Dup of https://github.com/dotnet/corefx/issues/17878

[2017-05-18 03:33] #19236 closed

[2017-05-18 03:33] stephentoub commented on #19636
Dup of https://github.com/dotnet/corefx/issues/17878

[2017-05-18 03:33] #19636 closed

[2017-05-18 03:34] stephentoub commented on #17434
Ok, we'll leave it as is.

[2017-05-18 03:45] mellinoe commented on #19521
Certainly, that is always a possibility. However, this isn't just a niche type in C#/.NET. I'm not really aware of any graphics or physics libraries which represent data in this way, even in other languages. IMO, it's also more than just being inconvenient or poorly-supported in libraries. GPU's fundamentally don't understand this data format. Real-time physics simulation libraries still predomina

[2017-05-18 03:56] jkotas commented on #19769
jump tables are significantly slower than a simple indexing that you get by using Unsafe.

[2017-05-18 03:59] mellinoe commented on #19769
I think we could quickly write up some perf tests to determine which version is faster. We should have the flexibility to choose either, with a small caveat. Right now, System.Numerics.Vectors doesn't rely on System.Runtime.CompilerServices.Unsafe, and we'd need to do some build configuration changes to allow it. But we could consider adding that dependency if we found that it was significantly be

[2017-05-18 04:01] Thaina commented on #19521
@mellinoe As I said it hardly compared because both float32 and float64 was standardize into bcl. You don't need to rely on nuget

Actually it was ingrained into literal `f` and `d`. It so fast to just code it without even `using`. Not to mention there are `Math` and other library about it that support `float` and `double` from the core

I bet if `float` and `double` was excluded into nuget packag

[2017-05-18 04:19] jkotas commented on #19738
#19801 and https://github.com/dotnet/coreclr/issues/11625 make us bug for bug compatible with desktop. Both these PRs are in release/2.0.0

However the behavior in desktop is not quite right and inconsistent (https://github.com/dotnet/corefx/pull/19801#discussion_r116656403). It will open a new post 2.0 issue about that.

[2017-05-18 04:19] #19738 closed

[2017-05-18 04:28] jkotas opened #19921 "Move Windows ErrorMode setting from framework/runtime to the host"
Follow up on https://github.com/dotnet/corefx/pull/19801#discussion_r116656403

The current scheme where the framework is trying to flip the Windows error mode around some I/O operations is bug prone (we are likely missing it on number of APIs - we do not have any testing for this), and outdated (it made sense 20 years ago for WinForms and floppies; it does not make sense for cloud and modern devi

[2017-05-18 04:33] daxian-dbw commented on #13447
OK, I think I nailed it. The root cause seems to be in [`Interop.Sys.ForkAndExecProcess`](https://github.com/dotnet/corefx/blob/473463e644cba090257b6fde42a17af5bc01b01b/src/Native/Unix/System.Native/pal_process.cpp#L94). When creating the first child process, the parent process holds a file descriptor to the write end of the redirected stdin pipe. Then when creating the second child process, the f

[2017-05-18 05:00] EncoderPtd commented on #17434
Yes, thanks a lot. However, after saw the information you provided, i find that it was the firewall restriction and dns config mistake. Embarrasing `-.-|| ` I shouldn't be that certain about the basic configs of the system.

[2017-05-18 05:34] robosek commented on #18424
Thanks for that @karelz . I accepted the invitation.

[2017-05-18 05:40] danmosemsft commented on #19918
Also are any of these tests suitable for promoting to innerloop, so CI can protect?

[2017-05-18 05:42] Jiayili1 opened #19922 "System.Net.Sockets.Async.Performance.Tests failed to generate the test result"
System.Net.Sockets.Async.Performance.Tests failed to generate the test result

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170518.01/workItem/System.Net.Sockets.Async.Performance.Tests/wilogs

[code]

[2017-05-18 05:46] dotnet-mc-bot opened #19923 "Test: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/Roundtrip_CrossProcess failed with "System.ComponentModel.Win32Exception""
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/Roundtrip_CrossProcess(obj: Tree`1 { Left = Tree`1 { Left = Tree`1 { ... }, Right = Tree`1 { ... }, Value = 2 }, Right = Tree...` has failed.

System.ComponentModel.Win32Exception : Cannot allocate memory

        Stack Trace:

           at Interop.Sys.ForkAndExecProcess(String filename, St

[2017-05-18 05:59] Jiayili1 opened #19924 "System.Collections.Performance.Tests failed to generate the test result"
System.Collections.Performance.Tests failed to generate the test result

Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170518.01/workItem/System.Collections.Performance.Tests/wilogs

[code]

[2017-05-18 06:02] Jiayili1 commented on #18463
This issue is still repro on Portable Core Tests, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170518.01/workItem/System.IO.MemoryMappedFiles.Performance.Tests/analysis/xunit/System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile~2FDispose(capacity:%2010000)

[2017-05-18 06:07] daxian-dbw commented on #13447
Looks like this issue falls in the bucket of #306.
@ianhays and @stephentoub could you please advise if it's OK to deal with the pipe file descriptors created for stdin, stdout and stderr specially -- make the file descriptors held by the parent process not inheritable by subsequent child processes by using `fcntl64(fd, F_SETFD, FD_CLOEXEC)`?

[2017-05-18 06:58] dotnet-mc-bot opened #19925 "Tests under: System.Security.Cryptography.X509Certificates.Tests.X509StoreMutableTests_OSX failed with "Interop+AppleCrypto+AppleCommonCryptoCryptographicException""
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.X509Certificates.Tests.X509StoreMutableTests_OSX/AddPrivateAfterPublic` has failed.

Interop+AppleCrypto+AppleCommonCryptoCryptographicException : write permissions error

        Stack Trace:

           at Interop.AppleCrypto.X509StoreAddCertificate(SafeKeychainItemHandle certOrIdentity, SafeKeychainHandle keychain) in /Users/

[2017-05-18 07:00] Jiayili1 commented on #19925
Failed tests:
AddPrivateAfterPublic
AddPublicAfterPrivate
AddToStoreTwice
AddToStore_Exportable
PersistKeySet_OSX
RemovePublicDeletesPrivateKey
VerifyRemove

[2017-05-18 07:00] Jiayili1 commented on #19925
Closed issue: https://github.com/dotnet/corefx/issues/17422

[2017-05-18 07:26] FransBouma commented on #19883
@karelz thanks, will update the wiki next time and pop in the gitter room :)

[2017-05-18 07:43] marek-safar commented on #19914
All versions of System.Net.Http are broken on Mono because they use private API available in .NET assemblies only (bad InternalsVisibleTo). To workaround that Mono has a hack to disable loading such assemblies and use always Mono's ones. You can simply fix it by deleting System.Net.Http.dll from your bin folder or wait for Mono 5.2 with updated table of broken assemblies.

@ericstj this is again i

[2017-05-18 08:56] mattwarren commented on #19878
@ygc369 `<shameless plug>` I wrote a blog post that might help you find your way round the CoreCLR source, see [A Hitchhikers Guide to the CoreCLR Source Code](http://mattwarren.org/2017/03/23/Hitchhikers-Guide-to-the-CoreCLR-Source-Code/) `</shameless plug>`

[2017-05-18 11:35] stephentoub commented on #16688
Failed here with the additional logging:
https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/2513/consoleText
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/RemoteExecutorTestBase.cs#L175
[code]

[2017-05-18 13:39] stephentoub commented on #13447
@daxian-dbw, thanks for investigating, and nice job finding the root cause.  I think that solution makes sense.  There will still be a tiny window (between the call to pipe and the call to fcntl) where a concurrently started process could inherit the handle, but that should be very rare.  As for the actual fix, I'd suggest adding your own function that just does the combination of pipe and fcntl,

[2017-05-18 13:40] stephentoub commented on #13447
Also, @daxian-dbw, can we assume this is impacting PowerShell?

[2017-05-18 14:49] karelz commented on #19878
Thanks @mattwarren - I was about to ping you to provide some insights :).
@ygc369 Matt is great example of someone who does lots of research on CoreCLR/CoreFX source code. - see all his blog posts, or Twitter account. It is actually joy for us to help contributors as Matt, who write about our source code, and when he has questions, we are happy to answer them and help him.

It seems you entirely m

[2017-05-18 15:38] pranavkm opened #19927 "Add support to System.Runtime.InteropServices.RuntimeInformation to determine what the currently executing framework is"
We have a couple of places where we would like to run platform specific code without having to cross-compile. Essentially the same thing as https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/PlatformDetection.cs#L21. However using `RuntimeInformation.FrameworkDescription` seems fragile. Would it make sense to expose an API similar to `RuntimeInformation.IsOSPlatform` here i.e. `R

[2017-05-18 15:39] #19699 closed

[2017-05-18 15:40] pranavkm commented on #19927
cc @Eilon \ @natemcmaster

[2017-05-18 15:57] madsiberian commented on #11978
@CIPop Yes, it returns correct buffer length in debug session with fake Interop.

[2017-05-18 16:00] karelz commented on #19702
If this affects test runs, we should port it to rel/2.0.0 - 3 failures per week would meet the bar.

[2017-05-18 16:04] karelz commented on #19738
Hmmm, not sure if I follow. Was this particular issue fixed in 2.0 yet? Or not? (want to fix the milestone)

[2017-05-18 16:05] ericstj commented on #19914
@marek-safar the fix for https://github.com/dotnet/corefx/issues/15112 has not yet been released.  That is part of the .NET Core 2.0 release.

[2017-05-18 16:21] ericstj opened #19928 "Add API to get an AssemblyName that doesn't throw on a native binary"
I've seen patterns like this in countless tools:
[code]

It would be better if we could just do:
[code]

API signature:
[code]

By making this a new API we don't change the behavior of the existing API.  By making the API determine if a file is an assembly and returning the name we avoid having to open the file twice.

The other alternative available today requires using System.Reflection.Metadata

[2017-05-18 16:29] tarekgh commented on #18976
@ramarag just checking if you had a chance to take a look?

[2017-05-18 16:39] danmosemsft commented on #19924
@mellinoe another OOM. :|

[2017-05-18 16:39] weshaggard commented on #19890
@vitek-karas if you run a build.cmd at least once from the root (which is documented https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md) does working in VS Code work better?

[2017-05-18 16:40] danmosemsft commented on #19923
@janvorli can you imagine what could cause this error message, across all these distros?

[2017-05-18 16:44] janvorli commented on #19923
@danmosemsft let me try to repro it locally.

[2017-05-18 16:46] danmosemsft commented on #19922
The other log on this page shows
`2017-05-18 01:05:49,086: INFO: executor(343): _execute_command: Finished _execute_command, exit code: 137 `
I understand that 137 = segfault.

[2017-05-18 16:48] karelz commented on #19914
Do we need to backport it? Or should we just wait for 2.0 to ship?

@mj1856 can you please validate it on .NET Core 2.0 Preview 1 bits? We want to confirm the problem is gone ...

[2017-05-18 16:55] danmosemsft commented on #19925
@bartonjs we are returning an internal exception type (nested no less) is this expected to be caught or wrapped higher up? (notwithstanding the fault itself)

[2017-05-18 16:56] stephentoub commented on #19702
@karelz, it's more than that.  I assume no approval is necessary to port test only changes?

[2017-05-18 16:57] danmosemsft commented on #18463
@stephentoub it looks like your https://github.com/dotnet/corefx/pull/19174/files didn't totally fix this.

[2017-05-18 16:57] hugosmarques opened #19929 "System.Security.PermissionSet"
im getting the following error System.TypeLoadException: 'Could not load type 'System.Security.PermissionSet' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.'
When i try to open a MySqlConnection with .Net Core 2. Did you know why?

[2017-05-18 16:57] daxian-dbw commented on #13447
@stephentoub thanks for the suggestion. Yes, this is impacting PowerShell. We need to support pipeline between native commands, and that work is blocked by this issue.

I found the function [`SystemNative_Pipe(int32_t pipeFds[2], int32_t flags)`](https://github.com/dotnet/corefx/blob/5e1826d6c32792aa21963769fcbdd77cf9d77dce/src/Native/Unix/System.Native/pal_io.cpp#L414) and it's used in [here](htt

[2017-05-18 16:58] danmosemsft commented on #19929
Hi @hugosmarques exactly how did you install? What is in your .csproj? What is "dotnet --version"?

@weshaggard

[2017-05-18 17:00] danmosemsft commented on #18051
dupe of https://github.com/dotnet/coreclr/issues/9912

[2017-05-18 17:00] #18051 closed

[2017-05-18 17:01] hugosmarques commented on #19929
im using the .Net Core 2.0 preiew and i install MySQL .Net Core 6.9.9

[2017-05-18 17:02] hugosmarques commented on #19929
dotnet --version
2.0.0-preview1-005977

[2017-05-18 17:03] stephentoub commented on #19738
@karelz, yes, you can see the PR that fixed it here: https://github.com/dotnet/corefx/pull/19801 (it's linked above).  There are multiple ways for you to check whether this is in the 2.0 branch, but a quick-and-easy way: just search the list of commits in the merge PR here: https://github.com/dotnet/corefx/pull/19891.

[2017-05-18 17:06] bartonjs commented on #19925
@danmosemsft It's a subtype of CryptographicException.

[2017-05-18 17:06] stephentoub commented on #13447
No, you can't.  Specifying CLOEXEC to that will close both file descriptors, both ends of the pipe.  You don't want to do that; it'll break the whole purpose of this.  You only want to specify CLOEXEC on the parent process' side of the pipe, not on the side of the pipe that must be inherited into the child.

No, you don't want to remove that.  The child side of the pipe needs to be inherited into

[2017-05-18 17:09] JeremyKuhne commented on #19738
Fyi: I did finally confirm that the prompting behavior still exists. The detail I was missing is that the file systems for removable media don't load until you actually use media in them. So if you have a floppy or cd drive you won't get the prompt if you haven't put a disk in since booting. You'll get the same prompt for a USB floppy or built-in, but, again, you have to have used a floppy since b

[2017-05-18 17:09] karelz commented on #19702
I think Shiproom wants approvals for everything, but the template should be lightweight (1 liner saying - "lots of failures")
Reopening to track the porting ...

[2017-05-18 17:10] karelz commented on #19738
Thanks for confirmation @stephentoub! It wasn't clear to me which PR actually fixed the problem vs. not.

[2017-05-18 17:13] karelz commented on #19890
Why do we need the build from root as prereq? ... the problem is that people rarely read docs ahead of time. IMO things should just work if at all possible.

Can SLN do the build from root on user's behalf? Or at minimum, can the SLN warn user "this is what you have to do"?

cc @FransBouma as he worked in VS recently as well.

[2017-05-18 17:16] dougbu commented on #19548
@karelz and @tmat it appears the problem no longer exists in the 2.0.0 preview1 packages -- [system.collections.immutable.1.4.0-preview1-25305-02](https://www.nuget.org/packages/System.Collections.Immutable/1.4.0-preview1-25305-02) and [system.reflection.metadata.1.5.0-preview1-25305-02](https://www.nuget.org/packages/System.Reflection.Metadata/1.5.0-preview1-25305-02). But, it's not clear from th

[2017-05-18 17:18] jkotas commented on #19738
#19921 tracks the post 2.0 follow up.

[2017-05-18 17:18] weshaggard commented on #19882
This is expected and a side-effect of moving some of the SQL Types (particularly to support DataTable) into netstandard. To fix you need to reference the latest version prerelease version of the SqlClient package when consuming it from a netstandard 2.0 project.

[2017-05-18 17:21] hugosmarques commented on #19929
csproj
<ItemGroup>
    <Content Include="appsettings.json">
      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
    </Content>
  </ItemGroup>

  <ItemGroup>

    <PackageReference Include="AWSSDK.Core" Version="3.3.14" />

    <PackageReference Include="AWSSDK.S3" Version="3.3.6.1" />

    <PackageReference Include="Log4Slack" Version="1.1.9" />

    <PackageReference Include="Micr

[2017-05-18 17:21] tmat commented on #19548
@weshaggard @terrajobst To answer the versioning question.

[2017-05-18 17:22] danmosemsft commented on #19925
Ah right - I couldn't think of precedent for exposing an internal exception subtype, but i see no harm in it given it derives from public.

[2017-05-18 17:25] ianhays commented on #16688
Well there we have it. Took long enough.

So what we do think then, should we loop around the `Exists` check on the `Remote*Exe` and hope that it's available at a later time? That may not completely resolve these errors we're seeing as the exe could still go missing between the File.Exists check and the invocation.

[2017-05-18 17:25] hugosmarques commented on #19929
the code where the error occur:

MySqlConnection connection = new MySqlConnection
            {
                ConnectionString = "server=xxxxxxxxxxx;user id=admin;password=xxxxxxxxxx;persistsecurityinfo=True;port=xxxx;database=xxxxxxxx"
            };

            connection.Open(); (Error here when try to open the connection)

[2017-05-18 17:26] JeremyKuhne commented on #19921
This happens for CD/DVD drives as well. I'll look into card readers and report back. The tricky thing is that file systems for removable media don't load until you've had media in them, so you don't get the prompting behavior on a clean boot with no media.

While I think it may be worth setting it early for the process we should still be flipping it around the usages we historically cared about. W

[2017-05-18 17:30] svick commented on #19927
I think this is a subset of https://github.com/dotnet/corefx/issues/16629.

[2017-05-18 17:32] danmosemsft commented on #19928
There is an issue somewhere with a proposed implementation, but I cannot find it right now.

[2017-05-18 17:37] jkotas commented on #19921
I am pretty sure we have number of these prompting "bugs" in the framework.

I do not think that we need to be maintaining bug-for-bug compatibility with desktop here.

[2017-05-18 17:37] mellinoe commented on #19924
I'll try getting a local repro now. Interesting that this is only happening on Linux distros, and not x86 Windows like most other OOM's.

[2017-05-18 17:38] huanwu opened #19930 "Need a way to configure the project in corefx to work with CLI"
Currently, the project in corefx cannot be executed using CLI command. Need a way to support it.
e.g.
https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/src/Microsoft.XmlSerializer.Generator.csproj

Refer the issue https://github.com/dotnet/cli/issues/6612

@mellinoe

[2017-05-18 17:40] tannergooding commented on #19521
@Thaina. I don't think you'll ever see float drop away as the primary representation for values. As @mellinoe points out, there are no major **real-time** libraries that use anything other than float, primarily because they care more about speed then they do precision. When you are manipulating 2073600 pixels (that's 1920x1080) 60 times each second (and it could be more with 4k resolution and high

[2017-05-18 17:40] stephentoub commented on #16688
It's not clear to me whether this lack of existing represents a failure to copy/link the file or a race condition that it's not there.  If it's the former, retrying wouldn't really help.  If it's the latter, it might be. @MattGal, do you know why the file wouldn't be there once in a while (and apparently only on Fedora)?

[2017-05-18 17:42] davidsh opened #19931 "PlatformDetection IsWinRT and IsNetNative return confusing values when running uap or uap-aot tests"
While exploring solutions to #19907, I discovered the `PlatformDetection` properties `IsWinRT` and `IsNetNative` return confusing values when running uap or uap-aot tests.

For example:

[code]

[2017-05-18 17:42] JeremyKuhne commented on #19921
I've confirmed this happens for card readers as well.

Assuming we do keep the SetThreadErrorModes we need to consider addressing the file [enumerators](https://github.com/dotnet/corefx/blob/ac3d3ba3b4097a5626055447b39535e4ee67d9cb/src/System.IO.FileSystem/src/System/IO/Win32FileSystemEnumerable.cs) potential disposal on a different thread.

[2017-05-18 17:43] davidsh commented on #19931
cc: @AlexGhiondea @stephentoub @karelz @weshaggard @ViktorHofer

[2017-05-18 17:46] JeremyKuhne commented on #19921
What I'm most concerned about are bugs in user code that turn on the prompting either intentionally or accidentally. Some dependency can flip the state for the process at the wrong time or not flip it back.

[2017-05-18 17:47] mellinoe commented on #19930
Could you provide more information about this project? We do build some executable projects here in corefx, but they are generally used for testing purposes only, so they run on the "test shared framework". Is this project something that is going to be bundled into a tool somewhere for custom projects to use? Or is it another thing that is going to just be used in tests?

[2017-05-18 17:47] bartonjs commented on #19925
So, the state we're in seems a bit impossible.

The fix for #17422 was, specifically, to run the AddToStore_Exportable() test.  If it fails with errSecWrPerm (which is the error associated with that message) then we skip all these tests.  This is known to happen in Helix (but not Jenkins).

Possible options:
* We're not running on 10.12, and the error code is different (but the words the same)
* T

[2017-05-18 17:47] pranavkm commented on #19927
@svick - fair enough. @weshaggard has an API suggestion in there `AppContext.TargetFrameworkName` which would've been useful, unfortunately that returns an empty string. I'll follow up with him on this.

[2017-05-18 17:50] MattGal commented on #16688
@stephentoub I have not seen this specific mode of failure before.  In most cases, missing files are the result of a package restore issue, but that wouldn't explain the sporadic nature of the problem described.

From looking at the logs, the remote executor is in the Helix Correlation payload ("present in the test runtime directory.") so if something somehow deleted this file but not the zip it c

[2017-05-18 17:50] pranavkm commented on #19927
Closing as dup of https://github.com/dotnet/corefx/issues/16629.

[2017-05-18 17:50] #19927 closed

[2017-05-18 17:50] huanwu commented on #19930
@mellinoe yes, this is a tool used to generate the serializer code. It is not test project. e.g. I am supposed to run the command:
dotnet Microsoft.XmlSerializer.Generator.dll data.dll
It will generate a code file data.XmlSerializers.cs

[2017-05-18 17:51] inkredible-raccoonbot opened #19932 "Path.Combine has issues with null terminated strings"
When dealing with null terminated strings from native applications Path.Combine throws an exception.
This should not happen no?

[code]

[2017-05-18 17:51] vitek-karas commented on #19890
I have to apologize as it does actually work.

What happened is that I did run build, but some time ago, and then I pulled new sources and it broke. This is non-obvious as the behavior will be as described above, but I guess there's not much we can do about this.

So I did a build today, which first hung in init (several times, no CPU usage at all), then it passed the init stages but failed on mis

[2017-05-18 17:52] CIPop commented on #19699
@stephentoub Thanks for merging and closing this. I was curious why it didn't auto-link: I keep saying "Fixes: #nnn" but I think it should be "Fix #nnn"...

[2017-05-18 17:53] daxian-dbw commented on #13447
@stephentoub The file descriptors of the pipe ends that are going to be used by the child process are dup'ed at https://github.com/dotnet/corefx/blob/473463e644cba090257b6fde42a17af5bc01b01b/src/Native/Unix/System.Native/pal_process.cpp#L173-L175, so it seems OK to have the old pipe file descriptors closed on the call to `execve` in the child process -- the pipes are still open, because the dup'ed

[2017-05-18 17:54] danmosemsft commented on #19931
`IsWinRT` should be renamed `IsRunningAsAppPackage` but it's currently being used to mean `IsRunningInAppContainer`.

`IsNetNative` should be changed to false in the F5 scenario because it's currently being used to mean `IsSubjectToProjectNRuntimeOrToolchainLimitations`

[2017-05-18 17:54] danmosemsft commented on #19931
@JeremyKuhne

[2017-05-18 17:54] mellinoe commented on #19930
I see; interesting. How will customers get ahold of this DLL? Will they need to download a nuget package and then pass the path inside of that? Or will there be custom MSBuild targets involved?

To make it an executable project, make sure you include <OutputType>Exe</OutputType> in the project. You will also likely want to retarget it to `netcoreapp2.0` rather than `netstandard` given that it is a

[2017-05-18 17:54] stephentoub commented on #13447
That's already in the child process.

[2017-05-18 17:55] daxian-dbw commented on #13447
Yes, but it's fine as long as they are closed on the call to `execve`, right?

[2017-05-18 17:55] weshaggard commented on #19890
Because we have to bootstrap our tools and setup our targeting packs to we know what to build.

Unfortunately no it cannot because VS fails to load the projects if it doesn't have the necessary imports.

We did have this at one point I will look to see if there is anyway to have this work at least.

[2017-05-18 17:56] stephentoub commented on #13447
Oh, I see, I misunderstood what you were suggesting.  Yes, that should be fine then.

[2017-05-18 17:56] danmosemsft commented on #19932
That matches desktop behavior. (Which doesn't mean we might not want to improve it.)

[2017-05-18 17:56] karelz commented on #19699
Everything is fine @CIPop - "Fixes #nnn" works as well, see: https://help.github.com/articles/closing-issues-via-commit-messages/
That's exactly what happened here - Stephen didn't close this issue explicitly, but "in #19915" - it means via the "auto-close" feature.

[2017-05-18 17:57] svick commented on #19932
This should not happen no?

I think it should. Null is not a valid character in a path, so I think `Path.Combine` behaves correctly.

But if a null-terminated native string is marshaled as a `string` with embedded null characters, then I think it's the marshaling that's wrong. How exactly did you get the `string`? If it's some custom approach, then you should fix it. If it's something like PInvoke

[2017-05-18 17:57] daxian-dbw commented on #13447
Thanks @stephentoub, I will submit a PR and cc you. How should I proceed with the test? I assume I need to submit functional tests along with product code changes.

[2017-05-18 18:01] mellinoe commented on #19890
That's interesting. So you're saying that it was faster after the folder was totally empty? It sounds like nuget might be taking a really long time searching through the existing files to determine if a package already exists, or needs to be downloaded again. It's kind of ironic that it ends up taking longer than just downloading everything from scratch... I wonder if there is anything we can do t

[2017-05-18 18:02] jkotas commented on #19921
There are like many pieces of global state in Windows that can be set and that will cause the framework to  behave differently. I do not think we should be trying to protect against that - it is lost battle.

[2017-05-18 18:02] MattGal commented on #16688
My mistake, this is a Jenkins-y thing, disregard previous comment.  @mmitche should be looped to help investigate.

[2017-05-18 18:03] stephentoub commented on #13447
Yes, please.  I expect it should be pretty easy for you to come up with a short [Fact] that would hang without the fix and quickly succeed with?

[2017-05-18 18:03] vitek-karas commented on #19890
After I deleted the packages the init stage (including downloading everything) took cca 1 minute. Before it was like 10-15 minutes.

[2017-05-18 18:05] daxian-dbw commented on #13447
I will take a look at the existing process tests and write one for this fix. Thanks!

[2017-05-18 18:06] stephentoub commented on #13447
Thank you!

[2017-05-18 18:07] mconnew opened #19933 "On OSX X509Chain doesn't correctly check CRL revocation with ChainPolicy X509RevocationMode.Online"
X509Chain reports no problems when a certificate has been revoked via a CRL. This was discovered in a WCF test and is tracked in dotnet/wcf#1926

[2017-05-18 18:10] mconnew opened #19934 "Tests needed for X509Chain with revoked certificates"
The WCF team discovered that a recent change for OSX broke certificate revocation checks when using a CRL. The corefx repo should have tests which should have caught this issue.

[2017-05-18 18:18] karelz commented on #19466
Triage: 2 failures in 24h, then nothing. Moving to Future as it is likely test issue and Mac lab is now down. If it has higher frequency, we can revisit the decision.

[2017-05-18 18:18] janvorli commented on #19923
@danmosemsft I am unable to repro it locally on a physical box. What is the environment under which we run the tests? I cannot see any log files or other details under the link you have provided.

[2017-05-18 18:21] stephentoub commented on #19923
All of these are VMs, right?  Is it possible all of these VMs ran on the same physical machine?  That error generally means the kernel couldn't get enough memory to fork the process, so maybe there was some singular issue on the host that caused VMs on that box to fail?

[2017-05-18 18:21] marek-safar commented on #19914
I see. I had no idea .NET framework specific issue is part of .NET Core 2.0 release.

[2017-05-18 18:22] karelz commented on #19705
Looks like infra/test hiccup, moving to Future as the test exists for a long time and we didn't change the code around this area recently.

[2017-05-18 18:23] karelz commented on #19705
@wfurt can you please poke at this test when it was disabled, etc.?

[2017-05-18 18:26] karelz commented on #19683
@wfurt can you please take a look? Talk to @steveharter about details.

[2017-05-18 18:26] JeremyKuhne commented on #19921
In general I agree, but in this case I'm hesitant. With a quick look at some code indexes I've seen several hundred usages, including things like this: 😞

[code]

Cost of the call would influence how I feel on this.

[2017-05-18 18:27] karelz commented on #19702
@stephentoub do you plan to do it? @wfurt could help port it ...

[2017-05-18 18:29] stephentoub commented on #19702
Already did: https://github.com/dotnet/corefx/pull/19935

[2017-05-18 18:30] karelz commented on #19718
@bartonjs is the one you created workaround for? If not what else is left? Do you plan to finish it before vacation or should we give it to someone else?

[2017-05-18 18:31] mellinoe commented on #19924
It doesn't repro for me. The tests only take about ~1.1 GB of peak memory for me, which isn't incredibly high. We can drop it a little to reduce the likelihood of this happening, I suppose.

[2017-05-18 18:33] bartonjs commented on #19718
@karelz I haven't had a chance to start yet, honestly.  If new problems would stop being discovered and distracting me, I'd probably be able to finish it.  But it's looking iffy.

[2017-05-18 18:36] ianhays commented on #19850
I remember us discussing this. If I recall correctly, the issue was that Windows would provide more information in the error that we would use to determine whether to throw a DirectoryNotFound or a FileNotFound. On Unix the exceptions thrown from the interop call didn't include that info, so we did some manual parsing to throw a DirectoryNotFound or a FileNotFound depending on which piece was miss

[2017-05-18 18:39] stephentoub commented on #18463
@danmosemsft, something is wrong... that test (`System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile.Dispose(Int32 capacity)`) doesn't even exist anymore (my PR you cited deleted it: https://github.com/dotnet/corefx/pull/19174/files#diff-573214e8439a133967e7865692dd941dL57)

[2017-05-18 18:39] #18463 closed

[2017-05-18 18:41] stephentoub commented on #18463
Ah, it looks like the failure was in the release/2.0.0 branch, not master, and before the merge from master.  Prior to that merge, the release/2.0.0 branch was weeks out-of-date with regards to fixes in master.  We shouldn't be reopening issues for such fixes.

[2017-05-18 18:41] danroth27 opened #19936 "Update NETStandard.Library to reference System.Net.Http 4.3.2"
When I create an ASP.NET Core 1.1 app that uses Azure SDK libraries to talk to Azure Key Vault and Azure AD on .NET 4.6.2 I get the following error:

[code]

Which was fixed by https://github.com/dotnet/corefx/issues/11100. I can get the error to go away by directly referencing System.Net.Http 4.3.2.

Looking at my assets.json file it looks like NETStandard.Library 1.6.1 is pulling in the older ve

[2017-05-18 18:41] karelz commented on #19701
Dupe in #19704

Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/GetAsync_AllowAutoRedirectTrue_NonRedirectStatusCode_LocationHeader_NoRedirect(statusCode: 200)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The operation has been canceled

        Stack T

[2017-05-18 18:42] karelz commented on #19704
Closed as dupe of #19701

[2017-05-18 18:42] #19704 closed

[2017-05-18 18:42] weshaggard commented on #19890
I just did a clean on my repo and opened up VS and I see the following error:
`The tools directory [D:\git\corefx\Tools/] does not exist. Please run init-tools.cmd in your enlistment to ensure the tools are installed before attempting to build an individual project`

So that helps however if I just run init-tools.cmd and try building in VS again then I get other errors about the refs not resolving

[2017-05-18 18:42] #19890 closed

[2017-05-18 18:45] karelz commented on #19701
@CIpop can you please add all other dupes here?

[2017-05-18 18:47] JeremyKuhne commented on #19850
The problem is that in the case of the Info wrappers we ignored the actual error on NetFX. It is just obfuscated a bit as Refresh() explicitly asks to ignore errors on not found.

I'm working on this now, writing a full set of tests that match desktop.

[2017-05-18 18:48] ericstj commented on #19914
It's a package related issue and the packages ship with .NET Core.  I do think there is an interesting pivot here.  Many of the packages which you care about do not ship in 2.0, instead we are shipping the NETStandard.Library.NETFramework package and deprecating the standalone packages.

[2017-05-18 18:49] #19804 closed

[2017-05-18 18:51] weshaggard commented on #19929
@hugosmarques what TargetFramework do you have set in your project? Do you have an mscorlib.dll in your application output or the shared framework you are running on?

[2017-05-18 18:51] mj1856 commented on #19914
@karelz - I tried the latest `4.4.0.preview1-25218-03` from the myget feed, and it has the same issue.

[2017-05-18 18:51] ericstj commented on #19936
We can but the POR thus far has been to not update NETStandard.Library in servicing.  Upstack packages (or applications) which care about the individual fixes can reference the individual libraries.

This issue is about changing the POR so that libraries and applications have an "entry point" package update that provides servicing fixes.

[2017-05-18 18:52] karelz commented on #18128
I don't think we need the umbrela issue anymore, let's consider it addressed.

[2017-05-18 18:52] polarapfel commented on #19850
Hey guys, it's great to see issues reported being picked up so quickly (and discussed openly here). Really enjoying this!!

Thanks!

[2017-05-18 18:53] ericstj commented on #19914
@mj1856 we no longer produce this package as I mentioned above.  You can use the NETStandard.Library.NETFramework package in its place.

[2017-05-18 18:54] stephentoub commented on #19850
Ah!  So am I correct in understanding that this same logic is exercised via File/Directory (rather than FileInfo/DirectoryInfo), we have tests for the former but not for the latter, and my comment / fix was relevant to the former but causes problems for the latter?  I guess that makes me feel a bit better that I wasn't totally crazy ;)

Excellent :)

[2017-05-18 18:54] karelz commented on #16201
The one CI failure is surprising - likely due to stale VM which didn't get the workaround yet.
The MC failure is the first one in a long time. If we see more instances of that, we should create a new bug.

[2017-05-18 18:54] #16201 closed

[2017-05-18 18:55] mj1856 commented on #19914
@marek-safar - just to confirm, I deleted `System.Net.Http.dll` from the bin dir and indeed it runs fine.  I assume because the dll is not found in the local directory it binds to a copy Mono provides?

[2017-05-18 18:56] karelz commented on #7812
Plan: Enable it in master, get more info from assert, then make a plan for 2.0 fix.

[2017-05-18 18:59] stephentoub commented on #19850
And indeed changing the code from:
[code]
to:
[code]
results in a DirectoryNotFoundException instead of a FileNotFoundException.

[2017-05-18 19:06] svick commented on #19932
Then I think it's the 3rd party application's fault that it incorrectly stores null characters in registry. Assuming you can't change that, I think you will have to strip them yourself, e. g. by using `.TrimEnd('\0')`.

[2017-05-18 19:07] huanwu commented on #19930
@mellinoe yeah, good question. The customer will download a nuget package for it. And we might involve the MSBuild target. That's the user experience we will work on.

And we know it will work if target to netcoreapp2.0. But we need this tool target at netstandard. Can we have the CLI support in our case? Thanks!

[2017-05-18 19:07] JeremyKuhne commented on #19850
Yeah- in this case it looks accidental as well (or at best evil). After the `Refresh()` call `_dataInitialized` will be `0` and `_data.fileAttributes` will be `0xFFFFFFFF`.

[code]