[2018-06-02 07:09] kant2002 commented on #15927
@karelz please assign me to this issue

[2018-06-02 07:43] jswolf19 commented on #21809
@karelz Looking at `IntrinsicAttribute`, it would appear that CoreRT is the start point, so I'll look at adding this there?

[2018-06-02 07:56] ivlevkonstantin commented on #28257
I'll work on it.

[2018-06-02 08:02] karelz commented on #28257
I sent you Collaborator invite - see details here: https://github.com/dotnet/corefx/wiki/Hackathon#how-can-i-grab-an-issue

[2018-06-02 08:09] Mpdreamz commented on #29243
@karelz I'd like to take this one for the Hackathon.

[2018-06-02 08:12] mikhailshilkov commented on #16619
I'll grab this one for hackathon today, looks good a the first issue

[2018-06-02 08:45] sgaliamov commented on #27116
good thing to start, I'll try it.

[2018-06-02 08:51] zpodlovics commented on #30049
@terrajobst  As most of the server / desktop / mobile hardware is multi-core now, **how the concurrencty/atomicity story supposed to work here**?

Right now I can atomically replace two strings with Interlocked CAS (Compare And Swap) because it has a reference type semantics, but implicit string conversion paths will change this semantics. **How the atomic operations - that are already possible no

[2018-06-02 09:01] drewnoakes commented on #29994
@karelz, I'd be happy to look at this for the hackathon.

[2018-06-02 09:10] ViktorHofer commented on #29997
Please make sure to either add perf tests if there are none for the touched scenarios or benchmark locally with BenchmarkDotNet. That gives us more confidence.

[2018-06-02 09:31] Mpdreamz opened #30073 "clrcompression.vcxproj fails to build on my machine"
Following: https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

On a clean checkout (`git clean -fxd` and `clean.cmd -all`) `build.cmd` against ef0d4171ea29afc03c5098a8fef7c7e3ec11657c fails to build  `clrcompression.vcxproj`  on my machine.

This is on Windows 10 Version 1803 (1766.1000).

Complete output here: https://gist.github.com/Mpdreamz/a6b40e8e591c2

[2018-06-02 09:39] Mpdreamz commented on #30073
Trying to diagnose this individual build locally through

[2018-06-02 09:43] ViktorHofer commented on #30073
No such file or directory could also indicates that it can't access the file because of restrictive permissions. My bet is that the file is locked infinitely by another process. Have you tried to restart and build again?

[2018-06-02 09:54] Mpdreamz commented on #30073
So this ended up being an issue because i cloned my fork through my WSL zsh shell while running the build from CMD.

Doing a git clone from `CMD` and then a `build.cmd` seems to work. Investigating now which files end up being different between the different checkouts now.

[2018-06-02 10:04] laurentkempe opened #30074 "System.Globalization.Tests.DateTimeFormatInfoFirstDayOfWeek.FirstDayOfWeek fails"
During .NET Core Community online Hackathon - 6/2 I cloned the repo with [latest commit](https://github.com/dotnet/corefx/commit/ef0d4171ea29afc03c5098a8fef7c7e3ec11657c) then I run `build.cmd` and `build-tests.cmd` which failed with following error:

`System.Globalization.Tests.DateTimeFormatInfoFirstDayOfWeek.FirstDayOfWeek` fails with Expected: Sunday Actual: Monday

My operating system version

[2018-06-02 10:27] ViktorHofer commented on #30073
Right, that's not really a supported scenario. My bet is either a difference in line endings or wrong applied permissions during the git clone in WSL. I'm closing this now as we found a workaround.

[2018-06-02 10:27] #30073 closed

[2018-06-02 10:51] ViktorHofer commented on #27116
@sgaliamov I sent you a collaboration invite so that I can assign you to the issue. It's a good thing to joing the gitter channel as I can support you there: https://gitter.im/dotnet/corefx-hackathon

[2018-06-02 11:13] jmezach commented on #23972
I'll try to have a look at this. I'm on OSX, so that helps :).

[2018-06-02 11:29] ViktorHofer commented on #30074
cc @tarekgh

[2018-06-02 11:31] Mpdreamz commented on #21825
Taking a look at this one during the hackathon

[2018-06-02 11:50] dmtscv commented on #27165
Hi, I will try to tackle this one.

[2018-06-02 12:01] Mpdreamz commented on #28410
Taking a stab at this for the Hackaton

[2018-06-02 12:05] ivlevkonstantin commented on #28257
@JeremyKuhne , I've got the same question as @danmosemsft . What should we do with case (should it be case sensitive, or case insensitive by default)? For me It does not make big sense to get case sensitive relative path.

[2018-06-02 12:05] peltco commented on #7569
I'll take a stab at this as part of the hackaton

[2018-06-02 12:06] ViktorHofer commented on #28410
Ok, assigned you.

[2018-06-02 12:27] benjamin-hodgson commented on #29921
What makes you say the benchmark not representative? It's more or less how the code in #27250 behaves. I very much doubt the additional `Dispose` call is the cause of the 50% slowdown.

[2018-06-02 12:31] ViktorHofer commented on #29921
It's the renting of the ArrayPool that makes this benchmark not deterministic. Sometimes you get a much larger array back, depending on the current cache state inside the pool and sometimes you just get the size requested, i.e. when the pool is empty. If you presize both the ValueStringBuilder and the StringBuilder I'm sure that the results will differ.

[2018-06-02 12:37] WilkaH commented on #26768
I'd like to take a look at this one for the Hackathon.

[2018-06-02 12:47] jmezach commented on #23972
I had a look at this and I think that to make this work correctly we might need to call into **proc_pidpath** in *libproc*. There's already a function in Interop.libproc to do this. However, after changing the source of the ProcessName on the ProcessInfo instance to use the output of proc_pidpath (instead of proc_taskallinfo) I'm getting 8 failing tests. while the test that I added to verify the b

[2018-06-02 12:51] ViktorHofer commented on #26768
I sent you an collaboration invite. Please accept so I can assign you to the issue.

[2018-06-02 12:53] #19624 closed

[2018-06-02 12:58] #29243 closed

[2018-06-02 13:06] jmezach commented on #23972
Actually, I think there is a timing or threading issue going on here. If I run all the tests it is returning dotnet for the process name, thus my test fails. If I run only my own test it is returning the correct filename (although without changes it is returning only the filename, and not the full path).

[2018-06-02 13:33] Wraith2 commented on #24192
I did some further investigation and the alignment is important but not quite in the way you've stated I don't think. A very short string used as a source of bytes does have little difference between 32 and 64 but as the input length is increased the difference grows until it reaches what the benchmarks showed.

I took the code for the various bits of infrastructure needed for the method into a se

[2018-06-02 13:37] stephentoub commented on #30038
@davidsh, alternatively, what would you think about sending a Content-Length: 0 header when Expect: 100-continue is set but no content was specified.  For non-GET/HEAD verbs, we already add that header if Content == null; we could just also do so for those verbs if Expect: 100-continue is set.

[2018-06-02 13:39] stephentoub commented on #30049
@zpodlovics, I'm not understanding the relevance of the concern.  Can you share an example?

[2018-06-02 13:40] ViktorHofer commented on #29921
These are the results with prefixed capacities.

[code]
|                          Method |   Categories |      Mean |     Error |    StdDev | Scaled | ScaledSD |
|-------------------------------- |------------- |----------:|----------:|----------:|-------:|---------:|
|        StringBuilder_AppendChar |   AppendChar |  4.378 ms | 0.0957 ms | 0.1997 ms |   1.00 |     0.00 |
|   ValueStringBuilder_

[2018-06-02 13:43] kant2002 commented on #21825
/cc @ViktorHofer it is not clear what kind of work could be done here.

[2018-06-02 13:59] benjamin-hodgson commented on #29921
Interesting, the effect seems to be a little _more_ pronounced for presized builders.

[2018-06-02 14:14] ViktorHofer commented on #23972
cc @maryamariyan

[2018-06-02 14:26] ViktorHofer commented on #23972
cc @danmosemsft

[2018-06-02 14:31] ViktorHofer commented on #21825
I believe this issue can be closed as the exceptions already contain all the necessary information.

http://source.dot.net/#System.Private.CoreLib/shared/System/Globalization/DateTimeParse.cs,4624
This shows that if a format was given it's being logged inside the exception message.

[2018-06-02 14:31] #21825 closed

[2018-06-02 14:35] ivlevkonstantin commented on #28257
This issue depends on [Path.TryGetFullPath](https://github.com/dotnet/corefx/issues/28258) (which has not been merged yet), because GetFullPath is called in the original GetRelativePath method implementation.

There is [comment](https://github.com/dotnet/coreclr/pull/17429/files#r179645599) in the PR for TryGetFullPath method, which has not been addressed since April. This issue sounds reasonable,

[2018-06-02 14:38] ViktorHofer commented on #29921
It doesn't surprise me that ValueStringBuilder is slower when adding strings as it isn't optimized for that. ValueStringBuilder is very efficient for appending chars, spans, pointers and single character strings.

[2018-06-02 14:52] Mpdreamz commented on #28410
Had some fun this afternoon going through the internals of `System.Text.RegularExpressions`

I pushed what I have so far here: https://github.com/Mpdreamz/corefx/commit/4c4d6882802feae0a50e19dd18033ab6af648270

I might pick it up for fun at some point again, feel free to unassign me 😄

[2018-06-02 14:54] Tornhoof opened #30084 "API Suggestion: Additional time format pattern for concise ISO8601 format"
The following applies to ``DateTime``, ``DateTimeOffset`` and UTF8/UTF16.
**Motivation**
Currently the time format pattern 'O', 'o' is the roundtrip pattern and the output of a formatted string looks like ``2009-06-15T13:45:30.0000000Z`` and quite often more like ``2009-06-15T13:45:30.0000000-00:00``. This is great for formatting, but the pattern specifies 7 fractional digits in a 100ns precision,

[2018-06-02 14:57] ViktorHofer commented on #28410
wow that's great progress! it's up to you if you want to continue working on it or pass it on to me / other community members.

[2018-06-02 15:00] davidsh commented on #30038
I would be ok w/ that.

[2018-06-02 15:52] pjanotti commented on #23588
Master of OpenCover w/ Mono.Cecil 0.10.0 as in https://github.com/OpenCover/opencover/pull/814 works fine with portable PDBs (including CoreLib with similar steps as above). However, Mono.Cecil 0.10.0 fails with pdbs from WindowsPDB (which is not an issue since we can remove that step from buildtools), Anyway I will follow up w/ Roslyn and Mono.Cecil to see what needs to be fixed to get it working

[2018-06-02 15:58] WilkaH commented on #26768
@AlexRadch did you finish your `ReadOnlySequence` longer than `int.Max` tests? If not, I can take a look at that part as well.

[2018-06-02 16:20] jnm2 opened #30086 "Task causes InvalidCastException casting s_taskCompletionSentinel to List<object>"
I'm running into an issue that looks like a bug, though probably there are restrictions on when `FinishContinuations` may be called that I am not aware of.
`continuationObject ` is being read as  `s_taskCompletionSentinel` for me here:
https://github.com/dotnet/coreclr/blob/v2.1.0/src/mscorlib/src/System/Threading/Tasks/Task.cs#L3234-L3247

Which causes this cast to `List<object>` to fail, since i

[2018-06-02 16:27] karelz commented on #29994
@drewnoakes I sent you collaborator invite - see details here: https://github.com/dotnet/corefx/wiki/Hackathon#how-can-i-grab-an-issue
(assigning temporarily to myself)

[2018-06-02 16:30] danmosemsft commented on #15927
@dcwuser can provide guidance on this probably..

[2018-06-02 16:34] drewnoakes commented on #29994
@karelz accepted. Thanks.

[2018-06-02 16:39] jnm2 commented on #30086
To be clear: my repro involves building .NET Core 2.1.0's Task.cs on .NET Framework 3.5 with almost no modifications. This is probably more of a question than anything. Is there something that is supposed to guarantee that FinishContinuations is never called twice?

[2018-06-02 16:43] jkotas commented on #29921
ValueStringBuilder should be as good with appending strings, as it is with Appending spans. You are likely just seeing an difference in fixed overhead for for small strings. https://github.com/dotnet/coreclr/issues/18005 may be contributing to it as well. Make sure to pick it up when testing this.

[2018-06-02 16:50] johnib commented on #8186
where we at with this? :)

[2018-06-02 16:59] eriawan commented on #27047
@karelz

Does this mean adding more tests as unit tests? Which namespace in System.IO is the main focus?

I would like to try to take this one,

[2018-06-02 17:03] skarllot commented on #28314
I've rebased my PR and ran the tests

[code]

[2018-06-02 17:06] maryamariyan opened #30087 "Running performance tests ignores the xunitmethodname property"
Using either xunitoptions property with -method as shown below:

`msbuild /t:rebuildandtest /p:Performance=true /p:ConfigurationGroup=Release /p:TargetOS=Windows_NT /p:xunitoptions="-method System.Tests.Perf_Environment.ExpandEnvironmentVariables"`

or using xunitmethodname as shown below:

`msbuild /t:rebuildandtest /p:Performance=true /p:ConfigurationGroup=Release /p:TargetOS=Windows_NT /p:xunit

[2018-06-02 17:07] stephentoub commented on #30086
Yes, there are state transitions in task that guarantee it's only called once, as part of whatever call actually transitions the task to a completed state.

[2018-06-02 17:16] jnm2 commented on #30086
Thanks, that answers my question!

[2018-06-02 17:16] #30086 closed

[2018-06-02 17:40] karelz commented on #27165
Yeah, this looks a bit fishy. We should not parse the args IMO. We already have APIs to redirect standard input/output/error of a new process.

I think the only remaining interesting thing here is to find out why simple code works:
[code]
And more complex does not (or find out when it does not work - e.g. args being `myarg < file.txt`).

BTW: @wtgodbe what did you have in mind for this issue? Can

[2018-06-02 17:45] #29997 closed

[2018-06-02 17:48] shaneholder commented on #26233
@bronumski, @jonathh21  I had a similar issue updating from 4.6.1 to 4.6.2.  It seems the problem is related to the System.Net.Http library.   The 4.0.0.0 version I have in the GAC seems to work just fine, but in updating components nuget pulled in 4.3.2 of System.Net.Http which started sending requests using chunk encoding.  I just updated to 4.3.3 of System.Net.Http and it seems to be back to no

[2018-06-02 17:52] karelz commented on #28257
It looks like we may need to go back and rethink the API - returning false for both buffer-too-small and permanent error case is not good - @JeremyKuhne can you please comment?
Also, the dependency on the not-yet-merged API will require waiting for it, sorry.

[2018-06-02 17:54] #29909 closed

[2018-06-02 18:00] stephentoub commented on #23972
Yes, there is.  To launch a new process, the pattern is to fork() (which effectively duplicates the current process into a new one) and then exec(...) the new executable in that forked process.  That means for some period of time, the child process' name is the same as the parent process, and then the name changes to the target name when exec is executed.  On Linux, we use pipe2 to create a pipe w

[2018-06-02 18:00] karelz commented on #26233
@shaneholder System.Net.Http package reships same code which is in .NET Framework starting with System.Net.Http 4.3.1 (assembly version 4.1.1.0). And we didn't touch it since then. 4.3.1-4.3.3 nuget versions should behave exactly the same (I think that even the binaries are exactly the same).

[2018-06-02 18:16] ViktorHofer commented on #30087
It should be this line causing the error: https://github.com/dotnet/buildtools/blob/f522532cd9c3a342c02ec73a9e99c753e7df3d13/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tests.targets#L89

[2018-06-02 18:18] bartonjs commented on #8186
@johnib The feature finished on 19 Oct 2016.  It shipped in .NET Core 2.0.  It also shipped in .NET Framework 4.7.2.

[2018-06-02 18:19] sebastienros commented on #1838
To add my input, I am starting processing from a web application (benchmarking them) and can't get anything to work correctly in either windows or linux. P/Invoke, kill -INT, nothing works and it's really an issue for me. The only workaround I got so far is to have an endpoint in these web apps to trigger an internal graceful shutdown, let's call it a backdoor. But I can do this for shell scripts.

[2018-06-02 18:27] shaneholder commented on #26233
@karelz thanks for the quick reply, especially on the weekend.  To be clear, I'm not using .Net Core.  My issue is in a .Net Framework console app.  I just caught this thread when searching for my problem.  Also, I was incorrect about the version that this started in, its 4.3.0 installing 4.3.1 with Nuget works just fine.

[2018-06-02 18:42] karelz commented on #26233
@shaneholder yep, understood that it is on .NET Framework - as I said, it is something we fixed (i.e. rolled back) in #11100.
The code for out-of-band packages lives in CoreFX repo.

[2018-06-02 19:06] ViktorHofer commented on #27047
@JeremyKuhne I pointed @eriawan to https://github.com/dotnet/corefx/tree/master/src/System.IO.FileSystem/tests/File as a starting point to add tests. You probably want to be more precise where you expected these tests to be added. Do you have a file with TestData that is shared across test files and potentially also test projects?

[2018-06-02 19:19] shaneholder commented on #26233
@karelz thanks for the pointer to the issue, sounds like I got lucky by waiting to upgrade until a fix was ready.

[2018-06-02 19:21] tannergooding opened #30091 "Ensure the System.Runtime.Intrinsics ref assembly doesn't include incomplete APIs"
This is just a tracking issue to ensure that we don't forget to trim the System.Runtime.Intrinsics ref assembly before the next release.

[2018-06-02 19:22] tannergooding commented on #30091
FYI. @CarolEidt, @eerhardt, @fiigii, @sdmaclea

[2018-06-02 19:38] tarekgh commented on #30074
I'll try to take a look on Monday but I am not expecting this test to fail if it is used to succeed before. what is exactly the ```/p:EnableDumpling=true``` we enabled here?

[2018-06-02 19:39] tarekgh commented on #30074
CC @ahsonkhan

[2018-06-02 19:43] ahsonkhan commented on #30074
I would be really surprised if that has any impact on the test results. That is mainly an infrastructure change to get dumps in case of test hangs and crashes. We should look at the set of commits since it was last succeeding to now.

[2018-06-02 19:50] ViktorHofer commented on #30074
I believe this is failing because of this and never worked with it:

[2018-06-02 19:54] saucecontrol commented on #30091
Are the intrinsics coming back for 2.2? I was surprised that the System.Runtime.Intrinsics.Experimental Nuget package was unlisted following the 2.1 release, and it looks like most of the other intrinsics-related issues are tagged with the 3.0 milestone.

[2018-06-02 19:54] tarekgh commented on #30074
Oh, I missed this phrase. then yes it is expected to fail if you changed the first day of the week. why you need to change the first day of the week for this test?

[2018-06-02 19:57] tarekgh commented on #30074
I am closing this issue because it is not really a bug either in the product nor in the test. if you change the test, you'll need to change the expected results.

Also, you may want to look at the issue #28933 for supporting the ISO week if what you are trying to do is related to that.

[2018-06-02 19:58] tannergooding commented on #30091
@saucecontrol, "if" a new version of the package is published for 2.2 (even on MyGet) we need to ensure that the unimplemented APIs aren't part of the surface area, as calling them will currently crash the runtime 😄

This allows "partially implemented" ISAs to still expose the APIs that have been implemented (for experimental use) without having to hide the entire ISA

[2018-06-02 19:58] tannergooding commented on #30091
(actually, I think the crashing may have been fixed, and it will just throw a PNSE now)

[2018-06-02 20:00] SteveL-MSFT commented on #30059
Looks like the issue we had was with xunit.  Moving to a newer version fixed this.  Still not sure if that pkg should have a unix runtime like older versions, but not impacting us now.

[2018-06-02 20:01] voinokin commented on #30091
(Can't find where else to ask): Are there any plans on publishing S.R.I. again? I mean - I have high-perf utility which relies heavily on this package, but support for some intrinsics is still not there. The absence of some of them I can workaround, but with performance hit. So I wonder what and when to expect, eh? :-) Thanks.

[2018-06-02 20:05] ViktorHofer commented on #30074
Shouldn't we support all possible machine configurations? We usually try to avoid adding tests that don't run on all possible environments.

[2018-06-02 20:07] tarekgh commented on #30074
This test is specific testing Invariant, en-US and fr-FR. so the environment shouldn't affect the test as these locales using the Gregorian calendar.

[2018-06-02 20:09] tannergooding commented on #30091
@eerhardt could probably provide more details.

As a guess, I would imagine it wa unlisted because experimental packages aren't supposed to be published to Nuget (only places like Myget).

I believe the packages are still being uploaded to Myget on a ~nightly basis (I'll check later today and report back, out and about right now)

[2018-06-02 20:09] saucecontrol commented on #30091
Ah, ok.  I was kind of looking for the same info as @voinokin.  I'd like to be able to plan around the availability of the Intrinsics support, but I haven't seen anything official as far as release timeline.  I thought we'd be able to use the portions that were present in 2.1 RC1 with the caveat that the API was 'experimental', but then even the crashing bugs in the JIT that were reported, fixed,

[2018-06-02 20:10] ViktorHofer commented on #30074
The failing test isn't about Invariant but about CultureInfo("en-US"): http://source.dot.net/#System.Globalization.Tests/DateTimeFormatInfo/DateTimeFormatInfoFirstDayOfWeek.cs,15

[2018-06-02 20:11] ViktorHofer commented on #30074
Oh sorry I misread your answer.

[2018-06-02 20:16] MarcoRossignoli commented on #28863
This could be the safest choice...even if i think it would be a "strange" property, may lead to confusion.

[2018-06-02 20:18] saucecontrol commented on #30091
The myget packages are still getting uploaded
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Runtime.Intrinsics.Experimental

[2018-06-02 20:25] ViktorHofer opened #30093 "System.Runtime.Tests failing on uapaot"
Failing with the error assembly `nonexistent.dll` not found. Try reinstalling the application.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/PseudoCustomAttributeTests.cs

cc @joperezr @safern @AlexGhiondea @danmosemsft

[2018-06-02 20:27] MisinformedDNA opened #30094 "Windows setup instructions are missing an individual component"
Ported from: https://github.com/dotnet/corefxlab/issues/2217

If you install VS with only the specified [individual components](https://github.com/MisinformedDNA/corefx/blob/e9fcc23ffc5e73d062536b2473ccda66a74315ba/Documentation/building/windows-instructions.md#visual-studio-2017---individual-components-based-install), VS will think it needs to upgrade the projects. Only after also installing the

[2018-06-02 20:40] ahsonkhan commented on #30094
@karelz, only installing what's in the list of components within [Visual Studio 2017 - 'Individual components' based install](https://github.com/dotnet/corefx/wiki/Development-environment-setup-for-Windows#visual-studio-2017---individual-components-based-install) doesn't seem to be enough. @MisinformedDNA discovered that we still need to install the .NET Core cross-platform development workload to

[2018-06-02 20:40] MohammadHamdyGhanem commented on #29689
@karelz @ViktorHofer @danmosemsft @jnm2 @radical @CyrusNajmabadi
This a "simple"  regex to match IP
```\b(?:(?:1?\d{1,2})|(?:2(?:(?:[0-4]\d)|(?:5[0-5]))))(?:\.(?:(?:1?\d{1,2})|(?:2(?:(?:[0-4]\d)|(?:5[0-5]))))){3}\b```
It became that complex because of the need to check that each part is less than 255, which can be very simple if we mach three digits and pass them to a call back function to validat

[2018-06-02 20:42] deinok opened #30095 "ClientWebSocket - Span based APIs"
Seems like ClientWebSockets only have `ArraySegment<byte>`APIs.

Should the ClientWebSockets class have `Span<byte>` / `ReadOnlySpan<byte>` APIs?

[2018-06-02 20:46] ViktorHofer commented on #29689
Being able to call function from a Regex pattern is a feature that exists in Perl today. Unfortunately we currently don't have any plans to add that feature to .NET.

[2018-06-02 20:52] MohammadHamdyGhanem commented on #29689
@ViktorHofer
:(

[2018-06-02 20:59] ThadHouse opened #30096 "Span to pointer behavior differs from string to pointer behavior"
[code]

Working on a project, taking a `char*` of an empty string results in a valid pointer, however taking a `char*` of a span created from that empty string results in a null pointer. This seems like very odd and unexpected behavior, especially when one of the advantages that have been documented of spans are that ReadOnlySpan<char> can be a drop in replacement for string.

[2018-06-02 21:09] stephentoub commented on #30095
It has new `Memory<T>`-based receive and send methods in .NET Core 2.1.

[2018-06-02 21:09] MisinformedDNA commented on #30094
I also tried installing the .NET Core workload with all optional components turned off and it worked, so it is probably one of required components. Here's a list of all the components: https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-community#net-core-cross-platform-development

[2018-06-02 22:20] davidsh commented on #30095
Seems like the question has been answered.  Memory<T> is the desired API pattern now.

[2018-06-02 22:20] #30095 closed

[2018-06-02 22:42] #26975 closed

[2018-06-02 23:15] ahsonkhan commented on #23588
[code]

Why do we need the second step? Wouldn't the first build step cover building corelib as well?

Yep, just tried the steps you mentioned and I am able to see code coverage for corelib now.

@pjanotti, do you know what we need to do to get System.Private.CoreLib code coverage results working in CI?
https://github.com/dotnet/corefx#build--test-status
https://ci.dot.net/job/dotnet_corefx/job/ma

[2018-06-02 23:16] jkotas commented on #30096
`Spans<char>` is a drop-in replacement of string in some cases, but not all. Could you please point us to the place where the [documentation](https://docs.microsoft.com/en-us/) suggests that `Spans<char>` is a drop-in replacement of string? We should clarity it.

`Spans<char>` is equivalent of `char[]` in this case. Taking a `char*` from empty array results into a null pointer as well.

[code]

It

[2018-06-02 23:21] #30044 closed

[2018-06-02 23:31] bartonjs commented on #8158
@sidshetye Whatever code you have for Windows should continue working on Windows.

If that isn't the case, we'd need to know what wasn't working / what API was missing.

[2018-06-03 00:22] karelz commented on #27861
@golf1052 wants to pick it up, assigning to you ...

[2018-06-03 00:39] stephentoub commented on #30038
Actually, mea culpa, I dug into this deeper, and the issue isn't what I said it was.  I believe I now understand what's going on and will work on a fix.

[2018-06-03 01:33] golf1052 commented on #27861
Tested in Firefox, Chrome, and Edge that setting a cookie with Expires UTC is accepted. Tried to test IE but the internet doesn't seem to know where cookies are stored now, the cookies location moved in the Creators Update.

[2018-06-03 01:34] #29994 closed

[2018-06-03 02:39] karelz commented on #30094
Is it needed also for CoreFX repo?

[2018-06-03 08:06] zpodlovics commented on #30049
Let's assume future apis wills be only available as ReadOnlySpan arguments with implicit type conversions:

1) How can I do volatile read/write with ReadOnlySpan?

[code]

2) How can I do CAS with ReadOnlySpan?

[code]
Let's assume I have a method with String argument. I can safely combine this with the earlier examples in 1) and 2) because it has reference semantics.

[code]

Can I safely combine

[2018-06-03 09:21] colgreen opened #30106 "System.Numerics.Vectors.dll fails to load"
This relates to use of the System.Numerics.Vectors (nuget package 4.5) in a dotnet standard 2.0 library, and consuming that library from a Windows .NET Framework application.

When the runtime attempts to load System.Numerics.Vectors this error is reported...

[code]
Reverting to System.Numerics.Vectors 4.4.0 resolves the problem.

Example code:

dotnet standard 2.0 library class...
[code]
.NET Fr

[2018-06-03 10:15] stephentoub commented on #30049
That's not at all what's being said. If a method can't be implemented with span arguments, of course it's not going to take span arguments.

[2018-06-03 11:42] stephentoub commented on #30049
Which methods in .NET Core 2.1 for example that take spans are you concerned about? There are hundreds of them.

[2018-06-03 11:51] 4creators commented on #30018
IMO it is very good proposal, however, IMO it would be easier to do combined binary test for NaN and infinity on floats instead of doing them sequentially.

[2018-06-03 12:19] MohammadHamdyGhanem commented on #29689
I thought of that but I expect regex code is complex and need some time to study before I mess with!
Also I still add new suggestions about regex, and it is better to wait until the whole picture complete. I asced an expert in natural languages about regexex in thst erea and he said that there are tons of papers about that I also want to look at ML frame work and AI tools microsoft afded to dot ne

[2018-06-03 12:38] lobster2012-user opened #30109 "https proxy and custom proxy providers"
Hello.

1. Why socketshttphandler does not support HTTPS PROXY? Is it because of compatibility?
2. Add custom proxy providers.
[code]

Thank you.

[2018-06-03 13:21] #16619 closed

[2018-06-03 13:25] RealFantasy opened #30111 "HTTPS requests on Raspberry Pi"
In .NET Core 2.1 I'm not able to do any HTTPS request, it hangs for like 2 minutes, then it throws `System.Net.WebException: An exception occurred during a WebClient request. ---> System.OperationCanceledException: The operation was canceled.`
(I'm using a WebClient to do a POST request)

In .NET Core 2.0 I'm able to do HTTPS requests, but not to connect to websocket servers, when I try to connect

[2018-06-03 13:45] tannergooding commented on #30018
@GSPP, I added these functions some time back: https://github.com/dotnet/corefx/issues/16841

The query to do is `!double.IsFinite(factor)`.

We have:
* `IsFinite`: Determines whether the specified value is finite (zero, subnormal, or normal).
* `IsInfinity`: Determines whether the specified value is infinite.
* `IsNaN`: Determines whether the specified value is NaN.
* `IsNegative`: Determines whe

[2018-06-03 13:48] tannergooding commented on #30018
(Sorry, clicked the wrong button, didn't mean to close).

[2018-06-03 14:41] #30111 closed

[2018-06-03 16:07] ViktorHofer commented on #29921
From master:

|                          Method |   Categories |     Mean |     Error |    StdDev | Scaled | ScaledSD |     Gen 0 |     Gen 1 |     Gen 2 | Allocated |
|-------------------------------- |------------- |---------:|----------:|----------:|-------:|---------:|----------:|----------:|----------:|----------:|
|        StringBuilder_AppendChar |   AppendChar | 76.42 ms | 0.3985 ms | 0.33

[2018-06-03 16:12] stephentoub commented on #29921
Why do you believe that's the main influence? Is the benchmark actually stressing the growth code paths? Why wouldn't it affect appending chars equally?

[2018-06-03 16:27] Tornhoof opened #30113 "Please make ISpanFormattable public"
Is it possible to make ISpanFormattable public? It's currently internal
https://github.com/dotnet/corefx/blob/d7f120a01ac6ea09a2139c99e43d7811950d2f73/src/Common/src/CoreLib/System/ISpanFormattable.cs#L7
and a public interface would help everyone formatting types which implement ``TryFormat`` of that interface.

Additionally it could help simplifying existing code, e.g.
Utf8Formatter for double/si

[2018-06-03 16:44] paradisehuman commented on #11224
ConnectionLeaseTimeout not working on xamarin !!!

[2018-06-03 16:51] whoisj commented on #1838
@ellismg @terrajobst @stephentoub we (VS Version Control & Git for Windows) have had to deal with this issue re: Git-bash. We've built up a scary level of knowledge about how Ctrl+C "signals" work on Windows. If / when you need information, feel free to reach out and I can provide a brain dump plus sounding board.

Sadly, I've negative spare time to contribute outside my core area at the moment.

[2018-06-03 17:35] MohammadHamdyGhanem commented on #29689
Thanks @karelz.
I hope I can put all my ideas about regex in a NuGet and add some features to make it more useful and interesting. But as I said this will take time. I will start by publishing Verex (my verbal Regex) today or tomorrow, and see where to go from there.

[2018-06-03 18:26] Tornhoof commented on #30113
Thanks. I'll open another one with a formal proposal

[2018-06-03 18:26] #30113 closed

[2018-06-03 19:03] Tornhoof opened #30114 "API Proposal: Public interface ISpanFormattable"
@davidfowl  suggested in #30113 that I make a formal proposal.
**Motivation**
There is an internal interface ``ISpanFormattable``
The only member is:
https://github.com/dotnet/corefx/blob/d7f120a01ac6ea09a2139c99e43d7811950d2f73/src/Common/src/CoreLib/System/ISpanFormattable.cs#L9

This interface is the ``Span`` version of ``IFormattable`` and is implemented by many of the primitive types to allow

[2018-06-03 19:09] karelz commented on #11224
@paradisehuman I assume you mean `ServicePoint.ConnectionLeaseTimeout`. AFAIK it does not work either on .NET Core. In .NET Core 2.1 we introduced `SocketsHttpHandler.PooledConnectionLifetime`. Also the new [`HttpClientFactory`](https://github.com/aspnet/HttpClientFactory) in ASP.NET can leverage both and does even more for you.
Mono/Xamarin has its own networking stack implementation (they do not

[2018-06-03 21:17] davidsh commented on #30109
This issue is duplicative of #9768

[2018-06-03 22:45] ThadHouse commented on #30096
I don't remember exactly where I saw it, maybe it was just somewhere random explaining how to do fixed spans.

I just ended up doing
[code]
Where `NullTerminator` is a preallocated char* single char set to `\0`.

My code explicitly didn't depend on the null termination behavior of either a raw string or a char span, as I end up passing the char* with the string length to Encoding.UTF8.GetBytes() w

[2018-06-03 23:13] jkotas commented on #30096
If you are on .NET Core 2.1, you can use `Encoding.GetBytes(ReadOnlySpan<char> chars, Span<byte> bytes)` method that does the above for you.

[2018-06-03 23:13] #30096 closed

[2018-06-04 00:51] MohammadHamdyGhanem commented on #29937
@karelz @danmosemsft @radical @shanselman @AArnott
Here is Verex (my verbal regex builder):
https://github.com/MohammadHamdyGhanem/Verex
Thanks

[2018-06-04 00:51] MohammadHamdyGhanem commented on #29881
@ViktorHofer @radical
Here is Verex (my verbal regex builder):
https://github.com/MohammadHamdyGhanem/Verex
Thanks

[2018-06-04 00:52] MohammadHamdyGhanem commented on #29689
Here is Verex (my verbal regex builder):
https://github.com/MohammadHamdyGhanem/Verex
Thanks

[2018-06-04 00:53] MohammadHamdyGhanem commented on #27840
@shanselman
Here is Verex (my verbal regex builder):
https://github.com/MohammadHamdyGhanem/Verex
Thanks

[2018-06-04 00:53] MohammadHamdyGhanem commented on #27342
@Clockwork-Muse @MgSam @joshfree
Here is Verex (my verbal regex builder):
https://github.com/MohammadHamdyGhanem/Verex
Thanks

[2018-06-04 06:51] damageboy commented on #20684
I've caught up with the various PRs and attempts (#17405), mainly the comments made by @benaadams
 @jkotas 👍
https://github.com/dotnet/coreclr/pull/17405#issuecomment-378512849
https://github.com/dotnet/coreclr/pull/17405#issuecomment-378627247

I'm closing this issue as it's now clear to me that there's too much potential breakage the comes with the territory when adding such a behavior to the ex

[2018-06-04 06:51] #20684 closed

[2018-06-04 07:29] xneg commented on #30047
Sorry for false alarm. Came back to workplace and can't reproduce it. No memory usage growing.

[2018-06-04 07:29] #30047 closed

[2018-06-04 07:53] MaximLipnin commented on #29706
@bartonjs What is the decision here? Is it considered to bring Parameters property back?

[2018-06-04 09:18] Pinox commented on #29808
I get a similar issue in my UWP project , when trying the build in release mode then I get the following errors.

using Microsoft.NETCore.UniversalWindowsPlatform version 6.0.7

Any ideas or pointing me in the right direction will be appreciated.

![reflection](https://user-images.githubusercontent.com/5297255/40909077-fa84c2c4-67e8-11e8-9285-cc7d3cc7c762.PNG)

[2018-06-04 09:26] KLuuKer commented on #20414
Hi I would also really like some way to "easily" import and export RSA & ECDsa, public & private keys directly to and from PEM & DER files.
When working with payment providers & certain more exotic external api's require me todo this on a regular basis.

And I end up writing allot of (hopefully error free) code that does the importing and exporting.

Bonus points for allowing cryptographic operati

[2018-06-04 09:39] KLuuKer commented on #20414
I see the PEM\DER reader\writer is tracked on #21833
Only thing we then need is a "small" (probably lot's of code) helper method that does the actual import\exporting.
But please don't require a certificate and just let us import\export the keys directly!

[2018-06-04 10:17] hrumhurum commented on #3784
Experienced this very issue on a clean Windows 10 Pro install.

The only extra thing I can think of: I ticked the "Encrypt" checkbox for one of my folders. Ticking that checkbox at the first time causes Windows OS to generate some cryptographic keys for NTFS file encryption. This can be a contributing factor for an issue to manifest itself.

The exact sequence looks like so:

1. Install Windows 10

[2018-06-04 10:32] markmcdowell commented on #27249
Sorry for the slow response. I've yet to test because we can't get our projects to publish with dotnet core 2.1 (even the official release).

We use msbuild because it still has msbuild tasks in the solution and I get loads of errors like:

[code]

I'll update when I hopefully get it working!

[2018-06-04 10:38] archimed7592 opened #30120 "DoesSignatureUseSafeCanonicalizationMethod fails when doing multiple concurrent CheckSignature"
When you have multiple threads doing something like this:

[code]

CheckSignature will fail:

[code]

Looks like bug has come from this line:

https://github.com/dotnet/corefx/blob/07e9caf00ea0f1893d4c25a5ee287000903fbbe2/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/SignedXml.cs#L756

I think this like meant to be like this:
`s_knownCanonicalizationMethods = safeAlgori

[2018-06-04 10:46] adamsitnik opened #30121 "Why the portable ReadOnlySpan has no implicit cast operator from string?"
Today I realized that there is no implicit cast from string to `ReadOnlySpan<char>` for portable version of ReadOnlySpan.

@KrzysztofCwalina can I ask why is that?

[code]

[code]

[code]

[2018-06-04 11:34] eriawan commented on #27047
@JeremyKuhne

I have looked at https://github.com/dotnet/corefx/tree/master/src/System.IO.FileSystem/tests/File especially TestData.cs file. As far as I know, the test data of valid directory is mostly for Windows, although there's no explicit indicator that it's for Windows.

Compared to the reference article of defining testing of valid filename you have mentioned, there should be test data for

[2018-06-04 12:12] KLuuKer commented on #21833
@bartonjs can I get a "It works on baronjs machine" seal of "it should work but I'm not gonna give you any guarantees\support" approval, so that I can copy the code into my own project? :)

I'd rather use yours then use my own "just write those bytes to disk should be fine" pem reader\writer code :D

[2018-06-04 12:34] eriawan commented on #15554
@JeremyKuhne

Since the PR to fix this is already merged, shall we close this or do we need to increase more coverage?

[2018-06-04 12:38] KLuuKer commented on #21833
@bartonjs so I was copying the code and noticed this, (yes I couldn't wait)
I think you are missing a error message because I only see a SR.Format but no SR.UnhelpFullErrorMessage
https://github.com/dotnet/corefx/blob/07e9caf00ea0f1893d4c25a5ee287000903fbbe2/src/Common/src/System/Security/Cryptography/Asn1V2.Serializer.cs#L1066-L1070

[2018-06-04 12:40] #30004 closed

[2018-06-04 12:44] MarcoRossignoli commented on #30004
@baulig  we cleaned up you can use file in this folder https://github.com/dotnet/corefx/tree/master/src/Common/src/CoreLib/Interop/Windows/BCrypt

[2018-06-04 12:48] stephentoub commented on #30121
Where would you define it?  You can't define it on string (because this is the portable version), you can't define it on `ReadOnlySpan<T>`, because then the extension would apply to all Ts and not just `ReadOnlySpan<char>`, and you can't define it as an extension to `ReadOnlySpan<char>` because operators can't be extensions.

[2018-06-04 12:51] stephentoub commented on #30109
Closing as dup.

[2018-06-04 12:51] #30109 closed

[2018-06-04 12:51] stephentoub commented on #30028
Leaving this open for a few days to see if it happens again now that #30090 was merged...

[2018-06-04 13:04] adamsitnik commented on #30121
@stephentoub thanks for the explanation, I forgot about the existing limitations

[2018-06-04 13:04] #30121 closed

[2018-06-04 13:23] BredPet commented on #30039
yes

No, with this path - no.

[2018-06-04 13:28] bartonjs commented on #20414
I'm a little confused by this, since "directly on the public&private keys" is where the operations are already defined...

Yep, that's the purpose of this feature :smile:.  I think I'm close to happy with the shape of dependencies and data formats in local development, so this should end up with an API proposal relatively soon.

[2018-06-04 13:31] bartonjs commented on #21833
In .NET Core 2.1 these classes are powering SignedCms, and the Unix implementation of EnvelopedCms.

Huh, yep.  Good thing that's a design-time exception, since it means no one will get a field name as an exception message with CMS :smile:.

[2018-06-04 13:34] bartonjs commented on #29706
@MaximLipnin Yes, it should be brought back.

[2018-06-04 14:13] KLuuKer commented on #20414
"directly on the public&private keys"
 as in I take my raw byte[] of data and RSA them trough either the public OR private key and vice versa, yeah some api's require me todo this and I always end up taking dependency on bouncycastle code

[2018-06-04 14:16] KLuuKer commented on #21833
@bartonjs  I must say that the current AsnWriter is making it a breeze to manually write PKCS files
much much better then the garbage of code I built

[2018-06-04 14:48] bartonjs commented on #20414
@KLuuKer I'm still not following.

The RSA and ECDsa classes has `SignData`, `VerifyData`, `SignHash`, `VerifyHash` (DSA called them `SignData`, `VerifyData`, `CreateSignature`, `VerifySignature`).  And the RSA class has `Encrypt` and `Decrypt`.  None of these operations require a certificate.

There's the problem of how one uses the same RSA key later that they did now, with the current answer of

[2018-06-04 14:55] #13893 closed

[2018-06-04 15:02] KLuuKer commented on #20414
@bartonjs I need todo a RSA `Encrypt` with the Public key and `Decrypt` with the Private key
the exact opposite of what the RSA class currently does

[2018-06-04 15:11] bartonjs commented on #20414
Oh!  Yeah, that's not something we're very likely to add, partly because not all of the underlying cryptographic libraries we use are capable of doing it; sorry.

[2018-06-04 15:13] gfoidl commented on #29921
I gave it [a try](https://github.com/gfoidl/Benchmarks/blob/58e097f7b906184814c08407c46cc9707bcc9a02/corefx/System/Text/ValueStringBuilderBenchmarks/source/ValueStringBuilderBenchmarks/ValueStringBuilders/ValueStringBuilder.cs).

`ValueStringBuilder0` is base implementation.
`ValueStringBuilder1` is the try.

Benchmarks are run with a coreclr-build at https://github.com/dotnet/coreclr/commit/0a609

[2018-06-04 15:14] KLuuKer commented on #20414
No problem I figured as much (you need to support allot), the AsnReader\Writer is already helping allot tough :)

[2018-06-04 15:19] stephentoub commented on #27908
I think we can close this.  If we find a real issue in the future, we can re-open.

[2018-06-04 15:19] #27908 closed

[2018-06-04 15:21] NinoFloris opened #30123 "Segfault on alpine with a native dep with rid linux-x64 not built for musl still used by shared runtime"
So we tested running on alpine with a native dep ([Mime](https://github.com/hey-red/Mime/tree/master/src/Mime)) which on lib load triggers a segfault due to glibc/musl differences we presume.

What seems to happen here erroneously is that a shared runtime build doesn't correctly choose linux-musl (or maybe has a fallback to linux-x64, which is also wrong) as the runtime dependency lookup path.

Ri

[2018-06-04 15:28] stephentoub commented on #11224
@onovotny, SocketsHttpHandler in .NET Core 2.1 exposes PooledConnectionLifetime, which serves a purpose similar to ConnectionLeaseTimeout, just at the handler level.  Can we consider this issue addressed at this point?

[2018-06-04 15:29] stephentoub commented on #24257
Since Dns doesn't provide the ability to get this data, and since PooledConnectionLifetime enables a similar goal, I'm going to close this for now.

[2018-06-04 15:29] #24257 closed

[2018-06-04 15:33] stephentoub commented on #27904
@Tratcher, response draining now defaults to a 2 second timeout, which is also configurable via SocketsHttpHandler.ResponseDrainTimeout.  Can this issue be closed?

[2018-06-04 15:39] #29977 closed

[2018-06-04 15:41] stephentoub commented on #29661
cc: @krwq, @pjanotti

[2018-06-04 15:42] karelz commented on #30106
@eerhardt @ViktorHofer can you please check it out? Looks like a regression :(

[2018-06-04 15:43] stephentoub commented on #29861
@tmat, @ahsonkhan, has any progress been made here?  These warnings are still showing up during builds.  Thanks.

[2018-06-04 15:43] gfoidl commented on #29921
OK, I'll update an re-measure.

But please explain me why here the bounds check are not "proper".
The length is validated to be `== 1`. `MemoryMarshal.GetReference` "points" to the first element of the Span.

[2018-06-04 15:44] karelz commented on #30123
@janvorli any thoughts?

[2018-06-04 15:48] jkotas commented on #29921
This does not have proper bounds check:

[code]

[2018-06-04 15:53] eerhardt commented on #27486
Since the package only contains experimental/pre-release APIs, it wasn't intended to be published on nuget.org. It will never be a stable package since when the APIs are considered stable they will be contained in Microsoft.NETCore.App. We accidentally pushed the package to nuget.org as part of our pre-releases of .NET Core 2.1 and didn't notice it until recently.

@airbreather is correct that the

[2018-06-04 15:53] gfoidl commented on #29921
Ah, I had the [other method](https://github.com/gfoidl/Benchmarks/blob/58e097f7b906184814c08407c46cc9707bcc9a02/corefx/System/Text/ValueStringBuilderBenchmarks/source/ValueStringBuilderBenchmarks/ValueStringBuilders/ValueStringBuilder.cs#L153) in mind.

Yes, here the bounds check isn't omitted. It's an internal struct so any mis-use should be detected in the debug-build. At least was this my motiv

[2018-06-04 15:59] janvorli commented on #30123
@NinoFloris can you please be more specific on what you are trying to do?

[2018-06-04 15:59] Tratcher commented on #27904
Does Stream.Dispose, HttpContent.Dispose, or SocketHttpHandler.Dispose block for those 2 seconds or does the drain happen on a background thread?

[2018-06-04 16:02] stephentoub commented on #27904
They do not block.  The drain happens asynchronously.

[2018-06-04 16:02] #27904 closed

[2018-06-04 16:04] NinoFloris commented on #30123
Quite simple.

1. We have Mime as a dependency (linked in start post)
2. We publish our app as a shared framework/runtime build.
3. We boot it, shared runtime has code to pick the runtime path for loading libmagic (the native .so that Mime pulls in) e.g. runtimes/linux-x64 etc
4. Runtime picks the linux-x64 path version as there is no linux-musl-x64 <-- this is wrong, it segfaults the runtime due

[2018-06-04 16:08] t-smirnov commented on #21227
@karelz @Mpdreamz

We tried this on 2.1 and having same troubles with connections as earlier

[2018-06-04 16:10] stephentoub commented on #27233
The CancellationToken provided to GetAsync here only applies until the GetAsync operation and until the Task returned from GetAsync completes; in your example, you're using ResponseHeadersRead, so that task will complete as soon as the headers have been received... it doesn't matter how large the response body is, the cancellation token will not apply, and canceling the token after you've already

[2018-06-04 16:10] #27233 closed

[2018-06-04 16:15] pjanotti commented on #29661
@krwq since I looked at some code coverage related issues I'll take a look at this one.

[2018-06-04 16:15] #29841 closed

[2018-06-04 16:16] #29817 closed

[2018-06-04 16:20] karelz commented on #21227
@t-smirnov do you have a repro you can share? Did you check you retargeted your app to 2.1? (just installing 2.1 is not sufficient)

[2018-06-04 16:34] krwq commented on #29661
Thank you @pjanotti

[2018-06-04 16:44] bartonjs commented on #29952
I don't know that we can really answer that question.

* It has the behavior it does in .NET Core because that's what it had in .NET Framework 4.6.
* It has the behavior it does in .NET Framework 4.6 because that's what it had in .NET Framework 1.1.
* .NET Framework 1.1 just turned 15.  So this decision was at least 15 years ago.

The best I can come up with is that the CMS/PKCS7/SMIME formats ori

[2018-06-04 16:52] ebekker commented on #21833
@KLuuKer, are you just copying all the code locally and changing all the internal classes to public?  Just looking to get an idea of the best approach to experiment with this myself.  I would like to support exporting private keys (RSA, EC) using as much *in-the-box* components (or what will hopefully become) as possible.

[2018-06-04 16:57] danmosemsft commented on #23588
I'm going to reopen this in the hope you can fix that.

[2018-06-04 17:00] eerhardt commented on #30091
Posting my reply from https://github.com/dotnet/corefx/issues/27486#issuecomment-394405562

Since the package only contains experimental/pre-release APIs, it wasn't intended to be published on nuget.org. It will never be a stable package since when the APIs are considered stable they will be contained in Microsoft.NETCore.App. We accidentally pushed the package to nuget.org as part of our pre-rele

[2018-06-04 17:01] gfoidl commented on #29921
In my code above the "very common case" in `Append(string)` (string length == 1) regressed a bit. So there's another [variant](https://github.com/gfoidl/Benchmarks/blob/bc2c9c2216e60628a61798b379366dc1d17601a3/corefx/System/Text/ValueStringBuilderBenchmarks/source/ValueStringBuilderBenchmarks/ValueStringBuilders/ValueStringBuilder2.cs#L142), labeled `ValueStringBuilder2` in the benchmark results.

[2018-06-04 17:04] stephentoub commented on #23588
Presumably because a) the step to change the PDB isn't being done, and b) the source linked to from the PDB isn't available with those paths?

[2018-06-04 17:08] logankp commented on #29620
I also recently started experiencing this issue. It only seems to happen in Linux containers for me. Works just fine using .Net Core on Windows.

[2018-06-04 17:10] bartonjs commented on #29691
@danmosemsft

It looks like makecert calls `CoCreateGuid` if no explicit serial number was provided.  That then is interpreted by Windows to be a little-endian big integer.  The bit in question (which is the high bit of the last byte in the guid (either the blitted form or the string-hex form)) is random, so the amortized statement is: `50% of certificates generated by makecert.exe will fail to in

[2018-06-04 17:13] saucecontrol commented on #30091
Thanks @eerhardt, that's really helpful.

Is it correct to assume that the existence of this issue means that until closer to 2.2 release some of the APIs present in the 4.6.0-preview* packages are not yet implemented in the JIT and will either crash or throw PNSE?

[2018-06-04 17:15] Tratcher commented on #28863
Hmm, I just realized this changed the output of ToString as well. .NET ToString does not include the scope, but now core does.

[2018-06-04 17:17] danmosemsft commented on #29691
Thanks @alexcyoung @bartonjs .  I've marked it to consider for the next servicing (it will miss 2.1.1 I think)

@bartonjs when you return, perhaps you could open a bug against makecert owners? Looks like it's in ds/security/.../makecert.cpp in Windows. I do see the CoCreateGuid in there. I was going to open one, but I figured you have more street cred over there.

[2018-06-04 17:19] davidsh commented on #28863
I don't think that's necessarily a bad thing.  The .OriginalString still has the scope-id.  In fact, we've seen an interesting interop issue using UWP apps when System.Uri needs to get converted at the lower layers to WinRT Windows.Foundation.Uri.  These uri's with scope-id that are valid System.Uri are broken when Windows.Foundation.Uri tries to re-create them (using .OriginalString).  That is a

[2018-06-04 17:26] tannergooding commented on #30091
@saucecontrol, that is correct.

You can look at https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L376 to find out which ISAs are fully implemented, which are partially implemented, and which are not implemented at all.

Between 2.1 RTM and the current master, only the FMA intrinsics have been moved (from not implemented to fully implemented).

For the partially implement

[2018-06-04 17:28] KLuuKer commented on #21833
@ebekker I straight up copy the code into a "IBorrowedThisGetRidOfItWhenPublicReleased" folder and remove the calls to the internal `SR.xxxxx` resource calls
grab more files when it complains about them, rinse and repeat

don't forget to enable languageversion 7.2 `<LangVersion>7.2</LangVersion>` and allow unsafe code `<AllowUnsafeBlocks>true</AllowUnsafeBlocks>`

[2018-06-04 17:30] JeremyKuhne commented on #15554
There is still more room for improvement. #29896 is a step forward, but we have more steps to make. :)

[2018-06-04 17:31] EltonCarreiro commented on #29620
The same happens here as @logankp  described.

[2018-06-04 17:34] saucecontrol commented on #30091
Excellent, thanks much @tannergooding.  I'm excited to see how the FMA stuff works out with image convolution.  I'll leave you alone now so you can work on the rest ;)

[2018-06-04 17:35] pjanotti commented on #23588
Short answer:

Long answer:

By default `build.cmd` puts the native corelib (look at `__BuildNativeCoreLib`) at its bin/product, however, we want to use the IL version for code coverage (the native one gives wrong coverage numbers, which I assume is expected since it doesn't need to JIT everything). The second step puts the IL version at the proper bin/product and keep the steps simple (and is not

[2018-06-04 17:36] ViktorHofer commented on #29921
If I read your chart correctly it tells me that for long strings, perf got much better and for small strings it's also slightly faster than before. Is that right?

[2018-06-04 17:41] pjanotti commented on #23588
Side note: for the current version of OpenCover we can't use the portable PDB for corelib, that's why the instructions above add `-- /p:DebugType=pdbonly` to coreclr builds. Notice that, instead of building a Windows PDB directly in coreclr, we could generate a portable PDB with pdb2pdb but I didn't try that myself yet.

[2018-06-04 17:45] gfoidl commented on #29921
Yes that's right.

Although I wouldn't call it long strings, because in the benchmark (code based on https://github.com/dotnet/corefx/issues/29921#issue-326581891) the length of the strings is just 4.
The implementation goes down to ROSpan.CopyTo, so the longer the string will be, this copying will become the dominant factor, and the gain will get smaller, as this change is basically in minimising

[2018-06-04 17:57] rmkerr commented on #28863
Agreed -- ideally I think the scope ID should be included in ToString. It's a meaningful part of the URI, and by removing it we change the meaning. Obviously we do have to consider app compat though, so it is worth considering what use cases we might break.

[2018-06-04 17:59] jkotas commented on #29921
Is the essence of your change to add `[MethodImpl(MethodImplOptions.AggressiveInlining)]` on `AppendSlow` from the original impl?

[2018-06-04 18:05] JeremyKuhne commented on #27047
The key items are `System.IO.Path`, `System.IO.FileStream`, and everything in `System.IO.FileSystem`. Basically anything that takes a path string in System.IO.

The idea is to use the linked post as a hint for creating paths that are known to be problematic. Spaces are one example. Leading, trailing, embedded- they're easy to mess up.

Here is one PR where I was expanding/cleaning up in this vein:

[2018-06-04 18:06] gfoidl commented on #29921
plus

* avoid bound checks
* reuse values from registers instead from the stack (`Length`)

Without the hint to inline it is faster than the current implementation, but still slower compared to StringBuilder.

[2018-06-04 18:08] lobster2012-user commented on #30109
@stephentoub
OK, this is a feature, not a bug.
Then why  this methods (or overrides not exists)
[code]
do not they take the CancellationToken.

[2018-06-04 18:14] ViktorHofer commented on #29921
@gfoidl please the next time post diff links instead of the direct commit as it helps us to easily spot the differences. https://help.github.com/articles/comparing-commits-across-time/

[2018-06-04 18:15] ViktorHofer commented on #29921
Can you also add benchmarks with longer strings? thanks

[2018-06-04 18:16] jkotas commented on #29921
This looks like a workaround for JIT bug. I think we would rather want to fix the JIT bug than write unnatural code like this.

StringBuilder does not use `AggressiveInlining` and it uses much more complex internal data structure than ValueStringBuilder, but it still faster? It sounds suspect to me. Also, `AggressiveInlining` works great for microbenchmarks, but it hurts at scale because of it int

[2018-06-04 18:17] JeremyKuhne opened #30126 "Custom error handling is broken in Unix"
Subdirectory queue handling is not consistent between Unix/Windows. In error skipping cases we need to be sure that we don't try to process directories we fail to open but don't care about. Unfortunately we queue invalid handles on Unix if we skip errors on opening subdirectories in Unix.

Additionally we don't map errors correctly on Unix. We compare the native error to the PAL mapped error which

[2018-06-04 18:20] dmtscv commented on #27165
Less is working because it expects list of files as input, so the format actually is `less.exe file1.txt file2.txt [fileN.txt]`. So symbol "<" is treated as file name and after escaping it is empty, therefore ignored. To prove that, try executing `less.exe ^ file.txt` or `less.exe " test.txt` you will get same result (version 530, taken from [here](http://www.greenwoodsoftware.com/less/download.ht

[2018-06-04 18:21] Pinox opened #30127 "System.Reflection.Emit.Lightweight in UWP Release mode"
My UWP app has always been building fine in release mode , until recently.
I now get various System.Reflection.Emit type errors. I have been battling with these errors for the past 2 weeks , very frustrating indeed );

Not sure what I'm suppose todo in this case. Can someone please advise or steer me in the right direction.

using Microsoft.NETCore.UniversalWindowsPlatform version 6.0.7 with vario

[2018-06-04 18:30] wfurt commented on #1838
At least on Unix, the signals can be handled or ignored by application @sebastienros.
I don't know if that may be your problem but background tasks may do some handling there.
You can also try SIGTERM (15) -> ask process to terminate.

You may be to use Mono.Posix but as discussed above, Windows do not really have POSIX signals.

[2018-06-04 18:35] AndyAyersMS commented on #29921
I started looking at this earlier but haven't gotten very far.

I would not have guessed inlining `AppendSlow` would make much difference so I'll look at that in more detail.

[2018-06-04 18:37] lobster2012-user commented on #27233
@stephentoub
OK, this is a feature, not a bug.
Then why  do this methods (or overrides not exists)
[code]
not  take the CancellationToken  as param?
I can duplicate all the code, but it will be more beautiful to add a token as param.

[2018-06-04 18:48] yujayee commented on #29560
The repro doesn't call XmlSerializer. Moving this issue to area System.Data.
We did some investigation with customer's repro and find out the problem is probably in [`XmlDataTreeWriter.XmlDataRowWriter(DataRow row, string encodedTableName)` Line 3048](http://source.dot.net/#System.Data.Common/System/Data/xmlsaver.cs,3048) .
`WriteAttributeString(string localName, string value)` passes in the local

[2018-06-04 18:56] gfoidl commented on #29921
|                               Method |  Len |       Mean |     Error |    StdDev | Scaled | ScaledSD |    Gen 0 |    Gen 1 |    Gen 2 |  Allocated |
|------------------------------------- |----- |-----------:|----------:|----------:|-------:|---------:|---------:|---------:|---------:|-----------:|
|       StringBuilder_AppendLongString |   10 | 1,337.6 us | 26.217 us | 23.241 us |   1.00 |

[2018-06-04 19:00] ViktorHofer commented on #30106
This repros on my machine on all tfms from net461-net472.

[2018-06-04 19:16] stephentoub commented on #30109
You're welcome to open an API proposal for that.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-06-04 19:18] lobster2012-user commented on #30109
@stephentoub
Sorry, I wrote in the wrong topic

[2018-06-04 19:19] davidsh commented on #30109
Regarding adding Http APIs that accept a CancellationToken, we do have this open issue regarding the HttpContent methods (ReadAsStringAsync, et. al.)

#9071

[2018-06-04 19:20] danmosemsft commented on #30074
@tarekgh we want any contributor to be able pull down the repo and all the tests will pass no matter what their locale is. But ideally even if they have non default locale settings, like en-US with a different day of the week. Is that feasible with our existing tests do you think? For this test, for example, it could just skip if the start day is non default.

[2018-06-04 19:20] wtgodbe commented on #30043
@Mpdreamz what Linux distro are you running in WSL? Did you install all the prereqs listed at https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md? I got a clean build running on Ubuntu 16.04, and making sure to install `libicu55` instead of `libicu52`

[2018-06-04 19:27] #26732 closed

[2018-06-04 19:34] tarekgh commented on #30074
@danmosemsft

This test is scoped to Invariant, en-US, and fr-FR.  it is very unlikely anyone will change the first day of the week in their machine settings when having one of these cultures set as default locale. if you set the default locale to any other locale will not affect this test at all.

Now, if we want to be immune to anyone changing the first day of the week on their machine while hav

[2018-06-04 19:35] colgreen commented on #30106
Yes, that's the behaviour I'm seeing too.

[2018-06-04 19:37] danmosemsft commented on #30074
It isn't that unlikely thought is it since that's how this customer intentionally set it? @ViktorHofer maybe you could make that change.

[2018-06-04 19:43] tarekgh commented on #30074
It would be good to understand why he did that. why need to set the first day of the week to Monday for en-US? I am pretty sure this may cause some other issues for any apps assume or expect Sunday as the first day of the week. it will not hurt to update the test though.

[2018-06-04 19:44] pjanotti commented on #23588
@danmosemsft the first thing to get this in CI is that we need to get testhost with the corelib IL, however, coreclr nuget packages don't come with it. If we do really want this in CI we need to either add it to the existing coreclr packages or create a new package(s) with it (a coverage package could potentially include managed sources too). If we just fiddle with PDB files without the correct co

[2018-06-04 19:49] mungojam commented on #26845
I've been a C# programmer for 10 years, but in the last few years have learnt R and now Python. I love C#, but it is really lacking in this area when compared with Pandas in Python and dplyr/tidyr in R.

Those tools make it so easy to work with tabular data and for people who we want to move out of Excel for LoB data tools they are a much easier sell than C# at present.

Both R and Python benefit

[2018-06-04 19:51] danmosemsft commented on #23588
We can't increase the size of the packages that customers get. @safern the package that you added Corelib symbols to, that's a transport package that doesn't go on nuget right? If so it seem we could put the IL into that one. (And the missing pdb)

Yes, I think this is worthwhile - it's important that it's easy to see what coverage we are getting.

[2018-06-04 19:53] danmosemsft commented on #30074
I use en-US on my machine so that date formats match the US but being from the UK I consider Monday the first day of the week - I admit I never bothered to change the OS setting. Outlook has its own setting.

[2018-06-04 19:57] tarekgh commented on #30074
People want to get UK settings usually change their locale to en-GB :-) and not changing one setting from many different settings. anyway, I am fine with fixing the test.

[2018-06-04 20:06] ptupitsyn opened #30131 "Compiled Regex 3x performance drop in 2.1"
I have migrated my project to .NET Core 2.1 and noticed a huge performance drop in RegEx matching when using `RegexOptions.Compiled` in a loop.

Simple reproducer using [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet):
https://github.com/ptupitsyn/netcore2.1-regex-perf/tree/master/src
(just run, change `netcoreapp2.1` to `netcoreapp2.0` in csproj file, run again), shows **~3x drop**.

[2018-06-04 20:09] #24192 closed

[2018-06-04 20:12] ViktorHofer commented on #30106
I talked with Eric and he will look into it either later today or tomorrow. I will stand by for now.

[2018-06-04 20:13] stephentoub commented on #30131
That's because on .NET Core 2.0, Compiled was a nop.

[2018-06-04 20:23] AndyAyersMS commented on #29921
I can't reproduce the original perf issue in latest master.  I get numbers like these (1000 calls, each doing 100,000 append strings of a 4 character string):
[code]
This is with my own simple perf test harness.

I'll see if using BDN changes things. Need to read up on how to drop in a locally built coreclr.

[2018-06-04 20:29] ptupitsyn commented on #30131
@stephentoub is it some kind of on-demand compilation? Because I create `Regex` instances outside of the benchmarked method.

[2018-06-04 20:31] Nirmal4G commented on #14572
With `UTF8String` in `corefxlab` etc... This would be a nice addition to .NET!

[2018-06-04 20:33] gfoidl commented on #29921
This is a good point. It may be that on running the benchmarks not the latest coreclr-bits got used.

[2018-06-04 20:36] ViktorHofer commented on #29921
I'll measure again later today or tomorrow with a fresh built corefx which uses the coreclr package from yesterday.

[2018-06-04 20:47] sidshetye commented on #8158
@bartonjs : to be honest, the windows code (that needs to support back to net framework 4.5) is not very pretty. Just reviewed it and it's like

### Read certificate store
`System.Security.Cryptography.X509Certificates.X509Store` -> `Open(...)` -> `Certificates.Find(...)` - this is straightforward.

### Read own ECDH private key

Ugly workaround using CLR Security's `Security.Cryptography.X509Cert

[2018-06-04 20:49] KLuuKer commented on #21833
@bartonjs so I am running into I think a security check from https://github.com/dotnet/corefx/blob/07e9caf00ea0f1893d4c25a5ee287000903fbbe2/src/Common/src/System/Security/Cryptography/AsnWriter.cs#L390

because I am trying to write this value
`var asnWriter = new AsnWriter(AsnEncodingRules.DER);
asnWriter.WriteInteger(new ReadOnlySpan<byte>(new byte[] { 0xff, 0xcf }));`
its the first to bytes of a

[2018-06-04 21:02] bartonjs commented on #21833
That's an illegal encoding for `-49`, or `65487`.  -49 would be { 0xCF }.  65487 would be { 0x00, 0xFF, 0xCF }.

[2018-06-04 21:05] stephentoub commented on #30028
Not fixed, e.g.
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/40440addd79355041e07acd3c48f56cafa10f79e/workItem/System.Net.Security.Tests/wilogs
[code]
cc: @bartonjs

[2018-06-04 21:07] safern commented on #23588
So in order to get the symbols I'm using the runtime package (i.e runtime.win-x64.Microsoft.NETCore.Runtime.CoreCLR) whenever we restore the CoreCLR metapackage. While talking to @pjanotti offline I think we can't use the transport package because we could end up growing the runtime package. What if we create a new package that contains the managed assembly and just push it to myget, then we can r

[2018-06-04 21:13] DanielSSilva opened #30133 "(non)Blittable data"
First of all I'm not quite familiar with marshalling and dealing with unmanaged resources.
I was migrating a project  that was compiled and ran with mono and Framework v4.6.1. Basically what I had to do was only change the target framework, yet one thing that made everything stop working was trying to Pin an object into memory with `GCHandle.Alloc`. That threw an exception stating that
`Unhandled

[2018-06-04 21:14] bartonjs commented on #30028
I've started a thread with Windows people.  It seems like the problem doesn't have to do with "from file" or "same file" or "same contents", just that there's a race condition with a global deep within PFXImportCertStore in the latest release.

Not sure why the X509Certificates tests don't hit it, they must just do enough other work that the race never hits.

Putting the mutex back would ameliorat

[2018-06-04 21:19] KLuuKer commented on #21833
So the real question is who is supposed to fix this? the consumer or the writer?
do I just need to add a 0x00 in front of my byte[] if it test positive for that check?

same goes for when reading it back in again, do I need to check for it again before I put it back in my RSAParameter?

[2018-06-04 21:23] #30074 closed

[2018-06-04 21:27] jkotas commented on #23588
The transport packages are sliced and diced by 300+ lines of msbuild to produce the shipping bits: https://github.com/dotnet/core-setup/blob/master/src/pkg/projects/Microsoft.NETCore.App/src/Microsoft.NETCore.App.depproj . I do not think it would be a big deal to add a line here to filter out extra file for CoreLib.

[2018-06-04 21:42] danmosemsft commented on #23588
BTW @ahsonkhan @pjanotti  if either of you have manually generated coverage for corelib from all the corefx tests, I would be interested to take a look if you could share the folder out to me.

[2018-06-04 21:45] stephentoub commented on #30131
At a minimum there will be significant JIT costs on first use, as the compiled IL is then JIT'd into assembly.  And you'll have a lot more code that'll need to be executed, since every compiled regex will have its own assembly to be executed.

@ViktorHofer can speak better to the costs involved in Compiled, though.

[2018-06-04 21:52] ViktorHofer commented on #30131
No, the most significant costs (jit - creating the assembly, module, types and members) are happening during the Regex object instantiation.

[2018-06-04 21:52] AArnott commented on #29977
I agree. But FWIW, this [broke StreamJsonRpc](https://github.com/Microsoft/vs-streamjsonrpc/issues/116) which was using the .NET Standard-friendly subset of reflection APIs to find the `Task<T>.Result` property on the task returned from an async method. Since .NET Core 2.1 returns a `Task<T>`-derived type from async methods now, our reflection code fails to find the `Result` property and it malfun

[2018-06-04 21:53] ViktorHofer commented on #30131
Can you please share your repro code so that we get a clearer picture?

[2018-06-04 21:56] stephentoub commented on #29977
You're saying you consider it a breaking change in a method:
[code]
when Foo isn't sealed to return a Foo-derived type when previously it was returning a concrete Foo?  That's never been the bar.

[2018-06-04 21:59] jnm2 commented on #29977
Any time you use reflection, bets are off unless you are making the same decisions the compiler would have made. By that standard, ignoring inherited Result properties was a bug.

[2018-06-04 22:00] EgorBo commented on #30121
We temporarily defined an operator in our string https://github.com/mono/mono/blob/master/mcs/class/corlib/ReferenceSources/String.cs#L54-L61 🙂

[2018-06-04 22:09] Wraith2 commented on #28270
The changes are made in [my branch](https://github.com/Wraith2/corefx/tree/sqldate) and the existing tests pass.
The [contribution guide](https://github.com/dotnet/corefx/wiki/New-contributor-Docs#contributing-guide) only has a TODO entry about testing changes. I'm unsure how to use my newly compiled assemblies, Attempts to do so in a naïve way adding them as single references fail with binding fa

[2018-06-04 22:23] AArnott commented on #29977
No. I'm saying it *was* a breaking change in that it literally broke our library.

But I was also trying to emphasize that I agree with your standard that you should continue to make the trade-offs you did for better performance. Your standard shouldn't consider it a breaking change because if people do the right thing, it won't break them. We obviously weren't doing the right thing here, and we'l

[2018-06-04 22:26] stephentoub commented on #29977
Ok. That's of course possible with any change, any bug fix, any performance improvement, etc.

Ok.

[2018-06-04 22:50] kasper3 commented on #30123
you would need to compile libmagic on alpine with `runtimes/linux-musl-x64` rid. then nuget will restore that one on alpine and linux-x64 one on glibc linux.

[2018-06-04 22:51] 0xd4d commented on #30133
Similar: https://github.com/dotnet/coreclr/issues/18244

[2018-06-04 23:01] DanielSSilva commented on #30133
That is indeed similar, but in this case I'm specifying the layout, isn't it correct?

[2018-06-04 23:03] NinoFloris commented on #30123
Yes I know the fix, but the problem is it should never fall back to linux-x64 as they are completely incompatible

[2018-06-04 23:20] 0xd4d commented on #30133
It's the array that is an object reference. You could perhaps change it to two fields

[code]

[2018-06-04 23:36] caesar1995 commented on #17099
System.Net.Security has the most potential to improve. Here is the detailed breakdown. There are four areas require attention: `System.Net.Security.NegoState`, `System.Net.Security.NegotiateStream`, `System.Net.Security.SecureChannel`, `System.Net.Security.SslState`.

They are critical for System.Net.Security, and the uncovered lines for each class is > 200. It makes sense to improve on them first

[2018-06-05 00:26] janvorli commented on #30123
cc: @ericstj

[2018-06-05 01:13] AfsanehR commented on #29620
@EltonCarreiro  and @logankp  thank you for confirming this issue.
I just successfully ran a sample application to  read data from a remote SQL Server on my Windows machine from an application on a CentOS machine.
[code]

Although I had to download the dotnet-sdk-2.1, since using package manager I am getting issues as mentioned on [this Github Issue
](https://github.com/dotnet/core/issues/1620)

A

[2018-06-05 01:47] bartonjs commented on #21833
`AsnWriter.WriteInteger` writes ASN.1 BER/CER/DER integers.  That is: signed, big-endian integers using a minimum number of bytes.

`RSAParameters.Exponent` (and RSAParameters.Modulus), on the other hand, is an **unsigned**, big-endian integer using a minimum number of bytes.

`RSAParameters.P` (and Q, DP, DQ, InverseQ) is an unsigned, big-endian **fixed-width** integer whose `byte[].Length` value

[2018-06-05 02:05] pjanotti commented on #23588
@danmosemsft I will share the results of a innerloop pass.

[2018-06-05 02:28] danmosemsft commented on #30131
I wonder whether increasing the regex cache size to 700+ would help.

[2018-06-05 02:31] danmosemsft commented on #28270
@wraith2 does this help?
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2018-06-05 02:32] danmosemsft commented on #28270
Also this should help you get benchmark results: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/benchmarking.md

[2018-06-05 03:33] #29414 closed

[2018-06-05 04:42] iSazonov commented on #9350
It seems to me that this breaking change is a fiction - I implemented Test-Connection cmdlet in PowerShell Core, it works on Windows well, but really does not work on Unix in some cases, so there is absolutely no difference whether it doesn't work silently or occurs throw. I would even say that it is better to get an throw that would not mislead users.

[2018-06-05 06:11] suryapratap commented on #12034
Would you not want the same functionality exposed via System.Spatial instead of Microsoft.SqlServer?

[2018-06-05 06:36] laurentkempe commented on #30074
The reason is that I always install en-US machines and as a French the start of the week is Monday, so I change it this way because I want to see the Windows calendar starting on Mondays. Nothing really special at the end.

[2018-06-05 07:38] roterdam opened #30139 "Should we use TCPListener?"
I don't need the functionality of asp.net core kestrel. When I look at the code, it does not use TcpListener under the hood.

I'm trying to understand why. Is TcpListener significantly worse in performance than Kestrel? I don't have a Hello World application so I'm not super interested in the "throughput" of thousands of RPS. I'm merely trying to reconcile that if I go the TcpListener route I don'

[2018-06-05 08:20] davidfowl commented on #30139
Performance is hard. Start with a benchmark of what you think you want to measure and then measure comparisons based on that. Kestrel is already highly optimized so the implementation of the socket transport goes out of its way to preserve that. We didn’t even consider using layers of abstractions on top of sockets becuse there’s nothing to gain from kestrel’s point of view. Here are some of the t

[2018-06-05 08:22] davidfowl commented on #30127
AFAIK you can’t use reflection emit with UWP applications (at least not in release mode). This is becuse of the native compilation step that happens in release mode. This is why you only see it then.

[2018-06-05 08:32] ptupitsyn commented on #30131
It does not, and, [according to the doc](https://docs.microsoft.com/en-us/dotnet/standard/base-types/compilation-and-reuse-in-regular-expressions), it should not.

@ViktorHofer yes, BenchmarkDotNet does a proper warmup, so I would expect all startup costs to be outside of the benchmarked method.

[2018-06-05 08:43] efaruk commented on #30131
Thanks for the good catch @ptupitsyn 👍

[2018-06-05 09:15] roterdam commented on #30139
Thanks @davidfowl. I was intending to the do the latter in your two mentioned points, but I'm not sure what a custom awaitable is.

The problem with going with Kestrel is that my application is an embedded database app with a simple query fe that needs a webserver. Adding Kestrel drags in a lot of stuff is increasing my app size not to mention dll count. None of this truly matters, but if I'm 80%

[2018-06-05 09:28] Pinox commented on #30127
Thanks @davidfowl for the reply.  This used to work before in release mode so just trying to figure out my next step to eliminate this issue.  Just for my own clarity are we talking about reflection in general in the main UWP app + .net standard 2.0 dll's.    Therefor I shouldn't use system.reflection namespace in any of the above although it's .net standard 2 compliant or are we talking something

[2018-06-05 11:42] eriawan commented on #27047
@JeremyKuhne

Sorry, I could only follow some of your explanation. Also I'm still confused at the references that's mostly for Linux/Unix bad filenames in relations to which tests and what would be the concrete steps to do.

Ok, my questions are:

1. Your PR #27449 focused on tests on Path on System.Runtime.Extensions. So is this will be the first implementation to add more tests?
2. What about te

[2018-06-05 12:05] sherlock1982 commented on #25102
It looks like 4.5.0 can't be used out of the box because of this.
Installing libc6-dev is an ugly workaround. Making symbolic links will conflict when libc6-dev is installed.

[2018-06-05 12:08] rajaktarun opened #30140 "Process.Start as a different user not working on Ubuntu machine"
I have a requirement of evaluating a user code for Human resource management. As Sandboxing and App Domain features are removed from the .net core so I thought to isolate the code by running the process under different user having least set of privileges. The code is running fine on window machine but when I am trying to run the process as a different user in a .net core 2.0 project on an Ubuntu m

[2018-06-05 12:20] morde opened #30141 "IPAddress isn't serializable on .net core"
IPAddress isn't mark serializable on .net core, although, it does on .net framework.
As far as I can see, there is nothing that can cause that change.

[2018-06-05 12:35] qmfrederik commented on #25102
@sherlock1982 You are right, it's a bit of an ugly workaround. The structural fix is in https://github.com/dotnet/corefx/issues/17135. You can perhaps help accelerate a fix for that by upvoting the issue 😄 .

[2018-06-05 13:08] EltonCarreiro commented on #29620
@AfsanehR thank you for the quick response.

The application is deployed as SCD (using 2.0.6), so I don't have the SDK installed on my Linux server (I don't know if it can change something).

Another difference is that my app is hosted on an Linux Ubuntu 16.04.2 LTS

[code]
The exception is thrown according to the timeout specified in the connection string, so if I specify 30 seconds, that's the t

[2018-06-05 13:14] ericstj commented on #30123
That’s true for this package, but another package may have a Linux-x64 asset that’s compatible with musl.  Consider an architecture specific IL assembly that depends on Linux platform api.

[2018-06-05 13:21] martincostello opened #30143 "Behavioral Change Between SocketsHttpHandler and WinHttpHandler with HTTP method names"
# Behavioral Change Between SocketsHttpHandler and WinHttpHandler with HTTP method names

_Moved from dotnet/core#1660_

A behaviour change between using `WinHttpHandler` (the 2.0 default) and `SocketsHttpHandler` (the new 2.1 default) with `HttpClient` when making HTTP requests with a user-specified HTTP method string that is lower-case that may cause HTTP requests to be rejected as invalid.

# G

[2018-06-05 13:29] stephentoub commented on #30143
@davidsh, do you have thoughts on whether SocketsHttpHandler should verbs (known or otherwise) to be capitalized?

[2018-06-05 13:45] stephentoub opened #30144 "SqlClient TestNotSupportedExceptionForTransactionScopeAsync test failing after async fix"
The TestNotSupportedExceptionForTransactionScopeAsync test is expecting a NotSupportedException to be thrown.  The test was buggy, and wasn't awaiting the Assert.ThrowsAsync.  Now that it's been fixed to await it, the test is failing because it's expecting a NotSupportedException that's not being thrown.  I'm not sure what the desired behavior is here (maybe the test should just be deleted as tran

[2018-06-05 13:57] davidsh commented on #30143
Historically, the RFC has referred to all methods in all caps, i.e. GET, HEAD, POST.

I'm looking thru the RFC's, though, because I vaguely recall that method names are supposed to be interpreted by ignoring case, i.e. "get" == "GET".  But I could be wrong about that.

I think the safest thing to do, though, is to up case the standard method names before putting them on the wire.  The HttpMethod c

[2018-06-05 14:08] logankp commented on #29620
This issue is a bit challenging for me to reproduce: it occurs when connecting to SQL Server 2014 (12.0.5207.0) on one server only (so far) but is consistent. I'm able to connect to a 2017 instance on the same server. I've installed SQL Server 2014 on another machine and it can connect to that just fine.

I'm using the microsoft/aspnetcore container and I've tried both EF Core 2.0 and 2.1. The iss

[2018-06-05 14:15] stephentoub opened #30146 "Transactions tests VerifyNestedTxScope sporadically failing in CI"
I'd seen this happen once before, but neglected to open an issue for it then.  Just saw it again:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/osx-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/12949/
[code]
cc: @jimcarley

[2018-06-05 14:20] davidsh commented on #30141
cc: @ViktorHofer  @danmosemsft

[2018-06-05 14:23] davidsh commented on #30139
TcpListener is meant as an "easy-to-use" / "convenience" class similar to TcpClient.  For best performance, using Sockets directly is recommended.  And for the highest performance with Sockets, using the API with SocketAsyncEventArgs is the best way to go.

[2018-06-05 14:44] corretge opened #30147 "A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed) Mac OSX High Sierra 10.13.5"
In PowerShell I try to test an SQL connection from a Mac OSX 10.13.5. DotNet Core and PowerShell were installed through homebrew.

[code]
And I get this error:

dotnet --version : 2.1.300
$PSVersionTable

[code]

[2018-06-05 15:02] stephentoub commented on #30143
Yes and no.  If you do `new HttpMethod("get").Method`, it returns `"get"`, but the instance will compare with case insensitivity, e.g. `new HttpMethod("get") == new HttpMethod("GET")`.

Which ones?  I looked to see what netfx and WinHttp do here.  I tried:
- "get"
- "head"
- "post"
- "put"
- "delete"
- "trace"
- "options"
- "patch"
- "mkcol"

netfx only forces capitalization of:
- "get"
- "head"
-

[2018-06-05 15:15] danmosemsft commented on #30141
@morde we are more selective with the types we made serializable in.NET Core because of the maintainability and security pitfalls it can bring. Can you share why you need it to be serializable with the binary formatter?

[2018-06-05 15:23] stephentoub commented on #30143
Since previous implementations differed and there's no one right answer, I guess I'll just standardize based on the verbs that have public static properties on HttpMethod.

[2018-06-05 15:32] davidsh commented on #30143
Actually, RFC 2616 does use the words "case sensitive" for the defined methods:

https://www.ietf.org/rfc/rfc2616.txt

[code]

RFC 7230 also says it is case sensitive.

https://www.ietf.org/rfc/rfc7231.txt

[code]

[2018-06-05 15:38] stephentoub commented on #30143
Then presumably this is by design and we shouldn't do anything here? i.e. if someone specifies "get", we send "get"?

[2018-06-05 15:42] martincostello commented on #30143
Yeah, that's what I was wondering.

When I was trying to get to the bottom of the failing test, I found that ALB was rejecting the use of `get`, but IIS itself when I hit an instance directly by its IP was fine with it.

Seems like some servers are more lenient that the RFC allows, so some clients might _technically_ be non-compliant but are unaware as their code is working happily.

[2018-06-05 15:44] ViktorHofer commented on #30141
Marking types as serializable has several drawbacks, i.e. exposing internals like a type's data structure which makes modernizing these types very hard. For more info see https://github.com/dotnet/corefx/issues/19119

[2018-06-05 15:45] davidsh commented on #30143
It is a design requirement for the wire protocol that the methods are case sensitive.  However, historically, we have "helped" developers and made sure that the standard defined HTTP methods are transmitted correctly regardless of how they set them into the APIs.

From a compat perspective, we probably should fix this.

[2018-06-05 15:57] gfraiteur opened #30148 "Please clarify the implementation details of unmanaged generic constraints"
Given the following C# code:

[code]

We get the following MSIL code:

[code]
There are two distinctive characteristics of unmanaged constraints: the `UnmanagedType` custom modifier, and the `IsUnmanagedAttribute` custom attribute.

I'm updating the generic constraint resolution logic in PostSharp and I would need to know:

* Which artefact signals the presence of an unmanaged constraint? The modr

[2018-06-05 16:00] jkotas commented on #30133
Mono does not enforce the restrictions on pinned GCHandle objects. It is
 a known problem. https://github.com/mono/mono/pull/4533 and linked issues have the details. This code happens to work on Mono because of this bug.

[2018-06-05 16:09] jkotas commented on #30148
The `unmanaged` constraint is a pure C# language construct. This issue should better be in Roslyn repo.

Runtime is not aware of the `unmanaged` constraint. I am not aware of any plans to fix it.

[2018-06-05 16:10] stephentoub opened #30150 "NegotiateStream Kerberos tests failing after async fix"
These tests were incorrectly ignoring an assert that was firing.  Now that these assert was fixed by https://github.com/dotnet/corefx/pull/30145, several tests are failing, e.g.
[code]

[2018-06-05 16:10] jkotas commented on #30148
This issue was moved to dotnet/roslyn#27474

[2018-06-05 16:10] #30148 closed

[2018-06-05 16:41] jimcarley commented on #30146
This looks like a situation where Transaction.Current is left over from some other test that used the same thread. All the failures are at line 848, which is the AssertTransactionNull at the beginning of the test, where it expects there to be no Transaction.Current.

This is one place that I missed last time when I cleared out Transaction.Current in the constructor of the test class. I will submit

[2018-06-05 17:05] jnm2 commented on #30049
@zpodlovics Reference equality isn't intended to be meaningful with the `string` type, as far as I know.

[2018-06-05 17:08] 0x53A commented on #23686
Is there any chance to fix this inside netcore? Even a hackish solution (reflection or a small one-off parser) would be preferably to PNSE ...

For first-party code, the workaround with the copy-pasted code is okayish, but I have the situation that a third-party dll (targeting net40) breaks because of this.

As I understand it, loading full-fx libraries from netcore is more-or-less supported, with

[2018-06-05 17:13] jimcarley commented on #30146
https://github.com/dotnet/corefx/pull/30151

[2018-06-05 17:21] danmosemsft commented on #23686
Reopening because discussion is continuing. @bartonjs we've broken similar circles in the past with reflection, as you mentioned above. Do you have any concerns with doing that? And if so which dependency would use reflection?

[2018-06-05 17:35] danmosemsft commented on #30140
@eerhardt

[2018-06-05 17:44] terrajobst commented on #20414
Looks good, a few things:

* Replace `ReadOnlyMemory<byte>` with `ReadOnlySpan<byte>`. While this complicates the implementation we think having API more consistent is more important (except for the `Pkcs8PrivateKeyInfo`)
* Rename `KdfIterationCount` to just `IterationCount`

[2018-06-05 18:00] AfsanehR commented on #30147
Hi @corretge your issue seems to be similar to [#1048](https://github.com/Microsoft/sqlopsstudio/issues/1048) and [#1090.](https://github.com/Microsoft/vscode-mssql/issues/1090)
Looks like this is resolved in the latest .NET Core 2.1. Could you please provide the output of `dotnet --info`?

[2018-06-05 18:17] stephentoub commented on #30146
Hopefully fixed by https://github.com/dotnet/corefx/pull/30151

[2018-06-05 18:17] #30146 closed

[2018-06-05 18:22] kasper3 commented on #30123
and you can optionally install glibc on Alpine too, so it's better to keep the keep the RID graph as permissive as it is today: commentary at https://github.com/dotnet/core-setup/issues/3817 might help you understand better why it is how it is.

[2018-06-05 18:33] nguerrera commented on #18095
This should be closed based on https://github.com/dotnet/corefx/pull/18175#issuecomment-293109357

[2018-06-05 18:38] #18095 closed

[2018-06-05 18:42] krwq commented on #3633
@GurmeetMunshi, currently it is not supported - you can generate really close to working class using full framework though (might even work without changes). We have a separate issue tracking it: https://github.com/dotnet/corefx/issues/8647

[2018-06-05 18:42] NinoFloris commented on #30123
@kasper3 thanks for that link, hadn't found it. So it's reasonable if that's how .net consistently wants to apply such a policy. Just wasn't sure it was already debated in depth yet, the link ends that doubt ;)

[2018-06-05 18:42] #30123 closed

[2018-06-05 19:11] wjdavis5 opened #30156 "Where is System.SpanExtensions?"
The docs show it exists here:
https://docs.microsoft.com/en-us/dotnet/api/system.spanextensions?view=netcore-2.0

But I'm not seeing it in System.Memory.dll

![image](https://user-images.githubusercontent.com/2580575/40997439-b284c3ee-68d2-11e8-93d5-4870e3eb03e0.png)

[2018-06-05 19:17] DanielSSilva commented on #30133
@0xd4d changing that to two fields would break on the C code [here for example](https://github.com/jgarff/rpi_ws281x/blob/d50cc444fa3a12bd8e2332ac5d1dd5e61b338e68/ws2811.c#L140), wouldn't it? Since it's iterating an array

[2018-06-05 19:35] DanielSSilva commented on #30133
Nevermind, after testing I've found out that it works. Thank you very much!

[2018-06-05 19:37] stephentoub commented on #30156
cc: @mairaw

[2018-06-05 19:43] sgaliamov commented on #27116
Hello @ViktorHofer! I have couple questions, maybe @brianrob can also help:
1. As I understand, *EtwListener* class is Windows specific class. Should it be excluded from compiling on "non Windows" environments? If yes, then I still need kind of conditional compilation. I've solved it by configuring *csproj* file with *Condition="'$(TargetsWindows)' == 'true'"*. Is it acceptable solution? Or I just

[2018-06-05 19:44] eerhardt commented on #30140
@rajaktarun - Starting a new process as a different user on Unix was enabled in .NET Core v2.1.  It appears you are using 2.0 or below, is that correct?  Can you try using `2.1.0` and see if it meets your needs?  See #26268 and #26431.

Also, on Unix `Domain` is not supported, and will throw an exception if you set it.  The same goes for `Password`, as there isn't a clean way on Unix to start a ne

[2018-06-05 19:50] brianrob commented on #27116
@sgaliamov, thanks for working on this.  I suspect that you won't be able to completely get rid of all conditional compilation because there is surface here as you point out that I don't think we can or want to compile on Unix.  I think that using '$(TargetsWindows)' == 'true' in the csproj is a good way to go about it.

Feel free to modify the existing PR.  I'll also go take a look at it.

[2018-06-05 19:51] JeremyKuhne commented on #27047
There or System.IO.FileSystem. Doesn't matter. I know it is a little bit confusing. In theory Path should be in System.IO.FileSystem. It can't be, however, as assemblies that are lower in the stack of dependencies need it. The source code is actually in System.Private.CoreLib in CoreCLR for path. System.Runtime.Extensions was the lowest assembly where we could expose the type publicly.

I fixed so

[2018-06-05 20:00] #29902 closed

[2018-06-05 20:30] mairaw commented on #30156
@weshaggard this issue keeps coming up with different APIs. I think when you grabbed the assemblies for me for .NET Core + extensions, they included things from the master branch that weren't part of 2.0. Can you confirm?

[2018-06-05 20:38] #30133 closed

[2018-06-05 20:41] wfurt commented on #24990
This works as expected when targeting 2.0 and 2.1.
1.1 throws exception as reported.
Do you have any thoughts on porting fixes back to 1.1 @karelz

[2018-06-05 20:58] keeratsingh commented on #30144
@corivera @saurabh500
I confirmed the test failure after enabling the test with the latest changes.
Could you kindly suggest what the desired behavior is here ?

[2018-06-05 21:04] ramnov opened #30158 "dotnet-runtime-2.0.0 installation fails in centos 7.3"
In centos 7.3 repo :  https://packages.microsoft.com/yumrepos/microsoft-rhel7.3-prod

dotnet-runtime-deps-2.1.0-rc1-rhel.7-x64.rpm and dotnet-host-2.1.0-rc1-x64.rpm are missing from yesterday. This is breaking our code to install dotnet-runtime-2.0.0

[code]

Loaded plugins: fastestmirror, langpacks
Repository packages-microsoft-com-prod is listed more than once in the configuration
packages-micro

[2018-06-05 21:16] karelz commented on #24990
It's fixed in latest version(s). Closing.
If there is large impact on multiple customers, we can consider porting to 1.1.

[2018-06-05 21:16] #24990 closed

[2018-06-05 21:20] karelz commented on #30139
Seems to be answered, closing.

[2018-06-05 21:20] #30139 closed

[2018-06-05 21:21] karelz commented on #30158
I believe something like this was fixed in RTM. Why are you installing RC1 and not RTM?

[2018-06-05 21:22] karelz commented on #30158
This issue was moved to dotnet/core-setup#4197

[2018-06-05 21:22] #30158 closed

[2018-06-05 21:32] David-Engel commented on #18276
Always Encrypted is definitely still on our radar. We don't have a timeline for it at the moment, though. There are a few items that we believe are higher on the list. We are open to prioritization changes, though (vote up comments on this issue).

[2018-06-05 21:35] rudiv commented on #18276
I've commented on another thread regarding this already - but with your recent push on GDPR it shocks me that this isn't available. It's fairly critical to stop people from rolling their own methods to encrypt data in columns (which as we know from experience never ends well).

Being forced to use .NET Framework for such "basic" (from an outside perspective) functionality isn't really acceptable,

[2018-06-05 22:35] keeratsingh commented on #29564
@LandonCampbell Just checking in if you have had any updates ? If not, I will go ahead and close the issue, you can always reopen the issue in case if the issue still exists.

[2018-06-05 22:45] aspnerd commented on #18276
@David-Engel We cannot use the latest SQL and .net Core due to this. We had hours and hours of rework which had to be done because of this and we aren't the only ones. This should have already been done imo.

[2018-06-05 23:13] brian-armstrong-discord commented on #7804
I love that this is being looked at!

Wouldn't the correct casing be `Utf8` in order to match `Ansi`? Keeping `Ansi` but adding `UTF8` seems like an inconsistency.

[2018-06-05 23:14] stephentoub commented on #30143
Fixed in master.

[2018-06-05 23:15] stephentoub commented on #29942
Fixed in master

[2018-06-05 23:15] stephentoub commented on #30003
Fixed in master

[2018-06-05 23:16] stephentoub commented on #30030
Fixed in master

[2018-06-05 23:16] stephentoub commented on #30038
Fixed in master

[2018-06-05 23:28] danmosemsft commented on #7804
Re casing, The [design guidelines](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/capitalization-conventions) require Utf8. Looking in CoreFXLabs, they consistently use Utf8.

However there is plenty of use of upper casings eg if you look in CoreFX public API and in https://apisof.net.

@stephentoub did you choose upper case to be consistent with UTF8Encoding?

[2018-06-05 23:37] huanwu commented on #25138
@sandorfr The tool for wcf is available at https://github.com/dotnet/wcf/issues/2927.

[2018-06-06 00:07] ahsonkhan commented on #30114
cc @KrzysztofCwalina, @AtsushiKan

[2018-06-06 00:08] jimcarley commented on #29940
This looks to be a duplicate of https://github.com/dotnet/corefx/issues/30146, which was closed today with PR https://github.com/dotnet/corefx/pull/30151.

[2018-06-06 00:08] #29940 closed

[2018-06-06 01:20] stephentoub commented on #7804
With Encoding.UTF8

[2018-06-06 02:04] eerhardt commented on #30106
I can repro this issue as well.  However, I am unable to get this behavior:

This scenario fails for me no matter if I use `4.3.0`, `4.4.0`, or `4.5.0` of `System.Numerics.Vectors`.  @colgreen - can you share a repo or .zip that contains the projects with it working and targeting `4.4.0`? I want to see how you made it work.

The issue appears to be that the `System.Numerics.Vectors.dll` is not bei

[2018-06-06 02:16] bartonjs commented on #30009
Are you running in a context where you don't have a user profile loaded?  That sounds a lot like Windows reporting "I can't figure out where to write the private keys".

[2018-06-06 03:20] danmosemsft commented on #30009
If it's not that, which it could well be, have you tried using a tool like procmon to look for which file it is failing to find?

[2018-06-06 04:18] moconchobhair commented on #30147
I am seeing the same issue running .NET Core 2.1.300.

[2018-06-06 04:45] tmds commented on #29942
@danmosemsft in the meanwhile, it is not only folks with our vpn package that are hitting this.

[2018-06-06 05:14] saucecontrol commented on #30106
I had this same problem today.  Strange that it's looking for 4.1.3.0.  The assembly version for S.N.V 4.5 is 4.1.4.0.  I tried an `assemblyBinding` redirection to 4.1.4.0, but that just gives me a two `FileNotFoundException`s instead of one.

[2018-06-06 05:18] saucecontrol commented on #30106
Oh, well there's your problem... the ref assembly in the Nuget package is 4.1.3.0 and the actual assembly is 4.1.4.0

[2018-06-06 05:42] tymtam2 commented on #29907
This prevents me from installing Microsoft.Extensions.Hosting 2.1.0 (the only available version)

Error:

[2018-06-06 05:57] bartonjs commented on #30009
The Linux builds wouldn't have a WindowsCryptographicException; so even if the same thing fails it would be for a different reason.  Linux builds also don't pay attention to UserKeySet vs MachineKeySet (vs not having an opinion).

[2018-06-06 07:32] Sunny-pu opened #30162 "System.Security.Cryptography.X509Certificates.Tests.X509StoreTests failed with "System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle+RemoteExecutionException" in CI."
Failed test: System.Security.Cryptography.X509Certificates.Tests.X509StoreTests.X509Store_MachineStoreLoadSkipsInvalidFiles (from (empty))

Message: System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle+RemoteExecutionException : Remote process failed with an unhandled exception.

[code]
Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/423/te

[2018-06-06 07:44] stukselbax opened #30163 "Inconsistent behavior when comparing Version instances where one is null."
If you have two object of type [System.Version](https://docs.microsoft.com/en-us/dotnet/api/system.version?view=netframework-4.7.2), and you want to compare them using operators <, <=, >, >=, (_and you forgot to check for null by yourself_ ) there is inconsistent behavior when some value is null. Consider the code sample:

[code]

Output will be as follow:

[code]

It is expected that in all cases

[2018-06-06 08:47] joseclament commented on #23545
I've a web job and its getting the same exception, but I am not using Microsoft.AspNetCore.All.
Any idea?
<TargetFramework>netcoreapp2.1</TargetFramework>
    <OutputType>Exe</OutputType>
    <NoWin32Manifest>true</NoWin32Manifest>
    <GeneratePackageOnBuild>false</GeneratePackageOnBuild>
    <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
    <AssemblyName>Itf.Person.WebJobs</Ass

[2018-06-06 08:48] dotnet-mc-bot opened #30164 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpProtocolTests/CustomMethod_SentUppercasedIfKnown(specifiedMethod: \"get\", expectedMethod: \"GET\")"
Opened on behalf of @Sunny-pu

The test `System.Net.Http.Functional.Tests.PlatformHandler_HttpProtocolTests/CustomMethod_SentUppercasedIfKnown(specifiedMethod: \"get\", expectedMethod: \"GET\")` has failed.

Assert.StartsWith() Failure:\r
    Expected: GET \r
    Actual:   get ...

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpProtocolTests.<>c__DisplayClass23_0.<<Custom

[2018-06-06 08:48] joseclament commented on #21766
I've a web job and its getting the same exception, but I am not using Microsoft.AspNetCore.All.
Using netcoreapp2.1 and runtimeIdentifiers are win10-x64;osx.10.11-x64 Any idea?

[2018-06-06 10:52] KLuuKer commented on #21833
@bartonjs I hate to ask this but do you have some code that does this correctly?

[2018-06-06 11:09] dejanstojanovic commented on #26996
Hi, I have the same issue. I tried adding the assemblyBinding section to app.config, but it is still failing to load the proper assembly and I am getting MissingMethodException

`
Unhandled Exception: System.MissingMethodException: Method not found: 'Void Syst
em.IO.Compression.ZipFileExtensions.ExtractToFile(System.IO.Compression.ZipArchi
veEntry, System.String, Boolean)'.
`

Any other suggestion

[2018-06-06 11:20] seroche opened #30165 "Unable to bind guid to parameters when using ApiController Attribute"
After adding the `[ApiController]` attribute to my controller, query string parameters cannot get be bound to GUIDs.

`public async Task<IActionResult> Get(Guid id, CancellationToken token)` always returns:
[code]

After removing `ApiController` attribute, I get the correct result.

I'm using asp.net core 2.1.

[2018-06-06 12:30] bgiot opened #30166 ".NET Core 2.1 SocketsHttpHandler proxy authentication using Windows auth is broken"
When being behind a proxy requesting authentication, .net core 2.1 HttpClientHandler fails to properly authenticate against the proxy.  The following code is working in .net core 2.0 but doesn't work anymore with .net core 2.1:

[code]

[2018-06-06 12:39] lousaibiao commented on #30165
I new an webapi project with asp.net core 2.1, and use link below to test this guid, it works. `https://localhost:5001/api/values?id=c82a4188-0a0f-4143-8cf9-b0a523d4864a`

[2018-06-06 13:27] #30165 closed

[2018-06-06 13:42] stephentoub commented on #30166
I ran:
[code]
on 2.1 on Windows and I get:
[code]
What am I supposed to get instead?  What OS are you on?  You're using the released version of 2.1 or a preview?

[2018-06-06 13:53] stephentoub commented on #30166
Ah, I'm not behind a proxy so my test wasn't valid...

@wfurt?

[2018-06-06 14:43] wfurt commented on #30166
What platform and authentication scheme @dotconsulting ?
Best way would be positing full repro I can run.

[2018-06-06 14:57] dotconsulting commented on #30166
Windows world.  The proxy requests Windows authentication.  I don't know exactly which scheme is used. But for example, with some tools we have to define proxy settings like this : http://{domain\user}:{password}@{proxy}:{port}.  I don't know if it helps.

[2018-06-06 15:08] karelz commented on #30164
Fix is in #30167.

[2018-06-06 15:11] LeoTorok commented on #29147
We seem to be having this same issue connecting from an Alpine runtime image (from may 30th, the latest AFAIK) to a windows hosted sql server (actually to a listener in a high availability cluster if it makes any difference)
The sql server version is

[sql_connection_error_stacktrace.txt]
(https://github.com/dotnet/corefx/files/2076861/sql_connection_error_stacktrace.txt)

[
[sql_connection_error_

[2018-06-06 15:16] karelz commented on #30163
Here's the code:
https://github.com/dotnet/corefx/blob/aa73b08881ccc2a438947c19d60a6665008bcc08/src/Common/src/CoreLib/System/Version.cs#L423-L445

For consistency we should probably follow the rule that `null` is lower than anything else and not throw `ArgumentNullException`:
https://github.com/dotnet/corefx/blob/aa73b08881ccc2a438947c19d60a6665008bcc08/src/Common/src/CoreLib/System/Version.cs#L1

[2018-06-06 15:18] karelz commented on #30166
Would it help to get Fiddler/Wireshark traces? To see if we have any proxy info available at all.

[2018-06-06 15:21] tarekgh commented on #29911
The framework is using the underlying OS for the sorting operation. please report this issue to Windows if you still think the issue is valid.

CC @shawnsteele @jeffjenovey

[2018-06-06 15:21] #29911 closed

[2018-06-06 15:22] Blackbaud-PeteLukich commented on #7023
@karelz i'm looking for the latest version of `AuthenticatedAesCng`, which [ShawnFa's 2009 blog post](https://blogs.msdn.microsoft.com/shawnfa/2009/03/17/authenticated-symmetric-encryption-in-net/) describes getting from here:

Is there a NuGet package that contains this class?

[2018-06-06 15:30] juliusfriedman commented on #29917
I have some methods related to this however by other names, e.g

I believe the name "CongestionAlgorithm" is appropriate and the api allows a broader range of options:

      #region CongestionAlgorithm

        const int TcpCongestionAlgorithm = 12;

        static readonly System.Net.Sockets.SocketOptionName TcpCongestionAlgorithmOption = (System.Net.Sockets.SocketOptionName)TcpCongestionAlgorit

[2018-06-06 15:31] stephentoub commented on #30163
That would be a breaking change, introducing exceptions where they didn't previously exist, and I expect there are actually cases where it would break existing code.

@karelz's suggestion of "For consistency we should probably follow the rule that null is lower than anything else and not throw ArgumentNullException" sounds fine to me.

From a quick search across coreclr and corefx, it looks like V

[2018-06-06 15:32] #30164 closed

[2018-06-06 15:44] wfurt opened #30168 "Setting Ttl on IPv6 socket always fails on Unix."
Consider simple program like this:

[code]

This works OK on Windows 10. UDP packet will go out with Hop Limit set to 6.

The reason why this fails on Linux and OSX is because Unixes have separate IPV6_UNICAST_HOPS/IPV6_MULTICAST_HOPS set of controls.

We expose them via SetSocketOption() but the setter for Ttl does not use them right.
One option would also be fixing SetSocketOption() so it accept

[2018-06-06 15:49] jnm2 commented on #30163
I've always pointed people to https://msdn.microsoft.com/library/43hc6wht.aspx#Anchor_1:

[2018-06-06 15:49] karelz commented on #13551
@labsilva do you have a repro on .NET Core 2.1 which can be easily transferred? If yes, please file a new issue with details.

The original issues should be addressed to our best knowledge on 2.1, except the case of localhost (#24104).

[2018-06-06 15:49] #13551 closed

[2018-06-06 15:54] karelz commented on #7023
I don't think the class is anywhere on nuget. cc @bartonjs @GrabYourPitchforks

[2018-06-06 15:58] bartonjs commented on #7023
@Blackbaud-PeteLukich Nope.  And the clrsecurity project hasn't been maintained in 3 years.

[2018-06-06 16:02] wfurt opened #30169 "CheckRawSocketPermissions() always fails for IPv6 on Unix and we fall back to executing ping6 utility as new process."
Consider simple "ping" program:

[code]

[code]

This is expected. We try to open RAW socket and if that fails we will do ping by starting new process and using system binary.

Now, try same command with sufficient priviledge

[code]

[2018-06-06 16:26] McShauno commented on #24843
I will take this on for the macOS port.

[2018-06-06 16:32] rmkerr commented on #30166
Yeah, I think Fiddler or Wireshark traces would be really useful here.

[2018-06-06 16:37] #29937 closed

[2018-06-06 17:16] davidsh commented on #30166
Putting the username and password in the URL is not supported.  It is considered insecure.  Our HTTP stacks in general don't support that way for both .NET Framework and .NET Core.

The code above here assumes two things. First, that the proxy settings are found via the "default system proxy" settings. On Windows machines, that typically means IE (Internet Explorer) settings.  Second, using .Defau

[2018-06-06 17:27] luqunl commented on #7804
@brian-armstrong-discord ,  We are discussing whether it is necessary to add Charset.UTF8. Most of case(except array), User can just add MarshalAs(UnmanagedType.LPUTF8Str) to each appropriate arguments/fields to use UTF8.

[2018-06-06 17:38] tylerl0706 opened #30170 "“Attempted to perform an unauthorized operation” when calling NamedPipeServerStream.SetAccessControl"
I'm having some trouble securing a NamedPipeServerStream from a .NET Standard lib. I opened a question on [stack overflow here](https://stackoverflow.com/questions/50711518/attempted-to-perform-an-unauthorized-operation-when-calling-namedpipeserverstr).

The gist is that when I try to call SetAccessControl using either of the listed ways, I get an "Attempted to perform an unauthorized operation":

[2018-06-06 17:41] dotconsulting commented on #30166
@davidsh:
Maybe back to the original message i wrote.  The code properly works with .net core 2.0 and properly authenticates against the proxy.  With .net core 2.1 we receive an "access denied" from the proxy saying no credentials are provided.
the "username and password url" sample was just to provide some hints about how the proxy works.
.DefaultCredentials works  with .net core 2.0 but not with

[2018-06-06 17:42] krwq commented on #29914
yes this is in PR: https://github.com/dotnet/coreclr/pull/18305

[2018-06-06 17:43] fisenkodv opened #30171 "Utf8Parser could not parse DateTime strinng in G format"
`Utf8Parser`  is unable to parse `DateTime` string in '_G_' format when the month/day part has only one digit because parser assumes that two digits will be provided:

**month**:
https://github.com/dotnet/corefx/blob/f9ab6c8971c93463aa094f8b1b2e41c522042fa7/src/System.Memory/src/System/Buffers/Text/Utf8Parser/Utf8Parser.Date.G.cs#L28-L29

**day**:
https://github.com/dotnet/corefx/blob/f9ab6c8971c9

[2018-06-06 17:44] davidsh commented on #30166
In the short term, you might want to opt-out of the new SocketsHttpHandler HTTP stack in .NET Core 2.1.

See the release notes for instructions on switching back to the HTTP stack (WinHttpHandler for Windows) that was used in .NET Core 2.0:

https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.0.md

Adding a line of code like this to your app will switch you back to the .NET Core 2.0 H

[2018-06-06 17:46] stephentoub commented on #23588
Thanks for working on this, @pjanotti.

[2018-06-06 17:49] dotconsulting commented on #30166
I'll try that workaround.  I'll keep out posted. Thanks!

[2018-06-06 17:49] danmosemsft commented on #23588
+1 to the thanks, looking forward to this being completely seamless so
1. Rolling coverage runs include corelib
2. Local coverage runs include corelib - whether corelib is locally built or not
All without any user intervention.

[2018-06-06 17:49] rmkerr commented on #30166
This isn't a case I considered when writing the default proxy string parser, so if WinHttp supports providing credentials that way there is a regression here.

[2018-06-06 17:52] dotconsulting commented on #30166
@rmkerr:
The issue is with .DefaultProxyCredentials = CredentialCache.DefaultCredentials;
It seems that the credentials (the current logged user) are not passed to the proxy for authentication.

[2018-06-06 17:55] davidsh commented on #30166
@dotconsulting

The issue is with .DefaultProxyCredentials = CredentialCache.DefaultCredentials;
It seems that the credentials (the current logged user) are not passed to the proxy for authentication.

Can you try an experiment?  Instead of using `CredentialCache.DefaultCredentials`, can you use something like this `new NetworkCredential("username", "password", "domain");` ?

Just want to see if t

[2018-06-06 17:55] weshaggard commented on #30156
Yes in .NET Core 2.0 we gave you guys all APIs that were produced by corefx, I fixed that with the .NET Core 2.1 doc hand of to only give you APIs that are part of Microsoft.NETCore.App. I could give you the same set for .NET Core 2.0 if there is any easy way to clean-up the docs based on that.

[2018-06-06 17:57] dotconsulting commented on #30166
@davidsh
I already tried what you proposed.  Same issue when using a specific NetworkCredential instance.  I tried also to play with Proxy parameter with a WebProxy class but not better.

[2018-06-06 17:57] mairaw commented on #30156
Yes, I can run CI with a new set of assemblies for 2.0 @weshaggard and everything should magically be fixed. ✨

[2018-06-06 18:00] davidsh commented on #30166
Thanks for trying.  This looks like there is a bug with Windows Authentication for proxy credentials in SocketsHttpHandler.

To speed up our investigation, is it possible for you to take WireShark traces?  I'd like to see if there is actual network traffic attempting Windows authentication (but failing) or just not attempting it at all.  Please remove any confidential information from the traces.

[2018-06-06 18:02] weshaggard commented on #30156
@mairaw I will send it to you offline.

[2018-06-06 18:02] dotconsulting commented on #30166
@davidsh
Sure I'll try to produce a WireShark trace.  I'm in Belgium, so now it's evening time (8:00pm).  I'll be at the office tomorrow. Some advice to setup WireShark with .net core console ?
Thanks!

[2018-06-06 18:06] davidsh commented on #30166
There is nothing specific w/ .NET Core regarding WireShark.  Once you set it up on your client machine, you can start the trace, run your app long enough to produce the failure and then stop tracing.  Then you can process the trace and remove unneeded TCP sessions, etc. from it to reduce it down.

If you haven't used WireShark before, then you can go here to get more info:
https://www.wireshark.or

[2018-06-06 18:10] yizhang82 commented on #7804
@luqun Besides char, char[], CharSet also affects default String/StringBuilder marshaling behavior.

[2018-06-06 18:11] weshaggard commented on #30013
That is the correct behavior. With BinPlaceNETCoreAppPackage=true it will create a subset of what we build in corefx under bin/pkg/netcoreapp/runtime. That subset maps directly to what is part of Microsoft.NETCore.App (aka the shared framework). In 2.0 System.Memory was not part of it but in 2.1 is is which is why you see the difference.

[2018-06-06 18:11] leecow opened #30173 "Function erroneously returns null when compiled in release mode"
@jlwSL commented on [Wed Jun 06 2018](https://github.com/dotnet/core/issues/1663)

I've discovered a bug that causes a function to return null even if every possible return value is non-null. The issue does not happen if the project is compiled in debug mode. Please see the code attached that reproduces this issue.

[code]
The code above prints True.

For your information, my system details are be

[2018-06-06 18:50] kouvel commented on #17164
That's probably the same issue with not flowing the impersonation. I'll take a look at trying that using an AsyncLocal.

[2018-06-06 18:52] stephentoub commented on #17164
There are several issues floating around related to this, and I guess I only followed up on the others.  My initial concern seems to be mitigated by the fact that we do use AsyncLocal to flow impersonation in the corefx implementation.

[2018-06-06 18:57] kouvel commented on #17164
Ah ok, then I guess it's just about bringing back the rest of the APIs

[2018-06-06 18:57] kasper3 commented on #30169
`sudo` is repeated twice in: `sudo sudo strace -f -t -e network ~/latest/dotnet run`. is it intentional?

[2018-06-06 19:13] davidsh commented on #30166
I've reproduced the bug.  SocketsHttpHandler isn't even beginning the Windows authentication exchange.

I set up a repro using a test proxy server that uses Negotiate (it actually isn't a fully working implementation of Negotiate..but it's enough to see there is a problem with SocketsHttpHandler).

On .NET Core 2.1 using SocketsHttpHandler.  I see this exchange thru the proxy:

[code]

So, you can

[2018-06-06 19:21] 0xd4d commented on #30173
Looks like a jitter bug, so coreclr is a better repo.

Did you try Release builds?

[2018-06-06 19:27] eerhardt commented on #30106
Speaking with @joperezr, he pointed me to https://github.com/dotnet/standard/issues/410, which is the exact same scenario.  The underlying issue is that "old style" Desktop projects don't get transitive dependencies from "SDK-style" NETStandard projects by default.  To workaround this, you can do any of the following:

1. Reference the dependency (System.Numerics.Vectors) directly in the Desktop p

[2018-06-06 19:27] #30106 closed

[2018-06-06 19:33] eerhardt commented on #30106
To answer @saucecontrol's questions:

Whenever we add an API to an assembly, we need to bump the version number. We bump the version across all assemblies for each release, in this case from `.NET Core 2.0` to `.NET Core 2.1`.

I agree this isn't an ideal experience.  @ericstj @weshaggard may be better to answer exactly why these versions get out of sync. But this is the case for all our assemblie

[2018-06-06 19:36] AArnott commented on #29977
@stephentoub I'm dumbfounded that this failure only occurs on some machines when running on .NET Core 2.1. Locally, I see the test failure due to this `Task<T>`-derived type all the time on Linux and Windows. But on [appveyor](https://ci.appveyor.com/project/AArnott/vs-streamjsonrpc/build/334#L215) and [Travis CI](https://travis-ci.org/Microsoft/vs-streamjsonrpc/builds/388926554#L1037), both which

[2018-06-06 19:37] pjanotti commented on #23588
np, first step for automatic corelib coverage is to include IL version on the transport package.

Jan already indicated which file can be used to ensure that it doesn't get included in shipping bits, but :smile: @danmosemsft @safern can you save me some grepping to figure out where the contents of the transport package are defined? I suspect the the report won't be able to reach corelib sources at

[2018-06-06 19:39] FenrisWolfAtMiddleEarth opened #30175 "Recommendations for solving "Could not load file or assembly" error"
I have for some days been struggling an assembly binding error. Assembly binding is something of a black-box, where so many things can go wrong. And the error message in the exception does not give details. (at least to my understanding). So what is the recommended way to open the box of assembly binding to get details on the problem?
Specifically I am struggling with the following:
1) I have wrap

[2018-06-06 19:49] stephentoub commented on #29977
This is from an `async Task<T>` method? Its result in 2.1 will be derived iff it completes asynchronously. Any chance it's completing synchronously?

[2018-06-06 19:55] wfurt commented on #30169
That was cut & paste error @kasper3. The point was that the function does not fail on permissions.
I bump to this and #30168 while working on fix for #9350.
It should be easy to fix IMHO.

[2018-06-06 20:02] AArnott commented on #29977
Thanks. At least some of the tests that fail locally have an `await Task.Yield()` in the async method, so it seems they couldn't be completing synchronously. With the hint you gave though, I'm going to write a test that narrows it down to just the minimal that should reproduce it, and I'll log like crazy and see what I get on the CI machines.

[2018-06-06 20:02] jmazouri commented on #24547
I just had someone ask me a question about this and wasn't sure of the answer, so I had to look into it and found this issue.

Keeping both listed can cause confusion for those unaware of the difference - especially when Visual Studio's package manager lists the "incorrect" one first, with the proper one being quite far down the list:

![image](https://user-images.githubusercontent.com/1239222/410

[2018-06-06 20:08] FenrisWolfAtMiddleEarth commented on #30175
I found FusLogVw. Is that best way to get details on binding errors ?
It does not help me much though. It says assembly names are different. Looks similar to me :-(

[code]

[2018-06-06 20:18] saucecontrol commented on #30106
@eerhardt I'm fairly certain this is a different issue than the one you referenced.  As I said, the ref assembly and lib assembly inside the Nuget package have mismatched assembly version numbers.  Reverting to 4.4 does fix it because that version of the package isn't broken.

As far as the version bump, I'm still not clear on why that needed to happen.  The only new API I see is the `Vector<T>` c

[2018-06-06 20:23] davidsh commented on #30166
It seems that SocketsHttpHandler is requiring the proxy to send back this header in order to do any Windows authentication:

[code]

This header normally describes how a proxy supports connection persistence to a destination server.  That persistence is required in order to do Windows auth schemes such as Negotiate/NTLM to a destination server (i.e. 401).  However, this header doesn't necessiarly

[2018-06-06 20:32] eerhardt commented on #30106
@saucecontrol - can you send a .zip, or a link to a repo, with a solution that works with `4.4.0` but fails to work with `4.5.0`?  Following the repro steps outlined on this bug fails for me for the exact reason as https://github.com/dotnet/sdk/issues/901.  And it still fails for me using `4.4.0`.

I believe we "bulk edit" them for all assemblies across the board for each release.

[2018-06-06 20:35] ericstj commented on #30106
We can never change the reference assembly version of an netstandard assembly once it goes inbox somewhere: a netstandard library compiled against a newer package must continue to work when run on a framework that contains the older inbox assembly.  For this reason you'll see a lower versioned reference.  That's [what happened](https://github.com/dotnet/corefx/commit/c3c2faac6f691a3f1520e616794da0

[2018-06-06 20:37] galich commented on #7023
@bartonjs what are .NET Core alternatives to non-maintained dated clrsecurity project?

[2018-06-06 20:39] danmosemsft commented on #30175
fuslogvw is indeed a great place to start diagnosing assembly loads into  .NET Framework apps.

System.Runtime.Loader.dll is a .NET Core assembly identity. Normally to make this work, there would be a stub version of this file that forwards to whatever assemblies contain the implementations on .NET Framework. However in this case I don't believe there is such a matching type (presumably AssemblyLo

[2018-06-06 20:40] danmosemsft commented on #30173
Issue moved to [dotnet/coreclr #18332](https://github.com/dotnet/coreclr/issues/18332) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 20:40] #30173 closed

[2018-06-06 20:42] danmosemsft commented on #30162
@tmds this is your new test.

[2018-06-06 20:58] keeratsingh commented on #29714
Closing issue as this is expected behavior for reasons explained above.

[2018-06-06 20:58] #29714 closed

[2018-06-06 20:59] FenrisWolfAtMiddleEarth commented on #30175
I did not. IBM did.
IBM.Data.DB2.Core is a netstandard2.0 library which references System.Runtime.Loader
https://www.nuget.org/packages/IBM.Data.DB2.Core/

[2018-06-06 21:00] stephentoub commented on #30171
cc: @ahsonkhan, @AtsushiKan

[2018-06-06 21:07] MichalStrehovsky commented on #30127
Yes, Reflection.Emit is not supported in UWP applications.

@joshfree @weshaggard If these contracts are in the targeting pack for UAPAOT, should we just have throwing implementations in UAPAOT CoreLib for these? It's what we do for the other APIs that UAPAOT doesn't support. These seem to be baselined in `ApiCompatBaseline.uapaot.txt` to shut up tooling warnings instead and it feels strange becau

[2018-06-06 21:12] saucecontrol commented on #30106
Sorry @eerhardt, I swear I got that to work yesterday, but I deleted my test project.  Retrying now, it fails with either version, but setting `<RestoreProjectStyle>PackageReference</RestoreProjectStyle>` fixes it.  I was playing with manual bindingRedirects yesterday, so that may have confounded things.

@ericstj, thanks for that explanation and reference.  That makes infinitely more sense now.

[2018-06-06 21:21] jkotas commented on #30127
cc @morganbr

[2018-06-06 21:21] AtsushiKan commented on #30171
Utf8Parser uses the InvariantCulture rules. ToString() using InvariantCulture always emits two digits so the parser was written to roundtrip whatever ToString() would emit.

However, it's true that `DateTime.TryParse()` accepts the 1-digit form even when using the InvariantCulture so this could be seen as an api gotcha. Making it accept the 1-digit form will slow down the parser, though.

Thoughts

[2018-06-06 21:33] AtsushiKan commented on #30171
Though we could leave the main path as it is and jump to the more "flexible" version if the first length check for 19 fails.

[2018-06-06 21:37] hughbe opened #30177 "Turn on xml documentation validation globally"
Done for several assemblies, e.g. https://github.com/dotnet/corefx/blob/ba496ae6a9ae055708b630b3f73395a76c2ce6ce/src/System.Threading.Tasks.Extensions/src/System.Threading.Tasks.Extensions.csproj#L6

Could be done for all

See https://github.com/dotnet/corefx/pull/30159#discussion_r193549684

[2018-06-06 21:37] fisenkodv commented on #30171
@AtsushiKan, I believe format should support _AM|PM_ at the end, e.g.  _6/6/2018 5:36:01 PM_. What do you think?

[2018-06-06 21:48] AArnott commented on #29977
So bizarre. So after adding logging, the tests all started failing. Then I removed the logging, and the tests are still failing on the CIs (both appveyor and Travis changed simultaneously). So weird. oh well.

[2018-06-06 21:52] tmds commented on #30162
Not sure if it is the root cause, but that is how the test would fail if the machine store did manage to read the cert that was chmod-ed to zero. This read is done by the underlying library (openssl), so it may be a platform difference.

If we see this happen some more, maybe we see this is on a specific machine/OS.
This failure is on a daily outerloop on centos 7.1? So far it hasn't failed for PR

[2018-06-06 21:52] AtsushiKan commented on #30171
Keep in mind that `DateTime.TryParse` does not take a format string, it takes a `DateTimeStyles` enumeration so there's no implied correlation between `Utf8Parser.Parse('G')` and `DateTime.TryParse`. We aren't using the behavior of that api as a "contract" for how `Utf8Parser` works.

These are intended to be high-performance api where as the older apis were designed for convenience.
`DateTime.Try

[2018-06-06 22:14] tarekgh commented on #30059
chatted with @weshaggard and he mentioned System.Text.Encoding.CodePages doesn't need to have Linux runtime there as it is expected to have the netstandard lib will be used. I am closing this issue but feel free to reply if you have any more questions.

[2018-06-06 22:14] #30059 closed

[2018-06-06 22:30] keeratsingh commented on #29633
I have setup a Windows 8.1 environment and was able to repro the issue **only once** against a local 2017 SQLServer, that too on a clean VM, fortunately I was able to capture the dump and trace with the line numbers to have a better picture of the path. I haven't been able to repro this on Windows 10.
On further investigation while debugging through code I found that `System.Data.SqlClient` is ind

[2018-06-06 22:56] colgreen commented on #30106
Here you go:

[VectorProto-v1.zip](https://github.com/dotnet/corefx/files/2078374/VectorProto-v1.zip)

It took a while to distill the problem down to a demo solution with only the relevant aspects. In summary, the attached solution contains a .NET Framework 4.7 **Unit Test** project that refers to a dotnet standard 2.0 library project.

Both the unit test project and the lib project refer to the S

[2018-06-06 23:09] stephentoub commented on #30171
DateTime.TryParseExact does, though.

[2018-06-06 23:15] weshaggard commented on #29962
FYI @safern please include this in your documentation update.

[2018-06-06 23:16] joperezr commented on #30013
As @weshaggard said, basically bin/runtime will contain everything we build in a vertical that is not a reference assembly, or test project. Not all of that goes into the shared framework, which is why we have the other folder (bin/pkg/netcoreapp/runtime) which does have only the shared framework.

[2018-06-06 23:16] #30013 closed

[2018-06-06 23:17] AtsushiKan commented on #30171
Double-checked `TryParseExact("G", InvariantCulture)`.

It throws a FormatException if you give it a 1-digit component or a "AM/PM" suffix.

[2018-06-06 23:18] safern commented on #29962
Yes I was able to produce a runtime through source-build and test it using the MaximumVersion workaround :clap:

[2018-06-06 23:19] joperezr commented on #26996
@dejanstojanovic which version of ZipFile do you depend on? which version of the framework are you targeting (4.7.1 or 4.7.2)? which version of the framework are you running in(is installed on your machine)?

[2018-06-06 23:39] pjanotti commented on #23588
Oh I see it is transform on top of the nuget specs done at build tools https://github.com/dotnet/buildtools/blob/3306ca2481414624a56f22e0ee28f7c08b93037e/src/Microsoft.DotNet.Build.Tasks.Packaging/src/NuGetPack.cs#L171

[2018-06-06 23:46] saucecontrol commented on #30106
This sounds much more similar to the problem I had that led me to this issue.  In my case, a user has a net47 web site (i.e. no csproj) that references my netstandard2.0 library in a Nuget package.  That library package references System.Numerics.Vectors 4.4.0.  Since the web site is using packages.config, Nuget Package Manager pulls in System.Numerics.Vectors directly as a dependency when my libr

[2018-06-07 03:01] eerhardt commented on #30106
Thanks @colgreen and @saucecontrol.  I am able to repro the problem, and agree with @saucecontrol that the reason this is failing is that the `netstandard2.0` ref assembly (and all previous versions of the package) have an AssemblyVersion less than `4.1.4`, and in the latest NuGet package (`4.5.0`) has an implementation assembly with AssemblyVersion `4.1.4`. When assemblies are referencing differe

[2018-06-07 03:36] saucecontrol commented on #30106
Thanks for the explanation @eerhardt.  I wasn’t aware of the GenerateBindingRedirectsOutputType setting, but I guess that doesn’t help with a web site anyway since there’s no project file to put that in.  And it’s certainly not intuitive even if that solution is an option.  I get that it’s by design and is mitigated in certain toolsets, but man is that a mess…

As a library author, it sucks for me

[2018-06-07 04:03] danmosemsft commented on #24547
@weshaggard can't we just unlist (not delete) the package?

[2018-06-07 04:09] #26447 closed

[2018-06-07 04:29] mazhou-msft commented on #29694
Now I can see the documentation on docs.microsoft.com such as this: https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-2.1, but in VS IDE the XML Comments are still not available, are we on the way to add them? (actually many newly added APIs are missing XML comments.)

[2018-06-07 04:51] mairaw commented on #29694
Those docs are fairly recent and will be adding more as we go. IntelliSense for .NET is generated from the docs and added to the product in certain milestones. So, they’re either going to be update in a v-next (or potentially a servicing release).

/cc @weshaggard

[2018-06-07 05:07] WinCPP commented on #25344
Hi @jkotas, resuming after considerable time. I did the following,

1. Built coreclr as checked build with the changes you had suggested [here](https://github.com/dotnet/corefx/issues/25344#issuecomment-379618164) for the ```Vector(T[])``` constructor (with removal of Intrinsic attribute on the constructor). CLR code changes are in [this](https://github.com/WinCPP/coreclr/commit/56cc25dd6c38d44054

[2018-06-07 06:06] dejanstojanovic commented on #26996
Hi,
The application is targeting 4.6.1 and I am referencing the nuget System.IO.Compression.ZipFile in the packages.config
`<package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />`
On the target machine I checked the registry for the framework version of framework and according to https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-whi

[2018-06-07 06:13] FenrisWolfAtMiddleEarth commented on #30175
I am not using System.Runtime.Loader. I am using IBM.Data.DB2.Core, and I am using it for accessing DB2 database on our IBM mainframe.

But I think I can guess what IBM is using it for. Their library is not a true .net core library. It is just a thin .net Wrapper which uses native libraries. These native libraries comes in three flavours: Windows, Linux and Mac, which is why IBM has three nuget pa

[2018-06-07 06:30] dejanstojanovic commented on #26996
I just discovered one more weird thing. On the target machine I went to GAC C:\Windows\Microsoft.NET\assembly\GAC_MSIL\System.IO.Compression.ZipFile\v4.0_4.0.0.0__b77a5c561934e089 to check the version of System.IO.Compression.ZipFile.dll with simple PowerShell command

`([system.reflection.assembly]::loadfile("C:\Windows\Microsoft.NET\assembly\GAC_MSIL\System.IO.Compression.ZipFile\v4.0_4.0.0.0__b

[2018-06-07 06:38] jkotas commented on #25344
Try generating the jit log for the method using `ComPlus_JitDump` and then try to figure out why the optimization did not happen. https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-tutorial.md  has some documentation on about the internal organization of the JIT.

[2018-06-07 06:46] dotnet-mc-bot opened #30180 "Test failure: System.Drawing.Tests.Graphics_DrawLineTests/DrawLines_PointFs"
Opened on behalf of @Sunny-pu

The test `System.Drawing.Tests.Graphics_DrawLineTests/DrawLines_PointFs` has failed.

Assert.Equal() Failure
    Expected: Byte[] [85, 64, 216, 170, 199, ...]
    Actual:   Byte[] [142, 194, 251, 180, 222, ...]

        Stack Trace:

           at System.Drawing.Tests.DrawingTest.ValidateImageContent(Image image, Byte[] expectedHash) in /root/corefx-1753603/src/Syste

[2018-06-07 07:14] dotnet-mc-bot opened #30181 "RemoteInvoke should retry to attempt to work around "cannot open the remote service. Open Service Status: AppUnavailable""
Opened on behalf of @Sunny-pu

The test `System.Tests.AppDomainTests/SetShadowCopyFiles` has failed.

System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args, RemoteInvokeOptions options, Boolean pasteArguments) in E:\A\_work\

[2018-06-07 07:51] bgiot commented on #30166
I tried to use AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);

But then I got an exception coming from WinHttpAuthHelper class:

System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Net.Http.WinHttpAuthHelper.CheckResponseForAuthentication(WinHttpRequestState state, UInt32& proxyAuthScheme, UInt32& serverAuthScheme)
   at System.N

[2018-06-07 07:58] qmfrederik commented on #16947
Here's another variation of this problem. Image you have an ASP.NET Core application which takes an optional JSON object as the content of a POST request:

[code]

If the content is optional, you can do a `POST /very-important-url` with `Content-Type application/json` and an empty body and ASP.NET Core will process the request.

However, if the `Content-Type application/json` header is missing, yo

[2018-06-07 08:04] dejanstojanovic commented on #26996
Finally mad it work.
I installed 4.7.1 SDK on my dev machine, set the targeting framework to 4.7.1 instead of 4.6.1, removed all packages and added references installed and re-compiled.

Finally works

[2018-06-07 09:12] gbalykov commented on #30013
@weshaggard @joperezr thank you for your comments!

[2018-06-07 09:22] gfoidl commented on #30165
For the protocol: https://github.com/aspnet/Home/issues/3202

[2018-06-07 11:19] SivakumarShan commented on #28267
Hi I'm also getting the same error while using the below code.
var vssConnection = new Microsoft.VisualStudio.Services.WebApi.VssConnection(new Uri(tfsCollectionUri), new Microsoft.VisualStudio.Services.Common.VssBasicCredential("", ""));

I'm using .NET Core 2.0 version.

[2018-06-07 12:05] DaniilSokolyuk commented on #30166
Nuget affected too
https://github.com/NuGet/Home/issues/6978

[2018-06-07 12:08] Ramnath24 commented on #17272
I'm facing same issue. Does anyone have solution?

	[ERROR]An error occurred while sending the request.
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Couldn't connect to server
   at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
   at System.Net.Http.CurlHandler.MultiAgent.FinishRequest(StrongToWeakReference`1

[2018-06-07 12:13] stukselbax commented on #30163
@jnm2  interesting definition.
Thus @karelz solution is the most appropriate in this case?

[2018-06-07 13:58] davidsh commented on #30166
@dyamo

This is suprising.  When the AppContext switch is used to switch off SocketsHttpHandler, proxy detection  and use is done by the original WinHttpHandler HTTP stack.  I haven't seen any problems with that.

Can you show a repro and the callstack / exception you're getting?  Thx.

[2018-06-07 14:36] davidsh commented on #30166
@bgiot

System.NullReferenceException: Object reference not set to an instance of an object.
at System.Net.Http.WinHttpAuthHelper.CheckResponseForAuthentication(WinHttpRequestState state, UInt32& proxyAuthScheme, UInt32& serverAuthScheme)
at System.Net.Http.WinHttpHandler.StartRequest(WinHttpRequestState state)
at System.Net.Http.HttpClient.FinishSendAsyncBuffered(Task`1 sendTask, HttpRequestMessa

[2018-06-07 14:55] karelz commented on #17272
@Ramnath24 can you try .NET Core 2.1? curl is not use there at all.
To troubleshoot, you can use Fiddler/Wireshark to check what is happening on the network.

[2018-06-07 14:57] karelz commented on #30163
@stukselbax let's wait for @terrajobst @KrzysztofCwalina to chime in, but it is likely my recommendation (endorsed by @stephentoub) is the right one.

[2018-06-07 14:59] karelz commented on #28267
@SivakumarShan can you answer @davidsh's questions above please? (https://github.com/dotnet/corefx/issues/28267#issuecomment-388199656)

[2018-06-07 15:01] bgiot commented on #30166
@davidsh
"Automatically detect settings" is checked in the IE settings.  So, probably a pac file loaded from the network.

[2018-06-07 15:28] ericstj opened #30183 "Make Bitmap, Image, Metafile, Icon, Font serializable for Winforms use"
/cc @Tanya-Solyanik @morganbr

The WinForms app model / designer relies on placing System.Drawing types in resources and serializing those using BinaryFormatter.  As such we need to add back [Serializable] to these types.

Alternatively the WinForms designer (and resources designer, likely) could use a different serialization format for the blobs embedded in the resx.  This would require a coordin

[2018-06-07 15:30] davidsh commented on #30166
What about the kind of proxy server?  Is it using Negotiate or NTLM (or both)?  Can you do some WireShark traces of this?  We'd like to understand the error you're getting when using WinHttpHandler.  There are probably 2 different bugs here: one with SocketsHttpHandler that we understand already, second with WinHttpHandler that we can't repro yet.

[2018-06-07 15:31] ericstj opened #30184 "Consider adding back AppDomainSetup"
I've found many desktop applications that access AppDomain.CurrentDomain.SetupInformation.ApplicationBase & TargetFrameworkName.  We should consider adding these back in System.Runtime.Extensions and redirect them to AppContext, at least so long as we don't have actual AppDomain creation support.

[2018-06-07 15:35] ericstj opened #30185 "System.Runtime.ProfileOptimization is missing from .NETCore"
I came across some desktop apps that use ProfileOptimization to tune the JIT.  Per https://github.com/dotnet/coreclr/issues/18202 we have similar APIs on AssemblyLoadContext.  We should redirect ProfileOptimization to those and avoid an unnecessary break unless we have a good reason for not providing Static access to such APIs.  /cc @brianrob @jkotas

[2018-06-07 15:39] brianrob commented on #30185
The main reason for this is that on .NET Core, you have to know the AssemblyLoadContext as using Multi-Core JIT can trigger assembly loads.  This is the reason that the APIs were moved when enabling Multi-Core JIT on .NET Core.  It's possible to have an implementation of these static methods that uses the default AssemblyLoadContext if we feel this is improtant enough.  I'm open to this - though I

[2018-06-07 15:40] brianrob commented on #30185
@noahfalk

[2018-06-07 15:41] ericstj opened #30187 "Thread never sets _principal"
I came across some desktop code that depends on accessing Thread.CurrentPrincipal and expects a legit concrete WindowsPrincipal however we never set this value and it will always return null.

At least on Windows we could set it to `new WindowsPrincipal(WindowsIdentity.GetCurrent());`, potentially via lightup.

[2018-06-07 15:45] ericstj opened #30188 "PerformanceData types are missing from System.Diagnostics.PerformanceCounters"
I came across some desktop code that was using these old perf counter APIs.  I was able to add it back rather simply.  Any reason why we wouldn't want to do this?
https://devdiv.visualstudio.com/DevDiv/Default/_git/DotNet-CoreFX-Trusted/commit/58ff87066374ab65e556afa6194564722a69413e?refName=refs%2Fheads%2Fericstj%2Fadd.back.types.experiment

[2018-06-07 15:52] ericstj opened #30190 "Add back most CreateInstance APIs to AppDomain and Activator"
I've encountered a ton of desktop code that uses either
AppDomain.CreateInstance(string, string)
AppDomain.CreateInstanceFrom(string, string)
AppDomain.CreateInstanceAndUnwrap(string, string)
AppDomain.CreateInstanceFromAndUnwrap(string, string)

And similar APIs on Activator.

I know these APIs were in support of remoting, but they are just too attractive since they deal in strings and folks can

[2018-06-07 16:02] dlech commented on #29942
For me, this bug was triggered by a broken symlink in `/etc/ssl/certs/`. By deleting the broken link, I was able to avoid the error.

[2018-06-07 16:08] AtsushiKan commented on #30171
Closing as the current behavior is consistent with round-tripping and `TryParseExact("G")`.

[2018-06-07 16:08] #30171 closed

[2018-06-07 16:28] danmosemsft commented on #29942
@dlech thanks. Hopefully until this can be serviced, folks getting this stacktrace will find this issue and figure out the workarounds.

[2018-06-07 16:29] weshaggard commented on #24547
I just unlisted all the versions so that should help with the confusion.

[2018-06-07 16:37] karelz commented on #30169
What is impact of the bug? Does it affect only `Ping.SendPingAsync` or more?

[2018-06-07 16:37] iftahbe commented on #30009
Can't reproduce this anymore.
Closing the issue.

[2018-06-07 16:37] #30009 closed

[2018-06-07 16:44] karelz commented on #30175
Closed - seems to be answered. Shout out if I missed some angle.

[2018-06-07 16:44] #30175 closed

[2018-06-07 16:48] davidsh commented on #30166
@bgiot

I was able to reproduce this exception in WinHttpHandler when I use a PAC file.  I used explicit PAC file settings instead of "automatic discovery" since it was easier to repro it that way.  But I got the same NullReferenceException.

![image](https://user-images.githubusercontent.com/7684835/41113984-f179e8ac-6a37-11e8-8d35-022c55383431.png)

[2018-06-07 16:53] davidsh commented on #30166
We will probably split this bug into separate bugs since the root causes are different between WinHttpHandler vs. SocketsHttpHandler.

[2018-06-07 17:04] rmkerr commented on #30166
I think it's likely that the WinHttpHandler regression is related to [this change](https://github.com/dotnet/corefx/commit/6d031a04f3df8fadd5b82d9c23d904182eea94e4) that I made. It changed the code where you're seeing the NRE.

[2018-06-07 17:06] davidsh commented on #30166
Yes.  I understand the fix but it will have some restrictions to it because of #6997.

[2018-06-07 17:14] ianhays commented on #29907
As Eric and I discussed in person, we think this is a result of some preliminary arm64 work in 1.1. The intent was not to actually be publishing a stable version of this package, nor was the intent to reference one from the platform-unspecific meta package.

What we should do here is publish an empty version of this package so people stop getting broken dependency errors on nuget restoration.

FYI

[2018-06-07 17:17] rmkerr commented on #30166
Oh interesting. Thanks for pointing that out, I wasn't aware of those restrictions.

[2018-06-07 17:23] davidsh opened #30191 ".NET Core 2.1 WinHttpHandler proxy authentication broken when using PAC files"
This issue split off from #30166.

Proxy authentication using system default proxy settings that involve a PAC file (either autodiscovery or explicit PAC file) cause a NullReferenceException in WinHttpHandler.

![image](https://user-images.githubusercontent.com/7684835/41113984-f179e8ac-6a37-11e8-8d35-022c55383431.png)

This is a regression from .NET Core 2.0 caused by PR #28105

[2018-06-07 17:27] wfurt commented on #30169
We always fail to executing process when using ping to IPv6 destination.
I did not find references to this beyond tests and Ping.
However the issue lives in Sockets so it seems all

[code]
will throw exception. The exposure is probably low as use of RAW sockets is rare IMHO.

[2018-06-07 17:31] huanwu opened #30193 "Area-Serialization Sprint 137"
The issue is for tracking issues to be done in sprint 137 (due by 6/29/2018)

[2018-06-07 18:08] huanwu commented on #28530
This issue was already covered by https://github.com/dotnet/coreclr/issues/17460

[2018-06-07 18:08] #28530 closed

[2018-06-07 18:10] brianrob commented on #30188
@adiaaida

[2018-06-07 18:18] SivakumarShan commented on #28267
@karelz I'm using VS 2017 with 15.5.6 version. Let me update to the above mentioned version and try it out. Thanks :)

[2018-06-07 18:53] tylerl0706 commented on #30170
I noticed that the [tests for the extension methods](https://github.com/dotnet/corefx/blob/c54a7a72e70cb5dad09dd6fef6aea9a8d5441e4a/src/System.IO.Pipes.AccessControl/tests/NamedPipeTests/NamedPipeTest.AclExtensions.cs) all use the empty `PipeSecurity()` constructor so I tried using an empty one in my code to see if this could be a bug that was overlooked since the tests never added an access rule.

[2018-06-07 18:56] davidsh commented on #30191
Unlike #30166 which is specific to a proxy server using Windows auth schemes (Negotiate, NTLM), this issue occurs for any auth scheme (Negotiate, NTLM, Digest, Basic) that a proxy server might be using.

[2018-06-07 19:02] yvinap opened #30195 "Multi-platform compilation: System.Configuration.ConfigurationManager.GetSection throws error on NetCoreApp"
**Background:**
We are in the process of migrating .Net application to .Net Core.
As a strategy, we would like to keep the existing functionality intact on Full framework while migrating portion of the application to .Net Core.  Full application would support .services over Net remoting and REST API whereas .Net core application will only support REST API services.
We have decided to keep the same

[2018-06-07 19:04] davidsh commented on #30191
Currently testing this is difficult in CI since it requires machine configuration, hosting a PAC file etc.  But these are the manual repro steps.

1. Configure network to use a PAC file for proxy settings. It can be either "Automatically detect settings" or "Use automatic configuration script".  The former requires configuring the network for WPAD protocol. The latter simply requires hosting a PAC

[2018-06-07 19:04] yvinap commented on #30195
If this is known issue/expected behavior, can you suggest whether the workaround mention above is okay to implement or there could be some risk?

[2018-06-07 19:43] los93sol opened #30197 "Raw Socket on Linux - Outbound data missing"
I am using a raw socket on linux to capture all traffic on a specific interface and port.  The issue I'm having is that on eth0 I see only the inbound traffic, but on the lo interface I can see both inbound and outbound.  Is there a trick to getting the outbound data on the eth0 interface?
[code]

[2018-06-07 19:50] attilah commented on #26603
@kasper3 @KrzysztofCwalina  is there a separate issue for MMF/Span? I was not able to find it and is not linked here.

[2018-06-07 19:54] adiaaida commented on #30188
I can't think of a reason not to. @danmosemsft?

[2018-06-07 20:12] KrzysztofCwalina commented on #26603
I am not aware.

[2018-06-07 20:43] kasper3 commented on #26603
@attilah, related https://github.com/dotnet/corefx/issues/29562#issuecomment-388182098 and overarching idea https://github.com/dotnet/corefx/issues/30174.
In case of `MemoryMappedFile.CreateFromMemory`, the file IO operation due to every `.WriteX(..)` would need to be replaced by memory IO operation. Use-case i was thinking was; user downloaded data file and without persisting to filesystem, file

[2018-06-07 20:48] danmosemsft commented on #30188
Fine by me, I don't recall any conscious decision in the past to not do this for some reason (unless it was because: we should not port obsolete technology, which is something we are much less concerned about now)
BTW your PR link is internal of course.

[2018-06-07 20:58] davidsh commented on #30028
The crash is still occuring on .NET Core CI runs and not just Desktop (.NET Framework).  So, we should probably put back the mutex in the test code.

[2018-06-07 21:12] richlander opened #30199 "Passing Span<string> to String.Join()"
I was hoping to write this code:

[code]
Instread, I had to write this:

[code]

Or am I just holding span wrong?

[2018-06-07 21:17] davidsh commented on #30028
I will put up a PR for adding back the mutex.

[2018-06-07 21:19] CalArabshahi commented on #29941
@karelz and @davidsh Would you please describe/state whether .NET Core 2.1 supports Kerberos Authentication from a Linux Client against a service? IMO, there are lots of confusing statements/issues around Kerberos Authentication on Linux and macOS and no clear statement as to what works and what does not work. Please clarify. For example how does ".NET Data Provider for SQL Server" support Kerbero

[2018-06-07 21:41] karelz commented on #29941
@CalArabshahi it is a good question, but does not seem to be directly related to this issue. Let's not hijack it. Please file a new issue for discussion. @wfurt is the right expert.
In nutshell: Networking APIs in 2.1 support Kerberos. For SqlClient question we will likely need separate set of experts from the area to answer.

[2018-06-07 21:44] karelz commented on #30197
cc @wfurt

[2018-06-07 21:49] davidsh commented on #30028
Ref: Internal bug 16598407

[2018-06-07 22:10] tempworks-paul commented on #25717
Follow up for the group, same problem using docker image ```microsoft/dotnet:2.1-aspnetcore-runtime-nanoserver-1803```

[code]

[2018-06-07 22:13] ahsonkhan commented on #30199
There is no string.join overload that accepts a span. All of them are array based: https://apisof.net/catalog/System.String.Join(String,String())

We have an implicit conversion from array to span, but there is no implicit conversion from a span to an array (it requires allocation and data copy).

If we can support span-based params (see https://github.com/dotnet/csharplang/issues/535), then we co

[2018-06-07 22:14] CalArabshahi commented on #29941
@karelz I will open a new issue. I work with @Aarthiumayaval. I hoped that you can provide guidance about this issue and whether it is really a bug without any workaround (i.e. Kerberos Authentication on Linux does not work). I think you have affirmed that .NET Core 2.1 supports Kerberos authentication on Linux but now we have to figure out how; and try to understand what is the bug in this specif

[2018-06-07 22:16] CalArabshahi opened #30203 "Does NegotiateStream support Kerberos Authentication on Linux and how?"
@karelz and @davidsh Would you please describe/state whether .NET Core 2.1 supports Kerberos Authentication from a Linux Client against a service? IMO, there are lots of confusing statements/issues around Kerberos Authentication on Linux and macOS and no clear statement as to what works and what does not work. Please clarify. For example how does ".NET Data Provider for SQL Server" support Kerbero

[2018-06-07 22:20] davidsh commented on #30203
Can you specify what scenarios you think don't work?  Are they HTTP scenarios (using HttpClient) or NegotiateStream scenarios (using NegotiateStream class).

Can you post some sample code to demonstrate what APIs you're using?

In general, we don't know of any known Kerberos issues with Linux as a client.  Kerberos does requires interaction with a Kerberos server (i.e. Windows Active Directory) an

[2018-06-07 22:28] wfurt commented on #30197
https://www.linuxquestions.org/questions/programming-9/problem-sniffing-with-raw-sockets-222971/

You would need to use AF_PACKET(https://www.binarytides.com/packet-sniffer-code-in-c-using-linux-sockets-bsd-part-2/)

However that addressFamily is currently not supported. Your best option may be invoking libpcap.

[2018-06-07 22:37] CalArabshahi commented on #30203
we are using NegotiateStream; no HTTP scenarios; refer to #29941 for the sample code; karelz asked that I open a new issue; see my original post in #29941. Specifically we are writing a .NET Data Provider (similar in concept to the .NET Data Provider for SQL Server). The Data Provider must use Kerberos to authenticate and establish a connection to the Database server. This has been working on .NET

[2018-06-07 22:41] davidsh commented on #30203
Thx for the added info.  What distro of Linux did you try this on?  We'd like to set up the same environment to see if we can reproduce the problem you're seeing.  Please include detail such as what packages (apt-get etc.) are installed into the distro.

[2018-06-07 23:01] wfurt commented on #30203
to answer some of your questions @CalArabshahi :
The PAL layer uses GSSAPI interface and that normally links with MIT kerberos libraries.

At least for HTTP with 2.1 Negotiate stream does not use cache created with kinit - but creates in-memory ticket.

[2018-06-07 23:06] wfurt commented on #30203
BTW Credential Cache.DefaultNetworkCredentials may not work on Unix.
Unlike Windows domain joined system, There is really no established identity.

You can look at unit tests under src/System.Net.Security/tests and use that as example.

[2018-06-07 23:14] CalArabshahi commented on #30203
@wfurt I think you are stating that the following line of code from #29941 will not work on Linux

`authStream.AuthenticateAsClient(CredentialCache.DefaultNetworkCredentials, "HOST/ESROOT",
       ProtectionLevel.EncryptAndSign,
       impLevel);`

and that we must perform something like

`
        public static void GetDefaultKerberosCredentials(string username, string password)
        {

[2018-06-07 23:21] #30028 closed

[2018-06-07 23:42] karelz commented on #29941
@CalArabshahi @Aarthiumayaval that is valuable information you are on the same team. The original post is about `NegotiateStream`, while your questions are more general + poking at SqlClient, so it was not clear to me.
Given the new information, there is no reason to have 2 issues. We just need to be specific what the questions are.

Kerberos has likely rough edges. We tested it only on `HttpClien

[2018-06-07 23:45] karelz commented on #30203
As I stated on #29941:

Kerberos support on Linux has likely rough edges. We tested it only on `HttpClient` in the sense "it is possible to make it work with proper machine setup".
We didn't have many asks beyond that - this is likely the first one.

If you can help us debug through your scenario and tell us where things don't work as expected, we can likely help.
Unfortunately, we might not be ab

[2018-06-08 00:17] CalArabshahi commented on #29941
@karelz #30203 is a question but this issue is a bug. I rather keep this issue open and close #30203. As you know there are tests for NegotiateStream ( #22434 )  but maybe they are not comprehensive; Anyway hence our confusion whether the NegotiateStream failures are specific one Linux distro or whether NegotiateStream does not work on Linux in general.

[2018-06-08 00:32] davidsh commented on #30191
Re-open to target release/2.1.x servicing release.

[2018-06-08 00:36] CalArabshahi commented on #29941
yes we are willing to help; but we have no idea where to start to debug "A call to SSPI failed, see inner exception. ---> System.ComponentModel.Win32Exception: GSSAPI operation failed with error - An invalid status code was supplied (Message stream modified)". I still think the issue is related to Kerberos ticket (i.e. CredentialCache.DefaultNetworkCredentials) that I eluded to in my earlier comme

[2018-06-08 00:40] karelz commented on #29941
That's great. I would start by just debugging the failed call and step into CoreFX sources. First, try it out on 2.1 of course.

Closing to avoid duplicate discussions - let's use #30203 as main issue.

[2018-06-08 00:40] #29941 closed

[2018-06-08 00:50] pjanotti commented on #23588
Adding a new folder and putting IL CoreLib and respective pdb on Microsoft.NETCore.Runtime.CoreClr package doesn't add it to the runtime package generated in core-setup because in https://github.com/dotnet/core-setup/blob/master/src/pkg/projects/Microsoft.NETCore.App/src/Microsoft.NETCore.App.depproj it only adds from specific folders (see snippet below). Since runtime.RID.Microsoft.NETCore.Runtim

[2018-06-08 00:52] pjanotti commented on #23588
I think I will take the change to remove the pdb from the IL from /native/ and rename S.P.CoreLib.ni.pdb to S.P.CoreLib.pdb so by default it matches the native image of the runtime.

[2018-06-08 01:20] richlander commented on #30199
Isn't another option to add an overload to String.Join that takes a Span<string>?

I also tried:

[code]

Can you explain why that didn't work?

[2018-06-08 01:37] richlander commented on #30199
This is my use case: https://github.com/richlander/tools/blob/master/src/dotnet-do/dotnet-do/LocalTools.cs#L45

[2018-06-08 02:58] RocherKong commented on #16597
it's really can't work on centos when use sqlserver2008 for netcore2.1 .

[2018-06-08 04:17] wfurt commented on #20246
I think the last association is incorrect:

This seems to be clearly environmental issues.
As far as I can tell, we have no seen this one in long time.
I suggest to close it @karelz and we can open it back (or create new one) if it ever happens again.

[2018-06-08 05:05] Tornhoof commented on #30199
Span does not implement IEnumerable as it's a byref type.
See https://github.com/dotnet/csharplang/issues/1085 for the discussion about it.

In your use case above you might want to use linq Skip/Take to shorten your args array

[2018-06-08 05:08] wfurt commented on #26193
Can you sue something like:

[code]
It is little bit less efficient than new constructor but it should work.
any thoughts on this @karelz ?

[2018-06-08 05:59] tebeco commented on #30166
Anyone here knows how to create :
* 1 docker network

2 image on that network
* 1 docker image running as a server + NTLM Proxy
* 1 docker image (windows container) with the previous NTLM proxy as proxy in the IE settings

it will help for repro here and there
and it should also be part of non regression test for CoreFx stuff around proxy / socket etc ... it would avoid surprise i major release ^^

[2018-06-08 06:56] SivakumarShan commented on #28267
@karelz I'm using VS 2017 with 15.5.6 version. Let me update to the above mentioned version and try it out. Thanks :)

[2018-06-08 07:06] Ramnath24 commented on #27970
I'm Getting same issue. Does anyone have solution

p0071983@D-113109264:~$ dotnet run --project /home/p0071983/Documents/HRD_RAMNATh/cobas-e-library-backend/Roche.cobaselibrary.Api
Using launch settings from /home/p0071983/Documents/HRD_RAMNATh/cobas-e-library-backend/Roche.cobaselibrary.Api/Properties/launchSettings.json...
	[INFO]Running interactively, press enter to stop.
	[INFO]Initializing th

[2018-06-08 07:19] glittle opened #30207 "Add Badíʿ Calendar to Globalization"
The Badíʿ calendar is a solar calendar where each year starts with the vernal equinox.  It was developed and defined by the founders of the Bahá'í Faith in the mid to late 1800's A.D.  The formal name, Badíʿ (بدیع), meaning something like [wondrous, unique, marvelous, etc.](https://en.bab.la/dictionary/arabic-english/%D8%A8%D8%AF%D9%8A%D8%B9), includes an accented "i" and the Arabic ayin "ʿ".  If

[2018-06-08 08:56] aevitas commented on #30199
@akashkc A slight performance gain, since calling `.ToArray()` on the slice allocates it, being able to `Join` directly forgoes that allocation.

[2018-06-08 09:00] aevitas commented on #30190
Out of legitimate curiosity, what use case do you have that makes instantiating objects by name feasible?

[2018-06-08 09:04] benaadams commented on #30127
Crashes CoreRT at compile time https://github.com/dotnet/corert/issues/5720 and https://github.com/dotnet/corert/issues/5913 for .NET Core 2.1/ASP.NET Core 2.1

[2018-06-08 09:35] iga1976 commented on #24832
Same issue with SLES 12.2 x86_64. I am attaching the out file with the exception.
If i get right from this issue thread, they say it is fixed in dotnet sdk 2.0.3 (?!) That is why I try to set the project target framework to 2.0.3 but when i run "dotnet clean" in the project dir i get error as follows:
dotnet clean
Microsoft (R) Build Engine version 15.4.8.50001 for .NET Core
Copyright (C) Microsof

[2018-06-08 09:38] iga1976 opened #30208 "SUSE dotnet 2.0.3 Description: Infinite recursion during resource lookup within System.Private.CoreLib. This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names. Resource name: ArgumentNull_Generic"
Same issue with SLES 12.2 x86_64. I am attaching the out file with the exception.
If i get right from this issue thread, they say it is fixed in dotnet sdk 2.0.3 (?!) That is why I try to set the project target framework to 2.0.3 but when i run "dotnet clean" in the project dir i get error as follows:
dotnet clean
Microsoft (R) Build Engine version 15.4.8.50001 for .NET Core
Copyright (C) Microsof

[2018-06-08 09:51] SivakumarShan commented on #28267
@karelz I've updated to VS Enterprise 2017 to 15.7.3 and still getting the same issue. I'm using netcoreapp2.0. Please help me to resolve this issue. Thanks.

[2018-06-08 10:05] iga1976 commented on #24832
anyway how do you target app for 2.0.3 since dotnet new accepts only 2.0
This is from https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore20

classlib

-f|--framework <FRAMEWORK> - Specifies the framework to target.
Values:
netcoreapp2.0 to create a .NET Core Class Library or
netstandard2.0 to create a .NET Standard Class Library. The default value is netstandard2.0.

[2018-06-08 10:05] iga1976 commented on #30208
anyway how do you target app for 2.0.3 since dotnet new accepts only 2.0
This is from https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new?tabs=netcore20

classlib

-f|--framework - Specifies the framework to target.
Values:
netcoreapp2.0 to create a .NET Core Class Library or
netstandard2.0 to create a .NET Standard Class Library. The default value is netstandard2.0.

[2018-06-08 10:06] iga1976 commented on #30208
i post same comments on the closed ticket since it looks the same trouble.
https://github.com/dotnet/corefx/issues/24832

[2018-06-08 12:17] ztl8702 commented on #8654
Is it possible to make a COM server in .NET Core, by using something like `ComVisible`?

Additionally, is it possible to compile this COM-visible assembly to a native Windows dll?

[2018-06-08 12:20] amshekar commented on #29878
@danmosemsft  @OmarTawfik  thank you. Can we expect this in future release

[2018-06-08 12:39] los93sol commented on #30197
@wfurt Thanks for confirming this is not currently supported.  Is this something that’s on the roadmap for future versions?  In the meantime I ended up doing what you suggested and leveraged SharpPcap to wrap libpcap but this introduces additional dependencies that I’d prefer to avoid.  I am going to take a peek at System.IO.Sockets and see if it’s possible to accomplish this with extension method

[2018-06-08 12:48] ciragithub commented on #29633
dfedfefeffe

[2018-06-08 12:52] BrotherOdin commented on #29633
I am getting this on a local SQL Server Running .

Microsoft SQL Server 2016 (SP1-CU2) (KB4013106) - 13.0.4422.0 (X64)   Mar  6 2017 14:18:16   Copyright (c) Microsoft Corporation  Developer Edition (64-bit) on Windows 8.1 Enterprise 6.3 <X64> (Build 9600: )

I get this problem every time.

[2018-06-08 14:02] TylerBrinkley commented on #15453
@terrajobst as @danmosemsft asked, what are your thoughts about the readiness of this API proposal for review now that `Enum` is an allowed C# constraint?

[2018-06-08 14:31] ciragithub commented on #29633
On my environment, I am able to reproduce this behavior every time.
VS 2017 15.7.3 (same with SQL Server 2014/2016)

[code]

Links to pictures:
https://1drv.ms/f/s!AjFU1uWlNw1R23_BMF6EWfJs6tgl
**OkTest.png** - test run without debug
**DebugFailTest.png** - test run in debug

I found this issue when I was searching for the same exception/issue that we encounter
in our solution.
Our use case is that

[2018-06-08 15:56] evil-shrike commented on #9725
Why the issue is closed? For .NET Core 2.1 `RuntimeInformation.FrameworkDescription` still reports incorrect version: ".NET Core: 4.6.26515.07"

[code]

[2018-06-08 16:02] pjanotti commented on #23588
Thanks for the heads up @jkotas I will keep the PDBs are they are right now.

[2018-06-08 16:13] beldebala opened #30210 "Concurrent Bag Exception"
Having issue using Concurrent Bag.
Seeing below exception. Could you please suggest what should be done. I am new to concurrent bag collection

Invalid Operation Exception :  You must implement a default accesor on System.Collections.ConcurrentBag because it inherits from Icollection

[2018-06-08 16:17] stephentoub commented on #30210
That exception doesn't sound like it's coming from ConcurrentBag.  It sounds more like you're trying to serialize a ConcurrentBag instance using XmlSerializer.

[2018-06-08 16:50] tarekgh commented on #29538
This should be fixed by the linked PR.

[2018-06-08 16:50] #29538 closed

[2018-06-08 16:56] ChronosWS opened #30211 "ClientWebSocket fails connection with ArgumentException: The base stream is not writeable"
Pretty basic usage.  This worked with netcoreapp2.0 and SDK 2.1.200 (verified this fails in the same way against the same endpoint as used then, before RemoteCertificateValidationCallback was added, so I don't think that is directly involved.)

.NET Core SDK Version 2.1.300, target framework netcoreapp2.1
[code]

produces the following exception:

[code]

[2018-06-08 17:00] wfurt commented on #30197
The difficulty is that that interface is Linux specific and it would be very difficult to support it cross platforms. If anything, I could possibly see generic packet capture API in NetworInfo class but I don't know if that would pass API review board. It would certainly needs some more thinking and preparation.

Another path you can try to explore is using tcpdump. You can do something like `tcpd

[2018-06-08 17:02] davidsh commented on #30211
Can you please share more information about this repro?  What server is this connecting to?  Perhaps also share WireShark traces?  We need to reproduce this problem and need code that we can compile and debug.  Thx.

[2018-06-08 17:31] karelz commented on #30143
@JimCline this is most likely unrelated problem. Your problem seems to be related to proxy (maybe #30166).
It would be best to file a new issue, collect Fiddler/Wireshark traces, so that we can narrow it down and root-cause. Then we will either dupe it against #30166 or it will track another problem.

[2018-06-08 17:31] ChronosWS commented on #30211
Some additional information.
[code]

Response from the server on upgrade via Wireshark (I think this is what you are looking for?)

[code]

[2018-06-08 17:32] fabbrik commented on #26996
The amount of time I spent with no luck trying to fix this issue is ridiculous. If u need a workaround look at this code snippet (at least will get u going):
[code]

[2018-06-08 17:34] wfurt commented on #29376
so far I was not able to reproduce this and everything passes fine:

[code]

can you please check if you still see this problem on current master @RussKeldorph @echesakovMSFT

There is possibility that there are some platform differences. Getting output from `ifconfig -a` may be useful.

[code]

[2018-06-08 17:36] danmosemsft commented on #9725
Reopening for discussion if needed.

[2018-06-08 17:37] karelz commented on #24832
@iga1976 please check response above: https://github.com/dotnet/corefx/issues/24832#issuecomment-353442401
Did you try to just install 2.0.3 and run your app? (no app retargeting needed)

[2018-06-08 17:39] danmosemsft commented on #30208
@tarekgh can you help @iga1976 get updated (either to 2.0.x or 2.1 even)

[2018-06-08 17:40] ChronosWS commented on #30211
And, if it matters, the request itself:

[code]

[2018-06-08 17:40] karelz commented on #20246
Closing per @wfurt's analysis above.

[2018-06-08 17:42] karelz commented on #26193
If the above works, that would be great.
What is the scenario where you have first a socket and later you want to wrap it in TcpClient/TcpListener?

[2018-06-08 17:42] EgorBo opened #30213 "Path.GetDirectoryName converts file:/// to file:/ or file:\"
The following code:
[code]
works on Windows but throws `System.UriFormatException: Invalid URI: The Authority/Host could not be parsed.` on macOS
It's probably not a good idea to use `Uri` for files but I am more concerned about `Path.GetDirectoryName` removes slashes (see below).

Output for Windows:
[code]
Output for macOS:
[code]
Is it expected behavior?

.NET Core 2.1-300

[2018-06-08 17:43] ChronosWS commented on #30211
Test program:
[code]

[2018-06-08 17:45] karelz commented on #27970
@Ramnath24 can you try .NET Core 2.1 - it does not use curl anymore.
If you can still repro on 2.1, please check network traces (Fiddler/Wireshark) and if it looks like .NET Core problem, please try to isolate the problem into a repro we can look at. File a new issue in such case - see https://github.com/dotnet/corefx/issues/27970#issuecomment-390283753

[2018-06-08 17:46] davidsh commented on #30211
Since you didn't specify the argument in the sample above, could you try this uri and let us know if you see the problem?

ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx

or

wss://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx

Test page for that endpoint is here:
http://corefx-net.cloudapp.net/websocket/

[2018-06-08 17:56] tarekgh commented on #30208
@steveharter @joperezr would be the best to help here as they are familiar with this issue according to #24832

[2018-06-08 17:56] ChronosWS commented on #30211
Your test endpoint works fine.  The response packet differs, as follows:
[code]
Note no content length header.  Not sure if the WebSocket protocol specifies the behavior here?

[2018-06-08 17:57] tarekgh commented on #30208
CC @kouvel too as I guess he ran into similar issues before.

[2018-06-08 17:57] wfurt commented on #26193
Among other things it allows you to use higher level API on top of sockets other than TCP.
(like named pipes) But I don't know if that is hwat @orthoxerox wants to do.

[2018-06-08 17:59] ChronosWS commented on #30211
The RFC is silent on the presence or content of the Content-Length header, or content, near as I can tell.
https://tools.ietf.org/html/rfc6455#page-22

[2018-06-08 17:59] stephentoub commented on #30211
This looks like https://github.com/dotnet/corefx/pull/29948 (ported to 2.1.1 in https://github.com/dotnet/corefx/pull/29993).

[2018-06-08 18:02] davidsh commented on #30166
FYI, we are in the process of working on an Enterprise-Scenario capability for CoreFx testing.

[2018-06-08 18:18] echesakovMSFT commented on #29376
I can reproduce with  https://github.com/dotnet/coreclr/commit/16169a8738ab7332a0fc2f2e48937997932798ef and https://github.com/dotnet/corefx/commit/69c2e2072574805589becac0c08590dc5e39b65e
[code]
Here is my systeminfo
[code]

[code]

It also worth mentioning that I am cross-building coreclr/corefx under Docker image on Linux/x64 and then copying/running on Linux/arm.

[2018-06-08 18:20] echesakovMSFT commented on #29376
I am running with Checked coreclr and Release corefx it this matters

[2018-06-08 18:25] gl2483 opened #30214 ""The server returned an invalid or unrecognized response" on BasicHttpBinding with authentication using SocketsHttpHanlder"
We just updated our application to Net Core 2.1 and one of the web service calls we are using starts failing

The binding used is BasicHttpBinding
[code]

But when I disable SocketsHttpHandler, it is working fine
[code]

[code]

[2018-06-08 18:27] wfurt commented on #29376
I'm not quite sure what that means. I did build of master and pick up what ever parts (like Tools and packages) that brings. As far as base OS I have 16.04 e.g. newer distro but I'm not sure that matters.

If you email me instructions, I can try to cross-compile same way. I rememebr @janvorli mentioning some bugs in older compiler versions.

Also could you try it on newer distro or newer lvm?

[2018-06-08 18:30] karelz commented on #30211
@ChronosWS would you be able to try release/2.1 daily build to see if the problem is addressed for your repro?

[2018-06-08 18:32] karelz commented on #30214
@gl2483 can you please share a repro we can run locally to reproduce the problem?

[2018-06-08 18:44] OmarTawfik commented on #29878
@amshekar we're checking now the soonest these sources can be published, and then we will turn the issue into "up for grabs", and then PRs can be submitted to add them to the next corefx future release.

[2018-06-08 18:51] davidsh commented on #30214
Does this scenario use a proxy?

Can you also share Wireshark traces?  That would help us to see what network requests/responses are being used.

[2018-06-08 19:20] mwpowellhtx commented on #11656
Much to my chagrin, so 1) ``Type.Assembly`` has been deprecated and removed when I target ``netstandard1.6``, the migration path is ``GetTypeInfo(this Type)`` as per [issue](https://github.com/aspnet/dnx/issues/1229). And now 2) even this will be deprecated?

So, what, exactly, is the migration path then, when I want to run with something like ``typeof(object).Assembly``?

[2018-06-08 19:42] ahsonkhan commented on #30199
[code]

Aside from the fact that span can't implement IEnumerable, the span enumerator itself is also a ref struct (since it contains a span field):
https://github.com/dotnet/corefx/blob/69c2e2072574805589becac0c08590dc5e39b65e/src/Common/src/CoreLib/System/Span.cs#L104

This let's you write foreach loops, but in your case, I believe you are trying to box a ref struct, trying to cast it to IEnumer

[2018-06-08 19:52] ahsonkhan commented on #30199
@richlander, looking at your specific use case, given you have to get a string at the end anyway (to pass into ProcessStartInfo), even if we had a span-based join overload, it won't help avoid all the allocations. You would end up creating a string regardless. Maybe providing span-based APIs on ProcessStartInfo is the way to go, to avoid the need for string.join all together. Thoughts?

[2018-06-08 19:57] orthoxerox commented on #26193
@karelz My goal is to transfer an open TCP connection from one application to another.

[2018-06-08 20:04] jkotas commented on #11656
`typeof(object).Assembly` is the way for netstandard2.0 and forward. If possible, target netstandard2.0, keep using `typeof(object).Assembly` like you have always did in .NET, and pretend that netstandard1.x never happened. We have realized that the deprecations of many APIs in netstandard1.x was a mistake.

[2018-06-08 20:06] mwpowellhtx commented on #11656
@jkotas I'm working in an assembly in which I must target ``netstandard1.6``, and apparently this is a breaking change from then. Talk about pulling the rug out. Come on folks!

[2018-06-08 20:08] jkotas commented on #11656
For netstandard1.x, just use the GetTypeInfo.

[2018-06-08 20:10] mwpowellhtx commented on #11656
@jkotas Allow me to ask the follow up question; the work I am doing is on an *Analyzer*, *Code Fix*, and ultimately, *Code Generator*, against ``CodeGeneration.Rosly``. Am I clear(ish) to target ``netstandard2.0`` in this instance, and as you suggested, forget ``netstandard1.x`` ever happened?

[2018-06-08 20:16] echesakovMSFT commented on #29376
Also got Segmentation fault on ODROID-XU4 with Ubuntu 18.04
[code]
@wfurt What version of coreclr you are running on?

[2018-06-08 20:18] jkotas commented on #11656
It depends on whether you are ok with requiring .NET Framework 4.7.2+ or .NET Core 2.0+ for you analyzer.

[2018-06-08 20:28] karelz commented on #29376
@echesakovMSFT can you try it on official release builds? It would help to clarify if it is build-type specific problem, or environmental problem.

[2018-06-08 20:32] karelz commented on #26193
Is that something that the OS supports via native APIs?

[2018-06-08 20:33] mwpowellhtx commented on #11656
@jkotas Well, it depends, as far as I know, this would be a development dependency only. Not intended for delivery into a "run-time", per se. Only to serve the the target code base of the subscriber generating some very boilerplate code.

[2018-06-08 20:33] stephentoub commented on #30199
If you're starting processes using Process.Start, ProcessStartInfo, etc., I'd be extremely surprised if that made any measurable impact.

[2018-06-08 21:17] orthoxerox commented on #26193
On UNIX `fork` shares all open file descriptors, and on Windows `CreateProcess` has a parameter that shares all handles. AFAIR, `Process.Start` sets this parameter on Windows.

[2018-06-08 21:34] caesar1995 opened #30219 "NegotiateStream don't read full data"
1.	One side writes a large number of Bytes (bigger than NegoState.MaxWriteDataSize = 63 * 1024) to the NegotiateStream, the other side does a Read, and only able to read the first NegoState.MaxWriteDataSize bytes of data, and ignore the rest. Even though the write side successfully sent all the data.
2.	This bug happens on both sync path and async path.
3.	The authenticated process will succeed, o

[2018-06-08 21:43] stephentoub commented on #30219
Unless I'm misunderstanding, this isn't a bug.  Stream.Read is never guaranteed to return the requested number of bytes; it's allowed to return any number from [1, count], or 0 to indicate EOF.

[2018-06-08 21:45] ChronosWS commented on #30211
Verified fixed on SDK 2.1.400-preview-008963 with runtime 2.1.1-servicing-26605-02.

Thanks!

[2018-06-08 21:46] stephentoub commented on #30211
Thanks for verifying :)

[2018-06-08 21:46] #30211 closed

[2018-06-08 22:00] caesar1995 commented on #30219
You are right (https://msdn.microsoft.com/en-us/library/system.net.security.negotiatestream.read(v=vs.110).aspx)... Thanks for pointing this out!

Since 1. return value correctly reflects how many bytes are read 2. the remaining data can be retrieved in subsequent Read() operation, this can be closed by design.

[2018-06-08 22:00] #30219 closed

[2018-06-08 22:06] morganbr commented on #30127
I'm ok with throwing implementations. It'd be nice to add a feature detection API so the compile errors don't just turn into runtime errors though.

[2018-06-08 22:14] razfriman opened #30222 ".NET Core 2.1 HttpClient hangs on first SSL call on Mac OS"
I stumbled upon this while trying to connect to Microsoft Cognitive Services api in .NET Core 2.1. The first call made using HttpClient hangs and takes about 3-6 seconds. Any calls made on the same HttpClient after this finish at a normal speed (~200ms).

This bug seems to be limited to MacOS/Unix and does NOT affect Windows.

Settings the following switch "solves" the issue, but I suspect somethi

[2018-06-08 22:22] huanwu commented on #30210
@beldebala could you share the repro code?

[2018-06-08 22:43] #3726 closed

[2018-06-08 22:59] glittle commented on #30207
@tarekgh Issue is updated as requested...

[2018-06-08 23:32] karelz commented on #30211
@ChronosWS thanks a lot for confirmation!

[2018-06-08 23:51] echesakovMSFT commented on #29376
I just built corefx and use this official release build of coreclr
[code]
Same issue.

This is how I built Linux/arm corefx using Docker on Linux/x64 machine

Assuming corefx is at $HOME/git/corefx directory I do the following

1. `docker run -it --rm -v $HOME/git/corefx:/opt/code -w /opt/code -e ROOTFS_DIR=/crossrootfs/arm microsoft/dotnet-buildtools-prereqs:ubuntu-14.04-cross-e435274-20180426002

[2018-06-08 23:54] jimcarley commented on #29633
@ciragithub And you are only seeing this problem when debugging, right? You don't see the PlatformNotSupported exception when using the second DbContext object within a TransactionScope when NOT running in the debugger?

[2018-06-08 23:55] Anipik opened #30223 "EndPrint_SetValue_ReturnsExpected and PrintPage_SetValue_ReturnsExpected throws excpetion"
Unhandled Exception of Type System.ComponentModel.Win32Exception
Error in remote procedure call

[code]

Link https://mc.dot.net/#/user/Anipik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/928be92417ee8f200df812e3dfc002abcf80f787/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Printing.Tests.PrintDocumentTests~2FEndPrint_SetValue_ReturnsExpected

cc @danm

[2018-06-09 00:11] BrotherOdin commented on #29633
Correct. Just calling code normally it works as expected.

On Fri, Jun 8, 2018 at 8:55 PM Jim Carley <notifications@github.com> wrote:

[2018-06-09 00:55] #29288 closed

[2018-06-09 01:03] bchurchill commented on #30207
A few thoughts on the API:

- It turns out that to compute the correct date on the Badí calendar, one also needs a latitude/longitude location.  That's because what day it is depends on whether or not the sun has set, and that varies both by latitude and longitude even if the time zone is fixed.  Still most of the astronomical calculations can be pre-computed (e.g. what day Naw-Ruz lands on), and

[2018-06-09 02:38] stephentoub commented on #25189
Moving this back to api-ready-for-review to discuss @jkotas' feedback: https://github.com/dotnet/coreclr/pull/17405#issuecomment-378511865

[2018-06-09 02:54] #30168 closed

[2018-06-09 03:02] ericstj commented on #30190
You could think of this as analogous to loadlibrary/getprocaddress.  It’s used for runtime binding: light up, plugins, etc.

[2018-06-09 03:56] ahsonkhan commented on #29861
I still see the warnings after the buildtools change to update Microsoft.DiaSymReader.Converter to latest. Re-opening.

[code]

[2018-06-09 03:56] ahsonkhan commented on #29861
@tmat, any ideas why we are still seeing the warning messages?

[2018-06-09 04:05] bobberb commented on #29942
I get this same error when a chromecast device tries to hit my nginx server running emby which depends on mono.

Should I be putting in a issue with the mono group, or is this upstream? Sorry, just came here by googling my errors.

[2018-06-09 04:56] danmosemsft commented on #29942
Interesting about Mono. @marek-safar do you guys need the fix https://github.com/dotnet/corefx/pull/29973?

[2018-06-09 08:04] maxcherednik commented on #16439
How does the backporting work? Are there plans to fix it in the old .net?

[2018-06-09 10:18] tdinucci commented on #29990
I can't think of a place where this would be needed, especially since I think the only (sensible) time the type of a `ref struct` could be questioned is when it's a generic.  Inheritance doesn't work with structs in general and interfaces can't be implemented with ref structs so the only time it can be (sensibly) passed as a questionable type is when generics are considered.  However even if the `

[2018-06-09 11:29] ghost opened #30230 "Test failure on macOS System.Drawing.Tests.Graphics_DrawBezierTests~2FDrawBezier_PointFs"
https://mc.dot.net/#/user/kasper3/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/509af4b53826277ba34322022679af3daee060b4/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.Graphics_DrawBezierTests~2FDrawBezier_PointFs

Unhandled Exception of Type `Xunit.Sdk.EqualException`
Message :

[code]

Stack Trace :

[code]

@hughbe fyi

[2018-06-09 12:00] MBODM opened #30231 "Visual Studio 2017 15.7.3 .NET Core Workload installs .NET Core SDK 2.1.201 (.NET Core 2.0) instead of 2.1.300 (.NET Core 2.1)"
Hey,

sorry, did not found a better place for this issue, since Visual Studio has not easy issues support page for setup workloads. Maybe you can direct this issue to the right place.

As title says, you can download and install .net core sdk for 2.1 (named .net core sdk 2.1.300) manually from official MS .net core homepage. All fine and so. But normally Visual Studio do this via update and instal

[2018-06-09 14:33] glittle commented on #30207
Thanks, @bchurchill for those five comments. I'll respond to each...

1) Yes, the days do start at sunset, but that is beyond the scope of most generic systems. For this implementation, as with the other calendars that also start the day at sunset, the time is ignored and the date for the main part of the day is used. For a complete system, you would want to know whether sunset has occurred or not

[2018-06-09 17:30] nockawa opened #30234 "IMemoryCache.Dispose should call Dispose on cached value if it implements IDisposable"
Right now there's no way to enumerate all the entries that are present in the cache.
So when a CacheEntry stores a value that implements IDisposable, we should:

- Call Dispose() on the cached value when the CacheEntry expires.
- Dispose all cached values when Dispose() is performed on IMemoryCache implementation.

[2018-06-09 17:47] huoyaoyuan commented on #30231
![image](https://user-images.githubusercontent.com/5644458/41194566-bf68e9a2-6c4f-11e8-98ed-284b54d4ba5e.png)
Currently, manifest in VS hasn't been updated, and it refers to `.Net Core 2.0 Tools`, .Net Core 2.1 and .Net Framework 4.7.2 are not included. Same thing happened when .Net Framework 4.7.1 was released.
It seems that new platform won't be included until next minor update(15.8), and fix up

[2018-06-09 18:22] ciragithub commented on #29633
@jimcarley
I uploaded **Transactions.7z** as a repro solution
(the same link as above, https://1drv.ms/f/s!AjFU1uWlNw1R23_BMF6EWfJs6tgl )
Please just create local **Transactions** database and execute Update-database,
with startup project Transactions.Persistence
(of course, if needed, change accordingly connection string in appsettings.development.json)

NOTE: Solution is fairly common approach/p

[2018-06-09 18:45] davidsh commented on #30203
I did some experimenting on Linux using a multi-machine setup (Windows and Linux) that I am working on (eventually to be used as our 'Enterprise-Scenario' testing environment).

I was able to get a Linux Debian-9 HttpClient to connect to a website using Kerberos (specified as Negotiate.Kerberos on IIS server) with both an explicit NetworkCredential and "default credentials" (CredentialCache.Defaul

[2018-06-09 21:12] Wraith2 commented on #28270
The code changes are done and I've got benchmarks now.
The changes are only in the netcoreapp builds because they require System.Memory which is currently only used in the netcore builds. KarelZ advised #ifdefing in this way rather than pushing the dependency out to other configurations.

Benchmark results are pretty simple. The test involved reading 100K date, date2 and dateoffsets from a constru

[2018-06-09 22:13] GoldenCrystal commented on #26139
@terrajobst When trying to use the API today, I was slightly suprised to discover that ````MemoryMarshal.CreateReadOnlySpan```` did not take an ````in```` parameter like you suggested.
Was there a specific reason for not implementing it that way in the end ?

[2018-06-09 22:22] cabadam opened #30236 "Are System.Security.Cryptography.Oid.FriendlyName values expected to be consistent across platforms?"
Have a certificate with a Subject Alternative Name, for example, the cert used to sign Alexa skill requests:
https://s3.amazonaws.com/echo.api/echo-api-cert-5.pem

Against that certificate, execute the following code in a .NET Core 2.1 application:
[code]

When run on a Windows box, this yields:

However, when run on a linux-arm platform (Raspberry Pi 3), this yields:

The names are similar, yet d

[2018-06-10 00:06] davidsh commented on #30203
I was able to test NegotiateStream between Windows and Linux using Kerberos.  I setup the NegotiateStream server on a Windows machine (that is joined to the COREFX-NET domain).  The client was on the Linux machine (also "joined" to the COREFX-NET domain).

I made sure to run the NegotiateStream server application in the context of the machine account (NT AUTHORIY\SYSTEM) since all the default SPN'

[2018-06-10 00:13] davidsh commented on #30203
cc: @stephentoub @rmkerr @caesar1995 in case you're curious about Kerberos authentication in HttpClient and/or NegotiateStream classes.

[2018-06-10 00:29] richlander commented on #30199
Until we have another use case, I consider this discussion closed. This discussion helped me apply a bunch of the theory I already knew about span more concretely (like why it cannot implement IEnumerable).

[2018-06-10 00:29] #30199 closed

[2018-06-10 01:08] davidsh commented on #30203
@CalArabshahi

Based on the tests I've done with both HttpClient and NegotiateStream, I can that .NET Core 2.1 supports Kerberos authentication from a Linux Client against a service (Windows in the tests I ran).

The key things I've noticed to make it work are:

* Client and server must be on separate machines.  I tried to do NegotiateStream tests, for example, on Windows .NET Framework with clien

[2018-06-10 01:20] jkotas commented on #30039
This file should be created by `tar -xf $__DOTNET_PATH/dotnet.tar` command in the `init-tools.sh` script. Could you please try to run this command directly and see why it does not create it?

[2018-06-10 02:41] smchughinfo commented on #29761
![files](https://i.imgur.com/rmeVa74.png)

None of the iOS or Android directories have an implementation. Why are these even listed as an option in a Xamarin project?

[2018-06-10 03:49] Tratcher opened #30246 "implement Environment.IsDocker"
_From @cilerler on June 10, 2018 3:32_

According to https://github.com/dotnet/announcements/issues/71 new docker images adds `DOTNET_RUNNING_IN_CONTAINER=true` into the environment variables.

Based on that please implement `Environment.IsDocker`

[code]

_Copied from original issue: aspnet/Hosting#1454_

[2018-06-10 04:37] alentor opened #30247 "Can't add new migration using startup project with netCore2.1 getting null on connection string param"
# Issue Title
 Can't add new migration using startup project with netCore2.1 getting null on connection string param

# General
Example:
In the following repository I'm using a startup project to initiate a connection string to a dbContext.
it's working with 2.0  but not with netCore2.1, code base is the same only the target framework and libraries have changed to 2.1

https://github.com/alentor/B

[2018-06-10 10:11] kasper3 opened #30249 "Is fuzz directory needed in brotli?"
I am sweeping C++ sources in the repo and found two unused .cc files in `fuzz` subdirectory under brotli:

https://github.com/dotnet/corefx/tree/b1a9ddd2f64f81b37eb0c737de601e6d7a524cba/src/Native/AnyOS/brotli/fuzz

@ianhays, the script in that directory requires a CMakeLists.txt to be present two directories above (such as https://github.com/xingyun86/ppshuai_brotli/blob/9898e334a9a749fc387048433

[2018-06-10 12:19] DaramG commented on #27249
On the latest dotnet(2.1.4), I can still reproduce this bug with the above code.
This bug seems to be not completely fixed . Can you check it?

[2018-06-10 13:12] MBODM commented on #30231
From where do you have that information, or better: Where lies that manifest file ? Where can i see what .net core sdk version the actual VS workload targets ?

[2018-06-10 14:48] stephentoub commented on #27249
2.1.4 would be the version of the sdk. What's the version of the runtime you're using? i.e. what version is specified in your .csproj? What's the output of `dotnet --info`?

[2018-06-10 14:52] encounter12 commented on #24457
I am also voting for this problem to be fixed.

[2018-06-10 15:18] hughbe opened #30252 "Assembly.Load does not work for an assembly name with just a CodeBase"
The following test passes on netfx, but fails with netcoreapp:

[code]

[code]

This is causing problems in System.CodeDom: https://github.com/dotnet/corefx/blob/master/src/System.CodeDom/src/System/CodeDom/Compiler/CompilerResults.cs#L34-L45

[2018-06-10 15:20] hughbe commented on #30252
Example test that fails as a result of this:
[code]

[2018-06-10 15:35] svick commented on #30246
So, if I run a .Net Core application in a Docker container that's not based on one of the microsoft/dotnet images, `Environment.IsDocker` will return `false`? That doesn't sound like a good design to me.

Such images can be useful either for self-contained applications (which don't need .Net Core runtime, so they don't need to use microsoft/dotnet images), or if I'm manually installing the .Net Co

[2018-06-10 16:10] MohammadHamdyGhanem opened #30253 "Conditional regex strange behavior"
While I am testing Verex I tried this regex ```(?(ab)a)```.
I know it can be better written as ```a(?=b)```, but as I say I was testing for any cases.
So, when I use ```(?(ab)a)``` to match "abac" It returns two results:
1-	the a before b.
2-	the empty position before the second a !
The second result is not desired, and things gets messy if the condition is more complex and the string is longer, s

[2018-06-10 16:14] cilerler commented on #30246
you have a point, however if that variable is not set in the non-`microsoft/dotnet` images that shouldn't be our problem.  _(unless there is a better way to determine if the environment is docker or not)_

Consider this like EnvironmentName.  If you won't set the environment name it automatically gets set as `Production`.   So no `DOTNET_RUNNING_IN_CONTAINER=true` set we always should get false fo

[2018-06-10 18:32] smitpatel opened #30255 "SqlConnection: System.MissingMethodException: 'Method not found: 'Boolean System.String.Contains(Char)'.'"
_From @asiergonzalezgorordo on June 7, 2018 14:16_

There is a missing method when targeting UWP Windows10, version 1803
![imagen](https://user-images.githubusercontent.com/10169840/41105011-017a815a-6a6d-11e8-8d11-188eac614b52.png)

Exception message:
Method not found: 'Boolean System.String.Contains(Char)'.

Stack trace:
   at System.Data.SqlClient.SNI.DataSource.InferNamedPipesInformation()