[2018-09-17 21:55] karelz commented on #32319
Looks like some error from OS networking stack "_Not enough storage is available to complete this operation_".
The easiest option is to upgrade to .NET Core 2.1 which contains new networking stack implementation. Let's hope it works there.

Note that .NET Core 2.0 is going out of support in 2 weeks.

[2018-09-17 21:58] karelz commented on #32327
Why did we split it off the original issue #1244?

[2018-09-17 22:00] jhudsoncedaron commented on #32270
Believe specific error messages. Is it most likely you have too many connections open for the server or its firewall to handle.

[2018-09-17 22:02] grant-d commented on #32327
Because of the ask for a formal proposal. I can inline it here if that's preferable?

[2018-09-17 22:02] danmosemsft commented on #32327
It's unfortunate this allocates a temporary string: `"http://foo.com".TrimPrefix("http://").TrimSuffix(".com")` but perhaps it's not common to do both.

Since this original issue was discussed, `Span<char>` has become available. Should these be added to the extension methods:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L85

[2018-09-17 22:08] tarekgh commented on #32327
Can't we just update the original proposal? now we have 2 issues tracking the same thing.

[2018-09-17 22:09] tarekgh commented on #32310
let's wait for @muzzammilhussain to tell us the time zone setting when executing DateTime.UtcNow

[2018-09-17 22:09] grant-d commented on #32327
I just added `Span.Contains` in a separate PR, so happy to follow suit with these methods.

[2018-09-17 22:10] grant-d commented on #1244
[Picking up an item from `up-for-grabs`]

It is useful to have methods that trim a specified prefix or suffix from a string. This is somewhat simple for a developer to write themselves, but it seems to be a common enough request that it would be useful to support directly, especially in regards to robustness and performance.

Here are some references gleaned from the original issue.
http://stackov

[2018-09-17 22:12] grant-d commented on #32327
OK, updated original issue.

[2018-09-17 22:12] #32327 closed

[2018-09-17 22:14] jhudsoncedaron commented on #32278
I have to admit I feel this shouldn't be fixed but who am I to know.

In any case I think josbartley's code should be doing .First(predicate) rather than .Where(predicate) to obviously get the behavior he wants.

[2018-09-17 22:14] CarolEidt commented on #32235
I would assert that the specification of `AggressiveOptimization` implies that runtime is more important than compile time.

I think that would only be useful if it were on a per-method basis. I may care about startup, but still know that certain methods are worth spending more time on even so.

How would we determine this? I am on board with the notion that developers don't always know what they'

[2018-09-17 22:16] grant-d commented on #1244
Copying @danmosemsft's feedback over from dupe issue:

Since this original issue was discussed, Span<char> has become available. Should these be added to the extension methods:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L85

[2018-09-17 22:32] vancem commented on #32235
I would agree with you if one developer owned all the code and understood his scenarios well.   But in the more likely case where libraries are involved and there are many competing scenarios to weigh, setting 'AgressiveOptimization'  only says that  SOME uses of the library will consider runtime of that method important.

If however this library is used on the startup path of a GUI app (e.g. imag

[2018-09-17 22:32] grant-d commented on #1244
OK, added such overloads to the spec. In in the interests of consistency and complexity, I don't think we should add `StringComparison` overloads since it would be a lonely pattern in that class.

[2018-09-17 22:36] jnm2 commented on #32278
Mutating the source collection while enumerating really should be causing 'Collection was modified enumeration operation may not execute' on all platforms. That's the appropriate fix, I'm pretty sure.

[2018-09-17 22:39] #18719 closed

[2018-09-17 22:39] #20214 closed

[2018-09-17 22:42] bartonjs commented on #32323
Creating from friendly name is always the riskier option.  ECDSA_P521 _should_ work since that's in the [static lookup table](https://github.com/dotnet/corefx/blob/45b5cf0949470104d38a68d7f9ca0ad381393707/src/System.Security.Cryptography.Encoding/src/Internal/Cryptography/OidLookup.cs#L154)

[2018-09-17 22:55] danmosemsft commented on #32277
@qbit86 feel free to offer a PR for the coding style.

[2018-09-17 23:01] zivillian commented on #21833
I'm currently working on an LDAP library ([RFC 4511](https://tools.ietf.org/html/rfc4511)) using version 35320e086b5f159d74737558f4e3806c53dfaf8c (straight copied as @KLuuKer suggested).
I think this could serve as

Please let me know if feedback would be helpful at this point or if someone else tried this before.
This is pretty early, but I think I already found some edge cases which might be wor

[2018-09-17 23:06] filipnavara commented on #21833
@zivillian I'd be happy if you give some feedback. I converted all the internal DER/ASN code to use the new APIs in order to provide some validation of the API design. I'm generally happy with it now except for few issues that are tracked here or in other issues.

[2018-09-17 23:34] karelz commented on #32270
I agree with @jhudsoncedaron. Your situation is suspicious - try to look at network traffic to find out if the connections are indeed closed outside of your client. Use network packet capture tools like Wireshark.

[2018-09-17 23:48] veleek commented on #32323
Yeah, not saying that it's the best option, just pointing out that be behavior is different between Linux and Windows.

I think that the biggest issues is the fact that `ECCurve.CreateFromFriendlyName(name)` fails, but `ECCurve.CreateFromOid(Oid.FromFriendlyName(name, OidGroup.All))` works.

[2018-09-18 01:45] grant-d commented on #27526
All task done (see checklist above).
Please close this issue.

[2018-09-18 02:27] ahsonkhan commented on #27526
We still have the following APIs left, so we should leave the issue open until they have been implemented:
[code]

[2018-09-18 02:27] AmandaSilver opened #32330 "ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework"
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult;

[2018-09-18 02:28] #32330 closed

[2018-09-18 04:01] NitinKMathur commented on #32270
Hi @karelz @jhudsoncedaron @davidsh I figured out the issue. Sorry to bother you all. The issue was not related to HttpClient lib. The client certificate was not being generated properly under high concurrency due to application issue. So, you may close this bug. Thanks again all for your time 👍

[2018-09-18 04:12] NitinKMathur opened #32331 "Adding an attribute in CSR generated using CertificateRequest class."
Hi,

I am using CertificateRequest class to generate CSR for an SCEP server. The CSR requires challengePassword attribute. I understand the attribute has to be added using CertificateExpensions property. Below is my code for the same.

[code]

I ran openssl asn1parse to see if attribute is added properly in CSR, below is the output of the command.

[code]
Everything looks fine, except the highligh

[2018-09-18 07:34] rmccabe24 commented on #22142
I've added this code as a work around:

#if NETCOREAPP2_1 || NETCOREAPP2_1
            AssemblyLoadContext.Default.Unloading += (ctx) => ProcessStop();
#endif

This allows the code above to execute only when running via a dotnet core app.

[2018-09-18 09:14] AlexRadch opened #32334 "Why Span IndexOfAny always return 0 for empty values?"
For example next code:
[code]

return `-1` for `string` and `0` for `string.AsSpan()`. Is it bug?

[2018-09-18 11:04] gbalykov commented on #32234
@jkotas, I've checked the build and found that if the next command is launched
[code]
the next build sequence in `src/Native/build-native.sh` is executed
[code]

`OfficialBuildId` is not passed to the `$__rootRepo/run.sh build-managed` command. This leads to incorrectly generated version `BuildNumberMajor` and `BuildNumberMinor` in `./Tools/versioning.targets` (because `OfficialBuildId` here is em

[2018-09-18 11:34] MobAtNti commented on #30415
Hello,

This problem (serializing a dictionary object using System.Runtime.Serialization.NetDataContractSerializer with a stringComparer, it's not possible to deserialize the stream.) disappeared when applying MS update **KB4284880** (June 12, 2018).

But now the problem has reemerged. A Win2016 server has been updated with KB4457131 (September 11, 2018) and now the serializing culture compability

[2018-09-18 11:50] GSPP commented on #32208
You can do this using the SQL Server SMO libraries. The .NET Core libraries are not the right place for such specific functionality.

[2018-09-18 11:51] nilanthasj commented on #32319
@karelz  Thank you for the response The strange thing i experienced is, this code work correctly without SiteMinder agents..

[2018-09-18 11:59] MobAtNti opened #32335 "Problem serializing/deserializing using System.Runtime.Serialization.NetDataContractSerializer AND WindowsUpdate KB4457128 / KB4457131"
Hello

This issue is a re-appearence of issue #30415.
Please look at issue 30415 for additional info.
(Could not re-open issue, therefor a new one)

Now the new problem :
This problem (serializing a dictionary object using System.Runtime.Serialization.NetDataContractSerializer with a stringComparer, it's not possible to deserialize the stream.) disappeared when applying MS update KB4284880 (June 1

[2018-09-18 13:07] GSPP commented on #31917
It can be made to work with using by switching what goes in the `out` parameter:

[code]

[2018-09-18 13:54] venkatmarella commented on #18793
We have the same probelm, did you resolve this @apoorvmalhotra ?

[2018-09-18 14:59] ilzenzo commented on #29620
Hello, any news on this issue?

[2018-09-18 15:16] jkotas commented on #32234
This is what the official builds are doing:
https://github.com/dotnet/corefx/blob/master/buildpipeline/DotNet-CoreFx-Trusted-Linux.json#L154
https://github.com/dotnet/corefx/blob/master/buildpipeline/DotNet-CoreFx-Trusted-Linux.json#L192

I think they should. It feels broken that you have to invoke build-managed first to generate the right version resources.

[2018-09-18 15:42] marek-safar commented on #32280
We plan to share the implementation of HttpListener with CoreFX but we are not there yet

[2018-09-18 15:42] joperezr commented on #31449
Taking a look...

[2018-09-18 15:42] qmfrederik commented on #32308
If you want to build an advanced console-based GUI for a .NET Core application, check out https://github.com/mono/mono-curses.

[2018-09-18 16:11] karelz commented on #32319
The fact it works in some environments does not mean there are no bugs.
Or the buggy environment has a bug in itself, causing the fialures (some antiviruses, viruses and other invasive SW sometimes can cause mysterious bugs in your apps).

[2018-09-18 16:14] karelz commented on #32319
I will close it for now as it is not actionable. If you are able to narrow it down to something specific, that can be ideally reproduced elsewhere, feel free to reopen / ping me here.

Some additional general tricks: Run it under debugger in the environment where it fails. Add some logging. Look at OS logging (ETW events). Try TTD (Time-travel Debugger). Or just play with your environments until p

[2018-09-18 16:24] AmandaSilver opened #32336 "ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework."
Repro Code:

var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-09-18 16:30] tarekgh commented on #30415
@MobAtNti I apologize for that. we went into some fix iterations to address all broken scenarios. the latest fixes released in September for servers and clients should be addressing all problems. so we recommend you get the servers and clients to install September patches and moving forward nothing will need to be done more. I understand it is challenging  to have all clients to install the latest

[2018-09-18 16:31] karelz commented on #32335
Closing as it has been asnwered by @tarekgh on the original issue - https://github.com/dotnet/corefx/issues/30415#issuecomment-422461035

Note that .NET Framework bugs are not tracked on GitHub - see our [main page](https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback).

[2018-09-18 16:31] #32335 closed

[2018-09-18 16:33] karelz commented on #32270
Happy to hear you were able to root-cause it.
Yet another reminder how trying to get minimal repro is valuable :)

[2018-09-18 16:33] #32270 closed

[2018-09-18 16:34] joperezr commented on #31449
Not sure why the reference on your Model.csproj was added automatically like that, but I basically did two things in your project which fixed the issue. First I converted your dependencies from packages.config to PackageReference. I believe this step isn't absolutely required in order for your projcet to build succesfully, however it makes your projects faster and more reliable plus they will now

[2018-09-18 16:36] joperezr commented on #31449
Closing since I believe that my above response should resolve the issue. For the fact that the reference that was added automatically by visual studio, I believe that might be an issue with VS. Not sure where the right place to log that issue would be, but I would start with https://github.com/dotnet/sdk and perhaps they car re-route if needed.

[2018-09-18 16:36] #31449 closed

[2018-09-18 16:37] karelz commented on #27526
@ahsonkhan just curious: Why did we take PR which implements only 2 APIs out of 4? Was there a good reason to stage it?

[2018-09-18 16:42] grant-d commented on #27526
I couldn't get any feedback on the last api - see https://github.com/dotnet/corefx/issues/27526#issuecomment-419511258.
I am happy to do a separate PR to close that once it's decided.

[2018-09-18 16:50] jkotas commented on #27526
The other 2 APIs are inconsistent with the rest of System.Memory public surface (none of the several hundreds other System.Memory APIs take IEqualityComparer<T>). I assume that this was oversight during API review.

We should have a new issue opened to discuss the `IEqualityComparer<T>` overloads. We should either add the overloads that take `IEqualityComparer<T>` everywhere in System.Memory (ie a

[2018-09-18 16:57] karelz commented on #27526
Thanks @jkotas that makes sense :) ... oversights do happen. Let's separate them in that case. @ahsonkhan can you please bring the `IEqualityComparer` question up in API review for entire System.Memory?

[2018-09-18 17:04] mariusGundersen opened #32337 "Introduce a fourth type of LazyThreadSafetyMode: ThreadSafeValueOnly"
(This is opened based on feedback from a [pull-request to coreclr](https://github.com/dotnet/coreclr/pull/20027))

This is a request to enhance the `LazyThreadSafetyMode` enum and the `Lazy<T>` class to support a fourth scenario.

## Rationale and Description

There seems to be a missing LazyThreadSafetyMode that is commonly asked for ([for example](https://stackoverflow.com/questions/34393352/laz

[2018-09-18 17:37] leecow commented on #31699
@krwq, @joshfree - seems like this should be ported to 2.1 so that the issue is not brought up when we get to submitting to other distros for inclusion.

[2018-09-18 17:42] mnmr commented on #32321
Ah, I can see you’ve been discussing the topic for a while.

My motivation is academic, in the sense that I am strongly opposed to using exceptions for anything that is not exceptional, and practical, because I want to handle common failures without adding lots of code.

Asking for a process without knowing whether it exists is in my book similar to parsing a string and not knowing whether it’s a

[2018-09-18 18:00] NitinKMathur commented on #32331
Went through the library code and found that extensions are always added as octet string. This is the method called to encode the extension. So there is no way to encode it to printable or UTF8 string?

internal static byte[][] SegmentedEncodedX509Extension(this X509Extension extension)
   {
     if (extension.Critical)
       return DerEncoder.ConstructSegmentedSequence(DerEncoder.SegmentedEncode

[2018-09-18 18:10] pakrym commented on #31349
Yes, looking into it.

[2018-09-18 18:13] krwq commented on #31699
@leecow are there any other branches we need to port this to except for release/2.1?

[2018-09-18 18:17] mungojam commented on #26845
Sorry to spam, but any update on whether this is likely to happen. Our department might come back from the brink of python if a pandas-like library was on the horizon

[2018-09-18 18:29] karelz commented on #32336
Duplicate of #29163

[2018-09-18 18:29] #32336 closed

[2018-09-18 18:29] joperezr commented on #27247
Ok, so looks like the issue you are getting here is because I assume that Pastel.Evolution.dll must be targeting .NET Framework. Do note that this is not a supported scenario, even though it might work in some cases. .NET Standard assemblies can be consumed by .NET Framework, but that is not always true for the other way around. In this particular case, you require a System.Data shim that type-for

[2018-09-18 18:42] leecow commented on #31699
2.1 is the primary concern as it's our LTS channel and will be live for the next several years.

[2018-09-18 18:43] zivillian commented on #21833
First of all, thanks for your great work.

I'm not sure wether this issue is the correct place to track all my possibly unrelated issues and have created a new repo at [zivillian/ldap.net](https://github/zivillian/ldap.net).

Until now, I've found the following:
- there is no way to specify an empty tag: zivillian/ldap.net#1
- cyclic references do not work: zivillian/ldap.net#2
- SEQUENCE OF STRIN

[2018-09-18 19:13] zivillian commented on #21833
Another pain point is that I would not be able to implement the protocol without a debugger. Whenever I have an error in my type definitions I get a `CryptographicException` which is rooted at `ASN1 corrupted data`.

I will definitely look into the code generator mentioned in 28683, but this may not help others.

I know that the exception might be security related, but maybe there's a way to set a

[2018-09-18 19:20] joshfree commented on #31699
@krwq port it to /release/2.1 and add the label `servicing-consider`.  After it's submitted, that will trigger an auto-port-PR from 2.1 to 2.2.  That'll cover everything.

[2018-09-18 19:35] filipnavara commented on #21833
Definitely look at the code generator, it solves the issue with useless exceptions. I will look at the other issues in detail.

[2018-09-18 19:45] wfurt commented on #31709
This should work now with daily (3.0) builds.
Also note that 'Tumbleweed' is rolling target instead of specific snapshot.
I think @luisantoniojr  should give it try and we should close this one.

[2018-09-18 19:47] lennybacon commented on #21833
The original exception should be accessible in the InnerException...

Am 18.09.2018 um 21:16 schrieb zivillian <notifications@github.com<mailto:notifications@github.com>>:

Another pain point is that I would not be able to implement the protocol without a debugger. Whenever I have an error in my type definitions I get a CryptographicException which is rooted at ASN1 corrupted data.

I will definit

[2018-09-18 19:49] wfurt commented on #31713
what version of .net do you use? @tmds did some re-factoring in this area for 2.1
But this could also be bug in the application, depending how Process API is used.
On Unix each child process needs to be cleaned by somebody - parent or sometimes init process.
It may be useful to track what processes are becoming zombies and who starts them.

[2018-09-18 20:06] wfurt commented on #30267
I can run the repro and see the outcome. I think this essentially depends on #24430

[2018-09-18 20:14] karelz commented on #30267
Let's fold it into the master issue then:
Duplicate of #24430

[2018-09-18 20:14] #30267 closed

[2018-09-18 20:38] MSAppsDev opened #32340 ".net core 2.2 upgrade issue"
I am trying to upgrade my .net core 2.1 solution to 2.2 preview 2. I have installed 2.2 preview 2 sdk and changed the target framework to 2.2 through project properties but getting below error when i build the solution.
This version of Microsoft.AspNetCore.All is only compatible with the netcoreapp2.1 target framework. Please target netcoreapp2.1 or choose a version of Microsoft.AspNetCore.All com

[2018-09-18 20:45] danmosemsft commented on #32321
I'd like to take this and several of the others mentioned in the other issue back to API review at some point. As noted in the other issue it ought to be possible to eg start VS without so many exceptions.

[2018-09-18 20:46] danmosemsft commented on #32308
I think this has been answered.

[2018-09-18 20:46] #32308 closed

[2018-09-18 20:51] krwq commented on #32321
I'd like to understand when is this scenario useful - if you've used .NET to create a process you should have a Process instance and be able already able to check if process is finished, if you don't then it is pretty rare case than ID you got from somewhere else is invalid.

You can always wrap the call in try ... catch if you need it and if this is needed for perf then I'd like to understand wha

[2018-09-18 20:59] krwq commented on #31713
For .NET version from @wfurt's question use `dotnet --info`

[2018-09-18 21:02] jhudsoncedaron commented on #32325
Dupe! https://github.com/dotnet/corefx/issues/306

[2018-09-18 21:02] #32325 closed

[2018-09-18 21:13] bartonjs commented on #32331
The `CertificateExtensions` property is for extensions for the certificate.  The challenge password attribute is an attribute on the CSR (not the certificate).  The current API doesn't support custom attributes on the CSR itself, only the automatically generated extension request attribute.

[2018-09-18 21:16] ajaybhargavb commented on #31713
Other thing which might be useful is to inspect what syscalls is parent process doing (i.e. use strace) and check if wait was in fact called.
What is the OS where this repros? Is it any non-Windows or only some specifc distros?

We hit this when running our builds on VSTS(dnceng) - Linux hosted preview (I think it runs Ubuntu 16.04 I'll double check). This is not happening on Windows or Mac. I can

[2018-09-18 21:17] mnmr commented on #32321
We use the Actor programming model, and the actor creating the process is not the same as the one monitoring whether it has exited unexpectedly (and Process is not serializable).

It’s not that there isn’t workarounds - static helpers, extensions, etc. It’s just cumbersome that you have to do this in the first place.

It’s incomprehensible to me that it is not desirable to always be able to avoid

[2018-09-18 21:35] krwq commented on #32321
@mnmr - I have mixed feelings on this subject - on one hand I agree that non-throwing model is almost always (at least for me) more convenient but on the other hand when you expect something will return a result but it returns null then it is exception which is useful as it will usually contain the message why something failed - if you provide only non-throwing options then debugging that is quite

[2018-09-18 21:42] wfurt commented on #31713
sorry, I missed that. Can you please take a look @tmds ?
BTW the ppid 1 suggest that parent is gone.
It is interesting that init does not finish the cleaning.
Perhaps because it exited while parent was running and consumed SIGCHLD.

[2018-09-18 21:46] karelz commented on #32340
@Eilon can you help here?
I thought that Microsoft.AspNetCore.All package was discontinued even in 2.1 ... maybe it happened just now?
Here's official docs: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage?view=aspnetcore-2.1

[2018-09-18 22:06] karelz commented on #6073
@cston @333fred @jaredpar can you please comment? This one had lots of opinions (see https://github.com/dotnet/corefx/issues/6073#issuecomment-352860874), so it may be tricky to finalize ...

[2018-09-18 23:03] safern commented on #26476
@tmds from the docs forwarding could be enabled by `/proc/sys/ipv4/ip_forward` or `/proc/sys/ipv4/all/forwarding` or specific to every interface through the `conf/<interface>/` path. Should we also count on this as per falling back? If we can't find the `conf/*` file or is set to false, then try the `all` value and at the end try `/proc/sys/ipv4/ip_forward` as a fallback?

Per the docs that seems

[2018-09-18 23:30] wfurt commented on #31020
Did you try it without setting the HtppClientHandler.Proxy ??? The default is to get default system proxy setting. So it should work like IE without any additional work.

[2018-09-18 23:59] Eilon commented on #32340
@MSAppsDev can you show what your CSPROJ looks like?

The `Microsoft.AspNetCore.All` package continues to exist in 2.x, but will not be supported in 3.0 at all. Though, we do recommend people be prepared and use `Microsoft.AspNetCore.App` instead.

[2018-09-19 00:03] NitinKMathur commented on #32331
Thanks for clarifying @bartonjs. Is this going to be supported for CSR anytime soon?

[2018-09-19 00:12] danmosemsft commented on #29620
@afsanehr

[2018-09-19 00:14] danmosemsft commented on #18793
Dupe of https://github.com/dotnet/corefx/issues/29620?

[2018-09-19 00:26] bartonjs commented on #32331
You're the first person to bring it up; so it's not planned work at this time, no.

[2018-09-19 00:37] wfurt opened #32343 "HTTP(s) tests crashing on Debian9 in CI runs"
https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180918.05/workItem/System.Net.Http.Functional.Tests/wilogs

We have catastrophic failure on every master branch run.
This is easily reproducible with single test:

[code]

Installed libcurl links with openssl1.0 but since openssl1.1 is also available we probably mix both together.

[2018-09-19 00:49] yujayee commented on #31720
It repros on full framework, the DateTimeOffset value is silently ignored.

[2018-09-19 01:00] yujayee commented on #31721
It can repro on full framework, System.InvalidOperationException is thrown during deserialization.

[code]

[2018-09-19 01:33] bartonjs commented on #32343
I thought we dropped support for libcurl?

[2018-09-19 02:34] siberianguy commented on #18129
Is there an update on this issue? We're stuck not being able to explicitly specify an ip address for a request

[2018-09-19 02:35] siberianguy commented on #23426
Is there any progress with this issue? We're stuck by not being able to explicitly specify an ip address for a query. We're considering using a wrapper for a C++ library as a temporary solution but it doesn't sound super exciting...

[2018-09-19 03:31] muzzammilhussain commented on #32310
@tarekgh My Time Zone settings on Ubuntu are Asia/Karachi. Yes i do think so its the Web App which is messing with something as console works fine with the same code. In the Web App I am using tokens Auth Tokens for their validity I pass the time Zone in config file as Asia/Karachi. I think that is messing up when the Web App is starting up and setting its time. The web app is setting Asia/Karachi

[2018-09-19 03:34] muzzammilhussain commented on #32310
I fixed the issue using Noda Time. I use Noda Time Library and It is working Perfectly fine. The main issue which I would treat as a bug is when I am running in development mode in windows I am still passing the timezone as +5GMT in Config file. In that case web app doesnt messes up things. Why it do so on ubuntu?

[2018-09-19 03:35] muzzammilhussain commented on #32310
Last login: Tue Sep 18 10:42:19 2018 from 192.168.7.12
alliedschools@allieschools:~$ timedatectl status | grep "Time zone"
       Time zone: Asia/Karachi (PKT, +0500)
alliedschools@allieschools:~$

[2018-09-19 03:36] muzzammilhussain commented on #32310
@Clockwork-Muse  this also doesnt works DateTimeOffset utcTime = DateTimeOffset.UtcNow;

[2018-09-19 03:37] muzzammilhussain commented on #32310
Whenever I want to fetch UTC it gives me Time of my Current TimeZone.

[2018-09-19 04:09] bartonjs commented on #32343
Seems like the problem is that now that we support OpenSSL 1.1 we need to adjust the "make sure the OpenSSL's don't cross"

[2018-09-19 04:14] wfurt commented on #32343
yes, that would be ideal. We would probably need to figure out first what curl want's before loading openssl for us.
Maybe we can disable offending tests for now so tests can at least complete.

[2018-09-19 04:16] wfurt commented on #27594
we have not seen  this for very long time. closing for now.

[2018-09-19 04:16] #27594 closed

[2018-09-19 04:36] wfurt commented on #32238
I could not reproduce it @gserfont

I wraped your code to simple console app and it works as expected for me.
macik2:poll furt$ dotnet run 10.10.80.10
Destination timedout:10.10.80.10

I would recommend to do packet capture for ICMP traffic.

Also note, that on Unix (including OSX/MacOS) the implementation changes depending on user privilege. If possible .net uses RAW sockets and falls back to exe

[2018-09-19 05:16] wfurt commented on #31927
Is this specific to Yosemite? (10.10). That is far beyond support IMHO.
If this is reproducible on 10.12+, could you please try to craft some repro?

[2018-09-19 05:30] wfurt commented on #31650
note that we do not build libsosplugin for OSX. So the core and stack-trace will be limited to unmanaged code. (still better then nothing)

[2018-09-19 05:33] wfurt commented on #31561
2.1.3 (and .4) is out. Should we close this?

[2018-09-19 05:47] wfurt commented on #31403
do you use the cross-compilation scripts?
In general, can you provide more detailed steps so one can try to reproduce it?

[2018-09-19 06:17] ahmadalli commented on #15640
this is related to #15640

[2018-09-19 06:30] moien007 opened #32345 "ArrayRange"
In most cases ArrayPool returns an array that its length is bigger than the requested length.
So we usually use ArraySegment but its Offset field is unneeded. So having ArrayRange will be nice.

It already implemented here: https://github.com/aspnet/Blazor/blob/master/src/Microsoft.AspNetCore.Blazor/RenderTree/ArrayRange.cs

[2018-09-19 06:38] filipnavara commented on #31650
That's unfortunate, but managed exception are already reported properly in the test suite anyway. My concern are crashes in `System.Native` and external libraries such as OpenSSL.

[2018-09-19 06:43] drauch commented on #32081
Now it's confirmed, the August 2018 security & quality rollup fixed the problem. That is why it looks fine in the source code you posted - it's the fixed version ;)

See https://github.com/Microsoft/dotnet/blob/master/releases/net471/KnownIssues/534719-Networking.ServicePoint.ConnectionLimit%20default%20behavior%20changed.md on the very bottom.

Now it's time to get rid of our NuGet reference to S

[2018-09-19 06:58] Clockwork-Muse commented on #32310
When you actually run as a web app, try printing out your timezone, after removing whatever overrides you put in place in config files.
Note that, unless something truly bizarre is going on (or your code is doing something inadvisable), UTC should not be overridden to a different timezone.  However, this shouldn't affect the result of `UtcNow`, unless _you're changing the current time_.

I doubt j

[2018-09-19 07:03] mnmr commented on #32321
I agree with all of that really, but do not think that adding try methods pollutes the framework - instead they bring freedom of choice, so developers can choose whatever fits their needs.

Overall it’s not a big deal either way, but at least now my vote is registered :)

[2018-09-19 08:33] prophetix opened #32346 "asp.net core 2.1 WS Fed proxy"
Hello,

I am currently trying to move next projects to use .Net Core and we have a corporate proxy using a wpad.dat file for configuration and use the Windows authenticated user for proxy authentication transparently.

Till now, on old .net web application, I used to add default proxy settings in web.config

[code]
and everything is just fine.

But I cannot find in .net core 2.1 what i have to add

[2018-09-19 09:21] fhsdfuihisfg opened #32347 "Unicode path results into path too long error"
I was using powershell get-childitem command and encounter path too long error when reading a path contains unicode. I was told it is a CoreFX limitation so I come here to report.

The filename itself in unicode is under the 260 limit, but after passing it into a online unicode converter, the converted path is actually longer than 260 characters, which makes powershell reports path too long error.

[2018-09-19 09:30] MarcoRossignoli commented on #32347
/cc @JeremyKuhne

[2018-09-19 09:44] gfoidl commented on #32345
Do `Memory<T>` / `Span<T>` not suffice?

[2018-09-19 10:07] simonthum commented on #23426
It sounds like a 100% solution would be to factor out the connection setup such that individual steps can be performed by the user selectively. I could open the socket, a stream, decide on reuse (pipelining, http/2), specify a binding address, a proxy, TLS certs etc. but not in every combination. Like a connection management interface with several default implementations to support the desired deg

[2018-09-19 10:42] janvorli commented on #32343
.NET Core works just fine in cases where we were using OpenSSL1.0 and at the same time using libcurl that was using OpenSSL1.1. I have verified that in the past. So it seems that in general, the opposite case should work as well. I wonder if we are hitting something similar to the issue fixed for libressl in https://github.com/dotnet/corefx/pull/22242.

[2018-09-19 10:47] janvorli commented on #32343
That sounds unfortunate to bind ourselves to what curl uses.

@wfurt can you please install the libcurl and libssl 1.0 debug symbols so that we see where exactly the crash happens? Maybe it would give us a better hint on what's going on.

[2018-09-19 11:06] moien007 commented on #32345
ArrayRange is less complex than `Memory<T>` and `Span<T>`. Also `Memory<T>` contains `_index` which is (if I'am not wrong) same as `ArraySegment<T>.Offset `.

[2018-09-19 12:31] siberianguy commented on #23426
Sorry guys for a likely stupid question but I'm a little lost here. On the one hand, this issue says HttpClient doesn't support specifying an explicit ip address but then I see issues like this one (https://github.com/restsharp/RestSharp/issues/1162) that shows seemingly that you can change an ip address

[2018-09-19 12:42] setharnold commented on #32082
I believe you need to add `errno = 0;` before `if (!(unlinkat(handle, de, 0))`.

Thanks

[2018-09-19 13:05] MSAppsDev commented on #32340
Hi,
this issue is with my webapi, below is my csproj file.

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
    <TypeScriptToolsVersion>Latest</TypeScriptToolsVersion>
    <IsPackable>false</IsPackable>
    <SpaRoot>ClientApp\</SpaRoot>
    <DefaultItemExcludes>$(DefaultItemE

[2018-09-19 13:28] grant-d commented on #1244
Updated spec:
Changed naming to align with existing patterns `StartsWith`, `EndsWith`, `TrimStart`, `TrimEnd`

[2018-09-19 13:35] svick commented on #32345
Why is that an issue?

[2018-09-19 14:10] moien007 commented on #32345
If we use `Memory<T>` with `ArrayPool<T>`, `_index `is always zero, isn't it ?
Only difference between `ArrayRange` and `ArraySegment<T>` or `Memory<T> `is `Offset` or `_index` removal which makes less stack copy.

[2018-09-19 14:29] bartonjs commented on #32343
Prescience isn't required.  We simply said "we can do special interop with curl when it uses OpenSSL 1.0.x", instead of "we can do special interop with curl when it uses the OpenSSL we do" https://github.com/dotnet/corefx/search?q=OpenSsl10Description&unscoped_q=OpenSsl10Description

[2018-09-19 15:34] sako9 commented on #24372
From my understanding of https://tools.ietf.org/html/rfc7232#section-2.2 a server should return a Last-Modified header whenever feasible which to me means even when there is no content. Currently, to set the Last-Modified header you would do ```HttpResponseMessage.Content.Headers.LastModified = someDateTimeOffset``` which would throw and error is you didn't set the content which you might not do i

[2018-09-19 15:44] ViktorHofer commented on #30131
This also happens on .NET Framework. We currently don't have plans to optimize this scenario. I think it makes sense to revisit this topic when the collectible assemblies feature is implemented (https://github.com/dotnet/coreclr/issues/552#issuecomment-410238253).

[code]
|    Method |  Job | Runtime |     Mean |    Error |   StdDev | Allocated |
|---------- |----- |-------- |---------:|---------:

[2018-09-19 15:46] #32037 closed

[2018-09-19 15:47] jkotas commented on #30131
Why do you think that collectible assemblies will help you with this?

[2018-09-19 16:04] btecu commented on #31034
I'm also running into this. It randomly throws `The SSL connection could not be established` and can't reproduce it.

[2018-09-19 16:18] tarekgh commented on #32310
@muzzammilhussain  could you please tell us the value of the TimeZoneInfo.Local.StandardName when you see DateTime.Now= DateTime.UtcNow? this will help to get this value during the runtime.  Also, as @Clockwork-Muse  mentioned, if you can get us some small repro to help see the problem that will be great!

[2018-09-19 16:20] stephentoub commented on #23426
Sure, I was simply highlighting using a Func that returns a Socket or an Action that configures one. We could figure out what arguments to pass in.  I could imagine you might want more than just the scheme/host/port in some situations, as well.

That's a whole different ballgame.  Just providing a delegate to a configure a socket, or even to create one, leaves the whole connect mechanism up to the

[2018-09-19 16:31] Eilon commented on #32340
In this section of the CSPROJ:

[code]

It looks like there's a mix of ASP.NET Core versions. All the stuff that is actually part of ASP.NET Core should be 2.2.x.

In particular:

[code]

Should change from `.All` to `.App`, and remove the version:

[code]

You can remove this:
[code]

And you can change the version of `Microsoft.VisualStudio.Web.CodeGeneration.Design` to `2.2.0-preview2-35157`.

[2018-09-19 16:31] #32340 closed

[2018-09-19 16:34] moien007 commented on #32345
I don't think `ArrayRange` give a significant performance improvement, so I'm convinced.

[2018-09-19 16:34] #32345 closed

[2018-09-19 17:02] ptupitsyn commented on #30131
@ViktorHofer any insight on the root cause of the issue?

[2018-09-19 17:10] eerhardt opened #32348 "Add StringBuilder.Append(ROM<char>) to existing Append(ROS<char>) for perf"
[code]

Results in:

[code]

The reason `StringBuilder.Append(ROM<char>)` even works is because `Append` has an [overload that takes an `object`](https://github.com/dotnet/coreclr/blob/030a3ea9b8dbeae89c90d34441d4d9a1cf4a7de6/src/System.Private.CoreLib/shared/System/Text/StringBuilder.cs#L1182), which just turns around and calls `.ToString()` on the object. `ROM<char>` [overrides the ToString](htt

[2018-09-19 17:17] wfurt commented on #23426
It may also help with cases like #31951 when someone may want more aggressive retries.

[2018-09-19 17:28] wfurt commented on #31650
agreed. Saving core file is good thing. This was more a warning for who ever will try to mach Linux capabilities.

[2018-09-19 17:30] MSAppsDev commented on #32340
@Eilon,
Thanks for the information. I am able to fix the issue by removing Microsoft.AspNetCore.All from the project and added Microsoft.AspNetCore.App and some  ore libraries such as Microsoft.AspNetCore.Mvc, Microsoft.AspNetCore.Authntication.Jwtbearer etc.

[2018-09-19 17:34] Petermarcu opened #32349 "Enum.Parse() gives Cannot load assembly 'dll-name'"
@claudiobottari commented on [Wed Sep 19 2018](https://github.com/dotnet/core/issues/1948)

# Issue Title

Enum.Parse() gives Cannot load assembly 'dll-name' when the enum type is defined in another dll

# General

Just porter from net462 to netcoreapp2.1, everything works smoothly but I got this error on a tiny portion of my code which is crucial: Enum.Parse() gives Cannot load assembly 'dll-name

[2018-09-19 17:53] halter73 commented on #31927
It is reproducible in 10.12 (this is the version of macOS the last agent we've seen this error was running) and very well could have been an issue before 10.10, but that's the timeframe when it was first reported to libuv.

This is a race condition that occurs when send a connection reset occur simultaneously, so it requires a loop to repro. [Here's](https://github.com/libuv/libuv/pull/482#issueco

[2018-09-19 17:57] AfsanehR commented on #29620
@logankp sorry for delay in response. Are you seeing the same error message as mentioned at the beginning of this issue? From what I can see from the traces you provided, no connection is established at all, since the client is only sending SYN or ACK or PSH,ACK packets without receiving any SYN,ACK from server, therefore, no TCP handshake happens at all.  This could be due to a firewall blocking

[2018-09-19 17:58] wfurt commented on #31927
thanks @halter73 . I'll give it a try.

[2018-09-19 18:06] ViktorHofer commented on #32348
Good catch. I would have also added allocation numbers which outline the unnecessary string allocation.

[2018-09-19 18:15] eerhardt commented on #32348
Good call.  I've updated it with the allocations, and I've also added a "longer" string to show that it gets worse as the string gets longer. ROS barely even grows as the string gets longer. ROM, not so much.

[2018-09-19 18:15] karelz commented on #31034
@timmydo that does not seem to be caused by HttpSocketsHandler, but rather by general .NET Core implementation of HttpWebRequest - we do not fully implement the API surface, we expect developers to move to HttpClient.

@Julian89757 there is nothing actionable here unfortunately, so it is not going well.

I will close this issue as there is mix of reports, none of them lead to repro or collected tr

[2018-09-19 18:15] #31034 closed

[2018-09-19 18:18] zivillian commented on #21833
After trying to migrate to the XML generator I found a blocking issue (zivillian/ldap.net#5) regarding the tag class.

With attributes it is possible to specify the tagClass and tagValue:
[code]
as specified in [RFC 4511 - 4.8](https://tools.ietf.org/html/rfc4511#section-4.8)
[code]

I wasn't able to find a way to set the tagClass in xml, since there is no attribute. Using
[code]
results in a `Cry

[2018-09-19 18:20] ViktorHofer commented on #32348
Thanks. It would be interesting to find out if we have other _performance critical_ paths in the BCL that accept an object and call ToString on it.

[2018-09-19 18:20] karelz commented on #31561
Duplicate of #29942

[2018-09-19 18:20] #31561 closed

[2018-09-19 18:28] bartonjs commented on #21833
@zivillian You could add an attribute in your copy of asn.xsd and process it in asn.xslt to change the class https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Security/Cryptography/Asn1/asn.xslt#L882.  We simply haven't had a need for it yet (nothing that we've built used the APPLICATION or PRIVATE classes)

[2018-09-19 18:33] jkotas commented on #32347
Powershell issue: https://github.com/PowerShell/PowerShell/issues/7809

[2018-09-19 18:37] karelz commented on #32346
@prophetix the config above is for System.Net, yet you use MVC app. Can you please confirm that you hit the same problem in simple console app (no ASP.NET involved)? Can you please post such minimal repro here? (do you use HttpWebRequest or HttpClient)

.NET Core does not have custom WPAD files support AFAIK - either we use system settings (which supports WPAD I think), or you can enter your own p

[2018-09-19 18:39] karelz commented on #32349
@claudiobottari can you please provide full repro that we can compile and debug locally?

[2018-09-19 18:44] JeremyKuhne commented on #32347
Thanks @jkotas

@fhsdfuihisfg The limit is not 260 for file names. No filesystem supports greater than 255 code units. For Windows this is UTF-16. For Unix it is 255 _bytes_ of anything, but that is usually treated as 255 bytes of UTF-8. Given the way UTF-8 works that means you can have a _maximum_ of 255 characters (if all of your characters are at code points 127 and below (e.g. ASCII)).

260 is

[2018-09-19 18:58] rmkerr commented on #29703
I don't think that we should swallow the exception from `IdnMapping.GetAscii`. That approach could potentially cause security issues when disallowed Unicode characters are Punycoded.

Instead I think we should only be applying `IdnMapping.GetAscii` to hosts prefixed with "xn--". That's the behavior set out in the IDN spec, and I think that attempting to decode all hosts was just an oversight.

[2018-09-19 19:00] zivillian commented on #21833
@bartonjs thanks for your hint, works like a charm https://github.com/zivillian/ldap.net/issues/5#issuecomment-422920372

[2018-09-19 19:00] Eilon commented on #32340
Great!

[2018-09-19 19:29] tmds commented on #31713
It is interesting that init does not finish the cleaning.

Interesting observation! Pid 1 here is the Agent.Listener.
What process is calling WaitForExit? And how does it relate to the defunct dotnet processes (it is not the parent)?

[2018-09-19 19:44] panesofglass opened #32354 "Binary serializing a type of System.Random fails with SerializationException"
Code snippet to reproduce:

[code]

Error message:
[code]

Is it possible to add `System.Random` to the [list of binary serializable types](https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization)? We use this to save the state of a random generator while processing long-running tasks.

[2018-09-19 19:45] panesofglass commented on #32354
cc @SteliosFly

[2018-09-19 19:55] tmds commented on #31970
It looks like nano on Alpine behaves similar to what we saw for nano in this issue: https://github.com/dotnet/corefx/issues/28668.
When standard in is redirected, the process exits shortly after starting.

[2018-09-19 20:08] wfurt commented on #31713
Is this container @ajaybhargavb  ??? I would expect pid 1 to be init.

[2018-09-19 20:11] robertmuehsig opened #32355 "NuGet adds wrong binding redirects with .NET 4.7.2"
This issue was created because of a [discussion on twitter](https://twitter.com/ziki_cz/status/1042097198077333504) @karelz & @joperezr.

We have a pretty large (+100 proj) solution that we are develop for the past 6-7 years with different Visual Studio versions etc.
Last week I was trying to update our solution from .NET Framework 4.5.2 to 4.7.2 and I tried to updated the most important NuGet pac

[2018-09-19 21:10] juliobbv opened #32357 "Possible regression in new UseSocketsHttpHandler when .NET Core 2.1 application is configured to use a proxy on Windows 64-bit"
Hi all,

@TingluoHuang and I (both MSFT employees) are working on updating our [Azure Pipelines agent](https://github.com/Microsoft/azure-pipelines-agent) (AKA VSTS agent) to use .NET Core 2.1 (from 2.0). During our testing, we detected a regression in our config scenario against a TFS on-premises instance when a proxy that requires client authentication (like Fiddler) is used.

Our application ha

[2018-09-19 21:33] wfurt commented on #31713
is it ever possible for p3 finish before p2 quits? How exactly p1 collects status? Since p1 has no clue about p3, it may be looking for wrong pid. In this case we would need to be looking for any pid from that process group (e.g. -1 or 0)

Minimal repro would be great @ajaybhargavb . I think the important parts are timing and relations.

and yes, I was asking about Docker. I'm not aware of any iss

[2018-09-19 21:37] bartonjs commented on #32224
So while I'm not sure why Fedora 28 (and one claim of Ubuntu 18.04) have hit this, too; but on SLES it's because of https://build.opensuse.org/package/view_file/security:tls/openssl-1_1/openssl-truststore.patch?expand=1.

While /etc/ssl/certs still uses the "BEGIN CERTIFICATE" form (and that's where the output of `openssl version -a` would send you), they changed X509_CERT_DIR and X509_CERT_FILE t

[2018-09-19 21:56] juliobbv commented on #28961
+1 on @davidsh's comment.

We're working on upgrading our [Azure Pipelines agent](https://github.com/Microsoft/azure-pipelines-agent) project from .NET Core 2.0 to 2.1, and unfortunately we had to disable the new SocketHttpHandler to work around the "No support for channel binding..." issue in Linux, as we support connecting our agent to on-prem TFS instances.

[2018-09-19 22:05] keeratsingh commented on #31690
Closing due to inactivity, kindly reopen the issue if it still exists after updating to the latest SDK version.

[2018-09-19 22:05] #31690 closed

[2018-09-19 22:15] David-Engel commented on #31377
I've asked around (our team does not own it) and there is currently no timeline defined for bringing that library to .NET Core.

[2018-09-19 22:15] #31377 closed

[2018-09-19 22:32] wfurt commented on #31206
I did more testing with C and C# as well as I looked at Linux kernel code.
This seems to be way how Unix works. when sendto() is used, individual chunks of data are submitted independently and the call succeeds as long as there is space in socket buffer.
Since UDP is unreliable, this is has nothing to do with actual delivery.

I did also packet capture for both calls. In both cases I see:
[code]

[2018-09-19 22:38] mjrousos commented on #26745
I expect this is going to become important for .NET Core 3.0. Any customer with bitmap or icon resources will run into the exception @filipnavara posted in [his comment](https://github.com/dotnet/corefx/issues/26745#issuecomment-421402311).

[2018-09-19 22:43] tmds commented on #31713
Because P3 is not a direct child of P1, this doesn't work via SIGCHLD. So this issue is different from https://github.com/dotnet/corefx/issues/31559.
For non-child processes, the exit is detected by polling the pid using kill with signo 0.

If you reproduce this, try running strace on P1: `strace -f -e kill -p <P1>`.
You should see kill calls being made each 100ms for P3.

[2018-09-19 23:11] ericstj commented on #26745
Here you go: https://github.com/ericstj/coreclr/commit/782f7dda1afd04d5b67b681ecd56aab154d483c0.  No guarantees it still compiles 😉

[2018-09-19 23:12] joperezr commented on #32355
Thanks for reporting this, I'm taking a look at your repro now. Is it also possible to get a msbuild.binlog from one of your projects? That would basically help me check who is injecting the binding redirects and why. In order to produce one, just run the following from a developer command prompt:
`msbuild yourProject.csproj /t:rebuild /v:m /bl`

[2018-09-19 23:14] ahsonkhan commented on #32348
@joperezr, @pjanotti - do you have any thoughts before this API is marked as api-ready-for-review?

[2018-09-19 23:36] joperezr commented on #32355
@robertmuehsig which version of VS are you using? We have changed a bunch the way we generate extra binding redirects with our tooling, and I just tried with latest version of VS (15.8.4 at the time of writing this) with your project after targeting 4.7.2 and updating the packages and I can't repro. I don't see the extra binding redirects added anywhere. Could you update your VS and try again?

[2018-09-19 23:37] ahsonkhan commented on #27526
@GrabYourPitchforks, did you have a particular scenario or need that motivated adding the Contains overloads with `IEqualityComparer<T>`?

Sure, I will create a new issue.

[2018-09-19 23:44] joperezr commented on #32348
Api looks good to me. Marking it as ready for review.

[2018-09-19 23:50] GrabYourPitchforks commented on #32354
IMO a better design would be to allow `System.Random` to serialize its own state to a `byte[]` independent of `BinaryFormatter` or any other specific serializer. Here are some strawman APIs that could be used to accomplish this.

[code]

[2018-09-20 00:04] davidsh commented on #32346
Unlike .NET Framework, .NET Core does not support app.config/web.config settings.

The only way to use a PAC (JavaScript) file (either explicit location or discovered via WPAD protocol) is via the IE settings dialog.  And then to pass default network credentials to that proxy, you can use:

[code]

[2018-09-20 00:18] ahsonkhan commented on #32334
The Span.IndexOfAny returns 0, as expected. The string.IndexOfAny should also return 0, at least per the docs.

https://docs.microsoft.com/en-us/dotnet/api/system.string.indexofany?view=netframework-4.7.2#System_String_IndexOfAny_System_Char___

I believe this is the offending code path:
https://github.com/dotnet/coreclr/blob/4b9a9d71b06fbce71c7d000e8b2ed3623976b30c/src/System.Private.CoreLib/shar

[2018-09-20 00:31] benaadams commented on #32334
`"Hello World!".IndexOf("")` returns 0 and says it should return 0 in the docs (rather than -1)

Which would also suggest the Span version of `.IndexOfAny` is the correct one.

However, it looks like `"Hello World!".IndexOfAny(new char[] {})` returns -1 on Full Framework also; is this a compat concern to fix?

[2018-09-20 00:33] ahsonkhan commented on #32334
It would be, yes.

cc @danmosemsft, @GrabYourPitchforks

[2018-09-20 01:41] GrabYourPitchforks commented on #25582
@danmosemsft I suppose my experience has been different than yours. In the profiles I've seen where `DateTime.Now` shows up in the hot path, it's always a microbenchmark or an application that's not doing anything terribly interesting. (I remember seeing this show up in Razor "hello world" pages in ASP.NET full framework a few years ago, but at that point we were just digging around in the dirt fo

[2018-09-20 01:46] ahsonkhan commented on #32334
In your first example, we are using the index returned from `IndexOfAny` to deference the string at that index (which you state is bad). However, in the second example, you use the index returned from `IndexOf` within substring (and deem it OK). If, however, we used that index to deference the original string from the second example, we end up with the same issue as the first example. Shouldn't we

[2018-09-20 02:07] fhsdfuihisfg commented on #32347
Sorry, forgot to mention.
The problem happens on ubuntu18.04 lts server with powershell core 6.1
When I use powershell 5.1 in win7, there is no unicode path too long problem.

[2018-09-20 02:30] danmosemsft commented on #25582
@grabyourpitchforks no I don't have anything useful. Maybe @vancem does based on the topmost comment.

[2018-09-20 02:33] thuannguy commented on #31449
@joperezr  thank you for your response. I had to move on from that a leave with it for now, but when I have time again to look at it, I will try your fix 😄

[2018-09-20 02:34] tmds commented on #31713
The root cause is this doesn't work for defunct processes. `kill` returns as if the process is still running.

[2018-09-20 03:35] wfurt commented on #31713
I think you would need to poll waitpid(-1, NOHANG)

[2018-09-20 05:44] filipnavara commented on #26745
@ericstj Thanks. It is essentially the same as the patch I have with small differences in error handling :)

[2018-09-20 06:46] prophetix commented on #32346
Wpad configuration is already in IE configuration.

I tryed direct connection on Console app using this code ;

[code]

- Runing on .Net Core 2.0, no problem
- Runing on .Net Core 2.1 I get an Exception : ""Authentication failed because the connection could not be reused.""

As it was running on .net core 2.0, I tryed on my MVC app, passing a configured handler to the

[code]

It is working on .Ne

[2018-09-20 06:48] ahsonkhan commented on #32163
With the changes in #32203, can this issue be closed now?

cc @wtgodbe

[2018-09-20 07:07] tebeco commented on #30166
@karelz so yesterday we tried to use CosmosDb with DocumentDb client api
i’m not sure we found the actual repo for DocumentDb.Core (the netstandard package)
still after décompilation it seems that a private handler is is nested next to the httpclient and all the API is closed

if you look for “DocumentDb” you’ll find answers telling you to do :
[code]

this is why this issue probably need to be de

[2018-09-20 07:18] tebeco commented on #30166
@karelz so yesterday we tried to use CosmosDb with DocumentDb client api
i’m not sure we found the actual repo for DocumentDb.Core (the netstandard package)
still after décompilation it seems that a private handler is is nested next to the httpclient and all the API is closed

if you look for “DocumentDb” you’ll find answers telling you to do :
[code]

this is why this issue probably need to be de

[2018-09-20 07:36] HappyNomad commented on #2075
In a .Net Standard 2.0 library, I have access to the very useful .Append and .Prepend extension methods of the System.Linq.Enumerable class.
	1) Why are these methods marked with EditorBrowsableState.Never?  I didn't stumble upon them until recently, before which I'd been using the cumbersome .Concat with an array initializer.
	2) Why aren't these methods available in a .NET Framework 4.6.1 Consol

[2018-09-20 07:37] JohanSpannare commented on #30691
We are hitting this bug as well, errors occurs randomly after lots of concurrent tasks and requests at PutAsync on the same client. Below is some exception stacks traces.

Have tries to change settings on SocketsHttpHandler without success.

`            var handler = new SocketsHttpHandler
            {
                AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Defl

[2018-09-20 09:12] tmds commented on #31713
You need a PID 1 that takes care of the orphaned children. You can add one by specifying `--init` on the `docker run` command.

[2018-09-20 09:24] RaghavKumar opened #32364 "System.Net.Sockets ,Version=0.0.0.0 in net 4.6.1 environment."
The application is built for in net 4.6.1 .It uses a nugget package built on the .net standard 2.0 with makes use of another nugget package using the System.net.sockets ,ver 4.3.2.
The fusion log indicates failure to resolve System.Net.Sockets ,Version=0.0.0.0 .
The way the system is built , Its not possible to use app.config file.

1.The consuming application of the nugget package if it set to .n

[2018-09-20 10:08] kouvel commented on #32062
That all sounds awesome, thanks for the details. We're planning on adding `MethodImplOptions.AggressiveOptimization` to work around the cold method with hot loops issue. For benchmarks that take long per iteration they could be attributed with a `MethodImplAttribute` to have them start at tier 1. It could also be added to all benchmarks but the attribute could be used for other optimizations in th

[2018-09-20 10:45] gfoidl opened #32365 "base64 encoding with simd-support"
I've prototyped base64 encoding with SSE2 / SSSE3 support [here](https://github.com/gfoidl/Base64Test/blob/d7df2359915b08f353912941d66eb115dd195d63/perf/Base64NetBenchmarks/Implementations/Sse2.cs).
The input, that can't be processed via simd, is handled with the current default encoded.

Numbers look quite promising:

|    Method |    N |        Mean |     Error |    StdDev | Scaled | ScaledSD |

[2018-09-20 12:58] jnm2 commented on #32321
Re: `NonThrowing` helper, keep in mind that `Try*` is not the same as catch-all. `Try*` should return false for tightly-defined straightforward criteria and *still* throw for exceptional circumstances. For example, ArgumentException, or an IOException when TryParsing a stream that happens to be backed by the file system.

[2018-09-20 14:49] AlexRadch commented on #32334
`Console.WriteLine(Array.IndexOf(Array.Empty<char>(), Array.Empty<char>())); // -1` here you call `public static int IndexOf (Array array, object value);` method. So it should return -1.

[2018-09-20 14:53] AlexRadch commented on #32334
@benaadams `IndexOfAny` and `IndexOf` methods have different logic. You can not compare one with other.

[2018-09-20 15:51] danmosemsft commented on #32365
@tannergooding

[2018-09-20 16:43] karelz commented on #32357
@juliobbv are you able to test it with latest 2.1.x servicing bits (the unreleased 2.1.5 ideally). We had multiple proxy fixes going in. It would help us verify that your scenario is also addressed with latest bits. Thanks!

[2018-09-20 16:47] karelz commented on #32364
@RaghavKumar can you please provide a (minimal) repro? (steps how to run into the problem, ideally creating app from scratch)
cc @joperezr

[2018-09-20 16:49] AlexRadch commented on #32334
`"Hello".IndexOf(string.Empty)` looking for empty string inside "Hello" string. It looking string.
`"Hello".IndexOfAny(Array.Empty<char>())` looking for the first character that is contained within `Array.Empty<char>()`. It looking char.

`Array.Empty<char>()` does not contains any char so `IndexOfAny` should return -1.

[2018-09-20 16:53] ViktorHofer commented on #7597
[code]

[System.Net.Http.Unit.Tests.txt](https://github.com/dotnet/corefx/files/2402273/System.Net.Http.Unit.Tests.txt)
[System.Net.Sockets.Tests.txt](https://github.com/dotnet/corefx/files/2402274/System.Net.Sockets.Tests.txt)
[System.IO.FileSystem.Tests.txt](https://github.com/dotnet/corefx/files/2402275/System.IO.FileSystem.Tests.txt)
[System.IO.Pipes.Tests.txt](https://github.com/dotnet/corefx

[2018-09-20 16:54] ViktorHofer commented on #7597
cc @safern as you recently made a change. This already includes your fix.

[2018-09-20 16:58] tannergooding commented on #32365
Implementation looks good. It might be nice to wait on taking this (if we do) until after we finish the API cleanup for the HWIntrinsics (some design decisions were made at the last API review, that we need to respond to).

[2018-09-20 17:07] gfoidl commented on #32365
@tannergooding thanks. So let's wait for the cleanup, then we can come back to productize this.

[2018-09-20 17:15] joperezr commented on #32364
if you target .NET 4.6.1 and want to consume .NET Standard 2.0 components, then we require Binding redirects. Our build engine should be injecting some (provided that you selected the auto-generate binding redirects option) in order to make things work. Why isn't app.config file an option? In case you really want to avoid using binding redirects, then you should target .NET 4.7.2 since that won't

[2018-09-20 17:34] Praveen-Rai opened #32367 "SSL certificate locations on Linux & DotNet supported certificate formats"
Dotnet presently is using User Home directory to store and read x509 Certificates, but in Linux each distribution has a standard directory to store the certificates. As per discussion [ here ](https://github.com/aspnet/KestrelHttpServer/issues/2902#issuecomment-4228537932), it seems like we've carried forward the .Net Certificate Store concepts. This isn't aligned with Linux way of working with SS

[2018-09-20 17:47] karelz commented on #30166
@tebeco it seems that we have duplicate conversation here and in #24574. It is also confusing to see several scenarios thrown into the same pile and mixes.
Let's try to untangle things:

The main problem seems to be that proxy on Windows does not use default credentials unless you explicitly ask for it via `HttpClientHandler.DefaultProxyCredentials = CredentialCache.DefaultCredentials`. That can b

[2018-09-20 17:50] baal2000 commented on #32262
@geoffkizer

If there is no synchronization between the waiter cancellations ("thread B") and the waiter queue access (thread A) then we have the race condition that, while not leading to the deadlock, could make for an  unreliable cancellation check on the "thread A". When a waiter is tested negative for the cancellation at one instant, the same waiter could become canceled at another. That might

[2018-09-20 18:00] tebeco commented on #30166
i will check again tomorrow (from Paris here)
as i understand from another MSFT voice

Msft has no purpose on even trying to make proxy detect IE settings

they try to convince corporation to use transparent proxy unless they (corpo) prouve msft that they (msft) will loose money

also i think i did try to opt out from `sockethandler` with no luck

does it work for windows service without `app.conf

[2018-09-20 18:14] #31349 closed

[2018-09-20 18:16] JeremyKuhne commented on #32347
Without seeing an actual string involved you likely have characters that require more than one byte to encode in UTF-8 (something non-ASCII).

You're welcome. It isn't a waste- paths are filled with hidden complexity. I'll look to see that we have this written up in the docs.

[2018-09-20 18:16] #32347 closed

[2018-09-20 18:18] danmosemsft commented on #7597
Some of the IO ones are trivial @anipik
[code]

[2018-09-20 18:36] geoffkizer commented on #23426
@stephentoub Yes, I agree with your points. I was mostly just tossing out some ideas above.

Agreed. To answer my own questions above, I don't think this should affect proxy behavior or SSL. It should just affect how connections are created.

Re configure socket vs create socket, it seems to me there are compelling cases for creating the socket, so I lean toward that model. Basically, something li

[2018-09-20 18:38] pakrym commented on #32163
Neither

https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/2.1/Latest_Packages.txt

nor

https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/2.2/Latest_Packages.txt

Has a new version of pipelines

[2018-09-20 18:42] francisminu commented on #26917
@stephentoub
Thanks Stephen for the prompt explanation.
I have one doubt though. Does it mean, we need to execute the same steps that happen on OnComplete on receiving a false as well?

[2018-09-20 18:50] rmkerr commented on #30032
It looks like we're enforcing the timeout by cancelling the connect with a cancellation token:

https://github.com/dotnet/corefx/blob/5bff639f1afd949852bc098fed27c002d5916036/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L504-L512

Since we choose to wrap the final exception based on the cancellation token status, we don't currently have a way to distinguish betw

[2018-09-20 19:04] wtgodbe commented on #32163
It's not in 2.2 because we'll only be shipping it out of 2.1 (that is, since the change is in both branches, we'll ship it out of 2.1 - 2.2 only ships changes that are specific to itself). As for 2.1, the last successful build was from this commit: https://github.com/dotnet/corefx/commit/8060e77b96fc31d9f301e2519275eb2236dedd0d. This was merged on September 7, before my change on September 11. The

[2018-09-20 19:05] pakrym commented on #32163
Which version of System.IO.Pipelines would flow through 2.2 prodcon build?

[2018-09-20 19:07] wtgodbe commented on #32163
System.IO.Pipelines won't get built by CoreFx in 2.2 - we only build packages for libraries that have changes specific to that release. If any of the other repos depend on System.IO.Pipelines, I suppose they'll just restore whatever version they depend on from myget.

[2018-09-20 19:16] geoffkizer commented on #30032
If we think it's important to re-enable the test, then sure, go for it.

[2018-09-20 19:18] pakrym commented on #32163
My scenario is the following: in ASP.NET Core 2.2 branch we have a test that fails without a pipeline fix that went into 2.1 and 2.2.

My concern is that the version of System.IO.Piplines we would get in 2.2 prodcon build would be `4.5` and would cause the test to fail all the time.

[2018-09-20 19:27] wtgodbe commented on #32163
I see. I would think you'd be able to depend on the version that comes out of 2.1 (should be `4.5.2`) once we get a green build from that branch? I can talk to @mmitche about running manual builds to try to expedite that.

[2018-09-20 19:28] robertmuehsig commented on #32355
I updated to 15.8.5 and can still reproduce the issue. When should I run the msbuild command? Before or after I updated the nuget package? It seems they are inserted when I update the NuGet packages.

[2018-09-20 19:33] karelz commented on #30166
@tebeco I don't quite understand what you meant in your last post. Can you please rephrase /explain in details what you meant?

Currently we use IE settings. Why do you think we don't?

No idea what you meant here. I would suggest to stick to facts - what works vs. what does not. Let's avoid any speculations what MS is trying to convince developers to do.
I can speak on behalf of Networking area -

[2018-09-20 19:35] geoffkizer commented on #30032
I agree, but if I'm understanding properly, the tricky part here is distinguishing whether we are cancelling due to ConnectTimeout or due to an explicit CancellationToken from the user. Am I understanding correctly?

[2018-09-20 19:43] rmkerr commented on #30032
Yeah, that's correct.

I think we could probably do it by caching the original cancellationToken along with the linked token used for timeouts, and on cancellation checking the original token when calling `ShouldWrapInOperationCanceledException` rather than the linked token. Does that sound like a reasonable approach?

[2018-09-20 19:47] wfurt commented on #30032
In general yes. Based on my experience the cancelation is different depending if it happens during SSL handshake or before that.

[2018-09-20 20:14] geoffkizer commented on #30032
Yes.

[2018-09-20 20:32] tebeco commented on #30166
i will when i’ll be sober tomorrow (and i will delete this one)

[2018-09-20 20:39] ViktorHofer opened #32375 "BuildConfiguration and dependent msbuild properties are wrong when launching from VS"
When launching from VisualStudio with a launchSettings.json with Configuration netfx-Debug/netfx-Release selected, some msbuild properties are wrongly set. This is because Visual Studio doesn't pass a `TargetGroup` but a `Configuration` property in. As we default to `netcoreapp` if no TargetGroup is passed in, the `BuildConfiguration` property is wrongly set and will never be corrected. The other

[2018-09-20 20:45] #30266 closed

[2018-09-20 20:48] juliobbv opened #32376 "Possible regression/behavior difference with legacy HTTP (Curl) handler on Ubuntu 18.04 between .NET Core 2.0 and 2.1"
We found another possible regression during the testing of our [Azure Pipelines agent](https://github.com/Microsoft/azure-pipelines-agent) after upgrading it from .NET Core 2.0 to 2.1, this time on Ubuntu 18.04 and the legacy Curl handler.

In this particular scenario, the agent (i.e. the client) is attempting to connect to a local server hosted in IIS on Windows. The agent is using "Negotiate" au

[2018-09-20 20:48] wfurt commented on #31221
Should we close this one? It is pretty old and I have not seen recent failures.

[2018-09-20 20:51] wfurt commented on #31182
Can you put together simple repro @bentoi I think I understand this high level but having specific example would be great.

[2018-09-20 20:56] wfurt commented on #31090
can you provide some simple repro code? And possibly network packet capture (dns + SQL)
Is there any chance that you have interference with some kind of firewall?

[2018-09-20 20:59] wfurt commented on #31087
can you provide some simplified repro? Also note, that you can connect to the precess with Visual Studio and do normal debugging.

cc: @janvorli

[2018-09-20 20:59] joperezr commented on #32355
can you repro the issue and then push your changes to your repro Repo? I want to see which exact changes are you doing to retarget. I also want to try to rebuild on my side with the exact project as the one you get the redirects with.

[2018-09-20 21:10] janvorli commented on #31087
My guess is that it could be related to a spinlock bug that was fixed in https://github.com/dotnet/coreclr/pull/19606. The fix should go out in 2.1.5.

[2018-09-20 21:30] wfurt commented on #30989
what is your base container OS @mayconbeserra ? curl often links with providers other than openssl so fat it works is not definitive prove that environment is right. It seems like there is alert message just after server hello when client needs to verify trust.

[2018-09-20 21:41] wfurt commented on #30790
is this still a problem for you @bittercoder? If you isolate some smaller runnable fragment I can try to reproduce it. Alternatively you can run it under strace so we can get idea what is happening at low level. So you use multiple threads to send data and do you call Connect() on the socket?
Are you connecting via loopback or are you talking to external endpoint?

This issue is currently no actio

[2018-09-20 21:51] wfurt commented on #30686
So we would need one more constructor taking length and maybe offset?  We will need that for underlying mmap() and ability to map section regardless of we think about the file size may be useful.
Error check can always come from underlying system call.

[2018-09-20 22:09] juliobbv commented on #32357
@karelz sure, I'm retrying the same scenario with SDK Version 2.1.403-servicing-009280 and see how it goes.

[2018-09-20 22:13] wfurt commented on #30653
cc: @rmkerr @caesar1995

[2018-09-20 22:16] wfurt commented on #30605
should we close this since refereed #18851 was closed as well?
It seems like we decided that HttpWebResponse should not be used after it is closed.

[2018-09-20 22:18] #31221 closed

[2018-09-20 22:21] wfurt commented on #30435
You can run build-native.sh from src/Native. That one will not install build-tools

[2018-09-20 22:21] #30435 closed

[2018-09-20 22:31] wfurt commented on #30321
this seems like very old failure. We did not see it recently. Closing for now.

[2018-09-20 22:31] #30321 closed

[2018-09-20 22:35] rmkerr commented on #30653
Yeah, this definitely looks like something we should fix. The http 1.1 spec definitely allows for ":" in header values, and we should support that usage for custom headers.

@lmolkova is this a blocking issue for you? There are other ways to set known headers like `Host` that will hopefully allow you to bypass this, like setting the value of `request.Headers.Host` on a request.

[2018-09-20 22:57] wfurt commented on #30230
we have not seen this one for very long time. closing for now.

[2018-09-20 22:57] #30230 closed

[2018-09-20 23:20] SteveL-MSFT opened #32378 "HttpClient sending fragment portion of uri on request"
The code [here](https://github.com/stephentoub/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L395) was changed in https://github.com/dotnet/corefx/pull/27360/ to address a redirect issue with fragments.  However, in the non-redirect case, the fragment portion of the URI is not sent on the request per [section 9.5 of RFC 7231](https://tools.ietf.org

[2018-09-20 23:31] karelz commented on #32357
Are you able to isolate the repro into a minimal repro that we can look at / troubleshoot via logs?

[2018-09-20 23:32] karelz commented on #30605
Agreed

Duplicate of #18851

[2018-09-20 23:32] #30605 closed

[2018-09-20 23:38] wfurt commented on #30311
do you still have repro @murray-grant-fe ?
The request sends Expect: 100-continue but the 100 never comes, right?
So the put will send data after some delay.

[2018-09-20 23:58] stephentoub commented on #26917
Generally, yes. If you have some processing you want to do when the operation completes, then you most likely want to do that processing regardless of whether it completes synchronously or asynchronously.

[2018-09-21 00:11] safern commented on #26813
The reason why @danmosemsft might not be hitting this is because this interface showing with `sll_halen` is a VPN interface, so you need to have a VPN running in order to hit it.

After investigating and reading different code bases like `ifconfig` source and talking to @wfurt I got to some conclusions so I can answer the questions above:

No we can't we should return them as they are network inte

[2018-09-21 01:41] danmosemsft commented on #26813
Good investigation!

[2018-09-21 02:11] karelz commented on #32376
Are you able to debug it (I assume you have isolated repro) on 2.1 vs. 2.0?
In general, we want to phase out Curl support (blocked on missing HTTP/2). If there is however a clear regression and SocketsHttpHandler cannot be used (or easily fixed), we would take a fix for the regression.

How much does it impact your product? Is it important scenario for you?

[2018-09-21 04:35] lmolkova commented on #30653
@rmkerr it's not blocking. I work on the Application Insights and we allow customers to pass arbitrary context in the headers so it might affect them, but we have not got any tickets related to it so far.

[2018-09-21 06:08] geoffkizer commented on #32357
From looking at the Fiddler logs, it appears that the proxy isn't sending the "Proxy-Support: Session-Based-Authentication" header, so we don't proceed with authentication, and you get a 401.

Note the issue here is with NT connection auth, not proxy auth. The proxy challenge seems to be handled fine.

It looks like this is a known issue with Fiddler: https://fiddler.ideas.aha.io/ideas/FID-I-292

[2018-09-21 06:16] fredeil commented on #32301
Seems like the UriHelper is trying to escape "%" characters, see https://github.com/dotnet/corefx/blob/99211937b4f1735b7912f0a064b91ba60c8e9ca9/src/System.Private.Uri/src/System/UriHelper.cs#L183

When changing this test to `else if (ch == '%' || rsvd == '%')` the result of `Uri(@"C:\##\%20").AbsoluteUri` is `file:///C:/%23%23/%20`

[2018-09-21 07:01] shidouli opened #32382 "X509Certificate wrongly parsed the subject from the given raw data of certificate in MacOs"
Name                           Value
----                           -----
PSVersion                      6.1.0-rc.1
PSEdition                      Core
GitCommitId                    6.1.0-rc.1
OS                             Darwin 16.7.0 Darwin Kernel Version 16.7.0: Mon Nov 13 21:56:25 PST 2017; root:xnu-3789.72.11~1/RELEASE_X86_64
Platform                       Unix
PSCompatibleVersions

[2018-09-21 07:33] RaghavKumar commented on #32364
The System is a combination of the C++ and managed code , and C++ binaries consume  the managed code (targeted to 4.6.1) through CLI channel .(the hierarchy of the code as down below)

C++
    CLI/CLR libraries
         .NET 461 libraries
             .NET 461 libraries consuming (xylib targeted to .net standard 2.0  and net46 )
                         xylib (the manifest indicates one of the nug

[2018-09-21 07:59] RaghavKumar commented on #32364
Some of observations to this problem.

1.This problem has been observed only when the consuming assembly of the initial nuget package (with System.Net.Sockets) is made as a nuget package to be used in another library.
2.Ideally using the .net core application environment ,this problem has not been observed.
Just for test and observation running the consuming assembly  as a executable(target .net 4

[2018-09-21 07:59] #32364 closed

[2018-09-21 08:34] pigwing commented on #31087
@janvorli well

[2018-09-21 08:46] ViktorHofer commented on #32375
This is currently by design as a there is no TargetGroup supplied which defaults to netcoreapp. Configuration to TargetGroup is a 1:n mapping for certain configurations like netstandard. For ones like netfx/net46 we could add a hook at the beginning of Directory.Build.props so that properties will bet set correctly.

[2018-09-21 09:53] prophetix commented on #32346
Can you tell me where I can found that build / sdk installer ? I do not find it. I get the 2.1.402 but no 2.1.5. And if there is no installer, maybe a list of steps to follow to make it working with VS 2017 ?

Thanks

[2018-09-21 11:35] adamsitnik commented on #32235
would it also be possible to "unseal" the `MethodImplAttribute` class?

Reason: in BenchmarkDotNet to prevent the benchmark from being inlined we wrap the method call into a delegate (delegate calls are not being inlined yet).

So all the user needs to do is just to apply the "Benchmark" attribute to the method:

[code]

and there is no need to do:

[code]

If we would like to enforce `AggressiveO

[2018-09-21 11:41] Beanow commented on #29942
The 2.1.3 release is not yet available on the Ubuntu 17.10 apt repositories.

[2018-09-21 11:46] filipnavara commented on #32382
It would greatly help if you could actually attach the certificate data. It doesn't necessarily sound wrong to me, it just doesn't translate the OIDs to the nice names.

Note that recently we also dropped the OpenSSL -based X.500 name parsing, so the output should now be the same on macOS and Linux. I checked OpenSSL sources for any mention of "TPMVersion" and I could not find one, so I am a bit p

[2018-09-21 12:10] jkotas commented on #32235
The .NET Framework design guidelines say "DO seal custom attribute". Dealing with unsealed custom attributes is a lot more expensive. Moreover, MethodImplAttribute is one of the special-pseudo custom attributes. It is recognized at compile time, not at runtime. If we were to unseal it, compilers and other metadata producers would need to be changed to account for this too. Your scenario should be

[2018-09-21 12:48] averied commented on #27561
Just saying.. Microsoft uses SOAP encoding in the latest version of their Dynamics NAV 2018 Web services. So it really sux that I cannot easily use WCF to consume a current Microsoft Web Service.

[2018-09-21 13:02] jnm2 commented on #32232
@non-conformances-research The reflected type of accessors is the same as the reflected type of the EventInfo or PropertyInfo. Anything else would be counter-intuitive. What problem are you trying to solve?

[2018-09-21 16:16] dotnet-mc-bot opened #32385 "Apparent race condition building multiple versions of tests at once"
Opened on behalf of @MattGal

Specifically this build:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=2049524&view=logs

It appears to be an intermittent race condition when building both specifically a race between System.Reflection.Tests.Assembly_1_1_2_0.csproj and System.Reflection.Tests.Assembly_1_0_0_0.csproj  at the same time;  other multiply-versioned test a

[2018-09-21 16:17] MattGal commented on #32385
@ViktorHofer : Wes asked me to assign this to you for investigation.

[2018-09-21 16:33] karelz commented on #29942
@leecow is that expected? @Beanow can you please raise it on dotnet/core repo?
For context: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1.3/2.1.3-download.md

[2018-09-21 16:34] sebastienros opened #32386 "Performance regression in ConcurrentDictionary"
From Benchview, 90% regression on `IsEmpty` and 40% on `TryGetValue`, around August 19th.

[benchview link](https://benchview/trendline?build_selector=latest&count=250&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=[957]&archids=[23]&mpids=[1292]&cfgids=[2785,2973,2706,2974]&testids=[101691,122544,122545,101695,101696]&jobgroup=CoreFX&jobtype=rolling&branchId

[2018-09-21 16:43] AndyAyersMS commented on #32386
The timing is about right for this to be tiered compilation.

[2018-09-21 16:46] danmosemsft commented on #31570
@JeremyKuhne is this ready to mark api-ready-for-review?

[2018-09-21 16:46] danmosemsft commented on #31820
@safern thoughts on taking this to api review and shape?

[2018-09-21 16:47] sebastienros commented on #32386
My first thought too, so I asked @kouvel first. I thought it was because of the only recent change on `IsEmpty`, but apparently it is not (from benchview). I know how I could enable tiered before it's the default, but if I knew how to disable it, then I could try to run a benchmark without it and see if it changes.

[2018-09-21 17:04] mkurz commented on #29942
Ubuntu 17.10 is EOL:
https://wiki.ubuntu.com/Releases#End_of_Life

[2018-09-21 17:04] jhudsoncedaron opened #32387 "Feature request: Process.Start redirect standard output and standard erro to the same stream"
Ref: https://stackoverflow.com/questions/18529662/capture-process-stdout-and-stderr-in-the-correct-ordering

I got here independently tracking down a thread race condition. The fundamental problem is that StandardOutput and StandardError can't be redirected together.

The solution on stackoverflow is no good anymore. I had a look at the native code for starting process on Linux and there's some co

[2018-09-21 17:05] AndyAyersMS commented on #32386
You can disable with `COMPlus_TieredCompilation=0`. Or see our handy new [guide](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/tiered-compilation-guide.md).

[2018-09-21 17:08] karelz commented on #29942
Thanks for pointint it out @mkurz
Here's supported OS info for .NET Core 2.1: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#linux ... Ubuntu 17.10 is listed as out of support: https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#out-of-support-os-versions.

[2018-09-21 17:09] safern commented on #31820
I think is valuable to having this APIs, so I just edited the proposal to not have implementation details because that would be discussed in the PR if the API is approved. Marking as ready for review.

[2018-09-21 17:09] leecow commented on #29942
17.10 went EOL 7/19/2018 and 2.1.3 released 8/21. See https://github.com/dotnet/core/blob/master/os-lifecycle-policy.md for .NET Core version / distro version support details.

[2018-09-21 17:10] karelz commented on #32364
@RaghavKumar did you close the issue on purpose?

If you still seek guidance, then I would recommend (given the complexity of your app) to isolate it into minimal repro (simulate the components you have with HelloWorld-style components, then try to eliminate as many as you can entirely).

[2018-09-21 17:17] sebastienros commented on #32386
I ran a benchmark on the scenario that regressed in ASP.NET MVC, and disabling TC doesn't make it better, so it doesn't look like this is the reason.

TC=1:  484,487 RPS (and better startup time + first request obviously)
TC=0:  476,111 RPS

For anyone interested I can share the etl traces before and after the regression, that show `TryGetValue` as the reason.

[2018-09-21 17:20] rmkerr commented on #32301
Those tests are verifying the behavior of explicit (starting with "file://") and implicit (starting with a drive name, ie "C:\"). They're encoding the same path explicitly and implicitly, then testing each property to see if it matches between the two.

Interestingly, the test actually expects some properties to be different! I think it's worth manually checking the failed test cases to see what c

[2018-09-21 17:27] juliobbv commented on #32357
@karelz @geoffkizer thanks for the help. Let me see if the issue repro's with another proxy, and reply back with my results.

[2018-09-21 17:46] JeremyKuhne commented on #31570
I'd rather tackle Memory in a separate issue as we'd want to have the other path modifying methods overloaded too.

I missed the thumbs up. I'll update the ask and change the status.

[2018-09-21 18:16] GrabYourPitchforks commented on #32348
You may have a GC hole here. Consider the proposed implementation, which logically expands to the below.

[code]

If the `ReadOnlyMemory<char>` is backed by a `string` or a `char[]`, the span will keep the underlying object alive by acting as a GC root, so there's no problem. But if the `ReadOnlyMemory<char>` is backed by a `MemoryManager<char>` (such as when pointing to native memory), the span w

[2018-09-21 18:27] juliobbv commented on #32357
Good news @karelz, @geoffkizer: I tried the same scenario with Charles Proxy, and things started working. I'll close this issue as it's related to Fiddler and not to .NET Core.

cc @TingluoHuang for awareness.

[2018-09-21 18:27] #32357 closed

[2018-09-21 18:32] weshaggard opened #32391 "All Configurations Package validation leg not failing CI"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_all+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/16272/consoleFull

The All Configurations leg has been passing in CI but there are failures in the testing.
[code]

and

[code]
and
[code]

@joperezr can you have a look at the first error and figure out why this isn't causing CI to fail?
@safern can you look at the other 2 errors

[2018-09-21 18:50] Maoni0 commented on #32348
@stephentoub could probably take a look?

[2018-09-21 18:57] ViktorHofer commented on #17905
@ericstj does it make sense to regenerate the data so that we have a clearer picture where we are with this?

[2018-09-21 19:01] joperezr commented on #32391
sure, I'm on it.

[2018-09-21 19:02] karelz commented on #32387
@jhudsoncedaron what is your suggestion? Can something be done in .NET layer?

[2018-09-21 19:03] safern commented on #32391
I'll take a look at the S.Buffers error.

[2018-09-21 19:29] filipnavara commented on #32382
Reduced test case:

[code]

[2018-09-21 20:08] jhudsoncedaron commented on #32387
Plausible solution:

bool StartInfo.RedirectStandardErrorToStandardOutput {get;set;}

If set, redirect both stdout and stderr to the StandardOutput property using the same underlying handle in the child process.

[2018-09-21 20:29] danmosemsft commented on #32386
Does it align with any changes in ConcurrentDictionary - I'm not sure whether you're saying it is possibly the IsEmpty change, or definitely not. If it is possibly that change, can you try with it reversed?

cc @tarekgh

[2018-09-21 20:38] dangi12012 commented on #30968
THIS NEADS TO HAPPEN!
Vector<T> should have a ctor that accepts ReadOnlySpan<T>
**Vector<T> should MUST also support CopyTo(Span mySpan)**
since if we get it from a buffer we would like to store the results there too ;)

[2018-09-21 20:39] #32385 closed

[2018-09-21 20:50] tmds commented on #32224
@bartonjs wdyt about the options mentioned earlier?

[2018-09-21 20:53] JeremyKuhne commented on #32312
@jbhensley Good point on the string one. I'd rather not do the `TryJoin` unless we really demonstrate a demand for it. It isn't as straight-forward as it might seem at first as it has to not copy data if it can't fit everything.

[2018-09-21 21:08] bartonjs commented on #32367
The home directory is used for CurrentUser-based certificate stores.

While there is an easy to follow (because there's an API for it) convention on the various distros for reading the root trust list, there's not a universal or programmatic answer for where "system-level" end-entity certificates go (which is why LocalMachine\My throws PlatformNotSupportedException.

If you mean for the CurrentUse

[2018-09-21 21:09] jbhensley commented on #32312
Totally your call. Looking at the code for `TryJoin` with three, it doesn't look like it would be too difficult to extend out to four. Don't know if there is any demand, but things feel a bit "off" if `Join` goes to four and `TryJoin` goes to three. Just my personal take.

[2018-09-21 21:11] bartonjs commented on #32382
Yeah, that's just a case of the system not providing us with OID mappings.  (macOS doesn't provide any; on Linux we get some from OpenSSL)

If Windows doesn't localize the value differently across { en-US, ja-JP, es-ES } (or another CJK and another Latin) then we could add it to the static lookup table.

[2018-09-21 21:13] JeremyKuhne commented on #32312
It isn't horrible to implement for sure, but I'm trying to be a little cautious by default. We'll see what the API review has to say about it- if the general consensus is to match I'm fine with it.

[2018-09-21 21:18] bartonjs commented on #32224
@tmds Based on the fact that this is a patch into OpenSSL by SLES to put OpenSSL itself into this ticking timebomb state, I think I want to leave things as they are in master.  If you can help provide understanding as to _why_ things are the way that they are, then I'd likely have a different position.  My main concern is that if someone is using a `BEGIN TRUSTED CERTIFICATE` now to register deny

[2018-09-21 21:29] JeremyKuhne commented on #32312
@jbhensley sure! @karelz, can you get him set up so we can assign the issue to him?

[2018-09-21 21:30] xhoogland commented on #17905
Started on the following namespaces:
- System.Collections.Immutable (csv)
- System.Collections.NonGeneric (csv)
- System.Collections.Specialized (csv)

[2018-09-21 21:39] danmosemsft commented on #26813
Needs a WSL issue I guess?

[2018-09-21 21:40] PremSha20 opened #32396 "Feature Request - Support Dataset/DataTable/DataView Support INotifyPropertyChanged/INotifyCollectionChanged Interface"
Support Dataset/DataTable/DataView Support INotifyPropertyChanged/INotifyCollectionChanged Interface
it will useful in WPF when datatable is binded with view

[2018-09-21 21:43] safern commented on #26813
Needs a WSL issue I guess?

Yes, I just opened one related do files missing, I’ll open one for this.

[2018-09-21 21:52] jkotas commented on #32348
`Memory<T>` is a fundamentally unsafe type, so one has to be really careful about lifetimes.

There is no GC hole in the fragment at the top (when taken as a whole) because of the `Memory<T>` is never created from unmanaged memory. The lifetime bugs only happen when `Memory<T>` is created from unmanaged memory (or manually managed pooled memory).

@GrabYourPitchforks I believe that you have writte

[2018-09-21 22:08] mwpowellhtx opened #32397 "VS offline layout stalled at 97.55%"
I don't know if there is a better repo in order to report this issue. The precise message when the offline layout stalls:

[code]

This seems to be happening whether I am downloading the Enterprise or the Professional layouts. I have two instances of ``vs_emulatorsetup`` running at the time it stalls.

[2018-09-21 22:36] ahsonkhan commented on #32348
It's a work in progress: https://github.com/dotnet/docs/issues/4823

cc @rpetrusha, @mairaw

[2018-09-21 23:12] joaovieirabr commented on #31749
Same problem here. Solved using:
`sudo dotnet dev-certs https --clean`
and then:
`dotnet dev-certs https`

[2018-09-21 23:15] nicolasr75 opened #32400 "The SSL connection could not be established on ARM with Linux Mate"
I have an application that wants to send data from a Raspberry PI to a web application via HttpClient. If the web app is reachable via HTTP, everything works fine. If I switch the web app to HTTPS I get the following exception:

	[16:15:31 ERR] System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception. ---> Interop+Crypto+OpenSslCryptographicException:

[2018-09-22 00:26] karelz commented on #32312
@jbhensley invite sent. Ping us once you accept it - we can then assign it to you.
It will auto-subscribe you to all repo notifications (500+ per day). We recommend to switch repo to Not-Watching which will reduce notifications to just explicit subscriptions, mentions and assignments.

[2018-09-22 00:28] karelz commented on #32397
Please report your problem here: https://developercommunity.visualstudio.com/spaces/8/index.html

[2018-09-22 00:28] #32397 closed

[2018-09-22 00:36] karelz commented on #32396
Some are available on .NET Core 2.0:
* DataSet - https://apisof.net/catalog/System.Data.DataSet
* DataTable - https://apisof.net/catalog/System.Data.DataTable
* DataView - https://apisof.net/catalog/System.Data.DataView
And some even on .NET Core 1.0:
* INotifyPropertyChanged - https://apisof.net/catalog/System.ComponentModel.INotifyPropertyChanged
* INotifyCollectionChanged - https://apisof.net/c

[2018-09-22 00:36] #32396 closed

[2018-09-22 01:20] jbhensley commented on #32312
@karelz Invite accepted

[2018-09-22 03:18] PremSha20 opened #32406 "Support INotifyPropertyChanged/INotifyCollection Interface in DataTable"
Support INotifyPropertyChanged/INotifyCollection Interface in DataTable.

[2018-09-22 03:45] PremSha20 commented on #32406
No,
I want to say that INotifyCollection  interface should support in DataTable like Observable Collection.

[2018-09-22 07:28] tebeco commented on #30166
@karelz done, sry about that

[2018-09-22 11:26] filipnavara opened #32408 "HttpWebRequest doesn't send Digest authentication"
Test program:
[code]

When targetting NetFX 4.5 the program successfully sends HTTP authentication headers and fulfills the request if the password is correct. This can easily be verified with Fiddler.

On .NET Core 2.1 and 3.0 (master from around last Friday) on Windows it doesn't even try to send the authentication headers.

[2018-09-22 11:44] filipnavara commented on #32408
Forcing WinHTTP handler using `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);` makes it behave same as NetFX.

[2018-09-22 11:46] filipnavara commented on #32408
For reference, these are the HTTP headers sent by the server:
[code]

[2018-09-22 12:15] filipnavara commented on #32408
/cc @geoffkizer

[2018-09-22 12:17] grinay opened #32409 "Default HttpRequestMessage.Version"
You wrote in documentation
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httprequestmessage.version?view=netcore-2.1#System_Net_Http_HttpRequestMessage_Version
that default protocol is 1.1 - and this is should be by default  i agree.
But in your source code https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpUtilities.cs
Default version is actuall

[2018-09-22 12:43] filipnavara commented on #32409
The source you pointed to refers to .NET Core 3.0. The documentation is for version 2.1. It changed since version 2.1 was released and the documentation is accurate for what version 2.1 does.

[2018-09-22 14:40] drauch commented on #4673
Please include in netstandard!

[2018-09-22 15:01] svick commented on #4673
@iq2luc @drauch This API is proposed to be added to .Net Standard 2.1 by https://github.com/dotnet/standard/pull/823.

[2018-09-22 15:02] Praveen-Rai commented on #32367
@bartonjs

While there is an easy to follow (because there's an API for it) convention on the various distros for reading the root trust list, there's not a universal or programmatic answer for where "system-level" end-entity certificates go (which is why LocalMachine\My throws PlatformNotSupportedException.

From what i understand you mean to say there isn't a particular location in Linux to stor

[2018-09-22 15:14] ciragithub commented on #29633
@keeratsingh

Firstly, I am really sorry for replying so late to your last answer...
Yes, I concluded in the meantime also that our usage patterns of TransactionScope will not work with EF Core, since support for the ambient transactions in EF Core is not even planned (in the near future, at least - good summary, for other potential viewers... http://weblogs.thinktecture.com/pawel/2018/06/entity-f

[2018-09-22 15:28] davidsh commented on #32409
The documentation will be updated when .NET Core 3.0 ships.

[2018-09-22 15:29] davidsh commented on #32408
What version of .NET Core 2.1 are you using?  Please run "dotnet --info".

[2018-09-22 15:30] bartonjs commented on #32367
The various paths you listed are the root trust lists.

While it's not a standard thing on Linux, it is a well known thing in .NET.  It's a balancing act.  Similarly, Java has Java Key Stores on Linux.  JKS a Java concept, not a Linux one.  (And if we turned off X509Store now, it'd really surprise people who used it in .NET Core 1.0, 1.1, 2.0, 2.1, and 2.2 that it doesn't work in 3.0)

Kestrel wou

[2018-09-22 15:31] davidsh commented on #32378
@rmkerr

[2018-09-22 15:34] davidsh commented on #32328
Your attached output from the wire trace doesn't show that.  The client-side HTTP is picking Negotiate.

[code]

However, the server is still not authenticating and returning back a 401.

[2018-09-22 15:42] filipnavara commented on #32408
2.1.401, but it happens with builds from master too.

[2018-09-22 16:14] inputfalken opened #32412 "IEnumerable should have a extension for creating chunks"
`IEnumerable<T>` currently has no extension for splitting the sequence into sub-sequences.

## Scenario
You need to transform an `IEnumerable<int>` into two sequences.
[code]

## Pull Request

A PR with the proposed changes is available: #32411

[2018-09-22 16:36] benaadams commented on #32412
GroupBy?

[2018-09-22 16:43] svick commented on #32412
@inputfalken If you want to add a new API to .Net Core, you should follow [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md). That means not opening a PR before the API is accepted and also including a speclet in this issue.

[2018-09-22 16:45] inputfalken commented on #32412
@benaadams Maybe this is redundant.

But I think it would be nice to have the option to easily create fixed size sub-sequences by just providing an integer.

[2018-09-22 16:46] svick commented on #32412
Also note that there already was a proposal for this in the past, which was closed: https://github.com/dotnet/corefx/issues/2146.

[2018-09-22 16:47] pjanotti commented on #30353
@Laureian I'm closing this one let us know if you still has some Q in this regard.

[2018-09-22 16:47] #30353 closed

[2018-09-22 16:49] inputfalken commented on #32412
@svick Oh i didn't see that one 😐, should I remove the PR then?

[2018-09-22 16:58] svick commented on #32412
@inputfalken Yes, I think the PR should be closed for now.

[2018-09-22 17:43] Petermarcu opened #32413 "Cross-platform replacement for SoundPlayer for playing audio across devices/paltforms"
@jjgriff93 commented on [Thu Sep 20 2018](https://github.com/dotnet/core/issues/1952)

Cannot play sound files as part of .net core console apps in windows and running on windows IoT Core on Raspberry Pi due to lack of audio support. Third party libraries don't offer any simple solution for playing wav or mp3 streams like the .NET Framework SoundPlayer does.

[2018-09-22 17:43] Petermarcu commented on #32413
@richlander

[2018-09-22 17:44] Petermarcu opened #32414 "Average with linq on big collection"
@bdhamelicodra commented on [Thu Sep 20 2018](https://github.com/dotnet/core/issues/1951)

On a big array, the method "System.Linq.Enumerable.Average(this IEnumerable<long> source)" (in .Net Core 2.1) throw the exception "OverflowException: Arithmetic operation resulted in an overflow.".
Why not use an algorithm that can prevent this, like :
[code]

[2018-09-22 18:46] peteraritchie commented on #31917
I like the idea at face value with the given history of the `Try` pattern.  But, thinking through some scenarios, I'm no longer sure.

I think part of the problem is the ambiguity of `File.Open`.  This ambiguity leads you to the need for something like `TryOpen`; but also telescopes the ambiguity, in my mind.  I'd first try to address the ambiguity because there's multiple reasons *why* you'd call

[2018-09-22 18:47] peteraritchie commented on #31917
Wouldn't that defeat the purpose of the `Try` pattern?  I think `Try` only works when there's one response to error.

[2018-09-22 18:59] Praveen-Rai commented on #32367
@bartonjs Thanks for the clarifications !! I need to think a bit to process the information that you've shared. I'm developing a MVC App on windows, and testing it on a Ubuntu server. I access the server using SSH, and hence if i just use dotnet command to run the application it automatically shuts down when my SSH connection is closed. To overcome that i've created a service and used 'www-data' a

[2018-09-22 19:15] bartonjs commented on #32367
No, just the root trust.  Certbot (Let's Encrypt) puts the certificates it manages under /etc/letsencrypt/live.  qmail wants a cert+key multi-PEM at /var/qmail/control/servercert.pem.  Dovecot's default is a multi-PEM at /etc/dovecot/dovecot.pem.

The only real convention for application certificates is that there's no convention :smile:.

[2018-09-22 20:10] Praveen-Rai commented on #32367
@bartonjs Okay 😃   !! So the only way we have in dotnet is to configure it to pick the certificate from the right location ( decided by the creator of certificate, e.g. Let's Encrypt ). Please correct me if i am wrong.

But for dotnet development certificate why not we utilize /etc/ or /var/ directory which is accessible to all users ?

[2018-09-22 20:29] Clockwork-Muse commented on #32414
Hmmm....
[This post](https://math.stackexchange.com/questions/106700/incremental-averageing) suggests there are cumulative errors accrued when using this method.  However, I don't know what they are, or whether the error would be acceptable.

What might be of larger concern is that, after a certain point, [the precision of floating point itself is going to interfere](https://stackoverflow.com/ques

[2018-09-22 20:38] bartonjs commented on #32367
Those directories are (usually) readable by all users, but not writable.  So you'd need to be root to create an application.  Also, for other multi-process/multi-hosting scenarios you want the cert to go to a directory named for the consuming application, which we don't really know.

[2018-09-22 20:38] #32367 closed

[2018-09-22 21:44] glenn-slayden commented on #5474
I don't understand what it would mean request that the JIT "force" an alignment. If you want "full control" of alignment as you say, you have to arrange for it in the user code:

[code]
For example, if this were the preparation for a `memcpy` operation, the JIT would have no way of knowing whether to align the source or the destination, in the case where it is not possible to have both (Intel reco

[2018-09-22 21:46] csharmath commented on #32328
Hmm, could be a copy paste error. Will re-test on Monday and update.

[2018-09-22 22:07] devcrafting opened #32415 "Inconsistent behavior between net461 and netappcore2.0/2.1"
Hi,

I got different behavior with HTTP request to the following URL : `https://ti.urssaf.fr/tbl_telepaiements?s4yYdH0QoNhh2COxV4F24GmPNGD/9jTM+CvU4H9hYWvC96bR/YLtGprWBLEidvt8/eqhprwq04KZBpUL/7ByydHcjhibpk4DFaywYdtgsarBvaYpS9OPLuH1Sr3+uBxg9jCq3QjivHLrtQHeWhiG4YzuvBLTGs4LV0L7c3bxACG8qWPH1qgdhx77IjXyGCAUZYq9dPjI2EtBol0ET298bsTSVqrgWYRqtwThmD5KlQPr6qhq5/52N+hZFKRM2zEx+ojaO4S2K8p1wNotw/aAvEzKH89Edo2pO

[2018-09-22 22:52] davidsh commented on #32415
@rmkerr @karelz

[2018-09-23 05:00] knocte commented on #31917
Completely agree, which is kinda the same thing I said in
https://github.com/dotnet/corefx/issues/31917#issuecomment-415675239

AFAIK all Try methods in the BCL return a single success bool.

[2018-09-23 05:34] sherlock1982 commented on #27884
I found this in 2.1.4.
Does that mean the issue still exists or it should go away?
We're using WebSockets but I'm not sure it's connected with them.

[code]

Approx stat:
[code]

[2018-09-23 06:40] sherlock1982 opened #32417 "CompiledRegexRunner cached and holds reference to matched text"
From what I see RegexRunner will be cached in Regex object in `_runnerref`.
Internally CompiledRegexRunner contains field `runtext` which holds reference to a last matched string.
If RegexRunner is a long-lived object this string will not be GC'ed until next call to `Match`.
This can be an issue if this string is huge.

Does it make sense to cleanup `runtext` after match is done?
Here's the Root o

[2018-09-23 09:12] sherlock1982 commented on #27884
I think I know what is the problem. We create a set of HttpClient classes and they're never disposed properly. Is this behavior ok?
I mean well yes I don't dispose HttpClient but should it go away with GC anyway?

[2018-09-23 10:45] ViktorHofer opened #32420 "Code coverage not working for Globalization* test projects"
- System.Globalization.CalendarsWithConfigSwitch.Tests.csproj
- Invariant.Tests.csproj

Issues:
- Using old msbuild property: `UsingCoverageDedicatedRuntime` which is now called `UseCoverageDedicatedRuntime`.
- This property isn't set at evaluation time as it is defined in CodeCoverage.targets which is only available when targets are imported, which happens at the end of a project file.

I'm going

[2018-09-23 11:16] ViktorHofer opened #32421 "Refactor and split up tests.targets and companion files"
We should refactor our testing framework which consists of tests.targets and companion files like CodeCoverage.targets, PerfTesting.targets and others. I'm not thinking about a full blown separation of concerns to make it usable by a wide variety of projects but about making targeted enhancements that currently cause issues and slow down improvements. Afaik, Jose already started refactoring the te

[2018-09-23 11:26] ViktorHofer commented on #32420
cc @pjanotti. After fixing this with a temporary workaround and now placing the right runtime config files into the test directory, the coverage is still not generated correctly for System.Globalization* ones. Can you please take a look?

[2018-09-23 12:21] kpreisser opened #32423 "RTL_OSVERSIONINFOEX uses incorrect charset"
Hi,

this is a similar issue as https://github.com/Microsoft/WindowsCommunityToolkit/issues/2095.

On Windows, `RuntimeInformation.OSDescription` calls [`Interop.RtlGetVersion()`](https://github.com/dotnet/corefx/blob/a75d30306975040b0e22390d04a3b3de094d1817/src/Common/src/Interop/Windows/NtDll/Interop.RtlGetVersion.cs#L16) using the `RTL_OSVERSIONINFOEX` structure, which is currently defined as f

[2018-09-23 14:05] schulz-m commented on #13309
I have 2 WiFI Networks at home and I have the same issue on .NET Core 2.0. The following Error appears:
[code]

As I can easily reproduce the error switching from one network to the other, I could help someone more experienced track down the difference and what's causing this.

[2018-09-23 15:48] peteraritchie commented on #31917
@knocte  yeah, I thought that what the pattern was about :)

[2018-09-23 18:50] ThadHouse commented on #32348
For the GC.KeepAlive boxing issue, what about adding a generic GC.KeepAlive that could take structs?

[2018-09-23 21:04] GrabYourPitchforks commented on #32309
Generally speaking, .NET can't provide any sort of guarantee about what data a region of memory contains at any given time. Even if you have a portion of memory locked / non-swappable, the underlying framework could have made a copy of that data in a stack-based buffer, an `ArrayPool`-based buffer (which may be copied), or even on the native heap.

Additionally, when we perform crypto operations,

[2018-09-24 06:13] filipnavara commented on #32408
I have a suspiction that it's these lines:

https://github.com/dotnet/corefx/blob/4f7690ad97ea1772433fcfeafc4b0c26f0fb80a2/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.Digest.cs#L52-L56

The algorithm comparison is done in case-sensitive manner and the casing in CoreFX is `MD5`, while in the response it is `md5`.

[2018-09-24 06:15] murray-grant-fe commented on #30311
@wfurt Yes. It was a few weeks ago, but the issue was still happening.
I don't remember any issue with 100-continue though; the response comes, but something doesn't like it.

[2018-09-24 09:00] houseofcat commented on #18276
Would very much like this prioritized.

Understand you are busy, do you guys want help - this isn't really an optional feature.

Rolling custom encryption is going to lead to insecurity, which is really bad PR for NetCore. It's also been lower priority than features released and then re-released under NetCore 1.0 and then 2.0.

[2018-09-24 10:13] Meeeeow opened #32425 "X509RevocationMode.Online cause different result on Linux and Windows"
**Demo project:**
[project.zip](https://github.com/dotnet/corefx/files/2410405/project.zip)

**Environment:**
.NET Core 2.1 on Windows 10 and Debian 9

**Steps to reproduce:**
Download the demo project and run it on Windows and Linux.
It will print **"Cert valid? True" on Windows**, and **"Cert valid? False" on Linux** with exception.

![image](https://user-images.githubusercontent.com/19658647/45

[2018-09-24 10:57] Meeeeow commented on #32425
Another way to check certificate revoke with OCSP. Got `Response verify OK, letsencrypt.pem: good`

[code]

[2018-09-24 11:03] DrDao opened #32426 "Concurrentqueue Performance Issues"
I used some of the concurrentqueue to save the request, and when I measured it, I found that TPS dropped from 17000 to 3000.
When the test cycle was added to 50000, the Concurrentqueue had taken 1 points.
In applications where high throughput is required, concurrentqueue cannot be used at all.

![tim 20180924125445](https://user-images.githubusercontent.com/11530204/45948659-7989c980-c02b-11e8-8a2

[2018-09-24 11:05] DrDao commented on #32426
The problem does not exist in the. Net Framework Environment

[2018-09-24 11:18] gbalykov commented on #32234
@jkotas

One more related question. I try to build nuget packages for master for Tizen 5. What is the best solution to build nuget packages for CoreCLR/CoreFX/Core-Setup for the latest version, if older versions are not yet built? CoreFX depends on previous version of Core-Setup and, thus, simple build of CoreFX doesn't work. Similarly, Core-Setup depends on CoreFX and so on.

[2018-09-24 11:34] jkotas commented on #32234
Take a look at https://github.com/dotnet/source-build . The source-build scripts allow building everything from scratch, without dependencies on previous NuGet packages.

[2018-09-24 11:41] gbalykov commented on #32234
@jkotas Thank you!

[2018-09-24 11:42] asjafjell opened #32427 "Adding certificate chain to TLS 1.2 connection in .NET core 2.1"
We are currently porting a library from .NET Framework 4.6.1 to .NET Core 2.1. This is in reference to #26446 , where the issue was Libcurl/LibreSSL and TLS. In 2.1. This was fixed using the new `SocketsHttpHandler` under the hood. Our next issue is to include the certificate chain in the request.

We are currently creating a handler like this:
[code]
and using it in a client:
[code]

In .NET Fram

[2018-09-24 11:57] glatzert opened #32428 "Exporting a X509Certificate2 produces a certificate not usable by IIS centralized certificate store"
I wrote an ACME v2 compatible PowerShell module for .NET Core and .NET Full (472).
The module Imports a certificate from LetsEncrypt, combines it with it's private key (stored locally) and Exports the result like this:

[code]

$acmeCertificate is the certificate as submitted by an ACME certificateUrl request and $privateKey is the RSAAlgorithm-Instance used to create the CSR earlier in the proces

[2018-09-24 11:59] prophetix commented on #32346
No news about where to find the 2.1.5, have you a direct link to the right download file ? the one on the readme only go to servicing version of 2.1 and some 2.2 or even 3.0, no 2.1.5.

[2018-09-24 12:06] maartenba commented on #31882
Here goes: https://github.com/maartenba/DotNetContrib.Net.Http.Hsts

Does not have the HSTS preload list from Chromium yet, but the README gives some examples on hwo to use it 9and why to use it).

[2018-09-24 12:34] ViktorHofer commented on #32426
Please see @MarcoRossignoli's response: https://github.com/dotnet/coreclr/issues/20110#issuecomment-423923791

[2018-09-24 12:52] MarcoRossignoli commented on #32426
FYI @DrDao i did some tests with `.Net Framework Environment`(Clr) and i see similar drift.
[code]
|          Method |  Job | Runtime | Items |       Mean |     Error |    StdDev |     Median |
|---------------- |----- |-------- |------ |-----------:|----------:|----------:|-----------:|
|           **Queue** |  **Clr** |     **Clr** |  **1000** |  **11.056 us** | **0.0874 us** | **0.0818 us** |

[2018-09-24 13:29] DrDao commented on #32426
I would like to express the concurrentqueue performance may be problematic, because this problem should not occur, concurrentqueue on the CLR or mono show the results are very different, it is surprising. The reason to use concurrentqueue instead of Syncqueue or queue is because I want to use it with high performance or high concurrency and thread safety, and the queue or syncqueue is completely n

[2018-09-24 13:30] DrDao commented on #32426
I suspect that this problem occurs on the core because the Concurrentqueue implementation of the core is different from the CLR or mono .... I haven't had time to look at the CLR's concurrentqueue code, I'll look at it sometime, and I'll be happy if I can solve the problem by the way.

[2018-09-24 13:36] astrowalker opened #32430 "[bug] TimeSpan constructors kill microseconds"
`TimeSpan` (https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/TimeSpan.cs) constructors go through `Interval` method which has such line:

    return new TimeSpan((long)millis * TicksPerMillisecond);

This is incorrect -- here the milliseconds are (prematurely) rounded, and the scale is changed. It should be:

    return new TimeSpan((long)(millis * TicksPerMillisecond));

[2018-09-24 13:38] stephentoub commented on #32426
Just from looking at the repro, presumably this is a dup of https://github.com/dotnet/corefx/issues/29759.

[2018-09-24 13:52] ViktorHofer commented on #32426
Closing as potential duplicate. @DrDao the changes that are discussed in #29759 will be available with .NET Core 2.2 which will be released later this year.

[2018-09-24 13:52] #32426 closed

[2018-09-24 14:19] DrDao commented on #32426
But it would be nice to be able to separate System.Collections.Concurrent into NuGet so that you don't have to follow a specific release to fix the problem. Anyway... It is also very happy to have been repaired now. Thanks again.

[2018-09-24 14:48] jtmueller commented on #20809
@saurabh500 I understand that this is not properly a .NET Core issue, but a SQL Server issue. For those of us who don't know what "open a connect issue" means, it would be helpful to include specific instructions on how to open a SQL Server issue.

[2018-09-24 16:36] rmkerr commented on #32378
Hey @SteveL-MSFT, can you provide an isolated repro for this issue? We currently have tests for this behavior that pass, and it would be helpful to know what is different in your case.

[2018-09-24 17:28] caesar1995 commented on #32346
You can find the steps here: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md to consume a nightly build of .NET Core runtime and SDK.

[2018-09-24 17:28] ViktorHofer commented on #23774
I strongly believe we should find a solution for `We depend on the VC++ headers and libs` as soon as possible. It would sweet if we could get rid of the Developer Command Prompt necessity for the native part till 3.0.

[2018-09-24 17:35] wfurt commented on #32400
you can try to run the application under `strace -r -f -s 200 -e trace=file dotnet foo.dll`
That should show what file is failing to be opened. If you have symbolic links in the directory, make sure they link to a valid file.

[2018-09-24 17:46] weshaggard commented on #32421
We should do this as part of moving the testing infrastructure from BuildTools to Arcade.

[2018-09-24 17:51] danmosemsft commented on #30341
@maryamariyan when you have cycles, could you please take this.

[2018-09-24 17:52] wfurt commented on #13309
The error is misleading. This is caused by DNS lookup failures. It seems like one of you networks does have some issues. You can try to resolve the name with nslookup, just to see if it is working properly.

[2018-09-24 17:54] danmosemsft commented on #32337
@stephentoub

[2018-09-24 17:58] wfurt commented on #30311
This can be caused by https://github.com/dotnet/corefx/issues/31143. 2.1.5 is not out yet but you can try daily build: https://github.com/dotnet/cli/tree/release/2.1

[2018-09-24 18:00] redshiftz commented on #14950
I work for a government agency and we have been using RsaProtectedConfigurationProvider due to policy requirements by our agency for quite some time. As we're looking at our migration path to .Net Core, this not being implemented is blocking our adoption. Is there a way we can grab what we need and build our own or get this into the roadmap?

Thank you,

Jeff Young

[2018-09-24 18:02] kouvel commented on #32235
In the future the perf of methods flagged with AggressiveOptimization may diverge from unflagged methods. Whether the benchmark should be flagged I guess could depend on whether real usage is expected to be flagged with the attribute. So my suggestion is to not imply AggressiveOptimization for benchmarks and instead leave the choice to the benchmark author, at least for now.

[2018-09-24 18:28] Clockwork-Muse commented on #32430
....I don't know if the precision of floating point would play havoc at the size, but possibly a better solution is to transition calls from `return Interval(value, MillisPerHour)` to `return Interval(value, TicksPerHour)`

From the look of things, the method was only ever intended to handle millisecond precision (given the [adjustment it performs](https://github.com/dotnet/corefx/blob/master/src/

[2018-09-24 18:47] stephentoub commented on #31973
Do you have a repro? I just did a quick test and it does appear to flow on .NET Core on Windows. The code uses Overlapped.Pack, which flows ExecutionContext.

[2018-09-24 18:49] David-Engel commented on #18276
Always Encrypted is still very much a priority for the SqlClient team and we are hearing all the comments. Unfortunately, we still don't have a concrete timeline we can share yet.

[2018-09-24 18:50] wfurt commented on #31368
I verified that https://github.com/dotnet/corefx/pull/32087 fixes this issue.
In mean time you can workaround it by adding Shutdown() before the Dispose()

[code]

[2018-09-24 18:55] aspnerd commented on #18276
We are going 3 versions deep in SQL Server without support. We really want to use .net core, but we can't because of this we have to stay full framework. When will it be priority enough to get it finished?

[2018-09-24 18:56] gfoidl commented on #30793
@tracker1

these are [base64url](https://en.wikipedia.org/wiki/Base64#URL_applications) encoded, where `+` is replaced with `-` and `/` is replaced with `_`, and no padding `=` is added.
Hence in this case it isn't a bug, because it's a "different" encoding (while still based on base64).

For _base64url_ you can use [WebEncoders](https://github.com/aspnet/Common/blob/master/shared/Microsoft.Extens

[2018-09-24 19:14] houseofcat commented on #18276
@David-Engel can we bribe you with cookies and beer?

[2018-09-24 19:32] ViktorHofer opened #32438 "Cleanup duplicated interop calls in PlatformDetection to use ones from src/common instead"
A lot of interop calls are duplicated. Include common files instead: https://github.com/dotnet/corefx/pull/32433#discussion_r219922828

[2018-09-24 19:34] #32423 closed

[2018-09-24 20:01] ViktorHofer commented on #32421
I would be very happy to help with that task. @joperezr what's the status of your work regarding the move of the test framework to arcade?

[2018-09-24 20:01] ViktorHofer commented on #32420
@pjanotti please let me know if you have an idea why coverage isn't measured for these projects.

[2018-09-24 20:07] pjanotti commented on #32420
@ViktorHofer if it is using coverlet it typically it is a matter of not instrumenting the right assemblies. The runtime config file should not affect runs with OpenCover.

[2018-09-24 20:12] ViktorHofer commented on #32420
Happening just with the default in master:

[code]

[2018-09-24 20:41] robertmuehsig commented on #32355
Checkout this [commit](https://github.com/Code-Inside/Samples/commit/e62a3d5e88b3a5de52698f69f1c3ec2c5af39bbc). After I updated the target framework to 4.7.2 and updated the OpenXML nuget package I got the System.Runtime as a binding redirect in my web.config.

[2018-09-24 20:42] stephentoub commented on #30686
Why?  You can already provide this when creating the MemoryMappedView.  Is there a specific piece that's missing there?

My assumption with regards to this issue is that we don't need any additional surface area, and rather than we can simply remove some of the checks being done when they're not relevant.

[2018-09-24 20:49] pjanotti commented on #32420
@ViktorHofer at least for `System.Globalization` what is happening is that the actual code is in System.Private.CoreLib so to get coverage for it you need to add `/p:CodeCoverageAssemblies="System.Private.CoreLib"`

On the CI runs we add CoreLib for all tests but actually I would like to be more explicit about it, i.e.: each test project that the actual code resides in System.Private.CoreLib shoul

[2018-09-24 20:50] pjanotti commented on #32420
side note: we can't run coverlet against CoreLib (already tracked in a separate issue)

[2018-09-24 20:52] davidsh commented on #32408
That could be a bug.  The comparison should be done in a 'case insensitive' manner, IMHO.  But the RFC doesn't state it explicitly.

See:
https://tools.ietf.org/html/rfc2617#section-3.2.1

It's also possible that the RFC implied it should be uppercase "MD5" but some servers aren't fully compliant with that.  It would be useful to see what other browsers etc. do regarding this.  And also do a deep

[2018-09-24 20:53] ViktorHofer commented on #32420
By introducing a msbuild variable for that or somehow auto detecting it? What's the plan?

[2018-09-24 20:53] davidsh commented on #32408
cc: @karelz

[2018-09-24 21:00] David-Engel commented on #18276
@houseofcat I do like a good chocolate chip cookie. 😄 But some things are beyond my control. I wish I could share more. There are always other factors in play but we are definitely are shooting for AE support in .NET Core as soon as we can.

[2018-09-24 21:04] pjanotti commented on #32420
My initial idea is for test projects to explicitly include a property to indicate that they are testing code in CoreLib. I don't want to automate that since most test code eventually touches CoreLib.

[2018-09-24 21:28] krwq commented on #14950
@redshiftz - one way to get unblocked would be to use EnvelopedCms for encrypting data or EncryptedXml for encrypting relevant config file fragment (EnvelopedCms is better from security point of view as it operates directly on bytes and does not perform any further processing. EncryptedXml should be easier to migrate).

Here is what RsaProtectedCofnigurationProvider is doing under the hood:
https:

[2018-09-24 21:31] stephentoub commented on #31517
Do you have suggestions?  We get the cursor position by writing a sequence to the terminal, and then reading and parsing a response from the terminal.  That's all inherently slow.  The only faster solution I'm aware of is keeping track of what we think the current position is, but that's very fragile.

[2018-09-24 21:42] nguerrera commented on #26745
cc @dasMulli

[2018-09-24 21:56] JeremyKuhne commented on #14950
As @danmosemsft pointed out, EncryptedXml isn't part of .NET Standard so some hoops would have to be jumped through. Not sure if that means adding a CoreApp build for this, another assembly, etc.

[2018-09-24 22:26] dlech commented on #31517
My memory is getting kind of fuzzy, but I *think* this was working reasonably well in dotnet 1.x (program took minutes instead of days). So maybe look at the changes between 1.x and 2.x?

I did some profiling in dotnet 2.x. If I recall correctly, there were problems with lock contention that were the biggest slowdown in dotnet 2.0, but those were fixed in dotnet 2.1. I don't remember which ones ex

[2018-09-24 22:45] joshfree commented on #32427
cc: @bartonjs @davidsh

[2018-09-24 22:46] joshfree commented on #32425
cc @bartonjs @davidsh

[2018-09-24 22:50] thorgeirk11 commented on #15329
Are there any workarounds to apply sorting on a Span<T> without having to copy it to an array?

This is so ugly:
`
var ohNoAnArray = awesomeSpan.ToArray();
Array.Sort(ohNoAnArray, (p1, p2) => p1.CompareTo(p2)));
ohNoAnArray.CopyTo(awesomeSpan);
`

[2018-09-24 22:50] murray-grant-fe commented on #30311
@wfurt Nice. Thanks for the heads up.
I'll wait for 2.1.5, as I have work arounds inplace for now.

[2018-09-24 22:50] joshfree opened #32442 "Open device using operating system open-function returns EISDIR using .NET Core"
_From @FrankPfattheicher on August 24, 2018 14:15_

# Open device using operating system open-function returns EISDIR using .NET Core

I am using interop to access basic file api of linux (Respberry Pi).

`[DllImport("libc", SetLastError = true, CharSet = CharSet.Auto)] internal static extern int open(string fileName, int mode);
`

Opening a device like tty

`var handle = Interop.open("/dev/tty",

[2018-09-24 22:58] bartonjs commented on #32425
Let's Encrypt supports OCSP, but not CRL.  We don't currently have OCSP wired up on Linux (#3034).

All of the blocking conditions on that should be gone now, so it's probably time to do that work.

[2018-09-24 23:01] bartonjs commented on #32427
The chain should be included, if it built successfully (https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Common/src/System/Net/Http/TlsCertificateExtensions.cs#L76-L96).  Presumably macOS was unable to complete the chain locally, probably suggesting that the current user (and/or System.keychain) doesn't trust (or know about) the root.

[2018-09-24 23:13] benaadams commented on #31973
Looks like it is correct then. Will have to suppress the flow upstream.

[2018-09-24 23:13] #31973 closed

[2018-09-25 00:31] wfurt commented on #29224
What is left for corefx? It seems like clang now tagged 7.0 as stable.
But it is unlikely in distro yet.

[2018-09-25 00:39] wfurt commented on #29147
how exactly this would impact connect operation? This should pop-up on out Alpine test runs, right?

cc: @janvorli

[2018-09-25 00:48] SteveL-MSFT commented on #32378
@rmkerr tried to find a public web service that returned the raw URL of the request, but couldn't find one as they all seem to ignore the fragment and treat the URL as though the fragment wasn't supplied.    However, you can repro this easily with our test weblistener.  You can repro using these steps using PowerShell Core 6:

[code]

[2018-09-25 00:50] wfurt commented on #29061
Is this documentation bug @bartonjs ? It seems like we would have to invent some metadata to store it outside of basic x509 data.

[2018-09-25 00:52] wfurt commented on #29014
is there anything left to do? This was opened as a question.

[2018-09-25 00:57] wfurt commented on #28884
Is there anything left to answer @stephentoub or should close this or turn into a bug?

[2018-09-25 00:58] EmmaZhu commented on #29014
Thanks for your help. The native method works just fine for our scenario.

[2018-09-25 01:00] wfurt commented on #28791
You can add Poll() with specified timeout before Receive. Based on result you either Throw() or read().

[2018-09-25 01:08] wfurt commented on #28758
This test did not fail for a long time and it is likely environmental issue.
Unlike Linux we don't have good mechanism how to ensure clean and consistent environment.

[2018-09-25 01:08] #28758 closed

[2018-09-25 01:12] wfurt commented on #28538
should this be closed @weshaggard ? It seems like we do not expect any work here.

[2018-09-25 01:15] shidouli commented on #32382
Thanks filipnavara and bartonjs for following up this issue. Do you still need the raw data of the certificate?

[2018-09-25 02:42] geoffkizer commented on #32408
Yeah, the RFC doesn't seem to be clear here.

Given that WinHttp and NETFX both do a case insensitive compare, it seems reasonable to match their behavior here.

[2018-09-25 02:56] geoffkizer commented on #32378
Right now, I can't remember why we decided in #27360 to send fragments. This does seem wrong per the RFC as quoted above.

Is WinHttpHandler sending fragments? Is that why we did it? @stephentoub do you recall?

[2018-09-25 02:58] geoffkizer commented on #32415
This looks like the same issue as #32378.

Since this appears to repro on netcoreapp2.0, I assume WinHttpHandler is sending fragments as well.

[2018-09-25 03:41] shidouli commented on #32382
This issue also happens in Ubuntu, so it's an issue in powershell core.

[2018-09-25 05:48] bartonjs commented on #29061
@wfurt Yeah, there's no plan to support it outside of Windows.  Not sure if Cross-Platform Cryptography is the right doc (since it's about higher level concepts), probably the docs.microsoft.com content.

[2018-09-25 06:12] astrowalker commented on #32430
@Clockwork-Muse , Since there is one constructor that's directly stores ticks (`FromTicks`) I wrote helper method mimicking the pointed out method -- but I changed the order of computation. First compute ticks as `double`, then check the range, and then cast it it `long`. Of course there will be a bit of rounding (it has to be), but microseconds are stored without a sweat.

It is not floating prec

[2018-09-25 08:08] mofee opened #32445 "websocket not update state when not in receive data"
i had a chat app base on .net core websocket,
when websocket server  received a business message from client, server will do a work mybe long time,
the  work in a while statement:
 while (webSocket.State == WebSocketState.Open)
{
     // myWorker
}

and then, the client close the browser tab, and i can see the browser send a close message,
but, the webSocket.State still is Open， and  webSocket.Sen

[2018-09-25 08:42] #32445 closed

[2018-09-25 08:50] mofee commented on #32445
sorry,  it's not a bug, close message must be received and handle by myselft.

[2018-09-25 10:15] acorkery commented on #31423
I'm also seeing the exact same issue connecting to the Bloomberg web services.

[code]

Slightly different channel setup code, but same errors

[code]

What I have confirmed on my side is that it works if the following 2 packages are below v4.5.0
System.ServiceModel.Http
System.ServiceModel.Primitives

If I update to any version >= v4.5.0, I see the errors above.

[2018-09-25 10:39] katestaneva opened #32448 "Design / Source tabs are missing on Mac (Mono + GTK#)"
Just working on a little cross platform app using Mono and GTK# as a front end library. I am working on a Mac. The problem I run into is that my Desing / Source tabs disappear the second I add a new GTK window or restart Visual Studio. If I open a brand new project, my default MainWindow has the tabs and I am able to see the design form. If I add another Window the tabs won't show for this new win

[2018-09-25 10:44] ViktorHofer commented on #32420
Sounds good. Please open a PR for the fix :)

[2018-09-25 10:48] Jqk-Nono opened #32449 "Unresolved P/Invoke method 'GetSystemPowerStatus!kernel32.dll' cause a crash with the app from the store"
However, there is no warning about the method **GetSystemPowerStatus**

This issue only happens after I publish my app to the Windows Store (and download it through the Windows Store). Performing local DEBUG and RELEASE builds work as expected. Side-loading the app also works as **expected.**

[2018-09-25 10:55] stephentoub commented on #32378
I don't remember the details, other than a vague recollection that the rfc wasn't very explicit and the various other implementations were all over the map in what they choose to do and when, often inconsistently, so we just decided to always send.

[2018-09-25 11:05] filipnavara commented on #32408
It's not just WinHTTP and NetFX. This server was used for many years and it was tested against all major browsers on many platforms, including macOS (Safari, Chrome, Apple Calendar, Apple Contacts) and iPhone.

I do agree that the wording in the RFC doesn't state explicitly that it is case-insensitive, but the status quo is that the implementations treat it as such and it is implied through the AB

[2018-09-25 11:18] ViktorHofer opened #32450 "Enable first year of Japanese era test on full framework"
It seems the fix for it will be serviced. We should re-enable the disabled test when the servicing fix is delivered to most clients. To be absolutely sure we can also add a version check for netfx.

Disabled test: System.Globalization.Tests.DateTimeFormatInfoMiscTests.TestFirstYearOfJapaneseEra

[2018-09-25 11:39] mnmr commented on #32321
@jnm2 Absolutely, but that’s also the intended purpose of exceptions.

I just strongly believe it to be an anti-pattern when you’re relying on exceptions to convey information that could be returned directly, in one way or another.

[2018-09-25 12:01] MichalStrehovsky commented on #32449
@Jqk-Nono Could you please reach out to the .NET Native team at dotnetnative at microsoft.com? We are better equipped to help there. This failure mode doesn't look CoreFX-related.

[2018-09-25 12:36] ViktorHofer commented on #18247
Closing as duplicate of https://github.com/dotnet/corefx/issues/7597

[2018-09-25 12:36] #18247 closed

[2018-09-25 12:39] ViktorHofer commented on #11057
51 tests are currently failing in WSL 1803. Attached the logs as txt.

[code]

[System.Net.Http.Unit.Tests.txt](https://github.com/dotnet/corefx/files/2402273/System.Net.Http.Unit.Tests.txt)
[System.Net.Sockets.Tests.txt](https://github.com/dotnet/corefx/files/2402274/System.Net.Sockets.Tests.txt)
[System.IO.FileSystem.Tests.txt](https://github.com/dotnet/corefx/files/2402275/System.IO.FileSystem.

[2018-09-25 12:39] ViktorHofer commented on #7597
Closing in favor of https://github.com/dotnet/corefx/issues/11057 which has more details and tracks external WSL issues.

[2018-09-25 12:39] #7597 closed

[2018-09-25 12:45] ViktorHofer commented on #11057
What is left to do here:

1. Somebody should go through the remaining failures and either a) disable them, b) fix them if possible or c) create issues in the WSL repo and disable them temporarily with comments to the external tracking issues.
2. Go through the existing disabled WSL tests and re-enable them as most of them have been fixed and even more of them will be fixed with the next iteration

[2018-09-25 12:45] ViktorHofer commented on #11057
cc @joshfree

[2018-09-25 12:49] ViktorHofer opened #32452 "Enable retry for some network tests on CI"
Some network tests are still randomly failing on CI. Example in a recent PR: https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_uap+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/15295/

We should enable the retry mechanism for such, especially now that we have auto merging PRs (darc). Creating this issue as I don't know how ;)

cc @danmosemsft @davidsh

[2018-09-25 13:11] jkotas commented on #29014
We may want to consider fixing this for .NET Core 3.0 to ease migration from .NET Framework.

We plan to produce .exe for number by default in number of cases in .NET Core 3.0. The original arguments that we need to be able to be parse the command line and that it has to work the same way as on Unix no longer apply.

[2018-09-25 13:12] jkotas commented on #29014
cc @danmosemsft

[2018-09-25 13:36] #28884 closed

[2018-09-25 13:59] stephentoub commented on #24365
I'm just not understanding how this is different from `Channel.CreateBounded<T>(...)`, which provides the exact support you're asking for.

I don't believe we should add any kind of asynchronous methods to `ConcurrentQueue<T>`.  Changing the data structure to support a policy of overwriting some element would be complicated and very likely to not be pay-for-play.  Changing the data structure to su

[2018-09-25 14:10] benaadams commented on #24365
Fine with that

Don't think that's a good option

This is good

Having a data structure change mode based on the constructor isn't very good for a consumer of that data structure ; its runtime/convention enforcement/erroring rather than compile time. In some situations its hard to avoid, but this would be just to avoid adding a new type.

[2018-09-25 14:28] pjanotti commented on #32420
Eventually :) - perhaps it happens sooner since it may be part of a workaround for the problems with the official coverage run, but I'm not sure yet.

[2018-09-25 14:37] davidsh commented on #32452
@dotnet/ncl

[2018-09-25 14:43] moonmile opened #32454 "System.Net.HttpListener make memory leak by .net core only."
This is test code.

[code]
When hundreds of times to access this simple HTTP server, this code make memory leak.
When I compiled by .net core and execute, the memory consumed little by little will increase.
But it is right memory, when I compiled by .NET Framework 4.6.

[2018-09-25 15:03] moonmile commented on #32454
pattern of .NET Framework 4.6
![image](https://user-images.githubusercontent.com/1286584/46023210-242ee480-c11f-11e8-86ed-c8ac795e7db5.png)

pattern of .NET Core 2.1
![image](https://user-images.githubusercontent.com/1286584/46023254-37da4b00-c11f-11e8-8e72-d3b84849dc8a.png)

When .NET Framework 6.4, used memory reaches the limit in a few seconds.
But, when .NET Core 2.1,  used memory keeps increa

[2018-09-25 15:09] rmkerr commented on #32378
I took another look at the spec, and I think we are probably not supposed to be sending the fragment. Take a look at the definition for http_URL in [RFC 2616](https://tools.ietf.org/html/rfc2616#section-3.2.2), which appears to ignore the fragment:
[code]
There's also this section of the [URI spec](https://tools.ietf.org/html/rfc3986#section-3.5), which seems to say we should never be using the fr

[2018-09-25 15:19] davidsh commented on #32378
I'd recommended you not look at RFC 2616 since it has been replaced by the RFC 723x documents.

[2018-09-25 15:33] stephentoub commented on #32378
If we decide to change it, it should be as easy as changing one line:
https://github.com/dotnet/corefx/blob/581627f713477fda8ac87be8dac74ff017d955cf/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L395
putting it back to the way it used to be:
https://github.com/dotnet/corefx/pull/27360/files#diff-300922d9e15c1d874df079b5746c8f10L281
plus updating the tests, of course

[2018-09-25 15:38] rmkerr commented on #32378
Thanks David, 7230 makes it a lot clearer. The fragment is actually included in the definition of http_URL there, and the issue is addressed in more detail. [Section 5.1](https://tools.ietf.org/html/rfc7230#section-5.1) "Identifying a Target Resource" specifies:
[code]

[2018-09-25 15:40] #28538 closed

[2018-09-25 15:57] Vladimir-Abadzhiev commented on #13329
+1

[2018-09-25 16:02] ericstj opened #32457 "Exclude="Compile" hides implementation only dependencies from RAR causing missing bindingRedirects on desktop"
We try to avoid exposing runtime dependencies at compile time because
1. They are implementation details of the assembly that we don't want to make part of the public API contract.
2. They may be RID specific since NuGet provides no way to expose RID-specific dependencies.  RID specific dependencies may be not supported on other RIDs (eg: OpenSSL, registry, WindowsIdentity, etc).

This is done her

[2018-09-25 16:17] stephentoub commented on #31253
I don't currently see enough benefit to introducing that.  If and when there's a proven need, it could be examined, but in the meantime, it's functionally supported via `Task.WhenAll(vt1.AsTask(), vt2.AsTask(), ...)`.

This issue was opened with a laundry list of items, most of which as has been discussed aren't feasible or relevant.  If there are specific, viable, concrete proposals for new APIs,

[2018-09-25 16:17] #31253 closed

[2018-09-25 16:30] stephentoub commented on #31262
The majority of WinHttpHandler's implementation is in native code, so it's allocating, it's just not showing in tracking of managed allocations.  Interestingly, even with all of SocketHttpHandler's allocations being managed, it common cases ends up having a better per-request allocation profile than does WinHttpHandler.

Can you share a repro?

I think it'd be reasonable to add some tracing, eithe

[2018-09-25 16:31] stephentoub commented on #31275
I don't believe there's any further action item required on this issue.  Given the lack of discussion on the naming issue for several months, I'm going to close this out.  Thanks for the good discussion.

[2018-09-25 16:31] #31275 closed

[2018-09-25 16:32] stephentoub commented on #31291
Seems reasonable; marking as ready for review.

[2018-09-25 16:34] stephentoub commented on #31302
@GrabYourPitchforks, could you create a PR for moving just these APIs over to master?  They seem very separable from the Utf8String work, and if they're already implemented, let's move 'em along :)

[2018-09-25 16:37] stephentoub commented on #31322
@vancem, does this anonymous type casting issue in DiagnosticSource look familiar?

[2018-09-25 16:41] stephentoub commented on #31414
Seems like you could do that via your own extension methods, such as the one you shared earlier.

I agree with @bartonjs and @ahsonkhan that our design with span is very much geared around avoiding adding such overloads, preferring to have callers slice and pass in just the portion they need.  It would take a lot I think for us to move away from that design, and if we did, it would entail a massiv

[2018-09-25 16:41] #31414 closed

[2018-09-25 16:42] stephentoub commented on #31448
cc: @brianrob

[2018-09-25 16:43] stephentoub commented on #31456
@danmosemsft, this can be closed now, right?

[2018-09-25 16:44] stephentoub commented on #31469
Seems like questions have been asked and answered and this issue can be closed.  If there's more to discuss, please feel free to re-open, though a more focused issue on a specific topic might be more productive.

[2018-09-25 16:44] #31469 closed

[2018-09-25 16:53] stephentoub commented on #31484
@Cyberboss, I tried your repro, commenting out the `tcs.SetCanceled();` line, and I get:
[code]

[2018-09-25 17:04] stansw commented on #13329
+1 I've just tried to run custom activity in Azure Batch on a cluster without .net core runtime and it cannot handle the high number of files the "self-contained" version creates.

[code]

[2018-09-25 17:10] talarari commented on #15430
Any suggestions for good community alternatives?

[2018-09-25 17:15] Cyberboss commented on #31484
Yeah I recently upgraded from 2.0 to 2.1 and the problem seems to be gone

[2018-09-25 17:15] #31484 closed

[2018-09-25 17:31] stephentoub commented on #31784
@wtgodbe, is this still an issue?

[2018-09-25 17:35] terrajobst commented on #24365
There is a trade-off decision here: how much do we care about the type behaving like a collection (i.e. being enumerable) vs how much we care about performance. @stephentoub added this item as we're using it internally for building object pools. It seems there is an idea to make object pooling more first class. Let's look at this type when we're productizing an object pool to make sure we're build

[2018-09-25 17:41] gfoidl commented on #30793
Yeah, it has to blow up when it follows the rules.

A valid base64-encoded string length is always a multiple of 4. (If there is not enough input-data, padding `=` will therefore get added).

Your given string has length 402, so 402 % 4 = 2. Hence it is not a valid base64 string.
Try to decode without the final padding, it won't blow up and give you the expected `byte[300]` result.

BTW: your work

[2018-09-25 17:42] redshiftz commented on #14950
So, to unblock, would it be reasonable to grab the source of RsaProtectedConfigurationProvider rename to RsaProtectedConfigurationProviderTemp, and build using EncryptedXml? Then change that name in the config file where referenced? Then I can change the config files back if RsaProtectedConfigurationProvider is ever finished?

[2018-09-25 17:47] stephentoub commented on #31484
Excellent.  Thanks for confirming.

[2018-09-25 17:48] terrajobst commented on #26528
We don't think we want these APIs:

1. They allocate
2. They aren't as convenient as `String.Split`

If you care about allocations, then you want a different API. And if you don't care about allocations, well, then you can just use `String.Split`.

So what API would we like to see? It could be a struct-based enumerator that allows the consumer to `foreach` the individual spans without allocations.

[2018-09-25 17:54] #24365 closed

[2018-09-25 17:56] terrajobst commented on #26772
@jaredpar, based on our conversation it seems the language team + consumers (e.g. EF) should drive the design. Is that you or someone in particular we should tag?

[2018-09-25 17:57] danmosemsft commented on #11057
Remaining list, I took out the GetSetTimes ones that @Anipik fixed.

[code]

[2018-09-25 18:00] terrajobst commented on #29258
This is related: https://github.com/dotnet/standard/issues/832

I believe this feature needs a more comprehensive design. I'll follow-up.

[2018-09-25 18:03] wtgodbe commented on #31784
No

[2018-09-25 18:03] #31784 closed

[2018-09-25 18:08] danmosemsft commented on #31914
@davidsh should this move out of 2.1.x milestone?

[2018-09-25 18:08] danmosemsft commented on #31987
@weshaggard is this still considered for servicing? If so is someone looking at it? If not we should change milestone

[2018-09-25 18:09] danmosemsft commented on #31433
@wtgodbe 	@karelz 	are we still tracking work here for servicing? Per milestone.

[2018-09-25 18:09] danmosemsft commented on #30760
@karelz 	 @caesar1995 	should this still be 2.1.x? Is it being actively worked on?

[2018-09-25 18:10] davidsh commented on #31914
Probably since it is not being actively championed.

cc: @geoffkizer @karelz @stephentoub

[2018-09-25 18:10] wtgodbe commented on #31433
Any change here will most likely be for 3.0.

[2018-09-25 18:14] weshaggard commented on #31987
Yes we should consider this for servicing but it needs further investigation from the owner of this library to understand the impact.

[2018-09-25 18:17] terrajobst commented on #30968
@GrabYourPitchforks also suggested these APIs:

[code]

This would avoid consumers having to re-interpret case the spans. We don't know what happens when the `Vector<T>` is instantiated with `byte` though.  @GrabYourPitchforks, please take a look and file another item.

[2018-09-25 18:17] stephentoub commented on #31915
.NET Core 2.1 is supported on macOS, but there are a limited number of APIs that don't work because of platform limitations, and Console.SetWindowSize is one of them, hence the exception.

@terrajobst or @mairaw can probably comment on the best way tooling or docs could be updated to reflect this, but at present there's no bug here in the implementation; it's by design that it throws PlatformNotSu

[2018-09-25 18:45] stephentoub commented on #32130
You're just proposing this?
[code]
?

[2018-09-25 18:56] Anipik commented on #31987
It was removed by the GithubIssueLabeler bot. It sometimes does that, investigating the reason behind it

[2018-09-25 18:56] stephentoub commented on #32024
It looks like this issue as it applies to corefx is just to improve the error message?  That seems quite reasonable, and easy to fix.

[2018-09-25 18:58] terrajobst commented on #31570
The `EndsIn*` methods seem problematic. The first ones seems fine but we should add support memory.

[code]

[2018-09-25 19:04] natemcmaster opened #32461 "Cannot restore latest master builds of Microsoft.Win32.Registry, missing System.Buffers dependency"
We found this through our automation which updates aspnet to the latest 3.0 builds. See https://github.com/aspnet/Universe/pull/1419

After updating to Microsoft.Win32.Registry from 4.6.0-preview1-26907-04 to 4.6.0-preview1-26924-03, restore began to fail.

Is there an issue with publish System.Buffers to dotnet.myget.org/F/dotnet-core?

[2018-09-25 19:13] stephentoub commented on #32461
cc: @safern, who removed the System.Buffers package in https://github.com/dotnet/corefx/pull/32096.

@weshaggard, @ericstj

[2018-09-25 19:15] safern commented on #32461
Taking a look.

[2018-09-25 19:41] odhanson commented on #32130
Yep.  Its small but it can enable us to be explicit about the use of platform supported APIs

Sent from my Samsung Galaxy smartphone.

[2018-09-25 19:53] wgebczyk commented on #30368
@joshfree … so maybe you could elaborate more on that thing... or close is as no longer relevant?

[2018-09-25 20:17] geoffkizer commented on #32378
Which tests do you mean? The redirect tests? I think those should still be valid -- the RequestUri should still propagate the fragment on redirect, it just shouldn't send the fragment on the wire.

Or are there other tests you mean?

[2018-09-25 20:20] stephentoub commented on #32130
Thanks. I understand the motivation, but I'm not convinced it's worthwhile (though my care level is fairly low).

If the goal is to improve code reviews, well, code reviewers will already need to be on the lookout for usage of the existing overload.  If the goal is to help an analyzer, I expect if an analyzer just checked whether the first argument was a `null` const, that would address 99.9% of f

[2018-09-25 20:28] devcrafting commented on #32378
In #32415, you can find a real server that return a 404 when fragment is sent.

If it can help, as I mentioned in the same issue, .NET Framework was ignoring fragment. I also tested with Postman, the same. I know that other (old) implémentations could be bad ones also, but still some references.

[2018-09-25 20:39] stephentoub commented on #32278
I expect this was broken by https://github.com/dotnet/coreclr/pull/8306.  Previously the AddRange implementation would enumerate, and for each item, would call Add, which would increment the version number, and then the next access to the enumerator would throw.  With that change, as noted in https://github.com/dotnet/coreclr/pull/8306#discussion_r89682000, the version increment is removed for eac

[2018-09-25 20:41] geoffkizer commented on #31799
The test code I used above is here: https://github.com/geoffkizer/teststuff/tree/master/poollock

[2018-09-25 20:44] stephentoub commented on #32285
cc: @tarekgh

[2018-09-25 21:01] joshfree commented on #30368
@ianhays could you share more specifics on what you had in mind?  @wgebczyk my intention for this tracking issue is to add more test zips to the existing https://github.com/dotnet/corefx-testdata/tree/master/System.IO.Compression.TestData project to test round-trip interoperability with common compression tools, at least one very large zip to test upper limits, and manually malformed zip archives

[2018-09-25 21:06] joshfree commented on #30156
assigning to @mairaw to verify and close

[2018-09-25 21:09] jbhensley commented on #32454
Reproducible using supplied code. Just pop the following in PowerShell for client requests:

[code]

Memory on .NET Framework 4.7.1 stabilizes after about 500 iterations or so. Core 2.1 keeps mountain climbing.

[2018-09-25 21:13] stephentoub commented on #32386
No.  IsEmpty was modified back on June 2nd, but:
a) That's well before Aug 19th.
b) That didn't affect TryGetValue at all (TryGetValue doesn't use IsEmpty)
c) The change is fairly small and is meant to improve the case where the dictionary isn't empty (by avoiding taking a lock), and when it is empty, the extra work done compared to taking the lock is minimal, so even if that did regress in a micr

[2018-09-25 21:16] joshfree commented on #31279
@steveharter could you take a look?

[2018-09-25 21:17] joshfree commented on #31485
@steveharter

[2018-09-25 21:18] sebastienros commented on #32386
@stephentoub open the link on Edge. TLS version issues IFAIR.

[2018-09-25 21:27] stephentoub commented on #32064
@AlexGhiondea, can this be closed now after https://github.com/dotnet/corefx/pull/32368?

[2018-09-25 21:28] kouvel commented on #32386
The IsEmpty regression is most likely due to tiered compilation being enabled by default. With the change to use BenchmarkDotNet, these class of regressions should go away. The issue @sebastienros is seeing is something different, we're working on determining what that is.

[2018-09-25 21:30] sebastienros commented on #32386
I ran another benchmark with Tiered on and off on our Response Caching scenario which uses a `MemoryCache` backed by a CD. This time I can repro the regression and get the same numbers as before. I am using this scenario because a recent change in Routing is removing some usage of the concurrent dictionary, so the numbers I gave previously are invalid.

So yes, it looks like a side effect of Tiere

[2018-09-25 21:35] ViktorHofer commented on #30399
Runs are still not working but the reason is something different:

[code]

The appx doesn't install successfully because the package either seems to contain wrong assemblies or the target OS is not recent enough.

@MattGal which Win 10 version is installed on the arm machines? The label doesn't tell.

[2018-09-25 21:36] KrzysztofCwalina commented on #31526
Can we just implement `IEqualityComparer<Memory<char>>` on StringComparer?

[2018-09-25 21:40] tannergooding opened #32464 "Custom format strings with section separators have weird behavior"
Currently, there seems to be a lot of "weird" behavior around the section separator and it doesn't seem to be consistent.

For example, from the docs for the "three section" case:

The "two section" case doesn't have any explicit wording on it, but I would imagine it would/should follow the same logic.

For "-1234.0" and various format specifiers, we currently get the following:

| Format Specifie

[2018-09-25 21:40] tannergooding commented on #32464
Issue was copied from the original discussion on https://github.com/dotnet/coreclr/pull/20109

CC. @jkotas, @danmosemsft, @stephentoub

[2018-09-25 21:40] ViktorHofer commented on #30094
Updated the instructions recently. Just installing the individual workloads should work now.

[2018-09-25 21:40] #30094 closed

[2018-09-25 21:42] jbhensley commented on #32454
The odd thing is that memory snapshots are not showing any increase in object instance count or heap size:

![memory diagnostics](https://user-images.githubusercontent.com/13544395/46044757-84e30080-c0d0-11e8-8277-ecb4b743fc57.png)

The first snapshot was just after launching the app, but before any client requests. There was a burst of object creation after starting the request loop, but nothing

[2018-09-25 21:43] ViktorHofer commented on #30039
I assume this doesn't happen anymore as it works fine in CI. Closing. Feel free to comment on the issue if the issue still exists.

[2018-09-25 21:43] #30039 closed

[2018-09-25 21:45] kouvel commented on #32386
@sebastienros, did I understand correctly that the Response Caching scenario is performing worse with tiered compilation on compared with tiered compilation off on the same runtime build?

There are some known perf issues with tiering, in particular when it comes to benchmarking https://github.com/dotnet/coreclr/issues/19751 is an issue that would likely be hit. Is it possible that this could be a

[2018-09-25 21:47] sebastienros commented on #32386
@kouvel I am sending the repro by email

[2018-09-25 21:49] ViktorHofer commented on #29384
The remaining part here is the remapping in the 2.2 branch.

[2018-09-25 21:51] MattGal commented on #30399
Currently it's RS4 RTM ARM64, specifically _17133.rs4_release.180323-1312_ .  I don't think a non-time-bombed RS5 is RTM yet, what do you expect to find?

I'd definitely want to review the manifest and assemblies of this appx for myself too... if an Amd64-specific assembly came along, this is exactly the sort of error I'd expect.

[2018-09-25 21:59] ViktorHofer commented on #30399
Ok great, I wasn't sure if it isn't using an older version.

I built the runner package for the following ArchGroups: x86, x64 and arm. Shouldn't the arm64 machine just work well with arm(32) package? I thought there is some kind of emulation happening.

[2018-09-25 21:59] ViktorHofer commented on #29349
That isn't possible as we are harvesting many assemblies. If we put the package version in the assembly's metadata it would point to an old package version. I think we shouldn't do this.

Which assembly version would we use? We have many different tfms in the package that contain different assembly versions (because of harvesting). Just always the latest?

[2018-09-25 22:01] AlexGhiondea commented on #32064
Yes -- thanks for the reminder!

[2018-09-25 22:01] #32064 closed

[2018-09-25 22:04] #31972 closed

[2018-09-25 22:11] #26813 closed

[2018-09-25 22:16] ericstj commented on #29349
Assembly metadata: sure but first package it shipped it could be good enough.  Depends on how folks expect to to use it.

Package spec: We'd have a table similar to the package report where it can list the version applicable per framework.

[2018-09-25 22:19] groogiam opened #32465 "PrinterSettings.IsValid always returning false for network printer."
System.Drawing.Printing.PrintDocument.PrinterSettings.IsValid always returns false for a network printer on Windows Server 2012 R2.

When I run the same code under .NET Framework the IsValid property is set correctly on the same machine running under the same user credentials as the .NET Core Process.

[2018-09-25 22:29] ViktorHofer commented on #30399
Sure. The runner that fails to be installed lives here: https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.XUnitRunnerUap. The manifest should be fine as it doesn't contain any ArchGroup specifics.

I believe that we need to add configurations for ARM64 to both the launcher and runner and compile it with the ARM64 SDK (if it's already released) as we need the runner to be a true ARM

[2018-09-25 22:36] MattGal commented on #30399
I was looking for a built copy and/or any details of the Helix jobs being sent.  Anyways, you may be correct but I would point out that ARM32 coreclr runs did work in the past.

[2018-09-25 22:40] ViktorHofer commented on #30399
I believe the ARM32 ones should work, this is about the ARM64 ones, right? Are we going to add an official ARM32 leg in the future or for now live with the ARM64 leg?

[2018-09-25 22:55] safern commented on #32278
From looking at the discussions in the PR and the changes it looks like there wasn't a good/enough investigation on what was changing from that PR. So I agree that I have the same feeling that we should just revert that PR and then do a deeper investigation on why Add wasn't being inlined in the first place.

Also it seems to me like we should've caught this in our tests, so it seems like a test h

[2018-09-25 23:07] MattGal commented on #30399
That's up to your team, I'm just saying that as ARM64 machines with Cobalt support I'd expect properly authored content to work as expected for x86, ARM, and ARM64 content.

[2018-09-25 23:20] BruceForstall opened #32467 "Question: parallel test output interleaving"
Is there a way to run tests in parallel, but still get good, non-interleaved, output?

For example, in:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/641/consoleText

we run the tests using:

[code]

Then, there is apparently a failure in System.ComponentModel.Composition.Tests. However, it is extremely difficult to see what it

[2018-09-25 23:20] BruceForstall commented on #32467
@weshaggard Suggestions?

[2018-09-25 23:55] #32204 closed

[2018-09-25 23:58] jbhensley commented on #32454
Confirmed to be in native memory. Use instructions from [here](https://github.com/dotnet/project-system/issues/1125#issuecomment-349163889) to get native debugging working in core. Sorry for piece-milling this.

![native](https://user-images.githubusercontent.com/13544395/46049501-a39ec280-c0e3-11e8-9492-df6dce3ed49d.png)

![void](https://user-images.githubusercontent.com/13544395/46049610-350e348

[2018-09-26 00:27] BruceForstall commented on #32467
That would be great! That plus a simple list of exactly the failing test projects.

fyi, I recently copied the run-test.sh script (in the root of corefx) to coreclr, and fixed it to work better for running in parallel, and not interleave output when doing so, by creating an output file per test project where redirected output is put. This is basically a bash script hack for running on arm32/arm64

[2018-09-26 00:27] weshaggard commented on #32457
@ericstj are you sure this will actually fix this? I tried directly referencing the latest Unsafe package in their test project and it still doesn't generate the correct binding redirects because it doesn't see conflicting versions of Unsafe, it only sees the one version. It doesn't see the assembly reference from System.Memory which has the older version so there isn't a conflict.

[2018-09-26 00:43] moonmile commented on #32454
Thank for your check.

I tried to go this client code for check.
if .net framework 4.6, this memory reaches the upper limit after a certain amount of time.
if .net core 2.1, this server consume memory as much as possible and crashed.
[code]

I lookup this when I make Scratch extension code.
https://github.com/moonmile/FireScratch
I make extension server by HttpListener, and go this program for one

[2018-09-26 01:50] #32449 closed

[2018-09-26 02:10] ericstj commented on #32457
True if the impl has a unique conflict that would not be fixed.  I don’t see a good fix for that, other than somehow flowing the impls through RAR or doing more conflict forcing tricks.

[2018-09-26 02:44] michaeljfarr commented on #31262
Hi Stephen.  Sure, I've added the repro project here (https://github.com/michaeljfarr/HttpClientCleanupRepro).  It is only built as an API because that is the usecase that I was diagnosing the original memory leak from, but it would probably make more sense as a simpler command line application now that I know what is going on.  If you look in Startup.cs, you will see a couple of comments asking y

[2018-09-26 02:49] wadebaird commented on #27773
@tarekgh : Above you mentioned that ideally the TimeZoneInfo.Id should be sent. However the issue is on some devices the TimeZones are identified as "America/Los_Angeles" where as on a Windows server it is identified as "Pacific Standard Time".

How is this reconciled?  I am trying to send the timezone from my device to the server in order to get date times in the device local time.

[2018-09-26 02:52] dmetzgar commented on #2394
@VenkateshSrini, you should also look into Cadence: https://github.com/uber/cadence
The model is more like Amazon's SWF but it is open source. No .NET client yet though.

[2018-09-26 02:58] Clockwork-Muse commented on #27773
@wadebaird - The primary non-Windows Timezone database is the Olson/IANA tzdb, used by pretty much everybody else.  For interoperability, you almost certainly want to expose/use the Olson ones.

How you interoperate depends on a couple of things, but you're essentially looking at a couple of third-party nuget packages:
 - Just go for translating the ids, using @mj1856's [TimeZoneConverter](https:/

[2018-09-26 03:18] danmosemsft commented on #32465
Thanks for the report @googiam. Do you have an interest in doing some debugging to suggest the cause? Generally we ported the s.drawing code verbatim.

[2018-09-26 03:53] tarekgh commented on #27773
@clockwork-muse is correct. You can use @mj1856 library for I’d translation between the windows Id and IANA id.

[2018-09-26 04:29] VenkateshSrini commented on #2394
Looking for a. Net core version

[2018-09-26 04:32] ccpony commented on #2394
Not going to happen.

From: VenkateshSrini <notifications@github.com>
Sent: Wednesday, September 26, 2018 12:30 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Jeffrey Michelson <JMichelson@unitec-corp.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Port Workflow Foundation to .NET Core (#2394)

Looking for a. Net core version

—
You are receiving this because you were

[2018-09-26 04:38] asthana86 opened #32473 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-09-26 04:41] asthana86 opened #32474 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-09-26 06:12] pantonis commented on #26302
Any news on this one?

[2018-09-26 06:15] grant-d commented on #1244
Any feedback on the api design proposal above?

[2018-09-26 06:45] keesdewit82 commented on #2394
Too bad

[2018-09-26 07:08] msmolka commented on #26302
@pantonis I've ended up copying solution from net 462:

[code]

[code]

[2018-09-26 10:15] nbaztec opened #32475 "System.Net.Sockets.UdpClient Hostname Resolution ignores DualMode flag"
**Issue**
For a `UdpClient` instance with underlying `Socket` having `DualMode` enabled, the socket does not work with hostnames that return IPv4 addresses.

**Steps to reproduce**
- Set up a local hostname with IPv4 address - `foobar.local`
- Create a `UdpClient` with `AddressFamily.InterNetworkV6`
- Set `sender.Client.DualMode = true`, to enable IPv4 over IPv6
- Send a datagram to a hostname `se

[2018-09-26 10:53] nietras commented on #15329
@thorgeirk11 this proposal of course addresses this, unfortunately my PRs (https://github.com/dotnet/corefx/pull/26859 and https://github.com/dotnet/coreclr/pull/16986) for adding these got rejected/closed. Does not seem to have been added by anyone else after.

However, the implementation works and all tests pass of this, the main issue was around security I think. In https://github.com/dotnetcro

[2018-09-26 11:04] nbaztec opened #32476 "Unable to build project on Linux"
Attempting to build on Ubuntu 18.04:
[code]
[code]

[code]

Not even adding TargetFrameworks to the csproj helped. Any ideas?

[2018-09-26 11:35] alexdrl commented on #11225
Any input on implementing S.R.StrongNameKeyPair? We are also trying to build StrongNamer in a .NET Standard MSBuild Task, but got into a PlatformNotSupported exception in this class in Linux.

I think that this class could possibly be implemented, as assemblies can be strong named when built on Linux.

[2018-09-26 12:28] asthana86 opened #32478 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-09-26 12:32] VenkateshSrini commented on #2394
So what is Microsoft offering for ifttt or workflow in non Azure ecosystem. When they want to enable things like ml out of Azure why not workflows

[2018-09-26 12:36] asthana86 opened #32479 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-09-26 12:41] ccpony commented on #2394
Check out Dan Gerlag’s work.

https://github.com/danielgerlag/workflow-core

From: VenkateshSrini <notifications@github.com>
Sent: Wednesday, September 26, 2018 8:34 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Jeffrey Michelson <JMichelson@unitec-corp.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Port Workflow Foundation to .NET Core (#2394)

So what is Microsoft

[2018-09-26 12:54] ewinnington commented on #2394
There is [CoreWF](https://github.com/dmetzgar/corewf) which is a port of Workflow foundation to .net core. This port is progressing. We are looking for people to help.

The next major stepping stone is to compile loaded workflows with Roslyn so that we can use code in the workflow parameters, this is needed for the XAML defined workflows. If you define workflows in Imperative core, you can use Cor

[2018-09-26 13:02] watertree commented on #2394
Thanks for your work @ewinnington and @dmetzgar !  The XAML support through Portable.XAML in CoreWF is a huge deal for that effort.  @dmetzgar Do you plan on publishing a new version to NuGet soon?

[2018-09-26 13:04] asthana86 opened #32480 "ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-09-26 13:19] kaaoo commented on #28267
Hi everybody!
I had the same error. But I've found another [issue](https://github.com/Microsoft/vsts-dotnet-samples/issues/93) which helped me.
I just changed the version of Vsts client to **version 15.126.0-preview**.
Hope it will help you!

[2018-09-26 13:22] Xray1983 opened #32481 "Erra phyton//:"
Drrrrr. Learnings apply....

[2018-09-26 13:33] MarcoRossignoli commented on #32476
have you tried to "cleanup" and rebuild?
[code]
Or align with remote codebase and rebuild all, something like:
[code]

[2018-09-26 13:39] stephentoub commented on #32473
Dup of https://github.com/dotnet/corefx/issues/29163

[2018-09-26 13:39] #32473 closed

[2018-09-26 13:39] stephentoub commented on #32474
Dup of https://github.com/dotnet/corefx/issues/29163

[2018-09-26 13:39] #32474 closed

[2018-09-26 13:39] stephentoub commented on #32480
Dup of https://github.com/dotnet/corefx/issues/29163

[2018-09-26 13:39] #32480 closed

[2018-09-26 13:39] stephentoub commented on #32479
Dup of https://github.com/dotnet/corefx/issues/29163

[2018-09-26 13:39] #32479 closed

[2018-09-26 13:40] stephentoub commented on #32478
Dup of https://github.com/dotnet/corefx/issues/29163

[2018-09-26 13:40] #32478 closed

[2018-09-26 13:44] stephentoub commented on #32452
Doesn't CI now automatically retry any test that fails?  Or have I misunderstood that mechanism?

[2018-09-26 13:53] nbaztec commented on #32476
Thanks! It was a fresh fork, yet resetting `Tools` and other directories from previous failed build operation seemingly did it.

Closing

[2018-09-26 13:53] #32476 closed

[2018-09-26 13:55] redshiftz commented on #14950
I'm referring to https://github.com/dotnet/corefx/blob/master/src/System.Configuration.ConfigurationManager/src/System/Configuration/RsaProtectedConfigurationProvider.cs

Which says it's under MIT license.

And the code is already written. It's just IFDEFed out.

[2018-09-26 14:08] asjafjell commented on #32427
You are corrcet, @bartonjs! Thank you for the swift reply. For some reason, the certificate was marked as untrusted by macOS. Unsure if it is a result of the Root CA being a certificate to a third party test environment, but a production certificate seems to work perfectly. We will do testing to see if it works with the Root Test CA when flagged as trusted.

[2018-09-26 14:16] GSPP commented on #32337
This is very important to have. If a lazy instance is used as a cache in a web application and it's execution fails then the web app is *permanently* down. Many things worth caching can fail transiently (any database or web service call). The `ExecutionAndPublication` mode is fundamentally unsafe in many scenarios.

The weaker modes are not very nice to use in caching scenarios because they can ca

[2018-09-26 14:31] DMEvans commented on #27907
I too have lost about a day on this particular issue until I finally found my way to this thread.  Is there any permanent solution on the horizon for this?

[2018-09-26 14:56] groogiam commented on #32465
I can give it a shot, I don't really have much experience debugging framework code. Would you recommend I setup source linking to try and step through the code or is there some other mechanism you would recommend?

[2018-09-26 14:58] VenkateshSrini commented on #2394
Hi all,

Is this all production ready. We are lolling the work flow definition to be done from external Ui. But the engine should be able to load the definition and work from their on. More of an iffft kind

[2018-09-26 15:04] ViktorHofer commented on #30399
I think I found the reason for the failures. The WindowsStoreAppLauncher which registers and unregisters the UWP app was always compiled with x64 which isn't supported on ARM machines. I updated the Launcher and Runner to correctly support ARM and ARM64: https://github.com/dotnet/arcade/pull/874

[2018-09-26 15:05] stephentoub commented on #32337
Thinking about this more, I'd prefer a slightly different design.  There's nothing in the `LazyThreadSafetyMode` per se that's about whether exceptions are cached or not; although the XML docs go into details about resulting behavior, the values are really just about the thread-safety nature of the operation.  As such, whether exceptions are cached or not could actually apply to any of the existin

[2018-09-26 15:42] #32461 closed

[2018-09-26 15:43] safern commented on #32391
The Buffers error is now fixed.

[2018-09-26 15:47] stephentoub opened #32485 "API Proposal: Expose TheadPool.UnsafeQueueCustomWorkItem and IThreadPoolWorkItem"
_From @davidfowl on August 30, 2018 3:3_

When looking at a memory dump, it would be great if we could see data about work items in the various queues. Some of the things that would be interesting to see per work item
- A display name (HttpRequest/TaskContinuation) that can be provided by the caller
- An elapsed time to know how long an item was in the queue

This sort of info might help when look

[2018-09-26 15:47] stephentoub commented on #32485
_From @davidfowl on August 31, 2018 18:13_

I had a thought. Instead of exposing these properties what if we just exposed something like `IThreadPoolWorkItem`? That would make it easier to implement it on user objects that have more context.

[2018-09-26 15:47] stephentoub commented on #32485
If this is about dumps, that data could all be stored in the state object that the caller provides, as that would be visible/inspectable in a dump, too, and that can be done with the implementation and API as they already exist.

I don't think we should add a display name to work items; we did that initially with tasks, and it ended up not being particularly useful, and backed it out... plus it al

[2018-09-26 15:47] stephentoub commented on #32485
_From @davidfowl on September 2, 2018 20:39_

I realize that, closures do work they are just extremely obscure to build tooling on top of.

Yep, that's why I kinda changed my suggestion to be exposing something like IThreadPoolWorkItem instead of adding those fields to every work item. That might be the best compromise and would allow callers to provide a custom work item instances.

Part of the t

[2018-09-26 15:47] stephentoub commented on #32485
_From @davidfowl on September 3, 2018 8:53_

Just thought of another benefit of exposing this API, in Kestrel, we'd basically shave most of the QUWI allocations down since we're just invoking the callback over and over but incur the cost of a QueueUserWorkItem allocation when we don't need to:

https://github.com/aspnet/KestrelHttpServer/blob/8f6cb72ef27d86c9f691ba39851aa958a265cd5e/src/Kestrel.Tr

[2018-09-26 15:47] stephentoub commented on #32485
That's what I meant by "It would allow for certain schemes to be implemented more efficiently for someone that really knows what they're doing,"

[2018-09-26 15:47] stephentoub commented on #32485
_From @davidfowl on September 3, 2018 14:51_

Yep I was just calling out one of those concrete cases

[2018-09-26 15:47] stephentoub commented on #32485
_From @davidfowl on September 3, 2018 15:5_

Should I file a new bug or change this one to be the concrete API proposal?

[2018-09-26 15:47] stephentoub commented on #32485
Thanks. Either's fine.

[2018-09-26 15:47] stephentoub commented on #32485
Generally looks fine.  A few notes:
-  `bool forceGlobal` should instead be inverted to `bool preferLocal` to match the `QueueUserWorkItem` overload with that argument we already exposed: https://github.com/dotnet/coreclr/blob/0821f6f06f34146053356bf944d01aff086bb312/src/System.Private.CoreLib/src/System/Threading/ThreadPool.cs#L1316
- `ExecuteWorkItem` should probably just be `Invoke` (or `Execut

[2018-09-26 15:47] stephentoub commented on #32485
_From @davidfowl on September 4, 2018 2:0_

Updated the proposal.

[2018-09-26 15:47] stephentoub commented on #32485
_From @vancem on September 4, 2018 20:22_

I think this proposal is OK.  It is conceptually very simple.  It really is just exposing another UnsafeQueueUserWorkItem that instead of passing the pieces of the work item (the delegate and state) it allows the (advanced) user to take control of the work item state (typically to add more state, but Also to allow pooling or other advanced things).

I agr

[2018-09-26 15:49] bartonjs commented on #32428
@glatzert I'm not sure what you mean by "IIS Centralized Certificate Store".

If you're importing the certificate into a LocalMachine certificate store you need to ensure that the private key lives in a machine context (vs a user context).  If you're using .NET/PowerShell to add the certificate to the store then if you're opening it from the exported PFX you need to assert `X509KeyStorageFlags.Mac

[2018-09-26 15:53] dmetzgar commented on #2394
@VenkateshSrini, I don't think it is necessary for Microsoft to provide a cross-platform workflow framework. In the .NET Framework days Microsoft provided everything, which was to the detriment of the overall community. I'd like to see more .NET open source libraries adopted by organizations and made "production ready".

@watertree, I'm waiting on a new release of Portable.Xaml. There's a critical

[2018-09-26 15:56] bartonjs commented on #32425
Closing in favor of #3034.

[2018-09-26 15:56] #32425 closed

[2018-09-26 16:05] sgf commented on #30197
any process for this ?
i want to use raw socket in .net core on linux to create a ip server. 😂

[2018-09-26 16:06] wgebczyk commented on #30368
@joshfree Well, that aligns nice with my thinking -- to create a tool that will generate problematic zip files that would trigger boundary conditions (like buffer sizes =/+/- 1 - etc). Then I will start investigation. Thanks!

[2018-09-26 16:08] MarcoRossignoli commented on #32465
@groogiam you could star forking repo https://github.com/dotnet/corefx/wiki/Checking-out-the-code-repository#fork-the-repository
And build corefx! https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md
If build succeeds you can open System.Drawing.Common.sln solution, it contains your prop(IsValid) source code(corefx contains some solutions)
https://github.com/

[2018-09-26 16:28] ericstj commented on #32457
Perhaps we should then broaden this issue to make validation check that reference assembly and impl have the same set of assembly references for desktop assemblies?  That's a bit of a hammer and doesn't really make sense in most cases but it could help fix this.

[2018-09-26 16:35] TylerBrinkley commented on #31942
Really appreciated hearing the discussion of this in the (.NET Design Reviews GitHub Triage)[https://youtu.be/hLbCfJSPIaI?t=5534].

I think this should go back to triage to decide the best design approach. Again, personally I'd much prefer the extension method route.

[2018-09-26 16:36] ViktorHofer commented on #26457
Fixed with https://github.com/dotnet/corefx/pull/31260

[2018-09-26 16:53] ViktorHofer commented on #6901
On https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20180926.03/workItem/Orchestration/analysis/external/Link I can see that we have netcoreapp-arm64 official builds.

@joshfree I believe we should add a uap-arm64 leg to the official builds. I already updated the uap dependencies to work with arm64: https://github.com/dotnet/arcade/pull/874

[2018-09-26 17:16] wfurt commented on #32452
They may do it only for official CI runs, not for PRs.

[2018-09-26 17:34] xhoogland commented on #32355
Unfortunately experiencing the same issues as described here. It looks to me that, in this case, the problem is caused by a dependency of DocumentFormat.OpenXml on System.Runtime.Serialization.Xml which has one on System.Runtime.

Bindingredirects are added regardless of having the checkbox 'Generate binding-redirects', or something like that, checked.

[2018-09-26 17:38] MattGal commented on #32452
@danmosemsft sure!  This is a bug in RunTests.cmd.  Some notes:

- MaxRetryCount for the run is set to 3.  That means that if a work item returns a non-zero exit code, the entire item will be retried from scratch, possibly on a different machine depending on availability.
- RunTests however is now returning 0 despite the logging listed below.  This means that automatic retry will not happen.
- Jus

[2018-09-26 17:43] robertmuehsig commented on #32355
I'm pretty sure I have seen other packages behave  the same way as the DocumentFormat.OpenXml package. The most common binding redirect that is inserted on our solution was the System.Net.Http package.

[2018-09-26 17:45] weshaggard commented on #26457
@ViktorHofer what in #31260 fixed this? Is it the fact that we now set the TargetFramework attribute that causes this to get generated?

[2018-09-26 17:48] joshfree commented on #6901
Thanks @ViktorHofer -- @tommcdon owns the uap space now;  @tommcdon what are your thoughts here?

[2018-09-26 17:59] VSadov commented on #26772
Attempts to support `ref` in S.L.E quickly runs into issues with poor support for `ref` in Reflection.
See https://github.com/dotnet/corefx/issues/4411 and linked bugs/discussions.

All that reflection has in this area is copyback via an object array for `ref` parameters. That is slow and breaks aliasing, which is often the main point of `ref`, - try using `Interlocked.CompareExchange` through ref

[2018-09-26 18:02] Petermarcu commented on #6901
Folks are adding more devices to the lab as we speak and there should also be a test queue available in the next couple days to send our test to for arm64-linux.

[2018-09-26 18:04] VSadov commented on #26772
Ignoring the reflection issues, the proposal here makes sense. It may be worth some prototyping to see if there is something missing.

I think there will be a need for an assignment expression to be able to tell whether it is a `ref` or ordinary `byval` assignment as otherwise we may see ambiguous situations.

[2018-09-26 18:51] danmosemsft commented on #29014
Putting in Winforms project although it's not directly related

[2018-09-26 18:56] danmosemsft commented on #29014
@jeffschwMSFT do you own the "exe" story?

[2018-09-26 18:57] stephentoub commented on #30691
Does the ASP.NET repro involve a CancellationToken firing at any level of the stack?

I'm wondering if https://github.com/dotnet/coreclr/issues/19839 may be related.  It's possible it's not, or it's possible there are multiple unrelated issues here.  But the behavior that results from the bug in that issue could potentially result in the kind of symptom originally reported, since if the right sequ

[2018-09-26 19:00] jeffschwMSFT commented on #29014
My team owns a good portion of the host to the point of exe activation.

[2018-09-26 19:00] danmosemsft commented on #31987
@jcouv do you own ValueTuple?

[2018-09-26 19:00] OHAVM commented on #31423
I am having this same exact issue as well. Is there any update on the resolution of this issue/breaking change?

[2018-09-26 19:09] redshiftz commented on #14950
@JeremyKuhne I grabbed your port, uncommented and tried to build. There is another class missing from core that needs to be added to enable this. FipsAwareEncryptedXml (https://referencesource.microsoft.com/#System.Configuration/System/Configuration/FipsAwareEncryptedXml.cs). Once i ported it locally, your port of RsaProtectedConfigurationProvider works.

As @krwq mentioned, there are legal issues

[2018-09-26 19:19] danmosemsft commented on #29014
.NET Framework just pulled ::GetCommandLineW(). Any reason that wouldn't give the result we expect for these .NET Core based exe's?

It looks like on Unix you look in `/proc/<pid>/cmdline`

[2018-09-26 19:42] weshaggard commented on #32457
Even if we broaden the validation we need a way to make the ref match the implementation. So we would either need to publish the lib into the ref folder (perhaps stripping the IL) or have some way to artificially add the assembly reference to the ref.

[2018-09-26 19:50] GrabYourPitchforks commented on #31302
@stephentoub Sure, let me ping some people in-person and see what the best path forward would be. The implementation currently depends on some other refactorings to the `string` and `CultureInfo` classes, and I'll gauge the temperature of bringing those improvements over at the same time.

[2018-09-26 19:51] stephentoub commented on #31302
Thanks.

[2018-09-26 19:51] jeffschwMSFT commented on #29014
In the case of the apphost it should.

[2018-09-26 19:56] ViktorHofer commented on #32452
@MattGal how does the CI determine the error code? With the `IF ERRORLEVEL` command or by looking into `%ERRORLEVEL%``

[2018-09-26 20:05] danmosemsft commented on #29014
The tricky part is deciding when we want to use that, and when we want Environment.CommandLine to return only the arguments (as it always does currently).

The magic that currently eliminates "dotnet.exe" from the command line seems to be this stack - the CLR itself calls Environment.SetCommandLineArgs very early:
[code]

In Environment.CommandLine it will prefer that
[code]

[Note to self. When n

[2018-09-26 20:06] mariusGundersen commented on #32337
There's two reasons I added a new enum value rather than add a boolean argument:

First of I'm of the opinion that adding bools as arguments is bad for readability of the code, and that it is better to use enums or have multiple methods. [This is well documented](https://softwareengineering.stackexchange.com/questions/147977/is-it-wrong-to-use-a-boolean-parameter-to-determine-behavior) and is a pa

[2018-09-26 20:09] stephentoub commented on #32337
I understand your reasons.  But whether the exception is cached or not has little to do with the thread safety mode of the object, which is what that enum is about.  From my perspective, adding an unrelated and orthogonal value to an enum is more confusing and more complex than adding it as a separate argument.

[2018-09-26 20:10] MattGal commented on #32452
We don't use batch files, rather the python 2.7.x process APIs.
 https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.CloudTestTasks/RunnerScripts/scriptrunner/scriptrunner.py#L95 returns the return code of whatever it ran (RunTests.cmd in this case), and the underlying python Helix client decides whether this is pass/fail based off of the exit code of the process it started

[2018-09-26 20:13] stephentoub commented on #32481
I'm assuming this was opened in error. Closing.

[2018-09-26 20:13] #32481 closed

[2018-09-26 20:39] mariusGundersen commented on #32337
I see what you mean. It's a bit weird that two of the `LazyThreadSafetyMode` enum values cache the exception but one of them don't, so the bool final argument will have a strange definition for its default value. IMO the `LazyThreadSafetyMode` enum is strangely named and `Lazy` is already a bit too complicated to use, and probably should have been multiple different classes, but that's too late to

[2018-09-26 20:41] stephentoub commented on #32337
There wouldn't be a default value.

Thankfully we have named arguments now, e.g.
[code]

[2018-09-26 20:41] pjanotti commented on #32420
Last coverage run removing CoreLib indicates that we should do this rather soon: one test crashed (known issue with OpenCover) but it completed the pass.

[2018-09-26 20:53] mariusGundersen commented on #32337
'Default value' as in one of the overloads that don't take the bool argument. Most of the time when there is an overload without a bool argument it's clear how it will behave, as if there was a default value, but in this case it might be more difficult to document clearly.

[2018-09-26 20:54] mariusGundersen commented on #32337
But I'm not objecting to your suggestion, so if there is a vote or something now (I've never proposed something here before) it has my vote 👍

[2018-09-26 21:02] jkotas commented on #29014
I do not think there is any advantage in doing this on Unix compared to what we are doing today - it should return the same result. The issue described here is Windows specific.

[2018-09-26 21:07] wfurt commented on #29014
[code]

That is essentially list of tokens equivalent of argv. (notice '\0' chars)

As far as I know there is no way to get the actually text user typed.
Certainly not for commands from shell as shell will process quoting, escaping and variable expansion before calling exec()

[2018-09-26 21:10] wfurt commented on #29014
one more note, that there are tricks to manipulate process name (and arguments) visible via ps.
(At least on Linux)

[2018-09-26 21:29] wtgodbe commented on #32163
We have a new version of Pipelines being produced by 2.1 - https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/2.1/Latest_Packages.txt. Closing.

[2018-09-26 21:29] #32163 closed

[2018-09-26 21:41] stephentoub opened #32493 "GetAsync_IPv6LinkLocalAddressUri_Success consistently failing locally"
When I run all System.Net.Http.Functional.Tests locally, the GetAsync_IPv6LinkLocalAddressUri_Success test consistently fails for me, on both WinHttpHandler and SocketsHttpHandler.  Is this a known issue?  Is my machine potentially configured in a way the test doesn't like?
[code]

[2018-09-26 21:42] ericstj opened #32494 "Add test coverage for StandardOleMarshalObject"
See https://github.com/dotnet/corefx/pull/32491

We should add test coverage for this newly ported type.

@luqunl do you know of a trick to route a call through COM using purely managed code (eg: an RCW(CCW(managedobject)))

If we can do that, then I can imagine we could just call a COM-exposed method on the StandardOleMarshalObject derived type from a different thread and verify that it runs on t

[2018-09-26 21:48] stephentoub commented on #31984
@maryamariyan, this is failing in release/1.0.0 but not in other branches?

[2018-09-26 22:10] davidsh commented on #32493
I think it might have something to do with VPN use.  Is any VPN being used? I.e. to corpnet or something?

[2018-09-26 22:19] jeffschwMSFT commented on #29014
@danmosemsft I may have missed something, but why would Environment.CommandLine return any other than what was passed to the entry point?  The cases where create delegate, etc. seem nice to have but not required.  Based on your comment it looks like commandlines are not round tripable through PasteArguments.Paste.

[2018-09-26 22:27] juliushardt commented on #23671
As I see it, `WindowsRuntimeBufferExtensions.ToArray()` is working as expected.
If you call `ToArray()` on a buffer of length zero, you effectively get `WindowsRuntimeBufferExtensions.ToArray(buffer, sourceIndex: 0, count: buffer.Length)` because [the former calls the latter](https://github.com/dotnet/corefx/blob/e0ba7aa8026280ee3571179cc06431baf1dfaaac/src/System.Runtime.WindowsRuntime/src/System

[2018-09-26 22:28] jkotas commented on #29014
Yes, that's correct. It is by design.

`Environment.CommandLine` for Windows .NET Framework .exes returns the verbatim command line, before any round-tripping.

[2018-09-26 22:35] #32343 closed

[2018-09-26 22:42] rmkerr commented on #30691
There are definitely cancellations occurring in the test suite. We don't currently have the logging we need to say for sure if the specific failure is caused by a cancellation token firing, but it's possible. @halter73 can you confirm?

I do have a negative result to share. I'm not sure it got me any closer to a solution, but the info may be useful. I don't think that any of the data conflicts wit

[2018-09-26 22:47] ericstj commented on #17905
I've regenerated the data.  Here it is as a new list, I didn't want to overwrite what was there in case folks find it relevant.

- [ ] [Microsoft.CSharp](http://tempcoverage.blob.core.windows.net/report4/Microsoft.CSharp.diff.html) ([csv](http://tempcoverage.blob.core.windows.net/report4/Microsoft.CSharp.diff.csv))
- [ ] [Microsoft.VisualBasic](http://tempcoverage.blob.core.windows.net/report4/Mic

[2018-09-26 22:50] AceHack opened #32497 "Please add ReadOnlySequence<byte> Overloads"
[code]

See this gist for example usage.

https://gist.github.com/AceHack/786e558f14b2d9c0d46a1ea330c158f7

[2018-09-26 23:15] jefffhaynes commented on #23671
I see what you’re saying but that behavior makes zero sense and runs contrary to every other interface in .net with similar semantics (array copy, stream write, etc).

The implementation actually looks like a copy and paste error since the check serves no purpose and is overprotective of the method.

Thanks for the info on building the framework!

________________________________
From: Julius Hard

[2018-09-26 23:27] danmosemsft commented on #32465
Thanks @MarcoRossignoli ! Now you are one of the experts on working here 😸

[2018-09-26 23:46] jbhensley commented on #32454
I just used the PowerShell script to generate client requests because it was quick and easy.

Ok, so I've got a workaround for you and some information that will hopefully help the next person who looks at this be able to track it down. I tried, but I'm just not seeing exactly where it's all going wrong even though it feels like I'm close.

The workaround is actually pretty simple: just close/disp

[2018-09-26 23:47] terrajobst commented on #32235
Looks good as proposed.

[2018-09-27 00:01] terrajobst commented on #30775
I've renamed this issue to capture what is actually necessary to pull this. I think it would be part of the Windows Compat Pack as I don't think we can make this cross-platform.

[2018-09-27 00:05] stephentoub commented on #32493
I'm not VPN'd in, but I do have multiple VPN configurations (i.e. I can VPN in but I'm not currently connected to corpnet through them).

[2018-09-27 00:36] stephentoub commented on #31740
Not until we have a repro :)

That said, accessing StreamReader.BaseStream is a bit suspicious.  The StreamReader could have buffered data from the stream, such that it's been consumed from the Stream and is sitting in the StreamReader's buffer.  The shared code isn't doing any manipulation of the reader, so this may not be the issue, but that's why having a repro that actually shows the problem i

[2018-09-27 00:45] davidsh commented on #32493
I think this generates additional IPv6 link-local addresses but some of those aren't connected maybe.  We need to fix the tests to be smarter about this.

[2018-09-27 01:18] halter73 commented on #30691
Neither Kestrel server itself nor any of the client code in the Socket transport functional tests pass a CancellationToken to any Socket/NetworkStream operations.

[2018-09-27 01:45] halter73 commented on #30691
Ah. I looked at the PR and see it's a CancellationToken, not a Socket bug. I still doubt it's related since each Kestrel test starts a new server and connection(s).

The [test that fails most frequently](https://github.com/aspnet/KestrelHttpServer/blob/f56b682b364ebf12cb1779b0110536f8b2648bfc/test/Kestrel.Transport.FunctionalTests/ResponseTests.cs#L789-L862) due to this issue makes a single reques

[2018-09-27 01:59] stephentoub commented on #30691
Does that mean no CTS has cancellation requested?  If that's the case then for better or worse it's definitely not the issue I suggested.