[2017-06-27 02:44] Jiayili1 commented on #21556
This issue is repro on Core Tests, checked that the commit is not in this build, will check it on next build, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170627.01/workItem/System.Runtime.Performance.Tests/analysis/xunit/System.Tests.Perf_String~2FContains(comparisonType:%20CurrentCultureIgnoreCase,%20size:%20%5B1

[2017-06-27 02:56] scionwest commented on #21530
I just ran the tests against netcoreapp2.0 and netstandard2.0 and had the same results. I also updated from `System.Data.SqlClient` 4.3.1 to the 4.4.0-preview1-25305-02 release and had the same results.

[2017-06-27 02:59] saurabh500 commented on #21530
@scionwest Have you tried the Sync APIs as well?

[2017-06-27 02:59] saurabh500 commented on #21530
Also are these results of a single call when the application starts up or are you seeing these results as an average of multiple calls?

[2017-06-27 03:41] kouvel commented on #21585
Yes I had made that change, there may be a duplicate of the code in corert that is not fixed. I'll take a look.

[2017-06-27 03:48] dotnet-mc-bot opened #21598 "Test failure: System.Data.SqlClient.Tests.SqlConnectionBasicTests/IntegratedAuthConnectionTest"
Opened on behalf of @danmosemsft

The test `System.Data.SqlClient.Tests.SqlConnectionBasicTests/IntegratedAuthConnectionTest` has failed.

System.DllNotFoundException : Unable to load DLL 'sni.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

        Stack Trace:

           at System.Data.SqlClient.SNINativeMethodWrapper.UnmanagedIsTokenRestricted(IntPtr token,

[2017-06-27 03:49] danmosemsft commented on #21598
@joperezr on the ARM run, sni.dll does not appear to be packaged. Any idea?

[2017-06-27 03:49] danmosemsft commented on #21598
cc @saurabh500

[2017-06-27 03:52] scionwest commented on #21530
@saurabh500 Average time over 1,000 iterations, as shown [in my repro](https://github.com/scionwest/DapperRepro/blob/ADO_net_issue/DataAccess/AppService.cs#L28), within a single open connection using a transaction. Note that these results are roughly the same if I create/open a new connection each iteration or if I omit the use of a transaction all together.

I have not tried the synchronous APIs

[2017-06-27 04:35] danmosemsft commented on #21302
The above is a different problem, but, fine. I repro, but only running elevated.

[2017-06-27 04:37] tijoytom commented on #21440
@Jiayili1 This is fixed , wait for the next couple of test runs

[2017-06-27 04:39] Tratcher commented on #21568
@galvesribeiro connection management is one of the hardest problems in the client stack, offloading that to the user isn't doing them many favors. server-to-server can use a somewhat simplified model, but even then you're not going to want to restrict it to a single connection bottleneck so you still need to track and assign connections. Doing this poorly can severely compromise the performance of

[2017-06-27 04:39] #21441 closed

[2017-06-27 04:58] Drawaes commented on #21568
Agreed on the state. But the problem for service 2 service often is the state. In a "microservice" environment you often have services calling others as driven from one incoming request.

I agree it is tough to write this by yourself so then I think a "shared primitive connection" with the socket and parsing code that is used in the httpclient and another "service" based http client would be ideal

[2017-06-27 05:05] Tratcher commented on #21568
`using (var client = new HttpClient()) { ... }` is one of the most frequent and impactful mistakes I see made. Developers have been drilled into doing this for all IDisposable's, but they fail to appreciate the complexity of the resources being managed by that client and the consequences for churning them. The docs have helped explain the issue after the fact, but the same mistakes continue to be

[2017-06-27 05:26] Drawaes commented on #21568
I agree with the above approach. I think maybe what might be useful here is to provide use cases. Then they can be assessed as to their commonality as well as the ability to modify the current API, or other solutions for them rather than talking in the abstract. So @Tratcher 's comment above is perfect in that respect.

I have the use case of a front end service (servicing a JS UI) that calls a nu

[2017-06-27 05:52] dotnet-mc-bot opened #21602 "String IndexOf and LastIndexOf in CoreRT do not support InvariantCulture/InvariantCultureIgnoreCase"
Opened on behalf of @Jiayili1

The test `System.Tests.StringTests/Contains(s: \"Hello\", value: \"ELL\", comparisonType: InvariantCulture, expected: False)` has failed.

System.ArgumentException : NotSupported_StringComparison. For more information, visit http://go.microsoft.com/fwlink/?LinkId=623485

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0xbddaa4
       at System

[2017-06-27 06:02] danmosemsft commented on #21602
These have been missed from the corert corelib. They are supported in coreclr.

eg https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/String.Searching.cs#L244

@AtsushiKan

[2017-06-27 06:13] danmosemsft commented on #21214
This is because https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Exception.cs#L52 throws NSE whreas on CoreCLR it throws PNSE. Bug in CoreRT corelib.

[2017-06-27 06:26] PureKrome commented on #21568
I think these two sentences are so smack bang on the mark. I don't have any suggested solutions to all of this but I can fully, 100% attest to what @Tratcher summed up.

When I read that (now famous) DotNet Monsters article, my 'WTF' could probably be heard across the entire country :( That said, I felt way better when _every_ person I asked, they to didn't know about this and we all thought we we

[2017-06-27 06:26] danmosemsft commented on #21443
@joshfree can you please assign? The implementatoin is in the runtime. The test is expecting GCSettings.LatencyMode to throw IOE but instead System.GC.EndNoGCRegion is throwing IOE, in x64 release.

[code]

[2017-06-27 06:33] #21360 closed

[2017-06-27 06:39] dotnet-mc-bot opened #21605 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/GetAsync_IPBasedUri_Success(address: ::1) failed with "System.Net.Http.CurlException : Couldn't connect to server""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/GetAsync_IPBasedUri_Success(address: ::1)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.
    ---- System.Net.Http.CurlException : Couldn't connect to server

        Stack Trace:

           at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Thro

[2017-06-27 06:50] #21302 closed

[2017-06-27 06:53] Jiayili1 commented on #20245
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170627.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2017-06-27 06:53] v-haren commented on #21554
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/97/testReport/System.Diagnostics.Tests/StackTraceTests/Ctor_SkipFrames_FNeedFileInfo_skipFrames__1__fNeedFileInfo__True_/

[2017-06-27 06:57] Jiayili1 commented on #20307
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170627.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadData_LargeData_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-06-27 07:09] danmosemsft commented on #21602
Easy fix for quite a lot of tests

[2017-06-27 07:19] Jiayili1 commented on #21261
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170627.01/workItem/System.Numerics.Vectors.Tests.Execution/analysis/xunit/System.Numerics.Tests.GenericVectorTests~2FSquareRootSingle

[2017-06-27 07:29] dotnet-mc-bot opened #21609 "Test: System.Threading.Tests.MutexTests/Ctor_TryCreateGlobalMutexTest_Uwp failed with "System.AggregateException""
Opened on behalf of @Jiayili1

The test `System.Threading.Tests.MutexTests/Ctor_TryCreateGlobalMutexTest_Uwp` has failed.

System.AggregateException : One or more errors occurred. (Assert.Throws() Failure\r
    Expected: typeof(System.UnauthorizedAccessException)\r
    Actual:   (No exception was thrown))\r
    ---- Assert.Throws() Failure\r
    Expected: typeof(System.UnauthorizedAccessException)

[2017-06-27 07:31] hughbe opened #21610 "Errors running netfx locally"
[code]

When compiling the netfx tests, I get the following errors for most projects in corefx

[code]

I've had this issue for a while and have worked around this by adding the following to the test project (then removing it before submitting as a PR)

[code]

Has anyone seen this before? Thanks :D

[2017-06-27 07:36] danmosemsft commented on #21610
@weshaggard ?

[2017-06-27 07:56] danmosemsft commented on #21261
@tannergooding @mellinoe thoughts about this.. on ARM with ILC we get different results. Note the input values are randomly generated for this test. Is IsHardwareAccelerated true on these machines?

[2017-06-27 08:03] danmosemsft commented on #21597
Probably need to add an entry to `UnixFileSystemTypes` for https://en.wikipedia.org/wiki/Apple_File_System

[2017-06-27 08:04] danmosemsft commented on #19909
@safern I guess we have this and you can clean this up now?

[2017-06-27 08:05] danmosemsft commented on #21425
@tarekgh this is new in High sierra. In such cases, do we check the ICU tables to make sure it's because they are using an updated ICU, or do we just update the baselines?

[2017-06-27 08:06] danmosemsft commented on #21426
@tarekgh another high sierra change. how to tell whether to update test baseline here?

[2017-06-27 08:06] danmosemsft commented on #21433
@tarekgh another glob change in high sierra. thoughts?

[2017-06-27 08:07] hughbe commented on #21401
Updated to RS2 and everything works beautifully. Cheers

[2017-06-27 08:07] #21401 closed

[2017-06-27 08:52] qmfrederik commented on #20706
@mellinoe I noticed the license headers seem to be off for these files:

* [PrintingPermissionLevel.cs](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/Printing/PrintingPermissionLevel.cs)
* [PrintingPermissionAttribute](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/Printing/PrintingPermissionAttribute.cs)
* [Pri

[2017-06-27 09:19] jiabiao opened #21612 "reuse httpclient failed on windows."
The following code works fine under full framework and Linux, but failed on windows .net core.

csproj:
[code]

Program.cs
[code]
Exception:
Unhandled Exception: System.AggregateException: One or more errors occurred. (Error while copying content to a stream.) ---> System.Net.Http.HttpRequestException: Error while copying content to a stream. ---> System.IO.IOException: The write operation failed,

[2017-06-27 09:55] BisiAden opened #21613 "XmlNodeReader not wotking"
Please, what is an alternative for using xmlNodeReader as it is not working at the moment for .net core?

[2017-06-27 10:03] galvesribeiro commented on #21568
We all know the side effectos od the `using()` on `HttpClient`, so, why keep it implementing `IDisposable` in the first place?

Also, `static`s... I've see terrible scenarios that were always driven by having a _shared thing_ statically... We had an huge refactory on Orleans recently just to avoid a single static client class... I would rather avoid that... Other scenarios will eventually come, an

[2017-06-27 10:08] poke commented on #21568
Because `IDisposable` isn’t about an object supposedly being short-lived at all. It’s about whether an object has unmanaged resources that should be disposed. And if `HttpClient` has that (as it looks like), it makes perfect sense to implement `IDisposable`.

It’s just that `IDisposable` often implies that one should only keep the object open for a short time, although that’s not actually stated b

[2017-06-27 10:25] shadowca opened #21614 "wrong implementation of the try pattern ?"
Hi,
I've just stumbled across the following code.
[code]
This is an snippet from the **TryGetConnection** method of class **DbConnectionPool** and I would expect a return value _false_ if the connection is null.

[2017-06-27 10:59] galvesribeiro commented on #21568
@poke and that is the point... Short-lived or not, the user assume that they _should_ call `Dispose()` once they are done with that object. `using()` is just a syntax-sugar to define scope and call it automatically.

Anyway more a philosophical comment. :)

[2017-06-27 11:03] clrjunkie opened #21615 "Suggestion: Partner with SlickEdit"
I recently evaluated the SlickEdit code editor and was totally blown by its speed and feature-set.

I installed it inside a VM running Ubuntu Desktop with 4GB ram/2 proc and honestly I couldn't sense a VM environment in any way.

I highly recommend the team reach out and discuss .NET Core support. It would be super to have it as an additional cross-platform editor alongside other offerings like Je

[2017-06-27 11:36] onovotny commented on #1936
@karelz should this become a part of the new HttpClient work going on now?

[2017-06-27 11:45] #21609 closed

[2017-06-27 11:53] ViktorHofer commented on #20888
Is still happening? It seems this issue contains multiple issues, right?

[2017-06-27 13:24] olviko commented on #21568
@stephentoub

SqlConnection has a limited (clumsy?) way to do that through connection string flags. ServicePoint is just plain sucks.

Just let us implement/instantiate DNS and TCP connection managers and then pass them into HTTP client or HTTP request through an overloaded ctor. Default to global singletons otherwise.

[2017-06-27 13:29] bbunderson commented on #6024
I agree with Drawaes. Logging should stay at an abstracted layer. We just rewrote our service hosting package and removed Event Logging from it.

[2017-06-27 13:31] mregen opened #21622 "X509Chain doesn't detect cert with invalid signature on Ubuntu, properly detected on Windows"
I'm working UACTT test cases for the https://github.com/OPCFoundation/UA-.NETStandardLibrary. (VS2017 15.2/Ubuntu dotnet-dev-1.0.4)
This is a cert with invalid signature: [opcuactt_incorrectsign.zip](https://github.com/dotnet/corefx/files/1105376/opcuactt_incorrectsign.zip)

[code]

On Windows, the chain status after this code for the attached cert contains `NotSignatureInvalid `and `UntrustedRoot

[2017-06-27 13:35] safern commented on #20888
Yes this is still happening, the tests are disabled. Yes the issue contains multiple failures that are all related to serialization stuff. The tests are disabled against this issue, so if you search for the issue number in the test src code you will find all the tests easily.

[2017-06-27 13:36] olviko commented on #21568
The problem with HttpClient is that it is doing way too many things internally instead of delegating them to other classes. It should not be responsible for managing DNS cache or TCP connection pools.

[2017-06-27 13:37] ViktorHofer commented on #20888
Okay I will take a look. I found these matching tests:
[code]

[2017-06-27 13:43] safern commented on #19909
Yes we can now use the new TFM you added. I will do that clean up.

[2017-06-27 13:49] davidsh commented on #1936
This particular issue is not a bug in the HttpClientHandler. So, the work going on to create a new managed handler won't solve this.

This is a bug/issue in the FormUrlEncodeContent class which is part of the larger HttpClient API surface and is not a network I/o issue, per se.

[2017-06-27 13:57] #21088 closed

[2017-06-27 13:59] AtsushiKan commented on #19044
The status quo is that they're being compared using their Object.Equals() override (which means I guess this is actually a correctness bug on CoreCLR too - not just a perf bug?)

The fix is probably then not to use EqualityComparer&lt;HashBucket&gtl.Default to compare hash buckets in the first place (disclaimer: I don't know if that one instance I found is the only site that compares hash buckets.

[2017-06-27 14:12] PilgrimViis opened #21624 "Expand the API surface/features for multicast in Sockets"
When I call SetSocketOption on Windows it's work, but on Linux it throws

   at System.Net.Sockets.Socket.SetSocketOption(SocketOptionLevel optionLevel, SocketOptionName optionName, Byte[] optionValue)

I tried with dotnet v1.0.4 and debian 8.2.
Example:

[code]

[EDIT] Add C# syntax highlighting by @karelz

[2017-06-27 14:12] MgSam commented on #18159
Also agree with @svick.

I've used [Deedle](http://bluemountaincapital.github.io/Deedle/), a data frame library, extensively in C#. It depends on FSharp.Core and thus relies heavily on an `Option<T>` type.

The `Option<T>` type is unbelievable annoying to work with. While in C#, we have always had nullable value types (ex. `int?`), Deedle tries to express a lack of value using the F# `Option` type

[2017-06-27 14:14] davidsh commented on #21612
Thanks for the detailed bug report.

Based on what you describe, would you say this is a bug in the System.Net.Http.Formatting.dll and specifically the PostAsXmlAsync() extension method?  If so, we need to move this bug to the ASP.NET repo.

Or do you think this is a bug in the CoreFx HTTP stack when using PostAsXmlAsync() ?

[2017-06-27 14:21] tannergooding commented on #21261
I wouldn't think that `IsHardwareAccelerated` would matter for `Sqrt`. `Math.Sqrt` is an intrinsic regardless of whether SIMD instructions is used.

That being said, there could be a potential difference between `vsqrt.f32` and `vsqrt.f64` depending on the exact input. If `Vector<T>.Sqrt` were hardware accelerated it would use the vector form of the `vsqrt.f32` instruction. However, `Math.Sqrt` wo

[2017-06-27 14:31] stephentoub commented on #21622
cc: @bartonjs

[2017-06-27 14:32] stephentoub commented on #21614
This is an internal method.  Is the behavior you've highlighted causing a problem for the internal code consuming it?

cc: @saurabh500

[2017-06-27 14:33] AArnott commented on #19044
Ya, that's what I was coming to as well. Thanks for confirming.

[2017-06-27 14:38] hughbe commented on #20712
@qmfredrik I was wondering if you could share any documentation or instructions you have for building libgdiplus on Windows.
So far I've managed to get the solution opened after also installing the vs2015 c++ tools, but am getting lots of errors for glib.h. Obviously this is a missing dependency. I can fix this myself but I was wondering how you do it so this can be documented and I do this right.

[2017-06-27 14:46] qmfrederik commented on #20712
@hughbe When I got libgdiplus to compile on Windows, I documented the steps in the [appveyor.yml](https://github.com/mono/libgdiplus/blob/master/appveyor.yml) file.

The `before_build` section contains the section where the dependencies are downloaded, you'll need https://dl.hexchat.net/gtk-win32/vc14/x86/gtk-Win32.7z or https://dl.hexchat.net/gtk-win32/vc14/x64/gtk-x64.7z and extract it to the `g

[2017-06-27 15:11] jiabiao commented on #21612
I didn't go deep into this issue, and don't know the root cause of it.
Because these code works on Linux , so I guess it may be a bug in the CoreFx HTTP stack on windows.

[2017-06-27 15:17] AtsushiKan commented on #21602
Fixed: https://github.com/dotnet/corert/pull/3992

[2017-06-27 15:17] #21602 closed

[2017-06-27 15:29] ViktorHofer commented on #19931
@davidsh @danmosemsft does this still apply?

[2017-06-27 15:30] ViktorHofer commented on #19870
Already fixed.

[2017-06-27 15:30] #19870 closed

[2017-06-27 15:32] ViktorHofer commented on #15337
@ericstj If we still want S.I.FileSystem.AccessControl out of NetCoreApp we should start early for the next milestone (2.1) to think about it.

[2017-06-27 15:38] icanhasjonas opened #21626 "HttpClient::GetStreamAsync() - Leaking handles on *nix when not disposing HttpResponse"
Hello Community,

It seems that there's a leak using the short hand `GetStreamAsync()` on `HttpClient`

The `HttpResponseMessage` is never disposed and therefore leaking handles on the cURL version used on *nix by default.

Relevant:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L250-L256
https://github.com/dotnet/corefx/blob/4709a5cda50ec3d141b

[2017-06-27 15:38] davidsh commented on #19931
I don't know if it is still repros.

With the latest addition of TargetFrameworkMoniker.UapNotUapAot, we now have some clarity for our tests.

TargetFrameworkMoniker.Uap (means both UAP and UAPAOT)
TargetFrameworkMoniker.UapAot (means just UAPAOT)
TargetFrameworkMoniker.UapNotUapAot (means just UAP)

And when we need to use PlatformDetection class, we use PlatformDetection.IsUap. And currently
Pla

[2017-06-27 15:40] davidsh commented on #21626
Is this really a leak or just it hasn't yet been disposed by the finalizers?

cc: @stephen

[2017-06-27 15:41] davidsh commented on #21626
cc: @stephentoub

[2017-06-27 15:43] davidsh commented on #21626
I will say, thought, that disposing an HttpResponseMessage object will dispose everything inside of it which includes the .Content object and related response stream (which is returned by APIs like HttpClient.GetStreamAsync().  So, the code in HttpClient itself can not dispose of the internally used HttpResponseMessage. Otherwise, it would invalidate (dispose) the returned response stream.

[2017-06-27 15:49] davidsh opened #21627 "Implement HttpClientHandler ServerCertificateCustomValidationCallback for UWP"
Part of: https://github.com/dotnet/corefx/issues/20010 epic.

[2017-06-27 15:50] davidsh opened #21628 "Implement HttpClientHandler ClientCertificates for UWP"
Part of: #20010 epic.

[2017-06-27 15:52] borgdylan commented on #21386
ping

[2017-06-27 15:55] christiannagel opened #21629 "InvalidProgramException with ReadOnlySpan<T> ToString()"
Invoking the ToString() method of the Span<T> type results in a System.InvalidProgramException: Common Language Runtime detected an invalid program.

I wouldn't expect the ToString method to work with Span, but I didn't expect this to be an invalid program.

[code]

See: https://github.com/christiannagel/SpanIssues for a test project

[2017-06-27 16:01] icanhasjonas commented on #21626
Sure, the finalizes take care of it.
But I've been running out of handles on unix machines specifically by not disposing the HttpResponseMessage, so I'm assuming it's related. And I understand you can't just dispose the response and expect the stream to be functional. I simply wanted to point out where the response is consumed and not disposed.

Instead of `GetStreamAsync()`, this works as a worka

[2017-06-27 16:04] danmosemsft commented on #19931
Sometimes it's helpful or necessary to do dynamic checks, if you don't want to break a test into UAP and non UAP versions.
Also, if the code is specifically to handle being in app container, I prefer to use IsWinRT (which should be renamed) rather than TFM.UapNotUapAot because that code won't need fixing again if and when we want to run UapAot tests in app container.

We should do the rename now t

[2017-06-27 16:05] danmosemsft commented on #19931
This one of course could be addressed by adding TFM.IsInAppContainer = TFM.UapNotUapAot and later change it to = TFM.Uap.

[2017-06-27 16:12] tarekgh commented on #21425
Most likely they started a new ICU version.

[2017-06-27 16:14] tarekgh commented on #21426
Need to check what version of ICU they are using in high Sierra. I am pretty sure this is the case.

[2017-06-27 16:14] danmosemsft commented on #21425
So do we check this (and the others) are indeed inthe new ICU, before updating the tests for this OSX version?

[2017-06-27 16:15] ViktorHofer commented on #19931
+1 what Dan said.

[2017-06-27 16:17] tarekgh commented on #21406
@ddobric please include your proposed needed APIs so we can figure out the next step.

[2017-06-27 16:26] stephentoub commented on #21626
@icanhasjonas, can you share a small repro that highlights how handles are being leaked?  There should not be a difference in this behavior based on whether the response message is disposed or whether the response stream is disposed, since the former essentially just invokes the latter (disposing of the response message disposes the response content, and disposing the response content disposes the

[2017-06-27 16:28] weshaggard commented on #21610
I've not seen this perhaps @safern has, but we build and run these tests in CI and they don't fail. There is a possibility that the intermixing of netcoreapp builds in the middle exposes some bug. @hughbe can you try the following and see if still repros for you:

[code]

[2017-06-27 16:31] ericstj commented on #15337
Nothing's changed about the desire to remove this since I opened the issue. We should still reserve the right to remove impl-only assemblies in 2.1, we did it in the past.

@wesgaggard may have an opinion.

You might want to look into just directly p-invoking to CreateDirectory with a security descriptor since you only care about applying the ACL when you create the directory and I bet you can get

[2017-06-27 16:31] svick commented on #21613
[`XmlNodeReader` is going to be added in .Net Core 2.0.](https://apisof.net/catalog/System.Xml.XmlNodeReader)

In the meantime, can you use `XmlReader` instead? If not, can you clarify how are you using `XmlNodeReader`?

[2017-06-27 16:33] ViktorHofer commented on #15337
cc @weshaggard as his handle was misspelled above.

[2017-06-27 16:33] joperezr commented on #21386
cc: @danmosemsft @stephentoub who might be more familiar with this code. Looks like the only recent change that we have made around that was #17760 which doesn't really look like could have broken this.

[2017-06-27 16:39] scionwest commented on #21530
I see the same thing with the synchronous API.

[2017-06-27 16:46] weshaggard commented on #15337
AccessControls definitely one of those dependencies I would like to avoid in the core framework libraries so if we can break this dependency without compromising too much we should do it.

[2017-06-27 16:50] marce155 commented on #8951
Sorry to revive this, but I couldn’t find anything and am not linux savvy enough to know if this has been fixed by now or if the workaround is still required since Debian 9 is officially released?

[2017-06-27 16:55] tarekgh commented on #21515
The library is correctly bin placed to the runtime folder. bu twhen running the tests we hard link the runtime files to the test output folder

[code]

I think this is done by @joperezr

[2017-06-27 17:07] davidsh commented on #18116
Remaining work be tracked here:

https://github.com/dotnet/corefx/issues/21627
https://github.com/dotnet/corefx/issues/21628

[2017-06-27 17:07] #18116 closed

[2017-06-27 17:08] saurabh500 commented on #21614
This is not a bug. The calling function checks if the connection was null and if it was null, then it checks the state of the connection pool to throw the correct errors.

[2017-06-27 17:08] #21614 closed

[2017-06-27 17:18] danmosemsft commented on #21386
@janvorli can you help cast light on this perhaps?

[2017-06-27 17:19] danmosemsft commented on #21605
@davidsh this looks on the face of it like typical flaky and not likely to lead to a 2.0 bug. If you agree can you move it out of 2.0 milestone ?

[2017-06-27 17:20] danmosemsft commented on #21273
@JeremyKuhne is this intentionall in the 2.0 milestone? The PR is marked 2.1. I wonder whether they would take this fix at this point.

[2017-06-27 17:22] weshaggard commented on #15927
ApiReview: Aproved

- Looks good and we believe compat will be OK but please ensure we have good test coverage to ensure they produce identical answers.
- Please include `double / Complex` for completeness.

[2017-06-27 17:30] icanhasjonas commented on #21626
So... it turns out, I may have been a bit premature in this.. I was totally convinced the issue was down to not disposing the `response`, but it turns out, a minimal reconstruct doesn't show the same issues I've experienced.

I'll hunt further.

Here's the repo btw, https://github.com/icanhasjonas/check-httpclient-leak/

[2017-06-27 17:30] KostaVlev commented on #20711
Not in 100% sure what to do when I see comment like this

 `// GetBounds (well GdipGetPathWorldBounds) isn't implemented`

I think we don't need the assertions after the comment because the checks are done in the Gdpi and in case of failure the `GetBounds()` throws  `SafeNativeMethods.Gdip.StatusException` .

Is it correct to remove the unnecessary  assertions and try to add something like `Assert

[2017-06-27 17:33] danmosemsft commented on #15927
@dcwuser would you like me to assign this to you?

[2017-06-27 17:34] danmosemsft commented on #21615
@richlander

[2017-06-27 17:38] danmosemsft commented on #21605
I set to future - feel free to set back.

[2017-06-27 17:39] danmosemsft commented on #21602
Thanks @AtsushiKan !

[2017-06-27 17:39] stephentoub commented on #21626
Thanks for the update, @icanhasjonas.

[2017-06-27 17:39] davidsh commented on #21605
I didn't set the milestone originall.  @Jiayili1 set the milestone.

In general, we prefer that new bugs have no milestone set on them.

I am ok with you moving it to Future though.

[2017-06-27 17:43] joshfree commented on #21443
@swgillespie / @sergiy-k

[2017-06-27 17:46] weshaggard commented on #20242
Api Review: Approved

- After decision the reviewers agreed we should be consistent and use AsReadOnlySpan for any methods that return a ReadOnlySpan.

[2017-06-27 17:49] danmosemsft commented on #21597
@wfurt is checking what statfs gives.

[2017-06-27 17:53] swgillespie commented on #21443
Is there any guidance anywhere on how to run xunit tests on UWP ILC so I can get a repro for this? Or is the usual workflow to create console apps for this sort of thing?

[2017-06-27 17:54] danmosemsft commented on #21429
@kendrahavens what distro is microsoft/dotnet:1.1.2-runtime ?

Removing the mac label since ther'es no reason to think this is a related cause.

[2017-06-27 17:56] mellinoe commented on #20711
@hughbe I think we can just add one.

[2017-06-27 17:57] mellinoe commented on #20711
@KostaVlev Could you link to an example of that?

[2017-06-27 17:58] weshaggard commented on #21537
ApiReview:

- @stephentoub is going to look and see if we can reuse CreateClientWebSocket in a compatible way and just add a CreateServerWebSocket method. If not then we will go with the CreateFromConnectedStream method.

[2017-06-27 18:04] huanwu commented on #20590
It fails because NativeDll.dll doesn't exist in corefx.

[2017-06-27 18:06] #20590 closed

[2017-06-27 18:14] mellinoe commented on #8951
@marce155 Are you able to try out .NET Core 2.0? It should work without a workaround, I believe.

[2017-06-27 18:15] cydhaselton commented on #21503
Thanks @jkotas

I was asking specifically about enablement of Android for the CoreFX repo but are you saying that core-setup is needed as part of bringing up CoreFX for Android (and/or other platform)?

[2017-06-27 18:23] jkotas commented on #21503
Yes - if you want it to work same way as it works on existing platforms.

[2017-06-27 18:51] janvorli commented on #21386
I don't see how the Interop.SysConf.cs could call the SystemNative_SysConf with a value different from the 1, 2 or 3 (values of the enum members) unless there is a bug in enum marshalling, but that would mean that it would fail on all Linuxes and not just Ubuntu 17.04.
@joperezr - the change #17760 was not in for the version of runtime that @borgdylan used - based on the assert message pasted abov

[2017-06-27 19:04] tijoytom commented on #21391
@caesar1995 Do you know what this failure is about , is the test trying to do remote execution ?

[2017-06-27 19:05] safern commented on #21610
I just tried to do this locally and I didn't hit the issue.
I did:
[code]

I haven't seen what you are seeing but seems like it might be something like @weshaggard described, so please clean your repo and try it again and see if you still hit this.

[2017-06-27 19:13] joshfree commented on #21261
@manbearian

[2017-06-27 19:31] janvorli commented on #21386
@borgdylan I've just tested your app with the latest dotnet core sdk on Debian 9, which should be mostly equivalent to the Ubuntu 17.04 and it worked correctly (even though it is a release build and so the assert is not there, it would have returned -1 if it has failed, so I would be able to see that)

[2017-06-27 19:38] #19909 closed

[2017-06-27 19:39] borgdylan commented on #21386
That happened with preview packages installed via apt-get. I do not know if they were debug builds or not.

[2017-06-27 19:40] KostaVlev commented on #20711
For example this mono [test](https://github.com/mono/mono/blob/master/mcs/class/System.Drawing/Test/System.Drawing.Drawing2D/GraphicsPathTest.cs#L222-L247) and here is the [GetBound()](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/Drawing2D/GraphicsPath.cs#L954-L979).

 I think if there is a invalid parameter we are getting `SafeNativeMethods.Gdip.Status

[2017-06-27 19:40] borgdylan commented on #21386
The bug itself prevents me from building corefx myself.

[2017-06-27 19:41] davidsh commented on #21391
This is a dupe of #20470.  NetEventSource is broken in ILC right now, at least in terms of us testing it.

I thought this Sockets related logging test was already disabled via ActiveIssue(UapAot) ?

[2017-06-27 19:42] danmosemsft commented on #21338
fixed

[2017-06-27 19:42] #21338 closed

[2017-06-27 19:43] caesar1995 commented on #21391
@davidsh Yes, I have disabled the test. I opened this issue to describe the problem, and keep track of status.

[2017-06-27 19:44] janvorli commented on #21386
Could you please try the latest sdk tarball from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz
?

You just untar it to any folder and run the dotnet from that folder.

[2017-06-27 19:44] #21391 closed

[2017-06-27 19:49] davidsh commented on #19649
Fixed with #21630

[2017-06-27 19:49] #19649 closed

[2017-06-27 19:50] davidsh commented on #18193
THis is a problem with Logging tests.  Tracked with #20470.

[2017-06-27 19:50] #18193 closed

[2017-06-27 19:52] borgdylan commented on #21386
I get the assertion nonetheless.
[code]

[2017-06-27 19:53] borgdylan commented on #21386
The muxer reports version ```2.1.0-preview1-006567```.

[2017-06-27 19:58] mellinoe commented on #20711
@KostaVlev I'm still having a bit of trouble understanding.

It doesn't look like the test you linked expects any exceptions, does it? You can add a separate test which validates exception behavior, but you should base it on what the Windows implementation does, rather than mono. They will often be different, but the Windows version is preferred, and we will eventually want to make the mono versio

[2017-06-27 19:58] danmosemsft commented on #21420
Another culture one.

[2017-06-27 19:59] danmosemsft commented on #21541
Another culture one

[2017-06-27 19:59] borgdylan commented on #21386
The cli page on github states ```6576``` as the latest build. That means the linux CI is stuck in some way and has not been making new builds.

[2017-06-27 19:59] janvorli commented on #21386
The same here - and it works on Debian 9. Can you please share the commands you use to build and run the app?

[2017-06-27 20:04] borgdylan commented on #21386
[code]

The last command is run in the bin/Debug/netcoreapp2.0 directory. I was using the Mono variant of desktop MSBuild.

[2017-06-27 20:10] borgdylan commented on #21386
@janvorli Debian 9 has just been released and ubuntu 17.04 is still technically part of the Debian 8 family still using ICU 55.

[2017-06-27 20:13] janvorli commented on #21386
I was using
[code]
followed by editing the generated Program.cs to change the WriteLine to print Environment.ProcessorCount
And then
[code]
If you get error during dotnet restore, you'll need to create NuGet.config file with the following contents in the same folder as your Program.cs:
[code]
Can you try that?

[2017-06-27 20:18] #21347 closed

[2017-06-27 20:19] kendrahavens commented on #21429
@danmosemsft The linux container is debian:jessie based. The dockerfile can be found in the [dotnet-docker repo](https://github.com/dotnet/dotnet-docker/blob/master/1.1/runtime/jessie/Dockerfile). I'm not sure if this is relevant to you, but the 1.1.2-runtime tag is multi-arch so depending on whether Docker for Windows is in Windows or Linux container mode the base image will adapt though it was s

[2017-06-27 20:21] borgdylan commented on #21386
I do not install the actual CLI as you did,  it does nor allow me from developing stuff for mono. Any solution that works with the CLI only is not a solution in my case.

[2017-06-27 20:23] borgdylan commented on #21386
Running a restore using the untared SDK prints out the assertion. The CLI itself is out of order on my machine.

[2017-06-27 20:24] borgdylan commented on #21386
To re-iterate what I said above. Things based on .NET Core 1.0.x/1.1.x did not exhibit this issue.

[2017-06-27 20:24] janvorli commented on #21386
@borgdylan I am not sure I understand. You don't need to install anything - you just untar the tarball and then use the dotnet from it. That's all.

[2017-06-27 20:24] borgdylan commented on #21386
I got the assertion when I did that.

[2017-06-27 21:20] DavidGoll commented on #19605
This may be fixed now that S.N.NetworkInformation. Please verify and remove the workaround.

[2017-06-27 21:25] DavidGoll commented on #19583
ICMP APIs should be available for UWP apps now. Determine whether these will solve the problem.

[2017-06-27 21:37] janvorli commented on #21386
@borgdylan Would you be able to run the command that ends with the asserts under lldb or gdb, set a breakpoint at the SystemNative_SysConf and when the breakpoint is hit see what is in the RDI register, which carries the parameter?

[2017-06-27 21:48] saurabh500 commented on #21598
This is weird. I have disabled all calls to sni.dll for uap. System.Data.SqlClient uses managed implementation of SNI on uap.

[2017-06-27 21:50] DavidGoll commented on #20139
Check neteventsource logging, and close if no issue.

[2017-06-27 21:51] DavidGoll commented on #20140
Check for NetEventSource logging, and close if no issue.

[2017-06-27 21:54] saurabh500 commented on #21598
Do I need to change any other configurations for ARM so that sni.dll is not used on ARM

[2017-06-27 21:54] joperezr commented on #21598
Yup, I was looking at this already, seems like the problem is that we don't build a sni.dll for arm architecture, only for x64, x86 and arm64. Since our tests are on arm, we are not resolving a valid sni.dll which is failing at runtime for those three tests because it can't find them. Looks from @saurabh500 's comment though that the actual problem is having a dependency on sni.dll itself

[2017-06-27 21:56] joperezr commented on #21598
Nope, Actually you have this dependency on x64 and x86 as well, the difference is that in those architectures we do have a sni.dll we resolve so we are just getting lucky there. I'm about to put up a PR that disables these tests on ARM, and will assign this issue to you @saurabh500 so that you can investigate why do we still have that dependency.

[2017-06-27 21:58] joperezr commented on #21598
I am commenting these tests out in PR #21637

[2017-06-27 21:59] saurabh500 commented on #21598
I want to see a System.Data.SqlClient.dll for ARM to figure this out. How do I execute these tests? What is the setup required?

[2017-06-27 22:03] joperezr commented on #21515
Right, as we pointed out in a different buildtools issue, the problem here is that when we switched to the dev/eng work we removed the concept of testPath since as of now that is the same as the RuntimePath (Which doesn't include build configuration). In some verticals, specifically in uap and uapaot we will copy stuff specific to the vertical into the test folder which is what is causing all of t

[2017-06-27 22:03] joperezr commented on #21401
good to know 😄

[2017-06-27 22:06] tarekgh commented on #21515
@danmosemsft should we close this one as we have it tracked in buildtools?

[2017-06-27 22:07] JohnLBevan commented on #21559
@karelz Those options sound good.  One reason I'd suggested using `UriComponents` is we can combine options; so can compare the absolute Uri ignoring query-string key order, or can compare just the queries (etc.):

- `var uriComponentsOptions = UriComponents.AbsoluteUri | UriComponents.QueryIgnoreOrder;`
- `var uriComponentsOptions = UriComponents.Query | UriComponents.QueryIgnoreOrder;`

That sai

[2017-06-27 22:08] shmao commented on #17055
The fix for sg.exe has been checked in.

[2017-06-27 22:08] #17055 closed

[2017-06-27 22:10] danmosemsft commented on #21515
sure as long as it's tracked somehwere

[2017-06-27 22:10] #21292 closed

[2017-06-27 22:11] tarekgh commented on #21515
closing per @joperezr comment

[2017-06-27 22:11] #21515 closed

[2017-06-27 22:12] saurabh500 commented on #21598
It seems like the test above is restoring the Windows package for System.Data.SqlClient.
Is the target group not specified to 'uap' on the test?

@danmosemsft Do you have the link for the failures? I want to see how the build was invoked for these tests.

[2017-06-27 22:14] danmosemsft commented on #21598
sure: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170627.02/workItem/System.Data.SqlClient.Tests

[2017-06-27 22:22] saurabh500 commented on #21598
From the console logs it seems like pre-built binaries were dropped onto the test machine and the tests were run.
How do I find out how the SqlClient binaries were built?

[2017-06-27 22:31] danmosemsft commented on #21598
@joperezr can you help figure that out..

[2017-06-27 22:42] danmosemsft commented on #2576
OK, System.Thread is in .,NET Standard 2.0 which .NET Core 2.0 will support and we expect the next iteration of UWP to support.

@weshaggard can you help address this comment though: https://github.com/dotnet/corefx/issues/2576#issuecomment-300032695

[2017-06-27 22:44] cydhaselton commented on #21503
@jkotas Thanks. So would it be better to port core-setup before corefx?

[2017-06-27 22:51] jkotas commented on #21503
I think it is better to do corefx first and core-setup second.

[2017-06-27 23:02] weshaggard commented on #2576
cc @ericstj

This is a result of a decision we made originally to have the package be opt-out instead of opt-in. When a library can build against netstandard but may not work on all platforms you need to decide whether to provide the asset as netstandard ref and then add an opt-out by excluding the asset in the runtime for a given platform like UWP, or you have to not have a netstandard asset but

[2017-06-27 23:36] joperezr commented on #21598
if you want to build the binaries that were used for the tests, simply build `build.cmd -framework:uap -buildArch:arm`

[2017-06-27 23:37] joperezr commented on #21598
![image](https://user-images.githubusercontent.com/13854455/27614488-f9b0a20e-5b56-11e7-9e75-4d437a455cc6.png)

[2017-06-27 23:40] saurabh500 commented on #21598
@joperezr It is ok to have a dependency on SNI.dll but I had changed the builds in a manner that the SNI.dll code paths are never exercised. I will try out the command.

[2017-06-27 23:47] saurabh500 commented on #21598
@joperezr Does this build for buildarch:arm need the toolset path specified as well ?

[2017-06-27 23:48] joperezr commented on #21598
Here is an easy way to get a repro of this problem on your x64 Windows machine
From the root run:
[code]
Then navigate to `bin\testhost\uap-Windows_NT-Debug-x64\UAPLayout` and remove from there sni.dll
Now build your test project and run it by running form the root:
[code]

[2017-06-27 23:49] joperezr commented on #21598
that will fail the same 3 tests on the exact same 3 ways we are seeing on the ARM architecture. Given that it's really hard to get ARM hardware for you to get an actual repro, if you follow the above steps you should get a repro and be able to debug your codepaths to figure out why do we still depend on sni.dll. Let me know if you see any issues.

[2017-06-27 23:57] borgdylan commented on #21386
How would I do that? I have both gdb and lldb but never used them directly.

[2017-06-28 00:02] dcwuser commented on #15927
@danmosemsft: Yes

[2017-06-28 00:05] janvorli commented on #21386
You would run:
`gdb --args dotnet new console`
When gdb starts, you'd enter
`b SystemNative_SysConf`
It would ask you
[code]
You'd enter `y`
Then you'd start the process by entering
`r`
When you hit the breakpoint, the gdb would display something like:
[code]
you'd enter
`p/x $rdi`

And share the result.

That's it.

[2017-06-28 00:15] borgdylan commented on #21386
[code]

I used the runtime in the tar file.

[2017-06-28 00:17] borgdylan commented on #21386
I get the same value when using the runtime installed with apt-get. The break point address changes to ```0x00007ffff05d3939```.

[2017-06-28 00:18] janvorli commented on #21386
Ok, so the value is correct. Can you please try to enter `c` after hitting the breakpoint to see if it hits it again or asserts? Maybe only some of the calls are wrong, which would be even stranger.

[2017-06-28 00:19] niustephanie opened #21640 "Need to write tests for Directory.Delete on non-existing directory, read-only file system in Linux"
From issue #21273  - File.Delete was throwing an IOException on non-existing files on a read-only file system. Need to write tests to check whether Directory.Delete behaves as documented for non-existing directories in a read-only file system.

https://msdn.microsoft.com/en-us/library/fxeahc5f(v=vs.110).aspx

From the documentation, Directory.Delete should throw a DirectoryNotFoundException for a

[2017-06-28 00:21] borgdylan commented on #21386
[code]

[code]

[2017-06-28 00:23] stephentoub commented on #21386
This is the path when using the build from the tar?
/usr/local/lib/libSystem.Native.so

[2017-06-28 00:25] janvorli commented on #21386
Oh, thanks @stephentoub for noticing that! There is some probably outdated dotnet installation in the /usr/local/lib and its native library is being loaded. No wonder it fails.

[2017-06-28 00:31] borgdylan commented on #21386
I looked for that file and found it. I had a manual install at one point. I thought that dotnet set $LD_LIBRARY_PATH to force probe native stuff from its folder first like most other runtimes.

[2017-06-28 00:32] borgdylan commented on #21386
If I remove it, things work OK. What still perplexes me, why would it fail with 2.0 and not with 1.0/1.1?

[2017-06-28 00:35] janvorli commented on #21386
I guess the reason is that that library was from version 1.0 where this function worked differently than in 2.0

[2017-06-28 00:36] borgdylan commented on #21386
As it is a private library and that allows contract changes?

[2017-06-28 00:38] janvorli commented on #21386
The contract is just between the libSystem.Native.so and the managed part of CoreCLR that uses it. So they version together, including their contract.

[2017-06-28 00:42] #21386 closed

[2017-06-28 01:20] danmosemsft commented on #21440
@Jiayili1 please reopen if still failing in 24 hours from now

[2017-06-28 01:25] Diego-Perez-Botero opened #21642 "Windows.winmd needs to be updated to Windows Insider SDK flight 16225"
The current UWP (UAP/UAPILC) implementations of System.Net.WebSockets.Client and System.Net.Http.HttpClient use WinRT APIs. The following high-priority **_.NET Standard 2.0 for UWP_** work requires us to consume new WinRT APIs that are part of the recently-flighted Windows Insider SDK 16225: #7877 #21393 #21102

In order to call these new APIs, we need to have the Windows.winmd file updated in the

[2017-06-28 01:29] danmosemsft commented on #21415
This needs some local investigation, it's not obvious esp without callstacks on the remote site.

[2017-06-28 01:32] danmosemsft commented on #21231
Seems to  be all good now and tests working

[2017-06-28 01:32] #21231 closed

[2017-06-28 01:34] saurabh500 commented on #21598
Thanks @joperezr I can repro this now. These steps were way simpler.

[2017-06-28 01:42] dotnet-mc-bot opened #21643 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds(acceptedProtocol: None, requestOnlyThisProtocol: False) failed with "System.ComponentModel.Win32Exception : Cannot allocate memory""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds(acceptedProtocol: None, requestOnlyThisProtocol: False)` has failed.

System.IO.IOException : The encryption operation failed, see inner exception.
    ---- System.ComponentModel.Win32Exception : Cannot allocate memory

        Stac

[2017-06-28 01:42] Jiayili1 commented on #21643
Related: https://github.com/dotnet/corefx/issues/21430

[2017-06-28 01:43] hughbe commented on #21610
Thanks @safern that seemed to have fixed it

Looks like a bug with running the build and build-tests out of order, but as you can't repro, let's close this

[2017-06-28 01:43] #21610 closed

[2017-06-28 01:45] davidsh commented on #21642
cc: @joshfree

[2017-06-28 01:45] Jiayili1 commented on #19387
Failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170628.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.AcceptAsync~2FAcceptAsync_IPv6_Success

[2017-06-28 01:50] Jiayili1 commented on #21436
Failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170628.01/workItem/System.Security.Cryptography.X509Certificates.Tests/wilogs

[code]

[2017-06-28 01:57] Jiayili1 commented on #20390
@davidsh this issue is repro
Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170628.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging

[2017-06-28 02:01] danmosemsft commented on #20753
Brekaing out BinaryReader.Read_InvalidEncoding() which is different.

[2017-06-28 02:04] danmosemsft opened #21645 "BinaryReaderTests.Read_InvalidEncoding() failing because CoreRT BinaryReader is outdated"
This test is expecting:
`AssertExtensions.Throws<ArgumentOutOfRangeException>("charsRemaining", () => reader.Read(new char[10], 0, 10));`

This does not exist in the BinaryReader in CoreRT. Compare corert\src\System.Private.CoreLib\src\System\IO\BinaryReader.cs and C:\git\coreclr\src\mscorlib\src\System\IO\BinaryReader.cs.  The latter has an extra check `throw new ArgumentOutOfRangeException(nameo

[2017-06-28 02:12] #21181 closed

[2017-06-28 02:12] danmosemsft commented on #20715
There may be significant work here as CoreCLr globalization was cleaned up quite a bit.

[2017-06-28 02:15] danmosemsft commented on #20553
This doesn't seem to be causing UWP run issues.

[2017-06-28 02:23] danmosemsft commented on #20084
Seems fixed.

[2017-06-28 02:23] #20084 closed

[2017-06-28 02:25] danmosemsft commented on #19589
seems fixed

[2017-06-28 02:25] #19589 closed

[2017-06-28 02:28] danmosemsft commented on #18293
@joperezr do you havea partial change I could help finish

[2017-06-28 02:28] danmosemsft commented on #18050
already fixed

[2017-06-28 02:28] #18050 closed

[2017-06-28 02:28] danmosemsft commented on #18049
covered by https://github.com/dotnet/corefx/issues/21415

[2017-06-28 02:28] #18049 closed

[2017-06-28 02:29] danmosemsft commented on #17933
Can't make much of this. We need new issues if any remain.

[2017-06-28 02:29] #17933 closed

[2017-06-28 02:56] Jiayili1 commented on #19924
This issue is repro on UWP F5 Tests. Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170628.01/workItem/System.Collections.Performance.Tests/wilogs

[2017-06-28 02:58] Jiayili1 opened #21649 "Fireball: No test result generated under "System.Numerics.Vectors.Performance.Tests""
Fireball on Windows.10.Arm64-arm:Debug

No test result generated under "System.Numerics.Vectors.Performance.Tests"

[code]

[2017-06-28 03:37] TravisTheTechie commented on #6024
@weshaggard I have never really like the Installer abstractions, but mostly because we've always had to work around them (e.g. editing the image path after installation). However, I don't have a good handle on what the abstractions would even look like to support other service platforms.

Our first goal would to have something we could compile once, run on Windows as a service with the installer,

[2017-06-28 03:42] danmosemsft commented on #21377
fixed by #21566

[2017-06-28 03:42] #21377 closed

[2017-06-28 03:42] danmosemsft commented on #21377
fixed by #21566

[2017-06-28 04:11] dasMulli commented on #6024
Install concerns would be a nice API addition to `ServiceController`. In my lib I just made a [monster-method to register and update a service](https://github.com/dasMulli/dotnet-win32-service/blob/d8fb0677540d7655b13f28633e0f07c1bc74837d/samples/TestService/Program.cs#L87-L97) and a method to [remove it](https://github.com/dasMulli/dotnet-win32-service/blob/d8fb0677540d7655b13f28633e0f07c1bc74837

[2017-06-28 04:18] KostaVlev commented on #20711
Thanks for the answer. I was lost for a moment but I got it now...

[2017-06-28 04:26] danmosemsft commented on #20522
The test is expecting `throw new ArgumentException(SR.Argument_NotEnoughBytesToWrite, nameof(position));` but it's getting `throw new ArgumentOutOfRangeException(nameof(position), SR.ArgumentOutOfRange_NeedNonNegNum);` which is only in the coreclr copy.

C:\git\corert\src\System.Private.CoreLib\src\System\IO\UnmanagedMemoryAccessor.cs  needs to
 be brought up to date to match C:\git\coreclr\src\ms

[2017-06-28 04:30] joperezr commented on #18293
Oh sorry totally forgot about this one, I actually had it almost done, I'll merge this in first thing tomorrow

[2017-06-28 04:34] danmosemsft commented on #20717
@safern can you successfully run these tests? It says "  The system cannot find the file specified." and running runtests.cmd manually gives me an assembly load failure.
This issue may be fixed but I can't tell.

[2017-06-28 04:35] danmosemsft commented on #19129
@safern similar to https://github.com/dotnet/corefx/issues/20717 does this still repro for you? I can't get the tests on this library to complete for uapaot.

[2017-06-28 04:40] safern commented on #19129
Let me try it. I don't have the repo built for uapaot though so it will take a few minutes. Will let you know

[2017-06-28 04:40] safern commented on #20717
Let me try it.

[2017-06-28 04:58] danmosemsft commented on #21261
@mellinoe got a few minutes to add some good logging to this and throw up a PR? that would be easier than trying to fiddle with an ARM box. logging to console is fine.

[2017-06-28 04:59] #20753 closed

[2017-06-28 05:00] danmosemsft commented on #20299
same as https://github.com/dotnet/corefx/issues/21353

[2017-06-28 05:00] #20299 closed

[2017-06-28 05:01] danmosemsft commented on #21353
https://github.com/dotnet/corefx/issues/21392 is enough.

[2017-06-28 05:01] #21353 closed

[2017-06-28 05:37] safern commented on #20717
This issue may be fixed but I can't tell.

I was able to run them succesfully and I re-enabled the test locally and it did failed:

[code]

I ran on a clean repo:
[code]

[2017-06-28 05:44] safern commented on #19129
I was able to run them and this still repro for me locally. If I re-enable the test I get:
[code]

[2017-06-28 05:45] v-haren commented on #21554
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/98/testReport/
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug/3422/testReport/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/89/testReport/

[2017-06-28 05:48] v-haren commented on #17925
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug/3459/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteScalarTest/

[2017-06-28 06:18] safern commented on #21439
I don't see a failure for this anymore.

[2017-06-28 06:18] #21439 closed

[2017-06-28 06:30] safern opened #21651 "System.Runtime.InteropServices.GCHandleTests.Alloc_InvalidPinnedObject_ThrowsArgumentException failed with"
This [test](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/GCHandleTests.cs#L85) is failing with:
[code]

Note that this only fails for when the parameter is `new object()` ([source code](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/GCHandleTests.cs#L69))

T

[2017-06-28 06:54] hughbe commented on #21651
Apparently [this is known](https://github.com/dotnet/corert/blob/3004f6d4fdb9cde9c3b57f06f22f8cd89a3c5277/src/System.Private.CoreLib/src/System/Runtime/InteropServices/InteropExtensions.cs#L80-L90)

[code]

[2017-06-28 08:08] dotnet-mc-bot opened #21655 "Test: System.Runtime.InteropServices.Tests.ComEventsHelperTests/Combine_NullRcwWindows_ThrowsArgumentNullException failed with "System.PlatformNotSupportedException""
Opened on behalf of @Jiayili1

The test `System.Runtime.InteropServices.Tests.ComEventsHelperTests/Combine_NullRcwWindows_ThrowsArgumentNullException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentNullException)\r
    Actual:   typeof(System.PlatformNotSupportedException): Operation is not supported on this platform.

        Stack Trace:

           at System.Runtime.

[2017-06-28 08:09] Jiayili1 commented on #21655
Related issue: https://github.com/dotnet/corefx/issues/21439

[2017-06-28 08:11] dotnet-mc-bot opened #21656 "Test: System.Runtime.InteropServices.Tests.GCHandleTests/Alloc_InvalidPinnedObject_ThrowsArgumentException(value: Object { }) failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Runtime.InteropServices.Tests.GCHandleTests/Alloc_InvalidPinnedObject_ThrowsArgumentException(value: Object { })` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Runtime.InteropServices.Tests.GCHandleTests.Alloc_InvalidPinnedObj

[2017-06-28 08:15] Jiayili1 commented on #21440
Still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170628.01/workItem/System.Runtime.InteropServices.WindowsRuntime.Tests/analysis/xunit/System.Runtime.InteropServices.WindowsRuntime.Tests.EventRegistrationTokenTableTests~2FCtor_NonDelegateType_ThrowsInvalidOperationException

[2017-06-28 08:27] Jiayili1 commented on #21602
Still repro, checked the commit is not in this build, will check on next build

[2017-06-28 08:57] DavidArno commented on #18159
Only three? You are forgetting the `bool Foo(out double value)` pattern, and having `(bool valid, double value)` tuples as ways of expressing whether the double has a value or not. So that's at least five...

Since Deedle is an F# library it clearly *succeeds* in using options. The trouble comes when trying to use them with C#. As the latter doesn't yet have discriminated unions and has very poor

[2017-06-28 11:23] tyskink commented on #984
what about the Windows.​Devices.​Serial​Communication Namespace?

[2017-06-28 11:27] shaggygi commented on #984
@tyskink Not sure if I understand the question.  I believe this API is for UWP and not a good idea to use in CoreFx as the name implies Windows... which wouldn't be cross-plat.

[2017-06-28 12:00] krzysztofdrys opened #21657 "How do I use TextWriter.Synchronized in netcoreapp1.1"
I want to use [TextWriter.Synchronized](https://msdn.microsoft.com/en-us/library/system.io.textwriter.synchronized(v=vs.110).aspx) method in my app. My target framework is: `netcoreapp1.1`.

This is the program I am trying to compile:

    using System;
    using System.IO;

    namespace program
    {
        class Program
        {
            static void Main(string[] args)
            {

[2017-06-28 12:29] fogzot commented on #8951
Unfortunately no, it still doesn't work. I just tried .NET Core 2.0 preview 2 with curl/libcurl 7.52.1-5 from Debian stable and `dotnet new` just segfaults. Rolling back to 7.38.0-4+deb8u5 ("oldstable") makes it work.

[2017-06-28 13:28] hughbe commented on #21409
This has been completed

[2017-06-28 13:28] #21409 closed

[2017-06-28 13:46] AtsushiKan commented on #21267
All that's left to do now to make <a href="https://github.com/dotnet/corefx/blob/232f48884efed22d228ae4a9450b37fbfa92b861/src/System.Runtime.Extensions/src/System/Environment.cs#L64">Environment.CommandLine<a> call our <a href="https://github.com/dotnet/corefx/blob/445afb8e15007f8a69aa93849a298cd2367d44b2/src/Common/src/System/PasteArguments.cs#L16">Paste utility</a> and make sure our tests still

[2017-06-28 14:07] safern commented on #21656
Dupe of: https://github.com/dotnet/corefx/issues/21651

[2017-06-28 14:07] #21656 closed

[2017-06-28 14:08] hughbe opened #21660 "ExportDescriptorPromise.GetDescriptor throws InternalErrorException if getDependencies returns null"
[code]

[2017-06-28 14:17] AtsushiKan commented on #21645
https://github.com/dotnet/corefx/blob/ea1bc38c237dfb768e7d442efa95cab785e89ac3/src/System.IO/tests/BinaryReader/BinaryReaderTests.cs#L119

[2017-06-28 14:18] AtsushiKan commented on #20522
https://github.com/dotnet/corefx/blob/ea1bc38c237dfb768e7d442efa95cab785e89ac3/src/System.IO.UnmanagedMemoryStream/tests/Uma.ReadWriteStructArray.cs#L14

(People, at least indicate which test project the test lives in!)

[2017-06-28 14:21] chlowell commented on #10198
@stickybun You can get it via `System.Data.SqlClient` [4.4.0-preview1-25305-02](https://www.nuget.org/packages/System.Data.SqlClient/4.4.0-preview1-25305-02) and later.

[2017-06-28 14:27] fogzot commented on #8951
Some additional information. Some parts of dotnet explicitly link with libcurl *and* libssl1.0.0. In Debian 9 libcurl links to libssl1.0.2 so dotnet ends loading both libraries at the same time. I guess the problem would go away if MS release a build of dotnet that uses the same SSL as libcurl, i.e., 1.0.0 for Debian 8 and 1.0.2 for Debian 9.

[2017-06-28 14:32] AtsushiKan commented on #21645
CoreCLR has added checks that were added in this PR:

https://github.com/dotnet/coreclr/pull/7778

[2017-06-28 14:36] hughbe opened #21661 "Cyclic activator in ExportDescriptorPromise.GetDescriptor throws InternalErrorException"
[code]

[code]

[2017-06-28 14:53] keesdewit82 commented on #2394
Is WF discontinued or am I missing something here? That would be very sad!

Where can I vote for WF?

[2017-06-28 15:19] karelz commented on #984
Correct, that namespace is WinRT OS APIs. It is consumable from all languages - C#, C++, JScript, etc. It is not implemented in managed code, it is part of the OS.

[2017-06-28 15:21] karelz commented on #2394
Top post of this issue is best place.

[2017-06-28 16:02] tarekgh commented on #20715
I didn't look at the corert yet but I am not expecting the change will be big. it looks to me the encoding data just need to uppercased/lowered cased to match coreclr. will confirm that when I get to it.

[2017-06-28 16:21] keesdewit82 commented on #2394
I wonder what @rjacobs (WF guru) thinks of this matter.

[2017-06-28 16:28] joshfree commented on #21642
Joe is picking this up per the email thread last night.

[2017-06-28 16:29] joshfree commented on #21642
/cc @tijoytom for related N side changes.

[2017-06-28 16:48] hughbe opened #21663 "IndexOutOfRangeException thrown for CompositionHost.GetExport(typeof(ExportFactory<,>))"
The following test fails with an IndexOutOfRangeException - it should just return false in the same way that `typeof(Lazy<,>)` returns false

[code]

[code]

[2017-06-28 16:51] dmetzgar commented on #2394
Do you mean @ronljacobs?

[2017-06-28 16:54] tijoytom commented on #21651
object returns are blittable  in N , we have other instances of this issues , mostly around argument validation. Moving out of UWP6.0

[2017-06-28 16:55] AtsushiKan commented on #20522
Please assign to area owner for this api.

I believe that that CoreCLR and the test are in conflict with MSDN and CoreRT. And I think MSDN/CoreRT's position should prevail:

https://msdn.microsoft.com/en-us/library/dd267754(v=vs.110).aspx

https://msdn.microsoft.com/en-us/library/dd267761(v=vs.110).aspx

MSDN states clearly that ARE is thrown when "position is less than zero or **greater than** th

[2017-06-28 16:55] keesdewit82 commented on #2394
@dmetzgar Probably yes. He is the true WF hero

[2017-06-28 16:55] caesar1995 commented on #20140
Status update:
1. No [ActiveIssue] inside the namespace (no matter UAP or non-UAP)
2. No test failure
3. No dependency on WinRT implementation

[2017-06-28 16:55] #20140 closed

[2017-06-28 16:56] weshaggard opened #21664 "Create meta-package for .NET Framework support"
We have added a number of nuget packages to fill the API gaps in .NET Core and a lot of them are part of the Microsoft.NETCore.App but there are still a lot that aren't. To help folks with porting we should create another meta-package that will reference all the libraries that we have individual nuget packages that are above Microsoft.NETCore.App and are to help bridge the gap with .NET Framework.

[2017-06-28 17:05] danmosemsft commented on #21655
test update

[2017-06-28 17:05] danmosemsft commented on #21643
@bartonjs on the face of it is this failure mode likely to be related to crypto code?

[2017-06-28 17:08] #21655 closed

[2017-06-28 17:10] danmosemsft commented on #20522
@ianhays @JeremyKuhne thoughts?

[2017-06-28 17:14] bartonjs commented on #21643
@danmosemsft Not obviously, no.

[2017-06-28 17:14] danmosemsft commented on #20717
OK. I really am not sure how much this one matters if all the others are passing it seems like a corner case.

@VSadov thoughts? is this necessry for the UWP6 release, which we are closing down soon?

[2017-06-28 17:16] danielgerlag commented on #2394
This is my answer
https://github.com/danielgerlag/workflow-core

[2017-06-28 17:17] JeremyKuhne commented on #984
For the Windows UAP implementation we might be forced to use some WinRT APIs. We can't use them universally on Windows as we need to support back to Windows 7.

[2017-06-28 17:22] danmosemsft commented on #21643
@bartonjs to what extent (if any) does networking code use our crypto code? Eg., for SSL I guess it just goes straight to the OS.

[2017-06-28 17:57] bartonjs commented on #21643
Mostly straight to the OS.  We're a little bit involved for X509Certificates and X509Chain.

[2017-06-28 17:57] caesar1995 commented on #17990
I'm not able to repro on UWP and netfx scenarios. (Both 50 runs, 0 failure)

Please re-open the issue if there is a repro.

cc: @davidsh

[2017-06-28 17:57] #17990 closed

[2017-06-28 18:04] caesar1995 commented on #20139
Status update:
1. Blocked by #20470
2. No [ActiveIssue] and [SkipOn] (the only one is related to #20470 )
3. No dependency on WinRT implementation

[2017-06-28 18:13] caesar1995 commented on #20014
Status update:
1. Only [ActiveIssue] and [SkipOn] is related to the blocking issue #20470

[2017-06-28 18:21] mellinoe commented on #21261
@MattGal pointed out that the tests are passing on CoreCLR on ARM: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170628.03/workItem/System.Numerics.Vectors.Tests.

How can we identify whether this is a toolchain issue? What are the differences that could affect this?

[2017-06-28 18:21] CIPop commented on #20137
@Jiayili1 the failure has nothing to do with UWP - please open a different issue.

[2017-06-28 18:23] CIPop commented on #17995
@Jiayili1 the issue doesn't repro because the test is disabled.

[2017-06-28 18:27] MattGal commented on #21261
The issue is that CI can't currently do .NET Native stuff on ARM (even without IP issues there's just not enough machines yet to handle that kind of load).

Let's ask @tijoytom  and see if he can redirect us to someone to investigate.  Often just grabbing the IL Input folder fed to the toolchain can be enough for someone from his team to make sense of the problem.

[2017-06-28 18:37] shmao opened #21667 "Rd.xml Entry from XmlSerializer.Mode Caused Size-on-disk Regressions."
XmlSerializer.Mode iss marked as required by the System.Private.Xml.rd.xml. Unfortunately, it pulls in the XmlSerializer type itself (has to), which in turn pulls in a whole lot of code through its static ctor dependencies. This caused some size-on-disk regressions.

[2017-06-28 18:47] #17317 closed

[2017-06-28 18:59] jkotas commented on #21651
@tijoytom Since this difference by design, shouldn't this test be disabled for uapaot and this issue closed?

[2017-06-28 19:01] safern commented on #21651
I've disabled the test but against this issue. I can update it to be with `[SkipOnTargetFramework]` and close this issue if that is the case.

[2017-06-28 19:02] danmosemsft commented on #21657
@krzysztofdrys `TextWriter.Synchronized` is not available until .NET Core 2.0: https://apisof.net/catalog/System.IO.TextWriter.Synchronized(TextWriter)

You will have to perform your own synchronization. StackOverflow might be a good place for questions about that.

[2017-06-28 19:02] #21657 closed

[2017-06-28 19:02] tijoytom commented on #21651
@safern Please do SkipOnTargetFramework and close the bug

[2017-06-28 19:04] safern commented on #21651
Ok sounds good. Doing now

[2017-06-28 19:05] jkotas commented on #21651
Note that the test is still valid on uapaot for the most port; it is just the object corner case that needs to be disabled.

[2017-06-28 19:05] safern commented on #21651
Yes, I will update and split the test.

[2017-06-28 19:06] jkotas commented on #21651
Or maybe just delete it - and declare it as undefined behavior that's not worth testing.

[2017-06-28 19:39] danmosemsft commented on #20717
Moving out since this seems minor. Feel free to correct.

[2017-06-28 19:43] danmosemsft commented on #21649
@safern I think this may be another case where ARM is just slower. I suggest disabling this test for UAP on ARM. CoreCLR is not a perf scenario anyway in this context.

[2017-06-28 19:49] danmosemsft commented on #20046
Active while we look at 2.0 port

[2017-06-28 19:50] ism commented on #21612
I could not reproduce it.

![github2](https://user-images.githubusercontent.com/28202532/27657081-9d206202-5c75-11e7-9578-632d4c1875e3.png)

[2017-06-28 19:55] safern commented on #21649
Ok, will do that.

[2017-06-28 19:55] karelz commented on #21371
@Drawaes I sent you invite to the repo. Ping me once you accept, I will assign this issue to you as you plan to tackle it during July ...

[2017-06-28 20:25] CIPop commented on #20212
@caesar1995 /cc @davidsh @DavidGoll
There is nothing in this or linked comment explaining why `ContextAwareResult.Uap.cs` and related cannot be removed.
Having .Uap files in PAL means we have behavior differences between .Net Framework, .Net Core in Windows vs UAP apps.

[2017-06-28 20:28] swgillespie commented on #21443
I'm having trouble reproing this failed test - I had what I thought was a repro on a console app but I had misconfigured my repro environment. Still looking at this today.

[2017-06-28 20:28] caesar1995 commented on #20212
Ok, I will put analysis here.

[2017-06-28 20:40] jamesfarrer commented on #19837
+1 for me for this. Also holding back a .NET Core port

[2017-06-28 20:47] #18293 closed

[2017-06-28 21:00] jkotas commented on #21629
Span does not overwrite ToString. Calling inherited ToString from object results into boxing.

Maybe we should add a dummy ToString override.

[2017-06-28 21:00] MichalStrehovsky commented on #21651
Is this really by design? We have failing CoreCLR tests in the CoreRT repo because of this and there are bugs open to get it fixed.

If this is an uninteresting corner case, we should delete the tests (from CoreCLR also).

If not, this test should be marked as blocked on a bug. If we keep disabling tests that are due to bugs without marking them as such, nobody is ever going to find out we need to

[2017-06-28 21:01] DavidGoll commented on #18760
@CIPop, can we get by with the Top 50 app validation mentioned above for the time-being?

[2017-06-28 21:07] tijoytom commented on #21651
Do you happen to know the bug number?

[2017-06-28 21:11] MichalStrehovsky commented on #21651
See comment from @hughbe above: dotnet/corert#2355. There's also a TFS bug I opened some time ago (number in the CoreRT issue).

[2017-06-28 21:25] caesar1995 commented on #20135
Sorry I made a mistake, CompletionPortHelper.Uap.cs cannot be removed, while ContextAwareResult.Uap.cs can be removed.

Analysis:
For SafeCloseSocket Windows' implementation, we need [CompletionPortHelper.SkipCompletionPortOnSuccess()](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/SafeCloseSocket.Windows.cs#L77) to decide whether we need to disable completions for synchron

[2017-06-28 21:25] CIPop commented on #18760
@DavidGoll none of the Top 50 apps would ever hit these scenarios since they are in new APIs added in netstandard 2.0 for the UWP profile.

The tests I found to behave differently are in NegotiateStream and Ping. Right now the Nego tests in UAPAOT are disabled against this issue to eliminate CI noise. Ping is currently investigated but I believe NetNative testing will end up getting blocked by thi

[2017-06-28 21:28] safern commented on #17990
For desktop it was disabled, that is why you didn't see it fail: https://github.com/dotnet/corefx/blob/5efe9f60ffe252496ca6cf98cb94e29b7d088b49/src/System.Net.NameResolution/tests/UnitTests/InitializationTest.cs#L16

[2017-06-28 21:30] caesar1995 commented on #20212
Sorry, after my investigation, the `ContextAwareResult.Uap.cs` can be removed. I will submit a PR to correct my mistake.

I will put my [analysis](https://github.com/dotnet/corefx/issues/20135#issuecomment-311796670) before making any decisions next time.

[2017-06-28 21:32] caesar1995 commented on #17990
@safern I removed the [SkipOnTargetFramework] and tested locally for netfx.

My change is in PR: https://github.com/dotnet/corefx/pull/21670/files#diff-ae6d65e6c2b7b1096e20249f90f03dceL16

[2017-06-28 21:33] DavidGoll commented on #18760
@joshfree @danmosemsft @tijoytom We need to reconsider the plan for supporting this in UWP6.0 (as an opt-in).

[2017-06-28 21:40] joshfree commented on #18760
@MattGal would it be feasible to cheaply add an opt-in option for some set of tests?

[2017-06-28 21:43] CIPop commented on #20135
@caesar1995 @DavidGoll I believe the synchronous completion mode for Sockets enhancement was added after we had the UAP profile discussions and analyzed the API surface.
Let's follow-up offline. Ideally we should have the same implementation for both Windows Desktop and UAP.

[2017-06-28 21:51] niustephanie commented on #21640
Tested manually, and Directory.Delete behaves as expected! (Throws a DiretoryNotFoundException.) Will be adding a test for this along with the File.Delete tests. @MaggieTsang

[2017-06-28 21:51] #21640 closed

[2017-06-28 21:56] caesar1995 commented on #20135
I wasn't aware that the API has been approved.

Last time I built the project without the `CompletionPortHelper.Uap.cs` in UAP mode, the compiler complained that "error: SetFileCompletionNotificationModes() is not supported on UAP". But now the error goes away. I will delete both of the files.

[2017-06-28 21:57] tannergooding opened #21676 "Documentation on `Marshal.GetLastWin32Error` should be updated."
The documentation currently makes no mention that this method will return `errno` on Unix/Mac (or the conditions, if any, under which it will return `errno` on Windows).

[2017-06-28 21:58] tannergooding commented on #21676
As an aside, `GetLastWin32Error` is really a terrible name for cross-platform use. Maybe adding a new API `GetLastError` would be better...

[2017-06-28 21:59] DavidGoll commented on #20135
@caesar1995 The use of SetFileCompletionNotificationModes was added to the implementation after the API scans, so we did not know we needed it for UAP. That's what @CIPop explained above.

[2017-06-28 22:00] jkotas commented on #21651
See my comment https://github.com/dotnet/corefx/pull/21673#discussion_r124659822. @safern is going to delete the test instead.

[2017-06-28 22:00] MattGal commented on #18760
@joshfree I think this is the sort of thing where if we figure out how to turn it on, it costs the same amount to do so for 1 test versus all of them.

If we can figure out how to do this once manually with a CoreFX test, it should be very similar to the UAP F5 scenario tests were to automate.  I don't know how this would work right off though, since normal ILC tests are a .NET-Native-compiled ver

[2017-06-28 22:07] yizhang82 commented on #18760
@MattGal I don't think this is unique to ILC tests. At the end of the day very few of our tests are real apps (have a main XAML window and loop, etc) so it needs a application wrapper thing to wrap the unit-style test code into something resembling an app. I don't see why ILC compiled tests needs any more special treatment (other than getting necessary dependencies into the package).

[2017-06-28 22:19] joperezr commented on #21642
corefx side change done.

[2017-06-28 22:23] KrzysztofCwalina commented on #21629
Should we override it?

[2017-06-28 22:26] jkotas commented on #21629
Overriding would take care of it for Span, but not for all other byreflike structs (e.g. structs that embed Span).

[2017-06-28 22:28] MattGal commented on #18760
@yizhang82  that's great, then we just have to do the "figure out how to do this once manually" part with one of the console apps, then convince ourselves that it actually ran in the container, and I'll help to drive getting this in official runs.

[2017-06-28 22:56] krwq opened #21680 "System.Runtime.Extensions failures on UAPAOT"
Currently those tests are disabled and need to be investigated

[code]

[2017-06-28 22:59] mellinoe commented on #21676
Many of the function names in `Marshal` are Windows-specific. There was some effort to introduce a `PInvokeMarshal` class which had better, platform-agnostic names, but I think we decided it wasn't worth it.

[2017-06-28 23:09] joperezr commented on #21210
I have verified that with the new ILC this issue is now fixed. Thanks @trylek for the fix.

[2017-06-28 23:09] #21210 closed

[2017-06-28 23:10] krwq commented on #21483
I have checked on 16227 and API was not available

[2017-06-28 23:14] joperezr opened #21682 "Fix Microsoft.VisualBasic tests on UapAot"
Some new tests were added recently which are not working in uapaot. This issue is to track the work of investigating, fixing and enabling (the ones that should be re-enabled) them.

FYI: @hughbe who recently added them.

[2017-06-28 23:16] CIPop commented on #21282
@bartonjs /cc @danmosemsft I've narrowed the behavior difference to `WindowsIdentity.IsAuthenticated` only when running in UAP mode, within an AppContainer.

Comparing Networking ETW traces between .Net Core and .Net UAP I found that we're getting the same results back from the Nego SSPI APIs. The [NegotiateStream_StreamToStream_Authentication_Success](https://github.com/dotnet/corefx/blob/8dd8794

[2017-06-28 23:16] sidshetye commented on #7023
@bartonjs What's the status of having AES GCM in dot net standard? Also where is the dot net standard documentation for ECDH and ECDSA? Thanks

[2017-06-28 23:27] huanwu commented on #19720
This is because the mapping of the second collection type won't be saved because it has the same key as the same collection.  In the code https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Serialization/XmlReflectionImporter.cs#L1059,  when process the mapping for the second type, it will return the mapping of the first collection type, which cause the second mappin

[2017-06-28 23:31] yizhang82 commented on #18760
@MattGal @danmosemsft I thought CoreFX tests running on CoreCLR are already running on AppContainer/AppX. If so, we should be able to repurpose that infra.

[2017-06-28 23:40] CIPop commented on #21282
I verified that the package manifest has the following capabilities:

[code]

[2017-06-28 23:54] krwq commented on #21206
duplicate of https://github.com/dotnet/corefx/issues/21392 - seems like this is blocked on Windows and @JeremyKuhne has some pending discussions about it

[2017-06-28 23:55] #21206 closed

[2017-06-28 23:55] CIPop commented on #5241
@bartonjs this is something that got changed from .Net Framework. Apparently everything works fine in .Net Core but we have some issues with UAP (#21282).
If the UAP bug isn't related, I'll remove the code comment and close this issue.

[2017-06-28 23:57] mconnew commented on #11953
Fixed by #21155

[2017-06-28 23:57] #11953 closed

[2017-06-29 00:10] karelz commented on #21615
That is .NET Core broad suggestion, beyond CoreFX scope. Should we move it to dotnet/core repo? @richlander

[2017-06-29 00:22] bartonjs commented on #21282
@karelz / @danmosemsft Not sure who this should be assigned to.

[2017-06-29 00:23] bartonjs commented on #7023
None of .NET { Core, Standard, Framework } have GCM or CCM.  It's still on the TODO list, and we still want to do it, but other things keep coming up.  The AE model of E(k,n,p) => (c,t) and D(k,n,p,c,t) => p doesn't work well with ICryptoTransform, and so we need to think up a new model for dealing with it.

Neither .NET Standard nor Core have ECDH, only .NET Framework.

ECDsa is part of .NET Stan

[2017-06-29 01:11] tarekgh commented on #21615
Issue moved to [dotnet/core #716](https://github.com/dotnet/core/issues/716) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-29 01:11] #21615 closed

[2017-06-29 01:12] tarekgh commented on #21615
I moved it to the core repo.

[2017-06-29 01:21] sidshetye commented on #7023
Thanks @bartonjs - we really need AES GCM primitives for Suite B plus NIST only recommends AE ciphers esp. GCM. On .NET Framework we can use the CLR Security layer to PInvoke (for both speed and FIPS usage) but this ought to be a first class citizen especially in the . What can we do to prioritize? Same goes for ECDH (secp256/384/521 curves).

Re: the new interface for AE ciphers, yes, that's a gi

[2017-06-29 01:51] bartonjs commented on #21622
Congratulations, you found a rough spot :smile:.  .NET Core doesn't actually have a chain building algorithm, we leave that up to an underlying system library and we just reinterpret the answers.

When building a chain on a tampered self-issued certificate the responses are:

* Windows: NotSignatureValid, UntrustedRoot
* macOS: UntrustedRoot
* Other Unix (OpenSSL): UntrustedRoot.

All three agree

[2017-06-29 01:59] Drawaes commented on #7023
What about breaking with tradition and going for something "lower level" that could then have a "pretty" array based wrapper put ontop if needed?

`public interface IBulkCipherKey : IDisposable
 {
        int TagSize { get; }
        int Update(ReadonlySpan<byte> input, Span<byte> output);
        int Update(Span<byte> inputAndOutput);
        int Finish(Span<byte> inputAndOutput);
        int Fin

[2017-06-29 02:02] madelson commented on #20497
@Priya91 thoughts?

[2017-06-29 02:13] #19642 closed

[2017-06-29 02:13] #21510 closed

[2017-06-29 02:33] bartonjs commented on #7023
@sidshetye Yep, I agree on all parts.  (Though Suite B is deprecated.  See http://web.archive.org/web/20150815072948/https://www.nsa.gov/ia/programs/suiteb_cryptography/index.shtml and https://www.iad.gov/iad/library/ia-guidance/ia-solutions-for-classified/algorithm-guidance/cnsa-suite-and-quantum-computing-faq.cfm -- iad.gov uses a non-public-trusted root... as mentioned on https://www.nsa.gov/wh

[2017-06-29 02:42] sdrapkin commented on #7023
@sidshetye @bartonjs We use [Inferno](http://SecurityDriven.NET/inferno/)'s AEAD for full FIPS & Suite-B compliance (have been running multiple DoD solutions with Privacy Overlays and RMF ATO on .NET 4.7).

Inferno implements AEAD via `ICryptoTransform`, which works great.

[2017-06-29 02:43] Drawaes commented on #7023
Static methods kinda suck if you write software that takes in "some crypto" algo and does stuff with it. You end up having to switch and wrap and all sorts of nasty stuff. Plus you have issues with isolating your code for testing....

As for persisted keys, its not something I have thought about but yeah its a bit of an issue considering windows CNG vs OpenSSL Crypto (and I presume SecureTransport

[2017-06-29 02:50] Jiayili1 opened #21687 "Fireball: No test result generated under "System.Threading.Tasks.Parallel.Tests""
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170629.01/workItem/System.Threading.Tasks.Parallel.Tests/wilogs

Configuration:
Windows.10.Nano.Amd64-x64:Release

[code]

[2017-06-29 02:59] ccpony commented on #2394
Ron Jacobs was the guys who put his heart-and-soul into WF.  He contracted Dercum's Disease and left Microsoft in 2013.  When he left, that was it from WF.  Once again, and hopefully for the last time: WF IS DEAD.

[2017-06-29 03:02] ccpony commented on #2394
And once again - - I would encourage everyone and anyone to look at Dan Gerlag's project, above.  It's eloquent, beautifully conceived and runs on Core.  Anyone who wishes to contribute to a viable workflow solution needs to look it.

[2017-06-29 03:16] morganbr commented on #8158
@sidshetye, you mentioned in #7023 that you were interested in ECDH. Can you please tell us more about what you'd like to do with it? We haven't heard much from users on interest in ECDH or DH and it would be helpful to better understand your usage.

[2017-06-29 03:21] jkotas opened #21689 ""Length cannot be less than zero. " thrown on nectoreapp2.0 when trying to invoke Action<dynamic> that accesses a property on the input class - works for anonymous types"
_From @maumar on June 28, 2017 19:7_

repro:

[code]

exception:

[code]

I am unable to reproduce this in standalone app, this only happens in our test infrastructure (Entity Framework Core). Using xunit and we have generic and polymorphic test classes and tests are in multiple assemblies - maybe this has something to do with it, but so far we were unable to figure out the root cause. Let me know

[2017-06-29 03:21] jkotas commented on #21689
_From @maumar on June 28, 2017 19:22_

In order to actually reproduce the issue:

clone https://github.com/aspnet/EntityFramework/tree/netcoreapp_bug
run `dotnet restore` on the solution
navigate to `\test\EFCore.InMemory.FunctionalTests`
run `dotnet test --framework netcoreapp2.0 --filter FullyQualifiedName~Netcoreapp_bug`

[2017-06-29 03:21] saurabh500 commented on #19202
These tests still fail while running with TargetGroup=aot

[2017-06-29 03:24] saurabh500 commented on #19202
So far we have the following findings:
1. The Internal method XmlReader.CreateSqlReader cannot be accessed without modifying the rd.xml file.
The modifications suggested are
<Assembly Name="System.Private.Xml">
      <Namespace Name="System.Xml">

        <Type Name="XmlQualifiedName" DataContractSerializer="Excluded" DataContractJsonSerializer="Excluded"/>
                <Type Name="XmlReader" D

[2017-06-29 03:35] MattGal commented on #18760
Yes, that's what I'm referring to.  If anyone can manually hack together that specific AppX to instead launch the ILC console app we use in the other tests, automating it will be not much more work.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Yi Zhang (CLR) <notifications@github.com>
Sent: Wednesday, June 28, 2017 4:31:45 PM
To: dotnet/corefx
Cc: Matt Galbr

[2017-06-29 03:47] jnm2 commented on #7023
[Android's AES/GCM API has `setRandomizedEncryptionRequired`](https://developer.android.com/reference/android/security/keystore/KeyGenParameterSpec.Builder.html#setRandomizedEncryptionRequired(boolean)) when creating a key which throws an exception if you try to provide your own IV when encrypting. By default it is turned on.

I am partial to that kind of approach.

[2017-06-29 03:53] DemiMarie commented on #7023
Wait, does it use random nonces for AES-GCM?????

NEVER use anything other than a counter for a CTR, GCM, or CCM nonce.  The
risk of collision is too high.  If you need to persist keys, generate a
session key by hashing some public coins with the key, and then use that
for the cipher.  Store the random bytes with the ciphertext.

On Jun 28, 2017 11:47 PM, "Joseph Musser" <notifications@github.com>

[2017-06-29 03:55] morganbr commented on #7023
@jnm2 , while random nonces for GCM are an improvement, they're unfortunately only 96 bits. That effectively means that there's an unacceptably high chance that the same nonce will be chosen twice, which permanently breaks the security of the key.

[2017-06-29 04:02] jnm2 commented on #7023
Good to know. It does in fact use random nonces. However, the same type of approach would work. Instead of randomized IVs, the API forces the IV to increment. The API would need to require a way to load and save the next IV for that key. I imagine the performance would be at least on par if not greater than simply taking a `byte[] iv` parameter.

[2017-06-29 04:04] jnm2 commented on #7023
Yeah, the more I think about scenarios like parallel encryption of a series of individual messages, the more I realize that that doesn't belong in a low-level API.

[2017-06-29 04:22] kouvel commented on #21066
It looks like that's what the test is trying to test, if a closed handle is passed in a valid SafeHandle, it should still fail. ThreadPoolBoundHandle catches all exceptions from the call to ThreadPool.BindHandle and uses the HResult to translate two of them from ApplicationException to ArgumentException, one of which is E_HANDLE. But on uap we're getting SEHException, which uses the HResult E_FAIL

[2017-06-29 04:42] kouvel commented on #21066
Ah the handle is being closed twice, the exception is occurring at the close of the using block. According to CloseHandle:

I guess we get that behavior when running in an app as well. I'll fix the test.

[2017-06-29 04:49] sidshetye commented on #7023
static vs instance: not much of a preference as long as they're all thread safe x-platform. Either ways, somewhere there will be a switch statement setting either a param or calling the specific function or initializing a lamba.

Stream vs Byte[] vs whatever: I prefer the API stays low level rather than attempting to encapsulate logic that makes it inflexible. So I prefer Stream > byte[] >anything

[2017-06-29 04:53] #21651 closed

[2017-06-29 05:00] kouvel commented on #21066
The call to CreateIoCompletionPort with an already closed handle is resulting in an SEH exception instead of a return value indicating failure.

[2017-06-29 05:04] tuespetre commented on #21534
Here is the gist of what I am proposing:

[code]

And the usage would look like this:

[code]

[2017-06-29 05:16] safern opened #21692 "Extract Resources from assemblies and write them into the runner's pri file for UAP"
- [x]  Add MakePri.exe to buildtools package
- [x]  Modify [GenerateResourcesCode](https://github.com/dotnet/buildtools/blob/78260239e4db68ad5c2df774a27d5f9a54fd92e5/src/Microsoft.DotNet.Build.Tasks/GenerateResourcesCode.cs) to write the resources to a ResW file per assembly when building for UAP. This can be done through a parameter to the task when calling it in the build process.
- [x]  Bin pla

[2017-06-29 05:24] sidshetye commented on #8158
@morganbr we're using ECDH's `DeriveKeyMaterial` to encrypt the media encryption key when encrypting a file between two entities who have their own EC certificate.

BTW, I think we had to fiddle with the CngKey in some way to key the EC keys to work (either for ECDsa or ECDH). Would be nice if the API didn't assume any particular EC Key usage since regardless of ECDSA or ECDH, the underlying key s

[2017-06-29 05:30] morganbr commented on #7023
@sidshetye , the crypto discussion is relevant to the extent that it shapes the API -- we don't yet know how to make the API work well with the nonce management problems.

[2017-06-29 05:52] dotnet-mc-bot opened #21693 "Test: Microsoft.VisualBasic.CompilerServices.Tests.OperatorsTests/AddObject_Convertible_ReturnsExpected failed with "Xunit.Sdk.EqualException'"
Opened on behalf of @Jiayili1

The test `Microsoft.VisualBasic.CompilerServices.Tests.OperatorsTests/AddObject_Convertible_ReturnsExpected(left: 15, right: 18446744073709551615, expected: 18446744073709551630)` has failed.

Assert.Equal() Failure\r
    Expected: 18446744073709551630\r
    Actual:   0

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x83c229
       at Micros

[2017-06-29 05:53] dotnet-mc-bot opened #21694 "Test failure: Microsoft.VisualBasic.CompilerServices.Tests.OperatorsTests/AddObject_Incompatible_ThrowsInvalidCastException"
Opened on behalf of @Jiayili1

The test `Microsoft.VisualBasic.CompilerServices.Tests.OperatorsTests/AddObject_Incompatible_ThrowsInvalidCastException` has failed.

$BlockedFromReflection_0_68162000 : This object cannot be invoked because it was metadata-enabled for browsing only: 'System.DBNull.ToString()' For more information, please visit  http://go.microsoft.com/fwlink/?LinkID=616867

[2017-06-29 05:55] dotnet-mc-bot opened #21695 "Tests under: Microsoft.VisualBasic.CompilerServices.Tests.UtilsTests failed with "System.PlatformNotSupportedException""
Opened on behalf of @Jiayili1

The test `Microsoft.VisualBasic.CompilerServices.Tests.UtilsTests/CopyArray_NonMatchingBounds_ThrowsArgumentOutOfRangeException` has failed.

System.PlatformNotSupportedException : Arg_NotSupportedNonZeroLowerBound. For more information, visit http://go.microsoft.com/fwlink/?LinkId=623485

        Stack Trace:

           at xunit.console.netcore!<BaseAddress>+0x6fa0

[2017-06-29 06:17] v-haren commented on #21554
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/99/testReport/
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug/3442/testReport/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/90/testReport/

[2017-06-29 06:30] Jiayili1 commented on #21440
This issue is not repro, close it.

[2017-06-29 06:30] #21440 closed

[2017-06-29 06:32] Jiayili1 opened #21696 "UWP ILC Tests: Serveral tests have fireball on Windows.10.Amd64-arm"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170629.01

Configuration: Windows.10.Amd64-arm

[2017-06-29 06:41] danmosemsft commented on #21682
https://github.com/dotnet/corefx/pull/21683

[2017-06-29 06:41] danmosemsft commented on #21695
https://github.com/dotnet/corefx/issues/21682

[2017-06-29 06:41] #21695 closed

[2017-06-29 06:41] danmosemsft commented on #21694
https://github.com/dotnet/corefx/issues/21682

[2017-06-29 06:41] #21694 closed

[2017-06-29 06:42] danmosemsft commented on #21693
https://github.com/dotnet/corefx/issues/21682

[2017-06-29 06:43] steji113 commented on #8655
I am interested in taking a stab at finishing this. Would it be possible to get a summary on the remaining items needed to finish the existing PR #14124? I am assuming we need to:
- Get CI passing
- Ensure that the OS level API calls are getting properly translated

[2017-06-29 06:43] danmosemsft commented on #21275
@kouvel since yo moved the milestone back .. .are you doing this for ZBB? do you have an eta?

[2017-06-29 07:03] Jiayili1 opened #21698 "2.0.0 Core Tests: Fire issues on Fedora.26.Amd64"
Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170629.01

Several tests have fireball on Fedora.26.Amd64

[2017-06-29 07:14] pjanotti opened #21699 "test bug: test helper treats non-serial ports as serial ports"
This is a tiny test issue that I hit on my box. The comparison made by the helper ended up treating some ports like "COMPATIBLEBUS*" as serial ports, and that broke the `AllHelperPortsAreInGetPortNames` test.

[2017-06-29 07:21] EmmaZhu opened #21701 "Got Illegal character error when the file name is encoded in GBK"
Hi All,

We just encountered an issue that the enumeration function reports error of illegal character when there's GBK Chinese character in the directory. We found this issue on RedHat 7.3 with $LANG and $LC_ALL set to "zh_CN.GBK". It works well with Chines character with UTF-8 encoding.
The issue can be reproduced by following code:
[code]
It reports an error as following:

[code]

GBK is an enc

[2017-06-29 07:22] krzysztofdrys commented on #21657
Thanks for you answer, much appreciated.

I have already asked this [question on StackOverflow](https://stackoverflow.com/questions/44699441/how-do-i-use-textwriter-synchronized-in-netcoreapp1-1) some time ago. Well, now I can answer it myself. :)

[2017-06-29 07:30] pjanotti commented on #21699
@karelz it seems that I don't have rights to add labels (or my noobness is showing...)

Per area owership /cc @JeremyKuhne and @ianhays - this is just a single line change in a test helper.

[2017-06-29 08:07] karelz commented on #21282
@brentschmaltz this looks like your area of expertise. Can you please take a look?

@CIPop is it blocking your UWP work? Is it must have for UWP6.0?

[2017-06-29 08:13] karelz commented on #21699
@pjanotti sent email to @richlander to fix your permissions.

[2017-06-29 08:17] karelz commented on #8655
@steji113 collaborator invitation sent. Once you accept, ping me, I will be able to assign the issue to you (assigning temporarily to myself).
Pro tip: Disable repo notifications to avoid DoS of your email (it is 300+ notifications per day). Keep just notifications for 'mentions'.

@JeremyKuhne will be able to provide guidance on the specific next steps.

[2017-06-29 08:21] steji113 commented on #8655
@karelz Accepted the invite. Sounds good, thanks!

[2017-06-29 08:31] v-haren opened #21702 "Test failed: System.Net.Sockets.Tests.TcpListenerTest / Accept_AcceptsPendingSocketOrClient"
failed test: System.Net.Sockets.Tests.TcpListenerTest.Accept_AcceptsPendingSocketOrClient

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_release/92/testReport/System.Net.Sockets.Tests/TcpListenerTest/Accept_AcceptsPendingSocketOrClient/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-06-29 08:35] karelz commented on #21701
Does it work fine without .NET Core involved on RedHat? (trying to rule out OS problems)
@tarekgh are you the right person to take a look?

[2017-06-29 09:17] Drawaes commented on #7023
My thoughts on Nounces

1. Random has to absolutely be off the table. Never ever use random.
2. IV HAS to be user suppliable because otherwise it makes this API useless for interoperability.
3. It should by default implement incrementing the IV so if someone uses it "out of the box" it will sort it out for them. This means you need state, which means static methods are off the table.
4. Static vs

[2017-06-29 09:20] v-haren opened #21703 "System.Runtime.InteropServices.Tests failed in ci"
/mnt/j/workspace/dotnet_corefx/master/ubuntu16.10_release/Tools/tests.targets(354,5): error : One or more tests failed while running tests from 'System.Runtime.InteropServices.Tests' please check /mnt/j/workspace/dotnet_corefx/master/ubuntu16.10_release/bin/AnyOS.AnyCPU.Release/System.Runtime.InteropServices.Tests/netstandard/testResults.xml for details! [/mnt/j/workspace/dotnet_corefx/master/ubun

[2017-06-29 09:52] hughbe opened #21704 "[UWP6.0] Rect and Size in System.Runtime.WindowsRuntime has different exception thrown for size validation"
As suggested in #21658 - disabling tests against this issue.

[code]

[2017-06-29 10:32] pwasiewicz opened #21706 "Cannot deserialize XML with DataContractSerializer"
The following snippet throws exception:

[code]

Exception:

Ennviroment:
CSPROJ:
[code]

.NET CORE SDK

[2017-06-29 10:43] hughbe commented on #21610
So I'm now getting different failures on netfx - this happened randomly

[code]

Maybe this could help diagnose the bug

[2017-06-29 11:02] karelz commented on #21696
cc @danmosemsft @tijoytom

[2017-06-29 11:48] tmds commented on #21701
The bytes that make up the filename are decoded using `Encoding.Default`, which is documented to return `Gets an encoding for the operating system's current ANSI code page.`

For netcore, the encoding is fixed to UTF8 (from https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Text/Encoding.cs#L86-L87)
[code]

[2017-06-29 11:56] kronic opened #21709 "DataContractSerializer problem"
[code]

[2017-06-29 12:53] FranklinWhale commented on #7023
Perhaps [openssl_encrypt](http://php.net/manual/en/function.openssl-encrypt.php) in PHP is a good reference. Almost all symmetric-key algorithms are supported via a single interface.

[2017-06-29 12:54] sdrapkin commented on #8158
@morganbr ECDH is a crucial component of [ECIES](https://en.wikipedia.org/wiki/Integrated_Encryption_Scheme). I'm surprised MS hasn't heard much from users on interest in ECDH, given that modern TLS and practically all modern asymmetric cryptography runs on ECDH.

[2017-06-29 13:02] Drawaes commented on #8158
The reason is, most .net users use SSLStream for TLS support. As that doesn't use the .net crypto primatives but instead a native TLS implementation (SChannel, OpenSSL, SecureTransport) and they support DH and ECDH directly then most users don't need it. I guess the call for use cases is where someone would actually need it outside of TLS.

[2017-06-29 13:08] Drawaes commented on #7023
Terrible interface :p My issue with static methods is how to I encrypt split blocks/fragmented buffers. This is a huge requirement in networking especially because otherwise I need to ensure I gather the whole stream to send at once.

If we take a look at the underlying providers (I dunno about osx but openssl and schannel) there is pretty much a "context" that you can send multiple blocks to. Ide

[2017-06-29 13:20] sdrapkin commented on #7023
There is _no_ way to provide _safe_ AES-GCM APIs. Either you randomise the insufficiently-large 96bit IV-space, or you throw this at your users to correctly nonce the IV (which they won't). It's a pit of failure, either way.

@GrabYourPitchforks (MS) reached the same conclusion when designing ASP.NET [DataProtection](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementat

[2017-06-29 13:31] sdrapkin commented on #8158
TLS is online. There are equally as many scenarios for offline encryption. Additionally, those who can control both the Client and the Server, should not use TLS at all. [Tarsnap](http://www.tarsnap.com/) does not use TLS, and neither do most modern messaging solutions (ex. WhatsApp) which are based on [Noise](https://noiseprotocol.org/noise.html)-framework (which uses ECDH as a key building block

[2017-06-29 13:33] mmaguigan commented on #7023
@sdrapkin,
We shouldn't be presumptuous about the skill of API users. This is why low-level and high-level API distinctions exist. As a side note, DJB's nacl allows the user to provide the nonce with [crypto_secretbox](https://nacl.cr.yp.to/secretbox.html) - likewise, libsodium also allows this with it's [AES-GCM](https://download.libsodium.org/doc/secret-key_cryptography/aes-256-gcm.html) support

[2017-06-29 13:39] Drawaes commented on #8158
(Incase you are mistaken I am all for it)

The issue here is MS need some real world use cases of people needing in .net today.... to push it to the top of the pile... unless I mistaken

[2017-06-29 13:42] scalablecory commented on #8158
We use ECDH in an ECIES implementation to provide stateless communication between services when the message must go through an untrusted party. This is one of the last few puzzle pieces in us getting fully on .NET Core.

[2017-06-29 13:44] sdrapkin commented on #7023
@mmaguigan

Users need simple, safe, AEAD encryption API **first and foremost**. .NET does not provide a simple AEAD encryption API - that IMHO must be addressed _before_ catering to skilled crypto-aware users (who, btw had AESGCM on .NET for a [long time](https://bitbeans.gitbooks.io/libsodium-net/content/advanced/aes256_gcm.html) via Libsodium, BouncyCastle, or custom implementations).

I agree

[2017-06-29 13:47] Drawaes commented on #7023
I am all for a lower and higher level abstractions. I primarily care about the lower level ones and let others worry about the user friendly side.

For the lower level, ability to set/control the nounce. Ability to have a destructive or not encrypt, little to no allocations, ideally span over byte and finally fragmented buffers without any static would keep me quiet for a while. :)

[2017-06-29 13:51] sdrapkin commented on #8158
Real world use case: I cannot port [Inferno](http://securitydriven.net/inferno/) to NetStandard/Core if ECDH is not available.

[2017-06-29 13:51] mmaguigan commented on #7023
@sdrapkin, would you then agree that such an API would be constructed out of a set of low-level primitives? You have yourself a chicken and the egg problem. I'm afraid that what you are proposing is that such an API be kept ```internal``` and users be herded into simple API. This doesn't meet my use case as someone whose customers include large-scale enterprise (>15,000 empl.) - and I imagine it w

[2017-06-29 14:03] sdrapkin commented on #7023
@mmaguigan I'm not proposing to keep low-level APIs internal. As an example, `AES` itself is a low-level API with dozens of ways to misuse it (IV, chaining, padding, AE, etc, etc) - however it's a public API because it acts as a building block for other constructs. The .NET problem is that it **only** exposes unsafe APIs - there are no safe AEAD APIs. So poor users have no choice but to concoct so

[2017-06-29 14:07] stephentoub commented on #21537
In short, I think we could, albeit with some minor incompatibilities.  The main issue is around argument validation.  The desktop implementation has tight restrictions around the values of the buffer and buffer size arguments, as it's just passing along the requirements of the underlying websockets.dll implementation it's built on top of.  We have no such restrictions in the managed implementation

[2017-06-29 14:10] stephentoub commented on #21626
@icanhasjonas, I'm going to close this issue for now.  Please re-open it when you have more info if you still find it to be due to a bug in .NET Core. Thanks!

[2017-06-29 14:10] #21626 closed

[2017-06-29 14:17] Drawaes commented on #7023
Sure but then they should be using something more akin to a Dataprotection style API no?

[2017-06-29 14:21] jhallam3 commented on #17412
Hey, Im currently trying this in Linux, Ive got a MVC .net core 1.1 site. and that currently uses Visudo to run commands. which works ok. Issue is I want to execute command lines from the website to the server IE update files from a git pull, delete files etc. I cant see any guidelines for this or examples any where so my last option is on here.

why I need this.. my application can be updated fro

[2017-06-29 14:35] safern commented on #21610
Could you tell what steps did you follow to hit that failure?

[2017-06-29 14:42] stephentoub commented on #21624
@PilgrimViis, I see two issues here:
1. The main problem is that the native call to setsockopt is returning ENODEV ("no such device").  Seems like this is related to the machine's configuration?
2. We're successfully getting back the ENODEV error into Socket, but then dropping that value when the SocketException is thrown, as there's nothing ENODEV reasonably maps to in the SocketError enumeration

[2017-06-29 14:49] tannergooding commented on #21676
Fair enough.

At the very least, documenting interop/marshalling functions with the behavior they take on non-Windows would be very beneficial.

[2017-06-29 15:05] kouvel commented on #21275
Yea I was going to attempt to get it done today/tomorrow

[2017-06-29 15:05] kouvel commented on #21275
If not I'll just move it to future, I don't think it's critical for UWP6

[2017-06-29 15:41] lambdageek opened #21714 "SRE AssemblyBuilder with ReferenceAssemblyAttribute can create instances."
`AssemblyBuilder` can be used to create object instances even if the AssemblyBuilder has the `ReferenceAssemblyAttribute` set:

[code]

This runs and I get the following output:

[code]

[2017-06-29 15:49] ilab-admin opened #21715 "ActionBlock<T>.Post fail"
We use many ActionBlock<T> and create instances using constructors that accept only Action<T> without any configurations. So it should be unbound. But in some cases method Post returns false. What can cause this issue?

[2017-06-29 16:01] jnm2 commented on #14354
In the meantime while I'm longing for this API, how bad is it for me to be implementing GetHashCode via `(field1, field2, field3).GetHashCode()`?

[2017-06-29 16:02] tarekgh commented on #21692
@safern could you please hold a little on this PR. I am investigating some issue which may require us to change a little in this plan. thanks.

[2017-06-29 16:03] karelz commented on #21701
@tmds what do you suggest? Change the default? Or some opt-in for customers?

[2017-06-29 16:12] safern commented on #21692
Sure. No problem, just let me know whenever we are ready to move forward with this. Also feel free to update the steps in the issue description if you think we need to change something

[2017-06-29 16:13] tmds commented on #21701
@karelz the default should reflect the operating systems' current ANSI code page. This isn't implemented, it is always returning UTF8. I guess that is the root cause of the issue.

[2017-06-29 16:15] tarekgh commented on #21275
if @kouvel couldn't get to it, I'll try to find some time next week to do it.

[2017-06-29 16:24] danmosemsft commented on #21696
pinged engineering

[2017-06-29 16:35] tarekgh commented on #21701
@tmds

This is not true for net core since day one. UTF8 should be the default as this is the recommended behavior. your scenario will be broken anyway if someone using such file names encoded in such codepage and changed the system codepage to something else. or moved teh file to other machine that don't have this encoding as the default. this is why we are saying always using UTF8 will protect y

[2017-06-29 16:45] sepidehMS commented on #20626
Fixed in https://github.com/dotnet/corefx/pull/20561. Closing.

[2017-06-29 16:45] danmosemsft commented on #21703
segfault
[code]

[2017-06-29 16:50] danmosemsft commented on #21554
@sepidehMS could you please fix these tests today since we have line numbers back? Should be a fairly trivial change.

That will get our windows runs green again on the corefx homepage.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/lastCompletedBuild/testReport/ etc

[2017-06-29 16:52] danmosemsft commented on #17480
@safern I'm guessing we have ingested this fix, maybe see whether the tests can be reenabled?

[2017-06-29 16:52] caleblloyd commented on #10975
I think that these are important standards to put into `DbTransaction` and `DbConnection`

Without these APIs, database agnostic codebases such as Entity Framework have to either:

1. force Synchronous I/O in Asynchronous codepaths for Transactions and closing Database Connections
2. come up with some non-standard API to let a database provider make async versions of these calls

I work on [MySqlC

[2017-06-29 16:54] safern commented on #17480
Yes, I will test it locally and if so reenable and close this issue.

[2017-06-29 16:55] danmosemsft commented on #18718
@krwq is anything left of this after #21470 goes in?

[2017-06-29 16:55] neil0609 commented on #12821
or you can use int[] intArray = stringArray.Select(int.Parse).ToArray();

[2017-06-29 17:05] krwq commented on #18718
@danmosemsft I haven't seen any local failures in there and remaining work is tracked by separate issues:
https://github.com/dotnet/corefx/issues/21680
https://github.com/dotnet/corefx/issues/20782

[2017-06-29 17:05] #18718 closed

[2017-06-29 17:17] huanwu opened #21716 "Need use base type property get method when the override property is internal"
When serialize the following derived type, it will throw “access method DerivedTypeWithDifferentOverrides.get_Name4() failed”. This is because the generated code is wrong and it try to access the internal Name4 property.

[code]

[2017-06-29 17:27] karelz commented on #8158
Incidentally we are just going through planning phase for next investments into crypto area.
Would it help if we publish the ordered list draft in designs repo? (disclaimer: We will have to run the list and investment by our management before we can commit what we can implement when)

[2017-06-29 17:31] rgottumu opened #21718 "ASP.Net Core 1.1 App running inside docker container cannot connect to Remote Sql Server on Windows"
I have an ASP.Net Core Web API  running on .Net Core 1.1 is not able to connect to a sql server which is in my network but outside of docker container. I always get connection time out error.

`Connection Timeout Expired. The timeout period elapsed during the post-login phase. The connection could have timed out while waiting for server to complete the login process and respond;`

App works fine w

[2017-06-29 17:42] danmosemsft commented on #21258
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170629.02/workItem/System.Runtime.Serialization.Formatters.Tests.Execution

[2017-06-29 17:42] danmosemsft commented on #21258
[code]

[2017-06-29 17:42] #21649 closed

[2017-06-29 17:44] danmosemsft commented on #21259
ILC is already covered by https://github.com/dotnet/corefx/issues/21258

I'll open a new one for netcoreapp

[2017-06-29 17:44] #21259 closed

[2017-06-29 17:44] dotnet-mc-bot opened #21720 "Test failure: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: CookieContainer { Capacity = 10, Count = 1, MaxCookieSize = 1024, PerDomainCapacity = 5 }, blobs: [..."
Opened on behalf of @danmosemsft

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: CookieContainer { Capacity = 10, Count = 1, MaxCookieSize = 1024, PerDomainCapacity = 5 }, blobs: [...` has failed.

The stored blob for type System.Net.CookieContainer is outdated and needs to be updated.
    Stored blob: AAEAAAD/////AQAAAAAAAAAMAgAAAElTeXN0ZW0s

[2017-06-29 17:45] mregen commented on #21622
@bartonjs Are you planning to fix the behaviour on Mac/Linux for self signed certs? For us this is rather important because OPC UA happens to use a lot the self signed certs which are not necessarily part of the cert store, so we need to rely on the 'NotSignatureValid' to detect at least a tampered cert.

[2017-06-29 17:48] stephentoub commented on #21715
Post on an ActionBlock that's unbounded should only return false if the ActionBlock has been closed to additional messages, which could happen for example if someone called Complete on the block or if the block's delegate threw an exception that went unhandled and caused the block to fault.

[2017-06-29 17:56] sidshetye commented on #8158
@karelz Yes, I think sharing the list of yes, maybe and no would help facilitate the broader discussion of where .net crypto should be heading. In the meantime, can you please comment if ECDH will make it to net standard 2.0 final? net core 2.0 preview 2 came out and very surprisingly - it's still not there. We will accordingly have to message all our customers to stay away from net standard / cor

[2017-06-29 17:57] karelz commented on #20626
Reopening the PR above is in 2.1, not in 2.0. @sepidehMS is there another PR which ported the fix into rel/2.0.0 branch?
If yes, can you please link it from top post of the PR? (I updated #20561 already)

[2017-06-29 18:00] joperezr commented on #17480
already opened a PR for it #21721

[2017-06-29 18:01] sepidehMS commented on #20626
@karelz Done.

[2017-06-29 18:02] sepidehMS commented on #20046
Fix was approved by shiproom and PR is merged in rel/2.0.0 (https://github.com/dotnet/corefx/pull/21117). Closing.

[2017-06-29 18:02] #20046 closed

[2017-06-29 18:02] karelz commented on #8158
This issue is marked as Future, it will not make it into .NET Core 2.0. The .NET Standard 2.0 is frozen for couple of months.

How many customers are blocked? 100%, 10% or 1%?
We have to look at things with wider context. There are many scenarios. Many customers with different needs. Everyone thinks that their scenario is the most important in the world :).
You can also look at it the way -- if we

[2017-06-29 18:03] ianhays commented on #21701
We do, we use [Marshal.PtrToStringAnsi](https://msdn.microsoft.com/en-us/library/7b620dhe(v=vs.110).aspx) which converts ansi=>unicode. Is that not adequate if we're defaulting the encoding to UTF8 in all cases i.e. does Marshal think the native string is already in unicode since that's the default encoding?

[2017-06-29 18:16] #21303 closed

[2017-06-29 18:18] bartonjs commented on #8158
@sidshetye Our telemetry (visible at https://apisof.net/catalog/System.Security.Cryptography.ECDiffieHellman) says that we've never seen anything actually use the ECDiffieHellman class (though there is epsilon usage of ECDHCng directly (https://apisof.net/catalog/System.Security.Cryptography.ECDiffieHellmanCng)).

That's not to say "no, we're not doing it", but it was part of why other things have

[2017-06-29 18:22] sidshetye commented on #7023
@Drawaes and other against random nonce - why? A 96bit crypto-random IV gives less than a 1/2^48 chance of collisions. NIST 800-38D section 8 allows for the security proof to stay as long as it's under 1/2^32 (we're FAR above that).

Even the original AES GCM paper by McGrew and Viega, in section 2.1 page 3 says:

So a crypto-random is certainly a practical and pragmatic engineering solution. I'm

[2017-06-29 18:23] weshaggard opened #21722 "Turn netcore vs netfx apicompat checks into errors"
To help with compat issues like https://github.com/dotnet/corefx/pull/21388/files#r123627397 we need to turn the ApiCompat runs on all the time and make them errors.

The start of this work is in branch https://github.com/weshaggard/corefx/tree/EnableNetFxApiCompat but it still needs some work before it passes.

cc @ericstj @danmosemsft

[2017-06-29 18:28] Drawaes commented on #7023
Because of the birthday problem.... You clash calculation is assuming a single random vector vs another
[Wiki Birthday Problem](https://en.m.wikipedia.org/wiki/Birthday_problem)

[2017-06-29 18:32] jnm2 commented on #7023
Yep. Now I'm curious. What is the maximum number of times you can use a random IV before the probability of a birthday collision is too great?

[2017-06-29 18:34] CIPop commented on #21282
Yes, this is blocking e2e Negotiate/Kerberos enterprise scenarios.

[2017-06-29 18:35] #21554 closed

[2017-06-29 18:39] Drawaes commented on #7023
So here is the thing with AES-GCM yoù shouldn't encrypt large amounts of data with a single tag... so you need to break it up... therefore you end up with a lot of random nonces. It's time for me to read the kids bedtime stories bit feel free to do the math.

[2017-06-29 18:43] Drawaes commented on #7023
Actually while we are at it... how do you set the nonce in the other direction or retrieve it and transmit it? What's the perf hit for a truly random number...

I could see a random starting point with a counter from there including wrapping... or as tls 1.3 does which is a random 12 byte number xor with the sequence number

[2017-06-29 18:46] tmds commented on #21701
`Marshal.PtrToStringAnsi` calls [String(sbyte*)](https://github.com/dotnet/coreclr/blob/906f60ce3c55ab0cc41765d9eeea542ec65ff737/src/mscorlib/src/System/Runtime/InteropServices/Marshal.cs#L135)
Which uses [Encoding.Default](https://msdn.microsoft.com/en-us/library/k9s9t975(v=vs.110).aspx).

[2017-06-29 18:47] tehkyle commented on #19837
+1 here as well.

[2017-06-29 18:49] mmaguigan commented on #7023
I do not want to postulate on the circumstances wherein a user would be using the same key over and over again for millions of operations without re-keying - I am certain there are legitimate protocols in existence. That said, that circumstance is probably seeded from two possible events; event A) a mistake, wherein the user hard coded an encryption key or is reading a static symmetric key from di

[2017-06-29 18:50] #17480 closed

[2017-06-29 18:51] ianhays commented on #21701
Yeah, that'll do it then. It seems like we'll run into issues anywhere that function is used since it's not really doing conversion anymore, regardless of the *actual* system encoding.

[2017-06-29 18:52] #21699 closed

[2017-06-29 18:54] danmosemsft commented on #21720
@joperezr Mac issue I mentioned

I decoded and I see
<<m_SortVersionculture ? System.Globalization.SortVersion???en-US

@ViktorHofer says The good thing: The serialization payload isn’t missing any fields, all names are in it. Only the value at the end of the payload is missing: en-US. After a quick look it seems like en-US is the value of the field m_name in CompareInfo. I don’t know why it is mi

[2017-06-29 18:55] danmosemsft commented on #21720
Ask @ViktorHofer if you need help

[2017-06-29 18:55] danmosemsft commented on #18053
#21541

[2017-06-29 18:55] #18053 closed

[2017-06-29 18:57] danmosemsft commented on #20656
This is a relatively low priority for this release.

[2017-06-29 19:01] danmosemsft commented on #21275
AnonymousPipeTest_CrossProcess test is disabled with this issue also
[code]

[2017-06-29 19:01] danmosemsft commented on #21276
Pingpong is covered by https://github.com/dotnet/corefx/issues/21275

[2017-06-29 19:02] danmosemsft commented on #20522
@AtsushiKan offered to take this thanks @AtsushiKan !

[2017-06-29 19:02] huanwu opened #21724 "DerivedTypeWithDifferentOverrides fail when running on desktop"
We need enable this test back on netfx once port #21716 on the desktop.

[2017-06-29 19:03] danmosemsft commented on #20522
@ianhays comments on issue above?

[2017-06-29 19:22] Drawaes commented on #7023
agreed... that was my

So if I want to set it I can, if I don't it starts at random and increments.

[2017-06-29 19:25] tarekgh commented on #21701
This is not calling Encoding.Default. it is eventually calls

https://github.com/dotnet/coreclr/blob/a3af468e2f731e2d7b071fb82bd2eeb62cd8db0d/src/pal/src/locale/unicode.cpp#L667

passing CP_ACP

and the CP_ACP is hard coded for Linux to UTF8

https://github.com/dotnet/coreclr/blob/a3af468e2f731e2d7b071fb82bd2eeb62cd8db0d/src/pal/src/locale/unicode.cpp#L81

@ellismg looks you defaulted that on Linu

[2017-06-29 19:26] ianhays commented on #20522
In general I'm more inclined to make sure they're consistent with the desktop behavior than any other behavior, regardless of what MSDN or CoreFX say/do. This kind of change generally doesn't meet the bar to differ from netfx.

Either way, CoreRT and CoreCLR should definitely do the same thing.

[2017-06-29 19:29] morganbr commented on #14354
@jnm2 , the ValueTuple hash code combiner tends to put your inputs in order in the hash code (and discard the least recent ones). For a couple of fields and a hash table that divides by a prime number, you might not notice. For a lot of fields or a hash table that divides by a power of two, the entropy of the last field you insert will have the most influence over whether you have collisions (e.g.

[2017-06-29 19:33] tannergooding commented on #14354
ValueTuple also doesn't work well with fields that are all 0.

[2017-06-29 19:38] tannergooding commented on #14354
On a side note, I had to stop working on other implementations (have higher priority work).

[2017-06-29 19:40] kouvel commented on #18058
I'm not sure what's going on here either. Tried running it in a loop, no issues. Other tests are doing pretty much the same thing as far as the failure point is concerned. I'll try adding some debugging code to see the handle value passed to BindHandle.

[2017-06-29 19:43] anurse commented on #21537
That sounds like a good plan. Would that support WebSocket serving from Win7 or would we be limited by the lack of websocket.dll there?

[2017-06-29 19:45] AArnott commented on #19044
As an update, I have the code changes done in what I believe is a reasonable way. The test coverage is inadequate so I'll be adding tests later today. I expect to send a PR by tomorrow.

[2017-06-29 19:46] ellismg commented on #21701
I just think we decided to get on the UTF8 plan completely on *nix.  There used to be a bunch of code to deal with doing code page conversions (but it was OSX specific, IIRC from the Silverlight days) and just forcing UTF8 let us delete all that stuff. @jkotas

[2017-06-29 19:46] CIPop opened #21726 "Verify that Interop.Kernel32.SetFileCompletionNotificationModes is available in UAP"
Ensure that Interop.Kernel32.SetFileCompletionNotificationModes Win32 API is available in the Store Profile.

Related to the discussion in #20212

[2017-06-29 19:50] danmosemsft opened #21727 "Replace NtQueryInformationProcess with GetProcessID"
GetProcessID is in WACK

We only use NtQueryInformationProcess in one place - GetProcessIdFromHandle so we can remove all use of it.

@sepidehMS

[2017-06-29 19:52] danmosemsft opened #21728 "Throw PNSE for Process.Modules and Process.MainModule in UWP"
We cannot use K32EnumProcessModules in UWP as it's not on the approved list.

It’s used by Process.Modules and Process.MainModule -- usage is low and there's workarounds so just throw PNSE for those in UWP only.

[2017-06-29 19:52] CIPop opened #21729 "Certain TcpClient (and potentially other class) constructors perform I/O"
Performing I/O in a constructor is not supported by the UWP policies if that constructor is called on an UI thread.
We need to investigate if we need to change the implementation, obsolete the constructors or at least document this behavior.

[2017-06-29 19:53] danmosemsft commented on #21728
@sepidehMS

[2017-06-29 19:53] danmosemsft commented on #21728
then delete from src\System.Diagnostics.Process\src\PinvokeAnalyzerExceptionList.analyzerdata.uap

[2017-06-29 19:54] danmosemsft commented on #21727
then remove from
C:\git\corefx\src\System.Diagnostics.Process\src\PinvokeAnalyzerExceptionList.analyzerdata.uap

[2017-06-29 20:02] stephentoub commented on #21537
Which plan is the good plan? :)

On .NET Core, whichever of these APIs we expose, it'll work on Win7, as it'll be entirely managed code.  The current implementation on desktop won't work on Win7.

[2017-06-29 20:03] jnm2 commented on #14354
So if that's not good enough for a structured type, why is it good enough for a tuple?

[2017-06-29 20:07] stephentoub commented on #21728
Rather than throwing, can we do something like what we do on macOS?
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.OSX.cs#L107-L110

[2017-06-29 20:11] stephentoub commented on #21729
What's the exact limitation?  It's it a technical thing (i.e. an exception occurs) or a policy thing (i.e. it's frowned upon and apps that do it are disallowed).  If the former, I'm wondering if, for example, on UWP the I/O could just be moved off of the current thread, e.g. instead of:
[code]
doing the equivalent of:
[code]
to initiate the I/O from a non-UI thread.

[2017-06-29 20:12] #21585 closed

[2017-06-29 20:13] tarekgh commented on #21701
@karelz I moved this issue to 2.1.0. let me know if you still want keep this for 2.0

[2017-06-29 20:14] caesar1995 commented on #21726
Last time I built the project without the CompletionPortHelper.Uap.cs in UAP mode, the compiler complained that "error: SetFileCompletionNotificationModes() is not supported on UAP". But now the error goes away.

Besides, I have run the WACKVerify tool, no failures were detected.
![capturewack](https://user-images.githubusercontent.com/8537784/27708161-d18f0dac-5ccc-11e7-88dd-1c1d1aa042e0.PNG)

@d

[2017-06-29 20:15] stephentoub commented on #21537
I guess the other option is we could just create another public class, like WebSocketProtocol or something, that exposes such a CreateFromConnectedStream method.  That class could live in a separate library, which could be used on desktop as well, and ASP.NET could depend on that for the implementation everywhere.  I don't love the idea of introducing a new library for a single method, but maybe i

[2017-06-29 20:18] krwq commented on #18057
This is already fixed

[2017-06-29 20:18] #18057 closed

[2017-06-29 20:23] krwq commented on #21420
Already fixed

[2017-06-29 20:23] #21420 closed

[2017-06-29 20:25] jkotas commented on #21701
Current ANSI code page is Windows-specific construct. There has never been anything equivalent that got uniformly supported across Linux ecosystem.

Recent enough Linux distributions are set up such that everything is using UTF-8. .NET Core only supports distributions that are on this plan.

You can a ton of discussions on this topic, e.g. https://unix.stackexchange.com/questions/2089/what-charset

[2017-06-29 20:29] CIPop commented on #18800
@ViktorHofer @davidsh @karelz There's an ActiveIssue pointing to this bug. Should I remove the attribute?

[2017-06-29 20:30] krwq commented on #21203
This is enabled/fixed on UAP but has this for UAPAOT
[code]

without an issue
@AtsushiKan is there any issue trackng reenabling those on uapaot?

[2017-06-29 20:33] davidsh commented on #18800
The test is broken and needs to stay disabled until the test is fixed. Although, fixing this test is difficult since it is testing what is inherently a race condition.

[2017-06-29 20:51] huanwu opened #21731 "Fix DerivedTypeWithDifferentOverrides in reflectiononly mode"
Test DerivedTypeWithDifferentOverrides still fail in reflectiononly mode.
#21716

[2017-06-29 20:53] krwq commented on #21541
got local repro after running in a loop for a while, investigating

[2017-06-29 20:57] KrzysztofCwalina commented on #21281
Yeah, I think System.Text.Primitives (from corfxlab) should be used to format to UTF8.

[2017-06-29 20:59] KrzysztofCwalina commented on #21281
One library I would add to the list is System.Text.Encodings.Web. It would be good to add methods that can encode from and into Span<char>, and possibly UTF8 Span<byte>.

[2017-06-29 21:03] joperezr commented on #21720
I can't repro this on my Mac, I have `10.12.5 (16F73)` version installed and running latest master netcoreapp tests on Release configuration.

[2017-06-29 21:14] caesar1995 commented on #21726
Had offline discussion with @danmosemsft , the API is available in UAP.

[2017-06-29 21:14] #21726 closed

[2017-06-29 21:19] CIPop commented on #18800
Thanks for the confirmation @davidsh. I'll keep the issue open and the attribute as-is then.

[2017-06-29 21:22] jnm2 commented on #7023
Using the square approximation, because the exact calculation is beyond Wolfram Alpha, you'd have to use about  6,074,001,000 random 96-bit nonces for the probability of at least two colliding to become greater than 2<sup>-32</sup>.

[2017-06-29 21:24] jnm2 commented on #7023
You'd have to generate enough messages to overflow an `int` twice and almost a third time if you counted them.

[2017-06-29 21:24] joperezr commented on #21720
I checked the RuntimeInformation of the test that @danmosemsft added, and here are the differences:

RuntimeInfo of my machine (test passes)
[code]

Runtime Info on Helix (tests do not pass)
[code]

[2017-06-29 21:30] roji commented on #10975
Npgsql also already has `NpgsqlTransaction.CommitAsync()`, `NpgsqlTransaction.RollbackAsync()`. `NpgsqlConnection.BeginTransaction()` isn't needed specifically in Npgsql since the operation doesn't do I/O, but `NpgsqlConnection.CloseAsync()` is indeed missing.

@karelz I think what's needed here isn't actual async implementations in SqlClient - it seems that what's missing is these methods in DbTr

[2017-06-29 21:33] Drawaes commented on #7023
Hahaha, math eh, get you everytime. Fair enough then use randoms for the higher level or "non" supplied, but it's not my use case anyway. Everything I have had to use had a predefined nonce generation method in it's spec, so as long as I don't have to pay the price of calculating a decent random every time just to throw it away. I am happy. :)

[2017-06-29 21:41] Drawaes commented on #7023
FYI
86400 seconds per day 1000 requests per second, ~4b per 50 days (the number is closer to 4 than 6b) so if you didn't rotate your keys that often on a busy service you hit the 2^32 limit above... not that I think that is that viable, just saying :) Also you are eating entropy for your random numbers when you don't need them other than a starting point (if at all). FYI for TLS 1.2 OpenSSL uses a

[2017-06-29 21:47] jnm2 commented on #7023
I'm interested... did you find the number? I want to hang onto it.

[2017-06-29 21:54] maloo commented on #21281
Any chance we could fix Parse/TryParse signatures so we don't have to keep wrapping them in extension methods.

`public static int Parse(ReadOnlySpan<char> chars, int @default = default, NumberStyles style = NumberStyles.Integer, NumberFormatInfo info = null);`
`public static int? TryParse(ReadOnlySpan<char> chars, NumberStyles style = NumberStyles.Integer, NumberFormatInfo info = null);`

These a

[2017-06-29 21:57] geleems opened #21733 "Add TestCommandBuilder() and TestInitialCatalogStandardValues() in SqlSchemaInfoTest"
TestCommandBuilder() and TestInitialCatalogStandardValues() need to be filled out after CommandBuilder and PropertyDescriptor become supported in .NET Core.

[2017-06-29 22:00] JeremyKuhne commented on #8655
@steji113 It is a little tricky. CoreLib needs changed in CoreCLR as some of the key code (Path notably) lives there. [[example]](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/PathHelper.Windows.cs#L532)

The tests, however, live in CoreFX (System.Runtime.Extensions, and System.IO.FileSystem). In order to validate & make test changes you need to drop your CoreCLR buil

[2017-06-29 22:06] weshaggard commented on #6024
That might be an approach we can take but for now I'm focusing on ServiceBase and porting existing APIs. If we want to add new APIs we should file another issue to request those.

I'm about to go on vacation starting tomorrow and through next week, but I wanted to update the issue with my current progress. I've ported ServiceBase into the System.ServiceProcess.ServiceController library and I've po

[2017-06-29 22:06] jnm2 commented on #21281
The `Try*` pattern has really grown on me with out var. I don't really like the fact that I have to write `.Value` all over the place with the nullable pattern.

[2017-06-29 22:11] Drawaes commented on #7023
I hate to invoke NIST but, it states not that the odds need to be 2^32 but that you can ONLY invoke the algo 2^32 times unless you use deterministic construction with 96bit IV's ..... section 8.3,

So that is only 4b roughly (what's 200m between friends) as the IETF documents point out, if you were say encrypting disk data, with 512 byte block sizes (to match a lot of hard disks) that is only 2tb

[2017-06-29 22:13] Drawaes commented on #7023
I am now wondering what happens when my ssd runs out of IV's.... ?

[2017-06-29 22:21] Drawaes commented on #21281
I also have rekindled my fondness for the Try pattern, it's cool again :)

[2017-06-29 22:26] #7877 closed

[2017-06-29 22:29] sidshetye commented on #7023
Got a break and seeing github alerts :) ..

I've confirmed Joseph's numbers and we're going fairly deep into the IV specifics. While on it, two threat models:

1. Attacker wants to decrypt *this* piece of encrypted data => requires 1/2^48 attempts on randomized IV/nonce => impossibly remote => we're ok

2. Attacker wants to decrypt *any* two pieces of encrypted data => birthday attack =>
    2a) r

[2017-06-29 22:32] jnm2 commented on #21281
Especially once they allow deconstruction in place like `out var (x, y)` =)

[2017-06-29 22:33] Drawaes commented on #7023
They do, they allow 2^32 randoms per key, and as said if you are using my harddrive example above, even if the chance is remote, you are no longer NIST certified at that 2^32 region.

[2017-06-29 22:34] bbunderson commented on #6024
Great progress! Just out of curiosity the namespace was System.ServiceProcess for ServiceBase. I thought possibly putting it in System.ServiceProcess would be more clear...because System.ServiceProcess.ServiceController seems like it should only control services versus actually instantiate them. And I think @dasMulli may have assumed the same thing...when he was talking about the installer being i

[2017-06-29 22:35] DavidGoll commented on #21729
@stephentoub It's policy (to prevent perceivable UI hangs).
This issue was opened to determine whether these constructors are causing *perceivable* hangs.

[2017-06-29 22:36] KrzysztofCwalina commented on #21281
Some additional feedback after reviewing this carefully:

- Int16 (and others) will have TryFormat. Why not DateTime, DTO, TS, GUID, etc.?
- Should string have AsSpan, as opposed to the extension method we have today?
- Why do we need BinaryReader.Read(Span\<char\>)? Wouldn’t Span<byte> overload be enough? Remember that you can cast Span\<char\> to Span\<byte\> at very low cost.
- I think it would

[2017-06-29 22:40] CIPop opened #21738 "HttpClientEKUTest hang in UAP"
The HttpClientEKUTest tests require several prerequisites installed to run.
I've noticed that the tests hang if the root CA is installed.

The tests make use of most of the server certificate callback and client certificates so it may be that this issue is related to (or just a side effect of) #21627 and #21628

[2017-06-29 22:42] weshaggard commented on #6024
@bbunderson it is still in the System.ServiceProcess namespace it is just in the System.ServiceProcess.ServiceController library right now. We have a System.ServiceProcess library in .NET Core but is is currently only a shim (i.e. type-forwards types only) and putting into that library will cause unnecessary restrictions because of the potential conflicts with .NET Framework. We could definitely c

[2017-06-29 22:43] CIPop commented on #21738
@davidsh @DavidGoll PTAL

[2017-06-29 22:49] bbunderson commented on #6024
That makes total sense. Thanks for the insight, and thanks for attention to this matter. I think this will be a great addition and solve so many use cases.

[2017-06-29 22:50] CIPop commented on #21703
Failed on Win7 here: https://mc.dot.net/#/user/CIPop/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/536e9bfd4ac7eb248adbd0744cc2bddb8962535b/workItem/System.Runtime.InteropServices.Tests/wilogs

[code]

From the log it appears that the XUnit runner crashed. A memory dump might be available on dumpling.

[2017-06-29 22:52] davidsh commented on #21738
The tests are probably hanging because since I haven't implemented those 2 properties yet for HttpClient UAP, they are throwing PlatformNotSupporteException.  And I bet that exception is getting lost and the async task never completes with the error.

[2017-06-29 22:55] anurse commented on #21537
Yes. :P

Seriously though, having a `CreateServerWebSocket` is just fine with us. The only reason for `CreateFromConnectedStream` was that it seemed more general-purpose and there isn't really much different between client or server. But since `CreateClientWebSocket` already exists, `CreateServerWebSocket` is all we actually need.

:+1:

[2017-06-29 22:56] CIPop commented on #20136
Verified and added tracking issues part of #21732.

[2017-06-29 23:00] anurse commented on #21537
One thing this bring up (and maybe this was covered and I just didn't follow it): Since this type already exists, any new API on WebSocket wouldn't be available in Desktop, would it? If that's the case, perhaps the new type/new assembly is better, since it could run on both... Since we're `netstandard2.0` and can't really take a dependency on a later version of the standard, a stand-alone library

[2017-06-29 23:05] DavidGoll commented on #21738
Are we planning to implement those 2 properties for UWP6.0? If so, please reference the issue or issues.

[2017-06-29 23:16] danmosemsft commented on #21728
Sounds good to me. The usage for MainModule is about 5x higher than Modules.

[2017-06-29 23:17] danmosemsft commented on #21698
fixed

[2017-06-29 23:17] #21698 closed

[2017-06-29 23:18] danmosemsft commented on #21676
Issue moved to [dotnet/docs #2524](https://github.com/dotnet/docs/issues/2524) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-29 23:18] #21676 closed

[2017-06-29 23:34] davidsh commented on #21738
Yes.  They are referenced above: #21627 and #21628.

[2017-06-29 23:43] karelz commented on #21718
Did you try to do the same thing in just .NET Core, without ASP.NET Core? (basically minimal repro)
It would help us identify where the problem might be.

[2017-06-29 23:47] karelz commented on #21709
What's the problem? What is the expected output and what is the output you get?

[2017-06-29 23:54] Petermarcu commented on #16430
I see some fixes merged. Is this still an issue in 2.0.0? Are we on track to address it and does it meet the bar at this point?

[2017-06-29 23:58] Petermarcu commented on #21359
@livarcocc, Is this fixed or does it need to move to the SDK repo to be tracked as a 2.0.0 issue?

[2017-06-29 23:59] tijoytom commented on #21642
TFS updated , should be in tomorrows build

[2017-06-29 23:59] #21642 closed

[2017-06-29 23:59] CIPop commented on #18680
@davidsh We have an ActiveIssue in WebClient. Is this fixed now?

[2017-06-30 00:01] Petermarcu commented on #21273
@danmosemsft, this is still sitting in the 2.0.0 milestone. Is it coming through or moved out to 2.1?

[2017-06-30 00:02] Petermarcu commented on #20626
@sepidehMS I assume this issue can now be closed?

[2017-06-30 00:02] tijoytom commented on #21680
@AtsushiKan These AppDomain APIs are not supported on UAPAOT right?

[2017-06-30 00:06] Diego-Perez-Botero commented on #21642
Thanks for the quick turnaround, @tijoytom and @joperezr  ! 🥇

[2017-06-30 00:08] sepidehMS commented on #20626
Yes, this has been fixed in both 2.1 and 2.0

[2017-06-30 00:08] #20626 closed

[2017-06-30 00:08] jkotas opened #21741 "GCHandle double-free in GCHandleTests"
This case https://github.com/dotnet/corefx/blob/954d7199ffd45537e89aa1b15b3cc38df56f58e1/src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/GCHandleTests.cs#L125 is causing the GCHandle to be double-freed here https://github.com/dotnet/corefx/blob/954d7199ffd45537e89aa1b15b3cc38df56f58e1/src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/GCHandleTests.cs#L

[2017-06-30 00:08] jkotas commented on #21741
cc @hughbe

[2017-06-30 00:09] hughbe commented on #21610
I'm really sorry but I didn't really follow any steps... it just came back after I ran the netcoreapp tests for System.Drawing.Common followed by the netfx tests

I think that the fact it's about ValueTuple is significant but I'm not sure

[2017-06-30 00:10] jkotas commented on #21703
Likely caused by https://github.com/dotnet/corefx/issues/21741

[2017-06-30 00:15] CIPop commented on #16856
Failed in NetFX tests for #21739

https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/616/consoleFull

[code]

[2017-06-30 00:15] DemiMarie commented on #7023
That is why we need subkey derivation: use a hash (such as SHA512) to
generate the key and nonce from a master key and an arbitrarily long
nonce.  Then increment the nonce for subsequent messages.

This is the only safe construction.

On Jun 29, 2017 6:34 PM, "Tim Seaward" <notifications@github.com> wrote:

[2017-06-30 00:16] ahsonkhan commented on #20845
API added in https://github.com/dotnet/corefx/pull/20886

[2017-06-30 00:16] #20845 closed

[2017-06-30 00:16] #17995 closed

[2017-06-30 00:16] #20137 closed

[2017-06-30 00:22] cydhaselton commented on #21503
@jkotas Thanks. Unfortunately I'm getting the following error when running the `./build-managed.sh` part of the build.
[code]
I'm running the following for the managed build:
[code]
Are there any dependencies I'm overlooking?

[2017-06-30 00:23] ahsonkhan commented on #20242
@karelz, adding up-for-grabs

This issue is fairly easy to resolve. It is a method rename (along with it's uses) and shouldn't take more than 1-2 hours (including testing).

[2017-06-30 00:25] Petermarcu commented on #18680
Any update on this. Are we still considering this for 2.0.0 or should it be 2.1?

[2017-06-30 00:25] weshaggard commented on #21610
I suspect this is another instance of https://github.com/dotnet/buildtools/issues/1587. cc @joperezr @danmosemsft

[2017-06-30 00:25] davidsh commented on #18680
This was fixed back in April with Viktor's PR #19118.

[2017-06-30 00:28] hughbe commented on #21610
Ah okay, good to know there's a better bug report! RuntimeInformation and ValueTuple ship as their own packages, not part of the .NET Framework, right? I guess that's what may be causing the issues

[2017-06-30 00:30] morganbr commented on #14354
@jnm2, that's one reason this feature is worth building -- so we can go replace substandard hashes across the framework.

[2017-06-30 00:32] Petermarcu commented on #18680
Ok, I'm closing this then.

[2017-06-30 00:32] #18680 closed

[2017-06-30 00:32] huanwu commented on #21706
@pwasiewicz when you use the attribute IsRequired=true, the code will verify if the required members are present in the alphabatical order. So you need make the XML like the following to make it pass.
[code]

[2017-06-30 00:37] AtsushiKan commented on #21680
The TypeResolve and ResourceResolve event handlers: you can set them - by design, we'll never fire them.

ExecuteAssemblyByName doesn't look like an api problem - it looks like an infrastructure problem (the test assembly not being binplaced by the ILC test plumbing.)

I don't know about the others - @DnlHarvey did the appdomain work.

[2017-06-30 00:41] CIPop commented on #18680
@davidsh @Petermarcu I reopened because there is still an [ActiveIssue with this bug ID ](https://github.com/dotnet/corefx/blob/6f10c8b6823ed4736fde3c5940d6001fc7d30ad9/src/System.Net.WebClient/tests/WebClientTest.cs#L392) that I'm removing in my PR #21742 (I verified that the test runs fine).

[2017-06-30 00:48] Petermarcu commented on #21273
@JeremyKuhne If this can come in tomorrow, given that its really isolated and low risk, I think we can take it for 2.0. If not, lets just move this issue out to 2.1.

[2017-06-30 00:48] karelz commented on #10975
I let area experts comment: @divega @saurabh500 @corivera ... I was just typing triage meeting notes in November 😉

[2017-06-30 00:52] karelz commented on #21282
@CIPop please work directly with @brentschmaltz, he is the only expert around on identity
cc @DavidGoll

[2017-06-30 00:56] divega commented on #10975
@roji I agree in reality lack of this APIs in System.Data.Common and SqlClient are two separate issues. I think we can address this first and independently in System.Data.Common and (sounds like a good PR to work on :smile:) and then we can do it in SqlClient when we are ready.

There isn't much of a precedent of having async APIs in the base classes that are not implemented by SqlClient but that

[2017-06-30 00:57] karelz commented on #21701
Is there anything for us left to do at all in 2.1? What should be the next step?

[2017-06-30 00:59] tarekgh commented on #21701
Per Jan's comment I think we can close this issue.

[2017-06-30 00:59] sidshetye commented on #8158
@bartonjs @karelz I love the telemetry data but how is it being captured? I know for a fact that all workloads and public/private datacenters where we're using ECDH are typically quite locked down. I'm guessing the same might be true for customer workloads that require higher levels of assurance of ECDH. Or is that telemetry off desktop apps. Our ECDH usage on servers >> desktops.

Anyway, looking

[2017-06-30 01:04] hughbe opened #21744 "Using WindowsRuntimeBuffer should not require rd.xml"
From @yizhang82 in #21658

The exception diff seems to be a result of overly aggressive optimization. I remember @hoyMS mentioned something like this in the past. If we keep running into issues like these, we should consider turning off that particular optimization, at least in our testing. And if that optimization doesn't bring us a lot of value, we should consider simply turn it off in the compi

[2017-06-30 01:07] karelz commented on #8158
@sidshetye we have public numbers from nuget.org and whoever used ApiPort and sent data.
We have internal data from several other sources.

We also count all customers who tell us they use it in locked down environments. You are the first one to speak up.

[2017-06-30 01:08] karelz commented on #21701
Then let's do it :)

[2017-06-30 01:08] #21701 closed

[2017-06-30 01:08] yizhang82 commented on #21744
@hughbe thanks for logging the issue.
@tijoytom Have you got a chance to look into this?

[2017-06-30 01:16] karelz commented on #20628
Fixed in 2.0 in PR #21290

[2017-06-30 01:16] #20628 closed

[2017-06-30 01:39] CIPop commented on #21282
Thanks @karelz.

@brentschmaltz, please let me know if you need more information.

[2017-06-30 01:41] hughbe opened #21747 "[porting] Image.FromFile has different argument validation from netfx"
Following tests pass with netfx, fail with netcoreapp:

[code]

I have a fix

[2017-06-30 01:59] morganbr commented on #7023
Subkey derivation is a fine solution, but it's a custom protocol, not AES-GCM. Doing things like that make the API more like DPAPI. I'm all for having an "opinionated" AEAD API that incorporates things like that (and/or safer algorithms than GCM), but that doesn't help folks who need to conform to a protocol.

[2017-06-30 02:15] stephentoub commented on #21537
@weshaggard, how do we feel about adding a new library that'd essentially be a single method (with a bunch of implementation behind it), e.g.
[code]

[2017-06-30 02:17] davidfowl commented on #21537
I like the new method and assembly

[2017-06-30 02:35] rschiefer commented on #21359
After installing the .NET Core SDK 2.0.0 Preview 2 build 006497 I can confirm the issue is resolved.  Thanks for the help everyone!

[2017-06-30 02:35] #21359 closed

[2017-06-30 02:37] Petermarcu commented on #21359
Thanks!

[2017-06-30 03:32] stephentoub opened #21753 "Move ValueTask and friends to Corelib"
We will need to be able to use these in APIs defined in Corelib, e.g. on Stream.

[2017-06-30 03:59] los93sol commented on #18023
Should this be working in Iot Core?  I'm trying with an ASP.NET Core application using the daily builds and targetting win10-arm fails to build so I have to target win-arm instead.  The issue I have then is that when deployed I get "System.IO.Ports is currently only supported on Windows.".  Reading this thread I'm under the impression this is expected to work with this scenario.

[2017-06-30 04:12] sidshetye commented on #8158
@karelz : I missed answering your question - a 100% of our Microsoft stack customers (FinTech, Healthcare, Govt) will be blocked from moving to .NET Core 2.0. I'm telling them to stay on .NET Framework. (Side note: Glad ASP.NET Core is supported on .NET Framework for that to be viable; had us worried about fragmenting the community like Python3 or Angular). We have folks on Java and Scala too but

[2017-06-30 05:15] safern opened #21754 "Disabled Performance tests for UAP in arm have to be investigated and re-enabled"
System.Numerics.Vectors.Performance.Tests and System.Collections.Performance.Tests where hanging in official build for UAP in ARM.

We need to investigate if it was an actual hang or just because the ARM computers are slower.

They where disabled in: https://github.com/dotnet/corefx/pull/21674

cc: @joperezr @danmosemsft

[2017-06-30 06:10] #21741 closed

[2017-06-30 06:17] roji commented on #10975
@divega I'm not saying I have time to do a PR for System.Data.Common, but if I did, here's a question :)

For this to have any value, it would need to go into .NET Standard 2.1 (e.g. to allow EF Core to use it). Are there any guidelines for how new .NET Standard APIs are submitted, introduced into .NET Framework etc?

[2017-06-30 06:21] hughbe commented on #21703
Fixed in #21743

[2017-06-30 06:25] Jiayili1 commented on #21379
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170630.01/workItem/System.Runtime.Tests.Execution

[2017-06-30 06:27] #21703 closed

[2017-06-30 06:29] hughbe commented on #21526
Fixed in #21743 (@jkotas)

[2017-06-30 06:29] Jiayili1 commented on #20246
This issue is repro on OSX.1013, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170630.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-06-30 06:31] Jiayili1 commented on #20390
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170630.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledActivityLogging

[2017-06-30 06:35] dotnet-mc-bot opened #21757 "Test failure: System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: CookieContainer { Capacity = 10, Count = 1, MaxCookieSize = 1024, PerDomainCapacity = 5 }, blobs: [..."
Opened on behalf of @Jiayili1

The test `System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests/ValidateAgainstBlobs(obj: CookieContainer { Capacity = 10, Count = 1, MaxCookieSize = 1024, PerDomainCapacity = 5 }, blobs: [...` has failed.

The stored blob for type System.Net.CookieContainer is outdated and needs to be updated.
    Stored blob: AAEAAAD/////AQAAAAAAAAAMAgAAAElTeXN0ZW0sIFZ

[2017-06-30 06:36] Jiayili1 commented on #21757
dup of https://github.com/dotnet/corefx/issues/21720

[2017-06-30 06:36] #21757 closed

[2017-06-30 06:38] kronic commented on #21709
Problem in the order of attributes
Original Value
<n2:xml b="b" xmlns:n2="wwww.test.com" a="a" />
Value after deserialization
<n2:xml b="b" a="a" xmlns:n2="wwww.test.com" />

[2017-06-30 06:38] Jiayili1 commented on #19924
This issue is not repro on UWP F5 tests

[2017-06-30 06:38] #19924 closed

[2017-06-30 06:44] Jiayili1 commented on #17925
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170630.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FExecuteReaderWithCommandBehaviorTest

[2017-06-30 06:44] divega commented on #10975
@roji that is an excellent point. @karelz or @terrajobst  may be able to point you to detailed guidelines if they are available.

I believe before the new APIs can become part of a version of .NET Standard they would need to be incorporated in other popular .NET platforms and not just in .NET Core. That probably means that libraries that target .NET Standard won't be able to leverage these API for

[2017-06-30 06:57] Jiayili1 commented on #19994
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170630.01/workItem/System.Net.Primitives.UnitTests.Tests/analysis/xunit/System.Net.Primitives.Unit.Tests.CookieContainerTest~2FGetCookies_RemovesExpired_Cookies

[2017-06-30 07:13] svick commented on #21714
I think the reason this does not throw is because the exception is normally thrown when *loading* a reference assembly. But in your code, the assembly is already loaded after `DefineDynamicModule` is called.

What do you think should happen? That an exception should be thrown whenever you attempt to execute a method (in your case, `Foo` constructor) from a such an assembly?

[2017-06-30 07:17] Jiayili1 opened #21759 "System.DirectoryServices.AccountManagement.Tests.PrincipalContextTests.ValidateCredentials_IncorrectUserNamePassword_ThrowsException failed with "Xunit.Sdk.ThrowsException" in CI"
Failed test: System.DirectoryServices.AccountManagement.Tests.PrincipalContextTests.ValidateCredentials_IncorrectUserNamePassword_ThrowsException

Configuration: outerloop_netcoreapp_win7_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/102/testReport/System.DirectoryServices.AccountManagement.Tests/PrincipalContextTests/ValidateCredentials_Inc

[2017-06-30 07:26] Jiayili1 commented on #21554
Still repro, https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/91/testReport/System.Diagnostics.Tests/StackTraceTests/Ctor_SkipFrames_FNeedFileInfo_skipFrames__1__fNeedFileInfo__True_/

Checked the commit is not in, will check it on next build

[2017-06-30 07:33] danmosemsft commented on #21754
@jorive I asked this somewhere else but I can't find it -- will we/do we record perf from ARM runs? If not we don't need this until we do.

[2017-06-30 07:33] danmosemsft commented on #21696
please reactivate if reproes more

[2017-06-30 07:36] danmosemsft commented on #21759
@hughbe one of your new tests ..thoughts? not sure if this is flaky, or it's win7 specific.

[2017-06-30 07:38] adriangodong commented on #20242
First time contributor, I can take this.

[2017-06-30 07:43] Drawaes commented on #7023
@morganbr 100% agree which is why I think the auto IV in any form is a waste of time. If we look at it like this

1. You are implementing a protocol / scheme/ standard (your own or otherwise) . Then you probably know what you are doing or whoever wrote the protocol will ( we hope). Then nonce generation should be part of that and you will need your own scheme.
2. You just want a way to keep your s

[2017-06-30 07:47] #19817 closed

[2017-06-30 08:17] nopara73 opened #21761 "SslStream bug on Linux/OSX: Interop+OpenSsl+SslException: SSL Handshake failed with OpenSSL error"
**`dotnet --version` output:** 1.0.1

The bug is present on Ubuntu, but not on Windows 7. I suspect it is an **issue on both Linux and OSX, but not an issue on Windows**, because it doesn't use OpenSSL.

I created a project where **I reproduce the issue**, you can find it here: https://github.com/nopara73/SslStreamBug/
It only consists of a `Program.cs` file.

The **place** where the exceptions ar

[2017-06-30 09:36] 4creators opened #21763 "[Proposal] Change internal type name System.Net.WebFileStream to System.Net.FileWebStream"
After porting one of my projects from .NET Framework 4.6.1 to netcoreapp2.0 target I have noticed some failing tests due to a tests dependency on netfx internal type name System.Net.FileWebStream. This type has different name in .Net Core - [System.Net.WebFileStream](https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/FileWebRequest.cs#L311).

Although I am aware of

[2017-06-30 10:15] hughbe commented on #21759
The exception trace for this test method is
[code]

The code for the test is
[code]

Looking at the test message for this failing test "The network path was not found", I'm confused. We're getting the context for the current machine - which should always be found.

If the test is flaky, it's likely to be a configuration issue. I'm trying to stress-test now

[2017-06-30 10:16] hughbe commented on #21759
Update: I did a quick google around and found this: https://stackoverflow.com/questions/25060655/c-sharp-principalcontext-the-network-path-was-not-found

It seems orthoganally related, but I'm not sure

[2017-06-30 10:16] pwasiewicz commented on #21706
@huanwu oh yes, it seems that it works. But... is it the desired behaviour? I don't think that manual nodes reordering before parsing is the way to go ;)
In net462 it works regardless of nodes order.

[2017-06-30 10:41] nopara73 commented on #21761
I tested it with **`dotnet --version` output:** 2.0.0-preview2-006497

The exact same behavior is experienced, except that it has slightly differen, insignificant stack trace:
Instead of  `ReadFrameCallback˙ it has `StartReadFrame` and `PartialFrameCallback` as you can see below:
[code]

[2017-06-30 10:46] nopara73 commented on #21761
Pinging @bartonjs , since you fixed a similar issue before: https://github.com/dotnet/corefx/pull/13095

[2017-06-30 11:23] svick commented on #21763
Being returned from a method is not the same as being publicly exposed.

Could you explain why exactly do you need that? Maybe "source of data" could be added as a public property to `Stream`.

[2017-06-30 12:12] #21526 closed

[2017-06-30 12:20] JohnLBevan commented on #2295
Looking at Saxon, they use `setLanguageVersion("3.0")` to determine version.  Assuming there are no copyright / IP issues, it would make sense to keep consistent with their approach, since many will have been using the Saxon engine in lieu of the .Net support, so this makes the switch simpler.

http://www.saxonica.com/documentation9.5/expressions/

[2017-06-30 12:24] karelz commented on #20242
@adriangodong cool! Collaborator invite sent. Just remember to turn off repo notifications (300+ per day), otherwise you will be DoS'd. Let me know when you accept, so that we can assign this issue to you.

Also be warned that Changing public APIs is a bit involved and not yet documented ideally.
You can find docs in wiki (also linked from repo README.MD). Please help us improve them (it is RW for

[2017-06-30 12:30] karelz commented on #10975
Currently we do not have clear plans / guidelines for .NET Standard 2.1. There are opinions, but nothing set to stone yet. I expect the discussion to become more serious during summer ...

[2017-06-30 12:33] a688 opened #21766 "System.Data.SqlClient .NET Core 2.0 Preview 2 - Unable to load DLL 'sni.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
I'm getting this error with .NET core 2.0 Preview 2. I'm running Windows 7 SP1 x64. When I run dotnot --version from my output directory I get _2.0.0-preview2-006497_

# Code Example:
[code]

# Repo steps using VS 15.3.0 Preview 3.0:
Create new C# .NET Core console app
Add System.Data.SqlClient from nuget (currently version 4.3.1)
Copy/paste code from above
Start debugging project

# What should h

[2017-06-30 12:33] jkotas opened #21767 "Process.Start("cmd.exe") launches inside existing console window (on Windows)"
_From @danwalmsley on June 30, 2017 8:57_

I would expect this code to launch a separate console window.
[code]

_Copied from original issue: dotnet/coreclr#12571_

[2017-06-30 13:07] willdean commented on #18023
@los93sol I'm not sure you should read this thread as being any claim it works at the moment.  I think @cStorm has done some work locally on enumerating ports on Win10-arm-iot or whatever it's called officially, but I don't think that's ever been committed back.

[2017-06-30 13:10] nopara73 commented on #21761
There is a trick that selectively bypasses the issue.
If you add `userCertificateValidationCallback` to the `SslStream` the exception is not thrown, depending on the host.

Normally one would do this, where the issue is always present on Linux and OSX:
[code]
But if one does this:
[code]
Then the issue is bypassed depending on the host, which of course leaves a security hole.

An example of succes

[2017-06-30 13:23] danwalmsley commented on #21767
@jkotas thanks for putting issue in the right place.

I found a workaround for people currently having this problem:

[code]

[2017-06-30 13:56] karelz commented on #21766
@saurabh500 @corivera can you please take a look? Is it critical for 2.0?

[2017-06-30 14:01] karelz commented on #21763
Dependencies on internal types is very slippery slope. I would like to prevent that as much as possible. Same holds for private reflection.

If you think we need a new public API, please follow [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) and describe API shape, motivation, usage examples, etc.
The API shape should not be shape

[2017-06-30 14:03] karelz commented on #21761
@Priya91 @geoffkizer can you please take a look?
cc @Drawaes

[2017-06-30 14:17] stephentoub commented on #21281
Thanks for reviewing, @KrzysztofCwalina!

Makes sense.  I'm not very familiar with the library, but it looks like it'd be the base TextEncoder class?  Could you suggest what overloads should be added there?

Yeah, I should probably add something for those. Ok.

No strong opinion.  Let's consider that as part of #21395 rather than here.

BinaryReader's ctor takes an Encoding, so using the `Span<byt

[2017-06-30 14:37] lambdageek commented on #21714
I'm not sure what I expect to happen - there doesn't seem to be a clearly better option.

1. Maybe adding the attribute to the assembly builder should throw an error if the `AssemblyBuilderAccess` allows running? (ie, `RunAndSave` would conservatively throw even if it's just being used for `Save`).
2. As you suggest maybe it should throw when you try to run a method.
3. Maybe if the `ReferenceAsse

[2017-06-30 14:40] lambdageek commented on #21714
Meanwhile, Mono is going to follow  .NET Core / .NET Framework behavior and allow methods from an `AssemblyBuilder` to run even if `ReferenceAssemblyAttribute` is set (mono/mono#5156).

[2017-06-30 14:44] lambdageek commented on #21714
Incidentally this variation (setting `ReferenceAssemblyAttribute` at the call to `DefineDynamicAssembly`) also runs and has the same behavior as the initial report.

[code]

[2017-06-30 15:09] Drawaes commented on #21761
Suspect it's a bug in the version of OpenSSL provided by your platform.... occurs in the version check and isn't an issue directly related to .net. can you try changing the version to one of the ones mentioned below and see if the issue disappears?

https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/861137

[2017-06-30 15:28] bartonjs commented on #21076
This was fixed by #21269, but since that PR was not to master the issue didn't auto-close.  Closing now.

[2017-06-30 15:30] kouvel commented on #21066
Looks like an issue in Windows. These tests will need to remain disabled for the time being, moving to future.

[2017-06-30 15:31] tmds commented on #21701
@karelz should this be documented?

@jkotas @tarekgh @ellismg fyi, this blog post shows how java handles this: http://happygiraffe.net/blog/2009/09/24/java-platform-encoding/.

[2017-06-30 15:32] kouvel commented on #18058
This is not actionable at the moment, and it's likely to be a test or external issue, moving to future.

[2017-06-30 15:33] joperezr commented on #21066
@kouvel did you figure out how come they work on netcoreapp if this is a Windows issue?

[2017-06-30 15:45] kouvel commented on #21066
The only difference is that for uap it's run inside an AppContainer, that may be the difference

[2017-06-30 15:45] karelz commented on #21701
Probably ... do you have any idea where? With some APIs? Or maybe in Release notes? (Does not seem to be good fit for CoreFX repo docs)

[2017-06-30 15:47] tarekgh commented on #21701
from the comments on this article it looks the problem still there with Java too. the file names still displayed as "?" so the encoding is not really correctly handled there.

[2017-06-30 15:48] jkotas commented on #21701
The documentation for `Encoding.Default` property would be a good place.

[2017-06-30 15:50] gokarnm commented on #21591
Hey guys any update on this?

[2017-06-30 15:53] Petermarcu commented on #21591
I believe all you need to do is add to runtime.json. That said, with our linux-64 rid working nearly everywhere, that's all we should really need. Is there something about amazon Linux that would require people to cross compile their native assets? Remind me which distro and version it's based on?

[2017-06-30 15:58] KostaVlev commented on #20711
I have this [test](https://github.com/KostaVlev/corefx/blob/master/src/System.Drawing.Common/tests/Drawing2D/GraphicsPathTest.cs#L815-L823) failing because of the returned status code `Ok` [here](https://github.com/mono/libgdiplus/blob/3d81dd34cf079cca905d94695b47a0eb0a63ad85/src/graphics-path.c#L964-L977) on line 970.
Shouldn't it be `InvalidParameter`?

[2017-06-30 16:00] tarekgh commented on #21701
I have created a doc issue and linked it to this issue.

CC @Petrusha

[2017-06-30 16:07] hughbe commented on #20711
If it returns Ok in .net core then update the test accordingly I say.

Also, sorry to say thi, but you're going to need to wrap all of those instantiations of any IDisposable objects - GraphicsPath, Matrix, etc. In a using block... it sucks I know ;p

[2017-06-30 16:10] danmosemsft commented on #18023
@weshaggard I'm curious why this message appears on IoT. It comes from `<GeneratePlatformNotSupportedAssemblyMessage Condition="'$(TargetGroup)' == 'netstandard' AND '$(TargetsWindows)' != 'true'">SR.PlatformNotSupported_IOPorts</GeneratePlatformNotSupportedAssemblyMessage>` ... but TargetsWindows seems like it should be true?

[2017-06-30 16:14] tmds commented on #21701
I wouldn't assume there is a Java problem, I guess his terminal isn't configured for UTF-8 or some else related to that particular setup.

The documentation for Encoding.Default property would be a good place.

Would that be a good place that this affects filesystem handling too? Or perhaps a remark on File/Directory class?

[2017-06-30 16:16] danmosemsft commented on #20388
should be disabled for win8

[2017-06-30 16:17] saurabh500 commented on #21766
Try using SqlClient 4.4.0 preview version. I will try a repro today.
@karelz let us look into the issue to figure out the impact. If it's not an app config issue then sqlclient is unusable on windows

[2017-06-30 16:17] danmosemsft commented on #18800
@CIPop should this be in 2.0 milestone at this point - seems not?

[2017-06-30 16:20] adriangodong commented on #20242
@karelz Invite accepted

[2017-06-30 16:20] davidsh commented on #18800
This is a test bug really.  The API itself is inherently hard to test.  It should not be in 2.0 milestone.

[2017-06-30 16:20] karelz commented on #18800
I assume the test is disabled, right?

[2017-06-30 16:21] davidsh commented on #18800
Yes, it is disabled.

[2017-06-30 16:22] tarekgh commented on #21692
@safern I have done the investigation and I confirm our original plan should be fine. just to let you know what I was investigating:

- I was looking at the real UWP apps created in VS and how the resources get handled there especially the framework libraries resources. I wanted to make sure our corefx is doing exactly what VS targets are doing. I found in F5 scenario, VS resource targets is mergi

[2017-06-30 16:23] tarekgh commented on #21692
by the way, I'll try to look at the changes here later.

[2017-06-30 16:25] tarekgh commented on #21701
Feel free to add your comment to the linked doc issue so it can capture all place we may need to edit

[2017-06-30 16:26] tmds commented on #21701
Some more info on the OpenJDK implementation (credits: Andrew Haley)

used for filenames:

encoding on all UNIXy systems.

[2017-06-30 16:31] #21667 closed

[2017-06-30 16:36] danmosemsft commented on #16430
@saurabh500 I moved this out as there's never been evidence it's more than a test issue.

[2017-06-30 16:38] danmosemsft commented on #20246
Need an update from @mellinoe who has been investigating this.

[2017-06-30 16:40] danmosemsft commented on #21273
When I talked to @JeremyKuhne he indicated 2.1. I agree because this seems such a corner case.

[2017-06-30 16:41] danmosemsft commented on #18083
@ericstj I guess now is a good time to re-run @joperezr analysis (ie., it's final bits) or should we wait a little longer?

[2017-06-30 16:42] danmosemsft commented on #16856
Moving to 2.1 as the failure was in the netfx run, which does not involve the 2.0 product. Test issue

[2017-06-30 16:44] KostaVlev commented on #20711
@hughbe  That test is new I added it. So if I got that right then I should write success test where the `AddRectangle()` accepts rectangles with zero height or width? Which is a line by the way...

[2017-06-30 16:46] joperezr commented on #20782
@danmosemsft should this be UWP6.0 or UWPafter6.0?

[2017-06-30 16:53] joperezr commented on #19932
per conversation above, closing for now. @inkredible-raccoonbot feel free to re-open if you feel like we should discuss this more.

[2017-06-30 16:53] #19932 closed

[2017-06-30 17:01] ericstj commented on #18083
Do it now and once we have a stable build.

[2017-06-30 17:05] joperezr commented on #18083
Sounds good, I'll do this later today and report back with the results.

[2017-06-30 17:12] joperezr commented on #21754
I believe we don't but even if we did this seems to be a bug in our infrastructure, since the test projects actually have 0 tests to run, but from looking at the logs the Launcher is timing out waiting for the application to finish executing. After debugging it on a ARM machine (without being able to repro) I suspect that what is happening is that since we have 0 tests to run the app is quitting t

[2017-06-30 17:14] #21541 closed

[2017-06-30 17:14] los93sol commented on #18023
After looking at the source it appears as thought the issue I was experiencing is actually by design and is explicitly blocked in this case.  I was calling SerialPort.GetPortNames() where the exception was being returned.

The following is where it appears to be trapping....
            if (PlatformDetection.IsWinRT)
            {
                return new string[0]; // we are waiting for a Win32

[2017-06-30 17:23] a688 commented on #21766
It works when I update to the 4.4 preview (4.4.0-preview2-25405-01 to be exact).  Should that (having to use prereleases) be expected when adding packages while .net core 2.0 is still in preview?

[2017-06-30 17:24] los93sol commented on #18023
Thinking about it though, that still doesn't explain why I had to target win-arm instead of win10-arm, I would expect iot core to be a win10-arm target, but I supposed that is probably the RID for full windows 10 on arm?

[2017-06-30 17:25] krwq commented on #21767
@danwalmsley when you open regular cmd.exe and type `cmd.exe` it also does it in the same window. I believe this is intentional. `/c` seems like a correct approach:
[code]

[2017-06-30 17:25] danmosemsft commented on #21767
It is a divergence from desktop framework. It's probably because UseShellExecute is false by default for Core, not true. I'l check.

[2017-06-30 17:30] danmosemsft commented on #18023
@ericstj can you answer my question about $(TargetsWindows) and @los93sol 's question about the RID of Windows IoT? Where are we at with that target platform?

[2017-06-30 17:32] #21310 closed

[2017-06-30 17:32] #21451 closed

[2017-06-30 17:33] AtsushiKan commented on #21203
No issue that I know of. The check is written so that the test lights up on its own once the blocking condition is removed.

[2017-06-30 17:34] krwq commented on #21483
Reopen or recreate when this is unblocked https://github.com/dotnet/corefx/pull/21594

[2017-06-30 17:36] danmosemsft commented on #21767
Yes, that's the reason. @danwalmsley if you change to this you get the behavior you want.
[code]

This defaulting was a conscious change in behavior: https://github.com/dotnet/corefx/issues/18949#issuecomment-302802961

Many thanks for the report -- we are always interested in cases where our behavior is different to desktop.

[2017-06-30 17:36] #21767 closed

[2017-06-30 17:38] danmosemsft commented on #21759
@tquerec can you advise whether this is expected behavior here?

I'm not sure how this is "remote" though.

[2017-06-30 17:39] krwq commented on #21483
@danmosemsft this will likely get fixed in RS4, should we change label to UWP.after6.0?

[2017-06-30 17:47] stephentoub commented on #21767
FYI, that requires .NET Core 2.0.

[2017-06-30 17:48] jnm2 commented on #21767
Which answers the question I was just about to ask. =)

[2017-06-30 17:49] #21747 closed

[2017-06-30 17:51] danmosemsft commented on #21754
Looking at the launcher code, it isn't obvious why the process exiting immediately would cause it to hang. It does WaitForSingleObject on the process handle, which one would expect to return immediately. It would need debugging if we want to fix that.

The launcher does accept a `timeout` parameter. I'm not sure whether we'd be any better off though. It would still time out it just wouldn't be Hel

[2017-06-30 17:51] #21716 closed

[2017-06-30 17:51] saurabh500 commented on #21766
@a688 that's expected till 2.0 moves out of preview.

[2017-06-30 17:51] #21766 closed

[2017-06-30 17:53] danmosemsft commented on #18023
@los93sol that should only happen if you're running in app container (eg., a UWP style app). The message you reported "System.IO.Ports is currently only supported on Windows." is not from there.

[2017-06-30 17:54] danmosemsft commented on #20782
This should stay UWP6.0. I'll ping Windows folk for status.

[2017-06-30 17:56] joperezr commented on #21754
agreed, this needs debugging. Unfortunately, being ARM machines there are not many good debuggers I'm familiar with out there. If this becomes an issue were assemblies that do have tests start seeing this I think we should fix it but for now we could postpone it.

[2017-06-30 17:57] safern commented on #21692
@tarekgh thanks for the investigation! Is great to know that our original plan should work fine. Ok, so then we should just do this for UAPVertical.

Shouldn't be much work to enable to extract the resources from non framework libraries as they are part of the Runtime folder right?

[2017-06-30 17:59] joperezr commented on #21610
yup, looks like it.

[2017-06-30 18:01] tarekgh commented on #21692
So far we don't have any case like that. if we got one some day, either will be part of the test runtime restored early in the compilation or it may be used by specific test which can be part of the test output itself. let's not worry about this case now and we can handle that when we get a case.

[2017-06-30 18:03] safern commented on #21692
Sounds like a plan. Thanks for confirming the plan is the good path to go.

[2017-06-30 18:03] mellinoe commented on #20246
I've debugged through a few repros at this point, but I haven't identified a root cause. One repro was hung in this method, https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/src/System/Net/Managed/HttpListenerRequest.Managed.cs#L302, in what could potentially be an infinite loop. That's the closest we've gotten to the bottom of this.

[2017-06-30 18:03] svick commented on #21281
That issue already exists: https://github.com/dotnet/corefx/issues/19814.

[2017-06-30 18:17] stephentoub commented on #21281
Thanks, I thought I remembered having this discussion recently :smile:

[2017-06-30 18:47] joperezr commented on #18083
just ran the validation against the following versions:
[code]
All ApiCompat checks are passing, and except  for one System.Diagnostics.DiagnosticSource test all of the corefx tests are passing which is good news. I'll take a closer look at that test and figure out why is it failing.

[2017-06-30 18:55] Petermarcu commented on #18023
@los93sol , we simplified in .NET Core 2.0. win-arm should be all you need to use.

[2017-06-30 19:20] rgottumu commented on #21718
Tried with a .net core console application, same error.

[2017-06-30 19:27] los93sol commented on #18023
@danmosemsft You are correct, I was seeing that snippet in the test and mixed it up.  I have ended up doing similar to @cStorm and modified it to use QueryDosDevice to list the ports and that is working as expected.  I then modified SerialStream to eliminate the check that the portName starts with "COM" as was suggested earlier in this thread.  I'm not able to instantiate the SerialPort object but

[2017-06-30 19:51] MichalStrehovsky opened #21775 "Improve test coverage for Array.Clone"
.NET Native prior to 1.6 used to have a bug around `Array.Clone` for multidimensional arrays: https://stackoverflow.com/questions/44850907/avoid-net-native-bugs

This was fixed as a side effect of https://github.com/dotnet/corert/commit/90698bcde54ddc0eb7c1c452cef6641f8b73bbac (we no longer implement MdArrays as an object with a single field that is an SzArray that backs the MdArray's data (we for

[2017-06-30 20:00] ericstj commented on #18023
TargetsWindows is a build time condition based on the project configuration.  That just means that any non-windows binary (including AnyOS binary) will get the not-supported-assembly.  You'd see this if your app if you weren't restoring the correct asset from the package.  That'd probably mean that the RID used for restore was wrong, or you had an out of date RID mapping from Microsoft.NETCore.Pla

[2017-06-30 20:12] karelz commented on #21718
Can you please paste the code?

[2017-06-30 20:13] karelz commented on #21718
Did you get chance to try .NET Core 2.0 Preview2?

[2017-06-30 20:22] mellinoe commented on #20712
I'm not sure it will be a viable option. We currently don't ship any native shims for Windows, and doing so for this would introduce a lot of extra dependencies, just for Nano. It's likely that we just won't support the library there. After all, System.Drawing has never been supported for use on servers, and this is well-documented.

[2017-06-30 20:24] pjanotti commented on #15226
@karelz, @bartonjs Is it acceptable to workaround it with something like the code below? I am leveraging ```WellKnownSidTypeTests.AccountIsDomainJoined``` added in April by @ianhays - although the method is small I prefer to reference it here so if we ever need to change it, it is in a single location.

[code]

[2017-06-30 20:41] rdefreitas commented on #12034
so, it's been a while. Has anyone begun looking into this beyond this conversation?

[2017-06-30 20:43] safern opened #21776 "No testResults.xml for System.Data.Common.Tests in UAPAOT"
This tests are failing fast. I just investigated and the tests that are causing this to happen are: [SqlXmlTest](https://github.com/dotnet/corefx/blob/ad697e016a5ed01a698ba780ea9dda0ed5cee901/src/System.Data.Common/tests/System/Data/SqlTypes/SqlXmlTest.cs#L34)

It seems like all of them cause this tests to fail fast and not produce testResults.xml

My guess since they are failing fast and only in

[2017-06-30 20:43] safern commented on #21776
I will go ahead and disable the whole class so that we start having testResults.xml for this test project

[2017-06-30 20:46] saurabh500 commented on #21776
@safern these are the culprits https://github.com/dotnet/corefx/issues/19202

[2017-06-30 20:47] saurabh500 commented on #21776
I suggest reverting the PR https://github.com/dotnet/corefx/pull/21648

[2017-06-30 20:47] saurabh500 commented on #21776
Also dont disable the whole class, there are some tests in there which run

[2017-06-30 20:48] kouvel opened #21777 "AnonymousPipeTest_CrossProcess.PingPong fails with SEH exception on uap"
The test was disabled. Output:

[code]

[2017-06-30 20:49] safern commented on #21776
Closing as it is a dupe of: #19202

@saurabh500  I will disable only the ones pointed in that issue then.

[2017-06-30 20:49] #21776 closed

[2017-06-30 20:49] safern commented on #19202
@saurabh500  could you please take a look and fix this?

[2017-06-30 20:51] saurabh500 commented on #19202
@Safern are you talking about reverting the PR which enable this test or a real fix?
I am working with different folks to get a fix in.

I am stuck at figuring out how to make System.Data.COmmon build with System.Private.Xml instead of the System.Xml.ReaderWriter. Any clues?

[2017-06-30 20:51] los93sol commented on #18023
@ericstj  Thank you, the file is too large for me to post here, what's the best way to get it to you?

[2017-06-30 20:54] safern commented on #19202
I'm talking about a real fix. Will not revert the PR as the DateTimeTest seems to be fixed. I'm just confirming locally.

Not that come to my mind now but @joperezr might know.

[2017-06-30 20:57] safern commented on #19202
System.Data.Tests.SqlTypes.SqlDateTimeTest.GetTypeTest is indeed fixed. I don't see it failing anymore. Updating the issue description

[2017-06-30 21:00] dotnet-mc-bot opened #21778 "Test failure: System.Net.Http.Functional.Tests failing on macOS HIgh Sierra specifically"
Opened on behalf of @danmosemsft

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/InvalidCertificateServers_CertificateValidationDisabled_Succeeds(url: \"https://wrong.host.badss...` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.
    ---- System.Net.Http.CurlException : SSL peer certificate

[2017-06-30 21:01] danmosemsft commented on #21778
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170629.02/workItem/System.Net.Http.Functional.Tests

[2017-06-30 21:04] saurabh500 commented on #19202
A little context here : I have already tried using ProjectReference to include the System.Private.Xml.csproj in the System.Data.Common.csproj (after removing the System.Xml.ReaderWriter) dependency. However I get compilation errors for all the Xml namespaces.

[2017-06-30 21:04] safern commented on #21598
This seems to be fixed, we haven't hit this anymore. We have a clean run in UAP now. Can we close?

[2017-06-30 21:05] saurabh500 commented on #21598
No. The tests were disabled. Please leave it as is.

[2017-06-30 21:08] safern commented on #21777
The test is disabled against: https://github.com/dotnet/corefx/issues/21275

[2017-06-30 21:09] safern commented on #21777
cc: @JeremyKuhne

[2017-06-30 21:12] kouvel commented on #21777
I just put up a PR (#21780) to fix issue #21275. The test gets a bit farther and fails here now. I'm also changing the issue the test attribute points to, to this issue as part of that PR.

[2017-06-30 21:12] ericstj commented on #18023
Just put it in a [gist](https://gist.github.com/).

[2017-06-30 21:13] kouvel commented on #21777
Also, this may be another case of invalid handles and may be the same issue as in #21066. It looks like inside an AppContainer, some Windows APIs issue an SEH exception when closed handles are passed in.

[2017-06-30 21:15] kouvel commented on #21066
It looks like inside an AppContainer, some Windows APIs issue an SEH exception when closed handles are passed in. Will determine what to do about this after UWP6.0.

[2017-06-30 21:17] safern commented on #21777
Thanks for the update @kouvel

[2017-06-30 21:25] vancem commented on #16856
@brianrob

[2017-06-30 21:28] los93sol commented on #18023
@ericstj Eric, I have posted it [Here](https://gist.github.com/los93sol/11d77008a7c8b2c52d5fb921f0e93504)

[2017-06-30 21:41] los93sol commented on #18023
Looking at it myself, I'm pretty sure you are correct, Microsoft.Netcore.Platforms was something like 1.0.1. Can I just update it through nuget or is there some preferred way we are supposed to manage that?

[2017-06-30 21:43] ericstj commented on #18023
Here are your three targets:
[code]

This tells me that NuGet doesn't think `win-arm` is compatible with `win`.

Why?  Because the RID graph is old.  `win-arm` was added in https://github.com/dotnet/corefx/commit/179f1f25cccae75989a2b95c85e1ef6ce5cb6165, on May 23. `"Microsoft.NETCore.Platforms/2.1.0-preview2-25319-04"` referenced by this project is from May 19.

Can you change your reference to S

[2017-06-30 21:50] ericstj opened #21781 "Delete the 4.5.0-preview2 packages from myget"
We had a couple builds of master that used the post-2.0 versioning (4.5.0) with the preview2 string.  This is bogus.  The packages are causing problems for folks who try to "get latest" and are getting old builds.  /cc @weshaggard

@dagood can you help script this with your NuGet-CLI-fu?

[2017-06-30 21:50] stephentoub commented on #21281
@shaggygi, thanks for explaining further.  I could be wrong, but to me this does not seem like a very common need.  I can imagine a variety of custom encoding needs folks might have, and for that there's nothing stopping you from writing your own helpers, e.g. pseudo-code:
[code]

[2017-06-30 22:02] dagood commented on #21781
Sure. Looks like just these two builds got published:

https://github.com/dotnet/versions/blob/61076147ca863b39fc5d32253f31d889ccfd1d12/build-info/dotnet/corefx/master/Last_Build_Packages.txt
https://github.com/dotnet/versions/blob/d74fba51a1bd5b9374facd4bb57fa51954859a38/build-info/dotnet/corefx/master/Last_Build_Packages.txt

I'll go ahead and delete them from MyGet. (If someone needs them for s

[2017-06-30 22:03] joperezr commented on #21066
sounds good, thanks for taking a look.

[2017-06-30 22:10] tarekgh commented on #21483
if the fix will come in RS4 then move it to the future milestone as we cannot do anything now.

[2017-06-30 22:11] joperezr commented on #19202
Well, System.Xml.ReaderWriter is a contract assembly and System.Private.Xml is the implementation of that contract. Do you need an internal type or something that only exists at runtime for this? If so, you basically have to move all of your dependencies to be implementation assemblies instead. For an example of this, you can take a look at the implementation project of System.Collections, which b

[2017-06-30 22:17] ericstj commented on #21781
Awesome, thank you @dagood

[2017-06-30 22:27] dagood commented on #21781
No problem. The nuget calls are all done to unlist those builds, and MyGet will just need a little time to update.

[2017-06-30 22:36] bartonjs commented on #21778
If I had to guess, I'd say that the VERIFYPEER/VERIFYHOST options that we're setting aren't being respected by the LibreSSL backend that Apple seems to have switched to for 10.13.

[2017-06-30 22:53] krwq commented on #21547
Also not reproing here so far, I'll be betting for timeout but will leave this running in a loop for a weekend. I think OuterLoop or speeding up the tests (or splitting into slow/fast)

Quick analysis those can be improved or marked as outerloop since they take considerably more time than the rest:
[code]

[2017-06-30 23:09] tarekgh commented on #19587
@krwq do you think this issue is what you have fixed? I didn't try it yet but wanted to check.

[2017-07-01 00:01] mellinoe commented on #20712
I updated my branch with all of the changes in mono:

https://github.com/mellinoe/corefx/tree/system.drawing.unix

Currently, 1460 / 2459 tests pass on Ubuntu 16.04. Many of these seem to be fixable without making any changes to libgdiplus.

@qmfrederik Are you planning on doing any more consolidation to the mono library?

[2017-07-01 00:03] tarekgh commented on #19587
assigning to @krwq as he is looking to the exact same issue https://github.com/dotnet/corefx/issues/21483.

[2017-07-01 00:17] caesar1995 commented on #20840
The link doesn't show discussion, here is the new link:
https://github.com/dotnet/corefx/pull/20793#discussion_r121023823

[2017-07-01 00:48] los93sol commented on #18023
@ericstj Thanks for creating that and getting some action on it so quickly, you guys are awesome!

[2017-07-01 01:22] krwq commented on #19587
@tarekgh I only have disabled few test cases and have closed PR where they were suppose to work on RS3 (since they didn't). I think we should change them to not throw exception and default or leave them unchanged until this works - I thought they didn't throw at all so I probably remembered it wrong or something has changed

[2017-07-01 02:59] Diego-Perez-Botero opened #21786 "UWP test runner metadata needs to be updated to Windows Insider SDK flight 16225"
The Windows.winmd files used by the CoreFX repo and associated .NET Native toolchain were updated this week to the Windows.winmd corresponding to Windows Insider SDK flight 16225. For full context, see #21642

I’m now working on #21102 (out for PR - #21755) and the new code that references new APIs compiles just fine. However, running the UWP tests (i.e., msbuild /t:rebuildandtest /p:TargetGroup=u

[2017-07-01 03:06] yizhang82 commented on #21786
@Diego-Perez-Botero The problem is likely that CoreCLR F5 tests didn't carry a copy of windows.winmd with them (and also the host needs to point to it using a magic variable as well). Without it, CoreCLR will be looking at the Windows metadata on the machine, which by definition won't be available in down-level OS. As a result, type loader will complain about missing metadata at *runtime*, and thi

[2017-07-01 03:10] yizhang82 commented on #21786
See https://github.com/dotnet/core-setup/blob/master/src/uwp/Host/UWPHost/UWPHost.cpp#L86 on how to make this work.

[2017-07-01 03:15] Diego-Perez-Botero commented on #21786
Thanks for the info, Yi. The exceptions are happening on a machine running a Windows build that's greater than 16225, so wouldn't the Windows metadata on the machine be OK?

[2017-07-01 03:32] yizhang82 commented on #21786
It's likely a different branch so the API haven't made there yet. Or there is a breaking change. you can confirm what exactly is the problem by running `ildasm C:\windows\system32\WinMetadata\Windows.Networking.winmd`

[2017-07-01 03:33] Diego-Perez-Botero commented on #21786
Well...you were right, Yi! I manually replaced the Windows.winmd that was under C:\corefx2\corefx\bin\Windows_NT.AnyCPU.Debug\System.Net.WebSockets.Client.Tests\netstandard\WinMetadata with the 16225 Windows.winmd, and now all the tests pass!!!

[2017-07-01 03:34] Diego-Perez-Botero commented on #21786
So....where is the test runner getting its Windows.winmd from? I guess that's what we need to update.

[2017-07-01 03:35] davidsh commented on #21786
The test-runtime might be bin placing that older Windows.winmd.....or the UAP Test Runner is bin placing it.

[2017-07-01 03:41] stephentoub commented on #21778
@bartonjs, on macOS we don't disable CURLOPT_SSL_VERIFYHOST as doing so also disabled SNI. Maybe we need to revisit that and set it based on the back end being used? Or it may not be related. Probably worth trying disabling that though and seeing if this issue goes away or not.

[2017-07-01 03:44] Diego-Perez-Botero commented on #21786
Below is a list of all the windows.winmd files in my corefx clone (which I fetched today). Those that need updating are in **bold**:

BYTES     PATH
5,740,544 c:\corefx2\corefx\bin\AnyOS.AnyCPU.Debug\winrt\uap\Windows.winmd
5,740,544 c:\corefx2\corefx\bin\ref\uap\Windows.winmd
**5,348,864 c:\corefx2\corefx\bin\testhost\uap-Windows_NT-Debug-x64\Runner\WinMetadata\Windows.winmd
5,348,864 c:\corefx2\

[2017-07-01 03:45] Diego-Perez-Botero commented on #21786
Essentially....the **microsoft.dotnet.uap.testtools** package is what is yet to be updated with the correct Windows.winmd file ;)

[2017-07-01 03:50] davidsh commented on #21786
The test runner will have to be updated as well (see CSPROJ)

https://github.com/dotnet/buildtools/blob/master/src/xunit.runner.uap/XUnit.Runner.Uap.csproj

[2017-07-01 03:55] steji113 commented on #8655
@JeremyKuhne OK, I will have to work on getting the CoreCLR to build and run with CoreFX. I have only built the latter previously.

Just to summarize a few things:
- In CoreCLR we need to ensure that the PathTooLongException and other areas where the path length is preemptively checked are removed EXCEPT for where platform specific errors are being handled and converted.
- In CoreFX, we need to do

[2017-07-01 03:58] steji113 commented on #8655
Also, as a follow up, in terms of contributing fixes to both repositories, do I need to perform just the CoreCLR changes first and open a PR there? Then once that is approved and merged, do I next submit a PR to CoreFX so that the tests can validate the CoreCLR changes? Not too sure on the workflow when a set of changes is crosscutting in nature like this.

[2017-07-01 04:01] kouvel commented on #21275
PR is up but no go yet

[2017-07-01 04:22] #21775 closed

[2017-07-01 04:50] JeremyKuhne commented on #8655
Your summary is correct

Mostly. For Windows you'll want to create a path with `\\?\` as well to make sure you're getting by the legacy MAX_PATH check (which may give you a different error).

Ideally. It might be a little tricky to differentiate some results- if you get back some sort of insufficient buffer error (and are over short.MaxValue) that would be pretty safe. Directory or file not found

[2017-07-01 04:57] steji113 commented on #8655
Awesome, very helpful, thanks!

[2017-07-01 05:40] jiabiao commented on #21612
I found that this code works well while I close the Fiddler. So this should not be a bug.

@ism Did you check this options? Tools->Options->Connections->Reuse client connections.
Checking this options may cause this issue.
![image](https://user-images.githubusercontent.com/1818225/27759384-800b812c-5de4-11e7-9535-a910113b8b2a.png)

[2017-07-01 07:36] jiabiao commented on #21612
Steps to reproduce the issue:  (no reference to System.Net.Http.Formatting.dll )
1. open fiddler
2. checked  Tools->Options->Connections->Reuse client connections
3. run the codes

csproj:
[code]
program.cs:
[code]

[2017-07-01 11:21] nopara73 commented on #21761
@Drawaes I am failing to build any openssl version under `1.0.0`.
In the link OP says the error happens at `1.0.0e` version and they say the error doesn't happen for example in `0.9.8k`, which I am unable to test.
I tested with `1.0.2g` and `1.1.0f`, the same error comes up.

However I noticed something else. There might be multiple issue here. As I said I can bypass the issue at `https://api.qbit

[2017-07-01 11:29] nopara73 commented on #21761
cc @NicolasDorier

[2017-07-01 11:33] Drawaes commented on #21761
My Ubuntu machines are being rebuilt by my admin (read wife) but if I get them going today I will try to reproduce, the fact it happens on multiple versions is interesting. I am also interested that 1.1.0 even works for anything considering the number of breaking changes.

[2017-07-01 13:49] patelchiraggit opened #21788 "Namespace resolution not working"
I created a simple Console app using .Net Core project template using Visual Studio and give that project name "Core.Console.CS1".

The default program.cs files looks like this

[code]

on building the project, i get the error: WriteLine not found in Core.Console namespace.

However, the full Namespace here is Core.Console.CS1, so my program should compile here.

[2017-07-01 14:54] marce155 commented on #8951
@mellinoe sorry for the delayed response. Sadly, I can only confirm the statement from @fogzot it didn’t work for me either with preview 2 and current Debian stable.