[2016-09-13 00:50] sepidehMS opened #11655 "Restore System.Reflection.Assembly load APIs"
These APIs need to be exposed from System.Reflection:

[code]

[2016-09-13 00:55] sepidehMS opened #11656 "APIs not exposed from System.Reflection"
The following is a list of Reflection APIs that are not going to be included in netstandard2.0
[This is only to keep track in case we decide to expose these later.]

[code]

The following list we prefer not to expose, as they are either CAS-related APIs or have dependencies on also-not-exposed types from other contracts:
[code]

[2016-09-13 01:06] sepidehMS commented on #11320
Part of this work was broken down into https://github.com/dotnet/corefx/issues/11655 and https://github.com/dotnet/corefx/issues/11656.
Now here's an updated list:

These are missing the NativeAssembly implementation:
[code]
These can potentially be exposed:
[code]

[2016-09-13 01:13] ianhays commented on #10398
resolved.

[2016-09-13 01:13] #10398 closed

[2016-09-13 01:14] ianhays commented on #8410
resolved in https://github.com/dotnet/corefx/pull/11357

[2016-09-13 01:14] #8410 closed

[2016-09-13 01:29] dotnet-mc-bot opened #11657 "Test failure: System.Net.Tests.HttpWebRequestTest/GetResponseAsync_ResourceNotFound_ThrowsWebException"
Opened on behalf of @jiangzeng

The test `System.Net.Tests.HttpWebRequestTest/GetResponseAsync_ResourceNotFound_ThrowsWebException` has failed.

    Assert.Equal() Failure
    Expected: ProtocolError
    Actual:   UnknownError

Stack Trace:

       at System.Net.Tests.HttpWebRequestTest.<GetResponseAsync_ResourceNotFound_ThrowsWebException>d__46.MoveNext()
    --- End of stack trace from previous

[2016-09-13 01:49] #11539 closed

[2016-09-13 01:54] JeremyKuhne opened #11658 "EncryptFile & DecryptFile not available on all Windows versions"
These APIs (exposed through File and FileInfo) are entries into EFS functionality. WinRT doesn't expose these particular APIs directly, but has a `FileProtectionManager` class that provides access to EFS (Encrypt is the only currently supported entrypoint).

OneCore also does not expose EncryptFile\DecryptFile.

Need to follow through on the plausibility of using FileProtectionManager and potentia

[2016-09-13 02:27] jamesqo opened #11660 "Dispose of Iterators should be changed to use C# 6 null-conditionals"
[Currently](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Select.cs#L444-L448) there are many LINQ iterators have code of the form

[code]

This has a few problems:
- It can lead to a double-Dispose of the enumerator if 2 threads call the method. (probably unavoidable w/o Interlocked)
- If `_enumerator.Dispose()` calls `Dispose()` on that iterator it can lead to a st

[2016-09-13 02:38] stephentoub commented on #11660
They're not appropriate here.  In both examples you end up doing a write to null out the field even if it's already null.

If we really wanted to change this, it would be to something like:
[code]
but I'm not seeing real value in changing it.

[2016-09-13 02:43] jamesqo commented on #11660
Does that really cost so much?

[2016-09-13 03:09] jamesqo commented on #6191
@JeremyKuhne What will happen if `ignoreCase: false` is passed in on Windows? Will the path be canonicalized, e.g. with `GRP(@"C:\", "./tEsT", ignoreCase: true)` and the actual name of the directory being `Test`, will the return value be `@"C:\Wherever\Test"`?

[2016-09-13 03:45] SomeAnon42 opened #11661 "Binding redirects aren't generated for desktop projects when referencing NETStandard-based libraries/installing corefx packages"
Steps to repro:
1) Create a new desktop .NET 4.6+ project
2) Add project.json
3) Add a reference to any NETStandard-based library or just install corefx packages
4) Build it

**Expected results**: a bunch of facade assemblies are placed in the output folder. The following binding redirects are generated:

[code]

**Actual results**: only those 3 redirects are emitted:

[code]

As a result, you're

[2016-09-13 04:09] pedro-ramirez-suarez commented on #11639
I opened this as an issue because of the lack of documentation, in the end I solved my problem the ugly way, it works, but is not a solution that can be applied to every case.

I think that the lack of official documentation related with reflection is something that should be taked seriously, most of the examples or solutions found in the internet are effective only for beta versions and most of t

[2016-09-13 05:29] Clockwork-Muse commented on #8719
Side note: there's also [a  C++ version](https://github.com/dotnet/coreclr/blob/dc52f8b0dcc47beda786d9bfce5b1caafeca5823/src/gcinfo/gcinfoencoder.cpp#L111).  Is that something we should be keeping in sync?

[2016-09-13 07:48] Tragetaschen commented on #11295
Indeed, thanks!

When I checked, I took a wrong turn in SocketPal.Unix and followed the wrong Send overload. The correct one ends in the for loop in [`TryCompleteSendTo`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L573)

[2016-09-13 11:38] stephentoub commented on #11660
It doesn't matter if it costs a lot; it's not completely free and it's entirely unnecessary. If a language feature expands to the exact code we want and it's easier to understand, it makes sense to use the shortcut, otherwise it doesn't.

[2016-09-13 11:49] stephentoub opened #11665 "Delete Random from corefx"
System.Random is now exposed publicly from both coreclr and corert, and it's used by code in both repos.  As such, we don't also need a copy of it in corefx.  We should delete it.  We can do so once the seed assemblies for GenFacade have been updated so that the corefx tooling knows Random is also available in corert.

[2016-09-13 12:09] stephentoub opened #11667 "Use ArrayPool in corefx's CopyToAsync implementations"
FileStream's async mode is handled via #11666, but we can do the same for our other stream-derived types.

[2016-09-13 13:21] qmfrederik opened #11668 "System.IO.Compression: ZipArchive loads entire file in memory on .Dispose"
When you open a `ZipArchive` in Update mode, the entire zip file will be loaded in memory when the `.Dispose` method is invoked.

This is because `.Dipose`  calls `.WriteFile`, which:
- Calls `LoadLocalHeaderExtraFieldAndCompressedBytesIfNeeded` for all entries, which loads the compressed data into memory for those entries
- Sets the size of the .zip archive to 0, by calling `_archiveStream.SetLen

[2016-09-13 13:32] qmfrederik opened #11669 "System.IO.Compression: ZipArchiveEntry always stores uncompressed data in memory"
If a `ZipArchive` is opened in Update mode, calling `ZipArchiveEntry.Open` will always result in the entry's data being decompressed and stored in memory.

This is because `ZipArchiveEntry.Open` calls `ZipArchiveEntry.OpenInUpdateMode`, which in return gets the value of the `ZipArchiveEntry.UncompressedData` property, which will decompress the data and store it in a `MemoryStream`.

This in its ow

[2016-09-13 14:19] SerhiiS-in6k opened #11670 "System.ComponentModel.Win32Exception when trying get Process.StartTime in the exited process on Linux"
Here example https://github.com/SerhiiS-in6k/Issue-net-core-process/blob/master/Program.cs
The exception occurs only on Linux(Ubuntu14.04-x64) on Windows works fine.

[2016-09-13 14:37] foragerr commented on #4577
Ping! We're now post 1.0 release, wanted to check if there are any further thoughts about perf counters.

[2016-09-13 14:55] nojaf opened #11672 "ILMerge"
Hi, sorry if wrong repo.
What would the best option be to create a dotnet core command line application and publish a single executable for Windows?
Is ILMerge still the way to go? Has anyone tried this?

[2016-09-13 15:54] shortspider opened #11674 "Memory growth of WinHttpRequestState objects"
I have a web server that accepts an http request and then makes a post request to a bunch of other servers using `HttpClient`. To speed this up we make a `Task` for each request and call `HttpClient.PostAsync` inside each task. These tasks are synchronously waited on with `Task.WaitAny` in order to check the results as they come in. All the code inside the tasks uses async/await. Finally, each tas

[2016-09-13 16:01] karelz commented on #11639
I am confused what is lacking from your point of view -- is it end-to-end example or some specific API description? (The 3 APIs you listed above should give you what you need, or is it missing assembly resolution API?)
What might help to clarify: Post a sample that you think is missing. Link the API docs you looked at which you believe should have the sample / place where you would expect the docs

[2016-09-13 16:04] davidsh commented on #11674
This is not a recommended pattern.  There is no advantage to using a separate instance of HttpClient but a static shared instance of HttpClientHandler. I would recommend you either reuse a single HttpCLient w/ HttpClientHandler instance or new instances if you cannot share them.

In regards to memory increases due to `WinHttpRequestState` objects hanging around, we are aware of some cases where th

[2016-09-13 16:26] shortspider commented on #11674
So it's safe to call `HttpClient.PostAsync` from multiple threads on the same object? The MDSN docs are a little vague on this.

I'm sorry if this is really stupid but how does the `WinHttpHandler` get signaled that there was an exception in `WinHttpRequestCallback` if all that happens is `WinHttpRequestState.SavedException` is set?

I do have a few instances of exceptions from `WinHttpRequestCall

[2016-09-13 16:47] #6374 closed

[2016-09-13 16:50] tarekgh commented on #2996
These APIs should be now exposed in dev/api .net standard 1.7 and the full implementation is in for Windows. we are tracking to get the implementation soon for other platforms.

[2016-09-13 16:50] #2996 closed

[2016-09-13 17:02] ianhays commented on #11622
This test is Outerloop. I didn't think we ran those as a part of the normal mc.dotnet runs.

The failure makes sense though. We recently increased the max number of user instances and this test creates a new FSW for each instance, so if that max was very high then we could potentially run into memory issues.

@stephentoub do you know if we are running Outerloop for every mc.dotnet run, or who migh

[2016-09-13 17:14] terrajobst commented on #11588
It seems to me as if the `Clear<T>` is questionable. Besides the future proofing argument, it seems to add zero cost.

The `Copy<T>` seem useful because they help in detecting making stupid errors, such as copying customers to orders. I suggest we change this issue and make it only about `Copy<T>`.

[2016-09-13 17:19] jkotas commented on #11588
As long as we keep the current non-generic Array.Copy next to it, it will not detect these errors. The C# compiler will fallback to the non-generic version if you get a mismatch.

[2016-09-13 17:29] MattGal commented on #10398
@ianhays this should be fixed, looks like you've verified such.  Thanks!

[2016-09-13 17:36] ianhays commented on #10398
Thanks @MattGal! Did you increase the inotify limits on only the Ubuntu machines, or all of the Linux machines?

[2016-09-13 17:38] MattGal commented on #10398
@ianhays It should affect all Linux machines in .NET Helix, with the exception of the on-premises Performance testing machines (I don't control their setup).  From reading up this didn't seem to be any kind of a problem so I went for it.

[2016-09-13 17:58] karelz commented on #11622
We run Outerloop on regular basis (not sure what mc.dotnet run is) and we should keep it clean as much as possible.

[2016-09-13 18:01] benaadams commented on #11674
There was that article recently that may be related: [You're using HttpClient wrong and it is destabilizing your software ](http://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/)

[2016-09-13 18:01] ianhays commented on #11622
I was referencing the [mc.dot.net](https://mc.dot.net/#/product/netcore/master/source/official%7E2Fcorefx%7E2Fmaster/type/test%7E2Ffunctional%7E2Fcli%7E2F/build/20160910.01/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.FileSystemWatcherTests%7E2FFileSystemWatcher_CreateManyConcurrentInstances) site where the Helix results are displayed. There isn't an Outerloop tag on

[2016-09-13 18:10] terrajobst commented on #1513
We've decided to go with option B. Technically, that means calls like this:

[code]

are still ambiguous, but we accept that because that's already the case for the API shape as it was shipped.

[2016-09-13 18:25] shortspider commented on #11674
@benaadams I actually was doing exactly that in the beginning and ran into the issues described there (I really wish that article had been written in July :stuck_out_tongue:). However making the handler static seemed to resolve those issues.

What I see now is that the application runs and seems to be running fine, memory is good as is throughput and socket usage. However all of a sudden the memor

[2016-09-13 18:28] robertmclaws commented on #10752
@joshfree @Priya91 Since I already have a PR that addresses this issue, is there any way this could be moved up to 1.1?

[2016-09-13 18:39] LanceMcCarthy commented on #10752
While you're in there adding an AddRange() method, can you throw an OnPropertyChanged() into the **Count** property's setter? Thanks :)

[2016-09-13 18:47] ianhays commented on #9932
It's worth noting that the [first porting commit](https://github.com/dotnet/corefx/commit/f77d4bb33670c504a8ed5e5e0dfc4d7663e279c1#diff-afdf1dce8e2e9738035ae8906efd9cc0R239) brought this function over correctly, then it looks like @EricWhiteDev may have mistakenly modified the behavior in [his cleanup commit](https://github.com/dotnet/corefx/commit/c22894be815a3b6419c05849828cad47f6c19e8b#diff-afd

[2016-09-13 18:54] rahku opened #11680 "Remove projectreferences from csproj"
introduced as part of PR #11275

[2016-09-13 19:10] rahku opened #11682 "Change ref projects to .NET Core"
These AppContext APIs can be in .NET Core but not .NET Standard yet. We will need to change these these ref projects to .NET Core.
Check file src/System.Runtime/src/ApiCompatBaseline.net463.txt
https://github.com/dotnet/corefx/pull/11275/files#r78505041

[2016-09-13 19:15] mellinoe commented on #11672
I am not sure if ILMerge will work on .NET Core assemblies without any changes. It may, or it may need some extensive modifications. After that, though, you will still need to decide how the application actually gets launched / activated. Windows is able to directly launch .NET Framework applications, but the same is not true for .NET Core applications (well, it will try and fail). You need a nati

[2016-09-13 19:23] saurabh500 opened #11683 "SqlClient stress test TestSqlAsyncNonBlockingWrite"
Environment: Windows Server 2012 R2, OSX
SqlClient: Managed SNI enabled.

While executing the test `TestSqlAsyncNonBlockingWrite` the following unexpected exception is detected in SqlClient.

[code]

Execution command `CoreRun.exe System.Data.StressRunner.exe -a System.Data.SqlClient.Stress.Tests  -duration 10 -test TestSqlAsyncNonBlockingWrite`

[2016-09-13 19:48] thomaslevesque commented on #10752
A long time ago I had implemented a [`RangeObservableCollection`](https://bitbucket.org/tom103/dvp.net/src/ceea289857cd260b9a4335d2c3f2f02d801a3c69/src/Developpez.Dotnet.Windows/Collections/RangeObservableCollection.cs?at=master&fileviewer=file-view-default) with `AddRange`, `RemoveRange`, `InsertRange`, `ReplaceRange` and `RemoveAll`. But it turned out that the WPF binding system didn't support `

[2016-09-13 20:18] joperezr opened #11685 "After merge from dev/api, 2 System.IO.Compression tests started failing"
cc: @ianhays

after PR #11679 two System.IO.Compression tests started failing. Here is the test run output:
[code]

[2016-09-13 20:23] joshfree commented on #10752
@Priya91 can you help shepherd this through the API review process http://aka.ms/apireview with @robertmclaws ?

/cc @terrajobst

[2016-09-13 20:30] joperezr opened #11686 "Readd ReflectionXmlSerializationReader and Writer back after dev/api merge"
When merging dev/api branch to master in PR #11679 we had to temporarily remove this two classes since they were added on the XmlSerializer contract which now contains no implementation. All implementation cor that contract has moved down to System.Private.Xml. I tried adding these two classes to the System.Private.Xml but it wasn't straight forward (at least from a quick stab at it) since a lot o

[2016-09-13 20:35] JeremyKuhne commented on #6191
We decided to start with the following:

[code]

It was agreed that following typical casing rules for the active platform (OrdinalIgnoreCase for Windows, Ordinal for Unix/Mac) would be the most successful for cross platform use. On Windows, casing variance is very common and there currently isn't a way to canonicalize casing, but there are active pending issues around this functionality (#1086, #

[2016-09-13 20:54] joperezr opened #11687 "DirectoryLongerThanMaxLongPath_ThrowsPathTooLongException test is failing"
cc: @JeremyKuhne

After merging from dev/api in PR #11679 this test started failing. Here is the test run output:

[code]

[2016-09-13 20:59] gmartinezsan commented on #11647
Is GenericUriParser available at .net standard library 1.6 ?

[2016-09-13 21:06] KodrAus commented on #4577
Sorry I haven't kept up with for a while. Are cross platform perf counters a thing now in 1.0?

[2016-09-13 22:04] vancem commented on #4577
There is an initiative to incorporate Mono's API into the .NET API.   This may simply fall out of that.

I will get someone to comment on that.

[2016-09-13 22:04] justinvp commented on #1513
Thanks, Immo. CoreCLR PR here: https://github.com/dotnet/coreclr/pull/7175

[2016-09-13 22:09] ianhays commented on #10054
@pallavit isn't here anymore, so we'll need to guess at it ourselves.

Changing this behavior to allow 437 as the encoding would require we add 437 support to the Encoding class. When we determine the Console encoding, we have a helper that calls ```Encoding.GetEncoding(437)```, which throws a NotSupportedException which we catch and instead return a UTF8Encoding.

Considering the prevalence of CP

[2016-09-13 22:14] saurabh500 commented on #11683
cc @corivera

[2016-09-13 22:30] karelz commented on #3135
Seems to be concluded (or at least without further discussion), so closing.

@Kieranties feel free to reopen if you disagree.

[2016-09-13 22:30] #3135 closed

[2016-09-13 22:31] Priya91 commented on #10752
Sure.

[2016-09-13 22:32] gkhanna79 commented on #10365
This has been fixed in 1.0.1.

[2016-09-13 22:32] #10365 closed

[2016-09-13 22:39] shmao commented on #10595
Closing this as this is fixed by https://github.com/dotnet/corefx/commit/546cbb0a6ed00017163353b042965fa1bcb13dcc

[2016-09-13 22:39] #10595 closed

[2016-09-13 22:43] shmao commented on #10676
As we are going to support SOAP serialization in 1.2.0, put this item into future. See https://github.com/dotnet/corefx/issues/10579.

[2016-09-13 22:48] karelz commented on #5044
@roji can you please summarize the ask? Ideally in a new issue - this one has rather long (finished) discussion hard to reason about, I would prefer to close it.

Note that the APIs will be also considered as part of .NET standard 2.0 effort (see more [here](https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/) and [here](https://blogs.msdn.microsoft.com/dotnet/

[2016-09-13 22:48] #5044 closed

[2016-09-13 22:49] Priya91 commented on #10752
@robertmclaws Can you create an api speclet on this issue, outling the api syntax, like [this](https://github.com/dotnet/corefx/issues/530#issue-55629538). Mainly interested in usage scenarios

[2016-09-13 23:02] SedarG commented on #11222
@AtsushiKan, why shall we have this class in S.Runtime? I'd pull that in o System.Private.CoreLib on CoreRT and have S.Runtime forward it to mscorlib and system.private.corelib for both CoreCLR and CoreRT respectively. Is there a reason to keep a wrapper in S.Runtime?

[2016-09-13 23:09] shmao commented on #10838
@stephentoub, these tests failed in UWP F5 scenario, which is equivalent to NetCoreForCoreCLR, for the following error (see the latest test result [here](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fuwp~2F/build/20160912.01/workItem/System.Runtime.Serialization.Xml.Tests)),
[code]

I ran the same tests in K enlistment against NetCoreForCore

[2016-09-13 23:19] tarekgh commented on #10066
reopened as discovered there are some more APIs we need to bring which is not listed in this issue:

[code]

[2016-09-13 23:58] AtsushiKan commented on #11222
Well we don’t need it in Corelib and we’d like to keep the shared stuff as small as possible. It could probably be pulled out of CoreClr’s Corelib too.

Having said that, if I’m missing something major and it’s not extractable out of CoreClr’s corelib, I don’t have a major objection to putting in N’s Corelib too.

[2016-09-13 23:59] chrisaut commented on #11568
Done, but in other repos as discussed in original PR. Think this can be closed.

https://github.com/dotnet/coreclr/pull/7156
https://github.com/dotnet/corert/pull/1840

[2016-09-14 00:07] joperezr commented on #11647
@gmartinezsan no it's not. Once I'm done with this issue, it will be available for whatever netstandard we are developing at the time (presumably it will be .net standard 1.7)

[2016-09-14 00:44] jamesqo commented on #11568
@chrisaut Great! Thanks for fixing this.

[2016-09-14 00:44] #11568 closed

[2016-09-14 00:45] davidsh commented on #11088
reopen since the [activeissue] tag with this issue number is still in the code. The tests are disabled right now. This issue tracks whether to completely remove these tests from the code or fix up the tests so that we can recognize feature light-up to verify expected behavior.

[2016-09-14 00:46] #9932 closed

[2016-09-14 01:23] #4429 closed

[2016-09-14 01:30] dotnet-mc-bot opened #11692 "Test failure: System.Tests.DateTimeOffsetTests/UtcNow"
Opened on behalf of @jiangzeng

The test `System.Tests.DateTimeOffsetTests/UtcNow` has failed.

    Expected UtcNow to changes\r
    Expected: True\r
    Actual:   False

Stack Trace:

       at System.Tests.DateTimeOffsetTests.UtcNow() in D:\A\_work\4\s\src\System.Runtime\tests\System\DateTimeOffsetTests.cs:line 539

Failing configurations:

- Windows.81.Amd64
 - AnyCPU-Debug

Details:
https://mc

[2016-09-14 02:05] baal2000 opened #11693 "WinHttpRequestState memory leak when sending WinHttp requests from WinHttpHandler."
Noticed during code review that there is a potential memory leak in `GCHandle` and `WinHttpRequestState` instances when `WinHttpHandler.InternalSendRequestAsync()` executed repeatedly from asynchronous `do/while` loop in `WinHttpHandler.StartRequest`.

**Cause:**
`WinHttpRequestState` may pin `WinHttpRequestState` instances multiple times due to missing `_operationHandle.IsAllocated` check around

[2016-09-14 03:02] robertmclaws commented on #10752
## Scope
Modernize the `ObservableCollection` by allowing it to handle operations against multiple items simultaneously, and by implementing features that other MVVM libraries have implemented due to the shortcomings of the current code.

## Rationale
The `ObservableCollection` is a critical collection when it comes to XAML-based development, though it can also be useful when building API client l

[2016-09-14 04:05] mconnew commented on #11674
@davidsh, there is one scenario where there's an advantage to maintaining a static HttpClientHandler but creating and disposing HttpClient instances. The scope of a connection pool is the HttpClientHandler, so all requests using the same handler will pool together. By instantiating an HttpClient specifying not to dispose of the handler, this allows you to group related requests together using a si

[2016-09-14 04:15] weshaggard commented on #11090
@ericstj is working on setting an example of how to add APIs to .NET Core.

[2016-09-14 04:43] weshaggard commented on #10073
@danmosemsft correct this can wait until we actually get all the APIs added.

[2016-09-14 04:53] SedarG commented on #11222
I see. CoreCLR and CoreRT implementations are mostly similar. But there some differences.
* [public static MethodInfo GetMethodInfo(this Delegate del)](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Extensions/src/System/Reflection/RuntimeReflectionExtensions.cs#L114) is quite different.
* CoreCLR implementation uses RuntimeType and RuntimeMethodInfo which doesn't exist in Core

[2016-09-14 05:20] bartdesmet commented on #11090
Tracking the work for `System.Linq.Expressions` in https://github.com/dotnet/corefx/issues/11556

[2016-09-14 05:54] rsen253 opened #11697 "Stream newStream = myRequest.GetRequestStream(); not working in ASP core"
Unable to solve myRequest.GetRequestStream() in ASp core and newStream.Write is also not available

[2016-09-14 06:43] roji commented on #5044
@karelz - the request is simply for BCL APIs to include synchronous APIs alongside asynchronous APIs, in order to support the sync programming model. A special emphasis should be made on bringing back sync APIs which exist in .NET Framework but were dropped in .NET Core 1.0 (e.g. `SSLStream.AuthenticateAsClient()`).

With the shift towards making .NET Core more API-compatible with .NET Framework t

[2016-09-14 07:08] karelz commented on #5044
Agreed that a new issue is likely not needed at this point. Thanks!

[2016-09-14 09:55] hughbe commented on #8081
Should the following be prohibited or allowed (they are currently allowed):
[code]

I'm fairly sure the Variable one is a bug (the C# compiler doesn't allow it), but I'm uncertain about Parameter.

[2016-09-14 10:09] qmfrederik commented on #10054
Another use case for CP437 are zip files: zip files use the CP437 code page as default (see [appendix D of the specifications](https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT))

(The `ZipArchive`  in .NET Core uses `Encoding.Default`, which seems incorrect)

[2016-09-14 11:07] svick commented on #11697
If you look at [the documentation for `WebRequest`](https://docs.microsoft.com/en-us/dotnet/core/api/system.net.webrequest), you'll notice that [it contains `GetRequestStreamAsync()`](https://docs.microsoft.com/en-us/dotnet/core/api/system.net.webrequest#System_Net_WebRequest_GetRequestStreamAsync), but not `GetRequestStream()`. So you'll have to use `Stream newStream = await myRequest.GetRequestS

[2016-09-14 11:58] AtsushiKan commented on #11222
For GetMethodInfo(this Delegate), just have it call Delegate::Method like the CoreClr version does. I’ve already restored that functionaliy in corert.

The “is RuntimeType/RuntimeMethodInfo” checks – hmm, well that’s annoying.

I wonder if we really need to keep those restrictions – now that we’ve brought all those underlying apis back, I don’t think there’s any purpose to those checks.

[2016-09-14 12:04] svick commented on #10752
@robertmclaws

In what situation could it be a breaking change? The only issue I can think of is that it would cause a warning that tells you to use `new` if you meant to hide a base class member, which would be actually an error with warnings as errors enabled. Is this what you meant? Or is there another case I'm missing?

[2016-09-14 12:11] mattwarren commented on #8699
I got caught out by this as well!

Those MSDN docs are a bit misleading, it's really confusing that they say "value type"

[2016-09-14 13:38] svick commented on #8081
@hughbe Since `Variable()` and `Parameter()` are almost interchangeable, I think they should behave the same here.

And as far as open generic types go, I don't see any reason to allow them.

[2016-09-14 13:58] hughbe commented on #8081
@svick perf, I'll make a PR

[2016-09-14 14:07] justinvp commented on #2352
https://github.com/dotnet/coreclr/pull/7132
https://github.com/dotnet/corert/pull/1842

This issue can now be tagged as "api-needs-exposed"

[2016-09-14 14:09] hughbe opened #11702 "CustomAttributeBuilder throws NullReferenceException when passing null to a primitive"
[The following test](https://github.com/hughbe/corefx/blob/b39e754a7e845d7c1d6cebf5cc900b6639d3e913/src/System.Reflection.Emit.ILGeneration/tests/CustomAttributeBuilderTests.cs#L642) demonstrates the bug.
[code]

[2016-09-14 14:12] hughbe opened #11703 "CustomAttributeBuilder doesn't behave well with IntPtr or UIntPtr args"
## Description
[The following test]() demonstrates this:
[code]
## Solution
Change the code [here](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Reflection/Emit/CustomAttributeBuilder.cs#L73) from
[code]
to
[code]
This way we fail gracefully, throwing an ArgumentException instead of an exception that isn't exposed in .NET Core!

[2016-09-14 14:20] robertmclaws commented on #10752
@svick Could possibly be a runtime problem. If you just upgraded the framework w/o recompiling, I'm not sure exactly how the runtime execution would react. We'd need to test it just to make sure.

[2016-09-14 14:33] hughbe opened #11704 "Arithmetic expressions don't work with enums properly"
See the following example for Add:
[code]
My understanding is that Linq Expressions try to mimic C#'s behaviour as much as possible, so this could be an area to align with C#.

/cc @bartdesmet @VSadov  @JonHanna @stephentoub

[2016-09-14 14:39] hughbe opened #11705 "Arithmetic expressions don't work with implicit numerical/primitive conversions"
See the following:
[code]
Not sure if this is intended behaviour
/cc @bartdesmet  @VSadov

[2016-09-14 14:56] stephentoub opened #11707 "Recombine FileStream to simplify and avoid bugs"
FileStream in corefx is currently implemented as a wrapper around an inner stream that actually provides the logic for the current platform, e.g. it wraps a UnixFileStream on Unix, a Win32FileStream on Windows, etc.  This has several issues:
- Adds expense to create, as we're now creating two streams where we actually only need one
- Adds expense on every operation, as each virtual call on the Fil

[2016-09-14 15:13] stephentoub commented on #11622
I believe that's the case.

[2016-09-14 15:14] ianhays commented on #10054
This isn't true anymore for writing. In https://github.com/dotnet/corefx/pull/9004 I added some checks to handle the unicode/CP437 file names issue. If a file name doesn't fit within the range of characters shared between CP437 and ASCII then we write it in unicode and set the zip unicode bit. Otherwise we write it in ASCII and leave the unicode bit unset.

However, there is still the potential fo

[2016-09-14 15:22] stephentoub commented on #10838
@shmao, looks like you're hitting this:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Delegate.cs#L650-L661

[2016-09-14 15:26] ianhays commented on #11707
+1 great idea. I'm really not a fan of the Win32FileSystem/UnixFileSystem structure either. The "Current" FileSystem variable seems like unnecessary indirection when we could just be using partial classes with conditional inclusion instead.

[2016-09-14 15:31] stephentoub opened #11708 "Failed assert in NegotiateStream_StreamToStream_Authentication_TargetName_Success"
I hit this assert when I try to run the System.Net.Security tests (outerloop) locally:

[code]

According to https://msdn.microsoft.com/en-us/library/windows/desktop/dd542646(v=vs.85).aspx, that status code is SEC_E_DOWNGRADE_DETECTED ("The system cannot contact a domain controller to service the authentication request. Please try again later.").  Do we need to add this error and others to the tab

[2016-09-14 15:38] karelz commented on #11692
@ianhays can you please take a look?

[2016-09-14 15:41] joperezr commented on #11088
@davidsh sorry, looks like when I did the merge, pushing the commit that had the message that fixed this issue closed it.

[2016-09-14 15:48] joperezr commented on #10216
Assigning to Tarek since he is looking at #10066 which is similar.

[2016-09-14 15:49] ericstj commented on #11707
The FileSystem PAL we have today predates all of the cross-plat work and was designed primarily for the WinRT sceanario (and potentially even public exposure).  Now that we have a more common pattern for x-plat and cross-compiling and we're cross-compiling anyway it makes sense to remove this abstraction.

[2016-09-14 15:55] SedarG commented on #11222
Another question: current CoreRT implementation leverages an IEnumerable extension - AsNothingButIEnumerable-, which ensures that an untrusted caller cannot cast back to array or list. CoreCLR implementation doesn't do that. Blocking casting could be a breaking change for CoreCLR.  On the other hand it might be a legitimate breaking change. What's your guidance about it?

[2016-09-14 15:59] AtsushiKan commented on #11222
I think it’s fair to say our goals have changed 180 since those AsNothingButIEnumerable<> days. For a case like this, at least, I say drop the AsNothingButIEnumerable<> and return what CoreClr has always done.

[2016-09-14 16:13] Mike-EEE commented on #5766
So, civil question here @terrajobst, @harikmenon, and @karelz (I see you have added a tag recently so congratulations, I'm pulling you into this!).  Out of simple curiosity, I decided to get a little adventurous and check out the advanced (or maybe not) GitHub filtering on this repo.  Thinking that there were a lot of votes and what not for different issues.

Here is the URL that I am using:
https

[2016-09-14 16:17] stephentoub commented on #11598
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/3/consoleText

[2016-09-14 16:35] ianhays commented on #11692
Since these tests are running in parallel, it's likely that the timeout expired before UtcNow had a chance to be called to return a different time. A lot of our tests are susceptible to this kind of intermittent failure.

I could increase the timeout value, but it's not going to make it infallible.

[2016-09-14 16:41] svick commented on #11705
I believe this is intentional. Expression trees are not meant to mirror C#, instead, code in any language (with its own rules about implicit conversions) should be convertible to expression trees.

As evidence of that, [look at the code generated if you let the C# compiler turn such addition to an expression](http://tryroslyn.azurewebsites.net/#b:master/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AMpAI7ECi

[2016-09-14 16:46] weshaggard commented on #2942
@kouvel as part of our API work can you please be sure we get this API added back to Timer?

[2016-09-14 16:48] hughbe commented on #11705
@svick thanks for digging into this. I'll be sure to look at the decompiled output in the future  ill close this issue.

[2016-09-14 16:48] #11705 closed

[2016-09-14 16:48] karelz commented on #11692
Is there default timeout for tests? Is timeout on this specific test smaller than the default?
Does the test run unusually long? (i.e. Should it have special timeout)

[2016-09-14 16:49] svick commented on #11705
Though as far as I can tell, [the documentation for `Expression.Add()`](https://msdn.microsoft.com/en-us/library/bb354402) does not talk about this. It probably should?

[2016-09-14 16:52] qmfrederik commented on #10054
@ianhays Thanks for the pointer, this block of code indeed gets you the CP437 encoding on .NET Core: `CodePagesEncodingProvider.Instance.GetEncoding(437);`, provided you reference the System.Text.Encoding.Codepages NuGet package.

For writing zip files, using UTF-8 if a non-ASCII character is present is indeed an elegant solution; for reading zip files, things are a bit messier in European languag

[2016-09-14 16:52] hughbe commented on #11705
Another one of those times I wish we could contribute to MSDN! Win-win for all

[2016-09-14 16:54] stephentoub commented on #11692
There is no default timeout capability for individual tests.  We end up aborting a test run after 2 hours if it's hung.

This test has a timeout of 2 seconds coded into it.

The problem Ian refers to isn't that the test itself takes a long time... the test itself, in isolation, should be very fast, as it just sits in a spin loop waiting to see the value of DateTimeOffset.UtcNow change.  The proble

[2016-09-14 16:58] karelz commented on #11692
Thanks for explanation!
Naively we should not have any test timeouts anywhere near 2s (I'd say <10s) when we run the tests on VMs & in highly concurrent environment. I wonder if we just should add a minimal timeout override into our test infrastructures ... at the end of the day, the concurrency is property of the test infra/environment, not a property of the test itself.

[2016-09-14 17:29] roji commented on #3688
@YoungGah, it's been a [long while](https://github.com/dotnet/corefx/issues/3688#issuecomment-161092784) since someone from Microsoft commented on this. Is it possible to get some visibility on whether the ADO.NET API is going to get any attention soon?

I'm specifically looking for some guidance on what to do here, and I'd like to avoid going down a path that wouldn't be compatible with ADO.NET l

[2016-09-14 17:31] ianhays commented on #11692
As we discussed offline, this particular test is an exception in that the timeout is baked into the test itself - it isn't a global thing.  I posted a PR to increase it to 30s which as Steve mentioned is somewhat ridiculous.  If it fails again within the next few months then we can bring it to Outerloop.

[2016-09-14 17:35] sepidehMS commented on #11655
The following are also missing NativeAssembly implementation:
[code]
@rahku Could you please take care of these as well? Thanks.

[2016-09-14 17:36] karelz commented on #11692
Thanks! Agreed that test built-in timeouts should be more relaxed to accommodate various test environments they run in.

[2016-09-14 17:38] CIPop opened #11712 "Add documentation on steps needed to add new APIs and increment contract versions"
There are PRs that use undocumented techniques to add APIs from existing platforms as well as new APIs part of features.
The process changes from day to day and was never documented.

To remove any confusion, it would be best if we have a step-by-step process documentation.

[2016-09-14 17:46] bartdesmet commented on #11704
Expression trees generally don't insert conversions or other nodes on behalf of the user when calling a factory (a notable example is the automatic insertion of `Quote` nodes around `Lambda` nodes when assigned to an `Expression<T>` parameter). The code generated by the C# compiler for an expression of this kind will include these conversions though.

The factory methods are closer to what-you-see

[2016-09-14 17:50] hughbe commented on #11704
My bad, closing this (as well as #11705)

[2016-09-14 17:50] #11704 closed

[2016-09-14 18:00] davidsh commented on #11693
cc: @stephentoub

@baal2000 Thanks for finding that bug!

[2016-09-14 18:13] Priya91 commented on #11598
taking a look

[2016-09-14 18:40] drieseng commented on #10054
@ianhays (hope this doesn't sound to negative) How come plently of API's are re-introduced for the sake of compatibility, while "runtime" compatibility here is ignored.

The doc page that you linked to does not describe the rationale to me. I don't see any motivation as to why support for some encodings was removed.

[2016-09-14 18:50] JeremyKuhne commented on #11707
I'm good with this as well.

[2016-09-14 18:51] rahku commented on #11655
will not be doing these as they are related to CAS
M:System.Reflection.Assembly.Load(byte[],byte[],System.Security.Policy.Evidence)
M:System.Reflection.Assembly.Load(byte[],byte[],System.Security.SecurityContextSource)
M:System.Reflection.Assembly.Load(System.Reflection.AssemblyName,System.Security.Policy.Evidence)
M:System.Reflection.Assembly.Load(System.String,System.Security.Policy.Evidence)
M:

[2016-09-14 18:52] ianhays commented on #10054
That's a good point. Language names with tilde'd characters and those sideways colons and whatnot will be marred.

Yeah, we should consider doing something for this in ZipArchive. Maybe when reading we could try to use CP437 if it's registered via EncodingProvider when the unicode bit is unset? That's a fairly specific case that I doubt will be that common, but at least you would have the *option*

[2016-09-14 18:53] rahku commented on #11655
Below is the final list to be implemented:
M:System.Reflection.Assembly.LoadFrom(System.String)
M:System.Reflection.Assembly.LoadFrom(System.String,byte[],System.Configuration.Assemblies.AssemblyHashAlgorithm)
M:System.Reflection.Assembly.LoadFile(System.String)
M:System.Reflection.Assembly.LoadModule(System.String,byte[])
M:System.Reflection.Assembly.LoadModule(System.String,byte[],byte[])
M:Syst

[2016-09-14 18:54] #11692 closed

[2016-09-14 18:54] kouvel commented on #2942
This will be done as part of #11631

[2016-09-14 18:56] kouvel commented on #8560
These will be added back as part of #11632

[2016-09-14 18:58] kouvel commented on #8683
All of these will be added back as part of #11632

[2016-09-14 18:58] kouvel commented on #9063
This will be added as part of #11632

[2016-09-14 19:00] #10933 closed

[2016-09-14 19:17] tarekgh commented on #10054
@drieseng

we are really didn't remove the support, instead we made it opt-in through the Encoding Provider as the doc says. by default apps should be using Unicode and this is the case for the majority of apps. apps which cares about the non-Unicode code pages they still can have the support by adding one line in their code

[code]

having the apps using Unicode by default is good things in gener

[2016-09-14 19:29] sepidehMS commented on #11655
I could not add `M:System.Reflection.MethodBase.get_IsSecuritySafeCritical` to mscorlib either. CrossGen fails when adding this API. I believe there is something missing from VM in this case, although I couldn't get much information about it from the failure.

[2016-09-14 19:31] drieseng commented on #10054
@tarekgh I don't have strong feeling - or a strong motivation - to change the current behavior. I just don't see why you'd want API compatibility, and at the same time expect applications to introduce specific code for .NET Core.

In the example I provided, I don't explicitly decide to do anything encoding related (and yes, I know it's definitely affected by the default encoding). To me, it's just

[2016-09-14 19:39] qmfrederik opened #11715 "System.IO.Compression: ZipArchive does not respect CP437 encoding when reading files"
The `ZipArchive` class uses ASCII encoding instead of IBM 437 (CP 437) (since #9004) encoding when reading and processing file names of zip entries which do not have the language encoding flag (bit 11 in the general purpose bit flag) set.

The [zip file specification](https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT) appendix D specifies how encoding should be handled:

This creates a p

[2016-09-14 19:39] baal2000 commented on #11693
you are welcome.

[2016-09-14 19:47] qmfrederik commented on #10054
@tarekgh Well, I guess you could look at it this way, too:

1. Shouldn't the code sample above "just work"?
2. On most systems, Windows console doesn't use the UTF-8 encoding by default, yet .NET Core insists on sending it UTF-8 encoded data instead.

[2016-09-14 20:14] fanoI commented on #10951
A thing I've not understood Dec64 is more faster that IEEE Decimal64? In any case why not implement the IEEE one that is a standard and maybe in future it will be hardware accelerated (on some IBM not x86 workstation is already so)?

[2016-09-14 20:33] ianhays commented on #11622
Hmm. Alright, well I see easy options here:
- Limit how many new FileSystemWatcher instances we create in this test so we don't hit any OOM exceptions. If the max_user_instances is set to something ridiculously high like 100000 then we **will** currently hit either an OOME or a TaskSchedulerException. I think limiting the test to create at most 200 new instances is reasonable. If max_user_instance

[2016-09-14 20:39] karelz commented on #11622
Modifying global state is scary. +1 for capping max_user_instances in the test.

[2016-09-14 20:42] danmosemsft commented on #10054
@drieseng We care about both, but at this moment there is a big push to grow our API surface area up again.

[2016-09-14 20:43] svick commented on #10752
@robertmclaws I think that could only be a problem if you don't recompile, but you do upgrade a library with the custom type inheriting from `ObservableCollection<T>`, which *removed* its version of `AddRange()` in the new version. But that would be the fault of that library.

Otherwise, adding a new member won't affect how old binaries behave.

[2016-09-14 20:44] Priya91 commented on #2869
This is in master, and also in full framework.

[2016-09-14 20:52] karelz commented on #2869
Updating the list to list of check boxes - marking #1384 as done per Priya's comment.

[2016-09-14 21:01] ericeil opened #11718 "Seg fault in System.Drawing.Primitives.Tests on CentOS in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/dev_api/job/centos7.1_release_prtest/85/

Happened while testing #11688, but this is just adding a new Socket API, so it probably didn't cause this failure.

[2016-09-14 21:02] stephentoub commented on #11718
cc: @adityamandaleeka

[2016-09-14 21:11] Priya91 commented on #10752
+1 The api sounds good to me. For manipulating multiple items , along with AddRange, does it provide value to add, InsertRange, RemoveRange, GetRange for the specified usage scenarios?

cc @terrajobst

[2016-09-14 21:22] tarekgh commented on #10054
@drieseng

Actually what you have said is good example, if the default encoding affect your app behavior then you have to be conscious about the encoding. imagine we support the default encoding 437 and you think your app is just working fine and then someone run on other configuration and the app will break because you didn't pay much attention to the encoding.

The problem is not the default sup

[2016-09-14 21:44] jamesqo opened #11723 "CopyTo should be overriden in MemoryStream"
I just made a change in CoreCLR (dotnet/coreclr#7131) that overrides `MemoryStream.CopyTo` since that method of Stream is now virtual. However it looks like since the copy of `MemoryStream` in here (which is used in corert) is separated from its parent which lives in [corert itself](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/IO/Stream.cs), the compiler will

[2016-09-14 21:50] tarekgh opened #11724 "Compat work for Char struct (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-14 22:07] jkotas commented on #11723
There is delay in when the CoreRT System.Private.CoreLib that corefx builds against is updated - it is not as fast as for CoreCLR.

@jamesqo Thank you for opening the issue to track this! If you would like to, you can submit a PR with the change - it will be failing until the CoreLib update happens.

cc @SedarG

[2016-09-14 22:09] danmosemsft commented on #9872
@ianhays Talk to Wes about whether/how much the access control members will be in .NET Standard 2.0.

[2016-09-14 22:21] shmao commented on #11686
cc: @huanwu @zhenlan

[2016-09-14 22:31] joperezr opened #11726 "Re add netcore50 test runs for some System.Xml test projects once System.Private.Xml builds for netcore50"
PR #11717 removed netcore50 test runs for a few projects in System.Private.Xml in order to unblock the PipeBuild given that those projects depended on System.Private.Xml which didn't run in all supported netcore50 platforms. Once it does, then we should add those configurations back.

cc: @sepidehMS

[2016-09-14 22:33] danmosemsft opened #11727 "Port IndentedCodeWriter"
This is the only part of System.CodeDOM currently in .NET Standard.

[code]

[2016-09-14 22:35] danmosemsft opened #11728 "Port remaining parts of System.Collections"
These are the remaining parts that we defined are in .NET Standard 2.0 and are not yet in Core

[code]

[2016-09-14 22:56] danmosemsft opened #11729 "Missing CriticalHandle*"
These are in NS 2.0 and are missing from Core:

[code]

[2016-09-14 23:06] joperezr commented on #11685
@ianhays do you mind taking a look? it would be nice to know if this is a regression.

[2016-09-14 23:07] joperezr commented on #11687
@JeremyKuhne could you please check why is this test failing in both netcoreapp1.0 and 1.1 runs after the merge to master?

[2016-09-14 23:18] danmosemsft opened #11730 "Missing a couple API from S.Globalization"
These are the only remaining pieces of System.Globalization that are missing from Core but are in .NET Standard 2.0

[code]

[2016-09-14 23:20] shmao commented on #10838
@stephentoub Thanks for the pointer. Is `CreateDelegateInternal` supposed to throw the exception? Why the tests failed only in "UWP F5" while they passed in NetCoreForCoreCLR? Is there any difference between these two scenarios?

Is it possible to run the tests in "UWP F5" scenario with the corefx repo?

[2016-09-15 02:22] bitcrazed commented on #10054
@drieseng @qmfrederik Jumping in here as @tarekgh kindly alerted me to the conversation underway.

I own the Windows Console and Bash on Windows and wanted to provide a little perspective, assurance and background re. the Windows Console and text encoding:

The Windows Console has one of the longest-serving code-bases in all of Windows, but hasn't had consistent ownership for many years. That chan

[2016-09-15 02:34] davidsh commented on #11729
System.Net currently created an internal version of this which will need to be removed when we do this work.

[2016-09-15 02:52] kouvel commented on #11729
Updated inline adding a few more related ones to the list. Issue #11299 tracks removal of the internal safe handle types, I'll add these critical handle types to that as well.

[2016-09-15 02:54] ramarag opened #11734 "Expose System.Runtime.CompilerServices APis"
APis that need to be implemented

System.Runtime.CompilerServices.IsPinned
System.Runtime.CompilerServices.HasCopySemanticsAttribute
System.Runtime.CompilerServices.ScopelessEnumAttribute

[2016-09-15 03:46] stephentoub opened #11735 "Use added-back WebSockets APIs from ClientWebSocket"
e.g. ClientWebSocketOptions should use WebSocket.DefaultKeepAliveInterval

[2016-09-15 03:59] stephentoub commented on #4833
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release_prtest/162/consoleText
[code]

[2016-09-15 04:06] stephentoub opened #11736 "Two globalization tests failed on Windows in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/172/consoleText
[code]

[2016-09-15 04:10] stephentoub opened #11737 "System.Transactions PSPENonMsdtcTimeout test failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/12/consoleText
[code]

[2016-09-15 05:24] mythz opened #11738 "AllowAutoRedirect is missing on HttpWebRequest"
Please add the missing `AllowAutoRedirect` feature on [HttpWebRequest](https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs) so we can support both existing .NET and new .NET Core code bases that uses this feature, thanks.

[2016-09-15 06:03] mglodack opened #11739 "Expose CancellationToken For StreamContent"
Looks like `StreamContent` doesn't publicly expose a constructor with `CancellationToken` support.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/StreamContent.cs#L32

Is there any reason for not having that publicly exposed?

[2016-09-15 06:11] rsen253 commented on #11697
Ok got that . Thank you all

[2016-09-15 06:11] #11697 closed

[2016-09-15 06:15] bartdesmet opened #11740 "Address gaps in StackSpiller"
`System.Linq.Expressions.Compiler.StackSpiller` has known limitations when spilling requires `ref` locals which cannot be modeled by the expression tree API. We could try to lift these limitations in a few ways.

I've personally run into this restriction once when building a deserialization framework where the emitted code contained `Try` expression nodes which caused stack spilling but subsequent

[2016-09-15 08:44] quincy666 opened #11742 "Parse (and TryParse) method doesn't work with some locales."
Parse (and TryParse) method doesn't work with `prs` and `prs-AF` locale if 'NumberStyles.Any' passed to the method (and number must be 1000 or more).
`var c = new CultureInfo("prs");`
`var t = double.Parse((1000.55).ToString("n2", c), NumberStyles.Any, c);`

It will throw `System.FormatException` (Input string was not in a correct format.)
The same issue with full framework. Tested only on windows

[2016-09-15 10:16] iamjasonp opened #11743 "HttpClientHandler.ClientCertificates..get should fail when ClientCertificateOption.Automatic is set"
[code]

In .NET Desktop, accessing the WebRequestHandler.ClientCertificates collection will fail with an InvalidOperationException if `ClientCertificateOption.Automatic` is explicitly set. However, in .NET Core, the above will silently continue and ignore any certificates added to the ClientCertificates collection.

Consider placing the exception back so that behaviour is consistent between WebReq

[2016-09-15 10:40] aL3891 commented on #8948
@terrajobst  But they do provide a better platform for discussion, the asp.net repos typically have a discussion issue as well, but it gets lost in the sea of other issues. an announcement repo would also be a good way to collect feedback around issues as well by linking to another issue.

now you could ofcourse do that with blog posts as well, however there are a lot of Microsoft blogs, so in my

[2016-09-15 11:07] #11693 closed

[2016-09-15 13:00] stephentoub commented on #10838
I don't know.  @jkotas or @weshaggard, can you help?

[2016-09-15 13:08] stephentoub commented on #11737
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/6/consoleText

[2016-09-15 13:13] stephentoub commented on #11739
This is a dup of https://github.com/dotnet/corefx/issues/9071.

That ctor was only recently added as part of a bug fix:
https://github.com/dotnet/corefx/pull/9102

[2016-09-15 13:46] jkotas commented on #10838
"UWP F5" historically contained this reflection block. We have disabled it because of it was determined to be useless. It looks like that these tests are running with mix of old parts (CoreCLR in particular) where the reflection block is still kicking in. Ideally, this would be fixed by updating everything used by these tests to latest.

cc @gkhanna79

[2016-09-15 13:50] stephentoub commented on #11737
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/14/

[2016-09-15 14:27] davidsh commented on #11738
cc: @CIPop @stephentoub

This is already planned for 1.2.  All API surface area for HttpWebRequest will be added back to match .NET Framework (Desktop).

[2016-09-15 14:43] davidsh commented on #11739
Closing as dupe.

[2016-09-15 14:43] #11739 closed

[2016-09-15 15:25] ianhays commented on #11685
I'm having trouble running most test projects since the merge; do I need to pass a TFM, TargetGroup, or TestTFM when building a test csproj with msbuild?

Also:
[code]

But yes, to answer your question, these tests failing is a regression.

[2016-09-15 15:53] stephentoub opened #11747 "Both System.Runtime and System.Globalization.Extensions expose NormalizationForm"
This results in an error when trying to use NormalizationForm and including both libraries in the project.json.

cc: @tarekgh, @joperezr

[2016-09-15 15:59] danmosemsft commented on #10656
@sepidehMS What actually remains here? If it's just the packaging of the ref assembly, please close.

[2016-09-15 16:12] #11548 closed

[2016-09-15 16:12] danmosemsft commented on #11548
cda9d55

[2016-09-15 16:15] sepidehMS commented on #11320
System.Reflection.AssemblyNameProxy should be implemented in CoreFX

[2016-09-15 16:21] danmosemsft commented on #11113
Not in .NET Standard 2.0.

[2016-09-15 16:21] #11113 closed

[2016-09-15 16:24] danmosemsft commented on #11114
Not in .NET STandard 2.0

[2016-09-15 16:24] #11114 closed

[2016-09-15 16:24] danmosemsft commented on #11120
Not in .NET Standard 2.0

[2016-09-15 16:24] #11120 closed

[2016-09-15 16:25] danmosemsft commented on #11111
Not part of .NET Standard 2.0

[2016-09-15 16:25] #11111 closed

[2016-09-15 16:26] danmosemsft commented on #9486
#11728 has the specific remnants.

[2016-09-15 16:26] #9486 closed

[2016-09-15 16:35] shmao commented on #10838
Thanks for the explanation, @jkotas!

@jiangzeng /@Chrisboh Can you please help re-assign the issue to the right people to fix the test setup? Thanks.

[2016-09-15 16:42] sepidehMS commented on #10656
@shmao System.Xml.Schema is now available on master in System.Private.Xml. You can reference that until System.Xml facade becomes available as well.
Closing this for now.

[2016-09-15 16:42] #10656 closed

[2016-09-15 17:00] tarekgh commented on #11747
Thanks for the catch. I'll fix this.

[2016-09-15 17:10] justinvp commented on #692
This issue can now be tagged as "api-needs-exposed".

[2016-09-15 17:22] SedarG commented on #11222
FYI, pending on
* https://github.com/dotnet/buildtools/issues/1039
* and Maestro subscriptions to get updated after switching to master

[2016-09-15 17:25] joperezr commented on #11685
No. The easiest way to repro would be to re-add those tests back by locally removing the [Active issue property](https://github.com/dotnet/corefx/blob/9348997920c1ba782b45adb5e8ee9754149ab1e2/src/System.IO.Compression/tests/ZipArchive/zip_InvalidParametersAndStrangeFiles.cs#L219) in each of them, and then building the .builds file like:
[code]
That should automatically run the tests. Let me know i

[2016-09-15 17:27] joperezr commented on #10688
In order to be able to do this, we need to first expose all of the types that now live in System.Private.Xml through contracts.

[2016-09-15 17:38] weshaggard commented on #11730
I just removed these from netstandard 2.0 because Xamarin doesn't support them, so we can close this issue.

[2016-09-15 17:38] #11730 closed

[2016-09-15 18:30] petersondrew commented on #9884
Is there a timeline on when this fix will be pushed to Nuget?

[2016-09-15 18:40] Kuqd opened #11757 "httpclient default proxy"
Hello Guys,

Is there a way for httpclient to pick up the default system proxy like http_proxy on linux ?

For now we are providing a the proxy manually to the httpclient, using the HttpClientHandler class.

Thank you !

[2016-09-15 18:47] stephentoub commented on #11757
HttpClient on Linux should respect a proxy set in the http_proxy environment variable.  Are you seeing otherwise?

Or are you asking if there's an equivalent on Windows?

[2016-09-15 19:08] ianhays commented on #11685
I tried building the builds files but I'm still getting errors for every project I've tried: System.IO.Compression, System.IO.Filesystem, and System.IO.Filesystem.Watcher. The errors are either missing namespaces, functions missing from implementation but defined in contract, or couldn't locate compile assets.

[2016-09-15 19:09] Kuqd commented on #11757
I'm actually seeing it, it's not respecting the proxy, I had to manually set it up.

[2016-09-15 19:17] davidsh commented on #9884
This will be part of the .NET Core 1.1 release.  I believe the timing is within a few months.  There will be a preview pushed to NuGet before the actual RTM (stable packages) pushed to NuGet.

cc: @richlander, @leecow  can comment on release timeframe for .NET Core 1.1

[2016-09-15 19:31] stephentoub commented on #11757
How are you setting the environment variable?  Is it set before you launch the application, or are you setting it with Environment.SetEnvironmentVariable once the process has been launched?

You can see we have a test case for this here:
https://github.com/dotnet/corefx/blob/0d3ba29934def851fe35514bfe18ecd5f3b5791e/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.DefaultProxyCredent

[2016-09-15 19:51] leecow commented on #9884
We're shooting to have the 1.1 Preview available in October. Watch the usual channels (@dotnet on Twitter and https://blogs.msdn.microsoft.com/dotnet/) for the official announcement and details.

[2016-09-15 20:03] Kuqd commented on #11757
before I launch the application, I'm going to run more test and get back to you !

[2016-09-15 20:26] stephentoub commented on #11757
Thanks, @Kuqd.

[2016-09-15 20:44] alexperovich opened #11762 "Change S.ComponentModel.TypeConverter projects to use project.json references rather than ProjectReferences"
The System.ComponentModel.TypeConverter src and test projects have ProjectReferences to System.Drawing.Primitives.
Change these to project.json references once the new System.Drawing.Primitives surface area is exposed in published packages.

[2016-09-15 21:06] steveharter commented on #4813
The four areas are implemented

[2016-09-15 21:06] #4813 closed

[2016-09-15 21:15] alexperovich opened #11764 "Source Breaking change in System.Runtime 4.1 with MemberInfo.GetCustomAttributes"
When upgrading package versions of System.Runtime from 4.0 to 4.1 the following code will have errors on both lines when it compiled successfully before.
[code]
This is caused by two new instance methods on MemberInfo that hide the extension methods in CustomAttributeExtensions. The new methods return `object[]` when the extension methods return `IEnumerable<Attribute>`

To maintain compatibility

[2016-09-15 21:15] alexperovich commented on #11764
@weshaggard

[2016-09-15 21:16] jamesqo commented on #11723
@jkotas I realized there is another thing, too-- the PR makes use of `ValidateCopyToArguments` which is an internal method on Stream. What should be done there?

Also, curious-- why do we have Stream in CoreRT but MemoryStream here?

[2016-09-15 21:20] weshaggard commented on #11764
Thanks for point this out. During some review we actually talked about this exact issue and I believe to workaround it we decided to make the versions on the actual types that return object[] array be explicit interface implementations.

@terrajobst what's your thought on this?

[2016-09-15 21:23] mglodack commented on #9071
@stephentoub Are there any major issues with adding cancellation support now with `ReadAsync/WriteAsync` that a consumer should be aware of?

I've created my own custom `HTTPContent` and I did expose my own cancellation to the `ReadAsync`/WriteAsync` but wanted to make sure I won't hit any issues.

[2016-09-15 21:23] jkotas commented on #11723
Duplicate the method, or create a shared copy under src\Common that can be used by any corefx stream implementation.

Stream is exchange type that a lot of API signatures use, thus it needs to be in the lowest level of the runtime. The concrete Stream implementations like MemoryStream can be in layer above.

[2016-09-15 21:47] alexperovich opened #11766 "Add tests for several System.Reflection types"
- System.Reflection.Module
- System.Reflection.Pointer
- System.Reflection.RuntimeReflectionExtensions
- System.Reflection.TypeDelegator
- System.Reflection.TypeInfo

[2016-09-15 22:07] joperezr opened #11768 "Reapply changes made to Xml libraries since the move to System.Private.Xml since they got lost in merge from dev/api"
When we moved the implementation of Xml from the old contracts into System.Private.Xml, we lost the history since to git's point of view, they are two different files now. The problem is that this move happened in a different branch (dev/xml) so when we merged that back to dev/api and then to master, we lost all of the changes that were made in master after the move. This work item is to track the

[2016-09-15 22:23] bartonjs commented on #4813
@steveharter I don't think we did the DSACertificateExtensions class (GetDSAPublicKey, GetDSAPrivateKey)... did we?

[2016-09-15 22:48] danmosemsft opened #11769 "Port System.Resources"
[code]

[2016-09-15 22:54] bartdesmet opened #11770 "BindingRewriter implementations of StackSpiller have incorrect check for value types"
Found while investigating #11740. The `BindingRewriter` implementations for `MemberBind` and `ListBind` bindings have an incorrect check for bindings targeting a value-typed property:

* When no stack spilling takes places, the code below throws `CannotAutoInitializeValueTypeElementThroughProperty` from the `LambdaCompiler` for the *current* node (`MemberBind` targeting `C.V`).
* When stack spilli

[2016-09-15 23:04] ericeil opened #11771 "OutOfMemoryException in System.Numerics.Tests.logTest.RunLargeValueLogTests on Ubuntu"
Running OuterLoop Ubuntu14.04 Debug in CI for #11765:
[code]

[2016-09-15 23:05] ericeil commented on #11771
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_ubuntu14.04_debug_prtest/9/

[2016-09-15 23:26] malachib opened #11772 "DotNetCore.1.0.1-SDK installation onto Windows 2008"
DotNetCore.1.0.1-SDK.1.0.0.Preview2-003131-x64 specifically

Using Windows Server "6.0.6002".  Struggled to get an install as it couldn't acquire/install vs_redist.x64.exe, so I manually pulled it down from http://go.microsoft.com/fwlink/?LinkID=615460&amp;clcid=0x409 as per logs and the install the completed without complaint.

However, when attempting to start `dotnet --version` from command lin

[2016-09-15 23:29] karelz commented on #5766
Our .NET Core engineers are heavily focused on .NET Standard 2.0 (also high customer demand) – see details [here](https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/) and [here](https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/). We will look at other libraries not in that list after we get .NET Core up to the latest standard.

Thanks for poi

[2016-09-15 23:44] qmfrederik commented on #11772
Have a look at https://github.com/dotnet/core/blob/master/roadmap.md#technology-roadmaps, Windows Server 2008 R2 is oldest version of Windows Server which is supported, which means you probably won't be able to run .NET Core on that server.

[2016-09-15 23:58] Priya91 opened #11774 "Remove Component stubs from System.Timers.Timer in System.ComponentModel.typeconverter contract."
cc @AlexGhiondea

[2016-09-16 00:21] malachib commented on #11772
Thank you for the quick response. I will find a workaround then; any clues as to why vs_redist.x64.exe becomes a manual step?  I just installed on a Windows 2008 R2 server and the manual step was still required

[2016-09-16 01:07] zgramana commented on #9012
For anyone looking for a workaround (on macOS/Darwin at least), here are my notes on getting things working on OS X (and in theory they should work on Ubuntu with little or no modification, but I haven't tested):

1. **Find your loadable native images** (`.dylib` on macOS/Darwin, `.so` on Linux). The location depends on what your dev/packaging platform is.
 1. If you're building and running on the

[2016-09-16 01:41] bartdesmet opened #11780 "StackSpiller does not have to go through Expression factory methods"
Noticed inconsistencies while analyzing requirements to address #11740. In particular, various `Rewrite` methods simply instantiate expression nodes (e.g. `Unary`, `Loop`, `Switch`, `Try`, `Index`, `AssignBinary`) while others go through factories. We don't need the indirection through factories here because:

* typing invariants are enforced at the level of the `Rewrite` methods; they never chang

[2016-09-16 01:52] alexperovich commented on #11764
Would it work to remove the object[] overloads from the reference assembly and leave them in the implementation? That way assemblies built against them would see them at runtime but the compiler would not.

[2016-09-16 06:31] bartdesmet commented on #5381
Found when writing tests for `System.Linq.Expressions` to assert generated IL code: the `Resolve` methods on `Module` are missing.

[2016-09-16 08:17] Mike-EEE commented on #5766
Thank you for your response @karelz!  Much appreciated. 👍

[2016-09-16 13:16] Mike-EEE commented on #5766
👼 👼 👼 I will leave this right here in case anyone wants to like/retweet. 👼 👼 👼
https://twitter.com/MikeEEE76/status/776769805722521600

[2016-09-16 16:08] tarekgh commented on #10140
This is done

[2016-09-16 16:08] #10140 closed

[2016-09-16 16:18] danmosemsft commented on #11650
65d05f8

[2016-09-16 16:18] #11650 closed

[2016-09-16 16:48] karelz commented on #11771
@mellinoe can you please take a look?

[2016-09-16 17:05] #10000 closed

[2016-09-16 17:18] mellinoe commented on #11771
@karelz It looks like the machine ran out of memory. I'll look into lowering the size of the string data used in the future.

[2016-09-16 17:23] robertmclaws commented on #10752
@svick You are probably right. I personally would want to test the behavior just to be sure we're not breaking anyone... otherwise this would move to a 2.0 release item.

@Priya91 I'm not sure if a `GetRange()` would be necessary, but `InsertRange()` and `RemoveRange()` would be, along with `ReplaceRange()`, and possible a `Clear()` method if one is not currently available.

So if we're comfortabl

[2016-09-16 17:35] Kuqd commented on #11757
I've set the env variable in the supervisor conf and now it's picked up, now I'm just wondering it we can set some bypass also ?

[2016-09-16 17:36] mikeharder commented on #11772
@malachib: See https://github.com/dotnet/cli/issues/4190 for more explanation.

[2016-09-16 17:43] karelz opened #11787 "Port System.Net.Security"

[2016-09-16 17:44] karelz opened #11788 "Port remaining types/members in System.Net.Sockets"
# Missing types
- [x] System.Net.Sockets.ProtocolFamily
- [x] System.Net.Sockets.SocketInformation
- [x] System.Net.Sockets.SocketInformationOptions
- [x] System.Net.Sockets.TransmitFileOptions

# Missing members
- [x] System.Net.Sockets.NetworkStream.#ctor
- [x] System.Net.Sockets.NetworkStream.#ctor
- [x] System.Net.Sockets.NetworkStream.BeginRead
- [x] System.Net.Sockets.NetworkStream.BeginWrit

[2016-09-16 17:44] stephentoub commented on #11787
@karelz, what's the remaining work here?  As of https://github.com/dotnet/corefx/pull/11714 I thought this was done.  Are there APIs you're seeing that I missed?

[2016-09-16 17:45] karelz opened #11789 "Add Compatibility Surface Area to System.Net.NetworkingInformation"
[code]

[2016-09-16 17:46] stephentoub commented on #11788
I'm renaming this to just System.Net.Sockets.  As of https://github.com/dotnet/corefx/pull/11694, I believe System.Net.WebSockets and System.Net.WebSockets.Client are done.  If I missed anything, it can be handled separately.

[2016-09-16 17:46] karelz opened #11790 "Port System.Net.Mime"

[2016-09-16 17:47] stephentoub commented on #11790
This is fixed by https://github.com/dotnet/corefx/pull/11767

[2016-09-16 17:47] karelz opened #11791 "Port System.Net.Cache"

[2016-09-16 17:47] Priya91 commented on #10752
Clear is already available. We still haven't gotten the shape of apis to add, if RemoveRange and InsertRange are to be added, then we need these apis added to the speclet. And then we'll mark api-ready-for-review, to be discussed in the next api-review meeting either on tuesday or friday.

[2016-09-16 17:47] #11787 closed

[2016-09-16 17:48] karelz opened #11792 "Port System.Net.Mail"

[2016-09-16 17:49] karelz commented on #11792
Recommendation from Networking team:
- Start skipping ServicePointManager APIs,
- Build it on top of TcpClient

[2016-09-16 17:50] mellinoe commented on #11771
The tests ends up taking about 7 GB of memory on my machine, so we can probably lower that to avoid this in the future.

[2016-09-16 17:51] karelz opened #11793 "Port System.Net.HttpListener"
Includes also `System.Net.WebSockets.HttpListnerWebSocketContext`

[2016-09-16 17:54] karelz opened #11794 "Port System.Net.WebClient"
Suggestion from Networking team: build it on top of System.Net.Http (x-plat will be free then).

[2016-09-16 17:54] robertmclaws commented on #10752
OK, I made changes to the speclet. Note that the parameters might change for the actual implementation, but those are what makes the most sense at this particular second. Please LMK if I need to do anything else. Thanks!

[2016-09-16 17:55] mellinoe commented on #11789
Is there a concrete list of stuff to bring back, or do I need to diff the lists?

[2016-09-16 17:57] davidsh commented on #11789
You'll need to diff the lists from .NET Framework to what is currently in .NET Core.  Most of this is done (except for UWP implementation).

[2016-09-16 18:03] ericeil commented on #11788
Added checklist to track progress.  Most of the APM methods, plus the `Close` methods, were already added with #11765.

[2016-09-16 18:03] robertmclaws opened #11795 "CookieCollection.GetCookies() does not retrieve cookies prefixed with a ".""
## Scope
Modernize the CookieContainer to fix a 7 year old bug concerning the ability to return ALL cookies for a given domain.

## Rationale
A [well documented](http://stackoverflow.com/questions/1047669/cookiecontainer-bug/39536750#39536750) (and entirely too long-standing) bug in the CookieContainer is that, because `CookieContainer.GetCookies()` only accepts a Uri, not a string. The result of

[2016-09-16 18:03] Priya91 commented on #10752
```RemoveRange(int index, int count)``` instead of ```RemoveRange(ICollection)``` ? How does RemoveRange behave when the ICollection elements are duplicated in ObservableCollection

[2016-09-16 18:05] Priya91 commented on #10752
count instead of endIndex..
[code]

[2016-09-16 18:05] karelz commented on #11787
I just wasn't sure if it is fully done, hence the bug. If I see something missing from our diff reports, I'll file a new bug. Thanks!

[2016-09-16 18:08] karelz opened #11796 "Port System.Net.WebSockets"
@stephentoub you said it's done, please link the PR for tracking purposes & close, thanks!

[2016-09-16 18:11] Priya91 commented on #10752
[code]

[2016-09-16 18:13] blowdart commented on #11795
Oh how interesting, I didn't even know this bug existed :)

[2016-09-16 18:13] mellinoe commented on #11789
I believe the diff is this:

[code]

@stephentoub The conversation we had about this got deleted. Does this match up with what that list you had given to me?

@CIPop

[2016-09-16 18:14] tarekgh commented on #11747
this is fixed with the linked PR.

[2016-09-16 18:14] #11747 closed

[2016-09-16 18:15] thomaslevesque commented on #10752
Basically the signatures should be the same as in `List<T>`.

I don't think the `clearFirst` parameter in `AddRange` is useful, and anyway optional parameters should be avoided in public APIs.

A `RemoveAll` method would be useful all well, for consistency with `List<T>`:

    public int RemoveAll(Predicate<T> match)

[2016-09-16 18:16] davidsh commented on #11789
The rule of thumb here is to add back all the API surface that was in .NET Framework.  So, the list above is a good place to start.

[2016-09-16 18:17] stephentoub commented on #11789
It looks like it. Thanks.

[2016-09-16 18:20] robertmclaws commented on #10752
I think `RemoveRange(IEnumerable<T> collection)` should remain. It would cycle through `collection`, call `IndexOf(item)` and then call `RemoveAt(index)`. Duplicates of the same item would also be removed.

@thomaslevesque I have the `clearFirst` parameter in there specifically because it IS useful, as in I'm using it in production code right now. Consider in UWP apps when you are resetting a UI..

[2016-09-16 18:20] thomaslevesque commented on #10752
Also, the index parameter usually comes first in existing APIs, so `InsertRange`, `RemoveRange` and `ReplaceRange` should be updated accordingly.

And I don't think ReplaceRange needs a `count` parameter; what should the method do if the `count` parameter doesn't much the number of items in the replacement collection?

Here's the API as I see it:

[code]

[2016-09-16 18:21] Jobria opened #11797 "DefaultValueAttribute return null value for Guid type."
I added the DefaultValueAttribute into the a Guid property and get the attribute in constructor of the object but the value in the attribute is null. I have also tried another type of attribute like "int", "long", "flost" or etc. It works great. Anyone have idea what's wrong of the Guid type?

The following is the coding for reference.

[2016-09-16 18:21] karelz commented on #11789
Added list of missing APIs (diff .NET Core vs. .NET Standard 2.0 from APICatalog)

[2016-09-16 18:22] thomaslevesque commented on #10752
I'm not sold on it, but hey, it's your proposal, not mine :wink:. At the very least, I think it should a separate overload, rather than an optional parameter.

[2016-09-16 18:23] davidsh commented on #11789
This will be interesting because we have moved the Ping class to its own contract already.

[2016-09-16 18:25] mellinoe commented on #11789
The ping work is already done, by Stephen a couple of days ago. @karelz Can you just replace your list with the one I have above? Yours doesn't look properly filtered.

[2016-09-16 18:26] thomaslevesque commented on #10752
This makes me think... there are lots of possible combination of changes you might want to do on the collection without triggering events for each one. So instead of trying to think of each case and introduce a new method for each, perhaps we should lean toward a more generic solution. Something like this:

[code]

[2016-09-16 18:27] robertmclaws commented on #10752
@thomaslevesque Overload vs optional parameter makes no practical difference to the end user. It's just splitting hairs.

`ReplaceRange` with a count would remove all items in the given range, and then insert the new items at that point. The counts not matching would be irrelevant.

If the index comes first in existing APIs, then I'm fine with this:
[code]

[2016-09-16 18:30] thomaslevesque commented on #10752
It's not. Optional parameter can cause very real issues when used in public APIs. Read [this blog post](http://haacked.com/archive/2010/08/10/versioning-issues-with-optional-arguments.aspx/) by @haacked for details.

[2016-09-16 18:31] SamuelEnglard commented on #10752
I'm actually liking @thomaslevesque's idea about using a batching class. It's a common pattern, well understood, and makes complex workflows easier.

[2016-09-16 18:32] thomaslevesque commented on #10752
That would be quite inefficient. Removing items would cause all following items to be moved backwards, and inserting new ones would cause them to be moved forward again. The implementation I have in mind would replace each item in-place, without moving anything.

[2016-09-16 18:32] robertmclaws commented on #10752
The point of this proposal was to fill in the gaps on the existing implementation, not coming up with a new pattern for people to deal with. I'm not against that proposal, but that's an entirely new piece of functionality that I don't believe should be a part of this discussion.

[2016-09-16 18:34] SamuelEnglard commented on #10752
@robertmclaws but since there is no way to currently do bulk operations there isn't a "new pattern"

[2016-09-16 18:34] robertmclaws commented on #10752
Why does that matter? Is it a memory allocation issue?

[2016-09-16 18:34] thomaslevesque commented on #10752
I agree that it should probably be a separate proposal, but it does solve the initial problem you were having.

[2016-09-16 18:36] robertmclaws commented on #10752
There *are* existing patterns, in about a dozen custom collections across different NuGet packages and what-not that inherit from ObservableCollection to fill in these gaps. The point of this proposal was simply to bring that functionality back into the native class.

[2016-09-16 18:37] thomaslevesque commented on #10752
That's one of the issues, yes. I'd have to check to be sure,but I think the underlying array is trimmed down when you remove items, and reallocated with a larger size (if necessary) when you add items.

Even if that's not the case, items after the range you're replacing would have to be moved twice, which has no impact on allocations, but makes the CPU do more work that necessary.

[2016-09-16 18:44] robertmclaws commented on #10752
I'm not against it being an overload. But in reality a) this class hasn't changed in years, b) this method would not likely change once implemented, and c) having overload means you would have to have an AddRangeInternal that pushes the reentrancy check to the parent functions, so that you're not checking for it twice or duplicating functionality. I personally would rather have one function that i

[2016-09-16 18:46] SamuelEnglard commented on #10752
Fair point. Thinking on it a bit I think what we should do is implement the bulk grouping like @thomaslevesque suggested and then implement the methods you suggested on top of that (possibly as extension methods)

This actually has me thinking about a different proposal I might make, hmm

[2016-09-16 18:48] thomaslevesque commented on #10752
I just checked, and I was mistaken. The underlying collection is always a `List<T>`, which doesn't automatically trim down capacity when items are removed. So, your approach wouldn't cause additional allocations (unless you insert more items than you remove, of course).

[2016-09-16 18:50] karelz commented on #11789
Feel free to either link the Ping PR or edit the list (it is 2 days old). Also feel free to split the issue into 2 if it is more convenient for you.

[2016-09-16 18:51] mellinoe commented on #11789
From what I remember of this stuff, everything should be very trivial to implement except for the new `NetworkChange` event, which will be much harder to get right. It will probably require native code for both OSX and Linux, similar to the existing event we expose.

@karelz Sounds good; I may end up implementing everything except `NetworkChange.NetworkAvailabilityChanged` in one PR, and then do t

[2016-09-16 18:53] robertmclaws commented on #10752
@thomaslevesque OK, cool. The more I think about it, you can't really replace a range unless you have a source range to replace. That's either going to come with indexes, or a group of existing items. Otherwise, it's just an InsertRange call.

[2016-09-16 18:53] thomaslevesque commented on #10752
Yes, our approaches to `ReplaceRange` are not functionally equivalent.

- yours would allow replacing a range with a collection of different size, but would be slower
- mine would only allow replacing a range with a collection of the same size, but would be faster

Indeed. Not sure which approach should be preferred (maybe both could be done, but it might make the API more confusing).

[2016-09-16 18:56] robertmclaws commented on #10752
Ok, I think I came up with a way to meet everyone's requests. Please give me a few minutes to amend my speclet.

[2016-09-16 18:59] mellinoe commented on #10769
@ericeil I'm seeing this in some Ubuntu 16.10 runs as well. I'm pretty sure that the only way this could happen is if the actual statistics file from the system (/sys/class/net/<name>/speed) actually contains "-1" instead of a real speed value. I think we should just return `null` from the parsing routine in that case; it already returns null for other invalid values / IO errors.

[2016-09-16 19:10] robertmclaws commented on #10752
Alright, I've updated the speclet with the other functions, implementing `clearFirst` and `ReplaceRange` options as overloads. As I just mentioned, I think buffering events would need to be a different proposal, because it would affect how every existing method fires events, which is not a bad idea, but is outside the scope of this proposal.

[2016-09-16 19:20] thomaslevesque commented on #10752
public void ReplaceRange(IEnumerable<T> source, IEnumerable<T> replacement) { } //Might not be plausible, but should be attempted.

I'm not sure about this one. It would have to do a linear search for each item in `source`, which would result in `O(m*n)` complexity.

The more I think about it, the less I like the idea of `ReplaceRange`. We already realized that we had very different ideas of how i

[2016-09-16 19:29] robertmclaws commented on #10752
OK, I removed that signature from the speclet. Everyone happy with what's left?

[2016-09-16 19:29] PaluMacil commented on #8622
Another common use for DataTable is to examine the schema of the output of a stored procedure. We have enormous dependence upon da.FillSchema(dt, SchemaType.Mapped); where da is a DataAdaptor and dt is a DataTable.

[2016-09-16 19:42] hughbe commented on #5381
+1 for the `Resolve` members: I was trying to do the following in PR #11417 to reproduce a bug and demonstrate a test, but the APIs weren't exposed on .NET core
[code]

[2016-09-16 19:43] thomaslevesque commented on #10752
LGTM :+1:

[2016-09-16 19:45] danmosemsft commented on #11768
Zhenlan and I discussed this and we agreed that Shin is the best person to fix up the merge issues with XML serialization. Assigning to @shmao. Thanks Shin!

@joperezr are there other issues outside of XML serialization? (src\System.Private.Xml\src\System\Xml\Serialization and src\System.Xml.XmlSerializer) If so, please break out into a new issue for us to take care of.

[2016-09-16 19:46] Priya91 commented on #10752
@robertmclaws What's the purpose of ReplaceRange(int, int, ICollection), we don't have a ReplaceRange on any of the other collection types. Is there a use case for this? If not, then we can defer on this.

[2016-09-16 19:58] steveharter opened #11802 "Add DSACertificateExtensions class"
Did not add as part of the DSA work #4813, so creating a new issue to track that

[2016-09-16 19:59] steveharter commented on #4813
@bartonjs no I didn't see that. Added #11802

[2016-09-16 20:00] davidsh commented on #11791
This will be difficult to implement beyond just stubbing out.  The current System.Net.Cache in .NET Framework (Desktop) uses legacy Windows Wininet APIs to provide a cache for HTTP responses.

[2016-09-16 20:07] andschwa commented on #9658
Hey by the way, this was for PSReadLine 😄 (I can say that now!)

[2016-09-16 20:09] Priya91 opened #11803 "System.Globalization.Tests failures on Unix in Innerloop CI."
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/debian8.4_debug/lastCompletedBuild/testReport/

StringNormalizationTests are failing with System.NotImplementedException : The method or operation is not implemented.

[2016-09-16 20:14] sepidehMS commented on #11320
CoreClr work for this done by https://github.com/dotnet/coreclr/pull/7193

[2016-09-16 20:23] robertmclaws commented on #10752
I only added it because @thomaslevesque said he had one in his implementation when he first commented, so I wanted to be inclusive. I can't think of an active use case, so we can leave it out. I updated the speclet.

[2016-09-16 20:32] ericeil commented on #11803
Also here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/252/

[2016-09-16 20:35] danmosemsft commented on #11768
@zhenlan for visibility.

[2016-09-16 21:04] joperezr commented on #11768
I believe that there are at least 7 libraries where we moved the implementation down to either System.Private.Xml or to System.Private.Xml.Linq. They are:
[code]

[2016-09-16 21:05] joperezr commented on #11768
we would need to track all changes made in those contracts in master prior to the merge, and make sure we apply them back. I agree where we should probably have a different issue tracking each of the different libraries.

[2016-09-16 21:07] dagood opened #11805 "Remove fake win10-arm64 System.Data.SqlClient.sni support from release/1.1.0"
https://github.com/dotnet/corefx/pull/11804 adds a runtime reference to `runtime.native.System.Data.SqlClient.sni` on `runtime.win10-arm64.runtime.native.System.Data.SqlClient.sni` `4.3.0-beta-24514-00`. Just before shipping 1.1.0 we should remove it. We want to keep testing it while release/1.1.0 gets changes, but don't want to partially ship win10-arm64 support.

Specifically, the lines in [runt

[2016-09-16 21:14] danmosemsft opened #11806 "Fix dev/api>master merge of XML implementation, excl. XML serialization"
Broken out from https://github.com/dotnet/corefx/issues/11768

----------------------------------------------------------------------------

Libraries where we need to re-add changes:
- [X] System.Xml.ReaderWriter ->  PR #11911
- [X] System.Xml.XDocument -> I've verified that all of the changes for this assembly were not lost.
- [X] System.Xml.XmlDocument -> No changes were made in master for this

[2016-09-16 21:14] danmosemsft commented on #11768
Alright, I broke a new issue out for the libraries other than XML serialization. https://github.com/dotnet/corefx/issues/11806

[2016-09-16 21:18] ericeil opened #11807 "Use public Socket.Handle property from SafePipeHandle"
#11800 added Socket.Handle back to the public API surface.  However, we currently have one place in the code where we'd like to use Handle and are getting it via reflection:

https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.IO.Pipes/src/Microsoft/Win32/SafeHandles/SafePipeHandle.Unix.cs#L34
We should fix that as well.

[2016-09-16 21:20] ericeil commented on #6807
#11800 added Socket.Handle
#11807 covers using this from SafePipeHandle.

[2016-09-16 21:20] #6807 closed

[2016-09-16 21:22] kouvel opened #11808 "Port some missing miscellaneous types/members"
~~\- [ ] T:System.Configuration.Assemblies.AssemblyHash~~
edit: Removed AssemblyHash from netstandard.

~~T:System.Configuration.Assemblies.AssemblyHashAlgorithm~~
~~F:System.Configuration.Assemblies.AssemblyHashAlgorithm.MD5 .~~
~~F:System.Configuration.Assemblies.AssemblyHashAlgorithm.None~~
~~F:System.Configuration.Assemblies.AssemblyHashAlgorithm.SHA1~~
~~F:System.Configuration.Assemblies.Asse

[2016-09-16 21:25] kouvel opened #11809 "Port some missing remoting types/members"
- [x] T:System.ContextBoundObject
- [x] M:System.ContextBoundObject.#ctor
- [ ] T:System.ContextMarshalException
- [ ] M:System.ContextMarshalException.#ctor
- [ ] M:System.ContextMarshalException.#ctor(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
- [ ] M:System.ContextMarshalException.#ctor(System.String)
- [ ] M:System.ContextMarshalException.#cto

[2016-09-16 21:29] danmosemsft commented on #10073
@weshaggard Do these compat assemblies serve any purpose any more? We should build our mscorlib etc shims from the standard repo, not corefx.

[2016-09-16 21:57] roji commented on #8622
@PaluMacil as has been discussed in #1039, .NET Core includes an alternative API for examining the schema of a query (stored procedure or otherwise): see #5915. The new API has no dependencies on DataTable/DataSet and is superior in that it's strongly-typed.

[2016-09-16 22:05] alexperovich opened #11810 "Remove Regex Caps and CapNames properties"
Follow Up on #11779

Now that we have exposed the old caps, and capnames fields we should see if we can remove the Caps and CapNames properties.

[2016-09-16 22:05] alexperovich commented on #11810
@weshaggard

[2016-09-16 22:07] brentschmaltz commented on #9990
@danmosemsft how is this work progressing?

[2016-09-16 22:11] alexperovich opened #11811 "Unify implementation of WebUtility and HttpUtility"
System.Net.WebUtility and System.Web.HttpUtility have very similar functionality. We should either augment the code in WebUtility to accept Encoding and expose new members, or share the implementation code between the 2 libraries.

[2016-09-16 22:12] alexperovich commented on #11811
@weshaggard

[2016-09-16 22:13] steveharter commented on #9990
@brentschmaltz the work is currently in progress. ETA next week

[2016-09-16 22:19] brentschmaltz commented on #9990
@steveharter thanks. Can i find something in nightlies? Our token libraries worked around these missing pieces in Core 1.0 and I want to see if what it would mean to bring them back OR if it makes sense.

[2016-09-16 22:35] tarekgh commented on #11803
Yes this expected to fail after we moved using System.Private.Corelib.dll instead of the System.Globalization.Extensions. I'll take care with this when I am enabling Linux implementation

[2016-09-16 22:46] ericeil opened #11812 "Restore serialization attributes on System.Net.Sockets.SocketInformation"
#11799 reintroduced `System.Net.Sockets.SocketInformation`, but with the serialization attributes commented out.  We should work out how to reference the newer System.Runtime reference assembly from System.Net.Sockets, so that we can use these attributes.

[2016-09-16 22:48] Priya91 commented on #11803
This is currently blocking all PR jobs to red..

[2016-09-16 22:48] ericeil commented on #11803
All PRs are failing these tests.  Please disable them for now, if they can't be fixed quickly.

[2016-09-16 22:53] karelz commented on #11791
I assume that means implementing special x-plat solution.
How much of this API is purely perf vs. also some ad-on functionality/behavior? I can imagine we could just stub out the perf code.
I wonder what Mono implementation has.

[2016-09-16 22:58] tarekgh commented on #11803
will disable them. I though we already did when opened this issue but it looks not.

[2016-09-16 23:07] tarekgh commented on #11803
https://github.com/dotnet/corefx/pull/11813

[2016-09-16 23:08] tarekgh commented on #11803
if one of you can sign off on the PR I can merge it to unblock the queue

[2016-09-16 23:17] tarekgh commented on #11803
listing the failed tests for the record.

 System.Globalization.Tests.StringNormalizationTests.IsNormalized_Invalid	25 ms	2
 System.Globalization.Tests.StringNormalizationTests.Normalize_Invalid	1 ms	2
 System.Globalization.Tests.StringNormalizationTests.Normalize(value: "ÄÇ", normalizationForm: FormD, expected: "ÄÇ")	0 ms	2
 System.Globalization.Tests.StringNormalizationTests.Normalize(value: "

[2016-09-16 23:18] #10961 closed

[2016-09-16 23:18] tarekgh commented on #10961
Closing this as I have split it into more granular issues

[2016-09-16 23:19] tarekgh commented on #11605
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:19] tarekgh commented on #11606
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:19] tarekgh commented on #11608
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:19] tarekgh commented on #11609
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:20] tarekgh commented on #11612
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:20] tarekgh commented on #11613
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:20] tarekgh commented on #11614
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:20] tarekgh commented on #11615
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:20] tarekgh commented on #11616
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:20] tarekgh commented on #11611
https://github.com/dotnet/corefx/issues/10961

[2016-09-16 23:59] JeremyKuhne commented on #10546
@ianhays - I've got multiple confirmations that this fails on Win10 Anniversary Update. It looks like the limitation may have been relaxed. Can you disable these if you can't get to them right away so we can get clean builds on Win10?

[2016-09-17 00:03] tarekgh opened #11815 "Compat work for StringComparer (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

[2016-09-17 00:04] tarekgh commented on #11815
#10961

[2016-09-17 01:10] davidsh commented on #11791
The actual types in System.Net.Cache namespace are simple.  There are 3 enums and 2 classes.  All of these types specify and control behavior for WebRequest, HttpWebRequest APIs.

So, from a contract perspective, these types will go into the System.Net.Requests contract.

I will look into this.  And yes, stubbing out the types are fine for now.

[2016-09-17 03:54] davidsh commented on #11392
cc: @CIPop

[2016-09-17 03:55] davidsh commented on #11333
Please let us know if you are able to respond with answers to the above questions.  Thanks.

[2016-09-17 03:55] #11333 closed

[2016-09-17 04:30] #11590 closed

[2016-09-17 05:13] CZEMacLeod commented on #8126
Just a quick comment on the seperator for the True and False values - I think this should be a ; not a : as a parts seperator similar to numbers. e.g. Yes**;**No or On**;**Off
[code]
and perhaps for the nullable case
[code]

[2016-09-17 07:37] bartdesmet opened #11820 "System.Timers.Tests.TimerTests.TestTimerStartAutoReset test failure in CI"
See http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/283/

[2016-09-17 08:53] kouvel commented on #3364
Fixed in ReaderWriterLockSlim, but reopening to fix in ReaderWriterLock after it is exposed by dotnet/corefx#11634

[2016-09-17 10:34] varocarbas opened #11825 "C# dynamic behaviour in ternary operators"
Firstly, I want to highlight that I rarely use `dynamic`. On the other hand, I have relied a lot on `Option Strict Off` when using VB.NET. That is, I do feel comfortable when coding with low-to-no type checks and know what I should expect from these configurations.

I am currently writing a C# code which uses quite a few `dynamic` variables. This seems the best proceeding for easily managing a big

[2016-09-17 11:29] benaadams commented on #4530
After some optimizations and upgrading to aspnet Websocket 0.2.0 which shares corefx's impl

`WebSocketReceiveResult` and `Task<WebSocketReceiveResult>` are items 3 and 5 on our top allocated items:

![web-socket-receive](https://aoa.blob.core.windows.net/aspnet/websocket-result.png)

[2016-09-17 12:17] stephentoub commented on #11825
@varocarbas, could you move this issue to the Roslyn repo?
https://github.com/dotnet/roslyn
The issue is about compiler behavior, and that repo contains the compiler.  Thanks.

[2016-09-17 12:20] stephentoub commented on #4530
@benaadams, I realize this is an aside from the main purpose of your post, but I assume that these moving up on the list speaks well to the rest of the implementation, in that other things higher on the list have been removed?

[2016-09-17 12:23] varocarbas commented on #11825
@stephentoub Sure. Sorry about the mistake.

[2016-09-17 12:24] benaadams commented on #4530
@stephentoub yes it does, am using the 1.1.0 dotnet-core myget feed :+1:

There's `ReceiveAsyncPrivate` which is new; but that may just be actual asyncness

[2016-09-17 12:58] stephentoub commented on #11825
No problem. Thanks.

[2016-09-17 12:58] #11825 closed

[2016-09-17 13:32] benaadams opened #11826 "SslStream disproportionately allocates"
Switching from http

![](https://aoa.blob.core.windows.net/aspnet/websocket-result-ssl-2.png)

to https goes via SslStream and causes the allocations to increase dramatically (new in red below)

![](https://aoa.blob.core.windows.net/aspnet/sslstream-3.png)

(The missing `int[]` allocation only happens at a higher load which I can't reach using Ssl)

Comparison is to WebSocketReceiveResult which al

[2016-09-17 14:48] stephentoub commented on #4530
Are those SemaphoreSlim.TaskNodes coming from the websockets implementation? That would imply a lot of concurrent receives or sends (or a bug).

[2016-09-17 15:17] benaadams commented on #4530
No, is the signalling mechanism for data/no data, looking to do a custom awaiter as its single producer, single consumer.

[2016-09-17 15:19] stephentoub commented on #11826
@davidsh, curious why you assigned this to me? The specific profiling example is with websockets but the concern is about SslStream in general... the websockets implementation just uses SslStream.

[2016-09-17 15:21] davidsh commented on #11826
@stephentoub I saw the `System.Net.WebSockets.ManagedWebSockets` class on the stack and assumed that this issue is related to that codebase which is something you wrote/ported.

[2016-09-17 15:22] davidsh commented on #11826
cc: @cipop

[2016-09-17 15:34] stephentoub commented on #11826
@benaadams, I expect there's some low-hanging fruit here, if you want to take a look, too.

[2016-09-17 16:16] benaadams commented on #4530
@stephentoub there are other allocations in websockets (`byte[]` etc); but doesn't seem to anything too major by comparison.

[2016-09-17 16:21] benaadams commented on #11826
I do also get stuttering at a much lower load when using SslStream; the only thing that looks related that seems like it make do any kind of blocking/resource consumption is `LazyAsyncResult`

![](https://aoa.blob.core.windows.net/aspnet/lazy-async-1.png)

However there's not a huge amount of time spent there; so is more likely to be much higher levels of GC. Still investigating.

[2016-09-17 18:11] davidfowl commented on #4530
@CIPop after all of the low hanging fruit, a CopyToAsync implementation would be great 😄

[2016-09-17 18:22] davidfowl commented on #11826
@CIPop once you handle all of the low hanging fruit, a CopyToAsync implementation would be great 😄

[2016-09-17 18:27] davidfowl commented on #4530
FWIW, the ASP.NET team are looking at defining an alternate contract for websockets that doesn't require users to allocate a buffer or task per read. Still very early though.

/cc @anurse

[2016-09-17 20:28] bartdesmet commented on #11820
These tests were added a few days ago in https://github.com/dotnet/corefx/commit/e94e7a4b9a6150890cb812dabf2835c958b8289f. @Priya91, can you have a look why this would fail repeatedly on OSX?

[2016-09-17 21:33] DemiMarie opened #11836 "Use a non-backtracking NFA/DFA regex engine where possible"
Stack Exchange [suffered an outage][1] due to a regular expression that used quadratic time.

This is a feature request for using a DFA/NFA engine whenever possible – that is, on all regexps that don't have backreferences or any other non-regular features.  Note that backreferences almost certainly cannot be handled by _any_ efficient algorithm in general – the matching problem for regular express

[2016-09-17 22:16] bartdesmet opened #11837 "Remove unnessary list allocations and copies in System.Linq.Expressions"
We're generally pretty good about only allocating arrays of the size we need, if we know the size upfront. I just noticed a few places where we still use a `List<T>` instead, and then pass it along as-is to expression factory methods which will create a copy as part of the call to `ToReadOnly`. It'd be better to just allocate the array and wrap it in a `TrueReadOnlyCollection<T>` prior to passing

[2016-09-17 22:22] jamesqo commented on #11588
@jkotas I think generic `Copy<T>` methods should be beneficial regardless, since we no longer have to call `GetLowerBound(0)` for the index-less overload. Avoiding these calls has [been shown](https://github.com/dotnet/corefx/pull/3615#issuecomment-145523511) to improve perf significantly.

@terrajobst I'll move generic `Clear` into another proposal for now. Does this still sound good after what @

[2016-09-17 22:39] jamesqo opened #11839 "Proposal: Generic overload(s) of Array.Clear"
Separated from #11588
## Background

It may be beneficial to provide generic `Array.Clear` overloads that accept `T[]` rather than an `Array`. Since we know the type of these arrays at compile-time and that they're 0-based, we can write the clearing logic inline in C#. This may benefit smaller arrays since we don't suffer the overhead of calling into the runtime, and will eliminate the need for wo

[2016-09-17 23:04] jamesqo opened #11840 "Custom Select/Where implementations should be decoupled from Iterator"
[EmptyPartition](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Partition.cs#L51) should be override these methods to be nops, but can't since for one to customize these methods you have to [subclass Iterator](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Iterator.cs#L45). Maybe it would be good to have an `IIterator<T>` interface which

[2016-09-18 01:20] jiangzeng commented on #10838
@karelz Can you help to re-assign this issue as I'm not sure who would fix the test setup?

[2016-09-18 02:07] jiangzeng commented on #10910
Test failed with:
Assert.Throws() Failure
Expected: typeof(System.NotSupportedException)
Actual:   typeof(System.NullReferenceException): Object reference not set to an instance of an object.

See details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20160915.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Secur

[2016-09-18 02:30] bartdesmet opened #11842 "Stack spiller can avoid spilling constants"
Stack spilling currently does not consider the node type when allocating temporaries and assignment expressions for child expressions in `ChildRewriter.EnsureDone` when the action is set to `SpillStack`. This leads to redundant temporaries, store, and load instructions in cases where the expression is "pure" and has no side-effects that shouldn't be reordered.

For example:

[code]

produces the f

[2016-09-18 02:37] moander opened #11843 "IPAddress.Parse("4294967296") does not throw FormatException on OS X"
System.Net.IPAddress.Parse("4294967296") does not throw FormatException on OS X.

[code]

Steps to reproduce

[code]

The sed command writes `Console.WriteLine(System.Net.IPAddress.Parse("4294967296"));` to line 9 in Program.cs

IPAddress.Parse returns `0.0.0.0` on my Mac when using dotnet run.

[code]

On Windows, Ubuntu, Docker on Mac, and Mono on Mac I get the expected FormatException:

[code]

[2016-09-18 02:37] ChangweiZhang opened #11844 "HtmlEncoder don't support Chinese"
Hi,
When we develop a website using ASP.NET Core, we find a issue that ASP.NET Core always made the title of html page a error  result in Chinese.
For example:

[code]

the result is
![image](https://cloud.githubusercontent.com/assets/4610610/18612401/64b09974-7d8b-11e6-96b0-7ecabfd244f4.png) , but it should be "代码改变世界".

After we check your source code, we found that you used **UnicodeRanges.Basi

[2016-09-18 02:48] karelz commented on #11810
Why would we want to remove properties? Are they new in .NET Core 1.0?

[2016-09-18 03:10] karelz commented on #10838
We will prioritize it properly, no need to assign now.

[2016-09-18 05:12] karelz commented on #11792
@Priya91 see work of @GuardRex in #1006.

[2016-09-18 05:20] GuardRex commented on #11792
@Priya91 @karelz I have some very hackish code up; so if folks want to roll their own little client, they can see about what they'll need to do: https://github.com/GuardRex/GuardRex.RexMail

Brace yourself ... it's pretty nasty stuff! lol

[2016-09-18 05:42] karelz commented on #8526
@gkhanna79 is it part of the netstandard2.0 plan?

[2016-09-18 05:42] karelz commented on #8723
@danmosemsft is it part of netstandard2.0?

[2016-09-18 05:49] karelz commented on #8158
@bartonjs is it part of netstandard2.0 effort?

[2016-09-18 06:03] karelz commented on #1132
@danmosemsft @bartonjs is it part of netstandard2.0 work?

[2016-09-18 06:08] karelz commented on #3334
@bartonjs @eerhardt is it part of netstandard2.0 plan?

[2016-09-18 06:15] moander commented on #11843
Travis did not get an exception either:
https://travis-ci.org/aspnet/BasicMiddleware/jobs/160775559

[code]

[2016-09-18 06:16] karelz commented on #8311
Covered by #11789 in netstandard2.0 effort.
/cc: @mellinoe

[2016-09-18 06:16] #8311 closed

[2016-09-18 06:16] bartonjs commented on #3334
@karelz No. Firstly, because the API already exists (but only is implemented for Windows). Secondly, because it's in System.Security.dll which is not part of that scope.

[2016-09-18 06:17] bartonjs commented on #1132
@karelz Probably not, since it's in System.Security.dll.

[2016-09-18 06:19] bartonjs commented on #8158
@karelz I'm not sure.  It's in System.Core.dll and from before 4.6, so... definitely maybe? But in order to be useful cross-platform it requires API changes which might not have been there until 4.6.2.  @danmosemsft could say if it's something he's tracking.

[2016-09-18 06:55] karelz commented on #9946
Composition asked for in #3636.

[2016-09-18 07:21] ChangweiZhang commented on #11844
So we make a ttemporarily solution:

services.AddSingleton(HtmlEncoder.Create(UnicodeRanges.All));

[2016-09-18 07:36] karelz commented on #10133
It should work now, please feel free to reopen if it is not the case, thanks!

[2016-09-18 07:36] #10133 closed

[2016-09-18 12:26] cihadsevim opened #11846 "DisplayNameAttribute Is Not Able to Localise or Override"
I've been practicing on Asp.Net Core MVC recently. We were able to localize and globalise the ViewModel attributes before using below class and overriding. I've been looking for this solution over a week.

[code]

My view model looks like

[code]

I copied the same LocalizedDisplay class and tried it on Asp.Net core but didn't work.

The problem is on view, **application prints field name** not th

[2016-09-18 13:48] stephentoub commented on #11844
cc: @KrzysztofCwalina

[2016-09-18 15:13] davidsh commented on #11792
@Priya91 Please contact me offline for tests for System.Net.Mail. We have tests that you can port from .NET Framework.

[2016-09-18 15:14] davidsh commented on #1006
Closing this as #11792 will track this work.

[2016-09-18 15:14] #1006 closed

[2016-09-18 16:05] tarekgh commented on #10066
https://github.com/dotnet/corefx/pull/11817

[2016-09-18 16:05] #10066 closed

[2016-09-18 16:06] tarekgh commented on #10216
https://github.com/dotnet/corefx/pull/11817

[2016-09-18 16:06] #10216 closed

[2016-09-18 18:41] cihadsevim commented on #11846
DisplayName Attribute doesn't work either

` [DisplayName("NameSurname")]
        public string name { get; set; }`

[2016-09-18 19:42] danmosemsft commented on #8158
Wes factored it out as it's not in Xamarin.

https://github.com/dotnet/standard/blob/6d04955a71f4789c7a10f5430d1802d1768460cc/extensions/crypto/crypto.cs

Note it's in standard/extensions and not in standard/netstandard/ref.

This is publicly visible at https://apisof.net/catalog/System.Security.Cryptography.ECDiffieHellman, which does not list ".NET Standard 2.0" as eg https://apisof.net/catalog/

[2016-09-18 20:50] danmosemsft commented on #8723
If it's in System.Web.Services.dll it's not part of .NET Standard 2.0. See https://github.com/dotnet/standard/tree/master/docs/netstandard-20

[2016-09-18 20:53] danmosemsft commented on #1132
@karelz it's not part of .NET Standard 2.0 because as @bartonjs points out System.Security.dll isn't, and the type isn't in Xamarin in some other assembly either.

https://apisof.net/catalog/System.Security.Cryptography.Xml.EncryptedXml says it's in Mono, but not Xamarin. I don't know why Xamarin doesn't include it.

[2016-09-18 20:57] danmosemsft commented on #8895
@jhudsoncedaron If I understand correctly, there is nothing that can be done in CoreFX here. We need the behavior of Close() and Dispose() to match Desktop. @stephentoub ?

[2016-09-18 20:58] danmosemsft commented on #5593
This is now in master.

[2016-09-18 21:16] bradwilson commented on #5593
Do you have a target version and/date for this?

[2016-09-18 21:23] danmosemsft commented on #9327
Here is what I believe is the final list ofr .NET Standard 2.0:

[code]

[2016-09-18 21:26] danmosemsft commented on #8806
AppDomain.GetAssemblies is tracked by https://github.com/dotnet/corefx/issues/9327

[2016-09-18 21:26] #8806 closed

[2016-09-18 21:26] danmosemsft commented on #8910
AppDomain.GetAssemblies is tracked by https://github.com/dotnet/corefx/issues/9327

[2016-09-18 21:26] #8910 closed

[2016-09-18 21:29] danmosemsft commented on #5844
Note to self: on desktop this in in  System.Reflection.Context.dll

[2016-09-18 21:30] danmosemsft commented on #3633
You can see this in master in corefx\src\System.Private.Xml\src\System\Xml\Core. It's expected in the next major release of .NET Core.

[2016-09-18 22:15] danmosemsft commented on #5593
@terrajobst are there dates you can share about 1.2/ 1.2 preview?

Note I don't think there are ref assemblies in the meta package yet, so you can't reference it. I've asked @weshaggard what the best way is to get you trying it out.

[2016-09-18 22:25] danmosemsft commented on #11045
@ikelso What type(s) are you looking for Save(filename) on? If it's XmlDocument, it's there now, but there's no reference assembly yet. This is part of the big bringback of API expected in 1.2.

[2016-09-18 22:28] danmosemsft commented on #4376
This is present now src\System.Private.Xml\src\System\Xml\Core\DtdProcessing.cs but not accessible by reference yet.

[2016-09-18 22:28] danmosemsft commented on #11656
@weshaggard @sepidehMS We are not keeping open any issues to track what's not in STandard 2.0. That's going to be tracked in the .NET Standard repo itself.

[2016-09-18 22:47] stephentoub commented on #11820
I'll fix this. There are several issues in the test, including a few race conditions. For some reason they're just more prominent on macOS.

[2016-09-19 00:13] stephentoub commented on #6388
Just failed again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/308/consoleText
[code]

[2016-09-19 02:07] PaluMacil commented on #8622
Thanks. I spent quite a while looking through issues but there is a lot to read and I hadn't gotten there yet. I appreciate the pointer.

[2016-09-19 02:22] PaluMacil commented on #8622
@roji Reading through the thread again, it still seems to be missing the point. The schema can be retrieved for a table, but I need it for a stored procedure result, which doesn't appear to be addressed there.

[2016-09-19 03:03] bartdesmet opened #11851 "Lots of CI timeouts for Ubuntu14.04 Release Build and Test"
This has affected at least 4 PRs submitted this weekend. I'll refer to this issue from these occurrences.

[2016-09-19 03:04] stephentoub commented on #11851
cc: @mmitche

[2016-09-19 05:50] MichaelKetting commented on #10172
Yep, that's the one.

[2016-09-19 06:15] #11820 closed

[2016-09-19 06:45] bartdesmet opened #11853 "Stack spiller is contagious beyond the spill site"
The current implementation of the stack spiller will save child nodes to temporaries, even if they occur *after* the child node that requires an empty stack. This leads to redundant temporaries, store, and load instructions in an amount proportional to the complexity of the tree *beyond* the spill site.

For example:

[code]

produces the following IL:

[code]

The arguments of `Invoke` beyond the

[2016-09-19 09:44] roji commented on #8622
@PaluMacil .NET Core's new schema API (#5915) is `DbDataReader.GetColumnSchema()`. It replaces `DbDataReader.GetSchemaTable()` which does the same thing but returns a `DataTable` instead of a strongly-typed object model. Both APIs can be called on any DbDataReader, whether it represents results for a table query, a stored procedure, or anything else. You should be able to use `DbDataReader.GetColu

[2016-09-19 10:49] tmsns commented on #3636
We are also very interested in having this functionality back in .NET Core. We use specifically some custom ExportProviders to be able to get advanced compositions.

[2016-09-19 10:54] tmsns commented on #5593
Is it already certain System.Xml.Xsl will be added to .NET Core 1.2?

Also, just wondering @danmosemsft , why was the assembly named System.Private.Xml? Why the private moniker?

[2016-09-19 12:24] PaluMacil commented on #8622
@roji They're clear now! Thanks.

[2016-09-19 13:54] sunsided commented on #9012
Btw., for the case of the missing System.Native library, https://github.com/aspnet/KestrelHttpServer/issues/963#issuecomment-241299565 provides a workaround. I managed to get `net4xx` targets working with that on mono 4.7 using the `3131` tooling.

[2016-09-19 14:02] SamuelEnglard commented on #11792
Would it not be worth looking into @jstedfast's MailKit?

[2016-09-19 14:24] gkhanna79 commented on #8526
No, not for 1.2.0.

[2016-09-19 14:25] gkhanna79 commented on #9327
CC @kouvel

[2016-09-19 15:10] karelz commented on #11792
Does it have the same API surface as System.Net.Mail? The primary goal is compat of all existing .NET platforms (incl. Desktop .NET, Xamarin, .NET Core, .NET Native).

[2016-09-19 15:40] dsplaisted opened #11857 "Port System.ComponentModel.Composition (MEF1) to .NET Core"
With the additional APIs that will be available in .NET Standard 2.0, it may be possible to make System.ComponetModel.Composition (MEF1) available for .NET Core and .NET Standard 2.0.  System.Composition (MEF2) is already available, but has a different feature set which can sometimes be an obstacle to porting code to .NET Core.

[2016-09-19 15:47] dsplaisted commented on #3636
There are several things being requested in this issue, so I'm going to break them down into separate, specific issues:

- #11856 Support equivalent of ComposeExportedValue in System.Composition
- #8348 Equivalent for DirectoryCatalog
- #11857 Port System.ComponentModel.Composition (MEF1) to .NET Core

As far as merging the namespaces (and functionality), I don't think that's feasible.

@tmsns Por

[2016-09-19 15:47] #3636 closed

[2016-09-19 15:52] jstedfast commented on #11792
I'm assuming that @SamuelEnglard meant that someone could take a look at [MailKit](https://github.com/jstedfast/MailKit)'s SmtpClient implementation in order to write a System.Net.Mail.SmtpClient implementation and massage it to have the same API.

Before reading this thread, I was under the impression that someone (or some team) would just port the existing System.Net.Mail to .NET Core, but https

[2016-09-19 16:33] karelz commented on #11792
Ideally we will leverage some existing implementation (aka port). Originally, we planned to start with Desktop .NET implementation (with modifications as needed), but we are open to alternatives -- we will definitely consider MailKit per your suggestion.

/cc: @stephentoub

[2016-09-19 16:44] tarekgh opened #11858 "Compat work for Encoding (for Linux)"
Add missing implementation for the newly added APIs in net standard 1.7

#10961

[2016-09-19 17:22] SamuelEnglard commented on #11792
@jstedfast pretty much read my mind. I also mentioned it because if we want to add other mail related things to Core writing from scratch would get old fast!

[2016-09-19 17:24] CIPop commented on #11392
@caserzer In order to further isolate the issue, would it be simple for you to set up a Console application to perform the HttpClient requests instead of an ASP.Net app (for the .Net Core case)?

[2016-09-19 17:25] SamuelEnglard opened #11861 "New Type: Immutable version of BitArray"
`BitArray` can be a useful class but being mutable means implementing operators on it does not make sense. I propose we add a new type that is immutable so it can have operators for easier usage.

### API Proposal

Modelled based on `BitArray` [src](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/BitArray.cs#L13)/[apisof.net](https://apisof.net/catalog/Sy

[2016-09-19 17:31] weshaggard commented on #11810
Yes they are new in .NET Core 1.0 we added them to avoid depending on Hashtable but we backtracking a bunch of those type of decisions now with our compat work.

[2016-09-19 17:32] #9541 closed

[2016-09-19 17:47] sepidehMS commented on #10744
Done by https://github.com/dotnet/corefx/pull/11527

[2016-09-19 17:47] #10744 closed

[2016-09-19 17:48] karelz commented on #11810
Are we concerned about compat with .NET Core 1.0? Or do we treat these instances as 'failed' experiment which is ok to revert?
Sounds like we should track it for 1.1 -- the sooner we make it happen, the better.

[2016-09-19 17:56] Eilon commented on #3482
@terrajobst the out variables feature also came in C# 6 and then went away 😄

What I don't recall is whether out variables allows you to use them in the same expression. Did it? I.e.:

[code]

That syntax is still super clunky, but of course not as bad as what you have today.

I still think that this:

[code]

Is at least an order of magnitude nicer, easier to read, and is clear on the intention.

[2016-09-19 18:01] kouvel opened #11862 "Port some missing Attribute members"
[code]

[2016-09-19 18:02] CIPop commented on #11826
+ @himadrisarkar for scheduling.

Thanks for reporting @benaadams! Feel free to submit a PR if there is an obvious fix for SslStream.

@davidfowl Please open a new tracking issue (a comment can be easy to miss in the future).

[2016-09-19 18:13] rahku commented on #11655
@danmosemsft @weshaggard is it fine to not implement CAS specific apis load apis listed here https://github.com/dotnet/corefx/issues/11655#issuecomment-247117297

[2016-09-19 18:18] joperezr commented on #11469
Already made the big merge once. There are still a few PRs open against dev/api, so I'll wait for those to merge and then I'll do one last merge from dev/api to master and close dev/api.
PRs that are still open against dev/api are:
- [ ] #11526 by @JeremyKuhne
- [ ] #11511 by @huanwu
- [ ] #11490 by @JeremyKuhne

[2016-09-19 18:19] danmosemsft commented on #11655
@rahku The authority is what's in https://github.com/dotnet/standard/tree/master/netstandard/ref in this case https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.appdomain.cs is where AppDomain is defined and it omits the CAS overloads.

[2016-09-19 18:49] KrzysztofCwalina commented on #11844
cc: @Eilon

[2016-09-19 18:54] kouvel opened #11866 "Port some missing GC types/members"
- [ ]  M:System.GC.CancelFullGCNotification
- [x] M:System.GC.Collect(System.Int32,System.GCCollectionMode,System.Boolean,System.Boolean)
- [x] M:System.GC.EndNoGCRegion
- [x] M:System.GC.GetGeneration(System.WeakReference)
- [ ] M:System.GC.RegisterForFullGCNotification(System.Int32,System.Int32)
- [x] M:System.GC.TryStartNoGCRegion(System.Int64)
- [x] M:System.GC.TryStartNoGCRegion(System.Int64,

[2016-09-19 19:13] rahku commented on #11655
@danmosemsft this issue is for reflection apis not appdomain. I found System.Reflection namespace in https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.cs and that omits CAS overloads. Thanks for the pointer.

[2016-09-19 19:22] rahku opened #11869 "Implement System.Activator"
public sealed partial class Activator
     {
         internal Activator() { }
        public static object CreateInstance(System.Type type) { throw null; }
         public static object CreateInstance(System.Type type, bool nonPublic) { throw null; }
         public static object CreateInstance(System.Type type, params object[] args) { throw null; }
         public static object CreateInstance(Sy

[2016-09-19 19:23] mellinoe opened #11870 "AV's and NullRef's in the openSUSE 42.1 runs during "dotnet restore""
There are some intermittent crashes in the new openSUSE 42.1 runs. `dotnet restore` seems to be hitting an `AccessViolationException` and/or a `NullReferenceException` during the initial restore process. I don't see any crashes past that.

Note that we're currently still using a "bootstrap" CLI which I built myself with a manual process for these runs. This problem may go away if the bootstrap ver

[2016-09-19 19:47] sunilmut commented on #11570
Thanks Eric for reporting this. We have opened a bug internally to track this.

[2016-09-19 20:37] rahku commented on #11869
CC @kouvel

[2016-09-19 20:37] rahku commented on #11655
CC @kouvel

[2016-09-19 20:38] rahku commented on #11277
closing dupe of #11655

[2016-09-19 20:38] #11277 closed

[2016-09-19 20:38] blowdart commented on #11844
See https://docs.asp.net/en/latest/security/cross-site-scripting.html#customizing-the-encoders

[2016-09-19 20:38] #11844 closed

[2016-09-19 20:41] rahku commented on #9327
These need to be added too
T:System.CannotUnloadAppDomainException
M:System.CannotUnloadAppDomainException.#ctor
M:System.CannotUnloadAppDomainException.#ctor(System.Runtime.Serialization.SerializationInfo,System.Runtime.Serialization.StreamingContext)
M:System.CannotUnloadAppDomainException.#ctor(System.String)
M:System.CannotUnloadAppDomainException.#ctor(System.String,System.Exception)

[2016-09-19 20:42] justinvp commented on #11869
Since this class is `sealed`, has a private constructor, and all static methods, it's effectively a `static` class in C#. Could it be specified as `static` in the contract?

[2016-09-19 20:53] shmao commented on #10840
This seems very similar to #10835. I think this could be a dup.

@stephentoub , you mentioned that #10835 "was already fixed in the dev/api branch." As the dev/api had been merged back to master, should the tests pass in master? I found [the tests for #10835 still failed on 9/15/2016](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fuwp~2F/buil

[2016-09-19 20:54] kouvel commented on #11869
It looks like the following are already exposed:

[code]

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L30

[2016-09-19 20:55] stephentoub opened #11873 "HttpWebRequest.GetRequestStreamAsync doesn't open the connection to the server"
The corefx implementation of HttpWebRequest.GetRequestStreamAsync effectively just returns an in-memory stream.  The connection to the server isn't made and the data isn't uploaded until Stream.Dispose is called on the that Stream.  This is problematic for several reasons, including that the actual asynchronous operation ends up happening in the synchronous Dispose call on the stream, and deadlock

[2016-09-19 20:58] davidsh commented on #11873
This is actually the same design as .NET Framework (Desktop).  The only difference is that in Desktop, there is a property on HttpWebRequest (.AllowWriteStreamBuffering) which can toggle this behavior.

Eventually, when we add all the API surface back, we will have to solve it then.  The difficulty at this point, though, is that the HttpWebRequest API surface is built on top of HttpClient and it h

[2016-09-19 20:59] davidsh commented on #11873
I am removing the 'bug' label because it isn't a bug, per se.  It is the proper behavior if the .AllowWriteStreamBuffering option is TRUE, which it always is right now in the current implementation.

[2016-09-19 21:03] rahku commented on #11869
hmmm and already marked as static in contract. So only below three are remaining
     public static object CreateInstance(System.Type type, object[] args, object[] activationAttributes) { throw null; }
     public static object CreateInstance(System.Type type, System.Reflection.BindingFlags bindingAttr, System.Reflection.Binder binder, object[] args, System.Globalization.CultureInfo culture) { thr

[2016-09-19 21:04] kouvel commented on #11157
#11655 covers addressing these differences for 1.2

[2016-09-19 21:08] kouvel commented on #11869
Looks like it's static in the CoreFX contract, and sealed in the netstandard contract:
https://github.com/dotnet/standard/blob/master/netstandard/ref/mscorlib.appdomain.cs#L4

[2016-09-19 21:09] stephentoub commented on #11873
Ok. Thanks, David.

[2016-09-19 21:11] rahku commented on #11869
I think @weshaggard didn't pay that much attention. It should be fixed and marked as static in netstandard contract

[2016-09-19 21:17] sepidehMS commented on #11537
Done by https://github.com/dotnet/corefx/pull/11852

[2016-09-19 21:17] #11537 closed

[2016-09-19 21:17] Im5tu commented on #11873
Will you actually come around to fixing these sorts of things though considering how it could break applications? I'm guessing I'm saying why not fix it now?

[2016-09-19 21:20] weshaggard commented on #11869
Yes this one can be marked as static. It was this way because I seeded it from .NET 4.6.1 which has it as sealed with a non-public constructor.

[2016-09-19 21:22] vanillajonathan opened #11874 "WebSocket does not have support for extensions"
`WebSocket` in System.Net.WebSockets does not have support for extensions. Which is part of the rfc6455 standard:
https://tools.ietf.org/html/rfc6455#section-9

It should read the `Sec-WebSocket-Extensions` HTTP header from the client.

The `WebSocket` class does not expose a `Extensions` property.

[2016-09-19 21:39] rahku opened #11875 "Expose below misc types/apis"
[code]

[2016-09-19 21:41] rahku commented on #11875
CC @kouvel

[2016-09-19 21:49] #11549 closed

[2016-09-19 21:53] Priya91 commented on #11792
List of apis to be ported for netstandard2.0
[code]

[2016-09-19 22:17] justinvp opened #11878 "Mark PlatformID.MacOSX obsolete?"
`Environment.OSVersion.Platform` returns `PlatformID.Unix` on macOS instead of `PlatformID.MacOSX`, which is consistent with Mono's behavior.

This is already confusing for Xamarin.Mac developers and I think it's going to be confusing for .NET Core developers as well.

(I wish we hadn't added `PlatformID.MacOSX` for Silverlight, and just used `PlatformID.Unix` like Mono.)

To help mitigate the con

[2016-09-19 22:22] justinvp commented on #11878
Another idea, although, not sure how breaking it would be: change the value of `MacOSX` to be the same as `Unix`?

[2016-09-19 22:26] karelz commented on #11874
@stephentoub is it interesting for netstandard2.0 compat?

[2016-09-19 22:29] karelz opened #11881 "Port the rest of HttpWebRequest/Response APIs"
Most of it should be simple. Some hard issues expected - seek NCL team advice on them.

[code]

[2016-09-19 22:31] karelz opened #11882 "Port FileWebRequest/Response"
Build it on top of System.IO.File APIs (it's also great solution for x-plat).

[2016-09-19 22:32] cihadsevim commented on #11846
Problem solved with asp.net core 1.0.1 pack.

`class DisplayNameDetailsProvider : IDisplayMetadataProvider
    {
        public void CreateDisplayMetadata(DisplayMetadataProviderContext context)
        {
            var displayAttribute = context.Attributes.OfType<DisplayNameAttribute>().FirstOrDefault();
            if (displayAttribute != null)
            {
                context.DisplayMetad

[2016-09-19 22:33] karelz opened #11883 "Port FtpWebRequest/Response"
Should be implemented on top of TCP (start with Desktop .NET code which is on top of Sockets).
Note: There are better OSS APIs, but with very different API surface.

[2016-09-19 22:34] karelz opened #11884 "Port WebProxy"
Expect one hard API: URI->proxy mapping (calls into OS) -- likely not used widely, we shold just throw NotSupportedException.

[2016-09-19 22:36] karelz opened #11885 "Add ServicePointManager / ServicePoint"
Add stubs for all these APIs.

[2016-09-19 22:44] stephentoub commented on #11874
@karelz, this is a proposal for new API in general.  The proposed member does not exist in any .NET implementation today.

[2016-09-19 23:03] karelz commented on #11874
Thanks for clarification, marked appropriately.

[2016-09-19 23:06] svick commented on #11878
So, `Environment.OSVersion.Platform == PlatformID.MacOSX` would return `true` on Linux? I would find that very confusing.

[2016-09-19 23:10] shmao commented on #10843
This is an issue with `Assert.Throws()`.

Here are two similar failures in other areas, https://github.com/dotnet/corefx/issues/10910 and https://github.com/dotnet/corefx/issues/10899

[2016-09-19 23:10] justinvp commented on #11878
@svick, Good point. Scratch that idea.

[2016-09-19 23:14] shmao commented on #10846
Here's the test result from 9/15/2016,

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster/type/test~2Ffunctional~2Fuwp~2F/build/20160915.01/workItem/System.Runtime.Serialization.Xml.Tests/analysis/xunit/System.Runtime.Serialization.Xml.Tests.XmlDictionaryReaderTests~2FReadElementContentAsStringDataExceedsMaxBytesPerReadQuota

[2016-09-19 23:26] stephentoub commented on #10843
@shmao, what do you mean?

[2016-09-19 23:26] danmosemsft commented on #11810
/cc @terrajobst to answer.

[2016-09-19 23:30] danmosemsft commented on #5593
It doesn't have a reference assembly yet. @sepidehMS is working on that (needs issue)

[2016-09-19 23:33] shmao commented on #10843
The test asserts the code would throw some kind of exception, in this case it expected System.Xml.XmlException. The code behaved as expected and threw XmlException with a message. But the `Assert.Throws` deemed the exception as not expected. The other two test failures linked above seemed failing for the same reason. So I think it might be an issue with `Assert.Throws`. What do you think? @stephen

[2016-09-19 23:40] mellinoe commented on #11878
If we're obsoleting anything, we should obsolete this whole enum. Aside from the stuff you already mentioned, the rest of the enum values make practically no sense (especially nowadays, but really ever), and are very limited in scope.

I don't think we should obsolete it, though. It's just there for compat; as such, we should probably avoid making any changes to it and should just direct people to

[2016-09-19 23:46] danmosemsft opened #11887 "Net Standard 2.0"

[2016-09-19 23:48] danmosemsft commented on #11887
Testing Zenhub Epics.

[2016-09-19 23:49] justinvp commented on #11878
How do you direct people to the more sensible abstractions? Not everyone is going to read docs. Some developers are going to use `Environment.OSVersion.Platform == PlatformID.MacOSX` (given that `Environment.OSVersion.Platform` has existed in .NET forever), without realizing it won't work the way they expect.

[2016-09-19 23:50] JeremyKuhne commented on #11468
Need to enable multitargetting tests against 1.7 and 1.2- a partial solution is part of #11689. Updates to tests.targets and other common targets need to be made to allow TestTFM not to collide when used against different TargetGroups.

[2016-09-19 23:57] sepidehMS commented on #11320
Done by https://github.com/dotnet/corefx/pull/11879

[2016-09-19 23:57] #11320 closed

[2016-09-19 23:57] mellinoe commented on #11878
If this was the original proposal:

Then i'm just suggesting we should obsolete the entire enum instead, and put the suggestion there in the attribute message.

Yes, this will be a problem with a lot of the API's we are bringing back; many of them won't or cannot be implemented identically across platforms, or have legacy baggage preventing them from being sensibly implemented. I assume we are wor

[2016-09-20 00:03] sepidehMS opened #11888 "Create System.Xml ref assembly"
All new System.Xml APIs should go in System.Xml.ReaderWriter ref assembly, all their dependencies in already existing Xml contracts would also need to move down to S.X.RW

[2016-09-20 00:05] sepidehMS commented on #5593
Here's the related issue: https://github.com/dotnet/corefx/issues/11888

[2016-09-20 00:18] danmosemsft commented on #9329
@kouvel is this now covered sufficiently by #11866?

[2016-09-20 00:44] weshaggard commented on #11810
I suspect we will end up keeping these in the name of compat but I marked it as api-ready-for-review to discuss it at our weekly triage meeting.

[2016-09-20 00:52] bjjones opened #11893 "Re-enable clrcompression build with Zlib-Intel"
Due to a previous bug, CoreFX was changed to use the closed version of clrcompression instead of the optimized Zlib-Intel version. After a fix and more testing, I believe CoreFX should switch back to the Zlib-Intel build.

I have done 24 hour looped deflate tests for the following:

- Canterbury Corpus
- Calgary Corpus
- a set of 10 4k .jpeg images
- The CLI preview3 binaries

By succesfully compl

[2016-09-20 00:52] bjjones commented on #11893
@ianhays @stephentoub

[2016-09-20 01:04] kouvel commented on #9329
Yes this is fully covered by #11866, closing this one

[2016-09-20 01:04] #9329 closed

[2016-09-20 01:09] stephentoub commented on #10843
I don't think Throws is buggy. The issues you linked to are cases of it legitimately highlighting difference between what was thrown and expected. In your case, my guess is you have a type identity problem, the XmlException trying to be caught coming from a different assembly than the one being thrown.

[2016-09-20 01:41] shmao commented on #10843
Yes, you're right. The issues I linked to are different. I overlooked that. Thanks for pointing it out.

Regarding to what you suspected, did you mean the test assembly was built against one assembly but the test ran against another assembly?

[2016-09-20 02:03] stephentoub commented on #10843
I actually meant that there may literally be two different XmlException types in play. Are you able to repro reliably? Try printing out both caughtException.GetType().Assembly and typeof(XmlException).Assembly.

[2016-09-20 02:05] shmao commented on #10848
The test failed in a strange way. The call stack where the exception was thrown is shown as below,

[code]

XmlDictionaryWriterTest.cs's line 57 is the following call,
[code]
It should call `XmlDictionaryAsyncCheckWriter.FlushAsync`, but in the test, it called `XmlDictionaryAsyncCheckWriter.WriteBase64Async`.

Althought XmlDictionaryWriterTest.cs's line 54 called `writer.WriteBase64`, it should no

[2016-09-20 02:52] davidsh commented on #11885
Place them for now in a new System.Net.ServicePoint contract

[2016-09-20 02:53] davidsh commented on #11884
Place this in a separate contract System.Net.WebProxy for now.

[2016-09-20 04:01] stephentoub commented on #11893
@ianhays can correct me if I'm wrong, but I was under the impression we already reverted back to using Zlib-Intel in the official packages.

[2016-09-20 04:10] bjjones commented on #11893
I see, I was unaware of that change. @ianhays can go ahead and close this if that is the case.

[2016-09-20 05:10] JeremyKuhne commented on #187
The recommendation (as per #8664) is to allow other CreateFile types (Pipes/Mailslots) when using `\\?\` syntax only. On all supported Windows versions there isn't additional security exposure by doing this, but even so, on desktop we only allow `\\?\` in full trust.

In investigating this I also discovered that our check for async on handles isn't accurate- there is an API to get the ground truth

[2016-09-20 05:52] #10769 closed

[2016-09-20 06:20] stephentoub commented on #11303
Fixed by #11375

[2016-09-20 06:20] #11303 closed

[2016-09-20 06:20] stephentoub commented on #11313
Fixed by #11396

[2016-09-20 06:20] #11313 closed

[2016-09-20 06:20] stephentoub commented on #11667
Fixed by #11681

[2016-09-20 06:20] #11667 closed

[2016-09-20 08:54] mattwarren commented on #11866
It's good to know that more GC functionality will be available in CoreCLR, particularly `GC.TryStartNoGCRegion(..)`. I [spent some time looking at that API](http://mattwarren.org/2016/08/16/Preventing-dotNET-Garbage-Collections-with-the-TryStartNoGCRegion-API/), it's very useful.

[2016-09-20 09:50] jchannon opened #11897 "Map Unix TimeZoneId to Windows TimeZoneId"
If I execute `TimeZoneInfo.GetSystemTimeZones()` on Linux & Windows I get different lists, this is because each OS uses a different timezone db.

However, is there a way in .netcore to get a consistent list no matter the OS and/or is there a way that TimeZoneInfo.FindSystemTimeZoneById on Windows will work with a Unix timezone id and vice versa a Windows id parsed on a Unix OS?

[2016-09-20 10:31] brendansaunders commented on #5593
I am a little confused as i was refered here from issue  #977... Will this support / allow us to get our xUnit test results in the NUnit xml format?

[2016-09-20 12:49] Auersberg commented on #6598
Any timeframe for the final packages to be published on NuGet?

[2016-09-20 13:11] Opiumtm opened #11898 "Provide built-in support for "weak event" pattern"
"Weak event" pattern is a widely used pattern. But still, there is no out-of-the-box support for it in .NET

[2016-09-20 13:18] mstruppBE commented on #5593
Is it possible to use the XSLT code that has already been posted, or is that not ready for primetime?

[2016-09-20 13:31] SamuelEnglard commented on #11792
I question if Core should include `MailMessage.ReplyTo` since it's obsolete

[2016-09-20 14:38] StephenMP commented on #11331
My apologies on the delayed response; I've been busy.

Anyhow, the route "http://www.this.resource.does/not/exit" is a route which does not exist in the context that there is no domain "www.this.resource.does" and thus no server to handle the request. As per your comment:

I should be getting an exception, but I don't. I get a 200.

[2016-09-20 14:43] StephenMP commented on #11333
If the behavior expected is to throw an exception, that's fine. The is in relation to the previous issue I opened in which you receive a 200 response back on GET and DELETE requests. I wasn't sure which to post an issue on since the behavior between different request types is different.

[2016-09-20 14:51] davidsh commented on #11331
If you are getting an HTTP response and not an exception, it is because the server sent a response.

This appears to be an issue with the ASP.NET server you are using and not an issue with the HttpClient itself.  HttpClient will not manufacture a response if one didn't come from the server.

I suggest you open an issue in the ASP.NET repo to have them investigate.

You could start with this repo:

[2016-09-20 14:51] #11331 closed

[2016-09-20 15:21] bradwilson commented on #5593
@brendansaunders The xUnit.net runners need this code to perform the transformations that enable support for NUnit XML. You don't need this code yourself; I do. 🙂

[2016-09-20 16:06] svick commented on #11898
How would it look like? How would it be implemented?

[2016-09-20 16:34] eerhardt commented on #7952
Assigning to @dagood, as I won't be making these changes.

[2016-09-20 16:37] Opiumtm commented on #11898
@svick closer to the original event usage, the better
Ideally CLR and C# language should support weak events as a first-class feature.

If we look at `ConditionalWeakTable`, [it use so called "dependent handle" hidden CLR feature](http://referencesource.microsoft.com/#mscorlib/system/runtime/compilerservices/ConditionalWeakTable.cs,cb9b0db5e95cfbc5,references) to automatically remove key-value pai

[2016-09-20 16:39] danroth27 commented on #11331
@StephenMP When I try the repro steps I get this exception (partial stack trace):

[code]

@davidsh Where is there any indication in this issue that ASP.NET is at all involved?

[2016-09-20 16:51] shmao commented on #10843
No, I cannot repro the issue. The issue happens only in helix run's UWP F5 scenario. I tried the test in NetCoreForCoreCLR, which should be equivalent to UWP F5, and the test passed.

I found the following tests failed for similar exceptions, not sure if this could be an issue with test setup.

https://github.com/dotnet/corefx/issues/10900, https://github.com/dotnet/corefx/issues/10917, and https:

[2016-09-20 16:52] sepidehMS commented on #5593
@mstruppBE There is no ref assembly for it yet, but you can technically use it. Please refer to [here](https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests) to see how our tests are currently doing that.

[2016-09-20 17:07] kscott5 commented on #9788
Are you saying all Tools, ALWAYS, REQUIRE the use of Microsoft.Composition as a dependency for import?

[2016-09-20 17:35] mellinoe commented on #11870
There was a segmentation fault in the X509Certificates test [here](http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_release/5/consoleText).

[2016-09-20 17:35] #11887 closed

[2016-09-20 17:57] danmosemsft commented on #9376
Not in NS 2.0

[2016-09-20 18:03] danmosemsft commented on #11655
[code]

[2016-09-20 18:07] danmosemsft commented on #11212
This came back in b647c01 which is now in master. However, I understand that it will never be a reliable API. @jkotas can give more information if required.

[2016-09-20 18:07] #11212 closed

[2016-09-20 18:10] ericeil opened #11904 "Need more testing of System.Net.Sockets.NetworkStream"
We currently have very poor coverage of NetworkStream.  We should consider adding more tests in this area.

[2016-09-20 18:11] svick commented on #11898
Related proposal to make weak event handlers a language feature: https://github.com/dotnet/roslyn/issues/101.

[2016-09-20 18:21] svick commented on #11898
Searching around, I found two decent existing implementations of weak event:

* [one](http://www.codeproject.com/Articles/29922/Weak-Events-in-C) by @dgrunwald, MIT licensed
* [one](http://www.thomaslevesque.com/2015/08/16/weak-events-in-c-take-two/) by @thomaslevesque, Apache licensed

The implementations seem to be fairly similar, resulting in code like:

[code]

I don't think you can do much be

[2016-09-20 18:27] terrajobst commented on #11810
While these APIs are part of .NET Standard (1.5+) they are not part of .NET Standard 2.0. We've also shipped them in .NET Core 1.0.

We generally don't do breaking changes for shipped bits. Unless there are very compelling reasons not to have them, we shouldn't remove them now.

We should, however, not expose them in .NET Framework because there is no longer any reason for them to exist. Also, the

[2016-09-20 18:28] #11810 closed

[2016-09-20 18:30] Opiumtm commented on #11898
@svick If know about these implementations. Major issue with all these implementations is a fundamental inability to **automatically** unsubscribe weak event proxies from event source.
It is not critical for short-living objects, but become problem if you subscribe to static object instance with long lifetime.

Here some example implementation of weak event pattern in T10 library

[code]

**Detach

[2016-09-20 18:31] guillaumeraymond commented on #11100
@dluxfordhpf Big thanks for the steps.
It is temporary and we hope a fix soon but still, I can continue to work on the project !

[2016-09-20 18:32] Whathecode opened #11907 "The binary operator Subtract is not defined for the types 'System.DateTime' and 'System.DateTime'."
While converting my `.NET 4.5` library to `.NETStandard v1.6` I ran into a failing unit test which used to pass before.

I pinpointed the problem to the following three lines of code:

    ParameterExpression arg1 = Expression.Parameter( typeof( DateTime ), "arg1" );
    ParameterExpression arg2 = Expression.Parameter( typeof( DateTime ), "arg2" );
    var test = Expression.Subtract( arg1, arg2 );

[2016-09-20 18:54] ericeil opened #11908 "System.Diagnostics.Process.Performance.Tests failed to start on CentOS in CI -- Linux kernel bug"
From http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/397/

[code]

Oddly, there's nothing else in the log about this test.  It doesn't seem to have even started.

[2016-09-20 18:56] terrajobst commented on #10752
We're fine with this APIs shape:

[code]

The add with the boolean seems quite weird and like a deviation from the rest of the BCL. If this is needed, you should use `collection.ReplaceRange(0, collection.Count, items)`.

There are some still some open issues the design needs to answer these questions as well:y

* Should the live on `ObservableCollection<T>` or on the base, `Collection<T>`?
* If t

[2016-09-20 19:04] terrajobst commented on #187
@JeremyKuhne it seems we need a concrete proposal. We need to understand that whether we can do this for .NET Framework compatibly or not, and what other issues we have with accepting these paths.

Generally, it seems to follow the Unix spirit to accept strings rather than opening handles via a different API. But I think we're fine either way, so long we can make the change...

[2016-09-20 19:07] stephentoub commented on #11908
Exit code 139 means seg fault.  This is almost certainly the same seg fault that @adityamandaleeka's been tracking on CentOS/RedHat.

[2016-09-20 19:11] danmosemsft commented on #11655
@rahku Above is the list of what's left from NS2.0 -- GetFile(s) was missing from your list. Please check.

[2016-09-20 19:30] robertmclaws commented on #10752
- **RE: Add + Boolean** - Good point. I'm fine with that.
- **RE: Where they live** - I think the cleanest implementation would be to have the actual items manipulation live in `Collection<T>` as virtual methods. That way calls like `ObservableCollection<T>.AddRange()` could just call `base.AddRange()`, and then raise the right events afterwards.
- **RE: Design mistake** - It seems like there were

[2016-09-20 19:48] JeremyKuhne commented on #187
@terrajobst Yes, it would be compatible. To err on the side of compatibility on desktop the pass through of all `\\?\` string handle types and utilization of the direct handle check for async would be behind an AppContext switch.

One question that has been brought up was access to raw devices (e.g. the underlying drive). These already come back as "File" types so the handle block doesn't apply. T

[2016-09-20 19:49] SamuelEnglard commented on #10752
@robertmclaws could you make the updated speclet a new post? Makes following the chain easier and less confusing if you've updated it or not yet

[2016-09-20 19:52] robertmclaws commented on #10752
@SamuelEnglard I've had to update it about 7 times now... if I did a new post every time, I think it would make the thread worse. I added a Title header with the update date to make things clearer.

[2016-09-20 20:02] ericeil commented on #11904
From https://github.com/dotnet/corefx/pull/11902/files/4f26999bfd7535c02b83d55c542b5be7bf09d89c#r79676132:

The tests should be in older versions of the repo and can easily be brought back (I believe they were in the System.Net.Sockets.Legacy folder.)

[2016-09-20 20:05] CIPop opened #11910 "[WinHttpHandler OOB] Override APM (Begin/End) Stream APIs for WinHttpResponseStream"
On .Net Desktop, `StreamContent.SerializeToStreamAsync` is calling into `StreamToStreamCopy` which relies on Begin/End Stream APIs. This is different from CoreFx where StreamToStreamCopy is using Tasks.

Since on .Net Desktop the `System.IO.Stream` defaults are used, the code eventually calls synchronous Read/Write leading to very low performance when multiple HttpClients are used in parallel.

Th

[2016-09-20 20:07] #10954 closed

[2016-09-20 20:18] ianhays commented on #11893
That is correct. I switched the build pipeline for x64 and x86 back to the zlib-intel build shortly after https://github.com/dotnet/corefx/pull/9273. Some brief discussion about it [here](https://github.com/dotnet/corefx/issues/9789#issuecomment-230590939)

[2016-09-20 20:18] #11893 closed

[2016-09-20 20:57] davidsh commented on #11910
One can use System.Net.Http 4.1 contract from CoreFx on .NET Framework (Desktop).  Simply reference the System.Net.Http 4.1 contract in project.json and you will end up getting the OOB'd System.Net.Http binary.

[2016-09-20 20:58] davidsh commented on #11910
cc: @stephentoub

[2016-09-20 21:08] #11469 closed

[2016-09-20 21:08] #11262 closed

[2016-09-20 21:19] SamuelEnglard commented on #10752
@robertmclaws that works, thanks!

[2016-09-20 21:20] ramarag commented on #9631
cc @RussKeldorph. this has a dependency on codegen issue referenced above

[2016-09-20 21:36] ramarag commented on #9634
cc @gkhanna79

System.IO.Tests.FileStream_ctor_str_fm_fa_fs_buffer_fo.ValidFileOptions:
ARM64 currently does not support FileOptions.Encrypted when creating a file just like on ARM
So i believe the xunit theory generator should not get this value

[2016-09-20 21:44] #10967 closed

[2016-09-20 21:50] gkhanna79 commented on #9634
@ianhays PTAL when you are back.

[2016-09-20 21:51] ericstj opened #11916 "Undo Linq.Expressions dependency on RegEx"
Undo https://github.com/dotnet/corefx/pull/11886/commits/4f192affbc07a77e6660e75caeae5fba07a9cddf in release/1.1.0 after updating packages.

[2016-09-20 21:54] shmao opened #11917 "To Port PR #11752 from release/1.1.0 to master - Support text.Mapping being SpecialMapping when using ReflectionBased Serializer."

[2016-09-20 21:56] shmao opened #11918 "XmlSerializer to Support XmlSchemaTest in ReflectionOnly Mode"
Steps to repro the issue:

1. Remove [ActiveIssue] on the test.
2. cd into `src\System.Private.Xml\tests\XmlSerializer\ReflectionOnly`
3. `msbuild System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj /t:buildandtest`

The test failed with the following error,

[code]

[2016-09-20 21:59] shmao opened #11919 "XmlSerializer to Support XmlSerializerFactory in ReflectionOnly Mode"
Steps to repro the issue:

1. Remove [ActiveIssue] on the test.
2. cd into `src\System.Private.Xml\tests\XmlSerializer\ReflectionOnly`
3. `msbuild System.Xml.XmlSerializer.ReflectionOnly.Tests.csproj /t:buildandtest`

The test failed with the following error,

[code]

[2016-09-20 23:23] himadrisarkar commented on #10230
I have opened up the [documentation issue](https://github.com/dotnet/core-docs/issues/1054) to fix this.

[2016-09-20 23:25] #10230 closed

[2016-09-20 23:35] surban opened #11926 "System.Array.LongLength and System.Array.GetLongLength are missing"
We need support for 64-bit arrays for scientific computing in .NET core.

Are there any plans to reintroduce those APIs?

[2016-09-21 00:25] stephentoub commented on #11926
These have already been added back for .NET Core 1.2:

[2016-09-21 07:29] maddin2016 commented on #11572
Hi @stephentoub, i'd like to see if i can help you. On which branch changes should be made. Master or dev?

[2016-09-21 09:59] Lukazoid commented on #3419
What @ashmind suggest sounds good to me.

[2016-09-21 11:37] hantu548 opened #11934 "Use of dynamic against a large number of types leads to OutOfMemoryException"
The application included below will rapidly consume available memory and if allowed to run long enough it will eventually crash with OutOfMemoryException ('Array dimensions exceeded supported range') while trying to resize the backing array of the dictionary used by Microsoft.CSharp.RuntimeBinder.Semantics.SYMTBL.InsertChildNoGrow.

In the example below the issue can be avoided by either removing

[2016-09-21 12:59] lextm opened #11935 "Where to find a complete list of NuGet packages for corporate NuGet server"
For corporations who block access to public feeds such as NuGet.org, they usually download packages and then host them on a private NuGet server. That approach works fine for a few years already.

Now .NET Core development relies even more on NuGet.org, and it involves tons of packages (both managed and native), which makes it very difficult for any outsiders to generate a complete list of require

[2016-09-21 13:20] lextm commented on #11935
I noticed that the `dotnet` can generate a local cache
[code]
Does this cache contain all the necessary packages from Microsoft?

[2016-09-21 13:23] Owen-Zhang opened #11936 "where is OleDb"
Hi,

"System.Data.OleDb"  not exists in netcore, where  is OleDb

[2016-09-21 13:33] #11936 closed

[2016-09-21 14:20] svick commented on #11935
All the packages that are part of .Net Core 1.0.1 are listed [here](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.1-manifest.md). There doesn't seem to be a similar list for .Net Core 1.0.0, but it should be mostly straightforward to create that from the 1.0.1 version.

The package cache is populated from `nuGetPackagesArchive.lzma`, which is part of the .Net Core SDK. As far as

[2016-09-21 15:03] stephentoub commented on #11572
@maddin2016, the master branch is good, thanks.

[2016-09-21 15:09] karelz commented on #11935
@weshaggard @ericstj do you know the answer?

[2016-09-21 15:13] mstruppBE commented on #5593
@sepidehMS Thanks.  I will wait for the ref assembly. We have some projects which utilize XSLT that we're porting to Net Core that I am hoping to test soon.

[2016-09-21 15:36] ericstj commented on #11935
https://github.com/dotnet/versions is a good source for complete info.  For each repo we list out the packages it produces from various branches.

@leecow do you have a package list markdown for 1.0?

The offline cache has everything you need for a portable app.  There are some .NET Core packages that aren't referenced by default and those wouldn't be in the offline cache, so if you want those you

[2016-09-21 15:38] SamuelEnglard commented on #11898
I've been working on adding something like this... my current state is at https://gist.github.com/SamuelEnglard/7ed7a020d770fe137f7e5c19adce43b1

Using `ConditionalWeakTable` I'm slowly getting something close to ephemeron

[2016-09-21 15:51] dagood commented on #11805
Instead of removing this reference, we'll leave it in. This way, devs trying to make something for arm64 get a restore-time error because the runtimes aren't available on nuget.org, rather than getting a different error later. (Thanks @ericstj for pointing this out.)

[2016-09-21 15:51] #11805 closed

[2016-09-21 16:13] stephentoub commented on #11926
As this has already been addressed from an API perspective to match what the .NET Framework has, I'm going to close the issue. Thanks.

[2016-09-21 16:13] #11926 closed

[2016-09-21 16:39] #11768 closed

[2016-09-21 16:43] Opiumtm commented on #11898
@SamuelEnglard sadly, it wouldn't be usable on .NET Native builds, because .NET Native doesn't support dynamic IL emit.

[2016-09-21 16:50] SamuelEnglard commented on #11898
@Opiumtm in theory all the emitting I'm doing could be done at compile time since I'm really just "reinventing" the stuff the compiler does for current events

[2016-09-21 17:00] #11794 closed

[2016-09-21 17:08] tarekgh commented on #9583
https://github.com/dotnet/corefx/pull/11915

[2016-09-21 17:09] #9583 closed

[2016-09-21 17:32] leecow commented on #11935
We didn't create a manifest.md for 1.0.0 but should probably do that. In the meantime svick's suggestion will work, ie, the Microsoft.NETCore.App and CoreCLR sections from the [1.0.1 manifest](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.1-manifest.md) is the correct list of what dotnet unpacks. The 1.0.0 packages versions can be found in the location Eric mentions. Direct link

[2016-09-21 17:46] bartonjs commented on #9248
Further investigation in #9293 has shown this to be an Azure-sourced infrastructure problem.  We put in the release notes that $HOME is required to be on a chmod-supported filesystem.

9293 should be the only thing tracking this problem, now.

[2016-09-21 17:46] #9248 closed

[2016-09-21 18:20] ItayGal2 commented on #984
1+

[2016-09-21 18:27] roji commented on #9583
I can see that #11915 mentions `netstandard1.7`, does this mean that the missing APIs will make it into `netstandard1.7`, or only into `netstandard2.0`?

[2016-09-21 18:53] Sridhar-MS opened #11943 "Directory.GetDirectories returns zero sub-directories with search pattern "*." on Unix"
On windows using search pattern "*." returns all the sub-directories but on Unix it returns zero sub-directories. Is there a reason why this difference exist? cc @stephentoub @ianhays

[code]

[2016-09-21 18:57] tarekgh commented on #9583
@roji netstandard1.7 is just a place holder for the future release which is netstandard2.0 it is matter of time to get Nuget support for netstandard2.0

[2016-09-21 18:59] karelz commented on #11935
@leecow do you plan to create and publish the manifest.md?

[2016-09-21 19:14] StephenMP commented on #11331
@danroth27 Interesting... I'm not at my home computer so I can't give my project.json for the above reproduction steps, but I can tell you that I just created a .NET Core Console App from the Visual Studio templates and ran the above code without any changes to the project loaded from the template. I have the most up-to-date SDK.

I originally found this issue when testing a proxy I wrote to inter

[2016-09-21 19:15] karelz commented on #11881
@tijoytom please do the simple parts (on top of HttpClient AFAIK). Please keep track of the difficult APIs, we can open a new issue for them.

[2016-09-21 19:16] davidsh commented on #11331
What proxy are you using?  It is quite possible that certain proxies will "create" an HTTP response even for endpoints that don't exist.  Does this repro without the proxy being involved?

[2016-09-21 19:17] davidsh commented on #11881
You should leave this property out for now:

We haven't locked down how ServicePoint is going to be handled in the contracts.

[2016-09-21 19:54] svick commented on #11898
@Opiumtm What Template10 has is weak *event handler* (i.e. you specify whether it's weak or not when subscribing a handler to an event); the two libraries I linked to have weak *events* (you specify whether it's weak when declaring an event). Because of that, they don't require the user to manually specify any DetachAction, or anything like that.

I assumed you wanted weak events (because that's w

[2016-09-21 20:09] thomaslevesque commented on #11898
My implementation doesn't use proxies, and handlers are automatically unsubscribed.

[2016-09-21 20:38] roji commented on #9583
@tarekgh oh I didn't know that... thanks for the explanation.

[2016-09-21 22:09] jaredmoo opened #11949 "DbDataReader does not have Close method, even though it inherits from IDataReader"
I'm unable to compile code that calls or overrides `DbDataReader.Close()`. However `DbDataReader` inherits from `IDataReader`, which has a `.Close()`. method. What's even more baffling is that when I look at the source, [DbDataReader does indeed implement .Close()](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbDataReader.cs#L288).

Repro:
1. In VS2015

[2016-09-21 23:03] #11806 closed

[2016-09-21 23:04] shmao opened #11952 "Improve DCS/DCJS's Performance in ReflectionOnly Mode"

[2016-09-21 23:06] shmao opened #11953 "Improve XmlSerializer's Performance in ReflectionOnly Mode"
We need to measure the performance of our perf tests running in ReflectionOnly mode and then make performance optimization.

[2016-09-21 23:07] shmao opened #11954 "To Verify the Next Release of Meta-package in UWP with Serialization Tests"

[2016-09-21 23:09] svick commented on #11949
In the reference assembly for `System.Data.Common`, [`Close()` is an explicit interface implementation in `DbDataReader`](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/ref/System.Data.Common.cs#L364). That means you can't call it directly (only if you cast the `DbDataReader` to `IDataReader`) and you can't `override` it. What you can do is to add your own implicit or explicit

[2016-09-21 23:10] weshaggard commented on #11764
Marking as api-ready-for-review to discuss the nature of this breaking change.

[2016-09-21 23:15] jaredmoo commented on #11949
I'm ok with Close() not existing, but the current situation is completely unintuitive and poorly documented when porting from NetFx code.

[2016-09-21 23:16] jaredmoo commented on #11949
What really threw me off is that the reference assembly is different from the source code and the documentation.

[2016-09-21 23:58] MitchellSternke opened #11958 "System.Data.SqlClient.SqlConnection.ChangePassword not implemented"
It appears that the SqlConnection class does not have ChangePassword() as an available method. Without this, client applications cannot allow the user to change their password when it is detected that it has expired or needs to be changed. They must log on as a different user, or use a program supporting password change (such as SQL Server Management Studio).

[2016-09-22 00:46] steveharter commented on #9990
@brentschmaltz the PR is at https://github.com/dotnet/corefx/pull/11959 if you would like to evaluate or comment on it. Thanks

[2016-09-22 01:18] #11790 closed

[2016-09-22 01:19] stephentoub commented on #11796
https://github.com/dotnet/corefx/pull/11694

[2016-09-22 01:19] #11796 closed

[2016-09-22 01:19] stephentoub commented on #11885
Stubbed out in https://github.com/dotnet/corefx/pull/11929

[2016-09-22 01:25] dotnet-mc-bot opened #11960 "Test failure: System.Tests.EnvironmentTests/GetFolderPath_Unix_NonEmptyFolderPaths"
Opened on behalf of @jiangzeng

The test `System.Tests.EnvironmentTests/GetFolderPath_Unix_NonEmptyFolderPaths` has failed.

    Assert+WrapperXunitException : File path: D:\A\_work\20\s\corefx\src\System.Runtime.Extensions\tests\System\EnvironmentTests.cs. Line: 227
    ---- Assert.NotEmpty() Failure

Stack Trace:

       at Assert.WrapException(Exception e, String callerFilePath, Int32 callerLin

[2016-09-22 01:29] stephentoub commented on #11943
FWIW, it doesn't, actually.  For example, this program only prints out the two directories that don't include '.' in the name:
[code]

[2016-09-22 02:02] stephentoub commented on #11960
@jiangzeng, for which input did it fail?  This test is a theory, executed many different times for many different inputs.

[2016-09-22 02:13] stephentoub commented on #11960
Nevermind, I found it in the detailed log:
[code]

[2016-09-22 04:15] leecow commented on #11935
[1.0 Manifest](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.0-manifest.md) added. https://github.com/dotnet/core/pull/275

/cc @karelz @lextm

[2016-09-22 04:15] #11935 closed

[2016-09-22 05:00] lextm commented on #11935
Thanks. Very useful.

[2016-09-22 06:22] andrewmcknight commented on #10858
Not sure if it helps,  I also had this issue on linux only (worked fine on our  windows version)
(Note: we do not use web sockets so it's unrelated to that other issue ).

Turned out, the error occurred when the requests being made did not have any content in the response body.
Some of ours are API functions, we send a POST request, and we only require HTTP status code, 200, 500 etc for the respon

[2016-09-22 06:27] jchannon commented on #10858
Same as what I saw

On Thursday, 22 September 2016, andrewmcknight <notifications@github.com>
wrote:

[2016-09-22 06:41] ewinnington commented on #11271
It would be great if while looking to port S.ComponentModel, the needs of workflow foundation are considered on what they need to support [DynamicActivity in CoreWF]. (https://github.com/dmetzgar/corewf/issues/3)

[2016-09-22 10:34] janpieterz commented on #11885
Is there currently a way to retrieve the `X509Certificate/2` from a URI while the ServicePoint is not present on the `HttpWebRequest`?

[2016-09-22 12:01] giworking commented on #5766
I have been working with xaml since the version 3 of .net, I felt the downsize of with silverlight and even its death.  I am someone that love changes for improvement to make things better and more useful.  But now with the UWP, I find regress instead of moving forward.  Don't mind all the new features which if feel there are great, but in the lacking of the full xaml support like desktop app has.

[2016-09-22 14:02] SamuelEnglard commented on #11898
I've done some more work and updated the gist. Except for the fact that I'm doing emit at runtime I'm pretty sure what I've created is a "true" weak event

[2016-09-22 14:06] smbecker opened #11965 "File.Open mangles path ending in ~.SS"
I have a file accessible through \\\localhost\Test\test.txt.~SS. If I attempt to access that file using `File.Open`, I get an exception:

[code]

Notice that the path that it is complaining about is mangled from the requested path. I have a repro available [here](https://github.com/smbecker/filepath-repro). This works as expected using desktop framework but fails when targeting .NET CoreCLR. It al

[2016-09-22 14:12] davidsh commented on #11885
Yes. Developers are encouraged to use System.Net.Http.HttpClient APIs instead of HttpWebRequest.

See the `ServerCertificateCustomValidationCallback` property:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/ref/System.Net.Http.cs#L96

Using that will give you access to the `X509Certificate` object during the HTTP connection.

[2016-09-22 14:16] smbecker commented on #11965
After doing a bit of digging, I found that FileStream [resolves the path](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileStream.cs#L98) using `Path.GetFullPath`. If I pass the in above file name into `Path.GetFullPath`, it returns the mangled name that is referenced in the above exception.

[2016-09-22 14:19] thomaslevesque commented on #11898
Could you show how your implementation is used? All I see is a `WeakDelegate` class, so it looks like it's going to be the event handler that takes care of the "weakness", rather than the event publisher.

[2016-09-22 14:21] SamuelEnglard commented on #11898
@thomaslevesque Good point, give me a minute and I'll upload my test

[2016-09-22 14:24] smbecker commented on #11965
After looking a bit into `Path.GetFullName`, I would guess that the issue is that the file is incorrectly being handled as a short file name [here](https://github.com/dotnet/coreclr/blob/d3b3410eb8323a0286cd9c85441d962b3e7053cc/src/mscorlib/src/System/IO/Path.cs#L449). Should I close this bug and reopen in that repo?

[2016-09-22 14:26] thomaslevesque commented on #11898
Actually, I misunderstood what your class was doing. I wrote the following test: https://gist.github.com/thomaslevesque/f5c86e23b145b841977896ca7aad59e1
It seems to work as expected 👍

[2016-09-22 14:29] stephentoub commented on #11965
cc: @JeremyKuhne

[2016-09-22 14:31] SamuelEnglard commented on #11898
Exactly. Pretty much just replace usage of the static members of `Delegate` with my `WeakDelegate` was the goal

[2016-09-22 14:35] stephentoub opened #11967 "[Ping] Consider adding synchronous path to Ping"
The Ping class' synchronous methods are currently implemented as a blocking wrapper over its asynchronous implementation.  A synchronous path could be put in place to avoid that, e.g. ala the code at http://referencesource.microsoft.com/#System/net/System/Net/NetworkInformation/ping.cs,eb2dfd41e9774d4a when `async` is false.

[2016-09-22 14:59] karelz commented on #11949
Do you have suggestion which docs to improve and how?

[2016-09-22 15:24] SedarG opened #11971 "Investigate if we can cleanup [In,Out] annotations"
This issue is for follow up to https://github.com/dotnet/corefx/pull/11962#issuecomment-248899785.
Gist is; cleanup the [In,Out] annotations from various Stream classes if we don't need them.

[2016-09-22 15:30] #11279 closed

[2016-09-22 15:37] weshaggard commented on #9875
I agree we have some room to improve consistency. We the guidelines posted at https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md#code-file-naming-conventions but I'm good with updating them to more clearly identify when to use CoreCLR and to add CoreRT as an option as well. I do think the TargetGroup will still be a common one we use as well but I ag

[2016-09-22 15:43] SedarG commented on #11516
the existing RD.xml which is being applied to netstandard1.4 needs to be applied to netstandard1.0 too. This can be done by adding an EmbeddedResource, for relevant TargetGroup in csproj. See https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System.ComponentModel.TypeConverter.csproj#L101 for reference

@ericstj I see that we're not cross compiling for netsta

[2016-09-22 15:49] janpieterz commented on #11885
@davidsh cheers! It seems like that is only available on the core version and not dotnet461. Is there any way that it works for both .net core and dotnet461? ;)

[2016-09-22 15:56] davidsh commented on #11885
While the .NET Framework 4.6.x has System.Net.Http API, that 'contract" is at 4.0 level, these new APIs are at 4.1 level.

However, we OOB'd the binary so that you can use the NuGet System.Net.Http 4.1 package on Desktop (.NET Framework 4.6.x).  It will "replace" the GAC'd System.Net.Http reference assemble and implementation binary. So, you can use it on Desktop.

[2016-09-22 16:04] davidsh opened #11973 "WinHttp exception thrown when POST'ing to secure server thru authenticating proxy"
This was discovered from a partner testing out Nano server using CoreFx components.

The following repro ends up throwing ERROR_WINHTTP_INCORRECT_HANDLE_STATE from the  `WinHttpRequestCallback.OnRequestSendingRequest` method when the following are true:

- POST'ing a request body to a secure (TLS/SSL) server
- Connecting thru an authenticating proxy
- Using a callback specified in the `HttpClientH

[2016-09-22 16:35] Opiumtm commented on #11898
@SamuelEnglard @thomaslevesque
Most ridiculous part of this - .NET base class library haven't out-of-the box reference implementation of weak event/weak delegate feature. So, people are forced to reinvent the bicycle or use arbitrary custom implementation from nuget. Most UI frameworks reinvent weak events and include its support in lib. Template10, for example, have its own implementation of weak

[2016-09-22 17:00] mjp41 opened #11976 "SortedDictionary.First performance"
Getting the `First` element of a `SortedDictionary` causes allocation of a stack that is log sized in the number of elements in the dictionary.  This can be done without any allocation.

Currently, `First` is only an extension method for `SortedDictionary`.  This means it builds an `Enumerator`, and then uses that to get the first element.  The enumerator creates a stack to aid its traversal of th

[2016-09-22 17:11] ericstj commented on #11516
Yes, you can service the library by bringing back the netstandard1.0 configuration in the builds.  It looks like @Priya91 removed this configuration a bit prematurely in https://github.com/dotnet/corefx/commit/878080cb52f209ee00c330e32cc20e1281d3b54f#diff-844c1fa74fb54f0f606c7bb1394b8417L13.

Just to restate the guidance: folks shouldn't be deleting the downlevel configurations of projects if that

[2016-09-22 17:26] SedarG commented on #11516
@Priya91 , would you mind bringing back netstandard1.0 configuration.

[2016-09-22 17:45] karelz commented on #11976
@Priya91 @ianhays any suggestions?

[2016-09-22 17:48] #11971 closed

[2016-09-22 17:48] #9688 closed

[2016-09-22 17:54] JeremyKuhne commented on #11965
Looking into it. We don't utilize the code in CoreCLR from CoreFX, but I'll follow up with that copy as well.

[2016-09-22 17:58] CIPop opened #11978 "WinHttpHandler is allocating twice the required buffer for headers"
GetResponseHeaderCharBufferLength is calling into WinHttpQueryHeaders which returns the buffer size in bytes not C# char which is 16bit wide.

We should allocate byte[] instead and extract the UTF8 encoded characters from the byte array.

[2016-09-22 18:00] CIPop opened #11979 "WinHttpHandler could query individual headers instead of double buffering them in the managed address space"
Currently, WinHttpHandler is double buffering instead of lazily extracting headers as they are requested by the application.

This is debatable and would need to be profiled. Lacking the necessary telemetry it's hard to understand if most apps really care about the headers or not. If not, this change should be made to avoid consuming both native-heap and managed-heap memory for the same informatio

[2016-09-22 18:02] davidsh commented on #11978
Did you verify this by running code or reading the documentation on MSDN?  I'm wondering if there is any W vs. A WinHTTP API differences ?  For example, there are A versions of WinINet APIs vs. W versions. So maybe the buffer count is 16-bit chars in the W version of WinHTTP APIs.

[2016-09-22 18:05] alexperovich opened #11980 "The serialization constructor for System.Reflection.Pointer cannot be found."
Attempting to deserialize an object of type `System.Reflection.Pointer` results in a `SerializationException`

Stack Trace:
      at System.Runtime.Serialization.ObjectManager.CompleteISerializableObject(Object obj, SerializationInfo info, StreamingContext context)
      at System.Runtime.Serialization.ObjectManager.FixupSpecialObject(ObjectHolder holder)
      at System.Runtime.Serialization.Obje

[2016-09-22 18:13] CIPop commented on #11978
@davidsh Yes, the way I found this was comparing the handler code with the native perf baseline application that I'm writing (64bit target).

https://msdn.microsoft.com/en-us/library/windows/desktop/aa384102(v=vs.85).aspx :

[2016-09-22 18:31] #10666 closed

[2016-09-22 18:43] stephentoub commented on #11980
I believe the problem is the model.xml file doesn't include the private ctor as a root, and it's getting trimmed out.

[2016-09-22 18:46] stephentoub commented on #11976
@mjp41, can you share examples of where adding this API would be very beneficial?

[2016-09-22 18:49] #11545 closed

[2016-09-22 19:21] Priya91 commented on #11516
Spoke with @ericstj, and when this work was done, the guidelines was to remove the previous configurations and let servicing happen from rel branches. But now, the general guideline is for fat packages above netstandard to have cross compiling enabled is less cost for a bug fix. Will make the change.

[2016-09-22 19:25] #9325 closed

[2016-09-22 19:33] mjp41 commented on #11976
I only have one example of where it would be useful for me, priority queues.  There is a Network Simulator I have been looking at that has memory performance issues. It uses a `SortedDictionary` as a priority queue.  The system needs to preserve the order things are added with the same key, so it uses

[code]

It is possible to refactor the code to use `SortedSet`, by instantiating it in the same

[2016-09-22 19:58] #11973 closed

[2016-09-22 20:25] danmosemsft commented on #11115
Blocked on CoreCLR update.

[2016-09-22 20:26] danmosemsft commented on #11122
Blocked on CoreCLR update

[2016-09-22 20:32] svick commented on #11976
Wouldn't an actual priority queue type (https://github.com/dotnet/corefx/issues/574) be better for that?

[2016-09-22 20:51] danmosemsft commented on #11802
Not in NS2.0 as it didn't appear until 4.6.2.

[2016-09-22 20:53] danmosemsft commented on #8688
Removing NS2.0 label as this isn't in desktop yet

[2016-09-22 20:56] #11980 closed

[2016-09-22 20:57] weshaggard commented on #11516
@ericstj there is no good way to determine this and so the only guidance would be to keep all configurations that have any code, which as we have talked adds a ton of complexity to our repo. I would still like to eliminate builds by default and only included them if we need to ship an update to that configuration in the latest package. Or for cases like this actually make the change in the servici

[2016-09-22 21:00] karelz commented on #8120
Doesn't look like anyone from community works on the issue. If I am wrong, please say so.

[2016-09-22 21:01] karelz commented on #7787
@jamesqo are still working on the issue? (I don't think so, so changing the labels ... I'll be happy to revert it back if I am wrong)

[2016-09-22 21:14] stephentoub opened #11987 "DnsObsoleteGetHostByAddress_LoopbackString_ReturnsSameAsLoopbackIP test failed on Windows"
[code]
cc: @ericeil

[2016-09-22 21:15] #11960 closed

[2016-09-22 21:44] KrzysztofCwalina commented on #11335
this turned out to be not specific to encoders.

[2016-09-22 21:44] #11335 closed

[2016-09-22 21:45] ericeil commented on #10399
@jhendrixMSFT, the link to Mission Control above doesn't seem to show any information.  Maybe it's too old?  Do you have a link to a more recent failure?

[2016-09-22 21:46] svick commented on #11949
@karelz [The API reference for `DbDataReader` shows `Close()` as `public virtual` method](https://docs.microsoft.com/en-us/dotnet/core/api/system.data.common.dbdatareader#System_Data_Common_DbDataReader_Close), when it's actually an explicit interface implementation.

Not sure how exactly to fix that, maybe changing the implementation (i.e. [`src`](https://github.com/dotnet/corefx/blob/master/src/

[2016-09-22 21:53] jhendrixMSFT commented on #10399
I think you're right.  Unfortunately it looks like there are test build failures in today's builds so there's no current results.  @MattGal @chcosta are you guys aware of the test build failures?

[2016-09-22 21:55] SedarG commented on #11516
I'm not sure about it. the RdXml file needs to be at ILC input directory for the toolchain to pick it up. If NuGet targets copies the RdXml together with the library it'd work.

@weshaggard, @ericstj  why aren't we servicing 4.1.0 package instead?

[2016-09-22 22:36] davidsh commented on #11987
cc: @CIPop

[2016-09-22 23:09] karelz commented on #11949
@weshaggard do you know why we have discrepancy between [`src`](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbDataReader.cs#L288) and [`ref`](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/ref/System.Data.Common.cs#L364) of `DbDataReader.Close`?

[2016-09-22 23:09] jamesqo opened #11990 "Proposal: Stack and Queue should implement ICollection<T>"
## Background

`Stack` and `Queue` currently implement `ICollection` and `IReadOnlyCollection<T>`, but not the generic `ICollection<T>` interface. This means that they miss out on many valuable LINQ optimizations for such collections; [here](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/SequenceEqual.cs#L37) [are](https://github.com/dotnet/corefx/blob/master/src/Syst

[2016-09-22 23:15] jaredmoo commented on #11949
Docs that would have helped:

- Official API docs: https://docs.microsoft.com/en-us/dotnet/core/api/system.data.common.dbdatareader#System_Data_Common_DbDataReader_Close
- NetFx to NetCore migration guide that is google searchable with keywords "dbdatareader close .net core"

[2016-09-22 23:15] CIPop commented on #11987
/cc: @ericeil

Looks like one of the newly introduced APIs isn't calling the socket init.

[2016-09-22 23:23] #11791 closed

[2016-09-22 23:23] karelz commented on #11954
@shmao I assume you will do the work, so assigning to you.

[2016-09-22 23:25] davidsh commented on #11791
So, we closed this issue now since the stubs for this are done. But the "port" isn't really done since it is basically a no-op.

Are we opening new issues for the real "port"?

[2016-09-22 23:29] lukeamcmurray opened #11991 "Expect: 100-Continue header auto-added on HttpClient request on Linux"
Hi, we have an issue whereby an 'Expect: 100-Continue' header is being automatically added to all HttpClient POST/PUT requests when our .NET Core web api service is deployed to a linux environment (specifically Ubuntu 14.04/16.04). The header is not added when the service is run in a windows environment, both from within Visual Studio and directly in the console using dotnet run.

Logging of the h

[2016-09-22 23:32] karelz commented on #11791
What is the impact of leaving in just the stubs? Functional/compat impact? Performance impact on some scenarios?

[2016-09-22 23:34] davidsh commented on #11791
It depends.  Some scenarios might want/need caching for performance reasons. But the reality is that I don't think many apps really use those old System.Net.Cache APIs.

I think we should see how many Top-N apps are affected by just stubs before we invest a ton of time trying to implement a caching layer for the legacy HttpWebRequest APIs

[2016-09-22 23:36] stephentoub commented on #11791
I'm not really familiar with the caching design here: is it possible to implement the appropriate caching on top of HttpClient?

[2016-09-22 23:39] davidsh commented on #11791
First, HttpClient API surface doesn't support specifying caching.  The use of the Cache* APIs and enums only really show up in the HttpWebRequest API surface.

We do have customers that use HttpClient and implement a caching architecture by writing new handlers and using them in their pipeline of handlers.  That would be the only place to implement this given the HttpClient architecture.  And sinc

[2016-09-22 23:42] karelz commented on #11791
I would suggest to not open a new issue, until we get feedback that perf matters for some compat scenario.

[2016-09-22 23:42] davidsh commented on #11991
cc: @stephentoub

[2016-09-22 23:42] gafter opened #11992 "Expression trees for half-lifted conversion operators do not work"
There is a change in the way that Roslyn handles expression trees versus the native compiler.
 
For the sample program below, the native compiler generates incorrect code for the initialization of ef2.  The initialization executes without problems, building an incorrect expression tree.  But compiling and running the resulting expression tree with a null argument fails (an exception is thrown at t

[2016-09-22 23:43] karelz commented on #10113
@hseok-oh does it still repro?

[2016-09-22 23:45] karelz commented on #10099
Closing per above recommendation -- https://github.com/dotnet/core-docs/issues/772 tracks the issue.

[2016-09-22 23:45] #10099 closed

[2016-09-22 23:47] karelz commented on #10375
External issue tracked in https://github.com/dotnet/coreclr/issues/6283.

[2016-09-22 23:47] #10375 closed

[2016-09-22 23:48] svick commented on #11990
The added methods don't seem like they would be a good fit for `Queue<T>` and `Stack<T>`, I think it was a deliberate decision not to implement `ICollection<T>` for them.

Couldn't the optimizations be written in terms of `IReadOnlyCollection<T>` in addition to (or instead of) `ICollection<T>`? Is the reason why they're not that casting for variant interfaces is more expensive? If that's the case,

[2016-09-23 00:32] flint-rocketdesk commented on #11036
@karelz Has this been fixed?  Trouble with repro?  Compatibility of ASP.NET Core servers with Apple laptops and smartphones is not important? :)

This HTTPS/2 issue has been a common problem with both ASP.NET and UWP on Windows--and we are willing to contribute engineering hours to help fix this issue so we don't need to duct-tape Java to our pure ASP.NET Core cloud.

[2016-09-23 00:38] bartdesmet opened #11994 "VariableBinder in lambda compiler does not analyze CatchBlock.Filter"
Repro:

[code]

This gets as far as `ILGen` (failing there for DynamicMethod emit due to a limitation in System.Reflection.Emit that's tracked to be lifted at some point, see https://github.com/dotnet/corefx/issues/3838). The culprit is the lack of recursion into the `Filter` child node of `CatchBlock` in `VariableBinder`.

[2016-09-23 00:45] stephentoub opened #11995 "CloneTxTests.Run failed in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/521/consoleText

[code]

[2016-09-23 00:47] weshaggard commented on #11949
I don't have the context on this particular issue but in general we were preferring Dispose of Close, but in this case we couldn't remove Close completely because it was on the IDataReader interface so we just implemented it explicitly in ref (https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/ref/System.Data.Common.cs#L364).

It is compatible to have it be explicit in the ref and

[2016-09-23 01:18] #11126 closed

[2016-09-23 01:22] stephentoub commented on #11373
@JeremyKuhne, why was this closed?  Was it fixed and I missed it?

[2016-09-23 01:26] MelbourneDeveloper commented on #973
I'd just like to mention Silverlight (Browser based - not phone based).

I know that Microsoft wants to distance itself from Silverlight, and I understand why. But, if .NET Standard were available for Silverlight, this would help us out with the process of moving off Silverlight immensely.

Just to explain...

We currently have an app with a .NET Framework WCF back end, and a Silverlight front end

[2016-09-23 01:27] JeremyKuhne commented on #10936
@weshaggard When you iterate existing stores you need to expose IsolatedStorage.*Identity which is serialized/deserialized from disk. Not really plausible without Security related classes- not sure how we want to reflect that in NetStandard decisions.

[2016-09-23 01:29] #9890 closed

[2016-09-23 01:29] #11128 closed

[2016-09-23 01:29] #11112 closed

[2016-09-23 01:30] JeremyKuhne commented on #11112
Not part of NetStandard 2.0

[2016-09-23 01:32] SunnyWar commented on #11976
Example: I believe the Office DRM licensing server using an LRU cache that uses a SortedDictionary to track when an AD item expires. It had a thread that checks the first item in the dictionary every few seconds to see if something should be removed from the cache. If it has expired it removes it, then removes it from the main lookup dictionary and then continues to check the First time until ther

[2016-09-23 01:32] #9562 closed

[2016-09-23 01:33] onovotny commented on #973
@MelbourneDeveloper Would cross-compiling make this easier?

[2016-09-23 01:33] JeremyKuhne commented on #11373
@stephentoub Mistake when moving stuff around zenhub boards

[2016-09-23 01:34] Mike-EEE commented on #973
FWIW, nearly 4500 votes have asked for basically just that here, @MelbourneDeveloper:
https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/10027638-create-a-ubiquitous-net-client-application-develo

Although at this point I doubt it would be Silverlight per se (they are **really** committed to sunsetting it out by 2021), but a .NET profile not unlike Xamarin's that works

[2016-09-23 01:35] JeremyKuhne commented on #10934
Need tests still, some are dependent on #11124

[2016-09-23 01:36] #9842 closed

[2016-09-23 01:37] stephentoub commented on #11991
@lukeamcmurray, I assume you're using the 1.0 release, correct?  Are you able to try newer bits?  This should already be fixed for the 1.1 release:
https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.EasyRequest.cs#L624-L630

[2016-09-23 01:38] niemyjski commented on #9842
Any reason this was closed

[2016-09-23 01:38] karelz commented on #10449
@ellismg is that still the case? It is somewhat concerning.
/cc: @weshaggard @danmosemsft

[2016-09-23 01:40] stephentoub commented on #9842
I expect because @JeremyKuhne merged these:
https://github.com/dotnet/corefx/pull/11080
https://github.com/dotnet/corefx/pull/11868

[2016-09-23 01:42] JeremyKuhne commented on #9842
#11080
#11868

Yes, and we've got separate issues for the remaining work.

[2016-09-23 01:45] stephentoub commented on #5964
Lock/Unlock have been added, but they still need a Unix implementation.

[2016-09-23 01:49] #9875 closed

[2016-09-23 01:50] hseok-oh commented on #10113
@karelz Failed with different error message when I follow new guidance:
https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-building.md

[code]

[2016-09-23 01:51] karelz commented on #11036
If you have a fix, I'd suggest to submit a PR. If it is good fix, we should take it -- I let @bartonjs and @ericeil comment.
Note that we have only limited window to take 1.1.0 fixes, that's why I changed the milestone to nothing.

[2016-09-23 01:59] MelbourneDeveloper commented on #973
@onovotny

Sorry, I should probably clarify a bit here. My understanding is that .NET Core is the runtime environment. .NET Standard is 2 things: versioned standard sets of APIs, and a DLL format that targets multiple platforms. I.e. cross compilation. Is this correct? Is this what you mean by cross-compilation?

What I was asking for was for Silverlight to accept .NET Standard assemblies as refer

[2016-09-23 02:03] JeremyKuhne commented on #5964
@stephentoub According to the comments a Unix implementation this doesn't seem plausible. If we can't guarantee a machine-wide lock (to match Windows) I don't think we should implement it for non-Windows. Am I missing something?

[2016-09-23 02:22] Mike-EEE commented on #973
I don't know... is it?  LOL!  Silverlight is a trigger word, what can I say,

I see you've met UWP.  😄

[2016-09-23 02:25] Priya91 commented on #10752
@robertmclaws The updated speclet looks good, 2 suggestions:
1. Please remove implementation of AddRange, have the API listed as abstract method like other APIs.
2. The event fired for RemoveAll should be Reset event, and not Remove event - RemoveAll removes items based on a predicate, meaning, the items removed may not be consecutive. The EventArgs for Remove sets the OldItems and OldStartingInde

[2016-09-23 03:09] jamesqo commented on #11990
Why not? They are all explicitly-implemented. No one will ever see them unless they cast to `ICollection<T>`. The immutable collections implement both the regular and read-only interfaces, and IMO those types are even worse fits since they have to stub out all of the methods that mutate the collection.

No. `IReadOnlyCollection<T>` only supports the `Count`. This is good for e.g. pre-allocating an

[2016-09-23 03:10] flint-rocketdesk commented on #11036
@karelz We don't have a fix, unfortunately.  Just a strong willingness to help solve this severe issue.

Hard (un-catchable) crashes of the CLR terrify us.  And APNS is a tier-one target for cloud-based services like ours.  So this bug is a double-whammy for our ASP.NET Core solutions.

As soon as you have some cycles to work on this, we will be happy to work around the clock to provide repos, run

[2016-09-23 04:40] weshaggard opened #12000 "Evaluate dependency on S.S.Permissions and S.CodeDOM from System.Private.Xml"
Not sure if there is already a tracking issue for this or not yet (if there is one please feel free to close).

There is a ton of stubbed out APIs at https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/src/Workarounds which we need to eliminate and either remove by eliminating the dependencies or move to building against netstandard17 and using the new types we have exposed.

cc @d

[2016-09-23 04:55] robertmclaws commented on #10752
1) Will do tomorrow AM.
2) So, I'm not sure what the event is doing there is the correct behavior, and I don't believe that Reset is the expected event to be raised. I think "Reset" for most developers would mean the collection is back to the same state it was when it was first instantiated, which would almost always be zero. In this case, the full NotifyCollectionChangedEventArgs constructor can

[2016-09-23 05:18] Clockwork-Muse opened #12001 "VisualStudio takes too long at design time."
Way, way, waaaayyyy too long.
For some reason I don't understand, commit 5c2c440 is the latest point in history where I can open projects in VisualStudio in a reasonable time frame.  And I don't mean 30s-1minute like I've seen some people muttering about; my times are well over 10 minutes, on at least two projects (System.Linq.Parallel and System.Net.Sockets).

Strangely, I've never opened or buil

[2016-09-23 05:43] stephentoub opened #12002 "DateTimeFormatInfoGetInstance test failing in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/544/consoleText
[code]

[2016-09-23 06:23] stephentoub commented on #5964
We already use flock to implement FileShare even though flock only uses advisory locks.  If fcntl with F_SETLK in order to lock byte ranges is insufficient (e.g. reliability issues), then we could simply choose to use flock for this as well, essentially ignoring the specific byte ranges requested and just locking the whole file.  For better or worse we have these Lock/Unlock APIs, and IMHO we shou

[2016-09-23 07:34] hughbe commented on #12001
I've found this as well - my projects seem to be hanging. I went as far as uninstalling VS to try to fix it, no luck.
Btw, https://github.com/dotnet/buildtools/pull/951 should help fix design time builds doing too much before (I.e 30s-1min)

[2016-09-23 07:51] thomaslevesque commented on #10752
While I'll understand the reasoning, I don't think `Reset` is the proper event in this case. The [documentation for `Reset`](https://msdn.microsoft.com/en-us/library/system.collections.specialized.notifycollectionchangedaction.aspx) says:

Which IMO should only happen when `Clear` is called. `RemoveAll` could raise multiple `Remove` events instead (for each range of consecutive removed items).

[2016-09-23 07:52] janpieterz commented on #11885
I get the gist, but am having a bit of trouble getting it to work. Adding 4.1.0 to the dependencies (regardless if it is in all dependencies or per framework) results in the net461 framework resolving to System.Net.Http 4.0.0 (`C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\System.Net.Http.dll`). How do I 'force' this one to resolve it through the nuget 4.1.0?

[2016-09-23 08:04] khellang commented on #11220
OK, an example. Deserializing JSON configuration:

[code]

If you need more examples on usage of `File.ReadAllText` or `File.ReadAllLines` etc., you can also do a quick GitHub search:

 - [`File.ReadAllLines`](https://github.com/search?l=csharp&q=File.ReadAllLines&type=Code) (45,457 hits)
 - [`File.ReadAllText`](https://github.com/search?l=csharp&q=File.ReadAllText&ref=searchresults&type=Code) (97

[2016-09-23 08:06] khellang commented on #11220
Also, FYI; the reason I filed this is that I'm getting upvotes on [an answer I gave on Stack Overflow](http://stackoverflow.com/questions/13167934/how-to-async-files-readalllines-and-await-for-results/13168006#13168006) almost weekly. The question currently has 6,930 views.

[2016-09-23 08:16] rsen253 opened #12005 "How can I validate the xml file against XSD ."
I am unable to find the required namespace which are available in ASP5 but not in core. Most of the elements are unavailable to the .net core.

[2016-09-23 08:25] khellang commented on #11220
I amended the proposal to remove the `CancellationToken` arguments for the `[Read|Write|Append]AllTextAsync` APIs, cause I couldn't see a good way to handle cancellation for those (the underlying `StreamReader.ReadToEndAsync` doesn't take a `CancellationToken`).

If you want to look at my initial stab at an implementation, see https://github.com/dotnet/corefx/compare/master...khellang:async-file-a

[2016-09-23 08:41] mjp41 commented on #11976
@svick, a proper priority queue would be good for some aspects of the simulator I was looking at. But for the bit that uses the `SortedDictionary` it actually requires removal of an arbitrary element as well, something to do with reordering network flows.

[2016-09-23 12:13] Opiumtm opened #12007 "Introduce "virtual reference" concept"
There is `WeakReference<T>` class. It is a special case of concept which could be called "virtual reference".

Introduce `VirtualReference<T>` abstract class (signature is exact of `WeakReference<T>`)

[code]

and make WeakReference<T> implementation of this abstract class.

[code]

This would generalize and provide common API for many kinds of object proxies, interop scenarios, reconstructable ca

[2016-09-23 12:27] svick commented on #11990
At least they implement the interface correctly. I don't think it's acceptable for `IsReadOnly` to return `false`, if `Add()` throws `NotSupportedException`.

And I don't think `Remove()` would be useful here either (if it was, it wouldn't be implemented explicitly).

I didn't realize this was about `CopyTo`. Maybe it would make sense to create a new `ICopyableCollection<T>` interface and use that

[2016-09-23 13:08] svick commented on #12007
I think it would help if you provided some specific examples where implementing `VirtualReference<T>` would make sense and also where operating on `VirtualReference<T>` would be useful.

[2016-09-23 13:13] SamuelEnglard commented on #973
@MelbourneDeveloper you're half right there .NET Standard is a versioned set of standard set of APIs. It is not a DLL format. The DLL format is actually the same for the different flavors since that's part of what makes .NET ".NET".

To make Silverlight part of .NET Standard we would have to find a version of the Standard that is satisfied by Silverlight 5. Once that's done MOST of the work is don

[2016-09-23 13:52] karelz commented on #11990
cc: @Priya91 @ianhays

[2016-09-23 13:56] karelz commented on #12001
@ericstj any idea why would your commit 5c2c440 introduce that?

[2016-09-23 14:09] karelz commented on #3633
@danmosemsft should we just close it as fixed or is there still something left?

[2016-09-23 14:09] karelz commented on #12005
Dupe of #3633

[2016-09-23 14:09] #12005 closed

[2016-09-23 15:03] Opiumtm commented on #12007
@svick
It would make "proxy" concept more transparent, for example.
Virtual reference would become end point for a proxy which marshal calls across some boundary.
.NET Core as far as I know doesn't implement `RealProxy` and `MarshalByRef` and maybe for good, as dynamically generated proxies invoked some behind-the-scenes CLR magic to make illusion you are using object of exactly same type.

Maybe