[2019-04-04 16:46] davidsh commented on #36220
Thanks.  I noticed that setting the StatusCode in the WebSocket handler isn't good because the HTTP response has already been sent (i.e. the 101 status code).  So, I recently (this morning) changed the catch block to just ignore the exception.  We might get an exception because the client might disconnect (either a real test running or just anyone connecting).  So, this part of the code should be

[2019-04-04 16:49] davidsh commented on #36220
Also, this code is not the test itself.  It is an endpoint that our tests running CI access.  So, this endpoint needs to be very robust against all sorts of issues (like client disconnects).  So, I don't want unhandled exceptions coming from the `ProcessWebSocketRequest` method (which I should be renamed to `ProcessWebSocketRequestAsync`)

[2019-04-04 16:54] danmosemsft opened #36605 "Audit [OuterLoop] tests for candidates to promote to inner loop"
We have 1083 outerloop tests. Only 19.6% are in networking (which surprised me since at one point we added most of the networking tests to outerloop). The largest parts of the rest are concurrency related - tasks/threading/linq.parallel - but there are other groups.

In many cases we have improved test stability since the tests were marked. it would be nice to audit the tests and any that are
1. f

[2019-04-04 16:54] danmosemsft commented on #36605
https://github.com/dotnet/coreclr/issues/23646

[2019-04-04 16:55] levicki commented on #36449
So, just because another API is also broken you cannot fix this one either?

Or you could, you know, do something like this:
[code]
And add a compiler deprecation warning when compiling code that calls `GetEnvironmentVariable( string variable, EnvironmentVariableTarget target)` without 3rd parameter explicitly set.

As for your example with process and user variable behavior, it just demonstrates

[2019-04-04 16:56] davidsh commented on #36594
We're working with the ASP.NET team to help mitigate the instabilities.  I pushed a set of changes to the Azure endpoint.  This should create more stability today.

[2019-04-04 16:59] #36547 closed

[2019-04-04 17:08] steveharter commented on #30654
@stakx I was unable to repro the `Microsoft.NETCore.Targets` file getting created. Where was it created?

However I do see a hidden `[myprojectname].csproj.nuget.g.targets` get created in the \obj folder. I'm using preview version of SDK (3.0.100-preview-009812)

[2019-04-04 17:08] Clockwork-Muse commented on #36494
@wfurt - by default, PLINQ attempts to use `Environment.ProcessorCount` _internally_ when kicking off queries.

What happens if you add `.WithDegreeOfParallelism(4)` to all the sources in the combinatorial tests (this is the simplest option to restrict in _most_ cases, since it will flow through all the other combinations):

So, for [the unordered sources](https://github.com/dotnet/corefx/blob/2be

[2019-04-04 17:08] lil-Toady opened #36606 "X509Chain behaviour inconsistent on Windows and Linux"
We are running into a problem where the same chain is successfully built on Windows, populating ChainElements; yet fails with `PartialChain` on Linux, only having the leaf certificate in ChainElements;

Whole trust chain is loaded into `ChainPolicy.ExtraStore` prior to validating the leaf. Verification flags do not affect the resulting `ChainStatus` and `ChainElements` in any way.

It's reproducab

[2019-04-04 17:13] lil-Toady commented on #36606
This is probably the same issue as in #34349 (closed), except a valid certificate chain is already built and attached here. It seems like the `ExtraStore` is ignored on Linux.

[2019-04-04 17:14] Clockwork-Muse commented on #36573
...I'm not sure we _could_ remove the interface anyways - that would be a pretty major breaking change, after all.

[2019-04-04 17:18] Tratcher commented on #36220
Any exception thrown from here would be handled by the server, logged, and then it will terminate the response in the most graceful way possible (500 error if it can, disconnect if it can't).

[2019-04-04 17:26] bartonjs commented on #36449
There were two cases.  The first (no target) set the environment variable in the local process.  Local process variables are not expanded since they're not REG_EXPAND_SZ (since they're not in the registry at all); so with or without the proposed change it returns "%hello%", as it's just a string.

The second described what things would behave as if your change were implemented on making the value

[2019-04-04 17:28] Eilon opened #36607 "I can't use the RawSecurityDescriptor class"
_From @amei130 on Thursday, 04 April 2019 01:47:40_

### Describe the bug
I can't use the RawSecurityDescriptor class, but I can find the RawSecurityDescriptor class in the API document

UTL: https://docs.microsoft.com/zh-cn/dotnet/api/system.security.access control.rawsecurity descriptor?View=netcore-2.1
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1'

[2019-04-04 17:28] Eilon commented on #36607
_From @davidfowl on Thursday, 04 April 2019 05:53:18_

This needs to be moved to dotnet/corefx

[2019-04-04 17:32] vcsjones commented on #36607
Dupe of #36591

[2019-04-04 17:36] breyed commented on #36573
That was my point about "could have been corrected in the transition to .NET Core". Fortunately, there might still a good solution: Create a custom attribute (perhaps `DisposeUnusedAttribute`) that would inform developers, the IDE, and static code analysis that it's OK to skip the extra work of adding calls to `Dispose`. Other classes such a `MemoryStream` would benefit as well.

[2019-04-04 17:55] CrossBound commented on #33115
I agree with @lemire, there is a difference in validating the structure of JSON and validating the JSON against a schema. I have no doubt Microsoft has spent time and effort to correctly implement the former... the latter is a corner case and I don't think it fits into the general design of this JSON library. I'm pretty sure they've made it clear that this JSON library is designed ONLY to provide

[2019-04-04 17:59] TylerBrinkley commented on #15453
That would be outside the scope of this issue so perhaps you may want to open a new one?

You can achieve this today with [Enums.NET](https://github.com/TylerBrinkley/Enums.NET) by specifying only `EnumFormat.Name`.

[2019-04-04 18:09] Clockwork-Muse commented on #36573
.... that's not really any different than adding/removing `IDisposable`.  It's actually worse, because now you have something that says "yeah, ignore this contract that I claim to need", and if a type suddenly _did_ have to dispose a resource (say, `MemoryStream` starts allocating a native array for really large array sizes or something), your consumers now need to dispose, but you previously info

[2019-04-04 18:13] LeroyPakade commented on #30275
I upgraded to 2.1.3 , the bug is still there

[2019-04-04 18:19] #36607 closed

[2019-04-04 18:29] breyed commented on #36573
`IDisposable` flows down the inheritance chain. Since `Stream` and `Component` implement it, all their derived classes are stuck with it, whether needed or not. Custom attributes don't have to be inherited.

The maybe-someday approach gets expensive. Taken to its logical conclusion, it would cause a lot of other classes to add just-in-case `IDisposable`s. I'm really glad that `TaskCompletionSource

[2019-04-04 18:38] danmosemsft commented on #30275
@kouvel ?

[2019-04-04 18:57] MaximLipnin opened #36608 "Azure SQL DB connection hangs with zero-connection timeout"
From https://github.com/mono/mono/issues/13065

There is an issue when a connection to Azure SQL DB hangs on macOS if connection string contains `Connection Timeout=0`.

My repro sample is:
[code]
It's reproducible with Mono version which uses `System.Data.SqlClient` namespace from CoreFX. But there is no repro with Net Core 2.2.

It looks like it makes attempts to login and fails with `System.Obj

[2019-04-04 19:03] ericwj commented on #15453
Kudos for this for starters - I just bumped into having to do `ReadOnlySpan<char>.ToString()` to get an enum parsed ;)

[2019-04-04 19:21] kouvel commented on #30275
@LeroyPakade, based on https://github.com/dotnet/corefx/pull/30379#issuecomment-479867402 it does not sound like the error is related to impersonation. Since the error mentions something about host name resolution not working, does it work if the IP address is used directly?

[2019-04-04 19:33] davidsh commented on #36594
This is not due to any transient Azure endpoint issues.  I can easily reproduce these test failures on my dev box. Investigating...

[2019-04-04 19:36] danmosemsft commented on #35369
Are you still pursuing this @tannergooding

[2019-04-04 19:40] tannergooding commented on #35369
I can, although I'm unfamiliar with the current process for taking something through shiproom and may need further pointers 😄

[2019-04-04 19:42] ericwj opened #36609 "tryparse enum numeric"

[2019-04-04 19:43] ericwj commented on #36609
this was supposed to be a search :/

[2019-04-04 19:43] #36609 closed

[2019-04-04 20:04] LeroyPakade commented on #30275
I doesn't work even if i try use the IP , it works for some users but fail for others, if i change the user's context to WindowsIdentity.GetCurrent().AccessToken than it works but i want to use ((WindowsIdentity)this.User.Identity).AccessToken , Because i want to impersonate the logged in user and not the IIS user

[2019-04-04 20:36] ericwj opened #36610 "Add Enum.TryParse overloads that allow restricting what input is considered valid"
It would be useful to have overloads of `Enum.TryParse` with an argument that allows specifying what kind of inputs are valid.

This would help the following primary use cases:

1. To get `false` for *all* numeric strings. This is useful when the numeric value of the type underlying the enumeration is meaningless. E.g. the value `"2"` would parse to `System.PlatformID.Win32NT` but almost nobody ca

[2019-04-04 20:39] BrennanConroy opened #36611 "NullRef in HandleNull when parsing null object"
When calling JsonSerializer.Parse with type `typeof(object)` and a null json object there is a null ref in `HandleNull`.

I'm guessing it's at line https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleNull.cs#L16 because the `JsonPropertyInfo` isn't set when the object type is `Object`
https://github.com/dotnet/corefx/blob/m

[2019-04-04 20:56] BrennanConroy commented on #36611
Same bug in `HandeValue`.

Pass a Json value to `JsonSerializer.Parse` with `typeof(object)`.
https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializer.Read.HandleValue.cs#L17

[2019-04-04 20:59] bartonjs commented on #36606
It's not that ExtraStore isn't used, it's that OpenSSL says that the 2nd entry isn't a valid issuer for the first.

Windows is building the chain and reporting NotValidForUsage and InvalidBasicConstraints.  OpenSSL says "this is clearly not an issuer I need to consider because it doesn't have the certSign key usage bit" (NotValidForUsage).  It likely would have then noticed the basic constraints c

[2019-04-04 21:11] divega commented on #27682
Yes @roji, however DbDataReader.ReadAsync is exactly like IAsyncEnumerable\<T>.MoveNextAsync, which we already know how to optimize for the async completion case. I believe someone willing to optimize it could reuse ManualResetValueTaskSourceCore\<TResult> and duplicate the logic used to build async iterators.

I am hoping that in the API review meeting we can get the right people to ask about thi

[2019-04-04 21:16] divega commented on #25742
No update from my said. Pinging @saurabh500 @David-Engel in case they have an answer, and @Wraith2 in case he is interested.

[2019-04-04 21:58] safern opened #36613 "ApiCatalog build infrastructure should be updated"
The ApiCatalog build should just run after the official build and use its artfacts to restore. Also, it should be shared to generate the docs layout that we use for the docs team. I already have some targets to generate the docs layout that I should tweak for this to work for both scenarios.

https://github.com/safern/corefx/commit/099258b357d72c5582ea6b87404a51211cb3e2a6

cc: @ahsonkhan @ericstj

[2019-04-04 22:04] safern commented on #36613
cc: @danmosemsft

[2019-04-04 22:16] David-Engel commented on #25742
@divega Our team doesn't have cycles to burn down Future items at the moment. This does sound like a nice clean up job, though, if anyone else wants to pick it up.

[2019-04-04 22:29] stakx commented on #30654
@steveharter: The name I mentioned doesn't refer to a file, but to a NuGet package dependency.

[2019-04-04 22:32] ericstj commented on #30654
Microsoft.NETCore.Targets  is a transitive dependency of Ref.Emit  It's actually not for .NETCore, it was just the common naming we were using back in 1.0.  Back then it contained the "targets" supported by nuget-based portable libraries.  These implemented the "supports" checks done by nuget, buy describing what tfm and RID set a support clause mapped to.  You can see that content here: https://g

[2019-04-04 22:33] davidsh commented on #36594
It turns out this was an Azure deployment bug to our endpoint instances.  When I reset our instances, I was no longer able to reproduce this failure.

I'm going to close this bug for now.

[2019-04-04 22:33] #36594 closed

[2019-04-04 22:38] stakx commented on #30654
@ericstj: Thank you for the explanation!

(It might be good to rename that package then, so things look a little less suspicious from the end user's perspective.)

[2019-04-04 22:52] ericstj commented on #30654
I wish we could.  Unfortunately NuGet doesn't provide a way to rename a package (you cannot declare one package as replacing the old package) otherwise we would have done this.  Here's an ask for this feature from NuGet: https://github.com/aspnet/AspNetCore/issues/1222,

We're really only bringing the reference along to replace the old 1.0 version should it be pulled into the dependency graph.  Ba

[2019-04-04 23:19] steveharter commented on #36611
For the first case with a "null" and typeof(object) yes that should work (return null).

However until we get support for deserializing untyped data into a JsonElement the second case is not supported:
[code]

We don't want to guess whether "13" is an int, float, decimal, etc. However I'll make sure we throw NotSupportedException for this for now.

cc @JeremyKuhne for JsonElement support.

[2019-04-04 23:20] nicholasb90 commented on #19630
In .net core 2.1 I am also encountering what looks to be the same bug, or a very similar bug.

`var uri = @"https://maps.googleapis.com/maps/api/geocode/json?address=%2C%2CMontr%C3%A9al%2CQuebec%2CCanada&sensor=false";
            Uri.IsWellFormedUriString(uri, UriKind.Absolute); //returns false, however above URI is valid.`

However, if I leave the URI unencoded it passes the IsWellFormedUriStrin

[2019-04-04 23:33] davidsh commented on #6849
This is a closed issue.  There are no changes to reporting progress.

My previous feedback is still accurate:

You can add this feature yourself by using the appropriate APIs to "download" content. For example, if you use the HttpClient.SendAsync(HttpRequestMessage, HttpCompletionOption.ResponseHeadersRead) API call then you will get an HttpResponseMessage with a .Content that hasn't yet been down

[2019-04-05 00:55] echesakovMSFT opened #36617 "[linux-musl-arm64] microsoft.private.corefx.netcoreapp restores linux-arm64 packages"
How to repro

1. Create **dependencies.csproj** with the following content:
[code]

2. Run the two commands below with the latest dotnet Sdk

**linux-musl-arm64**
[code]

**linux-musl-x64**
[code]

3. **linux-musl-x64** restores runtime.linux-musl-x64.* packages
[code]

4. linux-musl-arm64 restores 4 runtime.linux-musl-arm64.* packages and runtime.**linux-arm64**.microsoft.private.corefx.netcoreap

[2019-04-05 00:59] echesakovMSFT commented on #36617
runtime.json of microsoft.private.corefx.netcoreapp doesn't have linux-musl-arm64 runtime dependency

[2019-04-05 01:05] echesakovMSFT commented on #36617
Is the fix should be just adding corresponding item to ?https://github.com/dotnet/corefx/blob/871c5eae12ce339221ef0329009470c9945e34e5/pkg/Microsoft.Private.CoreFx.NETCoreApp/netcoreapp.rids.props#L11-L15

[2019-04-05 01:16] karelz commented on #19630
@nicholasb90 can you please create minimal repro? (as in "shortest problematic Uri possible")
If everyone does that, it will be much easier to judge what is duplicate of what ...

[2019-04-05 01:17] karelz commented on #19630
cc @wtgodbe

[2019-04-05 01:30] karelz commented on #8059
@HamedFathi as you can see from the history, there is no progress ...

[2019-04-05 01:31] karelz commented on #36532
cc @wtgodbe

[2019-04-05 01:31] karelz commented on #36554
Duplicate of #36220

[2019-04-05 01:31] karelz commented on #36554
@wfurt FYI: The format above will link the issues nicely ;) (has to be in standalone message though :()

[2019-04-05 02:08] kouvel commented on #30275
Do you get the same error when using IP?

[2019-04-05 03:03] ahsonkhan opened #36618 "System.Text.Json.Serialization.Tests.CacheTests/MultipleThreads failing on Linux"
New test introduced in https://github.com/dotnet/corefx/pull/36549 is failing.

https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190404.4/workItem/System.Text.Json.Tests/analysis/xunit/System.Text.Json.Serialization.Tests.CacheTests~2FMultipleThreads
Fedora.28.Amd64-x64-Release
[code]

https://mc.dot.net/#/use

[2019-04-05 03:08] safern commented on #36618
Note that it is failing on Fedora28 which now runs inside a docker container.

[2019-04-05 05:22] LeroyPakade commented on #30275
Yes ,only thing i was wondering was this windows policy , impersonate a client after authentication

[2019-04-05 07:51] stephenjannin commented on #36562
I confirm the proposed workaround is working. But I'm not clear if I have to add the workaround or if you will fix it in further .net core versions ?

[2019-04-05 08:49] mladenb commented on #25541
@Clockwork-Muse I partially agree with you. Maybe it would help avoid the confusion (due to different assumptions) if there were additional overloads that don't return just the unique elements, but all matched. Or if there was an Options argument passed to the methods, specifying if the uniqueness is desired or not.

[2019-04-05 08:54] the-black-wolf commented on #36438
OK, frame on frame also does not work, so this is an issue that persists from Framewok.
https://github.com/the-black-wolf/SslFail/tree/frame-frame-1.1-1.2

I also created a core-eternal (ssllabs) branch, and that one properly throws on tls alert from server, reinfocing the idea that client is ok, but server fails to send tls alert. So I'll try to do comparative wire logs, and that's as much as I c

[2019-04-05 09:49] the-black-wolf commented on #36438
Ok, I did the wireshark, and its definitely TLS Alert issue.

1. When calling ssllabs, it clearly sends TLS Alert message back before disconnecting (frame 7):
![image](https://user-images.githubusercontent.com/15175507/55617421-54bd9e00-5794-11e9-888f-7ac474a4aedb.png)
Trace file is [here](https://github.com/the-black-wolf/SslFail/blob/core-ssllabs-1.1-1.2/sslfailclient/log_ending_in_tlsalert.pcap

[2019-04-05 10:00] the-black-wolf commented on #36438
Now that I knew what to look for I found a relevant entry in [RFC5246, section 7.2 ](https://tools.ietf.org/html/rfc5246#section-7.2) so you can find more info there.

On an related not re forced TCP connection closure, the RFC states:

So you should be leaving the connection open if requested in `SslStream` constructor, AFAIS.

[2019-04-05 10:02] LDSpits commented on #29703
I would like to take a stab at this issue.

Is this still the recommended way to fix this?

[2019-04-05 10:08] shutdown256 opened #36622 "Digest authentication does not respect RFC7616-3.4"
Similarly to #24482 when sending  Authorization header in HTTP Digest authentication, current implementation does not respect [RFC7616-3.4](https://tools.ietf.org/html/rfc7616#section-3.4) where it says that `username*` field should NOT be used over username field unless it contains characters not allowed inside the ABNF quoted-string production. This for example means that even `@` symbol commonl

[2019-04-05 10:15] shvez opened #36623 "Failure to load System.Configuration.ConfigurationManager assembly during dynamic loading of assemblies"
Hi, there
I've written a small application implementing the idea of dynamic loading and demonstrating the issue. Here is the link: https://www.dropbox.com/s/8nhftd9cy7rhv31/Loader.7z?dl=0

the application provided with binaries, so I hope all you need is open VS and start debugging

**The expected behavior** is being able to load ClientConfigSection from config.

**What get** is an exception notif

[2019-04-05 10:43] Wraith2 commented on #25742
I've had a look through the code and it looks feasible to change it around so a connection task is initiated in the ctor and then the task status checked and possibly waited later whenever the Status property is read. From my readthrough that should affect all paths.

I've found some things in the code that prompt questions though.

[`private static async void ParallelConnectHelper`](https://githu

[2019-04-05 11:28] Wraith2 commented on #36608
I was just looking at this code for other reasons.  I understand that it's waiting indefinitely because thats's what you asked it to do but I assume that it shouldn't be so what is the expected behaviour in your test case, does the connection succeed or get rejected? or does it not matter?

Out of interest can you try the same with async?

[2019-04-05 11:42] levicki commented on #36449
Sorry, but that is just plain incorrect and you can see it for yourself if you do the following:

1. Execute `setx test %hello%` from command line.
2. Check in registry `HKCU\Environment` that key `test` has been created with `REG_EXPAND_SZ`.
3. Run the following code in debugger and step through the Environment.cs code:

[code]

You will see that current `GetEnvironmentVariable()` implementation

[2019-04-05 12:42] MaximLipnin commented on #36608
I suppose that any standard result is expected behavior. In my case I was able to connect to Azure SQL DB successfully.

[2019-04-05 12:50] deokershesh opened #36625 ".NET Core ODBC Bridge porting"
We are in the process of porting .NET Core ODBC Bridge code to database specific code for our native ODBC driver. I added following line in "D:\corefx\src\Common\src\Interop\Windows\Interop.Libraries.cs" to make an entry for our own ODBC driver.

[2019-04-05 12:51] deokershesh commented on #36625
Please ignore above msg, its not complete, by mistake the msg got delivered!

[2019-04-05 12:54] deokershesh commented on #36625
We are in the process of porting .NET Core ODBC Bridge code to database specific code for our native ODBC driver. I added following line in "D:\corefx\src\Common\src\Interop\Windows\Interop.Libraries.cs" to make an entry for our own ODBC driver.

internal const string Abc32 = "abcOdbc.dll";

However at compile time, I get following error, abcOdbc.dll is built as per Microsoft ODBC Standard Specifi

[2019-04-05 13:38] ConcreteHatstand opened #36628 "FileStream.Lock(Int64, Int64) failure on Linux - always uses 'F_WRLCK'."
I am unable to create a shared lock (F_RDLCK) on a region within a file opened read-only on Linux.

FileStream.Lock always seems to use 'fcntl(fd, F_SETLK, {type=F_WRLCK...'.

For a file opened read-only, setting a 'F_WRLCK' (exclusive lock)  is not a valid operation and triggers an EBADF (Bad file descriptor) error from fcntl, which triggers an Unhandled Exception from dotnet.

I can see this usi

[2019-04-05 13:42] jkotas commented on #36562
Apply the workaround please. We do not plan to change the default.

Alternatively, if the use of CurrentPrincipal is in the code that you can control, it would be a good idea to make the code robust against returning null e.g. `Thread.CurrentPrincipal?.Identity.Name`.

BTW: .NET Core 3.0 will have initial support for warnings on nullable types: https://devblogs.microsoft.com/dotnet/nullable-refere

[2019-04-05 13:43] #36562 closed

[2019-04-05 14:16] yetanotherchris opened #36629 "Regex matches "^*" when ^ isn't quantifiable?"
I have the following C# regular expression

[code]

Even though to the best my knowledge the regex is invalid (* has no element to match on), it outputs the following (which is really just the `_.$` part):

[code]

Is `^` treated as a character class by the .NET Regex engine?

[2019-04-05 14:21] davidsh commented on #36622
@mconnew Can you comment on this given WCF's use of Digest auth?

[2019-04-05 14:42] stephentoub commented on #36625
It sounds like you're building the code within the corefx build system.  The error you're getting is from an analyzer that runs and flags P/Invokes, in particular on Windows, that aren't known to be available on all versions of Windows corefx targets, and it's saying it has no idea what this "abcOdbc.dll" library is.  If this is just for your own work (we obviously wouldn't take a PR that tried to

[2019-04-05 15:20] zamont commented on #36476
AFAIK we did used to have System.Memory in-box because we updated the in-box CoreFx ref assemblies. However, **we did not update the NuGet TFM** when we did this and this caused other issues. As a result, we reverted the ref assemblies updates for UWP 6.2.8.

[2019-04-05 15:24] Gnbrkm41 commented on #36460
I didn't have a use for it myself, but @Nukepayload2 who have opened the issues mentioned in the beginning (#36251, dotnet/vblang#390) needed to do so due to customer request,(https://github.com/dotnet/vblang/issues/390#issuecomment-471180816) and was using legacy Visual Basic's `Strings.Replace` method to do such replacements because there's no API that lets you do so out-of-the-box. Thought it'd

[2019-04-05 15:29] IGx89 commented on #36040
We're banging our heads against this too, in our case with a SerialStream. We've tried applying https://devblogs.microsoft.com/pfxteam/how-do-i-cancel-non-cancelable-async-operations/ to it but that's deficient too.

[2019-04-05 15:43] CarlosACepeda commented on #2295
Any updates on this implementation of XPath 3.0?

[2019-04-05 15:52] #36453 closed

[2019-04-05 15:55] karelz commented on #2295
Nope, the above still holds. We currently do not have any plans to invets in this area. It may change post-3.0 or later.

[2019-04-05 16:02] Lxiamail commented on #34899
Hope https://github.com/dotnet/corefx/pull/36085 has fixed the problem.

[2019-04-05 16:02] #34899 closed

[2019-04-05 16:06] tarekgh commented on #36460
If we are going to proceed with this proposal, I would say we should add it to CompareInfo too.

[code]

For completeness and also will have some little perf benefits.

Yes we should have the same support on Linux/OSX as we do on Windows.

No, I don't think we should add any such methods on StringBuilder. I doubt if anyone will use it there.

[2019-04-05 16:07] tarekgh commented on #36460
forgot to mention we should also have the same APIs that takes and return Spans.

[2019-04-05 16:13] Gnbrkm41 commented on #36460
How would we return spans? I thought ReadOnlySpans were only for copying parts of existing string for free (which is okay because they are immutable). Wouldn't `Replace` require modification to the content of the original string, meaning the result string would end up being allocated somewhere to ensure immutability of strings?

[2019-04-05 16:16] dagood opened #36630 "Microsoft.VisualBasic.dll has no FileVersion in non-Windows transport packages"
In Core-Setup, I'm adding a check to make sure all DLL files in the Platform Manifest have `FileVersion`s. (https://github.com/dotnet/core-setup/pull/5682) I hit a problem in non-Windows PR validation with `Microsoft.VisualBasic.dll` not having versions in non-Windows transport packages:

| File in package cache | FileVersion |
| --- | --- |
| microsoft.private.corefx.netcoreapp\4.6.0-preview4.192

[2019-04-05 16:21] ericstj commented on #36630
It actually has a file-version but that file version is 0.0.0.0.
![image](https://user-images.githubusercontent.com/8918108/55641974-10c29d00-5784-11e9-8413-a2359bf9d91f.png)

I wonder if this is due to a bad reference assembly used to build the shim.  I'll investigate.

[2019-04-05 16:23] tarekgh commented on #36460
We can have ref parameter for the returned span. I don't think in the case of using spans, the API should do any allocations. I was just mentioning we should have the API that work with spans for the perf scenarios.

[2019-04-05 16:28] bartonjs commented on #36460
@tarekgh I don't think a Span-returning `Replace` makes sense.

One that writes to a span, sure; but it can't just make up new memory and return a Span (if it's making up new memory it should return Memory, or (better) string/array/whatever-it-actually-is)

[2019-04-05 16:33] Gnbrkm41 commented on #36460
The problem with span-manipulating-replace is also that the result string can result in longer length if new value is longer than old value (e.g. `Replace("a", "aaa")`).

I was thinking about StringBuilder, p

[2019-04-05 16:33] #35073 closed

[2019-04-05 16:38] krwq commented on #36040
@IGx89 which OS are you using? Could you share `dotnet --info`  output on the platform you experience issues?

[2019-04-05 16:40] Gnbrkm41 commented on #36460
Regarding the span(or whatever) overload, shall I modify the issue a bit or just open a new issue?

[2019-04-05 16:42] safern commented on #36460
if `newValue` is null, we replace it for `string.Empty`. If `culture` is null, we use `CurrentCulture`. That is why those values are nullable. Since we're already annotating corelib with nullables, new APIs should think of nullable as well. As part of the API review, we should decide which parameters can be null and if the return type can be nullable as well. So I think this new proposed overloads

[2019-04-05 16:42] IGx89 commented on #36040
In our case it's both Windows 7 and Windows 10, running .NET Framework 4.7.2. But it looks like Microsoft hasn't changed the API/code/recommendations for .NET Core so the same deficiencies would be there too.

[2019-04-05 16:43] bartonjs commented on #36460
Yeah, it'd probably need to be OperationStatus-based.  Something like
[code]

Looks lovely, everyone will want to call it... or... well... not.

[2019-04-05 16:49] Eilon opened #36631 "Azure Linux Web App, "it" culture not working"
_From @valeriob on Friday, 05 April 2019 08:05:46_

### Describe the bug
Create a new aspnetcore 2.2 web app, enable it and en cultures as the documentation instructs, and make a page that prints the current date in short date format "d".
Run it locally with an italian browser, it correctly use the dd/MM/yyyy pattern, then deploy it to azure linux web app (code and framework dependent, not contain

[2019-04-05 16:49] Eilon commented on #36631
_From @blowdart on Friday, 05 April 2019 16:38:23_

@Eilon can you move this to CoreFx?

[2019-04-05 16:53] wfurt commented on #29703
that would be great @LDSpits. And yes, I think fixing IdnMapping.GetAscii () is right fix. I was looking at this yesterday and I verified this works on Windows so make it is same would be good.

https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Globalization/IdnMapping.Unix.cs#L11

The code calls  uidna_nameToASCII(). I think we would break it to individual labels and use

[2019-04-05 16:54] karelz commented on #29703
@LDSpits great! I just sent you collaborator invite. Once you accept, we can assign it to you (GH limitations). We recommend to switch repo to "Not Watching" to avoid flood of notifications (500+ per day). The "Not Watching" will still send you notifications for issues assigned to you, where you are mentioned and where you explicitly subscribe.
Assigning to myself temporarily - ping me here once y

[2019-04-05 16:58] danmosemsft commented on #36628
@tmds

[2019-04-05 17:02] danmosemsft commented on #36629
Other engines seem to give "The preceding token is not quantifiable" which seems appropriate. The question is whether this is worth fixing (given cost/risk of doing so, and potential to break someone who would be surprised)

[2019-04-05 17:23] Gnbrkm41 commented on #36610
Definitely agree on this. Had some headaches debugging programs because of this. 😬 Ultimately I settled onto a combination of `int.TryParse` and `Enum.TryParse`. It definitely would be helpful if there's an overload for this.

[2019-04-05 17:38] krwq commented on #36040
@IGx89 cancellation with SerialStream should work correctly on Linux but not sure about Windows at the moment (I think it should be fixable) - if full framework doesn't work as expected at this point we will likely not fix it.

[2019-04-05 17:40] IGx89 commented on #36040
Makes sense, thanks for looking into it!

[2019-04-05 17:42] ericstj commented on #36630
Funny bug.  So the Microsoft.VisualBasic.dll reference assembly in the .NETFramework targeting pack has a  file version in the PE version resources but is missing the AssemblyFileVersion attribute in its metadata.  Even the implementation DLL in desktop is missing the AssemblyFileVersion attribute.

When GenFacades (rewriter) writes the facade for this shim it attempts to read the fileversion from

[2019-04-05 17:48] #27246 closed

[2019-04-05 18:05] tmds commented on #36628
What these operations do is based on how they work on Windows.
For FileStream.Lock that is:

So using an exclusive lock to implement this seems appropriate.

You can make an [API request](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2019-04-05 19:09] yujayee commented on #32145
Closing as pull request #36085 merged.

[2019-04-05 19:09] #32145 closed

[2019-04-05 19:17] yujayee commented on #32142
Pr #36085 merged. Closing this issue.
Users will be able to modify the sgen command parameters using msbuild properties in their csproj file like the following:
[code]

[2019-04-05 19:17] #32142 closed

[2019-04-05 20:03] mconnew commented on #36622
@davidsh, this shouldn't be a problem for WCF as we don't actually do any Digest authentication directly (other than in some test code) but instead rely on platform code for us. I suspect Windows server supports RFC 5987 fully as we've seen no reports of this problem.

[2019-04-05 20:05] #34867 closed

[2019-04-05 20:20] Gnbrkm41 commented on #36563
+1, I'm no JSON expert, but from what I can see I'm not sure if it is a common scenario to serialise numbers as string type. https://stackoverflow.com/a/15368259/10484567 A little bit of search seem to suggest that it's not a number once it's been quoted.

In my opinion, I'm against adding supports for non-standard usages of common protocols. I think the benefits of implementing this in BCL are no

[2019-04-05 20:29] Gnbrkm41 commented on #36563
@bartonjs by "between 100 and 1000 (en-UK)", I believe you've meant 'en-GB' 😀. The UK also uses full stop as decimal points, so '123,456' would be "one hundred and twenty three thousand, four hundred and fifty six". The point still holds in majority of European countries though. (e.g. 'fr-FR', 'de-DE'...)

[2019-04-05 20:47] steveharter opened #36639 "Support for custom converters and OnXXX callbacks"
Primary scenarios for converters:
- To support a custom data type (e.g. a PhoneNumber struct stored as a JSON string). Data types are typically immutable structs that have a constructor taking the input and no property setters.
  - Since a converter instantiates the value or object, the converter has flexibility to call constructors with parameters. The converter may also set public fields or use

[2019-04-05 20:56] LDSpits commented on #29703
Is there a project for the CoreLib? I'm looking for a csproj or a solution but can't seem to find any that contains the shared implementation.

[2019-04-05 21:07] joshfree commented on #36631
@tarekgh @krwq PTAL

[2019-04-05 21:21] Gnbrkm41 commented on #36563
#36639 Could this solve your problem (if implemented)?

[2019-04-05 21:25] yujayee commented on #31507
Pr #36085 merged. Closing this issue.
Users will be able to modify the sgen command parameters using msbuild properties in their csproj file like the following:
[code]
For compiler options, we support `SGenKeyFile`, `SGenKeyContainer` and `SGenDelaySign`

[2019-04-05 21:25] #31507 closed

[2019-04-05 21:27] yujayee commented on #34670
This is fixed by pr #36095

[2019-04-05 21:27] #34670 closed

[2019-04-05 21:38] danmosemsft commented on #36630
@ericstj https://github.com/dotnet/corefx/issues/31900

[2019-04-05 21:44] steveharter opened #36640 "Json serializer support for IEnumerable deserialization extensibilty"
This is a placeholder to provide the ability to define an IEnumerable converter and have it called automatically when a given IEnumerable-derived type is deserialized.

This is useful for
- Adding converters for collection types that don't support `IList`. Currently the deserializer only supports `IList` and `Array`. For example, a converter can be created to support types from the `System.Collect

[2019-04-05 21:51] ericstj opened #36641 "Wrong ColorUtil being used on netcoreapp3.0 (and maybe netcoreapp2.1)"
It appears that we're using the wrong source for this.  There's a netcoreapp2.0 and netcoreapp2.1 version and only 2.0 is used.

[2019-04-05 21:57] ericstj opened #36642 "Pushing SystemColors down may have broken KnownColor linkage"
SystemColors are supposed to respond to user-preference changed events (EG: someone changes the system to High Contstrast mode).  This happens under ifdef in the KnownColor table.  Previously we only cared about this support for SystemColors which were in Drawing.Common so we ifdef'ed that linkage.

Now that we've pushed the SystemColors down we should remove the ifdef.  To avoid pulling SystemEve

[2019-04-05 22:04] steveharter opened #36643 "Json serializer support for collections"
This issue is to add built-in support for specific collections including:

`System.Collections.Generic`
- [x] `IEnumerable<T>`
- [x] `ICollection<T>`
- [x] `IList<T>`
- [x] `IReadOnlyCollection<T>`
- [x] `IReadOnlyList<T>`
- [x] `ISet<T>`
- [x] `Stack<T>`
- [x] `Queue<T>`
- [x] `HashSet<T>`
- [x] `LinkedList<T>`
- [x] `SortedSet<T>`
- [x] `SortedDictionary<TKey, TValue>`
- [x] `KeyValuePair<TKey,

[2019-04-05 22:05] tarekgh commented on #36631
@Eilon could you please help explain why you think this is corefx issue? I believe this is about setting the current culture correctly in the web app and not really how the culture behave.

[2019-04-05 22:06] steveharter commented on #36026
Closing. These features will address:
https://github.com/dotnet/corefx/issues/36640 and https://github.com/dotnet/corefx/issues/36643

cc @layomia

[2019-04-05 22:06] #36026 closed

[2019-04-05 22:14] tarekgh commented on #36631
CC @blowdart as it looks he is the one asked to move this issue to corefx.  @blowdart please explain why you think this is corefx issue?

[2019-04-05 22:28] bartonjs commented on #36563
Yep, oops 🤭.   Though, looking at an old culture document I built it looks like en-UK doesn't (didn't?) exist, and en-GB used comma-and-period the same as en-US.  de-DE, OTOH, reverses them (like I thought "en-UK" did). -- But the write time on that doc is 2009, so maybe things have changed in the last 10 years :smile:.

[2019-04-05 22:45] tarekgh commented on #36631
I have confirmed on Linux (I used Ubuntu) we are producing the dd/MM/yy pattern for Italian culture.

@valeriob what Linux distro and version you were running on on Azure? and what is the output you are seeing from

[code]

[2019-04-05 22:47] #36617 closed

[2019-04-05 22:57] blowdart commented on #36631
Culture and ageing formatting which isn’t us

________________________________
From: Tarek Mahmoud Sayed <notifications@github.com>
Sent: Friday, April 5, 2019 3:14:46 PM
To: dotnet/corefx
Cc: Barry Dorrans; Mention
Subject: Re: [dotnet/corefx] Azure Linux Web App, "it" culture not working (#36631)

CC @blowdart<https://github.com/blowdart> as it looks he is the one asked to move this issue to cor

[2019-04-05 23:02] roji commented on #36608
Am interested in hearing the result of that - as a general rule timeouts seem to be supported only when using sync I/O ([see the docs on `SqlCommand.CommandTimeout`](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlcommand.commandtimeout?view=netframework-4.7.2#System_Data_SqlClient_SqlCommand_CommandTimeout) and on [`Socket.ReceiveTimeout`](https://docs.microsoft.com/en-us/dot

[2019-04-05 23:14] stephentoub commented on #29703
In the coreclr repo.

[2019-04-05 23:14] roji commented on #27682
@divega I'll try to investigate a bit how that works. But you're that in any case, even if today it's difficult to benefit from the async completion optimization, it may become easier in the future, and this specific API is definitely a place where that may make sense. As you say, raising this in the API review meeting would probably get us the answers we need.

Regardless, I'll soon update the de

[2019-04-05 23:15] tarekgh commented on #36631
@valeriob I have confirmed on Ubuntu 14.04 we return expected short date pattern for Italian too. Please send the information I requested in https://github.com/dotnet/corefx/issues/36631#issuecomment-480444935

[2019-04-05 23:18] Chirishman commented on #35722
@krwq these problems do effect several things, including anybody trying to use or port PowerShell automation involving serial ports to either Arm32 or Arm64 architectures.

If you can suggest a workaround for coming to know what the port name is I'm open to hearing it, especially since Windows assigns seemingly randomly incrementing com port numbers to usb serial devices which can change when you

[2019-04-05 23:27] krwq commented on #35722
@Chirishman I haven't had time yet to look into this yet and ARM64 hasn't been our focus yet.

If you have some time for debugging here is the code we use:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/src/System/IO/Ports/SerialPort.Win32.cs

the garbled text suggests this might be a Windows bug or Registry not working correctly on ARM64.

What might be useful is if you open reg

[2019-04-06 00:04] jkoritzinsky commented on #34042
Are these failures still happening?

[2019-04-06 00:15] wfurt commented on #36555
It will fallback to HTTP/1.x if the server chooses "custom-http2" Since that is something HttpClinet does not recognize it will assume H/2 is not available. In general, client provides list in preferred order and server pick first _one_ it can support. So you cannot pick custom _and_ H/2.

[2019-04-06 00:15] dbaileyut opened #36647 "Group lookup fails if first Global Catalog server is down"
There appears to be a bug with Global Catalog discovery/error handling in System.DirectoryServices.AccountManagement

If the "first" Global Catalog in an Active Directory site is unavailable, calling System.DirectoryServices.AccountManagement.Principal.GetGroups() results in an error.

It appears to be related to the code block at https://github.com/dotnet/corefx/blob/a6f76f4f620cbe74821c6445af3f1

[2019-04-06 00:17] dbaileyut commented on #36647
Note: the first server returned "gg" must be unreachable in your test environment.

[2019-04-06 00:24] karelz commented on #30691
@stephentoub I think you mentioned you're looking into this one ...

[2019-04-06 01:36] stephentoub commented on #30691
I haven't but it's on my list for some point...

[2019-04-06 02:37] #33561 closed

[2019-04-06 02:44] karelz commented on #33794
@IKende @radmikulka do you have a repro or are you able to reproduce it at least on your end and help us with investigation?
Otherwise I fear we cannot make progress :(

[2019-04-06 02:53] #32959 closed

[2019-04-06 03:02] #32382 closed

[2019-04-06 03:26] epignosisx commented on #36553
I would love to see this happening. We have a corporate proxy that causes a lot of pain for us because of the reasons that @davidsh explained.

What if instead of adding a new API to the already complicated `HttpClientHandler`, we make the [windows implementation](https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandl

[2019-04-06 03:56] #36611 closed

[2019-04-06 04:46] deokershesh commented on #36625
Hi Stephen,
Yes, I am building corefx and as part of the same my modified code for System.Data.Odbc gets built. Actually, it reports as an error! How can I suppress this error? Thanks for your help.

[2019-04-06 06:30] karelz commented on #36553
@epignosisx enc vars are on the table AFAIK.
We should add new API anyway, to enable config-style settings by host (e.g. ASP.NET). Someone can then even implement a simple library to read .NET Framework-style config for full compat (it should not be in the platform itself as .NET Core does not have config concept at the moment).

[2019-04-06 06:30] valeriob commented on #36631
Hi,
i'm not using any distribution directly, i'm deploying code in an Azure Linux Web App, it builds a container under the hood automatically as i recon. I've chosen netcore 2.2, and i think it's using an old aspnetcore version 2.2.0.

[2019-04-06 09:02] hughbe opened #36649 "BaseNumberConverter.CanConvertTo(null) throws NRE should return false"

[2019-04-06 09:20] hjc4869 commented on #1626
freebsd-x64 official NuGet packages has been removed since .NET Core 3.0 preview 2 and we were unable to publish apps for FreeBSD since then. Are there any plans to re-enable them in 3.0?

[2019-04-06 10:04] mikernet opened #36650 "Span constructor has incorrect documentation"
`Span<T>(void* pointer, int length)` [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.span-1.-ctor?view=netstandard-2.1#System_Span_1__ctor_System_Void__System_Int32_) indicates that the length is in bytes but that does not appear to be the case in my testing - length refers to the number of `T` elements, not the byte length.

[2019-04-06 10:07] david-tamar commented on #23381
Please fix this!!

[2019-04-06 10:21] hughbe opened #36651 "Implement InstanceDescriptor.Equals(object)"
Currently there is no good way of comparing if two instance descriptors are equal apart from checking each parameter. Instead, by implementing/overriding InstanceDescriptor.Equals we can check for equality

[2019-04-06 10:27] hughbe opened #36652 "API Addition: `ExcludeFromCodeCoverageAttribute(string reason)`"
Frequently I want to add a reason why something is excluded from code coverage. In the vein of the `Justification` property of `SurpressMessageAttribute`, maybe this addition would be useful:

[code]

[2019-04-06 10:28] IKende commented on #33794
https://github.com/IKende/BeetleX/blob/master/SaeaPoolTest.zip download this code run in ubuntu 16.04
running `bombardier` tool
[code]
Open browser access `http://[ubuntu IPAddress]]:9090/` when the `bombardier` finished running,
the response content obtained by the browser is the request content of the `bombardier`

[2019-04-06 10:34] stephentoub commented on #36625
It reports an error because warnings-as-errors is enabled. Just suppress the warning.

[2019-04-06 11:26] stephentoub commented on #36650
The docs are wrong. Thanks for reporting. Would you like to submit a PR to fix them?
https://github.com/dotnet/dotnet-api-docs

[2019-04-06 11:49] epignosisx commented on #36553
@karelz thanks for the feedback, makes sense. Since adding a new API will have to go through the review process, I’m afraid it will miss the 3.0 train. If that’s the case, could the team work first on honoring the env vars? I’m assuming this will be simpler to implement and can make it for 3.0.

[2019-04-06 12:33] mikernet commented on #36650
@stephentoub I just checked the latest code in CoreFX and the xml docs for the method look correct - is it just a matter of time before they sync up with the online docs or do the online docs need to be manually synced up with them?

[2019-04-06 12:35] mikernet commented on #36650
Er, I mean CoreCLR. You can see the constructor on line 112 has the correct docs:

https://github.com/dotnet/coreclr/blob/652ff3c4b94a96a293788d321a036b236be46aef/src/System.Private.CoreLib/shared/System/Span.Fast.cs#L112

[2019-04-06 12:41] hughbe opened #36659 "BaseNumberConverter ConvertFrom for decimal/double/float differs from .NET Framework and is buggy anyway"
From .NET Framework reference source:
[code]

In .NET Core:

[code]

This causes behavioural differences in the following situations, applicable to `DecimalConverter`, `DoubleConverter` and `SingleConverter`, because all these set `AllowHex` to false.

- `converter.ConvertFrom("#2")`: throws in .NET Framework; throws in .NET Core
- `converter.ConvertFrom("0x2")`: throws in .NET Framework; throws i

[2019-04-06 13:02] stephentoub commented on #36650
The process unfortunately is manual right now.

[2019-04-06 15:04] Paradoxon101 commented on #30752
Here is a very simple example that .net core is much slower than the old .net!

`private List<int> DoCalcInParallel(int numberCount)
        {
            var numbers = Enumerable.Range(3, numberCount - 3);
            var parallelQuery = numbers.AsParallel()
                .WithExecutionMode(ParallelExecutionMode.ForceParallelism)
                .WithMergeOptions(ParallelMergeOptions.NotBuffere

[2019-04-06 15:40] danmosemsft commented on #30752
@paradoxon101 can you please open a new issue?

[2019-04-06 16:45] tannergooding commented on #36586
I've got a PR up for the System.Numerics.Vectors project: https://github.com/dotnet/corefx/pull/36663.

In this case, they are all structs that expose their fields publicly (so we can't mark them as `readonly`) but all instance methods are currently, have always been, and always should be non-mutating.

[2019-04-06 17:41] karelz commented on #23381
@david-tamar if you have idea how to fix it, we would welcome a contribution. Otherwise I am afraid this is not too high on our priority list.
Please upvote top post to help us gather the feedback on how many people want it ... thanks!

[2019-04-06 17:44] karelz commented on #1626
Sadly, we had to de-prioritize FreeBSD bring up (due to various reasons and difficulties in the end-to-end Azure support) and it is not going to be priority in .NET Core 3.0.
We would love to keep it semi-working at the state where it is now, but we do not have much time to invest now :(.

[2019-04-06 18:55] danmosemsft commented on #36659
@tannergooding

[2019-04-06 19:03] karelz commented on #36553
It is not going to miss 3.0, unless something very unexpected happens, don't worry.
3.0 date is not announced yet - it will be announced at Build conference in May. If you look at number of remaining 3.0 bugs (eg via my tweets on progress), you can do some guesswork as well.

[2019-04-06 20:15] AlanParr commented on #34465
I've taken a look at this and simply removing the FEATURE_INOTIFYPROPERTYCHANGED checks in ReflectPropertyDescriptor seem to do the trick for my test case at least.
I couldn't find any other instances of FEATURE_INOTIFYPROPERTYCHANGED within corefx, is it safe to just remove these or does it need to be set to true somewhere?

[2019-04-06 21:15] JamesNK opened #36665 "HTTP2: Unhelpful exceptions with HttpClient and HTTP/2 when not supported by server"
1. Server that only supports HTTP1
2. Enable HTTP/2: `AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2Support", true);`
3. Create HttpRequestMessage with Version = 2.0
4. Call server

HttpClient.SendAsync throws this exception the first call:

[code]

Repeating the call with the HttpClient throws a different exception:

[code]

I would expect a friendly error message that the server

[2019-04-06 21:45] doomchild opened #36666 "Could System.Xml.XmlNamespaceManager be made fluent?"
So this is a pretty small thing that I think could be done in several places throughout the framework, but I think it's useful for a couple of different reasons.  I picked System.Xml.XmlNamespaceManager just because it seemed like a very localized change.

Specifically, I'm thinking about code that at the moment has to be written like this:

[code]

I would much rather write it like this:

[code]

[2019-04-06 22:15] danmosemsft commented on #36666
We've generally avoided fluent style in the base libraries for various reasons. Could you achieve this with a simple wrapper class?

[2019-04-06 22:17] svick commented on #36666
Do I understand it correctly that your workflow is the equivalent of the following code?

[code]

If that's the case, then I'm not sure it's a good argument for this change, especially since most people are not using those kinds of workflows.

[2019-04-06 22:24] danmosemsft commented on #36625
@deokershesh You may be need to edit or create a file named like https://github.com/dotnet/corefx/blob/master/src/System.Data.Odbc/src/PinvokeAnalyzerExceptionList.analyzerdata

[2019-04-07 00:01] hjc4869 commented on #1626
@karelz Thanks for your reply and I understand the prioritized work of .NET Core 3.0. I'll focus on bringing up my apps with FreeBSD Linux emulation then. :)

[2019-04-07 02:35] doomchild commented on #36666
@svick: No, that was a wholly contrived example.  I'm a little leery of just copying our code and putting it up on Github.

@danmosemsft:  Is there a reason that fluency is avoided in the base libraries?  It seems to me that you can write the exact same code you can now if the methods are fluent as you can if they aren't.  The only change is that you can _also_ chain them more readably if you like

[2019-04-07 04:18] david-tamar commented on #23381
I'm working right now on a solution using ANSI escape codes and testing it, but I'm going to use 256 colors, so my solution is incompatible with the Windows command prompt (I'm also not sure whether it interprets ANSI escape codes properly).

[2019-04-07 05:34] danmosemsft commented on #36666
@terrajobst can answer

[2019-04-07 07:17] newsash commented on #1626
@hjc4869 Or you can try mono. IIRC, it will support .NET Standard 3.0

[2019-04-07 13:33] Ponant opened #36675 "Presence of EmailAddressAttribute formats non US-ASCII"
This issue started here https://github.com/aspnet/AspNetCore/issues/9107 but I am pretty sure it is not related to identity, even though I am still looking at the origin of the bug.
The presence of the `EmailAddress` in a form in ASP.NET Core will puny code the email
`a@ü  ` to `a@xn--tda`. This happens in the absence of js validation scripts.

**Expected**
1) the correct data `a@ü `is sent to the

[2019-04-07 14:23] Ponant commented on #36675
See the previous issue aspnet/AspNetCore#9107 as the bug seems located. Will close this for conciseness.

[2019-04-07 14:23] #36675 closed

[2019-04-07 18:00] VBAndCs opened #36677 "Add Type.GetCollectionItemsType() Method"
I have a function that uses reflection to do some evaluation. It can receive an single element of type T or an IEnumerable(of T). I need to determine the type of the element to extract its properties.
I do this:
[code]
This seems too much code!
My suggestion is to add a`GetCollectionItemsType` that returns An array containing
- the generic param types for the generics.
- or the elemnt type of the

[2019-04-07 18:01] tarekgh commented on #36631
Thanks @valeriob

Could you please get the values of

[code]

[2019-04-07 20:06] TsengSR opened #36679 "What happened to the Sequence Helper methods in System.Buffers.Experimental?"
I know `System.Buffers.Experimental` package has been removed some time ago, but I couldn't find any hints where the helper methods within were moved, specifically the `public static ReadOnlySpan<Byte> ToSpan(this ReadOnlySequence<Byte> sequence)` methods which were pretty convenient way to turn the sequence into a `ReadOnlySpan<byte>` to pass it to methods accepting it, i.e. `Socket.SendAsync` ex

[2019-04-07 20:07] AndreasTruetschel opened #36680 "FileStream allocates gigabytes of memory"
When allocating many (~400) FileStreams for paths that are all in the same directory, a `System.IO.FileNotFound` exception is issued in the VS diagnostic tools window, if the `useAsync` parameter is set to true in the FileStream constructor.

The file-streams are used as copy target for data that is stored in main memory ONE AFTER ANOTHER. The process memory grows rapidly above some dozens of giga

[2019-04-07 20:51] #24430 closed

[2019-04-07 22:49] daveyostcom commented on #31002
Have a look at the Swift `@available` attribute [here](https://docs.swift.org/swift-book/ReferenceManual/Attributes.html).

[2019-04-08 00:42] ahsonkhan opened #36682 "BigInteger deficiencies and solutions"
@verelpode commented on [Sun Apr 07 2019](https://github.com/dotnet/corefxlab/issues/2655)

[System.Numerics.BigInteger](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.biginteger) is really great, except for a few issues that could be easily fixed.

## Nasty conversion from 128-bit integer to BigInteger
Currently, in order to convert a 128-bit integer to BigInteger, it requires the fo

[2019-04-08 01:26] stephentoub opened #36683 "System.Drawing tests crashing on Linux with latest coreclr ingestion"
There appears to be some problem in the latest coreclr we pulled into corefx that's causing System.Drawing tests to segfault on Linux.

(Due to a bug, dotnet-maestro-bot automatically merged even with the failures.)

e.g.
[code]

[2019-04-08 01:36] stephentoub commented on #36683
cc: @janvorli, @safern

[2019-04-08 02:58] tannergooding commented on #36682
@verelpode. Thanks for taking the time to log this.

It would be nice if the original issue could be broken up into a few concrete proposals that follow the "good example" template given here: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps. This will help us prioritize and review the individual API proposals as necessary.

It's probably worth me

[2019-04-08 03:00] stephentoub commented on #36665
The server supports HTTP/1.1 with SSL? If so, I wouldn't expect an error here at all, rather simply downgrading to 1.1.

Do you have a repro you can share? What server?

[2019-04-08 03:44] JamesNK commented on #36665
Server is Kestrel.

https://github.com/JamesNK/grpc-dotnet/tree/jamesnk/httpclient-error-repo

1. perf\benchmarkapps\BenchmarkServer - dotnet run -c Release
2. perf\benchmarkapps\BenchmarkClient - dotnet run -c Release

[2019-04-08 04:00] jkotas commented on #36683
cc @jkoritzinsky This regression was likely introduced by the recent struct marshaling fixes.

[2019-04-08 04:39] wfurt commented on #1626
I'm planning to give it another try but as @karelz mentioned it is not priority for 3.0

[2019-04-08 04:53] wfurt commented on #23381
I'm not sure there is good general fix. Time of monochromatic terminals is long gone. Getting more colors is easy as setting environment variable.
Note that even if you use xterm-256color, you will get only defined existing color.

[2019-04-08 05:14] wfurt commented on #36665
Do you have packet capture? I would be interested to se ALPN negotiation. As @stephentoub mentioned, we should downgrade to HTTP/1.1 if H/2 is not negotiated.

[2019-04-08 05:19] Zenexer opened #36686 "System.Text.Json.JsonElement documentation copy-paste issue"
https://github.com/dotnet/corefx/blob/268812e10fe17e8177dc5ca680128b286207c82f/src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L341

This should say `string`, not `bool`.

[2019-04-08 05:21] Zenexer commented on #36686
While we're at it:

https://github.com/dotnet/corefx/blob/268812e10fe17e8177dc5ca680128b286207c82f/src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L343

This is incorrect because of:

https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/src/System/Text/Json/Document/JsonDocument.cs#L240

Therefore, it throws an exception if it's not `String` or `Null`.

[2019-04-08 05:31] dotnet-mc-bot opened #36687 "Test failure: System.Net.Tests.SyncWebClientTest/DownloadData_LargeData_Success"
Opened on behalf of @AriNuer

The test `System.Net.Tests.SyncWebClientTest/DownloadData_LargeData_Success` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190407.7 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS5-x86
  - Release

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunct

[2019-04-08 05:32] briangru commented on #29622
FYI - I just spent half a day on this problem as well.  Note this problem still isn't fixed with VS 2017.  I needed to use two workarounds:
1) The one in the .NET Framework 4.7.2 known issues tab.
https://github.com/Microsoft/dotnet/blob/master/releases/net472/KnownIssues/613745%20-%20Single-name%20references%20are%20removed%20by%20the%20SDK%20when%20targeting%204.7.2.md

2) I had to add binding r

[2019-04-08 05:36] dotnet-mc-bot opened #36688 "Test failure: System.Net.WebSockets.Client.Tests.AbortTest/Abort_CloseAndAbort_Success(server: ws://corefx-net-http11.azurewebsites.net/WebSocket/EchoWebSocket.ashx)"
Opened on behalf of @AriNuer

The test `System.Net.WebSockets.Client.Tests.AbortTest/Abort_CloseAndAbort_Success(server: ws://corefx-net-http11.azurewebsites.net/WebSocket/EchoWebSocket.ashx)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190407.7 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS5-x86
  - Release

Details:
https://mc.dot.net/#/product/

[2019-04-08 05:37] deokershesh commented on #36625
Thanks Dan, Changing odbc32.dll to abcOdbc.dll in file https://github.com/dotnet/corefx/blob/master/src/System.Data.Odbc/src/PinvokeAnalyzerExceptionList.analyzerdata resolved these errors. Thanks a lot.

[2019-04-08 05:37] #36625 closed

[2019-04-08 06:14] karelz commented on #29622
@briangru we do not expect people targeting .NET 4.7.2 to run into any problems.
Can you please file a new issue with steps to reproduce your problem? If you can reproduce problems on 4.7.2, we are very interested in root causing them and addressing them. Thanks!
cc @safern @wtgodbe

[2019-04-08 07:16] hakano14 opened #36689 "Error using DBAdapter Update and sourceColumn with null values"
There is an error when using DataAdapter.Update with some datatypes and DBNull values.

Here is an example trying to insert 2 rows in a temp table.

[code]

This will result in exception:

The SQL Trace is like this:

exec sp_executesql N'INSERT #tmpTest (BinValue) Values(@BinValue)',N'@BinValue varbinary(16)',@BinValue=0x34B33D0C58B1D6469A6404FFA67F473C
exec sp_executesql N'INSERT #tmpTest (BinVa

[2019-04-08 07:22] itsvinayjha commented on #24843
@McShauno : any expected version for System.DirectoryServices.Protocols in which we can have support for Linux?

[2019-04-08 07:38] valeriob commented on #36631
Hi @tarekgh,
yes i meant MM/dd/yyy.

Those are the values :
OSDescription : Linux 4.4.0-128-generic #154-Ubuntu SMP Fri May 25 14:15:18 UTC 2018
FrameworkDescription : .NET Core 4.6.27317.07
CultureInfo_it_EnglishName : Invariant Language (Invariant Country)
Cultura Request : it-IT
CulturaUI Request : it-IT
Cultura Thread : it-IT
CulturaUI Thread : it-IT
ShortDatePattern it : MM/dd/yyyy
ShortDateP

[2019-04-08 07:46] Paradoxon101 opened #36691 "AsParallel is significantly slower than in the old .NET"
Here is a very simple example that .net core is much slower than the old .net!

[code]

On my machine (release build) with .NET the code runs in 6.2 seconds with .NET Core in 7.6 seconds!

[2019-04-08 07:47] Paradoxon101 commented on #30752
https://github.com/dotnet/corefx/issues/36691

[2019-04-08 08:01] bjallemad commented on #36689
I get the same error here, it does work as expected in old .NET Framework 4.7.2.

[2019-04-08 08:04] safern commented on #36683
For a simple repro, one of the unit tests that is hitting this issue is: [System.Drawing.Tests.FontTests.ToLogFont_DisposedGraphics_ThrowsArgumentException](https://github.com/dotnet/corefx/blob/a546587fbfb0137176353a4e5ab2de206e4975e9/src/System.Drawing.Common/tests/FontTests.cs#L824)

[code]

This completely seems like a coreclr regression when doing P/Invokes. Note that when I run some tests th

[2019-04-08 08:20] JamesNK commented on #36665
Wireshark - [http2-http1-error.zip](https://github.com/dotnet/corefx/files/3053314/http2-http1-error.zip)

[2019-04-08 08:59] safern commented on #36683
Actually that seems to be the only test crashing... It specifically crashes on this native call:

https://github.com/dotnet/corefx/blob/6e55e0fa6711a15e1e02a6948532979a142c993b/src/System.Drawing.Common/src/System/Drawing/Font.Unix.cs#L384

[2019-04-08 09:13] gfoidl commented on #36691
Maybe you got trapped by [Tiered Compilation](https://devblogs.microsoft.com/dotnet/tiered-compilation-preview-in-net-core-2-1/). Try to switch it off, and remeasure.

BTW: be aware that methods need to be JITed, so there should be a "warmup" before measurement.
You can use https://benchmarkdotnet.org, which does this stuff for you.

[2019-04-08 09:18] shvez commented on #36623
hi, there.
I assume that this happens because of magic in ConfigurationManager.TypeUtls.GetImplicitType. Not really sure yet what it does, but seems like something is wrong there

best,
ilya

[2019-04-08 09:25] mikernet commented on #36650
OK I'll open an issue over on the docs repo.

[2019-04-08 09:25] #36650 closed

[2019-04-08 09:37] MarcoRossignoli commented on #36430
or check for `_rootNamespace != null` no?

[2019-04-08 09:55] #34794 closed

[2019-04-08 10:36] am11 commented on #2046
Would it make sense to tackle this old issue pragmatically for now? For example, port of `KeventWatcher` implementation from mono over to CoreFX, where the following options are available at https://github.com/mono/mono/blob/master/mcs/class/System/System.IO/, followed by CoreFX style adaptations.

* DefaultWatcher.cs
* FAMWatcher.cs
* FileSystemWatcher.cs
* KeventWatcher.cs
* NullFileWatcher.cs

[2019-04-08 11:15] deokershesh opened #36692 ".NET Core ODBC Bridge issue - Unable to load libraries"
I have been able to migrate/change .NET Core ODBC code to compile with my own abcOdbc.dll ODBC driver binary successfully. However at runtime, it complains abcOdbc.dll not found (during trying to open the database connection Conn.Open() call). I have this abcOdbc.dll and all dependent binaries are part of PATH environment variable.

Do I need any more environment variable setting? I am using VS201

[2019-04-08 11:40] MaximLipnin commented on #36608
After changing `Open` to `OpenAsync` I still have the issue with hanging connection.
[code]

[2019-04-08 11:57] sebastienpl commented on #35491
Hi, I'd be happy to take that one as a first one.

But before starting doing it I'd like to ensure what kind of fix you'd really expect for it because I see multiple possible approach.

Let's take one first simple example: `ArgumentOutOfRangeException`. one place where it's thrown is `System.Runtime.Serialization.ObjectManager.GetObject`
Few ways of fixing:
1. Update `ObjectManager.GetObject` to r

[2019-04-08 12:54] ConcreteHatstand commented on #36628
@tmds - perhaps I should clarify the problem. This simple program throws an exception when run on Linux - (again a file, 'testfile' must be present).

using System;
using System.IO;

class Test
{
    public static void Main()
    {
        using (FileStream fs = File.OpenRead("testfile"))
        {
            fs.Lock((long) 3, (long) 1);
        }
    }
}
No exception is thrown on Windows.
The ex

[2019-04-08 13:44] tjmoore commented on #31809
The same error occurs on .NET Framework 4.6 (not tried newer).

[2019-04-08 14:33] lil-Toady commented on #36606
Another inconsistency is about revocation lists, for example this certificate:

[code]

If ``ChainPolicy.RevocationMode`` is set to ``X509RevocationMode.Offline``, on Windows we end up with `RevocationStatusUnknown` and `OfflineRevocation`, yet on Linux it's just `RevocationStatusUnknown`.

If ``ChainPolicy.RevocationMode`` is set to ``X509RevocationMode.Online``, on Windows we once again end up w

[2019-04-08 14:44] Paradoxon101 commented on #36691
Testhardware: Surface Pro 4 i7

Release Build
.NET Framework 4.7.2 -> 15800 ms
.NET Core 3.0 preview3 -> 19400 ms (<TieredCompilation>false</TieredCompilation>)
.NET Core 2.1 -> 21500 ms (<TieredCompilation>false</TieredCompilation>)

[AsParallelTestProject.zip](https://github.com/dotnet/corefx/files/3054853/AsParallelTestProject.zip)

[2019-04-08 14:48] wolfspider commented on #2046
@am11 If you move the 2.2 SDK folder into v3 does it not find it or is it not building? What happens when you try to build it?

[2019-04-08 15:22] Symbai commented on #36691
On my end they are about nearly the same:

[code]

| Method |  Job | Runtime |    Mean |    Error |   StdDev | Rank |       Gen 0 |     Gen 1 |     Gen 2 |  Allocated |
|------- |----- |-------- |--------:|---------:|---------:|-----:|------------:|----------:|----------:|-----------:|
|    Run |  Clr |     Clr | 5.605 s | 0.0230 s | 0.0215 s |    2 | 436000.0000 | 3000.0000 | 1000.0000 | 2702.83

[2019-04-08 15:22] verelpode commented on #36682
Hi Tanner, thanks for the quick reply.  Here's my thoughts on those issues:

Indeed BigInteger.Builder would make BigInteger much more powerful, especially when an algorithm runs in a loop and must perform many iterations and each iteration modifies/mutates the same local variables of type BigInteger.Builder.

Would be useful.  One useful ability of Int128 is that when you multiply, add, or subtra

[2019-04-08 15:37] stephentoub commented on #36691
Here's what I get with @Symbai's test:
[code]

[2019-04-08 15:38] tarekgh commented on #36631
Looks this has been deployed on a container with turning on the Invariant Globalization mode https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md which basically no complete globalization support on such container. I am not sure if there is option to choose the container when deploying?

@Eilon any idea how the container is chosen in the  @valerio

[2019-04-08 15:45] tannergooding commented on #36682
Exposing methods that fill an existing buffer, rather than creating a new one, sound fine and is something we provide in other types. Directly exposing the underlying array (to allow access without any copying) via a `ROSpan<byte>` might also be possible...

Most APIs aren't taking or using `ArraySegment`, they are using `Span<T>` instead. We would likely do the same here.

CoreFX isn't only desig

[2019-04-08 15:48] tmds commented on #36628
Yes, if you open with ReadWrite, no exception is thrown. It seems write permission is needed on Linux to be able to take the lock, while it is not required on Windows.

[2019-04-08 15:49] verelpode commented on #36682
Here's one more issue that might interest you or other readers.  Firstly, note that every new PC sold today (and every PC sold since the year 2000-and-something) has a 64-bit processor.  Even "small" processors such as Intel Atom are 64-bit (some people think that Intel Atom processors are 32-bit but they're actually 64-bit and run 64-bit Windows well).

Currently the BigInteger struct contains th

[2019-04-08 15:54] stephentoub commented on #36687
@jkoritzinsky, is this related to the changes you recently made?

[2019-04-08 16:03] tannergooding commented on #36682
I've put some thought into modifying `BigInteger` to operate on `native int` (so `UInt64` on 64-bits and `UInt32` on 32-bits) and believe it would allow some measurable perf gains.

However, I also need to follow up on whether breaking binary serialization compatibility here is OK.

[2019-04-08 16:05] valeriob commented on #36631
Those are the app settings taken from kudu

webpages:Enabled = true
deployment_branch = master
SCM_TRACE_LEVEL = Verbose
SCM_COMMAND_IDLE_TIMEOUT = 60
SCM_LOGSTREAM_TIMEOUT = 1800
SCM_BUILD_ARGS =
REMOTEDEBUGGINGVERSION = 15.0.28010.00
WEBSITE_HTTPLOGGING_RETENTION_DAYS = 7
ASPNETCORE_HOSTINGSTARTUPASSEMBLIES = Microsoft.ApplicationInsights.Profiler.AspNetCore
WEBSITE_SITE_NAME = yyyyyyyy
APPINSIG

[2019-04-08 16:07] jkoritzinsky commented on #36687
Its possible. I’ll take a look when I get into the office.

[2019-04-08 16:17] wfurt commented on #36665
The server negotiated H/2 from the list so it is expected that it can talk HTTP/2. That does not mean the current exception is useful. It is also little bit strange that the exception is not consistent.

<img width="979" alt="image" src="https://user-images.githubusercontent.com/14356188/55739887-d99bf800-59de-11e9-97a3-d79e3f8ca800.png">

[2019-04-08 16:18] davidfowl commented on #36679
If you're using the Socket task extension methods then you can just do a loop over the `ReadOnlySquence` and call SendAsync multiple times.

[2019-04-08 16:24] hyzx86 commented on #33480
Has this patch been released yet?
Will it take effect in the latest version or only a few specified versions

[2019-04-08 16:26] tarekgh commented on #36631
I am not seeing any interesting setting
[code]
@valeriob could you try other settings than ```Development``` value and figure out if this will make any difference?

@Eilon any idea if there is any specific settings affect enabling/disabling the (globalization environment mode)[https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md]?

[2019-04-08 16:35] verelpode commented on #36682
That's a different issue than what I mentioned.  I was talking about changing the `_sign` field to Int64 _regardless of_ whether the `_bits` field is `UInt32[]` or `UInt64[]`, because the `_bits` field is a reference that causes 64-bit alignment regardless of whether it is a reference to `UInt32[]` or `UInt64[]`.

True true, I forgot that `Span<T>` replaces `ArraySegment<T>`.

I think such direct

[2019-04-08 16:39] karelz commented on #33480
It was fixed in 3.0, so you should see it in latest previews.

[2019-04-08 16:44] tannergooding commented on #36682
Yes, and I think it would only be considered if we kept the `_bits` field the same size. Even if most modern computers support 64-bit, not every app runs in 64-bit and we don't want to regress perf for the 32-bit scenario.

The optimal solution would be to make both `_sign` and `_bits` be `native int` so that they can do the most efficient thing for the current platform/architecture.

I wouldn't c

[2019-04-08 17:09] verelpode commented on #36682
Sounds good, but does it cause a problem for you if you need to internally produce a 128bit result from the multiplication (or addition) of two 64bit array elements in _bits?   With the current implementation where _bits is UInt32[], you can simply use UInt64 to multiply (or add) two elements with guaranteed success (without overflow).   Would you lose this ability if you change the array to nativ

[2019-04-08 17:15] tannergooding commented on #36682
We will be exposing that via the hardware intrinsics feature in .NET Core 3.0: `System.Runtime.Intrinsics.X86.Pclmulqdq.CarrylessMultiply`.

But otherwise, it is all fully implementable via software emulation (and will need to be for the non-x86 codepath). Same as 64-bit arithmetic on a 32-bit machine is done.

Not required, it would just help in some cases for computing the carry per iteration.

[2019-04-08 17:17] svick commented on #36682
There is already [a constructor that accepts `Span<byte>`](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.biginteger.-ctor?view=netcore-3.0#System_Numerics_BigInteger__ctor_System_ReadOnlySpan_System_Byte__System_Boolean_System_Boolean_). If the goal of the proposals for new ways of creating `BigInteger` is avoiding allocations, then I think they're mostly not necessary, since you sho

[2019-04-08 17:36] EatonZ commented on #36343
@karelz I noticed you've added this to the 3.0 milestone. Does that mean plans have changed and this will be addressed by 3.0's release?

[2019-04-08 17:38] karelz commented on #36343
The issue was closed during 3.0 milestone, that why it is milestoned as such (bulk edit). You should monitor the primary issue - which is without milestone at the moment.

[2019-04-08 17:48] bartonjs commented on #34202
I've been waiting for a while to close this _fait accompli_, having gotten Firefox to move to both a different TimeStamp Authority and to SHA-2 Authenticode in general, but they've been slower to change than I initially thought.

https://bugzilla.mozilla.org/show_bug.cgi?id=1531165

I'm still currently of the opinion that non-RFC-conforming signatures is a thing that we don't want to bother suppor

[2019-04-08 17:48] #34202 closed

[2019-04-08 17:52] Foxtrek64 commented on #36677
I could see utility for this, but it feels like something that may be better off as an extension method. That said, I don't play with this side of C# too often, so there might be cases I'm not considering.

[2019-04-08 17:54] ahsonkhan commented on #34794
Fyi, @wli3, this option has been added.

[2019-04-08 17:57] tarekgh commented on #35972
@terrajobst  could you please explain one more time why we need to keep the Slice APIs which takes Index parameter in Span/Memory? Also, why we need to keep the String.Substring APIs which take range and index? I believe we don't want to keep those as we have the same APIs that takes integers. Or those needed for binding? I thought the compiler will just handle such cases and no explicit binding w

[2019-04-08 17:58] Eilon commented on #36631
Sorry no idea.

By default, ASP.NET Core uses whatever culture the host process is using. The developer has to explicitly use loc/glob features of .NET Core or ASP.NET Core to use something else.

[2019-04-08 17:58] Paradoxon101 commented on #36691
Could it be that the CLR is faster because it runs in 32 bit?

Here's what I get with @Symbai's test:

.NET Core SDK=3.0.100-preview3-010431
  [Host] : .NET Core 3.0.0-preview3-27503-5 (CoreCLR 4.6.27422.72, CoreFX 4.7.19.12807), 64bit RyuJIT
  Core   : .NET Core 3.0.0-preview3-27503-5 (CoreCLR 4.6.27422.72, CoreFX 4.7.19.12807), 64bit RyuJIT

| Method |  Job | Runtime |    Mean |    Error |   Std

[2019-04-08 18:05] verelpode commented on #36682
Great!  I didn't know that BigInteger has already advanced beyond the version that shipped with VS 2019 this week.

What if the source array is `UInt32[]`?  Can it still be passed to the constructor that accepts `ROSpan<byte>`?  Thinking about the "isBigEndian" parameter and the cross-platform interaction with `System.BitConverter.IsLittleEndian` is giving me a headache.  Even if it's possible to

[2019-04-08 18:16] tarekgh commented on #36631
my question was regarding the configuration setting when deploying to Azure. anyway, do you have any contact we can ask how the containers get configured when deploying? Thanks.

[2019-04-08 18:23] nicholasb90 commented on #19630
@karelz

I suspect the issue is related to combining encoded characters that require one encode value and characters that require multiple encode values. For example, 学 encodes to %E5%AD%A6 while [ encodes to %5B.

Here are some examples:
[code]

[2019-04-08 18:24] GrabYourPitchforks opened #36704 "Allow exporting PKCS12 cert private keys using AES encryption"
Win10 added a new struct `PKCS12_PBES2_EXPORT_PARAMS` and magic string `PKCS12_PBES2_ALG_AES256_SHA256` which allows exporting .pfx files using AES as the key protection mechanism. (Without this flag, it defaults to 3DES.)

This option is exposed via the Certificate Export Wizard UI. We should also expose it via .NET Core.

[2019-04-08 18:28] jkoritzinsky commented on #36683
Taking a look into this now. Looks like `GdipGetLogFontW` is using the `AsAny` marshaler on the last parameter. That marshaler has very weird behavior, so I wouldn't be amazed if there's a bad interaction between the struct changes I made and the AsAny marshaler with a struct type.

[2019-04-08 18:37] BrennanConroy commented on #36167
We have use cases where we will be given `object` as the type to be deserialized. We can't return a `JsonElement` back to the user in this case.

[2019-04-08 18:54] GrabYourPitchforks opened #36705 "API proposal: Add Exception.InnerExceptionDispatchInfo property"
It's extraordinarily common for code to unwrap an outer exception, get at its `Exception.InnerException` property, and rethrow it. (See [all coreclr / corefx references](https://source.dot.net/System.Private.CoreLib/R/89c20b39fb04108b.html) to the `InnerException` property.)

`TargetInvocationException` is a particularly interesting use case, because all reflection APIs wrap any inner exception in

[2019-04-08 18:59] mashles opened #36706 "Make the ZipArchiveEntry OffsetOfCompressedData property public"
Is it possible for the ZipArchiveEntry OffsetOfCompressedData property to change to public?

It is useful to be able to store the offset and compressed length, so a particular files byte range can be downloaded from a blob to save time/bandwidth.

It works fine but we had to write our own zip parser to get the offset, it would be great if we could just use the existing property thats private right

[2019-04-08 19:04] saurabh500 commented on #30430
@Wraith2 Since you are looking at ways to improve the connection pool performance of SqlClient e.g. https://github.com/dotnet/corefx/pull/36667 , here is what I suggest.

The above tests were done with SqlClient on Windows, i.e. by using the native networking layer.

The SqlClient on Windows with native networking code has been working fairly well and there have been no known issues with the netwo

[2019-04-08 19:11] saurabh500 commented on #25742
I have done a deep dive of why SqlConnection.OpenAsync is not blocking at https://github.com/dotnet/corefx/pull/36667#issuecomment-480651762

Let me know if I can answer any questions. When this issue was opened, I didn't have great clarity on the Async aspect of SqlConnection.OpenAsync(). However after much of code reading, I can safely conclude that the network calls being async in the code bein

[2019-04-08 19:11] #25742 closed

[2019-04-08 19:13] saurabh500 commented on #25742
@Wraith2

TDS protocol 7.x needs the Login to happen over an encrypted channel. There is no getting away from it if connectivity is needed for SQL server. If encryption is not requested by client or not overridden by the server, then we ditch the SSLStream and move to an unencrypted channel.

[2019-04-08 19:13] stephentoub commented on #35972
@terrajobst, could we also use this moment to re-examine `RuntimeHelpers.GetSubArray`?
[code]
Why did we bury this on `RuntimeHelpers` rather than just having it be a normal static helper method like all of the others on `Array` already? e.g.
[code]
and taking an int/int pair as with Substring rather than taking a Range?

[2019-04-08 19:15] saurabh500 commented on #25742
About this, this connection is invoked when we are connecting using a connection string which needs MultiSubnetFailover = true where it is expected that the sql server is part of an AG and the hostname can resolve to multiple subnets.

I dont like how ParallelConnectHelper is done, because it ends up using the threads from the app thread pool. In case of Native SNI the parallel connect utilizes th

[2019-04-08 19:17] stephentoub commented on #35972
I also generally agree with @tarekgh's feedback.  Seems like we should also remove `{ReadOnly}Memory<T>.Slice(Index)` (you can either use the existing int-based overloads or use `memory[^start..]`, `{ReadOnly}Span.Slice(Index)` (same reasoning), and both remaining `String.Substrings` (same reasoning).

[2019-04-08 19:21] stephentoub commented on #36705
I'm not quite understanding.  Are you proposing something to make:
[code]
simpler?  Or to make:
[code]
simpler? Can you share an example from coreclr/corefx that you're trying to improve?

This is no longer required if you pass `BindingFlags.DoNotWrapExceptions`.

[2019-04-08 19:22] Wraith2 commented on #25742
Possibly a custom task scheduler, I'll put it on my list of things to look into.

[2019-04-08 19:22] jaredpar commented on #35972
@stephentoub

Believe this was the recommendation of @davidwrighton. The decision is somewhat un-interesting to the compiler. Just let us know where to look for it.

@agocke

[2019-04-08 19:28] miguep opened #36707 "S.IO.Packaging's PackUriHelper is missing GetPartUri method"
PR [36493](https://github.com/dotnet/corefx/pull/36493) added some PackUriHelper methods to CoreFx, but GetPartUri seems to be missing, and it no longer is available in WindowsBase

[2019-04-08 19:39] bartonjs commented on #36704
It'll definitely have cross-platform complications, but once I get the cross-plat PFX read/write changed to use (slimmed down versions of) Pkcs12Info and Pkcs12Builder it'll be easier.

And then there's the question of do we re-encrypt things for older Windowses.

And, of course, where we even accept said option.

[2019-04-08 19:44] pranavkm commented on #36023
The one place where we required this, we've changed to use `JsonElement` and doing our own deserialization. I think it's fine to do this rather than have the serializer do `TryParse` on strings all the time. I'll this up to you to decide if this needs to be closed.

[2019-04-08 20:01] Eilon commented on #36631
I'm not aware of any config settings that directly affect loc in ASP.NET Core. It would be an app-specific thing, or a general .NET / .NET Core thing.

There's an internal email 'ancant' that you could try contacting to see if there's an Azure App Service specific thing.

[2019-04-08 20:02] wfurt commented on #36692
Your description does not have enough info @deokershesh You will probably need to share your project files and more specific error you getting.

[2019-04-08 20:04] wfurt commented on #36687
Could be also 36220.

[2019-04-08 20:04] tarekgh commented on #35972
We need to decide about GetSubArray quickly before @agocke do the changes in the compiler side. I am ok with Stephen proposal to move it to Array class. If we change the parameters to be int/int instead of range, I think the compiler has to convert the range to int/int and then call. which would be one extra step to the compiler if I understand correctly). I like int/int if anyone else other than

[2019-04-08 20:05] wfurt commented on #36688
could be #36220

[2019-04-08 20:08] ahsonkhan commented on #36023
Can you share a link to the code where you changed to use `JsonElement`? I want to understand better why ISO supported DateTime parsing wasn't sufficient for your scenario.

[2019-04-08 20:10] agocke commented on #35972
Note: changing the signature or location of this member will be a "real" breaking change, in that code built with the earlier version of Roslyn will fail to compile against the newer framework, and vice versa.

Like before this will hopefully be a small breaking window, but unlike the pattern-based changes, things will not just continue working.

[2019-04-08 20:26] steveharter commented on #36167
What is the expected return type?

[2019-04-08 20:31] terrajobst commented on #35972
Let's take a look at this tomorrow.

[2019-04-08 20:32] erin-knight opened #36709 "System.Json: JsonValue.Parse small bug"
I noticed when using JsonValue.Parse that JSON syntax errors are caught, except for this one, where the opening quote is omitted on the last property in the JSON string, and it is a number, it considers it valid JSON:

`
var jsonString = "{\"Age\": 5"}";

try
{
    jsonObject = JsonValue.Parse(jsonString);
    return true;
}
catch
{
    jsonObject = null;
    MessageErrors.Add("Message contains in

[2019-04-08 20:49] tarekgh commented on #36631
@valeriob could you please send more details about how you did the deployments? did you choose a container during the deployment? more info here can help.

[2019-04-08 20:51] BrennanConroy commented on #36167
An object. Basically what this method does https://www.newtonsoft.com/json/help/html/M_Newtonsoft_Json_JsonSerializer_Deserialize.htm

[2019-04-08 21:13] #36499 closed

[2019-04-08 21:38] anurse commented on #36024
For the initial version to unblock ASP.NET, `Dictionary<string, [some concrete type]>` is sufficient.

[2019-04-08 21:40] anurse commented on #36351
Specifically for ASP.NET scenarios: A global setting to enable `camelCase` serialization.

[2019-04-08 21:51] TsengSR commented on #36679
Ah thanks. Right, that happens when you depend/trust into intellisense auto-completition ;)

[2019-04-08 21:57] anurse commented on #36643
`IReadOnlyList<T>` as well. cc @BrennanConroy @davidfowl @rynowak

[2019-04-08 22:01] sbomer opened #36713 "File.Copy accepts a directory on OSX"
The documentation for `File.Copy` says:
[code]
The windows behavior matches the documentation - we get an exception thrown if the second argument is a directory:
[code]

On OSX, passing a directory results in the file being copied into the directory without any errors.

[2019-04-08 22:15] pranavkm commented on #36023
The code in question is trying to deserialize a `IDictionary<string, object>` where `object` is a from fairly limited set of types: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.ViewFeatures/src/Infrastructure/DefaultTempDataSerializer.cs#L48-L63

[2019-04-08 22:18] BrennanConroy opened #36714 "JsonSerializer writing into Utf8JsonWriter"
Currently if you want to deserialize an object into a `Utf8JsonWriter` you need to first parse the object with the serializer, then create a temporary `JsonDocument`, then write the `JsonElement` into the `Utf8JsonWriter`.

There should be a way to do this directly from the serializer and avoid the temporary `JsonDocument`.

[code]

[2019-04-08 22:24] terrajobst commented on #35508
@tarekgh would you mind taking care of this as well?

[2019-04-08 22:37] tarekgh commented on #35508
@terrajobst sure :-) I am happy we are changing this.

[2019-04-08 22:38] JamesNK commented on #36714
Example of it being used to serialize values into a JSON array:

[code]

[2019-04-08 22:40] Anipik opened #36715 "Fixing build for src/shims/manual to use appropriate configurations"
The build for manual shims against netcoreappaot is currently broken. This is due to the fact that some of projects use a different version of System.Private.CoreLib.
We can add ```netcoreappaot``` in all those projects but we have to verify that this is not interfering with other msbuild properties and items being defined.
The error can be reproduced by running ```build.cmd -f netcoreappaot ```

[2019-04-08 22:43] wtgodbe opened #36716 "Drive ApiCompat baseline down to zero for System.Reflection.Emit"
We need to clean up the ApiCompat violations for RefEmit, which are tracked here: https://github.com/dotnet/corefx/blob/47d17e30dcbcdec64ec3b00a23145e20afbb048e/src/shims/ApiCompatBaseline.netcoreapp.netstandardOnly.txt#L8-L57. Attribute violations are acceptable, but we should fix the rest for 3.0.

CC @GrabYourPitchforks @steveharter @ericstj

Related: https://github.com/dotnet/corefx/issues/348

[2019-04-08 22:51] ericstj commented on #36716
Essentially: expose all the Ref.Emit surface area that @terrajobst added to netstandard2.1 in the reference assemblies.

[2019-04-08 22:55] wtgodbe commented on #36716
RefEmit was added to Standard in these PRs:

https://github.com/dotnet/standard/pull/829
https://github.com/dotnet/standard/pull/952
https://github.com/dotnet/standard/pull/999

[2019-04-08 23:02] amkherad opened #36720 "System.Linq.Expressions.Expression.GetType() returns Expression1`1 instead of Expression`1"
### Issue

I have a class in my project which is responsible for simple object mapping operations, each member is a pure+static method to return an expression so I can use it in EF
[code]
I was trying to add a dynamic method to find the member with desired type signature and compile it to Func so the mapping is available outside of the EF
But first I cached all of the members in an static field ca

[2019-04-08 23:39] zamont commented on #33434
@tommcdon can you self-assign / re-assign this particular issue?

[2019-04-08 23:45] tannergooding commented on #36586
`ToString` and `Equals` are likely common methods that would be good to mark as `readonly`. Property getters are likely the other common case where there will be no controversy.

I think other methods will likely be a case by case basis.

[2019-04-08 23:46] jkoritzinsky commented on #36683
Update from my end: Looks like something in this call is causing heap corruption. However, the actual call to the native code is correctly marshalling the arguments in the correct registers. Still investigating.

[2019-04-09 00:15] BrennanConroy opened #36717 "JsonSerializer reading from Utf8JsonReader"
Currently if you want to get an object out of a `Utf8JsonReader` you need to first use the reader with a temporary `JsonDocument`, then pass the `JsonElement.GetRawText()` from that document into the `JsonSerializer`.

There should be a way to do this directly from the serializer and avoid the temporary `JsonDocument` and `GetRawText()` call.

[code]

The requested API would look something like:
[

[2019-04-09 00:16] Wraith2 commented on #30430
I'm getting an exception running the DataAccessPerfomance project in async mode and it seems to be related to a recent change I made in https://github.com/dotnet/corefx/pull/34573 at https://github.com/dotnet/corefx/blob/7b320a0ad1ea83670f561a6ef9231916465bb4b4/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserHelperClasses.cs#L271-L279

The return call is throwing argument null on the

[2019-04-09 00:16] stephentoub commented on #36683
You also recently changed Auto to map to UTF8 on Unix, right?  Might that be interacting here, since this struct is defined as using Auto marshaling?

[2019-04-09 00:24] jkoritzinsky commented on #36683
Somehow it slipped my mind that I also made that change in the same CoreCLR update. I'm 90% sure that would cause this. I'll go test it out.

[2019-04-09 00:28] Gr3yR0n1n commented on #33957
Has this been resolved yet? I'm seeing it in netcoreapp2.1 and netcoreapp2.2, but only when I request HTTPS. HTTP requests seem to work fine.

Thank you,

[2019-04-09 01:01] ahsonkhan commented on #36717
NewtonsoftJson 51.58 -> 39.31. Why did that one change?

[2019-04-09 01:07] BrennanConroy commented on #36717
I'm not sure, that one confused me too. I ran it twice and got the same result.

Maybe benchmark dotnet isn't as sandboxed as it could be
________________________________
From: Ahson Khan <notifications@github.com>
Sent: Monday, April 8, 2019 6:01:24 PM
To: dotnet/corefx
Cc: Brennan Conroy; Author
Subject: Re: [dotnet/corefx] JsonSerializer reading from Utf8JsonReader (#36717)

NewtonsoftJson 51.5

[2019-04-09 01:18] ahsonkhan commented on #36023
And why would `item.Value.TryGetDateTime` / `item.Value.TryGetGuid` not work for you?

[code]

[2019-04-09 01:44] #36683 closed

[2019-04-09 03:10] sgjsakura opened #36719 "NETStandard2.0 libraries referencing types absorbed into NETStandard2.1 cannot be used in NS2.1"
## How to reproduce
In Visual Studio 2019 RTM, create a new .NET Standard library, and set the target framework to ".NET Standard 2.1". Then add a reference to `System.IO.Pipelines` (either the lastest stable version `4.5.3` or beta version `4.6.0-preview3-191128.7`).

## Error message
The type `System.ReadOnlySpan<T>` (or other types defined in `System.Memory` assembly) is defined in both `System

[2019-04-09 03:16] karelz commented on #33957
The issue is opened, so no, it was not resolved yet.
This will be likely non-trivial to chase down and to root cause. If there is a repro, that would speed up things

[2019-04-09 03:28] ahsonkhan commented on #36719
cc @davidfowl, @pakrym, @ericstj, @terrajobst - presumably this won't be a one-off issue given what's in netstandard2.1.

[2019-04-09 03:36] ahsonkhan commented on #36709
System.Json contains a legacy library that isn't actively being worked on (and was mainly ported for compat).

If you are looking to use the new json library that's built-in as part of .NET Core 3.0, its in the System.Text.Json namespace, here: https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/ref/System.Text.Json.cs
https://github.com/dotnet/corefx/tree/master/src/System.Text.Json

[2019-04-09 03:39] ahsonkhan commented on #36686
Thanks for the issue! Good catch :)

Would you be willing to submit a PR for the documentation fix that you have suggested, to match the source?

cc @bartonjs

[2019-04-09 03:45] ahsonkhan commented on #36679
And to your initial question about where the methods exist now, the related extension methods you were looking for are here:
https://github.com/dotnet/corefx/blob/02d4a83f640a802ae34588579ba25e8d77ead8ac/src/System.Memory/ref/System.Memory.cs#L123-L129

`ReadOnlySequence` has the simillar `CopyTo` and `ToArray` extension methods that we shipped in 2.1.

The ToSpan/etc. methods you were looking for

[2019-04-09 04:06] saurabh500 commented on #30430
Ouch. Can you share the stack trace as well? I am not familiar with this code that you have added. I will look at it tomorrow.
Also if you can find a fix that would be great. I think we are close to snapping the master for a release.

[2019-04-09 04:33] ericstj commented on #36719
Yep, expected given the current POR not to absorb the assembly past assembly identities into netstandard2.1.  2 options:
1. Have System.Memory ship a new version that has a facade for ns2.1.  People still need to upgrade the package reference to get this.
2. Include a System.Memory facade in netstandard2.1.

2 is the expectation of our users, since that's what we did for 2.0.

/cc @wtgodbe

[2019-04-09 05:45] aelij commented on #16287
@danmosemsft Could it be added in .NET Core 3.x? I can submit a PR.

[2019-04-09 05:56] chriswelles commented on #36397
I think the issue is that it's natural to want to vary strings/content/html/etc. based upon parameters other than just the "culture" as defined by the OS.  You could say that this is beyond the scope of IStringLocalizer, but then you're stuck building a similar facility above and beyond the built in string localization support, and it's not nearly as elegant.

I've just put some code together wher

[2019-04-09 06:14] safern opened #36722 "Audit that System.Drawing native structs are marshaled with correct Charset"
Auto changed to mean UTF-8 on Unix, we've hit one place were the native code was writing past the buffer because of this. Let's make sure that our Unix native structs in Unix are set to the correct `Charset`.

cc: @stephentoub @jkoritzinsky

Related: https://github.com/dotnet/corefx/pull/36718 and #36683

[2019-04-09 06:15] deokershesh commented on #36692
@wfurt,
Thanks for response. Kindly find more details below.

I made changes in D:\corefx\src\Common\src\Interop\Windows\Interop.Libraries.cs file by adding below line.

internal const string Abc32 = "abcOdbc.dll";

Accordingly changed the System.Data.Odbc code to make sure compilation of System.Data.Odbc module is successful. Later I compiled below sample program successfully and tried to run, it

[2019-04-09 06:20] jkotas opened #36723 "Unintended interactions of SerializationGuard and other features"
The SerializationGuard feature is trying to prohibit certain types of operations during deserialization. However, these prohibited operations can happen and are valid for as features indirectly involved by deserialization. Example of such features include tracing or on-demand assembly loading:

- The tracing often create a new file as side-effect of tracing operations done while the deserializatio

[2019-04-09 06:55] amagrath commented on #36397
I notice that in version 3 of .NET Core, the WithCulture method has been
deprecated:

``
[System.Obsolete("This method is obsolete. Use `CurrentCulture` and
`CurrentUICulture` instead.")] public
Microsoft.Extensions.Localization.IStringLocalizer
WithCulture (System.Globalization.CultureInfo culture);

``

Since CurrentCulture and CurrentUICulture are both "magic" AsyncLocal
variables, it suggests

[2019-04-09 07:25] chriswelles commented on #36397
Magic contextual variables tend to be problematic.  However, in this particular case, it removed a lot of prior complexity.  My biggest concern is some later developers looking at the technique and going (ooh.  This is cool.  I'll just extend this . . . . )  For that very reason, I was quite hesitant before putting it in.  Dangerous coding practices have a nasty tendency to propagate.

[2019-04-09 08:12] valeriob commented on #36631
Hi,
i just created the web app like this :
![image](https://user-images.githubusercontent.com/1522516/55783676-3d8df180-5aaf-11e9-8e0e-27eb86cb1059.png)
i added the app config WEBSITE_WEBDEPLOY_USE_SCM= false because octopus deploy does not work with it and add startup file = "dotnet /home/site/wwwroot/mywebapp.dll

I do not think the code copy itself is the problem, i've the same result if i ftp

[2019-04-09 08:48] TsengSR commented on #36679
@ahsonkhan Thanks.

Was experimenting with the new `System.Memory`/`System.IO.Pipelines` in the past on some toy project and recently was trying to get rid of that old dependency.

[2019-04-09 08:48] #36679 closed

[2019-04-09 10:21] hughbe opened #36724 "Suspicious definition of `LsaOpenPolicy` in Interop code"
We have the following (formatted) definition in `Interop.LsaOpenPolicy`:

[code]

Notice that this takes a `string` as the first parameter.

In the documentation for `LsaOpenPolicy` found at https://docs.microsoft.com/en-us/windows/desktop/api/ntsecapi/nf-ntsecapi-lsaopenpolicy the definition is different:
[code]

Note that the first parameter is a pointer to `LSA_UNICODE_STRING` defined in the do

[2019-04-09 13:09] ConcreteHatstand commented on #36628
So the behaviour documented by Microsoft...

.. is not actually possible for read only files on Linux because setting an exclusive lock on a read only file stream is going to throw an exception.

But it _is_ possible to create a shared lock on a read only file which when in place will block any attempt by another process to get an exclusive lock.  This, of course will not prevent other processes f

[2019-04-09 14:12] st1pps commented on #33643
I have the same problem with EF Core 2.2.3, EF 6 6.2.0 in a .NET 4.6.1 WPF application. Part of the code comes from a custom .NET Standard 2.0 dll.
I'll try to put together a  'working' minimal example asap.

[2019-04-09 16:00] karelz commented on #35145
Performance is important, but should not go over usability. It is a very fine line to walk. Even adding new APIs is not clearly a win. Everything has to be taken into account (incl. developers' confusion which API to use when/why - applies e.g. to Span overloads).

It sounds reasonable high-level, but the devil is in the details. In my experience these things are rarely clear win situations. The p

[2019-04-09 16:18] ViktorHofer commented on #34957
I'll put this onto our infra board and we will discuss it in our next meeting tomorrow. I understand that this is high prio and will keep you updated.

[2019-04-09 16:20] MichalStrehovsky commented on #36723
The more attack vectors we try to guard against in the future, the more unintended interactions this feature is going to have (e.g. writing to registry can be equally dangerous as Process.Start and WriteFile...).

Doesn't leaving things trivially exploitable (so that anyone can write their own POC in a matter of minutes) send a better message about how incredibly dangerous arbitrary deserializatio

[2019-04-09 16:22] filipnavara commented on #34957
In what manifest exactly? I could be missing something, but I downloaded couple of the .zip test packages and I couldn't find the dependencies listed there.

[2019-04-09 16:26] gh0stwizard opened #36732 "CodeDom: GenerateMethod & partial method declaration"
Hi,
I want to generate a method like this with System.CodeDom:
[code]
But it is impossible due the test here https://github.com/dotnet/corefx/blob/3f7071d66f563cc2f0d49d4c9be7dd538c0e24ae/src/System.CodeDom/src/Microsoft/CSharp/CSharpCodeGenerator.cs#L1482-L1483

The definition of MemberAttributes is here https://github.com/dotnet/corefx/blob/3f7071d66f563cc2f0d49d4c9be7dd538c0e24ae/src/System.Cod

[2019-04-09 16:35] #36618 closed

[2019-04-09 16:37] bartonjs commented on #36723
For years docs have said to not deserialize untrusted input.  And for years we've mopped up onesey twosey places with security bugs.  The conclusion was we need to be more proactive.

[2019-04-09 16:41] ViktorHofer commented on #34957
I was talking about the assembly manifest, i.e. for System.Text.RegularExpressions.Tests:

[code]

[2019-04-09 16:46] filipnavara commented on #34957
Ah, that. I assumed you meant some manifest like deps.json which would link to NuGet package names.

There are also some tests for inbox assemblies that try load the outbox assemblies dynamically. A good example of that are the test for `System.Security.Cryptography.CryptoConfig`, which tries to load `System.Security.Cryptography.Pkcs.dll`. That cannot be inferred from the manifest alone.

[2019-04-09 16:49] ViktorHofer commented on #34957
Right, but we don't have a depenedency graph for dynamic dependencies. Usually we use reflection exactly for that reason to not have a dependency from one layer to another. I think having all OOB packages in the runtime directory availble is sufficient, you shouldn't need a more fine-grained dependency manifest, right?

[2019-04-09 16:55] ritchxu opened #36733 "File path and byte array based X509Certificate2 constructors"
I read this article talking about the difference between using two constructors of X509Certificate2 class (Tip 5 http://paulstovell.com/blog/x509certificate2). I did profile the two usages and found the constructor using file path did outpace the other one. But it surprised me that accessing disk is faster than memory (byte array). Is the profiler giving me wrong impression? Does it only apply to

[2019-04-09 16:59] atomaras commented on #20296
I am still unclear as to what the correct workaround should be.

[2019-04-09 17:05] Wraith2 commented on #30430
remediation PR is https://github.com/dotnet/corefx/pull/36735

[2019-04-09 17:08] ViktorHofer commented on #34957
Thanks for letting me know. I think external dependencies should be included in the test output folder, same as we do with xunit. I will add it there for System.Text.Json.

You are right, I just scanned over our runtime references and that's the only external dependencies apart from vstest or xunit dependencies.

[2019-04-09 17:13] lujiaxing opened #36737 "[Android cross-build] Cross compile failed for Android - ARM64"
Hey everyone.

I'm trying to cross-build corefx for Android-ARM64. But i got couple of errors.
Here is output for /src/Native/build-native.sh:

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;expanded from macro 'ST_ATIME_NSEC'
#define ST_ATIME_NSEC(statstruct) ((statstruct)->st_atimensec)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;expanded from macro 'st_atimensec'
#define st_atimensec st_atime_nsec

I've updated

[2019-04-09 17:13] mikernet commented on #20296
My solution is the most correct in situations where http timeouts throw OperationCanceledException.  I can’t reproduce the situation where TaskCanceledException is thrown and nobody has provided a way to reproduce that behaviour, so I say test your environment and if it matches mine then that’s the correct behavior.

If in some execution contexts a TaskCanceledException is thrown then my solution

[2019-04-09 17:42] terrajobst commented on #34631
Looks good! Comments from the review:

* `GCMemoryInfo` should be marked readonly
* We should suffix all members with `Bytes`
* We should normalzie all values into bytes
* `HighMemoryLoadThreshold` should return `long` and be named `HighMemoryLoadThresholdBytes`
* `MemoryLoad` should return `long` and be named `MemoryLoadBytes`
* `Fragmentation` should be `FragmentedBytes`
* `GetTotalBytesAllocate

[2019-04-09 17:45] ahsonkhan commented on #34631
We have `GetAllocatedBytesForCurrentThread()` already. Should `GetTotalBytesAllocated` be renamed to `GetTotalAllocatedBytes` instead, to match?

[2019-04-09 17:49] Maoni0 commented on #34631
@ahsonkhan that sounds good to me!

[2019-04-09 18:08] terrajobst opened #36741 "Consider moving RuntimeHelper.GetSubArray to Array"
This came up as part of #35972.

Following the *a range indexer binds to a method named `Slice`*, we should also change `GetSubArray()` and put it on `Array`. It's a bit weird that it's not an instance member, but we can't make it an extension method on `Array` as the type isn't static. However, it still seems consistent as most array related methods are static.

[code]

@agocke @dotnet/ldm, any t

[2019-04-09 18:13] jaredpar commented on #36741
@davidwrighton as well as he chose the current location (guessing with some reason).

[2019-04-09 18:18] tannergooding commented on #34881
Proposal is to change to `OrderedXxxSignalling` `OrderedXxxNonSignalling`, etc

[2019-04-09 18:19] terrajobst commented on #34881
Works for us.

[2019-04-09 18:21] terrajobst commented on #34631
Updated my comment above to match conclusion.

[2019-04-09 18:28] halter73 commented on #36714
Related, but Utf8JsonReader #36717

[2019-04-09 18:29] mairaw commented on #35009
This might have been fixed with the issues I logged for the .NET Framework IntelliSense release since I don't see this issue on our :
![image](https://user-images.githubusercontent.com/12971179/55825129-37514280-5aba-11e9-869e-3fde29ef54e7.png)

So we need to make sure the IntelliSense files get updated for .NET Core to reflect that.

/cc @safern

[2019-04-09 18:30] terrajobst commented on #36152
Let's remove `IsPersistable` for now and make `Clone()` a no-op. This way, callers can always call `Clone()` before storing it.

[2019-04-09 18:37] eerhardt commented on #26845
FYI to anyone who is following this discussion. We've started a prototype of a .NET DataFrame over in corefxlab.  https://github.com/dotnet/corefxlab/pull/2656. Feedback, contributions, help, etc. would be greatly appreciated.

[2019-04-09 19:02] yahorsi commented on #36691
Try run it on 2.2. to make sure it is not caused by tiered jit

[2019-04-09 19:06] vcsjones commented on #36733
Regarding your benchmark results, can you share them, as well at which operating system and version of .NET Core you ran them on?

[2019-04-09 19:07] ViktorHofer opened #36743 "NET Standard Test Suite"
With https://github.com/dotnet/corefx/commit/0c5594864387aef6d9f6c8842f8a9e476ef39cc3 we added the ability to build a netstandard test suite. It's unclear to me if we still need it as we now take a different road with Mono.

We build and protect it currently as part of the AllConfigurations leg. If we don't need it anymore we should remove it.

Benefits:
- Reduce AllConfigurations leg time
- Remov

[2019-04-09 19:09] mburbea opened #36744 "Cannot resolve method .ctor when using ValueTuples and Expression Trees."
Consider the following simple expression::
[code]

Yields the following exception::

Tuple literal syntax is not allowed in expression trees.

This error happens in netfx 4.7.2 and core 2.2

[2019-04-09 19:31] MgSam commented on #26845
@eerhardt Awesome! You're probably already aware of the work on [Variant](https://github.com/dotnet/corefx/issues/35806#issuecomment-475368931), but IMHO it seems like it could be a great fit for a DataFrame to avoid boxing in the common case when you're working with primitive value types.

[2019-04-09 19:33] vcsjones commented on #32978
@bartonjs

I took a look at other implementations including [BouncyCastle][1] and it seems they do not wrap the contents in an octet string before encryption. BouncyCastle is taking the contents, a `CmsProcessable` and shoves it through a `CryptoStream`.

I would then suggest we make the following changes.

1. Remove the call to [`EncodeOctetString(toEncrypt)`][2] during encrypt.
2. Leave `Decrypt

[2019-04-09 19:34] GSPP commented on #27682
An argument can be made for providing the highest possible performance alternative (likely `ValueTask`): Who still uses raw ADO.NET these days? That is rare. Normally, people use an ORM or a thin wrapper such as Dapper. Inconvenient APIs are hidden from most callers.

[2019-04-09 19:48] MgSam commented on #27682
@GSPP Tons and tons of people still use ADO.NET. There are huge classes of developers that refuse to use anything that is not shipped with .NET. Not to mention all the legacy code out there.

[2019-04-09 19:49] kccsf commented on #5681
I have some code that is generating and streaming a zip archive on the fly, which fails if AllowSynchronousIO is false, which is the default from core 3.0.0-preview3 onwards:
    https://github.com/aspnet/AspNetCore/issues/7644

System.InvalidOperationException: Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead.
   at Microsoft.AspNetCore.Server.IIS.C

[2019-04-09 19:50] roji commented on #27682
@GSPP can you explain how your argument that users don't usually use ADO.NET directly related to this issue? At least at this point it isn't really recommended to add APIs everywhere that return non-generic ValueTask, as it is very unlikely that this would help perf in any way (it would actually degrade perf in some cases compared to returning non-generic Task).

There's also a direction of though

[2019-04-09 20:03] upixsoul opened #36979 "HttpWebRequest.ServicePoint.Certificates is null on .NET Core"
I have been doing some test migrating .NET Framework 4.6.2 apps to .NET Core 2. I noticed that this particular app, a monitoring http is not working fine with Net Core 2. Can you please help me to verify what is happening?

[code]

in the .NET Framework 4.6.2 i see the certificate data, in the .NET Core 2 i see myhttpWebReqest.ServicePoint.Certificate null ... do you know why?

you can see the sam

[2019-04-09 20:09] Symbai commented on #36691
On 2.2 I get a performance difference:

[code]

| Method |     Job | Runtime |     Toolchain |    Mean |    Error |   StdDev | Rank |       Gen 0 |     Gen 1 |     Gen 2 |  Allocated |
|------- |-------- |-------- |-------------- |--------:|---------:|---------:|-----:|------------:|----------:|----------:|-----------:|
|    Run | Default |    Core | .NET Core 2.2 | 5.973 s | 0.0171 s | 0.0152 s |

[2019-04-09 20:32] jtkukunas commented on #34157
Could you try the branch sparsedatafix at jtkukunas/zlib and verify whether it resolves this issue? Thanks. https://github.com/jtkukunas/zlib/tree/sparsedatafix

[2019-04-09 20:48] GrabYourPitchforks opened #36746 "API: Sse2.StoreLow long/ulong overloads should be renamed to Sse2.StoreScalar"
__Proposed API modifications:__

[code]

These API suggestions follow the existing parameter naming conventions for `StoreScalar(double* address, Vector128<double> source)`. See also [Intel Intrinsics Guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#techs=SSE2&text=movq&expand=5574,3324).

__Old issue:__

/cc @tannergooding, who originally identified this offline yesterday.

Ap

[2019-04-09 20:52] tannergooding commented on #36746
I don't think we can move these directly. However, we could likely expose `void ConvertToInt64(long* address, Vector128<float> value)` overloads that store directly to memory.

`ConvertToInt64` is a bit special and is the only one I know of in this category. It actually has two separate encodings. The one we are exposing in `X64` is the `movd/movq` overload that can operate on `reg/mem, reg`. Ther

[2019-04-09 20:52] tannergooding commented on #36746
CC. @CarolEidt

[2019-04-09 20:55] tannergooding commented on #36746
@GrabYourPitchforks; could you update the original post to make this an API proposal matching the signature I gave above (and including any other `ConvertToInt64` overloads)?

[2019-04-09 20:58] Gr3yR0n1n commented on #33957
Further research shows that most of the issues may not be specific to corefx. I was able to get other requests working with a much simpler example. I'm unable to share the projects due to the nature of the environment I'm working in and it's security requirements. I can say the only area I'm now having an issue with is using client side x509certificates. Those request I'm unable to get working on

[2019-04-09 21:13] GrabYourPitchforks commented on #36746
@tannergooding and I spoke offline. Will update the proposal.

[2019-04-09 21:16] am11 commented on #2046
@wolfspider, with minimal patch: https://github.com/dotnet/corefx/compare/master...am11:freebsd-ci, it downloads the SDK for FreeBSD, but subsequently fails while executing `FindBestConfigurations` MSBuild task:

excerpt from: https://cirrus-ci.com/task/5077103698509824

<details>
  <summary>expand..</summary>

[code]
</details>

This was tested on FreeBSD 11.2. If we switch to FreeBSD 12.0 in Cir

[2019-04-09 21:17] wfurt commented on #35466
I hit something very similar as original #35422

[code]

I have some idea how to write test  and expose at least some of it.
I think we should bring it back to 3.0 @karelz

[2019-04-09 21:25] wfurt commented on #2046
I think minimal implementation would be good. Having same behavior as Mono is also good as we are heading to convergence in general between corefx and Mono.

As far as the build: I need to update build instructions.
While back when I tested it, I could not build corefx with 3.0 even of supported platforms. That may have changed. As 3.0 looms closer I was unable to find enough time to keep everythi

[2019-04-09 21:27] Grauenwolf commented on #27682
Even those who use ORMs still need to drop down into ADO.NET for legacy databases, especially if they have stored procedures.

[2019-04-09 21:33] ericstj commented on #34157
Thanks @jtkukunas.  I've ported your fix over to corefx and am rerunning the measurements (same machine same build).  I'll post updated results later today.

[2019-04-09 21:33] tannergooding commented on #36746
@GrabYourPitchforks, I think it is just the `StoreScalar` overloads that are missing. We are exposing the `LoadScalarVector128` ones already: https://source.dot.net/#System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse2.cs,799

[2019-04-09 21:34] tannergooding commented on #36746
And, actually. It looks like we already have the `StoreScalar` versions as well: https://source.dot.net/#System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse2.cs,1453

[2019-04-09 21:37] tannergooding commented on #36746
Given that we do expose the API; but it is called `StoreLow` (and there is no equivalent `StoreHigh`), it should probably be renamed to `StoreScalar`....

[2019-04-09 21:38] Paiza28 commented on #36743
248-246125-6
พัฒนัย สกุลรักษ์

[2019-04-09 21:40] safern commented on #36743
cc: @joperezr who added it.

[2019-04-09 21:46] tannergooding commented on #36746
Thanks! I think this looks good/correct now.

[2019-04-09 21:57] wtgodbe commented on #34864
@terrajobst this is done, correct?

[2019-04-09 22:00] terrajobst commented on #34864
Yes. @rrelyea confirmed via email that this work was done for in 16.0 rc/preview4.

[2019-04-09 22:00] #34864 closed

[2019-04-09 22:00] GrabYourPitchforks opened #36749 "API proposal: BinaryPrimitives.ToLittleEndian / FromLittleEndian"
There are some scenarios (see https://github.com/dotnet/coreclr/pull/21948#discussion_r273272627) where we want to take a value in machine-endian order and convert it to little-endian. This is the opposite of normal APIs like `htonl` and `ntohl`, which convert between machine-endian and big-endian.

__Proposed API additions__

[code]

There would be overloads matching the existing overloads on `Re

[2019-04-09 22:22] pranavkm commented on #36023
Ahh neat, I didn't know those were already there.

[2019-04-09 22:28] #36687 closed

[2019-04-09 22:31] wfurt commented on #28790
closed by #35574

[2019-04-09 22:31] #28790 closed

[2019-04-09 22:32] tannergooding commented on #34881
We should probably go with @benaadams proposal for the ordering of the SSE/SSE2 intrinsics. That is, `CompareScalarOrderedXxx`.

The reasoning is that for the `FloatComparisonMode` enum, we have two methods that take it `Compare` and `CompareScalar`. The enum then has values like `OrderedXxx` and `UnorderedXxx` (with Signalling and NonSignalling suffixes).

I ran this by @terrajobst and @GrabYourP

[2019-04-09 22:32] bartonjs commented on #32978
@vcsjones I believe the answer I'm looking for is

![Make it so](https://media3.giphy.com/media/bKnEnd65zqxfq/giphy.gif)

[2019-04-09 22:41] ericstj commented on #35151
Got a repro of this in WSL.  Will investigate and fix.

[2019-04-09 22:44] wfurt commented on #27936
Can we figure out if there is still problem @MichaelSimons @leecow ?  This issue seems pretty old and Ubuntu18 was fixed.
Perhaps this could be closed. Also since Tumbleweed is rolling version, I'm not sure if we can ever make this 100% reliable.

[2019-04-09 22:45] safern commented on #35009
This is fixed in the latest .NET Core version. I just validated with `Microsoft.NETCore.App (3.0.0-preview4-27609-07)`

![image](https://user-images.githubusercontent.com/22899328/55839917-742f3080-5ade-11e9-8e33-f6b6e74b4da8.png)

Should be fixed in the latest SDK.

[2019-04-09 22:45] #35009 closed

[2019-04-09 22:54] tannergooding commented on #36749
My vote is yes.

[2019-04-09 23:28] ericstj commented on #34157
Here's updated timing data for the new run.  I also updated the size data in place here: https://gist.github.com/ericstj/9b33d22bb19ae6aa463a3788c8c97b76

The fix appears to give size improvements in most cases, no size regressions, and the perf seems comparable to what we had before.  Seems like a good fix to take.

It still doesn't give parity with deflate_slow for some of the "real world" spars

[2019-04-09 23:52] rymeskar opened #36754 "System.Buffers: .NET Standard Shims appear in the build output for .Net framework 4.6.1 project"
**Invariants:**
* [System.Buffers](https://www.nuget.org/packages/System.Buffers/) nuget is multi-targeting and has specific no-dependency target for .Net framework 4.5.
* Project in question targets .Net framework 4.6.1
* Nuget should prefer any suitable target from .Net framework family (thus the 4.5 target)

**Repro:**
1. Create new 4.6.1 class library project
2. Install System.Buffers package

[2019-04-10 02:43] migueldeicaza commented on #27417
Sure - that could work, except RID currently does not cover some of the scenarios already described above.

In any case, the inspiration might come from RIDs, but needs to ultimately be surfaced here.

[2019-04-10 03:12] karelz commented on #36508
@Lxiamail please do not remove area lables without setting new ones. Replacing is fine, but each issue should have exactly 1 area label. Thanks!

[2019-04-10 03:13] karelz commented on #36508
@GrabYourPitchforks if the APIs exist, what is this issue tracking?

[2019-04-10 03:30] eerhardt commented on #27417
Can you elaborate on which scenarios aren’t supported by the RID concept/design? Do you mean just adding the above platforms (iOS, switch, tvOS, etc) to the graph? Or is there something lacking about the design?

In my opinion it makes more sense to have a graph of these platforms which can be serviced/added to over time, as opposed to new C# properties for each supported platform. That way we don

[2019-04-10 04:43] jkotas commented on #36723
I agree with that. However, it still need to work properly. This feature does not work properly and it is a dead-end design as @MichalStrehovsky pointed out.

[2019-04-10 04:54] GrabYourPitchforks opened #36758 "System.Globalizations.Extensions unit tests fail on Win10 1903 (19H1) builds"
The test project helper method `GetIdnaTestTxt()` special-cases the current OS version to select the appropriate Idna test data file. It looks like the underlying OS behavior changed in 1903 (19H1) and the test data needs to be updated.

I've copied one such failure below.

[code]

(My machine is 18362.53.)

[2019-04-10 05:05] krwq commented on #36732
@gh0stwizard, I don't believe this is currently supported. Note that `partial void` is not the type (although it does allow working around adding partial keyword). The proposed fix might allow you to workaround the limitation but is not correct. The proper fix would be probably to add something representing partial method, i.e. `CodeMemberPartialMethod`.

My recommendation would be to instead of C

[2019-04-10 05:12] GrabYourPitchforks commented on #36508
I think this issue is tracking the ability to perform endianness-aware serialization of the member fields of unmanaged structs. This isn't something we'd add to the framework, especially given the safety / reliability concerns mentioned previously in this thread. If a struct is being shuttled around within the same process, a simple bitblt (without regard to endianness) would suffice. And if a str

[2019-04-10 05:12] #36508 closed

[2019-04-10 05:59] GrabYourPitchforks commented on #36758
Looks like Win10 19H1 uses the Unicode 11.0 IDNA tables (still tracking down changes in the OS repo to confirm this). We might have to refactor how the tests work on our side since the format of the IdnaTest.txt file changed between Unicode 9.0 and Unicode 11.0.

[2019-04-10 06:52] gh0stwizard commented on #36732
@krwq,

Yes, you are correct.

I am able to do this in the current project, I would try Roslyn then. Thank you for quick response. You may close this issue if you wish.

[2019-04-10 06:59] krwq commented on #36732
Thanks @gh0stwizard!

[2019-04-10 06:59] #36732 closed

[2019-04-10 07:19] GrabYourPitchforks commented on #36723
Re: assembly load, I don't think the Serialization Guard feature blocks all assembly loads. I think it's just the `Assembly.Load(byte[])`-related overloads that are blocked. Is this impacting a mainline scenario?

[2019-04-10 07:28] thomaslevesque commented on #20296
@mikernet wether `TaskCanceledException` or `OperationCanceledException` is thrown is largely irrelevant. That's an implementation detail you shouldn't be relying upon. What you can do is catch `OperationException` (which will also catch `TaskCanceledException`), and check whether the cancellation token you passed is canceled, as described in Hobray's comment (https://github.com/dotnet/corefx/issu

[2019-04-10 07:29] josteink commented on #2046
I did [submit a fix](https://github.com/dotnet/core-setup/pull/5072) for this. Has there been no new “official” SDK build since then, or was the fix insufficient?

[2019-04-10 07:32] MichalStrehovsky commented on #36723
Load from byte array is how people do "single-file" deployments right now. E.g. the NuGet credential provider for Azure embeds its dependent assemblies as resources, hooks up `AppDomain.AssemblyResolve`, and satisfies assembly resolution requests from the embedded assemblies. The embedded assemblies are loaded from a byte array.

[2019-04-10 07:40] GrabYourPitchforks commented on #36723
I bet we could make that scenario work. Should we use this issue to track it?

[2019-04-10 07:43] TIHan commented on #29254
I think I am having this problem for FSI (F# Interactive). I discovered this while working on this PR: https://github.com/Microsoft/visualfsharp/pull/6213 ; I built a test on `ReadOnlySpan` using FSI as a script runner, but the test is failing due to missing method, `get_Item` which requires the `modreq`.

FSI uses System.Reflection.Emit to emit IL dynamically. This means F# interactive will fail

[2019-04-10 07:47] mikernet commented on #20296
@thomaslevesque I've already addressed why that approach is a problem. Without addressing that, your comment isn't very useful - it's merely rehashing statements before I joined the conversion without addressing the problem I described.

As for "that's an implementation detail" - yes it is, but unfortunately I have to rely on it because otherwise there isn't a good way to determine whether the tas

[2019-04-10 07:49] MichalStrehovsky commented on #36723
I think the point that Jan is making is that every single blocking we add is going to have unintended interactions (including the blocking of file writes, and whatever else we decide to block later - it's not just about `Assembly.Load`). This issue tracks the whole category.

It will be especially problematic if this blocking is looked at as a security feature. E.g. we didn't block registry writes

[2019-04-10 08:03] GrabYourPitchforks commented on #36723
We're not interested in closing every possible exploit vector. We're just interested in closing the ones that keep coming up over and over and over again in the security cases reported to us. File writes, assembly loading, and process start tend to be the ones we see in practice since for better or worse developers love writing deserialization ctors that directly or indirectly kick off one of thos

[2019-04-10 08:09] mikernet commented on #20296
Also, in terms of the exception type being an implementation detail...I don't really think that's true for exceptions, at least not in terms of well established .NET documentation practices. Name one other example in the .NET Framework where the documentation says "throws exception X when Y happens" and the framework actually throws a *publicly* accessible subclass of that exception, let alone a p

[2019-04-10 08:09] thomaslevesque commented on #20296
@mikernet sorry, I missed that part of the discussion. Yes, there's a race condition I hadn't thought about. But it might not be as big of a problem as it seems... The race condition occurs if the cancellation token is signaled after the timeout occurs but before you check for the token's state, right? In this case, it doesn't really matter if a timeout occurred if the operation is being canceled

[2019-04-10 08:19] mikernet commented on #20296
@thomaslevesque Well yes, but I kind of addressed that. It may or may not be important for some applications. In mine it is though. The user of my library method isn't expecting `OperationCanceledException` when they cancel a task - they are expecting `TaskCanceledException` and they should be able to catch that and be "safe". If I check the cancellation token, see that it was cancelled and pass o

[2019-04-10 08:27] MichalStrehovsky commented on #36723
People use Process.Start and file writes because it's the most straightforward thing. Take that away, and people will just find the next straightforward thing (registry, WMI, whatever). It's easy to anticipate the next step here.

If we go and block the next straighforward thing too, it adds to the argument of getting unintended interactions in many places. If we don't block it, this feature becom

[2019-04-10 08:40] mikernet commented on #20296
I guess I could catch `OperationCanceledException` and check the cancellation token - if it's been canceled then also check the type of exception to make sure it's a `TaskCanceledException` before rethrowing to avoid the whole program crashing thing. If any of those conditions is false then it must be a timeout. Only problem left in that case is the race condition which is subtle, but when you hav

[2019-04-10 09:24] ViktorHofer commented on #36758
Yeah I was hitting that too and that's expected. I did the update the last time but hadn't had time yet to update the IDNA table for 19H1.

[2019-04-10 09:51] jeremyVignelles commented on #519
Is it a duplicate of #10013 or am I missing something?
That issue has a formal API defined and offers methods for the reverse conversion.

[2019-04-10 10:00] mfalkvidd commented on #519
@jeremyVignelles 10013 was created 1.5 years after this issue was created, and has a significantly larger scope. The larger scope might delay implementation and might therefore be a less desirable solution. But if 10013 was implemented, it would solve this issue as well.

[2019-04-10 10:23] deokershesh commented on #36692
Any help/input please? We are stuck, any help/pointers would be highly appreciated.
Thanks

[2019-04-10 11:04] RaZeR-RBI opened #36761 "System.Console: KeyAvailable returns False for Backspace on Linux"
**OS Version:** Debian GNU/Linux 8 (jessie) x86_64-linux-gnu

**Tested .NET versions:**
- 2.1.300
- 3.0.100-preview3-010431
On all specified versions the issue was reproducible.

**Summary**
When using the `Console.KeyAvailable` property in order to implement non-blocking console input, the property is not being set to `true` when Backspace is pressed. The same code (see example) when being run on

[2019-04-10 11:21] jackimburgia commented on #26845
Good luck with the new effort.  I open sourced the Data Frames project I worked on for reference:

https://github.com/jackimburgia/Frames/tree/master/src

[2019-04-10 11:24] NodeAdam commented on #33957
@karelz

Sorry I may not be understanding the issue but isn't the problem that the initial exception isn't being wrapped in the rethrow?  Can't we just call the OperationCanceledException constructor that takes an exception as argument and the problem is solved?

[2019-04-10 14:10] #36686 closed

[2019-04-10 14:13] AlanParr commented on #34465
Would be happy to submit a PR for this if the above resolution is acceptable.

[2019-04-10 14:47] eerhardt commented on #31002
If we go forward with the plan of moving all "RID"-related APIs into the DependencyModel library, would we be able to close the issue https://github.com/dotnet/corefx/issues/27417? And tell anyone who wanted to do this broad of platform detection to use the DependencyModel library? (After we added platform detection into DependencyModel for all the platforms listed in that issue.)

cc @migueldeica

[2019-04-10 15:26] karelz commented on #34465
@maryamariyan @safern any thoughts?

[2019-04-10 15:28] am11 commented on #2046
Seems like this is the case; FreeBSD was disabled in official SDK build matrix on January 8 due to some problems: https://github.com/dotnet/core-sdk/issues/248.

---

I made a slight progress by applying https://github.com/dotnet/corefx/pull/36766. The next errors are related to missing (preview5) runtime packages, ILAsm, CoreCLR and friends:

To get unblocked, I think there are at least two possi

[2019-04-10 15:28] marcoplaut commented on #18276
Is it already available on .net core 3.0 preview ? any preview preview release targeted for that feature ?

[2019-04-10 15:36] karelz commented on #33957
@NodeAdam if you think you have a fix, please submit a PR. Having a repro to validate (even if it is just in specific environment) would be great.

[2019-04-10 16:02] ericstj commented on #29900
Right now the POR is that we generate facades in both corefx, winforms, wpf.  We allow winforms and wpf to "win" by ensuring they have higher file-versions.

[2019-04-10 16:02] #29900 closed

[2019-04-10 16:05] Poutche commented on #33643
Same problem here. EF Core 2.2.4 on .NET Framework 4.61 in a  winforms app. Occurs in Mycontext.MyDbSet.Load() (SqlExpress).

My first steps with Entity Framework... grrr... ;)

The  Microsoft.EntityFrameworkCore.dll (version 2.2.4.0) has a reference to System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a (unresolved)...
App.Config:
<?xml version="1.

[2019-04-10 16:07] steveharter commented on #34372
I believe that decision is closed. cc @terrajobst

However other feedback is whether `System.Text.Json.Serialization` should be a sub-namespace of the reader\writer\document that is in `System.Text.Json` based on how to best factor higher-level functionality (serializer) vs lower-level (reader\writer).

[2019-04-10 16:10] wfurt commented on #2046
This goes all  the way to https://github.com/Microsoft/azure-pipelines-agent/pull/1906
We need the agent to run the builds and without it it hard to push on infrastructure.

[2019-04-10 16:13] ericstj commented on #36754
This is expected.  System.Buffers is a .NETStandard2.0 library.  .NETStandard2.0 is supported on .NET 4.6.1 but is not inbox.  As such, the build infrastructure in MSBuild/,NET SDK adds all the shims to the application.

[2019-04-10 16:13] #36754 closed

[2019-04-10 16:17] ericstj commented on #36692
This is due to the library-loading behavior in .NETCore.  CoreCLR only probes native binaries that appear in the deps file.  @vitek-karas is there any workaround to build a .NETCore app and get it to pinvoke to a native library that doesn't come from a nuget package / appear in the deps file?

[2019-04-10 16:30] ericstj commented on #36715
@Anipik removed the netcoreappaot configurations with https://github.com/dotnet/corefx/commit/e9d1a10ed1d38a8b1ed599b3b5be09b8349f8ea8.

The remaining problem here is that the manual shims build against implementation assemblies, which differ by TargetGroup & OSGroup but the manual shims only list TargetGroup in their configurations.  As a "shortcut" they use the OSGroup of the overall BuildConfig

[2019-04-10 17:05] joshfree opened #36768 "Add DebuggerDisplay/DebuggerTypeProxy to JSON reader / writer / dom"
Tracking issue for creating the debugger visualizer of JSON reader/writer/document

As an example of how to get started, see https://github.com/dotnet/corefx/blob/95fa11b014ff7eeffdb325a7a0b3aa3afacc2f4a/src/Common/src/CoreLib/System/Span.cs#L19-L20

[2019-04-10 17:09] rymeskar commented on #36754
Hi @ericstj

[System.Buffers](https://www.nuget.org/packages/System.Buffers/) does supply the .NET framework 4.5 target according to nuspec.

![image](https://user-images.githubusercontent.com/8701120/55898932-ef1e4700-5bc3-11e9-91a6-6dec58031ab8.png)

Or you mean different support?

[2019-04-10 17:09] maryamariyan commented on #34465
@AlanParr a PR with that change sounds good. You can cc myself and @safern on the PR once it's available.

[2019-04-10 17:10] ericstj commented on #36743
Lets ask the mono / Xamarin folks if they plan to use it.  If not, then I think we can turn it off.

[2019-04-10 17:11] ericstj commented on #36743
@marek-safar do you plan to use this for Mono / Xamarin TFMs?  If not, then I think we can turn it off.

[2019-04-10 17:14] AaronRobinsonMSFT commented on #36692
@deokershesh As @ericstj mentioned updating the corresponding `.deps.json` would work or supplying a callback (https://docs.microsoft.com/dotnet/api/system.runtime.loader.assemblyloadcontext.resolvingunmanageddll) on the [default ALC](https://docs.microsoft.com/dotnet/api/system.runtime.loader.assemblyloadcontext.default) will also give you a chance to discover the native library.

[2019-04-10 17:14] jeffschwMSFT commented on #36692
There are 4 ways that we find native binaries:
1. Via a relative path that is part of the deps.json
2. If the native binary is next to the .NET assembly
3. Via callbacks on AssemblyLoadContext
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.loadunmanageddllfrompath?view=netcore-3.0
(new in .NET Core 3.0) https://docs.microsoft.com/en-us/dotnet/api/system.runti

[2019-04-10 17:30] ericstj commented on #35610
Closing per:

[2019-04-10 17:31] ericstj commented on #35608
@AaronRobinsonMSFT this is similar to https://github.com/dotnet/corefx/issues/35610.  Can you let us know if the same conclusion applies?

[2019-04-10 17:32] ericstj commented on #35607
@dreddy-work @Tanya-Solyanik @DustinCampbell Can you let us know if the toolbox / winforms designer depends on having ToolBoxItemAttribute on our reference assemblies?

[2019-04-10 17:35] ericstj commented on #35601
Thanks!

[2019-04-10 17:35] #35601 closed

[2019-04-10 17:37] ericstj commented on #35603
I suspect that this is safe to remove from references.  @jkotas @jaredpar does that sound correct?

[2019-04-10 17:43] ericstj commented on #35599
We can do this now by downgrading the native package versions and restoring them from the feed (eg: the last corefx build)

[2019-04-10 17:45] ericstj commented on #35157
I need to come up with some sort of spec for this.

[2019-04-10 17:48] ericstj commented on #35156
Need to spec this.

[2019-04-10 17:48] AaronRobinsonMSFT commented on #35608
@ericstj Same conclusion. Thanks.

[2019-04-10 17:51] ViktorHofer commented on #34957
@filipvavara one thing that came up during our meeting, is it possible for you guys to restore the OOB packages with the right tfm (netcoreapp) or would you prefer an archive with the actual assemblies?

[2019-04-10 17:51] ericstj commented on #32467
@BruceForstall will this still be an issue under the new test process in Azure DevOps?

[2019-04-10 17:53] ericstj commented on #30960
This is related to the harvesting changes you're making (including for source build).  It would be good if we had an APICompat step that ensured the live built asset matched the harvested asset.

[2019-04-10 17:55] MichaelSimons commented on #27936
cc @dagood - dev owner of .NET Linux packages.

[2019-04-10 17:55] ericstj commented on #30728
@ViktorHofer what do you think about this?  How do you imagine this intersects with the goals of disabling netfx configurations and reducing the number of configurations to maintain?

[2019-04-10 17:57] ericstj commented on #29412
I believe @ViktorHofer is deleting this package which will make this issue moot.

[2019-04-10 18:01] vcsjones opened #36771 "Linux outerloop tests failed to start"
While attempting to run linux outerloop in PR #36770 the tests did not run with the following output:

One or more errors occurred.

[2019-04-10 18:01] vcsjones commented on #36771
/cc @safern

[2019-04-10 18:02] tannergooding commented on #35610
These attributes can be used at compile time by analyzers.

[2019-04-10 18:04] terrajobst commented on #34126
That seems quite reasonable to me. Let's take a look for Tuesday.

[2019-04-10 18:08] tannergooding commented on #35603
This is another case where I think analyzers looking for these are not uncommon.

[2019-04-10 18:14] ericstj commented on #36754
That's not the assembly, that's the dependency group.  The current behavior is intentional and expected.  This library doesn't explicitly target .NETFramework and is providing a netstandard2.0 assembly when installed in a net461 project.

[2019-04-10 18:25] ericstj commented on #35610
Analyzers can look at anything, including method bodies if they really want to, but that doesn't mean we should preserve everything.  We need to have a non-hypothetical scenario for adding them.

[2019-04-10 18:27] BruceForstall commented on #32467
@echesakovMSFT Can you answer @ericstj 's question? My guess is the problem is lessened.

IMO, the problem still exists when running tests locally, if the output is still interleaved.

[2019-04-10 18:33] tannergooding commented on #35610
This attribute can be used by an analyzer to help ensure you declare your COM interop interfaces correctly. Inheriting COM interfaces is peculiar because of how you need to redeclare all methods defined in the base interface and needing to match the signatures.

I've used this attribute in my own analyzers to help this before.

[2019-04-10 18:34] safern commented on #36771
@vcsjones sorry about that. Taking a look now.

[2019-04-10 18:42] dagood commented on #27936
.NET Core doesn't support openSUSE Tumbleweed. (Recent issue about it: https://github.com/dotnet/core-setup/issues/5662.)

The libcurl dependency was removed before 2.1.0 by https://github.com/dotnet/core-setup/pull/3966, so this particular issue isn't a problem anymore.

(Interesting tip about `or` dependencies @janvorli, adding it to my toolbox. 😄)

[2019-04-10 18:42] #27936 closed

[2019-04-10 18:42] ahsonkhan commented on #36768
Related: https://github.com/dotnet/corefx/issues/34663

[2019-04-10 18:52] jtkukunas commented on #34157
Thanks @ericstj for compiling this data.

Out of the 49 test cases, it appears that 44 are what I would consider to be on-par in terms of compression ratio, ranging from slightly better to 1-2% larger. Of the remaining 5 cases, I see ukkonooa (3% larger), kennedy.xls (5% larger), TestDocument.txt (8% larger), smile24.bmp (63% larger), and quickfox_repeated (65% larger). I'm familiar with kennedy.x

[2019-04-10 18:58] safern commented on #34465
Yeah, so I spoke with @ericstj and this is a regression of trying to cleanup dead code: 

https://github.com/dotnet/corefx/commit/c1f5a3396837d6e3837e7ca1ae254abeae273a79

However this is not dead code because this is called from the WPF runtime but because nobody within the framework uses it the linker might have been deleting the code and so therefore as part of cleaning up dead code in https://

[2019-04-10 18:59] #36771 closed

[2019-04-10 19:25] tannergooding commented on #35603
This is also a case where it can impact interop scenarios and where it is already defined alongside the struct (rather than being a UserDefined attribute) today.

[2019-04-10 19:27] echesakovMSFT commented on #32467
@BruceForstall Can you remind me when we see the interleaved output in Jenkins? Does it come from summary messages that get printed for different test assemblies? If so, then moving to Azure DevOps should help - since we will be running each assembly on a different test machine. However, if we decide to group some of those assemblies to the same Helix payload then it's still going to be an issue.

[2019-04-10 19:31] tannergooding commented on #35608
Can't this be used (and was used on full framework) to generate interop libraries?

I think, in general, attributes from `System.Runtime.CompilerServices` and `System.Runtime.InteropServices` should be kept; as they are used heavily by existing tools.

[2019-04-10 19:36] bartdesmet commented on #36744
Seems like a duplicate of https://github.com/dotnet/roslyn/issues/24517. There have been several reports of this and it'd be great if this were addressed sooner than later.

[2019-04-10 19:42] filipnavara commented on #34957
Currently the Mono setup mixes downloading the assets through curl, python scripts and NuGet (for Microsoft.Private.CoreFx.NETCoreApp package). Downloading an archive and extracting it is easiest, but NuGet is also an option. I assumed the same packages are going to be consumed by CoreCLR, so that may affect the decision too.

[2019-04-10 19:48] BruceForstall commented on #32467
It happens in the console output when we use the normal corefx test runner (e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/826/consoleText). When we run using our own test running scripts (arm32/arm64), we've implemented de-interleaving in those scripts to avoid the problem.

[2019-04-10 19:55] ericstj commented on #35608
Suppose we bring it back, how do you suppose we treat the types of changes that were made in .NETCore that removed COMVisibility of runtime types?  /cc @jkotas

Do we say "no" to those types of changes moving forward since that changes public surface area?

[2019-04-10 19:57] ericstj commented on #35603
Does adding this to the reference assemblies limit the types of changes we can make in the future that previously would have been considered compatible?  If no, then it seems reasonable to add back.

[2019-04-10 20:11] ericstj commented on #35610
That's fair.  Do you expect it would limit our ability to make changes in the future?

[2019-04-10 20:17] jkotas commented on #35608
The reference assemblies are meant to capture only stuff relevant to managed compilers. COM visibility is not relevant to managed compilers, thus it does not make sense to capture COM visibility in reference assemblies.

[2019-04-10 20:17] #35608 closed

[2019-04-10 20:17] agocke commented on #36741
Honestly, I don't care. I'd keep it where it is, since that's the easiest solution.

[2019-04-10 20:18] jkotas commented on #35608
Examples?

[2019-04-10 20:19] ericstj commented on #34157
Most of these data files are here: https://github.com/dotnet/corefx-testdata/tree/master/System.IO.Compression.TestData/UncompressedTestFiles

Smile24.bmp was a file I created to demonstrate this issue. [smile24.zip](https://github.com/dotnet/corefx/files/3065687/smile24.zip)

I was also able to test your change on a partner provided data file and found that it addressed the concern that originall

[2019-04-10 20:26] jkotas commented on #35603
In wast majority of cases, the struct layout is internal implementation detail and it does not make sense to include it in reference assemblies.

In the very rare cases where the struct layout is really part of the public contract (e.g. the struct has public overlapping fields with explicit offsets), I think it is fine to expose the struct layout in reference assembly. However, I do not think it i

[2019-04-10 20:31] jkotas commented on #35603
Do you have specific real-world examples for these?

[2019-04-10 20:37] krwq commented on #35599
will take a look whenever got time

[2019-04-10 21:02] tannergooding commented on #35603
I'm unsure of first party analyzers, but I've written an analyzer to help catch cases like using structs marked `LayoutKind.Auto` in a P/Invoke signature (this throws at runtime).

I don't think that we generally include `StructLayout` in our public APIs; and go with the default. The exception to this is cases like explicit interop scenarios where it is likely important to preserve.

[2019-04-10 21:20] jtkukunas commented on #34157
Okay. Thanks. Will take a look at those files.

For reference, the new zlib release that includes these fixes is v1.2.11.1_jtkv6.3 (https://github.com/jtkukunas/zlib/releases/tag/v1.2.11.1_jtkv6.3)

[2019-04-10 21:25] blumu commented on #35866
@danmosemsft This is for github project FSharpLu (https://github.com/Microsoft/fsharplu/blob/master/FSharpLu/FSharpLu.fsproj). It's a library project so it's not targetting any particular version of netcore. It currently targets frameworks `netstandard2.0` in addition to `net452`, `net461`. `net462` and `net472`.

The package `System.Diagnostics.TextWriterTraceListener` is referenced as follows in

[2019-04-10 21:41] JamesNK commented on #36351
What does `DictionaryKeyCaseInsensitive` do? It makes sense for a property, you're searching for a property and falling back to using case insensitivity if you can't find an exact match. With a dictionary you're just setting key/values into a dictionary.

[2019-04-10 21:42] tarekgh commented on #36691
Here what I got on my machine:

[code]

Looks 4.7.2 and core 2.2 close to each others but core 3.0 have some improvements.

[2019-04-10 21:47] JamesNK commented on #36351
[code]

I'm not a fan of using a `Func<string, string>` for two reasons:
1. Very few people will ever use it, and those that do use it to support camel/snake/kabab case will probably need more code than you want to put in a method to achieve correct naming.
2. You can't refer to a policy created in code via an attribute. A real type would let people reference the policy in an attribute: `[JsonNami

[2019-04-10 21:58] ViktorHofer commented on #34957
Ok. The reason I'm asking is because we were debating if an archive with just the assemblies would be better than a manifest file which contains entries for the OOB packages and their versions (the versions are different). I would prefer the manifest solution but I'm ok if that's too much overhead.

[2019-04-10 22:45] #34465 closed

[2019-04-10 22:47] ahsonkhan commented on #35603
**Question:** Where would the difficulty come from here? Could we just retain the attribute everywhere it exists in the ref today, or add it if it exists in the source?

[2019-04-10 23:17] jkotas commented on #35603
The question is really whether exact struct layout is part of the public contract or not.

The exact struct layout is not part of the public contract today for 99+% of the structs in the public surface. Thus it does not make sense to include any of the implementation details related to struct layout in the reference assemblies: StructLayoutAttribute, all fields with exact types, etc.

If we change

[2019-04-10 23:49] tannergooding commented on #35603
It might be worth mentioning that ECMA-335 (the runtime spec) has an attached TR-84, which defines the BCL types and their signatures. They all include the `IL signature` which includes things like `sequential` layout or lack there-off. So `DateTime`, from the perspective of the runtime spec, is contracted to be `LayoutKind.Auto`.

TR-84 does not, however, specify what non-public fields exist.

[2019-04-10 23:51] jkotas commented on #35603
We can fix that in the spec once we get to updating it to make it more sensible.

[2019-04-11 00:01] TIHan commented on #29254
@steveharter , will this make the bar for .NET Core 3.0? @terrajobst told me ask you :)

[2019-04-11 00:06] layomia commented on #36768
Duplicate of https://github.com/dotnet/corefx/issues/34663.

[2019-04-11 00:06] #36768 closed

[2019-04-11 00:12] layomia commented on #36023
ISO 8601 support has been added to the serializer. Other formats can be supported when an extensibility design for adding custom `DateTime` converters is implemented.

[2019-04-11 00:12] #36023 closed

[2019-04-11 02:44] hez2010 opened #36778 "API Proposal: IAsyncEnumerable intergrate with LINQ"
For example:
[code]

[2019-04-11 02:55] scalablecory opened #36779 "Aligned load/store for Vector<T>"
When using a collection such as `Span<Vector<T>>`, all loads/stores on the span are performed using unaligned instructions.

For sufficiently aware code, this might cause an unnecessary perf drawback. I think the "just works" current behavior is ideal, but we need an escape hatch for such code.

## Proposed API

[code]

This API should generate aligned instructions when available, e.g. `movaps` fo

[2019-04-11 02:59] benaadams commented on #36778
I think Reactive Extensions provides for this in v4 https://github.com/dotnet/reactive

/cc @onovotny

[2019-04-11 04:12] deokershesh commented on #36692
Thanks @jeffschwMSFT, I will try above steps and update the forum.

Primarily, we are looking ".NET Core Database Provider(native using our own ODBC Driver)" for our Database. Currently I am using .NET Core 2.2. I cloned corefx as follows and that cloned .NET Core 2.2. How do I get the .NET Core 3.0? Is it stable enough?

git clone https://github.com/dotnet/corefx.git

[2019-04-11 04:13] filipnavara commented on #34957
At the moment it's easiest in the Mono infrastructure to just download an archive. As @marek-safar previously stated it was the preferred setup over NuGets. I don't want to be short-sighed on this though.

Currently the issue of flowing versions of dependencies from other repositories to Mono is also unsolved problem. If Mono were to use Maestro that would flow the versions and update `MicrosoftPr

[2019-04-11 04:20] wfurt commented on #36692
Unless I'm mistaken, the Odbc.dll is just dispatcher redirecting requests to actual database driver, right?
Could you register your database with ODBC instead of modifying .Net? That was the whole point of ODBC that applications would not need to deal  details of specific databases.

[2019-04-11 04:27] sdmaclea commented on #36237
If the intent is to help intellisense to help find `AssemblyDependencyResolver`

Perhaps we should add something like

[code]

[2019-04-11 04:39] deokershesh commented on #36692
@wfurt, Original .NET ODBC Bridge code uses odbc32.dll. This odbc32.dll provides implementation of all the ODBC API calls from the .NET Layer (C#). We replaced odbc32.dll with abcOdbc.dll and compiled (System.Data.Odbc.dll) the .NET ODBC Bridge code successfully. As far as, set of APIs are concerned both odbc32.dll and abcOdbc.dll are exactly same, as it follows Standard ODBC specification. Now at

[2019-04-11 04:43] deokershesh commented on #36692
Just to add, Yes, I could use the .NET ODBC Bridge code directly with my ODBC Driver and it connects to my database successfully. Now, we have few "Native" supports to be done in the .NET ODBC Bridge and make/call it ".NET Core Provider for our Database", however we will continue to use our ODBC Driver "directly/natively" in the .NET ODBC Bridge code, hence need to modify the .NET ODBC Bridge code

[2019-04-11 05:49] shashank198616 commented on #27907
I was facing the same problem
Error: System.MissingMethodException : Method not found (on System.Net.Http.HttpContent)
My tests were running locally but were failing during Build. Adding below to my config file worked and the build passed.
<dependentAssembly>
<assemblyIdentity name="System.Net.Http" publicKeyToken="your token number" culture="neutral" />
<bindingRedirect oldVersion="0.0.0.0-4.2.0.

[2019-04-11 05:53] GrabYourPitchforks commented on #36779
If you have a GC-managed reference (_in_, _ref_, _out_), how do you know that the reference itself is properly aligned? The GC is free to move it around in a manner that doesn't guarantee 128-bit / 256-bit alignment unless you pin it, and if it's pinned then our APIs may as well accept pointers instead of GC-managed references.

[2019-04-11 05:55] dotnet-mc-bot opened #36781 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/PostAsync_RedirectWith307_LargePayload"
Opened on behalf of @AriNuer

The test `System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/PostAsync_RedirectWith307_LargePayload` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190410.8 (Core Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS4-x86
  - Release
- Windows.10.Amd64.ClientRS4-x64
  - Release
- Windows.10.Amd64.Core-x64
  - Releas

[2019-04-11 06:14] AaronRobinsonMSFT commented on #36692
@deokershesh .NET Core 3.0 is in Preview 4 and quickly approaching GA. For right now, you can try local nightly builds [here](https://github.com/dotnet/core-sdk#installers-and-binaries). We do not recommend putting .NET Core 3.0 into production, but it is stable enough to try out scenarios. If you get a chance to try it, please provide feedback here with your experience and feel free to offer sugg

[2019-04-11 06:40] dotnet-mc-bot opened #36782 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_PostScenarioTest/PostLargeContentUsingContentLengthSemantics_Success(serverUri: http://corefx-net-http11.azurewebsites.net/Echo.ashx, contentLength: 132096)"
Opened on behalf of @AriNuer

The test `System.Net.Http.Functional.Tests.PlatformHandler_PostScenarioTest/PostLargeContentUsingContentLengthSemantics_Success(serverUri: http://corefx-net-http11.azurewebsites.net/Echo.ashx, contentLength: 132096)` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190410.8 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64.ClientRS5-x

[2019-04-11 07:11] marek-safar commented on #36743
I think we don't need it as we are working in a different approach

[2019-04-11 07:16] davidfowl commented on #36631
@valeriob we confirmed this is an issue with the base image used on Azure App Service. We're looking into it.

cc @glennc @bradygaster

[2019-04-11 07:30] effyteva commented on #20658
+1 on this,
Perhaps it about time to take care of it?

[2019-04-11 07:39] Paradoxon101 commented on #36691
Why are there so many different results here?

Does anyone have a project with which all three projects can be started with a benchmark?
My results ran off successively in separate projects.

.NET Framework 4.7.2
.NET Core 2.2
.NET Core 3.0

[2019-04-11 07:41] Misiu commented on #20658
@danmosemsft @saurabh500 any updates on this?

[2019-04-11 07:49] mogikanin commented on #9675
Just little note. Min UWP version should be 10.0.16299 to use `NetworkInterface.GetAllNetworkInterfaces` as well other apis from .net standard 2.0

[2019-04-11 07:53] marek-safar commented on #34957
@ViktorHofer the archive would work better for us

[2019-04-11 07:59] gfoidl commented on #36691
Not when also looking at the "Allocated" column. There .NET Core has big improvements.

[2019-04-11 08:18] AndyAyersMS commented on #36691
@Paradoxon101 in your last measurement above you seem to be mixing 64 bit and 32 bit results. At least, It kind of looks that way:

If so, this is not comparing apples to apples. 32 bit code often has an inherent advantage over 64 bit because of the smaller pointer size.

[2019-04-11 08:28] zepprebel commented on #9768
how many thumbs up need? to release that

[2019-04-11 08:38] valeriob commented on #36631
cheers !

[2019-04-11 09:44] GalaxiaGuy commented on #36778
I think this was recently discussed: https://github.com/dotnet/corefx/issues/36545

The conclusion was:
https://github.com/dotnet/reactive/tree/master/Ix.NET/Source/System.Linq.Async

[2019-04-11 11:34] madelson opened #36783 "Process.WaitForExit() hangs forever even though the process has exited in some cases"
**Setup**

Launch a process with stream redirection where that process itself launches a long-running process:

[code]

**Expected Behavior**
Process1 receives the output of Process2. Once Process2 has exited, Process1 can move on from its `WaitForExit()` call. Meanwhile Process3 continues to run.

**Actual Behavior**
`WaitForExit()` never returns.

**Notes**
I believe the problem is that `WaitFor

[2019-04-11 12:25] ViktorHofer commented on #30728
I think we should still do this for 3.0 and scan through all test projects and verify that shipping configurations have corresponding tests. For netfx I would say it's the other way around, we should remove test configurations and source configurations if they their implementation hasn't changed since 2.1/2.2 and instead harvest them (if we ship netfx in a package).

[2019-04-11 12:25] Gnbrkm41 commented on #26528
Are we going to have an overload that takes ReadOnlySpan<T> as the delimiter as well?

[2019-04-11 12:28] ViktorHofer commented on #30960
An APICompat step is nice to have, not necessarily important for now. When a dev harvests new configurations, he/she should make sure that the new live built package doesn't accidently drop configurations. For now I'm fine with a manual verification.

The todo is here to scan through all OOB projects, find those which ship netstandard refs but are inbox in any configuration, and freeze them.

[2019-04-11 13:04] khellang commented on #34372
Has there been considered or is it possible for the serializer to provide an additional "report" of deserialized properties?
I.e. which properties were set by the serializer and which properties were missing from the JSON payload. This would be really interesting information for web frameworks that do model binding.

Consider the following POCO:

[code]

Since no property is nullable (assuming nul

[2019-04-11 13:18] BillHenning opened #36789 "PropertyDescriptor.AddValueChanged not notifying of any property changes"
We were just working on converting a WPF app to .NET Core 3.0 preview3 (from 2019-03-06) and noticed an issue with the PropertyDescriptor implementation.  We use property descriptors to watch random objects for property value changes, so that we can be notified of their changes and can reflect the changes in the app UI.

While this has always worked in the .NET Framework, we noticed it doesn't wor

[2019-04-11 13:27] ViktorHofer opened #36790 "Remove myget feed"
We should audit what assets are currently only published onto the myget feed and not the dotnet-core feed. Moving away from the myget feed helps us with constant over-quota issues and is the direction that all arcade enabled repositories go.

cc @ericstj @safern @wtgodbe

[2019-04-11 13:29] #21722 closed

[2019-04-11 14:15] Korporal opened #36792 "Enable user code to determine the alignment needs of types"
This is to discuss adding a capability for managed code to determine the memory alignment needs of any unmanaged struct. For certain interop scenarios we may need to allocate struct instances outside the AppDomain (for example in user heap accessible to other code, perhaps native code).

These "manually" allocated instances would be exposed to managed code as ref values.

However when the raw memo

[2019-04-11 14:23] davidsh commented on #36781
Duplicate of #36220

[2019-04-11 14:24] #36781 closed

[2019-04-11 14:33] bartonjs commented on #36606
Not throwing during extension processing does seem sensible, and is something that we have control over.

[2019-04-11 14:36] johnkellyoxford commented on #36792
Wouldn't the runtime need to expose it? dotnet/coreclr
But definitely seems a nice thing to have for interop
(I fully think this would be a good idea, but an inefficient workaround, it would work to `Unsafe.ReadUnaligned<YourStruct>` from a returned ref iirc)

[2019-04-11 14:50] tannergooding commented on #36779
@scalablecory. I don't think this is a good idea for `System.Numerics.Vector<T>`:
* Unlike the HWIntrinsics, `Vector<T>` is considered to be a higher abstraction and purposefully doesn't expose the same level of granularity
* On modern hardware (basically everything from the past 10 years); unaligned loads are as fast as aligned loads when the data is actually aligned.
  * The reason we expose bot

[2019-04-11 14:55] stephentoub commented on #36779
In addition to all of @tannergooding's and @GrabYourPitchforks's good comments, we also don't like to add public API speculatively.

[2019-04-11 14:56] stephentoub commented on #36778
Closing as dup of https://github.com/dotnet/corefx/issues/36545.

[2019-04-11 14:56] #36778 closed

[2019-04-11 14:58] stephentoub commented on #36741
Regardless of where it lives, what about the `Range` => `int, int` change?

[2019-04-11 15:05] ajcvickers commented on #36244
@divega Is the motivation for this only to avoid people needing to use the "System.Data.Common" namespace, or is there more to it?

[2019-04-11 15:12] jeffschwMSFT commented on #36237
I have recently had a shift towards the Assembly.Load* APIs, so I like this approach.  One thing to keep in mind is that Assembly.Load is in .NET Standard so it easily works across .NET Framework and .NET Core, this new API would not necessarily be.  Though I like the direction.

[2019-04-11 15:15] ajcvickers opened #36793 "Unable to connect to SQL Server 2008 R2 via EntityFramework on CentOS"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/15326 filed by @kutekrish because this is a SqlClient issue, not an EF issue.

----

We are unable to connect to SQL Server 2008 R2 via Entity Framework on CentOS

Microsoft.EntityFrameworkCore.SqlServer package has been referenced in the project and it is working fine when run from Windows machine. However, when its copied to CentOS,

[2019-04-11 15:28] tarekgh commented on #36691
Yes, I was talking about the speed and not the allocation. you are right, net core has a lot of improvement in the allocations.

@Paradoxon101 per your measurement and @AndyAyersMS comment, your numbers were result of comparing 32-bit Clr against net core 64-bit. And from other measurements done by @Symbai and myself, it is clear there is no real perf regressions between Clr and net core 2.2. Even

[2019-04-11 15:45] ericstj commented on #35151
Fixed with https://github.com/dotnet/corefx/pull/36780

[2019-04-11 15:45] #35151 closed

[2019-04-11 15:53] divega commented on #36244
it is basically that, to restore consistency (extension methods for DbDataReader should all go in System.Data by default, like the GetXyz(string) methods), and the opportunity to clean up (one of the methods isn’t needed anymore so it can stay where it is and maybe become obsolete).

[2019-04-11 16:03] Korporal commented on #36792
@johnkellyoxford - IL provides a very useful [opcode](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.opcodes.ldflda?view=netframework-4.7.2) that I may have used in the past for something like this, I should look at that code but I believe I used this to determine alignment (Why did I think there was an IL opcode for getting a field's offset...).

By creating a small dynamic IL

[2019-04-11 16:09] agocke commented on #36741
Slightly easier for the compiler if it's kept as range since we don't have to emit more code, but it doesn't really matter. I suppose we could do the same optimization for an inline range, but it just doesn't seem to matter vs allocation + copy.

[2019-04-11 16:16] scalablecory commented on #36779
@GrabYourPitchforks indeed. My primary intent is to allow e.g:

[code]

Of course, you can't have a `Vector<float>*` -- but I agree using a `float*` parameter would be better to remove reduce subtly incorrect things one might do with the API.

@tannergooding I can appreciate not wanting to complicate an abstraction for hardware that is going out of style 👍.

@stephentoub that's a good stance. My s

[2019-04-11 16:18] sdmaclea commented on #36237
Understood. That is why it seemed like a natural place for intellisense to help find it.

Here is a more complete proposal. AssemblyDependencyResolver is in LoadOptions to make the API more extensible.  I think intellisense will still help.

[code]

[2019-04-11 16:18] AfsanehR commented on #36689
@hakano14 Thank you for providing the steps. We are able to reproduce it as well. Will work on a fix and update you.

[2019-04-11 16:21] ericstj opened #36794 "Package.Open(string, ...) is more restrictive than Package.Open(stream, ...)"
We unnecessarily throw on many combinations of FileAccess for Package.Open(string, …).

See https://github.com/dotnet/corefx/blob/5023c2420a4145bcb560c4b8c57f4bb60cd6973f/src/System.IO.Packaging/src/System/IO/Packaging/Package.cs#L838-L849

The .NETCore implementation of System.IO.Packaging permits the write-only case due to the way that System.IO.Compression maintains the ZIP data in memory befor

[2019-04-11 16:26] ericstj commented on #36794
@karelz can you create a label for System.IO.Packaging?

[2019-04-11 16:29] tannergooding commented on #36779
Just as an FYI, this is now possible in C# 8 when the struct is statically verifiable to be unmanaged.

https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEAMACFBGAdAOQFcxEBLAYygG4BYAKHpQGYNCA7KCAMziwCYMAYXoBvehglYWKACwYAsgAoAanHIwA9ggA8XADYaIMAHwAqDAAdV6rQEpxksXUkYAvg4kepWOfm0AVYxU1TR1A8ysQuwwAdwALRF5/DBBWNkg2CABzOAATLycXd2dJL2YfDAB5AKDrUJqIuuiRN3pXIA==

[2019-04-11 16:32] davidsh commented on #36782
Related to #36220.

[2019-04-11 16:33] stephentoub commented on #36794
Done

[2019-04-11 16:33] davidsh commented on #36220
Turns out we still have some infrastructure problems.  These tests are POST'ing large amounts of data to the echo server.  And we try serialize JSON responses back.  We are hitting OutOfMemoryException's on the server.  I'll need to investigate how to mitigate this.  We may need to revise the tests as well.

![image](https://user-images.githubusercontent.com/7684835/55974620-ecac0380-5c3c-11e9-969

[2019-04-11 17:12] lil-Toady commented on #36606
@bartonjs, regarding the chain problem, it looks like it's actually corefx code rejecting the certificates from the `ExtraStore` [here](https://github.com/dotnet/corefx/blob/v2.2.4/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs#L547), as it throws away any certificate for which `Interop.Crypto.X509CheckIssued` returned an error.

`

[2019-04-11 17:15] Paradoxon101 commented on #36691
@tarekgh I think the problem is really 32 bit. Can you please give me your project with the BenchmarkRunner so I can run it on me?

When I create a new project and run it with "Any CPU", the CLR always runs in 32bit on my Windows 10 x64.

[2019-04-11 17:17] filipnavara commented on #36691
Uncheck "prefer 32-bit" on the project options.

[2019-04-11 17:20] bartonjs commented on #36606
@lil-Toady Ah, then perhaps you should try with a 3.0 preview build, since that code has been entirely replaced with "here, OpenSSL, it's everything I know about everything, do your magic" (no prefilter).

[2019-04-11 17:30] bartonjs commented on #36606
@lil-Toady (That said, I feel like I tried the commandline `openssl verify`, and it said it couldn't build the chain from the middle to the root, or the leaf to the middle+root, meaning that their normal chain engine probably has the same != 0)

[2019-04-11 17:31] rynowak commented on #34372
It sounds like what you're after here is **input validation** - validating what's one the wire. I don't think what you're proposing is going to be enough to do that in a good way - IMO if we want to have input validation support it would have to be based on callbacks built into the serializer, not layered on top.

Speaking of input validation, I'm not sure why you'd want to use that to specify a b

[2019-04-11 17:36] ericstj commented on #36743
Thanks @marek-safar

[2019-04-11 17:40] ericstj commented on #30728
Harvest the tests or don't run the tests?  If we don't run the tests we lose sight of the scenario where we make changes that diverge from desktop behavior.

[2019-04-11 17:43] #36743 closed

[2019-04-11 17:50] davidsh commented on #36226
The best fix is to change the test to use the [Upload](http://corefx-net-http11.azurewebsites.net/verifyupload.ashx) endpoint and not the [Echo](http://corefx-net-http11.azurewebsites.net/echo.ashx) endpoint.  The Echo endpoint ends up serializing the entire request body and sending it back.  The Upload endpoint simply verifies the request body is correct by checking the MD5 checksum. It doesn't e

[2019-04-11 17:52] davidsh commented on #36782
The best fix is to change the test to use the [VerifyUpload](http://corefx-net-http11.azurewebsites.net/verifyupload.ashx) endpoint and not the [Echo](http://corefx-net-http11.azurewebsites.net/echo.ashx) endpoint.  The Echo endpoint ends up serializing the entire request body and sending it back.  The Upload endpoint simply verifies the request body is correct by checking the MD5 checksum. It doe

[2019-04-11 17:53] Tanya-Solyanik commented on #35607
Most likely we will depend on having this attribute for adding items to the toolbox and for finding item bitmaps on ToolboxBitmapAttribute.  @Shyam-Gupta   - FYI

[2019-04-11 17:54] davidsh commented on #36220
The best fix is to change the test to use the [VerifyUpload](http://corefx-net-http11.azurewebsites.net/verifyupload.ashx) endpoint and not the [Echo](http://corefx-net-http11.azurewebsites.net/echo.ashx) endpoint.  The Echo endpoint ends up serializing the entire request body and sending it back.  The Upload endpoint simply verifies the request body is correct by checking the MD5 checksum. It doe

[2019-04-11 18:08] tarekgh commented on #36691
@Paradoxon101

@filipnavara is right. just make sure your csproj file not having a line like:

[code]

other idea is just use the CLI directly. in my case, I did

[code]

then I have edited the csproj like:

[code]

and then I run with

[code]

[2019-04-11 18:14] tarekgh commented on #36631
This issue was moved to Microsoft/Oryx#68

[2019-04-11 18:14] #36631 closed

[2019-04-11 18:23] khellang commented on #34372
Yeah, but not any advanced validation, just present/not present.

Why would it need to be callback-based? What is my proposal lacking to do it "in a good way"?

That's not what I'm saying. For nullable properties, I think explicit `null` or omitted entirely should have the exact same result. I'm talking about differentiating between non-nullable properties' default values or omitted properties. I.

[2019-04-11 18:23] #31310 closed

[2019-04-11 18:28] rynowak commented on #34372
OK thanks that helps.

I think your proposal is lacking because it solves the problem at the wrong layer. It assumes that we can get a *result* from the serializer that *ASP.NET knows how to interpret* - I don't think this goes far enough. A feature like this has be more built in than returning a list of properties.

Think about what would happen for a nested object - how would that work?

[2019-04-11 18:38] tarekgh commented on #36691
@Paradoxon101 per discussion here I am closing this issue. Feel free to respond with any question or issue we can help with. thanks for your report.

[2019-04-11 18:38] #36691 closed

[2019-04-11 18:41] khellang commented on #34372
What layer is the correct layer? The only one that knows this information is the serializer, so it has to provide this information somehow. Are you saying you want it at an even lower level? 🤔

That's what you have JSON path for 😉

[2019-04-11 18:44] khellang commented on #34372
Anyway, I'm not dead set on a list of properties. I'm totally open for alternative solutions.

I just think it's a problem worth solving, cause today's "workarounds" are pretty bad. This seems (to me) like the best level to solve it, and a perfect opportunity as the APIs are being brought in.

[2019-04-11 18:49] AArnott opened #36798 "xml doc comment for PipeReader.OnWriterCompleted is wrong"
As shown below, the summary tag in the xml doc comment for `PipeReader.OnWriterCompleted` is wrong. It looks like it was written with `PipeWriter.Complete` in mind, honestly. `OnWriterCompleted` doesn't cancel anything -- it just adds a callback for when the writer marks its own completion.

https://github.com/dotnet/corefx/blob/af562e84b8b5a4a335ceb5006886a6c42c1c023e/src/System.IO.Pipelines/src/

[2019-04-11 18:54] sakno commented on #34073
It would be nice to add asynchronous version of `ReaderWriterLockSlim` and, probably, `AutoResetEvent`/`ManualResetEvent`. IMHO, these classes should have the same public methods as their blocking friends with one exception - lock acquisition methods are asynchronous and return `Task`. **AsyncLock** can provide abstraction over all asynchronous locks (not only exclusive lock) which allows to acqui

[2019-04-11 18:58] Paradoxon101 commented on #36691
BenchmarkDotNet=v0.11.5, OS=Windows 10.0.17763.437 (1809/October2018Update/Redstone5)
Intel Core i7-6700K CPU 4.00GHz (Skylake), 1 CPU, 8 logical and 4 physical cores
.NET Core SDK=3.0.100-preview3-010431
  [Host]     : .NET Core 2.1.9 (CoreCLR 4.6.27414.06, CoreFX 4.6.27415.01), 64bit RyuJIT
  Job-KRFOPY : .NET Core 2.1.9 (CoreCLR 4.6.27414.06, CoreFX 4.6.27415.01), 64bit RyuJIT
  Clr        : .N

[2019-04-11 19:09] johnkellyoxford commented on #36792
that is an issue, because if for example, you get the pointer value 8192, you might think it is 8192 byte aligned, which might cause some issues....

[2019-04-11 19:55] Korporal commented on #36792
@johnkellyoxford - Hmm, yep you are correct, I think, needs additional thinking...

[2019-04-11 19:55] kjkrum commented on #13329
Things like this are why Windows remains a toy OS.

[2019-04-11 20:06] jeffdoolittle commented on #23906
Argh, glad this is here! Ran into the same issue.

[2019-04-11 20:08] tarekgh commented on #35508
This is done now.

[2019-04-11 20:08] #35508 closed

[2019-04-11 20:11] Cryru commented on #13329
@kjkrum Things like what?

[2019-04-11 20:53] #36430 closed

[2019-04-11 21:12] davidwrighton commented on #36741
Its in the current location, as when initially designed it was only going to be called from compiler generated code, and had no particular reason to be on System.Array. If its expected to be used by normal developers directly, then placing it on System.Array is perfectly reasonable. (In addition, the api wasn't quite like the other Slice methods as the method wasn't on the exact type, it could onl

[2019-04-11 21:38] krwq opened #36800 "System.IO.Pipelines.Tests.CopyToAsyncTests/MultiSegmentWritesUntilFailure"
cc: @pakrym @davidfowl

This test seem to be intermittently failing on netfx (full framework) queues (i.e. `Windows.10.Amd64.ClientRS5.Open-x86-Release`):

[code]

i.e. https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F36775~2Fmerge/test~2Ffunctional~2Fcli~2F/20190411.35/workItem/System.IO.Pipelines.Tests/analysis/xunit/System.IO.Pipelines.Tests.CopyToAsyncTests~2FMultiSegm

[2019-04-11 21:42] Korporal commented on #36792
@johnkellyoxford - Looking at typical generated IL for this kind of thing reveals little. There is a directive:

For example, this C#:

[code]

generates (among other things):

[code]
The `.local init ( )` stuff isn't clear, it doesn't seem to be IL and I have no idea what it actually results in. The struct address itself (the address of the instance created in the `.locals init`) is already deter

[2019-04-11 21:48] steveharter commented on #36351
Uses `StringComparer.OrdinalIgnoreCase` when we automatically create Dictionary<string, T>. If we don't support it, and someone wants a case-insensitive dictionary how would they do that?

I'm assuming 50-100 LOC for something like that. It could reference a static method...

Eek. I had that in the corelab prototpe but it didn't make it over the "future" section for `JsonNameConverterAttribute`. T

[2019-04-11 21:50] johnkellyoxford commented on #36792
I think you are misunderstanding. `locals init` (or more specifically, `locals`, the `init` just says they must all be zero intialized) is where your local variables are declared. `ldloca.s 1` is just an instruction like any other to load the address of the second local here `[1] valuetype Data`, which could also be named not indexed, so `ldloca.s 'Data'`. The address is runtime created, as it is

[2019-04-11 22:47] Korporal commented on #36792
@johnkellyoxford - Yes, I do have only a partial understanding of this, much of it being inferred. It seems then that the code that actually does the allocation of the struct (in the above example) is not written in IL but external to it, and simply presumed when we look at the IL.

So I guess there are primitives that are specific to each platform, and these primitives are the things that are "aw

[2019-04-11 22:52] davidfowl commented on #36798
Oops

[2019-04-11 22:53] davidfowl commented on #36800
I’ll take this I know what the problem is

[2019-04-11 22:54] Gnbrkm41 opened #36802 "Test failure: NRE on System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest.GetAsync_IPv6LinkLocalAddressUri_Success"
System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_HttpClientHandlerTest_Http2/GetAsync_IPv6LinkLocalAddressUri_Success
System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/GetAsync_IPv6LinkLocalAddressUri_Success
System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandlerTest/GetAsync_IPv6LinkLocalAddressUri_Success
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2F

[2019-04-11 23:10] Anipik commented on #33987
I verified sourcelink with the latest sdk pdbs(preview 5) and it is working fine

[2019-04-11 23:10] #33987 closed

[2019-04-11 23:11] rymeskar commented on #36754
@ericstj
Thank you for clarifying answer.

Then how is one able to tell how will the System.* package behave for '.NET framework dependency group'?

Whether it will bring in .NET shims or it is really an .NET framework assembly?

For example [System.Numerics.Vectors](https://www.nuget.org/packages/System.Numerics.Vectors/4.5.0),   [System.ValueTuple](System.ValueTuple) and [System.Net.Http](https:

[2019-04-11 23:37] mairaw opened #36804 "Ref and src folders have mismatched param names"
@carlossanlop and I are looking into adding more API docs and we ran into an issue where the source has a parameter name that is different than what we're seeing in the reference assemblies.

I'm guessing it's because of the mismatch we're seeing between the src and ref folders?
https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression.ZipFile/ref/System.IO.Compression.ZipFile.cs#L16

[2019-04-12 00:10] ahsonkhan commented on #36804
See PR where an attempt was made to normalize the source/ref. In particular:, what you have observed is called out here: https://github.com/dotnet/corefx/pull/35474/files#r258747663

From @bartonjs:

Relevant commits:
https://github.com/dotnet/corefx/pull/35474/commits/1534ca918cb69fda62039663b2c5282785c3b03f
https://github.com/dotnet/corefx/pull/35474/commits/0735619aab5d754b74eb0dc00955c7db0bda1

[2019-04-12 00:31] #36782 closed

[2019-04-12 01:20] #32978 closed

[2019-04-12 01:37] phillip-haydon commented on #13329
@cryru it’s what people say when they don’t know what they’re doing.

[2019-04-12 01:52] karelz commented on #36794
In general, I discourage creating areas for less than 10-20 issues. The overhead does not pay off. There are alternative ways to mark things.
Also, we need to update the internal attribution tooling (I can help), and set up [area owner](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) - who will that be?

I see only 7 issues in the label at the moment.

[2019-04-12 02:05] kjkrum commented on #13329
@Cryru Things like not being able to build a standalone executable, and the oblivious dismissal the very real need to do so. Pretty much every other build system in existence will not only build a statically linked executable, it will strip unused parts of dependencies. Stripping dependencies has been a standard feature for at least a decade; static linking since the invention of compliers.

[2019-04-12 02:20] DSBRBrasil opened #37104 ".NET Core fails XML validation while .NET Framework succeeds"
Hi,
Why, I don't  validate a document using .net standard 2.0? I get that's message: Type not declared
That's my code:
[code]

[2019-04-12 02:26] stephentoub commented on #36794
What is the overhead? What area label should be used instead? Do the same developers own Packaging that own those areas?

[2019-04-12 02:36] karelz commented on #36794
Overhead:
* Querying across multiple labels, because GH does not do OR semantics :(
* Maintaining yet another area

Yes. Unless we have different devs in mind, it does not make sense to break it out IMO (unless it hits critical mass). And even if different devs care about it, that may not be forever and it is still a bit questionable. See for example System.Uri - packed with loagical area System.N

[2019-04-12 02:46] ericstj commented on #36794
System.IO.Packaging is owned by different devs than the rest of Corefx.  WPF owns this

[2019-04-12 02:59] sgf commented on #13329
Agree,This is actually related to the position of C # programs in the operating system

[2019-04-12 03:50] #36163 closed

[2019-04-12 03:54] danmosemsft commented on #36761
Thanks @RaZeR-RBI. Any interest in debugging a bit? The more we understand the more likely a fix can happen sooner.

[2019-04-12 03:56] danmosemsft commented on #36724
@jeremykuhne?

[2019-04-12 03:58] danmosemsft commented on #36713
@jeremykuhne perhaps we should make the API allow a directory on other platforms?

[2019-04-12 03:58] danmosemsft commented on #36707
@ericstj fyi

[2019-04-12 04:04] danmosemsft commented on #36680
What assembly is it trying to load?

[2019-04-12 04:34] OnurGumus commented on #26246
I still observe the same problem.

[2019-04-12 05:12] tmds opened #36809 "DefaultLoadContextTests.LoadInDefaultContext test failure"
This test has been failing on my machine (Fedora 28) when running corefx tests for a while. I have not investigated further. This is in the testResults.xml:
[code]

[2019-04-12 05:24] PathogenDavid commented on #36792
Correct. To put it another way: IL runs on a theoretical virtual machine. The CLR implementation translates the IL representation into one which the target machine (x86, ARM, whatever) understands before it runs. I don't believe the VM ever cares about things like memory alignment, but the target machine might. So it's up to the CLR implementation to care about these things.

(This is why I said i

[2019-04-12 06:51] johnkellyoxford commented on #36792
@PathogenDavid We have `sizeof` to be fair. I feel a helper method (rather than IL opcode), like `RuntimeHelpers.AlignmentOf<T>()` would be best. The fact we have `sizeof` indicates it can't really change stack<->heap.

[2019-04-12 06:57] deokershesh commented on #36692
The unable to load library issue seems to have resolved by making changes in following file.

D:\corefx\eng\versioning.targets ==> The dependency has been changed to "LegacyBehavior".

[2019-04-12 06:58] deokershesh commented on #36692
I continue to use .NET Core 2.2

[2019-04-12 07:10] aliostad commented on #35103
Is this coming in 3.0?

[2019-04-12 07:10] aliostad commented on #31918
Is this coming in 3.0?

[2019-04-12 07:14] johnkellyoxford commented on #36792
![image](https://user-images.githubusercontent.com/32420055/56018749-dcf2f480-5cfa-11e9-98ff-62b4815bf134.png)
Think this is the field that is key here (the bottom one)

[2019-04-12 07:18] johnkellyoxford commented on #36792
![image](https://user-images.githubusercontent.com/32420055/56018924-51c62e80-5cfb-11e9-865e-220278ab932c.png)
There are 2 - one for unmanaged, one for managed, I think. Providing explicit methods for both could be done, or just
[code]

[2019-04-12 07:49] Poutche commented on #33643
Problem solved by using the code found here: https://stackoverflow.com/questions/50342416/azure-function-ef-core-cant-load-componentmodel-annotations-4-2-0-0
Many thanks to the author for sharing this.

[2019-04-12 08:08] obelixA commented on #33643
I also "solved" the problem using this code. But it is more a avoidance than a solution. Assembly loading is damn slow now.
Am I the only one who finds it somehow ridiculous that this issue is unresolved over months and months while development of the assemblies continues? This must be a really, really deeply hidden problem where no developer dares to dig that a development machinery like MS canno

[2019-04-12 08:19] ashuthinks commented on #33148
any solution you have got for this?
I'm also facing the same issue.

[2019-04-12 08:21] johnkellyoxford commented on #36792
Would it better be implemented as a pseudo-intrinsic like `RuntimeHelpers.IsReferenceOrContainsReferences<T>()` or a standard InternalCall?

[2019-04-12 09:26] PathogenDavid commented on #36792
I'm not arguing against exposing the alignment, just warning @Korporal that it might be higher-friction than he thinks. I'd actually really like to see CoreCLR make more guarantees around alignment.

Why? Size should not affect alignment at all. I can allocate a 32 byte struct at 0x4000000 or 0x4000001. It'll have the same size, but only one of them will be aligned to a 2 byte boundary.

---------

[2019-04-12 09:27] PathogenDavid commented on #36792
You can link to specific line ranges on GitHub, BTW: https://github.com/dotnet/coreclr/blob/72d49127a0c25e4b931c81e621c2411bfb6633a5/src/vm/class.h#L383-L391

[2019-04-12 10:05] johnkellyoxford commented on #36792
Hmm, is it best to expose it as
`GetManagedAlignment<T>()`
and
`GetNativeAlignment<T>()`, each exposing the respective `EEClassLayoutInfo` field, or to do
`GetAlignment<T>()`, which does one of the following, and if so, which one?:
* returns the managed alignment
* returns the unmanaged alignment
* returns the greater of the two

[2019-04-12 10:09] HumanEquivalentUnit commented on #36749
NB. those don't work properly, they are broken; see https://github.com/dotnet/corefx/issues/36030#issuecomment-472667952 - they are using 64-bit signed ints to work on 32-bit IPv4 addresses, but when they swap the byte order around they reverse all 64 bits instead of just the low 32-bits.

[2019-04-12 10:15] HumanEquivalentUnit commented on #36030
Make PowerShell more convenient. `System.Net.IPAddress` has very few features, and scripting around IP Addresses would be easier if it had many features. As many as possible. As many as Python, even.

I am no C# developer, and don't know if I could come up with good API suggestions. Especially hesitant without understanding CoreFX's stance on the last question in the opening post: "*Is any of that

[2019-04-12 11:02] jkotas commented on #36237
We have `Load(string assemblyName)` today. Adding this overload would violate API design guidelines. From https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/member-overloading: "DO NOT have overloads with parameters at the same position and similar types yet with different semantics."

I doubt that this design needs to be Intellisense-optimized. This is a complex topic and calling

[2019-04-12 12:14] iwanttodie commented on #27177
It frequently reporducalbe with MARS enabled and high rate of concurrent queris.

We are using latest images from
`microsoft/dotnet:2.2-runtime-deps-alpine`
and
`microsoft/dotnet:2.1-runtime-deps-alpine`

We are runing them on CentOS, and trying to conntect to AWS RDS instance, if it somehow helpful.

Object reference not set to an instance of an object.
--
at System.Data.SqlClient.SNI.SNITCPHandl

[2019-04-12 12:21] tmds commented on #36783
Yes, Process2 and Process3 share the same standard out. What happens when you `RedirectStandardOutput = true` for Process3?

[2019-04-12 12:58] tmds commented on #36783
WaitForExit involves waiting for the output to reach EOF, which won't happen because Process3 is keeping it alive.

https://github.com/dotnet/corefx/blob/007571b90c3cc555cd30f3b467b87c22f9f665e0/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L210-L228

[2019-04-12 13:20] #34157 closed

[2019-04-12 13:45] madmir commented on #34570
Hi @ahsonkhan

I've made pull request (#36811) working on some of the items mentioned in this issue.
However, 5 of the checks are failing.

[2019-04-12 13:50] xljiulang opened #36817 "Designing an [AttributeCtorUsageAttribute] that constrains the constructor of a custom attribute to declare the specified target"
For a custom attribute, we already have the [AttributeUsage] to constrain its targets, but when it has multiple constructors, we can't limit a constructor to declare at one or some sub target. So i hope to design this new [AttributeCtorUsageAttribute].

[code]

[code]

I need this feature in my project, and now I can only detect [AttributeCtorUsage] by the extended diagnostic analyzer.

[2019-04-12 13:55] nataliaheliova opened #36819 "XSD Validation throws an exception when self-closing tag used"
I came across an issue in .NET Core 2.1 when validating an XML containing self-closing tag.

I have a model with property Value of generic type T:

[code]
The corresponding XSD Schema snippet:

[code]

Both the model and schema are part of a project targeting .NET Standard 2.0.

Then I created test project targeting .NET Core 2.1 and .NET Framework 4.6.1 where I am trying to validate (and deserial

[2019-04-12 13:59] jdhawley opened #36818 "FtpWebRequest Making Slow Requests and Throws WebExceptions"
Hi all,

I've been working in .NET Framework to do some data retrieval and aggregation from different sources. However, project requirements have recently changed and I'm migrating a lot of the code from .NET Framework to .NET Core. Some of the data I'm pulling is accessed through an FTP site. It seems to work fine using .NET Framework but .NET Core is too slow for my project requirements and freq

[2019-04-12 14:56] GrabYourPitchforks commented on #36749
You mean if somebody has code that looks like this?

[code]

Yeah, that's a pit of failure, especially since `var` masks what the problem is. I imagine we could add all missing overloads in one shot.

[2019-04-12 15:11] hinteadan opened #36820 "string.Join unexpected behavior when calling Join(String separator, params object[] values);"
When calling the `String Join(String separator, params object[] values)` signature and pass a **null** value as the first parameter, followed by a type other than string, then any number and type of other parameters, the method **returns an empty string**.

Code samples:
`string.Join(",", null, 0) //returns ""`
`string.Join(",", null, 0, null, null, "", null, 0, "", null, new Exception(), DateTime

[2019-04-12 15:15] hinteadan commented on #36820
Wrong repo, applies to .NET Standard. I haven't tried in .NET Core.

[2019-04-12 15:26] hinteadan commented on #36820
Apparently it's expected behavior, noted as a remark on the MSDN Documentation:

https://docs.microsoft.com/en-us/dotnet/api/system.string.join?view=netframework-4.7.2#System_String_Join_System_String_System_Object___

[2019-04-12 15:26] #36820 closed

[2019-04-12 15:55] karelz commented on #36030
I am not familiar with PowerShell (few people around are AFAIK), so that will make it "interesting" to design it accross languages.
On one hand, I would love to help PowerShell customers, on the other hand, CoreFX / .NET is not platform only for PowerShell, so the APIs would have to make sense in larger context.
If the APIs are truly scripting specific, I wonder if PowerShell should create some fe

[2019-04-12 15:57] stephentoub commented on #36820
This was already fixed for .NET Core.

[2019-04-12 16:28] szilvaa opened #36821 "ClientWebSocket should allow configuration of HttpMessageHandler pipeline for CONNECT"
HttpClient provides a flexible [HttpMessageHandler pipeline](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2). Unfortunately, ClientWebSocket does allow the configuration of such pipeline. It directly instantiates [SocketsHttpHandler](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.M

[2019-04-12 16:30] AfsanehR commented on #27177
@iwanttodie  @Spaceman1861 @zentron if the issue is occurring often, do you think you can manage to provide a repro? This would help us with investigating the issue :) Thanks!

[2019-04-12 16:32] #36692 closed

[2019-04-12 16:41] joperezr commented on #33148
@ashuthinks do you mind sharing your msbuild.binlog so that we can better analyze what is going on? to generate one, please run `msbuild yourProject.csproj /t:rebuild /bl` and I'll take a look. If you could also share the contents of your App.config file in case you have one, that would be valuable.

[2019-04-12 17:10] JeremyKuhne commented on #36724
Yes, it is wrong. that is your standard `UNICODE_STRING`.

[2019-04-12 17:15] jeffschwMSFT commented on #33885
@rjmholt let me know if you have any further questions.  Closing out this question for now.

[2019-04-12 17:15] #33885 closed

[2019-04-12 17:22] jkoritzinsky commented on #30706
Based on the discussion above, these are the new API's that are being proposed:

[code]

@joshfree @terrajobst can we get this on the API Review schedule?

[2019-04-12 17:34] xforever1313 opened #36824 "[Ping] Consider adding a way to specify a "Source" address while sending a ping."
On the Windows command line, while sending a ping, one is able to specify the "source address" via the '-S' parameter, as show in the example below:

[code]
On Linux, it appears as it behaves similarly, where the command is ```ping -S sourceIp destIp```

However, C#'s [Ping](https://github.com/dotnet/corefx/blob/16689aa0a933517dc45465fc6edb6223222414a6/src/System.Net.Ping/src/System/Net/NetworkInf

[2019-04-12 17:59] godrose commented on #35694
Same issue here

[2019-04-12 18:02] GeertvanHorrik commented on #35694
@godrose it's fixed in the codebase, it just needs a new release (and thus patience ;-) )

[2019-04-12 18:03] vcsjones commented on #32323
The gist of the issue is when `ECCurve.CreateFromFriendlyName` is called, `null` is explicitly passed in for the OIDs value:

https://github.com/dotnet/corefx/blob/6322a406f88e854c5b827ab838f988f8992048f8/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECCurve.cs#L120

https://github.com/dotnet/corefx/blob/6322a406f88e854c5b827ab838f988f8992048f8/src/System.Security.Cr

[2019-04-12 18:04] godrose commented on #35694
Great! Can you share the ETA for the preview 4?

On Fri, 12 Apr 2019 at 21:03 Geert van Horrik <notifications@github.com>
wrote:

--
Best Regards,
Gena

[2019-04-12 18:06] GeertvanHorrik commented on #35694
I have no idea, I don't work for MS :-)

[2019-04-12 18:07] godrose commented on #35694
@geertvanhorrik yeah I figured that out ))