[2016-01-05 15:00] MgSam commented on #5188
Only if you are putting types in a Dictionary that don't implement GetHashCode and Equals. But why would you possibly do something like that? The number of times that you actually want to key something off the reference and not the value is vanishingly small. The vast majority of the time the Key is meaningful.

I do agree the arguments about leaking sensitive data are largely the same as the othe

[2016-01-05 15:06] JonHanna commented on #5188
Consider:
[code]

Currently this method would do the correct thing in the case of a `student` object being passed without a `CourseList` stored by its `ID` in the cache, vi⁊ throw a `KeyNotFoundException` with appropriate values for all of its properties.

After this proposed change it would do something wrong, vi⁊ throw a `KeyNotFoundException` with an incorrect value for its `Key` property.

[2016-01-05 15:13] MgSam commented on #5188
@JonHanna I'm not following. Why would the value for `Key` be incorrect?

Also, it seems Github turned one of your words into a non-English character. I'm guessing that wasn't your intention.

[2016-01-05 15:15] cdie commented on #5188
@JonHanna I also not understand. If keyNotFoundException had a Key property, it will be equals to student.ID, which is the information we want ...

[2016-01-05 15:17] JonHanna commented on #5188
No, the key to the public method was `student`. The caller need not even know that students have an `ID` field or property. The correct `Key` value for the exception would be `student` but the method has to be rewritten to either throw a new `KeyNotFoundException` with that as the `Key` or at least to throw a new `KeyNotFoundException` with no `Key` set.

[2016-01-05 15:22] cdie commented on #5188
@JonHanna  So your method is not correct in this case, if it retrieves information based on student.ID, the parameter should be an int, not a Student...
What if a class inherits of Student and redefine ID to throws exception because this field is not acurate in this case ?

[2016-01-05 15:31] JonHanna commented on #5188
@cdie no, the method retrieves information based on a `Student` or throwing `KeyNotFoundException` if that `Student` isn't found. It just happens that the implementation of this, which the caller need not care about, is based on the `ID` which the caller need not care or know about.

What's to say `Student` isn't sealed or `ID` private?

[2016-01-05 15:37] OtherCrashOverride commented on #5188
Actually, it is both religion and politics.  CoreCLR is ruled by the Windows religion and the politics of ASP.Net.  DNX and NuGet are perfect examples.  Downloading and executing code and scripts from unverified sources on the internet is a very nonsecular practice.

[2016-01-05 15:39] MgSam commented on #5188
@JonHanna That argument could apply to any exception. In fact, it applies to the whole concept of exception bubbling. You're *always* leaking internal implementation details when you throw an exception. Why should the user know or care that a Dictionary is acting as a cache of courses? Why is a KeyNotFoundException more appropriate than an InvalidOperationException?

[2016-01-05 15:40] JonHanna commented on #5188
@MgSam the premise of this issue is that when one receives a `KeyNotFoundException` it is valuable to have information from it about the key that was not found. If it doesn't matter that the `Key` property isn't necessarily going to be correct, then does it matter that currently there is no such property?

[2016-01-05 16:09] stephentoub opened #5189 "Sockets.APMServer.Tests failed on OS X with unhandled SocketException 10004"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_debug_tst/110/console
[code]

[2016-01-05 16:36] vancem commented on #3419
It is a nice convenience function.   My only comment is whether the API should be generic or not (currently StringBuilder has no generic methods)   You could certainly imagine it take IEnumerable<string> or even IEnumerable<object>.

Also didn't C# recently add a feature that you could do a params IEnumerable<T> that works like params T[].

But these are all minor points.   As long as we have thou

[2016-01-05 16:56] bartonjs commented on #4510
Since the only instantiator of X509Certificate (non-2) objects in Core has been removed; I'm going to close this issue.  If you find that you are still encountering problems you can't work around, please reopen.

[2016-01-05 16:56] #4510 closed

[2016-01-05 16:56] ericstj commented on #2317
The change to IEnumerable<T> was made between 3.5 / 4.0 which weren't in-place so that's a little different.  My impression is that the nature of this change is only source breaking but I'd need to try it out to be sure.

What's the runtime behavior of this if the implementation doesn't have the fix but the reference assembly does?  In other words is the reference assembly change sufficient?  If n

[2016-01-05 16:57] KrzysztofCwalina commented on #649
@nvivo, I am not sure if it's bad or not, but I think we need to be super careful adding APIs to such basic types like string. We already have so many options here (comparers, interfaces, delegates, supporting enums, etc.). This is why I said I think we need a holistic approach, i.e. a proposal listing problems with comparison APIs in BCL, paint picture how we would like the APIs to look in the fu

[2016-01-05 17:01] KrzysztofCwalina commented on #692
No objections. Makes sense.

[2016-01-05 17:09] eerhardt commented on #5022
I was able to repro this issue with the latest CoreCLR as well.

It appears the problem is coming from the last character in that line. What appears to be a dash.

Test this in UNIX fails
[code]

But this test in UNIX passes
[code]

[2016-01-05 17:10] KrzysztofCwalina commented on #693
@terrajobst, I agree that we don't want to simply add these APIs, but I would put this (efficient flags/bitwise operations) issue on our list of  big ticket items that we would like to consider fixing as part of the "modern BCL" push.

[2016-01-05 17:10] ericstj opened #5190 "CoreFx managed build doesn't distinguish by distro"
We currently only distinguish between OSX, Linux, FreeBSD and Windows in the managed build.
See https://github.com/dotnet/corefx/blob/13486efbd6619da273c6658fbf927cccd67fa27c/build.sh#L200-L220.
This is sufficient for our managed implementations, but packages for the native shims require a specific OS.  Today I'm ignoring this distinction and building all Linux packages on any linux distro and we

[2016-01-05 17:13] jasonwilliams200OK commented on #5188
Related https://github.com/dotnet/corefx/pull/185 and https://github.com/dotnet/coreclr/pull/1452.
The decision about `ToString()` can be found here: https://github.com/dotnet/corefx/pull/185#issuecomment-65754562.

[2016-01-05 17:20] KrzysztofCwalina commented on #1367
@terrajobst, I don't feel super strongly either way. I don't think this API adds great value, but the addition is realtivelly simple so I am ok with it. One thing we should decide is if we use WriteLine or Write to write the prompt. WriteLine would be more convenient in more cases, and Write would be more flexible (can serve as WriteLine and Write). Also, should we have an overload that takes form

[2016-01-05 17:26] HaloFour commented on #693
It would make a lot more sense to wait until C# supported generic enum constraints:

https://github.com/dotnet/roslyn/issues/262

[2016-01-05 17:29] KrzysztofCwalina commented on #3419
I would not add the last overload. It does not seems to be critical and I would prefer that in the future we add the ability to join slices/spans.

[2016-01-05 17:34] KrzysztofCwalina commented on #1525
I don't think we should have hierarchies for exceptions that are usage errors and so should not be handled, but rather the calling code should be fixed. And argument exceptions are thrown in response to usage errors.

Also the strings cannot be const as they are localized depending on current culture.

[2016-01-05 17:39] KrzysztofCwalina commented on #693
I am not sure how enum constraint would help. The type system still needs to describe the size of the backing integral type to implement many of these operations efficiently. I think something like making enums extend Enum<T> where T: integral type would be needed.

[2016-01-05 17:43] HaloFour commented on #693
@KrzysztofCwalina True.  Not perfect, but wouldn't an unchecked cast to `ulong` and then back to the enum type be more efficient than what we have today?

[2016-01-05 17:47] joshfree commented on #5187
@bartonjs @vijaykota

[2016-01-05 17:49] OtherCrashOverride commented on #1525
I think it should be consistent.  If we are not going to have different exceptions for usage errors, then we should remove ArgumentNullException, ArgumentOutOfRangeException, etc and replace them with ArgumentException.  What is the reasoning (other than legacy) that differentiates them from the proposed ArgumentEmptyException and friends proposed here?

[2016-01-05 17:56] KrzysztofCwalina commented on #1525
We cannot remove these exceptions. Too massive of a breaking change.

[2016-01-05 18:00] mmitche commented on #4653
@ellismg I think we'll take the approach of doing the test runs in Helix (triggered from Jenkins)

[2016-01-05 18:04] KrzysztofCwalina commented on #5182
@terrajobst, this is meant to be used to optimize at the app level. Individual libraries should not be doing it. Ideally, this configuration would be handled by some kind of config system, which we don't really have a general solution for in .net core.

@sokket, could you work with ASP.NET team on a short writeup describing the scenarios. Once we have it, I will flip the lable back to ready for re

[2016-01-05 18:13] kkurni commented on #5022
Good finding.

[2016-01-05 18:24] Sridhar-MS commented on #5066
I will close this issue after verifying @ericstj's workaround.

[2016-01-05 18:25] chcosta commented on #4657
This will be in tomorrow's packaging update.  The update minimizes the shims installed for win7, win8, win81, win10.  I'll close this issue for now and it can be re-opened if necessary.

[2016-01-05 18:25] #4657 closed

[2016-01-05 18:53] eerhardt commented on #5022
I've reproed this in a standalone native application on my Mac OSX El Capitan machine (ICU 55).

[code]

that code prints out:

[code]

I'll be sending an email to ICU discussion on this issue, but I'm assuming this issue is going to get closed as "external" since this is the underlying ICU behavior.

[2016-01-05 19:04] kkurni commented on #5022
I reproed this on ubuntu 14.0.4.
Does ubuntu use the same ICU 55 ? will it be the same for all unix ?

[2016-01-05 19:17] eerhardt commented on #5022
My Ubuntu 14.04 was using ICU 52, which is even older.

[2016-01-05 20:16] ianhays commented on #4991
@stephentoub @mellinoe any thoughts?

[2016-01-05 20:20] eerhardt commented on #4818
Do we have to use the full native assembly name as a prefix? Or should we shorten it, so the names don't get so long (as @nguerrera pointed out)?  Would it make more sense to use the same names as we do in the Interop.Libraries class?

[code]

So for System.Native, we still have "SystemNative_" prefix.  But for Crypto, we use "CryptoNative_" instead of "SystemSecurityCryptographyNative_".

[2016-01-05 20:28] ellismg commented on #5188
I think there are two concurrent discussions going on here, depending on how you interpret the phrase: "have the searched key in the exception".

One view is that we could add a public Key property, to KeyNotFoundException which gave you back the actual Key object we used when the lookup failed.

The other view is do something like calling `ToString()` on the Key object and including that text in

[2016-01-05 20:50] #4593 closed

[2016-01-05 21:13] svick commented on #3419
@vancem That's dotnet/roslyn#36, and as far as I can tell, it hasn't been added yet, it's currently "ready to be implemented".

[2016-01-05 21:17] AlgorithmsAreCool commented on #4969
I noticed the needs work designation, were there any specific concerns that i could tidy up?

[2016-01-05 21:31] jkotas commented on #4818
Sounds good to me.

[2016-01-05 21:52] stephentoub commented on #4818
Me, too.

[2016-01-05 21:56] bartonjs commented on #4818
I feel like a Johnny-come-lately, but I also prefer `CryptoNative_` to `ThatReallyLongPrefix_`.

[2016-01-05 22:06] eerhardt commented on #5022
@markusicu replied on the ICU support email discussion:

The Japanese sort order has special rules for length-mark-after-syllable, but only for the regular length mark, not for its halfwidth form.
It also does not seem to have a complete duplicate of the rules for the halfwidth syllable (the Ta) compared to its regular form.
The data is in CLDR: http://unicode.org/cldr/trac/browser/trunk/common/co

[2016-01-05 22:06] #5022 closed

[2016-01-05 22:10] stephentoub commented on #5022
Thanks, @eerhardt.  I assume you opened a ticket per the response?

[2016-01-05 22:18] stephentoub commented on #4991
I agree we shouldn't be throwing in this example.  We should provide full-fidelity (or best possible fidelity) regardless of OS, and only use a fallback scheme when attempting to extract the archive, at which point we do need to handle any mismatches between what's in the archive and the rules of the target file system.  For an invalid character, the options would seem to include throwing, providi

[2016-01-05 22:39] sokket commented on #4979
Pushing back to RTM since this is not necessary for RC2

[2016-01-05 22:39] sokket commented on #4974
Pushing back to RTM since this is not RC2 specific

[2016-01-05 23:24] ianhays commented on #4991
Yes. The same options exist for how to treat the backslash on a Unix-Compiled Zip.

The only places I can think of that throwing potentially makes sense would be:
- In the Name getter of ZipArchiveEntry. If we throw here then there isn't any other API to get the path beyond manually parsing the stream.
- When trying to use the ZipFile Extraction extension methods.Throwing here is less of an issue

[2016-01-05 23:41] stephentoub commented on #4991
Sorry if I wasn't clear.  I do not believe we shoudl throw anywhere other than in APIs whose sole purpose is to write to the file system, thereby needing to use a valid name, and thereby running into problems if the name in the zip is invalid for the target file system.  Do you have a list of the APIs that would be affected then?  If such APIs have workarounds such that, if they would throw, there

[2016-01-05 23:52] eerhardt commented on #5022
Yes - I opened http://unicode.org/cldr/trac/ticket/9146 for the underlying CLDR data problem.

[2016-01-06 00:04] stephentoub commented on #4834
This is confusing to me.  The only way that should behave as you suggest is if there's already a non-default SynchronizationContext set on the thread.  So, when this repros, what's the type of SynchronizationContext.Current on the thread calling GetContextAsync (before you change it), and what's the type of SynchronizationContext.Current inside of the call to your Post method?

I'm also a bit conf

[2016-01-06 00:27] terrajobst commented on #693
Not sure that would work in all cases either. What if the enum is backed by a double/float? C# doesn't support CLI does.

[2016-01-06 00:40] kouvel commented on #4834
If you could provide a repro and what you expect to see, that would be greatly useful as well. Thanks!

[2016-01-06 01:06] mconnew commented on #4062
I have just submitted a PR aspnet/dnx#3298 to fix this issue to the dnx repo. Once that's done, a newer package version will need to be used. I've tested this with WCF as we have nearly 300 packages needing to be downloaded and we were hitting this pretty much every clean build.

[2016-01-06 01:32] drbo commented on #5162
@morganbr no, I am not specifically looking for a stream cipher.

Rather, I am looking specifically for ChaCha20-Poly1305 (for AEAD) and possibly XSalsa20-Poly1305.

The *big* advantages of the Salsa20 family of ciphers (which includes ChaCha20 and XSalsa20):

- Designed for secure implementation in software.  When AES-NI is not available OpenSSL uses
  an
- Very fast, even in pure-software implem

[2016-01-06 01:46] ianhays commented on #4991
I think we're on the same page; you want to know which Extraction methods would be broken by using the 'true' paths in ZipArchive and how difficult it is to work around.

```ZipArchive.ExtractToFile``` would be fine since it takes a path as a parameter and doesn't use the entry's path.

```ZipArchive.ExtractToDirectory``` would throw since it attempts to create files from ArchiveEntries using the

[2016-01-06 02:34] stephentoub commented on #4991
Yup.  This sounds good to me.  Thanks.

[2016-01-06 02:35] bartonjs commented on #5173
The root cert store that OpenSSL reads on OS X is empty by default.  You'll likely need to add the root cert to `X509Store(StoreName.Root, StoreLocation.CurrentUser)`.

Alternatively, you could fix it at the system level in a manner such as http://andatche.com/blog/2012/02/fixing-ssl-ca-certificates-with-openssl-from-macports/

[2016-01-06 04:20] weshaggard commented on #2352
I like the proposed API.

[2016-01-06 04:21] weshaggard commented on #692
agreed.

[2016-01-06 04:34] weshaggard commented on #1525
I'm not entirely sold on the value of this yet but if we do go as far as modifying ArgumentException itself I think I prefer Justin's other sample:

[code]
I like those methods better then adding the enum, it is more concise and essentially just as extensible as the enum.

[2016-01-06 05:40] OtherCrashOverride commented on #1525
If you distil it down from the original proposal:

[code]

``Null`` is already covered by ``ArgumentNullException``.
``OutOfRange`` is already covered by ``ArgumentOutOfRangeException``.
``NullOrEmpty`` is already covered by ``ArgumentNullException`` in the first case (ambiguous).
``NullOrWhiteSpace`` is already covered by ``ArgumentNullException`` in the first case (ambiguous).

This means there

[2016-01-06 06:22] mikedn commented on #1525
That would certainly be preferable to adding an `enum` because it solves another problem.

Throwing such an exception requires 3 or 4 calls today - one to allocate the exception, one to get the string, one to call the constructor and one to throw the exception. That's a lot of code considering that it is quite common for .NET methods to validate their arguments. If the methods are generic then you

[2016-01-06 09:23] bartdesmet commented on #4491
Another interesting omission is the lack of LambdaExpression.Compile accepting a MethodBuilder which tends to be very useful when combined with AssemblyBuilder.Save support.

[2016-01-06 10:58] clrjunkie commented on #4834
@stephentoub, @kouvel

Since I opened this issue about a month ago my environment has drastically changed, currently on Win10/VS2015.  I noticed the issue on Win7/VS2013/.NET 4.52 in Debug mode. I can't revert to that config but I'll report if I'll able to repro it again in the current environment.

 @stephentoub

This is key. I'm not familiar with the compiler implementation that generates the un

[2016-01-06 11:13] NickCraver commented on #3423
@saurabh500 any update?

[2016-01-06 12:09] shanhongyue commented on #4724
I will write an example in several days.

[2016-01-06 13:53] JonHanna commented on #2317
@ericstj It's source-breaking but not breaking on previously compiled code. Take a look at https://github.com/JonHanna/corefx/commit/9e93882f8857d17b4d5ecb8aaf85d72ead8abba8

This has the following simple test, based on the SO. It fails either way, but differently in each case:

[code]

Without changing `IOrderedEnumerable` to be covariant, this fails with `"Base"`.

After changing `IOrderedEnumer

[2016-01-06 16:08] ericstj commented on #2317
I think we should treat it as an API change.  The static compile case would just work with a new reference assembly for desktop but the runtime compile case would not.  As such I wouldn't want to "lead" folks on by giving them an updated reference assembly on net46 and then have that fail at runtime in your https://github.com/dotnet/corefx/issues/2317#issuecomment-124463672 example.

/cc @AlexGhio

[2016-01-06 16:10] JonHanna commented on #2317
Probably the better option on balance.

[2016-01-06 16:18] #4504 closed

[2016-01-06 18:29] chcosta commented on #5066
@Sridhar-MS , is it ok to close this issue now?

[2016-01-06 18:43] clrjunkie opened #5199 "Build failure on master (Ubuntu Desktop 14.04.3)"
Installed fresh copy of Ubuntu Desktop 14.04.3 LTS in VirtualBox 5.0.12

**Build CoreCLR on Linux (Instructs to build CoreFx as well)**

https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md
installed git

1) clrjunkie@ubuntu-14-desktop:~$ cd ~
2) clrjunkie@ubuntu-14-desktop:~$ mkdir git
3) clrjunkie@ubuntu-14-desktop:~$ cd git
4) clrjunkie@ubuntu-14-desktop:~/

[2016-01-06 18:44] Sridhar-MS commented on #5066
Verified the fix, closing the issue now.

[2016-01-06 18:44] clrjunkie commented on #5199
[fxbuild.txt](https://github.com/dotnet/corefx/files/80212/fxbuild.txt)

[2016-01-06 18:51] chcosta commented on #4881
@SharpNoiZy, is there additional follow-up required here or is your issue resolved satisfactorily?

[2016-01-06 18:52] zeroskyx opened #5200 "ReceiveAsync cancellation throws WebSocketException and terminates the socket"
await Socket.ReceiveAsync( new ArraySegment( Buffer ), Ct );
 cannot be cancelled on a ClientWebSocket when Ct is the CancellationToken.
 Instead of throwing a OperationCanceledException and keeping the socket alive, the following exception is thrown and the socket is aborted:

System.Net.WebSockets.WebSocketException: The 'System.Net.WebSockets.InternalClientWebSocket' instance cannot be used for

[2016-01-06 18:53] stephentoub commented on #5200
cc: @davidsh, @cipop

[2016-01-06 18:55] stephentoub commented on #4606
@vijaykota, @shrutigarg, can you share the status of this one?  I'm nervous about an entire library having tests disabled on Unix. Thanks!

[2016-01-06 18:55] mellinoe commented on #5199
I see a couple issues, most probably caused by recent changes to project files and changes in the new .builds files:

* Some tests are running against the Windows version of the library. Registry, Threading.Overlapped, Crypto, Net.Security
* Creating NuGet packages isn't working because some of the libraries aren't being built.

I'll try this on my Ubuntu machine in a minute and see what issues I

[2016-01-06 19:02] #5066 closed

[2016-01-06 19:28] mellinoe opened #5202 "[API Proposal] Support for constructing and copying Vector<T> from pointers"
# Summary
Currently, the System.Numerics.Vectors library provides no way to construct `Vector<T>` objects out of native pointers, or from anything other than an array or a single constant element. Although part of the draw of this library is access to high-performance vector math without resorting to native or unsafe code, there’s a lot of reasons you might have your data stored somewhere outside

[2016-01-06 19:31] mellinoe commented on #5202
@terrajobst , @CarolEidt

[2016-01-06 19:42] mellinoe commented on #5199
Didn't see it when looking through your log initially, but I'm hitting it too:

[code]

[2016-01-06 20:02] stephentoub commented on #5202
I wonder whether we actually want to expose the ```void*``` overloads.  This may just be a nit, but in doing so we'd make it easy to accidentally take something inherently unsafe and wrap it in something that isn't unsafe such that it could easily escape the unsafe context (e.g. creating a ```Vector<T>``` from some stackalloc'd state and then returning that ```Vector<T>``` from the method).  With

[2016-01-06 20:04] stephentoub commented on #5109
@andschwa, any chance you were able to try that out?

[2016-01-06 20:04] andschwa commented on #5109
@stephentoub Sorry! I totally missed this. Let me try it ASAP.

[2016-01-06 20:15] clrjunkie commented on #5199
@mellinoe

Can you shed some light on how the CoreFX build process works?
Are the CoreFx assemblies partially compiled using references to Mono BCL Dll’s?
Is the Mono compiler used during build / something else ?
Are Mono DLL's used for missing CoreFX ports at runtime ?

A short explanation would highly be appreciated.

[2016-01-06 20:28] kkurni commented on #5060
I try to reproed this on my ubuntu machine, and I didn't see any failure.
Probably this is related with SSL handshake in OSX.

(Still waiting for results in OSX)

[code]

[2016-01-06 20:29] kkurni commented on #5173
I try to reproed this on my ubuntu machine to connect to sql azure, and I didn't see any failure.
Probably this is related with SSL handshake in OSX.

(Still waiting for results in OSX)

[code]

[2016-01-06 20:36] stephentoub opened #5204 "corefx code coverage runs are consistently failing in CI"
Some are failing with errors like this in the log:
[code]

Others are failing with errors like this in the log:
[code]

We haven't updated to a newer version of OpenCover since July, and these issues only just started happening in the last few days, implying to me this is somehow infrastructure related...?

[2016-01-06 20:56] CoreyKaylor commented on #1784
Porting a project and some of those methods are desperately needed. Assembly.GetReferencedAssemblies and Assembly.GetExecutingAssembly specifically for me.

[2016-01-06 21:04] mellinoe commented on #5202
I think I understand where you're coming from, but I don't think it's an issue, actually. The constructor copies the data out of the pointer's location, it doesn't actually wrap it. By the time you return the `Vector<T>` from your unsafe method, the stackalloc'd memory wouldn't be read again, and the struct returned from the method just has a copy of the data. Let me give an example:

[code]

`Vec

[2016-01-06 21:07] stephentoub commented on #5202
It copies the data??
1) Then why are these ctors useful at all?  That implies the struct needs to heap-allocate storage, do the copy, etc., and that could all be done by the caller.
2) How does the ctor know how much data to copy?  You're giving it a pointer without a length.

[2016-01-06 21:08] kouvel opened #5205 "API review: During shutdown, revisit finalization and provide a way to clean up resources"
Running finalizers on reachable objects during shutdown is currently unreliable. This is a proposal to fix that and provide a way to clean up resources on shutdown in a reliable way.

## Issues observed on shutdown

Currently, a best-effort attempt is made to run finalizers for all finalizable objects during shutdown, including reachable objects. Running finalizers for reachable objects is not rel

[2016-01-06 21:08] kouvel commented on #5205
CC @jkotas @stephentoub @terrajobst

[2016-01-06 21:10] mellinoe commented on #5199
Right now, mono is only used to run our x-plat version of MSBuild. MSBuild itself, as well as the Roslyn compiler, are provided by us. Also, we're aiming to remove the mono dependency very soon (and run MSBuild on CoreCLR). We don't compile against any Mono assemblies, nor do we use them at runtime (except for running MSBuild).

@weshaggard and I figured out the issue with the "No Matching Contrac

[2016-01-06 21:12] CarolEidt commented on #5202
It doesn't copy the data into an object - it copies the data into a struct. Which, with the intrinsic, will usually mean copying the data from memory (wherever it's been allocated) into a SIMD register. As for how much to copy, it will always copy the length of a Vector<T>, which the caller would presumably ensure is accessible.

[2016-01-06 21:14] stephentoub commented on #5202
Yes, I was misunderstanding the design of ```Vector<T>```... I didn't realize it was fixed in length based on the current architecture, and instead thought it was essentially a wrapper for a ```T[]``` / ```T*``` with a length.

[2016-01-06 21:20] Priya91 commented on #999
Closing this issue, with the new APIs added to RuntimeInformation.

[2016-01-06 21:20] #999 closed

[2016-01-06 21:20] mellinoe commented on #5202
Carol put it better than I did, I think. I will include that information in the proposal because it's important.

Another thing that might help explain why these will be useful:

Because `Vector<T>` is a generic struct, you can't directly take it's address, nor have a pointer to it.
[code]
Consider `Vector4`, which is sort of similar to `Vector<float>`. If you want to get a `Vector4` from a `float

[2016-01-06 21:21] Priya91 commented on #4385
Discussions ongoing with windows team, moving this to rtm.

[2016-01-06 21:22] clrjunkie commented on #5199
Understood. Thanks!

Waiting for a fix.

[2016-01-06 21:34] khdang opened #5206 "XmlDictionaryReader removing significant whitespace"
Using XmlDictionaryReader wrapped in a XmlReader to parse element with white spaces results in the white spaces being skipped.

The MSDN suggests this is a by-design behavior. However XML specs indicates white spaces in content are significant and should not be ignored.

The following is the test demonstrating the issue:
[code]

[2016-01-06 21:41] weshaggard commented on #1784
Assembly.GetExecutingAssembly has an easy replacement of typeof(<FooInAssembly>).GetTypeInfo().Assembly. That said we are looking into these APIs and considering bringing a number of them to .NET Core.

[2016-01-06 21:45] #4668 closed

[2016-01-06 21:45] natemcmaster commented on #5173
As @bartonjs suggests, this may just be an issue with how CoreCLR finds CAs on OSX. Specifying `TrustServerCertificate=True` in the connection string fixes the issue

[2016-01-06 21:47] CoreyKaylor commented on #1784
@weshaggard that isn't equivalent, it assumes you have access to a type in the executing assembly.

[2016-01-06 21:48] Priya91 commented on #4953
@dsgouda Can you assign this issue to the right owner of this library. Thanks!

[2016-01-06 22:19] shmao commented on #4934
I collected the server side traces (see attached) using Message Analyzer.

The test was to make the above repro code to send a string to a not-found address of the above mentioned bridge server. The expected result was the client getting Not-Found as response; in the error case, the result was the client getting IO exception.

There are two trace files in the attached, one for the success case and

[2016-01-06 22:23] davidsh commented on #4934
What are you expecting the client to do in order to "handle this case"?  We can't turn an IO exception into a valid HTTP response.  The client is simply reacting to the network interruption and thus passing up the IO exception up the stack.

So, what exactly is the error case you want the client (HttpClient) to do better at?

[2016-01-06 22:30] venkat-raman251 opened #5209 "Consolidate SafeTokenHandle and SafeAccessTokenHandle"
SafeTokenHandle and SafeAccessTokenHandle in corefx / src / System.Security.Principal.Windows / src / Microsoft / Win32 / SafeHandles / seem to be the same. They must be consolidated into one or needs investigation as to why they both are required.

[2016-01-06 22:32] shmao commented on #4934
I did the test with the client of the desktop version, and it didn't throw the IO exception. I know "the .NET Desktop HTTP stack is very different and the timings will be different". However, from the trace, the desktop client seems able to handle similar sequence of messages that occurred in the error case.

[DesktopClient_BridgeServer.zip](https://github.com/dotnet/corefx/files/80445/DesktopClie

[2016-01-06 22:42] davidsh commented on #4934
I don't see any errors in the NotFound_Error trace.  The _Error trace is smaller than the _Success trace.  But both traces show an HTTP request and response (NOTFOUND).

[2016-01-06 22:47] shmao commented on #4934
Right, there is no error in the _Error trace and both traces show NOTFOUND response. But the client threw IO exception when I collected the _Error trace.

[2016-01-06 22:47] weshaggard commented on #1784
@CoreyKaylor Yes it does but you are in the executing assembly so just take the type of the method you are making this call from. There should be no cases where you cannot access the type of the assembly you are trying to execute this method call in.

[2016-01-06 22:48] andschwa commented on #5109
@stephentoub Sadly, no, still happening. Let me get a smaller repro made.

[2016-01-06 22:50] davidsh opened #5211 "Add CancellationToken overloads to async methods in System.Net.Security"
Ref: #4732

[2016-01-06 22:55] weshaggard commented on #4953
The library owner is @GiriSr but we cannot assign it to him as he isn't part of the dotnet group yet.

[2016-01-06 22:56] nguerrera opened #5212 "API review: System.Reflection.Metadata debug directory reading + misc"
Tracking the pending API review for PRs #5009 and #5018

New types
---

[code]

New members
---
[code]

[2016-01-06 22:59] nguerrera commented on #5212
FYI @weshaggard

[2016-01-06 23:00] davidsh commented on #4934
I looked at the traces.

It appears that your server is violating the RFCs for HTTP.  In the "Success" case, the entire HTTP response is sent back (headers and HTML 'not-found page' payload) as one 492 byte TCP packet.  However, the server appears to keep sending data and the data is "garbage" (lots of 'a' characters).

The .NET Desktop HTTP stack apparently is not as strict for checking this sort

[2016-01-06 23:02] nguerrera commented on #5212
cc @tmat

[2016-01-06 23:03] CoreyKaylor commented on #1784
@weshaggard Ah dang, you're right. I was getting it mixed up with another method. :innocent:

[2016-01-06 23:06] shmao commented on #4934
The 'a' characters is the StringContent sent by the client to the server.

[code]
It's that the client keep sending the content to the server after the server already sent the NOTFOUND response.

(port 8081 is the server side port.)

[2016-01-06 23:24] davidsh commented on #4934
ok.  Thx for the clarifications and sorry for the confusion.  I've reviewed the TCP traces with some WinHTTP folks and it appears that we do need to fix a bug here.

In both .NET Framework (Desktop) and CoreFx, the server is sending back a valid HTTP response quickly.  However, the POST data is being transmitted still even though the server has sent back a response and closed the TCP connection.

[2016-01-06 23:35] shmao commented on #4934
Sounds good. Thanks for the investigation, David.

[2016-01-06 23:40] andschwa commented on #5109
@stephentoub @pallavit Here is a super simple [repro](https://github.com/andschwa/console-repro). While making this, I determined that the bug only arises if the program is shut down "cleanly", at least, by returning from main; it doesn't occur if an interrupt is used to kill the program (i.e. hitting `Ctrl-C`).

[2016-01-06 23:43] andschwa commented on #5109
P.S. Simple repro still repros with replaced `System.Native.so` containing `c6a6003`.

[2016-01-06 23:46] ericstj opened #5216 "Update NETStandard.* package versions to match the latest netstandard version they support"
Today the NETStandard.* packages are versioned 1.0 but it would be clearer if they were reversion-ed to match the latest supported version of NETStandard.

[2016-01-06 23:48] mconnew commented on #4934
@davidsh, another interesting point about .Net on Desktop is WCF wouldn't see this happen even if HttpWebRequest had the same behavior as WinHTTP. On Desktop, WCF makes use of `Expect: 100-Continue` so wouldn't even try to send the payload as it would get the 404 response before attempting to send the request body. As the Expect 100 behavior is turned on by default with HttpWebRequest, the perform

[2016-01-06 23:52] terrajobst opened #5217 "Add signing support to System.Reflection.Metadata"
There is already work in progress to [add the capability](https://github.com/dotnet/cli/issues/720) to the `dotnet` tool

However, compilers usually do strong naming as part of the compilation process. This requires having a library that can be used to perform the signing. It seems `System.Reflection.Metadata` is the right location said functionality, especially when we support writing metadata.

[2016-01-06 23:54] ericeil commented on #3682
Looks like the same underlying cause as #3494.

[2016-01-06 23:55] ericeil commented on #3744
Looks like the same underlying cause as #3494.

[2016-01-06 23:55] ericeil commented on #3748
Looks like the same underlying cause as #3494.

[2016-01-07 00:04] ericeil commented on #3494
Error 10054 is "connection reset."  What all these cases seem to have in common is that they involve accepting a connection, and then not cleanly closing the newly-accepted socket.  Perhaps Linux is a little less forgiving of this in the client-side `connect` call, resulting in an error where Windows reports success.

One solution might be to explicitly call `Shutdown` and `Dispose` on the accepte

[2016-01-07 00:32] dsgouda opened #5221 "Address code reviews for porting System.IO.FileSystem.AccessControl"
@weshaggard
Please assign @GiriSr to address the code reviews posted here
https://github.com/dotnet/corefx/pull/4946

[2016-01-07 01:04] mcdirmid opened #5222 "Vector2 precision"
I'm finding Vector2's precision to be completely unsuitable for my app (a sketching application with lots of trigonometry), and I'm wondering what the sanctioned Vector with double precision elements are? There was the one in WPF, of course, but for a universal app we can't use that. There is Point, but it doesn't provide much of the necessary math. Are people just rolling their own when they need

[2016-01-07 01:23] weshaggard commented on #1784
@CoreyKaylor no worries I often get it missed up with Assembly.GetEntryAssembly(), so I had to take a double take as well :)

[2016-01-07 01:28] ianhays commented on #5041
Both this issue and #5039 are results of running the tests as the superuser, I can repro the test failures when running them under sudo, but I'm uncertain how much of an issue that is.

I assume we want all tests to pass under sudo which means we'll need to add logic to exclude the tests when permissions are elevated such that ReadOnly files may be modified.

[2016-01-07 01:55] weshaggard commented on #5221
This is a duplicate of #4953 so closing.

[2016-01-07 01:55] #5221 closed

[2016-01-07 04:38] jkotas commented on #5205
The proposed AssemblyLoadContext.ProcessExit API is essentially exposing AppDomain.ProcessExit from full .NET Framework under different name.

It may be worth noting that the fundamental problem with finalization during shutdown came from inspiration by Java designs in the early days of .NET. Java have realized and fixed the fundamental problem many years ago by deprecating (disabling by default)

[2016-01-07 05:00] thmulvany commented on #4631
@PeteX , thank you so much for this! It works. My app can talk to AWS RDS PostgreSQL!

I take it you have submitted a corefx pull request with these changes :)

Anyone ( @sirentek  )  wanting to use it can just add the file to your project root and then use docker COPY like this:
`COPY ./System.Native.so /opt/DNX_BRANCH/runtimes/dnx-coreclr-linux-x64.1.0.0-rc1-update1/bin`

Be sure and also have t

[2016-01-07 06:56] shrutigarg commented on #4606
@stephentoub there is one pending PR https://github.com/dotnet/corefx/pull/5034 to fix the race condition due to which a few tests  were failing randomly.That PR still needs to  be taken forward and needs LGTM.We have run all Unit/Functional tests on all flavors.  Otherwise tests are clean and ready to enable..

[2016-01-07 07:09] kouvel commented on #5205
Oh right, I had meant to null it out, but I guess there might still be a reference somewhere. I'll just remove that part.

[2016-01-07 08:04] sirentek commented on #4631
@thmulvany , I will give it a try tonight and share the results.

[2016-01-07 11:12] PeteX commented on #4631
Hello @thmulvany, glad it worked for you.  There's no need for a pull request because the fix is already in RC2.  All I did was backport it to RC1 and build the resulting tree.  I'm looking forward to RC2 coming out,  so I can stop using this hack.

If my binary isn't working for you, it's not too hard to build the fixed tree yourself.  Clone the corefx tree, check out the v1.0.0-rc1 tag, then che

[2016-01-07 12:10] JonHanna commented on #4984
@bartdesmet considering your suggestion at https://github.com/dotnet/corefx/issues/4984#issuecomment-165549413 that this may be by design because:

Languages that have user-defined setting forms for storable locations should provide language-specific reducible nodes.  These nodes can reduce, for example, to a MethodCallExpression that takes the arguments defining the location and an argument for t

[2016-01-07 14:28] clrjunkie commented on #5205
"if a thread is blocked during GC", are you referring to the finalizer thread? Is that because the GC does not reclaim any memory during shutdown and if the finalizer thread attempts to make an allocation that would trigger a GC it would block waiting to be notified that the GC completed its work - a notification that would never occur since at this point GC requests would simply be ignored?

What

[2016-01-07 15:15] clrjunkie commented on #5199
Attached build log as of commit:

e0e13fc Merge pull request #5218 from justinvp/streamreader_preamble

[fxbuild2.txt](https://github.com/dotnet/corefx/files/81286/fxbuild2.txt)

 7 Warning(s)
    26 Error(s)

Time Elapsed 01:47:34.21
Build Exit Code = 1

[2016-01-07 15:27] #5118 closed

[2016-01-07 15:51] sirentek commented on #4631
I have added System.Native.so to rc1-update1 runtime bin folder.
Added the following 2 lines to project.json:
"runtime.linux.System.Net.NetworkInformation": "4.1.0-beta-23516",
"runtime.unix.System.Net.Security": "4.0.0-beta-23516"
As a result it didn't work..

I tried runtime coreclr rc-2-16357 and again it didn't work for me.
I didn't try building the tree myself.

Thanks for the information (@P

[2016-01-07 16:40] stephentoub commented on #5109
Thanks, @andschwa.  That was helpful.  As it turns out, there's a much simpler repro: just using Console.ReadKey() from Main.  I wasn't able to repro it initially as I hadn't built coreclr in a while, but after sync'ing and rebuilding, I was able to repro it both with corerun and dotnet.

@mikem8361, I think this is somehow being caused by some of your recent debugger-related changes.  When we set

[2016-01-07 16:55] stephentoub commented on #5109
ps Even though m_outboundPipe is getting initialized to -1, it's getting cleared back to 0 here:
https://github.com/dotnet/coreclr/blob/7fded4942276b6a5d7b230cc29fcd2e6fdab979c/src/debug/shared/dbgtransportsession.cpp#L58

[2016-01-07 17:02] ianhays commented on #1793
closed in mirror https://github.com/dotnet/corefx/pull/5225

[2016-01-07 17:02] #1793 closed

[2016-01-07 17:02] stephentoub commented on #5204
@sawilde, have you seen these exceptions from OpenCover before?  Any ideas what might be causing this?

[2016-01-07 17:03] stephentoub commented on #1793
@ianhays, do we have a separate work item tracking adding tests for BufferedStream?

[2016-01-07 17:20] mikem8361 commented on #5109
Yes, that is the problem.  I recently enabled calling the cleanup/disconnect to remove the tmp pipe files created by the transport.  Looks it also had this bug. I’ll get this fixes asap.

mikem

From: Stephen Toub [mailto:notifications@github.com]
Sent: Thursday, January 7, 2016 8:56 AM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>
Subject: Re: [corefx] Co

[2016-01-07 17:22] stephentoub commented on #5109
Thanks, Mike.

[2016-01-07 17:22] ianhays commented on #1793
Yes. https://github.com/dotnet/corefx/issues/5086. I've already got them done, just need to rebase on master and submit a PR.

[2016-01-07 17:23] stephentoub commented on #1793
Great, thanks.

[2016-01-07 17:26] #5130 closed

[2016-01-07 17:26] #5141 closed

[2016-01-07 17:35] JonHanna commented on #4722
cc @bartdesmet

[2016-01-07 18:58] pallavit commented on #5109
@stephentoub I think there is value in the fix that you put together and we should check it in as well. Thoughts?

[2016-01-07 19:25] mellinoe opened #5230 "VB projects cannot be built on non-Windows platforms"
We only have one in the repo here, but I believe there is an issue in the x-plat version of MSBuild that is causing these to fail. I think the problem is that this Task (https://github.com/Microsoft/msbuild/blob/xplat/src/Utilities/ToolTask.cs) has a workaround to normalize all backslashes to forward-slashes, for file paths. Unfortunately it does that on the entire response file we generate to pas

[2016-01-07 19:29] terrajobst commented on #5202
@stephentoub I assume the comments from @CarolEidt and @mellinoe clarified it. Are you still opposed to the design?

[2016-01-07 19:31] stephentoub commented on #5202
No, it's fine.

[2016-01-07 19:38] mjrousos commented on #2317
Agreed. We probably should document it as a re-targeting break in vNext, as well. It seems pretty unlikely to be hit, but someone somewhere will probably manage it. :)

[2016-01-07 19:41] mellinoe opened #5233 "NuGet packages cannot be built on Ubuntu"
(Probably other non-Windows platforms as well)

There seems to be some path issue on Ubuntu when running the package build on Ubuntu. It seems like some paths are not being combined properly, or something of the sort. The inputs to the packaging task seem to be correct, though, so there may be an issue in the NuGet task itself. Here's a representative error:

[code]

Notice the path: **/home/eric/

[2016-01-07 19:42] noahfalk commented on #4976
Fixed with PR #5226

[2016-01-07 19:42] #4976 closed

[2016-01-07 19:42] terrajobst commented on #5202
Couple of questions:

1. Do we need the `IntPtr` overloads at all?
2. You say, the JIT will support those intrinsics. What does that mean for .NET Native?
3. I assume for the time being, the intrinsic will only be supported by CoreCLR. What happens when these APIs are used on the desktop CLR? Will they work but not be intrinsics or will they fail?

[2016-01-07 19:43] terrajobst commented on #5202
Also, tagging a few more folks that might have input. If possible, we should try to conclude it here, as opposed to having a meeting.

@weshaggard @KrzysztofCwalina @ericstj

[2016-01-07 19:50] mellinoe commented on #5202
We don't need them, but it would let you stay out of unsafe code if you already have an `IntPtr` to your data. `System.Drawing.Bitmap`, for example, exposes an `IntPtr` to the pixel data which you could operate on without entering an unsafe context. Without those overloads, all you'd have to do is call `ToPointer()`, but might force you to adopt unsafe code where you previously had none.

Right no

[2016-01-07 19:50] CarolEidt commented on #5202
I should probably know the answer to this, but would void* vs IntPtr be distinct overloads, since (I think) both would map to native int in the IL?

[2016-01-07 19:53] CarolEidt commented on #5202
The void* overload is not yet recognized by the JIT, but these would be very easy to add.

[2016-01-07 19:56] mellinoe commented on #5202
They will be distinct, since you can have both overloads. `IntPtr` maps to `native int` in IL, but `void*` maps to `void*`.

Compiling these:

[code]

gives this IL (from ILSpy):

[code]

[2016-01-07 20:00] ianhays commented on #4964
The design notes say ```NetCore Design Notes: CreateSetComparer does not take into consideration the custom comparers pass to each of the sets.```. There is no mention of why they were left out. I was not here when that decision was made, but @stephentoub or @ericstj may know the reason.

I imagine the API was left out because it was decided that comparing HashSets or SortedSets isn't a frequent e

[2016-01-07 20:02] mellinoe commented on #5199
@clrjunkie Thanks for following up again. I've filed #5230 and #5233 to track the remaining issues that I see. The other issue that I didn't file is that tests that SHOULD be disabled on Ubuntu are not being disabled if you run `build.sh`. They are disabled properly if you run `run-tests.sh` (like our CI is doing), but it's hard to run that script by hand. In any case, `build.sh` should be fixed b

[2016-01-07 20:05] stephentoub commented on #5109
@pallavit, thanks, probably, though I still want to think about it more.  The more pressing issue is getting this issue fixed first.

[2016-01-07 20:10] mellinoe commented on #5222
Unfortunately, we don't have any primitives exposed right now that have 64-bit precision. The primitives we do expose are the ones that map to the Universal platform's numerics primitives (`Windows.Foundation.Numerics`), which all use `float`s.

Could you give a little more detail about some of the operations you are doing and what you'd like a double-precision structure to look like? Would a `Vec

[2016-01-07 20:12] mikem8361 commented on #5109
@stephentoub, @pallavit – I should have this fixed today.  Stephen did you already have a fix?

[2016-01-07 20:13] stephentoub commented on #5109
No, I have a fix for a related but different issue that involves parent/child processes.

[2016-01-07 20:31] ianhays commented on #4605
We should try to resolve this in a modular enough fashion that it also resolves #5039 and #5041 at the same time.

@Priya91 I'm going to re-assign this to myself since it's System.IO stuff unless you've already been working on it.

[2016-01-07 20:32] mjrousos commented on #2317
/cc @HollyAM

[2016-01-07 20:42] clrjunkie commented on #5199
Can you please open an issue for this?

I really don't know how to assess the current situation.. can I work with what did build?

How can I build individual projetcs on linux ? 1.5h is too long

[2016-01-07 20:46] nguerrera commented on #4628
hitCount++

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/582/consoleFull#-1830000039a82fefab-f698-416f-8fca-58544c94cd4e

[2016-01-07 20:52] nguerrera opened #5234 "UDP tests fail with invalid checksum"
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/682/console

[2016-01-07 20:56] scalablecory commented on #3249
One note is that `Stopwatch` actually falls back on `DateTime.UtcNow.Ticks` if performance counters are not available, so even then it's not a robust solution.

[2016-01-07 21:05] mellinoe opened #5235 "Build.sh runs tests that should not be supported"
Running build.sh on Ubuntu (for example) will run the Microsoft.Win32.Registry tests, as well as a bunch of other inapplicable test projects. It seems that only runtests.sh is actually detecting which projects should be skipped.

[2016-01-07 21:10] nguerrera opened #5236 "GenFacades failure in CI due to file in use"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/689/consoleFull#-37241274779494335-f7bd-47d0-8771-8661e00c2db2

cc @mellinoe @weshaggard

[code]

[2016-01-07 21:12] mellinoe commented on #5199
Yes, all of the assemblies that DID successfully build should be correct and fine to use. The test failures can be ignored because they should have been skipped in the first place.

You can run msbuild on the individual project files, as you would on Windows. Here is what I do:

* Create an alias for msbuild, or set an environment variable. MSBuild.exe can be found in the packages directory once y

[2016-01-07 21:12] Priya91 commented on #4605
@ianhays I've assigned it to you.

[2016-01-07 21:13] Priya91 commented on #4391
Added with #5210

[2016-01-07 21:13] #4391 closed

[2016-01-07 21:15] Priya91 commented on #1563
PR: #5223

[2016-01-07 21:17] CIPop commented on #5200
@zeroskyx have you tried this in .Net Desktop? We've tried to be on parity with the current Desktop implementation as much as possible.

[2016-01-07 21:32] clrjunkie commented on #5199
Thanks. May I ask how you prefer to debug (step into source assemblies) on linux

[2016-01-07 21:50] nguerrera commented on #5234
Again, this time in IPv6

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/688/console

[code]

[2016-01-07 21:52] zeroskyx commented on #5200
@CIPop I've just tried to use the full .NET 4.6 ClientWebSocket and it does work:
Client: Connecting...
Client: Receiving...
Operation cancelled.
Press any key to close...

I have updated the sample solution including the console project: https://onedrive.live.com/redir?resid=1DDFA1793BD83CB5!282492&authkey=!AMCP1uOI78VqCHY&ithint=file%2czip

Just run the dnx solution which only starts the server

[2016-01-07 22:05] mellinoe commented on #5199
There's some instructions here, from the coreclr repo: https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-coreclr-on-linux.

Basic summary is to use lldb with libsosplugin, which should be downloaded with the rest of the necessary test assemblies.

[2016-01-07 22:06] mellinoe commented on #5236
@weshaggard I wonder if this is from multiple projects trying to build System.Runtime through a project reference? Have we hit any issues like that before?

[2016-01-07 22:06] ianhays commented on #4605
Did we upgrade the CI OSX machines to El Capitan before this change? I expect the failures were brought about by changes made in how El Capitan handles file permissions.

Possible causes I can think of:
- We don't have permissions to set the file as readonly and so the subsequent writing is a valid operation.
  - I will add a line to check this in the test before attempting writing.
- On OSX we're

[2016-01-07 22:28] clrjunkie commented on #5199
Thanks! please reference this issue when things get resolved so I can know when to test a full build again.

[2016-01-07 22:29] #1993 closed

[2016-01-07 22:44] khdang commented on #5127
I was thinking of refactoring the related tests to use [Theory] attribute and realized that it may not be possible to do that and still verifying with a string payload.
DateTime doesn't have an information indicating timezone accept for the Kind property which may take these 3 values: Utc, Unspecified, or Local. When Kind is Unspecified or Local, the serializers will suffix the serialized output w

[2016-01-07 23:02] mcdirmid commented on #5222
Angle computations mostly. My angles are represented as doubles, so going back and forth between vectors loses a lot of precision. All I really need is Vector2 with the same API and double components. Though I’m wondering why universal is bothering with floats at all (unlike WPF, which was double-only)? I guess it must be because of IoT and gaming hardware, or does it have to do with SIMD optimiza

[2016-01-07 23:27] ericstj commented on #5233
I took a look with Eric and it seem that the issue might be in nuget.core.  The paths in the nuspec are rooted and for some reason nuget.core is combining them with the directory the nuspec is in.

[2016-01-08 00:21] CIPop opened #5241 "WindowsIdentity ctor doesn't support WindowsAccountType and isAuthenticated"
The ctor was used by NegotiateStream to create an authenticated WindowsIdentity (in NegoState.Windows.cs:333).

The lack of the ctor causes a difference in the behavior of NegotiateStream on .Net Desktop vs CoreFX.

[2016-01-08 00:53] LLITCHEV commented on #5067
The System.Linq.Expression failures on Linux were fixed and the tests enabled last week. The Windows System.Collections.Immutable.BinarySearch* failures are the same as the one described in dotnet/coreclr issue #2349 (https://github.com/dotnet/coreclr/issues/2349). The only left failing tests are duplicates of dotnet/coreclr issue # 2349.

[2016-01-08 01:09] CIPop commented on #5200
Thanks @zeroskyx!

We'll have to investigate if the underlying Win32 API supports cancellation in the described scenario and if it does, ensure the same behavior as on Desktop.

[2016-01-08 01:12] LLITCHEV commented on #5067
@joshfree I am closing this because the remaining failures are dups of dotnet/coreclr #2349. Please reopen if you disagree that it needs to be closed.

[2016-01-08 01:42] weshaggard commented on #5067
I would like to keep this issue opened until we reactive the tests (i.e. remove the activeissue that is pointing at this issue).

[2016-01-08 02:11] nguerrera commented on #262
Design changes to discuss:

1. Make pinned a property of local and not of TType. Change DecodeLocalSignature to return array of (pinned, type).

2. Move PrimitiveTypeCode up one level or get rid of it in favor of individual GetXxx() methods

3. Merge IPrimitiveTypeProvider into ITypeProvider.

[2016-01-08 02:41] weshaggard commented on #5236
@ericstj and I did some debugging of some similar issues today. I definitely think it is a race condition with the different ProjectReferences we likely need to figure out which library configurations are different between the different references to fix this issue.

[2016-01-08 02:48] weshaggard commented on #5017
Duplicate of https://github.com/dotnet/corefx/issues/4976 which has been resolved.

[2016-01-08 02:48] #5017 closed

[2016-01-08 02:59] weshaggard commented on #5230
@mellinoe Could you please file a bug on the msbuild repo to make sure this is tracked?

[2016-01-08 03:49] #4732 closed

[2016-01-08 05:52] vijaykota commented on #5178
The packet shown is consistent with the client proposing TLS 1.2 and is not a protocol error. The two versions would have matched if the client had proposed TLS 1.0 instead of 1.2

In your case since the server seems to be expecting TLS 1.0, client should force this by explicitly passing SslProtocols.Tls as a parameter to SslStream.AuthenticateAsClient

[2016-01-08 05:56] ellismg commented on #579
These are passing now.

[2016-01-08 05:56] #579 closed

[2016-01-08 06:07] kkurni commented on #5178
@vijaykota , why does it behave differently in Windows ?

With the same code, client use TLS 1.2 and proposing TLS 1.2 in windows.
But in Unix client use TLS 1.0 and proposing TLS 1.2.

[2016-01-08 07:27] kouvel commented on #5205
Finalizers are run in a separate finalizer thread. Here I'm referring to other threads running managed code. Other threads are blocked, then finalizers run on the finalizer thread.

When there are background threads running managed code, and those threads are blocked, one of them may be blocked while doing a GC. When finalizers run on the finalizer thread, an allocation may get blocked until GC is

[2016-01-08 07:41] vijaykota commented on #5187
This is the fragmentation done by OpenSsl library and cannot be controlled. Similar traffic can be seen even using "openssl s_client -tls1". Though strange, this is not violating section 6.2.1 of [RFC 2246] (https://tools.ietf.org/html/rfc2246)

This should not happen since the receiving side will not get any extra/duplicate data - all of the 384 bytes will be needed to get the clear-text data for

[2016-01-08 11:32] JonHanna commented on #4751
I hate "bump" comments, but is there anything I can definitely put as the header if I submit a PR now with new files?

[2016-01-08 12:00] hasanoruc commented on #4631
@PeteX . thank you very very much. it works for me.
i recieved this error:
System.TimeoutException: The operation has timed out.
at Npgsql.NpgsqlConnector.Connect(NpgsqlTimeout timeout)
at Npgsql.NpgsqlConnector.RawOpen(NpgsqlTimeout timeout)
at Npgsql.NpgsqlConnector.Open(NpgsqlTimeout timeout)
at Npgsql.NpgsqlConnector.Open()
at Npgsql.NpgsqlConnectorPool.GetPooledConnector(NpgsqlConnection Conn

[2016-01-08 12:15] vijaykota commented on #4606
Regarding #4301, it never seems to have been root-caused. It may not even exist anymore.

If #4317 fix gets merged, we could consider re-enabling the tests

[2016-01-08 12:28] JonHanna opened #5244 "Should Expression.TypeIs allow void as a type argument?"
Currently any expression will compare with `void` with `TypeIs` as `false`:

[code]

This is at odds with `TypeEqual`:

[code]

The decision happens at `AnalyzeTypeIs()` which is commented as saying:

[code]

Arguably, its not that odd to allow void operands, considering that expressions of void type are allowed, or more reasonaly that dynamic use could mean passing something an expression of type

[2016-01-08 12:45] #3421 closed

[2016-01-08 13:29] stephentoub commented on #3610
@ericeil, this just failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug/202/console
[code]

[2016-01-08 13:32] GSPP commented on #3249
@scalablecory good point but maybe there are no supported platforms anymore where that fallback is necessary. If this is rare enough one could even make the monotonic time struct throw in case good stopwatch support is not there.

[2016-01-08 13:43] clrjunkie commented on #5205
@kouvel

I know this. I'm just trying to understand your example, specifically in the context of shutdown.

Please help me understand the exact chain of events:

Let's assume we have three "regular" user code threads T1, T2, T3 and the Finalizer thread FT.

So:

1) T1 executes some long running user code.
2) T3 calls either Environment.Exit(0) or Process.Kill followed by WaitForExit();
3) T2 execu

[2016-01-08 13:57] JonHanna commented on #5244
@bartdesmet of relevance to you perhaps:

The last case of `Expression.TypeIs(Expression.Constant("hello"), typeof(void))` does not throw with the interpreter, so this is another place where the behaviours don't match. In the interpreted case the behaviour matches what I suggest here it should be; returning false.

CC: @VSadov

[2016-01-08 13:59] stephentoub opened #5246 "SendReceive.SendRecvAsync_TcpListener_TcpClient_IPv4 failed in CI on CentOS"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/608/console
[code]
cc: @pgavlin, @ericeil, @cipop

[2016-01-08 14:22] stephentoub commented on #5236
Another case:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/51/console
[code]

[2016-01-08 14:58] ericstj commented on #5236
Yeah, I fixed the pkgproj case.  The way to root cause is to examine a diag build log that builds both the .builds for the project and the one that is referencing the racing project and diff the property collection.

I can help with this if you point me at a project ref that's causing the problem.

[2016-01-08 15:16] JonHanna opened #5247 "Expression.TypeEquals throws on void-typed operand in Interpreter"
These work fine with the compiler:

[code]

These throw `IndexOutOfRangeException` (or hit an assert in debug):

[code]
CC: @bartdesmet @VSadov

[2016-01-08 15:46] clrjunkie commented on #4834
@stephentoub can you please clarify the behavior.

[2016-01-08 15:50] onovotny opened #5248 "Cross-platform way of getting HOME directory"
Right now there doesn't seem to be any simple cross-platform way of getting the current home directory. This would seem to be a common-enough need, especially as .NET Core begins to be used outside of web apps.

One complication as to why this is non-trivial is that the environment variable to this location is different on different OS's. Developers should not need to be aware of this just to get

[2016-01-08 16:13] gkhanna79 commented on #2161
This should now be addressed by the universal host present in CLI repo. https://github.com/dotnet/cli/blob/master/Documentation/specs/corehost.md describes how satellite assembly lookup would be done.

CC @anurse

@davidfowl Let me know if there are concerns closing this.

[2016-01-08 17:00] ericstj commented on #5236
Actually it looks like my change hasn't come in from TFS yet so it's likely this is still the same bug I fixed yesterday.  https://github.com/dotnet-bot/corefx/commit/a5d558bcf7713e56c237de704f3d70c4927d8f44

[2016-01-08 17:33] thmulvany commented on #4631
@sirentek , If you are deploying a console app to Linux (via Docker most likely) the .so file has to end up in `/opt/DNX_BRANCH/runtimes ... ` *you can use the docker COPY as one way to achieve this (see my comment above).  For web app deploys System.Native.so needs to be in `$HOME\.dnx\runtimes\dnx-coreclr-linux-x64.1.0.0-rc1-update1\bin` folder. When you `dnu publish ... --runtime "dnx-coreclr-l

[2016-01-08 17:37] stephentoub commented on #3610
Another here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/704/

[2016-01-08 17:49] sirentek commented on #4631
@thmulvany ,
I am developing a web app. I have the .so file in $HOME\.dnx\runtimes\dnx-coreclr-linux-x64.1.0.0-rc1-update1\bin folder as you mentioned. My project.json file includes the following 2 packages.
"runtime.linux.System.Net.NetworkInformation": "4.1.0-beta-23516",
"runtime.unix.System.Net.Security": "4.0.0-beta-23516"

I use coreclr rc1-update1 but no luck. I don't use docker but I belie

[2016-01-08 17:53] stephentoub commented on #5109
Fixed by https://github.com/dotnet/coreclr/pull/2561

[2016-01-08 17:53] #5109 closed

[2016-01-08 17:55] bartonjs opened #5251 "Unix SslStream may be reporting ECDH exchanges as ECDSA"
There may be no bug here.  I merely saw some code that confused me while fixing another issue, and feel that it warrants investigation.  If it's correct, it probably warrants a comment :smile:.

https://github.com/dotnet/corefx/blob/71544a4ea55406740b1d3a00667b3ef0b816c9a2/src/Native/System.Security.Cryptography.Native/pal_ssl.cpp#L426-L433
[code]

Note that ECDHr says ECDH, while ECDHe and EECDH

[2016-01-08 18:08] rowanmiller opened #5252 "SQL Client: Unable to load sni.dll (DllNotFoundException)"
Several customers have reported errors loading sni.dll.

This is not the same as https://github.com/dotnet/corefx/issues/3760 because installing the Microsoft Visual C++ 2012 Redistributable does not resolve the issue.

Examples of the customer reports are on https://github.com/aspnet/EntityFramework/issues/4162. Many of those are seeing the error when using EF7 but have confirmed that the error r

[2016-01-08 18:10] bartonjs opened #5253 "Unix SslStream: SSL_KeyExchangeAlgorithm values may no longer match OpenSSL"
While looking into the background for #5251 I ran across a commit in OpenSSL that looks like it'll break assumptions made in `pal_ssl.cpp`.  Namely https://github.com/openssl/openssl/commit/bc71f91064a3eec10310fa4cc14fe2a3fd9bc7bb:

[code]

These values come from a non-public header (ssl_locl.h).  We very likely need a new mechanism for determining these values.

The most public way that I see is

[2016-01-08 18:10] sirentek commented on #4631
@thmulvany @hasanoruc @PeteX
I have tried it using with Npgsql and it worked!
Thanks to everybody.
Now I can delete all of my mono runtimes :)

[2016-01-08 18:10] joshfree commented on #5252
/cc @saurabh500 @YoungGah @corivera

[2016-01-08 18:11] rowanmiller commented on #5252
cc'ing several customers who have reported this issue so that they can track the issue here and provide more details if needed

@dan-dragan @JohnBicknell @juswes

[2016-01-08 18:13] bartonjs commented on #5253
@ericeil Is this the sort of thing you're looking into right now?

[2016-01-08 18:37] ericstj commented on #5216
1.5 is currently the highest netstandard version per: https://github.com/NuGet/Home/issues/1691

[2016-01-08 18:40] ericstj commented on #5140
@robpaveza can you please let me know if using the project.json in the desktop project fixed your issue?  The way to think about this is that portable now brings in some packages by default that aren't part of the default profile.  Those packages are required to bring in the implementation for the added API.  If you are using packages.config you always have to make sure you install the same packag

[2016-01-08 18:45] ianhays commented on #826
Completed on the TFS side. Will be mirrored in #5242.

[2016-01-08 18:49] ericstj commented on #4931
This should be set to `dotnet5.1`.

[2016-01-08 18:53] #1904 closed

[2016-01-08 19:03] hasanoruc commented on #4631
@thmulvany you are right. I am deploying web app only kestrel web server without docker. I ran 5000 inner port and forward 443 ssl out port with nginx. I dont know about security this this method but i read secure other writes. Kestrel is very newer but it will grow.

[2016-01-08 19:16] ericstj commented on #4881
/cc @bricelam @natemcmaster

[2016-01-08 19:22] ericstj commented on #4771
The error is the same as https://github.com/dotnet/corefx/issues/4448.  @dagood how far along are we on the move to nuget?  That should fix this since it will require us to add the import statement.

@davidsh The warnings are all real and you should probably clean those up in your test project.json.

[2016-01-08 19:24] ericstj commented on #4767
@loqix can you please be more specific about what you meant by this?  Perhaps you were trying to publish without using the framework lineup package `Microsoft.NETCore.Platforms`.

[2016-01-08 19:26] davidsh commented on #4771
cc; @CIPop

[2016-01-08 19:26] mellinoe commented on #5230
Filed this issue there: https://github.com/Microsoft/msbuild/issues/422

[2016-01-08 19:26] ericstj commented on #4659
@chcosta after you change the targeting of this library with https://github.com/dotnet/corefx/issues/4802 can you update the package to add a folder for portable-a+b+c similar to https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/pkg/System.Collections.Immutable.pkgproj

[2016-01-08 19:31] ericstj commented on #4529
@jasonwilliams200OK ApiPort does not yet, but it seems like a reasonable feature request to open in the API port project.  /cc @terrajobst who is working on a representation of the packages in the backing API catalog that API port uses.

@Tasteful for a unit test runner xunit should be using dnxxxx, for xunit surface area that is consumed by tests (eg Assert library) xunit should use netstandard.

[2016-01-08 19:32] ericstj commented on #4450
We can do this now.  Nuget merged my change.  We may need to update the version of nuget consumed by buildtools, try it and see.

[2016-01-08 19:40] #4529 closed

[2016-01-08 19:40] dagood commented on #4771
@ericstj For internal nuget.exe restore I have a codeflow ready for review, and I've run a quick script to add the import to project.json files with xunit references in them.

At this point the time until it gets in depends on how review goes and if it interferes with any other parts of the build. The interference I'm imagining might be caused by lockfile schema changes or just different restore b

[2016-01-08 19:45] bricelam commented on #4881
Try adding a reference to the design-time facade on `net451`.
[code]

[2016-01-08 19:47] SuperJMN commented on #692
I need this. I'm the author of OmniXAML (cross-platform XAML framework) and it would be useful to avoid extra calls like `Enum.IsDefined`

Parsing XAML requieres string values to be converted dynamically to their target types. When I want to convert to a Enum type, I know the type of the Enum and the string representation of the value that may or may not be a correct value, so a call like the prop

[2016-01-08 19:49] mellinoe commented on #5248
It might make sense to bring back some subset of the [SpecialFolder shortcuts](https://msdn.microsoft.com/en-us/library/14tx8hby(v=vs.110).aspx). I'm not sure that I really like putting them on Environment, though, and we definitely don't want all of the values in that enum. Actually, most of the things on that enum are either not useful or not applicable x-plat. It might be nice to have things li

[2016-01-08 20:02] terrajobst commented on #5212
We [reviewed the API today](https://github.com/dotnet/apireviews/pull/22/files) and have some minor feedback. Please switch back to `api-ready-for-review` when addressed.

[2016-01-08 20:02] terrajobst commented on #262
We [reviewed the API today](https://github.com/dotnet/apireviews/pull/22/files) and have some minor feedback. Please switch back to `api-ready-for-review` when addressed.

[2016-01-08 20:05] Priya91 opened #5255 "Implement IEquatable interface on System.Drawing structs"
This requires changes to the .NET Full Framework code as well, changes to .NET Core to be made after following up with the desktop release cycles to ensure no breaks happen.

Follow up from PR #1563

# Motivation
These structures all have equality operators, they should also implement the IEquatable interface.

# Proposed API

[code]

[2016-01-08 20:21] onovotny commented on #5248
Bringing back a subset of SpecialFolder would work. While putting them on Environment is ugly, it might be easier to ensure compat with the Desktop FX as it already has the full superset.

[2016-01-08 20:36] Priya91 opened #5256 "Write alternate implementations for GetHashCode System.Drawing float types."
PR: #5223, [comment](https://github.com/dotnet/corefx/pull/5223#discussion_r49156587)

This also requires changes to .NET Full Framework desktop code.

[2016-01-08 20:40] ericstj commented on #4931
Actually `dotnet5.2` due to https://github.com/dotnet/corefx/pull/5231.  This is already correct since https://github.com/sokket/corefx/commit/0aaeb54912848eecfb35b6bcaa4f6655b5da78a3

[2016-01-08 20:40] #4931 closed

[2016-01-08 21:06] JonHanna commented on #5256
I would have thought it possible to change the implementation separately to that of Full.

[2016-01-08 22:02] stephentoub opened #5258 "SendToRecvFromAsync_Single_Datagram_UDP_IPv4 failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/731/
[code]

[2016-01-08 22:05] stephentoub commented on #4588
@IlyaBiryukov, I saw you made some progress on this recently (thanks!).  Has this been fully implemented, or is there more to be done?

[2016-01-08 22:09] sokket opened #5260 "Find a way to Mock function calls for Unit Testing"
Some functions have branches that are dependent on conditions that cannot be hit during normal Unit Test conditions, such as relying on System.Diagnostics.Debugger.IsAttached. Being able to mock function calls / return values would benefit the testing framework

[2016-01-08 22:16] IlyaBiryukov commented on #4588
The #4777 is fixed. You can use Unix domain sockets with custom descendant of EndPoint class.
See for example in https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs

Another question is if we want to have this class in CoreFX, like IPEndPoint and DnsEndPoint. I'd say it would be nice to have it, but that is not blocking and can wait for

[2016-01-08 22:37] kouvel commented on #5205
@clrjunkie,

6) GC Code executed by T2 completes and releases/starts FT which will 1) Append object references listed in the Finalization List on to the F-reachable Queue 2) Dequeue each object from F-reachable Queue and call it's Finalize method.

a) What happens next? I assume the CLR will simply wait for T1, T2, T3 and FT to complete and exit the process.

b) What blocking issues can arise here

[2016-01-08 22:50] kouvel commented on #5205
Made a couple of changes:
- Added notes about there being no timeouts on running finalizers (already the case), and on processing the new event
- Changed the static ProcessExit event to an instance Unload event. For the time being, it will be raised at the same place as AppDomain.ProcessExit. Once AssemblyLoadContext unloading is implemented, it will move to a more appropriate spot.

[2016-01-08 23:09] Priya91 commented on #5256
@JonHanna That will result in getting different values on net46 and someother value on other platforms. Usually for hashcodes this may be fine, but generally we don't allow behavior changes among different platforms.

[2016-01-08 23:31] JonHanna commented on #5256
Does that include forward/backward compatibility? Are they going to have to remain functionally equivalent?

[2016-01-08 23:37] khdang commented on #4132
As far as I know Wes has removed TestNet, so we shouldn't have this issue anymore.

[2016-01-08 23:37] #4132 closed

[2016-01-08 23:59] clrjunkie commented on #5205
FT enters its shutdown sequence because T3 called either Environment.Exit(0) or Process.Kill followed by WaitForExit(); *before* T2 called into GC Code, Correct?

Again, because T3 has established the shutdown case, Correct?

So conceptually :

1) T3 sets shutdown flag to true and keeps running
2) T2 starts calling into GC Code detects that shutdown flag = true and blocks
3) Because T3 set shutdow

[2016-01-09 00:04] weshaggard commented on #4132
Correct this should no longer be an issue.

[2016-01-09 00:14] CIPop opened #5265 "System.Net GlobalLog.Assert* must call Debug.Assert even if nothing is listening for the ETW events"
The original GlobalLog code was calling `Debug.Assert`:
http://referencesource.microsoft.com/#System/net/System/Net/_LoggingObject.cs,978

We need to fix the `GlobalLog.Assert*` as well as ensuring that the Assert is not conditioned by `GlobalLog.IsEnabled` when being called.

[2016-01-09 00:21] clrjunkie commented on #5205
So maybe AssemblyLoadContext should be abstract and AppDomain should subclass it?

[2016-01-09 00:24] clrjunkie commented on #5205
Than it would make sense to call methods to load and unload dll's on (into) AppDomains..

[2016-01-09 00:31] akoshelev opened #5266 "System.Net.Http.HttpRequestException does not have a deserialization constructor"
Nor it is marked with ```Serializable``` attribute. Is it by design?
It seems that full .NET Framework has this type marked with ```ISerializable``` but a deserialization constructor is also missing there.

[2016-01-09 00:32] ellismg opened #5267 "EnUsPosixIsNotATurkishCasingLocale running on Windows sometimes"
EnUsPosixIsNotATurkishCasingLocale is marked with [PlatformSpecific(PlatformID.AnyUnix)] but as of #5242 seems to be getting picked up on Windows as well.

I have added some code to the test to workaround this issue, but we need to fix it for real.  One problematic issue is that you may not see the test fail on Windows 10, since it allows more cultures that 8.1

[2016-01-09 00:33] Priya91 commented on #4385
Seems like there are no available apis to be used for store profile, and this API will not be approved for uwa. Leaving the implementation as is.

[2016-01-09 00:33] #4385 closed

[2016-01-09 00:43] genlu commented on #4636
Thanks for addressing this! It'd be great if you can make `BufferWidth` available too, as it might be different from `WindowWidth` on Windows.

[2016-01-09 00:45] clrjunkie commented on #5205
Maybe I miss understood the sequence:

T3 sets shutdown = true which will cause FT to start running BUT T2 is faster then FT it calls GC Code which sets "gc-running" = true and starts shutdown code.. now FT checks "gc-running" and
waits for it to become false which will never happen because T2 is shutting down and won't reset the flag...

Is that what's happening?

[2016-01-09 00:45] davidsh commented on #5266
cc: @weshaggard @ericstj @stephentoub

.NET Core (CoreFx) does not support binary serialization/serialization.

We don't plan to add any other serialization of these Http types.

[2016-01-09 00:46] pallavit commented on #4636
Thanks @genLu. As you mentioned BufferWidth is not useful on Linux. I am not sure, if we can add it but I will keep it in mind.

[2016-01-09 01:24] ramarag commented on #4399
Hi belorus, I will try to look into this some time next week.

But you are welcome to contribute a fix, The ResourceManager code live in [src/mscorlib/src/System/Resources/ResourceManager.cs](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Resources/ResourceManager.cs)

[2016-01-09 02:54] ellismg commented on #5267
Fixed with 99bb75a

[2016-01-09 02:54] #5267 closed

[2016-01-09 03:12] ellismg commented on #4726
Just so it's clear, is the plan here to move away from `[ThreadStatic]` until dotnet/coreclr#2191 is addressed?

[2016-01-09 03:21] #1844 closed

[2016-01-09 03:46] #826 closed

[2016-01-09 03:51] joshfree commented on #826
woohoo :smile:

[2016-01-09 04:10] kouvel commented on #5205
Here's a test case that hangs on shutdown.

[code]

This test case has a lot of background threads doing allocation, so the change of blocking during GC is high. After blocking background threads, the finalizer allocates as well and blocks on GC. The test case occasionally completes successfully on my machines, and hangs forever most of the time. If the test did not wait for the finalizer to run o

[2016-01-09 09:33] xanather commented on #5077
Is it possible this could get looked at?

[2016-01-09 17:18] AArnott commented on #4726
@ellismg If I recall correctly, `[ThreadStatic]` provided a significant perf improvement over what it had before (which I think was locks based). There may be a 3rd option (or a twist on a prior solution) that can keep perf up while avoiding `[ThreadStatic]`, I don't know. I can't promise time (yet) to investigate yet.

[2016-01-09 20:24] #4992 closed

[2016-01-10 00:25] davidsh commented on #4771
@ericstj

I don't understand the action item for me.  I don't see any warnings when I enlist in CoreFx repro and build everything.  But this workflow above is different and uses DNX somehow. Why would this generate warnings when simply building in CoreFx repo enlistment from GitHub not show warnings.

[2016-01-10 01:09] thmulvany commented on #4631
This is beyond me with SSL, nginx, etc.
One thing to try is to do a `dnvm install latest -r coreclr - x64 -u` (for
unstable RC2) and then `dnu publish --runtime ...` with that runtime
specified.

All I know for sure is that by including those two deps in project json and
updating System.Native.so it fixed all of my
System.Net.NetowrkInfoformation, System.Net.Security and System.Net.Sockets
errors

[2016-01-10 01:21] Kagamine opened #5271 "ResourceManager.GetObject not defined"
Where is in ResourceManager.GetObject in dotnet5.4 platform?

[2016-01-10 01:45] JonHanna opened #5272 "Expression.TypeEquals throws on Nullable<T> parameter."
[code]

The above throws `InvalidOperationException` on the `Compile()` with both compilation options. This happens for any type for the `type` parameter except for the actual nullable type of the parameter which correctly returns `false` if the value of `value` is null and `true` otherwise. This includes the related non-nullable type (should return the same as with the nullable type).

[2016-01-10 02:50] JonHanna commented on #5272
CC: @VSadov @bartdesmet

[2016-01-10 05:04] bartdesmet commented on #5272
Good find; definitely undesired behavior. Out of curiosity, what's triggering the `InvalidOperationException`? Do you have the stack trace handy?

[2016-01-10 05:09] bartdesmet commented on #4722
I'd suggest splitting the discussion into one about `DebugView` as a potential API addition and retaining this one to discuss the increased public API surface which seems like an undesirable change. Not sure about the history of that accessibility change; my best guess would be that there could have been some issue with `InternalsVisibleTo` to another assembly that had to use these (maybe DLR stuf

[2016-01-10 05:19] bartdesmet commented on #4722
On the topic of `DebugView`, I think it's useful but it lacks a good extensibility story. I ran across this when prototyping extended expression tree node support in the C# compiler; see https://github.com/bartdesmet/ExpressionFutures/blob/master/CSharpExpressions/Docs/Debugging.MD for some info (disclaimer: work in progress).

In particular, extension nodes are always reduced by `DebugView` which

[2016-01-10 12:47] JonHanna commented on #4722
I think that's the most pertinent thing in the short term.

[2016-01-10 13:14] stephentoub opened #5281 "Native assert failed in NetworkInformation on Ubuntu in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_debug_tst/213/console
[code]

[2016-01-10 13:49] stephentoub commented on #5236
I'm still seeing this, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/769/consoleFull
[code]

[2016-01-10 13:50] stephentoub commented on #5258
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/774/consoleFull
[code]

[2016-01-10 13:52] stephentoub opened #5283 "NegotiateStream tests: timeout"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/770/consoleFull
[code]

[2016-01-10 15:02] stephentoub opened #5284 "NegotiateStream tests: Unable to read data from the transport connection: Queue empty"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/772/consoleFull
[code]

[2016-01-10 15:06] stephentoub commented on #5236
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/771/consoleFull

[2016-01-10 15:31] JonHanna commented on #5272
@bartdesmet It happens in `ReduceTypeEqual()`.

The logic primarily turns on the type of the `expression` argument. First non-nullable value-types are dealt with. Then constant expressions. Then sealed types (including the remaining nullable value-types) when the type of the expression matches that of the type argument.

This stage introduces the first of two logical errors: The types have to matc

[2016-01-10 19:32] JonHanna commented on #1254
This is a subset of #2349, and as such was fixed by #2350.

[2016-01-10 19:49] clrjunkie commented on #5205
Ok, I think understand the scenario.

So the question is:

Why should T2 blocked for shutdown after starting GC? Why not wait for T2 to finish GC and than suspend it?  The scenario is destructive by definition (in clean shutdown all user threads would be finished by the application) why is it important to hold the GC lock during shutdown which will cause  FT to deadlock? Why not release GC Lock, a

[2016-01-10 21:53] aL3891 opened #5286 "Method exposing the Initblk opcode"
Hello!
I'm looking at some optimizations in some unsafe code and i ran into an opcode called Initblk, http://stackoverflow.com/questions/1897555/what-is-the-equivalent-of-memset-in-c#_=_ and https://msdn.microsoft.com/en-us/library/system.reflection.emit.opcodes.initblk(v=vs.110).aspx

Is this now exposed somewhere in the core fx? if not, i'd love to help add it but i'm not sure what the best way

[2016-01-10 22:12] aL3891 commented on #5286
Having https://msdn.microsoft.com/en-us/library/system.reflection.emit.opcodes.cpblk(v=vs.110).aspx would also be great :)

[2016-01-10 22:44] JonHanna commented on #5286
https://github.com/JonHanna/Mnemosyne is a project of mine from a while ago that exposes `initblk` and `cpblk` in both aligned and unaligned versions with a bunch of reasonable overloads, along with avoiding `cpblk` in .NET on x86 where it doesn't actually perform that well (I use memcpy if available and the size copied is over 640 bytes and a highly unwound loop otherwise).

I haven't looked at h

[2016-01-10 23:01] weshaggard commented on #5236
I'm investigating this race condition.

[2016-01-10 23:35] #5266 closed

[2016-01-11 01:56] JonHanna opened #5289 "System.Dynamic.CallInfo.Equals lacks null check"
`new System.Dynamic.CallInfo(1, "test").Equals(null)` throws `NullReferenceException`.

So does, `new System.Dynamic.CallInfo(1, "test").Equals("I'm going to throw")`

[2016-01-11 02:05] akoeplinger commented on #5248
+1 to providing a way of getting the home directory.

-1 on bringing back SpecialFolder. Almost nothing of it applies xplat in a meaningful way and it caused us a bunch of issues in Mono (the latest being when Apple introduced Integrity Protection in El Cap and broke the path Mono uses for `SpecialFolder.CommonApplicationData`, or the fact that `SpecialFolder.Personal` has the same enum value as `

[2016-01-11 02:24] stephentoub opened #5291 "ConnectAsyncV6IPEndPointToV6Host_Success failed in CI on Ubuntu"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst_prtest/655/console
[code]
Likely the same cause as:
https://github.com/dotnet/corefx/issues/3748
https://github.com/dotnet/corefx/issues/3744
https://github.com/dotnet/corefx/issues/3682
https://github.com/dotnet/corefx/issues/3494

[2016-01-11 03:24] snissim commented on #4631
@PeteX you sir, are a gentleman and a scholar.

@thmulvany thanks for the docker command! Note that it requires a trailing slash: `COPY ./System.Native.so /opt/DNX_BRANCH/runtimes/dnx-coreclr-linux-x64.1.0.0-rc1-update1/bin/`

[2016-01-11 04:56] vijaykota commented on #2483
Windows implementation is checked-in via #5156 So targeting the xplat work for v1 RTM.

[2016-01-11 05:08] vijaykota commented on #5178
Though the packet is diff. in Unix case, the server should still be able to work with it. Can you share the rest of the network capture - maybe there is some failure down the line which is not related to this packet format.

I confirmed that this diff. should not matter by trying the foll.:
On Windows server, started an SSL listener that accepts only TLS 1.0
''''
sslStream.AuthenticateAsServer(cer

[2016-01-11 05:39] kapilash commented on #3790
Sorry I missed updating this thread.
I borrowed a mac mini ( mac mini 2014) and tried to repro the issue. I did not succeed. The pure c program given earlier too did not fail on the mac mini. So I could not raise any bug on libcurl. I did ask a general question about it in [libcurl mailing lists](http://curl.haxx.se/mail/lib-2015-12/0109.html) and I got the reply that there are no known issues.

[2016-01-11 08:21] KodrAus opened #5293 "Incorrect ArgumentNullException In List.ForEach"
It looks like the `ArgumentNullException` in [System.Collections.Generic.List](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/List.cs#L603) is passing in "match" as the null param instead of "action".

[2016-01-11 08:34] taufiqueahmad commented on #5252
any progress regarding SQL Client: Unable to load sni.dll (DllNotFoundException) issue?

[2016-01-11 08:48] SharpNoiZy commented on #4881
Yes, the issue is resolved satisfactorily, thanks for your effort!

[2016-01-11 09:58] JonHanna commented on #5293
Yep, it certainly is. Do you want to submit a fix? Otherwise I'll take it.

[2016-01-11 10:08] KodrAus commented on #5293
All done :) Lots of hard work went into that PR

[2016-01-11 12:30] clrjunkie opened #5295 "Build fails with mulitple errors (Windows 10)"
Attached build log from today
[cfxbuild.txt](https://github.com/dotnet/corefx/files/85708/cfxbuild.txt)

[2016-01-11 12:36] clrjunkie commented on #4771
From Today.

C:\clrjunkie>git clone https://github.com/dotnet/corefx.git
Cloning into 'corefx'...
remote: Counting objects: 94269, done.
remote: Total 94269 (delta 0), reused 0 (delta 0), pack-reused 94269 eceiving objects: 100% (94269/94269), 43.12 MiB | 1Receiving objects: 100% (94269/94269), 43.78 MiB | 1.73 MiB/s, done.

Resolving deltas: 100% (63059/63059), done.
Checking connectivity... done

[2016-01-11 13:07] stephentoub commented on #5283
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/791/consoleFull

[2016-01-11 13:09] clrjunkie opened #5296 "Use the Azure Sql database benchmark infrastructure to stress test System.Data"
While System.Net.Sockets provides the same "completion port" interface for both Windows and Linux
The underlying implementation for Linux is radically different and is implemented using an epoll event loop.

This is important to keep in mind since SqlClient or any other DB driver are the most important consumers of this Api.

I suggest using Azure Sql database benchmark infrastructure to do the st

[2016-01-11 13:14] stephentoub opened #5297 "CertificateValidationRemoteServer_EndToEnd_Ok failed in CI on Windows"
A bunch of occurrences of this over the past day:
[code]
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/791/consoleFull
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/787/consoleFull
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/790/consoleFull

[2016-01-11 13:16] stephentoub commented on #5296
@clrjunkie, I'm not understanding the problem... what's the issue / action-to-be-taken here?

[2016-01-11 13:18] stephentoub opened #5299 "FuzzyTests.Test_Write_Fuzzy test failure"
[code]

[2016-01-11 13:20] stephentoub commented on #5295
Dup of:
https://github.com/dotnet/corefx/issues/5299
https://github.com/dotnet/corefx/issues/5297
https://github.com/dotnet/corefx/issues/3610

[2016-01-11 13:20] #5295 closed

[2016-01-11 13:22] clrjunkie commented on #5296
@stephentoub  Stress test SqlClient under Linux using Azure benchmark infrastructure.

[2016-01-11 13:49] stephentoub commented on #5258
Dup of #5234

[2016-01-11 13:49] #5258 closed

[2016-01-11 14:01] stephentoub commented on #5297
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/793/consoleFull
and here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/798/consoleFull

[2016-01-11 15:03] #5297 closed

[2016-01-11 15:21] stephentoub opened #5303 "OS X native build failing with CMake error"
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/nativecomp_osx_debug/173/console
[code]

[2016-01-11 15:23] dagood commented on #4771
FWIW, I'm getting those restore errors when I use nuget.exe in my WIP. If I remember correctly builds in VS use NuGet tooling to restore (rather than dnu restore from DNX)--if so, it makes sense you'd see these too with your workflow.

For `Error xunit.abstractions 2.0.0 is not compatible`, [the current fix](https://github.com/dotnet/corefx/issues/4448#issuecomment-156255106) is to add `"imports":

[2016-01-11 15:45] clrjunkie commented on #4771
@dagood

what is WIP?

Now getting 164 errors
[code]

What should I write?

[2016-01-11 16:00] stephentoub commented on #5283
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/806/consoleFull

[2016-01-11 16:05] clrjunkie commented on #5296
@stephentoub

How can this be not for RTM schedule??

All the performance tests in the project appear trivial and are done on localhost, what production grade confidence can we derive for these?

[2016-01-11 16:08] stephentoub commented on #5296
@clrjunkie, you're asking for a very specific set of tests to be run, without additional information about what testing is already being done.  There is separate testing being done that's not on GitHub because infrastructure for things like stress testing in CI doesn't exist yet.  I'll let @saurabh500 comment on any plans around this specific set of tests, but we can't build/run every test that an

[2016-01-11 16:25] clrjunkie commented on #5296
@stephentoub

Because what "testing is already being done" is what I see included in the project, and these are by no means sufficient for release, looping on localhost is dev test at best.

Sounds a bit cynical ...

Anyway, the azure benchmark seems good for the task at hand, because it tests the most important integration Socket  + Database Driver.

If there is a better test plan for sockets tha

[2016-01-11 16:26] dagood commented on #4771
@clrjunkie WIP = work in progress. It looks like that's the wrong project.json file for the import fix: `xunit` is referenced in the test projects so it the import should be added in those project.jsons.

I'd say you shouldn't worry about fixing the warnings, but if you're curious I believe the fix is to change the version of the dependency mentioned in the warning message to the higher version.

[2016-01-11 16:27] stephentoub commented on #5296
No, that's what I was pointing out: there is testing being done that's not on GitHub yet.

[2016-01-11 16:30] Aequoris commented on #5252
I too am getting this issue, on both RC1-update1 and on the RC2 nightly builds.

[2016-01-11 16:36] clrjunkie commented on #4771
Thanks. I will test this again once the issue is closed.

[2016-01-11 16:45] #5236 closed

[2016-01-11 17:15] stephentoub commented on #4466
@pallavit, it failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_win10_debug/55/consoleFull
[code]

[2016-01-11 17:18] stephentoub opened #5306 "FileSystemWatcher_Moved_NestedDirectoryRootWithoutSubdirectoriesFlag failed with UnauthorizedAccessException on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release/222/consoleFull
[code]

[2016-01-11 17:20] stephentoub commented on #3610
Failed again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release/222/consoleFull

[2016-01-11 17:20] stephentoub commented on #5306
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/809/consoleFull

[2016-01-11 17:21] stephentoub commented on #3610
And again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/809/consoleFull

[2016-01-11 17:22] stephentoub commented on #5283
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/815/consoleFull

[2016-01-11 17:24] LLITCHEV commented on #5067
See coreclr issue 2349 - https://github.com/dotnet/coreclr/issues/2349
Assigned to @sivarv.

[2016-01-11 17:29] KrzysztofCwalina opened #5308 "Refactor ResourceReader and ResourceWriter into separate packages"
- [x] create reader and writer projects
- [x] publish new packages
- [x] move all ASP.NET dependencies to the new packages (owner: @ryanbrandenburg)
- [x] delete the old project (#5627)
- [x] unlist the old package (#5627)

cc: @rahku, @chcosta

[2016-01-11 18:16] ianhays opened #5311 "Build.cmd: Add arg to enable/disable native Windows build"
Currently the native Windows build will run whenever build.cmd is called. We should add an arg check to enable/disable it like in build.sh where "build.sh native" builds native code only, "build.sh managed" builds managed code only, and "build.sh" builds both.

[2016-01-11 18:45] kouvel commented on #5205
This particular issue can be fixed as you suggested, but as I mentioned above, the issue is more about the expectation that finalizers for live objects run to completion while other threads are blocked at some random point.

[2016-01-11 18:46] joshfree commented on #2483
tagging as blocking-release since this is a required feature

[2016-01-11 18:47] khdang commented on #5127
I'm closing and will revisit this when there is a way to serialize DateTime instance in a specific time zone.

[2016-01-11 18:47] #5127 closed

[2016-01-11 18:48] pallavit commented on #4466
@stephentoub Hmm.. i will take a closer look. Thanks.

[2016-01-11 18:58] clrjunkie commented on #5205
Why? Finalizers execute cleanup code of unreferenced objects by design.. How does this relate to blocked threads?

Why? What is the case here?

For Example?

[2016-01-11 19:07] CIPop commented on #5265
/cc: @SidharthNabar @davidsh

Assigning to @stephentoub as he's been helping us with GlobalLog optimization.

[2016-01-11 19:08] clrjunkie commented on #5205
By "Live" you mean you run the finializer methods of *Referenced* objects??

What's the point? Everything "referenced" is in an undefined state during shutdown.

Is that your point ?

[2016-01-11 19:11] stephentoub commented on #5265
@cipop, the GlobalLog methods should not call Debug.Assert.  Doing so would require completely redesigning the mechanism so that the call sites don't allocate at all, and I have no plans to do that (you're of course welcome to).  My suggestion would be to add Debug.Assert calls at the call sites anywhere you actually want them; it's more ok for the Debug.Assert call sites to allocate because, unli

[2016-01-11 19:18] stephentoub commented on #5265
(And in terms of redesigning GlobalLog, if you actually did want to do so, my suggestion would be to look over every usage and come up with a common set of things that were traceable, then design a set of Assert* APIs with those sets of arguments, so that no work need happen at all at the call sites, e.g. no computing of hash codes, no boxing, no params array allocations, no string concatenation,

[2016-01-11 19:19] #4881 closed

[2016-01-11 19:23] kouvel commented on #5205
Yes we are running finalizers for objects that are still referenced. To prevent continued use of those still live objects, threads are blocked for shutdown.

Consider an object that writes to a network stream using some stateful communication protocol. The finalizer would write a termination value to the stream and close the stream. Suppose that the termination value indicates to the receiving end

[2016-01-11 19:36] mellinoe commented on #5230
Moving this to RTM.

[2016-01-11 19:37] clrjunkie commented on #5205
I think the whole "thread blocking" aspect does make the scenario any more or any less problematic.
The problem is that currently *Finilizer code is executed not when it's supposed too*, that's the problem. whether threads are blocking or not is irrelevant.

The problem statement is:

 "Finalizers of referenced objects execute during shutdown" period.

There nothing more to explain.

If you agree

[2016-01-11 19:38] mellinoe commented on #5281
Interesting. This must be an extremely rare case, I'll have to read more into the documentation around what data is supposed to be sent over that socket.

[2016-01-11 19:39] CIPop commented on #5265
@josguil @stephentoub /cc: @SidharthNabar

We're talking about old code ported from Desktop. The plan is to first ensure the same behavior which means that we should add back all Asserts as they existed in the original code (otherwise there's risk that we'll end up with new bugs).

Not having the proper Assert statements in place is a bug (what I'm tracking with this issue).

I completely agree an

[2016-01-11 19:39] kouvel commented on #5205
Yes that's the core of the problem, blocking threads is only a natural side-effect of it.

[2016-01-11 19:39] mellinoe commented on #5202
Any more opinions regarding this? I'd like to get this in for RC2 but the deadline for that is quickly approaching. I'll have the managed-side implementation complete sometime in the next day or so (just need to add the `IntPtr` overloads assuming we think they are valuable).

[2016-01-11 19:40] bartonjs commented on #3924
We're pretty solidly on the plan of OpenSSL >= 1.0.0 for RTM (#4737), which solves the build problem on 10.11; so I'm closing this.

[2016-01-11 19:40] #3924 closed

[2016-01-11 19:46] bartonjs commented on #4737
* Build server definitions
  * We did some ahead of time, then removed 0.9.8 support with #5240 and are fixing the failing machines as they surface.
* Dev instructions
  * https://github.com/dotnet/coreclr/pull/2559
* Installer
  * https://github.com/dotnet/cli/issues/674 is the closest that we have to that right now.
  * OpenSSL has no self-produced installer on OS X; Homebrew and MacPorts option

[2016-01-11 19:46] #4737 closed

[2016-01-11 19:54] ellismg commented on #5293
LGTM!  Thanks!

[2016-01-11 19:56] stephentoub commented on #5265
FYI, a quick search of the code base shows that there are:
- 282 calls to GlobalLog.Print
- 104 calls to GlobalLog.Assert*
- 54 calls to GlobalLog.Enter/Leave
- 5 calls to GlobalLog.Dump

Only the ~100 GlobalLog.Assert* calls are relevant here, if I'm understanding the concern correctly.  I see a few paths forward:

1. Add Debug.Assert calls at each of those ~100 call sites, e.g. instead of:
[code

[2016-01-11 20:12] clrjunkie commented on #5205
Ok, so I would include this as the sole problem statement and remove the whole GC lock scenario as it is more of a bug - nothing to learn for this.

Proposal:

So how would you terminate the threads if the user did not ensure they exit cleanly before returning from Unload?

What do you mean?  finilizers run only for dead objects..Do you mean *ensure* all finilizers of dead objects execute?  How wo

[2016-01-11 20:13] bartonjs opened #5314 "Add ExportParameters/ImportParameters to ECDsa"
We have ExportParameters/ImportParameters for RSA (and DSA on Desktop), but don't have them for the EC types (ECDsa, ECDiffieHellman).  While RSA and DSA parameters are always fixed (modulo the public/private distinction) ECParameters are polymorphic in the spec.

Snippets from [SEC-1 v2 \(2009\)](http://www.secg.org/sec1-v2.pdf):
[code]

This is probably something like

[code]

Do we want any of

[2016-01-11 20:14] bartonjs commented on #5314
And in case anyone picks this up who isn't me; remember that the same structure is used for ECDSA and ECDiffieHellman, so "DSA" shouldn't be anywhere in these class names.

[2016-01-11 20:23] stephentoub commented on #5265
@cipop, I just looked at the desktop source, and I see this on all of the GlobalLog.Assert methods:
[code]
Was it intentional that these were removed for corefx?  If those were meant to be there, that would explain a lot... we could put them back and remove all of the IsEnabled goop I added, since if these call sites are only compiled into debug builds, there's no performance concern.

[2016-01-11 20:38] ramarag commented on #5271
It was cut from .net core, please use the [http://dotnetstatus.azurewebsites.net/](http://dotnetstatus.azurewebsites.net/)  to help port your code to .net core

A search on the [site](http://dotnetstatus.azurewebsites.net/fxapi?docId=M%3ASystem.Resources.ResourceManager.GetObject%28System.String%29&__RequestVerificationToken=CfDJ8G2q3eiDRhJNtyri7KT8YkKjYfwyy6t1cbaHXUn9eAl7m1IgmGaxZVORuQkEWW6MnOV8m

[2016-01-11 20:39] #5271 closed

[2016-01-11 20:44] venkat-raman251 opened #5315 "Rename constant NET_NATIVE to netcore50"
This is a tracking issue to rename this constant to follow our naming conventions.

[2016-01-11 21:54] chcosta commented on #5140
Closing this issue.  @robpaveza, please feel free to re-open this issue if you continue to have a problem after following Eric's comment.

[2016-01-11 21:54] #5140 closed

[2016-01-11 21:55] mellinoe commented on #5315
I think I've also seen "NETNATIVE" (without the underscore) in some projects as well. Some of them might have snuck into corefx during porting in the past month

[2016-01-11 21:57] CIPop commented on #5116
This is actually by design and mirrors the behavior from .Net Desktop (see http://referencesource.microsoft.com/#System/net/System/Net/WebSockets/ClientWebSocket.cs,592).

I'm not sure if this can be controlled on Windows since the implementation is based on WinHTTP. Please open or convert this item to a feature request by changing the title.

Adding behavior-pinning unit/functional tests is still

[2016-01-11 21:58] mellinoe commented on #5256
@weshaggard Do we have strict compatibility requirements around hash codes? Would we need to quirk this for .NET Framework, or is changing this behavior at all a no-go because of compat?

[2016-01-11 22:15] CIPop commented on #4661
Closed by #5156.

[2016-01-11 22:27] andschwa opened #5317 "Circular reference for System.Security.Cryptography.X509Certificates"
My `project.json`

[code]

[code]

Trying to use latest [System.Security.Cryptography.X509Certificates](https://www.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.X509Certificates) on Ubuntu 14.04 with dotnet-cli version: 1.0.0.1451415522-1.

[2016-01-11 22:34] CIPop commented on #5265
Enabling GlobalLog in ret builds was intentional. We have had multiple past external requests.

Regarding the proposed solutions, I think solution 1 is more immediate and resolves our functional/test requirement before RTM.
Solution 2 is the right thing to do not only for Assert but for all EventSource related tracing. Unfortunately that feature will have to wait given the high number of calls mad

[2016-01-11 22:44] #4661 closed

[2016-01-11 22:48] #5289 closed

[2016-01-11 23:08] krwq commented on #4376
Hi @alhimovich,

this is currently intentionally not supported scenario. You can workaround this in some places for now by using:
[code]
(please see XmlSerializer code to see how they are currently doing that)

This is not guaranteed to work in the future. We are currently not sure if DTD will be supported same way in the future or through some different mechanism (it might be that we will make it

[2016-01-11 23:08] krwq commented on #4376
I'm actually gonna reopen and leave it for future

[2016-01-11 23:45] stephentoub commented on #5265
Sure, that's fine.  I'll tackle (1) shortly and then will reassign this to track (2) when that's done.

As I mentioned to you offline, though, before I do (1), one thing it'd be helpful for you to check on is why GlobalLog.Assert* even needs to exist, i.e. why is it important to trace out to an EventSource cases where the assertion failed?  If these are meant to be the equivalent of Debug.Asserts,

[2016-01-11 23:48] SidharthNabar commented on #5234
Need to investigate this test - this seems to be a test setup/infra issue, hence moving to RTM milestone.

[2016-01-11 23:48] SidharthNabar commented on #5185
Need to investigate this test - this seems to be a test setup/infra issue, hence moving to RTM milestone.

[2016-01-11 23:49] SidharthNabar commented on #5144
These are TODO items to improve the current logging PR that enables logging for .NET Core. Given the current timeline, this will be worked on after RTM milestone.

[2016-01-11 23:58] SidharthNabar commented on #4500
Postponing to RTM - @mellinoe @joshfree if this is blocking an RC2 scenario.

[2016-01-12 00:00] SidharthNabar commented on #4431
Need to investigate this test - this seems to be a test setup/infra issue, hence moving to RTM milestone.

[2016-01-12 00:01] SidharthNabar commented on #4363
Need to investigate this test - this seems to be a test setup/infra issue, hence moving to RTM milestone.

[2016-01-12 00:01] SidharthNabar commented on #4071
Need to investigate this test - this seems to be a test setup/infra issue, hence moving to RTM milestone.

[2016-01-12 00:02] SidharthNabar commented on #3504
@CIPop - Need to investigate this test and/or disable it for now since it has multiple failure instances.

[2016-01-12 00:13] KrzysztofCwalina opened #5320 "Corefxlab nuget package version scheme is broken"
Currently, we use <package><version>.dMMDDYY-N versioning scheme for packages.
This does not work as nuget (and VS) use linguistic sort order of the ".d..." part to determine which version order and so: .d010116 is considered to be older than .d123015

[2016-01-12 00:54] mellinoe commented on #5202
Update: [My working branch](https://github.com/mellinoe/corefx/commit/334accea3407ba9e9520b3bdc4cc3fc0292fbfc9) now has all of the proposed overloads implemented. On the manged side, the IntPtr overloads just delegate to the void* overloads.

[2016-01-12 01:34] #5088 closed

[2016-01-12 01:35] krwq commented on #5202
Does it make sense to wait for `Span<T>`? That would unify array/pointer experience
cc: @KrzysztofCwalina

[2016-01-12 01:47] CIPop commented on #5265
Thanks @stephentoub.
/cc @davidsh

Looking at the original implementation I see that the code was actually trying to crash the process on GlobalLog.Assert using multiple methods:
http://referencesource.microsoft.com/#System/net/System/Net/_LoggingObject.cs,980

  1. `Debug.Assert()`
  2. `Debugger.Break()` which for some reason is backed up by a call to `Kernel32::DebuggerBreak()`

Point 2 made lo

[2016-01-12 02:09] davidsh commented on #5265
We should make sure that "fail" doesn't mean FailFast. That crashes the process and leaves poor debugging information (as we have seen on the CI machines).  So, we should make sure there are Debug.WriteLine() and/or OutputDebugString() so that we have sufficent information prior to the Assert ending the process.

[2016-01-12 02:18] kkurni commented on #5187
@vijaykota, I tried to use another native code (SQLCMD in msodbc13) which use libssl.so.1.0.0.
The SSL handshake was sent the same as in Corefx.
But the application data doesn't have these additional 32 bytes.

Without these additional 32 bytes data, SQL Server 2008 can read and decrypt this data.

Can we force SSL Stream to send without this additional 32 bytes ?
Why is it different with libssl.s

[2016-01-12 02:26] kkurni commented on #5178
Unfortunately, the server doesn't use CoreFX.

This server listen to SSL with Windows API. (probably the old version which only accept TLS 1.0).

I also notice that this different version will not matter, as It can success with this different version. So I will close this issue.

But this additional 32 bytes of data still an issue for us, https://github.com/dotnet/corefx/issues/5187
I try to use l

[2016-01-12 02:26] #5178 closed

[2016-01-12 02:32] vijaykota commented on #5187
Different libraries implement the protocol differently. The server is supposed to succeed despite the additional 32 bytes unless it is making assumptions about the data that is coming in the SSL stream. Have you tried using a Unix CoreFx client with a Windows server similar to the example in #5178 ?

[2016-01-12 02:36] vijaykota commented on #5187
Can you also share the output of "ldd msodbc13"? I used the openssl tool which surely uses libssl and that sends the additional 32 bytes.

[2016-01-12 02:41] kkurni commented on #5252
@rowanmiller Do you mind to check whether you have that SNI.dll in this folder (as per error message) ?
C:\Users\ddragan\.dnx\packages\runtime.win7-x64.System.Data.SqlClient.sni\4.0.0-beta-23616\runtimes\win7-x64\native\

Do you have instruction to repro this ?

[2016-01-12 02:46] kkurni commented on #5173
The reason why TrustServerCertificate=true works, it because it will trust whatever certificate.
https://github.com/dotnet/corefx/blob/5ddb1d4db82761091ca312a573413a2ca1bb2053/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L215

We still need to fix if TrustServerCertificate=false (default value) in osx.

It potentially error in this section.
https://github.com/dotnet/core

[2016-01-12 03:00] kkurni commented on #5187
for your example, #5178, if the server is Corefx, this will work and even if I decrypt this using Windows Message analyzer, this doesn't have any problems.

our problems is because SQL Server 2008, was built using windows API to read that decrypted message, not sure what version that it used.

what we know are
- if we send this encrypted message without these additional 32 bytes (single applicatio

[2016-01-12 03:00] AlfredoMS opened #5325 "AsyncInfoToTaskBridge may leak when in debug mode."
In debug mode, AsyncInfoToTaskBridge is adding tasks to the Active Task list on it's constructor. However it is never removing them due to some line missing when ported from previous implementation.

The solution would be to remove the task from the Active tasks list when completing.

https://github.com/dotnet/corefx/blob/cf17ff1d110b9984e63a1825b3d012c8002a8a3b/src/System.Runtime.WindowsRuntime/s

[2016-01-12 03:02] kkurni commented on #5187
Here is my ldd msodbc13

ldd libmsodbcsql-13.0.so.0.0
        linux-vdso.so.1 =>  (0x00007ffea19bc000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007fef54f69000)
        libodbcinst.so.2 => /usr/local/lib/libodbcinst.so.2 (0x00007fef54d51000)
        libuuid.so.1 => /lib/x86_64-linux-gnu/libuuid.so.1 (0x00007fef54b4b000)
        libgss.so.3 => /usr/lib/libgss.so.3 (0x00007fef5493f

[2016-01-12 04:51] vijaykota commented on #5187
Sorry looks like some misunderstanding. The results I am interested in are <b>Unix CoreFx client</b> and <b>Windows server using SslStream</b> (NOT CoreFx server) What I am trying to get at is whether this is some behavior specific to SQL Server 2008.

[2016-01-12 05:03] stephentoub opened #5326 "NegotiateStream_StreamToStream_Authentication_Success failed in CI on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/854/consoleFull
[code]

[2016-01-12 05:14] vijaykota commented on #5187
So is the foll. understanding correct?
1. With CoreFx Windows server, the extra bytes are not an issue
2. Only with SQL Server 2008, the extra bytes are throwing it off and SQL connection cannot be established.

Even if answer to question 2 is yes, we probably need some sort of workaround. We will investigate based on the replies to above. Thanks!

[2016-01-12 06:14] sokket commented on #5260
No longer needed

[2016-01-12 06:14] #5260 closed

[2016-01-12 06:20] kkurni commented on #5187
1. Yes. If the coreFX is Windows Server then that extra bytes are fine.
Message Analyzer can also decrypt this as well.
https://technet.microsoft.com/en-us/library/jj649776.aspx

2. Yes, Only SQL Server 2008 and below don't understand these extra bytes. But SQL Server 2010 and higher can understand this which Installed on the same server (Windows Server 2008).

So I think SQL Server 2008 are using

[2016-01-12 06:33] vijaykota commented on #5187
Thanks for the confirmation, @kkurni and also for the information on libmsodbcsql.

@shrutigarg , PTAL

[2016-01-12 09:02] lynxx131 opened #5330 "Missing System.Threading.ExecutionContext.IsFlowSuppressed()"
Hello,

I am currently looking at porting a library to .NET Core and I have noticed there is no ExecutionContext.IsFlowSuppressed() method. Are there are any plans to implement this on .NET Core or are there any alternatives?

[2016-01-12 09:46] aalmada commented on #5222
I'm no expert on this but my experience with .NET Micro Framework showed that Single and Double operations had exact same performance on the supported micro-controllers. Why do all libraries still use Single?

[2016-01-12 10:20] JonHanna opened #5331 "CI broken?"
The web-view at dotnet-ci.cloudapp.net is unreachable, and the trigger phrases don't seem to be triggering new builds. Is CI down?

[2016-01-12 11:12] JonHanna opened #5332 "Building with MSBuild or Visual Studio on Windows failing"
Multiple projects, attempt to run MSBuild receive:

Attempt to build in Visual Studio receive:

The problem seems to have been introduced with 3cbbca94331bd78f881903a2fd21edf2ebea4e31, particularly https://github.com/dotnet/corefx/commit/3cbbca94331bd78f881903a2fd21edf2ebea4e31#diff-0b192804a6349e8c26d2b027afbd89a2L52

[2016-01-12 12:05] clrjunkie opened #5333 "Add 'skiptestbuild' command line argument to build script"
Similarly to coreclr build script, please add the option to skip tests to reduce the build time.

[2016-01-12 12:55] akoeplinger commented on #5333
You can pass `/p:SkipTests=true` to build.cmd for this.

[2016-01-12 13:04] stephentoub commented on #4721
@terrajobst, the milestone for this was changed to Future, and there's a PR open related to it.  Should the PR be closed? Left open?

[2016-01-12 13:21] stephentoub opened #5334 "6 warnings during clean build"
[code]

[2016-01-12 13:22] stephentoub commented on #2150
@ellismg, this is fixed now, right?

[2016-01-12 13:37] #5299 closed

[2016-01-12 13:51] stephentoub commented on #5265
@CIPop, @davidsh, for the example you cited, what is it you want that to look like?  It's not currently doing any "fail"ing when logging is disabled.  You want a Debug.Assert added?  A Debug.WriteLine?  I'm not clear based on your responses what you want the (1) solution to look like.

[2016-01-12 14:01] clrjunkie commented on #5333
Thanks a million!!!

[2016-01-12 14:01] #5333 closed

[2016-01-12 14:14] clrjunkie opened #5335 "Build fails with mulitple errors on Windows 10 (Jan-12)"
build /t:rebuild /property:Configuration=Debug /p:SkipTests=true

 System.Globalization -> C:\clrjunkie\corefx\bin\ref\System.Globalization\4.0.11.0\System.Globalization.dll
C:\clrjunkie\corefx\src\Common\src\System\StringNormalizationExtensions.cs(17,20): error CS1501: No overload for method
 'IsNormalized' takes 2 arguments [C:\clrjunkie\corefx\src\System.Globalization.Extensions\src\System.Glob

[2016-01-12 14:48] matthieugd commented on #5252
I got the same exception even if the app was working a few weeks ago. And the SNI.dll is present in the folder.

"System.DllNotFoundException: Unable to load DLL 'C:\Users\xxxx\.dnx\packages\runtime.win7-x64.System.Data.SqlClient.sni\4.0.0-beta-23516\runtimes\win7-x64\native\sni.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
   at System.Runtime.Loader.Assembly

[2016-01-12 15:18] davidsh commented on #5331
Yes, CI is down.  It was supposed to be back a few hours ago but ran into issues.  They are actively working on it.

[2016-01-12 15:42] #4907 closed

[2016-01-12 16:02] mmitche commented on #5331
@JonHanna Yeah, the system died last night during update.  I'm working to bring it back up.

[2016-01-12 16:10] dlebedynskyi commented on #5252
having same issue.
[code]
Any news on when fix is expected?

[2016-01-12 16:14] bartonjs commented on #5317
@weshaggard When we republished the packages on Wednesday to remove my circular reference, did we remove the runtime.unix.System.Security.Cryptography.Algorithms dependency on System.Security.Cryptography.OpenSsl?

@andschwa I was able to repro your failure, and I was further able to make the problem go away by bumping to the next available version (23712)

[2016-01-12 16:22] airomero commented on #5252
Same here!

![image](https://cloud.githubusercontent.com/assets/1215578/12269247/40237804-b92f-11e5-82e5-719799679723.png)

[2016-01-12 16:45] kkurni commented on #5252
I still trying to repro this. And try to find a clue what may cause this.

Please provide us with more information variation as possible to get this fix quickly.
---
how you repro this?
Are you using dnx or corefx?
What windows version?
When this start happening? Did you recently pull the latest version,
Did you get error on different version as well?
Do you mind to share your snippet of code? are

[2016-01-12 16:48] kkurni commented on #5252
@joshfree @stephentoub This could potentially be packaging issue. Do you have packaging to look into this issue as well?

[2016-01-12 17:11] airomero commented on #5252
Heres is an example, it only happens using netcore x86 and x64 (1.0.0-rc1-update1)

![image](https://cloud.githubusercontent.com/assets/1215578/12270705/233b18d0-b936-11e5-85f8-5489040166d2.png)

In my case os : win7x64 ultimate (in win 10 it works fine)

[2016-01-12 17:15] rynowak opened #5337 "TypeConverter lookup does uncached reflection on CoreCLR"
We're making fairly frequent use of `TypeConverter` in ASP.NET MVC. Traditionally, it's been a point of extensibility in our system for enabling serialization of your types to and from strings in query string and form data. We also rely on the built in converters for commonly used built-in types like `DateTime`.

On CoreCLR the lookup of a `TypeConverter` is doing a bunch of attribute work up and

[2016-01-12 17:19] fermaem opened #5338 "Assembly.Location returns empty in a aspnet5-rc2 kestrel hosted context"
Following #3861, it looks like Assembly.Location still returns empty in some context. The following aspnet5 (1.0.0-rc2-16357) outputs an empty string.

**Startup.cs**:
[code]

**project.json**
[code]

**hosting.json**
[code]

Any idea?

/cc @@nguerrera

[2016-01-12 17:24] JohnBicknell commented on #5252
@kturni

how you repro this?
Make a simple sql query using sqlclient and CoreClr x86 or x64 RC1 or (so far) nightly build. For most setups the work-around fix of installing Microsoft Visual C++ 2012 Redistributable worked. Where I'm stuck is deployment on IIS, which is via HttpPlatformHandler Module of IIS. On a windows 2008 R2 server (with C++ Redistributable installed) the application will run a

[2016-01-12 17:27] pakrym opened #5339 "CancelKeyPress not firing on coreclr on ubuntu"
Code:
[code]

project.json:
[code]

Steps:
1. Compile
2. Run
3. Press Ctrl+C

Coreclr output:
[code]

Mono output:
[code]

Environment:
[code]

Packages:

[code]

@muratg

[2016-01-12 17:32] stephentoub commented on #5339
What build are you using?  Can you share a minimal repro?

[2016-01-12 17:36] mellinoe commented on #5222
Well, not all libraries use Single, like @mcdirmid mentioned, WPF used 64-bit floats. As for why the new Vector types are single-precision, it's a combination of the following:

* They are the .NET projections of some core Windows numeric types, which use 32-bit floats.
* Almost all graphics and game-related libraries use 32-bit floats as opposed to 64-bit floats.
  * Physics libraries also genera

[2016-01-12 17:36] #4027 closed

[2016-01-12 17:38] pakrym commented on #5339
Updated issue with more information.

[2016-01-12 17:47] andschwa commented on #5317
Yay thank you @bartonjs! This no longer repros. Will try bumping our packages in the real project again today.

[2016-01-12 17:47] #5317 closed

[2016-01-12 17:57] kkurni commented on #5252
Thanks @JohnBicknell & @airomero.

So if I can summarize this issue, This issue only exist if you run this SQLClient code inside ***IIS & Win2008R2/Win7***

***Does anyone has the same error if your run this Outside IIS ?

@airomero does this work fine when you run it inside Windows 10 IIS ?

FYI, OSX/ unix will works as it will use managed SNI. only windows we use native SNI at this moment.

[2016-01-12 18:00] JonHanna commented on #5331
I closed this after @mmitche's comment about it being worked on, but should probably leave this open until it's back.

[2016-01-12 18:06] davidfowl commented on #5338
Because when you run on DNX assemblies are compiled in memory

[2016-01-12 18:07] matthieugd commented on #5252
I have the same problem on Windows 10 on IIS Express with coreclr-1.0.0-rc1-update1 x64
using EF

`_dbContext.MyEntity.FirstOrDefault(x => x.Id == Guid.Empty);`

System.DllNotFoundException: Unable to load DLL 'C:\Users\zzzz\.dnx\packages\runtime.win7-x64.System.Data.SqlClient.sni\4.0.0-beta-23516\runtimes\win7-x64\native\sni.dll': The specified module could not be found. (Exception from HRESULT:

[2016-01-12 18:13] JohnBicknell commented on #5252
@kkurni
Does anyone has the same error if your run this Outside IIS ?
Just to be clear, I was getting it on Windows 7 and Windows Server 2008 R2, until installing Microsoft Visual C++ 2012 Redistributable.

[2016-01-12 18:16] chcosta commented on #4802
This change has been checked in.

[2016-01-12 18:16] #4802 closed

[2016-01-12 18:17] kouvel commented on #5205
Thanks for your feedback, I took some of your suggestions and updated the proposal.

I agree that this is not an irrefutable example of the problem. I added the example above to the proposal.

However, there is definitely something to learn from this example. It demonstrates some of the extent of unreliability - the bug you refer to is rather a manifestation of the core problem in the runtime, som

[2016-01-12 18:17] kkurni commented on #3760
@juswes did you run this inside IIS ?

[2016-01-12 18:24] genlu commented on #4636
@pallavit Correct me if I was wrong, but we'd need to know BufferWidth/BufferHeight to set cursor position, since arguments to `SetCursorPosition` are based on buffer size, right?

[2016-01-12 18:26] kkurni commented on #5252
Thanks @JohnBicknell for your clarification.

It seems installing C++2012 will solve this https://github.com/dotnet/corefx/issues/3760.

Did you get the same error before you installed C++2012 outside IIS ?

[2016-01-12 18:27] kkurni commented on #3760
This issue seems to be related with https://github.com/dotnet/corefx/issues/5252

After installing VS C++ 2012 Redistributable still not solve the problem if the application is running inside IIS

[2016-01-12 18:33] stephentoub commented on #5339
I'm on Ubuntu 14.04.  I just tried your repro building coreclr/corefx from the latest sources and using corerun.  I also tried downloading dotnet-cli from the tarball at https://github.com/dotnet/cli and using dotnet build.  In both cases, it produced the expected output, printing out BBB and then exiting.

@pallavit, are you able to repro this?

@pakrym, just to make sure you're not accidentally

[2016-01-12 18:34] muratg opened #5340 "ReceiveAsync cancellation throws WebSocketException and terminates the socket"
_From @zeroskyx on January 6, 2016 15:50_

await Socket.ReceiveAsync( new ArraySegment<byte>( Buffer ), Ct );
cannot be cancelled on a ClientWebSocket when Ct is the CancellationToken.
Instead of throwing a OperationCanceledException and keeping the socket alive, the following exception is thrown and the socket is aborted:

System.Net.WebSockets.WebSocketException: The 'System.Net.WebSockets.Inter

[2016-01-12 18:34] muratg commented on #5340
_From @davidfowl on January 6, 2016 15:56_

This looks like it's the ClientWebSocket implementation on windows. This issue belongs on https://github.com/dotnet/corefx/issues

[2016-01-12 18:38] CIPop commented on #5265
@stephentoub I think we should add a Debug.Assert to all places where GlobalLog.Assert* is used. We should _not_ remove the GlobalLog.Assert* calls.

I don't think we should have any Debug.WriteLine in production code: that is unnecessarily polluting the Debug window and will interfere with actual Debug.WriteLines that the developers will use.

[2016-01-12 18:39] stephentoub commented on #5265
Got it.

[2016-01-12 18:41] stephentoub commented on #5340
Dup of https://github.com/dotnet/corefx/issues/5200

[2016-01-12 18:41] #5340 closed

[2016-01-12 18:48] stephentoub commented on #5337
@weshaggard. @joshfree, do you you know why this change for corefx?  Without knowing more, it seems much preferable to put back the caching in corefx, given that the full framework provides it and it's apparently quite impactful to ASP.NET.

[2016-01-12 18:48] taufiqueahmad commented on #5252
For me it is Working on windows 10 development machine but when i published on win server 2012 R2 it is not working, I installed Microsoft Visual C++ 2012 Redistributable as well but still getting same error.

System.DllNotFoundException: Unable to load DLL 'C:\Users\xxxxxx.dnx\packages\runtime.win7-x64.System.Data.SqlClient.sni\4.0.0-beta-23516\runtimes\win7-x64\native\sni.dll': The specified mod

[2016-01-12 18:50] clrjunkie commented on #5205
Ahh, no problem. I meant to say "nothing to learn from" as a user :)

Ok.. no change in this behavior.

Didn't we agree that finalizers must not run on shutdown ?@!

So what, these are *already dead objects*, why not let them cleanup?

I understand that the notification gives the user an opportunity to properly stop running/referenced things,but if something is already dead why not let it die grac

[2016-01-12 18:53] rynowak commented on #5337
I recall pretty early on that the decision was made to port `TypeConverter`, but not the rest of `TypeDescriptor`. In fact in `dotnet` TFM the only surface area `TypeDescriptor` has is:

[code]

I mention this because the caching on desktop appears to be just an implementation detail of the default type descriptor.

[2016-01-12 18:57] pakrym commented on #5339
Added `WriteLine` before read line, observe the same behavior.

[2016-01-12 19:00] taufiqueahmad commented on #5252
Sorry i want to correct one thing,
After published on Windows Server 2008 R2 is not working.

[2016-01-12 19:01] andschwa commented on #4636
@genlu Correct, and my team is currently making due with our own native library to get those sizes. We'd *like* to use .NET's, but it's not totally blocking us.

[2016-01-12 19:01] benaadams commented on #4636
Throwing `PlatformNotSupportedException` would cause x-plat library issues if someone mostly develops and test the library on windows (where it works); but then a user of that library is on linux then it would likely cause runtime crashes?

[2016-01-12 19:05] pakrym commented on #5339
Updated to latest 1.0.0-dev-1452620519 dotnet, didn't help

[2016-01-12 19:06] benaadams commented on #4636
However, If it throws on windows if redirected and there is an api to detect that; maybe say linux always returns that it is redirected? Then could throw?

[2016-01-12 19:06] fermaem commented on #5338
@davidfowl Makes sense. Thanks for the answer!

[2016-01-12 19:06] #5338 closed

[2016-01-12 19:07] Garciat commented on #4636
If `Console` were an object, it could be casted to `WindowsConsole`/`UnixConsole` to get access to platform-specific APIs. `Console` would then only expose only cross-platform APIs. But, it is not an object.

[2016-01-12 19:08] jasonwilliams200OK commented on #4636
@benaadams, that would be a very normal scenario in almost every library repo on GitHub: that the developer of library must have CI configured for all supported operating system testing all path of their code base (100% code coverage). If something is still breaking on certain platform, the consumers of lib will request the library developer to fix/implement that part. Case in hand, this very issu

[2016-01-12 19:09] yuhong commented on #3889
https://technet.microsoft.com/library/security/3109853.aspx

[2016-01-12 19:11] kkurni commented on #5252
@taufiqueahmad did you published to IIS ?

[2016-01-12 19:12] airomero commented on #5252
In win7x64 not working even debugging in VS. Visual C++ 2012 Redistributable x86 and x64 are both installed.

[2016-01-12 19:14] andschwa commented on #4636
@genlu I just switched out our use of faked `BufferHeight` and `BufferWidth` with `WindowHeight` and `WindowWidth`, which for a readline-esque Linux shell is working just fine as far as I can tell.

My only explanation is that our use of it is really simple.

[2016-01-12 19:18] andschwa commented on #5109
Confirmed fixed in our scenario with latest build 23712. Thank you very much @mikem8361, @stephentoub, and @pallavit! :sunny:

[2016-01-12 19:24] joshfree commented on #5337
@Tanya-Solyanik can you please take a look?

[2016-01-12 19:24] kkurni commented on #5252
@airomero do you use ASPNET Web project ? Did you try with console application ?
In windows 10, you mentioned that this is worked fine. Does it work when you deployed to IIS windows 10 ?

[2016-01-12 19:25] andschwa commented on #4636
Just to reference here, the following APIs:

[code]

Were added in #5254.

And the remaining,
[code]

In #5201.

These are now all available least in build (at least, maybe before) 23712 (confirmed working in our scenario).

Thank you a million @pallavit! (And @stephentoub for earlier implementation). :smile:

Unless I missed something, I believe we can close this issue now.

[2016-01-12 19:26] chcosta commented on #4767
Closing issue.  @loqix , please feel free to re-open this issue with additional information if you continue to encounter problems.

[2016-01-12 19:26] #4767 closed

[2016-01-12 19:26] johnjelinek commented on #4476
:+1:

[2016-01-12 19:27] #1563 closed

[2016-01-12 19:29] jasonwilliams200OK commented on #4636
@andschwa, we can get BufferWidth from `TIOCGWINSZ` ioctl call.
I googled and got this: http://stackoverflow.com/a/23369919, then locate that in neovim (C99 implementation of vim; which -- due to vim's age and maturity -- is undoubtedly one of the best reference source to get inspiration for any shell related code in POSIX): https://github.com/neovim/neovim/blob/959f2601f982bb911c83cc6e948f06abd2e

[2016-01-12 19:44] airomero commented on #5252
The example i showed you is a console app. I haven´t deployed anything to IIS yet, so i can't answer that.

[2016-01-12 19:45] ramarag commented on #852
addressed by https://github.com/dotnet/corefx/pull/2908

[2016-01-12 19:48] CIPop commented on #5326
This is a duplicate of #5284, although a different test is failing here.

[2016-01-12 19:48] #5326 closed

[2016-01-12 19:54] genlu commented on #4636
@andschwa Thanks for your replies. But IMHO, `BufferWidth` and `BufferHeight` are necessary (especially if methods like `SetCursorPosition` are provided), otherwise you can't write x-platform code using .NET to handle console.

Also for this issue, I believe corefx team will still be using it to keep track the work of adding those APIs to contract. (and thanks a lot to @pavv and @stephentoub for i

[2016-01-12 19:54] benaadams commented on #5202
Just to follow up on the api review; fine without the `index/offset` param for `void*`.

If safety checks were desirable, taking `count` wouldn't work so well as people would just pass in `Vector<T>.Count` and would ignore the differences with hardware. However, taking something like `destinationSizeInBytes` and using it as a bounds check might work better.

Though if you are going unsafe people l

[2016-01-12 20:02] genlu commented on #4636
@andschwa And missing `BufferWidth` and `BufferHeight` wouldn't not be a problem on Linux (assuming they simply return `WindowWidth` and `WindowHeight` as @terrajobst mentioned, then you should be able to use them instead), the problem is when you want to work with console on Windows using corefx, where buffer and windows might be different.

[2016-01-12 20:09] stephentoub commented on #4636
@jasonwilliams200OK, that's already done in WindowWidth/WindowHeight:
https://github.com/dotnet/corefx/blob/e0a215f3f959407be801c9e7837c9bb4d9df9fb6/src/Native/System.Native/pal_console.cpp#L24

[2016-01-12 20:11] ellismg commented on #5154
Should be fixed by #5300

[2016-01-12 20:11] #5154 closed

[2016-01-12 20:12] ellismg commented on #2150
Yup.

[2016-01-12 20:12] #2150 closed

[2016-01-12 20:16] taufiqueahmad commented on #5252
Yes i published on iis.

Sent from my iPhone

[2016-01-12 20:46] andschwa commented on #5317
Just an update: all is good in the much more complicated setup.

[2016-01-12 20:48] stephentoub commented on #5339
Spoke offline with @pakrym... turns out when building and then executing with ```dotnet```, he does see the handler execute correctly.  It's just when using ```dotnet run``` that the handler doesn't get invoked.

In trying it out locally, it looks like this is an issue specific to how ```dotnet run``` is designed/implemented, not with corefx or coreclr.  The SIGINT signal from the ctrl-c press is

[2016-01-12 21:10] ericstj commented on #5054
@dneimke if you can reproduce this problem with the public tools & msbuild then I reccomend opening an issue in http://github.com/nuget/home.

[2016-01-12 21:10] #5054 closed

[2016-01-12 21:13] ericstj commented on #4971
@cartermp can you have a look at this?

[2016-01-12 21:14] ericstj commented on #3934
/cc @cartermp

[2016-01-12 21:16] ericstj commented on #1848
Closing this out, the package has been updated and the remove of test-runtime is tracked in https://github.com/dotnet/corefx/issues/2427

[2016-01-12 21:16] #1848 closed

[2016-01-12 21:26] KrzysztofCwalina commented on #5202
@krwq, I don't think we should block on Span<T>. It's unclear when we will get it and also we already have so many APIs in the framework done the "old way" that adding one more won't make a substantial difference.

[2016-01-12 21:57] venkat-raman251 commented on #5209
@weshaggard : Who can look into this? Or is this just a placeholder for us to visit later.

[2016-01-12 21:59] venkat-raman251 commented on #4981
@weshaggard : Who is the owner of this library to assign this issue to? And is this for rc2?

[2016-01-12 22:01] stephentoub commented on #5339
Moving to https://github.com/dotnet/cli/issues/812.

[2016-01-12 22:01] #5339 closed

[2016-01-12 22:03] stephentoub commented on #5335
@clrjunkie, you need to do ```/p:ConfigurationGroup=Debug``` rather than ```/p:Configuration=Debug```.  Not all projects have a "Debug" configuration, due to including different files based on which platform is being targeted.  Setting ConfigurationGroup to Debug tells it to use the relevant debug settings for the appropriate platform.

[2016-01-12 22:03] #5335 closed

[2016-01-12 22:04] venkat-raman251 commented on #4603
@weshaggard , @mellinoe : This library is on git now. Can this issue be closed?

[2016-01-12 22:06] stephentoub opened #5348 "Process.Start isn't properly handling escape characters"
e.g. the string ```"\\" "\\\\"``` is getting parsed as ```\” \\\”``` rather than as ```\ \\```

[2016-01-12 22:08] stephentoub commented on #5332
@JonHanna, I think you need to first ```build.cmd``` from the root of your repo.

[2016-01-12 22:09] #5331 closed

[2016-01-12 22:11] stephentoub commented on #5204
cc: @weshaggard, @mmitche

I suspect that this (and also an issue where some libraries are failing to have coverage results as part of a full build, but are successfully handled when built on their own) may be due to ```build.cmd /p:Coverage=true``` now running projects in parallel, whereas previously I believe we tried to force code coverage builds to run serially.

[2016-01-12 22:24] brthor commented on #5348
Note I am seeing this issue on Ubuntu.

I wrote some code to compare results (by forwarding args through different processes) on Windows and Linux, and have shared some of the failing test cases below.

I'm not sure what our story for this is, but should the results on Windows/Linux be consistent here? I found the rules Windows seems to follow here: https://msdn.microsoft.com/en-us/library/17w5ykf

[2016-01-12 22:33] joshfree opened #5349 "Add Ubuntu 15.10 (Wily Werewolf) CI / Rolling Build"
In preparation for Ubuntu 16.04LTS shipping in April, we should start running on Ubuntu 15.10 as a temporary surrogate.

We can then drop 15.10 when we add 16.04LTS later this year.

https://wiki.ubuntu.com/Releases

Related CI work items: https://github.com/dotnet/corefx/issues/4653 (2008 R2 ServerCore), https://github.com/dotnet/corefx/issues/4656 (Debian 8.2), https://github.com/dotnet/corefx/i

[2016-01-12 22:39] mellinoe commented on #4603
Yep, this one should be up here now.

[2016-01-12 22:39] #4603 closed

[2016-01-12 22:46] ellismg commented on #5332
You can also run `init-tools.cmd` instead of building with build.cmd.

@joperezr Can you please update the getting started documents?

[2016-01-12 22:49] #4722 closed

[2016-01-12 22:51] davidfowl commented on #5339
Forget `dotnet run` for a minute, is there a way to handle SIGTERM in .NET Core? Or does that require pinvoking?

[2016-01-12 23:11] JonHanna commented on #5332
Hmm. Was that something I should have realised? In any case, that's done it.

[2016-01-12 23:11] #5332 closed

[2016-01-12 23:17] shmao opened #5352 "[Port] XmlReader.ReadValueChunk will throw ArgumentException when body contents contain double-wide chars encoded as UTF-8"
This issue is to port a fix that was made on Desktop to corefx.

Please see [Reference Source](http://referencesource.microsoft.com/#System.Runtime.Serialization/System/Xml/ValueHandle.cs,700) for the fix on Desktop.

[2016-01-12 23:24] sawilde commented on #5204
@stephentoub I haven't seen this one before - what version are you running?

[2016-01-12 23:42] #4818 closed

[2016-01-12 23:49] eerhardt commented on #5303
This looks like it is back online and green now after resetting the CI.  Closing.

[2016-01-12 23:49] #5303 closed

[2016-01-13 00:00] stephentoub commented on #5204
4.6.166. Though in hopes it might help, we're moving to 4.6.261-rc.

[2016-01-13 00:08] clrjunkie commented on #5335
Good to know.. but why is it arranged like that? Why doesnt platform sepecific gode placed in an ifdef thats wrapped by a partial class file, named after the platform? As far as I recall VS knows how to turn ifdefs blocks on and off but it doesnt know how to load or unload files based on a build configuration which makes it impossible to go to defenition and navigate the source accross different c

[2016-01-13 00:19] ellismg commented on #5332
@JonHanna No, we didn't update the documentation like we should have and the commit message for the change should have contained more detail.  Sorry.

[2016-01-13 00:25] JonHanna commented on #5332
No worries. That's part of the fun of life on the bleeding edge, as long as it wasn't a case where I should have RTFM'd instead of opening an issue.

[2016-01-13 00:39] VSadov commented on #5244
It is a bit unfortunate that reflection models not returning any value as returning a value of type void.

[2016-01-13 00:53] natemcmaster opened #5359 ""System.Data.SqlClient" tfms not aligned with "runtime.unix.S.D.S""
System.Data.SqlClient supports `dotnet5.4` but its `runtime.unix.System.Data.SqlClient` requires `dotnet5.5`. This leads to runtime errors due to missing dependencies on Linux/OSX.

Example:
[code]
:white_check_mark: dotnet restore
:x: dotnet run `Could not load file or assembly 'System.Net.Security'`

Change to `dotnet5.5`
:white_check_mark: dotnet restore
:white_check_mark: dotnet run

[2016-01-13 00:58] terrajobst opened #5360 "Design initialization API for Vector<T> that supports padding"
The size of `Vector<T>` is hardware dependent. When constructing a vector, we either accept the value coming from an array or a raw pointer. However, the number of elements being read is always `Vector<T>.Length`.

In many cases, the number of inputs to be processed is extrinsically defined and might not be a multiplier of `Vector<T>.Length`, i.e. it's likely that there is a remainder.

It might b

[2016-01-13 01:06] weshaggard commented on #5335
@clrjunkie see https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md. Hopefully that helps explain some of the reasoning. However in order to give VS the ability to build our projects with many configurations we are encoding OS/Config/Target into our Configuration property. So when you specify Configuration=Debug you are essentially trying to build ever

[2016-01-13 01:11] weshaggard commented on #4981
@GiriSr is the owner and I don't think this is needed for RC2 it is just clean-up.

[2016-01-13 01:12] weshaggard commented on #5209
It is a clean-up work-item that we will visit later. This is a perfect "up-for-grabs" item that someone in the community might be willing to pickup.

[2016-01-13 01:17] CarolEidt commented on #5360
As we consider the design for such a method, we should take into account that such a method will incur additional cost. That is, if we had a constructor that took an array, an offset and a count (and presumably would zero-fill `Vector<T>.Length - count`), we would want to discourage developers from calling it with `count >= Length` in a loop because it would introduce an extra check in each iterat

[2016-01-13 01:32] terrajobst commented on #5202
We've approved the API with feedback. Details in the [notes](https://github.com/dotnet/apireviews/pull/23).

[2016-01-13 01:32] terrajobst commented on #4636
We've approved the API with feedback. Details in the [notes](https://github.com/dotnet/apireviews/pull/23).

[2016-01-13 01:43] VSadov commented on #4722
DebugView is used by debug proxies (see  BinaryExpressionProxy). There was similar proxy for DynamicExpression, but then  DynamicExpression was moved to a separate assembly so that forced DebugView to become public.

It appears that DynamicExpressionProxy no longer exists so DebugView no longer needs be public.

[2016-01-13 01:44] NickCraver commented on #2089
Is there any update on this?

[2016-01-13 01:51] VSadov commented on #4722
I think extensible DebugView is a good idea.
As I remember at some point there was an expression tree visualizer - a VS extension which would paint tree-like shapes with collapsible children nodes. Not sure if that was a sample or it actually shipped...

ExpressionTrees could get complex enough that specialized visualization could be very helpful at debug time.

[2016-01-13 02:11] sawilde commented on #5204
Please use latest [appveyor build](https://ci.appveyor.com/project/sawilde/opencover/history); that RC was shall we say "an embarrassment" and especially on how you use OpenCover.

[2016-01-13 02:11] #536 closed

[2016-01-13 02:18] stephentoub commented on #5204
We pull this from NuGet so we'll need to wait to upgrade again until there's a new build up there.

[2016-01-13 02:47] NickCraver commented on #4306
This is a blocker on several diagnostic and logging based packages here, +1 for bringing it back.

[2016-01-13 03:11] yishaigalatzer opened #5364 "AggregateException should report better error messages"
A common issue when not using await is the print out ex.Message or ex.ToString()

In the case of `AggregateException` and perhaps also `TargetInvocationException` these messages are kinda useless: `One or more errors occurred.` it would be nice to print out a more detailed message by default:
1. Print out how many error where found.
2. Print out the actual inner exceptions

[2016-01-13 03:22] kouvel commented on #5205
Finalizers for live objects must not be run on shutdown. I was thinking finalizers would still run for dead objects, but it seems like there is no point in running any finalizers. I have updated the proposal to reflect that. So in that case, yes a GC.Collect() would need to be followed by a GC.WaitForPendingFinalizers().

Some objects may be already dead but that won't be discovered until a GC is

[2016-01-13 03:31] kouvel commented on #5205
Edited inline above

[2016-01-13 05:50] kouvel commented on #5330
CoreCLR seems to always flows the execution context, and the methods to configure that are currently not available. I'm not aware of any plans to implement flow suppression. IsFlowSuppressed() can be assumed to be false.

Is flow suppression important for your scenario? If so, could you please describe the scenario?

[2016-01-13 06:05] CIPop commented on #5144
Not all issues closed by #5151

[2016-01-13 06:44] kkurni commented on #5173
An update from Natemcmaster :
He tried using the cert from curl-ca-bundle from macports by replacing /etc/openssl/cert.pem (build in OS X ca bundle) and /usr/local/etc/openssl/cert.pem (Homebrew’s OS X ca bundle.)

But Still getting the error.

[2016-01-13 06:53] sawilde commented on #5204
No worries, I'll see about creating a release candidate - we are due one soon.

[2016-01-13 07:50] #5325 closed

[2016-01-13 08:46] juswes commented on #3760
@KKhurin Correct, it only occurs when you run a published version of your web app in IIS on Windows Server 2008 R2. If you use the "web" comment from the command line the app works fine. I now installed  everything on a Windows Server 2012 R2 server and then I can publish to IIS and run the web app just fine. So it seems this issue only occurs if you publish it to a Windows 2008 R2 server and run

[2016-01-13 08:56] sawilde commented on #5204
please try https://www.nuget.org/packages/OpenCover/4.6.401-rc

[2016-01-13 09:08] benaadams commented on #5360
Something to consider/complicate for a design also is shorter+longer Vector types and how they might work.

For example say at a future point [AVX-512](https://en.wikipedia.org/wiki/AVX-512) was supported and the default vector type (on correct hardware); which would be great as now 64 bytes can be operated on at once. However currently there would no middle ground/optimization between 512 bit and

[2016-01-13 09:23] JohnBicknell commented on #5252
@kturni

Did you get the same error before you installed C++2012 outside IIS ?

Inner Exceptions looks the same.
(both CoreClr x64 RC1)

Exception from IIS Logs (With and without C++ Redistributable installed)
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
info: Microsoft.AspNet.Hosting.Internal.HostingEngine[3]
      Request finished in 0.0624ms 500
fail: Microsoft.AspNe

[2016-01-13 09:47] aalmada commented on #5222
@mellinoe I understand but that's the lowest common denominator solution. Because of legacy, it's impossible to improve. Rendering and physics libraries are finally adopting multi-threading, they'll adopt 64-bit floats sooner or later. Most new smartphone now comes with 64-bit processors. You can have a 64-bit computer just for $15: https://www.kickstarter.com/projects/pine64/pine-a64-first-15-64-

[2016-01-13 09:54] Clockwork-Muse opened #5367 "Building individual projects fails"
PR #5310 introduced a new tools directory, which is built _if_ you run one of the base "build" commands (ie `Build.cmd`).  This is potentially the first time this has been a **required** step; before, clean builds from VisualStudio on a single project worked.
If instead a committer has been working on single projects, and building just that project (via either the command line or VisualStudio), bu

[2016-01-13 09:56] Clockwork-Muse commented on #5367
(Well, presumably it'll work after building - it hasn't finished grabbing stuff for me.  I keep getting 504 Gateway Timeouts, although it appears to be making _some_ progress).

[2016-01-13 11:33] jamesgibbs100 commented on #5252
Simple Testing Results

Using a simple test console application which references System.Data.SqlClient. This Console application makes a connection to a remote database and queries the contents of a table.

Using 1.0.0-rc1-final, coreclr, x86 (or x64)

Running this from the command line works with either x64 or x86 runtimes.
Running this from Visual Studio (F5 Debug) then it fails with the SNI not

[2016-01-13 12:10] clrjunkie commented on #5205
I agree with your reasoning, nevertheless I don't think it's obvious; therefore, I highly recommend to  document the shutdown contract in a way that specifies the chain of events .

Something like:

In .NET Core, the CLR will not run Garbage Collection after raising an Unload event and any future calls to GC.Collect() will be discarded; therefore, once an Unload event occurs any finalization code

[2016-01-13 12:38] clrjunkie commented on #5205
Extending the previous question:

Q1: Can an Unload event happen during an active GC? I assume it will get invoked after GC Completes, will it get invoked after all finalizers complete for that GC Cycle or will these finalizers be simply discarded

Q3: What happens if an exception occurs in an Unload event handler and there other subscribers will they get invoked?

[2016-01-13 12:56] clrjunkie commented on #5205
Q4: Which thread will actually invoke the Unload event? Is it a dedicated thread spawned by the CLR? Will it have a name? Will the same thread be used to run event handlers for all AssemblyLoadContexts?

[2016-01-13 13:30] fsateler opened #5370 "GroupJoin enumerates inner sequence even when outer is empty"
This seems to me that this is a worthwhile optimization to make.

[2016-01-13 14:26] MaximRouiller commented on #5339
SIGTERM would be handled by libuv right? If I recall, libuv does not flow back that event back. Unless you have a custom version of libuv, that might be it.

[2016-01-13 14:59] stephentoub commented on #5364
AggregateException.ToString() does print out all of the inner exceptions:
https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/mscorlib/src/System/AggregateException.cs#L438-L451

[2016-01-13 15:53] clrjunkie commented on #5335
@weshaggard

Just looked at this again, I noticed that VS actually *does* "activate" the right files per build configuration.. without needing to #ifdef.. cool :) Is this new? Can you assign files to build configs directly from VS or this can only done by manually editing the csproj file?

I read the guidelines and looked at a cross platform csproj.  I understand what you mean.

This will actually

[2016-01-13 16:26] KrzysztofCwalina commented on #4614
fixed by #5358

[2016-01-13 16:26] #4614 closed

[2016-01-13 16:30] stephentoub commented on #4836
I'm going to close this one.  There were other lab-related problems happening that day, and I expect this was related to that.  Even if it wasn't, we have a few other open issues on these methods.  If this hangs again, we can reopen.

[2016-01-13 16:30] #4836 closed

[2016-01-13 16:34] yishaigalatzer commented on #5364
But not in the message. I'll strike out the tostring from the suggestion.

[2016-01-13 16:42] stephentoub commented on #5364
Thanks. Can you provide more details on the behavior you expect from Message? e.g.
- AggregateException has ctors that allow a message to be provided; what are you recommending in that case?
- What are you recommending the case where no message is provided, concatenate the messages in some form of all of the inner exceptions?
- What's the value of augmenting Message in this manner when ToString()

[2016-01-13 16:43] stephentoub commented on #5367
https://github.com/dotnet/corefx/issues/5332

[2016-01-13 16:58] #5370 closed

[2016-01-13 17:05] weshaggard commented on #5335
I don't believe VS allows you to put files into particular configurations in the UI, but I've never really tried to see what happens. Even if it did it would put in for the full Configuration which in most cases we want it for only one part of the Configuration (i.e. OS, Target, etc), so we mostly have to do that manually.

[2016-01-13 17:07] weshaggard commented on #5367
Yes this is a duplicate of #5332, you need to at least call init-tools.cmd to bootstrap the tools before you can load in VS or build individual projects.

@joperezr we need to get this documented soon so we can point folks to it.

[2016-01-13 17:07] #5367 closed

[2016-01-13 17:19] vScottLouvau opened #5377 "Consider adding TypeDefinition.IsNested { get; }"
I'm testing https://github.com/dotnet/corefx/pull/4809/files. DisassemblingTypeProvider, the sample implementation used for tests, calls TypeDefinition.Attributes.IsNested in GetTypeFromDefinition, which can't be done outside Roslyn.

I'm guessing we'll want everything the reference implementation does be possible for public consumers to do.

[2016-01-13 17:24] vScottLouvau commented on #5377
Tagging @nguerrera so he sees this one.

[2016-01-13 17:27] vScottLouvau commented on #5364
+1 for at least taking the InnerException.Message when there's actually only one inner exception, or taking it wrapped within a format string ("One aggregated exception occurred: {0}").

I can't say how many times I've written a catch block to unwrap the one exception in an AggregateException when there's only one so that I can see what the issue really was. I prefer Message to ToString in cases b

[2016-01-13 17:35] yishaigalatzer commented on #5364
We ended up having to write something like this (in one of my previous projects @vScottLouvau wink wink) and unify a helper across the whole codebase. Would be much nicer if the message was meaningful

[code]

[2016-01-13 17:37] clrjunkie commented on #5335
@weshaggard Yes I figured... Thanks.

[2016-01-13 17:43] palladia opened #5378 "Process.Start() sometimes returns wrong ProcessName"
If executing following code with NETStandard.Library of 1.0.0-rc2-23712:

using System;
using System.Diagnostics;

namespace ConsoleApplication
{
    public class Program
    {
        public static void Main(string[] args)
        {
            for (int i=0; i<100; i++)
            {
                ProcessStartInfo startInfo = new ProcessStartInfo();
                startInfo.FileName = "ping";

[2016-01-13 18:04] ericstj commented on #5359
/cc @saurabh500
Looks like this was simply an inconsistency that didn't get cleaned up.  At one point the System.Net contracts that SqlClient dependended on weren't supported on 5.4, now they are.

[2016-01-13 18:08] ericstj commented on #5359
Also on Windows this is still packaged as 'dnxcore50'.

[2016-01-13 18:08] yishaigalatzer commented on #5364
@stephentoub to answer your specific questions:

Thanks. Can you provide more details on the behavior you expect from Message? e.g.

Typically I don't throw them, and if the user sets them, I guess he expects them to come out. It is really a question of what the Task family of classes are doing. You could add a virtual method that get the default message

See what @vScottLouvau is suggesting, we c

[2016-01-13 18:09] muratg opened #5380 "Publish is broken with “Error: The underlying compression routine could not be load correctly"
Seems related to `System.IO.Compression.ZipFile` package.

@joshfree @troydai

[2016-01-13 18:11] ianhays commented on #5380
Looking into this now.

[2016-01-13 18:21] pranavkm commented on #5380
Here's the stack trace:

[code]

[2016-01-13 18:31] stephentoub commented on #5364
Ok, that's reasonable.  And from looking at other exception implementations in the framework, it's fairly common for Message to tack on additional information onto whatever message the user supplied, if any.  I'll put a PR together.  I don't want it to be particularly complicated / have lots of policy (e.g. I don't think it should do any special handling for flattening various nested exception typ

[2016-01-13 18:35] khdang commented on #5206
Originally this is an issue on Desktop. Potential fix involves breaking changes which we're considering carefully. From discussion we will close this issue for now until the fix is clear for both Desktop and K.

[2016-01-13 18:35] #5206 closed

[2016-01-13 18:51] KrzysztofCwalina commented on #5308
The packages are now on myget:
https://www.myget.org/feed/dotnet-core/package/nuget/System.Resources.Reader
https://www.myget.org/feed/dotnet-core/package/nuget/System.Resources.Writer

[2016-01-13 18:52] pallavit opened #5381 "Add missing members for System.Reflection namespace"
This is a blanket issue to review gaps in System.Reflection namespace in .NetCore vs Desktop

### Proposed additions to .NET Core

[code]

### Notes

[code]

[2016-01-13 19:04] ianhays commented on #5380
There is a bug in the app-container clrcompression.dll in the most recent package that is causing this error. Working on the solution now.

[2016-01-13 19:12] AlexGhiondea opened #5383 "Figure out the way to test AppContext in a portable way (across all the supported platforms)"
We need to figure out a way to run our AppContext tests across all of our supported platforms.

This means that the same test needs to run against different implementations in a consistent way.

[2016-01-13 19:23] kkurni commented on #5252
Thanks @JohnBicknell for clarification.

Thanks @jamesgibbs100 for debuging this. api-ms-win-core-stringansi-l1-1-0.dll looks interesting. This could be packaging bug.

[2016-01-13 19:26] zhili1208 opened #5385 "File.Exist() is case insensitive on Mac"
repro step:
1.create a file  "Test.Config".
2.File.exist("test.config") return true on Mac.

here is a test app for this: https://github.com/zhili1208/lzhi-test

[2016-01-13 19:32] lynxx131 commented on #5330
I was looking at getting https://github.com/Bobris/Nowin working under .NET Core and this was the last visible issue. I will see how it behaves if i assume false.

As this is just an attempt to port a library for mostly curiosity this not necessarily important to my particular scenario but I thought this would be the best place to ask the question and provide visibility for anyone else who may be

[2016-01-13 19:50] sokket commented on #4911
Fixed via #5231

[2016-01-13 19:50] #4911 closed

[2016-01-13 19:50] sokket commented on #4839
Not vital for RC2, pushing to RTM

[2016-01-13 19:52] ianhays commented on #5380
I was unable to repro this. Could you provide some more details (or some repro code) of the failure so I can be sure I'm resolving it completely?

My config:
[code]

[2016-01-13 19:58] terrajobst commented on #4306
@Priya91 I assume we can meaningfully implement this API across all platforms? In that case I don't see any issue with exposing `MachineName` on `Environment`.

@weshaggard @KrzysztofCwalina @stephentoub, thoughts?

[2016-01-13 20:01] chcosta commented on #5252
Why does this work from the command-line?  Where does it find the exports it is looking for in api-ms-win-core-stringansi-l1-1-0.dll? Does it find them in the api set dll or in user32.dll?

@jamesgibbs100, are you saying the api set dll present in your runtime bin folder?

[2016-01-13 20:03] KrzysztofCwalina commented on #4306
I have no problem with MachineName.

[2016-01-13 20:04] stephentoub commented on #4306
We should definitely add it back.

[2016-01-13 20:06] Priya91 commented on #4306
On unix systems, uname -n gives the FQDN, this can be implemented to return a meaningful value on all platforms.

[2016-01-13 20:30] stephentoub commented on #5385
That's correct.  Typically HFS+ is case-insensitive.  While it's possible to configure it to be case-sensitive, that's rare, and we don't currently have any implementation for that.  That's covered by https://github.com/dotnet/corefx/issues/3156.

[2016-01-13 20:35] shmao opened #5389 "Improve XmlSerializer.FromTypes"
Review comments in https://github.com/dotnet/corefx/pull/5384 and see if we need to make any changes.

[2016-01-13 20:52] kkurni commented on #5252
Why does it work from command line ?

Because they installed VC2012++ redistributable which contains MSVCR10.dll
This issue is related this https://github.com/dotnet/corefx/issues/3760

So the current work around is to install VC2012++ redistributable. But unfortunately this issue will not fix if they run the application inside IIS + Sql Server 2008 R2.
This could probably related with how the per

[2016-01-13 21:01] #4897 closed

[2016-01-13 21:06] #4771 closed

[2016-01-13 21:12] jamesgibbs100 commented on #5252
I placed the dll into the same folder as the project.json. If you can read the Process Monitor events on the above screen shot you can just read the paths it is trying to resolve through, which is what led me to try doing this.

Note : the console app has no reference to IIS or web at all. Just the sqlclient.

[2016-01-13 21:36] joshfree commented on #4306
I'm glad we're going to be able to get this into RC2 :+1:

[2016-01-13 21:39] zhili1208 commented on #5385
I see, thank you

[2016-01-13 21:42] pallavit commented on #5378
@palladia When I try to run the repro I always get System.InvalidOperationException : Process has exited, so the requested information is not available.

My guess is what you are seeing is not a race condition but that the process is already exiting. That is the reason why when you use another option that increases the process running time, you see the expected o/p.

[2016-01-13 21:54] palladia commented on #5378
No, the initial process.ProcessName is usually wrong.  When I said wait a second, it's kind of like this:

process.Start();
Console.WriteLine(process.ProcessName);       // usually wrong value

Process secondValue = Process.GetProcessById(process.Id);
Console.WriteLine(secondValue.ProcessName);   // still wrong value

// wait one second

Process secondValue = Process.GetProcessById(process.Id);
Co

[2016-01-13 22:09] #5385 closed

[2016-01-13 22:19] CIPop commented on #5077
@xanather The tests at https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/tests/FunctionalTests/SslStreamStreamToStreamTest.cs#L111 are validating the described scenario.

If you are able to repro this, please share either an entire solution via a GitHub branch or OneDrive or a single-file application through https://gist.github.com/ with the simplest repro code that hits the iss

[2016-01-13 22:20] yishaigalatzer commented on #3156
This will be very useful for us as well. I'd like to see an API that take a folder, because the cases where have heard about are:

1. Windows machine with a samba share
2, Linux machine with a folder mounted to a window share
3. Mac + mount points to either case sensitive or case insensitive drive.

I would expect such an API to be reasonably fast with some sort of caching if needed so it can be c

[2016-01-13 22:26] #4706 closed

[2016-01-13 22:27] stephentoub commented on #4071
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/917/

[2016-01-13 22:31] venkat-raman251 commented on #4981
@weshaggard : @GiriSr hasn't been active on github from what i can see. That was the reason this was assigned back to me.

[2016-01-13 22:42] CIPop opened #5397 "Test fails to verify client.ImpersonationLevel: System.Net.Security.Tests.NegotiateStreamStreamToStreamTest.NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails()"
MESSAGE:
Assert.True() Failure\r\nExpected: True\r\nActual: False
+++++++++++++++++++
STACK TRACE:
at System.Net.Security.Tests.NegotiateStreamStreamToStreamTest.NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails() in d:\j\workspace\dotnet_corefx\windows_nt_debug_prtest\src\System.Net.Security\tests\FunctionalTests\NegotiateStreamStreamToStreamTest.cs:line 155
This is:
Assert.Equ

[2016-01-13 22:48] andschwa commented on #5378
@palladia What OS was this on?

[2016-01-13 22:52] palladia commented on #5378
$ uname -a
Linux george-vm-1 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2016-01-13 22:57] Priya91 commented on #4306
The MachineName is already implemented in coreclr pal for Unix as well using gethostname. So just exposing this in contract should be enough.

[2016-01-13 23:01] CIPop commented on #5397
From #5366 :

@mmitche This is a Windows-only test that started failing recently. Were there any CI changes that could trigger this new behavior? Also I wouldn't expect the behavior to be intermittent unless some CI machines are configured in a different way.

[2016-01-13 23:02] #5050 closed

[2016-01-13 23:02] mmitche commented on #5397
@CIPop the only possibility is that I've spun up some new machines today, and these have Update 1 on them.  There were a couple before, but it's quite possible this test never ran on it.

[2016-01-13 23:04] CIPop commented on #5397
@mmitche What do you mean by "Update 1"? Visual Studio?
If so, I'm not sure that would be related. I've written the test for .Net Desktop on RS1 + VS Update 1 and ensured that they run the same way on TH2 on a Domain-joined machine logged on as myself without elevation.

Did Windows authentication or the account being used changed somehow? (Maybe was Domain-joined and now it's not?)

[2016-01-13 23:05] stephentoub commented on #4306
What about .NET Native?

[2016-01-13 23:08] mmitche commented on #5397
@CIPop there is no domain join here, account is the same, etc.  Visual Studio Update 1 is what I am referring to.  We can pull a machine out of rotation to investigate if needed.

[2016-01-13 23:12] andschwa commented on #5378
Interestingly, we're seeing that the `Id` is correct (and sequential, as expected), but the `ProcessName` is not correct:

[code]

[code]

[2016-01-13 23:13] #5348 closed

[2016-01-13 23:13] weshaggard commented on #2632
This is actually causing some blocking issues with Powershell. @ericstj / @JeremyKuhne can one of you guys take a closer look at it.

[2016-01-13 23:15] Priya91 commented on #4306
.NET Native will be using the windows implementation in mscorlib. Am i missing something?

[2016-01-13 23:19] CIPop commented on #5397
@mmitche Thanks! If we see the test passing on some machines and not others, I'd like to take a look why.

[2016-01-13 23:24] mellinoe opened #5401 "Test failure in NegotiateStream_StreamToStream_Authentication_TargetName_Success"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/924/testReport/junit/System.Net.Security.Tests/NegotiateStreamStreamToStreamTest/NegotiateStream_StreamToStream_Authentication_TargetName_Success/

Appears that there was a timeout during the handshake.

[code]

[2016-01-13 23:24] bartonjs commented on #5349
@ellismg I'm sure you're already aware, but 14.04 is libicu52, and 15.10 looks like it's libicu55, so we might need some clever packaging/building for System.Globalization.Native.so

[2016-01-13 23:27] ellismg commented on #5349
Yeah, we have the same problem between CentOS and Ubuntu.  The RIDs have version numbers in them so we can pivot our runtime packages that way.

[2016-01-13 23:34] dmetzgar commented on #2394
@galvesribeiro I'll try to explain the situation as best I can. In my zeal to get WF ported to .NET Core, I failed to take into account the business side of this whole thing. WPF/XAML is not ported to .NET Core and that represents a significant chunk of WF. While XAML is not essential to the runtime, it is how most customers build workflows. This limits the audience which would find WF on Core use

[2016-01-13 23:50] watertree commented on #2394
@dmetzgar How about Portable.Xaml, could it be an alternative?   https://github.com/cwensley/Portable.Xaml  It has been extracted for use for by the author of the fantastic Eto.Forms project for Eto.  It is MIT licensed and (and so are the class libraries it derives from in the mono project).

[2016-01-13 23:52] Priya91 commented on #4306
On further digging, I'll have to add MachineName implementation in corert for .NET Native, but that shouldn't block this from getting done for rc2. If the corert change doesn't go through before rc2, this can be conditionally excluded for .NET Native.

[2016-01-14 00:20] mconnew commented on #4429
@CIPop, would it be possible to put in the change to disable the `WINHTTP_OPTION_ASSURED_NON_BLOCKING_CALLBACKS` option to make this functionally work (albeit with less than ideal performance) for rc2?

[2016-01-14 00:23] CIPop commented on #4429
@mconnew I thought you've already tried that and it didn't work.

[2016-01-14 01:12] ericstj opened #5406 "IsoStore: Packaging for libraries that only support a single platform"
Today if a package only targets a single platform our packaging
infrastructure still requires a `dotnetX.Y` reference assembly.

We should relax this requirement since it doesn't make sense,
packages should only use `dotnetX.Y` if they need to be portable
to more than one platform.

Sample packages:
System.IO.IsolatedStorage
System.Runtime.Loader

An alternate solution here would be to tweak these

[2016-01-14 01:19] Priya91 opened #5407 "Expose rest of System.Environment.* members to .NET Core Surface area."
cc @weshaggard

[2016-01-14 01:20] galvesribeiro commented on #2394
@dmetzgar,

[2016-01-14 01:36] Priya91 commented on #5015
@mjrousos are you working on this?

[2016-01-14 01:45] stephentoub commented on #5378
They're is a race condition, largely inherent to the way processes are spawned on Unix: fork/exec. To create another process, you fork() to create a copy of yourself, and then that copy execs. As such, there is a window of time where the child process has one name (yours) and then it switches. So Process.ProcessName is accurately reflecting reality... it's getting it's data from /proc/pid/stat, wh

[2016-01-14 02:01] mjrousos commented on #5015
Yep, this is fixed by dotnet/corefx#5020. I just need to fix up the test cases I added and it should be ready to merge. I hope to do that tonight.

[2016-01-14 02:10] ianhays commented on #5380
I got the repro working and was able to find the root cause: the exports being used to build the app-container clrcompression.dll were being loaded incorrectly. I resolved that issue on the TFS side in changeset 1564308.

[2016-01-14 02:10] #5380 closed

[2016-01-14 02:15] joshfree commented on #5380
Thanks @ianhays

[2016-01-14 02:16] galvesribeiro commented on #2394
@dmetzgar,

I think the biggest motivation for WF current users is Nano server and Micro Services and not Linux. Linux will add more users, but is not the real motivation.

We are in cloud days. Remember, "Cloud first, mobile first..." and one of the big techs that are growing are containers, Micro Services, and a big offer from MS for all it is Nano Server.

Even with the biggest Sharepoint or Dy

[2016-01-14 02:19] joshfree commented on #5401
@SidharthNabar

[2016-01-14 02:28] #3049 closed

[2016-01-14 02:32] #5364 closed

[2016-01-14 02:45] shmao opened #5410 "XML reading issue with Binary Reader: certain string content lengths can't be read"
The issue has been fixed on Desktop. We should port the fix to corefx.

[2016-01-14 02:48] stephentoub opened #5411 "UDP tests fail with timeout sending/receiving data over loopback"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/956/consoleFull
[code]

[2016-01-14 02:53] stephentoub opened #5412 "NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails failed on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/942/consoleFull
[code]

[2016-01-14 03:12] kkurni commented on #5252
@jamesgibbs100 How did you install your DNVM ?

I installed dnvm manually but has VS 2015 installed, and for command line it works fine.

![image](https://cloud.githubusercontent.com/assets/698547/12314851/847b2cd6-ba29-11e5-94c3-a57056797b1f.png)

[2016-01-14 03:36] mellinoe commented on #5407
All of it, or is there is a specific set we want?

[2016-01-14 03:55] #5359 closed

[2016-01-14 04:30] jkotas commented on #4306
Why is not `Dns.GetHostName()` sufficient equivalent of Environment.MachineName? It is the same name for typical configuration.

I do not think we should add Environment.MachineName to .NET Core because of it is mostly redundant with `Dns.GetHostName()` and it is pretty bad for layering - it makes System.Runtime.Extensions dependent on networking stack.

[2016-01-14 05:04] #5389 closed

[2016-01-14 05:05] #4726 closed

[2016-01-14 06:44] troydai commented on #5380
Thank you @ianhays

[2016-01-14 07:16] weshaggard commented on #5407
Not all of it it @Priya91 is going to create a proposal for what we want to expose.

[2016-01-14 09:08] piotrpMSFT commented on #5339
@davidfowl it looks like we can receive SIGTERM via System.Console.CancelKeyPress. When we receive it we should pass it on from dotnet --> dotnet-run --> the app.

@stephentoub is there an API to send Ctrl+C to a spawned process?

[2016-01-14 11:17] Dmitry-Me opened #5414 "System.Data.ProviderBase.DbConnectionFactory.s_pendingOpenNonPooledNext careless manipulation"
System.Data.ProviderBase.DbConnectionFactory.s_pendingOpenNonPooledNext is declared as `static int` which means it is signed and retains its value for very long.

Here's the only place where it's manipulated:

    idx = s_pendingOpenNonPooledNext++ % s_pendingOpenNonPooled.Length;

If `pendingOpenNonPooledNext == Int32.MaxValue` then one of the following will happen.

If code runs in unchecked con

[2016-01-14 11:27] NickCraver commented on #4306
@jkotas These are not equivalent even today. For example, the casing differs. A move there would very subtly break many applications. For example on a VM right here:

`System.Net.Dns.GetHostName()`: `Craver-WinBook8`
`Environment.MachineName`: `CRAVER-WINBOOK8`

I can think of several instances where this matters off the top my my head, including settings that specify machine name and maybe never

[2016-01-14 11:32] mgravell commented on #4306
The kind MS folks who helped me with SE.Redis went the  `Environment.GetEnvironmentVariable("COMPUTERNAME")` route when porting to dnx, but: that is pretty damned ugly, and relies on a magic string that there is no really good reason should exist on other platforms. The `MahineName` is much missed.

[2016-01-14 11:48] Dmitry-Me opened #5415 ""as" used instead of cast in System.Data.SqlClient.SqlConnection.TryOpen()"
System.Data.SqlClient.SqlConnection.TryOpen() goes like this:

     var tdsInnerConnection = (InnerConnection as SqlInternalConnectionTds);
     Debug.Assert(tdsInnerConnection.Parser != null, "Where's the parser?");
     if (!tdsInnerConnection.ConnectionOptions.Pooling)

If for any stupid reason `InnerConnection` cannot be cast to `SqlInternalConnectionTds` then `as` yields a null reference and

[2016-01-14 12:20] JonHanna commented on #5415
When testing the assembly it would be an assertion failure either way.

If a change introducing this bug escaped testing then the NRE will be thrown on the next line, so it's not like it's hidden deep into the middle of a later call.

Assuming `isinst` is still faster than `castclass` (I'm going on old knowledge of the two so maybe improvements in the meantime have changed that), it's a reasonable

[2016-01-14 12:35] Dmitry-Me commented on #5415
@JonHanna It would not be an assertion if `as` yields a null reference - it would be a NRE before assertion.

[2016-01-14 12:38] JonHanna commented on #5415
Well, an NRE inside the assertion. I suppose an assertion could be reasonably added above it to the effect of `Debug.Assert(tdsInnerConnection != null);`

[2016-01-14 12:40] JonHanna commented on #5415
If there's a problem here, its that we lack tests exercising it enough that if somehow something did introduce a bug where `!(InnerConnection is SqlInternalConnectionTds )` at this point, it won't throw anything at all during testing and could be merged in with that bug.

[2016-01-14 12:44] Dmitry-Me commented on #5415
@JonHanna IMO you are relying too much on testing. Thorough testing is good but it doesn't replace making code a bit easier to diagnose in production. If the object is of wrong type then the code fails in production anyway, the difference is how clear the failure is.

[2016-01-14 13:07] JonHanna commented on #5415
Thorough testing is good, and lacking in this particular place. I'm not saying it's a panacea, I'm saying it should be there.

Changing from `InnerConnection as SqlInternalConnectionTds` to `(SqlInternalConnectionTds)InnerConnection` here would result in the following difference of experience of the possible error you are talking about:

End user: Exception that might mention "NullReferenceExcepti

[2016-01-14 13:23] stephentoub commented on #5339
Not unless some other code is registering for SIGTERM and sending another signal in its place.  CancelKeyPress is for ConsoleSpecialKey.ControlC and ConsoleSpecialKey.ControlBreak, which are SIGINT and SIGQUIT, respectively.  SIGTERM does not currently trigger a CancelKeyPress event.

Not exposed in the framework.  On Unix it can be achieved via a P/Invoke to ```kill```, and on Windows via a P/Inv

[2016-01-14 13:26] jkotas commented on #4306
`Environment.MachineName` is [documented](https://msdn.microsoft.com/en-us/library/system.environment.machinename(v=vs.110).aspx) to return NetBIOS name. NetBIOS is old Windows-centric concept. I do not think that there is exact equivalent of `Environment.MachineName` on baseline Unix. It is only available if you install Samba.

@NickCraver  How would you propose `Environment.MachineName` to be im

[2016-01-14 13:38] JonHanna opened #5416 "EnumerableQuery stack-overflow on Block or Conditional that is not of queryable type"
E.g.

[code]

Both go into infinite recursion and overflow the stack. While non-queryable-type expressions aren't likely in this context, they could still be used and of course could be sub-expressions of a queryable-type expression.

[2016-01-14 13:39] JonHanna commented on #5416
I really should have caught this in my tests for #3751. Sorry.

[2016-01-14 13:41] #3406 closed

[2016-01-14 13:53] stephentoub commented on #3504
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_release_prtest/976/

[2016-01-14 14:03] christiannagel opened #5418 "using System.Collections.Immutable and System.Runtime"
With a project.json project application using the .NET Framework 4.5.x or 4.6, using System.Collections.Immutable I get this compiler error: The type 'ValueType' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
Adding the NuGet package System.Runtime, either 4.0.0 or 4.0.21-rc

[2016-01-14 14:57] metzgithub commented on #1624
@PureKrome
Yes it is simpler.
You don't have to know what classes and methods are used, you don't need a mock library/interfaces/virtual methods, the setup will not change if you switch from HttpClient to something else.

[code]

Usage:
[code]

[2016-01-14 15:11] stephentoub commented on #5378
I may actually have a workaround that would at least work on Linux. I'll try it out today and either submit a PR or close this.

[2016-01-14 16:08] azeno commented on #4726
I'd like to verify that the initial issue I had in my application is indeed fixed, but I don't know whether or not this commit is already included in your daily builds. Or in other words how do the version stamps of the daily built NuGet packages correlate with this repository?

[2016-01-14 16:48] SidharthNabar commented on #5401
Marking this as RC2 since NegotiateStream was recently implemented and this may surface a product issue.

[2016-01-14 17:02] palladia commented on #5378
If we can get the process Id (of the child process) correct, surely we can get the process name correct as well.  And if that's somehow not possible, we know what the process name should be, can we not force it?

[2016-01-14 17:02] ericstj opened #5420 "Builds files don't handle 'unix' bins correctly"
IL libraries in corefx tend to take one of 3 shapes.
1. Single cross-platform library.
2. Windows/Unix library.
3. Windows/Linux/OSX library.

Right now we don't handle 2 correctly in the builds files.  Instead of treating them as OSGroup=Unix and building on both Linux and OSX they use OSGroup=linux and only build on Linux.

/cc @weshaggard @stephentoub

[2016-01-14 17:09] stephentoub commented on #5378
It is getting the process name correct, that was my point.  The name of the process actually is "corerun" at that point, so Process.ProcessName is correct even though it's not what you expect it to be.  It doesn't change to "ping" until after the execve call, and there's a race between reading the name and the process getting to the point where it calls execve.  The process ID is handed back by th

[2016-01-14 17:13] palladia commented on #5378
Great, thanks!

[2016-01-14 17:13] bjjones commented on #4475
I'm wondering if this has been revisited at all? I was able to reproduce the results posted above from @eerhardt, and I agree that there is no performance issue with the workload mentioned. I do believe however that the "Calgary Corpus" workload I mentioned is a more comprehensive scenario, and I am seeing a very concerning performance decrease. I would appreciate it if someone could take a look.

[2016-01-14 17:48] tzwlai opened #5422 "[Bug] Portable Class Library compilation gets broken when a target is _removed_"
Filing on behalf of @dsaf from https://github.com/dotnet/coreclr/issues/2651:

Steps to reproduce:

1) Create a new PCL project targeting .NET 4.5, Win 8 and SL 5 (Profile47)
2) Change ```Class1.cs``` to following code (notice it compiles):
[code]
3) Disable SL 5 target in project settings, notice a message *"The following will be automatically targeted because they support the same set of portabl

[2016-01-14 17:50] #5247 closed

[2016-01-14 17:51] #5416 closed

[2016-01-14 17:52] #5272 closed

[2016-01-14 18:05] weshaggard commented on #5422
@Pilchie This is a PCL VS experience issue. Essentially switching from old-style portable to new-style portable which does cause some APIs to be removed.

[2016-01-14 18:16] ianhays opened #5423 "[Performance] System.IO.Compression: Increase range of test scenarios"
As part of resolving https://github.com/dotnet/corefx/issues/4475 and https://github.com/dotnet/corefx/issues/3986 we should add more reusable test assets that cover scenarios other than random or semi-random files.

One option would be to look into including the Canterbury/Calgary corpus in the Compression.Testdata nuget package.

[2016-01-14 18:16] #3882 closed

[2016-01-14 18:16] #3908 closed

[2016-01-14 18:16] ianhays commented on #4475
I ran them again and tweaked some variables but didn't come to any dramatic conclusions that suggested a large difference.

The perf tests in place right now create random data to compress/decompress and do so with several degrees of sparseness/repeated values. It would be fairly simple to include the calgary/canterbury corpus files in the test data package that we pull from nuget and run the perf

[2016-01-14 18:21] ericstj commented on #5418
What project type are you using to build this?  For CSProj and VBproj MSBuild will automatically add the System.Runtime facade to the project.  The same is required for consuming any contract-based portable library in a desktop project.

[2016-01-14 19:06] Pilchie commented on #5422
Tag @ericstj - I believe the metapackage was set up to exclude some libraries deliberately.

[2016-01-14 19:09] Pilchie commented on #5422
Wait, I take that back - this is from mscorlib portable -> system runtime portable, not system runtime portable -> nuget portable.

@davkean says this is by design.  We had to keep `IConvertible` in mscorlib based portable due to dependencies from the VB compiler, but didn't carry it forward into system runtime.

[2016-01-14 19:19] joshfree opened #5424 "Enable the stack-protector compiler option for all corefx native code on Unix"
We need to make this change for corefx: https://github.com/dotnet/coreclr/pull/2616/files

[2016-01-14 19:24] koraytaylan commented on #4579
this fixed for which version?

I'm still having this for "System.Data.SqlClient": "4.0.0-beta-23516" with coreclr on osx.

[2016-01-14 19:34] stephentoub opened #5426 "Ensure error handling is properly checking the last error in Sockets"
See https://github.com/dotnet/corefx/pull/5419#issuecomment-171752102.

[2016-01-14 19:34] krwq commented on #3888
Hey @khdang, could you check if this is the same issue as https://github.com/dotnet/corefx/issues/5206 and close?

[2016-01-14 19:42] christiannagel commented on #5418
I'm using a Console Application (Package) - a .NET Core project with dnxcore50 and net46. The dnxcore50 compiles successfully, but net46 not.

[2016-01-14 19:47] weshaggard commented on #5422
FWIW we did add IConvertible to a later version of System.Runtime but that doesn't help this particular scenario.

@dsaf it is unfortunate but this is a result of some of the forking of the platforms where in some cases changing platforms can actually give you less APIs.

[2016-01-14 19:47] #5422 closed

[2016-01-14 19:47] khdang commented on #3888
Thanks @krwq This is the same issue as #5206. This is an issue on Desktop which is in discussion to have an appropriate resolution given it could introduce a breaking change. Once we have the right fix we will create an issue to port the fix to NetCore.

[2016-01-14 19:47] #3888 closed

[2016-01-14 19:54] christiannagel commented on #5418
See the ImmutableCollectionSample in this solution, project.json only has the dnxcore50 framework for this sample because it doesn't compile with dotnet46: https://github.com/ProfessionalCSharp/ProfessionalCSharp6/tree/master/SpecialCollections/SpecialCollections

[2016-01-14 19:59] ericstj commented on #5418
That's using DNX.  This issue should be filed in the DNX repo.

To work around the inconsistency you can add the following to your project.json:
[code]

The problem is that DNX doesn't correctly match the behavior of the desktop projects.  The MSBuild-based projects automatically reference everything in the facades directory of the targeting pack but DNX did not implement this behavior.

We cannot

[2016-01-14 19:59] #5418 closed

[2016-01-14 20:10] #5086 closed

[2016-01-14 20:19] christiannagel commented on #5418
Thanks! This is it!
Is DNX still the correct name for these project types when the DNX tools are replaced by the dotnet tools?
Thanks!

[2016-01-14 20:36] mellinoe commented on #1605
For mis-matched type sizes, we can do something like this, similar to what you mentioned above regarding extension methods

[code]

It would be a lot of overloads, but Intellisense would sort them pretty cleanly.

[2016-01-14 20:41] dsaf commented on #5422
@Pilchie

Is IConvertible being deprecated due to a better design or it's simply a matter of time until it gets propagated everywhere?

[2016-01-14 20:46] weshaggard commented on #5422
It is a matter of time before it gets to the newer versions. We have already added it in our latest version  of System.Runtime (https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L964).

[2016-01-14 20:50] dsaf commented on #5422
@weshaggard

Thank you, last question if you don't mind: is it a matter of few months or might be a Visual Studio vNext kind of thing?

[2016-01-14 20:58] grimhellion commented on #3889
Yes! Thanks @yuhong!

[2016-01-14 20:59] weshaggard commented on #5422
Actually I just tried this out locally and the the API does exist already in VS 2015 but you have to choose higher versions of platforms you are targeting. You will not be able target .NET 4.5 and Win8, but if you target .NET 4.6 and Windows Unversal 10, IConvertible is available. So it is already available in the newer versions of the targets. So depending on your scenario you may be good today.

[2016-01-14 21:03] ianhays commented on #4994
Zip bombs are only an issue when there is automatic recursion on unzipping as @JonHanna mentioned.

System.IO.Compression.ZipFile.ExtractToDirectory does not recursively unzip. Zips within zips are treated as files, not as directories.

repro:
[code]
where recursive_6.zip contains six layers of nested zip files. The resulting "unzipped" folder contains the first layer of zip files, still zipped.

[2016-01-14 21:04] dsaf commented on #5422
Ideally would like to target Windows Phone 8 until my Lumia 920 gets upgraded over the air :).

[2016-01-14 21:11] ericeil commented on #4628
Probably just an intermittent test issue; moving to RTM.

[2016-01-14 21:16] #5378 closed

[2016-01-14 21:27] stephentoub opened #5430 "DirectoryNotFoundException from TestGetProcessesByName in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_debug_tst_prtest/814/console
[code]

[2016-01-14 21:35] #4651 closed

[2016-01-14 21:37] ericstj commented on #5406
I'd like to persue the alternate solution here which would be to come up with a dotnet/netstandard implementation of these libraries.

[2016-01-14 21:41] stephentoub commented on #5246
Failed again here:
[code]

[2016-01-14 21:41] weshaggard commented on #5422
Sorry we cannot go back in time and add support for that on Windows Phone 8. :)

[2016-01-14 21:51] cshung commented on #3766
I can reliably repro the issue on my computer.

[2016-01-14 21:54] eerhardt opened #5432 "./init-tools.sh fails on OSX"
I am getting an error on OSX

[code]

We should be using curl instead, since it is installed by default and we already need libcurl to build the native components in corefx.

[2016-01-14 21:55] ellismg commented on #3766
@cshung Are you hitting the "System.IO.IOException: The supplied user buffer is not valid for the requested operation" error or something else?

[2016-01-14 21:55] CIPop commented on #5426
We need to move the Assert checks from Socket.cs to the PAL layer, immediately after the call to Marshal.GetLastWin32Error();

Example: https://github.com/dotnet/corefx/pull/5419/files#diff-a92dcc50fa7799a1b77b747a99c6222bR3282

[2016-01-14 21:57] CIPop commented on #5412
Duplicate of #5397.

[2016-01-14 21:57] #5412 closed

[2016-01-14 22:02] CIPop commented on #5411
Test timed out. This is indicative of CPU/mem/tcp pressure on the CI machine and since it's intermittent I'll tentatively mark it as a "test bug".

To confirm we'll requires a repro with ETW traces enabled either in the CI (we need #4152 for this) or in a private environment.

[2016-01-14 22:28] SidharthNabar commented on #4606
@shrutigarg @vijaykota - We discussed with @CIPop, @davidsh and @stephentoub , and we recommend not addressing #4317 before we can ensure that we are not breaking .NET Framework compat. For this issue (RC2 timeframe), we should re-enable all the tests, see which ones break due to #4317 and then only disable those specific ones.

[2016-01-14 22:38] krwq opened #5434 "Installing dotnet cli during the build shows Windows dialog (with files being copied)"
As in the subject

[2016-01-14 22:48] #5015 closed

[2016-01-14 22:54] CIPop commented on #5401
Duplicate of #5283.

[2016-01-14 22:54] #5401 closed

[2016-01-14 22:59] zhili1208 opened #5436 "TcpClient Has some issues on Mac with coreclr"
here is a test app: https://github.com/zhili1208/coreclrMacTcpTest

Server side just listens and print incoming string, client side just connect to server and send string.

On Mac, when I start client, it just hang or the string from server is null. only happens with coreclr 1.0.0-rc1-update1, works well on mono.

[2016-01-14 23:07] CIPop commented on #5234
The expected check-sum (0) is most likely invalid which could indicate a race condition or index mismatch within `SendToRecvFromAsync_Datagram_UDP`.
Tentatively setting the test-bug label.

[2016-01-14 23:10] CIPop commented on #5185
Similar to the UDP test: #5411

Test timed out. This is indicative of CPU/mem/tcp pressure on the CI machine and since it's intermittent I'll tentatively mark it as a "test bug".

To confirm we'll requires a repro with ETW traces enabled either in the CI (we need #4152 for this) or in a private environment.

[2016-01-14 23:14] #2400 closed

[2016-01-14 23:20] stephentoub commented on #4606
To clarify, the concern is that the exception being removed in that PR isn't causing problems on Windows, on either the full framework or on CoreCLR.  That it's now frequently failing on CoreCLR on Linux means that there's something notably different between Windows and Linux that should be investigated... this exception exists to protect against certain misuses, and removing it might be addressin

[2016-01-14 23:29] ianhays commented on #5159
Luckily it would be <i>fairly</i> easy to switch back to defaulting to synchronous FileStreams if we decide to go that route, but I'm not sure it's worth it just for the back-compat. Particularly since we'd want to maintain cross-compat by having Unix use the same default behavior.

Are there more downsides to using the overlapped FileStream as the default? The benefits of it are clear (async oper

[2016-01-14 23:33] ianhays commented on #3504
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/windows_nt_debug_prtest/1018/testReport/junit/System.Net.Sockets.Tests/DualMode/ReceiveFromAsyncV4BoundToAnyV4_Success/

System.TimeoutException : The operation has timed out.
+++++++++++++++++++
STACK TRACE:
at System.Net.Sockets.Tests.DualMode.ReceiveFromAsync_Helper(IPAddress listenOn, IPAddress connectTo) in d:\j\workspace\dotnet_corefx\windo

[2016-01-14 23:36] krwq opened #5439 "System.Diagnostics.Tests.ProcessThreadTests.TestStartTimeProperty failing"
Not sure if this is intermittent issue or consistent repro - will update whenever I hit this again.

Here is the stack:
[code]

OS: Win 10
note: machine I used for this build is pretty slow (no SSD)

Might be related:
https://github.com/dotnet/corefx/pull/2822
https://github.com/dotnet/corefx/issues/2613

[2016-01-14 23:37] krwq commented on #5439
Setting milestone to RC2 as it needs to be triaged and it might be a product bug

[2016-01-14 23:39] sepidehMS commented on #641
Fixed by https://github.com/dotnet/corefx/pull/5392

[2016-01-14 23:39] #641 closed

[2016-01-14 23:43] davidsh commented on #5436
cc: @stephentoub

[2016-01-14 23:47] sepidehMS commented on #642
Failing tests and spam messages resolved by https://github.com/dotnet/corefx/pull/5392

[2016-01-14 23:49] CIPop commented on #4968
Thanks for reporting this @Suning79. I'm able to repro this and it appears to be a bug.

[code]

I've verified that the following code doesn't throw on .Net Desktop:

[code]

[2016-01-14 23:52] CIPop commented on #4900
Thanks for opening this @clrjunkie! Will shortly add the back-link in code.
Unfortunately, while the external API supports synchronous completions, the implementation doesn't appear to do so even for .Net Desktop. Marking this as a feature.

[2016-01-14 23:58] CIPop commented on #4822
@GuardRex Any updates on this?

[2016-01-15 00:00] ericstj commented on #5159
The change was made because it improved perf on the common case: async is slightly faster and scale out is much better.  Using async with a synchronous handle will burn a thread for every concurrent IO, using many more threadpool threads and resources that folks would expect which is one of the main driving factors behind the switch.  Sync operations are slightly slower, though usually this is unn

[2016-01-15 00:06] CIPop commented on #5283
This is similar to #4467.

[2016-01-15 00:08] CIPop commented on #4431
Duplicate to #5185.

[2016-01-15 00:08] #4431 closed

[2016-01-15 00:10] CIPop commented on #4429
Assigned to David as he's working on finishing the WinHttpHandler implementation.

[2016-01-15 00:11] GuardRex commented on #4822
@CiPop I'm going to try again tonight with the latest packages and runtime and see if anything has changed. I'll get back to you tonight.