[2017-03-23 21:19] shmao opened #17447 "TypeScope.GetEnumeratorElementType Fails on Uapaot"
[`System.Xml.Serialization.TypeScope.GetEnumeratorElementType`](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Serialization/Types.cs#L1292) is failing on uapaot as it does reflection on IEnumerable types but the metadata info for IEnumerable was reduced by UWP toolchain. 5 XmlSerializer tests failed on uapaot due to the issue. Here's the output of one of the fa

[2017-03-23 21:24] ViktorHofer commented on #17433
You are right:
`B;	\uD802\uDDF2.---\u06A5\u07D2;	[P1 V6 V3 B1];	[P1 V6 V3 B1]`

[2017-03-23 21:29] ianhays commented on #13304
resolved in https://github.com/dotnet/corefx/pull/17240

[2017-03-23 21:29] #13304 closed

[2017-03-23 21:34] jterry75 opened #17449 "Language proposal for C# vNext (8?)"
I find myself always writing code like:

[code]

What if C# had an addition specifically for enum types to match as a language feature.
[code]

I can imagine that this has a few helpful optimizations. For 1 we only need to actually call `.State` once which means that we know the multiple calls are side-effect-free but for 2 we can actually infer the enum type exactly so we dont need its qualifiers

[2017-03-23 21:35] joperezr opened #17450 "System.Runtime PointerFieldGetValue test is failfasting in Assert.IsType"
tests [Sort_Array_Array_NonGeneric](https://github.com/dotnet/corefx/blob/15b4f51c2f3cb924840e5407bb8d5fe03bb282ea/src/System.Runtime/tests/System/ArrayTests.cs#L2909) and [PointerFieldGetValue](https://github.com/dotnet/corefx/blob/7f6ac8bf97a84666ed3e7ef6b77c1a9470ae78c8/src/System.Runtime/tests/System/Reflection/PointerTests.cs#L118) are crashing the uapaot test execution when throwing a Debug.

[2017-03-23 21:47] danmosemsft commented on #17449
@jterry75 thanks for the contribution. I'll move to what I think is the right repo
https://github.com/dotnet/roslyn

[2017-03-23 21:48] #17449 closed

[2017-03-23 21:48] danmosemsft commented on #17449
Issue moved to [dotnet/roslyn #18126](https://github.com/dotnet/roslyn/issues/18126) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-23 21:50] danmosemsft commented on #17390
should be fixed now 2ed6f721709ce51e927db19470974ade86444e1a

[2017-03-23 21:55] ianhays commented on #16913
I'm closing this as a duplicate of #16322.

cc: @karelz another binding-redirects related issue.

[2017-03-23 21:55] #16913 closed

[2017-03-23 21:55] tarekgh commented on #17433
@ViktorHofer I am not able to repro it either. could you please run the following 2 lines in a desktop console app on the same failing machine and let me know if you'll get exception or not?

[code]

[2017-03-23 21:59] geoffkizer commented on #13778
Do we know if freebsd/MacOS actually supports this?  I'm just speculating, but it seems possible that freebsd just happily succeeds any zero-byte read, even when no data is available.

[2017-03-23 22:00] ViktorHofer commented on #17433
With netfx46 console application it works as expected. Console prints "xn--tq9c"

[2017-03-23 22:02] terrajobst opened #17452 "API for retrieving the target framework of the current runtime"
Today, we've the following APIs that return version numbers:

[code]

Neither of them deal with concepts that the developer is familiar with when building the application, specifically the target framework names and version numbers (e.g. `net45` and `netcoreapp11`).

Our original design goal of `RuntimeInformation` was to provide developers with the diagnostic means to discover which .NET platform

[2017-03-23 22:03] shiftylogic commented on #16492
I've made a tweak to these tests to have the 2 large allocation tests run serially to each other. I made an initial PR (#17441) that moved them to the inner loop and ran the CI system a few times.

There was also some changes made in the clear implementation a bit ago that may have also resolved these issues.

We will monitor the outerloop builds and see if the issue returns (disabling the tests i

[2017-03-23 22:04] ericstj commented on #17430
It means 3 in the context of our runtime packages.

In general it means 1.  Consider that its perfectly valid to do something like have an asset for unix-x64 and osx-x64.  Similar to the way its perfectly valid to have a an asset for netstandard1.0 and an asset for net45.

[2017-03-23 22:05] weshaggard commented on #17452
We have AppContext.TargetFrameworkName which is supposed to be this. It is just a matter of getting it setup correctly on all the platforms.

[2017-03-23 22:06] shiftylogic commented on #16593
I'm re-enabling these tests for Windows and OSX and leaving them disabled for Linux (PR #17441). This exact issue is likely caused by a low memory scenario combined with Linux's deferred allocations. In low memory scenarios on other platforms, we either get the page file or instance OOM that is caught by the exception handler.

I also added logic so that the test will not run on 32-bit systems sin

[2017-03-23 22:13] ianhays commented on #12539
@JeremyKuhne any updates on your testing?

[2017-03-23 22:18] shiftylogic commented on #16593
FYI, we (currently) decided against using a memory mapped file to back this allocation. Given that we will be writing data to the entire buffer twice (x2 per run of the tests), writing to a file would be both very slow and also not good for the SSD drives used by the test machines.

[2017-03-23 22:21] jcouv commented on #17225
FYI @VSadov

[2017-03-23 22:21] jcouv opened #17453 "Teach the dynamic binder about tuple conversions"
(Originally reported as part of https://github.com/dotnet/roslyn/issues/17851)

**Version Used**:

Microsoft Visual Studio Community 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01586

**Steps to Reproduce**:

Compile and run:

[code]

**Expected Behavior**: Program prints "(0, 0)". The target type (long, long) for the tuple literal (0, 0) is known at compile time, so t

[2017-03-23 22:23] pcgeek86 opened #17454 "Question: Calling Mac OS X Native APIs from .NET Core"
Hello,

I'd like to call Mac OS X native APIs from .NET Core. More specifically, I'm interested in calling the [IOPowerSource()](https://developer.apple.com/reference/iokit/iopowersources.h) API to get the battery charging status on a MacBook Pro running Mac OS X Sierra.

http://stackoverflow.com/questions/5751132/mac-get-battery-charging-status-plugged-in-or-not

**Edit**: The question is: How do

[2017-03-23 22:23] JeremyKuhne commented on #12539
I'm not testing anything new, I was just stating what this test was addressing.

[2017-03-23 22:25] ViktorHofer commented on #17433
Yeah I will take it. Should I create a new Textfile like for Win7?

[2017-03-23 22:30] safern commented on #17443
Closing as this is already tracked in this issue: https://github.com/dotnet/corefx/issues/3364 and in this PR marked as netfx-port-consider: https://github.com/dotnet/corefx/pull/5839

[2017-03-23 22:30] #17443 closed

[2017-03-23 22:38] tarekgh commented on #17433
under the folder

https://github.com/dotnet/corefx/tree/master/src/System.Globalization.Extensions/tests/IdnMapping/Data

create a new sub-folder and name it Unicode_9_0 and then copy the contents of the folder Unicode_6_0 to the new folder then override the files IdnaTest_6.txt and ReadMe.txt from http://www.unicode.org/Public/idna/9.0.0/

then you rename the file Unicode_6_0_IdnaTest.cs to Unico

[2017-03-23 22:43] ViktorHofer commented on #17433
Thanks @tarekgh. Wouldn't it make more sense - also performance wise - to not test the Unicode version by catching but by checking the windows version?

[2017-03-23 22:46] tarekgh commented on #16185
@delahermosa sorry for the delay. we'll get back to you soon.

[2017-03-23 22:50] ianhays commented on #12539
Gotcha. Unassigning you then.

[2017-03-23 23:11] tarekgh commented on #17433
That will be perfect when we ship. currently I am expecting some RS2 builds have the update and some are not. this is why I am conservative checking the OS version now. but if you feel strong about it we can give it a try and look what we'll get.

[2017-03-23 23:21] corivera opened #17458 "Modify TdsParserStateObject.Cancel() to not rely on Owner field"
CC @saurabh500

[2017-03-23 23:23] corivera opened #17459 "Add remaining SqlDataAdapter APIs to contract"
CC @saurabh500

[2017-03-23 23:27] ViktorHofer commented on #17433
@tarekgh Perfect, yeah let's try. I will start with that by tomorrow, just one more question: If I need some more infos from the Windows team, especially when it comes to the versions, who should I contact?

[2017-03-23 23:29] Trolldemorted commented on #17317
I can confirm this is happening, same stacktrace:

[code]
Is there a workaround for this, or will we have to wait for a new release of System.Net.WebSockets.Client?

[2017-03-23 23:33] akoeplinger commented on #17452
It's not out of band on Mono/Xamarin.

[2017-03-23 23:39] terrajobst commented on #17452
That's very unfortunate.

[2017-03-23 23:41] terrajobst commented on #17452
Yes, but it ships in mscorlib in .NET Framework. Thus, we cannot add new properties representing new frameworks out-of-band, which defeats the purpose for runtime light-up.

[2017-03-23 23:41] terrajobst commented on #17452
I believe we have enough information to discuss it next time we look over the backlog.

[2017-03-23 23:44] tarekgh commented on #17433
you can just use the same idea as we do in

https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/PlatformDetection.cs#L26

just get Windows version from your machine and try to use it.

[2017-03-24 00:20] davidsh commented on #17317
I don't think there is a workaround.  The exception is happening in internal code and is leaking which crashes the process.

[2017-03-24 00:22] danmosemsft opened #17462 "UWP: System.Net.HttpListener"
Move UAP to use the 100% managed HttpListener implementation in corefx\src\System.Net.HttpListener\src\System\Net\Managed as Unix does rather than the Windows one.

This should eliminate calls to the API's below and they can come out of the pinvoke baseline.
[code]

@Priya91 correct me if this is not the plan.

[2017-03-24 00:37] Trolldemorted commented on #17317
Are dirty hacks like catching every unhandled exception within the app and ignoring it impossible?

And out of curiosity, why is this only happening on UWP?

[2017-03-24 00:48] davidsh commented on #17317
Unlikely to help.  The exception is leaking out of internal code on a threadpool thread.  It will crash the process.  It might be possible for your app to install a special "unhandled exception" handler.  But I'm not really familiar with that.

The UWP version of System.Net.WebSockets.Client is different from non-UWP.  It uses different source code in the implementation (very different).  Currentl

[2017-03-24 00:54] Trolldemorted commented on #17317
Damn.

I suppose it will continue to use WinRT WebSockets until .netstandard2.0 is coming? Can you estimate when a fix for this will be available? Unfortunately System.Net.WebSockets.Client is the only option in .netstandard libraries, leading to every uwp app that uses a netstandard library that uses websockets being killed if a server closes a websocket connection.

[2017-03-24 00:57] davidsh commented on #17317
cc: @karelz

I have no estimate at this time. Any short-term fix would have to done via the release/servicing branches (such as release/1.1.0 etc.) and then a new updated System.Net.WebSockets.Client nuget package generated (tested and marked as stable).

We will hopefully post an update on schedule expectations within the next week or so.

[2017-03-24 01:03] karelz commented on #15395
Can you please prioritize it - it is one of the riskier ones ... and it might take time to chase down actionable info.

[2017-03-24 01:09] karelz commented on #17412
Next steps: We need [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

@iSazonov do you plan to tackle it?

[2017-03-24 01:13] karelz commented on #17430
@mellinoe I am not sure - @Petermarcu @gkhanna79 is Alpine officially supported in 2.0? (can't find the support matrix email)

[2017-03-24 01:22] #16316 closed

[2017-03-24 01:28] danmosemsft commented on #16510
Right but if the test catches that wouldn't it also catch these
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs#L543
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.Windows.cs#L518

[2017-03-24 01:46] stephentoub commented on #13778
That may very well be the problem. In which case that's the underlying issue for which it'd be great to find a solution :)

[2017-03-24 01:53] danmosemsft opened #17464 "Some exceptions thrown with unlocalized strings"
Almost all our resource strings are for exceptions and it looks like about 99% of our exceptions are indeed thrown with localized strings. About 68 aren't:

examples
[code]
[code]

(hits in the CoreFX product sources for `throw new .*Exception\("[^ "]+ .*"`)

[2017-03-24 01:53] danmosemsft commented on #17464
This is "future" as we don't currently localize.

[2017-03-24 02:22] Jiayili1 commented on #17420
Failed again on build [20170324.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170324.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestBasePriorityOnUnix)

[2017-03-24 02:40] geoffkizer commented on #13778
It would be easy to determine if that is the underlying issue -- the assert about IsCompleted would fire.  Unfortunately the previous test run results no longer seem to be available.

[2017-03-24 02:41] geoffkizer commented on #17462
Is this the plan?  My understanding is that managed HttpListener does not provide 100% feature parity.

[2017-03-24 02:48] Jiayili1 commented on #15018
This issue is repro on build [20170324.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170324.01/workItem/System.Net.Ping.Functional.Tests/analysis/xunit/System.Net.NetworkInformation.Tests.PingTest~2FSendPingAsyncWithHost)

[2017-03-24 03:05] Jiayili1 commented on #16945
Failed again on build [20170324.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170324.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendToRecvFrom_Datagram_UDP(loopbackAddress:%20::1))

[2017-03-24 03:06] Jiayili1 commented on #17421
Failed again on build [20170324.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170324.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.UdpClientTest~2FCtor_IPEndPoint_CanSend)

[2017-03-24 03:26] dotnet-mc-bot opened #17468 "Test failure: System.Security.Cryptography.EcDsa.Tests.ECDsaImportExportTests/TestExplicitCurves(curveDef: CurveDef { Curve = System.Security.Cryptography.ECCurve, CurveType = Characteristic2, IncludePrivat..."
Opened on behalf of @Jiayili1

The test `System.Security.Cryptography.EcDsa.Tests.ECDsaImportExportTests/TestExplicitCurves(curveDef: CurveDef { Curve = System.Security.Cryptography.ECCurve, CurveType = Characteristic2, IncludePrivat...` has failed.

Interop+Crypto+OpenSslCryptographicException : error:0D06407A:asn1 encoding routines:a2d_ASN1_OBJECT:first num too large

        Stack Trace:

[2017-03-24 03:38] hughbe commented on #16721
I don't have these files on my computer. `SHGetKnownFolderPath ` is returning empty. This is a test bug that's specific to me. I think it's easiest to just close this one

[2017-03-24 03:38] #16721 closed

[2017-03-24 03:40] danmosemsft commented on #17462
@davidsh @CIPop @stephentoub @karelz also. There was a thread on this last year -- need to determine whether to make whitelist requests

[2017-03-24 04:01] iSazonov commented on #17412
I suppose we would like to have this fix before RTM as it blocks PowerShell Core 6.0 RTM.
I'm not a full time so I can't control "API proposal". Maybe PowerShell team will take it
/cc @PaulHigin @joeyaiello

[2017-03-24 04:03] danmosemsft opened #17470 "Minimize WinRT specific IO codepaths"
Tracking work to remove all unnecessary WinRT specific codepaths, so as far as possible we share code with the non-UWP Windows implementations.

[2017-03-24 04:09] Petermarcu commented on #17430
We need to fix the rid graph, independent of whether Microsoft officially supports Alpine in 2.0, I want to make sure we're still providing builds for the community that get hooked up correctly.

[2017-03-24 05:27] #17026 closed

[2017-03-24 05:54] Jiayili1 commented on #17422
Failed again on build [20170324.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170324.01/workItem/System.Security.Cryptography.X509Certificates.Tests/analysis/xunit/System.Security.Cryptography.X509Certificates.Tests.X509StoreMutableTests_OSX~2FAddPublicAfterPrivate)

[2017-03-24 06:18] Jiayili1 commented on #17373
Failed again on windows 10, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/lastCompletedBuild/testReport/System.Data.SqlClient.Tests/ExceptionTest/NamedPipeTest_dataSource____np______________pipe____sqlbad____query___/

[2017-03-24 07:59] asperheim commented on #17434
@stephentoub of course, will get back to you when this is done.

[2017-03-24 09:47] tmds commented on #16201
Unfortunately this is not the root cause. While building packages, I found out the rhel 7.29 package has a backport of the fix already :(

We've built a version of curl 7.29 which will output on conditions returning CURLE_SSL_CACERT_BADFILE.
You can download it at:
https://drive.google.com/file/d/0BxjFv_21wKp_NUFzUXhWeW5kUkE/view?usp=sharing
https://drive.google.com/file/d/0BxjFv_21wKp_NEZiS1lRaE4

[2017-03-24 11:41] StingyJack commented on #9788
Thanks, I took all my hacks out and added the PackageTargetFallback and it didn't fail the New Scaffolding Item wizard, but it doesnt look like it puts things in the right places (controller was at the root of the project).

Maybe its supposed to do that normally? (I really don't know because the few times I could use Asp.net mvc over the last 5+ years have all pretty much been abandoned at about

[2017-03-24 12:04] stephentoub commented on #17462
It's also hard to know exactly where we are on parity, as we have extremely low test coverage right now, unfortunately.

[2017-03-24 14:58] karelz commented on #16201
I am hesitant to start changing CI machines OS until we fully understand what we are doing. It would change our OS versions test coverage - we need to think that through.
I assume we are able to reproduce the problem (after stressing a set of tests on a machine). Let's verify it in such environment first.

[2017-03-24 15:04] karelz commented on #17412
I am not aware of PowerShell Core 6.0 schedule. If this is critical for its success, we need PowerShell team to drive the API here ASAP. The window for .NET Core 2.0 is getting smaller, we are slowly entering the end game. We can still take high-quality contributions (incl. API additions), but .NET Core team is heavily focusing on stabilization at this moment.
@PaulHigin @joeyaiello can you please

[2017-03-24 15:07] #13967 closed

[2017-03-24 15:42] PaulHigin commented on #17412
I'll let @joeyaiello and @SteveL-MSFT discuss PowerShell Core 6.0 schedule in detail but in the near term we are trying to align PowerShell Core 6.0-beta with .Net Core 2.0 beta.

This is a blocking issue for SSH based PowerShell remoting because it prevents Ctrl+C (https://github.com/PowerShell/PowerShell/issues/2321) from working in an interactive remote session.  The reason is that the SSH chil

[2017-03-24 15:44] karelz commented on #17438
We do not track non-.NET Core bugs in CoreFX GitHub. Hence closing the issue.
If you need the bug fixed in Desktop, please contact Microsoft support.

Alternative: If you identified the PR which fixed it in CoreFX, link it here and I can mark it as netfx-port-consider -- that way we will consider it for porting once we get to porting bug fixes from .NET Core / CoreFX to Desktop. However, note that

[2017-03-24 15:50] karelz commented on #17454
Did you try to use just PInvokes?
Here's example of Mac specific PInvokes in our code: https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/OSX/System.Security.Cryptography.Native.Apple/Interop.Ecc.cs

[2017-03-24 16:00] PaulHigin commented on #17410
@bartonjs /cc @SteveL-MSFT
This is old PowerShell remoting code that I am not yet very familiar with.  It is used for a key exchange needed for PSCredential (based on SecureString) passing.  The only code comment about why Windows native APIs are used is that .Net did not support (at that time) ephemeral key generation.

Since .Net does support ephemeral keys (as you describe above) then AFAIK the

[2017-03-24 16:01] stephentoub commented on #12217
@CIPop, thanks for looking into this and sharing results.  Are you sure this is measuring what you think it's measuring?

The test you shared is calling this Run method in the body of a Parallel.For:
[code]
That's not actually scheduling any tasks or even accessing the thread pool at all: a call to Run will complete synchronously after allocating 7,000 task objects.

So effectively each iteration

[2017-03-24 16:03] #17305 closed

[2017-03-24 16:05] stephentoub commented on #17438
This code is the same in core as it is in desktop.  If it's a bug in desktop, it's almost certainly a bug in core as well.
https://referencesource.microsoft.com/#System/services/io/system/io/FileSystemWatcher.cs,519
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs#L269

[2017-03-24 16:15] #17454 closed

[2017-03-24 16:27] karelz commented on #17412
Given that this is highly specific API and given the tight timelines, I think it would be best if PowerShell uses PInvokes in 6.0 on both Windows and Linux. Once you have implementation which works for your needs, we can think about adding it into .NET Core as general API on Process.
Will that work?

[2017-03-24 16:30] karelz commented on #17438
@bthomp2420 why did you think it is not a problem in CoreFX? A mistake or something we overlooked?

[2017-03-24 16:31] PaulHigin commented on #17412
For Windows it is Ok since it is already there, but for Linux it means re-producing all of the code now in .Net for creating Linux processes just to add this one flag.  It would be infinitely easier to simply update existing .Net code.

[2017-03-24 16:39] karelz commented on #17412
OK, in that case please create [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - it has to take into account future cross-platform usage of the API (flags should not be Windows-centric).

Let's see if it can get through, or not. Note: No guarantees on the result - we won't push APIs into the platform, unless we are convinced they

[2017-03-24 16:40] karelz commented on #17410
Sounds like we can close this issue.

[2017-03-24 16:40] #17410 closed

[2017-03-24 16:42] karelz commented on #17412
cc @Priya91 @stephentoub if they have deeper insight into the involved `Process` APIs here.

[2017-03-24 16:45] shmao commented on #16768
#16693 was fixed. We should reactivate the test.

[2017-03-24 16:48] shmao commented on #16644
This is done. A few issues have been addressed to unblock the build of the test. Here's a couple,

https://github.com/dotnet/corefx/issues/16692
https://github.com/dotnet/corefx/issues/16772

[2017-03-24 16:48] #16644 closed

[2017-03-24 16:50] AdamSpeight2008 opened #17478 "Code Guidelines for VB.net contributions."
The current coding guidelines are C-centric, with no or very little guideline for VB.net contributions, for projects within the .NET Foundation that use the language within their project. Thus lack of clear guidelines has and will cause friction between different opinions on stylistic aspects of the code / contribution, rather that the functional / semantic behavior of the code.

I'm working on im

[2017-03-24 16:53] shmao opened #17479 "Area-Serialization Sprint 116"
The issue is for tracking issues to be done in sprint 116 (due by 4/14/2017).

[2017-03-24 16:54] joperezr opened #17480 "ILC fails when trying to compile an array of pointers"
PR #17446 added an ifdef that removes some tests in System.Runtime given that ILC would fail when trying to compile, by saying that Array of pointers type is not supported. This needs to be fixed externally. This issue is so that we track the remaining work on our side of uncommenting those tests for uapaot once ILC is fixed.

cc: @jkotas @morganbr

[2017-03-24 16:57] walkerduhon commented on #16185
@delahermosa Can you tell us more about what you are seeing?  The expected behavior depends on how InkPresenter.InputDeviceTypes is set, what type of input is occurring, and what UIElement you are expecting to receive the Pointer events and how it relates in the XAML tree to the InkCanvas.

[2017-03-24 17:04] svick commented on #17478
Out of curiosity, what .Net Foundation projects use VB, apart from the VB portion of Roslyn?

[2017-03-24 17:09] shmao commented on #10675
The basic tests had been merged in corefx. We will open new bugs for more features.

[2017-03-24 17:09] #10675 closed

[2017-03-24 17:12] joperezr commented on #15486
Oh sorry about that, you are right.

[2017-03-24 17:13] CIPop commented on #11874
I see what you mean: I misunderstood the RFC.
Still, since there is no way to support the extensions, what good would it be to read the requested extensions that will always be ignored? Also, it cannot be an "Extensions" property as that could be interpreted as extensions that have been negotiated (and so it should always be empty). We would need to add two properties: "RequestedExtensions" and "N

[2017-03-24 17:19] shmao commented on #16699
The prototype is done. We will checkin the code into corefx. The location and name are being discussed offline.

[2017-03-24 17:19] #16699 closed

[2017-03-24 17:20] AdamSpeight2008 commented on #17478
We should not have bias to the ,net language used within projects, and welcome them into the .net foundation family of contributors. Should such a project be warmed by the foundation.

[2017-03-24 17:21] shmao commented on #16698
All WCF tests using XmlSerializerFormatAttribute passed with @huanwu 's prototype.

[2017-03-24 17:21] #16698 closed

[2017-03-24 17:33] mellinoe commented on #17260
I've gotten this working in my [2.0-toolset branch](https://github.com/mellinoe/corefx/tree/2.0-toolset) ([buildtools](https://github.com/mellinoe/buildtools/tree/2.0-toolset)). I'll need to clean it up quite a bit; it's just proof-of-concept right now.

[2017-03-24 17:35] CIPop commented on #17390
Thanks @danmosemsft !

[2017-03-24 17:44] shmao commented on #17160
This was fixed by @joperezr. Closing the issue.

[2017-03-24 17:44] #17160 closed

[2017-03-24 17:46] CIPop commented on #12217
Thanks @stephentoub!

Not really as I have not investigated this in depth. Together with Eric, we made the simplest assumption based on the fact that the code was using Tasks/ThreadPool and the issue was accentuated on a high CPU-count machine.

One more thing to try would be to run a perf test for the GC alone (no threads or tasks) and compare with .Net Framework. I would assume that the differen

[2017-03-24 17:47] PaulHigin opened #17481 "Request for new API: System.Diagnostics.Process.CreationFlags"
This is a request for a new CreationFlags property that is identical to creation flags in Windows native API CreateProcess().  This needs to work appropriately for Windows and Linux platforms but should work identically for the CREATE_NEW_PROCESS_GROUP flag since process groups are similar between the two platforms.

Proposed API
---------------
CreationFlags property is of type CreationFlags that

[2017-03-24 17:48] PaulHigin commented on #17481
/cc @karelz @SteveL-MSFT

[2017-03-24 17:48] mellinoe commented on #15395
I'll try again to get a repro for this today.

[2017-03-24 17:49] karelz commented on #16185
@walkerduhon is there a better place to move the question/discussion? (forums, other bug db, etc.)

[2017-03-24 17:50] karelz commented on #15395
Great, thanks!

[2017-03-24 17:50] CIPop commented on #17462
@danmosemsft, @geoffkizer  We did make requests and the answer was no.
If we look for feature parity with .Net Framework, that cannot be achieved with the current plan (e.g. HTTP2.0). If we look for parity with Mono, it should be very close to 100%.

[2017-03-24 17:51] karelz commented on #17481
Please post it as reply in the original issue #17412 - no point in having 2 dupes tracking the same thing.

[2017-03-24 17:51] #17481 closed

[2017-03-24 17:52] karelz commented on #17412
Here's proposal from @PaulHigin (from #17481 dupe)

This is a request for a new CreationFlags property that is identical to creation flags in Windows native API CreateProcess().  This needs to work appropriately for Windows and Linux platforms but should work identically for the CREATE_NEW_PROCESS_GROUP flag since process groups are similar between the two platforms.

Proposed API
---------------

[2017-03-24 17:52] shmao opened #17482 "XmlSerializer to Support XmlMembersMapping via Reflection"
#10675 add a few basic tests for XmlSerializer supporting XmlMembersMapping via Reflection. The issue here is for tracking the complete support of this feature.

[2017-03-24 17:56] JonHanna commented on #17478
@svick there's a few VB bits here in corefx too, though not much.

[2017-03-24 18:12] stephentoub commented on #12217
I believe I found the simple one-line root cause for this specific repro.  Will submit a fix.

[2017-03-24 18:12] karelz commented on #17412
I think that new APIs should be either designed in a cross-platform way (as I mentioned above), or exposed only for specific OS (e.g. Unix file permissions, etc.).

@PaulHigin your proposal is mix of both - it exposes Windows API shape, yet asks for cross-platform implementation. We did that in the past for APIs which existed prior to .NET Core and prior to .NET cross-platform efforts. However, it

[2017-03-24 18:14] danmosemsft commented on #10935
Per the discussions in
https://github.com/dotnet/corefx/pull/17471#pullrequestreview-28900471
https://github.com/dotnet/corefx/pull/17471#pullrequestreview-28900773
https://github.com/dotnet/corefx/pull/17471#discussion_r107900563
some of these could be impolemented.

`public static IsolatedStorageFile GetStore(IsolatedStorageScope scope, Type domainEvidenceType, Type assemblyEvidenceType)` has se

[2017-03-24 18:16] crone66 opened #17483 "Xml Serialization code vs documentation"
Hello,

I want to use xml serialization to share (load and save) structs between a .net Core and .net Framework application but the XmlSerializer is unavailable in .net Core.

According to the .net core API reference the XmlSerializer is implemented, what I'm missing? Is the documentation out of date or what I've to do in .net Core to use the XmlSerializer?

Version: .Net Core 1.1/.Net Standard 1.

[2017-03-24 18:40] shmao opened #17486 "System.TypeLoadException: 'Could not resolve type 'System.AppContext'"
I was trying to build serialization tests in CoreFx against uapaot. Sg.exe failed to resolve System.AppContext, which caused error when building the tests. Here's the error message,

[code]

Is `System.AppContext` not available on uapaot?

[2017-03-24 18:41] shmao commented on #17486
/cc: @AlexGhiondea

[2017-03-24 18:42] shmao commented on #16768
The original issue, #16693, was gone. But the test is still failing the build. The current error is,

[code]

Opened https://github.com/dotnet/corefx/issues/17486 for tracking the new error. Moving this issue to sprint 116.

[2017-03-24 18:53] svick commented on #17452
Are all those `CurrentIs*OrHigher` methods necessary? What about having a method like `CurrentIsSpecifiedOrHigher()` (possibly with a better name), so that instead of:

[code]

you would write:

[code]

[2017-03-24 18:58] stephentoub opened #17487 "macOS builds failing with non-null compiler error"
e.g. https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug_prtest/557/
[code]

[2017-03-24 19:00] akoeplinger commented on #17452
Would we return `true` for the NetXX cases in Mono? I guess not since that'd probably defeat the purpose. Do we need IsMonoXX then? What about all the Xamarin frameworks?

It doesn't sound very convincing to me.

[2017-03-24 19:03] svick commented on #17483
[`XmlSerializer`](https://apisof.net/catalog/System.Xml.Serialization.XmlSerializer) is in the `System.Xml.XmlSerializer` package. You will need to reference that package from your project to use it.

[2017-03-24 19:04] #17382 closed

[2017-03-24 19:20] ahsonkhan commented on #17078
Code Coverage

**SlowSpan:**
![image](https://cloud.githubusercontent.com/assets/6527137/24310184/2364ae58-108c-11e7-90b7-a99073acc14a.png)

**FastSpan:**
![image](https://cloud.githubusercontent.com/assets/6527137/24310198/34eacb6c-108c-11e7-900e-8800199783dd.png)

[2017-03-24 19:21] saurabh500 commented on #17166
Fixed with https://github.com/dotnet/corefx/pull/17402

[2017-03-24 19:21] #17166 closed

[2017-03-24 19:23] baal2000 commented on #10040
@davidsh
FYI:
    We could not reproduce the deadlock in a test environment. We could not provide with the dump file either, as it contains production data.
     As a workaround, we refactored our code to reduce Task nesting and avoid sharing of cancellation tokens between nested tasks (with HttpClient.PostAsync being the inner-most Task).
     The workaround has not yet been tested in production.

[2017-03-24 19:27] baal2000 commented on #10040
On a side note:

@davidsh

Take another look at the infinite loop in CancellationTokenSource.WaitForCallbackToComplete(), please. The logic assumes a callback is fast in the best case scenario and never blocks indefinitely in the worst case.  That is proven to be an incorrect assumption, even without being able to reproduce.
Making the code to timeout or being able to detect the deadlock some othe

[2017-03-24 19:34] #14588 closed

[2017-03-24 19:38] #12217 closed

[2017-03-24 19:53] saurabh500 commented on #12887
Fixed with https://github.com/dotnet/corefx/pull/16884

[2017-03-24 19:53] #12887 closed

[2017-03-24 19:58] #12855 closed

[2017-03-24 20:12] Priya91 commented on #17412
Currently we support only create_no_window and create_unicode_environment creation (set default) flags from windows. The Create no window is exposed as property on StartInfo.

So I guess the create_new_process_group will be added as another property to startinfo. We might not support the entire creation flags enum from win32.

[2017-03-24 20:14] saurabh500 commented on #8498
@tstringer @avanderhoorn Do we still need this issue? The related https://github.com/dotnet/corefx/issues/8511 was closed. However i don't understand if the timestamp in Diagnostics is solved or not

[2017-03-24 20:17] Priya91 commented on #17462
Currently https requests are not supported from managed Httplistener, since we don't have a way to get the certs for Unix. Tracked with #14691. This is the missing feature from Mono.

On UWP, we can leverage the windows cert store, and incorporate this to managed listener.

[2017-03-24 20:19] sepidehMS opened #17490 "System.IO.Path.GetInvalidPathChars() returns different result than Desktop"
When running the following test using SharpZipLib NuGet package, I realized `GetInvalidPathChars()` returns a smaller set of characters compared to Desktop. Was this change of behavior intentional?

[code]

`wnt.TransformFile("c\\/>")` returns `"c\>"` on .NET Core 2.0.

[2017-03-24 20:20] saurabh500 commented on #14638
@karelz Can you help involve the owners of the System.Net for this issue?
This seems to be coming from SqlClient's usage of `UDPClient.ReceiveAsync()`
Also the analysis from @cahlbin points to UdpClient

[2017-03-24 20:23] saurabh500 commented on #6423
We have ported the ToF tests to the open. However they run with a server and have to be executed manually.
Since we have no way of securing these servers, we haven't enabled the test automation in the CI

[2017-03-24 20:23] #6423 closed

[2017-03-24 20:26] crone66 commented on #17483
Thanks, didn't checked for packages. Its my first real .net Core project and it wasn't that clear in the documentation that most parts of the framework are not included and have to be added manually.

It would be great to add some kind of note to every not included namespace in the API reference. It is quite confusing for .net core newbies like me 😃

In addition it would be great if the intellisen

[2017-03-24 20:29] JeremyKuhne commented on #10935
I'm going to say this is roughly a week- the existing code will have to be refactored somewhat to enable some of these methods. (Allowing for context switching back to this code, investigating legacy behavior and writing tests.)

[2017-03-24 20:30] mellinoe commented on #15395
I was able to get a few repros by running all of the System.Runtime.Numerics tests in parallel for several thousand iterations. All of the input data was different for the failures, and the same input data does not produce failures on subsequent attempts. I've created a test case which uses a set of input data which caused a failure and it is not causing failures when run in parallel by itself.

S

[2017-03-24 20:41] ahsonkhan commented on #17078
**System.Private.Corelib Code Coverage (for Span):**
![image](https://cloud.githubusercontent.com/assets/6527137/24312806/831fccbe-1097-11e7-903e-af77748dddd7.png)
![image](https://cloud.githubusercontent.com/assets/6527137/24312819/9634dc2c-1097-11e7-90cb-5af3f19f5d22.png)

[2017-03-24 20:47] vancem commented on #8498
As mentioned in #8511 the meta-data issue has been solved with System.Diagnostics.Activity (#15103), this is because you can attach meta-data to the activity, and access it from within the DiagnosticSource.Write() callback.   It also addresses the timestamp issue because Activities have the notion of a start and stop time.

However this existence of this type does not make it light up.  For that t

[2017-03-24 20:48] karelz commented on #15395
@mellinoe do you plan to investigate it further?
We can ask stress-gurus to look at the dumps or repro otherwise ...

[2017-03-24 20:50] danmosemsft commented on #15395
May be time to bring in code gen folks. I imagine they have some approaches they use eg enable some test flags

[2017-03-24 20:52] karelz commented on #14638
Changing the area label is sufficient - owners will get notification form my tool.
You can CC owners directly if you want - see [owners list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas).

[2017-03-24 20:53] karelz commented on #14638
@geoffkizer @davidsh @CIPop @Priya91 any thoughts?

[2017-03-24 20:55] danmosemsft commented on #17462
If we had this missing feature, would we consider moving regular Windows over to the managed implementation? or are there more deficiencies/ performance compromises?

[2017-03-24 20:56] steveharter commented on #17177
I believe I found the issue; working on fix and tests

The native unix code is calling gethostbyname_r:
[code]
which may return 0 (success) when the hostname is not found (Ubuntu 16.04). The above switch statement assumes 0 means everything was OK and hostname was found. This causes the returned 'entry' pointer to reference random data, causing the seg fault later when it assumes the random data i

[2017-03-24 20:58] CIPop commented on #11224
While we have brought ServicePointManager and HttpWebRequest for platform parity, it doesn't support most of the functionality in .Net Core as the underlying stack resolves to either WinHTTP or Curl which do not expose the advanced control knobs.

Using ServicePointManager to control HttpClient is actually a side-effect on using HttpWebRequest and the managed HTTP stack on .Net Framework. Since Wi

[2017-03-24 21:01] stephentoub opened #17492 "NullReferenceException from DiagnosticListener in HttpClient"
I get the following when I register an EventListener and use HttpClient:
[code]
cc: @vancem, @lmolkova

[2017-03-24 21:04] Priya91 commented on #16510
Right, we can probably check for this particular case by parsing the exception string or some other way to pinpoint this error..

[2017-03-24 21:06] weshaggard opened #17494 "Strong name signing not working for Open key projects"
Today if any project is rewritten, via GenFacades for example, we invalidate the fully signed binary that has the Open Key and thus it isn't correctly signed.

Things like netstandard.dll shim has the same issue where we aren't fully signing it and our signing service doesn't currently support the open key.

[2017-03-24 21:09] karelz commented on #17177
Nice catch! Thanks @steveharter for tracking it down.
I wonder why it started failing just 9 days ago ... is it a new code?

[2017-03-24 21:10] stephentoub commented on #17177
Do we know why the failure is non-deterministic?

[2017-03-24 21:11] #16539 closed

[2017-03-24 21:11] danmosemsft commented on #17490
This was changed in https://github.com/dotnet/corefx/pull/8669
related https://github.com/dotnet/coreclr/pull/3942

So I think it's interntional.

fyi @JeremyKuhne .. this broke a test, not an actual library so I guess we're OK with it.

[2017-03-24 21:11] #17490 closed

[2017-03-24 21:15] CIPop commented on #14638
@saurabh500 from the description it appears that SqlClient internals are using a disposed UdpClient. In that case, the exception would be by design from the Sockets stand-point. (See https://msdn.microsoft.com/en-us/library/system.net.sockets.udpclient.receiveasync(v=vs.110).aspx#Anchor_1 - ObjectDisposedException is one of the documented exceptions thrown by ReceiveAsync)

[2017-03-24 21:16] bartonjs commented on #17487
I don't suppose we have any idea why it started failing out of the blue?  That code hasn't changed in a while (and just built clean on my mac)

[2017-03-24 21:18] lmolkova commented on #17492
I'll have a look

[2017-03-24 21:18] mellinoe opened #17495 "runtime.depproj should warn if CoreCLRFiles is empty"
https://github.com/dotnet/corefx/blob/master/external/runtime/runtime.depproj#L57

We should consider giving a warning if `$(CoreCLRFiles)` ends up being empty even if the user passed in `$(CoreCLROverridePath)`, or if the path provided doesn't exist.

@ahsonkhan had a typo when he ran the build and didn't realize that nothing was being copied out, because the target just got skipped.

[2017-03-24 21:19] stephentoub commented on #17487
I think it might be an issue on only a subset of the machines; it's failing inconsistently, which is strange for a compilation error.  Maybe one or more of the machines has a different tool set?

[2017-03-24 21:19] karelz commented on #14638
Moving back to SqlClient then - @saurabh500 can you check SqlClient code please?

[2017-03-24 21:30] Priya91 commented on #17462
We don't have the perf numbers to compare, but @stephentoub had already found areas where perf could be better. But we haven't invested in Httplistener, since it's considered legacy and only for compat purposes. So, there's no motivation in moving core windows implementation to managed. For UWP as well, I think this is just for compat purposes, and recommended APIs would be in asp.net. @CIPop @dav

[2017-03-24 21:36] saurabh500 commented on #14638
Thanks. Please send it our way

[2017-03-24 21:39] Deren-Liao opened #17496 "ASP.NET core AppContext.BaseDirectory is not the real "base" in development environment"
I have a config file as sibling with web.config.
When deployed, AppContext.BaseDirectory  get me the right path to the file.
When debugging it within Visual Studio, then it takes me to the bin\ folder .
I am not able to debug it within VS if I use the API.

[2017-03-24 21:44] Priya91 commented on #17175
This still requires a well thought out API for this functionality. I just merely pointed out the lack of feature in .NET. The integrity levels were added in Windows Vista, and .NET hasn't adopted it as far as i looked at the code.

[2017-03-24 21:49] niklaskarl opened #17497 "Add TempFileCollection or something similar"
I always liked the idea behind the [TempFileCollection](https://msdn.microsoft.com/en-us/library/system.codedom.compiler.tempfilecollection(v=vs.110).aspx) class. It tackles some common problems, often faced when working with temporary files:

- Simple management of multiple temporary files belonging together
- Reliable creation of temporary files with specific extensions
- Easy release (deletion)

[2017-03-24 21:55] Priya91 commented on #17420
This test requires elevation and as far as i know, this test should be skipped in helix run. @dotnet/dnceng did this change recently?

cc @MattGal

[2017-03-24 22:03] mellinoe commented on #15395
I've looked at things a bit more, and I think I'm going to reverse what I said before about the shared static field: it is a problem. That public static field isn't being read anywhere other than the divrem tests, but it is written to in at least one other case: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/tests/BigInteger/Driver.cs#L180.

That is in a different test cl

[2017-03-24 22:04] mellinoe commented on #15395
By the way, that test case I linked to is an outer loop test. It looks like we've only seen this issue in outer loop runs, so that matches up with what I'm suspecting.

[2017-03-24 22:05] svick commented on #17483
It's not just newbies, that information is useful for everyone who does not remember every single package (which I assume is everyone 😄). Which is why I proposed that this information should be added to the API reference: https://github.com/dotnet/docs/issues/320.

It should be able to do that, [if you enable the option](https://www.hanselman.com/blog/VisualStudio2017CanAutomaticallyRecommendNuGet

[2017-03-24 22:08] stephentoub commented on #17497
https://github.com/dotnet/corefx/blob/e11d6ed334725a8332ef81df195a5c35d48eb967/src/Common/src/System/IO/TempFileCollection.cs

[2017-03-24 22:10] vancem commented on #17492
public IDisposable Subscribe(IObserver<KeyValuePair<string, object>> observer)
        {
            return SubscribeInternal(observer, null, **null**);
        }

This is what is causing it.   we are passing null as 'isenabled' and call the delegate here

        public virtual IDisposable Subscribe(IObserver<KeyValuePair<string, object>> observer, Predicate<string> isEnabled)
        {

[2017-03-24 22:19] CIPop commented on #12962
Tests need to be added to both HTTP and SslStream (changed the area to something more general).

[2017-03-24 22:19] steveharter commented on #17177
I need to look at the history. However, crash dumps normally don't show up well (missing test
data, not Assert failures) so it's not easy to determine when.

I believe it occurs when there is an issue host name resolution as Priya found in #10734

FWIW here's my POSIX repro (verified similar test will seg fault with our code)
[code]

[2017-03-24 22:23] CIPop commented on #17439
Thanks for reporting @ViktorHofer. Feel free to submit a PR changing the test and updating the comment.
WiFi Direct is relatively new and I doubt we've ran the tests when the interface was up. We're discovering a new variation of the possible Win32 API responses that was not captured in a test before.

[2017-03-24 22:28] mellinoe opened #17499 "Helper type in BigInteger tests has shared public static state"
Related to https://github.com/dotnet/corefx/issues/15395.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Numerics/tests/BigInteger/MyBigInt.cs#L12

Because of this shared state, it is not safe to run tests which access the field in parallel. To my knowledge, there are only two tests which do this: the [divrem tests](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.

[2017-03-24 22:34] mellinoe commented on #15395
https://github.com/dotnet/corefx/issues/17501 will fix this.

[2017-03-24 22:38] danmosemsft commented on #17126
Hit this omission when trying to convert the desktop build of https://github.com/StackExchange/Dapper (one of the top 100 nuget libraries);

`M:System.Data.SqlClient.SqlParameter.set_UdtTypeName(System.String)`

[2017-03-24 22:41] lmolkova commented on #17492
#17502 should fix the problem

[2017-03-24 22:49] morganbr commented on #17480
@MichalStrehovsky is working toward some of this support.

[2017-03-24 22:54] Priya91 commented on #16716
Verified with native app, on OS X, i get -1 from setsockopt when using 0 for so_sndbuf option.

[code]

gives,

[code]

[2017-03-24 23:00] saurabh500 commented on #17126
@danmosemsft Does this report only show the missing methods of existing types common to Core and Desktop ? I dont see a few types which are missing like `SqlCommandBuilder`

[2017-03-24 23:09] #16492 closed

[2017-03-24 23:09] #16593 closed

[2017-03-24 23:23] #14978 closed

[2017-03-24 23:23] corivera commented on #14978
https://github.com/dotnet/corefx/pull/15494 was checked in on Feb 10

[2017-03-24 23:24] #15331 closed

[2017-03-24 23:24] mellinoe commented on #7543
Here's another similar issue (different test case):

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/5166/consoleFull#-18813617262d31e50d-1517-49fc-92b3-2ca637122019

Test case is  `ManagedTests.DynamicCSharp.Conformance.dynamic.context.method.genmethod.regclass.regclass018.regclass018.Test.DynamicCSharpRunTest`

[2017-03-24 23:26] mellinoe commented on #17187
Another repro: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/591/consoleFull#18173352579fe3b83-f408-404c-b9e7-9207d232e5fc

[2017-03-24 23:31] corivera commented on #15143
Checked in: https://github.com/dotnet/corefx/commit/c4a3d52801672a0c1b71910a4d675edacc807c84

[2017-03-24 23:31] #15143 closed

[2017-03-24 23:34] karelz commented on #17497
Closing as it already exists. Please let me know if I missed some angle which is not covered.

[2017-03-24 23:34] #17497 closed

[2017-03-24 23:38] Priya91 commented on #17412
@PaulHigin I've updated the top comment in the issue with the information on the required API. Does this satisfy your scenario?

[2017-03-24 23:38] CIPop commented on #8673
There are instances (HTTP Load Balancers, Proxies) where 100-continue is not going to be properly handled and so the usage is discouraged.
I am contacting WinHTTP regarding this scenario.

@vadimline please add more specific details about the remote service, API involved and, if possible, sample code.

[2017-03-24 23:46] dhoehna commented on #15554
Thank you

[2017-03-24 23:46] #17078 closed

[2017-03-24 23:47] karelz commented on #17496
Are you using .NET Core? There are no config files in .NET Core AFAIK.
If you use "Desktop" .NET Framework, then this is not the right place to ask -- use Microsoft support in such case, or various Forums/StackOverflow are sometimes helpful.

[2017-03-24 23:51] geoffkizer commented on #13778
Per @Priya91, this is in fact failing on the IsCompleted assert.

Need to think about how to fix this.

[2017-03-24 23:56] tiagosomda commented on #9788
@aunoum - your suggestion solved it for me!

<PropertyGroup> <TargetFramework>netcoreapp1.1</TargetFramework> <PackageTargetFallback>$(PackageTargetFallback);dotnet5.6;portable-net45+win8</PackageTargetFallback> </PropertyGroup>@aunoum

Your suggestion solved it for me!

`The result should look like this:
<PropertyGroup> <TargetFramework>netcoreapp1.1</TargetFramework> <PackageTargetFallback>$(Pac

[2017-03-24 23:57] dhoehna commented on #15554
@danmosemsft That does not work.  I set MinValueString to something less than max, than set MinValueString to something greater than the max value.  An error is thrown on line 27 because TImeSpan can't parse the value.

I'm doing all this through code.  I haven't put the attribute on a property and than tried to manipulate the property.  I'll look up how to use the attribute.

[2017-03-25 00:02] #15395 closed

[2017-03-25 00:02] #17495 closed

[2017-03-25 00:08] CIPop commented on #9184
@karelz, @danmosemsft @weshaggard I noticed that the `[Serializable]` attributes have not been ported to Standard.

What is the current recommendation for serialization in .Net Core? What changes would be needed to allow serialization of `CookieContainer` (Serializable in .Net Framework)?

[2017-03-25 00:11] danmosemsft commented on #15554
What I suggested was: set MaxValueString to something less than TimeSpan.MaxValue, then you can set MinValueString to something greater than MaxValueString (but less than TimeSpan.MaxValue)

[2017-03-25 00:12] danmosemsft commented on #9184
Current recommendation is: where something was binary serializable in full framework, we want it to be binary serializable in Core. There are a few cases where we didn't eg it was too expensive and couldn't be simply ported from full framework.

[2017-03-25 00:14] danmosemsft commented on #9184
We don't put those on the ref assemblies (except by accident) as they're not part of the API signature. I see CookieCollection implementation has [Serializable]: https://github.com/dotnet/corefx/blob/master/src/System.Net.Primitives/src/System/Net/CookieCollection.cs#L16 but perhaps it doesn't work. If that's the case we're missing a test for it and really should fix that.

[2017-03-25 00:23] karelz commented on #17478
@AdamSpeight2008 where are the Foundation-wide coding styles? Are they in CoreFX repo?
Where are they linked from Foundation-wide?

[2017-03-25 00:28] CIPop commented on #9184
Wasn't aware of this and I see that the impl has the attribute so it may already work.

I agree. @karelz, @davidsh we may want to consider this test gap for 2.0.

(Removed HTTP: The type is in S.N.Primitives.)

The work required here is to add a serialization/deserialization test for `CookieContainer` in `SerializationTest.cs`.

[2017-03-25 00:39] bartonjs commented on #17487
dci-mac-build-052 - failed
dci-mac-build-051 - failed
dci-mac-build-043 - succeeded

@ellismg says that he had similar build failures on his mac when it was running 10.11.  I wonder if the two that are failing are somehow now upgraded.

[2017-03-25 00:45] karelz commented on #17483
@crone66 please upvote the docs issue, so that the right folks know about the feedback (cc @mairaw)

Regarding your other suggestion, it seems to be answered by @svick above.

There doesn't seem to be anything actionable for CoreFX repo left in the issue, so closing. Please let me know if I missed anything.

[2017-03-25 00:45] #17483 closed

[2017-03-25 00:54] karelz commented on #16716
Do we plan to compensate for it in CoreFX? Or are we fine with exposing OS behavior?

If it is the former, we need a product change and then re-enable the test.
If it is the latter, we should add Mac specific test, testing the exception.

Currently #17506 just disables the test on Mac and marks this issue as 'fixed'.

[2017-03-25 01:15] corivera commented on #16994
@stephentoub are you familiar with this System.Runtime.InteropServices.OSPlatform.get_Windows() issue on Linux?

[2017-03-25 01:21] #14486 closed

[2017-03-25 02:07] #17235 closed

[2017-03-25 02:20] jkotas commented on #17486
cc @DnlHarvey

[2017-03-25 02:21] ahsonkhan commented on #17093
@karelz @KrzysztofCwalina, close this issue?

[2017-03-25 02:49] karelz commented on #17093
Your call. I don't follow details which parts of `Span<T>` is in CoreFX and which is still in CoreFXLab

[2017-03-25 02:54] karelz commented on #9184
We do not use the netstandard2.0 label anymore. If we believe it is must-have for 2.0, let's use milestone. Otherwise Future.

[2017-03-25 02:59] geoffkizer commented on #13778
I think the right way to fix this is to special-case zero-length receive and check DataAvailable instead.  If DataAvailable is 0, we need to enqueue the op as usual, and then check DataAvailable again.

There are some cases where we might be able to know in advance that data is available; e.g. we've received an epoll notification and haven't done a receive in the mean time.  It's not clear to me i

[2017-03-25 03:06] ahsonkhan commented on #17093
This isn't about repos. The issue is invalid for `Span<T>`. @svick, consider opening an issue for `Memory<T>`

[2017-03-25 03:06] #17093 closed

[2017-03-25 03:28] karelz commented on #17093
OK, I didn't get that part from a quick skim. Either way, if you think it is invalid, close it. If you're unsure, consult your area co-owners (@KrzysztofCwalina @shiftylogic).

I can help with general community discussions (incl. the controversial ones), escalations and general guidance on bugs & API process, triage rules, docs routing, etc. I won't scale to become expert on every area though ;-)

[2017-03-25 05:59] marksmeltzer commented on #17301
Taking your suggestion, I made the following script:
[code]
I have the project include both files and treat them as content. That way they end up in the rights spots so that I can call the script from the publish directory.

And the `Copy-CoreFx-Exclude.txt` file looks like this:
[code]

I found that the app bombs out if I copy that DLL. Also, I get this really odd result when running the script w

[2017-03-25 06:03] marksmeltzer commented on #17316
@brianrob Let me know if you've got what you need. Otherwise, I can follow @vancem's advice and post just the relevant stacktraces in unencrypted zips here.

[2017-03-25 06:59] karelz commented on #17316
@marksmeltzer if you can, please send unencrypted data - it is much easier to deal with and Brian can save the time figuring out how to use the tools you pointed him to (he mentioned it on Thu).
Unencrypted data, like high-quality bug reports, are easier to reason about and deal with and typically lead to faster response ;-).

[2017-03-25 07:15] marksmeltzer commented on #17316
Understood. Here are the stack trace files:

- [AspenCLI.NET.4.6.2-Samples-0.View1.perfView.xml.zip](https://github.com/dotnet/corefx/files/869813/AspenCLI.NET.4.6.2-Samples-0.View1.perfView.xml.zip)
- [AspenCLI.NET.4.6.2-Samples-10.View1.perfView.xml.zip](https://github.com/dotnet/corefx/files/869810/AspenCLI.NET.4.6.2-Samples-10.View1.perfView.xml.zip)

- [AspenCLI.CoreFx.1.1-Samples-0.View1.per

[2017-03-25 07:35] marksmeltzer commented on #17316
Here are some additional views in case they are helpful:

- [AspenCLI.NET.4.6.2-Samples-0.AnyTaskTree.perfView.xml.zip](https://github.com/dotnet/corefx/files/869829/AspenCLI.NET.4.6.2-Samples-0.AnyTaskTree.perfView.xml.zip)
- [AspenCLI.NET.4.6.2-Samples-0.AnyStacks.perfView.xml.zip](https://github.com/dotnet/corefx/files/869830/AspenCLI.NET.4.6.2-Samples-0.AnyStacks.perfView.xml.zip)

- [AspenCLI

[2017-03-25 09:45] po80053 commented on #14638
الحصول على Outlook for Android

On Fri, Mar 24, 2017 at 11:21 PM +0300, "Saurabh Singh" <notifications@github.com> wrote:

@karelz Can you help involve the owners of the System.Net for this issue?

This seems to be coming from SqlClient's usage of UDPClient.ReceiveAsync()

Also the analysis from @cahlbin points to UdpClient

—
You are receiving this because you are subscribed to this thread.
Reply

[2017-03-25 10:36] vanillajonathan commented on #11874
Oh, I didn't consider that two properties would be needed, I thought it was just one, and in that case it would be nice to know that the client requested a extension even if you're not able to fulfill it.

[2017-03-25 10:59] vadimline commented on #8673
@CIPop Sure
Azure Cloud Service API (Service Management), the problem occur when I'm trying to publish cloud service, so I'm doint POST request that contains all information for cloud service.
Since my last post I found out that you can send not just empty request to same API mut any request, for instance I'm doing GET request to get cloud info and then I'm doint POST request to publish service.

[2017-03-25 11:06] stephentoub commented on #16994
The Windows property does not throw a PlatformNotSupportedException in the code, regardless of OS:
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/OSPlatform.cs#L15
The only way I believe that could happen is if the build of the System.Runtime.InteropServices.RuntimeInformation.dll that was use

[2017-03-25 13:52] stephentoub commented on #17174
https://github.com/curl/curl/issues/1354

[2017-03-25 14:22] stephentoub commented on #17487
They're not... uname -r shows Darwin kernel version 15.6.0, which is El Capitan rather than Sierra. @mmitche, can you help fixing this?

[2017-03-25 14:48] ViktorHofer commented on #17439
As for now, I will go the route modifying the allowed speed to -1 as described above. For future references we might consider changing the tests as the api surface grows.

[2017-03-25 14:52] Deren-Liao commented on #17496
Yes, ASP.NET CORE as title said.  I think you referred to dot net configuration manager.    Config file does not necessary be a .NET supported config file.

[2017-03-25 14:54] #5200 closed

[2017-03-25 15:43] AdamSpeight2008 commented on #17478
@karelz  Of those I've seen use the CoreFX coding guideline as the basis of them.

[2017-03-25 15:45] davidfowl commented on #17496
Yes this is accurate. The application base can only be changed by the native host and there is no ASP.NET net specific native host. ASP.NET uses the `IHostingEnvironment.ContentRoot` for configuration files. You *can* always mark your configuration files as `CopyToOutput="true"` in your project file to get them in the right location at build time.

[2017-03-25 16:02] #17439 closed

[2017-03-25 16:09] Hawkeyes0 commented on #17324
thanks for reply.
@stephentoub , i'v try the program, and it failed with "Protocol not supported".
@karelz , yes, this is not CoreFX problem.

I'll find other solutions.
thanks again.

[2017-03-25 17:47] MichalStrehovsky commented on #17232
This would be an API that should be used in `Microsoft.CSharp` as well (in [isSpecialByRefType](https://github.com/dotnet/corefx/blob/f38d75c8a10309b34213e5d4a96313f538194392/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/Semantics/Types/Type.cs#L613)). The current implementation of that seems to have been hollowed out when `TypedReference` and friends weren't in the .NET Core profile. It

[2017-03-25 17:57] MichalStrehovsky commented on #17480
I can look into enabling it on the CoreRT compiler and fixing up CoreLib (basically, go over all the places where we could end up doing `RhBox` on an element of an array without checking what it is), but someone will need to go fix up NUTC (or binder?) to do the right thing in terms of interfaces implemented by these types. It won't help UWP otherwise.

[2017-03-25 18:07] stephentoub opened #17518 "Two MathF Tan tests failing on some Unix distros"
Failing on at least Ubuntu 16.04, Ubuntu 16.10, Fedora 23, and Fedora 24.  Passing on Ubuntu 14.04, CentOS 7.1, and some others.
[code]
cc: @tannergooding, @mellinoe

[2017-03-25 18:39] karelz commented on #17439
Thanks for fixing it @ViktorHofer!

[2017-03-25 18:48] karelz commented on #17496
This sounds like ASP.NET Core question/problem, not CoreFX. Is that accurate?

If yes, can we close it here? Potentially move it into another repo? ... (sorry if it sounds stupid, I still didn't quite get what the question is about and where it belongs in the end-to-end)

[2017-03-25 18:55] tannergooding commented on #17518
It might actually be worth just removing this test. It isn't an edge case specified by the IEEE spec but it is an edge case at (essentially) the upper bound of the allowed input ranges.

I only added it because it is the inverse of `Atan(double.PositiveInfinity)`. However, since floating-point numbers are imprecise, `Math.Tan(π / 2)` returns a large number, rather than `double.PositiveInfinity`.

[2017-03-25 18:59] parismiguel commented on #11100
Hi @karelz , I've been researching and working two nights in a row so far but I'm not able to fix this. All my System.Net.Http packages have been updated to version 4.3.1 but still get the same error. Please help me, I don't know what else to try or where to go. Thanks!

FileNotFoundException: Could not load file or assembly 'System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f

[2017-03-25 19:00] karelz commented on #17478
Is it just the most popular coding guideline, or is there official link from some Foundation-wide repo/doc?
Can you post link to the C# code guidelines in CoreFX repo (to make sure we are talking about the same thing) and where it is linked from Foundation-wide?

IMO the key value of coding guidelines is to set common rules in a repo for day-to-day development. Given that we have [only 27 vb files

[2017-03-25 19:05] karelz commented on #11100
@parismiguel sorry to hear that :(. Do you have bindingRedirects from 4.0.0.0 to 4.1.1.0 in your app?
[code]

We're looking into how to make the bindingRedirects story smoother: https://github.com/dotnet/corefx/issues/9846#issuecomment-287941109

[2017-03-25 19:14] parismiguel commented on #11100
@karelz that was fast, thank you very much! I've saw the bindingRedirects stuff in previous posts but I'm not sure where to place it... I've tried inside my .csproj but I've got errors (attached as .txt) Concerning version 4.1.1.0 I'm not sure to follow... Am I not supposed to upgrade it to 4.3.1 ?

[IbmVcaCore.csproj.txt](https://github.com/dotnet/corefx/files/870287/IbmVcaCore.csproj.txt)

[2017-03-25 19:22] davidsh commented on #11100
Binding redirects go into your app.config or web.config file:

[2017-03-25 19:23] davidsh commented on #11100
See this for details:
https://msdn.microsoft.com/en-us/library/7wd6ex19(v=vs.110).aspx

[2017-03-25 19:29] parismiguel commented on #11100
Hi @davidsh , thank you for your help!
My project doesn't have any of those files... its a NET Core project build using Visul Studio 2017 template... what am I missing?

![image 1](https://cloud.githubusercontent.com/assets/8812746/24325459/636d954c-1167-11e7-9613-325e8426c304.jpg)

[2017-03-25 19:32] karelz commented on #11100
Also the 4.3.1 vs. 4.1.1 - 4.3.1 is NuGet package version, 4.1.1.0 is assembly version (ildasm/ILSpy/VS will show it to you).
The versions NuGet vs. assembly are a bit confusing and it's hard to connect which belongs to which. It's on my list of things to look deeper into if we can connect the dots via documentation (e.g. on NuGet page).

[2017-03-25 19:33] karelz commented on #11100
If you're on .NET Core, you don't need the bindingRedirects and moreover, this issue does NOT affect you at all. This issue is specific to Desktop (= .NET Framework).
The 4.3.1 NuGet package modified only its Desktop assembly, not .NET Core assembly.

[2017-03-25 19:36] karelz commented on #11100
If you still have trouble, please file a new bug and tag me there. This issue is blasted to quite a lot folks (as it was impactfull), your problem is unrelated to it (at least it looks like that), so let's be kind to everyone's GH notifications / inboxes.

[2017-03-25 19:43] karelz opened #17522 "Broken System.Net.Http 4.1.1-4.3.0 post-mortem"
Issue #11100 caused a lot of problems for a long time. The overall road towards solution (fix in a new NuGet package [4.3.1](https://www.nuget.org/packages/System.Net.Http/4.3.1)) was less than ideal.
Let's track the post-mortem here (as initiated in https://github.com/dotnet/corefx/issues/11100#issuecomment-281827797):

High-level plan to cover:
1. How did the issue slip through into release?

[2017-03-25 19:45] karelz commented on #11100
**To everyone**: I have created a new issue #17522 to track the post-mortem I promised.
Sadly, I didn't make much progress towards it yet :( ... but at least everyone interested can start following that issue and avoid potential noise on this issue (trying to help people focus on what they are interested in).

[2017-03-25 19:47] parismiguel commented on #11100
@karelz thanks, I'll follow your instructions and post on your brand new issue tracker. Regards.

[2017-03-25 19:49] parismiguel commented on #17522
Hi @karelz , I've been researching and working two nights in a row so far but I'm not able to fix this. All my System.Net.Http packages have been updated to version 4.3.1 but still get the same error.

My project is a NET Core project build using Visual Studio 2017 template

Please help me, I don't know what else to try or where to go. Thanks!

FileNotFoundException: Could not load file or assembl

[2017-03-25 19:50] karelz commented on #11100
@parismiguel not on the new issue **I** created, please create a brand new one. The one I created is for post-mortem analysis why this issue took so long to resolve.

[2017-03-25 19:52] parismiguel opened #17523 "Could not load file or assembly 'System.Net.Http in ASP NET CORE"
Hi @karelz , I've been researching and working two nights in a row so far but I'm not able to fix this. All my System.Net.Http packages have been updated to version 4.3.1 but still get the same error.

My project is a NET Core project build using Visual Studio 2017 template

Please help me, I don't know what else to try or where to go. Thanks!

FileNotFoundException: Could not load file or assembl

[2017-03-25 19:52] karelz commented on #17522
@parismiguel please read the issue text above and my reply here: https://github.com/dotnet/corefx/issues/11100#issuecomment-289235185

I will delete both our replies on this issue. I don't want to mud it with unrelated discussions.

[2017-03-25 19:53] karelz commented on #17522
Thanks @parismiguel!

[2017-03-25 19:56] parismiguel commented on #11100
thank you @karelz and my sincere apologies for messing this topic.... hope to get some help in the new one as instructed. Warm regards,

[2017-03-25 19:57] karelz commented on #17523
Thanks for moving it here from #11100!

Did you check if the assembly is part of your application? Is it the right assembly version?
That's my best bet that it is what's going on with your .NET Core app.

Other options: Try to downgrade to NuGet package 4.3.0. Does that work?

[2017-03-25 20:21] mkosieradzki opened #17524 "Consider using an alternative implementation for the Stream.CopyToAsync in some scenarios"
I have created an alternative CopyToAsync implementation which behaves way better than the default one if source stream serves the data in small chunks and the destination stream write has non-zero latency.

It **might** be useful in some scenarios, but I am not sure. Leaving it here - for details in the original context please see:
aspnet/Proxy#57

[2017-03-25 21:31] stephentoub commented on #17518
Would it make sense to keep the tests but allow some range of outputs rather than a specific output?

[2017-03-25 21:40] tannergooding commented on #17518
Yes, we could. The current output is only off in the 8th significant digit, and values should ideally be accurate to within 6-9 digits.

[2017-03-25 21:41] karelz commented on #17523
You should check out the content in your application folder -- where the binaries live. Not VS project (which I think you're doing based on your screenshot).
Run: `C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools\ildasm.exe YouAppPath\System.Net.Http.dll`
In the buttom part of the window you will see something like:
[code]
What does the version say?

[2017-03-25 21:53] parismiguel commented on #17523
OK... I've achieved to run the program provided but I'm not sure what the path is... Visual Studio installation path, Windows System path or my project path? I've looked at my project's path but i can't find any file named System.Net.Http.dll

[2017-03-25 21:55] parismiguel commented on #17523
I've found this: C:\Windows\Microsoft.NET\Framework\v4.0.30319\System.Net.Http.dll

.assembly System.Net.Http
{
  .ver 4:0:0:0
}

[2017-03-25 22:09] karelz commented on #17523
NuGet has to put it into your application path. Check there. If it is not there, something is horribly broken.
Try a new app, HelloWorld. Check it there to find out if it is one project problem or machine/installation problem.

The one you found is part of Desktop .NET Framework. Nothing from there should be loaded into your process. Check it via ProcessExplorer tool on your running app.

[2017-03-25 22:14] mmitche commented on #17487
@ilyas1974 Did some of the machine accidentally not get reimaged with the correct image?

I'll take some of these offline for now

[2017-03-25 22:15] stephentoub commented on #17487
Thanks, @mmitche.

[2017-03-25 22:19] mmitche commented on #17487
@ilyas1974 51-55 didn't get reimaged.  Rest list 10.12.3

[2017-03-25 22:24] Clockwork-Muse commented on #9257
I can get performance tests to run locally!

From `corefxRoot/src/<System.Whatever>/tests/Performance` call:
`msbuild /t:clean,build,test /p:ConfigurationGroup=Release /p:TargetOS=Windows_NT /p:Performance=true`
(from an admin VS2017 dev command prompt, at least)

It ends by claiming the tests failed with `corefx\Tools/Microsoft.BenchView.JSONFormat\tools\
  measurement.py': [Errno 2] No such file

[2017-03-25 22:27] Clockwork-Muse commented on #16258
I can get them to run, now it's just the instructions that are out-of-date.
See #9257

[2017-03-25 22:27] #16258 closed

[2017-03-25 22:31] parismiguel commented on #17523
Well, I've created a brand new project using VS 2017 and ASP NET Web Core with authentication.... no traces of System.Net.Http at all... I'm suspicious about VS 2017... really tempted to go back to VS 2015...

![image 4](https://cloud.githubusercontent.com/assets/8812746/24326640/adf71e12-1180-11e7-95b0-18231b7d7c94.jpg)
![image 5](https://cloud.githubusercontent.com/assets/8812746/24326639/adf6ed

[2017-03-25 22:36] karelz commented on #17523
Which template did you use? The one for .NET Core or the one for .NET Framework (Desktop)?
I don't see the System.Net.Http NuGet in your screenshot, so maybe that's why it is not there ...

[2017-03-25 22:40] Clockwork-Muse commented on #10567
Tests still require OS name, but instructions are out of date generally, see #9257

[2017-03-25 22:43] parismiguel commented on #17523
The web one...
I've also tried to install the system.net.http library using nuget but I'm not able to see any file using windows explorer under my project's root folder.

![image 6](https://cloud.githubusercontent.com/assets/8812746/24326699/15368a6c-1182-11e7-822d-5da7eedb86f3.jpg)

![image 7](https://cloud.githubusercontent.com/assets/8812746/24326713/796d985e-1182-11e7-80b2-e3c5dba774e6.jpg)

[2017-03-25 22:49] WinCPP commented on #14486
@ahsonkhan @jkotas I have created above two PRs for the comment update...

[2017-03-25 22:52] karelz commented on #17523
I just tried that, chose "Web Application" in the wizard. Added this line int About.cshtml:
[code]
And I get the right answer:
System.Net.Http.HttpClient, System.Net.Http, Version=**4.1.1.0**, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a

[2017-03-25 22:55] karelz commented on #17523
BTW: I didn't see the Entity Framework NuGet references. Did you try new vanilla web project?

[2017-03-25 22:59] parismiguel commented on #17523
Wish I could try for myself but I've decided to install vs 2015 update 3, for that reason, i'm n ot able right now to open my ide. I assume that, if everything is ok in your side then, my ide either is corrupted or it's just something of vs 2017.  About the HelloWorld project, it was all defaults: web core, single auth and nothing else... i see your point, if I chose authentication, them entity fr

[2017-03-25 23:03] karelz commented on #17524
Do you have any perf measurements for your vs. current implementation?
What about impact on other scenarios?

cc @stephentoub @benaadams

[2017-03-25 23:05] karelz commented on #17523
Just for the record: All my experiments were in VS 2017.

[2017-03-25 23:05] stephentoub commented on #17524
Similar to https://github.com/dotnet/corefx/issues/13322

[2017-03-25 23:09] parismiguel commented on #17523
sorry... it was my despair and frustration moving forward before thinking anymore....anyways, i've also had problems syncing my projects to github and visual studio online among other changes in vs 2017... better go back with my old friend vs 2015. As soon the installation is finished, i'll do it all over again and let you know any outcome.... thank you for your outstanding support!

[2017-03-25 23:09] karelz commented on #17524
Closing as dupe of #13322. If there are new findings or data, feel free to reopen.

[2017-03-25 23:09] #17524 closed

[2017-03-25 23:09] AdamSpeight2008 commented on #17478
CoreFx [Coding Guidelines](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md)

[2017-03-25 23:15] karelz commented on #17524
cc @JeremyKuhne @ianhays for awareness (area notifications didn't get chance to send the issue to them)

[2017-03-25 23:16] karelz commented on #17478
Thanks! Do you have a link(s) which make it .NET Foundation "standard coding guideline"?

[2017-03-25 23:23] karelz commented on #17523
Sure thing.

BTW: My experience with VS upgrades in last few years is that they get better than previous version. It is **extremely rare** that basic scenarios regress or don't work (I could believe it maybe on the first day of the release, but not after ~3 weeks - you would find plenty blog posts and release notes on that).
Anyway, if my scenarios break, I always question if setup was successful

[2017-03-25 23:42] parismiguel commented on #17523
You're right... it will be just a brief time to get all my current projects running as before. Once they are finished, i'll upgrade again... it's just that i'm 2 days without sleep and i'm not getting any progress.  Warm regards,

[2017-03-25 23:47] ViktorHofer commented on #17433
Finished implementation of "test adapter" for Unicode 9. Problematic is that a lot of tests fail and it seems this "by design" on Windows... I would like to check with the Windows team if their implementation is "stable" on the current version I'm using (15063) as I already spent several hours to finding a cause.

For v6 a lot of entries in the test file are commented out as they are not working o

[2017-03-25 23:56] mkosieradzki commented on #17524
@karelz No perf measurements at the moment for other scenarios. In this scenario for which I have written this the performance gain is huge, but I don't believe it will be really that common scenario.

@stephentoub It's not exactly the same, but some of the issues apply to this one as well. And I definitely agree with those concerns. Especially that it introduces concurrent read and write in some

[2017-03-25 23:59] karelz commented on #17523
I know that feeling, ... hope it gets worked around soon for you ...

[2017-03-26 00:29] JonHanna commented on #17232
@MichalStrehovsky  From taking a look at a disassembly of the version in the GAC it seems that that version is implementing `isSpecialByRefType` by checking against a few specified names, which aren't names the corefx version knows about. Making use of the API proposed here would likely be better than any attempt to just restore the old logic.

[2017-03-26 01:59] #17499 closed

[2017-03-26 02:06] Deren-Liao commented on #17496
Maybe it is more an ASP.NET core problem.  You can close it.

On Sat, Mar 25, 2017 at 11:49 AM, Karel Zikmund <notifications@github.com>
wrote:

[2017-03-26 02:08] karelz commented on #17496
Thanks for confirmation.

[2017-03-26 02:08] #17496 closed

[2017-03-26 08:44] JamesNK opened #17528 "System.Runtime.Serialization.Formatters for NETStandard.Library 1.6.0"
Why is there no System.Runtime.Serialization.Formatters package that depends on the packages from NETStandard.Library.1.6.0? There is only a version that is 4.3.0 which means to include binary serialization I have had to target packages from 4.3.0 which then appears to copy them all into apps that are netcoreapp1.0.

https://github.com/JamesNK/Newtonsoft.Json/issues/1252#issuecomment-289250145

[2017-03-26 13:15] AdamSpeight2008 commented on #17478
@karelz Not one that says that explicitly, but could be interpreted as that.
**Note** I've bold the parts of the text, the original contains no bold.

[link](https://github.com/dotnet/roslyn/wiki/Contributing-Code)

[2017-03-26 13:29] stephentoub commented on #1652
Closed by https://github.com/dotnet/corefx/pull/17529

[2017-03-26 13:29] #1652 closed

[2017-03-26 15:28] fanoI commented on #17147
@tannergooding regarding more than 128 bit I had the idea of a sort of BigInteger but with the possibility to limit its max / min range... I don't know if it is possible.

Regarding the 256 and 512 as SSE registers what do you mean by "having the ability to specify alignment"?

[2017-03-26 16:08] WinCPP commented on #7758
I have not yet tried test enhancements for code coverage. Given that background, I would like to try writing a few for this issue. May I?

Per the link that @danmosemsft shared above, current coverage is 36.4% (Line) and 27.4% (Branch) for TypeDescriptor. @chlowell mentiones about 47% in dev/typedescriptor, but in next version of the package (not sure if I understand that clearly). Am I on the ver

[2017-03-26 17:03] tannergooding commented on #17147
Currently users have no way of forcing a specific alignment. However, many data types (such as Int128) may require (or benefit from) a specific alignment (align16, in the case of Int128 or align32 in the case of Int256).

Being able to specify alignment would allow users to implement their own data structures and then have the JIT generate optimized code by convention (such as using two 128-byte l

[2017-03-26 17:12] benaadams commented on #17147
Also use to use LOCK CMPXCHG16B 😉

[2017-03-26 17:35] mikedn commented on #17147
Allowing user to specify alignment and adding an `Int128` type are orthogonal issues, neither require or imply the other.

[2017-03-26 18:45] karelz commented on #17478
Thanks, the link helps.

Roslyn seems to have much more .vb source code ([~3,000](https://github.com/dotnet/roslyn/search?l=Visual+Basic&q=%22End+Namespace%22&type=&utf8=%E2%9C%93)), although most of them likely tests.

I interpret the text above (and its placement on Roslyn repo) as a soft standard. Kind of opt-in / suggestion for .NET Foundation projects. I think it was created by need on CoreFX

[2017-03-26 18:54] mikedn commented on #17147
If you're talking about function parameter passing then that's yet another issue, unrelated to alignment and type size. And it's debatable how beneficial is passing an Int128 in a SSE register, it's' good if you're just passing it around but it may be not so good if you're actually doing operations with it.

[2017-03-26 19:01] karelz commented on #17528
For context: [System.Runtime.Serialization.Formatters package](https://www.nuget.org/packages/System.Runtime.Serialization.Formatters/).

@ericstj @weshaggard can you please chime in?

[2017-03-26 20:11] karelz opened #17533 "Change "up for grabs" label to up-for-grabs"
The up-for-grabs label is "more" standard -- see e.g. http://up-for-grabs.net and we used to have it in CoreCLR repo, but changed it to CoreFX form in ~2016/10
* [x] Rename label on all repos
* Update docs in repos:
    * [x] CoreFX: ["up for grabs"](https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=%22up+for+grabs%22&type=) and ["up%20for%20grabs"](https://github.com/dotnet/corefx/search?u

[2017-03-26 20:59] JonHanna commented on #17533
Something that's occurred to me occasionally is whether the judgements that an issue would likely be a good one for a newbie to corefx should be a label. There's been a couple of times I was asked for advice on getting started as a contributor and being able to point to a label as having good issues to start with would have been good. And of course, it could also be linked to from the docs.

So, m

[2017-03-26 21:03] karelz commented on #17533
@JonHanna good point - we have label [simple](https://github.com/dotnet/corefx/labels/simple), however, we didn't start using it too much. It was created after most areas went through initial triage.
We can probably sweep through the issues and do that ...

Docs are a bit behind on targeting new contributors :( - something on my TODO list since December :( ... if anyone wants to help with that, th

[2017-03-26 21:11] karelz commented on #17533
I plan to run the renaming by all area owners in CoreFX and CoreCLR on Monday. They might have existing queries, etc., so I want to make sure it is not a surprise for them and that there is not strong push back.

BTW: After looking deeper at various projects on http://up-for-grabs.net, I have noticed that quite a lot of them use different names ("Help wanted", help-wanted, up_for_grabs, "Up for gr

[2017-03-26 21:16] karelz opened #17534 "Update docs to be new-contributor friendly"
Our repo docs are not super-friendly to new contributors. It would be nice to improve them.

[2017-03-26 21:32] karelz commented on #17534
I started the work on 2016/12: https://github.com/karelz/corefx/tree/docs, but didn't have time to finish it.

Here's dump of my original plan:

**.NET Core**
  * Releases: https://github.com/dotnet/core/tree/master/release-notes
  * Road map - https://github.com/dotnet/core/blob/master/roadmap.md
  * How to use (with VS, VS Code, command-line) - https://github.com/dotnet/core/#get-started
  * Dep

[2017-03-26 22:25] jkotas commented on #17533
The up-for-grabs issues are meant to be simple: a few nights worth of work, standalone, non-ambiguous tasks if we are following the spirit of http://up-for-grabs.net/. However, the label has been sometimes used to mean "I do not plan to work on this anytime soon" here. Older issues that have been opened during the period where we insisted on all issue to be assigned to somebody tend to suffer from

[2017-03-26 22:53] karelz commented on #17533
up-for-grabs is not only for "simple newbie" things, however they should be doable in a few nights work, not multi-weeks features.
Here's my discussion about the topic with http://up-for-grabs.net site authors few weeks ago: https://twitter.com/dahlbyk/status/837861619661213697

Our 'simple' label is meant for newbies. I think it has value too. It would be nice to get it into the http://up-for-gra

[2017-03-27 01:08] jkotas commented on #17533
Well, the current state in corefx is that folks are marking close to everything with **up for grabs** without thinking about it and so it does not serve its intended purpose. It is more or less duplicating that the issue is not assigned to anybody yet. Take a look at the current result of https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22up%20for%20grabs%

[2017-03-27 01:16] karelz commented on #17112
@AlexGhiondea why is it up-for-grabs? It does not seem very actionable for community ...

[2017-03-27 01:17] karelz commented on #17480
@joperezr why is it up-for-grabs? It does not seem to be actionable for community, given our state of ILC testing in the open ...

[2017-03-27 01:17] karelz commented on #17450
@joperezr why is it up-for-grabs? It does not seem to be actionable for community, given our state of UWP testing in the open ...

[2017-03-27 01:30] Jiayili1 commented on #17420
Failed again on build [20170326.03](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170326.03/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestBasePriorityOnUnix)

[2017-03-27 01:33] dotnet-mc-bot opened #17536 "Test failure: System.IO.Tests.DirectoryInfo_Create/DirectoryLongerThanMaxLongPath_ThrowsPathTooLongException"
Opened on behalf of @Jiayili1

The test `System.IO.Tests.DirectoryInfo_Create/DirectoryLongerThanMaxLongPath_ThrowsPathTooLongException` has failed.

Assert.All() Failure: 1 out of 2 items in the collection did not pass.\r
    [0]: Xunit.Sdk.ThrowsException: Assert.Throws() Failure\r
         Expected: typeof(System.IO.PathTooLongException)\r
         Actual:   typeof(System.IO.DirectoryNotFoundEx

[2017-03-27 01:36] karelz commented on #17118
@shiftylogic can you please provide some hints for every up-for-grabs? Where to start, estimated complexity. Thanks!

[2017-03-27 01:43] karelz commented on #17533
1, 2 and 6 are likely mistakes (I replied). The guidance I gave to all area teams was "it has to be doable externally (without internal knowledge) and actionable". I even explicitly called out UWP work and CI test failures as bad candidates for up-for-grabs (due to inaccessibility of UWP testing and trickiness involved in CI test failure hunting). I'll be happy to do another round of explanations

[2017-03-27 01:54] Jiayili1 commented on #16201
This issue is repro on build 20170326.03, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170326.03/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PostScenarioTest~2FPostUsingContentLengthSemantics_Success(serverUri:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-03-27 01:56] dotnet-mc-bot opened #17537 "Test failure: System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest/HttpClient_ClientUsesAuxRecord_Ok"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.SchSendAuxRecordHttpTest/HttpClient_ClientUsesAuxRecord_Ok` has failed.

System.TimeoutException : The operation has timed out.

        Stack Trace:

           at System.Threading.Tasks.TaskTimeoutExtensions.<TimeoutAfter>d__0.MoveNext()
    --- End of stack trace from previous location where exception was thrown ---

[2017-03-27 01:58] Jiayili1 commented on #17537
Closed issue: https://github.com/dotnet/corefx/issues/11623

[2017-03-27 02:10] SeanSnyders commented on #8965
I'm also impacted by this.
I would like the 462 version of the `System.Runtime.Loader` package/library be an abstraction to the supported (existing, old-skool) 462 functionality such that I do not have to have two code paths to support a .Net 462 application and a .Net Core application.

[2017-03-27 02:18] dotnet-mc-bot opened #17538 "Test failure: System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests"
Opened on behalf of @Jiayili1

The test `System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at System.Numerics.BigInteger..ctor(UInt32[] value, Boolean negative)
       at System.Numerics.BigInteger.op_LeftShift(BigInteger value, I

[2017-03-27 02:20] Jiayili1 commented on #17538
Closed issue: https://github.com/dotnet/corefx/issues/13419

[2017-03-27 02:27] NicolasDorier commented on #17010
@karelz @Priya91 please let me know if you could repro. This make my project unadvisable to run in production on Linux environment, so I would do anything for reproducing it better if it does not work on your machine.

[2017-03-27 03:27] ahsonkhan commented on #14376
@fujiy, do you have a PR for this?

[2017-03-27 03:38] AlgorithmsAreCool commented on #16997
I had a notion today that perhaps `Block<T>` might be a decent name that is less overloaded than Span. Or of course `Buffer<T>`.

[2017-03-27 03:54] ahsonkhan commented on #16888
**Difference between current method and one with the proposed CopyTo:**
cc @KrzysztofCwalina, @davidfowl
![image](https://cloud.githubusercontent.com/assets/6527137/24340347/4ee25202-1266-11e7-83d6-6d3c758a3d61.png)

**Current:** https://github.com/dotnet/corefxlab/blob/master/src/System.IO.Pipelines/WritableBufferExtensions.cs#L16
[code]

**With CopyTo that returns an integer of how much it succe

[2017-03-27 04:03] ahsonkhan commented on #16997
We have already renamed `Memory<T>` to `Buffer<T>` while keeping `Span<T>` as is. Shall we close this issue?
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/Buffer.cs#L13

@KrzysztofCwalina, @shiftylogic

[2017-03-27 04:11] DrewScoggins commented on #9257
This is a bug on our side. Those Python scripts are used to take the raw data and massage it into a format that our visualization and tracking tools you. Those calls should be hidden behind flags that we set when we do runs that submit that data I will file an issue for this on Monday.

[2017-03-27 04:45] jkotas commented on #16888
- This does not look like improvement to me. It makes it harder to see that the implementation is correct - the original was better.
[code]
- The old and new implementations do not have the exact same behavior
- Why does the implementation - both before and after - has the `if (writeable == 0) { continue; }` part? It does not look right that calling Ensure(0) in a loop would suddenly allocate more

[2017-03-27 05:15] #16799 closed

[2017-03-27 05:24] hseok-oh opened #17542 "[ARM32/Linux] Native build failure"
build command:
./build-native.sh -release -buildArch=arm -- cross clang3.9
[code]

It seems related to #17484

[2017-03-27 05:37] ahsonkhan commented on #16888
I don't know and I agree. I wasn't sure why we have that, but I suppose it isn't relevant to the issue at hand.

+1. @KrzysztofCwalina, thoughts? Did I incorrectly use the proposed API? @davidfowl

[2017-03-27 07:11] tmds commented on #16201
I have not reproduced this problem myself. I only observe it happens via this issue tracker. @Priya91 do you have experience reproducing this?

[2017-03-27 07:37] davidfowl commented on #16888
The API isn't that intuitive. Ensure does make it grow 😄

[2017-03-27 09:05] Jiayili1 opened #17545 "System.Diagnostics.Tests.ProcessTests.TestEnableRaiseEvents failed in CI with "System.ComponentModel.Win32Exception""
Failed test: System.Diagnostics.Tests.ProcessTests.TestEnableRaiseEvents

Configuration: OuterLoop_Fedora23_release (build#147)

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_fedora23_release/147/consoleText

[code]

[2017-03-27 09:09] Jiayili1 commented on #17373
Failed again on [windows10_debug](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/lastCompletedBuild/testReport/) and [windows10_release](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/lastCompletedBuild/testReport/)

[2017-03-27 11:42] #16476 closed

[2017-03-27 12:52] liona1982 commented on #645
Try Long Path Tool as it can remove any problems that you might have.

[2017-03-27 13:32] stephentoub commented on #17414
Have we given any thought to having a method like TryGetArray(out ArraySegment) on Span. I'm thinking about a case like adding Span support to Stream. For example, if we wanted to add a new Stream.Write(Span) method, we'd need to make it virtual, and while we'd then override it on all of our streams to do the efficient thing, we'd still want the base implementation to be as reasonable as possible.

[2017-03-27 13:34] jkotas commented on #17414
It is not possible to implement this method for fast Span.

[2017-03-27 13:37] fujiy commented on #14376
Hi @ahsonkhan, @mramosMS is working on it.
Do we have a deadline? I don't know how is the @mramosMS availability.
Thanks

[2017-03-27 13:38] stephentoub commented on #17414
Not possible ever, today, or just inefficient? There's no way internally to ask whether the stored reference is part of an object and get a reference to that object?

[2017-03-27 13:43] StanislavUshakov commented on #16829
The 2nd item (System.Security.Cryptography.Xml.XmlDecryptionTransform) is done in [PR 17546](https://github.com/dotnet/corefx/pull/17546) from 52% to 93%
I will continue writing tests.

[2017-03-27 13:43] jkotas commented on #17414
Ok, yes it is possible to do - very inefficiently.

[2017-03-27 13:47] stephentoub commented on #17414
Ok, thanks. And I guess so inefficiently that it'd be cheaper to copy all the data out?

[2017-03-27 13:55] whoisj commented on #645
@JeremyKuhne I shared your with some folks looking to improve Msys, they seem to think it was rather valuable - so thanks for that!

[2017-03-27 14:16] jkotas commented on #17414
It is linear search: enumerate all GC segments to find the GC segment where the pointer lives, and then enumerating all objects in that segments until you find the one you are looking for. The GC has some existing caches around this that would improve the situation if you ask for the same thing again and again but I am not sure how hard it would be to leverage them outside of GC.

There is point f

[2017-03-27 14:35] brianrob commented on #17316
@marksmeltzer, thanks for posting these.  I had not yet been able to get access to the files.  I'll take a look at these.

[2017-03-27 14:36] jkotas commented on #16888
Opened #1383 about the non-intuitiveness.

[2017-03-27 14:45] germanmarky commented on #7812
I am as well seeing this error in production. My code is posting a SOAP request to an HTTPS endpoint. The request does have an encoded document, but the specific document that last caused the error was only 1.1MB. The additional data is less than 1K.

`	Public Function HTTPRequest(PostURL)

		Set objHTTP = CreateObject("MSXML2.ServerXMLHttp.6.0")

		objHTTP.open "POST", strURLProduction, False

[2017-03-27 15:05] steveharter commented on #17421
Test recently added: https://github.com/dotnet/corefx/commit/3805927a19b961850c1c6429d6f8a8b6f1fbd4fa

[2017-03-27 15:20] germanmarky commented on #7812
I have implemented the workaround provided as the first solution [on StackOverflow](https://stackoverflow.com/questions/21354992/an-error-occurred-in-the-secure-channel-support-classic-asp-http-request) to use a MSXML2.XMLHttp.6.0 object instead of MSXML2.ServerXMLHttp.6.0. As this was just implemented, I do not know if this will resolve the error but will post back accordingly.

[2017-03-27 15:21] jaredpar commented on #17533
I'm all for making it simple to jump between dotnet org repos.  If we want to pick a standard name here and use it consistently we'd be on board.

[2017-03-27 15:21] davidfowl commented on #17414
We decided to keep TryGetArray on Buffer instead of span because it was easier to implement and "less pure".

[2017-03-27 15:39] tarekgh commented on #17433
Ye please follow up with Windows team. thanks.

[2017-03-27 15:42] RussKeldorph opened #17550 "System.Linq.Expressions.Tests.CompilerTests.CompileDeepTree_NoStackOverflowFast overflows stack with Checked CoreCLR build"
CompilerTests.CompileDeepTree_NoStackOverflowFast overflows the stack with Checked (and presumably Debug) builds of CoreCLR.  See [comment](https://github.com/dotnet/coreclr/pull/10445#issuecomment-289228613).

This makes it problematic for us to use CoreFx tests to validate CoreCLR.  Is it reasonable to reduce the complexity of the test so that it fits on the stack regardless of runtime build typ

[2017-03-27 15:42] RussKeldorph commented on #17550
@JonHanna since you last modified this test.

[2017-03-27 15:43] PaulHigin commented on #17412
I am fine making CreateNewProcessGroup a Boolean on the ProcessStartInfo class since this appears to be the pattern already started (with similar CreateNoWindow Boolean).  But it doesn't seem very scalable as more process creation options are added in the future.

[2017-03-27 15:43] steveharter commented on #17537
Appears to be a fluke; old test. Other than this, not history of failing.
- Failed on both win7 debug and release on same build.
- Uses Echo servers which are fallible.

[2017-03-27 15:47] shiftylogic commented on #17118
_Notes for up-for-grabs_

The implementation of [Span.CopyTo](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanHelpers.cs) method uses simple for / while loops for the slow path (which is used for any overlapping span structures or spans containing reference types). There are 2 loops in the CopyTo method (one forwards and one backwards depending on how the structures a

[2017-03-27 15:51] steveharter commented on #16757
@Jiayili1 the previous link references failures in other tests (System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test), not PostAsync_Redirect_LargePayload

Accoring to jdash, only failed here:
dotnet_corefx/master/outerloop_centos7.1_release 116 	centos71-20170216-outerb7f2a0 	03/05 04:32 PM

Note uses Echo servers which are fallible.

[2017-03-27 15:55] JonHanna commented on #17550
The purpose of that test is to test some functionality that pre-empts overflow by probing with `TryEnsureSufficientExecutionStack` and pushing further work onto another thread if necessary. The small stack of the test lets it reach that "if necessary" point quickly.

It failing rather suggests the test is doing its job, and the functionality it is not working in this case.
What do you mean by "che

[2017-03-27 16:04] steveharter commented on #16419
Appears to be race condition. Per WinHttpWebSocketState.cs(275,0): at System.Net.WebSockets.WinHttpWebSocketState.Dispose(Boolean disposing):
[code]

[2017-03-27 16:11] stephentoub commented on #16765
@steveharter, if that's the case, do you have any ideas / plans for how to systematically address such tests across the codebase?

[2017-03-27 16:25] RussKeldorph commented on #17550
@JonHanna The Checked build similar to a Debug build (assertion enabled, etc.) with C++ and C# compiler optimizations enabled.  It is the most useful build mode for testing the CLR JIT, since it's faster (C++ optimizations), it's testing JIT optimizations (C# optimizations), and assertions are enabled to validate the internal state of the runtime and JIT.  I will edit my comment above with repro s

[2017-03-27 16:32] stephentoub commented on #16419
If it's true that those fields can be set to null concurrently, then these lines should be changed to:
[code]
regardless of whether it fixes this issue (but it seems like it should).

[2017-03-27 16:35] weshaggard commented on #16994
I agree with @stephentoub that the wrong one must be getting deployed. Can you look at your lock/assets file and see which asset you are getting for System.Runtime.InteropServices.RuntimeInformation? Which package version and which binary path to it?

[2017-03-27 16:38] weshaggard commented on #17301
What error are you seeing when you copy netstandard.dll?

I'm not sure I'm following you on this one. Is the issue because it keeps copying it? My best guess is because everytime you call build.cmd it builds the native binaries as we don't correctly support incremental builds for those at this time, so it might always be newer and copy.

[2017-03-27 16:51] JonHanna commented on #17550
It's the functionality itself that has stack-probing, but if that's not going to work then the test has done its job in alerting us to that. Expressions can get itself into some very deep recursion in cases that are relatively rare but common enough that they've caused users problem, and the probing allowed that to be resolved. If that test overflows the stack, then likely so would that real-world

[2017-03-27 16:52] JonHanna commented on #17550
cc: @bartdesmet who wrote the first version of the stack-probing code.

[2017-03-27 16:55] karelz commented on #17412
@PaulHigin what would you propose? Platform independent flags? (not seeded with Windows names)

[2017-03-27 16:56] joperezr commented on #17450
You are right, I marked it that way because System.Runtime tests can now run on uapaot, but as you point out we can't test them in the open.

[2017-03-27 16:57] stephentoub commented on #17550
TryEnsureSufficientExecutionStack has some hardcoded limits in it "to allow a typical non-recursive call chain to execute":
https://github.com/dotnet/coreclr/blob/2ca9cec2d982162ab4f43d1136d0c67de57387cc/src/vm/threads.cpp#L6832-L6840
I assume those limits are based on release builds.  If debug/checked builds influence the size of stack frames significantly, then potentially these values in corecl

[2017-03-27 17:01] JonHanna commented on #17550
Are the outerloop tests being run here? There's a slower outerloop test that hits the same functionality with a normal stack size. If that passes then I think it would be reasonable to just disable the faster test in this context, if there was a good way of signalling that it should be skipped.

[2017-03-27 17:01] karelz commented on #16757
@steveharter good catch, can you please update the tracking OneNote and delete (+move?) the invalid dupes on this thread - it will be easier for tracking long-term. Thanks!

[2017-03-27 17:01] karelz commented on #17450
Thanks!

[2017-03-27 17:10] RussKeldorph commented on #17550
Outerloop tests aren't being run currently, though they are planned once innerloop are green.  This is (until something else breaks) the last failure in the innerloop tests with Checked coreclr.  I can kick off outerloop now and see how they look.

[2017-03-27 17:10] weshaggard commented on #17528
The reason this is the case is because for all our release we base-line our package dependencies to match that release. This does cause some issues for new packages like this one because it doesn't have a target for the older platforms. @ericstj what do you think about fixing this?

On top of potentially fixing this individual package I know @ericstj is looking at fixing the NETStandard.Library pa

[2017-03-27 17:14] iSazonov commented on #17412
The properties look good for C# world, flags for C/C++.
Currently we have 16 flags in [Process Creation Flags](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684863%28v=vs.85%29.aspx) It can be assumed that the properties will be no more.

[2017-03-27 17:16] JonHanna commented on #17550
It'd be worth knowing if this test's outerloop sibling breaks or not, I think.

[2017-03-27 17:17] shmao opened #17555 "Issues with the embedded .rd.xml files in the XML space"
When I ran XmlSerializer tests on uapaot, I found that sg.exe wasn't used by ilc.exe. @vitek-karas found the root cause was that we didn't have correct .rd.xml embedded in System.Private.Xml.dll,

[code]

@vitek-karas also found a few other issues with the embedded .rd.xml files in the XML space,

[2017-03-27 17:18] PaulHigin commented on #17412
Yes, I feel platform independent flags would be more appropriate and there is nothing wrong with enum flags in C#.  But again I am fine with just a new property in ProcessStartInfo since that follows the existing pattern.

[2017-03-27 17:29] shmao opened #17557 "Issue with the rd.xml embedded by System.Private.Xml.Linq"
@vitek-karas found the following issue with the rd.xml used by System.Private.Xml.Linq

It should refer to System.Private.Xml.Linq instead. This also issues warnings during ILC.

[code]

[2017-03-27 17:36] deepumi opened #17558 "HttpClient GetAsync - The server returned an invalid or unrecognized response"
**Version** - .Net Core 1.0.1
**OS** - CENT OS.7 64 bit / Azure
**Curl version**
[code]
When I make a request to http://www.pma.org/home/default.asp? URL I get the following error in my .Net Core App. However, If I make the request using Curl works fine.

[code]

**Sample code**
[code]

**Curl request**

[code]

**Curl response**

[code]
What's the problem?

[2017-03-27 17:36] abbasl commented on #16994
Here's what's in my project.lock.json file (relevant portions as far as I understand). Let me know if you need more.

Since "System.Data.SqlClient/4.1.0" depends on "System.Runtime.InteropServices.RuntimeInformation": "4.0.0", should there be a "System.Runtime.InteropServices.RuntimeInformation/4.**1**.0": {" target and library nodes (in addition to the 4.3.0 target and library nodes that currentl

[2017-03-27 17:40] Priya91 commented on #16201
@tmds Yes, Just use the default rhel 7.2 image from azure, and clone the repo and run the tests.

[2017-03-27 17:41] Priya91 commented on #16201
I get the custom packages on my test vm and try to get additional data.

[2017-03-27 17:44] Jtfinlay opened #17559 "System.Diagnostics.Tracing.EventSource EventAttribute does not have a Channel property."
Hitting an issue when trying to use EventSource as an interface to the Event Log, where Channel property support is not implemented.

From discussion with @vancem and others on the team:

We are using the Microsoft.Diagnostics.Tracing NuGet package in the meantime, but we want to remove it to use System.Diagnostics as soon as possible. The NuGet package is outdated and inflating our dll.

Let me k

[2017-03-27 17:45] CIPop commented on #9184
Having the label as an option is confusing. Do you have permissions to remove the label (and ensure that all 11 remaining issues labeled this way are moved to milestone:2.0)?

[2017-03-27 17:46] divega commented on #14760
@bricelam do you consider this a duplicate of https://github.com/dotnet/corefx/issues/2249 or are they different?

[2017-03-27 17:46] karelz commented on #17533
OK thanks @jaredpar, I will include Roslyn up-for-grabs rename in this issue as well then.

[2017-03-27 17:50] CIPop commented on #11874
Sounds reasonable. Feel free to reopen / propose the API following our API guidelines. I would recommend towards having a clear name in that case to ensure that in the future, we could add a NegotiatedExtensions API.

[2017-03-27 17:52] CIPop commented on #8673
Thanks @vadimline!

[2017-03-27 17:57] danmosemsft commented on #16585
@karelz given usage and the discussion in https://github.com/dotnet/standard/issues/235 I believe this is a must have for 2.0.
For example RSACryptoServiceProvider has 30% usage in the top Unity apps (at least some likely by BouncyCastle, but that's immaterial)

Can we cost this?

[2017-03-27 17:59] karelz commented on #16585
@danmosemsft already costed in our System.Security OneNote page :)

[2017-03-27 18:03] ahsonkhan commented on #16888
Edit, in corefxlab, not corefx - i.e. https://github.com/dotnet/corefxlab/issues/1383

[2017-03-27 18:05] weshaggard commented on #16994
Thanks for the information. There are a couple of interesting things here:

1. SqlClient is using RuntimeInformation but it isn't the one that is causing it to pull in the 4.3.0 package. Can you look for other references in your lock file for System.Runtime.InteropServices.RuntimeInformation to see who is pulling in 4.3.0?
2. The netcoreap1.0 shared framework doesn't have support for the 4.3.0 ver

[2017-03-27 18:06] danmosemsft commented on #17462
We are asking for the API, that keeps our options open.

[2017-03-27 18:08] ahsonkhan commented on #14376
@fujiy, there isn't a deadline, I was just pinging for an update since it had been a while. Keep going :)

[2017-03-27 18:11] CIPop commented on #17439
Thanks @ViktorHofer !

[2017-03-27 18:16] stephentoub commented on #17373
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug_prtest/9/consoleText

[2017-03-27 18:17] JeremyKuhne commented on #17536
@ViktorHofer You re-enabled this test with #17343 (see #11687). @ianhays- you may want to see my explanation below.

The maximum Unicode string in Windows is 32767 characters (including the null). In this failure the path is 32,766 characters (minus the null). Our algorithm is supposed to give 32767 and 32768 characters- so what happened? If you look at the path you'll see it ends with a _full_ gu

[2017-03-27 18:28] JeremyKuhne commented on #17536
It will fail "successfully" here:

https://github.com/dotnet/coreclr/blob/532c45a27aa2f804ed43448ef1666beeef6c96ae/src/mscorlib/shared/System/IO/PathHelper.Windows.cs

We had removed most of the max path checks. I didn't want this one either, but given how late we are I'd rather not touch this.

[2017-03-27 18:30] lmolkova opened #17564 "Backporting HttpClient instrumentation with DiagnosticSource to netstandard1.3"
I have previously implemented changes that changes `HttpClientHandler` logging with `DiagnosticsSource` #16393.
Now instrumentation is only available with netcoreapp2.0 since System.Net.Http [targets](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System.Net.Http.csproj) netcoreapp2.0 only among CoreFx targets.

Would like to use this instrumentation in the existing project t

[2017-03-27 18:30] RussKeldorph commented on #17550
I kicked off an -Outerloop test run and another run with a CoreCLR with higher _DEBUG min stack size by changing the lines pointed out by @stephentoub.  Will report back.

[2017-03-27 18:32] karelz commented on #17559
@MichalStrehovsky FYI: We do not assign issues to folks, unless they work on them - see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)

[2017-03-27 18:34] stephentoub commented on #17558
The response header:
[code]
should be:
[code]

[2017-03-27 18:35] davidsh commented on #17564
{master] branch is only for netstandard20 work.

Perhaps you want to backport some of your changes to the release/1.0 or release/1.1 servicing branches.

[2017-03-27 18:38] stephentoub commented on #17558
It seems like we should make the response parser a bit less strict.  This is technically an invalid response, but we could easily, for example, just ignore an invalid header of this kind rather than outright failing.
cc: @Priya91, @justinvp

[2017-03-27 18:39] deepumi commented on #17558
@stephentoub
Just now I tried adding

[2017-03-27 18:42] stephentoub commented on #16602
Hung again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/5174/

[2017-03-27 18:44] stephentoub commented on #17373
Failed again here:
https://github.com/dotnet/corefx/pull/17553

[2017-03-27 18:45] stephentoub commented on #16201
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug_prtest/13/consoleText

[2017-03-27 18:46] davidsh commented on #17558
I would be really careful about this.  We need to constrain that type of loose parsing.  I would definitely see compare to what .NET Framework and perhaps other HTTP stacks do regard this type of thing.

[2017-03-27 18:54] stephentoub commented on #17558
Not in the request, in the response: this isn't about the code you're writing, rather the server is sending back an invalid response.

Ok.  This example fails on all three of the .NET Framework, .NET Core on Windows, and .NET Core on Unix.

[2017-03-27 18:56] deepumi commented on #17558
@stephentoub Got it. Thank you.

[2017-03-27 18:57] ViktorHofer commented on #15255
CannotRemoveBaseTypeOrInterface analysis.

+ BaseType or Interface does exist in netstandard20 --> targets should inherit correctly from it
- BaseType or Interface does not exist in netstandard20 --> targets can't inherit

[code]

Going to do the respective PRs now

[2017-03-27 19:03] AndyAyersMS commented on #17550
In this particular test the SO hits during classloading when the runtime is trying to cons up a descriptive string for the class being loaded. This string consing is a diagnostic aid that only happens in debug/check runtimes.

I like @stephentoub's suggestion since this behavior is coupled to how the runtime is built, we could easily just increase the min stack size for debug/check builds (not sur

[2017-03-27 19:03] Priya91 commented on #17545
It looks like the process exited before it can be killed.

[2017-03-27 19:04] Priya91 commented on #17545
@Jiayili1 Is this consistently failing?

[2017-03-27 19:09] karelz commented on #17533
OK, even more repos are now on board - see the updated list.
I gave CoreFX folks until EOD to push back on the plan. If there's no push back, we can pull it off tomorrow.

[2017-03-27 19:16] karelz commented on #17414
@ahsonkhan please make sure you have the right people who can speak about the APIs in tomorrow's API review meeting (@KrzysztofCwalina should be there)

[2017-03-27 19:47] davidsh commented on #17523
Without seeing a complete repro solution posted, it is difficult to know for sure. But, I have a theory about this.  The error seems to tell me 2 pieces of information. One, that the system is looking for System.Net.Http with assembly version 4.1.1.0.  This means that System.Net.Http Nuget package version 4.3.1 is being used or at least referenced.

However, the `FileNotFoundException` is telling

[2017-03-27 20:15] davidsh commented on #14897
cc: @karelz

The repro code posted above is a just a piece of the total repro.  What server is this talking to?  In order to repro the problem, we need a complete solution.  The error being reported is about parsing the server response.  So, it is important to use the same server to debug this issue.

[2017-03-27 20:17] davidsh commented on #15002
There is not enough information in this issue to debug this.  The repro code refers to client certificates on the dev machine that we don't have access to.

@TerisseNicolas Can you revise/simplify your repro or post the entire repro?  It is not possible to investigate this further without more information.

[2017-03-27 20:25] danmosemsft opened #17569 "Cookie* missing from UWP"
The problem is this, which needs to be resolved now that we need these types in UWP (they're part of standard)

This is the only API that's actually missing from the System.Net namespace (functionality is another thing)

[code]

![image](https://cloud.githubusercontent.com/assets/6385855/24376412/a78a26de-12f0-11e7-81b5-af6b29643b75.png)

[2017-03-27 20:25] Priya91 commented on #17010
@NicolasDorier sorry for the delay, will try this today.

[2017-03-27 20:25] danmosemsft commented on #17569
They are exposed in the ref, which is shared with all configurations, but it has no backing impl in the correct namespace

[2017-03-27 20:30] davidsh commented on #17537
This test uses localhost server so getting this error, `The operation has timed out.`, is odd.

[2017-03-27 20:34] danmosemsft commented on #17533
+1 for "simple"

[2017-03-27 20:36] danmosemsft commented on #14344
@VSadov any luck?

[2017-03-27 20:38] danmosemsft commented on #15808
@the-dwyer feel like going further? 8.9% is pretty low I guess there's some low hanging fruit there.

There are also other areas that need more coverage, could be a good way to get to start familiarizing with other parts of hte codebase:
https://github.com/dotnet/corefx/labels/increase-code-coverage

[2017-03-27 20:40] danmosemsft commented on #7758
@WinCPP you're welcome. I would say some code coverage exercises are probably higher importance than ComponentModel though. Places where coverage is even lower, or type usage is higher.

For example XML is huge, heavily used and not got great coverage in some places:
https://github.com/dotnet/corefx/issues/16650
https://github.com/dotnet/corefx/issues/16649
https://github.com/dotnet/corefx/issues/

[2017-03-27 20:43] danmosemsft commented on #16650
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:43] danmosemsft commented on #16649
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:43] danmosemsft commented on #16646
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:44] danmosemsft commented on #16337
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:44] danmosemsft commented on #16334
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:44] danmosemsft commented on #15808
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:44] danmosemsft commented on #14346
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:45] danmosemsft commented on #14344
Info on code coverage work:

1) Here's the all up report
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/
Caveat - doesn't show coverage of any types whose implementation is in corelib (eg String, etc). If you want to look at that for now you must gather manually using instructions below.

2) Docs on code coverage work are here
https://github.com/dotn

[2017-03-27 20:48] benaadams commented on #16334
The fallback handling is pretty weird and could be cleaned up a lot; however I don't have a 100% handle on what its doing (clearly 😛 )

[2017-03-27 20:57] Priya91 commented on #16201
@tmds When i try to install the custom packages, I get

[code]

[2017-03-27 20:57] RussKeldorph commented on #17550
Update: The Outerloop version (CompilerTests.CompileDeepTree_NoStackOverflow) passes, and increasing the [constants](https://github.com/dotnet/coreclr/blob/2ca9cec2d982162ab4f43d1136d0c67de57387cc/src/vm/threads.cpp#L6832-L6840) @stephentoub pointed out has no effect.

If I understand the code correctly, the constants are not limiting the min stack size but are instead controlling a mechanism wher

[2017-03-27 21:17] davidsh commented on #16419
I don't see how these lines help:

[code]

There is already a check for null.  Adding the "?" operator is just syntax sugar.  If ends up being another "if null" check.  And that operation isn't atomic, so it would be subject to race conditions.  We either need a lock or a re-design.  FWIW, This particular derivation of SafeHandle is not correct and needs to be merged with WinHttpSafeHandle which i

[2017-03-27 21:19] mellinoe commented on #17538
I'll lower the memory usage even further.

[2017-03-27 21:19] stephentoub commented on #16419
The code:
[code]
compiles to the equivalent of:
[code]

If the problem is that `_webSocketHandle` is getting null'd out between the check for whether it's null and then the Dispose call, storing the reference into a local and then doing the check on the local avoids the problem.

[2017-03-27 21:22] davidsh commented on #16419
ok.  In that case, it appears to avoid the ObjectDisposedException.  Calling Dispose() on a SafeHandle multiple times is supposed to be safe.

[2017-03-27 21:23] Priya91 commented on #17010
@NicolasDorier I tried your repro today on Ubuntu 14.04 LTS. I am getting "Couldn't connect to Server" errors.
[code]

[2017-03-27 21:24] stephentoub commented on #16419
It would avoid the NullReferenceException noted in the reported issue.

[2017-03-27 21:34] stephentoub commented on #13298
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug_prtest/171/

[2017-03-27 21:34] daflame76 commented on #17396
I just tried this with 4.6.2 and although the FTDI port doesn't explode with a blaze of glory like some of my other ports are prone to do, it does seem to leak resources and hold the port open until the program is restarted.  It also seems to prevent the port from being removed (it lingers in the device manager).

[2017-03-27 21:38] daflame76 commented on #17396
Correction, it leaves the port present in device manager until the port is reinserted and removed again.  That can be troublesome in production.  It does prevent the close operation on the SerialPort from working though.  I am going to put this is a tight loop to see how ugly it cat get.

[2017-03-27 21:48] daflame76 commented on #17396
Spoke too soon.  Reinserting the port before closing the application process causes a spurious `ObjectDisposedException` to pop up randomly on the old event loop runner thread which was stuck in `WaitForCommEvent`.  Apparently reattaching the serial port must wake up that thread, but it sees the object as disposed already.  Since this happens on a thread outside our control it is sent straight to

[2017-03-27 21:48] abbasl commented on #16994
Here are the references that are pulling in the 4.3.0 package:

{
...
"targets":
      ...
      **"Microsoft.IdentityModel.Tokens/5.1.2": {**
        "type": "package",
        "dependencies": {
          "Microsoft.IdentityModel.Logging": "1.1.2",
          "Newtonsoft.Json": "9.0.1",
          "System.Collections": "4.3.0",
          "System.Diagnostics.Tools": "4.3.0",
          "System.Runtim

[2017-03-27 21:52] danmosemsft commented on #17545
@sokket can we get this data out of your system?

[2017-03-27 21:56] safern opened #17575 "Desktop throws a TypeLoadException when `StreamingContext` is a typeforward to mscorlib and using any of the serialization event attributes"
If an assembly is built against netstandard and run it against netfx (desktop) and it has a type marked as Serialized and this types have any of the event methods that use either `OnDeserializedAttribute`, `OnSerializingAttribute`, `OnSerializedAttribute`, and `OnDeserializingAttribute` it would throw an exception like this one:

[code]

This would happen even if the method follows the guidelines

[2017-03-27 21:57] stephentoub opened #17576 "Version_MatchesFixedVersion test failed in CI"
[code]

[2017-03-27 21:58] JonHanna commented on #17550
The purpose of the small stack is simply to reach the point where it would overflow where it not for the guard against that, in a timely manner. A larger stack that works but is still reasonably prompt would be just as good (though it takes some fiddling to figure out the size of query large enough to hit the threshold but no so large as to take forever doing so).

But if the outerloop tests will

[2017-03-27 22:00] daflame76 commented on #17396
I reinserted the port at "Press q to exit" and waited a couple seconds for the port to reregister.  It caused an AppDomain unhandled exception and I doubt it can be avoided.  Currently I construct a separate `AppDomain` to work around this issue, otherwise it tears down my entire application.
Here is the trace from my tests:

[code]

[2017-03-27 22:02] corivera opened #17577 "SqlClient: Command execution failures when using Packet Size = 16388 with Encryption"
When setting the packet size to 16388 or higher while using encryption, command execution fails. This issue is present with both managed and native SNI, and with TCP & NP. Failures also happen with sync & async command execution.

With native SNI:
System.Data.SqlClient.SqlException : A transport-level error has occurred when receiving results from the server. (provider: TCP Provider, error: 0 - Th

[2017-03-27 22:02] karelz commented on #17533
@danmosemsft +1 as in "we should use it more"? (sorry wasn't clear from the context to me ..)

[2017-03-27 22:02] willdean commented on #17396
Thanks for this - there are some fundamental difficulties with writing USB-Serial drivers which come from the Windows driver PnP and serial port model.  With drivers like the FTDI drivers, your COM port is the top end of a stack which goes all the way down to the USB device (this is the natural way to write a USB-Serial driver, as it's the same way the non-USB serial port drivers work).     The dr

[2017-03-27 22:10] steveharter commented on #16765
Just a hunch assuming there's interference from other tests, specifically the "dual mode" tests such as AcceptV4BoundToAnyV4_Success(). Sooner or later I assume some tests will fail if they assume .Any will only look at localhost (127.0.0.0) as it could grab that port off of some other network interface. I think those tests should be removed \ replace with IPAddress.Loopback or .IpV6Loopback as ap

[2017-03-27 22:11] willdean commented on #17396
Re your last trace - we absolutely 100% shouldn't have a route out of a background thread within an unhandled exception, that's just madness and we should fix it.

There were tests in the test suite which had the same problem (unhandled exceptions in background threads) which I think must be because`SerialPort` hasn't had any serious attention since before .NET2 (when background exceptions were ha

[2017-03-27 22:15] sokket commented on #17545
@danmosemsft looking...

[2017-03-27 22:21] RussKeldorph commented on #17550
If I understand the code correctly (not necessarily safe to assume), then I don't think this test is "tuned" based on your description.  The test is providing for a 64k stack, but `TryEnsureSufficientExecutionStack` will return false if the remaining stack is less than 64k, so I don't think the size of the query has any bearing on whether a different thread is used to run the query.  I believe the

[2017-03-27 22:29] danmosemsft commented on #17576
Well my logging gave us more information but I'm not sure it helps us. Surely `k3c3hzza.ga` wasn't independently generated and used concurrently.

[2017-03-27 22:29] danmosemsft commented on #17576
Perhaps we should do retries with either the same name or a different one.

[2017-03-27 22:29] weshaggard commented on #16994
@abbasl  did changing to netcoreapp1.1 fix this for you?

In order to root cause this we need to track back the package reference all the way to the one you reference so who is referencing NETStandard.Library 1.6.1?

[2017-03-27 22:33] danmosemsft commented on #17533
Yes we should use it more. And maybe "large" or "challenging" also...

[2017-03-27 22:38] mellinoe commented on #8567
I don't believe this is a crucial enough bug to block our 2.0 release, especially given that it is a pre-existing and inherited issue from .NET Framework. I'm still open to a contribution of someone wants to fix it in that timeframe, though.

[2017-03-27 22:39] abbasl commented on #16994
Still testing it. Will post my findings.

[2017-03-27 22:46] mellinoe commented on #16636
Thanks for the additional data @deppe . I forked the repo and made a version that can be run against the latest .NET Core 2.0 bits.

https://github.com/mellinoe/XmlSerializerPerf

From my brief experimentation, the `Serialize` step takes about 80% of the time in .NET Core 2.0 when compared to .NET Core 1.1, and the `Deserialize` step takes about 105% off the time, if there's a difference at all.

[2017-03-27 22:47] sokket commented on #17545
Looks like this is a regression and hasn't failed recently (past 3 runs)

[2017-03-27 22:49] mellinoe commented on #17538
Please let me know if this repros again. The memory usage is significantly lower now, though, so it really shouldn't.

[2017-03-27 22:52] danmosemsft commented on #17545
Thanks @sokket .. this proves the value

[2017-03-27 22:52] sokket commented on #17545
No problem :) glad I could help

[2017-03-27 22:53] karelz commented on #16636
@mellinoe just curious if you compared 1.1 vs. 2.0 on Windows or Linux or both?

[2017-03-27 22:56] karelz commented on #17533
Interesting idea ... let's add more 'simple' first, then we will see.

[2017-03-27 22:59] JamesNK commented on #17528
I don't want System.Runtime.Serialization.Formatters package in NETStandard.Library 1.6.0, I want it to depend on similar packages. If I reference it with NETStandard.Library 1.6.0 then there are a lot of warnings about packages having mis-matching versions.

There was an RC that did depend on the same version of packages as 1.6.0 but there was never a final version of it - https://www.nuget.org/p

[2017-03-27 22:59] mellinoe commented on #16636
Relative differences are about the same for Windows and Linux by my testing.

Windows .NET Core 1.1:
[code]

Windows .NET Core 2.0:
[code]

[2017-03-27 23:02] huanwu opened #17579 "Create a project for serialization generator tool"

[2017-03-27 23:04] karelz commented on #16636
That would mean the difference originally reported is gone, unless I am mistaken, right?

[2017-03-27 23:05] karelz commented on #14897
@corinas can you please provide more details here? Thanks!

[2017-03-27 23:09] mellinoe commented on #16636
@karelz No... the problem is still there, it's just in slightly different proportions. And those differences could easily be explained by me having different hardware than @deppe . On my Ubuntu 16.04 machine, the `Serialize` step takes 85% of the time in .NET Core 2.0.

[2017-03-27 23:10] huanwu commented on #17579
Create a separate project with the existing project for serialization generator tool

[2017-03-27 23:12] huanwu opened #17580 "Support SGEN in core"
Add SGEN function on the project @17579

[2017-03-27 23:13] CIPop opened #17581 "build -Outerloop passes without running any tests"
To repro in the master branch:

[code]

Expected:

Based on `build -?` documentation: Builds source and tests; executes the outerloop tests:

[code]

Actual:

Builds `\src` (and `\pkg`?). Will not build (or run) anything under `\test`.

[2017-03-27 23:13] mellinoe commented on #16636
Ubuntu 16.04 .NET Core 1.1:
[code]

Ubuntu 16.04 .NET Core 2.0:
[code]

[2017-03-27 23:13] karelz commented on #16636
ok, makes sense. If you can reproduce, it's a great start for deeper investigations and experiments, thanks!

[2017-03-27 23:19] weshaggard commented on #17581
Build no longer does test build and run by default. YOu need to call build-tests.cmd. See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md.

There is a shortcut which is `build.cmd -tests -Outerloop` which will build the product and tests.

[2017-03-27 23:21] huanwu opened #17582 "Investigate the possibility to port the serialization desktop tests into core"

[2017-03-27 23:21] weshaggard commented on #17528
There was a decision made to make all our corefx packages that shipped with .NET Core 1.1 to be self-contained, so the dependencies were baselined to match what was shipped at that time.

[2017-03-27 23:22] CIPop opened #17583 "build-tests -outerloop fails after clean -all: "The target "GetBuildConfigurations" does not exist in the project""
Running `clean -all & build-tests` will fail with "The target "GetBuildConfigurations" does not exist in the project."

To work-around use `clean -all & build & build-tests`.

[2017-03-27 23:24] weshaggard commented on #17583
You need to build the product first. See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md.

[2017-03-27 23:24] #17583 closed

[2017-03-27 23:35] CIPop commented on #17581
@weshaggard `build -?` is saying:

Builds source __and tests; executes the outerloop tests__.

Either the code or the docs are out of sync.

[2017-03-27 23:43] CIPop commented on #17583
Argh... my grammar parser was off (and in the context of looking for a single build&test command):

To me "The following builds and runs all tests for netcoreapp in release configuration.
build-tests -release -framework=netcoreapp"

I thought that it builds netcoreapp then runs all tests for netcoreapp 😄 .

[2017-03-28 00:06] abbasl commented on #16994
I changed to netcoreapp1.1 but now my application won't run -- I get the following exception. This is even after specifically adding a System.Data.SqlClient/4.1.0 dependency and I see it in the lock file. Having tried this, I'm not sure if AWS Lambda supports .NET Core 1.1, but I will validate this assumption with a separate test.

**EXCEPTION:**
{
  "errorType": "AggregateException",
  "errorMess

[2017-03-28 00:20] #17447 closed

[2017-03-28 01:01] Jiayili1 commented on #17545
@Priya91 this failing the first time, and I will check this issue on today's build.

[2017-03-28 01:04] judypol opened #17589 "HttpClient doesn't open the connection to the server"
My Code is below:
[code]
if excute 3times is ok,but over 3 times is very slow.

[2017-03-28 01:34] JamesNK commented on #17528
But why did you never release a .NET Core 1.0 version?

[2017-03-28 01:38] Jiayili1 commented on #16945
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/138/testReport/System.Net.Sockets.Tests/SendReceiveEap/SendToRecvFrom_Datagram_UDP_loopbackAddress____1_/

[2017-03-28 01:45] jeffbi commented on #522
Just to keep interest alive, PowerShell needs `IGroupPolicyObject` to implement some cmdlets, but `IGroupPolicyObject` requires STA. See [PowerShell/PowerShell#3353](https://github.com/PowerShell/PowerShell/issues/3353)

[2017-03-28 01:50] Jiayili1 commented on #17373
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_debug/135/consoleText

[2017-03-28 02:16] stephentoub commented on #16765
Closing for now with https://github.com/dotnet/corefx/pull/17584.  We can reopen if/when it repros again.

[2017-03-28 02:16] #16765 closed

[2017-03-28 02:37] NicolasDorier commented on #17010
@Priya91 please wait a bit. The first request is sent before the server is connected. You will then see "hey".

[2017-03-28 02:54] dotnet-mc-bot opened #17591 "Test failure: System.Net.Http.Functional.Tests.CancellationTest/ReadAsStreamAsync_ReadAsync_Cancel_BodyNeverStarted_TaskCanceledQuickly"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.CancellationTest/ReadAsStreamAsync_ReadAsync_Cancel_BodyNeverStarted_TaskCanceledQuickly` has failed.

Elapsed time should be short\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Http.Functional.Tests.CancellationTest.<>c__DisplayClass4_2.<<ReadAsStreamAsync_ReadAsync_Cancel_TaskCa

[2017-03-28 02:56] Jiayili1 commented on #16610
The following test: System.Net.Http.Functional.Tests.DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging
 failed with the same issue

Message:
[code]

Stack Trace:
[code]

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170328.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http

[2017-03-28 03:03] marksmeltzer commented on #17301
Repro steps:

1. Clear out the local nuget cache path (" %HOMEPATH%\.nuget\packages\microsoft.private.corefx.netcoreapp")
2. Perform a dotnet restore on the project
3. Perform a publish build of the project
4. Run the xcopy command above, which only copies newer DLLs (except netstandard.dll) that already exist in the publish dir

After those steps, I would expect to see zero DLLs copied. After all

[2017-03-28 03:15] danmosemsft commented on #17576
@Jiayili1 could you please change src\System.IO.FileSystem\src\System\IO\Win32FileSystem.cs:line 169 so tht if there's an exception creating the directory, it tries again with a new name.

[2017-03-28 03:16] danmosemsft commented on #17569
@davidsh who doubtless is famliar with this.

[2017-03-28 03:29] iSazonov commented on #522
Given that Windows still has a huge number of COM interfaces this Issue need to reopen.

[2017-03-28 03:38] danmosemsft commented on #17591
@Jiayili1 could you please change the line printing this
[code]
to
[code]

[2017-03-28 03:42] danmosemsft commented on #16856
@Jiayili1 is this still failing in the last few days? If not let's close as perhaps I was mistaken and this did have the fix.

[2017-03-28 03:42] danmosemsft commented on #16856
@sokket has this failed in the last 2 weeks?

[2017-03-28 03:43] danmosemsft commented on #17037
@Jiayili1 if someone on your team would like to make an actual product code bug fix, this one could be a good one to start with. Optional - only if you have time and are interested.

[2017-03-28 03:59] danmosemsft commented on #15065
This exception message means that the config.FilePath is empty, or whitespace.
[code]

How that can be I cannot tell fro mreading the code - it is complicated. Needs debugging, or else more logging.

[2017-03-28 04:02] danmosemsft commented on #17420
@Chrisboh in @MattGal 's absence, are Helix runs elevated?

[2017-03-28 04:04] danmosemsft commented on #17187
@Priya91 do you have a preference amongst the two optoins @stephentoub lists above?

[2017-03-28 04:11] danmosemsft opened #17593 "Some IO tests not run on Unix due to "Condition(s) not met: \"IsNotWindowsNanoServer\"""
` System.IO.FileSystem.Tests  xunit   System.IO.Tests.FileStream_ctor_str_fm_fa_fs_buffer_fo/ValidFileOptions` is being skipped because `"Condition(s) not met: \"IsNotWindowsNanoServer\""`

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170328.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileStream_c

[2017-03-28 04:36] mellinoe commented on #17593
That property will return `false` for any non-Windows platform, which doesn't necessarily seem correct just based on the name of it. @Priya91 is that intentional?

[2017-03-28 04:41] danmosemsft commented on #17593
Right, I just realized that myself. It's not causing a probelm elsewhere because it's only used when excluding Unix as well.
[code]

I suggest
1. Rename IsNotWindowsNanoServer to IsWindowsOtherThanWindowsNanoServer
2. Remove now redundant [PlatformSpecific(TestPlatforms.Windows)] wherever it's applied in conjunction with IsWindowsOtherThanWindowsNanoServer.
3. Add IsNotWindowsNanoServer like the c

[2017-03-28 04:45] #16896 closed

[2017-03-28 04:48] mellinoe commented on #17593
Can we just change the current version to return `true` outside of Windows (e.g. match the name of the method) instead of doing all that? Sounds like we could if this is true:

[2017-03-28 04:50] danmosemsft commented on #17593
Er.. yeah. haha. I'l make this change.

[2017-03-28 04:59] danmosemsft commented on #17591
Never mind, I'll do it

[2017-03-28 05:03] karelz commented on #17533
All repos updated, waiting on https://github.com/up-for-grabs/up-for-grabs.net/pull/577

[2017-03-28 05:38] #14747 closed

[2017-03-28 06:04] #16643 closed

[2017-03-28 06:17] karelz commented on #17589
Did you try to target any other URL? (localhost maybe) Or ideally different URLs on each task?
Just trying to make sure you are not flagged by the site as DoS attack.

[2017-03-28 06:29] Jiayili1 commented on #17591
@danmosemsft I'm sorry that I saw it just now.

[2017-03-28 06:31] Jiayili1 commented on #16856
@danmosemsft I will close this issue first since it doesn't fail last few days, if it is repo, I will reopen it.

[2017-03-28 06:49] judypol commented on #17589
this is just a sample,I write a rest service ,and I test it's  performance，get the problem.

[2017-03-28 06:55] tmds commented on #16201
Ah yes, you also need updates for the packages which are already on the machine.
devel:
https://drive.google.com/file/d/0BxjFv_21wKp_OUFyUkxySGQ5Tzg/view?usp=sharing
Perhaps debuginfo is installed too:
https://drive.google.com/file/d/0BxjFv_21wKp_YVNoWWllX3J4ZEk/view?usp=sharing

[2017-03-28 09:25] aviziv commented on #17339
Hi,

I want to update you that now everything is working.
As you suggested I changed the name of the Intermediate to be different from the CA

[2017-03-28 09:48] Jiayili1 commented on #17576
@danmosemsft I don't known how to change the code, do you mean we need to call this method CreateDirectory() with a new parameter if there is an exception?

[2017-03-28 09:50] Jiayili1 commented on #17037
@danmosemsft We'd like to do it, but now I don't know how to change the code. Could you do me a favor?

[2017-03-28 10:00] hseok-oh opened #17601 "[Linux/x86] Change to use official docker image for CI build"
#17182
https://github.com/dotnet/corefx/pull/17182#discussion_r106488967

We are using temporary private docker image for linux/x86 CI build. We need to change it to official one when that is ready to use.

@gkhanna79 @mellinoe

[2017-03-28 11:34] JonHanna commented on #17550
So maybe around 192k would be enough to let it pass for this case?

[2017-03-28 13:20] damtur commented on #13551
Any update on this? We are seeing really poor experience in .net core especially in Linux as well. Is .net core team looking into that?

[2017-03-28 13:29] MattGal commented on #17420
"Elevated" is kind of a Windows-ism, so based on the tests failing I am assuming this question is actually "do the commands on *nix systems run as root by default?", which would be the closest equivalent I can think of here.  The answer there is a no, with the exception of OSX 10.11 (need to fix this, but it's not on the list), however it's fairly easy to elevate if desired.

Previously, as @Priya

[2017-03-28 14:12] stephentoub commented on #17589
I haven't tried your example, but from a quick read there are several problems with it:
1. You're creating a new HttpClient instance for every request.  HttpClient is designed to be used repeatedly and concurrently by any number of requests, so you should create it once and use that same instance for all requests.
2. You're blocking on each request, which means you're going to be blocking all of t

[2017-03-28 14:18] #17593 closed

[2017-03-28 14:46] eerhardt commented on #3571
I ran the following program on my machines:

[code]

With `America/Chicago`/`Central Standard Time` as the time zone:

(Note: Includes the change for https://github.com/dotnet/coreclr/pull/10507)

| **Windows x64** | **MacBook Pro** | **Ubuntu 14.04 VM** |
| :-------------------------------------: | :-------------------------------------: | :-------------------------------------: |
22<br>21<br>20<

[2017-03-28 14:53] karelz commented on #13551
@damtur do you have a specific repro we could analyze?
If there is no repro, there is not much to look into :(

[2017-03-28 14:56] karelz commented on #17589
Seems to be answered above. Closing. Please let us know if you still see any issues with the new code above.

[2017-03-28 14:56] #17589 closed

[2017-03-28 15:26] brianrob commented on #17316
@marksmeltzer, I took a look at these traces this morning.  The biggest differences that I see in the 10 samples traces:

1. JIT compilation time: Lowest - Desktop, Highest: Nightly
2. Regular expressions: Lowest - Desktop and Nightly (equal), Highest: Core 1.1

In the 0 samples traces the JIT compilation difference pops to the top - it looks like regular expressions isn't used as much (probably b

[2017-03-28 15:27] danmosemsft commented on #17037
OK, hold on this one then until I have time to make a note or do it. thanks.

[2017-03-28 15:43] danmosemsft commented on #17576
My bad, I pointed to the wrong place so you coudn't make sense of this. :) I did a PR

[2017-03-28 15:50] danmosemsft commented on #17593
@sokket here's a scenario where I think I fixed a test, and I'd like to see its history after the fix. So ideally I could go to
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170328.01/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileStream_ctor_str_fm_fa_fs_buffer_fo~2FValidFileOptions
which is the fai

[2017-03-28 15:52] abbasl commented on #16994
I don't believe AWS Lambdas support netcoreapp1.1 at this time
- I created another Lambda project with just the minimum dependencies needed to interact with SQL Server and I get a "'System.Data.SqlClient, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' not found in the deployment package or in the installed Microsoft.NETCore.App."
- I did verify that System.Data.SqlClient/4.1.0

[2017-03-28 15:55] RussKeldorph commented on #17550
I tried changing stack size [here](https://github.com/dotnet/corefx/blob/8876b988df5737f154eda5f688dae3568ad5d6cc/src/System.Linq.Expressions/tests/CompilerTests.cs#L45) to 192k.  The test now passes with a Checked runtime, and [this line](https://github.com/dotnet/corefx/blob/8876b988df5737f154eda5f688dae3568ad5d6cc/src/System.Linq.Expressions/src/System/Linq/Expressions/StackGuard.cs#L24) is hit

[2017-03-28 16:02] JonHanna commented on #17550
That sounds perfect.

[2017-03-28 16:10] ericstj commented on #17528
IIRC it was brand new API that wasn't done until .NET Core 1.1.

[2017-03-28 16:14] danmosemsft commented on #17591
It's totally fine I did it before you could see it. Sorry for the noise.

[2017-03-28 16:15] danmosemsft commented on #17037
Whoever fixes this, should use the debugger to confirm my theory before submitting the fix.

[2017-03-28 16:19] danmosemsft commented on #17569
Or @CIPop

[2017-03-28 16:33] abbasl commented on #16994
I'm now able to write to SQL Server using netcoreapp1.0 and System.Data.SqlClient/4.1.0 :-)
- Also verified @jkpindahbc's original comment that going to System.Data.SqlClient/4.3.0 gives a PlatformNotSupportedException

I'm going to add back dependencies one-by-one to determine what exactly forces the project to use an incompatible library version. I'm also keeping option (2) in mind from @weshagg

[2017-03-28 16:47] vancem commented on #17316
An important aspect of just in time (JIT) compilation is that for any particular method it only happens once per program execution.    Thus it can be an issue in 'startup' scenarios and scenarios where processes start up and shut down rapidly (e.g many times a second).   However it should not be an interesting factor if execution is longer (e.g programs run for seconds or more).

It is not clear w

[2017-03-28 16:54] sokket commented on #17593
@danmosemsft Gotcha, thanks for the direct visual and feedback. This is definitely part of my plan, seeing test history is vital for diagnosing failures and flakiness

[2017-03-28 17:11] sab39 commented on #1272
I'm in the same boat as @fabricefou - in my case a Web Forms app that stores a lot of custom objects in ViewState. Migrating many of these objects to use immutable instead of mutable collections should be a no-brainer, but the lack of serializability makes it impossible without complicated workarounds.

[2017-03-28 17:19] weshaggard opened #17611 "Non-shipping packages for .NET Core 2.0"
This issue is tracking packages that we shouldn't make stable for the .NET Core 2.0 release. @ericstj  do you have any suggestion for how to do this in code so we don't accidentally stabilize these?

- System.Memory

cc @ericstj @Petermarcu

[2017-03-28 17:22] abbasl commented on #16994
The dependencies that force the project to use an incompatible library version:
- "EPPlus.Core": "1.3.0" (used to read/write Excel spreadsheets)
- "Box.V2.Core": "2.14.2" (used to interact with Box.com)

Option 2 didn't work for me. It causes the AWS Lambda to exit with message "Process exited before completing request".

My conclusion: I'll be refactoring my project to segregate incompatible depe

[2017-03-28 17:24] Petermarcu commented on #17611
We also need to make sure it isn't exposed in the surface area of netcoreapp,

[2017-03-28 17:34] ericstj commented on #17611
@Petermarcu it is not.  That's already handled by not including it and the closure walks that we do.  Folks can disable this stuff, and we'd have to catch that in code review.  We could add more redundant checks but really that's just more stuff that folks can delete and we'd have to catch in code-review.

The process for stabalizing things isn't done in code.  We check in an update to the package

[2017-03-28 17:59] terrajobst commented on #17414
Looks mostly good but we decided that these should be changed:

[code]

[2017-03-28 18:04] RussKeldorph commented on #17550
@JonHanna Just to be clear: are you planning to make this change, or do you need me to?  I'm blocked, so I don't mind, but I'd just as soon you do it. :)

[2017-03-28 18:12] dagood opened #17614 "Environment.GetEnvironmentVariable returns garbage string if variable is set to empty string on Ubuntu 14.04"
When an environment variable is empty, but set (like `var=`), `GetEnvironmentVariable` will return various garbage values for that variable in Ubuntu 14.04 (tested in Docker).

[Gist with Dockerfile and Program.cs to repro](https://gist.github.com/dagood/bce973c70021a010f70c2ec220c0f56a). (Dockerfile is based on the Core-Setup build infra, which is where this was encountered.) Just the execution:

[2017-03-28 18:14] karelz commented on #17414
@ahsonkhan please update the proposal on the top, so that we do not loose track  of it, thanks!

[2017-03-28 18:22] jkotas commented on #17414
@terrajobst Could you please briefly explain motivation for this change?

[2017-03-28 18:32] WinCPP commented on #7758
@danmosemsft Thanks for the reply. I think I will take a stab at #16646. Will continue more on that thread... Thanks!

[2017-03-28 18:35] #17576 closed

[2017-03-28 18:36] WinCPP commented on #16646
@danmosemsft @sepidehMS I think I will start with the 2nd one  System.Xml.XPath.XPathNavigator (21%) coverage. Just in case anyone else also wants to work in parallel, then he / she can pick from the other two.

Looks like the files are huge and lots of it to do. So would it be ok if I submit coverage incrementally in different PRs. Also just in case I get exhausted after sufficient submission, is

[2017-03-28 18:58] danmosemsft commented on #16646
Yes, it's fine to submit incrementally. Yes, any amount of work you do here is fine -- you're not signing up to fix everything. It's all appreciated.

[2017-03-28 19:00] danmosemsft commented on #16646
@sepidehMS @krwq did we already take a look at reusing Mono tests? If not, @WinCPP, we can do that if it makes more sense than writing new ones.

We can copy any tests from Mono into our tree, as long as we do this:
[code]

[2017-03-28 19:03] sepidehMS commented on #16646
@danmosemsft No, we haven't looked at Mono tests for Xml yet.

[2017-03-28 19:07] karelz commented on #17533
All repos are updated - labels, docs, http://up-for-grabs.net site as well.

[2017-03-28 19:07] #17533 closed

[2017-03-28 19:08] danmosemsft commented on #16646
OK @WinCPP I think that's a great place I recommend you start, we can increase code coverage very quickly that way and also discover any functional inconsistencies. Take a look in the MOno repo...

[2017-03-28 19:08] karelz commented on #17533
Thanks @borsna for raising it up and helping getting the fixes in!

[2017-03-28 19:08] WinCPP commented on #16646
@danmosemsft sure!

[2017-03-28 19:45] shawinder commented on #4870
I am trying to call a http/2 api using HttpClient but in a project targeting **4.6.2** can't find HTTP 2.0 support. System.Net.HttpVersion has only **Version10** and **Version11**. Just want to confirm if I Http/2 is supported for Httpclient in Framework 4.6.2 ?

[2017-03-28 19:50] davidsh commented on #4870
HTTP/2 protocol support is NOT support on any version of .NET Framework binaries.

To use HTTP/2 protocol support, you must use .NET Core.  You must also use a supported version of Windows 10.  And you need to manually specify `HttpRequestMessage.Version = new Version(2,0);`

You can also use the separate System.Net.Http.WinHttpHandler package which provides an alternate handler for HttpClient.  Y

[2017-03-28 19:51] danmosemsft opened #17616 "Add messages for PNSE in Serialization"
These PNSE are in Serialization code.

Would you consider throwing up a PR that either adds a message or a comment to each?

eg
`throw new PlatformNotSupportedException(SR.PlatformNotSupported_ComInterop)`
where the message is like `<value>COM Interop is not supported on this platform.</value>`

Or if it’s something that’s not worth a specific resource, just a comment like this on the same line sa

[2017-03-28 19:51] StanislavUshakov commented on #16829
The 3rd point (System.Security.Cryptography.Xml.SymmetricKeyWrap) is done in [PR 17599](https://github.com/dotnet/corefx/pull/17599)

[2017-03-28 20:01] davidsh commented on #17591
cc: @stephentoub

This test is already using the LoopBackServer.  Not sure what other mitigations we can do.  Most likely a slow CI machine.

[2017-03-28 20:01] sekhonconsultants commented on #4870
Thanks for the quick reply. In second option **WinHttpHandler**. Do I just need to change the version to 2.0 or it would require any other changes?

[2017-03-28 20:05] shawinder commented on #4870
Thanks for the quick reply. In second option **WinHttpHandler**. Do I just need to change the version to 2.0 or it would require any other changes?

[2017-03-28 20:05] WinCPP commented on #16646
@danmosemsft @sepidehMS I am trying to understand mono repo structure to locate the relevant tests. I see a folder hierarchy that has 'CoreFx' in its path. `E.g. M:\mono\external\corefx\src\System.Private.Xml\tests`. Is that the place to look for the tests. Could you please give quick hint for where to look into mono repo, for any one of the 3 in the [first comment](https://github.com/dotnet/coref

[2017-03-28 20:05] davidsh commented on #4870
First, discussions on closed issues such as this are not guaranteed to get a response from anyone since the issue is closed.

Second, you can use WinHttpHandler on .NET Framework.  You must only use the SendAsync() methods from HttpClient.  Those are the only ones that allow you to pass in an HttpRequestMessage.  Other methods, use a default HttpRequestMessage that uses Version(1,1) only.

You hav

[2017-03-28 20:09] danmosemsft commented on #16646
@krwq also

[2017-03-28 20:46] terrajobst commented on #17116
We've discussed this today between us and the compiler guys. Here is what we left with:

[code]

* **Static detection**. The presence of a field alone indicates whether the code compiled against it can rely on the runtime providing the feature. This allows us to model runtime capabilities like any other, which includes leveraging our existing infrastructure for detecting breaking. Also, this allow

[2017-03-28 20:55] jcouv commented on #17116
@terrajobst Updated proposal description to match the agreement you documented. Thanks

[2017-03-28 21:00] JonHanna commented on #17550
I'll open a PR shortly.

[2017-03-28 21:01] ahsonkhan commented on #17414
It is inconsistent to have an AsSpan() method that takes parameters (an index and length). There are performance issues with using s.AsSpan().Slice(1, 3) versus s.SliceAsSpan(1, 3). Therefore, to convey that we are slicing (i.e. getting a subset) and converting to a different type (string to span for example), while keeping performance, we use SliceAsSpan. This also leave Slice (without a suffix)

[2017-03-28 21:26] jkotas commented on #17414
Why do you think so?

We have been there before with IndexOf and proved that it does not make sense to fold slicing with other APIs, and that not folding it is actually slightly better in the case of IndexOf. I am pretty sure that similar story will replay itself here if we go, measure and analyze the results. There should no performance penalty for the separate Slice method, assuming the optimiza

[2017-03-28 21:28] karelz opened #17619 "Announcement: Driving towards zero 2.0 bugs by May 10 (ZBB)"
As we are getting closer to .NET Core 2.0 Preview and .NET Standard 2.0 Preview [ship dates](https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates), we would like to **drive [2.0.0 bugs](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A2.0.0) down to 0 by May 10** (see [milestone details](https://github.com/dotnet/corefx/milestone/4)) = ZBB (

[2017-03-28 21:30] danmosemsft commented on #13827
Moving to future as it doesn't seem to be hitting anyone else right now

[2017-03-28 21:40] karelz commented on #17619
cc'ing recently active contributors (in random order)

@hughbe @justinvp @JonHanna @xoofx @AlexRadch @stephenmichaelf @nietras
@benaadams @fujiy @jamesqo @SamuelEnglard @couven92 @tintoy @sparraguerra @vcsjones
@bartdesmet @lmolkova @dnickless @bbowyersmyth @matekm @fitzchak @omajid
@seanshpark @hseok-oh @ofirmakmal @hqueue @chunseoklee @Gregory-Bell @jcouv
@Clockwork-Muse @jyoungyun @odyth @lemma

[2017-03-28 21:40] karelz commented on #17619
@roji @alaatm @cakine @TiagoSoczek @brfalcon @ChrisEelmaa @arc001 @thiagocamargos
@mramosMS @anthonylangsworth @borgdylan @stevedesmond-ca

[2017-03-28 21:53] thomaslevesque commented on #14119
What's the status of this issue? It's still labeled `api-needs-work`, but there seems to be an agreement on the shape of `MaxBy`/`MinBy`, at least. Maybe the issue should be split into separate issues for each method (or each method family) to ease the process of refining the API.

IMO `MaxBy` and `MinBy` are sorely needed. They address a very common need, and the current alternatives are horrible

[2017-03-28 21:54] stephentoub commented on #16945
@steveharter, actually, FYI, it looks like the test has failed not just on EAP but also on APM, which was the one that previously existed.

[2017-03-28 21:55] ahsonkhan commented on #17414
[code]

In a) you would end up creating a span on the whole range first and then slicing and creating a smaller span.
While in b) you only create one span that is a view over the subset.

**I noticed a performance difference:**
1088 ms vs 820 ms

[code]

[2017-03-28 21:56] JamesNK commented on #17528
So you didn't create a 1.0 version?

The problem is right now I'd like to use it with Json.NET but having 1.1 dependencies is causing DLLs to be copied into netcoreapp1.0 outputs which people don't like. If I want to only depend on 1.0 DLLs then I can't reference System.Runtime.Serialization.Formatters.

[2017-03-28 21:57] jamesqo commented on #14119
@thomaslevesque

That seems unnecessary since the return value doesn't need the type of the sequence before applying the selector. Just do `source.Select(...).SequenceEqual(other.Select(...))` The other set operations you mention seem like they would be good additions, though.

[2017-03-28 22:01] stephentoub commented on #16945
@steveharter, this looks like the same problem as was fixed for some other tests in https://github.com/dotnet/corefx/issues/5185.  The test is sending 10 packets over UDP and expecting all 10 to be received, which isn't guaranteed. There's even a TODO in the test stating that it needs to be hardened against such loss:
https://github.com/dotnet/corefx/blob/ed823ad9470f2ecf412d5089fe36cd6958fc5834/s

[2017-03-28 22:01] thomaslevesque commented on #14119
It's true that `SequenceEqualBy` can be achieved with existing methods, but it's less intuitive. Also, a specific implementation could be slightly faster, since it wouldn't have the overhead of the `Select` iterator.

[2017-03-28 22:05] marek-safar commented on #17116
Do I understand it correctly that

[code]
will exist in netstandard.dll API and when executed the runtime specific mscorlib will handle the true/false logic.

[2017-03-28 22:06] safern opened #17621 "System.Net.Http.FunctionalTests show a debug assert window in desktop"
The following tests marked as Outerloop show a debug assert window when running in desktop:

* System.Net.Http.Functional.Tests.PostScenarioTest.PostRewindableContentUsingAuth_NoPreAuthenticate_Success
* System.Net.Http.Functional.Tests.PostScenarioTest.PostUsingNoSpecifiedSemantics_UsesChunkedSemantics
* System.Net.Http.Functional.Tests.PostScenarioTest.PostNonRewindableContentUsingAuth_NoPreAuth

[2017-03-28 22:07] alexperovich commented on #13343
This is a desktop only issue. Pushing to future.

[2017-03-28 22:08] stephentoub commented on #17621
Which one?

[2017-03-28 22:11] safern commented on #17621
This is the assert failure:

![image](https://cloud.githubusercontent.com/assets/22899328/24429855/b3c76c12-13c8-11e7-98fe-501e19bf6c37.png)

[2017-03-28 22:14] weshaggard commented on #17024
We should remove SystemColors from .NET Core, see conversation at https://github.com/dotnet/standard/issues/240

[2017-03-28 22:17] JonHanna commented on #16916
Me too, that's why #3547 introduced that change :smile:

I'd actually prefer if `new EnumerableQuery<T>((IEnumerable<T>)null)` threw `ArgumentNullException` but since it's possible to fruitfully use such an object as an `IQueryProvider` that could have broken working code.

The documentation isn't quite incorrect. If you create an `EnumerableQuery<T>` from an expression then the `IEnumerable<T>` s

[2017-03-28 22:18] alexperovich commented on #4998
@kouvel are you currently working on this?

[2017-03-28 22:18] davidfowl commented on #17528
We wee supposed to denounce LTD and FTS for packages because it really doesn't work. We have this problem all over the stack and even for 3rd party packages. There's no sane way to fork packages along LTS and FTS lines when the only real pivot is a TFM.

All this to say my advice to you is not to worry about 1.0. The assets get copied to the output folder and there's no workaround other than to cr

[2017-03-28 22:22] davidsh commented on #17621
This is a behavior difference between Desktop and Core.  I need to figure out if we need to "fix" this.

[2017-03-28 22:24] steveharter commented on #16945
FWIW according to jdash, the tests started failing on 3/9/2017. The refactoring work was on 2/26/2017 - https://github.com/dotnet/corefx/commit/ca392ca130d417a8ff487060fc5a7d7d7be6db07#diff-5d77ee23eb2ea596e218f9c1ef09d793
[code]

[2017-03-28 22:28] steveharter commented on #16945
I believe many timeouts or proposed UDP packet loss are interference from other tests that happen to listen on another tests port, esp on Linux where tests do a receivefrom on a port that they did not bind to (IPV4\IPV4 dual mode tests), so the 'bad' test receives the data causing the 'good' test to timeout or miss some data.

[2017-03-28 22:35] marksmeltzer commented on #17316
@vancem, I think the data above show startup JIT is the root cause of the large difference on the 0th run. That's where the app starts, executes a single task, and then shuts down. So I pay the full JIT price for that run. In the rest of the data where I'm collecting multiple samples for profiling purposes, the JIT impact is mitigated and thus the sample times between the three platforms are prett

[2017-03-28 22:38] jkotas commented on #17414
Thanks for sharing the assembly fragments.

The difference between these two fragments is caused by CSE for `length/2`. The JIT decided to CSE length/2 in the second case, but not in the first case. It is side-effect of subtle code change. It does not prove that AsSpan+Slice is worse than SliceAsSpan. You just got unlucky. It could have turned the other way around as well.

You should see the diff

[2017-03-28 22:43] jkotas commented on #17414
I am seeing exact same code for the two - just different registers used:

[code]

[2017-03-28 22:43] ahsonkhan commented on #17414
Fascinating. CSE = common sub-expression elimination.
The difference shrinks to essentially zero (+/- a bit) once I use the local variable for length/2.

Would the same hold true for string.Slice as well vs string.AsSpan?

[2017-03-28 22:43] jkotas commented on #17414
Yes.

[2017-03-28 22:45] vancem commented on #17316
PerfView (the tool you used) has some documentation in its 'JitStats' report, while written for .NET Desktop is still generally applicable to .NET Core.   In particular the docs on Background JIT compilation are applicable.

You can precompile for .NET Core using a tool called crossgen (it is part of the .NET runtime nuget package).    I don't know of documentation on it over and above what the /?

[2017-03-28 22:47] marksmeltzer commented on #17316
@brianrob, looks like I collected the trace data using my custom build of CoreFx. I have made improvements to the runtime performance of the regex engine. In the sample timing data I posted (the image with the table), I was careful to run those on the stock nightly of CoreFx. The timings for stock nNext are slightly slower than 1.1 across all sample sizes > 0.

When I got around to use PerfView, I

[2017-03-28 22:53] marksmeltzer commented on #17316
@vancem, Thanks for the tip! I will have a look at the crossgen tool.

Background JIT would probably work really well for console apps in general because the JIT profile key can based on the impactful set of runtime arguments (e.g. CLI options set by the user). I'm guessing that strategy would provide a pretty decent win on the .NET framework version of the app as well.

Thank you for mentioning b

[2017-03-28 22:55] svick commented on #14119
@thomaslevesque

Not anymore, see https://github.com/dotnet/corefx/pull/2401.

[2017-03-28 23:04] marksmeltzer commented on #17316
@brianrob, I just looked at the the JIT states for the nNext samples I posted above, and it's heavy on JITing some of the framework DLLs from my custom build. That is skewing the results a LOT. I'm running a stock build now and will post the revised stats for vNext Stock once that completes.

I will probably get the data posted within the next few hours.

[2017-03-28 23:04] thomaslevesque commented on #14119
@svick nice!

[2017-03-28 23:08] VSadov commented on #16767
It is often useful to associate portions of shared data with workers running on a particular CPU core. The goal is to minimize the penalty of false sharing when workers executing on different cores accessing the same data.

A typical example would be a striped counter where workers would increment an instance of a counter that is specific to the given execution context, which would be cheap since

[2017-03-28 23:08] ahsonkhan commented on #17414
@karelz, @terrajobst, in light of the info (and perf tests), would it be best to revert back to the originally proposed API (using AsSpan) and not have SliceAsSpan overloads that take index and length?

[2017-03-28 23:11] safern opened #17627 "[Netfx]: HttpUtility.UrlDecodeToBytes doesn't decode correctly when having a UTF8 encoded character."
In full framework `HttpUtility.UrlDecodeToBytes` when the string to decode has a UTF8 encoded character e.g (%u0061 -> a) it wouldn't decode it and would leave it as it is.

Example

[code]

Would print out the same string and it should print: `"http://127.0.0.1:8080/appDir/page.aspx?foo=bar"`

cc: @davidsh

[2017-03-28 23:22] chrisdunelm opened #17629 "Enumerable methods with optimizations for IList<> should also optimize for IReadOnlyList<>"
Enumerable methods such as `Last()` contain [an optimization for `IList<>`](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Last.cs#L62). These methods should also optimize for `IReadOnlyList<>`

[2017-03-28 23:22] jkotas commented on #16767
The implementations of the underlying OS APIs tend to be slow. You pretty much always have to do caching to make it reasonable.

You cannot ever use this API for synchronization. It is not reliable for synchronization. You can be running on a different core by the time you got the result. You can only ever use it for performance optimizations.

I do not that this is useful. I think that the runtim

[2017-03-28 23:44] marksmeltzer commented on #17301
@wadewegner another interesting caveat: after grabbing the nightly from 3/26, my dotnet publish build no longer produces an EXE. Instead, I find there's an "apphost.exe" in the publish folder, but I cannot get it to do anything. Must be a new thing. I'll have to check to see if there's any new info on the publish process.

[code]

[2017-03-28 23:57] danmosemsft commented on #16825
Using the tree shaker it looks like theres roughly 200KB dead, at least that's a higher bound

[2017-03-29 00:00] ericstj commented on #16825
Here's the results of running that tree-shaker. https://gist.githubusercontent.com/ericstj/4c5b0c4d54047134ac95e7f8347ccb5e/raw/59008d550d00438df4adedd2e4ad7c25f5fc5148/System.Private.Xml.diff.html

[2017-03-29 00:02] danmosemsft commented on #17591
Do you want to raise the timeout from 10 seconds? Or would that defeat the purpose of the test?

[2017-03-29 00:03] jkotas opened #17631 "Add regression test for https://github.com/dotnet/coreclr/pull/10352"

[2017-03-29 00:05] ahsonkhan commented on #17414
@jkotas, I modified my test app (to return the span) and observed the performance difference again.

[code]
**Output:**
1094 : 10
827 : 10

                span = array.AsSpan().Slice(halfLength, 10);
00007FFCB39B24F9  lea         rax,[rbp+10h]
00007FFCB39B24FD  mov         qword ptr [rsp+30h],rax
00007FFCB39B2502  mov         eax,dword ptr [rbp+8]
00007FFCB39B2505  mov         rdx,qword ptr [rsp+

[2017-03-29 00:06] jkotas commented on #17631
@ezverev Are you interested in adding the regression test?

It should go to https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/TimeSpanTests.cs

[2017-03-29 00:15] danmosemsft opened #17633 "Audit configurations of CoreFX packages"
We should probably do these two audits on packages in CoreFX:

1. If the refs has a netstandard configuration but the impl does not, satisfy ourselves that this is reasonable. For example if the impl is never going to work on anything but one platform, we might want to make the refs configuration platform specific.

1. If the impl has platform specific configurations, satisfy ourselves that they c

[2017-03-29 00:19] danmosemsft commented on #16825
YOu'll have to save it locally to see it, they send as text/plain.

[2017-03-29 00:23] danmosemsft commented on #17316
@marksmeltzer re your code contribution comment - we certainly welcome any PR that improves performance so long as (1) it's backed up by profile data on a range of realistic inputs (2) the code complexity is acceptable -- for hot functions we can tolerate some cleverness, for less interesting areas we would not (3) it doesn't introduce breaking functionality changes (4) any memory or footprint cha

[2017-03-29 00:36] danmosemsft commented on #17614
Could we be getting back `name=` with `=` as the last character? And this code is going past the end

https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/pal/src/misc/environ.cpp#L942
[code]

[2017-03-29 00:38] danmosemsft commented on #16646
I think they're here
https://github.com/mono/mono/blob/master/mcs/class/System.XML/Test/System.Xml.XPath

[2017-03-29 00:45] tarekgh commented on #17633
@danmosemsft who is going to do this task?

[2017-03-29 00:55] safern commented on #13746
I did a further investigation on this issue and looks like the implementation is already done. The PR that was abandoned was to add tests on corefx side since the implementation lives in coreclr.

The implementation was added in this PR: #8560

Abandoned PR to add tests: #14621

So the only thing that we are missing to mark this issue as completed is to add tests in corefx.

[2017-03-29 01:00] #13254 closed

[2017-03-29 01:00] VSadov commented on #16767
CC: @joperezr @danmosemsft @jkotas

[2017-03-29 01:02] VSadov commented on #16767
@jkotas - i have misused "synchronization" there. What I meant is to introspect into things related to threading. - Basically the OS method would need to be reasonably fast to be useful at all.

[2017-03-29 01:06] VSadov commented on #16767
Also CC: @vancem

[2017-03-29 01:09] VSadov commented on #16767
My point for returning `-1` as a failure is that I can see when user might want to know when numbers are fake.
Providing a separate API to query whether the CurrentProcessorNumber is real, seems too heavy.

[2017-03-29 01:09] danmosemsft opened #17636 "Debug.Assert (or Contract.Assert) failure when running on Desktop will hang the test run"
When a `Contract.Assert` fails it seems we pop assert UI which hangs the entire test run
https://github.com/dotnet/corefx/issues/17621

Note that `Debug.Assert` would have the same behavior in fact it's what's doing it.

cc @safern

[2017-03-29 01:12] danmosemsft commented on #17636
Looks like in S.D.Assert.Fail it checks `if (Debugger.IsAttached == true)` but only after the dialog has dismissed.

[2017-03-29 01:12] VSadov commented on #16767
I do not have a very strong opinion on the caching part. If the underlying OS implementations do tend to be slow, caching might be acceptable.

It would be less then ideal, but would still be better than CurrentManagedThreadId

[2017-03-29 01:12] danmosemsft commented on #17633
@tarekgh I don't know --  unless @weshaggard or @ericstj plan to. :|

[2017-03-29 01:16] davidsh commented on #17621
We currently use `Contract.Assert` in NETFX code. Normally we don't use Contract.Assert in .NET Core....we have changed to use Debug.Assert.  But since we ported that code to build the OOB System.Net.Http for NETFX, we didn't want to change any of that Desktop code.

[2017-03-29 01:17] davidsh commented on #17621
And regarding this test failure on NETFX.  What is really happening here is that the test was written to validate the .NET Core behavior (which is different from NETFX).  So, the real "fix" here is to 1) update the test to validate NETFX behavior and 2) update the product code to make it behave like Desktop.

[2017-03-29 01:27] jkotas commented on #16767
What would the user code do about this case? I believe the only reasonable option is to generate their own fake numbers. And so the API can just do it for them.

[2017-03-29 01:28] rionmonster commented on #17034
Is there anything else that needs to be done related to this? The PR has been merged. I didn't know if the issue was staying open for housekeeping reasons or if it had just been passed over.

Also - will any potential changes related to this need to be added into the CoreCLR repo?

[2017-03-29 01:29] ctolkien commented on #17619
`milestone details` links to the edit page (which non owners can't access) should be: https://github.com/dotnet/corefx/milestone/4

[2017-03-29 01:32] danmosemsft commented on #17034
I think we just overlooked it. If you put the text "fixes #nnnn" in the PR then github closes the issue for you.

For your 2nd question -- I didn't personally look but I don't think I saw a PR yet that uses it in coreclr (in corelib). You'd be welcome if you're interested, although at the moment mainly focusing on 2.0 stuff per https://github.com/dotnet/corefx/issues/17619

[2017-03-29 01:32] #17034 closed

[2017-03-29 01:35] danmosemsft commented on #17619
Thanks @ctolkien I fixed the link. As you see we have a lot to do :)

[2017-03-29 01:36] tarekgh commented on #17633
@weshaggard @ericstj any thoughts around this issue to have it done soon?

[2017-03-29 01:39] judypol commented on #17589
@stephentoub thanks.

[2017-03-29 01:48] danmosemsft commented on #17614
I think this case `name=` is anticipated in a different context, suggesting it does happen:
https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/pal/src/misc/environ.cpp#L844

[2017-03-29 02:28] VSadov commented on #16767
@jkotas - there are multiple ways to fake the number. Make it `0`always, mask low bits of ManagedThreadId, or perhaps hash/rotate/mix the ThreadId before masking to make it more random and remove possible bias. That would result in fewer collisions, but add extra cost...

I am just afraid we may not be able to provide a good-for-all solution.

[2017-03-29 02:33] danmosemsft opened #17639 "Some types missed from System.Security.Permissions"
They seem to have been **arbitrarily** omitted from System.Security.Permissions.cs and we probably should have them as they're easy to stub.

They aren't in Standard so in that sense we aren't obliged to add these and could add them out of band but some like FileIOPermissionAttribute have some significant usage (5+%) in some of our corpuses. Example, I tried to port Antlr3 and it failed because of

[2017-03-29 02:47] marksmeltzer commented on #17316
@danmosemsft, that's what I expect from a framework: high bar for backward compatibility. When CoreCLR and CoreFX were first announced, I had the initial thought of how great it would be to start fresh and do everything "right". However, that would also have been no backward compatibility and rewriting more libraries, apps, etc. Not a very good selling point for attracting an audience.

On the oth

[2017-03-29 02:48] jkotas commented on #16767
The implementation of CurrentExecutionId has to have a cache for the mainline case anyway because of calling the OS each time is too expensive. An extra one-time cost for the fallback case does not matter.

The key value prop of .NET libraries is to provide good-enough-for-all solutions.

We can either have GetCurrentProcessorNumber() API that is slow, calls the underlying OS, returns -1 on failur

[2017-03-29 02:56] Jiayili1 commented on #16201
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/143/testReport/System.Net.Tests/TaskWebClientTest/UploadString_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-03-29 03:03] jkotas commented on #17316
Zero. It should be pretty easy to make a standalone version of it. It depends on other public APIs only:
https://github.com/dotnet/corefx/blob/master/src/System.Text.RegularExpressions/src/System.Text.RegularExpressions.csproj#L46

We want to hear about any internal secret sauce used by the core library that is needed to build great  upstack libraries. We would want to look into exposing it via pu

[2017-03-29 03:04] danmosemsft commented on #17639
Antlr3 is a top nuget package, we should at least add FileIOPermissionAttribute and KeyContainerPermission.

For future reference, here are other ones that could be stubbed, but these are lower priority and we can track separately:
[code]

[2017-03-29 03:07] danmosemsft commented on #16585
@steveharter what's your expected ETA for this?

We see CSP absence when testing API compat of popular nuget packages. When we rank PNSE exceptions by popularity, the CSP types together are top of all unimplemented types so it's basically the biggest hole remaining.

[2017-03-29 03:21] #17550 closed

[2017-03-29 03:27] marksmeltzer commented on #17316
@jkotas,

First, when I said "internals" I mean things declared with the "internal" access keyword. I agree with your assessment that the regex project is only referencing the public APIs, but it may still have dependencies on some of the APIs declared as "internal". If the regex library isn't a "friend" of the core libraries then we can safely assume that it doesn't reference any internals. If we

[2017-03-29 03:28] danmosemsft commented on #16585
Note that for some reason `SHA256CryptoServiceProvider`, `SHA384CryptoServiceProvider`, and `SHA512CryptoServiceProvider` are not implemented even on Windows.

I opened https://github.com/dotnet/standard/issues/269 to ask about whether they should be in the standard. Ideally they'd be in Windows either way, but that's not tracked by this issue which concerns stuff that's in Standard.

[2017-03-29 03:33] danmosemsft commented on #16926
This was done for Windows and Unix (without result) but I'm not convinced it actually did anything on Unix.

I would like to do this for 2.0 but I can't say it's vital.

[2017-03-29 03:36] danmosemsft commented on #16696
Changing to future since no evidence this affects shipping code

[2017-03-29 03:38] jkotas commented on #17316
regex is not friend of the core libraries. FWIW, we are trying to not use friends at all in the core libraries - not completely there yet, but close.

Perfect. Here is a process that we follow for adding new APIs: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md . It may be useful to open an issue per set of similar apis to feed into this process natura

[2017-03-29 03:38] danmosemsft commented on #17080
Added retries in 3112c62

[2017-03-29 03:38] #17080 closed

[2017-03-29 03:45] VSadov commented on #16767
Would it be possible to have both `GetCurrentProcessorNumber()` and `CurrentExecutionId` ?

[2017-03-29 03:46] marksmeltzer commented on #17316
@jkotas, wow! I did not know that was one of the design goals for CoreFX. I think that's great. I'm still getting my feet wet here... I'm used to the assumptions I've built up from working with .NET since the early alpha days. Lots of biases and assumptions need revising.

I guess I'm left wondering if this will have any impact on the full framework down the road. If we expose a really nice API in

[2017-03-29 03:47] danmosemsft commented on #15131
@sepidehMS I think you did this or do I misremember? I guess you went through the tests, but nobody looked through the implementation?
If so that's probably enough for you to close this.
@safern

[2017-03-29 03:53] VSadov commented on #16767
CurrentExecutionId  seems something that most people will want for CPU-specific data and we can implement it efficiently.

GetCurrentProcessorNumber()  has pretty clear semantics and can be used for something other than managing CPU-specific data. Or can implement be used to implement alternative to `CurrentExecutionId` if user is unhappy with ours - does not like caching, but ok with OS costs, et

[2017-03-29 03:54] brianrob commented on #17316
@marksmeltzer, thanks for the JitStats views.  They show a diff both in the count of methods, time, and even assemblies that have JIT time.  The diff of JIT time is about 240ms.

The three assemblies that have JIT time on 2.0 but not 1.1 are:
 - System.Text.RegularExpression.dll: 115ms
 - System.IO.FileSystem.dll: 22.3ms
 - System.Console.dll: 13ms

This doesn't account for the whole diff, but is

[2017-03-29 03:58] brianrob commented on #17316
@marksmeltzer, I just saw your earlier message.  Yes, if you're building the CoreFX libraries on your own, they are likely not pre-compiled.  As part of production of the shared framework, they get pre-compiled.  Thus, the binary builds posted on http://github.com/dotnet/cli will have better start-up characteristics than if you build the binaries directly in corefx and patch them into an existing

[2017-03-29 04:19] marksmeltzer commented on #17316
@brianrob precompilation FTW. That didn't dawn on me until I saw the JIT stats view for 1.1 versus vNext using my local build. That made it pretty obvious it was spending a lot of time JITing my locally built CoreFX DLLs.

Apologies for any head scratching that may have caused on your end. I'm not used to this new power of being able to compile my own framework DLLs, and had taken for granted the

[2017-03-29 04:22] brianrob commented on #17316
@marksmeltzer, no worries at all.  I'll be interested to see the updated results.

[2017-03-29 04:27] jkotas commented on #16767
Sounds fine to me.

[2017-03-29 04:45] danmosemsft commented on #17126
@saurabh500 you can see the full diff between (selected part of) Desktop and Core in this file.

https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt

In the list above, I've only looked at missing members. Missing Types are generally not as interesting as explained above -- we can in theory add them separately. Certainly it would be great to bring back

[2017-03-29 04:46] danmosemsft commented on #17126
In fact, given this is now post 2.0, I'd say members and types are equally interesting.

[2017-03-29 05:01] hseok-oh commented on #17542
Fixed

[2017-03-29 05:01] #17542 closed

[2017-03-29 05:27] karelz commented on #17316
From skimming the thread it looks like there is not known problem with 2.0. Moving to Future.
If there is nothing left to track on this (long) issue, please close it. Thanks!

[2017-03-29 05:41] Jiayili1 commented on #16610
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win10_release/141/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledActivityLogging/

[2017-03-29 05:43] karelz commented on #16610
@steveharter bumping priority to P2 in OneNote due to frequency of failures (1/week)

[2017-03-29 05:48] karelz commented on #17633
Moving to Infra where we track packaging ... Meta has plenty code-related cross-cutting stuff.

[2017-03-29 06:05] dotnet-mc-bot opened #17643 "Test failure: System.Globalization.Tests.NumberFormatInfoNumberGroupSizes/NumberGroupSizes_Get(format: NumberFormatInfo { CurrencyDecimalDigits = 2, CurrencyDecimalSeparator = \".\", CurrencyGroupSeparator ..."
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.NumberFormatInfoNumberGroupSizes/NumberGroupSizes_Get(format: NumberFormatInfo { CurrencyDecimalDigits = 2, CurrencyDecimalSeparator = \".\", CurrencyGroupSeparator ...` has failed.

Assert.Equal() Failure
    Expected: Int32[] [3, 2]
    Actual:   Int32[] [3]

        Stack Trace:

           at System.Globalization.Tests.NumberF

[2017-03-29 06:10] marksmeltzer commented on #17316
@karelz it has been a winding journey, mostly due to my errors. However, there is still a noticeable performance drop on vNext. I will be posting data for @brianrob soon for review.

[2017-03-29 06:12] karelz commented on #17316
Thanks! We can upgrade the bug back to 2.0 when we have some evidence (@brianrob can take care of that)

[2017-03-29 06:14] safern commented on #17621
Well I think we should be as compatible as possible with NETFX, why is the behavior different in this case?

Should we close this issue and open another one to track this difference in behavior?

[2017-03-29 06:18] karelz commented on #17116
The API approval is for .NET Core only. We will update .NET Standard in future version when all/most platforms support the API. All platforms that can support it should do it.

[2017-03-29 06:26] safern commented on #13746
Taking this one.

[2017-03-29 06:44] karelz commented on #17414
Flipping back to api-needs-work, until we have clear green light from @KrzysztofCwalina @jkotas @terrajobst ... there are signs of approving the original shape in emails, but it is not 100% clear to me ...

[2017-03-29 07:55] nietras commented on #17414
Currently, the slow Span `Fill`/`Clear` member methods use internal knowledge of `Span` to have two code paths:

- ref based for managed memory
- pointer based for unmanaged or pinned memory

Changing to extension methods one would have to revert to "ref based" only or perhaps using pinning to change to pointer if needed. The drawback being that ref based code isn't always as performant as pointer

[2017-03-29 07:57] janvorli opened #17647 "Bundle latest cURL with fixes we care about"
@karelz commented on [Tue Mar 28 2017](https://github.com/dotnet/coreclr/issues/10528)

Here's interesting list:
* Don't compile NSS version, it causes troubles - see https://github.com/dotnet/corefx/issues/16201
* cURL fix https://github.com/curl/curl/issues/1354 for https://github.com/dotnet/corefx/issues/17174

---

@stephentoub commented on [Tue Mar 28 2017](https://github.com/dotnet/coreclr/i

[2017-03-29 08:35] ezverev commented on #17631
I will look into appending a test in order to assure there is no longer unneeded precision loss when constructing TimeSpan from a double of different scales.

[2017-03-29 08:48] marksmeltzer commented on #17316
Here's the latest results:

![image](https://cloud.githubusercontent.com/assets/19158627/24445489/e9cb9e40-141e-11e7-933d-fa42d44d1047.png)

- vNext = 2.0.0-beta-001859-00
- Time(sec) = Best time over 20 regressions
- All three platforms had very low standard deviation (so best time is indicative)
- All three are Any CPU builds running in x64 on Windows 10 x64 platform
- Samples 0 shows timing for

[2017-03-29 08:50] marksmeltzer commented on #17316
@brianrob if these numbers do not bother you and the team, I will close the issue.

[2017-03-29 09:32] karelz commented on #17316
Do you see the slow down in JIT for all JITting scenarios, or is it specific to this particular scenario?
We might want to loop in JIT folks to take a look ... I let @brianrob first confirm the regression and then route it appropriately.

[2017-03-29 09:40] marksmeltzer commented on #17316
@karelz this is my one and only CoreFx app thus far. So I don't have any more scenarios to throw at it. Yet. There is more in the pipeline though. The good news is the runtime performance numbers look very solid.

For my app, I can work around the startup time issue. I'm planning to try background JIT next week (or later this week) and see what that does. But I will likely end up with a TSR server

[2017-03-29 11:10] tmds commented on #17647
CC @omajid

[2017-03-29 11:23] stephentoub commented on #17558
@davidsh, I removed the `os-linux` label as the behavior here is consistent across .NET Framework and .NET Core on both Windows and Linux.  If you believe we should keep the strict parsing, please close. Thanks.

[2017-03-29 11:46] borsna commented on #17533
Thanks @karelz for the positive feedback and organization of the pulls :)

[2017-03-29 12:37] fujiy commented on #14376
@ahsonkhan, @karelz just announced the ZBB date. We need to send the PR before that?
I talked with @mramosMS and he probably can't continue the work before May 22.

In case we need it before, I will send the PR by myself

[2017-03-29 13:15] steveharter commented on #16585
@danmosemsft I'll start tomorrow; ETA next week

[2017-03-29 14:05] JosVerburg commented on #14897
We've also encountered this issue. We only seem to get the unrecognized response when making HEAD requests to a server which serves a redirect.

[code]

We use WebListener from `"Microsoft.AspNetCore.Server.WebListener": "1.1.1",`.
For the purpose of reproducing the we've created the following simple web application:
Program.cs
[code]
Startup.cs
[code]

And created a console application which make

[2017-03-29 14:55] jkotas commented on #17414
@karelz The original API proposal looks good to me as a whole. Also, the large part of the proposal is non-contentious so @ahsonkhan can certainly proceed with implementing that.

[2017-03-29 14:55] ViktorHofer commented on #17639
On it

[2017-03-29 15:07] gkhanna79 commented on #17601
CC @MichaelSimons @wtgodbe

[2017-03-29 15:34] vancem commented on #16767
This is OK, some feedback:

I am a big fan of NOT exposing extensibility points until we have real scenarios that need them.    It is not clear that GetCurrentProcessorNumber() has a REAL scenario (someone who REALLY can't use CurrentExecutionId).   What I have seen is that there is a theoretical case where CurrentExecutionId may not be enough and some user wants more control, but it is also defin

[2017-03-29 15:38] karelz commented on #17414
Thanks @jkotas! I let @KrzysztofCwalina and @terrajobst to make the final call here.

[2017-03-29 15:40] karelz commented on #14897
@JosVerburg how is your repro and callstack related to the original one here?
If it is not confirmed it is dupe, please file a new issue to keep things separate, thank you!

[2017-03-29 15:49] karelz commented on #14376
The bug is marked 2.0, so we need it for ZBB. If you can help with it earlier, that would be great, otherwise I assume that @ahsonkhan will take it over.

[2017-03-29 16:16] danmosemsft commented on #2103
@tarekgh do we need to remove the comment:
[code]

[2017-03-29 16:23] tarekgh commented on #2103
yes we need to remove the comment. I'll try to do that.

[2017-03-29 16:27] danmosemsft commented on #17643
@tarekgh I guess we need to update this
https://github.com/dotnet/corefx/blob/master/src/System.Globalization/tests/NumberFormatInfo/NumberFormatInfoNumberGroupSizes.cs#L19
to include Fedora25?

Do you agree? If so @Jiayili1 can do this.

[2017-03-29 16:30] #17177 closed

[2017-03-29 16:31] danmosemsft commented on #17643
Never mind, I just put up a PR myself.

[2017-03-29 16:34] tarekgh commented on #17643
I would say to do the fix in the file

https://github.com/dotnet/corefx/blob/193379e620ed2d1d1a2402c18bc62807e4820893/src/System.Globalization/tests/NumberFormatInfo/NumberFormatInfoData.cs#L14

[2017-03-29 16:42] Priya91 commented on #17010
@NicolasDorier I get the cannot connect to server error one time, and let it ran for 30 mins, i didn't hit your issue.

[2017-03-29 16:47] benaadams commented on #17414
Extensions for the methods like clear allow specialization; so a `Clear` method could be defined differently. Whether its to use vectors; or if for a custom user struct all the values should be set to -1 rather than zero it would allow that; equally for `Fill` using vectors for the base numeric types.

`CopyTo` am less sure about; but don't think there would be an overall harm making it an extensi

[2017-03-29 16:47] ericstj commented on #16825
Yeah, I don't know of a good way to post an HTML publicly.  http://htmlpreview.github.io/? doesn't seem to work for this (size?)

[2017-03-29 17:01] Priya91 commented on #17187
@danmosemsft I don't understand your comment, the test has failed because the thread id is less than zero when threadstate is not terminated. Given that we get the id first and then the thread state, we should not be in this state no?

[2017-03-29 17:11] davidsh commented on #17558
The server is violating the RFC by sending out a response header that is malformed.

The behavior is consistent between .NET Framework and .NET Core.  And even if we wanted to change the behavior to be more loose in parsing, we can't change the OS WinHTTP behavior easily.

So, closing this issue as by-design.

[2017-03-29 17:11] #17558 closed

[2017-03-29 17:29] sepidehMS commented on #15131
@danmosemsft I did go through tests that were skipped in a way on some platform(s) and analyzed if the skipping makes sense and has a valid reason (https://github.com/dotnet/corefx/pull/15932). I did not go through the implementation or those that take different internal paths, though.

[2017-03-29 17:34] davidsh commented on #14897
@JosVerburg Please put together a complete, simple, repro with a Visual Studio 2015 or 2017 solution.  You can simply zip up the solution and post it here. That would be the best way for us to investigate.

[2017-03-29 17:39] daflame76 commented on #17396
I do understand the idea of the port failing to be removed from the device manager.
I know .NET can't fix that.  I also understand the idea of how the port is opened like a file with a windows file handle to the connection.  It is just too bad that the connectivity design in `Windows` ports doesn't support dynamic connection routing (virtual patch bay style) with removal signalling so the applicat

[2017-03-29 17:40] sepidehMS commented on #15131
I think I might have caused a bit of confusion. My pass went through only **PlatformSpecific** tests (e.g. `PlatformSpecific(TestPlatforms.Windows)`) and did not include investigating differences between Desktop and CoreFX.