[2018-06-18 00:50] karelz commented on #30475
Your description sounds reasonable. We will be happy to take a PR! Thanks @mgravell!

[2018-06-18 00:56] jkotas commented on #30479
All CoreCLR and CoreFX PRs are failing because on this issues.

E.g. https://github.com/dotnet/coreclr/pull/18518#issuecomment-397850329

[2018-06-18 02:34] SidShetye commented on #30477
As a platform provider ourselves, our plan calls for supporting 2.0, so it’s an issue. I’m not sure how the patch/release process works for “older” platforms.

[2018-06-18 03:20] karelz commented on #30477
@SidShetye there would have to be large impact on existing customers. Also note that support of 2.0 ends in couple of months: https://github.com/dotnet/core/blob/master/microsoft-support.md#net-core-releases

[2018-06-18 03:51] SidShetye commented on #30477
Ok. To be honest, these would be common customers between Crypteron and MSFT, so if we message accordingly we should be fine.

[2018-06-18 06:57] ilyalukyanov commented on #25717
@karelz I think we can close it now as the issue really belongs to the dotnet-docker repo.

[2018-06-18 07:13] karelz commented on #25717
Thanks for confirmation, closing.

[2018-06-18 07:13] #25717 closed

[2018-06-18 07:17] karelz commented on #30477
Good. Can we close this issue, or is there something more left to discuss?

[2018-06-18 07:47] fredpointzero commented on #30323
I tried InlineIL.Fody and a custom solution to weave IL assemblies with raw IL files but InlineIL.Fody is more convenenient to use (and already update the debug info).

However, it is a bit difficult to debug when the IL code is incorrect. I am currently using Visual Studio's debugger with the asm view. Maybe you have some experience in debugging IL @omariom ?

[2018-06-18 07:59] mgravell commented on #30475
@karelz  cheers; looks like there are some others I can clean up at the same time - most notably the temporary state arrays allocated for multi-segment `Send`/`Receive` - any objection if I put that in at the same time?

[[https://imgflip.com/i/2cf6m3]]

[2018-06-18 08:10] ydekova commented on #30388
Thanks for the clarification. We had a failure of our production server (Ubuntu 16) yesterday some 12 hours after the upgrade and the most probable reason, for now, seems to be "out of memory".Still investigating but my first guess was that there might be something related to this issue https://github.com/dotnet/corefx/issues/28241 that could have been caused by my "hack". We have an API with some

[2018-06-18 08:17] karelz commented on #30475
If it passes PR code reviews, why not 😆

[2018-06-18 08:19] karelz commented on #30388
Hard to say, the easiest thing is to use memory profiler to find out what's happening. We should take that discussion into separate issue. This one is tracking a proper fix of the issue you filed originally.

[2018-06-18 08:35] mgravell commented on #30475
implementation note: following some investigation and cross-referencing other art (such as [EcDsaSign](https://github.com/dotnet/corefx/search?q=EcDsaSign&unscoped_q=EcDsaSign)), it seems that using a managed reference like `ref Foo foo` (as an alternative to `Foo* foo`) is treated *effectively* an implicit pin (similar to `fixed`); as such, I'm going with that option, which is a: convenient, and

[2018-06-18 09:32] OddmarDam opened #30482 "Error adding WCF Service reference to dotnet core project."
I wanted to add a WCF service to my .net core project, but received this error.

![image](https://user-images.githubusercontent.com/4441007/41528446-07582d7a-72e2-11e8-8022-908169a82f3f.png)

details link shows this message.

Metadata contains a reference that cannot be resolved: 'http://10.50.5.50:8008/ws/emp'.

When i tried the same reference in a .net framework 4.6.2 project, it works fine.

My

[2018-06-18 09:44] mgravell commented on #30475
@karelz  FYI I'm having difficulty with testing; in particular, PerfRunner.exe doesn't exist in my fork - and I'm having lots of problems getting the functional tests to run, things like:

Is there a dummies guide to this?

[2018-06-18 09:45] MarcoRossignoli commented on #30475
In past we had some discussion on [PR](https://github.com/dotnet/coreclr/pull/17528#discussion_r181142155)(also some reverts [from ref to unsafe](https://github.com/dotnet/corefx/pull/30115/files)) ...i'm curious to know what @jkotas thinks, is there a guideline?

[2018-06-18 09:46] OddmarDam commented on #30482
Microsoft Visual Studio Community 2017
Version 15.7.3
VisualStudio.15.Release/15.7.3+27703.2026
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Community

Application Insights Tools for Visual Studio Package   8.12.10405.1
Application Insights Tools for Visual Studio

ASP.NET and Web Tools 2017   15.0.40522.0
ASP.NET and Web Tools 2017

ASP.NET Core Razor Language Services   15.7.31

[2018-06-18 09:50] mgravell commented on #30475
happy to revert to `unsafe`/`fixed` if so-guided by @jkotas , but indeed that's a very relevant discussion, cheers

[2018-06-18 09:50] MarcoRossignoli commented on #30475
https://github.com/dotnet/corefx/blob/8e842fa29e14694cca96c6e39a38199c55a3a02e/Documentation/project-docs/developer-guide.md#tests

[2018-06-18 10:06] mgravell commented on #30475
@MarcoRossignoli  thanks, that seems to have me a bit further along - I'll keep prodding it :)

[2018-06-18 10:29] janobrestad opened #30483 "Client certificate not included by HttpClientHandler in .net core"
I have code in a .net Standard 2.0 project that uses HttpClientHandler to include a client certificate in the request.
It works perfectly when called from a console program running on .net 4.7.1, but if I run the code from a .net core console app the client certificate is not sent. There are no exceptions, no error messages, the client certificate is just not sent to the server.

To have a simple

[2018-06-18 10:52] filipnavara opened #30484 "Possible memory corruption in Apple crypto code"
The following two lines seem suspicious. They cast int32_t* pointer to size_t* pointer, which could result in overwritten memory on 64-bit platforms:

https://github.com/dotnet/corefx/blob/e48ef36943e44d0944bec76f23931da2245b8576/src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_symmetric.cpp#L100
https://github.com/dotnet/corefx/blob/e48ef36943e44d0944bec76f23931da2245b8576/src/Native

[2018-06-18 10:52] filipnavara commented on #30484
cc @bartonjs

[2018-06-18 11:07] Joe4evr commented on #30458
As was previously stated, your idea of a "fixed list" is essentially just a `T[]`.

And a "fixed dictionary" can be easily emulated using a normal `Dictionary<K, V>` with an `enum` as the key.

[2018-06-18 11:42] mgravell commented on #30475
@karelz PR is up ^^^

[2018-06-18 12:22] ManuelDev1810 opened #30486 "CORS issue whe sending only a file from Js."
Have one of you guys have problem about sending files with asp.net core 2.0 or 2.1, I mean i did it great with razor and all were fine, but now I am sending a file with js,   and I don't why throw that is not allowed CORS... I don't know why because all the other actions works fine with the  cors defined.

Configure Services

`
    services.AddCors(options => {
                options.AddPolicy("A

[2018-06-18 13:57] jkotas commented on #30475
Stephen's comment https://github.com/dotnet/corefx/pull/30485#discussion_r196065260 described it accurately.

[2018-06-18 14:02] jbogard commented on #29365
Is there a list somewhere of the TFMs that *do* support `System.Reflection.Emit`? I've just added `net45` and `netcoreapp2.0` explicit TFMs to my project, but I'm sure I'm missing some.

[2018-06-18 14:18] SidShetye commented on #30477
Close please. Thanks.

[2018-06-18 14:28] seesharper commented on #29365
@jbogard All full framework TFM's should be good in addition to the netcoreapp TFM's. Is this in AutoMapper?

[2018-06-18 14:37] dagood commented on #30479
This should be fixed now. The storage account was misconfigured. (See https://github.com/dotnet/core-eng/issues/3700 for followup.)

[2018-06-18 14:38] mythz commented on #29365
This seems like a poorly thought out and communicated decision with far reaching consequences which appears to have been made with very little involvement from the community it impacts, surprising given the packages have 22M downloads? Doesn't that warrant some kind of analysis on the potential impact on everyone currently depending on it?

ServiceStack references the now delisted [Reflection.Emit

[2018-06-18 14:50] bartonjs commented on #30477
I don't see anything that would have changed between the two.  I was afraid that since this uses `validOnly=true` in Find that we'd broken the part where an untrusted/expired certificate should be filtered out, but the unit test for that is performing as expected on both the latest 2.0 and the latest 2.1 builds.

[2018-06-18 14:50] #30477 closed

[2018-06-18 14:54] jbogard commented on #29365
@seesharper yes, I added those but that might leave out others. The [API docs list more](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.typebuilder?view=netframework-4.7.2#applies-to) but what others might that be missing? Is that a comprehensive list of possible TFMs that support the API? What about, say, `xamarinxboxone`?

[2018-06-18 14:59] cocowalla commented on #30479
@dagood ironically, your link is a 404!

[2018-06-18 15:07] FransBouma commented on #29365
I've refactored my DynamicMethod/ILGenerator code which I used to emit setter methods for properties at runtime with a Lambda.Compile() solution so the dependency on Reflection.Emit is now gone, however I had to spend 3-4 hours on it which I would have liked to have spend on other things. But alas, that's life when things 'move fast and break often' I guess?

Anyway, what I find a bit disturbing i

[2018-06-18 15:15] jbogard commented on #29365
@mythz I don't know how you're using it, but for my stuff, I had to revert back to #if feature flags to remove functionality in platforms that don't support building types on the fly (in my library, being able to map to an interface and I create a proxy on the fly).

[2018-06-18 15:16] allan-silva commented on #933
@tarekgh, I started work on this (ISCIIEncoding), just to know, can this issue be assigned to me? Or it is assigne to who open the first PR?

[2018-06-18 15:31] karelz commented on #30482
This issue was moved to dotnet/wcf#2954

[2018-06-18 15:31] #30482 closed

[2018-06-18 15:33] karelz commented on #30483
Did you try it on .NET Core 2.1? Which OS do you run on?

[2018-06-18 15:36] karelz commented on #30486
This issue was moved to aspnet/Home#3238

[2018-06-18 15:36] #30486 closed

[2018-06-18 15:42] davidsh commented on #30483
Please check that your client certificate has the EKU of ClientAuthentication (or no EKU attribute at all).  And  please verify that it is not using SHA1.  Violating these constraints may result in the HTTP stack ignoring your certificate and not sending it.

[2018-06-18 15:53] #21809 closed

[2018-06-18 15:56] mythz commented on #29365
@jbogard We use a `Env.SupportsEmit` boolean flag to determine at runtime whether the platform supports Reflection.Emit, if it does we use it, otherwise we fallback to Compiled Expressions. On that note it would be useful if there was a `Platform.SupportsEmit` flag that everyone could use to check if the running platform supports Reflection.Emit.

The `#if` directive would require creating multipl

[2018-06-18 15:59] #27279 closed

[2018-06-18 16:17] tarekgh commented on #933
@allan-silva don't worry about assigning this issue. Just go ahead and open a PR for your changes. Thanks.

[2018-06-18 16:17] mgravell commented on #30475
marking closed; PR merged

[2018-06-18 16:17] #30475 closed

[2018-06-18 16:21] SidShetye commented on #30477
@bartonjs if you change `validOnly=false` in that proof of concept demo, the missing OpenSSL generated EC certificate is indeed returned on .net core 2.0. So it's definitely an  issue in validation filtering - just don't know where. Of course, from our view if this bug is never patched, then the 'where' is kind of a moot point. Right now we're debating if we should allow that 'workaround' + valida

[2018-06-18 16:29] seesharper commented on #29365
Just for further discussion I would like to ensure that we are all on the same page when it comes to the difference between  `System.Reflection.Emit` and `System.Reflection.Emit.Lightweight`.

This issue should be split into two separate issues.
* Should there be a .Net Standard 2.0 version of Reflection.Emit?
* Should there be a .Net Standard 2.0 version of System.Reflection.Emit.LightWeight?

##

[2018-06-18 16:35] Tratcher opened #30492 "ALPN support for SslStream on Mac"
Follow up on #23177 and #24389

The ALPN implementation for SslStream left out Mac support due to the APIs not being available on the older version of Mac OS being compiled for. The APIs are available in later versions.

References:
https://github.com/dotnet/corefx/pull/24389/files#r142497272
https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslStreamPal.

[2018-06-18 16:40] fredpointzero commented on #30323
Actually, I found a faster pattern for what I wanted than writing custom IL code with calli. (I think it is not optimized by JIT).

[2018-06-18 16:40] #30323 closed

[2018-06-18 16:44] #29637 closed

[2018-06-18 16:51] svick commented on #29365
@seesharper As far as I know, Reflection.Emit (including Reflection.Emit.Lightweight) is primarily used for performance. But if you implemented Reflection.Emit.Lightweight using an IL interpreter, its performance would likely be pretty bad. So I'm not convinced the effort of supporting IL interpretation mode in Reflection.Emit.Lightweight would be justified.

[2018-06-18 16:53] FransBouma commented on #29365
It's also weird that System.Reflection.Emit.ILGenerator is still listed (https://www.nuget.org/packages/System.Reflection.Emit.ILGeneration) , as it's a netstandard1.6 package, however ILGenerator has no UWP implementation (https://apisof.net/catalog/System.Reflection.Emit.ILGenerator).

I.o.w.: a bit of a mess, innit?

@seesharper Good suggestion.

[2018-06-18 17:17] atykhyy commented on #29365
@svick I don't think that's sufficient justification for cutting it. Domain-specific languages need a capability to construct code at runtime. DSLs crop up frequently enough in largish projects ([Greenspun's tenth rule](https://en.wikipedia.org/wiki/Greenspun%27s_tenth_rule)), and it's better if every writer doesn't have to invent and write their own interpreter for it (using regular reflection an

[2018-06-18 17:20] weshaggard commented on #29365
Thanks for the feedback everyone. Based on the overwhelming feedback we have relisted the latest version of the existing packages:

https://www.nuget.org/packages/System.Reflection.Emit/4.3.0
https://www.nuget.org/packages/System.Reflection.Emit.Lightweight/4.3.0

However as mentioned earlier in this thread these packages claim to be netstandard1.1 compatible but that is a lie. They will only work

[2018-06-18 17:28] bartonjs commented on #30477
Two things to track sanity:

1)

[code]

Theoretically you're getting `false` on 2.0 and `true` on 2.1.  What are all of the errors reported on chain.ChainStatus(.Select(cs => cs.Status))?  Do they make sense?

2) `bool happy = thisCert.Verify();`

Again, the expectation is 2.1 says yes, 2.0 says no.  Not because they should give different answers, but because it matches the symptoms.

---

If you

[2018-06-18 17:37] tarekgh commented on #30207
@glittle thanks for the proposal, here are some comments and questions I hope you can help with:

- Does the intent here implement the Western arithmetic version of this calendar? I mean, regardless of when the astronomical vernal equinox will start, we always start the year on March 21st? if this is true:
    - Do we need to consider the implementation of the astronomical calendar at some point?

[2018-06-18 17:45] Redouane64 commented on #30479
Closing the issue as the download is working!

[2018-06-18 17:45] #30479 closed

[2018-06-18 18:28] EltonCarreiro commented on #29620
I would also appreciate some doc/instructions as @logankp  requested, I used to enable tracing just at .NET Framework apps, don't know how to do that using ASP.NET Core.

[2018-06-18 18:50] gtbuchanan commented on #3093
`EnumerableEx.Return` already exists in the now .NET Foundation authored package [`System.Interactive`](https://github.com/dotnet/reactive/blob/master/Ix.NET/Source/System.Interactive/Return.cs). I think it makes sense to stick with the same naming. It aligns with `System.Reactive`'s `Observable.Return`. Related to #14119

[2018-06-18 19:05] ydekova commented on #30388
@karelz This actually is related to the current topic in a way. With my code above I couldn't find a way to use the HttpClientFactory and intercept the certificate validation since I can't access the HttpClientHandler object. Creating a new handler for each request definitely affects the performance in a bad way. On the other hand, I'm not sure if using a singleton HttpClient is recommended. What

[2018-06-18 19:16] NiclasOlofsson commented on #4647
Lack this to be able to port https://github.com/NiclasOlofsson/MiNET over to .NET core. I'm forced to use BouncyCastle right now, and whatever performance gain I got out of .NET core is eaten up by bad performance on encryption.

[2018-06-18 19:28] edyoung commented on #30406
I think dubm is a typo for dumb? But setting TERM=dumb breaks things completely, you can't even type commands successfully, let alone use cursor keys.

[2018-06-18 19:59] karelz commented on #30435
I wonder if this is dupe of #30479.
sync took hours and didn't finish over the weekend for me. I just tried and it finished in 2:38, which is ok.
Can you please give it another try?

[2018-06-18 20:29] SidShetye commented on #30477
Results don't seem to make much sense here. Used the same sample app + test cert from https://github.com/SidShetye/netstandard-core-ecc . I'm far from a store implementation expert here so perhaps you can repro and root cause it or scope any fallout (regardless of a bug fix or not)?

    var store = new X509Store(StoreName.My, StoreLocation.CurrentUser);
    store.Open(OpenFlags.OpenExistingOnly |

[2018-06-18 20:38] ByronAP opened #30500 "CPU Usage on 2.1 constantly builds"
I have increasing CPU which seems to be from HTTP. It was not noticeable until I went to production which looked great after deployment, but a few hours later everything was redlined due to ever-increasing CPU demand as shown below. Unfortunately, this is a show stopper and is forcing me to rollback.

Runtime: core 2.1 Linux x64
Containers: YES Docker
OS: UBUNTU & CENTOS
![cpu](https://user-images

[2018-06-18 20:49] seesharper commented on #29365
@svick

It is my understanding that `LambaExpression.Compile()` and its execution is interpreted on AOT platforms and hence it should be no worse doing it for `System.Reflection.Emit.LightWeight`.
There is a lot of libraries using this package and having a "true" netstandard2.0 package would suddenly enable those packages to run on your iPhone without forcing the developers of these packages to re

[2018-06-18 20:54] Redouane64 commented on #30419
System.Composition.Convention and System.Composition.Hosting still need
Microsoft.Internal.Requires and Microsoft.Internal.Assumes. Should i keep these two partial classes?

[2018-06-18 21:00] stephentoub commented on #30500
You profiled and it showed it was from System.Net.Http?  If so, can you provide more details?  What in System.Net.Http did you see causing the issue here?

[2018-06-18 21:08] Spongman commented on #30483
I'm seeing this issue also. Client certificates are no longer being sent where they _were_ being sent with libcurl.

here's how i create my certs: https://gist.github.com/mtigas/952344

[2018-06-18 21:09] ViktorHofer commented on #30419
The issue is about replacing the functionality and do validation the same way we do in other projects. But still make sure that the behavior stays the same

[2018-06-18 21:12] ByronAP commented on #30500
My initial profile looked good but looking at how it builds I need to leave it running for a lot longer. When not extensively using HTTP services stayed in spec (and some issues with HTTP from RC) hence the assumption it is HTTP related. I will profile again tonight and see what I get (hopefully it shows on Windows as well).

[2018-06-18 22:11] mythz commented on #29365
@seesharper

They're not equivalent at all. The only reason why .NET Standard is useful is due to its vastly greater API surface which allows us to create a single build to run on multiple platforms. PCL's are far less useful as its reduced API intersection subset forced creation of multiple platform specific builds for non-trivial functionality. Their capabilities are not equivalent and the solut

[2018-06-18 22:43] dagood commented on #30479
@cocowalla Hah, yeah, it's a private repo, sorry. Unfortunate that we can't set up something other than a 404 for those links. The root cause ended up being https://github.com/Microsoft/AzureStorageExplorer/issues/317.

[2018-06-18 23:02] masonwheeler commented on #29365
@weshaggard

How about telling the iDiots and control freaks who force AOT-only on everyone using their platforms that they need to shape up and fix their bad platform rules?  (Because let's be honest, we all know that's what this is really about: a few very specific bad actors in the mobile world.)

[2018-06-18 23:02] rzachariah commented on #29620
I'm seeing an error that looks similar.

[code]

Environment: Docker on Linux
Runtime: Both of
  `FROM microsoft/dotnet:2.1-aspnetcore-runtime`
  `FROM microsoft/dotnet:2.1-runtime`

[2018-06-18 23:22] davidsh commented on #30330
Fixed in master with #30478

[2018-06-18 23:31] vancem commented on #30455
I tried to reproduce your issue in the simple console application here

[Program.cs.txt](https://github.com/dotnet/corefx/files/2113278/Program.cs.txt)

case but I could not.  The result printed
[code]
which is expected (you see the parent-ID in both loging statements bing 'some-parent-id'.

Presumably there is more going in in your example than my repro.   Is your 'Some Dependency' actually a dif

[2018-06-18 23:52] #30048 closed

[2018-06-18 23:53] stephentoub opened #30502 "Override TextWriter.Write{Line}{Async} on StringWriter"
StringWriter is backed by a StringBuilder, so writing another StringBuilder to it can be optimized to call `_sb.Append(value)`.

cc: @vancem

[2018-06-19 00:35] danmosemsft commented on #30456
@eerhardt is the installer on the CLI repo including post 2.1 CoreFX bits now?

@cocowalla if not, you would have to patch it [per these instructions](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#advanced-scenario---using-a-nightly-build-of-microsoftnetcoreapp).

[2018-06-19 00:37] danmosemsft commented on #30453
@tarekgh

I am interested, could you explain how this affects compat?

[2018-06-19 00:42] ByronAP commented on #30500
so far no luck on Windows :-(

[2018-06-19 00:54] karelz commented on #30500
Did you try to collect and analyze a trace from the time the CPU is high?

[2018-06-19 00:57] ByronAP commented on #30500
I would if I could, unfortunately, It requires me to setup a new testbed which I do not have time for right away, I'm still rolling back changes :-(

[2018-06-19 01:00] davidfowl commented on #29365
@mythz you’re absolutely right.

[2018-06-19 01:14] terrajobst commented on #29365
@masonwheeler

I completely understand that hiding the ref emit package has caused is frustrating, considering the fall out that it had. I also understand that us optimizing for execution environments you don't care about can be upsetting, especially when this includes trade offs that affect scenarios that you care about negatively.

That being said, I've marked your comment as "abusive" as it's n

[2018-06-19 01:20] karelz commented on #30500
Understood. Do you think you will have time later? I am afraid that with the information available there is not much we can do :(

[2018-06-19 01:21] tarekgh commented on #30453
Currently, most of the Globalization classes doesn't override Equals, == and != so all these operations will be performed using the object reference and not the object contents. people already taking a dependency on such behavior. overriding these operations will make this assumption invalid. and if we change the behavior on the net core and not on the desktop, writing a library using the overridd

[2018-06-19 01:27] ByronAP commented on #30500
When later will be is unknown at this time but I will definitely be investigating and keeping thread updating. I have to get my system back to a nominal state before I can really spend any more time on it. Which so far I am 24 hours almost straight on this and about to have a heart attack lol

[2018-06-19 01:30] davidfowl commented on #29365
I’m in favor of 2. It ubiquitous enough that it should be there. We need the capability check anyways for other reasons.

[2018-06-19 02:39] terrajobst commented on #29365
So am I but it won't help anyone who is currently relying on .NET Standard 2.0 as this requires a new version of the standard. However, the APIs in question already exist.

So I'm thinking about a minimal fix to make this packages work as-is but also fix .NET Standard 2.0 vNext.

[2018-06-19 02:39] bording commented on #29365
@terrajobst Is there something about option 1 that makes option 2 harder to do? It seems to me that getting a version of the packages that target `nestandard2.0` instead of needing to pull in the `netstandard1.1` package graph would be a good short-term goal. Then for vNext of the standard, it could become part of it, and you wouldn't need the packages any more.

So, unless there's a really good r

[2018-06-19 02:40] terrajobst commented on #29365
@bording

Looks like posted virtually at the same time. Hopefully my comment addresses your question :-)

[2018-06-19 03:05] GrabYourPitchforks opened #30503 "Introduce a Utf8String type"
This is the API proposal for `Utf8String`, an immutable, heap-allocated representation of UTF-8 string data. See https://github.com/dotnet/corefxlab/issues/2368 for the scenarios and design philosophy behind this proposal.

To timebox discussion, the APIs under consideration here are just `Utf8String` and `UnicodeScalar`. There will be a different issue opened for consideration of span-based APIs,

[2018-06-19 03:29] davidsh commented on #30483
@janobrestad Could you post the exact steps you use to create your client certificate?  And, if possible, could you attach the *.CER file of the client certificate?  You can export it out of the certificate store. Please do not export the file as PFX, i.e. don't export the private key.

Alternatively, please post a complete picture of all the X509v3 fields of the certificate.  Here is a sample pic

[2018-06-19 04:09] terrajobst commented on #27418
Let's flip it back and discuss it.

@JeremyKuhne

Apologies but I really don't remember this discussion 😞 I know, I literally have had one job and I failed at it. Let's cover it next Tuesday. Tomorrow we're booked for UTF8 string.

[2018-06-19 04:18] danmosemsft commented on #29899
@safern can you please create that PR and update the table with  the link

[2018-06-19 04:31] jkotas commented on #30466
@VCZYK is working on a fix.

[2018-06-19 04:36] LTMenezes commented on #16337
I'm planning on opening a small PR with unit tests for the class System.Data.Common.DataTableMapping to get feedback from you guys and see if I'm going in the right direction. What do you guys think? Should I proceed with this PR?

[2018-06-19 04:58] danmosemsft commented on #16337
That sounds great! A small PR first would help check you're in the right direction.

[2018-06-19 06:42] iyhammad commented on #30422
This workaround resolved the issue
https://github.com/dotnet/sdk/issues/1522#issuecomment-324141767
I will keep this issue updated with my test results.

[2018-06-19 07:10] Serjster commented on #22781
I tried all of the solutions listed in this page while targeting 4.7.2:
[code]
And still having the error in **Azure App Service**:

[2018-06-19 07:37] murray-grant-fe commented on #30311
Hi @karelz,
Finally got time to get some more debugging information. Still occuring on my development PC.

[code]

Loaded all the symbols up (that sure took a while), and got a ~400 line stack dump from the VS Call Stack ([stack trace in exception handler.txt](https://github.com/dotnet/corefx/files/2114270/stack.trace.in.exception.handler.txt)
; lots of async continuations in there).

Ran a PerfVi

[2018-06-19 08:02] janobrestad commented on #30483
I did not create the client certificate myself. I used a test certificate issued by a well known issuer.

There was actually a set of certificates from this issuer, and when I used the other one it worked on .net core.

So to sum it up:
For one certificate it worked on both .net core 2.1 and .net framework 4.7.1,
for the other it only worked on the full framework 4.7.1.

Here are some details from

[2018-06-19 09:02] amshekar commented on #29878
Hope we are expecting the fix for https://gist.github.com/danmosemsft/d8fb8397093f0c4ae0bb12af740cfb3e
Thank you @OmarTawfik @danmosemsft

[2018-06-19 09:28] ezverev opened #30504 "ConfigurationErrorsException.Errors code produces self-recursion"
[ConfigurationErrorsException.Errors](https://github.com/dotnet/corefx/blob/e3f74deb999571d3f34a6b2b8011caebcf06dbfc/src/System.Configuration.ConfigurationManager/src/System/Configuration/ConfigurationErrorsException.cs#L168)

This makes the code which builds exception descriptions protect itself. There samples of such protection from System.Web:

Example1:
`            if (!(exception is Configur

[2018-06-19 09:50] lukos commented on #28501
Can someone point to the storyline for this? As far as I can see, MS made a massive breaking change from a reasonable regex-based attribute (not perfect for sure) to an attribute that literally checks that there is exactly one @ symbol, which is not at the start or the end, which make the whole thing useless and has broken a raft of unit tests and will also provide many false positives. Fortunatel

[2018-06-19 09:51] asiergonzalezgorordo commented on #30255
With last nuget update it has been solved

[2018-06-19 10:31] TheMinefighter opened #30505 "Feature Request: IParseable<T> interface for all types implementing Parse() and TryParse()"
It would be nice if there was an` IParseable<T>` interface providing `T Parse(string toParse)` and `bool TryParse(string toParse, out T val)`  and optionally an interface `IFormattableParseable<T> :  IParseable<T>, IFormattable` providing `T Parse(string toParse, IFormatProvider provider)` and  `bool TryParse(string toParse, IFormatProvider provider, out T val)` . The  IParseable<T> interface shou

[2018-06-19 11:28] huoyaoyuan commented on #30505
`Parse` are static methods, not instance. So this should need functionals like shape or static interface methods.

[2018-06-19 12:45] shaggygi commented on #30505
This sounds interesting, but might be better to start in the [corefxlab repo](https://github.com/dotnet/corefxlab).

[2018-06-19 12:47] jnm2 opened #30506 "Beginning in version 4.5.0, System.Reflection.TypeExtensions fails at runtime for ns1.3–ns1.5"
If I use System.Reflection.TypeExtensions 4.4.0 in a netstandard1.4 library which then runs with netcoreapp1.1, it runs fine. If I upgrade to System.Reflection.TypeExtensions 4.5.0, the project builds but it fails to load at runtime with "System.Reflection.TypeExtensions is not supported on NET Standard 1.3 or 1.5."
The 4.5.0 package still targets netstandard1.3 and netstandard1.5 which indicates

[2018-06-19 13:08] #29499 closed

[2018-06-19 13:14] ViktorHofer opened #30507 "Reduce huge heap allocations during Regex instantiation"
While working on https://github.com/dotnet/corefx/pull/30474 and looking at https://benchmarksgame-team.pages.debian.net/benchmarksgame/performance/regexredux.html I noticed immensely high heap allocations when constructing Regex objects (see benchmark tables). Looking at the code it speaks for itself that the most allocations happen during the parsing of the pattern. This should and can easily be

[2018-06-19 13:58] davidsh commented on #30483
.NET Core requires Key Usage, if present, to have "Digital Signature" value.
https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/Security/CertificateHelper.cs#L53-L68

We do have EventSource logging for .NET Core networking:

However, we probably should add more logging for scenarios like this.

[2018-06-19 14:19] eerhardt commented on #30456
Yes, the latest CLI builds from master include a runtime build from 10 days ago.

[2018-06-19 14:56] shawnhar commented on #30356
I can't find historical details on this, but suspect the comment is just incorrect.  The unit tests do validate behavior of inverted min/max, so this was obviously thought through at some point during development.

[2018-06-19 15:23] tannergooding commented on #30356
@shawnhar, is it also just possible that the comment was meant to be correct and that the tests/implementation were incorrectly written?

The HLSL documentation isn't exactly "clear" on the implementation and you have to do some digging to find out the correct behavior. So I think it would be completely plausible that it was just implemented incorrectly.

[2018-06-19 15:27] shawnhar commented on #30356
Possibly - but after 10+ years of an implementation which matches its tests (and we know the implementation has not changed because the tests do exercise this path) I think the current behavior has become a de-facto standard whatever the original intent was.

[2018-06-19 15:37] stephentoub opened #30513 "Crypto interop needs to be consolidated under src\Common\src\Interop\"
There is duplication we really want to avoid.  For example, CertNameToStr is used by both System.Security.Cryptography.X509Certificates and by System.Security.Cryptography.Pkcs, and they both contain their own copies of DllImports and higher-level helpers on top of them.

cc: @bartonjs

[2018-06-19 15:45] abdulbeard commented on #5681
Forked the repo, and working on an api proposal.

[2018-06-19 16:17] #28933 closed

[2018-06-19 16:42] smartcodinghub opened #30517 "System.ServiceModel.Http Exceptions when using version 4.5.0 or higher"
Hi all,

I was using the version 4.5.0-preview1-26228-01 of the System.ServiceModel.Http Nuget. After upgrading to 4.5.0 or 4.5.1 I'm getting some exceptions. I paste the message below. From th preview or .Net Framework I can use correctly the WebService.

Thanks in advance,
Óscar

### Exception
[code]

[2018-06-19 16:44] davidsh commented on #30517
System.ServiceModel.Http.* is part of the WCF APIs.  They are in the https://github.com/dotnet/wcf repo.  So, this bug should be moved there.

[2018-06-19 16:46] ajcvickers commented on #28501
@lukos The discussion is in #17873

[2018-06-19 16:49] JeremyKuhne commented on #27418
I spoke with @jkotas offline. The idea is that we put this on the back burner until either https://github.com/dotnet/corefxlab/issues/2177 or possibly #28379 are approved. The issue is without another type we can't really write a clean API here (outside of `TryGetRandomFileName`). I'll update the issue showing usage examples.

If we find that missing one of these APIs is blocking key user scenario

[2018-06-19 16:51] ianhays commented on #5681
Not quite, @abdulbeard. This particular issue is around adding *ZipFile* async APIs.

For example, currently we have `ZipFile.ExtractToDirectory(string, string)`. This issue is around adding async versions of those API e.g. `ZipFile.ExtractToDirectoryAsync(string, string)`.

[2018-06-19 16:52] wfurt commented on #28501
also specific examples would be helpful @lukos

[2018-06-19 16:59] abdulbeard commented on #5681
Gotcha @ianhays . I did a terrible job reading the title 😛

[2018-06-19 17:07] iSazonov commented on #28933
Many thanks!

[2018-06-19 17:18] ajcvickers opened #30518 "The type initializer for 'System.Data.SqlClient.TdsParser' threw an exception.: TypeInitializationException"
Originally posted as https://github.com/aspnet/EntityFrameworkCore/issues/12386 by 	@hounddog22030

Moved here because stack trace indicates it is a problem loading sni.dll from SqlClient package and csproj indicates that package references are correct.

---

We have been using EF Core 1.0 and 2.0 on AWS Lambda

With no other code changes, updating to EF Core 2.1 is throwing the exception "The typ

[2018-06-19 17:19] ajcvickers commented on #30518
Comment moved from https://github.com/aspnet/EntityFrameworkCore/issues/12386#issuecomment-398457874

Here it is below.  There are some additional NuGet packages that are not publicly available, but they make no references to any EntityFramework or System.Data

[code]

[2018-06-19 17:30] MarcoRossignoli commented on #27418
@JeremyKuhne no problem, i'm here to try to help...feel free to close stale PR, when things will be "mature" you can rely on me if you want!Thanks for your consideration!

[2018-06-19 17:42] abdulbeard commented on #5681
# Summary
Curently, [System.IO.Compression.Zipfile](https://msdn.microsoft.com/en-us/library/system.io.compression.zipfile.aspx) doesn't have async methods for `CreateFromDirectory`, `ExtractToDirectory`, `Open` and `OpenRead`. This means that these zipfile operations are thread-blocking, and not asynchronous, and hence, comparatively less performant.

# Proposed API
[code]

# Expected Use and Ben

[2018-06-19 17:43] abdulbeard commented on #5681
Here's a proposal ^. Looking forward to constructive feedback and insight.

[2018-06-19 18:07] JeremyKuhne commented on #27418
Here is a look at usage for `TryGetRandomFileName()` with an alternative.

## Original proposal

[code]

## Alternative proposal

[code]

[2018-06-19 18:10] AfsanehR commented on #29920
@orellabac Did @karelz suggestion resolve the issue?

[2018-06-19 18:12] JeremyKuhne commented on #27418
`GetTempPath()` is something we may want to consider not adding. While the temp path can technically change at any time, the odds of it happening are pretty slim.

That said, internally we need to always look this up to be strictly correct (as this was never cached internally in the past). Other users may wish to always look this up as well.

[2018-06-19 18:13] JeremyKuhne commented on #28255
Closing for now until we re-review the API proposal.

[2018-06-19 18:13] #28255 closed

[2018-06-19 18:14] JeremyKuhne commented on #28256
Closing until we re-review the API proposal.

[2018-06-19 18:14] #28256 closed

[2018-06-19 18:19] JeremyKuhne commented on #28257
There is actually an internal ValueStringBuilder version that could be used (that Path.GetFullPath calls).

That said, we're closing this for now until we re-review the API proposal as we're considering postponing until we have ValueStringBuilder (or an equivalent type) public to make this API more straight forward.

[2018-06-19 18:20] #28257 closed

[2018-06-19 18:20] JeremyKuhne commented on #28258
Closing for now until we get the original proposal re-reviewed.

[2018-06-19 18:20] #28258 closed

[2018-06-19 18:25] stephentoub opened #30523 "SocketAddressPal.DataOffset on Unix appears to be the wrong value"
It's hard-coded to 0, but it seems it should actually be the start of the data in the address, beyond the address family.  This appears to only be used by SocketAddress.ToString(), and is resulting in SocketAddress.ToString() outputting the wrong result.

[2018-06-19 18:30] joperezr commented on #30360
@bartonjs when this happened (disabling the runs) wew were in the middle of the netstandard2.0 work, adding a bunch of Apis to UAP and NETCoreApp so pretty much every PR had a diff to the baseline. As Wes said, now that we are not adding all of the API to match netsandard any longer, we should look into re-enable them.

[2018-06-19 18:39] hkoelewijn commented on #13329
yes to this separate folder with the addition to zip that into a bin and have two files, the exe and the bin. Easy distribution.

[2018-06-19 18:48] karelz commented on #29920
No response in more than 1w. Closing. Feel free to reopen if there is ore information.

[2018-06-19 18:48] #29920 closed

[2018-06-19 18:56] karelz commented on #30506
cc @AtsushiKan @joshfree @weshaggard

[2018-06-19 19:38] geoffkizer opened #30527 "SocketsHttpHandler: Add MaxHttpVersion property"
Now that we are adding HTTP2 support in SocketsHttpHandler, we should add a setting to allow this to be easily disabled, in case customers run into problems using HTTP2 with a particular backend server.

Proposed API:

[code]

In the short run, we will default this to 1.1 until we're ready to enable HTTP2 by default.

cc @davidsh @stephentoub @dotnet/ncl

[2018-06-19 19:39] tmds commented on #30385
This may be a dup of https://github.com/dotnet/corefx/issues/29942.

[2018-06-19 19:49] davidsh commented on #30527
As background for the need for this, see:
https://docs.microsoft.com/en-us/uwp/api/windows.web.http.filters.httpbaseprotocolfilter.maxversion

[2018-06-19 19:51] rmkerr commented on #30527
This seems very reasonable to me.

[2018-06-19 19:56] svick commented on #5681
Should `async` APIs be added to `ZipArchive` at the same time? For example, consider the following code:

[code]

As far as I can tell from skimming the source code, even though the above code uses the proposed `async` APIs as much as it can, it still blocks when accessing `Entries` and, more insidiously, when disposing the first `archive`.

[2018-06-19 20:08] tlwest commented on #29938
@huanwu.  Thank you!  I will examine this approach as the closest to the current code that we can achieve.

[2018-06-19 20:08] karelz commented on #30385
How can we confirm? Would attaching debugger to nuget process & getting call stack help?

[2018-06-19 20:09] vbaderks commented on #20588
Is there any progress on this topic?

It seems that for UWP, there is a new function exported to get the COM ports: GetCommPorts@12 api-ms-win-core-comm-l1-1-2.dll

[2018-06-19 20:33] stephentoub commented on #30527
Seems reasonable.

[2018-06-19 20:49] bryaan commented on #25669
@cocowalla Any updates from jetbrains on this?

[2018-06-19 20:49] wfurt commented on #11967
closed by #30000

[2018-06-19 20:50] #11967 closed

[2018-06-19 20:54] karelz commented on #30527
Given that it is mostly point-in-time problem, I wonder if we need new public API. Wouldn't a config switch be sufficient?
If someone wants to limit HTTP version in code, they can set `HttpRequestMessage.Version` I assume.

[2018-06-19 20:55] cocowalla commented on #25669
@bryaan JetBrains confirmed it was a problem, and said they'd fix it in the new release. I think they actually ending up having to issue *another* fix - but 2 versions on, I'm on 2018.1.2 and it seems to be OK 👍

[2018-06-19 20:57] davidsh commented on #30527
This is not convenient because only HttpClient.SendAsync() takes an HttpRequestMessage object.  The other APIs (used more often) are HttpClient.GetAsync(), HttpClient.PostAsync(), etc. and those don't take an HttpRequestMessage parameter at all.

[2018-06-19 20:58] davidsh commented on #30527
I would be more concerned if were talking about adding this to HttpClientHandler itself.  But SocketsHttpHandler seems like a more granular API surface.  And having an API for this is better than a config switch I think.

[2018-06-19 21:02] danmosemsft commented on #30456
@cocowalla excellent, thank you for doing that.

[2018-06-19 21:16] weshaggard commented on #30506
@ericstj looks like this issue is caused by your change (https://github.com/dotnet/corefx/commit/72002dbb7e3e657adaeb002feca0399d9667a54b) to harvest the netstandard asset which throws PNSE and include it for netcoreapp1.0
https://github.com/dotnet/corefx/blame/release/2.1/src/System.Reflection.TypeExtensions/pkg/System.Reflection.TypeExtensions.pkgproj#L15.

I don't think we intentionally wanted

[2018-06-19 21:31] David-Engel commented on #29620
@logankp @EltonCarreiro To capture a network trace, you can use netsh:
https://blogs.technet.microsoft.com/yongrhee/2012/12/01/network-tracing-packet-sniffing-built-in-to-windows-server-2008-r2-and-windows-server-2012/ or
https://blogs.msdn.microsoft.com/canberrapfe/2012/03/30/capture-a-network-trace-without-installing-anything-capture-a-network-trace-of-a-reboot/

Or a tool like Wireshark:
https:

[2018-06-19 21:32] karelz commented on #30517
This issue was moved to dotnet/wcf#2960

[2018-06-19 21:32] #30517 closed

[2018-06-19 21:52] ericstj commented on #30506
Actually that change was correct when it was first shipped, it was only after we versioned that the remapping started picking up the wrong assembly.  We should look at all cases where we were moving assemblies via harvest remapping and make sure those are doing the correct thing if we changed the package version they were harvesting from.

[2018-06-19 22:41] #30484 closed

[2018-06-19 23:46] los93sol commented on #18023
I think the issue here is that the status of this is not really clear.  If someone can point me to how to properly detect IOT core I am willing to do some work get things rolling a bit

[2018-06-20 00:18] joperezr commented on #22781
@Serjster do you mind producing an msbuild.binlog and attaching it here so that we can investigate and diagnose what is going on with your project? In order to produce one, simply run `msbuild yourProject.csproj /t:rebuild /v:m /bl` from a Developer command prompt.

[2018-06-20 00:31] MaximBalaganskiy commented on #26302
The temporary workaround is to target .net 4.6.2. But we can't stay on it forever. When is this going to be resolved? It's been 6 months already.

[2018-06-20 01:03] karelz commented on #26302
We should NOT track .NET Framework bugs on CoreFX repo. @saurabh500 @keeratsingh @David-Engel @AfsanehR can you please clarify and close it here?
If it is a regression / serious bug in .NET Framework, we should use appropriate channels.

[2018-06-20 01:26] MohammadHamdyGhanem opened #30538 "A question about NameValueCollection"
In NameValueCollection class, when reading element value by the Indexer or Get method we access the element bu its index or its key, but when setting element value by the Indexer and Set method we can access the element by its key only (Set has no overload, and the [index] is readonly!)
What is the design purpose of that? What's wrong in setting the value bu index?
Can Set method have an indexed o

[2018-06-20 01:52] terrajobst commented on #30503
Notes for our initial review are [here](https://github.com/dotnet/apireviews/pull/64).

[2018-06-20 02:36] ObsidianMinor opened #30540 "Unexpected value 'ArrayAccess' of type 'Microsoft.CodeAnalysis.CSharp.BoundKind'"
**Version Used**:
Visual Studio 2017 15.7.4

**Steps to Reproduce**:

1. Enter this snippet into your nearest Visual Studio.
[code]
2. Watch roslyn crash before you can type `u`

**Expected Behavior**:
A compiler error

**Actual Behavior**:
Roslyn crashes and takes everything down with it

**Full event log error**
[code]

[2018-06-20 02:37] ObsidianMinor commented on #30540
Wrong repository

[2018-06-20 02:37] #30540 closed

[2018-06-20 02:38] morganbr commented on #30399
@luqunl, can you please look into why the libc P/Invoke isn't getting turned into a throw?

[2018-06-20 02:44] ObsidianMinor commented on #30540
New issue in dotnet/roslyn: https://github.com/dotnet/roslyn/issues/28008

[2018-06-20 05:30] AlexGhiondea commented on #22781
@Serjster it looks like Azure App Service does not yet run on .NET Framework 4.7.2

https://github.com/Azure/app-service-announcements-discussions/issues/37

[2018-06-20 06:16] tmds commented on #30385
Certificates on Ubuntu 16.04 are in `/usr/lib/ssl/certs`. @may215 do you see unreadable files or broken links when you `ls -lah /usr/lib/ssl/certs`?

If that turns up empty, try running the [repro program](https://github.com/dotnet/corefx/issues/29942). You can publish it for netcoreapp2.1 on Windows and copy it to Ubuntu.
(Alternatively, you stay on your Ubuntu machine publish it using 2.1.201 sd

[2018-06-20 06:53] dotnet-mc-bot opened #30542 "Test failure: ThreadPoolBoundHandleTests/BindHandle_DisposedSyncHandleAsHandle_ThrowsArgumentException"
Opened on behalf of @Sunny-pu

The test `ThreadPoolBoundHandleTests/BindHandle_DisposedSyncHandleAsHandle_ThrowsArgumentException` has failed.

System.IO.IOException : CreateFile or CreateFile2 failed (error code 5): Access is denied.\r
        File name: Overlapped.tmp\r
        File path: C:\\dotnetbuild\\work\\4a41c8dd-7ec4-4a82-a405-52940333990d\\Work\\61612780-30ca-4f1a-a0ee-3e3eeff8b096\\Unz

[2018-06-20 08:14] tmds commented on #27949
Looking at the list of use-cases:

This would be hard, since there is no API to do a DNS request against a specific DNS server.

The system/corefx should do a good job here. It would be hard for the user to provide a better implementation.

This seems a valid use-case. When setting up some services locally, it is not straight forward to make the system resolve hostnames to those addresses.
Maybe w

[2018-06-20 08:30] filipnavara opened #30543 "X509Certificate.GetSerialNumberString returns the serial number in wrong order"
Historically, .NET Framework was using a reversed order for the serial number string. I think .NET Core should follow the convention and return the same values.

Abbreviated version of Mono unit test that fails:
[code]

Reference source of .NET Framework:
[code]
and
[code]

cc @bartonjs

[2018-06-20 08:52] filipnavara opened #30544 "X509Certificate.GetName and GetIssuerName behaviour"
On .NET Framework the `GetName` and `GetIssuerName` APIs of `X509Certificate` return the names in reverse order compared to the newer `Subject` and `Issuer` properties. .NET Core doesn't implement this distinction and I would like some further verification that this is intentional.

Mono unit tests:
[code]

cc @bartonjs

[2018-06-20 09:03] MaksymProkopiv commented on #29620
I collected tcpdump. @AfsanehR could you please provide any **private** channel how I can share it with you?

[2018-06-20 09:25] filipnavara opened #30545 "X509Certificate.CreateFromSignedFile doesn't work"
The method is supposed to take an assembly file as an argument, unpack the Authenticode signature and get the certificate from it. The current implementation just blindly tries to open the file as a certificate file, which won't work.

Mono has some minimal implementation:

https://github.com/mono/mono/blob/05e8f2b8d73149e57dfbdbb4d126335a0e17a2bf/mcs/class/corlib/System.Security.Cryptography.X509

[2018-06-20 09:44] filipnavara opened #30546 "X509Extension.Format returns unexpected values on macOS"
Example code:
[code]

Output on Windows: `ff ff ff`
Output on macOS: `0403FFFFFF`

Note that on Windows it includes only the actual value bytes and not the header. The hex formatting is also different, which is not a big issue, but should probably be fixed as well.

[2018-06-20 10:19] GSPP commented on #30018
@tannergooding that's awesome! What's the process to move these changes to the desktop framework? As I understand it Microsoft intends to keep the code bases largely synchronized where possible, correct?

[2018-06-20 11:19] Bridgeway opened #30547 "SpreadsheetLight not restored against correct framework"
I'm trying to use the package manager console in VS 2017 to install SpreadsheetLight 3.4.9 to my web api .net core 2.1 project, but I get a yellow triangle on NuGet node in Solution Explorer and this message:

Package 'SpreadsheetLight 3.4.9' was restored using '.NETFramework, Version =v4.6.1' instead of the project  target framework '.NETCoreApp, Version=v2.1'. This package may not be fully compa

[2018-06-20 12:43] bartonjs commented on #30545
That may be what the method implies it does.  But the NetFX implementation says it just calls the X509Certificate ctor, which does the fuzzy match it does.

https://referencesource.microsoft.com/#mscorlib/system/security/cryptography/x509certificates/x509certificate.cs,1c912b1396897f74

If you just mean that it ultimately fails on Linux, then this is duplicate of #2910.

[2018-06-20 12:48] bartonjs commented on #30543
We have at least one test for this, which passes on CoreFX and NetFX, but I'll look into it further to see if somehow we have a `byte[]` vs `string` ctor difference.

https://github.com/dotnet/corefx/blob/8ad2b10cff945e4428520c6932e8de499af2931b/src/System.Security.Cryptography.X509Certificates/tests/LoadFromFileTests.cs#L39-L52

[code]

and the test expects "B00000000100DD9F3BD08B0AAF11B000000033

[2018-06-20 12:50] filipnavara commented on #30545
Thanks for clarifying the NetFX behaviour. It is not the same issue as #2910 because the failing case here are Authenticode signed executables. There are unit tests in Mono to cover it and it's actually used in the toolchain:

https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/corlib/Test/System.Security.Cryptography.X509Certificates/X509SpcTest.cs#L1004-L1034

[2018-06-20 13:05] AppBeat commented on #27949
I had something like this in mind:

[code]

Maybe we could do something like:

[code]

I think this could be generally useful for a lot of scenarios. This call would of course affect just running process so there would be no side effects. Now you would have to edit %SystemRoot%\System32\drivers\etc\hosts file for which you must have administrative privileges (and affects entire machine).

[2018-06-20 13:36] filipnavara commented on #30546
Apparently the output differs a lot between various systems. I assume it's not meant to be parsable, so I guess it's fine and I will close the issue. For Mono we can write a custom formatter that will follow the Windows output and reuse the rest of the code as-is.

[2018-06-20 13:36] #30546 closed

[2018-06-20 13:54] bartonjs commented on #30545
The authenticode test we have is covered under the same issue.

https://github.com/dotnet/corefx/blob/8ad2b10cff945e4428520c6932e8de499af2931b/src/System.Security.Cryptography.X509Certificates/tests/LoadFromFileTests.cs#L210-L220

[2018-06-20 13:59] bartonjs commented on #30544
Yep, NetFx uses CERT_NAME_STR_REVERSE_FLAG for Subject and Issuer, and doesn't for the methods.  CoreFx has the methods return the properties.

The methods are marked Obsolete, but the fix should be easy enough.

[2018-06-20 14:04] filipnavara commented on #30545
Perfect, I will track the other issue then and close this one.

[2018-06-20 14:04] #30545 closed

[2018-06-20 14:23] bartonjs commented on #30543
... apparently the x509 tests don't run on netfx.

[2018-06-20 14:30] bartonjs commented on #30543
Running manually on netfx shows that while CoreFx and NetFx agree that the SerialNumber property and the GetSerialNumberString have the same endianness, and GetSerialNumber has the other endianness; they are reversed of the correct answer.

Wow, that's... potentially painful.

[2018-06-20 14:31] Wraith2 commented on #29979
@danmosemsft I've got as far as step 4 but i'm hitting a problem with running the perf tests. Specifically the command:

'..\..\build.cmd . -Release -- /p:CoreCLROverridePath=E:\Programming\csharp7\coreclr\bin\Product\Windows_NT.x64.Release\'
result in:
`  Using E:\Programming\csharp7\corefx\bin\testhost\netcoreapp-Windows_NT-Release-x64\ as the test runtime folder.
  Executing in E:\Programming\c

[2018-06-20 14:33] stephentoub commented on #30542
cc: @kouvel

[2018-06-20 14:43] bartonjs opened #30552 "S.S.Cryptography.X509Certificates tests do not run against netfx"
Apparently we have a couple of deviations.  Since pre-1.0.

[2018-06-20 14:47] danmosemsft commented on #29979
@joperezr any idea? I've never seen this.
@wraith2 try `clean -all` at the root and try again?

[2018-06-20 14:55] bartonjs commented on #30543
Filed #30552 to fix our lack of conformance testing here.

[2018-06-20 14:58] bartonjs commented on #30552
`msbuild /p:TargetGroup=netfx /t:BuildAndTest` a) fails to compile with this project, and b) after being hacked around to work it doesn't launch xunit.

Projects which have any of "netfx", "net462", "net47", or "netstandard" seem to launch xunit; and the rest of the System.Security.Cryptography projects have at least one of those.  (Except S.S.C.OpenSsl, which isn't something that maps to netfx)

[2018-06-20 14:58] ViktorHofer commented on #28379
@JeremyKuhne have you made progress on exploring new options? I think we should definitely get this into 3.0.

[2018-06-20 15:23] svick commented on #30547
The SpreadsheetLight package does not support .Net Core. It's possible that it will still work, if it doesn't use any APIs that are .Net Framework only, which is why you're getting a warning, not an error.

Though looking at the package, you might also need to manually install DocumentFormat.OpenXml.

[2018-06-20 15:44] Wraith2 commented on #29979
Done, no change. There are a number of build errors but nothing directly related to what i'm doing, the usual epsilon stuff, some avx apicompat and something in windowsresourcemanager, nothing that should really affect what i'm doing in collections. The Coreclr build has nothing but a few warnings related to tests that haven't been updated to the 2.2 runtime yet. Overall pretty clean so i'm not su

[2018-06-20 15:57] Serjster commented on #22781
Thanks for the reply, that definitely helps clarify such things... you would hope that ASP.NET would be smart enough to give a meaningful error message about the right version not being available instead of forcing, who know how many hours now on troubleshooting... come on Microsoft it can't be that hard to make this experience less painful... anyways, hopefully this help the next guy who comes ac

[2018-06-20 16:15] MarcoRossignoli commented on #29478
@stephentoub i think this issue is complete...maybe you can close.

[2018-06-20 16:34] MovGP0 commented on #26845
I agree that a `DataFrame` would be useful, especially in the Data Science and Machine Learning area.

It's basically an n-dimensional tensor (could be a scalar, vector, matrix, or higher level tensor) which has label-vectors for the individual dimensions.

The labels should be preserved as far as possible when mathematical operations are applied.

[2018-06-20 16:43] stephentoub commented on #29478
Yup, thanks.

[2018-06-20 16:43] #29478 closed

[2018-06-20 16:46] MovGP0 commented on #26845
I guess a `DataFrame` type must not (but may anyways) be part of the core library. Using something like the [Deedle](https://bluemountaincapital.github.io/Deedle) NuGet should do the job nicely. Especially when you can convert from and to the `Tensor` type.

[2018-06-20 16:47] AfsanehR commented on #29620
@MaksymProkopiv  Please find my email address at my profile.

[2018-06-20 18:29] filipnavara commented on #27466
I just wrote the implementation based on http://std.dkuug.dk/i18n/charmaps/T.61-8BIT (modified to use combining characters) and the [Wikipedia page](https://en.wikipedia.org/wiki/ITU_T.61). It matched code page 20261 on .NET Framework on Windows for my test data. However, in practice it was useless. Apparently there are some implementations which erroneously put in ISO 8859-1 encoded data and this

[2018-06-20 18:31] LTMenezes commented on #16337
@danmosemsft Should I assign some reviewer in the PR?

[2018-06-20 18:35] danmosemsft commented on #16337
The code owners are in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md
In this case one of @keeratsingh, @afsanehr, @david-engel would probably review it.

[2018-06-20 18:35] filipnavara commented on #27466
Here's the Mono test run on .NET Framework on Windows: https://dotnetfiddle.net/tO78Iw
The word in the output is 'Møbelhandel', where 'ø' is encoded as 0xF8 in the [test data](https://lapo.it/asn1js/#14244865646562792773204DF862656C68616E64656C202F2F204356523A3133343731393637). If T.61 encoding was used it would be interpreted as 'ł'. In conclusion, on Windows the T.61 encoding is interpreted as I

[2018-06-20 18:36] danmosemsft opened #30558 "Stop rolling Jenkins runs for CoreFX"
Now we removed the badges, they have no purpose. We should stop them.

@weshaggard could you please find the right person for this?

[2018-06-20 18:38] filipnavara commented on #27466
For completeness here's the implementation of `DerSequenceReader.ReadT61String` that I am going to shelve: https://gist.github.com/filipnavara/3d5f36762808417bae420f23e51a3f73

[2018-06-20 18:48] filipnavara opened #30559 "X509EnhancedKeyUsageExtension.EnhancedKeyUsages behaviour difference"
On .NET Framework `X509EnhancedKeyUsageExtension.EnhancedKeyUsages` makes a copy of the internal `OidCollection` and returns the copy to caller. Thus the caller cannot indirectly modify the internal state of the object. On .NET Core the internal collection is returned directly.

Mono unit test: https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/mcs/class/System/Test/System.

[2018-06-20 18:53] filipnavara commented on #30544
I know it is not a big deal since both of the functions are deprecated, but I thought I would report it anyway. I am running the Mono unit tests against the CoreFX implementation as part of an effort to reuse more of the code.

[2018-06-20 19:19] #30023 closed

[2018-06-20 19:48] bartonjs opened #30561 "X509Certificates TestComplexGetNameInfo tests return different answers on netfx"
On .NET Core GetNameInfo(X509NameType.UrlName) returns the first URL.  On .NET Framework it seems to return the last.

[code]

Many of the other GetNameInfo tests are failing for similar reasons.

[2018-06-20 20:15] mwpowellhtx commented on #30506
Somewhere along the way I'd received feedback that we should "forget about" *[ns1.6)* and just run with *(ns2.0]*? (note, version ranges...) Is this aligned with tooling dependencies on *[ns1.6)*?

[2018-06-20 20:51] seth-capistron commented on #30369
@SergeyKanzhelev, sorry for the delay. I was spending some time getting more familiar with the Application Insights approach and how we could do something similar. Using Diagnostics Source events would work for us for being able to inject correlation info on outbound traffic and consume it on incoming. A few things I’ve noticed though and am interested to get your thoughts on…

1. First is just ar

[2018-06-20 21:52] keeratsingh commented on #27719
Closing issue due to inactivity, kindly reopen if you have any further questions.

[2018-06-20 21:52] #27719 closed

[2018-06-20 21:55] keeratsingh commented on #29870
@Martin-Stein Did you get a chance to try the steps listed above ?

[2018-06-20 21:57] k2ly2n commented on #23401
`request.ResponseId = ParseResponse(response);`

not sure what you have in there but this might be the reason for increased total run time. this is the only part not adding up to individual request processing times.

[2018-06-20 21:57] keeratsingh commented on #30147
@corretge @moconchobhair Did you get a chance to test the connection with the latest version of .NET Core SDK 2.1.300 ?

[2018-06-20 22:36] #22786 closed

[2018-06-20 22:36] #27688 closed

[2018-06-20 22:55] tarekgh commented on #30207
@glittle any news here?

[2018-06-20 23:44] joperezr commented on #29979
That file gets generated as part of the build of corefx when calling a full build.cmd that executes with no errors, so if you had errors you won't have the deps file. You can check more info of how we generate the file here:
https://github.com/dotnet/corefx/blob/618ea91f4fdcdccbad87926af5094597c6d78255/src/dirs.proj#L19-L40

[2018-06-21 02:58] GrabYourPitchforks commented on #24093
Silly off the wall idea - what about **`wchar`** (_wide char_)? Today, most C and C++ compiler environments (outside of Windows) already use `wchar_t` to represent the functional equivalent of a 32-bit code unit. Windows is a notable exception, where `wchar_t` is defined to be a 16-bit type, but developers who p/invoke on Windows today already have to be cognizant of the bit width differences betw

[2018-06-21 03:33] benaadams commented on #24093
Works for me

Doesn't sound like we're going to get a short C# language keyword

So if we want something nice... i.e. `NotLotsOfCapitalFullWords`...

While I normally like .NET's naming conventions a long name is a little offensive for essentially an `int` which will also likely be used in generics and as loop variables.

[2018-06-21 03:40] benaadams commented on #24093
e.g. no one does
[code]
Do they? (Surely...)
[code]
Is far worse
[code]
Seems ok...

[2018-06-21 07:21] darrenstarr commented on #25115
Ok... I'm interested in this as well.

I am writing a Cisco CDP client for Linux that can be used from C#. There are a few solutions to this.

1) Use AF_LLC which would be the best solution but would require A LOT of research to simply read the packet and frankly, it's not particularly exciting to do so. I believe I will do this at some point though. I'm not excited about this solution because AF_

[2018-06-21 09:03] Etrimus commented on #30341
Hello, I have same issue, but with IIS and web.config, and I think, trouble also with HashTable.
https://github.com/dotnet/corefx/blob/16f26ba855f5cc6d52a738e8bc3856c6f77cf761/src/System.Runtime.Extensions/src/System/Environment.cs#L33

1. Create an `ASP net Core 2.1` app and and place in `Program.cs` line `Environment.GetEnvironmentVariables()`.
[code]
2. In blank IIS site place in `web.config` s

[2018-06-21 09:17] Bridgeway opened #30573 "WARNING - updating to Microsoft.AspNetCore.App (2.1.1) completely breaks IIS"
Tempted by the Updates option in "Manage Packages for Solution" in VS 2017, I thought it would make sense to upgrade from the 2.1.0 preview final release version.

However after doing so, I noticed several packages that were removed during the upgrade were not re-installed and after this whenever running by clicking the green arrow next to IIS Express I got 502.5 at first from Chrome with no abili

[2018-06-21 11:13] stijnherreman commented on #13660
The PR referred to by @keeratsingh is https://github.com/dotnet/corefx/pull/30342

[2018-06-21 12:19] kblok opened #30575 "Add the ability to connect to extra stdIO streams/pipes"
# Context

I'm trying to connect to Chromium using the flag `--remote-debugging-pipe`. When that flag is used, Chromium will listen and write to pipes using the stdIO/File Descriptors 3 and 4 (https://github.com/chromium/chromium/blob/a5f23780e29ab3d8f58269bd69bdc297beeed2f9/content/browser/devtools/devtools_pipe_handler.cc#L32).

# Problem

I found no way to connect to those pipes using the Proce

[2018-06-21 12:32] Bridgeway opened #30576 "Which version do I use ?"
Given the potential problems with nuget dependencies and IIS Express not always working properly with Kestrel, is there a rule of thumb regarding which version of AspNetCore2.1.x versions to install ?

For example if I install Microsoft.NETCore.App (2.1.0-preview1-26216-03 should I also only install the exact same version of the entity framework core packages, e.g:

Microsoft.EntityFrameworkCore.S

[2018-06-21 12:33] stephentoub commented on #30575
[code]
?

[2018-06-21 12:39] qmfrederik opened #30577 "X509Certificate2: Security check failure or stack buffer overrun when loading certificates in parallel"
The following code:

[code]

fails almost immediately:

[code]

The stack trace points to

[code]

[2018-06-21 12:39] qmfrederik commented on #30577
/cc @bartonjs @davidsh , probably related to #30090, #30200, #29758

It appears you have fixed this issue in the unit tests, but not in the product, is that correct?

[2018-06-21 12:40] stephentoub commented on #30577
This is on Windows 10 RS4, right?  It's a known Windows bug.

[2018-06-21 12:40] qmfrederik commented on #30577
This is on Windows 10 version 1803 build 17134.112

[2018-06-21 12:45] kblok commented on #30575
@stephentoub

[code]

I'm getting an `IOException` `Is a directory`.

[2018-06-21 12:49] stephentoub commented on #30575
Are you sure your process has file descriptor 3 as you expect it?  When your process is running, what do you see as output from doing:
[code]
where `yourprocid` is the id of the process in which this code is running?

[2018-06-21 12:52] stephentoub commented on #30575
Oh, maybe I misunderstood the original question.  Are you saying that some other process has file descriptors 3 and 4 open and you want to somehow connect to those?  You would need to know what interprocess mechanism that other process is using on those file descriptors.

[2018-06-21 12:56] kblok commented on #30575
I'm on a mac.
In NodeJS I just need to register 2 more pipes in the stdio (https://nodejs.org/api/child_process.html#child_process_options_stdio).

There from the code it's just about declaring 2 pipes and that's all https://github.com/GoogleChrome/puppeteer/blob/master/lib/Launcher.js#L115

I'm trying to mimic that.

[2018-06-21 13:01] stephentoub commented on #30575
As far as I can tell, that's all using NodeJS-specific mechanisms / implementation / patterns / helpers, with node being used in both the parent and child process, and thus it using its own agreed upon handshake for how to set up these pipes.  You would need to fully understand the implementation in order to simulate it.

[2018-06-21 13:03] MaximLipnin opened #30578 "Pkcs9SigningTime has different behaviour for dates <1950 and >2050"
For some edge cases like
[code]
or
[code]
it throws an exceptions on Windows and works on MacOS.

[2018-06-21 13:12] kblok commented on #30575
@stephentoub well... Chromium is not a NodeJS app...

[2018-06-21 13:13] filipnavara commented on #30578
The actual ASN.1 representation of the date uses only two digits for the year, which explains the 1950 to 2049 range. The APIs should behave consistently and throw exceptions for dates outside of the range. Right now it produces values that cannot be round-tripped.

[2018-06-21 13:13] cwe1ss commented on #30336
In OpenTracing, these are called "References": https://github.com/opentracing/specification/blob/master/specification.md#references-between-spans

I'd prefer that name but I'm obviously biased. 😄

A few things:
* Hard-coding an enum with these values into the deepest corners of the .NET framework seems unflexible to me. This is not a well-defined list (as in "part of a specification") and adding v

[2018-06-21 13:18] stephentoub commented on #30575
Let me rephrase my questions then:
- Where is this protocol documented?  Or is this just you reverse engineering it? What is the protocol?
- Inferring from your comments, it sounds like the child process expects that its file descriptors 3 and 4 have already been configured by the parent process as anonymous pipes, with the parent process owning the other ends?

[2018-06-21 13:31] cwe1ss commented on #30334
Who would call this under which circumstances?

The problem with https://github.com/aspnet/Hosting/issues/1385 is that propagation logic has been put into the responsibility of instrumentation code. This is is wrong and needs a different fix IMO. Activity clearly lacks [OpenTracing's Inject/Extract concept](http://opentracing.io/documentation/pages/api/cross-process-tracing.html) which would move

[2018-06-21 13:33] kblok commented on #30575
That's what I'm trying to understand. I don't play with this kind of stuff every day, and I need to set the boundaries between "NodeJS idioms" and standard behaviors.

That's why I tried to make this issue as generic as possible, because these guys are using standard File Descriptors, which I think it's the main question: "How can I create/read/write some other FDs besides stdIn stdOut and stdErro

[2018-06-21 13:42] cwe1ss commented on #30335
Who would write these values onto the actual transport objects (like ASP.NET Core's `HttpResponse`) and who would ensure that transport-specific rules are handled properly (e.g. invalid characters in tracestate keys, ...)?

Requiring every library developer to do this manually will not work IMO. This would make instrumenting code even more complex - ASP.NET Core's diagnostics file already has more

[2018-06-21 13:45] bartonjs commented on #30577
Yeah, this is a bug in Windows.  The best we could do in the product is take a global mutex during PFX loading (but that would still race with native applications and .NET Framework).

[2018-06-21 13:50] karelz commented on #30500
@emsfeld do you have a chance to provide more information? Sadly, this is non-actionable from our side. There's plenty of customers on 2.1 who don't hit the problem, so it is specific to the app pattern. Without knowing the pattern or having some logs/traces, there is nothing we can do :(.

[2018-06-21 13:51] karelz commented on #30500
@emsfeld can you try to downgrade or disable AppInsights? - see https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/690#issuecomment-399046332 for possible culprit.

[2018-06-21 13:52] cwe1ss commented on #30337
We should fix the existing API in my opinion. It should either be mandatory or more clear that people have to fire the events. If we can't mandate it and if people fail to call the events, it's a programming error IMO.

Having yet another DiagnosticSource listener doesn't help - it just adds complexity.

[2018-06-21 13:59] emsfeld commented on #30500
@karelz I am neither using AppInsights nor AspNetCore. I basically just repeatedly pull the source from websites using HttpClient from System.Net.Http. Maybe I should have reported this as a separate issue but (possibly wrongly) assumed it is related. I will try to create a short reproducible test case.

[2018-06-21 14:00] cwe1ss commented on #30331
I'm with @vancem on this one. We have to be super careful with what gets added to `Activity`. `Activity`'s main purpose is code "instrumentation" and that code shouldn't have to know about tracer-specific stuff like propagation headers etc.

If baggage is not sufficient for this, we must make sure that this has a general reason of existence - independent of any specification. The W3C spec is not y

[2018-06-21 14:06] stephentoub commented on #30575
I think this is the part that's confusing the issue, or at least confusing me :) There are only three "standard" file descriptors: stdin (0), stdout (1), stderr (2).  And all that means is that apps should expect those file descriptor numbers to map to those concepts, so that when a parent process launches a child process and configures the child process, it can set up 0/1/2 in the child process a

[2018-06-21 14:28] kblok commented on #30575
Exactly. That would be the feature I need. But it's also important for me to know if this is something I can accomplish now or not.

Thanks for taking your time to go through this issue.

[2018-06-21 14:29] karelz commented on #30500
@emsfeld yeah, let's file a separate issue for investigation to keep things simple - we can merge them later if they turn out to be the same root-cause.
If you can give us some repro we can look at locally, that would be amazing!

[2018-06-21 14:33] BjornSigurd commented on #30573
I confirm.  Got the "502.5" error in Chrome after having upgraded from 2.1.0 to 2.1.1.
Downgrading from 2.1.1 to 2.1.0 solved the problem.

[2018-06-21 14:55] whoisj commented on #24093
`rune`, `wchar`, and `uchar` (suggested on other thread) all sound good to me. Any suggestions for a peer of `string`? `wstring`, `ustring`, or other?

... and why not get a C# language keyword? Sure, not having one for the first release makes sense, but if this is going the future to string handling not having a keyword is not only disingenuous, but overtly hostile towards its adoption.

/CC @Mad

[2018-06-21 15:13] glittle commented on #30207
Thanks, @tarekgh!  Some responses in a couple of comments...

Fortunately, there is only one definition of the Badíʿ calendar and it is purely astronomical. We are currently in year 175 B.E.  Before 172 (three years ago) the calendar was not fully defined and the common practice was to start the year on March 21. However, from the start of 172 and into the future, the year is started on the day (b

[2018-06-21 15:13] karelz commented on #30547
Answered & not CoreFX related, closing.

[2018-06-21 15:13] #30547 closed

[2018-06-21 15:45] glittle commented on #30207
For the exact list of functions in the API, I'll defer to your knowledge of the current system and what is required. However, here are some questions...

1. In the main code listing above, there are no functions that don't override a base function. Are we allowed to introduce functions that are specific to this calendar?
1. What is the purpose of `AlgorithmType`?  There will only be one, so I'm no

[2018-06-21 16:14] filipnavara commented on #30578
@karelz I think it's more of a bug than a question :) I stated the reason in the comment above.

[2018-06-21 16:29] tarekgh commented on #30207
Does the Universal House of Justice is the publisher of this data? or someone else?

This is not a big problem as we already doing similar idea in the Persian calendar. I mean in the Persian calendar we calculate the astronomical event there too. I believe we can calculate it for the Badi calendar too. the Calendrical Calculation book has the details on how to calculate it and it is not that compl

[2018-06-21 16:43] jaredpar commented on #24093
New keywords are breaking changes 100% of the time. No matter what word you choose there is a company out there that has a type of that name which is used everywhere in their project. The only option we have are contextual keywords: `var` for example.

I have mixed feelings about using a contextual keyword for this. The existing type keywords (`int`, `string`, etc ...) have a concrete advantage ov

[2018-06-21 16:45] ByronAP commented on #30500
my use case is the same, I make lots of http requests but do not use asp .net core or app insights. So far what I think is happening is that the new http system is not releasing all of the resources properly. I am at the create method as hot and also show some zombies, next run I will hopefully be able to see deeper into that.

[2018-06-21 16:47] ByronAP commented on #30500
also for those of you who hit this, before rolling back try going back to curl via SetSwitch ala ```AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);```

[2018-06-21 16:47] glittle commented on #30207
Sounds good.

I'm not understanding why this would be. However, since a sorted group of dates would put the Ayyam-i-Ha days in the correct position, I'm not sure that GetMonthSortable would be needed. I'm okay to drop that, and just have GetMonth return 0 for Ayyam-i-Ha dates.

[2018-06-21 16:49] stephentoub commented on #30500
The same site or to many different sites? e.g. are you closer to a) accessing the same web service over and over, or b) implementing a web crawler?

[2018-06-21 16:50] ByronAP commented on #30500
many using proxies, however anomalies showed up for my redis connections which uses only 1 server and no proxy

[2018-06-21 16:54] ByronAP commented on #30500
@emsfeld are you using proxies?

[2018-06-21 16:56] tarekgh commented on #30207
@janrg please advise with the following:

- What calendar data we have which is published by authenticated source? e.g. Universal House of Justice.
- What will be your concern if we use the astronomical calculation beyond the data range we have?
- what is your knowledge around the year 2096 as the vernal equinox will start on March 19 in Tehran in that year?

[2018-06-21 16:59] janrg commented on #30207
Please have a look at my comment here: https://github.com/dotnet/corefx/issues/30207#issuecomment-396700713
Within the noted period, there are a few years where sunset in Tehran and the equinox come reasonably close, but even the closest approach has a difference of 728 seconds with an uncertainty in delta T (which is the dominating source of uncertainty in all of this) of 131 seconds so I am very

[2018-06-21 17:05] janrg commented on #30207
@tarekgh Ah, we posted at the same time :-)

- Authoritative data exists for the years 172 to 221 (2015 - 2064). For years earlier than 172, the Badí' calendar was coupled to the Gregorian one, so implementation is trivial there.
- As mentioned I have been asked by the Universal House of Justice to make it clear with the data I have produced that only dates covered in the list are authoritative, s

[2018-06-21 17:05] tarekgh commented on #30207
@janrg I am not clear what is your suggestion here? should we go with the data that @glittle has? or should we use your data? or should we use the astronomical calculation? or we use a mix between using the date and using the calculations?

[2018-06-21 17:07] janrg commented on #30207
@tarekgh As far as I know, my data is the most accurate one anyone has produced to date. Calculating on the fly is not feasible since accurate equinox calculations are so involved, that it would be a significant performance issue (around 1sec/data point in the PHP implementation I used). My suggestion is to use my data up to 507 BE with a note that dates beyond 221 BE are not authoritative.

[2018-06-21 17:10] wfurt commented on #28847
Socker handler was fixed by #28982. I think it is ok to close this.

[2018-06-21 17:10] #28847 closed

[2018-06-21 17:12] janrg commented on #30207
The data could also in principle be stored extremely concisely, since the only possible dates for Naw-Rúz in that range are 19, 20, 21, 22, so two bits/year would be enough, 3 if we also want to include the length of Ayyám-i-Há to avoid having to look up next year's date to check that.

[2018-06-21 17:21] tarekgh commented on #30207
Thanks @janrg this is very useful.

does the Universal House of Justice officially approved your data

In general, I wouldn't mind using your data. do you think we can try to generate the same data with other sources just to validate if your calculation used to generate the data is accurate enough?

Also, do you know if Universal House of Justice accept the years can start on 19th and 22th of Marc

[2018-06-21 17:23] JeremyKuhne commented on #30456
@cocowalla thanks for validating! Please continue to tag me if you find any issues or have any other feedback. I've been reading, but didn't respond as @danmosemsft beat me to it. :)

[2018-06-21 17:33] emsfeld commented on #30500
@ByronAP No, no proxies.

[2018-06-21 17:35] janrg commented on #30207
No they have not officially approved the data, otherwise it would be authoritative and we wouldn't need a notice in the documentation :-)

Regarding checking the data I spent weeks looking for the most accurate equinox calculations possible so I doubt I'll find anything more or even as accurate, but I'd be happy to check - say - all dates where the "safety margin" (the time between sunset in Tehra

[2018-06-21 17:38] glittle commented on #30207
The Badíʿ calendar is not dependent in any way on the Gregorian calendar, so it isn't concerned with the date in March.  The only reason we think about that is that most computers have the Gregorian calendar built-in and we can simply convert dates from Gregorian to Badíʿ.

[2018-06-21 17:42] glittle commented on #30207
I'd recommend adding another few bytes of pre-calculated data rather than having to calculate it frequently. That calculation would have to count the days between the start of each year, then adjust if there was a Gregorian leap year in there or not.  When doing a listing over a number of years, the calcs would add up.

[2018-06-21 17:54] NRKirby opened #30580 "Cannot run System.Configuration.ConfigurationManager.Tests"
I am unable to run the tests in the `System.Configuration.ConfigurationManager` solution. I asked for help on [gitter](https://gitter.im/dotnet/corefx-contrib-docs#utm_source=notification&utm_medium=email&utm_campaign=unread-notifications) and @karelz suggested I open an issue on here.

When I run the tests in the `System.Configuration.ConfigurationManager` solution I get the following output:

[c

[2018-06-21 17:54] tarekgh commented on #30207
This is true for most of the calendars so I am not really worried about the perf here.
Just to give some idea regarding why I am trying to not have data is because of the size. this calendar will be implemented inside the core (as we do with other calendars) and we have Alpine docker image which we are squeezing the size of the framework as much as we can there. n same time I wouldn't mind to have

[2018-06-21 17:55] huanwu opened #30581 "Area-Serialization Sprint 138"
The issue is for tracking issues to be done in sprint 138 (due by 7/20/2018)

[2018-06-21 17:56] janrg commented on #30207
So I've just had another search for websites that offer equinox times far into the future and except for one, they all differed from my results by far less than the aforementioned safety margin. Here are the websites:
https://www.drikpanchang.com/seasons/season-vernal-equinox-timings.html
http://www.newscotland1398.net/equinox/vern1788.html
http://www.astropixels.com/ephemeris/soleq2001.html
https

[2018-06-21 17:59] janrg commented on #30207
@tarekgh If the data can be binary, I can get it down to just over 1kB including the lengths of Ayyám-i-Há, a little less excluding that.

[2018-06-21 18:00] glittle commented on #30207
I'd expect the amount of extra code to do the calculation would far exceed the extra 500 bits of data needed to embed the number of Ayyam-i-Ha days for 500 years. For each year, we'd need just 0 or 1 to indicate 4 or 5 days.

[2018-06-21 18:04] #30559 closed

[2018-06-21 18:04] tarekgh commented on #30207
ok, thanks @janrg and @glittle

Per the discussion, I would say let's move forward with using @janrg data with suggested range. the data will include the Ayyam-i-Ha needed bits too. in the future, we can update the data as necessary. While this will be kind of breaking change, we can document that from now.

@glittle could you please update the proposal according to the discussions here?

[2018-06-21 18:07] glittle commented on #30207
Thanks. I should be able to update the proposal in the next two days.

[2018-06-21 18:08] #29764 closed

[2018-06-21 18:31] huanwu commented on #27512
We can consider it as noisy since it is less than 5%.

[2018-06-21 18:31] #27512 closed

[2018-06-21 18:32] huanwu commented on #27513
We can consider it as noisy since it is less than 5%.

[2018-06-21 18:32] #27513 closed

[2018-06-21 18:32] huanwu commented on #27516
We can consider it as noisy since it is less than 5%.

[2018-06-21 18:32] #27516 closed

[2018-06-21 18:34] huanwu commented on #29271
@yujayee Can you look at this issue with @mconnew?

[2018-06-21 18:35] alandoherty opened #30582 "DataFlow BufferBlock<T> leaking"
I've had to fix numerous problems in my projects using `BufferBlock<T>` leaking memory, I can't tell if this is by design or if it's actually unintended behaviour. Creating a `BufferBlock<T>` without completing it seems to leak both memory and scheduled tasks slowly grinding the application to a halt.

Quick example to trigger problem, results in memory leak:

[code]

Quick example to remedy probl

[2018-06-21 18:49] benaadams commented on #8142
Has this been resolved with ValueTask and IValueTaskSource?

[2018-06-21 18:51] #8931 closed

[2018-06-21 19:25] whoisj commented on #24093
Which 99% of the reason I think people want a language keyword. The other 1% being it just "looks  better" 😏

[2018-06-21 20:18] KalpeshChheda commented on #13214
Hi @ericstj I am facing same issue with my app
on Windows App Certification Kit - Test Results

Binary analyzer
Error Found: The binary analyzer test detected the following errors:
File C:\Program Files\windowsapps\myapp.app_1.1.29.0_x86__d0tm94ngvvywp\clrcompression.dll has failed the AppContainerCheck check.
File C:\Program Files\windowsapps\myapp.app_1.1.29.0_x86__d0tm94ngvvywp\clrjit.dll has f

[2018-06-21 20:37] pjanotti commented on #23588
In my aspiration to avoid replacing native image CoreLib dll (more stable and less risky for dev boxes). I didn't notice something very important: using native image and fixing the PDB (needed due to OpenCover [issue](https://github.com/OpenCover/opencover/pull/826)) doesn't get source information on the report for CoreLib. Worst, the way that  I changed `CodeCoverage.targets` requires hacks to ge

[2018-06-21 20:37] Wraith2 commented on #29979
So I can't build a subproject because I can't build the entire tree? that doesn't make a lot of sense. How am I supposed to get into a state where I can build anything? Wait and hope the entire tree builds error free at some point?

[2018-06-21 20:41] Petermarcu opened #30584 "BrotliStream crashes trying to decompress ~2000000 int32 array"
@fontmaniac commented on [Wed Jun 20 2018](https://github.com/dotnet/core/issues/1718)

# Issue Title

BrotliStream in Decompress Mode crashes when trying to decompress large-ish array. We originally encountered the problem when working with binary data (~40Mb when compressed), here is a minimal example with just 2000000 int32 array of random values.
Exceptions thrown in this example vary between

[2018-06-21 21:32] maryamariyan commented on #30580
In the meantime, you could use the following if you would rather use the command line to run tests and are interested in running tests for only one project:

In Developer Command Prompt for VS 2017 (any other version you have installed)
[code]

For a more comprehensive list, check the docs [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md)

[2018-06-21 23:05] Clockwork-Muse commented on #30582
...what makes you think that BufferBlock is leaking anything, Task or otherwise?

[2018-06-21 23:10] shahab1363 opened #30586 "DisplayFormat.NullDisplayTextResourceType property do not work as expected in .net core 2.1.1"
Hi
I am not sure if it's my fault or a bug in .net core, but when I use DisplayFormat attribute in my asp.net core 2.1 application, NullDisplayTextResourceType  do not work and the output shows ResourceName instead of ResourceValue for NullDisplayText.
I used the attribute like this:
`
[Display(ResourceType = typeof(Resources), Name = "Lead_Tel_Name", Prompt = "Lead_Tel_Prompt")]
 [DisplayFormat(N

[2018-06-21 23:11] alandoherty commented on #30582
I stripped the application down to just that code, I've found this to be a problem in some of my other code but it occurs even when I call BufferBlock<Test> constructor with nothing else (in .NET Console App project). I find that this problem leaks memory and tasks as shown below. It is resolved if you call `Complete` however.

![image](https://user-images.githubusercontent.com/2723639/41749778-56

[2018-06-21 23:43] svick commented on #30582
When I run your code using the `dotnet` command line on .Net Core 2.1 or .Net Framework 4.7.2 and System.Threading.Tasks.Dataflow 4.9.0 on Windows 10, I don't see the behavior you're describing: memory usage according to Task Manager stays stable at few megabytes.

The only thing I can think of: are you using a recent version of the System.Threading.Tasks.Dataflow package (and *not* the deprecated

[2018-06-22 00:05] alandoherty commented on #30582
I'm using .NET Core 2.0 currently, let me try 2.1 and see if that fixes the issue. I'm using the `System.Threading.Tasks.Dataflow` package, and there isn't anything special about my setup. I've found this issue to occur on Linux as well.

[2018-06-22 00:05] talanc opened #30587 "HttpClient: HTTPS requests fail in .NET Core 2.1 under proxy"
HTTPS requests fail on .NET Core 2.1 under a proxy, the response is a 407 proxy required error.

I've made a repo demonstrating it working under netcore20 and not under netcore21: https://github.com/talanc/dotnetcore-proxytest
You need to be in a proxy environment for netcore21 to fail.

Background: I was in the process of converting an ASP.NET Core 2.0 application to 2.1 and I saw 1 of my tests f

[2018-06-22 00:09] davidsh commented on #30587
This is probably a dupe of #30330

[2018-06-22 00:10] ericstj commented on #13214
It’s not clear this is the same issue. Can you open a new issue with repro steps and attach the project.assets.json file?

[2018-06-22 00:34] alandoherty commented on #30582
Just tested and it doesn't occur with `dotnet` but it does occur when running from Visual Studio 2017 with either Debug or Release configurations.

[2018-06-22 00:56] holance opened #30589 "System.Numerics.Vector Bug"
Here is the simple code created with a c# console application under DotNet Framework(test on 4.5~4.7.1).

If compute the result inside structure constructor `vt = new TestStruct(){...}`, the `vt.C` and `vt.D` results are incorrect numbers under Release build with x64.

It works fine with Debug build or under x32 or calculate the value outside the struct constructor like `vj`.

[code]

[2018-06-22 01:02] stephentoub commented on #30582
F5 or ctrl-F5? i.e. with the debugger attached or not?

[2018-06-22 01:03] rocketRobin commented on #30352
Thank you very much!

[2018-06-22 01:03] #30352 closed

[2018-06-22 01:06] alandoherty commented on #30582
Only with the debugger attached it seems.

[2018-06-22 01:10] stephentoub commented on #30582
When the debugger is attached, Tasks are tracked in a static table and kept alive until they're completed, e.g.
https://github.com/dotnet/coreclr/blob/7196a7f62ba4047ddd51523cc4a253ba44201033/src/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs#L304-L307

[2018-06-22 01:13] alandoherty commented on #30582
Is there any way to disable this behaviour? Or mitigate rouge libraries from creating tasks which never complete? It makes it quite difficult to debug memory/performance issues since it adds noise when you specifically are aiming to look for those sorts of issues.

[2018-06-22 01:17] holance commented on #30589
Seems like the dot net core works fine.  I will report to Dotnet framework team

[2018-06-22 01:17] #30589 closed

[2018-06-22 01:17] stephentoub commented on #30584
I expect this is a dup of https://github.com/dotnet/corefx/issues/30030, which was fixed in master by https://github.com/dotnet/corefx/pull/30058, and which should be released in a future 2.1 servicing release after https://github.com/dotnet/corefx/pull/30066 is merged.

Can you try your repro with the bits from master?  I just tried your repro both with what's in master and with what's in master

[2018-06-22 01:48] mcblakeb commented on #30147
I am still seeing this issue on High Sierra 10.13.5

The new version of sql ops studio I downloaded fixed the issue, but I can't seem to get a .net core app to use Entity Framework to connect to a data (the same error as above and the same error I was seeing in Sql Ops Studio before I upgraded). I've tried updating all my packages in my proj file to the absolute latest nuget version with no luck:

[2018-06-22 02:43] maryamariyan commented on #30580
I followed the steps to reproduce above as you explained and it worked fine. One more thing you can do is to make sure you do a clean build and start over using `git clean -fdx`.

[2018-06-22 02:43] #30580 closed

[2018-06-22 02:48] xiexin36 commented on #30388
Is there any quick way to fix this bug?

[2018-06-22 02:54] stephentoub commented on #30584
I'm going to close this as a dup of #30030, since I confirmed locally that the shared repro repros before #30058 but not after.  If you find otherwise, please feel free to re-open.

[2018-06-22 02:54] #30584 closed

[2018-06-22 03:05] stephentoub opened #30592 "Add MemoryExtensions.Trim methods for ReadOnlyMemory<char>"
Most of the `ReadOnlySpan<char>`-based methods on `MemoryExtensions` work well for `ReadOnlyMemory<char>` as well, since it both exposes a `Span` property of type `ReadOnlySpan<char>` and is implicitly convertible to `ReadOnlySpan<char>`.  However, a few of the methods aren't fully usable, in particle the `Trim` overloads.  That's because unlike the other methods like `StartsWith`, `IndexOf`, etc.

[2018-06-22 03:40] davidsh commented on #30587
Yes, we plan to put this into a servicing release of 2.1 in the next few months.

[2018-06-22 03:55] fontmaniac commented on #30584
Thanks for looking into it. I can confirm that crash doesn't reproduce when using current master.

[2018-06-22 03:55] stephentoub commented on #30584
Great. Thanks for confirming.

[2018-06-22 05:58] cyberphone commented on #29271
@karelz @mconnew @yujayee I wouldn't bother about this request because a recent investigation of mine indicates that the JSON community is unable to fix this in a meaningful way:
https://github.com/cyberphone/I-JSON-Number-System#existing-solutions

[2018-06-22 06:29] tanagoa opened #30593 "mac:dotnet new FailFast (ja_JP.UTF-8)"
I have an error below, when I run "dotnet new --all" command after installed a pkg of "dotnet-sdk-2.1.300-osx-x64.pkg" on macOS High Sierra v10.13.5.

FailFast:
Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names.  Resource name: Arg

[2018-06-22 07:16] KalpeshChheda opened #30594 "Binary analyzer clrcompression.dll has failed the AppContainerCheck check"
Hi @ericstj I am facing same issue with my app
on Windows App Certification Kit - Test Results

Binary analyzer
Error Found: The binary analyzer test detected the following errors:
File C:\Program Files\windowsapps\myapp.app_1.1.29.0_x86__d0tm94ngvvywp\clrcompression.dll has failed the AppContainerCheck check.
File C:\Program Files\windowsapps\myapp.app_1.1.29.0_x86__d0tm94ngvvywp\clrjit.dll has f

[2018-06-22 07:16] KalpeshChheda commented on #13214
Created new issue https://github.com/dotnet/corefx/issues/30594

[2018-06-22 07:28] Sunny-pu commented on #28544
failed again in Master Branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180622.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PlatformHandler_PostScenarioTest~2FPostSyncBlockingContentUsingChunkedEncoding_Success(serverUri:%20https:~2F~2Fcorefx-net-http2.azurewebsites.net~2

[2018-06-22 07:35] filipnavara commented on #30578
Here's an excerpt from RFC 5652 (Cryptographic Message Syntax):

Essentially it boils down to two problems:

1. `AsnWriter.WriteUtcTime` should throw exceptions for dates outside of the range.
2. `Pkcs9SigningTime` should support dates outside of the range by using generalized time. However, this is not currently supported on any platform or NetFX.

cc @bartonjs

[2018-06-22 08:00] Hillbillywild commented on #30576
I’m new and if you could direct me to a knowledgeable person willing to help me, it would mean more than you know. My email. Is Hillbillywild@gmail.com. I hope it was ok to post this here and if not please direct me where and thank you so much.

[2018-06-22 08:09] roterdam commented on #30139
@davidsh Thanks, the api doesn't look very intimidating so I'll use that. Do I now have to worry about TCP keep alive? Like if I don't receive any data for 2 minutes I shutdown the connection or does the OS take care of it?

[2018-06-22 08:14] filipnavara opened #30595 "X509Store.Remove[Range] fails with NullReferenceException"
`X509Certificate[2]` has a parameter-less constructor which creates a certificate with no reference to `iCertificatePal` object. When a certificate is created this way and passed to  `X509Store.Remove[Range]` it will result in `NullReferenceException`.

Note that the constructor is useless without the `Import` methods which currently all return `PlatformNotSupportedException`. Thus one way to solv

[2018-06-22 08:16] filipnavara commented on #30595
Apparently it also affects other APIs such as `X509Chain.Build`.

[2018-06-22 08:50] Martin-Stein commented on #29870
Hi keeratsingh,
Sorry for the late response. On my developer machine it is working with 4.5.0 stable version. But on two different non developer-machines it is not working!  Here are the requested results for one of them:

**dotNet --info:**

C:\WINDOWS\system32>dotnet --info
.NET Core SDK (gemäß "global.json"):
 Version:   2.1.300
 Commit:    adab45bf0c

Laufzeitumgebung:
 OS Name:     Windows
 O

[2018-06-22 08:55] qmfrederik opened #30596 "CopyWithPrivateKey appears to have very different performance on Linux, Windows and macOS"
The performance of `X509Certificate.CopyWithPrivateKey` for 2048-bit RSA keys appears to be very different on Windows, Linux and macOS:

| Platform | Time         | Relative
|-----------|------------|----------
| Windows | 2.323 ms   | x 74
| Linux       | 0.031 ms       | 1
| macOS    | 82.036 ms | x 2636

Comparing the perf on Linux, macOS and Windows is to some extent comparing apples and orang

[2018-06-22 08:55] qmfrederik commented on #30596
/cc @bartonjs

[2018-06-22 09:06] kihamo commented on #29147
I have the same problem. I installed the package **icu-libs** and set DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=false

Example
[code]
It works for me

[2018-06-22 09:41] filipnavara commented on #2910
I was playing with decoding Authenticode, which is also supposed to be supported. Turns out most of the plumbing code is already present in CoreFX (no error handling, just PoC):

[code]

and it boils down reading PKCS#7 certificates. The last constructor fails with an exception.

[2018-06-22 10:31] kukjevov commented on #30354
Hi i havent tried Wireshark since it started working for me. But i can if it helps. So should i, let me know.

[2018-06-22 11:46] MichalStrehovsky opened #30597 "UWP 6.2 size on disk optimizations"
This is a running list of size on disk optimizations we're planning for UWP 6.2 to meet size on disk footprint targets set by the Windows team in a post-NetStandard 2.0 world.

- [x] Port https://github.com/dotnet/corert/commit/0ac83cb8d6f9ab10df616a608fcf6fdfa6eabe2b to CoreFX (#30598)
    - [x] Port to the release branch
- [x] Fix size regressions in `System.Linq` (3 MB size on disk saving for M

[2018-06-22 11:46] MichalStrehovsky commented on #30597
Cc @sergiy-k

[2018-06-22 11:58] filipnavara opened #30599 "Build on macOS Mojave DP fails"
Unfortunately the `SecCertificateCopyPublicKey` API has been deprecated and causes build failure due to the following warning (and -Werror):

[code]

[2018-06-22 12:09] filipnavara commented on #30599
Workaround is to add `add_compile_options(-Wno-deprecated-declarations)` in src/Native/Unix/CMakeLists.txt.

[2018-06-22 12:15] valorl commented on #4198
@roederja2 Thanks for putting the script here. I tried it from a Linux machine. The Kerberos setup seems to work fine, my `klist` shows `06/22/2018 11:31:37  06/22/2018 21:31:37  krbtgt/****.******@****.******`.

However, executing `sqlcmd` or a dotnet app (with SqlClient) doesn' work with `Integrated Security=true`. Any suggestions how should I debug this further ?

`sqlcmd -E -S <server> -d <dat

[2018-06-22 12:37] valorl commented on #4198
@roederja2 My `System.Data.SqlClient` package is @ `4.5.1` (that should be latest)

This is my `dotnet --info`:
[code]

[2018-06-22 12:46] Therzok opened #30600 "FileSystemWatcher.OSX consumes way too many threads"
Given a user of the FSW which wants to monitor only changes on some files, the implementation of the OSX watcher, starves the system by creating one thread per watcher.

Without writing a helper class that limits the number of watchers by doing some heuristics on the path trees that need to be watched and manually bookkeeping the watchers, it is quite impossible to workaround this, so it seems lik

[2018-06-22 12:49] Therzok commented on #30600
Another thing that comes to mind is to have one CFRunLoop shared by all the FSEventStreams

[2018-06-22 12:54] digambar-malla commented on #13035
I hope will get some help.
I am trying to connect to RedShift DB Using AWS Lambda from .Net Core 2.0 App.

I am using Redshift 64 bit Driver getting it from here
https://docs.aws.amazon.com/redshift/latest/mgmt/install-odbc-driver-windows.html

`string connString = "Driver={Amazon Redshift (x64)};" +
            String.Format("Server={0};Database={1};" +
            "UID={2};PWD={3};Port={4};SSL=t

[2018-06-22 12:54] ViktorHofer opened #30601 "Why is System.ComponentModel.Composition not supported on uap?"
Is there a specific reason that we don't support MEF1 in uap? We currently forward to the inbox assembly when using the nuget package: https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Composition/pkg/System.ComponentModel.Composition.pkgproj#L12

But the inbox assembly seems to just be a turd assembly. I can't reference any types inside a RS4 application neither with or witho

[2018-06-22 13:09] jonwagner commented on #13035
ODBC on unix requires the installation of additional database-specific drivers on the server. I don’t know if you can do that on a lambda server.

If you are connecting to redshift, you might be able to use the postgres driver instead.

On Jun 22, 2018, at 8:55 AM, Digambar Malla <notifications@github.com<mailto:notifications@github.com>> wrote:

I hope will get some help.
I am trying to connect t

[2018-06-22 13:12] digambar-malla opened #30602 "AWS Lambda Connect to Redshift DB using ODBC Connection"
I hope will get some help.
I am trying to connect to RedShift DB Using AWS Lambda from .Net Core 2.0 App.

I have included System.Data.Odbc in app

`string connString = "Driver={Amazon Redshift (x64)};" + String.Format("Server={0};Database={1};" + "UID={2};PWD={3};Port={4};SSL=true;Sslmode=Require", RedShiftServer, RedShiftDBName, RedShiftUsername,RedShiftPassword, RedShiftPort); OdbcConnection co

[2018-06-22 13:21] digambar-malla commented on #13035
@jonwagner makes sense...can you suggest me any if you know ? Looking for ORM implemnetation

[2018-06-22 13:23] bigmacd commented on #13035
The Redshift drivers you mention are for windows.  The use of these drivers and the error message are incongruent.

Regardlesss, as @jonwagner  mentioned, you will need unixODBC in your environment and I don't know if Lambda has a runtime that supports that.

The proper architecture would be to have your lambda function make an api call that does the database heavy lifting.

[2018-06-22 13:36] filipnavara commented on #30595
Related to #12223.

[2018-06-22 13:57] DanRigby commented on #18449
It would appear that .NET Framework doesn't share this behavior if this SO answer is correct: https://stackoverflow.com/a/40162071/53777

Some level of control over this normalization behavior would be helpful in working with non standards compliant host systems.

[2018-06-22 14:26] shortstuffsushi opened #30604 "Question about AuthenticationHeaderValue"
This was a while back, so hopefully I remember the details right. I was working on a project that was making requests via HttpClient to a remote API server that we had no control over. The server used (their own version of) oauth, and expected the Authentication header to be simple `Authentication: sometokenstring` - no scheme. As far as I can tell, this isn't easily doable using the `Authenticati

[2018-06-22 14:30] LukasBendikas opened #30605 "HttpWebResponse.Close acts differently from traditional framework"
Apologies if I'm in the wrong place.

I have an old project which uses HttpWebRequest/HttpWebResponse quite a lot and am targeting classic .NET v4.6.1 and .NET core v2.0.

During code migration to Net Core I'm seeing code break which uses HttpWebResponse after Close() was called since apparently Close == Dispose in Net Core. In traditional .NET this is not the case and my code relies on HttpWebRes

[2018-06-22 14:33] filipnavara opened #30606 "Proposal: Get rid of the X509 PAL static methods"
Currently the X509 PAL classes such as `CertificatePal`, `StorePal`, `ChainPal`, etc. export a lot of static methods for object creation. I would like to move these methods into the `IX509Pal` interface. It would look something like this:

[code]

The idea is to resolve all name collisions and allow compiling both Pal.OSX (Apple Crypto) and Pal.Unix (OpenSSL) into single binary and be able to swit

[2018-06-22 14:35] ViktorHofer commented on #29329
The PR for it should be merged pretty soon but unfortunately we can't push a package update with the missing functionality as one of its dependent packages (System.Reflection.Context) relies on an internal change (exposure of TypeInfo ctor) of the framework which means we have to wait till .NET Core 3 and .NET Standard vNext (as we still want to be able to target .NET Standard here).

[2018-06-22 14:40] bartonjs commented on #30596
Everyone has to export public keys and see if they match (different cost on different systems).

* Linux then just uprefs the native pointer, assigns a managed field.
* Windows sets a property on the new cert context, so a P/Invoke into a big switch with some extra validation.  Plus building the new cert context.
* macOS has to build a temporary keychain (which touches the filesystem), copy the ce

[2018-06-22 14:48] svick commented on #30582
@stephentoub Would it make sense to track them using weak pointers (or a similar approach) instead? That way, abandoned tasks could be GCed.

[2018-06-22 15:18] ydekova commented on #30388
@xiazen, to sum-up there are two workarounds in this thread, you can opt to the older handler with this environment variable
1. DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0,
2. You can implement your own handler via HttpClientHandler.ServerCertificateCustomValidationCallback and handle the situation where the error is RemoteCertificateNameMismatch. Look at the snippet above.

Depending on how se

[2018-06-22 15:36] bartonjs commented on #30578
No, UTCTime has no particular bounds (in X.680/X.690).  That's a construct of the X.509 Time type.  UTCTime is "given that you know what the century means, write down a two digit year", and the reader just has to agree on what the century means.

An overload could be added which takes the smallest legal year to ensure that it's bounded within a century.

Looks like Windows passes `PKCS_UTC_TIME` w

[2018-06-22 15:40] ericstj commented on #30594
/cc @zamont @joperezr

`clrjit.dll`: This appears to be a problem with a reference to `Microsoft.NETCore.Portable.Compatibility` from the `GoodsMan` project.  `Microsoft.NETCore.Portable.Compatibility` is no longer needed in UAP10.0.16299 as this functionality is now part of the framework.  You can simply remove this reference.

`clrcompression.dll`:  This looks ok, I only see this coming from the

[2018-06-22 15:53] svick commented on #8142
@benaadams How exactly do they solve the issue of synchronously or asynchronously waiting for a `Task` without throwing that doesn't allocate?

[2018-06-22 15:59] benaadams commented on #8142
Ah, good point, reread; is different issue :)

[2018-06-22 16:01] aborderon opened #30608 "SSLStream Exception RemoteCertificateNameMismatch"
Hi,

I have SSL exception when call **RemoteCertificateValidationCallback** from a tcp client.

Follow the test case (.NET Core 2.1 on Ubuntu 18.04) :

I'm using TCP SSL Server and SSL TCP Client examples from the Microsoft doc (https://docs.microsoft.com/en-us/dotnet/api/system.net.security.sslstream?view=netcore-2.1).

The server and the client are on the same local computer. I created a **self-

[2018-06-22 16:16] Clockwork-Muse commented on #30582
Um, no.  You're asking to solve the [halting problem](https://en.wikipedia.org/wiki/Halting_problem).
You could probably clean up abandoned tasks that aren't started yet (cannot do work), or abandoned and running that don't have external references or modify no outside-the-task-state (no visible effect) - the behavior of the program suggests that at least the first is being performed.

[2018-06-22 16:17] saurabh500 commented on #4198
From the error message it is possible that your Sql Server SPN is not registered with KDC and hence a ticket to authenticate to the Sql server is not being generated.
Can you confirm if you have Kerberos configured on the server?

You could login using SSMS andbtrybthe following query
SELECT
    s.session_id,
    c.connect_time,
    s.login_time,
    s.login_name,
    c.protocol_type,
    c.auth_s

[2018-06-22 16:27] ericstj commented on #30506
Not sure what advice you're talking about @mwpowellhtx.  There aren't many platforms that support ns1.6 and not ns2.0, really that's only .NETCore 1.x.  Perhaps you should open a question issue in the dotnet/standard repo and tag @terrajobst?

@jnm2 we put a fix in master for this.  Could you try it out and let us know if it fixes the issue for you?  If so we'll try to get a fix through servicing

[2018-06-22 16:34] Clockwork-Muse commented on #30582
@svick - to me it sounds like the goal was to prevent them just immediately being GC'd, so you could track down where they came from, because creating a large number of abandoned tasks would normally be considered a programmer error.

@alandoherty - Is the code you're working on really creating a block in a tight loop like that?  And normally you are expected to call `Complete` (and allow it to cl

[2018-06-22 16:47] bleroy opened #30610 "Console.KeyAvailable echoes the typed key on mac"
Repro steps:

Run this:
[code]

and press a key.

On Windows, as expected, this is the output:

[code]

On a mac, you get this:

[code]

[2018-06-22 16:49] tmenier opened #30611 "Why doesn't ContentDispositionHeaderValue just _always_ use quoted strings for name and filename?"
I'm trying to decide how to address an [issue](https://github.com/tmenier/Flurl/pull/327) with my library where multipart requests sent to an older ASP.NET site are failing due to names not being quoted:

[code]

The simple solution is to just ensure they're always quoted. But I hesitate, because Flurl is just delegating to the System.Net.Http stack for this, and it seems like a [very deliberate d

[2018-06-22 16:50] ericstj commented on #30506
Also, with respect to your comments about UAP: the package contains a specific asset for uap10 (using netcore50 TFM) so that shouldn't be broken in the 4.5.0 package, just netcoreapp1.x was broken.

[2018-06-22 17:00] pjanotti commented on #23588
I'm working on having a dedicated folder for coverage with only IL to get source/line report for CoreLib. In the short run when running against CoreClr from a package (e.g.: CI) report will generate some messages like:
[code]

but since it doesn't fail the build I'm treating those as acceptable for now (one can even properly map the sources and get source coverage info for corelib).

[2018-06-22 17:10] jnm2 commented on #30506
Sure. I have just verified that `4.6.0-preview1-26622-01` resolves the problem on .NET Core 1.1, and thanks for the confirmation about UWP.

[2018-06-22 17:36] LeoTorok commented on #29147
Excellent!, I  will, but only next Tuesday  ...

El vie., 22 jun. 2018 19:27, Afsaneh Rafighi <notifications@github.com>
escribió:

[2018-06-22 17:41] stephentoub commented on #30610
This is the same as https://github.com/dotnet/corefx/issues/25916 and other similar issues that have been opened.

Unix is different from Windows in how input is handled: Windows doesn't echo until the character is read/consumed by the application, at which point the application has a choice of whether to echo or not; in contrast, Unix echos immediately on typing, unless the terminal has been conf

[2018-06-22 17:41] #30610 closed

[2018-06-22 17:44] stephentoub commented on #30582
To answer that I will need to go back and review what purpose the static table serves; I don't remember at this point.

[2018-06-22 17:46] Tornhoof opened #30612 "Port performance improvements to UTF16 parsers and formatters"
I noticed that there is a large difference between the Parser Performance in Utf8Parser and the Utf16 parser for ``Guid`` and ``Timespan``.
Code is in the details at the end.

***Timespan***

For Format 'c' of Timespan the performance of Utf16 is pretty much equal to Utf8, for the other two formats it's quite different.

***Guid***

Guid suffers from similar problems,
looking into Guid.cs, I see t

[2018-06-22 17:50] alandoherty commented on #30582
I think there's a couple of problems here, firstly it's really not obvious at all in the documentation for `BufferBlock<T>` that you must Complete the block. I got the idea that it would be safe to discard unused blocks without completing, especially since it's offered in some places as a asynchronous concurrent queue.

Also it was my understanding that it was good practice to always complete task

[2018-06-22 17:51] stephentoub commented on #30612
Thanks.  I've not yet reviewed your benchmark, but in general a lot of attention was paid to the performance of the new parsers/formatters, and not all of that work was ported back to the original parsers/formatters... but should be.

@joshfree, @ahsonkhan, it'd be great if the remaining work there could be catalogued and either done or issues opened so that others can tackle it.

[2018-06-22 17:53] #29119 closed

[2018-06-22 18:29] jkotas opened #30613 "[API Proposal] API for interpretting Span<byte> as struct without copying"
MemoryMarshal contains several APIs that allow reinterpreting `Span<byte>`, but none of them are a good fit for interpreting Span<byte> as struct without copying:

- `MemoryMarshal.Read` allows interpreting `Span<byte>` as arbitrary struct. It creates a local copy that is fine and beneficial for small structs, but becomes expensive for large structs.
- `MemoryMarshal.Cast` allows interpreting `Spa

[2018-06-22 18:34] jkotas commented on #30613
Related proposal for other direction #26313

#30614 has multiple examples of how these methods can be used in real-world code.

[2018-06-22 18:40] benaadams commented on #30613
A bit like `Marshal.PtrToStructure<T> Method (IntPtr)` but generally safer, including a `>= sizeof(T)` check; and `ref` returning rather than copying?

[2018-06-22 18:45] jkotas commented on #30613
Right.

[2018-06-22 19:03] bleroy commented on #30610
Ew. What's a workaround for those of us who don't care or don't have child processes that should echo?

[2018-06-22 19:03] smk89 commented on #29147
I am having the exact same problem running apps based on the 2.1-runtime-alpine image on a CoreOs Docker Host. I am willing to dig up all of the relevant info and share it, what exactly do you need?

[2018-06-22 19:05] stephentoub commented on #30610
Other than P/Invoking to the terminal to force it not to echo, I don't know of one.

[2018-06-22 19:16] redknightlois commented on #26378
@danmosemsft found a couple more nuisances in the API of interlocked lately.

Say you have a struct like this:
[code]
And now you have that in memory and need to swap atomically the content.
[code]
That does not work because there is no ``Interlocked.CompareExchange( void* ptr, void* ptr, void* ptr )`` available.

Probably there is a workaround but I couldnt find it. Anyway, posting it here becaus

[2018-06-22 19:17] qmfrederik commented on #30596
@bartonjs Thanks, I fixed the conversion to milliseconds 😄 .

I updated the benchmarks to trigger `ExportParameters` but it does not appear to have a major impact:
- https://ci.appveyor.com/project/qmfrederik/dotnet-cert-perf/build/1.0.3
- https://travis-ci.org/qmfrederik/dotnet-cert-perf/jobs/395588159
- https://travis-ci.org/qmfrederik/dotnet-cert-perf/jobs/395588160

Since you mentioned macOS b

[2018-06-22 19:35] jkotas commented on #26378
You can get the `void*` overload by casting the `void*` to IntPtr and calling the IntPtr overload:

`static void* CompareExchange(void* ptr, void* ptr, void* ptr) => (void*)Interlocked.CompareExchange(ref *(IntPtr*)ptr, (IntPtr)ptr, (IntPtr)ptr);``

I do not think that this API would actually do what you want in your example. You would have to still  wrap it with extra goo using `fixed` or `S.R.CS

[2018-06-22 20:10] Hillbillywild commented on #30596
Thanks I’m trying to learn but it’s harder than I thought.

Sent from my iPhone

[2018-06-22 20:12] los93sol commented on #18023
Bueller?  Anyone still interested in this?

[2018-06-22 20:16] JeremyKuhne commented on #18023
@danmosemsft, @pjanotti can you help unblock @los93sol?

[2018-06-22 20:17] los93sol commented on #18023
If it were possible to use the UWP API from .net core then I would be good to go, but as it stands today that is not possible...this isn’t a total blocker for me as I hacked out the checks and forced a custom version of System.IO.Ports but I would like to do this properly and will do the PR for it if someone can point me to how to detect iot core

[2018-06-22 20:30] Sannj commented on #26446
I am running version 2.1.301 and I get ` One or more errors occurred. (The handler does not support client authentication certificates with this combination of libcurl (7.54.0) and its SSL backend ("SecureTransport").)` when I am trying to run it on MacOS. The code that I have is: `var handler = new HttpClientHandler();
            handler.ClientCertificateOptions = ClientCertificateOption.Manual;

[2018-06-22 20:31] Wraith2 commented on #29979
I've got everything building after lots of messing around with git merging and rebasing. So now I can try some tests. The first thing I wanted to try was the concurrent access protection that has been put into the other remove methods.

The good news is that RemoveAll doesn't seem to be susceptible to the existing test, the bad news is I can't see if there needs to be some more complicated test. R

[2018-06-22 20:33] wfurt commented on #26446
do you actually target netcore2.1 in your project?

[2018-06-22 20:38] Sannj commented on #26446
@wfurt I think I do.. Is there a place I can check and confirm that?

[2018-06-22 20:46] MarcoRossignoli commented on #29979
Hi @Wraith2!

I think that also RemoveAll could break , [here](https://github.com/Wraith2/BenchmarkDictionary/blob/20d6c703dc733a5e6dcb63dbe8ff27ee38a0dc67/BenchmarkDictionary/DictionaryDev.cs#L957) we could have a loop!

I added new tests yesterday, have you tried to put your row here https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/Dictionary/Dictionary.Generic.T

[2018-06-22 20:59] wfurt commented on #26446
I'm glad it worked for you. this is not always intuitive.

[2018-06-22 21:09] Wraith2 commented on #29979
Yup, first thing I tried, my version is [here](https://github.com/Wraith2/BenchmarkDictionary/blob/master/BenchmarkDictionary/tests.cs). I was really hoping I could just use your test and not have to do additional work ;) That file is just a copy of yours with my method added in and then some fiddling with the reflection to try other states on the entries array. It passes your test (where I expect

[2018-06-22 21:21] asthana86 opened #30616 "Title: ClientWebSocket does not provide upgrade request error details"
ClientWebSocket on .NET Core does not provide the upgrade request errors in the exception details as it does on the .NET Framework.
Repro code
var client = new ClientWebSocket();
client.ConnectAsync(new Uri("wss://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1"), CancellationToken.None).GetAwaiter().GetResult();

[2018-06-22 21:22] MarcoRossignoli commented on #30507
The benchmarks are on codebase(i check [here](https://github.com/dotnet/corefx/tree/master/src/System.Text.RegularExpressions/tests/Performance) but i didn't found)?If not could you share(it could be useful as a starting point)?

[2018-06-22 21:23] #30616 closed

[2018-06-22 21:24] ViktorHofer commented on #30507
https://benchmarksgame-team.pages.debian.net/benchmarksgame/performance/regexredux.html

[2018-06-22 21:29] MarcoRossignoli commented on #29979
Ahhh sorry you're right...i don't browse all files, missed test.cs

Next days i'll clone your repo and try to break...if you find a "solution" before let me know!

[2018-06-22 21:35] valorl commented on #4198
@saurabh500 I don't have the permissions to do that, but I've confirmed with an admin Kerberos should be setup. I did try to do `setspn -L <SQL_SERVER_HOSTNAME>` as per the [`vscode-mssql`](https://github.com/Microsoft/vscode-mssql/blob/master/KERBEROS_HELP.md) instructions, after logging in to the server using SSMS. I did see some entries with the server name but none of them started with `MSSQLS

[2018-06-22 21:44] saurabh500 commented on #4198
The `MSSQLSvc` is important because the client tries to construct an SPN prefixed with `MSSQLSvc` and the SqlServer SPNs begin with MSSQLSvc

Re ::
 I did try to do `setspn -L <SQL_SERVER_HOSTNAME>`

This will give you correct results if your SQL Server running under LocalSystem or NetworkService account
If it is running under a domain account, then you can get the list of SPN by using `setspn -L

[2018-06-22 21:56] keeratsingh opened #30618 "Fix the way code is handling passing in the extended attribute information"
Currently the way the code handles passing in the extended attribute information is way too complicated / inefficient. The data being passed can be created on the stack- context can't be over 255 bytes so it should all easily fit. Fixing the inefficiencies will also make the code much easier to follow.

### Setting EA attributes not efficient

SqlFileStream::FileFullEaInformation does more work th

[2018-06-22 22:07] #30552 closed

[2018-06-22 22:13] bleroy commented on #30610
Thanks, Stephen, I think I'll just have to avoid using `KeyAvailable` altogether (since each call seems to potentially trigger an echo even for a single keystroke), never pass in `true` into `ReadKey` (it's a lie), and just limit to scenarios where echoing is fine. I think I can make it work in my scenario, but it looks like those APIs could potentially be deprecated since they can't consistently

[2018-06-22 22:51] pjanotti commented on #18023
@los93sol can you explain the hacks that you needed to do in System.IO.Ports? UWP serial ports should work except for port enumeration, but you mention that you are trying to do it from .NET core, could you explain a bit of the scenario?

[2018-06-22 23:09] valorl commented on #4198
The SQL Server is running on a remote machine of which I only know the hostname unfortunately.

[2018-06-22 23:35] redknightlois commented on #26378
Actually no, the workaround doesn't work at all.

That's how my examples would look in actual code. ``ref *(IntPtr*)ptr`` can be ``null`` therefore trying to dereference it would bring up an ``ReferenceNullException``.

Now ``containter.Block1`` content is ``null``, that dereference would happen over a null pointer, which is not the use case either, I need the address of ``container.Block1`` not i

[2018-06-23 00:14] undecided2013 commented on #4198
I would like to jump in here and say that sqlcmd works fine with the spn as is for us. SqlClient does not. Why is SqlClient operating differently? Our dbas have said that the SPN of the Sql server is prefixed with MSSQLSvc if I remember correctly.

[2018-06-23 00:16] saurabh500 commented on #4198
@undecided2013 I would recommend filing a new bug describing how this issue can be reproduced, to initiate an investigation.

[2018-06-23 01:14] karelz commented on #30388
And/or wait for our future servicing release (you can even dogfood early servicing branch builds if that helps).

[2018-06-23 01:20] karelz commented on #18449
@DanRigby too many options affects usability and often makes the implementation more complex - so you pay by having more bugs, regressions and higher maintenance cost.
I may be fine if we adjust behavior and if we are more benevolent. I am not huge fan of adding more knobs to control things.

[2018-06-23 01:22] karelz commented on #30354
We need traces from the failed case. If you can collect those, that would be useful.

[2018-06-23 01:31] karelz commented on #30605
In general, we conside HttpWebRequest legacy API and we recommend people to consider using HttpClient instead.
That said, we introduced HttpWebRequest for compat with Desktop, so we may look into it to see if there is easy way to fix it. If there are more customers affected, we will prioritize it even higher.

[2018-06-23 01:33] los93sol commented on #18023
That’s correct, UWP does work but I’m running an ASP.NET core site on my iot device.  I’ve done a lot of hacking around, I modified System.IO.Ports and would manually copy that DLL over to eliminate the check that the name starts with COM.  I also hacked up MVC and leveraged the new Razor SDK to be able to host an ASP.NET core site in a UWP app but developing that way is terrible.  If I could just

[2018-06-23 01:34] jkotas commented on #26378
Right, it means that `Interlocked.CompareExchange(void* ptr, void* ptr, void* ptr)` would not have really solved your problem.

Try this:

[code]

Another option is to use `IntPtr` for your fields, and cast them to `MemoryBlock*` on access. Something like:

[code]

Then you can use `Interlocked.CompareExchange` without the `fixed`.

[2018-06-23 01:36] karelz commented on #30611
@caesar1995 I think you did investigations in the space - can you please answer?

[2018-06-23 01:37] karelz commented on #30608
@bartonjs @GrabYourPitchforks would you be the right people to answer it?

[2018-06-23 01:40] karelz commented on #30587
Closing as dupe of #30330

@talanc if you can verify on our daily builds (see [how](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md)) that it is addressed, it would help us a lot!

[2018-06-23 01:40] #30587 closed

[2018-06-23 01:42] karelz commented on #30586
Is it a regression against .NET Core 2.0 or 2.1.0 or against .NET Framework. Or does it "just" feel as wrong behavior?

[2018-06-23 01:56] #20457 closed

[2018-06-23 02:40] #30043 closed

[2018-06-23 02:51] jamesqo commented on #21055
@danmosemsft Can't right now, mark it up-for-grabs please.

[2018-06-23 03:12] jamesqo commented on #21809
@jswolf19 I've answered your questions in parentheses below:

[code]

[2018-06-23 06:17] KalpeshChheda commented on #30594
Thanks @ericstj
Build with .NETNative version is not having clrcompression.dll issue. And after removing Microsoft.NETCore.Portable.Compatibility from GoodsMan remove the error with clrjit.dll as well.
Thanks.

[2018-06-23 06:38] MarcoRossignoli commented on #28238
let me know if there are other work to do on this!

[2018-06-23 06:44] bartonjs commented on #30608
In order to say I'd need to see the certificate, or the output of `openssl x509 -in server.crt -text` (optionally with `-noout` to avoid re-printing the certificate).

Quick guess is that while the CN says "example.net" there's a Subject Alternative Name extension and it doesn't contain a dNSName entry for "example.net".  (SAN isn't additive to CN, it replaces it for TLS host matching)

[2018-06-23 07:11] MarcoRossignoli commented on #29979
@Wraith2 try this https://github.com/Wraith2/BenchmarkDictionary/compare/master...MarcoRossignoli:master

[2018-06-23 07:43] aborderon commented on #30608
@bartonjs thank you for your comeback,
here is the output of the certificate with the command:

`openssl x509 -in server.crt -text -noout`

[code]

To create the certificate, I followed the official documentation of ubuntu :
[code]

[2018-06-23 07:49] CyrusNajmabadi commented on #21809
It should be included (IMO).  The compiler will simply give you the *unprocessed* span of the code from the start of the first token in the arg to the end of the last token in the arg.  All intermediate 'trivia' (including comments, whitespace, newlines, and even preprocessor directives) would be included.

[2018-06-23 07:52] CyrusNajmabadi commented on #21809
Note: in Roslyn parlance, this would be equivalent to calling: ```sourceText.GetText(argNode.Expression.Span)```

Note: another important case to consider is:

[code]

Presumably we want "SomeArg" on the other end of that, *not* ```ref SomeArg```.  This is why my Roslyn-parlance code is ```sourceText.GetText(argNode.Expression.Span)``` and not ```sourceText.GetText(argNode.Span)```

[2018-06-23 08:59] tanagoa commented on #30593
Can anyone solve this issue? Please help.

[2018-06-23 11:58] MohammadHamdyGhanem commented on #30538
@karelz
Note: There is an issue in current design in VB.NET where the default is to use implicit conversion. I can write:
[code]
The last line will not change Adam's fruits to Banana, but will add a new key "0" and add Banana as its value!

[2018-06-23 13:13] undecided2013 commented on #4198
@saurabh500 , I posted earlier in this issue about how to repro. Used @roederja2  script to set and verify kerberos. SqlCmd works fine after that but SqlClient does not. Obviously they are doing things differently.

[2018-06-23 15:54] bujie opened #30623 "dotnet 2.1.300 in centos 7 Error：The SSL connection could not be established, see inner exception System.Net.Http"
Error: One or more errors occurred. (The SSL connection could not be established, see inner exception.)
Code:
var http = new System.Net.Http.HttpClient();
http.DefaultRequestHeaders.Add("user-agent", "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36");
http.GetStringAsync("https://www.23us.net/90/90325/23873102.html");

Normal in Centos7

[2018-06-23 15:55] bujie commented on #30623
the code in the  netcore 2.0 is ok

[2018-06-23 17:58] saurabh500 commented on #4198
@undecided2013 I understand that you have described the problem on this issue, however this issue is closed and it was tracking the overall bigger work for integrated auth. The engineers working on SqlClient are not looking at closed issues to investigate. In fact the active engineers are not even subscribed to this issue. If  issue  exists and wasn't resolved I recommend you file a new bug which

[2018-06-24 01:39] MohammadHamdyGhanem opened #30624 "Access SortedList<Tkey, TValue> by index"
```SortedList<Tkey, TValue>``` has these two methods:
1- IndexOfKey
2- IndexOfValue
They return the index of the item in the sorted list, but there is no way to access any item by its index! The only method that uses the index is RemoveAt!
So, why there is no Indexer that accepts the index? This class is a LIST not a Dictionary, and lists are accessible by index.

[2018-06-24 02:02] jkotas commented on #30624
https://docs.microsoft.com/en-us/dotnet/api/system.collections.sortedlist.getkey?view=netcore-2.1
https://docs.microsoft.com/en-us/dotnet/api/system.collections.sortedlist.getbyindex?view=netcore-2.1

[2018-06-24 02:02] #30624 closed

[2018-06-24 03:52] MohammadHamdyGhanem commented on #30624
@jkotas
Thanks. I was using .net Framework 4.7.2 (thinking it has the same API as .net core) but there is no such methods!.. This brings the question, why? They exist since .net core 1.0.

[2018-06-24 03:58] jkotas commented on #30624
These methods do exist in .NET Framework 4.7.2. The doc has a drop down at the left side that lets you see all versions where the method is available.

[2018-06-24 04:00] MohammadHamdyGhanem commented on #30624
The end of doc sias:

[2018-06-24 04:01] MohammadHamdyGhanem commented on #30624
Obviously this is not true, and I ask why, since MS always says that every thing added to .NET core, will eventually appear in .NET Framework ?

[2018-06-24 04:05] MohammadHamdyGhanem commented on #30624
@jkotas
Is there a Nuget for Collections? Does the docs say the NuGet of each class on a namespace?

[2018-06-24 04:07] jkotas commented on #30624
I have double check. These method are in .NET Framework 4.7.2. What makes you think that they are not there?

This is not a correct statement. It is not what we have been saying. Where did you hear this?

[2018-06-24 04:10] jkotas commented on #30624
SortedList is part of the core framework. You do not need to reference any NuGet to get it - there is not any.

[2018-06-24 04:18] MohammadHamdyGhanem commented on #30624
I try this in a C# windows forms framework 4.7.2 project:
[code]
and C# doesn't find the method GetKey!

[2018-06-24 04:22] jkotas commented on #30624
Do you really have framework 4.7.2 selected as you target framework? Right click on the project and select properties.

![image](https://user-images.githubusercontent.com/6668460/41815853-848d0926-772b-11e8-933f-b21d00ce6e5b.png)

[2018-06-24 04:23] MohammadHamdyGhanem commented on #30624
@jkotas
Yes, this is the first thing I checked.
the metadata code page for SortedList class shows this:
[code]

[2018-06-24 04:29] MohammadHamdyGhanem commented on #30624
@jkotas
I tried a .net core 2.1 project and the SortedList doesn't contain these methods also!
I don't know ahat is wrong! I use VS Community 15.7.4.

[2018-06-24 04:29] #27466 closed

[2018-06-24 04:33] jkotas commented on #30624
I do not know either. Looks like you may be running into a bug in Visual Studio. You can report it using https://docs.microsoft.com/en-us/visualstudio/ide/talk-to-us

[2018-06-24 04:36] MohammadHamdyGhanem commented on #30624
@jkotas
This doc doesn't contain these methods:
https://docs.microsoft.com/ar-sa/dotnet/api/system.collections.generic.sortedlist-2?view=netcore-2.1

Maybe these methods exsist in a NuGet.

[2018-06-24 04:39] MohammadHamdyGhanem commented on #30624
@jkotas :
I Got it :)
I was talking about the Generic SortedList, while you are talking about the non-generic one  :D
My question stays: why the generic sortedList acn't access elemnts by index?
Please re-open the issue.
Thanks.

[2018-06-24 04:51] jkotas commented on #30624
Ah ok. Sorry about the confusion. On generic SortedList, this is available via indexers on Keys and Values properties. Try:

[code]

[2018-06-24 04:59] MohammadHamdyGhanem commented on #30624
@jkotas
Thanks.

[2018-06-24 05:11] jkotas commented on #30601
It has heavy dependency on reflection emit.

[2018-06-24 05:39] jkotas commented on #30612
Here is the list of all UTF8 formaters and parsers. We should go through each of them and port any applicable optimizations to the CoreLib utf16 ones:

Formatters:

- [ ] [Utf8Formatter.Boolean.cs](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Boolean.cs)
- [ ] [Utf8Formatter.Date.cs](https://github.com/dotnet/corefx/blob/master/

[2018-06-24 06:32] iSazonov opened #30626 "'EnumerationOptions' does not contain a definition for 'MatchCasing'"
Please see
https://github.com/PowerShell/PowerShell/pull/7129
https://travis-ci.org/PowerShell/PowerShell/jobs/395523693
[code]

Seems it is regression in .Net Core 2.1.1.

/cc @JeremyKuhne

[2018-06-24 06:55] TheMinefighter opened #30627 "Equals and GetHashcode methods are overridden for multiple Classes in System.IO"
The Equals and GetHashCode methods are not overridden by

- System.IO.DriveInfo
- System.IO.DirectoryInfo
- System.IO.FileInfo

In each of the classes, the effective comparison would only have to compare the (private) _name field. Implementation example as follows:

[code]
An implemantation of the IEquatable<> interface would optionally be possible.

The GetHashCode method could be implemented as

[2018-06-24 06:56] iSazonov commented on #28933
@tarekgh Is the enhancement in 2.1.1?

[2018-06-24 07:20] tanagoa commented on #30593
Hi jkotas,

Thank you for your super support.
My Lang is jp.UTF-8 and LC_ALL is blank. below is result.
$ echo $LANG
LANG=ja_JP.UTF-8

$ echo $LC_ALL
(Blank)

I set export LANG=en_US.UTF-8 and export LANG=en_US.UTF-8, and then run "dotnet new --all" command.

It's working!! and actually I was able to run "dotnet new -i Amazon.Lambda.Templates::*" without any errors.

Thanks again!
Awesome!

$ dotn

[2018-06-24 10:12] mgravell opened #30629 "Critical fail in FileStream.WriteSpan"
I don't have full **isolated** repro yet; working on it; you can have an "in system" repro from [this commit](https://github.com/mgravell/Pipelines.Sockets.Unofficial/commit/dbe3aa099801812023a3a67fcab557abe5f34076) - just run `BasicRunner` in .netcoreapp2.1; symptom:

code:

[code]

with *lots* of `logFile.WriteLine(string)` (and **only** that method), I eventually get an ``, with message:

and s

[2018-06-24 10:37] ViktorHofer commented on #30627
Not just in System.IO. There are multiple types in the BCL that don't override Equals and GetHashCode ...

[2018-06-24 12:48] kasper3 commented on #30623
could it be because that HTML page link does not work in browser too?

[2018-06-24 13:05] khellang commented on #28933
It's assigned to the 3.0 milestone,so don't think so 🤔

[2018-06-24 13:35] bujie commented on #30623
This code is completely error-free in netcore 2.0.
Only linux netcore 2.1 error

[2018-06-24 13:43] kasper3 commented on #30623
got:

[code]

with:

[code]

works fine with https://github.com, for example.

How else can anyone reproduce this issue if your link https://www.23us.net/90/90325/23873102.html is broken?

[2018-06-24 13:44] jkotas commented on #30593
Good to hear that setting these environment variables worked around the issue. I am keeping the issue open. There is a bug somewhere - it should work out of the box without the workaround.

[2018-06-24 13:50] jkotas commented on #30593
cc @krwq @tarekgh

[2018-06-24 13:59] bujie commented on #30623
error
http://read.qidian.com/chapter/1011679984/416536350
https://www.x23us.com/html/66/66656/31202152.html

success
http://www.xiangcunxiaoshuo.la/html/366401/68407998.html

[2018-06-24 14:58] channeladam opened #30631 "Different AssemblyVersions of target DLLs in NuGet package System.Reflection.DispatchProxy 4.5.1"
Should the AssemblyVersions be different for the different target DLLs in the NuGet package System.Reflection.DispatchProxy 4.5.1 ?

For example:
- lib\net461\System.Reflection.DispatchProxy.dll has an AssemblyVersion of "4.0.4.0".
- lib\netstandard2.0\System.Reflection.DispatchProxy.dll has an AssemblyVersion of "4.0.4.0".

BUT
- lib\netstandard1.3\System.Reflection.DispatchProxy.dll has an Assem

[2018-06-24 16:52] jkotas commented on #30627
Changing equality behavior for existing types would be a breaking change.

[2018-06-24 17:14] karelz commented on #28933
Correct. 2.1.1 is servicing. We don't add features or non-critical fixes into servicing branches, that would destabilize them and make them basically another master branch.

[2018-06-24 17:52] iSazonov commented on #28933
Thanks! I see 3.0 milestone in PRs.

[2018-06-24 18:15] las3r commented on #30147
I have the same sort of issue. With a plain vanilla project (.net core 2.1) deployed to a CentOS Box with entity framework I receive the same stacktraces in my application as soon as it is trying to connect to SQL server (it's on the same box). I tried localhost, 127.0.0.1, domain, but all give the same error. Connecting from Windows with SQL Server Management studio works fine, so this must be an

[2018-06-24 18:19] TheMinefighter commented on #30627
@jkotas If you want to know if two objects references are equal you usually use object.ReferenceEquals or sometimes the == operator. https://msdn.microsoft.com/en-us/library/bsc2ak47(v=vs.110).aspx states that the .Equals method "Determines whether the specified object is equal to the current object" (that's also stated in the DriveInfo page: https://msdn.microsoft.com/en-us/library/system.io.driv

[2018-06-24 18:31] karelz commented on #28933
I usually do sweeps of incorrect milestones (like Future) 1x-2x each week for both issues and PRs.
I am a bit behind due to some high-pris on my plate, sorry. Will catch up as soon as I can.

[2018-06-24 18:32] las3r opened #30635 "CentOS 7 - SSL issues, both HttpRequest and SQL Connections"
I'm building my asp.net core app (2.1) on windows 10 with VSTS 2017. I publish my app through FTP to a CentOS 7 Linux box (freshly installed with dotnet hosting packages, latest SDKS and SQL server 2017 developer edition).

I have the same issue as described in #30623, but I am also unable to connect my app on linux to SQL Server 2017 that's on the same machine. This turns into:

Jun 24 20:09:37

[2018-06-24 18:37] jkotas commented on #30627
@TheMinefighter  I have just stated the fact based on definition of the breaking change. You can read more about how the breaking change is defined in https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-changes.md .

I agree with you that there are places in the framework that do not have logical behavior. However, we do not just blindly go a fix them. We apply th

[2018-06-24 19:37] TheMinefighter commented on #30627
@jkotas I understand that that would be a breaking change. I want to note that that change shouldn't affect anybody following common practices. If that is a dealbreaker anyway it should be considered to mark these Equality comparisons, which do not do what the user expects explicitly in the documentation.

[2018-06-24 20:02] jkotas commented on #30627
The common practice is to check what the framework type does and then code to that behavior. For example, I can imagine somebody can have written code like this:

[code]

The real world version of this would have several abstractions in it. It would not be as straightforward as this.

[2018-06-24 23:45] Wraith2 commented on #29979
Thanks for that, the test worked in the ValueType case but not for ref types. I worked out a way to alter the entries inside the callback from the match predicate which works for both. I've left your tests alone and added my own derived ones in the same file. PR's are above if you want to check them out, thanks for the help.

[2018-06-25 00:57] davidsh commented on #30587
That exception is bug #30327.    Now that you have a fix for #30330, you are getting an exception due to your proxy server closing the first connection after the 407 response.  That is issue #30327 which has not yet been fixed.

[2018-06-25 02:06] stephentoub commented on #30582
@gregg-miskelly, does VS still use the private Task.GetActiveTaskFromId method?  What would the impact be if we were to remove it?  Or, what would the impact be if VS passed in the id of a Task that would have otherwise been garbage collected by then?

[2018-06-25 02:12] jkotas commented on #30626
I have double-checked that these are present in .NET Core 2.1.1 on Linux. Also, I have cloned your branch and I am not hitting the build error that you are see. Looks like environment problem. Have you checked that the CI machine is not running stale preview bits?

[2018-06-25 02:38] tanagoa commented on #30593
Thanks, Jan!

[2018-06-25 03:37] iSazonov commented on #30626
Before June 22 the code was compiled well.
After June 22 the problem arised on CI Travis. Then I checked _CI Appveyor (Windows)_ - the problem arised there too. So I decided to open the issue.

[2018-06-25 04:54] iSazonov commented on #30626
I added `dotnet --info` in CI log.
https://travis-ci.org/PowerShell/PowerShell/jobs/396243951#L801
[code]

[2018-06-25 06:02] danmosemsft commented on #30593
The check in `VerifyCultureName` is very simple, it would be interesting to know what the culture is htat it is failing on.

[2018-06-25 06:59] iSazonov commented on #30626
The same on 2.1.301

[2018-06-25 07:20] iSazonov commented on #30626
I tested locally all versions - msi and zip packages - 2.1.300 and 2.1.301 and the project is compiled well.
So problem is somewhere else.

[2018-06-25 08:41] aborderon commented on #30608
I just created a new self signed certificate with openssl using SAN.

I followed this procedure: https://fabianlee.org/2018/02/17/ubuntu-creating-a-self-signed-san-certificate-using-openssl/
I added the certificate to /usr/share/ca-certificates and I modified my /etc/hosts file in order to have the example example.net resolution on 127.0.0.1

Here is the new certificate output:
[code]

However, I

[2018-06-25 08:56] msedi opened #30637 "IList<T> should implement IReadOnlyList<T> and also an IReadOnyList should exist"
Currently only List implements the IReadOnlyList, but IList does not implement IReadOnlyList. This is a problem in many cases where only IList is visible on a class and not the actual list. In some situations I have an IList as class properties, and some classes I have need to take a IReadOnlyList.

Since the IList currently does not "derive" from IReadOnlyList this is often causing problems with

[2018-06-25 09:24] Denterl opened #30638 "System.Memory when added to .net 4.6.1 project brings lots of dependecies"
Hi!

I am trying to use spans in library which will be used from .net 4.6.1 and .net core. For that it is required to add System.Memory (https://www.nuget.org/packages/System.Memory/4.5.1), which supports .net 4.6.1 according to NuGet and have the following dependencies: https://prnt.sc/jz0f30

However, after adding this lib to the project I see more references than expected (like System.Net.Http

[2018-06-25 09:28] GalaxiaGuy commented on #30637
This is the reason why `IList<T>` does not implement `IReadOnlyList<T>`:

https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/2845892-make-ilist-t-inherited-from-ireadonlylist-t

[2018-06-25 09:53] msedi commented on #30637
@GalaxiaGuy : I understand some of the fears that it might break something. But for those who implement the List<T> could take care of that the IReadOnlyList<T> and IList<T> have explicit or implicit Count and that both are identical. What I maybe understand is that some guys have already derived from IList<T> and this would now break their code.

In the end IReadOnlyList should have existed direc

[2018-06-25 09:53] #30637 closed

[2018-06-25 11:53] valorl commented on #4198
@saurabh500 I have just confirmed with our admin that Kerberos is enabled, SQL Server runs under a domain account and that it does indeed have a `MSSQLSvc\` prefixed SPN.
Any idea why would I get `SSPI Provider: Server not found in Kerberos database.` from `sqlcmd` then ? Do you know what exactly does the error msg say and what could I do to debug it further ?

[2018-06-25 12:11] marekhanzlik opened #30641 "2.1.1 HTTPClient SSL Exception"
After upgrading to .NET Core 2.1.1 i've got this SSL error when trying to download data with HttpClient
Was working good on 2.0
Running on Amazon AMI Linux (SelfContained publish)

fail: Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[1]
      An unhandled exception has occurred while executing the request.
System.Net.Http.HttpRequestException: The SSL connection could not be est

[2018-06-25 12:29] jkotas commented on #29376
Reopen to consider to servicing

[2018-06-25 12:37] feco93 commented on #23542
In our project we would like to support all .NET Framework compatible providers on windows, but on Linux, Mac just the .NET Standard compatible providers.

Is there any other ways to accomplish this behaviour without the Microsoft.Windows.Compatibility nuget package? Or we have to wait for this feature?

Thanks in advance,
Ferenc

[2018-06-25 13:00] marekhanzlik commented on #30623
Experiencing this problem as well, running on Amazon AMI Linux

[2018-06-25 13:52] adamsitnik opened #30642 "Invalid assemblyBinding redirects lead to FileLoadException when using System.Buffers in certain scenario"
This bug has been found by @NickCraver and @mgravell  during port of StackOverflow to .NET Core

The repo can be found here: https://github.com/adamsitnik/Pipelines.Sockets.Unofficial/blob/repro/repro/Repro/Program.cs

How to reproduce:

[code]

Output:
[code]

Some more details:

1. Project `Pipelines.Sockets.Unofficial` targets `netstandard2.0;netcoreapp2.0;netcoreapp2.1;net46` and references `S

[2018-06-25 14:14] JensNordenbro commented on #18012
@wfurt, will this work using docker Ubuntu Images?

[2018-06-25 14:19] cwe1ss commented on #30455
@AlexZeitler you're calling `dependency.GetHello("World")` again after the activity has been stopped. Activity.Current will be null on that second call.
[code]

[2018-06-25 14:43] MichalStrehovsky opened #30643 "Link-time framework feature removal"
# Rationale

For various (often historical) reasons, many of the existing .NET APIs (ours or 3rd party) are unfriendly to tree shaking. This prevents big chunks of the library and library dependencies from being removed by IL linkers at the time of publishing the .NET app.

This issue addresses the API part of dotnet/designs#42. See the spec over there for full rationale. It provides a way for lib

[2018-06-25 14:52] NickCraver opened #30644 "API Proposal: Expose global allocations akin to AppDomain.MonitoringTotalAllocatedMemorySize"
This is a follow-up to #10157.

In full framework, we have [AppDomain.MonitoringTotalAllocatedMemorySize](https://msdn.microsoft.com/en-us/library/system.appdomain.monitoringtotalallocatedmemorysize), but no such equivalent exists in .NET Core. In #10157, there was at one point a proposal for:
[code]
...but this was dropped due to no known scenarios. We now have that scenario commonly: monitoring

[2018-06-25 14:52] valorl commented on #4198
@saurabh500 I also managed to get the right `SqlClient` version now. Maybe the error message from  `SqlClient` is more descriptive regarding what my problem might be?
[code]

[2018-06-25 14:52] ViktorHofer opened #30645 "Code coverage not measured when building from project root"
`C:\git\corefx\src\System.Text.RegularExpressions>msbuild /t:RebuildAndTest /v:m /p:Coverage=true`. Tests pass and code coverage reports get generated but without any measurement (0% coverage)

![image](https://user-images.githubusercontent.com/7412651/41857571-2346c710-7898-11e8-9107-1c5723300c01.png)

Related: https://github.com/dotnet/corefx/issues/15850

cc @weshaggard

[2018-06-25 14:56] NickCraver commented on #30644
cc @vancem @Maoni0

[2018-06-25 14:58] Karthikvenkat86 commented on #20809
Is ADOMD.net dll  nuget support available for .net core2.1.0 ? I tried ADOMD nuget which is supporting only framework 4.5.6.  Can you please help.

[2018-06-25 15:08] glittle commented on #30207
The proposal is updated. Please let me know if I missed anything.

[2018-06-25 15:25] bartonjs commented on #30608
Both of those certificates do seem like they should work for `example.net`.

I'd recommend one or both of

1) `openssl s_client -connect 52.169.64.244:443`, copy the certificate out of the output and see if it is the same as the one you generated.
2) Register a certificate validation callback and inspect the certificate presented in the callback to see if it is the one you generated.

The simplest

[2018-06-25 15:52] aborderon commented on #30608
I am in the middle of testing, a pity that there is no example on the document for the use of SslStream.

I would like to understand some points to solve my problem.

Do I need to use the **server.crt** file with dotnet cli or a **.pfx file** containing the private key?

The TCP listener is created with:
`new TcpListener (IPAddress.Any, 8080);`

Why I have with an IP address 52.169.64.244:443, wha

[2018-06-25 15:54] tarekgh commented on #30593
I have tried this with botnet 2.1.301 and I cannot repro it.

[code]

@tanagoa looks your machine has more specific configuration.

could you please try to revert setting the LANG environment variable back and repro the issue, then try to create a small console app and then print the values of:

CultureInfo.CurrentCulture and CultureInfo.CurrentUICulture?

[2018-06-25 16:01] tarekgh commented on #30593
@tanagoa would be nice if you try to install the latest net core 2.1.301 too.

[2018-06-25 16:07] pjanotti commented on #23588
Right now CoreLib is back in [CI](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/Code_Coverage_Report/) but as mentioned above just the percentage numbers for Line and Branch coverage, that will be fixed via https://github.com/dotnet/buildtools/pull/2077 that runs against the IL version of CoreLib.

[2018-06-25 16:17] pjanotti commented on #18023
Thanks @los93sol that makes more sense to me now. We have some plans to bring IO.Ports to .NET Core (there is already some work to have it working on Unix), however, it seems that in your case a more general solution will be the ability to use UWP APIs, in general, from .NET Core .

[2018-06-25 16:23] lukos commented on #28501
Two examples:

.something@example.com
something.@example.com

I believe both should fail validation and neither do. These are also reasonable typing errors to make.

[2018-06-25 16:28] JensNordenbro commented on #18023
I second that

[2018-06-25 16:30] wfurt commented on #18012
Yes, it should as long as you can access the device files. (you can always create them with mknod)
I somewhat lost momentum on this distracted with other work. I can try to bump it up on my TODO list if there would be some interest in beta testing.

related to #29033

[2018-06-25 16:33] pjanotti commented on #18023
There are two related PRs https://github.com/dotnet/corefx/pull/29033 and https://github.com/dotnet/corefx/pull/28415 to bring it to Unifx - @wfurt can better indicate the status of these 2.

[2018-06-25 16:45] los93sol commented on #18023
@pjanotti To clarify, I am running Windows IOT core on my iot device.  I’m a bit confused because system.io.ports is already available in .net core.  Are you referring to bringing the UWP API’s to .net core?

[2018-06-25 16:58] pjanotti commented on #18023
I stated it wrongly: it is on .NET Core but only works on Windows, PNSE on others - that's what I meant (editing the previous statement to avoid confusion).

Not "bringing" them to .NET Core, but, making you able to call them from any .NET Core app - a kind of interop to UWP. To be fair I haven't looked into it and I am not sure if it can be done and what may be required.

[2018-06-25 17:38] los93sol commented on #18023
Okay, that makes sense.  If you can point me to how Windows iot core is detected in source somewhere I will submit a PR with the changes so that the current System.IO.Ports will work there.  I can’t submit what I have working currently as it will break other scenarios.

[2018-06-25 17:39] gregg-miskelly commented on #30582
CC @r-ramesh

From reading the code what would happen is that VS will have a row in the tasks window that has whatever original name the task had (from the ETW event) and no location. We might want a new ETW event to notify that a uncompleted task was GC'ed?

To answer your question from Friday - no, we don't have a knob to prevent setting s_asyncDebuggingEnabled.

[2018-06-25 17:43] stephentoub commented on #30582
I don't think we can do that. This would be *super* expensive, as Task would need a finalizer, and even if we GC.SuppressFinalize'd it if the ETW event wasn't enabled, there's still measurable cost there. In .NET Core 2.1 we added something similar for async methods, but there the runtime controls the instantiation of the async method boxing object, and thus if events are enabled, it can choose to

[2018-06-25 17:52] EdwinEngelen commented on #26386
There's definitely a need to port more Visual Basic functions from netfx to corefx. I want to move an application to .NET Core that heavily relies on the Microsoft.VisualBasic assembly. I want the functions FileGet, DateDiff, Fix, Mid, Len, among many others, to be available in .NET Core.
As far as I could see using Reflector, many of these functions are purely managed code. Reverse engineering th

[2018-06-25 17:57] ViktorHofer commented on #24839
IndexOf has a StringComparison overload. Was that intentionally omitted here for LastIndexOf?

[2018-06-25 18:00] ericstj opened #30648 "DefaultValueAttribute doesn't use TypeConverter"
In desktop DefaultValueAttribute would use TypeDesicriptor/TypeConverter to try and convert a string to a type: https://referencesource.microsoft.com/#System/compmod/system/componentmodel/DefaultValueAttribute.cs,b956ede3a6b29f1f,references

In Core we are not doing this: https://github.com/dotnet/coreclr/blob/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/shared/System/Compon

[2018-06-25 18:14] danmosemsft commented on #29861
@weshaggard who owns GenFacades?

[2018-06-25 18:18] gregg-miskelly commented on #30582
Perhaps we could solve it by just checking for a distinctive exception when we called `Task.GetActiveTaskFromId` to understand that the task has been collected...

[2018-06-25 18:22] danmosemsft commented on #30208
Another: https://github.com/dotnet/corefx/issues/30593

[2018-06-25 18:24] danmosemsft commented on #24832
Incidentally @iga1976 you might want to upgrade to 2.1 as it is released and 2.0 will go [out of support ](https://github.com/dotnet/core/blob/master/microsoft-support.md) in the fall.

[2018-06-25 18:24] danmosemsft commented on #24832
https://github.com/dotnet/corefx/issues/30593

[2018-06-25 18:38] danmosemsft commented on #29873
This seems a dupe of https://github.com/dotnet/corefx/issues/29878 ?

[2018-06-25 18:38] #29873 closed

[2018-06-25 18:38] joshfree commented on #30641
@bartonjs @davidsh

[2018-06-25 18:38] danmosemsft commented on #26386
@EdwinEngelen yes we are working to make the sources public soon and will ask for help porting/writing tests.
https://github.com/dotnet/corefx/issues/29878

[2018-06-25 18:39] joshfree commented on #30638
@joperezr @ahsonkhan

[2018-06-25 18:40] danmosemsft commented on #24839
I think that is a mistake.

[2018-06-25 18:40] joshfree commented on #30635
@bartonjs @davidsh

[2018-06-25 18:41] danmosemsft commented on #24839
Actually I suggest you open a new issue to get that approve.d

[2018-06-25 18:41] #24839 closed

[2018-06-25 18:50] TheMacNerd commented on #30602
Perhaps one of these could solve your problem:

https://stackoverflow.com/questions/48760630/aws-lambda-connect-to-redshift-db-using-odbc-connection
https://stackoverflow.com/questions/48760630/aws-lambda-connect-to-redshift-db-using-odbc-connection?rq=1

[2018-06-25 18:51] tebeco commented on #30354
added in my agenda for tomorrow morning at work

[2018-06-25 18:56] ViktorHofer opened #30649 "Add SpanExtensions.LastIndexOf StringComparison overload"
We added LastIndexOf extension methods with https://github.com/dotnet/corefx/issues/24839 but omitted the StringComparison overload which is existent on string and the IndexOf extension method.

[code]

Usage: Regex

[2018-06-25 18:57] ViktorHofer commented on #24839
Opened https://github.com/dotnet/corefx/issues/30649

[2018-06-25 19:05] bgribaudo commented on #25855
Hi @joperezr (or @danmosemsft)! Is there anything I could do to help further this along?

[2018-06-25 19:06] pjanotti commented on #30641
This seems similar to https://github.com/dotnet/corefx/issues/25064

[2018-06-25 19:13] Maoni0 commented on #30644
the async scenario has always existed and it was a TODO on my list. however I have not had time to work on it. but I wanted to clarify what that was supposed to work.

[code]
and `tracker.BytesAllocated` would include what `DoStuff2` allocates. this is really the same as `GetAllocatedBytesForCurrentThread` but also taking `async` into consideration.

do you believe you actually want `GetAllocatedB

[2018-06-25 19:17] jkotas opened #30650 "Potential race condition in SqlConnectionString.cs"
From https://github.com/dotnet/coreclr/pull/17076%23issuecomment-375330581

https://github.com/dotnet/corefx/blob/619dbe6503a2de2afa27122cb34716d9ff6906ff/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionString.cs#L488-L492. cc: @saurabh500. There's no synchronization whatsoever (no locks, no interlockeds, no volatiles, etc.) used in lazily initializing this dictionary. It's possib

[2018-06-25 19:19] jkotas opened #30651 "Potential race conditions in DataContractSerialization"
From https://github.com/dotnet/coreclr/pull/17076%23issuecomment-375330581

- This is buggy: https://github.com/dotnet/corefx/blob/619dbe6503a2de2afa27122cb34716d9ff6906ff/src/System.Runtime.Serialization.Xml/tests/SerializationTestTypes/DataContractResolverLibrary.cs#L16-L34. But it's in tests, and it would only manifest if tests that were using this type were to run concurrently; it looks like a

[2018-06-25 19:19] pjanotti commented on #30635
This one also looks like https://github.com/dotnet/corefx/issues/29942

[2018-06-25 19:31] jkotas opened #30652 "Sudden OutOfMemoryExceptions with 2.1.1 (System.Net)"
_From @natethegreat44 on June 25, 2018 17:40_

Hi,

We have an ASP.NET core app that recently started receiving unexplainable OutOfMemoryExceptions after deployment on Thursday, 21 June, 2018. The exceptions are not usually fatal, but once they start, they grow worse until eventually the dotnet process crashes. Things are usually good for about 18-24 hours after launch, and it doesn't seem to matt

[2018-06-25 19:31] jkotas commented on #30652
_From @stephentoub on June 25, 2018 17:54_

Is it always coming from this same location, or is this just one of many different locations from which you're seeing the OutOfMemoryException?

[2018-06-25 19:31] jkotas commented on #30652
_From @natethegreat44 on June 25, 2018 18:16_

Looks like we have it in a couple of different areas related to SSL. All are OutOfMemoryExceptions:

[code]

and

[code]

and

[code]
From what I see, they happen in roughly the same quantity.

[2018-06-25 19:32] pjanotti commented on #30623
@bujie are you hitting the same stack as https://github.com/dotnet/corefx/issues/30641 or something different?

[2018-06-25 19:35] ahsonkhan commented on #28238
Looks like this work item is done. All the duplicate span tests were moved to Common StringTests. Thanks @MarcoRossignoli

@tarekgh, can you confirm?

[2018-06-25 19:36] ViktorHofer commented on #28001
@karelz this one is in the backlog now for quite some time. can we please prioritize it for the next meeting?

[2018-06-25 19:39] tarekgh commented on #30208
@danmosemsft this is not related to #30593

[2018-06-25 19:43] jkotas commented on #30652
Is all 16GB actually available to the docker container? This behavior would suggest that the docker container has 1GB limit.

[2018-06-25 19:44] ahsonkhan commented on #24839
This issue was about adding the generic overloads, not char-specific ones. The relevant issue (where we overlooked adding LastIndexOf is [this one](https://github.com/dotnet/corefx/issues/21395).

[2018-06-25 19:44] ahsonkhan commented on #30649
We should match the IndexOf signature:
[code]
i.e.
1) First argument should be ReadOnlySpan, not Span.
2) The method isn't generic (char-specific), so we don't need the constraint on T.

[2018-06-25 19:48] tarekgh commented on #24832
@danmosemsft this is not related to #30593

[2018-06-25 19:49] ViktorHofer commented on #30649
Right, I just copied it blindly. Thanks, updated the initial post.

[2018-06-25 19:50] shatl commented on #30652
Getting OutOfMemoryException from random places
E.g:
[code]
System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.
   at Newtonsoft.Json.JsonPosition.BuildPath(List`1 positions, Nullable`1 currentPosition)
   at Newtonsoft.Json.JsonWriter.get_Path()
   at Newtonsoft.Json.Serialization.JsonSerializerInternalWriter.Serialize(JsonWriter jsonWriter, Object value, Type

[2018-06-25 19:51] danmosemsft commented on #30641
@marekhanzlik it would be valuable to us if you could confirm whether this repros using master bits.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

That could disprove that it is fixed by the fix for https://github.com/dotnet/corefx/issues/29942.

Also helpful if you could try to check for failure to open a cert: https://github.com/dotnet/corefx/issues/29942

[2018-06-25 19:51] ahsonkhan commented on #30638
cc @ericstj, who worked on package dependency related issues: https://github.com/dotnet/corefx/issues/29149 / https://github.com/dotnet/buildtools/pull/2009

[2018-06-25 19:54] ahsonkhan commented on #28001
@ViktorHofer, it needs to be marked api-ready-for-review first. @tarekgh, aside from additional overloads that you mentioned [here](https://github.com/dotnet/corefx/issues/28001#issuecomment-372877699), does the originally proposed API look fine to you (CompareTo overload only)? I am going to flip the label

[2018-06-25 19:56] danmosemsft commented on #30652
@pjanotti this is the other issue that may be new with 2.1.1 (but this time not unreadable cert)

@shatl how much memory is the process using at the point it hits OOM? Also, is this Docker and if so how much memory is available?

[2018-06-25 19:57] natethegreat44 commented on #30652
@jkotas - we are not limiting the docker container memory - it can take what it wants to. We also see it sitting at about 1GB when running in Visual Studio, so that seems to be the natural memory plateau for our app.

[2018-06-25 19:57] ViktorHofer commented on #28001
oh right, I missed that. thanks!

[2018-06-25 20:01] danmosemsft commented on #30652
@natethegreat44 if 1GB is typical anyway, I assume nothing stands out in the dumps (eg from `!dumpheap -stat` ([info](https://blogs.msdn.microsoft.com/tess/2005/11/25/dumpheap-stat-explained-debugging-net-leaks/))

It might be worth making a little test console app that allocates much more than 1GB (eg new up some huge arrays) to confirm that the container is not limiting it.

[2018-06-25 20:01] tarekgh commented on #28238
I think we are good here. we can revisit if we see anything missing later.

[2018-06-25 20:01] MarcoRossignoli commented on #30507
@ViktorHofer @adamsitnik i followed this guide https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/benchmarking.md.
I compiled corefx and create a new project on my [lab repo](https://github.com/MarcoRossignoli/marcorossignoli.github.io/tree/master/corefx/src/Lab/RegExPerf).
But when run i get:
` error NU1101: Unable to find package runtime.win-x64.Microsoft.NETCore.App. No pac

[2018-06-25 20:04] danmosemsft commented on #26386
I hope the code can go up this week if there are no issues found - @rbhanda can give an update. After that it is a matter of how quickly folks can port it/write tests. Then it will be in master, so it would likely not ship until 3.0 next year: depending on your project, perhaps you could work against master meantime, or perhaps you could paste in the implementations into your project temporarily u

[2018-06-25 20:09] ericstj commented on #30638
System.Memory is a netstandard2.0-based library.  So when you reference it on net461 it brings in the netstandard2.0 support libraries on net461.  These won't be brought in on net471 and later where netstandard2.0 support is *inbox*.

@ahsonkhan if you wanted to avoid this you could cross-compile System.Memory for net461, and ensure any of its dependencies also cross-compiled for net461.  This wou

[2018-06-25 20:10] pjanotti commented on #30623
@bujie I can't repro with current master, 2.1.301, 2.1.300-preview1-008174, Please, copy the full callstack that you are getting.

[2018-06-25 20:18] weshaggard commented on #29861
Our team. However if I were to guess the code likely at fault is CCI which is owned elsewhere.

[2018-06-25 20:19] tarekgh commented on #28001
I prefer the proposal to expose the new APIs from CompareInfo (I mean IndexOf, LastIndexOf, IsSuffix, IsPrefix, and Compare). I mean the APIs which takes CompareCoptions. the reason is we'll not need to pass CultureInfo to the APIs and we'll be consistent with the other APIs takes string parameters. if I get some time I can try to get the proposal but if you have cycles you may do it.

[2018-06-25 20:32] bartonjs commented on #30608
If you're being the TLS server or doing client auth you probably need the PFX.  But if you use the public-only certificate there's some logic to try to find the private key using the CurrentUser\My and/or LocalMachine\My certificate stores (if I recall correctly).

`52.169.64.244:443` is an endpoint, specifying the host (an IPv4 address) of `52.169.64.244` and a port number of 443.

Looks like tha

[2018-06-25 20:37] shatl commented on #30652
@danmosemsft We run in Docker/AWS. There is a soft limit of 512MB, but at the time of crash application used approx 75MB .

[2018-06-25 20:47] tarekgh commented on #30208
https://github.com/dotnet/coreclr/issues/12668

[2018-06-25 20:48] tarekgh commented on #24832
https://github.com/dotnet/coreclr/issues/12668

[2018-06-25 21:02] aborderon commented on #30608
Ok, I understand better thanks.

I changed the port on the client to 8080 and I think it works better however I get a server-side error now.

I converted my certificate to **.pfx** with the command:
`openssl pkcs12 -export -out server.pfx -inkey server.key -in server.crt`
I left the export password empty.

When launching the client, I have the following error on the server side:
[code]
And in my c

[2018-06-25 21:05] tarekgh commented on #30208
@kouvel @jeffschwMSFT @tommcdon

could you please help with this issue? this is the issue that @kouvel fixed dotnet/coreclr#12668 for 2.0.3 but people running into it. Although they have installed dotnet 2.0.3, but it hey may not targeting this version which has the fix. would be nice if you can help narrow down the problem.

[code]

[2018-06-25 21:08] #30455 closed

[2018-06-25 21:09] #28238 closed

[2018-06-25 21:29] lmolkova opened #30653 "NameValueHeaderValue throws FormatException if header value contains a colon"
According to RFC 7231 colon (':') seems to be valid character in header *value*.
Examples of known headers with the colon are `Date: Tue, 15 Nov 1994 08:12:31 GMT` or `Host: server.example.com:80`

However when I try to create a new `NameValueHeaderValue` with the value containing a colon
[code]

I get `FormatException`.

[code]

Expected: `host=server.example.com:80`

[2018-06-25 21:36] greggbjensen commented on #28961
I am using `microsoft/dotnet:2.1-aspnetcore-runtime` image, and I did install `gss-ntlmssp`.  It makes the `GSSAPI operation failed` error go away.

However, then I get `System.PlatformNotSupportedException: No support for channel binding on operating systems other than Windows.`

Is there another package I'm missing?

[2018-06-25 21:41] joshfree opened #30654 "Fix Ref.Emit contract to throw PNSE on AOT"
Currently the [System.Reflection.Emit package](https://www.nuget.org/packages/System.Reflection.Emit/) that shipped with .NET Core 1.0 incorrectly states it supports NETStandard 1.1+ when in fact it does not work on AOT platforms (it only works on .NET Core and .NET Framework platforms)  https://github.com/dotnet/corefx/issues/29365#issuecomment-398130364.  We need to fix the following in the pack

[2018-06-25 21:54] KristianWedberg opened #30655 "Using ConfigureAwait() 400% slower on completed task"
# Issue

Calling `ConfigureAwait()` on a task takes a significant amount of time
(over **400%** slower than the alternatives), and also performs an allocation,
even if the task is already completed. For scenarios with high volume and with
the task usually completed, this necessitates verbose workarounds that checks
the task before calling `ConfigureAwait()`, e.g.:

[code]

`GetAwaiter()` is docume

[2018-06-25 22:10] AArnott commented on #30655
Why do you say that? ConfigureAwait returns a `ConfiguredTaskAwaitable` which is a struct. Calling `GetAwaiter()` on that returns a `ConfiguredTaskAwaiter` which is also a struct. These don't constitute allocations.

[2018-06-25 22:17] KristianWedberg commented on #30655
I rephrased it slightly just now - according to BenchmarkDotNet , the versions _with_ `ConfigureAwait()` allocate 96 bytes per _iteration_, vs. 84 bytes per _iteration_ without `ConfigureAwait()`, see above.

[2018-06-25 22:33] ahsonkhan opened #30657 "Tracking issue for ASP.NET and JSON"

[2018-06-25 22:47] AntonLapounov opened #30658 "Incorrect OS architecture reported for x86 code running on ARM64"
When x86 code is executed on an ARM64 Windows, `System.Runtime.InteropServices.RuntimeInformation.OSArchitecture` returns `X86` and `System.Environment.Is64BitOperatingSystem` returns `False`.  These two properties call `GetNativeSystemInfo` and `IsWow64Process` Kernel32.dll functions respectively, which conceal the real OS architecture from x86 code by returning `PROCESSOR_ARCHITECTURE_INTEL` (me

[2018-06-25 22:48] stephentoub commented on #30655
First, this is the corefx repo, so measuring .NET 4.7.1 isn't the right thing to measure.  I suspect something is awry in your measurements on .NET Framework, as there shouldn't be such a difference in the allocation size when nothing is yielding.  When I run this with .NET Core 2.1, I get results like this:
[code]
so around 3.5x when using ConfigureAwait on an already completed task, but we're he

[2018-06-25 22:50] danmosemsft commented on #30652
@jkotas if it's using so little memory, what could cause OOM? If it was an attempt at an impossibly large allocation, I think I would expect a consistent callstack?

[2018-06-25 23:01] jkotas commented on #30652
No idea. There have been multiple similar OOM issues reported against .NET Core 2.1 recently :

https://github.com/dotnet/coreclr/issues/18044
https://github.com/dotnet/coreclr/issues/18577
https://github.com/aspnet/Home/issues/1976
https://github.com/aspnet/EntityFrameworkCore/issues/8223

I suspect there are multiple different root causes that are causing these OOM errors.

[2018-06-25 23:09] adamsitnik commented on #30644
From my perspective, of a person who creates benchmarking tool I need an API that will give me the total number of allocated bytes. For all threads, no matter of processor affinity.

Because of the nature of existing AppDomain API for desktop .NET BenchmarkDotNet is already designed in a way that after running the benchmarks and measuring the time we EnableMontitoring in current AppDomain and perf

[2018-06-25 23:13] benaadams commented on #30655
Aside you'd only want to use `ConfigureAwait(false)` for the actual `await` so can drop it from the `.GetAwaiter().GetResult()` part; rather than creating the ConfiguredAwaitable wrapper

e.g. change
[code]
to
[code]
Which changes the results to
[code]

Also if your methods generally return sync (completed path) rather than going async; changing the return type to `ValueTask<int>` rather than `Tas

[2018-06-25 23:17] danmosemsft commented on #30599
@maryamariyan

[2018-06-25 23:28] KristianWedberg commented on #30655
@benaadams Yes, I included `ConfigureAwait().GetAwaiter().GetResult()` just to show that it was adding `ConfigureAwait()` that increased the run-time.

In these performance sensitive areas I'm using cached tasks where possible, otherwise `ValueTask<T>`.

[2018-06-26 00:42] morganbr commented on #30643
It looks like ```FailsFast``` is new. While I support the general idea, failfast is somewhat difficult to debug and does things like kill unit test failure reporting (in CoreFX, that means we'd likely lose the issue). We also don't use failfasts for any other user-facing features. I'd suggest a throwing option instead (and including the exception type in this proposal).

[2018-06-26 00:47] morganbr commented on #30613
Could this use the ```unmanaged``` constraint instead of the ```struct``` constraint? GC references wouldn't be a good thing with this API.

[2018-06-26 01:03] jkotas commented on #30613
The implementation will enforce no-GC references at runtime just like `MemoryMarshal.Cast` and other similar APIs. `unmanaged` constrain is enforcing more than no-GC references. It would make this API less useful and inconsistent with the rest of the `MemoryMarshal` and `Span` methods.

[2018-06-26 01:08] jkotas commented on #30643
I do not think this separate contract for this is useful. Maintainers of (popular) NuGet libraries are very reluctant to depend on external packages like this. They will have a strong preference for including a source version instead. Also, I do not think we want to have yet another little .dll with <10 attributes in it.

[2018-06-26 01:28] adriancole commented on #30331
Baggage has been a liability in practice due to its lack of definition (like ttl), bloat, likelihood of leaking secrets, or abstraction breaking (ex encouraging business code to use tracing apis to do business functionality). It is problems with OT baggage (including entry control etc) which led to some of the delays in correlation context, ex how to make sure these problems aren't re-introduced u

[2018-06-26 02:21] bricelam opened #30659 "Native library dependencies can't be in different NuGet packages"
I was trying to package up some native libraries to redistribute on NuGet (similar to the runtime.* packages). It looks like they all need to be in the same NuGet package to make it work.

I had hoped to create two packages: one for zlib and one for libxml2 (which depends on zlib), and use PInvoke to call into libxml2, but because of the way `LoadLibraryEx` is invoked, it will only look for depend

[2018-06-26 02:32] bricelam commented on #30659
Oops, I meant to file this on [dotnet/core-setup](https://github.com/dotnet/core-setup). Closing. Filed dotnet/core-setup#4303 instead.

[2018-06-26 02:32] #30659 closed

[2018-06-26 03:28] danmosemsft commented on #30643
`RemovableAttribute` is a pretty vague name, maybe `RemovableBodyAttribute`.?

[2018-06-26 05:42] iSazonov commented on #25855
Should
[code]
be
[code]
?

[2018-06-26 06:48] SakulRelda commented on #25988
@FenrisWolfAtMiddleEarth
Could you give a code example how NTLM Authentication with .NET Core 2.1 (Console-Application / WebApp) is working? I tried the following:
`var handler = new HttpClientHandler();
            var credential = new NetworkCredential("", "", "");
            handler.AllowAutoRedirect = true;
            var ccache = new CredentialCache
            {
                { new Uri(b

[2018-06-26 07:04] cwe1ss commented on #30331
.NET's `Activity` type is roughly based on OT's `Span` but it definitely isn't an OT implementation.

I had another look at the W3C spec document. Seems like what we currently have with `Baggage` more closely relates to W3C's `Correlation-Context`, right?

But I'm now confused by @SergeyKanzhelev example in this issue where he used `sampling-rate` as a key. Shouldn't that also be a `Correlation-Co

[2018-06-26 07:35] MarcoRossignoli commented on #30502
Can grab this?

[2018-06-26 07:48] MichalStrehovsky commented on #30643
The thing I'm struggling with is code that is never supposed to execute. If you look at the linked commits where this attribute is applied in various places of the framework (the serialization ones) - in those, the removed code is not expected to run. If it runs, it's a bug: a bug that we only hit at publish time. Forget about UWP for a second - UWP is such a minor scenario that it doesn't matter.

[2018-06-26 08:02] azyobuzin commented on #16463
`ImageFormat` is now in corefx. Can we reopen this issue?

[2018-06-26 08:15] marekhanzlik commented on #30641
@danmosemsft sorry, i don't have time to trying this out, right now i'm on pretty tight schedule, sorry.
I've fixed the problem by using docker 2.1.1 alpine image
I know that Amazon AMI Linux is not tested environment and i suspect missing openssl-libs are the culprit.
.NET Core was installed manually because installing throught `yum` failed with this https://github.com/dotnet/core/issues/930

[2018-06-26 10:05] ygoe commented on #12038
@karelz So if there's no netstandard21, unfortunately this new feature isn't accessible to my library. Should I use reflection to see if the runtime has that property, and set it?

[2018-06-26 11:37] NickCraver commented on #30644
+1 to @adamsitnik's behavior - given the primary scenario is benchmarking the "overall" whether that overall is an entire application with a lot of features or a single benchmark snippet with 1 function and purpose.

@Maoni0 I agree the `async`-down tracking would be useful in itself, but IMO that's another API. It'd be interesting for doing a lot of custom benchmarking perhaps, but given all the

[2018-06-26 11:57] Denterl commented on #30638
Thank you, @ericstj .

[2018-06-26 11:57] #30638 closed

[2018-06-26 13:06] aborderon commented on #30608
I come back to you @bartonjs with good news. Following your information I was able to advance on my problem.

The majority of my mistakes came from my certificate.

I correctly created a new self signed certificate specifying the SAN (borderon-UX305FA.adrien.net). I then converted this certificate in pfx format to have the key included in the certificate.

I modified the server-side code to use th

[2018-06-26 13:27] danmosemsft commented on #16463
@safern can suggest whether fixing this would be unacceptably breaking.

[2018-06-26 13:28] gtbuchanan commented on #6204
`msmqIntegrationBinding` and `netMsmqBinding` are WCF-specific, which may be what the OP was getting at by mentioning SOAP. Some sort of built-in consumer and poison message retry functionality like is present in the WCF bindings would be great since [I'm not sure WCF will make it to .NET Core](https://github.com/dotnet/wcf/issues/1200).

[2018-06-26 13:29] OmarTawfik opened #30665 "Support for 'in' parameters for dynamic binder"
Copied from: https://github.com/dotnet/roslyn/issues/28019

I have accidently stumbled upon an issue which might be a bug in the C# compiler. Apparently the `dynamic` keyword does not handle well methods / operators with `in` parameters. Here is a small sample program to reproduce the problem:
[code]
The above program produces the following exception at runtime:
[code]
Removing the `in` keyword fr

[2018-06-26 13:31] OmarTawfik commented on #30665
The binder needs some work to be able to support `in` parameters correctly. Same issue would happen with `in` extension methods, etc..

[2018-06-26 13:54] KristianWedberg commented on #30655
@stephentoub OK, that makes sense regarding allocations, thanks.

As @benaadams intimated, this `ConfigureAwait()` performance difference seems to have the same cause as https://github.com/dotnet/coreclr/issues/18542.

Cutting away the `async` parts, I get a **10x** speed difference between retrieving a flat struct vs. a nested struct, both with the same two fields (and irrespective if fields are

[2018-06-26 13:57] stephentoub commented on #30502
Sure, thanks :)

[2018-06-26 14:01] bartonjs commented on #30608
If you specify the SAN entry using only lowercase letters it will work (the fix for mixed case SAN entries recently went in, it hasn't shipped yet).

You can't open a server socket on ports 1-1023 unless you're root.  That isn't really an OpenSSL-ism, that's a Linux-ism.

[2018-06-26 14:13] BlacKCaT27 opened #30666 "Add support for interpolation within appsettings"
Currently, any app configuration entries in your appsettings.json file must be a direct value type, ex:

    "TargetDirectories": {
        "RootDir": "/path/to/rootdir/",
        "SubDir1": "subdir1",
        "SubDir2": "subdir2"
    }

If I, as a developer, want to concatenate or otherwise combine configuration parameters, I have to wire all of it up manually within my code:

    public class Ta

[2018-06-26 14:17] MarcoRossignoli commented on #30502
@stephentoub do we need some perf comparison?

[2018-06-26 14:20] stephentoub commented on #30502
It would be useful to validate the work, but it's highly unlikely this would degrade perf, so while it'd be good to do, you don't need to exert a lot of effort on it.

[2018-06-26 14:23] stephentoub commented on #30655
Right. Thanks. So, I'm going to close this issue.  To my knowledge there's nothing that's specific to ConfigureAwait here.  If I'm wrong, please feel free to re-open and clarify.

[2018-06-26 14:23] #30655 closed

[2018-06-26 14:30] ygoe commented on #12038
@danmosemsft Will there be a netstandard21 or something that includes this feature sometime? Or is this cross-targeting meant for a longer time?

[2018-06-26 14:44] jkotas opened #30668 "Websockets: Server doesnt realize when a client is disconnected and keeps connection as open"
_From @agonzalezm on June 26, 2018 8:25_

I have websocket server/clientapp  that works perfectly in net core 2.0 but after updating project to net core 2.1 the server doesnt realize when a client is disconnected so it keeps waiting for ever, while debugging this code although client got disconnected the server reports the websocket connection as OPEN. Any idea what has changed or how to make this

[2018-06-26 15:01] CedricAgoda opened #30669 "System.Data.Odbc with Cloudera Impala driver gives "Invalid connection string""
On my Ubuntu machine, I have configured the unixODBC driver properly (I assume, since I can use the `isql` or `iodbctest` command to connect to Impala.)

My ~/.odbc.ini
[code]

Output of `iodbctest "DSN=Impala"`

[code]

But when I use `OdbcConnection` with connection string `"DSN=Impala"` I get the error in cloudera logs:
[code]

I tried with a `"Driver={......"` way with same result.

Note that

[2018-06-26 15:31] smbecker opened #30670 "ConnectHelper.ConnectEventArgs shouldn't capture AsyncLocals"
I am still working on a minimal repro but I am running into cases where using the new `SocketsHttpHandler` is causing `AsyncLocal` values to be captured and cached in [s_connectEventArgs](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/ConnectHelper.cs#L20) causing those `AsyncLocal` values to live forever. At the moment, I have worked around

[2018-06-26 15:54] aborderon commented on #30608
I confirm that it works well after changing my SAN.

Thank you for all your information and assistance. I will close the ticker.

[2018-06-26 15:54] #30608 closed

[2018-06-26 16:02] stephentoub commented on #30670
Yeah, I see how this can happen.  SocketAsyncEventArgs holds onto the captured ExecutionContext.

We should probably fix it so it doesn't, and then this issue just goes away (along with other cases where SAEA is cached, which is common).  If for some reason we can't do that, then suppressing flow in ConnectHelper is a good workaround.

[2018-06-26 16:20] danmosemsft commented on #12038
@ygoe there will certainly be more versions of .NET Standard. We [announced ](https://blogs.msdn.microsoft.com/dotnet/2018/05/07/net-core-3-and-support-for-windows-desktop-applications/) there will be an update next year aligned with .NET Core 3.0.

When we update it depends on how quickly other platforms (mainly Mono/Xamarin) pick up new API's. There's more discussion [here](https://github.com/do

[2018-06-26 16:23] danmosemsft commented on #30652
@shatl I would try to get a dump file at the point the exception is thrown. There are various ways to do this such as attaching a debugger before the failure. [This](http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/) may help. If you have a Microsoft support contract, product support can help also.

Once that is done we can at least examine the heap.

@mikem836

[2018-06-26 16:24] danmosemsft commented on #30652
@pjanotti could you please help drive this one.

[2018-06-26 16:28] mikem8361 commented on #30652
https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md

[2018-06-26 16:53] maryamariyan commented on #30599
I tried the workaround as explained in above as well as another approach where I copied over the dylib/a files for System.Security.Cryptography.Native.Apple from macOS High Sierra to Mojave to just run the tests.
With both approaches I successfully got around the compilation issue but I still get test failure on System.Security.Cryptography.X509Certificates test project.
Below is the callstack to

[2018-06-26 16:55] ViktorHofer commented on #30507
I don't know if we already mapped netcoreapp to netcoreapp3.0. @weshaggard should know.
The error you are hitting is the same that I hit when I tested that feature for @adamsitnik. I wasn't able to work around it and hadn't anymore time to test it thoroughly.
@adamsitnik we should try to stabilize that feature, sorry that I didn't get back to you. If you want I can block some time this week to try

[2018-06-26 16:55] danmosemsft commented on #30599
@bartonjs when you have time could you please finish the change to make this build successfully? Although ,at this point it is only for community members like @filipnavara since we won't switch our build machines until Mohave ships.

[2018-06-26 16:56] ViktorHofer commented on #30507
@MarcoRossignoli I'm currently using a different testing paradigm. I guess you are currently blocked :/

[2018-06-26 17:06] leecow opened #30671 "Add advance math class"
@khoshroomahdi commented on [Mon Jun 25 2018](https://github.com/dotnet/core/issues/1724)

# Issue Title
Please add a library like math.net to. Net core
Be as descriptive as you can with your title.

# General

Provide details on the problem you are experiencing including the .NET Core version, operating system version and anything else that is relevant.

Please provide a code sample for your issu

[2018-06-26 17:14] joshfree commented on #9855
Moving this to the 3.0 milestone as OpenSSL 1.1.1+ is required for TLS 1.3 support.

[2018-06-26 17:17] weshaggard commented on #30649
As a follow-up do we need these on the other similar APIs as well. IndexOfAny, LastIndexOfAny. It looks like those are also not on string but it would seem that for consistency they might be interesting as well.

[2018-06-26 17:18] terrajobst commented on #30592
It seems we don't have any string-like extension methods for `Memory<char>`. I'm not opposed to providing those, but it seems odd to just do them for `Trim`. We should make them consistent between `Span<char>` and `Memory<chan>` unless specific operations don't make sense. But picking and choosing seems like the wrong approach.

[2018-06-26 17:30] ByronAP commented on #30500
It seems in my case the issue was caused by a bad library (stackexchange.redis) and not the framework YAY

Closing this unless someone else can provide details on an actual corefx related issue that warrants a reopen.

[2018-06-26 17:30] #30500 closed

[2018-06-26 17:30] shahab1363 commented on #30586
I am not 100% sure but I've used the attribute like this:

        [Display(ResourceType = typeof(Resources), Name = "Lead_Fname_Name", Prompt = "Lead_Fname_Prompt")]
        [DisplayFormat(NullDisplayTextResourceType = typeof(Resources), NullDisplayText = "Lead_Display_NullText", ConvertEmptyStringToNull = true)]
        public string Fname { get; set; }

But when `NullDisplayText` get called, it

[2018-06-26 17:31] safern commented on #16463
I don't think this would be breaking as we don't use the ImageFormat.ToString() to compare anything, we do it directly we .Equals method that compares the Guid of the ImageFormat directly. I think the fix would be instead of doing this == s_jpeg to either do `this.Equals(s_jpeg)` or `this.Guid == s_jpeg.Guid` which is what `.Equals` does, compare the guids.

[2018-06-26 17:35] bartonjs commented on #30599
That means that the "I don't know what this code means" code tripped.

Defining `DEBUGGING_UNKNOWN_VALUE` will make it print the unknown value to the console right before asserting out.

https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Security.Cryptography.Native.Apple/pal_x509chain.c#L195-L199

[2018-06-26 17:36] terrajobst commented on #30613
This API and scenarios make sense but we shouldn't use `Struct` in the name. It seems to make more sense to align this with `Unsafe.AsRef()`, thus:

[code]

[2018-06-26 17:37] bartonjs commented on #30599
(And whatever the unknown codes are will need to be put into existing LTS builds to prevent failures on OS upgrade)

[2018-06-26 17:37] weshaggard commented on #30507
Yes the latest version of of these packages are putting assets in netcoreapp3.0 so you need to target that.

[2018-06-26 17:41] joshfree commented on #30355
Related https://github.com/dotnet/corefx/issues/30654

[2018-06-26 17:43] danmosemsft commented on #30500
Thanks for the update @ByronAP . do you have a stackexchange.redist bug link to paste in?

[2018-06-26 17:50] terrajobst commented on #29544
Are we sure the enum members are sensibly named? The names do not make a lot of sense to us, but that might just domain knowledge. Also, @GrabYourPitchforks just noticed that `Release` is being deprecated. Before approving I'd like to get confirmation on the names.

[2018-06-26 18:03] terrajobst commented on #27418
Let's remove ` TryGetTempPath` but otherwise it looks good.

[2018-06-26 18:05] terrajobst commented on #26948
Alright, this is it:

[code]

[2018-06-26 18:09] natethegreat44 commented on #30652
@danmosemsft - I added a quick alloc for 1024*1024*1024*2 integers, stored as 1024 int arrays in a List<int[]> and it worked fine. Snapshot from the docker container `htop` process:
![image](https://user-images.githubusercontent.com/3218596/41930717-1ce4f774-7939-11e8-97fe-08d421863ce6.png)

Also, I do have some core dumps from several of the crashes. @eshenem has not been able to open them due to

[2018-06-26 18:15] saurabh500 commented on #4198
@valorl At this point, I think this needs more investigation from the SqlClient team. Can you file a new bug and especially mention that the server process is running as a domain user?
Thanks

[2018-06-26 18:16] saurabh500 commented on #4198
cc @keeratsingh FYI.

[2018-06-26 18:22] smbecker commented on #30670
What are the best practices for using `ExecutionContext.SuppressFlow` across task boundaries? I am trying to follow some of the patterns I have seen in [other pull requests](https://github.com/dotnet/corefx/pull/26077/files) but none of those cross task boundaries. The problem is that when I get to `ExecutionContext.RestoreFlow`, it says that the flow is not suppressed. However, if I try to use `A

[2018-06-26 18:27] terrajobst commented on #25855
It seems the real scenario is killing a process tree. We're generally hesitant to add policy with complex policy where the behavior is hard to predict (although I personally believe killing the process is reasonably well defined as "kill as much as possible and keep going").

The trouble with exposing process navigation APIs that walking up often fails due to security concerns (walking down usuall

[2018-06-26 18:32] MarcoRossignoli commented on #30507
@ViktorHofer  don't worry...i'll try other way. Can you describe your way, i'd like to know new methods?

[2018-06-26 18:32] AArnott commented on #29907
Please get this fixed. In the meantime, I'm considering suppressing the warning by adding this to my csproj file:

[code]

[2018-06-26 18:33] ncsurfus commented on #28961
@greggbjensen  I've ran into the same issue, I traced that down to this.

https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs
https://github.com/dotnet/corefx/issues/3718
`// TODO (Issue #3718): The second buffer can contain a channel binding which is not supported****
`

[2018-06-26 18:33] terrajobst commented on #25189
This issue was about the naming convention (concept suffixing with `Ref`); it wasn't a particular set of members. It seems there are issues with the particular APIs being added (specifically `List<T>` and `Dictionary<K,V>`.)

Please file API review requests for the specific members so we can review those (or alternatively update the issue description to have their signatures and reopen this one).

[2018-06-26 18:33] #25189 closed

[2018-06-26 18:36] MarcoRossignoli commented on #30507
@weshaggard but if download last runtime and try to compile with netcoreapp3.0 i get SDK doesn't support 3.0 but only 2.2, where is sdk that support netcoreapp3.0?
My idea was to change default dotnet.exe(on benchmark config) with nightly sdk build support 3.0 if possible.

[2018-06-26 18:49] danmosemsft commented on #25855
@wtgodbe, @krwq own Process (see [owners list](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md))

I suggest adding `Process.Kill(includeDescendants = false)` (not sure whether it should return void or not, but for safety descendants should be excluded by default) but _not_ adding parent/child accessors because there is no other scenario at the moment and they