[2016-06-17 16:33] ericeil commented on #4002
Thanks, @pgavlin. No, I didn't realize there were ActiveIssues associated with this bug.  I'll give those a look.

[2016-06-17 16:36] davidsh commented on #8000
Closing this since this is a dupe of the root issue in #9228.

[2016-06-17 16:36] #8000 closed

[2016-06-17 16:37] davidsh commented on #8928
Closing this since it is a dupe of the root issue in #9228

[2016-06-17 16:37] #8928 closed

[2016-06-17 16:37] davidsh commented on #8496
Closing this since it is a dupe of the root issue in #9228

[2016-06-17 16:37] #8496 closed

[2016-06-17 16:37] davidsh commented on #8426
Closing this since it is a dupe of the root issue in #9228

[2016-06-17 16:37] #8426 closed

[2016-06-17 16:38] davidsh commented on #8061
Closing this since it is a dupe of the root issue in #9228

[2016-06-17 16:38] #8061 closed

[2016-06-17 16:40] davidsh commented on #8440
@brentarias Can you retry this on RC2 or latest RTM candidate packages?  Please re-open this if you are able to repro again.  Thx.

[2016-06-17 16:40] #8440 closed

[2016-06-17 16:57] davidsh commented on #9234
@aplex

I tried to repro your scenario but I couldn't repro.  I set up an IIS server that uses both ntlm and basic.  I was able to connect using default credentials.

One thing I noticed, though, is that my IIS server sends out the 'WWW-Authenticate' headers using NTLM first and then basic:

WWW-Authenticate: Basic realm="testserver"

It shouldn't matter, though, since NTLM will be preferred regar

[2016-06-17 17:09] davidsh commented on #9433
According the RFC 7231;
https://tools.ietf.org/html/rfc7231#section-3.1.1.1

The 'Content-Type' header has the following format:

   HTTP uses Internet media types [RFC2046] in the Content-Type
   (Section 3.1.1.5) and Accept (Section 5.3.2) header fields in order
   to provide open and extensible data typing and type negotiation.
   Media types define both a data format and various processing mod

[2016-06-17 17:19] davidsh commented on #7736
I think the issues with clrcompression dll have been resolved separately.  Closing this for now

[2016-06-17 17:21] davidsh commented on #3725
We've decided not to change this behavior based on app-compat with .NET Framework, etc.

[2016-06-17 17:21] #3725 closed

[2016-06-17 17:40] h3smith commented on #2089
Just to echo sentiments of others, we are dead in the water porting without being able to query LDAP and the like.

[2016-06-17 17:56] ClintBailiff commented on #2089
@h3smith
See my previous post.  With the release of RC2 you can now reference a class library that uses **System.DirectoryServices.AccountManagement**.

[2016-06-17 17:58] jchannon commented on #2089
Not on Netstandard.

However as I say we are working on getting this working. Hopefully have
something in around 2-3 weeks

On Friday, 17 June 2016, Clinton Bailiff <notifications@github.com> wrote:

[2016-06-17 18:12] #9426 closed

[2016-06-17 18:44] aplex commented on #9234
Ok, so I tried to change the order of WWW-Authenticate headers using Fiddler, so that NTLM was first, and client continued with NTLM handshake. I guess it just picks the first header then?

If you need some way to check it, you can use Fiddler with before-request breakpoints that allows to change the 401 response from server before it gets to the client.

[2016-06-17 18:49] stephentoub commented on #8983
Another http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2139/consoleText

[2016-06-17 19:05] davidsh commented on #9234
Thx for confirming this.  Also, you mentioned that this worked in RC1 but then broke in RC2.  Is that correct?

[2016-06-17 19:36] davidsh commented on #9234
One other thing to try....are you going thru a proxy?  Try turning off proxies completely by setting .UseProxy=false.

I have reproduced a problem with getting headers in the "Basic", "NTLM" order *and* using a proxy (such as Fiddler). It appears that NTLM handshakes don't go thru.

[2016-06-17 19:43] danmosemsft opened #9514 "Compat work for ClickOnce (stub it)"
Without CAS, this would not work anyway. Issue tracks stubbing it.

[2016-06-17 19:51] danmosemsft opened #9516 "Compat work for Console"
Not much here to match Xamarin mobile, as much of it isn't there. We do miss these:

[code]

also `enum ConsoleKey`

[2016-06-17 19:54] danmosemsft opened #9518 "Compat work for Contracts"
Really nothing here: two in Xamarin that aren't in Core, and they don't seem used.

[code]

Just a tracking issue for this category.

[2016-06-17 19:56] davidsh commented on #9234
cc: @stephentoub @CIPop

This looks like a native WinHTTP bug.  I opened up a bug with the WinHTTP team.
Ref: 7924548

[2016-06-17 20:52] ericeil commented on #4171
Failed here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/2297/testReport/System.Net.WebSockets.Client.Tests/SendReceiveTest/SendReceive_PartialMessage_Success_server__wss___corefx_net_cloudapp_net_WebSocket_EchoWebSocket_ashx_/

[2016-06-17 20:52] MattGal opened #9521 "System.Console implementations with limitations such as Color should not throw"
All NetCore50 implementations of System.Console I've found so far throw if any color settings are used (i.e. ForegroundColor) due to limitations of where they run.  This means that I can't use Xunit.Console.NetCore.exe against these versions because the first thing XUnit DOES is to set the console color.

I favor turning these NotSupportedExceptions into noops... ideally with some kind of debug ou

[2016-06-17 21:35] aplex commented on #9234
Disregard that thing about RC1 - I used full .Net framework there, so that's probably the reason it worked.

I tried with  `handler.UseProxy = false` and result was the same - 401 error

[2016-06-17 21:42] saurabh500 commented on #4346
Cc @geleems

[2016-06-17 21:54] ericeil commented on #4007
AFAIK, this is *not* supported on Mono, either.

[2016-06-17 23:15] johnkwaters commented on #2089
Any updates on this? I need to authenticate the calling user, when the user is using an angular web app on the LAN, logged in to AD, calling a WebAPI controller method (without the user entering password into web browser) in aspnet core RC2. Possible? Soon possible?

[2016-06-17 23:37] bartonjs commented on #9442
This seems to have addressed the question; so closing the issue.  If there's still more missing, feel free to leave more comments.

[2016-06-17 23:37] #9442 closed

[2016-06-18 07:03] zigzag95 commented on #2089
To do this you just need to use withCredentials in your http requests from the client. Then you can get user informations and claims in your controllers using User.Identity.
This works in ie and chrome but with Firefox a popup will be automatically shown to Le the user type in their windows user and password

[2016-06-18 07:32] lextm opened #9533 "HttpClient on non-Windows does not support Windows authentication"
The following code snippet works fine on Windows (.NET Framework), and can authenticate against an IIS web service configured with Windows authentication only. Status code is 200.
[code]
However, when it runs in a .NET Core RC2 app on Mac, the response status code is always 401. By capturing packets via Wireshark, no user credentials are sent. (if disable Windows authentication and enable Basic au

[2016-06-18 10:04] yfakariya commented on #9220
@AtsushiKan Do you have any questions? I have a patch with unit tests for this, but I'm waiting for further discussion about it :)

[2016-06-18 10:56] stephentoub commented on #9533
If you mean NTLM, the support is there, but in RC2 you need to explicitly opt-in to using it, e.g. using a CredentialCache that includes the NetworkCredential added for "NTLM"  rather than  just  the NetworkCredential. Post-RC2, you shouldn't need to do that.

If you mean Negotiate, some gss API implementations only consider Kerberos, while others fallback to NTLM if Kerberos can't be negotiated.

[2016-06-18 12:47] lextm commented on #9533
@stephentoub Thanks for the hint of "explicitly opt-in". Didn't know this is an RC 2 limitation. Will do more experiments and close this issue.

[2016-06-18 15:01] stephentoub commented on #4171
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2310/consoleText

[2016-06-18 16:14] lynxluna commented on #9171
I'm using macports, and because `DYLD_LIBRARY_PATH` sometimes does not work in El Capitan, I manage to do workaround by making libcrypto and libssl symlink to corefx directory.

[code]

And `dotnet` cli runs as expected. Here's my version

[code]

[2016-06-18 16:50] bartonjs commented on #9171
@lynxluna Does MacPorts not have a "make symlinks in /usr/local/lib" command (like Homebrew does)?

According to the docs I found (https://developer.apple.com/library/prerelease/content/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/DynamicLibraryUsageGuidelines.html#//apple_ref/doc/uid/TP40001928-SW12) the default fixed locations are `$HOME/lib`, `/usr/local/lib`, `/usr/lib

[2016-06-18 17:10] bartonjs commented on #7973
Since we do have the builds files now, maybe it's worth making a tool which does, approximately:
* Find a builds file
* Ensure it only talks about a .csproj in the same directory
* Clear out the configurations
* Regenerate Debug/Release configurations for everything in the .builds file

Though I guess really it might want to be done as a library/.sln thing; since then you can regen the .sln after

[2016-06-18 17:17] bartonjs commented on #9402
Since we have an awful lot of tests for loading certs from files, and the message from OpenSSL is `BIO_new_file:no such file`; this just sounds like the file is actually missing.  Since we haven't heard anything new in several days I'm closing the issue (but you can still add comments if you have additional feedback)

[2016-06-18 17:17] #9402 closed

[2016-06-18 17:46] bartonjs commented on #1079
# API proposal

Add a leaveOpen constructor to CryptoStream to allow the caller to maintain ownership post-Dispose.

[code]

## Semantics

The existing constructor would defer to the new one with `leaveOpen: false` to maintain compatibility.

When constructed with `leaveOpen: true`, CryptoStream Dispose will not chain the call to Dispose to the underlying stream.

[2016-06-18 22:16] stephentoub commented on #9296
Again:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug/681/consoleText

[2016-06-19 02:51] Clockwork-Muse commented on #9486
...Is this meant to cover things like the fact that `BitArray.CopyTo` throws `ArgumentException` with different parameter names in mscorlib and the version here on corefx, or should I open a new issue?

[2016-06-19 05:35] xyting commented on #9402
@bartonjs thanks, OK, the file is missing.

[2016-06-19 10:37] peter-bozovic opened #9535 "TryValidateObject not returning localized text after migration from RC1 to RC2"
I have MVC project that uses some model validation outside of MVC pipe by calling directly
System.ComponentModel.DataAnnotations.Validator.TryValidateObject(...)
The project is for French market, so CurrentCulture and CurrentUICulture are both set to "fr"

In RC1, this setup was returning correctly validation error messages in French.
After migration to RC2, all messages are now in english, regard

[2016-06-19 11:57] stephentoub commented on #9407
Re-closing.  The occurrence seen was not run with the fix.

[2016-06-19 11:57] #9407 closed

[2016-06-19 20:46] #9143 closed

[2016-06-20 03:12] stephentoub opened #9538 "MulticastInterface_Set_AnyInterface_Succeeds failing on Fedora in CI"
Since https://github.com/dotnet/corefx/pull/9471 was merged, all Fedora runs appear to be failing in this test with this error:
[code]

[2016-06-20 03:13] stephentoub commented on #4171
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_debug/686/consoleText

[2016-06-20 03:16] stephentoub commented on #8984
Failed here (albeit with a different assert):
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/72/consoleText
[code]

[2016-06-20 03:17] stephentoub commented on #4171
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/73/consoleText

[2016-06-20 03:18] stephentoub commented on #9416
Hung again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_release/14/consoleText

[2016-06-20 05:19] sunnycase opened #9539 "Why System.Runtime.Loader isn't available on UWP?"
Load assembly at runtime is very useful for app extension purpose.
UWP apps can have the codeGeneration capability. And there is VirtualProtectFromApp function.
Why System.Runtime.Loader isn't available on UWP?

[2016-06-20 07:50] krk opened #9541 "Uri.TryCreate method throws NullReferenceException"
NullReferenceException is thrown at the line https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/src/System/Uri.cs#L2042 (_syntax is null) for the following call:

[code]

with the stack trace

[code]

https://connect.microsoft.com/VisualStudio/feedback/details/2826777/uri-trycreate-method-throws-nullreferenceexception

[2016-06-20 12:33] stephentoub opened #9543 "Test failure: Manual_CertificateSentMatchesCertificateReceived_Success"
The test as currently written fails sporadically on Windows.  If, however, `GC.Collect(); GC.WaitForPendingFinalizers();` is added inside the loop here: https://github.com/dotnet/corefx/blob/483aa5a3012fe78ea001ece1b0404b18c0b90a29/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L117
the `reuseClient==false` test fails deterministically for me with the error "

[2016-06-20 13:33] prajaybasu opened #9545 "Make KeyDerivationAlgorithm a primitive"
@bartonjs
I think this would allow for more flexibility than simply parameterizing Rfc2898DeriveBytes, UWP already has concepts of KeyDerivationAlgorithm, HashAlgorithm, MacAlgorithm, AsymmetricAlgorithm and SymmetricAlgorithm defined.

[2016-06-20 14:51] AtsushiKan commented on #9220
I’ll probably have lots of questions once I get to it (starting with questions like “What’s DispatchProxy…”) but given that it’s Milestoned for “Future” and not “1.1.0”, I wasn’t anticipating getting to it anytime soon.

If you feel it needs to be in 1.1.0, please change the Milestone.

[2016-06-20 14:52] bartonjs commented on #9545
Could you develop this point a little further? What do you think it might look like? How might you use it?

From what I've seen, in UWP it's not so much a type hierarchy as a fancy enum.

[2016-06-20 15:01] ianhays commented on #9521
related: https://github.com/dotnet/corefx/pull/8853

[2016-06-20 15:09] AtsushiKan commented on #9220
It sounds like you have a fix ready to PR – if so, don’t wait on me. Issues that sounds “Reflection-y” just tend to get auto-assigned to me.

[2016-06-20 15:41] gkhanna79 commented on #9539
@sunnycase Our current UWP story, for production scenarios, is based upon .NET Native static compilation which does not support dynamic loading of assemblies (at runtime). And that is not subject to just having support of VirtualProtectFromApp but more fundamental toolchain changes.

We intend to spend sometime thinking about this scenario in the near future and will update this thread as we form

[2016-06-20 15:50] yfakariya commented on #9220
Thank you for reply! Yes, I had a fix as you thought, so I've just sent the PR.

[2016-06-20 16:25] ericstj commented on #9418
Yeah, we do this as part of our normal versioning process.  I've done so with https://github.com/dotnet/corefx/pull/9455 and mopped up with https://github.com/dotnet/corefx/pull/9524.

[2016-06-20 16:25] #9418 closed

[2016-06-20 17:34] prajaybasu commented on #9545
- It just makes sense that if RSA : AsymmetricAlgorithm and SHA1 : HashAlgorithm, PBKDF2 (Rfc2898)  should be PBKDF2 : KeyDerivationAlgorithm.

- PBKDF2 : KeyDerivationAlgorithm, and would replace Rfc2898DeriveBytes

- One could make something like Scrypt : KeyDerivationAlgorithm instead of implementing their own PBKDF2 and KeyDerivationAlgorithm classes. (There are too many crypto libraries with

[2016-06-20 17:44] bartonjs commented on #9545
I follow the general concept; I'm just not seeing the specifics.  What members do you anticipate being on KeyDerivationAlgorithm?  What sorts of types/methods do you see consuming it?  Can someone meaningfully consume an (abstract) KeyDerivationAlgorithm without needing to cast it to a more specific type (note that AsymmetricAlgorithm mostly fails at this)?

[2016-06-20 17:58] CIPop commented on #9541
Thanks for reporting @krk!

[2016-06-20 18:42] prajaybasu commented on #9545
I am essentially suggesting a better defined DeriveBytes (also I dont think it would be a huge hit, does anything else other than Rfc2898DeriveBytes reference it ? );
As of now, we have : DK = KDF(passphrase,salt) with instantiation parameters such is iterations in the case of PBKDF2 or (N,r,p) in the case of Scrypt and a dkLen which is either fixed or passed as parameter while instantiation (alth

[2016-06-20 18:49] danmosemsft commented on #9327
Specifically, using the specific mobile corpus I have these are the subset that dominate usage. None of them appear to require that there's more than the primary app domain, so they're clearly the place to start.

[code]

[2016-06-20 19:05] stephentoub commented on #8983
Another http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2243/

But this time a core dump was saved off.  Here are the stacks:
[code]

[2016-06-20 19:23] ericstj commented on #7557
Closing this and opening an issue in core-setup: https://github.com/dotnet/core-setup/issues/189

[2016-06-20 19:23] #7557 closed

[2016-06-20 19:24] ericstj commented on #7114
We decided not to do this.  I'll use this to track cleaning up the property from projects.

[2016-06-20 19:36] sepidehMS opened #9549 "[dev/xml] Port System.Data.SqlXml into System.Xml"
This needs to be done as a part of dev/xml branch work.
Workload size: large

[2016-06-20 19:40] sepidehMS opened #9550 "[dev/xml] Port XslCompiledTransform tests"
This needs to be done as a part of dev/xml branch work.
Workload size: large

[2016-06-20 19:41] sepidehMS opened #9551 "Port System.Xml.Linq"
This needs to be done as a part of dev/xml branch work.
Workload size: medium

[2016-06-20 19:43] sepidehMS opened #9552 "Add Typeforwards for System.Xml.Linq to System.Xml.XDocument"
This needs to be done as a part of dev/xml branch work.
Workload size: small

[2016-06-20 19:44] sepidehMS opened #9553 "Add Typeforwards for System.Xml.RW to System.Xml"
This needs to be done as a part of dev/xml branch work.
 Workload size: small

[2016-06-20 19:46] sepidehMS opened #9554 "Fix previous corefx tests (disabled, XPath, XmlDocument)"
This needs to be done as a part of dev/xml branch work.
 Workload size: medium

[2016-06-20 20:59] danmosemsft commented on #9521
Matt's argument makes sense to me, as color is "just presentational". If we do this, probably getting Fore/BackgroundColor should return the value that was supposedly set, although I doubt there's much code that would notice if it didn't, because that would make it real close to a non-breaking change.

[2016-06-20 21:07] sergiy-k commented on #8983
@stephentoub, thank you! It seems that the crash happened on thread #19:

[code]
Here is the instruction that is being executed:

[code]

The rax register has an interesting value:

[code]

[2016-06-20 21:11] ianhays commented on #9521
There is some precedent for ignoring certain Console operations on platforms where they’re not relevant. The majority of those unsupported functions throw PlatformNotSupportedExceptions, but some (e.g. WriteLine) are no-ops.

I'm fine with expanding that to include *groundColor. i imagine that for a lot of cases missing out on setting the Color isn't going to be a terribly breaking change, so thro

[2016-06-20 21:20] weshaggard opened #9556 "Update new API's to netstandard1.7"
Once we have a nuget client that support NS1.7 (https://github.com/NuGet/Home/issues/2998) then we need to update a number of our contracts, particularly in the dev/api branch, to target NS1.7

[2016-06-20 22:03] Priya91 opened #9558 "HttpClientHandler_ServerCertificates_Test.NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds failing PR runs"
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/346/consoleFull

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/osx_debug_prtest/2250/consoleFull

[2016-06-20 22:18] danmosemsft opened #9559 "Compat work for Crypto"
Need to define how much we want to do here.

[2016-06-20 22:38] janvorli commented on #8983
The rax is loaded from RBX+0x58. RBX is equal to RDI at the function entry, that means the first parameter passed to the ```CoreFoundation`CFRunLoopWakeUp```
The caller is DomainBoundILStubClass.IL_STUB_PInvoke(IntPtr). Looking at its disassembly, the RDI passed to the ```CoreFoundation`CFRunLoopWakeUp``` is the first parameter passed to the stub.
It's caller is ```System.IO.FileSystemWatcher+Runn

[2016-06-20 22:39] BillHiebert commented on #8200
This looks like a compilation/dotnet core issue. I verified the generated .designer.cs file is identical to the one that is generated in a csproj resx file (where this works).
[code]

The resx file contains the following:
[code]
However, when I run the same code which just calls Resource.TestResourceRsx.TexttFile it is returns the following string:

`"Resx file content: textfile.txt;System.String,

[2016-06-20 22:40] Priya91 commented on #9558
@CIPop Can you help triage.. Thanks!

[2016-06-20 22:49] gkhanna79 commented on #8200
According to https://msdn.microsoft.com/en-us/library/system.resources.resxfileref(v=vs.110).aspx, ResXFileRef is part of WinForms and is what performs the I/O to return actual content to ResourceManager.

Is this scenario even supported given that WinForms is not supported by .NET Core? @tarekgh Thoughts?

[2016-06-20 22:50] CIPop commented on #9558
@davidsh PTAL

[2016-06-20 23:04] janvorli commented on #8983
Dumping stack objects using `sos DumpStackObjects` reveals that the `RunningInstance` object is still alive and was moved:
[code]
[code]
See the _watcherRunLoop, it still points to the block with the garbage that I've shown above.
So it looks like the issue is an issue of lifetime of the unmanaged memory referenced by the _watcherRunLoop.

[2016-06-20 23:08] davidsh commented on #9558
This error means a timeout.  Probably due to an external network communication issue with Azure.  HttpClient's default .Timeout property is 100 seconds.  So, if the HTTP request takes more than that, then HttpClient will "cancel" the request.

We have seen this before.  Unless this is happening all the time, there is nothing we can do about this other than to modify our tests to do retries, etc.

[2016-06-20 23:20] janvorli commented on #8983
My hypothesis is that OSX somehow destroys the run loop after it finishes running and if that races with the cancellation callback, the callback would try to access the already destroyed run loop.

[2016-06-20 23:21] JeremyKuhne opened #9562 "Update System.IO target version to NS1.7"
When #9556 is available we need to update System.IO.

[2016-06-20 23:22] adityamandaleeka commented on #8983
According to the docs for CFRunLoopGetCurrent:

If you receive an object from any Core Foundation function other than a creation or copy function—such as a Get function—you do not own it and cannot be certain of the object’s life span. If you want to ensure that such an object is not disposed of while you are using it, you must claim ownership (with the CFRetain function). You are then responsible

[2016-06-20 23:54] adityamandaleeka commented on #8983
Another option (instead of using CFRetain) would be to avoid storing `_watcherRunLoop` at all, and instead just calling `CFRunLoopGetCurrent` wherever we need it (of course, this returns the run loop for the calling thread so it would have to be called from the same thread to get the same run loop).

[2016-06-21 00:31] ellismg commented on #8983
re-assigning to Ian as this looks like a product issue, not a runtime issue.

[2016-06-21 00:32] ellismg commented on #8983
Thanks for the detailed analysis, @sergiy-k @janvorli and @adityamandaleeka!

[2016-06-21 01:37] gkhanna79 commented on #8200
Thanks @tarekgh.

By this, do you mean the XProj infrastructure and the way it is embedded resources in assemblies? Or something else?

[2016-06-21 12:35] drewnoakes commented on #1973
Is there more work to do on the API here, as the tag suggests? I'm happy to spend some time on this if it'd be helpful and someone can point out what's needed.

The API @ashmind proposed looks great.

Can `ISet<T>` be made to extend `IReadOnlySet<T>`? This didn't happen `IList<T>`/`IReadOnlyList<T>`?

If not, then I suppose the other changes to consider are adding `IReadOnlySet<T>` to the interfac

[2016-06-21 12:49] HaloFour commented on #1973
I have to agree with @GiottoVerducci .  Using a name like `IReadOnlySet<T>` doesn't declare the contracts capabilities, it declares the contracts limitations.  To then use that same contract combined with another that contradicts those limitations is confusing.  I believe that the contract name should describe a positive assertion pertaining to what the implementer supports.  A name like `IReadabl

[2016-06-21 12:53] drewnoakes commented on #1973
@HaloFour I agree in principle, but we have the same situation now with `IReadOnlyList<T>`. Maintaining consistency trumps the increase in precision here, IMHO.

[2016-06-21 12:58] HaloFour commented on #1973
@drewnoakes

I understand, and consistency is important.  I think that also answers why `ISet<T>` shouldn't extend `IReadOnlySet<T>`, though.

[2016-06-21 13:58] binki commented on #1973
I think you’re missing the point. That’s the reason that `IList<T>`, `ICollection<T>`, `IDictionary<TKey, TValue>` should, in addition to `ISet<T>`, also be fixed to implement read-only view interfaces. Otherwise everyone has to continue to [be confused when](http://stackoverflow.com/q/18641693/429091) [working around the unintuitive design of the BCL](http://stackoverflow.com/q/12838122/429091).

[2016-06-21 14:19] Dmitri-Botcharnikov opened #9570 "Proposal: support for local variables in SymbolReader for Portable PDB, Linux"
To support getting names of local variables from Portable PDB (see dotnet/coreclr#5809) the following method should be added to System.Diagnostics.Debug.SymbolReader (#8981):
[code]
The output parameter `localVarName` is supposed to be marshaled as BSTR to native code.
@lucenticus @mikem8361 @seanshpark @chunseoklee

[2016-06-21 14:21] HaloFour commented on #1973
@binki

I don't disagree.  What I don't like about that is having a contract that stipulates read-*only* behavior being extended by a contract that stipulates read-*write* behavior.  The naming is wrong and the composition is wrong.  But here we are.  I'd love to vote to change both, but I doubt such is on the table.

[2016-06-21 14:27] binki commented on #1973
@HaloFour

When you get an interface into something, it’s a *view* into something. The view itself *is* read-only. Assuming you wrote type-safe code and won’t go around upcasting, if you receive something that is read-only, it is, for all intents and purposes, read-only. That’s no guarantee that the data won’t change. It’s just like opening a file read-only. A file opened read-only can be mutated

[2016-06-21 14:35] drewnoakes commented on #1973
I was thinking something similar. "Read only" in .NET is a pretty weak guarantee for fields too. Given a do-over, I'm sure all this would make more sense. For now it's worth being pragmatic.

So in general, if a method accepts an `IReadOnlySomething<T>` you can, in general, assume that it won't modify it. There's no guarantee the receiving method won't upcast the reference, and there's no guarante

[2016-06-21 14:36] HaloFour commented on #1973
@binki

An interface isn't a view, it's a contract.  That contract declares the capabilities of the implementer.  If the implementer doesn't actually implement those capabilities I would consider that a contract violation.  That `List<T>` class claims that it "is-a" `IReadOnlyList<T>`, but it's not.  It lacks that capability.

There are multiple schools of thought on this subject.  I clearly belon

[2016-06-21 14:40] binki commented on #1973
Apparently it would be an ABI-breaking change when loading assemblies that were compiled against older .net frameworks. Because when implementing an interface, most compilers will automatically generate explicit interface implementations when the source code relies on implicit interface implementation, if you compiled your class implementing `IList<T>` against a BCL that doesn’t have `IList<T>` im

[2016-06-21 15:36] GSPP commented on #9423
Also, see https://github.com/dotnet/corefx/issues/5749 to add clean cancellation in the first place.

[2016-06-21 15:40] gkhanna79 commented on #8200
@tarekgh Can you please share more details on the XProj aspect?

@BillHiebert Did you try with XProj where @tarekgh confirmed this to be an issue?

[2016-06-21 16:02] iSynaptic commented on #9439
Seeing a different, but similar error message when trying to connect to a different SQL server (tcpdump capture attached).

[linux-sql-capture.zip](https://github.com/dotnet/corefx/files/326019/linux-sql-capture.zip)

`Unhandled Exception: System.Data.SqlClient.SqlException: Connection Timeout Expired.  The timeout period elapsed during the post-login phase.  The connection could have timed out wh

[2016-06-21 16:13] tarekgh commented on #8200
@gkhanna79

When compiling as csproj, I am seeing the msbuild target CoreResGen get invoked which will invoke the msbuild task "GenerateResource". this task will convert the .resx file to .resources file this include reading TextFile.txt and getting its contents and embed this content into the .resources file. and that is why is working fine with csproj.

when loading the attached xproj in VS and

[2016-06-21 16:13] weshaggard opened #9572 "new warnings caused by netstandard conversion in tests"
@karajas your recent changes introduced a ton of new build warnings that we need to fix.

[code]

[2016-06-21 16:18] stephentoub commented on #9572
Same as https://github.com/dotnet/corefx/issues/9464?

[2016-06-21 16:24] weshaggard commented on #9572
Yes sorry, I missed your issue when I scanned them quickly.

[2016-06-21 16:24] #9572 closed

[2016-06-21 16:28] gkhanna79 commented on #8200
@barrytang @BillHiebert Based upon details @tarekgh shared above, can you please look into CoreResGen task/xProj infrastructure?

[2016-06-21 16:33] saurabh500 commented on #9439
@iSynaptic The Post Login is what is failing right now. The SSL Handshake was successful.
Is this happening for both 2012 and 2008?
Can you provide the output of `select @@VERSION` ? This may be similar to https://github.com/dotnet/corefx/issues/6467 but need to sure.

[2016-06-21 16:38] BillHiebert commented on #8200
@gkhanna79 @tarekgh. This all has to work from the command line so the CoreResGen task does not come into play and is purposely not run by Xproj. dotnet build needs to handle this scenario.

[2016-06-21 16:45] gkhanna79 commented on #8200
I do not have context on build. @BillHiebert Have you chatted with @piotrpMSFT with regards to feature parity expected between CSProj build and dotnet build that you are alluding to?

[2016-06-21 17:12] mikem8361 commented on #9570
Are you going to make the change?

[2016-06-21 17:22] gkhanna79 commented on #8200
Just for context, resgen support for each language is delivered by the language compiler. For example C# work is tracked at https://github.com/dotnet/cli/issues/819.

[2016-06-21 17:38] iSynaptic commented on #9439
@saurabh500 Here is the output:

`Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Enterprise Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1)
`

[2016-06-21 18:06] stephentoub commented on #9558
@Priya91, is this still failing?  I expect, as David suggests, that it was a temporary outage of the external server we were trying to contact.

[2016-06-21 18:06] yuwaMSFT opened #9574 "Asp.net stress app crash due to memory corruption on Linux"
Saw two crashes on Linux with an Asp.net stress app after ~10 hours.

**1. Seems around invalid curlhandler**
[code]

**2. Seems about invalid handle on SSL cleanup:**
[code]

[2016-06-21 18:19] danmosemsft commented on #984
We would love to see SerialPort but don't have time to take this on right now on the Microsoft end. As Immo mentioned, this would be a great project for community to tackle.

[2016-06-21 18:23] DamianEdwards commented on #8200
Some extra background here, this was never supported in DNX or .NET Core in the previous preview releases. The RESX file designer in Visual Studio for xproj projects should **not** be allowing the addition of non-string resources (as the .NET Core `ResourceManager` APIs don't support retrieving anything but embedded strings, this is how it behaved in Silverlight & PCL class library projects). This

[2016-06-21 19:15] tarekgh commented on #8200
To clarify the case here still a string resources. when referencing the text file in the resx file, it is similar as getting the text file content as a string and use it in the resources.

[code]

note that it is saying ```System.String```

[2016-06-21 19:33] copernicus365 commented on #4870
Cool. Do you know if this will support server-push aspects of the spec? It would be nice if this (https://github.com/Redth/HttpTwo) incomplete implementation could be replaced.

[2016-06-21 19:37] DamianEdwards commented on #8200
@tarekgh yeah the consumption API is the same I see, however the behavior of extracting the text of the file and embedding that was a behavior of ResGen in .NET Framework which was never replicated for the Roslyn-based compile in DNX or .NET CLI.

[2016-06-21 19:55] KKhurin opened #9578 "System.ArgumentNullException: "SafeHandle cannot be null" on every http request"
Looks like we missed this in WCF HelloWorld perf/stress :(

There is a System.ArgumentNullException per WCF request which gets handled and the request proceeds successfully, but the exception isn't the most performant way to control the execution flow ...

I didn't dig into the details on why it happens (whether it needs a multi-threaded access to http client or not), I only have the call stack fo

[2016-06-21 20:07] ellismg commented on #9574
Do you have coredumps somewhere?

[2016-06-21 20:36] yuwaMSFT commented on #9574
Yes…shared with Stephen…

From: Matt Ellis [mailto:notifications@github.com]
Sent: Tuesday, June 21, 2016 1:08 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Yu Wang (UC) <yuwa@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/corefx] Asp.net stress app crash due to memory corruption on Linux (#9574)

Do you have coredumps somewhere?

—
You are receiving this because yo

[2016-06-21 20:41] ericeil commented on #9296
Again: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/367/testReport/junit/System.Net.WebSockets.Client.Tests/SendReceiveTest/SendReceive_PartialMessage_Success_server__wss___corefx_net_cloudapp_net_WebSocket_EchoWebSocket_ashx_/

[2016-06-21 20:46] stephentoub commented on #9296
Hmm, looks like that's from before the change I merged this morning (though that change probably wouldn't have fixed this, but rather would have changed the exception that got generated).

I expect Cristian is right, that there's some kind of networking/server issue, since we've now seen this fail in a similar place with two different client implementations.  From a test perspective, we can put a

[2016-06-21 21:03] weshaggard commented on #9521
I"m also fine with making these noop.

[2016-06-21 21:21] danmosemsft commented on #9480
Before investigating this Jeremy, let's look at usage and degree of implementation on existing platforms so we can decide on prioritization.

[2016-06-21 21:22] danmosemsft commented on #9486
@Clockwork-Muse that's specific enough to be another issue please -- this one tracks filling in System.Collections.* as far as it makes sense to.

[2016-06-21 21:23] danmosemsft commented on #9559
Jeremy, I think the work here starts with a plan -- let's chat before you start thinking about it. Who actually implements the plan would be TBD.

[2016-06-21 21:23] danmosemsft commented on #9559
/cc @bartonjs

[2016-06-21 21:40] jdom commented on #7938
Hi,
While evaluating whether we could eventually build a port of Orleans that supports CoreCLR, I've done some tests with manually creating serializers for exceptions using the `FormatterServices.GetUninitializedObject` method (via reflection), and seems to unblock us for now. Compared to just having the binary formatter, we are of course constrained with what parts of the exceptions we can serial

[2016-06-21 21:41] Clockwork-Muse opened #9581 "System.Collections.BitArray tests fail for netcore50aot"
There's a slight difference in the implementations of `System.Collections.BitArray` in mscorlib and for netcore50aot (which is in the corefx repository):  netcore50aot includes a parameter name for an exception, while mscorlib does not.

[coreclr/mscorlib](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/BitArray.cs#L390):
[code]
[corefx/netcore50aot](https://githu

[2016-06-21 21:45] danmosemsft opened #9582 "Compat work for Serialization"
Devise our plan for increasing compatibility with serialization, and break out the work.

[2016-06-21 21:47] danmosemsft commented on #9582
Also see #7938

[2016-06-21 21:47] bartonjs commented on #8712
@hsorbo Thanks.  I've been able to consistently repro this on my mac.  My current suspicion is that there's a bug in the release build of Lazy\<T\> for RC2 on OSX.  This doesn't repro on RTM (which should be releasing on Monday), nor on Linux RC2 (which has the same System.Security.Cryptography.OpenSsl.dll).

I'm going to keep poking around a bit, but I think that this is a solved problem.  Defini

[2016-06-21 21:47] Priya91 commented on #9558
@stephentoub Haven't seen them today..

[2016-06-21 21:57] danmosemsft opened #9583 "Compat work for Encoding (for Windows)"
~70 types and members on the types, among these types:

[code]

[2016-06-21 22:11] Priya91 commented on #8984
This is failing on netuserdel with 2221, which is code for user not found. Investigating..

[2016-06-21 23:01] morganbr commented on #9521
Some similar cases to UWP (such as Xamarin and I believe XNA or WPF) have made Console.WriteLine get output back to the debugger, which might dictate how other operations work (e.g. *groundColor can safely be a no-op while ReadLine should probably throw).

[2016-06-21 23:05] morganbr commented on #9482
Since partial trust is no longer supported as a security boundary, I think it's pretty important that if we bring this back, it is only stub support. That avoids the illusion of security (but there'd be even less illusion if we don't bring this back).

[2016-06-22 01:19] stephentoub commented on #9574
@bartonjs, both of these actually look like they may be SslStream issues.

I was having trouble loading symbols with the core dump so as to make meaningful progress, and @janvorli was very helpful in assisting me.  The cited thread does appear to be the source of the seg fault, but it doesn't appear to be related to a bad SafeCurlMultiHandle... the commands shown using DumpVC are actually passing

[2016-06-22 01:24] #8984 closed

[2016-06-22 06:10] hughbe commented on #9581
I'd say just add the params to coreclr - I've done it before, it's pretty easy and quick :)

[2016-06-22 06:34] chgray commented on #7204
I'm running all the latest,  2015 update 2, and RC2 and I'm also hitting the same problem. -  ideas?

[2016-06-22 07:51] Clockwork-Muse commented on #9581
@hughbe - I probably would too, I just don't know if that would be considered a company issue.
Granted, nobody should be depending on the parameter name, but still...

[2016-06-22 08:31] masaeedu commented on #4561
+1 for this. I happen to have exactly the same use case as @kgabedell, and it takes a good 30 seconds for my client to warm up. Many third party services are very large, so it is going to be difficult to use the .NET Core WCF clients in production until there is a good story for pregenerating serializers/deserializers.

[2016-06-22 09:16] Dmitri-Botcharnikov commented on #9570
@mikem8361 I've prepared PR #9571 for this change

[2016-06-22 10:17] krk opened #9596 "Uri.TryCreate creates wrong Uri"
Uri class duplicates everytrhing after the colon when scheme is unknown and there are unicode characters in the uri.

`Uri.TryCreate("scheme:Ç", System.UriKind.RelativeOrAbsolute, out url);`

creates `"scheme:ÇÇ"`,

`Uri.TryCreate("scheme:Ç/Ğ/İ?a=b", System.UriKind.RelativeOrAbsolute, out url);`

creates `"scheme:Ç/Ğ/İ?a=bÇ/Ğ/İ?a=b"`.

https://connect.microsoft.com/VisualStudio/feedback/details/28

[2016-06-22 12:43] lemmaa opened #9600 "[ARM/Linux] Fix build break: /usr/bin/objcopy: Unable to recognise the format of the input file ..."
ARM cross build on Ubuntu 14.04LTS is stop with following message.

[code]

It was caused by wrong reference of toolchain `/usr/bin/objcopy` instead `/usr/bin/arm-linux-gnueabihf-objcopy` during cross build.

[2016-06-22 14:02] davidsh commented on #9596
cc: @CIPop @stephentoub @himadrisarkar

[2016-06-22 14:36] ericstj commented on #7204
@chgray to pick up the latest packages in UWP reference the following from the .NET Core feed:
[code]
These require the latest NuGet 3.4.4, available here: https://dist.nuget.org/index.html

[2016-06-22 14:36] stephentoub commented on #9574
Courtesy of Jan, here's the full stack for the second crash:
[code]
It appears something somewhere is disposing of the SafeSslHandle while it's being used in a P/Invoke.  When the P/Invoke completes, the ref count that was incremented when the call was made is decremented, and we end up releasing the SafeSslHandle due to the pending disposal. That does the SslDestroy, at which point it seems we're

[2016-06-22 14:55] stephentoub commented on #9574
@bartonjs, the lifetime management of the SafeBioHandles with regards to the SafeSslHandle seems wrong to me.

The SafeSslHandle.Create method creates to SafeBioHandles, transfers ownership of their handles to the SafeSslHandle, and addrefs them to prevent them from being disposed of until the SafeSslHandle is released.  But this means the SafeSslHandle can be disposed of, destroying the SSL conte

[2016-06-22 15:04] bartonjs commented on #9574
Yep, sounds right to me.  But, as the person who added the SafeInteriorHandle class, I might be biased toward it always being the right answer :)

[2016-06-22 15:09] bartonjs commented on #9574
This one *does* sound a little different, because we need to change the state from Owner to SharedOwner, which I don't think we've done before.  But I agree that the current model is backwards compared to how the rest of the libcrypto/libssl interop memory management works.

[2016-06-22 15:15] stephentoub commented on #9574
Without thread aborts, we can just create them as "SharedOwner" and dispose of them in a finally if an error occurs before we've transferred ownership.

[2016-06-22 15:46] nguerrera commented on #8141
API LGTM

[2016-06-22 16:39] tijoytom opened #9604 "Consolidate S.Runtime.InteropServices net462 depproj with previous depproj"
Consolidate  S.Runtime.InteropServices net462 depproj with previous depproj
https://github.com/dotnet/corefx/pull/8607#issuecomment-227760632

[2016-06-22 16:41] tijoytom opened #9605 "Port the new UTF8 API and contract to 4.6.3 and remove APICompact exception"

[2016-06-22 17:35] weshaggard commented on #9605
[code]

Copying in the errors for future reference.

[2016-06-22 18:52] Tratcher opened #9608 "Add server-side SslStream support for SNI and multiple server certificates"
https://tools.ietf.org/html/rfc6066#section-3

This is needed for servers servicing multiple host names.
https://github.com/aspnet/KestrelHttpServer/issues/241

[2016-06-22 19:07] Jacco commented on #1199
Am working on this issue (just for learning, am a newbie on corefx). After having setup tests nearing 100% on BinHexDecoder.cs (thought that would be an easy start, I used InternalsVisibleTo) I noticed that BinHexDecoder.cs and is NOT used by the entire project. In the end there is no reference (apart from ExtensionMethods.FromBinHexString, XmlCustomFormatter.ToByteArrayHex and XmlSerializationRea

[2016-06-22 19:43] ericeil commented on #9533
Closing this, since it's already fixed post-RC2.  @lextm, feel free to reopen this issue if this doesn't work for you.

[2016-06-22 19:43] #9533 closed

[2016-06-22 19:57] weshaggard commented on #8141
@KrzysztofCwalina @terrajobst @danmosemsft

I no issues with exposing this. However given our current direction can you please extend this to include all the APIs on DebuggableAttribute and DebuggingModes.

[2016-06-22 20:46] davidsh commented on #9608
cc: @CIPop @himadrisarkar @stephentoub

[2016-06-22 20:47] davidsh commented on #9608
Basically the same as #4721 #2928

[2016-06-22 21:04] KKhurin commented on #9578
@stephentoub @SajayAntony
Confirmed, this is per every simple httpclient request:
[code]

[2016-06-22 21:06] sergiy-k opened #9611 "Failure in System.Threading.Tasks.Dataflow.Tests"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release/785/consoleText

[code]
Assigning to @stephentoub per his request.

[2016-06-22 21:07] stephentoub commented on #9578
@KKhurin, this is Windows-only, right? (From the stack, I assume so.)

[2016-06-22 21:07] stephentoub commented on #9578
cc: @davidsh, @cipop

[2016-06-23 01:17] #6889 closed

[2016-06-23 02:31] #9611 closed

[2016-06-23 02:33] #9574 closed

[2016-06-23 02:41] stephentoub commented on #9578
@davidsh, I took a quick look at this.  It's happening because CreateResponseMessage is called here:
https://github.com/dotnet/corefx/blob/cf0f5bf67212aabdfae216fac09081319c00fa18/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L865
just before SetWinHttpOption is called with state.RequestHandle to set the receive timeout:
https://github.com/dotnet/corefx/blob/cf0f5bf67212

[2016-06-23 03:18] chgray commented on #7204
Thx @ericstj  & @SidharthNabar

I installed 3.4.4 and 5.2 doesn't appear in the NuGet menu in VS2015 Update2.  is there something I need to do?  (I have the prerelease value checked)

[2016-06-23 05:23] SajayAntony commented on #9578
@stephentoub this shows up as a significant cost in the middle tier scenario (like WCF) and I expect the pattern will apply to other stacks like the storage SDK. So would be worth fixing for 1.1 at least.

[2016-06-23 10:51] tmori3y2 opened #9620 "Old reference of Framework Design Guidlines"
https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/framework-design-guidelines-digest.md#fxcop

Newer reference is here:
https://msdn.microsoft.com/en-us/library/ms229042(v=vs.110).aspx

[2016-06-23 11:31] stephentoub commented on #9578
I'm curious, do you have numbers?

I agree, but David and his team own this.

[2016-06-23 12:36] Lisaj opened #9621 "Cant instal System.Net.Security 4.0.0-rc2-24027"
Hello,
i instalig nuget System.Net.Security 4.0.0-rc2-24027 to new csproj project, but take this error:
Could not install package 'runtime.native.System 4.0.0-rc2-24027'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more inform

[2016-06-23 13:04] dsbenghe commented on #2089
We hit the same issue (e.g. trying to use a LDAP server as user store) around two months ago. We could not find any solution besides porting the Novell LDAP library (https://www.novell.com/developer/ndk/ldap_libraries_for_c_sharp.html) to .net core (https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard). There is a nuget package published. We are using the library with OpenDJ LDAP server -

[2016-06-23 13:20] stephentoub commented on #9620
Thanks. I'm not sure which old reference you're referring to, as all of the links appear to be valid and referencing the latest available page for that topic (e.g. the FxCop link is from .NET 2.0 but I've not seen a newer version of that content on MSDN).  But I've added the link you mention in https://github.com/dotnet/corefx/commit/935018d4c6089871c82d66c43482b24cafd3b58a.

[2016-06-23 13:20] #9620 closed

[2016-06-23 13:39] stephentoub opened #9623 "Code coverage broken, again, due to missing .pdbs"
The RunTests.cmd isn't copying the .pdb file for the target assembly to the execution directory.  As a result, code coverage doesn't produce any results.

For example:
[code]
Note the "No results" part.

The RunTests.cmd shows that the .dll is being copied but not the .pdb:
[code]
If I manually copy over the .pdb to the execution directory, then it works.

[2016-06-23 13:59] svick commented on #9621
Could you share your project.json and the full output of running the restore?

[2016-06-23 14:13] davidsh commented on #9578
I will fix this today.  I broke this when I fixed #8996.  Thanks for pointing out the problem. Since the exception was being caught internally, this didn't show up in normal CI testing.

[2016-06-23 14:33] Lisaj commented on #9621
I dont have project.json. It is csproj and i instal nuget.

Package manager output:

Attempting to gather dependency information for package 'System.Net.Security.4.0.0-rc2-24027' with respect to project 'WebApplication1', targeting '.NETFramework,Version=v4.6.1'
Attempting to resolve dependencies for package 'System.Net.Security.4.0.0-rc2-24027' with DependencyBehavior 'Lowest'
Resolving actions t

[2016-06-23 14:35] jchannon commented on #2089
@dsbenghe we've just got our Novell LDAP lib compiling on netstandard, ours contains paging too. This was done by @igorshmukler . Would you like to compare and collaborate? Ours is WIP here https://github.com/VQComms/CsharpLDAP/tree/coreclrPort

[2016-06-23 15:47] stephentoub commented on #9472
Again here:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2430/consoleText
[code]

[2016-06-23 16:04] terrajobst commented on #8141
Agreed with @weshaggard. Also, I bet the API is already included in our TODO.

[2016-06-23 16:38] terrajobst commented on #6550
Instead of doing a constructor I think it should be a factory method so this:

[code]

would become:

[code]

I think also adding `IsOpen` is a good thing though.

[2016-06-23 16:38] stephentoub commented on #9444
This is very likely a dup of https://github.com/dotnet/coreclr/issues/5687.  Closing this one so we have one issue tracking.

[2016-06-23 16:38] #9444 closed

[2016-06-23 16:46] bartonjs commented on #6550
@terrajobst Presumably your static Open methods take the OpenFlags value which is what's being proposed to add to the ctor? :)

[2016-06-23 17:09] kyulee1 commented on #7736
This is still failing since we haven't enabled arm64 native components yet for corefx.

[2016-06-23 17:12] kyulee1 opened #9626 "ARM64: System.Console.Tests"
[code]

[2016-06-23 17:12] kyulee1 opened #9627 "ARM64: System.Data.SqlClient.Tests"
[code]

[2016-06-23 17:12] kyulee1 opened #9628 "ARM64: System.Diagnostics.Process.Tests"
[code]

[2016-06-23 17:12] kyulee1 opened #9629 "ARM64: System.IO.Compression.ZipFile.Tests"
[code]

[2016-06-23 17:12] kyulee1 opened #9630 "ARM64: System.IO.Packaging.Tests"
[code]

[2016-06-23 17:12] kyulee1 opened #9631 "ARM64: System.Linq.Expressions.Tests"
[code]

[2016-06-23 17:12] kyulee1 opened #9632 "ARM64: System.IO.Compression.Tests"
[code]

[2016-06-23 17:13] davidsh commented on #7736
@kyulee1 @stephentoub

So, who should this issue be assigned to?  The root problem is not System.Net components but rather some native component / infrastructure.

[2016-06-23 17:13] kyulee1 commented on #7737
Some of failures are not relevant anymore. I'm closing this while creating new ones for each test.

[2016-06-23 17:13] #7737 closed

[2016-06-23 17:15] danmosemsft commented on #9376
This is not currently available in Xamarin on mobile, so it would be motivated by Desktop compat. Marking Future for now.

[2016-06-23 17:16] tarekgh commented on #9581
@Clockwork-Muse it is ok to add the parameter name in coreclr. feel free to submit a PR for it or I can take care of it in the near future. Thanks.

[2016-06-23 17:16] kyulee1 commented on #7736
Yes. I'm going to leave assignees for now. But we need to leave this open to track where we are at until we have full test automation in place.

[2016-06-23 17:16] davidsh commented on #7736
Ok. I will assign to @josh for now since this is a global issue across many components.

[2016-06-23 17:20] kyulee1 opened #9634 "ARM64: System.IO.FileSystem.Tests fail"
[code]

[2016-06-23 17:32] sepidehMS opened #9635 "[dev/xml] Merge current xml libraries on corefx into System.Xml"
Merge the source code with current corefx xml libraries and reuse as much as possible of the work done on corefx

This needs to be done as a part of dev/xml branch work.
 Workload size: large

System.Xml.ReaderWriter
System.Xml.XmlDocument
System.Xml.XPath
System.Xml.XPath.XmlDocument
System.Xml.XmlSerializer

[2016-06-23 17:34] sepidehMS opened #9636 "Add tests from current corefx xml libraries and make them build"
This needs to be done as a part of dev/xml branch work.
 Workload size: medium

[2016-06-23 17:37] sepidehMS opened #9637 "Replace current xml contracts with type forwards to System.Xml"
This needs to be done as a part of dev/xml branch work.
 Workload size: medium

[2016-06-23 17:51] shmao commented on #1199
Thanks for looking at and working on the issue, @Jacco . The code we have in NetCore were migrated from our Desktop code base. As some APIs are not in NetCore's API contract, I believe some code probably is not being used anywhere. Please feel free to experiment removing the classes/methods that you think are 'dead'.

On the other hand, your hunch was correct. `XmlSerializationWriter.FromByteArray

[2016-06-23 18:03] danmosemsft commented on #9482
We decided it's okay to have stubs because for almost all code that will run on core, they did little or nothing anyway -- Desktop and Xamarin do not enforce the boundary generally -- and we do not plan to invest more in this feature.

[2016-06-23 18:04] danmosemsft commented on #9482
This includes everything deriving from CodeAccessPermission, but not System.Security.Permissions.PrincipalPermission (which does not)

[2016-06-23 18:06] danmosemsft opened #9641 "Add System.Security.Permissions.PrincipalPermission"
We see this being used in apps. It does have effect in Desktop in the default configuration (unlike CAS). We could reasonably implement it cross platform. So we should add it.

[code]

[2016-06-23 18:11] danmosemsft commented on #9641
Not in scope: making the Attribute work. Only the imperative.

[code]

[2016-06-23 18:33] #9578 closed

[2016-06-23 18:43] danmosemsft opened #9643 "Compat work for Globalization"
Most interesting from usage point of view are:

[code]

Fuller list, including many with little usage in our corpora:

[code]

[code]

[2016-06-23 18:59] terrajobst commented on #6550
@bartonjs Yep :-)

The key point is that I don't think folks would expect that a ctor has a side effect, such as opening it.

[2016-06-23 19:40] TingluoHuang opened #9644 "HttpClient stripping Content-Length header after redirect on non-Windows systems"
Scenario:

1) Client sends PATCH to server with some content.
2) Server sends 401 response.
3) Client add a new auth-header then re-sends PATCH to server with same content sent before.

Example:

Client:
[code]

Server:
[code]

Client:
[code]

The problem only repros on Linux or OSX, windows client works fine, seems like opposite situation to #7440

[2016-06-23 19:55] stephentoub commented on #9644
What build are you using?  Have you tried using a post-RC2 build of System.Net.Http.dll?

[2016-06-23 20:05] TingluoHuang commented on #9644
This is our package: https://www.myget.org/feed/nugetvssprivate/package/nuget/vss-api-netcore
It's take dependency on 'System.Net.Http (>= 4.1.0-rc3-24125-01)'

[2016-06-23 20:22] davidsh commented on #9023
.NET Framework (Desktop) HTTP stack also allows developers to send a body with any HTTP verb including TRACE.

The server (assuming it is RFC compliant) will reject the HTTP request with "400 Bad Request".

I don't think we should change the client behavior, though.  We would be introducing a behavior change by, presumably, throwing a new exception from the .SendAsync() and associated methods.

[2016-06-23 20:34] davidsh commented on #9558
closing this for now since this is an external Azure issue that only happens occasionally

[2016-06-23 20:34] #9558 closed

[2016-06-23 20:36] davidsh commented on #9027
closing this for now since this is an external Azure issue that only happens occasionally

[2016-06-23 20:36] #9027 closed

[2016-06-23 20:37] davidsh commented on #8581
closing this for now since this is an external Azure issue that only happens occasionally

[2016-06-23 20:37] #8581 closed

[2016-06-23 20:37] mconnew commented on #4429
My preference would be to have a library which doesn't deadlock but runs a little slower when it doesn't deadlock than to have code which goes faster but occasionally deadlock. If performance is the main criteria, then a request which takes an infinite amount of time to complete causes the average request rate to approach 0 at the limit no matter how fast all the other requests go.
To be honest, I

[2016-06-23 20:37] davidsh commented on #8519
closing this for now since this is an external Azure issue that only happens occasionally

[2016-06-23 20:37] #8519 closed

[2016-06-23 20:37] davidsh commented on #8389
closing this for now since this is an external Azure issue that only happens occasionally

[2016-06-23 20:37] #8389 closed

[2016-06-23 20:42] #9342 closed

[2016-06-23 21:05] ericstj commented on #9623
This was actually a regression when @karajas and I transitioned to use pkgproj references.  I bet we already had cases where we were missing PDBs or getting the wrong PDBs before due to the haphazard nature of our project-references.  I put in a buildtools change that should help.

[2016-06-23 21:17] zhenlan commented on #7991
Potentially this can be solved by using reflection based serialization in XmlSerializer in the future.

[2016-06-23 21:24] zhenlan commented on #7912
@venkat-raman251, any updates on this item?

[2016-06-23 21:45] zhenlan commented on #1440
We can take a look of code coverage report and identify the areas that need more coverage.

[2016-06-23 22:22] weshaggard opened #9649 "System.Diagnostics.StackTrace is referencing wrong version of System.Runtime.Extensions"
With change https://github.com/dotnet/corefx/commit/85dda1441381fc311c9ad88dd288240877ca27b4 we started referencing the live version of System.Runtime.Extensions via ProjectReference which caused the binary to end up with 4.1.0.0 assembly reference to System.Runtime.Extensions. The issue with that is UWP only supports the 4.0.10.0 version of System.Runtime.Extensions at this point. We need to chan

[2016-06-23 22:25] mikeharder opened #9650 "String.Normalize() throws SEHException on Windows Server 2016 TP5"
# Repro Steps
1. Install CLI 1.0.0-preview2-003121
2. `dotnet new& dotnet restore& dotnet run`
3. Edit `Program.cs`, and change the code to `Console.WriteLine("Hello World!".Normalize());`
4. `dotnet run`

# Expected
Prints `Hello World!`

# Actual
On Windows Server 2012 R2, it works fine.  On Windows Server 2016 TP5, it fails with the following exception:

[code]

I'm not sure if this is a bug in

[2016-06-23 22:25] weshaggard commented on #9649
For anyone that hits this and doesn't need System.Diagnostics.StackTrace directly a workaround is to add the following to your dependencies in your project.json:
[code]
The error will usually manifest itself when running in debug CoreCLR scenarios only with the following error:
[code]

[2016-06-23 22:32] shmao commented on #4642
Closing the issue as we don't see much value of adding surrogate support in DataContractJsonSerializer(DCJS). And the biggest consumer of DCJS, WCF, wouldn't be able to use surrogate easily.

[2016-06-23 22:32] #4642 closed

[2016-06-23 22:34] mikem8361 commented on #9649
@ellismg @ericstj How do I specify version 4.0.10.0 of System.Runtime.Extensions in the project file? Or do we add back to the project.json?

[2016-06-23 22:35] shmao commented on #4641
There's workaround, like using XmlAttributes on types, to achieve what a surrogate can do. For now, we keep the issue in 'Future' milestone.

[2016-06-23 22:36] weshaggard commented on #9649
You should be able to add a project reference to https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/redist/System.Runtime.Extensions.depproj.

[2016-06-23 22:37] shmao commented on #8779
@prachi2607, DataContractSerializer has constructors that take DataContractSerializerSettings as parameter, and you can set DataContractResolver in the settings. For example,
[code]
  Can you see if this would work for you?

[2016-06-23 22:39] mikeharder opened #9651 "Typo in parameter names for method Interop.mincore.NormalizeString()"
There is a typo in the parameter names for method `Interop.mincore.NormalizeString()`.  The parameters use the word `destenation` instead of `destination`.

https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/Common/src/Interop/Windows/mincore/Interop.Normalization.cs#L37-L38

[2016-06-23 22:39] mellinoe opened #9652 "Consider options for supporting Socket.DontFragment on Unix sockets"
Right now, setting `Socket.DontFragment` outside of windows results in an exception being thrown. We do not have a mapping for this option in `Interop.Sys.SetSockOpt`. It would be nice for this to work, especially if we can get the same behavior as Windows.

It looks like there are a couple of options. Supposedly, there exists `IP_DONTFRAG` on some systems (https://www.ibm.com/support/knowledgecen

[2016-06-23 22:44] mellinoe commented on #9652
This is part of #9350

[2016-06-23 22:48] mellinoe commented on #9350
Right now, `Socket.DontFragment` is not supported in our Unix sockets implementation. I'm looking into getting that implemented, then we would be able to fully support `PingOptions`. I'm still curious to hear others' feelings about breaking compat in the case where the options are silently ignored.

[2016-06-23 22:51] mellinoe commented on #9543
Failed on Ubuntu here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2303/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandler_ClientCertificates_Test/Manual_CertificateSentMatchesCertificateReceived_Success_numberOfRequests__3__reuseClient__True_/

[code]

[2016-06-23 23:01] joshfree commented on #9650
@tarekgh PTAL

[2016-06-23 23:16] shmao commented on #8507
It might be nicer to refactor the code to avoid referencing concrete adapter types in ReflectionXmlFormatReader/Writer. But this seems to be the existing pattern we have for CodeGen based serialization as well. We decided that we wouldn't refactor this particular place.

[2016-06-23 23:16] #8507 closed

[2016-06-23 23:23] tarekgh commented on #9650
this is Windows bug:

[code]

[2016-06-23 23:32] tarekgh commented on #9650
I'll keep this issue open till we reach some conclusion

[2016-06-24 01:33] joshfree opened #9657 "Add support for 7z/LZMA1/LZMA2 to System.IO.Compression"
http://7-zip.org/sdk.html

[2016-06-24 02:47] andschwa opened #9658 "Hashtable not in mscorlib"
I'm thoroughly confused and don't know what I'm doing wrong here. I have a C# project that uses a `Hashtable` (and indeed, this C# project builds just fine under netstandard1.5 when it's part of another application, but I'm trying to pull it out). Here's my project.json:

[code]

My NuGet.config provides the dotnet-core MyGet feed and the NuGet feed.

The `net451` is happy to compile. But here's t

[2016-06-24 05:31] ericstj commented on #9649
The problem here is that you need the 4.0.10.0 *facade*.  I imagine we'll want to wrap the older version of S.R.E in a depproj and reference that.

[2016-06-24 06:06] mellinoe commented on #9658
How is this other project compiled? If it's compiled against `[mscorlib]Hashtable`, then I don't think this is going to work. Microsoft.NETCore.Portable.Compatibility has a "ref mscorlib" assembly which can help resolve some of these old references to mscorlib, but `Hashtable` is not one of the types that is forwarded. That would explain the `it could not be found` message. This is most likely bec

[2016-06-24 06:12] prajwal-aithal commented on #8675
@jashook @Priya91 ARM Emulator CI checks have now been enabled in the coreclr project (PRs dotnet/coreclr#5933, dotnet/coreclr#5961, dotnet/coreclr#5983).

I believe we can implement the ARM Emulator CI checks for the native part of corefx in the same manner as implemented in coreclr. This would help us prevent build regressions in the native part of corefx.

There has been a lot of learning invol

[2016-06-24 08:23] mkborg commented on #8675
@prajwal-aithal Let me propose a patch for CoreFX arm-softfp cross build with emulator's rootfs: [emulator-corefx-cross-build.patch.txt](https://github.com/dotnet/corefx/files/331427/emulator-corefx-cross-build.patch.txt) (it is similar to patch for CoreCLR: [emulator-coreclr-cross-build.patch.txt](https://github.com/dotnet/corefx/files/331429/emulator-coreclr-cross-build.patch.txt))

[2016-06-24 08:42] Dmitry-Me commented on #6550
@terrajobst However a `System.IO.FileStream` constructor opens a file and everyone's okay with that.

[2016-06-24 10:12] jtsoftware opened #9664 "Missing creation of StringComparer for other languages"
I'm trying to retarget a portable C# library for .Net core 1.0.

I used to do something like this to get a string comparer for a different language, once I obtained a CultureInfo object for the language (via a delegate set by the caller):
 IComparer comparer = (IComparer)StringComparer.Create(cultureInfo, caseInsensitive);

.Net Core currently seems to only support it for the current culture via p

[2016-06-24 11:41] stephentoub commented on #9644
Thanks, @TingluoHuang.

@TingluoHuang shared the code with me, and the issue as described is factual but there are a few key aspects missing:
1. The code isn't relying on the library to do redirects.  It's issuing discrete requests unrelated to each other as far as the library is concerned.
2. The code is issuing these requests from an intermediate HttpMessageHandler sitting between the HttpClient

[2016-06-24 14:11] stephentoub commented on #9652
This is based on the option passed in when constructing the Socket.  In Ping you're doing:
[code]
and it's that SocketType that's relevant here.  You're using Raw, which is SOCK_RAW, as opposed to using SocketType.Stream which is SOCK_STREAM, or SocketType.Dgram which is SOCK_DGRAM, etc.

[2016-06-24 14:39] niemyjski commented on #8133
Any idea on where I can get formatter services? I need this today!

[2016-06-24 14:58] AtsushiKan commented on #6550
The OpenFlags parameter makes the intention pretty clear, in my opinion. It actually feels more surprising that the existing constructors don’t open the store.

[2016-06-24 15:02] ah- commented on #8133
If you really need it you can just get it via reflection, it's just not exposed.

[2016-06-24 15:29] bartonjs commented on #9621
Walking through the daily builds feed, the net46 dependency graph gained runtime.native.System.Net.Security in rc2-23921 (and rc3-23921).

While the rc2 line never lost this dependency, it did clear out of the rc3 dependency subgraph in rc3-24018-00, and it does not appear to have been reintroduced since then.

So, there's probably no easy workaround for this; but if everything goes according to p

[2016-06-24 16:07] #9651 closed

[2016-06-24 17:41] weshaggard commented on #9649
@ericstj correct me if I'm wrong but isn't that what https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/redist/System.Runtime.Extensions.depproj is?

[2016-06-24 18:01] ericstj commented on #9649
I'd have to look at the impl to be sure.  IIRC the netcore50 facade was different than the default coreclr one.  NETCore50 had more private impls that called into winrt whereas the default coreclr one was mostly a facade.  I could be confusing aot though.

[2016-06-24 18:13] mellinoe opened #9669 "Trace uses the string DEFAULT_APPNAME unconditionally in logged messages"
This looks like a temporary workaround that was never fully resolved, and got lost in an old bug tracker.

https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Diagnostics.TraceSource/src/System/Diagnostics/TraceInternal.cs#L52

[code]

Desktop uses the code below, which may not be a good idea in today's world where the first command-line arg is often the CLR h

[2016-06-24 18:27] weshaggard commented on #9649
I'm basing my logic on https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System.Runtime.Extensions.builds#L23. We may need to set the correct TargetGroup to get the right asset for the different builds but I think that depproj should work.

[2016-06-24 18:32] weshaggard commented on #9658
@andschwa why are you doing `"imports": [ "net40" ]` for netstandard1.5? that is going to mix full .NET framework libraries with netstandard ones and is not a valid configuration. I'm not entirely sure if that is what is happening for you but I can definitely imagining that causing issue here.

[2016-06-24 18:43] stephentoub commented on #9623
Thanks, @MattGal and @ericstj.  After https://github.com/dotnet/buildtools/pull/838 this is working again.

[2016-06-24 18:43] #9623 closed

[2016-06-24 18:51] ericstj commented on #9649
Yeah, my point is that depproj doesn't get the dnxcore50 asset out.  I double checked and the netcore50 facade is the same so that might be OK.  I still think we need a better long term solution for this problem.  FYI, here was the issue I filed last year about this https://github.com/dotnet/corefx/issues/2817.

[2016-06-24 18:58] weshaggard commented on #9649
@ericstj agreed we should fix #2817.

[2016-06-24 19:09] Priya91 commented on #8675
The outerloop and innerloop are differing only in a build switch /p:OuterLoop=true, in outerloop more tests are run, and it is a nightly build, run daily once. Innerloop runs have a subset of post-checkin tests that are required to be run for every checkin. Outerloop runs are run elevated, innerloop is not.

The native build of corefx is done as a part of the build process itself, we don't have a

[2016-06-24 19:14] JunTaoLuo opened #9670 "Line number is incorrect in the stack trace of the exception thrown in middleware on x64 machines"
I have created a repro for this issue at https://github.com/JunTaoLuo/TestHost/tree/johluo/stack-trace-zip for incorrect line numbers in the stack trace of exceptions thrown.

Run the sample at `/samples/TestMiddlewareSample` with `dotnet run` after restoring packages. Then navigate to `http://localhost:5000/MiddlewareException` to trigger an exception at https://github.com/JunTaoLuo/TestHost/blob

[2016-06-24 20:19] joshfree commented on #8200
Moving this bug to the CLI repo @ https://github.com/dotnet/cli/issues/3695

[2016-06-24 20:19] #8200 closed

[2016-06-24 20:29] mconnew opened #9672 "HttpClientHandler on Linux/OSX doesn't correctly implement Digest authentication"
When making a request to a server requiring Digest authentication, the username is incorrectly specified as `realm\\username` in the challenge response. WCF has an implementation of the digest authentication algorithm in our tests which the following is from. The details of the authentication handshake that we're seeing uses the following credential information.

[code]

A request is first made to

[2016-06-24 20:46] mconnew commented on #9672
@stephentoub, @davidsh

[2016-06-24 20:53] stephentoub commented on #9672
Thanks, @mconnew. Just to clarify, what does the NetworkCredential you're providing look like?
[code]
or
[code]
or something else?

[2016-06-24 21:38] andschwa commented on #9658
The reference assembly I'm compiling against is `net4`.

[2016-06-24 21:38] andschwa commented on #9658
It *should* just be a reference assembly, but for some reason I think I'm seeing it provide a runtime package. This is probably the root of my problem.

[2016-06-24 21:39] GSPP commented on #9657
LZMA is pretty much the state of the art general purpose compression algorithm. It pushes the Pareto Frontier outwards in quite a large range.

If there is interest in adding more algorithms there would be room for a super fast one that compresses in the range 10-300MB/s. Such algorithms exist and can be found using any search engine.

[2016-06-24 21:40] stephentoub commented on #9669
Sounds reasonable.

We could play some tricks if we wanted to, e.g. using reflection to get it and invoking it if it can be found, otherwise falling back to something else.

[2016-06-24 21:41] #9644 closed

[2016-06-24 21:43] ericstj commented on #9657
I've already ported the C# impl for internal use in CLI: https://github.com/dotnet/cli/tree/rel/1.0.0/src/Microsoft.DotNet.Archive/LZMA

The work to do to pull this in is the following:
1. Better API design to follow wrapping stream design used by DeflateStream
2. Perf

For perf we could do a similar thing to what was done for ZLIB where we just pick up the native impl and add that to CLRCompressi

[2016-06-24 21:46] ericstj opened #9673 "System.IO.Compression should support *tar files"
Now that we have x-plat implementation it'd be great to be able to work with .tar & .tar.gz.

[2016-06-24 21:49] mellinoe commented on #9669
I am hoping we don't need to use any "tricks", so to speak. We should be able to ship a second binary in the nuget package (under lib/netstandard1.5) which supports the same surface area but takes more/newer dependencies. We can also ship a new version of the netstandard1.3 binary with some better fallback behavior (not sure what that is without `GetEntryAssembly`). I don't think this would be ter

[2016-06-24 21:54] weshaggard commented on #9658
The reason I think it is related to your problem is because the System.Collections.NonGeneric library that is used for netfx does have a type-forward for Hashtable but it should have a type-forward for .NET Core/.NET Standard version so I think that import might be causing the wrong version to be picked up.

[2016-06-24 22:24] danmosemsft commented on #9521
Morgan has a good point, there's already precedent for making them no-op.

[2016-06-24 22:27] Clockwork-Muse commented on #9581
@tarekgh - Oh, I can take care of it, I just wanted to make sure it wouldn't be a problem.

[2016-06-24 22:29] tarekgh commented on #9581
thanks a lot @Clockwork-Muse

[2016-06-24 22:32] tarekgh commented on #9650
talked offline to Rich Wolcott and looks it is Windows issues and not the .Net issue. I am closing this issue and I am following anyway with the mail thread.

[2016-06-24 22:32] #9650 closed

[2016-06-25 00:33] victorgu2001 commented on #9091
I no longer see this issue since 6/8/2016. Let's close this for now. I can re-activate it if I see it again.

[2016-06-25 00:33] #9091 closed

[2016-06-25 01:33] mconnew commented on #9672
It looks like the second one.

[2016-06-25 02:01] onovotny opened #9675 "NetworkInterface.GetAllNetworkInterfaces throws on UWP"
I’m using the “final” .NET Core bits off of the MyGet feed and ran into an issue trying to use System.Net.NetworkInformation.NetworkInterface.GetAllNetworkInterfaces(). The method throws on UWP with a NotImplementedException.

[code]

Why isn’t this working on UWP? The library has explicit support for netcore50 in the 4.1.0 nuget package. I would not expect arbitrary methods to simply not work. It

[2016-06-25 03:01] davidsh commented on #9675
cc: @joshfree @stephentoub @CIPop @himadrisarkar @ericstj

Those particular methods are unimplemented right now.  We plan to add the rest of the support later this year in an update to the System.Net.NetworkInformation package.

[2016-06-25 03:12] stephentoub commented on #9672
And if you change it to look like the first, it works fine?

[2016-06-25 04:02] GuardRex commented on #6024
@terrajobst Asking over in https://github.com/aspnet/Home/issues/1386 ... looks like `ServiceBase` going to Core will help get Core apps on Windows Services on Nano (current `ServiceBase` is `net451`).

This issue is marked "port-to-core" and "Future," but it's closed. Is there any status/issue for `ServiceBase` getting ported to Core?

[2016-06-25 11:51] stephentoub opened #9678 "TestUserCredentialsPropertiesOnWindows failing on Windows outer loop"
e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/79/consoleText/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/78/consoleText/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/76/consoleText/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloo

[2016-06-25 12:44] onovotny commented on #9675
Is there a document that lists out which methods are known not to be implemented per OS/platform along with plans for future support?

It'd be far more helpful to reference this in advance than during testing and discovering these things.

[2016-06-25 15:58] GSPP opened #9680 "Add a Socket.Listen() overload"
Edited by @stephentoub 3/12/2019:
Proposal:
[code]
---
[`Socket.Listen`](https://msdn.microsoft.com/en-us/library/system.net.sockets.socket.listen%28v=vs.110%29.aspx) requires an `int backlog` parameter. Please add an overload that chooses a good default value.
1. Almost nobody seems to know what's a good value to pass here. Nobody takes the time to test this.
2. So far I have never seen a practic

[2016-06-25 17:18] davidsh commented on #9680
cc: @CIPop @himadrisarkar

[2016-06-25 21:16] joshfree commented on #9675
@davidsh can you provide the full list of System.Net APIs that throw on UWP?  These need to be added to @leecow's release notes for Monday morning

[2016-06-25 21:31] onovotny commented on #9675
To be clear, my request is across all of corefx if there are other areas where this may come up.

Thanks!

[2016-06-25 23:30] Mart-Bogdan commented on #1849
@bpschoch there are one BIG problem with shared memory approach:

Anyone can connect to that shared region of RAM and mess with it's structure, what isn't possible with kernel based pipes/whatever. That's security hole :-( .

One change to your matrix:
regarding Impersonation and sockets there should be Y*3

Domain sockets support getting caller process user id/group id, thou only root can "impers

[2016-06-26 08:06] gilanghamidy commented on #8043
Hi. Just to add, I have similar case with @tmds. I am developing a component which utilizes reflection to detect the field/property type then generate binary array from a class which represent a binary message to send it via Serial port. The component is targeted for Windows IoT.

Because there are numbers of message type, rather than creating manual serializer for each message type, I automate th

[2016-06-26 13:38] danmosemsft commented on #9596
tool added tag.

[2016-06-26 16:30] danmosemsft opened #9688 "Compat work for Regex"
As far as I can tell, after commit 4d40e9e there is nothing left to do here. We have the same surface area as Desktop/Xamarin.

Please reactivate if this is not the case.

[2016-06-26 18:36] tarekgh commented on #9581
This is fixed with the linked PR. thanks @Clockwork-Muse for taking care with it.

[2016-06-26 18:36] #9581 closed

[2016-06-27 02:17] jasonwilliams200OK commented on #9673
Also .bz2 if possible (http://www.bzip.org/1.0.3/html/zlib-compat.html). :)

[2016-06-27 02:43] AcousticGuitar commented on #2576
MSFT has a habit of enticing us to adopt their "latest, greatest stuff"..  First it was WPF, then Silverlight,, MVC and now UWP.  The deeper we dove into this stuff we never found utopia, in fact we found a lot of half-baked incomplete solutions to very important things. Not to mention "Write once run anywhere".   If UWP is "Write once run anywhere" then why is it dumbed down to the lowest common

[2016-06-27 02:59] davidfowl commented on #9670
/cc @tmat

[2016-06-27 03:14] 0xfffffff7 commented on #9608
SslStream is not supported?

[2016-06-27 11:25] stephentoub commented on #8962
If in the future we support a platform that's big endian, then in support of supporting that platform we would necessarily be getting all of our tests to run on it.  And until such time, there doesn't seem to be much value in trying to set up such infrastructure, especially since we'd be attempting to run on a platform that's not supported.  I suggest we just close this for now.

[2016-06-27 11:28] stephentoub commented on #9669
Given that apps published by CLI rename the host as the app's name, seems reasonable to just use argv[0].

[2016-06-27 14:49] GSPP opened #9697 "Add Task-based async methods to Socket"
The Socket class is fully capable of async IO but `Task`-returning methods are missing. I find myself pulling in the same set of helper extensions each time I use async sockets.

Since sockets are a primary use case for async IO I'd find this API addition extremely useful.

Note, that the async methods on `NetworkStream` are not enough because we need async support for things like `Connect` as wel

[2016-06-27 15:04] GSPP opened #9698 "Add reliable timeouts to socket operations"
Socket operations do not support timeouts sufficiently in the following cases:

1. All async operations do not respect the configured timeout.
2. `Connect` cannot be made to observe a timeout.

The workarounds usually are quite nasty. For (1) people build their own (tedious and often flawed) timeouts. For (2) people often use an event plus an async IO. In case the timeout fires they close the sock

[2016-06-27 15:19] tmat commented on #9670
@mikem8361

[2016-06-27 15:29] GSPP commented on #9697
[Stephen Toub already has done some work here.] (http://blogs.msdn.com/b/pfxteam/archive/2011/12/15/10248293.aspx)

[2016-06-27 15:54] AtsushiKan opened #9699 "Remove System.Runtime\src\ApiCompatBaseline.txt DebuggerAttribute members."
Right now, these baseline entries are needed because the new members aren't present in System.Private.CoreLib, and it's logistically inefficient to address that right now.

Once we have the means to port those members to .Net Native, we can get rid of these entries.

[2016-06-27 16:07] GSPP commented on #9698
I just found out that operating systems limit the *maximum* timeout that is effectively supported. My Windows 7 uses at most 21 seconds and gives up. Web searches show that Linux has a different policy.

Therefore, the connect timeout as per this ticket is to be understood as a maximum timeout. This needs to be documented should the feature be added.

[2016-06-27 17:25] hsorbo commented on #8712
Upgraded my test-repo and dotnet to RTM. The Lazy<T> issues seems to be gone on my machine but i still get the null-exception on my machine.
[code]

[2016-06-27 17:26] ianhays commented on #9673
closing as duplicate of https://github.com/dotnet/corefx/issues/3253.

[2016-06-27 17:26] #9673 closed

[2016-06-27 17:27] ianhays commented on #3253
@ericstj @jasonwilliams200OK

[2016-06-27 18:05] jasonwilliams200OK commented on #3253
Thanks @ianhays.

From #9673:

Usually bz2 is the compressed format which contains a tarball (as bz2 only compresses one file: https://en.wikipedia.org/wiki/Bzip2). We can probably use the same API methods to support bz2 (except for some format specific settings).

This way, tarball expansion / contraction might make sense in S.I.C as part of bz2 (or even zip) compression / decompression.

[2016-06-27 18:09] niemyjski opened #9703 "Delist System.Runtime.InteropServices.PInvoke package"
Seems like this package has been removed as the source is no longer in this repo:
https://www.nuget.org/packages/System.Runtime.InteropServices.PInvoke/

[2016-06-27 18:19] mikem8361 commented on #9649
@weshaggard @ericstj is there any way one of you guys can also fix this one? Especially if it is dependent on #2817.

[2016-06-27 18:40] redknightlois opened #9704 "Add support for LZ4 to System.Compression"
As per requested in https://github.com/dotnet/corefx/issues/9657 I am adding a new one.

LZ4 is by far the fastest compression algorithm out there (at the expense of compression ratio that-is). It makes sense to have such an algorithm available on the baseline release.

We can also provide our port of our managed LZ4 implementation of the r131 (which includes acceleration) if that makes the offici

[2016-06-27 18:45] davidsh commented on #9698
cc: @CIPop @stephentoub

[2016-06-27 18:45] davidsh commented on #9697
cc: @CIPop @stephentoub

[2016-06-27 19:00] bartonjs commented on #8712
@JohnChen0 Saw an issue at RC2, it seemed to be gone in the road to RTM, but it's back with RTM... my leading suspicion is a crossgen issue; any tips on debugging it?

[2016-06-27 19:18] ianhays commented on #8924
I'm going to close this for now. We can revisit it in the future once/if we get more feedback on the API change.

[2016-06-27 19:18] #8924 closed

[2016-06-27 19:43] JohnChen0 commented on #8712
Please set environment variable `export COMPlus_ReadyToRun=0` to disable loading Ready to Run images. Then run the test again. If the issue no longer repros, it's likely to be a CrossGen issue.

[2016-06-27 19:51] Priya91 commented on #9678
This could be becuase of concurrent running of the same test in different jenkins jobs..

[2016-06-27 19:56] mconnew commented on #9672
I have no idea, I'll try it out. A couple more pieces of data. On Windows, the username is sent as just the username as expected when using the NetworkCredential constructor with the 3 parameters. Also it looks like when authenticating with a windows server using the built in digest authentication (which authenticates against a domain account), the server is tolerant of the realm\\username format.

[2016-06-27 19:57] ianhays commented on #9657
Something we should consider before we start working on adding support for Tar/Deflate/7z/LZMA/LZMA2/LZ4/BZ2/etc is how we want to design the APIs for the classes to keep them relatively similar without cluttering up Sys.IO.Compression. Options there off the top of my head:

- Our current design is to give each compression method its own class (DeflateStream/GZipStream). The most consistent option

[2016-06-27 20:03] ianhays commented on #9339
Looks like we're in the clear. Master on WCF/coreclr are using fine buildtools versions.  No new versioning issues in a while. Closing.

[2016-06-27 20:03] #9339 closed

[2016-06-27 20:04] CIPop commented on #9697
`Socket` already has support for TPL: https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/ref/System.Net.Sockets.cs#L392

[2016-06-27 20:06] ericstj commented on #9657
First option is what I was thinking.  I think we can look at higher-level simple to use archive APIs that might allow for selection of the compression algorithm for an archive where the caller doesn't necessarily need to know about the specific algo type or params but we'd also want to support fine-grained composition of these things to allow for maximum flexibility/tuning.  Also for reading APIs

[2016-06-27 20:07] mconnew commented on #9672
If I exclude the realm, it succeeds. Which makes some sense as I've now stated the credentials are domain/realm-less.

[2016-06-27 20:13] GSPP opened #9706 "Socket.SendFile leaks FileStream in case of error"
Here's a sketch of the method:

[code]
1. The `fileStream` can leak if there's an exception. Actually, I can't find the place where the stream is ever closed but this might be an oversight on my part. This is a resource leak and therefore a bug.
2. `new TransmitFileOverlappedAsyncResult(this)` can leak in case anything throws. This class has a finalizer. Probably a minor issue.
3. Another issue is

[2016-06-27 20:15] GSPP commented on #9697
Cool, that's great news! I think this issue can be closed.

Why were extension methods chosen as opposed to regular methods? This is a rare design choice.

[2016-06-27 20:20] mellinoe commented on #6598
Pre-release versions of these should now be produced with nightly builds going forward.

[2016-06-27 20:20] ianhays commented on #9657
I think this would be the most happy compromise between full functionality and ease of use. I'm picturing a bunch of algorithm-specific streams (DeflateStream/GZipStream/LZMAStream) as well as one high-level stream (CompressionStream) that has simple write/read functionality using the defaults of the chosen compression type e.g.

[code]

That would be ideal. The algorithm-specific APIs (e.g. Defla

[2016-06-27 20:45] ericstj commented on #9657
Seems reasonable so long as it doesn't hurt perf (eg: cause an additional buffer copy).  I'd say that's a separate feature, but definitely one worth looking at.

[2016-06-27 20:52] CIPop commented on #9697
Nice! Closing.

It's so that `System.Net.Sockets` is available for all platforms including .Net Desktop 4.6. The constraint we're working around is that once we release, we cannot add new APIs to the frameworks.
Adding them as extensions allowed us to include the new APIs and their implementation in the facade lib (the glue between Core and the Desktop framework) as well as have them available wit

[2016-06-27 20:52] #9697 closed

[2016-06-27 21:14] bartonjs commented on #8712
@JohnChen0 False alarm.  While it seems to only ever happen on a mac, it didn't repro under ReadyToRun=0.

Something in this test is using an RSA object across multiple threads.  Specifically, the first usage of the key is happening on 3 threads concurrently, and they're racing through the lazy initializer (which I made not lock because the callback is just "return precomputed").

MSDN describes t

[2016-06-27 21:15] mconnew commented on #9672
If you look at [this technet article](https://technet.microsoft.com/en-us/library/cc780170(v=ws.10).aspx) in the Digest Hashes section there is a not below the table which says that FlatDomainName\SamAccountName is considered a NetBiosName username. It also shows in the table that if this form is being used, it is expected that the Realm is either null or the string "Digest".

[2016-06-27 21:36] zhenlan commented on #4502
This is blocking WCF Windows authentication SPN scenario (dotnet/WCF#1252) and UPN scenario (dotnet/WCF#10).

[2016-06-27 22:09] ianhays opened #9709 "Investigate high-level CompressionStream with header detection"
## Problem

There have been a number of requests coming up lately to add new compression algorithms to System.IO.Compression. This is a great way to expand the usefulness of the library and be more friendly to other platforms that frequently use compression algorithms other than Deflate/GZip/Zip.

However, adding those algorithms will likely introduce lots of new, in-depth API that may add too muc

[2016-06-27 22:10] ianhays commented on #9657
Agreed. I opened https://github.com/dotnet/corefx/issues/9709 to track the discussion on that.

[2016-06-27 22:18] hsorbo commented on #8712
@bartonjs thanks!

[2016-06-27 22:28] #8712 closed

[2016-06-27 22:50] davidsh commented on #9706
cc: @CIPop

[2016-06-27 22:56] ianhays opened #9710 "Move UWP-AOT clrcompression build to the Open"
The AOT netcore50 clrcompression (formerly represented by win10) is currently the only one that still needs to be built in TFS. Until we can build against the API sets in the open, we'll have to continue building it internally. https://github.com/dotnet/corefx/pull/9448 is a closed PR and https://github.com/ianhays/corefx/tree/clrcompression_arm is the corresponding branch that contains the change

[2016-06-27 23:19] MattWhilden opened #9711 "MP 5.2 causes SharedLibrary opt-out"
The new metapackage seems incompatible with our ShareLibrary checks due to pulling in a newer System.Private.URI.

Repro:
*new UWP project
*update the MP to 5.2
*build

Output:
1>  This project has been automatically opted out of the 'Shared Framework' app-size optimization, because it directly or indirectly references an assembly which is incompatible with the optimization. 'C:\Users\mwhilden\.nu

[2016-06-27 23:36] weshaggard commented on #9711
That is very unfortunate and we will look at fixing this. If anyone hits this a temporary workaround would be to add the following to their dependencies in project.json:

[code]

[2016-06-28 00:20] MattWhilden commented on #9711
The workaround above has the side effect of hundreds of build warnings which may be unsavory to some. Here's another method to avoid the problem. Add this to your project to disable SharedLibrary entirely:
<UseDotNetNativeSharedAssemblyFrameworkPackage>false</UseDotNetNativeSharedAssemblyFrameworkPackage>

[2016-06-28 01:03] stephentoub commented on #9672
Thanks for the extra info.

I don't think there's anything we can do about this.  We simply pass a username and password to libcurl, along with the auth schemes we accept.  If the NetworkCredential includes a domain, then we pass "domain\username" to libcurl, and if it doesn't, we don't.  And we don't know in advance whether the auth scheme that will be chosen necessitates the domain be included,

[2016-06-28 01:23] mconnew commented on #9672
The realm is being passed in the header, do you get notified of the Realm that was included in the WWWAuthenticate header? If so, then if the Realm and domain match, you can strip off the Realm from the username. If the user account is in a different domain/realm than the server, than it's expected that the domain should be provided as part of the username, otherwise it should be just the username

[2016-06-28 01:30] mconnew commented on #9672
I'm looking at the [WinHttpAuthHelper code](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpAuthHelper.cs#L339) and it is actually setting the username that it passes to WinHTTP to domain\\username. So it looks like WinHTTP removes the domain off the front if it matches.

[2016-06-28 07:09] Ranjit-S opened #9719 "SqlException: Connection Timeout Expired. The timeout period elapsed during the post-login phase."
**dotnet 1.0.0-rc2-3002702
Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final
Ubuntu 14.04 LTS**
**Microsoft SQL Server 2008 R2 (SP1)**
10.50.2550.0 (X64)  Jun 11 2012 16:41:53  Copyright (c) Microsoft Corporation Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1)

Connection string:
Data Source=192.168.1.x;Initial Catalog=DBName;Persist Security Info=False;User ID

[2016-06-28 08:37] Yafimau opened #9722 "Getting started with .Net core link gets 404 error"
1. Go to https://github.com/dotnet/corefx/wiki
2. Click on link  "Getting started with .NET Core"
3. Browser opens location https://dotnet.github.io/core/ with 404 error

[2016-06-28 09:13] JackUkleja commented on #5766
In the same way that .NET core was essentially rebuilt from the ground up, based on the past the decade  of learning, I think the same should be done for XAML. The evolution WPF/Silverlight/WinRt-XAML has been a complete debacle. One step forward, two back (one sideways). The promise of XAML, Expression Blend etc has never come to fruition.

I heard Scott Hunter justifying no cross-platform UI in

[2016-06-28 13:04] GSPP commented on #9657
I think the enum approach suffers from non-extensibility. Wouldn't it be better to use one derived type for each algorithm? Algorithms have different parameters and sometimes different capabilities.

Proposal: Make `CompressionStream` an abstract base class that anyone including user code can derive from. That way there is a standardized infrastructure for the compression mode and leaving the stre

[2016-06-28 13:13] txdv commented on #9719
I think you might want to put the error output in a code block as well

[2016-06-28 13:36] Mike-EEE commented on #5766
That's pretty amazing to hear what you say about Scott Hunter, @JackUkleja.  Do you have source/link for that?  If what you say is true, then in addition to what you say, this shows (surprising) ignorance on several fronts:

1. This is exactly what Xamarin.Forms attempted to tackle.
2. Platform-specific (or mimicking as it were) UX/interactions/styles are a concern that can and should be addressed

[2016-06-28 14:05] sunsided commented on #9012
btw., same on mono 4.5.2.372 on Ubuntu 14.04, targeting `net452` with `1.0.0` packages from NuGet. I see it on the console logger though (`.AddConsole()`).

Is there some workaround we can use?

[2016-06-28 14:33] roterdam commented on #8712
Can someone explain why COMPlus_ReadyToRun has anything to do with this? What is the possible bug in CrossGen here? I thought it just calls the Jit Compiler and nothing else.

[2016-06-28 15:48] JohnChen0 commented on #8712
Setting `COMPlus_ReadyToRun=0` forces the runtime to ignore native code inside Ready-to-Run images, so that IL code in framework assemblies (except `System.Private.CoreLib`) are JIT compiled. If a bug repros both with or without `COMPlus_ReadyToRun=0`, then it is unlikely to be related to CrossGen. If a bug only repros without `COMPlus_ReadyToRun=0`, then there is a good chance that is related to

[2016-06-28 15:52] xanather commented on #5211
Any updates for this feature?

[2016-06-28 16:57] hughbe opened #9724 "ICollection.CopyTo argument validation is inconsistent or non-existent"
Posting now after RTM, as suggested once upon a time.

The method `ICollection.CopyTo(Array array, int index)` has a multitude of invalid inputs. Here are some examples

### `array.GetLowerBound(0) != 0`
Suggested throw type: `ArgumentException`
Problem if not checked: `IndexOutOfRangeException` (bug)
Compatability impact: minimal (lower bound is very rarely not 0)

### `array.Rank != 1`
Suggested

[2016-06-28 17:29] ericstj commented on #9657
Good point.

I don't see how `CompressionStream` really solves this.  We already have the `Stream` abstraction and all the things we're talking about controlling are on construction which isn't part of the abstraction.  The only things we might expose on the stream are getters for construction parameters but I don't know if that provides enough value to justify another type in the heirarchy.

I do

[2016-06-28 17:30] ericstj commented on #9709
I'm not sure if a derived type is the right pattern here.  Consider a factory instead.

[2016-06-28 17:32] #8381 closed

[2016-06-28 17:44] shanselman opened #9725 "Why does System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription report .NET Core 4.0.0.0?"
Why does System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription report .NET Core 4.0.0.0?

/cc @DamianEdwards

[2016-06-28 17:45] shanselman commented on #9722
Fixed

[2016-06-28 17:45] #9722 closed

[2016-06-28 18:02] ianhays commented on #9709
Agreed. Updated OP with static factory class API (though couldn't think of a good name).

Overlaps with #9237.

[2016-06-28 18:18] bartonjs commented on #9621
I've tried with the stable version of the package (System.Net.Security 4.0.0), and that worked fine; so I'm going to go ahead and close out the issue.

Thanks for reporting the problem, please let us know if any more crop up.

[2016-06-28 18:18] #9621 closed

[2016-06-28 18:37] weshaggard commented on #8981
@terrajobst @KrzysztofCwalina

Were these APIs reviewed?

[2016-06-28 18:51] mellinoe commented on #6598
@pranavkm , @javiercn

There are now packages for this on myget:

https://dotnet.myget.org/F/dotnet-core/api/v2/package/System.Composition/1.0.31-beta-24228-03

Still a beta version for now, but they are consumable.

[2016-06-28 18:54] pranavkm commented on #6598
We pick up this package transitively via Roslyn. Would you know if they plan on updating their dependency soon?

[2016-06-28 19:10] geleems commented on #4346
Fixed the issue: https://github.com/dotnet/corefx/pull/9606

[2016-06-28 19:10] #4346 closed

[2016-06-28 19:44] niemyjski opened #9728 "HttpClientHandler.ServerCertificateCustomValidationCallback blows up on OSX"
I just updated my Project to RTM and did testing on Windows and everything worked. I then went to test on OSX 10.11.5 (latest stable everything, dotnet, openssl) and ran into issues very quickly..

I'm getting `The libcurl library in use (7.43.0) and its SSL backend (\"SecureTransport\") do not support custom handling of certificates. A libcurl built with OpenSSL is required.` in stable latest eve

[2016-06-28 19:44] niemyjski commented on #9728
Possibly references:
- https://github.com/dotnet/corefx/issues/7812
- https://github.com/dotnet/wcf/issues/1295

[2016-06-28 19:48] niemyjski opened #9729 "System.Runtime.InteropServices.RuntimeInformation.OsDescription Improvements..."
The RuntimeInformation could be improved greatly and go back to the previous model that rc2 had for getting os info. I'd love to get a friendly os name and os version.. It's currently not possible (unless you want to build some kind of parser for os description user agents 👎 .

`Darwin 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64`

[2016-06-28 19:54] ejsmith commented on #9729
Yeah, this sucks. Surely there has to be a way to get a friendly name for the OS and version.

[2016-06-28 19:54] wyoung opened #9730 "F# with RC2/3 on Mac OS X 10.11 and CentOS 7: downgrade warnings on "dotnet restore", dependency failure during build"
The current binary releases downloaded from microsoft.com give errors of the following form when trying to `dotnet restore` after generating the default "Hello, World" F# app:

<pre>warn : Detected package downgrade: System.Runtime.InteropServices.PInvoke from 4.0.0-rc2-24027 to 4.0.0-rc2-23911
warn :  dotnet-compile-fsc (>= 1.0.0-preview2) -> Microsoft.FSharp.Compiler.netcore (>= 1.0.0-alpha-1603

[2016-06-28 19:55] davidsh commented on #9728
cc: @stephentoub

[2016-06-28 19:57] ericstj commented on #9730
@wyoung this is an issue with FSharp, that I believe is being fixed with https://github.com/Microsoft/visualfsharp/pull/1290.

[2016-06-28 19:57] #9730 closed

[2016-06-28 20:01] ericstj commented on #9725
/cc @weshaggard @eerhardt
Original discussion here: https://github.com/dotnet/corefx/pull/5210

[2016-06-28 20:04] stephentoub commented on #9728
Yes, to use several of the HttpClient features related to certificates, like ServerCertificateCustomValidationCallback, you need to be using a version of libcurl built against OpenSSL; the version you're using is the one that comes with macOS, built against the SecureTransport backend.  We do not have the ability to plug-in to that backend, hence we throw an exception to indicate that the callback

[2016-06-28 20:17] niemyjski commented on #9728
@stephentoub I don't think this acceptable. I couldn't make any http request because of it and I'm using the install instructions on the main website which many many others are going to use (that are on osx).  Couldn't this be swallowed or ignored if a callback is specified? Or at least a check to see if it's supported like other handler features? Any request without validation callback is better

[2016-06-28 20:17] enricosada commented on #9730
yes already fixed but not yet published.
anyway ref https://github.com/dotnet/netcorecli-fsc/issues/12 for f# and preview2.

thx @ericstj

[2016-06-28 20:22] ericstj commented on #9711
@MattWhilden that workaround turns off shared library, which is not what we want.  Wes's workaround will still permit use of shared library.

[2016-06-28 20:25] stephentoub commented on #9728
We can look to augment the instructions / release notes with related details.
cc: @leecow

I'm not understanding this part.  If you want to avoid the error, you can avoid hooking up the callback.  And if you've specified a callback, not invoking it could be a significant security hole, as we'd end up using the default validation of a security certificate rather than the validation the developer ha

[2016-06-28 20:27] niemyjski commented on #9728
Yeah, I get all of your points and agree when it comes to security.

[code]

[2016-06-28 20:31] Lisaj commented on #9621
Thank you for your work

[2016-06-28 20:35] MattWhilden commented on #9711
That's a fair point but I wasn't convinced that the addition of 324 warnings to the empty UWP was worth leaving SharedLibrary enabled. I suppose folks could choose what works best for them. It looks like it's being resolved shortly so probably not worth hashing out which is "better". :-)

[2016-06-28 20:39] thepaleone commented on #9719
I'm receiving the same error as the OP. My versions are the same. The only differences is I used an older connection string syntax, but same results. That probably has no value, but just in case I thought I'd add it.

"server=SERVERNAME;database=DBNAME;User=USERNAME;password=PASSWORD;"

[2016-06-28 20:45] Priya91 commented on #9725
The version returned is ```"{FrameworkName} {typeof(object).GetTypeInfo().Assembly.GetName().Version}"```, it's the build version of mscorlib.dll..

Initially we had the frameworkdescription just return the stack used, and then ASP.NET had a request to return some version info. There wasn't clear guidelines on what the version should be, runtime or framework or the version in the brand name. And w

[2016-06-28 21:08] danmosemsft commented on #9480
Moving out as this is barely implemented on Xamarin and has little usage. This is not the same as CAS of course.

[2016-06-28 21:44] natemcmaster opened #9735 "Assemblies in NETFramework TargetingPack do not compile on non-Windows platforms"
The targeting packs for full desktop .NET on dotnet.myget.org/F/dotnet-core do not currently work when attempting to compile on OSX or Linux.

**Repro**

[code]

`dotnet build`

[2016-06-28 21:49] mellinoe commented on #9735
I'm not sure that package is necessarily intended to be referenced outside of our uses here. We have MSBuild targets that filter the references. It was my understanding that the `dotnet` project system has a different mechanism for referencing framework libraries.

@weshaggard

[2016-06-28 21:56] natemcmaster commented on #9735
Yes, dotnet-cli [does some magic](https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.Extensions.DependencyModel/Resolution/DotNetReferenceAssembliesPathResolver.cs) to find references assemblies. For x-plat builds, this requires having Mono installed or providing the reference assemblies through [some other method](https://github.com/aspnet/KoreBuild/pull/94).

Ideally we'd like to just us

[2016-06-28 22:04] mellinoe commented on #9735
I think it sounds reasonable. @weshaggard It sounds like all we'd need to do would be to trim out non-referencable assemblies from the package.

[2016-06-28 22:26] sec commented on #1626
@jasonwilliams200OK how did you manage to compile corefx under freebsd? I'm stuck at errors about gssapi

[2016-06-28 22:46] Clockwork-Muse commented on #9724
Personally, I'm in agreement with the way the group implementing Midori handled these kinds of things; `ArgumentException` (especially index-related, and a few others) **almost always** means _programmer_, not user, error.  If a user can type in a random index, that actually needs to be validated as part of I/O, not passed down to where it's used.

[2016-06-28 22:50] weshaggard commented on #9735
As @mellinoe pointed out these packages are currently only for our build consumption and we consume them in a filtered way from our targets. We can consider doing some tweaking like you suggest to enable referencing all of them but I'm not sure that is going to get you all the way you want to be, as these are also in the lib directory instead of the ref because of other nuget issues.

I know there

[2016-06-28 23:18] dcuccia commented on #3636
Just a +1 request for System.ComponentModel.Composition. Loading types from .dll's in a folder seems to be the #1 reason to use MEF.

[2016-06-28 23:46] nguerrera commented on #8004
We also need BlobReader.ReadBytes that can read into an existing array instead of allocating a new one.

[2016-06-28 23:59] JackUkleja commented on #5766
@Mike-EEE I'm pretty sure Scott Hunter said words to that effect on this dotnet rocks episode: https://www.dotnetrocks.com/?show=1291

[2016-06-29 00:08] cartermp commented on #9735
I had spec'd this out here prior to a lot of big movements (Xamarin, project.json --> msbuild): https://github.com/dotnet/core/pull/64

I closed the proposal, but intended on opening it back up and revising once we had a stable story in place for things.  Looks like that might be now.  It's going to need a re-think, but the gist of it is:

1. Targeting packs are NuGet packages

    a. They contain

[2016-06-29 01:11] DamianEdwards commented on #9725
That looks much nicer. Couldn't we make this API implement differently in UWP vs. dotnet.exe host, whether by runtime late-binding or #ifdef, etc.

[2016-06-29 01:43] ericstj commented on #9725
I added support for that.

[2016-06-29 02:21] kiwiingenuity commented on #2949
Why are we waiting?

[2016-06-29 02:33] #9304 closed

[2016-06-29 03:34] jasonwilliams200OK commented on #1626
@sec, at the time of making these notes: https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24, GSSAPI wasn't required by CoreFX. However, it seems like the pkg is recently ported to FreeBSD: http://www.freshports.org/security/p5-GSSAPI. You may want to try `pkg upgrade pkg && pkg update && pkg install p5-GSSAPI`.

[2016-06-29 04:43] weshaggard opened #9743 "UWP 5.2 meta-package doesn't include clrcompression"
clrcompression.dll is missing from the output when updating to 5.2 UWP meta-package.

Looking at the dependencies in the System.IO.Compression nuspec:
[code]

looks like the netcore50 section is missing a dependency on "runtime.native.System.IO.Compression" and perhaps others when comparing it to netstandard1.3 which is the actual library asset we end up with for netcore50. There isn't a netcore50

[2016-06-29 04:44] weshaggard commented on #9743
As a temporary workaround someone can add the following under dependencies in project.json:
[code]

[2016-06-29 05:44] ericstj commented on #9743
This is happening because all the implementation dependencies are missing.  We create a netcore50 group because the reference assembly needs to be promoted to obscure the `win8` ref placeholder but this isn't needed for the implement assembly since that is runtime-specific and preferred over the `win8` lib placeholder.

[2016-06-29 07:32] davkean opened #9747 "Microsoft.Diagnostics.Tracing.EventSource package does not play nicely with .NET Framework 4.5 projects using project.json"
1) Create a new csproj-based project targeting .NET Framework 4.5
2) Add a project.json with:

[code]

3) Close project, reopen
4) Build

Expected: No errors or warnings
Actual:

[code]

Reason described in this PR: https://github.com/dotnet/roslyn-project-system/pull/278.

[2016-06-29 07:54] sec commented on #1626
@jasonwilliams200OK, I already got this (it's perl ext. btw.) Problem was missing gssapi_ext.h. The trick was to do "pkg install krb5" - now native compiled.
I've copied them to coreclr runtime, but still can't run ASP.NET Core app :) fight goes on then.

[2016-06-29 07:55] aakar-gupta opened #9748 "DataContractSerializer Fails to deserialize if any part contain '<' and '>'. Espically when u serialize exceptions stacktrace"
Run the Program.cs file. I have reproduced the issue in simple format. The issue happens when i serialize any exception , espically stacktrace as it contains tempelate reference i.e. containing '<' and '>'.

**Program.cs**
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace SampleNetCore
{
using System.IO;
using System.Runtime.Serialization;

[2016-06-29 08:37] Varorbc opened #9750 "ForeignKeyAttribute add cascadeDelete cascadeUpdate param"
ForeignKeyAttribute add cascadeDelete cascadeUpdate param

[2016-06-29 09:08] crozone opened #9751 "HttpContent Stream Read() and ReadAsync() consume 100% CPU on Scientific Linux 7.2"
Running 1.0.0-preview2-003121 on Scientific Linux release 7.2 (Nitrogen), which `dotnet --info` identifies as (OS Name:     rhel, OS Version:  7.2, OS Platform: Linux, RID:         rhel.7.2-x64).

In order to read from a SSE EventSource (which is basically just a HTTP GET that doesn't close immediately), my code currently:

1. Creates a `HttpClient`
2. Sets up a `HttpRequestMessage` and uses it in

[2016-06-29 09:16] crozone commented on #9751
Running `time dotnet run` gives

    real    0m21.323s
    user    0m1.063s
    sys     0m0.389s

Which is counter-intuitive since top is clearly showing the CPU core pegged at 100%.

[2016-06-29 12:20] chausner commented on #9743
Thanks! I just updated the UWP NuGet package to 5.2.0 in my project and the ZipArchive class began throwing DllNotFoundException with clrcompression.dll for Debug builds (.NET Native builds kept working fine). This workaround fixed it for Debug.

[2016-06-29 12:29] borgdylan commented on #9725
Small Note: The .NET Core version of S.R.IS.RI gets injected into the compilation even if targeting Mono/.NET due to the netstandard1.1 compatibility. This does not only report ".NETCore,Version=4.0.0.0"  as described above but it also produces incorrect output when targeting Mono, since the System.Native.so library has to be provided separately.

[2016-06-29 12:32] freerider7777 commented on #2394
We used dynamic generation (based on imported external rules) and loading of workflows as WCF services. It would be super if we could use such model in .net core!
BTW - what's the problem of importing assemblies of full .Net? if it's mostly IL code, why doesn't it run in .net core?

[2016-06-29 13:16] #9189 closed

[2016-06-29 13:26] borgdylan opened #9754 "Please support S.R.IS.RI (and System.Native.so) seperately from corefx as well"
Currently mono does not ship an API that implements ```System.Runtime.InteropServices.RuntimeInformation``` in the box. The NuGet package shipped as part of the .NET Standard Library indicates this API as being compatible with ```netstandard1.1``` which implies Mono compatibility. I have managed to compile ```libSystem.Native.so``` (System.Native.so won't work without a dll-map) for 32 and 64 bit

[2016-06-29 13:53] DaveVdE commented on #626
The whole `DateTime` type needs to be made obsolete IMHO.

[2016-06-29 13:57] davidsh commented on #9751
cc: @stephentoub

[2016-06-29 14:23] jnm2 commented on #6124
How soon until I can reference an xproj project in the same solution as a full framework csproj?
Is that going to be part of the xproj -> csproj msbuild work?

It's a big holdup. Xproj is the only option atr the moment because the core library needs muti-targeting. (ECDsaCng has been available on full framework since .NET 3.5 but isn't available until `netstandard1.4`, and the top-level GUI client

[2016-06-29 16:17] joperezr opened #9756 "mscorlib reference assembly shouldn't need to expose internal types with FriendAccessAllowed Attribute."
per @jkotas:

Today framework libraries still reference mscorlib, so our mscorlib reference assembly still needs to add type forwards for internal types to S.P.Corelib. We should figure out a plan to remove this without breaking backward compat with developing a framework library that we need to run in UWP against an older version of coreclr which doesn't contain S.P.CoreLib

Related: #9712

[2016-06-29 16:22] ericstj commented on #9754
Duplicate of https://github.com/dotnet/corefx/issues/9012

[2016-06-29 16:22] #9754 closed

[2016-06-29 16:23] ericstj commented on #9725
@borgdylan that issue is discussed here: https://github.com/dotnet/corefx/issues/9012.

[2016-06-29 16:26] Pilchie commented on #6124
Tagging @davkean and @srivatsn.

[2016-06-29 16:34] borgdylan commented on #9012
I confirm that by using a separately built System.Native, I could get the RuntimeInformation class to work on Mono on both x86 and x64 Ubuntu 16.04. It is a matter of shipping those libraries as source/binaries for the architectures that mono supports.

[2016-06-29 16:41] borgdylan commented on #9012
@ericstj The .NET CLI includes a RuntimeInformation class that detects Windows vs. *nix cases and P/Invokes straight thru to the native syscalls. I confirm that, that code cross-compiles and works fine unmodified on Linux/Mono: https://github.com/dotnet/cli/tree/rel/1.0.0/src/Microsoft.DotNet.InternalAbstractions/Native

[2016-06-29 16:44] ericstj commented on #9012
@borgdylan that's already understood.  As @ellismg mentioned we need to decide how we want to do that since mono represents itself as .NET desktop WRT to NuGet.

[2016-06-29 16:50] borgdylan commented on #9012
The way the CLI internal abstractions work would be best. That code works ok irrespective of CLR and treats operating systems directly. The alternative would be to make mono use parts of System.Native and friends as part of its codebase so that APIs new in corefx and not present in mono would just work. That would open up prospects of using mono's core parts i.e its CLR as a CoreCLR stand-in on pl

[2016-06-29 16:51] borgdylan commented on #9012
The latter case would need cooperation from the Xamarin team.

[2016-06-29 16:59] ericstj commented on #9012
Yep that's what we're thinking to do for this particular case. We'll make the desktop implementation of this contract "work" on Mono and give some meaningful results without relying on p-invokes to a native shim we cannot deploy.  I suspect we'll do some reflection lightup to detect it's mono then call some mono APIs that provide similar information.  That's what @ellismg meant by late binding.

I

[2016-06-29 17:02] borgdylan commented on #9012
@ericstj The reflection based search for ```Mono.Runtime``` where finding it means Mono and not finding it means .NET CLR has been done for years without issues. I consider this as the Litmus test for Mono.

[2016-06-29 17:22] Mohammed-El-Nabulsi opened #9757 "Console.CancelKeyPress not fireing in git bash."
I wanted to shutdown a running console application gracefully on Ctrl+C, so I went on using the `Console.CancelKeyPress` event. For some reason it does not seem to fire on git bash (everything works fine when I use the cmd though.); the following code is used:

[code]

Reproduction steps:

[code]

The WriteLines inside the handler aren't printed and the program quits abruptly on Ctrl+C.

Dotnet ve

[2016-06-29 17:22] ericstj commented on #9012
Yep, the other thing we need is an implementation of [this](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Unix.cs) for Mono, ideally without any PInvokes.  Perhaps we can translate mono's `Environment.OSVersion` if that's reliable.

[2016-06-29 17:33] piotrpMSFT commented on #2836
@joshfree @weshaggard we are starting to hit this issue while porting CLI build to MSBuild while calculating relative paths. This scenario will only become more frequent in the months to come. Do you have more information regarding when this will get fixed?

[2016-06-29 17:36] borgdylan commented on #9012
First of all due to how full framework behaves, Mono will not distinguish between Linux and Mac in the Environment APIs. Both will be reported as ```Unix```.

[2016-06-29 17:39] borgdylan commented on #9012
The OS version will be the Linux kernel version.

[2016-06-29 17:42] borgdylan commented on #9012
Therefore this cannot be done using pure Mono/.NET without P/Invokes. There is a reason why System.Native was used for CoreCLR. The only way to make this API run perfect is to have native implementation libraries on all three CLRs or to have all three CLRs ship a runtime info file or use an RID.

[2016-06-29 17:42] weshaggard commented on #2836
This isn't very high on our priority list right now, so we don't have a ETA. What part are you running into? The fact that MSBUILD::MakeRelative fails or just the lack of having this API? I would have expected this to be an issue even before the msbuild switch how are were you handling it before?

[2016-06-29 17:49] borgdylan commented on #9012
The code in: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.InternalAbstractions/Native/PlatformApis.cs solves part of the problem but requires IO and P/Invokes.

[2016-06-29 17:52] borgdylan commented on #9012
The code in: https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.InternalAbstractions/RuntimeEnvironment.cs reiterates the fact that you cannot distinguish Intel/ARM/MIPS/PowerPc. Mono supports a host of architectures and you cannot get it right without the System.Native port to all those architectures.

[2016-06-29 17:53] borgdylan commented on #9012
@ericstj Do remember that Mono means Xamarin which means MSFT. I do see a world where .NET and mono teams collaborate that have a subset of System.Native be present in Mono and be compatible with the CoreCLR version.

[2016-06-29 18:21] eerhardt commented on #2836
We ran into this issue because MSBUILD::MakeRelative fails.  If that API doesn't work on Unix, then the whole API is useless in x-plat scenarios, and anyone who wants to use it will be forced to do workarounds.

[2016-06-29 18:31] weshaggard commented on #2836
@JeremyKuhne is there any easy way to implement this in a cross-platform way without too much code or a new public API right now?

[2016-06-29 18:33] BrennanConroy commented on #2836
CLI uses this currently pending a new API https://github.com/dotnet/cli/blob/04f40f906dce2678d80fb9787e68de76ee6bf57e/src/Microsoft.DotNet.Cli.Utils/PathUtility.cs#L94

[2016-06-29 18:39] ericstj commented on #9012
@borgdylan I'm not arguing here, nor do I disagree with anything that's been said around mono support.  I am sorry if that's how this is coming off, but that's the last thing on my mind.  I want to support mono and I want to do so with minimal coupling.  I'm just stating the constraints we have and discussing possible design choices.

Shims don't solve the processor architecture problem, they just

[2016-06-29 18:40] sec commented on #6770
Any update on this? What's needed to get dotnet build from sources?

[2016-06-29 18:53] JeremyKuhne commented on #2836
I'll get something together for v.next that you can copy in the interim.

[2016-06-29 18:55] borgdylan commented on #9012
Ok. I just cannot understand how you would get the actual architecture without Mono and .NET having a way to tell that in the first place. In fact the problem arises from the fact that any CLR is there to abstract the CPU architecture from the IL code which is architecture independent. This is what the S.R.IS.RI API is for and therefore this is a chicken and egg type problem.

[2016-06-29 19:04] mellinoe commented on #9757
This doesn't repro for me. Can you use the latest tooling preview and see if it helps?

https://www.microsoft.com/net/core#windows

[2016-06-29 19:14] shaggygi commented on #984
I think the news of Samsung joining the Foundation and focusing on ARM should hopefully help in this area.  http://www.dotnetfoundation.org/blog/samsung-join-tsg

Hope to see this support added at some point.

[2016-06-29 19:35] Mohammed-El-Nabulsi commented on #9757
Thanks for the swift answer. I noticed the version I pointed out above was in fact wrong. I am using `1.0.0-preview2-003121`, which matches the version I just downloaded. I'll edit the issue accordingly. Sorry for the inconvenience.

I've digged some further into this and found out that it works on the `Git/bin/bash.exe` but does not on `Git/git-bash.exe`. Can you reproduce this?

This indicates t

[2016-06-29 19:38] ericstj commented on #9012
We could do something like we do on [Windows](https://github.com/dotnet/corefx/blob/2465a77fb43b5380607f22f62671ddd3aa7dbbdb/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.Windows.cs#L50) where we make a platform call to do it.  Just need to find the right method that isn't too distro specific.  Perhaps reading `/proc/

[2016-06-29 19:44] borgdylan commented on #9012
That only lists each CPU core and its capabilities. It makes no mention of the architecture. Calling ```uname -a``` will yield a better result.

[code]
On a Mac, LInux becomes Darwin and the architecture constant may be different. For Linux x86_64 means x64, i386 and i686 mean x86 and armv7l means ARM. I never saw the architecture constant for Aarch64.

[2016-06-29 19:46] borgdylan commented on #9012
Some docs: http://linux.die.net/man/1/uname

[2016-06-29 19:47] borgdylan commented on #9012
@JunTaoLuo The issue does not only appear when using Logging but also when using Kestrel in general if you target RTM.

[2016-06-29 19:49] Tragetaschen commented on #9012
Does uname handle / show the difference between hard-float and soft-float on ARM?

[2016-06-29 19:51] borgdylan commented on #9012
Do you know whether you have an armel or amhf install?

[2016-06-29 19:52] borgdylan commented on #9012
It should. amrv7l means hard float. Soft float may be shown as armv5.

[2016-06-29 19:56] borgdylan commented on #9012
This: https://wiki.debian.org/Multiarch/Tuples says that I am wrong on my latest comment. They will both show up as ```arm```. Since the hard/soft float issue is serious we need another command that can distinguish between them.

[2016-06-29 19:59] Tragetaschen commented on #9012
Usually you have a compiler tool chain that has built your Linux environment and that emits either hard float or soft float code. So in a .NET world: couldn't you ask the JIT compiler what it's emitting?

[2016-06-29 20:00] borgdylan commented on #9012
```uname``` shows OS i.e. Linux/Darwin and the architecture (but only distinguishes between 32 and 64 bit ARM and ignores hard float). ```lscpu``` shows just the CPU stuff and quotes teh architecture like ```uname``` does.
[code]

It is therefore not a viable candidate.

[2016-06-29 20:03] borgdylan commented on #9012
The internet gave me an answer. If you are on ARM the litmus test is to list all directories under ```/lib``` and see if you have ```arm-linux-gnueabihf``` or ```/lib/arm-linux-gnueabi``` under it.

[2016-06-29 20:06] Tragetaschen commented on #9012
I will check my platform tomorrow (a "standard" Yocto build) when I have access to the hardware

[2016-06-29 20:11] innix commented on #9757
Does it work when you prefix with `winpty`? e.g. `winpty dotnet run`

[2016-06-29 20:19] Mohammed-El-Nabulsi commented on #9757
Yes, it does work then. Nice!

[2016-06-29 20:27] jasonwilliams200OK commented on #984
@danmosemsft, is taking dependency on another native lib an option? Or do we have to provide a custom native implementation in CoreCLR PAL?

[2016-06-29 20:28] innix commented on #9757
It's a known issue with Git Bash for Windows:
https://github.com/git-for-windows/build-extra/blob/43d672f/installer/ReleaseNotes.md#known-issues

[2016-06-29 20:29] jkotas commented on #9012
@marek-safar Do you opinions on the best way to make https://github.com/dotnet/corefx/tree/master/src/System.Runtime.InteropServices.RuntimeInformation work on Mono?

[2016-06-29 20:31] Mohammed-El-Nabulsi commented on #9757
I see.  Thanks for resolving my problem! Well then I guess this issue can be closed.

[2016-06-29 20:31] #9757 closed

[2016-06-29 20:35] jasonwilliams200OK commented on #6770
@sec, if CoreCLR and CoreFX build on a platform, then its pretty much upto the dotnet team to bridge the steps till the platform package manager. The best we can do at this point is to port CoreCLR and CoreFX and make sure all the native+managed test suites (~4GB of tests) pass. This sometimes need quite a figuring out part.

After that we can just wait for packaging and [muxer](https://github.com

[2016-06-29 20:42] bartonjs commented on #8651
I've been able to successfully deploy to a phone using the RTM packages:

[code]

Since everything is happy with things from the NuGet.org feed I'm going to call this closed.  if you are still having problems, please let us know.

[2016-06-29 20:42] #8651 closed

[2016-06-29 21:27] allevyMS opened #9761 "NetworkInterface.GetAllNetworkInterfaces() on Ubuntu 14.04 unhandled exception FileNotFoundException"
I get the following exception when calling GetAllNetworkInterfaces on Ubuntu:

[code]

I’m using package: "System.Net.NetworkInformation": "4.1.0-rc3-24210-09"

This isn’t reproducible on all Ubuntu machines, since on some it works while on others it throws the above exception

Thanks,

Alon

[2016-06-29 21:29] danmosemsft commented on #984
We would rather avoid that. @stoub to comment also.

[2016-06-29 21:32] svick opened #9762 "TcpClient.Connected throws NullReferenceException on Windows when there is no Socket"
The following code throws `NullReferenceException` on .Net Core on Windows and on .Net Framework:

[code]

On Unix, it writes `False`, as expected.

This is because `Connected` on Windows [just returns `Connected` of the underlying socket](https://github.com/dotnet/corefx/blob/v1.0.0/src/System.Net.Sockets/src/System/Net/Sockets/TCPClient.Windows.cs#L25), while [on Unix it checks for `null`](https

[2016-06-29 21:34] allevyMS commented on #9761
An additional observation: the machine on which the call fails has the avahi-daemon running while the one on which it works doesn't.

[2016-06-29 21:43] ianhays commented on #984
@stephentoub

[2016-06-29 21:53] allevyMS opened #9764 "Dns.GetHostAddressesAsync Unexpected Result on Ubuntu 14.04"
running the following in Ubuntu 14.04:

Dns.GetHostAddressesAsync(Dns.GetHostName()).Result

returns:
Three entries where the AddressFamily is InterNetwork and the ip is 127.0.1.1

using the following package:     "Microsoft.NETCore.App": "1.0.0-rc3-004432-00"

Thanks,

Alon

[2016-06-29 22:05] bartonjs commented on #7870
@jacksontbryan We've come a long way since RC1.  It'd be great if you could try again with the final release build.

[2016-06-29 22:06] bartonjs commented on #6782
Since things seemed generally good at RC2, and we've now hit RTM, I'm going to close this.  If anything is still misbehaving please feel welcome to share.

[2016-06-29 22:06] #6782 closed

[2016-06-29 22:51] ryanbrandenburg opened #9766 "Need a GetResourceSet API on ResourceManager"
As we found in aspnet/Localization#257 currently there's no way to get a complete list of the resources for a specific culture from a [ResourceManager](https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/src/System/Resources/ResourceManager.cs). We need to be able to do that for Localization in [ResourceManagerStringLocalizer](https://github.com/aspnet/Localization/bl

[2016-06-29 22:59] swgillespie opened #9767 "Peek and Read do not work well together on Console.In on OSX"
Consider this program:

[code]

The expected behavior is that, when faced with two input characters such as "54", we will peek at the "5", then read the "5", and then read the "4". On Windows, this is what happens when this program is run:

[code]

On OSX, this doesn't happen:
[code]

It would appear that Peek and Read are not on the same page about the state of the input stream. No matter how may

[2016-06-29 23:22] stephentoub commented on #984
If we were to provide a custom native implementation, it would not be in the CoreCLR PAL.  The SerialString managed code would be in its own assembly, and it would depend on native code defined in one of the corefx shims, likely either System.Native.so/dylib or a new one like System.IO.SerialPort.Native.so.

It depends on a variety of factors.  Is the license on that library amenable?  Is it alrea

[2016-06-29 23:36] Abdullah2993 commented on #984
@jasonwilliams200OK  Libuv can be an option if [this](https://github.com/dotnet/corefxlab/tree/master/src/System.Net.Libuv) makes its way to corefx and [this](https://github.com/libuv/libuv/pull/484) is done by then.

[2016-06-29 23:59] Abdullah2993 opened #9768 "Support for Socks4/5 proxy in HttpClient/WebRequests"
Any chances of this happening?

[2016-06-30 00:04] davidsh commented on #9768
cc: @stephentoub @CIPop @himadrisarkar

[2016-06-30 00:04] davidsh commented on #9764
cc: @stephentoub

[2016-06-30 00:04] davidsh commented on #9762
cc: @CIPop

[2016-06-30 00:05] davidsh commented on #9761
cc: @stephentoub

[2016-06-30 00:05] Bartmax opened #9769 "UrlAttribute.IsValid too naive ?"
When looking at https://github.com/dotnet/corefx/blob/6df5eb18807fa42e27a20e41257dcd8cc83d96d9/src/System.Private.Uri/src/System/UriExt.cs

and https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/UrlAttribute.cs

I think the `UrlAttribute` is way too naive to be any useful for url validation.

[2016-06-30 01:28] #9397 closed

[2016-06-30 01:29] shmao commented on #8779
Closing the issue. Please feel free to re-open it if you have further questions.

[2016-06-30 01:29] #8779 closed

[2016-06-30 01:32] shmao commented on #5800
@sepidehMS Any updates on this? I see the milestone is being set to 1.1.0. Will System.Xml.XmlNodeReader be added in 1.1.0?

[2016-06-30 01:56] stephentoub commented on #9761
cc: @mellinoe

[2016-06-30 02:33] sichbo commented on #9142
Can confirm Unix SslStream is broken compared to Windows -- it's not sending intermediate certs even after manually importing an [AlphaSSL Intermediate CA](https://www.alphassl.com/support/install-root-certificate.html) via `dpkg-reconfigure ca-certificates`. This [DigiCert verification tool](https://www.digicert.com/help/) winds up with a "not trusted" result. Testing an endpoint running on Windo

[2016-06-30 04:11] rrelyea commented on #5766
[jack...do not think that data is correct about google and WPF architects]

[2016-06-30 04:20] JackUkleja commented on #5766
@rrelyea  That was my understanding but I may be mistaken. I could have sworn I read that some of the WPF team worked on Angular though.... Ian Ellison-Taylor among others? (Although it appears he is back at MSFT now...)

[2016-06-30 04:22] bartonjs commented on #9142
Thanks for the field report, @sichbo.  I'm glad to hear that you're trying it out; sorry to hear that it didn't work :frowning:.

@ericeil, let me know if you need any help on this.

[2016-06-30 09:44] Tragetaschen commented on #9012
@borgdylan I have checked my embedded system and there isn't any of the two mentioned folders. Might be Debian specific.

[code]

However, I do have a `/lib/ld-linux-armhf.so.3` file.

[2016-06-30 10:03] borgdylan commented on #9012
On x86 I have ```ld-linux.so.2```. I will check later on my pc which is x64 based but has x86 compat libraries as well. Looks like ARM will require different tricks to spot the architecture precisely.

[2016-06-30 10:05] borgdylan commented on #9012
On systems that have ```gcc``` installed one can use the the ```Target:``` line when invoking:
[code]

[2016-06-30 10:07] borgdylan commented on #9012
A similar line is output when running ```clang -v```. Using the clang variant may work better on macs since clang is an apple product and is used by apple;s SDKs.

[2016-06-30 11:44] jasonwilliams200OK commented on #984
@Abdullah2993: ditto https://github.com/dotnet/corefx/issues/984#issuecomment-193317146 :smile:

@stephentoub, thanks for the info. Agree that we can build on top of native libc and figure out the diffenreces which node.js guys are trying in libuv.

The other option could be this C++ library https://github.com/wjwwood/serial which has MIT license and FreeBSD, Linux, OS X and Windows ready. It enca

[2016-06-30 12:11] jasonwilliams200OK commented on #5766
The more conformance and convergence towards unified HTML CSS standards or any kind of standards in that regard (C, C++, JavaScript), the better place this world would be. Instead XAML with its unique feature, can render itself as a superset framework to HTML+CSS stack etc. or simply as an alternative front-end engine to ASPNET's Razor: https://github.com/aspnet/Razor/issues/78 :bulb:

[2016-06-30 12:23] Mike-EEE commented on #5766
@jasonwilliams200OK FWIW/FYI there is already a HTML/CSS "standard" port of .NET in [JSIL](https://github.com/sq/JSIL.git).  All of its output is 100% HTML5-compliant and runs in any modern browser.  This is the sort of thinking that we should aspire to, of course (and should have been the thinking since Silverlight's demise back in 2011, but I digress).

That is, (to your point I hope) the ideal/

[2016-06-30 12:32] stephentoub commented on #984
We would not want to do that.  We'd effectively end up shipping code we have no control over.

Nor that.  For our official binaries, we do not want to statically link, for similar reasons.

I'm not clear on what problem we're trying to solve here.  Is there a lot of code that would need to written?  Doesn't seem like it.  I suggest such discussions hold off until someone sees what's actually neces

[2016-06-30 12:50] jasonwilliams200OK commented on #5766
@Mike-EEE, in superset languages (TypeScript to JavaScript or Less to CSS), we can use the subset lang code in super-set in the same file, but not the other way around. So the concept of superset goes bit beyond how phonegap, cordova etc. function. :)

[2016-06-30 13:03] Mike-EEE commented on #5766
Haha yeah @jasonwilliams200OK I just want to make sure we don't end up making a special case for our approach/strategy with getting .NET back into the browser.  Touching CSS/JS should be viewed with the same disdain as touching binary. :stuck_out_tongue:

As an example, there is also another project [Fayde ](http://fayde.io/) that does use Xaml (yay), but is also dependent on TypeScript (boo).  Th

[2016-06-30 13:40] birbilis commented on #5766
Razor is just a template engine in my opinion. In fact at that link you mentioned it says "...that you can choose from long list of front-end templating engines to code against."

I had even heard some comment form MS against special C#-like syntaxes like Razor inside the HTML page, in favour of frameworks that use custom tags instead

[2016-06-30 13:49] birbilis commented on #5766
btw, there is also Bridge.net and other C# to Javascript compilers - http://bridge.net/ that could be combined with XAML solutions like Fayde

[2016-06-30 14:26] Tragetaschen commented on #9012
There is only a single C function required from System.Native:

https://github.com/Tragetaschen/libSystem.Native/blob/master/src/GetUnixName.c

And I have wrapped that in an autotools project.

[2016-06-30 15:05] borgdylan commented on #9012
The API returns more than that. Also it supports getting the architecture. Your solution makes things work but does not yield the expected result.

[2016-06-30 15:06] borgdylan commented on #9012
Instead I'd wrap the actual code from corefx.

[2016-06-30 15:08] krwq commented on #5800
Hello @shmao, we are currently working on bringing back all System.Xml APIs. For now if possible please simply copy the source code into your project

[2016-06-30 15:16] ianhays commented on #8610
@stephentoub any thoughts on this?

[2016-06-30 15:25] stephentoub commented on #9764
GetHostAddressesAsync is essentially just passing along the results it gets from getaddrinfo.  Here's a little C program to demonstrate:
[code]
You can try compiling this with ```gcc -o test test.c``` and then running it.  When I do ```./test localhost```, on my Ubuntu 14.04 install I get:
[code]
so you can see I'm getting three different results, one for SOCK_STREAM (1), SOCK_DGRAM (2), and SOCK_

[2016-06-30 15:34] stephentoub commented on #8610
Do all other zip implementations include a proper checksum in the generated zip files?  If not, seems like we'd be failing in valid cases.

What does Windows do when decompressing a file with an invalid checksum?

What does the zip utility do on Linux when decompressing a file with an invalid checksum?

Etc.

[2016-06-30 16:09] stephentoub commented on #9751
@crozone, I just tried this out with .NET Core on both Windows and on Ubuntu (I don't have a Scientific Linux set up handy).  I see a 100% CPU usage on both of those, but not in the call to ReadAsync.  Rather, the calls to ReadAsync are completing immediately and returning 0, indicating that the response stream has ended and there's nothing more to be read.  The spinning is coming from the while (

[2016-06-30 16:11] sichbo commented on #9142
I've been looking into this to see if I could identify some kind of interim workaround without having to figure out how to modify the entire framework etc. I'm a fish out of water when it comes to unix, but I think the openssl context might simply need a call somewhere in Interop.OpenSsl.cs through to
[SSL_CTX_add_extra_chain_cert](https://www.openssl.org/docs/manmaster/ssl/SSL_CTX_add_extra_chain

[2016-06-30 16:18] #9767 closed

[2016-06-30 16:27] Tragetaschen commented on #9012
The "code" from corefx is that same C (++) function that instead contains a preprocessor macro whose value comes from the cmake environment. As long as you try to find a solution for Mono an Linux, my code just skips all that boilerplate.

[2016-06-30 16:30] ianhays opened #9777 "Console tests don't verify actual In/Out"
The tests in System.Console for the TextReader and TextWriter returned from Console.In and Console.Out don't verify anything about the non-redirected streams. Each test first calls `SetIn` or `SetOut` on a StreamWriter/Reader wrapped around a MemoryStream. This leads to issues like #9767 where basic operations have bugs that are supposedly tested against.

For example, we have this test:
[code]
th

[2016-06-30 16:32] borgdylan commented on #9012
Corefx calls uname to get a full version string. Any implementation that is to be used in general would need to allow all of the S.R.IS.RI API to work.

[2016-06-30 16:38] borgdylan commented on #9012
@jkotas can we use the code from corefx to make a reduced version of the library while leaving copyrights and licenses as those of corefx?

[2016-06-30 16:49] borgdylan commented on #9012
I';d use the builtin gcc macros: https://sourceforge.net/p/predef/wiki/Architectures/

[2016-06-30 16:50] gkhanna79 commented on #9766
@ramarag owns this and is the right person to look into this.

[2016-06-30 17:02] tmds commented on #6770
@jasonwilliams200OK it would be nice if you could do the whole thing. E.g. crosscompile for some flavor of linux and chosing an rid for that. For example the Raspbian guys could make raspbian dotnet.

[2016-06-30 17:11] jkotas commented on #9012
@borgdylan The license describes how you can use this code.

Why you cannot use the System.Native library as is? I understand that it has more stuff in it that what you need to solve your immediate problem, but the extra footprint of this extra stuff should be negligible.

[2016-06-30 17:31] Tragetaschen commented on #9012
@jkotas
For me, the entry barrier was really, really high: the immediate problem was the requirement for a llvm/cmake toolchain that targets (my) ARM device.

cmake is required to get the necessary configuration header files (`pal_config.h`). llvm is required since gcc throws a `sorry, unimplemented: non-trivial designated initializers not supported` for constructs [like this](https://github.com/d

[2016-06-30 17:52] #8983 closed

[2016-06-30 18:07] borgdylan commented on #9012
X86 is not supported correctly by the corefx build system. I had to hack it to get a proper 32 bit library for my nuc and laptop. We need the source to compile cleanly for any architecture that mono builds for.

[2016-06-30 18:17] jkotas commented on #9012
We would be happy to take PRs in corefx to make this possible.

Again, we would happy to take PRs to make the code compilable with gcc.

This one is harder. It would require introducing parallel redundant build system that is always a problem. We can give it try to see how bad is it if it is something that is really needed to reduce barrier to entry.

[2016-06-30 18:24] svick commented on #9709
Since some of these compression formats are almost always used together with tar and since adding tar is proposed in #3253, would it make sense to also add a high-level `Archive` type (similar to `ZipArchive`), which would be able to handle at least .zip, .tar.gz and .tar.bz2?

[2016-06-30 18:26] #9678 closed

[2016-06-30 18:27] borgdylan commented on #9012
In reality a parallel system would be best as one can build a subset of System.Native directly. All w e need is ```pal_runtimeinformation.cpp``` and ```pal_runtimeinformation.h``` and a new ```lib_runtimeinfo.cpp``` to adapt the gcc/clang macros to do the defines made by cmake. This new makefile would make a different product, a S.R.IS.RI runtime not a .NET Core runtime.

[2016-06-30 18:30] borgdylan commented on #9012
Using just the files I mentioned would mean that we can get a proper clean x86 build. The current incompatibilities arise form the ```pal_io``` bits which assume that ```int64_t``` and ```__off_t``` are equal. That assumption is true on x64 but not on x86.

[2016-06-30 18:43] jkotas commented on #9012
I do not think we would want to have parallel build system that builds subsets of the library in the corefx repo.

x86 port is in our roadmap https://github.com/dotnet/core/blob/master/roadmap.md. We just have not gotten to it yet.

[2016-06-30 18:45] #9484 closed

[2016-06-30 18:56] Priya91 commented on #9729
This api implementation was designed keeping in mind that we want to see as much information as possible for debug purposes. Moreover, this is the output from the OS native call, ```uname -srv```. For a more pretty string, the user code has to parse the output of this string, following the syntax specifications of the OS.

[2016-06-30 19:01] #9521 closed

[2016-06-30 19:21] sichbo opened #9780 "TcpListener fails to re-bind under Unix for 2 minutes after Stop."
Have created a gist to reproduce the behaviour:

https://gist.github.com/sichbo/77615b5c0a6ef7f0fab367862bffb1bd

Basically what's happening is I have a console app which when re-started will always crash on second run because a socket re-bind fails with:

After about 2 minutes, the application starts normally. It's as if there's a clean-up taking place at OS level some time after the dotnet proce

[2016-06-30 19:49] ianhays commented on #8610
Yes. It is required of the format:
``` 4.1.5 Data integrity MUST be provided for each file using CRC32. ```

Just opening the zip in explorer works fine. Extraction fails.

Explorer when attempting to extract the file within the zip with the incorrect crc32:
![windowsexplorer error](https://cloud.githubusercontent.com/assets/2606879/16501777/f470e5f6-3ebf-11e6-99c6-17a419b4778f.png)

7zip:
![captu

[2016-06-30 19:53] borgdylan commented on #9012
People would like to use Asp.Net Core even where .NET Core cannot run. I would not want to be that person held off from using it to its full potential just because of this.

[2016-06-30 20:01] borgdylan commented on #9012
I would seek a solution that can be made to work ASAP rather than one that requires waiting for MSFT to finish a certain number of cycles first.

[2016-06-30 20:10] borgdylan commented on #9012
@jkotas My argument for a separate build script:
.NET Core does aim to support all the architectures that mono supports such as PowerPC and MIPS. There are people that depend on those chips who use mono. Since .NET Core will not run on those architectures, the corefx build system will never support those architectures either.

[2016-06-30 20:11] brthor commented on #2836
👍

[2016-06-30 20:15] borgdylan commented on #9012
Surely no one at MSFT would want to handle all these architectures for all of .NET Core: http://www.mono-project.com/docs/advanced/runtime/#supported-architectures

[2016-06-30 20:19] jkotas commented on #9012
I have said that we can give the alternative build system try. The System.Native library built via the alternative system should be equivalent to the one built with cmake - it should export same set of methods.

[2016-06-30 20:25] borgdylan commented on #9012
Could it have a different configuration header? Using the same methods might mean that other OOB assemblies could run on .NET Core and also Mono thru this alternatively built library.

[2016-06-30 20:25] Priya91 commented on #9076
This is checked in to desktop.

[2016-06-30 20:25] #9076 closed

[2016-06-30 20:39] #8601 closed

[2016-06-30 20:45] borgdylan commented on #9012
I will have to use a lot of ```#if defined(...)``` etc. My initial attempt will be to support Linux using g++. When I am done I will invite @Tragetaschen to try building on his ARM board. I will also submit a PR so MSFT could use the CI to make sure that the larger cmake build system does not regress.

[2016-06-30 20:45] stephentoub commented on #9068
These are failing again, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/84/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/82/
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/outerloop_osx_debug/81

[2016-06-30 20:51] jkotas commented on #9012
The preferred way to do ports is to fix the code such that it does not need ifdefs. We can discuss the right approach case by case.

[2016-06-30 21:01] borgdylan commented on #9012
I will need ifdefs to translate gcc architecture defines to the ones done by cmake.

[2016-06-30 21:04] borgdylan commented on #9012
First roadblock...g++ will not work. Switching to using clang++.

[2016-06-30 21:30] borgdylan commented on #9012
Look at: https://github.com/borgdylan/corefx/commit/dbd679a49cdd0c49979682fe29e50b000c6c4c48 This has allowed me to do a build of the whole System.Native without cmake or autotools.

[2016-06-30 21:31] borgdylan commented on #9012
I will not do any PRs until I have tested S.R.IS.RI against this build on both x64 and x86. The Makefile inside src/Native/System.Native

[2016-06-30 21:43] jkotas commented on #9012
Are even autotools barrier to entry? The hardcoded config is pretty non-portable.

[2016-06-30 22:01] borgdylan commented on #9012
They are not, but they introduce a lot of cruft. For now I attempted to support standard Linux across architectures. More can be added if the contract is expanded.

[2016-06-30 22:30] mellinoe commented on #9543
Failed on Ubuntu again:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2465/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandler_ClientCertificates_Test/Manual_CertificateSentMatchesCertificateReceived_Success_numberOfRequests__3__reuseClient__True_/

[2016-06-30 22:31] stephentoub commented on #9543
Thanks, but this is a different failure than the one highlighted.  This is a timeout, whereas the other is some kind of data corruption due to finalization.

[2016-06-30 22:32] ericstj commented on #9649
Opening to track fix in release/1.0.0

[2016-06-30 22:34] ericstj commented on #9711
Reactivating for fix in release/1.0.0

[2016-06-30 22:36] mellinoe commented on #9543
Sorry about that, you're right. Looks like both of my links are for a different root cause (and different OS).

[2016-06-30 22:37] mellinoe opened #9785 "Manual_CertificateSentMatchesCertificateReceived_Success failed on Ubuntu.14.04"
Sample error: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2465/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandler_ClientCertificates_Test/Manual_CertificateSentMatchesCertificateReceived_Success_numberOfRequests__3__reuseClient__True_/

Another: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/2303/

[2016-06-30 22:44] mellinoe commented on #9785
I searched around for a dupe but didn't see anything directly related. Feel free to close as a dupe if there is a better issue in use.

[2016-06-30 22:47] stephentoub commented on #9785
It's unfortunately a general dupe of the same "A task has been canceled" that occurs sporadically across lots of the HTTP tests and across OSes.  I've stopped opening issues for them, but we need to solve it, as it's a reliability issue for CI in general.

[2016-06-30 22:51] Tragetaschen commented on #9012
My 2 cents:

cmake is (at least for me) the much easier requirement and I won't consider it a barrier in a stand-alone project. It's well supported among distributions and meta distribution build tools (like OpenEmbedded) as is in use for several high-profile projects. For my quick fix, I chose autotools just because I used those several years ago and knew where to look.

LLVM on the other hand is

[2016-06-30 23:05] Priya91 commented on #9068
This happned because the tests were run on mac machine, that was not configured for running elevated tests. This machine was wrongly tagged with the mac-elevated jenkins label. Fixed it.

[2016-06-30 23:05] #9068 closed

[2016-06-30 23:21] stephentoub commented on #9068
Thanks, @Priya91.

[2016-07-01 00:56] JeremyKuhne commented on #6191
Here is an initial implementation if you want to take a look. I need to work out how to add a new API for System.RuntimeExtensions to finish writing the tests / create a PR. (I've tested the code in a separate assembly before integrating it here.)

https://github.com/JeremyKuhne/corefx/commit/f4dcfb31841f2c4d6a64b84df6d6f3f76c637fdb

Everything gets normalized (Path.GetFullPath(), which is already

[2016-07-01 00:58] JeremyKuhne commented on #2836
I've added a bit of code to #6191. Let's move the discussion there to settle on the API behavior.

[2016-07-01 00:58] #2836 closed

[2016-07-01 02:15] jamesqo commented on #6191
@JeremyKuhne Interesting work, thanks for sharing!

Best option would probably be to return `"."`, so if you `Combine`'d it with the first path you would get the absolute second path.

[2016-07-01 02:22] jasonwilliams200OK commented on #6770
@tmds, see https://github.com/dotnet/coreclr/issues/917. This discussion is going on at least at 5 different places. Would be nice to combine all that into one thread.

[2016-07-01 03:13] xatabhk opened #9788 "Dotnet restore fails: Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0"
Errors in C:\downloads\web\projects\ZaxiTechCore\src\ZaxiTechCore\project.json
    Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.Composition 1.0.27 supports: portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile=Profile259)
    One or more packages are incompatible with .NETCoreApp,Version=v1.0.

[2016-07-01 03:17] JeremyKuhne commented on #6191
Another assumption this makes is that the from path is a directory, not a file. We could check for that but I'm inclined not to as that (1) involves hitting the disk and/or network and (2) would be a guess anyway if the location didn't exist/wasn't reachable. I think it's better to document the behavior clearly. In all my experiences with making relative paths I never had a case where I was trying

[2016-07-01 03:58] jasonwilliams200OK commented on #6191
Since `\` is a valid file name character in Linux, the path separator handling in CreateRelativePath should be platform specific.

`CreateRelativePath("/a\\temp/test", "/a/b\\c")` =>
on Windows: `..\\..\\b\\c` (since FS can handle both \ and / in PowerShell for example)
on Unix: `../../a/b\\c`

[2016-07-01 04:29] jkotas commented on #9012
This is what I would expect as well. @borgdylan Is there a reason why cmake is a problem for you?

If cmake is fine, fixing the build for gcc and x86 should be pretty clean and non-controversial changes.

[2016-07-01 04:51] borgdylan commented on #9012
I am not a cmake expert. I would need help to be base stuff on it. As for using GCC, I could try that since I prefer it due to it being supported across all Linux environments my

[2016-07-01 05:10] borgdylan commented on #9012
The code now builds using g++ instead of clang++ https://github.com/borgdylan/corefx/commit/39e2b71961823f5d96bf3349b7798a93dea8a17e

[2016-07-01 05:12] ericstj opened #9789 "CLRCompression ARM package is not built in the open"
https://github.com/dotnet/corefx/blob/master/src/Native/pkg/runtime.native.System.IO.Compression/runtime.native.System.IO.Compression.pkgproj#L56 expects the open build to produce the ARM binary for clrcompression, but as far as I can tell, this doesn't happen.  If we plan to still ship this from TFS please update the package to use ExternalExpectedPrerelease just like the AOT build.

One making t

[2016-07-01 05:20] jkotas commented on #9012
The changes to make it build with g++ are good. Would you like to cherry pick them into a PR? (Multiple smaller PRs are easier to deal with - get through.)

[2016-07-01 05:29] borgdylan commented on #9012
I'll try once I arrive at work. It's 7:30 am here.

[2016-07-01 09:12] Ranjit-S commented on #9719
I have tested the same application with SQL server 2014 Express on Linux, works great!

[2016-07-01 09:17] fruitbatinshades commented on #692
I need the same thing. In my use case I'm changing mixed property keys in a file format where they can add unknown keys for their own meta data. I read the property key and cast to the correct enum in a try/catch and only process the known ones. Being able to tryParse with a runtime type would help me out

[2016-07-01 10:10] fruitbatinshades commented on #692
Can anyone see issues with this approach?

`		public static bool TryParseEnum(this string value, Type enumType,bool ignoreCase, out Enum enumValue)
		{
			if (Enum.IsDefined(enumType, value))
			{
				enumValue = (Enum)Enum.Parse(enumType, value, ignoreCase);
				return true;
			}
			enumValue = null;
			return false;
		}`

[2016-07-01 10:41] sec commented on #6770
@jasonwilliams200OK lets assume I have coreclr and corefx compiled, tests passed - what's the next step to build dotnet cli binary on unsupported (FreeBSD in this example) OS ? I cannot find any info anywhere - build.sh keeps downloading bianries for ubuntu etc ?

[2016-07-01 11:45] beho opened #9792 "ArgumentNullException when calling RSACertificateExtensions.GetRSAPrivateKey"
Hi,

after migrating project to .NET Core 1.0.0 I had to change

[code]
to
[code]

Unfortunately this call throws following exception:

[code]

This code is for signing requests for printing using QZ Tray (https://qz.io/wiki/2.0-signing-messages). C# example on which my code is based is provided at https://github.com/qzind/tray/blob/2.0/assets/signing/sign-message.cs.

Thanks!

[2016-07-01 12:29] yufeih commented on #692
It does not respect *ignoreCase* and is not optimal because it compares the value twice.

[2016-07-01 12:52] Mike-EEE commented on #5766
That Granular is pretty fantastic, @ethanhs.  That was one I was not aware of.  Since it has taken the same approach [CSHTML5](http://cshtml5.com/), JSIL, Bridge.net (that @birbilis mentions), it suffers from the same problem of not being able to share code between server and client through the use of PCLs, which is really the only viable way to do so these days.

And really, as great as that proj

[2016-07-01 12:54] miloush commented on #692
Worse, it does not parse flags.

[2016-07-01 13:50] stephentoub commented on #8610
So the Windows Explorer unzip prevents opening it, while the Unix unzip utility puts out a warning message but still expands it?

Seems like we shouldn't prevent such unzipping, as it would both be a breaking change and would prevent potentially valid usage, and ideally come up with a way to warn about the bad checksum while still not preventing the usage of it.  Unfortunately with the current API

[2016-07-01 14:34] ianhays commented on #9789
This is supposed to ship from Open now.

@jhendrixMSFT does the build pipeline have a windows-native entry with `/p:Platform=arm`?

[2016-07-01 14:52] ianhays commented on #8610
That is correct.

Agreed. We can't safely change the default behavior to throw on invalid checksum zips (because I'm sure it would cause a compat nightmare), and even if we could I'm not 100% convinced we would want to.

This is along the lines of what I had in mind, though I'd first want to make sure there's demand for it. It would essentially be a "verify zip" functionality and I don't recall se

[2016-07-01 15:04] bartonjs commented on #9792
@beho That's really weird.  I don't suppose you know how your certificate was generated?

It'd be great if we could get a copy of the public portion (assuming that cert.GetKeyAlgorithmParameters() on the public portion also throws) so that we can debug here and see what's going on.

[2016-07-01 15:11] Rab815 commented on #649
@shanselman What was ever the outcome of this... we are doing this a lot in our projects
`string.Equals("String1","String1", StringComparison.OrdinalIgnoreCase)`

was an extension ever entered in 4.6 or C# 6 feature set.  Or are people still creating their own extension methods or operators?

[2016-07-01 15:58] jasonwilliams200OK commented on #6770
@sec, this is the exactly kind of conversation I had and it is a complex process: https://github.com/dotnet/coreclr/issues/917. I will try it for Alpine aports and see how it goes. If/when i succeed I will write a step-by-step guide and send a PR to https://github.com/dotnet/core-docs. DIY FTW! :sunglasses:

[2016-07-01 16:01] KrzysztofCwalina commented on #649
@DmitriySokhach, you could do this:
[code]

[2016-07-01 16:30] BrennanConroy commented on #6191
@JeremyKuhne I think your assumption that the `from` path is a directory is wrong. Look at `Path.GetDirectoryName()` it strips everything after and including the last `DirectorySeparatorChar` i.e. it assumes a path without a trailing `DirectorySeparatorChar` is a File not a Directory. Since these are in the same class the behavior should be consistent.

[2016-07-01 16:31] borgdylan commented on #9012
So the PR got accepted. I will make a new branch with the standalone build based on the PR and @jkotas 's feedback on the current version.

[2016-07-01 16:31] srivatsn commented on #6124
Yes, once .NET Core projects are csproj based then you should be able to reference them from a full framework csproj. That work is being tracked by https://github.com/dotnet/roslyn-project-system/issues/282

[2016-07-01 16:48] scott-martin opened #9795 "System.Data.SqlClient.SqlException: A connection was successfully established with the server, but then an error occurred during the login process."
`System.Data.SqlClient.SqlException: A connection was successfully established with the server, but then an error occurred during the login process. (provider: TCP Provider, error: 0 - Unable to write data to the transport connection: Unknown error 10054.)
`

I'm getting this error when trying to run our .net core dockerized app against our production sql server.

`select @@VERSION`:
`Microsoft SQ

[2016-07-01 17:03] dperschonok opened #9796 "System.Net.Http.WinHttpException ("The option is invalid") in System.Net.Http when ClientCertificates are used."
I am trying to call a soap based webservice that requires client certs for authentication and the following exception occurs:

[code]

I've tried making these calls using the HttpClientHandler class directly as well as WCF client libraries, and the outcome is the same for both. Here is the code I am using the make these calls.

[code]

If there is additional information I can provide, please let m

[2016-07-01 17:16] borgdylan commented on #9012
@jkotas @Tragetaschen @ericstj The new standalone stuff will be done here: https://github.com/borgdylan/corefx/commits/sysnative_standalone2

[2016-07-01 17:44] mellinoe commented on #9788
Hey @xatabhk,

Microsoft.Composition is our old nuget package which was published before we came up with the `netstandard` and `netcoreapp` concepts. So the nuget package doesn't explicitly support those frameworks. However, the assemblies in the package are all PCL assemblies, so you can reference them without trouble. To get NuGet to allow you to install the package into your project, add an "im

[2016-07-01 17:49] sec commented on #6770
@jasonwilliams200OK Yes I've read that also :) I would like to do some hacking myself in the meantime - if you could just point me to proper repo/script to start building dotnet cli - maybe I can get it somewhere.

[2016-07-01 17:59] borgdylan commented on #9725
Please, could this API still be able to be included when using full framework and mono. Mono is currently tracking net461 i.e netstandard1.4.

[2016-07-01 18:31] danmosemsft commented on #9482
Talked to @JeremyKuhne and this needs no context, you can go ahead and just add the stubs.

[2016-07-01 18:36] JeremyKuhne commented on #6191
@jasonwilliams200OK

All of the methods I'm using are platform specific. Did you see a specific place I missed?

[2016-07-01 18:37] xatabhk commented on #9788
@mellinoe It is targeting "net452" instead of "netcoreapp1.0"; so there should no issue with the PCL assembly I think. Also only when "Microsoft.VisualStudio.Web.CodeGeneration.Tools" is referenced, I get this problem.

Here is my settings:
"frameworks": {
    "net452": {}
},

"tools": {
        "BundlerMinifier.Core": "2.1.258",
        "Microsoft.AspNetCore.Razor.Tools": "1.0.0-preview3-21486",

[2016-07-01 18:44] JeremyKuhne commented on #6191
@BrennanConroy Looking at Uri's behavior with trailing slashes I think I agree with you. What matters more to me is that we avoid hitting the disk- we'll do the equivalent of GetDirectoryName() but will not validate the actual disk contents.

[2016-07-01 18:44] jasonwilliams200OK commented on #6191
@JeremyKuhne, not that I can sport. i was just highlighting another edge case based on your previous assumption. :)

[2016-07-01 18:45] BrennanConroy commented on #6191
Hitting the disk isn't necessary, if it has a / at the end its a directory, if not its a file :)

[2016-07-01 18:50] beho commented on #9792
The process is described here – https://qz.io/wiki/generate-certificate. It claims that the certificate is generated in browser so I assume Web Cryptography API. Then I had to create pfx by running
`openssl pkcs12 -export -inkey private-key.pem -in digital-certificate.txt -out private-key.pfx` as described in QZ's C# example (https://github.com/qzind/tray/blob/2.0/assets/signing/sign-message.cs).

[2016-07-01 18:55] mellinoe commented on #9788
@piotrpMSFT , @brthor This one seems like it may be a CLI bug to me. I'm not too familiar with how tool dependencies are handled, but @ericstj posited that we might be merging tool and project dependencies badly here, resulting in this error. Possible?

[2016-07-01 19:00] sec commented on #6770
The next is to build Microsoft.NETCore.App - any lead for this? :)

[2016-07-01 19:01] JeremyKuhne opened #9798 "Create a new portable library for IO"
There are a lot of IO utility APIs that we'd like to add to .NET. While adding methods to the existing classes (say, System.IO.Path) is a big usability plus, it is a deployment headache. Example: If we add Path.CreateRelativePath() it would create a dependency on some future version of the various runtimes (say 4.6.3 for desktop) which inhibits writing portable libraries that consume this API that

[2016-07-01 19:02] mellinoe commented on #6124
We recently added [this document](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/target-dotnetcore-with-msbuild.md) which describes how you can set up cspoj's now to accomplish what you want. Keep in mind that it's fairly manual and easy to mess up right now.

[2016-07-01 19:27] jnm2 commented on #6124
@mellinoe Slightly confused- which project gets this edit? The multi-target xproj or the full framework csproj?

[2016-07-01 19:29] borgdylan commented on #9012
With my latest round of testing I can conclude that the library built by the standalone and normal build systems lead to the same behaviour of the S.R.IS.RI API under mono.

[2016-07-01 19:39] brthor commented on #9788
Each tool under the tools node has it's own dependency graph. It is independent from the project and from other tools. This is why putting the imports under the frameworks node did not work here, as that only affects the project's dependency graph.

Tools are also always restored for netcoreapp1.0 because they are expected to be portable. It looks like the library `Microsoft.Composition 1.0.27` do

[2016-07-01 19:46] mellinoe opened #9800 "CallingConvention gap in ILGenerator.EmitCalli"
Based on [this stackoverflow submission](http://stackoverflow.com/questions/38129594/emitcalli-net-core-alternative/38134706#38134706).

It seems like there is a bit of a feature gap in the current interface for `ILGenerator`. .NET Core has a `EmitCalli` method, but the calling conventions it supports do not line up exactly with the ones exposed from the .NET Framework: https://msdn.microsoft.com/

[2016-07-01 19:46] xyziemba opened #9801 "StringComparison.InvariantCulture/InvariantCultureIgnoreCase are missing from System.Runtime Reference Assembly"
InvariantCulture and InvairantCultureIgnoreCase aren't present on System.StringComparison, but appear to be implemented and used in tests. I would expect them to be present, but perhaps this is an intentional omission for some reason I don't understand?

StringComparison def: https://github.com/dotnet/corefx/blob/72f546c30e61b485546d7c5c0397b8ccc406efa4/src/System.Runtime/ref/System.Runtime.cs#L16

[2016-07-01 19:48] JeremyKuhne commented on #6191
@BrennanConroy: Yes, that's my assertion.

[2016-07-01 19:53] JeremyKuhne commented on #6191
I'm also going to propose that we add a new assembly for this and all of the other things we have pending. (#9798)  Having a new portable assembly doesn't preclude adding things to the current Path class, but it will enable us to move forward much faster and allow existing deployments to easily pick up new IO related helpers without taking dependencies on newer runtimes (possibly not even existent

[2016-07-01 19:54] JeremyKuhne commented on #9798
If we ever get static extension methods we could potentially add them in this assembly as well.

[2016-07-01 19:55] AtsushiKan commented on #9800
For future clarification:

    ILGenerator on Core is missing the overload of EmitCalli that takes a System.Runtime.InteropServices.CallingConvention enum (the unmanaged calling convention enum that includes CDecl.)

[2016-07-01 19:56] pozzzima123 opened #9802 "#System.Data.SqlClient UWP reference, FileNotFound Exception"
Hey i want to share with you my experience about system.data.sqlclient.
I created new UWP project and from myget i added reference to package.
Then i got exception while i was trying to connect to my database.
In .Net Core console project i don't have this issuse.

Debug Log:

[code]

Exception:
`"Could not load file or assembly 'System.Threading.Thread, Version=4.0.0.0, Culture=neutral, PublicKey

[2016-07-01 19:56] mellinoe commented on #6124
For a class library, use the instructions at the top of the document. The `StartAction` stuff would just be for Exe projects, so not applicable in your case. And, yes, you wouldn't be modifying your .NET framework project, except potentially to make it use project.json for dependencies.

[2016-07-01 20:11] CIPop commented on #9762
Thanks for reporting @svick!

[2016-07-01 20:14] jnm2 commented on #6124
The instructions at the top of the document don't seem to address the scenario where I need to target both `netstandard1.4` and `net45`. Need `ECDsaCng` in the class library whether I'm using it with a core app or a full framework app.  Am I wrong in thinking the class library needs to be xproj for that? In which case I can't use csproj?

[2016-07-01 20:17] xatabhk commented on #9788
@brthor Yes. This workaround works. But I have another question: what is the different between the following two?
"tools"
{
 "Microsoft.VisualStudio.Web.CodeGeneration.Tools": {
            "version": "1.0.0-*",
            "imports": [ "portable-net45+win8+wp8+wpa81" ]
}

"dependencies": {
        "Microsoft.VisualStudio.Web.CodeGenerators.Mvc": {
            "version": "1.0.0-*",
            "ty

[2016-07-01 20:39] CIPop commented on #9706
Thanks @GSPP. I believe you are referring to the .Net _Desktop_ code you've found on referencesource and not the code in CoreFX?
SendFile is not an API available through .Net Core: we recommend using `SendAsync` with `SendPacketsElement(string filepath)` instead.

I see how the `fileStream` is not disposed. I wouldn't say it's not leaking: it's going to be GCed at a later time.
The situation is ex

[2016-07-01 20:41] mellinoe commented on #6124
In your case, you would probably end up having two csproj's, one for each configuration (net452, netstandard1.4). You could share common includes in a shared build file as well, if you wanted. Technically you could combine them into one file, but it would probably quickly get messy and would require lots of manual fiddling with project configurations.

This probably isn't buying you much in your p

[2016-07-01 20:47] GSPP commented on #9706
Yes, this is Desktop code. I forgot to check CoreClr.

[2016-07-01 20:51] ericstj commented on #9788
That's the bug @brthor, the tool doesn't bring it in.  It's somehow leaking into the tool graph from the project's graph...

[2016-07-01 20:54] CIPop commented on #9706
Thanks for confirming @GSPP.

@himadrisarkar I've assigned this to you for triage/tracking of the .Net Desktop bug.

[2016-07-01 21:05] jnm2 commented on #6124
I don't mind hacking a csproj and eschewing tooling, but maintaining two project file lists is unappealing. I'll wait then until I'm able to target both netstandard1.4 and net45 in a single csproj.

[2016-07-01 21:07] GSPP commented on #9706
I pointed out the finalization issues because generally finalization is avoided. In the FileStream case the file is locked for an unspecified time which clearly must be fixed (as you said). In the other cases it's merely an inefficiency because the object will run through the finalization queue and is guaranteed to reach Gen2. My understanding is that this is unwanted but it's not a correctness is

[2016-07-01 23:08] danmosemsft opened #9805 "Restore Reflection API (.NET Native)"

[2016-07-02 00:24] danmosemsft commented on #9801
These were not included in Core because of the following reason

However, we will bring these back for compatibility with existing code.

[2016-07-02 05:50] lampuiho opened #9807 "Assigning VectorX right to VectorX left"
CopyTo allows copying of value to arrays but not another Vector of the same length.

[2016-07-02 06:13] benaadams commented on #9807
Vector is a value type so you just need to use assignment to do a copy.

e.g. `var vectorB = vectorA;`

[2016-07-02 11:42] HassanSiddique opened #9809 "Exception occur when Registraing a new User in .NetCoreApp"
### The issue

Exception occur while Registring a new user in .NetCoreApp v1.0.0-rc2-3002702
### STACK

**OverflowException: Arithmetic operation resulted in an overflow.**

System.Data.ProviderBase.DbConnectionPool.TryGetConnection(DbConnection owningObject, UInt32 waitForMultipleObjectsTimeout, Boolean allowCreate, Boolean onlyOneCheckConnection, DbConnectionOptions userOptions, DbConnectionInte

[2016-07-02 12:57] sichbo commented on #9142
This was holding me back a bit so have fixed and uploaded under #9810 -- feel free to use or not. Turned out no caching of the chain was necessary as SafeFreeSslCredentials is a one-time instantiation for the life of the TLS server.

Rock on.

[2016-07-02 13:27] Clockwork-Muse commented on #9809
...you got lines numbers and the rest of the trace?

[2016-07-02 14:06] davidsh commented on #9796
What version of Windows are you using?  Windows 7? Windows 8? Windows 10?

Please open a CMD.EXE window and type "ver" and let me know the result.  Thx.

[2016-07-02 15:05] RehanSaeed opened #9812 "Custom Console Colours"
I'm working on .NET Core support in [Colorful.Console](http://colorfulconsole.com/). I've added nestandard1.3 support but it uses interop to set custom colours in the console, so I'm now looking at how to add this support for Windows, Mac and Linux to support every platform. Currently I'm using `RuntimeInformation.IsOSPlatform` to only use interop on Windows (See code [here](https://github.com/tom

[2016-07-02 15:17] stephentoub commented on #9812
Right, the Unix implementation is for any Unix target. The WinRT one is because most of the needed functionality isn't currently exposed for UWP apps.

If you're building on the target platform, you can just build and it'll pick up the right OS. If you're building on Windows,  you can cd into src\System.Console\src and do msbuild /p:OSGroup=Linux to build for Linux or substitute OSX for Linux to b

[2016-07-02 16:28] bartonjs commented on #9142
Hm, I think I meant #9131.  That looks much more relevant

[2016-07-02 17:19] HassanSiddique commented on #9809
1. `
2. OverflowException: Arithmetic operation resulted in an overflow.
3.
4.     System.Data.ProviderBase.DbConnectionPool.TryGetConnection(DbConnection owningObject, UInt32 waitForMultipleObjectsTimeout, Boolean allowCreate, Boolean onlyOneCheckConnection, DbConnectionOptions userOptions, DbConnectionInternal& connection)
5.     System.Data.ProviderBase.DbConnectionPool.TryGetConnection(DbConne

[2016-07-02 17:53] JeremyKuhne commented on #9798
This is just an idea to stimulate discussion around facilitating forward progress. Other alternatives are welcome, say a sandbox or sample repo for example.

[2016-07-02 18:01] JeremyKuhne commented on #6191
@BrennanConroy Now that I've looked at the behavior a bit more I'm leaning back towards treating the incoming path as a directory. Here's why:

When you get something like `C:\a` to `C:\a\b` you wouldn't want to get back `a\b`. If you then pass in `C:\a` and `C:\b`, getting back `b` would cause differing behavior when you call `Path.Combine()`.

For the record I dislike the name for `GetDirectoryN

[2016-07-02 18:19] dperschonok commented on #9796
Windows 7. Microsoft Windows [Version 6.1.7601]

Would you like me to try it from another version of Windows if I can?

[2016-07-02 22:38] bartonjs commented on #9792
Hm.  That Public Key block looks normal to me.  I don't suppose you have the full certificate? (-----BEGIN CERTIFICATE-----).

@AtsushiKan can you take a look at this one?  I'm sure we can guard it with a defensive nullcheck somewhere; but I'd sort of like to understand what's happening.  (Of course, it's also non-intuitive that we're calling get_PublicKey in GetPrivateKey, but I'm sure we have a

[2016-07-03 00:06] sichbo commented on #9780
Attempting to look into why this is happening this evening, I'm having some trouble even convincing a tester project to reference a custom build of System.Net.Sockets.dll. Yesterday I was able to eventually get a different dll (System.Net.Security) to compile against a project, with much thanks to mellinoe's https://github.com/mellinoe/coretemplate -- simply doing a bog standard "Add reference" >

[2016-07-03 00:07] davidsh commented on #9796
One thing I noticed about your code:

[code]

This code implies that the client certificate contains only the public key portion.  You must only use a client certificate that also includes the private key.  Usually that is only in a PFX type of file. So, you will get an error from trying to use this certificate since it is missing the private key.

I don't think you should be getting "Option is in

[2016-07-03 00:07] davidsh commented on #9796
cc: @stephentoub

[2016-07-03 00:47] Clockwork-Muse commented on #9809
When I asked for line numbers, I meant from source code, but it's understandable if you don't have pdbs on a server.

I'm not [seeing anything immediately interesting].

One level up (in the other [TryGetConnection](https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L696)) there's this:

could we

[2016-07-03 02:38] onovotny opened #9817 "Project with .NET Standard won't compile on Xamarin.iOS - missing type in facade"
When trying to compile the ZeroconfTest.Xam.iOS test project from here:
https://github.com/onovotny/Zeroconf/tree/netstandard

I get a compile time error:
[code]
Digging into it, the facades that Xamarin ships do not have a type forwarder for ```System.Runtime.CompilerServices.ConditionalWeakTable`2```.

I suspect the fix has to come from Xamarin, but it's these packages that's causing the compile

[2016-07-03 09:01] beho commented on #9792
I'm not sure if that is what you mean but these are the contents of the digital-certificate.txt that was used in conjuction with private key to create pfx.

[code]

[2016-07-03 10:30] stephentoub opened #9820 "Invalid high surrogate failure in System.Reflection.Emit tests"
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/659/consoleText
[code]

[2016-07-03 12:20] hughbe commented on #9820
This must have been caused by my recent cleanup work, so I've taken a look.

I'm running these tests locally on my Windows machine, and not getting any errors like this.
I also can't find the invalid surrogate character mentioned (0xDF36) in the tests anywhere.

Is this still happening?

[2016-07-03 12:22] hughbe commented on #9820
Furthermore, my cleanup PR (#9520 and #9690) both passed with no failures in the CI

[2016-07-03 12:28] hughbe commented on #9820
Scratch that - I think I've found the problem: random data generation (see attached PR for detailed explaination)

[2016-07-03 13:50] stephentoub opened #9824 "DevicePathsDontThrowForInvalidChars_Windows test fails with all inputs"
[code]

[2016-07-03 13:53] #9820 closed

[2016-07-03 15:59] gulbanana commented on #6124
is that feature (multi-targeting from a csproj with tooling support) planned? seems a bit different to the original question of csproj->xproj references. of course it'd be great to have both.

[2016-07-03 16:06] jnm2 commented on #6124
Well xproj is gong away entirely, right? And multi-targeting isn't, so it would end up in csproj, right?

[2016-07-03 16:35] stephentoub opened #9826 "Move Environment from coreclr to corefx"
Some of the Environment class needs to access runtime functionality, e.g. HasShutdownStarted, but a lot of it can be implemented in corefx, and doing so helps to avoid a) duplicating functionality/code with elsewhere in corefx, and b) duplicating implementations between CoreCLR and CoreRT.  We can reimplement the bulk of Environment, including the remainder of the surface area that's missing, in c

[2016-07-03 17:07] hughbe commented on #1603
I think this has been fixed by #7549 so can be closed

[2016-07-03 17:10] hughbe commented on #1690
I think we have this file now: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md

If there is anything else to be added, I can do this. Else, this could probably be closed

[2016-07-03 17:57] tomspilman commented on #157
FYI.  In MonoGame we've been discussing adopting `System.Numerics.Vectors` (https://github.com/mono/MonoGame/issues/3781), but the huge performance loss in matrix math from unnecessary structure copies has us waiting until those issues are resolved.

We support many different versions of .NET and Mono which won't have any of these new JIT optimizations.  We will stick to our versions which mimic X

[2016-07-03 18:12] akoeplinger commented on #9158
@tarekgh seems the [docs for the Instance property](https://msdn.microsoft.com/en-us/library/system.text.codepagesencodingprovider.instance(v=vs.110).aspx) of the CodePagesEncodingProvider in .NET Framework were copied from the UWP version, but references to UWP incorrectly replaced. This leads to gems such as:

or

... which seems a bit inaccurate 😄

Where's the best place to file those MSDN doc

[2016-07-03 22:28] jasonwilliams200OK commented on #9769
RFC 2396 defines (valid) URL: http://tools.ietf.org/html/rfc2396

Here is one implementation of the said RFC https://commons.apache.org/proper/commons-validator/apidocs/src-html/org/apache/commons/validator/routines/UrlValidator.html (in Java)

[2016-07-03 22:54] davidsh commented on #9769
cc: @CIPop

[2016-07-03 23:05] #1063 closed

[2016-07-04 00:25] mvermef opened #9832 "Surface Pro 3 - VS2015U3 - Preview2 Tooling"
This project compiles without issue on my desktop but on my Pro3 it does horrible with the above error.  Now I did have a few errors with the "INITIAL" attempt at getting the Update3 installed.  So I did a restore from a point prior the install by days.  Then re-attempted the install of Update3 - no errors this time around.  Preview2 Tooling installed without issue.  I gotta say this update has be

[2016-07-04 00:39] jamesqo opened #9833 "Investigate using buffer pooling for StringContent"
Currently `StringContent` calls `Encoding.GetBytes` to get the underlying bytes of the string, so it can pass it in to the base constructor: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/StringContent.cs#L51 This method always allocates a new byte array.

Since `StringContent` is an `IDisposable`, we should investigate renting a buffer from `ArrayPool<byte>.S

[2016-07-04 02:06] davidsh commented on #9833
cc: @stephentoub

[2016-07-04 05:06] parjong opened #9835 "How can I build NuGet packages for CoreFX native components?"
In https://dotnet.myget.org/gallery/dotnet-core, there are NuGet packages for CoreFX native components, such as runtime.ubuntu.14.04-x64.runtime.native.System.IO.Compression (which includes .so files ).

However, running ``./build.sh clean debug native managed`` on ubuntu 14.04 does not provide such packages:
[code]

I checked runtime.native.System.IO.Compression.4.1.1-beta-24403-0.nupkg, but it d

[2016-07-04 06:20] mellinoe commented on #9807
Yep, @benaadams pretty much covered it. Anything else for clarification, @lampuiho ?

[2016-07-04 07:22] lampuiho commented on #9807
No, that's all. Thank you. I do have a question about Vector<T> though. How do I assign values directly to it? I am actually trying to do matrix multiplication here. Currently I am using a locally allocated "fixed size" array with unrolled dot product to do the multiplication with a vector. But the extra code to initialise the array and wrapping it into a vector is quite costly (and I have to wrap

[2016-07-04 10:33] Clockwork-Muse opened #9838 "BitArray.CopyTo copies also unused bits ("leaks data")"
`BitArray.CopyTo(...)` leaks internal data, if the data copied is shorter than the destination type.
For instance, if set via `new BitArray(16, true)` (16 bits long, all on), then copy to an int array, all bits in the int are set (as if the `BitArray` is actually 32 bits long).

[Demonstration tests](https://github.com/Clockwork-Muse/corefx/commit/19a67977e876aaa80eb42f7e04feae1fed1a815c) (althoug

[2016-07-04 10:42] sebok opened #9839 "Can't use Path.GetFullPath in netstandard1.2"
Hi,

_Same issue/question as https://github.com/aspnet/Home/issues/1551 by @Sebosek_

How to get the full path of a given relative path in _netstandard1.2_? `Path.GetFullPath` seems to be available only for _netstandard1.3_ and above. Out of curiosity, why is that?

Thanks

[2016-07-04 11:46] NickCraver commented on #4544
What's the status on this? What *should* we be doing here? This is still a build blocker on porting projects with sanity. I currently can't build with a project.json present unless I move the project/folder structure all over the place.

To explain the frustration, in preview 2 tooling today:
I can't maintain a .NET Core solution and a .csproj solution easily, they have to be put in their own corn

[2016-07-04 14:15] moraleslos commented on #2949
Just realized that transaction scope was not implemented in core 1.0.0.  Since I'm already in the middle of building a decent-sized app in core, is there a way to "simulate" transaction scope?  Currently I have two different EF contexts (different DBs but same mssql server) and need to make sure that SaveChanges on both work (as well as some biz logic in between that needs to be correct).  If eith

[2016-07-04 16:00] milutinovici commented on #6831
Hey guys. I stumbled upon this thread, while looking at System.Numerics. I was looking at Vector, so I could use it in a library, that deals with measurement units.

I think that I solved some of the problems discussed here. It should be reasonably fast, although I haven't done any benchmarks yet. It also supports derived units.

https://github.com/milutinovici/metric

There is also a branch with

[2016-07-04 17:27] ctyar commented on #5055
Is it ok to a send PR for this?

[2016-07-04 20:37] kiwiingenuity commented on #2949
I resolved the issues as follows

 context.Database.BeginTransaction();
 try
 {
	context.SaveChanges()
	// more logic
	context.SaveChanges();
	context.Database.CommitTransaction();
 }
 catch
 {
	context.Database.RollbackTransaction();
 }

[2016-07-04 21:11] prajaybasu opened #9840 "Make System.Numerics.Vector(void* dataPointer, int offset) public ?"
In some scenarios, one might use this constructor in unsafe contexts using non CLS compliant types.
This should be made public for "architectural symmetry", I guess.

[2016-07-04 21:16] moraleslos commented on #2949
@kiwiingenuity

Not sure if you were responding to my post but if so, that would not work for me since I have two different contexts.  My code snippet can still "fail" when transactionB commits ok but then transactionA fails during a commit-- meaning I can't rollback B when A fails.

Anyway I'm going to live with this at the moment since my A transaction "shouldn't fail".  Hopefully they'll get tr

[2016-07-04 21:31] benaadams commented on #9840
Use the `System.Runtime.CompilerServices.Unsafe` package

usage: `Unsafe.Read<Vector<ushort>>(dataPointer + offset);`

[2016-07-04 21:41] kiwiingenuity commented on #2949
@moraleslos
Why wouldn't my idea work for you?
Just set up the Begin / commit / rollback on both contexts?

[2016-07-04 22:03] moraleslos commented on #2949
@kiwiingenuity

transactionB does a commit first.  If that is committed successfully, then the DB gets updated and you can't rollback.  Then transactionA gets committed.  If that commit fails, A rolls back but not B since that was already committed.  Hence the need for distributed transactions.

[2016-07-04 22:13] kiwiingenuity commented on #2949
@moraleslos
using (var transactionA = contextA.Database.BeginTransaction())
{
   using (var transactionB = contextB.Database.BeginTransaction())
   {
		 try
		 {
			contextA.SaveChanges()
			// more logic
			contextB.SaveChanges();

			contextA.Database.CommitTransaction();
			contextB.Database.CommitTransaction();
		 }
		 catch
		 {
			contextA.Database.RollbackTransaction();
			contextB.Database

[2016-07-04 22:22] danmosemsft commented on #5055
Any PR that fixes style to match the repo guidelines would be welcome.

[2016-07-04 23:28] danmosemsft opened #9842 "Add IsolatedStorage types"
Bring back System.IO.IsolatedStorage, comprising these types

[code]

The most used types are

[code]

and members in descending order

[code]

[2016-07-04 23:30] danmosemsft commented on #9842
@stephentoub, @JeremyKuhne  -- someone was mentioning that IsolatedStorage was likely to be significant work. Can you comment?

I'm guessing the implementation will need specific work for .net native, also, as it has its own concept of isolated storage. Any context?

[2016-07-04 23:48] stephentoub commented on #9842
I could be wrong, but I wouldn't expect it to be *significant*.  At a high level, I expect it would just be reading/writing files on disk, with the main work being the mapping between the selected scope and where on disk we maintain the relevant "isolated" area.  There would likely be features that remain unsupported, but such an implementation should work for both Unix and .NET Native, albeit usi

[2016-07-05 00:44] jamesqo opened #9843 "MoveNext and Current for Stack/Queue.Enumerator aren't being inlined"
Currently the `MoveNext`/`get_Current` methods for the `Stack/Queue.Enumerator` structs aren't being inlined, which means two method calls for every iteration of a foreach. We should look at making their method sizes smaller (e.g. moving [the exception throwing code](https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/Queue.cs#L419-L422) into a new me

[2016-07-05 00:53] moraleslos commented on #2949
@kiwiingenuity

Not sure if calling rollback transaction will work here once it has already been successfully committed.  So in your code, if contextA commits but then contextB fails during a commit, in your catch, contextA will fail rolling back because it has already committed.  It'll probably throw an InvalidOperationException when calling rollbacktransaction on contextA.  This is what I'm look

[2016-07-05 04:15] ctyar commented on #5055
@danmosemsft Regarding this, is there somewhere i have to check before changing anything?

We need to be careful about renaming these, we've hit issues in the past where Debugger components were relying on the exact names of these fields to not change.

[2016-07-05 08:04] xanather commented on #5211
@davidsh @himadrisarkar @CIPop Here is a list of related recent issues that have appeared on corefx in the hopes that priority of this issue will increase.

https://github.com/dotnet/corefx/issues/9423
https://github.com/dotnet/corefx/issues/5749
https://github.com/dotnet/corefx/issues/9698

I am sure there are a few others that I have missed.

Is the .net cancellation model even possible on *nix?

[2016-07-05 08:29] VitaliyMF commented on #8622
It seems many people are asking for something lightweight between EF Core and low-level System.Data.Common interfaces. I'm the author of the [NI.Data library](https://github.com/nreco/nicnet/tree/master/src/NI.Data) (.NET 4.x) that offers abstract (db-independent) queries and simple db-independent interface for CRUD-operations. I can port most demanded parts to a new corefx-oriented library (queri

[2016-07-05 09:38] andriysavin opened #9846 ".Net Plaform Standard implementation on .Net 4.6.1 has version inconsistency for System.Net.Http"
I created a netstandard1.4 library (csproj) which uses System.Net.Http, and the highest available netstandard1.3 listed in NETStandard.Library meta package references System.Net.Http **v4.1.0**.
I reference this library from a .Net Core console app which targets net461, and the latter has System.Net.Http **v4.0.0.0** in GAC. During build I get a warning regarding library versions conflict, and at

[2016-07-05 10:37] gulbanana commented on #9485
could we prioritise System.CodeDom.Compiler.CompilerError? it's output by T4 templates

[2016-07-05 12:02] gulbanana commented on #9643
string.ToLower(CultureInfo)?

[2016-07-05 13:12] onovotny opened #9848 "UdpClient: Cancellation support for Async methods"
In the current UdpClient methods, the `SendAsync` and `ReceiveAsync` method have no support for cancellation. A method could be in an `await RecieveAsync()`, which effectively never returns in a "clean" way.

Instead, you have to call `Dispose()`/`Close()` on the `UdpClient` instance and catch `ObjectDisposedException` and `NullReferenceException`'s coming from that await.

There's a race conditio

[2016-07-05 15:09] AtsushiKan commented on #9792
Most other places we convert CRYPTAPI_BLOB’s (PKCS, desktop X509), we make a special case check if cbData==0 and return an empty array without dereferencing pbData. (Windows likely sets this NULL for empty blob.)

Looks like this one should do the same.

From: Jeremy Barton [mailto:notifications@github.com]
Sent: Saturday, July 2, 2016 3:39 PM
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Atsu

[2016-07-05 15:15] davidsh commented on #9846
cc: @ericstj @stephentoub @CIPop

One thing to keep in mind is that with the System.Net.Http 4.1 NuGet package, System.Net.Http is completely an OOB package. Even on .NET Framework (Desktop), using the System.Net.Http 4.1 package replaces the use of the .NET Framework System.Net.Http binary in the GAC. This is unlike most of the other CoreFx packages on Desktop which are facades and actually use t

[2016-07-05 15:34] andriysavin commented on #9846
@davidsh I see what you mean. But what I see in reality is slightly different. I tried to change library target to netstandard1.2 (which also references System.Net.Http **v4.1.0** in metapackage), and in this case all works (no exception at run time). However, in spite of what you say, I observe (in Modules) that System.Net.Http **v4.0.0** is loaded from GAC. This frustrates me even more.

[2016-07-05 15:55] srivatsn commented on #6124
Yes it's tracked here - https://github.com/dotnet/roslyn-project-system/issues/190

[2016-07-05 16:03] danmosemsft commented on #5055
cc @mellinoe re the question above.

[2016-07-05 16:14] dperschonok commented on #9796
Switching it to use the PFX file ends up giving me the expected result and I am able to get the token back. The same exception is still being thrown, but doesn't seem to have any impact on my application from what I can tell.

I can try it on Windows 8 a little bit later today. Only one of my developers has Windows 8 installed, so once I get their machine updated I will see if the exception happen

[2016-07-05 16:21] davidsh commented on #9796
cc: @CIPop @bartonjs

You are correct in that the orignal .NET Framework (Desktop) 4.x did support that feature where a public-key only client certificate could be used. Internally, if the private key wasn't part of the certificate `X509Certificate` object, then the stack would try to look up the certificate in the MY/Personal store to find the complete (public/private) object and then use the pri

[2016-07-05 16:52] varocarbas commented on #6831
@milutinovici After taking a really quick look, it seems interesting. Apparently, it follows the ideas I proposed, as opposed to other much "heavier" alternatives.

FYI, I am working on a really detailed version of all these ideas. In fact, I have taken this as an excuse to start a quite big (although formed by many inter-independent parts) parsing library which will take care of virtually anythin

[2016-07-05 17:13] milutinovici commented on #6831
@varocarbas I'm glad you find it interesting. Although I have to say that I agree with @mellinoe, stringly typed approach seems like bad idea. Of course there should be parsing capability, but not at the core of the implementation. I mean throwing exceptions in constructor is just yucky.

[2016-07-05 17:21] tarekgh commented on #9158
@akoeplinger thanks for pointing at that. I'll forward this issue to the doc team.

[2016-07-05 17:26] jhendrixMSFT commented on #9789
No it doesn't at present, I can add it today.  Is ARM the only build, what about AMD64?

[2016-07-05 17:29] varocarbas commented on #6831
@milutinovici
` throwing exceptions in constructor is just yucky.`
My suggestion is emulating the differences anything.Parse/TryParse; that is: triggering an exception or just letting a flag communicate the error. Why do you see it wrong here and not wrong there?

For example: in the code I am writing there is a `public readonly` flag called `Error`, which tells whether an error happened or not (t