[2017-08-08 19:52] benaadams commented on #22940
Probably needs some array/span overloads?
[code]
However unaligned load wouldn't be able to be supported this way

[2017-08-08 19:53] tannergooding commented on #22940
@fanoI, this is not expected to be used by application authors. Instead, it is meant to be used by framework authors so that core functionality can be written in managed code and can achieve the best performance possible.

This will likely be used by things like:
* System.String
* System.Math & MathF
* System.Numerics.Vector<T>, Vector2, Vector3, Vector4
* etc

It would also be used by people writ

[2017-08-08 19:54] danmosemsft commented on #23039
Not failing anymore, I think due to build being updated.

https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170808.01

[2017-08-08 19:58] danmosemsft commented on #23039
Also in release branch.
https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170808.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_UapExistAndAccessible(folder:%20Cookies)

[2017-08-08 20:11] sharwell commented on #23051
@terrajobst It would be good to address @4creators' question preemptively on issues you file like this. The answer also isn't clear to me. :smile:

[2017-08-08 20:12] danmosemsft commented on #23039
@krwq can you take a look?

This code
[code]

should make it work on even older RS3 builds. But maybe we are now running on a build that has UserDataPaths, but not UserDataPaths.,Default, and we should check for that also?

Also note the F5 runs are working fine, although they use the same code. It's a runtime failure, so it's not like the native compilation was trying to compile GetFolderPathCore

[2017-08-08 20:15] danmosemsft commented on #23039
Note this should be running on rs_prerelease.170805-2131 . I would grab a VM with that and try running this test in ILC mode. See if it fails.

@JeremyKuhne

[2017-08-08 20:17] danmosemsft commented on #23000
After build update is now failing due to https://github.com/dotnet/corefx/issues/23039

https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170808.01/workItem/System.Configuration.ConfigurationManager.Tests/analysis/xunit/MonoTests.System.Configuration.ConfigurationLockCollectionTest~2FDuplicateAdd

[2017-08-08 20:18] danmosemsft commented on #22385
@safern I don't see this test failing in https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170808.01
withe the new OS version

does that mean we can close this

[2017-08-08 20:24] AntonLapounov commented on #22385
@danmosemsft The test is still disabled for UapAot in the repo; I enabled it in my machine only.

[2017-08-08 20:28] KrzysztofCwalina commented on #22613
OK, makes sense.

[2017-08-08 21:00] JonHanna opened #23054 "Can we extend the timeout on the coverage builds?"
Timing out has always been common with them, and of the last 10 runs, 1 had a test failure and the other 9 timed out. The time required to run will generally tend to increase too (more tests are common and desired, ideas on how to make tests quicker much rarer). Most seem like they could well have completed (rather than being stuck somewhere). Could the time allowed for the run be increased?

[2017-08-08 21:03] stephentoub commented on #23054
cc: @dotnet/dnceng

[2017-08-08 21:06] krwq commented on #23039
Locally this seems to be skipped with:
[code]

but it also produces the warning:

[code]

I will try to get rid of the warning for now as it seems to be the same issue. Will be deploying VM in the meantime

I suspect this might be by design and the number might need to be updated in ConditionalTheory:

[code]

[2017-08-08 21:12] joshfree opened #23056 "SqlException ... error occurred during the pre-login handshake."
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2Fuwp6.0~2F/test~2Ffunctional~2Fcli~2F/66720e5b118975058aa9ed007dec818755879412/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.SqlConnectionBasicTests~2FConnectionTest

[code]

[2017-08-08 21:29] stephentoub commented on #22391
The verdict on ICryptoTransform was to not do anything now and wait for (hopefully) default interface implementations in the future.
https://github.com/dotnet/coreclr/issues/10504

Until such time, there's little value in overriding the span-based Read/Write methods, as the common usage will result in our needing to convert the input spans to arrays, anyway, and we could end up actually doing wors

[2017-08-08 21:29] #22391 closed

[2017-08-08 21:38] danmosemsft commented on #21427
@tarekgh since you're fixing some other tests for high sierra, can you please disable this test for it, against this issue.

[2017-08-08 21:42] madelson commented on #18277
Here's a link with some additional context on this issue: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/916b3d8a-c464-4ad5-8901-6f845a2a3447/sql-server-2014-reseting-isolation-level?forum=sqldatabaseengine

[2017-08-08 21:44] stephentoub opened #23057 "Proposal: Span-based methods on Encoder/Decoder"
In https://github.com/dotnet/corefx/issues/22431, we agreed on new span-based methods on Encoding, but we didn't discuss the lower-level Encoder/Decoder types.  @jkotas reminded me of this in https://github.com/dotnet/coreclr/pull/13269#issuecomment-321020525, and upon taking a look, I expect methods like the following are the ones we'd want to add:
[code]
@tarekgh, thoughts, both on exposing such

[2017-08-08 22:00] thechopkins commented on #12915
Thanks @stephentoub.  I've made the updates to have the tests I've already written (Array) exist in CoreFX. Makes this process much easier. I'm finishing the updates to ArraySegment and final tests soon. Is there any specific versioning I need to do to keep coreclr and corefx in line?

[2017-08-08 22:06] 4creators commented on #22940
@fanoI @mellinoe
Essentially the very same problem arises in `safe system programming` language like Rust. One can not express all low level operations required in several libraries in Rust safe syntax therefore Rust provides `unsafe` context where ownership, borrowing and other safety features are lifted. Very interesting description of the problem is shown in article:

[Ralf Jung, Jacques-Henri

[2017-08-08 22:19] krwq commented on #23039
Seems like the problem is that ILC has older version of Windows.winmd than CoreCLR and this is causing weird state during the runtime leading to MissingMethodException. I'll make sure this gets updated soon.

[2017-08-08 22:27] mellinoe commented on #20884
Here's some behavior differences I've discovered while trying to unify the Pen code, and other related types.

Compat notes for System.Drawing.Common

# Pen
* Pen.get_CustomEndCap is emulated on Unix. There is no "get" accessor for this property in libgdiplus, so we return the last-known value that was set in managed code. This will most often be correct, but it is valid to set this prorpety throu

[2017-08-08 22:29] tarekgh commented on #23057
Encoder and Decoder are used exactly as the Encoding APIs. it just helps in keeping the state so you can encode/decode the data with multiple calls. As we exposed Encoding APIs to use Spans, it makes a lot of sense to expose the Encoder and Decoder APIs using the spans too.

The list of APIs you have in your proposal is good to me too.

side note, we are using the encoders and decoders in the impl

[2017-08-08 22:40] krwq commented on #23039
@tijoytom will update it soon and the issue should disappear

[2017-08-08 22:46] safern commented on #22385
@AntonLapounov would it be worth enabling it temporarily in master branch to see if it repro in the next builds? Since you can't repro locally in an RS2 nor RS3 machine, might be worth givinig it a try. If it reproes then you could use the repro tool.

[2017-08-08 23:14] mellinoe commented on #22940
@4creators I think @tannergooding said that, but yes 😄 . Unsafe code is fundamental to many of the core libraries of .NET.

[2017-08-08 23:17] terrajobst commented on #23051
Thanks for asking. I've clarified in the issue body :-)

[2017-08-08 23:18] terrajobst commented on #23051
@danmosemsft

Yep, we couldn't find it in the meeting so I just create one. Will close as duplicate of #2394.

[2017-08-08 23:18] #23051 closed

[2017-08-08 23:29] danmosemsft opened #23063 "AppContext.TargetFrameworkName differs between CoreRT and CoreCLR"
https://github.com/dotnet/coreclr/pull/13266#pullrequestreview-55061899

 In CoreCLR, AppContext.TargetFrameworkName will always return null. On CoreRT/ProjectN, it will return attribute value from main exe https://github.com/dotnet/corert/blob/ff7eba504516fa0bc0a50357ad559c19b45d1d51/src/System.Private.CoreLib/src/System/AppContext.cs#L45

If we are OK with updating CoreCLR, we return `

[2017-08-08 23:57] danmosemsft commented on #23033
Also changing a method to throw ArgumentNullOrEmptyException would be a breaking change since it can't derive from both of the individual ones. It would need a good reason to do it and I don't see that.

[2017-08-09 00:40] Tratcher commented on #4721
Adding yet more overloads of AuthenticateAsClient/Server seems excessive, especially with all the possible parameter permutations. The proposed `string[] applicationProtocols` parameter is symmetrical on the client and server APIs so why not make it a property configured prior to Authenticate instead?
[code]
Usage:
[code]

[2017-08-09 00:45] Priya91 opened #23066 "Fix segfaults in release branches for OSX 10.13"
System.Net.Http.Functional.Tests and System.Net.Requests.Tests seg fault in OSX 10.13 runs.

[2017-08-09 00:53] halter73 opened #23068 "ConcurrentBag leaks references unless cleared"
ConcurrentBag has [a ThreadLocal field](https://github.com/dotnet/corefx/blob/64eff9bb5a1c39caf6ade8413dbca175b93ee80c/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs#L35) that maintains references to whatever was added to it without being removed/cleared even after the ConcurrentBag itself becomes unreferenced.

Use your favorite search engine to find referenc

[2017-08-09 01:00] benaadams commented on #23068
Does it need a finalizer? :-/

[2017-08-09 01:10] stephentoub commented on #23068
ThreadLocal had a finalizer.

Are you suggesting there's a leak even after the finalizer runs? If so, that should be fixed. If not, what exactly are you hoping to see here if you consider the finalizer insufficient and you don't want the developer to have to take an explicit deterministic action?

[2017-08-09 01:44] Jiayili1 commented on #22746
@CIPop I will close this issue and open a new issue for it. Thanks.

[2017-08-09 01:44] #22746 closed

[2017-08-09 01:44] stephentoub commented on #23057
Thanks, Tarek.

[2017-08-09 01:52] richlander commented on #23056
Ummm ... would you consider making a shorter title?

[2017-08-09 02:14] halter73 commented on #23068
Interesting. I didn't include many details because I didn't realize this behavior, while unintuitive, was actually unexpected.

Could this issue possibly arise when the ConcurrentBag entry has a circular reference? I'm wondering if that's what's causing the ThreadLocal's finalizer not to run.

I noticed the leaked references when debugging a (most likely) unrelated issue in Kestrel's functional te

[2017-08-09 02:29] stephentoub commented on #23068
Yes, if the bag contains a reference to itself, either directly or indirectly, that would prevent it from getting finalized until the thread containing the entry dies.

[2017-08-09 06:12] dotnet-mc-bot opened #23072 "Test: System.Diagnostics.Tests.ActivityTests/DiagnosticSourceStartStop failed with "Xunit.Sdk.InRangeException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ActivityTests/DiagnosticSourceStartStop` has failed.

Assert.InRange() Failure\r
    Range:  (00:00:00.0000001 - 00:00:00.1412301)\r
    Actual: 00:00:00.2089664

        Stack Trace:

           at System.Diagnostics.Tests.ActivityTests.DiagnosticSourceStartStop() in /root/corefx-913927/src/System.Diagnostics.DiagnosticSource/tests

[2017-08-09 06:19] danmosemsft commented on #23072
@brianrob this would contain your previous fix, https://github.com/dotnet/corefx/pull/20836...

[2017-08-09 06:21] Jiayili1 commented on #17681
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170809.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV6BoundToSpecificV6_Success

[2017-08-09 06:43] Jiayili1 commented on #23000
This issue is still repro on **_System.Configuration.ConfigurationManager.Tests.Execution_**, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170809.01/workItem/System.Configuration.ConfigurationManager.Tests.Execution/analysis/xunit/MonoTests.System.Configuration.ConfigurationLockCollectionTest~2FDuplicateAdd

[2017-08-09 06:48] dotnet-mc-bot opened #23073 "Test: System.Globalization.Tests.CharUnicodeInfoGetUnicodeCategoryTests/GetNumericValue failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Globalization.Tests.CharUnicodeInfoGetUnicodeCategoryTests/GetNumericValue` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Globalization.FormatProvider.IsSuffix(String source, String suffix) in f:\dd\ndp\fxcore\CoreRT\src\System.Private.CoreLib\src\System\

[2017-08-09 06:52] Jiayili1 commented on #19637
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170809.01/workItem/System.Net.Http.WinHttpHandler.Functional.Tests/analysis/xunit/System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest~2FSendAsync_SlowServerAndCancel_ThrowsTaskCanceledException

[2017-08-09 07:05] dotnet-mc-bot opened #23074 "Test: System.Tests.AppDomainTests/SetThreadPrincipal failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.Tests.AppDomainTests/SetThreadPrincipal` has failed.

System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args, RemoteInvokeOptions options, Boolean pasteArguments)
       at Syst

[2017-08-09 08:03] Jiayili1 commented on #16430
Another test failed with same issue: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug/3976/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteXmlReaderErrorTest/

Failed test: System.Data.SqlClient.Tests.DiagnosticTest.ExecuteXmlReaderErrorTest

[2017-08-09 08:08] Jiayili1 commented on #23038
failed again:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.10_debug/133/testReport/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.10_release/134/testReport/

[2017-08-09 10:17] Drawaes commented on #22398
Is there an approx eta on the Buffer coming into Coreclr/corefx?

[2017-08-09 10:52] safern commented on #23073
Cc: @tarekgh

[2017-08-09 12:13] Drawaes opened #23077 "Proposed SslStream additions for ALPN and SNI"
# Rationale
---
SNI and ALPN have been hanging around for a while as requirements and are becoming more urgent for Kestrel as HTTP/2 approaches (ALPN) and it becomes an edge server (SNI). There was an initial API proposal in issue #4721 however this stalled from my reading because of two issues
1. It would break compat with desktop
2. It would make the AuthenticateAsXXXXX method overloads become u

[2017-08-09 12:21] stephentoub commented on #22791
It failed again :wink:
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/c6e62e6bfcf631db0b470d20f34fdfd7f7a976d1/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener
[code]

[2017-08-09 12:34] stephentoub commented on #22398
@ahsonkhan, @KrzysztofCwalina, @joshfree, can you comment?

[2017-08-09 13:37] weitzhandler opened #23080 "Suggestion: Enumerable.ToReadOnly"
Please include a LINQ extension `ToReadOnly` (and `ToReadOnlyAsync` (for `IQueryable<T>`, in `System.Data.Entity.QueryableExtensions`), which should return a readonly list of the enumerated result.

[2017-08-09 13:40] JonHanna commented on #23080
`ToReadOnlyAsync` wouldn't make a lot of sense as a general linq method for the same reason `ToListAsync` doesn't, but only be appropriate for providers that will always or almost-always be doing some I/O-bound work, such as Entity Framework (which again, does have a `ToListAsync`.

[2017-08-09 13:41] akoeplinger commented on #23019
Thanks Eric.

[2017-08-09 13:41] #23019 closed

[2017-08-09 13:52] davidsh commented on #23077
Our new thinking (which has evolved a lot over a year +) on API additions is that we will add them to 'netcoreapp' and not directly to 'netstandard'.  The latest 'netcore' architecture supports this well. We have been doing this for several months now.  Our time, we will add it to .NET Framework so that it can be part of a future 'netstandard'.

The best API shape for this functionality is to add

[2017-08-09 14:01] weitzhandler commented on #23080
Just forget the `Async` for now.

I have an API I provide many lazy-loaded sets of values that shouldn't be changed, It's all operated by LINQ, and my code is flooded with `_myList = ToList().AsReadOnly()` calls.
I'm merely asking for a syntactic sugar.

[2017-08-09 14:01] Tratcher commented on #23077
I agree SNI needs a callback model. The one you've defined seems to be trying to copy the client cert validation callback and I don't think those two scenarios are directly related. The dictionary approach is also overly prescriptive, there's no telling how many domains I may be trying to handle, and I may need to do wildcard matching. How about:
[code]
For clients not using SNI the string paramet

[2017-08-09 14:03] weitzhandler commented on #23080
And BTW @JonHanna I love your profile status

So true!

[2017-08-09 14:08] Drawaes commented on #23077
The callback is for the client cert. The server side could get a different cert depending on each host.

I am not sure on Schannel you can supply the server side cert from a callback. Hence it will be a fixed list.

[2017-08-09 14:09] Warr1024 commented on #16201
The issue seems to be concurrency-related, and affects arbitrary .NET Core applications. With this program, I'm able to reproduce the problem about 25% of the time, using a 4-core CentOS 7 VM.

Decreasing the number of threads seems to make the problem happen less frequently, with the problem not reproducible at all with only one thread.  Increasing the number of threads did not significantly incr

[2017-08-09 14:15] Drawaes commented on #23077
@davidsh , okay that's confusing as the other API proposal froze for that exact reason :P I am more than happy if it isn't extension methods :)

As for more overloads on those methods... really? They are awful already and if they keep adding extensions you will end up with

[code]

Which is just going to get ugly, SslStream is really a complex little protocol component and to try to configure the

[2017-08-09 14:16] markrendle commented on #23080
Surely this would be easy enough for you to implement yourself as an extension method?

[2017-08-09 14:38] Tratcher commented on #23077
Is it time to make some objects to contain all of the options and results?
[code]

[2017-08-09 14:42] jmacnett commented on #16201
The results @Warr1024 found are also reproducible in 2.0 preview 2, running within a docker container.  The ratio of errors to success jumps up to about 50% from 25% over an extended period.

System details:

[code]

[2017-08-09 14:45] Drawaes commented on #23077
@Tratcher I am not sure my answer is clear. So let me try to rephrase

There are two things going on with SNI,
1. you need to decide what cert to send to the client
2. you (may) need to validate the client cert/connection and that could/should be different per "host" that you can connect to.

Now what you want is for 1 you can provide a managed function that will return the correct server cert. Wh

[2017-08-09 14:49] dleeapho commented on #22786
I agree the current scheme is our best option. Even that duplicates effort and doubles the potential fragility so getting to some lightweight xplat scripting would be goodness.

[2017-08-09 14:53] vancem commented on #22647
Fixed with merge of @22701

[2017-08-09 14:53] #22647 closed

[2017-08-09 15:06] stephentoub commented on #22057
Reverted #22977, so reopening.

[2017-08-09 15:06] stephentoub commented on #20395
Reverted #22977, so reopening.

[2017-08-09 15:14] benaadams commented on #23038
Should be fixed by #23078

[2017-08-09 15:33] Tratcher commented on #23077
How well does the builder handle the disparity between client and server options? Do you need a server builder that builds a ServerSslStream and likewise for the client to keep the options sensible?

[2017-08-09 15:42] Drawaes commented on #23077
I would say they can be pretty close to the same if not the same. I have mostly prototyped the server side here around what it would look like for aspnetcore. I need to think about the client side some more. I would say if you want ALPN in soon, then maybe the SNI can be dropped for now and some simple methods can be added for that. Kick the can down the road so to speak (the internals of SslStrea

[2017-08-09 15:56] Clockwork-Muse commented on #23080
.... but after `query.ToList().AsReadOnly()` it's no longer lazy.  For that matter, if you have some sort of query it's already read-only anyways (can you just expose an `IEnumerable<>`?).
If you're really materializing the collection like that, I'd expect an immutable collection to be a better fit, intent wise.

[2017-08-09 16:05] tdevere commented on #22801
I can confirm now this issue is resolved. I don't have RCA but moving away from bing.com and going to a localhost or remote IP on a different cloud endpoint, the delay never happens. I would expect the problem has to do with some sort of defensive measures at bing.com.

Thank you to everyone who took the time to investigate this problem with me.

[2017-08-09 16:05] #22801 closed

[2017-08-09 16:05] tarekgh commented on #23073
Is there a way can repro this one? this looks very weird.

CC @krwq

[2017-08-09 16:08] weitzhandler commented on #23080
@Clockwork-Muse I meant I'm using lazy properties that look like this:

[code]

[2017-08-09 16:19] JonHanna commented on #23080
A static class somewhere in your project with

[code]

would be enough to provide this. Optimisation possibilities would include using a singleton empty collection when appropriate. The question, it seems to me, is whether the former is generally useful enough to provide in corefx, given that it's easy enough to do for oneself (and potentially the same question about the latter for the EF people).

[2017-08-09 16:27] weitzhandler commented on #23080
I know I can make an ex. method, question is if anyone needs to have a belt of ex. methods anywhere or we  can have it shipped out the box.

[2017-08-09 16:41] joperezr commented on #23073
@tarekgh and I tried reproing this in a ARM machine using the repro tool and tests passed just fine, so I'll go ahead and close this one. Feel free to reopen if it fails again.

[2017-08-09 16:47] danmosemsft commented on #23074
@tarekgh

[2017-08-09 16:52] vancem commented on #23068
Hmm, this is unfortunate.    Let me see if I understand.

Basically we have a ThreadLocal object, which controls a 'slot' in an array in each thread that lives as long as the thread.    The ConcurrentBad has a ThreadLocal to maintain a set of per-thread 'WorkStealingQueue's which actually holds the values of the bag (basically each thread 'owns' a chunk of the bag).   Thus the BAG points as the Th

[2017-08-09 17:22] danmosemsft commented on #21156
Still shooting for 6.0 so I want to track it.

[2017-08-09 17:44] tarekgh commented on #23074
I have got the running bits from helix and couldn't repro it. this is definitely test environment issue as I am not seeing failing on other flavors (debug or even release x86)

[2017-08-09 17:44] #23074 closed

[2017-08-09 17:57] joshfree commented on #22398
We're going to start moving Buffer over this week.  @shiftylogic can you comment on ETA?

[2017-08-09 18:09] danmosemsft commented on #23063
@AlexGhiondea is this a type you have context on? It's the Core equivalent of Quirking? Should we take this change?

[2017-08-09 18:11] danmosemsft commented on #16256
@JeremyKuhne @ianhays please comment on whether this should go into 1.x.

@omajid we don't have a formal process beyond noting that an issue has a lot of traffic/thumbs up.

[2017-08-09 18:42] tannergooding commented on #22940
I think a good summary of discussions so far is:
 * The feature is, essentially, universally loved/adored
 * `ref` vs `pointers` seems to need further thought/discussions for the API surface
 * No software fallback seems to resonate positively
 * Determining how to expose these without bloating the lowest layer, but still making APIs useable from every layer seems to need more discussion

Some of

[2017-08-09 18:46] terrajobst opened #23085 "System.ValueTuple now supports .NET Framework 4.7"
# Summary

The NuGet package System.ValueTuple [has been updated](https://www.nuget.org/packages/System.ValueTuple/4.4.0) to support .NET Framework 4.7.

# Details

The NuGet package provides the `ValueTuple` types which are required for the C# tuple syntax. In .NET Framework 4.7 we've added the types directly to `mscorlib`. If you use both, the NuGet package, as well as .NET Framework 4.7 you'll

[2017-08-09 18:58] iamcarbon commented on #23077
We should consider dynamic certificate issuance & renewal scenarios when designing this API. This would support the acquisition of of certificates via Let's Encrypt or any other dynamic source.

For example:

[code]

[2017-08-09 19:02] Drawaes commented on #23077
Again as far as I am aware you can't dynamically provide certs for schannel. You need an upfront list of certs.

[2017-08-09 19:19] #23020 closed

[2017-08-09 19:19] iamcarbon commented on #23077
@Drawaes Keeping my hopes alive that schannel has some way of dynamically providing certificates as it has the potential to dramatically reduce the developer and operational burdens of setting up and maintaining SSL certificates. But if it can't be done -- it can't be done!

[2017-08-09 19:25] pjanotti commented on #22966
/cc @willdean @JeremyKuhne @danmosemsft
Jeremy had some USB-to-Serial w/ chipset from ProLiant and those did not have the same issue, so this is not blocking anymore. I did hit some test failures, I will investigate those.

[2017-08-09 19:25] #22966 closed

[2017-08-09 19:26] Drawaes commented on #23077
There is no reason if there is a config object as suggested above that it could take care of the list

[2017-08-09 19:49] geleems commented on #22922
The bug was fixed: https://github.com/dotnet/corefx/pull/22926

[2017-08-09 19:49] #22922 closed

[2017-08-09 19:51] stephentoub opened #23086 "Consistency of sealed modifiers on methods of sealed classes"
The general style across corefx is that if a type is sealed, its virtual members are not also annotated as sealed.  There are a few projects within the repo, however, where that is not maintained.  We should be consistent across the repo.

[2017-08-09 20:09] Tornhoof commented on #22613
Is `Rfc2898DeriveBytes` getting the Span Treatment too or is this rather #22615?

[2017-08-09 20:13] fiigii commented on #22940
@tannergooding Thank you so much for the summary, and let's discuss these topics in [.Net Design Reviews ](https://www.youtube.com/watch?v=52Fjrhx7pKU) next week.

Our intrinsic API design (we will submit the PR after this proposal gets approved) has included certain scalar instructions (e.g. crc32, popcnt, etc.), but these ones you mentioned (most from SSE/SSE2) do not yet.
These SSE/SSE2 scalar

[2017-08-09 20:39] ayende commented on #22940
`popcnt` in particular is something that we would really want to have

[2017-08-09 20:45] AtsushiKan commented on #23086
This is a perfect example of attempting to legislate something that does not need to be legislated. I have not heard a single reason how imposing one rule across the repo for this improves dev productivity, or makes the code more robust, performant or easier to understand. Consistency is meant to promote these aspects - I do not regard it as an end in itself.

As I've said elsewhere, I find it use

[2017-08-09 20:53] CIPop commented on #4721
I agree with the property idea. I also think it should be somehow symmetric with the SNI server side API (#9608).
We should design the two API surfaces together.

[2017-08-09 20:54] benaadams commented on #22940
One, both or a combined form of `BSF`, `TZCNT`

On or both of `BSR`, `LZCNT`

[2017-08-09 20:55] tannergooding commented on #22940
@fiigii, (maybe @mellinoe could chime in on this as well?)

#### Interop with other intrinsic code

Realistically, their is no difference between `Vector128<T>` and `double` other than:
* Potentially how the value is passed on the stack
* Which form of the instruction is called (`sd` vs `pd`)
* Whether the intrinsic is explicit or implicit

As a framework author, I shouldn't have to worry about co

[2017-08-09 20:59] stephentoub commented on #23086
You raised the issue of consistency.  If it doesn't need to be legislated in one direction, then it doesn't need to be legislated in the other direction either.

Because it sets expectations that allows devs familiar with the style to better understand the code.  Or to avoid generalizing, it absolutely does that for me.

Agreed.  And in this case, for me it's the easier to understand.

You've hear

[2017-08-09 21:01] AtsushiKan commented on #23086
I'm fine with not legislating it in either direction. Not all components have the same needs.

[2017-08-09 21:02] jkotas commented on #22940
I do not think it is a good idea. It is actually not even possible for some of existing ones, e.g. because of they are virtual methods.

[2017-08-09 21:05] stephentoub commented on #23086
And yet you commented that I need to add a "missing" sealed.

I actually do think this is something where style should be enforced.  Some devs work on lots of different components in the repos, others are entirely unassociated with the repo other than this or that PR they submit, and there are folks (like me) who spend a lot of time reviewing lots of PRs.  I cannot keep track of different style ru

[2017-08-09 21:06] AtsushiKan commented on #23086
I don't see how explicit sealed on method works against that. It's not like I'm advocating doing **in lieu of** sealing the type itself.

[2017-08-09 21:07] stephentoub commented on #23086
My point was it doesn't help, and for me it hurts other things, namely that seeing it makes me think I actually need to spend time understanding why it was applied.

[2017-08-09 21:10] AtsushiKan commented on #23086
Well yes, because you were specifically changing a class that did follow that discipline and that I used to work on. I haven't been going around projects that I never touched (or even projects that I may have touched once or twice) and insisting they adopt this.

Having fewer unnecessary style rules would promote just that.

[2017-08-09 21:16] stephentoub commented on #23086
And leave the code very haphazard, which has its own downsides.  There is value in style guidelines.  It's one of the reasons VS has recently invested heavily in enabling style to be enforced, why projects like stylecop have flourished, etc.

Nowhere in the class was it commented that it was explicitly following such a discipline.  If it's not guided at a repo level, how do you expect a developer

[2017-08-09 21:18] AtsushiKan commented on #23086
For me, it's exactly the opposite. When I see a method that's unsealed (or appears unsealed), I find myself asking who's expected to override it, why there's an extension point here, whether the fix I'm making in this method requires similar fixes in the overrides. That's extra overhead that can be avoided if there's no need for a method override to be further overridable.

[2017-08-09 21:22] fiigii commented on #22940
The Intel hardware intrinsics are really helpful to library implementation. As I know, however, mscorlib cannot rely on other managed assemblies (i.e. CoreFX). If we want these intrinsics to be used in mscorlib (i.e. `System.Math/MathF`), do we have to change the organization of intrinsics or something of runtime inside?

[2017-08-09 21:24] corivera commented on #23056
@bartonjs Are you aware of any recent OpenSSL issues on SUSE?

[2017-08-09 21:28] AtsushiKan commented on #23086
In this specific case, local consistency is a good guide. And when that fails, note it in a PR that was done here.

[2017-08-09 21:28] mellinoe commented on #22940
The intrinsics need to be implemented in System.Private.CoreLib ("mscorlib"). Fundamentally, they need to be implemented in the runtime itself anyways -- there is no feasible way to implement these "out of band." As discussed above (or perhaps in another issue somewhere), System.Private.CoreLib can't depend on any other assemblies, because it is the core assembly. We want to be able to use these i

[2017-08-09 21:37] bartonjs commented on #23056
@corivera Nope, but it sounds like (e.g.) the server was only wiling to speak SSL3 and the client was only willing to speak TLS 1.2.

[2017-08-09 21:43] 4creators commented on #22940
@mellinoe Do you expect that all intrinsics will be implemented in `System.Private.CoreLib`?
If yes this would require several thousand methods - full support for AVX512 only would take around 2k methods (including overloads). If later ARM SVE intrinsics would be added for all vector sizes (16 different vectors) we would get into combinatorial explosion.

[2017-08-09 21:51] benaadams commented on #22940
Does ARM have individual instructions for each vector size or is it a length parameter?

[2017-08-09 21:56] corivera commented on #23056
Looks like the local TDS server endpoint the tests connect to only supports TLS 1.2. https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/tests/Tools/TDS/TDS.EndPoint/TDSParser.cs#L46

Could this be an issue with the test machines not supporting the latest TLS versions?

[2017-08-09 22:01] 4creators commented on #22940
Currently ARM ISA SIMD implementation supports only 128 bits register size and 1 to 1 vector - instruction relationship. I would suppose that while finalising SVE design they could go different ways i.e. like Intel where prefix (VEX, EVEX) are used to differentiate instructions plus register data are encoded in some parts of the instruction or using another coding scheme. Currently we do not know

[2017-08-09 22:08] benaadams commented on #22940
Depends what the instructions are, if they are all the same but with param in register or as argument, it could be `Load(* , n)` to opaque `armRegister` type; then functions taking `armRegister`

[2017-08-09 22:13] mellinoe commented on #22940
@4creators Yes, the "naive" design is to simply implement them all in System.Private.CoreLib. But by "all", we really mean "all of the instructions that we deemed important enough or received a contribution for". There are certainly many instructions that are not useful or interesting to expose directly, and in any case this feature requires that each individual intrinsic be recognized specially a

[2017-08-09 22:39] caesar1995 commented on #20395
The problem here is HttpListenerWebSocketContext has direct access to the ManagedWebSocket's `SendAsync` method.

[code]

Inside the method, we has a `ThrowIfInvalidState()`, which does:
1. If current state is valid && the websocket has been disposed, throw `ObjectDisposedException`.
2. If current state is not valid, throw `WebSocketException`.

For Windows non-uap implementation, we has a [dispos

[2017-08-09 22:42] 4creators commented on #22940
My impression was that there are two sets of instructions being discussed:

1. Those needed for internal use in `System.Private.CoreLib`
2. Those which are exposed via external assembly and which comprise majority or all of SIMD and other special instructions

For runtime developers the first set is most important for developers working on domain specific libraries it would be the availability of

[2017-08-09 22:53] mellinoe commented on #22940
@4creators Even in that second category, the "real" functionality itself will need to be implemented in the JIT and runtime -- there's no way to do it outside of the coreclr repository, or "out-of-band" in any way. You can define function stubs wherever you want, but it doesn't matter unless they are understood by the JIT/runtime. Because of that, I don't see a lot of value in allowing them to be

[2017-08-09 23:31] Clockwork-Muse commented on #23080
Ah, okay.

(side note: that way of writing a lazy generation isn't threadsafe, but I don't know your usecase well enough to say whether it's good enough for your purpose)

[2017-08-09 23:39] Clockwork-Muse commented on #23068
Um, out of curiosity, how long is a logging scope supposed to last?

[2017-08-09 23:45] weitzhandler commented on #23080
It's not supposed to be thread safe. Single threaded app, and the containing class is managed and provided via IoC.

[2017-08-10 02:07] dotnet-mc-bot opened #23095 "Test: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Diagnostics.Tests.ProcessStartInfoTests.StartInfo_TextFile_ShellExecute()
Build : 2.0.0 - 20170810.02 (Core Tests)
Failing configuration

[2017-08-10 02:09] Jiayili1 commented on #20390
This issue is repro in 2.0.0, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170810.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticCancelledLogging

[2017-08-10 02:44] Tratcher commented on #23077
Here's a more complete version of my options proposal above.
[code]

Observations:
- `public delegate X509Certificate LocalCertificateSelectionCallback(object sender, string targetHost, X509CertificateCollection localCertificates, X509Certificate remoteCertificate, string[] acceptableIssuers);` could almost be re-used for the callback form of SNI.
- I included settings previously specified in the

[2017-08-10 03:03] jnm2 commented on #23077
@Drawaes Did you mean "additions" or "editions" in the title?

[2017-08-10 06:04] dotnet-mc-bot opened #23096 "Test failure: MonoTests.System.Data.DataRowExtensionsTest/Field_T_DBNullFieldValue"
Opened on behalf of @Jiayili1

The test `MonoTests.System.Data.DataRowExtensionsTest/Field_T_DBNullFieldValue` has failed.

System.TypeInitializationException : A type initializer threw an exception. To determine which type, inspect the InnerException's StackTrace property.\r
    ---- System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

[2017-08-10 06:09] hannespreishuber commented on #22911
to come back on that, any documentation what have to been installed? update to Windows Insider Build, took new sdk from yesterday, same result.

[2017-08-10 06:21] dotnet-mc-bot opened #23097 "Test: System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/StartInfo_TextFile_ShellExecute` has failed.

Could not start C:\\\Users\\\DotNetTestRunner\\\AppData\\\Local\\\Temp\\\ProcessStartInfoTests_i1jilq44.ypx\\\StartInfo_TextFile_ShellExecute_1008_15160bef.txt UseShellExecute=True\r
    Association details for '.txt'\r
    ------------------------------\r
    Open

[2017-08-10 06:42] dotnet-mc-bot opened #23098 "Test: System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_StreamToStream_KerberosAuthDefaultCredentials_Success failed with "Interop+NetSecurityNative+GssApiException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.NegotiateStreamTest/NegotiateStream_StreamToStream_KerberosAuthDefaultCredentials_Success` has failed.

Interop+NetSecurityNative+GssApiException : Gss api operation failed with error : An invalid status code was supplied (Preauthentication failed).

        Stack Trace:

           at Microsoft.Win32.SafeHandles.SafeGssCredHandle.

[2017-08-10 06:44] dotnet-mc-bot opened #23099 "Test: System.Net.Sockets.Tests.ConnectSyncForceNonBlocking/Connect_MultipleIPAddresses_Success failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.ConnectSyncForceNonBlocking/Connect_MultipleIPAddresses_Success(listenAt: 127.0.0.1)` has failed.

Timed out while waiting for connection\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Sockets.Tests.Connect`1.Connect_MultipleIPAddresses_Success(IPAddress listenAt)
Build : Master - 20170810

[2017-08-10 06:48] dotnet-mc-bot opened #23100 "Tests under: DataContractSerializerTests failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `DataContractSerializerTests/DCS_BasicPerSerializerRoundTripAndCompare_Collections` has failed.

XML comparison is also failing
    Test failed for input: SerializationTestTypes.ObjectContainer
    Expected: <ObjectContainer xmlns=\"http://schemas.datacontract.org/2004/07/SerializationTestTypes\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><_data i

[2017-08-10 06:50] Jiayili1 commented on #23100
Failed tests:
DCS_BasicPerSerializerRoundTripAndCompare_Collections
DCS_BasicPerSerializerRoundTripAndCompare_Collections_FailedInuapaot_InCollections
DCS_BasicPerSerializerRoundTripAndCompare_ItRef
DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes

[2017-08-10 07:03] Jiayili1 opened #23102 "System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging failed in CI"
Failed test: System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticSourceUrlFilteredActivityLogging

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-10 07:17] Jiayili1 commented on #22434
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/137/testReport/

[2017-08-10 10:07] anjmao commented on #23009
@benaadams Hi, I'm trying to set MaxConnectionsPerServer but I feel like it is not working. I found this this code
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.MultiAgent.cs#L261

Is there any tutorial or documentation how I can enable EventSourceTrace and see logs inside docker container? Thanks in advice.

[2017-08-10 11:13] hannespreishuber commented on #22725
running on 25609-2, without SqlClient reference, SQL Server on local machine
Exception SQLClientException .. a network related... server not found....could not open connection
same code on same machine WPF works.
integrated Security=true

[2017-08-10 11:39] stephentoub commented on #23009
System.Net.Http on unix uses an EventSource for tracing.  There are two ways to enable that tracing:
1. Use perfcollect: https://github.com/dotnet/coreclr/blob/027180d8ef4a8a0e50f4cba3ad985af38882f5ef/Documentation/project-docs/linux-performance-tracing.md
2. In your project, instantiate an EventListener-derived type to receive all of the events, and then do with them what you want.  For example,

[2017-08-10 11:41] hannespreishuber commented on #22725
OK, runs now- you have to open tcp as protocol, firewall as app and restart SQL server service  (crosscheck telnet form a remote machine on 1433)
so my guess is, the network layer works kind a diffrent

[2017-08-10 12:19] aobatact commented on #574
Is there any plan of making thread-safe version like ConcurrentQueue?

[2017-08-10 12:29] anjmao commented on #23009
Thanks @stephentoub :)

Some more investigations:
1) Set Env variable CURLHANDLER_DEBUG_VERBOSE=true
2) Set HttpClient MaxConnectionsPerServer=1000
3) Run wrk with 50 connections for only 10 seconds.
4) At first it looks like connections are reused and I see curl trace messages `Re-using existing connection!`
5) After some time I start getting `Connection cache is full, closing the oldest one.` ht

[2017-08-10 13:05] #22613 closed

[2017-08-10 13:05] #22614 closed

[2017-08-10 14:24] tuespetre commented on #10525
Alrighty then... so I've based this off of the public API for `MediaTypeHeaderValue`:

[code]

`Relations` should be implemented as a hash set using a case-insensitive comparer as per [section 4.1](https://tools.ietf.org/html/rfc5988#section-4.1) and [section 4.2](https://tools.ietf.org/html/rfc5988#section-4.2).

[2017-08-10 14:29] benaadams commented on #10525
`IList` rather than `ICollection`? `ICollection` you can't do much with other than box an enumerator

[2017-08-10 14:43] tuespetre commented on #10525
Won't `IList<T>` result in boxing too, since the interface returns an `IEnumerator<T>`? I could see having a specialized `LinkRelationCollection` class, though; at least then the case-insensitive behavior would be explicit in addition to being able to avoid boxing the enumerator.

[2017-08-10 14:47] benaadams commented on #10525
You can iterate over an `IList<T>` with a regular `for` loop by index and not box, or double call interface methods (e.g. cache length and call `this[int]` rather than `Current` + `MoveNext` per iteration)

[2017-08-10 15:06] tuespetre commented on #10525
Oh, duh 🤦‍♂️

[2017-08-10 15:13] stephentoub commented on #23086
I don’t believe that’s a viable approach.  It encumbers the developer with needing to spend time analyzing the style of every file they touch, and it encumbers the reviewer(s) with needing to do the same.

So a subsequent developer touching a file needs to go through the commit history to review every change made to that file?

And that's of course fine: every developer has their own preferences,

[2017-08-10 15:44] AtsushiKan commented on #23086
I don't think the encumbrance is anywhere near as high as you're making it out to be. The 90% case is that same group of developers is working on the project. These people will know the local tradition for sealed and whether anyone even cares about that edge case in that project (so far, we only have two people who care - albeit in opposite directions.) Every once in a while, you get the "guest" c

[2017-08-10 15:56] joperezr commented on #23096
@nchikanov looks like these are the tests that you added yesterday, do you mind taking a look? @JeremyKuhne do we expect DataSetExtensions to work with UAP?

[2017-08-10 15:58] karolz-ms opened #23108 "Activity paths for events collected via EventListener are incorrect for Stop events"
Run the following program, targeting Core CLR 2.0:

[code]

Note that the activity GUID for the MyActivityStop event is a null GUID

Expected: the activity GUID for the MyActivityStop event should be a valid activity ID, same as for MyActivityStart and "In task" events.

@vancem  and @brianrob  think this is indeed an issue and not by design

Originally reported by @ghelyar https://github.com/Azur

[2017-08-10 16:05] Clockwork-Muse commented on #23080
Being managed/provided by IoC means nothing about thread safety, including if you instantiate one container for one contained object.  Generally speaking IoC managers aren't going to know about the threading conditions of where the object is being used, and expect you to handle things accordingly.
Still, assuming your base collection is stable, effects would be minimal, mostly limited to occasiona

[2017-08-10 16:40] danmosemsft commented on #23102
@Jiayili1 please include URL and platform thanks.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170810.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest~2FSendAsync_ExpectedDiagnosticStopOnlyActivityLogging

[2017-08-10 16:49] danmosemsft commented on #23095
Interesting, previously we only saw this for Win8 (aka Server 2012 R2) and disabled it for that https://github.com/dotnet/corefx/issues/20388

this is the first case for Win10. I wonder if ShellExec is just slightly flaky.

[2017-08-10 16:52] danmosemsft commented on #23095
This will never happen in master because we added a check for null.

            using (var process = Process.Start(info))
            {
                Assert.True(process != null, $"Could not start {info.FileName} UseShellExecute={info.UseShellExecute}\r\n{GetAssociationDetails()}");

[2017-08-10 16:53] danmosemsft commented on #23097
The spew above seems right. I think this is a dupe of https://github.com/dotnet/corefx/issues/23095 but it fails on the assert instead, which is only in master.

[2017-08-10 16:53] danmosemsft commented on #23095
dupe with diff msg. https://github.com/dotnet/corefx/issues/23097

[2017-08-10 16:53] #23095 closed

[2017-08-10 16:54] JeremyKuhne commented on #23096
@joperezr There isn't anything about DataSetExtensions itself that should prevent running on UAP that I'm aware of. @nchikanov isn't going to be able to do much with this- it looks like an ILC issue at first glance. Can we find someone who can look at it from that perspective?

[2017-08-10 16:55] danmosemsft commented on #23096
@AtsushiKan comments? Putting this in 6.0 milestone since a ILC issue would go there.

[2017-08-10 16:57] danmosemsft commented on #23054
@dotnet/dnceng should we move this to core-eng?

[2017-08-10 16:58] danmosemsft commented on #23039
@tijoytom this still reproes at least in master.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170810.02/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_UapExistAndAccessible(folder:%20Cookies)

[2017-08-10 17:01] danmosemsft commented on #22385
+1 for that suggestion.

[2017-08-10 17:02] mmitche commented on #23054
@danmosemsft @stephentoub This seems like something that should be handled by the product team.  There are a bunch of places already in the CI definitions where we extend the timeout.

[2017-08-10 17:05] AtsushiKan commented on #23096
System.Data.DataSetExtensions.dll is reflection on one of its non-public types here:

https://github.com/dotnet/corefx/blob/df4ba0d2d8a83179d4c6a028acf1c959bc732bab/src/System.Data.DataSetExtensions/src/System/Data/DataRowExtensions.cs#L157

and this library is not opted out of Reflection blocking.

That's the likely fix - opt it out of Reflection Blocking and possibly add an rd.xml for `UnboxT<>`

[2017-08-10 17:18] danmosemsft commented on #23096
Doh, I just assumed UnboxT was somthing in reflection itself

[2017-08-10 17:21] krwq commented on #23000
I'll disable this test with this issue so that we remember we need to enable it back once all CIs are on newest RS3 or higher

[2017-08-10 17:29] krwq commented on #23000
I have just run those tests locally on uapaot and I see more failures than this:
`System.Configuration.ConfigurationManager.Tests  Total: 567, Errors: 0, Failed: 28, Skipped: 0, Time: 1.419s`

all of them fail with `The process has no package identity. (Exception from HRESULT: 0x80073D54)`

@JeremyKuhne is this expected? I'm on RS2.
cc: @tijoytom

[2017-08-10 17:33] AtsushiKan commented on #23096
@michals, @jkotas, @morganbr

Getting some extra eyes on this.

This library has an internal `UnboxT<T>` class https://github.com/dotnet/corefx/blob/df4ba0d2d8a83179d4c6a028acf1c959bc732bab/src/System.Data.DataSetExtensions/src/System/Data/DataRowExtensions.cs#L144  which does exactly what its name implies: takes a boxed T and returns an unboxed T. T is controlled by the app so it's unbounded.

Wh

[2017-08-10 17:36] mstephano commented on #16598
I got the exact same problem where I wanted to make a GET using HttpClient, and the property UseDefaultCredentials=true is not behaving the same as when debugging locally in VisualStudio or attached to a Docker container. Here is my example of code:

[code]

My solution is to use RestSharp librairy (http://restsharp.org/) and it seams to work using the default constructor (it is using CredentialCa

[2017-08-10 17:46] AtsushiKan commented on #23096
Hmm.. it looks like this does the trick (tested on full framework.)

[code]

[2017-08-10 17:49] MattGal commented on #23054
I just want to point out that in regular execution we see individual work items time out semi-randomly in the official runs ( A quick query shows it to be biased towards Performance, Xml, and Network tests).  If a single work item spins forever in a Jenkins run, the job will timeout.

As such it may make more sense to do a coverage run where you keep track of test start/stop times in one of these

[2017-08-10 17:52] jkotas commented on #23096
` !type.IsGenericTypeDefinition` check is unnecessary - it will be always true.

[2017-08-10 18:09] shmao commented on #23100
@JimboWei can you please take a look at the issue? It looks like we should specify the format for time strings.

[2017-08-10 18:45] Drawaes commented on #23077
Fixed :)

[2017-08-10 18:45] danmosemsft commented on #23096
ugh, I should have inspected the code before batting this issue around.

[2017-08-10 19:02] danmosemsft commented on #22599
Similar for the serialization constructors if they're public/protected but for these they weren't.

[2017-08-10 19:04] corivera commented on #22725
@hannespreishuber SqlClient on UWP uses TCP by default when no protocol is specified in the connection string. Framework SqlClient also tries named pipes if TCP fails in that case, but we've found that named pipes isn't always supported on the platforms Core SqlClient runs on.

[2017-08-10 19:32] Matthias247 commented on #23077
@Tratcher If you go the way with the `Options` structures (which I think is a good way for APIs with many configuration options) I would recommend to go one step further: Remove all setters from the `Options` and create them through some additional `Builder`s.

That has several advantages:
- `Options` can be truly immutable and savely be shared between multiple auth handlers. Otherwise users might

[2017-08-10 19:41] geleems commented on #22719
@Jiayili1 It failed to get connection from connection pool due to timeout. The timeout was set to ***1ms*** in the test, and the cause seems to be system performance rather than connection pool problem. Did you try again after facing the failure?

[2017-08-10 19:42] Drawaes commented on #23077
100% agree with above. Today the Unix pal is creating things that could be shared resources... I have been thinking about this and the issue comes around destruction of the shared resources but that is an implementation detail.

[2017-08-10 19:49] #23096 closed

[2017-08-10 20:51] stephentoub commented on #21472
I've been thinking about this more, and I agree this is a worthwhile thing to add, with a few tweaks:
- We should add a synchronous CopyTo in addition to the asynchronous CopyToAsync.
- They should be virtual: the base implementation can allocate an intermediate stream as was shown earlier, but derived implementations can do better than that in various situations and avoid that.
- They should use

[2017-08-10 21:02] shiftylogic opened #23116 "Packages built from master incorrectly target netcoreapp2.0"
Opened with @ericstj

Changes like https://github.com/dotnet/corefx/commit/1d3cc0417753bf0a436824abfeff9c3c1712f63f have moved components inbox for `netcoreapp2.0` but those components were not inbox in the actual 2.0 release.  We need to retarget to `netcoreapp2.1` in master and audit these additions and move them to `netcoreapp2.1`

/cc @weshaggard @mellinoe @JeremyKuhne

[2017-08-10 21:11] corivera commented on #23056
Issue does not repro for me on OpenSUSE with release tests in release/uwp6.0

[2017-08-10 21:21] svick commented on #21472
@stephentoub Would using `Span<byte>` instead of `Buffer<byte>` make sense for `CopyTo`? Though it would require using a custom delegate type (not `Action`) and it would also mean that `CopyTo` and `CopyToAsync` would be inconsistent (one would use `Span`, the other `Buffer`).

[2017-08-10 21:24] stephentoub commented on #21472
Potentially... but the two reasons you outlined were why I suggested `ReadOnyBuffer<byte>` instead.  I don't feel strongly about it, though; I'd be ok with using `ReadOnlySpan<byte>` (and a custom delegate) if folks wanted to stick with the "always-use-span-for-sync" approach.

[2017-08-10 21:28] davidfowl commented on #21472
Apparently generic virtual dispatch is the worst. That's why I avoided it here.

/cc @vancem

[2017-08-10 21:39] safern commented on #22385
Thanks @AntonLapounov for re-enabling the test.

[2017-08-10 22:21] klick-barakgall commented on #5381
@JonHanna

Hey, I'm having an issue where it seems like `BaseType` is not defined?

`'Type' does not contain a definition for 'BaseType' and no extension method 'BaseType' accepting a first argument of type 'Type' could be found (are you missing a using directive or an assembly reference?)`

Is this right, or am I doing something wrong?

[2017-08-10 22:40] halter73 commented on #23068
@Clockwork-Muse It's only supposed to last the duration of request. In the Kestrel tests, we were storing the scope in TestApplicationErrorLogger and never clearing it, so in that case I expected it to be rooted for the duration of the test.

[2017-08-10 23:23] safern commented on #22385
So we got what we wanted, it just hung again:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170810.02/workItem/System.Collections.Concurrent.Tests/wilogs

[2017-08-10 23:49] Priya91 opened #23119 "Update package versions to service release/1.1 and 1.0 branches."
I went through the history of the release/1.1 branch, this [commit](https://github.com/dotnet/corefx/commit/9e98f24f508d2cda97f10474a86052f51bc9c7e3), which is an update after the servicing release. From then these are the concrete product commits,

1. [Interop.MountPoints.cs](https://github.com/dotnet/corefx/commit/3d2debcf3f4fb7ce06f58c0b617348835e9036c8) by @wfurt
2. [WinHttpHandler](https://gi

[2017-08-11 00:52] Jiayili1 commented on #23102
@danmosemsft Yes, I forgot it, I will remember it, thanks.

[2017-08-11 02:14] dotnet-mc-bot opened #23121 "Test: System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom/BeginReceiveMessageFromV4BoundToAnyV6_Success failed with "System.TimeoutException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom/BeginReceiveMessageFromV4BoundToAnyV6_Success` has failed.

System.TimeoutException : The operation has timed out.

        Stack Trace:

           at System.Net.Sockets.Tests.DualModeConnectionlessReceiveMessageFrom.BeginReceiveMessageFrom_Helper(IPAddress listenOn, IPAddress connectTo, Boo

[2017-08-11 02:25] dotnet-mc-bot opened #23122 "Test: System.Diagnostics.Tests.StackFrameTests/Ctor_SkipFrames(skipFrames: -1) failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.StackFrameTests/Ctor_SkipFrames(skipFrames: -1)` has failed.

Expected GetILOffset() 0 for BuildStackFrame at offset 96 in file:line:column <filename unknown>:0:0\r
     to be greater than zero.\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Diagnostics.Tests.StackFrameTests.VerifyStackFrameSk

[2017-08-11 02:36] #18212 closed

[2017-08-11 02:59] JeremyKuhne commented on #23000
@krwq not expected- don't understand why it would fail like this given that we've been using the exact same API in IsolatedStorage forever (`ApplicationData.Current.*`).

[2017-08-11 03:03] dotnet-mc-bot opened #23123 "Test: System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.Tests.DiagnosticTest/ConnectionOpenAsyncErrorTest` has failed.

System.IO.IOException : RemoteInvoke cannot open the remote service. Open Service Status: AppUnavailable

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvoke(MethodInfo method, String[] args, RemoteInvokeOptions options, Boolean paste

[2017-08-11 04:14] stephentoub commented on #12915
Not exactly sure what you mean, but basically corefx master expects to work with the current coreclr master; corefx is updated typically at least once a day if not multiple times a day to the latest published coreclr build, so it's generally always in a good shape to use a locally built coreclr.

[2017-08-11 05:07] davkean opened #23125 "System.Collections.Immutable.ImmutableList`1+Enumerator[System.Collections.Generic.KeyValuePair`2[System.__Canon,System.__Canon]].Dispose() takes 17 ms to JIT"
Looking at some perf problems with MSBuild, [we're spending lots of time JITing](https://github.com/Microsoft/msbuild/issues/2419), this one in particular stood out:

JitTime (msec) | ILSize | NativeSize | Method | BG | Module
--- | --- | --- | --- | --- | ---
17.4 | 74 | 163 | System.Collections.Immutable.ImmutableList1+Enumerator[System.Collections.Generic.KeyValuePair2[System.__Canon,System.__C

[2017-08-11 05:19] benaadams commented on #23125
Method for reference

https://github.com/dotnet/corefx/blob/1fe52f7ff4e29462f75da9ae1c35d9789ad13709/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.Enumerator.cs#L150-L162

[2017-08-11 05:21] davkean commented on #23125
On that inline reference is nice.

[2017-08-11 05:27] benaadams commented on #23125
Doesn't do the inline reference in coreclr; I had to copy and paste code; like an animal...

[2017-08-11 05:28] davkean commented on #23125
That's it, this feature is useless to me. Turn it off @github!

[2017-08-11 05:32] tijoytom commented on #23000
@krwq @JeremyKuhne @danmosemsft  Is this newly enabled tests ? The error seem to suggest that it should run inside app-container which is not the case of UAP-AOT tests.

[2017-08-11 05:37] hannespreishuber commented on #22725
it seems Shared Memory lcp:(local) is not implemented?

[2017-08-11 06:03] Jiayili1 commented on #22627
failed again in UWP6.0 branch, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170811.01/workItem/System.Net.Requests.Tests/analysis/xunit/System.Net.Tests.HttpWebRequestTest~2FTimeout_SetTenMillisecondsOnLoopback_ThrowsWebException

[2017-08-11 06:19] davkean commented on #23125
Make note that we've NGEN'd Immutable - so these are methods being JIT'd above and beyond what's NGEN'd.

In this trace, it took a total of 35ms to JIT immutable in the following:

Start (msec) | JitTimemsec | IL Size | Native Size | Method Name | BG | Module
-- | -- | -- | -- | -- | -- | --
3,038.615 | 1.6 | 12 | 54 | System.Collections.Immutable.ImmutableDictionary.CreateBuilder(class System.Col

[2017-08-11 06:50] Jiayili1 commented on #23037
Failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_debug/136/testReport/System.Net.Http.Functional.Tests/HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20IfHttp2Supported_server__https___http2_akamai_com__/

[2017-08-11 06:54] Jiayili1 commented on #23102
Failed again on OuterLoop_netcoreapp_rhel7.2_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_debug/137/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceLogging/

[2017-08-11 06:56] Jiayili1 commented on #22434
failed again in OuterLoop_netcoreapp_ubuntu14.04_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/138/testReport/

[2017-08-11 06:58] Jiayili1 commented on #23121
This issue is repro in OuterLoop_netcoreapp_win7_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/159/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromAsyncV4BoundToAnyV4_Success/

[2017-08-11 07:59] aL3891 commented on #21568
Id love to see httpclient work on a model similar to the new transport/protocols model on the server side (https://github.com/aspnet/KestrelHttpServer/issues/1980)

The way I see it, Httpclient should only deal with things like remembering and passing along cookies, http parsing should be done by a layer below that, and the transport/connection management should be done by a layer below that

[2017-08-11 08:27] ghelyar commented on #23108
Just a note that the activity ID is not always missing, it's just off by one level.

With nested Start/Stops e.g. Start, Start, Stop, Stop as in the code from the linked issue
Expected:
Start: //1/1/
Start: //1/1/1 (related: //1/1/)
Stop: //1/1/1
Stop: //1/1/

Actual:
Start: //1/1/ (correct)
Start: //1/1/1 (related: //1/1/) (correct)
Stop: **//1/1/** (incorrect)
Stop: **null** (incorrect)

[2017-08-11 10:20] hughbe opened #23127 "DesignerOptionService.DesignerOptionCollection.Properties does not update cached version when children update"
In System.ComponentModel.TypeConverters, DesignerOptionCollection caches the value of the `Properties` field. The cached value never updates, even if the properties would be different.
In the example below, accessing `Properties` before adding a child causes the value of Properties to be cached and be out of date. Accessing `Properties` after adding a child causes the value to be correct

[code]

[2017-08-11 11:34] #22911 closed

[2017-08-11 12:12] stephentoub opened #23128 "ManagedHandler: Sends client cert when it shouldn't"
The Manual_SendClientCertificateWithServerAuthEKUToRemoteServer_Forbidden test is disabled for the ManagedHandler.  According to the comment in the test, "The managed handler is currently sending out client certificates when it shouldn't."  Needs to be investigated and either the src or the test fixed.

[2017-08-11 12:14] stephentoub opened #23129 "ManagedHandler: Soliciting Ok instead of Unauthorized response with credential redirect test"
The GetAsync_CredentialIsNetworkCredentialUriRedirect_StatusCodeUnauthorized is disabled for the ManagedHandler.  According to the comment, "The managed handler is currently getting Ok when it should be getting Unauthorized."  Either the src or the test needs to be fixed.

[2017-08-11 12:15] stephentoub opened #23130 "[ManagedHandler] Implement support for trailing headers"
The implementation currently lacks this support and doesn't deal with with responses that have them.  At the very least it needs to be able to ignore them, but right now requests with them fail.

[2017-08-11 12:16] blackstarzes commented on #21534
@karelz I haven't heard anything further on this. What are the next steps to actually make a contribution?

[2017-08-11 12:16] stephentoub opened #23131 "[ManagedHandler] Disposing the handler should initiate cancellation of requests"
According to the comment, "the ManagedHandler isn't correctly handling disposal of the handler. It should cause the outstanding requests to be canceled with OperationCanceledExceptions, whereas currently it's resulting in ObjectDisposedExceptions."

[2017-08-11 12:17] stephentoub opened #23132 "ManagedHandler: Support 1.0 requests"
Currently the handler throws an exception for 1.0 requests.  It needs to tolerate them.

[2017-08-11 12:41] stephentoub opened #23134 "HTTP/2 support"
ManagedHandler should support HTTP/2.

[2017-08-11 12:45] stephentoub opened #23135 "[ManagedHandler] Basic auth can't handle ':' in domain name"
Some of the theory inputs to Proxy_BypassFalse_GetRequestGoesThroughCustomProxy are failing as a result.

[2017-08-11 12:45] stephentoub opened #23136 "[ManagedHandler] SSL proxy tunneling is not yet implemented"
It should be implemented.

https://github.com/dotnet/corefx/blob/b265a0f0066dbce3cf4845c25444fe85266c81d0/src/System.Net.Http/src/System/Net/Http/Managed/HttpProxyConnectionHandler.cs#L62-L66

[2017-08-11 12:47] stephentoub opened #23137 "ManagedHandler: ServerCertificateCustomValidationCallback returning unexpected errors"
From the comment in UseCallback_BadCertificate_ExpectedPolicyErrors_Helper:
"This test is failing with the managed handler on the exact value of the managed errors, e.g. reporting "RemoteCertificateNameMismatch, RemoteCertificateChainErrors" when we only expect RemoteCertificateChainErrors."
The src or the test need to be fixed.

[2017-08-11 12:48] stephentoub opened #23138 "[ManagedHandler] Several SSL version verification tests are failing"
GetAsync_AllowedSSLVersion_Succeeds
GetAsync_SupportedSSLVersion_Succeeds

[2017-08-11 12:49] stephentoub opened #23139 "Test failure: HttpClientEKUTest tests are disabled"
These tests are disabled due to failures.  The failures need to be investigated to determine whether there's missing functionality, bugs, etc., or whether the tests should be fixed, aren't applicable, etc.

[2017-08-11 12:50] stephentoub opened #23140 "ManagedHandler: ManagedHandler_DefaultCredentialsTest tests are disabled"
These tests are disabled for the managed handler.  They need to be investigated and either src or tests fixed.

[2017-08-11 12:52] stephentoub opened #23141 "[ManagedHandler] Improve cancellation support when sending/receiving data"
The ManagedHandler_CancellationTest tests are disabled because sockets don't support canceling individual operations.  We might be able to address this once https://github.com/dotnet/corefx/issues/22608 is implemented and the associated cancellation support is enabled.  We could also employ a variety of workarounds, including ending the whole request on cancellation by disposing of the connection,

[2017-08-11 12:53] stephentoub opened #23142 "[ManagedHandler] Implement MaxResponseHeadersLength"
We currently don't track the amount of header data received, and thus don't enforce MaxResponseHeadersLength.

[2017-08-11 12:55] stephentoub opened #23143 "ManagedHandler: Size overflow needs to be handled in ParseHexSize"
We should just see how WinHttpHandler and CurlHandler handle overflow here, and do the same.

[2017-08-11 13:00] stephentoub opened #23144 "ManagedHandler: Support Expect: 100-continue"
We need to add support for this.

[2017-08-11 13:01] stephentoub opened #23145 "ManagedHandler: Enable duplex communication"
Currently the ManagedHandler waits for all of the request content to be sent before parsing the response content.  This prohibits duplex communication and needs to be fixed (both in general, and to be able to reuse the underlying types here in the managed ClientWebSocket implementation).

[2017-08-11 13:02] stephentoub opened #23146 "ManagedHandler: Better cancellation support when transferring request body"
Currently cancellation is ignored while the request body is being transferred.

[2017-08-11 13:03] stephentoub opened #23147 "[ManagedHandler] Avoid string allocations while parsing headers"

[2017-08-11 13:07] stephentoub opened #23148 "ManagedHandler: Move text into .resx"
There are currently strings littered throughout the code.  If they'll be user visible (e.g. exception messages), we should move them into the .resx and unify them with the existing messages, avoiding duplication where possible.

[2017-08-11 13:08] stephentoub opened #23149 "ManagedHandler: Improve timer management in HttpConnectionPools"
Currently the timer continues to run even if there are no active connections on any pool.

[2017-08-11 13:09] stephentoub opened #23150 "[ManagedHandler] Support Windows & Unix environment variables for proxy configuration"
libcurl and other clients respect an established convention for environment variables used to configure proxies.  We should respect these in ManagedHandler as well.

[2017-08-11 13:13] stephentoub opened #23151 "ManagedHandler: Support canceling opening connections"
Right now we use the instance socket.ConnectAsync method, which doesn't give us a way to cancel the connection.  We should investigate other approaches that would allow us to do so, e.g. with SocketAsyncEventArgs and its connection cancellation support, or worst case, disposing of the socket (though that might have reliability concerns).

[2017-08-11 13:15] stephentoub opened #23152 "ManagedHandler: Use the managed handler in ClientWebSocket's managed implementation"
This depends on #23145.

[2017-08-11 13:18] stephentoub opened #23153 "[ManagedHandler] Investigate adding NTLM auth support"

[2017-08-11 13:18] stephentoub opened #23154 "[ManagedHandler] Investigate adding Negotiate auth support"

[2017-08-11 13:19] stephentoub commented on #21452
I've opened a bunch of individual issues for known work associated with the managed handler, so I'm going to close this overall issue now.

[2017-08-11 13:19] #21452 closed

[2017-08-11 13:32] JimSEOW commented on #21803
Instead of pushing WinForm, perhaps consider pushing _Blend for Visual Studio 2017_ to be compatible with **XAML Standard**

[2017-08-11 13:40] jnm2 commented on #21803
Personally, if I had *any* time to spare, it would be fun to do a native UI library from the ground up with all desktop platforms in mind. I've done a fair bit of native windows UI interop and once in a while winforms has gotten in the way more than anything. But realistically, that's a huge amount of work which needs an experienced team.

[2017-08-11 13:45] stephentoub opened #23156 "[ManagedHandler] Investigate adding connection draining support"
Today when we cancel/dispose a response and we've not yet handled all of the expected response data from the server, we abandon the connection rather than putting it back into the pool.  We should investigate adding support for draining the remaining data from the connection, and whether it's worthwhile from a performance perspective (maybe just for https, given the additional overhead associated

[2017-08-11 13:55] stephentoub commented on #23077
My higher-level point was just that we should add cancellation support... I'm not tied to any particular approach for doing so.

[2017-08-11 13:56] Tratcher commented on #23077
Updated with async cancellation and dropping the result objects.
[code]

[2017-08-11 14:45] Drawaes commented on #23077
As said earlier by someone else I have a problem with this being mutable. What if someone changes the supported protocol during a handshake or the ceritifactes list? If this is the way to go it will either need to be copied internally... or it will need to has a builder etc and be immutable once built.

[2017-08-11 15:08] Tratcher commented on #23077
That primarily depends on the reusability. If we say it's reusable then yes it needs to be immutable with a builder. If it's not reusable then people have no need to modify it after the operation starts and you can avoid creating extra builder APIs.
We've used the non-reusable options approach elsewhere and haven't had any trouble with users modifying them out of band.

[2017-08-11 15:23] stephentoub opened #23159 "Test failed: DualModeConnectionlessBeginSendTo.BeginSendToV4IPEndPointToV4Host_Success"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2167/consoleText
[code]

[2017-08-11 16:07] Drawaes commented on #23077
Sure. But this is security. Someone could change or substitute certificates in user code say. It's a can of worms to have it immutable. Today for instance the Sslstream takes a handle from Tue cert and ups the ref count on the unmanaged handle.

 So even if client code does something to the cert it's not an issue. Say you have an option object with safe settings (tls 1.2 only) but you need to conn

[2017-08-11 16:08] AtsushiKan commented on #21000
ClientConfigPaths constructor is attempting a `Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData);` which is throwing an InvalidOperationException from inside WInRT. I assume this is simply an artifact of ILC "UWP" runs not actually running as an AppX.

https://github.com/dotnet/corefx/blob/2c2171f4098abb6d0285e9a115b0d592121057d4/src/System.Configuration.ConfigurationManager/src

[2017-08-11 16:30] Tratcher commented on #23077
Standard usability vs the-ability-to-shoot-yourself-in-the-foot argument. As it's unrelated to the actual SSL features I'll defer to corefx's API design guidance.

[2017-08-11 16:31] geoffkizer commented on #23135
Priya -- I think you wrote some code to handle this for digest -- can we do the same for Basic here?

[2017-08-11 16:32] geoffkizer commented on #23150
Dumb question, why isn't this already done by the IWebProxy stuff?

[2017-08-11 16:42] stephentoub commented on #23150
I'm not sure what you mean.  Can you clarify?

[2017-08-11 16:44] ericstj opened #23165 "Master should remap `netfx` to `net471`"
Related #23116

We should also disable the majority of the `netfx` configurations for things inside netstandard as well as the support package since we aren't shipping them anymore.  New versions of the 4.6.1 support package will come from servicing and every library in `netstandard2.0` is now part of `net4.7.1`.

/cc @weshaggard @AlexGhiondea

[2017-08-11 16:47] danmosemsft commented on #21000
Dupe of https://github.com/dotnet/corefx/issues/21000#issuecomment-321854150

[2017-08-11 16:47] #21000 closed

[2017-08-11 16:47] danmosemsft commented on #23000
@AtsushiKan

[2017-08-11 16:51] danmosemsft commented on #21534
@blackstarzes @karelz was out of town. The next step is typically to formalize the API proposal to our semi standard format eg https://github.com/dotnet/corefx/issues/271
larger process described here https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md
Then @lajones @divega @ajcvickers  as area owners give feedback. if it gets to a mutually agreed state th

[2017-08-11 16:51] danmosemsft commented on #21534
Clearly this shouldn't need a long writeup.

[2017-08-11 16:59] danmosemsft commented on #22902
fixed

[2017-08-11 16:59] #22902 closed

[2017-08-11 17:05] geoffkizer commented on #23150
I'm trying to page back in how all this stuff works.  I believe it's as follows:

There's a method on WebRequest called GetSystemWebProxy.  By default, WebRequest.DefaultWebProxy is set to this.

Unfortunately, the thing returned by GetSystemWebProxy is a fake proxy that just acts as a sentinel to the lower layers, i.e. WinHttpHandler and CurlHandler.

I guess what I'm suggesting is:
(1) We should

[2017-08-11 17:15] davidsh commented on #23150
fyi. This is non-trivial.  reading OS settings might involve WPAD protocol which means using DHCP and looking for a PAC (JavaScript) file on the network. This means using a JavaScript interpreter, etc.  We use WinHttpAuto Proxy Discover service on Windows for this.  Long ago, .NET Framework did JavaScript execution but we deprecated that.

[2017-08-11 17:16] geoffkizer commented on #23150
Here are some related issues:

https://github.com/dotnet/corefx/issues/7037
https://github.com/dotnet/corefx/issues/16695

[2017-08-11 17:18] geoffkizer commented on #23150
@davidsh yeah, I recall that from previous discussions.

That said,
(a) WinHttpClientHandler respects these settings (because WinHTTP does) -- and similarly, CurlHandler respects the Linux convention for these things
(b) We want the managed handler to do the same, I believe
(c) So, we need to do something here to get the settings from the OS

Does that sound right?

[2017-08-11 17:24] joperezr commented on #23123
By the looks of it it does seem that this was caused by flaky infrastructure as opposed to the actual test failing. That said, we should probably make sure by running the test. @saurabh500

[2017-08-11 17:24] joperezr commented on #23123
cc: @corivera since @saurabh500 is oof.

[2017-08-11 17:39] #21004 closed

[2017-08-11 18:38] geoffkizer commented on #23150
For future reference: https://msdn.microsoft.com/en-us/library/windows/desktop/aa384122(v=vs.85).aspx

[2017-08-11 18:45] davidsh commented on #22158
@danmosemsft @jkotas - where would I find the source code to System.Private.Corelib and specifically the `System.StubHelpers.UriMarshaler` class?

I'm trying to debug a .NET to WinRT interop issue regarding the marshaling layer that auto-converts System.Uri to Windows.Foundation.Uri.

[2017-08-11 19:33] #23143 closed

[2017-08-11 19:45] stephentoub opened #23166 "[ManagedHandler] Determine how to ship it, and implement that"
Opt-in/Opt-out? Enabled via an environment variable? Shipped as public API? Etc.  We need a supported way to allow for granular use of ManagedHandler on per-instance basis and not just process-wide.

[2017-08-11 20:04] stephentoub commented on #22430
Fixed by dotnet/coreclr#13163 and #22852

[2017-08-11 20:04] #22430 closed

[2017-08-11 20:17] davidsh commented on #22158
I found this in CoreClr:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/StubHelpers.cs#L647

Is this what is currently being used by UWP apps?

[2017-08-11 20:22] davidsh commented on #22158
cc: @yizhang82

[2017-08-11 20:28] yizhang82 commented on #22158
We simply call IUriRuntimeClassFactory->CreateUri(Uri.originalString).
See https://github.com/dotnet/coreclr/blob/master/src/vm/stubhelpers.cpp#L789, https://github.com/dotnet/coreclr/blob/master/src/vm/ilmarshalers.cpp#L5710, https://github.com/dotnet/coreclr/blob/51e968b013e9b1582035f202e004ed024f747f4f/src/vm/interoputil.cpp#L6900

[2017-08-11 20:46] davidsh commented on #22158
Thanks @yizhang82 !

I have figured out why our test fails.  WinRT Windows.Foundation.Uri is unable to create a URI that has a link-local IPv6 address that includes a scopeid

For example, this URI works:

[code]

But this doesn't:

[code]

We get the scopeid (in this case the "%3") included when we retrieve an IP address via LoopbackServer.GetIPv6LinkLocalAddress()

I will file a bug with WinRT.

[2017-08-11 20:51] krwq commented on #23000
I don't have time to work on this right now. Unassigned myself.

[2017-08-11 21:02] psychohamster commented on #16201
I'm having the issue using 1.1 on CentOS 7, and I'm having trouble trying the workaround as suggested by @Priya91 and @tmds. I can set the LD_LIBRARY_PATH env var with a path that contains a libcurl built against openssl, and have confirmed in the code it's getting it with an Environment.GetEnvironmentVariable("LD_LIBRARY_PATH") call dumping to the console. And yet, when I enable event tracing I c

[2017-08-11 21:57] Drawaes commented on #23077
Sure as I said I am happy either way, with implementation being easier one way but possible for both. It's more a heads up that there are risks with the mutable version that will need to be mitigated.

[2017-08-11 22:06] danmosemsft commented on #22626
@krwq please get a fix for this into master, anything we might want to service, I would like to have baking in master.

[2017-08-11 22:07] danmosemsft commented on #22626
(leave the issue open)

[2017-08-11 22:38] clrjunkie commented on #23156
Does WinHttp drain the response if cancellation happened after issuing the request but before receiving response bytes?

[2017-08-11 22:42] khellang commented on #574
I'd :heart: to see a concurrent version of this, implementing `IProducerConsumerCollection<T>`, so it could be used with `BlockingCollection<T>` etc.

[2017-08-11 23:03] Priya91 commented on #23135
The RFC states that username part of basic auth should not contain ':' [here](https://tools.ietf.org/html/rfc2617#section-2)

[code]

[2017-08-11 23:06] davidsh commented on #23150
WinHttpHandler uses this code (on Windows 7) to support proxy detection/evaluation:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinInetProxyHelper.cs

This code is needed on Windows 7 since WinHTTP didn't have the "automatic detect proxy settings" logic built-in to the main request logic.  This code basically does what .NET Framework does in

[2017-08-11 23:41] iecompattest opened #23169 "test"
dgghdgd
fjkjklgjklgj
df
ff

[2017-08-12 00:03] tarekgh commented on #21427
@ianhays I tried to run the test on the high Sierra machine you pointed to me before and the test is not failing and I am not seeing the test is skipped or disabled

[code]

[2017-08-12 00:06] geoffkizer commented on #23135
I'm not sure.  WinHttpHandler does something here to make this work.  @davidsh do you know what the right behavior here is, and where is this defined?

I thought there were other tests failing because of illegal chars in username as well, but I can't find them now...

[2017-08-12 00:12] tarekgh commented on #21427
I'll assign the issue back to @ianhays and he can assign back to me if he can repro it.

[2017-08-12 01:53] AntonLapounov commented on #22385
I used Helix repro tool, but still cannot reproduce it on my RS3 machine.

[2017-08-12 02:25] #23169 closed

[2017-08-12 03:39] steji113 commented on #23148
@stephentoub is it alright if I grab this one?

[2017-08-12 03:39] blackstarzes commented on #21534
@danmosemsft thanks for the quick response. I'll give it a go in the format from #271 using @tuespetre 's example:

Currently, the `System.ComponentModel.DataAnnotations.Schema.ForeignKeyAttribute` attribute provides a single constructor that takes a `string` parameter. This is used to represent foreign keys using a single column as well as compound foreign keys using multiple columns. The latter

[2017-08-12 03:45] stephentoub commented on #23148
@steji113, please do :)

[2017-08-12 04:12] jnm2 commented on #23169
...and then there's this...
o.O

[2017-08-12 06:21] steji113 commented on #23149
@stephentoub can I have this one, too please?

[2017-08-12 06:49] pgolebiowski commented on #574
@aobatact @khellang It sounds like a completely different thread:

* different API to review,
* probably different namespace,
* probably [a totally different implementation as well](http://www.non-blocking.com/download/SunT03_PQueue_TR.pdf).

[2017-08-12 08:21] bp74 commented on #18164
I've implemented my own ISerializationSurrogateProvider for the immutable types.
Maybe this is helpful for someone else too:
https://github.com/bp74/System.Collections.Immutable.Surrogate

[2017-08-12 09:09] Drawaes commented on #22398
Any update to this as the week has gone?

[2017-08-12 10:14] bp74 commented on #1272
I've implemented the ISerializationSurrogateProvider interface for the most common System.Collection.Immutable types. It works pretty good with DataContractSerializer now.
Please take a look here: https://github.com/bp74/System.Collections.Immutable.Surrogate

[2017-08-12 10:48] Drawaes opened #23177 "Proposed SslStream additions for ALPN"
# Latest Proposal

https://github.com/dotnet/corefx/issues/23177#issuecomment-332995338

[code]

# Previous Proposal

Change log:
* Updated = Removed results object to keep new objects down
* Updated = Meeting notes
* Updated = Removed string overload as there is no clear way in code to tell the user that it's utf-8 and only adds a potential trap
* Updated = Put that string overload back under pro

[2017-08-12 10:49] Drawaes commented on #23077
Closed due to new proposal. It's not very internet cool, but @Tratcher changed my mind so I have ditched my original thinking :)

#23077

[2017-08-12 10:49] #23077 closed

[2017-08-12 10:53] benaadams commented on #23077
You self referenced; think you meant new one is https://github.com/dotnet/corefx/issues/23177

Interesting is exactly 100 issues on :)

[2017-08-12 10:59] Drawaes commented on #23077
![Loop](https://media.giphy.com/media/26FPqSW3io0nfgMUw/giphy.gif)

[2017-08-12 11:42] unicomp21 opened #23178 "Proposal, target WebAssembly w/ .Net Core"

[2017-08-12 12:45] stephentoub commented on #23178
There's an issue already discussing this at https://github.com/dotnet/coreclr/issues/5303, so I'm going to close this one. Thanks.

[2017-08-12 12:45] #23178 closed

[2017-08-12 15:05] fanoI commented on #22940
So what is needed to make this thing reality? I think this is be BIG for C#... it is one of the "excuses" to use C++ and this make it go away.

The work on experimental features must be done on CoreFxLabs?

[2017-08-12 15:14] tannergooding commented on #22940
@fanoI, I don't think anything can be "started" until the API is reviewed and approved.

Based on @fiigii's [comment](https://github.com/dotnet/corefx/issues/22940#issuecomment-321368407), the design review will be this upcoming Tuesday (https://www.youtube.com/watch?v=52Fjrhx7pKU)

Once the API is approved, I imagine that work can actually start.

Maybe @jkotas or @mellinoe could comment, but I w

[2017-08-12 16:06] fanoI commented on #22940
Ah OK the official discussion should yet start... so we need to wait :-)

[2017-08-12 16:33] divega commented on #22991
@haok does the error in the latest comment ring any bells? Could this be a known breaking change in ASP.NET Core Identity 2.0?

@embryologist since the original issue is resolved, it may be a good idea to close this issue and continue the conversation over at at https://github.com/aspnet/identity. A minimal repro would also help a lot as @AlexGhiondea said.

[2017-08-12 17:33] davidsh commented on #23135
I'm not sure what question is being asked.  In general, username and domain names in Windows cannot have ":" characters in them.  WinHttpHandler doesn't have any specific code to enforce that.  It will take the NetworkCredential object as-is.  The only thing it is doing "special" is that if there is a non-empty string for the .Domain property of the NetworkCredential, it is using that as well as .

[2017-08-12 17:46] jnm2 commented on #21534
And that's not even currently possible until we have https://github.com/dotnet/csharplang/issues/384.

[2017-08-12 18:07] #23148 closed

[2017-08-12 20:46] sharwell commented on #1272
Please make sure that whatever serialization logic gets implemented (if any) does not produce results that expose the internal structure of these collections. Several of the collections currently use AVL trees, and we don't want serialization concerns to block progress, e.g. #1502.

[2017-08-12 20:52] stephentoub commented on #22707
May be a different issue, but the test also failed on Windows here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f047e951e42c234a576d8bb9765bd0e6235084bf/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FAllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode:

[2017-08-12 21:14] davidsh commented on #22707
Probably an intermittent connection issue w/ Azure.

[2017-08-13 07:13] bp74 commented on #1272
@sharwell It is serialized like a standard List or Dictionary. If you look at the XML you won't see anything from the internal structure.

[2017-08-13 10:07] #23145 closed

[2017-08-13 10:07] #23146 closed

[2017-08-13 12:38] stephentoub commented on #22688
cc: @weshaggard, @ericstj

[2017-08-13 18:07] huto1 opened #23193 "Could not load file or assembly System.Net.Http Version=4.0.0.0"
Does anyone have any experience with this kind of issue? It is a .net core 1.1 application, I have seen several solutions for similar problems, but they did not seem to work.

[2017-08-13 19:26] geoffkizer commented on #22688
Any ETA on this?  This is blocking my PR.

[2017-08-13 23:51] onovotny commented on #23063
This would be very useful, as there's no current reliable way at runtime to get the currently executing framework and version.

For applications that may run on multiple versions, it can be useful diagnostic info to output (".NET Framework 4.7.1" or ".NET Core App 2.0.1", etc).

As far as I can see, there's no way to do this since `TargetFrameworkAttribute` is not present on either `mscorlib` or `

[2017-08-13 23:53] onovotny opened #23197 "Need consistent way to get Runtime framework version"
For applications that may run on multiple versions, it can be useful diagnostic info to output (".NET Framework 4.7.1" or ".NET Core App 2.0.1", etc).

As far as I can see, there's no way to do this since `TargetFrameworkAttribute` is not present on either `mscorlib` or `System.Private.CoreLib`. Putting those on would be very helpful as well. At least `mscorlib` has an `AssemblyFileVersion` of `4.

[2017-08-14 00:50] karelz commented on #23177
cc @geoffkizer @Priya91 @wfurt

[2017-08-14 00:54] karelz commented on #23125
@davkean did you try to reproduce it by directly using this method and NGen'ing?
That would help us isolate the issue ...

cc @mellinoe

[2017-08-14 00:55] karelz commented on #23119
@Priya91 what else is left? Is it 1.1 or 2.1 bug?

[2017-08-14 00:56] karelz commented on #20903
@divega ping?

[2017-08-14 01:00] embryologist commented on #22991
Excuse my ignorance, what do you mean by repro (reproduction)? I submitted the code earlier. Please close if off topic.

[2017-08-14 01:18] karelz commented on #23193
Did you try .NET Core 2.0 (Preview)?
Do you have a minimal repro?

[2017-08-14 01:20] karelz commented on #23197
I thought we have something like this - at least without the version to distinguish .NET Framework vs. .NET Core.
@weshaggard @terrajobst @danmosemsft do you know more?

[2017-08-14 01:23] onovotny commented on #23197
@karelz, it'd also need to support Mono, Xamarin iOS, Xamarin Android, etc. Basically, "what am I running on now?"

[2017-08-14 02:02] stephentoub opened #23201 "System.Threading.Tasks tests hanging"
In the last few weeks, CI runs have been timing out sporadically due to the System.Threading.Tasks test project hanging.  It looks like it's due to the RunStackGuardTests test; this test is not new nor has it been changed recently.

[2017-08-14 02:08] dotnet-mc-bot opened #23202 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode: 302, oldMethod: \"HEAD\", newMethod: \"HEAD\") failed with "Xunit.Sdk.FalseException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode: 302, oldMethod: \"HEAD\", newMethod: \"HEAD\")` has failed.

Faulted: System.AggregateException: One or more errors occurred. (An error occurred while sending the request.) ---> System.Net.Http.HttpRequestException: An error occurred

[2017-08-14 02:09] Jiayili1 commented on #23202
related issues:
https://github.com/dotnet/corefx/issues/22707
https://github.com/dotnet/corefx/issues/22700

[2017-08-14 02:14] Jiayili1 commented on #23121
Failed tests:
BeginReceiveMessageFromV4BoundToSpecificMappedV4_Success
BeginReceiveMessageFromV6BoundToSpecificV6_Success
ReceiveMessageFromAsyncV6BoundToAnyV6_Success

[2017-08-14 02:18] huto1 commented on #23193
I am unable to get core 2.0 installed, in fact any 2.0 version. Getting package restore failures on that. And I am not sure what a minimal repro is.

[2017-08-14 02:22] karelz commented on #23193
Can you try 2.0 on another machine? (e.g. VM)
Minimal repro = as small repro as possible. Ideally HelloWorld with just few changes.

[2017-08-14 02:26] jamesqo commented on #21055
@AArnott Sorry for the late response.

Of course it will. System.Collections.Immutable already does this trick where it defines overloads of LINQ methods specific to `ImmutableArray`, and those are picked up on instead of the ones in `Enumerable`, correct?

[2017-08-14 02:33] jamesqo commented on #21055
@safern I updated the original proposal-- this can be re-marked as ready-for-review.

[2017-08-14 03:00] davkean commented on #23125
@karelz Not sure I understand what you mean.

[2017-08-14 03:37] benaadams commented on #23125
Seeing if I can get a Jit output. Do you know what the type is?

There is some wild generic use :)
[code]
But can't find a ImmutableList where it gets a KeyValuePair

[2017-08-14 03:49] benaadams commented on #23125
nvm, am following instructions in other issue

[2017-08-14 04:05] AlexGhiondea commented on #22991
Hey @embryologist - by repro we mean a small application that quickly shows the issue. Thanks for sharing the code above. Having it in a small app would help us further investigate.

As to closing the issue -- your question is not off-topic! We simply prefer to have an issue per problem. That way we can track it more easily and it allows us to search for it in the future.

Since the original probl

[2017-08-14 04:12] AlexGhiondea commented on #23063
@danmosemsft the `AppContext` type is primarily used for quirking but has also a few other uses.

On CoreCLR we don't return null. We actually look at [AppDomain.CurrentDomain.SetupInformation.TargetFrameworkName.](
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppContext/AppContext.cs#L47)

On CoreCLR I am not sure we want to read the value from the main exe as a) there mi

[2017-08-14 04:16] divega commented on #20903
@karelz, @FransBouma, and everyone else interested: I am sorry it is taking me much longer than I had hoped to come back to this issue. And I am sorry it is blocked on me. 2.0 has kept me quite busy until the last minute, and today I am starting a family vacation. I will be back before the end of the month, and then I will make this one of my top priorities.

Thanks @karelz for your pacient insist

[2017-08-14 05:30] Joe4evr commented on #574
Why is this a method? Every other collection on the framework that has `IsEmpty` has it as a property.
![](http://i.imgur.com/FqXhNba.png)

[2017-08-14 06:23] dotnet-mc-bot opened #23204 "Test: System.Net.WebSockets.Client.Tests.KeepAliveTest / KeepAlive_LongDelayBetweenSendReceives_Succeeds"
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Client.Tests.KeepAliveTest/KeepAlive_LongDelayBetweenSendReceives_Succeeds` has failed.

System.Net.WebSockets.WebSocketException : The WebSocket is in an invalid state ('Aborted') for this operation. Valid states are: 'Open, CloseReceived, CloseSent, Closed'

        Stack Trace:

           at System.Net.WebSockets.WinRTWebSocket.Che

[2017-08-14 07:05] HaoK commented on #22991
Yeah the IdentityOptions.Cookies were moved in 2.0

`options.Cookies.ApplicationCookie` becomes `services.ConfigureApplicationCookie` in 2.0

[2017-08-14 07:23] timClyburn opened #23206 "WCF ClientBase Close method is private"
I have an existing nuget package that contains some WCF DataContracts, ServiceContracts and proxy classes that I am now attempting to migrate for use in a dotnetcore project in VS2017 (15.2 - 26430.16 release version).
In the code there is a base proxy class that implements ClientBase and IDisposable. The dispose method calls Close() on the ClientBase. It seems now that in assembly System.ServiceM

[2017-08-14 07:44] kierenj commented on #22781
Do let me know if there's a better place to post this/ask for help.  I'm not sure if that's the case, or if this is just low prio (not for me, but I appreciate there's lots of work to do..), or if maybe it's slipped through the gaps - I notice this issue only has one tag, whereas 99% of issues seem to have many.  Also, let me know if I can provide any more information.  Thanks

[2017-08-14 07:49] Jiayili1 commented on #22956
This issue is repro on outerloop_netcoreapp_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_release/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandlerTest/PostAsync_RedirectWith307_LargePayload/

[2017-08-14 07:54] Jiayili1 opened #23207 "System.Net.Sockets.Tests.TimeoutTest.SendTimesOut_Throws failed with "Xunit.Sdk.InRangeException""
Failed test: System.Net.Sockets.Tests.TimeoutTest.SendTimesOut_Throws

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/178/testReport/System.Net.Sockets.Tests/TimeoutTest/SendTimesOut_Throws_forceNonBlocking__False_/

Configuration: outerloop_netcoreapp_win7_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-14 07:59] Jiayili1 commented on #21759
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/178/testReport/System.DirectoryServices.AccountManagement.Tests/PrincipalContextTests/Ctor_ContextType_Name_Container_UserName_Password_contextType__Machine__name__null__container__null__userName____userName____password____password___/

[2017-08-14 08:04] Jiayili1 opened #23208 "System.Xml.Tests.CXmlResolverTest.XmlResolver7 failed in CI"
Failed test: System.Xml.Tests.CXmlResolverTest.XmlResolver7

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug/3994/testReport/System.Xml.Tests/CXmlResolverTest/XmlResolver7_xslInputType__URI__readerType__XmlValidatingReader__outputType__Stream__navType__XPathDocument_/

Configuration: innerloop_netcoreapp_windows_nt_debug

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-08-14 08:07] Jiayili1 opened #23209 "System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging failed with "System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle+RemoteExecutionException""
Failed test: System.Net.Http.Functional.Tests.ManagedHandler_DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/134/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

Configuration: outerloop_netcoreapp_windows_nt_rele

[2017-08-14 10:08] FransBouma opened #23211 "SqlClient v4.4.0 on .NET core 2.0 throws FileLoadException when property's set"
(Using vs 2017, 15.3 preview 17.1, dotnet --version: 2.0.0-preview2-006497)

This code:

[code]

using project file:

[code]
throws:
[code]
Looking into the v4.4.0 SqlClient package, it appears to contain SqlClient v4.2 dll. Not sure whether that's OK or not, but at least it's impossible to do anything with it on .net core 2.0

[2017-08-14 10:10] FransBouma commented on #23211
cc @karelz @divega @saurabh500

[2017-08-14 10:36] FransBouma commented on #23211
Updating the CLI tools to 2.0.1 from dotnet/cli fixes it.

This is very problematic. Installing visual studio 2017 15.3 latest preview should install latest CLI tools, at least if these are used by visual studio. Please fix this mess, it's causing a lot of grief and problems and time wasted. It shouldn't be the case that installing the latest preview of vs 2017 still keeps the dotnet CLI tools on

[2017-08-14 11:07] FransBouma opened #23213 "Binary Serializing an object with a property of type 'Type' fails with SerializationException"
(vs2017 15.3 preview 7.1. dotnet --version: 2.0.1-servicing-006924)

This code:
[code]

results in:
[code]

Looking at RuntimeType in CoreCli, it indeed isn't Serializable, while the type RuntimeType in .NET full is serializable.

This causes problems when porting code over from .NET full to .NET core 2.0 and using BinarySerialization. As the BinaryFormatter is available, one would assume it would

[2017-08-14 11:37] akoeplinger commented on #23197
`RuntimeInformation.FrameworkDescription` is probably the closest we have today (see also the discussion in https://github.com/dotnet/corefx/issues/9725).

[2017-08-14 12:24] JonHanna commented on #23054
Diagnostics catching why something timed out when it should have would certainly also be good.

Meanwhile all of the six coverage runs since I opened this have also timed out.

[2017-08-14 12:35] stephentoub commented on #23054
I don't think extending the timeout will solve all of these woes (it may help with some, it's worth seeing).  Most of them appear to be hitting https://github.com/dotnet/corefx/issues/23201.

[2017-08-14 12:42] #23144 closed

[2017-08-14 13:32] cydhaselton commented on #21503
Just catching up with the responses today; work has been busier than normal.

@sdmaclea you mentioned this:

and @weshaggard, you mentioned this

Based on the above I have some questions before I resume work:

1. My builds of corefx, coreclr and core-setup should use the android.21-arm64 RID.  Should the `build.sh` (or `build-native.sh` and `build-managed.sh`) commands for each repo include that R

[2017-08-14 13:39] damageboy commented on #20684
@sharwell I'm not looking for the API.
I'm looking for ref semantics in order to achieve a 2x latency improvement due to better usage of cache and struct -> register promotion

[2017-08-14 13:46] mikedn commented on #20684
Huh?!

[2017-08-14 14:23] danmosemsft commented on #23201
@kouvel do you have cycles to take a look?

[2017-08-14 14:37] ViktorHofer commented on #23213
`System.RuntimeType` isn't serializable by design in .NET Core >=2.0. As I don't have any usage data for it I kindly ask @morganbr to give some intel on that.

A workaround for your scenario would be to change serializing the FullName of the Type, which is a string, instead of the type object itself. During deserialization you can create the full Type via `Type.GetType(string)`.

[2017-08-14 15:27] stephentoub commented on #23206
This issue was moved to dotnet/wcf#2194

[2017-08-14 15:27] #23206 closed

[2017-08-14 15:34] sharwell commented on #20684
@damageboy You made a claim that ref returns for `Dictionary<TKey, TValue>` would provide a specific amount of benefit for a specific application. It would be good to further understand the benefits this change would have relative to the other standard dictionary implementation in .NET, `ConcurrentDictionary<TKey, TValue>`.

[2017-08-14 15:37] FransBouma commented on #23213
@ViktorHofer The error came as a bit of a surprise, when we ported our .NET full tests over to .NET core 2.0 and a test broke on this issue. It appears that we serialize the type a field has into the data so we can rebuild the graph as-is on the other side as otherwise it's not possible to obtain that data. I know the use-case isn't that common, but it is what it is ;)

The workaround you suggest

[2017-08-14 15:51] stephentoub commented on #23213
When we brought BinaryFormatter to .NET Core for 2.0, we also made serializable every type that was serializable in .NET Framework. But this also came with some heavy baggage: runtime serialization exposes lots of inner implementation details, which means optimizations we've already made and would like to make in the future can break roundtripping, differences between platforms can prevent roundtr

[2017-08-14 15:52] mikedn commented on #20684
@sharwell The benefit is that having something like `GetValueByRef` allows you to avoid a second hashtable lookup when updating the value of a key:
[code]

Of course, it can also avoid value copying. But that has nothing to do with the knucleotide benchmark.

It has nothing to do with cache usage and struct register promotion.

[2017-08-14 15:58] KostaVlev opened #23217 "System.Drawing.Printing.PrinterSettings PrintRange() and Duplex() Throws wrong exception when parameter is invalid."
The tests passes on **netfx** but fails on **core**.

The failing tests are:
[code]

Running the tests on `netcoreapp` I am getting:

[code]

To test the exception I wrote:

[code]
The Assert fails with:

[code]

The tested method:

[code]

(#23161) (#20711)

 **Edited**

[2017-08-14 16:02] benaadams commented on #20684
ConcurrentDictionary is still pass by copy for struct; so if the structs are large it isn't great (vs access in place with ref return) - plus the overhead of coping with concurrency.

Also will closure capture on update for the method
[code]
And always closure capture for (if their is any outside state to use)
[code]
Needs the overloads
[code]

Though with ref locals could also do some interesting

[2017-08-14 16:02] joperezr commented on #23204
@davidsh  is this just another transient issue? It only failed on Release configuration.

[2017-08-14 16:10] sharwell commented on #20684
I agree that by-ref access to the values stored for keys in a dictionary have benefits. I asked mostly because the context of this post refers to a specific application with specific performance numbers (current and goals).

@benaadams Yes, lack of a context parameter for the add and update delegates has been frustrating. However, It appears that the specific application here uses transformation f

[2017-08-14 16:11] FransBouma commented on #23213
@stephentoub good points. I understand making RuntimeType serializable could mean it breaks that cross version/cross runtime promise.

Anyway, to sum it up: there's a workaround, and there's a reason this is how it is today. People running into this issue later on can find this issue and see the workaround and reasoning behind it.

Thanks all :)

[2017-08-14 16:15] stephentoub commented on #20684
https://github.com/dotnet/corefx/commit/c8f90c6ddf09ebfa122a683ef7a3a9610e52647a

[2017-08-14 16:16] mmisztal1980 commented on #22996
Hi Guys, I was just struggling with the same thing, however I took a different route:

In my **deployment.yaml** file, I've added a sidecar container, running kubectl proxy:

[code]

Next, I've attempted to reach my desired API endpoint using **localhost:8000** over regular HTTP and it worked as expected.

I've consulted the Kubernetes documentation, and in [here](https://kubernetes.io/docs/tasks/

[2017-08-14 16:19] ViktorHofer commented on #23213
@FransBouma thanks for letting us know! We are encouraging our customers to try exactly these new features in 2.0 and every piece of feedback is extremely valuable to us.

We just finished our docs about binary serialization in .NET Core 2.0. Please find the list of supported types and some fair warnings here: https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization

[2017-08-14 16:30] davidsh commented on #23204
Most likely yes.

[2017-08-14 16:31] damageboy commented on #20684
@mikedn sorry about the struct promotion comment, I had a possible brain fart, I was mixing up with a different issue I'm dealing with right now, it was totally unrelated. I did experience a latency improvement due to not having to do two lookups, sorry about it...

The knucleotide benchmark was really not the only reason I want this sort of optimized dictionary.

I'm using this dictionary in a ve

[2017-08-14 16:33] weshaggard commented on #23197
cc @ericstj

[2017-08-14 16:34] ericstj commented on #23197
Yes, I'm looking at this already

[2017-08-14 16:37] mikedn commented on #20684
Due to multiple lookup avoidance or perhaps due to struct copy avoidance? I'd guess that it's the former, structs would have to be quite large for copies to make a difference.

[2017-08-14 16:38] benaadams commented on #20684
@stephentoub its a 2.0 feature; but you timed the comment to perfectly coincide with the release of [.NET Core 2.0](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/) 😄

[2017-08-14 16:43] ericstj commented on #23197
I do think we're missing a good API for "running TFM".  We have one for targeted TFM of application, `AppContext.TargetFrameworkName`, but not one for the executing framework.  Related: https://github.com/dotnet/corefx/issues/17452

I've started looking at a lot of this stuff as part of the capabilities API investigation.
/cc @mellinoe

[2017-08-14 16:43] davidsh commented on #23202
"System.Net.Http.WinHttpException: The connection with the server was terminated abnormally\r"

Most likely a Azure Internet issue

[2017-08-14 16:50] damageboy commented on #20684
@mikedn yes, in my case my structs are two-uint32 sized

[2017-08-14 16:53] davidsh commented on #23209
System.Diagnostics.RemoteExecutorTestBase+RemoteInvokeHandle+RemoteExecutionException : Remote process failed with an unhandled exception.
+++++++++++++++++++
STACK TRACE:
Child exception: Xunit.Sdk.TrueException: Cancellation was not logged within 1 second timeout. Expected: True Actual: False at System.Net.Http.Functional.Tests.DiagnosticsTest.<>c.<SendAsync_ExpectedDiagnosticCancelledLogging>b_

[2017-08-14 16:54] krwq commented on #21415
Unassigning this since I'm not working on it right now

[2017-08-14 17:12] #22700 closed

[2017-08-14 17:16] #23100 closed

[2017-08-14 17:31] ericstj opened #23220 "Ensure build of netcoreapp vertical of CoreFx can be done without past packages"
Some recent changes cause us to require past shipped packages, see https://github.com/dotnet/corefx/pull/23168#discussion_r132996424.

We should eliminate those.  The only packages pulled down for netcoreapp vertical build should be buildtools (and its related closure), netstandard, desktop targeting packs, and the runtime.

/cc @weshaggard @mellinoe

[2017-08-14 17:33] SergeyKanzhelev opened #23221 "FW link on release notes is broken in DiagnosticsSource"
https://preview.nuget.org/packages/System.Diagnostics.DiagnosticSource/

Release notes link https://go.microsoft.com/fwlink/?LinkID=799421 leads to 1.1 release notes https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.0-preview1.md

[2017-08-14 17:49] ericstj commented on #22688
What's blocking you here?

If I understand correctly @stephentoub is just suggesting that we ship System.Memory as part of the 2.1 release.  That seems reasonable if folks agree with it, and a requirement if we take a dependency on it as we are already doing.  In that case it'll transition to stable along with the rest of the repo, when 2.1 ships.

[2017-08-14 17:54] kouvel commented on #23201
Ya I'll take a look

[2017-08-14 18:04] #23022 closed

[2017-08-14 18:05] danmosemsft commented on #23221
@leecow this comes from corefx\packaging.props
`    <ReleaseNotes>https://go.microsoft.com/fwlink/?LinkID=799421</ReleaseNotes>`

We didn't update the link for 2.0. We can either update the link for 2.0 or change it to point at the 2.0 relnotes (affecting 1.1 packages also).

I suggest you supply another fwlink and we can update this file in 2.0 servicing.

[2017-08-14 18:10] krwq commented on #22626
It seems that we missed that:
- HashAlgorithm
- HMAC
- KeyedHashAlgorithm
- SymmetricAlgorithm
- AsymmetricAlgorithm

live inside System.Security.Cryptography.Primitives while CryptoConfig (which is needed to implement Create(string)) lives inside System.Security.Cryptography.Algorithms which depends on System.Security.Cryptography.Primitives. Fixing this would create dependency problem.

Given th

[2017-08-14 18:11] stephentoub commented on #23201
FYI, when I run just that test locally in a loop, it hangs for me maybe 1/3 of the time.

[2017-08-14 18:12] krwq commented on #23208
I will take a look right now.

[2017-08-14 18:28] krwq commented on #23208
Seems like two different projects use the same temporary path and possibly run tests in parallel (parallelization is disabled per project), will send a fix once I figure out the best place to make it

[2017-08-14 18:34] WinCPP commented on #22403
@stephentoub I think I need to let go off this issue that I grabbed. Being remote, I think I am handicapped in knowing what is being done / what is to be done. And this one appears to be quite a big one to do by myself. Sorry for the haste... Although I can work collaboratively...

[2017-08-14 18:35] danmosemsft commented on #23221
@richlander you have an fwlink for the 2.0 release notes? (ie to https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.0.md)

[2017-08-14 18:35] stephentoub commented on #22403
Ok, thanks.

[2017-08-14 18:43] carlowahlstedt commented on #22463
For clarity, updated to dotnet 2.0.0 and still seeing the issue.

[2017-08-14 19:00] divega commented on #23211
cc @corivera in case Saurabh isn’t available.

[2017-08-14 19:05] Priya91 commented on #23119
@Priya91 what else is left? Is it 1.1 or 2.1 bug?

The bug is not fixed, this is to update the package versions of the libs that need to be serviced as part of 1.1/1.0 servicing release. @danmosemsft Can you provide details of when this release matches with 2.1

[2017-08-14 19:11] danmosemsft commented on #23119
@karelz I will share servicing info offline. As @Priya91 mentions, she will be making changes to make sure the fixes mentioned above are picked up in the next servicing event.

[2017-08-14 19:14] Priya91 commented on #23177
@Drawaes What is the motivation behind adding options bag separately, this doesn't work well with the current API design in SslStream. Instead of introducing so many new types, I think exposing overloads of AuthenticateAs[Client|Server]Async methods to have application protocols that they would like to handshake for will be simple and get the job done.

[2017-08-14 19:16] FransBouma commented on #23211
Ok. In any case it is resolved when the RTM tools / netcore2.0 sdk are installed. IMHO vs 2017 15.3 RTM should install this, no extra net sdk should be required. :)

[2017-08-14 19:20] ericstj commented on #22660
I've been thinking about this and wanted to share a few principles that we should remember from past API.
1. Focus on hardware that is ubiquitous and unlikely to be completely obsolete in the future.
2. Don't strive for completeness in a strongly typed API.  That will just create an API that's always lagging the new tech that comes out.
3. Don't take dependencies on new stacks (EG: bluetooth, GPU

[2017-08-14 19:24] Drawaes commented on #23177
Because you also need another overload for SNI or overloads. So now you have a larger matrix. The referenced previous issue #23077 was originally going this route however the number of overloads is becoming excessive. There are more extensions that have yet to manifest or be considered both with TLS 1.2 and TLS 1.3 around the corner.

Consider ZeroRtt data, that should be surfaced as an API which

[2017-08-14 19:39] Drawaes commented on #23177
I would be happy for the return types to be dropped and maybe the client and server args to be merged (not the best but hey) but just adding protocolIds doesn't cover SNI. It merely kicks the can a little down the road. It also makes it difficult for end users a raw protocol list is a bit unfriendly without any helper methods.

[2017-08-14 19:46] danmosemsft commented on #22660
Are there relevant de facto standards for this info - such that libraries exist on both Unix and Windows? Perhaps then our API could be relatively thin?

[2017-08-14 19:58] huto1 commented on #23193
removing this helped solve the problem

<PackageReference Include="Microsoft.AspNet.WebApi.Client" Version="5.2.3" />

[2017-08-14 20:09] geoffkizer commented on #22688
Sorry, I don't think it's this issue specifically that's blocking me.  2.1 builds fine.

However, netfx does not.  I get the following error:

[code]

Do you know what I need to do to fix this?

[2017-08-14 20:29] ericstj commented on #22688
That's because we're still building a desktop implementation of System.Net.Http and its being included in https://github.com/dotnet/corefx/blob/master/pkg/NETStandard.Library.NETFramework/NETStandard.Library.NETFramework.pkgproj.  Your change modified the desktop implementation to take a dependency on System.Memory which is not part of netstandard nor desktop itself.  Issue https://github.com/dotn

[2017-08-14 20:39] geoffkizer commented on #22688
Thanks, that did the trick.

[2017-08-14 20:47] mattyellen opened #23227 "ServiceBase should not accept SERVICE_CONTROL_STOP during SERVICE_START_PENDING"
Microsoft best practices (as documented in [SetServiceStatus](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686241(v=vs.85).aspx)) states:

However in ServiceBase.ServiceMainCallback if the service has been configured with CanStop = true it [sets the status to accept SERVICE_CONTROL_STOP](https://github.com/dotnet/corefx/blob/70e08d8c556c71049299b37e251785ce96a2720f/src/System.Service

[2017-08-14 21:06] ericstj commented on #22660
For device enumeration Windows has Setup API and WMI.  Setup API was never something we had inbox in .NET (though many folks have written wrappers) but we did have System.Management for WMI.  I believe the equivalent is on linux is libudev.  I haven't looked at Linux's WMI implementation @4creators mentioned [above](https://github.com/dotnet/corefx/issues/22660#issuecomment-319790397) but that'd b

[2017-08-14 21:09] ayende commented on #7198
I just run into this issue, is there any progress in fixing in using 2.0?

[2017-08-14 21:24] Priya91 commented on #23177
Reading through the RFCs, this is the proposal that I have,

[code]

cc @geoffkizer

[2017-08-14 21:38] Drawaes commented on #23177
Wait, but can I only add a single extension here? What if I want ALPN and SNI (which is a very common case on the server side). Also how do I provide multiple certificates? SNI's normal use is this

Client says I am connecting to www.mycooldomain.com

Server says okay I expect either www.mycooldomain.com or www.mylesscooldomain.com, seeing as you picked the first I shall provide certificate A to y

[2017-08-14 21:39] Drawaes commented on #23177
You would need a (xxxxxxxxxx, params TlsExtension[] extensions)

And if you do that you now preclude any future overloads, and get into trouble. And it still doesn't provide for the ServerName -> Certificate mapping.

[2017-08-14 21:48] alfeg opened #23229 "Could not load file or assembly 'netfx.force.conflicts'"
I've compiled project with new release of VS 2015.3. Installed .Net Core 2.0 SDK.
Project is a pretty old Asp.Net web application, where all project deps were converted to .Net Standard.

No on every page load I get

[code]
How to resolve this?

[2017-08-14 21:54] pjanotti opened #23230 "Tests in System.IO.Ports are terminating the runner for some test failures"
Some tests are starting threads and when these threads crash because of test failures the runner stops. It will be more productive to have individual tests failing since the full run of the tests is pretty long if either null modem or loopback are present.

[2017-08-14 21:55] Drawaes commented on #23177
Also this may become a thing, #21577 if there was an options bag it could be added easily, with an overload it will be messy.

[2017-08-14 21:58] Drawaes commented on #21577
This is not just an issue on Linux. We want to say that our webserver only uses the following secure ciphers (say ECDHE + AES + GCM) but then sometimes we have to connect to older less secure services with Http client from these webservers. We are forced to make a "global" configuration and therefore drop to the lowest common denominator out of all the other services we call. This is not just a pr

[2017-08-14 22:04] ericstj commented on #21356
Hit this again in https://github.com/dotnet/corefx/pull/23168.
[code]
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/2262/consoleFull

This is on NETFx which I suspect doesn't have your fix https://github.com/dotnet/corefx/pull/21369.  Perhaps the test should be disabled for desktop?

[2017-08-14 22:13] ericstj opened #23231 "WebProxy_BypassOnLocal_MatchesExpected fails in Linux CI"
https://mc.dot.net/#/user/ericstj/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/58821d965b53932b09804845d6d0f752aff9c28d/workItem/System.Net.WebProxy.Tests/analysis/xunit/System.Net.Tests.WebProxyTest~2FWebProxy_BypassOnLocal_MatchesExpected

Appears to be transient issue.  Test leg was Ubuntu.1604.Amd64.Open-Release-x64.

[code]

[2017-08-14 22:27] #23208 closed

[2017-08-14 22:33] marek-safar opened #23233 "System.Security.Cryptography.Cng package needs Xamarin support"
Xamarin SDKs have custom System.Security.Cryptography.Cng facade because the underlying types exist in system assemblies but System.Security.Cryptography.Cng package is missing `_._` redirects to allow this facade to be used

[2017-08-14 23:00] geoffkizer commented on #23177
I'm a little concerned that the options bag approach is turning a relatively constrained feature add (ALPN) into a bigger deal (fix the SslStream API).

[2017-08-14 23:14] pjanotti opened #23234 "Test AbortOnErrorShouldBeClearedOnOpen is disabled on Uap and UapAot"
The current implementation of this test requires reflection that is not available for the internal type without adding the reflection for the whole serial ports (which increase the size of the assembly). So for now the test is being disabled.

[2017-08-14 23:15] Priya91 commented on #23177
The overloads can be made to use an IList<TlsExtension> for that case.

I'm not sure how to address this with the current design, let me think about it more. I'll have to investigate how openssl/schannel provide support Tls extensions, and see if we can emulate that design. I agree that with more extensions being added, we should design an api that's extensible. We have to figure out how to get th

[2017-08-14 23:15] danmosemsft commented on #16256
@JeremyKuhne @stephentoub please comment on value/risk of backporting.

[2017-08-14 23:18] danmosemsft commented on #2249
@corivera spoke offline wrt whether you want to backport this or it doesn't meet the servicing bar.

[2017-08-14 23:19] danmosemsft commented on #14235
@weshaggard is this change already in release/1.1.0? If not who would own creating a PR?

[2017-08-14 23:20] Priya91 commented on #23177
Instead of bundling all the options in a new options bag, wouldn't it be better to identify the specific set of settings that's required for each extension that's supported by Sslstream, and add a property for it on the TlsExtension struct? So the TlsExtension will contain all settings required for performing that extension in the handshake.

[2017-08-14 23:26] Drawaes commented on #23177
So you want an OptionsBag but to leave the current options out of it. Sure that's a possibility. If you want to understand SChannel and OpenSsl for SNI on the server side there are two different approaches (of course they are different :P )

OpenSsl You provide a callback. When SNI is detected it calls the callback. With your SSL object, you can then read the SNI from the callback params and you "

[2017-08-14 23:29] Drawaes commented on #23177
@geoffkizer in your response, you have ignored SNI which is pretty important, for a number of reasons (I have internal ones) but @Tratcher will give you some I am sure as well.

Plus as a final thing, SslStream doesn't have a cancellation token, which is a bit rubbish, handshakes can easily be stalled by a client and today there is no way of stopping it other than killing the underlying stream, so

[2017-08-14 23:34] Drawaes commented on #23177
Updated to drop results.

[2017-08-14 23:39] JeremyKuhne commented on #16256
It seems pretty low risk to me and reasonably valuable.

[2017-08-14 23:43] ianhays commented on #21427
@tarekgh to repro the failure the tests have to be run from an AppleFileSystem drive. There should be one on that machine, and if I recall correctly it isn't the default.

If they still can't be repro-ed, then my guess that the failure is due to an environment setup step on the test machines becomes more likely (e.g. unzipping HFS+ then moving files to AFS).

[2017-08-14 23:47] Drawaes commented on #23177
References to other frameworks
https://github.com/golang/go/blob/master/src/crypto/tls/common.go#L337
https://nodejs.org/api/tls.html#tls_tls_createserver_options_secureconnectionlistener
http://download.eclipse.org/jetty/stable-9/apidocs/org/eclipse/jetty/util/ssl/SslContextFactory.html

[2017-08-14 23:53] safern commented on #22385
:( Maybe logging in into a helix machine? @MattGal could you help us repro this? This seems very consistent in the daily runs.

[2017-08-14 23:57] wfurt commented on #21427
btw recent beta upgrades fixed bunch of bugs @ianhays
I think @tarekgh is using  macboook from @danmosemsft  and that is on latest beta5.
I'm not sure where our other servers are as far as being update to current.

[2017-08-15 00:05] Priya91 commented on #23177
The SslStream uses openssl and schannel, for whatever APIs we expose, we need to be able to plug it into these pal layers. So it is worth thinking about implementation here, and getting ideas from already used frameworks

[2017-08-15 00:06] Drawaes commented on #23177
Sure I agree, I was merely pointing out that they are both diametrically opposed unfortunately. Life would be too easy otherwise :)

[2017-08-15 00:13] Drawaes commented on #23177
FYI, further investigation it seems you can provide a callback for SNI on SChannel. Which means that if a callback is surfaced on the SslStream then the scenario of something like Let's Encrypt providing a dynamic certificate is possible for both SslStream and OpenSsl. So either a list or a callback would be ideal, if only one can be provided then the callback would be preferable.

[2017-08-15 00:30] NickCraver commented on #18114
I really want to see this improved, I do. But it doesn't really seem like anyone cares about a coherent story here from the Microsoft side, so I'm closing this out. I don't have the time or energy to run around making PRs that won't be accepted because they'll *all* need to be breaking.

In .NET Core 2.0: There still isn't any documentation as far as I can tell. I had to go digging through the sou

[2017-08-15 00:30] #18114 closed

[2017-08-15 01:03] danmosemsft commented on #13295
Assigning to @safern who is going to give this to our new hire shortly.

[2017-08-15 01:11] kassemsandarusi commented on #22376
It is likely I am incorrect, but this issue seems dependent on #22403. In order to Parse the version, you likely need:
[code]

[2017-08-15 02:12] WinCPP commented on #22406
@stephentiub, I moved out of the other issue that I had grabbed... You are working on it now :-) . But I'm still interested. If you could help me get started with this one... Could we quickly have a chat on gitter...?

[2017-08-15 02:28] jamesqo opened #23240 "Proposal: Enum.IsDefined()"
I am aware of the issues https://github.com/dotnet/corefx/issues/10692 and https://github.com/dotnet/corefx/issues/15453. However, https://github.com/dotnet/corefx/issues/10692 isn't a formal proposal, and https://github.com/dotnet/corefx/issues/15453 will take forever to get through because it has so much other stuff. I think this API is valuable enough that I am opening a new issue to expedite t

[2017-08-15 02:31] jamesqo commented on #23240
/cc @benaadams, @joperezr, @AlexGhiondea

This is just one method and will be quick to review, so maybe this can be labeled ready-for-review?

[2017-08-15 02:39] jamesqo commented on #15453
I opened a proposal just for `Enum.IsDefined` here: https://github.com/dotnet/corefx/issues/23240. That seems to be the most valuable thing in all of this proposal. The other stuff will take ages to get through.

[2017-08-15 02:39] Jiayili1 commented on #23202
@davidsh this issue is still repro, do I need to reopen it?
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170815.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FAllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode:%20301,%20oldMetho

[2017-08-15 03:02] danmosemsft commented on #23229
@ericstj do you know what 'netfx.force.conflicts' is?

[2017-08-15 04:18] WinCPP commented on #22375
@stephentoub didn't realize that #22406 was not up-for-grabs. How about this one? Quite smaller than #22403. Also it will help me get started after a gap. Thanks!

[2017-08-15 05:03] WinCPP commented on #22375
Ok. Analyzed what this potentially involves. I believe it goes all the way down in to the tokenizer in the TimeSpanParser as well to replace ```string``` with ```Span<char>``` ... and then do related changes to support both ```Span<char>``` and existing ```string``` overloads at the interface? Am I on right track? Please let me know.

[2017-08-15 05:44] oldrev commented on #23229
Hello, I got the same problem when I trying to run my .NET Framework ASP.NET app. Do I need to uninstall .NET Core 2.0 SDK?

[2017-08-15 06:54] danmosemsft commented on #23229
@weshaggard

[2017-08-15 07:41] oldrev commented on #23229
I found a solution: delete the `bin` folder under your web application and rebuild them all.

[2017-08-15 08:00] Jiayili1 commented on #16534
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/168/testReport/System.Net.Security.Tests/TransportContextTest/TransportContext_ConnectToServerWithSsl_GetExpectedChannelBindings/

[2017-08-15 08:02] Jiayili1 commented on #20128
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/168/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticCancelledLogging/

[2017-08-15 09:29] FransBouma commented on #23213
@ViktorHofer
Another one: System.Collections.CollectionBase. It's serializable on .net full, but not on .net core. I think more people will run into this one.

The main issue I think is that you simply get an error 'bla type isn't serializable' but when serializing a graph of objects, it's difficult to track down where exactly a certain type is used which causes this. Especially with a base class

[2017-08-15 10:13] jmezach commented on #22206
With the .NET Core 2.0 release out the door I thought I'd rekindle this discussion. Are there any new thoughts on this? Things the community can help out with perhaps?

[2017-08-15 10:55] chris31389 commented on #23229
That didn't fix it for me :(

[2017-08-15 11:13] zokiad opened #23244 "HttpWebRequest.Host throw WebException"
Hi,

I use .net core 2.0 with VS 15.3.
This example work fine on Framework .net 6.4.2.

This request work fine:

[code]

But when a try to use Host with IP address. I obtains with exception:

[code]

**Exception:**

[2017-08-15 11:18] peterquirk opened #23245 "[System.Security.Cryptography.Hashalgorithm]::Create($Hashname) gives error in PowerShell 6.0 beta"
## Steps to reproduce ##
Fetch Get-StringHash from PowerShell Gallery at https://gallery.technet.microsoft.com/scriptcenter/Get-StringHash-aa843f71

Execute Get-StringHash ("admin", "MD5")

## Expected behavior ##
get-stringhash "admin" "MD5"
21232f297a57a5a743894a0e4a801fc3

This is what I get with PowerShell 5.1.16257.1. CLRVersion 4.0.30319.42000
## Actual behavior ##
Exception calling "Create"

[2017-08-15 12:19] CharlBest opened #23246 "System.Net.Mail broke when upgrading to .NET Core 2"
![image](https://user-images.githubusercontent.com/6147400/29315640-7e163ac0-81c4-11e7-8fc3-b87571581105.png)

Updating to .net core 2 broke System.Net.Mail reference.

[2017-08-15 12:26] gimpf commented on #14354
Hi!  I've just read through the discussion, and at least to me it seems the case is closed strongly in favor of the murmur3-32 PoC.  Which BTW seems like a very fine choice to me, and I'd recommend not spending any more needless work (but maybe even drop the `.Add()` members...).

But in the unlikely case that somebody wants to continue with more performance work, I could supply some code for xx32

[2017-08-15 13:51] stephentoub commented on #22375
That's generally the right approach, but this one is tricky as, in its current design, that would result in a span getting stored as a field in another type, and as a ref-like type, spans can only be stored as fields in other ref-like types, and at the moment there's no way to indicate that in C#.  Even if the runtime doesn't currently complain, it will end up producing compilation errors later wh

[2017-08-15 13:59] rowanG077 opened #23250 "System.Net.WebSockets doesn't allow setting of socket options in any way."
The current API surface of .NET core doesn't expose the underlying TCPSocket so there is no way to set socket options.

My specific use cases requires me to disable naggle algorithm. If I don't there are stalls that make it unuseable in my application.

I would really like it if we could either access the underlying TCP socket object or allow us to set the socket options in some way.

Currently I

[2017-08-15 14:29] davidsh commented on #23244
This is by-design.

You are sending an HTTPS request to a server using the ip address as the DNS name.  But that "name" doesn't match the server's TLS/SSL certificate.  That is why you are getting an error:

If you really want to talk with a server and disregard TLS/SSL certificate errors (such as name mismatch in this case), then please take a look at using this API for HttpWebRequest.

https://g

[2017-08-15 14:30] davidsh commented on #23244
You can see from the certificate from that server that it only allows certain name matches:
![image](https://user-images.githubusercontent.com/7684835/29320324-a4ebb898-818b-11e7-936f-739a8de85891.png)

[2017-08-15 14:31] #23244 closed

[2017-08-15 14:42] vcsjones commented on #22637
A proposal.

[code]

[2017-08-15 14:46] CarolEidt commented on #22940
A few thoughts on this proposal and discussion:

Generic vs. non-generic (e.g. Add<T> vs. Add<float>):
- I'm a bit confused by this discussion. Since this is an internal intrinsic, and won't have an implementation, I see little advantage in exploding the number of declarations. As this is intended for developers who "know what they're doing", having a comment indicating what types are supported fo

[2017-08-15 14:53] #23116 closed

[2017-08-15 15:01] ViktorHofer commented on #23213
Thanks for getting back to us. I can only see a few types using CollectionBase: http://source.dot.net/#System.Collections.NonGeneric/System/Collections/CollectionBase.cs,4e201fdc07f5f637,references. I guess you are implementing your own custom type collection which inherits from CollectionBase? As you stated, non-generic collections are old and already existed in the first versions of .NET. In man

[2017-08-15 15:01] jnm2 commented on #13329
I specifically want this feature *without* ahead of time compilation. I don't want corert- I want the same jit and debugging and runtime experience as a normal self-contained app- but I also don't want to distribute four files per utility. I just want it packed and run from a single exe.

[2017-08-15 15:05] weitzhandler commented on #23080
@Clockwork-Muse
+1 for the `ImmutableList<T>`.

[2017-08-15 15:16] weitzhandler commented on #20725
I'd like to add to this request, please also add an `ImmutableKeyedCollection` to the `System.Collections.Immutable` API.

[2017-08-15 15:17] weitzhandler commented on #20725
1. I don't see this as an issue
2. Since the delegate can only be provider on constructor, the key selector is expected to be unpublicized.

I find `KeyedCollection` very powerful for constructing self-containing key elements as a substitute/wrapper of dictionaries. The requirement to subclass it is redundant. I'd also want to have `KeyedCollection` implement `IDictionary<TKey, TValue>`, so to ben

[2017-08-15 15:40] ericstj commented on #23229
Its a facade that references every contract assembly that is inbox in desktop: https://github.com/dotnet/corefx/blob/master/src/netfx.force.conflict/ref/netfx.force.conflicts.csproj

It is only a ReferenceAssembly and should never make it to the application's output directory.  There is no corresponding lib for this assembly since it has no typedefs and will never appear in the runtime assembly cl

[2017-08-15 15:49] sdmaclea commented on #21503
@cydhaselton, @weshaggard  is the expert, but here are my opinions.

Seems like the RID should be the most generic.  Therefore `android-arm64` is better than `android.21-arm64` so that is generalized to run on more android platforms.  Unless there is a reason to limit he build to a specific android version, I would avoid it.

For android, `runtime.android-arm64.Microsoft.NETCore.x` should be the d

[2017-08-15 15:53] jamesqo commented on #14354
@gimpf

No, people aren't favoring Murmur3 yet. We want to make sure we're picking the absolute best algorithm in terms of balance between performance/distribution, so we can't leave any stone unturned.

Yes, please! We want to gather code for as many algorithms as possible to test against. Every new algorithm you can contribute is valuable. It would be highly appreciated if you could port the Cit

[2017-08-15 16:01] WinCPP commented on #22375
I guess you are referring to ```FormatLiterals```, a struct which will end up holding ```ReadOnlySpan```s...

[2017-08-15 16:04] stephentoub commented on #22375
There are several, like TimeSpanTokenizer.

[2017-08-15 16:06] davidsh commented on #23202
I closed this issue because the recent repro you have shows that this is likely a transient Internet connection issue.

[2017-08-15 16:27] KostaVlev commented on #23217
Actually the reason Assertion is failing is very obvious. I just didn't see it until now... :(

The expected Exception is [`System.ComponentModel.Primitives.InvalidEnumArgumentException`](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Primitives/src/System/ComponentModel/InvalidEnumArgumentException.cs) and actual is [`System.ComponentModel.InvalidEnumArgumentException`](ht

[2017-08-15 16:27] #23217 closed

[2017-08-15 16:30] krwq commented on #23245
This is a duplicate of https://github.com/dotnet/corefx/issues/22626 - This scenario is currently not supported. As a workaround you can use:
[code]

[2017-08-15 16:30] toddpmain commented on #18406
Where is System.IO.Packaging?

[2017-08-15 16:35] #23245 closed

[2017-08-15 16:50] maryamariyan commented on #13295
@tmat what should be the expected output for GetAssemblyName() ?

where do I find the underlying logic for GetAssemblyName()?

[2017-08-15 17:06] joperezr commented on #15453
Thanks for that @jamesqo we will take a look at it in our next triage.

[2017-08-15 17:07] #22615 closed

[2017-08-15 17:10] stephentoub commented on #22375
We can't make those classes; that would result in allocations we need to avoid while parsing.  It may be that we need to wait to tackle this issue until we have an updated compiler that will appropriately validate ref structs.
cc: @VSadov

[2017-08-15 17:12] joperezr commented on #23240
@jamesqo do you know roughly how much faster would this be compared to the static method?

[2017-08-15 17:12] Eilon commented on #23229
@pranavkm can you take a look? This might need to go to a System.Web person.

[2017-08-15 17:13] smitpatel opened #23255 "https://apisof.net/ is having certificate error"
[code]

Browser: Edge

[2017-08-15 17:25] jamesqo commented on #23240
@benaadams You were the one who originally made that comment, would you know?

[2017-08-15 17:27] sdrapkin commented on #8158
Now that .NET Standard 2.0 is released, how does one translate the following net452 code to netstandard2?
[code]

Ie. how does one do a Diffie-Hellman key derivation with one private DH key and one public DH key?

[2017-08-15 17:28] CarolEidt commented on #22940
So, I have realized that obviously this is a non-starter. We can't change the target *after* seeing an AVX intrinsic. So, I think we will need to change the code generation strategy to target AVX whenever it is available (not just when AVX2 is available).

[2017-08-15 17:30] WinCPP commented on #22375
Yup got it. We may live with ```TimeSpanTokenizer``` being allocated on heap, say, for a moment. However ```TimeSpanToken``` is surely not a candidate for becoming a class; it stores a ```sep```, a `String`.

So should I take up something else, that I have got hang of what is to be done in such set of problems?

[2017-08-15 17:33] stephentoub commented on #22375
Probably.  How about the span-based TextReader/Writer methods, and the overrides on various types like StreamWriter?
https://github.com/dotnet/corefx/issues/22406
https://github.com/dotnet/corefx/issues/22409
etc.

You won't be able to do the buffer-based overloads yet, but you should be able to do the span-based ones.

[2017-08-15 17:35] WinCPP commented on #22375
Yup... was just typing 'may I' request in #22406 :-)

[2017-08-15 17:36] WinCPP commented on #22406
Thanks @stephentoub. Will work on this.

[2017-08-15 17:38] scalablecory commented on #8158
@sdrapkin ECDH is not a part of .NET Standard 2.0.

[2017-08-15 17:52] sdrapkin commented on #8158
@scalablecory @bartonjs said [here](https://github.com/dotnet/designs/issues/11) that `ECDiffieHellmanCng` will be ported. The [NetStandard2 APIs](https://raw.githubusercontent.com/dotnet/standard/master/docs/versions/netstandard2.0_ref.md) are full of `ECDiffieHelman*` references.

Can someone/MSFT please confirm that DH shared-secret derivation over NIST P-curves is *NOT* supported by NetStandar

[2017-08-15 17:53] danmosemsft commented on #23246
@weshaggard can you help shed light? I'm not really able to diagnose this kind of errors.

[2017-08-15 17:54] danmosemsft commented on #23229
@pranavkm can you port to aspnet repo if appropriate?

[2017-08-15 17:56] Drawaes commented on #8158
That roadmap is they will be ported in a future version. I believe 2 was pretty much baked in stone and on bug crushing by the time the roadmap was published.

[2017-08-15 17:57] jnm2 commented on #20725
Ironically, subclassing is the only way to use the ChangeItemKey method. 😄

[2017-08-15 18:03] WinCPP commented on #22406
Just to make sure I understand correctly... In the opening comment for API to be added, `Read` and `ReadBlock` work with `Span<char>` whereas `ReadAsync` and `ReadBlockAsync` work with `Buffer<char>`. I guess these differences are just as illustrative purpose and actually all four methods are to be provided for `Span<char>` as well as `Buffer<char>`. Likewise for `Write`* methods...?

[2017-08-15 18:16] sdrapkin commented on #8158
If ECDH shared-secret derivation is not available in NetStandard2, what is the purpose of all the `ECDiffieHellman*` APIs and properties?? The purpose of hash APIs is to hash. The purpose of `ECDsa` APIs is to sign. The purpose of ECDH APIs is to derive a shared-secret.

Cue  every _"You had one job..."_ meme here.

If ECDH derivation is still not possible in NetStandard2, the WTF is hard to proce

[2017-08-15 18:16] stephentoub commented on #22406
No, these are the actual APIs.  The synchronous ones take spans, the asynchronous ones take buffers.

[2017-08-15 18:25] jmroyb opened #23260 "GetTypeFromProgID not working on NetStandard 2.0"
Hi folks,

This piece of code works fine in 4.61 and later:

`
        public sealed class ComLoader
        {
            private string m_fullName;
            private Type m_t;
            private Object m_o;

            public ComLoader(string fullName)
            {
                m_fullName = fullName;
            }

            public void InvokeMethod(string name, object[] parameters, ou

[2017-08-15 18:31] Eilon commented on #23229
@danmosemsft this would be for System.Web, which isn't on GitHub, it's in TFS only. Once we see what's going on here, if we can't resolve immediately, we'll forward to the System.Web folks (different people from ASP.NET Core team).

[2017-08-15 18:37] bartonjs commented on #8158
@sdrapkin I'm not sure how ECDiffieHellmanPublicKey ended up in there (I wasn't involved in the issue or the PR, so it must have happened while I was on vacation).  The other instances of "ECDiffieHellmN' are for the CNG algorithm (and algorithm group) identifiers... and I'm not sure why those are in that doc, since they're not part of netstandard.dll (CNG is not part of .NET Standard).

On Window

[2017-08-15 18:50] maryamariyan commented on #13295
@safern @joperezr I already see a Name getter in AssemblyDefinition. What is the purpose of having a AssemblyName getter and how is it different from assemblyDefinition.Name?

[2017-08-15 18:54] weitzhandler commented on #20725
@jnm2 sorry, i meant to delete that and leave the other comment, please ignore.

[2017-08-15 18:59] pjanotti commented on #21156
PR to get it on UWP6.0 #23261

[2017-08-15 19:05] adityamandaleeka commented on #22385
I have been able to repro this behavior locally, and am investigating it. I'll assign the issue to myself.

[2017-08-15 19:32] gimpf commented on #14354
@jamesqo Ok, I'll drop a note once I've something to show.

[2017-08-15 20:03] michael-hawker opened #23262 "GroupCollection should implement IReadOnlyDictionary interface to align with its Dictionary-Type Usage"
```GroupCollection``` acts like a dictionary, but doesn't provide all of the familiar methods found on Dictionary collections.  This makes it harder to inspect contents to make informed decisions on its contents to drive logic.  For instance, determining if a key was present in a named capture group before trying to perform logic with the result.  This can be seen as a follow-on to issue #271 (it

[2017-08-15 20:04] safern commented on #13295
I believe what @tmat meant was not to add an AssemblyName getter, per comment https://github.com/dotnet/corefx/issues/13295#issuecomment-260037855 he meant to add a public method that returns a System.Reflection.AssemblyName object with the required metadata such as PublicKey, Flags, Culture, Version, etc. Because from the AssemblyDefinition itself to build that object requires a little bit of wor

[2017-08-15 20:08] scalablecory commented on #23156
Perhaps keep track of connect speed and use that as a timeout to drain before giving up on the connection.

[2017-08-15 20:15] danmosemsft commented on #23119
This is presumably needed in 1.0 also.

[2017-08-15 20:19] lajones commented on #22986
We're going to make this one `up-for-grabs` and will look at individual PR's for features as they come in. For reference we would like the following for any PR on this:

- A detailed description of the new behavior and how it is expected to be used
- A complete API proposal
- Confidence that there is essentially zero risk of the change breaking any existing code

[2017-08-15 20:20] danmosemsft commented on #23119
Confirmed it is -- at least, the driveinfo fix is not showing up in tests.

[2017-08-15 20:24] pranavkm commented on #23229
I can't quite figure out how the assembly gets to the output directory. @alfeg \ @oldrev \ @chris31389 could you share your application's csproj or possibly repro steps \ application?

[2017-08-15 20:26] pjanotti opened #23264 "UWP branch: remove warning suppression after build tools are updated."
/cc @joperezr @JeremyKuhne
Suppressing BCL0015 was needed in order to use `kernelbase.dll!OpenCommPort` on `release/UWP6.0` when merging we can check if build tools was updated to a version that does not require the suppression anymore.

[2017-08-15 20:30] danmosemsft commented on #23229
@Eilon  - ah, you're quite right.

[2017-08-15 20:31] danmosemsft commented on #23262
@michael-hawker good suggestion, would you be willing to update to our standard format for review?

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md
example
https://github.com/dotnet/corefx/issues/271

[2017-08-15 20:32] weitzhandler commented on #22986
@lajones
I'm willing to implement this.
But I'd like some guidance.

One of the problems I can see, Imagine we add those conditional properties into `ValidationAttribute`, now for example EF uses the `RequiredAttribute` and some other attributes to generate SQL columns accordingly. How will it behave if the attributes are conditional?
Same problem may arise with any implementations relying on the

[2017-08-15 20:33] danmosemsft commented on #23260
@yizhang82 can someone on your team look?

[2017-08-15 20:33] danmosemsft commented on #23260
@tijoytom

[2017-08-15 20:49] zokiad commented on #23244
OK thanks.
To accept SSL:
request.ServerCertificateValidationCallback += (sender, certificate, chain, sslPolicyErrors) => true;

[2017-08-15 21:04] #21147 closed

[2017-08-15 21:10] yizhang82 commented on #23260
@jmroyb Can you double check whether your COM server is registered as 64-bit? .NET Core by default runs apps in 64-bit.

[2017-08-15 21:27] jmroyb commented on #23260
@yizhang82, I registered com library using C:\Windows\SysWow64\regsvr32.exe. Using it from Syswow64 works. Using C:\windows\system32\regsvr32.exe does not work in net 4.6.1 and later.

[2017-08-15 21:30] yizhang82 commented on #23260
I believe you have your 4.6.1 app built as x86, that's why it works when you register it using 32-bit SysWow64\regsvr32.exe. You can confirm that by running corflags.exe.
32-bit app can only load 32-bit COM registered using 32-bit regsvr32 in 32-bit of the registry, and 64-bit app can only load the 64-bit COM registered using 64-bit regsvr32.exe in 64-bit part of the registry.

[2017-08-15 21:42] jmroyb commented on #23260
Solved. It was my fault about registering com library

[2017-08-15 21:42] #23260 closed

[2017-08-15 21:44] AtsushiKan commented on #23000
This likely started up with this change https://github.com/dotnet/corefx/pull/22664 which switch the Environment special folder apis over to use WinRT calls. That means ILC can now run these tests only in AppX mode.

I assume there's a separate issue for tracking that but we're not planning on doing that imminently so what's the action to take on these? Just disable them all conditionally on that

[2017-08-15 21:50] danmosemsft commented on #23000
If that's all it is then
[code]

IsWinRT is a misnomer for running in AppX.

[2017-08-15 22:02] safern commented on #22385
Thanks @adityamandaleeka

[2017-08-15 22:06] AtsushiKan commented on #23000
That would disable them on CoreCLR running in as Win32 console apps. CoreCLR properly switches to the Win32 apis. It's just Project N that's stubborn and says "The store way or the highway."

I'm inclined to ActiveIssue them on whatever issue is tracking the ILC on AppX issue. There's likely enough of them that we probably won't want to all light up at once anyway.

[2017-08-15 22:07] AtsushiKan commented on #23000
The issue being: https://github.com/dotnet/corefx/issues/18760

[2017-08-15 22:17] safern commented on #23039
@tijoytom any update? This would fix ~200 test failures and would bring us very close to have a green build in release/UWP6.0 branch.

[2017-08-15 22:19] danmosemsft commented on #17905
@AlexGhiondea as mentioned

[2017-08-15 22:20] danmosemsft commented on #23000
fine or you could add PlatformDetection.IsNetNativeNotInApp = !IsWinRT && IsNetNative   ?

[2017-08-15 22:21] danmosemsft commented on #23000
Taht way they light up if and when we run net native runs as an app...

[2017-08-15 22:34] tijoytom commented on #23039
The winmd was updated last week in ProjectN , NRel is not yet updated . Which drop does this run use?

[2017-08-15 22:52] CoskunSunali opened #23270 "Global invariant mode - Turkish I problem"
Nevermind, please delete this issue if possible.

[2017-08-15 22:57] danmosemsft commented on #23270
@CoskunSunali that only applies when you opt your app into globalization invariant mode - which is something like locking it into en-US to make it as lightweight as possible.

If you develop apps that need to be more culture aware, you would not opt into this mode.

does that help?

[2017-08-15 22:59] CoskunSunali commented on #23270
@danmosemsft That definitely helps. I figured that out once I create the issue - in a rush :)

That is the reason I updated the issue asking for a deletion. Sorry, would not remove the original text if I had known you would have replied sooooo fast!

Do you know if I can somehow get the original issue text back?

[2017-08-15 23:03] danmosemsft commented on #23270
here you are
[code]
we can't delete issues, only replies

[2017-08-15 23:03] #23270 closed

[2017-08-15 23:07] CoskunSunali commented on #23270
@danmosemsft Thank you! I just updated the original issue for future references.

Sorry for the inconvenience and thanks for your replies!

[2017-08-15 23:09] danmosemsft commented on #23270
No inconvenience at all .. it's my job, and I'm glad you're trying out our work. Please do keep feedback coming.

[2017-08-15 23:15] pjanotti opened #23273 "Address some of the feedback in PR for port SerialPort to UWP6.0"
There was some good feedback while porting `SerialPort` to UWP6.0, this issue is to track it, refer to the comments at #23261.

[2017-08-15 23:17] Quppa commented on #23229
We're seeing the same issue. We have .NET 4.7 ASP.NET projects referencing .NET Standard 1.6 projects, all using `PackageReference`. Deleting `bin` and `obj` and rebuilding gets rid of the warning, but I'm then greeted with a different YSOD:

[code]

[2017-08-15 23:24] Priya91 commented on #23119
Have a PR up for 1.0 as well #23274

[2017-08-15 23:25] tmat commented on #22940
We should also coordinate with https://github.com/dotnet/roslyn/issues/11475

[2017-08-15 23:31] jaredpar commented on #22940
Disagree. These are unrelated proposals.

[2017-08-15 23:57] morganbr commented on #14354
@gimpf that sounds really great and we'd love to hear about your progress as you go (no need to wait until you get to work through ever algorithm!). Not production-ready is fine as long as you believe the code produces correct results and that the performance is a good representation of what we'd see in a production-ready implementation. Once we pick candidates, we can work with you on getting to

[2017-08-16 00:02] jaredpar commented on #22940
Disagree. The runtime intrinsic may use a modreq in places but don't see a need for an additional attribute. Certainly not one that the compiler is going to be processing.

Sure. But if we add the literal requirement for runtime intrinsics it would be done in a general way.

I think they're quite different. This is about adding runtime intrisicts. The compiler has almost 0 participation here other

[2017-08-16 00:10] tmat commented on #22940
This above proposal uses attribute ```[Intrinsic]```. I'm not suggesting the compiler needs to understand that attribute. The compiler intrinsics proposal also introduces an attribute ```CompilerIntrinsic``` -- this one the compiler understands. If we named both attributes just ```Intrinsic``` and put them in the same namespace that would be a problem. So all I'm saying is that we should coordinat

[2017-08-16 00:14] jkotas commented on #22940
It should not matter what the attribute used by runtime is going to be. I expect that it will be internal - it won't be public or part of the public surface. In fact, it would be fine to not have attribute for it at all and use some alternative mechanism to recognize these in the runtime.

[2017-08-16 00:21] tmat commented on #22940
@jkotas BTW, visibility wouldn't matter. If there was an attribute and the name was the same as the one for compiler intrinsics it would break build of the CoreFX library that uses the attribute internally.

[2017-08-16 00:28] noahm888 commented on #4198
Is there any information on this with .Net Core 2.0? I cannot seem to find any other references except this thread and the github link above returns a 404 error.

[2017-08-16 01:13] WinCPP commented on #22406
Ok. I believe that is out of the fact that spans are on stack (?) and hence can be used in sync APIs only whereas buffers are on heap and hence can be used in async APIs. But then buffers could be used in sync versions as well right... But one could create a span on buffer and use it in sync API...

I'm still not clear about spans and buffers, the new

[2017-08-16 01:17] stephentoub commented on #22406
Yes. Spans are a ref-like type, which comes with various constraints, including that it can't live on the heap.  And that means it can't be an argument to an asynchronous method that might need to capture that argument to live on the heap for the duration of the operation.

Yes.  But a) spans are cheaper than buffers, and b) if you have a span and a method takes a buffer, you'd have no way to call

[2017-08-16 01:34] safern commented on #23039
1.0.0-rel-25615-00, could you please por it?

[2017-08-16 02:32] adityamandaleeka commented on #22385
I had a chance to look at this, and this is my current hypothesis:

The test that hangs (`MultipleProducerConsumer_AllItemsTransferred`) has a `ConcurrentQueue<int>`. It creates a bunch of tasks: some tasks that dequeue from the queue and maintain a running sum, and some other tasks that enqueue numbers on the queue. My hypothesis (and what seems to be occurring on the 1-proc machine where I can r

[2017-08-16 02:35] Jiayili1 opened #23279 "Core Tests (2.0.0): All work items have fireball issue for RHEL69"
Detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170815.02

Failed configurations:
Centos.73.Amd64-x64
Debian.87.Amd64-x64
RedHat.69.Amd64-x64
RedHat.72.Amd64-x64
RedHat.73.Amd64-x64
SLES.12.Amd64-x64
Ubuntu.1404.Amd64-x64
Ubuntu.1604.Amd64-x64
suse.422.amd64-x64

[2017-08-16 02:40] stephentoub commented on #22385
Am I remembering correctly that the thread pool used in uapaot has a more limited thread injection policy than the one in coreclr?  The test runs multiple times with varying numbers of producers/consumers:
[code]
If the pool might have fewer than 5 threads and never inject another, then I'd hypothesize your hypothesis is a good one :)

[2017-08-16 02:43] alfeg commented on #23229
@pranavkm my project is quite big to share. I will try to create repro later.
Actually deep cleaup of bin/obj folders help with issue, but as @Quppa write, there is a lot of broken assembly redirects for 'System.*' packages. Hopefully, second instance of VS running 15.2 version is able to build project without issues, and broken update to vs not blocked me much.

[2017-08-16 02:48] aelij commented on #13566
I have users who are experiencing this issue on Windows 7 with the latest (4.3.0) package. Was this fix published?

[2017-08-16 02:59] luyikk opened #23280 "dotnetcore 2.0 System.Net.Sockets.SocketAsyncEventArgs BUG"
`  if (e.SocketError == SocketError.Success&&e.BytesTransferred>0)
            {

                if (!IsOffsetInput)
                {
                    byte[] data = new byte[e.BytesTransferred];

                    Buffer.BlockCopy(e.Buffer, e.Offset, data, 0, data.Length);

                    if (this.BinaryInput != null)
                        this.BinaryInput(data, e);
                }

[2017-08-16 03:06] dotnet-mc-bot opened #23282 "Test: System.Data.Tests.SqlTypes.SqlStringTest/SqlDateTimeToSqlString failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Data.Tests.SqlTypes.SqlStringTest/SqlDateTimeToSqlString` has failed.

Assert.Equal() Failure\r
              ? (pos 0)\r
    Expected: 10/22/2002 9:52:30 AM\r
    Actual:   22/10/2002 9:52:30 AM\r
              ? (pos 0)

        Stack Trace:

           at System.Data.Tests.SqlTypes.SqlStringTest.SqlDateTimeToSqlString()
Build : UWP 6.0 - 20170815.

[2017-08-16 03:13] #23280 closed

[2017-08-16 03:25] danmosemsft commented on #23282
@tarekgh I'm guessing all of these need to be changed to run remotely:

[code]

[2017-08-16 03:26] danmosemsft commented on #23282
(Not suggesting you do it , just thinking aloud)

[2017-08-16 03:31] danmosemsft commented on #23279
ICU issue that @weshaggard is debugging

[2017-08-16 03:55] geoffkizer commented on #23177
Can you provide a link to the API for this?

[2017-08-16 04:37] geoffkizer commented on #23177
@Drawaes I'm not ignoring SNI or cancellation.  I'm simply observing that the only must-have feature here for 2.1 is ALPN.

That said, @stephentoub and I chatted a bit today, and we agree that the options bag approach here seems like the right one, despite the additional work and risk associated with it.

[2017-08-16 04:48] geoffkizer commented on #23177
I think it would be useful to break this proposal down into a couple different parts:

(1) New AuthenticateAsClient/Server APIs that take option bags and a cancellation token, as well as the definition of the option bags that match existing APIs.  We should be clear about the principles used here.  I believe we plan to take both constructor args and method args and put them on the options bag.  Is

[2017-08-16 04:50] geoffkizer commented on #23177
[code]

I would suggest:
"ServerNameIndication" (or even just "ServerName")
"ApplicationProtocolName"

[2017-08-16 04:53] geoffkizer commented on #23177
[code]

Based on above discussion, it sounded like we were moving toward a callback model here.  Is that correct?  What does this look like?

[2017-08-16 04:55] geoffkizer commented on #23177
[code]

These should not be nullable; they should just have appropriate defaults.

[2017-08-16 05:01] geoffkizer commented on #23177
We should define these explicitly as part of the ALPN proposal.

Do we actually need http2 without TLS?  Are there any other defined protocol names we should include?

[2017-08-16 05:02] geoffkizer commented on #23177
Here's my suggestion: Make these objects freeze-on-use.

[2017-08-16 05:08] geoffkizer commented on #23177
For options like RemoteCertificateValidationCallback, which I can specify today in the constructor, what happens if I pass something to the constructor but then leave this null on the options bag?  Do we use the value from the options bag (null), or do we use the value from the constructor?  Similarly for other constructor args.

[2017-08-16 05:49] markmcdowell opened #23283 "FileLoadException when referencing log4net on Linux in netcoreapp2.0"
Looking at https://github.com/dotnet/corefx/issues/18088 I would expect to be able to reference log4net but I get downgrade warnings. So I updated the project as below:

[code]

Code is as simple as it could be.
[code]

Publish to win7-x64 and run and I get a working app.

Publish to centos.7-x64 and I get the below exception.

[code]

[2017-08-16 06:02] sidshetye commented on #8158
@sdrapkin you're right that several folks are waiting for this fix (just see this thread). I too simply assumed something important like this would be a part of the long awaited 2.0 release. Hopefully in v2.0.0.0.0.1 ...

[2017-08-16 06:24] davidfowl commented on #23283
[code]

@ericstj I thought we fixed the RID issues in 2.0?

[2017-08-16 06:54] Jiayili1 commented on #22956
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest~2FPostAsync_RedirectWith307_LargePayload

[2017-08-16 06:57] Jiayili1 commented on #23202
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FAllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode:%20301,%20oldMethod:%20%5C%22HEAD%5C%22,%20newMetho

[2017-08-16 07:17] StefanKert commented on #2089
@vrn11 this package is from another vendor and only supports full net framework

![image](https://user-images.githubusercontent.com/7176615/29351575-95592018-8263-11e7-916d-22d6165c9eb5.png)

Anyway wanted to ask if there is an update on this. Maybe a preview package that we can grab from myget? Would be awesome to test this out

[2017-08-16 07:24] Jiayili1 commented on #23231
This issue is repro in Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170816.01/workItem/System.Net.WebProxy.Tests/analysis/xunit/System.Net.Tests.WebProxyTest~2FWebProxy_BypassOnLocal_MatchesExpected

[2017-08-16 07:39] Tornhoof commented on #22781
I ran into that too.
Looks like that Visual Studio 2017 15.3 is shipping with a .NET 4.6.x System.Net.Http.dll with internal assembly version 4.2.0 and the latest Nuget Package assembly version is  4.1.1 for NetFX.

[2017-08-16 07:44] Jiayili1 commented on #22904
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170816.01/workItem/System.Net.WebSockets.Client.Tests.Execution/analysis/xunit/System.Net.WebSockets.Client.Tests.CancelTest~2FCloseAsync_Cancel_Success(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-08-16 07:54] Tornhoof commented on #22781
The current workaround is probably:
[code]
Then it uses the dll from the build extensions directory and not the one from Nuget.

[2017-08-16 08:03] kierenj commented on #22781
@Tornhoof indeed I think you're encountering the more common issue with System.Net.Http (https://github.com/dotnet/corefx/issues/9846 I think covers it) ?

I wonder if you had the "can't load a reference assembly" error?  When I use the workaround you posted, that's the result - I need to redirect from `0.0.0.0-4.2.0.0` to `4.0.0.0` for some reason.  What's more, this redirect is overwritten when

[2017-08-16 08:08] Tornhoof commented on #22781
I had a can't load assembly error once after starting, as soon as I started a rebuild I received the other error about incompatible errors.
The library referenced in your error is the reference dll, which can never start as far as I know, it's a stripped library.
In both of our cases VS 15.3 is the culprit and in both our cases a new nuget package should probably fix it.
But you might be correct t

[2017-08-16 08:23] geoffkizer commented on #4721
See latest proposal at #23177

[2017-08-16 08:23] #4721 closed

[2017-08-16 08:27] ViktorHofer commented on #21187
System.Drawing.Common is currently the only place where we have extra files for Monos serialization support. Everywhere else we removed the Serializable attribute completely.

The corefx sources are now cleaned up and the coreclr cleanup PR is pending and awaiting review. Afterwards I will look into corert.

[2017-08-16 08:29] #22818 closed

[2017-08-16 08:36] Drawaes commented on #23177
Okay I am good with splitting SNI and ALPN to be separate to the options bag change. I will launch two sub issues for those and answer the specific questions there for those and discuss only the options bag concept here.

[2017-08-16 08:37] ViktorHofer commented on #23007
I now started to look at the failing tests but couldn't see it failing for at least the last two days in neither UWP6.0 nor in master. Closing for now.

[2017-08-16 08:37] #23007 closed

[2017-08-16 09:23] markmcdowell commented on #23283
Ah I see, yes If I don't specify any `RuntimeIdentifier` it builds and runs.

[code]

[2017-08-16 12:09] jnm2 commented on #23262
`match.Groups.ContainsKey("options")` and `match.Groups["options"] != null` are equivalent, so this would be API sugar.

The sugar I'd prefer would be `bool TryGetValue(out Group group)`. Ever since out declarations, this has become one of my favorite patterns.

[2017-08-16 12:12] jnm2 commented on #23262
- It doesn't result in a double lookup like `if (match.Groups.ContainsKey("options")) { match.Groups["options"] }` does.
 - You know what to expect with `TryGetValue`, but most dictionaries throw `KeyNotFoundException` rather than returning null from indexers so the intent is clearer when reading code using `TryGetValue`.

[2017-08-16 12:28] henning-krause commented on #8158
This is very unfortunate. We are using the Inferno library by @sdrapkin and this is blocking us from moving our application to .NET Core.

[2017-08-16 13:13] MarcusKohnert commented on #2089
@StefanKert https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.DirectoryServices

[2017-08-16 13:31] JonHanna commented on #23054
I'll reopen after that is resolved if it still seems to timeout due just to running out of time.

[2017-08-16 13:47] UweKeim commented on #23229
This issue also happens suddenly to me in a _non_-Core .NET 4.6.2 / 4.7 project (i.e. full .NET Framework) together with Visual Studio 2017 Community Edition.

My guess is that some NuGet package I'm using was updated and (accidentially) brings in .NET Core.

Maybe unrelated: I'm also getting tons of exclamation marks in my references list after upgrading all NuGet packages to their latest version

[2017-08-16 14:19] chris31389 commented on #23229
@UweKeim I've got the same issue.  I'm having loads of `The referenced component 'System.Security.Cryptography.X509Certificates' could not be found.	Draycir.Approvals.WebApi` and its suggesting tons of redirects.

[2017-08-16 14:33] UweKeim commented on #23229
@chris31389 Is there a way to get the actual error message behind a yellow exclamation mark in Solution Explorer?

[2017-08-16 14:52] stephentoub opened #23291 "Test failed: System.Net.Security.Tests.SslStreamCredentialCacheTest / SslStream_SameCertUsedForClientAndServer_Ok"
## Types of failures

[code]

## History of failures

History since 2017/6, when another unrelated problem was addressed in the test.

Day | Build | OS | Details
--- | --- | --- | ---
11/28 | 20171128.03 | Win7 |
12/18 | CI: 55314276e4392f81422c627c94b074f4da492ca7 | Unknown
12/30 | 20171230.02 | Win7 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/te

[2017-08-16 14:59] PraisyA opened #23292 "Could not load type 'Microsoft.SqlServer.Server.SqlContext' from assembly 'System.Data, Version=4.0.0.0"
I am getting this exception when  i tried to restore the Data base using **c# , .Net core2 and VS2017 preview2 ,**
 here is the sample code
SqlConnection sqlConnection = new SqlConnection(ConnectionString);
    // Error on the line below
    Microsoft.SqlServer.Management.Common.ServerConnection conn = new Microsoft.SqlServer.Management.Common.ServerConnection(sqlConnection);

but this is working

[2017-08-16 15:08] pjanotti commented on #21156
@danmosemsft time to close this one...

[2017-08-16 15:08] #21156 closed

[2017-08-16 15:32] stephentoub commented on #23240
I don't understand the rationale stated for adding this.  On the one hand, the proposal states "The new API doesn't need to have great performance."  On the other hand, it states "It's faster and terser than the existing method."  So is the motivation here really just the terseness, comparing `Enum.IsDefined(typeof(Color), value)` against `value.IsDefined()`?  Or if performance is a motivating fac

[2017-08-16 15:34] pjanotti opened #23294 "UWP: Implement SerialPort.GetPortNames"
Currently it is throws PNSE. When this is done the test `OpenDevices01` should be enabled for Uap, likely it would be able leverage enumeration via registry, unless we run tests on devices that do not have registry information that will be fine. See #21156 for more information.

[2017-08-16 15:41] pjanotti commented on #23292
@PraisyA what is the error? Can you get the callstack?

[2017-08-16 15:51] tarekgh commented on #23282
Yes, in general setting current culture or current UI culture should be done remotely in our tests.

[2017-08-16 15:59] fabio-muramatsu opened #23296 "File.WriteAllTextAsync performance issues"
System configuration:
* `dotnet --version`: 2.0.0
* OS: Arch Linux

I'm facing performance issues using `File.WriteAllTextAsync` in .NET core 2.0. I'm relatively new to .NET core, so I don't know if I'm doing something wrong here. For testing purposes, have written 3 methods that do the same thing in different ways: all of them write some content to a random file, and then delete it.

[code]

I am

[2017-08-16 16:05] stephentoub commented on #23296
How are you creating the stream in the case where you use StreamWriter.WriteAsync?  Are you using the default of synchronous I/O or are you constructing the FileStream to use async I/O (the bool useAsync or FileOptions.Asynchronous ctor parameter).

File.WriteAllTextAsync will open the FileStream for async I/O:
https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/Fil

[2017-08-16 16:07] karelz commented on #22781
The 2 errors seem different to me.

@kierenj the first one suggests something is trying (by mistake) to load a reference assembly at runtime. We need to find out what and why. Is there a minimal repro?

@Tornhoof your second repro looks like something reproducible without any .NET Standard. It is pure .NET 4.6 problem. Can you please file a separate issue and tag me? Can you please clarify which l

[2017-08-16 16:11] kierenj commented on #22781
@karelz I will advise.  Could I sheepishly suggest there may be 3 issues (with reference to my final 3 paragraphs)?

[2017-08-16 16:14] chenkai169 opened #23297 "The SqlDbType type clash"
I create a .net core 2.0 library project and add System.Data.SqlClient from nuget on visual studio 2017 15.3.
I want to use the SqlDbType type.
Then the visual studio show errors:
The SqlDbType  type  exists in "System.Data.Common, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" and "System.Data.SqlClient, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

[2017-08-16 16:17] terrajobst opened #23298 "Random deviates from standard algortihm"
A customer filed the following bug report on [Connect](https://connect.microsoft.com/VisualStudio/feedback/details/634761/system-random-serious-bug):

Looking at the [sources](https://github.com/dotnet/coreclr/blob/633f4ed3231fd3977976fa974d13038b338be325/src/mscorlib/shared/System/Random.cs#L90), it seems the behavior is still the case.

I'm not sure what the implication of our deviation is. If w

[2017-08-16 16:20] danmosemsft commented on #23229
/cc @weshaggard @ericstj who may have insight.

[2017-08-16 16:25] fabio-muramatsu commented on #23296
I'm not doing anything besides what is shown in `WriteWithStreamWriter`, so I guess it's the default stream. Actually, I've followed [this guide](https://docs.microsoft.com/en-us/dotnet/standard/io/how-to-write-text-to-a-file) to have `StreamWriter` write to a file asynchronously, so I thought `WriteAsync` would use async I/O by default. Is this not the case?

[2017-08-16 16:29] Clockwork-Muse commented on #23298
Related/duplicate: #12746

[2017-08-16 16:30] davidsh commented on #23202
There no logs associated with this failure.  Please show the errors, callstacks.

[2017-08-16 16:30] #23202 closed

[2017-08-16 16:31] darrensteadman commented on #22085
I have this exception being thrown in an application I'm currently porting to .NET Core 2.

Is there a work around?

[2017-08-16 16:32] davidsh commented on #22956
There are no logs when I click on the above link.  Please include call stack and errors generated.

[2017-08-16 16:34] terrajobst commented on #23298
@Clockwork-Muse

I checked earlier to see if there is an existing bug #12746 isn't a dupe, but it's related. The customer issue is more specific to our existing algorithm.

[2017-08-16 16:36] #23297 closed

[2017-08-16 16:39] ajcvickers commented on #21534
Some questions:
* If anyone has code `new ForeignKeyAttribute(null);` will this now fail to compile? If it does fail, does this then constitute a breaking change?
* What are the behaviors if names is null or the empty list?
* It's unlikely that most of the consuming code will ever be updated, so regardless of whether or not the Names property is added it's important that consumers will still be ab

[2017-08-16 16:44] davidsh commented on #22085
Are you also running Windows 7? This issue was logged against a test pass running Windows 7.

Or are you running some other Windows version?

[2017-08-16 16:44] wfurt opened #23299 "corefx does not build on Ubuntu 17.04"
This is because  clang-3.5 is no longer available and system  comes with 3.8 by default.
The src/Native/ build script has option to specify different version but that is not exposed to top level scripts (build.sh and build-native.sh)

This is somewhat unpleasant as for example we require minimum 3.9 for arm so available 3.8 should work just fine.

I think there are two possible stages for fix:
#1

[2017-08-16 16:50] danmosemsft commented on #23282
@corivera the correct pattern is something like
[code]

All the tests setting CurrentCulture should follow this pattern. There's some others outside of System.Data.Common but most likely fixing these should avoid this particular test failure.

[2017-08-16 16:51] dapalmi opened #23300 "ASP.NET Core with Docker support: Connection refused"
I have a ASP .NET Core (v2.0) app with Docker support. And I want to start a Oracle Database when starting my app. This is how my docker-compose file looks like:

[code]

I use Devart data provider dotConnect for Oracle.

[code]

But when I try to connect to the database of the created Oracle DB container I get following exception:

I also tried to include the `depends_on` as well as the `networks

[2017-08-16 16:51] PraisyA commented on #23292
Hello @pjanotti

 Here is the stack message
`   at Microsoft.SqlServer.Management.Common.ConnectionManager.CallerHavePermissionToUseSQLCLR()
   at Microsoft.SqlServer.Management.Common.ConnectionManager..ctor(SqlConnection sqlConnectionObject)
   at Microsoft.SqlServer.Management.Common.ServerConnection..ctor(SqlConnection sqlConnection)
   `

Thanks
Victor.A

[2017-08-16 16:52] #22803 closed

[2017-08-16 16:53] #23000 closed

[2017-08-16 16:57] tijoytom commented on #23039
@safern Ported to NRel , should be available in next build

[2017-08-16 17:09] safern commented on #23039
Thanks.

[2017-08-16 17:13] safern commented on #22545
@AntonLapounov any progress on this failure? We are getting closer to have a green test run in release branch and this is one of the pending test failures.

[2017-08-16 17:18] weshaggard commented on #23292
Can you tell us which library you are referencing? Where are the Microsoft.SqlServer.Management APIs coming from?

[2017-08-16 17:20] weshaggard commented on #23292
SqlContext doesn't look like a type that is ported to .NET Core yet and I'm guessing that the Microsoft.SqlServer.Management library is a .NET Framework compiled library which is why it is hitting this issue.

[2017-08-16 17:20] ericstj commented on #23229
/cc @dsplaisted This is the built-in netstandard support for .NETFramework.  For net461 and later you no longer need packages to get netstandard support, we put it in the build system.

@Quppa to fix those warnings you should apply all of the suggested binding redirects.  That should resolve the YSOD.  For projects with web.config this means double clicking the warnings in the error window and let

[2017-08-16 17:24] darrensteadman commented on #22085
Yes I'm running Windows 7.

I've not had much time to investigate it yet. What generally is the cause of the problem? The Win32 exception is a bit vague. Is it calling out to some native function and I just so happen to not have the correct version of something installed?

Interestingly I've also tried running the code on a custom ARM Yocto Linux image and I get a failure at the same place. Can't

[2017-08-16 17:34] danmosemsft commented on #23211
@FransBouma we hear your feedback. This was intentional to allow VS and the .NET Core SDK to version and install independently but clearly it makes this situation possible for those that install previews.
I'm going to close this as my undrestanding is as you say it's resolved.

[2017-08-16 17:34] #23211 closed

[2017-08-16 17:34] ericstj commented on #22781
Root cause of this appears to be similar to https://github.com/dotnet/corefx/issues/23229.  *Nothing* should be trying to load reference assemblies for execution.  Your workaround of redirecting to the framework version will potentially break some libraries.  We need to root cause the very first error in order to get the correct fix.  Would it be possible for you to share a full callstack for that

[2017-08-16 17:36] PraisyA commented on #23292
@weshaggard
 when start working on this task  it does not find the Microsoft.SqlServer.Management library then
I just install Microsoft.Sqlserver.Scripting using nuget packages (some one suggest me install this) , then it was added .
![microsoftsqlserver2](https://user-images.githubusercontent.com/30825040/29376777-4d62fe04-82d7-11e7-97ce-7b05f7e85e58.PNG)

Thanks

[2017-08-16 17:44] danmosemsft commented on #23282
@nchikanov perhaps you coudl grab this cleanup as a quick stocking stuffer task?
note there are others in the tree that don't use remote (search for setting CurrentCulture) but these at least are worth doing..

[2017-08-16 17:45] JonHanna opened #23304 "Error running build-tests"

[2017-08-16 17:52] weshaggard commented on #23292
Yes that is a library built against .NET Framework which is referencing types that don't exist in .NET Core. While we have done a lot of porting in .NET Core 2.0 the types this library needs aren't all present yet. So unfortunately this library will not run on .NET Core.

[2017-08-16 17:54] danmosemsft commented on #22781
/cc @weshaggard

[2017-08-16 17:54] ericstj commented on #23283
@davidfowl we did fix them in the 2.0 packages.

In this case the library (log4Net) is referencing 1.0 packages.  Someone else brought in a 1.1 MS.NETCore.Targets package (which isn't in this log snippet).

This issue is exactly: https://github.com/dotnet/corefx/issues/18088

We fixed it by shipping a new version of Microsoft.NETCore.Targets that would strip out all the runtime.* RID-specific pack

[2017-08-16 17:58] ericstj commented on #2089
As @MarcusKohnert mentioned you can grab them from https://dotnet.myget.org/F/dotnet-core/api/v3/index.json.  There's  System.DirectoryServices, System.DirectoryServices.AccountManagement, and System.DirectoryServices.Protocols.

[2017-08-16 18:00] #22965 closed

[2017-08-16 18:00] danmosemsft commented on #23193
@huto1

That's not good. Can you please open a separate issue for that, with details? Either in the CoreFX repo or perhaps better at https://github.com/dotnet/sdk perhaps.

[2017-08-16 18:01] jnm2 commented on #23240
+1 for a non-boxing instance method.

[2017-08-16 18:03] jnm2 commented on #23296
I thought the *Async methods always did async IO 😶

[2017-08-16 18:10] stephentoub commented on #23296
There's async at the API level and async from the OS' perspective.

FileStream has two modes, set when it's constructed, which dictates whether it opens the Windows file handle for overlapped I/O or not; this is because opening a file handle on Windows requires this to be dictated when the file is opened, not per operation.  That's entirely separate from whether you then call synchronous or asynch

[2017-08-16 18:12] danmosemsft commented on #23292
@corivera perhaps it would be interesting to see how much it would take to get Microsoft.SqlServer.Scripting to run .. whether SqlContext is the tip of the iceberg.

[2017-08-16 18:12] karelz commented on #22781
@kierenj what is the 3rd one? Debugging tools?

[2017-08-16 18:17] chengjinshengtaichanyejituan opened #23305 "Installation is not compatible with Windows 7"

[2017-08-16 18:20] danmosemsft commented on #23304
[code]

c697644

@huanwu can you please fix this test break? Are these tests running in CI?

[2017-08-16 18:26] Drawaes commented on #23177
How does freeze on use manifest? Is there an internal flag and if you try to set something after that it throws? If so what's the exception appropriate here? What about if the certificates ends up being a list or dictionary? We have to freeze the list/dictionary as well.... how is that done? (I like the idea just not sure how it is implemented).

The other option is to have a hashcode or compare t

[2017-08-16 18:27] Tornhoof opened #23306 "System.Net.Http redirect errors in VS 15.3.0"
As requested by @karelz a dedicated bug to the issue mistakingly reported in #22781.

Story:

- Existing .NET 4.6 application, including System.Threading.Tasks.Dataflow 4.7.0 nuget package and System.Net.Http 4.3.2 package, redirects for System.Net.Http are configured
- Nuget offers update of Dataflow to V 4.8.0
- After update, redirects for System.Net.Http warn that I should redirect to V 4.2.0
N

[2017-08-16 18:28] adityamandaleeka commented on #23305
@chengjinshengtaichanyejituan I've translated the title for others' convenience. Please let us know if that's a mistranslation.

Can you also please share more details about what you're trying to do?

[2017-08-16 18:30] chengjinshengtaichanyejituan commented on #23305
也没有，知识有点 不懂

[2017-08-16 18:32] stephentoub commented on #23177
Why is it a problem to have the options bag be mutable?  It's no different from anything else: you give this to the API, and the API expects it to be in a consistent state for the duration of the operation... if you change it while the operation is in flight, that's a bug, no different from any other case where you mutate something while a called method depends on it (e.g. the buffers passed to re

[2017-08-16 18:32] geoffkizer commented on #23177
Yep.  InvalidOperationException.  This is what HttpClient/HttpClientHandler do for their settings.  See https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L589

We could make a freezable list/dictionary if necessary.

[2017-08-16 18:33] geoffkizer commented on #23177
I'm fine with just letting it be mutable, too.  Seems like the easiest approach.

[2017-08-16 18:33] nchikanov opened #23307 "Test Failure: UnloadingAndProcessExitTests.netcoreapp.cs:line 34"
Discovered failing test case in UWP CoreCLR x64 Debug Build
(https://mc.dot.net/#/user/nchikanov/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/eea80bba9af50534e761788810fef3c3335cff4f/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.UnloadingAndProcessExitTests~2FUnloadingEventMustHappenBeforeProcessExitEvent)

` Xunit.Sdk.EqualException
Windows.10.Amd64

[2017-08-16 18:35] Drawaes commented on #23177
For the constructor vs option bag params. Either an exception  should be thrown if they are supplied in the constructor and the options are used. Or throw only if they are supplied on the constructor and different, or take the most restrictive ( in your example use the call back not the null).

I am leaning towards throwing though... purely on the "it's security" side. Less ambiguity and less perm

[2017-08-16 18:36] weshaggard commented on #14235
@danmosemsft this already shipped in the 4.3.1 version of the package and the 4.4.0 version as well.

[2017-08-16 18:39] Drawaes commented on #23177
I am thinking hard about how you will need to use the options..... at the moment I can't see an immediate problem other than internal perf (you can make a single ctx and reuse over and over on openssl) but I think that can be handled internally. So for now let's leave the freeze on the backburner. Mutate it is :)

[2017-08-16 18:41] shmao commented on #22776
`SchemaExporter.InvokeSchemaProviderMethod` needs to reflect the method specified in a type's `XmlSchemaProviderAttribute`. For example, `SchemaExporter` needs to call `DataSet.GetDataSetSchema` via reflection.

[code]

The test failed on uapaot because the metadata of the method to be called was reduced. To make the test pass, we can add the following in rd.xml,

[code]

@morganbr Is this somethi

[2017-08-16 18:42] lextm commented on #23305
@chengjinshengtaichanyejituan if you don't know English at all, please post to MSDN Chinese forums, https://social.msdn.microsoft.com/forums/zh-cn/home where you can use 中文 to get what you want.

[2017-08-16 18:45] danmosemsft commented on #14235
@weshaggard so if I undrestand right we don't know of anything more we need to do.

[2017-08-16 18:46] TylerBrinkley commented on #23240
I'd really hate for this to get added when #15453 only needs C# to allow the enum generic constraint in [csharplang#104](https://github.com/dotnet/csharplang/issues/104). #15453 doesn't box, uses the same terse syntax but as an extension method, and will perform much better. In [Enums.NET](https://github.com/TylerBrinkley/Enums.NET), which #15453 is based on, the `IsDefined` extension method runs

[2017-08-16 18:48] michael-hawker commented on #23262
@danmosemsft will do.

@jnm2 I'll add that to my request as well though I think it'd be ```bool TryGetValue(string key, out Group group)```, eh?

I did notice that currently the non-existence groups **are empty strings** and not null (at least in UWP), so it's a little ambiguous currently as to the result (i.e. if the group captured but contained nothing vs. didn't exist at all).

[2017-08-16 18:50] Drawaes commented on #23177
I presume just adding things like the protocol negotiated server name etc as properties is fine rather than a results object? (I prefer the properties but want to check).

[2017-08-16 18:52] fabio-muramatsu commented on #23296
Thank you for the explanation, I was not aware of this behavior.
However, I was not expecting such a difference in performance when running async I/O. Since you mentioned that there are some aspects of it particular to Windows, I've decided to test these methods on my Windows laptop. Here are the results using  `Measure-Command` from Powershell:

[code]

Indeed, on Windows, `WriteAllTextAsync` per

[2017-08-16 18:53] geoffkizer commented on #23177
That's the pattern today, right?  I'm fine with that.

[2017-08-16 19:17] #23023 closed

[2017-08-16 19:17] karelz commented on #23306
System.Threading.Tasks.Dataflow nuget 4.8.0 has likely reference on System.Net.Http 4.2.0 DLL.
@weshaggard @ericstj any idea why?

[2017-08-16 19:18] StefanKert commented on #2089
Awesome! thanks to @MarcusKohnert  and @ericstj for the links!

[2017-08-16 19:21] karelz commented on #23306
BTW: Latest nuget [System.Net.Http 4.3.2](https://www.nuget.org/packages/System.Net.Http/4.3.2) has assembly version 4.1.1.1 in lib\net46 directory

[2017-08-16 19:33] weshaggard commented on #23246
With .NET Core 2.0 we shipped System.NET.Mail as part of it so you should be able to remove your package reference to System.Net.Mail and it should work.

[2017-08-16 19:42] weshaggard commented on #21503
I've recently been working on getting RHEL6 builds going so I now have a much better idea of what commands you need to build each of the repo's for a new RID. I'm going to work on publishing some documentation with that information (hopefully over the next week or so). So that will hopefully help with your first question.

I agree with @sdmaclea that you should try to be as general as possible so

[2017-08-16 19:48] ericstj commented on #23306
Can you clarify if this is .NET 4.6 or .NET 4.6.1?  You mention net 4.6, but I see later you might be targeting net461 based on this: MSBuild\Microsoft\Microsoft.NET.Build.Extensions\\**net461**\ref\System.Net.Http.dll

I repro'ed when targeting 4.6.1.  The reason this is happening is because those packages (System.Buffers, System.Threading.Tasks.DataFlow, etc) have a netstandard2.0 build.  When a

[2017-08-16 19:50] Tornhoof opened #23308 "The type 'SqlDbType' is defined in both System.Data.SqlClient and netstandard 2.0"
Noticed this while updating a library which uses Dapper (which is compatible with .NET standard 1.3+)

Steps to reproduce:

- Create library targeting .NET standard 2.0
- Reference Dapper
- Add ``private SqlDbType _Type = SqlDbType.BigInt;`` to class in library

Expected result:
- No errors

Actual result:
CS0433	The type 'SqlDbType' exists in both 'System.Data.SqlClient, Version=4.1.0.0, Culture=

[2017-08-16 19:54] benaadams commented on #23240
@jamesqo as far as I can remember the current method takes a meandering path checking if both types are Enums etc

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/RtType.cs#L3597-L3642
[code]
Whereas a instance method would be a compile time assurance and cut down the lookups on type. However it would still box.

[2017-08-16 19:59] rainersigwald commented on #23306
@ericstj That message was improved in https://github.com/Microsoft/msbuild/pull/317 for Visual Studio 2015 Update 2. But it was distinct from what @Tornhoof was reporting before that, so I suspect that your repros are not the same.

[2017-08-16 20:00] markmcdowell commented on #23283
Would this be the correct settings?

[code]

With this the compiler doesn't complain anymore but at runtime I still have similar issues on linux.

This simple code:
[code]

Results in:
[code]

[2017-08-16 20:02] weshaggard commented on #13566
@aelij it was never shipped directly as an individual package, it is now part of the core Microsoft.NETCore.App package or the .NET Framework support package. So depending on your needs one of those will have the update or you could also reference https://www.nuget.org/packages/Microsoft.NETCore.Windows.ApiSets/1.0.1 to get the shims needed to run on win7

[2017-08-16 20:03] weshaggard commented on #23279
This should be fixed now.

[2017-08-16 20:11] Priya91 commented on #23177
Options bag sounds good, and having this options bag specific to TlsExtension makes the new API less confusing on what it's intending to do. For now, keep the options bag support only those setting required for alpn and sni, as and when new tls extensions need to be supported this bag can be extended to add new properties. If there's real user request to extend the options bag to old settings, the

[2017-08-16 20:13] #23230 closed

[2017-08-16 20:16] Tornhoof commented on #23306
@ericstj Sorry, yes it happens with .NET 4.6.1 and 4.6.2 (didn't test any others though).
I understand your solution, which is basically equivalent to my workaround.

Thank you for your explanation, but I'm not certain if that behaviour is valid or even useful. Suddenly my builds are not reproducable anymore, because suddenly the libraries are taken from the VS installation directory and not my Nu

[2017-08-16 20:17] huanwu commented on #23304
@danmosemsft yes, the test pass in the CI so I am able to check in. Did you sync the whole branch before running the test?

[2017-08-16 20:20] danmosemsft commented on #23304
I didn't see Microsoft.XmlSerializer.Generator.Tests.XmlSerializers.cs on disk (I didn't run the test though..)

[2017-08-16 20:22] mscrivo commented on #23306
Been struggling with this for 3 days now, ever since the update was released.  We had a previously compiling solution with all projects targeting .NET 4.6.2 with VS 2017 15.2.   Many of our projects referenced System.* packages that were pulled in by various packages that were built against .NET Standard.

Upon upgrading to VS 2017 15.3, everything broke,  I've had to resort to removing the nuget

[2017-08-16 20:22] huanwu commented on #23304
The file will be auto-generated when call the following code. Did you see any error when running this line of code?
Sgen.Main(new string[] { "Microsoft.XmlSerializer.Generator.Tests.dll", "/force", "/casesensitive" });

[2017-08-16 20:24] danmosemsft commented on #23304
I'll let @JonHanna reply. Perhaps he is not synced.