[2017-05-09 15:50] karelz commented on #12993
Moving to Future due to low frequency

[2017-05-09 15:51] stephentoub commented on #12993
I already have a PR out to fix it:
https://github.com/dotnet/corefx/issues/19529

[2017-05-09 15:53] weshaggard commented on #15160
I don't know about those environment variables but I would hope we don't need them. We fixed part of this issue in the past with https://github.com/dotnet/corefx/pull/1798 but we have regressed it in the a few places so we should try to update the places in init-tools.cmd and the VerifyDependencies task to make sure we setting up the default proxy and passing the credentials.

[2017-05-09 15:55] karelz commented on #2089
@pasikarkkainen AFAIK there is no such active effort at the moment from Microsoft teams (which might, or might not change in near future). I haven't seen anyone from community starting to work on it either.
Are you interested in contributing, or just curious about the status?

[2017-05-09 16:02] danmosemsft commented on #9975
@mmitche is finishing off making this work.

[2017-05-09 16:05] weshaggard commented on #18964
In that case I tagged as netfx-port-consider so a netfx bug is created to try and fix this there.

[2017-05-09 16:06] davidsh commented on #19513
Actually related to #9228.

It turns out that if a request is canceled on a another thread which results in the WinHTTP request handle being closed (SafeWinHttpHandle disposed), then we can get either "The handle is invalid" or "The handle is in the wrong state for the requested operation" depending on what WinHttp API we call with a disposed/closed handle.

In this failure case here, when WinHttp

[2017-05-09 16:08] karelz commented on #16201
This issue is top test failure, making our Networking test suite unreliable. That's why we are keeping it in 2.0. I would really like it to see addressed (somehow) in 2.0, to lower test-failure noise in 2.x servicing branches.

[2017-05-09 16:08] karelz commented on #12993
Ah, I missed that, sorry.

[2017-05-09 16:09] davidsh commented on #19513
The root problem here is that there is a timeout occurring on the call to the server (maybe network hiccup) and so the request is being cancelled via HttpClient.TImeout property.  That is happening on a separate thread from the request being processed.

Once #9228 is fixed, then all cancellations due to Timeout occurring should return an OperationCancelledException consistently.

However, getting

[2017-05-09 16:12] davidsh commented on #19512
Despite using a loopback server, there is still a timeout happening.  Due to #9228, we are getting "The handle is invalid" errors.  But once that related issue is fixed, we will probably get OperationCancelledException in the event of a timeout/cancellation.

The root problem of why we are getting occasional timeouts istsill not understand especially if it is using a loopback server.

[2017-05-09 16:12] mpfisterUniBE commented on #2089
@karelz It looks like they are targeting the DirectoryServices for the .NET Core 2.0 release this summer.

Quote from @shanselman

=> https://github.com/aspnet/Home/issues/2022#issuecomment-299536123

[2017-05-09 16:23] Ermiar commented on #17905
I have created a pull request for System.Net.Mail and signed the agreement.

[2017-05-09 16:38] karelz commented on #17905
Thanks @Ermiar! Top-issue updated with link to the PR.

[2017-05-09 16:39] jlanng commented on #15160
Those two seem to be the standard cross-platform means of overriding the default proxy config.  Anyone who uses NPM or Git in this sort of environment would have them set.  Perhaps this is more of a future refinement.

At present buildtools, corefx and coreclr won't build from behind a proxy (I haven't checked any others).

I think the root problem is that there's no  standard piece of code for do

[2017-05-09 16:42] #12993 closed

[2017-05-09 16:43] natemcmaster commented on #19508
Thanks for clarifying what's going on here. Would it be possible to detect this situation and improve the error message? The error message looks like a native message from macOS, but it's unfortunately generic. The [search results](https://www.google.com/search?q=The+contents+of+this+item+cannot+be+retrieved.) for this message are unlikely to help a user find this solution.

[2017-05-09 16:45] karelz commented on #2089
Yep, that's in line with hallway discussions I've heard. I just wasn't sure if it is public info and how much (and who) committed to it. I think it is safe to say, it is under very strong consideration and it is likely going to happen. I let @shanselman & DirectoryServices owners comment on the timelines.

[2017-05-09 16:50] bartonjs commented on #19508
@natemcmaster Right now I'm trying to stay out of the business of reinterpreting system errors.  By occurrence `errSecDataNotAvailable` seems mostly to be about invalid state (e.g. `item->data` being `nullptr` long past the part where it shouldn't have been); but the "oh, the exportable bit isn't set? then report an error" check happens to also use it (in this case, it's not the data is missing, i

[2017-05-09 16:57] natemcmaster commented on #19508
Sounds reasonable. At the very least, this issue will pop up in search results now :).

By the way, the repro code above worked in .NET Core 1.x, but fails when moving to 2.0. Are there other significant ways X509Store has changed that might break 1.x code?

[2017-05-09 17:00] stephentoub opened #19534 "Write_HeadersToClosedConnectionSynchronously_ThrowsHttpListenerException test fails on macOS"
[code]

[2017-05-09 17:10] blowdart opened #19535 "[Announcement] [Discussion] Microsoft Security Advisory 4021279: Vulnerabilities in .NET Core, ASP.NET Core Could Allow Elevation of Privilege"
# Microsoft Security Advisory 4021279: Vulnerabilities in .NET Core, ASP.NET Core Could Allow Elevation of Privilege
## Executive Summary

Microsoft is releasing this security advisory to provide information about vulnerabilities in public .NET Core and ASP.NET Core. This advisory also provides guidance on what developers can do to update their applications correctly.

.NET Core & ASP.NET Core are

[2017-05-09 17:10] danmosemsft commented on #16433
@VSadov this did not fail in the last run: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170509.02
I don't have a good way of looking at test history right now to see whether it's flaky or not. Without that, there is no evidence that this issue is relevant any more.

[2017-05-09 17:12] danmosemsft commented on #16433
@maririos do you havea way to look up the history of this test in Kusto? @sokket used to do this for me while he was working on making proper UI for it. When did this test fail last?

[2017-05-09 17:15] VSadov commented on #16433
Could have been fixed... In ET or in layers below.
These tests are not generally noisy. The functionality is pretty deterministic.

[2017-05-09 17:20] bartonjs commented on #19508
Almost everything in System.Security.Cryptography.X509Certificates was a complete rewrite on macOS for 2.0, part of getting rid of the OpenSSL dependency.  I happen to have just put out a doc PR: https://github.com/dotnet/corefx/pull/19536.  Anything that is different between macOS and Linux pretty much means "changed because we switched from OpenSSL to Security.framework".

[2017-05-09 17:31] danmosemsft commented on #16433
@VSadov feel free to close then.

[2017-05-09 17:48] ViktorHofer commented on #11345
FtpWebRequestTests test class has plenty of methods which run on Outerloop and have a comment which pointed me here. Is this still an issue or should we try removing the Outerloop?

[2017-05-09 17:54] davidsh commented on #11345
Pls leave Outerloop as-is.  In general, networking tests which access a remote endpoint or even loopback still need to be outerloop for now.

[2017-05-09 17:54] tmds commented on #16201
somehow:
- investigate root cause and try to solve it (not feasible for 2.0)
- disable test
- use curl libraries from dotnet scl
- other?

[2017-05-09 17:55] davidsh commented on #11345
This issue probably shouldn't be marked 2.0 though.

@karelz Why is this issue 2.0?  At this point, we are not ready yet to move all networking tests to inner loop.

[2017-05-09 17:55] davidsh commented on #11345
Oh. Never mind. I see that this issue is closed.  So, no action required.  Thx.

[2017-05-09 17:57] VSadov commented on #16433
@danmosemsft - I could not find any failures of this test in the kusto history. It seems to be passing recently

[2017-05-09 17:57] #16433 closed

[2017-05-09 17:58] karelz commented on #11345
BTW: I set milestones on issues which are closed, so that it is easy to find out when they were fixed / resolved as won't fix, etc.

[2017-05-09 17:59] danmosemsft commented on #17220
@Priya91 do you have time to take this one?

[2017-05-09 18:00] karelz commented on #16201
Disable test is not feasible, because it shows up in random tests all over.

I am waiting on @Priya91's recommendation ...

[2017-05-09 18:06] schen381 commented on #19507
After offline discussion, we decided to merge the issue with #19428. Any further discussion can be posted there. Thanks.

[2017-05-09 18:06] #19507 closed

[2017-05-09 18:07] schen381 commented on #19428
After investigating into #19428, there is a risk by using LingerState to wait for send/receive operation complete, before dispose the socket.

Because the LingerTime value is arbitrarily set by us, some slow computers may take more time to finish the send/receive operation, so it's possible that some data are still available before we dispose the socket. And in this case, we will use a RST packet

[2017-05-09 18:16] saurabh500 commented on #17039
New package is available at https://www.nuget.org/packages/System.Data.SqlClient/4.3.1

[2017-05-09 18:16] #17039 closed

[2017-05-09 18:16] Priya91 commented on #16201
@tmds You mention that Users running on rhel should use the .NET Core packages of rhel which includes a newer version of libcurl and is linked with openssl.

How do we get this on the CI machines?

[2017-05-09 18:17] saurabh500 commented on #13422
Official package updated at https://www.nuget.org/packages/System.Data.SqlClient/4.3.1

[2017-05-09 18:19] karelz commented on #19428
@schen381 only one issue type please - either "test bug" or "test enhancement" -- see [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)

[2017-05-09 18:21] bartonjs opened #19539 "Remove_PrefixExistsStarted_ReturnsTrue failure in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/7597/consoleFull#145732169079fe3b83-f408-404c-b9e7-9207d232e5fc

        Assert.Throws() Failure
        Expected: typeof(System.Net.Http.HttpRequestException)
        Actual:   (No exception was thrown)
        Stack Trace:
           --- End of stack trace from previous location where exception was thrown ---

[2017-05-09 18:21] bartonjs commented on #19539
Also https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/4880/consoleFull#90892433279fe3b83-f408-404c-b9e7-9207d232e5fc.  Both were from a docs-only PR.

[2017-05-09 18:24] schen381 commented on #19428
@karelz Sorry, since I opened a broader discussion for this issue in the comment, I am not sure how to triage it. @davidsh could you take a look please?

[2017-05-09 18:26] Priya91 commented on #17220
@danmosemsft Yes, i'm looking at this next

[2017-05-09 18:32] Priya91 commented on #10146
@karelz We should document the dependencies [here](https://docs.microsoft.com/en-us/dotnet/articles/core/getting-started), and we can reference this in the upcoming issues. Do you know who should be contacted to make progress on this issue further?

[2017-05-09 18:33] davidsh commented on #19428
We should stay with "test bug" for now since we still unreliable tests at times due to the currently test implementation. I've updated the labels.

[2017-05-09 18:41] #19489 closed

[2017-05-09 18:42] Priya91 commented on #18128
@hughbe What other issues if this one tracking?

[2017-05-09 18:46] tmds commented on #16201
@Priya91 On RHEL the default version of curl is an 'old' one and it stays that way to keep compatibility.
If you install dotnet on RHEL (per https://www.microsoft.com/net/core#linuxredhat), this will include a more recent version of libcurl.
This libcurl does not replace the system version. It is only used when doing dotnet stuff. It get's used because when you do `scl enable rh-dotnetcoreXX bash`

[2017-05-09 18:48] Priya91 commented on #9728
We have another bug tracking the documenation of the supported httpclient features with underlying libcurl+backend ssl install. Closing this as dupe of #10146

[2017-05-09 18:48] #9728 closed

[2017-05-09 18:50] karelz commented on #10146
@richlander @leecow @gotheap are you the right people to help with prereq docs?

@Priya91 we have other places as well - e.g. [Supported OS versions](https://github.com/dotnet/core/blob/master/roadmap.md#supported-os-versions) and CoreFX/CoreCLR engineering docs.

Moving to Post-ZBB.

[2017-05-09 18:56] geleems commented on #14615
I was trying to repro the issue with this simple ASP.NET Core code.

[code]
Controller method:
[code]
The web app does not crash with wrong password, and browser simply shows this message on screen.
[code]
It seems it is already fixed.

[2017-05-09 19:00] Priya91 commented on #19387
There's a bunch of new timeout failures in networking tests on osx, #19514 #19517. 2 in sockets and one in ping, the ping test also uses raw sockets for icmp from the ping tool. It could be an issue in OSX socket connections, just noting here, in case it's a pattern.

[2017-05-09 19:02] danmosemsft commented on #19518
@safern that would terminate the test but tests can expect exceptions from the remote process (https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/AppDomainTests.cs#L94) so they wouldn't want that

I think what needs to be done is
1. capture the console output from the spawned process
1. write it to `XUnit.ITestOutputHelper` so it goes to the XML log (generally

[2017-05-09 19:10] jefffhaynes commented on #984
I think it's a shame .NET Core went with SerialPort over SerialDevice.  SerialPort feels dated whereas SerialDevice can mean UART a la Windows IoT.

[2017-05-09 19:24] louislewis2 commented on #3324
@karelz Your last comment, seemed at the time like one meant for internal discussion.
Did you want anyone to suggest an API? All though not technically your problem, the lack of this feature in .Net Core and with the change that is currently being discussed in the link above, simply put means that we need to drop using ASP.NET Core all together. This would only put us back around 2 years, as we ha

[2017-05-09 19:36] CIPop commented on #17690
Reopening since there are two cases where TODO items in the test-code are referencing this issue.

https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=17690&type=

[2017-05-09 19:39] willdean commented on #984
@jefffhaynes Do you just mean the name of the class?

[2017-05-09 19:46] jefffhaynes commented on #984
Well I like the (UWP) SerialDevice API as well but yeah, I mostly mean that the name suggests a COM port vs something more generic.

---------------
I much prefer the sharpest criticism of a single intelligent man to the thoughtless approval of the masses - Johannes Kepler
________________________________
From: Will Dean <notifications@github.com>
Sent: Tuesday, May 9, 2017 3:40:19 PM
To: dotnet/c

[2017-05-09 19:48] maririos commented on #16433
For future references, Yes @danmosemsft you could ask me about it, or as @VSadov did, you could query Kusto yourself (I can show you how :) ).
Please note that Kusto started storing data since April 15th of this year. I went back to our DB and didn't find that specific test failing.

[2017-05-09 19:48] #19270 closed

[2017-05-09 19:54] willdean commented on #984
@jefffhaynes The merit in migrating the existing SerialPort class is compatibility with existing apps - I don't think anyone thinks it's the best possible interface (though personally I think it takes a lot of blame for stuff which is actually broken elsewhere).   If you value backwards compatibility, then a mere name change might just feel like gratuitous breakage.

It's not like it's called `Com

[2017-05-09 19:58] jefffhaynes commented on #984
Yeah, fair point. I think I keep forgetting that part of this is maintaining the lineage.  Sure would be nice to shed some debt...

---------------
I much prefer the sharpest criticism of a single intelligent man to the thoughtless approval of the masses - Johannes Kepler
________________________________
From: Will Dean <notifications@github.com>
Sent: Tuesday, May 9, 2017 3:54:33 PM
To: dotnet/co

[2017-05-09 20:01] safern opened #19543 "Desktop: "System.Net.Tests.HttpListenerPrefixCollectionTests" failed"
System.Net.Tests.HttpListenerPrefixCollectionTests.Add_InvalidPrefixAlreadyStarted_ThrowsHttpListenerExceptionOnAdd

Failed with error:
[code]

This failed on both Jenkins and Helix.

#### Jenkins
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/4880/testReport/junit/System.Net.Tests/HttpListenerPrefixCollectionTests/Remove_PrefixExistsStarted_ReturnsTrue/

#### Helix

[2017-05-09 20:02] safern commented on #19543
I will disable the test on desktop.

[2017-05-09 20:03] safern commented on #19543
System.Net.Tests.HttpListenerPrefixCollectionTests/Add_InvalidPrefixNotStarted_ThrowsHttpListenerExceptionOnStart

Also failed on Helix:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170509.02/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerPrefixCollectionTests~2FAdd_InvalidPre

[2017-05-09 20:10] davidsh commented on #19543
cc: @stephentoub @hughbe

This is due to @hughbe latest PR changes in HttpLIstener.

[2017-05-09 20:12] CIPop commented on #9543
The Parallel.For changes I'm making [here ](https://github.com/dotnet/corefx/blob/b43b4df2e0e2182154bb0f425cb4a61bc1269828/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L122) and [here](https://github.com/dotnet/corefx/blob/b43b4df2e0e2182154bb0f425cb4a61bc1269828/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L134) are

[2017-05-09 20:12] stephentoub commented on #19543
I've already disabled this one (and a few others).
https://github.com/dotnet/corefx/blob/c4ddfc3b9be6b6afa4b4168582507c1aca2b2a2e/src/System.Net.HttpListener/tests/HttpListenerPrefixCollectionTests.cs#L268

[2017-05-09 20:13] safern commented on #19543
Thanks @stephentoub

[2017-05-09 20:16] stephentoub commented on #9543
What change are you trying to make?  The delegate Parallel.For takes is void-returning: as far as the Parallel.For is concerned, for each iteration it'll invoke the delegate and that iteration is done when the delegate returns, but in the case of a void async, it'll return at the first await that yields.  That's definitely not going to do what you want.  See https://blogs.msdn.microsoft.com/pfxtea

[2017-05-09 20:19] safern opened #19545 "Desktop: "System.Diagnostics.Tests.ActivityDateTimeTests.StartStopReturnsPreciseDuration" failed"
System.Diagnostics.Tests.ActivityDateTimeTests.StartStopReturnsPreciseDuration

Failed with error:
[code]

It fails only in Release mode.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_release/46/testReport/junit/System.Diagnostics.Tests/ActivityDateTimeTests/StartStopReturnsPreciseDuration/

[2017-05-09 20:19] ericstj commented on #19316
Yeah, only release branch.  Master will continue to have UAP10.1 assets.

[2017-05-09 20:19] safern commented on #19545
Skipping test on Desktop to get clean run.

[2017-05-09 20:29] stephentoub commented on #19526
Also:
Add_InvalidPrefixNotStarted_ThrowsHttpListenerExceptionOnStart
Remove_PrefixExistsStarted_ReturnsTrue

[2017-05-09 20:29] T0pp3r opened #19548 "System.Reflection.Metadata 1.4.2 Package references wrong System.Collection.Immutable assembly version"
Hi

The System.Reflection.Metadata 1.4.2(NuGet Package) claims to reference System.Collections.Immutable >= 1.3.1. The System.Collection.Immutable 1.3.1 (NuGet Package) contains the assembly version 1.2.1.0 but the System.Reflection.Metadata.dll from 1.4.2 references 1.2.0.0.

This leads to an really unfortunate problem with Roslyn which needs both packages, but uses the correct System.Collections

[2017-05-09 20:33] stephentoub commented on #19543
https://github.com/dotnet/corefx/issues/19526

[2017-05-09 20:33] #19543 closed

[2017-05-09 20:34] safern commented on #19526
This fails in Desktop as well.

[2017-05-09 20:45] huanwu opened #19550 "Fail to parse the valid DateTime string to DateTime"
Throw FormatException when convert the string to DateTime .
[code]
Either "03:58:32.00 a.m." "03:58:32.00 **a. m.**" will fail when converted to DateTime depend on the OS.
It will cause the serialization/deserialization through different machines fail.

[2017-05-09 20:51] karelz commented on #19270
@krwq which PR fixed it?

[2017-05-09 20:52] schen381 commented on #13539
I have a repro in different test case while running Outloop test for System.Net.Sockets:

` Starting:    System.Net.Sockets.Tests
     System.Net.Sockets.Tests.SendReceiveApm.SendRecvPollSync_TcpListener_Socket(listenAt: 127.0.0.1, pollBeforeOperation: True) [FAIL]
        System.AggregateException : One or more errors occurred. (An existing connection was forcibly closed by the remote host)

[2017-05-09 20:55] krwq commented on #19270
@karelz the one which says merged two posts above (#19500)

[2017-05-09 20:56] pvivera commented on #16795
I still having the same error:

[code]

Project file:
[code]

Am I doing something wrong?

cc @weshaggard

[2017-05-09 20:56] manigandham commented on #2538
Some recent discussion here: https://github.com/dotnet/corefx/issues/11897

Seems like a small external library is best suited based on comments to keep up with changes without affecting system packages.

https://github.com/mj1856/TimeZoneConverter

[2017-05-09 21:00] ericstj opened #19551 "System.Net.Internals.SocketType is a duplicated public type in implementation assemblies in netcoreapp"
Include public under ifdef here: https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Net/Sockets/SocketType.cs#L12

EG:
[code]

When doing this, please remove the exception:
https://github.com/dotnet/corefx/pull/19502/files#diff-74b55c30c79e12e99b3ceb25668cc292R5

[2017-05-09 21:04] ericstj opened #19552 "XDocumentExtensions is duplicated in System.Private.Xml.Linq and System.Xml.XPath.XDocument."
The type is exposed from System.Xml.XPath.XDocument.

If this is intentional, please make the one in System.Private.Xml.Linq internal.

Also, consider consolidating the code:
https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Private.Xml.Linq/src/System/Xml/XPath/XDocumentExtensions.cs
https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb

[2017-05-09 21:06] ericstj opened #19553 "Overlapped types are duplicated between Overlapped and corelib"
IOCompletionCallback, NativeOverlapped, Overlapped, PreAllocatedOverlapped, and ThreadPoolBoundHandle are duplicated between Overalapped and System.Private.CoreLib.

I believe we should typeforward these instead.

When doing this, please remove the exceptions:
https://github.com/dotnet/corefx/pull/19502/files#diff-74b55c30c79e12e99b3ceb25668cc292R11

/cc @weshaggard

[2017-05-09 21:08] ericstj opened #19554 "DBNull is duplicated between System.Data.Common and CoreLib"
System.DBNull exists as public in both System.Data.Common.dll and System.Private.CoreLib.dll in netcoreapp2.0.  This can cause type exchange issues as well as compile errors for runtime compilation.

I believe System.Data.Common.dll should type-forward this type.

When doing this, please remove the exception:
https://github.com/dotnet/corefx/pull/19502/files#diff-74b55c30c79e12e99b3ceb25668cc292R1

[2017-05-09 21:13] CIPop commented on #9543
The way I've obtained the TaskCanceled failure above was to replace this ["for" loop](https://github.com/dotnet/corefx/blob/b43b4df2e0e2182154bb0f425cb4a61bc1269828/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.ClientCertificates.cs#L122) with a Parallel.For. (The new code is incorrect as we've both pointed out but it may still be interesting since the same error is thrown.)

I'm

[2017-05-09 21:17] ericstj opened #19555 "System.Net.TransportType is duplicated in implementation assemblies System.Net.Sockets and System.Security.Permissions"
This was introduced by https://github.com/dotnet/corefx/commit/33df5e0560f006e8298fd42b441b92b2d5eac671.  /cc @jguady

It looks like it's completely internal in sockets so I believe the Sockets implementation should be marked internal.

When doing this, please remove the exception:
https://github.com/dotnet/corefx/pull/19502/commits/142932adcd9312804dbe94ee83e27b9aecf653d3#diff-18ad03aca90bc197f84

[2017-05-09 21:17] ViktorHofer commented on #19179
Any update since last week? Did somebody already talk to @jkotas about it?

[2017-05-09 21:20] danmosemsft commented on #19550
@tarekgh ?

[2017-05-09 21:22] stephentoub commented on #9543
The stack is:
[code]

Mentally delete these three lines from each section:
[code]
Those are infrastructure involved in propagating the exception stored in the task, and unfortunately don't have a good way to hide it from stack traces.

That leaves you with:
[code]
The async part of this should be pretty easy to understand: those two lines 106 and 130 are in the async method Manual_CertificateSentM

[2017-05-09 21:22] ViktorHofer commented on #4865
As it isn't clear when looking on this issue: PR is finished and ready to sign-off. No further action required.

[2017-05-09 21:22] 0xd4d commented on #19548
If it's a .NET Framework program, a workaround is to add an app.config file:

[code]

[2017-05-09 21:24] jkotas commented on #19179
I agree.

[2017-05-09 21:29] jkotas commented on #19179
The assembly name formatting is relatively simple. We have a 100% C# implementation in CoreRT: https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Reflection/Runtime/Assemblies/AssemblyNameHelpers.cs

I maybe best to fix this issue by copying the CoreRT implementation to CoreCLR, and fixing it accordingly.

[2017-05-09 21:30] ViktorHofer commented on #2249
As of tomorrows ZBB, we need to make the decision of either ignoring the issue for 2.0 or fixing it.
@danmosemsft @weshaggard @karelz

[2017-05-09 21:33] karelz commented on #3324
I updated the text above with link and "next steps" prefix, that will hopefully clarify it -- sorry for the text not being clear (it was at the time we just started with proper triage).

It is marked Future = we do not intend to work on it now. It is up-for-grabs, so anyone is welcome to take a stab at it. See [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/i

[2017-05-09 21:34] karelz commented on #2249
@saurabh500 @corivera @ericstj can you please chime in?

[2017-05-09 21:41] tarekgh commented on #19550
This is expected/By Design. We never guarantee parsing DateTime across OS's or machines. The parser cannot know if a.m. is a valid AM designator if the culture "es-AR" have different designator like "a. m.". there is no way the parser can know that (imaging the designator changed to something like "ص", how the parser can parse "a.m."

To ensure formatting and parsing work you have to use Invariant

[2017-05-09 21:41] #19550 closed

[2017-05-09 21:42] VSadov commented on #18966
@seanshpark - it appears that the test equally stresses the Expression Tree Compiler and the JIT compiler.

Normally this is not a problem since JIT compiler uses much less resources and 128Kb of stack is more than enough to JIT this method.
That does not seem to be the case when running on Debug.

Considering that running on Debug is not common, is it possible to exclude the test from debug runs?

[2017-05-09 21:46] #19269 closed

[2017-05-09 21:48] #18196 closed

[2017-05-09 21:50] stephentoub commented on #19554
@ericstj, where do you see System.Data.Common including DBNull?

[2017-05-09 21:54] stephentoub commented on #19553
@ericstj, as far as I can tell those types are no longer in System.Threading.Overlapped.  Where are you looking?

[2017-05-09 21:55] dhoehna opened #19560 "Make the Initilize BuildTools during build.cmd less intensive."
When I am running build.cmd my computer will lag during the "Initilizing BuildTools" step.  This lag has happened on two of my computers so far.  The lag, specifically, slows down Visual Studio and firefox.  The slowdown in firefox is evident because youtube will lag and text input is delayed.

I don't know if this is a problem with other people but this lag is infuriating when I'm trying to use m

[2017-05-09 21:58] jkotas commented on #18966
We do not have a good reliable way to detect that you are running on debug runtime or debug build of the JIT. It would be really useful if all inner loop corefx tests work on debug builds of the runtime or JIT, on all platforms.

If this is a corner case test that does not work on debug runtime, I would suggest moving it to outer loop.

[2017-05-09 22:00] stephentoub commented on #19553
I see these are defined in the ref for System.Threading.Overlapped (they're not in the src).  You're saying the ref needs to reference System.Private.CoreLib and type forward to that?

[2017-05-09 22:01] VSadov commented on #18966
Will move to the outer loop then.

[2017-05-09 22:17] ericstj commented on #19553
Nope, they're are showing up in the src.  Let me give you the exact case where the duplication happens.

[2017-05-09 22:21] ericstj commented on #19553
I see.  It's happening for the PlatformNotSupported assembly on Unix:
https://github.com/dotnet/corefx/blob/master/src/System.Threading.Overlapped/src/System.Threading.Overlapped.csproj#L9

I guess if Corelib has those types we can just forward them rather than build a PNS.  That's probably better anyways since these aren't necessarily not supported on unix, just not particularly useful on Unix.

[2017-05-09 22:25] safern commented on #19436
@bartonjs

[2017-05-09 22:26] safern commented on #19436
Failed again in:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/7717/testReport/junit/System.Security.Cryptography.Rsa.Tests/RSAKeyExchangeFormatterTests/VerifyDecryptKeyExchangePkcs1/

[2017-05-09 22:34] CIPop commented on #9543
Regarding the original failure described by (_A_):

  at System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test.<>__c__DisplayClass5_0__.<<Manual_CertificateSentMatchesCertificateReceived_Success>b__2>d.MoveNext() doesn't exist anymore. This has been replaced by private sealed class <>__c__DisplayClass6_0__ .

If I make this conversion, the stack tells us that the exception was

[2017-05-09 22:35] #19555 closed

[2017-05-09 22:36] #19551 closed

[2017-05-09 22:39] #18966 closed

[2017-05-09 22:46] #19474 closed

[2017-05-09 22:47] louislewis2 commented on #3324
To the best of my knowledge it does exist in the full framework today.
I refer to the link below, or am I misunderstanding?

https://msdn.microsoft.com/en-us/library/system.management.managementclass(v=vs.110).aspx

As the decision that has been made for ASP.NET Core to stop support for the .Net Framework, it means that our applications that are running on Core would no longer be able to work corr

[2017-05-09 22:59] karelz commented on #3324
Well you didn't point any existing APIs before, I don't know all of them :) - that itself explains why you view is a blocker.

If you're interested "only" in port, then this is dupe of #14762 - that one should be updated.
This one was understood as "create brand new API".

The linked issue is active discussion about that decision. AFAIK it is not final yet (I may be wrong - I am not directly invol

[2017-05-09 23:06] karelz commented on #19548
@tmat @nguerrera anything concerning for 2.0?

[2017-05-09 23:08] jnm2 opened #19566 "HashSet.GetOrAdd(T)"
There are many times when there is a custom comparison being done but I need access to the original instance.

What I'd like:

[code]

Today I'm forced to use a Dictionary which duplicates storage for no reason.
A dictionary is also wasteful because it has to do two hash lookups, one for `TryGetValue` and one for `Add`:
[code]

This is no better; it's a lot more to maintain, it's still duplicate s

[2017-05-09 23:11] jnm2 commented on #19566
Similar to https://github.com/dotnet/corefx/issues/11291 but not exactly a duplicate, since I don't want a generic parameter for the key or other distinctions between keys and values.

[2017-05-09 23:22] #19548 closed

[2017-05-09 23:22] tmat commented on #19548
AFAIK 2.0 packages do not have this problem anymore.

[2017-05-09 23:32] corivera commented on #2249
We've already added the Close() API in 2.0.0, so this just seems like a 1.2 servicing issue.

[2017-05-09 23:38] karelz commented on #2249
Which servicing branch does it live in? 1.0.x or 1.1.x - can you please set the milestone to match that?

[2017-05-09 23:39] corivera commented on #2249
According to @weshaggard we would have to make changes in 1.1.0

[2017-05-09 23:48] CIPop commented on #9543
Looking at _B_ the error was `ERROR_WINHTTP_CLIENT_CERT_NO_ACCESS_PRIVATE_KEY`  which seems closely related to #16516.

[2017-05-10 00:17] safern opened #19570 "Desktop: System.Threading.Tests.SynchronizationContextTests.WaitTest is failing"
System.Threading.Tests.SynchronizationContextTests.WaitTest

Is failing with error:
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_release_prtest/1/testReport/junit/System.Threading.Tests/SynchronizationContextTests/WaitTest/

cc: @stephentoub

[2017-05-10 00:18] DavidGoll commented on #13539
@davidsh: did you intentionally remove the milestone? If so, should this be future? 2.1.0?

[2017-05-10 00:22] Priya91 commented on #19539
cc @hughbe Can you please take a look, it's one of the newly added tests..

[2017-05-10 00:22] davidsh commented on #13539
I removed the milestone because it was added by the person opening the bug. I wanted it to be "no milestone" so that we would have a chance to triage it.  Caesar is looking at it now.  And then we can determine whether it is critical for 2.0.

[2017-05-10 00:38] svick commented on #19566
You're not, if you're on .Net Core 2.0, you can use `HashSet<T>.TryGetValue()` (https://github.com/dotnet/corefx/issues/15691), though it still requires two lookups.

On one hand, the addition `TryGetValue` indicates that retrieving a value from a `HashSet` based on a equal, but distinct value makes sense. On the other hand, it means adding `GetOrAdd` is less important: it improves performance and

[2017-05-10 00:49] jnm2 commented on #19566
Sweet! That was the thread I couldn't find! So implementing GetOrAdd should be a piece of cake. @TylerBrinkley? :D

[2017-05-10 00:50] karelz commented on #19548
@T0pp3r can you please try it with latest 2.0 build? https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-05-10 00:57] corivera commented on #2249
Actually, looks like DbDataReader.Close() is already present in 1.1.0: https://github.com/dotnet/corefx/commit/27240e90597d477c213b0af81142e6b53b6ea315#diff-7ce02b6f11b3db97a63d932124bd3cdaR288

[2017-05-10 00:58] corivera commented on #2249
Actually, looks like DbDataReader.Close() was already added to 1.1.0 in this commit: https://github.com/dotnet/corefx/commit/27240e90597d477c213b0af81142e6b53b6ea315

[2017-05-10 00:59] karelz commented on #2249
Can you please work with @ericstj @weshaggard to make sure we have the right bits in the right place. If it was there, this report wouldn't exist I assume ...

[2017-05-10 01:38] karelz commented on #19539
We don't want flaky tests in 2.0 servicing branch - we need to either disable the test, or fix it in 2.0.
@Priya91 @hughbe can you please disable it? (unless we know how to fix it right away)

[2017-05-10 01:39] karelz commented on #19539
Moving it to 2.0, because it failed twice in last day, way above the threshold we want to tolerate.

[2017-05-10 01:39] divega commented on #2249
@bricelam can you clarify? see the latest comments.

[2017-05-10 01:40] hughbe commented on #19539
It's already disabled: https://github.com/dotnet/corefx/commit/61019d50ce88722207bcbfcea7e02f5cf7ba33a2

[2017-05-10 01:47] karelz commented on #19539
OK, closing as dupe of #19526.
Please shout out if it is incorrect.

[2017-05-10 01:47] #19539 closed

[2017-05-10 01:59] bartonjs commented on #19436
I marked this as 2.0 because we should know why this started failing.  I can't think of any relevant changes we'd've done, and the test looks fairly static.

[2017-05-10 02:14] Jiayili1 commented on #19545
@safern do I need to disable this test?

[2017-05-10 02:23] Jiayili1 commented on #19238
@safern this test failed with the same issue: **System.Security.Cryptography.Rsa.Tests.EncryptDecrypt.RsaDecryptAfterExport**
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/48/testReport/System.Security.Cryptography.Rsa.Tests/EncryptDecrypt/RsaDecryptAfterExport/

[2017-05-10 02:32] safern commented on #19238
Yes it is already fixed on: https://github.com/dotnet/corefx/pull/19537

[2017-05-10 02:32] safern commented on #19545
It is already disabled. Thanks!

[2017-05-10 02:35] hughbe commented on #19526
I don't really understand the failure. I assume it's because the CI machines can somehow access microsoft.com due to permissions - maybe the same org, I don't understand.
But still, does that mean that I just successfully associated an HttpListener with microsoft.com?

[2017-05-10 02:52] JeremyKuhne commented on #18596
Fixed via #19576

[2017-05-10 02:52] #18596 closed

[2017-05-10 02:52] JeremyKuhne commented on #19339
Fixed via #19576

[2017-05-10 02:52] JeremyKuhne commented on #19340
Fixed via #19576

[2017-05-10 02:52] #19340 closed

[2017-05-10 02:52] #19339 closed

[2017-05-10 02:53] hughbe commented on #18128
The main remaining issue this tracks are (assuming #19138 and #19219 are merged):

- [ ] [GetClientCertificateAsync_NoCertificate_ReturnsNull](https://github.com/dotnet/corefx/blob/4aa6fb7a6e79edf9294079131ddf4b633c12d71e/src/System.Net.HttpListener/tests/HttpListenerRequestTests.cs#L259-L267): this test hangs forever on Unix. It's odd, as a call to `BeginGetClientCertificate` followed by `EndGetC

[2017-05-10 02:54] hughbe commented on #18128
This is almost certainly too much work for ZBB

[2017-05-10 03:08] #19341 closed

[2017-05-10 03:16] #19358 closed

[2017-05-10 03:20] safern opened #19580 "System.Net.Requests test hanging sometimes on desktop"
This is not all the time but they are hanging on some PRs and builds. Here is the console log of a failure:

https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_release_prtest/12/consoleFull#4967889112d31e50d-1517-49fc-92b3-2ca637122019

cc: @davidsh

[2017-05-10 03:21] davidsh commented on #19580
cc: @stephentoub

@ViktorHofer Can you please investigate this?  Your PRs were the last ones to make major additions/changes to System.Net.Requests which include HttpWebRequest etc.

[2017-05-10 03:21] davidsh commented on #19580
cc: @karelz

[2017-05-10 03:24] safern commented on #19580
another hit: https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_release_prtest/10/consoleFull#10606384068101fac1-935e-4556-95f9-7a0e25ca0b52

[2017-05-10 03:37] ViktorHofer commented on #19580
looking at it right now

[2017-05-10 03:41] safern commented on #19580
Thabjs @ViktorHofer you might need to run them in a loop because they don't hang always

[2017-05-10 03:48] stephentoub commented on #19553
I agree.  I think it makes sense as a general rule that we should actually implement types in the same assembly regardless of platform, so if we did want PNSEs thrown, it would be from the implementation in System.Private.CoreLib rather than manufacturing an implementation in CoreFx (but only for Unix).

[2017-05-10 03:48] mellinoe commented on #18765
@stephenmichaelf Good idea -- done.

[2017-05-10 04:09] ViktorHofer commented on #19580
It looks like it has to do with the parallelization which we enabled today...

[2017-05-10 04:15] danmosemsft commented on #19566
@jnm2 there is a code size cost to adding new API to commonly instantiated generic types which means there is a higher bar for adding them. Consensus we achieved is here https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863
Given this one could be achieved by an extension method, that might be the most palatable approach.,

[2017-05-10 04:16] danmosemsft commented on #19560
@dhoehna next time this happens could you check your network connection and see whether it's saturated?

[2017-05-10 04:24] dhoehna commented on #19560
@danmosemsft I've never had to do that before.  Is that in Windows Task Manager->Networking?  What should I see if the network is saturated?

Also, I'll try tomorrow by removing corefx from my computer and trying to build from scratch.

[2017-05-10 04:25] danmosemsft opened #19583 "Ping API calls are failing in appcontainer with access denied"
They don't fail that way in ILC

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170510.01/workItem/System.Net.Ping.Functional.Tests

Check we have the internet capability. Whatever manifest we use for our test app, it should enable all capabilities.

@AlexGhiondea where is it?
cc @ViktorHofer

[2017-05-10 04:27] danmosemsft commented on #19560
@dhoehna Yeah Task Manager>Performance, look at Etnernet or Wifi graph, if it's showing a value similar to your max of your wifi or cable connection, then we're saturating the network. Probably we wouldn't want to change doing that since that's what most people would want...

[2017-05-10 04:30] AlexGhiondea commented on #19583
The app is in BuildTools.

https://github.com/dotnet/buildtools/blob/master/src/xunit.runner.uap/Package.appxmanifest

I can help deploy the updated app

[2017-05-10 04:43] ViktorHofer commented on #19583
The manifest contains all possible Internet capabilities...

[2017-05-10 04:45] ViktorHofer commented on #19583
If we are pinging to local network hosts we probably need this one too:
`privateNetworkClientServer`

https://docs.microsoft.com/en-us/windows/uwp/packaging/app-capability-declarations

[2017-05-10 04:46] jnm2 commented on #19566
The extension method still has a downside, which is the duplicate hashtable lookup. In that sense, this is a fundamental operation. Too bad it can't be the other way around, other instance methods like Contains as extension methods implemented in terms of the fundamentals.

[2017-05-10 05:04] TylerBrinkley commented on #19566
I think this one falls under the first criteria @terrajobst set for #17275 which is

While there is a performance hit of 2 lookups I don't think this method would be used all that much.

[2017-05-10 05:08] bricelam commented on #2249
Now I'm really confused. 1.1.0 of what? The lowest .NET Standard supported by System.Data.Common is 1.2, and the package versions are all 4.x.x

[2017-05-10 05:29] louislewis2 commented on #3324
I totally agree that this is a dupe of the issue you linked. This one can certainly be closed and continue being tracked there. Sorry for not providing the actual API in the beginning, I just assumed that this is common knowledge :)

[2017-05-10 05:49] karelz commented on #3324
Thanks for confirmation, closing as dupe.

[2017-05-10 05:49] #3324 closed

[2017-05-10 06:17] T0pp3r commented on #19548
Hi, i forgot to mention it is a standard .NetFramework program, so no .NetCore. I don't know if i'm even right here because my problem relates just to the System.Reflection.Metadata (NeGet Package).

@0xd4d This redirection is added from the Nuget Package but i don't know why it does not work. Probably because it is an indirect reference?

@tmat I don't use the corefx, so a nightly would not help

[2017-05-10 06:28] nojaf commented on #19535
Is this a Windows only thing? Or are other platforms affected as well?

[2017-05-10 06:33] tmat commented on #19548
@T0pp3r I see. Yes, until Roslyn upgrades to netstandard 2.0 you'll need to use a binding redirect.

[2017-05-10 06:36] T0pp3r commented on #19548
Ok, thanks i will try to see why the redirecting is not working.

[2017-05-10 06:45] louislewis2 commented on #14762
Just to transfer from the now closed issue https://github.com/dotnet/corefx/issues/3324
The lack of this API for us, is a total blocker and show stopper should the ASP.NET team go ahead with their current plans. In fact judging that the packages were just pushed to nuget, it seems that decision has already been made.

[2017-05-10 07:19] karelz commented on #14762
The decision has not been made AFAIK. The ASP.NET team is still seeking feedback and they pushed the change into master to give people chance to experience it first-hand. Please work with them on the main aspnet/Home issue. And raise awareness to all blockers, not just this one. (upvoting individual blockers helps)

This issue is valid regardless and we will prioritize it & consider it based on th

[2017-05-10 07:24] karelz commented on #19580
What kind of parallelization was enabled today? Why so close to ZBB? Is it possible to revert the change / disable it for now?

[2017-05-10 07:26] karelz commented on #18128
Networking has already exception from ZBB.
@Priya91 can you please help prioritize the failures above? Which are likely impactful enough for us to take them?

[2017-05-10 07:28] ViktorHofer commented on #19580
It was required to run Desktop tests on Helix as we had timeouts when they ran one after another. We already have a fix in place. As this is just about test reliability (so basically hardening networking tests --> making them more reliable with LoopbackServer and Outerloop attributes) it was required before ZBB

[2017-05-10 07:28] shmao opened #19585 "System.Exception is not Serializable on UWP"
We should mark the [`System.Exception`](https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/Runtime.Base/src/System/Exception.cs#L9) on UWP with [Serializable]. This blocks serialization of exception types on UWP. And `Exception.GetObjectData` is throwing `NotImplementedException`.

[2017-05-10 07:32] karelz commented on #19580
OK, thanks for explanation. If we have fix in place, I am ok with it. Thanks!

[2017-05-10 07:34] safern commented on #19580
#19584 @karelz it was something that needed to be fixed before ZBB in order to get CI desktop legs

[2017-05-10 07:37] Jiayili1 commented on #19094
Test "System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersion_Succeeds" failed with the same issue
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170510.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_T

[2017-05-10 07:38] Jiayili1 commented on #18907
This issue is repro on Core Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170510.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-05-10 07:44] johnkors commented on #19535
I'm using `<RuntimeFrameworkVersion>1.0.3</RuntimeFrameworkVersion>`. This involves a dep to `Microsoft.NETCore.App/1.0.3` , and the same applies to 1.0.4. In  `project.asset.json`  I see a transient dependency to  `"System.Net.Security": "4.0.0" ` which is listed as one of the vulnerable libs.

Am I correct to assume that necessary actions are either to update to `<RuntimeFrameworkVersion>1.0.5</

[2017-05-10 07:45] #18354 closed

[2017-05-10 07:45] Jiayili1 commented on #7433
This issue is repro on Core Tests in build 20170510.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170510.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetFullPath_Windows_83Paths

[2017-05-10 07:47] Jiayili1 commented on #19223
This test is still failed on Core Tests in build 20170510.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170510.01/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2017-05-10 07:51] dotnet-mc-bot opened #19586 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersionDiffersFromServer_ThrowsException failed with "System.Security.Authentication.AuthenticationException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_AllowedSSLVersionDiffersFromServer_ThrowsException(allowedProtocol: Tls12, acceptedProtocol: Tls11, exceptedServer...` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IOException)\r
    Actual:   typeof(System.Security.Authentication.AuthenticationException):

[2017-05-10 07:56] Jiayili1 commented on #17921
This issue is repro on UWP F5 tests in build 20170510.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170510.01/workItem/System.ComponentModel.TypeConverter.Tests/analysis/xunit/System.ComponentModel.Tests.DateTimeOffsetConverterTests~2FConvertTo_WithContext

[2017-05-10 08:02] Jiayili1 commented on #19511
This issue is repro on UWp F5 Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170510.01/workItem/System.Console.Tests/analysis/xunit/ConsoleEncoding~2FInputEncoding_SetDefaultEncoding_Success

Failed tests:
InputEncoding_SetDefaultEncoding_Success
InputEncoding_SetUnicodeEncoding_SilentlyIgnoredInternally
Input

[2017-05-10 08:03] dotnet-mc-bot opened #19587 "Test: ConsoleEncoding/TestValidEncodings failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `ConsoleEncoding/TestValidEncodings` has failed.

System.IO.IOException : The handle is invalid

        Stack Trace:

           at System.ConsolePal.SetConsoleOutputEncoding(Encoding enc)
       at System.Console.set_OutputEncoding(Encoding value)
       at ConsoleEncoding.<>c.<TestValidEncodings>b__2_0(Encoding encoding)
       at ConsoleEncoding.TestVali

[2017-05-10 08:06] dotnet-mc-bot opened #19588 "Test: NegativeTesting/OpenStandardErrorNegativeTests failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `NegativeTesting/OpenStandardErrorNegativeTests` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.NotSupportedException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at NegativeTesting.NegativeConsoleOutputTests(Stream stream)
       at NegativeTesting.OpenStandardErrorNegativeTests()
Build : Master - 20170510

[2017-05-10 08:07] Jiayili1 commented on #19588
Failed tests:
OpenStandardErrorNegativeTests
OpenStandardOutNegativeTests

[2017-05-10 08:13] dotnet-mc-bot opened #19589 "Test: System.Diagnostics.Tests.ProcessModuleTests/Modules_Get_ContainsHostFileName failed with "Xunit.Sdk.ContainsException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessModuleTests/Modules_Get_ContainsHostFileName` has failed.

Assert.Contains() Failure\r
    Not found: (filter expression)\r
    In value:  <CastIterator>d__34<ProcessModule> [System.Diagnostics.ProcessModule (XUnit.Runner.Uap.exe), System.Diagnostics.ProcessModule (ntdll.dll), System.Diagnostics.ProcessModule (KERNEL32.DLL),

[2017-05-10 08:16] dotnet-mc-bot opened #19590 "Test: System.Diagnostics.Tests.ProcessStartInfoTests/Verbs_GetWithExeExtension_ReturnsExpected failed with "Xunit.Sdk.ContainsException""
Opened on behalf of @Jiayili1

The test `System.Diagnostics.Tests.ProcessStartInfoTests/Verbs_GetWithExeExtension_ReturnsExpected` has failed.

Assert.Contains() Failure\r
    Not found: open\r
    In value:  String[] []

        Stack Trace:

           at System.Diagnostics.Tests.ProcessStartInfoTests.Verbs_GetWithExeExtension_ReturnsExpected()
Build : Master - 20170510.01 (UWP F5 Tests)
Failing

[2017-05-10 08:26] dotnet-mc-bot opened #19591 "Test: System.IO.Tests.Directory_GetEntries_CurrentDirectory/CurrentDirectory failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.Directory_GetEntries_CurrentDirectory/CurrentDirectory` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.IO.Tests.Directory_GetEntries_CurrentDirectory.CurrentDirectory()
Build : Master

[2017-05-10 08:28] reader-man opened #19592 "Interfaces for Future APIs"
Hi,
Thanks for the great product, and specially the coming v2.0.

It would great to have in v2.0 interfaces for most of what is coming in v3, v4, v5, v6 of .net core.

For example all the generic collections, ot the IClonable or any other general utility apis, that you don't have time to implement in the current version i.e. v2.0.

As this will help current nuget/plugin developers to code their cl

[2017-05-10 08:29] Jiayili1 commented on #19591
Failed tests:
System.IO.Tests.Directory_GetEntries_CurrentDirectory/CurrentDirectory
System.IO.Tests.Directory_SetCurrentDirectory/SetToValidOtherDirectory
System.IO.Tests.FileInfo_OpenSpecial/FileShareOpen_Inheritable
System.IO.Tests.FileInfo_Open_fm_fa_fs/FileShareOpen_Inheritable
System.IO.Tests.FileStream_LockUnlock/OverlappingRegionsFromOtherProcess_ThrowsException
System.IO.Tests.FileStream_

[2017-05-10 08:58] hughbe opened #19593 "System.Net.Tests.HttpListenerPrefixCollectionTests.Add_InvalidPrefixNotStarted_ThrowsHttpListenerExceptionOnStart(uriPrefix: \"http://a08196d3572648a99e9d3669ecdda58c/\") fails in CI on mac OSX"
As discussed in https://github.com/dotnet/corefx/pull/19579

[code]

This test fails with mac OSX:

[code]

[2017-05-10 09:01] hughbe commented on #19593
So what confuses me here, is: does this mean we're listening to network traffic to `"http://a08196d3572648a99e9d3669ecdda58c/\"`

This is a randomly generated page that shouldn't exist anyway!

[2017-05-10 10:33] Circlecirclecircle opened #19596 "Why have a 302 Exception when i put a request"
Url:https://xxxx.xxxxx.xxxxxx.com/
Use:~\.nuget\packages\system.net.requests\4.3.0\ref\netstandard1.3\System.Net.Requests.dll
Exception.Message:The remote server returned an error: (302) Moved Temporarily.

Exception.StackTrace:
at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
at System.Net.WebRequest.<>c.b__37_2(IAsyncResult iar)
at System.Threading.Tasks.TaskFactory1.FromAsy

[2017-05-10 12:40] blowdart commented on #19535
@nojaf All platforms.

[2017-05-10 12:41] blowdart commented on #19535
@johnkors Either works

[2017-05-10 12:42] #19414 closed

[2017-05-10 12:44] ryanbuening commented on #19535
I keep getting the following warning after updating the affected packages:

[code]

My .csproj:

[code]
Is there something else I need to update?

[2017-05-10 13:01] stephentoub commented on #19596
What URL were you trying to reach, and what was the Location it sent back?  Most likely:
- It was an https URL attempting to redirect to an http Location, which isn't followed for security reasons, or
- The number of redirects exceeded the max allowed.

[2017-05-10 13:02] blowdart commented on #19535
You can't have Microsoft.AspNetCore and Microsoft.AspNetCore.Mvc or any other Microsoft.AspNetCore.* package on different versions. They all get upgraded at once, so they all need pulled up to 1.1.3

[2017-05-10 13:13] johnkors commented on #19535
Ok, thanks @blowdart . I guess people have loads of different dependencies that are hit by this for some transient dependency or another. Would be cool if it was possible for me to add a warning for a "commonly used package" to a list, so others know that it's affected.

Ex.:

`Dapper/1.50.2` => `System.Data.SqlClient /4.1.0` => `System.Net.Security/4.0.0 (affected)`

[2017-05-10 13:19] blowdart commented on #19535
Yea, I have plans for tooling to make this easier, we know the whole transitive stuff is horrible and hard :(

[2017-05-10 13:20] stephentoub commented on #19583
That's already in the list in your previous comment...?

[2017-05-10 13:37] ryanbuening commented on #19535
@blowdart - When I try to change Microsoft.AspNetCore to 1.1.3 it gives me an error:

`Unable to resolve 'Microsoft.AspNetCore (>= 1.1.3)' for '.NETCoreApp,Version=v1.1'.`

[2017-05-10 13:42] johnkors commented on #19535
@ryanbuening https://www.nuget.org/packages/Microsoft.AspNetCore/1.1.2

1.1.2 is the latest (non-preview) for `Microsoft.AspNetCore`.  There's no 1.1.3.

[2017-05-10 13:54] ryanbuening commented on #19535
@johnkors - Thanks. I thought when it was mentioned that `they all need pulled up to 1.1.3`  I had not updated something correctly. I guess I will just need to live with the warning message for awhile.

[2017-05-10 13:55] blowdart commented on #19535
Oops my bad. Sorry, all the Mvc packages versions must match. It's pre-second coffee here, that's my only excuse.

It looks like Microsoft.VisualStudio.Web.CodeGeneration.Design is dragging you down; @mlorbetske do you have any idea here?

[2017-05-10 14:12] karelz commented on #19592
While in theory having interface without implementation is good idea, in practice interfaces (except the very basic ones) are rarely enough for anyone to get unblocked. People need primarily the implementation classes to instantiate. If they are to implement it on their own, they might as well contribute to CoreFX repo.
All the basic & most used interfaces/classes are already in .NET Core 2.0. The

[2017-05-10 14:12] #19592 closed

[2017-05-10 14:13] stephentoub opened #19599 "Proposal: Task.WhenAllSuccessfulOrAnyFailed"
Task currently exposes two When helpers: WhenAll and WhenAny.  These are the most commonly needed combinators, but there's another that's quite helpful, especially in tests: a combinatory that asynchronously waits for either all of the tasks to complete successfully or for the first one that doesn't complete successfully.  This is particularly valuable when writing tests that involve related async

[2017-05-10 14:22] #19580 closed

[2017-05-10 14:23] #18518 closed

[2017-05-10 14:24] karelz commented on #14762
Rest assured that we looked at and used all the data we could - we actively mined all nuget.org packages and we used the (smaller) application information/telemetry we have (see https://apisof.net).
We also worked with a few large partners inside and outside Microsoft to learn which dependencies are missing for them.
We also looked at transitive/indirect API usages as you point out above.

Most of

[2017-05-10 15:21] mlorbetske commented on #19535
It looks like it's the other way in this case, the implicit package version for Microsoft.NetCore.App is 1.1.1 and Microsoft.VisualStudio.Web.CodeGeneration.Design is asking for 1.1.2 (are you using the 1.0.4 CLI?). Try adding either <RuntimeFrameworkVersion>1.1.2</RuntimeFrameworkVersion> to the property group at the top of the project or adding <PackageReference Update="Microsoft.NetCore.App" Ve

[2017-05-10 15:22] ericstj commented on #19554
Let me give more details.

The process for reproducing the error is (after removing the supression):
build -allConfigurations
msbuild pkg\test\testPackages.proj /m /fl /v:m /p:TestPackages=System.Data.Common

I'm doing this right now and will share the exact case that's identified.

[2017-05-10 15:37] ryanbuening commented on #19535
@mlorbetske `dotnet --version` prints out `1.0.3`...not sure if that is what you were asking for? I'm using Visual Studio Professional if it matters.

Adding `<RuntimeFrameworkVersion>1.1.2</RuntimeFrameworkVersion>` or `<PackageReference Update="Microsoft.NetCore.App" Version="1.1.2" />`  does make the warning go away. Does it cause any issues if I keep either of those additions in the future? Do

[2017-05-10 15:42] mlorbetske commented on #19535
Yep, that's what I was asking. The version of the Microsoft.NetCore.App package that gets added implicitly is governed by the build tools being used, the 1.0.3 CLI sets the version to 1.1.1, 1.0.4 sets it to 1.1.2. If you update to 1.0.4, then the workaround is not required. The workaround does pin the app to that exact version at development time, so I wouldn't recommend using this approach for v

[2017-05-10 15:53] benaadams commented on #19599
Alternative suggestion for completeness
[code]

[code]

With common wrapper for AllSuccessful+AnyFailed (with better name 😉 )

[2017-05-10 15:58] AtsushiKan opened #19604 "Two Async tests in System.Net.Mail.Functionality.Tests assert or hang on ILC."
(Reproability is contingent on https://github.com/dotnet/corefx/pull/19602 going in).

-method System.Net.Mail.Tests.SmtpClientTest.TestCredentialsCopyInAsyncContext
-method System.Net.Mail.Tests.SmtpClientTest.TestMailDeliveryAsync

These tests are currently disabled on AoT runs so we can get results for the other tests. This issue gives me an issue # I can put in the comment.

This assertion cra

[2017-05-10 16:02] #19526 closed

[2017-05-10 16:05] ryanbuening commented on #19535
@mlorbetske - Updating to the 1.0.4 CLI fixed it. Thanks.

[2017-05-10 16:06] ViktorHofer commented on #19583
You are right. I will look into it when I'm in office

[2017-05-10 16:11] AtsushiKan opened #19605 "Remove SmtpClient workaround for HostName being PNSE on .Net Native."
Workaround was added in https://github.com/dotnet/corefx/pull/19602 to avoid blocking testing of SmpClient on HostName being restored for .Net Native.

[2017-05-10 16:29] danmosemsft commented on #19223
Test issue only, moving to future.

[2017-05-10 16:32] danmosemsft commented on #19511
This IS fixed for Nano. The UWP issue is different. @Jiayili1 please use a new issue for that.

[2017-05-10 16:32] #19511 closed

[2017-05-10 16:34] weshaggard commented on #15160
Agreed.

Unfortunately we don't want to use a PS script anywhere we download something. In fact the only place we want to use a PS script is to get our initial toolset. Everything else should be using C# code in our msbuild task libraries. In our task libraries though we could have a common one and then one-and-only-one PS script that downloads stuff.

[2017-05-10 16:35] #19553 closed

[2017-05-10 16:40] stephentoub commented on #19466
I'm going to close this proactively under the assumption that it's a duplicate of one of the other recently opened issues for HttpListener that have now had tests disabled against them.

[2017-05-10 16:40] danmosemsft commented on #19554
This needs an owner to get it fixed today :) Is that you @ericstj  ?

[2017-05-10 16:55] omariom commented on #19599
Wouldn't it be it more extensible  with a enum parameter?

[2017-05-10 16:57] weshaggard commented on #2249
Lets take a step back for a moment.
1.1.0 is the .NET Core 1.1 release and which maps to the 4.3.0 package version for System.Data.Common. Looking at the APIs we expose there I see https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Data.Common/ref/System.Data.Common.cs#L364. So while DbDataReader doesn't contain an Close method it does contain both a Dispose and if you cast it to IData

[2017-05-10 16:58] davidsh commented on #19094
Dupe of #19512 and root cause is #9228

[2017-05-10 17:01] stephentoub commented on #19599
How is that different from Ben's proposal?

[2017-05-10 17:02] danmosemsft commented on #19223
[code]

[2017-05-10 17:02] danmosemsft commented on #19223
We really need line numbers...!

[2017-05-10 17:02] #17690 closed

[2017-05-10 17:08] #7433 closed

[2017-05-10 17:12] omariom commented on #19599
I thought about a single param of a new enum.
Ben's proposal is more powerful and more difficult to understand.

[2017-05-10 17:22] jlanng commented on #15160
OK so I worked backwards, and the problem goes all the way to dotnet-install.ps1 in CLI.  This file is often grabbed and run directly, so I can see how a local fix there is appropriate. I've submitted a PR for that [here](https://github.com/dotnet/cli/pull/6563)

The next one is the BuildTools build itself, which from run.ps1 calls Invoke-WebRequest to download bootstrap.ps1 from the the buildtool

[2017-05-10 17:24] davidsh commented on #13539
Triage: investigation ongoing.  Still don't know if this is a product bug or test bug.  Doesn't occur very often and not blocking CI...so marking it as Future.

[2017-05-10 17:31] davidsh commented on #19586
Likely a test issue and haven't had a lot of repros.  Triage: Future.

[2017-05-10 17:39] weshaggard commented on #15160
No the PS scripts cannot directly call msbuild. However the PS scripts should only be downloading the initial set of tools (i.e. the CLI/SDK). However anything that downloads stuff as part of our tools should be doing it via an msbuild task.

Now the difference between init-tools.cmd and run.ps1. The BuildTools repo itself is using a newer set of bootstrapping scripts that we are testing which doe

[2017-05-10 17:50] karelz commented on #17619
We are very close to ZBB - few more hours left.
Remaining: **27 bugs** for ZBB: CoreFX [13](https://github.com/dotnet/corefx/issues?q=is%3Aissue+is%3Aopen+milestone%3A2.0.0+-label%3APost-ZBB+-label%3Aarea-Infrastructure+-label%3Aarea-Tizen+-label%3Aarea-System.Net+-label%3Aarea-System.Net.Http+-label%3Aarea-System.Net.Security+-label%3Aarea-System.Net.Sockets) + CoreCLR [1](https://github.com/dotn

[2017-05-10 17:57] atheken opened #19610 "System.Net.Mail does not encode headers on code point boundaries"
In order for unicode headers to be transmitted over SMTP, they must be encoded using the encoding outlined in RFC-2047. This is sometimes known as "Encoded-Word" or "Q-Encoding."

SMTP headers should also be limited in line length, and RFC-2047 sets a maximum line length of 76 characters. Therefore, when encoding unicode headers, it is typical to need to fold headers onto multiple lines.

A common

[2017-05-10 17:58] #19552 closed

[2017-05-10 18:01] mauroservienti commented on #11639
We have a scenario in which at startup assemblies are scanned using a search pattern and loaded dynamically. The following code worked up to a certain point:

[code]

In some scenarios it might happen that the assembly we are trying to dynamically load is also a referenced assembly that end users are referencing to use some classes/interfaces. In which case the above code miserably fails with a Fi

[2017-05-10 18:08] tarekgh commented on #12190
I moved the issue to 2.1 as we have addressed the repos shipping for v2.0. we just need to apply the change to corert too which is 2.1.

[2017-05-10 18:15] davidsh commented on #19610
Do we know if this works in .NET Framework?  In general, the code was ported from .NET Framework to .NET Core.

[2017-05-10 18:17] #19570 closed

[2017-05-10 18:21] Priya91 commented on #19223
@danmosemsft Is Windows Nano runs being tracked for 2.0? This is most likely a test issue as noted above, why is the milestone changed? Should we disable this test for Nano

[2017-05-10 18:30] corivera commented on #2249
1.1.0 DbDataReader's Dispose doesn't call Close either, so we include that change along with the contract changes.

[2017-05-10 18:34] ericstj commented on #19554
Confirmed, this was due to an old shared framework.  I'm going to update the CLI being used to the shipping one from preview1 and I'll remove the suppression.

[2017-05-10 18:35] weshaggard opened #19611 "Why have a 302 Exception when i put a request"
@Circlecirclecircle commented on [Wed May 10 2017](https://github.com/dotnet/standard/issues/336)

Url:https://xxxx.xxxxx.xxxxxx.com/

Exception.Message:The remote server returned an error: (302) Moved Temporarily.

Exception.StackTrace:
   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult asyncResult)
   at System.Net.WebRequest.<>c.<GetResponseAsync>b__37_2(IAsyncResult iar)
   at System.

[2017-05-10 18:54] pedro-ramirez-suarez commented on #11639
I am sorry for the late response, what I would like to see is an official example and also a more detailed documentation, as for "more detailed documentation" I mean something like the documentation from .Net Framework where you can navigate to old versions of the framework,  there are many examples in the same page and links to related functionality.

My original problem was not only to dynamical

[2017-05-10 18:55] atheken commented on #19610
Yep, it appears to be an issue in .Net Framework 4.6.2 (didn't test earlier versions):

[code]

Yields this Subject:

[code]

Which Gmail "fixes", but other email clients don't handle this gracefully.

Check this header out in this tool: http://dogmamix.com/MimeHeadersDecoder/

Then, compare that to this correct result (same thing, but removed folding between char boundaries):

[code]

[2017-05-10 19:11] stephentoub commented on #19611
Dup of https://github.com/dotnet/corefx/issues/19596

[2017-05-10 19:11] #19611 closed

[2017-05-10 19:23] stephentoub commented on #13298
Ok.  If it fails again, let's open a different issue a new.

[2017-05-10 19:23] #13298 closed

[2017-05-10 19:41] #18482 closed

[2017-05-10 19:41] #18486 closed

[2017-05-10 20:01] safern opened #19618 "Desktop: "System.IO.Pipes.Tests.AnonymousPipeTest_CrossProcess.PingPong" failed"
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.IO.Pipes.Tests/AnonymousPipeTest_CrossProcess/PingPong/

cc: @ianhays

[2017-05-10 20:05] #19067 closed

[2017-05-10 20:10] #19554 closed

[2017-05-10 20:10] #19316 closed

[2017-05-10 20:11] weshaggard commented on #9975
@mmitche is this something you are targeting for 2.0?

Also I assume we will no longer be relying on run-test.cmd and can delete it as part of this work.

[2017-05-10 20:31] safern opened #19619 "[Desktop] Test failures: System.Net.Tests.HttpListenerPrefixCollectionTests / Add_InvalidPrefix*"
Tests affected `System.Net.Tests.HttpListenerPrefixCollectionTests`:
* `Add_InvalidPrefixNotStarted_ThrowsHttpListenerExceptionOnStart`
* `Add_InvalidPrefixAlreadyStarted_ThrowsHttpListenerExceptionOnAdd`

Failed again in Desktop daily run. I was not able to get a local repro, this seems to be more like the configuration on the CI machines but not sure what it is. Note that the only test case that

[2017-05-10 20:31] safern commented on #19619
cc: @davidsh

[2017-05-10 20:33] CIPop commented on #18864
@stephentoub / @davidsh the PR above disables the test on Desktop leaving this issue# in the comment.
The intention is unclear: which of these 3 possibilities did you decide on: is it a "TODO" / by design or saying that Desktop has a bug and needs to be fixed?

[2017-05-10 20:36] stephentoub commented on #18864
@cipop, I described the issue in the PR.  It's a desktop bug.

[2017-05-10 20:38] stephentoub commented on #19619
These tests are more trouble than they're worth.  Let's just disable them until we're done with 2.0 and ZBB.

Failed again here on Windows on core:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/64/consoleText
and here on Linux:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug_prtest/30/consoleText

[2017-05-10 20:42] CIPop commented on #18864
Thanks for the clarification @stephentoub.

For future reference and Framework 2 Core ports, this is a known behavior difference described in #19615:

@davidsh @karelz @DavidGoll :

1. We currently have no Desktop tracking item. Do we want to create one?
2. I know we're maintaining documentation containing a list of behavior differences. Reopening this issue and marking it for doc tracking purpose

[2017-05-10 20:42] stephentoub commented on #19619
Failed here on desktop:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_release_prtest/2/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug_prtest/7/

[2017-05-10 20:47] safern commented on #18864
By adding label netfx-port-consider an item referencing this one will be opened in TS to track the desktop issue.

[2017-05-10 21:05] mmitche commented on #9975
@weshaggard Yes

[2017-05-10 21:21] stephentoub commented on #18864
@CIPop, it should be moved out of 2.0 then, right?

[2017-05-10 21:25] Priya91 commented on #19534
This test is disabled [here] with #18128

[2017-05-10 21:25] Priya91 commented on #19534
Closing as dupe.

[2017-05-10 21:38] CIPop commented on #18864
To clarify: we won't backport any code - the fix in Framework will be different and is pending app-compat assesment.
The label is set here just to track opening a Framework bug.

I'm not sure... Looks like this is a 2.0 bug but with `Post-ZBB` label?

@karelz - please review this bug in relation with #18405.

[2017-05-10 21:41] dhoehna commented on #19560
@danmosemsft I am on windows 7.  My performance tab does not have an ethernet or a wifi graph.

[2017-05-10 21:42] weshaggard commented on #19560
It would also be nice to confirm that it isn't IO bound. We recently fixed https://github.com/dotnet/corefx/pull/19109 which was traversing the entire disk under the repo root. Do you have that change in your local repo?

[2017-05-10 21:43] dhoehna commented on #19560
@weshaggard I cloned the repo yesterday.  I am deleting my corefx git repo on my computer and doing everything from scratch.  Should I look at IO usage as well?

[2017-05-10 21:47] steveharter commented on #9543
Yes _B_ repros the most. I am no longer able to repro _A_ (A task was cancelled).

Here's what I got after 1,600 runs runs on Win10:
- 52 instances of "System.Net.Http.WinHttpException : The client certificate credentials were not recognized" (numberOfRequests: 666, reuseClient: False)
-- Note: this is error _B_ per above
-- Note: these all had test args of 666, False (no instances of 333, True)
-

[2017-05-10 21:48] danmosemsft commented on #19436
@bartonjs do you have time to look today Jeremy?

@karelz

[2017-05-10 21:50] weshaggard commented on #19560
Yes it would be good to figure out what is hammering your system. Is it networking, IO, CPU, etc. Also how long does this usually last for?

[2017-05-10 21:56] davidsh commented on #19583
This is probably a problem with pinging localhost.  That is never allowed in app container

[2017-05-10 21:57] davidsh commented on #19583
So we'll need to figure out a different way to test this in UWP scenarios

[2017-05-10 22:07] safern commented on #19436
I can grab and investigate this one.

[2017-05-10 22:28] jchannon commented on #10146
Sorry but #9728 was closed sending us here for docs that I can't find. What is the fix for 9728 on OS X? Thanks

[2017-05-10 22:32] CIPop commented on #9543
Thanks @steveharter ! These are all different issues from the original (which was a server-side crash or other kind of timeout).
Do you think we should track using separate issues or keep the same since they all happen within this particular test?

The stacks are almost impossible to decipher - they require disassembly to understand what `__DisplayClass3_0. ... b__0()` and similar actually mean. O

[2017-05-10 22:34] mjmckp commented on #16835
Out of interest: Why doesn't the JIT support immediate operands?

[2017-05-10 22:36] dhoehna commented on #19560
So, I re-ran build.cmd.  I got the message "Tools are already installed"   and no lag happened.  What do I have to remove so that won't happen?  @danmosemsft and @weshaggard

[2017-05-10 22:40] weshaggard commented on #19560
To get back into a clean state run `clean.cmd --all` and then when you run build.cmd it will initialize the tools again. You can also by-pass the build.cmd and just call init-tools.cmd.

[2017-05-10 22:41] dhoehna commented on #19560
Really?  Cool.  Thank you.

[2017-05-10 22:41] ViktorHofer commented on #19583
We could use the EchoServers for that. There are tests in it which ping against a host and some ping against an IP Address. Is the EchoServers IP Address static?

[2017-05-10 22:42] CIPop commented on #9543
In the case of  `Authentication failed because the remote party has closed the transport stream.` the remote party is HttpClient.

It's expected to see either this or one of the other 3 failures: WinHttp initiates the connection then enters a faulted state (e.g. `ERROR_WINHTTP_CLIENT_CERT_NO_ACCESS_PRIVATE_KEY`) during negotiation which most likely triggers our code to force-close all WinHTTP hand

[2017-05-10 22:46] Ponant commented on #8809
@stephentoub , is there any objection if we configure the HttpClient as AddSingleton in Startup instead of a static in a controller? Cheers

[2017-05-10 22:47] davidsh commented on #19583
That is not something we should rely on.

The alternative for using loopback adapter in UWP scenarios is to use the checkisolation tool:
http://stackoverflow.com/questions/33259763/uwp-enable-local-network-loopback

But that requires changes to the local machine.

Fixing this is a test design topic that we are still evaluating alternatives.

[2017-05-10 22:54] #4865 closed

[2017-05-10 22:55] mellinoe commented on #16835
@svick Including a Roslyn analyzer is a potential option -- it's the only one we've thought of that could help here, TBH.

@jackmott I'm not very familiar with NEON. The discussion above certainly applies to SSE/AVX instruction families.

@mjmckp It's not that the JIT "doesn't support immediate operands". The problem is that, when writing C# code, there is no way to enforce that you call a functio

[2017-05-10 22:55] csalgo70 commented on #19375
I eventually found the issue. In the LongonUser I was passing LOGON32_LOGON_INTERACTIVE which is incorrect. After changing it to value 9, it worked. So closing this issue. Thanks for the responses.

[2017-05-10 22:55] #19375 closed

[2017-05-10 23:01] Priya91 commented on #17220
I was able to repro this locally when i ran the tests in parallel for 1000 counts for a long time, at which point the processes were being killed due to resource constraint. Was not able to repro without OOM, and it's difficult to understand why only on fedora. Could it be the case that the standardoutput gets a \n or a \r first and then the "signal" console output, so when using readline, we get

[2017-05-10 23:04] ViktorHofer opened #19624 "Remove conditional compilation in System.Diagnostics.Tracing"
As discussed offline with @vancem, we should remove conditional compilation which was introduced in PR https://github.com/dotnet/corefx/pull/18427 when these APIs will be available in NS21:

[code]

cc @brianrob

[2017-05-10 23:10] Priya91 commented on #17220
Although when i just ran this test in loop, there were no failures, but when run with the other tests in the lib, the repro is available. Looks like some other test is interfering.

[2017-05-10 23:11] mjmckp commented on #16835
@mellinoe I guess what I meant was: Why can't the JIT look at each invocation of the method, and either 1) generate a fixed instruction which contains the immediate operand when the argument is a literal value, or, 2) generate a dynamic instruction which contains the runtime value of the argument?  I'm sure there's a perfectly good reason why it can't, I'm just curious!

[2017-05-10 23:11] krwq commented on #17220
@Priya91 did you get the stack in the original report or the one which I got locally? My repro was the same test in multiple threads

[2017-05-10 23:20] mellinoe commented on #16835
@mjmckp It should be able to, but the "dynamic instruction" version will be many times slower, in theory. If we hit that path, we've essentially "failed" to give you an intrinsic operation. We'd like to design something where it is obvious when you make that mistake, and how to easily fix it.

[2017-05-10 23:22] danmosemsft commented on #17126
Here is the full list including types of API that's in SqlClient on desktop but not on Core. Would we aspire to port all these?
[code]

[2017-05-10 23:34] ViktorHofer commented on #18762
@karelz @danmosemsft @vancem I think this 2.0 issue isn't worked on...

[2017-05-10 23:37] ViktorHofer commented on #17088
@corivera this is one of the last issues for ZBB. Are you working on it?

[2017-05-10 23:38] ViktorHofer commented on #18604
@corivera this is one of the last issues for ZBB. Are you working on it? Do you need help?

[2017-05-10 23:39] jkotas commented on #12190
The changes above fixed the URL on the nuget frontpage.

The nuget packages still include dotnet_library_license.txt file with the MS .NET LIBRARY EULA license.

[2017-05-10 23:44] tarekgh commented on #12190
@jkotas I was changing the license url as originally suggested and was what @richlander trying to fix in the PR dotnet/buildtools#1447. but I agree we need to fix the dotnet_library_license.txt issue too.
Yes I follow up on that file too with @richlander and @terrajobst to know what we need to do here.

[2017-05-10 23:53] corivera commented on #17088
Likely an issue with SQL tests' proxy server code. Moving to Future

[2017-05-10 23:54] corivera commented on #18604
Likely an issue with SQL tests' proxy server code. Moving to Future

[2017-05-11 00:00] safern commented on #19436
Trying to get a repro, wasn't successful after 400 runs on Windows, will try now in portable linux.

[2017-05-11 00:03] bartonjs commented on #19436
I've been poking at this throughout the day, and haven't seen failures, either.  I'm at commit 4ab9f71 (the last one before the test was disabled), and currently have the test running in a tight loop under COMPlus_GCStress=3.  No sign of failure.

It's weird that it happened, and super weird that it happened twice...

I wish I could easily find out what commit those runs had been on.

[2017-05-11 00:04] safern commented on #19436
And the logs for the failures are deleted :(

[2017-05-11 00:13] bartonjs commented on #19436
I'm leaning toward "no bug", and that we should just turn this test back on in master... maybe once we're forked.

[2017-05-11 00:16] Priya91 commented on #17220
I got the initial stack of expected signal, actual null.

[2017-05-11 00:20] weitzhandler commented on #271
About time!

[2017-05-11 00:24] weitzhandler opened #19627 "Have INotifyPropertyChanging implement a cancellation mechanism"
Hi,

The `INotifyPropertyChanging` will be way more productive if it would include a cancellation technique.

My suggestion would be have the `PropertyChangingEventArgs` class derive from `CancelEventArgs`. That's not a breaking change, and will give hell of a lot more productivity.

Proposed change ([Line 13](https://github.com/dotnet/corefx/blob/master/src/System.ObjectModel/src/System/Component

[2017-05-11 00:36] bartonjs commented on #19436
With the test modified to run 1,000,000 iterations, and print a '.' every 1000, running under GCStress=3, I'm getting nowhere:

[code]

That's more than 33k runs under GCStress (and still going).  So... solar flares?  Illuminati conspiracy?

[2017-05-11 00:38] karelz commented on #19436
Can we add more logging / hard crash upon error and let it repro again in CI?

[2017-05-11 00:44] bartonjs commented on #19436
Better reproducibility/diagnosibility seems fair.  I'll do that right now (unless there's something different you think, @safern?)

[2017-05-11 00:50] Jiayili1 commented on #19511
@danmosemsft I will open a new issue for UWP F5 Tests

[2017-05-11 00:56] #19517 closed

[2017-05-11 01:04] shmao opened #19629 "DCS_ResolveNameReturnsEmptyNamespace Failed on UWP"
`DataContractSerializerTests.DCS_ResolveNameReturnsEmptyNamespace` failed on UWP.

[code]

[2017-05-11 01:06] safern commented on #19436
I think logging is a good alternative as I ran the tests for 2000 in windows and 2000 iterations in Ubuntu with -portable parameter and haven't seen any failure yet. Thanks for putting the PR @bartonjs

[2017-05-11 01:09] flo8 opened #19630 "Uri.IsWellFormedUriString() returns false for a URL which is correct"
I have a C# (.Net Core 1.1) app that needs to check if a URL is valid. I used the Uri.IsWellFormedUriString() which works pretty well but have a doubt about this one below which **returns false**. It seems to me that the URL is perfectly valid?

`Uri.IsWellFormedUriString("http://www.test.com/search/Le+Venezuela+b%C3%A9n%C3%A9ficie+d%27importantes+ressources+naturelles+%3A+p%C3%A9trole%2C+gaz%2C+m

[2017-05-11 01:15] davidsh commented on #19630
Do you know what the behavior is on .NET Framework?  In general, .NET Core behaves like .NET Framework.

[2017-05-11 01:27] shmao commented on #19629
I understood the root cause of the bug. The issue occurred with the types like shown below,

[code]

Here's what happened.

In the test scenario, UWP toolchain didn't detect `TypeNotDetected `, so it didn't generate serializer for the type. But the toolchain found BaseType, and thus generate serializer for it.

The issue happened at runtime when the test serialized the instance of `TypeNotDetected

[2017-05-11 01:27] Priya91 commented on #19514
This codepath uses the ping utility ping/ping6, and time out likely suggests that it's a one off issue. There's not much layer in code to be a bug, timeout is reported in cases of actual not able to reach the localhost in 10s, or if the ping utility returns exitcode 2 on osx, which means transmission was successful but no responses were received.

The call stack doesn't provide much info on which

[2017-05-11 01:28] flo8 commented on #19630
@davidsh Indeed, I just checked and get the same behavior or .Net 4.5.2.

However this doesn't explain why this function returns false for this URL?

[2017-05-11 01:30] Circlecirclecircle commented on #19596
this request have 11 Redirect ,and the first time is https Redirect to http,
so how can i not allow auto Redirect?
I don't fount AllowAutoRedirect in HttpWebRequest.
because i Reference library is error?

i use SDK Microsoft.NETCore.App 1.1.1

Reference library from .nuget\packages\system.net.requests\4.3.0\ref\netstandard1.3\System.Net.Requests.dll

[2017-05-11 01:36] davidsh commented on #19630
Thx for confirming .NET Framework behavior.  This will have to be investigated to see why this is returning false.

[2017-05-11 01:39] ViktorHofer commented on #19433
@saurabh500 is this required for ZBB? do you need help?

[2017-05-11 01:51] #19436 closed

[2017-05-11 01:52] Circlecirclecircle commented on #19596
the .NETStandard 1.6 can found AllowAutoRedirect in HttpWebRequest.
so I write a Common Library include HttpRequest  function.

thanks you @stephentoub

[2017-05-11 01:56] ViktorHofer commented on #19433
@safern after talking with @saurabh500 offline it seems like this needs to be done ASAP. Help by someone who is more verbose in the build system and microbuilds is very appreciated. Do you think you can help? If yes, please contact @saurabh500

[2017-05-11 01:57] dotnet-mc-bot opened #19633 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/UseCallback_CallbackThrowsException_ExceptionPropagates failed with "System.Net.Http.HttpRequestException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/UseCallback_CallbackThrowsException_ExceptionPropagates` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.DivideByZeroException)\r
    Actual:   typeof(System.Net.Http.HttpRequestException): An error occurred while sending the request.

        Stack Trace:

[2017-05-11 01:57] jnm2 commented on #18528
The conclusion is that the benefits do not outweigh the costs. See https://github.com/dotnet/coreclr/pull/11345#issuecomment-300616611

Thanks for the discussion and I look forward to the next one! =)

[2017-05-11 01:57] #18528 closed

[2017-05-11 01:59] safern commented on #19433
I don't have a lot of context in signing but I can take a look on how we sign other packages and maybe figure that out ;)

[2017-05-11 02:01] Jiayili1 commented on #19633
@danmosemsft do we still need 2.0.0 milestone for Core Tests? I see that 2.0.0 milestone shows "Past due by about 19 hours".

[2017-05-11 02:06] dotnet-mc-bot opened #19634 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds failed with "System.Net.Http.HttpRequestException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds(sslProtocols: Tls, url: \"https://www.ssllabs.com:10301/\")` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.
    ---- System.Net.Http.CurlException : Problem with the SSL CA cert (path? access rights?)

[2017-05-11 02:06] Jiayili1 commented on #19634
Closed issue: https://github.com/dotnet/corefx/issues/14767

[2017-05-11 02:08] dotnet-mc-bot opened #19635 "Test: System.Net.Http.Functional.Tests.ResponseStreamTest/ReadAsStreamAsync_InvalidServerResponse_ThrowsIOException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.ResponseStreamTest/ReadAsStreamAsync_InvalidServerResponse_ThrowsIOException(transferType: ContentLength, transferError: ContentLengthTooLarge)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IOException)\r
    Actual:   typeof(System.Net.Http.HttpRequestException): An error occurred while sending the

[2017-05-11 02:13] safern commented on #19433
Adding @weshaggard who is the expert in signing.

[2017-05-11 02:14] dotnet-mc-bot opened #19636 "Test: System.Net.Security.Tests.CertificateValidationRemoteServer/CertificateValidationRemoteServer_EndToEnd_Ok failed with "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.CertificateValidationRemoteServer/CertificateValidationRemoteServer_EndToEnd_Ok` has failed.

System.Net.Internals.SocketExceptionFactory+ExtendedSocketException : No such device or address

        Stack Trace:

           at System.Net.Dns.InternalGetHostByName(String hostName, Boolean includeIPv6) in /root/corefx/src/System.Net.

[2017-05-11 02:19] dotnet-mc-bot opened #19637 "Test: System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest/SendAsync_SlowServerAndCancel_ThrowsTaskCanceledException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest/SendAsync_SlowServerAndCancel_ThrowsTaskCanceledException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.AggregateException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Http.WinHttpHandlerFunctional.Tests.WinHttpHandlerTest.<S

[2017-05-11 02:49] Circlecirclecircle commented on #19596
i was wrong,  the .NETStandard 1.6 not include HttpWebReponse

[2017-05-11 03:06] #17220 closed

[2017-05-11 03:14] davidsh commented on #19637
This should have been disabled (related issue #17234) similar to test:

[code]

[2017-05-11 05:07] danmosemsft commented on #19633
Keep setting 2.0 for now and I will discuss with Karel. Thanks
________________________________
From: Jiayi Li<mailto:notifications@github.com>
Sent: ‎5/‎10/‎2017 19:02
To: dotnet/corefx<mailto:corefx@noreply.github.com>
Cc: Dan Moseley<mailto:Dan.Moseley@microsoft.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [dotnet/corefx] Test: System.Net.Http.Functional.Tests.HttpClientHandler

[2017-05-11 05:08] mazong1123 commented on #19630
I just found whenever a '%' appears in a url, Uri.IsWellFormedUriString() will return false. Hope this can be a starting point to investigate this issue.

[2017-05-11 06:10] dotnet-mc-bot opened #19639 "Test: ConsoleEncoding/InputEncoding_SetDefaultEncoding_Success failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `ConsoleEncoding/InputEncoding_SetDefaultEncoding_Success` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
Build : Master - 20170510.02 (UWP F5 Tests)
Failing configurations:
- Windows.10.Amd64-x64
  - Release
  - Debu

[2017-05-11 06:11] Jiayili1 commented on #19639
Failed tests:
 InputEncoding_SetDefaultEncoding_Success
 InputEncoding_SetUnicodeEncoding_SilentlyIgnoredInternally
 InputEncoding_SetWithInInitialized_ResetsIn
 OutputEncoding_SetDefaultEncoding_Success
 OutputEncoding_SetUnicodeEncoding_SilentlyIgnoredInternally
 OutputEncoding_SetWithErrorAndOutputInitialized_ResetsErrorAndOutput

[2017-05-11 06:14] janpieterz commented on #19535
@blowdart any issue somewhere to track the improved tooling for upgrading those deps? Would love to be aware of this.

[2017-05-11 06:29] dotnet-mc-bot opened #19640 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/MaxRequestContentBufferSize_Set_ThrowsPlatformNotSupportedException failed with Xunit.Sdk.ThrowsException"""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/MaxRequestContentBufferSize_Set_ThrowsPlatformNotSupportedException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.PlatformNotSupportedException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandlerTest.Max

[2017-05-11 06:31] dotnet-mc-bot opened #19641 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test/ClientCertificates_ClientCertificateOptionsAutomatic_ThrowsException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_ClientCertificates_Test/ClientCertificates_ClientCertificateOptionsAutomatic_ThrowsException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClie

[2017-05-11 06:33] dotnet-mc-bot opened #19642 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test/SetGet_Roundtrips failed with "Xunit.Sdk.SameException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test/SetGet_Roundtrips` has failed.

Assert.Same() Failure\r
    Expected: NetworkCredential { Domain = \"domain\", Password = \"password\", SecurePassword = SecureString { Length = 8 }, UserName = \"username\" }\r
    Actual:   NetworkCredential { Domain = \"\", Password = \"passwor

[2017-05-11 06:56] dotnet-mc-bot opened #19643 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test/Default_ExpectedValue failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test/Default_ExpectedValue` has failed.

Assert.Equal() Failure\r
    Expected: 2147483647\r
    Actual:   6

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test.Default_ExpectedValue()
Build : Master - 20170510.02 (UWP

[2017-05-11 06:58] dotnet-mc-bot opened #19644 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test/GetAsync_Max1_ConcurrentCallsStillSucceed failed wtih "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test/GetAsync_Max1_ConcurrentCallsStillSucceed` has failed.

System.ArgumentException : The parameter is incorrect.\r
    \r
    value

        Stack Trace:

           at Windows.Web.Http.Filters.HttpBaseProtocolFilter.put_MaxConnectionsPerServer(UInt32 value)
       at System.Net.H

[2017-05-11 07:15] dotnet-mc-bot opened #19645 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test/Default_MaxResponseHeadersLength failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test/Default_MaxResponseHeadersLength` has failed.

Assert.Equal() Failure\r
    Expected: 64\r
    Actual:   -1

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test.Default_MaxResponseHeadersLength()
Build : Master -

[2017-05-11 07:19] dotnet-mc-bot opened #19647 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test/InvalidValue_ThrowsException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test/InvalidValue_ThrowsException(invalidValue: -1)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentOutOfRangeException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.AssertExtensions.Throws[T](String paramName, Fun

[2017-05-11 07:20] dotnet-mc-bot opened #19648 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test/SetAfterUse_Throws failed with "Xunit.Sdk.ThrowsException'"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test/SetAfterUse_Throws` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.InvalidOperationException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandler_MaxResponseHeadersLength_Test.<Set

[2017-05-11 07:29] dotnet-mc-bot opened #19649 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/SetGetProtocols_Roundtrips failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test/SetGetProtocols_Roundtrips(protocols: Tls)` has failed.

Assert.Equal() Failure\r
    Expected: Tls\r
    Actual:   None

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test.SetGetProtocols_Roundtrips(SslProtocols protocols)
Build : Mast

[2017-05-11 07:33] dotnet-mc-bot opened #19650 "Tests under: System.Net.Http.Functional.Tests.HttpRequestMessageTest failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpRequestMessageTest/Ctor_AbsoluteStringUri_CorrectValues` has failed.

Assert.Equal() Failure\r
    Expected: 1.1\r
    Actual:   2.0

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpRequestMessageTest.Ctor_AbsoluteStringUri_CorrectValues()
Build : Master - 20170510.02 (UWP F5 Tests)
Failing confi

[2017-05-11 07:33] RickStrahl opened #19651 "SqlClientFactory.CreateDataAdapter returns null"
I'm running the .NET Core 2.0 bits and testing against some legacy full framework packages (yeah some legacy code). Looks like most of the other services are working, just the data adapter isn't.

![image](https://cloud.githubusercontent.com/assets/1374013/25937667/655d86a2-35e1-11e7-9a87-8a7c17e388ec.png)

Is this something that will come later?

[2017-05-11 07:38] Jiayili1 commented on #19650
Failed tests:
Ctor_AbsoluteStringUri_CorrectValues
Ctor_AbsoluteUri_CorrectValues
Ctor_Default_CorrectDefaults
Ctor_NullStringUri_Accepted
Ctor_NullUri_Accepted
Ctor_RelativeStringUri_CorrectValues
Ctor_RelativeUri_CorrectValues
Dispose_DisposeObject_ContentGetsDisposedAndSettersWillThrowButGettersStillWork

[2017-05-11 07:38] dotnet-mc-bot opened #19652 "Test: System.Net.Http.Functional.Tests.HttpRequestMessageTest/ToString_DefaultAndNonDefaultInstance_DumpAllFields failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpRequestMessageTest/ToString_DefaultAndNonDefaultInstance_DumpAllFields` has failed.

Assert.Equal() Failure\r
                                     ? (pos 44)\r
    Expected: ··· '<null>', Version: 1.1, Content: <null>, Headers:\\r\\n{\\r\\n}
    Actual:   ··· '<null>', Version: 2.0, Content: <null>, Headers:\\r\\n{\\r\\n

[2017-05-11 07:59] dotnet-mc-bot opened #19653 "Tests under: System.Net.NetworkInformation.Tests.PingTest failed with "System.Net.NetworkInformation.PingException""
Opened on behalf of @Jiayili1

The test `System.Net.NetworkInformation.Tests.PingTest/Ping_DisposeAfterSend_Success` has failed.

System.Net.NetworkInformation.PingException : An exception occurred during a Ping request.\r
    ---- System.ComponentModel.Win32Exception : Access is denied

        Stack Trace:

           at System.Net.NetworkInformation.Ping.<GetAddressAndSendAsync>d__48.MoveNext()

[2017-05-11 08:00] Jiayili1 commented on #19653
Failed tests:
SendPingAsyncWithHost
SendPingAsyncWithHostAndTimeout
SendPingAsyncWithHostAndTimeoutAndBuffer
SendPingAsyncWithHostAndTimeoutAndBufferAndPingOptions
SendPingAsyncWithIPAddress
SendPingAsyncWithIPAddressAndTimeout
SendPingAsyncWithIPAddressAndTimeoutAndBuffer
SendPingAsyncWithIPAddressAndTimeoutAndBufferAndPingOptions
SendPingAsyncWithIPAddress_AddressAsString
SendPings_ReuseInstance

[2017-05-11 08:02] dotnet-mc-bot opened #19654 "Test: System.Net.NetworkInformation.Tests.PingTest/SendAsyncs_ReuseInstance_Hostname failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Net.NetworkInformation.Tests.PingTest/SendAsyncs_ReuseInstance_Hostname` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Net.NetworkInformation.Tests.PingTest.<SendAsyncs_ReuseInstance_Hostname>d__17.MoveNext()
    --- End of stack trace from previous locat

[2017-05-11 09:45] svick commented on #19630
This still reproduces if you shorten the URI to `"http://www.test.com/%C3%A9%2C"`.

As far as I can tell, this happens because the URI contains both the character "é" (`%C3%A9`) and encoded comma (`%2C`), which causes the internal `_flags` to contain `E_PathNotCanonical`, but not `PathIriCanonical`, which in turn means `false` is returned [here](https://github.com/dotnet/corefx/blob/7df6b74cc4aeeb

[2017-05-11 11:04] martincostello commented on #19535
Is the updated runtime going to be automatically patched into Azure App Service plans, and if so what's the timeline, or are we expected to publish the updated runtime with our apps?

[2017-05-11 11:15] strigonLeader commented on #19439
Dogfooding worked for compiling but I have difficulty during runtime when my dll tries to link against System.Threading.Tasks, since I have a port back of that dll for net 3.5. But I think that's just a separate problem.

[2017-05-11 11:28] MarcioAB commented on #5088
Indeed. Issue solved with 5.3.3 NetCore.UWP package. Tks.

[2017-05-11 12:56] blowdart commented on #19535
@janpieterz No - it's early planning right now, this thread is useful evidence of how much it's needed.
@martincostello I believe it starts today.

[2017-05-11 14:28] mattwarren commented on #19476
I was intrigued by this and decided to play around. It *seems* like the count is more consistent if you move the `GC.Collect(..)` code into the main loop. With this code:

[code]

I get the following results:

[code]

So maybe it's just a case on *when* the GC kicks in?

[2017-05-11 14:34] stephentoub commented on #19634
Dup of https://github.com/dotnet/corefx/issues/16201

@Jiayili1, for future reference, in general, regardless of the specific HTTP test it came from, if the error occurs on RedHat/CentOS/Fedora and if the exception contains "System.Net.Http.CurlException : Problem with the SSL CA cert (path? access rights?)", it's a dup of 16201.  Thanks.

[2017-05-11 14:40] stephentoub opened #19656 "Multiple Pipes tests failing on desktop with "The handle is invalid" and related errors"
https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_debug_prtest/82/consoleText
[code]

[2017-05-11 14:49] eerhardt commented on #16629
@weshaggard @terrajobst - we really should rectify the APIs in PlatformAbstractions with RuntimeInformation.

The APIs in PlatformAbstractions came from needing this functionality in the CLI, but not having the necessary APIs in the BCL.  So the CLI team created these APIs and they made their way into dotnet/core-setup.  We (the runtime team) own both corefx and core-setup and the APIs exposed by

[2017-05-11 14:49] karelz commented on #19439
@strigonLeader it would be great to see the error anyway (at minimum for future reference), can you please paste the error here?

[2017-05-11 14:56] stephentoub commented on #19656
This failure is coming from the call:
[code]
There's no way this specific test could be causing that failure.  What seems most likely is that there's some kind of use-after-free issue being caused by other tests, e.g. some test is free'ing a handle it no longer owns, and that handle was recycled by the OS such that between the time that the ctor created the handle and then used it (e.g. in its sub

[2017-05-11 14:58] karelz commented on #18762
@vancem @brianrob @valenis ping?

[2017-05-11 14:59] pasikarkkainen commented on #2089
@karelz : Thanks for the update! I was mostly curious about the status.. I can definitely help with testing at least, when this becomes available.

[2017-05-11 14:59] sharwell commented on #19408
@danmosemsft I added the API details. These methods are rather trivial to implement if the API gets approved.

[2017-05-11 15:03] karelz commented on #19593
@Priya91 can you please triage it against 2.0?
If it is in 2.0, please add also Post-ZBB label, because it was filed late.

[2017-05-11 15:21] karelz commented on #17619
Yesterday we have released .NET Core 2.0 preview1: https://github.com/dotnet/core/issues/640
If you can, please try it out. Report any issues back to us ASAP (ideally in next week), so that we can fix it for final release.

[2017-05-11 15:23] vancem commented on #18762
I am looking at this now.

[2017-05-11 15:25] karelz commented on #17619
We’re down to last 12 issues for ZBB. Almost there!
* core-setup - [7](https://github.com/dotnet/core-setup/issues?q=is%3Aissue+is%3Aopen+milestone%3A2.0.0+-label%3APost-ZBB+-label%3Aarea-Infrastructure+-label%3Aarea-Tizen+-label%3Aarea-System.Net+-label%3Aarea-System.Net.Http+-label%3Aarea-System.Net.Security+-label%3Aarea-System.Net.Sockets)
* CoreFX repo - [4](https://github.com/dotnet/corefx/i

[2017-05-11 15:32] karelz commented on #17619
**What's next, after ZBB?**
We will keep aggressively triaging incoming issues (i.e. set milestone), to make sure we react to feedback quickly.
If you see anything blocking final release, please ping area owners, or @karelz / @danmosemsft.

Currently we have **15 issues without milestone**:
* CoreCLR repo - [7](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20no%3

[2017-05-11 15:53] gortok opened #19658 "Docker Image microsoft/dotnet:1.1.1-runtime doesn't have fix in LibCurl"
In PR #16895, a fix for lib_curl on linux was put in to improve HttpClient POST Performance in .NET Core.  However, even though the PR says it should be deployed to the dotnet:1.1.0 docker repo, I pulled and reproduced the issue with the `dotnet:1.1.1-runtime` docker image. A reproduction of the issue is here: https://github.com/gortok/httpclient-tests (Dockerfile is in that repo).

Was this fix d

[2017-05-11 16:24] weshaggard commented on #19433
@saurabh500 this has to be done by the official build system you have for sni. We cannot do this in corefx as you have already packaged the binary and we cannot (and should not) pull it out sign it and repackage it.

[2017-05-11 16:29] davidsh commented on #19583
@danmosemsft @stephentoub @CIPop @karelz

We have a lot of test collateral in CoreFx that lies on being able to talk to loopback adapter (localhost).  I think we should modify the CI machines with the 'checkisolation' tool to allow this communication.  That would then allow us to keep the tests the same and have them work in CI.

Then, it would just be a requirement for devs working on local machi

[2017-05-11 16:31] solbirn commented on #19658
@gortok Seems to be resolved in dotnet:1.1.2-runtime

[2017-05-11 16:39] RichiCoder1 commented on #5766
Update:
https://github.com/microsoft/xaml-standard

[2017-05-11 16:40] #19188 closed

[2017-05-11 17:05] galvesribeiro commented on #5766
That is a great move. Thanks for sharing @RichiCoder1

Unfortunately, it is UI-only. Other usages of XAML like Sharepoint and WF are probably out.

But yes, at least it will help to standardize the XAML across all supported platforms.

Good move!

[2017-05-11 17:08] birbilis commented on #5766
Hope they'll split it in layers

[2017-05-11 17:09] birbilis commented on #5766
Eg apart from the non-UI base XAML layer I'd like to see XAML 3D layer

[2017-05-11 17:20] saurabh500 commented on #19218
Since this has been hit once, I will move this out to future. This may be a flakiness in getting SSPIContext in Nano server.

[2017-05-11 17:28] shmao opened #19663 "DataContractSerializerTests.DCS_BasicRoundTripResolveDTOTypes Fails on UWP"
The test fails on UWP due to https://github.com/dotnet/corert/issues/2946.

[code]

[2017-05-11 17:39] gortok commented on #19658
@solbirn We checked that docker container and it still uses version 7.38.0 of libcurl (the slow version).

[2017-05-11 17:48] stephentoub commented on #19514
I'm not sure what you're asking for.  What does this have to do with async or task awaiters?  In the cases you describe, there is no exception involved: it's either successfully creating a PingReply object at https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Unix.cs#L173 or https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/Sy

[2017-05-11 17:49] stephentoub commented on #8809
That's effectively the same thing, is it not?  You end up with a single instance that'll be used for all requests?  Unless I'm missing something, sounds fine.

[2017-05-11 18:11] CIPop commented on #9127
Fixed by #19622.

[2017-05-11 18:11] #9127 closed

[2017-05-11 18:12] stephentoub commented on #9543
Can you clarify this part?  That should not be the case. Those IDs have nothing to do with individual awaits or even async: they're the names of the lambdas in the code.  Can you share an example where adding an await to an existing async method changes those names?

[2017-05-11 18:21] CIPop commented on #19635
@Jiayili1 @danmosemsft : the "Detail" link doesn't contain anything. Am I looking at the right thing?
![image](https://cloud.githubusercontent.com/assets/8635911/25965112/df83f326-363b-11e7-92dd-32d23b01af7d.png)

Going up one level:
![image](https://cloud.githubusercontent.com/assets/8635911/25965095/d3956df6-363b-11e7-9f70-5c1d314996ed.png)

[2017-05-11 18:21] CIPop commented on #19633
@Jiayili1 @danmosemsft same comment for this bug: the Details link doesn't give me anything: https://github.com/dotnet/corefx/issues/19635#issuecomment-300875005

[2017-05-11 18:24] CIPop commented on #19633
This test uses SecureRemoteEchoServer and the error could mean that the server was not reachable or didn't respond.
With what little information we have I believe this is an infrastructure/test issue. We would need to add some extra network tests (e.g. if the test fails, try to ping the endpoint, retry a few times, etc)

[2017-05-11 18:24] RichiCoder1 commented on #5766
@galvesribeiro Looks like someones created an issue: https://github.com/Microsoft/xaml-standard/issues/23 I'd +1 it, no reason for the eventual standard to not be split out.

[2017-05-11 18:25] CIPop commented on #19633
@davidsh @DavidGoll @karelz PTAL - I believe the cause is network/remote server availability. I've tentatively moved this to Future.

[2017-05-11 18:33] CIPop commented on #19635
Same error as in #19633 although this is a Loopback server test.

[2017-05-11 18:34] Priya91 commented on #19514
Yeah I meant the same thing as well, that it's one of those cases where timeout is reported. In the call stack it shows where the assert failed in test code, is it possible to get the product stack in the executed task, if the task running SendPingAsync hit L173 or L181 in Ping.Unix.cs

[2017-05-11 18:36] MichaelSimons commented on #19658
The [fix](https://github.com/dotnet/corefx/pull/15354) is in microsoft/dotnet:1.1.2-runtime image.  Note the fix was not to upgrade the libcurl dependency, rather it is to set `CURLOPT_TCP_NODELAY`.

[2017-05-11 18:43] Mike-EEE commented on #5766
Haha and right you are, @RichiCoder1!  It's all wrong and broken and nowhere where it should be, but it's a start. ;)  Thank you for letting us know. 👍

And very pleased with seeing someone creating https://github.com/Microsoft/xaml-standard/issues/23 so that I don't have to. ;) ;) ;)

[2017-05-11 18:44] shmao commented on #19663
`DataContractSerializerTests.DCS_SimpleStructWithProperties` also failed for the same reason.

[2017-05-11 18:45] sepidehMS commented on #19179
Keeping this open until tests are updated.

[2017-05-11 19:03] appbureauet commented on #19166
I think this is the same bug I am experiencing when using [Refit](https://github.com/paulcbetts/refit) in a Xamarin app.

When I run agains a localhost server the default `HttpClientHandler` works great.

But when I point it to a deployed version of the same server I get 401 unauthorized responses because the `CookieContainer` doesn't save the cookies for the domain I am contacting.

I can work ar

[2017-05-11 19:30] NickCraver commented on #17126
`UdtTypeName` is a blocker for Dapper to add UDTs back in, I just hit this trying to do a netstandard2.0 build.

[2017-05-11 20:00] CIPop commented on #19635
@davidsh @stephentoub We're missing important information from this exception: the InnerException should have more information about the reason the request failed.
Is there any way we can change the XUnit runner to explore and output all information within these exceptions?

@DavidGoll @karelz PTAL More information is required. Given the low likelyhood of this failing I'm tentatively moving it to

[2017-05-11 20:03] CIPop opened #19667 "XUnit should log all InnerExceptions if a test fails"
Example of test failures that would benefit from having the entire `Exception` chain logged during test execution: #19635, #19633.

[2017-05-11 20:25] ViktorHofer opened #19669 "Desktop test failure: System.IO.Pipes.Tests.AnonymousPipeTest_Write_ServerIn_ClientOut.WriteWithOutOfBoundsArray_Throws_ArgumentException"
System.IO.Pipes.Tests.AnonymousPipeTest_Write_ServerIn_ClientOut.WriteWithOutOfBoundsArray_Throws_ArgumentException (from System.IO.Pipes.Tests)

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_release_prtest/104/

Happening here: https://github.com/dotnet/corefx/pull/19613

[2017-05-11 20:28] ViktorHofer opened #19670 "Desktop test failure: System.Transactions.Tests.NonMsdtcPromoterTests.PSPENonMsdtcTimeout(promote: False)"
System.Transactions.Tests.NonMsdtcPromoterTests.PSPENonMsdtcTimeout(promote: False) (from System.Transactions.Local.Tests)

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug_prtest/11/

Happening here https://github.com/dotnet/corefx/pull/19613

[2017-05-11 20:37] garfbradaz commented on #17619
404 on link :)

[2017-05-11 20:41] tarekgh commented on #17619
@garfbradaz I fixed the link.

[2017-05-11 20:44] ViktorHofer commented on #11737
Happened again here: https://github.com/dotnet/corefx/pull/19613

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug_prtest/11/

[2017-05-11 20:45] ViktorHofer commented on #19670
Duplicate

[2017-05-11 20:45] #19670 closed

[2017-05-11 20:53] karelz commented on #17619
**Last 5 issues** for ZBB (queries restricted to issues created before 5/10). Almost there!

* CoreFX - [3](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A2.0.0%20-label%3APost-ZBB%20-label%3Aarea-Infrastructure%20-label%3Aarea-Tizen%20-label%3Aarea-System.Net%20-label%3Aarea-System.Net.Http%20-label%3Aarea-System.Net.Security%20-label%3Aarea-System.N

[2017-05-11 21:04] karelz commented on #19636
One time issue, moving to Future.

[2017-05-11 21:05] karelz commented on #19307
@geoffkizer can you please take a look? (@stephentoub is OOF sick)

[2017-05-11 21:05] karelz commented on #19387
One time issue only, moving to Future.

[2017-05-11 21:06] karelz commented on #16201
@Priya91 what is your recommendation? What are the next steps?

[2017-05-11 21:07] karelz commented on #18128
@Priya91 ping?

[2017-05-11 21:29] markmcdowell commented on #8645
I've just hit this on centos 7. Any workarounds?

[2017-05-11 21:40] FransBouma opened #19673 "SqlClient.SqlClientFactory doesn't implement DbProviderFactory.CreateDataAdapter()"
Hi.

In netstandard 2.0, the method DbProviderFactory.CreateDataAdapter() is present, however this method isn't implemented in SqlClient.SqlClientFactory, leading to a null being returned. This is likely an oversight caused by the fact that the factory was ported over way before DataTable and friends were ported over. I think this should be corrected before 2.0 RTM, as it's an important method for

[2017-05-11 21:42] safern commented on #19669
cc: @ianhays @JeremyKuhne

[2017-05-11 21:44] justinvp commented on #19673
Looks like a dupe of #19651

[2017-05-11 21:48] dbason commented on #4198
With the preview 1 release of .Net Core 2.0 I'm just wondering if there's any documentation available on setting this up yet?  Also I assume currently there's no way to get this to work in a Linux docker container?

[2017-05-11 21:51] jherbert commented on #4561
@zhenlan Looks like there has been some work going in for this in the last couple weeks. If you need anyone to do some testing (when it comes to that point) I would be happy to help. This will make a huge difference in startup performance for me.  Today it's around 60 seconds to generate the XmlSerilizers at run time (very big SOAP/WSDL).

[2017-05-11 22:06] vancem commented on #18762
Fixed by #19659

[2017-05-11 22:06] #18762 closed

[2017-05-11 22:25] stephenmichaelf commented on #18765
@mellinoe Latest update:

Random has been merged
Environment is waiting on feedback for running cross platform
I will start on Math and MathF tonight.

[2017-05-11 22:47] shmao opened #19677 "DCS Failed to Serialize IEnumerable Types on UWP in ReflectionOnly Mode"
DCS failed to serialize `IEnumerable` Types on UWP in ReflectionOnly mode. The following tests failed.

[code]

[2017-05-11 22:52] ViktorHofer opened #19678 "Desktop test failure: System.IO.Pipes.Tests.AnonymousPipeTest_Specific.ClonedServer_ActsAsOriginalServer"
[code]

Fails on my local looped test runs in System.IO.Pipes like 1/50 runs.

[2017-05-11 22:53] ViktorHofer commented on #19678
cc: @JeremyKuhne @ianhays

[2017-05-11 22:56] ViktorHofer opened #19680 "Desktop test failure: System.IO.Pipes.Tests.AnonymousPipeTest_Specific.Windows_BufferSizeRoundtripping"
[code]

Fails on my local looped test runs in System.IO.Pipes like 1/35 times.

cc @ianhays @JeremyKuhne

[2017-05-11 22:58] ViktorHofer opened #19681 "Desktop test failure: System.IO.Pipes.Tests.AnonymousPipeTest_Specific.InvalidReadMode_Throws_ArgumentOutOfRangeException"
[code]

Fails on my local test looped runs in System.IO.Pipes like 1/30 times.

cc: @JeremyKuhne @ianhays

[2017-05-11 23:00] justinvp commented on #19651
I went ahead and grabbed this. Will submit PR shortly.

[2017-05-11 23:07] Priya91 commented on #16201
I'm gonna first try setting the SSL_DIR env variable to an empty dir on the initialization script as it's easier to set this up than re-imaging.

[2017-05-11 23:09] steveharter opened #19683 "System.Net.Sockets.Tests.DualModeBeginAccept.BeginAcceptV4BoundToSpecificV4_Success fails with COMPlus_GCStress=3"
When running the System.Net.Sockets tests with COMPlus_GCStress=3, the tests fail with:
[code]

This has been verified by running the tests twice with the same result. No other tests failed.

It only has failed on Linux (RHEL 72 used); Windows did not fail here.

'Connection reset by peer' usually means the client closed and re-opened the connection, which could happen if another tests was collidi

[2017-05-11 23:11] justinvp commented on #5501
Note: If/when `SqlCommandBuilder` is added, `SqlClientFactory` should override `CreateCommandBuilder` and return a new instance of `SqlCommandBuilder`.

[2017-05-12 00:26] Priya91 opened #19689 "SendAsync_ExpectedDiagnosticSourceActivityLogging failed in CI on Windows and Linux."
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug_prtest/16/console

[2017-05-12 00:29] Priya91 commented on #19689
possibly related to #16610

cc @stephentoub

[2017-05-12 00:30] seanshpark commented on #18966
@VSadov , moving to Outerloop is OK. Thank you!

[2017-05-12 00:31] stephentoub commented on #19689
The actual failure details are just above what you quoted in the log:
[code]

[2017-05-12 00:34] #19433 closed

[2017-05-12 00:40] stephentoub commented on #19307
Hopefully I'll be feeling better tomorrow and can look.

[2017-05-12 00:55] #19677 closed

[2017-05-12 01:04] Priya91 commented on #2914
failed again here

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug_prtest/11/testReport/junit/System.Threading.Tasks.Tests.CancelWait/TaskCancelWaitTestCases/TaskCancelWait1/

[2017-05-12 01:09] zhenlan commented on #4561
Thank you @jherbert! Yes, we put together an initial prototype at below and managed to avoid using CodeDom.
https://github.com/dotnet/corefx/tree/master/src/Microsoft.XmlSerializer.Generator

We are still working on user experience. Current thinking is something like
`dotnet Microsoft.XmlSerializer.Generator [UserAssembly.dll and other parameters]`
It will generate a cs file and then we will compi

[2017-05-12 01:20] Priya91 commented on #16201
Made the change to provide empty cert dir with SSL_DIR env variable. Closing as fixed, please re-open if failures reappear.

[2017-05-12 01:23] Priya91 commented on #18128
@karelz Looking at the tests, will update when I have more info. I would prioritize the issues with different platform behaviors, that is cases where exceptions are not thrown/thrown.

[2017-05-12 01:24] brentschmaltz commented on #18682
@shamo I am on vacation until the 17th. of May.  I will make this a priority when I return.

[2017-05-12 01:28] ViktorHofer commented on #19673
Closing because dupe of https://github.com/dotnet/corefx/issues/19651

[2017-05-12 01:28] #19673 closed

[2017-05-12 01:54] Jiayili1 commented on #19634
@stephentoub Thanks, I got it.

[2017-05-12 01:56] #19651 closed

[2017-05-12 02:00] danmosemsft commented on #17459
@corivera I believe this is complete. They are all in the ref. What is left missing from SqlClient is tracked in https://github.com/dotnet/corefx/issues/17126

[2017-05-12 02:00] #17459 closed

[2017-05-12 02:05] danmosemsft commented on #14346
@saurabh500 not a high priority, but question above about existing tests for sql client. Is there a body of existing code that we can dump into the repo for folks to begin to clean up and enable as tests? Can you research?

@FransBouma another option is borrowing Mono tests. This is totally legitimate. Any interest?

[2017-05-12 02:16] jcouv commented on #17797
@weshaggard I'm not very familiar with the concept of shared framework. I looked at your PRs from early April. I saw you did some netstandard changes (both in corefx and standard repos) for ValueTuple. Were those related to the shared framework?

[2017-05-12 02:19] danmosemsft commented on #19635
@CIPop as you may know sometimes you can see more in the console output, which you can get via 'infrastructure logs' eg in this case https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170510.02/workItem/System.Net.Http.Functional.Tests/wilogs

If XUnit isn't logging enough, wem ay have to submit a PR to xunit.

[2017-05-12 02:20] Jiayili1 commented on #19643
This issue is repro on Desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/53/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_MaxConnectionsPerServer_Test/Default_ExpectedValue/

[2017-05-12 02:42] saurabh500 commented on #14346
@danmosemsft there are a lot of tests that we have in our internal repo that I can make available. We also have tests in manual tests folder in sqlclient tests. They are not run automatically due to the absence of a SQL server accessible to these tests in the CI. We run those tests while making changes to sqlclient. They depend on a connection string being provided in environment variable.
If mono

[2017-05-12 02:44] yaakov-h opened #19694 "Environment.OSVersion.Platform returns Unix on macOS"
Using .NET Core 2.0 SDK preview.

`dotnet --info`:

[code]

Simple test case:

[code]

I would expect the program to print `MacOSX`, i.e. `System.PlatformID.MacOSX` which is enum value `6`.

[2017-05-12 02:44] weshaggard commented on #17797
I did a lot of changes you will need to be more specific. I can tell you that ValueTuple has been added to the shared framework for .NET Core.

[2017-05-12 02:54] mayamoon opened #19695 "zombie process when start a linux process in dotnet core"
[code]
when this application run .
it cause  a  zombie procss in linux
![image](https://cloud.githubusercontent.com/assets/8044586/25980482/693e413c-3701-11e7-92bb-fa6cc05a0f32.png)

[2017-05-12 03:51] danmosemsft commented on #19694
@stephentoub it is hard coded that way - there is no `Environment.OSX.cs`. Is there any reason for that?

[2017-05-12 03:52] ViktorHofer commented on #16516
Happened here again: https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_release_prtest/133/

[2017-05-12 03:53] yaakov-h commented on #19694
`Environment.Unix.cs` has a whole lot of `IsMac` conditionals - I'd suggest either add one more (:smile:), or split it out into an `Environment.OSX.cs`.

[2017-05-12 04:12] ViktorHofer commented on #19694
There isn't a lot difference between the Unix and MacOSX implementation. The IsMac property is only used seven times the existing code.

[2017-05-12 04:31] Thaina opened #19698 "ForEach or Select void to do some logic and continue with the same collection"
I'm not sure we should add new API or just use Select. But it would be the same argument

[code]

This let us split iteration logic easier. We could do something before `Where` clause. We could split it out from `Where` without the need to return each item unneccessary

[2017-05-12 05:29] justinvp commented on #19694
It's hard coded that way to match Mono's behavior of returning Unix on macOS.

[2017-05-12 05:30] ViktorHofer commented on #19694
@justinvp Thanks for that! I didn't know that this behavior is intentional. Will wait what @stephentoub has to say about.

[2017-05-12 05:36] yaakov-h commented on #19694
Without jumping the gun waiting for Stephen, if that is indeed the case then what is the purpose of `PlatformID.MacOSX` if no .NET runtime ever returns that value?

[2017-05-12 05:42] v-haren commented on #19689
failed again in ci, detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/43/testReport/

[2017-05-12 06:03] FransBouma commented on #19673
Yep, sorry about this. I searched for the issue but I totally overlooked the issue already filed. My bad.

[2017-05-12 06:07] v-haren commented on #18604
Failed again in ci, detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/48/testReport/System.Net.Http.Functional.Tests/DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceActivityLogging/

[2017-05-12 06:09] FransBouma commented on #14346
I think a public testserver would indeed be key to get started. Everyone testing against their own local box isn't reliable, I think.

[2017-05-12 06:12] jcouv commented on #17797
Cool. That addresses my question. Thanks! :-)

[2017-05-12 06:16] justinvp commented on #19694
`PlatformID.MacOSX` was added for Silverlight to return on OSX. I wish we hadn't added that and instead returned `PlatformID.Unix` on OSX like Mono.

See also:
https://github.com/dotnet/corefx/issues/11878
https://github.com/terrajobst/platform-compat/issues/29

[2017-05-12 06:20] v-haren opened #19699 "System.Net.Security.Tests.SslStreamCredentialCacheTest.SslStream_SameCertUsedForClientAndServer_Ok failed in ci"
failed test: System.Net.Security.Tests.SslStreamCredentialCacheTest.SslStream_SameCertUsedForClientAndServer_Ok

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/44/testReport/System.Net.Security.Tests/SslStreamCredentialCacheTest/SslStream_SameCertUsedForClientAndServer_Ok/

MESSAGE:
[code]

STACK TRACE:
[code]

[2017-05-12 06:27] v-haren opened #19700 "System.Security.Cryptography.X509Certificates.Tests.ChainTests.BuildChain_MicrosoftDotCom_WithRootCertInUserAndSystemRootCertStores failed in ci"
Failed test:
System.Security.Cryptography.X509Certificates.Tests.ChainTests.BuildChain_MicrosoftDotCom_WithRootCertInUserAndSystemRootCertStores

detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/45/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/BuildChain_MicrosoftDotCom_WithRootCertInUserAndSystemRootCertStores/

MESSAGE:
[cod

[2017-05-12 06:30] Suriman commented on #5766
Plesase, consider including WF (Workflow Foundation) in XAML Standard!!.

[2017-05-12 06:37] Jiayili1 commented on #19689
This issue is repro on Core Tests in build 20170512.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170512.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.DiagnosticsTest~2FSendAsync_ExpectedDiagnosticSourceActivityLogging

[2017-05-12 06:39] yaakov-h commented on #19694
So to figure out the current OS X version you need to combine `RuntimeInformation.IsOSPlatform(OSPlatform.OSX)` with `Environment.OSVersion.Version` and ignore `Environment.OSVersion.Platform`? That sounds like an accident waiting to happen...

[2017-05-12 06:42] dotnet-mc-bot opened #19701 "Test failures: System.Net.Http.Functional.Tests.HttpClientHandler_* / * - Azure endpoints"
Multiple tests fail with the same stack indicating that the request took more than the configured (default=100s) timeout for HttpClient.
The reasons for this timeout may be different but in most cases the way the tests report the error makes it difficult (or impossible) to understand why the server didn't reply (or why the client didn't receive that reply).

- System.Net.Http.Functional.Tests.Http

[2017-05-12 06:43] Jiayili1 commented on #13298
This test failed again, create a new issue: https://github.com/dotnet/corefx/issues/19701

[2017-05-12 06:45] Jiayili1 commented on #19586
failed again on build 20170512.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170512.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test~2FGetAsync_AllowedSSLVersionDiffersFromServer_ThrowsException(allowedProtocol:%20Tls12,%20acceptedPr

[2017-05-12 06:47] Jiayili1 commented on #19699
This issue is repro on Core Tests in build 20170512.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170512.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamCredentialCacheTest~2FSslStream_SameCertUsedForClientAndServer_Ok

[2017-05-12 06:49] dotnet-mc-bot opened #19702 "Test "System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync" failed with "System.AggregateException""
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Performance.Tests.SocketPerformanceAsyncTests/SocketPerformance_MultipleSocketClientAsync_LocalHostServerAsync` has failed.

System.AggregateException : One or more errors occurred. (No connection could be made because the target machine actively refused it) (No connection could be made because the target machine actively refused it) (No

[2017-05-12 06:49] Jiayili1 commented on #19702
Closed issue: https://github.com/dotnet/corefx/issues/13110

[2017-05-12 07:22] stephentoub commented on #19694
What Justin said.

[2017-05-12 07:22] scavarda commented on #16994
I hope this could help, in my situation I was deploying a netcore app v1.0  to AWS Lambda.
I also use EF Core for data management.
Trying to make a Sql Server connection gave me this exception (System.PlatformNotSupportedException).
After downgrade from System.Data.SqlClient from 4.3.0 to 4.1.0 I can confirm it works for me.

[2017-05-12 07:28] stephentoub commented on #19667
You're referring specifically to Assert.Throws, right?

[2017-05-12 08:26] LosManos opened #19703 "string.GetHashCode() does not return the same result in version 1.1"
Every time I run my program anew and call ```myString.GetHashCode()```, it returns a new result.

## Recreate
Create C# console program

    class Program
    {
        static void Main(string[] args)
        {
            var seed = "myseed";

            Console.WriteLine(seed.GetHashCode());
            Console.WriteLine(seed.GetHashCode());
        }
    }

Run the program. As expected the out

[2017-05-12 08:31] dotnet-mc-bot opened #19704 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest/GetAsync_AllowAutoRedirectTrue_NonRedirectStatusCode_LocationHeader_NoRedirect(statusCode: 200)"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/GetAsync_AllowAutoRedirectTrue_NonRedirectStatusCode_LocationHeader_NoRedirect(statusCode: 200)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Net.Http.WinHttpException : The operation has been canceled

        Stack Trace:

[2017-05-12 08:31] mikedn commented on #19703
Among other things those docs say:

Different runs imply different app domains.

They also say:

[2017-05-12 08:39] dotnet-mc-bot opened #19705 "Test failure: System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync/SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success"
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync/SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success` has failed.

System.IO.IOException : The read operation failed, see inner exception.
    ---- System.TimeoutException : VirtualNetwork: Timeout reading the next frame.

        Stack Trace:

           at System.Net.Security.SslStreamInt

[2017-05-12 08:46] LosManos commented on #19703
I updated the issue description with

which should make it clearer.

"Different runs imply different app domains" stumbled me.
I guess is it not a bug then; possibly unclear documentation.

[2017-05-12 09:18] mikedn commented on #19703
Yes, the documentation could use some improvement. It was updated  since the days .NET Framework 1.0 and now copied to .NET Core and things are getting convoluted.

[2017-05-12 09:42] LosManos commented on #19703
Feel free to close this issue.

( I filed PR [# 2141](https://github.com/dotnet/docs/pull/2141)  for documentation and will take it from there. )

[2017-05-12 09:42] #19703 closed

[2017-05-12 10:24] Mike-EEE commented on #5766
@Suriman please upvote!
https://github.com/Microsoft/xaml-standard/issues/23

So I hate to ask -- and I do so in the interest of being a good repo/issue citizen, but is this issue needed anymore?   I mean, that repo is already clocking 50+ issues that are going into WAYYYYY more detail than this issue ever can.  Looks like it already has a life of its own!

Is there a reason to keep this issue her

[2017-05-12 11:41] coderb opened #19706 "add method to directly round double to decimal"
the current version of the API requires 2 rounding operations to convert from a `double` to a `decimal` with `n` places of precision.

eg
[code]
ideally we would have an API that allows a direct conversion/round in a single operation:

in class `Decimal`:

[code]

[2017-05-12 12:18] NickCraver opened #19708 "netstandard2.0: DataTable isn't usable as a parameter (SqlClient/DataTable issue)"
I'm not sure if there are other issues beyond this, but hitting the first boom with SQL TVPs (table valued parameters) when attempting to restore support in Dapper with `netstandard2.0`.

In the reference source for `SqlParameter.CoerceValue()`, there's [an explicit check to not attempt conversion on a `DataTable`](https://referencesource.microsoft.com/#System.Data/System/Data/SqlClient/SqlParamet

[2017-05-12 12:19] jnm2 commented on #2877
I assumed this meant Dictionary.GetOrAdd was added, but I'm not finding it or an IReadOnlyDictionary extension method. If they have been skipped, can this issue be reopened?

[2017-05-12 12:27] stephentoub commented on #19656
I believe this is a bug in desktop that was fixed a while ago in core:
https://github.com/dotnet/corefx/pull/1871
FYI, @ianhays.  I expect this is the cause of the other issues that have been opened against Pipes on desktop as well, anything to do with a handle being invalid.

[2017-05-12 12:28] stephentoub commented on #19681
I believe this is a dup of https://github.com/dotnet/corefx/issues/19656, with the same root cause as identified in https://github.com/dotnet/corefx/issues/19656#issuecomment-301063220.

[2017-05-12 12:28] #19681 closed

[2017-05-12 12:28] stephentoub commented on #19680
I believe this is a dup of #19656, with the same root cause as identified in #19656 (comment).

[2017-05-12 12:28] #19680 closed

[2017-05-12 12:28] stephentoub commented on #19678
I believe this is a dup of #19656, with the same root cause as identified in #19656 (comment).

[2017-05-12 12:28] #19678 closed

[2017-05-12 12:28] stephentoub commented on #19669
I believe this is a dup of #19656, with the same root cause as identified in #19656 (comment).

[2017-05-12 12:28] #19669 closed

[2017-05-12 12:34] stephentoub commented on #19618
The actual failure here was:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/51/consoleText
[code]
I believe this is a dup of #19656, with the same root cause as identified in #19656 (comment).

[2017-05-12 12:34] #19618 closed

[2017-05-12 12:35] jnm2 commented on #2877
Extension method would be on IDictionary rather.

[2017-05-12 12:37] stephentoub commented on #19694
We can of course re-evaluate the design.  If we want to make a change here, we should do it for 2.0 or live with it.  It's a hard call; on the one hand, MacOSX is obviously the "tighter" answer, but on the other hand, we only brought OSVersion back to help with bringing over existing code, and existing code on desktop would only ever care about Windows vs non-Windows, and existing code from Mono w

[2017-05-12 12:37] stephentoub commented on #19656
Moving to 2.0 as it's causing lots of failures in the netfx test runs.

[2017-05-12 12:46] svick commented on #19694
@stephentoub

But how am going to learn that if I'm writing new code? I think it would be nice if https://github.com/dotnet/corefx/issues/11878 was addressed for 2.0. Whether the decision is to use `[Obsolete]` or IntelliSense hiding or something else does not matter much, but something should be done.

[2017-05-12 12:48] stephentoub commented on #19694
And aligned with Mono how?
cc: @akoeplinger, @marek-safar

[2017-05-12 12:57] akoeplinger commented on #19694
We won't be changing what Mono returns as it'd break too much code. MSBuild is also returning `Unix` for `$(OS)` even on macOS. Yes this is pretty unfortunate but I don't see it changing...

I think applying `[EditorBrowsable(false)]` to the MacOSX enum value to hide it from IntelliSense does make sense.

[2017-05-12 13:15] svick commented on #19698
I don't think LINQ should encourage side-effects, especially not in the middle of a query.

Though if this method is added, it should probably stay consistent with Rx, which calls this method [`Do()`](https://msdn.microsoft.com/en-us/library/hh229804(v=vs.103).aspx).

[2017-05-12 13:18] garfbradaz commented on #17905
First-timer here - I will take the following:

 System.IO.FileSystem.DriveInfo
 System.IO.FileSystem.Watcher

🗄

[2017-05-12 13:19] stephentoub opened #19709 "Proposal: HttpClientHandler.DangerousAcceptAnyServerCertificateValidator property"
We have what in my mind is a big problem with HttpClient in 2.0: to use HttpClient with self-signed certs (very common in testing environments), you need to hook up a ServerCertificateCustomValidationCallback; that will override the default verification and can be made to always return true.  We do this in all of our HTTP testing in corefx, ASP.NET did it in theirs, etc.

Unfortunately, this doesn

[2017-05-12 13:21] slozier opened #19710 "Directory.Move no longer moves files"
The following works fine with net45 and netcoreapp1.0, throws a `DirectoryNotFoundException` with 2.0.
[code]

[2017-05-12 13:33] svick commented on #2877
@jnm2 As far as I can tell, @SamuelEnglard closed this issue in favor of https://github.com/dotnet/corefx/issues/1942, which was about `TryAdd`, but also discussed `GetOrAdd`. But then https://github.com/dotnet/corefx/issues/1942 was closed after `TryAdd` was added.

So yes, I think it makes sense to repoen this issue.

[2017-05-12 13:37] marek-safar commented on #19694
I think it's good this enum is available for backward compatibility but when the type was re-introduced it should be marked immediately obsolete and replaced with something what is not broken by design. I has been quite painful during past 15 years to explain over and over again that this type exists but to use it you need to understand whole history of .NET.

http://www.mono-project.com/docs/faq/

[2017-05-12 13:52] stephentoub commented on #19710
Likely broken here:
https://github.com/dotnet/corefx/commit/074bf02532c4c4496e7c79e03b4801e848848509
cc: @alexperovich, @JeremyKuhne, @ianhays

[2017-05-12 14:20] blowdart commented on #19709
Oh heck no. This seems a nightmare scenario, because people are just going to turn it on and not think, and deploy like that.

Surely, rather than use this nuclear option, we could, when a validation callback is configured, we could build the chain manually, even if it is slow

[2017-05-12 14:22] stephentoub commented on #19709
When? We don't even get a chance; libcurl doesn't call back to us as part of the handshake.

How is that any different than someone using delegate { return true; } today on Windows?

[2017-05-12 14:28] blowdart commented on #19709
It's equally as bad in implementation, but now you've added two ways to completely bypass security, instead of one, which is well know.

This is a stack overflow cut and paste problem. People search for "My self signed cert doesn't validate" on stack overflow, paste the delegate in, then deploy to live. Now you've made it worse in that there are two loaded guns, rather than one.

The "right" way t

[2017-05-12 14:29] conniey opened #19711 "DateTime.ToString("d") returns inconsistent results on Ubuntu 16.04"
When running this piece of code on Windows (full .NET or .NET Core) or on Mono, it outputs:
`2017-05-12`
However, on Ubuntu, this returns:
`17. 5. 12.`

[code]

@tarekgh : Is this a known issue?

[2017-05-12 14:32] stephentoub commented on #19709
We are for post-2.0. In the meantime, there's no way. And this is a huge gap in functionality. I see this as a shipblocker.

[2017-05-12 14:35] karelz commented on #19708
@saurabh500 @corivera can you please take a look? This looks like 2.0 blocker. Thanks!

[2017-05-12 14:36] blowdart commented on #19709
I'll be honest I'd consider adding this a security blocking item for shipping too.

[2017-05-12 14:37] conniey commented on #19711
@tarekgh : Is this because of https://github.com/dotnet/coreclr/issues/1734 ?

[2017-05-12 14:41] NickCraver commented on #19708
I've pushed up the `netstandard2.0` branch of Dapper to GitHub, you can grab it here to run the tests: https://github.com/StackExchange/Dapper/tree/7e5bd308f99b790212e6990bc4ec8b0c72579406

After pulling, you can do a `build.cmd -BuildNumber 12345` to run all tests, etc. and see it go boom.

[2017-05-12 14:42] blowdart commented on #19709
Are there any numbers on customer demand? The justification right now is "So we can have unit tests work", which isn't enough for a dangerous feature.

[2017-05-12 14:46] lokitoth commented on #5766
@Mike-EEE There is a subtle difference between the two issues; the first seems to me to be about standardizing the APIs available within XAML itself (strictly in the XAML itself), and the second is about support XAML as a .NET Standard component similar to System.Xaml.

[2017-05-12 15:01] NickCraver opened #19712 "netstandard2.0: SqlParameter's decimals are coming back with integer precision (SqlClient issue)"
I came across this when [updating Dapper to `netstandard2.0`](https://github.com/StackExchange/Dapper/commit/7e5bd308f99b790212e6990bc4ec8b0c72579406). Our unit tests checking for decimal precision accuracy are failing on `netstandard2.0` (yet passing on `netstandard1.6`). The basics are when you select a decimal like `11.884`, it comes back as `12`.

This could be an integer issue, or a precision

[2017-05-12 15:01] #19711 closed

[2017-05-12 15:17] stephentoub commented on #19709
winhttp supports this via the WINHTTP_OPTION_SECURITY_FLAGS option.
libcurl supports this via the CURLOPT_SSL_VERIFYPEER option.
golang supports this via the InsecureSkipVerify option.
python supports this via _create_unverified_https_context.
And so on.

A quick search on GitHub for CURLOPT_SSL_VERIFYPEER returns ~710K hits, and from quick glance, most of them are setting it to 0/false (which mak

[2017-05-12 15:19] bartonjs commented on #19709
@blowdart See feedback on #9728. Granted, some of them want the callback to actually work, which we can't do without the non-existent libcurl callback.

[2017-05-12 15:19] stephentoub commented on #19709
You're kidding, right?

This is fine:
```handler.ServerCertificateCustomValidationCallback = delegate { return true; }```
but this is somehow a security shipstopper:
```handler.ValidateServerCertificate = false;```
even though they have the exact same impact? Come on.

[2017-05-12 15:27] blowdart commented on #19709
The call back has an actual purpose, on platforms where it works.

Making it equivalent to your new flag for this argument is disingenuous. Your boolean flag is "Turn off all security on HTTPS and get up to ramming speed", and once added it'll never go away.

[2017-05-12 15:32] slozier opened #19713 "Question: How to enumerate forwarded types from facade assemblies via reflection"
I am attempting to enumerate the types from facade assemblies (for example System.Xml.Serialization) via reflection. I loaded the assembly via Assembly.Load, but I can't figure out how to get the types, I tried `GetTypes()`, `GetExportedTypes()`, `GetCustomAttributes(typeof(TypeForwardedToAttribute))` and they all return nothing. I am able to explicitly load a type which is forwarded (e.g. `GetTyp

[2017-05-12 15:34] stephentoub commented on #19709
Search for ServerCertificateValidationCallback on GitHub, and you'll find a majority of the ~55K hits setting it to the equivalent of `delegate { return true; }`.  Can it be used for other things?  Of course.  But it's often used for this.

[2017-05-12 15:36] Mike-EEE commented on #5766
@lokitoth definitely open to the conversation about this, as I am still trying to grok all the new pieces.  I suppose it's best to start with suggesting to watch @terrajobst's [excellent and informative video](https://www.youtube.com/watch?v=HyfDG4mjBPk) that demonstrates code "just working" with the new .NET Standard2.0.  I personally have not wrapped my mind around how this impacts System.Xaml.

[2017-05-12 15:38] blowdart commented on #19709
And that use introduces security vulnerabilities. You're in agreement on that, right? As well as in agreement stack overflow hardly illustrates best practice in a lot of cases.

Validation callbacks are a crowbar, they have legitimate uses, your new flag is, well, a big spiky club where the possibility of hurting people with it has gone up by an order of magnitude because it's inherently unsafe.

[2017-05-12 15:42] stephentoub commented on #19709
Inherent security vulnerabilities? No, I don't agree.  When used to disable security when it shouldn't be disabled? Sure.  But that's not a flaw in the framework, that's a flaw in the app explicitly doing something it shouldn't be doing, and sometimes you need to give users that club along with a warning that it's important they know what they're doing.  We can document it to high heaven, similar

[2017-05-12 15:43] karelz commented on #19712
@saurabh500 @corivera looks like another 2.0 blocker. Can you please take a look?
cc @stephentoub @danmosemsft

[2017-05-12 15:45] jnm2 commented on #2877
Ugh, I can't believe this missed .NET Standard 2.0. @karelz no exceptions?

[2017-05-12 15:45] ViktorHofer commented on #19643
We disabled that great yesterday ok Desktop

[2017-05-12 15:46] karelz commented on #19713
The TypeForwarders will kick in and you will get the real type loaded. It doesn't have TypeForwarding attribute anymore of course.
Did you try to use System.Reflection.MetadataReader? Or CCI, or Mono Cecil.

Why do you need the types from facade assemblies?
Do you run your tool on .NET Core or on .NET Framework?

[2017-05-12 15:49] karelz commented on #19658
Can we close it then? Or is there any action that needs to happen?

[2017-05-12 15:49] blowdart commented on #19709
Like people read docs :)

How about doing this another way round? How about giving a static validation callback, "DontCheckCertificateValidityBecauseIHateSecurity()", which just returns true as you say everyone does. Then that, because it's static, could be looked, and the horrible, screw you settings, enabled on platforms that don't do callbacks.

That way there's not another API for people to lo

[2017-05-12 15:53] jnm2 commented on #2877
Specifically:

[code]

[2017-05-12 15:53] stephentoub commented on #19709
I'd be ok with that, basically:
[code]
which could be used like:
[code]
The implementation can use the object identity of that delegate as an indication that it always returns true and do the equivalent of what I proposed with `handler.ValidateServerCertificate = false;`.

[2017-05-12 15:55] ViktorHofer commented on #19656
What's your plan for addressing the issue? Rewriting the tests in a manner that they won't conflict with the handles? Should the fix you mentioned be ported to netfx?

[2017-05-12 15:57] steveharter commented on #19683
FWIW here's a test that shows Linux behavior around port # allocation. This test will cause the Exception to be thrown on Linux, but not on Windows. On Linux, IPV4 and IPV6 address families can each have an independent socket on the same port.

[code]

[2017-05-12 15:57] blowdart commented on #19709
Yup, because this has the advantage that because it's using the ValidiationCallback API. This API is already considered dangerous, and usage is caught by a bunch of automating code review tools. So those tools will flag it for review anyway, as opposed to lagging behind and giving a false sense of security because a new API appeared they don't know about.

[2017-05-12 15:58] karelz commented on #2877
This needs API review. I don't want to rush API reviews. That is just begging for troubles later - you miss things and then you live with your mistakes forever.

It is convenience API, we lived without it for quite some time, we can IMO survive one more release. It is not the end of the world after all. It does not block scenarios.

Probably not the answer you expected, but this is how I feel abou

[2017-05-12 15:59] bartonjs commented on #19709
I think I like the object identity on the delegate more than the additional property, since it makes there be fewer places we have to update. (Okay, so it only eliminates one of the 3 PAL implementations...).

I'll let you guys fight over the name.  I'm tempted to try for a cautious name like `DangerousAllowAllCertificates`, but that just makes it sound like "this one's bad, write your own 'return

[2017-05-12 16:00] karelz commented on #19699
Is it a regression or recent test?
2 failures on the same day out of the blue is suspicious ...

[2017-05-12 16:00] jnm2 commented on #2877
It is indeed the answer I expected. 😄

[2017-05-12 16:00] karelz commented on #19699
@davidsh @CIPop @Priya91

[2017-05-12 16:01] stephentoub commented on #19709
`DangerousAllowAllCertificates` sounds fine to me, though I think we probably need some suffix as well, otherwise it sounds like a settable property.  Maybe `DangerousAllowAllCertificatesCallback`, `DangerousAllowAllCertificatesFunction`, etc. (I shy away from `Delegate` as a suffix, as that's often used on `delegate` types.)

[2017-05-12 16:01] blowdart commented on #19709
I'm told I'm not allowed to swear in framework naming, so I can't get what I really want :)

InsecureAllCertificatesAreValidValidator? :)

[2017-05-12 16:02] stephentoub commented on #19709
You can just set up `using` alias for this when you need to use it ;)

[2017-05-12 16:06] karelz commented on #17905
Awesome, welcome onboard @garfbradaz!
Let us know when you submit PR, we will update the top post (@ViktorHofer can you please help today?)

[2017-05-12 16:08] lokitoth commented on #5766
We'd need to inspect the assembly to figure out whether it's dependency tree is loadable in a .NET Standard 2.0 context. If it's pure .NET, it's likely to work (though there's a whole compile-time set of items, e.g. BAML, Embedded Resources, etc., which would to be brought into the toolchain of .NET Core)

That, I think, is more a function of it being announced in the context of UWP/Xamarin.Forms,

[2017-05-12 16:10] stephentoub commented on #19656
https://github.com/dotnet/corefx/pull/19714

That's why https://github.com/dotnet/corefx/pull/1871 is marked as netfx-port-consider.

[2017-05-12 16:12] stephentoub commented on #19287
This may be a dup of https://github.com/dotnet/corefx/issues/19656.

[2017-05-12 16:13] stephentoub commented on #18546
Dup of #19656.

[2017-05-12 16:13] #18546 closed

[2017-05-12 16:15] ViktorHofer commented on #17905
Sure.

@garfbradaz please make sure after removing possible dead code to run all test in both projects for Desktop, Core and if there are any ifdefs uap also for uap.
You can do this by first running:
build.cmd and build.cmd -framework:netfx from corefx root and after that running the individual test projects like this:
msbuild /t:RebuildAndTest and msbuild /t:RebuildAndTest /p:TargetGroup=netfx.

[2017-05-12 16:19] jnm2 commented on #2877
(Don't worry about me, I'm not the type that goes around second-guessing the team's decisions. Fyi.)

[2017-05-12 16:20] karelz commented on #2877
Thanks for understanding!
IMO it is not that much about decisions, but us being open about prioritization. To ship high-quality SW, we gotta prioritize. And we gotta stabilize.

[2017-05-12 16:27] karelz commented on #16201
Great, thanks @Priya91!

[2017-05-12 16:28] karelz commented on #19307
Thanks @stephentoub, if you do, please assign it to yourself.
@Priya91 if you have spare time and Stephen is not on it, can you please take a look?

[2017-05-12 16:31] slozier commented on #19713
We're trying to get IronPython working with .NET Core 2.0. In IronPython (with .NET Framework) you can do something like:
[code]
which outputs all the types in System.Xml. To discover what types are available it loops through loaded assemblies and finds the types using GetExportedTypes.

However with .NET Core 2.0 when you have a facade assembly (for example, all the Xml assemblies appear to be fa

[2017-05-12 16:33] gortok commented on #19658
@karelz @MichaelSimons Great thanks; my question is: according to [this](https://github.com/dotnet/corefx/pull/16895) the fix was supposed to be in the Runtime 1.1.1 docker image; was it? We still see that latency issue with 1.1.1; so I want to be sure it wasn't included in 1.1.1, or that I'm crazy for reading this and thinking it was supposed to be in the 1.1.1 docker image.

[2017-05-12 16:35] JeremyKuhne commented on #19710
Fixing.

[2017-05-12 16:48] blowdart commented on #19709
We used validator as the suffix in asp.net when we were experimenting with cert pinning.

[2017-05-12 16:49] danmosemsft commented on #19713
@weshaggard

[2017-05-12 16:52] danmosemsft commented on #19694
@svick terrajobst/platform-compat#29 tool may help detect this.

[2017-05-12 16:54] stephentoub commented on #19695
I'm not able to repro this.  I also don't understand the repro code, e.g. that Kill should fail because you've already waited for the process to exit.

What OS are you on?  What version of .NET Core are you using?

[2017-05-12 16:55] weshaggard commented on #19713
GetTypes() should return the types even if they are forwarded. See https://msdn.microsoft.com/en-us/library/y0cd10tb(v=vs.110).aspx.

[code]

GetExportedTypes while is similar in name to "Exported type table" which is how forwards are stored in IL, it means something different in reflection.  https://msdn.microsoft.com/en-us/library/system.reflection.assembly.getexportedtypes(v=vs.110).aspx

[2017-05-12 16:58] AtsushiKan commented on #19713
This is a functionality hole in Reflection. It does point out that DefinedTypes and ExportedTypes are rather anachronistic in this this age of .Net Core where framework types consider themselves free to migrate around any implementation assembly of their choice.

This may be the time to propose an Assembly.ExposedTypes api that returns the "apparent" surface area of an assembly (by including forwa

[2017-05-12 17:00] MichaelSimons commented on #19658
The fix you reference is about porting the fix to the 1.1.0 branch.  When a fix is applied to a release branch such as 1.1.0, the fix would be included in the next service release for that branch.  In the case of the fix you reference, that equates to 1.1.2.  You will need to upgrade to 1.1.2 in order to get the fix.

[2017-05-12 17:00] #19658 closed

[2017-05-12 17:03] garfbradaz commented on #17905
Thanks @ViktorHofer  / @karelz  - slowly ploughing through

[2017-05-12 17:05] AtsushiKan commented on #19713
That's GetType() (singular) which loads a single type you request by name.

GetTypes() (plural) is a wrapper for DefinedTypes and it does not return forwarded types.

[2017-05-12 17:13] stephentoub commented on #19694
This sounds reasonable to me.  Maybe also hiding some of the other legacy/defunct values as well?
[code]

[2017-05-12 17:14] stephentoub commented on #19694
cc: @weshaggard for standard

[2017-05-12 17:14] steveharter commented on #19689
This test is failing on the majority of the outerloop tests

[2017-05-12 17:16] huanwu opened #19715 "Microsoft.XmlSerializer.Generator Issues"

[2017-05-12 17:21] stephentoub commented on #19635
This is specific to `Assert.Throws`, right?  We could submit an issue/PR to xunit.  We also have our own AssertExtensions.Throws which we could modify to do whatever we want, and then use it in more places.

[2017-05-12 17:27] slozier commented on #19713
So does that mean there is no way to figure out the forwarded types via reflection and I should be using something like System.Reflection.MetadataReader?

[2017-05-12 17:29] AtsushiKan commented on #19713
That's correct.

[2017-05-12 17:36] JeremyKuhne opened #19717 "Checking for FileExists || DirectoryExists is not efficient"
We should implement the code for this internally and look at adding a public API for it.  Probably `Path.DirectoryOrFileExists(string path)`.

The internal helper should avoid any sort of path validation/normalization if possible. A bad path, by definition, doesn't exist. At least on the Windows side pre normalizing isn't needed (and wasteful). We should also consider exposing overloads such as `P

[2017-05-12 17:38] JeremyKuhne commented on #19717
See https://github.com/dotnet/corefx/pull/19716#discussion_r116282222

[2017-05-12 17:38] CIPop commented on #19635
Actually I needed to be logged on! (Not intuitive from the UI - it's the top right tiny down arrow :) )

[2017-05-12 17:40] CIPop commented on #19635
Taking this discussion to #19667

[2017-05-12 17:43] stephentoub commented on #19307
Still under the weather... if Priya can look today, that's be great, otherwise I'll try later today or this weekend if/when I'm better.

[2017-05-12 17:44] CIPop commented on #19667
In this case yes.

I'll also bring your other observation from one of the bugs:

I think this might be faster/easier and won't change the current XUnit behavior.

For reference (please correct me if I'm wrong):

* XUnit is at https://github.com/xunit/xunit
* We have some extensions at https://github.com/dotnet/buildtools/tree/master/src/xunit.netcore.extensions

Where is AssertExtensions.Throws lo

[2017-05-12 17:46] CIPop commented on #16516
Thanks for reporting @ViktorHofer . From the stack that's a different problem or the same problem but while calling a different Win32 API.
This one has been instrumented to crash XUnit and create a dump which didn't happen.

[2017-05-12 17:52] CIPop commented on #16516
Spoke too soon: the failure is observed in a release build and so the instrumentation didn't exist. It's probably just the same exception marshaled on the Xunit thread by the APM mechanism.

[code]

From the name `Windows_NT` intersected with the URIs at https://github.com/dotnet/corefx#build--test-status I'd say this failed on Windows 8.1.
@mmitche please confirm (also, could we change the names

[2017-05-12 17:55] CIPop commented on #16516
We have another repro in a release build. Still waiting for a DBG build with more actionable data (a full-memory crash dump).

Once you observe such a repro, please use https://dumpling.azurewebsites.net/ or directly at us and the CI team ( @cipop @mmitche @steveharter) to collect the dump and symbols before the machine goes offline.

To collect the dump with full symbol information:
[code]

[2017-05-12 17:57] CIPop commented on #16516
@DavidGoll @karelz I suggest moving this to 2.1/Future while we're waiting for a perfect repro.

[2017-05-12 18:01] Priya91 commented on #19689
@steveharter I think one of the re-enabled tests in the PR #19686 is interfering with this test, hence the sudden burst of failures? Disabling this test for now, pending investigation.

[2017-05-12 18:02] steveharter commented on #19702
I have seen the 'connection refused' exception when I modify that test to include a higher # of sockets meaning the server is being overwhelmed with new socket connections.

For this issue, it is likely due to another System.Net test suite running concurrently.

The value for the `socket_instances` variable in that test is 200. If I change it to 500 or so I see these errors regularly.

[2017-05-12 18:02] bartonjs opened #19718 "macOS: Can HttpClient do custom cert handling with libcurl+openssl10?"
Gedankenexperiment:

* If OpenSSL/1.0 is the reported backend, run the OpenSSL initializer.
* Still fail client auth certificates (non-exportable private keys can't marshal into OpenSSL, and other problems could exist, so just block it)
* If OpenSSL/1.0 is the reported backend, register the callbacks/etc as normal.
* For the EE (server identity) cert and any presented intermediates, [extract the c

[2017-05-12 18:03] bartonjs commented on #19718
cc @stephentoub

[2017-05-12 18:04] bartonjs commented on #16516
If these are only crashing in release, it might be a KeepAlive-type problem... running with COMPlus_GCStress=3 seems good.

[2017-05-12 18:07] Priya91 commented on #19689
@lmolkova Can you please help in debugging the failure, it's a recently added test with the activity instrumentation feature.

[2017-05-12 18:09] huanwu opened #19720 "When generate the code for two classes that contains the same collection type, the second one will be ignored"
If generate the code for two classes that contains the same collection type as the following, it won't generate the write method for the collection in the second class. During the serialization for the object of the second type, it will use the write method generated for the collection in the first type, which will end with conversion error. This also repro on the desktop.
[code]

[2017-05-12 18:10] CIPop commented on #16516
Thanks @bartonjs! Had no idea that existed...
Is there more documentation about `COMPlus_GCStress` and other such options?

[2017-05-12 18:15] CIPop commented on #19699
New test.

[2017-05-12 18:20] huanwu opened #19721 "Cannot generate code for recursive type"
When generate the code for recursive type, it will throw stackoverflow exception. This also repro on the desktop version.

[2017-05-12 18:21] bartonjs commented on #16516
Probably, but I'm not finding it easily.  https://github.com/dotnet/coreclr/blob/master/src/vm/eeconfig.h#L654 shows the GCStress flags options.  3 being alloc+transition.

[code]

In debug builds `h` isn't subject to finalization until marker 1.  In release builds it's subject to finalization at marker 2.  Aggressive GCStress will force the finalization to happen at/close-to marker 2, revealing t

[2017-05-12 18:23] huanwu opened #19722 "Fail to generate the code for the classes with the same name but in different namespace"
When to generate the code for the classes with the same name but in different namespace or class, it will throw the exception during code generation. This also repro in the desktop version.

[2017-05-12 18:23] stephentoub commented on #19667
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/AssertExtensions.cs

[2017-05-12 18:25] huanwu opened #19723 "Fail to generate the code if the type of the class contains any property that only have private setter."
During code generation, if any of the class contains the property that only have private setter, it will throw exception. We need ignore this type but not make the code generation fail. This also repro on desktop.

[2017-05-12 18:28] huanwu opened #19724 "The generated code cannot compile if define the class that use NaN as the default value"
If to generate the code for the classes that contains the following, the generated code cannot compile. This also repro on the desktop version.

[code]

The generated code is like. Cannot recognize NaN.
`if (((global::System.Double)o.@DoubleField) != NaN) `

[2017-05-12 18:31] huanwu opened #19726 "The generated code cannot compile if contains a type with mismatched attribute and property"
The generated code for the following class cannot compile. This also repro on the desktop.
[code]
The generated code is like
`if (((global::System.Int32)o.@IntValue) != true)`

[2017-05-12 18:32] huanwu opened #19727 "Codegen not support generic type"
This also repro in the desktop.

[2017-05-12 18:33] huanwu opened #19728 "Fail to generate the code if contain the classes with the same XmlType name"
Code generation will fail for the following classes. This also repro on the desktop.

[code]

[2017-05-12 18:38] huanwu opened #19729 "The namespace of mapping is null for the pregenerated serializer"
The namespace of the mapping of the XmlSerializer is empty string in regular case but it is null when loaded from the pregenerated serialization assembly. This also repro on the desktop.

[2017-05-12 18:40] huanwu opened #19730 "The serialized string doesn't contain the encoding when using pregenerated serializer"
The serialized string miss encoding part "encoding=\"utf-8\"". But all serialization and deserialization works fine.

[2017-05-12 18:50] CIPop commented on #19704
Same stack as #19701

[2017-05-12 19:04] daxian-dbw opened #19731 "TypeLoadException is thrown when calling 'GetEnumerator()' on a COM object that has been successfully casted to 'IEnumerable'"
This is happening with `netcoreapp2.0` version `2.0.0-preview1-002106-00`, on windows 10 desktop.

Summary
----------
I get the [ShellWindows](https://msdn.microsoft.com/en-us/library/windows/desktop/bb773974(v=vs.85).aspx) object by calling `Shell.Application.Windows()` method with C#. The `ShellWindows` object is enumerable, and it can be successfully cast to `IEnumerable`. After that, when I ca

[2017-05-12 19:05] CIPop commented on #19709
I don't like the original approach as it will complicate the exiting APIs for the benefit of a single platform.

We have considered this approach during WinHttpHandler design for performance reasons (the current callback will unnecessarily slow down execution compared with having the policy applied by the native code).

I will keep my old recommendation: OS-specific APIs should be added to os-spec

[2017-05-12 19:57] AtsushiKan commented on #19717
I would just call it Path.Exists(). It would instantly replace most of my File.Exists() calls, so it'd be nice not to have a unwieldly name like DirectoryOrFileExists().

[2017-05-12 19:58] AtsushiKan commented on #19713
Closing because question was answered.

[2017-05-12 19:58] #19713 closed

[2017-05-12 20:03] hallatore commented on #19709
The name should be descriptive, so people can understand the outcome without needing to read the docs. People will find this method on stack overflow, and they need to understand it by the name alone.

I really like the way react.js handles raw html, as in how the name describes what it does. `dangerouslySetInnerHTML={{ __html: "<div>Hello</div>" }}`

Unsafe can be confused with the unsafe compile

[2017-05-12 20:38] safern opened #19732 "HttpWebRequest difference in behavior between .Net Core and Desktop"
If we run the following code:

[code]

When the `HttpMethod` doesn't support getting a request stream, i.e: `HttpMethod.Get`; in desktop we will get a `ProtocolViolationException` and in Net Core we will get an `InvalidOperationException` because the request was already submitted through `request.BeginGetResponse(null, null);`.

However if we don't submit the request and only do:

[code]

Both pla

[2017-05-12 20:44] blowdart commented on #19709
DangerousDisabledCertificationValidator perhaps?

[2017-05-12 20:45] Priya91 commented on #19732
fyi @CIPop @karelz

[2017-05-12 20:53] CIPop commented on #19699
No repro on my Win7 test machine. I need access to one of the machines running Win7 from CI.

[2017-05-12 20:56] CIPop commented on #19699
@mmitche @steveharter I see that the build for Win7 itself is failing: https://github.com/dotnet/corefx#build--test-status and starting at that table is the only way I know to create a CI machine...
If that fails I have no idea how these tests ran or how to get a repro. Any ideas?

[2017-05-12 21:02] mmitche commented on #19699
@CIPop I took the machine that last ran one of those offline so you can login and repro.  Contact me for login details.

[2017-05-12 21:30] Priya91 commented on #19307
@steveharter How do you run the performance tests? ```msbuild.sh /t:rebuildandtest /p:Performance=true ``` doesnt work

[2017-05-12 22:31] huanwu opened #19733 "Fix several codegen issues"
1. Remove the attribute class from the code generator
2. Add TimeSpan support in codegen
3. Pass the namespace information when load generated assembly

[2017-05-12 22:32] #19700 closed

[2017-05-12 22:39] stephentoub commented on #19732
Desktop

[2017-05-12 22:47] safern commented on #19732
It is a simple change then. Grabbing this one.

[2017-05-12 23:07] CIPop commented on #19699
I was able to repro this on the CI machine. My local machine had the Root certificate installed which makes the test pass.

[2017-05-12 23:56] #19656 closed

[2017-05-13 00:09] #19712 closed

[2017-05-13 00:11] stephentoub commented on #19694
@danmosemsft, @weshaggard, any objections to doing the enum change above? https://github.com/dotnet/corefx/issues/19694#issuecomment-301134072

[2017-05-13 00:20] danmosemsft commented on #19694
Go for it

[2017-05-13 00:38] morganbr commented on #18850
The plan with #19119  is to remove SerializableAttribute from HttpWebRequest and throw PlatformNotSupportedException from the serialization constructor and GetObjectData. Removing SerializableAttribute will make BinaryFormatter automatically throw SerializationExcepiton.

[2017-05-13 01:16] jkotas opened #19738 "Use SetThreadErrorMode instead of SetErrorMode"
SetErrorMode Windows API is process global and thus it suffers from race condition when multiple threads are flipping the error mode back and forth.

File I/O on Windows should be using SetThreadErrorMode instead (this API is supported on Win7+).

The full framework calls SetThreadErrorMode on Win7+: https://github.com/Microsoft/referencesource/blob/4fe4349175f4c5091d972a7e56ea12012f1e7170/mscorli

[2017-05-13 01:17] jkotas commented on #19738
(This needs to be fixed in both coreclr and corefx.)

[2017-05-13 01:22] danmosemsft commented on #19738
Reached out to ask for it in WACK

[2017-05-13 02:00] saurabh500 commented on #19708
@NickCraver While running the Dapper tests I get the following error:
[code]

[2017-05-13 02:21] JeremyKuhne commented on #19710
Fixed

[2017-05-13 02:21] #19710 closed

[2017-05-13 02:40] karelz commented on #19712
Thanks for very fast turnaround @saurabh500!

@danmosemsft @weshaggard I wonder why we missed this implemented interface in the scans we did ...
Do we need to update .NET Standard 2.0 as well?

[2017-05-13 02:49] danmosemsft commented on #19712
@karelz we certainly found absences in the scans and fixed several. The rest are in https://github.com/dotnet/corefx/issues/17126. Sqlclient is not in standard so absences were not all fixed.

[2017-05-13 03:04] #19732 closed

[2017-05-13 03:34] ViktorHofer commented on #19694
Updated PR: https://github.com/dotnet/corefx/pull/19697

[2017-05-13 03:44] karelz commented on #19712
@saurabh500 why was the original issue #17126 moved to Future, when we find it is breaking compat with Desktop?
Was it an accidental one-off mistake or should we review all the missing things again?

[2017-05-13 03:44] karelz commented on #19712
cc @divega

[2017-05-13 03:53] karelz commented on #17619
**Last 3 issues** for ZBB (queries restricted to issues created before 5/10). Getting closer and closer!

* CoreFX - [1](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A2.0.0%20-label%3APost-ZBB%20-label%3Aarea-Infrastructure%20-label%3Aarea-Tizen%20-label%3Aarea-System.Net%20-label%3Aarea-System.Net.Http%20-label%3Aarea-System.Net.Security%20-label%3A

[2017-05-13 03:55] saurabh500 commented on #19712
@karelz
Two things:
1. This issue wasnt caught by API scan. The issue here is that IDbDataParameter.Precision was added to the basetype to make it back compat with F/W and since SqlParameter didnt implement the interface explicitly, the base class IDpDataParameter.Precision and Scale were being called.

2. Why was #17126 moved to future? We didn't plan the work for 2.0. Quoting from the issue
`No

[2017-05-13 03:56] saurabh500 commented on #19712
To add to point 1, the API scan would find that SqlParameter implement Precision and Scale but I don't think it identifies which level of hierarchy is going to be called when a Property on the base type is invoked.

[2017-05-13 04:01] karelz commented on #19179
Do we have a test covering the scenario? If we do, it should be failing now as we are blocked on CoreCLR update, right?

[2017-05-13 04:31] karelz commented on #17619
Here are 2.0 bugs filed after 5/10 - some of them by community and some of them even fixed right away!

* CoreFX - [18](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20milestone%3A2.0.0%20created%3A%3E2017-05-10)
* CoreCLR - [11](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue%20milestone%3A2.0.0%20created%3A%3E2017-05-10)
* core-setup - [2](https://githu

[2017-05-13 04:36] strigonLeader commented on #19439
I get the following error:

[code]

I added an additional example in https://github.com/strigonLeader/dotnetcoreexample callet ThreadingReferenceIssue which encapsulates this issue for me. Just open the LibraryUser.sln in visual studio and it should work so long as you have the sdk location specified. You just need to build and run for the error to happen.

[2017-05-13 04:37] karelz commented on #19715
@huanwu you filed bunch of issues, can you please set their milestone? cc @shmao @zhenlan

[2017-05-13 04:38] karelz commented on #19718
@bartonjs can you please set milestone? Or does it need discussion first?

[2017-05-13 04:40] karelz commented on #19738
Feels like 2.0 blocker ... due to reliability angle.

[2017-05-13 05:22] karelz commented on #19712
Thanks for the info @saurabh500!
@danmosemsft should we review what the tooling does and maybe flag this case as well? Are there others we might be missing?

[2017-05-13 05:37] JeremyKuhne commented on #19738
I'll fix it on Monday.

[2017-05-13 06:00] danmosemsft commented on #19179
@karelz it is linked directly above your comment.

[2017-05-13 06:05] cskwg opened #19743 "Possible bug in System.Data.SqlClient, with LocalDB and Stored Procedures"
While porting some code from .Net 4.5 to core, I noticed a possible bug and currently see no workaround.
It is a DOTNET CORE project, with all the latest nuget packages (v2.0 preview).
It is being build with Usual Studio 2017 15.1.

Details of the exception:

	System.InvalidOperationException: There is already an open DataReader associated with this Command which must be closed first.
	   at Syste

[2017-05-13 06:12] karelz commented on #19179
Ah, the fact the PR is Closed made me miss it. Maybe we should reopen and just mark it blocked? ... it is a technicality. Important thing is that it gets in ;)

[2017-05-13 06:54] karelz commented on #16516
I made a note about the GCStress in the new docs - we should include it in advanced scenarios: https://github.com/dotnet/corefx/wiki/New-contributor-Docs#random-useful-stuff

@CIPop can you please try to run it with the GCStress as last attempt to repro in 2.0 timeframe? Thanks!

[2017-05-13 09:30] Ermiar commented on #10526
I would like to take a look to this issue if that is okay.
Just to be sure that I'm heading in the right direction: there is no need to add the future `GetNullDisplayText()` method elsewhere in the framework to be used right now, is that correct ?
Also there is no tests currently for `[DisplayFormat]` so I will use my PR to add some tests (for existing and added code).

[2017-05-13 11:31] NickCraver commented on #19708
@saurabh500 Nothing special, and I just tried it on a fresh VM with only .NET Core 2 installed. Perhaps you have a newer/internal `dotnet` in play and need to lower the SDK down to 2 with a `global.json`? It seems like it's not loading compatible build-time resources there :-/

[2017-05-13 11:48] #19694 closed

[2017-05-13 11:59] GSPP commented on #19476
I should specify my platform: .NET 4.6.2, x64, Release, Windows 7.

I now use a wrapper to never expose the big byte[]:

        class Item
        {
            byte[] data = new byte[(1 << 20) * 100];

            [MethodImpl(MethodImplOptions.NoInlining)]
            public void ClearData()
            {
                data = null;
            }
        }

I can still reproduce the issue. Full

[2017-05-13 12:33] #19028 closed

[2017-05-13 12:40] stephentoub commented on #19514
You'd need to change the product to throw an exception rather than return a PingReply.  If you only care about Debug, you could Debug.WriteLine to get data into the log.

[2017-05-13 12:49] grahamehorner commented on #19709
or UsingSelfSignDevelopmentCertificateValidator ? 😜 which can only be used with on release builds 😉

[2017-05-13 12:54] stephentoub opened #19744 "HttpStreamAsyncResult.CompletedSynchronously is broken on Unix"
In the managed implementation of HttpListener, it always returns true.

[2017-05-13 13:04] stephentoub commented on #19709
I've updated the proposal.

[2017-05-13 16:28] tarekgh commented on #17619
dotnet/coreclr#11578 (@slozier) still opened because we need to add the test for the fixed case. We are waiting to get successful coreclr package in corefx repo.

[2017-05-13 18:54] Ponant commented on #8809
It should be the same indeed, but I had a doubt owing to the docs which made some unclear statements (to me at least) about recommendation in DI, here https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection#recommendations .
Besides this, although not mandatory, you would use an interface for the DI, e.g. `AddSingleton(IMyInterface, MyClass)`; what would be the interface for

[2017-05-13 20:35] karelz commented on #19743
Looks like compat issue, marking it as 2.0 until proven otherwise - cc @saurabh500 @corivera @divega

[2017-05-13 20:35] karelz commented on #19744
Sounds like 2.0 blocker to me ... thoughts?

[2017-05-13 21:01] Tratcher commented on #8809
The use of interfaces is just a recommended pattern, not a functional requirement. You can just specify the type as HttpClient.

[2017-05-13 21:30] stephentoub commented on #19744
Yes... but the issue to improve testing of HttpListener was long ago deprioritized and marked as Future (https://github.com/dotnet/corefx/issues/13618), we have only ~40% code coverage of the library, and s such I expect there are many such issues we'd consider ship blockers if we were far enough here to even know about them. 😦

[2017-05-13 21:37] stephentoub commented on #11737
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug_prtest/14/consoleText
[code]

[2017-05-13 21:41] NickCraver opened #19748 "netstandard2.0: SqlDataReader doesn't implement GetSchemaTable()"
There's a disconnect between the `netstandard2.0` intent and actual implementations here, resulting in runtime errors on things that call `.GetSchemaTable()`.

The way ADO.NET is setup, `DbDataReader` has added some methods over time (since adding to interfaces is bad), of these `.GetSchemaTable()` is one brought back in `netstandard2.0`. It's a virtual that each implementation needs to override.

[2017-05-13 21:41] NickCraver commented on #19748
cc @karelz @saurabh500

[2017-05-13 21:43] NickCraver commented on #19712
@saurabh500 thanks for the quick fix here!

[2017-05-13 21:45] karelz commented on #19748
@danmosemsft another example where we missed overrides in .NET Core 2.0 - I start to worry ... IMO we need to boost the tooling and scan for all missing implemented interfaces and overrides, then review them all.

[2017-05-13 21:56] karelz opened #19749 "Scan SqlClient for missing overrides and interface implementations"
We got 2 reports on .NET Core 2.0 Preview 1 which point to a class of problems we missed:
* #19712 - Missing interface implementation `System.Data.SqlClient.SqlParameter : IDbDataParameter` (fixed in PR #19734) (reported by @NickCraver)
* #19748 - Missing override `System.Data.SqlClient.SqlDataReader.GetSchemaTable` (reported by @NickCraver)
* #19651 & #19673 - Missing override `System.Data.SqlCli

[2017-05-13 22:47] karelz commented on #19744
Understood.
I view the lack of testing as result of prioritization (as you point out) - cost/value/risk exercise. It is legacy API (lower value), the implementation came from another code base (lower risk that regressions will get in, hence also lower value) and it was rather costly.

However, known differences (even in legacy API with low usage) should go through separate cost/value/risk exercise

[2017-05-13 22:57] karelz commented on #17126
`UdtTypeName` seems to be weird unsupported one-off among list of supported values (per offline info from @NickCraver). It leads to runtime exception instead of compile time failure.

@saurabh500 @corivera @divega is it something we should add into Core 2.0?
If not, we need to document it in [API compat](https://github.com/dotnet/corefx/wiki/ApiCompat) at minimum. We should probably create separat

[2017-05-13 23:47] MMalikKhan commented on #9743
I hope this might be useful to someone, who is facing a new compile error with the latest version of UWP libraries in release mode.

If you have added this line in your project.json to fix the above issue previously then time has come to remove it as this is now giving another compilation error.
 "runtime.win8-arm.runtime.native.System.IO.Compression":  "4.0.1"

New error due to above line.

error

[2017-05-14 03:01] hughbe commented on #19744
I could work on this as part of consolidating the IAsyncResults between managed and windows. This would also give us the side effect of adding extra argument validation in the managed side that was kidding before.

In terms of code coverage for HttpListener - it's bad, but also a lot of it (at least branch coverage) is tracing.
Authentication tests are missing but I got caught up in recent PRs so

[2017-05-14 07:53] zokiad opened #19753 "HttpWebRequest.Host throw new PlatformNotSupportedException()"
Hi,

HttpWebRequest.Host throw new PlatformNotSupportedException()
Why ? Limitation ?
Host is usefull to test a web farm. We use server IP to connect and Host to define the web site to test.

[code]

[2017-05-14 09:12] karelz commented on #19744
Thanks @hughbe for you insights about code coverage!
I think that in the authentication space we took some shortcuts on Linux and/or Windows? (@Priya91 knows details) - something we will document in [API compat](https://github.com/dotnet/corefx/wiki/ApiCompat) soon-ish.

If you plan to work on this particular issue, please ping us here when you start the work.
Given it is 2.0, we are a bit on the

[2017-05-14 09:29] karelz commented on #17534
FYI: For easier collaboration I have created a new gitter room: https://gitter.im/dotnet/corefx-contrib-docs also linked from https://github.com/dotnet/corefx/wiki/New-contributor-Docs

[2017-05-14 10:52] shravan2x commented on #14762
I agree with @louislewis2 on this, licensing is an important application of `System.Management`.

P.S. I had no idea Github reacts were considered this important here.

[2017-05-14 10:57] karelz commented on #19753
@zokiad thanks for your report!

This has been addressed in #19118, which was not included in the Preview 1 bits.
See the change [here](https://github.com/dotnet/corefx/commit/9e2256d02d25d11b5317ee946453948ec45c7c6c#diff-c70c98d319d6fa28c754b26a04324f2eR279)

Could you please validate that it is addressed in latest daily build? See [dogfooding instructions](https://github.com/dotnet/corefx/blob/m

[2017-05-14 11:09] karelz commented on #14762
@shravan2x good point that we could/should mention it in repo docs - I made a [note](https://github.com/dotnet/corefx/wiki/Issues#new-content-ideas) to describe prioritization / how upvoting helps.

I naively took it for obvious as there is no other way to tell which issue is how important. GitHub allows sorting by [upvotes](https://github.com/dotnet/corefx/issues?q=is%3Aissue+is%3Aopen+sort%3Area

[2017-05-14 12:20] madsiberian commented on #11978
Hello!

I want to fix this issue but I don't understand one thing about System.Net.Http.WinHttpHandler solution: why actual source code for the assembly is included in System.Net.Http.WinHttpHandler.Unit.Tests project and not in System.Net.Http.WinHttpHandler project?
Of course it is not related to the issue but if one does not understand basic layout of solution than it is better to not start mak

[2017-05-14 12:35] karelz commented on #11978
There is only `WinHttpHandlerTest` class in [UnitTests file](https://github.com/dotnet/corefx/blob/a999d1094734b1ba7248d3e92e576f9fe4567f5b/src/System.Net.Http.WinHttpHandler/tests/UnitTests/WinHttpHandlerTest.cs).
The source code is in [WInHttpHandler.cs](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs)

Here's my [search](http

[2017-05-14 12:37] karelz commented on #11978
I sent you contribution invite, ping me when you accept, so that I can assign the issue to you.
See links on our main page to our contributor docs (under constructions) -- if there is anything missing, feel free to ask, and/or edit the docs with ideas and how-tos.

[2017-05-14 12:48] madsiberian commented on #11978
Thank you for quick reply!
Class placement is OK: it is in src/ folder. However, it is not referenced in the project that resides in src/ folder. Instead we find it in the project from tests/ folder:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/tests/UnitTests/System.Net.Http.WinHttpHandler.Unit.Tests.csproj#L91
That is what bothers me. Or I simply don't understa

[2017-05-14 12:49] GSPP commented on #2454
An interesting case is SignalR. They have wrapped `TaskCompletionSource` to always complete the task on the thread pool. This is I assume to avoid reentrancy issues.

See https://github.com/SignalR/SignalR/blob/dev/src/Microsoft.AspNet.SignalR.Core/Infrastructure/DispatchingTaskCompletionSource.cs

`Dispatch` just calls `Task.Run`. And they have a bug there because `SetUnwrappedException` forgets

[2017-05-14 12:53] stephentoub commented on #11978
The source is included via the https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.msbuild file, which is then included both here https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System.Net.Http.WinHttpHandler.csproj#L21 and here https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/Sys

[2017-05-14 12:58] madsiberian commented on #11978
Now I see it, thanks! Maybe VS solution explorer should display this kind of links...

[2017-05-14 13:09] stephentoub opened #19754 "UnknownHeaders_Success HttpListener test always hangs for me locally on Windows"
It apparently passes in CI, but every run for me hangs.  The test sends 1000 custom headers to the server and validates they were all received: when I change the number to 998 or less, it passes quickly, but when it's 999 or greater, it hangs.  It runs successfully in all cases on netfx.

[2017-05-14 13:28] stephentoub commented on #19754
I'm fixing the test to at least not hang, splitting it into two tests (a small and large number of headers), disabling the large one against this issue, and moving this issue to Future, as such a large number of headers is very niche.

[2017-05-14 16:01] i3arnon commented on #2454
I, personally, wouldn't want to see this changed. Writing correct unoptimized code is pretty easy in C# and that's what most people should do.
When you start using the TPL primitives (e.g. `TaskCompletionSource`) that's when you care about performance the most. In those kinds of scenarios I wouldn't want to sacrifice performance for safeness.
Most people shouldn't be using `TaskCompletionSource` t

[2017-05-14 20:37] karelz commented on #8951
BTW: I linked your workaround above from [OS Supported Versions](https://github.com/dotnet/core/pull/653/commits/94127f219bcc601ce3bc78a3c057e43251a26bfd)

If you want to move your how-to to CoreFX wiki, you can - it is writeable for everyone. We can figure out how to incorporate it into other the docs.
But maybe the steps should be rather in [dotnet/core repo](https://github.com/dotnet/core). We

[2017-05-14 20:40] karelz commented on #19094
@davidsh any reason for not closing the dupe?
Should we dupe both issues (this one and #19512) against the root cause #9228? Or is there any value in having multiple issues?

[2017-05-14 20:57] karelz commented on #2089
@pasikarkkainen if you're also willing to help write some test cases, that would be very appreciated.
If you "just" want to test the package on your app/code, it should be doable today. We just need to start publishing the package as preview on myget (I think the publishing is disabled today).

[2017-05-14 22:01] jlanng commented on #18765
@mellinoe how are the timings of these tests used?

[2017-05-15 01:33] feuerwelt commented on #9728
When I try to use `export DYLD_LIBRARY_PATH="/usr/local/lib/"` from the solutions above I get the following error:
[code]
:(
Don't know what else to do, should I just give up of using `HttpClientHandler.ServerCertificateCustomValidationCallback` on a macOS Sierra environment?

[2017-05-15 02:22] Jiayili1 commented on #7812
This issue is repro on Core Tests in build 20170515.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170515.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_BadCertificate_ExpectedPolicyErrors(url:%20%5C%22https:~2F~

[2017-05-15 02:28] stephentoub commented on #19709
For reference, here's approximately what the change would look like:
https://github.com/stephentoub/corefx/commit/e8d9d68cca20faa7766548880746daf5ac4f719f

[2017-05-15 02:34] Jiayili1 commented on #15065
This issue doesn't occur on Core Tests in recent builds, so remove the label "test-run-core" first.

[2017-05-15 02:34] Jiayili1 commented on #15066
This issue doesn't occur on Core Tests in recent builds, so remove the label "test-run-core" first.

[2017-05-15 02:41] Jiayili1 commented on #7812
This issue is repro on Portable Core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170515.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_BadCertificate_ExpectedPolicyErrors(url:%20%5C%22https:~2F~2

[2017-05-15 02:45] Jiayili1 commented on #19466
This issue is still repro on Portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170515.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-15 02:48] stephentoub commented on #19744
I was wrong about this issue.  Doesn't look like it's actually a problem.

[2017-05-15 02:48] #19744 closed

[2017-05-15 02:58] Jiayili1 commented on #19705
Another test: System.Net.Security.Tests.SslStreamStreamToStreamTest_BeginEnd/SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success

failed with same issue: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170515.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamStreamToS

[2017-05-15 03:01] stephentoub commented on #19466
@Jiayili1, did the build mentioned above https://github.com/dotnet/corefx/issues/19466#issuecomment-301363433 include the fix in https://github.com/dotnet/corefx/pull/19755?

[2017-05-15 05:04] ViktorHofer commented on #4382
@kwaazaar please open a proposal in a separate issue (to better track it) and link to this one.
Exactly, provide the existing type and add "+" signs at the beginning of the line for new values (you could also color them green).

[2017-05-15 05:51] oliverjanik commented on #15570
Any way anyone cat put a high priority on that msbuild issue? There is zero response to that issue. Thanks.

[2017-05-15 05:52] justinvp commented on #19749
#19651 was another case of a missing override.

[2017-05-15 06:04] Jiayili1 commented on #19466
@stephentoub The log is missing all information after the tests started:
[code]

And in .py file, it indicates it hung:
[code]

[2017-05-15 06:05] oliverjanik commented on #17014
Are you saying that by design we get a broken experience? Right now I'm experiencing a ***DLL HELL*** It's making me reconsider the whole .net core and netstandard.

If I create a netstandard library and reference it in a 461 project it blows up during runtime. Is that by design? Really? You average .NET Joe doesn't have a clue what a binding redirect even is.

VS2017 has shipped a **stable** vers

[2017-05-15 06:48] dotnet-mc-bot opened #19762 "Tests under: System.Reflection.Tests.AssemblyTests failed with "System.TypeInitializationException""
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyTests/AssemblyLoadFromBytes` has failed.

System.TypeInitializationException : The type initializer for 'System.Reflection.Tests.AssemblyTests' threw an exception.\r
    ---- System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\6c8c89ca-0ac6-4877-98bf-ada297eaef14\\Work\\b2e4e6b9-cf66-4e4a-8383-2a5f

[2017-05-15 06:59] dotnet-mc-bot opened #19763 "Test: System.IO.Tests.DirectoryInfo_Create/RootPath failed with "System.IO.DirectoryNotFoundException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.DirectoryInfo_Create/RootPath` has failed.

System.IO.DirectoryNotFoundException : Could not find a part of the path 'C:\\'.

        Stack Trace:

           at System.IO.Win32FileSystem.CreateDirectory(String fullPath)
       at System.IO.Tests.DirectoryInfo_Create.Create(String path)
       at System.IO.Tests.Directory_CreateDirectory.Roo

[2017-05-15 07:01] Jiayili1 commented on #19763
Related issue: https://github.com/dotnet/corefx/issues/19056

[2017-05-15 07:05] dotnet-mc-bot opened #19764 "Test: System.Security.Claims.ClaimTests/Claim_SerializeDeserialize_Roundtrip failed with "Xunit.Sdk.NullException""
Opened on behalf of @Jiayili1

The test `System.Security.Claims.ClaimTests/Claim_SerializeDeserialize_Roundtrip` has failed.

Assert.Null() Failure\r
    Expected: (null)\r
    Actual:   ClaimsIdentity { Actor = null, AuthenticationType = \"someAuthType\", BootstrapContext = null, Claims = [], IsAuthenticated = True, ... }

        Stack Trace:

           at System.Security.Claims.ClaimTests.Clai

[2017-05-15 07:38] kpreisser opened #19765 "ConditionalWeakTable causes a memory leak if one of their values references the table"
Hi,

I found odd behavior of `System.Runtime.CompilerServices.ConditionalWeakTable<TKey, TValue>` in both .NET Core and .NET Framework which looks like a bug to me: If you create multiple instances of the `ConditionalWeakTable` and store a key-value pairs in them, where the key stays alive and the value contains a reference to the `ConditionalWeakTable`, the values are not garbage-collected after

[2017-05-15 07:42] v-haren commented on #16201
failed again in ci, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/45/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds_sslProtocols__Tls__url____https___www_ssllabs_com_10301____/