[2017-05-18 19:12] danmosemsft commented on #19923
@MattGal would have to determine that - I don't see mention of the physical machine in any of the logs.

[2017-05-18 19:15] mj1856 commented on #19914
It still gives the error when using the `NETStandard.Library.NETFramework` package instead of just `System.Net.Http`.  I tried both `2.0.0-preview1-25305-02` from Nuget, and `2.0.0-preview2-25317-01` from the MyGet feed.

@marek-safar's explaination makes sense to me.  Our plan is to just stay on 4.3.1 when running on Mono until Mono 5.2 ships with the updated table.  Just not sure if this approac

[2017-05-18 19:16] danmosemsft opened #19938 "AcceptWebSocketAsync_ValidSubProtocol_Success failed with System.Net.HttpListenerException : Address already in use"
Only visible in infrastructure log as a later test timed out
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170518.01/workItem/System.Net.HttpListener.Tests/wilogs
[code]

[2017-05-18 19:16] danmosemsft opened #19939 "AcceptWebSocketAsync_InvalidSubProtocol_ThrowsArgumentException failed with ExtendedSocketException : Device not configured"
Only visible in infrastructure log as a later test timed out
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170518.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-05-18 19:17] mellinoe commented on #19930
The CLI doesn't really support building or running .NET Standard executables If you want to target .NET Standard and involve an MSBuild target, you might be better off creating a portable MSBuild task, rather than creating an executable. If this is something that you intend to be hooked into the SDK targets, perhaps you can just include the basic logic in a nuget package here, and then hook an MSB

[2017-05-18 19:18] danmosemsft opened #19940 "EndGetClientCertificate_NullAsyncResult_ThrowsArgumentException failed with ExtendedSocketException : Connection refused"
Only visible in infrastructure log as a later test timed out
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170518.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-05-18 19:19] stephentoub commented on #18128
@karelz, there are 14 tests disabled against this issue, and PR https://github.com/dotnet/corefx/pull/19880 disables another 36 tests against it.

[2017-05-18 19:20] danmosemsft commented on #18463
@stephentoub ah - you're right. OK, hopefully this will come out in the wash tomorrow.

[2017-05-18 19:45] hugosmarques commented on #19929
.Net Core 2.0

[2017-05-18 19:46] hugosmarques commented on #19929
@weshaggard I don't add the mscorlib.dll manually probably comes with other package I don't know

[2017-05-18 19:47] davidsh opened #19942 "Msbuild not defining TargetGroup property for uap when building for uap or uap-aot"
I'm trying to do this in a CSPROJ file:

[code]

But when I build either:

or

The `TargetGroup` property is not defined either 'uap' or 'uapaot'.

I would expect it to be defined as 'uap' whether it is 'uap' or 'uapaot' TargetGroup.  Instead, it is not being defined properly.

[2017-05-18 19:48] davidsh commented on #19942
cc: @danmosemsft @AlexGhiondea @ViktorHofer

[2017-05-18 19:52] davidsh commented on #19942
I noticed that TargetGroup is being defined as 'netstandard' even though I am defining it as 'uap' or 'uap-aot'

[2017-05-18 19:52] danmosemsft commented on #19942
Which library is this? If there is no uap/uapaot configuration explicitly in Configuration.props, perhaps the TargetGroup is netstandard.

[2017-05-18 19:57] danroth27 commented on #19936
Is there any justification for that POR? Wouldn't we want new libraries to get these fixes without having to manually add them?

[2017-05-18 19:58] davidsh commented on #19942
I observed it in src/System.Net.Http/tests/UnitTests when building those tests.  The Configuration.props doesn't have any 'uap' or 'uap-aot' configurations.  So, maybe that is the problem.

I do see that in src/System.Net.Http/src there is a Configuration.props that has this defined:

I will investigate and close this issue is that is the problem with Http unit tests project. Thx.

[2017-05-18 20:02] MattGal commented on #19923
All of the VMs are D2_v2 Azure VMs, which means they have 2 cores and 7 GB of RAM.  While we know nothing of the physical topology of the machines, and it's possible that things ran on the same box, consider what you're saying.  Since the problem repros on 18 individual configurations which are each running some random set of 190+ work items at completely different times, the statistical likelihoo

[2017-05-18 20:03] davidsh commented on #19942
Yes, that is the problem.  We need to add "uap-Windows_NT;" to the configuration file.

[2017-05-18 20:03] #19942 closed

[2017-05-18 20:07] bartonjs commented on #19925
20170518.01 was based on commit 62328293a609e6b0b729b7b434f278a97e0b361e, which doesn't have the test fixes.

20170518.02 was based on commit 88a8b9146494302f2b231717696453ea174e9037, which does have the test fixes, and the tests report skipped (as expected on Helix): https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/b

[2017-05-18 20:07] #19925 closed

[2017-05-18 20:11] stephentoub commented on #19923
Huh? That's not what I was asking nor asserting.  If the host had a problem, and ran all of these images serially (this has nothing to do with parallelism), the same problem could have manifested in each VM one after the other. Maybe that's unlikely, but not nearly so as what you're suggesting. And the chance that 9 completely different VMs all experienced the same low resource failure is also ver

[2017-05-18 20:24] karelz commented on #18128
Ooops, thanks for catching that. I have moved the issue to Future. I assume we already made our peace with the disabled tests, right?
Or is there any 2.0 work left here?

[2017-05-18 20:27] karelz commented on #19914
@mj1856 there are downsides of many packages - e.g. VS showing you 30 of them that you depend on. So it has pros and cons.

Can someone confirm that there is reasonable path forward and decent user experience as well? I hope users don't have to delete packages, etc. when upgrading their projects. That would be pretty unfortunate.

[2017-05-18 20:27] stephentoub commented on #18128
I wouldn't assume that.  Most of these differences we're only just learning about as @hughbe writes the tests we never had before.  To quote you from 5 days ago:
https://github.com/dotnet/corefx/issues/19744#issuecomment-301279350

[2017-05-18 20:35] karelz commented on #18128
Are you saying we didn't have time to look at the failures yet? That would be concerning ...

[2017-05-18 20:38] stephentoub commented on #18128
They're marked against this issue, and you assigned this issue to hughbe.  He's writing a ton of good tests and finding issues.  To my knowledge no one has further investigated those issues, but you would know better than I.

[2017-05-18 20:40] karelz commented on #18128
I think I mixed it up with "we need tests" - @Priya91 can you please review the test failures and help prioritize them?

[2017-05-18 20:42] #19830 closed

[2017-05-18 20:55] karelz commented on #19702
Thanks! Closing as fixed in #19935 then.

[2017-05-18 20:55] #19702 closed

[2017-05-18 20:58] karelz commented on #17878
Another occurence on 5/10 in #19636

[2017-05-18 21:04] karelz commented on #19548
@tmat why did you originally close the issue? Can you please comment on that first? Was there a PR? Was it invalid? Was it not repro?

[2017-05-18 21:05] karelz commented on #19882
OK, that makes sense to me. Closing as addressed.
@RickStrahl if you disagree or if you have more concerns regarding the end-to-end behavior, please let us know ASAP and we can reopen & continue the discussion. Thanks!

[2017-05-18 21:05] #19882 closed

[2017-05-18 21:12] Priya91 commented on #18128
@karelz @stephentoub I've requested @hughbe to try to file separate issues for distinct known compat bugs, so that it's easier to surmarize what the issue is instead of reading the whole umbrella issue thread to figure out how much work is left. As to prioritizing the test failures, I'm not sure how to do that, all of them are differences in behavior between windows and unix, we need to fix all at

[2017-05-18 21:27] ericstj commented on #19936
IIRC the justification was that the NETStandard.Library package would only track the NETStandard.Library surface area where major.minor mapped to the version of netstandard, and revision mapped to a release wave of the whole product and was only used to get packages to lineup on the same version for a release wave.  You can see some more background in the discussion for https://github.com/dotnet/c

[2017-05-18 21:29] tmat commented on #19548
@karelz The current versioning is by design. Binding redirects are required pre-netstandard 2.0. The versioning changed in netstandard 2.0 and binding redirects are not required anymore. I believe @dougbu is asking if the plan is to keep that versioning scheme or not.

[2017-05-18 21:33] danmosemsft commented on #19218
@saurabh500 it is happening regularly (?always) in Helix
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170517.01/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.SqlConnectionBasicTests~2FIntegratedAuthConnectionTest

Would you like me to disable this test for Nano ?

[2017-05-18 21:33] danmosemsft commented on #19223
@Priya91 you're right we should ideally fix or disable this test for Nano in both 2.0 and master. I will do it.

[2017-05-18 21:35] huanwu commented on #19930
@shmao @zhenlan

[2017-05-18 21:37] Priya91 commented on #19593
@hughbe I executed this test on my local mac, and didn't get the test failure, remove the platformdetection.isosx check for the guid case.

[2017-05-18 21:44] danmosemsft commented on #19110
It's not fixed, apparently.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170517.01/workItem/System.Runtime.Extensions.Tests

[2017-05-18 21:44] danmosemsft commented on #18048
Nano tracked by https://github.com/dotnet/corefx/issues/19110
This is UWP

[2017-05-18 21:45] saurabh500 commented on #19218
@danmosemsft we will need to investigate this in detail. I wonder if it's a matter of enabling a non-default set of components on Nano server for integrated authentication to work.
Go ahead and disable the test for Nano.

[2017-05-18 21:46] weshaggard opened #19949 "Avoid having runtime specific assets when they aren't necessary."
Due to an issue in nuget which will hopefully be address with https://github.com/NuGet/Home/issues/5192 some of our packages end up with the wrong asset being selected when we have both runtime and lib assets in the package. For some of our packages that isn't necessary.

Example: System.Security.Permissions has a runtime\net461 asset and a lib\netstandard2.0 asset and when a netcoreapp2.0 project

[2017-05-18 21:50] MattGal commented on #19923
(it'd be somewhere between 1 and 18 VMs... )

[2017-05-18 21:51] danmosemsft commented on #19218
OK, will do. Should this be investigated for 2.0 given it's more consistent than believed? If so please change milestone...

[2017-05-18 21:57] weshaggard commented on #19929
OK I was able to repro this locally. You actually hit upon a couple different bugs one is a nuget bug https://github.com/NuGet/Home/issues/5192 and the other is a package configuration issue in System.Security.Permissions package. While the configuration isn't necessarily wrong the nuget bug make it end up picking the wrong asset from that package and causing it to fail to load, if we configured d

[2017-05-18 22:00] mconnew commented on #8673
If you have two sites listening on https://contoso.com/foo and https://contoso.com/bar and /bar requires a client certificate, the server can't ask for the certificate until it has received the request headers. If the request to /bar is a POST and the server is hosted on Windows (HTTP.SYS based so includes IIS) and the entity body is > 48K, then the request will fail. The suggestion to make a smal

[2017-05-18 22:04] stephentoub commented on #19923
Which is why I'm looking for something that links these together.  This test hasn't failed before, and this error indicates something really wrong resource wise at the kernel level.  Then it fails 18 times (using your number, I didn't count) in the same run.  That suggests something systemic to the specific run, something environmental.

[2017-05-18 22:07] mconnew commented on #14674
@karelz, this will prevent OAuth authentication from working when communicating with some services. This is how I discovered the issue, I was trying to use a Microsoft public OAuth provider and my code wouldn't work as the needed cookie was being dropped. If my project hadn't been a UWP app and instead a .Net Core app, I would have had no solution. I would consider the complete inability to authen

[2017-05-18 22:08] danmosemsft commented on #19931
@AtsushiKan any opinion about a better name than `IsSubjectToProjectNRuntimeOrToolchainLimitations`? And what is the best way to determine whether it should be true? Right now it's doing `RuntimeInformation.FrameworkDescription.StartsWith(".NET Native"..)` which returns true in the F5 scenario which I don't think is desired.

[2017-05-18 22:11] mconnew commented on #4502
As there isn't a plan to implement this on Linux, I'm changing this bug back to all platforms as this is still an issue on all platforms.

[2017-05-18 22:11] hugosmarques commented on #19929
@weshaggard thanks for your answer. I know that the workaround works. With the version  6.10.1- works, the problem is that wit this MySQL version i dont have access to MySQLDataReader! i don't know why, even in the last pre-release of the MySQL the MySQLDataREader is nor present... you know why? Right now i need to work the MySQL version 6.9.9 but with this version i have the error that i sent alr

[2017-05-18 22:17] danmosemsft commented on #19218
didn't cite @saurabh500 in questiona bove.

[2017-05-18 22:19] danmosemsft commented on #19923
Coincidence can be ruled out since it just happened on @mmitche 's private run:
https://mc.dot.net/#/user/mmitche/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F//workItem/System.Runtime.Serialization.Formatters.Tests

[2017-05-18 22:21] stephentoub commented on #19923
Which further suggests something systemic to this execution environment.

I added instrumentation.  On my machine, the largest amount of memory this test allocates on any of its three runs for its three different theory inputs is ~200K of managed memory.  And the whole test process running all of the tests in that library never goes above ~35M of memory total, as reported in task manager.

[2017-05-18 22:24] saurabh500 opened #19953 "Review SqlClient tests on Desktop for scenarios missing from .Net Core"
Review SqlClient tests on Desktop for scenarios which do not satisfy the .Net Core surface area.
The review will be targeted at identifying the usage of Data Structures like DataTable , DataRow etc which were added to System.Data.Common in 2.0 and should have related functionality in .Net Core.

One of such scenarios was DataTable/TVP support in SqlClient SqlParameter

[2017-05-18 22:24] MattGal commented on #19923
@stephentoub, actually it's an entirely different execution environment.  The logs Dan just shared are from Jenkins, which runs on D3_v2 VMs (14 GB of RAM!) and are in an entirely different subscription and possibly data center from the Helix ones.  They are very, very different environments (we're hoping to unify them, but they are)

[2017-05-18 22:25] AtsushiKan commented on #19931
IsNetNative sounds like the best name to me but I guess it doesn't sync withour branding. IsNetNativeReleaseBuild is I guess how a VS customer would think of it.

IsRecipeForHoursOfRdXmlPain might be a good second choice.

As far as implementation, it's not a "good" way but this will do in a pinch:

IsNetNative =>  RuntimeInformation.FrameworkDescription.StartsWith(".NET Native"..)  && typeof(int)

[2017-05-18 22:27] weshaggard commented on #19929
That I don't know, that would be for the mysql folks.

Depending on your scenario you could hack around this problem by deleting the runtimes folder under your nuget package cache for `C:\Users\<user>\.nuget\packages\System.Security\Permissions\4.4.0-preview1-25305-02`. This is a hack and if you ever restore the package again from a clean cache or another machine you will hit the problem again. Be

[2017-05-18 22:28] CIPop commented on #8673
/cc @DavidGoll @karelz

@mconnew My current understanding (based on WinHTTP's response) is that using 100 Continue can lead to deadlocks and is not the recommended solution regardless of what HTTP stack is being used.
My suggestion is to follow-up directly with the WinHTTP team regarding your concerns.

Creating your own handler based on a different HTTP stack is very simple when working with Http

[2017-05-18 22:29] hugosmarques commented on #19929
@weshaggard ok, bt when this error is fixed will work without problems right?

[2017-05-18 22:29] danmosemsft commented on #19931
@ViktorHofer do you want to take this one?

1. Rename `IsWinRT` to `IsInAppContainer`. We can correctify the implementation another day.
1. Fix `IsNetNative` to return `RuntimeInformation.FrameworkDescription.StartsWith(".NET Native"..) && typeof(int).GetType().GetType() != typeof(int[]).GetType().GetType();`. Be sure to run the tests that haev this today in the UAP configuration as they will star

[2017-05-18 22:31] MattGal commented on #19923
Oops, yes you're correct, I was thrown by the Jenkins-like paths (/mnt/j/workspace/dotnet_corefx/master/GenPRTest/portable-linux-Config_Release+OuterLoop_false_prtest/src/Common/src/Interop/Unix/System.Native/Interop.ForkAndExecProcess.cs).
There's also something super weird about that private run as each work item appears to have run like 5x.

Anyways, I can easily redeploy one of the failing set

[2017-05-18 22:31] fmj02 opened #19956 "Improve UseShellExecute on Unix"
This is just a question because from what I read in google there seems to be a problem with it. Does it work/will it work in 2.0?

[code]

[2017-05-18 22:32] morganbr commented on #19837
We need to consider the security implications of Xsl scripting since there are a [number](https://msdn.microsoft.com/en-us/library/ms763800(v=vs.85).aspx) of [cases](https://msdn.microsoft.com/en-us/library/wk7yxab1(v=vs.110).aspx) where it is not safe to use.

CC @blowdart

[2017-05-18 22:33] ViktorHofer commented on #19931
IsWinRT=False, IsNetNative=True

If we rename `IsWinRT` to `IsInAppContainer` I would assume that the result is now correct as we are not running uapaot inside an AppContainer yet ;)

[2017-05-18 22:33] ericstj commented on #19949
As we discussed the duplicated asset is completely unnecessary.  This situation was less likely in 1.0 due to the way we had factored projects but became more likely in 2.x because the config system made it easy.

[2017-05-18 22:34] stephentoub commented on #19923
FWIW, I doubt it's actually an issue of too little memory in the VMs.  More likely it's some kind of configuration issue of the VMs running these tests or the host machine running the VMs.  My initial question was simply one possible aspect of that.

[2017-05-18 22:34] blowdart commented on #19837
Yea I'd much rather we don't even go here.

A single request doesn't strike me as justification for something so risky in terms of security.

[2017-05-18 22:36] MattGal commented on #19923
OK.  In many cases I can easily SSH to specific instances of machines that ran these jobs, if you have any experiments or other stuff you want to try please let me know.

[2017-05-18 22:37] danmosemsft commented on #19701
again https://mc.dot.net/#/user/mmitche/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F//workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[2017-05-18 22:38] AtsushiKan commented on #19931
@ViktorHofer

Just realized the code snippet I gave has too many GetType()'s. The correct one to use is:

IsNetNative => RuntimeInformation.FrameworkDescription.StartsWith(".NET Native"..) && typeof(int).GetType() != typeof(int[]).GetType();

[2017-05-18 22:40] CIPop commented on #19931
Is "NetNative" something restricted to UWP? I thought it'll be an option for any app, even non-UWP or even non-Windows.

[2017-05-18 22:40] ViktorHofer commented on #19931
@AtsushiKan Ya I wondered. But typeof RuntimeType is RuntimeType so it wouldn't have caused harm.

[2017-05-18 22:42] davidsh commented on #19931
Non-UWP uses of "NetNative" mean CoreRT scenarios.

[2017-05-18 22:43] ViktorHofer commented on #19931
Which I guess will also refer to the name "NetNative" (in future).

[2017-05-18 22:43] mmitche commented on #19923
@MattGal I did submit this a bunch of times (different correlation ids though)

[2017-05-18 22:44] davidsh commented on #19931
I would think so.  I think the "IsNetNative" property should return true anytime ILC.EXE has been used to convert the managed IL to native code.

[2017-05-18 22:49] #19907 closed

[2017-05-18 22:56] mhsjlw commented on #9003
Has this been fixed?

[2017-05-18 22:57] danmosemsft commented on #19956
yes, does it not for you?

[2017-05-18 23:01] davidsh commented on #9003
It has not been fixed yet.  The fix would be part of our UAP/UWP work for .NET Core 2.1 release.

[2017-05-18 23:01] svick commented on #19956
Could you clarify what exactly did you read and where?

[2017-05-18 23:08] CIPop commented on #19031
Closed as dupe of #19701

[2017-05-18 23:08] #19031 closed

[2017-05-18 23:10] mellinoe commented on #19956
Yes, it is supported.

One common gotcha is that [`UseShellExecute` is not supported](https://github.com/dotnet/corefx/blob/964b73bddbc784b33192b51556f0d594462b67e4/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.Windows.cs#L81). The property exists, but you cannot actually set it. The code snippet you have shared here is a way you can get around that limitation.

[2017-05-18 23:12] CIPop commented on #19335
Closed as dupe of #19701

[2017-05-18 23:12] #19335 closed

[2017-05-18 23:14] CIPop commented on #19875
Closed as dupe of #19701

[2017-05-18 23:14] #19875 closed

[2017-05-18 23:15] CIPop commented on #13281
Closed as dupe of #19701

[2017-05-18 23:15] #13281 closed

[2017-05-18 23:17] CIPop commented on #13188
Related to #19701.

[2017-05-18 23:18] CIPop commented on #16534
This report: https://github.com/dotnet/corefx/issues/16534#issuecomment-294515487 is related to #19701.

[2017-05-18 23:19] CIPop commented on #9027
Related to #19701

[2017-05-18 23:21] CIPop commented on #8519
Related to #19701.

[2017-05-18 23:23] stephentoub commented on #19956
It works on Unix:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L229

For Windows, I was hoping we'd fix https://github.com/dotnet/corefx/issues/18949 for 2.0, but I guess it got bumped out?

[2017-05-18 23:23] CIPop commented on #8274
Related to #19701.

[2017-05-18 23:40] mellinoe commented on #19956
Yeah, it did not get fixed for 2.0. Given how the code you just linked works, can we do the same thing on Windows (e.g. just call `cmd /c <exe> <args>`) ?

[2017-05-18 23:41] RickStrahl commented on #19882
Looks good with preview package (4.4.0-preview1-25305-02). Thank you.

Only outstanding issue on the System.Data bits for me is `DbProviderFactories` - Quite a few  places where this breaks for me. Specifically `GetFactory()`.

[2017-05-18 23:42] danmosemsft commented on #19956
Perhaps should have started a broader dialog on that one for 2.0. The usage is quite significant.
https://apisof.net/catalog/System.Diagnostics.ProcessStartInfo.UseShellExecute

I assume the OneCore issue can be solved by simply catching MissingMethodException. And I believe we support STA threads as you're not on Nano. (Where I guess ShellExecuteEx isn't available anyway)

Worth proposing as a DC

[2017-05-18 23:42] danmosemsft commented on #18949
Perhaps should have started a broader dialog on this for 2.0. The usage is quite significant.
https://apisof.net/catalog/System.Diagnostics.ProcessStartInfo.UseShellExecute

I assume the OneCore issue can be solved by simply catching MissingMethodException. And I believe we support STA threads as you're not on Nano. (Where I guess ShellExecuteEx isn't available anyway)

Worth proposing as a DCR @s

[2017-05-18 23:55] CIPop commented on #19701
@danmosemsft That failure is different - please open a different bug for RedHat and that particular error:
System.Net.Http.HttpRequestException : An error occurred while sending the request.\n---- System.Net.Http.CurlException : __Problem with the SSL CA cert (path? access rights?)__

[2017-05-18 23:56] fmj022 commented on #19956
@svick https://brockallen.com/2016/09/24/process-start-for-urls-on-net-core/

[2017-05-18 23:57] weshaggard commented on #19931
@AtsushiKan what is special about `typeof(int).GetType() != typeof(int[]).GetType();` that makes it look like .NET Native?

[2017-05-18 23:59] AtsushiKan commented on #19931
CoreCLR uses a single type (RuntimeType) to represent all Types, CoreRT uses a type hierarchy. That's an implementation detail that isn't likely to change any with speed.

[2017-05-19 00:02] danielcrabtree opened #19963 "HttpClient WebRequestHandler.CachePolicy Replacement"
I've run the Portability Analyzer and found that HttpClient does not implement WebRequestHandler.CachePolicy and I don't seem to be able to find any replacement for this. @karelz suggested asking here.

A [similar question](http://stackoverflow.com/questions/43272530/whats-the-alternative-to-webrequesthandler-in-net-core) was asked on Stack Overflow and has no answer.

I would like to know if ther

[2017-05-19 00:08] danmosemsft commented on #19701
@CIPop will do, deleted my comment.

[2017-05-19 00:09] danmosemsft opened #19964 "NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds failed with System.Net.Http.CurlException : Problem with the SSL CA cert (path? access rights?)"
again https://mc.dot.net/#/user/mmitche/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fportable~2Fcli~2F//workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FNoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

[code]

https://github.com/dotnet/corefx/issues/19701 simlar

[2017-05-19 00:17] karelz commented on #19963
@davidsh @CIPop @stephentoub @Priya91 do you have any advice?

[2017-05-19 00:19] davidsh commented on #19963
BypassCache is the behavior on .NET Core.

[2017-05-19 00:20] mconnew commented on #8673
Using 100 Continue won't lead to deadlocks if rfc7231 is implemented correctly. It says:

The only way a deadlock can happen is if the client is implementing 100-continue incorrectly. In the case where the timeout occurs, the server will have had opportunity to parse the headers and request a client cert if necessary. If the server doesn't support 100-continue, then you probably wouldn't be reques

[2017-05-19 00:30] davidsh commented on #8673
As we know from .NET Framework experience, many servers did not support 100-continue and had problems when the 'Expect: 100-continue' was sent as a request header. Unfortunately, .NET Framework `ServicePointManager` class has the Expect100Continue property as `true`. This led to many problems for developers and many of them added `ServicePointManager.Expect100Continue=false` to their code. In hind

[2017-05-19 00:33] stephentoub commented on #8673
@mconnew, what is the bug on Unix?

[2017-05-19 00:44] safern commented on #18483
@hughbe just FYI: the issue is detailed here: https://github.com/xunit/xunit/issues/1291 and submitted a fix in here: https://github.com/xunit/xunit/pull/1292

[2017-05-19 00:52] JeremyKuhne opened #19965 "Unix throws the wrong exception creating a FileStream"
Same underlying issue as #19850. Need to update CoreLib to throw DirectoryNotFound if the directory doesn't exist. (`/directory/doesnotexist/doesnotexist`)

[2017-05-19 00:54] shmao commented on #16647
DCS and DCJS now are able to serialize `ISerializable` types on UWP. Serializing Exception types still failed on UWP due to https://github.com/dotnet/corefx/issues/19585

[2017-05-19 00:54] #16647 closed

[2017-05-19 01:10] karelz commented on #19110
Do we want to fix it in 2.0?

[2017-05-19 01:13] safern opened #19967 "System.Net.* marked as ConditionalFact/Theory tests fail in Desktop"
These tests are currently not running for Desktop in Helix/CI/Jenkins due to: https://github.com/xunit/xunit/issues/1291 in our side we are tracking this with https://github.com/dotnet/corefx/issues/18483

Affected projects:
* `System.Net.WebSockets.Client.Tests`
* `System.Net.HttpListener.Tests`

I currently have a fix out for this that needs to go in on Xunit's repo, be published to nuget, and t

[2017-05-19 01:13] safern commented on #19967
cc: @karelz

[2017-05-19 01:15] karelz commented on #19967
Is it a problem in rel/2.0.0 branch? Or just master?

[2017-05-19 01:16] karelz commented on #19967
Assigning to you @safern as you work on it

cc @Priya91 @geoffkizer @wfurt

[2017-05-19 01:17] safern commented on #19967
It depends on why we are getting those failures. I will have to take a look at the failures to see if it is a rel/2.0.0 problem.

I'll give an update once I've done the failures investigation.

[2017-05-19 01:29] karelz commented on #19701
There is plenty of dupes in just 1 week.
We should treat this one as P0 and consider porting it to 2.0 branch if we track it down in time.

@DavidGoll @CIPop @davidsh any pushback?

[2017-05-19 01:37] karelz commented on #19967
Thanks!

[2017-05-19 01:40] karelz commented on #19882
That should be addressed in PR #19825 by @FransBouma. If you think there's more, please let us know ASAP.

[2017-05-19 01:44] janvorli commented on #19881
I have investigated that and I am convinced that it is caused by https://github.com/dotnet/coreclr/issues/6283 - the kernel bug related to the page migration. The failing thread tries to read 8 bytes from memory from a perfectly valid and aligned address inside crossgen-ed System.Private.CoreLib.dll (I can see that address in the ExceptionInformation) and yet it fails with SIGSEGV.

[2017-05-19 01:53] karelz opened #19970 "Announcement: Call for help: System.Data.SqlClient in .NET Core 2.0"
We have found quite non-trivial gaps in System.Data.SqlClient based on Preview 1 feedback.

First, thanks everyone helping us discovering them, understand them and fixing them. Also thanks for the patience with the lower-than-desired quality of the area.
Special shout outs to @NickCraver @FransBouma @RickStrahl @cskwg and @cincuranet

We have had several meetings in last few days and we are workin

[2017-05-19 01:54] davidsh commented on #19701
Getting this error:

is impossible to diagnose unless we get a consistent repro.  It can be caused by the Internet and/or test servers (on Azure) being slow to respond.  It can also be caused by CI machines too busy to process a network I/O.

While there are tests that run into this problem, calling a P0 isn't actionable right now unless we get a repro.

[2017-05-19 02:00] karelz commented on #19970
We also acknowledge that our test coverage of `System.Data.SqlClient` in .NET Core is less than ideal :( (something to address in next version).
**Call for help:** As such we would welcome any help in the space, incl. feedback from porting more upstack libraries/apps to .NET Core to make sure quality is high. Thank you!

cc @mgravell @roji

[2017-05-19 02:04] danielcrabtree commented on #19963
Thanks @davidsh.

[2017-05-19 02:04] #19963 closed

[2017-05-19 02:20] hughbe opened #19971 "[Managed bug] HttpListenerResponse should align with Windows behaviour for after disposing/sending headers"
The following tests are disabled under this issue:

- Redirect_Disposed_ThrowsObjectDisposedException
- CloseResponseEntity_AlreadyDisposed_ThrowsObjectDisposedException
- OutputStream_GetDisposed_ThrowsObjectDisposedException
- StatusDescription_SetDisposed_ThrowsObjectDisposedException

- ContentType_SetAfterHeadersSent_DoesNothing
- RedirectLocation_SetAfterHeadersSent_DoesNothing
- StatusCode_

[2017-05-19 02:23] hughbe opened #19972 "[HttpListener] [Managed] HttpListenerResponse should set properties directly in the Headers property on set/get"
Causes the following test failures:

- [x] ContentType_SetAndSend_Success
- [x] ContentType_SetNullEmptyOrWhitespace_ResetsContentType
- [x] RedirectLocation_SetAndSend_Success
- [x] RedirectLocation_SetNullOrEmpty_ResetsRedirectLocation
- [x] Redirect_Invoke_SetsRedirectionProperties
- [x] KeepAlive_ContentLengthBoundaryAndRequestHttpVersionMinorIsZero_DoesNotChangeWhenSendingHeaders

[2017-05-19 02:28] hughbe opened #19973 "[Managed bug] HttpListenerResponse should send chunked by default"
The following issues are disabled under this issue:

- ContentLength64_GetSet_ReturnsExpected
- ContentLength64_SetDisposed_ThrowsObjectDisposedException
- ContentLength64_SetNegative_ThrowsArgumentOutOfRangeException
- ContentLength64_NotSetAndGetAfterSendingHeaders_ReturnValueDependsOnStatusCode

---

- SendChunked_GetSet_ReturnsExpected
- SendChunked_SetDisposed_ThrowsObjectDisposedException
-

[2017-05-19 02:28] saurabh500 opened #19974 "How do I generate Nuget package for an assembly in CoreFx"
I am trying to create a Nuget package in CoreFx for System.Data.SqlClient using build-packages.cmd
However that only creates the packages for Microsoft.* .nupkg

How do I go about creating a package for System.Data.SqlClient or any other assembly?

[2017-05-19 02:29] hughbe opened #19975 "[Managed bug] HttpListenerResponse should align with Windows behaviour for Close(byte[], bool)"
The following tests are disabled with this issue:

- CloseResponseEntity_SendToClosedConnection_DoesNotThrow
- CloseResponseEntity_ChunkedSentHeaders_DoesNotModifyContentLength
- CloseResponseEntity_NotChunkedSentHeaders_SendsEntityWithoutModifyingContentLength
- CloseResponseEntity_AllContentLengthAlreadySent_DoesNotSendEntity
- Abort_Invoke_ForciblyTerminatesConnection

[2017-05-19 02:30] hughbe opened #19976 "[Managed bug] HttpListenerResponse should align with Windows behaviour for StatusCode/StatusDescription"
Following tests are disabled with this issue:

- StatusCode_SetAndSend_Success
- StatusDescription_GetWithCustomStatusCode_ReturnsExpected
- StatusDescription_SetCustom_Success
- StatusDescription_SetNull_ThrowsArgumentNullException
- StatusDescription_SetInvalid_ThrowsArgumentException

[2017-05-19 02:31] hughbe opened #19977 "[HttpListener] [Managed] HttpListenerResponse should align with Windows behaviour for protocol versions"
Following tests are disabled with this issue:

- ProtocolVersion_SetValid_ReturnsExpected
- SendChunked_SetTrueAndRequestHttpVersionMinorIsZero_ThrowsInvalidOperationException
- KeepAlive_NoBoundaryAndRequestHttpRequestVersionMinorIsZero_SetsToFalseWhenSendingHeaders

[2017-05-19 02:32] hughbe opened #19978 "[Managed bug] HttpListenerResponse should align with Windows behaviour for KeepAlive"
Following tests are disabled with this issue:

- KeepAlive_GetSet_ReturnsExpected
- KeepAlive_SetDisposed_ThrowsObjectDisposedException

[2017-05-19 02:35] hughbe commented on #19593
I think the problem with this test is that it seems to be indeterminate?

[2017-05-19 02:36] hughbe opened #19979 "[Managed Bug] HttpListener.GetContextAsync's IAsyncResult with invalid inputs should not hang forever"
Following tests are disabled with this issue:

- EndGetContext_InvalidAsyncResult_ThrowsArgumentException

[2017-05-19 02:37] hughbe opened #19980 "[Managed bug] HttpListenerResponseStream.Write should validate the IAsyncResult"
Following tests are disabled with this issue:

- EndWrite_InvalidAsyncResult_ThrowsArgumentException
- EndWrite_CalledTwice_ThrowsInvalidOperationException

[2017-05-19 02:38] hughbe opened #19981 "[HttpListener] [Managed] HttpListenerResponseStream should validate how much or little we write"
Following tests are disabled with this issue:

- Write_TooMuch_ThrowsProtocolViolationException
- Write_TooLittleAsynchronouslyAndClose_ThrowsInvalidOperationException
- Write_TooLittleSynchronouslyAndClose_ThrowsInvalidOperationException

[2017-05-19 02:39] hughbe opened #19982 "[Managed bug] HttpListenerContext.AcceptWebSocketAsync should send a handshake to the WebSocket"
Following tests are disabled with this issue:

- AcceptWebSocketAsync_SocketSpoofingAsWebSocket_ThrowsWebSocketException

[2017-05-19 02:40] stephentoub commented on #18949
Yes, we should do it for 2.0.  It's fairly impactful.

[2017-05-19 02:40] hughbe opened #19983 "[HttpListener] [Managed] Reading from a closed connection should throw HttpListenerException"
Following tests are disabled with this issue:

- Read_FromClosedConnectionAsynchronously_ThrowsHttpListenerException
- Read_FromClosedConnectionSynchronously_ThrowsHttpListenerException

[2017-05-19 02:41] hughbe opened #19984 "[Managed bug] HttpListenerRequest.Read with chunked input should align with Windows behaviour"
Following tests are disabled with this issue:

- Read_LargeLengthAsynchronous_Success
- Read_LargeLengthSynchronous_Success

[2017-05-19 02:41] hughbe opened #19985 "[Managed bug] HttpListenerRequest.EndRead should validate the IAsyncResult"
Following tests are disabled with this issue:

- EndRead_InvalidAsyncResult_ThrowsArgumentException
- EndRead_CalledTwice_ThrowsInvalidOperationException

[2017-05-19 02:42] hughbe opened #19986 "[Managed bug] Adding the prefix "http://192./" should fail"
Following tests are disabled with this change:

- Add_InvalidPrefix_ThrowsHttpListenerException_Windows

[2017-05-19 02:43] hughbe commented on #18128
Closing this issue as I've separated all the issues out into their own tests in #19880
I'd like to grab some of the low hanging fruit this weekend, especially around HttpListenerResponse

[2017-05-19 02:44] #18128 closed

[2017-05-19 02:49] ashmind opened #19987 "Provide format specifiers for IEnumerable"
I feel like I have to include lists in strings quite often, which end up something like:
[code]

This has two problems:
1. It's verbose (even has nested quotes)
2. It allocates extra string for the result of Join (potentially large)

I would like to propose a custom format specifier instead (name is up for consideration):

[code]

And for lists of formattables (saves N+1 allocations instead of 1):

[2017-05-19 05:15] #19708 closed

[2017-05-19 06:14] Jiayili1 commented on #19466
the test result shows following on build 20170519.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170519.01/workItem/System.Net.HttpListener.Tests/wilogs

[code]

[2017-05-19 06:23] Jiayili1 opened #19990 "System.Net.Sockets.Tests.SocketOptionNameTest.FailedConnect_GetSocketOption_SocketOptionNameError failed with "Xunit.Sdk.EqualException""
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170519.01/workItem/System.Net.Sockets.Tests/wilogs

[code]

[2017-05-19 06:25] Jiayili1 opened #19991 "System.Net.Sockets.Tests.LoggingTest.EventSource_EventsRaisedAsExpected failed"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170519.01/workItem/System.Net.Sockets.Tests/wilogs

[code]

[2017-05-19 06:26] Jiayili1 opened #19992 "Tests under "System.Net.Sockets.Tests.DualModeConnectionlessBeginSendTo" failed with "System.TimeoutException""
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170519.01/workItem/System.Net.Sockets.Tests/wilogs

[code]

[2017-05-19 06:31] Jiayili1 commented on #19110
This issue failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170519.01/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.Tests.EnvironmentTests~2FGetFolderPath_Windows(folder:%20CommonStartMenu)

Message:
Assert.NotEqual() Failure
  Expected: Not \"\"
  Actual:   \"\"

Stack Trace:

[2017-05-19 06:33] Jiayili1 commented on #19924
This issue is repro: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170519.01/workItem/System.Collections.Performance.Tests/wilogs

[2017-05-19 06:57] danmosemsft commented on #19985
@hughbe can you please set area path label and disabled test label where appropriate?

[2017-05-19 07:01] hughbe commented on #19985
I don't think I can do that myself - I don't have permissions

[2017-05-19 08:01] FransBouma commented on #19882
@karelz @RickStrahl DbProviderFactories is planned for today. I'll add that to the PR #19826, as the line of code in that PR is solely there because of that class.

[2017-05-19 08:06] FransBouma commented on #19882
@karelz #19825 and #19826 are both needed for DbProviderFactories, hence I added them. One is labeled for 2.0.0 (#19825) and one is labeled for 2.1.0 (#19826). I know you all are swamped right now, hence my plan to commit to 19826, or is it better to commit to 19825? As one will make it be added 2.0.0 and the other will make it be delayed to 2.1.0...

[2017-05-19 08:53] dotnet-mc-bot opened #19994 "Test failure: System.Net.Primitives.Unit.Tests.CookieContainerTest / GetCookies_RemovesExpired_Cookies"
## Types of failures

Build 20171125.02:
[code]

## History of failures

Day | Build | OS
-- | -- | --
6/5 | 20170605.02 | Ubuntu17.04
6/5 | 20170605.03 | Ubuntu17.04
6/14 | 20170614.04 | Ubuntu17.04
6/24 | 20170624.02 | Debian90
7/17 | 20170717.02 | Ubuntu17.04
11/16 | 20171116.51 | Ubuntu14.04
11/25 | 20171125.02 | Ubuntu16.04

# Original report

Opened on behalf of @Jiayili1

The test `System.N

[2017-05-19 09:08] FransBouma commented on #4571
I will work on this today and will push commits to #19826, as that PR was added solely as ground work for this class.

As corefx doesn't have machine.config nor other config files, it won't auto-initialize itself with config data: factories have to be registered by the developer. I'll add two methods to register a factory:
one which accepts a name and a DbConnection derived instance and one which

[2017-05-19 09:19] Jiayili1 opened #19995 "Desktop: System.Tests.Environment_Exit.ExitCode_VoidMainAppReturnsSetValue failed with "Xunit.Sdk.EqualException""
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/netfx_windows_nt_debug_prtest/453/System.Tests/Environment_Exit/ExitCode_VoidMainAppReturnsSetValue_mode__1_/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-05-19 10:20] stephentoub opened #19996 "KeyInfoX509DataTest.Complex failed with "Invalid handle" on macOS in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release_prtest/3761/consoleText
[code]
cc: @krwq, @bartonjs

[2017-05-19 10:48] adamhathcock commented on #7570
I would also like access to the zlib internals to use the native implementation instead of a managed version I have.  This is specifically to expose GZip functionality like the filename or comment.

This is for SharpCompress: https://github.com/adamhathcock/sharpcompress

[2017-05-19 11:21] stephentoub commented on #19995
Why did this test run?  It's marked [ActiveIssue]:
https://github.com/dotnet/corefx/blob/0ebc867d6bad9d777dd61afb78d0445c86143b34/src/System.Runtime.Extensions/tests/System/Environment.Exit.cs#L52

cc: @safern

[2017-05-19 11:26] AtsushiKan opened #19998 "Clean up if netcoreapp usage in System.Runtime.Tests."
First, this define should also be on for uapaot builds.

Second, it's mostly used now to guard access to the "Enum's with funny backing type" statics (s_boolEnumType and friends.) These should be replaced with something that gates on PlatformDetection.IsReflectionEmitSupported.

[2017-05-19 11:30] jnm2 commented on #4571
I'm looking forward to see what you come up with because on .NET Framework, I've had to use reflection and directly modify the backing DataTable to dynamically register at runtime.

[2017-05-19 11:36] FransBouma commented on #4571
at .net full you can register the factory either in your application's app/web.config file or in the machine.config file, there's no need to alter the backing datatable at runtime on .net full (other than to wrap existing factory registrations).

[2017-05-19 11:58] jnm2 commented on #4571
@FransBouma Specifically for scenarios where I can't or don't want to register the factory ahead of time in a .config.

[2017-05-19 12:04] FransBouma commented on #4571
the design of the system on .net full is based on configuration of factories ahead of time, I have never ran into a scenario where it wasn't appropriate to have the factory registered ahead of time. The factory is read once anyway, so registering it later on dynamically doesn't save you anything, and in fact could run into race conditions as the table you're altering isn't guarded by a lock. Anywa

[2017-05-19 12:09] madsiberian commented on #11978
@karelz Could you please close the issue as @CIPop proposed?

[2017-05-19 12:18] jnm2 commented on #4571
@FransBouma This is two unit testing factories. Managing .config files is too much overhead for lots of test dlls. It should be plug and play. Anyhow, whatever you do in corefx will be interesting. I'll see if it can be polyfilled on netfx.

[2017-05-19 12:22] stephentoub commented on #13447
https://github.com/dotnet/corefx/pull/19997 was merged to fix this in master, but leaving this issue open to track a release/2.0 port once approved.

[2017-05-19 13:04] hugosmarques commented on #19929
Anyone have a workaround in order to proceed with my tests?

[2017-05-19 13:11] bartonjs commented on #19996
Probably a GC.KeepAlive problem in that ctor (pure speculation).

@danmosemsft do we have GCStress runs running anywhere yet?

[2017-05-19 13:26] divega commented on #4571
@FransBouma FYI, I went ahead and created an issue to bring this API into .NET Standard: https://github.com/dotnet/standard/issues/356. The exact version of .NET Standard is going to depend on schedule. The proposal reflects some thinking I have done on the API, but it is completely open to feedback. A few principles:

1. We should have existing API in .NET Framework and Mono as the baseline. That

[2017-05-19 13:36] svick commented on #19987
What happens with collections which already implement `IFormattable`? For those, code like `{names:J', '}` is already valid and already might do something reasonable.

And even ignoring that, what code do you propose this should generate? Right now, interpolated strings are compiled using a fairly simple translation to calls of `string.Format()`. Should `string.Format()` be changed to accept this

[2017-05-19 13:52] FransBouma commented on #4571
@divega

netstandard should be great indeed, otherwise people who create a netstandard targeting dll can't see the class anyway (as I'm currently facing in the tests as I can't add a test, so I can't proceed at the moment :( , but that's discussed in the PR)

The API indeed does this for 99.9%. In the .NET full version, it registers 4 factories, always: ODBC, OleDB, SQLClient and OracleClient. On

[2017-05-19 14:05] divega commented on #4571
@FransBouma by in-memory implementation I mean that it is based on a dictionary that collects the key-values from the calls to `SetFactory` rather than entries in `System.Configuration`. A hybrid implementation would be what we will we have in .NET Framework and Mono once we port the `SetFactory` method there: it will have to take into account both what is in configuration entries and the calls to

[2017-05-19 14:07] mccbraxton commented on #17905
First time contributor, I'd like to take a swing at System.Linq.Expressions.

[2017-05-19 14:15] divega commented on #4571
@FransBouma this is another area in which I have concerns. In .NET Core in general we have been trying to follow a pay-per-play principle. It is not great if using these APIs causes multiple assemblies to be loaded in memory without knowing that the application is going to need them. I wonder if we can have the list empty by default and require the call to `SetFactory` even for the providers that

[2017-05-19 14:26] marek-safar commented on #19914
@ericstj is there any doc how NETStandard.Library.NETFramework package is suppose to be used or migrated to? It now has PreferInbox flag but as nobody told us about new APIs there, it'll crash at runtime on Mono due to API mismatch.

[2017-05-19 14:45] FransBouma commented on #4571
@divega

The implementation I'm having now is using a datatable internally with a lock, similar to the one in netfx, with the difference that it simply creates an empty datatable at startup (static initializer of the field) instead of reading config info, as that's not there.

`SetFactory` simply alters that table so that should work on .net full as well (same lock code has to be added there of co

[2017-05-19 15:16] rainersigwald opened #20000 "XPathNavigator.InnerXml throws when replacement should be a text node"
When the `XPathNavigator.InnerXml` is called with a string that consists only of text (not surrounded by XML tags), it throws an `XmlException`: `Data at the root level is invalid. Line 1, position 1.`. This does not happen on .NET Framework 4.7 (I'm on Creators Update, 15063.296).

This is a fairly straightforward repro:

[code]

Changing the assignment to
[code]
appears to work fine.

[ConsoleAp

[2017-05-19 15:18] FransBouma commented on #4571
Calling SetFactory with an existing invariantname only overwrites the AssemblyQualifiedName value, so the factory type, the rest (name/description) is kept as-is as it doesn't really makes sense to alter these at runtime and keep the invariant name, IMHO.

[2017-05-19 15:43] ericstj commented on #19914
I believe all the APIs in there are all part of netstandard 2.0.  /cc @weshaggard @davidsh

[2017-05-19 16:25] #19809 closed

[2017-05-19 16:26] shmao commented on #19585
/cc: @morganbr

[2017-05-19 16:38] daxian-dbw commented on #13447
@stephentoub Thank you so much for getting the fix approved for `netcoreapp2.0`!

[2017-05-19 16:44] safern commented on #19995
Will take a look.

[2017-05-19 16:48] #19432 closed

[2017-05-19 16:48] davidsh commented on #19974
cc: @weshaggard

Individual NuGet packages for each library are no longer produced except for a few ones.  Aggregate NuGet packages are created instead containing many libraries.  @weshaggard and @ericstj can explain more.

[2017-05-19 16:48] #19101 closed

[2017-05-19 16:50] AtsushiKan commented on #17048
Pulling back on this fow now.

[2017-05-19 16:50] #17048 closed

[2017-05-19 16:53] safern commented on #19995
The tests are not running. The failure that @Jiayili1 is pointing out is for a CI leg in PR: #19232 which is actually enabling this tests. This test is not running in official builds.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/

[2017-05-19 16:53] #19995 closed

[2017-05-19 17:09] #19835 closed

[2017-05-19 17:13] ericstj commented on #19974
SqlClient still has a package.  If you just want to build its package you can directly build the pkgproj.  If you'd like yo build all packages you can run build -allConfigurations from the root. You can use build-packages -allConfigurations, but that assumes you have done at least one build -allConfigurations from the root.

[2017-05-19 17:13] busbina commented on #19837
I need it for legacy customer support, it already comes disabled, and I am fine enabling based on customer needs. Without it we are stuck on MSXML 6.0, with no package deployment options.

[2017-05-19 17:16] steveharter commented on #19683
I tried another repro on RHEL and it did not repro; both debug and release builds.

The test should probably be re-written as it catches and eats exceptions I assume for the 'negative' tests. I don't think there should be any SocketExceptions of ObjectDisposedExceptions for the 'positive' tests. This can mask problems for the positive tests.

[2017-05-19 17:26] stephentoub commented on #19430
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/osx10.12_debug_prtest/84/consoleText
[code]

[2017-05-19 17:28] danmosemsft commented on #19996
We have completed GCStress mode 3 in Windows and Unix on both release and debug for Crypto and nothing was found.

It's easy to try yourself locally - set an environment variable TestGCStressLevel=3 and run the tests as normal. It wraps xunit with the COMPLUS variable. You could loop it, maybe over just this test.

[2017-05-19 17:31] davidsh commented on #11978
What does "fake Interop" mean?  Perhaps our mocking WinHTTP with our fake Interop is actually returning the wrong thing based on a set of wrong assumptions.

I would recommend you debug this using real interop (WinHTTP) and see what it returns.

[2017-05-19 17:39] danmosemsft commented on #20000
@sepidehMS can you evaluate

[2017-05-19 17:43] danmosemsft opened #20002 "HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test.SetDelegate_ConnectionSucceeds failed with System.Net.Http.CurlException : SSL connect error"
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/osx10.12_debug_prtest/84/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds_acceptedProtocol__Tls__requestOnlyThisProtocol__False_/
[code]

[2017-05-19 17:45] danmosemsft opened #20003 "System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test.SetDelegate_ConnectionSucceeds failed with Cannot acquire the global certificate mutex."
https://ci.dot.net/job/dotnet_corefx/job/release_2.0.0/job/osx10.12_debug_prtest/84/testReport/junit/System.Net.Http.Functional.Tests/HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test/SetDelegate_ConnectionSucceeds_acceptedProtocol__Tls__Tls11__Tls12__requestOnlyThisProtocol__False_/

[code]

[2017-05-19 18:01] morganbr commented on #19585
That's part of the plan for #19119

[2017-05-19 18:02] #19974 closed

[2017-05-19 18:04] CIPop commented on #19430
@mmitche what are the specs of the machines OSX running on? (CPU/RAM) How many parallel instances of the tests are we running on them? What is the average CPU utilization when CI runs?

@stephentoub @karelz @steveharter Do we notice a lot of issues with other tests on the OSX machines caused by slowness?

@bartonjs - one of the threads failed to acquire the cert loading mutex in more than 30 secon

[2017-05-19 18:07] CIPop commented on #11978
Based on @madsiberian's investigation and explanation I think the correct buffers are calculated. I'm closing the issue.

@madsiberian if the real-WinHTTP debugger session gives you a different buffer, please reopen / add a comment here.

[2017-05-19 18:07] #11978 closed

[2017-05-19 18:19] stephentoub commented on #20002
@danmosemsft, what does "blocking clean ci" mean in this case?  Is it failing on every run?

[2017-05-19 18:19] Priya91 commented on #19593
It's not i've added explanation to the linked PR. The url is not invalid, when HttpListener is not able to resolve the host to an IPAddress, it listens on 0.0.0.0, which is ipaddresses of all network interfaces. Hence, this test case is not what we want. It failed only on osx, because listening to 0.0.0.0 requires sudo access, and the innerloop runs except osx are not run in sudo environment. As a

[2017-05-19 18:20] stephentoub commented on #20003
This isn't specific to this test; it's the helper that's loading a cert blocking.
cc: @cipop

[2017-05-19 18:21] mmitche commented on #19430
@CIPop:

- IIRC, 16GB 4 core.
- Generally one, but a few nodes run 2.
- We probably run as many tests in parallel as there are CPUs, but that is controlled by the repo, not CI.
- I don't know average CPU utilization during the run.

[2017-05-19 18:22] stephentoub commented on #20002
I expect this is the same issue as https://github.com/dotnet/corefx/issues/20003, just with a different manifestation.  Closing for now under that assumption.

[2017-05-19 18:22] #20002 closed

[2017-05-19 18:23] stephentoub commented on #20003
Dup of https://github.com/dotnet/corefx/issues/19430 (different test, but same global mutex failure)

[2017-05-19 18:23] #20003 closed

[2017-05-19 18:27] danmosemsft commented on #20002
@stephentoub you're right we should use that tag only for issues that CI is hitting frequently.

[2017-05-19 18:27] ViktorHofer commented on #17905
Great @mccbraxton! If you need any help, ping me.

[2017-05-19 18:30] ViktorHofer commented on #17905
@mccbraxton It seems System.Linq.Expressions is already cleaned up. Do you want to take another piece?

[2017-05-19 18:32] CIPop opened #20007 "UWP: System.Net.Primitives"

[2017-05-19 18:33] garora opened #20008 "Question: What is the purpose of public method ValueTuple.Equals(ValueTuple other) ?"
Hi there,
While looking into [ValueTuple.cs](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs) class, I observed that there is one public method:

[code]
This method always return ``true```. Just wanted to check what is the purpose of this method and why it is simply returning ``true`` ?

[2017-05-19 18:35] CIPop opened #20009 "Networking UWP work"
Tracking all issues related to System.Net.* UWP work.

[2017-05-19 18:38] CIPop commented on #20007
Fixed by #19960.

[2017-05-19 18:42] davidsh opened #20010 "UWP: System.Net.Http"
Tracking work for UWP System.Net.Http, related to Epic #20009

[2017-05-19 18:53] Priya91 commented on #18949
@danmosemsft This will require flipping the default value of the property on desktop to false or providing implementation for true on Core, and making default on Core to true? I'm not sure what the process for DCR is, I'll be on vacation starting Monday, so someone else will have to drive it, to get it in before 2.0..

[2017-05-19 18:54] mccbraxton commented on #17905
@ViktorHofer You're right - must have read wrong.  How about System.Security.Cryptography.Algorithms?

[2017-05-19 18:56] CIPop commented on #19430
Thanks @mmitche: this doesn't sound like a resource issue.
I doubt this is my code since it runs fine on Windows and Linux.

@kouvel, @alexperovich, PTAL regarding a potential Mutex problem
@bartonjs, @steveharter PTAL regarding a potential X509 problem

[2017-05-19 18:59] mellinoe commented on #18765
@jlanng Sorry for the late response.

Timing data is collected regularly for all of our tests and archived. We have an internal tool which we can use to analyze trends in this data, and identify when regressions have occurred. Right now we are at the stage where we just need to "get better tests" so that the data and trends we see are more stable and coherent. But that is the long-term strategy.

[2017-05-19 19:04] weshaggard commented on #19929
I'm not really aware of any good workaround with the preview1 bits. With PR https://github.com/dotnet/corefx/pull/19989 the System.Security.Permissions package should work however I think you will then immediately hit the DbDataPermission issue. That could also be fixed by taking our nightly preview2 bits. Once we get https://github.com/dotnet/corefx/pull/19989 merged and a package for that I will

[2017-05-19 19:25] CIPop opened #20014 "UWP: System.Net.NetworkInformation"

[2017-05-19 19:35] ericstj opened #20015 "Simple name conflict resolution is not working for NETStandard.Library.NETFramework"
Originally reported here: https://github.com/dotnet/standard/issues/355

Conflict resolution does not try to resolve conflicts between simple name references because it does not attempt to duplicate assembly search path probing done by RAR.

The SDK does removal of simple name references that overlap with nuget packages.  This is "good enough" in most cases.

The problem is that the NETStandard.Li

[2017-05-19 19:37] kouvel commented on #19430
If the code in-between `m.WaitOne()` and `m.ReleaseMutex()` throws for some reason (in this run or a parallel one), then the mutex may remain locked until the process terminates. I don't see other failures in this run, but a thing to try could be to ignore `AbandonedMutexException` from the `WaitOne()` call, and use try/finally for the code in-between with `ReleaseMutex()` in the finally block. At

[2017-05-19 19:46] ericstj commented on #19949
Reopen for rel/2.0

[2017-05-19 20:08] ViktorHofer commented on #17905
Looks good! Please make sure to not delete code which is used by any target. Thanks for your help!

[2017-05-19 20:24] karelz commented on #19701
This is P0 due to its impact on our ability to do business - it affects all CoreFX repo developers, all contributors. We need to work on it as P0-ish thing. That's an actionable thing.
We need to somehow address it. If it means disabling tests, fixing tests or fixing product, that's a decision I expect the area owners to make.
Trying to get a repro may be part of the job, if the area owners decide

[2017-05-19 20:25] danmosemsft commented on #18949
@Priya91 we discussed this offline (I think you were included) and believe the right thing is

- on Windows, add support (throw for true where API is not there ie Windows Nano)
- set default to false (better cloud optimized default as it's 10x faster also avoids different Nano behavior)
- depending on feedback, consider quirking the ability to set default to true for an app (like desktop)
- consid

[2017-05-19 20:27] steveharter commented on #19701
Note that GetAsync_AllowedSSLVersion_Succeeds repros on Win7 CI machines at a ~3% failure rate (see dup'd issue https://github.com/dotnet/corefx/issues/13281)

[2017-05-19 20:31] daxian-dbw commented on #13447
Close the issue as the fix has been ported to `release/2.0` via #20001

[2017-05-19 20:31] #13447 closed

[2017-05-19 20:33] svick commented on #20008
The `ValueTuple` type represents a zero-element tuple (a.k.a. nuple). It exists, even though there is no special syntax for it in C#. Just like all the other `ValueTuple` types, it supports value equality. And since it doesn't have any data, two zero-element `ValueTuple`s are always considered equals.

This probably isn't very useful on its own, but I can imagine some generic code where this becom

[2017-05-19 20:53] garora commented on #20008
@svick - Thanks for the heads up. Would you mind to share generic code where this becomes useful?

[2017-05-19 20:57] ashmind commented on #19987
@svick

Those have to work as before, don't see any other choice.

Yes. I used interpolation because it's a bit clearer to write, however I'm talking about formatting only -- no changes to interpolated strings as a syntax feature.

[2017-05-19 21:28] karelz commented on #19985
Correct, labels can be changed only by people who have RW permission to entire repo :( ... giving such permissions (incl. code base) to non-MS people is legally challenging for Microsoft :(

We need to push on GitHub to allow specific permissions to change labels - we could give it to a few trusted contributors then.

[2017-05-19 21:30] karelz commented on #19882
@saurabh500 can you please advise which change is must-have for 2.0 and how best to move forward here?

[2017-05-19 21:31] kumpera opened #20020 "Behavior difference between CoreFX and desktop WRT IO and symlinks"
CoreFX handles symlink loops differently that desktop dotnet.

On desktop, it throws UnauthorizedAccessException if you try to do any IO (such as File.Open) on such scenario.

I'm not 100% CoreFX handle the windows case correctly, but I'm positive it doesn't in unix case as that scenario gets you an ELOOP and GetExceptionForIoErrno doesn't handle it.

[2017-05-19 21:35] CIPop commented on #19430
Thanks @kouvel : I'll make a change to remove that possibility and crash the process immediately if any exception is thrown from the inner code or if we get an `AbandonedMutexException`.

[2017-05-19 21:36] karelz commented on #14674
Does it work in Desktop?
How common is the scenario?

[2017-05-19 21:37] svick commented on #20008
It's not that great of an example, but consider that you have a method that can [memoize](https://en.wikipedia.org/wiki/Memoization) one-parameter functions:

[code]

How do you memoize two-parameter functions? You use two-tuple:

[code]

The one-parameter `Memoize` probably uses a dictionary, and this takes advantage of the fact that `ValueTuple<T1, T2>` supports equality, so it can be used as a

[2017-05-19 21:41] kouvel commented on #19430
In the event of `AbandonedMutexException` being thrown, the lock is taken so it would still have to call `ReleaseMutex` before crashing, otherwise the "abandoned" state will be reinstated by this process since it will end up abandoning it upon termination. I think it's ok to ignore the exception, it's only an indication that someone else abandoned it, but is not relevant to this test run - the err

[2017-05-19 21:46] mellinoe commented on #20020
I guess you are referring to the mono implementation here?

[2017-05-19 21:47] kouvel commented on #19430
Also if the process is crashed without releasing the mutex and another process from a parallel test run has it open, the other process will get the abandoned mutex exception. Since this is a global mutex, crashing after release would be good I think.

[2017-05-19 21:57] bartonjs commented on #19430
Nope. We do quite a lot of wacky things in the X509 tests, and the whole library finishes in well less than 30 seconds.  But 60 things running into a 0.5 second IO + cryptography operation means 30 seconds of wait.

[2017-05-19 21:59] garora commented on #20008
@svick - These examples are good and provide some inside. I am looking some kind Deep - Dive ``ValueTuple`` so, need more examples. Thanks you so much for your time and for these examples.

[2017-05-19 22:01] Priya91 commented on #19994
One time failure on new distro, moving to Future

[2017-05-19 22:04] CIPop commented on #19430
500ms seems a lot for disk I/O (the lock shouldn't be held by network I/O) but since we don't have more info I'll also increase the time to 1 minute.

[2017-05-19 22:07] kumpera commented on #20020
Mono now has the same behavior as dotnet desktop.
CoreFX (thus Dotnet Core) doesn't.

I found this, in fact, while fixing mono.

[2017-05-19 22:22] bartonjs commented on #19430
@CIPop I don't actually have a 500ms data number, I was just pointing out that it could be that things are "just slow enough" that with enough queueing that things are going out of timing bounds.

[2017-05-19 22:40] danmosemsft opened #20024 "Test failure: System.Net.Http.Functional.Tests.ResponseStreamTest / ReadAsStreamAsync_ValidServerResponse_Success"
## Type of failures

### The server returned an invalid or unrecognized response

Failure [20171216.02](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171216.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transfer

[2017-05-19 22:56] Priya91 commented on #19986
Investigated this a bit, on Unix, httplistener is trying to resolve the hostname to a valid ipadress, if it can't then it uses IPAddress.Any [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/src/System/Net/Managed/HttpEndPointManager.cs#L132). On windows, the native httpapi throws "errorcode 50, request is not supported." The windows behavior is inconsistent in that,

[2017-05-19 23:12] CIPop commented on #19430
@bartonjs You may be correct. I did a simulation: on my machine 50 parallel executions (each has 79 parallel tests using the mutex) of the Security tests will drive the average time spent in the mutex to 12sec (decreases as the tests complete to around 8-9sec). For one instance of the tests the average time spent in the mutex is 0.1sec.

[2017-05-19 23:14] Priya91 commented on #19984
@stephentoub Do we need to match the windows behavior in this case? On windows http.sys imposes limit that each read cannot be of buffer size greater than 128k [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/src/System/Net/Windows/HttpRequestStream.Windows.cs#L65). I'm not sure why it has that limitation, but on managed we don't have such restrictions.

[2017-05-19 23:19] stephentoub commented on #19984
No, we don't need to artificially constrain the amount of data you can read in a single call.

[2017-05-19 23:38] huanwu commented on #19930
@mellinoe I now let my app target at NetCoreApp. The change is as the following
https://github.com/huanwu/corefx/commit/0ca8fbfb74be3168b169a981f54e03ad0a014ba9
 Build success. But I got the following error when execute the app.
[code]

[2017-05-19 23:45] stephentoub commented on #19923
The Helix machines are not configured well.  I spent way too long on this today, but with @janvorli's help we found that, unlike the Jenkins CI machines which all have /proc/sys/vm/overcommit_memory set to 0 (also generally the default on Linux), the Helix machines have it set to 2.  While it's set to 2, these tests fail.  Change it to 0 or 1 (e.g. `echo 0 > /proc/sys/vm/overcommit_memory`), and t

[2017-05-20 00:17] danmosemsft commented on #20008
@jcouv

[2017-05-20 00:25] danmosemsft commented on #19923
Hooray. I wonder if it's worth having something in our test setup scripts that checks for conditions like insufficient memory, incorrectly configured disks, this setting here, etc and fails out explicitly. We've seen each of these from time to time and it would be cheaper than root causing if reconfiguring some VM image regresses them...

[2017-05-20 00:28] bartonjs commented on #19933
Fixed with #20005 and #20026.

[2017-05-20 00:28] #19933 closed

[2017-05-20 00:46] CIPop commented on #20009
System.Net component layering:

![image](https://cloud.githubusercontent.com/assets/8635911/26271454/e071b3ce-3cba-11e7-8a71-b09626b03c16.png)

[2017-05-20 01:15] CIPop opened #20033 "UWP: System.Net.Security"
Tracking work for System.Net.Security for UWP.

[2017-05-20 02:30] danmosemsft opened #20034 "Directory Delete tests failing on Unix"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170520.01/workItem/System.IO.FileSystem.Tests

@JeremyKuhne perhaps related to 801dde95 / https://github.com/dotnet/corefx/pull/19959

[code]
[code]

[2017-05-20 02:46] danmosemsft commented on #20034
@JeremyKuhne looks like you missed it because this is `[OuterLoop]`. I'm not sure why but perhaps because it tries to delete the root directory!
Since your change `Directory.Delete('C:\')' is throwing DNFE on Unix instead of IOEX as it does on Windows (and I assume it does on Desktop - I dare not try..)

[2017-05-20 02:49] danmosemsft opened #20036 "InvalidCertificateServers_CertificateValidationDisabled_Succeeds failed with WinHttpException : A security error occurred"
Perhaps a dupe, but I can't find it (there are many Http test failure variations right now)

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170520.01

[code]

[2017-05-20 02:51] danmosemsft commented on #14673
Again https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170520.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveApm~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::1,%20pollBeforeOperation:%20True)

[2017-05-20 02:53] morganbr commented on #6564
@justinhelgerson , the scale-back changes aren't in Preview 1 (we're still working on them!), but you should be able to try them with daily builds or a future preview soon.

[2017-05-20 02:54] danmosemsft commented on #19218
Ping @saurabh500  - this is failing consistently, is that important scenario ?

[2017-05-20 02:54] danmosemsft commented on #19876
@ChadNedzlek do you need htis issue or will oyu track in core-eng.

[2017-05-20 03:01] danmosemsft commented on #19119
@morganbr I believe you and @stephentoub have settled on the supported list. Can you post it here for all to see?

[2017-05-20 03:09] morganbr commented on #19119
The list is at https://gist.github.com/morganbr/2a9901b12f1d342285694e69983a12d0 . It's grown slightly due to dependencies of the types we originally chose (mostly by adding several comparers). It's possible the desktop compatibility changes could pull something else in, but right now, I'm not aware of anything else we'd add.

[2017-05-20 03:59] saurabh500 commented on #19218
Yes. Integrated auth is important. This should be triaged to 2.0

[2017-05-20 04:24] danmosemsft commented on #19218
OK. LMK if you need help using Nano. I have instructions for getting access to a box. (Don't know how to build/run tests on it, but only install Core and run code..)

[2017-05-20 05:16] gkhanna79 commented on #16335
@jyoungyun Please let me know when this can be closed.

[2017-05-20 06:23] ChadNedzlek commented on #19876
We'll track it with the linked issue.

[2017-05-20 06:23] #19876 closed

[2017-05-20 12:57] WinCPP commented on #18017
@onovotny gentle ping... please see above... held off because folks were busy with 2.0... thanks! 😃

[2017-05-20 13:45] Denterl commented on #8645
The same issue reproduced for .net core 2.0 preview 1, tried to connect from ubuntu x64 16.04 lts. The same code successfully connects from Windows 10 Creators Update

[2017-05-20 13:57] onovotny commented on #18017
@WinCPP I think so, but that may be a better question for @terrajobst

[2017-05-20 15:35] ditta95aR opened #20039 "Master"
#1477

[2017-05-20 15:56] agatlin commented on #9162
@vermorel, You make excellent points, and I agree with them completely. I have been using Newtonsoft.Json and have been almost since the time it was first released. With every new update of the .NET framework, I always expect that Microsoft will have included some equivalent of Newtonsoft.Json. To my repeated surprise, they never do. As you have mentioned Newtonsoft.Json 1) fills a major gap in .N

[2017-05-20 16:22] vitek-karas commented on #2295
I think we should also consider the impact of adding new code to the size of the applications. AOT toolchains (.NET Native, CoreRT, Xamarin) all use tree shakers to avoid including code which the app won't use. But in order for these to work, the dependency on the new code has to be discoverable at compile time. This typically means that if the only difference is a value of a parameter the tree sh

[2017-05-20 16:27] GSPP commented on #2454
@AArnott thanks for those contributions. It is very helpful to have a set of workarounds documented.

It seems these workarounds are mostly for the code that's waiting. I was more concerned with the code that is *completing*. If I'm waiting I'm already expecting other code to run (on any stack). This means that I cannot hold conflicting locks and my exposed state must be clean. Here, there is an e

[2017-05-20 16:51] binki commented on #2454
If it's going to chang behavior of the API, I think it should change per assembly depending on the framework version being targeted during compile time instead of through `app.config`. Like having a different default parameter value for a particular method in the reference assemblies so that when you run it on a different framework version the behavior doesn't change.

[2017-05-20 17:25] svick commented on #9162
It is. `Newtonsoft.Json` serves as that library in ASP.NET Core.

I'm unclear what exactly the deficiency is, according to you.

Namespace itself doesn't mean anything, I can publish a package like `System.Nonsense` (or `Microsoft.Nonsense`), but it doesn't mean it contains high-quality code approved by Microsoft.

Also consider all the issues that occur when there are two competing ways to do the

[2017-05-20 17:33] Thaina commented on #9162
I wish something as common as JSON should have a library with **high-quality code approved by Microsoft**. Like `System.XML`

Introducing `System.Json` (back) into corefx would not breaking anything of anyone already using `Newtonsoft.Json` because it has difference namespace so I don't know why `two competing ways to do the same thing` can leads to _bad interoperability_ and _breaking existing co

[2017-05-20 17:42] Thaina commented on #9162
Also what `System.Json` actually contains can only be compared to just `NewtonSoft.Json.Linq`

But the thing is. `NewtonSoft.Json` should be extended to `System.Json` and `System.Json` itself should be the reliable library anywhere because `JSON` is so common nowaday. It too common to the point that it should not need nuget. If we don't need nuget for `System.Text.Encoding` or `System.Net` or `Sys

[2017-05-20 17:58] karelz commented on #19987
Is this something handled in CoreFX? This feels more like Roslyn magic to me ... I may be wrong ...

[2017-05-20 17:58] karelz commented on #19996
@ianhays can you please take a look?

[2017-05-20 18:02] jcouv commented on #20008
Future C# language features will likely instantiate ValueTuple'0 and we felt the comparison should be there for consistency with ValueTuple types of arity 1 through 7.
In other words, I don't expect it to be instantiated or compared presently (by user code).

[2017-05-20 18:04] svick commented on #9162
@Thaina

`Newtonsoft.Json` is like that too. If the code wasn't high-quality and approved by MS, they wouldn't use it in their products, like ASP.NET Core.

You seem to want something different than other people here. They keep saying what they want is basically renamed `Newtonsoft.Json`.

Also, according to [this benchmark](http://theburningmonk.com/2014/08/json-serializers-benchmarks-updated-2/)

[2017-05-20 18:11] jcouv commented on #20008
One more thing related to @svick's example: ValueTuple'0 can be useful in functional-style programming.
Lukas Lansky had an article on that (using ValueTuple'0 instead of void, to represent `()` from functional languages).
See https://programming.lansky.name/void-free-style/

[2017-05-20 18:13] karelz commented on #19857
Reopening to track the 2.0 fix

[2017-05-20 18:30] karelz commented on #19593
Reopening to track 2.0 port.

[2017-05-20 18:31] karelz commented on #19827
Reopening to track 2.0 port

[2017-05-20 18:46] davidfowl commented on #2454
@GSPP speaking for SignalR and ASP.NET in general, we learnt this all the hard way when we did SignalR ~4 years ago. Now we know all of the tricks but it took a bunch of bugs to get there. We also have to educate developers because the behavior is pretty non-obvious. We just need to make sure options like `RunContiuationsAsynchronously` can be passed to all of the things (even cancellation token c

[2017-05-20 18:49] karelz commented on #18017
If you think we need adjustment to the API proposal, please paste it here and I will mark it again for API review once you and area expert @mellinoe agree on the shape.

[2017-05-20 18:54] AArnott commented on #2454
@GSPP Yes, what you say makes sense. But solving this at the completing side is straightforward: just wrap your code that completes the task in a `Task.Run` delegate. That will ensure any continuations don't inline within your locks. And for cancellation you can do the same thing: `Task.Run(() => cts.Cancel());`

@stephentoub will have to comment on whether anything can or will change here. I'm an

[2017-05-20 18:54] garora commented on #20008
@jcouv - good to hear that future C# language feature would begin new era. I liked void free styling. On the same node one more unresolved question for ``` ToString() ```, it always return "()" and it makes sense for ValueTuple'0 but what about other ValueTuple types (arity 1 through 7).

[code]
This is happening here:

[code]

why this inconsistency, why we are not considering others 1 to 7 ?

[2017-05-20 18:55] karelz opened #20040 "Port 2.0: Fix Unix missing file state"
We need to port #19959

cc @JeremyKuhne @stephentoub

[2017-05-20 18:57] karelz opened #20041 "Port 2.0: Prep tests for CoreCLR/CoreRT [Serializable] cleanup"
We need to port PR #20035

cc @morganbr @stephentoub

[2017-05-20 18:58] Priya91 commented on #19986
fixed in #19955

[2017-05-20 19:04] onovotny commented on #18017
@karelz I don't think this changes the API shape, it's more about how to handle integer overflows in the implementation.

[2017-05-20 19:43] jcouv commented on #20008
@garora, sorry I didn't understand the question.
`ToString` on the various ValueTuple types is extensively tested. `(1, 2).Tostring()` will print "(1, 2)", and so on.
Please provide a concise example for your question.

You can also review the [tests](https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/tests/ValueTupleTests.cs) and point to any line that is unexpected. Note that the

[2017-05-20 20:16] svick commented on #19987
@karelz

The Roslyn magic is that it translates e.g. `$"Allowed names are: {names:J', '}."` into `string.Format("Allowed names are: {0:J', '}.", names)`. Based on [the comment above](https://github.com/dotnet/corefx/issues/19987#issuecomment-302809663), this proposal is about changing how `string.Format` behaves in those cases, which is a corefx issue.

[2017-05-20 20:18] garora commented on #20008
@jcouv - cheers, most of tests are working now. There was one type ;(
Tests with Octuple is failing, here is the one example with exception of return type:

[code]

[2017-05-20 21:29] davidfowl commented on #2454
@AArnott

But that's inefficient. If there are no callbacks you still end up using a thread pool thread just to call cancel. CancellationToken itself knows on the other hand if it needs to dispatch or not and can do it at the right level.

[2017-05-20 22:16] AArnott commented on #2454
True. But then again so is *always* using the threadpool to start continuations when most of the time, running them inline is OK. Not to argue. I'm just pointing out you win some and you lose some.

[2017-05-20 22:58] RickStrahl opened #20043 "HttpWebRequest.ReadWriteTimeout property returns NotImplemented"
Looks like HttpWebRequest.ReadWriteTimeout throws a NotImplemented exception.
Also HttpWebRequest.ConnectionGroupName

Expected:
Either work with expected behavior, or remove from NET Core altogether as this will result in an unexpected runtime error.

[2017-05-20 23:05] cStorm commented on #18023
So I got a proof of concept working, and the short of it is that QueryDosDevice does pick up the ports (with the naming scheme seen in UWP).  After relaxing SerialStream's requirement for a "COM*" port name, it seemed to communicate normally as well.

I'd like to share more of what I've found and eventually make a pull request, but before really getting into it, I'd like to confirm whether here or

[2017-05-20 23:17] shaggygi commented on #18023
@cStorm What platform does your code work on?  I'd say just create a pull request and add link to this issue.  There is probably more work to do and this issue could be a method to group the progress on the different flavors (win iot, linux, etc).  Thx for your effort in helping this feature.

[2017-05-20 23:35] davidsh commented on #20043
There is no ReadWriteTimeout on The System.Net.WebRequest class.

Can you provide a link to the source code in question in .NET Core?

[2017-05-20 23:37] davidsh commented on #20043
Perhaps you meant the "Timeout" property in WebRequest.
https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/WebRequest.cs#L469

The WebRequest class is an abstract class and many of the properties are virtual and aren't implemented in this base class.

The behavior is the same on .NET Framework:
https://github.com/Microsoft/referencesource/blob/master/System/net/Sys

[2017-05-20 23:59] stephentoub commented on #19996
I'll take it; I believe I see the problem.

[2017-05-21 00:13] jcouv commented on #20008
Unless you're reporting an issue with the implementation, I feel those questions are more appropriate for stackoverflow.
Try `ValueTuple.Create(1,2,3,4,5,6,7, ValueTuple.Create(8)`;

[2017-05-21 00:13] #20008 closed

[2017-05-21 00:16] danmosemsft commented on #20040
Fix https://github.com/dotnet/corefx/issues/20034 first

[2017-05-21 00:43] jcouv commented on #20008
For more details on how to nest ValueTuple for long tuples (8 elements or more), see http://mustoverride.com/tuples_valuetuple/

[2017-05-21 01:13] sepidehMS opened #20046 "Behavior difference in System.Uri.IsAbsoluteUri on some platforms when UriKind = UriKind.RelativeOrAbsolute"
The following code snippet fails on Ubuntu<s>14.04</s>, OSX, PortableLinux, and CentOS, while it passes on Windows <s>and Ubuntu16.04.</s>
[code]
This was discovered in https://github.com/dotnet/corefx/pull/19735 when investigating a XmlSchema validation test failure. [In case it helps: XmlSchemaSet creates such Uri in [here](https://source.dot.net/#System.Private.Xml/System/Xml/Schema/XmlSchemaSe

[2017-05-21 01:13] sepidehMS commented on #20046
@danmosemsft Who would be the right person to look at this?

[2017-05-21 01:51] cStorm commented on #18023
@shaggygi The change is for Win IoT running on a Raspberry Pi, and I'm using a Windows 10 desktop for building / basic regression testing.

On the topic of cross-platform support, there were actually a few things I wanted an opinion on.  First is concerning the best value to return from SerialPort.GetPortNames().  To illustrate the situation, these are the relevant results my desktop returns from

[2017-05-21 02:23] Priya91 commented on #19984
This issue as by-design.. @hughbe please re-enable test as per expected behavior..

[2017-05-21 02:50] Thaina commented on #9162
I don't see that would be breaking anything exist. Well, because I just want the original `System.Json` not renaming the `NewtonSoft.Json`. `System.Json` object class even have different name than `NewtonSoft.Json`

And I'm also against renaming `NewtonSoft.Json`. Even if it included it in corefx I would like it still having the creator name as namespace

ASP.NET core does not the only place we us

[2017-05-21 03:06] stephentoub opened #20050 "Several HttpListener tests with "+" host failing on Unix"
e.g.
[code]

[2017-05-21 03:18] RickStrahl commented on #20043
Sorry HttpWebRequest... updated the title to reflect.

https://docs.microsoft.com/en-us/dotnet/api/system.net.httpwebrequest.readwritetimeout?view=netframework-4.7#System_Net_HttpWebRequest_ReadWriteTimeout

Here's what I see when debugging through:

![image](https://cloud.githubusercontent.com/assets/1374013/26280877/4872332a-3d99-11e7-98f2-678470b0d063.png)

This code compiles in both .NET 4.5 a

[2017-05-21 03:32] WinCPP commented on #18017
I think I will go by the existing behavior i.e. overflows are allowed and we don't precheck and throw exceptions as is done for TimeSpan issue #7175.

Rational being,
1. Throwing exceptions only in `operator *` and `operator /` would be inconsistent with behavior of other two operators `operator +` and `operator -` on the same type.
1. Changing behavior of existing operators as well to throw excep

[2017-05-21 03:47] davidsh commented on #20043
Thanks for clarifying.  Yes, I can see that in .NET Core it is currently left as NotImplemented which is different than .NET Framework.

@ViktorHofer Do you know why your prior PRs for HttpWebRequest (#19118) did not fix this?

[2017-05-21 04:21] karelz commented on #19987
I see, while it looks useful, I am not sure if it doesn't border with "too complicated". Moving to Runtime area where it belongs, updating title to clarify.

[2017-05-21 04:27] danmosemsft commented on #20046
@karelz who owns URI?

[2017-05-21 04:32] RickStrahl opened #20053 "TripleDESCryptoServiceProvider.Key - specified Key is not valid size"
Running the following code:

[code]

Works against full framework, but when running against .NET Core I get:

[code]
After digging around a bit it seems the key should be 16 or 24 bytes, but even if the key is that size it doesn't work.

Expected:
Same behavior as full framework which accepts a key of any byte size.

**Updated**
So it looks like a 24 byte key works.

Either way this doesn't seem r

[2017-05-21 04:41] karelz commented on #19986
We need to port it into rel/2.0.0 branch

[2017-05-21 04:43] karelz commented on #20034
Marking as 2.0 as it is likely regression of #19959 which we want to port to 2.0 in #20040

[2017-05-21 04:51] karelz commented on #20046
It's in Networking area (although some people disagree). I updated [areas](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) to clarify it.

@stephentoub can you please help take a look?

[2017-05-21 04:54] karelz commented on #18017
I let @mellinoe decide if he wants to run it by API review ...

[2017-05-21 04:57] karelz commented on #20053
@ianhays @steveharter can you please assess if this is must have for 2.0 while Jeremy is on vacation? From the description it looks serious ...

cc @stephentoub

[2017-05-21 05:06] danmosemsft commented on #18023
@cStorm @shaggygi I changed the title to be specific to Windows IoT since as far as I know the general issue to get SerialPort on Unix would enable Raspberry Pi also.

Here's some information I've gotten from the dev in Windows who owns this:

We probably want to continue using SERIALCOMM because it seems preferred, it's proven, and it also may be easier for us on UWP. Would it make sense to fall

[2017-05-21 05:10] RickStrahl commented on #20053
I'm pretty sure this will break lots of code, because most people do what I do in a typical use case: Take a string, encode it to bytes then feed it to the Provider - with no concern for the key size.

As I indicated a 24 byte key works.  I hacked this into my existing library like this:

[code]

But this ends up creating different encrypted values obviously (unless the key bytes happen to be 24 b

[2017-05-21 05:16] danmosemsft opened #20055 "Invalid key size exception could helpfully list valid key sizes"
I've seen at least a couple [reports ](https://github.com/dotnet/corefx/issues/20053 )where developers were not sure what key size they should use when they get an exception with the message "Specified key is not a valid size for this algorithm.". In at least some cases, we ought to be able to tell them what key sizes we accept, so they don't have to go to documentation. Especially since it can be

[2017-05-21 05:17] karelz commented on #20053
Thanks for confirming my suspicion @RickStrahl!
BTW: I admit I didn't look deeper into the code as I don't have previous expertise with crypto (and I don't scale to do that for each issue). My evaluation was just based on high-level description and best guess on impact. Your confirmation of the impact helps ;), so thanks!

[2017-05-21 05:18] danmosemsft commented on #20053
I opened a [suggestion](https://github.com/dotnet/corefx/issues/20055) to return what key sizes we support.

[2017-05-21 05:19] karelz commented on #20053
@danmosemsft does it mean we do not support certain key size which we support on Desktop?

[2017-05-21 05:24] danmosemsft commented on #20053
My understanding was in general, crypto API does not conceal [platform limitations ](https://github.com/dotnet/corefx/pull/18169#issuecomment-293105179). I am not a crypto guy either, so I can't say much.

[2017-05-21 05:32] karelz commented on #20053
That would make sense in Windows vs. Linux. This is however Desktop vs. .NET Core, both on Windows. We maybe use different crypto libraries under-the-hood and this may be one of the observable differences ... @steveharter do you know more about it? Could you or @ianhays please look into it?

[2017-05-21 05:34] karelz commented on #14673
This has higher frequency - @DavidGoll we should prioritize it in 2.1 schedule.

[2017-05-21 06:00] stephentoub commented on #20053
Isn't this the same as https://github.com/dotnet/corefx/issues/9966?

[2017-05-21 06:12] stephentoub commented on #20046
@sepidehMS, can you share the links to the CI legs where you observed the differences amongst different Unix platforms?

cc: @tmds

[2017-05-21 06:27] Thaina commented on #16490
Related to this proposal https://github.com/dotnet/csharplang/issues/600

If that proposal pass this issue would not needed

[2017-05-21 07:11] WinCPP commented on #16650
Hi @danmosemsft @sepidehMS Due to increasing workload at workplace, I won't be able to work fully on all of the areas mentioned for coverage in this issue. However, if ok, I would like to take one by one. May I work on "System.Xml.Xsl.Runtime.XsltFunctions 10.3%" to begin with. Do we need to create a separate issue for tracking purpose...? Thanks!

[2017-05-21 07:17] garora commented on #20008
@jcouv - thanks for sharing the link, still need to do some regress research as I am still facing lot of issues. These could be due to design of ValueTuples (not sure on this part) and could be overwhelmed with implementation. I will work-it out at my end and then will post here (when or if find the solution).

[2017-05-21 07:53] cStorm commented on #18023
After some changes, I currently have it only calling `QueryDosDevice` if the SERIALCOMM key does not exist, and this works for me as it did before.

Only doing this on Win IoT seems like it might cheat other, unforeseen scenarios out of the fix, and I don't know how common it would be for that key to be absent on non-IoT machines anyway (if we're worried about wasting cycles).  That said, I don't

[2017-05-21 07:56] danmosemsft commented on #16650
@wincpp for sure! Nobody else is working on XML coverage so you can just go ahead.

[2017-05-21 07:59] willdean commented on #18023
@cStorm Personally I wouldn't worry about "cheating other scenarios out of the fix" - I think that's less important than not breaking existing stuff.

Re what kind of name needs to be returned, it should definitely be a string which can then be passed, unmodified, to the SerialPort constructor - any other requirement is secondary to that.   If there are multiple possibilities for strings which mee

[2017-05-21 08:02] willdean commented on #18023
@danmosemsft  Said:

I don't think this is true, as there's little (other than physical hardware) which relates Windows IoT on Raspberry Pi to the conventional Linux-running Raspberry Pi.

We clearly (as the OP in this thread mused) need two Raspberry Pi threads, one for Linux and one for Win IoT.   This one has now become the latter, so that's fine.

[2017-05-21 08:07] willdean commented on #18023
@cStorm

How much of the test suite have you been able to run?

[2017-05-21 08:55] cStorm commented on #18023
@willdean Right! In my current implementation, if SERIALCOMM exists, all results are from there and in the COMx format.  If not, we presume there is no other recourse and fall back to returning the longer names from `QueryDosDevice`.  Either of these name formats can be passed to `SerialPort` on Windows desktop, but only the latter seems to work on Win IoT.

You have a good point about targeting t

[2017-05-21 09:02] tmds commented on #20046
If the Uri class is passed a path that starts with a '/' (e.g. /tmp) and kind is RelativeOrAbsolute, then on Windows and Unix the resulting uri is a relative uri.

[2017-05-21 09:42] willdean commented on #18023
@cStorm I think (http://www.naughter.com/enumser.html)[this] is considered the definitive reference on all the ways of enumerating ports.

I don't know the proper name of the huge horrible string - it's appears to be a superset of what Device Manager calls the 'Device Instance Path', which might be a good enough name for your purposes.

The thing to be wary of with the test suite is that it adapts

[2017-05-21 10:27] stephentoub commented on #20046
@tmds, yup.  My two questions:
1. Why did @sepidehMS see a different answer on Ubuntu16.04?  That should only be the case if GetTempPath() returned something that didn't begin with a '/', which would be very strange.
2. Why does Mono return true for this?  I tested on 4.2; maybe it's changed since then?

[2017-05-21 10:31] stephentoub commented on #20040
@JeremyKuhne, please include the commits from https://github.com/dotnet/corefx/pull/20049 if/when this is ported to 2.0.

[2017-05-21 10:31] ViktorHofer commented on #20043
Not sure. I'm definitely surprised. Will take a look later today.

[2017-05-21 10:39] stephentoub commented on #20043
It looks like HttpWebRequest.ConnectionGroupName also throws a NotImplementedException?  That should probably be addressed as well, though I expect it's less impactful.

[2017-05-21 10:50] stephentoub commented on #20050
@Priya91, this looks like a regression caused by https://github.com/dotnet/corefx/pull/19955.

[2017-05-21 11:00] tmds commented on #20046
perhaps an envvar is overriding the temp path on ubuntu, indeed strange if it would not start with a /...
for mono: http://www.mono-project.com/docs/faq/known-issues/urikind-relativeorabsolute/

[2017-05-21 11:39] stephentoub opened #20060 "[HttpListener] Port HttpListener managed fixes to 2.0 en mass"
We have a bunch of fixes coming in to the managed HttpListener.  We should roll-up and review all changes made since forking for 2.0, and port them over en masse rather than reviewing each piece meal.

[2017-05-21 11:39] stephentoub commented on #19986
Closing and replacing by https://github.com/dotnet/corefx/issues/20060.

[2017-05-21 11:39] #19986 closed

[2017-05-21 12:28] Mike-EEE commented on #5766
well @lokitoth I'm glad we kept this issue intact as it was decided https://github.com/Microsoft/xaml-standard/issues/23 was not fit for daylight.

I have, however, created a new issue that I feel does a better job describing the issue at hand and it would be awesome to have your upvote and/or contributions added here: https://github.com/Microsoft/xaml-standard/issues/145

[2017-05-21 15:18] stephentoub commented on #19695
@mayamoon?

[2017-05-21 15:59] bruno-garcia opened #20066 "HttpClient fails with "The server returned an invalid or unrecognized response" when using Apache mod_proxy"
I have an issue in production where the heartbeat _GetAsync_ requests that a Windows Server 2012 R2 sends using HttpClient fail intermittently. Around 1 in 10 requests fail with:

[code]
The servers responding to these heartbeat are CentOS 7.1 with Apache mod_proxy version: httpd-2.4.6-45.el7.centos.4.x86_64
All applications are .NET Core 1.1.

I was able to narrow down the issue to the combinatio

[2017-05-21 16:15] davidsh commented on #20066
Are doing GET or POST requests?  Do you have any traces?

Are you using 'Transfer-Encoding: chunked' requests instead of 'Content-Length: " semantics?

We did recently fix a bug in HttpClient/WinHttpHandler on Windows where chunked requests were being sent incorrectly and sometimes this resulted in getting back "The server returned an invalid or unrecognized response" errors (#19251).  Not sure if

[2017-05-21 16:20] bruno-garcia commented on #20066
Hi @davidsh! It's a plain GetAsync. Not using 'Transfer-Encoding'

My production scenario is more complex but I was able to reproduce it with such server:
[code]

And client simply:

[code]

[2017-05-21 16:30] JonHanna commented on #17905
#18162 took care of what remained in the report for Microsoft.CSharp that was truly dead.

[2017-05-21 16:31] danmosemsft commented on #20046
@stephentoub I kicked off https://github.com/dotnet/corefx/pull/19735 again which should give us logs.

[2017-05-21 17:08] danmosemsft commented on #20046
I threw up a little test to see what each OS does.

[2017-05-21 17:12] danmosemsft opened #20068 "GetAsync_TrailingHeaders_Ignored failed with System.Net.Http.WinHttpException : The operation has been canceled"
This is the only 1 failure out of 5367832 tests in today's windows run. @karelz I wish I could say fixing tihs would give us our first green run in years, but there are a number of tests flakily producing errors like this.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170521.02

[code]

[2017-05-21 17:15] danmosemsft opened #20069 "DualModeConnectAsync_DnsEndPointToHost_Helper failed on OSX with Timed out waiting for Connection"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170521.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectAsync~2FDualModeConnectAsync_DnsEndPointToHost_Helper(listenOn:%20::,%20dualModeServer:%20True)

[code]

[2017-05-21 17:16] danmosemsft opened #20070 "Process tests failing in Portable run due to needing elevation"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170521.02/workItem/System.Diagnostics.Process.Tests

These tests need elevation. Either the runs need to be elevated, the tests need to elevate themselves, or they need filtering out by trait and covered some other way.

[2017-05-21 17:34] karelz commented on #20068
I think we should start push on tests cleanup after we are in 2.0 Escrow. We need to keep cleaning up our tests which are in the way of doing business efficiently, they also hurt contributors and make it less likely for us to get community contributions. Something we do not want.

We need to have access to good tests failure history across Jenkins and Helix, incl. data which OS, etc. Last few mont

[2017-05-21 17:34] karelz commented on #20068
@danmosemsft we should also bulk-edit all test failures in Future into 2.1 milestone. Thoughts?

[2017-05-21 17:48] danmosemsft commented on #20068
sure

[2017-05-21 17:53] clrjunkie commented on #19970
@karelz
As I wrote on January 2016, #5296 please reconsider my plea for making stress testing System.Data via Azure test benchmark a requirement. High load testing like that is not something that can be easily setup by the community.  I strongly believe this is of utmost importance for detecting stability issues that may surface due to the new managed cross-platform socket implementation in .NET C

[2017-05-21 18:15] karelz commented on #19970
@clrjunkie

It is a good idea, but not realistic in 2.0 timeframe. It requires non-trivial investment into infrastructure beside just the test assets. Either way, I let Data team to assess feasibility of this approach in Future. It is definitely outside of scope of 2.0, so let's keep it off this issue.

This is potentially good long-term idea, but it is unrelated to this task as it requires new AP

[2017-05-21 18:17] tannergooding commented on #10457
Closing this as it will be getting handled in some other manner (currently it is expected to be handled via partial erasure in the C# compiler).

[2017-05-21 18:17] #10457 closed

[2017-05-21 18:18] #19984 closed

[2017-05-21 18:18] danmosemsft commented on #20070
Can easily filter out trait question is how to get coverage of those 3

[2017-05-21 18:19] #19982 closed

[2017-05-21 18:25] #19985 closed

[2017-05-21 18:25] #19980 closed

[2017-05-21 18:28] #19979 closed

[2017-05-21 18:41] clrjunkie commented on #19970
@karelz

You wrote:

That's why I thought it's worth to reconsider the Azure benchmark test, maybe the infra is already in place at Azure.

Just to clarify, my suggestion is not about adding or changing any "Desktop API" but rather about the structure of the SqlClient implementation..  I let the Data team reading this have their take away...

[2017-05-21 18:49] karelz commented on #19970
I see, now it makes sense. The testing Data teams plans to do is to reuse existing Desktop tests as much as possible. Given we have just 1 week until Escrow, any larger non-tactical investments are great, but not immediately helping. My assumption is that Azure testing infra is multi-man-month if not a man-year investment. Obviously it doesn't fit. If you think there is something simple/easy tacti

[2017-05-21 19:02] karelz commented on #10457
@tannergooding just curious if there is a link to Roslyn issue ...

[2017-05-21 19:05] karelz commented on #20060
List of PRs to port into rel/2.0.0:
* #19979 - PR #20059
* #19980 and #19985 - PR #20061
* #19982 - PR #20063
* #19986 - PR #20060

[2017-05-21 19:05] danmosemsft commented on #20000
@rainersigwald I'm confused by how the same System.Xml dll can get loaded in those 3 cases. Are you sure (eg does procmon show it). We do not have a concept of targeting a different TFM using the same binaries, as far as I know. I would not expect that to work. I suspect this is just a bug that was fixed in 2.0.

[2017-05-21 19:05] tannergooding commented on #10457
@karelz, https://github.com/dotnet/csharplang/issues/435 and https://github.com/dotnet/corefxlab/issues/1471.

There are currently two proposed ways of going about it. Either partial erasure, which just makes the `IntPtr` type work as expected by exposing the operators via the language itself (this would be achieved via partial erasure) or via creating an entirely new type (`System.IntN`), last I

[2017-05-21 19:06] karelz commented on #19984
@stephentoub do we want this one also ported to 2.0? (I can add it to the uber porting issue)

[2017-05-21 19:09] karelz commented on #10457
Thanks! No details needed - just links to the master issues which are likely going to address the problem .. thanks!

[2017-05-21 19:10] karelz commented on #19996
Reopening to track port to rel/2.0.0 branch

[2017-05-21 19:23] davidsh commented on #20066
Can you repro this without using Kestrel?  I.e. using IIS or another server?

There was a bug in Kestrel fixed by the ASP.NET team several months ago that caused it to send out invalid responses (extra chunked terminators) which causes problems with RFC strict HTTP stacks like HttpClient.

I don't remember the issue number but it did turn out to be a bug in Kestrel.

[2017-05-21 19:24] davidsh commented on #20066
Also, please attach a complete Visual Studio solution (client and server) in order to validate a repro.  It the problem repro's easily then we can get traces and confirm the problem is Kestrel sending back invalid responses.

[2017-05-21 19:28] bruno-garcia commented on #20066
I can't reproduce it when HttpClient connects to Kestrel directly.
Only when there's apache mod_proxy in between.

The complete solution on how to reproduce it is [here](https://github.com/bruno-garcia/apache-mod-proxy-unrecognized-response)

It includes the Apache configuration.

Thanks again!

[2017-05-21 19:30] clrjunkie commented on #19970
I disagree… This is as tactical you can get. P0 bugs, if any will surface after 5min run…  but I now understand the time constraint...

Anyway, I’m adding to this thread all the people listed in the document:

“Azure SQL Database benchmark overview”
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-benchmark-overview

Maybe one of them can help setup a quick sanity run if the test e

[2017-05-21 19:33] RickStrahl commented on #20053
Yes that looks similar.

Still wonder, how is this working on desktop given that presumably the same logic is used? The desktop code fixes up short byte counts to 24 (or 16) and I wonder if it wouldn't be a good idea to provide that same functionality in the .NET Core bits for compatibility.

Consider this scenario for porting:

Say I have an full framework application that stores encrypted data i

[2017-05-21 19:34] #20050 closed

[2017-05-21 19:35] stephentoub commented on #19984
Yes. Basically every change that's affected HttpListener; they're all in the same bucket.

[2017-05-21 19:37] stephentoub commented on #20053
In core currently, TripleDESCryptoServiceProvider just wraps TripleDES.Create().

[2017-05-21 19:42] RickStrahl commented on #20053
I was playing with that last night - whether you use the provider directly or .Create() makes no difference in behavior in either framework.

The issue is the keysize check and not fixing up keys to the required byte size as full framework did.

I think the way to fix this perhaps might be to have a flag that allows for the old behavior or a flag bit on the CipherMode.

[2017-05-21 19:43] karelz commented on #20053
@RickStrahl The implementation in Core uses different APIs under the hood AFAIK. That's why there are some subtle differences. We tried to minimize them as much as possible (proactively).

Your scenario makes sense to me, I'll ask @steveharter and @ianhays to look into it. If there's something we can do cheaply, we should do it. If it means rewriting half of the crypto stack, we will likely just l

[2017-05-21 19:44] karelz commented on #19984
Makes sense, updated the to-be-ported list in https://github.com/dotnet/corefx/issues/20060#issuecomment-302956042

[2017-05-21 19:44] RickStrahl commented on #20053
Understood and totally agree.

Just thinking through some of the scenarios that can cause problems.

[2017-05-21 19:48] karelz commented on #19970
@clrjunkie if there is something simple we can run, I want to know more. My understanding was that we would need to build brand new infra. Can you (or someone) please show us an example what and how to run?
If it is cheap to do (in time invested), we should do it. However, we may not have people available right now to explore, if it is simple to do or not :( ... so any help in this angle would be

[2017-05-21 19:50] karelz commented on #20053
Yep, thanks. We appreciate that kind of feedback & insights. It is helpful for us to assess impact, even if it is "just theoretical". At minimum it confirms/adjusts our view point.

[2017-05-21 19:51] stephentoub commented on #19984
The list is really just everything here staring from the 17th:
https://github.com/dotnet/corefx/commits/master/src/System.Net.HttpListener

[2017-05-21 19:59] karelz commented on #19984
Great, once we port all those, we should chase down the original bugs and make sure they are in 2.0 milestones and have the port PR linked ...

[2017-05-21 20:02] AndreasCag opened #20071 "Small summary mistake"
https://github.com/dotnet/corefx/blob/master/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L446
Change "first" to "second".

[2017-05-21 20:04] bruno-garcia commented on #20066
Whatever it is that the server writes to the response that HttpClient can't handle is not a problem to Fiddler4.
I can reproduce the issue constantly but as soon as I fire up fiddler4, the clients stop crashing.

[2017-05-21 20:14] FransBouma commented on #19826
This issue should be labeled 2.1.0, it's incorrectly labeled 2.0.0. It's closely related to #4571

[2017-05-21 20:15] FransBouma commented on #4571
Please label this to 2.1.0. Code is written, api has to be reviewed, and tests have to be added.

[2017-05-21 20:25] karelz commented on #4571
Done, @saurabh500 please let me know if you disagree.

[2017-05-21 20:31] roji commented on #19970
One more thought about this - ADO.NET should ideally have a provider test suite (or specification suite), which provides can extend and run - this can help promote uniformity across providers, or at least surface API areas where behavior differs (and help document them). I've suggested this in #7810 but unfortunately have little time to contribute on this right now. This is obviously not a short-t

[2017-05-21 20:36] karelz commented on #19970
@roji sounds like a good long-term idea. Let's keep that discussion in #7810 - I will ask Data team to review and reconsider many of the old issues once we are done with 2.0 madness :).
Thanks!

[2017-05-21 21:04] stephentoub commented on #20020
@kumpera, can you please share a repro for desktop?  I'm unable to get it to throw an UnauthorizedAccessException.  Here's an example:
[code]
On my system at least, for any NumLinks value >= 32, it throws:
[code]
For any NumLinks value < 32, no exception is thrown.  And if I uncomment the two lines that create a loop rather than just a really long chain, it still throws the same IOException.

[2017-05-21 22:17] divega commented on #4571
Cc @ajcvickers

[2017-05-21 23:05] svick commented on #20071
Do you want to create a Pull Request that fixes it?

It's fairly simple: start by clicking on the pencil icon at the top of the file.

[2017-05-21 23:27] danmosemsft commented on #20046
Note that `Path.Combine` passed a single parameter just returns that parameter unchanged.

All Linux distros and OSX fail. (You mentioned Ubuntu 16.04 passed but perhaps you were led astray becaues the default version of this job is ARM and does not run tests. I ran a regular job and it [failed](https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.04_release_prtest/2/testReport/junit/Syste

[2017-05-22 02:34] #17051 closed

[2017-05-22 02:53] Jiayili1 commented on #19701
This issue is repro on Portable Core Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170522.01/workItem/System.Net.Http.Functional.Tests/wilogs

[2017-05-22 02:55] dotnet-mc-bot opened #20077 "Test: System.Collections.Tests.CaseInsensitiveHashCodeProviderTests/Default_Compare_TurkishI failed with "Xunit.Sdk.FalseException""
Opened on behalf of @Jiayili1

The test `System.Collections.Tests.CaseInsensitiveHashCodeProviderTests/Default_Compare_TurkishI` has failed.

Assert.False() Failure\r
    Expected: False\r
    Actual:   True

        Stack Trace:

           at System.Collections.Tests.CaseInsensitiveHashCodeProviderTests.Default_Compare_TurkishI()
Build : Master - 20170522.01 (UWP F5 Tests)
Failing configurations

[2017-05-22 02:57] danmosemsft opened #20078 "InvalidCertificateServers_CertificateValidationDisabled_Succeeds failed with WinHttpException : The buffers supplied to a function was too small"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170522.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test~2FInvalidCertificateServers_CertificateValidationDisabled_Succeeds(url:%20%5C%22https:~2F~2Fself-signed.bads...
[cod

[2017-05-22 02:58] danmosemsft opened #20079 "ProxyExplicitlyProvided_DefaultCredentials_Ignored failed with WinHttpException : The connection with the server was terminated abnormally"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170522.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignored
[code]

[2017-05-22 03:03] danmosemsft commented on #19701
also https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170522.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FProxy_BypassFalse_GetRequestGoesThroughCustomProxy(creds:%20null,%20wrapCredsInCache:%20False)

[2017-05-22 05:55] karelz commented on #19996
Ported to 2.0 in PR #20065.

[2017-05-22 05:55] #19996 closed

[2017-05-22 05:57] karelz commented on #20034
Reopening to port the change (PR #20049) into 2.0.

[2017-05-22 06:13] karelz commented on #20071
Here are docs (under construction) for first PR: https://github.com/dotnet/corefx/wiki/New-contributor-Docs#contributing-guide

[2017-05-22 06:17] dotnet-mc-bot opened #20084 "Tests under: System.Reflection.Tests.AssemblyTests failed with "System.IO.FileNotFoundException""
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyTests/LoadFrom_SameIdentityAsAssemblyWithDifferentPath_ReturnsEqualAssemblies` has failed.

System.IO.FileNotFoundException : Could not load file or assembly 'C:\\Users\\DotNetTestRunner\\AppData\\Local\\Packages\\5cd54353-3ed7-4a6e-a72f-db349f28867c_v52bfwc2c21ha\\AC\\Temp\\AssemblyTests_fplfggsf.iuu\\System.Runtime.Tests.dl

[2017-05-22 06:27] busbina commented on #5593
@danmosemsft @sepidehMS  I opened an issue for script support a few days ago.
#19837

[2017-05-22 06:35] dotnet-mc-bot opened #20085 "Test: System.Tests.StringTests/CompareTest failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Tests.StringTests/CompareTest(s1: \"turkish İ\", s2: \"Turkish i\", cultureName: \"tr-TR\", ignoreCase: True, expected: 0)` has failed.

Assert.Equal() Failure\r
    Expected: 0\r
    Actual:   1

        Stack Trace:

           at System.Tests.StringTests.CompareTest(String s1, String s2, String cultureName, Boolean ignoreCase, Int32 expected)
Buil

[2017-05-22 06:39] dotnet-mc-bot opened #20086 "Test failure: System.Tests.TypeTests/GetTypeByName(typeName: \"Outside`1+Inside`1\", expectedType: typeof(Outside<,>))"
Opened on behalf of @Jiayili1

The test `System.Tests.TypeTests/GetTypeByName(typeName: \"Outside`1+Inside`1\", expectedType: typeof(Outside<,>))` has failed.

Assert.Equal() Failure\r
    Expected: typeof(Outside<,>)\r
    Actual:   (null)

        Stack Trace:

           at System.Tests.TypeTests.GetTypeByName(String typeName, Type expectedType)
Build : Master - 20170522.01 (UWP F5 Tests)
Faili

[2017-05-22 07:14] Jiayili1 commented on #17982
This issue is repro on Portable Core tests (2.0.0), detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170522.01/workItem/System.Linq.Parallel.Tests/wilogs

[2017-05-22 07:16] Jiayili1 commented on #19466
Failed again: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170522.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-22 07:20] Jiayili1 commented on #19223
This issue is still repro on build 20170522.01, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170522.01/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.SafeServiceControllerTests~2FGetServices

[2017-05-22 07:21] dotnet-mc-bot opened #20089 "Test: System.ServiceProcess.Tests.ServiceControllerTests/StartWithArguments failed with "System.ServiceProcess.TimeoutException""
Opened on behalf of @Jiayili1

The test `System.ServiceProcess.Tests.ServiceControllerTests/StartWithArguments` has failed.

System.ServiceProcess.TimeoutException : Time out has expired and the operation has not been completed.

        Stack Trace:

           at System.ServiceProcess.ServiceController.WaitForStatus(ServiceControllerStatus desiredStatus, TimeSpan timeout)
       at System.Servic

[2017-05-22 08:03] v-haren commented on #20034
failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/52/testReport/

[2017-05-22 08:45] samirparekh opened #20091 "Creating MemoryMappedFile fails with PlatformNotSupportedException"
Creating a MemoryMapped (in memory segment) failed on RHEL .NET Core App 1.1

ctor used:

 mmf = MemoryMappedFile.CreateNew(_FeedName, _StreamCapacity, MemoryMappedFileAccess.ReadWrite);
                mvs = mmf.CreateViewStream();
                mvs.Seek(0, SeekOrigin.Begin);

stack trace

1  22-05-2017 08:24:38.626675 [1] Starting program at 08:24:38.6204093Utc
2  22-05-2017 08:24:38.650215 [7

[2017-05-22 09:57] hugosmarques commented on #19929
@weshaggard hello. As i can see @ericstj make a commit. Did you already have a package?

[2017-05-22 11:57] stephentoub commented on #20034
@v-haren, that's from before the fix in #20049 was merged.

[2017-05-22 11:58] stephentoub commented on #20034
@karelz, we should just port it as https://github.com/dotnet/corefx/issues/20040; see my comment there from yesterday.

[2017-05-22 11:59] stephentoub commented on #20091
@samirparekh, _named_ memory mapped files are not supported on Unix.  You can create anonymous maps, just by passing `null` as the name.  You can also create maps for actual files, e.g. with CreateFromFile.

[2017-05-22 11:59] #20091 closed

[2017-05-22 12:09] stephentoub commented on #20071
Fixed in #20090

[2017-05-22 12:09] #20071 closed

[2017-05-22 12:18] stephentoub commented on #20078
Dup of https://github.com/dotnet/corefx/issues/7812

[2017-05-22 12:18] stephentoub commented on #7812
Again here:
https://github.com/dotnet/corefx/issues/20078

[2017-05-22 13:51] OleksandrKrutykh opened #20093 "System.Threading.Tasks.Parallel.ForEach method does not always throw OperationCanceledException when canceled"
I have found that `ForEach` method in `System.Threading.Tasks.Parallel` class does not always finish with `OperationCanceledException` when canceled. Instead, `ForEach` method silently stops without throwing any exceptions and without executing all iterations. As a result, `Parallel.ForEach` may produce incomplete results. This behavior is observed for `Parallel.ForEach` method only, I was not abl

[2017-05-22 14:09] jswolf19 commented on #18420
Is this something a first-time contributor could start with?

[2017-05-22 14:13] hughbe opened #20096 "[HttpListener] [Porting] HttpListener.GetContext on Windows throws an NRE for NTLM and Negotiate authentication"
The following test gives an example of this (I'm currently writing tests for HttpListener authentication):

[code]

This does not fail on desktop. The netcoreapp stack trace is:
[code]

HttpListener... the gift that keeps on giving

[2017-05-22 14:26] jkotas commented on #18420
@jswolf19 Yes, this is good one for a first-time contributor.

cc @karelz

[2017-05-22 14:43] hughbe commented on #20096
This also happens with Negotiate authentication with the same stack trace

[2017-05-22 14:47] jswolf19 commented on #18420
I'd be happy to take it on, then. I'm guessing the AsSpan functions/tests are a good template to work from?

[2017-05-22 14:52] karelz commented on #20034
Do you mean to track all the porting changes necessary in a single issue #20040? That works for me. Thanks for info.

[2017-05-22 14:56] jkotas commented on #18420
The issue is yours. Thanks!

Yes.

[2017-05-22 14:56] stephentoub commented on #20034
This issue is a regression caused by the other one.  It doesn't make sense to port one without the other.

[2017-05-22 14:56] karelz commented on #7812
@schen381 is the info from above failure sufficient for next step?

[2017-05-22 14:59] karelz commented on #18420
@jswolf19 welcome on board! I sent you collaborator invite, please ping me here when you accept - we can then assign the issue to you (GitHub limitation). Assigning to myself in the meantime.

Also check our contributor guide docs (under construction) - https://github.com/dotnet/corefx/wiki/New-contributor-Docs#contributing-guide ... feel free to improve them / ask questions in our gitter room (on

[2017-05-22 15:38] tarekgh commented on #19987
@karelz should we move this to Roslyn as I think the discussion should be started from there?

[2017-05-22 15:44] tarekgh commented on #20041
@karelz this issue would be fixed after merging #20035 or is there more work need to be done here? it is not clear to me what need to be done here?

[2017-05-22 15:52] karelz commented on #20041
After merging #20035 we will have the fix in master = 2.1. We need to port it to 2.0. That's what this issue tracks.
Does it answer your question?

[2017-05-22 15:54] jswolf19 commented on #18420
I accepted. Looking forward to working with you all ^^

[2017-05-22 15:54] karelz commented on #19987
My understanding from the above comments was that the issue tracks changes in `String.Format` syntax. Nothing to do with Roslyn AFAIK. Or did I misunderstand?

[2017-05-22 15:55] hughbe opened #20098 "[managed bug] HttpListener.Realm challenges should have the same format as Windows challenges"
Following test disabled with this issue:

- BasicAuthentication_RealmSet_SendsChallengeToClient

[code]

[2017-05-22 15:57] hughbe opened #20099 "[HttpListener] [Managed] HttpListener should validate basic authentication requests"
Tests disabled with this issue:

- BasicAuthentication_InvalidRequest_SendsStatusCodeClient

[code]

[2017-05-22 15:59] hughbe opened #20100 "[HttpListener] [Managed] HttpListener should catch non-fatal errors if AuthenticationSchemeSelectorDelegate throws"
Following tests are disabled with this issue:

- AuthenticationSchemeSelectorDelegate_ThrowsException_SendsInternalServerErrorToClient
- AuthenticationSchemeSelectorDelegate_ThrowsOutOfMemoryException_RethrowsException

[code]

[2017-05-22 16:00] tarekgh commented on #20041
@morganbr I assigned this one to you. please let me know if you are not the one going to port it to 2.0.

[2017-05-22 16:01] hughbe opened #20101 "[HttpListener] [Managed] HttpListener should not hang when missing NTLM/Negotiate authentication is used"
Following tests are disabled with this issue:

- NtlmAuthentication_Conversation_ReturnsExpectedType2Message
- NtlmAuthentication_InvalidRequestHeaders_ReturnsExpectedStatusCode

- NegotiateAuthentication_Conversation_ReturnsExpectedType2Message
- NegotiateAuthentication_InvalidRequestHeaders_ReturnsExpectedStatusCode

[code]

[2017-05-22 16:03] tarekgh commented on #19987
Strig.Format doesn't handle "{}". it is done in Roslyn. so Roslyn need to do something anyway. Roslyn can decide if need a new API to support that.

[2017-05-22 16:15] stephentoub opened #20103 "HttpListener tests are blocking xunit workers, causing hangs"
Lots of the tests that are async are doing synchronous work that's dependent on something else happening, resulting in deadlocks/hangs when xunit parallel execution is enabled, in particular on older OSes where things run slower / more stuff completes asynchronously.

[2017-05-22 16:18] jessewhite007 commented on #7812
Has anyone come up with an effective / temporary work around till this gets resolved. It's proving to be very problematic for me.

[2017-05-22 16:23] karelz commented on #7812
@jessewhite007 we do not understand the root cause yet, so not sure if we have any idea about potential workarounds ...

[2017-05-22 16:25] karelz commented on #19987
This is handled in BCL: `string.Format("Allowed names are: {0:J', '}.", names)`. My understanding was that the ask is to support the 'J' specifier. That would be in string.Format, not in Roslyn, right?

[2017-05-22 16:26] schen381 commented on #7812
@karelz No, I need a dump to analyze the issue, and my PR is not merged yet.

[2017-05-22 16:30] tarekgh commented on #19987
yes. I missed this part.

[2017-05-22 16:31] danmosemsft commented on #19964
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170522.02/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadFile_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

also
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/t

[2017-05-22 16:38] karelz commented on #7812
@schen381 PR for what? A fix? Getting more info?
We have last week before Escrow and this is blocking real world scenarios. @DavidGoll are we on track to get this resolved? Is there some way we can help at this moment?

[2017-05-22 16:43] schen381 commented on #7812
@karelz PR for getting more info by using Debug.Assert()

[2017-05-22 16:43] DavidGoll commented on #7812
@karelz the PR is to add a fail-fast so we can get dumps at the point of failure. This will go into master, not the 2.0.0 fork. If we can get usable dumps, then we have a chance at resolving this before Escrow.

[2017-05-22 16:51] karelz commented on #7812
Thanks for info!
Do we have ETA for the fail-fast to be checked in? Any reason why we didn't implement it earlier? (looks like it was the plan already last week)

[2017-05-22 17:00] weshaggard opened #20109 "Need to handle generating config files for exe's we launch from tests"
exe's like our RemoteExecutorApp or others like [VoidMainWithExitCodeApp](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/VoidMainWithExitCodeApp/VoidMainWithExitCodeApp.cs) need to have configuration files in order to successfully run. See https://github.com/dotnet/corefx/pull/19232 where I've temporarily checked in an appconfig file to address it for that test ex

[2017-05-22 17:01] MattGal commented on #17982
The issue initially reported is still fixed;  this is an instance of:
https://github.com/dotnet/core-eng/issues/779

I'm hoping to address this bug this week.

[2017-05-22 17:03] safern commented on #20109
Sounds good. Will take a look later when I'm done with ConditionalFact/Theory

[2017-05-22 17:04] weshaggard opened #20110 "Need to generate a RunTest.cmd unique to the BuildConfiguration instead of Configuration"
Today if we have a configuration of netstandard in a test project and you try to run it once with one target group (say netcoreapp) and then a second time as another target group (say netfx) we keep overwriting the RunTest.cmd each time. We should ensure that the test output path takes into account the target you are running on as well as the target you are building for.

I noticed this while help

[2017-05-22 17:06] Chrisboh commented on #20068
@karelz so I can better understand.  Is your goal to identify flaky tests or is your goal to just see when the last time the test failed?

[2017-05-22 17:18] krwq commented on #2295
@vitek-karas would treeshaker be able to figure out those kind of patterns?
[code]

If not could you provide how would you write simple branching so that treeshaker will remove unused path?

[2017-05-22 17:30] MattGal commented on #19923
I've removed this setting from the VMs already, and the test is happy again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170522.02

We had made the change to set overcommit_memory at the explicit request of the stress team, but since stress runs aren't going through Helix currently I've removed this.  If needed

[2017-05-22 17:31] stephentoub commented on #19923
Thanks

[2017-05-22 17:31] #19923 closed

[2017-05-22 17:32] vitek-karas commented on #2295
Unfortunately our tree shakers can't figure out branching like that currently (not 100% for ILLinker, but .NET Native will not for sure). We can obviously tweak the tools, but it gets complicated really fast. Usually the code is not as simple as above, and if the value if passed through a field and so on... we run into trouble.
What seems to work is things like:
- The feature is enabled only if th

[2017-05-22 17:45] karelz commented on #20068
My goal is to identify flaky tests - understand where they are failing (which OS combos), and how often (history), so that we can sort them out from the most impactful ones to the least impactful ones.

Of course, we need the ability to associate test failures with issues / with same symptom-issues as some issues are wide-spread, and not just a problem of a set of tests.

Happy to chat more if it

[2017-05-22 17:46] danmosemsft opened #20113 "Add step/test to validate test machine configuration"
We occasionally get tests failing only on Helix machines and after expensive investigation discover it's some configuration difference with local dev machines. It would be valuable to have the test run script do simple validation of the configuration to avoid repeating such investigations.

Collecting a list of things to validate

- [ ] [/proc/sys/vm/overcommit_memory set to 0](https://github.com/

[2017-05-22 17:48] weshaggard opened #20114 "RemoteExecutorConsoleApp is becoming too complex"
The [RemoteExecutorConsoleApp](https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/RemoteExecutorTestBase.cs) is becoming too complex and is duplicating a lot of logic from our build generation scripts. Logic like picking the correct runner or setting up the environment or the correct configuration. We should eliminate most of this duplicated logic that we have here an

[2017-05-22 17:48] danmosemsft commented on #20093
@stephentoub @kouvel

[2017-05-22 17:51] #18776 closed

[2017-05-22 17:52] MattGal commented on #20113
I'm all for this, especially as a step that runs before the machines even start taking jobs.  Based on my experience with overcommit_memory though, I suspect machine setup fiddly bits may be subjective.

[2017-05-22 17:59] Clockwork-Muse commented on #20093
...What's the value of `counter` when it's not "correct"?
Note that the optimizer is allowed to do funny things, like remove loops that make no other changes to program state (although I don't know if that's happening here).
Having it cancel based on timing is extremely brittle - what happens if you cancel inside the task, based on the iteration?

[2017-05-22 18:16] #19949 closed

[2017-05-22 18:17] ilya-bin commented on #16649
Hi @sepidehMS ,
I've tried to find anything in the test cases that is actually not so complicated for me and the place where it could be helpful. The case is that every straightforward public method in XmlSchemaSet   is already covered with unit tests (which is actually good) and the lines that are not covered are hard for me. :)

I think I've found a 3 line style enhancement that could be useful,

[2017-05-22 18:22] saurabh500 commented on #4571
This is fine for 2.1.0

One of the aspects that we need to keep in mind is how the additional API on DbProviderFactories will work, when the application built against .Net core is run on target framework Netfx which doesn't have the additional API.

When an application target .Net core, it will find the implementation of `SetFactory` and will be able to function fine. However when the same applica

[2017-05-22 18:23] karelz commented on #20089
Reopening to track port to 2.0

[2017-05-22 18:27] karelz commented on #4571
This issue is "port". It should not introduce new APIs which don't exist on .NET 4.6.1.

If we need new APIs, we need another issue, which follows [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-05-22 18:30] #19859 closed

[2017-05-22 18:39] JeremyKuhne opened #20117 "Re-enable long path tests for UAP"
WinRT APIs weren't long path friendly. This should change for RS3. Additionally we're planning to remove WinRT specific codepaths, relying on our "traditional" Win32 APIs. Should tackle after #17470.

We have plenty of existing tests, they are just currently skipped for UAP.

[2017-05-22 18:41] #19829 closed

[2017-05-22 18:41] #14259 closed

[2017-05-22 18:43] saurabh500 commented on #19825
I am moving this issue to 2.1.0. This is useful with DbProviderFactories and is a step forward in enabling the API in System.Data

[2017-05-22 18:44] saurabh500 commented on #19826
Ack. I am moving this issue to 2.1.0

[2017-05-22 18:50] rainersigwald commented on #20000
What I meant by that is that I'm not changing the NuGet package reference. I do not understand assembly loading with the shared framework. Taking wild guesses, maybe something moved into the shared framework (at a higher version with a change in behavior here) and the package references are now unnecessary in netcoreapp2.0?

Here are procmon traces filtered to `system.xml*` of the three situations

[2017-05-22 18:54] anangaur opened #20118 "Make the description of 'Microsoft.NETCore.App' package clearer"
There is always a confusion as to why is 'Microsoft.NETCore.App' auto-referenced in a .NET Core project and why can it be not updated etc. We are trying to fix the text of such references on Visual Studio Package Manager as tracked here: https://github.com/NuGet/Home/issues/4964

I feel the the description of the package could also clear the air on which SDK (may be we need to use this term somewh

[2017-05-22 18:54] saurabh500 commented on #19797
Fixed with https://github.com/dotnet/corefx/pull/20004

[2017-05-22 18:55] #19797 closed

[2017-05-22 18:56] saurabh500 commented on #19913
Pending merge to release/2.0.0

There were changes in SqlParamter which were made due to the lack of SqlDataReader.GetSchemaTable() API in case DbDataReader is passed in as a parameter. The changes have been brought back from NetFx into master.

[2017-05-22 19:06] FransBouma commented on #4571
@karelz
We can't just port it over, as the netfx version initializes itself from the machine.config / app.config file, and there's no api to add other factories to the cache it contains. So for corefx methods have to be added to add the factories to the DbProviderFactories cache, as there's no other way possible. So 'port' isn't going to work, 100%. I've ported over the core API exposed by DbProvi

[2017-05-22 19:09] FransBouma commented on #19825
It's a small use case, but it could limit people porting code to corefx to obtain the SqlClient factory (as there's no DbProviderFactories in 2.0.0) when obtaining a SqlConnection, through reflection: they can't use generic code to do that if this is absent: they have to use special case code which tests for SqlConnection and hard-codes to obtain the factory through SqlClientFactory.Instance. That

[2017-05-22 19:11] karelz commented on #4571
By porting over - I meant API surface.

Given the info above, I would suggest to cover the ported APIs (their shapes) in this issue. They may require different implementation on .NET Core, which is fine.
For the APIs which are "new" (at least new shape/overloads), let's create a new issue to track them. We will need the API review for them.
First step will be to create API description (see sample

[2017-05-22 19:13] FransBouma commented on #4571
@saurabh500

Hmm, though isn't the app when targeting .net core, using a .net core specific method, namely SetFactory? So when targeting another framework, netfx, isn't it expected that things will break, namely at places where the app uses a .netcore specific method, which obviously isn't present in netfx, as it's not in netstandard?

@karelz: makes sense. Will look into adding that issue for api

[2017-05-22 19:13] danmosemsft commented on #19994
Failed again in 2.0 branch and on Nano this time.
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170522.03/workItem/System.Net.Primitives.UnitTests.Tests/analysis/xunit/System.Net.Primitives.Unit.Tests.CookieContainerTest~2FGetCookies_RemovesExpired_Cookies

fyi @karelz since @Priya91 's out.

[2017-05-22 19:13] bartonjs commented on #20053
See https://stackoverflow.com/a/39453362/6535399. For a 16 byte -> 24 byte transition the answer is to copy the first 8 bytes again to the last 8 bytes.

[2017-05-22 19:15] grahamehorner commented on #4571
IMO I've never liked the machine.config and would personally prefer the DependencyInjection/Registration from a plug-in folder which is defined by the appsettings.json or similar; I also believe that the DbProviderFactory needs to have an interface defined; this can then be used to dynamically resolve the list of DbProviderFactory implementations using reflection.   oh and don't forget the need to

[2017-05-22 19:22] danmosemsft opened #20121 "Segregate Networking outer loop tests into their own run"
The outer loop netcore runs are on the verge of being 100% green excepting networking tests which have some broad reliability issues. In order to focus attention on those, and more easily keep the non-networking tests 100% green, we want to break out the networking tests into their own run and their own badge on Helix.

@karelz to assign...

[2017-05-22 19:24] danmosemsft opened #20122 "Move more OuterLoop tests into InnerLoop"
The netcore tests are close to 100% green, excepting networking. To help avoid going backwards, we should go through the Outerloop tests (except networking) and promote all of them that are (1) reliable and (2) not excessively time consuming. That way CI can protect them.

[2017-05-22 19:25] danmosemsft commented on #20113
One issue in the past was partitions being unexpectedly NTFS. I believe the tests now work around this though.

[2017-05-22 19:31] davidsh commented on #20121
There are also inner loop networking tests.  Should those be moved also to this new "networking test run"?

[2017-05-22 19:49] FransBouma commented on #4571
An interface is useless, it already has a base class with an interface, namely `DbProviderFactory`, all ADO.NET providers inherit from that class. Reflection isn't needed, that's why DbProviderFactories is there: you ask it to provide you a DbProviderFactory derived instance registered under a unique name.

[2017-05-22 19:51] JeremyKuhne commented on #20040
https://github.com/dotnet/coreclr/pull/11757 is part of this as well. Root issue is #19850.

[2017-05-22 19:57] saurabh500 commented on #4571
@FransBouma The application using netstandard is expected to work across all netstandard compliant frameworks and DbProviderFactories will be in netstandard.
The app built on netstandard will work on .Net Core, netfx and any compliant framework implementations of netstandard.
One of the ways of tackling the registration is to introduce partial facades which will be invoked while calling the additi

[2017-05-22 19:59] shmao commented on #19898
This is a duplicate of  #19903.

[2017-05-22 19:59] #19898 closed

[2017-05-22 20:01] rothja commented on #19970
@karelz @roji In regards to the benchmark topic. The actual tests were run by the product team, but we helped to publish it. I have an old email thread on this that I can dig up and send you that might provide some context.

[2017-05-22 20:10] davidsh commented on #20066
Only when there's apache mod_proxy in between.

This tells me that it is likely that the mod_proxy is transmitting invalid RFC data to the client.

[2017-05-22 20:13] kumpera commented on #20020
Hey @stephentoub, after looking carefully, there's something awfully wrong with my windows setup as mklink itself is failing for me now.

Windows won't let me create a symlink on my Documents folder <o>.

Besides that, your test verify link depth and not link cycles, not that it matter.

For cycles you'd do something like this:

[code]

[2017-05-22 20:15] shmao commented on #19901
We need to port the fix for `Xml_TypeWithDefaultTimeSpanProperty` to sg.exe.

[2017-05-22 20:15] stephentoub commented on #20020
I actually mentioned that... it does both, you just need to uncomment the two lines in the middle that create a cycle:
"And if I uncomment the two lines that create a loop rather than just a really long chain, it still throws the same IOException."

[2017-05-22 20:16] stephentoub commented on #20020
Sorry to hear it.

How would you like to proceed?  Do you think the issue you were seeing is a result of your box being in disarray and this can be closed?  Or do you think there's a real issue here to pursue further?

Thanks for following up.

[2017-05-22 20:18] kumpera commented on #20020
I believe the best way to handle this one is to close it and I'll fix my setup and double check my early results.

[2017-05-22 20:18] #20020 closed

[2017-05-22 20:18] stephentoub commented on #20020
Ok, thanks, sounds good.

[2017-05-22 20:20] bruno-garcia commented on #20066
Yes, indeed. But only fails when the client is running on Windows.
Running on Linux works just fine.

Also, I pointed apache to another site on the backend (instead of the kestrel server) and also could not reproduce it.

Seems to be a HttpClient on Windows not handling the response generated by Apache + kestrel.

The setup I have is what's described on official [ASP.NET Core docs](https://docs.mi

[2017-05-22 20:25] FransBouma commented on #4571
@saurabh500 ah ok, I was solely talking about the situation till DbProviderFactories is part of netstandard, hence the miscommunication I think :) The new type for registration, you mean by that a static class with extension methods, and for netfx the implementation of that is simply doing nothing? I have to wrap my head around this for a bit till I understand it completely I think... :)

[2017-05-22 20:26] danmosemsft commented on #20121
If any inner loop tests are flaky we should move them to OuterLoop so they don't affect CI. My feeling is that it's not so common to see networking flakiness in innerloop whereas in outerloop it's happening every run. So that's why I suggest we ignore inner loop right now.

[2017-05-22 20:30] davidsh commented on #20121
We only moved most networking tests to outerloop bcause at the time they were considered "flaky".

If we're going to have a separate system to run networking tests with a separate "badge" to measure it, we should do it via library/contract regardless of inner/outer loop.  So, take library tests for System.Net.Http, System.Net.Requests, System.Net.HttpListener, System.Net.Sockets, etc. and then run

[2017-05-22 20:44] danmosemsft commented on #19832
@joperezr is this 2.0

[2017-05-22 20:55] danmosemsft commented on #19785
@kouvel are you still tracking this for 2.0? if so do you have an eta.. ask mode ends this week.

[2017-05-22 20:58] danmosemsft commented on #20121
All Helix runs as far as I know run both inner and outer loop - there is no run that is only outer loop. So I think this run will be as you describe. There would still be purpose in moving a test to outerloop -- if it is flaky in CI. And of course back -- if it is no longer flaky.

[2017-05-22 21:05] kouvel commented on #19785
The fix and tests have been merged into the release branch through master:
- https://github.com/dotnet/coreclr/blob/release/2.0.0/src/mscorlib/src/System/Threading/ClrThreadPoolBoundHandle.Unix.cs#L12
- https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Threading.Overlapped/tests/ThreadPoolBoundHandle_BindHandleTests.cs#L47

Just missed closing this bug, closing now

[2017-05-22 21:05] #19785 closed

[2017-05-22 21:07] karelz commented on #20070
Reopening to track port to 2.0 branch

[2017-05-22 21:09] karelz commented on #19709
Reopening to track porting to 2.0 branch.

[2017-05-22 21:10] steveharter commented on #20053
Marking this as a dupe of https://github.com/dotnet/corefx/issues/9966 which is still open. The conclusion there is that corefx should support 16 bytes keys since netfx does.

The corefx behavior for TripleDes has remained the same since 1.0. Currently if you have a 16-byte key (say as an MD5 hash) then currently the key will need to be manually changed to 24 bytes as @bartonjs states.

[2017-05-22 21:10] #20053 closed

[2017-05-22 21:20] CIPop opened #20126 "Outerloop crash: Tools/crossgen.sh: line 54: 2994 Segmentation fault"
Failed in https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug_prtest/23/consoleFull#14914778664b7730ef-150b-4be7-a00f-82ba6c50792b

[code]

[2017-05-22 21:22] stephentoub commented on #19709
@karelz, it was already ported.

[2017-05-22 21:22] #19709 closed

[2017-05-22 21:24] CIPop commented on #20040
Reopening:

Failing on Ubuntu:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug_prtest/23/consoleFull

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug_prtest/23/testReport/junit/System.IO.Tests/Directory_Delete_str/DeleteRoot/
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp

[2017-05-22 21:24] CIPop commented on #20040
Also on OSX: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug_prtest/39/consoleFull#9832431179fe3b83-f408-404c-b9e7-9207d232e5fc
(same errors)

[2017-05-22 21:29] CIPop opened #20128 "Test failure: System.Net.Security.Tests.LoggingTest / EventSource_EventsRaisedAsExpected (60s timeout)"
## History of failures (since 2017/5)

Day | Build | OS
-- | -- | --
8/21 | 20170821.03 | OSX10.12

# Original history

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug_prtest/39/consoleFull

Example:
System.Net.Security.Tests.LoggingTest.EventSource_EventsRaisedAsExpected (from (empty))

[code]

Console log:
[log.txt](https://github.com/dotnet/corefx/files/102025

[2017-05-22 21:30] CIPop commented on #19991
duplicate of #20128

[2017-05-22 21:30] #19991 closed

[2017-05-22 21:33] CIPop commented on #20128
Same failure as in:

#18604; #19991; #16421; #16430; #16610

@stephentoub I couldn't find anything interesting in the log (maybe I'm not searching for the right keyword?)
I've attached the full log in the description.

[2017-05-22 21:36] danmosemsft commented on #9966
@karelz seems this will not make 2.0 and therefore should go in our list of upgrade issues you have?

[2017-05-22 21:39] OleksandrKrutykh commented on #20093
I ran `DoWork` method 100000 times with the delay between `DoWork` and cancellation set to the value that maximizes the number of failures. Out of these `counter` had an incorrect value 66559 times. "Incorrect value" here means a value different from 500. None of these incorrect `counter` values were larger than 500, minimal incorrect `counter` value was 22. Here's the distribution (X-axis: value

[2017-05-22 21:44] JeremyKuhne commented on #20040
@CIPop I assume you meant to re-open #20034?

[2017-05-22 21:46] CIPop commented on #20121
We should ensure we have documented ways to:
- run the tests manually (via msbuild / build)
- run the tests manually via dotnet-bot prior networking PRs are approved

[2017-05-22 21:48] karelz commented on #20121
The dev workflow and CI will not change. Only Helix.

[2017-05-22 21:49] CIPop commented on #20040
The last comments weren't clear but I assumed we wanted to track issues via this bug.
Copying comments there and reopening.

[2017-05-22 21:49] CIPop commented on #20034
Reopening:

Failing on Ubuntu:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug_prtest/23/consoleFull

[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.04_debug_prtest/23/testReport/junit/System.IO.Tests/Directory_Delete_str/DeleteRoot/
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp

[2017-05-22 21:50] CIPop commented on #20034
Also on OSX:
- https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_debug_prtest/39/consoleFull#9832431179fe3b83-f408-404c-b9e7-9207d232e5fc
- https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release_prtest/19/
(same errors)

[2017-05-22 21:57] weshaggard commented on #19929
So I did a little more playing with this late Friday and while I think we can get the basic scenarios working it will require you to start dogfooding the latest tools (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md). You will essentially need a few fixes that are post the preview1 builds, and one more PR https://github.com/dotnet/corefx/pull/20029 that has ye

[2017-05-22 22:00] stephentoub commented on #20128
This is a hang rather than a crash, so I wouldn't expect to find much of interest in the log (no different than if the test code in the parent process itself hung).  The hang is just happening in the child process, and so the parent process is timing out waiting for it.  Or at least that's generally what such a failure means.

[2017-05-22 22:01] CIPop commented on #20121
Thanks for clarifying! Title's confusing... Read "break" as we're going to change their class (code markings) so they are not part of Outerloop anymore.

[2017-05-22 22:08] CIPop commented on #20128
Makes sense. I have some ideas:

1. Do you think we could always convert EventSource logs to Console outputs in order to see what was happening when it hangs? (The slowdown might be problematic.)
2. We could try to crash the child process from within using a Debug.Fail and produce a full-memory dump to check the remote process state.
3. We could also attempt to crash the remote process from the pa

[2017-05-22 22:10] CIPop opened #20130 "UWP: System.Net.Ping"
Tracking work for UWP System.Net.Ping.

[2017-05-22 22:10] shmao commented on #16645
I am done with my investigation on the remaining DCS/DCJS test failures in ReflectionOnly mode on uapaot. The remaining test failures basically fall into the following 3 categories,

1. DCS cannot serialize Exception types on UWP because of https://github.com/dotnet/corefx/issues/19585
2. DCS cannot serialize struct types because of  #19665. This is being tracked by https://github.com/dotnet/coref

[2017-05-22 22:10] #16645 closed

[2017-05-22 22:10] stephentoub commented on #20128
We could certainly do it for a specific test; that's not a problem.  Just add https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/tests/System/Diagnostics/Tracing/ConsoleEventListener.cs#L9 to the project and wrap the body of the test with code like:
[code]

A while back I implemented support in RemoteInvoke for using ClrMd to dump relevant data from the remot

[2017-05-22 22:11] jemiller0 commented on #4571
-1 on doing something that requires dependency injection. I'll take config file hell over a dependency on a dependency injection framework.

[2017-05-22 22:13] JeremyKuhne commented on #20034
@CIPop Are you sure this is currently failing? The first job I looked at started 3 days ago and I'm not seeing the hashes in master's log.

[2017-05-22 22:13] jnm2 commented on #4571
@jemiller0 dependency injection means passing an argument. It does not mean depending on a IOC framework.

[2017-05-22 22:16] CIPop commented on #17987
This test isn't properly named: we need to change the namespace to properly identify the contract (applicable to all System.Net.HttpListener tests).

[2017-05-22 22:20] CIPop opened #20131 "UWP: System.Net.Mail"
Tracking work for System.Net.Mail in UWP.

[2017-05-22 22:22] CIPop opened #20132 "UWP: System.Net.WebSockets"
Tracking work for System.Net.WebSockets (common, client and server).

[2017-05-22 22:29] weshaggard opened #20133 "Add support for other .NET Framework Shims we support for .NET Core"
We have ported a number of things for .NET Framework to .NET Core but we don't have shims in place for all of them. Based on a diff of the .NET 4.6.1 and .NET Core I see the following .NET Framework identities that we don't currently support type unification for:
[code]

PR https://github.com/dotnet/corefx/pull/20029 add these shims.

[2017-05-22 22:30] hugosmarques commented on #19929
@weshaggard off course. As I said before I'm testing so please send me the nightly builds when ready. MySQL already have a version for .Net Core, I think that some features are not available yet like DataAdapter because the last version ( current version) of .net core does not have datatables... I think that with the version 2 of .net core MySQL will add more and more features.

[2017-05-22 22:31] weshaggard commented on #19929
OK let me get https://github.com/dotnet/corefx/pull/20029 merged today and have it build a package tonight and I then will send you a set of instructions to try and consume our nightly builds to get this working.

[2017-05-22 22:37] CIPop commented on #20034
They were failing in the links above (tests started last Friday). I didn't submit any PRs today.

[2017-05-22 22:38] CIPop opened #20135 "UWP: System.Net.Sockets"
Tracking work for System.Net.Sockets in UWP

[2017-05-22 22:39] JeremyKuhne commented on #20034
Closing- the fix went in yesterday- these all appear to predate the fix.

[2017-05-22 22:39] #20034 closed

[2017-05-22 22:40] CIPop commented on #18193
This test is not properly named: we should change the namespace to reflect the contract/component being tested.

[2017-05-22 22:41] CIPop opened #20136 "UWP: System.Net.Requests"
Tracking work for System.Net.Requests in UWP.

[2017-05-22 22:42] hugosmarques commented on #19929
@weshaggard one last question. Did you have an idea when the .net core 2 will be a LTS version? I need to know, because Amazon only use LTS versions on there AWS Lambda functions.

[2017-05-22 22:42] CIPop opened #20137 "UWP: System.Net.WebProxy"
Tracking work for System.Net.WebProxy

[2017-05-22 22:44] CIPop opened #20138 "UWP: System.Net.WebHeaderCollection"
Tracking work for System.Net.WebHeaderCollection in UWP.

[2017-05-22 22:47] CIPop opened #20139 "UWP: System.Net.NameResolution"
Tracking UWP work for System.Net.NameResolution

[2017-05-22 22:49] CIPop opened #20140 "UWP: System.Net.ServicePoint"
Tracking UWP work for System.Net.ServicePoint.

[2017-05-22 22:51] CIPop opened #20141 "UWP: System.Net.WebClient"
Tracking UWP work for System.Net.WebClient.

[2017-05-22 22:57] weshaggard commented on #19929
@hugosmarques that is a question I don't know the answer too yet. @leecow any ideas on that?

[2017-05-22 23:06] safern commented on #19967
So the fix for [ConditonalFact/Theory] was merged today on buildtools: https://github.com/dotnet/buildtools/pull/1507 in order to consume the new version I will have to disable this tests and all the failing in other areas so that we can catch new tests failures on CI/Helix, after I'm done disabling tests and new buildtools are consumed in corefx I can investigate the failures.

[2017-05-22 23:32] #19894 closed

[2017-05-22 23:37] karelz commented on #19430
Reopening to track port to 2.0

[2017-05-22 23:40] OleksandrKrutykh commented on #20093
An update: I turned `counter` variable into a field to be able to capture its value just before `CancellationTokenSource.Cancel()` is invoked. Then I calculated the difference between the value of `counter` field after `DoWork` finished incorrectly and the captured value. Here's the normalized distribution of differences:

![differencedistribution](https://cloud.githubusercontent.com/assets/234399

[2017-05-22 23:51] polarapfel opened #20147 "System.Environment - Writing environment variables on Mac/Linux"
Hi,

@stephentoub @jkotas @JeremyKuhne @eerhardt

I've been looking at System.Environment and how to read and write Environment variables on Linux/Mac, using the 1.04 release and 2.0 preview currently available. With the 2.0 preview, the APIs expanded to allowing the use of the EnvironmentVariableTarget enum, which features the Process, User and Machine scope where as prior to this, only the Proce

[2017-05-22 23:54] sepidehMS opened #20148 "Investigate XmlSchemaSet's behavior on Unix when temp path is passed as Uri"
When XmlSchemaSet is trying to load schemas that were imported/included in another schema, if it receives temp path in the Uri, it would not load the schemas on non-Windows platforms, as `/tmp/` is not considered AbsoluteUri. This causes incorrect behavior with XmlSchemaSet.

For more details, please refer to the discussion in https://github.com/dotnet/corefx/issues/20046.

Please also re-enable t

[2017-05-22 23:56] CIPop commented on #19430
@karelz what process should I follow for 2.0?

[2017-05-23 00:05] safern opened #20150 "System.Diagnostics.Tests.ProcessTests.TestStartOnWindowsWithBadFileFormat fails on Desktop"
This test is marked as `[ConditionalFact]` which is currently not running in Desktop. I have the local fix already for that but I can't update it in Corefx until I disable the failing tests to have a green CI, so I will go ahead and disable it.

It fails with error:
[code]

cc: @Priya91 @stephentoub

[2017-05-23 00:11] OleksandrKrutykh commented on #20093
I've managed to reproduce the issue without using any empty `for` loops . All that was needed was to perform the cancellation within the task, but asynchronously:

[code]

Here's the updated VS2017 solution with a console application that runs DoWork repeatedly until it fails:
[ParallelTesterSimplified.zip](https://github.com/dotnet/corefx/files/1020558/ParallelTesterSimplified.zip)

[2017-05-23 00:13] JeremyKuhne commented on #20147
Mono doesn't implement [User/Machine](https://github.com/mono/mono/blob/622840da567b4d705a4e997b2a5dbfba3838588d/mcs/class/corlib/System/Environment.cs#L841-L862).

Conceptually I'm OK with trying to expand the support here- it would be cool to get better equivalency. It is, however, out of scope for 2.0.

[2017-05-23 00:19] danmosemsft commented on #20150
@safern the difference is because on desktop, Process.UseShellExecute is true by default. (We dno't plan to change that) This will fail on desktop also
[code]

So the test result is correct and you can change what it expects on desktop or just disable for desktop.

[2017-05-23 00:20] safern opened #20152 "System.Security.Principal.Windows.WellKnownSidTypeTests.CanCreateSecurityIdentifierFromWellKnownSidType fails on Desktop"
This test is marked as `[ConditionalTheory]` and we haven't seen a failure because in netfx this test attribute is broken. I have the local fix so I was able to run it and it is failing with error:

[code]
Will go ahead and disable it so that we can get the fix for this attributes in Corefx

cc: @steveharter @bartonjs

[2017-05-23 00:22] safern commented on #20150
Thanks, for digging in. I was going to disable all the failing tests before investigating. Will go ahead and fix it/disable for desktop

[2017-05-23 00:23] danmosemsft commented on #20126
@wtgodbe you are looking at https://github.com/dotnet/coreclr/issues/11438 maybe this is related, although that's a different error code...

[2017-05-23 00:32] safern opened #20154 "System.Runtime.Tests failed on Desktop"
Two tests that are marked as [ConditionalFact] are failing for Desktop:

`System.Tests.IntPtrTests.GetHashCodeRespectAllBits` with error:

[code]

`System.Tests.UIntPtrTests.GetHashCodeRespectAllBits` with error:

[code]

This tests are currently not running in corefx as [ConditionalFact/Theory] fix is not in corefx. In order to check it in I have to disable this tests first.

cc: @joperezr @AlexG

[2017-05-23 00:40] danmosemsft commented on #20154
Both look like intentional fixes over Desktop

[2017-05-23 00:41] safern commented on #20154
Ok. Thanks for digging into this one as well.

[2017-05-23 00:47] saurabh500 commented on #19218
This is a Nano in the CI issue. We need to investigate more.

I setup a Nano server added it to the domain and tried integrated authentication with Sql Server. The connectivity works fine.
I am moving this issue out of 2.0

[2017-05-23 00:47] #19913 closed

[2017-05-23 00:48] saurabh500 commented on #19913
Fixed with https://github.com/dotnet/corefx/pull/20124

[2017-05-23 01:15] hughbe opened #20156 "[HttpListener] HttpListenerResponse.Close(byte[], bool) does not properly shutdown all the time"
[code]

From @stephentoub in #19880:

[2017-05-23 01:29] jemiller0 commented on #4571
Why don't they just add support for App.config and leave it as is for compatibility? Obviously, not having that there is going to cause a lot of other compatibility problems elsewhere as well. I don't know what the BFD is about not allowing config files in .NET Core. Apparently, there is some rule against it.

[2017-05-23 01:30] karelz commented on #19878
Closing for now.

[2017-05-23 01:30] #19878 closed

[2017-05-23 01:41] yizhang82 opened #20157 "Adds runtime feature detection support for default interface method"
This proposal introduces a new flag for the presence of default interface methods (see the references below).

[code]

`System.Runtime.CompilerServices.RuntimeFeature.IsSupported` returning true indicates that the runtime supports interface default method feature. It only indicates the presence of the feature and does *NOT* necessarily translate to any specific runtime behavior. This means that fu

[2017-05-23 01:49] jyoungyun commented on #16335
@gkhanna79 I don't want to close this issue because I think this is still in progress. But we have a lot of similar issues so if you want to manage them as one, I agree closing other issues.

[2017-05-23 01:50] hughbe opened #20158 "Build.cmd should pick up and use the VS 2017 developer command prompt automatically"
I only have VS2017 installed on my PC, but when I run `build.cmd` from the normal command prompt (`cmd.exe`) I get

It'd be nice if `build.cmd` picked up that I have only one of these environments installed and used it. Before VS2017 I could use build.cmd from the non-developer command prompt

[2017-05-23 02:11] hughbe opened #20159 "[porting bug] HttpListenerResponse.SetCookie does not throw in netcoreapp if the Cookie already exists"
[code]

Netfx throws an ArgumentException. Netcoreapp does not throw. I have a fix for this and will send a PR when I've written more tests

[2017-05-23 02:14] hughbe opened #20160 "[porting bug] HttpListenerResponse.SetCookies should clone the cookie"
The following tests demonstrates this:
[code]

Netcoreapp fails - `response.Cookies[0].Value == "value3"`
Netfx passes - `response.Cookies[0].Value == "value"`

I have a fix for this which I'll submit with tests

[2017-05-23 02:25] kouvel commented on #20093
There's definitely some kind of race here, I'll take a look

[2017-05-23 02:31] hughbe opened #20161 "[porting bug] HttpListenerResponse.AppendHeaders is broken"
[code]

All these tests pass with netfx. None pass with netcoreapp:
[code]

I have a fix and will submit it with tests

[2017-05-23 02:39] dhoehna commented on #14346
@danmosemsft ?

[2017-05-23 02:47] hughbe commented on #18469
It also looks like VS tests are ignoring ActiveIssue tests

[2017-05-23 02:58] Clockwork-Muse commented on #20093
A `Task` is a specific thing/class in C#, and is most closely analogous to a thread (although it's not).  The TPL (probably, but seems likely given what I saw in PLINQ) uses about 1 task per CPU thread for execution, since you can't usually further parallelize past that point when the workload is CPU-bound.  What happens is that each task runs the lambda multiple times in a loop, but only checks f

[2017-05-23 03:02] hughbe opened #20162 "[porting bug] HttpListenerResponse crashes with NRE sending any cookies"
The following snippet runs to completion with netfx but crashes with NRE with netcoreapp:

[code]

Here's the stack trace:
[code]

I have a fix which I'll submit with tests

[2017-05-23 03:10] #19971 closed

[2017-05-23 03:10] #19976 closed

[2017-05-23 03:19] danmosemsft commented on #20159
Nice work finding all these @hughbe ! thanks a lot. How are you finding them?

[2017-05-23 03:19] stephentoub commented on #20093
With a quick glance, I noticed that the cancellation registration callback does:
[code]
I don't know if this is _the_ problem, but it at least looks like _a_ problem, and the order of these lines should be reversed.  That first line to call Cancel could cause the loop to stop processing.  If all of the iterations stop processing and exit before the `oce` field is initialized to the new instance, t

[2017-05-23 03:25] danmosemsft commented on #20152
This is because .NET Core has many more entries in WellKnownSidTypes than Desktop does.

http://referencesource.microsoft.com/#mscorlib/system/security/principal/sid.cs,124
http://source.dot.net/#System.Security.Principal.Windows/System/Security/Principal/SID.cs,176

The fix is to change the test or split the test so that we don't pass anything higher than `    [InlineData(WellKnownSidType.WinBuil

[2017-05-23 03:26] hughbe commented on #20159
I'm writing tests as part of #13618. After finding several bugs in the past I basically am writing the tests against the netfx implementation by using reference source, then running them against netcoreapp.

But also there's a bunch of coverage missing in HttpListener so I focussed on coverage

[2017-05-23 03:27] safern commented on #20152
Sounds good. Will fix it instead of disabling on the PR I have open. Thanks!

[2017-05-23 03:28] Clockwork-Muse commented on #20093
@stephentoub - I was wondering about that, more from the angle that the registration callback isn't necessarily run on the "main" thread (or any of them, really), and so the write may not have shown up yet anyways.

This would fit with the observed symptoms at least, that it correctly fails when the cancellation is invoked from inside one of the running tasks, but not when submitted separately.

[2017-05-23 03:50] leecow commented on #19929
The LTS decision is still to be made. @hugosmarques - can you link to the LTS requirement for AWS Lambda?

[2017-05-23 03:51] danmosemsft opened #20163 "Various tests now failing on Windows with Unexpected async error in WinHttpRequestCallback: 12007, WinHttp API: 5"
example (affects various libraries) https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170523.02/workItem/System.Xml.XmlSchemaSet.Tests/wilogs

[code]
12007 = ERROR_WINHTTP_NAME_NOT_RESOLVED
5 = API_SEND_REQUEST

[code]

@stephentoub  this appears to be your recently added assert. Not sure whether assert is the problem though

[2017-05-23 03:52] danmosemsft commented on #20163
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170523.02/workItem/System.Net.WebClient.Tests/wilogs

another variation
`2017-05-23 03:33:15,591: INFO: proc(54): run_and_log_output: Output: FailFast: Unexpected async error in WinHttpRequestCallback: 12030, WinHttp API: 1`

12030 = ERROR_WINHTTP_CONNECTION_ERROR
1= API_RECEIVE

[2017-05-23 03:53] stephentoub commented on #20163
No, this is from @schen381's change in https://github.com/dotnet/corefx/pull/20011

[2017-05-23 03:56] danmosemsft commented on #14346
@dhoehna Mono is an open source project to port .NET to other platforms (originated long ago). We can reuse its tests if they're valuable. Take a look and see:
https://github.com/mono/mono/tree/master/mcs/class/System.Data/System.Data.SqlClient

[2017-05-23 04:03] danmosemsft commented on #20163
You're quite right. I misread blame.
 @davidsh

[2017-05-23 04:06] danmosemsft commented on #20163
Not just Nano. Eg
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170523.02/workItem/System.Net.Http.Functional.Tests/wilogs
I see
`FailFast: Unexpected async error in WinHttpRequestCallback: 12182, WinHttp API: 1`
and
`FailFast: Unexpected async error in WinHttpRequestCallback: 12029, WinHttp API: 5`
for example

[2017-05-23 04:14] hughbe opened #20164 "[porting bug] WebHeaderCollection.Add(null, "value") throws NRE in netcoreapp, ArgumentNullException in netfx`"
[code]

This causes some HttpListener tests to fail after I've fixed #20161

I have a fix and will submit a PR

[2017-05-23 04:18] hughbe commented on #20164
Following test also fails:

[code]

[2017-05-23 04:22] hughbe opened #20165 "[HttpListener] [Managed] Enable HttpListenerResponse cookie tests"
Following tests are disabled with this issue:

- Cookies_SetCookie2InHeadersButNotInCookies_RemovesFromHeaders
- Cookies_SetAndSend_ClientReceivesExpectedHeaders
- Cookies_SetInHeader_ClientReceivesExpectedHeaders

[2017-05-23 04:38] schen381 commented on #20139
Have run all tests under System.Net.NameResolution on framework=UAP (including outerloop), no failure observed.

[2017-05-23 05:03] danmosemsft opened #20170 "dumpling "unable to find tooling""
Some bad spelling (I should know) but also it's an error message. @mellinoe ?

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug_prtest/93/consoleText
[code]

[2017-05-23 05:04] #20163 closed

[2017-05-23 05:11] Thaina opened #20171 "Is it possible for Random class to has arbitrary size seed constructor?"
I have a system that use number larger than int as a random seed in another language. When I port my code to C# the old data cannot pass it's seed to random class without hashing that number

So I wish we could have more option for generate a seed to random class. Maybe arbitrary byte array would be great. Is it possible?

[2017-05-23 05:11] danmosemsft opened #20172 "CI jobs are succeeding despite FailFasts"
Eg https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/8272/ failed in 5 libraries but it shows as success. this means the PR succeds and the failure hits outer loop runs.

It seems that the return code is 0 .. and no doubt CI relies on it not being 0.

[code]

Repro: Just do `Debug.Assert(false)` and run it through CI.

[2017-05-23 05:12] danmosemsft commented on #20172
This allowed https://github.com/dotnet/corefx/issues/20163 to get through CI and tank the runs.

[2017-05-23 05:20] danmosemsft opened #20173 "SleepTest failed on ubuntu 17.04"
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170523.01/workItem/System.Threading.Thread.Tests/analysis/xunit/System.Threading.Threads.Tests.ThreadTests~2FSleepTest
[code]

[code]

@stephentoub this should be using a stopwatch. But given the daylight savings did not change, can you think of why this might f

[2017-05-23 05:20] danmosemsft commented on #20173
@kouvel

[2017-05-23 06:33] Jiayili1 commented on #19964
also: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170523.02/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test~2FGetAsync_SupportedSSLVersion_Succeeds(sslProtocols:%20Tls,%20url:%20%5C%22https:~2F~2Fwww.ssllabs.com:10301~2F%5C%22)

[2017-05-23 06:35] Jiayili1 commented on #19466
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170523.02/workItem/System.Net.HttpListener.Tests/wilogs

[2017-05-23 06:43] Jiayili1 commented on #19285
This issue is repro again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170523.02/workItem/System.Net.Sockets.Tests/wilogs

[code]

[2017-05-23 06:47] Jiayili1 commented on #19388
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170523.02/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.TaskWebClientTest~2FUploadString_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx), reopen this one since #16201 is closed.

[2017-05-23 07:06] Jiayili1 commented on #19939
Another test: AcceptWebSocketAsync_InvalidReceiveBufferSize_ThrowsWebSocketException failed with same issue in 2.0.0, detail: https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170523.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerContextTests~2FAcceptWebSocketAsync_Invalid

[2017-05-23 07:10] dotnet-mc-bot opened #20176 "[HttpListener] Test failure: System.Net.Tests.HttpListenerRequestTests/ContentEncoding_GetProperty_ReturnsExpected failed with "System.Net.HttpListenerException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerRequestTests/ContentEncoding_GetProperty_ReturnsExpected(header: \"Content-Type:application.json;charset;\", expected: UTF8EncodingSealed { BodyName = \"utf-8\", C...` has failed.

System.Net.HttpListenerException : Too many open files in system

        Stack Trace:

           at System.Net.HttpEndPointManager.GetEPListener(St

[2017-05-23 08:14] hugosmarques commented on #19929
You can find in many blogs.. here an example
https://github.com/aws/aws-lambda-dotnet/issues/36

[2017-05-23 08:15] karelz commented on #19466
All 3 last failures are on OSX

[2017-05-23 08:20] karelz commented on #20165
Which issue disabled them?

[2017-05-23 08:22] karelz commented on #20171
Why do you need to pass larger-than-int number to .NET Random seed? I don't understand how it helps.
Hashing / module unit_max sounds like reasonable solution for situation like that. Assuming Random seed supports only int in .NET.

[2017-05-23 08:23] hughbe commented on #20165
They were added in a currently opened PR https://github.com/dotnet/corefx/pull/20167
I'm just tracking them

[2017-05-23 08:25] karelz commented on #20172
This is a P0 for Networking - we are chasing down one real-world issue  #7812 (reported by ~5 customers) which occasionally happens in CI. We need crash dump from the failure - @schen381 is just changing the test to FailFast.
@weshaggard @mellinoe can we get attention to this ASAP? Any hacky workaround is fine. It is blocking the most scary bug in Networking for 2.0 :(

cc @schen381 @DavidGoll @da

[2017-05-23 08:27] karelz commented on #20172
cc @mmitche

[2017-05-23 08:28] karelz commented on #20165
Thanks for info!

[2017-05-23 08:29] hughbe commented on #20176
@stephentoub you recently disabled parallelization for S.N.HttpListener.Tests - could this have fixed this failure? It looks like the problem is that too many listeners are open?

@Priya91 FYI

[2017-05-23 08:32] karelz commented on #18469
@weshaggard @mellinoe can we get this funded right after 2.0 madness? I see more and more contributors using VS. We should make it first-class experience, or discourage people to use it.

[2017-05-23 08:34] karelz commented on #19218
Unassigning from @geleems as I don't think he is working on it actively ...

[2017-05-23 08:44] karelz commented on #9966
@steveharter how much work is it to implement this? If it is cheap, we should do it in 2.0.

[2017-05-23 08:47] hughbe commented on #18469
I'm curious: are corefx devs not using VS for development?

[2017-05-23 08:55] karelz commented on #18469
I don't know. Given the number of problems in VS, it seems the answer is 'no' ...

[2017-05-23 08:56] oliverjanik commented on #17522
Were the issues resolved? I'm still experiencing very weird issues with HttpClient, like doing PostAsync and it does a "GET" call...

I'm targeting net core 1.1 the library that wraps HttpClient is NET standard 1.3

[2017-05-23 09:00] hughbe commented on #18469
I find that surprising

[2017-05-23 09:02] Thaina commented on #20171
@karelz Arbitrary size random would have more variation of sequence by seed. That would be benefit

Well, while I was researching I found that there are some bug in `Random` class. Maybe we could fix it and add new functionality as `class System.Math.RandomGenerator`

[2017-05-23 09:08] tcorrin opened #20177 "Libcurl segfault when using httpclient"
We are getting an issue running our netcore 1.1 app on centos 7 where we get a libcurl segfault.
The generated core dump gave the following stack trace:
[code]
Reading up on this error https://curl.haxx.se/mail/lib-2013-05/0079.html or https://curl.haxx.se/mail/lib-2014-01/0098.html it seems that it has something to do with curl and multi threading and can be solved by setting CURLOPT_NOSIGNAL to

[2017-05-23 09:08] karelz commented on #20171
@Thaina please describe real-world examples where current variation is not sufficient. How common are those scenarios? (note that we don't add APIs into BCL just because we can, but only if they are beneficial for many, every new API pollutes API surface and makes it harder for developers to choose - ease of use of APIs is also key design point for BCL)

Please do not mix bug fixes and new feature

[2017-05-23 09:09] karelz commented on #17522
Yes, all known problems were resolved. If you see any new issues, please file a new bug with description what happens when. Thank you!

[2017-05-23 09:18] karelz commented on #20177
@wfurt can you please take a look?

[2017-05-23 09:33] karelz commented on #19593
2.0 porting tracked in https://github.com/dotnet/corefx/issues/20060#issuecomment-302956042

[2017-05-23 09:33] #19593 closed

[2017-05-23 09:38] karelz commented on #20000
Marking 2.0, until proven otherwise. Looks like compat issue against Desktop.

[2017-05-23 09:41] dinjonya opened #20178 "Console.ReadLine() throws on CentOS"
my testConsole publish on the centos server,
the console last line code is Console.ReadLine();

nohup dotnet xxx.dll &
the console throw excetption:
System.UnauthorizedAccessException: Access to the path is denied. -

please help me ! I need help. how can do it

[2017-05-23 09:42] karelz commented on #9966
Moving to 2.0 to make full assessment.

[2017-05-23 09:51] EgorBo opened #20179 "System.Data: ManagedSNI still requires sni.dll"
If I set `TdsParserStateObjectFactory.UseManagedSNI = true` (on Windows it's currently [false by default](https://github.com/dotnet/corefx/pull/19084) and always `true` for unix) I assume SqlClient with ManagedSNI will use `TdsParserStateObjectManaged` instead of `TdsParserStateObjectNative` so I will not have to care about the **sni.dll**, but even with ManagedSNI it calls `[DllImport("sni.dll")]

[2017-05-23 09:54] karelz commented on #20156
Is it compat problem against Desktop?

[2017-05-23 10:01] jahmai commented on #17522
@karelz Guess what I would like to know ;-) Hint: It's been 4 weeks since last update.

[2017-05-23 10:05] karelz commented on #18469
If you think it through it is not so surprising - VS support is more complicated than command line scripts. Command line scripts are necessary for CI, etc. Command line is also super-simple on VMs and brand new machines - you don't need to install VS. Therefore command line scripts have to be brought up first and with high-quality.
At the time we can start using VS (things are stable), everyone on

[2017-05-23 10:15] karelz commented on #20165
OK, now I understand that you are disabling tests against this issue.
Do you think the disabled tests are signs of product issues or test issues? Is it compat with Desktop? If yes, we should address them in 2.0.

[2017-05-23 10:18] karelz commented on #20178
Which version of .NET Core did you try? Did you try to search / ask on StackOverflow?

[2017-05-23 10:21] hughbe commented on #18469
Fair enough, it does make sense, And the obvious non-Xplat nature of VS gets in the way.
The way I interact with VS and the command line is a bit random: I use VS to edit and build product code, to edit test code but use the command line to run the tests.
However, I use VS to debug tests so it's a pain when these kinds of things get in the way of identifying and debugging failing tests.

[2017-05-23 10:24] hughbe commented on #20156
This test has never run against Desktop because of the `ConditionalFact` bug (#18483) but I will see

[2017-05-23 10:47] karelz commented on #18469
Point taken. We will try to look into the VS / VSCode usage with CoreFX for contributors. It will be helpful also for us.

[2017-05-23 10:49] karelz commented on #17522
@jahmai know what?
Re: Hint: Yep, understood. Should happen before 2.0 ships. After the Ask mode & bug driving madness (it takes a LOT of my time).

[2017-05-23 10:49] hughbe commented on #20164
Found two more issues:

### 1: netcoreapp throws ANE, netfx throws AE
[code]

[2017-05-23 10:58] clrjunkie commented on #19970
@guyhay In regards to "Azure SQL Database benchmark", Do you know if this test still exist and who may be the right contact for implementation details?

[2017-05-23 11:07] karelz commented on #17619
Latest update on 2.0 bugs -- see graphs in https://twitter.com/ziki_cz/status/866970797184659456
**Last week of Ask mode**, then we are in Escrow mode (i.e. truly impactful bugs only, the bar will be high)

* CoreFX - [67](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3A2.0.0)
* CoreCLR - [33](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=i

[2017-05-23 11:08] hughbe commented on #19967
Heads up - can I grab the HttpListener failures?

[2017-05-23 11:11] Thaina commented on #20171
@karelz First thing first

I would like to have flexible API to generate random sequence. 1 example I could think about is, I might have create an online game and I want to initial the starting status of 20 inventory for a user. Such as football game and football player status. Using integer hash from something would have a slight chance that 2 user would have the very exact same starting status e

[2017-05-23 11:22] #20150 closed

[2017-05-23 11:22] #20152 closed

[2017-05-23 11:22] #20154 closed

[2017-05-23 11:30] EgorBo commented on #20179
Sorry guys, the issue doesn't reproduce in .NET Core actually but does reproduce in mono (Mono uses same sources).
The reason is:
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserSafeHandles.cs#L19
this singleton has an inline field init, and the constructor calls that SNI.DLL method. but in .NET Core this type won't be initialized in [this

[2017-05-23 11:35] stephentoub commented on #20165
Product, and yes, compat with Windows, both core and desktop.  That's the case for basically all of the problems Hugh has found.

[2017-05-23 11:36] hughbe opened #20180 "[documentation] WebHeaderCollection.Add(new string('a', 65536)) does not throw as documented"
From https://msdn.microsoft.com/en-us/library/y280s7kx(v=vs.110).aspx

[code]

[2017-05-23 11:39] dinjonya commented on #20178
my csproj  RuntimeIdentifiers  section is<RuntimeIdentifiers>win7-x64;centos.7-x64;</RuntimeIdentifiers>

[2017-05-23 11:41] karelz commented on #20178
Which version of .NET Core though? 1.0, 1.1, or 2.0?

[2017-05-23 11:42] karelz commented on #19967
I don't see why not - I let @safern confirm though.

[2017-05-23 11:42] hughbe commented on #13607
We also need to expose (in #19138 and #20167)

[code]

[2017-05-23 11:49] hughbe commented on #20156
So i've ran the tests several hundred times using a batch script with netcoreapp and netfx to try to repro this with both parallelization enabled and disabled, but can't reproduce this failure.

I was getting it about 1/100 before I added the catch statements to fix the intermittent failures.

[2017-05-23 12:01] axelheer commented on #20101
Does that mean the current version of `System.Net.Http` does not properly support NTLM?

We had an issue with a .NET Core application because of some change (.NET Core 1.1.2?). That application could not access SQL Server Reporting Services using NTLM. It just didn't send the "2nd request" and quit with "unauthorized"...

That said problem affects only one server I've not quite access to, and we s

[2017-05-23 12:17] OleksandrKrutykh commented on #20093
To @Clockwork-Muse:

Thanks for the detailed explanation. I understand that calling `CancellationTokenSource.Cancel` this way does not guarantee an immediate cancellation or any cancellation at all. That's why DoWork has to be invoked a few times in a loop for the issue to appear (it takes 2 - 5 tries on my workstation). Sorry for not mentioning that right away.

I have no explanation for why it w

[2017-05-23 13:14] jkotas commented on #20147
I do not think that this work (just tried as well to be sure). `export` will export the variable for the child of the current shell process to use. This line is starting a new bash process that exists immediately. It means that it has no effect. It does not set the variable in any sort of global or persisted environment.

[2017-05-23 13:35] daniel-mcassey-tmsuk commented on #18012
Has there been any further progress on this?

[2017-05-23 13:44] willdean commented on #18012
@daniel-mcassey-tmsuk No, not yet.  Somebody needs to do a big refactor on SerialPort to get it into the proper multi-platform shape, then things will be a little more straightforward for someone to do the Unix port.

I think the MS guys are very busy with the 2.0 release right at the moment, and I'm very busy with commercial stuff, so after the big push to port the Windows libraries and tests ear

[2017-05-23 13:52] tmds commented on #20147
That's not possible. The environment of a process is determined at process creation (by the parent process). After that, only the process itself can change the environment.

[2017-05-23 14:04] polarapfel commented on #20147
@tmds @jkotas You're both right. What's the solution then if I want to set an environment variable that outlives the execution time of the current assembly?

[2017-05-23 14:28] jkotas commented on #20147
I assume you meant to say how to set an environment variable that outlives the execution time of the current process.

There is no reasonable way to do it on Unix. You need to use some other communication mechanism between child and the parent process - files, pipes, etc.

[2017-05-23 14:41] stephentoub commented on #19972
The first three have been fixed.
The latter three still remain disabled on Unix.

[2017-05-23 14:48] sillyousu commented on #3188
@stephentoub  @eyalsk  @tmds .
hello, any progress on this? Can we have this feature in 2.0 ?

[2017-05-23 14:59] hughbe commented on #20101
@axelheer this issue is specific to System.Net.HttpListener on Unix - it doesn't seem to be related to your issue. Maybe @davidsh/@stephentoub could comment?

[2017-05-23 15:01] stephentoub commented on #20101
Via what client type on what OS?

[2017-05-23 15:06] karelz commented on #3188
@sillyousu 2.0 feature complete / API freeze was on 4/14. This is something we might potentially fund for next version - 2.1, but it is not yet done deal.
Are you just interested in availability time, or seeking way of contributing towards this effort?

[2017-05-23 15:08] karelz commented on #20156
OK, moving to 2.0 as it is reliability regression against Desktop.

[2017-05-23 15:09] hughbe commented on #20156
Sorry I should've made clear - it's unclear with desktop as I can't reproduce it on desktop or core now :/

[2017-05-23 15:39] steveharter commented on #9966
@karelz yes this is relatively cheap (1 day). The work includes:
1) Change TripleDES LegalKeySizesValue to allow 16 bytes
2) Intercept the setting of the key and if 16 bytes, make it 24 by adding the first 8 bytes
3) Modify existing tests as appropriate
4) Add new tests including ones that compare against literal values taken from netfx to ensure the results are consistent with corefx

[2017-05-23 15:48] mmitche commented on #20172
Yep, you need to return non-zero codes

[2017-05-23 15:53] jswolf19 commented on #18420
I've started work and noticed the API `public static ReadOnlySpan<char> AsSpan(this string text)`.
I wonder if this naming might become confusing with the addition of the `AsReadOnlySpan` APIs.

[2017-05-23 15:53] #20162 closed

[2017-05-23 15:53] #20160 closed

[2017-05-23 15:53] #20161 closed

[2017-05-23 15:53] #20159 closed

[2017-05-23 15:58] Clockwork-Muse commented on #20171
... you misunderstand how random numbers work.  Even if the numbers were actually random, there's always the (admittedly small) possibility that two different _seeds_ will generate the same sequence for the number of times you end up calling it.  And even then, the same starting equipment status is a valid randomized result.  You might want to reject it afterwards, but that's not really the fault

[2017-05-23 16:06] Thaina commented on #20171
@Clockwork-Muse I most likely generate the statuses values in floating point so it should be really hard to have the exact same 120 floating points sequence (6 statuses for 20 things in my case) by different seed

The bug could now be fixed by fixing the old Random class. That so I would like to propose the new random class that could accept arbitrary size seed and should add more functionality mi

[2017-05-23 16:06] stephentoub commented on #20164
Hugh, those are fine from a product perspective.  It's ok if netcoreapp throws a more derived exception than NetFX, and ArgumentNullException derives from ArgumentException.

[2017-05-23 16:10] hughbe commented on #20164
Fair enough, but I ANE isn't really appropriate here anyway for a whitespace string (I know that WebHeaderCollection isn't consistent with this). We also get better exception messages as a result which is a bonus. I won't go hunting down and reporting these kinds of issues though, don't worry

[2017-05-23 16:13] karelz commented on #20172
@mmitche you = who? The assert? Test runner? Host?

[2017-05-23 16:14] karelz commented on #20156
You can't repro even on .NET Core anymore?

[2017-05-23 16:22] mmitche commented on #20172
In the configured Jenkins build step (I assume it's running a batch file), must return non-zero for failure.  That means feeding it all the way from the test-runner on up.  My guess is that it's already fed properly in most cases.

[2017-05-23 16:22] danmosemsft commented on #20179
Hi @EgorBo are you asking for a change in CoreFX? Eg., break into a separate function?

[2017-05-23 16:23] danmosemsft commented on #20178
@karelz I believe he's indicating 1.1.
@dinjonya please share a minimal repro case including all steps and code - just a few lines if possible.

[2017-05-23 16:26] davidsh commented on #20139
@schen381 Did you also check the test sources for any disabled tests on UWP?  If there are disabled tests, then those need to be re-enabled and fixed (test or product source) if needed.

[2017-05-23 16:28] schen381 commented on #20139
@davidsh I will look into those disabled tests

[2017-05-23 16:28] karelz commented on #20178
Oh, it was edited after my reply :)

[2017-05-23 16:40] weshaggard commented on #20172
It would appear as though dumplying isn't correctly passing along failure exit codes. I will have a look. While this is a unique case there are a few places where the exit codes don't correctly fail CI, see https://github.com/dotnet/corefx/pull/19122 where I've been trying to track some down in my spare time. However I agree this one is particularly bad so I will focus on getting it fixed.

[2017-05-23 16:53] EgorBo commented on #20179
@danmosemsft well, maybe you can advise a better way to make both corefx and mono happy?
Options are:
1) Convert this field to a property and call ctor inside getter (classic singleton implementation with double-check lock)
2) Add an empty static constructor -- empty static constructor will remove 'beforefieldinit' from the type and the field won't be initialized at an unexpected time.
3) ... bett

[2017-05-23 16:54] safern commented on #19967
Assigned to you @hughbe

[2017-05-23 16:56] davidfowl commented on #2454
@karelz why is this marked up for grabs?

[2017-05-23 17:00] danmosemsft commented on #20172
@mmitche question is though why this showed up correctly as failures in Helix. From talking to @Chrisboh he suggested that Helix runs check exit code + prsence of results xml, whereas Jenkins runs only look for the results xml. Given xunit was terminated, there would be no results xml.

@MattGal

[2017-05-23 17:04] ViktorHofer commented on #20043
Sorry I had to take one day off. Yes the reason is this:
`throw NotImplemented.ByDesignWithMessage(SR.net_PropertyNotImplementedException);`
I supposed we aren't implementing the property correctly because of the `NotImplemented.ByDesignWithMessage` call. So I guess this should be implemented?

[2017-05-23 17:09] ViktorHofer commented on #20043
Same reason as ReadWriteTimeout.

[2017-05-23 17:11] danmosemsft commented on #20172
Oh, I guess I had that backwards. Jenkins only looks at error code - that would explain the difference.

[2017-05-23 17:12] danmosemsft commented on #19388
Dupe was closed

[2017-05-23 17:16] mmitche commented on #20172
@danmosemsft You can set Jenkins to fail on lack of test results xml files, but it has no idea what is going on in the step so it won't know if one of all of them is missing.  There are also some cases we've seen where failures print xml files, but ones with no failures, so relying on post-run analysis isn't great.

[2017-05-23 17:19] ViktorHofer commented on #20043
@davidsh @stephentoub We are using a HttpClient in HttpWebRequest which doesn't give us access to the request stream, therefore we can't set the Read and Write properties: https://referencesource.microsoft.com/#System/net/System/Net/HttpWebRequest.cs,3343

How should we proceed? I noticed that WebRequestHandler would have the necessary properties, but that type isn't ported yet to core: https://ap

[2017-05-23 17:21] mvput opened #20191 "ClientWebSocket client certificate not working with .NET Core"
Using the ClientWebSocket to establish a secure WebSocket connection with client certificates. The project is targeting `netcoreapp1.1`. With the following code, the `ConnectAsync` throws an exception: `WinHttpException: A certificate is required to complete client authentication`. When changing the TFM to `net461` the connection is successfully established. I removed the template id of the certif

[2017-05-23 17:21] karelz commented on #2454
See my explanation above: https://github.com/dotnet/corefx/issues/2454#issuecomment-253654240

See our [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified), they explain why we mark up-for-grabs everything we can.

Does it answer your question?

[2017-05-23 17:22] stephentoub commented on #2454
Just speculating, I'm assuming it's based on the earlier discussion about potentially adding new knobs/APIs, and the "up for grabs" part is a proposal for that.

Overall, the discussion can of course continue, and good points have been raised, but the inlining behavior (whether for synchronous waits asking the scheduler whether they can inline the thing they're waiting on, or for a completing task

[2017-05-23 17:23] danmosemsft commented on #20172
Perhaps before starting xunit we could write out a dummy xml file with just one failure in, so that we get a failure if xunit dies. Returning non zero seems less hacky but maybe we should do both.

[2017-05-23 17:25] ViktorHofer commented on #20043
Same applies to ConnectionGroupName. We can't use this property with the current HttpClient impl. Should we make it a NOP or keep it throwing?

[2017-05-23 17:26] danmosemsft commented on #19689
@lmolkova did you fix this with the commit above, so this can be closed? (Note, if you include the text `Fixes #1234` in your PR description, github will close the issue for you when it merges.

[2017-05-23 17:26] mmitche commented on #20172
@danmosemsft We know that xunit died right?  It would return a non-zero code?

[2017-05-23 17:28] terrajobst commented on #20157
Two questions:

* I assume this for 2.0, not 1.1?
* We should name the field `DefaultImplementationsOfInterfaces`.

[2017-05-23 17:31] terrajobst commented on #19788
Looks good as proposed

[2017-05-23 17:32] stephentoub commented on #2454
Out of all of the changes discussed in this thread, this one is I think the most viable.  There are still possible breaks from it, but I expect they would be relatively rare.  Something to think further about...

[2017-05-23 17:33] karelz commented on #20157
Field name updated in top-post.

[2017-05-23 17:40] terrajobst commented on #4100
Looks good. Just one question, it seems the IL spec also allows `.custom`. How is that represented?

[2017-05-23 17:41] davidsh commented on #20043
WebRequestHandler class will never be ported to .NET Core.

[2017-05-23 17:42] davidsh commented on #20043
That is a good question and applies generally to properties we can't implement due to architecture differences.