[2018-01-10 23:16] tannergooding commented on #26183
The functionality does differ when you operate on Vector256<T>.

Avx.UnpackLow operates on double and does:
DEST[63:0] = SRC1[63:0]
DEST[127:64] = SRC2[63:0]
DEST[191:128] = SRC1[191:128]
DEST[255:192] = SRC2[191:128]

and `MoveLowToHigh` doesn't have a Vector256 overload

[2018-01-10 23:19] sdmaclea commented on #26183
@tannergooding 👍  X86 assembly is too ... for me to try to figure it out...

[2018-01-10 23:21] jkotas commented on #25188
Simplicity. So that we do not have to manage mirroring of every little piece individually.

I think so, as long as it does not have major impact on the repo footprint:

- The CoreFX is 13,000 .cs files, 150 MB today.
- The shared CoreLib partition is 700 files, 6 MB today.

These number means that adding shared CoreLib partition to CoreFX is not going to have increase the repo footprint significan

[2018-01-10 23:23] jkotas commented on #25188
Also, having shared CoreLib partition present in CoreFX would simplify things for Mono. They would not need to depend on CoreRT repo to get the shared CoreLib parts that presents release logistic challenge for them today.

cc @marek-safar

[2018-01-10 23:26] tarekgh commented on #25188
@jkotas looks reasonable mirroring the whole shared folder. do you think we can store it on the src root? I mean having corefx\src\Shared? or should we add a corelib level, something like  corefx\src\corelib\shared?

cc @weshaggard

[2018-01-10 23:29] jkotas commented on #25188
My name pick would be `corefx\src\System.Private.CoreLib\shared`. I do not have a strong opinion on it.

[2018-01-10 23:44] #16878 closed

[2018-01-11 00:15] weshaggard commented on #25039
This work has been down.

[2018-01-11 00:15] #25039 closed

[2018-01-11 00:26] weshaggard commented on #25188
I'm ok with sharing the entire folder. I would put it under `corefx\src\Common\src\System.Private.CoreLib`. We already use the Common folder for sharing between projects so I think that makes the most since.

[2018-01-11 00:32] Priya91 opened #26265 "System.Memory.Performance.Tests cause fireball in outerloop PR runs"
https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/59424952ec2d8fc2beebdd9fd460803259f5c9dd/workItem/System.Memory.Performance.Tests

[2018-01-11 00:34] Priya91 commented on #26265
[code]

Fireball caused due to hang in tests.

Happens on all windows versions and some linux distros.

[2018-01-11 01:42] weitzhandler commented on #10752
Completely forgot about it, I'll look into it, thanks for the reminder.

So I've been working on it a bit today.
Generally the implementation is completed.
I'm gonna be on a trip abroad for a week now, and what's a better activity than fiddling with open-source during vacation...

So hopefully over the upcoming week I'll have the test coverage done.

@karelz
How about adding to the API `RemoveAll(

[2018-01-11 01:46] weitzhandler commented on #10752
@OsirisTerje
Completely forgot about it, I'll look into it, thanks for the reminder.

So I've been working on it a bit today.
Generally the implementation is completed.
I'm gonna be on a trip abroad for a week now, and what's a better activity than fiddling with open-source during vacation...

So hopefully over the upcoming week I'll have the test coverage done.

Meanwhile you can track my progres

[2018-01-11 02:26] #26258 closed

[2018-01-11 02:32] karelz commented on #26265
@ahsonkhan @KrzysztofCwalina can you please take a look ASAP? This is blocking CI.

[2018-01-11 03:21] benaadams commented on #26253
Added PR https://github.com/dotnet/coreclr/pull/15823

[2018-01-11 03:30] KrzysztofCwalina commented on #26139
No, Memory is not capable of storing interior pointers/refs

[2018-01-11 03:49] fiigii commented on #25182
Moving S.N.Vector down to mscorlib looks not a good idea, which requires many changes in RyuJIT/VM (most changes are about intrinsic recognition). And these changes would become useless soon if we implement S.N.Vector in hardware intrinsic in the future.

@ahsonkhan Which vector intrinsics do you need? Maybe I can try to enable them in Intel HW intrinsics at first.

[2018-01-11 03:52] jkotas commented on #25182
We need `Vector<T>`.

[2018-01-11 03:53] tannergooding commented on #25182
So a good portion of Sse, Sse2, Avx, and Avx2

[2018-01-11 03:54] jkotas commented on #25182
And we do not want the complexity of the implementation to go through the roof. E,g. we want the following IndexOf method to be CoreLib: https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanHelpers.byte.cs#L96

[2018-01-11 03:56] jkotas commented on #25182
I do not think it is many changes.

[2018-01-11 04:08] fiigii commented on #25182
1. For the intrinsic types, we just need to add `[Intrinsic]` for the types of `Vector<T>`/`Vector2`/`Vector3`... and change a bit code in RyuJIT.
2. For the intrinsic methods,
    - if we do not want the many changes, the current recognition system should be maintained. That extends the scope of searching `Vector<T>` intrinsics from S.N.Vector.dll to the whole mscorlib. JIT-throughput would be si

[2018-01-11 04:46] CarolEidt commented on #25182
I think that's the only reasonable way to do this.

[2018-01-11 07:57] Sunny-pu commented on #20893
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/271/testReport/System.Net.Sockets.Tests/DualModeConnectAsync/DualModeConnectAsync_DnsEndPointToHost_Helper_listenOn____1__dualModeServer__False_/

[2018-01-11 07:58] #26253 closed

[2018-01-11 08:48] tomek14 commented on #25773
I hit the same issue. Full NET 4.7.1 project references netstandard2. I thought net471 fully supports netstandard2...

[2018-01-11 09:08] roederja2 commented on #21824
I wonder though why linked servers work from a Windows client even without the change to SNIProxy.cs - does the Windows implementation implicitly add the delegate flag?

[2018-01-11 09:34] marek-safar commented on #25188
It'd certainly help us to simplify synchronization of CoreFX sources for our releases. Right now there is no clear link between CoreFX and CoreRT and we go out of sync with shared files when we update CoreFX sources. This should also allow committing API changes to System.Runtime together with implementation in many cases.

[2018-01-11 11:07] daniel-filipe-lobo opened #26267 "EF "_Result" post-fiz anti pattern"
Hi!
Sorry for the bother, but in the file:
referencesource/System.Data.Entity.Design/System/Data/Entity/Design/EntityModelSchemaGenerator.cs

there is this line:
string name = CreateModelName(functionImportName + **"_Result"**, session.UsedGlobalModelTypeNames);

Why is it hard-coded an anti pattern for a class name post-fix?
Can´t this be a configurable property?

Thanks for your attention.

[2018-01-11 11:24] arunjvs opened #26268 "Start a process as a different user on Unix"
**Background:**

Starting processes as different users is one of the most fundamental needed to do several useful things - especially so for automation, script execution and privilege de-escalation in services and sandboxing. This is even more so true on Linux, where you can achieve a lot with just running commands as various users, and where the overall boot process follows the fork, impersonate

[2018-01-11 11:28] arunjvs commented on #26268
@Petermarcu @eerhardt @stephentoub

api-needs-work
X-Plat
os-linux
area-System.Diagnostics

[2018-01-11 11:41] richardprobert commented on #23783
@rmkerr I think I was probably using .NET Core 1.0.x at the time. I can confirm that I can reproduce the issue with version 1.0.9 and 1.1.6, but **not** with version 2.0.5.

[2018-01-11 12:47] dustinmoris opened #26269 "HttpResponseHeaders.Contains("Content-Range") throws InvalidOperationException"
The [Content-Range](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Range) HTTP header is classified as a response header and yet the type method `HttpResponseHeaders.Conatains(String name)` throws a `System.InvalidOperationException` when invoking with the string "Content-Range'. Other header strings such as "Accept-Ranges" works as expected, so it only fails to recoginse `Conte

[2018-01-11 12:55] dustinmoris commented on #26269
Ok actually reading the error message I see that `HttpContentHeaders.Contains(string name)` works, but this is a weird thing to do to exclude "Content" headers from the response headers.

I think there are three types of headers:
- General headers (can be present in response and request)
- Request only headers
- Response only headers

IMHO general headers should be valid in request and response he

[2018-01-11 13:02] HobDev commented on #26203
The previous error is gone and the new one arise. Here goes the copy of error window.
System.IO.FileNotFoundException: Could not load file or assembly 'RJCP.SerialPortStream' or one of its dependencies
  at System.AppDomain.Load (System.Reflection.AssemblyName assemblyRef, System.Security.Policy.Evidence assemblySecurity) [0x0006f] in /Library/Frameworks/Xamarin.Mac.framework/Versions/4.0.0.215/sr

[2018-01-11 13:03] HobDev commented on #26203
And yes I upgraded the dependency version to 4.4.0

[2018-01-11 13:13] dustinmoris commented on #18133
I agree, the `Contains` method should always return `true`/`false`. This method does not imply to validate the string against the RFC spec. Furthermore it is incorrect anyway, because `Content-Range` WOULD BE a valid response header according to the RFC and yet [HttpResponseHeaders.Contains("Content-Range") throws an InvalidOperationException](https://github.com/dotnet/corefx/issues/26269).

[2018-01-11 13:22] StingyJack commented on #26222
Focus on the issue title more than the stack trace. That title was the error produced during package restore for this package in a tfs 2015.4 vNext NuGet Installer task, which also happened locally in my VS 15.5.2 dev env. No other packages had this issue, and I've run at least 100 builds across our codebase in the last week or so.

Due to package ref being terribly buggy and costing us several da

[2018-01-11 14:40] jkotas opened #26271 "XmlWriter.WriteStartElement"
_From @Looooooka on January 11, 2018 11:48_

Using
writer.WriteStartElement("prefix:elementname");
used to work. one didn't have to use the overload

writer.WriteStartElement("localname", "ns");
now it throws an exception.
A bunch of plugins and libraries that could be ported simply by including the cs file are not incompatible because of this minor change.
In my case xml plugins for log4net forma

[2018-01-11 15:49] sdmaclea commented on #26179
It should be mentioned that the intention is that Arm64 `AndNot` implements `left & ~right`.

This may be inconsistent with X86 which in the SIMD implementation was choosing `~left & right`.

If we choose to use the same name.  They need to be consistent.

I personally prefer the proposed Arm64 order.

Similar issue probably exists with `OrNot`

[2018-01-11 15:56] mmaguigan-dti commented on #17452
I would like to add an example use case.

#### Security Use Case
Applications published as self contained products must be able to exhibit to administrative users the version they are compiled against and bundled with for security reasons (eg. CVE-2018-0786). This is important in larger enterprises where security administrative staff may differ from engineering staff. A web application may display

[2018-01-11 16:00] MohammadHamdyGhanem opened #26272 "Tuples, Vectors, Points, Sizes And Rectangles"
Tuples, Vectors, Points, Sizes And Rectangles are related. It will be conferrable to make converting between them easier, by adding suitable constructors, deconstructions, To[Type] methods, and implicit/explicit conversion operators to each type.
- Vectors to Tuples, and suitable Tuples to corresponding Vectors.
- Vector2 to PointF and SizeF and vise versa. Point and Size also can be converted to

[2018-01-11 16:05] Looooooka commented on #26271
"not compatible"

[2018-01-11 16:20] tannergooding commented on #26179
I am not sure this is the case. If we had a software fallback that wrapped both, then yes. However, these are hardware intrinsics, and represent specific hardware instructions.

On x86, the documentation for `andnps` specifies the algorithm is:
[code]

On ARM, it looks like you use `BIC` which the documentation specifies is:
[code]

This is a fundamental difference in the architectures but I don't

[2018-01-11 16:40] tarekgh commented on #26139
Sorry I meant something like

[code]
This is just will not validate parameter (similar to DangerousCreate).

I don't think we need it, I am just want to be an explicit decision we don't need it.

[2018-01-11 16:44] weshaggard commented on #26203
Sorry I don't have any context on RJCP.SerialPortStream. It seems like you are trying to consume a package set, namely SerialPortStreamCore which just doesn't work well in this context. At this point I'm out of ideas.

[2018-01-11 16:58] weshaggard commented on #25182
@jkotas unlike Span and ArrayPool, Vectors ships an OOB implementation for netcoreapp which allows the application to override the inbox version cleanly. I'm not sure if we have a great scenario to ship updates with the application but we eliminate that as a possibility if we move it into CoreLib. We also require the JIT intrinsics to be different and I suspect we will need to make them recognize

[2018-01-11 17:10] Clockwork-Muse commented on #26267
I take it you've never seen the output from a SOA Designer in full swing.

The practice comes from expecting that the type being returned isn't necessarily the type being submitted to an API, and vice versa.  Among other wrinkles.

[2018-01-11 17:10] benjaminpetit commented on #26246
Any workaround that we could implement ourself to get notified when the container should stop?

We really can't use Windows container until we have a solution for this.

[2018-01-11 17:20] danmosemsft commented on #25384
Something similar in Mono: https://github.com/mono/mono/blob/master/mcs/tools/mono-service/mono-service.cs

cc @arunjvs since he was asking for this also.

[2018-01-11 17:29] CarolEidt commented on #25182
I can see both sides of this, but I hope that we don't make a decision in the interest of short-term expediency, rather than what is the best long-term approach.

Perhaps there is some obvious flaw in my thinking, but I believe that one of the main sources of size & complexity of the IL implementation is that it must support variable-sized vectors. At that time, we didn't use the "mustExpand when

[2018-01-11 17:33] MrAntix commented on #25369
I am able to catch that exception now, many thanks

Product Information: Version: 2.1.4
Microsoft .NET Core Shared Framework Host  Version  : 2.0.5

[2018-01-11 17:40] davidsh commented on #26269
Currently by-design behavior.  This header is an 'entity-body' related header. As such it should be placed with the HttpResponseMessage.Content.Headers collection rather than the HttpResponseMessage.Headers collection.

[2018-01-11 17:45] CarolEidt commented on #26179
I find it quite unfortunate that the Intel instruction is called `andnps`, i.e. "AndNot", but it's really "NotAdd". That said, I tend to agree with @tannergooding that we probably want to keep closer consistency with the target, however in this case I think it would be good to use a different name.

[2018-01-11 17:46] tannergooding commented on #25182
That makes sense to me. The code should be functionally equivalent to before, so back-compat doesn't seem like a concern.

It would likely also produce a perf improvement for any indirect calls to the methods.

I put some of my thoughts on this (the general topic) [here](https://github.com/dotnet/coreclr/pull/15821#issuecomment-356975410), but it can basically be summed up as:
* If we think `Vecto

[2018-01-11 17:47] jkotas commented on #25182
I would not call this a clean override. Vectors are coupled with the JIT. If app overrides the inbox version and there are new methods added, they will not be accelerated by the old JIT and it is hard to reason about how to write a performant code against it under this conditions.

When we were versioning System.Numerics independently in .NET Framework, I have seen people writing code that checked

[2018-01-11 17:47] dustinmoris commented on #26269
I think we should carefully distinguish between "should" and what it currently does. I see how the current behaviour is by design, but I think the design is flawed. "Entity-body" headers are a subset of request/response headers. I don't think there's anything wrong by having a header appear in both collections if it can be classified as both. Also "entity-body" is a made up classification, it does

[2018-01-11 17:52] tannergooding commented on #26179
Should the x86 name be updated to `NotAnd`, to better match what it is doing?

CC. @fiigii.

[2018-01-11 17:54] karelz commented on #26246
The question is how a native (C/C++) application on Windows would get the notification. Once you know that, you can PInvoke into the same OS APIs and we could implement it in CoreCLR as well.

[`docker stop` documentation](https://docs.docker.com/engine/reference/commandline/stop/) does not say what it does on Windows. I have found only some hints [here](https://social.msdn.microsoft.com/Forums/en

[2018-01-11 18:03] 4creators commented on #25182
There is large group of most _basic_ algorithms which were successfully vectorized and in .NET Core large part of them lives in CoreLib. Once `Vector<T>` will get expanded with functionality required to implement them (shuffle, shifts, scatter, gather etc) which are missing right now new implementation possibilities will open up. Examples: string search, string comparison, string length, sorting (

[2018-01-11 18:18] CarolEidt commented on #26179
I would be in favor of that, assuming @fiigii is OK with it.

[2018-01-11 18:22] tannergooding commented on #26179
I think, either way (fix it or leave it), it will cause some confusion to someone.

People used to working with x86 intrinsics will look for `AndNot` and will generally understand its behavior.

People used to working on ARM may expect the behavior ARM has, so there will be some context switch no matter what (either looking for the new name or understanding the architecture differences).

[2018-01-11 18:37] danmosemsft commented on #26271
@Looooooka could you provide a simple repro?

.NET Core and .NET Framework both give:
[code]

[2018-01-11 18:39] karelz commented on #26267
I guess https://github.com/aspnet/EntityFrameworkCore is the closest repo for your question.
That said, you're asking about .NET Framework, which we do not track in general on GitHub - cc @divega for guidance where to ask.

Closing as it is not CoreFX issue/question.

[2018-01-11 18:39] #26267 closed

[2018-01-11 18:39] danmosemsft commented on #26265
@ahsonkhan  if you don't repro locally, you can add this to your test csproj to get the test name out of the CI log
[code]

[2018-01-11 18:40] karelz commented on #26263
@jcouv can you please comment?

[2018-01-11 18:44] jcouv commented on #26263
I'll take a look.
It's the first time I see this file (it's not part of the source), so something must be generating it. I'll check with Wes and Eric.

[2018-01-11 18:45] fiigii commented on #26179
Agree these two statements both...
`AndNot` is good to help people immigrate from x86 C++ experience to .NET Core.
`NotAnd` is good to implementing an algorithm for x86 **and** ARM in .NET Core.

Both are important, so no preference...

[2018-01-11 18:45] danmosemsft commented on #26263
@svick isn't this file written by Roslyn? eg with
`/doc:C:\git\corefx\bin/AnyOS.AnyCPU.Debug/System.ValueTuple/netcoreapp/System.ValueTuple.xml`

Other quirkiness; https://github.com/dotnet/corefx/issues/25764

[2018-01-11 18:45] 4creators commented on #26179
IMO there is quite a bit x86 `asm`code written with both in assembly and with intrinsics and perhaps due to that reason it is better to keep names as they are.

If we clearly point differences between both in documentation and in particular in intellisense via xml docs this should not be a problem for coders. Besides anyone who worked with both arm and x86 intrinsics or assembly is aware of underl

[2018-01-11 18:49] CarolEidt commented on #26179
@eerhardt perhaps this would be a good time for a corefx person to chime in with their API perspective?

[2018-01-11 18:50] rmkerr commented on #23783
I'm glad to hear it seems to be resolved on 2.0.x! Thanks for taking the time to verify that. I'm going to close this bug, but if you run into anything similar in a new release please let me know.

[2018-01-11 18:50] #23783 closed

[2018-01-11 18:56] weshaggard commented on #25182
I don't personally have a strong opinion in either direction I just wanted to make sure we are considering all the options and understand the implications. Looks like @eerhardt and @ViktorHofer are the current owners for this library according to https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md so the decision is up to them.

[2018-01-11 18:57] ahsonkhan commented on #25182
cc'ing @terrajobst as well

[2018-01-11 18:57] JoyceLiang opened #26273 "System.Security.Cryptography.ProtectedData failed to protect empty data"
[code]

I use packate"System.Security.Cryptography.ProtectedData" Version="4.4.0"
This piece of code working fine with netframework, but throw exception with netcoreapp2.0
HResult in Exception is 87
message "The parameter is incorrect"

[EDIT] Add C# syntax highlighting by @karelz

[2018-01-11 19:01] arunjvs commented on #25384
I remember a previous conversation that GNU/Linux daemons are not at par with ServiceBase. But that is not completely true – at least OnStart() and OnStop() can be implemented by ServiceBase.Run() and handling SIGTERM. How it is sent is itself different on Windows (SCM messages on DCOM) vs Linux (systemd service spec file with a custom kill SIGTERM command on a PID file). In fact even OnPause() an

[2018-01-11 19:02] sdmaclea commented on #26179
`AndNotPrefix` would be an option for the X86 prefixed not case.

[2018-01-11 19:10] shmao opened #26275 "Area-Serialization Sprint 130"
The issue is for tracking issues to be done in sprint 130 (due by 2/2/2018)

[2018-01-11 19:24] shmao commented on #18964
@carq Can you please share a repro app with us so that we can understand your scenario better? Thanks!

[2018-01-11 19:33] VSadov commented on #26228
We discussed some support for wrapping single variable into a span. The issue gets pretty complex when you need to ensure life times.

It seems simple - if you wrap a local, then the span value cannot leave the local's scope, if you wrap a heap location, then it can escape anywhere.

Where it becomes a problem is when ref parameters/returns/local are involved.

- Can I wrap a ref parameter in a sp

[2018-01-11 19:45] ianhays commented on #14376
There appear to be two distinct work items in this issue:
- Implement ToString on Span/ReadOnlySpan and have it print out a string similar to what a collection would print out.
  - This is easy and should be done regardless of the debuggerdisplayproxy.
- Add Debugger viewers for Span/ReadOnlySpan
  - The naive solution is to implement a DebuggerTypeProxy that uses ToArray() on the Span/ReadOnlySpa

[2018-01-11 19:59] ahsonkhan commented on #14376
The workaround works without any update to the VS debugger for "portable" span. The internal bug in the VS debugger is blocking "fast span" debugging only which currently uses the naive solution:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/SpanDebugView.cs#L17

I am not sure if we can implement ToString on Span. See related issue: https://github.com/dotnet/corefx/issue

[2018-01-11 20:02] jkotas commented on #14376
I do not think framework collections override ToString. E.g. `List<T>` does not have ToString over-ridden. Also, Span is more equivalent to array - and array does not override ToString either.

[2018-01-11 20:03] VSadov commented on #26228
I guess the comment would be more useful in the discussion for dotnet/csharplang#992

[2018-01-11 20:11] ianhays commented on #14376
Looks like https://github.com/dotnet/coreclr/pull/15745 made the error here more helpful at least, so we can leave that as-is.

In that case, what else is there that needs to be done in CoreFX?

[2018-01-11 20:30] pentp commented on #26253
@mikedn Is there there an open issue already for that unnecessary `neg+test` codegen (and `inc+test`, etc)?

[2018-01-11 20:45] noobed7 commented on #24104
@davidsh

How do you know that? Could you point me to some code in the dotnet repository to see how things are laid out? I've tried to find any information on that, but with no luck.

[2018-01-11 20:45] mikedn commented on #26253
Hmm, afaik there's nothing related to this specific pattern. It's problematic because the result of `neg` is stored in a variable and that prevents `test` from "seeing" what's there.

[2018-01-11 20:51] eerhardt commented on #26179
I don't think there is a 100% right answer here. But I'll give my opinion.

We will have to have some sort of mapping between the C# API and the underlying hardware instruction, right?  The way I've been trying out these APIs is to look them up on https://software.intel.com/sites/landingpage/IntrinsicsGuide/, finding the API I'm interested in, and reading about it there.

Or do we imagine that use

[2018-01-11 20:52] svick commented on #26263
@danmosemsft I don't know.

There are XML files for `ref` assemblies, whose source code doesn't have documentation comments. The wording is different than the source ([source](https://github.com/dotnet/corefx/blob/cc4cc40/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L363): "A signed number", XML: "A signed integer"). And I don't think Roslyn uses YAML. To me, all of this indicates tha

[2018-01-11 20:54] pentp commented on #26253
Such patterns often occur when the first computation (neg/inc/dec/sub...) is stored in a variable and then followed by a related test/cmp. Otherwise the IL would only contain a cmp/test generating instruction in the first place (assuming properly optimized code).

[2018-01-11 21:07] jnm2 commented on #25756
I updated the [gist](https://gist.github.com/jnm2/3660db29457d391a34151f764bfe6ef7). The `ConfigureAwait` extension methods for tuples of non-generic Tasks were missing the `this` keyword.

[2018-01-11 21:14] mikedn commented on #26253
Apart from the issue with the intermediary variables there's another issue with these patterns - many are not valid when integer overflow has well defined behavior as it has in C# and IL. I already screwed up this once and reverted the change, see https://github.com/dotnet/coreclr/issues/14321 for more details. And I'm pretty sure `neg` + `test` + `jl` is in the same boat, it can be done but we ne

[2018-01-11 21:21] ianhays commented on #22721
resolved by https://github.com/dotnet/corefx/pull/22733

[2018-01-11 21:21] #22721 closed

[2018-01-11 21:27] sdmaclea commented on #26179
It would be really nice if this was not the case.

[2018-01-11 21:28] maririos opened #26277 "Unable to build"
@weitzhandler commented on [Wed Jan 10 2018](https://github.com/dotnet/buildtools/issues/1858)

Hi,

I followed the instructions in [this](https://github.com/dotnet/corefx/wiki/Build-and-run-tests) article.

After `sync`ing, running the `build` command fails with the following errors:

[code]

[EDIT] Reformatted logs based on later reply by @karelz

[2018-01-11 21:39] ianhays commented on #26002
Since https://github.com/dotnet/corefx/issues/25188 is In-Progress, it would probably be wise to wait until its completion before starting this issue to avoid clashes.

[2018-01-11 21:44] saurabh500 commented on #21824
@roederja2 The windows version of sqlclient uses sni.dll whose implementation is not on Github.
Its a component which handle the networking nuances of Sql Server. The same networking module has been reimplemented using Managed code for Linux.

[2018-01-11 21:53] danmosemsft commented on #26263
@mairaw can you explain where the xml files come from like the one above? I see them in bin\docs but I don't see the strings in them in our sources. What generates them?

[2018-01-11 21:54] tdevere opened #26278 "System.Net.Http.WinHttpResponseStream leading to crash in SafeWinHttpHandle.ReleaseHandle"
We are reporting daily crashes after moving our application from .Net 4.6 to .Net Core 2.0. When the crash occurs all 64 Cores are spiked at 100% CPU.

Example Call Stack:

#1: SafeWinHttpHandle.ReleaseHandle()

[code]

#2: SafeWinHttpHandle.ReleaseHandle()
[code]

#3: WinHttpHandler.HandleAsyncException ()
[code]

#4
[code]

Some Notes on the usage of `HttpClient`:

* Shared instance of `HttpClie

[2018-01-11 22:00] mairaw commented on #26263
Unfortunately, I don't know where this xml comes from @danmosemsft. That API is not even in our docs yet. Maybe @weshaggard knows?

[2018-01-11 22:03] mairaw commented on #26263
Scratch what I said about not having that API. When I clicked on the source link, it took me to ValueTuple, instead of ValueTuple<T>. Let me dig more. /cc @rpetrusha

[2018-01-11 22:10] ianhays commented on #24854
Do we still want to add ```public static IEnumerable<T> ToEnumerable(this Memory<T> memory);``` even if we also add ```Memory<T>.GetEnumerator()``` a la https://github.com/dotnet/coreclr/pull/14922?

[2018-01-11 22:16] benaadams commented on #24854
`Memory<T>` isn't getting `.GetEnumerator()` and `IEnumerable<T> ToEnumerable(this Memory<T> memory)` is a performance hole provided for compat (as you can't put a span in a `IEnumerator`), so is an explicit call. (As far as I understand)

[2018-01-11 22:26] davidmatson opened #26280 "ServiceBase doesn't propagate exceptions from OnStart"
When a service fails to start, ServiceBase doesn't inform SCM and doesn't propagate the exception to the caller of ServiceBase.Run.

This bug has already been fixed in the full .NET Framework v4.7.1.

[2018-01-11 22:30] ianhays commented on #24854
isn't that exactly what we're already doing [right here](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Span.cs#L420) (though as Enumerator, not IEnumerator)? Or did you mean that you can't put a Memory into the Enumerator (which makes sense because it's not by-ref)?

[2018-01-11 22:48] mairaw commented on #26263
Ron and I looked at the shipped files before and this was a bug in the previous version of our IntelliSense generator which included that broken content. The current version of our tooling is not generating IntelliSense like that anymore.

But thinking long-term and not only about this specific issue, I wonder if it would be better to change the return value to a simple description like shown in t

[2018-01-11 22:51] stephentoub commented on #24854
No, that's a ref struct, and it doesn't implement `IEnumerator<T>`, and that's for `Span<T>`, not `Memory<T>`.  That's just implementing a pattern that's bindable to foreach by the C# compiler, no interfaces involved.

We're not adding an `IEnumerable<T>` implementation to `Memory<T>`, as that likely ends up being more expensive than a ToEnumerable method.  Consider a method that accepts an `IEnum

[2018-01-11 22:58] benaadams commented on #25182
Could type forward the Span methods and use intrinsics rather than `Vector<T>` #if def'd on platform?

Would mean it would be a completely different implementation to corefx though

[2018-01-11 23:00] ashoulson commented on #15830
Would this also include the `Int32BitsToSingle` and `SingleToInt32Bits` `BitConverter` functions? It would be very handy to have these for serialization in `NetStandard` in environments without unsafe. Particularly for network implementations that have Core talking with Framework.

[2018-01-11 23:03] tannergooding commented on #15830
If `System.MathF` had a wrapper for .NET Standard, then `BitConverter.Int32BitsToSingle` and its counterpart would need to be included as well (as they are required by `System.MathF`).

[2018-01-11 23:08] tannergooding commented on #26188
Tagging @joperezr, @AlexGhiondea as area owners.

Is there any other feedback here before I mark as `api-ready-for-review`?

[2018-01-11 23:16] jkotas commented on #26188
You should update the proposed API at the top post to what you want folks to review.

[2018-01-11 23:16] johnnyRose commented on #13970
Sorry for all the commits... Git flow + signing + rebasing. Haven't tried generating coverage for System.Private.CoreLib in a while but it's added to the 2.1.0 milestone so hopefully that will be working soon.

[2018-01-11 23:18] CarolEidt commented on #12425
I generally agree with @tannergooding on this:
- My preferences is for `BitOps` as a namespace; there is precedent for the `Ops` abbreviation.
- I think `PopCount` is generally familiar, but otherwise I think `CountOnes` would be good. If `Bit` is in the namespace name, then it should be clear we're talking about bits.
- I think that for these, they shouldn't have an `IsAccelerated` (yes, I've cha

[2018-01-11 23:22] CarolEidt commented on #26220
A few comments:
- I am in the process of updating platform-intrinsics.md. I was about to do a PR on Monday, but then it seemed that a bunch of issues were up in the air again. I'll attempt to push what I have tomorrow, and then we can discuss.
- I think the right direction is to support a general capability if it 1) is available on multiple targets, and 2) has a reasonably performant implementatio

[2018-01-11 23:22] tannergooding commented on #26188
👍, Updated it to be `Assume.Alignment(void* address, byte alignment)` instead of `Unsafe.Alignment` (thought I had done this already)

Rest of the OP looks to be as intended.

[2018-01-11 23:23] CarolEidt commented on #26220
@sdmaclea @eerhardt @fiigii @tannergooding - shall I tag this as ready-for-review?

[2018-01-11 23:25] sdmaclea commented on #26220
Yes

[2018-01-11 23:29] wtgodbe commented on #25861
Was this resolved by https://github.com/dotnet/corefx/pull/25869 @danmosemsft @joshfree ?

[2018-01-11 23:41] ianhays commented on #24854
Thanks @stephentoub, I've got some better context now. Your comments in [The API Review video on this topic](https://www.youtube.com/watch?v=HnKmLJcEM74&feature=youtu.be&t=391) helped too :)

[2018-01-11 23:43] CarolEidt commented on #26180
I think I'm OK with the type inconsistency for the return values. My only concern is about exploding the generics for the case where unsigned types are not supported. Given that we already have an implicit contract that these are only supported over primitive types, it doesn't seem unreasonable for these to take only signed types.

That said, I also think there's something to be said for giving a

[2018-01-11 23:45] danmosemsft commented on #25861
That change merely disabled the test against this issue, so we still need the issue if we want to fix it.

[2018-01-11 23:45] danmosemsft commented on #25861
I don't think it's high prio.

[2018-01-11 23:49] sdmaclea commented on #26180
Easy enough 👍

[2018-01-11 23:53] CarolEidt commented on #26188
Looks good to me.

[2018-01-11 23:56] jkotas commented on #26188
-If this is just about `Assume.Alignment`, I think we should have a proof of concept that shows the performance benefits on something semi-real first. I do not think there will be a problem with getting the API approved if there are data to demonstrate that it is useful.

FWIW, what I have been hearing is that the performance penalty of the instructions that handle misaligned access is very small

[2018-01-12 00:01] sdmaclea commented on #26180
Updated proposal to allow generic expansion unsigned all zero and all one cases

[2018-01-12 00:10] tannergooding commented on #26188
There is basically no difference between the `movaps` and `movups` (aligned vs unaligned) instructions on modern hardware (this is roughly Nov 2008 onward, as the improvements came with the Nehalem micro-architecture).

However, on non-AVX hardware (anything prior to Sandy Bridge, which came out Jan 2011) you cannot use the `reg, mem` encoding for most instructions (as the mem operand must be alig

[2018-01-12 00:19] benaadams commented on #26188
Affects caller responsibility, not emitted instruction or Jit assumption?

So is only pre-2012 CPUs it would affect?

[2018-01-12 00:29] tannergooding commented on #26188
Yes, this one is caller responsibility. It doesn't impact the instructions emitted or the JIT.

Yes, it would only affect pre-2012 x86 CPUs. I believe ARM has only gotten better unaligned support more recently (@sdmaclea might know when that came about).

[2018-01-12 00:31] morganbr commented on #26220
Would it make sense for CRC to be covered by #25666 or is there a reason to treat it differently than other hashing?

[2018-01-12 00:34] tannergooding commented on #26220
@morganbr, this is for exposing the Hardware Intrinsic API for directly emitting the underlying crc32 instruction for a given platform.

#25666 is about exposing a general purpose API (with software implementation). Such a general purpose API may end up using the hardware intrinsics to provide better performance.

[2018-01-12 00:37] morganbr commented on #26220
I guess my question is whether there's a need for direct usage of the intrinsic if we have an API that may be implemented by hardware (though perhaps we need the intrinsic in order to implement that API).

[2018-01-12 00:39] sdmaclea commented on #26220
@morganbr 👍 That's the plan

There will also be a polynomial multiply intrinsics, as well as cryptograhic intrinsics in future HW Intrinsic API proposals

[2018-01-12 01:07] ahsonkhan commented on #26265
Issue resolved in https://github.com/dotnet/buildtools/pull/1862

[2018-01-12 01:07] #26265 closed

[2018-01-12 02:00] 4creators commented on #26188
I am not sure that this is the case, as Intel pushes several processor lines with cut down ISA which comprises only SSE up to SSE42 and some smaller set of instructions. Even today you can still buy brand new Pentium and Celeron launched in Q2 2017 without AVX:

https://ark.intel.com/products/97460/Intel-Pentium-Processor-G4620-3M-Cache-3_70-GHz - Kaby Lake
https://ark.intel.com/products/122697/In

[2018-01-12 02:24] Priya91 opened #26288 "WebSocketProtocol_CreateFromConnectedStream_Succeeds fails at ReceiveAsync"
This issue tracks to fix the test.

[2018-01-12 02:43] karelz commented on #24104
@noobed7 see code in System.Net.Http and System.Net.WinHttp:

https://github.com/dotnet/corefx/blob/c84ed430941fcf4e475b1149558498c55b4e295e/src/System.Net.Http/src/System.Net.Http.csproj#L184-L191

https://github.com/dotnet/corefx/tree/c84ed430941fcf4e475b1149558498c55b4e295e/src/System.Net.Http.WinHttpHandler/src/System/Net/Http

[2018-01-12 03:36] #26194 closed

[2018-01-12 04:08] Petermarcu opened #26290 "OS builds matrix in README.md"
The matrix is getting out of date. It should be scrubbed and updated to match the current state of the world and our builds.

[2018-01-12 04:57] geschw66 commented on #18406
I have an ASP .NET Core MVC project that is getting this error. Are you saying I need to simply install the
the package: System.Data.SqlClient  version 4.4.0 or ???

PM> Install-Package System.Data.SqlClient -version 4.4.0

Is this what I need to do to avoid the above described exception?

[2018-01-12 05:44] mikedn commented on #26188
What exactly is the purpose of assume aligned? Don't we already have intrinsics such as `LoadAligned`?

[2018-01-12 06:15] tannergooding commented on #26188
There are several scenarios (such as having a `Vector128<T>[]`) where a user may be working with `Vector128<T>` data that does not require an explicit `Load` to reference.

Intrinsics are also not the only place where it can be useful. We currently have several other ways of reading/writing large chunks of data (a few of which will inline to SIMD instructions as well).

[2018-01-12 06:27] mikedn commented on #26188
How can you "assume" 16 byte alignment for an array? The GC doesn't guarantee alignment larger than 8 bytes.

[2018-01-12 06:35] tannergooding commented on #26188
1. You pin it.
2. You determine the alignment
3. If unaligned, you do a single unaligned read/write
4. You offset to be aligned
5. You operate on the rest of the data as aligned

[2018-01-12 06:44] mikedn commented on #26188
If you do all that then you can surely simply use LoadAligned as well.

We really should be careful with this "assume" stuff. We need to ensure that:
* we do not add assumptions that are not truly needed
* we do not add assumptions that are unlikely to be well supported by the JIT
* we do not add high risk assumptions (e.g. anything that would turn off array range checks) without having high value

[2018-01-12 07:03] tannergooding commented on #26188
Which still doesn't solve the scenario for anyone using `Unsafe.Read`, `Unsafe.Write`, or `Vector<T>`.

I agree, any assumptions we add need to have a clear goal/scenario and some level of data supporting why it should exist.

I know on memory alignment, I have seen several things of benchmark data (such as the benchmark games) that indicates we don't perform great on machines without AVX support.

[2018-01-12 07:28] HobDev commented on #26203
Now again I have previous error with `Windows.Win32.Registry` package.

[2018-01-12 07:40] HobDev commented on #26203
No problem if the issue cannot be resolved soon. But at least I expect explanation that causing this issue from `Microsoft Team`.

[2018-01-12 08:24] geoffkizer commented on #26216
The linked post seems incorrect.

NoDelay affects the sending side.  Make sure you set NoDelay = true on the sending side.

As soon as data arrives on the receiving side, networkStream.Read should complete, regardless of the size sent.

[2018-01-12 08:24] mikedn commented on #26188
If `Vector<T>` has a problem with alignment then it's probably best to fix it in `Vector<T>`. Adding `LoadAligned` to it makes more sense than alignment assumptions.

Support for those prefixes is optional. The .NET JIT ignores them.

Yes, and that makes the addition of another way to shoot yourself in the foot more questionable. Especially if the new way is easier to use and easier to get wrong.

[2018-01-12 09:00] HobDev commented on #26203
In the package folder of the Xamarin.Mac project the `Windows.Win32.Registry` package have yellow mark. When I point to it, this message is visible
**Package is not restored**

[2018-01-12 09:01] HobDev commented on #26203
I try with both `SerialPortStream` and `SerialPortStreamCore`. But unsuccessful in working with any of them.

[2018-01-12 10:21] JonHanna commented on #25338
Perhaps a netfx porting candidate. I discovered this due to a [StackOverflow question](https://stackoverflow.com/questions/34709413/adding-operation-on-dynamicobject), so at least one person has ran into it with real code and they were using netfx. Also, it should be a pretty easy fix to apply.

[2018-01-12 11:09] arunjvs commented on #26268
The API remains exactly same as it is today, except that:
* The fields ProcesStartInfo .UserName and .Password actually work on Linux.
* We have a new String ProcessStartInfo .GroupName.
* All the three properties are independently optional.

[2018-01-12 13:35] stephentoub commented on #26288
What's wrong with the test? If it's working currently, wouldn't that suggest a product issue as part of changing the implementation?

[2018-01-12 13:51] baal2000 commented on #26278
Sharing some interesting errors stacks in addition to already posted. The process crashed while the system was under .Net Core 2.0.0 in a state of high CPU load and lock contention .

- Stack A:
[code]

- Stack B:
[code]
**Discussion**

- Stack A:
The framework pins  `WinHttpRequestState` and retrieves the `GCHandle` to the instance as `_operationHandle = GCHandle.Alloc(this)`. Then passes `GCHand

[2018-01-12 14:35] ma-bjo commented on #25773
Got the same issue again with another package. We used System.Buffers 4.4.0 in order to use ArrayPool<T>, and that caused a strange 4.2.0.0 version of System.Diagnostics.Tracing.dll being copied to the output folder.

Once again the workaround was to move back to 4.3.0 that states ".NETFramework,Version=v4.5 No dependencies", which version 4.4.0 does not do. So once again the problem seems to be n

[2018-01-12 16:24] karelz commented on #26268
Can you use the [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) form please? It helps us to look at API additions in unified way & we put it on the top of the top post. Thanks!

If it is just one property, it should be easy-ish. The only worry I have is that it is Linux-only property. Not sure if we want to mix them up with curre

[2018-01-12 16:34] Zonciu opened #26292 "[Recursive resource lookup bug] on runtime 2.0.4 with NLog.Web.AspNetCore"
According to #23608, this bug should be already fixed, but when I publish a win10-x64 exe program, I get this exception.

Reproduce:
1. add `<PropertyGroup><RuntimeIdentifier>win10-x64</RuntimeIdentifier></PropertyGroup>` to .csproj
2. nuget install  `NLog.Web.AspNetCore 4.5.0-rc2`
3. WebHostBuilder `UseNLog().ConfigureLogging(c => c.ConfigureNLog("nlog.config"))`
4. cmd `dotnet publish -r win10-x

[2018-01-12 16:39] karelz commented on #26277
@weitzhandler I would recommend to use [code quotes](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code) for logs - it is extremely hard to read in this form.

@weshaggard any idea?

[2018-01-12 16:42] KrzysztofCwalina commented on #26139
I think parameter validation might be an issue for Spans which are super optimized and the validation can add up. Memory<T> APIs have enough meat in them that I think the validation overhead is not significant. But, if people complain and show such overhead, we could always add such APIs in the next release.

[2018-01-12 16:45] karelz commented on #26213
@Priya91 this is new test - can you please take a look?

[2018-01-12 16:47] karelz commented on #24074
No response, closing. Feel free to reopen when there is more info available.

[2018-01-12 16:47] #24074 closed

[2018-01-12 16:48] Petermarcu opened #26293 "String.IndexOf gives different behavior on windows vs linux with ascii"
@jmazar commented on [Thu Jan 11 2018](https://github.com/dotnet/core/issues/1213)

I am using .net core sdk 2.0.0 (I also tried on 2.1.2 with the same result) on Windows 10 and Ubuntu 17.10.

Here is a quick gist of my reproduction https://gist.github.com/jmazar/b0cdad1ee122afa64518953b22ae8136
[code]

On windows the fieldvalend prints out 9 (which is correct) but on linux it prints out 2 (which

[2018-01-12 16:48] tarekgh commented on #26290
@karelz who can help with this issue?

[2018-01-12 16:49] jkotas opened #26294 "cant start safari by ProcessStartInfo under macos 10.13.2"
_From @bodhichina on January 12, 2018 13:50_

 i try run below code under macos 10.13.2, looks nothing happend. can you help to check what's wrong

[code]

_Copied from original issue: dotnet/coreclr#15839_

[2018-01-12 16:53] KrzysztofCwalina commented on #14376
and

I don't understand why we would not override ToString. For the sake of consistency with arrays and List<T>? Is this consistency useful? Does it add value?

On the other hand, it's close to impossible to debug code using spans. ToString override would not fix the overall issue (we still need to fix the debugger), but it would improve the situation a lot. I really worry that the current situati

[2018-01-12 16:59] tannergooding commented on #26188
Assumptions will assert the condition and fail the program if optimizations are disabled. `try/catch` blocks could potentially harm performance or other optimizations more than missing the assumption would.

Other compilers consider assumptions to be correct until the input is modified. I would think the same logic would be applied here.

[2018-01-12 16:59] karelz commented on #23745
No response, closing. Feel free to reopen when there is more info available.

[2018-01-12 16:59] #23745 closed

[2018-01-12 17:07] weshaggard commented on #26203
Even if you get the Microsoft.Win32.Registry library to load I don't expect it to do anything interesting on a Mac, it is only supported on windows. So I still think the owner of the SerialPortStreamCore nuget package needs to do some work to enable using it on non-windows. I would suggest following up with the owner of that library package.

[2018-01-12 17:10] weshaggard commented on #26277
Same as https://github.com/dotnet/corefx/issues/25750.

@weitzhandler try running a `clean.cmd -all` from the root and then building again.

[2018-01-12 17:15] Priya91 commented on #26288
It's not working currently, it fails from the beginning of time, without the change in the proposed PR.

[2018-01-12 17:38] stephentoub commented on #26288
What fails? Plenty of WebSocket tests use ReceiveAsync. What's the test that's been failing some the beginning of time and that uses ReceiveAsync?

[2018-01-12 17:43] Priya91 commented on #26288
@stephentoub I think you misunderstood, I added this test recently with the ManagedWebSocket PR, the test uses WebSocketProtocol.CreateFromStream which uses the same codepath as WebSocket.CreateFromStream. All the existing tests in our repo, test with ClientWebSocket, which eventually uses WebSocket.CreateFromStream in the implementation. But as far as I checked there are no tests that directly ca

[2018-01-12 18:03] ianhays opened #26295 "Span: Provide ToString"
Forked from https://github.com/dotnet/corefx/issues/14376

Work item here is to implement ToString on Span/ReadOnlySpan and have it print out a string similar to what a collection would print out (which is just the object tostring - type + address)

cc: @KrzysztofCwalina @jkotas @ahsonkhan to continue the discussion on ToString here.

[2018-01-12 18:14] stephentoub commented on #26288
I see.  I did misunderstand.  And it's definitely the test that's faulty.  See my comment here:
https://github.com/dotnet/corefx/pull/26296/files#r161290252

[2018-01-12 18:15] relgram opened #26297 "SqlDataReader.HasRows high cpu utilization"
There appears to be a heavy performance cost of adding SqlDataReader.HasRows while using ExecuteReader

60% CPU
[code]

vs.

0%
[code]

[EDIT] Add C# syntax highlighting by @karelz

[2018-01-12 18:32] logiclrd commented on #25575
https://github.com/dotnet/corefx/pull/26298

[2018-01-12 18:42] CarolEidt commented on #26188
@mikedn - although there's a lot we *don't* know about what the JIT could or couldn't do, especially if it were engineered as well as it could possibly be, I think there are a couple of things we can say:
- it is a near certainty that the JIT can't do as much as we would like it to, even with a *lot* more investment in throughput and optimizations
- there's a fair bit of evidence that even the bes

[2018-01-12 20:00] jhudsoncedaron commented on #7187
@ianhays : It's pretty obvious you needed a new API anyway. Both behaviors should be reachable.

[2018-01-12 20:06] eerhardt commented on #25024
This is exactly how I ran into this problem.  I was trying to use [System.Numerics.Tensors](https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/System.Numerics.Tensors) (which is netstandard1.1 and has a dependency on System.Memory) in a UWP app and it doesn't work.

[2018-01-12 20:49] ajcvickers opened #26302 "GetColumnSchema not supported"
Originally filed as https://github.com/aspnet/EntityFrameworkCore/issues/10686 by 	@dominicrooijackers Moved here since this is either an issue with ADO.NET or possibly with the way the third-party EntityFrameworkExtras uses ADO.NET, but is not an issue with EF Core itself.

Overnight out .NET core 1.1.0 application broke on our development server.
The application still works fine while running it

[2018-01-12 20:51] ahsonkhan commented on #21395
**Added:**
- Contains
- Non-allocating alternatives
- Additional overloads

## Updated Proposed API Additions
[code]

[2018-01-12 21:26] terrajobst commented on #25850
Let's only add `Reverse` and not the rest. Reason being that delegate invocations could potentially become a perf trap; the have obvious 1 - 5 line replacements for the caller. `Reverse` can be optimized and seems generally useful.

[2018-01-12 21:30] jkotas commented on #21395
Are the Replace methods right? They seem to be missing an argument. Also, why is the allocating variant of Replace returning ReadOnlySpan?

[2018-01-12 21:49] terrajobst commented on #21395
We don't think this is ready yet. @ahsonkhan, please redesign the APIs to avoid allocations by returning new spans. Instead, they should follow our `TryXxx` pattern. But we have to keep in mind that many times folks will start with `ReadOnlySpan<char>` from a `string` where in-place isn't possible. It would help to have some sample code that shows how these APIs are used.

[2018-01-12 22:13] karelz commented on #26146
Clarification of the ask from @CIPop:
They need `ClientWebSocketOptions.ClientCertificates` to be supported also on Windows -- it was not supported in 2.0: https://github.com/dotnet/corefx/wiki/ApiCompat#systemnetwebsocketsclient

It will be resolved by switching Windows (except UWP) to managed WebSockets via #9503, closing as dupe.

[2018-01-12 22:13] #26146 closed

[2018-01-12 22:14] mikedn commented on #26188
Yes, of course. But one of the problems with these assumptions is that the JIT may not be able to handle them very well for the same reasons it does not handle well other optimizations - lack of time, problematic design and implementation.

I've ran into such issues already. For example, I added the `(uint)i < (uint)array.Length` trick and then discovered that it doesn't quite work when used in lo

[2018-01-12 22:16] karelz commented on #26144
Clarification of the ask from @CIPop:
They need `ClientWebSocketOptions.Proxy` to be supported also on Linux/OSX -- it was not supported in 2.0: https://github.com/dotnet/corefx/wiki/ApiCompat#systemnetwebsocketsclient

This was resolved in #24288 (issue #23152) for 2.1. Default proxy detection is not part of the ask.
Closing as duplicate of #23152.

[2018-01-12 22:16] #26144 closed

[2018-01-12 22:30] AndyAyersMS commented on #26188
I'm sympathetic to this kind of proposal but also have seen this kind of thing go wrong in many ways. So I'd prefer it if we had an actual end to end implementation that we could evaluate.

[2018-01-12 22:41] corivera commented on #26302
What's the type of the DbDataReader being used here?

[2018-01-12 22:49] weshaggard commented on #6185
All the refs in corefx that have structs have had their refs updated to have private fields that follow the rules defined in our tools https://github.com/dotnet/buildtools/blob/master/src/Microsoft.Cci.Extensions/Writers/CSharp/CSharpWriter.cs#L141.

[2018-01-12 22:49] #6185 closed

[2018-01-12 22:58] karelz commented on #5120
We will be switching Windows WebSockets to managed WebSockets implementation in #9503, which already implements all `ClientWebSocketOptions` (https://github.com/dotnet/corefx/issues/5120#issuecomment-334212032).

Closing as duplicate of #9503.

[2018-01-12 22:58] #5120 closed

[2018-01-12 23:06] #25846 closed

[2018-01-12 23:13] joperezr opened #26305 "Update UAP TFM on master branch to be vNext"
As we get ready to ship .NET Core 2.1, we need to make sure that we rev up the version of UAP vnext on our master branch since we shouldn't ship OOB packages that have a uap asset with the old TFM. Because we haven't done this yet, we are currently seeing problems trying to consume OOB packages in UWP like the one described here #25024 about System.Memory package. Once that is fixed, we should be

[2018-01-12 23:14] weshaggard commented on #26305
We need to do the same thing in core-setup branch as well.

[2018-01-12 23:28] karelz opened #26307 "[ManagedHandler] Digest parsing can read beyond the string"
Digest parsing of keys and values is parsing a string from server (untrusted source) and can run beyond the end of the string:

https://github.com/dotnet/corefx/blob/58b5c181d3d47a3c2f75b602bb5153da9528a401/src/System.Net.Http/src/System/Net/Http/Managed/AuthenticationHelper.Digest.cs#L285-L293

If `quotedValue` is `true`:
https://github.com/dotnet/corefx/blob/58b5c181d3d47a3c2f75b602bb5153da9528a

[2018-01-12 23:47] sergiy-k opened #26308 "Create an official ARM64 build for AOT UAP"
This is required to build ARM64 packages for ProjectN.

/cc: @weshaggard

[2018-01-12 23:51] MohammadHamdyGhanem commented on #26272
Even better, Point, Size and rectangle structures ar commenly used in image processing calculations, so it can be faster if SIMD operations aplied to them directly. This can be done by extention methods, or by implementing some interface, or as I suggested in   #26251 , by using static methods of a SIMD Class that have parameters to deal with Array class, Point, Size and Rectangle structures.

[2018-01-13 00:13] karelz commented on #26293
Here's minimal repro:
[code]

Result:
* Windows - 1 (correct)
* Linux - 0 (incorrect)

[2018-01-13 00:13] joshfree commented on #26305
@lt72 @zamont can you PTAL?  @joperezr yes, I'd use RS3+1 for now.

[2018-01-13 00:16] eerhardt opened #26309 "NamedPipeServerStream RunAsClient changes other thread's euid"
When calling NamedPipeServerStream RunAsClient on Unix, it calls `Interop.Sys.SetEUid(peerID)`, which calls the POSIX command `seteuid`.

According to the man pages for [setreuid](http://man7.org/linux/man-pages/man2/setreuid.2.html) and [nptl](http://man7.org/linux/man-pages/man7/nptl.7.html), whenever `seteuid` is called, it changes the user for all threads in the process in order to be POSIX co

[2018-01-13 00:22] stephentoub commented on #26309
Yes, this is why the comments talk about process rather than thread:
https://github.com/dotnet/corefx/blob/0eb5e7451028e9374b8bb03972aa945c128193e1/src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs#L177
It's a known difference from Windows.  If there's a way to implement it per thread, it should be changed, but as your comment points out, POSIX does not support that.

[2018-01-13 00:35] jhudsoncedaron opened #26310 ".NET Core is missing suitable APIs for dealing with filesystems that contain symbolic links"
Ref: https://github.com/aspnet/Home/issues/2774 for discovery point

.NET Core is missing suitable APIs for dealing with filesystems that contain symbolic links

FileInfo does not resolve symbolic links, leading to subtle bugs. There's no API that gives information about the link target. There's other problems with the existing APIs causing them to have trouble when you call Directory.EnumerateFil

[2018-01-13 00:55] safern commented on #25188
Mirror is running in between coreclr and corefx, here is the initial PR:

https://github.com/dotnet/corefx/pull/26311

[2018-01-13 01:12] MohammadHamdyGhanem commented on #26272
Note:
A static Simd class with overlaoded methods is  more convenient than repeating the same static methods in all similar classses such as Vector2, Vector3, and Vector4. Otherwise these methods should be member methods not static in each class. Why writing:
[code]
instead of:
[code]
Or better:
[code]
Or best:
[code]
and by expanding the Simd Class to deal with arrays and drawing structures:
[cod

[2018-01-13 01:18] danmosemsft commented on #26310
Thanks for this proposal. Do you want to recocile this with the proposals made in https://github.com/dotnet/corefx/issues/25569 so we can have some all up proposal? It might make sense to move this there.

@carlreinke

cc @JeremyKuhne

[2018-01-13 01:43] jkotas commented on #4928
Needs to be exposed in corefx

[2018-01-13 01:46] GrabYourPitchforks opened #26313 "[API Proposal] Allow easier access to binary representation of blittable types"
Occasionally advanced developers may have a need to view the binary representation of a blittable value type. For instance, the UTF-8 parsers and formatters have the need to treat a GUID as a sequence of binary data so that it can be efficiently inspected and converted to wire format. This currently involves using pointers and reinterpreting casts, or it involves the use of `Unsafe.As<,>`, or it i

[2018-01-13 01:46] safern commented on #24618
@brianrob the issue is fixed and the mirror is now using the updated tool. However there has been a discussion about mirroring the whole coreclr shared folder into corefx. See: https://github.com/dotnet/corefx/issues/25188

So I'm changing the mirror settings to mirror the whole folder to a Common directory in corefx, @tarekgh will work once the first PR is merged to fix the Redist project to buil

[2018-01-13 01:52] safern commented on #25188
Just for reference, the PR to start the mirroring is: https://github.com/dotnet/corefx/pull/26314 because we decided to change the folder path in corefx.

[2018-01-13 02:25] jhudsoncedaron commented on #26310
@danmosemsft @JeremyKuhne  I attempted a merge but didn't get too far. I updated my version with some pieces of his.

The main trouble is there's more possible file types than Attributes can handle. You really should be able to detect if you got a node of a strange type. In addition, it is a bad idea to assume that readlink() actually does the same thing as followlink() [the act of opening a link

[2018-01-13 02:51] aobatact commented on #26209
I would be happy to get a year , month , day at the same time but won't it make confusion between (hour, minute, second) ?

[2018-01-13 03:28] EgorBo commented on #26297
@relgram the codes don't look the same, is not the first snippet an infinite loop?

[2018-01-13 05:03] ahsonkhan commented on #21395
**Update:**
- Removed the allocating versions of the API
- Fixed Replace
- Fixed argument names and return values of the non-allocating versions of the APIs

Most of the APIs that are designed to avoid allocations do not need to return bytesWritten since that will be known to the user before the call. For example, we know that Remove will write exactly `source.Length - count` chars to the destinat

[2018-01-13 05:29] HobDev commented on #26203
It is not possible to communicate with serial port in Xamarin.Mac.

[2018-01-13 05:33] benaadams commented on #26293
Linux character sorting behavior? https://github.com/dotnet/coreclr/issues/14066#issuecomment-330913921
Need to use `StringComparison.Ordinal`?
/cc @tarekgh

[2018-01-13 05:45] jkotas commented on #26313
It is not possible to implement this API with slow Span. This API can only exist with fast Span.

[2018-01-13 05:57] jkotas commented on #26139
I think we should kill the Create overload that takes first argument as `object`. People *always* use it incorrectly (e.g. by passing the first argument as null).  Just run into another case: https://github.com/dotnet/corefx/pull/26289#discussion_r161364636 . I have not seen a correct use it of it.

Instead, we should have `Span<T> MemoryMarshal.Create<T>(ref T data, int lenght)` in the netcoreapp

[2018-01-13 06:41] peterhpchen opened #26317 "It has same test cases in `SkipWhileTests.cs`"
When I was reading `SkipWhileTests.cs`, I was confused by this part:

https://github.com/dotnet/corefx/blob/58b5c181d3d47a3c2f75b602bb5153da9528a401/src/System.Linq/tests/SkipWhileTests.cs#L91-L125

`PredicateManyFalseOnSecond` and `PredicateManyFalseOnSecondInex` is completely the same.

`PredicateTrueOnSecondFalseOnFirstAndOthers` and `PredicateTrueOnSecondFalseOnFirstAndOthersIndex` is the same

[2018-01-13 09:21] WillooWisp commented on #22048
I experience this as well, please fix since debugging VS Code on Windows through WSL would be nice, but currently it is to limited due to this issue.

[2018-01-13 09:27] panost commented on #26209
@aobatact You can have Deconstuct overloads for example you can add

    Deconstuct(out int year, out int month, out int day, out int hour, out int minute, out int second, out int milliSecond);
    Deconstuct(out int year, out int month, out int day, out int hour, out int minute, out second);

but if you only care for the TimeOfDay parts then an additional method is needed such as

    public stat

[2018-01-13 09:48] jakubsuchybio commented on #26210
Hi, I am kinda stuck on installing nightly build.
I went by https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md but I am not even able to install that .deb package because of asp core dependencies. :/
[code]
Any help please?

[2018-01-13 11:11] JonHanna commented on #26317
Not quite. The predicate for the non-index cases was intended to be `e => e % 2 == 0` to match the cases translated in #2997. Also, `Inex` was a typo for `Index` there.

[2018-01-13 11:17] Warpten opened #26319 "Linq.Expressions.LambdaExpression and Linq.Expressions.BlockExpression"
Greetings;

Currently, `Linq.Expressions.BlockExpression` allows a set of local variables represented by `Linq.Expressions.ParameterExpression` to be provided to it.  This allows for the following "pseudo"-code:

[code]

This code basically tries to call `object.GetHashCode()`. It however makes a critical mistake: `paramExpr` is declared as both a local variable to the block, and an argument to th

[2018-01-13 11:41] aobatact commented on #26209
I know that I can have ovreloads to it. My question is how the user know what values are deconstructed. As for other types that can Deconstruct like ValueTuple, Tuple, KeyValuePair, etc... , it is obvious which and what order they are deconsructed, but why can we say that deconstruct with three values means deconstruct to year, month, day ?

[2018-01-13 11:54] aobatact commented on #26209
![4](https://user-images.githubusercontent.com/20785944/34905746-a16032e2-f8a2-11e7-889e-8ee64ff3947c.png)
If the description of what values are deconstructed are shown in IDE it might be OK but currently I can't find a way for users to know.

[2018-01-13 12:14] panost commented on #26209
Because you do know that DateTime doesn't have a constructor with 3 arguments that are hour,minute,seconds but only one that is year,month,day. The Deconstructor overloads should follow the signature of a public constructor if that's possible

[2018-01-13 12:30] aobatact commented on #26209
Well , that's right. I wonder why I didn't come up with a constructor.

[2018-01-13 12:37] JonHanna commented on #26319
No. Because then you're banning use that works like:

[code]

The only practical difference in implementation is that if you try to create a `ref` `Expression.Variable()` with `Expression.Variable(typeof(int).MakeByRefType())` it throws an exception. Aside from that, that `Expression.Variable()` in name better reflects an attempt to create a variable for use within a scope and `Expression.Paramete

[2018-01-13 13:15] Warpten commented on #26319
Right, I forgot about the possible semantic misuse of Parameter as a Variable. I'm also coming from a world where breaking changes aren't exactly a big deal, but I can see why that would be the case for .NET.

I guess i just find it very odd to have two semantic usages of a same type, in what is basically an expression tree.

[2018-01-13 15:27] JonHanna commented on #26317
Nice catch BTW, it's the sort of thing where once one has read past it once without spotting the mistake, one will likely never spot it.

[2018-01-13 15:36] danmosemsft commented on #22048
Nobody is working on this at the present moment but A PR would be welcomed if anyone is interested.

[2018-01-13 15:37] JonHanna commented on #26319
Life certainly is easier when one can move a bit faster and break more things 😄

In a way, `ParameterExpression` isn't so much an expression that represents a parameter as an expression that represents a local value (and hence, a parameter or a variable). Perhaps it would have been called `LocalExpression` or something similar if `Block()` was in S.L.Expressions from its beginning with .NET 3.5 ra

[2018-01-13 16:01] Ziriax opened #26320 "Span and ReadOnlySpan methods are missing the PureAttribute"
I'm very excited that `Span` is introduced in the lovely .NET framework!

However I get a lot of R# warnings when using it, since none of the pure `Span` nor `ReadOnlySpan` methods have the `PureAttribute`.

Is this 'pure' attribute obsolete?

[2018-01-13 16:43] karelz commented on #26210
@jakubsuchybio let's please take it to another issue. It is not related to this one. Doesn't even fit CoreFX repo well, but we can start here, until we find the right place.

[2018-01-13 17:37] weitzhandler commented on #26277
@karelz

I'm unable to edit the [first post](https://github.com/dotnet/corefx/issues/26277#issue-287930246).

@weshaggard

I tried that but the same issue still persists.

[code]

[2018-01-13 19:23] jakubsuchybio commented on #26210
@rmkerr Could you please point me to some guide or help me how to install nightly build?
As you can see I have troubles with it to repro my issue on that nightly version..
Thx
@karelz I don't even know if I am installing that nightly build correctly, so dunno if this is an actual issue...
.NET Core and it's CLI aren't that easy to grasp and the guides doesn't help much :/

[2018-01-13 19:28] karelz commented on #26210
@jakubsuchybio understood, still worth a new issue - if it is unclear in docs, we should fix it. We should not mingle it with specific issues, it just creates clutter. People who know how installer works may be different people than the area experts :)

[2018-01-13 19:31] karelz commented on #26320
[PureAttribute](https://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.pureattribute(v=vs.110).aspx) is from Contracts. We gave up on those, they are basically obsolete.
R# should not reply on that attribute anymore. We stopped annotating BCL a long time ago with Contracts -- @weshaggard can provide more historical details.

[2018-01-13 19:44] #26317 closed

[2018-01-13 21:33] geoffkizer opened #26323 "[ManagedHandler] Cache and reuse auth credentials"
Per RFC 7235, section 2.2:

"If a prior request has been authorized, the user agent MAY reuse the same credentials for all other requests within that protection space..."

The rules are slightly different for basic vs digest, and proxy vs regular auth, but the basic issue is the same.

The managed handler isn't doing this today, which will cause additional round trips to reauthenticate subsequent

[2018-01-13 22:26] geoffkizer opened #26325 "[ManagedHandler] Reduce code duplication between regular auth and proxy auth"
Code in HttpProxyConnectionHandler.SendWithProxyAsync largely duplicates code in AuthenticateAndRedirectHandler.SendAsync.  Would be nice to consolidate here where we can.

[2018-01-13 22:52] geoffkizer opened #26326 "[ManagedHandler] Consider adding support for LF line termination when parsing response header"
Per RFC: https://tools.ietf.org/html/rfc7230#section-3.5

"Although the line terminator for the start-line and header fields is the sequence CRLF, a recipient MAY recognize a single LF as a line terminator and ignore any preceding CR."

[2018-01-13 23:16] valeri2 opened #26327 "HttpListener on Unix. Windows authentication."
Hello.
Are there plans to implement Windows authentication in HttpListener on Unix?
It is necessary to migrate my project on Linux.

[2018-01-13 23:33] GrabYourPitchforks commented on #26313
Ugh, that's unfortunate. :(

[2018-01-14 02:07] jkotas commented on #26320
Related issues with the historical details: #24681 #15443 #11596

[2018-01-14 02:07] #26320 closed

[2018-01-14 02:25] geoffkizer opened #26331 "[ManagedHandler] Add equivalent of ServicePoint.ConnectionLeaseTimeout"
This is necessary to support DNS based routing with TTLs.  See #11224 for more details.

[2018-01-14 02:33] geoffkizer commented on #23156
We should also look at draining behavior when we consume a response internally -- i.e. auth challenges, redirects, etc.  If we aren't draining properly here then we're just throwing away valid connections.

We need to at least look at this for 2.1.

[2018-01-14 03:48] benaadams commented on #26313
Would there be value in having it as a platform api? (netcoreapp2.1, net47x, e.g non-netstandard)

[2018-01-14 07:29] jakubsuchybio commented on #26210
@karelz So you suggest creating issue at https://github.com/dotnet/cli ? Or where does this falls into?
In really simplistic way:
- CLI is just a 'dotnet' without any runtime and any libraries (sdk)
- corefx is actual implementation of .net core so it is the whole runtime + sdk

So when I am installing dotnet it must be bundled as CLI + corefx no? Therefore where should I put this new issue if it

[2018-01-14 08:55] stephentoub commented on #26331
It seems like an alternative to that, rather than being a way to implement that.  to support DNS based routing with TTLs

[2018-01-14 08:56] stephentoub commented on #26331
(hit wrong button :)

[2018-01-14 08:57] stephentoub commented on #26327
There are no such plans.

[2018-01-14 09:19] Ziriax commented on #26320
Thanks for the info and fast response.

Do you have plans to introduce a language replacement for the PureAttribute, like the const  mutable annotations in C++?

[2018-01-14 12:09] geoffkizer commented on #26331
Yes, that's correct.

If we had proper TTL handling, we (probably) wouldn't need ConnectionLeaseTimeout.

Supporting ConnectionLeaseTimeout gives us a way to make DNS TTL-based routing work reasonably well, without actually retrieving and respecting the TTL.

[2018-01-14 14:40] generik0 opened #26332 "[Proposal] Tuple.Create with params and/or collection names/values"
Hi
(Not sure is this is in correct repo=?)

Love dotnet. Thanks! C#7 Tuples and TupleValues are great. But they appear to be missing a more dynamic element.

Any chance of getting:

[code]
and/or
[code]
where names are

If:
- over 8 items, then throw an exception.
- keys.Count != names.Count throw exception

Regards G.

[2018-01-14 14:50] JonHanna commented on #26332
There would be no need to throw on more than 8 elements, as it could just nest tuples.

The names version wouldn't work as the names aren't a runtime feature.

This leaves the question of how much use a homogeneous typed tuple is, to make such factories useful.

[2018-01-14 14:51] svick commented on #26332
How would that work? What would be the return types of the methods you propose?

[2018-01-14 14:53] JonHanna commented on #26332
The return type would have to box, which kills a lot of the advantages of the types

[2018-01-14 15:39] jkotas commented on #26320
Proposal: https://github.com/dotnet/csharplang/issues/1157
It is not in the list of currently planned features.

[2018-01-14 16:03] generik0 commented on #26332
Hi.
Really great questions!!!
I have found this to be an issue when using Classes that use generics.

E.g.public class FooFactory<T>.
The activator does not seam to be making the T correctly,
Hence I though a paras create would give me the possibility to make the ValueTuple.

So I gues the method should be e.g.
Value.Tuple.Create<T>(Items);

The the class could then be instanciated with:

var fact

[2018-01-14 16:37] generik0 commented on #26332
Good new. Looks i was looking at it all wrong when using the Activator.
This appears to pass
[code]

[2018-01-14 16:37] #26332 closed

[2018-01-14 17:36] karelz commented on #26210
@jakubsuchybio this repo is fine - after all you're using dogfooding instructions from here. We can move it later if needed.

[2018-01-14 18:13] karelz commented on #26327
HttpListener is consider legacy API, for compat-only. We recommend to use KestrelHttpServer for full cross-platform HTTP server API surface.

I have created https://github.com/dotnet/platform-compat/issues/88 to document the "obsoletion".

For more details see also our Networking Technical roadmap https://github.com/dotnet/designs/issues/9 (there is long discussion about this topic).

[2018-01-14 18:13] #26327 closed

[2018-01-14 19:01] karelz opened #26333 "[New Tests] Failed: System.ServiceProcess.Tests.ServiceBaseTests / LogWritten & LogWritten_AutoLog_False"
Affected tests (introduced in PR #26260 - @Anipik):
* LogWritten
* LogWritten_AutoLog_False

Failure of `LogWritten` test:
[code]

## History of failures

Day | Build | OS | Details
--- | --- | --- | ---
1/13 | 20180113.03 | Win10.Nano | LogWritten & LogWritten_AutoLog_False
1/14 | 20180114.01 | Win10.Nano | LogWritten & LogWritten_AutoLog_False
1/14 | 20180114.03 | Win10.Nano | LogWritten & LogWr

[2018-01-14 19:29] karelz opened #26334 "Test failed: System.Net.Sockets.Tests.UnixDomainSocketTest / ConcurrentSendReceiveAsync"
## Types of failures

Failure [20180113.03](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180113.03/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.UnixDomainSocketTest~2FConcurrentSendReceiveAsync):
[code]

## History of failures

Day | Build | OS | Details
--- | --- | --- | ---
11/25 | 20171125.0

[2018-01-14 20:06] onyxmaster opened #26335 "The HttpClient.SendAsync throws WebException instead of wrapping it with HttpRequestException"
The 4.6.1 framework version did not do this.
When moving to .NET Standard 2.0 + .NET Framework 4.7.1, the same exception is no longer wrapped into an HttpRequestException (while the docs still state that it should).
This breaks robustness wrappers and retry mechanisms built around the HttpClient.SendAsync.
Consider the following stacktrace (processed with the [AsyncFriendlyStackTrace](https://gith

[2018-01-14 20:14] karelz commented on #25676
The issue is still happening on similar cadence - last 5 days hits in CI:
Day | Hits in CI
--- | ---
1/9 | 9x
1/10 | 8x (out of that 3x error "The server returned an invalid or unrecognized response.")
1/11 | 4x (out of that 1x error "The server returned an invalid or unrecognized response.")
1/12 | 10x (out of that 1x error "The server returned an invalid or unrecognized response.")
1/13 | 3x
1/1

[2018-01-14 20:39] Petermarcu opened #26336 "StreamWriter.WriteLine looks to be writing on LF as opposed to CRLF"
@diamondes3 commented on [Thu Jan 11 2018](https://github.com/dotnet/core/issues/1211)

Core 2.1.2

When using a StreamWriter and issuing a WriteLine, the output data is being appended with a LF only.  I don't know for certain, but I'm pretty sure, that is used to append CRLF.

This doesn't seem to affect anything that I have noticed, except, when opening a file in NotePad, the data is one long li

[2018-01-14 20:40] Petermarcu opened #26337 "Flag `CreateNoWindow` does not work on linux"
@maroallegro commented on [Wed Jan 10 2018](https://github.com/dotnet/core/issues/1206)

Used framework: .NET Core 2.0

Running below code on Windows opens new console window with program.dll running. When running below code on linux new console window is not opening. Seems like flag `CreateNoWindow = false` does not work.

    var process = new Process
    {

        StartInfo = new ProcessStartI

[2018-01-14 20:53] stephentoub commented on #26336
By default it outputs \r\n on Windows and \n on Unix. Can you share a repro that demonstrates otherwise? Thanks.

[2018-01-14 21:39] WillooWisp commented on #22048
But clearly it is very easily reproduced, why not add it to the backlog?

[2018-01-14 22:18] Anipik commented on #26333
I will disable the tests for Nano-Server.

[2018-01-14 22:20] karelz commented on #26335
Do you see the same difference when moving from 4.6.1 to 4.7.1? (no .NET Standard 2.0 involved)
Do you have a simple repro?

[2018-01-14 22:39] Petermarcu opened #26340 "Process.Start not working properly in Mac"
@viswa18 commented on [Mon Dec 18 2017](https://github.com/dotnet/core/issues/1171)

# Process.Start not working properly in Mac

I have simple C++ command line application , which is running from .net core 2.0. I have set pinfo.CreateNoWindow = true;
 and
pinfo.WindowStyle = Hidden;

When running the application in mac, it opens the application icon in dock and close it. But it does not show any

[2018-01-14 23:09] davidsh commented on #26335
The call stack is definitely from .NET Framework and not .NET Core.  So, this could be a .NET Framework 4.7.1 bug.  But we would need to see a repro to diagnose it.

[2018-01-14 23:54] CyrusNajmabadi commented on #14354
Question for the participants here.  The Roslyn IDE allows users to generate a GetHashCode impl based on a set of fields/properties in their class/struct . Ideally, people could use the new HashCode.Combine that was added in https://github.com/dotnet/corefx/pull/25013 .  However, some users will not have access to that code.  So, we'd like to still be able to generate a GetHashCode that will work

[2018-01-15 00:07] JohnRusk commented on #26248
Is there any way to get a pci id through the existing .NET Core API?  I just realized I only need the IDs.  My users don't need the names, and I'm only using them for diagnostic purposes. I could find a way to translate the ID to a name if I had to.

[2018-01-15 00:16] jamesqo commented on #14354
Well, you could do `Tuple.Create(...).GetHashCode()`. Obviously that incurs allocations, but it seems better than throwing an exception.

Is there any reason you can't just tell the user to install `System.ValueTuple`? Since it's a builtin language feature, I'm sure the System.ValueTuple package is very compatible with basically all platforms right?

[2018-01-15 00:26] CyrusNajmabadi commented on #14354
Yes.  it would be nice to not have it cause allocations.

That would be the behavior if we generate the ValueTuple approach.  However, again, it would be nice if we could just generate something good that fits with the way the user has currently structured their code, without making them change their structure in a heavyweight way.

It really does seem like VB users should have a way to address th

[2018-01-15 05:00] #26333 closed

[2018-01-15 05:18] danmosemsft commented on #26337
We ignore this flag except on Windows. We just do `fork()` then `execve()` which do not have such flags. Is there anything mapping to this concept in Linux?

[2018-01-15 05:45] Thaina commented on #24788
Could we have this API in corefx with some `#if ValueTupleExist` something like that?

[2018-01-15 05:53] wfurt commented on #26337
Well, Linux console does not have concept of windows. So when you have console APP that is either attached to console or it can be detached and run in background. You can than have X11 (or gnome/KDE) implementing graphical interface. Bu than it is no longer console app.

I understand that for windows users the difference may not be visible as windows always had concept of window.

[2018-01-15 07:29] y-vasilyev commented on #24282
Is there any idea about workaround? Any help is higly appreciated, it blocks my work too :(

[2018-01-15 07:45] Sunny-pu opened #26344 "Test failure: System.Net.Security.Tests.ServerAsyncAuthenticateTest / ServerAsyncAuthenticate_MismatchProtocols_Fails"
The test: System.Net.Security.Tests.ServerAsyncAuthenticateTest.ServerAsyncAuthenticate_MismatchProtocols_Fails has failed.

Assert.Throws() Failure\n
Expected: typeof(System.Security.Authentication.AuthenticationException)\n
Actual: typeof(System.NullReferenceException): Object reference not set to an instance of an object.

[code]
Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubun

[2018-01-15 07:51] onyxmaster commented on #26335
Yes, this is actually moving from net461 to net471, we were moving some assemblies to netstandard2.0 and I mistakenly attributed this to it.
I'm working on a repro, but this looks to be quite rare.

[2018-01-15 08:42] Sunny-pu commented on #26089
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180115.01/workItem/System.IO.Compression.Tests/analysis/xunit/System.IO.Compression.DeflateStreamUnitTests~2FDispose_WithUnfinishedWriteAsync

[2018-01-15 10:21] SteveGilham commented on #17107
Blowing my own trumpet here, but if you need something right now, following my comment from last August, I've dusted off my old project [AltCover](https://github.com/SteveGilham/altcover) that does the instrumentation by weaving the extra IL as a separate step (based on the one I cited above), and that does work on .net framework, .net core, and Mono, on Windows and (at least) Linux. Line coverage

[2018-01-15 11:27] onyxmaster commented on #26335
I did some simple analysis and the reason appears to lie not in the version of .NET Framework, but in the presence of `netstandard2.0` default references. The `netstandard2.0` references the `System.Net.Http` assembly,
that is picked from _somewhere_ (actually it's `"%ProgramFiles(x86)%\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net471\lib\System.Net

[2018-01-15 12:48] qmfrederik commented on #25102
@henkmollema In the meanwhile, if you're on Ubuntu or Debian, you can try to install the libc6-dev package to get libdl.so.

[2018-01-15 12:51] henkmollema commented on #25102
For now I fall back to using `CoreCompat.System.Drawing.V2` and running `apt-get install -y libgdiplus` in my Docker file. Might try installing `libc6-dev` some time.

[2018-01-15 13:42] alfredmyers commented on #24577
Although I understand why the behavior was changed, it is an unfortunate change because existing code gets to depend on observed behavior.
If the behavior is going to change again as being described here, at least offer the option to opt-in (or out depending on the defaults) on the new behavior of throwing when redirecting from HTTPS to HTTP.

[2018-01-15 13:45] niemyjski commented on #20876
I'd really love to know the perf numbers of the File.Create, File.Exists and File.Delete operations cross platform. In our app (Exceptionless), we've noticed better performance on on windows and we are trying to track it down. Currently we are looking to replace all unneeded operations in our storage provider and just catch exceptions. https://github.com/FoundatioFx/Foundatio/blob/master/src/Found

[2018-01-15 15:06] tritao commented on #19718
Any news when we can expect a fix for this one?

We're hitting this in really basic HTTP client code.

[2018-01-15 15:13] onyxmaster commented on #26335
Ah, I believe the #25773 is the source of problems.

[2018-01-15 15:39] sdmaclea commented on #26180
@CarolEidt @eerhardt I think this can be marked "API-ready-for-review"

[2018-01-15 15:39] sdmaclea commented on #26181
@CarolEidt @eerhardt I think this can be marked "API-ready-for-review"

[2018-01-15 15:40] sdmaclea commented on #26182
@CarolEidt @eerhardt I think this can be marked "API-ready-for-review"

[2018-01-15 15:47] sdmaclea commented on #26183
@caroleidt @eerhardt The argument order for the `Insert<T>()` case is the only open issue here.

I think the proposed order above is best, but it is inconsistent with X86.  I would prefer X86 order got fixed.

However, if consensus favors current X86 argument order, I ready to change.

[2018-01-15 15:49] sdmaclea commented on #26185
@CarolEidt @eerhardt This should be marked "API-ready-for-review"

[2018-01-15 16:03] sdmaclea commented on #26179
The only open issue here is distinguishing between the different meanings of `AndNot` and `OrNot`

@eerhardt 's Current recommendation is for `AndNot` / `OrNot` to have different names.

Proposals for renaming:
+ X86 could use `NotAnd` or `AndNotPre` for `~A & B`
+ ARM64 could use `AndNot` or `AndNotPost` for `A & ~B`

Similar naming would be used for `~A | B` / `A | ~B`, `~A ^ B` / `A ^ ~B` ...

[2018-01-15 16:22] onyxmaster commented on #25773
Setting property `<ImplicitlyExpandNETStandardFacades>False</ImplicitlyExpandNETStandardFacades>` for 4.7.1 projects helps. This might break unknown other things though.

[2018-01-15 16:35] Brij-Mishra opened #26346 "[Missing] CssEncode. Options?"
Hi All,

May Be I am missing something. But I was using the Microsoft.Security.Application.Encoder.CssEncode for CSS encoding but it is not available in System.Text.Encodings.Web. Are we going to add or it is not required. What is the best alternative? cc @stephentoub @jkotas

Thanks a lot in advance,
Brij

[2018-01-15 16:45] stijnherreman commented on #25773
@onyxmaster Huh, if I understand https://github.com/Microsoft/msbuild/issues/2199 (should be part of 15.5 release) correctly, that property was set to True in order to make net471 work correctly with netstandard2.0

So the property fixed [one issue](https://github.com/dotnet/standard/issues/342#issuecomment-343545387) but introduced another?

[2018-01-15 17:10] onyxmaster commented on #25773
Yes, I’ve seen the issue you mentioned, hence the warning that it might break something unknown. In my case (a 180+-project solution combining lots of legacy code) everything works okay, but probably because we do not reference any problematic nuget packages. I guess the outcome much depends on projects’ dependencies.

[2018-01-15 17:14] onyxmaster commented on #25773
I’m for sure looking for a proper fix for this, but it’s much more manageable for a team to add a property to a common property file shared among all projects (we have one, and even if we hadn’t, there is Directory.Build for that), than to remove the msbuild.extensions file on every build system :)

[2018-01-15 17:16] mmatras commented on #25334
Hello, I would like to try to work on this issue, can you please assign me to it?

[2018-01-15 17:17] jhudsoncedaron commented on #22564
I found this also hangs on Windows on a single processor box. The underlying system call choices are undefined here.

[2018-01-15 17:18] onyxmaster commented on #25773
My actual problem (linked above) is actually solvable by binding redirects, but I really hate when something breaks the established API contract (with exceptions, in my point of view, being the most popular important part of them, since they are discoverable only at runtime).

[2018-01-15 17:19] JosephDix opened #26347 ""string.Join" method - inconsistent argument types"
In .Net Core 2 class library, string.Join uses a char type as the separator but in .Net Standard 2 class library, the method uses a string type for the separator.

dotnet version: 2.1.4

![image](https://user-images.githubusercontent.com/7945637/34954386-2271c744-fa18-11e7-91ae-386de421f75a.png)

![image](https://user-images.githubusercontent.com/7945637/34954400-3af9d5b8-fa18-11e7-8834-a9a88198da

[2018-01-15 17:21] relgram commented on #26297
Ahhh yes, you're correct.  While HasRows should be changed to If

[2018-01-15 17:21] #26297 closed

[2018-01-15 17:29] tannergooding commented on #25334
@mmatras, This (ideally) needs a proper API proposal and should go through the API review process before any work starts on it.

Another big decision is whether this should be implemented the same way as the existing intrinsics (adding codgen support directly to the JIT) or if it can use the new hardware intrinsics functionality (which is still a WIP). The two implementations are widely different

[2018-01-15 17:34] jnm2 commented on #26347
.NET Core has more APIs than .NET Standard, but there's no inconsistency. .NET Core has all the same overloads .NET Standard has: https://docs.microsoft.com/en-us/dotnet/api/system.string.join?view=netcore-2.0#System_String_Join_System_String_System_Collections_Generic_IEnumerable_System_String__

[2018-01-15 17:46] karelz commented on #26335
@onyxmaster the problem you linked above is unrelated - it just turns into failing to load System.Net.Http entirely. 4.2.0.0 in netstandard2.0 is just reference assembly, without any implementation. The point is that on 4.7.1, it will run ALWAYS on the 4.0.0.0 which is part of 4.7.1 - for which you need a binding redirect.

[2018-01-15 18:00] xantari commented on #4960
Same issue with .NET 4.7. This only fixed in .NET Core?

[2018-01-15 19:03] onyxmaster commented on #26335
If I understand correctly, when netstandard2.0 class library is referenced by the net471 project, something (the targeting pack?) adds the reference to the facade dll which leads to the wrong assembly being used.
So if I built the app for netcore2.0, it would use the GAC 4.0.0.0 version on 4.7.1. But since I build the app for net471, but it references netstandard2.0 -- it uses the facade assembly

[2018-01-15 19:35] #26347 closed

[2018-01-15 19:36] onyxmaster commented on #26335
If it would be completely unrelated, adding `<ImplicitlyExpandNETStandardFacades>False</ImplicitlyExpandNETStandardFacades>` to the  wouldn't help, would it?
In my case it helps (the test completed every time I submitted it), and I tested it both on my development notebook, in our test environment (Windows Server 2016) and production environments (a mix of WS2012/WS2012R2) with .NET 4.7.1 installe

[2018-01-15 19:51] Clockwork-Muse commented on #26332
...okay, but your use example is the equivalent of the old joke:

...in particular, homogenous tuples are usually really lists of some sort, especially if you're creating them with dynamic size.

[2018-01-15 20:27] mattwoberts opened #26348 "DbConnectionPool.TryGetConnection is blocking call"
As discovered here: https://github.com/benaadams/Ben.BlockingDetector/issues/4

Dapper exposes a `QueryAsync` method, which uses this code to async open a db connection:

    await ((DbConnection) cnn).OpenAsync(cancel).ConfigureAwait(false)

That in turn calls through to [TryGetConnection](https://github.com/dotnet/corefx/blob/d75610efce77c2f2562c4f35de901ea38b6d43b7/src/System.Data.SqlClient/src

[2018-01-15 20:31] danmosemsft opened #26349 "Test failed: System.IO.FileSystem.Tests / TimesIncludeMillisecondPart"
[code]

[2018-01-15 20:31] benaadams commented on #26348
`System.Data.SqlClient.SqlConnection.OpenAsync`
Calling through to
`System.Data.ProviderBase.DbConnectionPool.TryGetConnection`

[code]

[2018-01-15 20:32] davidsh commented on #4960
The bug in .NET Core was specific to .NET Core implementations.

We have not received any bug reports regarding cookies being dropped in redirect requests when using .NET Framework.  If you are having this problem, please open a new bug here:

https://developercommunity.visualstudio.com/content/problem/post.html?space=61

and please attach a simple repro so that it can be diagnosed.  Thx.

[2018-01-15 20:48] onyxmaster commented on #26335
I did some analysis. The multithreading doesn't appear to matter, the error is triggered in single-threaded case too, just usually takes more time to manifest itself. The `HttpClientHandler` works (though SendAsync reflection call) finely too.
The problem appears to be within HttpContent stream copying.
I traced first-chance exceptions, and the stack trace is this one:
[code]

[2018-01-15 21:00] onyxmaster commented on #26335
The full IOCP stack trace at the moment of failure is this one:
[code]

[2018-01-15 21:06] danmosemsft commented on #26337
@maroallegro I'm going to close this as it's not clear it's possible.

[2018-01-15 21:06] #26337 closed

[2018-01-15 21:07] onyxmaster commented on #26335
Judging by stacktrace and some decompilation, I believe that the reason is that the `4.2.0.0` (the facade one) version of `DelegatingStream` contains a _delegating_ `CopyToAsync` method, while the `4.0.0.0` (the .NET 4.7.1 one) does not contain it and inherits its implementation from `System.IO.Stream`. The presence of this method circumvents the fail-safety of the `HttpClientHandler.WebExceptionW

[2018-01-15 21:14] generik0 commented on #26332
Your humor is above my IQ. I don’t get it.... Was it ment as an insult?

My example was just a factory pattern that could be used for nothing in particular other to proving that the Activator code make ValueTuples.

I am simply happy that the Activator can create ValueTuple’s. Even though it is a dynamic list of structs as you point out...
Good work who made the Activator code....

[2018-01-15 21:37] danmosemsft commented on #26024
This should be fixed now. @pranavkm if you are interested you could look into adding subsecond granularity to setting timestamps, using utimensat  where available.

[2018-01-15 21:37] #26024 closed

[2018-01-15 22:25] aaronfranke opened #26352 "Add Tau and Pau to System.Math class"
The System.Math class currently has values for `PI`, and `[Theory]` for π, π/2, π/4, [etc](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/Math.cs), but there are a few other useful circle constants that can be useful to have that are missing. Namely:

* Tau, which is 2π, or about `6.28318530718`. In radians, all the way around the circle.

* [Pau](https://x

[2018-01-16 00:20] davidsh commented on #26335
@onyxmaster We could diagnose this more accurately if you are able to post a Visual Studio solution with a small repro.  You can post a ZIP file.

[2018-01-16 00:35] davidsh commented on #26278
What is the purpose of this pattern?  I.e. why have a shared static HttpClientHandler, but yet create a new HttpClient for every request?  Why not just create a single HttpClient w/ a handler (HttpClientHandler) that can be shared static?

[2018-01-16 00:41] jnm2 commented on #26352
[Wait a minute...](https://xkcd.com/927/) tsk tsk 😜

[2018-01-16 00:45] tannergooding commented on #26352
Only `Math.Pi` and `Math.E` are exposed constants. The others are special test inputs/outputs (only defined in the unit test library) that are used to validate the math functions return the way expected value for some "well-know" values.

[2018-01-16 00:49] aaronfranke commented on #26352
Why not have more exposed constants? They are useful, after all.

[2018-01-16 00:58] jnm2 commented on #26352
Are they? Let me turn that around and ask, why? Is it super common to maintain your own tau and half-pi constants? That's new to me.

[2018-01-16 01:02] tannergooding commented on #26352
I don't have any specific preference for or against exposing them. There are some libm implementations that expose similar constants, but they also haven't been exposed as part of the "public surface area" in the actual C/C++ standards.

They do represent core values that various math libraries may need to consume/produce; However, they are also just constants with well-defined values, so it isn't

[2018-01-16 01:12] aaronfranke commented on #26352
I do know it's a joke, but it's still a simple name to use. Would you rather call the variable `Math.THREEHALVESPI` or `Math.THREEQUARTERSTAU`?

If they're simple to define in any library, why not define them in this library?

[2018-01-16 01:20] tannergooding commented on #26352
1. I don't think anyone has proposed it yet.
2. There are many more (IMO) useful APIs to add to CoreFX, that provide significant benefit and that are not trivial to implement (this includes APIs in the System.Math library)

[2018-01-16 01:21] baal2000 commented on #26278
@davidsh

Both approaches (single HttpClient v.s. multiple HttpClients, single HttpMessageHandler) are argued at https://github.com/dotnet/corefx/issues/5811.

Conclusion: HttpClient constrictor supports such pattern, so why not? Is there any reason to not use single HttpClientHandler - multiple HttpClients pattern?

As of Dec 2017  there is known issue #11224 affecting singleton HttpClient. May a

[2018-01-16 01:54] davidsh commented on #26278
This doesn't affect HttpClient, per se.  It affects HttpClientHandler.

HttpClient is a class that derives from HttpMessageInvoker.  HttpMessageInvoker is a simple class that simply has one method, a public SendAsync() method.  It is only class that call call the protected internal SendAsync() virtual method of a handler such as HttpClientHandler.

HttpClient itself adds some value over HttpMessag

[2018-01-16 01:54] tannergooding commented on #26352
@aaronfranke, if you do want to "officially" propose CoreFX add the APIs, you should follow the steps [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps) and submit a "formal" API proposal (probably by just updating the OP, rather than opening a new issue).

[2018-01-16 02:27] Sunny-pu commented on #20223
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/288/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_Success_type__APM_/

[2018-01-16 02:48] baal2000 commented on #26278
@davidsh

There are convenience (HttpClient's individual properties) and historical (rooted in .net 4.0 WebRequest -based code) reasons to use a client instance per request. We realize it can be refactored to the singleton pattern.

Putting aside the best practices: could the multiple client pattern contribute to the crashes in releasing of winhttp handles? If it could: we would accelerate the ref

[2018-01-16 02:53] Sunny-pu commented on #25029
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/372/testReport/BasicEventSourceTests/TestEventCounter/Test_Write_Metric_EventListener/

[2018-01-16 03:15] JeremyKuhne commented on #20876
@niemyjski Exists isn't horrible- you'd have to call it an awful lot to get a noticeable hit.

Directory enumeration is the most expensive API we have- a good place to focus your investigation. I recently did a big update for Windows with enumeration perf and I'm looking to provide high-performance extension points cross plat. #25873

If you get some measurements of where your app is spending time

[2018-01-16 03:34] JeremyKuhne commented on #26310
My first inclination would be to extend FileInfo, is there a reason we can't do that?

We should look at exposing the reparse point type on Windows if we're going to go this far with file types. Additionally we should look at how we might expose character file types on Windows as well.

Note that I want to get this merged with @carlreinke's proposal #25569 if at all possible.

[2018-01-16 03:49] JeremyKuhne commented on #25569
@carlreinke Sorry I haven't responded, I've been out on an extended vacation. @jhudsoncedaron is also interested in this area and has opened #26310. We should leverage the interest here and try and get a strong proposal together that we can easily clear through API review.

Agreed, thanks for the example.

Sorry, terminology is a little weird and I think I was confusing myself. "Create a symbolic

[2018-01-16 04:15] y-vasilyev commented on #24282
@stu-mck I solved this issue in my project, here is my workaround for this problem - https://stackoverflow.com/questions/47421371/dapper-is-throwing-system-data-sqlclient-sqlconnection-exception-after-upgrading/48273860#48273860
based on @evil-shrike  comment

[2018-01-16 04:19] onyxmaster commented on #26335
@davidsh I posted a link to a GitHub repo in my second comment yesterday (and it was edited later to fix a typo, not edit a link). Do you accept only zip files?

[2018-01-16 05:00] davidsh commented on #26335
A repo is fine also.  As long as we can build it and repro the problem it will be helpful.

[2018-01-16 05:02] davidsh commented on #26278
I think it is possible that this particular pattern is related to the crashes.  The pattern is not "illegal" per se, but it is not something that is tested extensively in the current test coverage. It is possible that this pattern is exposing a bug.  So, as a workaround, it might be useful to see if changing the pattern helps with reducing these crashes.

[2018-01-16 05:19] onyxmaster commented on #26335
Good to hear. While I already solved this problem for us, I still hope that this repro will help you diagnose the issue in more detail and reconsider the “unrelated” problem mentioned above.
If there are any build issues, please tell me, I would like to fix them.

[2018-01-16 05:44] onyxmaster commented on #26335
I also see a tag needs-more-info, does it mean I should provide additional details?

[2018-01-16 05:47] Tratcher commented on #26331
Related discussions: https://github.com/aspnet/HttpClientFactory/issues/44

[2018-01-16 05:54] Clockwork-Muse commented on #26332
...what I was getting at is that the example you show is a tautology, or circular definition.  What we'd rather see is a "real" use.  What is it you're doing where you have a list as input, but you really need a tuple, type of thing.  And we're immediately going to be suspicious of any tuple that's completely homogenous, since that usually means whatever it is should have _stayed_ a list.

This is

[2018-01-16 06:44] generik0 commented on #26332
Thanks for the clarification.

In real life the C#7 value tuples allow us to return named types wrapped in a strict from a public methods. So it seams to be ok OO practice to use valuetuples as return values.

These public interfaces/classes will be used in other classes, so the valuetuples will have to be mocked Mocked as return values when uTesting.

I use a Nbuilder for creating stubs for mock

[2018-01-16 07:21] geoffkizer commented on #20598
Adding something like a ResolveHostAddress hook does seem interesting.  At this point I don't think it's a priority, but it's something to consider for the future.

Note we would probably only support this in the managed handler, since for winhttp and curl the DNS lookup is handled by the underlying library.

[2018-01-16 07:44] generik0 commented on #26332
Anyway. I closed this issue/proposal.
And I don’t think we need to discuss the pro’s / con’s of ValueTuples and dynamic here.
Nor what is good OO practice or not.
There are plenty of forums for that.

The issue/ proposal was simply how to build ValueTuples via generics and dynamically..
And this can be done by the Activator.

I think people should decide for themselves what is best to use for ther

[2018-01-16 08:14] geoffkizer opened #26355 "HttpClient: Inconsistent header behavior with IDNA host names"
If you specify a RequestUri with a non-ascii host name, we correct encode this using IDNA rules (including Host header, if not explicitly specified).

However, header handling doesn't seem to abide by IDNA rules.

If you set the Host header to a non-ascii host name, this succeeds but then on send, you will either get an exception (Managed Handler) or a corrupted host name with non-ascii chars repl

[2018-01-16 09:40] dotnet-mc-bot opened #26356 "Test failure: System.IO.Compression.Tests.ZipFileTest_ConvenienceMethods/CreateEntryFromFileExtension(withCompressionLevel: False)"
Opened on behalf of @Sunny-pu

The test `System.IO.Compression.Tests.ZipFileTest_ConvenienceMethods/CreateEntryFromFileExtension(withCompressionLevel: False)` has failed.

System.IO.InvalidDataException : End of Central Directory record could not be found.

        Stack Trace:

           at System.IO.Compression.ZipArchive.ReadEndOfCentralDirectory() in E:\A\_work\1664\s\corefx\src\System.IO.Com

[2018-01-16 09:42] Sunny-pu commented on #26356
failed tests:
System.IO.Compression.Tests.ZipFileTest_ConvenienceMethods
System.IO.Compression.Tests.ZipFileTest_Invalid 
System.IO.Compression.Tests.ZipFileTest_ReadOpenUpdate

[2018-01-16 11:34] svick commented on #24788
@Thaina I don't think so. There isn't anything similar to `#if` for libraries.

[2018-01-16 13:08] jkotas commented on #26346
This issue was moved to aspnet/Home#2784

[2018-01-16 13:10] jkotas commented on #26346
`Microsoft.Security.Application.Encoder.CssEncode` is part of ASP.NET AntiXss library https://wpl.codeplex.com/

The right place to ask about .NET Core equivalent is ASP.NET Core repo.

[2018-01-16 13:11] vdjuric commented on #20598
Sounds good! I will look into managed implementation of HttpClient and try to prepare prototype.

[2018-01-16 13:13] hiramegl commented on #8807
AAD Username and Password and windows is what we use in our projects.

[2018-01-16 15:53] eerhardt commented on #26309
From everything I've read (and from a little prototype testing on my Ubuntu box), this can be achieved using:

[code]

I'm not sure of the full ramifications of doing this.  I know that on macOS, `syscall` is deprecated as of `10.12`, so we'd have to find a different approach on macOS.  We may have issues on other platforms as well.

[2018-01-16 16:03] shravan2x commented on #25800
@karelz I have an interesting update to this.

1. I took one of my new VMs where I was *NOT* able to reproduce the issue - i.e. it seemed to be working fine. The latest `dotnet-sdk-2.1.4` was installed. I ran the test app and everything worked correctly.
2. I moved my "larger app" to this new machine and let it run. It crashed at some point overnight due to the same issue as before.
3. Now I ran m

[2018-01-16 16:07] karelz commented on #25800
It is weird/suspicious that step [2] is needed to reproduce it.
If you have steps that lead to repro on any new VM and you can share them, we could take a look.

[2018-01-16 16:11] jhudsoncedaron commented on #25569
I hate to disappoint you guys but "create a directory structure with some links in it" is a pill on Windows because Windows decided to demand knowing whether the target is a file or a directory at create time.

[2018-01-16 16:14] ViktorHofer commented on #15131
@danmosemsft I think this can be closed now?

[2018-01-16 16:14] jhudsoncedaron commented on #26310
@JeremyKuhne : I've been over that path a few more times. Reusing FileInfo requires a commitment to auditing all users of FileInfo in .NET Core immediately as well as adding the full file type enumeration. Adding the type enumeration is easy but will break the System.Runtime -> mscorlib shim due to differing ABI surface. I don't care if that shim breaks but you do.

[2018-01-16 16:17] davidsh commented on #26355
I assume that "IDNA" refers using Punnycode to encode the host name?

Some background on this:

On Windows, the use of Punnycode can vary depending on system configuration and enterprise policies.  Windows DNS for example supports both Punnycode and UTF-8 encoding for DNS resolution. Typically, IDNA is used on "internet" names and UTF-8 is used on "intranet" names since Windows DNS can be configur

[2018-01-16 16:21] ViktorHofer commented on #26293
As Tarek stated this seems to be by design. Using `string.IndexOf(string, StringComparison.Ordinal)` should solve the reported issue

[2018-01-16 16:21] KrzysztofCwalina opened #26357 "Add MemoryPool APIs"
This API is an abstraction and a singleton implementation of a pool providing OwnedMemory<T> instances. The pool is used by (and required by) Pipelines, but is a very general purpose type.

The default implementation of the pool (```MemoryPool<T>.Default```) is using ArrayPool<T> to provide actual memory buffers. Pipelines use an internal slab allocator implementation. There are other prototype im

[2018-01-16 16:38] Eilon commented on #26346
I think they're asking about a feature request for System.Text.Encodings.Web, not about the ancient AntiXss library (which did have this feature).

[2018-01-16 16:47] karelz commented on #26352
How common are these constants? How often are they used by System.Math users?
The names should be something everyone recognizes (discoverability), otherwise their value goes significantly down.

We don't add every API we can, but only APIs, which are useful for a wider developer audience and are truly used / useful in real-world scenarios. Otherwise we would drown in lots of marginal APIs - making

[2018-01-16 16:51] karelz commented on #26340
Duplicate of #26337

[2018-01-16 16:51] #26340 closed

[2018-01-16 16:52] davidsh commented on #26278
Looking at the HttpClient code, you can see that by recycling (disposing) the HttpClient object, you are essentially cancelling any pending requests for that:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L582-L596

HttpClient itself tracks all requests that are pending so that it can support the HttpClient.CancelPendingRequests() method.  But

[2018-01-16 17:01] JonHanna commented on #26352
Tau is not very commonly used, but it has its advocates (though the symbol has also been used for ½π and for the golden ratio instead of φ). Pau was invented by Randal Munroe to make fun of people who argue about whether or not we should use Tau.

[2018-01-16 17:02] tannergooding commented on #26352
@karelz, they are fairly core mathematical constants that are used in multiple places (we use many of them for validating correctness in our Math APIs, and I've seen a few scattered about in both managed and native land for CoreFX/CoreCLR). They are generally defined to account for minor inaccuracies in the floating-point format (e.g. `2 * Math.PI` may be slightly different than `Math.TwoPi`)

How

[2018-01-16 17:17] karelz opened #26358 "Test failed: System.Net.NetworkInformation.Tests.UnixPingUtilityTests / PacketSizeIsRespected"
## Types of failures

[code]

OR 1/7 (4ab83941f6592e6ea9dfee3d87dcdda9e3990eaa):

[code]

OR 12/16 (87216ce10f7b0f5fd51ccdd911896ff3f4e39ccb)

[code]

## History of failures

Day | Build | OS | Details
--- | --- | --- | ---
11/2 | 20171102.08 | OSX10.12 |
12/16 | 87216ce10f7b0f5fd51ccdd911896ff3f4e39ccb | OSX10.12 |   
1/7 | 4ab83941f6592e6ea9dfee3d87dcdda9e3990eaa | OSX10.12 |
1/8 | bdd03289d9873

[2018-01-16 17:19] karelz commented on #26358
Related to #19435

[2018-01-16 17:23] tarekgh commented on #26293
@benaadams is right, you need to use Ordinal to get the desired behavior. if you are not doing it ordinal (I mean you are doing it linguistically) this will be by design as we use the underlying OS library to perform the sorting operation.

[2018-01-16 17:23] #26293 closed

[2018-01-16 17:29] jnm2 commented on #26352
In theory, TwoPi and HalfPi have the exact same precision but the exponent is incremented or decremented, right?

[2018-01-16 17:32] karelz commented on #26293
Out of curiosity for me: How is sorting involved in `IndexOf`? Do we call into OS for `IndexOf` functionality?
Is there a description which characters are 'weird' / handled differently on OSs? Is it just the control characters (0-31)?

[2018-01-16 17:42] tannergooding commented on #26352
Basically, yes.
[code]

[2018-01-16 17:44] tarekgh commented on #26293
Yes. IndexOf is not different than string comparisons. so if you are using culture operations, you'll get the behavior of such culture. if not passing Ordinal, then the current culture will be used.

Yes. we do.

It is not the control characters only. one example is when using Turkish culture and having character "i" in your string, will get different behavior than when using other culture (e.g. e

[2018-01-16 17:45] tannergooding commented on #26352
And, for the default rounding mode, `Math.PI * 2` is exactly the same as `Math.TwoPi`. But it may not always be exactly the same in all rounding modes and other more complex constants may differ.

[2018-01-16 17:49] blowdart commented on #26346
We merged those things we considered useful when we pulled AntiXSS into the .NET Framework. CSS encoding was not considered useful, because honestly the idea of allowing user input in CSS is kind of horrific and ought to be discouraged.

[2018-01-16 17:50] Petermarcu opened #26359 "Colon character in file/directory on NFS share causing exception"
@PFAR commented on [Mon Jan 15 2018](https://github.com/dotnet/core/issues/1220)

# Colon character in file/directory on NFS share causing exception

Some characters are illegal on Windows file system but are perfectly fine on third party file systems. Windows Explorer and CMD prompt have no problems with directory called "Foo:bar", but .NET Core (and .NET 4) generates System.NotSupportedException

[2018-01-16 17:53] AdamSpeight2008 commented on #15453
Do you think it possible to compile-time constant fold the setting and clearing of enum flags?

[2018-01-16 17:54] wfurt commented on #26359
Are you trying to create fork? https://en.wikipedia.org/wiki/Fork_(file_system)
Colon is special character on ntfs @PFAR

[2018-01-16 17:59] tarekgh commented on #26346
@Brij-Mishra could you tell more about your scenario? as @blowdart mentioned, this is discouraging to use. Thanks.

[2018-01-16 17:59] #26308 closed

[2018-01-16 18:12] JeremyKuhne commented on #26310
@jhudsoncedaron

If we don't change the default behavior, why would we have to audit?

I'm not sure I follow you. Adding new types and APIs to existing types doesn't break the shim- we have a ton of these in CoreFX already. The normal route is adding new things on CoreFX (1), porting to desktop (2), elevating to .NET Standard (3).

[2018-01-16 18:13] joshfree opened #26360 "NETFX x86rel Thread tests timeout"
in PR https://github.com/dotnet/corefx/pull/26353

NETFX x86 Release Build leg

https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7047/console
[code]

[2018-01-16 18:22] terrajobst commented on #26173
Looks good but we should rename the parameter:

[code]

[2018-01-16 18:24] jhudsoncedaron commented on #26310
You have to audit 100% of callers anyway. I expect that something like 90% of them are not correct. I've already filed a bug in MVC with a root cause of incorrect use of FileInfo. The operative word is "immediately"; having a new type permits a staged audit as unaudited code can be found by noting its still using the old type.

[2018-01-16 18:29] danmosemsft commented on #26358
@Priya91 when we looked in #19435 this was a bug in ping.

[2018-01-16 18:53] wfurt commented on #26340
You should be able to for example start it from user's Login Items with Hidden flag @viswa18.
You should also be able to publish native app and than use something like http://hints.macworld.com/article.php?story=20010420005353216

[2018-01-16 18:55] jnm2 commented on #26352
In default rounding mode, how is it possible for the most precise representations *not* to have the exact same mantissa no matter how complex the constant is?

[2018-01-16 18:59] baal2000 commented on #26278
@davidsh
Makes sense. Hope it would not take long to figure it out.

[2018-01-16 18:59] aaronfranke commented on #26352
There is also the matter of 1.5π, which is not a 2-power multiple of Pi.

[2018-01-16 19:00] tannergooding commented on #26352
Denormal numbers, where the exponent is zero 😄

[2018-01-16 19:01] terrajobst commented on #17135
* `IDisposable`. We're concerned that by making this type `IDisposable` we lead people down the path of disposing these instances over-aggressively (due to static code analysis rules), resulting in undefined behavior. However, we expect most people never having to unload the library. Thus, we believe it's more consistent with other concepts, such as `AssemblyLoadContext`, by calling it `Unload`.

[2018-01-16 19:02] joperezr commented on #25773
It might, in fact, break some things if you set the property, which is why the temporary suggested solution is to add binding redirects. New changes have gone into the VS tooling that will be released on VS 15.6 Preview 3 that will generate the right binding redirects for you. For the time being, unfortunately, that needs to be done manually to fix these issues.

[2018-01-16 19:03] joperezr commented on #26305
Ok, I'll take a look into doing it for corefx + core-setup repos

[2018-01-16 19:08] onyxmaster commented on #25773
Adding binding redirects doesn’t play well with projects that have automatic binding redirects enabled (test projects in our case), so I opted for the property. I have 15.6P2 installed, will test when/if P3 fixes the problem. Thanks for the heads-up!

[2018-01-16 19:10] wfurt commented on #24582
#24480 is closed (and fixed) now. Did any of the workarounds solve your problems @ajcvickers ?
Is there any work left here or should this be closed?

[2018-01-16 19:13] jnm2 commented on #26352
Oh, gotcha. But we aren't talking about adding constants that small, right?

[2018-01-16 19:15] joperezr commented on #25024
Yeah, I kept looking at it and I finally know why Issue 1 is happening, and that is because you are referencing a package built out in master branch, which has a UAP asset for vNext but we haven't yet updated the TFM for UAP vNext, so the package is still being created with the asset being for UAP RS3, which is now the one selected and why you are seeing the issue. I created an issue that will tra

[2018-01-16 19:17] tannergooding commented on #26352
No. But there are other multipliers (`1.5 * PI`) and more complex constants (`Log2(E)`) whose "exact" result may differ from the result returned by computing it in managed code (I haven't actually gone and checked which).

[2018-01-16 19:23] jnm2 commented on #26352
Yes. I would expect actual multiplication to cause that. Though in the particular case of 0.75*pi, I'm getting 0x4002D97C7F3321D2 no matter how I calculate it as well as when letting the compiler pick the representation given a literal with more than enough digits. So the only advantage in adding any of these eighths increments of a circle would have to be as Karel said– they have to be of routine

[2018-01-16 19:33] Priya91 commented on #26358
This has happened only on OSX 10.12, maybe the issue was fixed for OSX 10.13? Can we disable the ping6 tests on OSX 10.12 and keeping only bare minimum for sanity testing?

[2018-01-16 19:37] terrajobst commented on #26357
* **Minimum size**. The sentinel of `int.MinValue` seems over the top, `-1` seesm good enough. `1` would be too harsh, as the semantics we want is "give me any buffer size that is convenient for the pool".

* **Finalizer**. Don't define a finalizer. Otherwise, all derived types (even the fully managed ones) go into the finalizer queue.

* **Default**. Renamed to `Shared` to align with `ArrayPool<T

[2018-01-16 19:37] benaadams commented on #26357
Should `Dispose` be explicit `IDisposable.Dispose`?

[2018-01-16 19:40] chick-fil-a-21 commented on #23244
After upgrading to 2.0, getting same error

request url(get_json): https://e1171.name1.name2.name3.com/oauth2/.wel
l-known/openid-configuration
An error occurred while sending the request. A security error occurred

[2018-01-16 19:43] davidsh commented on #23244
This issue is closed and was specific to using IP addresses.

Please open up a new issue for your report.  Closed issues are not typically monitored.

cc: @karelz

[2018-01-16 19:43] weshaggard opened #26361 "uap build hitting ApiCompat issues"
Official builds are hitting the following apicompat errors below. There are 2 issues that need to be understood:
1. Why is the build passing instead of failing because of the compat errors
2. The compat errors look to be a bug in the ApiCompat tool or configuration of it, so that needs to be understood.

[code]

[2018-01-16 19:46] karelz commented on #26358
If we have confirmation it is bug in the OS, disabling it on the failing OS makes sense ...

[2018-01-16 19:48] meold opened #26362 "Problem with build on android"
I have this output when building CoreFX for aarch64...
`CMake Error at /usr/share/cmake-3.5/Modules/CMakeTestCCompiler.cmake:61 (message):
  The C compiler "/usr/bin/clang-3.9" is not able to compile a simple test
  program.
  It fails with the following output:
   Change Dir: ~/git/corefx/bin/obj/Linux.arm64.Debug/native/CMakeFiles/CMakeTmp
  Run Build Command:"/usr/bin/make" "cmTC_f7c9e/fast"

[2018-01-16 19:48] JeremyKuhne commented on #26310
Why? The current behavior may not be ideal, but it has sufficed. Adding constructors that specify link following behavior is pretty easy to audit if the behavior matters to you.

Depreciating the *Info classes would be a massive change that would require some pretty serious, compelling evidence for the API review team to consider it. I'm happy to explore the reasoning/justification, but I'm not se

[2018-01-16 19:50] karelz commented on #26340
@wfurt is it something we could/should do in .NET Core Process API? (i.e. should we reopen the issue?)

[2018-01-16 19:52] JeremyKuhne commented on #25569
Yeah, not sure why that is- I'll take a look and see if I can find any clues, but I suspect it has some compelling legacy reason that no longer applies.

[2018-01-16 19:53] neilcawse commented on #26278
@davidsh @baal2000 David we can confirm that in the change made that was deployed over the weekend we stopped creating any static or shared HttpClientHandlers and we did create a static HttpClients and reused them. In the other places though (less frequently used), we use the HttpClient in a using statement, effectively closing the connection. These two and only ways we are using HttpClient and th

[2018-01-16 19:54] wfurt commented on #26340
I'm not sure @karelz . As I was trying to explain in linked bug Unix console does not have concept of windows or dock so it is difficult for console app to control such behavior.
@viswa18 should confirm, but did that call opened new window or Dock entry?
More complete example would be needed to do better triage.

[2018-01-16 20:00] chick-fil-a-21 opened #26363 "Issue w/ long domain names?"
After upgrading to 2.0, getting an error on HttpWebRequest

I was told our certificate is using wildcards:
*.name1.name2.name3.com

request url(get_json): https://e1171.name1.name2.name3.com/oauth2/.wel
l-known/openid-configuration
An error occurred while sending the request. A security error occurred

[2018-01-16 20:02] skesgin commented on #22940
I agree that having software fallback capability would be nice. However, given that it is just a nice-to-have feature and can also be implemented by individual developers on a need-to-have basis, or as a third-party library, I think it should be placed towards the bottom of the to-do list. I would rather see that energy being directed towards having full AVX-512 support which is already available

[2018-01-16 20:05] terrajobst commented on #21395
// Approved, but needs to go somewhere else due to globalization

public static class MemoryExtensions
{
    public static ReadOnlySpan<char> Trim(this ReadOnlySpan<char> span);
    public static ReadOnlySpan<char> Trim(this ReadOnlySpan<char> span, char trimChar);
    public static ReadOnlySpan<char> Trim(this ReadOnlySpan<char> span, ReadOnlySpan<char> trimChars);
    public static ReadOnlySpan<

[2018-01-16 20:08] benaadams commented on #21395
Time for a NuGet span left-pad? Will become the most popular library and the world will come to depend on it - mwhahahaha!

[2018-01-16 20:09] jhudsoncedaron commented on #26310
Lots and lots of code involving FileInfo reduces to this non-working code blob:

    var info = new FileInfo(path);
    if (info.Exists && (info.Attributes & FileAttribtes.Directory) == 0 && info.Length > 0)
        using (var f = new FileStream(path, ...))
        {
             // Do something with f
        }

Raymond might be pointing out the race condition, but it's more fundamental. info.Exi

[2018-01-16 20:11] davidsh commented on #26363
Using a browser to that URL shows a problem with the certificate:
![image](https://user-images.githubusercontent.com/7684835/35009997-4f92aa42-fab6-11e7-9fdd-65164315b547.png)

So, using HttpWebRequest would have a similar "security error" problem as well.

[2018-01-16 20:12] benaadams commented on #21395
What about the Ordinal versions?
[code]

[2018-01-16 20:15] jkotas commented on #26139
Also, we may want to rename `NonPortableCast` to `MemoryMarshal.Cast` to get rid of another ugly name.

[2018-01-16 20:19] JonHanna commented on #26363
It's not. It has a domain of cc.sedoparking.com and no Certificate Subject Alt Name, so it's not the right cert for that domain.

[2018-01-16 20:21] stijnherreman commented on #25773
@joperezr Is it not an option to fix the offending packages that reference this 4.2.0.0 version? Either way, I sincerely hope that 15.6 will *finally* have resolved all problems.

[2018-01-16 20:26] onyxmaster commented on #25773
There are no “offending packages” per se, if I understand correctly. It’s a set of msbuild rules that handle a dependency on netstandard for net4xx projects.

[2018-01-16 20:30] eerhardt commented on #25334
@mmatras - as @tannergooding says, this needs to go through the [API proposal process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).  You can start working on this by filling out the original post with the proposed API.  Then we can schedule it for a review.

[2018-01-16 20:33] CarolEidt commented on #12425
@mburbea - any thoughts regarding the suggested changes?

[2018-01-16 20:39] eerhardt commented on #26183
I think we can mark this as ready for review.  We can bring up the ordering during the review - whether they should be consistent and if so, which one should be used.

[2018-01-16 20:48] arunjvs commented on #26268
I'd like to expand on the other questions before proposing the one field addition API change :)

AFAIK, the following other members of ProcessStartInfo are already either Windows only, or have a different meaning on Linux, or are not uniformly implementable on all distros:
* CreateNoWindow
* LoadUserProfile
* UseShellExecute (Being lazy here. Didn't check. Do we use bash/sh?)
* Verb
* Verbs

So we

[2018-01-16 20:56] tannergooding commented on #12425
@CarolEidt, their activity [log](https://github.com/mburbea?tab=overview&from=2017-04-01&to=2017-04-30) doesn't show them to be very active. I may just create a new issue to track this if it doesn't get a response soon.

[2018-01-16 21:17] mburbea commented on #12425
@tannergooding , my current role doesn't allow me to participate too much on github :( If you'd like to create a new issue on this, by all means. I think my initial API & PoC are pretty close, but obviously deficient.

I mostly agree with your points but I do feel that an enum for acceleration check would be a good idea though, software workarounds could be brutal performance hit.

[2018-01-16 21:19] eerhardt commented on #26179
Let's bring the naming issue up in the review meeting.

[2018-01-16 21:29] IlyaGrebnov opened #26364 "Regular expressions scalability issues due to lock on "s_livecode"."
Static Regex methods takes global lock on "s_livecode" inside LookupCachedAndUpdate. This cause scalability issues. We understand that this problem could be addressed on App side, but imho it would be much better to make Regex cache per processor instead of global (similar to what @stephentoub did for Timer lock), so it will be more forgiving for bad coding practice.

We would also participate bac

[2018-01-16 21:45] geoffkizer commented on #26355
Yes, I mean Punycode encoding.

Thanks for the details, very interesting.

[2018-01-16 21:46] jkotas commented on #26361
FWIW, I have seen these errors for `-framework:uap` build even on live master. I have always assumed that it is environment issue specific to my machine.

[2018-01-16 21:48] weshaggard commented on #26361
Yeah they seem to show up in CI as well. I will investigate.

[2018-01-16 21:52] weshaggard commented on #26308
Builds are out at https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win10-arm64-aot.Microsoft.Private.CoreFx.UAP

[2018-01-16 21:54] tarekgh commented on #26173
@ufcpp do you want to help in the implementation of this API? I can guide you in that if you are willing to do it. Thanks.

[2018-01-16 22:00] janvorli commented on #26362
@meold I didn't hit this problem (but hit compilation issues later). Here is what I did:
* fix the library versions in the `cross/build-android-rootfs.sh` file to match what's available on the termux server now - see the https://gist.github.com/janvorli/71fdb426e6eebfc6b648ff6252d57b55
* build the rootfs in the corefx repo using `cross/build-android-rootfs.sh arm64`
* start build using the command

[2018-01-16 22:03] morganbr commented on #14354
@CyrusNajmabadi, If you really need to do your own hash calculation in the user's code, CRC32 might work since it's a combination of table lookups and XORs (but not arithmetic that can overflow). There are some drawbacks though:
1. CRC32 doesn't have great entropy (but it's likely still better than what Roslyn emits now).
2. You'd need to put a 256 entry lookup table somewhere in the code or emit

[2018-01-16 22:08] geleems commented on #21824
@ah- thanks for the fix.
The fix has just been merged to main branch.

[2018-01-16 22:08] CyrusNajmabadi commented on #14354
@morganbr See https://github.com/dotnet/roslyn/pull/24161

We do the following:

1. Use System.HashCode if it is available.
2. Fallback to generating FNV-1a.
3. Wrap that in checked in C# if the user is compiling with checked-mode on.
4. Use System.ValueTuple in VB if checked-mode is on and they're referencing System.ValueTuple.  i.e. ```Return (a, b, c).GetHashCode()```
5. Add a comment in VB tha

[2018-01-16 22:10] weshaggard commented on #26277
@weitzhandler did you get any errors after running the clean?

Can you also try `git clean -xdf`? Also can I ask what commit your branch is currently at?

[2018-01-16 22:13] #21824 closed

[2018-01-16 22:13] ahsonkhan commented on #26139
Updating the proposal

[2018-01-16 22:18] ahsonkhan opened #26368 "Move Span.NonPortableCast to MemoryMarshal and rename to Cast"
From https://github.com/dotnet/corefx/issues/26139#issuecomment-358090527:

Move and rename NonPortableCast to MemoryMarshal.Cast

**Current API:**
[code]

**Proposed API:**
[code]

**Edit:** Removed `this`
**Edit** by @ianhays: Changed `Cast` to `TryCast` per discussion

cc @jkotas, @KrzysztofCwalina

[2018-01-16 22:19] neilcawse commented on #26278
@davidsh @stephentoub. Can you check this? This looks like a race condition
If the stream is disposed then _requestHandle.Dispose(); is called and simultaneously a cancellation token is passed to ReadAsync and the task cancelled then CancelPendingResponseStreamReadOperation() calls _requestHandle?.Dispose();

WinHttpResponseStream.cs
Http
[code]

[2018-01-16 22:23] ahsonkhan commented on #26139
@KrzysztofCwalina, if you agree, please update the original proposal to remove the first argument (object obj).

[2018-01-16 22:23] sergiy-k commented on #26308
Thank you!
/cc: @AntonLapounov

[2018-01-16 22:27] ahsonkhan commented on #21395
I understand that we need to consider StringComparison overload for Replace, but what additional work/design decisions are there for the Remove API? It doesn't have any concerns regarding comparison/globalization/etc.

[2018-01-16 22:29] morganbr commented on #14354
Is table-generation code also unpalatable? At least going by [Wikipedia's example](https://en.wikipedia.org/wiki/Computation_of_cyclic_redundancy_checks#Generating_the_tables), it's not much code (but it still has to go somewhere in the user's source).

[2018-01-16 22:31] JonHanna commented on #26238
Another variant is assigning to ref-returning methods. With:

[code]

The static compiler sees this as if `AccessVal()` must not be a ref-returning method and accordingly raises CS0131. There isn't anything else it can do though, as there isn't anything offered by the dynamic compiler for it to call into. `SetMember()` could feasibly be allowed to do so, without changing the signature, but that mi

[2018-01-16 22:34] jnm2 commented on #14354
How awful would it be to add the HashCode source to the project like Roslyn does with (the much simpler) compiler attribute class definitions when they aren't available through any referenced assembly?

[2018-01-16 22:34] kumpera opened #26369 "WebSocket fails with Chrome debugging on OSX"
I'm trying to run Blazor's WebSocket debugger proxy for V8 and it reliably disconnects the browser websocket when left idling for a few seconds.

This doesn't happen if I directly connect to the browser remote debugging session which makes me believe this to be a corefx bug.

[2018-01-16 22:35] kumpera commented on #26369
CC @SteveSandersonMS

[2018-01-16 22:35] jnm2 commented on #14354
How awful would it be to add the HashCode source to the project like Roslyn does (with IL) with (the much simpler) compiler attribute class definitions when they aren't available through any referenced assembly?

[2018-01-16 22:39] jkotas commented on #26368
The API on MemoryMarshal should not be an extension method.

[2018-01-16 22:42] stephentoub commented on #26369
Shouldn't this be in the ASP.NET repo?

[2018-01-16 22:51] CyrusNajmabadi commented on #14354
1. Does the HashCode source not need overflow behavior?
2. I've skimmed the HashCode source.  It's *non* trivial.  Generating all that goop into the user's project would be pretty heavyweight.

I'm just surprised there are no good ways to get overflow math to work in VB at all :(

[2018-01-16 22:57] CyrusNajmabadi commented on #14354
So, at a minimum, even if we were hashing two values together, it seems like we would have to create:

[code]

Note that this code already has 4 lines that can overflow.  It also has two helper functions you need to call (i'm ignoring MixEmptyState as that seems more like a constant).  MixFinal can *definitely* overflow:

[code]

as can QueueRound:

[code]

So i don't honestly see how this would w

[2018-01-16 22:57] kumpera commented on #26369
That's a very good question @stephentoub!
My reasoning was that corefx is the home of System.Net.WebSockets.

[2018-01-16 22:59] CyrusNajmabadi commented on #14354
How do you envision this working?  What would customers write, and what would the compilers then do in response?

[2018-01-16 23:01] CyrusNajmabadi commented on #14354
Also, something that would address all of this is if .Net already has public helpers exposed on the surface API that convert from uint to int32 (and vice versa) without overflow.

Do those exist?  If so, i can easily write the VB versions, just using these for the situations where we need to go between the types without overflowing.

[2018-01-16 23:02] CyrusNajmabadi commented on #14354
I would think so.  I mean, think about this from a customer perspective.  They just want a decent GetHashCode method that is nicely self contained and gives reasonable results.   Having that feature go and bloat up their code with auxiliary crap is going to be pretty unpleasant.  It's also pretty bad given that the C# experience will be just fine.

[2018-01-16 23:07] chick-fil-a-21 commented on #26363
That's simply an example, I didn't want to post the actual server name.  Is it possible to create a domain name on the MS side w/ the same number of hops?  And then test?

[2018-01-16 23:10] morganbr commented on #14354
You might be able to get roughly the right overflow behavior by casting to and from some combination of signed and unsigned 64-bit types. Something like this (untested and I don't know VB casting syntax):
[code]

[2018-01-16 23:13] stephentoub commented on #26369
That's just the base abstract class, though. The actual logic comes from derived implementations.

[2018-01-16 23:30] IlyaGrebnov commented on #26364
Please let me know if this is something I could contribute? *

* under assumption that change gets pack-ported to Desktop at some point) :)

[2018-01-16 23:34] CyrusNajmabadi commented on #14354
How do you knwo the following doesn't overflow?

[code]

Or the final (int32) cast for that matter?

[2018-01-16 23:35] jkotas commented on #26188
@ joperezr There is no point in sending this to API review until there is a proof of concept that demonstrates that this API is actually useful.

[2018-01-16 23:38] morganbr commented on #14354
I didn't realize it would use overflow-checked conv operations. I guess you could mask it down to 32 bits before casting:
[code]

[2018-01-16 23:38] kumpera commented on #26369
For both client and server implementation?
Hmm, in such case I'll move the bug that.

[2018-01-16 23:47] #26369 closed

[2018-01-17 00:08] CyrusNajmabadi commented on #14354
presumably 31 bits, as a value of uint32.Max would also overflow on conversion to Int32 :)

That's def possible.  Ugly... but possible :)   There's gunna be a lot of casts in this code.

[2018-01-17 00:12] ahsonkhan commented on #25182
To be clear, we will still have the MemoryExtensions class with all the APIs implemented in System.Memory.dll for the portable span. For netcore specifically though, we will type forward down to corelib. This will result in some duplication (which we can manage by the mirroring).

@eerhardt, what's the verdict?

[2018-01-17 00:20] itn3000 opened #26373 "HttpWebRequest create many connections in windows"
Steps to reproduce
------------------

1. run http service in localhost with port 80
2. run the following code with TargetFramework=netcoreapp2.0
3. view network connection stat(in windows, `netstat -n`)

[code]

Expected behavior
-----------------

there is only one socket directed to localhost:80 like this(state is "ESTABLISHED" or "TIME_WAIT"):
[code]

Actual behavior
---------------

there are

[2018-01-17 00:23] CyrusNajmabadi commented on #14354
Ok.  I think i have a workable solution.  The core of the algorithm we generate today is:

[code]

Let's say that we're doing 64bit math, but "hashCode" has been capped to 32 bits.  Then ```<largest_32_bit> * -1521134295 + <largest_32_bit>``` will not overflow 64 bits.  So we can always do the math in 64 bits, then clamp down to 32 (or 32bits) to ensure that the next round won't overflow.

[2018-01-17 00:23] CyrusNajmabadi commented on #14354
Thanks!

[2018-01-17 00:24] Priya91 opened #26375 "Add digest authentication functional tests."

[2018-01-17 00:24] itn3000 commented on #26373
I think this is because creating HttpClient on every request?
https://github.com/dotnet/corefx/blob/cf191eb22e762ad740ae8a91a3fdb948d29a7b0c/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L1111

[2018-01-17 01:00] davidsh commented on #26373
Yes, this issue is tracked here already.
https://github.com/dotnet/corefx/issues/15460

[2018-01-17 01:08] itn3000 commented on #26373
thank you for informing, I will track #15460

[2018-01-17 01:09] davidsh commented on #26373
Duplicate of #15460.

[2018-01-17 01:09] #26373 closed

[2018-01-17 01:19] jkotas opened #26377 "CancellationToken.Register should take an Action<CancellationToken, object> delegate"
_From @AArnott on May 12, 2017 15:36_

I have to allocate a new delegate and closure in my `CancellationToken.Register` calls because I need an object *and* the `CancellationToken` itself:

[code]

Yet it would seemingly be a simple thing for the invoker of my delegate to *also* provide a copy of the `CancellationToken` itself when calling my delegate so that I can avoid the cost of the closure an

[2018-01-17 01:20] jkotas opened #26378 "Interlocked.CompareExchange missing for uint, ulong and (if possible) general structs."
_From @redknightlois on May 18, 2017 19:47_

I recently needed to use ```Interlocked.CompareExchange``` inside a function with the following form:

[code]

problem is that it can´t be done because the ```Interlocked.CompareExchange<T>``` requires it to be a class.

Also if anyone knows a workaround for it, I would appreciate it.

_Copied from original issue: dotnet/coreclr#11723_

[2018-01-17 01:20] jkotas commented on #26378
_From @stephentoub on May 18, 2017 20:22_

For uint, you could do something like:
[code]

For ulong, same but with long instead of int overload.

For structs, not sure how that would work given platform limitations on what sizes can be worked with atomically, alignment, etc.

[2018-01-17 01:20] jkotas commented on #26378
_From @stephentoub on May 18, 2017 20:24_

(And with System.Runtime.CompilerServices.Unsafe, you could do the same thing for uint/ulong but without the unsafe pointer stuff: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs#L19)

[2018-01-17 01:20] jkotas commented on #26378
_From @redknightlois on May 18, 2017 21:59_

Great! Gonna use that.

[2018-01-17 01:20] jkotas commented on #26378
_From @danmosemsft on May 20, 2017 2:15_

Do we still need an issue? Is there a proposal to add such API?

[2018-01-17 01:20] jkotas commented on #26378
_From @redknightlois on May 22, 2017 13:20_

It feels strange that ```uint``` and ```ulong``` are not treated as first class citizens in ```Interlocked``` methods. So yes, the proposal is to add them.

[2018-01-17 01:20] jkotas commented on #26378
_From @stephentoub on May 22, 2017 13:46_

I expect it's because they're not CLS compliant.

[2018-01-17 01:26] karelz commented on #26373
Also note that HttpWebRequest API is compat-only API - in general we recommend developers to move to `HttpClient` if they can to get performance wins and modern protocol support.
See details here: https://github.com/dotnet/platform-compat/blob/master/docs/DE0003.md

[2018-01-17 01:29] Brij-Mishra commented on #26346
Thanks a lot to all of you. I agree that allowing user input in CSS should be avoided. One of the teams in my organization, apporached me as they are moving to latest framework and I think they have some admin funcationality where they allow CSS input for some specifc scenarios.
I also see it was mentioned at quite few places at OWASP (like https://www.owasp.org/index.php/XSS_(Cross_Site_Scripting

[2018-01-17 01:31] CyrusNajmabadi commented on #14354
@MaStr11 @morganbr @sharwell and everyone here.  I've updated my code to generate the following for VB:

[code]

Can someone sanity check me to make sure that this makes sense and should not overflow even with checked mode on?

[2018-01-17 01:32] tarekgh commented on #26346
thanks, @Brij-Mishra. I am closing the issue per the discussion here.

[2018-01-17 01:32] #26346 closed

[2018-01-17 01:41] morganbr commented on #14354
@CyrusNajmabadi , that won't overflow (because Int64.Max = Int32.Max*Int32.Max and your constants are much smaller than that) but you're masking the high bit to zero, so it's only a 31-bit hash. Is leaving the high bit on considered an overflow?

[2018-01-17 01:42] jnm2 commented on #14354
@CyrusNajmabadi `hashCode` is a `Long` that can be anywhere from 0 to `int.MaxValue`. Why am I getting this?

![image](https://user-images.githubusercontent.com/8040367/35021198-d408bf54-fafd-11e7-8b6f-9c0e42e2a4bc.png)

[2018-01-17 01:47] jnm2 commented on #14354
Btw- I'd rather have Roslyn add a NuGet package than add a suboptimal hash.

[2018-01-17 02:53] ufcpp commented on #26173
@tarekgh
yes please. thanks.

[2018-01-17 03:36] omariom commented on #26357
Will it possible to use custom MemoryPools with Pipelines?

[2018-01-17 03:38] pakrym commented on #26357
@omariom, yes, pipe constructor takes memory pool in PipeOptions

[2018-01-17 03:41] JeremyKuhne commented on #26310
FileInfo, etc. are documented to work on the link itself. `CreateFile` doesn't open the symlink itself, it opens the target. While I agree that can be confusing, it works in most cases. Your example isn't safe even if they were aligned better. Even if you check `Exists` on the target there is a risk the file will be gone when you try to create the FileStream around it, let alone any number of othe

[2018-01-17 06:22] danmosemsft opened #26382 "SqlConnectionTimeout test failing breaking CI"
https://mc.dot.net/#/user/dotnet-maestro-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5130e06922a1491ff02ed162fd53459ec3d2ba5e/workItem/System.Data.SqlClient.Tests

@geleems  it is failing on Win10 and Win8.1 in CI jobs since https://github.com/dotnet/corefx/pull/26306

[code]

[2018-01-17 06:32] danmosemsft commented on #26364
@ViktorHofer owns regex and I believe this came up before. It does not surprise me that this is a bottleneck.

A per thread cache would surely be faster but threads would end up with duplicate copies. is that an issue? There are all kinds of other options eg per thread for a few entries, and shared for the rest. Also how did we end up choosing 15 entries?

Whatever the approach is would need backi

[2018-01-17 06:33] danmosemsft commented on #26364
@IlyaGrebnov you're correct in your implication that the best way to get a change into desktop is in general to get it into .NET Core. However it is not a sure thing, it depends on impact, compat cost, port cost etc. Only a minority of changes are ported at the moment.

[2018-01-17 06:45] danmosemsft commented on #26378
@redknightlois is this still relevant to you, do you want to write this up as a formal API proposal, per instructions in /Documentation?

[2018-01-17 06:50] danmosemsft commented on #26349
And other Linuxes in the official build -- apparently CI is different somehow.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180117.01/workItem/System.IO.FileSystem.Tests

[2018-01-17 06:59] CyrusNajmabadi commented on #14354
That's a good point.  I think i was thinking about another algorithm that was using uints.  So in order to safely convert from the long to a uint, i needed to not include the sign bit.  However, as this is all signed math, i think it would be fine to just mask against 0xffffffff ensuring we only keep the bottom 32bit after adding each entry.

[2018-01-17 07:03] CyrusNajmabadi commented on #14354
Users can already do that if they want.  This is about what to do when users do not, or can not, add those dependencies.  This is also about providing a reasonably 'good enough' hash for users.  i.e. something better than the common "x + y + z" approach that people often take.  It's not intended to be 'optimal' because there's no good definition of what 'optimal' is when it comes to hashing for al

[2018-01-17 07:16] ma-bjo commented on #25773
We never got this to work using binding redirects. The two assemblies does not seem to be compatible with each other. We ran into issues regardless of whether we redirected to 4.2.0.0 or 4.0.0.0. This either resulted in assembly load errors or "method not found" exceptions, both at runtime.

I get worried by @joperezr comment that 15.6 will "solve" this issue by adding binding redirects. This chan

[2018-01-17 07:34] PFAR commented on #26359
@wfurt no, in this project we're integrating a Synology NAS/SAN product which exposes files natively through FTP(s)/SFTP. A large portion of our customers are Mac users and (often) unaware about naming restrictions on Windows filesystem.
We are building a product which incorporates a web view on the files and provide upload/download/rename/delete/search functionality by using Client for NFS to dir

[2018-01-17 07:38] wfurt commented on #26359
It is certainly possible there is some (incorrect) implicit assumption. @JeremyKuhne may be right person to comment on.

[2018-01-17 07:56] CyrusNajmabadi commented on #14354
Ah, i remember now why i did this.  The problem is that if you have a 64 bit value, and you get the bottom 32bits, you may still get a value that will overflow if you try to directly cast those bottom 32bits into an int32.

I think what we want is something more like:

[code]

In other words, if the 32bit is not set in the hashCode, then simply truncate down to the bottom 31bits and return those a

[2018-01-17 10:00] meold commented on #26362
@janvorli, I did the following:
1. fix the library versions in `cross/build-android-rootfs.sh` like [this](https://gist.github.com/janvorli/71fdb426e6eebfc6b648ff6252d57b55)
2. build using `cross/build-android-rootfs.sh arm64`
3. start building using the command `CONFIG_DIR=realpath ~/git/corefx/cross/android/arm64 ROOTFS_DIR=realpath ~/git/corefx/cross/android-rootfs/toolchain/arm64/sysroot ./bui

[2018-01-17 11:11] stephentoub commented on #26364
I don't know how the default was arrived at, but it's controllable via
https://msdn.microsoft.com/en-us/library/system.text.regularexpressions.regex.cachesize(v=vs.110).aspx

And since it's exposed, that makes me a little nervous about a partitioned cache, as we wouldn't be respecting this value. Maybe that's important, maybe not.

An alternative would be a different data structure for maintaining

[2018-01-17 11:21] baal2000 commented on #26278
@davidsh @stephentoub
A mentioned above, there is a big difference in the client application behavior between v 2.0.0 (.net core 2.0.0) and .Net 4.6.1 + WinHttpHandler NuGet 4.3 (net standard 1.1.0). The former crashes due to race condition in releasing RequestHandle, the later doesn't.

This commit https://github.com/dotnet/corefx/commit/48214d726de9e1a150fe5b041832c41655b69815 containing the big

[2018-01-17 11:21] evil-shrike commented on #26015
Hi. Any news on the issue? Is there any workaround?

[2018-01-17 11:24] unicomp21 opened #26385 "Performance improvement for Meltdown and Spectre, libuv"
https://github.com/libuv/libuv/issues/1710

[2018-01-17 13:12] Joe4evr commented on #26378
@redknightlois Just as a bit of clarification regarding the other part of the title: General structs can't be supported with `Interlocked` because they can be larger than what a single memory cycle can update, meaning another thread could observe a torn value if it happens to read right in between writes. #10481 seeks to mitigate this problem. Meanwhile, classes don't suffer from this limitation b

[2018-01-17 13:16] kaiukdevelopment opened #26386 "Microsoft.VisualBasic string methods not implemented"
Inside the Microsft.VisualBasic.Strings namespace, not all methods from the .NET framework have been implemented. Left has been, but Trim, Right, Mid etc. haven't

Is this something that can be added?

[2018-01-17 13:36] jnm2 commented on #14354
@CyrusNajmabadi Actually offering to install the package is what I was asking about. Saves me from having to do it.

[2018-01-17 14:26] tempywritescode commented on #24282
Please reopen this issue, it's a blocker over here too and there's no satisfactory workaround afaik.

[2018-01-17 14:33] redknightlois commented on #26378
I have used the workaround, I am more worried about the Interlocked call being an FCALL (I opened an issue for that too).
I remember having seeing a research paper that explains how to do it for general structs, but it is a fair restriction. Nonetheless the suggestion for ``uint`` and ``ulong`` stands, it looks strange that you have to go on hops for something that should be supported as they are

[2018-01-17 15:12] jhudsoncedaron commented on #26310
I constructed that example because that's the kind of nonsense I keep on finding in .NET Core itself when code falls down in the presence of symbolic links. Your "it works in most cases" is because people are largely not using them. What's it going to take to get all of the code audited?

[2018-01-17 15:33] eerhardt commented on #25182
Do we have to duplicate the whole assembly?  Or could just `Vector<T>` be mirrored/duplicated?

How much work would the smaller internal `Vector<T>` for CoreLib be?

[2018-01-17 15:45] stephentoub commented on #26369
System.Net.WebSockets.dll just contains the base class and the associated helpers, but no actual logic for implementing the WebSockets protocol (at least as of 2.0).

System.Net.WebSockets.Client.dll in corefx then contains a client implementation.
 And https://github.com/aspnet/WebSockets is the repo for the server implementation in ASP.NET.

Now, the ASP.NET implementation contains a copied/modi

[2018-01-17 15:50] stephentoub commented on #26385
@unicomp21, what's the issue/action here for corefx?  Doesn't seem relevant.  The linked issue describes desiring additional GetQueuedCompletionStatus methods to be exposed from Windows, and this repo is not for new Windows methods.

[2018-01-17 15:57] karelz commented on #25773
Binding redirects to 4.0.0.0 (https://github.com/dotnet/corefx/issues/25773#issuecomment-350000563) should help.
If they don't please post a **minimal repro** showing how it does not work. I can then chase down the right experts to get to the bottom of the problem.

[2018-01-17 16:14] jhudsoncedaron commented on #26310
It occurred to me that this api `var info = new FileInfo(path).Target;` is really bad as it results in a call to `lstat()` followed by `stat()` rather than just a call to `stat()` (on Windows a call to `FindFirstFile()` followed by `GetFileInformationByHandle()` rather than just `GetFileInformationByHandle()`).

[2018-01-17 16:25] yongding422 commented on #25717
Similar issue here, I am trying to use https inside the microsoft/aspnetcore:2.0.0-nanoserver-1709 docker. And I got the similar error message.

.UseKestrel(options => {
					options.Listen(IPAddress.Loopback, 80);
					options.Listen(IPAddress.Loopback, 443, listenOptions =>
					{
						listenOptions.UseHttps("localhost.pfx"), "123456");
					});
				})

[2018-01-17 16:27] KrzysztofCwalina commented on #26139
I agree that the name is ugly and that it is an eyesore on MemoryExtensions/Span. So I like the rename to "Cast". I am not totally convinced the method needs to go to MemoryMarshal. The method is super useful and people will be using it no netter where it is and where it lives, especially that it is very much portable and safe in 99% of the cases. The gymnastics we go through to deswade people fro

[2018-01-17 16:34] jkotas commented on #26139
@ahsonkhan Opened #26368 on the Cast, so we may rather discuss it there.

I agree that the Cast is useful, but you need to know what you are doing. I think there needs to be a small speed-bump to get to it to make it clear.

[2018-01-17 16:39] jkotas commented on #26139
For example, we had

[2018-01-17 16:42] eerhardt commented on #26268
I'm not convinced we should try to support the `Password` property on non-Windows.  @arunjvs, the approach you outline above concerns me a bit.  In order for that approach to work, the `dotnet` executable needs to have the `setuid` bit set on it, and basically its owner would have to be `root`.

This is how `su` works.  Its owner is `root` and it has the `setuid` bit set.  This mean whenever `su`

[2018-01-17 16:53] Duranom opened #26388 "Addition of async method variants or argument option for opening/creating with System.IO.File and System.IO.FileInfo shorthands"
When using System.IO with File and/or FileInfo for actions like opening, creating, writing and deleting you do not have the option to properly open FileStreams for use with async methods. (Mainly concerning here with task based and async await but it is not limited to)

A very common issue with async await and files is that files are opened through methods like File.OpenWrite or new FileInfo(x).Op

[2018-01-17 16:57] karelz commented on #26385
Closing as off-topic.

[2018-01-17 16:57] #26385 closed

[2018-01-17 17:04] karelz commented on #26349
It is causing 56 test failures per build (in last 6 official Helix runs).
Can we disable the test ASAP? @danmosemsft

The official Helix runs fail all Linux platform (no failure for Windows/OSX recorded)

[2018-01-17 17:23] pakrym opened #26390 "Microsoft.Win32.Registry transitive System.Security.Principal.Windows not availible of net461"
Repro:

1. Add class library:
[code]

[code]

2. Add an app
[code]

[code]
3. `dotnet run`

Expected:

Runs fine

Actual:

[code]

[EDIT] Add syntax highlighting by @karelz

[2018-01-17 17:57] janvorli commented on #26362
@meold, can you please try to delete the `bin` folder and retry the build? Sometimes cmake remembers compiler version from previous build attempts. I have noticed that in my case, the clang version used to build is 3.8.275480 and it comes from the cross fs. See:
[code]
Also, in the build command in your comment above, you are missing the backticks around the realpath ~/git/corefx/cross/android-roo

[2018-01-17 18:32] IlyaGrebnov commented on #26364
For context: in past month we have 2 live site issue caused by performance degradation in Regex methods due to global lock (one in our code and one in library). So we are interested and woudl like to invest time in fixing this. So I am open for discussion and other suggestions.

Partitioned cache was just first approach which come up in mind. Making cache lock-free is probably best approach from c

[2018-01-17 18:39] ahsonkhan commented on #26139
I was referring to removing the object argument from the DangerousCreate methods in the proposed API and only have it be a netcoreapp specific API.

[2018-01-17 18:48] KrzysztofCwalina commented on #26368
@jkotas, what's the code we recommend people write when they want to use this API in a reusable library? i.e. How should they check if the cast is safe or not? If it turns out it's not, what should the fallback code do?

[2018-01-17 18:49] #19788 closed

[2018-01-17 18:57] stephentoub commented on #26364
In what scenario is the number of distinct regexes used correlated with the number of cores?

[2018-01-17 19:02] XCJAlves commented on #15301
Hi @jamesqo  - what was the solution to your problem? I am having the same type issue, the gulp task could not run successfully because it says:

C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\Web\Deploy\Microsoft.Web.Publishing.Deploy.FileSystem.targets(96,5): error : Copying file obj\Debug\Package\PackageTmp\bin\Sitecore.Mvc.dll to C:\Web\wwwroot\MyCompany\\Website\bin\Sitecore.Mvc.

[2018-01-17 19:05] jkotas commented on #26368
Options:
- Guarantee the alignment by pinning the managed memory or using unmanaged memory
- Have platform checks, e.g. if I am on Intel, can use faster path that assumes misaligned memory access is ok

Options:
- Read one byte at a time. It is similar to what you do for BigEndian portability.
- Use BinaryPrimitives helper methods.
- Create aligned copy first

[2018-01-17 19:06] CyrusNajmabadi commented on #14354
If you type HashCode, then if System.HashCode is provided in an MS nuget package, then Roslyn will offer it.

[2018-01-17 19:14] flamencist commented on #26034
You can use async version like this
[code]

https://github.com/avgoncharov/how_to/blob/master/how_to/SimpleTcpServer/TcpServer.cs

[2018-01-17 19:19] KrzysztofCwalina commented on #26368
A couple more questions:
1. Is it really as simple as ARM vs Intel? Based on my reading it's only a severe problem in ARM9 and older (which are not produced since 2006). On ARM11, the unaligned reads seem to be 2x in worst case and in many cases have no impact.
2. Wouldn't reading one byte at a time be a cure worse than the disease? It seems like it would be even slower in most cases. Similarly wi

[2018-01-17 19:23] IlyaGrebnov commented on #26364
We working on multi-tenant Enterprise App which allow tenants to define data customization in form of regular expressions. So number of distinct regexes are growing ~linearly with number of tenants and load on a server. But, I get your point, and this is something trivial to workaround with Regex.CacheSize = Environment.ProcessorCount * X. So our main concern is cache efficiency.

As alternative a

[2018-01-17 19:23] tdevere commented on #26278
Moving this discussion to offline email communication...

[2018-01-17 19:23] #26278 closed

[2018-01-17 19:29] IlyaGrebnov commented on #26364
Just to complete my thought: LRU caches need lock (or at minimum I do not know how to build one without it). And if you allow me to create Regex without cache (and global local) I would cache into smaller number caches (scaled linearly with number of processor) based on pattern.GetHashCode(). So will be a a lock contention, but I hope much smaller one.

[2018-01-17 19:34] jkotas commented on #26368
For .NET Core today, yet. For Mono, the matrix is much larger.

Are you sure that they are not produced? I think ARM stopped iterating on the base line designs sometime around 2006, but I believe these older ARM version are produced in huge quantities, e.g. RPi0, Lego Mindstorm, ... .

Unless you pass the unaligned memory to the OS, read floating point values from it, or perform interlocked operat

[2018-01-17 19:34] JeremyKuhne commented on #25569
I'm marking this one ready for review with one tweak:

[code]

Info classes can be created for non-existent paths. We will allow creating symbolic links at the given path regardless of the info existence if the OS/FileSystem allows it.

[2018-01-17 19:36] JeremyKuhne commented on #26310
This is documented and follows the behavior of the underlying Win32 APIs. I personally would have probably designed things differently, but we now have decades of code written with this behavior. Breaking with that and depreciating a large swath of APIs because it is considered confusing isn't the right answer, imho. Making it more discoverable is.

There will be- I'm fully committed to getting sy

[2018-01-17 19:42] jkotas commented on #26368
For example, we have switched System.Reflection.Metadata to read one byte a time in most places to make it portable and uses special paths in a few bulkier places : https://github.com/dotnet/corefx/pull/16583/ . The performance impact of this change was non-measurable.

[2018-01-17 19:44] JeremyKuhne commented on #26310
Note that there is also a need to identify _exactly_ what type of reparse point is in play for Windows. Understanding whether the reparse point is actually a symbolic link is a critical first step, but digging deeper into reparse point types is needed. A specific scenario is that Windows 10 has a new type of reparse point for OneDrive Files On-Demand.

I'll open up an issue for how to expose platf

[2018-01-17 19:48] saurabh500 commented on #26382
@geleems the interesting thing is that these tests are failing on Windows where your code changes weren't applicable. I think the "threshold" for Native SNI is different from that of Managed SNI.

[2018-01-17 19:54] jhudsoncedaron commented on #26310
No, you don't. In fact, trying to resolve final path yourself is a bug. `readlink()` might not resolve the same file as `open()`.

You go directly to final path by making the appropriate API calls. Windows:

    try {
    } finally {
        /* this code must not be split by async throw */
        IntPtr MinusOne = IntPtr.Zero - 1;
        IntPtr h = NativeMethods.CreateFile(pathname, 128 /* FILE_

[2018-01-17 20:02] Priya91 commented on #26382
This is causing all PRs to be red, is there a fix for this, or should the change be reverted?

[2018-01-17 20:03] saurabh500 commented on #26382
@priya91 https://github.com/dotnet/corefx/pull/26392

[2018-01-17 20:04] stephentoub commented on #26364
The cache lookup happens as part of the Regex ctor. If memory serves, once the object is constructed, you won't hit the cache again. So if just cache the constructed Regex objects, you'll only hit the lock when you construct new ones, presumably only a startup cost when first doing the cache, and then only on cache misses.

[2018-01-17 20:04] KrzysztofCwalina commented on #26368
From what I read, ARM7 can in general read unaligned, but some read instructions cannot. ARM9+ all instructions support unaligned reads, but the feature can be turned on/off (at processor level) and so software cannot assume any given settings. Supposedly most OSes have the setting on, but some don't.

[2018-01-17 20:06] Priya91 commented on #26382
@saurabh500 Thanks!

[2018-01-17 20:10] KrzysztofCwalina commented on #26368
I kind of wish we made it possible to write
[code]

[2018-01-17 20:14] janvorli commented on #26362
@meold now we are getting the same results. As I have mentioned in one of my previous comments, these things need to be fixed - Android headers have different data types of members in some structs.

[2018-01-17 20:19] JeremyKuhne opened #26394 "Need a point to expose platform specific IO information"
There is a need to get platform specific information regarding files. Some data can be abstracted cross plat relatively easily, but other info cannot.

One possibility is to add interfaces to FileSystemInfo, etc in only the specific platform implementations that expose platform level details that are already internally available.  Something like the following:

[code]

@weshaggard What are the imp

[2018-01-17 20:20] jkotas commented on #26362
Adding `int64_t` cast to `ST_NTIME_NSEC` should be fine.

cc @danmosemsft

[2018-01-17 20:32] jkotas commented on #26368
Why not `bool TryCast(Span<TFrom> from, out Span<TTo> to)` ?

[2018-01-17 20:33] danmosemsft commented on #26390
@weshaggard it seems like this should work. Any thoughts?

[2018-01-17 20:34] jhudsoncedaron commented on #26310
I spent a little time looking for cases. I found a lot of cases where I could not track because the code spanned repos. I only found one case that appeared to work, and that by chance. It blows up on encountering a symlink to a non-extant directory when given a path within it but maybe that's intended.

Tries to set ACls on a symbolic link. Unix symbolic links don't have ACLs. Trying to do so woul

[2018-01-17 20:35] danmosemsft commented on #26382
It looks like this slipped through CI because of https://github.com/dotnet/core-eng/issues/2411

[2018-01-17 20:37] jkotas commented on #26368
I do not think it is the case. My copy of the ARM manual has a big table in chapter `A3.2.1 Unaligned data access` chapter that shows what works and what does not.

[2018-01-17 20:52] jnm2 commented on #14354
I want it to generate the nonexistent GetHashCode overload and install the package in the same operation.

[2018-01-17 21:02] dan2dev commented on #15661
We are migrating our whole platform to Dotnet and stepped in this issue. Do someone have a solution?

[2018-01-17 21:03] JeremyKuhne commented on #26394
@pjanotti Fyi

[2018-01-17 21:09] CyrusNajmabadi commented on #14354
I don't think that's an appropriate choice for most users.  Adding dependencies is a very heavyweight operation that users should not be forced into.  Users can decide the right time to make those choices, and the IDE will respect it.  That's been the approach we've taken with all our features up to now, and it's been a healthy one that people seem to like.

[2018-01-17 21:10] CyrusNajmabadi commented on #14354
Note: what nuget package is this api even being included in for us to add a reference to?

[2018-01-17 21:13] morganbr commented on #14354
The implementation is in System.Private.CoreLib.dll, so it would come as part of the runtime package. The contract is System.Runtime.dll.

[2018-01-17 21:14] scalablecory commented on #25659
I think this would be a great idea to prevent GC pressure, but also recognize that `IObservable` subscriptions are perhaps more suited for many of the areas where a reusable `Task` might fit.

[2018-01-17 21:15] ahsonkhan commented on #26368
How would we discern when to return false (i.e. whether the platform supports misaligned memory access) without significant perf regression?

[2018-01-17 21:17] IlyaGrebnov commented on #26364
Is any way to bypass cache and a lock all together? Also, this approach only works for "My Code" and could still cause issues with libraries. Is anything we could do to improve scalability of Regex ctor and static methods in .Net?

[2018-01-17 21:22] CyrusNajmabadi commented on #14354
Ok.  If that's the case, then it sounds like a user would get this if/when they move to a more recent Target Framework.  That sort of thing is not at all a step i would have the "generate equals+hashcode" do to a user's project.

[2018-01-17 21:26] jkotas commented on #26368
For slow span, it would be slow like everything else. For fast span, it would need to be special crafted in the runtime to be fast.

[2018-01-17 21:28] jkotas commented on #26368
Just noticed a problem with this:

[code]

To be portable, you would rather want allocate array of the destination type and then copy the bytes to it. The array of bytes may not have sufficient alignment for the destination type.

[2018-01-17 21:36] sokket commented on #25773
@karelz Binding redirects did not help me. I gave a repro to @joperezr

[2018-01-17 21:51] karelz commented on #25773
Can you share the repro here? (minimized)

[2018-01-17 21:58] karelz commented on #26235
BTW: This issue seems to be happening much more often recently ...

[2018-01-17 22:01] sokket commented on #25773
https://github.com/sokket/http_repro

[2018-01-17 22:06] ericstj commented on #26162
We already have a general mechanism to do this.  We look at any netstandard or portable dependency group, copy its dependencies to framework specific dependency groups, remove anything that's considered "inbox", then delete redundant groups (if for example, nothing was removed).  See https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks.Packaging/src/CreateTrimDependenc

[2018-01-17 22:13] weshaggard commented on #26394
I assume you mean the interfaces don't show on FileSystemInfo but the interface itself is exposed in the contract? Nothing bad really happens in that case. We just need to be sure whatever is exposed in the contract for FileSystemInfo is implemented on all implementations.

[2018-01-17 22:17] Anipik commented on #26235
@karelz yeah I am working on it to get it fixed using named pipe

[2018-01-17 22:19] ianhays commented on #26139
I prefer the removal of the object argument if it isn't required, because it's not at all clear to me within a minute of searching what the purpose of the "object" parameter actually is.

[2018-01-17 22:20] wtgodbe commented on #26268
@wfurt this is the issue we talked about in the meeting

[2018-01-17 22:24] karelz commented on #7812
Triage: We need to disable the test only on older OS's (Win7, Win8.1, Win10 before build - see above).
@pjanotti can you please help with this one?

[2018-01-17 22:25] Anipik opened #26396 "Avoiding Extra allocation in RemoveRelativeSegments(Path.combineNoChecks(basePath, path))"
RemoveRelativeSegments(Path.combineNoChecks(basePath, path)) is going to cause an allocation but RemoveRelativeSegments() can be modified to take the both paths and do it in a single pass without extra allocation.

It may be helpful for scenarios with heavy usage of Relative Paths.

cc @pjanotti @JeremyKuhne

[2018-01-17 22:28] KrzysztofCwalina commented on #26368
I like the idea of TryCast.

[2018-01-17 22:29] karelz commented on #9228
Triage: No customer complaints yet. We would like to fix it to propagate proper exception, but may not fit into 2.1 - moving to Future.

[2018-01-17 22:32] meold commented on #26362
@jkotas @janvorli, okey, I fixed this errors and few others.
But get this:
![image](https://user-images.githubusercontent.com/28731421/35069477-ef34b644-fbe2-11e7-857d-40c6bd27888e.png)

Can you help me with it?

[2018-01-17 22:36] karelz commented on #19701
Triage: We don't seem to be getting much value from this particular tracking issue. We're on top of Networking failures and there are many specific tracking bugs for the common failures. Closing.

[2018-01-17 22:36] #19701 closed

[2018-01-17 22:39] karelz commented on #19718
@bartonjs do you plan to work on it for 2.1?
cc @Priya91

[2018-01-17 22:44] bartonjs opened #26397 "macOS cannot create PFX with a mix of HasPrivateKey and !HasPrivateKey certs"
#26125, but for macOS.  (Different fix, and the macOS existing failure is holding up a Linux fix)

[code]

See also #26152.

[2018-01-17 22:46] karelz commented on #21429
Can someone please provide us with a minimal repro, so tat we can try to reproduce in house? Thanks!
cc @Priya91

[2018-01-17 22:47] bartonjs commented on #19718
I was given to understand that this would be rendered moot by the managed HTTP handler.  So I guess I thought this issue was closed.  Though apparently it's assigned to me, and open :smile:.

[2018-01-17 22:54] karelz commented on #23362
Triage: It is important scenario. Given the limited interest so far (1 customer) and complications (it may be WinHTTP limitation), we won't address it in 2.1. ManagedHandler should be able to handle that (and will eventually become the default), so let's keep it opened.

[2018-01-17 23:02] karelz commented on #23394
Triage: We should change the default of `HttpRequestMessage.Version`. We should verify it works ok with 1.1-only server.

[2018-01-17 23:03] karelz commented on #23504
Triage: Next step - verify we can reproduce.

[2018-01-17 23:09] jkotas commented on #26362
SafeStringCopy in `src/Native/Unix/Common/pal_utilities.h` needs to be moved out from `__cplusplus` ifdef. E.g. you can try moving `#endif // __cplusplus` before it.

[2018-01-17 23:13] karelz commented on #24104
Triage: It seems there is not much we can do with current WinHTTP-based stack and there is workaround (use IP address / listen on both IPv4 and IPv6). We should be able to address the issue with ManagedHandler. Moving to Future.

[2018-01-17 23:29] ianhays commented on #26139
Ahson and I discussed this in person a bit more. Here's an updated proposal:

## Current API with usage
  current API:
[code]

Usage:
[code]

## Issues
The main issue right now with DangerousCreate is that the fast span and slow span have different implementations. Fast span doesn't need the first `obj` parameter, so it will accept that parameter as null and not throw. The Slow span, however, *doe

[2018-01-17 23:31] wfurt commented on #26268
I would suggest to implement this proposed part:

The path with pam may not be as simple. pam may not even be there (and yes it probably is on main Linux  distributions) It would also typically have one configuration entry for each app in  /etc/pam.d/
Now, should we expect "dotnet" there, or should that be per published application. With that, the publishing process may not have access there and t

[2018-01-17 23:31] karelz commented on #19718
ManagedHandler will be just opt-in in 2.1. One day, it will be default.

Given the number of upvotes (22), I wonder if there is something targeted we could/should do for 2.1 -- given that we were even considering backporting it into servicing of 2.0 (https://github.com/dotnet/corefx/issues/19718#issuecomment-303532816).

[2018-01-17 23:32] Priya91 commented on #25676
Again failed here https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d5db071beabb1dfe7bae36332e814ba568b25e08/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test~2FSetDelegate_ConnectionSucceeds(acceptedProtocol:%20Tls,%20requestOn

[2018-01-17 23:38] tarekgh commented on #26173
you may start by creating a PR which will rename the method

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Globalization/CharUnicodeInfo.cs#L293

and make it public and search for all callers yo update them too. after we finish the changes in coreclr repo, we'll expose the new API from corefx repo.

[2018-01-17 23:45] jkotas commented on #26139
You example is slicing arrays. If you need to slice array, you can just use the current Span constructors that takes arrays.

DangerousCreate constructor was meant to create Span over fields of objects. The main problem with that is that it is never needed in practice. I have not seen a real world code that would actually do that. It is a very corner case scenarios. We should not be adding convolu

[2018-01-17 23:47] weshaggard commented on #22032
Sounds like this was an SDK bug so closing the issue here. If there is still more follow-up please open it in the sdk repo.

[2018-01-17 23:47] #22032 closed

[2018-01-17 23:50] weshaggard commented on #22210
@hughbe if this is something you are interested in tackling you can update the analyzers that corefx uses from the buildtools repo, see https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/codeAnalysis.targets.

[2018-01-17 23:51] weshaggard commented on #22215
It is by design that the Microsoft.NETCore.UniversalWindowsPlatform package cannot be referenced outside of a UWP application or library.

[2018-01-17 23:51] #22215 closed

[2018-01-17 23:52] weshaggard commented on #22620
@smile21prc @janvorli I believe this work is done so closing but if not please reactive issue.

[2018-01-17 23:52] #22620 closed

[2018-01-17 23:53] weshaggard commented on #22658
In corefx to create a library nuget package you need a pkgproj.

[2018-01-17 23:53] #22658 closed

[2018-01-18 00:03] ViktorHofer commented on #26364
Your memory serves you right Stephen. The cache is only used during object construction. As the static methods instantiate new Regex objects behind the scenes the cache is also accessed by that. Depending on the state of the cache (entries are uniquely identified by a combination of pattern, culture & timeout) it will either just be read or also be written to. The existing cache can be optimized b

[2018-01-18 00:08] danmosemsft opened #26400 "TimeZoneInfo Now functionality"
@TimCurwick commented on [Fri Sep 15 2017](https://github.com/dotnet/coreclr/issues/14019)

TimeZoneInfo objects should have functionality to provide the current time in the time zone defined in the object. This would be similar to the DateTime and DateTimeOffset Now and UTCNow static properties, though of course not static. For consistency, this could be a property named Now.
Something like:
`pub

[2018-01-18 00:09] danmosemsft opened #26401 "Convert.ToBase64String is using "\r\n" line breaks, even on Unix"
@stephentoub commented on [Fri Oct 06 2017](https://github.com/dotnet/coreclr/issues/14357)

When Base64FormattingOptions.InsertLineBreaks is used, it's using "\r\n" regardless of platform. Presumably that's not the desired behavior...
https://github.com/dotnet/coreclr/blob/da8b7181dbe362fbfe64c7ef72ff3a4a7db68f24/src/mscorlib/shared/System/Convert.cs#L2522-L2523
https://github.com/dotnet/coreclr/

[2018-01-18 00:11] #22781 closed

[2018-01-18 00:12] jkotas commented on #26139
I think we should either delete this completely without replacement; or add the first set APIs from your option 2 for fast span only:

[code]

This API is constructor equivalent of `MemoryMarshal.GetReference`. `MemoryMarshal.GetReference` lets you read the Span reference. `MemoryMarshal.CreateSpan` lets you initialize the Span reference.

I think one of the common uses of this API would be to let

[2018-01-18 00:13] weshaggard commented on #23165
@ericstj Is this something we need for .NET Core 2.1?

[2018-01-18 00:17] weshaggard commented on #23229
Thanks for the confirmation @Quppa. I'm closing this issue as there isn't any work left to track.

[2018-01-18 00:17] #23229 closed

[2018-01-18 00:18] #23283 closed

[2018-01-18 00:21] ahsonkhan commented on #26139
I could only find two places where we use the DangerousCreate method, written as is. And in both cases, null is passed as the first argument:
https://github.com/dotnet/corefx/blob/103639b6ff5aa6ab6097f70732530e411817f09b/src/Common/src/CoreLib/System/Globalization/DateTimeFormat.cs#L706
[code]
https://github.com/dotnet/corefx/blob/103639b6ff5aa6ab6097f70732530e411817f09b/src/Common/src/CoreLib/Sys

[2018-01-18 00:22] weshaggard commented on #23505
@ericstj I believe the work for this has been completed so closing.

[2018-01-18 00:22] #23505 closed

[2018-01-18 00:23] mattzink opened #26402 "APIs return incorrect runtime version"
Runtime: .NET Core 2.0.3
OS: Windows, Linux

We would like to log the .NET Core runtime version when our app starts. The following APIs, which are all documented as returning the runtime version, seem to return a version that doesn't match the runtime, cli, or sdk versions:

[code]

Those members return the following results, respectively:
[code]

I would expect "2.0.3" to be there instead. The va

[2018-01-18 00:24] weshaggard commented on #23568
Closing as a dup of https://github.com/dotnet/corefx/issues/23360

[2018-01-18 00:24] #23568 closed

[2018-01-18 00:26] weshaggard commented on #23614
Looks like it was fixed as part of https://github.com/dotnet/corefx/issues/23618.

[2018-01-18 00:26] #23614 closed

[2018-01-18 00:29] weshaggard commented on #23699
@bording yes we should fill out the runtime groups in the supported OS list. Do you mind taking a crack at it?

[2018-01-18 00:30] danmosemsft commented on #26386
@AnthonyDGreen  ?

[2018-01-18 00:31] weshaggard commented on #23764
@lt72 do you know where we should route this question to?

[2018-01-18 00:32] jkotas commented on #26139
BTW: The existing Span constructor that takes `void*` would work just fine for these.

[2018-01-18 00:33] karelz commented on #23166
We will need a way for Preview1 to opt in into ManagedHandler process-wide, but not via environment variable.
We should reuse `AppContext` settings in appsettings.json - @wfurt can you please add it? I propose name: `DefaultHttpClientHandlerToManagedHandler`
@stephentoub are you ok with the name? (if we decide to rename `ManagedHandler` to something else post-Preview1, we can rename it later, we j

[2018-01-18 00:34] weshaggard commented on #23835
Closing as there has been no further information. @letmefree if you still have questions please help us better understand the scenario.

[2018-01-18 00:34] #23835 closed

[2018-01-18 00:36] weshaggard commented on #23970
@TheNovakExperience you may be hitting an issue in the SDK (perhaps https://github.com/dotnet/sdk/issues/803) where things don't work as expected when overriding that property.

[2018-01-18 00:36] #23970 closed

[2018-01-18 00:41] bording commented on #23699
@weshaggard Sure, let me see what I can come up with.

[2018-01-18 00:41] danmosemsft commented on #26362
Is there any plan to get Android coverage in official builds to stop this kind of issue upstream? I assume not currently planned so breaks will happen now and then.

[2018-01-18 00:53] #23994 closed

[2018-01-18 00:53] #24108 closed

[2018-01-18 00:59] weshaggard commented on #24138
@YongseopKim I'm not sure we ever need to run our tests in the context where the assemblies are ".ni.dll", While it might be interesting to have some specific tests that validate ".ni.dll"'s I'm not sure it is worth the complication in the test infra to get this little bit extra test coverage. Those type of tests would more naturally be part of the coreclr test bed which validates the ni images.

[2018-01-18 00:59] #24138 closed

[2018-01-18 01:00] weshaggard commented on #24200
@Abexdatl are you still having an issue here?

[2018-01-18 01:02] weshaggard commented on #24698
Fixed with https://github.com/dotnet/corefx/pull/25644

[2018-01-18 01:02] #24698 closed

[2018-01-18 01:04] weshaggard commented on #24847
Sounds like you have a workaround for this @bording I'm not sure there is much else we can do to help with this scenario from our end, so closing.

[2018-01-18 01:04] #24847 closed

[2018-01-18 01:06] karelz commented on #22781
@shaulbehr @TonyValenti the preferred workaround is to add manual binding redirect - see https://github.com/dotnet/corefx/issues/22781#issuecomment-322694600
If it is not working for you (or anyone), please let us know - we would be interested in minimal repro for such case. Thanks!

[2018-01-18 01:06] weshaggard commented on #24856
@bording can you make sure this is covered in your work on https://github.com/dotnet/corefx/issues/23699?

[2018-01-18 01:06] #24856 closed

[2018-01-18 01:06] weshaggard commented on #23699
@bording thanks for helping out here.

[2018-01-18 01:07] wfurt commented on #20177
Did we find some solution or more isolated repro? I'm going to close this unless we get more information.

[2018-01-18 01:09] weshaggard commented on #24877
I suspect no one as done normal "dotnet test" type scenarios. However we do run our tests on linux-arm as our tests just depend on some xunit libraries and the dotnet runtime itself, so they are very similar to dotnet applications.

[2018-01-18 01:09] #24877 closed

[2018-01-18 01:13] Priya91 commented on #24133
This failed in CI in #26250

[code]

[2018-01-18 01:14] Priya91 commented on #26032
Failed again in CI here: https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/5ea2021bec9ad75556bd5ce2c23784f35f4fafb5/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadData_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2018-01-18 01:15] #21537 closed

[2018-01-18 01:15] weshaggard commented on #24960
I think @mikem8361 is also looking at this all up.

[2018-01-18 01:17] weshaggard commented on #24968
I'm going to close this issue as I'm not sure what a disk space check would really look like here or at what place it would go because there are many places we download stuff.

[2018-01-18 01:17] #24968 closed

[2018-01-18 01:19] weshaggard commented on #25002
@philippweidhas is this still something you are working on and still need help with?

[2018-01-18 01:22] weshaggard commented on #25012
There are no plans to make Microsoft.TargetingPack.NETFramework.* packages support this as they are only intended for our custom build infrastructure. @hubuk If the general scenario is something you want to push on I suggest adding comments to https://github.com/dotnet/corefx/issues/3934

[2018-01-18 01:22] #25012 closed

[2018-01-18 01:24] #25145 closed

[2018-01-18 01:26] weshaggard commented on #25177
@AlexGhiondea @joperezr is this a known issue with the tools? Are we missing a scenario where netstandard.dll is inbox on net471 but we don't automatically reference it if consuming a netstandard library?

[2018-01-18 01:28] weshaggard commented on #15274
CoreFxTools.csproj no longer exists in corefx so this shouldn't be applicable any longer.

[2018-01-18 01:28] #15274 closed

[2018-01-18 01:30] dasjestyr commented on #22996
Was this implemented in 2.0? We're actually here scratching our heads with the same problem but on microsoft/aspnetcore:2.0 -- the cert is in /etc/ssl/certs and the key is in /etc/ssl/private but it's not being found by in the code. It appears to find the cert just fine, but no private key.

[2018-01-18 01:30] weshaggard commented on #25293
@philippweidhas something seems to not have restored correctly. Can you go and just build `/home/arbeit/corefx/external/netstandard/netstandard.depproj` and send me the detailed log and I can help narrow down the issue.

[2018-01-18 01:38] weshaggard commented on #25415
I believe this segfault on alpine was fixed by updating the SDK which @janvorli fixed.

[2018-01-18 01:38] #25415 closed

[2018-01-18 01:39] weshaggard commented on #25991
@wanton7 is this something you would like to submit a PR to address?

[2018-01-18 01:40] karelz commented on #22996
Nothing was fixed in 2.0.
Is there a standalone from-scratch minimal repro someone can share?
Is it specific to the official docker images, or can it be reproduced on any Linux box?

[2018-01-18 01:41] weshaggard commented on #25783
I believe this was fixed with https://github.com/dotnet/corefx/pull/25868.

[2018-01-18 01:41] #25783 closed

[2018-01-18 01:42] #26187 closed

[2018-01-18 02:00] #25521 closed

[2018-01-18 02:03] wfurt opened #26405 "Basic proxy auth does not work"
Steps to reproduce:
1. `export  http_proxy=http://furt:foo@10.121.122.110:3128`
2. wire simple app using http handler and fetch a page.
3. verify that connection will get redirected to proxy.
3. `export COMPlus_UseManagedHttpClientHandler=true`
4. run the test again.
5. The connection is redirected to proxy but the proxy fails with 407 error.

Tested on: Linux & Mac (Windows not attempted)

It see

[2018-01-18 02:05] #25525 closed

[2018-01-18 02:06] dasjestyr commented on #22996
We'll put one together and also give it a try on an ubuntu vm probably by tomorrow.

[2018-01-18 02:09] wfurt commented on #26405
[proxy_auth.pcapng.zip](https://github.com/dotnet/corefx/files/1641335/proxy_auth.pcapng.zip)

[2018-01-18 02:17] onovotny opened #26406 "SignedCms extensibility to support external private keys"
This is an issue to document: https://github.com/dotnet/designs/issues/11#issuecomment-336327669

The core issue is that there's no way to use anything other than an X509Certificate2 to provide the signatures needed within the SignedCms types. There are cases where the private key is not accessible via a CSP where the signing must be handled by a provided function. A concrete example is wanting to

[2018-01-18 02:19] tarekgh commented on #26400
@mj1856 already proposed this before and we decided to hold this proposal because we are thinking in doing more TZ work which can include such functionality.

This is a duplicate of #25089

[2018-01-18 02:22] #4928 closed

[2018-01-18 02:29] #26076 closed

[2018-01-18 02:35] onovotny commented on #21833
FWIW, NuGet seems to have had to implement quite a bit of ASN.1 parsing/writing as part of getting signatures working: https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.Packaging/Signing/Signatures

They even have their own DerEncoder.

It should would be nice to get something public here so we can all stop re-implementing this :)

[2018-01-18 02:37] onovotny commented on #21833
Why does this have to be the case? Can they be added to a new standalone `.NET Standard` library that can be used everywhere rather than baked into the platform components itself?

For ASN.1 parsing, that seems to be the kind of thing that can be standalone.

[2018-01-18 03:01] akoeplinger commented on #26402
https://github.com/dotnet/corefx/issues/9725 has more details.

[2018-01-18 03:09] ufcpp commented on #26173
I've created a pull request: https://github.com/dotnet/coreclr/pull/15911
Is this OK?

[2018-01-18 03:22] karelz commented on #25773
@sokket I talked with @joperezr and he mentioned Service Fabric is doing some specific steps which are likely the root cause.
I am curious if anyone else saw the workaround NOT working outside of Service Fabric. That would be worrisome.

[2018-01-18 04:00] oliverjanik commented on #19469
Why was this closed? this is an API design fail.

The use-case is to copy incoming bytes upstream. What is the most straightforward way to do this?

[2018-01-18 04:21] carlreinke commented on #25569
It seems to me that it's inconsistent if
* `FileInfo.Create()` creates a file at `FileInfo.FullPath`, and
* `FileInfo.CreateSymbolicLink( string path )` creates a file at `path` (not at `FileInfo.FullPath`).

(And similarly for `DirectoryInfo`.)

[2018-01-18 04:39] karelz opened #26407 "LINQ.Expressions Power operator and BigInteger or Complex or custom"
_From @DjArt on May 26, 2017 8:58_

Building expression with two BigInteger or Complex variables will fail, because it's call Math.Pow method. How about add new operator op_Power for overloading and call it when we use Power in LINQ?

_Copied from original issue: dotnet/coreclr#11931_

[2018-01-18 04:42] karelz opened #26408 "Awaiting multiple Tasks with different results"
_From @Meir017 commented on Aug 28, 2017_

I know it's possible to create a class with this feature - https://stackoverflow.com/questions/17197699/awaiting-multiple-tasks-with-different-results#answer-40938652

It would be nice to have this in the class `Task`

_Copied from original issue: dotnet/coreclr#13632_

[2018-01-18 04:42] ericstj commented on #23165
No, it’s more like moving corefx forward to “latest” for desktop testing

[2018-01-18 05:07] bartonjs commented on #21833
Sort of.  They just copied the first draft of this.

No, because then the platform can't use it.

[2018-01-18 05:16] ufcpp commented on #26408
https://github.com/dotnet/corefx/issues/16010 ?

[2018-01-18 05:28] sandorfr commented on #24680
@joperezr  I've added a section with possible use cases

[2018-01-18 05:51] alexzaytsev-newsroomly commented on #24574
Is that an option on any platform? e.g. back in full .net `WebRequest.DefaultWebProxy` was pretty much good to go...

[2018-01-18 06:08] jkotas commented on #26394
The Unix specific APIs for working with files are available in Mono.Posix library today: http://docs.go-mono.com/?link=T%3aMono.Posix.Stat%2f* Mono team has done the work to build .NET Core-compatible version of Mono.Posix (https://github.com/mono/mono/pull/4774). Is there a reason why the folks who really need these APIs cannot  use Mono.Posix?

[2018-01-18 06:11] karelz commented on #26408
Yeah, looks like dupe - @jcouv?

[2018-01-18 06:25] IlyaGrebnov commented on #26364
Fell free to point me to "internal specialized implementation" as I am happy to contribute /  make changes.

Alternatively here is what were original proposing:
https://gist.github.com/IlyaGrebnov/c7c2bc4dd77a95ac3ace35b7904af180

[2018-01-18 06:26] jcouv commented on #26408
Indeed, this is a duplicate. I'll go ahead and close.
Thanks @ufcpp for connecting the dots.

[2018-01-18 06:26] #26408 closed

[2018-01-18 07:58] EnCey commented on #25773
I'm dealing with the issue in a Cloud Service project currently. So far, binding redirects don't seem to have any affect (4.2.0.0 is copied to bin/debug folders).
I also get this warning here, but I'm not 100% sure yet which project generates it (it doesn't show up on each rebuild):

[code]

[2018-01-18 08:06] ma-bjo commented on #25773
I will try to reproduce the issue we had with method not found exception, but in the meantime I upload two extremely simple projects that illustrates the issue we have with additional assemblies being copied to the output folder. Both are created in Visual Studio 15.5.4 using the normal New Project wizard, Visual C# Console App (.NET Framework), with target .NET 4.7.1. The only thing I have done i

[2018-01-18 08:19] giltendezm commented on #21961
Hello is fix for this issue downloadable via nuget? I'm using System.Xml.XmlSerializer v4.3.0 in a .net standard project targeting v1.1. I still can reproduce this issue.

[2018-01-18 08:19] geoffkizer commented on #23394
I think this is fine, but just to clarify:

I think we are saying that HttpRequestMessage.Version effectively means "don't try to send a higher version than this".

It seems kind of unfortunate that it's defined the way it is, since future HTTP versions will always require us to update the default here.  I.e. when HTTP3 (or whatever) comes out, we'll want to change the default to 3.0.

It seems li

[2018-01-18 08:23] geoffkizer commented on #23362
I believe Stephen changed the managed handler to do this already.  @stephentoub?

[2018-01-18 09:48] philippweidhas commented on #25293
@weshaggard thx for asking. The solution was building corefx and corecr in the same vm. First build corecr and then build corefx.

[2018-01-18 09:49] philippweidhas commented on #25002
@seanshpark @weshaggard thx for any help. The solution was building corefx and corecr in the same vm. First build corecr and then build corefx. Thats it.

[2018-01-18 10:13] JonHanna commented on #26407
Adding a `op_Power` would be a deep change to the runtime, since the set of operator special names has been pretty much fixed since 1.1 and we'd be waiting on catch-up from the various types that can call it.

Expressions already provides a means to use a method other than `Math.Pow()`:

[code]

If we were to add `op_Power` this would be a CLR change. About the only thing to do in S.L.Expressions

[2018-01-18 10:31] damageboy commented on #26209
I just did this on my own in my project, I'd like to point out that this also helps with perf:

BenchmarkDotNet=v0.10.12, OS=Windows 10 Redstone 3 [1709, Fall Creators Update] (10.0.16299.192)
Intel Core i7-7700HQ CPU 2.80GHz (Kaby Lake), 1 CPU, 8 logical cores and 4 physical cores
Frequency=2742186 Hz, Resolution=364.6726 ns, Timer=TSC
.NET Core SDK=2.1.4
  [Host]     : .NET Core 2.0.5 (Framework

[2018-01-18 10:53] unicomp21 commented on #26385
@stephentoub which MS github repo would be the best place to raise the GetQueuedCompletionStatus request?  Or perhaps an email of someone at MS?

[2018-01-18 10:53] unicomp21 commented on #26385
cc @karelz

[2018-01-18 10:59] janvorli commented on #26362
There is no plan as far as I know.

[2018-01-18 11:05] SemperPeritus opened #26410 "Can't build on Windows 10 x64 Pro with VS 2017 Pro (4 errors)."
First error on TimeConverter:
[code]
[code]

**build** without errors. Tail of **build-tests** log:
[code]

*/bin/tests/System.Management.Tests/netcoreapp-Windows_NT-Debug-x64* file: [http://sprunge.us/Whga](url)
*System.Drawing.Common.Tests* result: [http://sprunge.us/LDYg](url)
*XsltCompiler.Tests* result: [http://sprunge.us/QWQA](url)