[2017-04-14 12:12] ViktorHofer commented on #8578
@WinCPP: These are the System.Dynamic files which needs investigation:

[code]

[2017-04-14 12:13] WinCPP commented on #17118
An unrelated question about `Fill` method... would it be an optimization if the primary fill loop ran with segments increasing as power of 2 until the filled size >= (total length / 2), and then copy remainder in single shot from the already filled segment of the span; both using Span.CopyTo which internally uses copy block? Such an algorithm would fill faster than running the primary fill loop as

[2017-04-14 12:38] stephentoub commented on #18352
Every time an instance method test is executed, xunit instantiates a new test class, runs the instance method on that instance, and then disposes of the test class (if it's IDisposable).  So an instance field on the test class won't be shared between instance method tests.

[2017-04-14 13:03] ViktorHofer commented on #8598
We already have a file which lists all ApiCompat changes from netfx461 to netcoreapp. https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt

@karelz @danmosemsft How should we proceed with that issue? Should we create a doc which is a readable wrapper of the file i mentioned above?

[2017-04-14 13:47] ViktorHofer commented on #8684
@steveharter: As Dan said, dead resources are already gone. I added the DebuggerDisplay for oid. I can't find any native errors while validating oid, maybe already fixed? https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/ECCurve.cs#L191

This PR would be a one liner ;)

[2017-04-14 13:57] JonHanna commented on #7596
The issue would seem to lie in Reflection and/or Reflection.Emit, though perhaps at root in the relevant implementation of `Type`, but I can't reproduce it with:

[code]

Maybe I'm missing something in my attempt to repo, but perhaps also the issue was fixed as a side effect of something else.

[2017-04-14 14:01] #18352 closed

[2017-04-14 14:32] ViktorHofer commented on #9023
I'm confused. @Jiayili1 you added the disabled-test label and linked to the test method `SendAsync_SendSameRequestMultipleTimesDirectlyOnHandler_Success` which is not same issue. We are specifically talking about the method `SendAsync_SendRequestUsingNoBodyMethodToEchoServerWithContent_NoBodySent` which can be found here https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/Functi

[2017-04-14 14:33] #9023 closed

[2017-04-14 14:41] karelz commented on #4873
@davmason doesn't work on EventSource.
@brianrob @vancem if you want help from @ViktorHofer, can you please provide some guidance here?

[2017-04-14 14:43] karelz commented on #7459
Thanks @ViktorHofer can you please suggest the exact wording change? It will much easier for our docs team to 'fix' the language, when they have technical details laid out.
I can then move it to docs repo ... thanks!

[2017-04-14 14:44] karelz commented on #9023
@Jiayili1 can you please double check that this was a mistake? (Just want to make sure we do not miss things by accident) Thank you!

Thanks @ViktorHofer for clarifying!

[2017-04-14 14:45] karelz commented on #9023
@ViktorHofer what should I think then about this comment from @davidsh? (he is OOF, back on Monday - we can wait on his comment in the worst case)

[2017-04-14 14:51] karelz commented on #8598
On top of that we have high-level doc about by-design missing technologies in .NET Core: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/porting.md

We will also have tooling for [platform-compat](https://github.com/terrajobst/platform-compat), so I guess we are overall good. Closing.
Anyone, feel free to reopen / voice concerns if you disagree.

[2017-04-14 14:58] jimcarley commented on #18277
@saurabh500 Including you because it looks like you were the last person to touch SqlConnection.

This looks like a question for SqlConnection or SqlCommand.

[2017-04-14 15:02] karelz commented on #8188
@corivera any insight here?
@stephentoub @weshaggard @danmosemsft?

[2017-04-14 15:02] vancem commented on #4865
The types
[code]
are exactly the types that were added that David was trying to test.   I have not confirmed but given that David wrote about this in 12/2015 and  V4.6.1 shipped in 11/2015, I would say that these APIs probably were added for V4.6.2.   This means that they are NOT part of netstandard 2.0 (which wants to work on Desktop runtimes back to V4.6.1).

It can however be a part of NetStand

[2017-04-14 15:04] ViktorHofer commented on #4865
Wasn't that changed? See here: https://docs.microsoft.com/en-us/dotnet/articles/standard/library

[2017-04-14 15:07] karelz commented on #8104
cc @corivera

[2017-04-14 15:09] karelz commented on #4864
Makes sense, thank you!
cc @brianrob

[2017-04-14 15:11] karelz commented on #4865
At minimum we should be able to enable the tests on .NET Core and on Desktop 4.6.2+ then, right?

[2017-04-14 15:17] ViktorHofer commented on #9023
I commented on exactly that statement. See above or here:

[2017-04-14 15:20] vancem commented on #4865
Yes.

You could do that, but that means are testing is always at the mercy of how fast the desktop moves.
It seems like we should have a mechanism for testing new things IMMEDIATELY that were added to .NET Core (as this was done), and then as NetStandard enfolds it, we can test it as part of NetStandard.   I am looking for guidance on how best to do that.

[2017-04-14 15:32] danmosemsft commented on #17984
That's a different issue, different test .. I'll open another one

[2017-04-14 15:32] #17984 closed

[2017-04-14 15:33] danmosemsft opened #18381 "IOException in System.IO.Tests.Directory_NotifyFilter_Tests.FileSystemWatcher_Directory_NotifyFilter_Security"
[code]

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170414.01/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.Directory_NotifyFilter_Tests~2FFileSystemWatcher_Directory_NotifyFilter_Security(filter:%20Attributes)

[2017-04-14 15:33] AArnott commented on #18357
Sorry about the build error. As Roslyn doesn't have first-class support for code generation extensions yet, I have to get creative with MSBuild and it can be really hard to keep it working for all scenarios at once. WPF in particular has a double-build oddity that no other project type has. Can you try it in a console app or unit test project first?

This project isn't an official Microsoft projec

[2017-04-14 15:34] ViktorHofer commented on #7459
As agreed offline I will directly edit it in the new open docs site https://docs.microsoft.com/en-us/dotnet/api/system.net.cookie.-ctor?view=netcore-1.1.0 and will then link the PR here

[2017-04-14 15:35] danmosemsft commented on #18381
This may be another case where we need to do a more robust directory delete. In this case we need to create it again so usign retries instead of just ignoring the result
[code]

Of course depending on the file watcher test is trying to do, retries could throw it off.

[2017-04-14 15:35] AArnott commented on #18357
See https://github.com/dotnet/csharplang/issues/107 for a discussion on a language feature for code generation. There's a lot of good stuff in the older issue it links to as well.

[2017-04-14 15:36] ViktorHofer commented on #9252
@bartonjs @karelz If still an issue, I could do it later today

[2017-04-14 15:38] danmosemsft commented on #18324
@hughbe do you want to see whether you can repro this lcally by switching off the perf counters? (Seems stuff on web about how to do that). That would make it possible to try to find a way to determine whether they're off, then, we can keep the test.

[2017-04-14 15:47] karelz commented on #4865
I think we run Desktop tests only on latest Desktop version. So maybe you don't need to do anything special. Otherwise, there should be way to tell which test supports which Runtime via attributes.

@weshaggard @mellinoe @joperezr should be able to guide us here ... (my quick search didn't find it, but I have seen it)

[2017-04-14 15:49] karelz commented on #9252
I think it is still needed (or rather I don't see a reason why it would be suddenly not needed). Assigned to you. Thanks!

[2017-04-14 15:51] karelz commented on #7459
Great, thanks! Once you create the PR (please add me on CC), please close this issue. We do not have to block on docs change completion in CoreFX ... supplying the right info into docs is enough for us to close here.

[2017-04-14 15:52] karelz commented on #9023
I see, in that case, link the PR/commit and we can close it ...

[2017-04-14 15:56] karelz commented on #18360
The PR was already marked as netfx-port-consider. Here's more information, so following @hughbe's instructions. (Thanks @hughbe!)

[2017-04-14 15:56] #18360 closed

[2017-04-14 16:24] weshaggard commented on #17914
What is our going to be our guidance to decide whether or not they should stay that way or not?

[2017-04-14 16:30] clrjunkie commented on #8598
Strongly disagree.

https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt

Don't see how this can be useful to humans. Looks like a data dump of static code analysis error messages.

IMHO, this is a bad document for various reasons which I wont go into...

There needs to be a simple representation of the differences in terms of namespaces / technol

[2017-04-14 16:33] #17190 closed

[2017-04-14 16:36] zhenlan commented on #15682
Thanks for the clarification @weshaggard. I think this issue can be closed now unless we change mind to bring CodeDom to NS2.0.

[2017-04-14 16:41] weshaggard commented on #4865
Assuming these are in netcoreapp I would add a netcoreapp configuration to the test project and add the tests under that configuration.

Currently our desktop test runs are targeting 4.6.1 (i.e. netfx == net461). Ideally we would target the latest .NET Framework but we decided for this release we would map to 4.6.1 to better enable our NS2.0 verification.

[2017-04-14 16:42] stephentoub commented on #15682
Is there anything that would prevent it from being in .NET Core 2.0 even if not in NS 2.0?

[2017-04-14 16:47] weshaggard commented on #15682
Nothing that would technically block it but it would pull CodeDom and its closure into the shared framework which I would prefer to avoid.

[2017-04-14 16:49] shmao commented on #15892
This was fixed by #16704

[2017-04-14 16:49] #15892 closed

[2017-04-14 16:54] shmao commented on #13766
@huanwu what's the issue we are tracking here? Do we want to fix this for NS2.0?

[2017-04-14 16:56] zhenlan commented on #18273
Thanks @Jiayili1.

[2017-04-14 16:56] #18273 closed

[2017-04-14 16:57] shmao commented on #10676
This was fixed by https://github.com/dotnet/corefx/pull/15352.

[2017-04-14 16:57] #10676 closed

[2017-04-14 17:00] weshaggard commented on #18273
@zhenlan what does "is implemented on full framework" mean in this context?

[2017-04-14 17:04] tarekgh commented on #8598
@clrjunkie thanks for the feedback

Do you want give it a try submitting PR for a doc bases on the information in the link https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt

and be more user readable?

Your feedback can be valuable here if you send more details.

I don't think having everything in one doc will be good here. we can have one pare

[2017-04-14 17:08] zhenlan commented on #18273
That's because it is a negative test case. The scenario actually works on full framework. Yes, the message is a bit confusing even though it's correct 😄.

[2017-04-14 17:15] shaggygi commented on #18357
I get same error with a .NET Console app.  Appears I can build using .NET Core Class project, but doesn't seem to pick up the ```using ImmutableObjectGraph.Generation;```

Thanks for code generation link (man, that's a long discussion).  Looks promising though.

[2017-04-14 17:36] akoeplinger commented on #8188
@ViktorHofer FYI it's just a stub in Mono/Xamarin at the moment: [SqlDependency.cs](https://github.com/mono/mono/blob/462834e6ea925fbc69711fb4ffc6f8b22ab92de8/mcs/class/System.Data/System.Data.SqlClient/SqlDependency.cs)

[2017-04-14 17:40] steveharter commented on #8684
The native errors would have to be emulated. However, this is low-pri so closing. Thanks

[2017-04-14 17:40] #8684 closed

[2017-04-14 17:41] #17749 closed

[2017-04-14 17:44] danmosemsft commented on #18274
fixed

[2017-04-14 17:44] #18274 closed

[2017-04-14 17:45] danmosemsft commented on #18313
fixed

[2017-04-14 17:45] #18313 closed

[2017-04-14 17:45] danmosemsft commented on #1050
Fixed until we get evidence otherwise

[2017-04-14 17:45] #1050 closed

[2017-04-14 17:52] jkotas opened #18387 "apiset still used in S.R.Metadata"
_From @danmosemsft on April 14, 2017 15:55_

@yizhang82 @stephentoub @tmat, @nguerrera @gkhanna79 is there any reason to still use apisets in this assembly? We removed them in all other places. But perhaps we need to keep it in this library because it ships OOB and does not necessarily have reverse forwarders?

[code]

_Copied from original issue: dotnet/coreclr#10974_

[2017-04-14 17:52] jkotas commented on #18387
_From @danmosemsft on April 14, 2017 16:2_

Either way it's wrapped in `#pragma warning disable BCL0015 // Diasable Pinvoke analyzer errors.`.

For some reason the Kernel32 one is not in our OneCore list (hence suppression) but is in the UWP list (WACK always allows apiset and classic versions). Need to make certain, but I believe this means we're OK for UWP though.

[2017-04-14 17:52] jkotas commented on #18387
_From @yizhang82 on April 14, 2017 16:14_

These are identical. We would only need the kernel32 version.

[2017-04-14 17:52] jkotas commented on #18387
_From @danmosemsft on April 14, 2017 16:23_

OK we should clean that up at some point.

[2017-04-14 17:52] jkotas commented on #18387
_From @gkhanna79 on April 14, 2017 16:36_

Any reason why this cannot be fixed in 2.0, as opposed to 2.1.0?

[2017-04-14 17:52] jkotas commented on #18387
_From @tmat on April 14, 2017 16:59_

Jan is making some changes: https://github.com/dotnet/corefx/pull/18356.

/cc @jkotas

[2017-04-14 17:52] jkotas commented on #18387
I have included the fix for this one in my PR.

[2017-04-14 17:56] danmosemsft commented on #18387
@jkotas if you install the Zenhub plugin it will move issues in 2 clicks.

[2017-04-14 17:57] danmosemsft commented on #18361
Clsoing as requested by @ajcvickers

[2017-04-14 18:09] #15622 closed

[2017-04-14 18:16] safern commented on #18265
@karelz yes it was desktop run. Thanks for the labeling!

[2017-04-14 18:21] safern commented on #18141
@alexperovich maybe disable them and pointing to this issue to have a clean run?

[2017-04-14 18:27] safern commented on #17728
This was fixed by @ianhays on PR: #17699

I don't see it failing anymore.

[2017-04-14 18:27] #17728 closed

[2017-04-14 18:38] jkotas commented on #18387
Fixed by #10974

[2017-04-14 18:39] #18387 closed

[2017-04-14 18:40] danmosemsft opened #18389 "Remove duplication of SHGetKnownFolderPath calls"
The two different native calls in this file are actually identical. Remove the rigamarole around deciding which one to call

https://github.com/dotnet/corefx/blob/7422664ba77cac9c0a3cb1dcba79c854ca1b2db0/src/Common/src/Interop/Windows/shell32/Interop.SHGetKnownFolderPath.cs#L40

details
https://github.com/dotnet/corefx/pull/18383

[2017-04-14 18:42] safern commented on #17724
I don't see this one failing anymore. Seems to be fixed on PR: #17625

[2017-04-14 18:42] #17724 closed

[2017-04-14 18:43] safern commented on #17726
I don't see this one failing anymore. Seems to be fixed on PR: #17625

[2017-04-14 18:43] #17726 closed

[2017-04-14 18:45] weshaggard commented on #18273
OK then do we want a positive test as well for desktop?

[2017-04-14 18:45] safern commented on #16960
I don't see this one failing on desktop anymore, it was an infra issue; so I'm removing the label.

[2017-04-14 18:49] safern commented on #17088
I don't see this one failing on desktop anymore. Removing label.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170413.04/workItem/System.Data.SqlClient.Tests

[2017-04-14 18:54] mellinoe opened #18390 "[Performance] Triage System.Collections performance regressions since v1.1"
We've done an analysis of performance data from two builds of corefx: the released version of .NET Core 1.1, and a snapshot of corefx/master. The data is available through an internal website; contact me for information about how to access the info.

There are several regressions in test cases for System.Collections which we should investigate, triage, and potentially fix. The test cases which loo

[2017-04-14 18:57] tarekgh commented on #18172
I am going to do it. as suggested we'll keep the original Silverlight identity.

[2017-04-14 18:58] #13778 closed

[2017-04-14 18:59] shmao opened #18391 "To Verify if WCF Can Use Reflection-based XmlSerializer"
XmlSerializer now supports XmlMembersMapping using in reflection only mode. We should verify if [XmlSerializerFormat] works when using reflection-based serialization.

[2017-04-14 19:00] mellinoe opened #18392 "[Performance] Triage System.IO performance regressions since v1.1"
We've done an analysis of performance data from two builds of corefx: the released version of .NET Core 1.1, and a snapshot of corefx/master. The data is available through an internal website; contact me for information about how to access the info.

There are several regressions in test cases for System.IO which we should investigate, triage, and potentially fix. The test cases which look reliabl

[2017-04-14 19:07] karelz commented on #15622
Thanks for pushing it through @WinCPP!

[2017-04-14 19:08] jguady commented on #18389
Hi Dan, New contributor here. Probably still need to go through a lot of setup in order to test any changes. This sounds like a easy place to start though. It sounded like I can remove one (shellfolders) call and simplify SHGetKnownFolderPath to just the try/catch? Sound about right?

[2017-04-14 19:10] alexperovich commented on #18141
I will disable the tests

[2017-04-14 19:17] ajcvickers commented on #18361
@danmosemsft I don't think I requested this to be closed...

[2017-04-14 19:18] zhenlan commented on #18273
Desktop has its own test bed. It should be covered already.

[2017-04-14 19:22] karelz commented on #8598
Note that the [platform-compat tooling](https://github.com/terrajobst/platform-compat) I mentioned above will contain superset of the detailed [ApiCompat list](https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt). It will be stored in some kind csv database. It should be trivial to turn it into HTML as well for easier readability.

The high-level

[2017-04-14 19:23] karelz commented on #18357
So what are we tracking in this issue? Or is everything important tracked in the linked issues already?

[2017-04-14 19:23] dagrooms52 commented on #16993
I have the same issue, but I actually need to keep `Microsoft.AspNet.WebApi` in my project. Any fix other than waiting for 2.0.0?

[2017-04-14 19:26] karelz commented on #16993
Can you please check with `System.Net.Http, Version=1.5.0.0` producers? (I guess they are also authors of `Microsoft.AspNet`)

[2017-04-14 19:33] shaggygi commented on #18357
I believe we should track the effort in creating an Immutable parent/child API.  From what I've read in the links so far, it seems like discussions related technologies that may or may not enable a better experience with the requested API.

I believe the work @AArnott did with his noted repo above might be a starting point and then move into corefx later.  He would need to offer insight there.

[2017-04-14 19:35] danmosemsft commented on #18361
I apologize - I misread.

[2017-04-14 19:51] AArnott commented on #18357
I don't think there's anything for corefx to deliver here. It's unlikely ImmutableObjectGraph will mature into a corefx feature anytime soon (if it were ever even appropriate to) and it's more likely that an official supported feature for this would come from the language. So I'll close this.

[2017-04-14 19:51] #18357 closed

[2017-04-14 19:57] shaggygi commented on #18357
Before closing, let me ask where it would be appropriate to request elsewhere.   Roslyn, CoreFxLab, other repo?

[2017-04-14 20:00] danmosemsft commented on #18389
Hi @jguady welcome. I think you just have to remove this function https://github.com/dotnet/corefx/blob/7422664ba77cac9c0a3cb1dcba79c854ca1b2db0/src/Common/src/Interop/Windows/shell32/Interop.SHGetKnownFolderPath.cs#L31 so calls go through directly.

[2017-04-14 20:01] danmosemsft commented on #18389
I sent you a collbaorator invite if you accept I can assign this.

[2017-04-14 20:02] danmosemsft commented on #18389
To get going, start here https://github.com/dotnet/corefx/wiki don't hesitate to @danmose me if you have q's.

[2017-04-14 20:04] AArnott commented on #18357
@shaggygi I'm not clear on what question you're asking. It sounds like you want to create type trees like what you find in Roslyn's SyntaxTree but with your own types. If so, it's as I said: the only way this has ever been done for .NET is via build-time code generation. And you can see how Roslyn does it (xml based) in their repo, you can look at or reuse ImmutableObjectGraph, or you can track th

[2017-04-14 20:05] danmosemsft commented on #18273
@weshaggard in generally we seem to be occasionally adding Desktop-only tests when it's helpful to contrast with .NET Core behavior but not attempting to make a Desktop testbed. From chatting to Jan that is not a reaonable goal.

[2017-04-14 20:06] clrjunkie commented on #8598
Since you asked:

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/porting.md

Is it there or not?

Problematic architecture for who? What's the problem? If Invested man years in developing around this do I have problem? Do you have an *RPC* alternative? Are you suggesting RPC is dead when every other framework has one?

Comfortable?? If I'm on full .NET FW reading this docu

[2017-04-14 20:13] #17494 closed

[2017-04-14 20:17] shaggygi commented on #18357
Ok.  Thanks for the links to your repo and code generation discussions.  I'll take the time to review and then follow up on the cslang repo.

[2017-04-14 20:19] weshaggard commented on #18273
OK I'm fine with that for things that are shipping inbox (which is this case I believe), but for cases were the code actually ships out of corefx for desktop then we should have test coverage for it.

[2017-04-14 20:24] karelz opened #18394 "Document .NET Remoting alternative - Sockets"
Our [porting](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/porting.md) doc is vague on replacement of .NET Remoting. We concluded System.Net.Sockets is best alternative.

There is worry that it is tricky to write, so we should provide a sample (maybe in docs repo?).

[2017-04-14 20:31] safern commented on #18141
Thanks

[2017-04-14 20:35] ElemarJR commented on #18159
@svick

Answering your questions here would be too long. I just wrote two blog posts about my point about [exceptions](http://www.elemarjr.com/en/2017/04/exceptions-are-too-intrusive/) and [nulls](http://www.elemarjr.com/en/2017/04/when-null-is-not-good-enough/).

[2017-04-14 20:35] danmosemsft commented on #18262
Let's at least figure out the exception so we get detail on the failing tests.

[2017-04-14 20:39] danmosemsft commented on #17725
Leaving in 2.0 as it does seem likely that we want to change our 2.0 behavior to match desktop.

[2017-04-14 21:04] SamuelEnglard commented on #8598
It is there at the level of the classes and CLR/JIT. However, when code is compiled to native/C++ using the .NET Native pipeline AppDomains are not supported. Can you use them? Technically yes, however not supported in all cases (so bad for library authors), not in UWP, and don't ask for help if it doesn't work.

Focus on the differences, leave out unnecessary claims.

Less unnecessary and more no

[2017-04-14 21:15] MattGal opened #18400 "Document upload-tests.proj"
Reminder issue to write a markdown file detailing how to use upload-tests.proj.

[2017-04-14 21:18] MichalStrehovsky opened #18401 "What's the motivation for SkipOnTargetFrameworkAttribute in tests?"
The closed source .NET ToF test tree had a concept of *capabilities* that could be mapped to a set of *target runtimes*.

What you could do with that was to say a test *requires* a capability and a *target runtime* could say that it *provides a capability*.

When you had a test (such as e.g. a test exercising Rank 1 multidimensional arrays), you could say that the test is only applicable to runtim

[2017-04-14 21:21] stephentoub commented on #17725
@danmosemsft, see https://github.com/dotnet/corefx/pull/17655

[2017-04-14 21:25] #18242 closed

[2017-04-14 22:01] karelz commented on #8598
What do you mean? AppDomains API surface is somewhat present, but it is mostly no-op. AppDomains concept does not exist in CoreCLR and won't come back in future.

The architecture itself is problematic. Implementing something like that comes with lots of baggage. If you truly need it, you should stay on Desktop. Bringing it to CoreCLR would be many man-years initial cost plus huge tax and ongoing

[2017-04-14 22:27] karelz opened #18405 "Document API platform differences"
We need to document API differences:
1. Between .NET platforms -- .NET Framework vs. .NET Core vs. .NET Native vs. Xamarin/Mono, and
2. Between OS's -- Windows vs. Linux vs. Mac

The documentation should be exposed as [platform-compat tooling](https://github.com/terrajobst/platform-compat) and also as standalone HTML.

[2017-04-14 22:36] smitpatel opened #18406 "SqlClient fails with netcoreapp2.0 on Win7/Server2008"
Repro steps:
Build https://github.com/aspnet/EntityFramework on windows 7 machine. All tests which uses SqlServer fails. (Tests uses localdb). Same passes in windows10/Server 2012 machines.

Exception message:
[code]

dotnet info
[code]

cc: @Eilon

[2017-04-14 22:38] Priya91 commented on #15018
The ping6 seems to be seg faulting, sometimes getting exit code as 139.

[2017-04-14 22:39] karelz commented on #18405
Update also [porting.md - AppDomains](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/porting.md#app-domains) with link to differences.

[2017-04-14 22:42] karelz commented on #8598
Documentation [updated](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/porting.md#app-domains).

The work for per-API differences is tracked in #18405.

Do we need to track anything else or can we close this issue?

[2017-04-14 22:43] karelz commented on #8598
Thanks for valuable feedback to make our docs better @clrjunkie!

[2017-04-14 22:44] jcouv commented on #15175
Alex published the pre-release [targeting pack](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.TargetingPack.NETFramework.v4.7) so I am unblocked. I'll fix this early next week.

[2017-04-14 22:44] morganbr commented on #18394
Sockets seem like an extremely low-level replacement for a very high-level API. Why should people use sockets instead of ASP.NET or WCF, which are a closer level of abstraction to remoting?

[2017-04-14 22:45] corivera commented on #18406
sni.dll should be getting pulled down from nuget. Is that DLL present in your nugget/packages directiory?

[2017-04-14 22:47] smitpatel commented on #18406
Which package to look for?

[2017-04-14 22:55] karelz commented on #18394
Both approaches need also server on both sides, right?
Http server is either legacy/compat-only `HttpListener`, which we don't recommend. Or ASP.NET which is not available on .NET Native.
WCF server is not available neither in .NET Core nor in .NET Native AFAIK.

[2017-04-14 23:02] morganbr commented on #18394
That really depends on what kind of communication you're doing. Lots of problems can be modeled as client/server communication and only need a server on one side, which should make ASP.NET a good choice.

I'm not sure the lack of ASP.NET on UWP is a good reason not to suggest it for .NET Core. UWP apps rarely talk to each other; they much more frequently communicate with outside servers (that coul

[2017-04-14 23:03] gkhanna79 opened #18408 "Strange behavior with Process creation and termination"
@livarcocc commented on [Thu Mar 16 2017](https://github.com/dotnet/core-setup/issues/1762)

_From @mellinoe on April 29, 2016 21:36_

## Steps to reproduce

Consider this program:

[code]

NOTE: This is just an easy example, my use case is slightly different (using xdg-open to launch a browser). Ping works here because it usually takes a while to exit.
## Expected  behavior

The program starts a

[2017-04-14 23:03] gkhanna79 commented on #18408
CC @danmosemsft

[2017-04-14 23:06] tarekgh commented on #18405
@karelz do you think this can be done in v2.0 time frame? I think this will need sometime to cover such differences

[2017-04-14 23:08] clrjunkie commented on #8598
Your welcome @karelz

I suggest you remove the reference to "sockets" as an "alternative" to an "RPC framework" in the document. It's a bit more complicated than making a "sample" ... :)

(Both .NET Remoting and WCF are written *on top of* sockets..)

[2017-04-14 23:21] krwq commented on #16988
Dumpling does not have symbols or enough information to debug this. I have tried to repro this by running this test 3M times and it did not fail. I'll change this issue to future considering how rare it happens but this should be investigated once dumpling starts collecting more info

[2017-04-14 23:23] PaulHigin opened #18409 "On Linux systems: System.Diagnostics.FileVersionInfo.GetVersionInfo() hangs process/thread when used on named pipe files"
Repro
1. On Linux Ubuntu 16.04 install PowerShell from GitHub (https://github.com/powershell/powershell)
[code]
2. Install VSCode as well because it creates named pipe files needed to repro.
3. On PowerShell command line type the following (replace named pipe file name with actual file in /tmp)
[code]

Result
PowerShell process/thread hangs.  No exception is thrown.

Discussion
This appears to onl

[2017-04-14 23:24] karelz commented on #8598
If we remove Sockets, then there is no alternative left. That doesn't sound like a good option to me ...
While it is more complicated, it is setting the direction and idea and it shows pattern how to deal with those kind of problems in .NET Core world. Of course, I am not talking about 1:1 mapping with Remoting.

BTW: .NET Remoting in Desktop is not built on top of `System.Net.Sockets`.
I think th

[2017-04-14 23:25] karelz commented on #18405
This should happen in 2.0 timeframe - it is part of the platform end-to-end. It might be exemption to ZBB on 5/10 though.

[2017-04-14 23:26] karelz commented on #16988
Should we rather close it and wait for next occurrence to reopen the issue with proper dump?

[2017-04-14 23:31] karelz commented on #18394
Fair, Sockets is better from .NET Standard perspective.
I am not married to particular solution, it would be nice to have a simple starter sample for folks though. We can have more of them :)

[2017-04-14 23:34] Priya91 commented on #15018
I removed the redirectstandardoutput setting from the process, and let the ping6 print to stdout, and i get this from ping6,

[code]

I could likely be a bug in ping6, I tried with setting the -h option, which is hop limit, but on reading docs, looks like the receiving hop limit comes from the ```IPV6_RECVHOPLIMIT``` set using the ```setsockopt```, which will be happening in OS code.

cc @stephent

[2017-04-14 23:35] krwq commented on #16988
@karelz - dumpling does not have mechanics to do it currently - this bug will occur likely soon as we got consistent failures around once per week

[2017-04-14 23:40] karelz commented on #16988
Oh, I didn't notice the once per week entries anywhere ... that's rather worrisome for a segfault ... maybe we should try @steveharter's approach on Security test suite?

What is missing in dumpling today? It can give you dump, right? We should have build & PDBs around for a while ... what am I missing?

[2017-04-14 23:43] krwq commented on #16988
@karelz, where can you find build and PDBs? I'm not even seeing build number on the dumpling website. With dump only I can't even see the proper stack (only a stack of addresses which is pretty useless).

[2017-04-14 23:46] clrjunkie commented on #8598
No no ... an RPC framework is a completly different and higher level of abstraction than the sockets API... suggesting that sockets is an alternative to RPC is like suggesting that a bare bone engine is an alternative to a car ...

All the components you mentioned are written over the Sockets API  including those Native "OS libraries" (FYI System.net.sockets is simply a managed wrapper for the O/S

[2017-04-14 23:47] karelz commented on #16988
@mellinoe will provide details. We have some of that info (otherwise dumpling E2E would be unusable :))

Moving the bug to 2.0 - segfault once per week is something we need to look into IMO.

[2017-04-14 23:47] smitpatel commented on #18406
More detailed repro details:
Program.cs
[code]
csproj
[code]
Output
[code]

[2017-04-14 23:48] mellinoe commented on #16988
We archive all of the product binaries in Jenkins, but don't upload them to Dumpling. Jenkins only keeps them around for a week or so, but if this is happening at least once per week anyways, then we should be able to get some matching binaries and dumps, right? We don't archive the test binaries / assemblies, but we could change that, and I think we could still gather useful info without them.

[2017-04-14 23:49] mellinoe commented on #16988
And we can augment which files are uploaded to Dumpling as well.

[2017-04-14 23:51] krwq commented on #16354
@ericstj what's the status on this? can this be closed?

[2017-04-14 23:53] danmosemsft commented on #17905
@erozenfeld this code appears dead: https://github.com/dotnet/corefx/compare/master...danmosemsft:dead.xml?expand=1
but was not flagged as dead. It is in the IL (fields in struct). does ILLink specifically avoid removing fields from structs in case eg they are used in interop?

[2017-04-14 23:56] jkotas commented on #16354
Fixed by https://github.com/dotnet/corefx/pull/16583

[2017-04-14 23:56] #16354 closed

[2017-04-14 23:56] akoeplinger commented on #18394
I agree with @morganbr that sockets is on a whole different level than an RPC framework such as Remoting/WCF.

A comparable alternative would be e.g. gRPC (http://www.grpc.io/), they do have a C#/.NET Core client and server examples: http://www.grpc.io/docs/quickstart/csharp.html

[2017-04-14 23:59] karelz commented on #8598
Correct, our replacement for the 'weird car' (.NET Remoting) is the car engine (IPC / `System.Net.Sockets`) and advice to build specific things around the car engine on your own. It is the only advice I am aware of which is available on all platforms in all cases (there are some platform-specific alternatives discussed in #18394).
If you're aware of better alternatives/replacements, let us know. I

[2017-04-15 00:02] jkotas commented on #17905
In this particular case, the fields are initialize in the implicit static constructor so they do appear to be used in the IL. To detect them as dead code, ILLink would have to:
- Detect that the fields are assigned in the static constructor and the value is not used anywhere else
- The assignment of these fields does not have side-effects
- Rewrite the method body of the static constructor to remo

[2017-04-15 00:03] karelz commented on #18394
@akoeplinger that's a great idea to suggest 3rd party libraries - is there a list of RPC solutions somewhere? Maybe on .NET Foundation site? So that we don't suggest just one specific?

There is still value to also mention "inbox" alternatives (even though poor) as not everyone can pull in 3rd party NuGet packages (yes, sadly, some enterprises have those requirements and limitations).

[2017-04-15 00:06] karelz commented on #8598
The last loose end - discussion about alternatives/replacements of .NET Remoting is now tracked in #18394.
The rest should be covered, so closing.

[2017-04-15 00:06] #8598 closed

[2017-04-15 00:08] clrjunkie commented on #8598
The wording is simple: There is currently no RPC  support in .NET Core

Suggesting sockets as alternative is simply way out of context

[2017-04-15 00:08] krwq commented on #2249
I have looked at SqlDataReader, DataTableReader and OdbcDataReader and they all have `Close()` implemented and Dispose is calling into `Close()`

For DbDataReader there is not logic in `Close()` on Desktop which I believe is expected since this is abstract class.

Can this be closed or am I missing something?

[2017-04-15 00:10] karelz commented on #18408
Based on the steps from @mellinoe it seems that CLI is best tracking place, as it repros only with `dotnet` -- @livarcocc why did you move it out?

[2017-04-15 00:11] akoeplinger commented on #18394
I don't know of a list off the top of my head that's specific to RPC solutions.

Something like the Messaging section in https://github.com/Microsoft/dotnet/blob/master/dotnet-developer-projects.md would probably be good (the ones there are more in the message bus / distributed direction, like Orleans, Akka.NET etc).

[2017-04-15 00:13] gkhanna79 commented on #18408
I dont see anything CLI or host specific in this @karelz. It maybe best for someone to look into why Process creation is hanging in certain scenarios and not in the others.

[2017-04-15 00:16] danmosemsft commented on #17905
Ah - of course.

[2017-04-15 00:25] danmosemsft commented on #17905
I noticed these as they were in https://github.com/dotnet/corefx/pull/18395/files .. other finds in there are various constants that are dead (which of course ILLink can't tell as it shows all constants as dead) and some things like initializations that only a human could tell have no side effects. N othing that ILLink should have found.

[2017-04-15 00:29] danmosemsft commented on #17905
@huanwu the SGEN tool has 400KB of dead code.
 Is all this reasonable to remove or is it a work in progress, you're going to use this code?

See http://tempcoverage.blob.core.windows.net/report2/Microsoft.XmlSerializer.Generator.diff.html

[2017-04-15 00:30] karelz commented on #18408
Well, if it happens under one host and not the other, it naively looks host-specific to me ... either way, I don't mind if Process owners take a first look ;)

[2017-04-15 00:36] gkhanna79 commented on #18408
It is the same host being used for both scenarios.

[2017-04-15 00:37] karelz commented on #18408
Interesting, what is the difference between corerun/coreconsole vs. dotnet?

[2017-04-15 00:42] karelz commented on #18394
Orleans and Akka.NET are under Platforms section. I don't see your gRPC there at all. Should we add it?
What exactly would you propose to link? (sorry, I am not familiar with most of the libraries, so have to rely on suggestions of others)

BTW: Just submitted a PR to make the sections linkable: https://github.com/Microsoft/dotnet/pull/377.

[2017-04-15 01:08] hughbe commented on #18361
I thought the Idea with these kinds of issues is that we mark them as netfx port consider then close them. Am I wrong?

[2017-04-15 01:16] billwert opened #18416 "Performance tests with empty loops"
While doing some other work I noticed a handful of the System.Runtime performance tests that end up having their test optimized away by the JIT on amd64 release builds.

Both tests here: [Perf.Object.cs](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/Performance/Perf.Object.cs)
Both tests here: [Perf.IntPtr.cs](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/

[2017-04-15 01:38] WinCPP commented on #8578
@ViktorHofer I will work on this using the inputs that you have given. I had picked it up when I had just started contributing and at that time, not being quite familiar with stuff, didn't understand what to do! I will complete it for 2.0 and raise early flag if I get stuck. Thanks!

[2017-04-15 01:59] benaadams commented on #18416
Is it but that it doesn't optimize all but one mov away in second output?

[2017-04-15 02:01] pgavlin commented on #18416
cc @dotnet/jit-contrib re: the empty loops.

[2017-04-15 02:08] BKStrelioff commented on #2576
To be clear -- I think we want the same System.Threading.Thread functionality supported on all platforms. For example, Thread.MemoryBarrier(), BeginCriticalRegion(), BeginThreadAffinity(), SpinWait(int), VolatileRead/Write(ref), [Named]DataSlot,  and so on.

[2017-04-15 02:52] terrajobst commented on #17741
@dotnet/fxdc: there are concerns regarding breaking code that has usings for both `System.Runtime.CompilerServices` and `System.ComponentModel` as this API shape would result in both `ReadOnlyAttribute` would be present. We don't really care about the name for the attribute as we don't expect developers to use them directly but by the compiler.

Any objections renaming it to:

[code]

I think pref

[2017-04-15 02:56] #18198 closed

[2017-04-15 03:14] jkotas commented on #17118
This was discussed in length in https://github.com/dotnet/coreclr/pull/8498 that had implementation very much like what you are proposing. The summary is: It is guaranteed to be slower for large number of elements because of processor cache polution. It may be faster for certain types of T, for some ranges of elements but figuring out the formula for that is rocket science. Not worth it.

[2017-04-15 03:21] lmolkova opened #18418 "Activity: RootId based sampling"
When Activity starts without internal 'Parent' or external `ParentId`, it generates Id in the following way:
`|MachineName-timestamp-number.`

Where
- `timestamp` is the last 32-bits of static start time of process (service instance)
- `number` is monotonically incremented long with random start value

As a result Ids generated for the consecutive requests from one instance look like
[code]
They a

[2017-04-15 03:52] danmosemsft commented on #18389
OK you're good to go.

[2017-04-15 04:07] danmosemsft commented on #1271
@ChrisEelmaa @tarekgh did we forget to expose this in CoreFX? I don't see it there, wihch means this API cannot be used.

@hughbe in case he feels like adding an API to String (an opportunity that doens't come around often!)

[2017-04-15 04:09] danmosemsft commented on #1244
@ChrisEelmaa just came across this PR, wondered whether you still had interest.

[2017-04-15 04:13] hughbe commented on #1271
I'll take a look!

[2017-04-15 04:15] danmosemsft commented on #3942
@davidfowl the AssemblyVersionAttriute seems fine to me -- OK to close?

[2017-04-15 04:24] jkotas opened #18420 "API Proposal: Span<T> AsReadOnlySpan(this T[]) extension method"
#17414 added extension methods that make it easy to create Span from array using fluent pattern. This proposal adds similar methods for ReadOnlySpan.

[code]

Note that creating ReadOnlySpan directly using these APIs is not equivalent to creating Span and than casting it to ReadOnlySpan. The later incurs covariance array check that adds unnecessary performance overhead and throws for covariant arr

[2017-04-15 04:26] jkotas commented on #18420
cc @KrzysztofCwalina @shiftylogic @ahsonkhan

[2017-04-15 06:39] WinCPP commented on #8578
@ViktorHofer Analyzing the mentioned three methods, it appears that the change could be made only in first of the three, which is the following...

[code]

The other two in `System.Linq.Expressions\src\System\Dynamic\Utils\TypeUtils.cs` appear to be doing a lot more in that they search for a conversion operator with richer criteria. Hence we cannot change them. Hope I am not missing something...

[2017-04-15 07:21] WinCPP commented on #17118
@jkotas Thanks for giving the insight and sharing the issue #8498. That answers my question about references as well! Just to summarize my understanding w.r.t. references... to avoid pinning, we use item by item copy, hence the slow path...

[2017-04-15 07:42] karelz commented on #18361
Correct, if this is tracking change only in Desktop, then we should close it -- it will be mirrored into VSO bug database (even closed), so that we will consider it one day when we have time to focus on porting .NET Core goodness into Desktop.

Closing again. @ajcvickers if there is something that has to happen in CoreFX repo, feel free to reopen (with details).

[2017-04-15 07:42] #18361 closed

[2017-04-15 07:48] ahsonkhan commented on #18420
I wonder how big the overhead cost is. Regardless, I agree with the proposal.

[2017-04-15 09:32] ViktorHofer commented on #8578
You are on the right track :)

[2017-04-15 11:03] JonHanna commented on #17905
In System.Linq and System.Linq.Queryable the only code flagged is either used constants or methods in common files where other methods of the same class are used in that project, so they require no further work.

[2017-04-15 11:15] ViktorHofer commented on #4865
Thanks @weshaggard. That means I currently can't enable the tests for netfx. Nevertheless I will enable them for netcoreapp.

[2017-04-15 11:17] couven92 commented on #14636
@ViktorHofer https://github.com/dotnet/corefx/pull/14611 includes the test and has been merged.

[2017-04-15 11:24] ViktorHofer commented on #14636
Closing this as all concerns are addressed.

[2017-04-15 11:24] #14636 closed

[2017-04-15 11:26] ViktorHofer commented on #9252
@bartonjs

[2017-04-15 11:40] #7459 closed

[2017-04-15 11:58] stephentoub opened #18424 "Two FtpWebRequest tests taking long time to fail"
Two FtpWebRequests tests are each taking upwards of 20 seconds, but all they're doing is trying to connect to targets that don't exist.  I'm not familiar enough with the FtpWebRequest APIs to know what can be done about this, but these two tests are the long poles in the suite.
`GetResponse_ServerNameNotInDns_ThrowsWebException`
`GetResponse_ConnectFailure_ThrowsWebException`

[2017-04-15 11:59] ViktorHofer commented on #8188
@karelz Moving this to future as we reached feature freeze...

[2017-04-15 12:02] ViktorHofer commented on #8598
@karelz is not suggesting sockets as an alternative but building your own thing based on Sockets.

[2017-04-15 12:20] clrjunkie commented on #8598
@ViktorHofer

Different wording, same problem.

For all intents and purposes "building your own thing based on sockets" as an "alternative" to an RPC framework is not an alternative. Same as saying we don't provide a web server  but you have sockets so your "alternative" is building your own web server...

By this logic "building your own thing based on sockets" is an "alternative" to any communic

[2017-04-15 12:49] jkotas commented on #17118
It is not done to avoid pinning. References need GC bookeping, and the item by item copy is the only way to achieve that in the general case.

[2017-04-15 13:00] shaggygi commented on #18357
A few related links...

- https://robinsedlaczek.com/2015/04/29/inside-the-net-compiler-platform-performance-considerations-during-syntax-analysis-speakroslyn/

- https://roslyn.codeplex.com/discussions/541953

- https://blogs.msdn.microsoft.com/andrewarnottms/2014/11/19/immutableobjectgraph-has-some-big-updates-now-and-more-coming-soon/

[2017-04-15 13:56] bartonjs commented on #9252
@ViktorHofer The test and the Windows change from that PR.  The Unix change doesn't make sense since we don't have Unix CMS in master.  And we absolutely can't merge the branch (it won't build, it won't work on macOS, and it has a data corruption bug)

[2017-04-15 14:46] kzu opened #18429 "API Proposal: StructuralComparer<T>"
Currently there is no built-in comparer that can be used with a `HashSet<T>` or the [ToImmutableHashSet<T>](https://docs.microsoft.com/en-us/dotnet/api/System.Collections.Immutable.ImmutableHashSet.ToImmutableHashSet--1?view=netcore-1.1.0#System_Collections_Immutable_ImmutableHashSet_ToImmutableHashSet__1_System_Collections_Generic_IEnumerable___0__System_Collections_Generic_IEqualityComparer___0_

[2017-04-15 14:47] alirobe commented on #2295
How have other libraries handled this?

[2017-04-15 14:51] ViktorHofer commented on #9535
@peter-bozovic Is this still happening with the current ASP.NET Core stable version and with the current dev master version?

[2017-04-15 14:53] ViktorHofer commented on #10061
@saurabh500 Is this still an issue or do you think we can close that now with the netcoreapp20 codebase?

[2017-04-15 15:19] IllidanS4 commented on #17135
Nobody uses unsafe pointers in extern methods, only IntPtr or managed equivalents. Usage of generic delegates should be allowed in _GetDelegateForFunctionPointer_, and frankly I don't see what difficulties would implementing it have. On the other hand, I think that the "LoadFunction" doesn't allow for as much marshalling options as the DllImport system can. What if you could specify "instance exte

[2017-04-15 15:53] peter-bozovic commented on #9535
When I use it on my local development environment (which is in French) the error messages are displayed in French (when the culture is set to "fr")
However when I deploy my solution on the Azure instance, messages are always in English, regardless if the culture is set to "en" or "fr" ...

I am using latest stable ASP.NET Core 1.1 targeting "net46" framework

[2017-04-15 15:54] jguady commented on #18389
Thanks Dan!

[2017-04-15 16:06] stephentoub opened #18431 "ConfigurationSaveTest.* failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/6288/consoleText
[code]

[2017-04-15 16:14] jkotas commented on #18408
It does not repro for me. Tried on all netcoreapp1.0/1.1/2.0. Latest servicing releases of netcoreapp1.0/1.1, Ubuntu 16.04 LTS, build using .NET CLI 2.0.0-preview1-005797.

This needs precise repro steps, with versions of all parts involved.

[2017-04-15 16:18] danmosemsft commented on #3186
@eerhardt @stephentoub does this track anything not already covered by https://github.com/dotnet/corefx/issues/15289? Same question for #3188 I guess.

[2017-04-15 16:18] WinCPP commented on #17118
Hi All! I'm stuck. Even with syntax errors in the file, the compilation succeeds. I worked on the same file for #18242 and things used to compile. I am not able to figure out what is happening.

I tried doing `msbuild /t:Clean` followed by `msbuild`  in folder .\src\System.Memory (with purposeful syntax errors) but no use. I am not sure if the SpanHelpers.cs file is even being picked up. Also ther

[2017-04-15 16:20] stephentoub commented on #3186
https://github.com/dotnet/corefx/issues/15289 is essentially a proposal for a solution to this issue.  We can close this one.

[2017-04-15 16:20] #3186 closed

[2017-04-15 16:21] WinCPP commented on #17118
If it helps, these are the few lines after I fire msbuild.
[code]

Don't know if I should suspect these subset of lines from above... where System.Memory.dll is being copied from netstandard... I haven't changed anything in my sln / csproj files...
[code]

[2017-04-15 16:23] jnm2 opened #18432 "ConcurrentDictionary throws for null comparer, unlike every other BCL API"
You would expect this to succeed:
[code]

I'll quite often take advantage of the fact that all BCL APIs use `EqualityComparer<T>.Default`  when you pass null, and chain constructors and other methods with the parameter `IEqualityComparer<T> comparer = null`.

I haven't found any other API that throws. Here are some that do not throw:

- `Dictionary`
- `HashSet`
- `ImmutableDictionary`
- `Immutable

[2017-04-15 16:31] ViktorHofer commented on #9535
If you are targeting net46 then this isn't any .NET Core related issue. I'm not 100% sure but I think this is because the default culture in Azure falls back to en-US.

See here: http://stackoverflow.com/questions/11135002/currentculture-incorrectly-defaulting-to-en-us-in-asp-net
And here for the solution to set it explicitely: http://stackoverflow.com/questions/41336783/set-culture-and-ui-culture

[2017-04-15 16:31] #9535 closed

[2017-04-15 16:34] danmosemsft commented on #18432
@AArnott

[2017-04-15 16:35] jnm2 commented on #18432
Ah, found one more that throws! All arities of `Tuple` throw when you call `IStructuralEquatable.Equals` with null comparer. By comparison, Array acts like the rest of the BCL when you call `IStructuralEquatable.Equals`.

[2017-04-15 16:42] ViktorHofer commented on #16813
@mairaw if you haven't had time yet to discuss that issue with your team I could suggest submitting a PR to the docs repo.

[2017-04-15 16:50] jkotas commented on #17118
The CopyTo implementation that you are fixing is for "slow Span". "slow Span" is not used in netcoreapp. The best way to test it is using .NET Framework: First build from the root using `build.cmd -framework:netfx`, and then specify TargetGroup=netfx when testing your changes, like `src\System.Memory\tests>msbuild /p:TargetGroup=netfx /t:BuildAndTest`.

[2017-04-15 16:56] ViktorHofer commented on #16916
@VSadov @OmarTawfik Have you had time to look into this? 2.0 milestone is getting closer.

[2017-04-15 17:38] eerhardt commented on #3571
Using the above investigation data, I decided to try remembering the AdjustmentRule index whenever calling into `GetPreviousAdjustmentRule`.  See https://github.com/eerhardt/coreclr/commit/1316543e5f1833cf6557db62f03658931e56c4cd.

Running the same micro-benchmark above on my MacBookPro using `America/Chicago` time zone produces the following:

 **MacBook Pro** |
| -------- |
31<br>28<br>27<br>27<

[2017-04-15 17:57] ViktorHofer commented on #17163
@steveharter @danmosemsft Tried to port members (stopped after the first one) from netfx. Brings a ton of dependencies and duplicate types with it. Is this still planned for 2.0?

[2017-04-15 18:21] ajcvickers commented on #18361
@karelz So does that mean that _any_ changes that have already gone in to core, even if they were done a couple of years ago when compat was not considered that important, are automatically okay? If so, that makes our job much easier because it makes core basically the baseline against which we measure everything. It means that we will never consider changing core to work more like desktop, only t

[2017-04-15 19:01] ViktorHofer commented on #15966
@danmosemsft I don't think that we can solve this without targeting uap specifically (with #if uap) **till 2.0**. Should we defer it to 2.1?

[2017-04-15 19:04] bricelam commented on #2249
This is an issue in the .NET Standard 1.2 System.Data.Common contract that has since been fixed in 2.0. This issue is tracking whether we should backport the fix (add a virtual `Close` method to `DbDataReader`) into the .NET Standard 1.2 System.Data.Common contract. @divega, @terrajobst, @ericstj, et al. are currently investigating whether this is feasible.

[2017-04-15 19:09] bricelam commented on #2249
(I've updated the main description to better articulate the issue.)

[2017-04-15 19:14] WinCPP commented on #17118
Thanks @jkotas. It helped!

@shiftylogic @jkotas I've filed PR #18435. Kindly check.

[2017-04-15 19:58] #16782 closed

[2017-04-15 20:15] AndyAyersMS commented on #17316
Speculating here, but I wonder if the difference in jit time is that the 1.1 jit was built with PGO and the 2.0 jit is not. 10% is in the right ballpark for this.

[2017-04-15 20:24] steveharter commented on #13906
The last occurrence was on 2/28/2017 including PR runs. Previous to that November 2016. Not able to repro in CI machine stress test runs.

Attributing to Azure network connectivity issues.

[2017-04-15 20:24] #13906 closed

[2017-04-15 21:18] steveharter commented on #18188
Closing as apparently fixed on 4/11. No repros since 4/11 (in which there were 5 that day, and several the previous days starting on 4/6)

[2017-04-15 21:18] AArnott commented on #18432
Thanks for the report, @jnm2. I suspect we could take a PR that fixes this. But by my own measure this seems like a very low priority bug, because:

1. There is no interface contract for collection constructors requiring that they behave alike
1. The throwing path of supplying `(IEqualityComparer<object>)null` as the argument seems harder than the working path of specifying no argument at all, or

[2017-04-15 21:28] steveharter commented on #13302
Moving to future; this is considered a test bug; the test needs to be updated to account for a WebSocketException that contains a string that is not hard-coded in the test. Doesn't appear to be a product issue, or at least a significant product issue, as the test is expected failure case.

[2017-04-15 21:35] safern opened #18436 "[Netfx]: Bug in UnicodeDecoder.GetChars(byte[], int, int, char[], int)"
There is a bug in `UnicodeDecoder.GetChars(byte[], int, int, char[], int)` where it causes to return 0 chars when actually passing a byte array with valid values in it, so if we do:

[code]

`charsRetrieved` would be 0 and chars would stay as `['\0', '\0']` but it should return 1 and chars should be  `['a', '\0']`

However if we make `charCount = 2` then we would get the expected behavior.

This i

[2017-04-15 21:35] #18436 closed

[2017-04-15 21:36] safern commented on #18436
Closing as netfx-port-consider label opens it on TFS

[2017-04-15 21:37] safern opened #18437 "[Netfx]: Bug in AsyncStreamReader.GetLinesFromStringBuilder() private API"
When running the following code, we would get an `IndexOutOfRangeException` from `StringBuilder.get_Char(char)`.

[code]

When we call `p.BeginOutputReadLine()` it will call `AsyncStreamReader.ReadBuffer(IAsyncResult)` everything at this moment behaves as expected which has 1 char to read in the byte buffer (97). But when reading the chars through the decoder:

https://referencesource.microsoft.co

[2017-04-15 21:37] #18437 closed

[2017-04-15 21:37] safern commented on #18437
Closing as netfx-port-consider label opens it on TFS

[2017-04-15 21:55] steveharter commented on #17681
Assuming random test interference that is eating Udp Dgram.

Test calls ReceiveFrom_Helper(listenOn:IPAddress.IPv6Any, conntectTo:IPAddress.IPv6Loopback) and expect success

[2017-04-15 21:57] jnm2 commented on #18432
As for 2, that's not the case when layering or chaining APIs. If my own constructor or extension method takes `IEqualityComparer<T> comparer = null`, I assume that I can pass that into the BCL method. If we're talking about more work, it's actually more work to check for null and pass `EqualityComparer<T>.Default` *or* call one or the other overload depending whether `comparer = null`.

It's not c

[2017-04-15 21:59] steveharter commented on #17362
At least five failures from 3/7-4/7
[code]
+ Mellinoe's on 4/12 which is not yet in jdash.

[2017-04-15 22:08] steveharter commented on #17154
Assuming test bug as it is calling ReceiveMessageFrom_Helper(listenOn: IPAddress.Loopback, connectTo:IPAddress.IPv6Loopback, expectedToTimeout: true) and probably receiving another Loopback(v4) message due to port collisions on unix.

Test should be disabled on Unix along with ReceiveMessageFromV4BoundToSpecificV6_NotReceived

[2017-04-15 22:27] steveharter commented on #9296
FYI failures per jdash on *release* branch have been sparse since 1/1/2017 (release branch does not have test disabled)
[code]

[2017-04-15 22:41] steveharter commented on #17668
This has no record of other failures (jdash). Since this was a timeout, attributing to Azure connectivity. Moving to future

[2017-04-15 22:43] safern commented on #15145
The tests that are failing:
System.PrivateUri.Tests.UriBuilderTests.TestQuery
System.PrivateUri.Tests.UriBuilderTests.Fragment_Get_Set_Netcore
System.PrivateUri.Tests.UriRelativeResolutionTest.Uri_Unicode_Format_Character_Combinations_Scheme
System.PrivateUri.Tests.UriRelativeResolutionTest.Uri_Relative_Unicode_Glitchy
System.PrivateUri.Tests.UriRelativeResolutionTest.Uri_Relative_SimplePartialPat

[2017-04-15 22:46] #18409 closed

[2017-04-15 22:49] steveharter commented on #16757
Moving to future; still only 1 failure according to jdash. Did not encounter during local stress testing.

[2017-04-15 23:21] steveharter commented on #16945
Stress testing Windows 10 resulted in this test starting but not finishing.

A background exception was reported that may have originated from that test, or from the other test that was currently running: System.Net.Sockets.Tests.DualModeConnectToIPAddressArray.DualModeConnect_IPAddressListToHost_Throws

Possible interference from the DualMode test which mixes\matches IPv4\v6 addresses expecting f

[2017-04-15 23:29] steveharter commented on #14673
I can repro this on both Windows 2008 and Windows 10 CI machines when running in stress.

Exception same in both cases
[code]

[2017-04-15 23:42] steveharter commented on #5485
Reopening as #4171 did not disable this test. This failure is still occurring in CI, and can be repro'd in Windows 2008 under stress

[2017-04-15 23:52] steveharter commented on #5485
Pulled these occurrances from PR #13298 which had the incorrect test info:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/133/testReport/System.Net.Http.Functional.Tests/PostScenarioTest/PostEmptyContentUsingChunkedEncoding_Success_serverUri__https___corefx_net_cloudapp_net_Echo_ashx_/
and
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/122/test

[2017-04-15 23:52] steveharter commented on #13298
Moving 2 entries from @Jiayili1 to #5485 because they reference the wrong test 'PostEmptyContentUsingChunkedEncoding' + '_Success'

[2017-04-15 23:55] steveharter commented on #16610
I was able to repro this on 2008 machines running repeatedly.
[code]

[2017-04-16 00:18] karelz commented on #14673
@steveharter how often does it repro in official CI? (milestone 2.0 vs. Future)
How often does it reproduce in your stress run? Is it the run-in-a-loop run or real GCStress run?

[2017-04-16 00:22] karelz commented on #16945
Overall it looks like 1/week failure rate ... borderline for addressing it in 2.0. Given that this is most likely just bad test and we're tight on workforce for 2.0, we will keep it in Future - I marked it as 'wishlist' as it should be on top of our Future backlog.

[2017-04-16 00:26] karelz commented on #16757
@steveharter I see 2 failures from Jenkins recorded here (on 3/6 and 3/15) ... how does it match your "1 jdash failure" statement? (did you look at just scoped history possibly?)

[2017-04-16 00:35] steveharter commented on #14673
jdash results are sparse and localized to January and earlier:
[code]

On Win10, it was a repeated loop (not GCStress) and occurred 5 times out of ~200 runs. Win 2008 was similar (~2% of tests failed because of this).

I have not been able to repro locally on Win10 (only on the CI machines)

[2017-04-16 00:40] jnm2 commented on #18432
@AArnott I see I didn't properly test [`Array.IStructuralEquatable.Equals`][1] and [`Array.IStructuralComparable.CompareTo`][2]. Apparently they have no null comparer check and will attempt to dereference null. They are in coreclr. Should I open an issue over there?

 [1]: (https://github.com/dotnet/coreclr/blob/e0b8c96334016770680d64fc83a8e7dbdeb657ee/src/mscorlib/src/System/Array.cs#L669-L696)

[2017-04-16 00:42] jnm2 commented on #18432
[`Tuple<*>.IStructuralComparable.CompareTo`][3] and [`Tuple<*>.IStructuralEquatable.Equals`][4], same story.

 [3]: https://github.com/dotnet/coreclr/blob/e0b8c96334016770680d64fc83a8e7dbdeb657ee/src/mscorlib/src/System/Tuple.cs#L124-L136
 [4]: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Tuple.cs#L143-L155

[2017-04-16 00:50] jnm2 commented on #18432
[`ValueTuple<*>.IStructuralEquatable.Equals`][5] and [`ValueTuple<*>.IStructuralComparable.CompareTo`][6] have the same thing, however they are in this repo.

 [5]: https://github.com/dotnet/corefx/blob/124944c13686fd83b2cdaa01e7e94e629c4472f3/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L335-L342
 [6]: https://github.com/dotnet/corefx/blob/124944c13686fd83b2cdaa01e7e94e629c4472f3/src

[2017-04-16 00:54] steveharter commented on #16757
I see one failure from Jan 1, 2017 according to jdash (which has some gaps in history); how are you viewing?
[code]
http://jdash.azurewebsites.net/builds/test?name=System.Net.Http.Functional.Tests.HttpClientHandlerTest.PostAsync_Redirect_LargePayload%28statusCode%3A%20307%2C%20expectRedirectToPost%3A%20True%29&viewName=dotnet_corefx&pr=True&limit=10000&startDate=2017-01-01

A previous post did sho

[2017-04-16 01:15] AArnott commented on #18432
I hate null-refs. But as they are all "structural", I wonder if there's a perf reason that they skip the check. I know we skip the check intentionally in the `ImmutableArray<T>` struct. @stephentoub may know.

[2017-04-16 01:19] karelz commented on #14673
Did you mean January and later? -- I hope we have some recent data to look at in general ...

[2017-04-16 01:21] steveharter commented on #14673
No, I meant earlier. There were some 'known' failures in 2016 (based on previous replies in this issue) that I did not report as the jdash query times become too long.

[2017-04-16 01:21] karelz commented on #16757
I just looked at this bug comments - looks like you just edited it (I missed my invalid dupes comment earlier)
Now it makes more sense to me, thanks for clarification!

[2017-04-16 01:22] karelz commented on #14673
So we have no history in jdash form 2017 February-April?

[2017-04-16 01:24] steveharter commented on #14673
For this test, yes. Meaning it didn't fail since then or there were some gaps in jdash data.

[2017-04-16 01:33] steveharter commented on #17163
@danmosemsft can you clarify the current desired\expected API additions; is the original list still appropriate. Thanks

[2017-04-16 02:28] hughbe commented on #18188
The tests were disabled, I'm looking at the best way to re-enable them but am treading carefully as I don't want to break the CI again

[2017-04-16 03:15] JonHanna opened #18444 "Lifted Convert Expression with custom ByRef method fails on compiler"
While conversion operators cannot normally use methods with `ref` parameters, Expressions does allow them if the method in question is explicitly requested. If lifted however, the compiler will attempt to use a non-method-based conversion with the same ByRef type to do the lifting, which will hence fail (the interpreter behaves correctly in this regard). As a result the compilation fails.

There i

[2017-04-16 03:15] JonHanna opened #18445 "Convert Expression with custom ByRef method doesn't writeback on interpreter"
While conversion operators cannot normally use methods with `ref` parameters, Expressions does allow them if the method in question is explicitly requested. The interpreter however does not write-back the parameter of the call. The compiler is correct in this regard.

[2017-04-16 03:30] stephentoub commented on #18125
Fixed by #18404

[2017-04-16 03:30] #18125 closed

[2017-04-16 04:18] Pothulapati commented on #17917
@safern In the comment about the Removal of Code in CoreRT,The Reference to the code that is to be removed is wrong. The methods GetValueOrDefault are to be removed right?

[2017-04-16 04:24] karelz commented on #17917
@Pothulapati you are correct, I accidentally pasted the link to 'master' which changed since then -- I updated the link above to the particular [source code version](https://github.com/dotnet/corert/blob/2218dfd3e5c753f236e542229110b2e407d7f454/src/System.Private.CoreLib/src/System/Collections/Generic/Dictionary.cs#L590-L603) - the task is to remove both `GetValueOrDefault` methods.

[2017-04-16 04:29] karelz commented on #14673
I still don't quite understand, sorry - jdash saves only failures, right? So if there is no failure since Feb, either it means it didn't fail since, or that some hiccup in jdash didn't record the new failure data. Is that correct?
Is there any general reason to believe that jdash lost some data since Feb?

[2017-04-16 05:13] #18389 closed

[2017-04-16 05:33] danmosemsft commented on #17920
@mellinoe ?

[2017-04-16 05:58] divega commented on #18360
@karelz could you please confirm that what the process is for netfx-port-consider? Is including the label on an already merged PR enough usually enough?

[2017-04-16 06:02] shravan2x opened #18448 "HttpWebRequest KeepAlive correctness"
This issue refers to the code [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L387).

Is this a valid HTTP header?

[code]

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive suggests that this should never be a true or false value. Shouldn't we be setting `Connection: keep-alive` instead?

[2017-04-16 06:04] zugzwangm opened #18449 "HttpClient: Impossible to send "Accept: a;charset=b""
I want to make a http request with a header `"Accept"` with value `"a;charset=b"`.
It is **impossible** to do that with **HttpClient**.

[code]

This will generate a request with header `"Accept"` with value `"a; charset=b"`.
Yes, this extra space is obviously valid, but the original value was also valid. And there are APIs out there that won't work with the extra space.

The only way to make it w

[2017-04-16 06:09] #17873 closed

[2017-04-16 06:28] shravan2x commented on #18237
@karelz  I also you had added the **2.0.0** milestone. Could you clarify this change?

**If you think that HttpClient is lacking some important capabilities or characteristics, then please open issues for that.**
I will do this. Is https://github.com/dotnet/corefx the right repo to post such an issue?

**It would be great if you can provide real-world examples where particular things truly matter

[2017-04-16 06:46] jguady commented on #17693
I'll take a look at this. Is there any background info I should read up on for this? Thanks!

[2017-04-16 06:59] zebmason commented on #17905
I've just identified some dead code using a tool I've written - see https://github.com/dotnet/corefx/pull/18395. I'm using your code as input data to validate my code.

In the past I've done a massive delete on Roslyn (18.5 kloc) that has been good at identifying code which shouldn't be dead - see the comments on https://github.com/dotnet/roslyn/pull/17630. i.e. Only used in the debugger, due to a

[2017-04-16 07:03] karelz commented on #17693
From the description it sounds pretty straightforward, no background needed. Give it a try and let us know if you get stuck.
BTW: Check out [main page](https://github.com/dotnet/corefx/blob/master/README.md) for contribution guideline (which is in [GitHub wiki](https://github.com/dotnet/corefx/wiki/New-contributor-Docs), editable by anyone, so feel free to update it)

[2017-04-16 07:15] karelz commented on #18237
The issue has been closed in the 2.0 product timeframe, that's why it has milestone 2.0.

Yes, this is the right place.

Please make sure the relevant real-world examples are preserved in the issues that you file. On closed issues like this one, they will be lost and out of context.

Why cannot you just reuse HttpClient instances in this case?

Are you saying that `HttpClient` does not have the ca

[2017-04-16 07:20] karelz commented on #18360
@AlexGhiondea created the tool and will likely oversee future .NET Framework porting effort (at least from auditing perspective) - I let him answer.
I am inclined to think that PR with the label should be enough ...

cc @danmosemsft

[2017-04-16 07:25] karelz commented on #17917
@Pothulapati yeah, undo is probably better from history point of view (still new to git myself).
What else needs the `internal` method in CoreRT? Maybe we need to keep it there from that reason ...

[2017-04-16 07:30] karelz commented on #17905
@JonHanna thanks! Top post updated with your info.

[2017-04-16 07:42] karelz commented on #18361
No, we still need assess compat with .NET Framework and decide (by area owners) what is acceptable and what is not.
If you make .NET Core different from .NET Framework, you have to be either
1. Convinced you can make the same change in Desktop eventually and it will pass compat there (the bar is high!), or
2. Convinced that the difference is the right thing to do and that the impact on library aut

[2017-04-16 07:47] karelz commented on #17316
@AndyAyersMS @brianrob do you have a suggestion how to confirm that?
I assume generating PGO for 2.0 JIT is a lot of work. What about creating custom 1.1 without PGO for comparison? Could we give @marksmeltzer instructions how to do that?

Another option is to rely on @AndyAyersMS's guess and trust that any significant regression in JIT would be caught by our internal perf runs ... (do we have suc

[2017-04-16 07:51] karelz commented on #16813
@ViktorHofer let's do the PR / move the issue into docs repo (as soon as there is clear actionable docs changes identified, we do not want waste docs team time to chase down technical details here and there).

BTW: @mairaw was on vacation for last 1+ week, so that's likely why she didn't answer. (I just learned yesterday on another issue)

[2017-04-16 07:58] karelz commented on #8598
@clrjunkie don't forget that there are users of .NET Remoting who are using only subset of features, maybe used copy-pasted code from StackOverflow just to communicate between 2 machines easily. For those, Sockets might be a reasonable replacement.
Things are rarely black and white, or just "all or nothing". There's lots of room for in-between / shades of grey.

I think it is fair to state that So

[2017-04-16 08:05] karelz commented on #8188
I'd like area experts & owners to make the decision. While we are past feature complete, there are options like DCRs, etc. I would prefer to focus on doing the right thing for the customers rather than process.

That said, given they are stubbed out in Xamarin, it feels more like Future to me as well, but I don't have enough background in the space to make the call ...

[2017-04-16 08:43] hughbe commented on #1271
Found a couple of bugs with the implementation. Looks like ordinal ignore case comparison is broken, and so is replacing the empty string. I'll investigate a coreclr fix
[code]

[2017-04-16 08:47] shravan2x commented on #18237
I should have worded this better. There are usually multiple endpoints which I need to long-poll, each having different optimal timeouts. I suppose it is possible for me to use a separate `HttpClient` for each, but this just seems like bad framework design projecting into libraries.

No, `AllowAutoRedirect` is a property of `HttpClientHandler`. Even _if_ `HttpClient` had such a property, it would

[2017-04-16 08:49] peter-bozovic commented on #9535
Neither suggestion has anything to do with my issue.
My culture is correctly set and other parts are working correctly, like currency and date/time format.

Looks like translations for all cutures were included in the framework in the beginning which is not the case anymore, or the way they are retreived has changed.
So for the [Required] attribute, i'm always getting "The {0} field is required."

[2017-04-16 09:16] clrjunkie commented on #8598
@karelz It’s not a matter of black and white but rather not making sweeping claims.

.NET Remoting is first and foremost an *RPC technology*

*".NET remoting enables you to build widely distributed applications easily, whether application components are all on one computer or spread out across the entire world."*

https://msdn.microsoft.com/en-us/library/kwdt6w2k(v=vs.71).aspx

There is proxy, met

[2017-04-16 09:36] hughbe commented on #1271
Another odd case with ordinal ignore case, I think... maybe @tarekgh could comment on this one, my understanding was that ordinal compares code units, so this "abc\u00AD" can never equal "abc"
[code]

[2017-04-16 11:06] sadeqhatami opened #18452 "Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.Composition 1.0.27 supports: portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile=Profile259)"
hello
i use VS 2017 version 15.1 (26403.3) Release and .Net framework version 4.6.01586
when i build my project build succeed and my project is lunch,but in Error List i see this error

my csproj is

[code]

how i can fix this problem?

[2017-04-16 11:20] stephentoub commented on #15018
Certainly looks like one.  I don't think we could be doing anything to cause code in that other process to misuse malloc/free.

As a workaround, seems reasonable.  I'm not entirely understanding what you're suggesting around the output parsing, but why don't you go ahead and submit a PR with your suggested fix.

[2017-04-16 11:24] stephentoub commented on #17917
I don't know what "undo" means in this context, but if you mean rewrite the history of the branch to not include those changes, no, we should not do that.  Except in super drastic circumstances, once something is merged, it's there in the history forever, and to remove something you submit a new commit to do so.

[2017-04-16 11:35] stephentoub commented on #18431
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/6304/

[2017-04-16 11:55] stephentoub commented on #18431
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/6298/

[2017-04-16 12:47] stephentoub commented on #18431
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/6291/

[2017-04-16 12:57] nverwer commented on #2295
I have been using [XPath2.Net](https://github.com/StefH/XPath2.Net) by StefH for a while now. It works very well, although it has some minor disadvantages; the main one (for me) being that it keeps the compiled XPath2 expression and the runtime environment in one object, which is not thread-safe.

It (obviously) uses a separate namespace, and I have never experienced that as a problem. I would thi

[2017-04-16 13:14] stephentoub commented on #10087
The plan is to address this with `Span<T>` and `ReadOnlySpan<T>`:
https://github.com/dotnet/corefx/issues/13892
I'm going to close this issue and let that one track it.  Definitely something we want to do.

[2017-04-16 13:14] #10087 closed

[2017-04-16 13:15] stephentoub commented on #10150
This issue was moved to dotnet/csharplang#445

[2017-04-16 13:15] #10150 closed

[2017-04-16 13:19] stephentoub commented on #10152
This issue was moved to dotnet/csharplang#446

[2017-04-16 13:19] #10152 closed

[2017-04-16 13:20] #15682 closed

[2017-04-16 13:28] fish-ter commented on #18159
I looked for `Option` / `Maybe` on the second day of trying out C#. It's a natural complement to the various LINQ features I'm now exploring.

What I'm sensing is that C# is incorporating useful functional programming features, but there might be a gap in the holistic understanding of FP.

With an Option, you can for example use it functor fashion, e.g. in pseudocode:

[code]

You don't need to ch

[2017-04-16 14:11] ViktorHofer commented on #9535
Oooh I thought you are probably facing one of those issues. If you are targeting net46 it shouldn't have to do anything with netcoreapp (I think). Have you already raised your concerns in the ASP.NET Core repo?

[2017-04-16 15:00] stephentoub commented on #18347
Ok, thanks. I'm going to close this for now.  Please reopen if you're able to share a repro we can use to verify what you're seeing and also to verify a fix if necessary.

[2017-04-16 15:00] #18347 closed

[2017-04-16 15:04] #1271 closed

[2017-04-16 15:17] BattleRush commented on #18452
This seems to be a similar issue to #9788

Possible fix: https://github.com/dotnet/corefx/issues/9788#issuecomment-288678333

[2017-04-16 15:20] svick commented on #18159
@fish-ter

Real code would have to use lambdas, which would make it even more verbose and less readable. Also, to be consistent with other monads, it should be `SelectMany`, not `Select`. But with `null`, you can do:

[code]

Which I think is much better than even your pseudocode.

(Okay, you can't write `Street?` right now, since it's most likely not a value type, but hopefully you will in C# 8.

[2017-04-16 15:21] sadeqhatami commented on #18452
@BattleRush thank's for answer,i was see this issue and do it but my problem not fix :(

[2017-04-16 15:57] Drawaes opened #18454 ".Net "PAL" version of MMAP flags differs most Linux"
This code is used to define the flags for the MMAP command. It goes to the PAL which then remaps the ANON flag to the distro's version.

As far as I can tell it is 0x20 on all the headers I can find. Seems confusing that this const would be mapped differently for use in .net, and makes it somewhat incompatible for no upside, unless I am missing something?

FYI 0x10 means static, or you need to use

[2017-04-16 16:00] karelz commented on #1271
@hughbe when you find problems with the API, can you please file them as bugs and link them from here? I want to make sure we mark them as 2.0, given we're shipping the API in 2.0 for the first time.
Thanks!

And big thanks for finishing it off!

[2017-04-16 16:04] karelz commented on #17917
Based on the replies above, I just assume there is difference between undo and edit. If there's not, I totally agree - in which case I wonder what @Pothulapati's reference meant (I don't see the CoreCLR link). Maybe it just meant "reverse the previous change, don't do more fancy stuff"?

[2017-04-16 16:15] stephentoub commented on #18454
We need to consider more than just Linux. It's 0x1000 on macOS, for example.

[2017-04-16 16:22] Drawaes commented on #18454
Yes but on macOS 0x10 is still Fixed.

[2017-04-16 16:30] stephentoub commented on #18454
I don't understand what the concern is. Some values differ, so we need a mapping, at which point it really doesn't matter what calls we pick for the .NET side and whether they do or don't map to the same values on some of the platforms.

[2017-04-16 16:38] Drawaes commented on #18454
I guess the issue I have is that, there is a POSIX standard for 0x10, that you have reused. I understand that you are not bound by that the PAL level,  but still.

The reason for the differing in the MAP_ANONYMOUS is that it isn't POSIX defined. But seeing as your method has the same name, same params as the POSIX implementation, you would think the flags would map as close as possible.

[2017-04-16 16:44] stephentoub commented on #18454
Can you point me to the POSIX specification where these numerical values are defined? (Not to the header files for a particular OS/distribution/version.)

But still what? It's an internal implementation detail: all that matters is that the two sides of this, both private to our implementation, match, and they do. Could we have selected different values? Sure. I see no value in changing it at this

[2017-04-16 16:58] Drawaes commented on #18454
There is no "numerical" standard for fixed. I mean that Fixed is defined in the Posix standard, which is why it seems to be fixed in every header I can find (BSD, a few flavours of linux and OSX).

My issue came that I was using your PAL, because I can't use your "managed" version because it is all marked internal. Thus it lead to confusion that the PAL layer was taking "Fixed" for Anon.

You can

[2017-04-16 17:12] stephentoub commented on #18454
We shouldn't be encouraging that. It's akin to encouraging folks to rely on private methods via reflection, and as with that, we could easily and accidentally end up breaking code with such an unexpected dependency. I realize we have a gap in that we've not made it easy to access the large number of libc APIs directly; that should be addressed soon I hope.

[2017-04-16 17:19] Drawaes commented on #18454
I would agree that is root cause.

[2017-04-16 17:46] stephentoub commented on #18454
Thanks.

[2017-04-16 17:46] #18454 closed

[2017-04-16 18:01] geoffkizer commented on #18237
Re KeepAlive property on HttpWebRequest:  That does look weird to me.  I would think we'd use Connection: keep-alive here.

[2017-04-16 18:12] geoffkizer commented on #18237
Re the stackoverflow post on sync vs async performance, I've seen this same code posted in a different context (I think it was a blog post).

I don't believe this is a useful perf test.  What it does is try to start a huge number of HTTP requests (I think the original blog post did a million, this one seems to do 10000) simultaneously.  I don't believe this is representative of what real world app

[2017-04-16 18:17] geoffkizer commented on #18237
Mu understanding is that connections are not shared between HttpClient instances.  @davidsh would know for sure.

[2017-04-16 18:20] geoffkizer commented on #18237
I think that allowing per-request control over stuff like AllowAutoRedirect and timeouts etc is definitely interesting.  It would be great to understand the scenarios for this in more detail, this would help shape how we expose such functionality in the future.  Please reference me on any issues you file regarding this.

[2017-04-16 18:23] geoffkizer commented on #18449
I don't understand why we don't send the original, unmodified header in cases like this.  @davidsh @cipop do you guys know?

[2017-04-16 18:38] stephentoub commented on #18237
For timeouts specifically, unless they're more granular than the whole request, the CancellationToken provided to SendAsync should suffice I expect. That's how HttpClient.Timeout is implemented, basically by using CancellationTokenSource created with a timeout.

[2017-04-16 19:05] #17723 closed

[2017-04-16 19:06] ChrisEelmaa commented on #1244
@danmosemsft I've learned not to promise anything that I can't keep, been quite busy lately, but I'll definitely do it at one point unless someone else has done it :P

[2017-04-16 19:20] stephentoub commented on #18431
Disabled both AddDefaultListElement2 and AddDefaultListElement, which also failed.

[2017-04-16 19:57] ajcvickers commented on #18361
@karelz How do we do that if the issues opened for us to do such analysis are closed before we have had a chance to do the analysis?

[2017-04-16 20:21] AndyAyersMS commented on #17316
I believe in CoreCLR you need to do something to opt-in to PGO builds, so any release bits you build yourself are non-PGO. So likely one could enlist in the 1.1.0 branch and build release there and drop the resulting clrjit.dll into the installed CLI instance to get a "non-PGO" jit time for 1.1.0.

@dpodder can speak more authoritatively on when and how PGO kicks in during builds.

For windows bin

[2017-04-16 20:28] marksmeltzer commented on #17316
Is that turned off for now to reduce build times? To support debugging? Something else?

That could well be the majority of the difference.

The last comparison chart I posted of 1.1 and 2.0 showed a 20% increase (scroll up this thread), which is a bit higher than the 10-15% expectation. It could be the specifics of the this particular code path though.

On Apr 16, 2017 1:22 PM, Andy Ayers <notifi

[2017-04-16 20:41] vitek-karas commented on #18292
It's actually unclear whether we need that directive at all. The type was used dynamically before, and we didn't need the directive. I want to understand this a little before using the "big cannon" solution of adding it to .rd.xml.

[2017-04-16 21:47] safern commented on #18431
MonoTests.System.Configuration.ConfigurationSaveTest.TestElementWithCollection2
Failed with same error:

https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/6288/

[2017-04-16 21:48] stephentoub commented on #18431
@JeremyKuhne, @danmosemsft, did something change recently with how the configuration tests are configured / run / etc.?  Seems like several of the tests in the suite are hitting this same error.  I already disabled two tests, but it looks like more would need to be disabled as well.

[2017-04-16 21:49] safern commented on #18431
I will disable the one I pointed out. Submitting PR now.

[2017-04-16 22:11] safern commented on #18431
Another failure of TestElementWithCollection2

This one was in a different OS:
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release_prtest/3570/

[2017-04-16 22:27] #18314 closed

[2017-04-16 22:27] #18315 closed

[2017-04-16 22:27] #18316 closed

[2017-04-16 22:56] #17918 closed

[2017-04-17 00:02] hughbe commented on #18324
I took a look at this. I just realised that I didn't add the first `TestProcessOnRemoteMachineWindows`. Really not sure why it's triggering now and not before.

Moreover, there is actually code in the tests to check this. The problem is that it's registry specific, so I guess this doesn't work in non-admin PCs.
[code]

[2017-04-17 00:03] hughbe commented on #18324
I think what I'll do is conditionally enable `GetProcessesByName_RemoteMachineNameWindows_ReturnsExpected` and `GetProcessesByName_RemoteMachineNameWindows_ReturnsExpected`, then use `Guid.NewGuid().ToString()`

Next, maybe these tests should only be run in outerloop, or we can perform a bit of extra validation in ProcessPerformanceCounterEnabled

[2017-04-17 00:07] #9252 closed

[2017-04-17 00:17] hughbe commented on #18324
I can repro this by turning off "HKLM/SYSTEM/CurrentControlSet/Services/PerfProc/Performance".

There are a couple of issues with the current approach. My understanding is that you need to reboot the machine after setting this key. Thus the key may be true but the machine hasn't rebooted yet so performance counters are still disabled.

One solution could be to do
[code]

but this could be a chicke

[2017-04-17 00:27] hughbe opened #18458 "New string.Replace overload throws OOM with empty string"
[code]

Extracted from #1271. It's been fixed in https://github.com/dotnet/coreclr/pull/11001 but the tests need to be updated.

[2017-04-17 00:29] hughbe opened #18459 "New string.Replace overloads OrdinalIgnoreCase comparison is broken."
[code]

Extracted from #1271. I haven't yet got a fix, I'm waiting for @tarekgh to check out the second issue

[2017-04-17 01:36] stephentoub commented on #18431
Another one: MonoTests.System.Configuration.ConfigurationSaveTest.ModifyListElement2
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/3590/consoleText

[2017-04-17 01:48] dotnet-mc-bot opened #18461 "Test: System.Collections.Tests.Perf_List/Clear(size: 100000) failed with "System.OutOfMemoryException""
Opened on behalf of @Jiayili1

The test `System.Collections.Tests.Perf_List/Clear(size: 100000)` has failed.

System.OutOfMemoryException : Exception of type 'System.OutOfMemoryException' was thrown.

        Stack Trace:

           at ExceptionExtensions.Unwrap(Exception ex)
    --- End of stack trace from previous location where exception was thrown ---
       at System.Runtime.ExceptionService

[2017-04-17 01:56] Jiayili1 opened #18462 "Tests under "System.Console.Performance.Tests" failed with "System.IO.IOException""
There is no test results generated under "System.Console.Performance.Tests"

Configuration: OSX.1012.Amd64

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170415.01/workItem/System.Console.Performance.Tests/wilogs

[code]

[2017-04-17 02:03] dotnet-mc-bot opened #18463 "Test: System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile/CreateNew failed with "System.IO.IOException""
Opened on behalf of @Jiayili1

The test `System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile/CreateNew(capacity: 10000)` has failed.

System.IO.IOException : Too many open files

        Stack Trace:

           at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
       at Interop.CheckIo[TSafeHandle](TSafeHandle handle, String path,

[2017-04-17 02:04] Jiayili1 commented on #18463
Failed tests:
System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile/CreateNew
System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile/Dispose

[2017-04-17 02:23] Jiayili1 commented on #18461
This issue is repro on portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170415.01/workItem/System.Collections.Performance.Tests/analysis/xunit/System.Collections.Tests.Perf_List~2FClear(size:%20100000)

[2017-04-17 02:25] Jiayili1 commented on #18462
This issue is repro on portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170415.01/workItem/System.Console.Performance.Tests/wilogs

[2017-04-17 02:30] Jiayili1 commented on #18463
This issue is repro on portable core tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170415.01/workItem/System.IO.MemoryMappedFiles.Performance.Tests/analysis/xunit/System.IO.MemoryMappedFiles.Tests.Perf_MemoryMappedFile~2FCreateNew(capacity:%2010000)

[2017-04-17 02:30] #18194 closed

[2017-04-17 02:31] hughbe commented on #18262
I'm investigating this. I get some similar exceptions, but also others.

[2017-04-17 02:33] SunnyWar opened #18464 "ConcurrentQueue IsEmpty too slow?"
I have some hot-path production code that looks like this. The queue is _usually empty_.
`if(!myConcurrentQueue.IsEmpty)
{
     WorkItem item;
     if(myConcurrentQueue.TryDequeue(out item))
     {
          DoWork(item);
     }
}`

Clearly the assumption is that IsEmpty is a faster than calling TryDequeue. I decided to test this assumption with writing a little microbenchmark the compares IsEmpty

[2017-04-17 02:37] safern commented on #18262
@hughbe I've already investigated and figured out the exception. Also we already disabled the test. https://github.com/dotnet/corefx/pull/18438 and opened 2 issues: #18437 and #18436

I forgot to update this issue. I will update it to cover all the failing tests under S.D.Process, which from a quick look I believe most of them are a difference in behavior. I was planning on doing this, but if you

[2017-04-17 02:39] hughbe commented on #18262
Up to you really, I can take over if you'd like.
Also, what's the convention for actual differences in the product code, e.g. ArgumentException vs InvalidEnumArgumentException. Do i need to create an issue for that and then submit a PR, or just fix it.

[2017-04-17 02:42] safern commented on #18262
All yours.

It depends on how breaking the difference is. Usually if it is an exception or a minor thing you could submit a PR to fix it and we can have the discussion there. Either way if you open the issue and then submit the PR, the PR would close the issue.

For this case I would just open a PR.

[2017-04-17 02:57] hughbe opened #18465 "Netfx port consider/documentation/reconsideration: Throwing InvalidOperationException for setting StartInfo for already started process"
See issue: https://github.com/dotnet/corefx/issues/1100
See PR: https://github.com/dotnet/corefx/pull/1167

[code]

.NET Core: passes, InvalidOperationException thrown
.NET Full Framework: fails, no exception thrown.

Related: https://github.com/dotnet/corefx/issues/18262

I have no opinion on the matter. This looks like a good bug fix, so might be netfx-port-consider. Either way, it never had an

[2017-04-17 03:06] hughbe commented on #18465
Just realised that I hadn't properly read #1100, which summarised the issue perfectly. I thought it was something else that didn't have a proper issue describing it. This can be closed.

[2017-04-17 03:06] #18465 closed

[2017-04-17 03:35] stephentoub commented on #18464
Can you share your microbenchmark? What version are you testing?  I just tried it on the latest bits in master and I see IsEmpty being ~25% faster than TryDequeue on an empty queue.

[2017-04-17 04:25] mikeharder commented on #18406
This is blocking ASP.NET builds.

[2017-04-17 04:51] AlexGhiondea commented on #18360
@divega yes -- the tool should pick up the issue even if closed.

[2017-04-17 05:01] hughbe opened #18469 "Visual Studio tests also running Unix tests"
E.g.
[code]

[2017-04-17 05:03] hazzik commented on #17746
@weshaggard I disagree that this is "by design": all 3 packages target different versions of .NET Standard (1.5, 1.1 and 1.0 respectively), _not .NET Core App_. So they indeed should be compatible with .NET Standard 2.0. I believe that it shall be fixed in the same manner as #16801.

[2017-04-17 05:04] danmosemsft commented on #18463
EMFILE .. limit of open files seems to be ~10,000 on OSX and ubuntu (I don't have such machines handy)
In this perf test we create groups of 1,000 files then loop over disposing them, then do all this a number of times. In both these cases it's on the first test though. Some other perf tests running at the same time?

[2017-04-17 05:11] danmosemsft commented on #18461
@stephentoub do the perf tests ever run in parallel? They don't need something like `[assembly: CollectionBehavior(CollectionBehavior.CollectionPerAssembly, DisableTestParallelization = true, MaxParallelThreads = 1)]` or suchlike, presumably? It would be odd if htey did.
@safern

[2017-04-17 05:12] danmosemsft commented on #18461
Although the perf test harness runs them serially, I wonder if running them normally in xunit as we have just begun to do (to protect them from breaks) causes them to run in parallel for the first time, leading to hit memory and file limits viz this and https://github.com/dotnet/corefx/issues/18463 and https://github.com/dotnet/corefx/issues/18462

Perhaps we now need to add the above attribute to

[2017-04-17 05:15] danmosemsft commented on #1271
Nice work @hughbe and catching those bugs. Glad I asked you.

[2017-04-17 06:07] karelz commented on #18361
@ajcvickers if you still need to assess this particular breaking change in 2.0, then it totally make sense to keep the issue open.
Based on the bug title "*netfx bug*" and the original description "*We should tag this one as netfx-port-consider and close it.*", I assumed, this is only tracking something in .NET Framework and won't impact .NET Core 2.0. If that's not true, feel free to reopen.

My

[2017-04-17 06:14] karelz commented on #18237
@shravan2x

Why do you think using multiple instances is a bad design? Can you please provide more details? To me it feels just like slightly different API design.

Can you please file a separate issue? (with details about the scenarios as @geoffkizer hinted in https://github.com/dotnet/corefx/issues/18237#issuecomment-294366218) Let's move the specific discussion there, thanks!

[2017-04-17 06:30] karelz commented on #17316
Historically we turned it off (on daily builds), because the PGO data became stale quickly. And we did not have great automation around the collection for .NET Core yet. Therefore keeping it up and running all the time was high cost, and we had things with higher return of investment to fund. That's why we usually do PGO training data refresh only shortly before shipping a release.
Disclaimer: Thi

[2017-04-17 06:42] karelz commented on #18454
@stephentoub do you expect the libc APIs to be exposed with the POSIX work or did you mean something else?

cc @janvorli

[2017-04-17 07:08] Jiayili1 opened #18470 "Desktop: System.Diagnostics.Tests.ProcessModuleTests.TestModulesContainsDotnet failed with "Xunit.Sdk.ContainsException""
Failed test: System.Diagnostics.Tests.ProcessModuleTests.TestModulesContainsDotnet

MESSAGE:
Assert.Contains() Failure
Not found: (filter expression)
In value: <CastIterator>d__94<ProcessModule> [System.Diagnostics.ProcessModule (xunit.console.exe), System.Diagnostics.ProcessModule (ntdll.dll), System.Diagnostics.ProcessModule (MSCOREE.DLL), System.Diagnostics.ProcessModule (KERNEL32.dll), System.

[2017-04-17 07:14] Jiayili1 commented on #18262
The following tests failed again on outerloop_netfx_windows_nt_debug:
 System.Diagnostics.Tests.ProcessStartInfoTests.TestEnvironmentVariables_Environment_DataRoundTrips
 System.Diagnostics.Tests.ProcessStartInfoTests.TestEnvironmentProperty

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Diagnostics.Tests/ProcessStartInfoTests/Tes

[2017-04-17 07:25] Jiayili1 opened #18471 "Desktop: System.Diagnostics.Tests.ProcessTests.TestInvalidPriorityClass failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Diagnostics.Tests.ProcessTests.TestInvalidPriorityClass

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Diagnostics.Tests/ProcessTests/TestInvalidPriorityClass/

MESSAGE:
Assert.Throws() Failure
Expected: typeof(System.ArgumentException)
Actual: typeof(System.Comp

[2017-04-17 07:29] Jiayili1 opened #18472 "Desktop: System.Diagnostics.Tests.ProcessTests.Process_StartWithDuplicatePassword failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Diagnostics.Tests.ProcessTests.Process_StartWithDuplicatePassword

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Diagnostics.Tests/ProcessTests/Process_StartWithDuplicatePassword/

Message:
[code]

Stack Trace:
[code]

[2017-04-17 07:53] Jiayili1 opened #18473 "Desktop: Tests under "System.Diagnostics.Tests.ProcessTests" failed with "Xunit.Sdk.EqualException""
Configuration: outerloop_netfx_windows_nt_debug

[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/consoleText

[2017-04-17 08:23] Jiayili1 opened #18474 "Desktop: System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests.TestMultipleConcurrentRequests failed"
Failed test: System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests.TestMultipleConcurrentRequests

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Diagnostics.Tests/HttpHandlerDiagnosticListenerTests/TestMultipleConcurrentRequests/

Message:
[code]

Stack Trace:
[code]

[2017-04-17 08:27] Jiayili1 commented on #17725
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/FileInUse_CreateFromFile_SucceedsWithReadOnly/

[2017-04-17 08:32] Jiayili1 commented on #18263
This issue is repro on outerloop_netfx_windows_nt_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.IO.Compression.Tests/TaskDeflateStreamTests/OverlappingFlushAsync_DuringReadAsync/

Failed tests:
 System.IO.Compression.Tests.TaskDeflateStreamTests.OverlappingFlushAsync_DuringReadAsync
 System.IO.Compression.Tests.TaskGZipStre

[2017-04-17 08:39] Jiayili1 opened #18475 "Desktop: System.Security.Cryptography.Encryption.Tests.Asymmetric.TrivialTests.ValidKeySizeUsesProperty failed with "System.NullReferenceException""
Failed test: System.Security.Cryptography.Encryption.Tests.Asymmetric.TrivialTests.ValidKeySizeUsesProperty

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Security.Cryptography.Encryption.Tests.Asymmetric/TrivialTests/ValidKeySizeUsesProperty/

Message:
[code]

Stack Trace:
[code]

[2017-04-17 08:42] Jiayili1 opened #18476 "Desktop: System.Security.Cryptography.Encryption.Tests.Symmetric.TrivialTests.TestKey failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Security.Cryptography.Encryption.Tests.Symmetric.TrivialTests.TestKey

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Security.Cryptography.Encryption.Tests.Symmetric/TrivialTests/TestKey/

Message:
[code]

Stack Trace:
[code]

[2017-04-17 08:48] Jiayili1 opened #18477 "Desktop: System.Security.Cryptography.Hashing.Tests.KeyedHashAlgorithmTest.SetKeyNull failed with "System.NullReferenceException""
Failed test: System.Security.Cryptography.Hashing.Tests.KeyedHashAlgorithmTest.SetKeyNull

Configuration: outerloop_netfx_windows_nt_debug

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Security.Cryptography.Hashing.Tests/KeyedHashAlgorithmTest/SetKeyNull/

[2017-04-17 08:49] Jiayili1 commented on #18477
Failed tests:
 System.Security.Cryptography.Hashing.Tests.KeyedHashAlgorithmTest.SetKeyNull
 System.Security.Cryptography.Hashing.Tests.KeyedHashAlgorithmTest.EnsureDisposeFreesKey

[2017-04-17 08:51] Jiayili1 opened #18478 "Desktop: System.Security.Cryptography.Hashing.Tests.HmacAlgorithmTest.TrivialDerivationThrows failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Security.Cryptography.Hashing.Tests.HmacAlgorithmTest.TrivialDerivationThrows

Configuration: outerloop_netfx_windows_nt_debug

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Security.Cryptography.Hashing.Tests/HmacAlgorithmTest/TrivialDerivationThrows/

[2017-04-17 08:51] Jiayili1 commented on #18478
Failed tests:
 System.Security.Cryptography.Hashing.Tests.HmacAlgorithmTest.TrivialDerivationThrows
 System.Security.Cryptography.Hashing.Tests.HmacAlgorithmTest.ResetAlgorithmName

[2017-04-17 08:54] Jiayili1 opened #18479 "Desktop: System.Security.Cryptography.Hashing.Tests.HmacAlgorithmTest.SetNullAlgorithmName failed with "System.ArgumentNullException""
Failed test: System.Security.Cryptography.Hashing.Tests.HmacAlgorithmTest.SetNullAlgorithmName

Configuration: outerloop_netfx_windows_nt_debug

Message:
[code]

Stack Trace:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/21/testReport/System.Security.Cryptography.Hashing.Tests/HmacAlgorithmTest/SetNullAlgorithmName/

[2017-04-17 09:04] Jiayili1 commented on #18431
Another one: MonoTests.System.Configuration.ConfigurationSaveTest.ModifyListElement2
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release/2116/testReport/MonoTests.System.Configuration/ConfigurationSaveTest/ModifyListElement2/

[2017-04-17 10:25] hughbe opened #18480 "Porting bug: NRE thrown in HttpListenerRequest.GetClientCertificateAsync"
[code]

I have a fix

[2017-04-17 11:07] fish-ter commented on #18159
Hi @svick, `SelectMany`looks right, thanks.

And what you said about lambdas was interesting. I see now that an `Address` getter function would have to be defined outside of `Person` for a function reference to work. Know of any plans to add support for class methods and the like?

Java8 is quite flexible in that regard (though composing the plethora of function types in Java can be "interesting")

[2017-04-17 11:25] ElemarJR commented on #18159
@svick

It depends on what coding style you follow. Right?

* You apparently prefer the "imperative style" - with `null`, exceptions and side-effects. I am inclined to follow the "functional style" - I like to have functions with clearly defined inputs and outputs.
* You are ok to write code writing sequences of statements. I prefer to have nested functions calls
* You are ok using `if` to check i

[2017-04-17 11:26] stephentoub commented on #18454
@karelz, https://github.com/dotnet/corefx/issues/15289

[2017-04-17 12:31] benaadams opened #18481 "ValueTask doesn't inline well"
None of the method builder or methods on ValueTask seem to inline very well

Fail Reason: Native estimate for function size exceeds threshold.

Fail Reason: Native estimate for function size exceeds threshold.

Fail Reason: Native estimate for function size exceeds threshold.

Inlinee: instance value class System.Threading.Tasks.ValueTask\`1<value class System.Decimal>  ()
Fail Reason: Native esti

[2017-04-17 12:31] svick commented on #18159
@fish-ter

Yes. It would probably require `using static` and would be very unusual coding style for C#.

I'm not sure what you mean by "class methods", how would they be different from `static` methods?

[2017-04-17 12:53] hughbe opened #18482 "Porting bug: HttpListenerRequest.Cookies throws a CookieException for invalid cookies, NETFX doesn't throw"
[code]

Netfx doesn't throw; any cookie with a non-empty name is added.
Netcoreapp does throw

/cc @davidsh @Priya91

[2017-04-17 12:58] svick commented on #18159
@ElemarJR

C# started as in imperative language. It's never going to be a functional-first language, like F#, and I don't think it makes sense to try to move it in that direction. Adding functional features to C# can be very useful, but it should be done carefully, to stay consistent with the rest of C#. If you want to program in a functional style, I think you should use F# instead of trying to t

[2017-04-17 13:03] hughbe opened #18483 "ConditionalFact/ConditionalTheory tests are skipped with` netfx"
Following test fails with `msbuild /T:BuildAndTest` but passes with `msbuild /T:BuildAndTest /P:TargetGroup=netfx`. The test isn't being run.

[code]

[2017-04-17 13:04] Pothulapati commented on #17917
@karelz  I will reverse the changes by doing a commit but my exact concern is whether the `internal TValue GetValueOrDefault(TKey key)`  should stay or not?

[2017-04-17 13:07] mrns opened #18485 ".NET Core Dependencies Nightmare"
Hello, I have a .NET Core project with some net452 dependencies. As per MS documentation, a .NET Core app can run on top of net452 with no issues and indeed, I was able to get a working ,NET Core app by targeting net452. Now, I am having trouble using libraries targeted to .NET Core because some of them target netstandard1.3, some other target netcoreapp1.0 and so on, which causes incompatibility

[2017-04-17 13:13] benaadams commented on #18481
It seems awaiting `.AsTask()` rather than the `ValueTask` gives similar results to the ternary check; other than allocations shooting up https://github.com/mgravell/protobuf-net/pull/234

[2017-04-17 13:13] hughbe opened #18486 "CookieParser doesn't parse cookies separated by ';'"
[code]

[2017-04-17 13:18] stephentoub commented on #18483
@safern, you were investigating / working on fix this, right?

[2017-04-17 13:21] hughbe commented on #18486
Actually, it's the other way around - netfx doesn't allow them to be separated by ';'

[2017-04-17 13:35] stephentoub commented on #18481
@benaadams, can you share a small code sample where it's not getting inlined?  In a quick one I just threw together, the hot path with ValueTask/ValueTaskAwaiter for a synchronously completed ValueTask is entirely inlined.

[2017-04-17 13:39] benaadams commented on #18481
@stephentoub its this async call chain https://github.com/mgravell/protobuf-net/blob/async/src/TheAwaitingGame/Program.cs#L144-L152

Perhaps because its `ValueTask<decimal>`?

[2017-04-17 13:41] benaadams commented on #18481
Also was looking at netcoreapp1.1 rather than 2.0 if something has been resolved.

[2017-04-17 13:45] ElemarJR commented on #18159
@svick

I think that the best attribute of a good programming language would be to allow to express ideas in a clean and elegant way.

Even with non-nullable types, I would need to communicate "None" sometimes - I just want to do that being safe and expressive. That is what Option/Maybe allows me to do.

Having side-effects is an API design choice - not a language imposition. I want to be able to

[2017-04-17 13:46] svick commented on #18485
I think you can't really call that app a .Net Core app, even if you're using .Net Core tooling.

.Net Standard 1.3 is supported by .Net Framework 4.6 and newer. So, yes, you can't use a .Net Standard 1.3 library from a .Net Framework 4.5.2 project, there's no way around that.

Libraries generally should not target .Net Core 1.0. If they do, you should probably ask the maintainers to switch to .Net

[2017-04-17 13:53] benaadams commented on #18481
Might be different issue than not inlining; have annotated the methods; testing all completed paths.
[code]

[2017-04-17 13:57] stephentoub commented on #18481
Why is the expectation that ValueTask will be faster than a completed task, or am I misunderstanding the concern?  I fully expect that there are overheads associated with a ValueTask, e.g. it stores multiple fields that are returned, it has an extra branch, etc.  This is why when I've been asked whether every method should just return a `ValueTask<T>` instead of a `Task<T>`, my answer has never be

[2017-04-17 14:02] mattnischan commented on #18481
If `Task<T>.FromResult()` is faster than `ValueTask<T>`, in what cases would it be useful to use `ValueTask<T>`?

[2017-04-17 14:03] stephentoub commented on #18481
"faster" is very subjective.  FromResult() allocates a `Task<T>`, so while it may be "faster" to get the object then and there, you're building up GC debt that'll be paid in spades later.

[2017-04-17 14:08] rogeralsing commented on #18481
Has there been any benchmarks done where the GC is under pressure from other work while still benchmarking the Task vs ValueTask?

I imagine that your GC will have a max throughput on your system, and if possible, it might be worth offloading this to the stack.
I imagine that it will also have a positive effect on long tail latency, as the value task perf will be more consistent with less variatio

[2017-04-17 14:10] #18324 closed

[2017-04-17 14:12] stephentoub commented on #18481
That's the whole reason `ValueTask<T>` exists: to minimize allocation in cases where it's expected that an asynchronous method will frequently complete synchronously with arbitrary result values (e.g. T is an Int32 and possible results span the Int32 range such that it would be infeasible to cache a `Task<T>` for all of them).  Common example would be `Stream.ReadAsync`: if we had it to do over to

[2017-04-17 14:13] mattnischan commented on #18481
I suspected that would be the answer, but it still strikes me that most use cases are within this particular area, where `ValueTask<T>` is a representation of some kind of mostly-always-fast-but-occasionally-not type of value, from, say, a data access layer with caching or something like that.

It's possible this test is just not very illustrative of when `ValueTask<T>` normally wins, i.e. when yo

[2017-04-17 14:17] stephentoub commented on #18481
GC impact compounds and often doesn't show up in full force in microbenchmarks.  The more work you have going on in a real scenario, the more allocation affects things.

There are definitely many of them, which is why `ValueTask<T>` was introduced.  But there are also common cases where it's not valuable, e.g. it's pretty common to have an asynchronous operation that returns a bool (imagine an asy

[2017-04-17 14:17] svick commented on #18159
@ElemarJR

Why? If you had the choice of using non-nullable `T` and nullable `T?`, why would you choose `Option<T>` instead? What makes `None` different from `null`?

While throwing exceptions is considered a side-effect, I think you can get most of the advantages of side-effect-free programming even with exceptions. For example, consider the Roslyn API, which avoids mutating state, but still thro

[2017-04-17 14:19] stephentoub commented on #18481
(All that said, if there are ways we can improve the performance of `ValueTask<T>`, of course we want to do that. @benaadams, I'm looking at you :smile:)

[2017-04-17 14:19] fish-ter commented on #18159
@svick

The following looks good to me:

[code]

And it seems completely reasonable to wish for something like `Select(Person.GimmeTheName)`, with `GimmeTheName` being a method defined in the class `Person`. But I'd like to drop that and focus on the `Option` issue.

@svick & @ElemarJR

What are your thoughts on the Swift approach? Why shouldn't nullable types become `Option<T>`s under potential n

[2017-04-17 14:24] steveharter commented on #14673
Correct it hasn't failed since then or when it did fail, it failed during an outage. There hasn't been any jdash data loss AFAIK, only a couple gaps that I'm aware of, each lasting a few days at a time.

Given a 2-3% failure rate when running under a loop, that would fall into the bucket of fairly rare  (1\month or thereabouts) so in the range of moving to future.

[2017-04-17 14:25] fish-ter commented on #18159
Right, so nullable T would be `Option<T>`, with None being null. We could both get the kind of interface we desire, and interoperate.

[2017-04-17 14:35] brianrob commented on #17316
@AndyAyersMS, I could definitely believe that this is PGO-related.  From JITStats, the method counts are pretty close, but the time is higher on 2.0 (about 10% as you point out).  I expect us to start doing PGO optimization in the 2.0 release branches soon.

@karelz, @marksmeltzer PGO is off in master by default right now because we don't yet have automation to roll training data forward, so you'd

[2017-04-17 15:21] steveharter commented on #14673
Moving to future since does not meet current threshold, and because it is very similar to other existing issues which are already tracked.

[2017-04-17 15:30] PaulHigin commented on #18409
@stephentoub Thanks for addressing this so quickly.

[2017-04-17 15:31] stephentoub commented on #18409
Thanks for reporting it :smile:

[2017-04-17 15:40] karelz commented on #17316
@AndyAyersMS BTW: While technically it is not apples-to-apples from JIT perspective, because other components change as well, it is still fair apples-to-apples from end-to-end point of view (we just may have good excuse in particular cases to accept perf degradation if it is offset by value in other, more important scenarios).

[2017-04-17 15:42] dagrooms52 opened #18490 "Resources File in .NET Standard (1.4) with New csproj"
I'm developing an application targeting .NET Standard 1.4, using the new csproj style (not project.json), and trying to get a localizable resources file to become available throughout the project.

I get compiler errors when including a resources file currently, similar to `'Resources' does not contain a definition for 'X'`

The csproj automatically includes the resources file as follows:

[code]

[2017-04-17 15:50] karelz commented on #17917
@Pothulapati can you do the research what else needs the internal method in CoreRT? (one way is to remove it and run build & tests to see if something fails, or search the code base ...)
It would be overall best to ask that question on CoreRT repo (e.g. in your PR) - @MichalStrehovsky and @jkotas will be able to provide guidance there.

[2017-04-17 15:51] karelz commented on #18454
Yep, thanks! That's the one I had in my mind ... cc @eerhardt

[2017-04-17 15:56] karelz commented on #18452
@ericstj @weshaggard is it potentially a bug in our/MS packaging?

[2017-04-17 15:58] karelz commented on #18464
FYI: [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet) is good for writing and measuring tests.

[2017-04-17 15:59] steveharter commented on #16534
I came across similar failure in GetAsync_AllowedSSLVersion_Succeeds on Win2008 offline CI machine when running repeatedly, although with the error "An error occurred while sending the request.", not "authentication failed because the remote party has closed the transport stream".

That test has not been disabled yet.
[code]

[2017-04-17 15:59] karelz commented on #18469
@hughbe do you mean that when you execute tests from VS, the tests don't properly filter out Linux-only tests?

[2017-04-17 16:00] karelz commented on #18480
cc @Priya91

[2017-04-17 16:02] hughbe commented on #18469
Correct

[2017-04-17 16:03] mmitche commented on #13094
I'm not sure @MattGal what do you think?

[2017-04-17 16:04] karelz commented on #18486
cc @Priya91

[2017-04-17 16:11] jkotas commented on #17917
Nothing needs in CoreRT.

[2017-04-17 16:16] weshaggard commented on #17741
IsReadOnlyAttribue works for me.

[2017-04-17 16:19] MattGal commented on #13094
Currently I don't think that specific code coverage problems with specific libraries make sense for core-eng, I'd favor those going where the library itself is built.   I think we have some folks in Dan's org who are quite familiar though and may be able to provide guidance.

[2017-04-17 16:24] karelz commented on #18485
Where did you find that information? The above holds for .NET Standard. .NET Core is one of .NET Standard implementations (also available on Linux and Mac). Technically it is next to .NET Framework.
That said, there is huge overlap between .NET Framework and .NET Core -- we try to keep them compatible as much as possible, but there are unique APIs in both .NET Core and in .NET Framework (and likel

[2017-04-17 16:32] steveharter commented on #17327
I can repro this locally on Ubuntu16, apparently started failing recently. Will attempt a new run with latest code and report results.

Last jdash occurrence on 4/6 however so looking at whether jdash data is missing, or issue was addressed a few days ago.

[2017-04-17 16:34] ericstj commented on #18452
Microsoft.Composition has never supported `netcoreapp` and that package is not produced out of corefx.

You can exclude Microsoft.Composition and reference System.Composition:
[code]

[2017-04-17 16:34] AndyAyersMS commented on #18481
Heuristic inlining cost estimates for `ValueTask<T>`  where `T` is a value class will be dependent on `T` in various complex ways (`sizeof(T)`, whether the jit thinks a `T` is promotable, etc). So `decimal` vs some other type may show inlining differences.

Heuristics should be more or less the same for 1.1 vs 2.0.

Inlining of methods that take or return value classes should provide some extra be

[2017-04-17 16:54] tarekgh commented on #1271
the correct behavior is

[code]

should be true. this operation done as ordinal comparison and the string shouldn't find "abc\u00AD" at all to replace.. if this is not happening then we have a bug. could you send more details around this case?

[2017-04-17 16:55] jamesqo commented on #10528
@karelz, regarding whether `ArraySegment<T>` should implement `IEquatable` or not, [here](https://github.com/xunit/xunit/issues/1206) is an issue that would have been avoided entirely if it was `IEquatable`. To see if 2 ArraySegments are equal, xUnit's default comparer checks first if they are `IEquatable`. Since they aren't, eventually it falls back to treating them like collections and calling `

[2017-04-17 16:58] benaadams commented on #18481
There are 4 methods that don't like inlining; am investigating best approach.

Fighting with the cli and publishing 2.0 atm 😢 , so I can look at the breakout

[2017-04-17 17:05] tarekgh commented on #18490
@karelz we need to move this issue to msbuild. this is tooling issue and not really corefx. do you know the repo we can move this issue to?

[2017-04-17 17:07] karelz commented on #18490
I guess https://github.com/Microsoft/msbuild

[2017-04-17 17:08] tarekgh commented on #18485
@mrns I am closing this issue as I think you got the answers. feel free to send any follow up question or request if you have any. Thanks.

[2017-04-17 17:08] #18485 closed

[2017-04-17 17:11] karelz commented on #10528
@jamesqo I don't have much experience with `IEquatable` interface. What you say makes sense, but I let btter experts to make the call. It might be easier to move it into separate issue as it needs API approval.

@KrzysztofCwalina you said you really want this to happen in .NET Core 2.0 - can you please help drive it (incl. answering @jamesqo's questions), if it is still true? Thanks! (sorry I don'

[2017-04-17 17:14] tarekgh commented on #18490
@dagrooms52 I moved the issue to msbuild repo so I am closing it here.

[2017-04-17 17:14] #18490 closed

[2017-04-17 17:22] tarekgh commented on #18459
I'll take a look at such cases and will get back to you.

[2017-04-17 17:25] krwq commented on #3689
@kouvel, what's the status on this? Have you had a chance to take a look?

[2017-04-17 17:37] krwq commented on #9228
What's the status on this? Has anyone had a chance to look at this?

[2017-04-17 17:39] AndyAyersMS commented on #17316
Totally agree -- we measure and care about both total time and the jit's contribution to that total.

[2017-04-17 17:43] shmao commented on #18391
I've verified that all WCF tests passed when running in ReflectionOnly mode using the latest `System.Private.Xml.dll`. For the records, here's what I did,

1. Replaced
[code]

with the new `System.Private.Xml.dll` built by my local repo.

2. Built WCF tests. I verified that the latest `System.Private.Xml.dll` was found in the test's bin folder, e.g. the assembly was found in
[code]

3. Ran WCF tes

[2017-04-17 17:43] #18391 closed

[2017-04-17 17:43] JonHanna opened #18493 "Compilation of custom System.Linq.Expressions.MemberBinding"
Creation of custom classes derived from `MemberBinding` is discouraged by the protected constructor being marked as obsolete. It is possible though.

Upon compilation, if the `BindingType` is one of the values defined for the enum then both interpreter and compiler will throw an `InvalidCastException`. Otherwise the compiler will throw an `ArgumentException` while the interpreter will just ignore

[2017-04-17 17:44] SunnyWar commented on #18464
@stephentoub I'm using 4.6.2 as 4.7 doesn't (yet) show up as an option. I'll try BenchmarkDotNet out and see what I get.

[2017-04-17 17:46] mattnischan commented on #18481
Yep, changing the ValueTask type to a reference type instead brings the inlining back to life: https://github.com/mgravell/protobuf-net/pull/235

[2017-04-17 17:46] weshaggard commented on #15966
For this I think we will need a uap configuration. I would really like to avoid depending on MissingMethodExceptions for any real scenarios.

[2017-04-17 17:47] karelz commented on #13302
Just curious if you were able to repro it in your "run in a loop" runs?

[2017-04-17 17:49] karelz commented on #16765
Marking as test issue

[2017-04-17 17:52] safern commented on #18483
That is correct, I'm currently investigating why this is happening. Thanks for assigning it to me.

[2017-04-17 17:55] mellinoe commented on #18463
Can we increase the open file limit further? Is there some hard system limit we're already at?

[2017-04-17 17:58] Drawaes commented on #18454
Explicitly excludes mmap :(

[2017-04-17 17:58] danmosemsft commented on #18463
Seems it's something liek `sudo ulimit -n largenumber` but I wondered https://github.com/dotnet/corefx/issues/18461#issuecomment-294406443 whether these are running in parallel unnecessarily

[2017-04-17 18:02] Priya91 commented on #18486
cc @davidsh This desktop vs .NET Core behavior known?

[2017-04-17 18:06] krwq commented on #12072
What's the status on this?

[2017-04-17 18:08] OmarTawfik commented on #17741
@marek-safar @jaredpar I'll send a PR later to change it to `IsReadOnlyAttribue`. Let me know if you've concerns.

[2017-04-17 18:16] #18432 closed

[2017-04-17 18:26] jnm2 commented on #18432
@stephentoub I'd like to follow with a fix for the [`IStructural*` implementations](https://github.com/dotnet/corefx/issues/18432#issuecomment-294326098) to being their behavior in line with the rest of the BCL, if you see no reason they should stay inconsistent.

[2017-04-17 18:27] danmosemsft commented on #18479
@jkotas @stephentoub @terrajobst of course we usually want to fix cases where .NET Core rejects code that full framework would accept. How much of a concern is the reverse - someone writes a library that works on .NET Core (or, soon, UWP) but later turns out to break on Framework? This one is an example albeit not a great one.

[2017-04-17 18:29] bartonjs commented on #17163
@ViktorHofer Where were you making the change?  ECDsaCng is only defined within System.Security.Cryptography.Csp, so I don't see how you'd need to add a reference to that package...

[code]

PlatformNotSupportedException.  Circular dependency between cryptography and XML (and networking).

[code]

Copy from netfx: https://referencesource.microsoft.com/System.Core/R/d4770e0d4e849594.html (deleting

[2017-04-17 18:35] weshaggard commented on #18406
sni.dll should be coming from https://www.nuget.org/packages/runtime.win7-x64.runtime.native.System.Data.SqlClient.sni. Can you check the assets file to make sure that it is correctly getting picked up from the tooling?

[2017-04-17 18:36] Priya91 commented on #18448
@shravan2x Connection is a different header on HttpWebRequest, it has it's own API. Although the Keep-Alive header value should be timeout=, max=. @davidsh why do we have a bool value for this Keep-Alive general header?

[2017-04-17 18:39] karelz commented on #5485
Cadence ~1/month, moving to Future.

[2017-04-17 18:42] krwq commented on #16988
@mellinoe could you create/point me to a bug tracking this?

[2017-04-17 18:47] weshaggard commented on #11151
@jkotas @stephentoub after all the work it doesn't look like we ended up needing to move System.IO.FileSystem down lower. These System.Runtime.Extensions dependency seems to be the only one reaching for these higher level concepts (https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L85, https://github.com/dotnet/corefx/blob/master/src/System.R

[2017-04-17 18:48] jamesqo opened #18497 "Proposal: MethodBase.Invoke<T>(params object[])"
## Background

When writing reflection-based code to invoke methods, it tends to be quite noisy because you have to write a bunch of `new object[] { }`s inline and cast to a more specific return type. This seems unnecessary because

- `this` is just another parameter, so why can't we just put it in the array so we can use `params`?
- Can't we make the method generic to avoid having to cast?

## Pr

[2017-04-17 18:50] ViktorHofer commented on #17163
I tried to add these in System.Security.Cryptography.Algorithms. I noticed the ECDsaCng types and overlooked that they are wrapped inside a `ECDsaImplementation` namespace.

I will try add them according to your manual. Thanks!

[2017-04-17 18:51] mellinoe commented on #18416
I suspect this is a common problem with the tests for many of our "primitive types" (using a loose definition). Types that just store state or perform some computations (rather than touch the disk, create a socket, perform interop, etc.) seem prone to this problem. Especially if they aren't persisting those results into a field or something. We just recently re-wrote most of the `Vector2/3/4` test

[2017-04-17 18:52] danmosemsft commented on #15092
@dleeapho is this still in plan for 2.0 (ZBB 5/10)?

[2017-04-17 18:55] danmosemsft commented on #15280
@smile21prc is working on this ETA this week apparently and the failure rate looks OK.

[2017-04-17 18:55] ianhays commented on #7570
@xied75 the nomenclature is somewhat confusing, but the files in that folder are for the DeflateStream that uses zlib as the underlying compression engine. It does not contain a public interface for handing zlib headers, only raw deflate.

[2017-04-17 18:56] davidsh commented on #18376
Changed title from WinHttpHandler.

This test is about HttpListener.

[2017-04-17 18:56] #16813 closed

[2017-04-17 18:57] danmosemsft commented on #16813
Issue moved to [dotnet/docs #1929](https://github.com/dotnet/docs/issues/1929) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 18:57] danmosemsft commented on #10935
I don't think we have a week to do this right now.

[2017-04-17 18:59] danmosemsft commented on #16240
duping. https://github.com/dotnet/corefx/issues/16688

[2017-04-17 18:59] #16240 closed

[2017-04-17 18:59] danmosemsft commented on #16688
@ianhays now you're back could you give an update? sevearl tests hitting this.

[2017-04-17 19:00] danmosemsft commented on #18099
Since this is test only, only fails in a non standard configuration, and there's a workaround, moving to future. Still want to robustify the test though.

[2017-04-17 19:01] imranbaloch commented on #18481
@stephentoub It will great if you write some blogs about ValueTask at https://blogs.msdn.microsoft.com/pfxteam/. Just a humble request 😀

[2017-04-17 19:04] danmosemsft commented on #15255
I am going to clsoe this one since I think those child issues adequately track it and they are basically independent.

[2017-04-17 19:04] #15255 closed

[2017-04-17 19:04] danmosemsft commented on #15255
I'm pleased with what we accomplished with this pass.

[2017-04-17 19:07] danmosemsft commented on #14950
https://apisof.net/catalog/System.Configuration.RsaProtectedConfigurationProvider has negligible usage in our corpuses.
https://apisof.net/catalog/System.Configuration.RsaProtectedConfigurationProvider

@JeremyKuhne is it reasonable to move this to Future? cc @krwq

[2017-04-17 19:09] karelz commented on #17591
This is Helix only failure, no hits in Jenkins CI. Didn't show up in @steveharter's "run Networking tests in loop" effort.
Moving to Future.

[2017-04-17 19:12] karelz commented on #13281
Moving to Future due to low frequency (1 per month in Jenkins CI).

[2017-04-17 19:17] ianhays commented on #16688
Yes, this is on my short list.

I expect we can add a line or two in the RemoteExecutorTestBase to check for the existence/accessibility of the Remote\*exe before starting the process. Alternatively, we can fail gracefully or retry if the Remote\*exe failed to start with this particular error code.

Either of those solutions would be a cure for the symptom, but not necessarily for the disease. I s

[2017-04-17 19:21] karelz commented on #9296
@steveharter can you please disable the flaky test in release branch(es)?

[2017-04-17 19:21] mellinoe commented on #17920
@danmosemsft Not sure.

@ianhays It looks like you reduced this once before. Do you think we should reduce it again?

One thing to keep in mind: these 32-bit Windows tests can only use about 1.5 GB of memory before hitting an OOM on Windows.

[2017-04-17 19:22] karelz commented on #9296
The test failure was pretty rare - moving to Future.

[2017-04-17 19:22] corivera commented on #8188
We currently don't have any plans for working on query notifications.

[2017-04-17 19:24] shravan2x commented on #18448
@Priya91 I completely agree. However, the traditional `HttpWebRequest` set the `Connection` header even when `KeepAlive = true;` was set (It used an internal `m_KeepAlive` boolean field). You can see this in the reference source [here](http://referencesource.microsoft.com/#q=httpwebrequest).

[2017-04-17 19:27] mellinoe commented on #16988
Tracking what part?

[2017-04-17 19:31] steveharter commented on #17537
Only jdash failure:
dotnet_corefx/master/outerloop_netcoreapp_win7_debug 8 win2008-f31d40 04/06 11:38 PM  0

[2017-04-17 19:32] ianhays commented on #17920
I didn't actually reduce it, I just modified the way we were limiting the collection size to be based on number of operations rather than an elapsed time. It seems that wasn't an adequate solution as we're still getting OOMs, so I'll add in a max collection size as well.

[2017-04-17 19:40] omariom commented on #18497
Extension methods?

[2017-04-17 19:42] JonHanna commented on #17905
#18414 removed most of the relevant dead code in S.Linq.Expressions. Aside from constants etc. there's still some that might become relevant if currently unsupported features are ported (including one with an issue requesting just that) so it would probably be best not to do further now.

[2017-04-17 19:45] Drawaes commented on #18454
Also is it even worth starting a public API on this until native int  etc has shaken out?

[2017-04-17 19:47] JonHanna commented on #18497
I don't see the advantage over having to explicitly set the generic type argument over casting. It seems to me to be equally noisy. Params, I agree, would be sweet syntactic sugar.

[2017-04-17 19:51] krwq commented on #16988
@mellinoe dumpling not giving actionable dump

[2017-04-17 19:56] krwq commented on #14950
@JeremyKuhne crypto-xml is currently ported - is there anything left for 2.0 here?

[2017-04-17 19:58] krwq commented on #2249
I've assigned them to this task since they are working on it

[2017-04-17 20:01] mellinoe commented on #16988
@krwq There isn't one. Please be more specific if you file an issue about it; that isn't enough information to be helpful, I think. Please take into account the context I added above.

[2017-04-17 20:08] krwq commented on #9006
@davidsh @geoffkizer @CIPop @Priya91 is anyone of you looking at this? Could you at least comment on approaches suggested by @stephentoub so someone with less background can pick it up if you do not have spare cycles?

[2017-04-17 20:10] mellinoe commented on #18461
Yeah, we should try to make sure they aren't running in parallel. Perhaps we can manage that without editing all of the perf tests project files, and potentially forgetting to do that in the future for new projects.

[2017-04-17 20:13] OmarTawfik commented on #16916
I also prefer corefx's approach, and changing the desktop. @VSadov do you agree?

[2017-04-17 20:16] jamesqo commented on #18497
@omariom Maybe, I would be fine with that.

@JonHanna The main thing with using casts is that they have weaker precedence than `.` so you have to add an extra layer of parentheses if you want to do anything with the result. For example,

[code]

I also wonder if there's any cases where changing from `object[]` -> `params object[]` could be a breaking change. I tried really hard with [this](https:/

[2017-04-17 20:17] huanwu commented on #13766
@shmao We supported the TimeSpan in the desktop but differs a little. e.g. The core doesn't support DefaultValue attribute.

[2017-04-17 20:19] krwq commented on #16988
@mellinoe see https://github.com/Microsoft/dumpling/issues/27 - let me know if this is not the correct place to file an issue or add any details if needed

[2017-04-17 20:20] weshaggard commented on #14636
We do still have some test failures to address but that is issue https://github.com/dotnet/corefx/issues/15436.

[2017-04-17 20:26] krwq commented on #16988
I'm currently running this test in a loop in 500 threads/1M iterations each for 2h and I can't see this reproing. I'll let it run for few more hours (or until completion).

@karelz I will likely not get any repro for this issue and can't see anything wrong by just looking at the stack. Given the above what's the plan for fixing this for 2.0? Are we planning to fix dumpling issue for 2.0? if not th

[2017-04-17 20:27] safern commented on #18461
There is a way to turn parallelization through the xunit arguments by passing `-parallel none` and also we could pass `-maxthreads 1` -- see: https://github.com/xunit/xunit/blob/5efe22bb06559c3ec9cda06bc0d48bf466073d7c/src/dotnet-xunit/Program.cs#L197-L203

We could do that through tests.targets by enabling it with an override-able parameter that could be enabled when running parallel tests. This

[2017-04-17 20:27] geoffkizer commented on #11843
I also think we should just parse in managed code and be consistent across platforms.

Were there issues with RFC compliance here previously?  If so what?

Having different implementations between Windows and various Unices seems to work against these goals.

In general, having a single managed implementation is better for consistency, maintenance, and often performance.  The fact that there seems

[2017-04-17 20:30] danmosemsft commented on #18083
@weshaggard are you planning to do any of this?

[2017-04-17 20:30] shmao commented on #17616
C:\git\corefx\src\System.Private.DataContractSerialization\src\System\Runtime\Serialization\SchemaExporter.cs:
- [ ]    29:             throw new PlatformNotSupportedException();

C:\git\corefx\src\System.Private.DataContractSerialization\src\System\Runtime\Serialization\XmlObjectSerializerReadContextComplex.cs:
- [ ]   139:             throw new PlatformNotSupportedException();

C:\git\corefx\src

[2017-04-17 20:31] shmao commented on #17616
@stephentoub can you please have a look at the following PNSE?

[code]

[2017-04-17 20:32] mellinoe commented on #18461
I put up a PR which does something like that: https://github.com/dotnet/corefx/pull/18503

We could also try to inject an assembly attribute instead of passing the `-parallel none` parameter. The same thing would be accomplished, I guess.

[2017-04-17 20:36] stephentoub commented on #11843
I'm working on this now.  I currently have the managed implementation being used for Unix, but it'll be trivial to rip out the PAL and just use the managed implementation everywhere.

[2017-04-17 20:36] weshaggard commented on #17746
While their refs were targeting a version of netstandard, they were really only ever supported at runtime for .NET Core. So in this release we are no longer planning to ship an individual library package for them and they will only be available for .NET Core via Microsoft.NETCore.App package.

We cannot do the same type of fix as #16801 because the implementations depend on the runtime which make

[2017-04-17 20:53] danmosemsft opened #18506 "Directory.GetCurrentDirectory() returns installation directory of Visual Studio 2017 in unit tests."
@zuoanqh commented on [Mon Apr 17 2017](https://github.com/dotnet/standard/issues/304)

[2017-04-17 20:53] danmosemsft commented on #18506
@zuoanqh what are you expecting? Does it break tests?

[2017-04-17 20:56] safern commented on #18431
Another one: MonoTests.System.Configuration.ConfigurationSaveTest.NotModifiedAfterSave
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/6352/

[2017-04-17 21:05] davidsh commented on #9006
I think choice 1 is the cleanest choice. I think doing something like 2 is messy. I do worry though that since Desktop won't have this change developers might be confused when they write 'netstandard' based code. Eventually, we might need to make a similar breaking change in Desktop and include an opt-out mechanism (registry and/or appsettings config) like we have done in the past for breaking cha

[2017-04-17 21:16] ViktorHofer commented on #17693
@jguady Nothing really special.

- Make sure to also update the refs
- Include the `ApiCompatBaseline.netcoreapp.netfx461.txt` (src/shims/) changes. They file gets updated after you do a full build or by manual kicking it with `msbuild src/shims/ApiCompat.proj /t:Rebuild` from the project root.

[2017-04-17 21:18] svick commented on #18497
What is the point of separate `Invoke` and `InvokeStatic`? Why not just have `TResult Invoke<TResult>(params object[] parameters)`, where the first object in the array is interpreted as `this` for instance methods?

Also, another advantage of a generic method over casting is slightly better exception message (it could be something like "The method M returns A, but you used B" instead of "Cannot ca

[2017-04-17 21:18] bartonjs opened #18509 "Sanity check the DER encodings of values in certificate creation before writing them down."
Mainly this is "check that DER lengths seem sensible, recursively".  Or, from a bug perspective, "don't accept obviously bad input"

For example, the PublicKey object has EncodedParameters.  This value is of ASN.1 type ANY OPTIONAL, so it can't be validated except as follows:

* If the value is null, that's okay.
* If the value is specified, the DER payload length should be correct.
* If the tag h

[2017-04-17 21:21] danmosemsft commented on #18079
Yes, this cannot be added as it's a reference from inside to outside NS2.0.

[2017-04-17 21:21] #18079 closed

[2017-04-17 21:29] safern commented on #18431
Another one: MonoTests.System.Configuration.ConfigurationSaveTest.TestElementWithCollection
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release_prtest/3621/

[2017-04-17 21:32] #15106 closed

[2017-04-17 21:32] mairaw commented on #15106
Issue moved to [dotnet/docs #1936](https://github.com/dotnet/docs/issues/1936) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 21:34] mairaw commented on #14403
Issue moved to [dotnet/docs #1937](https://github.com/dotnet/docs/issues/1937) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 21:34] #14403 closed

[2017-04-17 21:35] mairaw commented on #14157
Issue moved to [dotnet/docs #1938](https://github.com/dotnet/docs/issues/1938) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 21:35] #14157 closed

[2017-04-17 21:37] mairaw commented on #14244
Issue moved to [dotnet/docs #1939](https://github.com/dotnet/docs/issues/1939) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 21:37] #14244 closed

[2017-04-17 21:37] danmosemsft commented on #18304
This seems resolved per discussion above. Thanks for the suggestion - feel free to make others.

[2017-04-17 21:37] #18304 closed

[2017-04-17 21:39] VSadov commented on #17741
I like "IsReadOnly".
Better than "IsReadOnlyMetadata". There is also some similarity with "IsConst".

[2017-04-17 21:43] shmao opened #18512 "DCJS_VerifyDateTimeForDateTimeFormat Fails on Unix."
DCJS_VerifyDateTimeForDateTimeFormat fails on Unix as the following method call serializes the object into different payloads,
[code]
On windows: baseline: `"\"03:58:32.00 a.m.\""`
On unix: actual output: `"\"03:58:32.00 a. m.\""`

[2017-04-17 21:46] #13308 closed

[2017-04-17 21:46] mairaw commented on #13308
Issue moved to [dotnet/docs #1940](https://github.com/dotnet/docs/issues/1940) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 21:48] mairaw commented on #8414
Sure, we can change the remarks to remove any mentions of SslStream from it. I'll move this issue to our repo now.

[2017-04-17 21:48] #8414 closed

[2017-04-17 21:48] mairaw commented on #8414
Issue moved to [dotnet/docs #1941](https://github.com/dotnet/docs/issues/1941) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 21:52] lmolkova commented on #18418
@stephentoub
It is critical for ApplicationInsights scenarios and possibly other tracing systems we unaware of, so I consider it as a bug that we should solve for 2.0

[2017-04-17 21:56] ViktorHofer commented on #10698
@JeremyKuhne @karelz High "up-for-grabs" potential?

[2017-04-17 22:01] billwert commented on #18416
@mellinoe The easiest way, probably, is to add a test that is an empty for loop and see what other tests hit the same time/iteration and investigate them by hand.

One could also imagine just JIT dumping all of the tests and grepping for the bad pattern.

[2017-04-17 22:09] ViktorHofer commented on #12565
I think supporting non string resources is a basic requirement for any king of Resource Manager implementation. Sure - as Tarek said - it will be much more important when UI stacks are joining the party. I think we shouldn't wait for that and I also see a few (server-side) uses-cases in aspnetcore for that.

[2017-04-17 22:11] benaadams commented on #18418
Currently its a sortable set of ids; change would make it unsortable due to implementation detail of a consumer. Can the hashing be changed?

[2017-04-17 22:17] steveharter commented on #17327
I was able to repro locally on Ubuntu14 and 16 but it appears my repro was due to #13464 and not "no such device or address"
[code]

[2017-04-17 22:18] #18077 closed

[2017-04-17 22:24] lmolkova commented on #18418
@benaadams
Do you mean the Ids are monotonically incremented in the sample?
Consider there are dozens of service instances started at different time and having different random seed for the 3-rd part (`number`). Ids are generated per-incoming request on particular instance and stored (along with log records) in some distributed storage.  What do you mean by sortable and what is the value of it con

[2017-04-17 22:30] krwq commented on #16988
Ok, I think we got all of the info to fix dumpling and expecting few lines fix. I asked @sepidehMS to make a fix since she got some experience with testing dumpling and buildtools 😉 Hope we will be able to get some useful dumps soon. Thanks!

[2017-04-17 22:31] marksmeltzer commented on #17316
Based on these assumptions, I will leave this issue open until there's a PGO enabled build available. At that time, I will retest and close this issue.

If there's still a noticable performance gap from 1.1, I will open a new issue and reference this one.

Will there be an announcement know when PGO gets flipped on for new builds?

________________________________
From: Andy Ayers <notifications@g

[2017-04-17 22:36] mellinoe commented on #18506
This seems expected to me, since devenv.exe is presumably in this folder. Did the "desktop" test runner behave differently in this case, or something like that?

Not sure why this is area-Infrastructure. @karelz ?

[2017-04-17 22:37] danmosemsft commented on #18461
Should be fixed by https://github.com/dotnet/corefx/pull/18503

[2017-04-17 22:37] danmosemsft commented on #18462
https://github.com/dotnet/corefx/pull/18503

[2017-04-17 22:37] #18462 closed

[2017-04-17 22:38] danmosemsft commented on #18463
should be hopefully fixed by https://github.com/dotnet/corefx/pull/18503

[2017-04-17 22:41] AtsushiKan commented on #18497
I'm not a fan of adding (**params Object[]**) overloads to apis that already have multiple overloads - it turns what used to be compiler-flagged type errors on the other overloads into compilable (but wrong) code. A (**params object[]**) overload on **Activator.CreateInstance()** got added back to NS2.0 and suddenly changed the meaning of a unit test that used to be compiled against mscorlib and g

[2017-04-17 22:42] benaadams commented on #18418
If you have something go wrong, it is generally on a single instance and at a particular time. To get an idea of what was going on you would want to pull all the traces from that time period and that instance to get an idea of what was happening and what order it occurred in. Using a datestamp is too imprecise to get event order.

[2017-04-17 22:44] jcouv opened #18516 "GenFacadesTask should enable assembly resolver"
Per discussion with Wes and Eric, if GenFacadesTask is the only task to be run, it fails to apply a workaround (something like [this](https://github.com/dotnet/buildtools/blob/78260239e4db68ad5c2df774a27d5f9a54fd92e5/src/Microsoft.DotNet.Build.Tasks.net45/IsRestoreRequired.Desktop.cs)).
As a result, it fails to load `System.IO.FileSystem` version 4.0.0.0.

In my case, as I was working on type-forw

[2017-04-17 22:49] ViktorHofer commented on #17163
@danmosemsft See Jeremys post. How much sense does it make to add these members if they only throw PNSE? If we will never implement those shouldn't we leave them out from the beginning?

[2017-04-17 22:49] karelz commented on #18516
@ericstj @weshaggard is it must have for 2.0?

[2017-04-17 22:51] lmolkova commented on #18418
1) We consider requests independent: so if something was broken by one request, in general it should not affect next requests. Of course, there are some  cases when it's not true, but we did not intend to solve that problem

2) All traces that belong to one request should share the Activity.Id generated for the request (or be descendants of this Activity). So the goal of Activity.Id that from the

[2017-04-17 23:01] davidsh commented on #18448
Have you observed what changing that property does on the wire itself? I'll need to research this on how it originally behaved in .NET Framework.  But I think this "header" isn't really transmitted as an HTTP header. But rather this property is used internally in this collection to change what is transmitted on the wire in terms of the real HTTP headers.

Did you observe any Fiddler or other trace

[2017-04-17 23:04] weshaggard commented on #18516
No in fact it should be moved to BuildTools... moving now.

[2017-04-17 23:04] weshaggard commented on #18516
Issue moved to [dotnet/buildtools #1443](https://github.com/dotnet/buildtools/issues/1443) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 23:04] #18516 closed

[2017-04-17 23:09] benaadams commented on #18418
Assuming a single request caused a problem with an instance (rather than a badly interacting set) you may have an example of a request that was having a problem then want to work backwards looking at previous requests to do root cause analysis.

And you can use that same query currently to look at requests that occurred around the same time period by removing a few characters. e.g. `select * where

[2017-04-17 23:14] jcouv opened #18518 "ValueTuple package uses pre-release package of net47 targeting pack"
Once a shipped package is available, the version in `external/netfx/netfx.depproj` should be updated.

Relates to this change: https://github.com/dotnet/corefx/pull/18519

[2017-04-17 23:15] jamesqo commented on #18497
@svick

A major gotcha would be someone converting their code from `(Foo)mi.Invoke(null)` to `mi.Invoke<Foo>(null)` and not realizing they're different (with your proposal, the second version is invoking a static method with a single parameter `null`). I don't think we should change semantics drastically.

[2017-04-17 23:15] weshaggard commented on #18083
I will be doing some diffs between NS and NETCore and some diffs between NETCore1.1 and NETCore2.0 but I wasn't planning to run all the tests I'm primarily looking at API and assembly differences to make sure they are understood and expected.

[2017-04-17 23:17] bording opened #18520 "File.GetAttributes is inconsistent when returning attributes for a hidden directory"
When running on macOS or linux (Ubuntu 16.04), if `File.GetAttributes` is used to return the attributes of a hidden directory, the results are different depending if the argument contains a trailing slash or not:

[code]
I would expect the trailing slash to not make a difference here, and `Hidden` should be returned in both cases.

[code]
[code]

[2017-04-17 23:19] benaadams commented on #18418
The issue though isn't the hash that is favouring the high values rather than the low ones; its the calculation of the sampling score where you take that integer hash then divide by `int.MaxValue` to get a double then are loosing out on the precision of the double rather than via the hash calculation.

e.g.

`samplingScore = (double)telemetry.Context.Operation.Id.GetSamplingHashCode() / int.MaxVal

[2017-04-17 23:20] jamesqo commented on #18497
@AtsushiKan

Good point. I assume you're afraid of code like this compiling:

[code]

No worries, however. There will be no instances of what was invalid code compiling, because for the new overloads you need to specify a type parameter, e.g. `mi.Invoke<Foo>(...)`.

[2017-04-17 23:22] danmosemsft commented on #17905
Sounds good, it's checked off in the list. Most of the rest only need minimal cleanup. SGEN is the major exception (@huanwu please see question above)

[2017-04-17 23:34] AndyAyersMS commented on #18416
Would be nice to standardize across CoreCLR/CoreFX on a canonical and not-very-expensive way of consuming results that the jit can't see through.

Common examples over in CoreCLR perf tests are passing the value to a noinline method, storing it to a volatile static, or conditionally storing it to some object field where the jit can't know the condition and where at runtime the condition always eva

[2017-04-17 23:37] bording opened #18521 "File.Move throws IOException on macOS when rename differs only by case"
If `File.Move` is used on macOS to rename a file that differs only by case, it fails:

[code]
This results in the following exception:

[code]
This same program does not throw when run on Windows or linux, and instead results in the renamed `Foo.txt` on disk.

I would expect this to behave consistently across all platforms.  Using `mv foo.txt Foo.txt` on macOS renames the file correctly, so I woul

[2017-04-17 23:38] jkotas commented on #18479
There are many bug fixes in .NET Core that are not in .NET Framework yet. It is by design that you can write a library that works on .NET Core and it does not break on .NET Framework - if it takes dependency on one of the bug fixes.

.NET Standard does not save you from testing your library on different runtimes and platforms to verify that it actually works, and add workarounds for runtime-specif

[2017-04-17 23:38] mellinoe commented on #18416
Yeah, it would be good to just have "standard guidance" on what to do as we write new tests, and fix up old ones. Maybe a helper library / class with obvious functions to call? A non-inlineable `PerfHelpers.PreserveResult<T>(T)` method, which does whatever we need it to do?

[2017-04-17 23:41] AtsushiKan commented on #18497
That is, unless somebody wants to add the generic variant of **Invoke(object obj, BindingFlags invokeAttr, Binder binder, object[] parameters, CultureInfo culture)** to the proposal...

[2017-04-17 23:42] danmosemsft commented on #12565
we are past feature complete date -- it would need dev mgr approval at this point and they would need good rationale (backing data why we should do this instead of work on bugs and perf...). I think it is unlikely.

[2017-04-17 23:48] benaadams commented on #18416
Wouldn't invoking a `Func<T>` or `Action` variable do this?

[2017-04-17 23:51] safern commented on #18432
@jnm2 could you open a separate issue for those and we can discuss it over there?

[2017-04-17 23:52] jamesqo commented on #18497
@AtsushiKan A generic variant of that overload isn't part of this proposal, and even if it were a type parameter would still need to be specified?

[2017-04-17 23:57] mellinoe commented on #18416
Yeah, I think there's multiple ways we could do it. I'd just like for it to be simple and obvious, so we have something easy to point to when folks start writing new tests.

[2017-04-18 00:10] mellinoe commented on #17135
It is very common to use unsafe pointers in extern methods, in my experience. I certainly do it in a lot of my libraries, and I've seen it in many libraries from others, as well. Wrapping things into IntPtr's is unnecessarily verbose when you're already doing fundamentally unsafe things. Now, it's also very common to "wrap" the PInvokes into methods will fully-safe signatures, but those call the u

[2017-04-18 00:14] ericstj commented on #2249
/cc @weshaggard

[2017-04-18 00:14] danmosemsft commented on #16510
Fixed by https://github.com/dotnet/corefx/pull/18457

[2017-04-18 00:14] #16510 closed

[2017-04-18 00:16] danmosemsft commented on #18474
@Jiayili1 added logging, please check for it when this fails again.

[2017-04-18 00:18] karelz commented on #14166
@steveharter are you working on it? It's assigned to you for quite a while ...

[2017-04-18 00:22] AndyAyersMS commented on #18416
@JosephTremoulet any ideas?

[2017-04-18 00:24] bartonjs commented on #14745
@tlbdk While we know a couple of things that can cause the exception, we don't know all of them, and we don't know which one tripped.  All we know is we called crypt32!PFXImportCertStore and it failed, signalling ERROR_FILE_NOT_FOUND.  (Actually, we don't even "know" that much, we know it failed, and so we threw an exception whose message was Windows message API value for the value Win32GetLastErr

[2017-04-18 00:25] danmosemsft commented on #17163
@ViktorHofer we are choosing to throw PNSE rather than MissingMethodException because (1) MME cannot be reliably caught, JIT can preemptively JIT even dead methods (2) MME would be thrown in a live method even if the actual codepath that calls the API is dead. So where a library has existing code that invokes the API, PNSE is likely to be better than MME - either it will never be seen, or possibly

[2017-04-18 00:29] karelz commented on #15106
Thanks! Appreciate your help with docs!

[2017-04-18 00:34] jnm2 opened #18528 "ValueTuple throws for null comparer, unlike other BCL APIs"
Continuing from https://github.com/dotnet/corefx/issues/18432.

You would expect this to succeed, but it throws `NullReferenceException`:
[code]

I'll quite often take advantage of the fact that all BCL APIs use `EqualityComparer<T>.Default`  when you pass null, and chain constructors and other methods with the parameter `IEqualityComparer<T> comparer = null`. If my own constructor or extension me

[2017-04-18 00:34] jnm2 commented on #18432
Sure thing. https://github.com/dotnet/corefx/issues/18528

[2017-04-18 00:37] danmosemsft commented on #18479
OK that's what I thought.

@bartonjs this seems expected since we don't call Cryptoconfig in Core. Doesn't seem valuable to mimic the exception here.
https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HMAC.cs#L44

[2017-04-18 00:38] safern commented on #18528
cc: @stephentoub @ianhays @danmosemsft

[2017-04-18 00:39] bartonjs opened #18530 "AsymmetricAlgorithm.{To|From}XmlString throwing wrong exception type"
https://github.com/dotnet/corefx/blob/88ec4ba8432c1444fc43ecba5bd6d70f3d41d103/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/AsymmetricAlgorithm.cs#L65-L73

ToXmlString/FromXmlString are throwing NotImplementedException.  They should throw a PlatformNotSupportedException, with a message.

[2017-04-18 00:40] danmosemsft commented on #18528
I think @jcouv owns VAlueTuple.

[2017-04-18 00:42] danmosemsft commented on #18530
Hmm, in Desktop they throw NIE. NIE is correct when something must be overridden. Is that not the case here?
[code]

[2017-04-18 00:43] karelz commented on #18083
What would be best way to do such one off run? Does anyone have required knowledge in infra? (e.g. Jose, EricM.)

[2017-04-18 00:46] danmosemsft commented on #18530
Oop, I misspoke. PNSE means not implemented on this platform. NSE means should never be reached,. eg should be overridden, or never called. NIE means we didn't finish our job. In this case, the correct seems like it should be NSE however presumably NIE is more apporpriate since that's what Desktop had and there's no particular reason to change that.

[2017-04-18 00:46] bartonjs commented on #18530
Ah, nevermind(ish).  https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/RSA.Xml.cs is really what I was looking for.(and https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/DSA.Xml.cs).

They're PNSE; though lacking in a message.

[2017-04-18 00:46] #18530 closed

[2017-04-18 00:47] karelz commented on #18506
@mellinoe I thought it is about running CoreFX tests inside VS ... ooops
@tarekgh I don't think this is IO stuff really either, this is more end-to-end. It may be either by design, or a problem in VS itself ... thoughts?

[2017-04-18 00:49] akoeplinger commented on #17135
Another problem with the proposed API is that calling dlopen() with arbitrary native libraries is prohibited on iOS and recent Androids so this wouldn't work there (i.e. unusable by Xamarin).

[2017-04-18 00:49] karelz commented on #9228
@krwq judging from the fact it is unassigned and opened, I don't think anyone looked into it yet ...

[2017-04-18 00:55] bartonjs commented on #18479
Validating null before the existing check seems reasonable to me.  The intention of the version in corefx is "throw if you're making me do soemthing I can't".  Since null is always illegal, ArgumentNullException seems good for both.  So, corefx bug.

[2017-04-18 00:56] bartonjs commented on #18479
Both bug and testbug, because the test is testing the wrong behavior, and the product is supplying it.

[2017-04-18 00:59] hughbe commented on #18486
Its odd because the managed implementation explicitly handles these cases. surely one solution could be moving CookieParser to common (it's an internal type) and using it in the same way as the .net full framework does? This would fix most compat issues

[2017-04-18 01:09] karelz commented on #18454
How is native int related to this?

[2017-04-18 01:09] mellinoe commented on #17135
That is a good point, and it may also be the case for UWP applications.

[2017-04-18 01:12] Dmitry-Matveev commented on #18418
@benaadams, here is the result of the same hash of the consecutive Activity IDs without the "double" magic:
![image](https://cloud.githubusercontent.com/assets/12158043/25110317/f5f5c08c-2397-11e7-8ecd-cc0444f01e2a.png)

This still looks pretty close. First 6 digits are often identical. The sampling decision (comparison to some sampling score threshold) on such set would be skewed regardless of "d

[2017-04-18 01:19] shmao commented on #18249
@mellinoe what was the command you used to run the perf tests? I added the following section in `System.Xml.XmlSerializer.Tests.csproj`,

[code]

And build and run the tests using the following command,
[code]

The build succeeded, but the tests didn't seem really running. What was the command you used to run the tests?

[2017-04-18 01:24] mellinoe commented on #18249
After my recent change, you can run performance tests using `/t:rebuildandtest /p:outerloop=true`. The way they are run is slightly different than if you use `/p:performance=true`, so it'd be interesting to know if that's causing the problem.

[2017-04-18 01:28] Drawaes commented on #15289
I am wondering if this API shouldn't be cast in stone yet. There is discussion going on around native int And other native data types and if that goes through should this API use those types rather than fixing in cases like

off_t is marshaled as int64_t
size_t is marshaled as int32_t

[2017-04-18 01:33] #17591 closed

[2017-04-18 01:35] SunnyWar commented on #18464
I'm an idiot. Even though poured over the code several time to make sure my conclusions were accurate I missed the fact I called .Start() on the stopwatch variable instead calling .Restart(). Now I'm seeing the 25% improvement that @stephentoub mentioned.

closing.

[2017-04-18 01:35] #18464 closed

[2017-04-18 01:46] tarekgh commented on #18506
From the issue it complains about Directory.GetCurrentDirectory() so for sure it is related to how the API works regardless the reason affect the API behavior.

[2017-04-18 01:48] eerhardt commented on #15289
The current plan is to package [Mono.Posix](https://github.com/mono/mono/tree/master/mcs/class/Mono.Posix) into a NuGet package that is compatible with .NET Core 2.0.  This would involve using the existing APIs exposed by this library.

My understanding is @bholmes is working on this.  @bholmes - any update?

[2017-04-18 01:58] benaadams commented on #18418
@Dmitri-Botcharnikov not sure how you use the sampling; but if you want to emphasise the low bits you can multiply by `0x01010101` so

[code]

Which then gives you
[code]

[2017-04-18 02:04] davidmatson commented on #17688
Here's a synthesis of options & tradeoffs after an internal survey (more from the Windows/platform mechanism side than from the .NET side) on what options to consider for local IPC in .NET. (Hopefully this is helpful for documenting when each option would be recommended/worth considering.)

* Things that operate above the stream level/at an app contract level:
    * Modern option: HTTP
    * Legac

[2017-04-18 02:35] andrey-denisenko commented on #9711
Hello There!
I faced with this issue when I tried to use **System.IO.Compression.ZipArchive** class.

- Visual Studio 2015
- target Windows 10 Anniversary Edition (10.0; Build 14393)

And as here was described, this problem appears only with ARM version of the app, and only when I trying to use shared libraries ("Compile with .NET Native toolchain" is UNchecked).

----- PROJECT.JSON -----------
{

[2017-04-18 02:44] andrey-denisenko commented on #9743
Hello There!
I faced with this issue when I tried to use **System.IO.Compression.ZipArchive** class.

- Visual Studio 2015
- target Windows 10 Anniversary Edition (10.0; Build 14393)

And as here was described, this problem appears only with ARM version of the app, and only when I trying to use shared libraries ("Compile with .NET Native toolchain" is UNchecked).

----- PROJECT.JSON -----------
{

[2017-04-18 02:52] sepidehMS commented on #18139
@AlexGhiondea Do you remember what was behind the change from the [Desktop implementation](http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/crypto.cs,108) and the [core implementation](https://source.dot.net/#System.Private.CoreLib/shared/System/Security/CryptographicException.cs,18) of `CryptographicException(int)`?

[2017-04-18 02:53] lmolkova commented on #18418
@benaadams
we cannot ask everyone who would like to use Activity to change their sampling score algorithm. We should rather change Activity to work with some popular algorithms.

[2017-04-18 03:13] benaadams commented on #18418
You would be throwing out the last fig leaf of serializability though as StartTimeUtc isn't accurate enough on coreclr and is very inaccurate on full framework.

[2017-04-18 03:15] benaadams commented on #18481
Can see why its doing what its doing, some of this stuff is pretty big 😄

[2017-04-18 03:36] lmolkova commented on #18418
Well, even if we keep current Id generation, it's always subject to change since it is internal implementation details. It is accident that currently it is monotonically incremented. You can only rely on the fact that is globally unique.

Moreover, on you service you get request from the other services that may or may not pass Request-Id header (that will be used as a ParentId on Activity). So eve

[2017-04-18 03:59] karelz commented on #18506
Do you think there is a bug in `Directory.GetCurrentDirectory`?
I assumed that it is just infra/VS setting current directory for the unit test process to that value and that's why the API returns it. If that's the case, then it is the fault of the infra/VS setting it there, rather than fault of the API itself, isn't it?

[2017-04-18 04:02] karelz commented on #18464
@SunnyWar that happens. That + measuring without warmup (i.e. incluing JIT time), doing statistics over number of iterations, etc. -- all that is exactly the reason why little benchmark wrappers like DotNetBenchmark (or MeasureIt in the past) are useful ;-).

[2017-04-18 04:07] karelz commented on #17688
I forgot that we had this issue. We had a dupe which lead to docs improvement - see #8598
I am tracking `Sockets` sample in #18394 which sparked discussion about other alternatives.

Closing this issue as dupe. @davidmatson please chime in on #18394 if your findings are not covered there. PR with docs change would be also welcome!

[2017-04-18 04:07] #17688 closed

[2017-04-18 04:42] benaadams commented on #18418
This is the absurdity; the id is used by application insights purely to generate a "random" number; which is then used to determine if its [one of the N% of events that gets sent](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/src/TelemetryChannels/ServerTelemetryChannel/Shared/SamplingTelemetryProcessor.cs#L190-L205).

The issue is that the internal implementation of corefx

[2017-04-18 04:52] benaadams commented on #18418
Ah, you want to sample all related events together so they all hash to the same threashold so the Id is sorta important. Though items will become unsampled as the Id chain gets longer.

[2017-04-18 05:08] lmolkova commented on #18418
Only first portion (root Id) will have instance name in it. Others nodes do not. So in the real case you would see mix of Ids where the root Ids generated on client side, other service, this service. Some of them may come from node.js or go app which generate Request-Id in a completely different way.

Even in the example with StackOverflow outage, you'll find request number 1234567890 was slow, bu

[2017-04-18 05:17] shmao commented on #18249
@mellinoe Thanks for the information. I was able to repro the issue. `/p:outerloop=true` worked for me. The failure was due to a bug in the test.

[2017-04-18 05:21] #17616 closed

[2017-04-18 05:43] stone-li opened #18538 "DataContractJsonSerializerTests.DCJS_VerifyDateTimeForFormatStringDCJsonSerSetting Fails on others OS"
DCJS_VerifyDateTimeForFormatStringDCJsonSerSetting pass on windows and osx, fails on others OS as the following method call serializes the object into different payloads,

`SerializeAndDeserialize(value, baseline, dcjsSettings);`

On windows and osx: baseline:  `"\"\\/Date(1291190400000{timeZoneString})\\/\""`
On others os: actual output:  `"\"\\/Date(1291161600000{timeZoneString})\\/\""`

[2017-04-18 05:43] zuoanqh commented on #18506
I was expecting it would be in the /debug directory where the unit test project is.

[2017-04-18 05:48] stone-li opened #18539 "DCJS_VerifyDateTimeForFormatStringDCJsonSerSettings Fails on Ubuntu"
DCJS_VerifyDateTimeForFormatStringDCJsonSerSettings fails on Ubuntu as the following method call serializes the object into different payloads,

`SerializeAndDeserialize(jsonTypes.DT_List, expected_DT_list, dcjsSettings);`

On windows: baseline:
`"[\"03:58:32.00 a.m.\",\"12:00:00.00 a.m.\",\"12:00:00.00 a.m.\",\"03:58:32.00 a.m.\"]";
`
On ubuntu: actual output:
`"[\"03:58:32.00 a. m.\",\"12:00:00.

[2017-04-18 05:54] dotnet-mc-bot opened #18540 "Test: System.SpanTests.SpanTests/CopyToLargeSizeTest failed with "System.OverflowException""
Opened on behalf of @Jiayili1

The test `System.SpanTests.SpanTests/CopyToLargeSizeTest(bufferSize: 4294967296)` has failed.

System.OverflowException : Arithmetic operation resulted in an overflow.

        Stack Trace:

           at System.IntPtr.op_Explicit(Int64 value)
       at System.SpanTests.SpanTests.CopyToLargeSizeTest(Int64 bufferSize)
Build : Master - 20170418.01 (Core Tests)
Failing

[2017-04-18 06:07] stone-li commented on #18512
The test only fails on Ubuntu as same with #18539

[2017-04-18 06:08] Jiayili1 commented on #18376
This issue is repro on core tests in build 20170418.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170418.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpRequestStreamTests~2FRead_FullLengthAsynchronous_Success(transferEncodingChunked:%20True,%20text:%20%5C%22%5C%22)

[2017-04-18 06:11] Jiayili1 commented on #17878
This issue is repro on core tests in build 20170418.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170418.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2017-04-18 06:18] Jiayili1 commented on #16338
@ianhays Another test System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync/SslStream_StreamToStream_Successive_ClientWrite_WithZeroBytes_Success
failed on build 20170418.01 with the same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170418.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.

[2017-04-18 06:24] Jiayili1 commented on #18540
This issue is repro on portable core test, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fportable~2Fcli~2F/build/20170418.01/workItem/System.Memory.Tests/analysis/xunit/System.SpanTests.SpanTests~2FCopyToLargeSizeTest(bufferSize:%204294967296)

[2017-04-18 07:12] karelz commented on #18195
Another hit: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/6439/testReport/junit/MonoTests.System.Configuration/ConfigurationSaveTest/AddElement/ in #18541

[2017-04-18 07:15] dotnet-mc-bot opened #18542 "Test: System.ComponentModel.DataAnnotations.Tests.CompareAttributeTests/Validate_Indexer_ThrowsTargetParameterCountException_Netfx failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.ComponentModel.DataAnnotations.Tests.CompareAttributeTests/Validate_Indexer_ThrowsTargetParameterCountException_Netfx` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.Reflection.TargetParameterCountException): Parameter count mismatch.

        Stack Trace:

           at System.Refl

[2017-04-18 07:16] karelz commented on #18431
Another hit: MonoTests.System.Configuration.ConfigurationSaveTest.AddElement
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/6439/testReport/junit/MonoTests.System.Configuration/ConfigurationSaveTest/AddElement/

@safern This looks like a wide-spread issue, are you working on it?

[2017-04-18 07:18] Jiayili1 commented on #18542
@danmosemsft Santi saied that we need to leave milestone unassigned for the issues on Jenkins' Desktop, so for Full Framework Tests, do we also need to leave the milestone unassigned?

[2017-04-18 07:23] Jiayili1 commented on #18474
@danmosemsft This issue is repro, checked that this build contains commit 6a2a0f6, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.Diagnostics.DiagnosticSource.Tests/analysis/xunit/System.Diagnostics.Tests.HttpHandlerDiagnosticListenerTests~2FTestMultipleConcurrentRequests

Message:

[2017-04-18 07:24] safern commented on #18431
I just disabled the whole class of tests and I've been investigating the whole night but it is kinda slow cause it is flaky it failes once every 10th or 20th run. I have a pretty solid lead though. I'm getting closer and the failures start to make sense, I think tomorrow could be fixed.

[2017-04-18 07:39] Jiayili1 commented on #18473
This issue is repro on build 20170418.01, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.Diagnostics.Process.Tests

[2017-04-18 07:40] Jiayili1 commented on #18472
This issue is repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FProcess_StartWithDuplicatePassword

[2017-04-18 07:41] Jiayili1 commented on #18471
This issue is repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestInvalidPriorityClass

[2017-04-18 07:45] Jiayili1 commented on #17725
This issue is repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.IO.MemoryMappedFiles.Tests/analysis/xunit/System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile~2FFileInUse_CreateFromFile_SucceedsWithReadOnly

[2017-04-18 07:49] Jiayili1 commented on #10898
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.IO.Packaging.Tests/analysis/xunit/System.IO.Packaging.Tests.Tests~2FT151_InvalidDocProps

[2017-04-18 07:49] Jiayili1 commented on #10897
This issue is repro on Full Framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.IO.Packaging.Tests/analysis/xunit/System.IO.Packaging.Tests.Tests~2FT018_GetMainDocPartAndStyleDefPart

[2017-04-18 07:55] Jiayili1 commented on #18147
This issue is repro on Full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170418.01/workItem/System.IO.Pipes.Tests/analysis/xunit/System.IO.Pipes.Tests.AnonymousPipeTest_Read_ServerIn_ClientOut~2FReadFromPipeWithClosedPartner_ReadNoBytes

[2017-04-18 07:56] karelz commented on #18431
Perfect, much faster than I expected. Thank you!

[2017-04-18 07:56] dotnet-mc-bot opened #18543 "Test: System.IO.Pipes.Tests.NamedPipeTest_CreateServer/Windows_CreateFromAlreadyBoundHandle_Throws_ArgumentException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.IO.Pipes.Tests.NamedPipeTest_CreateServer/Windows_CreateFromAlreadyBoundHandle_Throws_ArgumentException(direction: In)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentException)\r
    Actual:   typeof(System.ApplicationException): The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))

        Stac

[2017-04-18 08:00] dotnet-mc-bot opened #18544 "Test: System.IO.Pipes.Tests.NamedPipeTest_Simple_ServerInOutRead_ClientInOutWrite/CancelTokenOn_Client_ReadWriteCancelledToken_Throws_IOException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.IO.Pipes.Tests.NamedPipeTest_Simple_ServerInOutRead_ClientInOutWrite/CancelTokenOn_Client_ReadWriteCancelledToken_Throws_IOException` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.IO.IOException)\r
    Actual:   typeof(System.OperationCanceledException): The operation was canceled.

        Stack Trace:

           at System.IO._

[2017-04-18 08:05] dotnet-mc-bot opened #18545 "Test: System.IO.Tests.StreamWriterWithBufferedStream_WriteTests/NullNewLineAsync failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.StreamWriterWithBufferedStream_WriteTests/NullNewLineAsync` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.IO.StreamWriter.<WriteAsyncInternal>d__55.MoveNext()
    --- End of stack trace from previous location where exception was thrown ---

[2017-04-18 08:06] Jiayili1 commented on #18545
Failed tests:
System.IO.Tests.StreamWriterWithBufferedStream_WriteTests.NullNewLineAsync
System.IO.Tests.StringWriterTests.NullNewLineAsync
System.IO.Tests.WriteTests.NullNewLineAsync

[2017-04-18 08:33] Jiayili1 opened #18546 "Desktop: System.IO.Pipes.Tests.AnonymousPipeTest_Specific.ReadModeToByte_Accepted failed with "System.IO.IOException""
Failed test: System.IO.Pipes.Tests.AnonymousPipeTest_Specific.ReadModeToByte_Accepted

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.IO.Pipes.Tests/AnonymousPipeTest_Specific/ReadModeToByte_Accepted_serverDirection__Out__clientDirection__In_/

MESSAGE:
[code]

STACK

[2017-04-18 08:40] Jiayili1 commented on #17993
This issue is repro on desktop, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.Net.NetworkInformation.Unit.Tests/NetworkInterfaceTest/GetIsNetworkAvailable_NetworkConnectivityLevelIsNone_ReturnsFalse/

[code]

[2017-04-18 08:47] Jiayili1 opened #18547 "Desktop: System.Globalization.Tests.StringNormalizationTests.IsNormalized_Invalid failed with "Xunit.Sdk.ThrowsException""
Failed tests:
System.Globalization.Tests.StringNormalizationTests.IsNormalized_Invalid
System.Globalization.Tests.StringNormalizationTests.Normalize_Invalid

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.Globalization.Tests/StringNormalizationTests/IsNormalized_Inval

[2017-04-18 08:56] cwe1ss commented on #18418
My opinion still follows the opentracing practices. Either let tracers create the ID(s) themselves (to let them use whatever they want/need) or - if you want/need to standardize - use separate IDs: a 64/128bit random for the trace id and a 64bit for the span/activity-id. This seems to be the common practice among tracers who adopted OpenTracing. ulong trace-ids would allow for simple "lower than"

[2017-04-18 08:59] karelz commented on #8684
We should not close bugs if they are low-pri. If it is something valuable for the code base, we should move it to Future. Thanks @ViktorHofer for fixing it!

[2017-04-18 08:59] Jiayili1 opened #18548 "Desktop: System.Xml.Tests.TCValidateElement.StringPassedToValidateEndElementDoesNotSatisfyIdentityConstraints failed with "Xunit.Sdk.EqualException""
Failed test: System.Xml.Tests.TCValidateElement.StringPassedToValidateEndElementDoesNotSatisfyIdentityConstraints

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.Xml.Tests/TCValidateElement/StringPassedToValidateEndElementDoesNotSatisfyIdentityConstraints/

MESSAGE:
[

[2017-04-18 09:00] EgorBo commented on #17866
`*.Evidence`, `*.CreatePermission.cs` were added by us for mono, indeed, probably we should rename them to `*.Mono.cs` @marek-safar

[2017-04-18 09:12] marek-safar commented on #17866
We need to add mono files to mono configuration build but I think this configuration is still not included in CoreFX CI

[2017-04-18 09:13] Jiayili1 opened #18549 "Desktop: System.Threading.Tasks.Tests.CancellationTokenTests.TokenSourceDispose_Negative failed with """
Failed test: System.Threading.Tasks.Tests.CancellationTokenTests.TokenSourceDispose_Negative

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.Threading.Tasks.Tests/CancellationTokenTests/TokenSourceDispose_Negative/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-18 09:16] Jiayili1 opened #18550 "Desktop: Tests under "System.Threading.Tasks.Tests.UnwrapTests" failed with "Xunit.Sdk.SameException""
Failed tests:
 System.Threading.Tasks.Tests.UnwrapTests.NonGeneric_Completed_Completed
 System.Threading.Tasks.Tests.UnwrapTests.Generic_Completed_Completed

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/consoleText

[code]

[2017-04-18 09:20] Jiayili1 opened #18551 "Desktop: Tests under "System.Threading.Tasks.Tests.RunContinuationsAsynchronouslyTests" failed with "Xunit.Sdk.NotEqualException""
Failed tests:
 System.Threading.Tasks.Tests.RunContinuationsAsynchronouslyTests.ViaWhenAny
 System.Threading.Tasks.Tests.RunContinuationsAsynchronouslyTests.ViaUnwrap
 System.Threading.Tasks.Tests.RunContinuationsAsynchronouslyTests.ViaWhenAll

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/lastCompletedBuild/testReport/System.Threading.Tasks.Tests/Run

[2017-04-18 09:31] tmds commented on #17749
@karelz @stephentoub @steveharter What do you think about replacing gethostbyname with getaddrinfo? I can do a PR.

[2017-04-18 09:33] Jiayili1 commented on #18431
This test still failed: MonoTests.System.Configuration.ConfigurationSaveTest.ModifyListElement2
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_release/18/testReport/MonoTests.System.Configuration/ConfigurationSaveTest/ModifyListElement2/

Does it also need to be disabled?

[2017-04-18 09:33] karelz commented on #17749
@tmds It might go against some of the planned work on our side. Let me check offline first.

[2017-04-18 09:35] Jiayili1 commented on #17187
Failed again here: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/759/testReport/System.Diagnostics.Tests/ProcessThreadTests/TestCommonPriorityAndTimeProperties/

[2017-04-18 10:06] Edward-Zhou opened #18552 "There is no TcpClient(string hostname, int port) in .Net Core 1.1.0"
I followed below link to try TcpClient, but there is no TcpClient(string hostname, int port) in current version of System.Net.Sockets.
[TcpClient Class](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.tcpclient?view=netcore-1.1.0).
It seems TcpClient(string hostname, int port) are defined in [https://github.com/dotnet/corefx/blob/df579d8531104524aeadd2377a12de67f256545e/src/System.N

[2017-04-18 10:25] benaadams commented on #18418
@lmolkova yes I see the problem 😢

Its just a shame that a string hash that favours changes to the the low bits (djb2 so modulus works); has been combined with a sampling method that favours changes to the high bits.

However, in spite of my protestations going more random shouldn't cause too much of an issue and will make people take less of a dependency on its behaviour (other than it being more

[2017-04-18 10:38] agoretsky commented on #18552
It was added for .NET Core 2.0, with 1.1 you have to use ConnectAsync method. https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-1.1.0&term=tcpclient

[2017-04-18 11:12] #18249 closed

[2017-04-18 11:51] ViktorHofer commented on #18552
@Edward-Zhou if you are fine with @agoretsky s answer, please close the issue.

[2017-04-18 12:21] ViktorHofer commented on #4002
It seems like www.microsoft.com always returns an IPv4 and IPv6 DNS record. Of course it depends on where you are doing the lookup but it seems the domain should fit.

[2017-04-18 12:32] #18552 closed

[2017-04-18 12:50] stephentoub commented on #18551
What version of the .NET Framework is being used here?

[2017-04-18 12:51] stephentoub commented on #18550
This was an improvement in .NET Core, an added optimization that the test is checking for.  The test can be disabled on .NET Framework.

[2017-04-18 12:55] stephentoub commented on #18549
What version of the .NET Framework is being used / are any quirks being set?  This should only throw like this if it's an older version or a quirk is enabled to trigger this:
https://referencesource.microsoft.com/#mscorlib/system/threading/CancellationTokenSource.cs,639

[2017-04-18 14:11] JosephTremoulet commented on #18416
My go-to pattern for this is volatile stores; AFAIK it's really the only thing that unambiguously tells the compiler that it must compute the value in question, so it will best hold up against future optimization improvements (e.g., passing the value to a noinline method would get defeated by analyzing the callee to see if it uses parameters and passing garbage values for unused ones, storing unde

[2017-04-18 14:33] danmosemsft commented on #18547
https://github.com/dotnet/corefx/pull/18535

[2017-04-18 14:33] #18547 closed

[2017-04-18 14:35] danmosemsft commented on #18545
https://github.com/dotnet/corefx/pull/18534

[2017-04-18 14:35] #18545 closed

[2017-04-18 14:36] danmosemsft commented on #18549
@safern for q above

[2017-04-18 14:51] stephentoub commented on #18549
(I seem to remember now that the issue may be quirks are kicking in because the xunit runner was built against an older version of the framework.)

[2017-04-18 15:07] vancem commented on #18418
It is not clear to me yet what the proposed fix is.   I really LIKE the fact the root ID starts with identifiable things like the name of the machine, and something that represents the process on that machine.   Also it is unclear what change is sufficient (which is all we are looking for).

For example, it would be trivial when generating IDs to use 0xB50001 as the number to add to get the 'next'

[2017-04-18 15:17] tarekgh commented on #18506
We'll not know the root cause without debugging Directory.GetCurrentDirectory.

[2017-04-18 15:32] davidsh commented on #18486
I don't think this is a known issue.

[2017-04-18 15:45] cwe1ss commented on #18418
These things should be added as separate tags/metadata by the tracer. It's way too hard to query otherwise. Having them in the ID as well is just duplication.

[2017-04-18 15:54] karelz commented on #17749
It is likely we will soon need to target platform where it is not available.
If we keep it under ifdef, we can make the change. Would that be valuable in such case for the platforms that support the new POSIX API?

[2017-04-18 16:04] cwe1ss commented on #18418
Not really IMO, because you probably wouldn't be able to do these kind of queries in any tracer.

I think incremental request ids would have to be another tag which could easily be added by people who need it. It could then be a regular ulong that's easily queryable. As a separate field it also wouldn't need to have any uniqueness requirements (because it would be queried together with the process

[2017-04-18 16:11] olivier-spinelli commented on #18354
The [Serializable] is back (I don't need it since I think it is as useless as a generic in-depth Clone method) but fine. Howerver, I have one major design concern. Current design forces us to store transient serialization data  in the object itself. It is awful by design and, IMO, defeats the "simple-safe-easy-to-use-principle" of the API:
- It is not obvious that storing this transient sate shoul

[2017-04-18 16:20] tmds commented on #17749
I was under the assumption the old function was no longer needed and this would also clean-up the implementation.
If it is still needed, adding another ifdef will make the code more error-prone especially because the return types from gethostbyname and getaddrinfo are not the same.
getaddrinfo has been around for quite a while, I am curious what platform doesn't support it.

[2017-04-18 16:33] danmosemsft commented on #18506
@tarekgh surely the odds of GetCurrentDirectory returning anything other than GetCurrentDirectoryW is extremely small. Either (1) the current directory is not wrong, something else is or (2) someone up stack is setting it to something wrong. Either way it seems it should not be in this repo untill someone investigates and demonstrates it's a base issue. What do you think?

[2017-04-18 16:36] weshaggard commented on #18083
We don't have the specific infra to do such a run it will require some deeper knowledge of the system to do some tweaks and make it work in this manor. I think both @mellinoe and @joperezr would be able to do it.

[2017-04-18 16:38] #18549 closed

[2017-04-18 16:38] #18550 closed

[2017-04-18 16:41] danmosemsft commented on #18544
@ianhays expected difference?

[2017-04-18 16:43] danmosemsft commented on #18543
@ianhays expected difference?

[2017-04-18 16:43] danmosemsft commented on #18542
@Jiayili1 yes please leave unassigned and @safern will pick the right milestone.

[2017-04-18 16:43] karelz commented on #18083
@mellinoe I think you're pretty booked for next 3 weeks (infra area + perf), aren't you? @joperezr do you have free cycles to help here (assuming @danmosemsft is fine with that).

[2017-04-18 16:44] danmosemsft commented on #18540
@ahsonkhan, @shiftylogic is this expected difference?

[2017-04-18 16:44] zhenlan commented on #18354
Hi @olivier-spinelli thanks for the feedback. This issue is really only meant to track work items we will be doing in Sprint 117 and it will be closed when its associated work items are finished. I don't want your feedback/question gets lost as part of it. Do you mind to open a new issue for it? I can open a new issue for you too but wondering you may like to open the issue in your name. Please le

[2017-04-18 16:45] danmosemsft commented on #18083
I think it makes sense for @joperezr to grab this when he's back May 1st.

[2017-04-18 16:45] tarekgh commented on #18506
@danmosemsft feel free to move it to any repo you think it should belongs to.

[2017-04-18 16:47] danmosemsft commented on #18540
This test was recently added -- 6318bd3 @WinCPP

[2017-04-18 16:49] olivier-spinelli opened #18559 "Old Serialization design is back but it needs refactoring."
The [Serializable] is back (I don't need it since I think it is as useless as a generic in-depth Clone method) but fine. Howerver, I have one major design concern. Current design forces us to store transient serialization data  in the object itself. It is awful by design and, IMO, defeats the "simple-safe-easy-to-use-principle" of the API:
- It is not obvious that storing this transient sate shoul

[2017-04-18 16:52] danmosemsft commented on #18506
Yep, I should have done that instead of porting it here.
@zuoanqh please open a VS bug using instructions here: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017

[2017-04-18 16:52] #18506 closed

[2017-04-18 16:53] SergeyKanzhelev commented on #18418
@cwe1ss proposal to use random will work the best as it forces developer to NOT rely on internal implementation details. Carrying extra pieces of information like machine name and sequence number is not the ID task.

Also without the randomness of ID Application Insights will generate and store in the context the sampling score number for EVERY request which is quite an overhead assuming that most

[2017-04-18 16:53] sergiy-k commented on #2576
This work (Thread for UWP) happens in the CoreRT repo (https://github.com/dotnet/corert). It is part of the .NET Standard 2.0 work. You are very welcome to contribute if you have some time. :)

[2017-04-18 16:55] danmosemsft commented on #18559
@olivier-spinelli as you observed, it's brought back purely so there's a compatible surface area -- it's easier to bring existing code (libraries) from desktop/xamarin/unity to Core. If it wasn't for compat we would not have brought it over as it has some serious drawbacks - it is really hard to maintain. We are however not planning to support cross-framework compatibility and the current plan is

[2017-04-18 16:57] danmosemsft commented on #9917
@gkhanna79 same question - is this different to what we've already done recently?

[2017-04-18 16:57] danmosemsft commented on #16363
@mellinoe @ericstj marked this blocking-release and you made it future. can you fix one way or another

[2017-04-18 17:01] ericstj commented on #16363
If we don't have an automated way to do it we should at least manually do it, so I want to keep this in 2.0.0 milestone.

[2017-04-18 17:03] akoeplinger commented on #18394
No, gRPC is probably a better fit for Messaging or Libraries. The list in the Microsoft/dotnet repo is community maintained so anyone can add their project to it.

None of the existing sections is 100% perfect for a Remoting replacement, but I think linking to the Messaging and Libraries section would probably be a good start.

[2017-04-18 17:15] ericstj commented on #9743
Please share your project.lock.json file if you'd like us to identify the problem.  Typically this would happen if you've somehow downgraded one of the packages that makes up UWP so that you're bringing in an older version of one of our packages.

The workaround is to directly reference the **runtime-specific** package, in `project.json`:
[code]

[2017-04-18 17:17] terrajobst commented on #17067
Good point, we discussed this and decided that `uint` is generally not worth the hassle. Especially for types that essentially pass through for most devs. So we approved this API shape:

[code]

We still care about CLS compliance.

[2017-04-18 17:18] olivier-spinelli commented on #18559
I understand this but the cost seems too much to me. Look at the beautiful ConcurrentStack: one Node _head... and a T[] _serializationArray: 2 references instead of only one. You may consider me a "purist", but storing transient refs in an object state is (one of) the root of all evil :(.

I understand the "keep the old code working", but the .Net Core ConcurrentStack is NOT legacy code. It's a ne

[2017-04-18 17:20] andrey-denisenko commented on #9743
[project.json.txt](https://github.com/dotnet/corefx/files/930524/project.json.txt)
[project.lock.json.txt](https://github.com/dotnet/corefx/files/930523/project.lock.json.txt)

[2017-04-18 17:26] davidmatson commented on #18394
From a related issue (#17688) and as mentioned above, I think it's worth distinguishing which abstraction level an IPC mechanism supports, and choosing based on that and other tradeoffs. For something RPC-like, I think the only modern built-in option is an HTTP stack.

Here's a synthesis of options & tradeoffs after an internal survey (more from the Windows/platform mechanism side than from the .N