[2019-09-13 15:04] ManickaP commented on #41085
Yeah, I noticed that it's not loading my currently built dlls. I changed the path to `testhost` dir and updated the xunit config to use 5.0.0 version, this combination works as well.

[code]

[2019-09-13 15:18] karelz commented on #39564
@ahsonkhan are we ready to review the API? @xsoheilalizadeh is eager to implement it ...

[2019-09-13 15:21] ViktorHofer commented on #41085
You are missing some args which is the reason why you needed to update the version in the runtimeconfig.json file.

[2019-09-13 15:24] Trolldemorted commented on #40892
Do you depend on a reproducible setup that causes an empty first segment, or is my poc sufficient for now?

[2019-09-13 15:32] ViktorHofer commented on #41085
When doing an `dotnet msbuild /t:RebuildAndTest` you can see the used arguments. everything after dotnet.exe is an argument:

[code]

[2019-09-13 16:21] scalablecory commented on #24770
Outside of explicitly implemented members, we have no methods that mutate a dictionary taking a KeyValuePair.

Doesn't mean it can't be done, but it would not be look right.

[2019-09-13 16:27] scalablecory commented on #24770
It depends on the type of `state`. I call this out in open questions. Note, TryUpdate and ICollection.Remove have the same issue -- this isn't immediately obvious to users.

[2019-09-13 16:27] jdelta-RBS commented on #40201
Apologies if stupid question, but would this affect both 2.2.6 and 2.1.13?

[2019-09-13 16:34] scalablecory commented on #24770
The struggle with this API is that you want similar naming to TryUpdate, which is a "double-input conditional", but TryRemove is already taken for a different purpose with a signature that varies only by a `ref`.

A `TryRemove(key, value, ref oldvalue)` would actually allow more efficient usage in a spin loop, so I'm not opposed to it, but it does feel strange to me to be moving the ref's position

[2019-09-13 16:36] nettolicious opened #41091 "Reading HttpResponseMessage.Content.Headers.ContentLength allocates ContentLength memory even with HEAD request"
This is dotnet core 2.2, using the default IHttpClientFactory. Making a HEAD request to check size of  a file to download. Accessing the Content.Headers.ContentLength property of the HttpResponseMessage causes memory to be allocated equal to the value of ContentLength.
![MemoryAllocation](https://user-images.githubusercontent.com/37562625/64879079-59736180-d612-11e9-82a1-56142915f0f0.jpg)

[2019-09-13 16:42] benaadams commented on #24770
`KeyValuePair<TKey, TValue>` makes more sense to me; as what you are trying to remove is literally the key value pair when both the key and value are equal to the given one; you want to remove both the key and value.

[2019-09-13 16:44] pranavkm opened #41093 "[Url] attribute allows spaces"
_From @MythreyaK on Friday, September 13, 2019 10:01:50 AM_

### Describe the bug
The [Url] attribute accepts URLs of the form `http://www.exam ple.com` and <br/> `http://example.com/foo bar`. From what I've read around, a URL shouldn't contain a literal space. Is this the expected behavior?

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.0' (from what

[2019-09-13 16:44] benaadams commented on #24770
`KeyValuePair<TKey, TValue>` makes more sense to me; as what you are trying to remove is literally the key value pair when both the key and value are equal to the given one; you want to remove both the key and value. i.e. remove this ValueType from the dictionary if its there.

[2019-09-13 16:47] tarekgh commented on #40201
No, this change will be applied to the future release 5.0 only.

[2019-09-13 16:49] jdelta1 commented on #40201
No I mean the issue itself

[2019-09-13 16:49] jdelta-RBS commented on #40201
No I meant about the issue itself, thanks.

[2019-09-13 16:54] danmosemsft commented on #41026
What distro was this @ManickaP ?

[2019-09-13 16:54] tarekgh commented on #40201
Then the answer is yes. the issue should repro on all versions of net core.

[2019-09-13 16:56] danmosemsft commented on #41031
@mkArtakMSFT is the implication that there is a bug in System.Text.Json here? Can you help us with a more limited repro? This isn't really actionable for us.

[2019-09-13 16:56] wtgodbe opened #41094 "Investigate effects of missing IBCData for System.Private.DataContractSerialization"
https://github.com/dotnet/core-setup/pull/6882/files#diff-dbeccf05edc7e819ff6a62d63a4f44eeL313

Information from PR:

CC @adiaaida @MichalStrehovsky @brianrob

[2019-09-13 16:57] dagood commented on #41094
It seems like any investigation work on the scenarios or fixes would be in CoreFX, the only Core-Setup change is a config flag--transferring.

[2019-09-13 16:59] MichalStrehovsky commented on #41094
Cc @sergiy-k

[2019-09-13 17:02] krwq opened #41095 "SerialStream does not support cancellation on Windows"
Current Windows implementation does not respect cancellation but Unix implementation does.

We should consider doing similar effort for Windows.

cc: @dquist

Marking as 5.0 to consider. Note that netfx also does not support cancellation there.

[2019-09-13 17:05] krwq commented on #25154
@dquist I've created the issue about this.

I think I kinda always assumed cancellation is a best effort and might not work immediately or be ignored by implementation but I think it makes sense to clarify the docs about it.

[2019-09-13 17:05] davidsh commented on #40204
@bartonjs Can you comment on this? Does OpenSsl on Linux support zero length fragments? Is this scenario possible on Linux or Mac in general?

[2019-09-13 17:07] davidsh commented on #40830
@krwq @Tratcher Is there something actionable here for .NET Core to make this scenario work? Or does this scenario require OS configuration (i.e. env variables) etc.? Trying to decide what to do with this issue.

[2019-09-13 17:10] davidsh commented on #25154
In general, .NET cancellation via the CancellationToken semantics are always cooperative and best-effort. Implementations monitor the cancel token and try to cancel at the appropriate place, if possible. But cancellation is never guaranteed.

If there are .NET APIs that completely, 100%, ignore the cancellation token then we should document that. But in general, we don't need to document every API

[2019-09-13 17:15] dquist commented on #25154
I understand that the cancellation is best effort, but it's especially confusing when there multiple Stream implementations that handle cancellation differently, not to mention two platform-specific implementations of `SerialStream` that differ wildly how cancellation is handled.

This makes me sad from an API consumer standpoint since it makes it nearly impossible to build a consistent API using

[2019-09-13 17:35] krwq commented on #25154
@dquist note that most of the time the Read/WriteTimeout should be used for cancellation since this covers most typical scenarios and I believe they work correctly on both platforms - let's move SerialPort specific conversation to the other issue so it doesn't get lost though.

[2019-09-13 17:36] davidsh commented on #40725
@fawdlstty I tried the repro. But I'm having trouble getting it to work. It seems to have a lot of hard-coded paths, i.e. "d:\", and "f:\" which aren't going to work on most machines.

Can you simplify this repro more so that it is easier to get running?

[2019-09-13 17:38] pgovind commented on #40988
I added a discussion section to adddress the question.

[2019-09-13 17:41] dquist commented on #41095
How would that work since that's a `SerialPort` property and `SerialPort` doesn't have any async methods? The only way to do an async read is through the BaseStream instance.

If I set a timeout value and call `SerialPort.Read`, that's a synchronous call and will block my UI thread, forcing me to wrap it in a Task.Run(). Is that correct?

[2019-09-13 17:43] dquist commented on #41095
Btw here's an extension method I wrote which wraps the `ReadAsync` call in a Task.Run which waits on the cancellation token. I can then use this on any stream instance to guarantee that the cancellation token is respected.

[code]

[2019-09-13 17:43] krwq commented on #40830
I think the only actionable thing at this moment might be adding something equivalent to CipherSuitesPolicy.PreferServerOrder but there would have to be some investigation done prior to that as there are some rough edges (i.e. how to express `use OS default cipher suites list` since this is currently done by passing `(CipherSuitesPolicy)null` and check if this is possible to implement on at least

[2019-09-13 17:44] stephentoub commented on #41091
Can you try .NET Core 3.0?  This sounds like the same issue fixed in https://github.com/dotnet/corefx/pull/3812.

[2019-09-13 17:49] stephentoub commented on #41005
I don't think we should add such an API; it's too specific, and if the goal is to eliminate an array allocation, it still won't help with the fact that the BitArray itself needs to be allocated and an underlying array it manages needs to be allocated.

If we were going to add any APIs here, it should be a ctor that takes a `ReadOnlySpan<byte>` and a `CopyTo` method that takes a `Span<byte>`.  If y

[2019-09-13 17:57] davidsh commented on #40725
ok. I was able to work around the error by changing the listening port from "1234" to "10234" and adjust my firewall.

The summary is that the behavior you see is BY-DESIGN. Your server application is using an untrusted certificate and with a subject name of "localhost". When you use the browser to connect to this test server, the browser will recognize these errors in the certificate sent from yo

[2019-09-13 18:00] #40725 closed

[2019-09-13 18:01] stephentoub commented on #24770
This isn't impacted by whether something is explicitly or implicitly implemented. If I'm using an IDictionary<>, that API is there front and center, available in IntelliSense, doesn't require any casting to call it, etc.

Remove makes no promise about comparing a value, and the comparison TryUpdate does is limited to equality. This is a very different issue, with the intended use case being one th

[2019-09-13 18:03] davidsh commented on #41091
@stephentoub I don't think #3812 is the right issue/PR to link against.

[2019-09-13 18:05] stephentoub commented on #41091
(Fixed.  Was missing a 9 at the end.)

[2019-09-13 18:07] FiniteReality commented on #40988
I see. So this is basically just a range which can support holes?

[2019-09-13 18:51] caihongxu opened #41096 "Allows JsonStringEnumConverter.CreateConverter to specify a default enum value"
that allows parsing unrecognized strings/numbers into a specified default enum value. Currently if unrecognized strings/numbers are encountered an exception is thrown.

[2019-09-13 19:03] theonlyremedy commented on #41015
Hey @Wraith2 & @DaZombieKiller Please have a look at the attached sample zip which was created using .Net Core code, when I checked the property in WinRAR, it showed HostOS as DOS, is this value added during creation and used during extraction? Attached screenshot below.
![image](https://user-images.githubusercontent.com/11273401/64887863-2cad6180-d687-11e9-8c01-e1a735d63535.png)

[archive.zip](ht

[2019-09-13 19:19] pranavkm opened #41097 "JsonSerializer.Deserialize results in a null ref when attempting to deserialize a open generic type"
Not a useful scenario by any means, but the exception message could be better:

[code]

[2019-09-13 19:23] pranavkm commented on #41097
In a similar vein, for other open generic types, the exception message is a bit obtuse:

[code]

Could the serializer check further up the stack if the type is an open generic and throw instead?

[2019-09-13 19:32] ManickaP commented on #41085
Thanks a lot @ViktorHofer, the culprit was the missing runtime config.
I'll update the doc accordingly, so please don't close it yet.

[2019-09-13 19:34] ViktorHofer commented on #41085
If you make doc changes please don't hardcode the existing arguments as they are likely to change. Instead I would mention that all arguments need to be specified and how to retrieve them.

[2019-09-13 19:41] carlossanlop commented on #15599
Java and Python expose the zip archive comment in their public APIs. WinZip and WinRAR have the ability to show it too. The`unzip` tool in Unix automatically prints the zip archive comment right before starting to extract files.

7-zip, Windows Explorer and corefx do not show the zip archive comment.

[2019-09-13 19:46] krwq commented on #41095
https://github.com/dotnet/corefx/blob/master/src/System.IO.Ports/src/System/IO/Ports/SerialStream.Windows.cs#L659

@dquist I'm not sure what Task.Run gives you in that method - I'd expect cancellation to behave mostly the same with or without Task.Run

[2019-09-13 19:52] agr commented on #40993
I have specified the expected value of `AbsoluteUri` above. Most of the questions asked here were answered in the previous issue that was closed for no good reason. Is there really a need to reiterate on those?

How producing `file:///e:/Afoo%20bar%2525.baz` from `e:\%41foo%20bar%25.baz` is helpful if *anything* that would try access the resource that URI points to would fail?

[2019-09-13 19:58] ViktorHofer commented on #41093
Please don't create new labels that don't match our guidelines.

[2019-09-13 20:20] davidsh commented on #41091
Closing this since it appears the issue is fixed already in .NET Core 3.0.

[2019-09-13 20:20] #41091 closed

[2019-09-13 20:33] davidsh commented on #19914
@terrajobst @ericstj Is there any way we can "mark" the NuGet package for System.Net.Http as "deprecated" or "please stop using, instead you can simply use Microsoft.NETCore.App", etc.? Can we delist the package on NuGet.org so that new applications being developed won't find it?

Or is this a "time solves all problems" kind of thing where eventually, all the upstream packages will change and stop

[2019-09-13 21:25] bartonjs commented on #40204
@davidsh No idea. A quick search turned up a bug in a product saying that it works at OpenSSL's layer, but not theirs.  We may have a similar problem if we're failing.

When it comes to TLS I'm more a black-box user with a good understanding of what's going on around it.

[2019-09-13 21:38] ManickaP commented on #41026
No distro, ran on Windows for os `Unix`.
I've learned later in #41029 that no such option exists but is one of the only two listed by builds help.

Apart from improving the help might also be nice to check the option value against supported list of OSes and report some understandable error.

This might be solved in #41029, closing.

[2019-09-13 21:38] #41026 closed

[2019-09-13 22:57] Wraith2 commented on #41015
Yup, the _versionMadeByPlatform is set to windows when I open that file. So perhaps when compressing it isn't being set. To check on the non-windows system where you're compressing the file can you try adding in this code and see what you get
[code]

[2019-09-13 23:21] scalablecory commented on #24770
I think we've crossed some wires -- this issue is much simpler to me than I'm hearing you state it. Fundamentally what I'm asking for is to surface `ICollection<>.Remove` as an API that is idiomatic to `ConcurrentDictionary`, as we have done with several other `ICollection<>` and `IDictionary<>` APIs.

`TryRemoveIf` would have identical functionality to its implementation of `ICollection<>.Remove`

[2019-09-13 23:25] terrajobst commented on #33553
Yes,, @bartonjs is working on guidlines for tuples, it basically is:

1. Prefer custom structs/classes because they can be evolved
2. If you use tuples, use ValueTuple<>
3. Name your tuple elements using PascalCase

[2019-09-13 23:29] hugener opened #41100 "Why not write more than 1 byte to the buffer and that way reduce the number of calls to Next/InternalSample in System.Random.NextBytes?"
I noticed in another issue that the implementation of NextBytes should not be changed (https://github.com/dotnet/corefx/issues/22356#issuecomment-325815511) and I don't know how good the distribution would be.
But it seem like the number of calls to Next/InternalSample could be reduced by 4 (best case), if using all 4 bytes in the int returned by Next/InternalSample. Would there be arguments again

[2019-09-13 23:31] zezba9000 opened #41144 "BUG: Json.NET converter for IPAddress does not work in .NET Core 3.0 specifically"
Using Json.NET converters within the .NET Core 3.0 runtime fails. However in .NET Core 2.2 or .NET Framework 4.8 it works fine.

It seems like some "Type" is not coming through correctly.

.NET Core versions are both using the same .NET Standard 2.0 Json.NET lib.
This makes me think its a .NET runtime issue of some kind or another but I can't be sure.

**Download this example project that you can

[2019-09-13 23:36] scalablecory commented on #41100
We'd want measurements on distribution and performance impact.

There's also a concern that implementations may be written expecting it to function this way... we'd want to understand the effects there.

[2019-09-13 23:37] GrabYourPitchforks commented on #41100
I think there are back-compat requirements on the behavior of `System.Random`, and making this performance optimization would break those existing callers. @ericstj - do you have any context here?

[2019-09-13 23:50] tarekgh commented on #41049
Maybe the logic is not fully right in your app? Here is what I think is happening but I don't know why:

-  Microsoft.EntityFrameworkCore.Internal.RelationalLoggerExtensions.CommandExecuting get executed and the asyncLocal status will be s1 = (name: CommandExecuting, prevStatus: null)
- Next System.Data.SqlClient.SqlClientDiagnosticListenerExtensions.WriteCommandBefore executed and the asyncLocal

[2019-09-14 00:08] stephentoub commented on #24770
I'm not sure where you're getting that from. I designed ConcurrentDictionary.  Whether an API took KeyValuePair was not part of the decision to leave Remove explicitly implemented.  Rather, it was that we were using Try prefixes to help connote the transient nature of state in the dictionary and to impress upon folks that every mutating operation couldn't depend upon previously validated state.

W

[2019-09-14 00:41] scalablecory commented on #24770
I've updated the sample in the proposal to something more reasonable.

[2019-09-14 00:57] scalablecory commented on #24770
This is my concern as well. `ConcurrentDictionary` is certainly not an "expert-only" class. I think `TryUpdate` has the same issue, but if we can think of more cases where a `TryRemoveIf` would be misused, I'm swayable toward thinking this isn't a good idea.

[2019-09-14 02:30] stephentoub commented on #37989
Failed again in https://github.com/dotnet/corefx/pull/41101

[2019-09-14 03:16] ahsonkhan commented on #41096
cc @JeremyKuhne

[2019-09-14 03:17] ahsonkhan commented on #41097
cc @steveharter, @layomia

[2019-09-14 04:44] bartonjs commented on #33553
It's more "If you use tuples, use named tuples." (which happens to mean ValueTuple + attributes).  Returning (unnamed) ValueTuple is a no-no.

[2019-09-14 06:43] theonlyremedy commented on #41015
@Wraith2 Below is the code I used to create ZipArchive, I ran the code in both Windows 10 and Ubuntu 18.04 (using WSL).

[code]
The output archive's properties from WinRAR
![image](https://user-images.githubusercontent.com/11273401/64904447-da505d00-d6e7-11e9-8a59-7fd8da5dc632.png)

Archivers read this value, but I doubt they use it. When I open the archives created in Linux and Windows they both

[2019-09-14 09:15] EdiWang opened #41102 "NotSupportedException when Deserializing object that has default values for constructor parameters"
The following code throws exception.

[code]

Response class is considered not having a parameterless constructor, but actually it does use default values for parameters, that can be used just like a parameterless constructor, like this:

[code]

Could the new JSON API check if the constructor parameters have default values before consider it not paremeterless?

Related Issues:
https://github.com/

[2019-09-14 10:49] am11 commented on #41093
Could https://github.com/dotnet/corefx/blob/f07730eedb1f7e2cb5e178d988bc2255f7ce7021/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/UrlAttribute.cs#L19-L30 simply use [`Uri.IsWellFormedUriString`](https://docs.microsoft.com/en-us/dotnet/api/system.uri.iswellformeduristring?view=netcore-3.0) instead to allow other valid protocols?

[code]

[2019-09-14 13:30] HughPH opened #41105 "JsonSerializer.Deserialize<T> cannot serialize into custom IEnumerable"
My class is designed to get the items from an Amazon DynamoDB query and convert them to T through the magic of the Enumerator:

[code]

Json Deserializers detect IEnumerable and expect the JSON at that level to therefore be a set (where this class represents a complex object containing both set metadata and set members). I can override that behaviour with Newtonsoft by adding the [JsonObject] attr

[2019-09-14 13:56] HughPH opened #41107 "JsonSerializer.Deserialize<T> can't work out my array of dictionaries"
My class is designed to get the items from an Amazon DynamoDB query so that they can be converted to T with a class that implements IEnumerable<T>

[code]

Newtonsoft can deserialize into this class with no difficulty at all, but JsonSerializer.Deserialize just leaves the array null.

Example json:

[code]

Don't blame me for the insane JSON, blame Amazon. This example is lifted directly out of th

[2019-09-14 15:21] DragonSpit commented on #17147
One operation 128-bit integer support is useful for is summation of ulong[] and long[] arrays. Since there is no bigger integer type than long or ulong, sum can cause arithmetic overflow, with currently the only alternatives being Decimal and BigInteger. With exposing native CPU support for 128-bit arithmetic, summation of long[] and ulong[] arrays would perform significantly faster than using Dec

[2019-09-14 15:29] davidfowl commented on #41107
Why is it an array of dictionaries? Which field becomes the string key? Also what's the generic argument for? I don't see it being used in your type definition?

[2019-09-14 15:37] davidsh opened #41108 "HttpClient NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds failing"
The remote server "revoked.badssl.com" has a certificate which is not only revoked but also now untrusted since it has expired.

![image](https://user-images.githubusercontent.com/7684835/64910388-bfbbbb00-d6ca-11e9-8654-127a101558e0.png)

Will disable the test for now.

[2019-09-14 15:43] DavidArno commented on #33553
@terrajobst,

It’s extremely disappointing that the BCL team are in any way trying to offer guidelines on a language feature. All three guidelines are unhelpful and miss the point of tuples completely.

 Whether to use a tuple or custom struct/class is both subjective and dependent on many factors. A simple “prefer one over the other” guideline is a nonsense.

If you use tuples, use the `()` tuple

[2019-09-14 15:51] NickCraver commented on #33553
There must be guidance for their usage in the BCL to keep the BCL APIs consistent. That is the BCL team's job. This a naming convention, the BCL already [defines many of them](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md) (his is nothing new) to keep the BCL consistent.

It should be noted that "using PascalCase runs against convention" is not a give

[2019-09-14 15:55] danmosemsft commented on #33553
@davidarno it has always been part of the role of the .NET Libraries team (going back to the original Framework Design Guideline) in collaboration with others such as the language designers and the community, to provide guidelines intended to help create better, more consistent.NET libraries.

[2019-09-14 16:03] danmosemsft commented on #41100
There was some related discussion in https://github.com/dotnet/corefx/issues/23298

[2019-09-14 16:31] jcouv commented on #33553
@DavidArno I can attest that this is the result of a joint discussion of representatives within the .NET team, including language/compiler and BCL. Like many such decisions, it is not easy, but I think it is ultimately helpful to have an overall agreement and consistent approach. So even though we didn't land on my preferred approach, I'm glad we landed on a decision and I'm satisfied with it.

[2019-09-14 17:44] CyrusNajmabadi commented on #33553
I agree with @jcouv .  This is definitely not my preferred approach.  However, my major desire was that there be a joint conversation with the relevant stakeholders on the matter.  That appears to have been done.  And, like with many decisions, not everyone would be satisfied.  However, everyone got to have their voice heard and the decision was made understanding the ramifications.  That's good e

[2019-09-14 18:54] HughPH commented on #41107
Yeah I get a null ref from there.

The generic argument is irrelevant, I just forgot to cut it from my previous issue which was about it being impossible(?) to deserialize into an IEnumerable of my own design. To widen the view: DynamoValue has several fields: S, N, BOOL, SS, NS, B, BS which are for holding data of different types. The example JSON just shows String fields. If the field contains a

[2019-09-14 18:59] HughPH commented on #41107
Ultimately my workaround has been to get the data as a JsonElement and then write my own stuff to shuffle the JSON into whatever type I've passed. I also added an implicit operator, so I can just assign a JsonElement to a DynamoQueryResult<T> which is once again IEnumerable<T>

It's not the prettiest code, I know. And there are some repeated blocks that I need to get rid of.

[code]

[2019-09-14 19:36] #40201 closed

[2019-09-14 21:43] scalablecory commented on #40586
Cancellation has always been best-effort, so it's not really a blocker.

[2019-09-14 21:57] geoffkizer commented on #39544
I'll copy the comment I made on the PR here, for posterity:

If you really want to send using CL instead of TE, and you have content that doesn't provide CL, then you need to call LoadIntoBufferAsync before using the content. This will cause us to send with CL (unless you explicitly set TEChunked=true).

[2019-09-14 21:57] #39544 closed

[2019-09-15 00:18] RealDotNetDave opened #41112 "String.Equals() and == Perf Issue in .NET Core"
I have found a perf issue when comparing strings with Equals() and == in .NET Core. When compared to .NET 4.8, Core 2.2 is less performant and Core 3 is even slightly less performant than 2.2.

![image](https://user-images.githubusercontent.com/15676130/64915097-33ce8100-d714-11e9-9d2f-b73eeb4f05e1.png)

Examples:
[code]

Benchmark project located here: https://github.com/RealDotNetDave/dotNetTips

[2019-09-15 00:28] RealDotNetDave opened #41113 "StringBuilder Perf Issue In .NET Core"
I have found in my benchmark tests, that the performance of StringBuilder in .NET Core 2.2 and 3 is less performant than in .NET 4.8

Results below:
![image](https://user-images.githubusercontent.com/15676130/64915134-e1419480-d714-11e9-8cf0-104a09efa963.png)

Benchmark project located here: https://github.com/RealDotNetDave/dotNetTips.Benchmark.App

[2019-09-15 02:24] XuVeeKan opened #41115 "C#如何使用Microsoft.AspNetCore.SignalR.Client连接Hub"
严重性	代码	说明	项目	文件	行	禁止显示状态
错误	CS1061	'“HubConnectionBuilder”未包含“WithUrl”的定义，并且找不到可接受第一个“HubConnectionBuilder”类型参数的可访问扩展方法“WithUrl”(是否缺少 using 指令或程序集引用?)	WindowsFormsApp1	C:\Users\XWJ\source\repos\WindowsFormsApp1\WindowsFormsApp1\Form1.cs	23	活动的

[2019-09-15 02:30] danmosemsft commented on #41115
Error CS1061 'HubConnectionBuilder' does not contain a definition of "WithUrl" and can't find an accessible extension method "WithUrl" that accepts the first "HubConnectionBuilder" type parameter (are you missing a using directive or an assembly reference?)

[2019-09-15 02:47] XuVeeKan commented on #41115
Hei guy, do you know how to solve it?

[2019-09-15 03:48] XuVeeKan commented on #41115
Resolve=>>> https://github.com/aspnet/AspNetCore/issues/9827

[2019-09-15 03:48] #41115 closed

[2019-09-15 08:25] jonmikeli opened #41139 ".NET Core 3.0-preview9-014004 :: System.Text.Json.JsonException"
# Issue Title
System.Text.Json.JsonException: A possible object cycle was detected which is not supported.

# Description
The exception is raised when trying to serialize an Exception in:
 - UseExceptionHandler()
 - MiddleWare loaded by UseMiddleware()

I have not tried the serialization in other contexts.
Replacing the serialization call by another serializer (ex: Newtonsoft.Json) works properly.

[2019-09-15 09:28] Frassle opened #41117 "Add TaskCompletionSource.SetCanceled(CancellationToken)"
`TaskCompletionSource` currently has three methods to set it to canceled. `void SetCanceled()` which throws if the source is already completed, `bool TrySetCanceled()` which just returns false if the source is already cancelled, and `bool TrySetCanceled(CancellationToken)` which is like `TrySetCanceled` but also allows linking in a `CancellationToken`.

Can we also add `void SetCanceled(Cancellati

[2019-09-15 12:34] xsoheilalizadeh commented on #39564
I've figured out that the ToSnakeCaseBySpan can't pass these [tests][1], it's just compatible with pascal case properties, I've tried to make it compatible with other formats but unfortunately, I've failed and it'd be unreadable. I was hurrying to contribute and got a bad result, sorry.

[1]:https://github.com/hez2010/corefx/blob/c54ddc76da61c50576eff92e3add9caf7107f8af/src/System.Text.Json/tests/

[2019-09-15 14:34] davidsh commented on #41116
@Tratcher This looks like an ASP.NET issue

[2019-09-15 15:38] fawdlstty commented on #40725
@davidsh  In my opinion, this issue should not be closed, because this certificate is A built-in certificate of asp.net core, and it works well in chrome environment and .NET ssl client. After starting the server, and it has been proved to work normally at this time, and access fails only in project simple-http-server or project libcurl.

[2019-09-15 15:38] fawdlstty commented on #40725
Also, obviously the port issue and whether the certificate is trusted have been taken into account and I think you should review this issue

[2019-09-15 16:41] tarekgh commented on #41117
CC @stephentoub

[2019-09-15 16:50] Tratcher commented on #41116
This issue was moved to aspnet/AspNetCore#14012

[2019-09-15 16:50] #41116 closed

[2019-09-15 18:27] onionhammer opened #41125 "TPL Dataflow TransformManyBlock support for IAsyncEnumerable"
Currently TransformManyBlock is expected to output an IEnumerable<K>, it would be useful to also have support for an IAsyncEnumerable<K> output

Additional question; why is TPL dataflow in this repository? Seems like an obvious candidate to split into its own repo

[2019-09-15 19:17] shubhamranjan commented on #41009
Test File : `src\System.IO.FileSystem\tests\File\Move.netcoreapp.cs`
Test Method: `BasicMoveWithOverwriteFileExists`

Shouldn't this test case fail in this  case ?
[code]

[2019-09-15 19:38] shubhamranjan commented on #41009
TestFile :  `src\System.IO.FileSystem\tests\File\Move.netcoreapp.cs`
TestMethod: `BasicMoveWithOverwriteFileDoesNotExist`

This should not pass in this case. But it is.

[2019-09-15 21:42] Symbai opened #41127 "API proposal: Char.Empty"
This probably gets denied like all my suggestions but however I would like to propose Char.Empty which does nothing else than String.Empty by returning a char instead of a string.

[code]

Most common scenario would be:
[code]

There will be reasons against this API and I could ask why the same reasons wouldn't apply to string.Empty which got approved but anyways. Another scenario most devs would

[2019-09-15 21:49] EgorBo commented on #41127
`String.Empty` is basically an **empty** array of chars (Length=0), what value `char.Empty` is supposed to have ? `\0` ? What are the use-cases for such field?

[2019-09-15 21:52] GrabYourPitchforks commented on #41112
These numbers are expected. Your benchmark only tests the cases where the strings have the same length but where the first character of each string is not equal. In previous versions of .NET, string equality was a char-by-char comparison, so a difference in the first char would be quickly detected. Such is the case with the specific `testWord1` and `testWord2` values in your benchmarks.

.NET Core

[2019-09-15 21:57] #41112 closed

[2019-09-15 22:01] tarekgh commented on #41125
@onionhammer  could you create the API proposal and add it to the issue description? https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

Why want to split it to its own repo? this seams strange to me. We are not trying to split into more repos and instead we are trying to reduce the repos we have.

[2019-09-15 22:01] benaadams commented on #41127
Probably a Remove(char) api would be better for your scenario?
[code]

[2019-09-15 22:03] GrabYourPitchforks commented on #41127
I'm curious about the scenario you've identified.

Is there a reason why `string.Replace("a", string.Empty)` is insufficient for the common scenario you've identified? Do you expect that the character to be removed is not constant, so you need a `string.Remove(char)` API instead?

[2019-09-15 22:22] Symbai commented on #41127
Ask @Wraith2 who has down voted, thanks.

[2019-09-15 22:22] #41127 closed

[2019-09-15 22:55] benaadams commented on #41049
The Disposable is being stored directly in the AsyncLocal; changing it with
[code]
Only changes the current ExecutionContext's copy; ExecutionContexts stored elsewhere will still retain the previous value (ExecutionContexts aren't linked and are immutable).

If you add an indirection to the disposable you should get the behaviour you want.

e.g. in your sample if you store a `DisposableHolder` ins

[2019-09-16 00:14] ahsonkhan commented on #39564
This looks like a reasonable API addition. I was considering how common such formats are to warrant adding support built-in (rather than folks creating their own naming policy to support it), and looks like quite a few places use snake_case including Facebook, AWS, and Twitter APIs (aside from the fact that Json.NET supports it):
https://stackoverflow.com/questions/5543490/json-naming-convention

[2019-09-16 00:27] NickRedwood commented on #1556
@chcosta - hopefully this is an ok place to ask, would you mind posting the code that reproduces this issue? The problem still exists in .NET Framework and I would like to test against it. Thanks.

[2019-09-16 02:50] fawdlstty commented on #40725
The actual effect is that the chrome environment request 127.0.0.1, still can get the correct request result;However, in the c++ library environment, the difference is only the client side, If it is the domain name, then this is still a problem, because the request 127.0.0.1 should not work in the chrome environment

[2019-09-16 04:14] ahsonkhan opened #41129 "Add performance tests for JsonNode and related types"
We should add performance tests to https://github.com/dotnet/performance and compare scenarios against Newtonsoft.Json.

This includes scenarios such as :
- JsonNode.Parse (versus JsonDocument.Parse)
- JsonNode.DeepCopy
- And create JsonElement, modify some properties, and then convert back to JsonElement.
- Enumerate all the nodes/tokens from a JsonNode (versus JsonDocument/JsonElement).

cc @kas

[2019-09-16 04:22] ahsonkhan opened #41130 "Improve test coverage for JsonElement (when backed by JsonNode) for edge cases around enumeration"
We can improve test coverage of certain branches within `JsonElement` (when it's backed by `JsonNode`):

Metric | Value
-- | --
Covered lines: | 629
Uncovered lines: | 13
Coverable lines: | 642
Total lines: | 2096
Line coverage: | 97.9% (629 of 642)
Covered branches: | 213
Total branches: | 225
Branch coverage: | 94.6% (213 of 225)

Edge cases while enumerating JSON objects and JSON arrays. It's p

[2019-09-16 04:27] davidfowl opened #41131 "API Proposal: ExecutionContext.Run<TContext>"
Today to run code on a specific `ExecutionContext`, there's a non-generic Run method that takes a `ContextCallback` and object state. We should add a generic overload to boxing can be avoided (for e.g. when passing a ValueTuple):

[code]

[2019-09-16 04:44] ahsonkhan opened #41132 "Implement support for getting Base64 bytes from JsonElement that's backed by a JsonNode"
Along with implementing support for Base64, add tests as well.

[code]

https://github.com/dotnet/corefx/blob/e8efb815275c8323fedc950ca3596474fa5e23c3/src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L487-L504

![image](https://user-images.githubusercontent.com/6527137/64934371-35c13e80-d7ff-11e9-9acd-a32c027bc4a8.png)

cc @kasiabulat

[2019-09-16 06:06] stukselbax commented on #41049
Probably @tarekgh assumption about the "2 async operations" is the issue. From the API client point of view, there should be only one async operation:

[code]

I'll definitely try to apply @benaadams proposed solution to the source detected the problem (jaeger tracing), but why there is more than one `ExecutionContext` - that's the question. I thought that single `ExecutionContext` should flow wit

[2019-09-16 07:56] CornedBee commented on #24770
Avoiding that race condition is exactly why I needed the value-comparing remove. Note that `state.Count` must participate in the equality check of `MyState` for this to work, but that should be kind of obvious. Perhaps my perspective is skewed there.

And if `MyState` is a reference type (it's a value type in my own code) and `Count` is mutable, then yes, there's a race. But it's a data race on `C

[2019-09-16 09:17] lukzog commented on #15430
@Tratcher do you have a plan to fix in in .net core 5.0 version?
Do you know if any third party implementations like the one from @zlatanov  or @tpeczek supports hosting under IIS with kestrel? Or this is not really possible because the work also involves changes to AspNetCoreModule?

[2019-09-16 09:28] intermension opened #41133 "Where is the system.printing namespace and how do we access it in VS2019?"
This link would suggest System.Printing is available.

https://docs.microsoft.com/en-us/dotnet/api/system.printing?view=netcore-3.0

I have .NET Core 3.0 Preview 9 installed with VS 2019 but i cant seem to reference this Assembly / Namespace. I cant find anything in Nuget nor anything about printing assemblies in general. The api seems well documented on MS Docs where to find is a mystery.

[2019-09-16 10:13] RaghuMasineni commented on #41019
Yes @Joperezr , I have tried with 4.3.2 by updating dotnet core to 1.1.4 fro 1.1.0.It did not fix the issue.
As of now I have proposed for upgrading current dotnet core 1.1  to core 2.* and waiting for confirmation.

But still I could not understand how using 4.3.1 or 4.3.2 for System.Net.Security is not fixing the issue as mentioned in https://github.com/dotnet/announcements/issues/12

[2019-09-16 11:26] mv10-work commented on #41133
Based on the last comment in the docs, it looks like you need to install the [Windows Compatibility Package](https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack) to pick up WPF support.

[2019-09-16 11:50] fhoutr01 commented on #40955
Hello,

I ran the tests with the latest dotnetcore version (2.2.7 )

[code]
Results remain the same.
I attached a tar compressed archive containing the build, publish and execution of the code with the parameters set that you provided. Inside the archive is also a wireshark of the whole connection towards the AWS AMQ. There are a few NTP calls in there as well (unfortunately ).

[dotnet.tar.gz](ht

[2019-09-16 11:53] adrian-lopez-softtek opened #41135 "Issue with SqlConnection.Open on netcore3 linux images"
I am having an issue when trying to open a connection to our SQL Server 2016 SP1 CU7 server from latest (not sure if it happens with previous) netcore 3 preview 9. The code just hangs when calling Open (same result with OpenAsync) and doesn't continue. Tried with both Microsoft.Data.SqlClient and System.Data.SqlClient NuGet packages.

Same code works fine when executed in my windows laptop outside

[2019-09-16 12:03] benaadams commented on #41049
`ExecutionContext`s are immutable; if you change the value of an `AsyncLocal<T>`; it creates a new `ExecutionContext` and replaces the current one with that. That new `ExecutionContext` will be used by everything that completes sync and captured in any async method that suspends and resumes later after that point (mimicking the sync behaviour).

However; when completion of the current async method

[2019-09-16 12:06] atifaziz commented on #39527
Right, that's the explanation and what I suspected was happening.

That's the only issue being reported here. It's not about ordering.

Well, it certainly broke our applications.

Again, it's not about ordering. It's simply that the same collection is delivering `Set-Cookie` as a single string (multiple `Set-Cookie` folded into one and separated by commas) and the other delivering multiple values

[2019-09-16 12:16] benaadams commented on #41049
The above sync code mimics what happens in the async version with AsyncLocal
[code]
Also outputs
[code]

HTH

[2019-09-16 13:01] GSPP commented on #40933
I didn't realize (and expect) these classes to be mutable. There's too much mutable in the framework. I think the value of immutability and functional programming patterns was less well understood 20 years ago (by everyone, not just the framework designers).

[2019-09-16 13:09] stephentoub commented on #41131
We effectively already have this internally (I added it to support ManualResetValueTaskSourceCore). But it also highlights that the state should be passed as ref, not in, to support mutating such state.

[2019-09-16 13:22] stephentoub commented on #41131
Also, I think the generic parameter should be TState rather than TContext, since it could otherwise imply it's somehow the type of the ExecutionContext.

And we should consider whether we actually want a new generic ContextCallback delegate, or instead add a more general purpose Action (this is just about the delegate name and namespace).

[2019-09-16 14:24] ericsampson commented on #41049
I wonder if it's worth enhancing the documentation to capture some of the subtleties that Ben called out? It's a bummer when such useful tidbits are buried in GitHub issues.

[2019-09-16 14:38] Tratcher commented on #15430
No changes have been planned yet.

You're right that hosting with IIS out-of-proc would be problematic because the proxy wouldn't support compression. Hosting with IIS in-proc should allow it.

[2019-09-16 14:44] Taloth commented on #41009
No that test only does a move within a single filesystem.
The bug only happens if the file is moved cross-filesystem, so to really test it you need a second filesystem, like a tmpfs mount.

[2019-09-16 15:03] iconics-janb opened #41140 "FileSystemWatcher with a filter set to a specific file does not work on Ubuntu"
This code is expect to raise Changed event when file text.txt is changed:

                FileSystemWatcher watcher = new FileSystemWatcher("/usr/share", "text.txt");
                watcher.Changed += Watcher_Changed;
                watcher.NotifyFilter = NotifyFilters.LastWrite;
                watcher.EnableRaisingEvents = true;

It works OK in Windows, but in Ubuntu the event Changed is neve

[2019-09-16 15:45] davidfowl commented on #41131
Made those changes. I'd also like a `Func<TState, TResult>` overload so I can do this:

[code]

[2019-09-16 15:55] stephentoub commented on #41131
I'd prefer to keep the number of additional overloads here smaller, to avoid the bloat that comes from introducing additional generic methods and the necessary plumbing internally (ExecutionContext.Run is not a small method), etc, and just add the single void-returning overload. This is an advanced class that very little code needs to use directly, and it's ok to have more advanced use cases be a

[2019-09-16 15:59] davidfowl commented on #41131
What's the harm in adding another overload? Is it just because it's an advanced API?

After discovering quirks with async locals last night, more code needs to call this than I originally thought does need to call it (or use an async state machine).

Also,I think we need ContextCallback to allow passing the state by ref

[2019-09-16 16:00] stephentoub commented on #41131
I gigantic method in Corelib duplicated, an additional public delegate type, additional public API surface area for niche functionality, etc.

[2019-09-16 16:05] stephentoub commented on #41131
That's why I wrote "add a more general purpose Action (this is just about the delegate name and namespace)", i.e.
[code]
}

[2019-09-16 16:06] stephentoub commented on #41117
This is reasonable.

[2019-09-16 16:07] davidfowl commented on #41131
Fair enough, it just goes to show that APIs that take callbacks usually need to account for all the ways code can be called (that includes return values).

ActionRef? Does it need to be general purpose?

[2019-09-16 16:12] #41085 closed

[2019-09-16 16:13] stephentoub commented on #41131
Not sure.  Just something to consider.

[2019-09-16 16:13] KathleenDollard commented on #39527
@mairaw A compatibility note in the docs would be useful on this.

[2019-09-16 16:14] ahsonkhan commented on #41139
@jonmikeli - can you share what is your .NET object model that you are trying to serialize? Are you actually trying to serialize the built-in `System.Exception` type?

If your object model has cycles, then this is the expected behavior since cycles are not supported as part of this release.
https://github.com/dotnet/corefx/issues/38579
https://github.com/dotnet/corefx/issues/37786

[2019-09-16 16:20] danmosemsft commented on #41140
Thanks for the report @iconics-janb . Any interest in debugging a bit/adding some local tracing?

[2019-09-16 16:23] danmosemsft commented on #41133
This is in WPF rather than the compatibility pack, I think. (The compatibility pack is built out of this repo: System.Printing is built out of dotnet/wpf.) @ericstj is there a way to get System.Printing without creating a WPF app? I don't see a package for it.

[2019-09-16 16:25] chcosta commented on #1556
@NickRedwood , sadly, I don't have the code still laying around.

[2019-09-16 16:31] tarekgh commented on #41049
@ericsampson

Feel free to create a new doc issue on https://github.com/dotnet/docs. let me know if want me help with that.

I am going to close this issue as it looks everything is clear now. Let me know if you have any more questions. thanks to @benaadams for his help in this issue too.

[2019-09-16 16:31] #41049 closed

[2019-09-16 16:32] jonmikeli commented on #41139
Hi @ahsonkhan,

Thanks for your answer.

I was trying to serialize the built-in System.Exception type.
Knowing that the property InnerException is of type System.Exception too, I guess that is the reason of the error.

[2019-09-16 16:32] #41139 closed

[2019-09-16 16:43] rynowak commented on #40922
Option 3 makes the most sense. I don't think there's anything terrible about the JSON.NET behaviour.

[2019-09-16 17:06] ViktorHofer commented on #40348
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=356199&view=ms.vss-test-web.build-test-results-tab&runId=10789592&resultId=146559&paneView=debug

Configuration: uap-Windows_NT-Debug-x64-Windows.10.Amd64.ClientRS5.Open

[code]

I think we should disable the test.

[2019-09-16 17:47] benaadams commented on #41131
Often I want to run with the current context; but prevent spilling (which I think @davidfowl is also trying to do).

At the moment you need to do
[code]
Would be good if you could avoid the capture and the EC Run could just use the current one; rather than converting it from its internal state; then passing it back in, when it converts it back to its internal state.

[2019-09-16 17:51] wfurt commented on #40881
I'm not able to reproduce your behavior @matthew798
[code]
I get this with both 2.1.x and 3.0 on Ubuntu 16.04.

Is your setup physical or virtual? Any chance of strange firewall rules?
Could you make self-contained app and do:
[code]

[2019-09-16 17:55] benaadams commented on #41131
[code]
Which could then be utilised internally; if desired:

[code]

[2019-09-16 17:56] safern commented on #40909
I missed a special case on my tool to validate this and found 1 type that is missing a reference type field,  which is unfortunate because there could be a GC hole if someone creates a pointer of that type, however I don't think the type is too critical, the type missing it is:

`System.Text.SpanRuneEnumerator`

The reason why it needs it, is because it has a private field of `Span<char>` type and

[2019-09-16 17:57] stephentoub commented on #41131
What overhead are you talking about that could be avoided, and you have measurements to show that it actually matters when using in any of these consuming scenarios?  Your proposed overload would still need to pay attention to suppressed flow and default contexts.

[2019-09-16 18:02] jkotas commented on #40909
That is not accurate description of the impact.

The impact is that somebody writing unsafe code without knowing what they are doing will not get a error from the C# compiler. Somebody writing unsafe code without knowing what they are doing can do a ton more damage - without any errors from the C# compiler.

I do not think so.

[2019-09-16 18:03] davidsh commented on #40725
The certificate is untrusted and it requires to be placed into the trusted root store. That is typically when it done when you install .NET Core and ASP.NET Core with executing the command `dotnet dev-certs`.

See this command for more info:

[code]

So, it's still unclear what the problem is that you are reporting. Once the certificate is fully trusted, then it works with any browser and any clie

[2019-09-16 18:07] blowdart commented on #40725
This is entirely by design. We can't get a valid certificate for localhost because not even Let's Encrypt doesn't issue those, so we create our own cert, trust it by default on windows if you agree to it, but on Linux/Curl you need to add it to the root store yourself. We say it's a certificate for development purposes only and we [document this](https://docs.microsoft.com/en-us/aspnet/core/securi

[2019-09-16 18:09] davidsh commented on #39527
You are correct that using comma as the delimiter between cookies in the single 'Set-Cookie' header is incorrect. The delimiter in that case should be a semicolon.

We will investigate if we can at least correct the delimiter problem even if we still have to have a single 'Set-Cookie' header.

[2019-09-16 18:29] mairaw commented on #39527
What exactly do we want to say in the docs for this? I can talk about the different implementation on which each framework is built on top of, that ordering is not guaranteed, but what about the bug he's reporting? Do we need the investigation to be concluded before we update the docs?

[2019-09-16 18:33] davidsh commented on #39527
@mairaw
Yes.  Let's wait on any doc changes for now until we finish investigating. We will open a separate doc issue in the dotnet/dotnet-api-docs repo once that is done.

[2019-09-16 18:46] joperezr commented on #41019
System.Net.Security does no longer ship as a separate package after .NET Core 2.0, and it is now part of the framework. That means that once you retarget to core 2.* then you won't have to have a package reference to System.Net.Security any longer. Although I'm not 100% sure, it is very possible that the fix for this problem you are seeing came AFTER shiping 4.3.2 package, which means that the onl

[2019-09-16 19:18] #40953 closed

[2019-09-16 19:36] mklement0 commented on #40953
Thank you for the quick turnaround, @tarekgh.

[2019-09-16 19:38] tarekgh commented on #40953
Thanks @mklement0 for reporting and discussing this issue.

[2019-09-16 19:43] jkotas commented on #41144
The repro fails with:

[code]

[2019-09-16 19:44] lukzog commented on #15430
Thanks for clarification. However, is it possible to host ASP .Net Core application with IIS in-proc?

Is there any other workaround to enable compression with SignalR? Could one use e.g. long-polling?

[2019-09-16 19:46] jkotas commented on #41144
The problem is caused by the following code in the repro:

[code]

This no longer works after a fix for https://github.com/dotnet/corefx/issues/33373. The same breakage is mentioned there already: https://github.com/dotnet/corefx/issues/33373#issuecomment-478693168

[2019-09-16 19:52] anurse commented on #15430
It's possible to host ASP.NET Core apps in-proc in IIS since 2.2 and it's the default when using IIS in ASP.NET Core 3.0 now. More details can be found in our documentation: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#hosting-models

Long-polling in SignalR actually tries to bypass and disable response compression as much as possible since compression gene

[2019-09-16 20:04] worksofliam opened #41145 "Encoding.Convert with IBM285 incorrect"
Hello

It looks like `Encoding#Convert` is returning the incorrect ASCII when using `IBM285`.

[code]

if I decode EBCDIC `C88593939640A6969993845B`

* Using `IBM037`: `Hello world$` - correct
* Using `IBM285`: `Hello world?` - incorrect, result should be `Hello world£`

@NattyNarwhal can confirm this issue and may have more to say on the issue.

Liam

[2019-09-16 20:05] worksofliam commented on #41145
Original bug found in issue https://github.com/worksofbarry/NetRPG/issues/27

[2019-09-16 20:09] NattyNarwhal commented on #41145
I can reproduce it at least as far back as .NET 4; in that case, it gets swapped with a replacement character.

Interestingly, it's also reproducible with Mono, and that is AFAIK still using its own from-scratch implementation.

[2019-09-16 20:29] worksofliam commented on #41145
Here's the test for each CCSID: 37 and 285.

![image](https://user-images.githubusercontent.com/3708366/64991070-272a6400-d89f-11e9-87ca-6c3995369a90.png)

[2019-09-16 20:40] lukzog commented on #15430
We have a fairly large and complex application in ASP .NET Core. We use regular http Ajax calls to retrieve page metadata/data and SignalR to push updates to the browser.
We would like to simplify our codebase by moving all communication to SignalR/Websockets. However, some responses may be large and their size could be greatly reduced with compression (it is plain Json).

We could compress and de

[2019-09-16 20:44] TheAngryByrd commented on #15430
Same reason web-request clients can ask for content to be gzipped, so the applications on both ends don't need to have compression in their app layers. It's not transparent.

[2019-09-16 20:45] danmosemsft commented on #41141
Note that 3.1 is not branching off master. It branches off release/3.0. (Master ships in 5.0)

[2019-09-16 20:46] xLabel commented on #23426
+1

[2019-09-16 20:48] davidsh commented on #41144
@JamesNK @stephentoub

[2019-09-16 20:56] benaadams commented on #41131
`null` getting changed into the default context for capture; then back to `null` internal to Run

And because of flow suppression you need to check if the EC is null before using Run... but

Flow suppressed gets changed into `null` for capture, then... well... then, you are kinda stuffed as Run will throw, so you need to have a stashed EC to run on.

So it gets complicated; because you can't set E

[2019-09-16 21:04] Tratcher commented on #15430
Understood that it would be more convenient at the websocket layer. In the meantime though you'll need to do the app level compression.

[2019-09-16 21:28] anurse commented on #15430
Another option may be to switch to using SignalR's binary format (based on MessagePack). That may reduce the overhead enough to help in your situation. If you still need to compress text, then yes, WebSocket compression is the only transparent way to do that.

[2019-09-16 22:30] tarekgh commented on #41145
@worksofliam I believe you have a problem in your code that you convert the result to ASCII encoding. Here is some more details may simplify.

If you execute the following code:
[code]

This convert the the code point 0x5B in the IBM285 code page to string and print the character ordinal value. The 0x5B in IBM285 is ```£```. the result of the code is 0x00A3 which is the Unicode character ```£``` w

[2019-09-16 22:30] #41145 closed

[2019-09-16 23:06] krwq commented on #29660
I'm not sure if HashAlgorithmName would be a good choice for the input considering that [COSE](https://tools.ietf.org/html/rfc8152#section-9.2) calls to use HKDF with PRF but I guess it would be acceptable to call it a hashing function given that [HKDF spec asks for a hashing function](https://tools.ietf.org/html/rfc5869#section-2.2)

It might also be worth taking [HashAlgorithmType](https://githu

[2019-09-16 23:21] Anipik commented on #39581
failed in the rolling build. https://dev.azure.com/dnceng/public/_build/results?buildId=353186&view=ms.vss-test-web.build-test-results-tab&runId=10640812&resultId=161412&paneView=debug

[2019-09-16 23:22] Jozkee commented on #41002
Currently the implementation relies on default equality of `Hashset`/`Dictionary`, which uses the `Object.GetHashCode()` and `Object.Equals(Object obj)`.
If someone wants to provide its own equals mechanism, he can override these methods and/or implement `IEquatable` on its class.

Json.Net throws when finds that there are properties other than $ref in a JSON reference object, I was planning on st

[2019-09-16 23:27] heng-liu commented on #25449
Hi @bartonjs , may I know if AddUnsignedAttribute() works for CounterSignerInfos elements?
I countersigned successfully(checked _signedCms.SignerInfos[0].CounterSignerInfos[0] is not null), but when I tried to add a timestamp to the countersignature as an unsignedAttribute, by using: _signedCms.SignerInfos[0].CounterSignerInfos[0].AddUnsignedAttribute(unsignedAttribute);

I encountered an exceptio

[2019-09-16 23:31] Anipik commented on #40474
It failed in release/3.0 branch as well. do we consciously didnot port it to release/3.0 ?

[2019-09-16 23:34] ViktorHofer commented on #40474
We usually port test fixes in an aggregated manner. I did that about 10 days ago and will do it again soon.

[2019-09-16 23:35] Anipik opened #41148 "System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_MaxResponseHeadersLength_Test.SetAfterUse_Throws failed in the release 3.0 branch"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=353186&view=ms.vss-test-web.build-test-results-tab

[2019-09-16 23:37] NattyNarwhal commented on #41145
I converted from UTF-8 and had the same problem; I guess that's why I got the replacement character reproducing on v4.0 instead of a `?`.

[2019-09-16 23:44] pgovind commented on #36461
I spent some time debugging this and here's what I found:

I don't think there is a bug in the implementation of SortedDictionary(or SortedSet which is what it leverages). The interesting bit is the following lines:
`C#
            var equal = string.Equals("narınnarın", "narinnarin", StringComparison.OrdinalIgnoreCase);
            Console.WriteLine(equal); // True on Mac
            var rightCom

[2019-09-16 23:45] krwq commented on #25449
@heng-liu if I remember correctly counter signatures are actually attributes on the original signer so presumably adding unsigned attributes to a counter-signer would be equivalent to adding an unsigned attribute to the original signer (with some extra info suggesting that it actually is related to counter signature and not original signer).

The easiest way to check all supported scenarios would

[2019-09-16 23:50] bartonjs commented on #29660
Definitely not :smile:.  That's a TLS-related enum.  HashAlgorithmName (the strongly-typed string) is the way that we communicate cryptographic digest algorithms (and there are accelerators, so it looks like an enum).

HKDF itself is "pick a hash, use HMAC":

HKDF-Expand also uses HMAC{Hash}; but it's not a one-liner :smile:.

I don't see a formal definition of "HKDF with AES-MAC"; but since that'

[2019-09-16 23:52] heng-liu commented on #25449
@krwq Thanks for your help!

[2019-09-17 00:13] heng-liu commented on #25449
Hi @krwq , I checked the tests added with this feature, and there is no SignerInfos[0].CounterSignerInfos[0].AddUnsignedAttribute examples.
So we can only use: **SignerInfos[i].AddUnsignedAttribute**,
but **SignerInfos[i].CounterSignerInfos[j].AddUnsignedAttribute** is not supported, right?

Since CounterSignerInfos[j] is also a SignerInfo class, I thought it could use the method AddUnsignedAttrib

[2019-09-17 00:20] bartonjs commented on #25449
I don't know that it's "by design", but it may be a limitation of the Win32 CMS library that we're built on top of.

It feels like it should probably work.  If it works on macOS/Linux then that's probably cause to use some heroic workarounds on Windows to enable the scenario.

[2019-09-17 00:20] NickRedwood commented on #1556
@chcosta - never mind, thanks anyway.

[2019-09-17 00:26] danmosemsft commented on #38354
@ahsonkhan this is still in the 3.0 milestone. and 3.0 is done. Would this be a breaking change at this point?

[2019-09-17 01:48] fawdlstty commented on #40725
I'm sorry, it's my fault. Untrusted certificates work only in chrome, not libcurl. When I trust this certificate, it works in all environments. I did not try to trust the certificate

[2019-09-17 02:18] tarekgh commented on #36461
When you are comparing "naryn" and "narınnarın", the first different characters are 'y' and 'ı'. The 'y' ordinal value is 0x79 and the ordinal value of 'ı' is 0x131. This means   'y' <  'ı' which means "naryn" < "narınnarın" and that is why you got negative number.

When you are comparing "naryn" and "narinnarin", the first different characters are 'y' and 'i'. The 'y' ordinal value is 0x79 and th

[2019-09-17 05:10] #40909 closed

[2019-09-17 05:42] GGAlanSmithee commented on #41139
sorry for hijacking this issue, but since it's the most recent one - @ahsonkhan you mentioned that cyclic reference handling is on the roadmap for vNext - https://github.com/dotnet/corefx/issues/38579#issuecomment-502955776 is there any available roadmap for this? thanks

[2019-09-17 06:05] simendsjo commented on #38497
I'm having a similar issue, but when calling `System.Diagnostics.Debugger.Break()`. Locally everything works both when debugging and in Release. On the build-server (TeamCity), the testrunner crashes without a message `The active test run was aborted. Reason: Test host process crashed`. Found a workaround wrapping the call in `#if DEBUG`.

Is this somehow the same issue, or should I file a new iss

[2019-09-17 06:07] atifaziz commented on #39527
@davidsh Thanks for [reconsidering this](https://github.com/dotnet/corefx/issues/39527#event-2637326421).

This won't be helpful as semi-colon (`;`) is already taken in the cookie syntax to delimit attribute-value pairs ([per section 4.1.1 of RFC 6252](https://tools.ietf.org/html/rfc6265#section-4.1.1)):

    set-cookie-string = cookie-pair *( ";" SP cookie-av )

Why try so hard to return a single

[2019-09-17 06:33] wfurt commented on #41140
can you post complete repro @iconics-janb ?

[2019-09-17 06:54] AriNuer opened #41150 "Test Failure: System.Diagnostics.Tests.EventLogWriteEntryTests.WriteEntryWithType(sourceFlag: True)"
Test `System.Diagnostics.Tests.EventLogWriteEntryTests.WriteEntryWithType(sourceFlag: True)` has failed.
[code]

Build: -[20190916.34](https://dnceng.visualstudio.com/public/_build/results?buildId=357148)(Master)

Details:
https://helix.dot.net/api/2019-06-17/jobs/96638b0b-a37a-46c3-b5f3-ba6a9807b04e/workitems/System.Diagnostics.EventLog.Tests/console

[2019-09-17 07:20] lainy opened #41206 "Marshaling wchar_t on Linux uses wrong size"
# General

Tested on .NET Core 3.0.100-preview9-014004 on Arch Linux.

The following code should print out `4` on this system, but instead outputs `2`.
Printing `sizeof(wchar_t)` from a C program gives `4`.

Discovered when trying to interop with a C library that has a struct with `wchar_t[5]` inside.

[code]

[2019-09-17 08:19] iconics-janb commented on #41140
Steps and program to reproduce:
[steps_to_reproduce.txt](https://github.com/dotnet/corefx/files/3620048/steps_to_reproduce.txt)
![ubuntu_output](https://user-images.githubusercontent.com/18528365/65024203-a9189c80-d934-11e9-9def-51bdf6fe757a.PNG)
[Watcher.zip](https://github.com/dotnet/corefx/files/3620049/Watcher.zip)
![windows_output](https://user-images.githubusercontent.com/18528365/65024204-a

[2019-09-17 08:22] iconics-janb commented on #41140
posted

--
Jan Burian, Senior Software Architect
t: +420 377 183 420 • www.iconics.com<http://www.iconics.com/>
2018 Microsoft Manufacturing Partner of the Year
Subscribe HERE<http://www.iconics.com/newsletter> to stay informed of ICONICS news & events

From: Tomas Weinfurt <notifications@github.com>
Sent: Tuesday, September 17, 2019 08:35
To: dotnet/corefx <corefx@noreply.github.com>
Cc: Jan Buri

[2019-09-17 09:05] YZahringer opened #41151 "SerialPort error on Virtual Serial Port for USB"
I'm trying to access a Virtual Serial Port for USB with `SerialPort` and I get the error `The given port name (COM5) does not resolve to a valid serial` when I try to open the port. Here is the code, it works with physical serial ports:
[code]

I did several tests with `.NET 4.7`, `.NET Core 3.0-RC1`, the `4.6.0-rc1` of nuget `System.IO.Ports`, UWP application with `Windows.Devices.SerialCommunica

[2019-09-17 09:24] kobellem opened #41181 "Segmentation fault when using globalization on alpine 3.9"
## Steps to reproduce the issue
1. Install icu-libs
2. Set the required environment variables to enable globalization:
[code]
3. Run the application that uses globalization

## Expected behavior
Application runs

## Actual behavior
Application crashes on a segmentation fault. With gdb we can see that this occurs when calling the icu libraries:

[code]

## Additional information (e.g. issue happens

[2019-09-17 09:32] LazizEx opened #41205 "System.Security.SecurityElement.FromString()"
.NET Core 2.1
`var v = SecurityElement.FromString("<SignatureLength>5</SignatureLength>");
v== null; Why?`
.NET Framework 4 working exactly

[2019-09-17 10:11] webczat opened #41152 "support shared memory on unixes"
I know that shared memory is not supported on unix, as in, the family of MemoryMappedFile.CreateNew methods.
I saw the comment saying why they are not supported.
However, what about posix shared memory? shm_open and friends. Not sure about other oses, but definitely supported on linux.
The only problem may be the unlinking...

[2019-09-17 10:34] stephentoub commented on #41152
CreateNew is supported, and on Linux it does use shm_open. What's not supported is passing a non-null name string.

[2019-09-17 10:58] intermension commented on #41133
Thanks you're right. I can access System.Printing from a WPF library project and then reference that from Winforms app, seems kinda convoluted but at least its progress.

[2019-09-17 11:00] webczat commented on #41152
ok. so I explicitly meant non null name strings, sorry

[2019-09-17 11:03] stephentoub commented on #41152
How do you propose it be implemented?

[2019-09-17 11:08] webczat commented on #41152
what does CreateNew do when a memory mapped file already exists? opens it, or also changes it's size?

[2019-09-17 11:15] webczat commented on #41152
the biggest problem here is that I believe it should be possible to use named memory mapped files also to communicate with non dotnet processes. So you cannot just track number of processes opening shared memory object and unlink it after the last one closes it...

[2019-09-17 11:20] webczat commented on #41152
One of my ideas was to track if the object was created using CreateNew and unlink it when closing. But that doesn't seem to be too nice.

[2019-09-17 11:22] fhoutr01 commented on #40955
@wfurt directly connecting is unfortunately not possible because of HTTPS certificates.
If I connect over IP, it can't verify the certificate because it does not match the hostname.
And since it's not HTTP protocol, I cannot specify a header to add.

What I can tell is that the resolving of the host is really fast, setting up a connection to the host is also fast. It's slow when it's trying to bin

[2019-09-17 11:38] webczat commented on #41152
another idea would be some kind of reference counting, but that would be very dotnet specific. for example each memory block is preceded by a reference count that needs to be atomically updated. Unlink happens when refcount reaches 0, except that that would need to be all atomic and probably isn't. like if refcount is 0, unlink shm object and *then* close it.

[2019-09-17 13:19] MickeyReznikov opened #41156 "System.Text.Json ExpandoObject not supported"
When i try to return ExpandoObject as a return, looks like its not supported yet

`
ExpandoObject e = new ExpandoObject();
            ((IDictionary<string, object>)e).Add("key", "value");

            var results = System.Text.Json.JsonSerializer.Serialize(e);`

Unable to cast object of type '\<GetExpandoEnumerator\>d__51' to type 'System.Collections.IDictionaryEnumerator'.

planned for version 3

[2019-09-17 14:27] AntonLandor commented on #41130
Hi,

I just started looking into contributing to this project as part of my advanced course in Large Scale Software Development. I figured I would start with this issue. I just have a few questions:
1. Can I easily check which branches are covered and which are not? If so, how do I do it? I'm currently on a machine running Ubuntu and I use Visual Studio Code.
2. Am I correct that tests regarding t

[2019-09-17 14:37] MarcoRossignoli commented on #41130
Yes usually html report is generated from coverage file(xml or other format, for instance cobertura,lcov,opencover) you can parse that file by yourself and find where is the uncovered branches.

[2019-09-17 14:59] steveharter commented on #41002
@JamesNK on "Ignore" - is this mode necessary and what scenarios would prefer that over "Preserve"?

"Ignore" has potnential inconsistentcy w.r.t. what is serialized vs. what is ignored which would make me question using it in certain scenarios including:
- Serialization order currently depends on reflection order which is not deterministic, so if property `A` and `B` both serialize the same refer

[2019-09-17 15:03] kasiabulat commented on #41130
As far as I remember I might have already covered some of those in https://github.com/dotnet/corefx/pull/41041, but let me check it.

[2019-09-17 15:35] sharwell commented on #40947
@terrajobst It would help in the interim if the file could be provided under a public domain license, or somehow intentionally excluded from the current attribution requirements.

[2019-09-17 15:36] kasiabulat commented on #41130
Ok, right, those are uncovered, but I treated them as unreachable.

[2019-09-17 15:50] ViktorHofer commented on #41130
Yes when do a `dotnet msbuild /t:RebuildAndTest /p:Coverage=true` it generates both a coverage.xml and a index.htm file.

Fantastic, great to hear that you want to help us. cc @danmosemsft as he might have some other items as well to pick.

[2019-09-17 15:57] rladuca commented on #40978
@ericstj I just hit this in WPF's test repository when trying to flow 3.1 bits and build off of them.

If you clone [this branch](https://dev.azure.com/dnceng/internal/_git/dotnet-wpf-test?version=GBdev%2Froladuca%2Frelease31staging) and then build you should hit this issue.  Building the below project is sufficient.

[code]

[2019-09-17 16:02] krwq commented on #25449
Second look and I think we should support both unsigned and theoretically also signed attributes although I'm not sure yet how would that work.

@heng-liu it might be worth checking Linux implementation per @bartonjs's suggestion

[2019-09-17 16:14] danmosemsft commented on #41130
@AntonLandor as @ViktorHofer says, we welcome new contributors! We can help find you work that may be interesting to you. System.Text.JSON is a great place to help as it is new this release and there are [many improvements proposed.](https://github.com/dotnet/corefx/issues?q=is%3Aissue+is%3Aopen+label%3Aarea-System.Text.Json). You can also use @ahsonkhan as a resource for this.

[2019-09-17 16:16] eiriktsarpalis commented on #40315
This was a one-off error observed one month ago, and it hasn't reproduced since. Fair to close at this point?

[2019-09-17 16:17] krwq opened #41158 "CMS should support attributes for counter-signers"
https://github.com/dotnet/corefx/issues/25449 has added support for adding unsigned attributes to signers. It has been noted though this feature should also work for counter-signers as user might want to add a timestamp to the counter signature. There are some questions which need to be investigated first:
- unsigned attributes are also used for storing counter-signatures - currently counter signi

[2019-09-17 16:18] krwq commented on #25449
@heng-liu I've created the issue about this - currently to unblock yourself you'd need to decode counter-signature unsigned attribute and manually encode timestamp in there (then you can remove original counter-signature and add it back with modified one)

[2019-09-17 16:27] eiriktsarpalis commented on #22191
FWIW we're still skipping [this test](https://github.com/dotnet/corefx/blob/19ea63fee517327e1f6fbfa730300ddef5ef8a3b/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L2260) on account of the issue.

[2019-09-17 16:33] eiriktsarpalis commented on #39545
What's the best way to address this issue going forward? The test failures are long gone from the build history so there's not much context. @geoffkizer should we maybe try re-enabling tests for HTTP2 and observe how they behave?

[2019-09-17 16:35] jkotas commented on #41144
@zezba9000 This is a latent bug in the implementation of your IPAddress converter that was exposed by .NET Core 3. The implementation of `CanConvert` should allow for IPAddress subclasses like this:

[code]

[2019-09-17 17:01] heng-liu commented on #25449
@bartonjs and @krwq Thanks :) I tried SignerInfos[i].CounterSignerInfos[j].AddUnsignedAttribute on Linux and Windows. And they both failed for the same reason:  System.Security.Cryptography.CryptographicException : Cannot find the original signer.

When I debug on windows for netcoreapp3.0, it failed at here:  https://github.com/dotnet/corefx/blob/release/3.0-preview9/src/System.Security.Cryptogra

[2019-09-17 17:26] ericstj commented on #40978
Yep we understand the issue and it’s not blocking.  Setting AutoGeneratBindingRedirects isn’t even relevant for .NetCoreApp projects. You can work around the warning by conditioning that property to only be set for desktop TargetFrameworks.

We’ll fix up the warning in 5.0.

If you’re hitting this warning without setting AutoGenerateBindingRedirects then open a new issue.

[2019-09-17 17:30] ericstj commented on #40978
@anipik since you are touching versions of these assemblies in 3.1 can you address this here?

[2019-09-17 17:36] rladuca commented on #40978
@ericstj In our case, we're using the Microsoft.Build.Locator package which includes a props file that sets `AutoGenerateBindingRedirects` to true.  I'll play around with overriding this and see if it causes any issues, thanks!

[2019-09-17 17:37] vcsjones commented on #41158
My 2c, I've rarely support for counter-signing a counter signature. The only time I've needed counter signatures from an unsigned-attribute signature is szOID_NESTED_SIGNATURE nested signatures for Authenticode, but I think that is out of scope here. I don't see any reason to go out of the way to make sure it doesn't work.

[2019-09-17 17:38] danmosemsft commented on #40888
@steveisok can you confirm that VS for Mac does _not_ need this back ported in corefx (eg., to 3.0.1) since evidently VS for Mac is consuming it out of the Mono sources?

[2019-09-17 18:15] heng-liu commented on #25449
Hi @krwq, I could not find any decode, encode method for SignerInfo and CryptographicAttributeObject. And the CryptMsgOpenToDecode function only works for windows platform.
May I know if the workaround mentioned above works for both Linux and Windows? If yes, can you pls tell me more details?Thanks!

[2019-09-17 18:20] terrajobst commented on #39564
Makes sense. We also considered others (such as kebap casing) but it seems we should defer that until someone actually needs that.

[2019-09-17 18:24] heng-liu commented on #41158
In our case, we need timestamp to be added as unsigned attributes for both signatures and countersignatures, to provide long-term validity even after the signing certificate's validity period has expired.
https://github.com/NuGet/Home/wiki/Package-Signatures-Technical-Details#-timestamps

[2019-09-17 18:33] zezba9000 commented on #41144
@jkotas So you're saying a framework change was made that passes a reference to a private class that implements IPAddress? In turn making it so simply setting something to IPAddress.Any is now not directly a IPAddress and just a implementation of one which IPAddress as its base-class?

In short this is a framework change and not a breaking RuntimeType change correct?
This seems like a pretty bad c

[2019-09-17 18:39] stephentoub commented on #41144
That derives from IPAddress, yes.  e.g. IPAddress.Any now returns a ReadOnlyIPAddress, which derives from IPAddress.

Correct.

How so?  If an API returns "object", is it confusing that it might be something that derives from System.Object rather than being "System.Object" concretely?

What specifically is slower?  The Type comparison check you're doing in your code?  Can you share the real-world

[2019-09-17 18:42] terrajobst commented on #41002
We seem to lean towards not having `Ignore` -- it results in payloads that nobody can reason about. The right fix for those scenarios to modify the C# types to exclude back pointers from serialization.

We'd like to see more detailed spec for the behavior, specifically error cases.

[2019-09-17 18:58] heng-liu commented on #41158
We don't have counter-counter signature in our scenarios. SignerInfo.CounterSignerInfos, one level up is enough in our case.

[2019-09-17 19:03] JamesNK commented on #41144
If the Json.NET serializer can't serialize this type anymore then the least impact change on your code would be to write a `JsonConverter` for it, and add the converter to `JsonSerializerSettings`.

[2019-09-17 19:03] geoffkizer commented on #40315
I'm fine to close.

[2019-09-17 19:08] #40315 closed

[2019-09-17 19:13] terrajobst commented on #24770
If we're adding it, it should be `TryRemove(KV<K, V>)`.

[2019-09-17 19:14] JamesNK commented on #41002
Ok, I don't feel strongly that ignore is necessary. And it should never be the default setting so you can always add it in the future if desired.

[2019-09-17 19:16] scalablecory commented on #24770
From API design: needs good documentation to note `EqualityComparer` behavior to prevent misuse.

[2019-09-17 19:20] stephentoub commented on #24770
I was actually referring to good and bad usage patterns for the API.  But adding details about EqualityComparer is good, too.

[2019-09-17 19:26] zezba9000 commented on #41144
@stephentoub Lets just say it has the potential of being verbosely annoying because correctly me if I'm wrong but .NET for some reason has no equivalent for the 'is' keyword in the aspect of a Type class helper methods that is like doing:

There really should be a method called something like: objectType.IsTypeOrSubclassOf(typeof(IPAddress));

@JamesNK It works. Just have to add missing extension

[2019-09-17 19:29] layomia commented on #40936
Re-opening for consideration in 3.0.x.

[2019-09-17 19:31] #41144 closed

[2019-09-17 19:32] poke commented on #41144
You could also use [`Type.IsAssignableFrom`](https://docs.microsoft.com/en-us/dotnet/api/system.type.isassignablefrom?view=netframework-4.8) to avoid checking against the exact type and subtypes.

[2019-09-17 19:33] stephentoub commented on #41144
Fair enough.  Though I'm not sure anyone's ever accused reflection of being concise :wink:

[2019-09-17 19:34] eiriktsarpalis commented on #41148
Looking at the [test history](https://dev.azure.com/dnceng/public/_build/results?buildId=353186&view=ms.vss-test-web.build-test-results-tab&runId=10640820&resultId=174807&paneView=history), it looks like isolated failures. Perhaps just a temporary issue with the remote server?

[2019-09-17 19:43] zezba9000 commented on #41144
@poke "Type.IsAssignableFrom" doesn't work because the type is not assignable directly from a IPAddress type but rather a ReadOnlyIPAddress. Its not equivalent to the 'is' keyword in short.

@stephentoub Well it should be for common stuff like this, which it is for the most part. I mean I'm sure there is an internal runtime method that handles the 'is' keyword situation that could be invoke for a

[2019-09-17 19:44] stephentoub commented on #41144
What do you mean by this?  `typeof(IPAddress).IsAssignableFrom(objectType)` doesn't give you the right answer?

[2019-09-17 19:44] eiriktsarpalis commented on #39809
Any updates on producing a repro? If not, we could maybe close this?

[2019-09-17 19:50] lambrech commented on #40618
I just tried to verify this fix with dotnet core 3 release 3.0.100-rc1-014190.

And I was able to make both of my "TestCases" work. But I had to make the setter of the JsonExtensionData Dictionary public. This is not a problem for me, but it wasn't like that before (fyi with Newtonsoft.Json it is also not necessary that the JsonExtensionData property has a public setter).

So I just wanted to ask,

[2019-09-17 19:50] zezba9000 commented on #41144
Ooops lol ya just had the logic flipped in my head from doing it the other way around so many times. Silly me.
Still like my suggestion as it avoids the need to flip code around but whatever.

[2019-09-17 20:11] sabyabr opened #41159 "HTTP2: GRPC greeter service failing with 'Invalid Http/2 connection preface' error."
I’ve downloaded the attached sample code and trying to run the Greeter service and client on my machine. But it fails with 'Invalid Http/2 connection preface' error.
Also attaching the email thread with grpc team regarding this issue.
[GreeterServiceError.zip](https://github.com/dotnet/corefx/files/3623228/GreeterServiceError.zip)
[sample.zip](https://github.com/dotnet/corefx/files/3623226/sample.

[2019-09-17 20:26] poke commented on #41144
Yeah, `IsAssignableFrom` requiring backwards logic is a common issue with it.

You can [show your support here](https://github.com/dotnet/corefx/issues/40666) if you would rather want something that makes a bit more sense :)

[2019-09-17 20:41] eiriktsarpalis commented on #40514
Given that SocketsHttpHandler instances can be used to manage both http and http2 connections at the same time, if we do decide to address this, I feel that we should probably expose a dedicated http2 property, i.e. `SocketsHttpHandler.MaxHttp2ConnectionsPerServer`. This would let us use a value that is sensible for http2 without impacting http1.1 behaviour.

[2019-09-17 20:54] scalablecory commented on #39527
I don't think we're trying hard to keep it the same way -- it is more that we try hard to not make changes without fully understanding their scope.

The current implementation is clearly broken, so I think we need to make *some* change that will break anyone depending on a comma being there.

I'm leaning towards reverting to the old behavior of returning separately.

[2019-09-17 21:28] scalablecory commented on #40933
I wonder how many people assign to `IPEndPoint.Address` and `IPEndPoint.Port`. A bit of an extreme option, but we could always make these throw and enforce the class as immutable.

[2019-09-17 21:54] scalablecory commented on #40933
If we had an opaque readonly struct, immutable, we'd need to make it ~32 bytes large for IPv6, or 128 bytes large if we want to support all protocols and match `sockaddr_storage`. 32 bytes wouldn't be terrible from a copying perspective, but 128 bytes are a bit much.

I'm not strongly against it but I think it would be a shame to have three separate types -- `EndPoint`, `SocketAddress`, and this n

[2019-09-17 22:02] ericstj commented on #41133
System.Printing actually builds on top of WPF and is dependent upon types within it.  It's not available independently.

You don't need the seperate project, you can set `<UseWPF>true</UseWPF>` from the winforms application.  /cc @vatsan-madhavan
Only requirement is that that Project uses the `Microsoft.NET.Sdk.WindowsDesktop` SDK as winforms and WPF do, and sets `<UseWPF>true</UseWPF>`

[2019-09-17 22:06] stephentoub commented on #41039
I'm not against recombining assemblies, but any such combining should be motivated by significant enough wins to warrant the effort, whether those wins be throughput, allocation reduction, binary size, etc.  If we're interested in this, I suggest someone prototype it and see what the concrete benefits would actually be.

[2019-09-17 22:20] zezba9000 commented on #41144
Awesome!

[2019-09-17 22:21] zezba9000 commented on #40666
I could not agree more with "IsAssignableTo" or "IsClassOrSubclassOf" as it flows with the rest of my logic more normally.

[2019-09-17 23:11] ahsonkhan commented on #41139
Yes, @GGAlanSmithee - see https://github.com/dotnet/corefx/issues/41002 where @Jozkee is working on designing the feature. Your feedback, usage, and scenario would be helpful there.

No problem, please feel free to participate on that issue.

[2019-09-17 23:18] ahsonkhan commented on #41102
cc @steveharter

[2019-09-17 23:25] JamesNK commented on #41159
I have looked into this a bit in discussion offline.

Background:
* gRPC is setup on ASP.NET Core on port 5000 without TLS
* .NET Core gRPC client is using `http://` address and has set `System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport` to true
* The server is rejecting the client's attempt to start connection

The code in sample.zip works on my computer.

[2019-09-17 23:45] wfurt commented on #23767
should be fixed by #41078

[2019-09-17 23:45] #23767 closed

[2019-09-18 00:00] ahsonkhan commented on #41156
No. We do not have support for dynamic types like `ExpandoObject`. This is a duplicate of https://github.com/dotnet/corefx/issues/38007

Feel free to add your scenario/use case to that issue.

[2019-09-18 00:00] #41156 closed

[2019-09-18 00:24] wfurt commented on #39881
There are two distinct issues here:

We can get events for operations completed **before** watcher started. Unlike inotify on Linux, we subscribe to notifications from  `fseventsd`. That is yet another user space daemon. So even if we call `sync` to flush events when watcher is started, we may old events, `fseventsd` did not processed yet.
I had slightly better luck using `FSEventsGetCurrentEventI

[2019-09-18 00:58] ahsonkhan commented on #41107
When deserializing, we explicitly avoid having the payload define the type to deserialize as (in this case, the DynamoValue is a union of several types and the payload tells you which type it should be returned as), which is why capturing the data as JsonElement and handling it explicitly should work. Your workaround makes sense to me.

[code]

Fields are not supported in the current version of th

[2019-09-18 01:20] krwq commented on #25449
@heng-liu unfortunatelly ASN.1 reader/writer is not currently public but you can copy it to your project (or call it by reflection)...

[2019-09-18 01:49] kingreatwill commented on #40312
+1 to this
[code]

[2019-09-18 02:24] ahsonkhan commented on #40618
It is. The serializer primarily works on POCOs containing properties with public getters/setters. @steveharter - please correct me if I am mistaken for this particular case (`JsonExtensionData` without a public setter wouldn't work).

[2019-09-18 02:38] ahsonkhan commented on #41130
The uncovered branches in  `JsonElement.ArrayEnumerator.cs` and `JsonElement.ObjectEnumerator.cs` are reachable and hence need tests. As an example, a test like the following should cover one of them (right after MoveNext returns false):
[code]
In here:
https://github.com/dotnet/corefx/blob/4ca1feeeb484e8a7089ce8a9d377703ad5b8a53e/src/System.Text.Json/tests/JsonElementWithNodeParentTests.cs#L280-L

[2019-09-18 02:43] ahsonkhan commented on #41132
@danmosemsft - adding tests alone won't be sufficient, since the implementation currently throws `NotSupportedException`. My intent with this issue was to fill in the implementation as well along with adding tests (hence the issue title stating "Add support...").

[2019-09-18 03:22] danmosemsft commented on #41132
Ah I see...feel free to fix it back!

[2019-09-18 03:51] danmosemsft commented on #25449
Of course  if you call internals via reflection you may be broken in a future release

[2019-09-18 04:25] krwq commented on #25449
@danmosemsft this is just to unblock herself - better solution would be to send a patch to https://github.com/dotnet/corefx/issues/41158 and then use nightly bits and perhaps request to include in 3.1 (if we will have one)

[2019-09-18 04:32] MickeyReznikov commented on #38007
Hey guys

whats the walk around for now?
May i configure which one to use?
@SidShetye you said something about went back to more mature one, may you explain please?

[2019-09-18 04:44] davidfowl commented on #32711
@knocte are you still seeing this?

[2019-09-18 05:00] davidfowl opened #41166 "API Proposal: Add Encoding/Decoding APIs for new System.Buffer types"
Today our encoding APIs support `Span<byte>`/`Span<char>`/`char[]`/`byte[]` and the Encoder/Decoder API, I'd like to propose some higher level APIs that support `ReadOnlySequence<byte/char>` and `IBufferWriter<byte/char>`:

[code]

These extensions would likely live in the same assembly as these abstractions since encoding couldn't directly take a dependency on those types (unless we push them low

[2019-09-18 06:03] SidShetye commented on #38007
@MickeyReznimov : See https://stackoverflow.com/questions/15455304/deserialize-a-property-as-an-expandoobject-using-json-net or google “json.net expandoobject”

[2019-09-18 07:11] Crozin commented on #40955
@fhoutr01 IIRC you can specify IP address as an endpoint and still pass `ssl.ServerName=CERT-HOSTNAME` (or `transport.ServerName=CERT-HOSTNAME`)

[2019-09-18 08:57] jhfbosman opened #41167 "JSON DateTime Deserialize failure when Timezone Offset does not contain colon"
I only recently observed a regression failure between `3.0.100-preview7` and `3.0.100-preview8` which persist into preview9 and RC1.

When parsing a valid ISO8601 DateTime string, but with the colon left out of the Timezone Offset, I receive `System.FormatException: The JSON value is not in a supported DateTime format` when using preview8 or later. Preview7 behaves as expected.

A simple sample:
[

[2019-09-18 10:17] HughPH commented on #41107
Thanks Ahson!

My code is behind the edit in my previous reply. The real thing has been cleaned up a little, but I still need to address sets (e.g. BS, SS, NS)

Cheers

[2019-09-18 10:21] gfoidl commented on #41166
* for `Encode` the `ReadOnlySequence<char>` should be passed by `in`.
* other similar APIs follow the schema `source, target, out consumed, out written`, this should be aligned to that

[code]

[2019-09-18 10:42] xcaptain opened #41168 "Sort fields when Serialize an object to string"
Would be great to add an sort option to `Serialize` method

default
[code]

[code]

to asc

[code]

[code]

[2019-09-18 11:04] AntonLandor commented on #41130
Thanks for all the great input! I'll start looking into this issue. I have yet to get familiar with the basic process of developing for CoreFX, and I'll let you know if there's any trouble along the way. The [Developer Guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md) seems really helpful, I missed it when first reading up on the project. Thanks!

[2019-09-18 12:39] fhoutr01 commented on #40955
@Crozin No cigar! :(

When connecting directly to the IP and specifying the cert-hostname through `transport.ServerName=CERT-HOSTNAME` I get the same results.

Thanks for the suggestion by the way. I'm not a C# developer so your suggestion definitely helped!

[2019-09-18 12:40] miloszu opened #41204 "Decimal GetHashCode() not always equal for different number of tailing 0"
true

false

-1083130353

1083130368

Reproduced on .NET Core 2.2 and Windows 10

[2019-09-18 12:43] ViktorHofer commented on #35668
Failed again, this time on Windows 7: https://dev.azure.com/dnceng/public/_build/results?buildId=358032&view=ms.vss-test-web.build-test-results-tab&runId=10839480&resultId=105888&paneView=debug

Configuration: `netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64.Open`

[code]

[2019-09-18 12:48] Bloodmag opened #41203 "NetworkChange.NetworkAddressChanged bug"
# Issue Title

NetworkAddressChanged calls a callback just once.

# General

I wrote a simple program to test how NetworkChange.NetworkAddressChanged and got some really weird results: if I subscribe this event, it's being called just once, but if I add and remove a subscribtion to an empty function, it starts working just fine (one call for plugging ethernet cable out and two for plugging in).

I

[2019-09-18 13:42] gbalykov opened #41171 "API proposal: add function to flush PE caches"
## Rationale and Usage

The idea of this API is to allow flushing of PE caches at request, which will allow to reduce memory consumption of the process.

[code]

After this call Private_Clean and Shared_Clean of the process are reduced, as well as PSS and RSS.

## Proposed API
[code]

## Details
- Internally, FlushPECaches tries to mark all readonly pages of PE images (this considers relocations t

[2019-09-18 13:49] eiriktsarpalis commented on #41159
Code in sample.zip works on my machine as well. I'm using dotnet sdk version `3.0.100-rc2-014234` on Windows. Running both server and client apps without any arguments.

[2019-09-18 13:51] eiriktsarpalis commented on #41148
I'd be inclined to close this. @ViktorHofer thoughts?

[2019-09-18 13:58] matthew798 commented on #40881
So for the following I am using Jetbrains **Rider 2019.2.2**, and dotnet core **3.0.0-rc1-19456-20**, and linux kernel 5.3rc7.d0 (I've tried on other non-experimental kernels)
**Debugging** the code within rider, I get:

**Running** the code within Rider I get:

Running from a self contained app, as you asked:

And the strace output:

Very frustrating. It seems the behavior has chaged... Maybe thi

[2019-09-18 14:00] steveisok commented on #40888
Correct.  We do not need it backported.

[2019-09-18 14:22] davidfowl commented on #41166
Updated

[2019-09-18 14:31] #18832 closed

[2019-09-18 14:33] jonathanpeppers opened #41172 "System.Reflection.MetadataLoadContext performance"
I have a benchmark here: https://github.com/jonathanpeppers/Benchmarks/blob/7db49fb3d272c5b07deda166dd4f5a5112258bbe/Benchmarks/Cecil.cs#L90-L111

And I am getting "not so great" results for `SR.MetadataLoadContext`:

[code]

The performance compared to using raw SRM or Mono.Cecil is drastically worse.

I expected it to be somewhere in the middle of using SRM and Mono.Cecil. Is there something I'm

[2019-09-18 15:11] ViktorHofer commented on #35668
@maryamariyan, @safern

[2019-09-18 15:14] ManickaP commented on #32611
So I'm seeing the same problem on Ubuntu WSL, however on Debian 9 (VM in Azure) it fails with:
[code]
The exception is on dotnet core 2.1.802 as well as 3.0.100 preview 9. I don't know the root cause for the exception yet.

[2019-09-18 15:27] ViktorHofer commented on #41148
I'm surprised that the test doesn't use a loopbackserver given that it's testing a very simple scenario. @eiriktsarpalis I think the right fix would be to change this and other siblings tests to use loopback.

[2019-09-18 15:31] #16364 closed

[2019-09-18 15:34] ViktorHofer commented on #39581
@davidsh would loopback be sufficient for what we are testing here? (PreAuthenticate)

[2019-09-18 15:35] tabinnorway opened #41174 "System.Text.Json and case - different behavior in serialization and deserialization"
If you have a class as such
[code]
and a controller as such
[code]
The object will be serialized as such
[code]
So, on a client somewhere you do
[code]

It will not work, since the Deserialization method is case sensitive. This is in and off it self not a problem, but the two methods should agree on how to serialize and deserialize an object by default. In other words, if the default behavior of s

[2019-09-18 15:46] ViktorHofer commented on #40262
These failures shouldn't happen anymore as clients are patched again and onboarding scripts are updated. Please reopen if you see these issues again.

[2019-09-18 15:48] ViktorHofer commented on #41050
@ManickaP could you please update the dotnet version specified in global.json (both entries) to a preview-9 or rc-1 build and try it again? Trying to investigate if an old CoreLib assembly is the cause here.

[2019-09-18 15:52] GrabYourPitchforks commented on #41174
/cc @anurse @pranavkm Is MVC serializing with camelCase by default?

[2019-09-18 15:58] ViktorHofer commented on #40744
Should this issue be closed?

[2019-09-18 16:01] jkotas commented on #41171
I think this API should be about flushing all caches that the runtime controls: trimming unnecessary pages in GC heap, etc.

[2019-09-18 16:03] GrabYourPitchforks commented on #41166
Keep in mind each API call would incur a single tiny allocation for the `Encoder` or `Decoder` object. This should be fine since it'll be short-lived, but wanted to make you aware of it. Additionally, the return value in all cases would be `void` instead of `OperationStatus`, as the API would always run to completion (or fail if given invalid data and configured to throw). But otherwise LGTM.

[2019-09-18 16:07] alnikola opened #41175 "Unit test process fails with "Access violation" under VS debugger"
If a unit test project (e.g. System.Text.RegularExpressions.Tests) is being run under VS 2019 debugger (it is started by pressing F5, NOT from Test Explorer), it starts executing, but after several seconds fails with "Access violation" exception. This happens even if the test process itself gets paused by debugger at some point. In the output window, the following error is logged:
"The program '[4

[2019-09-18 16:11] nyash opened #41176 "System.Text.Json: DictionaryKeyPolicy not applied to keys that contain non primitive types"
Hello.

-Net Core 3 RC1

Apparently when serializing a dictionary if a key contains a non primitive type the DictionaryKeyPolicy won't be applied to the key, example below:

[code]

[code]

Notice that "KeyList", "KeyDict" and "KeyClass" have not been camelCased. I guess this is not intended.

[2019-09-18 16:12] anurse commented on #41174
[Looks like it, yes](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/JsonOptions.cs). I believe that was it's previous behavior as well (when using Newtonsoft.Json), but this is a casualty of the fact that Newtonsoft.Json was *case-insensitive* by default whereas System.Text.Json is *case-sensitive* by default.

[2019-09-18 16:16] davidfowl commented on #41166
There might be a fast path for the single segment case that avoids the allocation but good reminder (I actually implemented these before filing the issue). Do you think it makes sense to expose a static API that takes an encoder/decoder? The fact that those can be reset would make it possible to re-use them as well.

What if there's incomplete data? I got 2 bytes of a 3 byte UTF8 scalar/codepoint

[2019-09-18 16:19] pranavkm commented on #41174
You could consider changing MVC's default to use the default (Pascal casing) if you don't particularly care about the output format:

[code]

[2019-09-18 16:43] davidsh commented on #39581
Maybe. However, the loopback server might need more enhancements to support the authentication that those tests use.

[2019-09-18 16:44] davidsh commented on #40744
Let's close for now and see how things go.

[2019-09-18 16:44] #40744 closed

[2019-09-18 16:48] eiriktsarpalis commented on #41148
Is that something we should be pursuing for all outerloop tests depending on remote servers?

[2019-09-18 16:53] davidsh commented on #41148
Yes we should try to move more tests to loopback if possible. Some tests will be more difficult to do that as they will require the loopback server to be enhanced further.

The history of this is that long ago we didn't have the loopback server. Everything talked to a remote server. Over time we introduced the loopback server and made it more capable and more stable. So, where it makes sense, we s

[2019-09-18 17:05] eiriktsarpalis commented on #41148
My only concern is that loopback is a bespoke implementation, with emphasis on introspecting server-side protocol state. I do think there is value in running at least some of the functional tests against baseline production servers, which of course needn't be hosted remotely.

[2019-09-18 17:31] heng-liu commented on #25449
Hi @krwq , I tested 6 test cases which calls _signedCms.SignerInfos[0].CounterSignerInfos[0].AddUnsignedAttribute(unsignedAttribute);

And there're two different results:
1.  "System.Exception : Cannot find the original signer." is thrown, and failed to add the unsignedAttribute to the CounterSingerInfo[j]
2.  no exception is thrown,  but the unsignedAttribute is not added to the CounterSingerInfo

[2019-09-18 17:37] codeoflin opened #41179 "I can't use "dotnet ef database update --environment RELEASE""
![image](https://user-images.githubusercontent.com/45932283/65171600-d9f9ee00-da68-11e9-9e23-f4a9f19a9955.png)

![image](https://user-images.githubusercontent.com/45932283/65171699-188fa880-da69-11e9-911a-f7d0922d2fb7.png)

what should I replace?

[2019-09-18 17:47] JoeEdwardsCode commented on #36119
It should be noted that forcing a GET on 303 for a PUT is the behavior of System.Net.Http in .NET Framework from what I can tell.

[2019-09-18 18:19] heng-liu commented on #25449
@krwq For the ASN.1 reader/writer you mentioned above, is it from : System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/Pkcs/Asn1/  ? Thanks~

[2019-09-18 18:21] MichaelSimons commented on #41181
Originally logged against Docker, but not appear docker specific.

cc @tarekgh

[2019-09-18 18:23] khellang commented on #41179
Shouldn't you `set ASPNETCORE_ENVIRONMENT=Production`? 🤔

[2019-09-18 18:33] khellang commented on #41174
Really? And MVC doesn't explicitly change this? I can't believe it's taken this long for a report like this if that's the case. Are people not roundtripping stuff from the server and back? 🤔

[2019-09-18 19:07] stephentoub opened #41182 "Remove WinHttpHandler fallback from HttpClientHandler"
A developer can explicitly use WinHttpHandler by referencing the nuget package and constructing one.  The meant-to-be-temporary environment-variable-controlled fallback is not only additional code to be maintained and additional complexity on how the code is structured, it forces every consumer of System.Net.Http.dll on Windows to carry the WinHttpHandler code internal to System.Net.Http.dll, whic

[2019-09-18 19:07] tarekgh commented on #41181
@MichaelSimons
The fault is happening in ICU library itself. Are we sure the installed ICU is supported on such Alpine containers?

@kobellem
We need more information how did you install ICU and if you see this problem when using .net core 2.1 or 3.0 too?

[2019-09-18 19:08] wfurt commented on #32611
This is because it depends on network configuration @ManickaP. Local hostname may or may not be in DNS. And it also depends on what DNS server you are pointing at.
According to documentation https://docs.microsoft.com/en-us/dotnet/api/system.net.dns.gethostaddresses?view=netcore-3.0#System_Net_Dns_GetHostAddresses_System_String_

So I'm not sure if it is reasonable to expect _all_ local addresses

[2019-09-18 19:08] tabinnorway commented on #41174
System.Text.Json does indeed use camlCase as default, so does Newtonsoft, now. Earlier Newtonsoft did not, and would (by default) use the same case as the POCO. A supplier of ours ran into this when upgrading their .Net server application, announcing they had changed nothing, and suddenly none of our Angular apps would work. JS is, as we know, case sensitive.

The "standard" for POCO is of course

[2019-09-18 19:09] stephentoub opened #41183 "Remove CurlHandler fallback from HttpClientHandler"
SocketsHttpHandler has progressed to the point where we shouldn't need the fallback behind HttpClientHandler, and having it significantly increases the size of System.Net.Http.dll on Unix, while also requiring System.Net.Http.Native.so/dylib, and impacting distribution with libcurl.  We should remove the fallback and all associated code, and if any additional and impactful gaps are discovered, fix

[2019-09-18 19:17] wfurt commented on #40888
the extra code is to make sure Dispose() works concurrently from multiple threads. That may not be VS/Mac use case.  I also put more notes to #39881 (just in case it matters for VS use)

[2019-09-18 19:31] bartonjs commented on #25449
The AsnReader and AsnWriter types are available as an experimental package (e.g. https://dotnet.myget.org/feed/dotnet-corefxlab/package/nuget/System.Security.Cryptography.Asn1.Experimental/0.1.1-e190917-2).  Be aware that due to a bad versioning change in January that the "newest" package is not actually the newest.

[2019-09-18 19:53] heng-liu commented on #25449
Thanks! @bartonjs

[2019-09-18 19:55] zezba9000 commented on #35694
I'm now running into this in a WPF .NET Core 3.0 app that includes a .NET Standard 2.0 lib that uses it.
Latest VS RC1 and .NET Core 3 RC.

[2019-09-18 20:03] danmosemsft commented on #35694
I think the fix @jkoritzinsky made was 2746a21357470e3da9e3e9222f2da350c9e5dd3a. @zezba9000 for the avoidance of doubt, perhaps you could use a debugger to see where System.Management.dll is getting loaded from, and use ILSPY or similar to check that change is present?

[2019-09-18 20:10] wfurt commented on #32611
BTW do you have any recommendation here @davidsh?

[2019-09-18 20:26] wfurt commented on #41140
I get following output when running on Ubuntu16 and using vi:
[code]
my guess is that your editor may not modify file in place and perhaps uses some temporary files - like the `.outpustream*`. You can try ` inotifywait -m  /usr/share/` to see what is going on your system.

[2019-09-18 20:37] davidsh commented on #41182
Unlike #41183 which will remove CurlHandler completely including the implementation and specific tests, removing the fallback to WinHttpHandler will result in almost no test coverage for WinHttpHandler except those tests in the System.Net.Http.WinHttpHandler/tests/* folders.

Do you think as part of implementing this issue, we should leave some WinHttpHandler testing in the main System.Net.Http/te

[2019-09-18 20:44] stephentoub commented on #41182
That's a good point.

Sounds like a good solution.

[2019-09-18 21:03] zezba9000 commented on #35694
Oops never mind. I just needed to update my CoreFX libs for the RC versions to match up with .NET Core 3 stuff.

Sorry about that.

[2019-09-18 21:10] tmds opened #41186 "Q: TaskStatus.Canceled for non-matching OperationCanceledException"
When I run:
[code]
it outputs:
[code]
I expected the Tasks to be in the `Faulted` state because the `OperationCanceledException` isn't associated with the Task token.

Why are these Tasks `Canceled`?

[2019-09-18 21:22] heng-liu commented on #41158
THis is @rrelyea typing on @heng-liu's laptop now...
How soon could we have a daily build of 3.1 with this fixed?
We'd love to not have to work around it...as we would rather be as efficient as possible with our work.

[2019-09-18 21:25] danmosemsft commented on #35694
@zezba9000 no problem, glad it's working!

Incidentally, now you're here, perhaps you'd be interested in considering a contribution? We have 100's of up for grabs issues. Some are new API ("api-approved" label).
https://github.com/dotnet/corefx/issues?q=is%3Aopen+is%3Aissue+label%3Aup-for-grabs

[2019-09-18 21:30] wfurt commented on #40955
I look at the packet capture @fhoutr01  and the grouping around 10s boundary seems suspicious. It is hard to know _exactly_ what is going on but if I assume basic request/response communication then client sends request in packet 20 at 9.56s. Server sends back something almost immediately (packet 22) and then 5s later more - packet 24. And then it takes another 10s for client to send anything back

[2019-09-18 21:39] zezba9000 commented on #35694
@danmosemsft I'll take a look!

[2019-09-18 22:08] danmosemsft commented on #35694
Cool, ping any of us on an issue if you're interested.

[2019-09-18 22:15] wfurt commented on #40881
From the trace, 23 should not be connect while 24 is, right?
[code]
this looks correct to me. It may be worth of printing Socket Handle in your debug so it is easier to correlate with the trace. As far as the multiples of same socket number. It is probably closed but that is not visible in the trace. You should see that with  `-e trace=network,desc`

cc: @tmds  for comments. Looking at Linux sourc

[2019-09-18 22:20] halter73 opened #41189 "Possible Socket Regression in .NET Core 5.0 on Linux"
ASP.NET Core has tests where the client reads response data at an artificially slow rate, but above the configured minimum rate enforced by the Kestrel HTTP server. These tests started becoming flaky with the client observing a “Connection reset by peer” SocketExeption on Linux when we updated the AspNetCore repo to depend on .NET Core 5.0.

In these tests, Kestrel [calls Socket.Shutdown(SocketShu

[2019-09-18 22:29] matthew798 commented on #40881
You are correct, 23 not connected, 24 connected. That seems ok in the strace. Do you mean the source of my app? Or the source of the socket code?

[2019-09-18 22:41] wfurt commented on #40881
I meant to add it as debug to your test app. That should not change anything but it would be easier to look through the traces. I had to take notes as I was reading trace output.

I briefly look at relevant kernel code and also noticed notes about receiving core. I would think the bind/connect would take precedence but  I'm not 100% sure yet. @tmds worked on some of the *REUSE* options and he may

[2019-09-18 22:42] ViktorHofer commented on #20893
Happened again: https://dnceng.visualstudio.com/public/_build/results?buildId=358741&view=ms.vss-test-web.build-test-results-tab&runId=10867932&resultId=176327&paneView=debug

@davidsh any recommendation? seems to feel frequently enough to take a look.

[2019-09-18 22:56] krwq commented on #41158
@heng-liu @rrelyea I've sent you an offline e-mail with the answers

[2019-09-18 23:01] tarekgh commented on #41181
I have tried that manually and I am seeing it is working just fine to me. I think may be the wrong thing make the problem show for @kobellem is the installed ICU is kind of corrupted or incompatible. anyway, here is what I did:

[code]

Then I ran the following code:

[code]

And it produces
[code]

if I do the following and run:

[code]

I am getting

[code]

Everything is working as expected. @k

[2019-09-18 23:04] davidsh commented on #41189
@wfurt

[2019-09-18 23:05] davidsh commented on #20893
@ViktorHofer

This is a disabled-test.  How can it happen again?

[2019-09-18 23:07] matthew798 commented on #40881
Out of curiosity, can you link me to the kernel code you are examining? I'd like to take a look as well but I'm damned if I know where to look.

[2019-09-18 23:20] wfurt commented on #20893
It is disabled on UWP but I'm not sure if the run was. It seems like 32bit windows from brief look.

[2019-09-18 23:20] davidsh commented on #20893
@wfurt Can you take a look?

[2019-09-18 23:23] wfurt commented on #41189
cc: @tmds

[2019-09-18 23:42] codeoflin commented on #41179
https://www.learnentityframeworkcore.com/migrations/commands/cli-commands

I just want use it when I update the database

[2019-09-19 00:32] danmosemsft commented on #41179
@codeoflin could you move this to https://github.com/aspnet/EntityFrameworkCore ? You'll probably get your answer there.

[2019-09-19 00:58] GrabYourPitchforks commented on #38354
Yes, it would be a breaking change, but I don't see why that would preclude us from taking it in 5.0. This seems like the kind of breaking change we'd allow to go through in a future release if we were so inclined to do this work. It doesn't change the forward-compatibility or backward-compatibility of any generated payloads.

[2019-09-19 01:08] GrabYourPitchforks commented on #41166
Unlikely, as they wouldn't play well with the other APIs on `Encoder` or `Decoder`. The best course of action would probably be to special-case the single-segment case, as you had suggested.

The `Encoding` type does not provide any such "go as far as you can and tell me how far you got" facility. The closest APIs are on `Encoder` / `Decoder`, but those types maintain state, so they're ill-suited

[2019-09-19 01:25] GrabYourPitchforks commented on #41166
For some context behind my "sequence of sequences" comment above: generally speaking text APIs only ever operate on entirely self-contained text. For example, we don't have an `OperationStatus`-based _ToUpper_ API because it would require extraordinary contortion all the way up and down the stack, including changes to either libicu (on non-Windows) or the Windows operating system itself. For this

[2019-09-19 02:40] davidfowl commented on #41166
It doesn’t need to play well but it can’t throw an exception. The thing reading the stream shouldn’t need to try catch, it just needs to know how much data was consumed.

Using a ReadOnlySequence\<byte\> that comes from a PipeReader. It’s arbitrarily sized data that comes from a network or file.

This actually came from me trying to implement a TextReader on top of pipe. All I have is an encoding

[2019-09-19 03:41] wizofaus opened #41192 "Can't reliably determine if connection was successful when using HttpClient"
If an exception is thrown from a call to HttpClient.SendAsync( ) there's no way to be certain that the connection itself failed, vs. e.g., a timeout before trying to read the response.
While there are certain SocketException SocketError values that can only happen if the DNS lookup or connection fails, if there is a) a failure negotiating the SSL handshake or b) a timeout trying to connect, there'

[2019-09-19 04:02] davidsh commented on #41192
This is similar to #4148 and related issues. Basically we need to enhance the top-level HttpRequestException and add a property that would be similar to the [WebException.Status property](https://docs.microsoft.com/en-us/dotnet/api/system.net.webexception.status?view=netframework-4.8). That property was of type [WebExceptionStatus](https://docs.microsoft.com/en-us/dotnet/api/system.net.webexceptio

[2019-09-19 04:04] davidsh commented on #41186
@stephentoub

[2019-09-19 05:00] tmds commented on #41189
This is caused by calling `Disconnect`:

https://github.com/dotnet/corefx/blob/19b304f7815894b13cb61e87e1c9eac49a474c7e/src/System.Net.Sockets/src/System/Net/Sockets/SafeSocketHandle.Unix.cs#L397

This happens in `TryUnblockSocket` to cancel on-going operations from the socket when the handle isn't released immediately on `Dispose`:

https://github.com/dotnet/corefx/blob/b49a8a9be1d53cd9e50cb68fd8

[2019-09-19 05:00] wfurt commented on #40881
This is link to latest version but I doubt this changed much.
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/net/ipv4/udp.c?h=v5.3

I think the interesting part is `__udp4_lib_rcv()` It takes received SKB and it tries to find matching socket. That is done in `__udp4_lib_lookup()`

[2019-09-19 05:08] wfurt commented on #41151
cc: @krwq

[2019-09-19 05:14] GrabYourPitchforks commented on #41166
Sounds like we're circling around taking `this Encoder` or `this Decoder` as a parameter then? Since those are stateful types they won't throw exceptions when they see partial data; they'll just consume it and wait for more input. (That's also why my proposed modifications to your APIs don't have an _out_ parameter: it'd be guaranteed to always point to the end of the sequence.)

If you wanted a "

[2019-09-19 05:31] wfurt commented on #41080
I can reproducer it with 2.1 and 3.0. I will take look.

[2019-09-19 05:36] wfurt commented on #40964
searching home folder may be compat with Windows. cc: @tmds

[2019-09-19 05:37] wfurt commented on #40964
one more thought: we should probably skip non-executable files like shell would.

[2019-09-19 05:40] GrabYourPitchforks commented on #41166
FWIW I wish the `Encoding` types would play better with `OperationStatus`. When we refactored the base `Encoding` type last release we internally rewrote much of it in terms of that type.

Check this out:

https://github.com/dotnet/coreclr/blob/d8d6d8a53217806a0f3866e3156e10e1d1b06084/src/System.Private.CoreLib/shared/System/Text/Encoding.Internal.cs#L71-L85

In theory, if we were to completely re

[2019-09-19 06:13] tmds commented on #40964
https://github.com/dotnet/corefx/blob/19b304f7815894b13cb61e87e1c9eac49a474c7e/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L685-L689

[2019-09-19 06:14] tmds commented on #40881
I'll chime in next week (post 3.0 release).

[2019-09-19 06:18] AriNuer opened #41194 "Test failure:System.Drawing.Tests.FontTests.FromLogFont_ValidLogFont_ReturnsExpected(fontStyle: Bold, weight: -2147483648, charSet: 0)"
Test `System.Drawing.Tests.FontTests.FromLogFont_ValidLogFont_ReturnsExpected(fontStyle: Bold, weight: -2147483648, charSet: 0)` has failed:

[code]

Build: -[20190918.39](https://dnceng.visualstudio.com/public/_build/results?buildId=359768
)(Master)

Details:
https://helix.dot.net/api/2019-06-17/jobs/d2810871-f05f-4b10-8aac-475b8fc1a1d9/workitems/System.Drawing.Common.Tests/console

[2019-09-19 06:29] wfurt commented on #20893
I can check if I can reproduce it locally. If not, we will need some way how to re-create CI environment.

[2019-09-19 06:56] sec commented on #40865
@jasonpugsley would you mind to share how did you managed to build 3.0 from source? did you followed instructions from wiki and/or you made some changes to make it build?

[2019-09-19 07:27] Crozin commented on #40955
MQ does not use HTTP using OpenWire/ActiveMQ transport (TCP/SSL).

---

It should also not matter if we use IP-based host or a hostname. As AWS AMQ DNS resolves to IPv4 address only according to this https://github.com/apache/activemq-nms-openwire/blob/master/src/main/csharp/Transport/Tcp/TcpTransportFactory.cs#L322 it should basically connect the very same way as if we provide IP in the first pla

[2019-09-19 07:28] shishirchawla commented on #28410
Hi @danmosemsft / @jzabroski  ,

Heres my PR for the new API - https://github.com/dotnet/corefx/pull/41195 . This is my first PR on the project, so please bare with me.

Looking forward to your feedback.

Shishir

[2019-09-19 07:52] atifaziz commented on #39527
I can completely appreciate that.

Can't say I don't second that. 😉

[2019-09-19 07:53] AntonLandor commented on #41130
Alright, I think I've covered all the reachable branches. Though I haven't been able to get https://github.com/dotnet/corefx/blob/e8efb815275c8323fedc950ca3596474fa5e23c3/src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L1176-L1184
and https://github.com/dotnet/corefx/blob/e8efb815275c8323fedc950ca3596474fa5e23c3/src/System.Text.Json/src/System/Text/Json/Document/JsonElement.cs#L1

[2019-09-19 08:16] klyse commented on #29090
Any updates on this? I have the same problem.

[2019-09-19 08:53] xcaptain commented on #40979
I have the same issue using `Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping` to serialize an object causes a stack overflow, is this bug fixed? I'm using dotnet core 3 preview 9

[2019-09-19 08:59] kobellem commented on #41181
Hi @tarekgh, @MichaelSimons ,

After some more debugging, I tracked down the issue to our webhost setup. The issue occurs when calling app.UseMvc(). However it only occurs when localization is enabled.

I'll take this up with the team responsible for the application and see if we can change our webhost setup.

Kind regards,
kobellem

[2019-09-19 08:59] xcaptain commented on #41168
I will close this issue, it's not a good request, should be done at user code.

[2019-09-19 08:59] #41168 closed

[2019-09-19 09:01] Zonciu commented on #40979
@xcaptain It has been fixed in nightly build, but not in 3.0 rc1

[2019-09-19 09:11] ManickaP commented on #41050
@ViktorHofer with rc-1 I got a different error in a different lib:
[code]

I don't know why, but the path contains `System/Xml` twice. If Iook into `System.Private.Xml.csproj`, there it is OK: `<Compile Include="System\Xml\XmlCharType.cs" />` and the file exists.

[2019-09-19 09:42] xcaptain commented on #40979
I'm still having this issue even I upgraded to 3.0 rc1

![图片](https://user-images.githubusercontent.com/4054836/65232933-95bc2b80-db04-11e9-9ed0-7f3c69186e7a.png)

My code is at https://dotnetfiddle.net/5rUTaW

if I change the `Name`  to other string it runs. @Zonciu can you help test my case?

[2019-09-19 09:47] Zonciu commented on #40979
@xcaptain 3.0 rc1 doesn't contain this fix, you need to use Newtonsoft.Json, or try the [daily build](https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries)
I'd tested it in docker (nightly build 09/17/2019), it works.

[2019-09-19 09:53] kobellem commented on #41181
Hi @tarekgh, @MichaelSimons ,

After consulting with the responsible team, we came to the conclusion that the application itself does not need to be localized. We only need the libraries to be present in order to resolve CultureInfo types. Adding the icu-libs and setting DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=true solves the issue.

For my part the issue can be closed, unless you want to further in

[2019-09-19 09:54] xcaptain commented on #40979
@Zonciu Thanks

[2019-09-19 10:40] intermension commented on #41133
@ericstj Even better. Thanks.

[2019-09-19 10:40] #41133 closed

[2019-09-19 11:05] GSPP commented on #40892
It's a key decision whether the first segment is *guaranteed* to be not empty or not. If it's not empty in 99.999% of the cases you still can't rely on that.

It's also problematic if just a certain API (such as PipeReader) always generates non-empty first segments. Code that does `First.Span[0]` would work with such an API but fail surprisingly with others.

So I think that non-emptiness guarante

[2019-09-19 11:09] msschl opened #41196 "API Proposal: Add Dictionary.ToArray()"
I'd like to propose an API to the Dictionary class:

[code]

[2019-09-19 11:22] HSchwichtenberg commented on #41141
But "manually modify the generated code to use a shorter constructor." means that we have to redo these manual changes every time the Typed DataSet is regenerated. Consequently, projects with Typed DataSets cannot be migrated to .NET Core 3.0 👎

[2019-09-19 11:58] tmitchel2 commented on #39828
I just got his error when using the same preview version.  I am testing out HTTP2 without https and im using AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true) switch.

[2019-09-19 12:01] stephentoub commented on #41196
Why is this better than the existing LINQ ToArray that works with dictionaries?

[2019-09-19 12:13] msschl commented on #41196
Sry, haven't seen it. Thanks

[2019-09-19 12:13] #41196 closed

[2019-09-19 12:27] gabeluci commented on #29090
No, it hasn't been fixed yet.

As an alternative, you can get a user's groups using `DirectoryEntry` directly (which is what `UserPrincipal` uses in the background anyway). I wrote an article on this, with some example code: [Active Directory: Finding all of a user’s groups](https://www.gabescode.com/active-directory/2018/06/08/finding-all-of-a-users-groups.html). I find that using `DirectoryEntry

[2019-09-19 12:32] mmosca opened #41198 "NullReferenceException in System.Text.Json.Deserialize<IEnumerable<IDictionary<string, object>>>"
System.Text.Json fail with a NullReferenceException trying to deserialized nested objects/arrays to IEnumerable<IDictionary<>> type.

This sample program will trigger this issues on .Net Core 3.0-rc1:

[code]

[2019-09-19 12:39] eiriktsarpalis commented on #41183
I'd be happy to take this on. Is it an immediate priority?

[2019-09-19 12:41] ManickaP commented on #32611
@wfurt Yeah you're right, it fails on Mono as well (in the Azure VM), though it gives much better message:
[code]

And `nslookup` obviously fails for the computer name as well:
[code]

So my testing environment is not exactly the same as in the original problem of the issue.

But I was able to get the same problem on WSL, so might continue testing there.

[2019-09-19 12:41] stephentoub commented on #41183
Thanks. No immediate rush. It'd be good to do it earlier rather than later in the .NET 5 cycle, though.

[2019-09-19 12:54] ManickaP commented on #32611
WSL successful repro.
mono:
[code]
dotnet 3.0.100-rc1-014190
[code]

So the question now is whether we adopt the mono implementation or not?
@davidsh and @wfurt

[2019-09-19 12:55] stephentoub commented on #41186
This is by design.

For all `async` methods, `OperationCanceledException` is special-cased to complete the returned `Task` as `Canceled` rather than `Faulted`.  It pays zero attention to cancellation tokens, because the C# language / compiler for `async` methods has zero knowledge of cancellation tokens.  As such, rather than having all exceptions (even if for cancellation) be `Faulted`, we chose

[2019-09-19 13:04] eiriktsarpalis commented on #41192
This feels related to #20296. A solution here should probably also address that issue.

[2019-09-19 14:03] chenyj796 opened #41199 "Compile to x86 can not run at x64 platform"
I have a library file which is writen by C language and compiled to x86.

In my C# project, I need call the C library by PInvoke, so I set the PlatformTarget property to x86 in .csproj file.

[code]
When I run the app at windows 7 x64:
1) for net461, it works fine
2) for netcoreapp3.0, it throws a System.BadImageFormatException.

[2019-09-19 14:08] mstoffel-infraserv opened #41200 "Regex Match Hangs forever"
During processing with one of our applications we ran into an issue with Regex Match method hanging forever with a specific regular expression and specific text. See attached code for details.
[BadRegex.zip](https://github.com/dotnet/corefx/files/3631645/BadRegex.zip)

[2019-09-19 14:11] fhoutr01 commented on #40955
The following code did not impact the performance
[code]

I'm not sure where to find the verbose logging `export CURLHANDLER_DEBUG_VERBOSE=true` drops said verbose logging?

I can confirm that the delay only happens on linux ( the distro's i've tried so far ) and not windows as Crozin mentioned. From my windows machine there is no delay in connecting and posting/reading meassages from Amazon MQ.

[2019-09-19 14:27] stephentoub commented on #41200
I've not looked at your regular expression, but generally such reports indicate not that it's hung but rather than it's just doing a very expensive computation, typically involving backtracking, that could end up evaluating for a very, very long time.  That's why Regex supports timeouts.
https://docs.microsoft.com/en-us/dotnet/standard/base-types/backtracking-in-regular-expressions

[2019-09-19 15:35] bartonjs commented on #41158
I think the API already refuses to (in one way or another) deal with counter-counter-signers (other than you can see that a counter-signer has a counter-signer attribute; and there's no reason for this issue to change that.

Other unsigned attributes (RFC3161 timestamping is probably the target scenario) should be able to be added to a counter-signer (or removed from the counter-signer, I suppose)

[2019-09-19 15:40] davidfowl commented on #40892
I agree, while writing documentation it became evident that empty segments make the type pretty impossible to use...

[2019-09-19 16:06] tarekgh commented on #41186
@tmds I am closing this issue per @stephentoub answer. Feel free to respond back with any more questions if there is anything unclear. Thanks.

[2019-09-19 16:06] #41186 closed

[2019-09-19 16:08] stephentoub opened #41201 "Consider PreserveDependencyAttribute to help linker"
We currently use ILLinkTrim.xml files to express APIs, whether public or non-public, that should not be trimmed away by the linker, whether during the first trimming phase when we build the assemblies or the second optional trimming phase when an app is deployed with trimming.

However, these declarations are causing us to keep around a lot more state than is necessary, for two reasons:
1. The pre

[2019-09-19 16:15] wfurt commented on #40865
discussion is here: https://github.com/dotnet/source-build/issues/1139

[2019-09-19 16:19] MattGal commented on #41037
@ViktorHofer : please try out mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.10-helix-3043688-20190918214010

[2019-09-19 16:22] wfurt commented on #40955
So it seems lile AMQ is using SslStream directly. With that , there is very little we do at .Net after handshake. That is essentially pass-through. And based on the flow, it seems like the delay may come from server. I look at the link @Crozin and noticed references to Logging. Perhaps next step is to debug this at MQ layer.

[2019-09-19 16:24] jkotas commented on #41201
I agree that this is a good idea. The PreserveDependencyAttribute as it exists today is not compatible with per-assembly trimming mode that we use to remove unnecessary code from CoreLib and CoreFX today. We would need to do something about it. Options I can think of:
- Stop doing per-assembly trimming for CoreLib and CoreFX, and live with the shared framework size regression.
- Do the trimming in

[2019-09-19 16:25] davidsh commented on #32611
@davidsh and @wfurt

Are you talking about changing our implemention in .NET Core to do this?

If the hostname passed to the function matches the local hostname, then the function ends up calling a specific internal routine which enumerates local ipaddresses through a SIOCGIFCONF ioctl call on a local socket.
I believe that the same approach should be taken here, or at least make use of getifaddr(

[2019-09-19 16:26] stephentoub commented on #41201
Yes, I just had a discussion with Marek about that.

I think there's another options as well:
- Add an option to the linker to not strip PreserveDependency or its usage.  We would specify that when building the assemblies, but not when publishing.  There'd be the ever so small size increase from the attribute usage, but that's a drop in the bucket, and we're already paying for the .xml file being

[2019-09-19 16:29] tarekgh commented on #41181
I am comfort enough that there is no problem with DOTNET_SYSTEM_GLOBALIZATION_INVARIANT. so I am closing it. We can ask ASP.NET about the UseMvc behavior if needed to. We'll just need some concrete repro to be able have them investigate. Thanks for your feedback.

[2019-09-19 16:29] #41181 closed

[2019-09-19 16:31] jkotas commented on #41201
The PreserveDependency is specified on the consuming side, but the trimming needs to be suppressed on the producing side. These two often live in different assemblies. How would the linker get to know about the consuming assembly when trimming the producing assembly?

[2019-09-19 16:40] ViktorHofer commented on #41037
Thanks will do this.

[2019-09-19 16:46] stephentoub commented on #41201
The two most common cases I've seen are:
- Both the PreserveDependency and the thing it's preserving are in the same assembly, e.g. all of the cases where something in the assembly depends on something else in the assembly to be constructible via reflection.
- The thing being preserved is public and thus wouldn't be trimmed as part of building the assembly, e.g. corelib using Process.WorkingSet.

[2019-09-19 16:46] nabeelvalley commented on #24514
I'd like to work on this, still experiencing this issue

[2019-09-19 16:56] wfurt commented on #32611
I have did quick test on Windows 10 system with 2 interfaces. My second NIC is private network and the address is NOT in DNS. Running example above gives that IP address as well. Interestingly, IPv4 loopback (127.0.0.1) is not in the list. (nor ::1)

If we want consistent behavior, adding special case for own name makes sense to me. (instead of relying on external DNS)

[2019-09-19 16:59] davidsh commented on #32611
FYI, Windows doesn't just use DNS to get IP addresses from names. It uses NETBIOS and LLMNR and other protocols.

[2019-09-19 17:12] ericstj commented on #41068
@JeremyKuhne can you prep a PR against `release/3.0` when you get a chance and mark it no-merge?  That way we are ready to go when 3.0 unlocks for servicing changes.

[2019-09-19 17:38] scalablecory commented on #41183
It has been useful in the past to ask people to disable `SocketsHttpHandler` to check behavior against one of these long-term "stable" platforms. What do you think of instead moving these classes to a NuGet package?

[2019-09-19 17:38] #40649 closed

[2019-09-19 17:44] davidsh commented on #41183
CurlHandler isn't even a public API in .NET Core. So, we would have to make it one via API review etc.

I think we should still remove it entirely from .NET Core as per this issue. But I think it might also be useful to move all of this code (managed and native helper library) to another repo and have a separate NuGet package. That could be a community supported thing perhaps. But I'm not sure it

[2019-09-19 17:46] halter73 commented on #41189
I think so. In the test, the client is still receiving data for several seconds after server calls `Socket.Shutdown(SocketShutdown.Both)`. Then again, so does my gist which I haven't seen repro my issue.

[2019-09-19 17:51] tmds commented on #41186
Yes, question answered. Thanks @stephentoub .

[2019-09-19 17:52] layomia commented on #38907
Closing, following the merging of https://github.com/dotnet/samples/pull/1418 and https://github.com/dotnet/docs/pull/14056.

[2019-09-19 17:52] #38907 closed

[2019-09-19 17:54] ManickaP commented on #32611
Please correct me if I'm wrong, but the desired behavior on all OSes is:

Unless someone express disagreement here I'll try to look into it.

[2019-09-19 18:00] davidsh commented on #32611
If we want consistent behavior, adding special case for own name makes sense to me. (instead of relying on external DNS)

We should have our APIs be able return all IP addresses which include all of those bound to network interfaces as well as "127.0.0.1" and "::1" (loopback adapter addresses).

Note that on systems supporting IPv6 this will include the link-local addresses as well, i.e: from my "

[2019-09-19 18:09] stephentoub commented on #32611
I'm theoretically fine with such a change, especially if it improves our behavior across OSes.  One thing to be cautious of is performance; we'll want to pay careful attention to that, as iterating through all such adapters could be non-trivially expensive if we had to do it on every call.  We might need to think about some kind of caching strategy.

[2019-09-19 18:11] stephentoub commented on #41183
I'm also not sure how long-term or stable CurlHandler is :smile:  Certainly curl / libcurl itself are, but we have a non-trivial amount of behavior layered on top that attempts to provide behavior akin to .NET Framework on top of libcurl, and so testing behavior via CurlHandler isn't always a good indication of what curl itself does... in general I personally found that just using curl from the co

[2019-09-19 18:13] wfurt commented on #32611
true. But going to external DNS server is not fast either IMHO. Going through interface list will burn more CPU. We could listen to address updates but that would require background task.

[2019-09-19 18:15] tannergooding commented on #41206
`CharSet.Unicode` is documented to be

| Name | Value | Description |
| ----- | ----- | ---- |
| Unicode | 3 | Marshal strings as Unicode 2-byte character strings.

[2019-09-19 18:16] jkoritzinsky commented on #41206
More specifically, `CharSet.Unicode` is documented to map to a native `char16_t` on Unix-like platforms: https://docs.microsoft.com/en-us/dotnet/standard/native-interop/charset

[2019-09-19 18:19] stephentoub commented on #32611
|           Method |        Mean |
|----------------- |------------:|
| GetHostAddresses |    179.5 us |
|         Adapters | 25,507.2 us |

using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Running;
using System.Collections.Generic;
using System.Net;
using System.Net.NetworkInformation;

public class Program
{
    static void Main(string[] args) => BenchmarkSwitcher.FromTypes(new[] { typeof

[2019-09-19 18:20] FinexTech opened #41207 "networking problem .net core with Centos os"
# Issue Title

Absolutely low performance on Centos operation systems

# General

We are using .net core & Centos operation system.
We are doing load testing. We have bots, bots are developed on .net core 2.1 & hosted on cetnos os. Bots open connection to another application on another machine and each bot has opened websocket connection to another application. We try to emulate real users. Bots s

[2019-09-19 18:21] scalablecory commented on #41207
Can you try with .NET Core 3.0? You may have better performance there.

[2019-09-19 18:25] wfurt commented on #32611
GetAllNetworkInterfaces() (and many other NetworkInfo functions) are bloated ;(
It would be interesting to see `getifaddr()`. But point taken.

[2019-09-19 18:26] stephentoub commented on #32611
If we can improve those, that'd be excellent.

[2019-09-19 18:37] scalablecory opened #41208 "HTTP2: Support receiving dynamic headers"
We disabled receipt of dynamic headers for 3.0 by setting max dynamic table size = 0.

A number of bugs relating to this were fixed in 5.0, and we should consider re-enabling the feature.

[2019-09-19 18:40] scalablecory opened #41209 "HTTP2: Support sending dynamic headers"
We should consider how we can support sending of dynamic headers in HTTP2.

Looking at `HttpClient.DefaultRequestHeaders` may be a good place to start.

We may be able to do this automatically -- maybe some LRU of headers and automatic switching to dynamic for ones that are high use.

We should also consider APIs to let users control this themselves.

[2019-09-19 19:09] Crozin commented on #40955
Hmmm... it seems it might not be related to dotnet/linux after all. Switching from `Apache.NMS.ActiveMQ.Core` to more recent `Apache.NMS.ActiveMQ.NetStd` (which claims to be exact copy with dropped support for SSL2/3 and TLS left only) causes everything to work like a harm.

[2019-09-19 19:09] wtgodbe commented on #41150
Looks to be transient, and this appears to be the only failure in the recent history (and only on the `Windows.10.Amd64.19H1.Tiger.Perf.Open` queue). We can investigate further if we see it again

[2019-09-19 19:09] #41150 closed

[2019-09-19 19:34] #41206 closed

[2019-09-19 19:52] scalablecory opened #41212 "HTTP2: Support stream priority/dependency"
Consider implementing [stream prioritization and dependencies](https://httpwg.org/specs/rfc7540.html#StreamPriority). This could be useful in bandwidth/latency-sensitive scenarios.

[2019-09-19 19:52] scalablecory commented on #41212
Seems complicated, and we would want to consider if priority inversion is possible.

[2019-09-19 20:00] scalablecory opened #41213 "HTTP2: Proxy over HTTP2"
Consider adding support for [CONNECT over HTTP2](https://httpwg.org/specs/rfc7540.html#CONNECT). The ability to multiplex streams could save precious latency.

Not sure if any proxy servers support HTTP2 yet.

[2019-09-19 20:03] JamesWTruher opened #41214 "Diagnostics.Process on OSX should try harder to provide ProcessName"
It seems like the ProcessName should be more than an empty string. On OSX this is pretty egregious as the first couple 100 processes don't have a name. Providing the path to the executable could be a very reasonable fallback. (or perhaps `pbi_name` has this already?)

I know that proc id 0 is the exception to this rule, but still ProcessName should be useful.

[2019-09-19 20:03] sabyabr commented on #41159
It works after updating it to rc1 version

[2019-09-19 20:03] #41159 closed

[2019-09-19 20:03] scalablecory opened #41215 "HTTP2: Support sending frame padding"
Consider adding support for frame padding in HTTP2. [The RFC](https://httpwg.org/specs/rfc7540.html#padding) is vague on the benefits of this as TLS itself also supports padding.

[2019-09-19 20:09] scalablecory commented on #40995
@dreymers-goformz do you have any examples where this is causing problems in real code or making `HttpClient` harder to learn?

It's not an unreasonable concern (especially for X-* headers) but I'd like to see some convincing scenarios where doing this for known headers is harmful.

[2019-09-19 20:09] layomia commented on #41167
`DateTime(Offset)` representations with timezone offset information must have a colon between the hour and minute fields, per the extended ISO 8601 implementation that the serializer uses by default.

Please see [this doc](https://docs.microsoft.com/en-us/dotnet/standard/datetime/system-text-json-support#the-extended-iso-8601-12019-profile-in-systemtextjson), and the ["Custom Support in System.Tex

[2019-09-19 20:09] #41167 closed

[2019-09-19 20:15] scalablecory commented on #41183
That's reasonable :)

[2019-09-19 20:24] scalablecory commented on #39049
@geoffkizer I believe we landed on a behavior for 3.0, are we comfortable closing this issue or does this need further consideration?

[2019-09-19 20:31] stephentoub commented on #41182
@eiriktsarpalis, since you assigned https://github.com/dotnet/corefx/issues/41183 to yourself, mind taking this one, too?  They're probably best done together.

[2019-09-19 20:52] scalablecory commented on #27811
Other considerations:
* Should the `IReadOnlyList<ReadOnlyMemory>` be a `ReadOnlySequence`?
* Worth adding a non-readonly `Sequence` for symmetry?
* Socket can use `Memory` overloads for this as well.

[2019-09-19 20:52] znakeeye commented on #36335
No, let's not think about this a bit. Instead, let's consider a real-life scenario and add to that some common sense.

The fact alone, that the native APIs provide the "overflow" state as a boolean, should be enough to motivate a similar managed API. Then, let's consider a real-life scenario (I expect at least two perfunctory thumbs-up now):

- A price is set to 1234.56789
- User sets a discount o

[2019-09-19 21:16] scalablecory commented on #41204
@miloszu have you tested if this behavior is still in .NET Core 3.0?

[2019-09-19 21:20] filipnavara opened #41219 "Incorrect P/Invoke signature for CryptoNative_EvpDigestUpdate"
The `count` argument is defined as `int` in managed code and as `size_t` in native code:
https://github.com/dotnet/corefx/blob/6074cfc995d7968fcdbc7f707acff0c6284c6ae9/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.EVP.cs#L22-L23
https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/Native/Unix/System.Security.Cryptography.Native/pal_evp.h#L43

[2019-09-19 21:24] steveharter commented on #36640
This issue needs to be re-worked to add latest thoughts and extended to support custom deserialization of objects (in addition to enumerable).

In addition, a custom converter for enumerable or object using a new extensibility model would prevent the "read-ahead" performance hit that we currently have where we need to pre-read the JSON in order to ensure Stream-based scenario do not run out of dat

[2019-09-19 21:26] stephentoub opened #41220 "XmlSerializer.GenerateSerializer should not be in System.Private.Xml"
System.Private.Xml contains all of the code for generating an assembly as the core logic behind the sgen tool:
https://github.com/dotnet/corefx/tree/master/src/Microsoft.XmlSerializer.Generator
The vast majority of the functionality here isn't used by anything other than sgen, which calls XmlSerializer.GenerateSerializer via reflection, and is the only caller of that method.  This functionality sh

[2019-09-19 21:28] layomia commented on #38552
Closing - duplicate of https://github.com/dotnet/corefx/issues/36640.

[2019-09-19 21:28] #38552 closed

[2019-09-19 21:39] steveharter commented on #41102
cc @layomia PTAL along with similar support for probing for collection ctors (typically immutable)

[2019-09-19 22:35] bartonjs commented on #41219
Yep, the shim function should be int32_t.

[2019-09-19 22:39] ahsonkhan commented on #41107
Here's a similar issue from https://github.com/dotnet/corefx/issues/41198 by @mmosca

[2019-09-19 22:39] ahsonkhan commented on #41198
This is a duplicate of https://github.com/dotnet/corefx/issues/41107

[2019-09-19 22:39] #41198 closed

[2019-09-19 22:46] scalablecory opened #41221 "HTTP2: optimize HPACK decoding."
Our HPACK decoder looks like it can be improved. We should write some benchmarks and see if any optimizations can be made.

[2019-09-19 23:27] safern commented on #41077
Update: after an investigation, I think this is a cmake issue where the generated project is not doing the right thing. So basically they define some `CustomBuild` commands which are executed by MSBuild targets and they define an input and an output. However, the command that is defined in the generated `vcxproj` is a nop, hence it doesn't produce any output.

Why was it not warning before? I crac

[2019-09-20 00:22] wfurt commented on #32611
You got me hooked up @stephentoub. I did run your test, and got ~ `6.5 us` for GetHostAddresses. That look too good and I did not see any DNS queries. After while I discovered `127.0.1.1	Ubuntu16.localdomain	Ubuntu16` in `/etc/hosts`. Sure enough, GetHostAddresses() would always return only `127.0.0.1` and never any real address.

I made some proof of concept and I get this on my 4core VM with 4 i

[2019-09-20 00:28] wfurt commented on #32611
As far as the LL and lo addresses: This can certainly surprise anybody who is using `GetHostAddresses` to get addresses system can be reached at. On my physical system I get
[code]
and the link-local addresses are certainly tricky to use.

[2019-09-20 00:29] Clockwork-Muse commented on #36335
1.  `0.00009` isn't small enough to trigger overflows in any reasonable range (see previous calculation) during division.  You'd have to be charging for individual atoms or something.
 1. If it was multiplied by a sufficiently large number to cause overflow, the prior value (`1234.56789`) would also cause overflow - and much sooner.
 1. Addition or division would have to push it so far away from t

[2019-09-20 00:41] stephentoub commented on #32611
:smile:

[2019-09-20 00:52] stephentoub opened #41223 "Address SqlXml to CreateSqlReader dependency for assembly size"
System.Data.Common.dll contains the SqlXml type.  This type uses reflection to access the internal CreateSqlReader method in System.Private.Xml.dll:
https://github.com/dotnet/corefx/blob/5bc2806f33090e78b38fafe4d5b46d5a0a4c1f08/src/System.Data.Common/src/System/Data/SQLTypes/SqlXml.cs#L134
To ensure that this internal method (which has no other consumers) isn't trimmed away, System.Private.Xml lis

[2019-09-20 01:34] dreymers-goformz commented on #40995
@scalablecory I don't recall exactly - I think it was something like
`var value = Request.Headers.FirstOrDefault(x => x.Key == "X-Request-Id");`

Easy workarounds include headers.TryGetValue(...) and headers["X-Request-Id"].
Hard to say how likely this is to crop up unexpectedly in developers' app code, I guess.

[2019-09-20 01:51] ahsonkhan commented on #41130
Yes, please.

`Assert.Throws<FormatException>(() => new JsonNumber(Single.MaxValue + 1).AsJsonElement().GetSingle());`,

I am not sure if that approach would work. Keep in mind that on .NET Core (which is the default platform when you build corefx),`TryGetDouble` will never return false (because` double.TryParse` won't return false). See this remark:
https://github.com/dotnet/corefx/blob/5bc2806f3

[2019-09-20 02:12] wizofaus commented on #41192
I notice that mentions OperationCanceledException - in the testing I'd done I was getting OperationCanceledException when the connection timed out, but just a regular TaskCanceledException when it timed out trying to read a response.  Not really something I could rely on either way!

[2019-09-20 02:46] lindexi commented on #41199
@chenyj796 I do not good at English, so I replay Chinese.

首先 Prefer32Bit 是给 AnyCpu  平台使用的，设置了这个项的时候，将会在 AnyCpu 下编译IL声明为x86但是这个代码将会在 x64 的系统下，能额外使用更多的内存

那么 AnyCPU(Prefer 32-bit) 和 x86 有什么区别？实际上在 ARM 系统，只能使用 AnyCPU(Prefer 32-bit) 运行 32 位程序，如果选择 x86 就无法运行。

为什么需要在 64 位的设备使用 AnyCPU(Prefer 32-bit)，因为如果存在一些库只能在 32位程序运行，那么就需要运行的程序是 32 位，所以需要使用这个方法。

所以你选择的 x86 和 Prefer32Bit 是冲突的，详细请看我博客 [WPF 编译为 AnyCPU

[2019-09-20 03:12] MgSam commented on #36335
@Clockwork-Muse I always find it strange when people report real-life problems they're encountering and then someone else comes along and essentially tells them they're wrong without having any real knowledge of the system in question. You're fooling yourself if you believe you're so smart you know this person's business domain better than he knows it himself.

As a trivial example, take your exam

[2019-09-20 03:22] davidfowl commented on #41166
OK so the `StreamReader` uses a `Decoder` internally which makes sense because it doesn't know when it's seen an entire payload (which makes sense how else could it work). But we may need the encoding as well (to do things like GetMaxByte/GetMaxCharCount)

[2019-09-20 03:40] ahsonkhan commented on #41174
The default behavior of the S.T.Json serializer and deserializer are consistent and both emit/expect PascalCasing (outside of MVC).

What you are seeing here is the difference between the defaults ASP.NET MVC sets (serialize as camel case) and that being different from the default usage of the Deserializer on its own (pascal case).

@pranavkm gave some workarounds on the MVC side, and @tabinnorway

[2019-09-20 04:17] chenyj796 commented on #41199
多谢德熙。

其实把Prefer32Bit去掉，效果也是一样的。
由于我这个C库只有32位版本的，但是要支持运行在x64机器上，所以必须编译为x86平台。

现在的问题是编译为x86时，双击.exe文件直接没有反应，通过dotnet 运行看到它报 System.BadImageFormatException异常。
这甚至和有没有调用C库都没有关系了，只所以提到调用C库的问题，是因为它是我这里的基本需求。

概括一下，我要怎样在x64平台上运行x86版本的.netcore程序？如果解决不了，那只能继续使用.NetFramework了。

[2019-09-20 04:25] lindexi commented on #41199
其实你尝试一个控制台的 dotnet core 项目，编译为x86 是可以在 x64 运行的，这部分没有什么问题

提示 System.BadImageFormatException 我只能提供两个方法进行调试，很抱歉没有直接的方法

## VisualStudio 单步调试

因为不能确定是运行到哪一句代码提示这个异常，如果在提示异常的时候，可以通过调用堆栈看到对应附近的代码有加载某个 dll 库之类的，那么就可以确定是某个库加载的问题。例如查看他对应的版本是 x86 还是 x64 等

如果不能确定是哪一句代码或调用哪个库，那么就尝试按下 F11 进入单步调试，看执行到哪句代码就提示这个异常。特别小心静态构造函数等，这部分的代码碰到了就执行

## ProcessMonitor

如果发现程序里面的引用没有找到绝对路径，那么可以通过 [Process Monitor ) 看到应用程序访

[2019-09-20 04:37] chenyj796 commented on #41199
我直接用最简单的代码，还是一样的报错。
1. dotnet new wpf
2. 修改.csproj文件，添加<PlatformTarget>x86</PlatformTarget>

控制台程序也是一样的问题。

[2019-09-20 04:46] Martin1994 opened #41225 "Use PooledByteBufferWriter in Utf8JsonWriter"
Currently `Utf8JsonWriter` uses `ArrayBufferWriter<byte>` instead of `PooledByteBufferWriter`:
https://github.com/dotnet/corefx/blob/5bc2806f33090e78b38fafe4d5b46d5a0a4c1f08/src/System.Text.Json/src/System/Text/Json/Writer/Utf8JsonWriter.cs#L46
Is there any reason behind it?

Recently I did a benchmark on `System.Text.Json`, and I found that the async serialization method (writes to `Stream`) uses

[2019-09-20 05:53] AriNuer commented on #40948
Same test `System.ComponentModel.Tests.MemberDescriptorTests.AttributeArray_SetGetAttributesAndModify_DoesCopy` failed here:

Build:-[20190919.9](https://dnceng.visualstudio.com/public/_build/results?buildId=360277)(Master)

Details:
https://helix.dot.net/api/2019-06-17/jobs/83f0b164-d647-4873-ad48-7042933bf457/workitems/System.ComponentModel.TypeConverter.Tests/console
[code]

[2019-09-20 06:02] lindexi commented on #41199
@chenyj796 Good. 尝试升级到RC1的 dotnet core 试试

[2019-09-20 06:24] chenyj796 commented on #41199
我就是用的RC1版本的……

[2019-09-20 06:33] natemcmaster opened #41226 "CryptographicException on .NET Core 3, Windows only "The specified RSA parameters are not valid; both Exponent and Modulus are required fields.""
I'm getting the following error when creating RSA from RSAParameters, but only on Windows for .NET Core 3.0. This works on .NET 4.7.2, .NET Core 2.1 (Windows and macOS), and .NET Core 3.0 (macOS).

[code]

## Repro
[code]
[code]

![image](https://user-images.githubusercontent.com/2696087/65304325-34608080-db35-11e9-8004-eec7088dc4a1.png)

[2019-09-20 06:46] knocte commented on #32711
TBH I cannot answer that because now I'm being affected by an IDE bug :( : https://github.com/mono/monodevelop/issues/8552

[2019-09-20 07:10] huoyaoyuan commented on #41199
`Prefer32Bit`是仅在.NET Framework上可用的，Core上没有这个概念。
我在Core上使用`PlatformTarget`也遇到了些问题；根据收集到的信息来看，Core上似乎应该使用`RuntimeIdentifiers`也就是rid。试试只写`win-x86`，不写`win-x64`，然后publish再运行？

[2019-09-20 07:27] chenyj796 commented on #41199
@huoyaoyuan 试了你的方法，还是不行。
感觉32位的.netcore程序就是不能在64位机器上运行，这就比较尴尬了。

[2019-09-20 07:31] huoyaoyuan commented on #41199
用3.0控制台做了一下实验，加上`<PlatformTarget>x86</PlatformTarget>`后，启动的进程就是32位的了，从`Environment.Is64BitProcess`可以看到。
终极解决方案我怀疑需要装一份32位的sdk。

[2019-09-20 07:59] lindexi commented on #41199
@chenyj796 放心 .NET Core 的 x86 是可以在 x64 运行的，不然我的好多项目都gg的，不知你能否尝试在另一台设备上编译运行

如果使用 --self-contained 发布，将会带所有环境，也许试试命令行发布一下

      dotnet publish -r win-x86 -c release --self-contained

https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish

[2019-09-20 08:04] carl-berg opened #41228 "Diagnostic Activity Async issue"
Not sure if this is the right repo to report this but i'm experiencing an issue with `Activity`. This code works as i expect, in the child "scope" `Activity.Current` has a new `Id`:
[code]
but when i move creation of child scope activity into another async method:
[code]
..then both these console logs have the same `Activity.Current.Id`.
Reading this [documentation](https://github.com/dotnet/coref

[2019-09-20 08:27] chenyj796 commented on #41199
@lindexi
使用 --self-contained 发布的方式，可以运行了。
多谢！

[2019-09-20 08:29] lindexi commented on #41199
@chenyj796 厉害

[2019-09-20 08:38] huoyaoyuan commented on #41204
The hash code of 1000.25 is always 231097 now. Tested on 3.0 rc1 win-x64.

[2019-09-20 09:04] ChrML commented on #40830
In case other people are having the same issue and need a workaround, here is one temporary solution:

Adding this piece of code to `Program.cs` configures the Kestrel server for TLS 1.2 and TLS 1.3 only with secure cipher suits. CipherSuitesPolicy only works on non-Windows operating systems.

		.ConfigureKestrel((context, options) =>
		{
			options.ConfigureHttpsDefaults(httpsOptions =>
			{

[2019-09-20 09:15] Wraith2 commented on #41223
I think it might be a good idea to move the `XmlSqlBinaryReader` type out of the private xml implementation possibly up into SqlClient assuming it's the only consumer. That would slim the main framework and remove this reflection dependency I think.

[2019-09-20 09:55] FinexTech commented on #41207
Thanks, I am planning to rerun tests today on version 3.0. Will let you know ASAP.

[2019-09-20 10:32] ManickaP commented on #30909
Won't fix as this is only observed only on WSL1 and nowhere else.

[2019-09-20 10:32] #30909 closed

[2019-09-20 12:41] vcsjones commented on #41226
First, it looks like the exception message is a bit misleading. That exception message is used if anything is believed to be incorrect about the parameters, not just the exponent or modulus.

The reason is it being thrown is because `Modulus` and `D` are different lengths, which is checked here, and was introduced in #39087.

https://github.com/dotnet/corefx/blob/aa72982dcb20c4e346e08d72dae5abbaf6

[2019-09-20 13:02] bartonjs commented on #41226
If the key was correctly imported then `encrypted.Length` would equal `rsaParameters.Modulus.Length`.  The fact that the answer looks like a different size on netcoreapp2.1 and net472 suggests that it somewhere went sideways and generated a new key for the encryption operation, which is less than ideal.

I don't really want to count hyphens to see how many bytes were in each piece of response, but

[2019-09-20 13:02] tabinnorway commented on #41174
The default behavior of S.T.Json makes sense. As you said, it also makes sense that one should not, by default, use case insensitivity. I also see that when using MVC, the behavior is as expected, it will parse camelCase and populate an object that uses PascalCase with the appropriate values. So, if you have a controller similar to

[HttpPut("somestuff")]
public async Task<MyClass> UpdateSomeStuff

[2019-09-20 13:02] #41174 closed

[2019-09-20 13:13] #41219 closed

[2019-09-20 13:18] marek-safar commented on #41201
@jkotas the proposed command line option would be global for the linker run, basically not removing this attribute anywhere.

[2019-09-20 13:20] vcsjones commented on #41226
@bartonjs Hm. That would be troublesome.

@natemcmaster Looking through your code, it looks like you are trying to load a PEM encoded private key. Fortunately, .NET Core 3 shipped with [`ImportSubjectPublicKeyInfo`](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsa.importsubjectpublickeyinfo?view=netcore-3.0) which I believe can be used to read your PEM file without havi

[2019-09-20 14:36] natemcmaster commented on #41226
Thanks for the fast response. I'm surprised that the private key import is wrong. This code has been working just fine for 18 months and I don't see any errors when

For more context, the code which led me to this problem is here: https://github.com/natemcmaster/dotnet-serve/blob/v1.4.0/src/dotnet-serve/Security/CertificateLoader.cs#L113-L165. I'm using Portable.BouncyCastle's PemReader object to

[2019-09-20 14:40] FinexTech opened #41233 "output parameter for command "dotnet publish" works wrong"
We use dotnet version '3.0.100-rc1-014190'.
Documentation for output parameter states: ' If the path is relative, the output directory generated is relative to the project file location, not to the current working directory.'
To publish application we use next command: 'dotnet publish -r linux-musl-x64 -c "Release" --self-contained=false -o "out"  PATH_TO_SOLUTION'
Publish result of all projects i

[2019-09-20 14:46] bartonjs commented on #41226
BouncyCastle read the key right, but you asked for data as `signed BigInteger` export.  RSAParameters needs it as `unsigned BigInteger`, and you did the translation too naively (which is really easy to do, I admit).

You also have a subtle bug where if any of the CRT parameters happen to not need all of their bytes you'd be too small.

https://github.com/natemcmaster/dotnet-serve/blob/73055da380ad

[2019-09-20 14:49] vcsjones commented on #41226
I don't think BouncyCastle is wrong, it's just that there are different encodings of the parameters. In a PEM file, these parameters are encoded as DER ASN.1 integers, which are signed. If I understood @bartonjs's comment correct, `RSAParameters` is not expecting ASN.1 INTEGERs.

[2019-09-20 14:50] AGS-hcole commented on #4647
Would be really helpful to have CFB mode enabled, up

[2019-09-20 15:08] vcsjones commented on #41226
@bartonjs

All that said, it _looks_ like CNG does handle signed integers? Given the example:

[code]

Output:

Note the zero is trimmed off.

It looks like CNG was importing the signed integers "correctly" previously, perhaps not intentionally.

[2019-09-20 15:14] bartonjs commented on #41226
Maybe.  But CAPI, via RSACryptoServiceProvider, really defined how the RSAParameters structure worked.  And CNG has had at least one inconsistency in handling non-standard/malformed parameters (10-RS1 vs every-other-Windows), which is what prompted the "wait a minute, we don't have the same validation logic across all the providers" change.

[2019-09-20 15:32] #41148 closed

[2019-09-20 15:46] MichalStrehovsky commented on #41223
Might be worth filing an issue on IL Linker: the way this works in .NET Native is that trivial uses of reflection (especially these lightup patterns) are guaranteed to be evaluated at compile time.

We didn't need to mark things like this as roots in .NET Native because if the code that had the lightup was kept, so was the target of the lightup (thanks to the analysis).

IL Linker can only do a sm

[2019-09-20 15:50] stephentoub commented on #41223
@MichalStrehovsky, part of the issue is that we do two passes with the linker: once as part of building the assembly (which is then published in the shared framework, the SDK, etc.) and once as part of publishing an app.  We run it during the former to strip out things like internal/private consts, code in shared files where everything in the file isn't used by every assembly including that file,

[2019-09-20 15:51] MichalStrehovsky commented on #41223
Or is this because CoreFX build runs IL Linker on each assembly individually as part of the build when linker is allowed to trim everything that is not public and we need to prevent trimming at that stage?

[2019-09-20 15:52] stephentoub opened #41234 "Find a way to trim out ExcludeFromCodeCoverage attribute from published trimmed app"
Several assemblies that end up getting pulled into lots of apps (e.g. System.Linq) use `[ExcludeFromCodeCoverage]`.  There's generally no need for that in a published trimmed app, but it's sticking around and bringing with it System.Diagnostics.Tooling.dll.  While fairly small (5K) it's still another .dll that would be nice to remove.  This could be achieved in various ways, including:
- Stop usin

[2019-09-20 15:59] MichalStrehovsky commented on #41223
Does IL Linker support multiple ILLinkTrim files? Maybe we could have two - one gets embedded in the assembly and gets used at both FX build and publish, and the other is only used as part of CoreFX build?

(Don't get me wrong, I hate these reflection lightups targeting privates more than anyone, but I'm not optimistic that we will be able to get rid of all of them.)

[2019-09-20 16:11] Wraith2 commented on #41223
I'm not entirely convinced this one is even needed. SqlClient doesn't use this api It [goes around it using the public api](https://github.com/dotnet/corefx/blob/b020d0033ffe755f779c564186fc2d98b0af31cc/src/System.Data.SqlClient/src/System/Data/SqlTypes/SqlTypeWorkarounds.cs#L30) and if we can do that compatibly then I don't see why SqlXml needs private reflection or the binary xml reader in priva

[2019-09-20 16:17] stephentoub commented on #41223
If we can fix this by deleting stuff, that will make me happy.

[2019-09-20 16:28] tommcdon commented on #41228
@sywhang

[2019-09-20 16:29] krwq commented on #40830
@ChrML to avoid allocations might be worth storing that CipherSuitesPolicy instance somewhere - otherwise it will be constructed on every request

[2019-09-20 16:52] vcsjones commented on #41226
Ah, I see. Thanks for explaining.

[2019-09-20 16:56] ChrML commented on #40830
@krwq Good point, thanks! Did not realize it's called for every request.

[2019-09-20 17:22] danmosemsft commented on #41200
Pasting in directly:
[code]

[2019-09-20 17:57] danmosemsft commented on #41200
@mstoffel-infraserv I was hoping to break down that regex and help analyze it but it's complex enough I think that would take a long time. I agree with @stephentoub that there is likely just too much backtracking, with all the quantifiers and alternation. http://www.rexegg.com/regex-explosive-quantifiers.html has some suggestions about what to look for.

There could well be a deficiency or limitat

[2019-09-20 18:41] danmosemsft commented on #40968
@cton per my mail earlier in the week, you can prep a 3.0 PR for this per the usual process, if you believe it merits it. 3.1 is another option.

If neither, you can close this issue.

[2019-09-20 18:42] danmosemsft commented on #40888
@wfurt since VS for mac does not need a backport my suggestion is to close this and wait see whether we get customer feedback that justifies a backport. Taht also gives more time for it in master. If you agree -we can close this.

[2019-09-20 19:35] wfurt commented on #40888
should we get this to master @danmosemsft ? I was waiting for somebody from core team to review this before merging to master.

[2019-09-20 19:40] danmosemsft commented on #40888
Oh - yes for sure @wfurt. I missed that it wasn't in master yet.

[2019-09-20 19:45] scalablecory commented on #40233
This or some variant would be nice.

[2019-09-20 19:59] tannergooding commented on #40233
CC. @CarolEidt

Do you have an opinion on how best we could support a scenario like this? Namely, there are some APIs (like mask extracting) which are good cross-platform candidates and which are generally more-useful, but which just returning an `int` or `long` may not work since the size of `Vector<T>` is not strictly defined.

Forcing users to always go through a `Span<T>` seems undesirable, bu

[2019-09-20 20:10] CarolEidt commented on #40233
This is definitely the sort of thing that requires some careful API design (and deeper thinking). This PR provides a good start in that it outlines a few of the key use cases. Further, I think we can now start thinking about `Vector<T>` as a higher-level abstraction for which we need not constrain the APIs to map to a single machine instruction, especially as we reduce the friction of utilizing th

[2019-09-20 20:24] aajmot commented on #13532
can someone tell me if the issue has been fix or still there?
It's almost 2020 now?
Is there any other way around, please tell me.

[2019-09-20 20:54] AArnott commented on #6701
I just tried this API for the first time and I feel similarly:  I was totally dumbfounded about how my proxy could possibly forward the call onto the appropriate receiver object since it wasn't clear how to pass data to the proxy itself. I had to look at corefx tests for this class before I realized I could downcast the proxy interface to my base class, and add a property to my base class, in orde

[2019-09-20 21:12] AArnott opened #41240 "System.Reflection.DispatchProxy inconsistently fails for internal interfaces"
An undocumented limitation in `DispatchProxy.Create` is that it *sometimes* throws for various configurations of visibility. This seems to be a broader issue than the more specific #28403.

These configurations work:

1. public interface, public base class.
1. internal interface, internal base class, within the same assembly. But only when this is the *first* proxy ever generated.

These configura

[2019-09-20 21:17] pranavkm opened #41242 "[System.Text.Json] Type deriving from List<T> without parameterless constructor results in null ref"
[code]

Stack trace:

[code]

Reproduced using `Microsoft.NETCore.App 3.0.0-rc1-19456-20`

Adding a parameterless ctor works, but the exception message likely needs to say that a parameterless ctor needs to be declared.

[2019-09-20 21:35] ahsonkhan commented on #41242
cc @steveharter, @layomia

[2019-09-20 21:52] layomia commented on #40936
Fixed for 3.1 in https://github.com/dotnet/corefx/pull/41210.

[2019-09-20 21:52] #40936 closed

[2019-09-20 22:03] layomia commented on #41242
This was fixed for master/5.0 in https://github.com/dotnet/corefx/pull/40654, albeit without the message specifying that a parameterless ctor. The serializer throws a `NotSupportedException` saying that the collection is not supported:

https://github.com/dotnet/corefx/blob/a308e93b1f1303be7eab5ce2b8ed11e66cc8e01e/src/System.Text.Json/src/System/Text/Json/Serialization/JsonPropertyInfoCommon.cs#L1

[2019-09-20 23:02] ahsonkhan commented on #41242
We should consider porting that fix to 3.1.

[2019-09-21 01:45] sywhang commented on #41228
@carl-berg This is an expected behavior of Activity.

Simply put, `Activity.Current` flows into async calls, but not back out into the caller. The reason for this is that `Activity.Current` is a static variable that uses `AsyncLocal` internally. From your example, inside `StartActivity` at the beginning, `Activity.Current.Id` would be equal to the ID of `Activity` created in `Execute` before `Star

[2019-09-21 02:06] danmosemsft commented on #24514
Hi @nabeelvalley you'd be welcome. There is documentation in this repo that should be sufficient to get you building, editing and debugging. Please let us know if you get stuck.

[2019-09-21 03:32] stuyun opened #41243 "Dotnet processes are too numerous to differentiate between specific applications"
dotnet.exe App1.dll
dotnet.exe App2.dll
dotnet.exe App3.dll
dotnet.exe App4.dll

Process names are all dotnet and can't distinguish between specific applications

[2019-09-21 03:50] danmosemsft commented on #41243
@jeffschw can you point @stuyun to the single file exe thinking ?

[2019-09-21 04:10] natemcmaster commented on #41226
@bartonjs was right (of course). This is a bug in my code, not corefx or bouncy castle. Thanks for helping me out @vcsjones @bartonjs!

I'm still going to leave this open because I think the exception message is very misleading and should say what is actually wrong, but thanks again!

[2019-09-21 08:58] asmichi commented on #40978
Added the workaround to the summary.

[2019-09-21 10:50] JulienM28 opened #41244 "System.Text.Json Deserialization issue"
I have a Json string starting like this:

[code]
the nameid is part of claims and is automatically serialized to string.

But my dto defines an integer:

[code]
When I Deserialize the Json in Blazor WebAssembly App I get this error:

WASM: Exception: The JSON value could not be converted to System.Int32. Path: $.nameid | LineNumber: 0 | BytePositionInLine: 13.

[2019-09-21 11:42] pentp commented on #36335
- There are no native APIs any more, it's all managed code.
- One of the reasons the native APIs had the overflow flag was that throwing managed exceptions from native code is complicated.
- The reason for the new managed APIs not to have any boolean flags is performance - not having special paths for overflow conditions in the hot part of the function actually improves performance.

I'm not convi

[2019-09-21 12:44] znakeeye commented on #36335
Please come and join our project (seriously). You'll be amazed how real these scenarios are.

If an overflow occurs, we would clamp values in either direction and likely maintain a state that calculations may be inaccurate.

The fact that the boolean flag was removed for performance reasons certainly adds value to the discussion! For sure, we don't want a flag if it would reduce performance in the

[2019-09-21 13:09] jasonpugsley commented on #40865
@sec Sorry I’m travelling at the moment so I’m not able to write up a full response just yet.
In short I followed the bootstrap instructions in the source-build repo and put together a preview6 build with a Linux seed and the shared components built on windows. I then used p6 to build p8, then p8 to build p9 and rc1. p9 and rc1 are configured to build with p6 but I change global.json to use p8 as

[2019-09-21 14:41] Gnbrkm41 commented on #39564
@xsoheilalizadeh, are you still working on it? :D you should be able to open PRs for it.

[2019-09-21 16:09] Joe4evr commented on #28379
Since the language team has expressed interest in allowing more features that might need new runtime constructs, it seems best to consider "Non-Copyable structs" on a list of features that may warrant future-CLR enforcement.

[2019-09-21 17:21] codeoflin commented on #41179
ok thanks

[2019-09-21 17:21] #41179 closed

[2019-09-21 20:36] marksmeltzer commented on #26465
@stephentoub is this API still on the table? I know 3.0  is the priority right now, but perhaps for 3.1?

[2019-09-21 20:45] marksmeltzer commented on #26465
Rather than `TryCast`, or perhaps in addition, it would useful to have a `bool IsAligned<TFrom,TTo>` method on MemoryMarshall which would return whether a given `Span` is aligned to the `TTo` type. That could be used implement the same scenarios.

E.g. to implement this code https://github.com/dotnet/corefx/issues/26368#issuecomment-359039294, we could do this:
[code]
However, if we had `IsAligned

[2019-09-21 23:46] Clockwork-Muse commented on #36335
**likely...  "may"!?**  The moment you have an overflow, the calculations are inaccurate, period.

@znakeeye

[2019-09-22 00:31] Clockwork-Muse commented on #36335
**likely... "may"!?** The moment you have an overflow, the calculations are inaccurate, period.

@znakeeye -
Regardless of the possible merit of the idea - and @MgSam is right that I've been speaking out of ignorance - is it seems that you're trying to optimize _for a common case_ (because that's what one does).  That is, that exceptions are commonly thrown, _and that your data runs are ending in

[2019-09-22 02:11] vcsjones commented on #37748
To get things moving along again... here's the API proposal that I think we have, so far:

[code]

I think the only feedback I would have left on this is that `Label`, `Base64` and `EncodedByteSize` and fields when properties are more typically used. Since the type is a `ref struct`, I think that is doable.

With that change, the API proposal becomes:

[code]

[2019-09-22 02:23] vcsjones commented on #37595
@bartonjs question:

Does CNG support public exponents larger than UInt32.MaxValue? As far as I can tell, "Microsoft Software Key Storage Provider" will not accept an E larger than that, but I am not sure if that is a limitation of that particular CNG provider and other CNG providers could handle more, or if CNG imposes a real upper bound on it.

[2019-09-22 04:35] xsoheilalizadeh commented on #39564
Unfortunately no till I pass tests, I tried to pass tests but my implementation only support pascal-case naming for example `FirstName` will be `first_name` but in other cases like `IsCIA` it will be `Is_c_i_a` that isn't expected.

[2019-09-22 04:55] bartonjs commented on #37595
Yep. https://github.com/dotnet/corefx/blob/d3911035f2ba3eb5c44310342cc1d654e42aa316/src/System.Security.Cryptography.X509Certificates/tests/TestData.cs#L1558 is the key I habitually use for testing that.

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Security.Cryptography.X509Certificates/tests/CertificateCreation/RSAPkcs1X509SignatureGeneratorTests.cs#L

[2019-09-22 04:58] hez2010 commented on #39564
@Gnbrkm41 How about the existing PR #40003

[2019-09-22 05:12] huoyaoyuan commented on #41244
#39473

[2019-09-22 05:58] Gnbrkm41 commented on #39564
I mean... sure, why not, as long as it has all the tests and it passes :D

[2019-09-22 10:20] owlstead commented on #37748
I'll try and spend some more time on it. I've switched from laptop to desktop as it got to slow and ran out of SSD, and I'm currently running under Ubuntu - might switch back to Windows 10 due to audio problems among others...

[2019-09-22 12:33] GoldenCrystal commented on #40871
I've been thinking about this proposal, and the allocating part for spans bothers me a bit.
I'd like to propose the following non-allocating alternative:

[code]

The idea would be to have the developer preallocate a read buffer of the appropriate size. (e.g. from the stack, from a pool, …)
Then, the method would
 * Return a span of length `readBuffer.Length` from the original sequence when possib

[2019-09-22 13:18] pentp commented on #36335
It doesn't seem that useful to continue any calculations from that point on (the result is meaningless), but regardless, I'd propose something like this: if an overflow exception occurs, re-run the calculation through a slower code path that tracks input parameters (or just their sign) for each decimal add/sub/mul/div operation and then deduce the clamped value from the the XOR of signs (either `d

[2019-09-22 16:39] vcsjones commented on #37748
I wouldn't worry about implementation too much at this point - this needs to make it past the [API review process][1]. They may have significant feedback on the API shape.

Unless there is any more feedback on what the public API is, I think the next best step is to get any additional feedback from @bartonjs on the API proposal, and possibly get it flagged as "ready for review".

[1]: https://gith

[2019-09-22 18:32] davidfowl commented on #40871
I think it could be fine as an overload but it shouldn’t replace this API (and the other APIs that already allocate)

[2019-09-22 19:08] bartonjs commented on #37748
I still think the nested type needs to be changed to a peer type (and then it probably needs a name change to PemFields, or something like that).

We are currently codifying what the guidelines are for TryWrite. I think that it'll end up being `bool TryWrite(ReadOnlySpan<char> label, ReadOnlySpan<char> data, Span<char> destination, out int charsWritten)` based on how the last meeting went, but may

[2019-09-22 19:14] softworkz commented on #40871
I think it would be better when the SequenceReader would do this under-the-hood. I can imagine a number of ways how it could be done. Eventually maybe exposing only a `.ClearCache()` method, which wouldn't deallocate but tell the reader that it can reuse the memory it has allocated so far.

[2019-09-22 19:23] davidfowl commented on #40871
Doing anything under the hood would be dangerous. I’d rather the more complex overload as nobody has to answer lifetime questions or buffer ownership questions.

[2019-09-22 21:27] softworkz commented on #40871
Let's stick to the original proposal:
- The SequenceReader **will** have to do allocations
- The lifetime would usually have to match the lifetime of the SequuenceReader
(otherwise what you say would be true: there would be questions about lifetime)

That's the situation we'll have anyway.
What I'm suggesting on top of this is a method to tell the reader that you're no longer interested in the all

[2019-09-22 21:34] davidfowl commented on #40871
I disagree buttes not pollute this seedy accepted proposal. New APIs can always be proposed but I personally not complicate this but you’re free to make a new proposal that will be discussed on API review.

[2019-09-22 21:42] softworkz commented on #40871
I don't think this is off-topic - it's rather about the implementation details of the accepted api proposal (which I'm fully commited to).

Having a `.ClearCache` method would be an (optional) optimization on top of it, not something separate.

[2019-09-22 21:50] softworkz commented on #40871
PS: Think of cases where the SequenceReader has a long lifetime

[2019-09-22 23:15] davidfowl commented on #41166
OK I've gone back and forth on this and I think the original proposal is fine. It'll throw if we don't have a fully formed payload. I'll leave the Encoder/Decoder based overloads to another proposal.

[2019-09-22 23:53] vcsjones commented on #37748
Is there existing API surface in S.S.C that would fit in this new Encoding namespace? Would the new namespace lead to confusion, "Why is X not in the Encoding namespace?" "Because it didn't exist for these existing APIs"

[2019-09-23 02:01] Alan-Lun opened #41247 "System.Net.Http.HttpRequestException"
version
.Net core 2.2 API

Docker File : FROM microsoft/dotnet:2.2-aspnetcore-runtime

dotnet publish xxxx_API.csproj -c Release

AWS ECS

Error:System.Net.Http.HttpRequestException: Too many open files in system —> System.Net.Sockets.SocketException: Too many open files in system

想請問這是為什麼

[2019-09-23 05:03] anchernyaev opened #41248 "System.Security.Cryptography.CryptographicException: Error occurred during a cryptographic operation when get end date from self signed certificate"
# Issue Title

After update to .net core 3.0 (SDK 3.0.100-preview9-014004) we got a problem after generate self signed SSL-certificate.

# General

We generate self signed certificate with start date and end date. But after generate, call method **certificate.NotAfter** leads to throw exception

[code]
When we used SDK 2.2 it worked correctly.

Generate certificate method:
[code]

After call _requ

[2019-09-23 06:07] bartonjs commented on #41248
Quick guess: Something went wrong either in the encoding, or the decoding, of a NotAfter value beyond 2049.  Trim in the endDate to not be 2050 or later.

If you can share a certificate which is exhibiting this problem that may be useful (though the generator is probably good enough for me to look at it in the morning).

[2019-09-23 07:36] carl-berg commented on #41228
Thanks @sywhang for the explanation. It seems a bit confusing to me why one would want this behavior, but i'm sure there's a good reason for it. Now that i'm aware of it, I can work around it. Thanks!

[2019-09-23 07:36] #41228 closed

[2019-09-23 07:56] anchernyaev commented on #41248
Yes, i can share pfx file with certificate (empty password for open):
[example_certificate.zip](https://github.com/dotnet/corefx/files/3641080/example_certificate.zip)

I set 2049 year directly and it solved my problem. But after i set 2069 year directly and exception wasn't thrown also. After i found differnce between my cases. If we have milliseconds in our certificate end **DateTime**, then **N

[2019-09-23 08:39] AndersMalmgren opened #41253 "The SSL connection could not be established, see inner exception. Authentication failed, see inner exception. The buffers supplied to a function was too small"
We have  .NET Core rest service hosted in service fabric on Azure. Every hour we have a scheduled task fetches data from a remote service. This fails every now and then with a SSL exception, from Application insights

Stack trace from application insights

The code is nothing special, we use the `IHttpClientFactory` in conjuction with `services.AddHttpClient();` in `Startup.cs`

[2019-09-23 09:17] fhoutr01 commented on #40955
@Crozin I can confirm that using the `Apache.NMS.ActiveMQ.NetStd` as well as using the latest version of MassTransit ( `5.5.6-develop.2174` ) resolves the issue as well.

Thanks a lot for everybody their assistance!

[2019-09-23 11:34] IJzerbaard opened #41254 "Improve Vector<uint> and Vector<ushort> multiply"
I read on https://docs.microsoft.com/en-us/dotnet/api/system.numerics.vector-1?view=netcore-3.0 that Vector<uint> and Vector<ushort> multiplications do not map to intrinsics. Experimentation confirmed that.

However, they could simply map to `(v)pmulld` (when available) and `(v)pmullw`.

Current workaround:

        static Vector<uint> Multiply(Vector<uint> a, Vector<uint> b)
        {

[2019-09-23 12:32] Timovzl commented on #39031
It's pretty awkward that `JsonConverter` doesn't give you a way to recurse back into the "regular" flow (i.e. "not handled by this particular converter") for deserializing subcomponents.

This seems to make the whole design only useful for very simple cases, with few properties and no nested custom types.

[2019-09-23 13:17] JiriCepelkaFirstLineSoftware opened #41256 "New interface implementing IDisposable exposing dispose state information"
Sometimes I could be convenient to know if IDisposable implementation is already disposed without exercising some try/catch about [ObjectDisposedException](https://docs.microsoft.com/en-us/dotnet/api/system.objectdisposedexception?view=netframework-4.8) or other/similar cases.

Instance:

    var request = (HttpWebRequest)WebRequest.Create("http://www.seznam.cz");

    using (var response = reques

[2019-09-23 13:49] CShepartd commented on #2538
There was many proposals how to slove this problem. After marker it as [5.0](https://github.com/dotnet/corefx/milestone/44) i preassume you picked one of them. Wich one?

[2019-09-23 13:53] andrau opened #41257 "Message of UriFormatException does not include offending URI"
When reading an URI or even several URIs from configuration files as strings and instantiating them using new Uri(string), it would be helpful if the exception for invalid URIs (e.g. because of typos) would include the offending Uri (especially if the exception is in a logfile of a production system where debugging is not an easily available option).

This would save the need to do a try-catch aro

[2019-09-23 14:23] Wraith2 commented on #41256
The proposed new property allows you to ask the question "Has someone already disposed this or should i do it?". Needing to ask this question means that the movement of the resource through the program is not clearly defined in some way. You'll end up with something at the end of pipelines doing cleanup that should have been done by the known owning party. This feels like something you would put i

[2019-09-23 14:25] Wraith2 commented on #41257
Is this not what [Uri.TryCreate](https://apisof.net/catalog/System.Uri.TryCreate(String,UriKind,Uri)) is for?

[2019-09-23 14:43] JiriCepelkaFirstLineSoftware commented on #41256
The issue is that one can use this property to avoid multiple Dispose calls let say in nested usings in a way it is possible to easily check if object of inner using disposed “upper“ object. I mean in development phase.

[Rule CA2022](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2202-do-not-dispose-objects-multiple-times?view=vs-2015&redirectedfrom=MSDN) [discourages](https://docs.

[2019-09-23 14:49] andrau commented on #41257
Well, it's a little better than using try-catch but still would require plastering the code with explicit checks while the intention is only to be able to see what went wrong in the logs if somebody breaks the configuration.

Of course you could argue that proper defensive programming does require explicit checks but even then the exception would be more helpful with the broken URI in the message

[2019-09-23 15:04] hughbe commented on #40739
Thoughts on an analyser that would flag up cases like `if (a || b && c)` telling you to use bracketing (i.e. `if ((a || b) && c)` or if (a || (b && c))`)

see https://github.com/dotnet/winforms/issues/1955

[2019-09-23 15:26] xt0rted commented on #40739
There's an analyzer for that in Roslynator ([RCS1123](https://github.com/JosefPihrt/Roslynator/blob/master/docs/analyzers/RCS1123.md)) as well.

[2019-09-23 15:27] JiriCepelkaFirstLineSoftware commented on #41256
Not exactly. Each object has “its way” how to express that is disposed. So issue is not about what approach to choose but where to find the information.

[2019-09-23 15:53] #40955 closed

[2019-09-23 16:02] Tratcher commented on #39715
What do you want to do with the reason phrases?

[2019-09-23 16:26] poizan42 commented on #40566
@ahsonkhan So this is closed and has the 3.0 milestone but is not actually implemented in 3.0?

[2019-09-23 16:28] hez2010 commented on #40566
@poizan42 I think I need to reopen this issue.

[2019-09-23 16:40] bartonjs commented on #41248
Yep, looks like some code cleanup we did in 3.0 accidentally removed the part that trimmed the fractional seconds off of the DateTimeOffset for dates beyond 2049 UTC, and we must not have any tests for it.

The validity structure in this cert is

[code]

Or

[code]

And X.509 forbids the GeneralTime values from expressing fractional seconds.

   for variable precision representation of time.  Opti

[2019-09-23 16:43] Anipik opened #41258 "Build-tests target is failing for Linux-musl x64 leg"
Error
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=352350&view=logs

[2019-09-23 16:45] Clockwork-Muse commented on #41256
This is what @Wraith2 was talking about - in such a situation, your ownership is confused.  (This is why Rust does what it does).

[2019-09-23 16:46] poizan42 commented on #40566
@hez2010 That doesn't really fix the problem. The definition of CoreFX features added in 3.0 given at https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0.0/3.0.0.md is "is:issue milestone:3.0 label:enhancement", so issues really shouldn't have the 3.0 milestone if they are not in 3.0.

[2019-09-23 16:57] davidsh commented on #41257
Would that be safe or do you think this would disclose too much information?

I don't think there are any issues about 'safety' or disclosure here. We already have error message text that shows things like "invalid header X" for our Http APIs (where 'X' represents the invalid header itself). I think this would be an ok enhancement to our error message text.

Feel free to submit a PR for a change l

[2019-09-23 16:58] davidsh commented on #41253
What version of .NET Core is this using? Do you have a small repro you can post here? Otherwise, it isn't really possible to diagnose this.

[2019-09-23 17:02] scalablecory commented on #41257
This could result in some of those old http://user:password@foo.com URLs getting logged, but that is probably a rare case.

[2019-09-23 17:10] kulashaker30 opened #41260 "WebClient - Connection: Keep-Alive ALWAYS present."
# Issue Title

WebClient is always sending 'Connection: Keep-Alive'

# General

I am having trouble with WebClient always getting timeout exception because the Connection header is always present in the request.

[2019-09-23 17:25] cston commented on #40968
@danmosemsft, I've created #41261 targeting 3.0.x.

[2019-09-23 17:36] tarekgh commented on #2538
It is just moved to milestone 5.0 to look at it during then. It is not decided yet which direction we'll go with.

[2019-09-23 17:37] Tratcher commented on #31299
Yes these should be configurable in case people run into throughput or memory issues.

[2019-09-23 17:38] Tratcher commented on #41208
Yes please. The other side did the hard work to decide which headers to inturn, we might as well take advantage of it.

Kestrel already has receiving working and we're syncing that code with you.

[2019-09-23 17:40] Tratcher commented on #31308
Yes, this should be a straight forward perf item. This will also be shared with Kestrel (not implemented there yet either?).

[2019-09-23 17:44] scalablecory commented on #41208
This would be easy to do and has some clear benefit, so I'm inclined to want it for 5.0. I'm currently reviewing which HTTP servers support sending dynamic headers.

Kestrel having support for sending these would be a key motivator I think. https://github.com/aspnet/AspNetCore/issues/4715

[2019-09-23 17:48] Tratcher commented on #41209
This is a low priority perf item, it's benefits are limited to high end scenarios where bandwidth is a bottleneck. HttpClient doesn't repeat as many request headers by default as a browser would (Accept, User-Agent, etc.). Accept-Encoding would be a simple place to start (or is SocketHttpHandler's value already covered by the static table?).

DefaultRequestHeaders is several layers removed from th

[2019-09-23 17:49] Tratcher commented on #41213
Would need a list of proxies and servers that support this before considering this. It's not clear who would use this vs a HTTP/1.1 proxy.

[2019-09-23 17:52] Tratcher commented on #41212
Browsers use this to prioritize HTML and CSS over images. Not clear what the HttpClient scenarios would be.

What kind of API would you use to specify these?

Kestrel doesn't support these.

[2019-09-23 17:52] scalablecory commented on #41209
I think this would be useful for common `HttpClient` scenarios. Things like auth tokens could be reduced to 1 byte of bandwidth, as could common URIs. Kestrel does have support for dynamic header decode, as does (at least) nginx and node.js, so we'd see an immediate benefit.

@Tratcher I'd be interested in what sort of server overhead we can save by doing this. It could reduce allocations dependin

[2019-09-23 17:53] Tratcher commented on #41215
Not worth it. As you said, TLS already covers this. Http/3 has dropped this feature.

[2019-09-23 18:01] Tratcher commented on #34192
This is primarily a caching feature and HttpClient doesn’t have any built in caching.

Implementing this would require a new API to surface unsolicited responses all the way up the pipeline. We're talking about a breaking change to HttpMessageHandler to add a new abstract method. That API would be some kind of opt-in callback registration like `protected abstract IDisposable RegisterForPushPromise

[2019-09-23 18:03] danmosemsft commented on #40566
@poizan42 changed milestone for clarity

[2019-09-23 18:03] scalablecory commented on #41212
Due to the apparent complexity of implementing this, I would like to see some concrete use cases before moving forward on it. Desktop and server use is probably limited, but mobile might see some use.

I can imagine this being used for code that is latency-sensitive. Maybe a website with a real-time SignalR feed that is also processing other requests. Some games also have a concept of high-priorit

[2019-09-23 18:09] scalablecory commented on #34192
I can't think of common scenarios where `HttpClient` is being used that this would be useful in. Perhaps a hierarchical REST API.

The API design would be tricky to make this actually usable without introducing all sorts of complexity. I'm happy to put this off until we see more need.

[2019-09-23 18:13] Tratcher commented on #41208
This should happen regardless of kestrel's support for sending dynamic headers (that's harder, but we'll try it too). There are plenty of other implementations that already do this, including some gRPC servers @JamesNK can point you at.

[2019-09-23 18:18] stephentoub commented on #34192
Yeah, I suggest either closing this or pushing it out (no pun intended) to future until there's a real demonstrated need.

[2019-09-23 18:22] mj1856 commented on #13329
Happy to see this land with .NET Core 3.0 today.  Thanks folks! 👍

[2019-09-23 18:42] Tratcher opened #41262 "HttpResponseMessage.TrailingHeaders blocks some headers"
HttpResponseMessage.TrailingHeaders re-used the HttpResponseHeaders collection that blocks some headers it thinks belong in HttpContentHeaders instead. With trailers you don't have that flexibility and this may block customer scenarios.

A header like `Content-MD5` is restricted.
- The header is received and stored in the collection.
- `response.TrailingHeaders.ToString()` does show the value.
- `

[2019-09-23 18:46] scalablecory commented on #41262
Ah yes, we had a long discussion on this one. I think the suggestion to have an internal flag in `HttpResponseHeaders` is the best way to go at this point.

[2019-09-23 19:05] MakisupaVT opened #41264 "System.Management.MangementScope Exception with Dotnet Core 3 Release"
I'm attempting to upgrade a project to Dotnet Core 3 which uses System.Management for WMI calls. When connecting to my MangementScope:

`var scope = new ManagementScope(@"\\computer\root\CIMV2", new ConnectionOptions());`

Program dies with the exception:

System.Runtime.InteropServices.MarshalDirectiveException: Cannot marshal 'parameter #3': Cannot marshal a string by-value with the [Out] attrib

[2019-09-23 19:08] ScottGuymer commented on #40850
Im also seeing this issue on `5.0.0-1020-azure`  on a Ubuntu 18.04-LTS VM created today so its not fixed yet.

Does this mean that this would be broken in all azure VMs created with that image?

[2019-09-23 19:10] ViktorHofer commented on #41234
If we do that how do we guarantee that we are testing what we are shipping?

We can't measure code coverage on Release anyway as the System.Private.CoreLib assembly in that configuration isn't instrument-able.

[2019-09-23 19:40] steveharter opened #41266 "Verify code covererage for deserialize read methods where `reader.BytesConsumed != utf8Json.Length`"
`System.Text.Json.JsonSerializer.ParseCore()` and  `System.Text.Json.JsonSerializer.Deserialize()` both have a check like this:
[code]

However that is not getting hit by any tests. In fact, it is likely that it is now dead code because the reader verifies all data is read when `isFinalBlock==true` is passed into the reader (as is the case for the two methods above).

We need to verify that the `i

[2019-09-23 20:11] stephentoub commented on #41234
This is a general issue faced by doing aggressive trimming as part of app publishing.  Is there a specific concern to this attribute?

[2019-09-23 20:14] ajaybhargavb opened #41267 "Directory.GetCurrentDirectory incosistency between Windows and Mac"
Original issue: https://github.com/aspnet/AspNetCore-ManualTests/issues/22

**Repro steps:**
- mkdir consoleapp
- cd consoleapp
- `dotnet new console`
- Edit `Program.cs` to output `Directory.GetCurrentDirectory()`
- `dotnet publish -c release`
- Open the folder in Finder `/bin/release/netcoreapp3.0/publish`
- Double click `webapp`

Expected output:

`/Users/username/Github/temp/webapp/bin/release

[2019-09-23 20:49] danmosemsft commented on #41264
Can you please make sure you have the latest version of System.Management. Perhaps your project has locked it to an older version.

https://github.com/dotnet/corefx/issues/38093

[2019-09-23 20:57] stephentoub opened #41268 "Remove dependencies on System.ComponentModel.TypeConverter.dll"
We have several assemblies, e.g. System.Data.Common.dll, System.Diagnostics.EventLog.dll, etc., which are pulled in by the default ASP.NET Core app templates (either directly or because of ASP.NET dependencies) and that in turn reference stuff from System.ComponentModel.TypeConverter.dll.  It has a gigantic closure with lots of stuff explicitly rooted, and is adding a huge amount of state to a tri

[2019-09-23 20:58] davidsh commented on #41260
WebClient is one of the older APIs in .NET Framework and .NET Core. I suggest you consider using HttpClient.

The behavior you see is unfortunately the same on both .NET Framework and .NET Core. The use of the HTTP request header 'Connection:' cannot easily be controlled with the `WebClient` class. It will default to 'Connection: Keep-Alive'.

Even the code below is unable to change this.

[code]

[2019-09-23 20:58] kyschouv commented on #34033
This doesn't seem to be fixed in .NET Core 3.0.0-preview9. Should I expect it to have been fixed in that release, or would it only appear in rc1 or the full release? (though mine is from an HttpClient)

[2019-09-23 21:01] davidsh commented on #34033
.NET Core 3.0 released today. I suggest you try out the official release. If you still have a repro using .NET Core 3.0 and see these `ObjectDisposed` exception, please open a new issue and reference this one.  Thanks!

[2019-09-23 21:06] danmosemsft commented on #41267
I'm assuming this is a difference in what the current directory is _set_ to (rather than a bug in System.IO).  Moving to app host.

[2019-09-23 21:08] danmosemsft commented on #41214
Thanks for the report. Any interest in proposing a PR?

[2019-09-23 21:20] kyschouv commented on #34033
Will do. Time to failure was about 9 days, so it may not happen again soon, but wanted to make sure to report it, since I jumped to 3.0 just for this fix.

[2019-09-23 21:36] StephenBonikowsky commented on #19723
Closing as there is no customer ask to fix this and the same issue also exists on full framework.

[2019-09-23 21:36] #19723 closed

[2019-09-23 21:36] StephenBonikowsky commented on #19715
Epic completed.

[2019-09-23 21:36] #19715 closed

[2019-09-23 21:42] #25138 closed

[2019-09-23 21:45] StephenBonikowsky commented on #25966
@CliffordSimak please let us know if this is still an issue and if you need any assistance.

[2019-09-23 21:45] #25966 closed

[2019-09-23 22:40] AndersMalmgren commented on #41253
Hi @davidsh it's core 2.2 but will be upgraded to 3.0 shortly. I have not been able to repdoce locally, only happens when deployed to service fabric