[2018-02-01 06:11] danmosemsft commented on #26719
If you do the same with desktop .NET Framework do you get the same result?

Does it repro with an arbitrarily small file then? If not how small?

[2018-02-01 06:14] danmosemsft commented on #26675
You could update DumpRuntimeInformationToConsole (or a similar test, but marked OuterLoop) to dump environment to the console so we can easily see.

Or, the repro tool is supposed to be working now so it should be possible to get SSH to a box in the exact configuration: @maririos can help if needed.

[2018-02-01 06:42] tannergooding commented on #26564
The primary scenario for the hardware intrinsics is to enable developers to write fine-tuned performance driven code, where required, that takes advantage of platform or processor specific functionality.

Not all intrinsics are being exposed but, for the most part, the ones that have been reviewed/approved so far do have specific target scenarios (BitManipulation, Crc32, SIMD Math, String Processi

[2018-02-01 07:03] ayende opened #26734 "FileStream with no disk space kill process on Windows, corrupts data on Unix"
Consider the following code:

[code]

The problem is that the stream will try to write to the disk at three different times:

* At the second `Write` call. - FAIL
* On the `Dispose` - FAIL
* On the `Finalize` - FAIL and *kill the process*

The underlying reason is here:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L239-L240

The Stream will first call the `Dis

[2018-02-01 07:04] wfurt opened #26735 "[ManagedHandler] HttpConnectionContent.TryComputeLength() always returns false/0"
The function should return true and proper value if Content-length has been specified in response.
Aside from debugging this may help with decision if to drain certain responses or to abort connection.

[2018-02-01 07:25] ayende commented on #26734
Things to note. This is the case only on Windows. On Unix, we have:
https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/IO/FileStream.Unix.cs#L239-L247

I think that this is wrong. Disposing a FileStream is document to flush the written bytes.
However, it will just ignore any IO Exceptions (such as no disk space) without reporting them to the calling code.

[code]

I believe

[2018-02-01 07:29] markusschaber commented on #8382
@ronnieoverby Nice code. Unfortunately, there's no license information anywhere, so the project cannot be used legally anywhere :-(

[2018-02-01 07:57] gahebe commented on #26702
@stephentoub yes, it behaves similarly when using `ThreadPool.QueueUserWorkItem`

[2018-02-01 07:58] Sunny-pu commented on #11737
Failed again:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/292/testReport/System.Transactions.Tests/NonMsdtcPromoterTests/PSPENonMsdtcTimeout_promote__True_/

[2018-02-01 08:03] #26584 closed

[2018-02-01 08:56] dotnet-mc-bot opened #26738 "Test failure: System.Collections.Concurrent.Tests.ConcurrentBagTests/ManyConcurrentAddsTakes_ForceContentionWithToArray(seconds: 1)"
Opened on behalf of @Sunny-pu

The test `System.Collections.Concurrent.Tests.ConcurrentBagTests/ManyConcurrentAddsTakes_ForceContentionWithToArray(seconds: 1)` has failed.

Assert.DoesNotContain() Failure\r
    Found:    0\r
    In value: Int32[] [0]

        Stack Trace:

           at System.Collections.Concurrent.Tests.ProducerConsumerCollectionTests.ManyConcurrentAddsTakes_ForceContentionWithT

[2018-02-01 13:32] lyze237 opened #26739 "Is libressl (fully) supported instead of openssl?"
Hello!

I'm currently trying to install the dotnet core sdk (via it's [binary package](https://www.microsoft.com/net/download/linux)) on [Void Linux](https://www.voidlinux.eu/) which uses libressl instead of openssl.

After installing `libunwind` and `icu` the `dotnet -h` command works fine. However when I try to run `dotnet new console` I get the following error:

https://github.com/dotnet/corefx

[2018-02-01 14:12] ronnieoverby commented on #8382
@markusschaber DOH! Thanks. Added MIT LICENSE.

[2018-02-01 14:21] #26729 closed

[2018-02-01 14:49] ygoe commented on #9162
JSON.NET is way too big to be included in small helper tools. My app is 20k and JSON support adds 600+k to that. See the issue? I understand that .NET adds a lot more, but it's part of Windows so it's just there, like System.Xml. Right now I can have XML config files without any additional space costs. JSON config files are overly expensive to support.

I'm going to have to try out those hard-to-d

[2018-02-01 15:14] stephentoub commented on #26735
I don't understand what this helps.  Can you clarify?  How does this help with debugging?  And how would this help with draining/aborting connections, considering they could just check the header themselves.

[2018-02-01 15:39] markusschaber commented on #8382
@ronnieoverby Thanks a lot! :-)

[2018-02-01 15:41] #26454 closed

[2018-02-01 15:47] stephentoub commented on #26702
cc: @kouvel, is this the expected behavior with Unloading?

[2018-02-01 15:50] davidfowl opened #26740 "Review performance of ReadOnlyBuffer and evaluate use of Inlining"
See https://github.com/dotnet/corefx/pull/26694#discussion_r165252355 for the discussion. We need to do another pass since all of the code churn took place make sure these are still valuable.

[2018-02-01 15:58] stephentoub opened #26741 "ManagedHandler failure to copy request content to server could result in hang"
https://github.com/dotnet/corefx/blob/64976bf062b6cbc55a3e708dbf7116188d075ff1/src/System.Net.Http/src/System/Net/Http/Managed/HttpConnection.cs#L319

If something in the copy fails but not due to the connection closing (e.g. a bad source stream implementation), it's possible we could then wait for the server to send a response, but the server's still waiting for us to send the content, and we'll

[2018-02-01 15:59] benaadams commented on #26740
Some of them will be horrors now

[2018-02-01 16:13] janvorli commented on #26508
The solution is simple - pass the two defines separately:
[code]

[2018-02-01 16:28] stephentoub commented on #20245
Failed again
https://mc.dot.net/#/user/dotnet-bot/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/87333acf510f09c8ad0c3165d55180636726fc58/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2018-02-01 17:01] karelz commented on #26541
Any specific reason for treating it as high priority?
In general, we assess priority of incoming issues based on their impact on customers (1 customer impacted here) and how common the scenario is compared to others. Availability of a small repro we can reproduce locally also plays a role (hopefully that is settled above).

[2018-02-01 17:02] karelz commented on #26600
cc @chlowell who worked on the PR #8695

[2018-02-01 17:04] karelz commented on #26600
cc @maryamariyan @safern
I am curious if it was intentional or unintentional change made in #8695

[2018-02-01 17:10] 1iveowl commented on #25800
@karelz It's a tough nut. I tried to create dumbed down repo, but I can only provoke the error when I try and connect to a web service running on a particular server running in my local environment. The server is not exposed on the internet.

[2018-02-01 17:11] rmkerr commented on #9234
So, here's the behavior I'm seeing when targeting .NET Core and modifying the headers with fiddler. I've gone ahead and cut out the bodies of the responses in order to condense things. Notice how in the 401 responses the `NTLM` header is preceded by a `Bearer` header. The behavior we're about to see also occurs when I replace that first header with a `Basic` header, but not with a `Negotiate` head

[2018-02-01 17:13] #4382 closed

[2018-02-01 17:30] karelz commented on #25800
Is it possible to try to replicate the server setup somewhere on the internet (e.g. Azure)? We could run small repro against existing server.
The other option is to investigate it on your side - catch it under debugger, instrument CoreFX code to add additional logging, etc.

[2018-02-01 17:40] #26072 closed

[2018-02-01 17:48] danielmarbach commented on #25800
Would it be so far off to try my AWS repo? It might still lead to some insights

[2018-02-01 17:56] jbednar79 opened #26743 "HttpClient/WinHttpHandler - unexpected delay under heavy load"
I've found problem when using the HttpClient class. Under heavy load when I log when the SendAsync() method was called and when it returned the response I can see 3844ms for example. But the party on the other side is reporting 16ms only! By turning on all possible log switches in .NET FW I was able to track to the problematic part - which is in WinHttpHandler, private async void StartRequest(WinH

[2018-02-01 18:01] wfurt commented on #23135
BTW htpasswd on Linux and Mac does not allow ':' in name either.

$ htpasswd -c /tmp/aa "foo:bar"
htpasswd: username contains illegal character ':'

[2018-02-01 18:03] stephentoub commented on #26566
This is taking out a bunch of outerloop runs.  I'm going to disable them.

[2018-02-01 18:04] wfurt commented on #25800
It should not matter where it is hosted as long as we can reproduce the problem. It is primarily about the client anyway.

[2018-02-01 18:10] ViktorHofer opened #26745 "ResourceReader and ResourceWriter do not support binary formatted blobs in resources"
from @danmosemsft

https://referencesource.microsoft.com/#mscorlib/system/resources/resourcereader.cs,107

[2018-02-01 18:14] wfurt commented on #26735
Anybody can probably check the headers directly. What would be purpose of the function if it always fails? I bump to this when I was trying to debug the behavior and I was wondering why this always fails even if the response size is know.

What we discussed with @geoffkizer is related to handling 407 (and possibly other responses)
Right now we Dispose() the response and that will abort HttpConnect

[2018-02-01 18:14] karelz commented on #24713
@caesar1995 what is the remaining work left here? Do we still have disabled test cases against this bug? Are they things we should fix in .NET Core, or are those by-design differences?

[2018-02-01 18:22] danmosemsft commented on #26734
Do you mean only during dispose during finalization? As on Linux it only catches it if it's in the finalizer:
[code]

That seems like a reasonable thing for Windows to do as well. Dispose would likely have already thrown, and even if not, it seems harsh to bring down the process. @JeremyKuhne @stephentoub do you agree?

[2018-02-01 18:23] caesar1995 commented on #24713
Yes.

I can continue investigation, and open bugs accordingly to track important behavior difference (unlikely). The remaining work for this issue is separating test data against each platform.

[2018-02-01 18:25] stephentoub commented on #20245
I'm disabling these.  They're failing all over the place and driving me nuts.

[2018-02-01 18:27] karelz commented on #25800
@danielmarbach AFAIK your repro used AWS SDK - that is something I would like to remove from the repro (removing the chance it is some weirdness introduced by the SDK).
If the server is hosted in AWS or Azure does not matter as soon as the main app to debug is local repro (with "minimal" dependencies).

[2018-02-01 18:30] karelz commented on #20245
Sounds good, I was about to ask someone on the team to do that anyway ...

[2018-02-01 18:34] stephentoub opened #26748 "System.Memory tests hanging in CI"
e.g.
https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f66b25054d7156bafca6c8902158ff55036d6de3/workItem/System.Memory.Tests/wilogs
[code]
cc: @ahsonkhan, @AtsushiKan

[2018-02-01 18:38] stephentoub commented on #26735
This method is used in only a few very specific ways by internal infrastructure of HttpClient.  It's a Try method because it's expected that an implementation will only know the length in very specific circumstances, and it's perfectly reasonable to return false.  In fact, the main call site to this checks for the header before calling Try.

[2018-02-01 18:39] karelz commented on #26493
Duplicate of #23150 where the work is tracked. If we need more discussion which settings to use, let's move it to that issue.
cc @wfurt

[2018-02-01 18:39] #26493 closed

[2018-02-01 18:41] karelz commented on #26494
It seems the only remaining work item is to add public API which exposes system proxy information. Is that correct? (ManagedHandler work is tracked by #23150)
Marking as API addition + moving to Future.

[2018-02-01 18:43] #26657 closed

[2018-02-01 18:50] stephentoub commented on #26734
Sounds reasonable.

[2018-02-01 18:55] huanwu opened #26749 "SG doesn't catch all exception for unsupported type"
SG throw unsupportedexception for the following type with the error "Cannot deserialize type 'Xamarin.Forms.Element' because it contains property 'RealParent' which has no public setter."
[code]

However it just gave the warning if ImageData has the public setter.

[code]

[2018-02-01 18:59] jpmckearin commented on #19914
There is an update on the Bugzilla ticket that references one of the Xamarin guys getting on this "asap" https://bugzilla.xamarin.com/show_bug.cgi?id=60315#c7.

I am personally facing this issue on VS4M targeting Mono 5.8.0.108 using the IdentityModel library (or anything that references System.Net.Http.HttpClient)
[code]

[2018-02-01 19:01] pjanotti commented on #23135
Yeah, neither Windows nor Unix will like that. I was a bit worried that the test existed to ensure that some legacy behavior was preserved but reading the history of the test file I see that the ':' was added (#7494) to test encoding of credentials for CurlHandler.

So it seems we have 3 behaviors:

1. ManagedHandler: throws
2. CurlHandler: encodes before concatenating
3. WinHttpHandler: concatena

[2018-02-01 19:03] stephentoub commented on #23135
What does netfx do?

[2018-02-01 19:12] ahsonkhan commented on #26748
cc @nietras

The test seems to be doing exactly what it should:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ReadOnlySpan/BinarySearch.cs#L123

It is likely some other test.

[2018-02-01 19:12] stephentoub opened #26750 "Mark ValueTaskAwaiter and ConfiguredValueTaskAwaiter as readonly in contracts"
Can be done once we get an update .NET Native build that includes the associated updates.  Both System.Runtime and System.Threading.Tasks.Extensions need to be updated.

[2018-02-01 19:13] huanwu commented on #21942
@MrGadget1024 we will take a look.

[2018-02-01 19:14] tarekgh commented on #26745
I moved it to the future. I don't think this is needed for 2.1.

[2018-02-01 19:16] tarekgh commented on #26745
Also, I am worried to bring the BinaryFormatter back here for security reasons.

[2018-02-01 19:16] tarekgh commented on #26745
CC @krwq

[2018-02-01 19:21] huanwu opened #26753 "Area-Serialization Sprint 131"
The issue is for tracking issues to be done in sprint 131 (due by 2/23/2018)

[2018-02-01 19:23] danmosemsft commented on #26745
@tarekgh can you give more information about security reasons? Presumably one should only deserialize from trusted sources? The user can already deserialize directly with BinaryFormatter.

cc @stephentoub

[2018-02-01 19:27] danmosemsft commented on #26702
Similar to https://github.com/dotnet/coreclr/issues/8565

[2018-02-01 19:28] danmosemsft commented on #26734
@ayende would you like to offer a PR and test?

[2018-02-01 19:29] ahsonkhan commented on #26748
This test looks like the culprit: System.Buffers.Text.Tests.ParserTests.TestParser2GiBOverflow [STARTING]

It is hanging on my local machine.

[2018-02-01 19:30] geoffkizer commented on #23156
I think there are really two cases here.

One is "internal drain" for when we are consuming a response internally -- specifically auth challenges (401 or 407, i.e. regular or proxy) or redirects (30x).  In this case, the server often sends a short response body.  We want to drain this up to some limit before proceeding with the next request, so that we can send the next request on the same connect

[2018-02-01 19:32] geoffkizer commented on #23156
"Internal drain" is the issue relevant to #26732.

[2018-02-01 19:32] tarekgh commented on #26745
Yes, that is the assumption but we have hit cases on device guard machines that BinaryFormatter can force executing custom code which allows bypassing the protection on the device guard machines.

CC @morganbr

[2018-02-01 19:37] ahsonkhan commented on #26748
@AtsushiKan, can we reduce some of the test cases here. I believe they end up taking too long and can cause the timeout. https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ParsersAndFormatters/Parser/ParserTests.2gbOverflow.cs#L92

[2018-02-01 19:37] safern commented on #26600
It seems like an intentional change to me, but seems like it missed this particular scenario.

cc: @stephentoub who was close to the fix process.

[2018-02-01 19:38] Tratcher commented on #23156
From the handler's perspective both internal drain and external drain are the same. There's a connection that may still have data on it, drain the data so you can re-use it. Draining on a background thread is a good idea, there's no reason to block the caller for data it has abandon. Allowing the auth code to call Dispose on the response would simplify the logic at that layer.

[2018-02-01 19:45] geoffkizer commented on #23156
I agree, but it also opens up the possibility that we will go into the async-drain case ((2) above) and then end up grabbing a different connection.  Maybe that's fine though.

[2018-02-01 19:45] safern commented on #26600
The test that started failing with the old behavior is: https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/tests/MemberDescriptorTests.cs#L14

So I think a deeper investigation on that test would be worth to see how to fix the issue the test was fixing without breaking this particular scenario. @k0st1x any interest in throwing a PR?

[2018-02-01 19:53] tmds commented on #26702
When I try this with dotnet 2.0.3:
[code]
gdb backtrace
[code]

[2018-02-01 20:00] safern commented on #26600
Didn't see: https://github.com/dotnet/corefx/pull/26704 thanks. @k0st1x

[2018-02-01 20:07] geoffkizer commented on #23156
A slightly different approach would be to drain "on-demand" instead of asynchronously.  That is, put the connection back in the pool with a "needs drain" flag.  Then if/when it's retrieved from the pool, do the drain then, or fail the connection if we can't drain it and get another.

I think this would simplify usage; e.g. auth code can just call Dispose.

[2018-02-01 20:11] Tratcher commented on #23156
That would add latency and possible errors to outgoing requests.  There's some discussion in the NTLM mail thread about trying to re-use the same connection for internal re-submissions so you can avoid a trip back through the connection pool queue.

[2018-02-01 20:16] stephentoub opened #26754 "Assert firing sporadically in ManagedHandler when returning connection to pool"
https://github.com/dotnet/corefx/blob/95bfb895707d5756d4b9693286672780f0a6ba02/src/System.Net.Http/src/System/Net/Http/Managed/HttpConnection.cs#L1216
(I added the current values of the variables to the assert message.)
[code]

[2018-02-01 20:23] #26632 closed

[2018-02-01 20:26] benaadams commented on #26754
[code]
In that trace... its like trollin' me

[2018-02-01 20:26] geoffkizer commented on #23156
It wouldn't be an error for outgoing requests; if the drain fails we'd just get a different connection.

Re latency:

For "internal drain" (i.e. auth) it's a wash; we are going to drain the connection before the next request anyway.

For "external drain", it seems like there are various tradeoffs here.  Sync drain blocks the original response.Dispose(); that seems bad.  Async drain is better, but

[2018-02-01 20:30] caesar1995 commented on #26606
Thank you for the detailed analysis! You are correct on how we construct the `WWW-Authenticate` header. However, the `Negotiate` prefix is not required by RFC.

From RFC2616:

[code]

From RFC7235 (which obsoletes 2616):

   scheme(s) and parameters applicable to the target resource. WWW-Authenticate = 1#challenge

Adding the not required `Negotiate` prefix to `WWW-Authenticate` header may break e

[2018-02-01 20:39] mattpwhite commented on #26606
That isn't the relevant RFC, [RFC 4559](https://tools.ietf.org/html/rfc4559) is.  That RFC, which was incidentally written by Microsoft, about HTTP/Negotiate, which was invented by Microsoft, is fairly clear about it.

This is unlikely.  Such apps would only ever have worked with HttpListener since nothing else does this.  Not IIS, not http.sys, not the relevant Kerberos authentication modules for

[2018-02-01 20:39] bartonjs commented on #26739
No, libressl is not supported at all.

[2018-02-01 20:44] GrabYourPitchforks opened #26757 "Add Unsafe.AsRef<T>(in T value) overload"
Sometimes you really just want to turn a "ref readonly" variable into a standard "ref" variable, perhaps so that it can be passed to `Unsafe.As<TFrom, TTo>` or `Unsafe.ReadUnaligned<T>`. Since we don't want to add overloads to all of our unsafe APIs that take readonly-qualified parameters, we should have a utility method that strips the readonly qualifier from its input.

/cc @KrzysztofCwalina @jk

[2018-02-01 20:46] geoffkizer commented on #26754
When are you seeing this?  Local runs?  CI?

[2018-02-01 20:47] stephentoub commented on #26754
Local

[2018-02-01 20:47] jkotas commented on #26757
Duplicate of https://github.com/dotnet/corefx/issues/23916 . Already done.

[2018-02-01 20:47] #26757 closed

[2018-02-01 20:55] safern commented on #25781
When this is fixed we should definitely add the placeholder configuration to the src project and add netfx to the tests.

[2018-02-01 20:55] safern commented on #24903
This is done. We now can do this and we have done this for all the projects in the Compat pack. We're just missing, System.ComponentModel.Composition which has internalsVisibleTo and a lot of internal testing. Which when testing vs inbox assembly we can't access. I have an issue tracking that: https://github.com/dotnet/corefx/issues/25781

[2018-02-01 21:00] stephentoub commented on #23156
I suggest starting just with async drain, initiated inside the logic that returns a connection to the pool.

[2018-02-01 21:03] GrabYourPitchforks commented on #26757
Looks like I was pulling the System.Runtime.CompilerServices.Unsafe package from nuget.org, not myget.org. That resulted in using an out-of-date package that didn't have these APIs.

[2018-02-01 21:05] stephentoub opened #26760 "[New Test] Test failure: System.Net.Http.Functional.Tests.ManagedHandler_HttpRetryProtocolTests / PostAsyncExpect100Continue_RetryOnConnectionClosed_Success"
## Types of failures

### An existing connection was forcibly closed by the remote host

Failure [20180202.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180202.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpRetryProtocolTests~2FPostAsyncExpect100Continue_R

[2018-02-01 21:05] stephentoub commented on #25029
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ca709efa277ed1849d2584dd8ffcb8d97254d7e3/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener
[code]

[2018-02-01 21:12] stephentoub commented on #26754
Yeah, repros locally with a clean master build, maybe once out of 10 outerloop runs.

[2018-02-01 21:12] JeremyKuhne commented on #26734
I agree as well. We should, however, be a little more aggressive in what we're catching here. It is also theoretically possible we could get AccessDenied.

[2018-02-01 21:16] #26735 closed

[2018-02-01 21:17] karelz commented on #26294
Looks like this is not actionable now. Closing.
If you have repro, feel free to ping us and we can reopen. Thanks!

[2018-02-01 21:17] #26294 closed

[2018-02-01 21:23] pjanotti commented on #23135
It passes the tests, its code is equivalent to:

[code]

[2018-02-01 21:27] pjanotti commented on #23135
I was looking at the disassembly, here is the actual source: https://referencesource.microsoft.com/#System/net/System/Net/_BasicClient.cs,107

[2018-02-01 21:32] davidsh commented on #26335
If this issue only happens on .NET Framework and .NET Core then, yes, the issue can be closed.

[2018-02-01 21:35] geoffkizer commented on #26735
Sorry, it's my fault that @wfurt filed this.

Just to make sure I understand: TryComputeLength is *only* used to set the Content-Length header, if it isn't already set.  Right?  I.e. when you access Content-Length and we don't have a value for it, we'll try to get one from TryComputeLength and set the header value.

For managed handler http response content, we will always set Content-Length if av

[2018-02-01 21:37] GFlisch commented on #26507
I agree with you, this feature is important when we want to query implementation of an interface for sample and offer a way to choose the implementation (via a gui for sample).
The ConfigurationContainer contains an internal method where the info is there, can you do this public?

[2018-02-01 21:38] davidsh commented on #26735
You don't always want to set the 'Content-Length' header on the HttpResponseMessage.Content.Headers.  If the response is Transfer-Encoding: chunked, there won't be a response header for example.  We shouldn't manufacture one.

[2018-02-01 21:39] stephentoub commented on #26760
Just failed for me locally as well.
[code]

[2018-02-01 21:40] geoffkizer commented on #26735
We're not.  Sorry if I'm being unclear.  My point is that, since we already set Content-Length if the response contains one, then there's no need to implement TryComputeLength here.

[2018-02-01 21:44] stephentoub commented on #26735
TryComputeLength is used in two places:
https://source.dot.net/#System.Net.Http/System/Net/Http/HttpContent.cs,a46935d921b7964a,references
- In MultipartContent as part of its TryComputeLength implementation calling TryComputeLength on each consituent content.  That's not for our response content.
- In HttpContent's GetComputedOrBufferLength, which itself is only used in the HttpContentHeaders.Con

[2018-02-01 21:49] AtsushiKan commented on #26748
That test was brought over at your request. I have no objection to reducing the dataset or removing it altogether. This business of running resource-hogging tests on CI boxes we have no control over just isn't working.

[2018-02-01 22:07] mmatras commented on #25334
Yes, casting to and from generic types seems reasonable:
I will extend previous API proposal comment with below methods declarations:
[code]
The non generic types can be extended with:

Vector2:
[code]
Vector3:
[code]
Vector4:
[code]
Matrix3x2:
[code]
Matrix4x4:
[code]
Quaternion:
[code]
Plane:
[code]

[2018-02-01 22:11] tannergooding commented on #25334
If the operators are purely generic, they should be explicit.

If they are "exploded", we can allow implicit in a few scenarios (such as float->double).

[2018-02-01 22:21] mmatras commented on #25334
fixed

[2018-02-01 22:22] #22171 closed

[2018-02-01 22:42] geoffkizer commented on #26760
Those are two different errors; one looks like the connection was disconnected, the other like the server sent something bad...

There must a timing issue in the test, I will take a look.

[2018-02-01 22:47] kouvel commented on #26292
I'm able to repro it, seems to happen only from the publish directory, taking a closer look

[2018-02-01 22:50] pakrym opened #26768 "Add tests for ReadOnlyBuffer's longer than MaxInt"

[2018-02-01 22:54] geoffkizer commented on #26760
It's possible, perhaps likely, that this is just due to the 100-continue timeout expiring.  Not sure what to do about that, though...

[2018-02-01 23:16] geoffkizer commented on #26760
The 100-continue timeout is just 1 second, so yeah, it could well be that.

@stephentoub If you can repro semi-consistently, then can you try changing the timeout here to something large and see if that fixes it?

For a real fix, we could make the timeout configurable and set it to something large for this test.

[2018-02-01 23:20] geoffkizer opened #26769 "ManagedHandler: Disallow Expect100Continue for HTTP 1.0 requests"
We should either throw or ignore Expect100Continue in this case.

[2018-02-01 23:20] ahsonkhan commented on #26757
For reference: https://github.com/dotnet/corefx/blob/83f35ef9a79b5cd1412aeaad8d2cb84e1bfe73c4/src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs#L19

[2018-02-01 23:39] MattGal opened #26770 "Test Failure: System.Net.Http.Functional.Tests.HttpRetryProtocolTests / GetAsync_RetryOnConnectionClosed_Success"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7716/consoleFull

Test added ~3 days ago by @geoffkizer .  Test is part of innerloop CI, so should be fixed or disabled ASAP.

[code]

[2018-02-01 23:42] oliverjanik commented on #9162
Newtonsoft.Json is way too broken to be added, period. We need a new light and swift implementation.

[2018-02-01 23:54] wtgodbe commented on #26711
Closing as duplicate of https://github.com/dotnet/corefx/issues/306

[2018-02-01 23:54] #26711 closed

[2018-02-01 23:59] danmosemsft commented on #9162
System.Json was made [available for .NET Core](https://www.nuget.org/packages/System.Json/) does that satisfy the original request here?

[2018-02-02 00:38] Li-ReDBox commented on #9162
I have been using System.Json and find it is OK. The problem is, as @ygoe mentioned, if you want to use JSON config in you application, then JSON.NET is one dependency which is not good for certain applications. Of course, you can use XML but ...

[2018-02-02 00:40] Thaina commented on #9162
@danmosemsft I am very appreciate that `System.Json` was available in nuget but still it should just included in corefx to be standard like System.Xml

[2018-02-02 00:42] danmosemsft commented on #9162
OK, I'm going to close this as resolved then.

System.Json hasn't received much investment in years - I think it was a Silverlight library originally. We would take changes to improve it, as long as it remained compatible.

[2018-02-02 00:43] danmosemsft commented on #9162
@Thaina the boundary of the core package is really chosen as a convenient package of the most commonly used types. If a library is not included, it does not necessarily mean that it isn't fully supported.

[2018-02-02 00:46] Thaina commented on #9162
@danmosemsft Please reopen and close issue when we really have it in corefx. Just in nuget is not really enough. Or else we should separate System.Xml from corefx to nuget

[2018-02-02 00:48] rmkerr commented on #9234
There are a lot of very different situations described in this thread, so I'm only going to be touching on the original. After thoroughly testing things on my machine, I believe that the behavior seen in the original report is the result of a bug in the Fiddler proxy rather than in .Net Core.

The questionable behavior is caused by the `Proxy-Support: Session-Based-Authentication` header. Since NT

[2018-02-02 00:52] Thaina commented on #9162
@danmosemsft It's dilemma that if you don't support System.Json as standard. We would have to select between System.Json and Json.NET and it will not become _commonly used_ when we need to deal with JSON

JSON is really common. It is standard file format right now. It just because System.Json was not included from the start we have an unnecessary fragment for dealing with json in the system for lo

[2018-02-02 00:53] JonHanna opened #26772 "API Change Request: Expression support for ref and readonly ref types"
Currently expressions represents `ref` types only in one place, viz. `ParameterExpression` objects for which `IsByRef` is true.

With a greater use of `ref` types due to greater language support, it seems fruitful to increase the availability of `ref` types in other expressions. While allowing such types directly on expressions' `Type` would be one reasonable approach (so that e.g. `exp.Type == ty

[2018-02-02 00:53] danmosemsft commented on #19223
Old - closing until it happens again.

[2018-02-02 00:54] danmosemsft commented on #19223
Disregard, I see we disabled a test.

[2018-02-02 00:55] danmosemsft commented on #14323
This seems a dupe of https://github.com/dotnet/coreclr/pull/15435 https://github.com/dotnet/coreclr/issues/6136

[2018-02-02 00:55] #14323 closed

[2018-02-02 00:57] danmosemsft commented on #11473
We have no more updates to the benchmark code planned. We will take a look at k-nucleotide no doubt in future but this can be closed.

[2018-02-02 00:57] #11473 closed

[2018-02-02 00:58] danmosemsft commented on #8723
@zhenlan do you have any update to share here? As far as I know this should be moved to Future as it's not currently scheduled for 2.1 right?

[2018-02-02 00:59] danmosemsft commented on #312
@JeremyKuhne @pjanotti this issue seems lie a grab bag - testability and other things. Perhaps you could break out more specific issues (if we don't already haev them) and close this?

[2018-02-02 01:00] JonHanna commented on #26238
Looking into the expressions part of this raises some further issues. In particular if we don't include explicit `in`/`ref readonly` support in the API from the beginning we'd be digging ourselves into a compatibility hole if we wanted to later, so it's best there from the get-go. PTAL at #26772

[2018-02-02 01:00] benaadams commented on #11473
Being able to specify a crossgen task in .csproj... though perhaps that's https://github.com/dotnet/cli/issues/1437

[2018-02-02 01:07] #26490 closed

[2018-02-02 01:09] stephentoub commented on #25676
This continues to fail sporadically but frequently.  I'm disabling it (but we should get to the bottom soon of why it fails).

[2018-02-02 01:11] danmosemsft commented on #9162
Happy to reopen to continue discussion. Perhaps there is a misunderstanding. System.Json [_is_ in CoreFX](https://github.com/dotnet/corefx/blob/master/src/System.Json/src/System.Json.csproj). It is simply not in the default references. The default references are essentially the most used types and their dependencies. It does not indicate what is more or less supported. Just that System.Json isn't

[2018-02-02 01:15] #26709 closed

[2018-02-02 01:29] danmosemsft commented on #11473
Right. Looks like that's not in 2.1.

[2018-02-02 01:30] huanwu commented on #26749
A more simple repro
        public class MyClass
        {
            public MySubClass MySubThing { get; }
        }

        public class MySubClass : MySubClass2 { }

        public abstract class MySubClass2
        {
            public SomeClass SomeThing { get; private set; }
        }

        public class SomeClass { }

In SG, we always exclude the unsupported type before codegen. In this

[2018-02-02 01:31] danmosemsft commented on #20325
@safern is this issue still useful? We already have an issue to track marking the compat pack stable. If we want to track consolidating the Windows and Unix code further it would probably make sense to have a new more focused issue.

[2018-02-02 01:37] danmosemsft commented on #21096
@JeremyKuhne it seems to me this is fixed. Please reopen if not.

[2018-02-02 01:37] #21096 closed

[2018-02-02 01:37] danmosemsft commented on #20368
Not seen since...

[2018-02-02 01:37] #20368 closed

[2018-02-02 01:38] danmosemsft commented on #19928
-> Future as not needed for 2.1

[2018-02-02 01:40] danmosemsft commented on #19918
I see no more reports and no tests disabled for 19918. So closing. cc @saurabh500

[2018-02-02 01:40] #19918 closed

[2018-02-02 01:41] safern commented on #20325
Agree. We can close this issue.

[2018-02-02 01:41] #20325 closed

[2018-02-02 01:42] danmosemsft commented on #22094
No more hits, no disabled test for it.

[2018-02-02 01:42] #22094 closed

[2018-02-02 01:43] danmosemsft commented on #22093
No more reports, low value.

[2018-02-02 01:43] #22093 closed

[2018-02-02 01:44] danmosemsft commented on #22092
Not going to fix it in 2.0, no other reports.

[2018-02-02 01:44] #22092 closed

[2018-02-02 01:44] danmosemsft commented on #22091
Not going to fix in 2.0, no other reports.

[2018-02-02 01:44] #22091 closed

[2018-02-02 01:45] danmosemsft commented on #22083
No more reports?

[2018-02-02 01:45] #22083 closed

[2018-02-02 01:47] danmosemsft commented on #21852
Old, apparenlty passing now.

[2018-02-02 01:47] #21852 closed

[2018-02-02 01:48] danmosemsft commented on #21759
Old.

[2018-02-02 01:48] #21759 closed

[2018-02-02 01:48] JeremyKuhne commented on #21096
It is. Missed closing this one.

[2018-02-02 01:50] danmosemsft commented on #23792
@mazong1123 any interest in a PR so we can close this? Sounds small.

[2018-02-02 01:50] danmosemsft commented on #23548
#23800

[2018-02-02 01:51] danmosemsft commented on #23428
Old.

[2018-02-02 01:51] #23428 closed

[2018-02-02 01:52] danmosemsft commented on #23411
@ghd258 does this help? If not please clarify.
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2018-02-02 01:52] #23411 closed

[2018-02-02 01:52] danmosemsft commented on #24703
@blowdart this is marked release 2.1. Do we want to keep it open indefinitly?

[2018-02-02 01:52] danmosemsft commented on #24678
Old.

[2018-02-02 01:52] #24678 closed

[2018-02-02 01:53] danmosemsft commented on #24539
Old

[2018-02-02 01:53] #24539 closed

[2018-02-02 01:55] danmosemsft commented on #24522
Wasn't this done @krwq?

[2018-02-02 01:55] danmosemsft commented on #24505
We should fix the test to not write so much. Then close.

[2018-02-02 02:13] jkotas commented on #24522
This was not done.

If you just want to avoid duplicating this logic, you consume these APIs via https://www.nuget.org/packages/Microsoft.DotNet.PlatformAbstractions/ NuGet package.

A separate issue is that these APIs are de-facto public .NET Core APIs, but they live in a pretty non-standard place: The sources for it live in  https://github.com/dotnet/core-setup/tree/master/src/managed/Microsoft.

[2018-02-02 02:16] Thaina commented on #9162
@danmosemsft Sorry for me using the wrong word

I don't really care much about active working on `System.Json` itself. What I concern is it should included in the base class library like `System.Xml`. And I think this is what this issue was really about _foundational library_.

It about that if it is standard class it would be used by default. Then every library and framework could use it. And the

[2018-02-02 02:21] maryamariyan opened #26775 "[Regression] Test failure: System.Net.Sockets.Tests.SocketOptionNameTest / MulticastInterface_Set_AnyInterface_Succeeds in CI"
Outerloop test ```MulticastInterface_Set_AnyInterface_Succeeds``` failing with following stacktrace:
In PR #26731 (both [Release](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_release_prtest/7/testReport/junit/System.Net.Sockets.Tests/SocketOptionNameTest/MulticastInterface_Set_AnyInterface_Succeeds/) and [Debug](https://ci.dot.net/job/dotnet_corefx/job/master/j

[2018-02-02 02:25] #26677 closed

[2018-02-02 02:48] blowdart commented on #24703
I didn't add the milestone. I think it's up to @richlander - the announcements one stay open forever.

[2018-02-02 02:57] oliverjanik commented on #9162
Is it not true that Aspnetcore includes Newtonsoft.Json by default? So technically that is ***the*** blessed Json serializer for .net core?

[2018-02-02 03:04] #26466 closed

[2018-02-02 03:19] karelz commented on #26725
I consolidated the history into top post.
@Priya91 @wfurt @bartonjs @geoffkizer @stephentoub it looks like recent regression - did anything changed in the area that could cause this regression?

[2018-02-02 04:18] #26335 closed

[2018-02-02 04:33] kouvel commented on #26292
The issue seems to be that it's restoring and running against runtime.win-x64.Microsoft.NETCore.App/2.0.0, which does not contain the fix. @tarekgh / @danmosemsft, any idea why it would do that instead of running against the installed coreclr?

It doesn't seem to have much to do with the publish directory, it's only reproing from there because NLog is calling Assembly.LoadFrom() at some point duri

[2018-02-02 04:44] mazong1123 commented on #23792
@danmosemsft The tests is for https://github.com/dotnet/corefx/pull/23793 which has been closed as we have to wait for jit compiler enhancement to mitigate the performance issue. I'm fine if this issue been closed until we https://github.com/dotnet/corefx/pull/23793 be re-opened.

[2018-02-02 04:55] davidsh commented on #26743
You're correct in that there should be .ConfigureAwait(false) on that line and another one.

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L856

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L863

Feel free to submit a PR if you wish to contribute a fix fo

[2018-02-02 04:56] davidsh commented on #26775
Doing multicast tests in the CI system is problematic.

[2018-02-02 05:03] wfurt commented on #26775
generally true but the one I look at has been configuration problems with the machines @davidsh
It would be great to have link to actual runs so we can investigate failure - at least see of the repro environment would repro it. may be related to #24114

[2018-02-02 05:28] krwq commented on #24522
AFAIK only Redhat related pieces were unified

[2018-02-02 06:08] danmosemsft commented on #23792
Ok thanks @mazong1123

[2018-02-02 06:08] #23792 closed

[2018-02-02 07:01] ygoe commented on #9162
Just to let you know, I've found [fastJSON](https://www.codeproject.com/Articles/159450/fastJSON) which seems to support what I need, does it fast, and is small enough to include the source code directly in the application – no separate DLL. I haven't got much experience with it yet but it looks promising. Maybe it's helpful for others, too. The source code could use a little cleaning, VS shows me

[2018-02-02 07:10] Sunny-pu opened #26778 "Test System.Collections.Immutable.Tests.ImmutableDictionaryTest.AddRemoveRandomDataTest failed in CI."
Test System.Collections.Immutable.Tests.ImmutableDictionaryTest.AddRemoveRandomDataTest failed.

Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/4169/testReport/System.Collections.Immutable.Tests/ImmutableDictionaryTest/AddRemoveRandomDataTest/

Failed configuration: osx10.12_Debug

MESSAGE:
Assert.True() Failure\nExpected: True\nActual: False
[code]

[2018-02-02 07:20] mrhprasanna commented on #26541
Hi @karelz  We are also facing the same issue while trying to sign using TPM provider exposed by CNG. It is stopping our release and we are strongly dependent on it.

[2018-02-02 07:32] Sunny-pu commented on #21851
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_release/296/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromAsyncV6BoundToAnyV4_NotReceived/

[2018-02-02 07:47] bigbearzhu opened #26779 "PrincipalSearcher for machine local users is case sensitive"
Hi all,

When finding users with `PrincipalSearcher.FindAll` method for machine context, it seems the search is case sensitive. However if the search is for domain users, it becomes case insensitive. The reason for this is because domain search is using LDAP which is case insensitive. But machine local search goes through `SAMStoreCtx` which uses a [regex](https://github.com/dotnet/corefx/blob/0eb

[2018-02-02 07:51] danmosemsft commented on #26779
Is it the same on desktop framework?

[2018-02-02 08:24] geoffkizer opened #26780 "ManagedHandler: ReadNextLineAsync logic appears incorrect"
https://github.com/dotnet/corefx/blob/bb738a07720a8c0888a088f2adb737d2cbe09ca2/src/System.Net.Http/src/System/Net/Http/Managed/HttpConnection.cs#L905

We are setting the searchOffset to length, but we should be doing searchOffset += length.  Otherwise we will search through bytes we've already scanned.

This isn't a correctness issue (we just rescan extra bytes), but if we're going to try to be sm

[2018-02-02 08:53] gbrhaz commented on #26446
@wfurt Unfortunately I don't think it'd be possible to send you a precise project for this. Limitations on my side. In the meantime, I have done some digging around and found [this](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/OSX/CurlHandler.SslProvider.cs#L28).

Are you able to shed any light on this? It looks as if _any_ certificate that is added as a cli

[2018-02-02 09:14] mgravell opened #26781 "System.Memory : request pre-built "unmanaged external memory" OwnedMemory implementation to allow Memory-T to be used against a pointer (with the caller owning the lifetime etc)"
Intent: to be able to use `Memory<T>` APIs with data that is backed by a raw pointer. This is currently trivially possible for `Span<T>`, but not `Memory<T>`.

There is a `NativeOwnedMemory` which is an `OwnedMemory<byte>`, and which allocates internally via `Marshal.AllocHGlobal`, however I perceive that it is a common scenario - for people working with this type of API - to need to work with arb

[2018-02-02 11:05] powercode opened #26783 "Make it possible to specify ProcessPriorityClass when starting a process"
When starting a process, I would like to be able to set the priority of the process in the ProcessStartInfo.
[code]

[2018-02-02 11:06] powercode opened #26784 "Make it possible to start a process suspened, and later resume it."
This would make it a lot easier to (for example) attach it to a job.

[2018-02-02 11:30] bigbearzhu commented on #26779
I actually found this issue in ASP.Net App targeting .Net Framework. However I cannot find public repo contains System.DirectoryServices.AccountManagement source code for .Net Framework. Although decompiled code shows exactly the same code. That’s why I raised it here. Sorry if it is not the right place.

[2018-02-02 11:41] danieldemus commented on #26263
The invalid xml also prevents sandcastle (and I presume any other documentation tool that automatically looks for dependency documentation) from working. So the issue is quite visible.

[2018-02-02 11:51] svick commented on #9162
@Thaina

It's too late for that. JSON.NET is so popular that it's never going to go away. Applications that already use it are not going to be rewritten for no good reason. Libraries that already use it are not going introduce breaking changes without sufficient justification.

The only way a standard JSON library would become the one everyone uses is if it was significantly more convenient and ha

[2018-02-02 11:56] LeonidVasilyev opened #26785 "In what cases "R" format fails to round-trip float value?"
[Standard Numeric Format Strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings#the-general-g-format-specifier) article states that in order to successfully round-trip `Single` value one must use `G9` format specifier because `R` doesn't work sometimes:

To find such cases I used code snippet similar to the following one (Windows 10 x64, .NET Core 2.0

[2018-02-02 12:10] k0st1x commented on #26600
@karelz (or smbd else) please review my PR https://github.com/dotnet/corefx/pull/26756

[2018-02-02 13:11] artkpv opened #26786 "Building with local CoreFx build: error NU1102: Unable to find package Microsoft.NETCore.App"
Trying to make it work for few hours. How to make my console app to use my local build of CoreFX? Why it can't find my local nuget package (see below)? Location is correct. Build it
Using [dogfooding man](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md)

It fails with this:
[code]

In `.csproj`:
[code]

[code]

[2018-02-02 13:50] #26741 closed

[2018-02-02 14:06] kendfrey opened #26787 "Regex conditional groups are broken if no "else" expression is given"
#### Scenario:

	Match match = Regex.Match("abc", "(?(?=x)bx)");
	Console.WriteLine("Success: {0}", match.Success);
	Console.WriteLine("Value: \"{0}\"", match.Value);
	Console.WriteLine("Index: {0}", match.Index);

#### Output:

	Success: True
	Value: ""
	Index: 1

#### Expected result:

I don't know. If leaving out the "else" expression isn't supported, it should throw an exception. Otherwise, ma

[2018-02-02 14:33] stephentoub commented on #26780
Yup, you're right.

[2018-02-02 14:40] stephentoub opened #26789 "More DNS tests failing on macOS"
I've seen these failures now in a good number of PRs:

DnsObsoleteGetHostByName_EmptyString_ReturnsHostName
[code]

Dns_GetHostEntryAsync_HostString_Ok
[code]

Dns_GetHostEntry_HostString_Ok
[code]

[2018-02-02 14:43] stephentoub commented on #26770
Failed again here:
https://github.com/dotnet/corefx/pull/26598#issuecomment-362475142

[2018-02-02 14:44] stephentoub commented on #26789
Another case of this:
https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/dbc1fc2da27849acee9a80476a20f86603a36548/workItem/System.Net.NameResolution.Functional.Tests

[2018-02-02 14:47] stephentoub commented on #26789
@dotnet/dnceng, do you know of anything that may have changed in CI infrastructure recently that would cause DNS-related issues (slowdowns / disconnects / any such thing) recently on macOS in particular?

[2018-02-02 14:54] stephentoub commented on #26725
The problem is most likely a race condition somewhere, so pretty much any change anywhere could have increased its likelihood of happening due to changing timing.

[2018-02-02 15:18] stephentoub commented on #26781
https://github.com/dotnet/corefxlab/issues/1924

[2018-02-02 15:20] Timovzl commented on #23629
So the last concrete proposal is from https://github.com/dotnet/corefx/issues/23629#issuecomment-334328439:

[code]

Only a few potential issues have been raised since:
- The tag is required upfront, which hinders certain scenarios. Either the API must become significantly more complex to allow further flexibility, or this issue must be considered a protocol (i.e. high-level) problem.
- `INoncePro

[2018-02-02 15:21] davidfowl commented on #26781
Sounds like you just want the ability to create Memory\<T\> over a pointer. “I know what I’m doing” mode.

[2018-02-02 15:43] stephentoub commented on #26770
Again here on netfx:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7742/consoleText
[code]

[2018-02-02 15:44] stephentoub commented on #26770
Seems like this is either a test bug, a misconception about how netfx behaves, or a netfx bug.
cc: @geoffkizer

[2018-02-02 15:49] mgravell commented on #26781
@stephentoub  yes, I'd agree that this is a dup of #1924 so I'll close it; thanks

@davidfowl  hell yeah :)

[2018-02-02 15:49] #26781 closed

[2018-02-02 16:06] stephentoub commented on #26781
I would like this, too, obviously.  The key question is "how".  Either we a) modify the `Memory<T>` implementation to support wrapping pointers directly, which makes the pointer case 1st-class and as efficient as possible but adds cost to the other more common scenarios, or b) support pointers via the `OwnedMemory<T>` abstraction and allocate an object for it.  At this point I think we've landed f

[2018-02-02 16:15] stephentoub commented on #26743
This doesn't have anything to do with ConfigureAwait.  Those methods are not returning Task; they're returning an internal awaitable type that already has the ConfigureAwait(false) semantics built into it, meaning it doesn't do anything to track and post back to a captured SynchronizationContext or TaskScheduler.  There's no need for a ConfigureAwait on those, and in fact adding ConfigureAwait to

[2018-02-02 16:21] mgravell commented on #26781
@stephentoub I also agree that "b" is appropriate and applicable - given that you're *already* choosing to pay the slight indirection cost  of `Memory<T>` => `Span<T>`, the extra object is nominal - you shouldn't be doing this in a loop, for example. Likely use-cases:

- you create a `Memory<T>` with an `OwnedBuffer<T>` when allocating an external long-lived resource and then barely touch it (perh

[2018-02-02 16:23] mgravell commented on #26781
@stephentoub  re your a vs b: that's why I called out the difference between what I called just `PointerMemory<T>` (that doesn't handle lifetime), vs the existing internal type that handles lifetime internally. I think they're very different scenarios that warrant 2 different but related implementations.

[2018-02-02 16:39] karelz commented on #26541
@mrhprasanna how do you know you are hitting exactly the same error? Did you check the repro above?

If it is blocking your product, I would recommend to contact Microsoft Support (if you have a contract) to get the right level of engagement from Customer support. We will assess impact and priority on GitHub based on available information here, which might not align with the urgency you might need

[2018-02-02 17:06] AtsushiKan commented on #25712
Currently blocked by the fact that `Unsafe.ByteOffset()` is still an unimplemented intrinsic in Project N. The bug does repro if you stub that method so we could make forward progress on this.

[2018-02-02 17:11] AtsushiKan commented on #24540
This was a point in time issue causing `ReadOnlySpan` to be Reflection-blocked for a time in Project N due to stale contracts. The test in passing now.

[2018-02-02 17:11] #24540 closed

[2018-02-02 17:15] MattGal commented on #24505
I think this may no longer be an issue, whether by more aggressive machine recycling strategies or a test fix.  It certainly hasn't come up often (at all?) in daily full outerloop runs for Fedora 26 in my recent memory.

[2018-02-02 17:16] AtsushiKan commented on #23733
Closing since the test is passing and no information about the GIT branch has been forthcoming.

[2018-02-02 17:16] #23733 closed

[2018-02-02 17:17] Drawaes commented on #23629
The tag upfront is a non starter for my scenario so I will probably just keep my own inplementation. Which is fine I am not sure it's everyone's cup of tea to write high perf code in this area.

The problem is it will cause unneeded latency. You have to pre buffer an entire message to get the tag at the end to start decoding the frame. This means you basically can't overlap IO and decrypting.

I a

[2018-02-02 17:22] bartonjs commented on #23629
No.  A `nonce` is a number used **once**.  An algorithm which specifies a nonce indicates that reuse violates the guarantees of the algorithm.  In the case of GCM, using the same nonce with the same key and a different message can result in the compromise of the GHASH key, reducing GCM to CTR.

From http://nvlpubs.nist.gov/nistpubs/ir/2013/NIST.IR.7298r2.pdf:

An "IV" doesn't have the same stringe

[2018-02-02 17:27] mattpwhite commented on #26606
Here's [another reference](https://msdn.microsoft.com/en-us/library/ms995330.aspx) for you that the Negotiate scheme prefix is in fact required.  This predates (appears to be written in 2002) the RFC because the RFC basically just codifies what IE and IIS did in Windows 2000 and was later adopted by everyone else.

RFC 7235 does not mention SPNEGO, GSSAPI or Kerberos; it's unrelated.  Well it's HT

[2018-02-02 17:29] MattGal commented on #26789
@stephentoub sort of, earlier this week we had a bunch of machines in the OSX.1012.Amd64.Open queue go weird (just sort of quit python, didn't log anything) and they seemed OK after reboot.  025 (one implicated in this log) looked to be the same.

From the machine logs, we're having trouble sending our telemetry via python networking APIs so it's definitely a machine issue:
[code]

I'll first try

[2018-02-02 17:43] AtsushiKan commented on #23734
Working on a fix.

[2018-02-02 17:53] kouvel commented on #26292
The default runtime for standalone apps appears to be 2.0.0 and it's running against that, which doesn't contain the fix. For standalone apps it's necessary to set this attribute to reference a specific version:

[code]

Or `<RuntimeFrameworkVersion>2.0.*</RuntimeFrameworkVersion>` to target the latest published 2.0.x runtime.

[2018-02-02 18:07] pjanotti opened #26793 "[Test failures] System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest / PostAsync_ThrowFromContentCopy_RequestFails"
It seems that the managed handler throws a different exception than the other ones. I'm looking into it. I'm going to submit a PR to deal with the test failures, but, want to confirm the desired behavior here.

The exception throw by the managed handler (HttpRequestException) seems more appropriate then the one throw by the other handlers, and it has the proper InnerException (the one throw direct

[2018-02-02 18:11] davidsh commented on #26743
Good point.  I forgot about those prior changes.  I wonder if we need some more comments around this code to avoid future confusion as we review code etc.

[2018-02-02 18:16] wfurt commented on #26710
closed by #26733

[2018-02-02 18:16] #26710 closed

[2018-02-02 18:24] wfurt commented on #26789
Ping me next time this happens @MattGal We may do some more deeper scan.
For example, I find stray donet processes once in a while eating lot of cpu.
We may also examine open file and system limits.

[2018-02-02 18:54] MattGal commented on #26789
I can get you on DCI-MAC-BUILD-025 any time you like, I've only disabled it from being used for now (until @JpratherMS  or someone reimages it...).

For the network issues, given that this also happened on Windows 8 Azure VMs I'm suspecting there was an EventHub outage that messed things up briefly and exposed a bug (which I am urgently reproing/fixing) in our client python scripts.

[2018-02-02 19:40] #26611 closed

[2018-02-02 20:07] Priya91 commented on #26651
I did this test on Linux ubuntu 17.04 and didn't see the issue repro, will report back when I have results on osx.

The test:

[code]

Infrastructure setup:

1. Created a dns server on azure, and mapped www.foo.com to 2 IP addresses, which host kestrel process and returns string like "Hello from Windows Server 1" or "Hello from Windows Server 2".
2. Modify the record in the dns server for www.foo.

[2018-02-02 20:11] eerhardt commented on #26416
I think the questions have been answered, and this issue can be closed.  Please re-open if I am incorrect.

https://github.com/dotnet/corefx/issues/23448 is a general "System.Numerics.Vectors docs need to be updated" issue that we will move to https://github.com/dotnet/docs.

[2018-02-02 20:11] #26416 closed

[2018-02-02 20:12] GrabYourPitchforks opened #26796 "Improve performance of Rfc2898DeriveBytes"
See https://github.com/aspnet/DataProtection/issues/272 for full context.

ASP.NET has its own implementation of RFC2898 because it needs top-of-the-line performance for password hashing in order to have acceptable latency for login scenarios. If we bring these performance improvements to the framework's implementation of these APIs, ASP.NET can remove its own implementation and rely on the standa

[2018-02-02 20:13] eerhardt commented on #26497
I think the questions have been answered, and this issue can be closed. Please re-open if I am incorrect.

[2018-02-02 20:13] #26497 closed

[2018-02-02 20:18] AlexGhiondea commented on #25614
@joperezr can you take a look at this?

[2018-02-02 20:33] danmosemsft commented on #26734
@maryamariyan here's a small one for you

[2018-02-02 20:34] maryamariyan commented on #26734
Thanks @danmosemsft

[2018-02-02 20:38] MarcoRossignoli commented on #26033
I removed [special-cases checks](https://github.com/dotnet/corefx/compare/master...MarcoRossignoli:issues/26033) and tests with my private [CoreCLR](https://github.com/dotnet/coreclr/pull/16151). Do i have to wait merge on CoreCLR to pull?Sorry this is first time to me on "cross changes" i don't know the steps.

cc: @jkotas @maryamariyan @danmosemsft

[2018-02-02 20:46] jcouv commented on #26003
@Horusiath The `System.ValueTuple` types are designed closely after `System.Tuple` for ease of migration and interop with F#. The API has shipped and therefore cannot be changed at this point.

As for proposing a language feature to allow tuple syntax to use different underlying types, I'd suggest checking out the [csharplang](https://github.com/dotnet/csharplang/) repo. I suspect there is already

[2018-02-02 20:52] SteveL-MSFT opened #26797 "[DirectoryInfo]::GetFiles()/GetDirectories() not working correctly on macOS"
Based on default macOS case-insensitive filesystem

Repro using PSCore6:

[code]

Expected:

DirectoryInfo for "Test" folder

Actual:

null

This works as expected on Windows.

[2018-02-02 20:57] JonHanna commented on #11360
@bartdesmet dealt with this himself between #13963 and #13969 so this can be closed.

[2018-02-02 21:06] joshfree commented on #26786
@joperezr @safern

[2018-02-02 21:10] danmosemsft commented on #23954
I agree it would be good to have more community input here.

[2018-02-02 21:11] danmosemsft commented on #23125
No response on this one, I suggest we see whether it comes out of the next time we look at profiles.

[2018-02-02 21:11] #23125 closed

[2018-02-02 21:29] kouvel commented on #26702
It looks like the seg fault would be fixed by https://github.com/dotnet/coreclr/pull/14123, CC @brianrob. Not sure if there are other issues following that, but it seems to be working as expected in the current state.

[2018-02-02 21:32] #26292 closed

[2018-02-02 21:40] karelz commented on #26732
Does not seem to be critical for 2.1 - moving to Future.
cc @geoffkizer @stephentoub

[2018-02-02 21:43] geoffkizer commented on #26770
If we're only seeing this on netfx (and so far it looks that way), then we should just disable the test on netfx.

If we see it somewhere else, it's probably a test issue.

We should probably disable the test for netfx regardless, and then if we see it elsewhere we can revisit.

[2018-02-02 21:45] roji opened #26799 "Span-based way to read binary data in ADO.NET"
DbDataReader includes a method which allow reading sliced binary data from the database: [GetBytes()](https://msdn.microsoft.com/en-us/library/system.data.common.dbdatareader.getbytes(v=vs.110).aspx).

With Span coming, it makes sense to add a similar method which simply return a ReadOnlySpan, that can slice the provider's internal buffer - this would provide a zero-copy way to get binary data out

[2018-02-02 21:45] geoffkizer commented on #26732
I believe we should address this for 2.1.

[2018-02-02 21:57] caesar1995 commented on #26606
Hey Matt, we have discussed the issue offline, and agree that it's a bug which we would take a fix, if it doesn't break existing .NET client (.NET Framework 4.7.1, .NET Core 2.0)

Would you be interested in creating a PR?

[2018-02-02 22:05] brianrob commented on #26702
Yup, that looks like the same issue as https://github.com/dotnet/coreclr/pull/14123.  This has already been merged into master so if it's possible to try a newer build of coreclr out of master, you can validate that this resolves the problem.

This is also going to be backported to 2.0.7 - you can watch for it to get merged here once the branch is open: https://github.com/dotnet/coreclr/pull/16152

[2018-02-02 22:10] geoffkizer commented on #26732
Just to be clear: If every authenticated proxy request requires two proxy connections, someone will notice this and point out that we are doing something very stupid.

[2018-02-02 22:40] TheMinefighter opened #26801 "Feature Request: .ToDictionary method for IEnumerable<KeyValuePair<IKey,IValue>> returning Dictionary<IKey,IValue>"
Often it would be useful to be able to create a Dictionary<IKey, IValue>from an IEnumerable<KeyValuePair<IKey, IValue>>. With that, it would be easier to initialize Dictionaries from LINQ Expressions. Furthermore, it would make the code for initializing Dictionaries far more readable. The Method would be defined as below:
[code]

[2018-02-02 22:47] benaadams commented on #26801
There is now a `Dictionary` constructor which takes an `IEnumerable<KeyValuePair<TKey, TValue>>`
Issue https://github.com/dotnet/corefx/issues/1378 -> PR https://github.com/dotnet/corefx/pull/14656
So the implementation would be?
[code]

[2018-02-02 22:49] Priya91 commented on #26651
I observed the same output with OSX as well, it responds to the DNS update,

[code]

This is my OS environment information:

[code]

[2018-02-02 22:50] Priya91 commented on #26651
@glennc We confirmed with our local repro that this bug doesn't repro. Can you provide more info, about the OS environment, about the curl Version, osx version, and the crypto backend curl uses on your osx?

[2018-02-02 23:00] joshfree opened #26802 "tracking UWP test leg disable/re-enable for Vector<T>"
Due to timing issues with consuming https://github.com/dotnet/coreclr/pull/16133 across coreclr / corert / .NET Native, we'll need to temporarily disable the UWP test leg in the corefx repo.  Once .NET Native is updated to react to the Vector<T> typeforward, we'll re-enable the test leg - sometime next week Feb 5 - Feb9.

cc: @eerhardt @nattress

[2018-02-02 23:00] pjanotti opened #26803 "[Fedora.27] Test failures: System.Net.Http.Functional / * - unsupported libcurl (7.55.1) and its SSL backend (\"OpenSSL/1.1.0g\")"
Test pass on Fedora are failing for certificate and SSL:
[code]

Affected tests: 23

## History of failures

Day | Build | Details
-- | -- | --
2/2 | 20180202.05 | 23x - [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180202.05/workItem/System.Net.Http.Functional.Tests)
2/2 | e328a11841e2c7cc34d6cba6925aaadaa6549721 |

[2018-02-02 23:10] danmosemsft commented on #26770
AGain on NETFX... can we disable there @geoffkizer ?
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7717/consoleText

[2018-02-02 23:12] danmosemsft commented on #26586
@KKhurin this broke CI again, this time on Nano. Could you please tweak the test?

Note we have found in other tests that we have to set timeouts to several times the value you might need running locally -- because the machines can run slow due to concurrent activity.

https://mc.dot.net/#/user/lroca88/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/654d82c699b3d0a8d2740d79f0

[2018-02-02 23:12] #25991 closed

[2018-02-02 23:17] mattpwhite commented on #26606
Thanks, really happy to hear that.  I wouldn't mind creating a PR.  I'd need a day or two to get some one to OK me signing a CLA, but wouldn't anticipate that being a problem.

I hadn't tried building CoreFX before, but I managed to follow https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md and think I more or less got it working.  Is that what I should be looking

[2018-02-02 23:36] caesar1995 commented on #26606
Here are additional information:

1. [Steps to build corefx on Windows.](https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md)
2. [How to build and run your changes, and run existing tests.](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md)
3. [How to add new tests.](https://github.com/dotnet/corefx/blob/master/Docume

[2018-02-02 23:48] OmarTawfik commented on #26698
It would be helpful to follow https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

Also, it would be helpful to mention the most common use cases, and why it is specially needed in the  framework, and not as a helper library to a few users who might use it.

[2018-02-02 23:50] danmosemsft commented on #26801
Could you add some code samples showing it in use? Where "new" would be too clunky?

[2018-02-02 23:54] OmarTawfik commented on #25240
@JonHanna @stephentoub it seems that it was concluded that we're not updating Linq's sort function after all. We can close this issue, and maybe consider `Array.Sort()` for further improvements.

[2018-02-02 23:54] #25240 closed

[2018-02-02 23:57] JonHanna commented on #25240
@OmarTawfik I was thinking of the partial versions that can't be implemented with `Array.Sort()`. That said, the ideas in #25945 would mean that they then could be implemented with it, and it would have applicability beyond that, so I'm happy to close this while that remains a possibility.

[2018-02-02 23:58] OmarTawfik commented on #24788
@AlexGhiondea @karelz do you have any concerns for submitting this for review?

[2018-02-03 00:07] eerhardt commented on #26675
I got a repro machine, and this appears to be a general issue with CentOS7.1.  See https://bugs.centos.org/view.php?id=7324.

The issue is we are passing in a buffer size that is too small in DEBUG mode (purposefully in order to test the fallback code).  CentOS7.1 (and it appears RedHat from that bug report above) had an OS kernel bug with `getpwnam_r` where it returns the wrong error code when pa

[2018-02-03 00:08] eerhardt commented on #26673
Same analysis as https://github.com/dotnet/corefx/issues/26675

I got a repro machine, and this appears to be a general issue with CentOS7.1.  See https://bugs.centos.org/view.php?id=7324.

The issue is we are passing in a buffer size that is too small in DEBUG mode (purposefully in order to test the fallback code).  CentOS7.1 (and it appears RedHat from that bug report above) had an OS kernel bug

[2018-02-03 00:10] karelz commented on #26651
@rynowak any idea how is our environment different from yours?

[2018-02-03 00:15] OmarTawfik commented on #24585
@lechu445 did we calculate the gains/changes we would see in that case?
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md

[2018-02-03 00:19] danmosemsft commented on #26675
Nice sleuthing!

[2018-02-03 00:20] OmarTawfik commented on #23080
I'm closing this per @Clockwork-Muse's conclusion. Please feel free to reactivate if you disagree.

[2018-02-03 00:20] #23080 closed

[2018-02-03 00:21] mattpwhite commented on #26606
What I meant was that's not sufficient to test this.  You need a functional Kerberos infrastructure, which means:
 * A KDC (domain controller) reachable and discoverable by the client (server not necessary).
 * A server reachable by DNS name.  Or at least that the resolver on the client can resolve, hosts file works.
 * The HTTP SPN for that DNS name associated with the principal (user or computer

[2018-02-03 00:22] OmarTawfik commented on #23583
cc @karelz

[2018-02-03 00:22] bartonjs commented on #26541
I brought this up with the CNG team, and it has been acknowledged as an issue in the library that .NET depends on, there's nothing that .NET can really do here.

[2018-02-03 00:22] #26541 closed

[2018-02-03 00:25] OmarTawfik commented on #23873
I'm closing this for no activity, and since I cannot see any votes/counter arguments.
Please feel free to reopen if you disagree.

[2018-02-03 00:25] #23873 closed

[2018-02-03 00:32] rynowak commented on #26651
I will provide more info about this tonight when I get home.

[2018-02-03 00:46] safern commented on #26786
This is because the Microsoft.NETCore.App preview2 package is only available to restore from myget, no nuget.

https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App

Basically you just need to add our myget restore feed into you NuGet.config file. Something like this:

https://github.com/dotnet/corefx/blob/master/src/NuGet.config#L8

[2018-02-03 00:49] oliverjanik commented on #9162
@svick Existing apps do not need to be rewritten. All that needs to happen is we get a better and officially blessed json library that comes with the project templates. I don't think the current System.Json is that library.

Also, I think Json.NET is popular by necessity not by choice...

[2018-02-03 00:52] rmkerr commented on #26426
I've got a repro and a rough fix put together for this issue. I believe that we should be handling this in [WinHttpRequestCallback::OnRequestRedirect](https://github.com/dotnet/corefx/blob/473a4cf05c28f95d8a93b826647f755dbdec8728/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpRequestCallback.cs#L182), which gets called by WinHttp to notify us that a redirect is about to happen.

Sin

[2018-02-03 01:00] jbednar79 commented on #26743
I think the discussion is now focused about ConfigureAwait only and problem is unsolved.
I agree I didn't check the method signatures and there is not standard Task but some internal class I don't know.

But there must be a problem - with lock() inside methods or with tasks or else. Otherwise I don't understand why two subsequent methods calls are after 3000ms delay. Check verbose logging for deta

[2018-02-03 01:08] saurabh500 commented on #26623
In this case the query is executed on the server, but it will never complete as it is an infinite loop.
In the client, after sending a query for execution, the client waits for an acknowledgement from the server by locking the TdsParserStateObject and then waiting for a network packet.
How cancellation works is, the client is responsible for making sure that it completes the existing requests and

[2018-02-03 01:10] saurabh500 commented on #24919
Closing due to no response

[2018-02-03 01:10] #24919 closed

[2018-02-03 01:19] wfurt commented on #26651
Is that curl from brew @Priya91 I get this on my 10.12.6.

macik:System.Net.Http furt$ curl -V
curl 7.54.0 (x86_64-apple-darwin16.0) libcurl/7.54.0 **SecureTransport** zlib/1.2.8
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz UnixSockets

There may

[2018-02-03 01:25] saurabh500 commented on #24022
I tried the following
[code]

The output is System.DateTime  12/21/2016 12:00:00 AM

Please reopen if there are more inputs.

[2018-02-03 01:25] #24022 closed

[2018-02-03 01:27] saurabh500 commented on #23056
@corivera can this be closed as it is a no repro?

[2018-02-03 01:32] saurabh500 commented on #22719
The tests were most likely failing because of thread pool exhaustion while trying to get a connection for SqlConnection. These tests should now work fine after the fix for https://github.com/dotnet/corefx/issues/25620

[2018-02-03 01:32] #22719 closed

[2018-02-03 01:32] #23056 closed

[2018-02-03 01:34] saurabh500 commented on #17925
These tests are passing now after the fix for https://github.com/dotnet/corefx/issues/25620

[2018-02-03 01:34] #17925 closed

[2018-02-03 01:36] saurabh500 commented on #26594
Closed with https://github.com/dotnet/corefx/pull/26595

[2018-02-03 01:36] #26594 closed

[2018-02-03 01:43] saurabh500 commented on #25761
@ajvickers this issue should have been resolved with https://github.com/dotnet/corefx/issues/25620
The call stack shows SqlConnection.Open() is timing out after 100 connections.
Looks like the same issue with concurrent requests.

@sebastianroesch `Win32Exception: Unknown error 258:` Is this coming from Windows? Or from Linux?

Also are you using MARS in your connections ?

[2018-02-03 01:44] saurabh500 commented on #25742
This will require changes to a bunch of components and hence moving to post 2.1

[2018-02-03 01:51] saurabh500 commented on #24582
Closing as dupe of https://github.com/dotnet/corefx/issues/24480

[2018-02-03 01:51] #24582 closed

[2018-02-03 01:52] saurabh500 commented on #24206
Closing due to no response

[2018-02-03 01:52] #24206 closed

[2018-02-03 01:53] rmkerr commented on #22479
What version of .NET Core you were running on at the time? I've tried to track down any instances of memory corruption caused by this issue, and have yet to find anything.

[2018-02-03 01:53] saurabh500 commented on #23534
Closing as the fix was suggested above.

[2018-02-03 01:53] #23534 closed

[2018-02-03 01:55] saurabh500 commented on #22882
Closed with https://github.com/dotnet/corefx/pull/26252

[2018-02-03 01:55] saurabh500 commented on #22876
Closed with https://github.com/dotnet/corefx/pull/26252

[2018-02-03 01:55] #22876 closed

[2018-02-03 01:56] saurabh500 commented on #20441
This is fixed with https://github.com/dotnet/corefx/issues/25620 and the tests have been re-enabled for sometime. The tests are passing

[2018-02-03 01:56] #20441 closed

[2018-02-03 02:04] tarekgh opened #26810 "System.Net.Sockets.Socket.DoConnect failed with Operation timed out in the CI"
https://mc.dot.net/#/user/tarekgh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/f5e2e814d3f584d8578937fe41a907c507742f7e/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendPacketsAsync~2FSendPacketsElement_FileZeroCount_Success(type:%20APM)

[code]

[2018-02-03 02:13] saurabh500 commented on #26121
@eschneider999 All the errors coming to SqlClient during command execution due to bad data or bad query are sent by Sql Server and SqlClient cannot do much about these error messages.
The messages that the client produces are more around connectivity and timeouts which if needed can be improved.
I agree that the messages like `String or binary data would be truncated.` are frustrating, especially

[2018-02-03 02:13] #26121 closed

[2018-02-03 02:18] JonHanna commented on #21060
Yes, it's by design, so that expressions analogous to `new DateTime()`, `new int()` etc. in C# and the equivalent in other languages that create a default instance of a value type without a nullary constructor.

[2018-02-03 03:06] jkotas commented on #26033
@MarcoRossignoli Yes, that's the process.

[2018-02-03 03:07] #26793 closed

[2018-02-03 03:08] ahsonkhan commented on #26748
We can always run the test cases locally if there is ever code churn in that space. Although, I don't expect there to be many changes now.

[2018-02-03 03:09] jkotas commented on #26033
Wait for the matching

[2018-02-03 03:14] stephentoub opened #26811 "ManagedHandler currently doesn't distinguish ClientCertificateOptions.Manual/Automatic"
The setting is ignored.  It shouldn't be.

[2018-02-03 03:14] Thaina commented on #9162
@svick It never be late just sooner is better. It will be late just if there would be no new library in the world anymore

When the new library keep relying more and more on BCL json. Old library would just plug json to cope with it. Old library don't need to replace core json they had written. Just have api to accept it is enough for compatible

Convenient is also sum from many factor. Being in B

[2018-02-03 03:50] #26033 closed

[2018-02-03 04:13] ahsonkhan commented on #23341
Again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug_prtest/32/console

[code]

[2018-02-03 04:18] ahsonkhan commented on #26673
Failed again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu16.10_release_prtest/9

System.Diagnostics.Tests.ProcessTests.TestStartWithRootUserCannotElevate [FAIL]

[code]

[2018-02-03 04:41] pjanotti opened #26813 "NetworkInterface.GetAllNetworkInterfaces() can't handle all interfaces on WSL"
It is hitting an assert while testing System.Net.Http for the `NetworkInterface.GetAllNetworkInterfaces()`. The issue is that one of the `AF_PACKET` enumerated by `getifaddrs` has an address large than the 8 bytes expected, so `memcpy_s` hits the assert:

[code]

Running a quick code calling `getifaddrs` I can see that one of the interfaces, eth4, has size 16 for `sll_halen`.

[code]

[2018-02-03 05:09] danmosemsft commented on #26813
See https://github.com/dotnet/corefx/issues/26476 -- I'm surprised it's working for you, since for me, it throws.

[2018-02-03 05:11] danmosemsft commented on #26476
@jakubsuchybio are you interested?

[2018-02-03 06:28] danmosemsft commented on #26787
Same in .NEt Framework.

[2018-02-03 06:29] danmosemsft commented on #26783
@powercode can you update your top comment into the [APi review format](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)?

[2018-02-03 06:30] danmosemsft commented on #26784
@powercode can you update your top comment into the [APi review format](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) for this one also? Actual API proposed, motivation, alternatives, sample code woudl make it reviewable.

[2018-02-03 06:31] danmosemsft commented on #26779
@bigbearzhu it's fine, just curious whether it was .NET Core specific. Sounds like not. Fixes we make here are considered for porting to .NET Framework.

[2018-02-03 06:57] bigbearzhu commented on #26779
That is awesome! Should I send a pull request or someone else will do? Sounds like a really simple fix but not sure how safe it is. No idea how this would be unit-tested as this is fundamental framework code. Thanks.

[2018-02-03 07:17] masums commented on #21982
At .Net core 2.0 I have dynamically loaded a .net core dll ( which is not directly referenced into the project, loaded from a folder). from all types of that loaded dll assembly, tried to select a type which has implemented a specific interface, could not find that type. But that type contains in the types list. Also if I find by name and try to create instance using Activator then create instance

[2018-02-03 07:20] danmosemsft commented on #26779
@tarekgh sounds comment on your proposed change.

[2018-02-03 07:39] BAlbrich opened #26815 "Microsoft.XmlSerializer.Generator - generate the serializer for a subset of types in the assembly"
Sgen has the parameter /type to add a list of types to be included in the serializer. As far as I can see there is no built in way to do that for Microsoft.XmlSerializer.Generator.

My workaround is to define a property in my project `<SgenTypes>"Type1;Type2"</SgenTypes>` and to change the exec line in the targets file to `<Exec Command="dotnet Microsoft.XmlSerializer.Generator $(IntermediateOutpu

[2018-02-03 11:03] TheMinefighter commented on #26801
One code sample below:
[code]
Or

[code]

[2018-02-03 11:04] stephentoub commented on #26803
The issue is what the error message says:
[code]
The implementation requires OpenSSL/1.0.

[2018-02-03 11:07] #26769 closed

[2018-02-03 11:08] yaakov-h commented on #26801
Why not just:

[code]

and

[code]

?

Going through `KeyValuePair` only introduces allocation of extra objects that you're immediately discarding.

[2018-02-03 11:29] TheMinefighter commented on #26801
Sometimes you need to execute additional Operations for the Elements of the Dictionary (The examples were bad):
[code]

[2018-02-03 12:29] artkpv commented on #26786
@safern Sorry, missed that 4 step in the manual. Thank you for your help! Solved the error. Closing this issue.

[2018-02-03 12:29] #26786 closed

[2018-02-03 13:54] Timovzl commented on #23629
@bartonjs Yes. I would reason that, since a nonce is used to **initialize** the crypto primitive, it is its initialization vector. It adheres perfectly to any definition of IV that I can find. It has more stringent requirements, yes, just as being a cow has more stringent requirements than being an animal. The current wording seems to ask for a "cowOrAnimal" parameter. The fact that different mode

[2018-02-03 14:35] svick commented on #26801
@TheMinefighter

Instead of the very verbose construction of `KeyValuePair`, wouldn't it be better to use a tuple, followed by the existing overload `ToDictionary()`? I.e.:

[code]

This way also makes your code more readable, since you can introduce names for the key and the value, instead of the generic `Key` and `Value`.

Though maybe there should be an overload of `ToDictionary()` for tuple? T

[2018-02-03 15:27] madelson commented on #26623
@saurabh500 thanks for responding and adding more details. A few thoughts:

I don't think this is correct because the same query can be canceled using the synchronous cancel pattern and forgoing async IO. I don't see why it would be "designed" for cancellation to work using one cancellation approach but not the other. Here's a modified version of the above code which cancels exactly as expected:

[2018-02-03 15:31] stephentoub commented on #19836
@saurabh500, @corivera, can this be reverted now? Or if it's still an issue, investigated to determine the root cause rather than working around it in this expensive way?

[2018-02-03 15:35] stephentoub commented on #8371
@JeffCyr, would you want to submit a PR for using the async APIs on Windows when they're available?

[2018-02-03 15:36] stephentoub commented on #2576
@danmosemsft, can this be closed now?

[2018-02-03 16:27] LYP951018 commented on #25459
@JonHanna  But I couldn't find a useful usage for `FindIndex` of generalized `IEnumerable`. For `IList<T>` or `IReadOnlyList<T>`, I know that indexing is possible, and fast, so I could use the result of `FindIndex` and than indexing. But for `IEnumerable`, what could I do with index?

[2018-02-03 16:44] LYP951018 commented on #25459
Also, why `Func<T, bool>` is more modern than `Predicate<T>`?

[2018-02-03 16:48] airbreather commented on #22625
If I understand this part of your suggestion properly, unlike with `string`, you can already build an `ImmutableArray<T>` of an initially known size reasonably efficiently with minimal copying:
[code]

It does require allocating an `ImmutableArray<T>.Builder`, but otherwise it just holds the exact instance of `T[]` that is destined to back the final `ImmutableArray<T>` during `MoveToImmutable()`.

[2018-02-03 17:15] JonHanna commented on #25459
There's an analogy with `ElementAt` here, which is available for all enumerables and queryables but optimised for `IList<T>`.

As for `Fuct<T, bool>` being more modern, there's little justification in using any other delegate than `Func` and `Action` unless something like being `ref` means one cannot. Keeping to them prevents one having to wrap one delegate in another just to match a signature.

[2018-02-03 17:18] danmosemsft commented on #2576
@tarekgh?

[2018-02-03 17:20] LYP951018 commented on #25459
Many `IEnumerable`s is one-pass, just like input iterators in C++. That means we could not pass the result of `FindIndex` to `ElementAt`. I could image an usage for `ElementAt`, just like `Skip(n)`, but I could not figure out what could I do with index for `IEnumerable` ...

[2018-02-03 17:23] LYP951018 commented on #19814
What about:

[code]
?

[2018-02-03 17:40] karelz commented on #26803
@bartonjs do you know if we need full OpenSSL 1.1 support (#9855) to support it as backend of libcurl, or if some partial solution might light up the scenario (assuming it is a good idea).

We have always the option to change Fedora27 images - @wfurt did you hit this or something similar recently?

[2018-02-03 17:49] svick commented on #19814
@LYP951018 That doesn't really solve the issue, you can still do e.g.:

[code]

[2018-02-03 17:52] LYP951018 commented on #19814
OMG...

[2018-02-03 17:55] mgravell commented on #19814
Also, most of the time when the span would be useful, it would be extremely inconvenient to have to force the work into a delegate, plus that has overhead of the delegate instance, the capture context, and the virtual dispatch.

If we're going to end up with frankenspan, we might as well do it efficiently :)

[2018-02-03 19:16] benaadams commented on #19814
Would ReadOnlyFrankenSpan be better?

[2018-02-03 19:17] bartonjs commented on #26803
@karelz I cannot envision any reasonable partial support solution.  It's pretty much "we support 1.1 and not 1.0 as a platform" (on this installation) or "we support 1.0 and not 1.1".

[2018-02-03 21:04] davidfowl opened #26817 "Always use MemoryFileStreamCompletionSource in FileStream"
Today it looks like the code in FileStream is unwrapping the underlying `Memory<byte>` to a `byte[]` when it does an async Read or Write operation on windows. If you pass a pre-pinned buffer that happens to be backed by an array then you'll lose the benefits as the PreAllocatedOverlapped will pin the buffer again.

https://github.com/dotnet/corefx/blob/103639b6ff5aa6ab6097f70732530e411817f09b/src/

[2018-02-03 21:27] stephentoub commented on #26817
The common case this was written for is where the destination is actually the FileStream's internal buffer.  That buffer is already pinned as part of the PreAllocatedOverlapped.  By unwrapping it, we take advantage of this path that doesn't pin it each time:
https://github.com/stephentoub/coreclr/blob/2eb7b4f04cda0686d550cf812a783788b3c57dfc/src/mscorlib/shared/System/IO/FileStreamCompletionSource

[2018-02-03 22:07] GSPP commented on #11029
It is very, very rare for the BCL to take the stance that throwing a bad exception type is OK. I cannot think of a single other such case (they might exist).

[2018-02-03 22:30] davidfowl commented on #26817
Would I make this change in coreclr or corefx or both?

[2018-02-03 22:34] stephentoub commented on #26817
Just coreclr. The tests live in corefx, but you run them against your built coreclr with your changes, and I wouldn't expect any test changes or additions to be needed here (except maybe tests that explicitly validate using Memory, but I think/hope I already are some).

[2018-02-03 23:00] davidfowl commented on #26799
It probably would return a Span but instead would copy into one.

[2018-02-03 23:14] weitzhandler opened #26818 "Add generic methods to SerializationInfo class"
Hi,

## Proposal
Please add a couple of generic methods to the [`SerializationInfo`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Serialization/SerializationInfo.cs#L441) class.

## Added API:

[code]

## Motive

Currently, when we want to use `SerializationInfo` in a serialization context (binary in my scenario), I have to convert all the fields back and forth.

H

[2018-02-04 00:18] karelz commented on #26606
I would suggest to start with a fix prototype and manual verification that it does not break .NET Framework or .NET Core clients (simple app running against the fixed HttpListener).
Then we can think if there is a test we could/should add for the scenario.

Starting with `System.Convert.ToBase64String()` sounds reasonable to me - we will see in code review if it is something we should replace with

[2018-02-04 00:21] karelz commented on #26803
Bummer, let's fix the Helix infra then. @wfurt can you please help here?

[2018-02-04 00:42] davidfowl commented on #26817
Yea, I started to take a look, it's a bit more involved than I originally thought. Maybe I'll do a multiple commits.

[2018-02-04 01:12] karelz commented on #23583
I don't know what the original purpose of the API was. I can only guess. I am not sure if we would add it today if it didn't exist yet.
I don't see the point in discussing use case for `Repeat` here. The API exists and does what it does.

Given that we didn't see a single upvote in last 5 months, I would recommend to close the API suggestion. We can reopen later if other folks ask about it.
@weitz

[2018-02-04 01:16] karelz commented on #24788
I am worried we do not understand the impact of exposing such APIs in BCL. Might be worth having the discussion in API review though. I expect this one will be a tough one.

[2018-02-04 01:27] karelz commented on #26810
Duplicate of #21037

[2018-02-04 01:27] #26810 closed

[2018-02-04 01:29] karelz commented on #26813
Maybe different Win10 build/version?
Should we close it as dupe?

[2018-02-04 01:31] karelz commented on #26818
cc @ViktorHofer as FYI

[2018-02-04 01:33] weitzhandler commented on #23583
I guess no votes speaks for itself. Will reopen on demand.

[2018-02-04 01:33] #23583 closed

[2018-02-04 01:35] roji commented on #26799
@davidfowl part of the idea here is to allow getting the data without any copying. Unless `CommandBehavior.Sequential` is specified (the vast majority of cases), the user is supposed to be able to seek back and forth in the row, implying that it is already buffered internally in the provider. If this is indeed the case, a ReadOnlySpan can be used to slice the internal buffer and avoid any copying.

[2018-02-04 02:23] karelz commented on #26803
This is causing 23 failures in each official Helix test run - see updated to post, let's try to address it soon.

[2018-02-04 02:42] karelz opened #26821 "[Regression] [x64 Windows] Test failure: System.Collections.Immutable.Tests.ImmutableListTest / IndexOf & LastIndexOf"
## Type of failures

Affected OS: Win7 & Win8.1 & Win10 & Win10.Core & Win10.Nano - only x64 (x86 runs are fine)

[code]

## History of failures

Day | Build | Details
-- | -- | --
2/3 | 20180203.03 | 10x failures - [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180203.03/workItem/System.Collections.Immutable.Tests)
2

[2018-02-04 02:42] karelz commented on #26821
@safern @ianhays can you please take a look?

[2018-02-04 04:01] #26028 closed

[2018-02-04 04:09] sdrapkin commented on #23629
To indulge in the `nonceOrIv` bikeshedding:

The 96bit GCM IV is sometimes defined as a 4-byte `salt` and 8-byte `nonce` (ex. RFC 5288). RFC 4106 defines GCM `nonce` as a 4-byte `salt` and 8-byte `iv`. RFC 5084 (GCM in CMS) says that CCM takes a `nonce`, GCM takes an `iv`, but _"...to have a  common set of terms for AES-CCM and AES-GCM, the AES-GCM IV is referred to as a nonce in the remainder of

[2018-02-04 04:18] MohammadHamdyGhanem opened #26826 "Add Convert.ToString(sbyte value, int toBase)"
1. Why there is no
Convert.ToString(sbyte value, int toBase)
Overloaded method?
When I use:
sbyte n = -1;
var x = Convert.ToString(n, 2);
Console.WriteLine(x);
the output is "1111111111111111" because the ToString casts n to float!

2. Why is -1 is represented as 1111111111111111, and -128 is represented as 1111111110000000?
As far as I know, the most significant bit is used as the sign. I'm not f

[2018-02-04 04:24] jnm2 commented on #11029
I know what you're saying, but I still think NRE is consistent and tolerating null is inconsistent with the rest of C#. Null and empty are not automatically semantically the same.

[2018-02-04 05:13] danmosemsft commented on #25847
Seems gone

[2018-02-04 05:13] #25847 closed

[2018-02-04 05:22] Thaina commented on #11029
I understand that we should not make breaking change so instead we should have new function for this behavior for convenient

maybe 'SelectFlatten' ?

I think this behavior is much more preferable than current selectmany

[2018-02-04 06:15] danmosemsft commented on #26787
At first it seems fine to not have an "else". For example `Regex.Match("abc", "(?(?=bc)b)");` returns `b` and the same in [PCRE](https://regex101.com/r/okCsjM/1) and Perl.

In each case if the "else" is missing it seems to be equivalent to an empty pattern. ie., it always matches, but has no matching groups. In this case of course the assertion `(?=x)` is false so this is the result.

However if t

[2018-02-04 07:48] mikedn commented on #26826
Most likely because `sbyte` is not CLS compliat, seems like there are only overloads for CLS compliant integer types. That's kind of unfortunate but it's probably too late to be fixed now. Adding a `sbyte` overload in this case is technically a breaking change.

You can always get the "correct" overload by casting to the appropriate type - `Convert.ToString((byte)n, 2)`.

As far as I know, the mos

[2018-02-04 07:57] gahebe commented on #26702
Thanks! It works well with a newer one, I tried the `dotnet-nightly:2.1-sdk` docker image containing
[code]

[2018-02-04 08:03] gahebe commented on #26702
We can close this (The status of backporting to 2.0.7 can be tracked as referenced earlier).

[2018-02-04 08:03] #26702 closed

[2018-02-04 08:44] JustArchi opened #26830 "Incorrectly closed websockets are throwing unobserved task exceptions 2"
This issue is very similar to https://github.com/dotnet/corefx/issues/24002 but with entirely different stacktrace.

Basically, I have a simple code:

[code]

Now, this code works totally fine in normal operation. However, there seems to be some kind of race condition if remote client sends `close` frame, but won't wait for connection being fully closed before abandoning it:

[code]

Now, the prob

[2018-02-04 11:01] GSPP opened #26831 "Cancellation not working in specific ADO.NET scenario"
A week ago someone on Stack Overflow reported an [issue with ADO.NET where cancelling a query was not possible](https://stackoverflow.com/questions/48461567/canceling-query-with-while-loop-hangs-forever) in a specific scenario. From the answer to that question it seems that no attention signal is being sent to the server. Although cancelling a SqlCommand is not expected to be instantaneous it shou

[2018-02-04 12:38] sebastianroesch commented on #25761
@saurabh500 The exception must be coming from Linux. No, we're not using MARS.

If I see it correctly, the fix will only be available in runtime version 2.1, correct?

[2018-02-04 12:53] MohammadHamdyGhanem commented on #26826
@mikedn

 It works. Thanks.

Maybe the Convert Class can have some new methods to do binary conversions, taking sbyte and Vector < T > into consederation. I came acroos this issue whle testing something related to the Convert.Conditionalselect method. It can be helpful to convert a vector to string array representing its elements in binary or hex, and vice versa.

[2018-02-04 14:32] rvhuang commented on #26579
@ikopylov  That always sounds a bit weird to me because it suggests that `IList<T>` and `IReadOnlyList<T>` have underlying connection and have been implicitly coupled but they actually shouldn't (same situation for `ICollection<T>` and `IReadOnlyCollection<T>`).

If we can't add read-only interface check to existing `Enumerable` extensions, the only solution that I can come up with so far is to pr

[2018-02-04 14:46] npnelson commented on #24454
In case it helps raise the priority, I just spent over a day trying to figure out why I couldn't take a private key used for mutual TLS stored in Azure Key Vault and use it in my Azure App Services App (Windows based) to use ```SslStream.AuthenticateAsClientAsync()```

At first, I tried ``` var privateCert = new X509Certificate2(Convert.FromBase64String(<certstring>), (string)null, X509KeyStorageF

[2018-02-04 14:53] stephentoub commented on #24454
@bartonjs, is this something we can follow-up with Windows folks about?

[2018-02-04 15:21] jkotas opened #26833 "Changing Span/Memory to return default on null instead of throwing"
Follow up on https://github.com/dotnet/corefx/pull/26807 :

- TODO: Add tests for when array/string are null but start/length are non-zero.

- Change Memory constructors. I had to disable tests for them in Update CoreCLR PR:
https://github.com/dotnet/corefx/commit/87fd2766fdb3920b307b873c1cff824bebd17f3b

[2018-02-04 16:14] fujiy commented on #26833
After this change, we may not need this fix anymore?

https://github.com/dotnet/corefx/pull/25257
https://github.com/dotnet/corefx/issues/16730

Should we revert it?

[2018-02-04 16:36] jkotas opened #26834 "Update System.Numerics.Vectors packaging for Vector<T> changes"
This part does not seem to right anymore: https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/pkg/System.Numerics.Vectors.pkgproj#L25

[2018-02-04 16:41] svick commented on #26579
@rvhuang I don't think your suggestion is stupid. But I do think it has roughly zero chance of being included in corefx. That's because it might offer some performance improvements in theory, but it won't do that in practice. And it doesn't make sense to add an API whose only purpose is to improve performance, if it won't actually improve performance.

And if you have a library of collections wher

[2018-02-04 17:00] bartonjs commented on #24454
I asked SChannel, they said it's supposed to work.  But I haven't personally tried writing a native client and bisecting to find out where things go wrong.

[2018-02-04 17:10] mika76 commented on #11292
I seem to be getting this exception still on .NET Core 2?

[2018-02-04 18:03] MohammadHamdyGhanem commented on #26826
Maybe Convert class can have a new ToNumSystem(value, base) Method.
It can have overloads to deal with deferent numeric data types, including SByte, BigInteger and Vectorts. Vectors can be converted to array containing  string representations.
May be a new FromNumSystem<T>(string, base) is useful too.

[2018-02-04 18:15] #26483 closed

[2018-02-04 19:17] kendfrey commented on #26787
If this is intended, and there is some explanation/documentation of what the rationale behind the behaviour is, I'd be fine with closing it. It doesn't make sense to close it if it's a bug, though.

[2018-02-04 19:51] Clockwork-Muse commented on #26831
Duplicate of #26623

[2018-02-04 20:04] JeremyKuhne opened #26836 "Write enumeration perf tests"
Follow up to #26715.

[2018-02-04 20:08] JeremyKuhne opened #26838 "Create OOB FileSystem package"
Include new enumeration functionality under `Microsoft.IO.FileSystem` assembly/namespace. Follow up after 2.1 implementation is complete. See #25873.

Ideally can create a .NET Standard assembly here. Will have to reference System.Memory.

[2018-02-04 20:10] JeremyKuhne commented on #26715
The work here is refactoring for perf- primarily removing unnecessary allocations.

[2018-02-04 20:27] cocowalla opened #26840 "PlatformNotSupportedException with TcpClient.ConnectAsync"
I'm getting `PlatformNotSupportedException` on Linux when calling `TcpClient.ConnectAsync(host, port)`, with a rather unhelpful message: `Sockets on this platform are invalid for use after a failed connection attempt` (I'm not trying to reuse a socket)

This is only happening under specific circumstances:

1. `host` is a hostname, such as "localhost", AND
2. KeepAlive is enabled using `tcpClient.C

[2018-02-04 20:37] karelz commented on #26840
cc @tmds @stephentoub

[2018-02-04 20:41] karelz commented on #26830
Can you please try the code on 2.1? See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md
Bug #24002 was fixed in 2.1.

[2018-02-04 20:44] pjanotti commented on #26813
It is not working for me either: it is *asserting* at an earlier stage, I am sure it will hit #26476 if it passed the assert.

The assert seems to deserve attention since we are attempting to copy the address of an AF_PACKET but the struct that we use doesn't have enough space to do it. In principle this can also be an issue outside WSL: we hit it if we get an AF_PACKET with address larger than 8

[2018-02-04 20:44] stephentoub commented on #26840
We don't track every possible setting that could be changed on a socket.  That is a fairly unbounded list, and doing so would mean that every time any setting is made on a socket, we'd have to track that data, even though it would only be used when recreating the socket on retries.  That data also can come in a variety of forms, including as mutable data that can be changed after it's passed to Se

[2018-02-04 20:55] cocowalla commented on #26840
Wow, 20 minutes from opening to a comprehensive response, and on a Sunday - I'm impressed!

Yes, I think I'll just use `Dns.GetHostAddresses` to get the IP.

I get what you mean about the cornucopia of socket options, although I would have though keep alives was one of the more used ones (not very scientific, but a quick GitHub search finds > 3k uses).

[2018-02-04 20:56] pjanotti commented on #26803
Earlier I put a PR out to disable the tests on Fedora.27 (#25385), when CI passes we can merge it. After that is merged we can add the `disabled-test` label on this issue and use it to track the update of Fedora.27 image.

@dotnet/dnceng Fedora.27 is missing an updated version of Open SSL that is present in Fedora.26. Can we get that updated?

[2018-02-04 21:00] karelz commented on #26803
Thanks @pjanotti - I think you meant PR #26835 (fixed above).

BTW: Technically speaking, OpenSSL 1.1 is newer than 1.0, so we need older version present on Fedora27

[2018-02-04 21:04] karelz commented on #26831
Closing as duplicate - see previous comment

[2018-02-04 21:04] #26831 closed

[2018-02-04 21:26] #5377 closed

[2018-02-04 21:40] JustArchi commented on #26830
I actually managed to reproduce this bug also on master, but luckily while reproducing it I accidentally found the real reason for this - build that doesn't go through `ILLink.Tasks` step works properly. This proved that the bug I'm dealing with has nothing to do with corefx, so I'm sorry for taking a bit of your time, and thank you deeply for help.

I'll report it to mono linker devs instead 🙂

[2018-02-04 21:40] #26830 closed

[2018-02-04 21:43] MohammadHamdyGhanem commented on #26826
The strange thing is that Convert.ToSByte has an overload for doing the opposite task!
sbyte n = Convert.ToSByte("11111111", 2);

[2018-02-04 21:54] #26840 closed

[2018-02-04 22:03] MohammadHamdyGhanem commented on #26826
But the parser fails to deal with the _ separator:
sbyte n = Convert.ToSByte("1111_1111", 2);
 I think you should update the binary parser to accept this separator.

[2018-02-04 22:52] jkotas commented on #26821
This issue was moved to dotnet/coreclr#16202

[2018-02-04 22:52] #26821 closed

[2018-02-04 22:53] jkotas commented on #26821
Looks like a codegen bug.

[2018-02-05 00:09] ahsonkhan commented on #26833
This got addressed here already: https://github.com/dotnet/corefx/pull/26807#issuecomment-362767070

[2018-02-05 00:13] ahsonkhan commented on #26833
The Memory/ROMemory constructors have the null checks:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Memory.cs#L48

They just haven't gotten mirrored to corefx: https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Memory.cs#L47

[2018-02-05 00:21] ahsonkhan commented on #25254
@AtsushiKan, is this issue still relevant or can it be closed?

[2018-02-05 02:26] xljiulang opened #26843 "Low performance when set GZip|Deflate to HttpClientHandler.AutomaticDecompression at Win7 x64"
when run this  code at win7x64 core20，it will take 11s but 4s only at win10 x64 core20，if without decompression，they are both 4s at core20 or .net framework.
[code]

[2018-02-05 02:35] davidsh commented on #26843
On Windows 8, 8.1. 10 etc. the decompression is handled within the native WinHTTP stack (System.Net.Http.* builds on the native Windows WinHTTP components).

On Windows 7, WinHTTP does not have built-in support for GZip, Deflate decompression.  So, the decompression is handled in the .NET layer within WinHttpHandler.  This is probably why the performance is different.

[2018-02-05 02:35] davidsh commented on #26843
cc: @dotnet/ncl

[2018-02-05 02:53] xljiulang commented on #26843
thank you, i see.

[code]

WinHttpResponseParser
[code]

[2018-02-05 02:59] ICE2017 opened #26844 "Performance issues using SQLClient"
i use system.data.sqlclient in my aps.net core project,but why the first time i request it's very slow,after request  it's faster.about few minutes later the request change slow again。
[code]
first request 4479ms second request 269ms
i use Dapper,but when i remove it,the test result is same.
i used Connection Pool
[code]

[2018-02-05 03:13] rvhuang commented on #26579
@svick In fact performance is not the thing I wanted to point out. The actual one is here as I mentioned.

This is one thing that I would consider API design flaw as you can't implement `IReadOnlyList<T>` only or you will get random access.

[2018-02-05 03:18] rynowak commented on #26651
Here's my version info:
[code]

The other possible difference here is that my DNS server is running dnsmasq which isn't a production quality DNS server. Also the hosts that I'm using as servers are on my lan.

That said, only HttpClient has these issues for me. I can see the state update almost immediately using Chrome, Curl, etc.

[2018-02-05 03:20] weitzhandler commented on #26579
Exactly! Same thing bother me with `ICollection`. There supposed to be a common random access means / common `Count` property.

[2018-02-05 03:49] MgSam opened #26845 "DataFrame Discussion"
With work underway on `Tensor`, and the new perf optimizations available via `Span`, I think it's time the .NET team seriously considered adding a DataFrame type. Working with large amounts of data has become critical in many applications these days, and is the reason libraries like Pandas for Python have been so successful. It's time to bring similar capabilities to .NET, and it needs to start wi

[2018-02-05 04:37] ayende opened #26846 "Memory fragmentation as a result of using SslStream ?"
I'm tracking high memory usage in a server application over a period of about 12 hours or so.
This is .Net Core 2.0.5 app running on Windows Server 2016.

Interesting parts from the memory dump:

[code]

I started to look at these, and found that we have the following distribution:

118 total fragmenting objects, all of them `byte[]` with the following distribution:

* 96 buffers - size 3176 bytes

[2018-02-05 05:34] danmosemsft commented on #26845
Great to get community interest.
cc @eerhardt @ericstj who have been thinking about this.

[2018-02-05 05:38] danmosemsft commented on #26818
Although we prefer folks not write new code using BinaryFormatter, this seems a small change that makes a big improvement.

[2018-02-05 05:44] danmosemsft commented on #26797
@JeremyKuhne this would appear to be an issue in file enumeration. (I assume we're creating the directory in the requested case)

[2018-02-05 06:19] ahsonkhan commented on #26748
Closing this issue based on the changes in https://github.com/dotnet/corefx/pull/26751. Please feel free to re-open if we see the issue again.

[2018-02-05 06:19] #26748 closed

[2018-02-05 06:38] weitzhandler commented on #26818
@danmosemsft feel free to assign me.

[2018-02-05 06:41] danmosemsft commented on #26818
First Viktor would have to sponsor through API review...

[2018-02-05 06:44] weitzhandler commented on #26818
Ok I see.

[2018-02-05 07:17] saurabh500 commented on #26844
Cc @geleems

[2018-02-05 07:24] magol commented on #11390
This issue have a similar questions as "String-like extension methods to ReadOnlySpan<char> Epic" (#21395).

The solutions in that issue was to return a ReadOnlySpan<char> (when appropriate), and I think that we can use the same philosophy here (that we should return a StringBuilder)

[2018-02-05 09:29] ICE2017 commented on #26844
thanks @saurabh500 @geleems  @danmosemsft

[2018-02-05 11:41] TechnikEmpire commented on #23401
Do all similar objects suffer from this or is it just HttpClient?

[2018-02-05 12:10] Martin-Stein opened #26847 "System.Data.SQLClient does not pass Store certification"
Hello,

I have a Store-App that consumes System.Data.SQlClient. it works so far, but when I want to upload it to the store, the Windows App Cert Kit produced Errors:

Windows Security check:
Error in Datei C:\Program Files\windowsapps\martinstein.sql-dbdesigner_1.1.2.0_x64__9g9f70q8w59qy\sni.dll at  AppContainerCheck.

Test of supported APIs:
API _mbschr in api-ms-win-crt-multibyte-l1-1-0.dll is n

[2018-02-05 13:23] Danvlz opened #26848 "Error when using client certificate on .NET Core 2.0"
I need to connect with **REST API using client certificate**. I was able to do that on .NET Core 1.0, but now when I've migrated to **.NET Core 2.0 I'm getting this error:**

Module "System.Net.Http.CurlHandler+SslProvider", line 28, col 0, in SetSslOptionsForUnsupportedBackend
Void SetSslOptionsForUnsupportedBackend(EasyRequest, ClientCertificateProvider)
Module "System.Net.Http.CurlHandler+SslPr

[2018-02-05 13:47] GoldenCrystal commented on #26603
I created a benchmark comparing approaches for accessing a large memory block:
https://github.com/GoldenCrystal/MemoryLookupBenchmark

I tried to get it as close as possible to my real use-case:
* Find the index and length of the data (I cheated a bit by using constant-length items there)
* Create a reference to that data for later use (e.g. ````Span<T>````)
* Copy the item to a buffer (e.g. for S

[2018-02-05 13:49] JonHanna commented on #25671
With the extension from the original proposal, I don't have a good idea about implementation. For `Type` we can just expose what's already there. For `Assembly` the best one can currently do is find a `Type` and see if it is collectible but that doesn't work if there's no types (an edge case admittedly). Other `MethodInfo`s are either `DynamicMethod`s which are collectible, or collectible if they

[2018-02-05 13:49] mregen opened #26849 "RSAOpenSSL.SignHash/VerifyHash doesn't support padding mode RSASignaturePadding.Pss"
Hi, any plans to support `RSASignaturePadding.Pss`?
I noticed its all forbidden on Linux (haven't checked on iOS), but works on Windows.
OPC UA implements a new security policy which requires the PSS scheme.
http://opcfoundation.org/UA/SecurityPolicy#Aes256_Sha256_RsaPss

snip...
[code]

[2018-02-05 14:25] benhysell commented on #25960
@tarekgh

- Reading through this issues/status is this fix scheduled to be included in a servicing release like 2.0.6?

- Is there a method to get a beta release of this fix?

[2018-02-05 14:35] mgravell commented on #26845
Could you define "DataFrame" for the purpose of this discussion? Because that is a vague, overloaded, and open-ended term - it would be good to know the intent *as it relates to this discussion*.

[2018-02-05 14:49] jkotas commented on #25671
Yes, new calls into the unmanaged portion of the runtime need to be added to handle the method and assembly cases well. https://github.com/dotnet/coreclr/blob/master/Documentation/botr/mscorlib.md#calling-from-managed-to-native-code

[2018-02-05 14:59] JeffCyr commented on #8371
@stephentoub I created the PR, waiting for review

[2018-02-05 15:58] smadala opened #26851 "Fail to load type if the type has attribute to `ComImport` on Ubuntu/Mac/Docker container"
### Description:
 Fail to load type if the type has attribute to `ComImport` on Ubuntu/Mac/Docker container.

### Repro Steps:
- git clone https://github.com/smadala/samples
- cd samples/ComImportIssue/consoleapp
- dotnet run

This works fine on windows.

### Expected Output:
[code]
### Actual Output:
[code]
### Background:
In [vstest](https://github.com/Microsoft/vstest) we are using [`ComImport`

[2018-02-05 16:19] tarekgh commented on #26779
@tquerec can comment on this.

[2018-02-05 16:23] sdmaclea commented on #26180
@eerhardt Any reason why this is marker future?  The work is complete and ready for 2.1.

[2018-02-05 16:24] sdmaclea commented on #26179
@eerhardt Any reason why this is marker future? The CoreCLR work is complete and ready for 2.1.

[2018-02-05 16:25] tarekgh commented on #2576
@kouvel I think we can just close this one now.

[2018-02-05 16:27] stephentoub commented on #26089
Just failed again on netfx:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7847/consoleText
[code]

[2018-02-05 16:28] #2576 closed

[2018-02-05 16:31] sdmaclea commented on #26181
@eerhardt Any reason why this is marked future? The CoreCLR work is complete and ready for 2.1.

[2018-02-05 16:31] sdmaclea commented on #26185
@eerhardt Any reason why this is marked future? The CoreCLR work is complete and ready for 2.1.

[2018-02-05 16:32] sdmaclea commented on #26182
@eerhardt Any reason why this is marked future? For the SIMD part of this the CoreCLR work is complete and ready for 2.1.

[2018-02-05 16:33] sdmaclea commented on #26183
@eerhardt Any reason why this is marked future? For `Extract` the CoreCLR work is complete and ready for 2.1.  The remaining `Insert` part is in review and should be ready for 2.1

[2018-02-05 16:34] sdmaclea commented on #26527
@eerhardt Any reason why this is marked future? I believe this is within range of 2.1.  Implementation should take more than a few days.

[2018-02-05 16:35] MkazemAkhgary opened #26852 "Why Linq.Skip is O(n) for lists?"
It seems that Skip is implemented poorly here. it should check if source is `IList<T>` and skip in O(1) time (like the way linq does for `Count`, `ElementAt` and `Last`).

http://referencesource.microsoft.com/#System.Core/System/Linq/Enumerable.cs,90ccdbd47b57182e,references

Am I looking at old reference?

[2018-02-05 16:42] stephentoub commented on #26852
You're looking at the .NET Framework source.  This repo is for .NET Core, where the implementation has been substantially changed:
https://source.dot.net/#System.Linq/System/Linq/Skip.cs,12

[2018-02-05 16:43] karelz commented on #23401
This particular issue lacks details and deeper analysis. The results are a bit suspicious and were not attempted to reproduce by anyone else. There is a suspicion that the compared platforms don't use the same settings under the hood (e.g. `MaxConnectionsPerServer` is set differently on each platform). Also, other perf comparisons typically show better performance on .NET Core than on .NET Framewo

[2018-02-05 16:43] #26852 closed

[2018-02-05 16:44] lcsondes opened #26853 "README.md: Connect link is outdated"
README.md sends visitors to MS Connect ("the best way to file a bug is at Connect"), however the link leads to a page stating that Connect is no more.

[2018-02-05 16:44] MkazemAkhgary commented on #26852
Oh, thanks for the answer. my bad.

[2018-02-05 16:55] danmosemsft commented on #26770
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/7845/consoleText

[2018-02-05 16:58] #26501 closed

[2018-02-05 17:02] dotnet-mc-bot opened #26855 "The type 'Vector<T>' exists in both 'System.Numerics.Vectors' and 'System.Private.CoreLib'"
Opened on behalf of @jcagme

Warnings: 1
Status Message: failed

Build : Master - 20180205.05 (Product Build)
Failing configurations:
- Windows
  - uapaot-x86
  - uapaot-x64
  - uapaot-arm64
  - uapaot-arm
  - uap-x86
  - uap-x64
  - uap-arm
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20180205.05/workIt

[2018-02-05 17:19] ViktorHofer commented on #25847
The allocation size of these patterns seems very high because of that many capturing groups. We might want to measure what happens allocation-wise during the pattern construction.

[2018-02-05 17:26] stephentoub commented on #6007
@danmosemsft, @JeremyKuhne, @pjanotti, any chance we get this fixed for 2.1?  It's pretty nasty.

[2018-02-05 17:30] wanton7 commented on #19814
How about adding explicit interface like this? This could be added to StringBuilder as well.

[code]

[2018-02-05 17:31] karelz commented on #26778
Duplicate of #26821

[2018-02-05 17:34] sidshetye commented on #23629
## Tag upfront is a non-starter

Requiring the tag upfront is a non-starter for us too. There is no way .NET can then process concurrent streams with this artificially introduced limitation. Totally kills scalability.

Can you back the assertion that it adds complexity? Because it should actually be trivial. Plus none of the platform-specific crypto implementations (that you'll be wrapping) have t

[2018-02-05 17:42] mgravell commented on #19814
Adding interfaces is much harder to deploy, unless we get "interface implementation via extensions"; can't see it happening, and even if it did: would be restricted to certain targets.

StringBuilder doesn't use a single array origin; it uses a chunk chain IIRC - and even that is an implementation detail. IIRC it used to use an oversized `string` that it mutated in-place!

[2018-02-05 17:42] karelz commented on #26775
@wfurt it failed as part of the referenced PR on both Debug and Release build - can you please check with infra team what's going on?

[2018-02-05 17:45] ViktorHofer commented on #26787
Thanks @kendfrey for the report. Thanks @danmosemsft for the thorough analysis. The documentation mentions that the else clause is optional: https://docs.microsoft.com/en-us/dotnet/standard/base-types/alternation-constructs-in-regular-expressions#Conditional_Expr

To make it absolutely clear we could add the phrasing that _if no else clause is provided and the condition doesn't match, the pattern

[2018-02-05 17:53] kendfrey commented on #26787
I don't quite understand what you mean by:

Does this mean that `(?(?=x)a)a` would fail to match `"a"`? That doesn't seem right.

[2018-02-05 17:54] joshfree commented on #26855
Related https://github.com/dotnet/corefx/issues/26802

[2018-02-05 17:56] ViktorHofer commented on #26787
Correct.

[code]

[2018-02-05 17:56] karelz commented on #26743
@jbednar79 it seems you're hitting the problem on .NET Framework (Desktop). Were you able to reproduce it also on .NET Core? Do you have a repro we could look at?
BTW: Do you use localhost by any chance?

[2018-02-05 17:59] darobs commented on #26664
It was found by attempting to run a Kestral server with the `UseKestral()` like this:

[code]

but I can come up with a cleaner, simpler example and post it.

[2018-02-05 18:00] kendfrey commented on #26787
That doesn't make sense to me because that changes the behaviour of the conditional group based on context around it. Also, currently `(?(?=x)a)a` *does* match `"a"`.

[2018-02-05 18:02] joshfree commented on #26851
/cc @MichaelSimons

[2018-02-05 18:04] tarekgh commented on #25960
Yes, the fix should be included in 2.0.6

Unfortunately no. you have to wait for the official servicing release.

[2018-02-05 18:07] ViktorHofer commented on #26787
You are right, something is wrong here:

[code]

[2018-02-05 18:07] joshfree commented on #26847
which version of Microsoft.NETCore.UniversalWindowsPlatform are you targeting?

https://github.com/Microsoft/dotnet/tree/master/releases/UWP

[2018-02-05 18:08] danmosemsft commented on #26787
It seems to me we don't fully understand what the engine is doing here enough to document it confidently. It would probably take someone stepping through the code. Either to figure out a fix (if it's not too breaking) or understand well enough to document it.

[2018-02-05 18:10] ViktorHofer commented on #26787
I agree. I will step through the code to get a better a understanding.

[2018-02-05 18:12] kendfrey commented on #26787
My working hypothesis is as described in the initial Stack Overflow question:

So `(?(?=abc)xyz)` is treated as `(?(?=abc)xyz|(?=x))`.

I don't know if this is accurate, but it does match everything I've seen so far.

I did take a look at the code, but I didn't understand it well enough to spot anything.

[2018-02-05 18:18] danmosemsft commented on #6007
So far as I can tell this goes back roughly to when async support was added, in 2010. To help prioritize, do we have data on the impact, and any customer reports of it?

[2018-02-05 18:20] ViktorHofer commented on #26818
@karelz changing from `area-Serialization` to `area-System.Runtime`.

[2018-02-05 18:21] stephentoub commented on #6007
The impact is async isn't async. I don't have concrete data other than "ugh" :)

[2018-02-05 18:24] MattGal commented on #26803
@pjanotti if you want to run legacy OpenSSL on Fedora 27, we might be able to accommodate this but I'm unsure why we'd want to as running on what comes with the OS makes the most sense to me.  Can you explain why you want it, and point to instructions how to do this?

[2018-02-05 18:25] jbednar79 commented on #26743
We are using the 'full' .NET FW 4.6.1 as we are hosting Workflow foundation in the same process - this is limiting us from using the .NET Core.
I didn't try localhost as we have our solution hosted on Azure as part of bigger solution. My verbose output was from the machine A1 which connects machines B1 and B2 - hosted on Azure in VMs using the Load Balancer. All applications are Web API 2 hosted o

[2018-02-05 18:26] wfurt commented on #26803
forcing two version of openssl is going to be problematic IMHO. I don't think we will be able to doge 1.1 support forever.

[2018-02-05 18:27] geoffkizer opened #26856 "System.Net.NameResolution: remove old GetHostByName logic"
See comment here: https://github.com/dotnet/corefx/blob/a3e4e241c7b7c33750258082969287b9cf45d757/src/System.Net.NameResolution/src/System/Net/DNS.cs#L67

This comment is ancient.  There should be no reason not to use GetAddrInfo today.  We should remove the unnecessary fallback codepath here.

[2018-02-05 18:28] danmosemsft commented on #6007
OK, let's consider it when @JeremyKuhne completes file enumeration work. We know that wont be the last IO win to make.

[2018-02-05 18:32] bartonjs commented on #26803
There's no problem with the version(s) of OpenSSL on the machine.  The problem is that libcurl is built against OpenSSL 1.1, while we're built against OpenSSL 1.0.  The tests should already understand situations where the cert interop support is limited, and Fedora 27 just needs to be added to that list.

So I don't think there's any work here for engineering.

@wfurt It's true that we can't dodge

[2018-02-05 18:33] bartonjs commented on #26849
Duplicate of https://github.com/dotnet/corefx/issues/2522

[2018-02-05 18:33] #26849 closed

[2018-02-05 18:33] benaadams commented on #6007
Kestrel is much faster at serving application content than IIS; but much slower at serving file content (which use the .NET file apis), it would be good to redress this balance. This is likely to be one of the many links in the chain.

[2018-02-05 18:42] ViktorHofer commented on #26818
@weitzhandler to be honest I'm not a fan of adding new APIs to the System.Runtime.Serialization.Formatters namespace. We don't want to encourage our customers to use BinaryFormatter and usually recommend to shift to other frameworks like Json.NET. Adding these helper methods conveys the wrong message IMO. I also doubt that it would pass api review as our PM has a strong opinion about binary serial

[2018-02-05 18:45] danmosemsft commented on #6007
@benaadams thanks. Do you see indications in profiles of your own server that the issue might be here? I guess it would look like high inclusive time in ReadAsyncInternal

[2018-02-05 18:55] karelz commented on #26803
@bartonjs

Can you point me to what you mean by that? If the incompatibility is limited to just certain cert interop scenarios and there are workarounds for customers, disabling tests on particular platforms might be the right thing to do.

cc @joshfree

[2018-02-05 18:56] Martin-Stein commented on #26847
Hi Josh,

I am using Version 6.0.6 of the platform, it’s the latest one.

Thanks I advance,

Martin

Von: Josh Free [mailto:notifications@github.com]
Gesendet: Montag, 5. Februar 2018 19:08
An: dotnet/corefx <corefx@noreply.github.com>
Cc: Martin-Stein <mytrainer@freenet.de>; Author <author@noreply.github.com>
Betreff: Re: [dotnet/corefx] System.Data.SQLClient does not pass Store certification (#2

[2018-02-05 19:01] ViktorHofer commented on #24425
Not important for the perf test :) I will comment on the memory footprint question later. If you want you can submit the perf test as a PR similar to what Dan did here: https://github.com/dotnet/corefx/pull/26827

[2018-02-05 19:04] joshfree commented on #26853
Thanks for pointing out the issue @lcsondes.

The readme has been updated to point to the Developer Community Portal

[2018-02-05 19:04] #26853 closed

[2018-02-05 19:05] benaadams commented on #6007
An async function calling an async function then performing a sync wait on it is just trollin', surely?

I'll see if I can get some data :)

[2018-02-05 19:06] bartonjs commented on #26803
@karelz https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientEKUTest.cs#L18-L39 is one such place.  Though it should be checking for "OpenSSL/1.0", not just "OpenSSL", since that's what the product keys off of (https://github.com/dotnet/corefx/blob/a26de495ffa390a9d6b3a0d0f338e9d9f97ad5fe/src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.Version

[2018-02-05 19:10] zhenlan commented on #8723
Correct - this should be moved to future.

[2018-02-05 19:11] danmosemsft commented on #6007
Yeah, it's obviously not right

[2018-02-05 19:11] JeremyKuhne commented on #26797
Perhaps our algorithm isn't working correctly for determining case? @SteveL-MSFT, can you try the logic we're doing here:

https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/src/System/IO/PathInternal.CaseSensitivity.cs#L37

[2018-02-05 19:18] pjanotti commented on #26803
ok, I will implement proper test skipping for this case instead of the broad emergencial fix that is place right now.

[2018-02-05 19:22] karelz commented on #26664
@darobs if you can try a repro with just Sockets (no Kestrel), that would be much appreciated. Thank you!

[2018-02-05 19:43] petriashev commented on #1973
https://www.nuget.org/packages/System.Collections.Immutable/
Full set of immutable collections )

[2018-02-05 19:56] joshfree commented on #26803
Finding the default libcurl package built against 1.1 is going to start being more common going forward.  I'm half expecting to see this when we turn on the Ubuntu 18.04 legs next, for instance.

@bartonjs can you look into this more to determine if these distros have an alternative libcurl built against 1.0 in their store still (as a stop gap workaround) and if not, determine what a short term so

[2018-02-05 20:00] MohammadHamdyGhanem opened #26860 "Questions and suggestions about the Plane Structure"
[code]
Normal and D are different in p1 and p2, so == returns false.
Are p1, p2 different planes or the same plane?
And if d1 and d2 are identical but with different D values. Doesn't this say loudly that D is not the distance?
 Abs(D) is the distance if and only if Normal is the normalized vector. You can refer to the low for the distance of a point from a plane to calculate the distance of the o

[2018-02-05 20:28] SteveL-MSFT commented on #26797
@JeremyKuhne on my macBook Pro, creating a filestream called "FILEstream" using the code above, FileExists("filestream") returns true.

[2018-02-05 20:40] safern commented on #21129
@qmfrederik interested on grabbing this one?

[2018-02-05 20:57] lechu445 commented on #24585
I've done a few tests with a simple console application that uses Stopwatch and I see that in case of `List` there is not a significant performance gain (a few percent). The change with considerable performance results is to create a separate overload
`    public static TSource FirstOrDefault<TSource>(this List<TSource> source, Func<TSource, bool> predicate) => source.Find(predicate.Invoke);`. But

[2018-02-05 21:04] danmosemsft commented on #24145
cc @JeremyKuhne

[2018-02-05 21:09] davidsh commented on #26743
The traces indicate that this is .NET Framework being used:

System.Net Information: 0 : [19808] Associating HttpWebRequest#33970533 with ConnectStream#2301377
    DateTime=2018-01-31T18:16:54.9765126Z
System.Net Information: 0 : [19808] ConnectStream#2301377 - Sending headers
{
id: 72c574c5c828644b-cba797e5-fcd59352
...}

For performance related issues, using Fiddler or turning on System.Net trac

[2018-02-05 21:28] jbednar79 commented on #26743
I'll try to capture packets using the Wireshark this week. Thanks!

[2018-02-05 21:28] danmosemsft commented on #20876
@Anipik this is one you could look at when you have finished other tasks and have free time later. @JeremyKuhne can give more details.

[2018-02-05 21:33] safern commented on #21886
I haven't seen this in a long time and the test was never disabled. So we can close, if we see it again we can re-open.

[2018-02-05 21:35] safern commented on #22026
@hughbe interested in fixing this one?

[2018-02-05 21:38] safern commented on #22656
@danmosemsft is there any action to take here? Or can we close?

[2018-02-05 21:38] qmfrederik commented on #21129
@safern What's the timeline for this?

[2018-02-05 21:43] JeremyKuhne commented on #21111
This should be fixed, need to verify.

[2018-02-05 21:43] rmkerr commented on #9234
Since this bug appears to be a result of the tools used to observe it, I'm going to close this issue. If anyone is able to recreate the issue without fiddler or another proxy and can provide a repro, do not hesitate to re-open this issue.

[2018-02-05 21:47] JeremyKuhne commented on #22276
There is a way to get this information without the restart manager, but it isn't particularly well-known or documented. For Windows to get the information (restart manager or otherwise) it is basically a scrape of all OS handles, so it is expensive and we need to find a way to make it optional (opt-in or out).

[2018-02-05 21:50] JeremyKuhne commented on #22384
Thanks for the details on this.

[2018-02-05 21:55] JeremyKuhne commented on #24160
In theory, enumeration should work for these sort of paths with my 2.1 changes #25873. I'll write some tests to validate that we get the right results for file/directories with trailing space or period characters.

[2018-02-05 21:57] JeremyKuhne commented on #24217
Please reactivate if this occurs again.

[2018-02-05 21:57] #24217 closed

[2018-02-05 21:57] jcouv commented on #19788
@tmat I see that the RuntimeFeatures "PortablePdb" flag was added. Are we using it in Roslyn at this point?
If we do, I'll use that as an example for a contributor who is working on another feature that needs a flag.

[2018-02-05 21:58] tmat commented on #19788
@jcouv We are not using it yet.

[2018-02-05 21:59] ViktorHofer commented on #26787
Tree parsing is correct:

[code]

[2018-02-05 22:02] JeremyKuhne commented on #24242
The stack is obviously under more pressure in the code coverage runs. Is there a way to tell that we're running under code coverage? Neutering the test isn't a great idea- want to make sure we don't regress what was fixed here.

[2018-02-05 22:06] vellozzi commented on #26848
This looks related to https://github.com/dotnet/corefx/issues/24232

[2018-02-05 22:07] JeremyKuhne commented on #23469
You cannot create a file or directory name that has trailing spaces or periods without using `\\?\` at the beginning of the path. If you see that not working please reactivate. We explicitly do not want to support creating such paths without the syntax (e.g. adding it implicitly) as most apps can't handle it.

[2018-02-05 22:07] #23469 closed

[2018-02-05 22:08] jashook commented on #25333
The same issue will occur in dotnet/coreclr. If on ubuntu 16.04 the correct build-rootfs.sh command is:

[code]

I have not tested on 17.10, we do not explicitly support the codename in the script; however, if building for xenial fails, patching the rootfs script to pass in 17.10's codename should fix this issue.

In addition, to correct the lldb apt-get failure, the line:

[code]

Needs to be cha

[2018-02-05 22:08] #24517 closed

[2018-02-05 22:09] JeremyKuhne commented on #23756
Stale, please reopen if we see this again.

[2018-02-05 22:09] #23756 closed

[2018-02-05 22:11] JeremyKuhne commented on #21116
Closing due to inactivity. @ericstj has described the behavior and if there is more discussion to be had please don't hesitate to reactivate.

[2018-02-05 22:11] #21116 closed

[2018-02-05 22:15] OmarTawfik commented on #23005
I don't see a lot of upvotes or use cases for this pattern, and I see this better fit into an extension library for the subset of users that might need it. I'll close it for now, and please let me know if you still disagree, and we can reconsider/reopen.

[2018-02-05 22:15] #23005 closed

[2018-02-05 22:16] JeremyKuhne commented on #24753
Please reopen if a repro is available.

[2018-02-05 22:16] #24753 closed

[2018-02-05 22:18] JeremyKuhne commented on #25008
#25873 should take care of this. We'll offer explicit options for IgnoreCase and you'll be able to extend to match for more complicated string comparison types.

[2018-02-05 22:20] JeremyKuhne commented on #25387
#25873

[2018-02-05 22:21] JeremyKuhne commented on #25842
#25873

[2018-02-05 22:29] JeremyKuhne commented on #26359
Thanks for the details, I'll try and look at this as soon as I can. I'm not keen on the colon block we have in place and I'm inclined to remove it for 2.1.

Note that you should be able to work around all of this by using device paths, e.g. prefix your path with `\\?\`. That should work with 4.6.2 and higher and Core 1.1/2.0.

[2018-02-05 22:37] karelz commented on #9234
@rmkerr did you report it to Fiddler?

[2018-02-05 22:42] seriouz commented on #9234
I don't think its a Fiddler issue. I still believe it **is** a .net core issue. Look at my [post](https://github.com/dotnet/corefx/issues/9234#issuecomment-320625419). There is a little tool which does not work under net core but on full framework.

[2018-02-05 22:43] bartonjs commented on #23233
@ericstj I forget if I asked you if you were working on this.  And then I double-forget if you said yes.

[2018-02-05 22:46] OmarTawfik commented on #26319
@JonHanna @Warpten I'm reading this as no-op in that case in order to not break compatibility. Perhaps we can throw a better exception if the wrong type of `Expression` was used?

[2018-02-05 22:47] rmkerr commented on #9234
@karelz I have not yet, but I found the correct place to report it and am sending in a bug report now.

@seriouz I was only able to reproduce the issue when going through Fiddler, even using the repro you provided above. If you can provide more details or even better a full repro with either a server endpoint or a setup in a VM that would be fantastic.

[2018-02-05 22:50] seriouz commented on #9234
@rmkerr I will report here, when i've got more time to investigate more. I'll repost here when i have news. 😃

[2018-02-05 22:53] corivera commented on #26546
Closing since this is an issue with Mono's version of System.Data.

[2018-02-05 22:53] #26546 closed

[2018-02-05 23:03] OmarTawfik commented on #26772
I think we should change it to `IsByRefReadOnly` (same in Roslyn APIs) instead of `IsReadOnlyType`, which might get confusing, specially with the addition of `readonly structs`. In that case, `IsByRefReadOnly` would also be mutually exclusive with `IsByRef`.

[2018-02-05 23:03] jkotas commented on #26851
You are trying to use COM interop on Unix. COM interop on Unix is not supported. (msdia.dll does not exist on Unix either.)

[2018-02-05 23:11] OmarTawfik commented on #24481
@bartdesmet @stephentoub if I'm reading this correctly, then this issue is a no-op. I'll close as such. Please feel free to re-open if you think this needs further investigation.

[2018-02-05 23:11] #24481 closed

[2018-02-05 23:12] huanwu commented on #26749
It also repro for the following case, when the class contain an array property and the type of array is an unsupported type.

[code]

[2018-02-05 23:24] OmarTawfik commented on #21060
Closing per by design.

[2018-02-05 23:24] #21060 closed

[2018-02-05 23:25] OmarTawfik commented on #24004
@SamuelDebruyn can you please provide that repro expression?

[2018-02-05 23:28] OmarTawfik commented on #26012
@stephentoub do you know who can answer this?

[2018-02-05 23:33] stephentoub commented on #26012
You? :smile:  Or @VSadov?

If it's valuable, I don't see why it couldn't be added; it's internal, so it's not additional surface area.

Maybe it was removed because nothing was visibly relying on it?

[2018-02-05 23:36] OmarTawfik commented on #22536
@adamrodger can you provide an attachable repro?

[2018-02-05 23:38] #25461 closed

[2018-02-05 23:38] OmarTawfik commented on #25461
@bungeemonkee closing as by design. Please let me know if you're not happy with the suggestions provided.

[2018-02-05 23:39] OmarTawfik commented on #26386
@stephentoub @VSadov  is there a compat issue? or is it just a work item that needs to be done?

[2018-02-05 23:42] stephentoub commented on #26386
I believe the request is to port more functionality to .NET Core in https://github.com/dotnet/corefx/blob/master/src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/Strings.vb.

[2018-02-06 00:02] VSadov commented on #26386
I think it is just work.

VB runtime historically has smaller public surface in Core FX than in .Net FX.
That is because it was derived from Compact FX version that intentionally dropped some functionality just to reduce the size.

[2018-02-06 00:05] safern commented on #23846
Tracked by: https://github.com/dotnet/core-eng/issues/2168

[2018-02-06 00:05] #23846 closed

[2018-02-06 00:06] safern commented on #23877
Its been a while since this issue hasn't been updated with a repro. Will close and we can re-open if we see the failure again.

[2018-02-06 00:06] #23877 closed

[2018-02-06 00:16] safern commented on #24124
@antonfirsov do we still need this issue? It is being a long time already. Please feel free to re-open or open a new one with your further questions if you have any :)

[2018-02-06 00:16] #24124 closed

[2018-02-06 00:17] safern commented on #24089
Long time since a failure has not been reported and the test doesn't seem to be disabled:

https://github.com/dotnet/corefx/blob/2c73b4aef4f1feb47f73b3ab80b0ae3e63f7485b/src/System.Drawing.Common/tests/IconTests.cs#L325

[2018-02-06 00:17] #24089 closed

[2018-02-06 00:19] safern commented on #24167
@karelz who takes care of the documentation bugs?

[2018-02-06 00:21] karelz commented on #24167
You can submit PR in https://github.com/dotnet/docs repo - it's fairly easy. Repo owners can help if you're in doubt.
If you have questions ahead of time, @mairaw can help as well.

[2018-02-06 00:22] safern commented on #24332
This should be fixed on the live builds and in the next builds.

@IGx89 please feel free to ask more questions or keep the discussion going in this issue if you need further help.

[2018-02-06 00:22] #24332 closed

[2018-02-06 00:24] huanwu commented on #26815
@BAlbrich Thanks for your feedback. We already added this support [here](https://github.com/dotnet/corefx/pull/24491). It is supposed to there in next release. Or you can try to use the latest package in myget [System.Xml.XmlSerializer](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Xml.XmlSerializer)  and [Microsoft.XmlSerializer.Generator](https://dotnet.myget.org/feed/dotnet-cor

[2018-02-06 00:25] kumpera commented on #25739
I'm having this issue with the 1.5.0 nuget on mono 5.8 on OSX.

[2018-02-06 00:30] kumpera commented on #25739
This is the assembly I compiler with csc `2.3.2.61928 (ec1cde8b)` as provided by mono 5.8:

[code]

[2018-02-06 00:31] safern commented on #24167
Ok, thank you very much!

[2018-02-06 00:33] mairaw commented on #24167
You can just click edit on this page on docs (https://docs.microsoft.com/en-us/dotnet/api/system.drawing.drawing2d.hatchstyle) and it will take you to the right file on GitHub. Let me know if you need any help!

[2018-02-06 00:35] safern commented on #24167
Nice! thanks @mairaw

[2018-02-06 00:43] JonHanna commented on #26319
It's the same type of expression either way, and not even necessarily wrong to reuse a ParameterExpression, not assign to it (esp. if another branch would assign) and then use its value, so I don't think this could be usefully caught.

[2018-02-06 01:11] marek-safar commented on #25739
/cc @tmat

[2018-02-06 01:18] safern commented on #21129
It would be great to have this in the 2.1 timeline so that when we ship the stable Compat pack and 2.1 we have this compatibility with Desktop and Mono could use our implementation.

We're currently in prepping preview1 release which we don't have a date yet, but it would be nice to get this one any time soon.

[2018-02-06 01:28] safern commented on #24478
This is related to: https://github.com/dotnet/corefx/issues/25102

An API is being added to load native libraries and once that is added we can consume it from System.Drawing and fix the issues we've been hitting when trying to do dlopen that lives in libdl.

In the meantime as a workaround you can install libc6-dev package and it will give you libdl locally. Will close this issue as the previousl

[2018-02-06 01:28] #24478 closed

[2018-02-06 01:29] safern commented on #24538
Similar to: https://github.com/dotnet/corefx/issues/25102 which should be taken care of soon once we get the desired API added into the product. https://github.com/dotnet/corefx/issues/17135

[2018-02-06 01:31] safern commented on #25367
@stephentoub have we seen this one failing lately? Can we close it? I know libgdiplus has gotten some fixes at least in December last year.

[2018-02-06 01:33] safern commented on #26103
@bgulanowski any update on the managed & native call stack? That would help us to track the issue.

[2018-02-06 01:36] safern commented on #26637
Marking a 2.1 so that it is investigated on whether it is a test bug or a product bug.

[2018-02-06 02:18] divega commented on #26348
The namespace and type names are misleading. This is code is internal to the SqlClient implementation, so moving to the right area.

cc @saurabh500

[2018-02-06 02:24] heri16 opened #26879 "X509AuthorityKeyIdentifierExtension should be public"
X509AuthorityKeyIdentifierExtension is currently a sealed class. Should make it public unless there is a good reason in keeping it sealed.

[2018-02-06 02:29] divega commented on #26064
The namespace and type names are misleading. This type is actually internal and hence each provider that was originally in System.Data.dll got a copy.

Assuming this is about SqlClient I have updated the area. However I see above that PRs for both ODBC and SqlClient have been merged. @benaadams is it possible that this is already fixed and should be closed?

[2018-02-06 02:30] benaadams commented on #26064
Yep

[2018-02-06 02:30] #26064 closed

[2018-02-06 02:39] divega commented on #25728
@saurabh500 I believe these types are SqlClient specific so moving to area-System.Data.SqlClient.

[2018-02-06 02:42] divega commented on #26026
Moving to SqlClient area since this is provider implementation code and not common ADO.NET code.

FWIW, this looks like a possible duplicate of other issues that have been reported.

cc @saurabh500

[2018-02-06 02:48] ahsonkhan commented on #26833
Fixed in https://github.com/dotnet/corefx/pull/26868

[2018-02-06 02:48] #26833 closed

[2018-02-06 02:56] divega commented on #25627
@saurabh500 it seems that this issue should be in your radar because it is internal provider implementation. Moved to the SqlClient area although it applies to ODBC as well.

[2018-02-06 02:58] divega commented on #24953
Moving out of area-System.Data because it is a provider specific features request. SqlClient it is for now until we have a better way to track ODBC issues.

cc @saurabh500

[2018-02-06 03:09] eerhardt commented on #26845
I think the scenarios come from a more "data scientist" and Machine Learning angle. Take a look at https://github.com/ageron/handson-ml/blob/master/02_end_to_end_machine_learning_project.ipynb starting with the

`In [5]: housing = load_housing_data()` line.

Imagine trying to explore a data set (loaded through .csv or otherwise) like this in .NET code, and how much more code you were need to write

[2018-02-06 03:11] funkynicco opened #26882 "Socket LocalEndPoint not updated in SendToAsync(SocketAsyncEventArgs e)"
The `SocketAsyncEventArgs` version of `SendToAsync` does not properly set `_rightEndPoint`, while it creates the `endPointSnapshot` variable that is used to set `_rightEndPoint` in `SendTo`, `BeginSendTo` and `SendToAsync (task)` methods.

Here is a reference link for Socket.cs with line number.
[https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/Socket.cs#L

[2018-02-06 03:22] jkotas commented on #26855
Fixed by https://github.com/dotnet/corefx/pull/26871

[2018-02-06 03:22] #26855 closed

[2018-02-06 03:26] benaadams commented on #25627
All the AsyncLocal stuff has been fixed; remaining thing is WindowsIdentity, which is a completely different issue

[2018-02-06 05:36] mayankbansal018 commented on #26851
@jkotas , we are not trying to using COM interop on Unix. Our question is that if an assembly compiled for netstandard1.4 uses COM interop, & if on such an assembly we use GetAllTypes API on Unix, should it fail?
I can see that ComInterop attribute is defined in System.Private.CoreLib.dll for unix netcore, but getting it's Type is failing.

[2018-02-06 05:50] pjanotti commented on #26803
I'm closing the issue since is related directly to the test failures and that is properly resolved now. Of course, the conversation about the dependency workaround/solution continues as appropriate.

[2018-02-06 05:50] #26803 closed

[2018-02-06 06:11] jkotas commented on #26851
Yes, it is expected to fail today. Here is the relevant check that makes it fail: https://github.com/dotnet/coreclr/blob/ad71e93f91b6091454bb533c645c68dd9dc3276f/src/vm/methodtablebuilder.cpp#L3108

Not sure what it would take it to not fail. Either way, the type will be non-instantiateable.

[2018-02-06 06:45] justinvp commented on #21395
- The name of the `StringComparison` parameters should be `comparisonType`, not `comparison`, to be consistent with the existing naming used everywhere else.
 - Some extension methods use `source` while others use `span` as the name of the `this` parameter. It'd be nice to be consistent with the naming.

[2018-02-06 06:55] mayankbansal018 commented on #26851
@jkotas We are completely okay if the type is non-instantiatable, but using reflection to get types should be allowed on such object.
Please refer [bug here](https://github.com/Microsoft/vstest/issues/1417).

[2018-02-06 07:27] xljiulang opened #26886 "multipart/form-data does not comply with the RFC 1867 standard"
this is the package of MultipartFormDataContent/MultipartContent
[code]

but RFC 1867 like this
[code]

[2018-02-06 07:30] Sunny-pu opened #26887 "Test System.Threading.Tasks.Dataflow.Tests.EtwTests.TestEtw failed with "Exit code was 131 but it should have been 42\nExpected: True\nActual: False""
Failed test: System.Threading.Tasks.Dataflow.Tests.EtwTests.TestEtw
Configuration: Osx10.12_release
MESSAGE:
Exit code was 131 but it should have been 42\nExpected: True\nActual: False
[code]
Details: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/4258/testReport/System.Threading.Tasks.Dataflow.Tests/EtwTests/TestEtw/

[2018-02-06 09:17] #25367 closed

[2018-02-06 09:42] mattd73uk commented on #18276
Just starting a new enterprise project, we had decided on .Net Core but are switching to .Net Framework over this issue - I just removed the .Net Core projects from the solution and am retargeting ASP.Net Core at the .Net Framework. It is a shame Core isn't yet mature enough for us, but at the end of the day you've got the resources you've got.

[2018-02-06 09:52] saurabh500 commented on #25761
@sebastianroesch the issue has been ported to the 2.0.x release as well and should be available in the next servicing update.

[2018-02-06 10:23] #25008 closed

[2018-02-06 11:04] mgravell commented on #26845
that sounds like something that LINQ would excel at, with little more than a few helper extension methods - i.e.

    var counts = housing.ValueCounts<string>("ocean_proximity");

with an extension method something like below (completely untested). Note: I'm totally not a fan of `DataSet` for most purposes - I'm just trying to understand what problem this suggestion is trying to solve, and *how it

[2018-02-06 11:15] stephentoub commented on #26637
(Just to be clear, this also repros for me on netfx.)

[2018-02-06 11:36] #26520 closed

[2018-02-06 13:27] mikedn commented on #26860
It's the same plane (within the limits of floating point precision, of course).

[2018-02-06 13:35] mikedn commented on #26826
Right, VB has checked casts by default and it doesn't have something like C#'s unchecked. Not familiar with VB to tell if there are any alternatives.

The _ separator is specific to the C# language. It's not something you would use in "normal" writing (where culture specific separators such as comma are used) and different programming languages may use different separator characters (e.g. C++ uses

[2018-02-06 13:44] Ekkeir opened #26889 "SocketException: Invalid argument with SocketOptionName.Linger on Linux (Debian 9)"
When executing `socket.Bind()` on a socket preconfigured with a `SocketOptionName.Linger` the following exception is observed on a Linux (Debian) machine.

[code]

the same code executes and works well without exceptions on a Windows (Win8.1) machine.

Example code for reproducing the issue
[code]

[EDIT] Add syntax highlighting by @karelz

[2018-02-06 13:55] mikedn commented on #26826
That's one option. But it might make more sense to add support for a binary format string specifier.

[2018-02-06 14:39] angelcalvasp commented on #11639
using @mauroservienti 's solution

[code]

This worked for my scenario, references are loaded if they are in the same directory as the assembly that references them

[2018-02-06 14:48] nfdevil opened #26891 "System.DirectoryServices GroupPrincipal.GetMembers gives Exception on Domain Local groups"
I have the following piece of code:

           var context = new PrincipalContext(ContextType.Domain, "domain", "DC=domain,DC=be");
            var group = GroupPrincipal.FindByIdentity(context, IdentityType.Name, groupName);
            if (group?.GetMembers(true) != null)
            {
                foreach (var user in group.GetMembers(false))
                {
                    users.Add(

[2018-02-06 14:51] davidsh commented on #26886
What part of the above is incorrect?  Are you referring to places where the quotes of double-quotes around tokens is different, i.e.

vs.

I believe the quotes are optional as long as the token doesn't have any white-space within.

Is there a server or application that is broken due to this perceived difference?  Also, RFC 1867 is from 1995 and I think this RFC has been replaced by a newer one (I'

[2018-02-06 15:27] stephentoub commented on #26889
It happens to work on Windows but only because of the size of the data types involved in the native definitions.  SO_LINGER doesn't take an `int` value, rather it takes a `linger` value, which on Windows is defined as:
[code]
and on Linux is defined as:
[code]
That `u_short` is 2 bytes, meaning `linger` is 4 bytes, and thus it happens to be the same size as the 4-byte `int` you're passing in from

[2018-02-06 15:30] stephentoub commented on #26887
The log shows:
[code]
As @danmosemsft noted in https://github.com/dotnet/corefx/issues/25311#issuecomment-345412175, all such issues should be dup'd against https://github.com/dotnet/corefx/issues/25037.

[2018-02-06 15:30] #26887 closed

[2018-02-06 15:36] tmds commented on #26803
@karelz I had a look what doesn't work with an unsupported libcurl backend:

client certificates:
- HttpClientHandler.ClientCertificates: not empty
- HttpClientHandler.ClientCertificateOptions set to Automatic

validation:
- HttpClientHandler.CheckCertificateRevocationList set to true
- HttpClientHandler.ServerCertificateCustomValidationCallback not null (+)

(+) HttpClientHandler.ServerCertificat

[2018-02-06 15:57] tannergooding commented on #26860
@MohammadHamdyGhanem, these are the same plane, but within different spaces.

`p1` is a plane that exists in regular vector space.
`p2` is a plane that exists in normed vector space.

They represent the same plane in normed vector space, but different planes in non-normalized vector space.

[2018-02-06 15:58] danielearwicker commented on #8807
Workaround is to put the SQL password in a key vault and use MSI to authorise the app to access the key vault, which does work from dotnet core.

[2018-02-06 16:00] SamuelEnglard commented on #4382
Now that it [IS in IANA](https://tools.ietf.org/html/draft-nottingham-thanks-larry-00), should it be included? (I honestly don't care either way, but it does have a semi-official status now)

[2018-02-06 16:01] tannergooding commented on #26860
Two vectors are only equal if they have the same magnitude and direction.

The normal vector for p1 has a magnitude of `~1.732051`
The normal vector for p2 has a magnitude of  `1`

As such, these represent different vectors and, therefore, different planes (`D` is also different, since it underwent normalization as well).

You would have to normalize both `p1` and `p2` and compare them if you want

[2018-02-06 16:07] karelz commented on #4382
@SamuelEnglard what should be included in your opinion?
It makes 418 reserved, IMO more for the purpose of other standards to not reuse the number, rather than something this enumeration should capture. Or am I missing something?

[2018-02-06 16:09] ihorlazarenko opened #26892 "It seems proxy address is never applied"
https://github.com/dotnet/corefx/blob/62e18e428a91293bda14ba287849f51a1f38bc51/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L687
Result of method is not applied and code is optimized. In my case WebProxy method is called https://github.com/dotnet/corefx/blob/master/src/System.Net.WebProxy/src/System/Net/WebProxy.cs#L87

[2018-02-06 16:15] khellang commented on #4382
That's a draft. https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml (last updated 2017-12-20) still says 418 is "Unassigned" 🤔

Anyway, I don't think there's any pointshould include all status codes that are "Reserved":

   HTTP Status Code registry to reflect that.

[2018-02-06 16:34] danmosemsft commented on #25037
COREHOST_TRACE may not help us, but since I added the extra logging, we know that this folder does exist or the error would be different:

/Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_debug/bin/testhost/netcoreapp-OSX-Debug-x64/shared/Microsoft.NETCore.App/9.9.9

In other cases, we see `  A fatal error occurred, the folder [/Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12

[2018-02-06 16:39] Clockwork-Muse commented on #26860
...although since `==` directly compares float values, the answer may not always yield what you expect.

[2018-02-06 16:40] jhudsoncedaron opened #26893 "The FileSystemInfo.Exists anomaly; File.Exists() has no use"
This bug is mostly in the documentation.

File.Exists() returns false if an I/O error or permission error causes it to be impossible to determine if the file exists or not. To get the error, call LastWriteTimeUTC() and throw away the result. If LastWriteTimeUTC() returns, the file doesn't exist. If it throws, you don't know if the file exists or not and the exception is the reason you don't know.

[2018-02-06 16:53] KrzysztofCwalina opened #26894 "Cleanup after removal of MemoryExtensions As* api."
In the Framework, there are many types that can be converted into ```Span<T>```, ```ReadOnlySpan```, ```Memory<T>```, and ```ReadOnlyMemory<T>``` (a.k.a. _slice types_).

The conversions are implemented as:

* constructors of _slice types_, e.g. ```Span<T>``` ctor taking ```T[]``` parameter
* cast operators from source type to _slice type_, e.g. ```implicit operator Memory<T> (T[] array)```
* ```A

[2018-02-06 16:54] KrzysztofCwalina commented on #26894
cc: @ahsonkhan, @joshfree, @stephentoub

[2018-02-06 16:55] tannergooding commented on #26860
@Clockwork-Muse, yes, there are the odd cases where you perform two mathematically equivalent operations that result in different floating-point results and would cause them to compare inequal, but this isn't one of those cases.

Because the OP is only normalizing one of the planes, they are effectively doing the following:
[code]

If they had normalized both planes, and therefore put them both in

[2018-02-06 16:57] stephentoub commented on #26894
We've got the Span ctor, a cast to Span, and an AsSpan method.

And with this, we'll have the Memory ctor, a cast to Memory, and an AsMemory method.

For both Span and Memory, do we need all three?  I don't have a strong opinion, I just want to make sure we're doing this thoughtfully.  Do we need these AsXx methods?

[2018-02-06 17:07] karelz commented on #26892
Do you have a test case where it does not work.? Or did you just do code inspection?

The code you linked is just checking, the interface call won't throw.
The proxy is then used elsewhere:
https://github.com/dotnet/corefx/blob/62e18e428a91293bda14ba287849f51a1f38bc51/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L992

[2018-02-06 17:11] karelz commented on #26891
Do you have the problem on .NET Core only, or also on .NET Framework?

[2018-02-06 17:16] stephentoub opened #26895 "ManagedHandler public API surface"
For 2.1, we want to expose the new "ManagedHandler" we've been working on.  It's not "just the default" as it's missing some features (e.g. HTTP/2, various forms of auth like NTLM and Negotiate), so it needs to be opt-in.  We've allowed it to be opt-in on a process-wide level underneath HttpClientHandler, via an environment variable and via an AppContext setting, but we also want to expose the API

[2018-02-06 17:17] stephentoub commented on #26895
cc: @geoffkizer, @davidsh, @Priya91, @wfurt

[2018-02-06 17:33] jkotas commented on #26894
- Similar type inconsistency between string and everything else: We have 3 variants of AsReadOnlySpan for strings, but not for anything else. Should we have just the first one?

[code]

[2018-02-06 17:37] karelz commented on #26889
Seems to be answered, closing. If you think we missed anything, please let us know and we can reopen.

[2018-02-06 17:37] #26889 closed

[2018-02-06 17:40] Tratcher commented on #26895
SslClientAuthenticationOptions has a few settings that shouldn't be configured publicly. E.g. ApplicationProtocols, TargetHost. Is your plan to clone this Options object per connection and configure it accordingly? And just ignore/replace fields the user wasn't supposed to set?

[2018-02-06 17:41] mikedn commented on #26860
Normed vector space means vector space that has a "norm" function. It doesn't mean that all vectors are normalized. I have no idea what "regular vector space" is supposed to be. Presumably a vector space without a norm, something that the Euclidean space surely has.

[2018-02-06 17:43] stephentoub commented on #26895
Yes.  There's a PR out for this.

Currently the PR as it is allows ApplicationProtocols and TargetHost to be set.  ApplicationProtocols is just used as-is.  TargetHost is replaced by the actual hostname if the user didn't set anything.  But we can sort out the details here; we could choose to just ignore anything if desired; that's easy.

[2018-02-06 17:47] ahsonkhan commented on #26894
This API was rejected in a previous API review: https://github.com/dotnet/corefx/issues/23862

If we are going to add AsMemory, we probably want to add AsReadOnlyMemory as well.

**The reason we added AsSpan initially was to enable the builder pattern style of coding to easily chain methods together.** Otherwise, we would have code like this:
https://github.com/dotnet/corefxlab/blob/010238eb489ccf

[2018-02-06 17:49] karelz commented on #26882
Seems like a bug to me (disclaimer: I don't have much expertise in that code, so I may be wrong).
Are you interested in submitting a PR?

[2018-02-06 17:51] karelz commented on #26879
Design guideline is to make classes sealed, unless there is reason and proper design in plan for extension via inheritance. What is your use case for inheritance for this class?

[2018-02-06 17:52] ihorlazarenko commented on #26892
Thank you for answer. Yes, I found usage, but anyway it is strange behavior to call GetSmth() without using it(Uri is readonly object)

[2018-02-06 17:55] eerhardt commented on #25702
Putting this in the Future milestone since the API is not required for the .NET Core 2.1 release.

[2018-02-06 17:56] karelz commented on #26856
Should be fairly straightforward to do.

[2018-02-06 17:59] tannergooding commented on #26860
Sorry if I used some "incorrect" terminology. The point, however, remains that `∥v∥ != v`.

[2018-02-06 18:04] bartonjs commented on #26803
| Distro Version | Default libcurl backend | optional package for OpenSSL/1.0 |
| --- | --- | --- |
| Ubuntu 18.04 (2018-02-06) | OpenSSL 1.0.2 | N/A (default) |
| Debian 9 | OpenSSL 1.0.2 | N/A (default) |
| Fedora 27 | OpenSSL 1.1.0 | N/A (no alternate packages) |

For Fedora 27 the following workaround may be viable:

* `yum install compat-openssl10-devel`
* Download the source for libcurl (7.5

[2018-02-06 18:04] karelz commented on #26131
@KrzysztofCwalina says it is just tracking work item, that the API has been reviewed in other issues - @ahsonkhan can you please link the API review issue?

[2018-02-06 18:08] jcagme opened #26897 "OSX and Lnux builds are timing out before completion"
@dotnet-mc-bot commented on [Tue Feb 06 2018](https://github.com/dotnet/core-eng/issues/2590)

Opened on behalf of @jcagme

Warnings: 2
Status Message: failed

Build : Master - 20180206.04 (Product Build)
Failing configurations:
- OSX
  - x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20180206.04/workI

[2018-02-06 18:13] saurabh500 commented on #26348
This is not a blocking call. The WaitHandle.WaitAny is called with a 0 timeout in case of an async connection open.
In case there is an available connection, then that is returned, else a request to create a connection is queued up which then signals the TaskCompletionSource whose task is returned in OpenAsync().

[2018-02-06 18:13] #26348 closed

[2018-02-06 18:15] funkynicco commented on #26882
I'm unfortunately not an expert in this source either, I'd prefer that a more experienced person have a look over this to make sure the right solution is provided considering this is very low core level code that may potentially break several server implementations and frameworks.

[2018-02-06 18:24] buvinghausen commented on #9608
Don't want to plus one this issue but we're here because of Mongo Atlas needing SNI support

[Atlas Driver Info](https://docs.atlas.mongodb.com/driver-connection/)

For now we're just going to leave our non production items on mlab but it would be nice to go to a single management console for our stack.

[2018-02-06 18:24] MohammadHamdyGhanem commented on #26860
So, p1 and p2 refere two the same plane in math, but not in programming?
Does this feel right to you?
And if d1 and d2 are identical but with different D values. Doesn't this say loudly that D is not the distance?
Abs(D) is the distance if and only if Normal is the normalized vector. You can refer to the low for the distance of a point from a plane to calculate the distance of the origin.
So, ther

[2018-02-06 18:25] wfurt commented on #26892
Make sure your site is not matching bypass list or hitting  local addresses processing.
That should be easy to check with IE and wireshark.

[2018-02-06 18:25] natemcmaster commented on #11639
@hvanbakel their isn't really good API yet in .NET Core for loading assemblies dynamically from a NuGet cache. You can implement some of this on your own using AssemblyLoadContext and DependencyContext, but I haven't seen this work 100% well everywhere. To get this right, you have manage a lot of complexity. The best docs I've seen on what .NET Core does to resolve assemblies is here: https://gith

[2018-02-06 18:26] MohammadHamdyGhanem commented on #26860
@joshfree
Hope you mark this issue as a bug and a proposal. I put it as a question to get a clear idea about what the implemetes mean.

[2018-02-06 18:33] MTBandolier opened #26899 "ConcurrentDictionary.Clear ignores the capacity specified in the constructor"
The Clear method always allocates DEFAULT_CAPACITY Nodes instead of using the capacity specified in the constructor.  It should probably use m_tables.m_buckets.Length instead.

[code]

[2018-02-06 18:36] tannergooding commented on #26860
No, even in math `∥v∥ != v`.

No, if I have two unormalized vectors `1, 1, 1` and `0.577350259f, 0.577350259f, 0.577350259f`, this would incorrectly return true.

It is up to the user to determine when rounding is required. It varies from application to application, the operations used, and the rounding mode enabled.

[2018-02-06 18:41] benaadams commented on #26348
The timeout used defaults to `ConnectTimeout = 15` if not specified in the connection string?

[2018-02-06 18:45] benaadams commented on #26348
Though will add a skip to the detector if the wait == 0

[2018-02-06 18:47] bartonjs commented on #26879
I assume the issue is "internal" rather than "sealed".

Adding more of the RFC 3280 extensions as public members is definitely on my todo list.

[2018-02-06 18:48] mikedn commented on #26860
Why? The Equals method simply tells that 2 plane numeric representations are equal or not. It doesn't tell you that they represent the same plane. The fact that some geometric concepts such as plane and lines happen to have an infinity of numeric representations is another story.

Besides, normal vectors are expected to be normalized. I'm pretty sure I told you that already.

What would probably b

[2018-02-06 18:49] mikedn commented on #26860
That does not make any sense. ||v|| is a scalar. v is a vector. The 2 are not comparable.

[2018-02-06 18:50] saurabh500 commented on #26844
@ICE2017 Which OS are you running the App on? What version of System.Data.SqlClient are you consuming? Can you give us a repro project as well?

[2018-02-06 18:53] tannergooding commented on #26860
`∥v∥` is standard notation for indicating a vector is normalized.

[2018-02-06 18:54] tannergooding commented on #26860
Some places, like Wolfram Alpha, commonly use single pipes for indicating it as well: `|X|`

[2018-02-06 18:56] KathleenDollard commented on #26386
It seems like work we should do.

Have we heard about this from customers?

[2018-02-06 19:10] mikedn commented on #26860
Both |x| and the more or less common ||x|| denote the norm of the vector x. That is, the magnitude or length of the vector, a completely different thing from a normalized vector. AFAIR normalized vectors are denoted by a hat.

[2018-02-06 19:15] danmosemsft commented on #26359
@maryamariyan this is removing a check and then updating tests.. @JeremyKuhne can give details

[2018-02-06 19:18] huanwu opened #26900 "Update sgen version to 2.*"

[2018-02-06 19:20] huanwu opened #26901 "Update usage in sgen"
Currently the usage contains dotnet dotnet-Microsoft.XmlSerializer.Generator, which should be dotnet Microsoft.XmlSerializer.Generator.

[2018-02-06 19:20] JeremyKuhne commented on #26359
This block needs removed:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/Path.Windows.cs#L55-L71

Tests are in System.Runtime.Extensions tests. @Anipik knows how to make these changes if you haven't done it yet.

[2018-02-06 19:21] huanwu opened #26902 "Adopt new dotnet parameter converssion in sgen"
user -- instead of /
e.g. "--help" instead of "/help"

[2018-02-06 19:22] karelz commented on #26895
API review:
* `ClientCertifiationOptions` - we should make sure it works also in WinRT (Automatic option)
* We should try to design DNS caching object instead of having options directly on the class
* Rename `ConnectionTimeout` to `PooledConnectionLifetime`
* Rename `ConnectionIdleTimeout` to `PooledConnectionIdleTimeout`
* Class name: `SocketsHttpHandler` (4 preferred votes, no strong push back /

[2018-02-06 19:24] rmkerr commented on #22925
Hey @shmao, I believe that this is just a test issue. Those tests are written as if cookies are separated by semicolons, when they in fact should be separated by commas. That's based off of my RFC 2109, which says:
[code]
Cookie _attributes_ are separated by semicolons, so what CookieParser.Get sees in the tests is a single cookie with several attributes that it does not recognize. Redoing the tes

[2018-02-06 19:24] tannergooding commented on #26860
You're right. My memory is apparently going faulty.

[2018-02-06 19:25] TylerBrinkley commented on #26634
FYI, if this gets approved I'd happily implement it.

[2018-02-06 19:25] JeremyKuhne commented on #26359
Also remove the wildcard check below it: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/Path.Windows.cs#L80-L85

[2018-02-06 19:26] JeremyKuhne commented on #26359
And make the check for invalid characters on https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/Path.Windows.cs#L78 always false.

[2018-02-06 19:37] MohammadHamdyGhanem commented on #26860
No, even in math ∥v∥ != v.

[2018-02-06 19:38] shmao commented on #22925
Hmm, I'm a bit confused. Check out https://tools.ietf.org/html/rfc6265#page-8. You can see that the semi-colon is a separator of cookie-pair's as defined in the 'set-cookie-string'.

[code]

According to [this answer](https://stackoverflow.com/a/4843598), RFC2109 seems obsoleted.

Besides, the other issue was that I found,

[2018-02-06 19:39] karelz commented on #26894
API review: We would like to see a complete proposal.

[2018-02-06 19:41] MohammadHamdyGhanem commented on #26860
@tannergooding

I don't believe taht. You normailze the plane by deviding the normal an D by the normal.Length. This mean it's the same equation, but refactored. So, the two planes are the same, having the same direction, and containing the same points.

[2018-02-06 19:54] Tratcher commented on #26895
RE: MaxResponseHeadersLength: When is .NET going to get a type for managing sizes similar to TimeSpan? E.g. FromMb, FromKb, FromBytes, etc.. I hate looking at properties and wondering what the units are. Putting the units in the name gets bulky.

[2018-02-06 19:57] benaadams commented on #26895
Sounds like a good idea https://github.com/dotnet/corefx/issues/14234

[2018-02-06 19:58] SamuelEnglard commented on #4382
@khellang missed that it's still draft status, thanks for that!

As to what to do...

   few new methods, header fields and return codes.  ([src](https://tools.ietf.org/html/rfc2324#section-2))

So HTCPCP is related to HTTP/1.1 the same way SPDY, HTTP/2, or even WebSockets are. It's another branch in the family. So if we put HTTP/2 status codes in here HTCPCP status codes can too.

[2018-02-06 20:01] rmkerr commented on #22925
I think that you're missing a key line of the ABNF there:
[code]
So my interpretation is that a `set-cookie-header` consists of a the string `"Set-Cookie:"` followed by a space and a `set-cookie-string` [1]. A `set-cookie-string` consists of a _single_ `cookie-pair` followed by any number of cookie attribute values (`cookie-av`) [2]. Those attribute values are separated but not terminated by a sem

[2018-02-06 20:03] MohammadHamdyGhanem commented on #26860
A small test, I'll  take a point and calculate its distance from the p1 and p2 planes:
[code]
The distance in both cases is 12.7017059.
P1 and p2 are defiantly the same plane.

[2018-02-06 20:03] davidsh commented on #22925
As a reminder, we do not support RFC 6265 (and neither does the Windows native stacks Wininet, WinHttp).  See: https://github.com/dotnet/corefx/issues/14674

[2018-02-06 20:05] karelz commented on #10749
API review:
* Drop BitsToBytes, etc. as non-essential
* Change arg names of `public static bool FixedTimeEquals(ReadOnlySpan<byte> x, ReadOnlySpan<byte> y);` to `left` and `right`
* Rename `ZeroMemory` to `Clear`/TBD
* Move `FillRandom` to RandomNumberGenerator.

[2018-02-06 20:07] shmao commented on #22925
@davidsh RFC 6265 is the one to which you pointed me. See https://github.com/dotnet/corefx/issues/22877#issuecomment-319807918

[2018-02-06 20:08] mikedn commented on #26860
It already exists, it's called `DotCoordinate`.

[2018-02-06 20:15] rmkerr commented on #22925
Regardless, I don't think these tests are testing the correct behavior. Those semicolon separated values are attributes that give us special information about the cookie, like the domain or the expiration. They don't represent a list of additional cookies, whichever spec we follow. Since CookieParser.Get is looking for cookies and not attributes, it gets only the first name value pair.

[2018-02-06 20:17] MohammadHamdyGhanem commented on #26860
Sorry. I saw the name, but didn't understand it! :)

You can compromise by adding a new
Plane.Equals(Plane other, bool MathematicallyEquals)
method overload that normalizes both planes before comparing them.
This at least will alert the user to the difference.

About the float problem:
These are specialized types, not for scientific calculations.
The source code already uses FLT_EPSILON in some co

[2018-02-06 20:18] saurabh500 commented on #26348
At this [line](https://github.com/dotnet/corefx/blob/d75610efce77c2f2562c4f35de901ea38b6d43b7/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L1026) the timeout is set to 0 and it is set to the connection string timeout (whether default or explicit) when the call is sync i.e. [retry==null](https://github.com/dotnet/corefx/blob/d75610efce77c2f2562c4f35de901ea38b6d43b7/src

[2018-02-06 20:19] shmao commented on #22925
@rmkerr sounds good. Thanks for looking into this. It may worth to fix the tests added by #22895.

@mconnew, I am probably wrong, but I thought I saw "Set-Cookie" followed by a list of cookies in WCF tests.

[2018-02-06 20:19] saurabh500 commented on #26348
@benaadams how does the Configuration plugin that you have created, work? What specific cases does it check for?

[2018-02-06 20:19] ahsonkhan commented on #26131
I don't know if there is an issue. The API review is available here:
https://www.youtube.com/watch?v=tLnQsNTfl9Q&

[2018-02-06 20:21] tarekgh commented on #25725
@karelz do you know who can help with this one?

[2018-02-06 20:21] MohammadHamdyGhanem commented on #26860
And I think this is the time to ask:
I wonder what is the design goal behind making almost all vector methods static?
This makes code verbose without a purpose!
If I have two vector3 instances named a and b, why write:
`var c = Vector3.Normalize(Vector3.Reflect(a, Vector3.Abs(a)));`
while it's shorter and easier to understand to write:
`var c = a.Reflect(b.Abs( )).Normalize( );`

[2018-02-06 20:22] tarekgh commented on #25725
@karelz nevermind I am seeing you already assigned it

[2018-02-06 20:24] gsfreema commented on #1565
Is it possible to start small with a task such as this?  I was doing a code review at work and saw someone calling `s1.ToLower().Contains(s2)` and was surprised that there wasn't a version that takes the `StringComparison` enum.

The implementation for such a function could be as simple as
`return s1.IndexOf(s2, StringComparison.OrdinalIgnoreCase) != -1;`.

Would this form of String.Contains be so

[2018-02-06 20:25] tarekgh commented on #25725
@jorive are you working on this one?

[2018-02-06 20:26] GrabYourPitchforks commented on #26796
What if we added to this class static methods that performed a one-shot without streaming? That would solve our immediate issue where we don't want this logic duplicated in ASP.NET, and it should make this functionality easier to consume for the 99% of callers who just want one-shot anyway.

[2018-02-06 20:30] tannergooding commented on #26860
Most of the API conventions can be boiled down to this document: https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/

We have stated that they are not general-purpose types several times. This is not a library similar to BLAS. Instead it is a small, targeted, vector math library that is interopable with many of the vector math libraries used in Graphical Applications (which tend to

[2018-02-06 20:30] gsfreema commented on #1565
Actually, I just say that this was added to `String.Searching.cs`.  Perhaps that work needs to be linked to this issue so it can eventually be closed.

[2018-02-06 20:31] ahsonkhan commented on #21395
The APIs where `this` is `source` have another span parameter as `destination`. The other ones don't. That is the reason for the inconsistency.  If we feel strongly about the parameter renaming, I can do it in all methods. We should probably address this together with other inconsistencies like https://github.com/dotnet/corefx/issues/26894.

[2018-02-06 20:32] khellang commented on #4382
Why so eager to add a non-standard status code against the HTTP working group's wishes? If you need it in your apps, you can still use it, but I don't think there's any point in adding it to the framework now -- especially since it's sailing up to become a reserved status code (probably before .NET Core 2.1 ships) soon.

[2018-02-06 20:39] ViktorHofer commented on #7206
That nuget package is download more than 1mil times: https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist/

Would it make sense to add a netstandard configuration to the package which just typeforwards to the internal implementation?

I would at least add a description to the nuget package that explains that EventSource is inbox in .NET Core / is part of netstandard2.0.

[2018-02-06 20:55] MohammadHamdyGhanem commented on #26860
1- DotCoordinate is not the distance.  it returns the dot product of a specified three-dimensional vector and the normal vector of this plane plus the D value of the plane. So,
Distance = DotCoordinate / Normal.Length
So, a distance method is still nice and easy to understand.

2- DirectX is not a standerd for high level languages. Its difficult to use and if you simulate any of it you should cons

[2018-02-06 21:01] brianrob commented on #7206
EventSource.Redist is only targeted at desktop.  The purpose of the package is to provide a mechanism to provide bug fixes outside of framework releases.  Thus, it is expected that it will fail on non-desktop installs, and we don't want to point to internal implementations if the runtime has one.

[2018-02-06 21:03] benaadams commented on #26348
Ah, you are correct. Have [changed it to skip waits of 0](https://github.com/benaadams/Ben.BlockingDetector/commit/f81ef3ee90cc41cd1e9da41c33ee28c76702bfdd) and not report them.

Reports Waits issued on the SynchronisationContext (Wait, lock, Monitor etc when they become Waits) and synchronous waits against the TPL via ETW - it doesn't pick up Waits that occur only at OS level so Thread.Sleep or a

[2018-02-06 21:03] jorive commented on #25725
@tarekgh I did not know about this issue, but the answer is yes. I'm working on this.

[2018-02-06 21:11] ViktorHofer commented on #7206
Thanks for the clarification. I think we should really do this:

[2018-02-06 21:11] tarekgh commented on #25725
cool. I assume you are targeting to finish it for 2.1. right?

[2018-02-06 21:12] SamuelEnglard commented on #4382
I think 418 should be kept around, just maybe not an HTTP status code (HTCPCP status code I suppose).

[2018-02-06 21:15] pjanotti opened #26903 "[ManagedHandler] Hit assert during local test run for ResponseStreamTest"
/cc @karelz @geoffkizer @stephentoub

This is not happening on every run and prevents the generation of testResults.xml so I may have missed some other occurrences of it. I will try to see if it repros in other boxes and also to capture a dump.

https://github.com/dotnet/corefx/blob/6f8a600be95671162bd4de3014adafabe0a0e5ed/src/System.Net.Http/src/System/Net/Http/Managed/HttpConnection.cs#L1181

[c

[2018-02-06 21:15] benaadams commented on #26348
Planning to use EventPipe to catch more instances that currently slip through the net https://github.com/dotnet/coreclr/issues/15675

[2018-02-06 21:17] stephentoub commented on #26903
https://github.com/dotnet/corefx/issues/26754

[2018-02-06 21:22] mikedn commented on #26860
For a billionth time - it all works if the normal vector is normalized. If it's not then you'd better know what you are doing.

I won't comment about the rest of your points, it's becoming a waste of time. You don't understand vector math and instead of trying to learn it (and I mean learning it by reading relevant materials and not by trial and error in C#) you blame the docs, the framework, the

[2018-02-06 21:23] karelz commented on #9608
@buvinghausen AFAIK Mongo driver was blocked on client-side SNI, which was implemented in 2.1. If you really need server-side SNI, please provide deeper info about your requirements, scenario, etc.

[2018-02-06 21:24] karelz commented on #26903
Duplicate of #26754

[2018-02-06 21:24] #26903 closed

[2018-02-06 21:26] buvinghausen commented on #9608
@karelz I will check that out later but thanks for the heads up! I will come back and let you know... by proxy if that fixes it I will let them know as well.

[2018-02-06 21:27] dotnet-mc-bot opened #26904 "Test failure: System.Collections.Immutable.Tests.ImmutableListTest/LastIndexOf"
Opened on behalf of @joshfree

The test `System.Collections.Immutable.Tests.ImmutableListTest/LastIndexOf` has failed.

Assert.Equal() Failure\r
    Expected: 2\r
    Actual:   -1

        Stack Trace:

           at System.Collections.Immutable.Tests.IndexOfTests.LastIndexOfTest[TCollection](Func`2 factory, Func`3 lastIndexOfItem, Func`4 lastIndexOfItemEQ, Func`4 lastIndexOfItemIndex, Func`5 last

[2018-02-06 21:28] wfurt commented on #26754
I'll take a look. Hopefully I'll be able to reproduce as well.

[2018-02-06 21:29] karelz commented on #1565
See [formal API review](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) - we need someone to do a sweep and find out what else is missing, then propose API.

[2018-02-06 21:30] geoffkizer commented on #26895
Can you provide more info on this?  I'm not sure what a "DNS caching object" would look like.

[2018-02-06 21:46] MohammadHamdyGhanem commented on #26860
This is not a rule in teh Plane structure anywhere, otherwise why it has a normalize method?
I asked before to normalize the plane in its constructor, and you rejected this idea!

Sure I understand vectors and planes, read about them, and use the plane equation in c# code to prove my point in previous replys if you didn't notice!

No need for more words.
Thanks.

[2018-02-06 21:55] MohammadHamdyGhanem commented on #26860
By the way, it will be helpfull to add this Method to the vector and plane structs. The code is based on the source code of the Normalize method:

[code]

[2018-02-06 22:14] huanwu opened #26907 "Update Sgen version to 2.0 and assembly version to 2.0 in 2.1 release branch"
Port #26905 in release/2.1 branch

[2018-02-06 22:37] rmkerr commented on #22925
I'm not really sure how we would go about fixing that test short of just removing it -- it isn't really clear what is being tested, especially now that we know that the expected behavior is not correct.

@davidsh what are your thoughts on just removing the incorrect test?

[2018-02-06 22:41] brianrob commented on #7206
@ViktorHofer, it is reasonable to improve the description of the package.  Would you mind filing an issue to track this?

[2018-02-06 22:49] davidsh commented on #22925
Is the test wrong (and which test is it, can link to source code?)?  Or is the product code wrong?

[2018-02-06 22:54] rmkerr commented on #22925
The test is wrong. It has been disabled since it was added. You can find it here: https://github.com/dotnet/corefx/blob/c714216f2a07a8b9963839b5c87b56f33ec0327e/src/System.Net.Primitives/tests/UnitTests/CookieInternalTest.cs#L84-L90

[2018-02-06 23:03] VSadov opened #26910 "MethodBodyStreamEncoder.AddMethodBody ignores attributes for tiny methods."
RelatedTo:https://github.com/dotnet/roslyn/issues/23951

MethodBodyStreamEncoder.AddMethodBody checks if it is possible to emit Tiny method header, and if it otherwise fits in Tiny, the InitLocals flag get effectively ignored.

There is a case where we may need Fat format specifically because we want the InitLocals flag.
That happens if a method otherwise meets requirements of a Tiny format, but h

[2018-02-06 23:03] VSadov commented on #26910
CC:@tmat

[2018-02-06 23:11] VSadov commented on #26910
CC:@agocke, @t-camaia

For the time being, if we need to specifically force the presence of the bit, we can workaround this by specifying stack size that is too large for a Tiny header.

Anything greater that 8 will work.

[2018-02-06 23:15] davidsh commented on #22925
If the test is wrong, then fix or remove it.

But what about the internal `CookieParser.Get()` method?  How is that used in our product code?  Is there a problem with that method?

[2018-02-06 23:27] rmkerr commented on #22925
`CookieParser.Get()` is used in the product code to process cookie attributes such as expires, max age, domain, etc. The test was written as if `CookieParser.Get()` was designed to get multiple cookies from a single header, which it is not. Those cookie attributes are tested elsewhere in the code, and I do not believe there are any known issues. I also didn't see any problems in my own manual test

[2018-02-06 23:34] davidsh commented on #22925
Seems like a plan.

[2018-02-06 23:49] karelz commented on #26843
Seems like by design. If you can test on latest .NET Core 2.1 version on Win7 (see [dogfooding](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md)), it would be great to measure the difference with ManagedHandler enabled.

[2018-02-06 23:49] #26843 closed

[2018-02-07 00:05] stephentoub commented on #26892
Sounds like this can be closed. Please reopen if there's still an issue here.

[2018-02-07 00:05] #26892 closed

[2018-02-07 00:07] JeremyKuhne commented on #22503
Fixed in 2.1 and 4.7.2.

[2018-02-07 00:07] #22503 closed

[2018-02-07 00:09] stephentoub commented on #26848
Using client certificates on Linux in .NET Core <= 2.0 requires a libcurl built against OpenSSL. The error is saying the libcurl being used is built against NSS instead.

[2018-02-07 00:10] JeremyKuhne commented on #24250
@danmosemsft Another fungible one that needs to be done.

[2018-02-07 00:23] ICE2017 commented on #26844
thanks @saurabh500
windows server 2008 R2
System.Data.SqlClient, Version=4.2.0.0
the sql server version is 2008
the code is simple just like
[code]

[2018-02-07 00:35] danmosemsft commented on #24250
existing code
[code]
This seems wrong in the first place because [MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365740(v=vs.85).aspx) says we should first check for FILE_ATTRIBUTE_REPARSE_POINT and we're not.
[code]

It looks like the IsReparseTagNameSurrogate behavior is [sufficiently documented](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365511(v=vs.85).aspx) f

[2018-02-07 00:58] danmosemsft commented on #24250
@maryamariyan another one for you I think.

[2018-02-07 01:26] KKhurin commented on #26586
Should be fixed now.

[2018-02-07 01:30] xljiulang commented on #26886
MultipartContent class use quote boundary, i found it also work normally on NodeJs http server, except the form-data not used quote  name.

no quote boundary + quote form-data  name，node js work normally
[code]

quote boundary + no quote form-data  name，node js get null value of fieldName
[code]

[2018-02-07 01:34] juscla opened #26914 "Add HID support to .netCore"

[2018-02-07 01:50] JeremyKuhne commented on #24250
@danmosemsft We do check above the code you mentioned:

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs#L452

The answer is, yes, we need to check the flag on _any_ reparse point and just delete (**without** recursing) if it is a name surrogate. Note that we do another check for reparse point status at the top level entry point for director

[2018-02-07 02:56] saurabh500 commented on #26844
Is the .Net code running on Windows or Linux?

[2018-02-07 03:04] jkotas commented on #21395
Could you please submit code formatting cleanups in separate PRs; or at least limit them to the code that you are changing? Majority of the delta in this PR are formatting changes now - it makes it hard to review, focus on the important changes.

[2018-02-07 03:13] ICE2017 commented on #26844
on windows the version is winserver 2008 R2

[2018-02-07 03:29] Microshaoft opened #26917 "in .NET Core , after reset SocketAsyncEventArgs.Buffer's offset property and count property, socket.ReceiveAsync(SocketAsyncEventArgs) can't raise completed event ."
In .NET Core/Standard , after reset SocketAsyncEventArgs.Buffer's offset property and count property, socket.ReceiveAsync(SocketAsyncEventArgs) can't raise completed event .
But same code in .NET Framework , it can run properly.
the whole code both in .NET Framework and .NET Core sample's URL as below:
https://github.com/Microshaoft/Socket.Echo.Server
the source code are same absolutely.

the issu

[2018-02-07 04:34] ICE2017 commented on #26844
I found some new things ,when i request the sqlserver,.NET Core Clinet will produce lot's ` pageiolatch_sh`,
but i test .net framework 4.5 it's not.
![f6ca700](https://user-images.githubusercontent.com/12882373/35898709-26fbbf2a-0c03-11e8-910a-a5c487750e12.png)

[2018-02-07 04:58] saurabh500 commented on #19836
@stephentoub This cannot be reverted yet. This was added for connections using MultipleActiveResultSet however the fix applies to all async operations in SqlClient.
We are going to change this flag to be applied only in case of MARS in short term till we have a solution for fixing MARS.

MARS data is always sent asynchronously even when the sync APIs of SqlClient are called. In case of multi threa

[2018-02-07 07:14] geoffkizer commented on #25163
I read through the linked discussion and I think I understand the issue now.  Let me know if I'm missing anything.

The managed handler is built in such a way that the "layered" features (auth, cookies, decompression, redirect) modify the user's HttpRequestMessage, by adding headers (e.g. Accept-Encoding for decompression).

There is concern (particularly from @davidsh) that this is contrary to th

[2018-02-07 07:21] nfdevil commented on #26891
I've created a small console app targeting .NET 4.6.1 with the same System.DirectoryServices.AccountManagement version 4.5.0-preview2-26202-05  and the same code as above.
It works with domain local groups on .NET 4.6.1, so not on .NET Core 2.0

[2018-02-07 07:24] khellang commented on #4382
Right. That's a different API proposal - maybe for `HtcpcpClient` 😉😂

[2018-02-07 08:12] #23130 closed

[2018-02-07 08:13] #26326 closed

[2018-02-07 08:13] #26780 closed

[2018-02-07 09:06] Danvlz commented on #26848
@stephentoub What is solution then?

[2018-02-07 09:36] loop-evgeny opened #26922 "HttpWebRequest.ServicePoint throws PlatformNotSupportedException unless Proxy is set"
.NET Core 2.0.5

Accessing the ServicePoint on a newly created HttpWebRequest throws PlatformNotSupportedException. Code to reproduce:

[code]

Exception:
[code]

Workaround:
[code]

[2018-02-07 10:21] stephentoub commented on #26848
For .NET Core 2.0 and earlier, using a libcurl built against OpenSSL, e.g. one installed from a package manager if available, one built from source, etc. HttpClient on .NET Core 2.0 and earlier on Unix is built on libcurl, and to enable client certificates, the features we need are only available when using libcurl with an OpenSSL backend, because System.Security.Cryptography.X509Certificates uses

[2018-02-07 10:30] doublnt opened #26924 "Confused in MatchCollection"
When I Use MatchCollection. Select in Asp.net core 2.0. There is the code below:
I can use `.Select` when my TargetFramework  is `<TargetFramework>netcoreapp2.0</TargetFramework> `
[code]

but I should write to that :
[code]
if my TargetFramework is `netstandard2.0`

[2018-02-07 10:38] doublnt commented on #26924
The impelment is different

[2018-02-07 10:38] #26924 closed

[2018-02-07 11:02] stephentoub commented on #26917
Your code appears to be assuming that Send/ReceiveAsync operations with a SocketAsyncEventArgs will always complete asynchronously and invoke the Completed event, e.g.
https://github.com/Microshaoft/Socket.Echo.Server/blob/27934e1adaedf681e2f15b8bbe33cf71ce46f457/ShareClassLibrary/ShareClassLibrarySharedProject/SocketAsyncDataHandler.TCP.cs#L358

That is not the case.  The socket methods that oper

[2018-02-07 11:06] stephentoub commented on #26895
@bartonjs raised the suggestion that if we ever decide to add things like client DNS round-robin, we do so with an API that encapsulates the logic and that others could share.  I'm assuming he was thinking of something along the lines of (this is not a real design):
[code]
Etc.

But we're not going to do something like that now.

[2018-02-07 12:51] #26331 closed

[2018-02-07 12:53] stephentoub commented on #26904
Dup of https://github.com/dotnet/corefx/issues/26821, which was closed as it's a coreclr codegen issue: https://github.com/dotnet/coreclr/issues/16202

[2018-02-07 12:53] #26904 closed

[2018-02-07 13:40] niemyjski commented on #20876
I forgot to post this on here when I was doing profiling work some time ago.

![screen shot 2017-12-06 at 8 14 33 am](https://user-images.githubusercontent.com/1020579/35919259-27b925c0-0bda-11e8-8fcd-fabf2f0d463d.png)

[2018-02-07 14:56] davidsh commented on #26922
In general ServicePoint class is not implemented nor supported on .NET Core.

[2018-02-07 14:56] davidsh commented on #26922
cc: @karelz

[2018-02-07 15:00] loop-evgeny commented on #26922
Wait, so does this mean the Nagle algorithm will be used or not when I run the above code (with the workaround)?

[2018-02-07 15:06] davidsh commented on #26922
It currently depends on which OS platform you are using. The current HTTP stacks in .NET Core are built on the OS HTTP stacks (WinHTTP for Windows and Curl for Linux).

cc: @stephentoub @geoffkizer

[2018-02-07 16:23] stephentoub commented on #19836
Ok. Thanks.

[2018-02-07 16:46] NoneGiven commented on #14234
As far as I'm aware, outside of disk capacity marketing, "1 kilobyte = 1000 bytes" is not used anywhere. Some programs accurately describe sizes as `KiB`, but programs that say `KB` generally still mean 1024 bytes. Case in point: Windows Explorer.

However you slice it, some people are going to find all those properties either ambiguous or redundant and will need to check the documentation (or hop

[2018-02-07 17:02] tarekgh commented on #14234
quick note, Parse functionality always a source of problems and I believe we should repeat the same mistake. I think at least

[code]

should be removed and consumers should either use ParseExact or use TryParse/Exact.

[2018-02-07 17:07] tarekgh commented on #14234
other things, for formatting with cultures, does Windows support providing the needed unit names? (e.g. KB, GB...etc.). the framework doesn't carry the globalization data and always depends on the OS for that. so to be able to support that, we'll need to ensure we can get the needed data from the OS.

[2018-02-07 17:08] tarekgh commented on #14234
would be nice if you can add some code sample and expected results of executing such sample code.

[2018-02-07 17:27] #26922 closed

[2018-02-07 17:37] KrzysztofCwalina commented on #26131
This workitem has been completed. ReadOnlySequence<T> is now merged into corefx (System.Memory package).

[2018-02-07 17:37] #26131 closed

[2018-02-07 18:04] MattGal commented on #25037
@danmosemsft apologies for the late response.   This was indeed a non-Helix setup where the tests all ran on the local machine.

I am confused how you think added logging has addressed this though, since the string ```/Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_release/bin/testhost/netcoreapp-OSX-Release-x64/shared/Microsoft.NETCore.App/9.9.9``` only shows up in the described error