[2016-12-12 21:46] CIPop commented on #3832
/cc @karelz

Sounds like some tests are missing.

[2016-12-12 21:50] mconnew opened #14454 "System.Xml.EncodingStreamWrapper calls Flush on a read stream when being disposed"
EncodingStreamWrapper has two constructors, one for wrapping a stream for reading, and one for wrapping a stream for writing. When constructor a wrapper using the read constructor, the field _isReading is set to true (it's set to false when writing). In the Dispose(bool disposing) method, Flush is called on the wrapped stream regardless of whether the stream is only used for reading or not. If the

[2016-12-12 21:50] mairaw commented on #14403
@remcoros we're still working on the solution to bring the remarks and samples over to the new site.

@avertes completeness and accurateness is always preferred over brevity.

Would it help if I manually ported the remarks to this API in particular? We still want to bring them all, but we want to do it in a more automated way. I could also change the summary to something like:
"Creates or opens a

[2016-12-12 21:51] AlexGhiondea commented on #14412
@tanaka-takayoshi could you give more information about how would this be used?

Would this be simply a matter of supporting the `0b` prefix that Roslyn uses for binary literals?

[2016-12-12 21:53] AlexGhiondea commented on #14447
@karelz is issue tracking the work needed for Desktop? Because on Core, as @weshaggard mentioned, that attribute is exposed via the System.Runtime contract.

[2016-12-12 21:53] CIPop commented on #3894
/cc @mairaw @karelz

Marking this up-for-grabs. The initial work required is to dig through the code and find all failure modes.
The best way to start is probably with the assertions within our tests. If we find scenarios that are not verified, it would be good if we add tests for those as well.

[2016-12-12 21:55] AlexGhiondea commented on #11390
It sounds like there are some challenging design questions that need to be answered before we move forward with the implementation.

Anyone interested in thinking about this and coming up with a proposal?

[2016-12-12 22:02] jaredpar commented on #8034
@benaadams

Correct.  It is possible to return `this` from a `ref this` extension method.  It is not possible to return `this` from a normal struct instance method though.  There are a lot of gory lifetime details as to why that is the case :(

[2016-12-12 22:09] CIPop commented on #4148
@karelz @davidsh I'm tentatively marking this as `netstandard2.0` as we're missing a good way to identify what caused the exception across all platforms.

[2016-12-12 22:09] Priya91 commented on #12738
As per @CIPop recommendation, closing the issue.

[2016-12-12 22:09] #12738 closed

[2016-12-12 22:10] mairaw commented on #230
We're working on the solution to document the .NET API reference. Since we couldn't use xml doc comments consistently across all the .NET source code, we'll have a solution that is somewhat similar to what we have today internally but that will be open source. From there, we'll also be generating the IntelliSense files.
Once we have the solution in place, we can work on updating the contributing g

[2016-12-12 22:14] CIPop commented on #4279
The issue is tracking a lot of new APIs that will need to be added to netcoreapp1.2.
I believe it's a large item that requires following the API process, implementing and testing the APIs on all platforms (cURL, WinHTTP).

[2016-12-12 22:20] mairaw commented on #3894
/cc @DelfCo FYI since you own that documentation area

[2016-12-12 22:21] CIPop commented on #4382
It shouldn't be very hard to add the new enum values to System.Net.Primitives in netcoreapp1.2 and above.
Marking that work as up-for-grabs.

I believe a different issue should be opened to track the discussion regarding adding a new type or unifying with ASP.Net.

[2016-12-12 22:24] CIPop commented on #4473
Closing as a duplicate of #3891.

/cc @davidsh @stephentoub.

[2016-12-12 22:26] davidsh commented on #4473
This is not a duplicate of #3891.  It requires different code.   This issue is about validation server certificates.

#3891 is about validating client certificates.

[2016-12-12 22:32] CIPop commented on #4500
@karelz, @davidsh This is a behavior difference between .Net Framework and Core. We should triage for `netstandard2.0`.

[2016-12-12 22:35] CIPop commented on #4502
@davidsh, @karelz Now that we do have AuthenticationManager we may want to review the original issue as a bug for netstandard2.0.

[2016-12-12 22:36] danmosemsft commented on #13351
Lets chat offline

[2016-12-12 22:38] SamuelEnglard commented on #4382
I'd like to request 418 be added too 😈

[2016-12-12 22:45] CIPop commented on #4508
@karelz, @davidsh I've opened this for code ported in .Net Framework (hence the port-consider flag).
In the light of netstandard and X-plat app-compat, I'm closing this as existing apps (ported to the new platform) could become broken by such a fix.

[2016-12-12 22:45] #4508 closed

[2016-12-12 22:50] remcoros commented on #14403
Good to hear, the msdn docs for .net fx are very well written i.m.o., having all its content ported would be great.

[2016-12-12 22:52] karelz commented on #10528
I could live without that overload `CopyTo(T[] destination, int destinationIndex, int count)`. @KrzysztofCwalina?

[2016-12-12 22:54] karelz commented on #13526
@rrelyea, @emgarten did you get chance to review the API? We have BCL API review tomorrow morning and would like to make the call ideally.

[2016-12-12 22:56] CIPop commented on #4530
@benaadams I think we can't change the existing APIs. `WebSocketReceiveResult` is part of [netstandard](https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L7895).

I still think this would be a good idea but it'll require adding new APIs in System.Net.WebSockets that return the structs instead. While perf will be improved, the API surface will not.

@terrajobst @weshaggard @k

[2016-12-12 23:01] CIPop commented on #4887
@karelz, @davidsh we should consider this for netstandard2.0 work and decide if we want to have an automated test for this case or not.

[2016-12-12 23:04] karelz commented on #14447
It's tracking 2 things:
1. Discussion in API review that this is the pattern we want and are ok with.
2. Add the attribute on the particular APIs in .NET Core.

[2016-12-12 23:14] karelz commented on #3832
@CIPop can you scope it to just one area label please? We can split the bug into 2 if necessary.

[2016-12-12 23:17] CIPop commented on #3832
By mistake only: forgot to remove the original label.

[2016-12-12 23:17] #3444 closed

[2016-12-12 23:19] karelz commented on #4508
@CIPop can you tell me more about the problem / your original suggestion?
Changing how API handles error is breaking change. However, if we believe it is the right thing to do for an API, we should consider it and discuss.

[2016-12-12 23:21] CIPop commented on #4880
@clrjunkie I'm tentatively closing this as a duplicate of 5211. Please reopen if I've missed anything.

[2016-12-12 23:24] CIPop commented on #14308
Sounds good. I'm changing this item to track adding CancellationToken in Sockets.
I'll keep #5211 to track the same feature in Security (SslStream, NegotiateStream).

[2016-12-12 23:27] CIPop commented on #5211
Keeping this item to track the work required for System.Net.Security and #14308 for similar work in System.Net.Sockets.

The work requires following the API review process, implementation and tests and is probably medium-large in size.

[2016-12-12 23:28] karelz commented on #4530
You cannot overload method on return type, but in principle if there is non-trivial perf benefit, I'd be ok adding new API.
@davidfowl is it based on Channels/Pipelines (or whatever the current name is)? In that case we might want to wait for that API, instead of trying to patch up performance of current stack.

@geoffkizer @benaadams any opinions?

[2016-12-12 23:40] karajas opened #14455 "Local packages are installed in bin.localpkg"
The locally built packages are still installed in bin.localpkg, this is due to compression size issues in CI.

[2016-12-12 23:42] karajas opened #14456 "build.sh requires logic to determine platform to filter on FilterToOSGroup"
build.sh requires FilterToOSGroup to be passed in for CI legs.

`if [ $__IsCentos -eq 1 ] ; then ...
elif [ $__IsOSX -eq 1 ] ; then
`

[2016-12-12 23:43] karajas opened #14457 "build.sh requires ServerGC flag to be turned on in CI for Release builds"
The following is stilll required for release builds.

`export CORECLR_SERVER_GC="$__ServerGC"`

[2016-12-12 23:44] CIPop commented on #13871
@kouvel reopening as I'm seeing this again (could be a different bug).
Happened 20-30min after: `.\clean -all; .\sync; .\build -outerloop`

[code]

[2016-12-12 23:49] CIPop commented on #13752
This is a duplicate of #4900. Normally I'd keep this issue active since it has relevant new information but 4900 is referenced in code as well and so cannot be closed.
I'll try to add a summary in the original bug.

[2016-12-12 23:49] #13752 closed

[2016-12-12 23:58] CIPop commented on #4900
Summary from the other issue:

1. We would like to have this implemented: requires code changes for Windows and non-Windows code, changing the tests and eventually adding new tests. We would need to modify the perf tests and get A/B perf test results. I believe this is a medium-size item.
2. We agreed that we would enable this by default.
3. @nayato confirmed with the WinSock team that enabling th

[2016-12-13 00:04] kouvel commented on #13871
This is a different failure, in EnvironmentTests.FailFast_ExpectFailureExitCode. It looks like this test is supposed to crash the child process using Environment.FailFast and see that the parent process can detect that the crashed process has exited. Based on this:
[code]
I imagine this test would be skipped in the CI. And it should probably be skipped in any environment that treats a crashed proc

[2016-12-13 00:06] AlexGhiondea commented on #14376
@ahsonkhan is this something you are working on?

[2016-12-13 00:08] AlexGhiondea commented on #14410
It looks like we would need a formal API proposal for this.

[2016-12-13 00:17] karelz commented on #14457
Why is it needed?

[2016-12-13 00:17] krwq commented on #4720
@Priya91 - I actually think that this is more broken than I thought:
http://stackoverflow.com/questions/5510343/escape-command-line-arguments-in-c-sharp

I hit this today - basically when you try to pass the path wrapped with quotes and ending with \ it is not working as expected

[2016-12-13 00:18] grockland commented on #11735
I have to amend the above as the problem of the ClientWebSocket being disposed seems not related to the KeepAliveInterval but may more likely be a tcp/websocket connection drop by the NAT/localrouter.

However I still must recommend that this interval be settable by both ClientWebSocket and WebSocket because for portable devices the power consumption is too high for e.g. 30 second KeepAlives on UD

[2016-12-13 00:25] safern commented on #14390
Doing it as part of #14275

[2016-12-13 00:25] #14390 closed

[2016-12-13 00:27] AlexGhiondea commented on #14324
I am not sure if this is a break that we would like to take.

I am going to close this issue but please feel free to re-open if you have more data around the impact this would have on existing code.

[2016-12-13 00:27] #14324 closed

[2016-12-13 00:29] AlexGhiondea commented on #12115
I think this is something we should consider!

@terrajobst, @jcouv thoughts around this?

[2016-12-13 00:31] CIPop commented on #5014
There are two ways to look at this issue:

1. Decoding data from the wire to the application:

The RFC clearly accepts all 4 examples above.
@tjamin, do we have a bug if the quoted string is received on the wire?

2. Encoding data from the application to the wire:

From https://tools.ietf.org/html/rfc7231#section-3.1.1.1:

[code]

I'm not completely convinced that we should allow the quoted string

[2016-12-13 00:31] AlexGhiondea commented on #14235
@joperezr @ericstj it sounds like we understand what needs to be done here.

Do we want to have a single issue tracking multiple placeholder additions, or will this be a one-off change?

[2016-12-13 00:37] CIPop commented on #5120
@karelz, @davidsh this is tracking [ClientWebSocketOptions](https://msdn.microsoft.com/en-us/library/system.net.websockets.clientwebsocketoptions(v=vs.110).aspx) work using WinHTTP on Windows.

This type enables scenarios such as HTTP client cert, headers, cookies, credentials, proxy and WS sub-protocol specification.

@stephentoub I remember there is similar work required for the ManagedWebSocket

[2016-12-13 00:40] ramarag commented on #4582
With https://github.com/dotnet/corefx/pull/12468 implementation has moved to System.private.corelib in coreclr repo and this issue is no longer actionable

[2016-12-13 00:40] #4582 closed

[2016-12-13 00:40] paulomorgado commented on #8034
@redknightlois

CLS-compliance? Unsigned integers are not CLS-compliant.

[2016-12-13 00:40] #13903 closed

[2016-12-13 00:41] tintoy commented on #4278
@karelz if the original tests are still available to verify the work, I'd be willing to put my hand up :)

(one of my coworkers also has relevant experience so we'd probably be working on it together)

[2016-12-13 00:43] CIPop commented on #5144
@stephentoub I believe you've already addressed all the issues above with #13134.

Please reopen if you believe any of the tracked items above are still required.

[2016-12-13 00:43] #5144 closed

[2016-12-13 00:53] stephentoub commented on #5120
The pieces not currently handled by ManagedWebSocket are listed here:
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Managed.cs#L76-L80
the two main ones being proxy and credentials.  Proxy should be pretty straightforward, I just never did it.  Credentials will be harder.

[2016-12-13 01:09] karelz commented on #4278
Key part of the work is actually to create new test assets. The old tests are insufficient and have poor coverage. We will need someone to review the spec and add test for every interesting requirement -- that's where most of the cost is.

If you are still interested, we can try to drop in source code from full .NET Framework as is - the next step will be to get it built and add test coverage, bef

[2016-12-13 01:12] CIPop commented on #5200
@karelz this looks like a behavior difference between .Net Framework and Core. I'd like us to review it for netstandard2.0.

[2016-12-13 01:14] ericstj commented on #14235
Let's let this track just Value tuple.  @marek-safar we're in the middle of a big package refactoring that should be done by end of year.  At that point let's touch base again and review the final package set in NETCore vNext.

[2016-12-13 01:19] karelz commented on #4582
@ramarag, is the main reason that the code has moved, or that the issue is fixed?

If it is the former, we currently do not have strict policy where to track non-API changes issues. So unless there is a bug in coreclr tracking it, we should keep this one opened.

[2016-12-13 01:30] ramarag commented on #4582
@karelz all strings used by exceptions in the S.P.Corelib are localizable [ as they are the same as what ships on desktop]

@KrzysztofCwalina What exceptions did you have in mind when you filed this issue ?

[2016-12-13 01:38] benaadams commented on #4530
It would have to be virtual and wrap the current method in the base as there are multiple implementations of it already.

I think its worth addressing, as it is the standard WebSocket base that everything implements. Even Pipelines would likely have to provide a derivation of it in some way (even if just a wrapper transform).

If adding a new method; I wouldn't just stop at the struct return, but

[2016-12-13 01:47] davidwrighton commented on #14369
So the reason I'm involved here is my desire to use System.Reflection.Metadata in the CoreRT runtime (which implies that it can essentially only depend on things that are in System.Private.CoreLib in the current system. I definitely believe we need to understand the costs here, as there are other ways to bring in the S.R.M code than simply to push all of the dependencies down into System.Private.C

[2016-12-13 02:09] chunseoklee commented on #14298
cc @gkhanna79

[2016-12-13 02:31] AArnott commented on #13695
Even if #13816 is fixed, that will only be for future runtimes, I presume. Since System.Collections.Immutable.dll runs on older runtimes, I don't know what we could make an optimization that takes a dependency on a newer runtime.

[2016-12-13 02:35] blgrnboy commented on #2089
Does this work also allow libraries such as SqlClient to perform Windows Authentication when running on Linux but connecting to a SQL Server that requires Windows Authentication?

That is one of my road-blocks to being able to port things to .NET Core running on Linux.  All of our enterprise Microsoft SQL servers only allow connection via a Service ID (non-interactive) which is in AD.

[2016-12-13 03:40] jamesqo commented on #6073
@karelz Can this be API reviewed again tomorrow for the corresponding methods to be added to `Queryable`? All of the `TryFirst`, `TryLast`, `TryElementAt`, and `TrySingle` overloads mentioned in the description?

[2016-12-13 03:43] jamesqo commented on #13695
cc @jkotas; if the behavior of `Array.Copy` is fixed, will it be ported back to desktop so we can make this optimization?

@AArnott If it isn't backported, one possible solution would be to use the new [`RuntimeInformation`](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs)

[2016-12-13 03:45] tintoy commented on #4278
Ok, yes - we're still interested :)

[2016-12-13 03:50] jkotas commented on #13695
Maybe, eventually. Note however that it will likely take a very long time until System.Collections.Immutable.dll is not supported on existing runtimes.

This has similar problem. Immutable collections works all the way to Netstandard1.0. RuntimeInformation is not NS 1.0.

[2016-12-13 03:57] emgarten commented on #13526
1. I would remove *ToNormalizedString* and *ToFullString*, they exist in NuGet for legacy reasons. NuGet allows versions with leading zeros (ex: 1.0.0001) and *ToString* returns it verbatim. For this class I would expect it to throw during parse if an invalid version were passed in, which would eliminate the need for *ToNormalizedString*.  NuGet uses *ToFullString* to make the caller opt in to get

[2016-12-13 03:59] AlexRadch commented on #6073
@jamesqo There is no solution how to add TryX methods to Queryable.

[2016-12-13 04:20] jamesqo commented on #6073
@AlexRadch I only glanced at his comments, but I think @bartdesmet mentioned some possible solutions at https://github.com/dotnet/corefx/pull/14276#discussion_r91574861? It seems like just he's waiting for input from @divega about which is the best method.

[2016-12-13 04:43] AlexRadch commented on #6073
@jamesqo As I understand, all possible solutions have many issues.

[2016-12-13 04:47] Jaedson33 commented on #4278
@tintoy I'm interested to help you because I really need that class.

[2016-12-13 04:49] tintoy commented on #4278
Glad to hear it :)

[2016-12-13 04:51] Jaedson33 commented on #4278
So... How can I help?

[2016-12-13 04:51] AlexRadch commented on #11465
@karelz  Issue can be closed I think.

[2016-12-13 04:51] #13809 closed

[2016-12-13 05:05] tintoy commented on #4278
Let me first have a chat to my coworker and we'll come up with a plan of attack. @karelz - are there any guidelines or other docs we should read before wading in? To start with, I'm guessing my coworker will probably wade into the standard, I'll probably look at working out where the code needs to go (and what's involved in getting existing tests from other parts of the framework to run before we

[2016-12-13 07:19] HamedFathi commented on #14433
@mellinoe , Thanks for your answer.
I have 2 questions

1. I tested your code with Exception !!!!
[code]

I set a breakpoint in Load() and I called _loadContext.LoadFromAssemblyPath() but breakpoint did not fire !!! Why ? seems override the method does not effect !!!!
I believe I should override Load() method with new functionaly for CopyAndLoad Am I right ?

2. Consider I Copy whole dlls in anoth

[2016-12-13 07:20] AlexRadch commented on #4928
@karelz I am working on this issue

[2016-12-13 07:59] dotnet-mc-bot opened #14466 "Test failure: System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests/Comparer_EqualsShouldBeOverriddenAndWorkForDifferentInstances"
Opened on behalf of @Jiayili1

The test `System.Collections.Generic.Tests.BadlyBehavingComparableComparersTests/Comparer_EqualsShouldBeOverriddenAndWorkForDifferentInstances` has failed.

System.TypeInitializationException : The type initializer for 'System.RuntimeDetection' threw an exception.\r
    ---- System.PlatformNotSupportedException : Operation is not supported on this platform.

[2016-12-13 08:04] tanaka-takayoshi commented on #14412
@AlexGhiondea @shaggygi  sure. I hope supporting ``0b`` prefix.

[code]

This is similar to ``0x`` prefix. It has already been supported. There's little motivation for me to use ``0b`` prefix. However, it's not incongruous to support only ``0x`` prefix after Roslyn supports ``0b`` literals.
[code]

[2016-12-13 08:14] tanaka-takayoshi commented on #14410
At present, It is only necessary for me to confirm there're no plans to support this.

[code]

However, I'd like to hear other opinions.

[2016-12-13 08:15] mellinoe commented on #14433
Right, unloading of assemblies is not supported right now, although it has been requested in the past and and is on our radar for eventual support.

I don't have a good answer for that.

@gkhanna79 What would you recommend for this scenario?

[2016-12-13 08:21] tmds commented on #14152
@karelz is this okay as an API proposal?

[2016-12-13 08:40] HamedFathi commented on #14433
@mellinoe,  Microsoft support be support disposing context or unloading specific assembly from context for unblocking current dlls. AssemblyLoadContext should have some Unload methods/Options !!!
Thanks

[2016-12-13 09:01] dotnet-mc-bot opened #14467 "System.Runtime.InteropServices.RuntimeInformationTests.CheckArchitectureTests/VerifyArchitecture missing Binding redirect"
Opened on behalf of @Jiayili1

The test `System.Runtime.InteropServices.RuntimeInformationTests.CheckArchitectureTests/VerifyArchitecture` has failed.

System.PlatformNotSupportedException : Operation is not supported on this platform.

        Stack Trace:

           at System.Runtime.InteropServices.RuntimeInformation.get_OSArchitecture()
       at System.Runtime.InteropServices.RuntimeInformat

[2016-12-13 09:14] Jiayili1 commented on #10892
Issue still happening on build 20161213.02 for test: System.Xml.Linq.Tests.XAttributeAxesWithXName\InvalidXNameTest

Message :
Assert.Throws() Failure\r\nExpected: typeof(System.Xml.XmlException)\r\nActual:   typeof(System.Xml.XmlException): Name cannot begin with the '*' character, hexadecimal value 0x2A.

Stack Trace :
   at System.Xml.XmlConvert.VerifyNCName(String name, ExceptionType exception

[2016-12-13 09:20] Jiayili1 commented on #10896
Issues happening on build 20161213.02 for tests under System.Xml.Linq.Events.Tests:

Message :
System.MissingMethodException : Method not found: 'System.Xml.XmlNodeType System.Xml.Linq.XObject.get_NodeType()'.

Stack Trace :
   at CoreXml.Test.XLinq.UndoManager.Changing(Object sender, XObjectChangeEventArgs e)
   at System.EventHandler`1.Invoke(Object sender, TEventArgs e)
   at System.Xml.Linq.XO

[2016-12-13 09:26] dotnet-mc-bot opened #14468 "Test failure: System.Xml.Linq.Tests.RegressionTests/CreatingNewXElementsPassingNullReaderAndOrNullXNameShouldThrow failed with 'System.MissingMethodException'"
Opened on behalf of @Jiayili1

The test `System.Xml.Linq.Tests.RegressionTests/CreatingNewXElementsPassingNullReaderAndOrNullXNameShouldThrow` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentNullException)\r
    Actual:   typeof(System.MissingMethodException): Method not found: 'System.Xml.Linq.XNode System.Xml.Linq.XNode.ReadFrom(System.Xml.XmlReader)'.

        Stack T

[2016-12-13 09:26] ewinnington commented on #2394
For the workflow designer front-end, there is a first attempt available on github: https://github.com/gary-b/WF4JSDesigner and you can use it live http://gary-b.github.io/WF4JSDesigner/

This is what it already looks like:
![image](https://cloud.githubusercontent.com/assets/3533203/21134503/839b11ee-c11e-11e6-99d0-385aa636de9a.png)

[2016-12-13 10:39] JonHanna commented on #14432
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/1285/

[2016-12-13 11:26] clrjunkie commented on #4880
I have no problem with having a single open issue on this topic, but a cursory read of #5211 suggests to me that this is not the right issue to replace this issue as it's title and the first few messages that follow suggest that the scope of the problem is limited to System.Net.Security.

I would argue that this issue is better suited to represent the problem than #5211 because it highlights the g

[2016-12-13 12:04] gpiercey opened #14469 "Update corefx build configurations for Fedora 24 and 25"
With Fedora 23 EOL on Dec 20, 2016 the corefx build configurations should be updated to support source builds on Fedora 24 and 25.

release/1.1.0:
- seems to have build configuration for Fedora 24 but it is not mentioned in README.md
- needs a build configuration for Fedora 25
- build & test status in README.md should include Fedora 24 and 25 instead of 23.

release/1.0.0:
- needs build configurat

[2016-12-13 12:46] stephentoub commented on #14443
Thank you, but no, this doesn't address my concerns.

First, this issue was opened about creating a specialized LINQ that optimizes for the speed of returning the ```IEnumerable<T>``` from calls like Intersect.  That only matters if you're not going to use (i.e. call GetEnumerator and MoveNext, explicitly or implicitly) on the result, and your examples do use those, so I've yet to see an example t

[2016-12-13 14:07] varocarbas commented on #14443
@stephentoub

As explained, using `First()` delivers a (surprisingly) faster performance. By quickly looking at [its code](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/First.cs), it doesn't need to call `GetEnumerator`/`MoveNext` in certain cases, which seems what is happening with the proposed tests (firstly `Intersect()` with new algorithm and then `First()`). Thi

[2016-12-13 14:46] vcsjones commented on #13526
@karelz @emgarten Can we clarify if this proposal is going to have 4 components to cover NuGet's needs, since they do require 4 version components, or that this is supposed to be a true reflection of SemVer?

[2016-12-13 14:48] mattwarren commented on #14443
`ToString()` returns 'System.Linq.Enumerable+<IntersectIterator>d__69\`1[System.Int32]', I don't know why you think this is a valid benchmark, in what real-world scenario do you need good performance when calling `ToString()` on a `IEnumerable`? Maybe you mean `String.Join(", ", output)` that would at least iterate through the result and collect the items in it, producing something like "1, 2, 3,

[2016-12-13 14:49] AlexRadch commented on #14338
Is it correct ?
[code]

[2016-12-13 14:53] AlexRadch commented on #14338
I sagest implement Shift(from, lenght, shiftCount) then Move will be Shift(from, to-from+1, 1)

[2016-12-13 14:56] AndersAbel commented on #4278
To keep the scope a bit limited I'd recommend to start without the features that are disabled by MS16-035 (xpath transform, xslt transform, external references). I don't know what room there is for breaking changes, but the current fallback mechanism in DefaultGetIdElement can be exploited in signature wrapping attacks. I'd prefer a more secure default version.

It would also be good if the intern

[2016-12-13 15:03] varocarbas commented on #14443
@mattwarren

You misunderstood the point. The better-performing scenario is `var result = Intersect()`, `ToString()` was just the way to output `result` without provoking the performance of the proposed approach to dropdown. This is undoubtedly a quite unorthodox situation, but I was plainly trying to make a point (i.e., it is possible to use `Linq`-generated results in a non-standard way, by avoi

[2016-12-13 15:07] varocarbas commented on #14443
@mattwarren

You misunderstood the point. The better-performing scenario is `var result = Intersect2();`, `ToString()` was just the way to output `result` without provoking the performance of the proposed approach to dropdown. This is undoubtedly a quite unorthodox situation, but I was plainly trying to make a point (i.e., it is possible to use `Linq`-generated results in a non-standard way, by av

[2016-12-13 15:10] jnm2 commented on #13526
I'm holding my breath and hoping you'll do the best thing for the wider BCL consumer base, even if that isn't ideal for NuGet.

[2016-12-13 15:45] steveharter commented on #14432
Only the last link still had data; osx_release
[code]

[2016-12-13 15:57] karelz commented on #10892
This time on Desktop ...

[2016-12-13 15:58] karelz commented on #10896
This time on Desktop ...

[2016-12-13 16:01] karelz commented on #11465
@AlexRadch in future, please include in your PR keywords for closing the issue: https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-12-13 16:03] #11465 closed

[2016-12-13 16:05] karelz commented on #14152
@ianhays is the expert on Console - he should comment and do first-level API review.

[2016-12-13 16:06] AArnott commented on #13695
Thanks, @jkotas. Then I think if we make this optimization, it should be the careful one described in the issue description that assumes `Array.Copy`'s current behavior.

[2016-12-13 16:08] karelz commented on #4278
@tintoy I don't think we have good docs. I think we should add the sources and then we can parallelize the work - let me sync with @bartonjs @steveharter @ianhays.

[2016-12-13 16:22] nevcoBpalacio commented on #2089
blgmboy. Your problem is a prime example on why things need to be "vetted" out to ensure true cross-platform compatibility with the new suggested models. If you have more scenarios I think your environment is a good example of how things need to cross and you should list any other problems you are having with the AD portion of Core.

[2016-12-13 16:25] justinvp opened #14473 "Revert System.Linq assembly version bump?"
#13726 added a new System.Linq API so the minor assembly version was incremented, but it sounds like the version change needs to be reverted according to @joperezr's comment: https://github.com/dotnet/corefx/pull/13828#discussion_r90931863

cc: @ericstj, @JonHanna, @stephentoub

[2016-12-13 16:29] AndersAbel commented on #4278
I'll try to find some time to help too. If there are any questions on the spec and how it works I'll be happy to look into that - I've already spent some time reviewing the spec.

Does anyone has anything to say about the idea to consolidate SignedXml and the EnvelopedSignatureReader used by System.IdentityModel?

[2016-12-13 16:44] karelz commented on #4278
@AndersAbel

We should start with latest .NET Framework source code, which should be secure. If you have any concerns about .NET Framework code security, please let us know offline.

No room, we should start with straightforward port from .NET Framework. Any further improvements, changes, breaking changes, etc. can be considered later. Not as part of the initial work. Otherwise it will grow over o

[2016-12-13 16:57] bartonjs commented on #4278
@AndersAbel If you believe there is a security concern, please follow the vulnerability reporting process at https://technet.microsoft.com/en-us/security/ff852094.aspx.

It likely isn't possible.  SignedXml is very heavily (and public-API-ally) based on the rich-DOM XmlDocument.  IdentityModel's representation is based on XmlReader.  But, once the existing stuff is brought over it can be investiga

[2016-12-13 17:00] karelz commented on #6073
@jamesqo I need first comment from area experts - @OmarTawfik or @VSadov (who is OOF).

[2016-12-13 17:01] MikeInBA commented on #14329
@karelz have you seen this before?  Is there a change I am missing?

[2016-12-13 17:01] tarekgh commented on #14160
I believe we have 2 options to support formatting with TZ:
- we can attach default TZ object to CurrentCulture (note that is not CurrentUICulture) and then all Date/Time formatting will use this TZ object during the formatting. the problem with this approach is for the app which don't want to use the TZ during the formatting even when someone (like any used library) set it. in addition to that, th

[2016-12-13 17:05] ericstj commented on #14473
That's the practice we've been following so far.  If API is core only we don't bump assembly version.  The logic behind that was that we didn't want Core defining what was in new assembly versions when those assemblies were also part of NETStandard.

Once we change to make netstandard not use contract assemblies and instead use NETStandard.dll we could revisit that POR (/cc @weshaggard), but until

[2016-12-13 17:06] karelz commented on #14329
Post a stack trace as txt, not as picture (that's not helpful)
Try to avoid [External Code](http://stackoverflow.com/questions/654696/how-to-debug-external-class-library-projects-in-visual-studio).

[2016-12-13 17:32] karelz commented on #14469
@mellinoe opinions?

[2016-12-13 17:33] karelz commented on #14473
cc: @JonHanna @OmarTawfik @VSadov

[2016-12-13 17:38] karelz commented on #14336
@joperezr is there any downside to implementing `IReadOnlyList<char>` on `string`?
The issue title says "instead of `IEnumerable<char>`" - that would be a breaking change we can't take right?

[2016-12-13 17:39] karelz commented on #14334
@joperezr can you please add the formal API on the top?

[2016-12-13 17:48] karelz commented on #12425
@mellinoe are we ready for API review with this issue? I see lots of discussion after you marked it as such ... Do we need more time to flush out the API design?

[2016-12-13 17:51] karelz commented on #13526
@NickCraver do you want to incorporate NuGet team feedback from @emgarten above?

[2016-12-13 17:52] JonHanna commented on #14473
Any possible downsides to the reversion?

[2016-12-13 17:55] SamuelEnglard commented on #14336
@karelz `IReadOnlyList<T>` implements `IEnumerable<T>` so not a breaking change, no?

[2016-12-13 17:56] JonHanna commented on #14336
It would be an impossible change too, since `IReadOnlyList<char>` derives from `IEnumerable<char>`, though maybe they were thinking about how at the code level you don't need `IEnumerable<char>` to appear in the source any more once you've added `IReadOnlyList<char>`.

[2016-12-13 17:56] ericstj commented on #14473
You can run into ref-def mismatches in testing when the change is made if the test or any dependencies were compiled against the old package and using the new implementation.  @karajas's recent work should alleviate this though since it runs all tests against the live build instead of mixing/matching.

[2016-12-13 17:58] JonHanna commented on #14473
Sooner the better then.

[2016-12-13 17:59] gkhanna79 commented on #14433
The breakpoint will be hit when static assembly references (i.e. assemblies referenced in manifest of the assembly being loaded OR when doing Assembly.Load) are resolved.

As @mellinoe mentioned, we do not have collectible load contexts yet. For your scenario, I would suggest that you do the following:

1) Load assemblies in a different LoadContext than Default - this is because once an assembly i

[2016-12-13 17:59] DelfCo commented on #3894
This is intentional. Asking us to do the work for you just means that you're trading doing your own research, testing, and/or digging through the source and finding the exceptions you care about, for having someone else (me) dig through the source and guess which exceptions you might care about. Even if that were possible, I'm responsible for too many other things to be able to do that job adequat

[2016-12-13 18:14] terrajobst commented on #10528
We just talked about it and concluded we should indeed remove this overload:

[code]

We should leave the other `CopyTo` methods in, though.

[2016-12-13 18:18] MikeInBA commented on #14329
@karelz
`System.Private.CoreLib.ni.dll!System.RuntimeType.CreateInstanceSlow(bool publicOnly, bool skipCheckThis, bool fillCache, ref System.Threading.StackCrawlMark stackMark)
 	System.Private.CoreLib.ni.dll!System.Activator.CreateInstance<Internal.Cryptography.Pal.Native.SafeLocalAllocHandle>()
 	System.Security.Cryptography.X509Certificates.dll!Internal.Cryptography.Pal.Native.SafePointerHandle

[2016-12-13 18:21] terrajobst commented on #13427
So the value of having `UIntPtr` is that the size if pointer sized (which in 64-bit is larger than `uint`). However, on 32-bit you don't have to pay for the widening to `long`. We considered removing the `uint` ones but those are for convenience.

Looks good as proposed.

[2016-12-13 18:26] karelz commented on #13427
@nietras assigning to you now ... let me know if you don't want to work on it.

[2016-12-13 18:27] nietras commented on #13427
@karelz it is already done, https://github.com/dotnet/corefx/pull/13848, no need for up for grabs.

[2016-12-13 18:33] karelz commented on #10528
@AlexRadch thanks for pointing it out. The API proposal in the top post is now updated. Feel free to implement it as defined in the top post.

[2016-12-13 18:35] tarekgh commented on #14329
CC @bartonjs

[2016-12-13 18:36] tarekgh commented on #14329
[code]

[2016-12-13 18:37] AlexRadch commented on #10528
@karelz I found 2 issue about Empty
1. It should be `static`.
2. I think we should add IsEmpty property.

[2016-12-13 18:37] geoffkizer commented on #4900
I have an implementation of this for Windows at https://github.com/geoffkizer/corefx/tree/synccompletion.

It has a few minor issues, but it works.  Feedback welcome.

Looking at the Linux stuff next.

[2016-12-13 18:39] terrajobst commented on #13800
Looks good as proposed.

[2016-12-13 18:48] OmarTawfik commented on #6073
I agree with @stephentoub. I think that we should stick to the pattern of other helpers. I don't see it as `Try+Verb+Noun`, but as `Try+OriginalOperationName`.

[2016-12-13 18:51] terrajobst commented on #14047
API looks fine. We're not concerned about the language design because they are likely going down a different path. We also considered adding an overload taking `Type` but concluded we don't need it yet.

[2016-12-13 18:57] bartonjs commented on #14329
This is https://github.com/dotnet/coreclr/issues/8148.  https://github.com/dotnet/corefx/issues/13814#issuecomment-261644867 mentions a diagnostic confirmation step (which happens to be a temporary workaround).

[2016-12-13 18:57] #14329 closed

[2016-12-13 19:02] justinvp commented on #14473
@JonHanna, want to grab it?

[2016-12-13 19:08] JonHanna commented on #14473
I'm on phone right now, and it might be a few hours before I can.

[2016-12-13 19:11] karelz commented on #6073
@OmarTawfik that has been already "decided". The last open question is -- should we add the `Queryable` companions or not?

[2016-12-13 19:17] OmarTawfik commented on #6073
@karelz that makes sense to me.

[2016-12-13 19:27] karelz commented on #6073
Are they direct copy of the Enumerable methods? Can you please update the proposal at the top?

[2016-12-13 19:29] karelz commented on #14329
FYI: Also documented as known 1.1 issue here: https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1-known-issues.md#systemexecutionengineexception-in-systemsecuritycryptographyx509cerificatesdll-on-windows

[2016-12-13 19:35] karelz commented on #10528
`Empty` fixed to `static`.

Let's track `IsEmpty` addition as separate issue, otherwise we will never converge on the API shape. Please file it, provide API shape and motivation (IMO `Span` has it is not good enough - I would like to see more details and usage patterns).

[2016-12-13 19:40] karelz commented on #13427
Yep, that's why it is assigned to you.
We are not consistent in removing "up for grabs" when we assign it to someone and we don't have process to catch when a person is unassigned or doesn't deliver for a long time to put "up for grabs" back. That's why I prefer to keep it there even if it is assigned to someone ...

[2016-12-13 19:44] karelz commented on #14336
Updating the title.
@joperezr can you please add the formal API review (API shape, motivation, usage). It will be easier to review.

[2016-12-13 19:48] karelz commented on #7953
The PR is already marked netfx-port-consider. I marked also this issue ... just in case.
Please post here any impact information you have ...

[2016-12-13 19:48] emgarten commented on #13526
I would expect *System.SemanticVersion* to be 3 parts and follow the SemVer rules. NuGet can continue supporting the legacy 4 part versions separately.

[2016-12-13 19:49] rvfernandes commented on #14319
@stephentoub   CPU spikes after the exceptions and stays above normal until the server is reset.

[2016-12-13 19:51] steentottrup commented on #14160
I was hoping for option one, and it's actually kind of what I did the first couple of times I needed timezones (putting it on the CultureInfo that is).
I hadn't taken into account the compat issue, where the app isn't interested in the tz support, but a library used, is changing the tz.

So option 2 is certainly acceptable! Even though I dislike the need for all these extra methods.

[2016-12-13 20:01] karelz commented on #3894
@DelfCo there is likely misunderstanding. No one is pushing work on your plate ;-).
For context please read our [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md), esp. about "up for grabs".

@CIPop you might want to update your text to clarify those are the next steps you expect from whomever picks up the issue -- it is not clear even for me.
Als

[2016-12-13 20:13] CIPop commented on #4508
This is actually [quoting](https://github.com/dotnet/corefx/pull/9258#r66335293) @stephentoub. In brief, the async methods have two stages:

1. Synchronous stage: setup the async operation.

E.g. An I/O API should verify arguments, prepare all structures, configure the Win32 API to be asynchronous (setting a callback), and finally call the Win32 API. The Win32 API should return immediately with so

[2016-12-13 20:17] CIPop commented on #13871
I ran `.\build -outerloop` and I have WinDBG installed as post-mortem debugger (`windbg -I`).

[2016-12-13 20:21] CIPop opened #14480 "ManagedWebSocket HTTP scenarios implementation"
Tracking the implementation of the following items:

- [ ] ClientWebSocketOptions.UseDefaultCredentials
- [ ] ClientWebSocketOptions.Credentials
- [ ] ClientWebSocketOptions.Proxy
- [ ] ClientWebSocketOptions._sendBufferSize

[2016-12-13 20:22] CIPop commented on #5120
I've opened #14480 to track the item. I'll submit a PR to change the code to point to the issue. (The TODO is missing the issue number.)

[2016-12-13 20:22] mellinoe commented on #14469
These are release ("servicing") branches, so we won't be adding large new features to them, like support for a new distro. In the future, distro support and the build process around them will be less rigidly-defined.

As for whether we should continue to build for and support Fedora 23 after its EOL, I guess that's a bigger question about our servicing support for OS's which aren't maintained anym

[2016-12-13 20:29] kouvel commented on #13871
I see, makes sense. Probably should skip this category in that environment.

[2016-12-13 20:30] CIPop commented on #4880
Sorry about that. You're right: I've ended up splitting these per contract but didn't change the ref here.

The issue tracking this work now is #14308.

[2016-12-13 20:31] #4880 closed

[2016-12-13 20:33] mellinoe commented on #12425
No, I don't think so.

[2016-12-13 20:34] clrjunkie commented on #4880
Thanks.

[2016-12-13 20:48] CIPop commented on #3894
Sorry about that @mariaw, @DelfCo. /cc is used to add you to the notification list of an issue and isn't considered an assignment.
Exceptions were documented in the past. For example, see the [Exceptions list for ConnectAsync](https://msdn.microsoft.com/en-us/library/bb538102(v=vs.110).aspx#Anchor_1). We are missing this paragraph entirely for [HttpClient.GetAsync ](https://msdn.microsoft.com/en-u

[2016-12-13 20:51] CIPop commented on #13871
I was merely adding more info to help the investigation. We are running -outerloop in CI and having a WinDBG installed as a postmortem debugger is definitely something that should be allowed.

I believe this is still a bug that needs to be fixed.

[2016-12-13 20:53] CIPop commented on #13871
/cc @AlexGhiondea, @joperezr

[2016-12-13 21:04] kouvel commented on #13871
Is the issue that the trait "IgnoreForCI" is not already being skipped in the CI? I just assumed that it is already skipped based on the name. I don't know much about how the tests are set up to run in the CI.

[2016-12-13 21:13] kosinsky commented on #7953
We are using OData service with pretty wide entities and EF6. When someone uses $select=Col1,Col2,... Col100 it causes Stackoverflow inside EF. As described at OData/WebApi#784.  $select=Col1,... is converted by OData to expression like
[code]
Currently we implemented workaround that converts $select=Col1, Col2, .. to $select =* when we have more than 80 columns, however, it means wider select cla

[2016-12-13 21:18] blgrnboy commented on #2089
Yes, I will definitely keep this thread in mind and share anything that I find. Just wanted to let everyone know that this is a pretty big show stopper for Enterprises with SQL farms that have strict security as described.

[2016-12-13 21:19] blgrnboy commented on #2089
It is also a show stopper to using something like EF Core which ultimately would have the same problem.

[2016-12-13 21:25] tintoy commented on #4278
@AndersAbel - cheers, I'm sure we could use the help :)

[2016-12-13 21:29] divega commented on #6073
I am only now catching up with this discussion and I would still like to provide my input:

I can second many of @bartdesmet's comments [here](https://github.com/dotnet/corefx/pull/14276#discussion_r91574861), and I agree with the reasoning that if we are going to have these methods on `IQueryable` the version that returns a `Tuple` (or `ValueTuple`) seems to be more appropriate that one that uses

[2016-12-13 21:35] BrainSlugs83 commented on #13294
Hmmm... this seems like a lot of extra work for something that should really just be fixed transparently. -- What I'm hearing is that for applications that you don't have the source to (or that have a signed manifest, etc.), there's basically no way for a user to enable this fix. -- (Which is a pretty transparent and harmless fix.)

To me, this seems like pretty much the opposite approach Microsof

[2016-12-13 21:50] Priya91 commented on #14467
Looked at this, helix packages folder is only having lib\netstandard1.1 dll instead of the entire fat package. The dll should be picked from runtimes\win\lib\net45 in the packages folder. Not sure how Helix architecture is set up, @MattGal @Chrisboh  Can you look into this.

[2016-12-13 21:52] karelz commented on #13294
[Jeremy's blog post](https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/) already states:
- The app config is fully editable by power users already. What do you see missing?
- New projects (on .NET 4.6.2+) get the new behavior by default.

[2016-12-13 21:53] CIPop commented on #13871
/cc @karelz

@kouvel A few clarifications:
* The only issue is that WinDBG caught a crash. (The trait problem you mention could be the cause but I didn't investigate more.)
* Neither of the incidents happened in CI but on my own box. (Apologies for the ambiguous statement I've made above: What I meant was that -outerloop is something that runs there as well.)
* Both incidents happened when running

[2016-12-13 22:02] ahsonkhan opened #14484 "Span: Enable IndexOverflow test when FastSpan.GetItem is implemented"
Related: issue #13681

There is no public ref T GetItem(int index) method implementation in Fast Span. It is unclear if we want this method at all or if the indexer is sufficient. Therefore, the overflow test has been disabled until the above issue has been resolved and we either get the missing implementation or adjust the test.

[2016-12-13 22:07] wjzhou opened #14485 "Question: How to use ZipArchive in aspnet core"
I try to generate zip file on the fly though ZipArchive in an aspnet core program.

In various places, ZipArchive access the base stream's Position property, which throw NotImplementedException in the aspnet core's FrameResponseStream.

For now, I have to wrap the FrameResponseStream in yet another wrap and implement the Position property.

Is there a better way to handle that? Thank you.

I think

[2016-12-13 22:07] JeremyKuhne commented on #13294
As @karelz stated, targeting 4.6.2 or higher will get you the new behavior by default. This is our normal way of introducing new features. You can opt into anything without recompiling by tweaking the app config for a particular exe _or_ (not recommended) by editing the machine.config.

As far as Windows is concerned they didn't turn their support on without hoops due to missing OS support (cmd do

[2016-12-13 22:11] karelz commented on #13871
@kouvel if the test has "IgnoreForCI", where is it supposed to run?

Running outerloop tests on dev box is common dev workflow. We should enable developers to collect crashes from tests and allow them to get specific test failures under debugger of choice.
If setting up machine-wide post-mortem debugger is common dev setup, we should make sure we do not interfere with the setting, or we detect it

[2016-12-13 22:28] kouvel commented on #13871
In that case this test could probably be skipped by default for "build -outerloop". There appear to be only three tests in this category and this test is probably the only one that would interfere with local runs, so we could create a new trait just for this test and have that trait be skipped by default. This test could be run manually if/when needed. I'm not sure what the current impact of Ignor

[2016-12-13 22:49] sepidehMS commented on #14454
@shmao, @zhenlan could you please take a look?

[2016-12-13 22:55] mellinoe commented on #14375
Fixed with #14377.

[2016-12-13 22:55] #14375 closed

[2016-12-13 23:02] jamesqo commented on #6073
@divega

I agree. The best thing for these methods to do, actually, would be to return a `T?`; it's too bad that Nullable has an artificial struct constraint. Out parameters don't really mix well with other methods because Linq is all about lazy evaluation, even though it works in this case (`First`, `Single`, etc. are eagerly evaluated).

[2016-12-13 23:14] fabiano commented on #14050
I was having the same problem with the same package. Building on my machine (VS 2015 Update 3) but failing on my build server (Build Tools 2015).

Fixed when I updated my build server to use the Build Tools 2015 Update 3.

[2016-12-13 23:29] ahsonkhan opened #14486 "Span: DangerousCreate should avoid argument validation"
For Span/ReadOnlySpan DangerousCreate method, should we remove the following test cases to increase performance:
* SpanTests - DangerousCreateNullObject
* SpanTests - DangerousCreateBadLength
* ReadOnlySpanTests - DangerousCreateNullObject
* ReadOnlySpanTests - DangerousCreateBadLength

It was suggested that the Fast and Slow Span implementations should not do the check/throw on null object or neg

[2016-12-13 23:38] Chrisboh commented on #14467
@Priya91,
@MattGal can help you get a local repro working.  Also, now that @karajas has checked in, there should be no difference between how things run in Helix and how they run locally.  What happened when you tried to run it locally?

[2016-12-13 23:48] NickCraver commented on #13526
Here's a revised API based on feedback that mostly removes the NuGet specific pieces. I want to sanity check here before updating the top (since GitHub doesn't show history):

[code]
Open questions:
- Are these the proper constructors?
  - Note: I added a `string version` constructor, [for parity with `Version`](https://msdn.microsoft.com/en-us/library/y0hf9t2e(v=vs.110).aspx).
- What does `System

[2016-12-14 00:05] mellinoe opened #14488 "ExcludeFromCodeCoverageAttribute cannot be applied to assemblies"
We have added `ExcludeFromCodeCoverageAttribute` back into our public API's as part of the .NET Standard 2.0 work. We've been using a local version of this attribute in many of our test assemblies in order to control what shows up in our code coverage reports. The public version we are now exposing does not allow the attribute to be applied to assemblies, so our test assemblies cannot use the publ

[2016-12-14 00:08] MattGal commented on #14467
@Chrisboh this being Priya, I think she's already used the repro tool ("did a repro locally of the helix job")

@Priya91 there have been some recent changes made to test building, but in the end we always bring along only the files that would be brought along in local execution.  Can you share the line you're using when you build and run the test locally?

[2016-12-14 00:08] sepidehMS commented on #6188
I believe this is already fixed, as it looks like a DateTime bug and I wasn't able to repro after changing DateTime settings on the OS. Please re-open if happens again.

[2016-12-14 00:08] #6188 closed

[2016-12-14 00:09] shmao commented on #14454
Thanks, @sepidehMS . We will look into this.

[2016-12-14 00:12] karajas commented on #14467
This also may be before the binding redirect change which still needs some tweaking.

[2016-12-14 00:54] JonHanna commented on #14488
That would have potential uses for other users, as an alternative means of excluding the test projects themselves from coverage.

Alternatively, since the rule is `-excludebyattribute:*.ExcludeFromCodeCoverage*` then something like `ExcludeFromCodeCoverageAssemblyAttribute` should also be excluded from coverage and need not be exposed.

[2016-12-14 00:57] JohnChen0 commented on #13738
Fixed with #14474.

[2016-12-14 00:57] #13738 closed

[2016-12-14 01:06] Clockwork-Muse commented on #5200
Possibly related to #13169

[2016-12-14 01:08] mellinoe commented on #14488
Good point. I wasn't sure how we were actually getting the coverage tools to recognize that attribute. I assumed it was hardcoded in some way to the .NET framework type name. But if we control that, we can just call our internal type something different.

[2016-12-14 01:13] jiangzeng commented on #14148
@karelz @danmosemsft  Got it.
As @sepidehMS has fixed this issue, so I will not open a new ticket.

[2016-12-14 01:27] chcosta opened #14492 "Vertical build from source cleanup tasks"
Post PR (https://github.com/dotnet/corefx/pull/14171) cleanup tasks
- [x] Enable building System.Private.Xml.Linq
- [x] Enable building System.Runtime.Serialization.Formatters
- [x] Enable building System.Threading.Overlapped
- [x] Eliminate duplication between src\ref.builds, src\src.builds and GatherProjectsForVerticalBuild in buildvertical.targets
- [x] eliminate duplication in buildvertical.pr

[2016-12-14 01:50] JonHanna commented on #14488
I've done similar for projects I had compiling different versions for frameworks 3.5 and 4.0. For the 4.0 build I used the framework's type, but since it didn't exist in 3.5 I had my own internal attribute, and since the exclusion is by name, it works fine.

[2016-12-14 02:42] awcullen opened #14495 "After upgrading NetStandard.Library from 1.6.0 to 1.6.1, getting FileLoadException."
After upgrading my library's  dependency on NetStandard.Library from 1.6.0 to 1.61, my unit tests fail:
System.IO.FileLoadException: Could not load file or assembly 'System.Net.Sockets, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference.

My library's json:
{
  "supports": {

[2016-12-14 02:43] nguerrera opened #14496 "Time to revisit need to register code pages provider?"
I'm working on localization of dotnet/cli itself and I hit an issue where csc on .NET Core on Windows can give me garbled text if I'm on a non English machine with corresponding satellite assemblies present.

The root cause is https://github.com/dotnet/corefx/issues/10054. I'm going to have to ensure that msbuild, cli, and roslyn all call Encoding.RegisterProvider(CodePagesEncodingProvider.Instanc

[2016-12-14 02:44] erikcai8 commented on #2394
@ewinnington: Great to see the web workflow designer POC. I have built another one as below screenshot shown.

![image](https://cloud.githubusercontent.com/assets/11453020/21167623/9045ab2c-c162-11e6-9dc7-efff03c05f32.png)

[2016-12-14 02:56] AlexRadch commented on #8719
Shift all the bit values to left/right on count bits. The current instance is updated and returned.
Exceptions: ArgumentOutOfRangeException if count < 0

Is it correct exception behavior?

[2016-12-14 03:14] JonHanna commented on #11556
In the case of excessive new threads being hit, should this throw insufficient stack, or allow the stack overflow to just happen?

[2016-12-14 03:23] gkhanna79 commented on #14298
@chunseoklee How did you initialize the rootfs?

[2016-12-14 03:40] sillyousu opened #14499 "TcpListener AcceptSocketAsync broken"
[code]

[code]
I except the main thread blocking at `t.Wait()` but the program exit immediately.

[2016-12-14 04:22] AlexRadch commented on #6073
I would like to use methods with out parameters in public interface, and at the same time, I support to use tuples inside Queryable and providers . I think this is the most convenient solution. The only issue is how find corresponding methods in Enumerable. I see next ways to solve this issue

1. Add QueryableToEnumerableHelper that will rewrite tuple methods to Enumerable methods with out paramet

[2016-12-14 05:03] #14499 closed

[2016-12-14 05:17] HamedFathi commented on #14433
@gkhanna79

Ok thanks

[2016-12-14 05:19] ericstj opened #14501 "Update projects to netcoreapp2.0 / netstandard2.0 / net461"
We need to update our projects to build against these new monikers and package as the same.

Since netstandard2.0 is supported by net461 most desktop builds should be targeting this version rather than net463.

[2016-12-14 05:22] AlexRadch commented on #6073
@jamesqo can next
[code]
be rewritten as next in c#7 or not?
[code]
But in any way it is bad code style.

[2016-12-14 05:54] AlexRadch opened #14502 "Add IsEmpty property to ArraySegment<T>"
ArraySegment  can be created as empty by using `default(ArraySegment<T>)` or using `ArraySegment<T>.Empty` property. If we try execute any operation on such segment then it will throw invalid operation exception. To protect from calling such operations I suggest to add `IsEmpty` property to `ArraySegment`. Also most operation do nothing if segment has zero length. And user code can use `IsEmpty` p

[2016-12-14 05:54] jiangzeng opened #14503 "Packages threw exception '[Error 267] The directory name is invalid' & '[Error 2] The system cannot find the file specified'"
No results generated.

For win8 & win7: [Error 267] The directory name is invalid'
[code]

For win10: [Error 2] The system cannot find the file specified
[code]

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20161214.01/workItem/Packages

Build : Master - 20161214.01 (Core Tests)
Failing configurations: Win81, Win7 &

[2016-12-14 05:58] AlexRadch commented on #10528
@karelz I created separate issue #14502

[2016-12-14 06:00] chunseoklee commented on #14298
For ubuntu-14.04-arm, I used `$ cross/build-rootfs.sh arm`.
I didn't try ubuntu-16.XX rootfs yet.

[2016-12-14 06:03] dotnet-mc-bot opened #14504 "Test failure: System.Net.Security.Tests.ServerAllowNoEncryptionTest/ServerAllowNoEncryption_ClientRequireEncryption_ConnectWithEncryption"
Opened on behalf of @jiangzeng

The test `System.Net.Security.Tests.ServerAllowNoEncryptionTest/ServerAllowNoEncryption_ClientRequireEncryption_ConnectWithEncryption` has failed.

System.IO.IOException : Authentication failed because the remote party has closed the transport stream.

        Stack Trace:

           at System.Net.Security.SslState.StartReadFrame(Byte[] buffer, Int32 readBytes, Asy

[2016-12-14 06:05] jiangzeng commented on #14504
Similar issue with #14177

[2016-12-14 06:08] dotnet-mc-bot opened #14505 "Test failure: System.Threading.Tasks.Dataflow.Tests.ActionBlockTests/TestFaulting"
Opened on behalf of @jiangzeng

The test `System.Threading.Tasks.Dataflow.Tests.ActionBlockTests/TestFaulting` has failed.

Assert.Equal() Failure
    Expected: 0
    Actual:   1

        Stack Trace:

           at System.Threading.Tasks.Dataflow.Tests.ActionBlockTests.<TestFaulting>d__14.MoveNext()
    --- End of stack trace from previous location where exception was thrown ---
       at System.

[2016-12-14 06:46] AlexGhiondea commented on #14410
@tanaka-takayoshi as @karelz mentioned, we currently don't have any plans to support this.

We would like to consider this, but we would also want to make sure we follow the same pattern Roslyn is using.

Is this something you would be interested in pursuing?

[2016-12-14 07:03] AlexRadch commented on #13800
@karelz I am working on this issue.

[2016-12-14 07:18] HamedFathi commented on #14433
@gkhanna79

I tried export types with MEF2 but have problem
[code]

types valirable always null Why ? whereas if I use AssemblyLoadContext.Default.LoadFromAssemblyPath() for loading assemblies MEF2 can load types without problem.

Can you guide me How can I using MEF2 when load assemblies by stream ?

[2016-12-14 07:38] AlexGhiondea commented on #13526
@NickCraver looks good!

I would not add the string representations for Metadata/Release -- do you have a use case in mind where that would be useful?

What do you mean by

I am curious about the protected method that has optional parameters on it -- is that needed in the implementation?

[2016-12-14 07:51] AndersAbel commented on #4278
@bartonjs I've reported those issues to secure@microsoft.com, which resulted in MS16-035. IMO there are some remaining risky issues though, that MS decided to not fix (they would incur breaking changes). I've not yet published the details, but if you would like to discuss them privately, please mail me.

@karelz Thanks for clearing up that there's no room for breaking changes. That means that my i

[2016-12-14 08:29] steentottrup commented on #14160
Just a small note to what you wrote on option 2,

The datetime format actually decides if the timezone should be part of the output or not.

So what I think you meant (?) was if the datetime should be recalculated to the given (as an argument) timezone, right? Or du you want to provide an argument to tell the method to pull the (configured) timezone from the current thread/cultureinfo and then rec

[2016-12-14 08:42] tjamin commented on #5014
@CIPop I am not sure what exactly you mean with your question "do we have a bug...". Sure, there is a bug as I mentioned: `Encoding.GetEncoding(""utf-8"")` throws an ArgumentException because of the surrounding quotes which leads to an InvalidOperationException in System.Net.HttpContent.ReadAsStringAsync().

You are not completely convinced that the code should allow the quoted string??? Really? I

[2016-12-14 08:50] michael-x commented on #14050
@fabiano I just installed [Microsoft Build Tools 2015 Update 3](https://www.visualstudio.com/downloads/#microsoft-build-tools-2015-update-3) and it looks like it did the trick. Thanks for your help!

[2016-12-14 08:50] #14050 closed

[2016-12-14 09:05] name1ess0ne commented on #1794
There are bunch scenarios where current approach is very harmful and complicated the code.
For example, if you are calling to REST API and using retry policy. If it happens and you need to retry you have to recreate HttpContent from the scratch. It allocates memory, spends CPU and also complicates development. For example it is extremely complicated to create utility method that sends any content

[2016-12-14 09:32] Mike-EEE commented on #2394
AWWWWW SNAP!!! IT'S a WF POC-OFF!!! 🎉

Heh heh.  Hey @erikcai8 where's the Export to Xaml???  Ha ha.  Just flipping you grief.  Sorta. 👼

Both efforts look great.  Good to see both of them.   This seems sort of obvious now, but how awesome would it have been to have a web-based visual designer in the original WF?  Everything is locked and loaded, ready to go, you just visit a URL.  I think that wo

[2016-12-14 10:23] ektrah opened #14507 "Span: Create Span from IntPtr"
(ReadOnly)Span\<T> is designed so that it can point to native memory. So far, native memory is typically represented by a SafeHandle (e.g., SafeMemoryMappedViewHandle) or an IntPtr (e.g., as returned by Marshal.AllocHGlobal). It will probably a common use case to create a (ReadOnly)Span\<byte> from these.

*Proposal:*

Add a constructor overload that accepts an IntPtr and a length:

[code]

*Examp

[2016-12-14 10:58] JonHanna commented on #14473
To bring the details into this issue.

I created #14473 which had lead-balloon-like levels of success. There are a lot of dependencies on the current version.  @ericstj commented at https://github.com/dotnet/corefx/pull/14479#issuecomment-266886980

And at that point I gave up on that PR.

[2016-12-14 11:44] gpiercey commented on #14469
I am mostly concerned with build support for current distros (Fedora 24, 25 and RHEL 7) in the 1.0.x and 1.1.x (or  1.2.x/2.0.x) release streams as we go forward. It looks like build support for RHEL 7 is in place but the support for Fedora seems to be a little outdated.

I don't know what the timeline looks like for this new build process but if it is not immanent can we consider adding support f

[2016-12-14 12:27] NKnusperer commented on #574
Is this already implemented somewhere? When is the expected release?

[2016-12-14 13:55] AlexRadch commented on #12456
@karelz I am working on this PR

[2016-12-14 14:14] omariom commented on #14507
Creating spans from unmanaged memory is inherently unsafe operation. And what is unsafe should  stay `unsafe`.

[2016-12-14 15:30] bartonjs commented on #4278
No.  Registry-compat-only code will be deleted before the package is made available.

[2016-12-14 15:46] rottor12 opened #14510 "EntryPointNotFoundException on .NET Core on Linux"
I want to prepare a wrapper library for a 3rd party library on linux

I've created 2 simple functions, and from another C++ program they execute without a problem

also .. I've tried to use system library (libc) and it works without issues:

[System.Runtime.InteropServices.DllImport("libc")]
public static extern int puts(string str);

puts("some test string"); // <- this works

however, when I try

[2016-12-14 15:49] karelz commented on #14469
The new build process is now in progress (dev/eng branch). The plan is to have it light up in master branch in early January.
Adding support for additional distros (or their versions) without the new build process is extremely costly (think 1-2 weeks per distro). As such we do not plan to go that route unless absolutely necessary.

[2016-12-14 15:50] fujiy commented on #14173
Hi, I'll work on it

[2016-12-14 15:51] fujiy commented on #14173
Hi, I'll work on it.
@karelz would you assign me please?

[2016-12-14 15:51] fujiy commented on #519
Hi, I'll work on it.
@karelz would you assign me please?

[2016-12-14 15:52] karelz commented on #14473
Without understanding details ... it seems this issue should be blocking release. We cannot ship with current versioning. Is that correct?

[2016-12-14 16:06] gpiercey commented on #14469
January is not far away so I'll take a look at the dev/eng branch. Is it far enough along for me to start using the new build process? Are there any docs available for it yet?

[2016-12-14 16:10] mfe- commented on #5501
Looking for a SqlCommandBuilder workaround.

[2016-12-14 16:15] AlexRadch commented on #3482
@karelz I am working on this issue

[2016-12-14 16:17] jnm2 commented on #5014
Can this be tagged to port to desktop please?

[2016-12-14 16:27] JonHanna commented on #3482
Do out variables in C# 7 reduce the pressure for this? I does make the "bad" example at the beginning a single-line expression.

[2016-12-14 16:33] gkhanna79 commented on #14467
@karelz Please reroute to whoever owns RuntimeInformation type.

[2016-12-14 16:43] gkhanna79 commented on #14298
You should try `build-rootfs.sh arm xenial` to build for 16.04.

[2016-12-14 16:44] jnm2 commented on #14485
https://github.com/dotnet/corefx/pull/12682

[2016-12-14 16:46] gkhanna79 commented on #14433
I am not familiar with MEF implementation to determine why `GetExports<IClass>` is returning null. What happens if you run the following code in the same context as the loaded assemblies?

[code]

[2016-12-14 16:46] karelz commented on #519
The API is not approved yet, so we won't assign it to anyone.

Next step: We need formal API proposal.

[2016-12-14 16:48] karelz commented on #14173
This is no API addition, but perf enhancement. Upfront approval is not necessary.
If you want to focus on impactful issues, check out "up for grabs" + (wishlist or milestone:2.0.0).

[2016-12-14 16:50] ScottKaye opened #14511 "Linq Cast<T> does not call cast overloads"
Consider the following classes:

[code]

Class `A` has an overload to convert `A` into `B`.

Now imagine we have a collection of `A`:

[code]

If we wanted to cast this list to `B`, one would assume to use `list.Cast<B>().ToList()`.  However, we are met with `InvalidCastException: Unable to cast object of type 'A' to type 'B'.`

It seems that the source of this error is [from here](https://github.

[2016-12-14 16:52] karelz commented on #14467
@yizhang82 please do not set assignee - see [assignee](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#assignee) usage.

[2016-12-14 16:52] jnm2 commented on #4382
My fave is https://en.wikipedia.org/wiki/HTTP_451

[2016-12-14 16:54] karelz commented on #14467
@karajas what do you mean by binding redirects?
This is a new failure, @joperezr did anything change in the area / package? Or do you think it is fallout from infra changes?

[2016-12-14 16:55] joperezr commented on #13871
FWIW, CI passes in an extra argument to build.cmd/sh which is: `-- /p:WithoutCategories=IgnoreForCI`. Since you are not passing it locally, then you are seeing the failure whereas CI is still green because it's not running the test.

[2016-12-14 16:55] fujiy commented on #14173
Since we have only a few hours to work on it, we'll start with the small issues to learn how the entire process work.
@TiagoSoczek will take this issue

[2016-12-14 16:59] joperezr commented on #14349
@mellinoe I believe this is done right?

[2016-12-14 17:01] weshaggard commented on #14334
There isn't a formal API review yet as we have to explore options. Currently I think there are two options:

1) Give InternalsVisibleTo System.Reflection.Emit contracts. This is what we did before see https://github.com/dotnet/corefx/blob/master/src/System.Reflection/ref/System.Reflection.Manual.cs#L14.
2) Expose the default constructor as public.

However the trouble with either of those options

[2016-12-14 17:02] joperezr opened #14512 "[dev/eng] Update build-test.cmd/sh so that it starts building and executing tests"
As part of this work, we should also update `netci.groovy` script so that we add a step of running build-tests.cmd/sh after running build.cmd

[2016-12-14 17:04] weshaggard commented on #14488
I'd be fine using another attribute type for this. cc @stephentoub

[2016-12-14 17:04] karelz commented on #1794
How is `HttpContent` typically created? Could it be created twice? (retry should be pretty rare after all)

Agreed. However, the API exists and behaves as it does, so we have to keep compat in mind as well.

[2016-12-14 17:05] karelz commented on #14469
I don't think it is ready for usage yet. You can peek at the docs changed in the branch ... (vertical build)

[2016-12-14 17:06] weshaggard opened #14513 "Clean-up the batch restore and project.json generation stuff"
We removed the batch restore and project.json generation targets from build.proj (https://github.com/dotnet/corefx/pull/14476) but we have some more clean-up to do. In particular we need to clean-up config.json. We also have a bunch of stuff in BuildTools in this area that we should go in and clean out.

cc @chchosta @karajas

[2016-12-14 17:07] tarekgh commented on #14496
@nguerrera in Linux, the default encoding in console is UTF8 so in main stream cases you wouldn't experience this in Linux. on Windows, Windows team currently working hard to get the console working seamlessly with UTF8 too and eventually this will be the default encoding.

I understand your point but I am really hoping at one day people will not care about codepages encoding at all and Unicode wi

[2016-12-14 17:10] joperezr commented on #14467
The desktop tests were all in the floor due to the binding redirect issue (see [this for more info](https://github.com/dotnet/buildtools/issues/1092)) and it was recently fixed by @karajas. I haven't looked at the problem specifically, but I doubt that this is a binding redirect issue, this must be either a test that shouldn't run in Desktop, or a bug that we have while selecting the assets that g

[2016-12-14 17:10] karelz commented on #14334
In that case moving back to api-needs-work (@joperezr please do not move it to "ready-for-review", until there is solid API proposal you as owner reviewed and approved ;-))

[2016-12-14 17:12] karelz commented on #13871
Can you give me an example where IgnoreForCI makes sense?
i.e. it is ok to run the test locally, but not in CI ...

[2016-12-14 17:13] karelz commented on #14467
Got it, makes sense now. We can treat it as "normal" test failure then. Thanks for explanation.

[2016-12-14 17:14] tarekgh commented on #14160
my thought was to pass TZ object to the formatting and ask formatting the Date/Time using that TZ object.

The input DateTime will be converted to value matches the input TZ and then get formatted with this value.  I think this is the scenario you want to achieve, right?

[2016-12-14 17:24] joperezr commented on #13871
That is a very good question, from the comment, it looks like this test would crash a process intentionally, so I'm just guessing but it might be that CI would flag that as a failing build even though the crash was expected.

@stephentoub looks like you added the `IgnoreForCI` for [this test](https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Runtime.Extensio

[2016-12-14 17:28] JonHanna commented on #14511
Well consider the difference in what those two things are. By way of comparison a comparable one-item cast method `static TResult DoCast<TResult>(object obj) => (TResult)obj;` compiles to:

[code]
While a one-item cast method `static TResult DoCast<TResult>(dynamic obj) => (TResult)obj;` compiles to:

[code]

If you were using a form of C# without `dynamic` you could rewrite it as:

[code]

We mig

[2016-12-14 17:32] karelz commented on #14495
@weshaggard what is NetStandard 1.6.1?

@awcullen do you have minimal repro?

[2016-12-14 17:35] karelz commented on #14503
@mellinoe can you please route it?

[2016-12-14 17:38] Eilon commented on #3482
@JonHanna it makes it a single-line *gross* expression 😄 I think it definitely *mitigates*, but in my view doesn't *solve* the problem entirely.

[2016-12-14 17:38] nguerrera commented on #14496
I will cry tears of joy when the Windows console defaults to UTF8. In the meantime, though, let's do the best we can for today's Windows reality. ;)

The CLI does. Roslyn still has a bug open on it: dotnet/roslyn#10875. I also had to file one against msbuild: dotnet/msbuild#1477

[2016-12-14 17:39] ianhays commented on #14485
@wjzhou this was fixed recently in ZipArchive so we track Position with a wrapper stream in ZipArchive. You probably need to update your version of Sys.IO.Compression.

 closing as duplicate/resolved of https://github.com/dotnet/corefx/pull/12682.

[2016-12-14 17:39] #14485 closed

[2016-12-14 17:39] karelz commented on #14510
cc: @janvorli

[2016-12-14 17:45] weshaggard commented on #14495
@ericstj have you seen this issue? It sounds sort of familiar but I don't remember it hitting in the context of desktop.

[2016-12-14 17:46] weshaggard commented on #14495
@awcullen do you know which library has the reference to System.Net.Sockets 4.1.0.0?

[2016-12-14 17:46] ianhays commented on #2089
System.DirectoryServices is now merged into CoreFX. The next step is to get it building for .NET Core - Windows and add tests.

[2016-12-14 17:49] ianhays commented on #8719
Exceptions: ArgumentOutOfRangeException if count < 0

Yes, that is the correct behavior.

[2016-12-14 17:54] erikcai8 commented on #2394
@Mike-EEE My E2E experiment enhanced the Workflow Core Engine to load JSON workflow natively so that XAML format is not required. The XAML workflow could be exported from Workflow Engine once it loaded the JSON workflow though.

[2016-12-14 18:10] steentottrup commented on #14160
It is, yes! The option to get the format output for a datetime with another tz than the one selected on the server by the admin.

[2016-12-14 18:18] karelz commented on #2165
@davidsh please spin off separate issue(s) which are worth tracking and close this one.

[2016-12-14 18:21] karelz commented on #2384
Dupe of #13773

[2016-12-14 18:21] #2384 closed

[2016-12-14 18:23] name1ess0ne commented on #1794
Does it matter for current problem? External code owns the content and it is external codes responsibility to create/dispose content. Right?

It is not true, you always should remember about retry when you work with remote API.
Also if you work with OAUTH service your request can be declined with 401 response. In this case OAuth token should be refreshed and request should be retried. It is in OAu

[2016-12-14 18:28] galvesribeiro commented on #2394
That is the point. We should not tie the runtime and its object model to the designer and the serialized format the way it was in WF 4.5...

[2016-12-14 18:29] karelz commented on #13773
Next steps: We need a plan to:
1. Move WebException (and enum) from System.Net.Requests into System.Net.Primitives (we need Wes's ack)
2. Use WebException in HttpClient (use WinHttpException as its inner exception)
3. Add tests

[2016-12-14 18:31] karelz commented on #2501
Next steps:
1. Merge the 2 types into SafeWinHttpHandle.
2. Run perf & stress tests (that's where the problem was discovered)

[2016-12-14 18:35] karelz commented on #3114
Looks like lots of nice to haves. We shipped this way for a long time, we don't think we will have time in next year to do this, so closing. If someone is interested, feel free to reopen / file new issue.

[2016-12-14 18:35] #3114 closed

[2016-12-14 18:36] karelz commented on #3562
Lots of nice to haves. We should attack them with general code clean up ... if we ever get to it.

[2016-12-14 18:36] #3562 closed

[2016-12-14 18:37] nevcoBpalacio commented on #2089
Thanks Ian. It is good to see some traction on this issue!

[2016-12-14 18:38] karelz commented on #3674
@mairaw action item for docs team:
On WebSocket.SendAsync and ReceiveAsync methods, please include remark: "Supports exactly one send and one receive on each WebSocket object in parallel."

[2016-12-14 18:40] tmds opened #14518 "Q: why is ValueTuple IsLayoutSequential false"
e.g. typeof(ValueTuple<int,string>).GetTypeInfo().IsLayoutSequential returns false

Looking at the ValueTuple.cs code, I can't figure out why it isn't returning true.

[2016-12-14 18:42] karelz commented on #3697
We are now focusing on improving Networking tests reliability. This is just one of the potential solutions, it doesn't make sense to track it separately.

[2016-12-14 18:42] #3697 closed

[2016-12-14 18:43] JonHanna commented on #14511
Though I wouldn't use such a dynamic cast in the example given, I'd use Select there.

[2016-12-14 18:45] ericstj commented on #14495
Sounds like a downgraded package.  Did you see any warnings from NuGet after making the upgrade of that package in the library?  I'll clone your repo and try it out.

[2016-12-14 18:47] karelz opened #14519 "Make System.Net tests reliable"
We have lots of test failures. It is not efficient to track them in individual issues. This one tracks them all, until we are near-clean.

[2016-12-14 18:48] karelz commented on #4540
Tracked in #14519.

[2016-12-14 18:48] #4540 closed

[2016-12-14 18:52] karelz commented on #2525
It's fixed, closing.

[2016-12-14 18:52] #2525 closed

[2016-12-14 18:58] ericstj commented on #14495
No package downgrade.  This is happening because the test assembly isn't generating binding redirects.  You'd hit the same issue if one of your dependencies used a different version of any of your dependencies (eg: BouncyCastle, JSON.Net, etc).

Add the following properties to your test CSProj:
[code]

Here's the issue on MSBuild tracking this:
https://github.com/Microsoft/msbuild/issues/1310

[2016-12-14 19:01] karelz commented on #5426
It is not tracking anything super-useful at this moment. If we have a problem, it is going to surface in test failures or product bugs.

[2016-12-14 19:01] janvorli commented on #14510
@rottor12 do you have extern "C" on your functions? If not, their names would be mangled.

[2016-12-14 19:03] karelz commented on #5484
Dupe of #13773.

[2016-12-14 19:03] #5484 closed

[2016-12-14 19:05] karelz commented on #5523
Next step: We need a repro (@davidsh you said you might have it - it is simple ~6 lines), then debug it and fix it.
Warning: It is complicated.

[2016-12-14 19:05] ianhays commented on #14502
Could you post some code examples of what is difficult to do now that would be simpler with `IsEmpty`?

[2016-12-14 19:11] karelz commented on #5617
Triage: Looks like a list of nice to have things. We don't think there is anything super-important in there. We already shipped with the code twice.
If there is anything we should truly address, please open new issues.

[2016-12-14 19:11] #5617 closed

[2016-12-14 19:14] karelz commented on #5715
Next steps: There are 2 classes/files only. Check if they exist already elsewhere (src\Common). If not, move them into src\System.

[2016-12-14 19:16] erikcai8 commented on #2394
@galvesribeiro Understood the point. The experiment assumed that JSON format was supported as another option for Workflow Core though. As discussed above, XAML is not friendly for latest Web technologies yet.

[2016-12-14 19:17] ericstj commented on #14473
That's TBD.  Most of these assemblies are becoming NETCoreApp specific now that the portable story is NETStandard.dll.  Given that, we could decide to have the assembly versions be defined by NETCoreApp reference assembly instead of NETStandard reference assembly.  I'd like to get @weshaggard's feedback on this since he's been driving this story so far.  If we decide to let NETCoreApp define assem

[2016-12-14 19:18] Worthaboutapig commented on #13526
I ended up writing my own `SemanticVersion`, so would love to see one in the `BCL`.

A question on `HasMetadata`; does it need to be `virtual`, any reason is can't simply be:
`public bool HasMetadata => Metadata != null;` (?)

[2016-12-14 19:18] karelz commented on #5757
Next step: Write tests for logging

[2016-12-14 19:18] terrajobst commented on #14387
What's the scenario for iterating over it? There are some concerns that making `ConditionalWeakTable<K,V>` a general purpose collection is pushing its design in a direction we don't believe makes sense.

[2016-12-14 19:19] ericstj opened #14520 "Enable OOB / netstandard-based packages in dev/eng"
We've disabled all the package builds.  We need to re-enable them once we decide on the workflow for building their contents.

[2016-12-14 19:21] karelz commented on #5894
Tracked as part of #14519.

[2016-12-14 19:21] #5894 closed

[2016-12-14 19:22] mellinoe commented on #14334
Let's just do #1 (InternalsVisibleTo) for now, then.

[2016-12-14 19:23] #14351 closed

[2016-12-14 19:27] karelz commented on #6161
We need design for these tests.

[2016-12-14 19:28] karelz commented on #6312
Old issue. Most likely not a problem anymore. If it is, feel free to reopen.

[2016-12-14 19:29] karelz commented on #6329
Unclear what is the value.

[2016-12-14 19:29] #6329 closed

[2016-12-14 19:30] vcsjones commented on #14518
They are explicitly marked as `Auto`, not `Sequential`:

https://github.com/dotnet/corefx/blob/fd15ab1de03a4431e0ead9ff10e1bf53e2ae4bb7/src/System.ValueTuple/src/System/ValueTuple/ValueTuple.cs#L431

So this lets the CLR decide what the layout kind will be. I would expect `IsAutoLayout` to return true.

[2016-12-14 19:34] tmds commented on #14518
Thx @vcsjones. Only looked at ValueTuple and ValueTuple\<T1> which don't have the attribute...

[2016-12-14 19:34] #14518 closed

[2016-12-14 19:36] tarekgh commented on #14495
closing the issue by @ericstj workaround. @awcullen please feel free to reopen the issue if the problem still happening. Thanks.

[2016-12-14 19:36] #14495 closed

[2016-12-14 19:36] karelz commented on #6351
@hughbe sorry for not getting back to this issue earlier.
As said above, the type is extremely sensitive to breaking changes. If we fix it only in .NET Core, we will diverge behavior between platforms for portable libraries, which is not great either.

So the question is: How impactful is the bug? What happens if we reject it? Are there real-world examples of code which suffer from this?

[2016-12-14 19:37] karelz commented on #6487
Tracked as part of #14519.

[2016-12-14 19:37] #6487 closed

[2016-12-14 19:38] mellinoe commented on #5523
I have no context on this issue; I just made a tracking issue because we had references to an old bug tracker in the code, and I was worried we would forget about it entirely. This might not even be a problem anymore.

[2016-12-14 19:41] terrajobst commented on #14255
We shouldn't block API additions on `Span<T>`. For one, we don't know when it will ship stable. Secondly, we don't know which assembly it's in, and thirdly, even if had `Span<T>` today, we might still want to add the `string` version because it represents what the customer actually wants to do, i.e. encode a substring. If anything, we could talk about a `StringSegment` type :-)

We think API looks

[2016-12-14 19:41] mellinoe commented on #14503
This looks like a Helix issue (something is going wrong in the python scripts). Maybe someone on the Helix team can identify the problem. It might just be some sort of intermittent connectivity or disk space issue?

[2016-12-14 19:42] rottor12 commented on #14510
@janvorli I was missing extern "C" before method signatures, but .. after the change to extern "C", and ldconfig, I'm still getting the same error

[2016-12-14 19:45] karelz commented on #6729
Triage: We need formal API proposal

[2016-12-14 19:49] janvorli commented on #14510
@rottor12 could you please run `objdump -T mywrapper.so` and paste here the results?

[2016-12-14 19:51] karelz commented on #6771
Triage: This is a long discussion about direction of the stack. It's not active anymore and it doesn't track any meaningful action item. Closing.

If there are clear action items which are non-controversial, please let me know.
I don't think it is useful to keep open-ended discussions issue which stopped "opened", but am willing to change my mind if there is strong push back from multiple people.

[2016-12-14 19:51] #6771 closed

[2016-12-14 19:59] terrajobst commented on #12425
We think it's a good idea to have a type like this, but it's a larger area so we're hesitant to approve it (for example, we'd like to understand if some of the methods should become intrinsics, what other higher-level types would benefit from it, such as `BitArray` etc). At the same time, we don't want to block this area from making progress by not approving it.

So it might be better to develop t

[2016-12-14 20:02] rottor12 commented on #14510
I had another copy of an old library in the .NET Core project, and that is why the error still persisted

once I removed it (so it could load a version from /usr/lib64) it run the first function correctly, the second produced an error, but that I'll handle on my own

big thanks for your help !!

[2016-12-14 20:12] janvorli commented on #14510
Great, I am glad to hear that!

[2016-12-14 20:12] #14510 closed

[2016-12-14 20:25] Jaedson33 commented on #4278
Why you don't create a project on GitHub to implement that?

[2016-12-14 20:25] ektrah commented on #14507
Unmanaged memory itself is inherently unsafe.

I think it's a good idea that unsafe code literally contains the word "unsafe". However, it is not the case that an IntPtr by itself is safe and creating a Span from it is unsafe. *Everything* that involves an IntPtr is unsafe. So, in addition to the words "unsafe" and "Dangerous", the appearance of the word "IntPtr" is an indication that an operation

[2016-12-14 20:39] mellinoe commented on #14349
Yeah

[2016-12-14 20:39] #14349 closed

[2016-12-14 20:55] weshaggard commented on #14473
The full end-to-end versioning story has not been fully worked out in practice yet. With that said I don't think there is any real concerns that I know that would hurt keeping the new bumped version for .NET Core in this case. My suggestion is to keep the version number as is (4.2) for now and only change it if and when we find a real issue.

[2016-12-14 21:21] CIPop commented on #5014
Done.

I mean if the quoted string is received _from the wire_, will it be properly decoded by our API? Your example setting the encoding programmatically isn't from the wire, but from the application. (I.e. we'd need a test to check that if a server replies with the quoted formatted string, HttpClient would not crash.)

We want to be RFC compliant. What I'm saying is that I'm not sure the RFC man

[2016-12-14 21:25] Priya91 commented on #14467
@MattGal Can you share the line you're using when you build and run the test locally?

Using the helix repro dll? or just local execution of tests using latest souces with msbuild? If it's the second case, then this failure should happen in Jenkins CI as well.

[2016-12-14 21:27] Priya91 commented on #14467
@joperezr this must be either a test that shouldn't run in Desktop, or a bug that we have while selecting the assets that go into the test directory.

It is the second case, as i mentioned before. The product dll should be picked from ```runtimes\win\lib\net45``` in the nuget package instead of from ```lib\netstandard1.1```. The ```lib\netstandard1.1``` location was added to support previous ```nu

[2016-12-14 21:31] justinvp commented on #14473
If we do end up keeping the bumped version number for this assembly, will we bump the versions of other assemblies that have new APIs, to be consistent across the board?

[2016-12-14 21:32] MattGal commented on #14467
@Priya91  The latter, but we don't do that currently in CI so there's nothing to compare it to.  (Checked with Matt M)

[2016-12-14 21:34] Priya91 commented on #14467
@MattGal So what should i execute to repro this locally the correct way?

[2016-12-14 21:35] justinvp commented on #2869
Now that #13828 has been merged, the ConcurrentDictionary change can be checked-off. The only remaining work item is:

 - [ ] #2436 Add async XLinq document/element loading and saving

[2016-12-14 21:41] tmenier commented on #5014
@CIPop I can point out a scenario that is affected:

https://github.com/tmenier/Flurl/pull/76

In short, clients working with an API that they have no control over that return the charset in quotes. Even if the RFC _recommends_ against it, strictly speaking the quotes are legal as you pointed out.

[2016-12-14 21:58] weshaggard commented on #14473
I would not do that at least not yet. I want to think of this as an exceptional case for the time being and stick to our guidance of not bumping the versions when only adding .NET Core specific APIs. When more of the versioning story comes together we might revisit.

[2016-12-14 22:01] MattGal commented on #14467
I don't think you can do anything either way until Karthik's binding redirect changes are fixed up but I believe it'd just be

    msbuild System.Runtime.InteropServices.Tests.builds /t:RebuildAndTest /p:FilterToTestTFM=net46 /p:TestNugetRuntimeId=win10-x64

[2016-12-14 22:27] JeremyKuhne opened #14527 "Reflection should check mscorlib for types"
In NetFX `Type.GetType()` would find types that weren't fully qualified in mscorlib. Now that we're going to ship the mscorlib facade we should probably mimic that behavior.

See the following discussion: https://github.com/dotnet/corefx/pull/14498#discussion_r92474847

@weshaggard, @ericstj

[2016-12-14 22:29] karajas commented on #14467
Just confirmed that this failure was before binding redirects as it passes on master today when built locally against packages. I should have a fix shortly in buildtools to unblock the desktop runs.

[2016-12-14 22:29] Priya91 commented on #14467
@MattGal I executed that command locally, and the tests pass, the net46 version of ```System.Runtime.InteropServices.RuntimeInformation.dll``` is dropped to tests folder. This is a helix issue.

[code]

[2016-12-14 22:30] JeremyKuhne opened #14528 "Facades need packaged."
`System.dll` and others aren't currently part of the packages.

@weshaggard, @ericstj

[2016-12-14 22:31] Priya91 commented on #14467
As per @karajas marking this issue as infrastructure.

[2016-12-14 22:34] CIPop commented on #5014
/cc @davidsh, @karelz

Thanks @tmenier. From my understanding of the issue, your example shows that HttpContent will fail trying to decode a quoted response from the server (scenario 1 above).

To fix this I recommend starting with a simple client/server test where the server is designed to reply with all allowed RFC forms (see above).
The fix is already pointed out by @tjamin in the description:

[2016-12-14 23:25] tarekgh commented on #14496
discussed the issue offline with nick and other folks and we are going to add some support in the Console to handle the encoding without bringing the whole encoding data and code. we'll just have a wrapper around Windows encoding APIs and hook it to the Console.

I'll try to work on this next week or so.

[2016-12-14 23:49] timheuer opened #14529 "Port System.Runtime.Caching to .NET Core"
In attempting to convert some libs to .NET Core for use in where .NET Core is growing (e.g., AWS Lambdas), I'm blocked on System.Runtime.Caching components or an equivalent.

[2016-12-14 23:50] #14454 closed

[2016-12-14 23:51] mellinoe opened #14530 "System.Threading.Overlapped OverlappedTests.PropertyTest1 failed in CI"
Example failure log: https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/1435/consoleFull#-162473832179fe3b83-f408-404c-b9e7-9207d232e5fc

[code]

[2016-12-15 00:04] karelz commented on #14244
@ianhays @Priya91 can you please review the text as area experts? (or pull in appropriate folks please)

[2016-12-15 00:13] mellinoe commented on #14496
That's not really true; or it shouldn't be, at least. My standalone projects don't include that assembly, for example, because they don't reference the package. We are going to regress this (and a lot of other similar stuff) with the new packaging unless we implement dependency trimming in the tooling.

[2016-12-15 00:15] mairaw commented on #3674
Do we also need to add these remarks to ClientWebSocket since they override the WebSocket implementation?

[2016-12-15 00:23] CIPop commented on #5014
BTW: Should be very simple to fix and test (some test ideas at tmenier/Flurl#76) . Anyone wants to give it a try?

[2016-12-15 00:26] nguerrera commented on #14496
@mellinoe Sorry, I misspoke (or at least exaggerated). If you reference individual packages, it works fine with latest csproj-based tooling. However, if Microsoft.NETCore.App is referenced (which we encourage in docs and give you upon dotnet new or file new project) then the code page package is pulled in. Is this any different from prior tooling? I think there's still an issue: either we need bet

[2016-12-15 00:38] mellinoe commented on #14496
No, that's absolutely correct. I was actually thinking of our "new" packaging, for .NET Core 2.0. We are going to be removing all of the individual component nuget packages in favor of one giant one. Unless we have automatic (or manually-guided) dependency trimming in the tooling, then there really will be no way to "modularly" publish your application, e.g. opt out from CodePages.dll or whatever

[2016-12-15 00:40] ahsonkhan opened #14533 "Span: Fix array variance checks in slow Span"
Related to PR #14262 where the test got removed.

- The test should be renamed to something like CtorVariantArrayType since the type is not wrong.
- The test should confirm that the operation is succeeding, i.e. a ReadOnlySpan instance gets created successfully rather than checking that the method fails and throws.

https://github.com/dotnet/corefx/pull/14262#discussion_r92521521

[2016-12-15 00:42] ahsonkhan commented on #14376
Not atm. Would you like me to tackle it?

[2016-12-15 00:44] karelz commented on #3674
@CIPop @davidsh?

[2016-12-15 00:45] mairaw commented on #3674
I've added the remarks to WebSocket.SendAsync and WebSockets.ReceiveAsync on MSDN:
https://msdn.microsoft.com/en-US/library/hh159367(VS.110).aspx
https://msdn.microsoft.com/en-US/library/hh159308(VS.110).aspx

I've changed the remarks just a bit since they'd be in the context of one of the methods. Let me know if that looks good and I'll wait on the answer for the ClientWebSocket.
These remarks wi

[2016-12-15 00:46] jkotas commented on #14533
Also, fix the implementation of the slow span to not throw exception in this case...

[2016-12-15 00:49] karelz commented on #14467
Can we update the title to reflect what the underlying issue is? Now it captures the symptom :)

[2016-12-15 00:50] CIPop commented on #3674
Yes, please add them for ClientWebSocket as well.

[2016-12-15 00:52] nguerrera commented on #14496
This brings up some other issues even with current packaging vs small-as-possible standalone apps. I'll open a new issue about that as its orthogonal to this.

I'm happy we found a solution that makes Console just work without the large data. As I said offline, that's a good place to land because there's a big difference between these:

* Encoding.GetEncoding(850) -> “System.NotSupportedException:

[2016-12-15 00:57] mairaw commented on #3674
Ok, thanks for confirming that @CIPop. It's done:
http://msdn.microsoft.com/en-US/library/hh875123(VS.110).aspx
http://msdn.microsoft.com/en-US/library/hh874933(VS.110).aspx

[2016-12-15 01:00] chunseoklee commented on #14298
@gkhanna79 You mean that `./build-managed -packages` with xenial-based native arm binary(corefx/bin/Linux.arm.Debug) would create ubuntu.16.04-arm nupkg ?
If it is true, build script extracts os-release info of rootfs during packaging ?

[2016-12-15 01:05] CIPop commented on #3674
Thank you @mairaw !

[2016-12-15 01:05] #3674 closed

[2016-12-15 01:10] karelz commented on #4278
We synced with @bartonjs, @steveharter and @ianhays

**Goal:** Provide APIs fully compatible with full/Desktop .NET Framework (no changes as part of this work - straight port only)

**Plan:**
1. Add the source code on GH sanitized, with licenses, etc. (it won't build) - @steveharter will do that
2. Make the source code build (still excluded from overall repo build)
3. Remove Desktop registry-compa

[2016-12-15 01:19] RussKie commented on #11082
I've been staring at these two for a bit now and I still feel kind of stuck.
`ClaimsIdentity` deals only with claims type of `Claim`, and that type defines claims as `string:string`.
Even if I create my own identity type derived from `ClaimsIdentity` I have no meaningful way to override this. Not deriving is not an option since `ClaimsPrincipal` deals with `ClaimsIdentity`s.

Is it conceivable to

[2016-12-15 01:44] dotnet-mc-bot opened #14536 "Test failure: System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation"
Opened on behalf of @jiangzeng

The test `System.Security.Cryptography.X509Certificates.Tests.ChainTests/VerifyWithRevocation` has failed.

Offline Chain Built Validly
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Security.Cryptography.X509Certificates.Tests.ChainTests.VerifyWithRevocation()
Build : Master - 20161214.02 (Core Tests)
Failing configurations:
- Fe

[2016-12-15 02:01] karelz commented on #3674
And thanks for fast turn-around @mairaw! Again! :)

Once we pay off all the debt of delayed triage of CoreFX repo issues, I hope we will be able to pass these issues to docs team earlier and have faster time-to-resolution as a result. Almost there!

[2016-12-15 02:06] karelz commented on #11220
@khellang do you still plan to work on it?

[2016-12-15 02:07] karelz commented on #3419
What is missing here? Do we need to add tests in CoreFX?

[2016-12-15 02:12] karelz commented on #14529
This is the first request for this API.
Do you know which libraries need which classes in the [System.Runtime.Caching namespace](https://msdn.microsoft.com/en-us/library/system.runtime.caching(v=vs.110).aspx)?

cc: @weshaggard @danmosemsft - any comments on our usage data?

[2016-12-15 02:13] karelz commented on #14528
What's the impact? It sounds like must-have for 2.0 ...

[2016-12-15 02:33] AlexRadch commented on #3419
@karelz yes we need add tests.

[2016-12-15 02:39] JeremyKuhne commented on #14528
It is critical for running existing code and important for our own reflection needs. Came across this specifically because of System.Configuration implementation work I'm doing. I need to implicitly load types (via Type.GetType) that used to live in System.dll.

[2016-12-15 03:02] tintoy commented on #4278
Sounds good to me :)

[2016-12-15 03:03] jkotas commented on #14528
Yes, it is must have 2.0. Related issues:

https://github.com/dotnet/corefx/issues/13020
https://github.com/dotnet/coreclr/issues/7607

[2016-12-15 03:11] weshaggard commented on #14528
Yes we are definitely planning to ship these shims for 2.0.

[2016-12-15 04:06] morganbr commented on #14507
Having direct handling for SafeHandles might also be good so users don't need to get the DangerousAddRef/DangerousReleaseRef pattern in example 1 correct. I wonder if it's even worth having Span's lifetime semantics keep the SafeHandle alive correctly.

[2016-12-15 04:22] jkotas commented on #14507
Allowing a safe `SafeBuffer` -> `Span` conversion sounds pretty reasonable. It is no different from a safe `Memory<T>` -> `Span<T>` conversion. The exact pattern for it is still being discussed. Once the design for it is settled, it should naturally extend to `SafeBuffer` -> `Span` conversion as well.

However, we are unlikely going to add a Span constructor that takes IntPtr as a pointer. `void*`

[2016-12-15 04:30] morganbr commented on #14507
@jkotas SafeBuffer also sounds somewhat interesting since it even comes with a length, but it's much less common than SafeHandle+length. I'd love to see some kind of support for both.

[2016-12-15 04:49] dagood commented on #14165
My buildtools fix got merged in with https://github.com/dotnet/corefx/pull/14500, and the linked win7 Jenkins build got test failures rather than a build failure: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/39/. Does that mean this issue is fixed? More to check?

[2016-12-15 05:28] chlowell commented on #7623
Just to clarify: what remains to be implemented for client certificates? Does basic code like the below (no custom validation) work on all platforms?
[code]

[2016-12-15 05:29] gkhanna79 commented on #14298
Correct.

[2016-12-15 05:38] timheuer commented on #14529
The one I'm working with is
https://github.com/AreYouFreeBusy/AlexaSkillsKit.NET/blob/ef7f2259a74f052c0980c200fe0caf891e4d4092/AlexaSkillsKit.Lib/Authentication/SpeechletRequestSignatureVerifier.cs

-------
http://timheuer.com/blog/
twitter: @timheuer

On Wed, Dec 14, 2016 at 6:13 PM, Karel Zikmund <notifications@github.com>
wrote:

[2016-12-15 06:09] gkhanna79 opened #14538 "[linux/arm32] Add Xenial (Ubuntu 16.04) rootfs support for cross build"
We need to keep supported ROOTFS in sync across CoreCLR, CoreFX and Core-Setup.

CoreCLR supports Ubuntu 16.04 (https://github.com/dotnet/coreclr/blob/master/cross/build-rootfs.sh#L7) and so does Core-Setup (https://github.com/dotnet/core-setup/blob/master/cross/build-rootfs.sh#L7).

However, coreFX does not (https://github.com/dotnet/corefx/blob/master/cross/build-rootfs.sh#L7).

CC @janvorli @ko

[2016-12-15 06:10] AlexGhiondea commented on #14376
I marked it as up for grabs. If you have time to work on it, then let me know and I will assign it to you!

[2016-12-15 08:26] khellang commented on #11220
@karelz I was, yes, but I've been swamped with work lately, so I probably won't be able to submit a PR until January. If anyone's eager to do this work at MS, go ahead :smile:

[2016-12-15 08:27] Thaoden commented on #14288
Any news on this?

[2016-12-15 08:59] varocarbas commented on #14443
@stephentoub As far as you aren't proposing anything and this thread seems to start derailing a bit (BTW, @jnm2 feel free to ask me for clarifications regarding any issue you cannot understand), here goes my proposal: I will analyse properly the current main implementation (`Set class`) to create an optimised-for-what-is-intended-here version. That is, I will create a proper first version of the p

[2016-12-15 10:28] JonHanna commented on #14443
You should take `ToString()` and `Equals()` off that list. Neither are overridden for one thing, neither are very expensive for another, and neither are particularly commonly hit in frequent use cases for a third.

Nobody's application is going to become faster, lighter in memory use, or otherwise any better because they upgraded to a version of the assembly where `a.Intersect(b).ToString()` is fa

[2016-12-15 10:43] varocarbas commented on #14443
@JonHanna Thanks. I will certainly consider all your suggestions.

In any case, I want to highlight that my `Equals()` and `ToString()` references were only meant to prove a point (i.e., there are scenarios where you don't need to perform a standard iteration). `ToString()` is certainly a bit extreme, but `Equals` shows the case (which I have personally had quite a few times) where you generate an

[2016-12-15 10:52] JonHanna commented on #14443
Then your use of `Equals()` was a bug:

[code]

You would want to use `SequenceEqual()` here, possibly with a short-circuit of `if (a == b) return true;` first if in your given use case it was reasonably likely that you'd end up comparing something with itself.

`Equal()` isn't even coming from the result of the method anyway, but inherited from `object`, so the only impact is how quickly the obje

[2016-12-15 11:01] varocarbas commented on #14443
@JonHanna

Again, I was trying to plainly make a point! You have `IEnumerable result = a.IntersectQuick(b)`, but you cannot iterate through it. What can you do? For example, you might compare it with another `IEnumerable` via `Equals()`. I was plainly trying to prove that iterating (at least, iterating through all the elements by provoking my proposal to perform much worse) isn't strictly required

[2016-12-15 11:28] stephentoub commented on #14387
@terrakobst, why don't you believe it makes sense?

Examples:
- Debugging, and wanting to show everything in the table, as TaskScheduler needs to elsewhere in mscorlib
- Timing out entries, iterating through the table to find entries older than some time and forcibly removing entries from the cache;
- It already has an internal Keys and Values property because iteration was needed elsewhere in msc

[2016-12-15 11:31] stephentoub commented on #13871
IIRC, it pops a Watson dialog, which then caused issues in the automated CI environment.

[2016-12-15 11:53] jnm2 commented on #14443
I'm just confused because I'm racking my brain trying to think of even one case, one, in all the professional and hobbyist code I've ever seen,  where an enumerable is used with a set operation like Intersect without somehow calling MoveNext.

I agree with the others here that the MoveNext cases are the only cases that anyone will ever care about, especially when we're talking about code with dema

[2016-12-15 12:09] varocarbas commented on #14443
@jnm2  Thanks for writing your concerns down (much clearer than an emoji).

As said, I have seen myself quite a few scenarios where the output of a `Linq` query was plainly compared with another collection. For example: `var result = collection1.Intersect(collection2); `and just wanting to know whether `result` equals `targetCollection` or not.

But the fact of being a common scenario or not wasn'

[2016-12-15 12:17] JonHanna commented on #14443
It doesn't. That will always return `false`. Either that comparison should be doing something else and that's a bug, or else the real optimisation is to replace that comparison with the constant `false` and then delete any code this has either made unreachable or which was there just to produce this `false`, taking care to make sure any side-effects still happen if necessary.

[2016-12-15 12:26] jnm2 commented on #14443
@varocarbas

You're saying this is such an example as I'm looking for, but I don't think it is. The problem is, why would you ever care if the `result` enumerable instance was the same as the `targetCollection` enumerable instance? If you're *really* checking to see if `result` gives the same sequence as `targetCollection`, then checking for reference equality is incorrect even as a short-circuit

[2016-12-15 12:26] varocarbas commented on #14443
@JonHanna I don't think that extending a not-properly-understood-prone conversation will have any value to anyone. Since the start, it should be clear that my only intention was finding out scenarios allowing the proposed approach (whose performance becomes horrible under the most common iterating scenarios) to keep being better than the original code. Also from the start, I let clear my test-base

[2016-12-15 12:33] JonHanna commented on #14443
If you aren't happy with your own answers yet, what is this issue for?

[2016-12-15 12:34] varocarbas commented on #14443
@jnm2
As explained to JonHanna in my previous comment, I don't know why are you continuing in this line. if you want to properly understand what I have tried to say, it is really easy. If you want to continue discussing about abstract out-of-context, not-properly-understood, bringing-nothing-of-value here, perhaps you should consider a chat-based alternative.

Anyone keen on properly understanding

[2016-12-15 12:44] varocarbas commented on #14443
@JonHanna My only answer (since quite a few posts ago) has been: I see something worthy here and have to work on it to properly confirm/dismiss my assumptions. You have kept asking me (irrelevant IMO) questions to prove that my assumptions have to be wrong. I have tried to address all your concerns as I think that they deserve to be addressed ("there you have a quick answer; please, let me work on

[2016-12-15 12:58] AndersAbel commented on #4278
@karelz, @steveharter  Most registry lookups are located in the [Utils](https://referencesource.microsoft.com/#System.Security/system/security/cryptography/xml/utils.cs,4f5d226a87b242bc) class. `AllowAmbiguousReferenceTargets`, `AllowDetachedSignature`, `RequireNCNameIdentifier`. There's also a lookup in the [SignedXml class](https://referencesource.microsoft.com/#System.Security/system/security/c

[2016-12-15 13:09] tmds commented on #3674
Thx @mairaw !

[2016-12-15 13:12] stephentoub commented on #14443
All of us have been trying to tell you, repeatedly, that this is not worth optimizing, that we've never seen real examples where this is valuable. You then say that this is us not understanding you, and that there are cases where it's important to optimize, but you've not yet shared real examples. Until you're able to provide a compelling example, I'm closing the issue, per your request. Feel free

[2016-12-15 13:12] #14443 closed

[2016-12-15 13:13] jnm2 commented on #14443
Hey, whoa! Let's keep this professional. :) Nothing I have asked is out of context or abstract; indeed, I'm asking for concrete, real world preexisting scenarios. I'm purposely asking hard questions that will need real answers because that's the whole point of a worthwhile discussion and because I respect your intelligence.

There's a few possibilities I'm afraid you might not have given weight, w

[2016-12-15 13:30] varocarbas commented on #14443
I will go ahead with the intended proper analysis anyway and will come back here with the results (including if I was wrong; I have no problem in recognising my own errors). But I don't want to reopen this issue (can I do it myself? No idea that I could do such a thing). I am not interested in getting involved in this kind of threads (and presumably you neither). I apologise for having started all

[2016-12-15 13:31] varocarbas commented on #14443
@stephentoub

I will go ahead with the intended proper analysis anyway and will come back here with the results (including if I was wrong; I have no problem in recognising my own errors). But I don't want to reopen this issue (can I do it myself? No idea that I could do such a thing). I am not interested in getting involved in this kind of threads (and presumably you neither). I apologise for havi

[2016-12-15 13:49] varocarbas commented on #14443
@jnm2  This is over (although will deliver the promised output anyway. Feel free to come back in some days to get some answers to your questions), but don't quite agree with various parts of your post.

The final benefit was very relevant (e.g., `var result = AnyLinqJustReturning();` being much quicker that `var result2 = AnyStandardLinq();`). This whole thread was in a very preliminary stage just

[2016-12-15 13:52] varocarbas commented on #14443
@jnm2  This is over (although will deliver the promised output anyway. Feel free to come back in some days to get some answers to your questions), but I have some comments for your last post.

The final benefit was very relevant (e.g., `var result = AnyLinqJustReturning();` being much quicker that `var result2 = AnyStandardLinq();`). This whole thread was in a very preliminary stage just consideri

[2016-12-15 14:23] jkotas commented on #13427
Fixed by https://github.com/dotnet/corefx/pull/13848

[2016-12-15 14:23] #13427 closed

[2016-12-15 15:12] davidsh commented on #7623
What type of application are you building?  If it is an ASP.NET app (Windows or Linux), then client certificate work today in the latest stable System.Net.Http NuGet package.

If you are building a Window UWP Store App, then that functionality is NOT yet working.

[2016-12-15 15:33] AlexRadch commented on #14255
@karelz I am working on this issue.

[2016-12-15 15:49] mburbea commented on #12425
I've updated the spec and added all my open questions for discussion points:
@terrajobst , @mellinoe , @jamesqo , @benaadams, @nietras Any other points you'd like to discuss?

[2016-12-15 16:07] ericstj commented on #14528
Ditto, this is planned.  This is just an issue tracking that plan so that folks can `ActiveIssue` tests against it.

In addition to including them, we actually need to build them first...   Including them is trivial and will happen in dev/eng.

[2016-12-15 16:16] AlexRadch commented on #2127
@karelz I am working on it

[2016-12-15 16:57] rottor12 opened #14540 "callback from native linux library (.so) of .NET core managed function - problem"
I want to callback a method in C# code (.NET Core) from C++ code in my .so library on Linux

when I execute a callback from this function, all works fine:

[code]

however, when I try to execute a callback from a thread (std::thread), it either crashes or does nothing

here is the code:
[code]

[code]

======================

here is the C# code:

[code]

as you can notice, I've already tried usin

[2016-12-15 16:58] karelz commented on #11220
Thanks for clarification. Let's see if someone wants to pick it up before that (I would not hold my breath for MS contribution here, we have plenty of other high pri work to do ;)).
I will leave it assigned to you in the meantime.

[2016-12-15 17:02] JonHanna commented on #11220
If it's going to go awaiting until January, I'll take it.

[2016-12-15 17:09] jamesqo commented on #12425
@mburbea

- The idea of having an enum to determine hardware accelerated options is nice. It removes the ambiguity from having a single flag, and is also flexible because it will permit adding more hardware accelerated methods in the future. :+1: (I think `BitOperations` or `BitMethods` might be a better name though.

I think that any scalar type is jitted to a constant. https://github.com/dotnet/

[2016-12-15 17:14] davidsh commented on #5523
This repros in .NET Framework (Desktop) and .NET Core.  It is an old bug from .NET Framework and has been there since we first shipped HttpClient in .NET 4.5.  Over time, this bug has become more annoying and impactful to developers.

[code]

Test #2 always passes.  This is good.
Test #1 should pass but fails because of this lazy initialization bug with .ContentLength property.

[2016-12-15 17:17] tarekgh commented on #14255
thanks @AlexRadch

please include me in your PR.

[2016-12-15 17:20] svick opened #14541 "The documentation for Enumerable.Intersect is incorrect about the order of iteration"
[The MSDN documentation for `Enumerable.Intersect`](https://msdn.microsoft.com/en-us/library/bb460136(v=vs.110).aspx) says:

Consider this program:

[code]

Given the above description, I would expect the output to be:

[code]

But the actual output (on both .Net Framework and .Net Core) is:

[code]

I believe this is an error in documentation: it should not promise in what order are `first` and `

[2016-12-15 17:22] karelz commented on #11220
Thanks @JonHanna, assigned to you ...

[2016-12-15 17:22] KrzysztofCwalina commented on #12425
Once we have the ability to allocate spans on the stackfe context, it would be great if the bit manipulation routines worked with spans.
For example,

var lotsOfBits= stackalloc new Span<byte>(20);
Bits.Set(lotsOfBits, 120);
Assert.True(Bits.IsSet(lotsOfBits, 120);

[2016-12-15 17:26] davidsh opened #14542 "Merge duplicate code in WinHttpCertificateHelper.cs with code used in System.Net.Security"
Merge duplicate code that builds/validates the trusted chain and verifies DNS name matches certificate name:

[code]

[2016-12-15 17:27] davidsh commented on #2165
Closing this issue now since all items are either fixed or tracked separately.

[2016-12-15 17:27] #2165 closed

[2016-12-15 17:27] joperezr opened #14543 "[dev/eng] Change the way we calculate `IsTestProject`"
Currently, the way we set the value of `IsTestProject` is by checking if the FileName ends with `Tests.csproj`. This doesn't really apply to all of our test projects, which has forced us to manually set it in all of the test projects where this condition isn't true. We should instead change that logic so that it is set if `/tests/` is part of the path to the project, and this way be consistent wit

[2016-12-15 17:35] JonHanna commented on #14541
I think it may have been describing the observable behaviour, but only considering the results given as what is observable.

Whatever the reason, I agree there shouldn't be a promise made there, though perhaps the entailed promise that the items are ordered as per their order in `first` should be spelled out instead now that it's not an implication of the removed promise.

[2016-12-15 17:36] tarekgh commented on #14529
from the reference code I am seeing the class used are:
    CacheItemPolicy
    MemoryCache
and the enum
    CacheItemPriority

[2016-12-15 17:50] karelz commented on #11100
Quick update:
We have met several times this week. We brainstormed the options and figured out funding.
@CIPop is working on this issue as top priority (work transitioned from @davidsh who will be OOF starting next week for the rest of the year).

Status:
  - We were able to reproduce @onovotny's original repro and craft small repro.
  - We are pursuing solution [3] below - focusing its remaining

[2016-12-15 17:56] AlexRadch commented on #14255
@bartonjs  methods should be virtual or not?

[2016-12-15 18:11] chlowell commented on #7623
Thanks, that's good to know. It's an ASP.NET app targeting Linux.

[2016-12-15 18:41] saurabh500 commented on #14288
@Thaoden I tried the repro in the environment you have mentioned and also on a few other OS and I could not get this to repro on my end.
@rowanmiller Does your team have a repro for this?

@Thaoden I also recommend getting in touch with Microsoft Support or connect.microsoft.com to report this issue since this you are experiencing this in the .Net framework 4.6.1 runtime and not .Net core.

[2016-12-15 18:58] janvorli commented on #14540
It should work. Let me look into that.

[2016-12-15 19:22] HamedFathi commented on #14433
@gkhanna79

I am so sorry, That is my fault, I should pass conventions variable as .WithAssemblies() parameter.
MEF2 works with this scenario.

Thanks for your help and guidance.

[2016-12-15 19:22] #14433 closed

[2016-12-15 19:27] robertmclaws commented on #11100
Thank you for the detailed info, we appreciate it.

What about a combination of Option 2 and re-shipping 4.3 as 5.0? Since it was a technically a breaking change, you could then ship an OOB WebRequestHandler.dll for desktop as v5.0 as well. That would let you re-implement functionality in WinHttp, deprecate properties that don't map, and gives everyone a way forward in the way that SemVer is suppo

[2016-12-15 19:39] steveharter commented on #4278
@AndersAbel I did update Karel's comment above regarding registry. If there are any classes that are not accessible we need to understand what functionality is being lost. For the ones you mention, I believe CryptoConfig needs to add the name:object pair for those and thus can be created late-bound

[2016-12-15 19:41] DirkRoelandt commented on #2937
Please note UWP's implementation is not really useful implementation as it simply does not support system-internal or on-chassis serial ports (read plain RS232).

[2016-12-15 19:43] DirkRoelandt commented on #2937
Please note UWP's implementation is not really useful implementation as it simply does not support system-internal or on-chassis serial ports (read plain RS232).

[2016-12-15 19:44] DirkRoelandt commented on #984
Please note UWP's implementation is not really useful implementation as it simply does not support system-internal or on-chassis serial ports (read plain RS232).

[2016-12-15 19:48] dluxfordhpf commented on #11100
#3 looks like the only real root-cause solution to me.

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;) is intended solely for the use of the intended reci

[2016-12-15 19:52] ianhays commented on #14152
Either of these API look good to me. The first is probably more intuitive, though only triggering on a read seems like a potential "gotcha" if people aren't expecting it.

Some questions/thoughts off the top of my head:
- I haven't seen many (any?) requests for this API before. Do you have some example use cases of when it would be valuable to have?
- Do the platform-specific API's you mentioned i

[2016-12-15 20:15] varocarbas commented on #14443
@JonHanna @stephentoub @jnm2
After taking a look at the code of my first option ([First()](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/First.cs)) and not feeling like going too much further into all this (as explained below), I have preferred to deliver this quicker-than-expected-but-IMO-descriptive-enough result. Despite what I am writing below, I wouldn't mind to

[2016-12-15 20:23] karelz commented on #14152
I would love to see "motivation and usage" section which is simple to understand even for folks who (like me) don't have any background for these APIs in native code/other platforms and possibly don't know the patterns for other similar APIs (CancelKeyPress). Answering @ianhays's questions lead to that as well IMO.

[2016-12-15 20:28] karelz commented on #12696
@Priya91 please merge it if you sent shiproom the heads up I mentioned above ...

[2016-12-15 20:29] karelz commented on #12224
@gkhanna79 should this be closed, or is it tracking more 1.0.x work?

[2016-12-15 20:34] ianhays commented on #14244
@JonHanna that's a great doc on total order. 👍very concise and informative. The DateTime section is a bit verbose but explains the reasoning behind the exception to total order well.

[2016-12-15 20:36] JonHanna commented on #11220
https://github.com/dotnet/corefx/issues/470#issuecomment-147809240

I'm using the optional args as spec'd above, but I can easily change that to doubling up on the overloads with simple inline-able methods, and I'm inclined to agree with the argument that I should. What can't be done easily is changing to that after the new API is in.

Thoughts?

[2016-12-15 20:36] gkhanna79 commented on #12224
I think we can close this.

[2016-12-15 20:36] #12224 closed

[2016-12-15 20:46] #14538 closed

[2016-12-15 20:51] JonHanna commented on #14244
I split up the sentences and hopefully clarified a bit (sometimes attempts at concision end up reading more verbose than otherwise) and added a sentence at the end about using tie-breaking rules in creating total orders out of parial.

[2016-12-15 20:56] JonHanna commented on #14244
Also fixed the copy-pasting in the example dates, as I had Montreal and Bangalore in time zones over a week apart :grin:

[2016-12-15 20:57] karelz commented on #11220
That's an old comment. I think we changed our mind since then - @terrajobst @weshaggard can you please confirm?

[2016-12-15 21:00] khellang commented on #11220
The engineering guidelines mentions [an exception for `CancellationTokens`](https://github.com/aspnet/Home/wiki/Engineering-guidelines#async-method-patterns).

[2016-12-15 21:01] karelz commented on #14529
Which libraries need them and why? (disclaimer: I have 0 knowledge about the APIs)

[2016-12-15 21:05] JonHanna commented on #11220
Grand so.

[2016-12-15 21:18] karelz commented on #11100
@robertmclaws We do not think that the version change would make a difference. Most people (app and library owners) typically just "hit upgrade to latest" on their packages, they don't care how much the version changed (minor vs. major). So the breaking impact will be exactly the same.
It is even worse that the "breaking" effect will come to light only when you combine multiple things. That's why

[2016-12-15 21:21] dluxfordhpf commented on #11100
For versioning of breaking changes, I think 5.0 is a good idea, but I don’t feel that strongly about it.

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;) i

[2016-12-15 21:24] ciel commented on #11100
I'm still very confused about what is causing this problem in the first
place. You guys are really talking over my head.

I care pretty greatly about the version numbers matching, but if that has
to go in order to make this problem stop, I'll deal with it.

Didn't I read an article a few months ago about how most of the
System.Net.Http library was being sunset in favor of a rebuilt one?

On Dec 15

[2016-12-15 21:30] dluxfordhpf commented on #11100
I concur.  I derived some details from the email earlier today, but I still am unsure.  It would be nice to see a good description of the internal problem so we understand the proposed solutions.

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.home

[2016-12-15 21:33] chadwackerman commented on #11100
@karelz I appreciate what you're trying to do here but taking a poll as to what "version 5.0" means is a total waste of everyone's time. It's GitHub socializing not engineering. I'd ship a 5.0 version TODAY that fixes this and ship a 6.0 when you figure out how to set all your little annotations right and/or refactor the code.

Statements like "Most people (app and library owners) typically just h

[2016-12-15 21:36] onovotny commented on #11100
@dluxfordhpf @ciel Unfortunately, this is a hard area to explain. It's all coming from "legacy" Code Access Security that's no longer actively recommended for use.

Here's a summary of what it's purpose is/was: https://msdn.microsoft.com/en-us/library/ee191569(v=vs.110).aspx

The actual issue has to do as @karelz said with an type of one level of security transparency (by way of being in the deskt

[2016-12-15 21:49] stratospheres commented on #10470
Man, this really burned me - I simply ported some really well working code from an "old" style codebase to UWP and this absolutely hammered me... slowed down by roughly 20x.

+1 to fixing this... please.

[2016-12-15 21:57] dluxfordhpf commented on #11100
Thanks!  I’m familiar with CAS; technicals are wonderful.

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;) is intended solely for the use of the intended r

[2016-12-15 21:59] robertmclaws commented on #11100
Given all of the version number changes between .NET Core, .NET Standard, et. al. in the last year (and shipping new code versioned 4.3 on NuGet that runs on 4.6.2, I understand that Microsoft might not think that version numbers matter. But as someone who singlehandedly manages a very complex application architecture, and ships over 20 OSS NuGet packages, I wholeheartedly disagree.

Hitting "Upda

[2016-12-15 22:57] shmao commented on #14260
This is a duplicate of #11918.

[2016-12-15 22:57] #14260 closed

[2016-12-15 23:27] danmosemsft commented on #14536
@bartonjs @steveharter ?

[2016-12-15 23:32] janvorli commented on #14540
@rottor12 I have looked into it and found you have a bug there. You need to create a handle for the delegate itself, not the function pointer. So you need to do
[code]
Then it works as expected.

[2016-12-16 01:08] weshaggard commented on #11220
I agree we should make them optional parameters. Also @JonHanna it is much easier to start with one API overload with an optional parameter and add another overload later if necessary, the other way is much harder to undo because we cannot remove an API.

[2016-12-16 02:09] dotnet-mc-bot opened #14553 "Test failure: System.Net.Security.Tests failed with 'Xunit.Sdk.TrueException'"
Opened on behalf of @jiangzeng

The test `System.Net.Security.Tests.SslStreamStreamToStreamTest_Async/SslStream_StreamToStream_Write_ReadByte_Success` has failed.

Handshake completed.
    Expected: True
    Actual:   False

        Stack Trace:

           at System.Net.Security.Tests.SslStreamStreamToStreamTest.SslStream_StreamToStream_Write_ReadByte_Success()
Build : Master - 20161215.04 (Core

[2016-12-16 02:18] dotnet-mc-bot opened #14554 "Test failure: System.ServiceProcess.Tests.SafeServiceControllerTests/GetServices"
Opened on behalf of @jiangzeng

The test `System.ServiceProcess.Tests.SafeServiceControllerTests/GetServices` has failed.

KeyIso.CanStop\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.ServiceProcess.Tests.SafeServiceControllerTests.GetServices()
Build : Master - 20161215.04 (Core Tests)
Failing configurations:
- Windows.7.Amd64
  - AnyCPU-Release

Details;

[2016-12-16 02:29] jiangzeng opened #14555 "Some assembles threw 'System.PlatformNotSupportedException' when building"
No results generated.
[code]

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20161215.04/workItem/Microsoft.Win32.Registry.Tests/details/bc067652-895c-4a07-9cee-8fe8ae641a47

Failed assembles:
Microsoft.Win32.Registry.Tests
System.Net.WebSockets.Client.Tests
System.ObjectModel.Tests
System.Reflection.Emit.Te

[2016-12-16 03:06] nmschulte commented on #8951
@karelz; we're looking for a stack trace w/ debug symbols yet?  I've been out of the loop re: .NET Core for a few weeks now; perhaps I should try w/ newer releases (are there any?)?

[2016-12-16 03:31] ramarag commented on #12632
@ryanbrandenburg this issue actually is because or a bug in resource generation by cli.
The bug seems to be fixed in the latest build of cli [ The one with csproj and based on msbuild] https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/Latest/dotnet-win-x86.latest.zip

I am not sure if this will be fixed in the cli that used to be  work with  project.json
@piotrpMSFT  can you comment

[2016-12-16 03:32] #12632 closed

[2016-12-16 04:24] JonHanna commented on #11220
PTAL @ #14557

[2016-12-16 04:58] karelz commented on #13800
We still need tests

[2016-12-16 05:01] karelz commented on #8951
Yes, there have been releases since May: https://www.microsoft.com/net/download/core

[2016-12-16 05:17] gulbanana commented on #11100
The proposed fix sounds good to me but I'd just like to comment on the test matrix - use of HttpClient on desktop .NET is going to be a major thing for the foreseeable future. This combo really should be brought under test, even though it's true that not every possibility can/should be tested.

[2016-12-16 06:16] ramarag commented on #12632
@danmosemsft the behavior you are talking about only occurs if the neutral culture resources are available.

more info on the current behavior at https://msdn.microsoft.com/en-us/library/system.resources.missingmanifestresourceexception(v=vs.110).aspx#Anchor_6

[2016-12-16 06:47] jiangzeng commented on #14555
Looks like the same exception with #14467

[2016-12-16 07:00] AlexRadch commented on #14255
@karelz Can you answer, methods should be virtual or not? Both reviewers @jkotas, @tarekgh are thinking that methods should NOT be virtual and I do not not see any disadvantage to make them non virtual.

[2016-12-16 08:05] zabulus commented on #1794
Maybe it should declared as deprecated, and/or new API is proposed in this case. Something like ```leaveOpen``` flag used System.IO streams.

[2016-12-16 08:28] cmatj opened #14560 "NegotiateStream on UWP (WCF Windows authentication over NetTcp)"
Trying to communicate with a WCF service from a UWP app using `NetTcpBinding` and Windows authentication will throw a `System.PlatformNotSupportedException`. The binding is defined like this:

[code]

The exception will be thrown when trying to invoke any method on the endpoint's interface:
[code]
Thanks
/Thomas

[2016-12-16 08:33] varocarbas commented on #14443
NOTE: I have preferred to delete my last comment because of still not providing an answer addressing all the concerns here. Additionally, I will better analyse a specific case properly and create a new more-to-the-point issue in case of reaching the stage I had in mind (if not; I will come back to confirm that I couldn't get what I was after).

[2016-12-16 11:16] janvorli commented on #8951
This is a known issue that was fixed on June 26 2016. See https://github.com/dotnet/coreclr/issues/6016 and https://github.com/dotnet/coreclr/pull/6027

[2016-12-16 11:17] steentottrup commented on #14160
So instead of what I did before, where the `GetTimeZoneInfo` method is some black magic/hack I did, where I stored a TimeZoneInfo for each request in my web app, using DI:

    public static DateTime ToLocalDateTime(this DateTime dt) {
        TimeZoneInfo tzi = GetTimeZoneInfo();
        dt = TimeZoneInfo.ConvertTimeFromUtc(dt, tzi);
        return dt;
    }

This is what it will look like if thi

[2016-12-16 11:50] svick commented on #14244
@JonHanna

Did you mean `Comparer<double>.Default`? `EqualityComparer` does not define ordering.

[2016-12-16 11:50] varocarbas opened #14561 "Faster first element of LINQ methods"
I have deleted these contents because of being (partially) faulty and misleading regarding the performance improvements which might be achieved by relying on the proposed methodology.

[2016-12-16 11:51] Thaoden commented on #14288
@saurabh500 I have updated my repo: I changed the framework to .NET Core. The same error is thrown on my dev machine, I could not yet test this on a different machine.

Apparently, this is related to [this Stackoverflow issue](http://stackoverflow.com/questions/32609088/arithmetic-overflow-exception-when-opening-sql-connection): Renaming the `LavasoftTcpService64.dll` file helped in creating the d

[2016-12-16 11:58] JonHanna commented on #14244
@svick I did indeed. Fixed.

[2016-12-16 12:20] AlexeiScherbakov commented on #984
+1
Also implementation must be overridable. For example if you need write serial port over socket without writing driver, or other serial port implementation.

Current .NET Framework/Mono implementation for example don't allow to override **Open** method, and it is a problem on Linux (http://antanas.veiverys.com/mono-serialport-datareceived-event-workaround-using-a-derived-class/). When it overrid

[2016-12-16 12:22] antiufo commented on #14561
Another option is simply using `first.First(x => second.Contains(x))`.

[2016-12-16 12:30] varocarbas commented on #14561
@antiufo Thanks for the proposal but it doesn't seem a good idea as far it performs much worse.

I hope that you don't mind me using your comment to highlight that the previous issue got "out of control" too quickly. This is a quite wide situation with lots of opinions and its seems to trigger certain kind of behaviour which don't think that are too positive for everyone.

Please, before suggestin

[2016-12-16 12:58] antiufo commented on #14561
These are very specific optimizations that are better left to individual developers.

If the second collection contains a lot of duplicate items, it can make sense to turn it first into an hashset. If you need all the elements of the intersection, the current implementation is fine. If you expect the search to finish very soon, it can make sense to use a custom approach like the one above, or a `f

[2016-12-16 13:22] varocarbas commented on #14561
@antiufo

I am proposing a general approach (I am very specific to avoid worthless abstract discussions) which, under the current conditions, performs much better than the standard LINQ methods for almost any size (having two collections of 100 elements isn't too weird and the proposed quick approach is already much quicker there), why individual developers should care about that? You can make the

[2016-12-16 13:30] JonHanna opened #14563 "Failures in TextWriter and StreamWriter to handle null inputs to WriteLineAsync"
If null is passed to `TextWriter.WriteLineAsync(char[])` it will produce no effect. By analogy to the non-async method it should write a newline as if `TextWriter.WriteLineAsync()` had been called.

If null is passed to `StreamWriter.WriteLineAsync(string)` it will throw a `NullReferenceException` or fail an assertion in Debug. Likewise it should behave as if `StreamWriter.WriteLine()` had been ca

[2016-12-16 13:31] JonHanna commented on #14563
See https://github.com/dotnet/coreclr/issues/8661for an analogous (but not quite identical) issue in coreclr.

[2016-12-16 13:46] chadwackerman commented on #11100
Yeah the test thing sounds like a copout to me too. Add the top 100 packages to your unit test project and make sure your crap still runs. Seems like the kind of basic engineering Microsoft used to do before realizing they could fire the testers and let "the community" sort this stuff out instead. It's just such a terrible and frustrating waste of time.

[2016-12-16 13:48] rottor12 commented on #14540
I've made the changes you described, but .. the behavior is still the same

this behavior is repeatable, and the Main() function doesn't even finish, so the pointer to a function nor delegate should'n't be garbage collected just after the specific line is executed

[2016-12-16 13:51] ciel commented on #11100
Because the 'old' QA that brought us Windows ME and Vista were superior.

Also, I'm sure insulting them will get the job done faster.

On Dec 16, 2016 7:46 AM, "chadwackerman" <notifications@github.com> wrote:

[2016-12-16 14:05] janvorli commented on #14540
It doesn't matter that the main function doesn't finish. When the variable is not used in the code flow  anymore and it is not stored in a global or referred to by another heap object, the GC can collect it any time. You would need to use GC.KeepAlive at the end of Main to ensure that. That is another way to solve the issue with your example, but creating GC handle works as well.

I have tried to

[2016-12-16 14:14] rottor12 commented on #14540
I'll take a look at this once again ...

the only difference is that I'm using g++:
Thread model: posix
gcc version 4.8.5 (SUSE Linux)

[2016-12-16 14:17] jnm2 opened #14565 "Using Win32Exception with out of box netstandard1.3 project causes FileNotFoundException"
Am I doing something incorrect? I was not sure if this is the same problem as the other problems I've had with netstandard. Just by luck, every single one of my forays into netstandard have failed with this same type of issue. I have great confidence that it's just me and these will all be fixed by VS2017's RTM.

 * Create a new .NET Standard library targeting `netstandard1.3`.
 * Create a static

[2016-12-16 14:25] chadwackerman commented on #11100
Calling out bullshit believe it or not does get the job done faster. Otherwise you've got millionaire dev managers who haven't written a line of code in 10 years saying "Wow this Github thing sure is neat. let's hack the upvote/downvote emoji and hold a poll so I don't have to make a decision." As if that's going to resolve anything after man-months of work and six hours of triage meetings interna

[2016-12-16 14:28] ciel commented on #11100
Found the team leader no one invites to the holiday parties because he
treats people like shit.

On Dec 16, 2016 8:26 AM, "chadwackerman" <notifications@github.com> wrote:

[2016-12-16 14:34] chadwackerman commented on #11100
Or maybe you found the guy who learned how to unblock his entire team by getting Microsoft to finally act on an issue that was ignored for months.

Microsoft has completely duplicate bug lists and priorities internally. Github is a bunch of social nonsense. They wouldn't take a pull request for this issue anyway so this turns into a customer support thread. The devs did a bad job here and it's oka

[2016-12-16 14:38] ciel commented on #11100
There's a stark difference in the devs hearing that and being an
insufferable asshole. If insulting remarks is the only way you can convey a
point, then maybe you should stick to berating the people you're at least
paying to put up with you.

On Dec 16, 2016 8:34 AM, "chadwackerman" <notifications@github.com> wrote:

[2016-12-16 14:46] Thaina commented on #9162
@svick No, System.Json is actually way better basic and ease to use that NewtonSoft.Json

NewtonSoft.Json is good when you want to work with dynamic and arbitrary type serialization. But sometimes it just overkill and System.Json is plainly simple

[2016-12-16 15:01] chadwackerman commented on #11100
I'll respond only because Microsoft uses "sort by GitHub number_of_comments" to assist in what @karelz so politely leaked as "figure out funding." You're welcome to use the GitHub emoji scale to validate your social values as well.

Dude came in and said SemVer doesn't matter. It's our duty as engineers to point out how absurd that is. It's a classic case where we need a more senior manager who ha

[2016-12-16 15:02] dluxfordhpf commented on #11100
Yeah, this bug has sucked, and I am surprised to see a main path sev1 released.  But IMHO the real pain from this is due to the design of NuGet:  any NuGet package a project uses has to be manually referenced by *all* consumers of that project.  That is needless duplication and bad design, it sets you up for failure.  The synchronization wizard is useless when he basic design is bad.  NUGET is why

[2016-12-16 15:09] steveharter commented on #14536
Since this was an offline chain build, it is not subject to the normal network\service issues. So marking this as a bug for now.

Perhaps it is environmental and\or related to file permissions. See also https://github.com/dotnet/corefx/pull/3430 and https://github.com/dotnet/corefx/issues/14166

At a minimum we should add some diagnostic information, perhaps throw exception with error details on t

[2016-12-16 15:38] steveharter commented on #13966
Fixed multithreading test bug

[2016-12-16 15:38] #13966 closed

[2016-12-16 16:18] nmschulte commented on #8951
I did my testing well after May and June; so while the issues are resolved in the src, at the time (and maybe still now), there's no way to use it on these systems as there is no release w/ it available.

[2016-12-16 16:24] tmds commented on #14152
I also think the first proposal is more intuitive. However, the Window API (see next answer) is closer to the second proposal and also ncursues is also using the second API. All-tough less intuitive at first, it may be the better option.

The use case is creating TUI (text user interface) application, these are GUI applications on the console. For these application it is desirable to rearrange the

[2016-12-16 16:29] janvorli commented on #8951
@nmschulte the tarballs available at https://github.com/dotnet/cli all contain that fix. The packages that you can download from http://dot.net site also have that fix.

[2016-12-16 16:40] karelz commented on #8951
Closing as dupe of the issues mentioned above: https://github.com/dotnet/corefx/issues/8951#issuecomment-267572781
If you have evidence the problem was not addressed, feel free to reopen.

[2016-12-16 16:40] #8951 closed

[2016-12-16 17:01] tarekgh commented on #14160
introducing the proposed method make sense to me.

[code]
notice I have changed a little bit in the implementation you previously provided.

The question now is, does it make sense to have overload to ToLongDateString, ToShortTimeString...etc. or not

[2016-12-16 17:34] karelz commented on #1794
@name1ess0ne

It matters, because it helps us understand the impact of current situation. Changing APIs (even bad APIs as you point out) has impact. Adding new APIs also has impact.
We're not purists to change APIs just because they use bad patterns. What matters is impact on developers. And the decisions are always combo of benefit/cost/risk.

I was not suggesting that retry should not be present

[2016-12-16 17:50] karelz commented on #14541
@JonHanna I am not sure I fully understand your answer (sorry!), so let me ask you explicitly -- do you agree with @svick's proposed wording? Or do you propose changes to the new wording?

MSDN topic: [`Enumerable.Intersect`](https://msdn.microsoft.com/en-us/library/bb460136(v=vs.110).aspx)

Old wording:

New wording:

[2016-12-16 17:57] kouvel opened #14566 "Raise AssemblyLoadContext.Unloading before AppDomain.ProcessExit"
Currently, the Unloading event just subscribes to the ProcessExit event, so callbacks would be raised in subscription order. Instead, all callbacks for the Unloading event should be invoked before callbacks for the ProcessExit event. The Unloading event on a non-default assembly load context could in the future be raised earlier when the assembly load context is unloaded, so it would make sense to

[2016-12-16 17:57] karelz commented on #14565
@weshaggard @ericstj any idea what's going on here?
[`System.ComponentModel.Win32Exception`](https://apisof.net/catalog/System.ComponentModel.Win32Exception) is part of netstandard1.3.

[2016-12-16 17:57] kouvel commented on #14566
@cakine

[2016-12-16 18:03] BoltR commented on #9162
It's worth taking into account that while Newtonsoft's Json.NET is a very good library; It's fast, but it's not the fastest. As such, it is probably a matter of time before one of the 'make it go fast' guys in the Kestrel space identifies it as the bottleneck and wants to make it go faster. Kestrel is doing well in the plaintext benchmarks, but falls down a bit in comparison when it starts dealing

[2016-12-16 18:08] karelz commented on #14255
The answer is driven in the PR: https://github.com/dotnet/coreclr/pull/8651#issuecomment-267618392

[2016-12-16 18:11] pharring commented on #14336
Since this is up for review, I'd also like to suggest adding a marker interface to ```System.String``` called ```System.IString``` that may be used to identify "string-like" things. To tie in with this proposal, I believe ```System.IString``` should derive from ```System.Collections.Generic.IReadOnlyList<char>``` and ```System.String``` would implement ```System.IString``` rather than ```IReadOnly

[2016-12-16 18:16] karelz commented on #14336
@pharring is there benefit to tie it to this proposal? Shouldn't it be separate proposal?

[2016-12-16 18:17] karelz commented on #14336
@joperezr can you please update the API proposal?

[2016-12-16 18:26] JonHanna commented on #14541
Yes, that was a long-winded (a side-effect of thinking about things while I type instead of before I type) way of say "+1".

[2016-12-16 18:30] rottor12 opened #14567 "PInvoke for empty function takes over 300 usec - is it normal ?"
extern "C" void TestEmptyFunc()
{
}

[DllImport("wrapperlib.so", EntryPoint = "TestEmptyFunc", ExactSpelling = true)]
public static extern void TestEmptyFunc();

I've measured the time it takes to execute this empty function from .NET Core, and it turns out it takes some considerable time - over 300 usec

Before Empty func 18:23:22.320623
After Empty func 18:23:22.320944

is it normal ?

[2016-12-16 19:04] pharring commented on #14336
@karelz Yes, they _could_ be separate proposals. I was being a bit lazy by piggy-backing on this one.

Really, I want ```System.IString``` to act like an easier-to-type-and-remember alias for ```System.Collections.Generic.IReadOnlyCollection<char>```. If ```System.IString``` was introduced on its own, then it would need a few methods from ```IReadOnlyCollection<char>```.

I'll open a new issue to

[2016-12-16 19:23] steentottrup commented on #14160
It always makes sense, on all DateTime format methods. Imagine the scenario where it's a forum, a user has posted a new topic at 2:00 AM UTC, on December 16th 2016, now you visit the site, you're in GMT minus something (bigger than 2 hours), so this needs to show as December 15th, 2016, even without a time and timezone in the output string.

At least I think so!

[2016-12-16 19:24] karelz commented on #14541
Thanks for confirmation @JonHanna.
@OmarTawfik @VSadov any opinion on the docs changes above? Based on the facts presented here it sounds reasonable to me ...

[2016-12-16 19:34] Genbox opened #14570 "Consider integration with third party incremental hash algorithms"
Incremental/stateful hashing was refactored into its own class called [IncrementalHash](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/IncrementalHash.cs) according to @bartonjs in issue #9442

I think this is a good change, however, the refactoring left out the possibility of integration with third-party stateful (incremen

[2016-12-16 19:49] tmat opened #14571 "SignatureTypeEncoder missing API for encoding custom modifiers on void*"

[2016-12-16 20:52] danmosemsft commented on #14553
@CIPop @davidsh were there any changes in this area? At a glance this doesn't seem like one of the fragility issues.

[2016-12-16 20:53] danmosemsft commented on #14554
@Priya91 could you please take a look at this.

[2016-12-16 21:01] danmosemsft commented on #12228
@jimcarley could you give an update -- did the logging go in?

[2016-12-16 21:02] danmosemsft commented on #6302
@steveharter could you please take a look? this seems like a correctness issue, as well as CI impact.

@bartonjs

[2016-12-16 21:02] danmosemsft commented on #14503
@MattGal who's the right person to look at this test failure?

[2016-12-16 21:03] danmosemsft commented on #14505
@kouvel @alexperovich could one of you please take a look?

[2016-12-16 21:06] danmosemsft commented on #11030
@mellinoe for the question above

[2016-12-16 21:11] justinvp commented on #3482
We should reopen this issue until the CoreFX-side of the changes in #14521 are completed.

[2016-12-16 21:16] pharring opened #14572 "Introduce System.IString interface and implement it on System.String"
### Proposal
Introduce an interface called ```IString``` in the System namespace. The purpose of the interface is to identify string-like objects and provide a minimal set of methods over them. The native ```System.String``` type should implement this new interface.

### Motivation
The motivation for this proposal is to allow library authors to implement efficient alternative representations of 's

[2016-12-16 21:17] danmosemsft commented on #14046
The TFA seems to last for a while. At least on my work computer I can't remember the last time I had to authenticate again.

[2016-12-16 21:19] pharring commented on #14572
Looking for feedback from @KrzysztofCwalina @joperezr @stas-sultanov @sharwell @JonHanna

[2016-12-16 21:20] chcosta opened #14573 "Enable building System.Threading.Overlapped and System.Runtime.Serialization.Formatters"
Disabled with https://github.com/dotnet/corefx/pull/14489/files because they aren't building with configurations changes.  Need to re-enable these and make sure they are part of building Microsoft.Private.CoreFx.NETCoreApp.pkgproj

[2016-12-16 21:21] MattGal commented on #14503
This isn't a test failure, it's an infra bug.  An extra Packages.zip is now getting created that is treated like a test, but since it contains no scripts or tests.

I filed https://github.com/dotnet/core-eng/issues/253 to track this.  I suspect it's related to recent work @karajas

[2016-12-16 21:30] jimcarley commented on #12228
Not yet. Qi is working on it. She has a PR outstanding.

[2016-12-16 21:44] ahsonkhan opened #14574 "Span: Enable back the fast span tests after GC correctness work is complete"
Related to PR #14262 where the tests for fast span were disabled because the GC correctness work has not been done for fast span yet.
https://github.com/dotnet/corefx/pull/14262#issuecomment-267164311

Waiting for issue [#5851](https://github.com/dotnet/coreclr/issues/5851) to be resolved, specifically, JIT - Correctness – proper GC reporting of the special byref field, to re-enable the tests for

[2016-12-16 21:45] mellinoe commented on #11030
@Daniel-Svensson Wow, that was extremely thorough! Thanks for the attention to detail. Do you have the code available anywhere for reference? It sounds like you may only have the `Add` operation implemented, but it should be easy to "auto-generate" the rest of the code using some text templating (I use T4 templates for `Vector<T>`).

I like this proposal overall, and based on the testing, performa

[2016-12-16 21:45] bartonjs commented on #14570
@Genbox The ICryptoTransform nature of HashAlgorithm is (for better or worse) has come back with netstandard2.0.

But I'm rather fond of the separated nature of the incremental and atomic hashes (though we did also fix the side effects of intermixing), so I'm happy to see IncrementalHash support other things.  We'd just need an API proposal to discuss.

[2016-12-16 21:50] CIPop commented on #14553
@karelz, @danmosemsft : this should be bundled with the other test failures. The failure-class is timeout.

@danmosemsft `DoHandshake` returns false if the `WaitHandle.WaitAll` takes more than `TestConfiguration.PassingTestTimeoutMilliseconds`.

[2016-12-16 21:58] tarekgh commented on #14160
we need to have the exact proposal to the design review committee. Thanks.

[2016-12-16 22:00] danmosemsft commented on #14553
Got it -- fine

[2016-12-16 22:03] danmosemsft commented on #14572
@stephentoub

[2016-12-16 22:06] mellinoe commented on #14242
This is done.

[2016-12-16 22:06] #14242 closed

[2016-12-16 22:19] joperezr commented on #14572
We recently closed a similar issue #11391. cc: @AlexGhiondea

[2016-12-16 22:50] mellinoe commented on #14572
I think I need more convincing that this is actually a distinct concept from `IReadOnlyList<char>`, as proposed. The linked issue (#11391) actually describes a (in my mind) real `IString` interface (exposing the operations that `string` does), but this just looks like `IReadOnlyList<char>` with one member renamed.

Basically, I'm not really following this logic here:

I don't think "having a count

[2016-12-16 22:53] CIPop opened #14576 "System.IO.FileSystem.Tests fails on my Dev box"
[code]

After the test ran (and failed):

[code]

Flighted Windows Build: 14994

[2016-12-16 22:54] CIPop commented on #14576
@JeremyKhune, @ianhays PTAL

[2016-12-16 22:55] CIPop commented on #14576
@JeremyKuhne , @ianhays PTAL

[2016-12-16 22:56] CIPop commented on #14576
PS: @JeremyKuhne your name/alias are misspelled in https://github.com/dotnet/corefx/blob/af424759ba2b86e24f110a418a9112f0c5d8107d/Documentation/project-docs/issue-guide.md (causing my copy/paste to fail):

System.IO	@JeremyKhune, @ianhays

[2016-12-16 23:00] CIPop opened #14577 "System.Security.Cryptography.Cng.Tests and System.Security.Cryptography.X509Certificates failing on my Dev box"
Common theme: The buffer supplied to a function was too small

[code]

@bartonjs, @steveharter PTAL

Flighted Windows build: 14994

[2016-12-16 23:04] JeremyKuhne commented on #14576
Thanks for letting me know about the alias. @karelz Can you fix the doc?

I'm unaware of any issues. I would assume you've got some other service touching them while the tests are in progress. You should be able to catch the culprit using [ProcessMonitor](https://technet.microsoft.com/en-us/sysinternals/processmonitor).

[2016-12-16 23:04] danmosemsft commented on #14529
@karelz usage is about 2% based on nuget and apiport telemetry : https://apisof.net/catalog/System.Runtime.Caching

[2016-12-16 23:04] jahmai commented on #11100
The reason why this issue (and #9884) have caused so much pain for us is because we moved our cloud services from Azure web roles to Service Fabric services and had to move to netcore/netstandard, but still running in full framework apps.

At first I did the binding redirect workaround which seemed to work for a time, but our devs were constantly breaking something by accidentally reverting an app

[2016-12-16 23:05] CIPop commented on #14577
Also:

[code]

[2016-12-16 23:06] jamesqo commented on #11840
@JonHanna We might end up having to use interface anyway with https://github.com/dotnet/corefx/pull/14579, which introduces a new iterator base class.

[2016-12-16 23:11] danmosemsft commented on #684
Anyone willing to write up a formal [api proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) ?

[2016-12-16 23:12] #6331 closed

[2016-12-16 23:12] danmosemsft commented on #574
@Priya91 @ianhays is this ready to get marked ready for review?

[2016-12-16 23:13] sepidehMS commented on #1491
Fixed by https://github.com/dotnet/corefx/issues/14462

[2016-12-16 23:13] #1491 closed

[2016-12-16 23:13] danmosemsft commented on #970
Anyone willing to write up a formal [api proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) ?

[2016-12-16 23:13] danmosemsft commented on #992
Anyone willing to write up a formal [api proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) ?

[2016-12-16 23:30] karelz commented on #14046
@danmosemsft JamesKo is hoping between computers: "because I hop between a lot of different computers."

[2016-12-16 23:30] karelz commented on #3482
Agreed, thanks for reminder.

[2016-12-16 23:37] chcosta opened #14580 "Add Configurations for reference libraries"
Some of the reference libraries require configurations (System.Runtime and System.Runtime.Extensions, for example).  Add configurations for those libraries and remove builds files from ref library projects.

[2016-12-16 23:41] mellinoe opened #14581 "[dev/eng] CI is not catching all compilation failures"
There's two projects that are failing to build on Ubuntu (at least, probably all Linux's although I didn't check), but they aren't getting caught by CI for some reason.

https://ci.dot.net/job/dotnet_corefx/job/dev_eng/job/ubuntu14.04_debug_prtest/144/consoleText

I can fix the compilation errors, but I'm not sure why CI isn't catching this in general.

@weshaggard @chcosta @joperezr

[2016-12-16 23:42] chcosta commented on #14581
I saw these same failures on OSX, but didn't catch them on Linux.  I'll submit a fix for this.  I'll also look into why failures are not being caught.

[2016-12-16 23:43] mellinoe commented on #14581
I have a fix actually, so don't worry about that. We should try to figure out why CI doesn't catch it though.

[2016-12-16 23:53] pharring commented on #14572
@joperezr Thanks for the pointer to #11391. Apart from the name, this _is_ different. This proposal is much closer to the ```IReadOnlyList<char>``` proposal, #14336. It is definitely *not* trying to provide a full abstraction over string *operations* which, I believe, was @KrzysztofCwalina's objection to #11391. I agree with that, but largely because ```System.String``` suffers from the same fault

[2016-12-16 23:54] danmosemsft commented on #14577
@bartonjs @steveharter thoughts?

[2016-12-16 23:54] weshaggard commented on #14580
We should add BuildConfigurations for all reference assemblies even if they are just netcoreapp.

[2016-12-16 23:55] pharring commented on #14572
@mellinoe I tried to explain above why this does not aim to provide abstractions over those lexical operations. As for not following the logic: I see, yes, _'I behave like a string'_ misses the mark. It's more like "I am an ordered sequence of chars with a definite length and I support random access". I believe that definition is minimal enough to be simple to implement but complete enough to be v

[2016-12-16 23:56] weshaggard opened #14582 "Add BuildConfigurations for test projects"
We need to convert all the test builds files to BuildConfigurations.

@joperezr please share what you have for @mellinoe

[2016-12-16 23:57] weshaggard commented on #14520
Also clean out all the ones we don't plan to ship any more.

[2016-12-17 00:03] weshaggard opened #14583 "Fix BuildConfigurations in all projects"
For any source projects that were targeting netstandard1.7 and are part of netstandard their build configuration should be turned into netcoreapp.

We should change all the build configurations to be version-less so netcoreapp or netstandard instead of netcoreapp1.1 or netstandard2.0.

We should clean-up the conditions in the projects that are no longer applicable and make them match the current c

[2016-12-17 00:05] weshaggard opened #14584 "Clean-up all projects of dead properties"
Similar to what we did for the test projects we cleaned up a bunch of dead properties (i.e. Configuration, NugetTargetFramework, etc) we should clean-up the rest of the projects under ref and src similarly. We should also clean-up things like TargetingPackReference now which aren't used.

[2016-12-17 00:08] danmosemsft commented on #1010
@CarolEidt for the question above

[2016-12-17 00:10] danmosemsft commented on #1168
@terrajobst it would be great to nudge this one along.

[2016-12-17 00:15] danmosemsft commented on #1605
Anyone willing to write up a formal [api proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) ?

[2016-12-17 00:22] CarolEidt commented on #1010
@danmosemsft - I'm a little confused as to what the offset means. Does that mean to return the low-order {32 or 64} bits of the bit mask containing the high bits of the elements in Vector<T> starting from the offset'th element? It might be good if we had some pseudo code for this just to make it clear.
And I should second what @mellinoe says - I'm juggling a few things right now, and am probably l

[2016-12-17 00:24] weshaggard opened #14587 "netstandard.dll facade needs to be build and added to the flat Corefx.NETCoreApp package"
We are currently building it as part under layout\shims.proj but we should move it under the source tree and build it and get it bin-placed for the packaging.

[2016-12-17 00:26] karelz commented on #14576
@JeremyKuhne updated, sorry for the typo! BTW: It was right in Configuration line & in the link to your profile in the IO line, just wrong text in IO line.

[2016-12-17 00:26] weshaggard opened #14588 "Clean-up binplacing targets"
We need to remove binplacing.targets and merge a more complete bin-placing logic somewhere into the build tools targets (perhaps FrameworkTargeting.targets). We will likely need to have a build task to produce the set of directories to binplace to. I've got a start of some of that work at https://github.com/weshaggard/corefx/tree/BinPlacingTask.

[2016-12-17 00:28] weshaggard opened #14589 "Update CI and Official build definitions to handle new build configurations"
We need to update our CI and official builds to use the new "BuildConfiguration" and "RuntimeOS" properties instead of the existing properties they currently use.

[2016-12-17 00:32] mellinoe commented on #1010
Yes, that is correct. It would be for cases where vectors have greater than 32/64 elements in them. We could consider just exposing the parameterless version at first, that one being equivalent to passing `0` in.

[2016-12-17 00:35] weshaggard opened #14590 "Update CI and official builds to understand new testing infrastructure"
Today our official builds build and run tests on separate machines and use nuget packages to exchange between the machines. We need to change or update the exchange currency for our new setup. Likely need to start sharing the targeting pack and runtime output directories with our test builds.

[2016-12-17 00:36] weshaggard opened #14591 "Merge dev-eng branch to master"
Once all our dev-eng tasks are done we need to merge the changes back to master.

[2016-12-17 00:37] weshaggard opened #14592 "Add support of UAP build configuration"
We need to add support for UAP with our new engineering system. This includes:

- [x] Enable the vertical build
- [x] Create the UAP flat package
- [ ] Enable UAP testing (In progress)

[2016-12-17 00:38] weshaggard opened #14593 "Add intellisense files into NETCoreApp package"
When we collapse the packages into a flat one we need to include the intellisense files.

[2016-12-17 00:38] weshaggard opened #14594 "Enable symbol packages for the CoreFx.NetCoreApp.Private package"

[2016-12-17 00:39] mellinoe commented on #14572
Yeah, I think we're in agreement there. To me, though, that sounds exactly like the definition of `IReadOnlyList<char>`, so I'm just trying to understand whether there's an important distinction in calling it `IString` when that name sounds more like what is described in #11391.

[2016-12-17 00:40] weshaggard opened #14595 "Crossgen binaries in the flat NETCoreApp package"

[2016-12-17 01:00] danmosemsft commented on #1010
@CarolEidt community are implementing APIs faster than we can approve them right now. I'm trying to speed up getting some of these old API proposals to the review meeting to make sure they don't run out of work...

[2016-12-17 05:00] pharring commented on #14572
@mellinoe Thanks for the feedback and glad we're in agreement. I tried to describe why I think ```System.IString``` is a better name than ```System.Collections.Generic.IReadOnlyList<char>``` in the proposal: In the System namespace and fewer characters. I originally tried to squeeze this naming proposal into #14336 but a comment there led me to make this separate proposal. I see what you mean, tho

[2016-12-17 06:00] AlexGhiondea commented on #14572
@pharring thanks for writing this proposal!

I think the shape of this interface is so close to an existing one that I find it hard to justify adding it. Assuming string implemented `IReadOnlyList<char>` would your use cases be captured?

Naming things is really hard indeed! 😄 If we use `IString` here we would have to find a different name for the interface that describes string-like objects.

/cc

[2016-12-17 08:35] Thaina opened #14600 "The type 'Assembly' exists in both 'System.Reflection' and 'System.Runtime'"
I try to use System.Json in .net core and it cause that error

This is my project.json

[code]

[2016-12-17 11:24] varocarbas commented on #14561
The code below these lines is expected to address future concerns about the proposed modifications being too specific.

[code]

This is much faster than the original `IntersectFirst`, but it doesn't seem to transmit the intended ideas too well. This code can only deliver the first intersected element, but nothing else. What I am proposing here is a generic approach which is applicable to most of L

[2016-12-17 11:38] hughbe commented on #6351
No problem, I've been busy too.

I understand the breaking change point. I think the problem here was slightly misunderstood. UriBuilder doesn't reject any value of the Host, and I don't think it should ever reject something like "::1]" for compat reasons.

This issue covers the fact that setting the host to "::1]" incorrectly transforms the new value, and sets host to "[::1]]"

I think it would m

[2016-12-17 12:12] tomkuijsten opened #14601 "UnauthorizedAccessException type incompatible between netstandard1.4 and netcore50"
I created a **netstandard1.4** project which generates a nuget package. There is a piece of code in this project:

[code]

When I install this package in a UWP (**netcore50**) project and (in my case) debug it on a Raspberry Pi, the catch statement is never called. When I put a `try...catch...` in the UWP project itself, it does catch the error. The only explanation I can think of is that the `Una

[2016-12-17 16:46] pharring commented on #14572
@AlexGhiondea You're right. It is very close to ```IReadOnlyList<char>```, and if that's where we end up with #14336, it won't be so bad. However, I feel that ```IReadOnlyList<char>``` is an unattractive name for reasons I've tried to explain above. To drive adoption, you want an attractive name that can appear naturally in method signatures and field definitions. I think my feelings would be quel

[2016-12-17 17:48] JonHanna commented on #14572
Is *immutable* here "I'm not going to let you mutate this" or "I promise nothing will mutate this? Does that distinction need to be made/understood?

If I'm working with a `SubString` from the above I don't know if its mutable or not in that it could be backed by a truly (barring some potshots-at-ones-feet reflection) immutable `string` or a mutable `char[]`. I don't know if I can safely consolida

[2016-12-17 18:36] karelz commented on #6351
Disclaimer: I am not expert on URI/URL spec, this is the first time I even see "[...]" syntax. I just assume it is supposed to be well-formed (using common sense, nothing else) and that's how I judge valid vs. invalid input. If that's wrong, feel free to call me out on it - I will happily readjust my view points.

@hughbe your last reply says something different than what you originally proposed (

[2016-12-17 18:43] daxfohl commented on #3480
@mgravell  @ploeh  "Rickasaurus" implied typeclasses were on the horizon (for F# at least, not sure about C# or .NET in general https://news.ycombinator.com/threads?id=Rickasaurus).  If it's the case that they're coming for all .NET, would it resolve the issue?

I'm not a Haskell expert, but my understanding is they'd allow you to bolt on a simple `IDbConnection`, `IDbConnectionAsync`, and any fut

[2016-12-17 18:58] hughbe commented on #6351
Thanks for spending the time considering and understanding this issue. I agree that the first proposal shouldn't be taken on the grounds of its unexpected consequences. The second one doesn't have as many, but I also agree that goodness for goodness's sake is pointless and wastes time.

I'll close this - thanks for the time spent on it again

[2016-12-17 18:58] #6351 closed

[2016-12-17 18:59] hughbe commented on #7154
This is unlikely to be fixed, too breaking. I'm going to close this to avoid wasting time on discussion

[2016-12-17 18:59] #7154 closed

[2016-12-17 19:12] karelz commented on #6351
Thanks for understanding.
I'll make sure to include the general info in our contributions docs, so that it is easier to reference in future. It is IMO valuable to keep track of valuable background / context of "how to think about changes, compat, etc.". And I bet we will find more valuable guidance/context like that in future ...

[2016-12-17 19:17] adityamandaleeka commented on #9416
I've been investigating this for a while. Based on all the data so far, and some experimentation I've done in CI, this is related to the Linux kernel memory management bugs we uncovered a while back (https://github.com/dotnet/coreclr/issues/6283#issuecomment-246041964). This hang doesn't repro when using a version of the kernel that contains the fix for that issue.

I also noticed a few months ago

[2016-12-17 19:19] hughbe commented on #6351
I'm sure you've realised, but obviously things like this start to complicate and reduce scope for external contributions. I assume some people might assume bugs are features, and either won't report or fix them

[2016-12-17 19:49] karelz commented on #6351
@hughbe I am not sure how you ended up with that impression or if I understand it properly. Can you please provide more details?

My view point is that few types are sensitive, and those will be hard to modify. However, vast majority (99.9%) of repo is open for almost any bug fixes, API additions, etc. I don't think we are discouraging anyone from contributions or bug reports. Just setting some ex

[2016-12-17 19:54] hughbe commented on #6351
Oh no, I haven't ended up with that impression. I just wanted to say I think its important in the documentation to emphasize that some areas are sensitive, whilst making clear bug fixes are welcome in less sensitive areas

[2016-12-17 20:00] karelz commented on #14600
It looks like you have a mix up of reference assemblies (System.Reflection, the 'right one') and implementation assemblies (System.Runtime, the 'bad one').
Can you find out where the latter comes from? (Trying minimal repro usually helps -- either starting with HelloWorld project, or by removing all unnecessary references)

[2016-12-17 20:02] karelz commented on #6351
Got it. And agreed that it has to be properly clarified - I will keep that in mind :). Thanks!

[2016-12-17 20:42] tmds opened #14606 "GetFields in declaration order"
If you search the internet how to do this, you will find the advice to sort by MetadataToken (e.g.: http://stackoverflow.com/questions/8067493/if-getfields-doesnt-guarantee-order-how-does-layoutkind-sequential-work)

Is this the proper way to do this? If so, perhaps it can be included in the documentation.
Does this need LayoutKind.Sequential to work?

[2016-12-17 21:09] Thaina commented on #14600
@karelz It came from `System.Json 4.4.0-beta-24721-02`. I don't know why it use `System.Runtime` instead of `System.Reflection`

I can let it work by remove `System.Json` package from my project. But I want to use it

[2016-12-17 21:14] gencebay commented on #13609
Hello again! Here you are what I'm trying to do with the DispatchProxy as DispatchProxyAsync. (have modified to async usage)
You can check or review from here! [NetCoreStack.DispatchProxyAsync] (Maybe we can merge)(https://github.com/NetCoreStack/DispatchProxyAsync)
Thanks.

[2016-12-17 22:49] karelz commented on #14600
Where did you get System.Json from? I can't find it on NuGet.
cc: @mellinoe @ericstj @weshaggard

[2016-12-18 00:18] karelz commented on #11100
I tried to describe the problem here: https://github.com/dotnet/corefx/issues/11100#issuecomment-267394198.
In nutshell:
- Http NuGet package 4.1/4.3 "overrides" Http 4.0 in .NET Framework, but does not have security attributes. Moreover it uses different OS component under the hood (i.e. "big change" + potentially breaking corner cases (while not directly relevant to this problem, it's a sign it

[2016-12-18 01:03] karelz commented on #11100
Not true at least on CoreFX & CoreCLR teams - GitHub is primary bug database for all .NET Core. Other non-open source products ("full" .NET Framework and .NET Native) use primarily internal bug databases.

We would not take a pull request which is not able to address/explain all the concerns above (incl. those the person submitting it doesn't personally agree with). Are there open source projects

[2016-12-18 01:23] karelz commented on #11100
Please let's keep the discussion technical from now on.

Quick update:
Solution [3] "**Sprinkle Security attributes in System.Net.Http**" as described above seems to be costly (6w+), so we re-pivoted its internal implementation details: We are considering to use original Http implementation from 4.0 version of the package + implement the 8 new APIs on top of it as best as we can (some may be techn

[2016-12-18 02:35] karelz commented on #13746
@AlexRadch we need tests for the new APIs.
I have noticed you have a few half-finished API additions without tests. Can you please prioritize them over starting work on even more new APIs?

[2016-12-18 02:38] karelz commented on #14255
For the record: The API proposal was updated by @tarekgh - see https://github.com/dotnet/coreclr/pull/8651#issuecomment-267710949.

[2016-12-18 02:42] karelz commented on #2869
Awesome, thank you very much @justinvp for your help!

[2016-12-18 02:58] karelz commented on #2089
Thanks Ian!

Updated execution plan:
- [x] 1. @ianhays to kick start the project in CoreFX repo - add source code, showing examples how to do it, advise with setting up build, packaging, prepare the project for future Linux/Mac ports, etc.).
- [ ] 2. Make the code build on Windows.
    - CC @tquerec @ianhays @karelz
    - We will not take any functional changes to the implementation, architecture,

[2016-12-18 03:09] gulbanana commented on #11100
if you're currently looking at the edge cases around this issue, this could be worth checking out:
https://github.com/gulbanana/repro-netstandard-httpclient

this solution demonstrates that currently in vs2017rc, using netfx and netstandard results in clashing versions of system.net.http. i'm not sure how that relates to the OOB thing.

[2016-12-18 06:18] Thaina commented on #14600
There are on nuget but that is version 4.0

Version 4.3 which compatible with dotnetcore is hosted in dotnet.myget

[2016-12-18 06:25] karelz commented on #12421
The API needs to be first reviewed by area experts - @AlexGhiondea @joperezr. They are going through the area now. I am not sure if they will time to finish it this year though.

After that we will need CoreFX API review.

My feedback:
- We will need to change the name. Differentiating between `URIBuilder` and `UriBuilder` is really bad IMO. What other alternatives did you consider?
- How often is

[2016-12-18 06:33] karelz commented on #12425
Blocked on CoreFxLab implementation - https://github.com/dotnet/corefx/issues/12425#issuecomment-267139670

[2016-12-18 06:40] karelz commented on #13538
Closing. If there is more evidence that the existing API is insufficient, feel free to reopen. Or open a new issue to enhance the existing API (preferred).

[2016-12-18 06:40] #13538 closed

[2016-12-18 06:42] karelz commented on #11566
1.1.0 was released. Can we make the change now?

[2016-12-18 06:51] karelz commented on #14600
Is it possible that you are by accident referencing the implementation assembly instead of reference assembly? Can you somehow figure out the path it resolves from? (should be in build log or rsp file)

[2016-12-18 06:54] karelz commented on #11861
@Priya91 @ianhays any update?

[2016-12-18 06:55] Thaina commented on #14600
@karelz I was just using that version of System.Json and it was include System.Runtime as its dependencies by itself. I don't like to say it is accidental because it was process of dependencies. The point is, why System.Json in dotnet.myget say it compatible with dotnetcore while it use System.Runtime

[2016-12-18 07:04] karelz commented on #14600
Did you check the package manually? Does the ref assembly truly reference System.Runtime?

[2016-12-18 07:11] karelz commented on #14237
Next step: We need formal API proposal

[2016-12-18 07:17] Thaina commented on #14600
@karelz https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Json

[2016-12-18 07:39] karelz commented on #14600
I don't see ref for netstandard or netcore, only xamarin and mono. Probably packaging problem (or I don't understand NuGet at all) -- cc: @ericstj @mellinoe
Did you try to compare the ref directory list with last official System.JSon release?

[2016-12-18 07:42] Thaina commented on #14600
This is what I see

![image](https://cloud.githubusercontent.com/assets/1042507/21292235/1da3106a-c530-11e6-9cb2-1936ab20cb21.png)

[2016-12-18 07:46] efratshenhar opened #14612 "Http pipelining"
I am trying to use HTTP pipeline (like this: [https://en.wikipedia.org/wiki/HTTP_pipelining ](https://en.wikipedia.org/wiki/HTTP_pipelining) ) in my .NET Core app.
Could you tell me how to do it or if it is even possible ?

[2016-12-18 07:51] karelz commented on #14600
The package System.JSon is not on nuget.org. Maybe you are not supposed to directly reference this package. Let's wait for experts to chime, you have reached the limits of my knowledge in this space ...

[2016-12-18 07:55] Thaina commented on #14600
Well, I have already told you

And the thing is dotnet.myget is also owned by .net foundation. Which I conclude that it came from this repo

[2016-12-18 08:18] karelz commented on #14567
Did you warm up the scenario first? (to avoid including JIT time)
Which perf framework did you use?
  - https://github.com/dotnet/BenchmarkDotNet
  - https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md
  - [MeasureIt](https://blogs.msdn.microsoft.com/vancem/2009/02/06/measureit-update-tool-for-doing-microbenchmarks-for-net/) (probably needs adaptation to .N

[2016-12-18 15:58] AndyAyersMS commented on #14567
There are some subtle aspects to measuring pinvoke overhead. See for instance the discussion in dotnet/coreclr#2373.

I recently made changes in the jit to allow inline pinvoke more broadly. If you have seen performance regress over time I'd be interested in looking more deeply.

[2016-12-18 16:10] bling opened #14614 "CurlHandler.MaxConnectionsPerServer unsupported on Centos 7"
### Steps to reproduce
run the following statements:

[code]

### Expected  behavior
no exceptions.

### Actual behavior
[code]

### Environment data
`dotnet --info` output:

[code]

### Comments

it appears to only affect Centos.   it works fine on Ubuntu.

[2016-12-18 16:27] joperezr commented on #14582
What I have is here: https://github.com/joperezr/corefx/tree/BuildTests

It only created BuildConfigurations manually to those test projects that required it in order for them to build. All of the rest will need to get generated from @chcosta 's tool

[2016-12-18 16:46] deepumi commented on #12421
@karelz Thank you for your feedback.
@AlexGhiondea @joperezr

Yes, indeed. I have mentioned this in my proposal. I would like to add this into System.UriBuilder class itself, so that we don't need to add a new type.

Well, now a days every single app does some sort of external API calls and currently there is no unified API in BCL world to build a URI with QueryString and Path. (Windows, Web and M

[2016-12-18 17:56] chadwackerman commented on #11100
I appreciate (and frankly admire) @karelz candor here but I'm going to sound the versioning horn one final time.

I'm not sure precisely which logical fallacy this is but you can't claim a deep nuanced experienced team understanding of versioning in the middle of a massive versioning problem like this.

Hopefully we can at least agree that NOT bumping the major version number and having a breaking

[2016-12-18 19:36] jamesqo commented on #14572
Very good point. I could imagine a lying `IString` implementation that returned `Robert` when first enumerated and `Robert'; drop table students` when enumerated again, leading to security vulnerabilities. Concrete types are the only way to guarantee immutability.

[2016-12-18 19:47] h3smith opened #14615 "Failed SqlConnection with Pooling drags down entire .NET Core MVC App"
When Pooling is enabled on a SqlConnection, and the connection fails (bad password, bad username, database doesn't exist) it will crash the entire .NET Core MVC app running.

For instance, the connection string: `Password=mybadpassword;User Id=api_web_admn;Data Source=127.0.0.1,1433;Initial Catalog=MyDatabase;Integrated Security=False;Min Pool Size=1;Max Pool Size=200;Pooling=true;`

produces:

[c

[2016-12-18 21:20] davidfowl commented on #14600
This is a known issue, the latest CoreFX packages aren't usable without the latest nuget (which doesn't exist for anyone yet). That's currently being worked on AFAIK.

/cc @ericstj

[2016-12-19 01:16] bartonjs commented on #14577
@CIPop If they were previously passing this indicates some sort of breaking change on the part of Windows CNG.  I'll try to dig into it on Monday to see where it's failing.  Sent out a feeler to Windows and they didn't have an "oh, yeah, you obviously were doing [blank] and should instead do [blank]" type answer.

[2016-12-19 01:29] yufeih commented on #14572
If we have https://github.com/dotnet/roslyn/issues/7451, then *IString* could be just a global alias of *IReadOnlyList<char>*

[2016-12-19 02:08] pharring commented on #14572
@JonHanna I would prefer it to be _"I promise that nothing mutates this"_. I don't think it's an undue burden on implementors, but it's worrying that an unadorned ```char[]``` would fail to fit the bill. ```char[]```'s ```IsReadOnly``` property comes from ```IList``` and it's _always_ false. Side note: One of the ideas we came up with when working on Immutable Collections was the ability to 'freez

[2016-12-19 02:55] brendandixon commented on #10799
@Priya91 I apologize for being slow to respond. One case I encountered involves openssl. I need to run content through two openssl commands. The first emits a binary stream the second consumes as input. Sadly, I cannot do that via two Process objects (which would seem to be the natural .NET approach). Instead, I have a single process that shells to bash and pipes the output. I tried many setting v

[2016-12-19 03:05] jamesqo commented on #14572
It doesn't matter if it's broken-- the fact that someone can even write such a thing opens the doorway to lots of malicious inputs for methods accepting `IString`.

Plus, there's another side to your proposal you didn't mention-- having an interface will severely slow down indexing into the string. Right now, the string indexer is basically just a pointer add/dereference. For `IString`, the indexe

[2016-12-19 07:16] steentottrup commented on #14160
I'll make something for this!

[2016-12-19 08:29] AlexRadch commented on #13746
@karelz I made PR in coreclr and when I should create tests in corefx repository? The PR can be not merged. Now I will try create test for deconstruction.

[2016-12-19 09:11] karelz commented on #13746
Thanks, please add them. I have noticed a few other issues assigned to you which are in similar state -- the coreclr change is done, but the tests are not finished yet.
Thank you!

[2016-12-19 09:16] rdghickman commented on #11639
I definitely feel an end-to-end example is sorely lacking. I have been fumbling around for days and have not yet reached a solution that appears clean and safe. I am assuming there is _some_ kind of solution but I have not yet been able to determine what it is.

The first project I have builds a `netcoreapp1.1` with an entry point. This is the host that will dynamically load a DLL. The other proje

[2016-12-19 10:27] Thaina opened #14620 "Are there a way to create ModuleBuilder without AppDomain?"
I was trying to make dotnetcore application can generate dynamic type. Which require ModuleBuilder which also require AppDomain

I can import System.Reflect.Emit to get ModuleBuilder but

So I can't get AppDomain to create dynamic assembly

Are there anyway to get it work in dotnetcore? Or it not allow at this time?

[2016-12-19 10:48] Thaina commented on #14620
Just found `AssemblyBuilder.DefineDynamicAssembly`

[2016-12-19 10:48] #14620 closed

[2016-12-19 11:31] aensidhe commented on #1794
@karelz can I try to submit a PR with proposal? I'm asking here because I should not according guidelines.

[2016-12-19 12:27] georgiosd commented on #14103
@davidsh actually this is not true. Looks like `HttpClientHandler.SendAsync` will also throw a rogue `WinHttpException`

[2016-12-19 14:33] ericstj commented on #14600
Actually they work with the latest msbuild based CLI @davidfowl.

Indeed the error here is caused by our reuse of netstandard1.7/netcoreapp1.1 in master which will be fixed with the rename that @alexperovich is doing.  Once that's in place you can target netcoreapp1.1 with the latest packages from CoreFx without an updated NuGet.

That said you still won't get any of the netcoreapp2.0/netstandard2

[2016-12-19 14:35] AlexRadch commented on #6073
@divega @bartdesmet @karelz I wrote some my design suggestions in https://github.com/dotnet/corefx/issues/6073#issuecomment-266939214 comment

[2016-12-19 14:57] dluxfordhpf commented on #11100
Thanks so much for your candidness and your explanations.

David L-

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;) is intended solely for the use of the intended r

[2016-12-19 16:42] karelz commented on #14600
OK, closing as by design then -- myget requires new NuGet.

BTW: I already have it on my todo list to properly document how to dogfood daily builds.
I also plan to schedule the version bump of netcoreapp in master right after we fork for release (2.0 or any future). That should also make things simpler.

[2016-12-19 16:42] #14600 closed

[2016-12-19 16:48] karelz commented on #1794
@aensidhe don't submit a PR for adding new API - please follow [API process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).
Key part of API proposal should be deeper analysis of the workaround - justifying the need for new API (e.g. links to StackOverflow showing lots of people look up the workaround or that it is not easy to do always).

[2016-12-19 17:21] karelz commented on #14606
I am pretty sure that TypeLoader uses metadata order for `LayoutKind.Sequential`.

What are the scenarios when you need the right order in Reflection? Or is it just curiosity question?
If the scenario is rare (the StackOverflow question does not have that many hits), I would suggest to not pollute the docs with deep dive details like this. Whoever needs it, can search internet. If it is in main do

[2016-12-19 17:26] karelz commented on #14612
Quick search found this: [HttpWebRequest.Pipelined](https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.pipelined(v=vs.110).aspx). Not sure if it is useful.

cc @CIPop if he can provide a quick hint ...

[2016-12-19 17:27] karelz commented on #14614
Is it possible that the error comes from cURL library? Did you try to debug it?

cc: @Priya91

[2016-12-19 17:39] weshaggard commented on #14165
I think that qualifies as fixing this issue. We should file other issues for the test failures. Thanks @dagood.

[2016-12-19 17:39] #14165 closed

[2016-12-19 17:58] pharring commented on #14572
I agree, but I don't think that problem is limited to ```IString```.  ```IReadOnlyList<T>``` would be no better. I can imagine a malicious implementation of ```System.Collections.Immutable.IImmutableList<T>```, for example. I don't know how to represent "idempotency" in the current type system - or even if that's necessary and sufficient. Maybe type theorists can tell us.

As for indexing perf: Ad

[2016-12-19 18:16] tarekgh commented on #14540
closing the issue here but @rottor12 please feel free to reopen it if you still have issue with the proposed changes. thanks.

[2016-12-19 18:16] #14540 closed

[2016-12-19 18:21] saurabh500 commented on #14615
@h3smith Can you provide details about the environment? What is the OS and .Net core version that you are using?

[2016-12-19 18:25] Jaedson33 commented on #4278
When do you think this class will be ready?

[2016-12-19 18:29] saurabh500 commented on #14288
@Thaoden seems like the LavasoftTcpServer.dll was the culprit based on the SO thread and the Lavasoft Support Thread.

I still don't have a repro using your app (This seems expected because I don't have LavaSoft service installed).

Since you have a solution, I am closing this issue. Let us know if you need any other information.

[2016-12-19 18:29] #14288 closed

[2016-12-19 18:30] tarekgh commented on #14565
@ericstj could this be the same binding issue?

[2016-12-19 18:42] karelz commented on #4278
Do you mean for contributions? @steveharter plans to submit the initial "add sources" PR very soon (most likely today).

[2016-12-19 19:09] AlexGhiondea commented on #12421
@deepumi thanks for this proposal.

As @svick mentioned, for new APIs we are trying to move away from using non-generic types like `NameValueCollection`.

As @karelz mentioned, we are trying to stick to a single way of using our APIs. In this case, introducing the fluent APIs might not be something we want to do.

@CIPop as he might have a different view on this.

[2016-12-19 19:15] varocarbas commented on #14561
Before starting with other methods (the next one in a few days), I want to share my clearer ideas regarding the iterating/just-first-element differences.

Actually, the problem isn't iterating, but iterating through a big enough number of elements. By taking the aforementioned `Intersect` as reference, there is a trade-off between keeping [the original Set<TSource> set](https://github.com/dotnet/c

[2016-12-19 19:19] ianhays commented on #14563
I'm somewhat cautious of issues like this. On one hand, the behavior is clearly inconsistent. On the other hand, it's established behavior that has been present for years and has the potential to cause breaks to people upgrading to .net core expecting the current behavior.

In the past I've zealously merged a few minor issues like this and had to undo them later in the name of compat. To avoid hav

[2016-12-19 19:28] ianhays commented on #574
I agree with @justinvp here.

I'd say so. This has been sitting for a while; lets make moves on it.

[2016-12-19 19:40] ianhays commented on #11861
I don't think that's wise. Do we do that with any other Immutable types? Consistency with the mutable BitArray is more valuable than making the immutable version a value type.

Same comment here about consistency with the mutable BitArray. We want the barrier to transitioning between mutable/immutable to be preferably as thin as possible, so IMO the APIs should be as close to identical as we can g

[2016-12-19 19:41] bartonjs commented on #14255
Reopening the issue since it needs a `ref` change and new tests in corefx.

[2016-12-19 19:53] OmarTawfik commented on #14541
I agree. This promise shouldn't be made even if it was the observable behavior.

[2016-12-19 20:03] karelz commented on #14541
OK, looks like we have agreement on the docs change by area experts - see https://github.com/dotnet/corefx/issues/14541#issuecomment-267653927 for suggested wording change.

cc @mairaw

[2016-12-19 20:05] karelz commented on #11861
@ianhays's suggestion to keep API surface compatible with mutable BitArray sounds reasonable.

I wonder if we could/should add the operators on top of that for easier use ... @ianhays, do we have such precedence in ImmutableCollections?

[2016-12-19 20:06] SamuelEnglard commented on #11861
I do get the idea for API compatibility. At the same time the very thing that prompted me to created this proposal was adding the operators... (Even without them though it would still be a good idea I think)

[2016-12-19 20:07] mikedn commented on #11861
`ImmutableArray` is a struct. But I don't think we can make `ImmutableBitArray` a struct no matter how much we may want that. `ImmutableBitArray` needs to store both the array reference and the bit count so it has 2 fields. That makes it problematic in multi-threaded scenarios, exactly where one might consider using an immutable data structure.

[2016-12-19 20:12] mikedn commented on #11861
Some API observations:
* the indexer has a setter, that's probably a mistake.
* the class should have a `struct` enumerator, like `List<T>` does
* it needs to have `SetBit`/`ResetBit` methods since the indexer can't be used for that

[2016-12-19 20:14] AlexGhiondea opened #14625 "Ensure that the Reflection tests don't rely on magic numbers to get bad token ids."
In our tests we are relying on the fact that a given token number, when 1000 is added to it, it becomes an invalid token

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Reflection/ModuleTests.cs#L186

That is a fragile logic as we can see in https://github.com/dotnet/corefx/pull/14431.

[2016-12-19 20:19] SamuelEnglard commented on #11861
Ah, yes. Thanks for the catch! I'll correct the API

👍

[2016-12-19 20:21] karelz commented on #14625
It caused enough troubles that we should try to fix it in 2.0 to avoid similar troubles in future.

[2016-12-19 20:26] deepumi commented on #12421
@AlexGhiondea Thanks you for reviewing it.

I also added a gist to have IDictionary and IEnumerable version for the above code. Please check here
[https://gist.github.com/deepumi/d6634e38b98e4552ca4dda19bbff0359](https://gist.github.com/deepumi/d6634e38b98e4552ca4dda19bbff0359)

[2016-12-19 20:35] karelz commented on #12421
@deepumi can you please post just the API shape. Implementation is secondary. Please think through all usage patterns and how it interacts with other APIs (e.g. setting QueryString vs. just adding one pair via your API).