[2018-07-19 11:03] karelz commented on #29622
@thuannguy same answer as before - please check existing solutions (looks like you already did), then file a new issue with clear steps (ideally minimal isolated repro - in your case, is upgrade necessary? Will it repro with HelloWorld app?).
cc @AlexGhiondea as @joperezr is OOF.

[2018-07-19 11:05] iSazonov commented on #30994
I see! I see tons PRs and blog posts that say that .Net Core is faster. _It is fantastic result!!!_
But when I run the same code on .Net Core and see that it's noticeably slower and GC is working worse what conclusion should I make? Wait .Net Core 4.7 version 10 years later? I expect that .Net Core app will work better than .Net Framework, and if it is worse, then not more than a few percent.

Thi

[2018-07-19 11:42] karelz commented on #30994
First, it is naive to think that everything can be made faster. Many key perf benefits are usually trade-offs - some scenarios get faster at the cost of other scenarios. Of course, we're trying hard to focus on the most important scenarios to get faster, while not making other important scenarios (much) slower.
Obviously sometimes perf improvements can bring unexpected perf regressions in other sc

[2018-07-19 11:42] benaadams opened #31186 "[Info] InvalidOperationException: Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct"
Just raising this so people will find the issue in a search.

This is an intentional exception that is being thrown by the Dictionary in newer .NET Core (issue https://github.com/dotnet/corefx/issues/28123, PR https://github.com/dotnet/coreclr/pull/16991) which indicates the dictionary is being incorrectly modified concurrently by multiple threads (it wouldn't have been detected previously and cou

[2018-07-19 11:42] #31186 closed

[2018-07-19 11:56] karelz commented on #30720
@AfsanehR the PR #31063 went into master branch - for .NET Core 3.0. I fixed the milestone.
If you need it fixed in UWP6.1 (the original milestone), I think you will need to port it manually into release/uwp6.1 branch.

[2018-07-19 11:58] karelz commented on #30936
@AaronRobinsonMSFT the PR #31109 went into master branch - .NET Core 3.0. I fixed the milestone.
If you need it in UWP6.1, I think you need to manually port it to the release/uwp6.1 branch.

[2018-07-19 12:06] benaadams commented on #31186
Just raising this so people will find the issue in a search.

This is an intentional exception that is being thrown by the Dictionary in newer .NET Core (issue https://github.com/dotnet/corefx/issues/28123, PR https://github.com/dotnet/coreclr/pull/16991) which indicates the dictionary is being incorrectly modified concurrently by multiple threads (it wouldn't have been detected previously and cou

[2018-07-19 12:21] jnm2 commented on #1942
@IanKemp follow `https://github.com/dotnet/standard/issues/833` for updates on that.

[2018-07-19 12:31] matsoo commented on #25138
Is there a way to use this tool to generate serializers for classes that inherits from a class in a referenced project/library? When running the tool integrated in Visual Studio it just seems to ignore them.

[2018-07-19 12:57] hounddog22030 commented on #30518
Yes.  Same error.  I notice in VS that the dependencies of it are only windows based.   How do we get it to pick up the linux versions?

[2018-07-19 13:18] thuannguy commented on #29622
@karelz yep, I checked all mentioned solutions here. Most other solutions I found on the internet are for previous .NET version that use the Nuget package. Meanwhile, it was stated that using Framework reference from .NET 4.7.2 is the right way from now on so I'm trying to stick with that.

I will try with a minimal isolated repro this weekend if I still have time for this 😃.
By the way, when I us

[2018-07-19 13:21] markusschaber commented on #21833
We'll also most probably need ASN.1 parsing and writing soon. Our use case is not related to x.509 certs, but different data which happens to be serialized in ASN.1.

We're aiming for a stable toolchain, if possible including a compiler. So far, we found https://github.com/drasil/BinaryNotes (with its NetStandard fork https://github.com/matizk144/BinaryNotes), which looks promising, but the Compil

[2018-07-19 14:36] pigwing commented on #31087
i am use .net core 2.0,cpu avg use 10%-15% these 3 days not longer this problem

[2018-07-19 15:08] MarcoRossignoli commented on #30188
Visual Studio started to require "One-way upgrade" when open solutions on corefx(for instance Common.Tests.csproj)...what i'm missing?
My Vs ver:

Microsoft Visual Studio Enterprise 2017
Version 15.7.5
VisualStudio.15.Release/15.7.5+27703.2042
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Enterprise

[2018-07-19 15:34] iSazonov commented on #30994
@karelz  Thanks! I totally agree that it's impossible to make everything work fast.

I believe that most developers of end application systems never care about resources until customers require this because they are experiencing a real problem. Even after that, the developer will make improvements in his code taking the .Net platform features "as is". I think .Net team will never find out about th

[2018-07-19 15:35] pjanotti opened #31190 "System.IO.Pipes.AccessControl package does not work"
The platform extension package System.IO.AccessControl package does not work as intended. This package only supports Windows and was created with the intention of providing the functionality that was removed from System.IO.Pipes related to ACLs, that are not part of .NET Standard 2.0. However, as discussed in https://github.com/dotnet/corefx/issues/30170 this does not work because the proper acces

[2018-07-19 15:35] ViktorHofer opened #31191 "Proposal: Provide specialized collections aka Power Collections"
## Proposal

We are hitting limitations with our in-built collections all over the places, either performance based (i.e. allocation) or feature based). After talking with @jkotas offline we agreed that it would be ideal if we would provide commonly used specialized collections (like a Dictionary<string, string> or a PriorityQueue) as a source based nuget package. That would allow us to provide ba

[2018-07-19 15:42] pjanotti commented on #30170
Closing this one and tracking issue regarding System.IO.Pipes.AccessControl package at https://github.com/dotnet/corefx/issues/31190

[2018-07-19 15:42] #30170 closed

[2018-07-19 15:48] lokki commented on #5766
@danmosemsft will Workflow Foundation xaml be supported in SDK projects as part of 3.0 desktop initiative?

[2018-07-19 16:05] ericstj commented on #29365
@GlassGrass what frameworks do you imagine a `netstandard2.0` implementation would apply to?

I can certainly *imagine* some implementation that would write out the IL and produce an assembly like an API-driven ILASM, but I don't see current frameworks where I would want to use that.

Frameworks that have a JIT (and support Assembly.Load) could also support Ref.Emit directly, and provide their Ref

[2018-07-19 16:08] hughbe opened #31193 "Request: can /T:GenerateReferenceSource call /T:Build first?"
I keep calling `/T:GenerateReferenceSource` without calling `/T:Build` before so I the ref doesn't update even if I change the source code

Would be nice if this target relied on build

[2018-07-19 16:13] AtsushiKan commented on #29365
That's on my plate: (https://github.com/dotnet/corefx/issues/4491 and https://github.com/dotnet/corefx/issues/2800)

https://github.com/dotnet/corefx/issues/2800 will come first as the ref emit stuff is likely to be an extension of it. I started prototyping 2800 this week and will be continuing that work in the months ahead. I'm not moving it to corefxlab until I'm much further along. Workflow is

[2018-07-19 16:18] danmosemsft commented on #31181
@MohammadHamdyGhanem could C# not access My like any other type? But otherwise, we have no plans to make `My` more widely available to C#. It was specifically designed for the coding style of VB developers. Languages do not differ only in syntax. They have different developer groups as do their accompanying libraries.

[2018-07-19 16:21] lennane commented on #31135
The best help so far,
Thanks
 
Jim
 
In a message dated 7/19/2018 5:23:22 AM Eastern Standard Time, notifications@github.com writes:

 
@lennane I don't believe there was any upfront specification. However, you can look at the PAL (Platform Abstraction Layer) code in CoreCLR and CoreFX. They define what is necessary to abstract the OS from the rest of the runtime/core libraries.
 IMO in practice,

[2018-07-19 16:23] jamescrowley commented on #22101
Just noting that this is a significant block to our .NET Core migration too - yes, we can rewrite and refactor, but it's essentially another breaking change to deal with.

[2018-07-19 16:31] stephentoub commented on #31181
@danmosemsft, no, it's a figment of the VB compiler's imagination; it emits the "My" support into the binary at compile-time.

[2018-07-19 16:34] Rajivts commented on #16680
Hi @krwq

In the unit test project that I created, the properties and targets file are being referenced from the src directory as is the case for XmlSchema unit test projects. However, the gated build works fine for XmlSchema but fails for my unit test project. Can you please let me know of some other way I can specify the targets and properties file for my project?

[2018-07-19 16:35] danmosemsft commented on #31193
@weshaggard

[2018-07-19 16:37] danmosemsft commented on #31191
Perhaps we could have a Dictionary implementation specialized for keys of type `int` -- that would be used by k-nucleotide (if they accept use of `Long2IntOpenHashMap` [by Java](https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/knucleotide-java-1.html)).

Why do you propose a source based package?

@stephentoub

[2018-07-19 16:38] benaadams commented on #28207
Added an issue to corefx so its easier to find in search https://github.com/dotnet/corefx/issues/31186

[2018-07-19 16:39] terrajobst commented on #31186
Presumably this was filed as closed to have a central place?

[2018-07-19 16:39] danmosemsft commented on #31191
cc @AnthonyLloyd for that.

[2018-07-19 16:39] davidsh commented on #29622
The "4.0.0.0" is the Assembly version.  This is not the same thing as the "File" version you see in the properties dialog.  The Assembly version for almost all .NET Framework dll's is "4.0.0.0".  So, that is nothing to worry about.

[2018-07-19 16:41] benaadams commented on #31186
Yes so it can be found via search using the exception message (as the issue and PR don't directly quote it)

[2018-07-19 16:49] stakx commented on #29365
@AtsushiKan: Glad to see that there is still ongoing work on this issue. Thanks for tackling this.

I've mentioned the following elsewhere previously: One thing that `System.Reflection.Metadata` and `Assembly.Load(byte[])` cannot do is incremental type-by-type emitting. You can't emit one type, then another... you can only ever emit complete assemblies, which means this is not too useful for e.g.

[2018-07-19 16:56] danmosemsft opened #31195 "Investigate vectorizing Marvin"
As discussed in https://github.com/dotnet/corefx/issues/30994 it may be possible to speed up GetHashCode by using intrinsics. If so this would help close the gap over the older implementation.

This would of course need careful perf measurements.

Note there are two copies right now, and that should probably be reconciled into one as part of (or before) this work: https://github.com/dotnet/corefx/

[2018-07-19 16:57] danmosemsft commented on #31195
cc @GrabYourPitchforks

[2018-07-19 17:07] ViktorHofer commented on #31195
Related to that we wanted to get rid of the Marvin class and incorporate its functionality into HashCode so that end customer can also benefit from it. cc @jkotas

[2018-07-19 17:07] prajaybasu commented on #31191
OrderedDictionary<TKey, TValue> would also be nice.  (Related: #26634)

[2018-07-19 17:09] tmat commented on #29365
@stakx You can emit `System.Runtime.CompilerServices.IgnoresAccessChecksToAttribute` to the dynamic assembly to allow it to access non-public members of specified assembly.

[2018-07-19 17:10] AaronRobinsonMSFT commented on #30936
@karelz Oh okay. Will the code changes from master naturally flow over to the uwp6.1 branch? If so, what is the cadence for that?

[2018-07-19 17:16] krwq commented on #16680
@Rajivts I think you need to copy Configurations.props as well

[2018-07-19 17:16] stakx commented on #29365
@tmat: This is interesting. Is this attribute officially documented somewhere? I can't seem to find any information about it.

[2018-07-19 17:19] ViktorHofer commented on #31191
Thanks I added it to the links.

One of the requirements for such a package would be that we can change it frequently for our inbox stuff (i.e. adding new apis that accept types that we just added in master) but still have a stable version that ideally targets netstandard. We did the same with Span by cross-compiling for netstandard and netcoreapp. That is definitely an approach we can think about

[2018-07-19 17:20] ericstj commented on #30188
/cc @eerhardt @weshaggard

Haven't seen that.  What did VS change once you allowed it to upgrade?

[2018-07-19 17:39] ericstj commented on #28784
Making sure this gets added to the WPF/WinForms support project.  I encountered this when porting WPF/Winforms apps.  Without a fix here the settings APIs are broken for saving customer settings (like app settings, UI state, etc).

[2018-07-19 17:46] davidsh commented on #30858
It's hanging due to a different bug (not fully root caused) in SocketsHttpHandler.

Looking briefly in Visual Studio, I see an exception happening during TLS/SSL setup probably due to the use of the EmpheralKeySet:

Callstack:
[code]

Most likely this exception is being eaten and this is why the task is hanging (doesn't terminate with error).

[2018-07-19 17:55] moconchobhair commented on #30147
@keeratsingh I am able to successfully connect to all of my databases. Thank you so much!

[2018-07-19 17:55] MarcoRossignoli commented on #30188
added this to Common.Tests.csproj
[code]

[2018-07-19 18:00] huanwu opened #31200 "Area-Serialization Sprint 139"
The issue is for tracking issues to be done in sprint 138 (due by 8/10/2018)

[2018-07-19 18:04] weitzhandler commented on #5766
I'd like to throw this in: https://github.com/dotnet/standard/issues/756

[2018-07-19 18:07] #30193 closed

[2018-07-19 18:09] weitzhandler commented on #5766
To me, I rather see the lack of a flexible but solid and comprehensive UI library incorporated in the .NET Core as one of the biggest flaws of the .NET Core.
The way to express it (be it XAML or anything), is less important (I WOULD want it to be XAML tho, but that's not the point).

[2018-07-19 18:13] weitzhandler commented on #21803
@fanoI Such a shame you named the title of this issue with WinForms. You should have named it "Provide a comprehensive UI framework as part of the .NET Core".

[2018-07-19 18:16] weitzhandler commented on #5766
@danmosemsft
Why isn't there an issue that says "Provide a UI framework as part of the .NET Core"?

This issue doesn't talk specifically about the lack of a UI framework, and it doesn't look like the folks here realize that.
See this: https://github.com/dotnet/standard/issues/756

[2018-07-19 18:25] AnthonyLloyd commented on #31191
Possibly:

1) A counting Dictionary<K,int> (or even Dictionary<int,int>) with Increment(K key) and Decrement(K key). For reference counting etc.
2) An aggregating Dictionary<K,V,R>(Func<V,R> seed, Func<R,V,R> accum) with Add(K v, V v).

Possibly 2) could be used in Enumerable.GroupBy.

[2018-07-19 18:37] pakrym opened #31201 "ReadAsync might never return if FlushAsync cancellation token is cancelled"
It has to happen while FlushAsync is running.

[2018-07-19 18:38] vivmishra commented on #12403
Approved for 2.1.5

[2018-07-19 18:47] #30355 closed

[2018-07-19 18:49] rmkerr commented on #30691
I've been able to collect some interesting logs while running the test suite. The logging is missing some info that we added in 2.1, but it's still informative.

I initially thought this issue might be caused by a closed connection somehow ending up back in the connection pool, but the logs indicate that is not the case. The socket appears to be healthy until ~800ms after the request is initiated,

[2018-07-19 18:50] vancem commented on #30994
I want to summarize my understanding of where we are.
1. We understand that .NET Core has a different String.GetHashCode, and that it is modestly (23%) slower in a microbenchmark.
2. There is a Powershell scenario (csv processing) that is reported to be 40% slower = 1.4X (17579ms / 12455ms), however looking at the profile shows that String.GetHashCode CANNOT be the issue (It only consumes 1% of th

[2018-07-19 18:52] danmosemsft commented on #30180
These are failing consistently on 2 distros
[code]

@safern can you please disable it for these two?

[2018-07-19 18:52] danmosemsft commented on #30180
Perhaps the version of libgdiplus is different on these two test images?

[2018-07-19 18:53] GrabYourPitchforks commented on #31195
I investigated this previously, but one of the intrinsic properties of Marvin is that data early in the stream gets mixed with later data in the stream; this has a cascading effect on the resulting hash code. Serializing algorithms like this are inherently difficult to vectorize because.. well.. they're serializing, and vectorization is primarily meant for parallelization. Maybe there's something

[2018-07-19 18:54] Anipik opened #31203 "More Test Coverage For X509Certificate2UI Class"
This Class was added as it was required by the Winforms. It was placed in a new assembly called ```System.Windows.Extensions``` the test configuration and the test project has been setup in https://github.com/dotnet/corefx/pull/31111

But there is no test coverage

Related Issue https://github.com/dotnet/corefx/issues/29960

[2018-07-19 18:54] #29960 closed

[2018-07-19 18:58] stephentoub commented on #30691
@rmkerr, thanks.  Are you able to get a call stack that shows where the close on the socket is coming from?  My hypothesis has been that we're putting a connection back into the pool while there's still a CancellationToken from a previous request registered to close it; the connection gets put back into the pool, another request takes it out to use it, and then the previous request's CancellationT

[2018-07-19 19:00] safern commented on #30180
Yes it could be. cc: @JeremyKuhne who added this tests.

Related to: https://github.com/dotnet/corefx/issues/30683

I will disable.

[2018-07-19 19:07] eerhardt commented on #30188
Hey @MarcoRossignoli - which .sln are you opening that is causing VS to say that?  Do you have any local changes to it?  or is it exactly what is checked into 'master'?

[2018-07-19 19:15] davidsh commented on #30858
This looks like a bug in SslStream as well.  The exception I show above is caused during a Re-negotiate of the TLS connection.  Basically, the initial TLS connection works because client certificates are not requested right away.  Then SocketsHttpHandler thinks the TLS connection is good and starts preparing to write request headers, etc.

Afterwards the server decides to do the TLS re-negotiate a

[2018-07-19 19:16] MarcoRossignoli commented on #30188
@eerhardt i'm opening https://github.com/MarcoRossignoli/corefx/blob/performancedata/src/Common/Common.Tests.sln from my clean branch...i'm starting to work on this issue adding  SafePerfProviderHandle to it.
![migration](https://user-images.githubusercontent.com/7894084/42964970-e604c6fe-8b98-11e8-92c1-9d0bb1cda9ec.png)

[2018-07-19 19:16] terrajobst commented on #30643
No. We do not want to increase the set of assemblies, purely for being able to enable features on downlevel platforms. That's because we have to make these assemblies type forward for eternity and thus penalize the future by enabling the past. We found this to be untenable. This API should go into an existing assembly.

If down-level is important, we should ensure the linker looks it up by name an

[2018-07-19 19:18] jamescrowley commented on #22101
Just noting that this is a significant block to our .NET Core migration too - yes, we can rewrite and refactor, but it's essentially another breaking change to deal with.

I've tried the testhost.dll.config hack but as far as I can see that has to go to a path outside the whole project directory (C:\Users\XXX.nuget\packages\microsoft.testplatform.testhost\15.3.0\lib\netstandard1.5\testhost.dll) in

[2018-07-19 19:25] eerhardt commented on #30188
Thanks @MarcoRossignoli.  I just submitted https://github.com/dotnet/corefx/pull/31205 which will fix the problem.

[2018-07-19 19:37] dv00d00 opened #31206 "Connection refused on linux and osx"
Not sure if it is a bug but this code works perfectly fine on windows:

[code]

but fails on linux

[code]

and OSX

[code]

dotnet version: 2.1.302

[2018-07-19 19:41] MarcoRossignoli commented on #30188
@eerhardt you've requested my review...i don't know if you amend is correct...but if for you it's ok i'm onorated to approve a PR on corefx repo :sweat_smile: , do you need my approve or it's a mistake?

[2018-07-19 19:44] eerhardt commented on #30188
I don't necessarily **need** your approval, but it wasn't a mistake.  It was more of a notification and I wanted to include you since you found the issue.

[2018-07-19 19:49] MarcoRossignoli commented on #30188
Ok thank's for fix!

[2018-07-19 19:53] benaadams commented on #31191
A fast Type `Dictionary<Type, ...>` e.g. https://github.com/benaadams/Ben.TypeDictionary

[2018-07-19 19:54] rmkerr commented on #30691
I can't currently see the call stack, but here's what I was able to piece together from the logs:

`HttpConnection.RegisterCancellation`
`HttpConnection.Dispose`
`NetworkStream.Dispose`
`Socket.InternalShutdown`
`Socket.Close`
`Socket.Dispose`

That seems consistent with your theory. If it would be helpful I can try to capture another trace with more info. I can also share the existing trace if yo

[2018-07-19 19:58] geoffkizer commented on #30527
Ok, let's move forward with MaxHttpVersion on SocketsHttpHandler, assuming there are no objections.

Separately, I'll file an issue for whether MaxHttpVersion should be exposed on HttpClientHandler as well.

[2018-07-19 20:01] davidsh commented on #30527
Are you then taking this to API review meeting?

[2018-07-19 20:17] geoffkizer commented on #31172
The question is how to interpret the phrase "the method semantics do not anticipate such a body" from the RFC, as quoted above.

Re DELETE, the RFC says:

   sending a payload body on a DELETE request might cause some existing
   implementations to reject the request.

That's not entirely clear, but the most reasonable interpretation seems to be that DELETE does not "anticipate" a body and we shou

[2018-07-19 20:23] krwq commented on #29560
Per conversation in the PR (starting here: https://github.com/dotnet/corefx/pull/30757#issuecomment-406103196) this is a System.Data failure

[2018-07-19 20:33] davidsh commented on #30527
@terrajobst  - please comment on this.  This issue wasn't marked as "API approved" yet.  You did say "The API looks reasonable." but then had some questions.

[2018-07-19 20:33] geoffkizer opened #31207 "HttpClientHandler: Consider adding MaxHttpVersion property"
We are adding this to SocketsHttpHandler, see #30527.

The question is whether we should add this to HttpClientHandler as well.

[code]

The default would be 1.1, at least for the 2.2 release -- we may consider changing the default to 2.0 in future releases.

Reasons to add this:
(1) It's more discoverable on HttpClientHandler (vs only SocketsHttpHandler)
(2) It provides consistent behavior for Ht

[2018-07-19 20:35] geoffkizer commented on #30527
I added #31207 to track HttpClientHandler.MaxHttpVersion.

[2018-07-19 21:47] daddyman opened #31208 "High CPU usage after await (with sample repo)"
Since moving to .NET Core 2.1 we have been seeing our aspnet core web api spike to 99% CPU usage on Linux. This does not happen when running on Windows.

What we observe in our application is if we make 4 or 5 API calls in quick succession then the CPU goes to 99% and stays there for a few minutes.

I was able to strip down our app and reproduce the issue in a simple app. The repo is here: https:/

[2018-07-19 21:53] davidsh commented on #31208
cc: @Tratcher

[2018-07-19 21:54] weshaggard commented on #31193
From my experience folks usually have done a build already before trying to update the ref.

The only cases I can think of where this may cause trouble is if you don't have a valid ref source file (maybe cleaned it out to regenerate) and then call Build on the src project will try to call Build on the ref which will then fail.

I don't mind if you want to add a new wrapper target called "BuildAndG

[2018-07-19 21:57] joshfree commented on #31208
@brianrob could you PTAL and help route?

[2018-07-19 22:05] davidsh commented on #31206
cc: @wfurt

[2018-07-19 22:10] wfurt commented on #31206
Do you have anything listening on that port @dv00d00 ?
You may run `tcpdump -ni lo port 12345` (or strace)

[2018-07-19 22:18] Tratcher commented on #31208
This issue was moved to aspnet/Home#3344

[2018-07-19 22:18] #31208 closed

[2018-07-19 22:43] AfsanehR commented on #30720
@karelz Can I ask where UWP6.1 branched from? PoolBlockingPeriod feature was merged in master branch and from a quick look I didn't see the feature present in UWP6.1.

[2018-07-19 22:51] MohammadHamdyGhanem commented on #31181
@danmosemsft
I didn't ask to add My to C#. In fact My has some long expressions that I don't like in VB.
I'm asking to relocate the classes use by My, from Microsofr.VisulBasic Namespace to the CoreFx namespaces suitable for thier functionality (i.e tracing classes go to the namespaces where other tracing classes are), so they can be used normally from any .NET lang.uage as any othe classes, whith

[2018-07-19 22:59] weshaggard commented on #31181
@danmosemsft as we port these to corefx we need to be very careful it doesn't require us to put everything into the shared framework. Microsoft.VisualBasic.dll was one of the assemblies in .NET Framework that had static dependencies to almost everything.

[2018-07-19 23:02] KathleenDollard commented on #31181
@MohammadHamdyGhanem Can you list some of the classes you want to see in a non-VB namespace? That would go through CoreFx, probably with the involvement of CSharpLang.

[2018-07-19 23:11] tmds commented on #30689
My take on this (based on https://github.com/dotnet/corefxlab/issues/1355).

Add an additional property on the Pipe `MaxLength`. If the writer goes beyond it, the pipe explodes.

When the reader advances to the end (`reader.AdvanceTo(..., buffer.End);`), then the writer is unblocked.

It's hard to assess this. If the producer is producing somewhat meaningful chunks, maybe this is not much of a pro

[2018-07-19 23:23] luqunl commented on #30936
AFAIK, the milestone should be 3.0. the testcase itself is a corefx testcase and it is any uwp specific issue,

[2018-07-19 23:29] keeratsingh commented on #31082
@xin9le Thank you for the detailed explanation and repro. Your observation was spot on and it was indeed this difference that cause the issue. I was able to successfully repro and issue, PR #31211 fixes the issue.

[2018-07-19 23:29] MohammadHamdyGhanem commented on #31181
@KathleenDollard
 FileSystem
 Financial
 ApplicationBase
 CantStartSingleInstanceException
 StartupEventArgs
 StartupNextInstanceEventArgs
 UnhandledExceptionEventArgs
 WindowsFormsApplicationBase (*)
 TextFieldParser
 AspLog
 FileLogTraceListener (*)
 Log
ClipboardProxy (*)
FileSystemProxy
RegistryProxy
SpecialDirectoriesProxy

[2018-07-19 23:49] huanwu commented on #25138
@matsoo, did you reference this referenced project as project reference or package reference? Could you try to use package reference as a workaround and it should work. It seems not work well for project reference and I will take a look.

[2018-07-19 23:52] huanwu opened #31213 "Sgen cannot find the class in project referenced project"
#24491 we support reference assembly in sgen but it seems it only work for package reference not project reference. e.g. if using a class in a project referenced assembly

[2018-07-20 00:13] KathleenDollard commented on #31181
That is pretty broad.

I wanted to determine if there were a few things that could be justified to the CoreFx with user stories, etc. This indicates you want the VB experience.

Since the goal is support for moving existing apps, these features need to stay in the VisualBasic namespace to avoid breaking people.

[2018-07-20 00:26] AaronRobinsonMSFT opened #31214 "Update tests for implementation of GetComObjectData()/SetComObjectData()"
See #31188, #31153

[2018-07-20 02:56] weitzhandler commented on #5766
@danmosemsft
Why isn't there an issue that says "Provide a UI framework as part of the .NET Core"?

This issue doesn't talk specifically about the lack of a UI framework, and it doesn't look like the folks here realize that.
See this: https://github.com/Microsoft/xaml-standard/issues/232

[2018-07-20 03:24] Silic0nS0ldier commented on #5766
@weitzhandler This issue makes A LOT more sense to me know. Thanks for the clarification.

I can see having `System.Xaml` included in the .NET Standard being useful, particularly alongside XAML Standard.

[2018-07-20 03:25] iSazonov commented on #30994
@vancem Thanks! I agree. I forgot to mention that the PowerShell Core test suite became noticeably faster after moving to .Net Core 2.1 (up to 25% on some scenarios!). So the overall performance of .Net is very good! Nevertheless, there are scenarios with very poor indicators.

[2018-07-20 05:17] rjmholt opened #31217 "ImmutableArray list initialiser throws NullReferenceException"
Using .NET Core 2.1.1, I have a line of code like:
[code]

I get an error like this as a result (actual one is a bit bigger):
[code]

Workaround of course is to do
[code]

(Or I presume something similar? I couldn't find the nice `Create()` and `CreateRange()` methods in my versions even though they're in the code here -- presume they are pending release? Or do I need another assembly reference?))

[2018-07-20 06:35] powercode commented on #30994
PowerShell is using a generic, hash heavy way, of creating dynamic objects, which we use a lot when importing CSVs.
These hashes are recalculated for every line in the csv, and if there are many properties in each lines and many lines, well...

To work around this in PowerShell, I think a new way of creating objects need to be introduced, where we can amortize the cost of creating the object prope

[2018-07-20 07:14] iSazonov commented on #31195
I see comment in the code:

https://github.com/dotnet/corert/blob/87e58839d6629b5f90777f886a2f52d7a99c076f/src/System.Private.CoreLib/src/System/Marvin.cs#L120-L124

If it is possible to replace the three instructions with one we could get some gain.

[2018-07-20 07:37] dv00d00 commented on #31206
On the other hand

[code]

works without throwing exceptions. I don't believe anything is on that specific port, this was happening on a travis CI machine, but the same happened on my mac.

[2018-07-20 08:20] AnthonyLloyd commented on #31191
@benaadams I always assumed the following through some magic had good perf

[code]

[2018-07-20 08:23] birbilis commented on #5766
if I understand correctly the "desktop initiative", you should be able to use .NET libraries that you could use in the past, as long as you target Windows only (not sure if your app will be able to adapt dynamically to the environment it runs in, if the main app won't be able to do it [e.g. wouldn't launch if it doesn't find say Windows OS] then probably you could do it by making multiple .NET Cor

[2018-07-20 08:25] GSPP commented on #30689
Many applications have a small message size normally but must support a large message size occasionally. Memory usage through buffering should then be small in the common case but be able to expand to very large values to support the large case.

If avg. message size is 1KB and max message size is 100MB then we don't want the pipe to buffer 100MB if not needed.

There need to be two numbers:

1. S

[2018-07-20 08:31] matsoo commented on #25138
I was using a project reference. Using a package reference works. Thank you!

[2018-07-20 08:52] gerenzhanghu12 opened #31220 "The Cartier jewelry is the crystalline by combining the designer, gems"
The Cartier jewelry is the crystalline by combining the designer, gems, jewelry artisans and precious metals. Here is an article about the process of its jewelry making. The Cartier jewelry is the crystalline by combining the designer, gems, jewelry artisans and precious metals. While all creation were starting from an inspiration, the yearning for colors, a shape, special favorite of some stone m

[2018-07-20 08:53] jkotas opened #31221 "System.Drawing.Printing.InvalidPrinterException : No printers are installed."
System.Drawing.Printing.Tests.PrintDocumentTests/EndPrint_SetValue_ReturnsExpected test failed in https://github.com/dotnet/corefx/pull/31218 on Windows.10.Amd64.ClientRS4.ES.Open-x86-Release

[code]

[2018-07-20 08:54] davidfowl commented on #30689
That's way too big. If you're talking about a sever, how many connections would it take in order to eventually DOS the server? Not many...

I still hold that the problem is with the defaults, nobody wants to think about setting them so when there's an issue that requires you think about a number, you're back to square one. Not only do you have to think about the max buffer size, you also have to t

[2018-07-20 09:27] weitzhandler commented on #5766
@birbilis not enough. Same XAML has to render equally in all platforms.

[2018-07-20 09:39] birbilis commented on #5766
The desktop initiative isn't about XAML, it's about .NET Core not being a least common denominator silo, but instead allow for apps that can target specific platforms (or ideally also dynamically adapt to the platform they're running on) and make the best use out of them, do platform specific integrations etc. One could build capability-based APIs on top of this functionality so that apps can then

[2018-07-20 09:52] omariom commented on #31220
Yeah..

[2018-07-20 09:59] adamsitnik commented on #31195
Please let me know if you need any help with benchmarking it

[2018-07-20 10:05] EgorBo commented on #31217
I guess it's not supposed to be created via the parameterless constructor and the reason why NRE is thrown instead of something meaningful is explained here: https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.Minimal.cs#L168-L173

Have you tried to use `Create` like this:
`var x = ImmutableArray.Create(0);` ?

[2018-07-20 12:39] jnm2 commented on #31217
@rjmholt The reason is inherent to C# itself. `var x = new ImmutableArray<int> { 0 };` is by definition identical to:

[code]

And you can see how useless this is for immutable types, even besides the NRE, since you can't access the return value of Add. C#'s initializer syntax today is only useful when mutating the same object.

[2018-07-20 13:00] bagder commented on #27730
I suspect this is [an issue we fixed in libcurl 7.60.0](https://github.com/curl/curl/issues/2416). The 1000 streams is *probably* because a default nginx installation closes the connection then.

[2018-07-20 13:04] JustArchi commented on #27730
@bagder I reported it in https://github.com/curl/curl/issues/2365 🙂

[2018-07-20 13:20] hazama-yuinyan commented on #29122
Hi! I've successfully emitted debug informations but it doesn't work. I mean, I'm using VS for Windows to test if I can debug the resulting program because you can debug whatever programs if they contain portable PDB files or Windows-only PDB files, but I can't with the portable PDB file that my compiler emits.
The file size is almost the same as the one that is converted from a Windows-only PDB f

[2018-07-20 14:44] MichalStrehovsky commented on #30643
Jan had the same feedback above. Forgot to update the main issue. Fixed now.

[2018-07-20 15:29] shvez commented on #14529
any news about this? when it is planned to release this nuget package?

[2018-07-20 15:53] tmat commented on #29122
Does the PDB ID in the Portable PDB matches the entry in the debug directory of the DLL?

You can see the IDs using MDV tool on both the DLL and the PDB:
https://dotnet.myget.org/feed/metadata-tools/package/nuget/mdv

[2018-07-20 16:42] Genbox opened #31224 "Ubuntu 17.10 deb package depends on the wrong libicu package"
When installing .NET Core 2.0.9 runtime (dotnet-runtime-2.0.9) on Ubuntu 17.10, it depends on libicu55 instead of libicu57 as it should. It is correctly stated on the [documentation page](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x):

However, when you look in the [packages file](https://packages.microsoft.com/ubuntu/17.10/prod/dists/artful/main/binary-amd64/Pac

[2018-07-20 16:43] Genbox commented on #31224
Mentioning @lordmike

[2018-07-20 16:45] danmosemsft commented on #31195
@iSazonov I read that comment to mean that the JIT will currently do the replacement. You should be able to verify in the debugger.

[2018-07-20 16:52] danmosemsft commented on #31221
Yes I saw that but the fix is not obvious because this test is already conditionalized on
[code]

So EnumPrinters says there's a printer but DocumentProperties later fails. This would need debugging, or some tracing added.

[2018-07-20 16:53] danmosemsft commented on #31217
Closing as by design as explained in the code comment.

[2018-07-20 16:53] #31217 closed

[2018-07-20 17:19] safern commented on #14529
This is done and complete. The package is available on Nuget:

https://www.nuget.org/packages/System.Runtime.Caching/

[2018-07-20 17:33] jnm2 commented on #31146
I've had this same impulse ever since I first started using `GCHandle` seven years ago.

This [C# 8.0 candidate proposal](https://github.com/dotnet/csharplang/issues/1623) would enable you to write your own `Dispose()` extension method for `GCHandle` to make it work in a `using` statement.

[2018-07-20 18:00] ViktorHofer commented on #20109
For the migration I'm going to remove the net46 project and will it bring later probably in the same project when we get rid of project.json.

[2018-07-20 18:03] rjmholt commented on #31217
Ok that comment makes it all make sense to me. I admit I didn't actually know how list initialisers worked under the hood until I got this error - I was banking on the newest and most concise syntax being the most appropriate/efficient one.

I'll say that the `NullReferenceException` made this rather unclear and that it took me a fair while longer to debug this than if it had been a different exce

[2018-07-20 18:09] jnm2 commented on #31217
@rjmholt It's `ImmutableArray.Create<int>` (though the generic parameter can be inferred) but you were probably trying `ImmutableArray<int>.Create`?

[2018-07-20 18:14] rjmholt commented on #31217
Ah! That's probably it. I'll give it a try later. Thanks for the help.

[2018-07-20 18:50] FIVIL opened #31226 "P2P networking using TCP"
Hi, i was wondering if it is possible to do P2P networking and TCP NAT traversal using .net core(not asp.net core but .net core console app) so i did some research and i come across https://blogs.msdn.microsoft.com/ncl/2009/07/27/end-to-end-connectivity-with-nat-traversal/ in MSDN but this is about .net framework and not .net core so can i use same approach in .net core as well and also i couldnt

[2018-07-20 19:46] joshfree commented on #31224
Thanks for reporting this @Genbox.  @tarekgh could you PTAL?

[2018-07-20 19:46] caesar1995 opened #31227 "Remove the TRACE_VERBOSE in corefx"
See: https://github.com/dotnet/corefx/pull/31225#discussion_r204150000

We should remove it.

[2018-07-20 19:47] caesar1995 commented on #31227
Put it under `System.Net` for now.

[2018-07-20 19:54] #31227 closed

[2018-07-20 20:10] davidsh commented on #31226
The System.Net.PeerToPeer namespace has not been ported to .NET Core.  There are no plans for this.

Regarding the blog article you cited, the TcpListener and UdpClient APIs should function the same in .NET Core (on Windows) as they do on .NET Framework.  So this code should work the same:

[code]

This is not something we actively test in .NET Core in repo / CI.  But the socket code should work t

[2018-07-20 20:56] FIVIL commented on #31226
@davidsh
well you mentioned "the TcpListener and UdpClient APIs should function the same in .NET Core (on Windows) as they do on .NET Framework" does it mean that it wont work on linux and unix as well??
if so , are there any approaches that can work cross platform in .net core sockets??

[2018-07-20 20:56] ChristopherLClark commented on #30755
What!? Can you share...?

[2018-07-20 21:11] davidsh commented on #31226
I don't remember specifically whether or not the "AllowNatTraversal" APIs will work the same on Linux as I wasn't involved in that particular section of networking code when we ported it from .NET Framework to .NET Core.

[2018-07-20 21:15] FIVIL commented on #31226
@davidsh
so from who can i ask this, or should i write bunch of codes and run on several machines and platform and see the result??

[2018-07-20 21:30] davidsh commented on #31226
You can browse the relevant source code in the branch to see how it works. Or you can test your scenarios.

[2018-07-20 21:31] svick commented on #31226
@FIVIL

The code is open source (and in this case simple), so you can look at what it does.

Specifically:

https://github.com/dotnet/corefx/blob/d1da90321472db20592319336f1ba164c2674fdd/src/System.Net.Sockets/src/System/Net/Sockets/TCPListener.cs#L110-L118

This leads to:

https://github.com/dotnet/corefx/blob/d1da90321472db20592319336f1ba164c2674fdd/src/System.Net.Sockets/src/System/Net/Sockets/

[2018-07-20 21:33] FIVIL commented on #31226
@svick  @davidsh
tnx for your time

[2018-07-20 21:33] #31226 closed

[2018-07-20 21:37] huanwu opened #31233 "Need save new outputdirectory after update"
With the fix #29442, it introduce a new problem. In line [306](https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/src/Sgen.cs#L306), it need save the outputDirectory after remove the additional character.

[2018-07-20 22:35] bartonjs commented on #31073
Shiproom template
Description

If the creator of a CMS SignedData document does not sort a signer's signed attributes before computing their signature then .NET Core will report the signature as invalid, but .NET Framework reports it as valid.

Customer Impact

Customers who receive signed documents which were built over unsorted attributes will be told they are invalid on .NET Core, even if they

[2018-07-20 22:50] tarekgh commented on #31224
@joshfree this is SDK packaging issue. I think @rakeshsinghranchi may be able to help here.

[2018-07-20 23:07] glittle commented on #30207
Hi @karelz. I see you changed the milestones, but this still seems to be closed. Can it be opened again?

[2018-07-20 23:18] tarekgh commented on #30207
Hi @glittle, will be better you start creating the NuGet package and have it ready anyway.  The code will be ready if we decide to include this calendar in the core. We'll start recommending it to the users and monitor if it is getting more momentum and then will be easy to add it to the core. so, I am seeing getting the NuGet from now is good step either way.

[2018-07-20 23:39] bobuva commented on #22142
Asking if there's any resolution to this.

[2018-07-20 23:58] terrajobst opened #31237 "System.Web.HttpUtility.HtmlDecode can't decode &hairsp;"
_From @Tachionstrahl on April 10, 2018 12:32_

Hello,
i have a problem with the HtmlDecode Method of System.Web.HttpUtility:
It can't decode the "`&hairsp;`" Entity. I was wondering if there is a reason for it, because it's defined by the w3.org (see here: [https://www.w3.org/TR/WD-math-970710/fnewtable05.html](https://www.w3.org/TR/WD-math-970710/fnewtable05.html))

Greetings from Germany,
Tachio

[2018-07-21 00:38] Maoni0 commented on #30644
there's no "generation counts for only the scoped objects" since GC is per process. GC itself isn't concerned with which scope an object is from aside from recognizing top level objects (ie, objects directly pointed to by roots).

yeh, that's a reasonable trade off.

[2018-07-21 00:41] bchurchill commented on #30207
I agree it makes a lot of sense to prepare a NuGet package and hold off on integrating it into core for now.  While the calendar itself is unlikely to change, we could find that the API and surrounding design decisions need changes once we get more experience using this library in real software.

[2018-07-21 02:43] vcsjones commented on #31073
@bartonjs

Hi Jeremy. Thanks for the PR. I just took a look through it and it appears there is a small issue yet to be addressed since I only see changes to how the validation was performed.

Perhaps I should make a new issue to track it separately. The netcoreapp2.1 `SignedCms` does not round-trip the CMS correctly. For example, continuing from my example repo in the initial issue...

[code]

The

[2018-07-21 02:53] onovotny commented on #31073
Re #2, I am actively creating timestamps with .NET Core for NuGet. But, it's not re-exporting, rather, I'm packing away the native bytes from Crypt32 and only native functions are manipulating the data after the timestamp.

You can see exactly what I had to do to avoid encoding/reencoding with SignedCms with .NET Core to get it to work here:
https://github.com/onovotny/NuGet.Client/commit/a77bcbcf

[2018-07-21 04:05] bbowyersmyth commented on #31181
I'll grab Microsoft.VisualBasic.Collection

[2018-07-21 04:17] ankitbko opened #31238 "Default version of HttpRequestMessage has broken my app"
Following up on #23394.
Just bringing to your notice that, the change of default version to HTTP/2 has broken requests sent to Dynamics CRM Batch endpoint. The batch API expects multipart request having boundary as raw http request text.
The mention of *HTTP/2* causes CRM to return a 400 response. A sample request body is as below -

[code]

---
Also the comment in Version still shows it as 1.1.
<

[2018-07-21 04:19] thuannguy commented on #29622
I managed to create a sample here: https://github.com/thuannguy/ReproduceIssues/tree/master/DemoLoadSystemNetHttp

Either there is something unusual or I was confused by so many different versions and issues wrt System.Net.Http 😢 because:

- When I put in a binding redirect to 4.2.0.0, I got that issue.
- When I removed the redirect binding, it worked.
- When I changed the redirect binding to 4.0.

[2018-07-21 05:00] bbowyersmyth opened #31239 "VB Collection accesses wrong index via IList interface"
Porting the vb collection class and came across the following bug.
Both of these tests pass when using the collection through the IList interface. It always grabs the first item in the collection for negative indexes.
[code]

Given the legacy status of this class is this worth fixing?
cc @danmosemsft

[2018-07-21 09:20] fanoI commented on #21803
I would like too WPF / UWP running on Linux / Mac OX but Winform is more likely they have ported already the Mono libgdi+ wrapper and System.Drawing so they have all the needed pieces to port Winform.

If in the Net Core repository there will be really the sources of WPF / UWP (but I fear they will be only wrapper to the closed source Net Framework code) the community could try to make them xplat.

[2018-07-21 10:57] hazama-yuinyan commented on #29122
@tmat I tried the tool and found that the one that is converted from Windows-only PDB has a section called Debug Directory, which I think is key to debugging. But I can't tell how I can achieve it.
I'm using the standard `AssemblyBuilder`, `ModuleBuilder` and `TypeBuilder` classes to emit the executable and I'm wondering whether I can combine it with `System.Reflection.Metadata`. Am I on the right

[2018-07-21 11:10] svick commented on #31237
The relevant source code references the HTML 4 spec:

https://github.com/dotnet/corefx/blob/3ea1a8cf78073491f9532e36a738a7b8be44829a/src/System.Runtime.Extensions/src/System/Net/WebUtility.cs#L837-L838

I think that table needs to be updated to include [character references defined by HTML 5](https://www.w3.org/TR/html52/syntax.html#named-character-references).

[2018-07-21 13:04] NickCraver commented on #23463
I came here to second this, I was looking at a library we maintain and IPv6 failures (basically splitting on `:` underneath) and you find examples like: https://stackoverflow.com/questions/2727609/best-way-to-create-ipendpoint-from-string

This *really* seems like something that should be in the BCL. When it was IPv4, sure, split on the port delimiter and call it a day. But not we have IPv6 and se

[2018-07-21 13:12] stephentoub commented on #23463
Sounds reasonable.

[2018-07-21 13:20] NickCraver commented on #23463
cc @terrajobst this would be a simple API proposal (one method addition) - are we open to such for ns3.0?

[2018-07-21 13:41] Rajivts commented on #16680
@krwq , I wish to write test cases for  "System.Xml.Resolvers.XmlPreloadedResolver" next. Should I go ahead?

[2018-07-21 14:53] davidsh commented on #31238
The use of HTTP/2.0 as the default for HttpRequestMessage is something that should only have affected transport connections negotiating for HTTP/2.0 with ALPN on TLS/SSL.  The use of the "HTTP/2" should not be present at all in multi-part content nor on any request line as shown.

Can you show a small repro of this that sends a multi-part content with HttpClient APIs?  We'd like to understand how

[2018-07-21 14:58] danmosemsft commented on #16680
@rajivts as far as I know nobody else is currently working in XML tests so there is no need to ask if you wish to work on them. Your efforts are welcome.

[2018-07-21 15:07] CatGirlsAreLife commented on #21803
I think that is eventually the plan of .net core devs and probably microsoft already. If so I got to do a few ISOsPlatform checks on some of my ui buttons (as some of them on my program should be enabled only on win32 as the programs they execute is a windows based game that I got no source code on.

[2018-07-21 16:20] Sharpiro opened #31241 "Edit and Continue debugger bug with async Task Main in VS 2017"
The debugger does not display values correctly after "Edit and Continue" when called directly within ```async Task Main```.  This is just for .net core apps.

Environment:
- VS 2017 15.7.5
- Framwork: netcoreapp2.1

project file:
    <Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <OutputType>Exe</OutputType>
        <TargetFramework>netcoreapp2.1</TargetFramework>
    </PropertyGro

[2018-07-21 17:00] jkotas commented on #31241
This is Visual Studio bug. Could you please report this via "Send Feedback" / "Report a Problem" in Visual Studio? It is the icon at the top of the Window:

![image](https://user-images.githubusercontent.com/6668460/43038380-d2f7ab32-8ccc-11e8-9363-27bd3df2b591.png)

[2018-07-21 17:58] paul1956 commented on #31181
Is there any change someone can take all the source, add it to a branch of src project (broken) or another (broken) project  and then people can to do the porting work. Having done this twice to get VB to work in a portable class and with Xamarin the hardest part for me is the black box of the project file/references. Why make everyone do that?

[2018-07-21 18:20] weitzhandler commented on #21803
@fanoI Such a shame you named the title of this issue with WinForms. You should have named it "Provide a comprehensive UI framework as part of the .NET Core".

Please read this issue:
['.NET UI Standard'](https://github.com/Microsoft/xaml-standard/issues/232)

[2018-07-21 18:30] davidsh opened #31242 "ClientWebSocket not using system proxy settings on Windows"
This appears to be a bug in HttpSystemProxy class used in SocketsHttpHandler.  The problem might not be isolated to just ClientWebSocket.  But the parser in ParseProxyConfig doesn't seem to be able to handle simple "host:port" strings that are in IE settings.

https://github.com/dotnet/corefx/blob/3ea1a8cf78073491f9532e36a738a7b8be44829a/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/H

[2018-07-21 18:30] davidsh commented on #31242
cc: @wfurt

[2018-07-21 19:37] odhanson commented on #25273
So I have just hit this issue too. Porting some code from FX to .Net. Need ZipPackage to be able to flush the stream. Is there any workaround ? Else, I can take on adding the API to ZipArchive.

[2018-07-21 19:45] CatGirlsAreLife commented on #21803
As much as I would like a .NET UI standard, not everyone should be forced to use XAML for their UI’s if they either:

A: Do not know xaml well.
B: Do not like xaml.
C: Want to target desktop only (No Phone support at all).
D: The format of their current project is not targeting any xaml stuff.

Also I am not sure how one could manually Substitute the System.Windows.Forms.UserControl class to a xam

[2018-07-21 21:00] eriksendc opened #31246 "Allow [optional] passing of RegexOptions to RegularExpressionAttribute"
When in regular c# code, there's a version of Regex.Match() that takes a RegexOptions parameter. It'd be super great to expose that when using data annotations.

I'm using data annotations to validate the input to my asp.net core web api. To give good error messages and to use data annotations, I have to use the following to allow some set of inputs in different casings:

    [RegularExpression(@"

[2018-07-21 22:15] weitzhandler commented on #21803
Read my link to the post. I specifically state that XAML is a choice, what I want is a set of UI **specifications**. Much like .NET Standard, but for UI.

[2018-07-21 22:19] CatGirlsAreLife commented on #21803
Ah, I see.

[2018-07-21 23:51] davidsh commented on #31238
Is the `HttpMessageContent` a custom class you wrote?  Or part of the Dynamics SDK itself?

And regarding the comment being out of date as you show above:
![image](https://user-images.githubusercontent.com/7684835/43040910-47fd15c8-8d06-11e8-8931-b2e3c4996613.png)

what file is that where it is showing it out of date?  Those XML comments are not in the CoreFx source code for the HttpRequestMessage

[2018-07-22 00:02] #30523 closed

[2018-07-22 00:04] MariusVolkhart opened #31247 "Add HTTP URI support to SignedXml"
The `System.Security.Cryptography.Xml.SignedXml` class has support for `Reference` elements with ID `URI` attributes. This feature request is to add support for HTTP URIs as well.

The [W3 specification](https://www.w3.org/TR/2001/PR-xmldsig-core-20010820/#sec-URI) states:

The source code in question is https://github.com/dotnet/corefx/blob/faad2e63b35bed10fe18195987a413308b97eded/src/System.Secu

[2018-07-22 00:21] intuitive-software opened #31248 "Access to NamedValueTuple Items by name depends on input type of parameters"
It appears you cannot access a `ValueTuple` property by name if you input parameter to a method returning the tuple is dynamic. I have completed some research in reading the following;

[Daniel Crabtree blog](https://www.danielcrabtree.com/blog/99/c-sharp-7-dynamic-types-and-reflection-cannot-access-tuple-fields-by-name)
[Marc Gravell blog](https://blog.marcgravell.com/2017/04/exploring-tuples-as-

[2018-07-22 00:30] abbotware opened #31249 "Expose 'RuntimeFrameworkVersion' via API for Net Core Runtime information"
### Background

if I were to specify in a csproj:
```<TargetFramework>netcoreapp2.1</TargetFramework> <RuntimeFrameworkVersion>2.1.2</RuntimeFrameworkVersion>```

There seems to be no API function call that can return **RuntimeFrameworkVersion** at runtime

various methods either don't exist on Net Core or produce wildly different numbers than anything close to 2.1 or 2.1.x

| Method/Property  | R

[2018-07-22 00:31] davidsh commented on #30604
Thanks for your question!

For non-standard uses of headers, the recommended approach is to use the [TryAddWithoutValidation](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.httpheaders.tryaddwithoutvalidation?view=netcore-2.1#System_Net_Http_Headers_HttpHeaders_TryAddWithoutValidation_System_String_System_String_) APIs as you indicated.  So, there really isn't any need to add

[2018-07-22 00:31] #30604 closed

[2018-07-22 00:34] davidsh commented on #30483
We have added more logging to help developers track why certain client certificates might not be sent to the server, #31168

[2018-07-22 00:34] #30483 closed

[2018-07-22 00:36] davidsh commented on #27172
Future investments will be in SocketsHttpHandler and CurlHandler will be removed at some point from the branch. So, it doesn't make sense to try to "fix" this.

[2018-07-22 00:36] #27172 closed

[2018-07-22 00:45] davidfowl commented on #31249
Basically a dupe of https://github.com/dotnet/corefx/issues/31099

[2018-07-22 00:48] abbotware commented on #31249
basically :-) I was searching for 'RuntimeFrameworkVersion' so i didnt see that one!

[2018-07-22 01:03] ankitbko commented on #31238
`HttpMessageContent` class is part of `microsoft.aspnet.webapi.client`. The screenshot above is from when I pressed F12 from asp.net core app.

[code]

![image](https://user-images.githubusercontent.com/3169316/43041283-04d70380-8d79-11e8-9c82-16213d9c1811.png)

[2018-07-22 01:33] juepiezhongren commented on #27445
@stephentoub
1) ValueTask.Delay() seems to be very much needed;
2) Task.WhenAny and Task.WhenAll are required to be optimised for ValueTask

[2018-07-22 01:46] glittle commented on #30207
@karelz and @tarekgh... can you point me to some repositories that might serve as good examples of what you'd like to see?  Ones that would be "close" to what could later be integrated into the core.  That is, what sort of directory structure would be good, what naming conventions to use, etc.

The end result will likely be two packages... one with the core calendar and one that would provide extr

[2018-07-22 01:51] tarekgh commented on #30207
@glittle you can create your own repo on github. you don't have to be restricted to any repo. Also, you can include everything in one package. that is easier for you and for the users too. In the future, if decided to port this calendar to the core, we can just pick the needed code manually and then ported to our core repos.

[2018-07-22 01:55] davidsh commented on #30847
We don't have enough information to reproduce this problem.  In order to diagnose further, we would need the certificate you're using that is showing the problems.  Or a way to re-create the problematic certificate.

For now, we'll close the issue.  If you are able to reproduce the problem and can give us a way to troubleshoot, then we can re-open the issue. Thanks.

[2018-07-22 01:55] #30847 closed

[2018-07-22 02:05] reduckted commented on #31181
I know there's the backward-compatibility argument, but has there been any discussion around deprecating/_not_ porting some of these classes? Take, for example, `Collection`. Why would anyone use that over say, `List(Of T)`, or `Dictionary(Of TKey, TValue)`? It's not even a generic collection.

And then there's the `ErrObject` 😨 Does anyone still use that over `Try/Catch` blocks?

`Information.IsA

[2018-07-22 02:10] davidsh commented on #31238
@Tratcher - Perhaps the `HttpMessageContent` class can be fixed in ASP.NET to make sure it is not serializing a request line with an "HTTP/2" version number.  It should cap that to HTTP/1.1 since that is the only valid token to put on a request line.

[2018-07-22 02:13] davidsh commented on #8117
Tracking this with #24707

[2018-07-22 02:13] #8117 closed

[2018-07-22 02:15] marksmeltzer commented on #27445
`ValueTask<T>` only provides a net optimization when the value is readily available to return to avoid creating a task object, which means that the task completes *synchronously*.

In that sense, I don't see much value for a `ValueTask.Delay()`. When would a delay ever complete synchronously? When the delay is zero? (However, a delay of zero might actually be supposed to force a delay like Thread.

[2018-07-22 02:18] juepiezhongren commented on #27445
@marksmeltzer  for iValueTaskSource, ValueTask is not just for pseudo-async senarios!

[2018-07-22 03:43] Tratcher commented on #31238
Can you share that exact message. I'd want to see what layer it's coming from before recommending any changes.

[2018-07-22 03:58] marksmeltzer commented on #27445
You are definitely correct. I am just commenting that the WhenAll and WhenAny APIs offer less utility in general. I would still like seeing them added for parities' sake.

Do you see any utility to having ValueTask.Delay though since you brought it up?

The IValueTaskSource allows utilizing an existing object instance that can implement the task APIs and wrap that instance in a ValueTask. In the c

[2018-07-22 04:13] paul1956 commented on #31181
@reduckted When I ported a VB App to Portable, lack of the complete FileSystem class caused issues, but the portable class and I assume .NetCore have the similar if not identical functionality but different API's. People using .NetCore don't need another way to do the same thing but VB needs a (thin) layer to keep doing what we were doing without changing lots of code.  Hopefully it gets written o

[2018-07-22 04:36] danmosemsft commented on #31181
@paul1956 hmm in not sure what to suggest. If you pink some other random repo now, does it work?

[2018-07-22 04:40] danmosemsft commented on #31181
@reduckted

There are many customers who have existing apps that use one or more existing libraries that happen to have been written in VB. They cannot migrate to..NET Core which is why we are porting this verbatim. You're definitely right I wouldn't  recommend using some of these types in new code. Those types maybe could have some text in the docs.

[2018-07-22 05:09] paul1956 commented on #31181
@danmosemsft I have tried 2 others and they both work. I was able to clone starting with Visual Studio instead of the website link.

[2018-07-22 05:22] ankitbko commented on #31238
@Tratcher Error message -

[2018-07-22 05:50] paul1956 commented on #31181
@danmosemsft I would like to try FileIO (4 files) since I really need it.

[2018-07-22 06:30] glittle commented on #30207
Thanks, everyone.  I've started a project at https://github.com/glittle/Badi-Core.  It may take a while before I'm able to do much work on it...

[2018-07-22 07:01] bbowyersmyth commented on #31181
I'll grab:
Microsoft.VisualBasic.CompilerServices.DecimalType
Microsoft.VisualBasic.CompilerServices.DoubleType
Microsoft.VisualBasic.CompilerServices.Versioned (Partial)
Microsoft.VisualBasic.Information (Partial)

[2018-07-22 09:07] juepiezhongren commented on #27445
@marksmeltzer it is best that ivalueTaskSource is allocated in pooling heap where init and gc shall be manually done. Task.WhenAll and  WhenAny definitely need to be tuned or new api to be done, considering that Task and ValueTask methods would be used together for sync.

@stephentoub
i believe there r a lot more work is required, considering async's 5 main senarios:
1) IO; 2) Net; 3) Timer; 4) lo

[2018-07-22 09:14] juepiezhongren opened #31253 "After ValueTask with IValueTaskSource, there r a lot more we want!"
https://github.com/dotnet/corefx/issues/new is such a perfect solution! But optimization is just starting.

1) ValueTask.Delay() seems to be very much needed;
2) Task.WhenAny and Task.WhenAll are required to be optimised for ValueTask;
3) Object Pooling 'heap 'with manua-gc api is required;
4) considering async's 5 main senarios(IO; Net; Timer; long Computing; UI;)where vTask with IValueTaskSource

[2018-07-22 09:15] juepiezhongren commented on #27445
@marksmeltzer  https://github.com/dotnet/corefx/issues/31253

[2018-07-22 09:16] juepiezhongren commented on #25659
@kouvel  i think this issue could be closed.
but there r more to be required
https://github.com/dotnet/corefx/issues/31253

[2018-07-22 09:29] juepiezhongren commented on #31253
@marksmeltzer  for accuracy, Task.Delay(1) is always the same as Task.Delay(10)

[2018-07-22 09:32] marksmeltzer commented on #31253
@juepiezhongren, that's because the delay mechanism uses the system clock (Environment.TickCount), which currently only has a reliability of 10-16 milliseconds. See here: https://msdn.microsoft.com/en-us/library/system.environment.tickcount(v=vs.110).aspx

[2018-07-22 09:34] juepiezhongren commented on #31253
besides, i use delay() a lot, to make it allocate-free does serve me well

[2018-07-22 09:36] marksmeltzer commented on #31253
How could it possibly be allocate free? The delay will need to call back to your completion handler delegate, which means it will need to allocate the completion handler delegate.

[2018-07-22 09:37] juepiezhongren commented on #31253
completion handler is something that has to be done, but at least Task instance for delay will not be created.

[2018-07-22 09:39] juepiezhongren commented on #31253
pooling will make handler least allocated, i think

[2018-07-22 09:40] juepiezhongren commented on #31253
Task vs ValueTask with IVTS is just like Binding vs x:Bind

[2018-07-22 09:50] marksmeltzer commented on #31253
IValueTaskSource bypasses the need to allocate a completion handler delegate because the IValueTaskSource implementation handles the completion directly, which removes the need to allocate anything *other* than the IValueTaskSource implementation. Where would the IValueTaskSource implementation exist in ValueTask.Delay? It seems an allocation is required there.

As I mentioned in my comment (here

[2018-07-22 10:39] benaadams commented on #31253
If you want the shortest delay possible, you might want to use `Yield`
[code]

[2018-07-22 10:44] marksmeltzer commented on #31253
Good point. A ValueTask.Yield() might actually make some sense because the call can complete synchronously without any delay. However, the chances of a synchronous result is typically low and if the result isn't synchronous it would just end up allocating a Task anyway.

________________________________
From: Ben Adams <notifications@github.com>
Sent: Sunday, July 22, 2018 3:40:24 AM
To: dotnet/co

[2018-07-22 11:06] svick commented on #31248
What happens here is:

* Tuple names don't exist at runtime.
* `dynamic` operates at runtime, not compile-time.
* If you call a method with an argument of type `dynamic`, its return type is considered to be `dynamic` as well.

I think it's that last point that you weren't expecting, but it's how `dynamic` always behaved and it's not really related to tuples. And I'm pretty sure this is the intende

[2018-07-22 11:49] Bobris commented on #19814
Did somebody solve this by adding `Add` extension method on top of `Memory<T>`? Or just implemented own `struct List`?

[2018-07-22 12:19] shaggygi commented on #26634
I still think it would be beneficial to have [Immutable Parent/Child Collection](https://github.com/dotnet/corefx/issues/18357), but understand it is not specifically related to this thread.

[2018-07-22 13:32] AArnott opened #31257 "System.ValueTuple 4.5.0 nuget package dependency in .NETStandard 1.x leads to runtime failure on .NET Core 2.0"
When a .NETStandard 1.x library compiles with a nuget package dependency on System.ValueTuple, then runs in a .NET Core 2.0 process, it fails to find the System.ValueTuple type at runtime. It *does* however work on .NET Core 1.1 and .NET Core 2.1, as well as .NET 4.6.1.

See minimized repro project:
[ValueTupleConsumer.zip](https://github.com/dotnet/coreclr/files/2217040/ValueTupleConsumer.zip)

W

[2018-07-22 14:04] jnm2 commented on #31253
Task.Yield returns a YieldAwaitable. What would ValueTask.Yield return?

[2018-07-22 14:23] benaadams commented on #31253
Doesn't need to return anything different or exist; its already a struct awaitable. Just pointing out it is likely better than Task.Delay(1) for forcing async; but also executing asap

[2018-07-22 14:30] jnm2 commented on #31253
@benadams That was in reply to @marksmeltzer's comment.

[2018-07-22 16:01] davidfowl commented on #25659
Does it make sense to have a reusable TCS build on top of this infrastructure? (there are several versions of that inside of corefx) Should we expose one?

[2018-07-22 16:21] Tratcher commented on #31238
Ah, found it:
https://github.com/OData/odata.net/blob/3d9811a453fe2d2aad3fa84e499a8c30e2c34c48/src/Microsoft.OData.Core/MultipartMixed/ODataMultipartMixedBatchReader.cs#L277-L280

[2018-07-22 16:43] stephentoub commented on #25659
As I've mentioned previously elsewhere, it has been and continues to be the plan to expose ManualResetValueTaskSource{Logic}, and/or some derivation thereof.

[2018-07-22 16:49] davidfowl commented on #25659
Ah, I didn't see that. I know the compiler prototype for IAsyncEnumerable uses it but I didn't see any API proposal.

[2018-07-22 18:11] krwq commented on #16680
@Rajivts yes, go ahead :-) Thank you for offering your help!

[2018-07-22 20:59] stephentoub opened #31258 "Productize ManualResetValueTaskSource"
As called out in https://github.com/dotnet/corefx/pull/29468, we should design/expose ManualResetValueTaskSource{Logic} (https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Threading/Tasks/Sources/ManualResetValueTaskSource.cs), and potentially an auto-reset equivalent. The manual-reset variety is likely to be used by async iterators generated by the C# compiler, and the auto-rese

[2018-07-22 21:15] marksmeltzer commented on #31253
@jnm2 I wasn't suggesting to actually add an API for ValueTask.Yield(). I personally haven't ever used Task.Yield() and I didn't know how the current API was implemented. I incorrectly assumed it returned a Task<T> or something similar since @juepiezhongren had requested a ValueTask.Yield() API in the first place.

My goal was to describe the rationale to @juepiezhongren behind why ValueTask exist

[2018-07-22 21:21] AndyAyersMS commented on #31191
For fast dictionaries consider different hash -> bucket mapping strategies. The current dictionary's modulo a prime is slow (about 1/3 the cycle cost for a successful TKey=int lookup these days).

Custom vs/default comparators should be supported via subtyping or parameterization and not by options passed to the constructor, so the jit doesn't need heroics to inline comparators. If via subyping, t

[2018-07-22 22:29] marksmeltzer commented on #31253
@stephentoub  I would have to see some code to fully understand the implementation(s) you're referring to to see if any could apply to my scenario. My current scenario looks something like this:
[code]

Konrad Kokosa has an interesting article up on how pooling can be combined with IValueTaskSource to eliminate allocations, and I think that his strategy could be adapted to generally eliminate the

[2018-07-22 23:50] nguerrera opened #31259 "Unable to install templates on Ubuntu 18.04 after upgrading to 2.1.302"
_From @NatElkins on July 21, 2018 22:23_

## Steps to reproduce
Try installing any dotnet template with dotnet version 2.1.302 on Ubuntu 18.04.  For example, `dotnet new -i "Amazon.Lambda.Templates::*"`.  But it happens with any of them.

## Expected  behavior
The templates should install without any issues.

## Actual behavior
You'll get an error like:
[code]
and the templates will not be install

[2018-07-22 23:50] nguerrera commented on #31259
_From @NatElkins on July 22, 2018 18:18_

This persists even after uninstalling all dotnet SDKs, removing ~/.nuget, ~/.templateengine, and ~/.dotnet, and also removing /usr/share/dotnet.  However, I have another Ubuntu 18.04 machine, and it doesn't appear to have this problem.  Any ideas on how I can track down the cause would be deeply appreciated.

[2018-07-22 23:50] nguerrera commented on #31259
_From @NatElkins on July 22, 2018 19:6_

With verbosity set to detailed, I'm seeing this:
[code]
Looks like it is failing on this line: https://github.com/dotnet/corefx/blob/a3021f143b762006a7e19ad11785ca0c3c454933/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnectionPool.cs#L22

[2018-07-22 23:53] nguerrera commented on #31259
@karelz @Petermarcu The stack here has Environment.OSVersion causing an ArgumentOutOfRangeException and preventing HttpConnectionPool from getting through its static constructor. I think this should be considered for 2.1.x servicing.

[2018-07-22 23:53] nguerrera commented on #31259
@NatElkins Than you for the detailed report.

[2018-07-23 00:02] intuitive-software commented on #31248
Ah. I understand now. Thank you for the explanation. Your description assisted me in finding this equivalent [stack overflow explanation](https://stackoverflow.com/questions/25892404/passing-dynamic-object-to-c-sharp-method-changes-return-type)

[2018-07-23 00:02] #31248 closed

[2018-07-23 00:05] nguerrera commented on #31259
@NatElkins Can you provide the output of `uname -a` for the machine where this is not working for you and for the machine where it is working. The stack here involves handling data returned from `uname` system call.

[2018-07-23 00:11] nguerrera commented on #31259
If I'm reading the code right, the only way I'm seeing a negative revision happening is an integer overflow here: https://github.com/dotnet/corefx/blob/6ed61acebe3214fcf79b4274f2bb9b55c0604a4d/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L355

Which I think could happen if there's a string of digits in `utsname.release` that would parse to greater than int.MaxValue.

[2018-07-23 00:18] nguerrera commented on #31259
cc @stephentoub

[2018-07-23 00:33] NatElkins commented on #31259
@nguerrera Thanks for looking into this so quickly!  From the non-working machine, `uname -a` returns:
[code]
Some kind of patched kernel was required in order to support a TV tuner that I use with the computer.  Instructions for that are here: http://hauppauge.com/pages/support/support_linux.html

For the working machine, `uname -a` returns:
[code]

[2018-07-23 00:38] nguerrera commented on #31259
Bingo: revision is `24201807041620`

[2018-07-23 00:51] NatElkins commented on #31259
@nguerrera So is the best workaround right now to change my kernel?

[2018-07-23 01:12] danmosemsft commented on #31259
@NatElkins yes, either change the kernel to one that does not have this large number, or revert back to your earlier version of .NET Core. What did you upgrade from? Assuming you did. I would expect any 2.1.x version to hit this. The particular callstack did not exist in 2.0 but I am a little surprised no other codepath used `Environment.OSVersion` but in a quick look they seem to only be for Wind

[2018-07-23 01:12] danmosemsft commented on #31259
We should fix this though, and probably service for it so you can actually use this kernel.

[2018-07-23 01:13] danmosemsft commented on #31259
Another option is potentially to patch your .NET Core with one you have built yourself to avoid the problem. This is an advanced scenario. https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2018-07-23 01:15] nguerrera commented on #31259
That's the only one I can see.

[2018-07-23 01:30] NatElkins commented on #31259
Damn @danmosemsft, you're an animal! :)

[2018-07-23 01:31] NatElkins commented on #31259
Looking forward to testing this when it's released.

[2018-07-23 02:16] michaeljfarr opened #31262 "SocketsHttpHandler roots Timer - leads to higher memory usage"
I have just discovered the cause of an annoying memory leak was that one of our libraries what creating a new HttpClient in every request and not disposing it (gaah).  When using WinHttpHandler, the cost was a few hundred managed bytes per HttpClient.  With SocketsHttpHandler, the cost was more like 22KB and some increasingly long TimerQueueTimer chains in HttpConnectionPoolManager (that showed up

[2018-07-23 02:40] ViktorHofer opened #31263 "OpenCover code coverage broken dotnet msbuild"
See the warnings. Testing with xunit 2.4.0. cc @pjanotti.
Relates to https://github.com/dotnet/corefx/pull/31260

[code]

[2018-07-23 02:54] shravan2x opened #31264 "Reverse() extension missing for IReadOnlyList<T>"
The `Reverse()` method is available in two forms today - An O(1) memory version for `List<T>` and an O(N) version for generic `IEnumerable`.

However, the optimized version does not seem to be defined on `IReadOnlyList<T>`. Is there a reason for this?

[2018-07-23 02:59] rvhuang commented on #31264
There is a discussion about this before. See #26579 for detail.

[2018-07-23 04:04] ahsonkhan commented on #26313
Regarding the name, how about BitBlit to be more explicit since blitting is a relatively esoteric concept, imo, and the wikipedia page even suggests going to BitBlit:
- https://en.wikipedia.org/wiki/Blit
- https://softwareengineering.stackexchange.com/questions/181312/is-there-a-synonym-for-blittable-that-is-more-common

[2018-07-23 04:22] tannergooding commented on #26313
This specifically calls out "blittable" types, but does it actually refer to "unmanaged" types instead?

[2018-07-23 05:33] #30867 closed

[2018-07-23 06:53] ektrah commented on #26313
Isn't this equivalent to turning a `ref T` into a `Span<T>` followed by `Cast<T, byte>`? I thought turning a `ref T` into a `Span<T>` is not possible.

[2018-07-23 07:00] paul1956 commented on #31181
@danmosemsft I noticed the ref file and all the tests are C#, if you want VB programmers to contribute I would hope at least the test are VB and there is some explanation of what to do with the ref file.

[2018-07-23 07:19] jkotas commented on #26313
It is possible using MemoryMarshal.CreateSpan API. Note that all APIs on MemoryMarshal are unsafe API. You have to be careful to not create a dangling pointer when using this API.

[2018-07-23 07:45] paul1956 commented on #31181
Before I started I tried to just compile the stuff that was already done and I get variations of the message below, I also get the same message in 2 of the 4 modules I was working on. It this a prerequisite to porting the rest or am I missing something?
[code]

[2018-07-23 07:45] deinok opened #31265 "Proposal: Endianness Enum and Extensions for BinaryReader an BinaryWriter"
# Proposal
Add an enum that handles the endiannes
[code]

Also add extensions to BinaryReader like:
[code]

And for BinaryWriter:
[code]

# Rationale
BinaryReader and BinaryWriter works really well for accessing Streams but they seems to lack the support for byte-order. And the usage of an enum for representing the Endianness seems more clear to me than using the BitConverter.IsLittleEndian bool.

[2018-07-23 07:54] ektrah commented on #26313
Is `AsSpan<T>` followed by `Cast<T, byte>` an option then?

[code]

[2018-07-23 08:41] LuceLuo commented on #31178
In the Windows environment, it is possible to make mistakes in the Linux system.

[2018-07-23 09:01] khellang commented on #31265
Sounds like it would overlap quite a bit with [`BinaryPrimitives`](https://github.com/dotnet/corefx/tree/master/src/System.Memory/src/System/Buffers/Binary)?

[2018-07-23 09:07] deinok commented on #31265
@khellang Yes, I have implemented this by myself and i have done it with help of BinaryPrimitives.ReverseEndianness();
But as I feel it, seems more clear to use BinaryRW when accessing streams than the way it is done via BinaryPrimitives

[2018-07-23 10:39] hazama-yuinyan commented on #29122
Ah, I searched for PDB ID and Roslyn says MetadataReader, MetadataReader... He must be shy, I'm sure ;-)

[2018-07-23 10:45] reduckted commented on #31181
Fair enough.

Yeah, but who reads docs anyway? 🤣 Maybe put the `ObsoleteAttribute` on them?

[2018-07-23 11:19] #30613 closed

[2018-07-23 12:21] jnm2 commented on #29122
@hazama-yuinyan Have you tried creating the PE data directory using something like [`ModuleBuilder.DefineInitializedData`](https://msdn.microsoft.com/library/system.reflection.emit.modulebuilder.defineinitializeddata.aspx)?

[2018-07-23 12:22] jnm2 commented on #29122
@hazama-yuinyan Have you tried creating the PE debug directory using something like [`ModuleBuilder.DefineInitializedData`](https://msdn.microsoft.com/library/system.reflection.emit.modulebuilder.defineinitializeddata.aspx)?

Also see https://stackoverflow.com/questions/17995945/how-to-debug-dynamically-generated-method.

[2018-07-23 13:08] hazama-yuinyan commented on #29122
@jnm2 No. I haven't even heard of.
I can emit the debug directory section with this method? But how?

[2018-07-23 13:31] odhanson commented on #25273
Sorry, replaced my github account. So the message above is from me.

I have made the changes to add a Flush API and added tests to verify. I will follow through the procedures for getting the API and change approved.

[2018-07-23 14:04] itrofimow commented on #31094
Hi. I've built a repro finally, how do i share it with you? Mind if i send it via email?

[2018-07-23 14:15] ViktorHofer commented on #31263
@pjanotti I want to fix this as fast as possible. I don't yet understand the error but let's talk (IM) later.

[2018-07-23 14:17] davidfowl commented on #31176
Looks like a bug

[2018-07-23 14:33] EthanHeilman opened #31270 "System.Cryptography is missing a way of checking byte[] equality in constant time"
System.Cryptography provides HMAC algorithms but does not provide a secure way to evaluate the correctness of HMACs.

HMACs are used to authenticate messages between two parties Alice and Bob which have a shared key `k`.
1. Alice creates a message `m` and generates an HMAC tag `t = HMAC(m, k)`
2. Alice sends `(m,t)` to Bob
3. Bob checks that the message is really from Alice by generating a new tag

[2018-07-23 14:41] stephentoub commented on #31270
https://github.com/dotnet/corefx/pull/27103

[2018-07-23 14:58] hughbe opened #31271 "GetDelegateForFunctionPointer_CollectibleType_ReturnsExpected seems to fail indeterminantly"
[code]

https://mc.dot.net/#/user/hughbe/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/7e273bfe4ea12870523d1c934d58000fb38a3d62/workItem/System.Runtime.InteropServices.Tests/analysis/xunit/System.Runtime.InteropServices.Tests.GetDelegateForFunctionPointerTests~2FGetDelegateForFunctionPointer_CollectibleType_ReturnsExpected
[code]

Not sure why this only fails from type to t

[2018-07-23 15:04] EthanHeilman commented on #31270
Update the HMAC example to use this to help users find FixedTimeEquals

[2018-07-23 15:31] danmosemsft commented on #31181
@paul1956 that is a very fair criticism! The ref file is C# because it is in some cases regenerated by a tool, which emits C#. Hopefully in most cases its possible to just copy and modify existing entries.
The tests are C# probably because all the others are (not a great reason). I know when I ported some of the VB last week I discovered my VB had become rather rusty so I'm right there with you..

[2018-07-23 15:34] #30543 closed

[2018-07-23 15:36] danmosemsft commented on #31181
@reduckted we rarely use [Obsolete] in the Framework itself anymore because customers that have warnings as errors enabled can no longer compile when they update to target a newer framework. Various solutions have been suggested for this apparently (probably the history is in the Roslyn repo) but nothing has stuck.

What we recommend instead is https://docs.microsoft.com/en-us/dotnet/standard/anal

[2018-07-23 15:38] danmosemsft commented on #31181
`BC35000	Requested operation is not available because the runtime library function 'System.ParamArrayAttribute..ctor' is not defined.	Microsoft.VisualBasic	C:\Users\PaulM\Source\Repos\corefx\src\Common\src\System\SR.vb	65	Active`

I do not know why you get this. @omartawfik could you please help?

[2018-07-23 16:05] abbotware commented on #31249
#31002

[2018-07-23 16:06] vodevil commented on #17688
Why not using named pipe like system ?

Create a file (or memory handle) for input and another for output then tail them ? The use of Rx can be useful for that.

Exemple of tail in .net : https://github.com/RolandPheasant/TailBlazer .

[2018-07-23 16:49] #30544 closed

[2018-07-23 17:06] terrajobst commented on #31270
@EthanHeilman

Given that `CryptographicOperations.FixedTimeEquals()` exists, what is missing?

[2018-07-23 17:09] bartonjs commented on #31073
[code]

Fails on the last CheckSignature.  I'll also add one for countersigning and additional-signing.

I'm sad at the amount of code required to go from "spec compliant" to "real-world compatible".

[2018-07-23 17:09] aaronfranke opened #31274 "Feature request: Support for Unix-style environment variables"
(I copied this from [my closed Mono issue](https://github.com/mono/mono/issues/9679#event-1747560652) so it's still using that template/format)

## Steps to Reproduce

My test code originally looked like this, and I was confused to why it didn't work on Linux:

    if(os == 2) { // Windows
        finalPath = (System.Environment.ExpandEnvironmentVariables("%HOMEDRIVE%%HOMEPATH%") + "blahblah");

[2018-07-23 17:11] danmosemsft commented on #31271
@AaronRobinsonMSFT

[2018-07-23 17:13] danmosemsft commented on #31249
Closing as dupe but @abbotware feel free to add more info/your scenario to #31099

[2018-07-23 17:13] #31249 closed

[2018-07-23 17:17] danmosemsft commented on #31274
This is a dupe of https://github.com/dotnet/corefx/issues/28890 where there were concerns about compat. Feel free to add comments there.

[2018-07-23 17:17] #31274 closed

[2018-07-23 17:18] danmosemsft commented on #31241
Closing as VS bug.

[2018-07-23 17:18] #31241 closed

[2018-07-23 17:30] danmosemsft commented on #31259
@NatElkins you're welcome but note it will probably be 2 or more likely 3 months before it goes out in servicing (if approved which I think it will be)

[2018-07-23 17:38] danmosemsft commented on #31181
@paul1956 another thing you can try is `clean -all` at the root of CoreFX, then `build` from the root again. Maybe the packages are in a bad state, and they are cleaned out with that command.

[2018-07-23 17:43] ViktorHofer commented on #31191
Thanks Andy, whoever is going to implement a fast dictionary will benefit a lot from your info.

I propose we talk about this in the Design/API review meeting. If we agree to provide these collections either inbox or as a nuget package I believe we could implement them (together with community members who are interested) fairly quick.

[2018-07-23 17:44] tmat commented on #29122
@hazama-yuinyan I don't think Reflection.Emit lets you customize the PE debug directory.

[2018-07-23 18:11] EthanHeilman commented on #31270
Update the documentation so that it can be found easily. Ensure it shows up in the relevant documentation. FixedTimeEquals is not easy to find. It requires knowing the name and searching for it. This is complicated by the fact that nearly every other library refers to this as a constant time equals. The system.cryptography HMAC examples don't use it suggesting that the person writing the documenta

[2018-07-23 18:12] joshfree opened #31275 "Async suffix"
Migrated from original issue https://github.com/dotnet/core/issues/1464

_**@lukepuplett commented on Apr 19**_

# Should the Async suffix convention be used in 2018?

I'm so sorry for bringing this up, its not an issue as such, its debatable, but this might be the best forum for it.

Should .NET and other open-source libraries continue to append `Async` on awaitables?

# General

My team here hav

[2018-07-23 18:17] danmosemsft commented on #31270
Discussion of why it's not ConstantTimeEquals [here](https://github.com/dotnet/corefx/issues/10749#issuecomment-359615078)

@EthanHeilman perhaps you could open an issue or PR against https://github.com/dotnet/docs so appropriate topics can point to it?

[2018-07-23 18:19] EthanHeilman commented on #31270
Thanks for your help. I'm going to close this issue and then later this week I'll open an issue on https://github.com/dotnet/docs

[2018-07-23 18:19] #31270 closed

[2018-07-23 18:21] joshfree opened #31276 "Windows Compat Pack: Could not load type System.Runtime.CompilerServices.IAsyncStateMachine"
Original issue https://github.com/dotnet/core/issues/1276

**_@xs2bharat commented on Feb 22_**

# Getting error "Could not load type 'System.Runtime.CompilerServices.IAsyncStateMachine' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'"

# Issue Title

Getting error "Could not load type 'System.Runtime.CompilerServices.IAsyncStateMachine' from assembly 'm

[2018-07-23 18:22] abdulbeard commented on #5681
@danmosemsft @JeremyKuhne any suggestions for changes to ^, or shall we move forward?

[2018-07-23 18:28] joshfree opened #31277 "P2P networking using TCP"
Original issue https://github.com/dotnet/core/issues/1802

**_@FIVIL commented 5 days ago_**
Hi, i was wondering if it is possible to do P2P networking and TCP NAT traversal  using .net core(not asp.net core but .net core console app) so i did some search and i come across https://blogs.msdn.microsoft.com/ncl/2009/07/27/end-to-end-connectivity-with-nat-traversal/ in MSDN but this is about .net fra

[2018-07-23 18:36] joshfree opened #31278 "Character encoding errors with .NET Core on Linux"
Original issue https://github.com/dotnet/core/issues/1791

**_@shaulbehr commented 7 days ago_**

This has been driving me batty for days, and I've finally got it down to a simple, reproducible issue.

I have a NUnit test project, which is .NET Core 2.1. It references a library (let's call it "Core") which is .NET Standard 2.0.

In my test project:
[code]
and in the `Core` project in the `StringUt

[2018-07-23 18:37] davidsh commented on #31277
Duplicate of #31226.

[2018-07-23 18:37] #31277 closed

[2018-07-23 18:45] joshfree opened #31279 "The dynamic type created is thrown Fileloadexception when using the GetCustomAttributes method"
Original issue https://github.com/dotnet/core/issues/1481

**_@faib920 commented on Apr 26_**
I Use TypeBuilder create a testclass, and use SetCustomAttributes to add custom attribute, then I use the method of GetCustomAttributes, throw FileLoadFileException.

FileLoadException:
Could not load file or assembly '_testclass, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'. Operation is not su

[2018-07-23 19:04] ViktorHofer commented on #31263
You are right, this doesn't happen when using msbuild from the Developer Command Prompt. Any idea how to fix this? We want to recommend to use dotnet msbuild soon...

[2018-07-23 19:33] pjanotti commented on #31263
@ViktorHofer I wouldn't block changing to dotnet msbuild on this, I would rather make coverage a special case (i.e.: make it require VS and msbuild). The simplest solution is for OpenCover to drop the requirement for Windows PDBs, but @tmat opened that PR some time ago, but, it was not merged yet - i.e.: do not count on it happening soon.

@tmat what is the advice in this case? Any workaround to h

[2018-07-23 19:35] timmydo commented on #31034
I hit this error message (SSL connection could not be etablished, see inner exception) moving code from .net framework to .net core. For me, it was some test code that used the service point manager global to override the server certificate validation callback to `return true`. Since sockets http handler doesn't use that, the errors started popping up since the server cert doesn't match the endpoi

[2018-07-23 19:57] NickCraver commented on #31275
Let's say you are reviewing a PR. Let's say they add this like of code:
[code]
Is it sync or async? Did someone forget to `await` the result? What's the return type? None of these things are apparent. Now let's compare:
[code]
...that's obvious. And it cost you *nothing* to make it obvious. No suffix *may* have no issues in specific scenarios where you know a lot. Having a suffix *always* has no i

[2018-07-23 20:02] vcsjones commented on #31275
Yes.

I look forward to this question being asked again in 2019.

[2018-07-23 20:04] ViktorHofer commented on #31263
Thanks, I contacted Shaun on both Twitter and on the PR. Let's see...

[2018-07-23 20:13] daveaglick commented on #31275
Async has such profound implications to control flow, performance, etc. that an extra visual cue at the call site is both warranted and appreciated, IMO

[2018-07-23 20:19] khalidabuhakmeh commented on #31275
Regardless of the "right" choice, wouldn't this be a Godzilla-sized breaking change? Maybe if we bumped the version of .NET Core to `11` then it may be ok... but still.

[2018-07-23 20:21] danmosemsft commented on #31259
reactivating for 2.1.x

[2018-07-23 20:22] daveaglick commented on #31275
Nah, that won’t work. I’m pretty sure .NET Core 11 comes right after .NET Core 2 in the latest revised versioning scheme.

[2018-07-23 20:25] pjanotti opened #31281 "Code coverage: crash when instrumenting CoreLib with Coverlet"
The instrumentation added by coverlet adds a reference to "coverlet.tracker", however, this reference is causing a crash in coreclr when trying to jit the instrumented System.Private.CoreLib. At this stage I'm not sure yet about the best way to handle the issue, for now opening it on CoreFx repo where we collect coverage numbers for System.Private.CoreLib.

Basically when jitting a instrumented me

[2018-07-23 20:27] ViktorHofer opened #31282 "Generating facades error - Registry typeforward already exists"
I hit this error already twice today (with some local work in the branch). Does that sound familar / ring any bells?

[code]

cc @weshaggard @ericstj

[2018-07-23 20:30] pjanotti commented on #31281
Full stack just before the crash:
[code]

[2018-07-23 20:31] svick commented on #31278
I can't reproduce this. When I follow your instructions and then run `dotnet test` on .Net Core 2.1 on Ubuntu, all tests pass. Can you provide a complete example that demonstrates the issue? The best option is probably a zip archive that contains a tiny solution with all the relevant code.

[2018-07-23 20:33] weshaggard commented on #31282
That seems like a potential issue with a dirty build. I suspect for some reason we are trying to regenerate the facade on top of the already existing facade.

[2018-07-23 20:38] ViktorHofer commented on #31282
Manually rebuilding the facade should also work, shouldn't it?

`msbuild /t:Rebuild src/shims/manual/mscorlib.csproj`. That also errors for me.

[2018-07-23 20:41] tmat commented on #31263
I don't know what in CoreFX repo today determines the kind of PDBs that are generated. I am surprised it is dependent on whether VS or dotnet msbuild is used. @weshaggard?

[2018-07-23 20:43] weshaggard commented on #31282
Manually building the facade should work assuming you have built from the root once. When you do the rebuild does it clean up the old facade and intermediate path? Take a look at the inputs into GenFacades from a log file and see if the binary that is the input already has type-forwards and if it does see if that binary is correctly getting cleaned up when you do the rebuild.

[2018-07-23 20:43] jkotas commented on #31099
The host knows this version - it can pass it to the runtime as key-value pair.

[2018-07-23 20:48] pjanotti commented on #31263
Clarification: it generates portable PDBs by default, however, OpenCover still requires Windows PDBs so for coverage runs so our build tries to convert from portable PDBs to Windows PDBs when code coverage is enabled. The conversion uses a task in buildtools that in the end requires DiaSymReader. The issue is that when this task uses "VS msbuild" the version of DiaSymReader is able to do the conve

[2018-07-23 20:49] ViktorHofer commented on #31282
Thanks I'll give it a try when hitting this again.

[2018-07-23 20:51] weshaggard commented on #31263
I know that @eerhardt went to great lengths to ensure we had a version of diasymreader in the shared framework of the SDK we use to build or projects so perhaps the `dotnet` you have on your path doesn't have that fix?

@ViktorHofer can you try using the dotnet we have under tools/dotnetcli directory and see if this works with that one?

[2018-07-23 20:52] weshaggard commented on #31099
I assume it only knows it for applications running on the shared framework correct? What should we return for standalone applications?

[2018-07-23 20:57] eerhardt commented on #31263
Yes, you need `dotnet --version` with `2.1.401-preview-009081` or higher.  Basically a nightly build of the `2.1.3-servicing` shared framework, where `2.1.3` has not shipped yet.

[2018-07-23 21:12] jkotas commented on #31099
All applications have it in .deps.json file.

[2018-07-23 21:35] ViktorHofer commented on #31263
Wonderful, that fixed it! Looking forward when the SDK update is released.

On another note, over the weekend I looked through some of our dependencies and updated 2-3 projects to netstandard2.0. Mono.Cecil and OpenCover are still using an older version (and also the old project SDK). There is already a PR for Mono.Cecil out: https://github.com/jbevain/cecil/pull/527 but not yet acknowledged by th

[2018-07-23 21:35] #31263 closed

[2018-07-23 21:56] danmosemsft commented on #27610
OK, got data from some Winforms apps where AsDataView is missing also. Tracking on the Winforms project now. Note as above it requires a typeforward to avoid the InternalsVisibleToAttribute.

[2018-07-23 22:06] paul1956 commented on #31181
@danmosemsft  I assume  for the ref file, I need to translate the Function, Sub and Property declare lines to C# and then add {thrown null;} if not please let me know what I need to do. Also it looks like I can declare most inputs object because otherwise I get errors for things other than simple types.

The https://docs.microsoft.com/en-us/dotnet/standard/analyzers/api-analyzer only works with C#

[2018-07-23 22:13] Anipik opened #31288 "Test Issue"
This issue is being created for testing purposes. Please ignore the issue

[2018-07-23 22:13] paul1956 commented on #31181
I also noticed all the yellow ! in the dependency list and that both kinds of slashes are used.
![image](https://user-images.githubusercontent.com/12789369/43105706-b1e362dc-8e8a-11e8-99f2-733e6c72579f.png)

[2018-07-23 22:57] #31288 closed

[2018-07-24 00:09] NickCraver opened #31291 "API Proposal: Add IPEndPoint.Parse() & .TryParse()"
[code]

Origin issue: #23463

## Rationale
Parsing a user-provided endpoint is often needed for client libraries doing connections with Sockets as well as other usages like parsing for valid endpoints in things like HTTP headers. The ASP.NET already has the implementation in [`IPEndPointParser.TryParse`](https://github.com/aspnet/BasicMiddleware/blob/f320511b63da35571e890d53f3906c7761cd00a1/src/Mi

[2018-07-24 00:29] NickCraver commented on #31291
To @vcsjones's point, we do already have the case. For example, a connection string to StackExchange.Redis could be something like: `"[::1]:6379,syncTimeout=10000"`...so we would be parsing a part of the string for the most efficient case, as would others. To be fair, that's a trivial amount of cost compared to the off-the-box network IP.

HTTP headers has the same issue, for example [`X-Forwarded

[2018-07-24 01:20] AaronRobinsonMSFT commented on #31271
My guess would be related to something with the GC collecting the delegate, but that is a guess. Note that the documentation is pretty clear here that the user needs to ensure the delegate isn't collected. Also, the exception states:

Which means when the assembly is created with `AssemblyBuilderAccess.RunAndCollect` it is collectible. Based on the code I can see the call to `Marshal.GetFunctionPo

[2018-07-24 01:58] GrabYourPitchforks commented on #31291
What are the byte-based overloads for?

[2018-07-24 02:17] NickCraver commented on #31291
@GrabYourPitchforks me switching between coding and GitHub too much - those should be `ReadOnlySpan<char>`...fixed.

[2018-07-24 02:37] louistio commented on #30513
@stephentoub Hey, I'd like to start progress on this, seems like a good start for contributing 😄 I saw there was quite a lot of work to do, I was thinking I could split it in small PRs with each 1 to a few interop methods consolidated. It would reduce the scope, lead to faster progress and make it easier to review. Would that make sense or do you want 1 PR to do all of it?

[2018-07-24 02:56] jkotas commented on #2800
I do not think this should be called TypeLoader. We have many different TypeLoaders in the system and this is just one of them. Maybe something like ReflectionOnlyAssemblyLoadContext ?

These APIs look very similar to AssemblyLoadContext. Should we use the same names for them? e.g. LoadFromAssemblyPath instead of LoadFrom. IIRC, the original proposal for AssemblyLoadContext had simpler names like

[2018-07-24 03:46] abbotware commented on #31249
It is not exactly a duplicate -  I am asking for any means to get the RuntimeFrameworkVersion at run-time, @davidfowl is suggesting to change Environment.Version (which would be sufficient for my needs)

But then what about System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription?  That number **4.6.26614.01** is completely different from **4.0.30319.42000**  - should those be made t

[2018-07-24 03:57] geoffkizer opened #31294 "HTTP2: Support connection lifetime and timeout"
SocketsHttpHandler has two properties for controlling connection lifetime:
* PooledConnectionLifetime
* PooledConnectionIdleTimeout

We need to support these (or something similar) for HTTP2 connections.

Issues to consider:

* Should these settings apply to HTTP2 connections also, or should we have new HTTP2-specific settings? The names aren't great (HTTP2 connections aren't really "pooled", ther

[2018-07-24 04:02] geoffkizer opened #31295 "HTTP2: Disable PUSH_PROMISE on connection creation"
We don't plan to support server push in the current release.

As part of the initial SETTINGS frame, we should set SETTINGS_ENABLE_PUSH to 0 (false).

[2018-07-24 04:04] danmosemsft commented on #31181
@paul1956

That's right. Alternatively, there is a shortcut. Once you have the implementation building (in the src folder) you can execute this command in the src folder: `msbuild /t:generatereferencesource`. This will edit ref\Microsoft.VisualBasic.cs to match the implementation. This will make a bigger diff than you need, for various reasons (the implementation is not in sync with it already). H

[2018-07-24 04:05] geoffkizer opened #31296 "HTTP2: Handle SETTINGS_MAX_CONCURRENT_STREAMS from server"
Per RFC, this setting:

      of concurrent streams that the sender will allow.

When this is set, we need to add a semaphore or equivalent to throttle the number of active streams. Note that it can change at any time and we need to handle this as well.

[2018-07-24 04:09] abbotware commented on #31099
I've been looking for away to get the RuntimeFrameworkVersion, so I tried all the API's that I could find (#31249) and none seemed to return anything useful - Any programmatic way to get the 'marketing version' would be good enough for me.

@weshaggard is there is a 1:1 mapping for 'corelib version' to 'marketing version' ?  If yes, then could a lookup table be constructed?

Regarding versions ret

[2018-07-24 04:09] geoffkizer opened #31297 "HTTP2: Implement support for request bodies and outbound flow control"
Note flow control happens both per-connection and per-stream.

[2018-07-24 04:11] geoffkizer opened #31298 "HTTP2: Implement support for inbound flow control"
As we receive the response body, we need to send WINDOW_UPDATE frames to the peer to update the window size.

Note flow control is both per-connection and per-stream. We need to initialize per-connection inbound flow control as part of connection initialization.

[2018-07-24 04:15] geoffkizer commented on #31297
This also includes receiving and respecting the SETTINGS_INITIAL_WINDOW_SIZE setting from the peer.

[2018-07-24 04:19] geoffkizer opened #31299 "HTTP2: Should we expose settings on SocketsHttpHandler for inbound flow control?"
HTTP2 allows us to define our window size using the SETTINGS_INITIAL_WINDOW_SIZE setting. The default is 64K.

Currently we simply always use the default. Should we expose a setting to control this?

Note that this setting would basically control the receive buffer size for a response body.

Flow control is managed both per-stream and per-connection, but the interesting case here is per-stream.

[2018-07-24 04:20] geoffkizer commented on #31298
See also #31299 for related handler-level settings for inbound flow control.

[2018-07-24 04:21] danmosemsft commented on #31181
I repro the problem building the .vbproj inside VS. I will break that out into a separate issue. Until that is fixed, it is necessary to build on the command line and VS squiggling will be not useful.

[2018-07-24 04:25] geoffkizer opened #31300 "HTTP2: Pooling for request/response buffers"
We should use ArrayPool (or similar) for request and response buffers.

[2018-07-24 04:27] geoffkizer opened #31301 "HTTP2: Should we pool Http2Stream objects?"
We allocate a new Http2Stream for every request on an HTTP2 connection. Is this impactful? Would it help to pool these?

[2018-07-24 04:35] GrabYourPitchforks opened #31302 "Add span-based overloads of String.GetHashCode"
ASP.NET has specialized data structures that use span equivalents as keys in dictionaries. As such, they need an equivalent of `String.GetHashCode` which takes `ReadOnlySpan<char>` instead of `string`. I propose the following APIs to enable this scenario.

[code]

The new static APIs on `string` mimic the behaviors of the instance methods `String.GetHashCode()` and `String.GetHashCode(StringCompar

[2018-07-24 04:38] GrabYourPitchforks commented on #28001
I'm tracking the `GetHashCode` overload at https://github.com/dotnet/corefx/issues/31302.

[2018-07-24 04:40] geoffkizer opened #31304 "HTTP2: Support downgrade to HTTP/1.1 for NT auth"
NT auth does not work over HTTP2. So when NT auth is used, we need to downgrade to HTTP/1.1.

I believe we will need to do something like the following:

When we receive a 401 with an NTLM or Negotiate challenge from the server, and we're using HTTP2, we will need to instead switch to using an HTTP/1.1 connection (either an existing connection from the pool, or a new connection). We will then proc

[2018-07-24 04:40] danmosemsft commented on #31181
@paul1956 I think I found the problem that prevented the VB project building inside VS. See https://github.com/dotnet/corefx/pull/31303. By copying the change in that pull request to your machine, it should hopefully be fixed for you as well.

[2018-07-24 04:41] paul1956 commented on #31181
@danmosemsft I created a sub directory under src called FileIO to match the ref source, do I still execute msbuild /t:generatereferencesource in src or in src\FileIO. Also why are there 6 files directly under source instead of in an appropriate sub directory following ref source, do we really want all the files under src?

[2018-07-24 04:45] danmosemsft commented on #31181
@paul1956 the .vb files under src should be in a folder matching their namespace, eg., `src\Microsoft\VisualBasic\CompilerServices\IncompleteInitialization.vb`. That should already be the case for all of them? There are a few files directly in src such as the project file and other non source files.

The trick is that you get src building first. You can do this in VS (after pasting in my fix above

[2018-07-24 04:47] geoffkizer opened #31305 "HTTP2: Disallow sending Connection: header and Transfer-Encoding: chunked"
These headers are explicitly not supported in HTTP2. We should detect them and fail the request.

Note, we are currently adding Transfer-Encoding: chunked to the request when it doesn't have a Content-Length. We do this in SocketsHttpHandler.ValidateAndNormalizeRequest, which is called on every request. We should probably move this logic into HttpConnection.SendAsyncCore so that it is HTTP/1.1 spe

[2018-07-24 04:48] danmosemsft commented on #31181
Oh I see, you're noting that referencesource doesn't follow this folder pattern. Right. In CoreFX, you would have a file laid out like eg src\Microsoft\VisualBasic\FileIO\FileSystem.vb.

[2018-07-24 04:50] danmosemsft commented on #31181
@pjanotti is this correct?

[2018-07-24 04:51] geoffkizer opened #31306 "HTTP2: Implement CookieContainer support"
We need to support sending outbound cookies from the CookieContainer, and receiving inbound cookies and putting them into CookieContainer.

We do this for HTTP/1.1 in HttpConnection.WriteHeadersAsync. We need to do something similar for HTTP2.

Note there are some special HTTP2 rules for the Cookie header; see the RFC.

[2018-07-24 04:56] geoffkizer opened #31307 "HTTP2: Use HPACK static table for sending well-known headers"
We're currently sending these without compression.

We should use the static table for both pseudo-headers (":scheme", ":authority", etc) as well as well-known headers (Accept-Encoding, etc).

Note this is strictly a performance issue, not a correctness issue. But at least for the pseudo-headers, it's pretty lame to not do this since it should be easy and worthwhile.

[2018-07-24 04:57] geoffkizer opened #31308 "HTTP2: Support Huffman encoding for sending headers"
HPACK defines a fixed Huffman encoding for header strings. We should consider implementing this and using it. It's a lesser priority than using the static table, however (#31307).

[2018-07-24 05:03] geoffkizer opened #31309 "HTTP2: Optimize handling of HPACK static table decoding"
Currently, when we decode a header from the static table, we convert it to the ASCII header name/value and then parse this again in order to determine if it's a known header.

We should optimize this by avoiding the conversion to ASCII and simply map it directly to a known header.

[2018-07-24 05:04] geoffkizer commented on #31309
Note this is strictly a performance issue, but the value is probably significant, at least for certain headers (e.g. status code pseudo-header).

[2018-07-24 05:07] geoffkizer opened #31310 "HTTP2: Cancellation support"
We need to wire up cancellation support for:

(1) SendAsync
(2) ReadAsync on the response stream

[2018-07-24 05:16] geoffkizer opened #31312 "HTTP2: Expect: 100-Continue support and early response handling"
We need to add logic to the HTTP implementation to support Expect: 100-continue.

In particular:
(1) If the user sets this header, defer sending the request body until we receive a either a 100 continue, or the 100-continue timeout expires
(2) If instead we receive a final response, and the status code is >=300, we should reset the request stream and stop sending it (if we started due to the timeo

[2018-07-24 05:17] geoffkizer commented on #31312
For reference see the logic related to "hasExpectContinueHeader" in HttpConnection.SendAsyncCore.

[2018-07-24 05:38] SimonCropp commented on #31275
@NickCraver isnt `var result = GetResult();` a misleading representation? wouldn't it usually be `var result = await GetResult();` and hence "this is async" is obvious without the `Async` Suffix?

[2018-07-24 05:44] davidfowl commented on #31099
The host needs to pass the value to the runtime, the property would then read an AppContext property  (or something similar) to get the actual version.

The host already does this for the deps file path in order to pass it to the DependencyModel API. https://github.com/dotnet/core-setup/blob/84fa44f892b42ad9235e4ecb756975d8c8f46f1f/src/corehost/cli/hostpolicy.cpp#L104

We just need to do this for

[2018-07-24 05:48] #30190 closed

[2018-07-24 06:06] geoffkizer opened #31313 "HTTP2: Use a resettable ValueTaskSource instead of allocating multiple TaskCompletionSource objects"
To manage coordination of streams, we're allocating a TaskCompletionSource every time we need to notify the user of response data that's arrived. We should be able to avoid these allocations by using a resettable ValueTaskSource.

E.g.: https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Threading/Tasks/Sources/ManualResetValueTaskSource.cs

[2018-07-24 06:11] geoffkizer opened #31315 "HTTP2: Determine how to expose HTTP2 protocol error codes"
HTTP2 defines a list of protocol-level errors. Currently there is a Http2ProtocolErrorCode enum that defines these error codes, and Http2ProtocolException that exposes this enum. However, these aren't public currently; they get mapped into a generic HttpRequestException.

We need to determine if and how we want to expose these errors.

This is related to the broader question of how to expose more

[2018-07-24 06:13] geoffkizer commented on #31310
We also need to handle Dispose on the response object or response stream before the response stream is fully read. We should send RST_STREAM on the response stream in this case.

[2018-07-24 06:15] geoffkizer opened #31316 "HTTP2: Review HPACK code for correctness and possible performance issues"
This code came from ASP.NET, but has never been shipped. We should review the code in detail and determine if there are any potential correctness or performance issues.

[2018-07-24 06:17] #31102 closed

[2018-07-24 06:19] paul1956 commented on #31181
@danmosemsft  Question, for example I need an Enum in HostProtectionResource in System.Security.Permissions in mscorelib.dll that is not part yet part of corefx. Do I

1. Make it a local in FileIO
2.  Create a new Folder System.Security.Permissions next to FileIO and port the file to VB (trivial for me since I have a faithful converter).
3. Add existing C# file to corefx\src\Common\src\CoreLib\Sys

[2018-07-24 07:03] MarkusAmshove commented on #31275
@SimonCropp that is exactly the point :-)

You're seeing `var result = GetResult();` while reviewing code (without an IDE) and you can't be sure if it is async (missing `await`) or if it is not async.

`var result = GetResult();` is legal code, where `result` would be of type `Task` when not `await`ed.

If it was `var result = GetResultAsync()` it would be a good hint for the reviewer that somethi

[2018-07-24 07:11] SimonCropp commented on #31275
@MarkOsborneMS my point is `GetResult` implies there is some result to be used. so it would not be a simple `Task`. it would be a `Task<T>` and to use that result then it needs to be awaited and hence wont compile without the `await`.

if `GetResult();` only returns a `Task`, and you do want to force it to be awaited when it has no return value, then that would mean `var result = GetResult();` (mi

[2018-07-24 07:14] karelz commented on #31276
We need isolated repro we can run locally to provide more details. Does anyone have one?
cc @danmosemsft

[2018-07-24 07:16] Sunny-pu commented on #24065
Failed again in Master Branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180724.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpRequestStreamTests~2FEndRead_InvalidAsyncResult_ThrowsArgumentException(chunked:%20True)

[2018-07-24 07:54] Wraith2 commented on #31302
Briefly what are the reasons for this? I was working my way towards a proposal on this topic and that was the obvious path.

Will the hashcodes for strings and equivalent spans be required to be the same? Having read through various discussions about the MArvin string hashing implementations in coreclr and corefx I seem to remember that the length and zero termination could be involved in the hash

[2018-07-24 09:50] paul1956 commented on #31181
Which Nuget Packages can I install? When I try to install System.Runtime.Serialization.Primitives I get the message below. I had assumed that 3.0x is a superset of at least one of the standards below. It also looks like the functions I want are in this repo but how do I reference them.
[code]

[2018-07-24 10:41] marek-safar opened #31319 "xUnit version used by CoreFX does not run all compiled tests"
We found during our testing that not all CoreFX tests (hundreds in our case) are not executed and in fact, some of them fail with unexpected results.

The issue was fixed in recent xUnit versions, in particular, https://xunit.github.io/releases/2.3-beta4 which includes a fix for https://github.com/xunit/xunit/issues/1068.

In Mono we have updated the xUnit to 2.4 and we see more tests to be execut

[2018-07-24 11:14] hazama-yuinyan commented on #29122
@tmat @jnm2 You're right, tmat. I tried `ModuleBuilder.DefineInitializedData` with both "DebugDirectory" and "Debug Directory" names, but it does nothing on the debug directory section.
I'll look into Pdb2Pdb's source code that I used to convert a Windows-only PDB file to a Portable PDB file.

[2018-07-24 11:40] hazama-yuinyan commented on #29122
The Pdb2Pdb's source code also uses `PEReader`. Maybe I should stop using `Reflection.Emit` or maybe I should use classes like `PEReader` to emit only the debug directory section.
Hmm, what should I do?

[2018-07-24 12:02] ViktorHofer commented on #31319
Will be fixed with https://github.com/dotnet/corefx/issues/31319

[2018-07-24 12:04] ViktorHofer commented on #31221
Maybe someone plugged in a printer between both calls 😂 sorry I couldn't resist.

[2018-07-24 12:08] Trontin commented on #13660
How this implementation will impact the pool connection key ? If there is two differents AccessToken with the same connection string, does it mean that they can share the same connection pool or not ?

[2018-07-24 12:14] jnm2 commented on #29122
I don't know much about it besides mimicking Roslyn (which doesn't use Reflection.Emit). Either you'll have to find a way to manipulate Reflection.Emit to emit the debug directory in the first pass, or post-process the saved PE either manually or via System.Reflection.Metadata, or convert all the Reflection.Emit code to SR.Metadata. In any of these three options, you'll want to compare your output

[2018-07-24 12:58] gboucher90 opened #31322 "DiagnosticSourceEventSource throws "System.InvalidCastException: Unable to cast object of type""
Hello,

I get the following exception while executing SQL stored procedures and when the two variables "COMPlus_PerfMapEnabled" and "COMPlus_EnableEventLog" are set to 1:
[code]

The application is targeting "netcoreapp2.0" and running with runtime 2.1.1 on CentOS 7.
It seems to be a regression, the error doesn't appear while running with runtime 2.0.0.

Using: System.Data.SqlClient 4.4.0

It seem

[2018-07-24 13:06] ViktorHofer opened #31323 "Make BaseIntermediateOutputPath project specific and remove overwrite of RestoreOutputPath"
Using the same `BaseIntermediateOutputPath` has unfortunate side effects. We should make it project specific, i.e.

EDIT: updated
[code]

We should also stop overwriting the `RestoreOutputPath`, I believe it defaults either to BaseIOP or IOP: https://github.com/dotnet/buildtools/blob/8bc74f90524b14ea0feb178dd5d5352503168aeb/src/Microsoft.DotNet.Build.Tasks/PackageFiles/packageresolve.targets#L10

[2018-07-24 13:07] shaulbehr commented on #31278
OK, I'm working on setting up a Linux VM locally now. Having some trouble, so it might be a couple of days before I can follow up on this...

[2018-07-24 13:36] louisto commented on #30513
@louistio 👍

[2018-07-24 13:39] pjanotti commented on #31181
Yes, that is correct.

[2018-07-24 13:44] bartonjs commented on #30513
::hangs his head in shame::

[2018-07-24 13:48] vcsjones commented on #31319
I think @ViktorHofer meant #31260 :-).

[2018-07-24 13:52] hazama-yuinyan commented on #29122
I think there is no way to manipulate `Reflection.Emit` to emit the debug directory, so I choose post-processing for now. If there is any problem, then I'll consider taking other paths.
So could you tell me how to emit the debug directory with `SR.Metadata`? Which class will I use?

[2018-07-24 14:07] svick commented on #31302
Does this mean it would make sense to open a separate API proposal to make the methods non-virtual? This would make the API clearer, consistent with this new method and slightly more efficient. Or would that still be considered a breaking change?

[2018-07-24 14:34] saurabh500 commented on #13660
A new connection pool is created for every access token.

[2018-07-24 14:43] AtsushiKan commented on #2800
If the issue is that the name "monopolizes" the general concept, we could qualify it or stick it in a more specialized namespace (System.Reflection.CrossPlatform?). I don't think we want the qualifier to be "ReflectionOnly" because (1) it's long and (2) I expect that TypeLoaders will eventually host "dynamic" or "authoring" assemblies too for the RefEmit.Save() issue. The thing this class brings t

[2018-07-24 15:18] ViktorHofer commented on #31319
Oh right, thanks 😁

[2018-07-24 15:39] davidsh commented on #31305
I'm not sure we should fail the request.  We might simply want to adjust/strip the headers automatically.

[2018-07-24 15:42] AtsushiKan commented on #2800
Edited top post:

- Adopted `AssemblyLoadContext`-style names for the `Load` overloads and the `Resolve` event.
- Added `LoadFromStream(Stream)` overload.
- Eliminated the probe directories support. So hooking the event is compulsory now. (Maybe the constructor could take a delegate?)

[2018-07-24 15:46] davidsh commented on #31315
We have several issues on this topic about adding more detailed, platform-independent, error information.

#4148
#19185
#26477

In particular, the current thought I have is to extended the HttpRequestException with a property that is similar to [WebException.Status](https://docs.microsoft.com/en-us/dotnet/api/system.net.webexception.status?view=netcore-2.1) and an enum similar to [WebExceptionStat

[2018-07-24 15:48] itrofimow commented on #31094
@karelz

[2018-07-24 15:49] davidsh commented on #23463
Tracking this with #31291

[2018-07-24 15:49] #23463 closed

[2018-07-24 15:51] jkotas commented on #2800
I was expecting that this scenario will be handled by delegating the assembly resolve event to `Assembly.Load` so that the framework assemblies are not loaded multiple times.

Or is the expectation that all Assembly objects in the universe will be created by the same context? It would be useful to clarify what are acceptable return values from Resolve event.

[2018-07-24 15:57] AtsushiKan commented on #2800
Each `TypeLoader` is an independent universe of types. The expectation is that `Resolve` must return an Assembly that was dispensed by calling one of the `Load` overloads on the "TypeLoader sender" parameter.

[2018-07-24 16:00] eerhardt commented on #31323
A thing you need to be careful about is that projects that aren't SDK-based `.csproj` projects, sometimes rely on `$(BaseIntermediateOutputPath)` being the common place (i.e. not project specific).

To solve this, I usually check if we are using the Microsoft.NET.Sdk before setting `BaseIntermediateOutputPath` to a project-specific location:

https://github.com/dotnet/machinelearning/blob/a307c6a7

[2018-07-24 16:02] AtsushiKan commented on #2800
BTW, I noticed that `AssemblyLoadContext` has a different way of handling the same named assembly loaded from two different locations. `ReflectionOnlyLoad` always failed if you loaded the assembly from a byte array twice (even if the contents were identical) or from two different locations on disk (even if the files were identical.)

I'm guessing `AssemblyLoadContext` looks at the contents or the

[2018-07-24 16:08] davidsh commented on #30779
WebSocket Client tests typically go here:

https://github.com/dotnet/corefx/tree/master/src/System.Net.WebSockets.Client/tests

But depending on the type of fix, it might go here:

https://github.com/dotnet/corefx/tree/master/src/System.Net.WebSockets/tests

[2018-07-24 16:20] jkotas commented on #2800
Is there fundamental reason why this restriction exists? It may result into performance regression in the AppDomain migration case (types loaded in shared domain are reused between all appdomains). Maybe it is ok. Just want to make sure that there is a good reason for it.

[2018-07-24 16:21] weshaggard commented on #31099
Yes the corelib version is 1:1 with the marketing version but doesn't exactly match it. If you workaround this for now you can get the version of corelib the same way we do for FrameworkDescription https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices.RuntimeInformation/src/System/Runtime/InteropServices/RuntimeInformation/RuntimeInformation.cs#L28.

@davidfowl I agree th

[2018-07-24 16:28] wfurt opened #31326 "Failing to parse HTTP proxy environmental variables sometimes after upgrade to 2.1"
**Description**

When setting `http_proxy=http://1.2.3.4:3128/` we fail to parse it properly and entire proxy is ignored.
With old Curl handler, trailing slash is ignored. Note that 2.1 code works correctly when set to `http_proxy=http://1.2.3.4:3128`.

**Customer Impact**
Setting for HTTP proxy may stop working after upgrade to 2.1. There is mitigation by using proper form but it is not clear and

[2018-07-24 16:36] danmosemsft commented on #31094
cc @davidsh since @karelz is out.

[2018-07-24 16:37] AtsushiKan commented on #2800
The main reason is that the whole notion of a type universe is that there's a single assembly binding policy for that universe and one list of "canonically loaded assembly instances" for a given assembly identity.

If you mix and match Type objects from different universes (let alone, different implementations), you break that premise. Our EcmaType objects will use the TypeLoader's binding rules t

[2018-07-24 16:37] davidfowl commented on #31099
Sure, just make it a contract. We look at a specific AppContext variable which is controlled by the host. In absence of that, we show something that doesn't mean much to you (the CLR file version or something).

[2018-07-24 16:39] joshfree opened #31328 "X509Certificate2 error open pfx file without password on Mac OSX"
Original issue https://github.com/dotnet/core/issues/1813

**_@ficnar commented 6 hours ago_**

### X509Certicate2 error open pfx file without password on Mac OSX

Creating a X509Certificate2 instance from a byte array from pfx/p12 file that not secure by password, throw exception:

Interop+AppleCrypto+AppleCommonCryptoCryptographicException: MAC verification failed during PKCS12 import (wrong pas

[2018-07-24 16:39] joshfree commented on #31328
@bartonjs

[2018-07-24 16:41] danmosemsft commented on #31181
@eerhardt any idea about this (https://github.com/dotnet/corefx/issues/31181#issuecomment-407348802) .. I haven't seen it.

[2018-07-24 16:43] Zhentar commented on #31191
There are two specialized hash maps I'd like to see.

1. Fast `ulong` keyed map. Basically, applying all the optimizations Andy mentioned. My use case is string atomization while parsing Utf8 streams; when I've got a token I need to stringify, I hash the raw bytes with a high quality 64-bit hash function so that the risk of collision is low enough (even accounting for the birthday paradox) that I

[2018-07-24 16:43] nguerrera commented on #2800
I know this is a hard problem, but it can be cumbersome to have to supply the core assembly name up front. There's a long history of tooling bugs due to incorrect assumptions about what the core assembly name must be. Roslyn can determine which assembly in the reference set has the system.object typedef. To do this with the proposed API, I think I would have to crack all the assemblies separately

[2018-07-24 16:44] steveharter commented on #31099
Talked to @davidfowl a bit. I think the most straightforward way to do this is for the hostpolicy to add a couple AppContext\AppDomain variables like "FRAMEWORK_NAMES" and "FRAMEWORK_VERSIONS". They would list each framework and found\actual version (not requested version) separated by a delimiter.

We already do similar things with "FX_DEPS_FILE" that is picked up later by the CLI.

This informat

[2018-07-24 16:46] jkotas commented on #2800
I agree that there needs to be list of "canonically loaded assembly instances" for a given assembly identity. I do not think that it requires a single assembly binding policy. Different assembly names can be resolved by different assembly binding policy.

[2018-07-24 16:49] steveharter commented on #31099
Adding a "FRAMEWORK_NAMES" and "FRAMEWORK_VERSIONS" would not work for standalone; we would need a mapping from deps.json version as explained earlier or some other mechanism depending on what info we want

[2018-07-24 16:50] eerhardt commented on #31181
@paul1956 - `dotnet/corefx` is a "self-contained" repo, meaning that it doesn't reference NuGet packages like you would in a normal project.  Instead, all of the reference assemblies are built in corefx, and then all the other code uses those "ref" assemblies to build.

So if you want to add a reference from `Microsoft.VisualBasic` to `System.Runtime.Serialization.Primitives` you would do somethin

[2018-07-24 16:51] davidsh commented on #31094
Can you share the repro via Gist or a small repo under your GitHub account?

[2018-07-24 16:52] steveharter commented on #31099
Overlaps a bit with https://github.com/dotnet/core-setup/issues/4112 for logging this information

[2018-07-24 16:55] gboucher90 commented on #31322
The process ends up crashing with a stack overflow exception.

[2018-07-24 16:57] bartonjs commented on #31328
@ficnar do you have an example PFX you can share?  (Preferably one without secrets in it, and also how you acquired it)

[2018-07-24 17:01] AtsushiKan commented on #2800
The thing it, it would depend just on the name but who happened to be the first to do the binding.

So say, you have a Type in a EcmaAssembly and a different Type in an RuntimeAssembly that both define a field of a Type in a third assembly ("Foo"). So if you call `GetField()` on the first Type, it binds "Foo" according to the TypeLoader binding policy and commits the result to the TypeLoader's ass

[2018-07-24 17:04] AtsushiKan commented on #2800
So just something that takes a list of dlls/exe's and inspects each one until it founds one exporting a System.Object type? (along some reasonable heuristics like searching the ones named "mscorlib", "System.Runtime", "netstandard" and "System.Private.Corelib" first?)

I guess something like that could be done... I would think "mscorlib" would work fine in 99% of the cases, though. Even .NETCore s

[2018-07-24 17:08] nguerrera commented on #2800
If the loader can deal with that argument being a facade, then it's much better. I was imagining that it could not. Still there will be cases where you don't necessarily have an mscorlib facade in your reference set.

[2018-07-24 17:10] jkotas commented on #2800
Right, when you have multiple binding policies in play, they need to cooperate to ensure that the same identity gets returned in all cases. As long as the users of this feature guarantee this, there is no fundamental problem. Correct?

[2018-07-24 17:12] nguerrera commented on #2800
When I'm talking about "reference set", I'm thinking of build tools. Some that are yet to be ported (like xaml compilation) use reflection only load or LMR and have had bugs with this. Trying to see if there's a pit of success we can build to address that.

[2018-07-24 17:17] mganss opened #31330 "XmlSerializer fails to deserialize IDREFS into string[]"
Class to deserialize into:

[code]

XML:

[code]

This fails in a netcoreapp2.1 with

It works ok in net45 and also in netcoreapp2.1 with the Microsoft.XmlSerializer.Generator package (pre-generated serializer).

[2018-07-24 17:18] ahsonkhan commented on #26313
This is API the `ref`->`Snap<byte>`  reinterpretation (other direction). Would it make sense to call it `AsSpan` to follow the pattern?

How about AsBytes, similar to the existing overloads:
[code]

[2018-07-24 17:21] terrajobst commented on #24365
Personally, I'm fine with the first two bullet points but I don't understand the last. Could you elaborate? Reading the issue description it sounds like peeking could result in marking all data as "preserve" which would block dequeues from removing data and thus could result in a state where enqueues would fail and the collection is stuck. Is copying not an option?

There are also some concerns ab

[2018-07-24 17:21] davidsh commented on #28961
Having a consistent experience between Linux and Windows would be a huge bonus!

We seem to be getting this error all the time for any https site using NTLM even if Extended Protection (i.e. "channel binding" is OFF).

[code]

So, at a minimum, this should get fixed to at least support NTLM connections where channel binding if OFF or even REQUESTED.

![image](https://user-images.githubusercontent.

[2018-07-24 17:32] AtsushiKan commented on #2800
Right, it is loading the core assembly lazily - the constructor only stores the name for later reference.

Following assembly references might work. (It's probably a rare assembly that doesn't reference the core assembly :-) I could picture that as a fallback, though the option should remain to specify the core assembly name explicitly.

[2018-07-24 17:34] abbotware commented on #31099
@steveharter by 'standalone' = 'self contained deployment' (SCD) ?

[2018-07-24 17:42] nguerrera commented on #2800
cc @ericstj who recently had to hack around a xaml compiler issue with core assembly identity in a prototype.

[2018-07-24 17:52] weshaggard commented on #31323
I agree we are going to need to make some changes here. As part of the arcade work we will likely move to a new common pattern defined at https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/ProjectLayout.props, but I do expect we need to alter that to include our custom configuration.

[2018-07-24 17:53] weshaggard commented on #31323
@ViktorHofer is this only an issue in the depproj's? Or are you hitting the this base and restore path issue in our test projects?

[2018-07-24 18:00] AaronRobinsonMSFT commented on #31271
Any thoughts on this @luqunl?

[2018-07-24 18:05] terrajobst commented on #30527
We've talked with @davidsh about the proposed shape and it look good.

If we find ourselves wanting to add this property to `HttpMessageHandler` we can just physically move the property from `SocketsHttpHandler` as that's binary/source compatible. We don't need the property to be virtual.

From a usage standpoint, it seems more logical to put the property on the `HttpClient` as that's what vast ma

[2018-07-24 18:05] danmosemsft commented on #31201
@pakrym @davidfowl process for 2.1 ports is (1) fill in template below here in the issue (2) create 2.1 PR (3) mail netcoreship with link to issue (4) if okayed, they (me) will mark servicing-consider for big shiproom (5) big shiproom will mark servicing-approved (6) check branch is open before merging.

		#### Description
		 
		#### Customer Impact
		 
		#### Regression?
		 
		#### Risk

[2018-07-24 18:08] davidsh commented on #30527
Any objections to this?

If we do this, then we shouldn't add any property to SocketsHttpHandler, HttpMessageHandler, HttpClientHandler etc.  We should simply have an `HttpClient.DefaultHttpVersion` property.

[2018-07-24 18:09] ViktorHofer commented on #31323
Right, in my specific case it's about the test projects but as discussed offline this is also inconvenient when using `dotnet build` which then creates the intermediate files in the project path. I've already started with this in corefx and I believe it shouldn't be too much work. I prefer doing this now which probably enables VS Test Explorer integration even if we follow a different pattern with

[2018-07-24 18:13] danmosemsft commented on #31259
#### Description
On some Linux kernels, `dotnet new` will not work (and probably many other things)

Details: On Linux we parse `uname` for version components. However `uname` can contain almost anything. If it includes and unusually large number we may overflow causing an exception soon after when we try to represent it in a Version object. This is triggered by simply getting `Environment.OSVersi

[2018-07-24 18:15] danmosemsft commented on #31259
@NatElkins is it possible for you to build master locally and verify that it fixes your problem?

[2018-07-24 18:30] dakale commented on #26268
Hi @arunjvs , apologies in advance if I am not understanding this correctly.

In absence of a `GroupName` (doesnt exist yet), Process.Start sets the process gid to the primary group of the UserName from the ProcessStartInfo?

I am running a process as root, and this process spawns subprocesses (actually, the subprocess is the vsts-agent) as a different user, and this user is part of the `docker` g

[2018-07-24 18:37] huanwu commented on #31330
@mganss Thanks. We will take a look.

[2018-07-24 18:41] jkotas commented on #2800
Here is a real world example of the code: https://github.com/RssBandit/RssBandit/blob/master/source/RssBandit/Core/ServiceManager.cs#L74

This code is not easy to migrate to .NET Core today. This feature should make this much easier. We should have an example how this code would need to change, and we should make sure that the performance is same or better compared to the AppDomain solution.

[2018-07-24 18:44] nguerrera commented on #2800
It would be great and fully address my concern if the core assembly name was optional.

[2018-07-24 18:50] eerhardt commented on #31002
I've added to the proposal to include `OperatingSystem`, and `OperatingSystemVersion` strings.  However, thinking more about this, would it make sense to create a new type that encapsulated the `RID` APIs? ex.

[code]

or potentially just a completely new `static class` that contained `RID` specific information:

[code]

This would convey that the `OperatingSystem` and `OperatingSystemVersion` str

[2018-07-24 19:10] geoffkizer commented on #31305
Yes, that seems like a reasonable option.

(By the way, I should clarify: Transfer-Encoding is completely prohibited (not just Transfer-Encoding: chunked).

I think there's the specific cases of "Transfer-Encoding: chunked" and "Connection: close" to consider, as well as the more general case of other values for these headers.

"Transfer-Encoding: chunked" and "Connection: close" don't really make

[2018-07-24 19:10] geoffkizer commented on #31305
It would be interesting to see what other handlers do here.

[2018-07-24 19:13] geoffkizer commented on #30527
I don't understand this. You don't use HttpClient to construct an HttpRequestMessage. You just do "new HttpRequestMessage".

[2018-07-24 19:14] davidsh commented on #31305
Transfer-Encoding: chunked is pretty important in cases where the length of the request body can't be determined easily.  For streaming scenarios of request body (video etc.), Transfer-Encoding: chunked is used all the time.  Perhaps that means that a developer has to manually think about disabling HTTP/2 use.  Or perhaps we should automatically not propose HTTP/2 in cases where the developer has

[2018-07-24 19:17] davidsh commented on #30527
When developers call HttpClient APIs such as GetAsync(), PostAsync(), then only pass in a URI.  However, if they use the HttpClient.SendAsync() API, then they are passing in an HttpRequestMessage explicitly.

The alternate proposal is to not add a property to the handlers at all.  Basically, let the HttpRequestMessage.Version property control the version.  However, in cases where a developer doesn

[2018-07-24 19:17] geoffkizer commented on #31305
Sure, but how common is it for a developer to set this explicitly? We will set it for them automatically if there's no Content-Length.

If we do think this is common, I think that's a good argument for just discarding it silently when doing HTTP2.

[2018-07-24 19:21] geoffkizer commented on #30527
It seems really strange that doing "httpClient.GetAsync(url)" would result in a different HTTP version than "httpClient.SendAsync(new HttpRequestMessage(HttpMethod.Get, url))".

[2018-07-24 19:22] eerhardt commented on #30140
Closing as "answered".  If this didn't help, feel free to re-open.

[2018-07-24 19:22] #30140 closed

[2018-07-24 19:23] eltiare commented on #6318
I find myself wanting this very much on occasion. Seems like something that shouldn't be overlooked.

[2018-07-24 19:23] geoffkizer commented on #30527
And more generally, I'm not sure why "DefaultHttpVersion" is better than "MaxHttpVersion", regardless of where it lives.

[2018-07-24 19:24] davidsh commented on #30527
I mentioned that during the API review meeting today. But the consensus was that in the normal case, we'll have HttpClient.DefaultHttpVersion == 2.0 *and* HttpRequestMessage.Version == 2.0. So, it would be the same in the normal use cases.

The only reason for having an HttpClient.DefaultHttpVersion property would be for devs that need to explicitly prevent HTTP/2 from being offered presumably bec

[2018-07-24 19:32] pjanotti commented on #12941
The exception is actually because `HashSet<string>.CreateSetComparer()` is not marked as serializable. If that parameter is removed and the default comparer is used, it worksboth in .Net Fx (4.7.2) and .NET Core 2.1. The error message in .Net Fx is really a null exception but in .NET CoreFx 2.1 you get the proper message:

[code]

This doesn't meet the bar to be fixed in Fx (especially that is hap

[2018-07-24 19:32] #12941 closed

[2018-07-24 19:33] itrofimow commented on #31094
Ok, if Github repo is more suitable for you i'll do it that way as soon as i get back to work.

[2018-07-24 19:34] davidsh commented on #30527
I don't think we necessarily want HTTP/1.1 as the default for SocketsHttpHandler.  I think we considered this as a backup plan in case we're not confident of the completeness of SocketsHttpHandler for the next release.  But in general, I think we would want the default to be HTTP/2.0 to match the previous release (.Net Core 2.0) which supported HTTP/2.0 as well.

How do you see handling those case

[2018-07-24 19:37] geoffkizer commented on #30527
I also think it's really weird to say "it works fine in the normal case" when discussing how to design this property. Of course it works fine in the normal case -- if not, it's horribly broken. The *reason* to have a property here is so that you can change behavior -- i.e., set DefaultHttpVersion to 1.1 (or in the future, some value less than the max supported version). If this applies to GetAsync

[2018-07-24 19:40] geoffkizer commented on #30527
I think it's broader than that. HTTP2 is still pretty new, and it's a complicated protocol. There may be functional or performance issues on the server side. There may be functional or performance issues on the client side (our implementation). The goal is to make it easy to downgrade if you discover such issues.

(The other goal is making it opt-in for SocketsHttpHandler, at least for now.)

[2018-07-24 19:42] davidsh commented on #30527
Sounds like you are proposing the API as:

[code]

which uses a name of "MaxHttpVersion" and implies it would affect any of the HttpClient APIs by modifying the HttpRequestMessage.Version property that is used.  And one problem with that approach is we would have to modify the public property value in order to pass in that information to a handler (since we won't have any APIs on the handler itsel

[2018-07-24 19:45] geoffkizer commented on #30527
If we feel confident in making HTTP2 the default for SocketsHttpHandler in 2.2, then great. Given the short timeframe, I'm not ready to commit to this now. I'm fine shipping it as opt-in, i.e. SocketsHttpHandler.MaxHttpVersion defaults to HTTP/1.1. I don't want us to box ourselves into a design that requires making HTTP2 the default.

[2018-07-24 19:46] davidsh commented on #30527
I think the default value choice of HTTP/1.1 vs. HTTP/2.0 is separate from the location of the API.

So, we should get consensus on the shape of the API.  We can then decide later what the default is...or even start with HTTP/1.1 and switch (before ship) to HTTP/2.0.

[2018-07-24 19:46] dakale opened #31335 "Support GroupName in ProcessStartInfo on Unix"
From https://github.com/dotnet/corefx/issues/26268#issuecomment-407507168

To briefly summarize the above scenario: A process running as root spawns a less privileged process to check out source code, and run various commands such as docker build, docker push, etc, where executing docker commands requires either sudo, or being in the docker group.

This is a specific example of a scenario that can

[2018-07-24 19:47] geoffkizer commented on #30527
Just to make sure I understand where we are at a high-level here:

Are we or are we not approved on SocketsHttpHandler.MaxHttpVersion? Can we proceed here and discuss the HttpClient/HttpClientHandler setting in parallel? Or do we think we can't settle that until we have clarity on the HttpClient/HttpClientHandler setting?

@terrajobst

[2018-07-24 19:48] davidsh commented on #30527
We are not approved on the API.  That is why @terrajobst changed it back to "needs work".

There was strong pushback against adding a SocketsHttpHandler level API itself.

There would be more support for adding an HttpClient.MaxHttpVersion property and setting that default to something appropriate.

[2018-07-24 19:49] geoffkizer commented on #30527
I agree, but as I said above, we need an API that enables us to make HTTP2 opt-in, at least for SocketsHttpHandler.

[2018-07-24 19:49] davidfowl commented on #31099
@weshaggard @jkotas If we change this property to be useful does that count as a breaking change?

[2018-07-24 19:49] davidsh commented on #30527
I think having HttpClient.MaxHttpVersion would give us that even if the default value is 1.1, we can set it to 2.0.

[2018-07-24 19:56] joshfree opened #31336 "Add AOP capabilities"
_From @pleandre on May 3, 2018 14:41_

Hello all,

Currently their are not many ways to do AOP (Aspect Oriented Programming) in .net core. The only way I see is to use libraries like Postsharp / Fody which adds some compilation steps ([MSIL rewritting](http://doc.postsharp.net/how-it-works)) and complex plumbing.

I think it would be great to have some functionalities embedded in .net core for asp

[2018-07-24 19:59] geoffkizer commented on #30527
Yes, I agree.

[2018-07-24 20:03] daveaglick commented on #31336
FWIW, build time code gen (which I would consider AOP a subset of use cases for) is discussed at length in https://github.com/dotnet/roslyn/issues/19505

[2018-07-24 20:10] pjanotti commented on #19104
The original test is gone, currently netcore and Fx have the same behavior: both return null. Per [documentation](https://msdn.microsoft.com/en-us/library/w3f99sx1.aspx) this seems like a bug that was fixed in Fx: the original error "The assembly or one of its dependencies was found, but could not be loaded."  is incorrect, since nothing could have been found.

Test cases already covering this sce

[2018-07-24 20:10] #19104 closed

[2018-07-24 20:11] AtsushiKan commented on #2800
This code is creating object instances (code execution) so it wouldn't be using a metadata only feature like ours anyway. But even assuming that's not part of the problem, isn't `AssemblyLoadContext` already the solution for this? What's the missing piece that this feature would be expected to fill in? It is  intended to be portable managed library with no special hooks into the runtime that user

[2018-07-24 20:17] davidsh commented on #30527
Another thing we should consider if how this new property HttpClient.MaxHttpVersion will affect the current platform handlers we (CurlHandler and WinHttpHandler).  Right now, their "max version" is 2.0.

Adding this new property with a default value of HTTP/1.1 could change that behavior assuming we "wire it" into the code logic to pass in the new property value to those handlers.  Customers that

[2018-07-24 20:31] davidsh commented on #30527
In the API review meeting today there was no discussion around the platform handlers and possibly regression in behaviors.

I think these trade-offs will need to be discussed at the next API review meeting once we revise this current proposal and re-submit it for "api-review".

[2018-07-24 20:33] GrabYourPitchforks commented on #31302
@rynowak Can you comment on the specific use cases ASP.NET has? You pointed me earlier to [this](https://github.com/aspnet/Routing/blob/rynowak/jump-table/benchmarks/Microsoft.AspNetCore.Routing.Performance/Matchers/JumpTableMultipleEntryBenchmark.cs#L275) as an experimental sample, but I don't want to put words in your mouth regarding your particular motivations or use cases.

@Wraith2 The equali

[2018-07-24 20:41] #31064 closed

[2018-07-24 20:46] rynowak commented on #31302
Sure, our primary use case for this right now is inside routing. We are executing a state machine and need to make some kind of branching decision based on a section of the URL path. We'd really prefer to do this without the need to substring since most of the time we won't use that content as a string anyway.

So we're likely to end up owning our own hash table implementation that stores a set of

[2018-07-24 20:47] geoffkizer commented on #30527
Yes, I agree.

Personally, I lean toward putting this on HttpClientHandler. It seems like the most reasonable tradeoff between usability and minimizing behavioral changes, and it's consistent with the existing model where most settings live on the HttpClientHandler.

I don't really understand the push to have this on HttpClient instead; customers already know how to use HttpClientHandler for these

[2018-07-24 20:47] AtsushiKan commented on #2800
Okay, so this paticular example would have to save the _names_ of the types and retrieve them again in the executable Assembly again if it were to use a reflection-only assembly to do the inspection. The Type objects that our EcmaAssemblies hands out aren't instantiable, naturally.

So we're talking about the set of cases where the assembly dependencies only go from EcmaAssembly's to RuntimeAssemb

[2018-07-24 20:47] geoffkizer commented on #30527
And to be clear, by "this" I mean MaxHttpVersion, *not* DefaultHttpVersion, which seems broken to me.

[2018-07-24 20:55] davidsh commented on #30527
All of these proposals have the drawback that there either needs to be a property on the underlying object (handler) regardless to adjust the version property, or we have to modify the input argument HttpRequestMessage's Version property before that underlying handler uses it.

My observations from the API review meeting today suggested to me that the preference is to arrive at a final API shape a

[2018-07-24 20:56] rmkerr opened #31338 "HTTP2: Consider supporting HTTP/2 for http:// endpoints"
HTTP/2 is designed for use with SSL, but does provide a mechanism for upgrading from an insecure http:// endpoint.

This is an uncommon scenario that adds additional complexity to the upgrade process, and so should likely be added as an opt-in or skipped entirely.

cc: @geoffkizer

[2018-07-24 21:12] geoffkizer commented on #30527
Who is driving this? Me? You?

[2018-07-24 21:17] rezvanf commented on #25102
I am seeing this issue in running in OpenShift Containers... I have followed the instructions in this issue, my docker file now looks like this

RUN yum -y install \
..
 libc6-dev \
libgdiplus \
..

&& yum clean all

RUN ln -s /usr/lib64/libdl.so.2 /usr/lib64/libdl.so

RUN ln -s /usr/lib64/libgdiplus.so.0.0.0 /usr/lib64/libgdiplus.so

When I attempt to run my code I get

/docker-entrypoint.sh: lin

[2018-07-24 21:19] safern commented on #25102
This doesn't seem like an error in System.Drawing.Common itself. Could you please confirm if this happens in a single Console App, or if you could share a stack trace from the dump that would be super useful as well.

[2018-07-24 21:21] paul1956 commented on #31181
@eerhardt that worked, I hope someone is collecting all this issues in one place so every "external" developer does not have to go through this. A related question the code in some of the files I need to port have lots of conditional compiler flags, how do I know how to set them? I have no idea what these flags mean with respect to CoreFx For Example
[code]
or
[code]

[2018-07-24 21:22] danmosemsft commented on #31181
I'll look at the #if's and suggest approach for each..

[2018-07-24 21:31] paul1956 commented on #31181
@danmosemsft thanks, Still learning Git, what do I need to get to the proper fix for #31303 in my branch hopefully without losing all my changes.

[2018-07-24 21:33] davidsh commented on #30527
The reality is that we have to put it on both HttpClientHandler *and* SocketsHttpHandler since that is the way that HttpClientHandler is implemented today (as a wrapper around SocketsHttpHandler).

[2018-07-24 21:35] davidsh commented on #30527
Perhaps we should consider this approach since it would allow us to use an AppContext and/or environment variable to toggle SocketsHttpHandler behavior without having to touch the existing platform handlers' behavior.

[2018-07-24 21:39] geoffkizer commented on #30527
@bartonjs Thanks for the data, that's very useful.

I can't quite tell if you're advocating for DefaultHttpVersion vs MaxHttpVersion or not. Are you?

Yeah, I'm not terribly surprised by this. I think the current split is unfortunate. But it exists. In order to do auth, compression, client certs, ssl options, or manage cookies and redirect settings, you need to use HttpClientHandler. Should these

[2018-07-24 21:40] danmosemsft commented on #31181
@paul1956 as that fix is now committed into master, you need to rebase your working branch on master. Before doing that, you should either stash (git stash) or commit (git commit -am for example) your uncommitted changes. (If yo'ure learning git, maybe copy them somewhere else in case too...). Then, with your working branch checked out, you would do:

[code]
After doing this, if you had committed

[2018-07-24 21:45] steveharter commented on #31099
Yes.

From the host perspective, the easiest implementation for both self-contained and framework-dependent would be to simply add a "FX_DEPS_FILES" context variable, similar to existing "FX_DEPS_FILE", but lists the path to the app's deps.json, every framework deps.json and perhaps those specified by additional-deps as well. For self-contained, there would only be one deps.json.

Then the managed

[2018-07-24 21:50] talarari commented on #15430
Any update on this?

[2018-07-24 21:53] JarLob opened #31340 "MemoryExtensions ToUpper*/ToLower* ReadOnlySpan extensions return type"
For example https://github.com/dotnet/corefx/blob/5f3d22a7f335ae4c1dd57f9ac8b7460a13d57ee0/src/Common/src/CoreLib/System/MemoryExtensions.Fast.cs#L269-L288 return type is not documented.
[code]
What does it mean? Just few lines above an exception is thrown if `culture` is `null`. Why returning -1 here if conversion cannot be completed instead of throwing an exception?

[2018-07-24 21:57] paul1956 commented on #31181
@danmosemsft something went wrong, should upstream be origin?
[code]

[2018-07-24 21:59] danmosemsft commented on #31181
Ah, yes, normally I would do something like this when I clone a repo so I have the fork and parent distinct:
[code]

[2018-07-24 22:02] geoffkizer commented on #30527
Just to back up for a second, there are two (possible) goals here:

(1) Allow customers to opt-in to HTTP2 with SocketsHttpHandler, until we decide to make it the default (in the current release or future)
(2) Make it easy for customers to turn off HTTP2 if they hit functional/perf issues due to client or server implementation problems

The proposal here was to do (1) via a property on SocketsHttp

[2018-07-24 22:03] bartonjs commented on #30527
I prefer Default, and letting the users who create their own HttpRequestMessage control their destiny.

I think that the feature was being proposed as "we're afraid of _our_ implementation".  I think that if we look at it as both "ours could be wrong" and "some random server's / load balancer's could be wrong" then HttpClient makes more sense (to me), because it applies better to both situations.

[2018-07-24 22:03] smitpatel commented on #30720
@weshaggard - We are seeing this issue when running tests on netcoreapp2.0 tfm. Is it going to get fixed? Or packages for 3.0 release will (or may) not work with netcoreapp2.x releases?

[2018-07-24 22:06] rezvanf commented on #25102
what is the recommended way to get a copy of the dump

[2018-07-24 22:07] bartonjs commented on #30527
@geoffkizer If the goal of this proposal is "Allow customers to opt-in to HTTP2 with SocketsHttpHandler, until we decide to make it the default (in the current release or future)" then I don't think that should be permanent, public API.  That sounds like something more ephemeral, like an environment variable or AppContext-based setting.

I'd even recommend putting a version number in it, so it's c

[2018-07-24 22:09] wfurt commented on #31242
reopening for 2.1 servicing:

**Description**
When using control panel or IE to configure HTTP proxy, 2.1 HttpClient cannot parse them correctly.

**Customer Impact**
HTTP Proxy configuration no longer works after upgrading to 2.1 on Windows.

**Regression?**
Yes. This is regression from 2.0

**Risk**
low.
This change improves parsing of HttpProxy value to cover cases missed in 2.1 release.

[2018-07-24 22:11] geoffkizer commented on #30527
If that's the recommendation, then I'm fine with that. It's a bit more painful for our testing, but that's not really relevant.

[2018-07-24 22:14] geoffkizer commented on #30527
Do AppContext settings and/or env vars require API approval?

[2018-07-24 22:29] bartonjs commented on #30527
Nope, they're not API :smile:.

[2018-07-24 22:53] pjanotti commented on #14750
Issue didn't repro for the test nor for the code on the first comment, closing the issue.

[2018-07-24 22:53] #14750 closed

[2018-07-24 23:19] 4creators commented on #30968
Perhaps we should add above APIs to HWIntrinsics `VectorNNN<T>`  what partially would heal wounds of some devs as discussed in #18926

[2018-07-24 23:32] danmosemsft commented on #31191
Last time we discussed this it got wedged on the discussion of whether there should be a new repo. @joshfree @weshaggard is corefxlab a suitable place to put experimental code that has some infrastructure (CI) and the ability to package for nuget and might graduate to corefx later?
@karelz

[2018-07-24 23:47] weshaggard commented on #30720
@smitpatel are you using the latest daily build?  I would believe the latest package should fix this problem for running on netcoreapp2.x.

[2018-07-24 23:48] ViktorHofer commented on #31191
If we ship this as a normal nuget package (not source based) this should live in corefx as we want to use it internally in master. Also as a buid from source requirement I believe we must live build netcoreapp asset.

[2018-07-25 00:01] joshfree commented on #31191
@danmosemsft yes corefxlab is the appropriate place for something like this to begin while we’re unsure if it should be promoted to corefx or not.

[2018-07-25 00:21] danmosemsft commented on #31181
Here's what to do with the defines:

 (1) leave define as is and leave code within it as is:
[code]
(2) assume define is set, remove the define itself as we will never not set it
[code]
(3) assume define is not set, remove the define and code within it
[code]

[2018-07-25 00:45] terrajobst commented on #30527
Fair, although I'd say everything involving the developer experience should be reviewed by someone 😄

[2018-07-25 01:00] Wraith2 commented on #31302
Ok, I agree with all of that reasoning. The specific case I was considering was ```string.GetHashCode(value.AsSpan())==value.GetHashCode()``` where I don't think there should be any requirement that it would return true but that it might happen to. As long as people are careful this is fine. A decision could be made to ensure that they won't every be equal by adding a constant term in the hash met

[2018-07-25 01:23] PeterWone commented on #30687
Chaps, I'm still seeing this on WinIoT. Have the pertinent changes made it into an update people should be installing on WinIoT?

[2018-07-25 01:30] stephentoub commented on #24365
You mean the bullet about ToArray/CopyTo/GetEnumerator/etc.?  ConcurrentQueue is implemented as a linked list of circular buffers.  If a segment fills up, a new segment is allocated and linked from the previous one, at which point no enqueueing happens into the previous one, only into the new one, and the old one will go away as soon as all items are dequeued from it and no one still has a referen

[2018-07-25 02:02] smitpatel commented on #30720
@weshaggard - We are using preview bits. It may not be updated to latest yet. So you are asserting that using SqlClient on netcoreapp2.0 would not have this issue? (In that case, we would just need to wait little bit longer).

[2018-07-25 02:40] dajomo commented on #31036
@davidsh This is very disappointing

[2018-07-25 02:55] #30873 closed

[2018-07-25 03:10] baulig commented on #31328
There is a difference between no password and the empty string.  I was actually looking at this quite recently when porting the OS X PAL to iOS and if I remember correctly then Apple is actually less strict about this than OpenSsl / BoringSsl.

Can you try using the `X509Certificate(byte[],string,X509KeyStorageFlags)` constructor and see whether passing `null` or `string.Empty` changes anything?

[2018-07-25 03:46] bbowyersmyth commented on #31239
Closed as as designed due to backwards compatibility

[2018-07-25 03:46] #31239 closed

[2018-07-25 04:41] paul1956 commented on #31181
@danmosemsft FEATURE_CORECLR is the one I care about now and not in your list. You also said leave as is but I don't see anywhere any constants are defined or even a place in the VS IDE or project to define them, normally on the build tab but there is none.

[2018-07-25 05:42] Thaina opened #31348 "LINQ SelectAggregate"
I wish we could have select that could also keep state of aggregation and continue the iteration

It should be simple to add this

[code]

[2018-07-25 05:47] Tornhoof commented on #31340
Throwing exceptions is expensive and you need to handle the result anyway by e.g. adding it to an offset for ``destination``. You need to know that it failed or the offset. It's all about performance.
But your right the docs should be extended with a description of the return value.

[2018-07-25 06:02] omariom commented on #24365
Too many changes in behavior because of a ctor param.
This functionality deserves to be a separate type.

[2018-07-25 06:21] JarLob commented on #31340
Sorry, I don't get it. Why would I need to check the return value?:
[code]
All four functions **always** return `source.length` in case of success. Do you think it can be something different on other platforms?

Yes, exceptions are expensive, but this is error prone design, because callers will forget they **must** check the return value.

[2018-07-25 06:43] jkotas commented on #31099
I do not think we would want to create dependency from `Environment.Version` (very low-level API) to DepenendencyModel.

[2018-07-25 06:55] davidfowl commented on #31099
I'd prefer we just set the version data direction in the host properties instead of using the deps file. Agree with @jkotas, we can't take a dependency in mscorlib on `deps.json`. It should be host agnostic.

[2018-07-25 07:35] Tornhoof commented on #31340
No, I don't think it will return anything else, the type is char, even the turkish i/I thing will still fit into a char.
But knowing/assuming that ``source.Length`` is returned, is actually just an implementation detail.
As far as I understood all the Memory* classes are mainly for writing high-performance code, assuming the developers know what they are doing, in most cases they already know that

[2018-07-25 07:35] ficnar commented on #31328
Passing string.Empty or null value to password in constructor not work too.
I use OS X 10.13.
Test pfx I attaching.
[cert.pfx.zip](https://github.com/dotnet/corefx/files/2226957/cert.pfx.zip)

[2018-07-25 07:43] jkotas commented on #30687
You should get the fix if you use latest WinIoT (Windows 10 April 2018 Update - https://www.microsoft.com/en-us/software-download/windows10iotcore) and .NET Native (.NET Native 2.1 - https://github.com/Microsoft/dotnet/blob/master/releases/UWP/README.md).

[2018-07-25 07:47] dotnet-mc-bot opened #31349 "Test failure: System.IO.Pipelines.Tests.FlushAsyncCancellationTests/ReadAsyncCompletesIfFlushAsyncCanceledMidFlush"
Opened on behalf of @Sunny-pu

The test `System.IO.Pipelines.Tests.FlushAsyncCancellationTests/ReadAsyncCompletesIfFlushAsyncCanceledMidFlush` has failed.

Reader was not completed in reasonable time\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.IO.Pipelines.Tests.FlushAsyncCancellationTests.ReadAsyncCompletesIfFlushAsyncCanceledMidFlush() in E:\A\_work\2\s

[2018-07-25 07:57] dotnet-mc-bot opened #31350 "Test failure: System.Tests.ActivatorNetcoreTests/TestingCreateInstanceObjectHandleFullSignatureWinRT(assemblyName: \"Windows, Version=255.255.255.255, Culture=neutral,\"..., type: \"Windows.Foundation.)"
Opened on behalf of @Sunny-pu

The test `System.Tests.ActivatorNetcoreTests/TestingCreateInstanceObjectHandleFullSignatureWinRT(assemblyName: \"Windows, Version=255.255.255.255, Culture=neutral,\"..., type: \"Windows.Foundation.)` has failed.

System.TypeLoadException : Could not find Windows Runtime type 'Windows.Foundation.Collections.StringMap'.

        Stack Trace:

           at System.Runti

[2018-07-25 08:18] dotnet-mc-bot opened #31351 "Test failure: System.Runtime.Serialization.Tests.InvalidDataContractExceptionTests/Ctor_SerializationInfo_StreamingContext"
Opened on behalf of @Sunny-pu

The test `System.Runtime.Serialization.Tests.InvalidDataContractExceptionTests/Ctor_SerializationInfo_StreamingContext` has failed.

System.Runtime.Serialization.SerializationException : Unable to find assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

        Stack Trace:

           at System.Runtime.Seriali

[2018-07-25 08:22] Sunny-pu commented on #27963
failed again: https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180725.01/workItem/System.ComponentModel.Annotations.Tests/analysis/xunit/System.ComponentModel.DataAnnotations.Tests.RangeAttributeTests~2FDotDecimalExtremaAndNonStringValuesInvariantConvert(type:%20typeof(double),%20min:%20%5C%221.0%5C%22,%20max:%20%5C%223.0%5C%22,%2

[2018-07-25 08:33] odhanson opened #31352 "How does one create and debug a private release of corefx ?"
Hi

I would like to know what's the best way to have my .net core application reference the debug version of corefx built locally on my machine. I guess the easiest way that won't require me updating all my application projects is to create nuget packages out of my local build and install them on a local nuget repo and update my nuget.config ? Is there some script that would do all of that ?

[2018-07-25 09:03] theimowski commented on #6913
Can you use `System.Diagnostics.EventLog` on .NET Core to query nested event logs from `Applications and Services`, like `Microsoft-Windows-PowerShell/Operational` ?

If not, what's the alternative to query those logs on .NET Core?

[2018-07-25 09:05] glenn-slayden commented on #15957
I posted some [simple demonstration code](https://stackoverflow.com/a/51512971/147511) for using this capability, with commentary, on StackOverflow. For experts who don't need to read that belabored treatise, here is the working and tested code, which implements "raw/dumb" (linguistically-blithe) widening of a `byte[]` array to `char[]`:

    /// <summary>
    /// 'Widen' each byte in 'bytes' to 1

[2018-07-25 09:29] krishnaifour opened #31353 "Transaction Scope in .net core 2.1"
Hi

i want Transaction Scope in .net core 2.1 but i am unable to find the solution can any one
help me
`  using (TransactionScope scope = new TransactionScope(TransactionScopeAsyncFlowOption.Enabled))
                    {
                        var chkUser = await _userManager.CreateAsync(aUser, aUser.PasswordHash);

                        if (chkUser.Succeeded)
                        {

[2018-07-25 09:41] benaadams commented on #15957
Narrow isn't quite as exciting https://github.com/dotnet/coreclr/issues/16474 if you can come up with better asm than is presented in the issue, please do!

[2018-07-25 09:45] #31353 closed

[2018-07-25 09:57] asharda1 opened #31354 ".net Core xUnit project and app.config"
HI,
 I have created a test project with default template provided by visual studio for
xUnit test project (.Net core 2.0)
 With this test project I want to test one of my Business layer, of the web Project , in the business layer project settings are accessed by web.config file using System.Configuration.configurationManager .
As the Businesslayer is tested directly , I added App.config in the xUn

[2018-07-25 10:40] Anipik commented on #31352
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md these are instructions for using local built corefx for the applications

[2018-07-25 11:09] itrofimow commented on #31094
Well it's ready.
https://github.com/itrofimow/PerformanceDegradationRepro
Feel free to contact me if there would be any issues with setup or smth - i am eager to help

[2018-07-25 11:44] filipnavara commented on #31328
Duplicate of #24225

[2018-07-25 12:12] theimowski opened #31358 "Port System.Diagnostics.Eventing.Reader to .NET Core"
As already [commented](https://github.com/dotnet/corefx/issues/6913#issuecomment-407685929), I'd like to query nested event logs from `Applications and Services`, like `Microsoft-Windows-PowerShell/Operational`:

<img width="999" alt="screen shot 2018-07-25 at 10 55 05" src="https://user-images.githubusercontent.com/5909015/43200133-aecdf6bc-9014-11e8-81f1-26edfdd8bb2d.png">

In full .NET framewor

[2018-07-25 13:01] wojtpl2 opened #31359 "Does .Net Core support the creation of COM objects?"
In .Net Core in source code you can create Com object:
[code]

But you can't register it using RegAsm or TblExp. https://github.com/dotnet/coreclr/issues/19120

Does .Net Core support the creation of COM objects? Or it is not supported function at all?
If it not supported, why ComVisible exists in .net Core?

Currently I can't use my .net core application in my old CPP aplication.

[2018-07-25 13:16] danmosemsft commented on #6913
@theimowski it has the same functionality as on desktop framework so I assume so.
If necessary please open a new issue : it's easy to miss comments on a closed one like this.

[2018-07-25 13:51] odhanson commented on #31352
Thanks !

[2018-07-25 13:51] #31352 closed

[2018-07-25 13:54] danmosemsft commented on #31354
@jeremykuhne, although I think there is already a similar issue

[2018-07-25 13:55] danmosemsft commented on #15957
@grabyourpitchforks

[2018-07-25 14:12] wojtpl2 commented on #31359
I've added comment in dotnet/coreclr#19120

[code]

[code]

But way I can't register .Net Core assembly?

[2018-07-25 15:01] MarcoRossignoli commented on #30188
@ericstj where i can found all resource strings?I downloaded source for .net 4.7.2(DotNet472RS4) and try to find some string `findstr /n /s /c:"Perflib_PlatformNotSupported"  *.*` but i didn't find anything.

[2018-07-25 15:33] MarcoRossignoli commented on #30188
Great thank's!

[2018-07-25 15:38] odhanson opened #31362 "ZipPackage/ZipArchive seems to have issues when reading ZIP files generated by .Net Framework"
Hi

The following test passed on .Net framework, but when we run it in .Net core it fails:
[code]
I have debugged the CoreFx implementation, and an exception is thrown in the zipPackage,Close(). The issue is that when part.GetStream is called, and the data is decompressed, the ZipArchiveEntry will cash the uncompressed stream (_storedUncompressedData) and even though we only opened the stream for

[2018-07-25 15:38] Temppus opened #31363 "Disposing object posted into DataSourceBlock."
Hello. Recently I have started using TPL dataflow library and come across an issue whichI could not solve.

I have one BroadcastBlock which have a cloning function:
[code]
Then I have a couple of ActionBlocks created like this

[code]
**PROBLEM DEFINITON:**

- Object which I am passing to BroadcastBlock is disposable and I do not want to let GC to take care of it, because frame's size is huge and

[2018-07-25 16:05] Clockwork-Muse commented on #31348
nit:  `Select` is the equivalent to `map` in a number of other languages/libraries, where each transformation is supposed to be independent of each other.  Perhaps a better name would be `RunningAggregate`

Note that, at least in database land, running aggregates are normally part of [windowing functions](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-over-clause-transact-sql?view=sql-s

[2018-07-25 16:30] JarLob commented on #31340
So there are two possibilities:
1. Developer didn't think ToUpper may fail and didn't add the code to verify return value. Result - bug went unnoticed.
2. Developer thought it may fail. And added the code to check. But if the return value can be predicted from the `destination.Length` of
[code]
why then return value is needed at all? In your example
[code]
can be rewritten as:
[code]
Maybe having

[2018-07-25 16:34] McShauno commented on #24843
The port I am currently working on attempts to move totally away from dependencies on LDAP OS libraries and uses the OpenLDAP protocol specifications (https://tools.ietf.org/html/rfc4511).  To me, this is the purest way to get to a true x-plat library.

Any guidance from @karelz or @danmosemsft is appreciated.

[2018-07-25 16:45] bartonjs commented on #24843
@McShauno Our normal approach is that if we already have an implementation on Windows that calls into Win32 API, we leave that alone.  Then on non-Windows systems something else can be used.

If the non-Windows implementation is purely managed code then after a release or two we might delete the Windows-specific version, if there's no loss of functionality, and use the AnyOS binary everywhere.

[2018-07-25 16:51] pjanotti commented on #26401
Considering that `\r` and `\n` should be treated as whitespace by any proper decoder I don't think we should do anything in this regard. Futhermore per [wikipedia](https://en.wikipedia.org/wiki/Base64) all related RFCs that have line separators use CR+LF.

[2018-07-25 16:51] #26401 closed

[2018-07-25 16:58] danmosemsft commented on #31088
This broke consistently starting in the first build to contain this change:
[code]

@stephentoub

[2018-07-25 16:59] paul1956 commented on #31181
@danmosemsft I guess starting with FileiO was overly ambitious. It depends on many lower level (security) functions some of which have to be written in C# due to unsafe or volatile code. Once I figure out which functions I need I will claim them but I have some questions.

1. Where should I put them?
2. If I only need a few functions in the module do I need to part the whole thing?
3. Some are wri

[2018-07-25 17:01] danmosemsft commented on #31349
@pakrym could you please take a look? and either fix, raise timeout, or disable this test. This was introduced in 3cf0de3.

Generally the timeout for CI machines should be 5-10 times what it takes on a dev machine to get a good reliability. Although if it's 30 sec already maybe there is a bug.

[2018-07-25 17:18] mikedn commented on #31191
How's that different from a normal dictionary using an appropriate key comparer? (apart from the cost of interface calls that the normal dictionary incurs).

[2018-07-25 17:40] stephentoub commented on #31088
The test is validating side-effect behavior that resulted from an optimization made in .NET Core which was then undone, so the test is wrong now on uap.  The line:
https://github.com/dotnet/corefx/blob/9b889979fdef831c77280d2b2fd506a76ddc01c2/src/System.Linq/tests/ConcatTests.cs#L259
should be changed from:
[code]
to
[code]
or something like that.

[2018-07-25 17:43] danmosemsft commented on #31181
@paul1956 those relate to Code Access Security, which .NET Core will not support. You can remove everything relating to System.Security.Permissions.* . Essentially, all permissions of this kind are always granted in .NET Core.

The only wrinkle is when those permission demands were indirectly handling some parameter validation. For exmaple, `New FileIOPermission(FileIOPermissionAccess.Write, desti

[2018-07-25 17:46] danmosemsft commented on #31181
On Project Properties, go to Compile > Advanced Compile Options > Custom Constants. However I don't think you need to define any constants in the project. I see `LATEBINDING=True` is already set there. That is wrong, and per my list ablve, at some point we should remove that define and fix the code as if it was not defined (eg remove `If Not LATEBINDING` and retain code within that)

[2018-07-25 17:50] weshaggard commented on #30720
@smitpatel that is correct. I would expect that after @AfsanehR fix https://github.com/dotnet/corefx/pull/31063 the nestandard implementation that should be used on netcoreapp2.0 should be fixed. Please update to a preview packages from the last week or so and it should work. If not please file a separate issue.

[2018-07-25 17:56] weshaggard commented on #31002
I think it might make some since to have a type for RuntimeIdentifier if we plan to support other scenarios like checking compatibility with other RIDs, if we only care about getting the current RID then I'd stick with a static class.

I do think we need to be a little careful about making assumptions about the structure of a RID. While it is true it generally contains an OS and version it isn't a

[2018-07-25 18:02] JeremyKuhne commented on #30504
I'm not sure what we can do here without breaking compatibility. Do you have a suggestion?

[2018-07-25 18:32] pjanotti commented on #9416
This doesn't seem an issue anymore.

[2018-07-25 18:32] #9416 closed

[2018-07-25 18:41] JeremyKuhne commented on #31354
#22101discusses this in detail. The recommendation is [here](https://github.com/dotnet/corefx/issues/22101#issuecomment-374415132).

[2018-07-25 18:41] #31354 closed

[2018-07-25 19:19] glenn-slayden commented on #15957
@benaadams Did you mean to say **_Widen_** (which I showed above) is less problematic than Narrow (#17474)?

[2018-07-25 19:22] ahsonkhan commented on #31340
The API initially returned void [but was changed]( https://github.com/dotnet/corefx/issues/21395#issuecomment-365806634), the reasoning for which can be seen in [this GitHub thread](https://github.com/dotnet/coreclr/pull/16379#discussion_r168325118).

Essentially, if the presupposition that the ToUpper/ToLower APIs do not change the length of the data was removed, we would have to change the publi

[2018-07-25 19:35] benaadams commented on #15957
Widen is exciting for performance; and is [used in Kestrel](https://github.com/aspnet/KestrelHttpServer/blob/1f58092b1bfd292eae0dfcd323d30da006f4b944/src/Kestrel.Core/Internal/Infrastructure/StringUtilities.cs#L96-L99); Narrow isn't so great and isn't currently used in Kestrel (though it has benchmarks for it)

[2018-07-25 19:37] JarLob commented on #31340
Fair enough, then please fix the documentation.

[2018-07-25 19:38] paul1956 commented on #31181
I need to claim VBResourceID.vb, it is just a list of constant strings, it belongs to Compiler Services . I don't know how to add one file in a PR so that this can be part of Compiler Services. There is no code in this file except 2 empty Sub New() that the comment says is to make compiler happy.

[2018-07-25 19:39] drieseng opened #31368 "Disposing socket on Linux does not interrupt poll/select"
On Linux, disposing a socket on a given thread does not interrupt poll/select on another thread.

To reproduce, compile & run the following code and press enter when prompted:

[code]

### Expected result:
The following output is written to stdout:

This is the result you get on the desktop CLR, and .NET Core on Windows.

### Actual result:

(hang)

### Info

.NET Core version: _2.1.302_
OS: _Ubun

[2018-07-25 19:44] ahsonkhan commented on #31340
We are starting to get API docs now and this issue is tracking that effort: https://github.com/dotnet/corefx/issues/29694

We don't yet publish documentation for the MemoryExtension APIs.
https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-2.1

cc @mairaw

I will keep this issue open to add the documentation for the return type within the source code.

[2018-07-25 19:47] danmosemsft commented on #31181
@paul1956 I think we don't need VbResourceID because resources are loaded differently in .NET Core.
1) Resources that were in `Microsoft.VisualBasic.restext` should go in https://github.com/dotnet/corefx/blob/master/src/Microsoft.VisualBasic/src/Resources/Strings.resx instead
2) SR.vb and VbResourceID.vb should not be needed. They are generated in the build.
3) Resources are loaded like `SR.Invali

[2018-07-25 19:50] JarLob commented on #31340
Well, what I meant it is not documented in the source in the first place: https://github.com/dotnet/corefx/blob/5f3d22a7f335ae4c1dd57f9ac8b7460a13d57ee0/src/Common/src/CoreLib/System/MemoryExtensions.Fast.cs#L269-L280
Culture, destination, source parameters are documented. There are remarks, summary, possible exception types. But nothing about return value.

[2018-07-25 19:59] ahsonkhan commented on #31340
Yes, thanks for catching that gap in the documentation. We should fix this. PRs are always welcome :)

[2018-07-25 20:03] JarLob commented on #31340
Yeah, I know PR or GTFO but I'll let the architects to document their intentions :)

[2018-07-25 20:07] Cyberboss opened #31369 "[Question] Loading the correct runtime libraries with AssemblyLoadContext"
### Figured out it was the incorrect runtime library being loaded. Skip to third post

What it says on the tin basically. If you try to access Registry.LocalMachine from an assembly loaded from a custom AssemblyLoadContext it will be null.

Here's a quick demo repository: https://github.com/Cyberboss/RegistryAlcBugDemo2

Note in order to run the `AlcReference` project, which demonstrates the bug,

[2018-07-25 20:34] alaskanrogue opened #31370 "RegistryKey.GetValue for WinLogon Fails to Return All Values"
When using RegistryKey.GetValueNames to retrieve the values of "LOCALMACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon", not all values of the key are returned. It only returns 10 values, which matches the ValuesCount of the key. However, if I manually count the values of the key using "regedit", I have 33 values recorded. There is no way to update the values count of key, either in "r

[2018-07-25 20:40] paul1956 commented on #31181
[code]

FilePermissions does a lot of stuff, more than just validation. There are comments about needing to do things is special orders, and it seems to heavily depend on specific OS behaviors. Are you recommending not porting it and doing the functionality differently, porting it makes heavy use of conditional compilation and the rest of the security framework.

[2018-07-25 20:41] Cyberboss commented on #31369
Further tinkering: I updated the test project to dump assembly info and try to load the key manually. Here are the results:

DirectReference:
[code]
AlcReference:
[code]

[2018-07-25 20:45] pjanotti commented on #26671
Just listing a temporary workaround for WSL for anybody interested: `sudo dpkg-reconfigure tzdata` after that the symlink will be in place.

[2018-07-25 20:46] Cyberboss commented on #31369
More tinkering shows the correct results for `AlcReference` iff I copy the assembly at `AlcReference\bin\Debug\netcoreapp2.0\lib\runtimes\win\lib\netstandard2.0` and overwrite the one at `AlcReference\bin\Debug\netcoreapp2.0\lib`

Could I get some suggestions for how to do the equivalent of this inside my assembly load context?

[2018-07-25 20:52] Cyberboss commented on #31369
Closely related to https://github.com/dotnet/coreclr/issues/7812

[2018-07-25 20:52] #31369 closed

[2018-07-25 21:10] CumpsD commented on #13329
Another +1 to re-open and have as a feature.

[2018-07-25 21:14] danmosemsft commented on #31181
FileIOPermission has (had) only one responsibility which was to enforce "Code Access Security". For this reason it had to be very careful, which is why you see comments about ordering and OS behaviors. All of that is irrelevant now. Just delete all use of it. Any discrepancy that causes in behavior vs. .NET Framework will show up in your unit tests, and we can easily fix it if there is such a disc

[2018-07-25 21:19] danmosemsft commented on #31370
@alaskanrogue can you provide minimal code to repro this?
Also can you please try this on .NET Framework and see whether the behavior is the same.
Finally you might try procmon (sysinternals.com) to see what registry access is going on and what the OS is providing us.

[2018-07-25 21:24] pakrym opened #31371 "ExceptionDispatchInfo.Throw mutates stack trace every time it's called"
If `ExceptionDispatchInfo.Throw` is used instead of the usual pattern of `Capture-Throw` and it gets rethrown multiple times stack trace would get appended for every `Throw` call.

Repro:

[code]

cc @stephentoub

[2018-07-25 21:34] stephentoub commented on #31371
This is by design.

[2018-07-25 21:35] danmosemsft commented on #31358
@thesourcerer

[2018-07-25 21:36] danmosemsft commented on #31119
Fair enough. If someone wants to offer a PR, go ahead 😀

[2018-07-25 21:41] andrew-kuzovov commented on #30040
nothing actionable? I can't update to .NET Core 2.1 because of other issues and I got stuck with this problem

[2018-07-25 21:54] vancem commented on #31358
We actually have a first cut port of this code to .NET Core (it only took 2 hours to do),  @thesourcerer  is trying it out.   We have to figure out various details where exactly to put it and how to test it.   If you are interested in helping please let us know (Mostly it is about writing tests and validating it works for your scenarios)

[2018-07-25 21:58] #31203 closed

[2018-07-25 22:14] #31371 closed

[2018-07-25 22:20] #31213 closed

[2018-07-25 22:22] keeratsingh commented on #31082
Fixed by PR #31211, closing issue.

[2018-07-25 22:36] Tratcher commented on #31238
There are two possible paths forward here.
1) The [OData](https://github.com/OData/odata.net/blob/3d9811a453fe2d2aad3fa84e499a8c30e2c34c48/src/Microsoft.OData.Core/MultipartMixed/ODataMultipartMixedBatchReader.cs#L277-L280) server library can remove the check I linked, there's no reason for it to restrict the request protocol version.
2) The [WebApi](https://github.com/aspnet/aspnetwebstack) clien

[2018-07-25 22:37] keeratsingh commented on #30147
Thank you for confirmation. I will go ahead and close this issue. Feel free to reopen if the issue still exists.

[2018-07-25 22:37] #30147 closed

[2018-07-25 22:39] benaadams commented on #31371
The stack trace doesn't get duplicated, it only appends the `Throw` line to the exception; as that is a new location:

[code]
outputs
[code]

[2018-07-25 22:55] vancem commented on #31358
While did a quick port of the EventLog reader, which @thesourcerer is trying out, please notice above that seems to be a more complete port that powershell has done.   https://github.com/PowerShell/PowerShell/tree/master/src/Microsoft.PowerShell.CoreCLR.Eventing.

Thus we may wish to use that (and add the EventLogWatcher as requested).   Mostly the value over and above the Powershell version is si

[2018-07-25 22:57] paul1956 commented on #31181
@danmosemsft  Thanks the permission stuff plus SR was a huge help. All the resources were already ported. New question is around Windows Forms specific stuff. The 2 functions below are needed for VB but I assume the location will be different on different platforms. How is this handled?

[code]

[2018-07-25 23:04] keeratsingh commented on #30518
@hounddog22030

I am not sure I completely understand that, could you please elaborate it further in detail.
Also, could you kindly share the repro in a zipped file with updated csproj file and connection string being used.

[2018-07-25 23:10] bartonjs opened #31376 "ECDsaCng.HashAlgorithm defaults to SHA256 on netfx, null on corefx"
Looks like ECDiffieHellmanCng got it right.

Both classes could use a test for verifying the default (if ECDiffieHellmanCng doesn't already have one).

[2018-07-25 23:13] danmosemsft commented on #31181
@paul1956 in most cases we will have to skip code that depends on Winforms right now. In these cases though I suggest putting in something simple that's good enough for now.

I see the Winforms code is now public -- as you see the real code is trying to append company and product:

https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Application.cs,1448e9986

[2018-07-25 23:15] joshfree opened #31377 "Any plan to add Microsoft.SqlServer.Replication?"
_From @andrewb273 on July 23, 2018 5:30_

# Issue Title

Add `Microsoft.SqlServer.Replication` (Microsoft.SqlServer.Rmo.dll)

# General

We host SQL server in an enterprise environment where database servers are taking offline randomly. Currently we have a master DB server which is replicated to a number of slave servers. If the master DB server goes down, then we manually promote one of the slave

[2018-07-25 23:39] paul1956 commented on #31181
@danmosemsft my question was more around Linux and portable. I have the same issue with some directory manipulation where the code will be different per platform (ever forward vs backward slashes). I have split FileSystem into multiple files one OS independent and one for Windows and Linux but I don't see any #IF per platform in the code so there must be a standard way you are handling platform sp

[2018-07-25 23:53] Nukepayload2 commented on #31181
@paul1956
You can use `System.Runtime.InteropServices.RuntimeInformation` to check which operating system is currently running.

[2018-07-25 23:56] alaskanrogue commented on #31370
This is on the .NET Framework in the Microsoft.Win32 namespace using the RegistryKey class in the "mscorlib.dll". As I discovered the problem debugging. what do I want to filter on because just the time span to engage the capture, perform a single debugging step and end the capture recorded 1800+ events.

[2018-07-26 00:11] paul1956 commented on #31181
@Nukepayload2 the nonportable code now goes directly to Win 31 API's and error codes. I think I can get most of what I need with coreFX/IO but there might me something missing and that is mostly where my questions come from. Somewhere down in the bowels of coreFX there must be some OS specific code and I was wondering the proper way to handle it. I will use RuntimeInformation with the code can.

[2018-07-26 00:30] wli3 opened #31379 "File.SetLastAccessTimeUtc on Ubuntu is only up to seconds"
Similar to https://github.com/dotnet/corefx/issues/26024 but for write

This blocks using msbuild incremental build. Especially when using MemoryMappedFile, LastWriteTime will not be set automatically

[code]

on Ubuntu
[code]

file_change_lastaccess has SetLastAccessTimeUtc after file_reference is created. But end up easier than file_reference. And clearly, the ticks are rounded.

on Windows it i

[2018-07-26 00:30] danmosemsft commented on #31181
@paul1956 our usual approach for platform specific code is to make partial classes that are conditionalized in the project file. For example see Process.cs, Process.Windows.cs, Process.Linux.cs etc in https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System.Diagnostics.Process.csproj. Process.cs contains the common part.

Of course, the ideal is to call some other API

[2018-07-26 00:36] ahsonkhan opened #31380 "[feature/utf8string] Several tests failing with InvalidProgramException related to System.Uri.PrivateParseMinimal"
From https://github.com/dotnet/corefx/pull/31372

This issue is specific to the [utf8string branch](https://github.com/dotnet/corefx/tree/feature/utf8string).

https://mc.dot.net/#/user/ahsonkhan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Ffeature~2Futf8string~2F/test~2Ffunctional~2Fcli~2F/2e0fd3918e8f373ca7e16da0e3b8d49bd25a135e

These may be due to recent runtime changes: https://github.com/dotnet/coreclr/

[2018-07-26 01:03] bloritsch opened #31381 "HttpResponseMessage.Headers does not contain all headers"
Can I have a simplified API where I can get or set headers in one single lookup?  I.e. only one requestMessage.Headers and one responseMessage.Headers I have to worry about.  It should also be much better documented which headers have to be retrieved from the message.Content.Headers vs. message.Headers.

I've worked with several languages and their APIs, and System.Net.Http and the way request and

[2018-07-26 05:13] xin9le commented on #31082
@keeratsingh
Thanks you very very much for your quick fix!! 👍
I'm looking forward to use fixed version 😄

[2018-07-26 06:07] iGad commented on #30147
@keeratsingh the issue still exists.
dotnet --info
`.NET Core SDK (reflecting any global.json):
 Version:   2.1.302
 Commit:    9048955601

Runtime Environment:
 OS Name:     centos
 OS Version:  7
 OS Platform: Linux
 RID:         centos.7-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.302/

Host (useful for support):
  Version: 2.1.2
  Commit:  811c3ce6c0

.NET Core SDKs installed:
  2.1.302 [/usr/

[2018-07-26 06:21] theimowski commented on #31358
I am happy to help with testing the implementation - please let me know as soon as you have the code in public.

That's right - the PowerShell team does even release a [NuGet package on PS feed](https://powershell.myget.org/feed/powershell-core/package/nuget/Microsoft.PowerShell.CoreCLR.Eventing), but it seems it's a *meta* package not targeting NETSTANDARD

[2018-07-26 08:29] zlzforever opened #31383 "HttpWebRequest use HttpClient(not Singleton) to send message"
Hi,
the method GetResponse in HttpWebRequest

        private async Task<WebResponse> SendRequest()
        {
            if (RequestSubmitted)
            {
                throw new InvalidOperationException(SR.net_reqsubmitted);
            }

            var handler = new HttpClientHandler();
            var request = new HttpRequestMessage(new HttpMethod(_originVerb), _requestUri);

[2018-07-26 08:31] theimowski commented on #31358
FWIW I started work on adding `EventLogWatcher` in a [fork of PowerShell repo](https://github.com/theimowski/PowerShell/tree/event-log-watcher)

[2018-07-26 08:48] jkotas commented on #30188
These attributes are dead code in .NET Core. We have been removing them like all other kinds of dead code. Things are still going to work with these attributes, except that the binaries will be bigger necessary.

This is recently ported assembly where the dead attribute cleanup was missed. Feel free to remove the attributes in this assembly while you are on it.

[2018-07-26 09:05] zlzforever commented on #31383
Let's have a test:

        static void Main(string[] args)
        {
            Parallel.For(0, 10, (i) =>
            {
                while (true)
                {
                    var webRequest = (HttpWebRequest)WebRequest.CreateHttp("http://");
                    var response = webRequest.GetResponse();
                    response.Dispose();
                    Console.WriteLine($"Pr

[2018-07-26 09:20] paul1956 commented on #31181
Visual Studio behavior is very odd, when I build from VS or command line I see all the expected errors in build window.
![image](https://user-images.githubusercontent.com/12789369/43253484-eff060ca-9079-11e8-9ee7-274173024562.png)
But most disappear when the build + intellisense window pops up.
![image](https://user-images.githubusercontent.com/12789369/43253566-2060397e-907a-11e8-895b-d573776ace0

[2018-07-26 09:37] filipnavara commented on #21833
I went through the API and tried to switch `AsnReader` for `DerSequenceReader` in some places. I propose the following API additions as a result of that experiment:

[code]
They would act exactly as their `Try<name>` counterparts except that instead of returning `false` they would `throw new CryptographicException(SR.Cryptography_Der_Invalid_Encoding);`.

Rationale is that all the current usages o

[2018-07-26 09:37] ezverev commented on #30504
I see the following variants viable:

1. Change the mentioned line into self-reference:
`
ConfigurationException[] a = { this };
return a;
`
which would be a recursion as well but a reference-check protection could detect it which would be better than the `if (errors.Count > 1) { ... }` checks but the old ones would still work.

2. Change the mentioned line into different exception type:
`
Excepti

[2018-07-26 09:49] markusschaber commented on #21833
Hmm - those could be implemented as Extension Methods, right?

[2018-07-26 09:55] filipnavara commented on #21833
Yes, they could be implemented as extension methods, but the API is not public yet and there's basically no reason not to add them as first class methods. You could argue that the parameter-less `TryRead` methods could be extension methods too. One part of the rationale is that you don't have to copy the `Cryptography_Der_Invalid_Encoding` resource string once the API goes public (as part of `Syst

[2018-07-26 10:20] markusschaber commented on #21833
Even as extension methods, they can still be defined within the same assembly, in the same namespace, with the same visibility level. :-)

This way, when the original class is published, the extension methods can be published at the same time.

The main advantage of extension methods is that they don't bloat the original class, helping to keep components small, self-contained and maintainable.

Cl

[2018-07-26 10:40] YARG commented on #27000
Yep worked for me, I just closed VS2017 on the Mac, downloaded dotnet core 2.1:

https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.302-macos-x64-installer

Open up the project and repointed to 2.1 (project options -> general) and it worked as expected.
Thanks guys.

[2018-07-26 12:36] jsgbrl commented on #30147
Hello, I am still having this issue on centos 7 with net core sdk 2.1.302:

### os version
**`cat /etc/*-release`**
[code]

### net core version
 **`dotnet --info`**
[code]

### systemd service definition
**`cat /etc/systemd/system/myservice-dev.service`**
[code]
if the user running the service is set to root then there is no exception thrown, with any other user this exception is thrown:

[2018-07-26 12:41] markusschaber commented on #21833
I'm more concerned about class size, than file size... A huge file can always be split into a set of smaller files, but a class by itself cannot be split (although the source of the class can be split using partial...).

[2018-07-26 13:02] paulirwin commented on #13660
+1 for getting this into .NET Core 2.2. By the time 2.2 comes out this issue will be 2 years old.

[2018-07-26 13:30] alaskanrogue commented on #31370
`using Microsoft.Win32;

using System;
using System.ComponentModel;
using System.Configuration.Install;

namespace ChangeRegistry
{
    public class RegistryChanges : Installer
    {
        private string registryValue;
        private readonly string keyPath = "SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Winlogon";
        private readonly string keyValue = "Userinit";

        private read