[2019-11-13 16:51] joalcava commented on #25102
@savanbthakkar I've migrated my application to .Net Core 3.0 and the problem is solved, but you have to have installed libgdiplus and libc6-dev anyway.

[2019-11-13 16:53] tannergooding commented on #42576
It is worth noting that in this particular case, we aren't returning the "shortest roundtrippable string", which would be `1.23E+22`. There were some bugs in the `BigInteger` implementation that would cause us to sometimes return too many digits. These were addressed two days ago in https://github.com/dotnet/coreclr/pull/27280.

I'll add a regression test for this particular value before closing t

[2019-11-13 16:55] savanbthakkar commented on #25102
@joalcava  Have you used System.Drawing in a Lambda function?

[2019-11-13 17:20] ericstj commented on #42438
I'm still going to clean up the scenario I pointed out since it was different for core vs desktop and looks unintentional.  If you can point out another difference we can consider it.

Thanks

[2019-11-13 17:38] kamaruddin-desai commented on #40925
@Anipik Do you have any update?

[2019-11-13 17:41] Anipik commented on #40925
Sry i missed the message

Currently there is no plan to do that. You can create an issue for that to get the discussion going.

[2019-11-13 17:44] tarekgh commented on #42437
@maryamariyan I changed the area as this is not System.Text.Encoding issue.

[2019-11-13 17:47] maryamariyan commented on #42087
cc: @jeffschwMSFT

[2019-11-13 17:50] SamuelEnglard commented on #38555
@andidavies92 as a quick update: end of the debate is we're using Newtonsoft.Json for creating the JSON and Manatee.Json for validation (not the best time isn't with me)

[2019-11-13 17:52] ericstj opened #42578 "System.Reflection.Metadata throws BadImageFormatException on bad input"
If a user passes in a bad handle, for instance they get an `ExportedTypeHandle` from one MetadataReader instance's `MetadataReader.ExportedTypes`, and pass it to a different MetadataReader instance via `MetadataReader.GetExportedType` we will throw `BadImageFormatException`.  This is unintuitive since both images are fine and the problem was with the *argument* passed to `GetExportedType`.  We sho

[2019-11-13 17:55] tmat commented on #42578
This is by design for performance reasons. Handles do not know their owning reader. We also don't want to add extra checks.

[2019-11-13 18:10] tannergooding commented on #42437
Changed to `area-System.Runtime.Intrinsics`, as that is probably the most appropriate.

[2019-11-13 18:13] jeffschwMSFT commented on #42087
@swaroop-sridhar

[2019-11-13 18:14] jackstrapp opened #42579 "DispatchProxy invoke method returning GenericType with constraint TypeLoadException"
DispatchProxy seems to have a bug (from my point of view at least).

Here's a dotnetfiddle to illustrate my point:
https://dotnetfiddle.net/Lu1iSN

The method with this signature cannot be proxied and throws an exception:
IGenericHandler<T> GetHandler<T>(T input) where T : GenericBase
Unhandled exception. System.TypeLoadException: GenericArguments[0], 'T', on 'IGenericHandler`1[T]' violates the co

[2019-11-13 18:18] nguerrera commented on #42578
I agree here. IMHO, it is an example of why this low-level API can be harder to use and may not be best suited to scenarios where you can afford significant slowdown in exchange for better usability and diagnostics.

Note that you won't necessarily get a BadImageFormatException, you might also get something from the same cell in the other reader's metadata.

There are also API to produce a handle

[2019-11-13 18:28] nguerrera commented on #42578
Another thing is if we ignore the reader affinity check, it could still be considered reasonable to complain about the handle when it is out of range (ArgumentException) of the reader's metadata in Xxx instead of complaining about the metadata being invalid (BadImageFormatException). The problem with that, however, is that we cannot really distinguish between the common case of a bad token in the

[2019-11-13 18:30] ericstj commented on #42578
I wasn't thinking to add reader affinity.  I was thinking that when accessing a row ID into a table we could examine for bounds and throw, rather than letting the MemoryBlock fail when trying to read the table.

For example, in the constructor:
https://github.com/dotnet/corefx/blob/21278249c6b417469737b20445a0dd045cd1b16e/src/System.Reflection.Metadata/src/System/Reflection/Metadata/TypeSystem/Exp

[2019-11-13 18:31] nguerrera commented on #42578
Yes, this is my concern in my second comment. It is very common for the bad handle to come from a bad image.

[2019-11-13 18:33] nguerrera commented on #42578
[code]

I think this will impact perf as well. The fetch from a handle to data was extremely optimized to the point of spending many iterations on getting the native code gen just right. Adding another bounds check will definitely show up in scenarios fetching from handles in a tight loop, which are real scenarios in the compiler.

[2019-11-13 18:34] ericstj commented on #42578
That's fair, I guess we just need to better document the S.R.M APIs that they can throw BIFE when given bad data.  I'll repurpose this as a doc bug.
https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadata.metadatareader.getexportedtype?view=netcore-3.0

For that matter we need to better document all these APIs.

[2019-11-13 18:48] danmosemsft commented on #42487
I'm missing something 😃 this prints 'true' on latest bits from master, and on 2.1 for me:
[code]

[2019-11-13 18:50] davidsh commented on #39657
@Kool-Koder What kind of "project" is this? What .NET Core APIs are you using?  HttpClient, WCF?  SqlClient?

The exception message you see looks like it might be related to SqlClient.  Can you show some of the source code to the project? Otherwise, we can't diagnose this error further.  Thanks.

[2019-11-13 19:20] safern commented on #42552
Seems like a mcr service issue which seemed to be down at that moment. I don't see it happening anymore.

[2019-11-13 19:20] #42552 closed

[2019-11-13 19:20] rubenmch commented on #38007
Isn't this fixed by https://github.com/dotnet/corefx/issues/41329 in 3.1 ?

[2019-11-13 19:23] safern commented on #42573
cc: @ericstj I wonder why the "runtime agnostic" is not finding the file in the package, but the -rid specific is working just fine. Do you have any ideas?

[2019-11-13 19:26] safern commented on #42294
Seems reasonable to me as well.

[2019-11-13 19:47] ericstj commented on #42573
When specifying runtime the SDK doesn't write things to RID-specific folders, it flattens everything to a single directory.  This sounds like an SDK issue with deps file or publish.  Transferring.

I tried your repro by copy/pasting the files in stack overflow to the directory structure you mentioned and couldn't get it to reproduce.  Would you be able to provide an isolated repro of this?

[2019-11-13 20:26] #42483 closed

[2019-11-13 20:29] ahsonkhan opened #42581 "Investigate perf improvements for the built-in JsonNamingPolicy (SnakeCase) for DictionaryKeyPolicy"
One option to reduce the allocations could be to use `ValueStringBuilder` (see https://github.com/dotnet/corefx/pull/41354#discussion_r339179870). It might be possible to re-implement the algorithm in `ConvertName` to be faster.

[code]
|  Method |     Mean |     Error |    StdDev |   Median |      Min |      Max | Ratio | RatioSD |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|-------- |---------:|------

[2019-11-13 20:36] YohDeadfall commented on #42581
Out of curiosity, could you run benchmarks only for `ConvertName` methods?

[2019-11-13 20:44] ahsonkhan commented on #42581
I did, previously :)

[code]

[code]
| Method |          InputString |       Mean |      Error |     StdDev |     Median |        Min |        Max | Ratio | RatioSD |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|------- |--------------------- |-----------:|-----------:|-----------:|-----------:|-----------:|-----------:|------:|--------:|-------:|------:|------:|----------:|
|  **Camel** |     **ABCDEFGH

[2019-11-13 20:49] YohDeadfall commented on #42581
Thanks, will take a look at it, but only starting next week.

[2019-11-13 20:55] YohDeadfall commented on #42581
@ahsonkhan Probably it could be made faster by eliminating nullable types which I introduced to clarify the logic.

[2019-11-13 21:22] pgovind commented on #26845
Here's a quick example of DataFrame in action:

[code]

Many of the APIs expose a "inPlace" parameter. The aim here is ease of use to inspect values in a notebook.

@MgSam :
Your example threw when you tried to add the "Age" column because it's length(0) did not match the "Name" column's length(100). The DataFrame's `RowCount` is updated the first time a column is added to it. We then expect every

[2019-11-13 21:27] ahsonkhan opened #42582 "Add support for escaped characters in JsonString (for {Try}GetDateTime{Offset})."
See https://github.com/dotnet/corefx/pull/42574#discussion_r345968116

Escaped characters don't work in the current implementation of `JsonString` (and they should, similar to `JsonElement.GetDateTime` and `Utf8JsonReader.GetDateTime`).

[code]

See https://github.com/dotnet/corefx/blob/dc6136f34c7d4ebbc493a7bb6cf1d15bc82250e6/src/System.Text.Json/src/System/Text/Json/Reader/Utf8JsonReader.TryGet.

[2019-11-13 21:31] ahsonkhan opened #42583 "SslStream_SendReceiveOverNetworkStream_AuthenticationException test fails with NullReferenceException"
From https://github.com/dotnet/corefx/pull/42574

System.Net.Security.Tests.SslStreamNetworkStreamTest.SslStream_SendReceiveOverNetworkStream_AuthenticationException
On netcoreapp-Linux-Debug-x64-Ubuntu.1804.Amd64.Open

https://dev.azure.com/dnceng/public/_build/results?buildId=425948&view=ms.vss-test-web.build-test-results-tab&runId=13458868&resultId=162668&paneView=debug

https://helix.dot.net/a

[2019-11-13 21:36] ahsonkhan commented on #41598
Fixed in https://github.com/dotnet/corefx/pull/42420. @WayneHiller, can you please verify that the issue you reported has been fixed by using the latest nightly build of .NET Core 5.0 (or by adding a PackageReference to the latest S.T.Json NuGet package, from this feed: https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json).

[2019-11-13 21:49] ericstj opened #42584 "Test for derived types across type converters"
Most of our typeconverter tests cover the expected inputs, but we don't always cover user-derived types of those expected inputs.  See https://github.com/dotnet/corefx/pull/42580#discussion_r346017984.

We should add tests so that we flesh out this behavior and ensure we maintain consistent with what we support.

[2019-11-13 21:50] #41884 closed

[2019-11-13 21:53] WayneHiller commented on #41598
I guess I need to wait until tomorrow to get version 5.0.0-alpha.1.19563.1, it is not avail yet

[2019-11-13 22:00] zyzhu commented on #26845
Suggestion. How about adding a tutorial notebook on dotnet/try with some dummy data so that we can start to explore the library on binder directly. It will provide testers a taste of all functionalities before documentations are out.

[2019-11-13 22:05] pgovind commented on #26845
That's the plan. I'll add a sample notebook and an accompanying blogpost going over the major features in the preview

[2019-11-13 22:10] ahsonkhan opened #42585 "Add tests for invalid `DuplicatePropertyNameHandling` enum values within JsonNodeOptions"
See https://github.com/dotnet/corefx/pull/41030#discussion_r326435731

[2019-11-13 22:11] tarekgh commented on #42055
@adamsitnik does the results change if we change the initialization

[code]

to

[code]

Sorry I didn't try it myself yet. I am asking because the parsing code should be exact the same between Windows and Linux, the only difference is the calendar data we pick from the OS which should be cached if you are not recreating the culture.

[2019-11-13 22:13] ericstj commented on #41598
@WayneHiller it should be available.  This worked for me:
[code]

Note, as @ahsonkhan mentioned, you'll need to pick it up from our nightly feed.  Make sure you have a nuget.config with something like
https://github.com/dotnet/corefx/blob/1518fdc5cc94571bf3ce1bb95e1a60f789a67f18/NuGet.config#L9

[2019-11-13 22:18] ahsonkhan commented on #26539
Failed again in https://github.com/dotnet/corefx/pull/39668 on netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64.Open
https://helix.dot.net/api/2019-06-17/jobs/a010b131-cd81-4199-95e5-467864b427aa/workitems/System.Net.Http.Functional.Tests/console

[code]

[2019-11-13 22:20] pgovind commented on #26845
@veikkoeeva : We only support reading csv files in a DataFrame at the moment. Or, you can make a dataframe from an Arrow RecordBatch. I opened https://github.com/dotnet/corefxlab/issues/2785

[2019-11-13 22:33] WayneHiller commented on #41598
@ericstj  Thanks adding it directly to the csproj file worked. However I am still getting the error. Will aspnet core use the new System.Text.Json assembly by just adding it to the project?

[2019-11-13 22:46] #42438 closed

[2019-11-13 23:16] oldzhu opened #42586 "crash caused by an exception throw in SNIMarsHandle::Dispose()"
we saw several crash caused by an exception throw in SNIMarsHandle::Dispose() in .net core 2.2 release as the below:

(lldb) pe  00007F27B92B7920
Exception object: 00007f27b92b7920
Exception type:   System.Net.Sockets.SocketException
Message:          Broken pipe
InnerException:   <none>
StackTrace (generated):
    SP               IP               Function
    00007F2786FFC190 00007F27DFF30C7B Sy

[2019-11-13 23:27] oldzhu commented on #42586
Actually the issue exists in all .NET core release (including 3.0/3.1/2.2), it would be better to port the change to all releases...

[2019-11-13 23:35] NickRedwood commented on #1973
It seems like out best bet may be to wait a while longer for the Shapes proposal to be (hopefully) implemented. Then you'd be able to build whatever group of shapes represent Set types that you wanted, and provide implementations so that existing sets like `HashSet<T>` conform to them.

A community library to do exactly this, covering all the various types of sets (intensional (predicates) and ext

[2019-11-14 00:23] #29660 closed

[2019-11-14 00:44] wfurt commented on #37899
I saw failure again on Linux. I'll reopen this, disable test and I'll investigate.

[2019-11-14 00:45] cheenamalhotra commented on #42586
PRs waiting to be merged:
* https://github.com/dotnet/corefx/pull/42489 [.NET Core 2.1]
* https://github.com/dotnet/corefx/pull/42486 [.NET Core 3.0]

Since .NET Core 2.2 will be out of support in a month, we're only proposing fix in 3.0 and 2.1

[2019-11-14 01:08] dustensalinas commented on #33620
This needs to be reopened, nothing is in preview anymore outside of core 3 functions support and this is occurring across the board for anything about 4.6.1.

[2019-11-14 02:15] davidfowl commented on #33620
It should be moved to https://github.com/Azure/azure-functions-host/

[2019-11-14 02:28] johnsimons commented on #42586
Hi @cheenamalhotra,
I just want to confirm that even though you are not planning to patch NET Core 2.2, we will be able to get this fix if our software is running under .NET Core 2.2?
We are referencing https://www.nuget.org/packages/System.Data.SqlClient/4.7.0, am I right in assuming a new version of this package will come out soon and we can update our reference to this new version and run it un

[2019-11-14 03:41] danmosemsft commented on #42586
@johnsimons if it is approved for 2.1 it will automatically flow to 2.2. Same for 3.0 and 3.1.

[2019-11-14 04:21] wizofaus commented on #24253
It's definitely better than the current version - there are a number of web service type calls out there where the only important thing is the status code, with no need to pull any extended error information from the response body.

[2019-11-14 04:53] ahsonkhan commented on #39564
@sveinfid - There was precedence for snake casing (e.g. in newtonsoft json) and enough user need to provide built-in support for it. I am not sure that's the case for KebabCase. P**lease file a separate issue (with the API proposal) and we can consider it**, but my hunch is, this is something that the caller would have to implement (like any other custom casing/naming strategy) and doesn't seem co

[2019-11-14 05:03] ahsonkhan commented on #41748
Regarding S.T.Json, non default, parameterless ctors are not supported yet for 3.1. That's planned for 5.0 (e.g. see https://github.com/dotnet/corefx/issues/41102).

[2019-11-14 05:13] brent-williams commented on #17147
@jkotas > Could you please give us a concrete example what would you use Int128/UInt128 for?
A concrete example, I work on very large storage systems.  It's already uncomfortably tight, an aggregate view of a less than two dozen will overflow UInt64 (yes, they really are that big).  Support for 128 will take a year or two to work through the stack anyway, so the sooner the corefx work is started t

[2019-11-14 07:20] assafsl commented on #31749
Thank you for very much your answer @wfurt .

1. I could not find any "Imported Private Key" in the keychain dump
2. `codesign -d -v dotnet` returned the following (which does not tell me much):
[code]
Running codesign on the app (named "Shield"):
[code]

`log stream...` returned the following:

![image](https://user-images.githubusercontent.com/17673532/68834968-b09fbc00-06bf-11ea-95eb-1dd6308c34

[2019-11-14 07:23] johnsimons commented on #42586
Is there any nuget feed I can get an alpha version of `System.Data.SqlClient` with this patch, I have tried https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json, but not sure what version to try?

[2019-11-14 08:26] shvez commented on #42576
@tannergooding BinInteger? Initially, the report was about double

[2019-11-14 09:32] karataliu commented on #42528
It's interesting that it following error will be reported in Release build, but not in Debug build. When a .netstandard2.1 project doesn't include the System.Text.Json nuget package
`
The type or namespace name 'Json' does not exist in the namespace 'System.Text'
`

[2019-11-14 09:52] crozone commented on #24253
You _could_ optionally read the string result out of the response and into another key on the exception `Data` dictionary. However, it gets a little messy. For example, what happens if an error occurs during the read? Or what about if you want to want to use async? It's probably best to just create your own extension method or do the data handling manually if this is the use case. The status code

[2019-11-14 11:25] cincuranet opened #42589 "Unrecognized configuration section system.data"
When the app.config file contains `<system.data>` section, processing that file fails, because there's no handler for it.

I.e. this is what happens when EF6 (on netcoreapp3.0) tries to open it.

[code]

I understand the app.config is in general not used in .NET Core and the options there might not have an effect, but my expectation is, that it could be loaded at least.

[2019-11-14 11:40] zachsaw opened #42590 "System.Text.Json is excruciatingly slow"
Tested it on macOS High Sierra with .net core 3.0.100.

Even running it with dotnet run -c Release (or without for Debug mode) with terminal shows that it runs **6x slower than Newtonsoft.Json**!

I've created a repo to demonstrate the problem here - https://github.com/zachsawcs/SerializerBattle

[2019-11-14 11:48] khellang commented on #42590
Uuuh, in the other benchmarks, you're using a pre-allocated `MemoryStream`, while in the System.Text.Json case, you're always allocating a new buffer. Of course it's going to be slow 🤦‍♂

[2019-11-14 11:52] zachsaw commented on #42590
How do you use a pre-allocated `MemoryStream` for `System.Text.Json`?

[2019-11-14 11:58] khellang commented on #42590
Something like this?

[code]

I just tried running it quickly in `Debug` and got the following results:

[code]

[2019-11-14 11:58] zachsaw commented on #42590
Ok updated the code to use `MemoryStream` - no difference in performance

[2019-11-14 11:58] zachsaw commented on #42590
Did you run it on a macOS High Sierra?

[2019-11-14 12:02] khellang commented on #42590
Nope, Windows 10 1803. Do you think this is down to the OS?

[2019-11-14 12:03] zachsaw commented on #42590
Updated the codebase again in the repo with your changes.

Here's what I now get with `dotnet run -c Release`

It is indeed a bit faster:

[code]

[2019-11-14 12:04] zachsaw commented on #42590
Let me fire up a Windows VM to see if it's any faster.

[2019-11-14 12:04] khellang commented on #42590
Running it on my Windows machine with the old code gave the following results:

[code]

[2019-11-14 12:12] zachsaw commented on #42590
Turns out it is indeed due to the OS difference.

On a Windows VM, I get the following results:
[code]

[2019-11-14 12:15] gravity00 opened #42591 "Task.WhenAll - Inner exceptions are lost"
Hi,

**Summary:** when `await Task.WhenAll(tasks)` if more than one task fails, only one exception is thrown and I believe an `AggregateException` should be thrown instead.

**Explanation:**

I know that `await` only throws the first exception present in `task.Exception` and [found the racional behind it](https://social.msdn.microsoft.com/Forums/en-US/e439770e-6c27-40d9-91af-c15d26743a5f/whenall-a

[2019-11-14 12:17] dehghani-mehdi opened #42592 "Why `System.Runtime.Caching` has dependency to `System.Security.Principal.Windows`?"
I think this 2 are completely different things.
I like to know why and also what happens in other OS, e.g Linux? would you explain.

Thank you

[2019-11-14 12:21] zachsaw commented on #42590
On Ubuntu 64-bit 18.04.3, this is what I got:

[code]

Ubuntu is the slowest OS of all when it comes to the benchmark but `System.Text.Json` is also painfully slow there.

Looks like it's as fast as `Newtonsoft` on Windows only?

[2019-11-14 12:25] khellang commented on #42590
Hmm. I would've expected [the serializer benchmarks](https://github.com/dotnet/performance/tree/67fe5433fb2d2a7f20070becb4e6584f1637cfe2/src/benchmarks/micro/corefx/System.Text.Json/Serializer) to highlight this... @adamsitnik?

[2019-11-14 12:49] andidavies92 commented on #38555
Nice, I did the same, but mostly because .NET Core 3 wasn't in GA when I wanted to start work on it. Plan to migrate the Json.NET stuff to .NET Core when I get the chance, as I now have unit and integration tests to check for regressions and performance tests to see whether I actually get much boosted performance.

[2019-11-14 13:08] InCerryGit commented on #32305
if your linux kernel version below 4.14.36.
you can try update kernel version.

[2019-11-14 13:22] tannergooding commented on #42576
Yes, parsing and formatting IEEE 754 floating point values requires utilizing a BigInteger implementation. The one we use is here: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Number.BigInteger.cs

[2019-11-14 13:24] shvez commented on #42576
@tannergooding thank you

[2019-11-14 13:24] huoyaoyuan opened #42595 "Incosistency between doc and nullable annotation on ReflectionTypeLoadException.Types"
The document says that _This array can contain some null values_, but the public type is `Type[]?`. The consumer always provide a non-nullable value for it.

[2019-11-14 13:48] stephentoub commented on #42591
I understand the desire, but that's not the design (it actually was this way early on and we changed it based on explicit feedback), and it would be a big breaking change to change this.

You can create your own version that does this if you want, or just wrap it, e.g.
[code]

[2019-11-14 14:45] stephentoub commented on #42595
Thanks. The type in both the ctor and the property should be fixed to be `Type?[]` instead of `Type[]?`.

[2019-11-14 14:46] gravity00 commented on #42591
Thanks for the feedback @stephentoub

I understand the breaking change, it would certainly lead to some unexpected behavior for clients depending on it, but the thing is: considering how many people probably don't know about this behavior shouldn't this be discussed in dept at least?

I know I can create some helpers, but it is one of those things that should just work imo.

Discovering this after

[2019-11-14 15:34] stephentoub commented on #42591
The point I was trying to make is that it was discussed in depth, years ago, when these were originally added. We originally did what you're suggesting, with the Task returned from WhenAll containing a single AggregateException that contained all the exceptions, i.e. task.Exception would return an AggregateException wrapper which contained another AggregateException which then contained the actual

[2019-11-14 15:37] vcsjones commented on #42590
With Ubuntu 19.04 on an AMD CPU I get, in release builds:

<pre>
Running BinaronTest
BinaronTest 73 ms/op
Running NewtonsoftJsonTest
NewtonsoftJsonTest 255 ms/op
Running NetCore3JsonTest
NetCore3JsonTest 222 ms/op
</pre>

In general I'm somewhat skeptical of "roll your own" benchmarks, I would be interested to see this in terms of BenchmarkDotNet.

[2019-11-14 16:00] DevExpress-Visualization opened #42596 "An OleDbCommand.Prepare() method throws the System.Data.OleDb.OleDbException: 'The parameter is incorrect.' exception"
The following code under the .NET Core 3 causes the **System.Data.OleDb.OleDbException: 'The parameter is incorrect.'** exception, but under .NET Framework, it works fine:

**Code**

            using (OleDbCommand command = new OleDbCommand()) {
                command.Connection = connection;
                command.CommandText = "insert into sales (id, units, cost_per_unit, discount, total_cost

[2019-11-14 16:29] gravity00 commented on #42591
If I only get the first exception, how does this behavior solve that problem? As far as we know, the catch will get whichever exception is added first to the internal list. If I have the following code only the first catch will ever be executed, despite having two different exceptions, one will be just lost:

[code]

I'm still trying to understand how the initial design was changed to a behavior t

[2019-11-14 17:19] vcsjones commented on #42592
It's part of the dependency graph.

<pre>
System.Runtime.Caching
↳ System.Configuration.ConfigurationManager
  ↳ System.Security.Permissions
    ↳ System.Security.AccessControl
      ↳ System.Security.Principal.Windows
</pre>

System.Runtime.Caching uses the `ConfigurationManager` to get configuration for the `system.runtime.caching/memoryCache` section.

`ConfigurationManager` has a public API, `

[2019-11-14 17:46] rainersigwald commented on #7683
Is this superseded now by [`AssemblyDependencyResolver.ResolveUnmanagedDllToPath`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblydependencyresolver.resolveunmanageddlltopath?view=netcore-3.0)?

[2019-11-14 18:00] arosado2895 opened #42669 "Problems Starting dotnet (First Timer)"
λ dotnet new webApp -o myWebApp --no-https cd myWebApp
Unhandled exception. System.TypeInitializationException: The type initializer for 'Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment' threw an exception.
 ---> System.ArgumentException: External component has thrown an exception.
   at System.Globalization.CompareInfo.CompareString(ReadOnlySpan`1 string1, ReadOnlySpan`1 string2, Compare

[2019-11-14 18:56] Tratcher opened #42598 "HashSet.Remove regression, not honoring comparer"
Recent optimizations in HashSet have caused a regression in HashSet.Remove when a non-default comparer is used.
[code]
I think the issue is that this line uses the default comparer rather than the specified one:
https://github.com/dotnet/corefx/pull/40106/files#diff-a80c75678ed2d070e638bcb93ba26bccR419
Compare to the same code in Add that uses the specified comparer:
https://github.com/dotnet/core

[2019-11-14 19:26] #41176 closed

[2019-11-14 19:34] Tratcher commented on #42598
@JeffreyZhao can you take a look?

[2019-11-14 19:38] kadirguloglu opened #42599 "FormBody not working"
Hello,
I get the error in the attached images in my project.

Visual studio recommends that I use FromBody ... as an error message. The application gives error even though I use it.

![Ekran Alıntısı](https://user-images.githubusercontent.com/28136387/68890222-7cfc7a80-072f-11ea-980e-e707cd289f82.PNG)
![Ekran Alıntısı1](https://user-images.githubusercontent.com/28136387/68890223-7d951100-072f-11ea

[2019-11-14 19:46] pakrym opened #42600 "EventCounters event is written to an EventListener that never subscribed to it"
We have an EventListener listener where the subscription is guarded by a trait that System.Runtime event source doesn't have (`TraitName = "AzureEventSource"`)
[code]

Somehow without subscribing to System.Runtime event source we get EventCounters events with the following stack:

[code]

EventData:
[code]

Runtime version: 3.0.0

cc @noahfalk

[2019-11-14 20:05] ahsonkhan commented on #42590
It is **awesome** to see some the benchmarking and results being shared around JSON. I also appreciate folks running them in different environments, sharing reports/bugs, so we can fix any perf issues (especially if it's something we overlooked - e.g. see https://github.com/dotnet/corefx/issues/41638). We also have quite a few ideas to continuously improve perf and features: https://github.com/dot

[2019-11-14 20:10] satano commented on #42599
As the message says:

You have 2 `FromBody` parameters.

[2019-11-14 20:13] kadirguloglu commented on #42599
Can't I get multiple parameters with POST?

[2019-11-14 20:14] jasonleenaylor commented on #42487
@danmosemsft Yes, as I mentioned in my report it works fine if I use it in a C# unit test but as soon as I try to use the RegularExpressionAttribute in ASP.Net Core I get the bad behavior. It is acting as if the ECMAScript option is set.

[2019-11-14 20:14] kadirguloglu commented on #42599
I tried it with a single FromBody. Not working.

[2019-11-14 20:16] ericstj commented on #41598
It should, if you're still reproducing the issue can you share an isolated repro project for us to try?

[2019-11-14 20:23] Thealexbarney commented on #39274
That would still leave APIs like `File.GetAttributes()` and `FileSystemInfo`. Making it opt-in there wouldn't be as unintrusive as adding a flag to EnumerationOptions.

Aside from having it opt-in at some higher level, which seems like a poor option, the obvious options I see would be adding new overloads to the methods and constructors.

[2019-11-14 20:26] satano commented on #42599
Well. So you are probably doing something wrong. If your parameter is complex type (class), it is [automatically](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-3.0#binding-source-parameter-inference) treated as `FromBody` so you do not even need to write it there. So I believe, that the body is in incorrect format so it just cannot be mapped to your type.

[2019-11-14 20:28] danmosemsft commented on #42487
@anurse do you know whether the ASP.NET attribute above implicitly passes `RegexOptions.ECMAScript` ? That would not be unreasonable for it to do.

[2019-11-14 20:32] danmosemsft commented on #42487
I'm looking here https://source.dot.net/#System.ComponentModel.Annotations/System/ComponentModel/DataAnnotations/RegularExpressionAttribute.cs,104 .. if that's the right place, then apparently it's not.

[2019-11-14 20:34] sywhang commented on #42600
Do you know if there any EventPipe/ETW session that subscribed to System.Runtime? EventCounters are not session-aware so if an out-of-proc session has been started it is possible for EventListeners to start receiving payloads from EventSource that another session started.

[2019-11-14 20:36] pakrym commented on #42600
I'm using ApplicationInsights in the same app so maybe.

[2019-11-14 20:36] WayneHiller commented on #41598
It is pretty basic. I just created a new aspnet core 3 webapi project and added this controller:
[code]

Added the newest System.Text.Json to the project:

[code]
![image](https://user-images.githubusercontent.com/1186731/68894080-5f052a80-06db-11ea-8e90-daeefaa8ba9d.png)

And then called POST to http://localhost:5000/test from Postman:

![image](https://user-images.githubusercontent.com/1186731/6

[2019-11-14 20:39] kadirguloglu commented on #42599
OK. Now I understand very well. Thank you. For complex situations, I need to make transfers with classes.

[2019-11-14 20:39] sywhang commented on #42600
AFAIK AppInsights does have an EventListener that turns on `System.Runtime`, so this is working as it was designed. I'll close this issue since it is a dupe of https://github.com/dotnet/coreclr/issues/25262.

[2019-11-14 20:43] pakrym commented on #42600
That issue seems to be about refresh rates of event counters and subscibing to the same event source with separate parameters. I don't see how it correlates with event being sent to the wrong eventlistener.

[2019-11-14 20:46] anurse commented on #42487
I don't believe it does (after [searching the code](https://github.com/aspnet/AspNetCore/search?l=C%23&q=ECMAScript)). There is no ASP.NET attribute, it's just the DataAnnotations attribute that is used by MVC model binding.

I tried using the attribute directly and couldn't repro either. I don't see anywhere that ASP.NET is setting ECMAScript options.

@jasonleenaylor Can you clarify *where* you'

[2019-11-14 20:58] NinoFloris opened #42602 "Conditionally flow execution context into Task for custom TaskSchedulers"
After some evening perusal of the inner workings of `Task.Run/StartNew` it seems some uses unconditionally capture execution contexts iff there's a custom `TaskScheduler` and don't if `TaskScheduler.Current == TaskScheduler.Default`.

Besides it being an inconsistency in the implementation it seems problematic for cases where you really don't want any `AsyncLocals` to be rooted by some background

[2019-11-14 21:10] jasonleenaylor commented on #42487
@anurse Yes, sorry I wasn't specific enough. Probably I didn't understand all that I should have.

In TestModel.cshtml.cs we have:
[code]

In TestModel.cshtml we have:
[code]
When typing content in this form in the browser I'm seeing the unexpected behavior. So from the comments I gather that this validation attribute ends up becoming javascript regex which then loses the ability to do what I need

[2019-11-14 21:18] zachsaw commented on #42590
I'll test this on a newer hardware architecture and see if I could get the same behaviour later today. Ubuntu 18.04 and macOS both had the same slowness to a different degree. And no matter how many times I run it, I get the same results within reasonable margin of error.

What do you suggest we do to investigate this further?

[2019-11-14 21:20] anurse commented on #42487
Yes, that's correct. In order to do client side validation we have to push the regex down to the browser and us JavaScript to evaluate it. That's not really something we can avoid here :(.

[2019-11-14 21:31] danmosemsft commented on #42487
Ah, then I think this is by design.

@anurse if @jasonleenaylor is willing to offer a PR for the docs, which would be the right doc? https://github.com/aspnet/ApiDocs/blob/master/aspnet-mvc/xml/System.Web.Mvc/RegularExpressionAttributeAdapter.xml ?

[2019-11-14 21:39] ericstj commented on #41598
Confirmed.  Looking at this issue and the fix, I don't think the fix was addressing the original issue but instead was addressing a related thing that @layomia found when investigating the original issue.

If I recall, @layomia mentioned that to fix the original issue we couldn't rely on the Getter to return back a mutable collection, even if we previously set a mutable collection with the setter.

[2019-11-14 21:56] tarekgh commented on #42602
CC @stephentoub

[2019-11-14 21:56] MikelThief commented on #37628
@davidsh .NET 5 is likely going to be release in November 2020. Is there any recommended workaround except for manually extracting it from headers? 1 year is a lot of time to just wait.

[2019-11-14 21:59] ahsonkhan commented on #41176
Fixed in https://github.com/dotnet/corefx/pull/41691

[2019-11-14 22:15] vcsjones commented on #42590
I would be curious to know what specifically in your benchmark is slow by timing smaller components. Right now both serialize and de-serialize is covered in the bench mark, as is allocating a `MemoryStream` and its underlying memory.

In your very slow test cases, is it just serialization that is slow? Just deserialization? Both? Creating the memory stream?

[2019-11-14 22:17] scalablecory commented on #40988
I implemented one of these with a SIMD b+tree like ~15 years ago 😊. It seems niche, lets get some good examples up for this.

[2019-11-14 22:18] stephentoub commented on #42602
I'm not following the examples. Can you please provide a repro where Task.Run doesn't flow EC?

[2019-11-14 22:21] scalablecory commented on #40988
`IndexSet` should have `UnionWith` etc.

[2019-11-14 22:35] NinoFloris commented on #42602
It most certainly does flow EC, what I'm seeing is that it might do it a bit too happily in `ManualResetValueTaskSource` or `YieldAwaitable` when custom schedulers are involved.

This is because there's a choice to either flow execution context or not in these types. That choice eventually influences whether — for the threadpool case — QUWI or its Unsafe version is called. When there's a custom ta

[2019-11-14 22:37] madenwala commented on #40739
I'm working on a PR for TaskCompletionSource ctor passing in a TaskContinuationOptions as a parameter. Getting a CA rule for this and should be able to submit PR.

[2019-11-14 22:43] anurse commented on #42487
Unfortunately for this one, there isn't a good API doc. The only API the user interacts with is [`RegularExpressionAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.regularexpressionattribute?view=netcore-3.0) which isn't web specific. The best we could do in an API is say "when used for ASP.NET model binding, [blah blah blah]", which is a little awkward

[2019-11-14 22:53] zachsaw commented on #42590
`MemoryStream` is created just once for each 50 round-trip tests. I'll add a separate stopwatch to test the smaller components.

[2019-11-14 22:58] zachsaw commented on #42590
Interestingly, running it on the work laptop gives me the following results which is inline with what you and others observed.

[code]

[2019-11-14 23:43] sywhang commented on #42600
Ah, sorry I should've clarified myself. To be more precise your issue is related to filtering on EventListener side - EventListener doesn't have the ability to filter. You can actually repro this same behavior happening with just a plain EventSource without any EventCounters.

For example, this EventSource will start spewing events out to any EventListener instance if there is a session that enabl

[2019-11-14 23:49] ericstj commented on #42478
Can you let us know what issue you're facing because of this?  I don't see any obvious bug here, perhaps some overly defensive code, but that's not a problem in and of itself.

Please rephrase this issue describing:
repro-steps
expected behavior
actual behavior

Thanks!
Eric

[2019-11-15 00:20] danmosemsft commented on #42487
OK. I'll close this one then as I believe this is resolved. We'd welcome a doc tweak PR @jasonleenaylor  or an issue for it. Thanks for the report.

[2019-11-15 00:20] #42487 closed

[2019-11-15 00:41] kerryjiang commented on #25040
These 3 options are not in .netstandard 2.1 right now, do you have a plan to add them into netstandard?
- TcpKeepAliveInterval
- TcpKeepAliveRetryCount
- TcpKeepAliveCount

[2019-11-15 01:26] roji commented on #42541
Thanks for your interest in DataTable. As far as I know (and I'm not an expert), DataTable doesn't use columnar storage under the hood - the basic data structure it holds is rows, which it holds in [a red-black tree](https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/DataRowCollection.cs#L26). Can you sure share where you've seen that DataTable is stored by columns

[2019-11-15 02:15] GarrettClyde commented on #38650
We're going back to Newtonsoft for now.  Here's a pretty unsophisticated workaround that might help someone else out.

[code]

[2019-11-15 05:52] oliverjanik commented on #1973
That's sounds to me like 5 years down the road. Why should a simple change that can be implemented in a day wait for some 1000x larger not-yet-specified feature that might not even happen?

[2019-11-15 06:12] GrabYourPitchforks commented on #42487
Maybe a good candidate for static analysis? I don't know how easy it would be to detect that a particular attribute might end up being emitted as client-side validation, but assuming that's detectable it should be straightforward to detect regex patterns that lose fidelity client-side.

[2019-11-15 06:18] the-exodus commented on #41517
Actually, all the threads in a process share the same adress space. Once ONE thread maps a view of the file to an address, all the other threads in that process can access it there. That requires synchronization of course, so only one thread at a time writes to it. You can create multiple views of the same MemoryMappedFile-instance, if you want to have one per thread for some reason, but you do _n

[2019-11-15 06:18] iSazonov commented on #42478
I can not say that it is "bug" but obviously the code is not full correct. It is a _bad pattern_. I caught this while I played this TypeDescripter.GetConverter in PowerShell Core repo. I copy-pasted line 206 of the code and it did not work as expected.
My report is that typeAttr  is never null and it is better to remove the bad pattern because it _confuses_ code readers.

[2019-11-15 06:53] #41517 closed

[2019-11-15 06:54] sotheanith commented on #41517
This is the solution.

[2019-11-15 07:47] the-exodus commented on #41214
It seems like you've generated the interop for libproc from really old headers. You need to sudo to get all the task info, and the proc_bsdshortinfo struct (which is what you can fill as low-priv) doesn't seem to be generated.

[2019-11-15 11:39] zachsaw commented on #42590
Updated the repo to breakdown Serialize/Deserialize time per loop, ran it over and over again and the results are consistent as follow.

[code]

At this point I'm wondering if it's because of the CPU lacking AVX2 instruction sets...? My work laptop which has the 8th gen core i7 works fine.

[2019-11-15 11:42] zachsaw commented on #42590
Please ignore the BinaronTest showing 72 ms/op now instead of ~83 ms/op. In case anyone's wondering, it's just due to an updated version of the serializer giving 15% perf increase.

[2019-11-15 11:47] khellang commented on #42590
You could try to run it on your work laptop with `COMPlus_EnableAVX2=0` set?

[2019-11-15 11:48] zachsaw commented on #42590
It's Friday night where I am and I left the work laptop at work. Won't be able to test until Monday - any chance you can try it on Ubuntu on your side with that env var?

[2019-11-15 11:55] zachsaw commented on #42590
OK this is getting really strange. I downloaded Rider and ran it within the IDE - guess what?

[code]

Works fine!

What gives? Copy and paste Rider's dotnet cmd line to terminal (`/usr/local/share/dotnet/dotnet /Users/----------/SerializerBattle/bin/Release/netcoreapp3.0/SerializerBattle.dll
`) gives me the bad result again...!

[2019-11-15 13:45] aik-jahoda commented on #41214
@the-exodus I'm not sure what you mean by we are generating interop from old headers. Can you please explain it more? There is no related native code in corefx there is pinvoke only. Are you referring to managed constants and structs definition?

[2019-11-15 14:01] aik-jahoda commented on #41214
I tested native `proc_pidinfo` and `proc_name`. Both behave the same on the system pids. It requires sudo to be able to obtain the process info.

The `proc_name` uses `proc_pidinfo` under the hood and the app should have admin privileges to be able to obtain system process information.

So far the current behavior looks good for me as it respects the OS. The fallback to the path should be implemen

[2019-11-15 14:29] johnnyasantoss opened #42607 "Problems with SemaphoreSlim on OSX"
Hello,
I noticed that `SemaphoreSlim.WaitAsync(int)` is sometimes extremely slow on OSX.

I was trying to set up a test and build a R2R version of a console app on Azure Pipelines, and noticed that the MacOS tests were failing on a simple wait & release [test][test1] ([logs][logs1]).

So, I created a simplified version of that test and tried to run again using the same matrix.
Here's the [repro][r

[2019-11-15 15:07] the-exodus commented on #41214
Sorry, I totally failed at English there. Anyway, I assumed you had generated the type definitions etc from the header files. The proc_bsdshortinfo type was added a few years ago, and since I didn't see it in the corefx-code I assumed you had been using older headers.

The bsdshortinfo doesn't have name, stats, etc, as you can't query that info for other user's processes. It has everything you CAN

[2019-11-15 15:33] bartonjs commented on #42571
What do you mean "behaved the same"?

[2019-11-15 15:40] khellang opened #42608 "Provide conversion from `ValueTask<T>` to `ValueTask`"
When working with `ValueTask` and `ValueTask<T>`, I've often encountered scenarios where I don't care about the result of a `ValueTask<T>`-returning method and just want to return back the task to be awaited further up the stack.

Unfortunately, this isn't possible:

[code]

The workarounds I've found is to either make the up-stack method `async`, which introduces a bunch of state machinery:

[cod

[2019-11-15 15:45] bartonjs commented on #42410
Number is tricky, I wouldn't do it for number.  (When coming out of an object context you have to first unbox it, which requires knowing the type it became, then you can convert it to the type you want.  Is the progression int/long/ulong, and if there's a '.' use double? It seems rational when describing the functionality, but how does the code look?)

If you currently only ever are JsonElement or

[2019-11-15 15:55] stephentoub commented on #42608
I've considered whether we should add an `AsValueTask` method.  It's doable, and we might want to, but it has some downsides.

The tricky part is for `ValueTask<T>` backed by `IValueTaskSource<T>`.  There's no guarantee that the implementation also implements `IValueTaskSource`.  We can check if it does, but if it doesn't, we'd need to `AsTask()`, which would allocate (the alternative would be to

[2019-11-15 16:07] khellang commented on #42608
Ah, thanks for a great answer! I guess that extension method would work well enough. It would still be nice if it was part of the framework though.

There's no way to make this happen? Not even with default interface members? Something like

[code]

Should I leave this issue open as a request for some kind of conversion?

[2019-11-15 16:08] appel1 commented on #42571
I'd expect it to return a string like ".Net Framework 4.5.2".

[2019-11-15 16:21] JeffreyZhao commented on #42598
@Tratcher Thanks for pointing it out. It's clearly a bug.

The fix is quick and simple, but the repo consolidation is coming up, is there anything special I need to do?

[2019-11-15 16:29] stephentoub commented on #42607
(This looks buggy:
https://github.com/johnnyasantoss/semaphore-slim-osx-repro/blob/2aa38e6f27176787cc5c7f1f69cf6f4d006dd86c/tests/SemaphreRepro.Tests/UnitTest1.cs#L20-L28
You're creating the semaphore with a max count of 1.  If that Release in the thread you've started is able to execute twice before the consumer waits on the semaphore, or more generally if it gets ahead of the consumer by even a

[2019-11-15 16:39] dougbu commented on #42598
@JeffreyZhao the repo consolidation is in progress 😺

I would say the urgency of a fix depends on whether the problem is in 3.0 or 3.1 too. If the problem is only in 5.0, a fix is important but not nearly as urgent. We can wait 'til the new repo is open for product fixes.

[2019-11-15 16:42] JeffreyZhao commented on #42598
@dougbu It's newly introduced in 5.0. I can work on the missing unit test and the fix. Probably I'll also create a PR, but feel free to close it if it's not a good time to merge it. I can always do it again after the consolidation.

[2019-11-15 16:48] jhudsoncedaron opened #42609 "NetworkStream can only be created with a blocking socket, even if it will be used for ReadAsync/WriteAsync"
For some inexplicable reason, `NetworkStream`'s constructor has this check:

                if (!socket.Blocking)
                {
                    throw new IOException(SR.net_sockets_blocking);
                }

Thus, creating a `NetworkStream` from a non-blocking socket requires:

        socket.Blocking = true;
        var ns = new NetworkStream(socket, true);
        socket.Blocking = f

[2019-11-15 16:48] dougbu commented on #42598
Not my call on your PR.

It's my understanding PRs targeting 'master' in this repo will just be closed soon if they haven't already. You might be able to open a PR here to validate your changes but will need to port it to dotnet/runtime when that's available.

[2019-11-15 16:53] zhangjie0819 commented on #42192
Hi，Eric
    I am sorry to return your software later, thank you for the information provided, and have provided me with a lot of help.

1468987382@qq.com

From: Eric Erhardt
Date: 2019-11-13 23:04
To: dotnet/corefx
CC: zhangjie0819; Mention
Subject: Re: [dotnet/corefx] IsDaylightSavingTime_CasablancaMultiYearDaylightSavings fails on rhel.8 (#42192)
@zhangjie0819 - The best document I've found is t

[2019-11-15 16:57] jhudsoncedaron commented on #42609
Incidentally, I think HttpClient isn't actually asynchronous, because it's calling ReadAsync on a blocking socket. There was this (now deleted) blog post about using a custom thread context to run asynchronous jobs synchronously on the calling thread. It didn't work because as soon as the thread tries to run async I/O the job loop can't find anything to run, but it does (did?) work for HttpClient.

[2019-11-15 16:59] stephentoub commented on #42609
Sure it is.

Socket.Blocking affects whether Receive/Send block or always complete immediately (potentially with an error indicating the operation would have blocked).  It does not affect Receive/SendAsync.

[2019-11-15 17:15] joperezr commented on #41748
Closing as the question has been answered, but please @vintzl feel free to reopen if you think otherwise.

[2019-11-15 17:15] #41748 closed

[2019-11-15 17:27] jhudsoncedaron commented on #42609
In any case, the best way to make sure nobody calls Read instead of ReadAsync is to have a NetworkStream with a non-blocking socket; thus Read will fail. Normally I don't use async I/O but it's a very different calculation when the expected wait time is half an hour.

[2019-11-15 17:36] ericstj commented on #42478
I see what you mean.  That's true for the normal case, however I see the call to TypeDescriptor.GetAttributes can be extended with a custom TypeDescriptor which can provide a derived AttributeCollection with indexer implementation that returns null.  We have also supported AOT platforms in the past that strip metadata which would make the reflection call to TypeConverterAttribute.Default in GetDef

[2019-11-15 17:37] rstm-sf commented on #42541
Initially, the idea arose when I read one of the articles on the Internet :)
It claimed that the data is stored in columns to remember the type for data-in-column in the one.

Then, I decided to make sure of this by looking at the source code.

[2019-11-15 17:46] bartonjs commented on #42571
The behavior of framework description is $"{FrameworkName} {typeof(object).GetAssemblyFileVersion()}" (GetAssemblyFileVersion being a pseudo-method to get the appropriate attribute out of the assembly).

I don't think there's a way to query the running "branding" version (like 4.5.2).

[2019-11-15 18:01] rstm-sf commented on #42541
Ok, I’ll try to look in more detail.

[2019-11-15 18:02] appel1 commented on #42571
The current workaround we have is to use the method described on https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed when running on Windows.

[2019-11-15 18:03] iSazonov commented on #42478
@ericstj Thanks for clarify! I think nullable annotations will resolve the issue. Although I don't know whether they work well for interfaces.

[2019-11-15 18:06] buyaa-n commented on #42478
Sure we can evaluate this case during nullabliity analysis, might be not in near future as  this assembly is in the group 9 of dependency list https://github.com/dotnet/corefx/issues/40623.

Compiler wouldn't really warn for such `unnessesary null check` cases, as you mentioned it is not errornous case. Compiler analysis more devoted to detect possible null references errors, but of course we can

[2019-11-15 18:27] Anipik opened #42612 "Infrastructure work required to service 5.0"
We are making a lot of infra changes which will require changes in the servicing protocals. This issue is to track that work.

- [ ] We have a centralized place for package verison, we will have to find a place  of individuals packages to update that version in servicing
- [ ] We have a centeralized place for assembly Verision, we will have to find a way to increment the assembly version for speci

[2019-11-15 18:31] ViktorHofer commented on #42612
@Anipik can you please elaborate? Isn't setting the PackageVersion and AssemblyVersion in a leafs Directory.Build.props file sufficient?

[2019-11-15 18:39] Anipik commented on #42612
Yes, that is the easier fix.

We made a lot of effort to remove these stuff from Directory.Build.Props and have a centeralized place to describe these versions. I wanted to discuss if there any other better solutions for incrementing these versions in the servicing.

[2019-11-15 19:25] scalablecory commented on #42609
This check helps usability as non-blocking is either incompatible (for sync) or has no effect (for async). I don't think we want to remove this check. There is already a workaround, as you noted, for advanced users.

[2019-11-15 19:26] Symbai opened #42616 "API Proposal: String.IsLike"
Similar to https://github.com/dotnet/corefx/blob/0e65e923689962f9634b5948d15f995140cc7c93/src/Common/src/System/Text/SimpleRegex.cs#L21 but public and high performance as the linked method is up to 10x slower against own implementations when I tested.

#### API:
`IsLike(this string input, string pattern, StringComparison mode = StringCoomparison.OrdinalIgnoreCase)`

#### Usage:
[code]

There is a

[2019-11-15 19:44] buyaa-n commented on #39500
Fixed with #39668

[2019-11-15 19:44] #39500 closed

[2019-11-15 19:51] onionhammer commented on #33620
@davidfowl Are you volunteering?

[2019-11-15 20:08] ericstj commented on #42478
Curious: the compiler won't warn if you check a non-nullable reference type for null?  That seems like an opportunity for an analyzer (or compiler improvement).

[2019-11-15 21:22] danstur commented on #38569
@ahsonkhan Is there work currently being done on this issue? If not, is this something where a pull request would be considered?

[2019-11-15 21:33] scalablecory commented on #42616
What benefit do you see versus regex?

[2019-11-15 22:22] steveharter commented on #42590
Some thoughts:
- Be sure running in release mode
- Can you share non-async results
- Try setting the default buffer size on JsonSerializerOptions to a size large enough to hold your entire Stream

[2019-11-15 22:51] arisewanggithub commented on #38641
@khellang , it's not that a workaround won't work. It's just such a basic thing shouldn't need developers to add a workaround. As a big feature introduced for .NET core 3, it shouldn't lack such basic implementations.

[2019-11-15 23:05] arisewanggithub commented on #38641
@khellang Also, if our code calls the deserialize and serialize, we can pass the custom converter. But in case for asp.net controllers, how would it work? The model binding calls it. And there is no global default settings to pass the custom converter.

[2019-11-15 23:20] Symbai commented on #42616
Lots of performance

[2019-11-15 23:27] stephentoub commented on #42616
No. It was changed to remove a dependency on the Regex library that was there for an obscure use case, in order to reduce the size of a published single-file executable that otherwise wasn't using regular expressions.

[2019-11-16 00:16] rynowak commented on #39483
Right now this is basically what it looks like....

Again, we're happy if you want to try and improve this with the knowledge that we're optimizing for performance over simplicity. The task we need to perform is to use the serializer with arbitrary encodings.

Ultimately we don't get any value from managing these streams ourselves - if this were an implementation detail of the JSON serializer that

[2019-11-16 00:20] danmosemsft commented on #42616
What implementation? I'm curious how that could be much faster.

It's easy to make it perform such a check, eg
[code]

[2019-11-16 02:01] Symbai commented on #42616
I never said its difficult. I said that Regex costs a lot of performance, even when compiled and regex is usually used for more complex scenarios or when performance doesn't matter but for a simple wildcard match you rather write your own because it's written in less than 50 lines and its a lot faster.

I think the benefit is great (even against Regex) and the implementation is easy and there a lo

[2019-11-16 03:00] danmosemsft commented on #42616
I haven't tested your code but it does not appear to do backtracking. So "foo*bar" will not match "foobarbar"

[2019-11-16 03:00] stephentoub commented on #42616
FWIW, I just tried it with the tests at
https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/Common/tests/Tests/System/Text/SimpleRegexTests.cs#L12-L42
and it didn't pass a bunch of them.

For example, your implementation returns true for:
[code]
even though it shouldn't match (the pattern requires an extra 'b' that the input doesn't have).  Conversely your implementa

[2019-11-16 03:32] stephentoub commented on #37457
Sure, that'd be helpful, thanks!

[2019-11-16 03:43] stephentoub commented on #42602
Ah, I misunderstood what you were saying.

In the cases you call out, ExecutionContext is already being flown by the async method infrastructure, so this isn't a case of context being flown when it shouldn't / a functional issue.  But you're correct that there might be additional overhead that's unnecessary due to the context being flowed again when it's already being flowed, basically unecessary

[2019-11-16 03:49] stephentoub commented on #42591
It solves a problem because it hits one of the catch blocks that had been established, vs not hitting any of them.  And as mentioned, the majority case we saw was where, if there were multiple exceptions, they were generally either all of the same type or at least generally all related to the same failure condition, so handling just one was sufficient.

I explained.  I understand you don't like th

[2019-11-16 04:27] hishamco opened #42620 "DirectoryServices.AccountManagement & Open DJ"
I'm struggling to run some of the `System.DirectoryServices.AccountManagement` APIs with Open DJ, all the time the `PrincipalContext` failed, nothing but `DirectoryEntry` works nicely with Open DJ

Any idea?

/cc @tarekgh

[2019-11-16 06:33] GrabYourPitchforks commented on #39483
Are there particular `Encoding`s you need this to be optimized for? UTF-8 on one end, obviously, but what's on the other side? For example, certain encodings like ISO 8859-1 map pretty cleanly to UTF-8 with only minimal transformation required, so if we knew what the common scenarios were we could optimize those code paths.

[2019-11-16 07:15] martincostello commented on #38641
@arisewanggithub There are global settings available to controllers. You can configure it via `AddJsonOptions()`, or you can pass a `JsonSerializerOptions` instance to the `Json()` controller method.

[2019-11-16 09:18] VladislavMorozov opened #42631 "System.Security.Cryptography. ECDsaOpenSsl throw NullReferenceException after using construction."
# Issue Title

ECDsaOpenSsl from System.Security.Cryptography throw NullReferenceException after using construction.

# General

I have .NET Core 2.2 and Linux container in docker. When I create JWT token with ES256 algorithm `JwtSecurityTokenHandler.CreateEncodedJwt()` throw exception.

![token](https://user-images.githubusercontent.com/31768904/68990973-a8d04b00-086a-11ea-9802-bde4c34ac303.png)

[2019-11-16 11:45] Symbai commented on #42616
@stephentoub: One scenario would be filtering a collection in WPF by user input. If a collection has a lot of entries which isn't unusual it would perform the check for each entry. So 200,000 calls to regex for 200,000 entries. More calls for more entries.

Filtering file system against multiple inputs would be another performance critical situation. Either you call GetFiles("*.*") and then do reg

[2019-11-16 16:11] svick commented on #42608
@khellang

If I'm reading [Breaking Change Rules](https://github.com/MichalStrehovsky/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md) (which has been recently updated for DIM) correctly, that's not allowed:

    Note that this rule also applies to providing a default implementation for public interface methods on _non-public_ interfaces that are implemented by unsealed

[2019-11-16 16:13] weltkante opened #42621 "How to get stack traces of unresponsive threads?"
I've been porting a game server from Desktop/Mono to .NET Core. Mostly works great, but there is one component which no longer works. The game server has a watchdog timer thread which will kill the process if one of the event threads takes too long to process a game tick. This is to prevent hanging servers, we'd rather want the server lose the current game transactions and auto restart than hang p

[2019-11-16 16:25] danmosemsft commented on #42621
It's not what you're asking for, but there is a convenient debugger API to get stack traces from outside the process

https://github.com/microsoft/clrmd

Eg https://github.com/dotnet/arcade/blob/2c6db6ee8d8adeb2e8ccc1485e6780635890e419/src/Microsoft.DotNet.RemoteExecutor/src/RemoteInvokeHandle.cs#L205

[2019-11-16 16:47] ViktorHofer commented on #42612
The obvious answer for me would be:
- Change an individual package's version: Set these properties in the leafs Directory.Build.props
- Change all minor/patch versions: Change the property in Versions.props.

Trying to understand your ask better. What are the requirements for servicing in regards to package and assembly versions?

[2019-11-16 17:39] MgSam commented on #26845
@pgovind
Thanks! Some more feedback:
- The other column types seem to have a default value for the length parameter of 0, but StringDataFrameColumn does not. This caused some of my confusion.
- I'm not seeing any XML docs on any methods or classes. Could this be an issue with the package? (My XML docs look fine for stuff outside this package)
- How do you add/remove columns/rows for an already con

[2019-11-16 19:08] AlexeiScherbakov commented on #38163
Please add also list properties (with type List<T>) and only getter

[2019-11-16 19:24] YairHalberstadt commented on #22403
Is there any reason char.TryParse wasn't updated? Or is it simply considered to niche to be worthwhile?

[2019-11-16 20:14] stephentoub commented on #22403
Just because it doesn't really add value in that there's no actual parsing, just accessing a single character in the string. Instead of:
[code]
you just do:
[code]

[2019-11-16 20:17] YairHalberstadt commented on #22403
Thanks @stephentoub

I only just realised that char.Parse doesn't deal with strings of escaped characters (which makes both my question and it kind of pointless :)). Is there an alternative method which does?

[2019-11-16 23:00] roji commented on #42541
Before you spend too much time on it, it's very unlikely we'd actually introduce a new API on DataTable for this kind of thing. This wouldn't be trivial to do (e.g. need to take care of other columns of newly added rows via the API), and DataTable has various other design issues that limit its usefulness in a high-perf scenario (e.g. it boxes). Finally, in general there hasn't been any active deve

[2019-11-16 23:25] nagya opened #42622 "FileStream.Flush(flushToDisk: true) does not trigger FileSystemWatcher.Changed on macOS"
In the repro below, OnChanged in expected to be called 5 times, which is what happens on Windows. On macOS, it’s only called once, triggered by the FileStream.Dispose call. FileStream.Flush(true) does not trigger it.

.NET Core 3.0.100 on macOS 10.15.1.

[code]

[2019-11-17 00:05] rstm-sf commented on #42541
Oh, it helped me simplify the task of understanding that everything is stored in columns.

See

https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/System.Data.Common/src/System/Data/DataColumnCollection.cs#L219-L229

https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/System.Data.Common/src/System/Data/DataColumnCollection.cs#L130-L133

[2019-11-17 00:11] rstm-sf commented on #42541
Then in that case

It is based on a column-storage collection

[2019-11-17 00:16] rstm-sf commented on #42541
In general, yes, this will not be a trivial task, and few people need it (though just why?) ;)

[2019-11-17 00:19] smuellener commented on #30197
Hello @los93sol your example repo looks very interesting! Question: would it also be possible to send and receive Layer 2 packets (only MAC Source, MAC Destination, EtherType and Payload) without them having to be IPv4 for example?

[2019-11-17 02:17] wfurt commented on #30197
yes, that should work @smuellener. If you look at my sample code it gets first IP address fropm offset 26 -> the buffer contains whole payload including L2 header.

[2019-11-17 02:41] benaadams commented on #32615
Surely this is an opportunity to get ValueTask overloads in?

Passing a cancellationToken is probably an advanced scenario 😅 so should be ok with the semantics of ValueTask.

Hot-path for it is when Kestrel is used as the internet facing a proxy in front of plethora of microservices, some messages of which will be small and be already completed.

[2019-11-17 04:19] dotMorten commented on #19963
Since .NET Core 3.x is now starting to be heavily used with client apps, having access to OOB client cache becomes quite important for responsiveness. Should this be reopened as a feature request to add an OOB implementation? (preferably build around the system-level one that's already there, like the IE cache etc). It's quite a lot to ask users to understand and implement cache-control, etag, exp

[2019-11-17 04:33] dotMorten commented on #42168
Could you make it a plan? Currently I'm looking at telling our customers how awesome .NET Core is, but errrrr... you should also but look forward to slower responses because repeated web requests are no longer relying on fast 304 responses. It's not a very good selling point for moving over from .NET Framework.

[2019-11-17 07:21] dotMorten commented on #42168
Quick and dirty cache implementation showed a 33x perf increase on repeated requests when implementing cache-control maxage and/or etag:

|                Method |      Mean |     Error |    StdDev |    Median | Ratio | Gen 0 | Gen 1 | Gen 2 | Allocated |
|---------------------- |----------:|----------:|----------:|----------:|------:|------:|------:|------:|----------:|
| UseSocketsHttpHandler |

[2019-11-17 10:39] rstm-sf opened #42623 "Сould not find Encoding name for such encodings as euc-tw, iso-8859-10, iso-8859-16"
Hello!

Please help find or say why there are no following aliases for `Encoding`:
- [ ] `euc-tw` (maybe `51950` code page identifier and why then there is no name?, [doc/win32](https://docs.microsoft.com/en-us/windows/win32/intl/code-page-identifiers))
- [ ] `iso-8859-10`
- [ ] `iso-8859-16`

_Some explanation_
I looked at the [System/Text/EncodingTable.Data.cs](https://github.com/dotnet/corefx/b

[2019-11-17 15:29] tamlin-mike commented on #18964
Having spent hundreds of hours trying to bring one of our applications to use SDK-style projects and netstandard2.0 assemblies, we have also hit this. To add insult to injury we (somehow) managed to get everything else "working" in some patchwork way by mixing in old or even outdated nuget packages and possibly a portion of just sheer luck (which is obviously not an acceptable state since **you**

[2019-11-17 17:01] MihaMarkic commented on #37457
Crated a PR with simple tests. I think the solution would be to modify both XmlUtf8RawTextWriter and XmlWellFormedWriter at minimum (and I guess other subclasses) so they would call FlushAsync when `settings.Async == true`.
Perhaps a better solution would be to add CloseAsync method to XmlWriter, since FlushAsync within Close can't be awaited. CloseAsnyc would be called instead of Close each time

[2019-11-17 23:22] AleckAgakhan commented on #30810
Ref-like types can't be used as Keys for any collection and need not be. The idea of the suggestion implies that to lookup a collection you don't always need a key. You can make a search with a special instance of 'Equatable' or 'Comparable' that are never stored inside the collection, only on the stack of the method TryGetValue. There is not any need for a new language feature.

[2019-11-18 02:01] zachsaw commented on #42590
They're all in release mode.

How do you to do non-async stream serialize/deserialize?

Just trying to understand your hypothesis here - do you think running under Rider changes JsonSerializerOptions?

[2019-11-18 03:32] sujayvsarma opened #42625 "Blocking Issue: System.Text.Json and non-public members"
Hello,

Why do the Serializers and Deserializers in the System.Text.Json namespace not want to deal with non-public class members? Often times, we need to have non-public class properties/fields serialized or deserialized (or even one-way serialized/deserialized).

This is a blocking issue because Newtonsoft Json does this correctly. This makes porting code that used Newtonsoft to the System.Text.

[2019-11-18 03:35] sujayvsarma opened #42626 "API Implementation CR: string.IsNullOrEmpty & string.IsNullOrWhitespace functions"
Both functions have massive overheads with string reallocations. And, both these functions are possibly the most used of all C# constructs.

**Proposal:**
Two new functions: `IsNullOrEmptyByRef` and `IsNullOrWhitespaceByRef` (new names to avoid breaking other code).

Both the new functions would accept a `ref` parameter to the string being checked.

[2019-11-18 03:41] benaadams commented on #42626
Not sure I understand. these methods shouldn't cause any allocations?

[2019-11-18 04:15] sujayvsarma commented on #42626
Correct. It sure seems silly if the comparisons are few and far between. But start doing something like loading a GB-sized CSV file at Web App start up, and things quickly become a nightmare. Had the nightmarish experience and found this solution after a lot of debugging and experimentation.

[2019-11-18 05:31] GrabYourPitchforks commented on #42626
@sujayvsarma What is your specific concern with these functions? As Ben said, both of these functions are highly optimized already. Neither of these two functions should cause any allocations as you had suggested.

[2019-11-18 06:24] sujayvsarma commented on #42626
My concern is not with the code _inside_ those functions. My concern is with the way the parameters are passed into the functions.

You can see this when

[code]

is slower than

[code]

over thousands of iterations, with big strings.

[2019-11-18 06:50] AntonLapounov commented on #42626
@sujayvsarma Assembler code is almost identical in release mode: [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABARiQAJiAmCgYQoG8BYAKAo6vIuAggBsKAWVIAKMgAYKuAJRM2nRVQDsXCQDoAkrgByAV378A8lACi+AA4YAnqNkBuBZwC+TjmUq8Bw6uNJTZeXYld1VcCgBeCIoAOwNBQkJpdQAZGBiAcwwAC0joiUdgjldWZyA=).  In particular, no parameter passing involved at all since the `IsNullOrEmpty` method is inlined.

[2019-11-18 07:31] Clockwork-Muse commented on #42625
Having non-public data members be part of the serialization contract implies that you can't use **only** public information to reconstruct one, which is often problematic.  It's also conceptually nonsensical - if it's part of the serialization contract, that by definition is part of (somewhere) a public contract.

[2019-11-18 07:36] Clockwork-Muse commented on #42626
....and just in case it might be the next avenue of a question, strings in .NET are reference types, not value types, so no copy/allocation happens for the parameter to the method call.

[2019-11-18 07:43] sujayvsarma commented on #42625
Not necessarily @Clockwork-Muse. You would have internal/private members that are necessary to the class's function on rehydration (states for example) that you don't want to expose to other consumers of the class -- and hence would be private/internal to that class. Think of the classes holding data for a Workflow system.

I think your misunderstanding comes from the assumption that you if you pe

[2019-11-18 07:46] sujayvsarma commented on #42626
I haven't raised the item because I was bored.

This was a real life performance issue encountered. The cause was that one function. When it was rewritten (`== null` and `.Length == 0`), the problem went away.  Because of wordings like the above and SO threads seeking to prove the same with perf comparisons, it literally took many days (because everyone was "Oh that is not the problem surely!"). B

[2019-11-18 09:27] veikkoeeva commented on #26845
I have not tried this yet and takes some weeks to get off of from a business trip, but as quick feedback in fear of missing:
- Does the `ToString` take account [formatting cases](https://docs.microsoft.com/en-us/dotnet/api/system.iformattable.tostring)
- And are functions like `ToCsvString` extension methods? While one can provide an extension method of one's liking, it would seem something to con

[2019-11-18 09:42] GSPP commented on #26845
Is there a design document that shows why the API is built the way it is? Also interested in performance and implementation concerns.

[2019-11-18 10:24] gravity00 commented on #42591
The Roslyn analyzer is a good point, specially because we should be able to come up with something relatively fast. Thanks for the reminder!

Since the behavior isn't expected to change, I'm closing this bug.

Thanks for the insights and explanation, appreciated.

[2019-11-18 10:24] #42591 closed

[2019-11-18 10:29] TempeBrennan opened #42629 "Get Color Editor return null in .net core"
# Issue Title

Call "GetEditor" method get different result.

# General

Enviroment:3.1.100-preview2-014569

Use this code
[code]
In .net framework, return a ColorEditor instance
In .net core, return null.

Is this a break change? Could you please help me investigate it? Thanks a lot.

[2019-11-18 10:33] stephentoub commented on #42626
Please share a runnable micro benchmark that we can run to see the issue you're concerned about as well as your results from said benchmark.

[2019-11-18 10:34] Gnbrkm41 commented on #42626
The implementation of `string.IsNullOrEmpty` lives here: (And I know that this is mirrored copy from coreclr, previews won't work in different repos...)
https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/Common/src/CoreLib/System/String.cs#L431-L441
It is O(1) operation since it does not involve checking the whole of the string (the length of the string is stored in

[2019-11-18 10:56] Gnbrkm41 commented on #42623
I'm guessing you were trying to get instances of `Encoding` with `Encoding.GetEncoding(string)`? I'm not entirely sure, but it looks like .NET Framework queries the OS for available encodings, whereas .NET Core does not and support limited number of named code pages. (See also: https://docs.microsoft.com/en-us/dotnet/api/system.text.encodingprovider?view=netframework-4.8#remarks) So, in case of .N

[2019-11-18 10:59] vitek-karas commented on #42572
The best way to avoid duplicate copies of assemblies for the plugin is to modify the project/package references. So in the `Application.csproj` you can change the references to look like this:
[code]

Then you don't need any special cases in the resolver as the files will not get copied over to the output.

That doesn't answer why the configuration is not loaded though.
That said the usage of stat

[2019-11-18 11:13] simendsjo commented on #38497
Should I file a new issue for this?

[2019-11-18 11:37] svick commented on #42626
@sujayvsarma

I think there are two possibilities why that would be the case:

1. The call to `IsNullOrEmpty` is not inlined. Normally, that should not happen, but there could be some situations where it does happen.
2. Per [the disassembly](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABARiQAJiAmCgYQoG8BYAKAo6vIuAggBsKAWVIAKMgAYKuAJRM2nRVQDsXCQDoAkrgByAV378A8lACi+AA4YAnqNkBuBZwC+TjmU

[2019-11-18 11:46] shvez commented on #42572
Thanks a lot for the update.

So far we had a socket server native host application that loads managed applications as plugins. We had only one process that is able to load many applications and *share ports* between them.
now when we have a netcoreapp3 host application we still have to keep the option of port sharing.

all these hassles about isolation are just because we have statics in our code

[2019-11-18 11:51] vitek-karas commented on #42572
Thanks a lot for the description - I was mostly wondering "Why do you think you need to provide isolation?". Statics are a reason, but they imply that you expect your assemblies to be used in "weird" ways (as in loaded potentially twice and so on), ALCs will typically not help with that as by the time the code gets to you, it might already be too late.

[2019-11-18 11:52] johnnyasantoss commented on #42607
Yep its buggy, but it is just to demonstrate the delay between the release and the actual release of the semaphore.

Yes

Not yet, but will do.

Thanks, I'll investigate this further and time the `Thread.Sleep`s in the tests.

[2019-11-18 11:54] johnnyasantoss commented on #42607
Apparently you were right. The `Thread.Sleep` calls are taking a lot more time than it should. (see [this log](https://dev.azure.com/johnnyasantoss/semaphore-slim-osx-repro/_build/results?buildId=50&view=logs&j=e44bd064-d8d9-5feb-6343-09b8c49ab1a8&t=85a1ad8e-4daf-5689-e663-871501e587ee&l=48))

[2019-11-18 12:18] shvez commented on #42572
Assembly 'Application' from the sample in our code is very basic assembly that is used to build real applications. So, it can be loaded twice or trice

this part I did not really get.

I hope there are more guys working with you and someone who is gure of ConfigurationManager could help :)

[2019-11-18 12:52] DylanMunyard commented on #38295
I had this exact same stack trace when the certificate path didn't exist, in my launchSettings.json environments variables I had this:
`"environmentVariables":
{
  "ASPNETCORE_ENVIRONMENT": "Development",
  "ASPNETCORE_Kestrel__Certificates__Default__Password": "<<Password>>",
  "ASPNETCORE_Kestrel__Certificates__Default__Path": "/home/dylan/ssl/"
}`

Accidentally omitted the certificate name. I h

[2019-11-18 13:40] VirRus77 opened #42627 "[System.Threading.Tasks.Dataflow] Data loss during parallelization of BufferBlock."
Good day.
Use:
System.Threading.Tasks.Dataflow v4.10.0

I needed to parallelize data processing on several implementations of handlers. When testing the implementation of parallelization, a data loss situation arose.
Example:
Program.cs
[code]
Test001.cs
[code]
Console output.
A different launch gives a different amount of missing elements:
[code]

P.S. Translated using Google Translate.

[2019-11-18 15:15] Symbai commented on #35229
This should definitely throw an error. It is not even documented in the breaking change docs: https://docs.microsoft.com/en-us/dotnet/core/compatibility/framework-core

What's the equivalent on .NET Core?

[2019-11-18 16:18] rynowak commented on #39483
I'm not certain we care deeply about the performance. Out of the box MVC *is configured* to do UTF8 and UTF16 for historical reasons, but IMO if you're not doing UTF8 on the web, you are doing the weird. No one has ever asked us to add something else to the defaults.

We need this feature just because it would be genuinely surprising if we didn't have it.

[2019-11-18 16:58] Clockwork-Muse commented on #42627
Side note: Your `main()` method doesn't launch instances in parallel; the loop shouldn't be any different than launching the application 10 times.

[2019-11-18 18:05] JohnL404 commented on #41972
I'm seeing the same exception when making repeated, rapid calls to the Azure Notification Hub using .NET Core 2.2.

**Exception:**
Microsoft.Azure.NotificationHubs.Messaging.MessagingException: Unexpected exception encountered TrackingId:fd5a6991-fe3e-4d48-84b2-374b67501738,TimeStamp:2019-11-18T17:27:37.9028139Z ---> System.Net.Http.HttpRequestException: No such host is known ---> System.Net.Socke

[2019-11-18 18:07] JTrotta commented on #41151
The same problem occurs on Linux using "/dev/ttyUSBX" port.
The Linux problem should be related to the DTR setting. It cannot be done on virtual ports.

[2019-11-18 18:07] lukos opened #42628 "The remote certificate is invalid according to the validation procedure"
Running a dotnet core 2.2 web api on Ubuntu 18.04 Docker image (mcr.microsoft.com/dotnet/core/aspnet:2.2-bionic). I am using MailKit (https://github.com/jstedfast/MailKit) to send an email and it works fine when I run locally on Windows 10 but fails on Linux:

`System.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the validation procedure`

Since it

[2019-11-18 18:16] kouvel commented on #35229
There's no reasonable equivalent in .NET Core and it's not planned to be supported there. https://github.com/dotnet/coreclr/issues/20705#issuecomment-443433749 and other comments in that issue describe the reasons for it.

Since this is a runtime-specific difference, when compiling for netstandard perhaps it could be a compat warning since they may run on runtimes that allow thread abort. When com

[2019-11-18 18:25] danmosemsft commented on #38497
@maryamariyan ?

[2019-11-18 18:54] wfurt commented on #37815
Is there any work left on this? If so, since 3.0 is out can somebody it give it try?
if it fails can we get output of  `strace -o trace.txt -f -s 200 -e trace=file XXX; grep ssl trace.txt  `. That should show what libraries .NET is trying to load.

[2019-11-18 18:57] vcsjones commented on #42628
I'm not familiar with MailKit, but after looking at their docs, it looks like they use the same `ServerCertificateValidationCallback` that's used elsewhere in .NET. You could then theoretically implement a validation callback that does additional logging, which should let you examine any validation errors. Something like:

[code]

You could also attempt to connect to the mail server using openssl

[2019-11-18 19:00] scalablecory commented on #42629
Might be a dotnet/winforms issue. CC @JeremyKuhne

[2019-11-18 19:36] ViktorHofer commented on #25364
This just happened on `netcoreapp-OSX-Release-x64-OSX.1014.Amd64.Open`: https://dnceng.visualstudio.com/public/_build/results?buildId=430712&view=ms.vss-test-web.build-test-results-tab&runId=13634674&paneView=debug&resultId=142346

[code]

[2019-11-18 19:37] ViktorHofer commented on #25364
cc @JeremyKuhne, @carlossanlop

[2019-11-18 19:48] pgovind commented on #40988
Just adding a note that https://github.com/dotnet/corefx/issues/26528 is very similar to this proposal. #26528 is an extension method only for Span, whereas an `IndexSet` makes sense across all collections that can be indexed. An `IndexSet` is more general than the `SpanSplitEnumerator` that #26528 asks for in that sense. However, I do recognize that `SpanSplitEnumerator` makes sense for when non-

[2019-11-18 19:52] pgovind commented on #40988
cc @GrabYourPitchforks

[2019-11-18 19:52] rstm-sf commented on #42623
@Gnbrkm41, thanks for the answer!

Yes, I was mistaken in not writing a better issue. The following I will add to the beginning of the topic:

I looked at the [System/Text/EncodingTable.Data.cs](https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/System.Text.Encoding.CodePages/src/System/Text/EncodingTable.Data.cs) (contains aliases for encodings that can be obtained

[2019-11-18 19:55] nathan-alden-sr commented on #42626
Out of curiosity, I went ahead and benchmarked this. I admit there is a great chance the way the benchmarked methods are written is sub-optimal. FWIW, YMMV, and all that. 😛

[code]

## Null
[code]
## Empty
[code]
## Non-empty
[code]

[2019-11-18 20:00] krwq commented on #41151
@JTrotta can you file separate issue on your problem, I don't think they're related - I've tried using Linux with some ttyUSB devies without issue so I suspect problem is different, we can merge the issues together if we notice it's same.

@YZahringer

I don't believe we've ever encountered any device which has done that.
I'm sceptical we should be checking file type at all but if we are then FILE

[2019-11-18 20:32] JTrotta commented on #41151
@YZahringer
May you share any working code on linux (debian)and virtual serial port?
Thank you

[2019-11-18 20:37] aik-jahoda commented on #41214
@the-exodus the bsdshortinfo works fine. Thank you for pointing to this API.

[2019-11-18 20:42] EricDahlvang opened #42630 "netcoreapp3.0 vs netcoreapp2.1 StreamReader difference"
[code]

Different results based on version:

![image](https://user-images.githubusercontent.com/11055362/69092167-aa337c00-0a00-11ea-9cdb-07c059cd0c68.png)

![image](https://user-images.githubusercontent.com/11055362/69092177-ae5f9980-0a00-11ea-8d59-c2cbfd07479e.png)

[2019-11-18 20:51] steveharter commented on #42590
I was suggesting to just try the non-async\Stream APIs to see if they are also slow in your environment (in order to help troubleshoot).

No. The default is 16K. The deserializer attempts to re-use the same buffer (i.e. does not "drain" the whole Stream ahead of time, unlike other deserializers). If the deserializer encounters a very large property (or an object or collection that uses a custom co

[2019-11-18 20:54] EricDahlvang commented on #42630
Same issue with 3.1

![image](https://user-images.githubusercontent.com/11055362/69093021-807b5480-0a02-11ea-9978-87f3a3e0cc2e.png)

[2019-11-18 21:10] vcsjones commented on #42630
This looks like it is taking arbitrary bytes (from a PNG) and reading them as a `string`, which I don't think was ever "safe" to do, and the behavior may differ from platform to platform.

If you need a textual representation of binary data it would be best to base64 encode it (or any other binary->text encoding scheme).

[2019-11-18 21:14] krwq commented on #41151
@JTrotta all APIs should just work the same (use SerialPort.GetPortNames for linux port names)

[2019-11-18 21:16] ahsonkhan commented on #42590
Also, given we can't really repro the results you are seeing reliably (including yourself), trying to figure out what could be causing this one-off slow perf is difficult, so trying to narrow things down might help (for instance, is involving IO in some way causing this issue).

So, in the environment that you saw slower perf, run just the S.T.Json benchmark (in isolation), run serialization/deser

[2019-11-18 21:26] buzuka commented on #30698
The problem is in EV_RECEIPT flag. It's purpose is just to register/deregister given events and report results to the output array without draining pending events. But the caller does not want any output array:

Parameters "0, 0" are eventList and nevents respectively and they mean empty list so kevent will not report any triggered events. What is happening on the event registration?
Let's look at

[2019-11-18 21:38] wfurt commented on #30698
Thanks @buzuka for update. It is good to understand what is going on and there is another effort to fix up 3.x and 5.0 so we may make more adjustments even if we got something to to 2.x.
On side note, 3.x has more fixes and it should be more stable. Give it try if possible.

[2019-11-18 21:42] tig opened #42633 "Support ObjectCreationHandling in JsonSerializerOptions like Json.NET does"
Json.NET supports `ObjectCreationHandling` options, but `System.Text.Json` does not.

https://www.newtonsoft.com/json/help/html/DeserializeObjectCreationHandling.htm

That's disappointing.

Or, am I missing something?

[2019-11-18 21:53] aspcompiler opened #42634 "dotnet core 3 on macOS Catalina: NetworkInterface causes high CPU"
You can find our code at https://github.com/awslabs/kinesis-agent-windows/blob/master/Amazon.KinesisTap.Shared/NetworkStatus.cs. It runs fine on Windows and macOS before Catalina, but causes high CPU on macOS Catalina.

High CPU is only caused by NetworkAddressChanged or NetworkAvailabilityChanged event handler. This occurs when we turn on/off VPN. This is to give you a heads up; we will do more w

[2019-11-18 23:31] danmosemsft commented on #42630
You might diff the two buffers and see what the point of divergence is. See whether you can narrow down the input data required to show the difference.

[2019-11-19 01:02] wfurt commented on #42622
MacOS can coalesce notifications and there may not be anything we can do about it.
cc: @aik-jahoda

[2019-11-19 01:07] wfurt commented on #42558
note that any Read() can return less than asked for and you need to be ready for that.
However we should not miss any data as well as that depends on underlying implementation.
You should provide small runable repro @ss4adam

cc: @krwq

[2019-11-19 01:10] wfurt commented on #42447
AFAIK Refresh is expected for compatibility reasons even if not really intuitive. Create() has similar behavior.

cc: @JeremyKuhne

[2019-11-19 01:28] Gnbrkm41 commented on #42623
cc @layomia, @tarekgh

[2019-11-19 01:56] AntonLapounov commented on #42447
Then we must revert #40677 as well.  We should either preserve compatibility or fix the issue consistently, not just one method of many.

[2019-11-19 02:24] stephentoub commented on #32615
I can of course see the benefits of these returning ValueTask, the primary way folks consume the result of these methods is with await, etc. But I do want to call out the dangers of making these return ValueTask.

Imagine someone today has:
[code]
Now they see we've added support for CancellationToken (yay) and add it to their code:
[code]
Little do they know they now have a bad race condition.

[2019-11-19 02:26] ahsonkhan commented on #42633
`ObjectCreationHandling` itself is **not** supported in `JsonSerializerOptions` today. This is primarily because we didn't see much need for it to prioritize it (you are the first one asking), and of course there are a whole bunch of Json.NET features that `S.T.Json` doesn't support right out the gate as its first release (some of which we probably won't ever support).

**What feature of `ObjectCr

[2019-11-19 02:37] danmosemsft commented on #40739
It would be good to understand the relationship of this proposal with https://github.com/dotnet/platform-compat. The latter is intended to find API that are deprecated or do not work in Core (eg Thread.Abort, although it doesn't seem to flag that one) or do not work in the targeted OS. It's been somewhat neglected. (I know we discussed this offline but it's good to record here.)

[2019-11-19 02:41] danmosemsft commented on #35229
As @khellang points out, https://github.com/dotnet/platform-compat was intended to flag this kind of defunct API. It's languished a bit, I mentioned this in https://github.com/dotnet/corefx/issues/40739 to see what we will do.

[2019-11-19 02:42] danmosemsft commented on #42621
@jkotas I guess there is no reasonable way to do this inproc using managed code anymore?

[2019-11-19 03:45] TempeBrennan commented on #42629
Sorry, I have reported a new issue to dotnet/winforms.

[2019-11-19 03:47] benaadams commented on #32615
Hmm, I see your point. Probably would need a different api shape, what methods would you suggest?

(In a similar vein as the Memory overloads on Stream; but starting at HttpClient -> getting the data)

I assume a partial read that you pass a Memory into would be a no go; as that's just replicating the Stream api on HttpClient.

[2019-11-19 04:20] EricDahlvang commented on #42630
The issue actually originated from a Microsoft.Rest.ClientRuntime.Azure.TestFramework TestRecorder problem fixed by changing the recorded bits https://github.com/microsoft/botbuilder-dotnet/pull/2979/files

This is just a small repro for you: https://github.com/dotnet/corefx/issues/42630

[2019-11-19 04:39] judeleander opened #42635 "Ignoring default values during serialization using System.Text.Json"
Currently there is no support for Ignoring Default Values while Serialization in `System.Text.Json`, which is required for ignoring default value for value types (Data type), the same support is available in [Json.NET](https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_DefaultValueHandling.htm), this can be achieved by adding an API **`IgnoreDefaultValues`** to the Json Serializer Options

[2019-11-19 04:51] danmosemsft commented on #42629
Resolving in favor of https://github.com/dotnet/winforms/issues/2389

[2019-11-19 04:51] #42629 closed

[2019-11-19 05:22] bharathm03 opened #42636 "API Proposal: System.Text.Json: Handle default value in serialization"
# Overview
To enable option to ignore properties from serialization when its current value is equal to default value. We can reuse the existing `DefaultValueAttribute` class for defining the default value for each property.

# Why
This API is needed to reduce the payload size of JSON text transferred between services which will improve the app performance.

# API Proposal
Add new API `IgnoreDefaul

[2019-11-19 05:55] MarkPflug commented on #42616
Your regex benchmark is "preparing" the regex each iteration. Try moving that out of the loop? That is probably the source of the bulk of the memory allocation. The regex should also probably be anchored with `"^" + pattern + "$"`. Your benchmark is only testing a string that matches? Shouldn't you also benchmark non-matches, since that would be the more common case in practice? You might also try

[2019-11-19 06:42] scalablecory commented on #42634
@wfurt @aik-jahoda

[2019-11-19 06:44] bnayae opened #42659 "ConfiguraAwait(false) usability"
# ConfiguraAwait(false) usability

Using ConfiguraAwait(false) consider as best practice within a class library.
The problem with it is that it very verbose repetitive task.
It would be better experience if instead of repeating this task over and over again we could set a default for the assembly within the .csproj (or alternative via assembly level attribute).
This way the compiler can add it for

[2019-11-19 06:48] wfurt commented on #42634
It seems like there are still digging. It would be nice to get small runable repro. The linked fragment will register for notifications as well as it will get all info from all interfaces. It would be interesting to know which parts is causing the troubles.

[2019-11-19 07:36] tmds opened #42637 "[enhancement] Add EventSource for Process"
These events would be written:
- child process created/creation failed, includes pid of child/errno, filename, arguments, and environment.
- child process exit, including pid of child, and exit code.

This makes visible what processes are launched from an application, and helps identify a process that exits with an error.

[2019-11-19 07:40] Symbai commented on #42616
@MarkPflug I was testing the bug-free IsMatchWithStarWildcard, not my custom code so that's irrelevant for the benchmark. Also moving this out of the loop will improve the benchmark but not cover real world scenarios. Same for compiled.

One real world scenario would be WPF collection filter:

[code]

CustomerFilter would be called by .NET for every item in the collection and the FilterString is c

[2019-11-19 07:46] adamsitnik commented on #42055
I've just tried and it does not change. I've also tested `ja-JP` and it does not help as well

[2019-11-19 08:12] adamsitnik commented on #42590
On macOs you can use `dotnet trace`. On Linux `dotnet trace`, `PerfCollect` or `VTune`. Here are the docs that describe how to profile: https://github.com/dotnet/performance/blob/master/docs/profiling-workflow-corefx.md

And here you can read more about micro benchmark design guidelines: https://github.com/dotnet/performance/blob/master/docs/microbenchmark-design-guidelines.md

[2019-11-19 08:25] scalablecory commented on #42106
Duplicate of https://github.com/dotnet/corefx/issues/37118

[2019-11-19 08:25] #42106 closed

[2019-11-19 08:49] VirRus77 commented on #42627
Good day. Thanks for the answer.
It's not about starting a function call in main () in 10 threads. So that inside the call function, "instances" wrapped in "TransformBlock" are executed in parallel without data loss.
I posted a  [test project](https://github.com/VirRus77/DataflowLossData) that displays the following results:
Run 1:
[code]
Run 2:
[code]
P.S. Translated using Google Translate.

[2019-11-19 08:52] tig commented on #42633
I hadn't actually used Json.NET's `ObjectCreationHandling` support and may have mis-interpreted what it did. I thought it gave an option for me to deserialize into an existing object instance. E.g. (psuedocode):

    class Doc{
        public string Title;
        public string Type;
    }
    ...
    // jsonString holds instance where doc.Type = "Foo";
    Document doc = new Document() { Title =

[2019-11-19 10:00] svick commented on #42616
@Symbai

You can compile the regex whenever `FilterString` is set and then use that from `CustomerFilter`. That way, you won't pay the cost of parsing the regex on every call to `CustomerFilter`.

[2019-11-19 11:15] mathysd commented on #41952
Not sure if this is related but I created a simple web api and two test projects XUnitTestProjectNetCoreTwo and XUnitTestProjectNetCoreThree. One is running as .netcoreapp2.2 and the other is running .netcoreapp3.0. I created a single test file in XUnitTestProjectNetCoreTwo and added this file as a link in XUnitTestProjectNetCoreThree. The test in XUnitTestProjectNetCoreTwo succeeds the test in XU

[2019-11-19 12:04] JTrotta opened #42638 "SerialPort error on Virtual Serial Port for USB LINUX"
The problem should be related to the DTR setting. It cannot be done on virtual ports.

This is the error opening a /dev/ttyUSB7 port:
`Hello World! Unhandled exception. System.IO.IOException: Broken pipe at System.IO.Ports.SerialStream.set_DtrEnable(Boolean value) at System.IO.Ports.SerialStream..ctor(String portName, Int32 baudRate, Parity parity, Int32 dataBits, StopBits stopBits, Int32 readTime

[2019-11-19 12:09] weltkante commented on #42621
Thanks for the suggestion and sorry for the late response. In-process would certainly be nicer for the reduced complexity, but if thats not possible I think I can start a secondary process from my watchdog timer and pass the thread id of the hanging thread on the command line.

[2019-11-19 12:13] lukos commented on #42628
So I tried with openssl and that looked to work OK. I didn't really know what I was doing afterwards but I could start the EHLO process with no issues.

I logged the results of the ServerCertificateValidationCallback, which shows RemoteCertificateChainErrors, the chain is shown below and it looks complete i.e. normal cert, intermediate and root but I don't know if there is an easy way to see this

[2019-11-19 12:17] vitidev commented on #38758
@bruno-garcia

There is no difference between resolving of attribute [DataMember] or [JsonPropertyName]. This is doing once and does not affect the final performance.

[2019-11-19 13:26] RobbyDeLaet commented on #38007
Moving to 5.0? That means we have to wait for a year at least? Back to JSON.Net it is.

[2019-11-19 13:37] lukos commented on #42628
OK, so now I have some more information. I logged the chain element status and I saw this for my top level certificate:

`unable to get certificate CRL`

This should give me more to dig into.

[2019-11-19 13:58] vcsjones commented on #42628
If you are getting `RemoteCertificateChainErrors`, then take a look at `chain.ChainStatus` array to determine what parts of the chain is invalid.

[2019-11-19 14:11] lukos commented on #42628
Hi @vcsjones that's the error I posted above.

So apparently Lets Encrypt do not include a CRL for the server cert but use OCSP stapling instead so perhaps a better question is: Should the SSL connection be failing due to a CRL missing in the cert and not just fallback to OCSP?

Of course I can leave the server check bypassed or try and ignore that specific error but that sounds a bit smelly to me

[2019-11-19 15:19] aspcompiler commented on #42634
Thank you for superfast response! I will try to provide more information. The problem only occurs sporadically. We are experimenting with [dotnet-trace](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-trace) to capture information. If you are willing to take a look of the trace, I can upload some.

[2019-11-19 15:20] mwaqasaziz commented on #41481
**ArchLinux with DeepIn Destro**

**_Finally succeeded after 5 days of effort_**

**Environment**

**Runtime and SDKs**

$ dotnet --list-sdks
3.0.100 [/opt/dotnet/sdk]
3.1.100-preview3-014645 [/opt/dotnet/sdk]
$ dotnet --list-runtimes
Microsoft.AspNetCore.App 3.0.0 [/opt/dotnet/shared/Microsoft.AspNetCore.App]
Microsoft.AspNetCore.App 3.1.0-preview3.19555.2 [/opt/dotnet/shared/Microsoft.AspNetCore

[2019-11-19 15:44] davidsh commented on #42628
Can you try using .NET Core 3.0? There were a lot of fixes to TLS/SSL handling and perhaps one of those fixes might solve your problem.

[2019-11-19 16:22] omariom commented on #42626
Check that you don't use DEBUG build of the benchmark

[2019-11-19 16:39] Aaronontheweb commented on #42371
Why not just take a dependency on the `OpenTracing` or `OpenTelemetry` packages here?

[2019-11-19 17:47] echesakovMSFT commented on #26220
Closed in https://github.com/dotnet/runtime/pull/117

[2019-11-19 17:47] #26220 closed

[2019-11-19 18:02] danmosemsft commented on #42621
@weltkante that is probably the best approach and it's more flexible too as you can potentially do more things in the future such as examine the heap, create a dump file, get native stacks, etc. The links I pointed to give information about those things, plus this may be useful for createdump:
https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md

I'll close

[2019-11-19 18:03] danmosemsft commented on #42638
Thanks. Any interest in offering a PR?

[2019-11-19 18:05] StephenBonikowsky commented on #42592
@vcsjones Thanks Kevin for providing @dehghani-mehdi the explanation.

@mconnew Can you confirm that there is no functional dependency on `System.Security.Principal.Windows`?

[2019-11-19 18:08] danmosemsft commented on #42616
Yes, to be fair you should move preparing and compiling the regex out of the loop -- if the concern is performance, that is what you would do.

[2019-11-19 18:09] tarekgh commented on #42055
@adamsitnik thanks for your quick try.

[2019-11-19 18:10] danmosemsft commented on #42592
@stephentoub this is an example of unfortunate dependency rooting.

[2019-11-19 18:22] weltkante commented on #42621
@danmosemsft I'm trying to implement your suggestion but it doesn't seem to work, I'm just getting an exception:
[code]

Here's the test program I've written, I'm passing the process and thread id manually for now:
[code]

Are you sure this is a supported scenario of this library? The linked code is explicitely checking for Windows.

[2019-11-19 18:42] ahsonkhan commented on #42633
Duplicate of https://github.com/dotnet/corefx/issues/37627

Let's move the discussion there.

[2019-11-19 18:42] #42633 closed

[2019-11-19 18:42] ahsonkhan commented on #37627
From @tig in https://github.com/dotnet/corefx/issues/42633

[2019-11-19 18:56] ShawnSteele commented on #42623
The set and behavior of encodings in the framework are not being changed.

In this particular case, these encodings are not very common.  Applications are really strongly recommended to Use Unicode, either UTF-8 or UTF-16.  If they do need to process legacy data in these rarer encodings, they should probably make that translation at a different layer in their architecture.  There's also an option

[2019-11-19 19:03] tarekgh commented on #42623
Thanks @ShawnSteele

@rstm-sf I want to emphasize on @ShawnSteele point for using Unicode encoding and try to avoid using legacy encodings. a couple of comments:

- If you want to see all supported encodings by the framework, you may refer to https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.getencodings?view=netframework-4.8
- You still have the option to support whatever encoding

[2019-11-19 19:03] #42623 closed

[2019-11-19 19:06] danmosemsft commented on #42621
@leculver , `clrmd` works on Linux right? Or only partially?

[2019-11-19 19:08] tarekgh commented on #42371
@Aaronontheweb .NET Libraries trying to not taking dependency on OOB packages because this create a lot of problems related to package versioning and security fixes.

[2019-11-19 19:11] terrajobst commented on #20256
* I've tagged this as a breaking change because we have concerns that now supporting format string will change behavior when people used format strings with `IntPtr`/`UIntPtr` (before it was ignored, now it would be honored).
* C# has new types `nint` and `nuint` that will compile down to `IntPtr`/`UIntPtr` (encoded similar to dynamic). When the value is typed as these new types, C# will support c

[2019-11-19 19:16] terrajobst commented on #20256
* I've tagged this as a breaking change because we have concerns that now supporting format strings will change behavior when people used format strings with `IntPtr`/`UIntPtr` (before it was ignored, now it would be honored).
* C# has new types `nint` and `nuint` that will compile down to `IntPtr`/`UIntPtr` (encoded similar to `dynamic`). When the value is typed as these new types, C# will suppor

[2019-11-19 19:19] leculver commented on #42621
@danmosemsft  It does support linux, but only certain flags.  This should be throwing a better exception...

In this case you need to pass a specific flag because ClrMD doesn't (yet) support a regular debugger attach on linux:  `using (var dt = DataTarget.AttachToProcess(pid, 1000, AttachFlag.Passive))`.  This flag means that we will _not_ pause the process or connect a real debugger to it.  We ha

[2019-11-19 19:19] tarekgh commented on #42602
@NinoFloris could you please answer @stephentoub question? Thanks.

[2019-11-19 19:26] weltkante commented on #42621
Ah, using that flag I'm getting further, now having to sort out security/access rights.

@leculver It's not necessarily a hang in the sense of a deadlock though, it can be a "livelock" as well, where the thread is doing useless stuff and never returning to the main event loop.

Is it save to iterate over the stackframes as shown above (will it snapshot) or can that produce a torn stacktrace? I'd r

[2019-11-19 19:26] tannergooding commented on #20256
@terrajobst, we said that `IComparable.CompareTo` should not be explicit and I don't see the notes around the parsing/formatting APIs (where I raised the concerns Jan had and we indicated we thought they were still fine to expose).

[2019-11-19 19:27] pentp commented on #20256
For enums, the current proposal is to allow `nint/nuint` but not allow constants that could have different meaning on different platforms: https://github.com/dotnet/csharplang/pull/2833#discussion_r347627900

[2019-11-19 19:28] layomia commented on #41598
Thanks @ericstj. #42420 fixes a different issue (discovered while debugging this one) described in that PR's description and illustrated in https://dotnetfiddle.net/hdhEDG. I've update the PR's description to make it less confusing.

A fix for this issue is not implemented yet.

[2019-11-19 19:28] leculver commented on #42621
A live lock may produce an odd/torn stacktrace.  It's still on my long-term todo list to get real process attach working, but I won't get to it this month.  Your best bet is to snap a coredump using `dotnet-dump` and inspecting with that.

[2019-11-19 19:29] terrajobst commented on #25295
* It seems odd to use `Parse`/`TryParse` when there are more components that just a single string that is being parsed.
* We should follow the `Uri.TryCreate()` pattern:
    - Remove `Parse()`, that's what the constructor does
    - Rename `TryParse()` to `TryCreate()`

[code]

[2019-11-19 19:36] stephentoub commented on #42592
@danmosemsft, is it?  It's one thing for System.Runtime.Caching.dll to have a dependency on System.Configuration.ConfigurationManager.dll; it's another for that dependency to persist when the linker is applied to a whole app.  Presumably we're not talking about the latter here, and if in the latter case the aforementioned GetRestrictedPermissions method isn't used, I would expect it to get trimmed

[2019-11-19 19:37] weltkante commented on #42621
Thanks for the advice, I guess I'll have to try making a dump then, was hoping I could avoid file management. This issue probably can be closed and I'll be asking over at clrmd repo if I should run into problems.

Any tracking issue I can subscribe to, or do you mean its just on your roadmap?

[2019-11-19 19:37] #42621 closed

[2019-11-19 19:37] terrajobst commented on #32582
* We want `false` to be the safe default
* We should follow existing naming conventions which includes `unsafe`

[code]

[2019-11-19 19:38] GrabYourPitchforks commented on #42251
Would also likely apply to https://github.com/dotnet/corefx/issues/32582.

[2019-11-19 19:43] wfurt commented on #42634
Good to know this is not deterministic. dotnet-trace does not capture native parts but that may be ok for this case. Knowing where we spent cycles when issue happens would be good.
If you get reasonable repro, you can also make body of the callback empty - either only log or update counters. One speculation I have is race condition in getting all network info when system is transitional state.

[2019-11-19 19:48] danmosemsft commented on #42592
@stephentoub - of course, you're right.

[2019-11-19 19:51] stephentoub commented on #42592
@danmosemsft, I just tried.  In a trimmed app that uses System.Runtime.Caching, the GetRestrictedPermissions method in System.Configuration.ConfigurationManager.dll gets linked away, as does its dependency on System.Security.Permissions.  System.Security.Principal.Windows sticks around though, because apparently (for reasons I don't yet understand and will need to look into), System.Net.Sockets ha

[2019-11-19 20:03] rstm-sf commented on #42623
@ShawnSteele, @tarekgh thanks!

Ok

I'm sorry that I could not get my point across. Therefore, the answer was not fully received (but more and more comes the understanding that yes, they are not supported)

The question nevertheless was whether there is a possibility on the part of Core, at the moment, to support these encodings.

For example, in the documentation I could not find the encoding `is

[2019-11-19 20:07] leculver commented on #42621
It's just on my roadmap.  Feel free to create an issue in the clrmd github repo though if you'd like to track it.

[2019-11-19 20:42] Grauenwolf commented on #25295
`Uri.TryCreate` doesn't follow the convention and shouldn't be mimicked. As far as I can tell, it's the only class that doesn't use Parse/TryParse.

[2019-11-19 21:28] tarekgh commented on #42623
@rstm-sf

I don't think we have any other codepages that have exact mapping as the mentioned codepages. I am even not sure using x-cp50227 for iso-2022-cn will be good enough either. It is close but not exact I guess.

[2019-11-19 21:35] tig commented on #37627
FWIW, here's my scenario just so y'all have an understanding of why I think this feature is important:

I'm building an app that uses JSON as a config-file format, ala VS Code, Windows Terminal, etc... All the cool kids are doing this. Like those apps, I have a filesystem watcher that watches the .config file for changes. Like those apps, I'd like all my settings to refresh when this happens.

The

[2019-11-19 21:41] scalablecory commented on #10632
triage: we are okay with this but need an API proposal.

[2019-11-19 21:42] scalablecory commented on #28131
triage: look at other networking apis and add a mega-issue to spanify them.

[2019-11-19 21:46] Luis-Palacios commented on #40503
boomer 😢

[2019-11-19 22:39] stephentoub commented on #40711
This failed here:
https://dev.azure.com/dnceng/public/_build/results?buildId=432120&view=ms.vss-test-web.build-test-results-tab&runId=13685330&resultId=176979&paneView=attachments
with a dump:
https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-109-merge-ec88cd5945b2414080/System.Net.Mail.Functional.Tests/core.1000.2978?sv=2018-03-28&sr=c&sig=UoH%2BhlFBrmG6aZOoS3xmJ1kCv

[2019-11-19 22:50] mjrousos commented on #39363
I took a look and `DelimitedListTraceListener`'s "delimiter" value is the only thing attributes were used for previously! I'll make a PR to bring back the few lines of code in `DelimitedListTraceListener.Delimiter`'s getter to add this behavior back.

[2019-11-20 01:07] heaths opened #42643 "Docs for LazyInitializer.EnsureInitialize<T>(ref T) are wrong"
In the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.lazyinitializer.ensureinitialized?view=netstandard-2.0#System_Threading_LazyInitializer_EnsureInitialized__1___0__) for `LazyInitializer.EnsureInitialize<T>(ref T target)`, it states,

The code uses `Activator.CreateInstance` if not already null (guarded by `Interlocked.CompareExchanged`) but `target` is only ever

[2019-11-20 01:17] danmosemsft commented on #42643
edited for formatting...

[2019-11-20 01:20] danmosemsft commented on #42643
I think you are correct, @stephentoub do you agree.

[2019-11-20 01:20] danmosemsft commented on #42544
This is hard to explain, as there were very few changes in coreclr between 3.0 and 3.1. Certainly no changes to ReadOnlyMemory, but no other changes in corelib or vm that seem relevant. Only one change in JIT, that is not obviously x86 only. The test is very simple.

[2019-11-20 01:22] wfurt commented on #42631
cc: @bartonjs

[2019-11-20 01:41] bartonjs commented on #42631
@krwq do you have some time to look into this one?

[2019-11-20 03:29] stephentoub commented on #42643
Yes, it's just a copy/paste from the `Func<T>`-based overload where it's correct.  It can be removed from this one without the func.

[2019-11-20 04:07] sujayvsarma commented on #42626
Since no one seems to be interested in understanding the problem and a bulk of the response seems to be around benchmark numbers with contrived tests that have nothing to do with real life scenarios and blind insistence am closing this issue.

[2019-11-20 04:07] #42626 closed

[2019-11-20 04:35] danmosemsft commented on #42643
@heaths note that the source of truth for the docs here is not code comments in this repo. It is in https://github.com/dotnet/dotnet-api-docs
A PR would be welcome there..I'll close this.

[2019-11-20 04:35] #42643 closed

[2019-11-20 05:13] Gnbrkm41 commented on #42626
I am not trying to dismiss your claim entirely; I just think that the problem is not something to do with the aforementioned method, and so I would like to look at the problem with more context.

If you could post the source code (Not the CSV file, because that likely would have sensitive information in it) before and after the change of how you're using this method to process your large CSV file,

[2019-11-20 05:47] sujayvsarma commented on #42626
The CSV file is not scary or sensitive. But the basic API spec was its a CSV file, so use the RFC specs to read it [with all its ifs and buts]. So the code that parsed the file had to consider all of those ifs and buts. And, it needed to do this every time the app started up.

Since it was a Web API, it had to do it as fast as the web server would wait. The web server in turn [out of the box confi

[2019-11-20 07:56] davidfowl opened #42645 "API proposal: New Timer based on IAsyncEnumerable"
To solve of the common issues with timers:
1. The fact that it always captures the execution context is problematic for certain long lived operations (https://github.com/dotnet/corefx/issues/32866)
2. The fact that is has strange rooting behavior based on the constructor used
3. The fact timer callbacks can overlap (https://github.com/dotnet/corefx/issues/39313)
4. The fact that timer callbacks ar

[2019-11-20 07:57] YZahringer commented on #41151
@krwq Thank you for the answer. The different programs I use to debug the serial port works, it's only .NET that denies access to `FILE_TYPE_DISK` type. I don't really see any reason for that.

If this cannot be supported, it may be appropriate to provide a more detailed error message?

[2019-11-20 08:04] ehouarn-perret commented on #42645
I like the idea, but when it comes to stop the timer I found it a little bit weird (I mean I guess in your example, that would involve a break to get out of the `foreach` loop).

[2019-11-20 08:08] davidfowl commented on #42645
Right, it's pull so you stop the timer by breaking out of the loop, or using a cancellation token with the IAsyncEnumerable to stop it from running (that also works if you're not directly in the loop).

[2019-11-20 08:12] NtFreX commented on #42645
[code]

As long as we get some good helper methods simular to the one above I like fanciness.

[2019-11-20 08:14] davidfowl commented on #42645
The entire point of this is to avoid callbacks, but if you want to write that helper, have at it 😄

[2019-11-20 08:28] jkotas commented on #20256
If these are properties, the C# implementation for these will "just work" and generate good code predictably. No JIT or VM changes are required.

If these are readonly fields, a lot of ceremony is required to predictably generate good code for these, custom built in each runtime, AOT compiler, etc. We can make it work, but it is pain.

[2019-11-20 08:56] NicolasDorier commented on #42645
That is sexy. Though it is difficult to know from the look of it, what happen if a tick happen while we are not `awaiting`. Do they queue up? get ignored?

[2019-11-20 09:25] ankitbko commented on #42645
Seems very similar to [rx timer](https://www.learnrxjs.io/operators/creation/timer.html)

[2019-11-20 09:25] svick commented on #42626
@sujayvsarma

It tells me that *in your specific case*, replacing `string.IsNullOrEmpty` seemed to improve performance significantly. That could have a number of causes, but all we can do is to guess about them unless we're able to reproduce your results.

What it doesn't tell me is that `string.IsNullOrEmpty` is slow in general. And it certainly doesn't tell me that adding an overload where the `

[2019-11-20 09:37] sujayvsarma commented on #42626
Statement A = 18.5 seconds, causes timeout, app fails to be loaded, customers angry
Statement B = 7.32 seconds, everything works perfectly

Root cause: Statement A

A perf improvement by 2x is not a "seemed". A tangible "app failed to start" vs "app running smoothly" is not a "seemed".

[2019-11-20 09:38] yb199478 opened #42646 "Program crashes when using API LastAccessTime"
I am trying to write the following code(.net core 3.0):

[code]

The program crashed in macos(The same code works fine on windows):

[code]

It seems to work fine in `.net core 2.0`, `2.1`, but it is broken in `.net core 3.0` .

- **dotnet --info**

[code]

[code]

[2019-11-20 09:58] karlra commented on #42341
Would it be possible to get an update on this? Performance gets exponentially worse for every transaction, even after a few million SQL queries we need to restart the service. Very disappointing to see this scheduled for 5.0. This class is the only way as far as I can tell to use SQL transactions in an asynchronous context so it must be very important but doesn't see to be treated as such.

[2019-11-20 10:03] willdean commented on #42645
With apologies for the bike-shedding, but can I suggest it's called something other than `Timer`?

We already have these three famous ones:
`System.Threading.Timer`
`System.Timers.Timer`
`System.Windows.Forms.Timer`
Plus another few I didn't know about until I looked at Reference Source just now.

People don't always qualify which one they're talking about (#32866 is a good example), and adding an

[2019-11-20 10:06] willdean commented on #42638
Isn't this just a fault in the virtual port implementation?   Why would it not allow you to control DTR?

[2019-11-20 10:25] svick commented on #42645
[code]

I take it this is [`System.Threading.Timer`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.timer.-ctor?view=netcore-3.0), and not [`System.Timers.Timer`](https://docs.microsoft.com/en-us/dotnet/api/system.timers.timer?view=netcore-3.0), or some new namespace?

[code]

Assuming this method is indeed added to `System.Threading.Timer`, I feel like calling it `Create` is not suf

[2019-11-20 10:38] vshapenko commented on #42645
Maybe this should be an extension to System.Threading.Channels?

[2019-11-20 10:39] eugenesmlv commented on #42582
I'm working on this issue.

[2019-11-20 11:13] ulfemsoy opened #42647 "Bug in DateTimeConverter when time has been specified"
When converting DateTime, with a specified time, to string the wrong format is used.
Source: System.ComponentModel.TypeConverter/src/System/ComponentModel/DateTimeConverter.cs (line #120)

The following line (line number 120)
return dt.ToString(format, CultureInfo.CurrentCulture);

should be replaced with
return dt.ToString(format, culture);

[2019-11-20 11:32] stephenlautier opened #42648 "netcore 3 intermittent http client errors"
After updating to netcore 3 we are getting several issues with the HttpClient, failing randomly - we have 2 scenarios which fails "similarly" in different projects.

##### Error 1
This is a running E2E test project performing a lot of HttpClient to call Api's and randomly a call fails, sometimes they do all work correctly.

[code]

##### Error 2
This is an aspnet project with SSR for angular - cal

[2019-11-20 13:01] ipoetry opened #42649 "We hope that dotnet core platform can native support to create WebP"
WebP is widely used，but there was not a uniform and good universal one in WebP produce methods.

Thanks !

[2019-11-20 13:04] JTrotta commented on #42638
@danmosemsft  Yes fore sure.
I have to understand haw to copile corefx, first :-((

But the solution is very easy. The constructor (or a new boolean property), should allow to set or not DTR .

[2019-11-20 13:22] Darlingtone commented on #38579
I don't think **System.Text.Json** should have be released nor made the default handler for ASP.Net without any form of Cycles (Reference Loop) handling, given how deeply dependent ASP.Net or any modern .Net application for that matter depends on EF.

Using EF for any real world application you are most likely (99.99% likely) to require Reference Loop Handling with serialization/deserialization, s

[2019-11-20 14:28] tamlin-mike commented on #40666
Indeed. How such a misleading name with such a broken implementation got to be placed in public API's is baffling.

I've been banging my head against this for the last few days. I have two types - one data struct and one (generic) XML serializer. `IsAssignableFrom` is, based on the name, _completely broken_. It responds `false` for both ways of assigning between the two, yet when actually assignin

[2019-11-20 14:41] Gnbrkm41 commented on #42647
https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/DateTimeConverter.cs#L120

[2019-11-20 15:05] Alexei-B commented on #41612
The solution @andre-ss6 came up with above using the internal default settings demonstrates that this is a real issue.
Can we get some movement on this? It's a pain to have to deal with libraries using System.Text.Json that don't let me configure these options.

[2019-11-20 15:20] heaths commented on #42643
Thanks for the pointer. Didn't realize that.

[2019-11-20 15:38] benaadams commented on #42626
Ah, if its during startup it may be tiered compilation not inlining (at tier0)?

You could try adding this to your `.csproj` and see if it makes a difference:
[code]

Then publish you app as release mode in the usual way
[code]

@kouvel would R2R inline `string.IsNullOrEmpty` in user code, or do the version bubbles not work that way atm?

[2019-11-20 15:41] suchoss opened #42650 "System.Net.HttpClient is stripping body for some statuses"
Hello,
today I "discovered" a "problem" with HttpClient. I have already described the problem on [StackOverflow](https://stackoverflow.com/questions/58956869/is-there-any-way-how-to-get-httpresponsemessage-content-body-when-response-is-ht/58957661#58957661).

I would like to open a discussion if there is any real reason for stripping of content from response body? I am writing about following .net

[2019-11-20 15:44] davidfowl commented on #42645
@svick you can use IAsyncEnumerable for that as well. What you wrote is literally GetEnumertor + MoveNextAsync

[2019-11-20 15:49] alefranz commented on #42645
That's definitely the right approach, but I think it would be nice to customize what happens when a tick is missed: return immediately on await vs wait for the next tick (so to get back in sync)

[2019-11-20 15:52] stephentoub commented on #42645
Just to make sure I understand the proposal, you're basically proposing this, right? (I'm not sure what the TimeSpan is meant to be an offset from, so I've just used DateTime here.)
[code]
?

[2019-11-20 15:54] abbotware opened #42651 "Dataflow - Aggregation Block and Rendezvous Block"
I have a few use cases where a pipeline chain depends on certain conditions before the pipeline can proceed.

**Aggregation** - C runs with a single input - an aggregation of B once B receives a complete notification.

`A-> B(sum) ->  C`

**Rendezvous** (barrier) - C runs only when B.1 and B.2 are set to complete
[code]

In both cases, I can wire up the the behavior using the exposed Completion  T

[2019-11-20 16:01] ankitbko commented on #42645
If we are open for new name, I would propose `Interval`.

But adding something similar to Timer under new name smells bad. Creates unnecessary confusion.

[2019-11-20 16:07] rstm-sf commented on #42623
@tarekgh thanks!

[2019-11-20 16:14] crima commented on #39260
I've got the same issue. I'm forced to use a REST API wicht cannot recognize the Content-Type if there is a space in semicolon and parameter. I'm using the method MediaTypeHeaderValue.Parse() which adds a space. I've already contacted the vendor about this issue, but I don't think that they will fix that very soon.
But I would also expect from the framework to let the data as it is and to not chan

[2019-11-20 16:16] stephentoub commented on #42650
If you are actually asking about HttpClient, then the relevant code is actually here:
https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/HttpConnection.cs#L602-L606

Note that sending a response body with a 204 status code is invalid according to the HTTP specification:
https://www.w3.org/Protocols/rfc2616/rfc26

[2019-11-20 16:22] omariom commented on #42645
Now we need this
[code]

I can't find @stephentoub's proposal on the subject :neutral_face:

[2019-11-20 16:23] vcsjones commented on #42646
It looks like this code is running on macOS 10.12. .NET Core 3.0 [requires macOS 10.13 or later][1].

The `utimensat` function that us being used by .NET Core is not available on macOS 10.12.

[1]: https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites?tabs=netcore30

[2019-11-20 16:27] davidfowl commented on #42645
@stephentoub Yep. But with `BoundedChannelFullMode.DropOldest`, though that really only matters if we find something useful to put in the `<T>`. Originally I was thinking time since last tick so if the code execution lasts longer than the period, you'd get a timespan that represnted how long between MoveNext calls but it was late, I dunno if that's useful 😄

[2019-11-20 16:34] suchoss commented on #42650
Sorry, I was asking about HttpClient. Thanks for the clarification.

[2019-11-20 16:39] stephentoub commented on #42645
That's problematic with `IAsyncEnumerable<T>`, assuming you want to perform this operation more than once, because a) you need to get an enumerator in order to read from it and that enumerator may "start over" depending on the source, but more importantly b) once you call MoveNext() you've pushed the enumerator forward and you can't take it back; that effectively ruins it for a subsequent consumer

[2019-11-20 16:39] suchoss commented on #42650
I guess that it is a correct behavior then... When it is called HttpClient it should probably follow Http spec. Thanks for your time @stephentoub .

[2019-11-20 16:39] #42650 closed

[2019-11-20 16:48] adam-currie opened #42652 ".net core"

[2019-11-20 16:52] davidfowl commented on #42645
Why?

[2019-11-20 16:54] stephentoub commented on #42627
Just took a peek.

Looks to me like a bug around completion and the reordering buffer employed by `TransformBlock`, with the block incorrectly completing even if data remains in the reordering buffer.

Are you able to repro if you add:
[code]
to the `ExecutionDataflowBlockOptions` you pass to your `TransformBlock`s?

[2019-11-20 17:16] VirRus77 commented on #42627
By adding "EnsureOrdered = false" the error with the loss is not reproduced. Thanks.
[code]

P.S. Translated using Google Translate.

[2019-11-20 17:28] danmosemsft commented on #42643
@heaths there's no way you could know -- we're quite anomalous in that respect. It's a legacy of history -- most of the API docs were written independent of the code comments over the years, and we don't plan to attempt to reverse engineer them back into the code. When we write new code, we do comment it and do a one-off ingestion, subsequently they live over there.

[2019-11-20 17:29] danmosemsft commented on #42646
@vcsjones is correct. @yb199478 can you please upgrade your mac, and confirm that the problem is fixed, is that possible.

I am not sure whether 10.12 is still in support. Hopefully your hardware supports 10.13 or later.

[2019-11-20 17:30] #42646 closed

[2019-11-20 17:36] StephenBonikowsky commented on #42341
@dasetser Have you had a chance to look into this yet?

[2019-11-20 17:43] Tratcher commented on #42598
This caused significant regressions in Entity Framework (400+ test failures) and they will not be able to take dependency updates until this is fixed.

[2019-11-20 17:48] willdean commented on #42645
I can't speak for the OP, nor whether this sort of an option would acutally be a good thing, but sometimes I want a one-second timer to mean "run this code 3600 times an hour", and sometimes I want it to mean "wake this code up roughly once a second".

Clearly all such things are no better than 'best effort' on this sort of platform, but to me there is a discernible difference in intention.

[2019-11-20 18:05] krwq commented on #41151
I don't have any strong objections to remove the restriction. @wfurt, @JeremyKuhne do you know of any objections to remove this check: https://github.com/dotnet/corefx/blob/88f40addc220c73794f962f10d288c20c416ede1/src/System.IO.Ports/src/System/IO/Ports/SerialStream.Windows.cs#L587? Seems We have some devices which use FILE_TYPE_DISK and possibly other values

[2019-11-20 18:06] ericstj commented on #38966
Failed again.  Here's a dump: https://helix.dot.net/api/2019-06-17/jobs/b40ed2a0-5a9f-4d81-9bb5-62900426af75/workitems/System.IO.FileSystem.Watcher.Tests/files/core.18074  (it's 3.4 GB! get it while its hot / still available)

[2019-11-20 18:49] kouvel commented on #42626
R2R and tier 0 JIT currently would not inline `string.IsNullOrEmpty`. For R2R, the version boundary is the module currently, and tier 0 JIT currently does not do any inlining. I'd be interested in knowing if and how much turning off tiered compilation as indicated above helps. It may make sense to inline small methods like these during tier 0 JIT.

[2019-11-20 19:00] krwq commented on #42631
@VladislavMorozov I think the problem might be with how you generate the privateKeyInfoData. When I use this instead of the base64:

[code]

`((ECPrivateKeyParameters)pair.Private to get `ECPrivateKeyParameters` the token gets correctly generated. Is it possible you are hitting issue similar to this: https://stackoverflow.com/questions/9414125/export-ec-private-key-from-bouncycastle-and-import-int

[2019-11-20 19:04] wfurt commented on #41151
I'm not sure about type on Windows but for Linux we should be able to use anything as far as termios() succeed.

[2019-11-20 19:10] stephentoub commented on #42598
To unblock EF I've put up a fix for this in the (still private but soon to be public) dotnet/runtime repo.

[2019-11-20 19:13] krwq commented on #42631
Ok getting same results on Linux.

On both Windows and Linux ocassionally (< 1% chance) getting this:

[code]

I suspect that is the bouncy castle issue though

[2019-11-20 19:22] dougbu commented on #42598
@stephentoub I believe it'll be a while (weeks?) after the dotnet/runtime repo is public before it begins pushing to the '.NET Core 5 Dev'. Good thing we're not in a rush for new CoreFx features.

Or was @mmitche being pessimistic when he said that in https://github.com/aspnet/EntityFrameworkCore/pull/18949#issuecomment-555622384 ?

[2019-11-20 19:26] mmitche commented on #42598
@jaredpar says "december 15th" but optimistically first week of december.

[2019-11-20 19:49] VladislavMorozov commented on #42631
System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=System.Security.Cryptography.Algorithms
  StackTrace:
   at System.Security.Cryptography.ECDsaImplementation.ECDsaOpenSsl.SignHash(Byte[] hash)
   at Microsoft.IdentityModel.Tokens.AsymmetricAdapter.SignWithECDsa(Byte[] bytes)
   at Microsoft.IdentityModel.Tokens.AsymmetricSi

[2019-11-20 19:49] VladislavMorozov commented on #42631
I have this exception

[2019-11-20 19:50] VladislavMorozov commented on #42631
Always after the first iteration in the loop throws exception.

[2019-11-20 19:53] VladislavMorozov commented on #42631
@krwq please use ECDsa.Create in using construction in Linux container

[2019-11-20 19:55] dasetser commented on #42341
I haven't had a chance to investigate the cause of this yet. Once we understand the root cause we can consider whether this is a candidate for servicing, but that will depend on the details of the fix (how big/risky it ends up being).

[2019-11-20 19:56] wfurt commented on #38966
The core file is incomplete or corrupted:
[code]

We should **never** limit core size as that makes them unusable. Also it is full of zeros and compressed size is _only_ ~ 400M. We should not dump them raw to storage if we care about size. Should we open new issue to make core dumps  on OSX usable @ericstj ?  And if so I'm not what is correct repo and team to work on this.

[2019-11-20 20:00] wfurt commented on #38966
cc: @epananth for core file part.

[2019-11-20 20:04] ericstj commented on #38966
I'm guessing https://github.com/dotnet/arcade and tag @mjanecke @alexperovich @ChadNedzlek

[2019-11-20 20:07] mikem8361 commented on #38966
The clrstack error message means that SOS can’t find the right version of the DAC.  Try enabling download support with “setsymbolserver -ms” and SOS will attempt to download the correct version. There still may be problems with the dump and there still is the swift lldb bug with coredump thread ids (see https://github.com/dotnet/diagnostics/blob/master/documentation/debugging-coredump.md#launch-ll

[2019-11-20 20:28] srsrsrsrsrsrsr commented on #38173
I would like to use NTLM on Linux without having to hardcode the credentials - is this possible at all? (I can connect to GSSAPI/Kerberos-authenticated services from my Linux box without any problem as I initialized a keytab using "kinit", and "klist" shows the ticket from the TGT)

When using "request.Credentials = CredentialCache.DefaultCredentials" I get the following error, even with gss-ntlms

[2019-11-20 20:32] davidsh commented on #38173
Not possible.  On Windows machines can use "default credentials" for NTLM.  But Linux has no OS concept of "default credentials".  On Linux "default credentials" means to use an existing cache of a Kerberos ticket, presumably created via a prior 'kinit' command.

[2019-11-20 20:35] BockTim91 opened #42655 "ODBC Arithmetic overflow error Accessing AS400 DB2 (Update, Delete, Insert)"
We are trying to hit our AS400 running a DB2 instance. When we run a OdbcCommand.ExecuteNonQuery() for select, everything works no issue. However, when executing a simple update, or delete command, we encounter the below error. Our current workaround is to just squish all arithmetic errors out of our execute command, which is unacceptable.

[code]

We are using VS 2017 with netcore 2.2

[2019-11-20 21:06] safern commented on #20069
Happened again: https://dev.azure.com/dnceng/public/_build/results?buildId=433228&view=ms.vss-test-web.build-test-results-tab&runId=13729494&resultId=176879&paneView=debug

Configuration: `netcoreapp-Windows_NT-Debug-x64-Windows.10.Amd64.Server19H1.ES.Open`

[2019-11-20 21:06] #42598 closed

[2019-11-20 21:20] dkmiller commented on #41537
Seconding this. It would be extremely useful.

[2019-11-20 21:21] benaadams commented on #42626
R2R could mark them as good candidates in some way without the JIT having to inspect the full method at tier 0?

[2019-11-20 21:28] safern commented on #42612
Shouldn't we just have global properties for those and then when servicing an individual package/assembly, just override it in the project `Directory.Build.props`? That's what we do now.

We already have a centralized package version set globally and we just override it directly in the project if we need to bump just that package for servicing.

[2019-11-20 21:33] Ulisse67 commented on #42216
I had finally the time to build CoreCLR on my machine (WSL1 within Win10) and have run the performance tests for a version with strncmp + lookahead(1):

![performance-strncmp-lookahead](https://user-images.githubusercontent.com/7596548/69279540-de679200-0be4-11ea-950b-142107675800.PNG)

And then for a version using pointers:

![performance-pointers-static](https://user-images.githubusercontent.com

[2019-11-20 21:39] krwq commented on #42631
@VladislavMorozov can you inspect if hash being passed to SignHash is null or ECDsaOpenSsl variable is set to null? If so then I think the issue will belong to:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues

If this is coming somewhere inside of ECDsaOpenSsl then we can look further

[2019-11-20 21:47] bartonjs commented on #42631
A null hash looks like it's properly tested for.  The `_key` lazy key loader must be null (as the only thing in that method that gets dereferenced)

[2019-11-20 21:49] VladislavMorozov commented on #42631
![image](https://user-images.githubusercontent.com/31768904/69281013-8f2b5c80-0bf8-11ea-823f-105fadc5fd2b.png)

[2019-11-20 21:50] bartonjs commented on #42631
(And _key being null would have been an ObjectDisposedException anyways.)  Huh.

[2019-11-20 22:02] kouvel commented on #42626
Maybe, though the IL size might be available without scanning the method

[2019-11-20 22:13] ofirgeller commented on #41347
There are legitimate use case for adding the $type property, the breeze js library depends on it for example.  Unsafe de-serialization is an separate matter. you can object to supporting that and still let us add the $type property easily.

[2019-11-20 22:51] ericstj commented on #42612
We need to think through the scenarios and document what the process should be.  Think of this like servicing readiness.  I'm certain there will be multiple differences from 3.x.

[2019-11-20 22:53] karlra commented on #41541
Can I also ask why there is no CompleteAsync? That is also an I/O operation and potentially long running.

[2019-11-20 22:56] layomia commented on #42636
Duplicate of https://github.com/dotnet/corefx/issues/42635.

[2019-11-20 22:56] #42636 closed

[2019-11-20 22:57] layomia commented on #42635
This might overlap with https://github.com/dotnet/corefx/issues/40600 which discusses conditional ignoring per property.

[2019-11-20 23:24] scalablecory commented on #42652
You're in the right place for .NET Core. Did you have a question?

[2019-11-20 23:49] tarekgh commented on #42659
CC @stephentoub

[2019-11-20 23:49] scalablecory commented on #42651
Re: the "Rendezvous" model, are you saying that B has two outputs, and you want to forward both results to C at once? `BatchBlock` might fit for you here. If not, can you explain the goal in more detail?

How would you use these if they were not sealed?

In a general sense, keeping things internal allows more flexibility for changes down the road. Once they go public you're more or less locked in,

[2019-11-21 00:01] scalablecory commented on #42648
You're migrating to .NET Core 3.0 -- were you previously using .NET Core 2.x, or are you coming from .NET Framework 4.x?

"The response ended prematurely" indicates that HttpClient was expecting X bytes in a response and the connection was closed by the server before it could read all of them.

Are you able to reduce this behavior into a small repro?

[2019-11-21 00:04] stefanruijsenaars commented on #38173
I do have those - but if I understand correctly, I can't use those for NTLM auth, as it's not possible to use the credentials in the existing cache (KRB5CCACHE) to authenticate to a http service that allows NTLM authentication only, as these are not "OS-level default credentials", and can be used for Kerberos authentication only (and not NTLM)?

Just to clarify, if all of these conditions are met

[2019-11-21 00:34] scalablecory commented on #42645
Reactive's `Observable.Interval` is nice, but it seems weird usability-wise for the return to be an `IAsyncEnumerable`.

[2019-11-21 00:51] stephentoub commented on #42659
This isn't a library issue / request, but rather something for the language compiler. There are already multiple related issues in the csharplang repo, e.g. https://github.com/dotnet/csharplang/issues/2542, https://github.com/dotnet/csharplang/issues/2746, etc.

Thanks.

[2019-11-21 00:51] #42659 closed

[2019-11-21 00:57] danmosemsft commented on #42655
Is it possible to attach a debugger to figure out exactly where (what line/values) this is coming from in the code?

VS should be able to resolve symbols and sources when you debug.

[2019-11-21 01:01] andy-ms commented on #42499
An example implementation of this is in the `runtimeconfig` branch of my `runtime` fork.

[2019-11-21 01:16] GrabYourPitchforks opened #42660 "API Proposal: string.Remove(Range)"
Pretty straightforward scenario. I have a string of the form `"<value>"`, and I want to strip the enclosing `<` and `>` from it.

Currently the way to do this is to write the code:

[code]

If there were a range-based API, it could be written more cleanly:

[code]

[2019-11-21 01:41] davidfowl commented on #42645
@scalablecory can you elaborate?

[2019-11-21 02:40] abbotware commented on #42651
@scalablecory - i mean more like this

[code]
where B and C are 2 different blocks..  D can't continue until B and C get a complete() ... I feel like perhaps a broadcast and join can be wired together (with propagating completion)- but I don't ever expect B and C to produce any more messages after they are signaled.

I think it would be a lot easier to create an AggregationBlock that inherits Tran

[2019-11-21 03:25] stephentoub commented on #40711
Failed again here:
https://dev.azure.com/dnceng/public/_build/results?buildId=433585&view=ms.vss-test-web.build-test-results-tab&runId=13748274&resultId=176977&paneView=attachments
with a dump here:
https://helix.dot.net/api/2019-06-17/jobs/6f20c57d-10e0-4aa6-9740-85f01db2a599/workitems/System.Net.Mail.Functional.Tests/files/core.1000.2181
@tmds, do you have everything you need for this?  It's cau

[2019-11-21 05:14] Jozkee commented on #38579
#41002 is a work in progress where I am shaping an API to provide support for preserving references and handling loops.

Instead of having two options as in Json.Net I am exposing just one while discarding *forcing serialization* and *preservation granularity* which are not as important to have on a first effort and also to avoid overlapping which may cause trivial behaviors.

The next table show

[2019-11-21 05:38] heng-liu opened #42661 "CryptographicException is not created with the right HResult"
We have 2 broken tests because the HResult has been changed for the CryptographicException exception, when using latest SDK(eg. 5.0.100-alpha1-015732).
It looks like the CryptographicException is not initiated with a right HResult on Linux and Mac.

The repro project is as following:
[TestPFX.zip](https://github.com/dotnet/corefx/files/3872903/TestPFX.zip)

Repro steps:
1. Unzip the project and  c

[2019-11-21 05:52] bartonjs commented on #42661
Yep.  0x80131501 is the "exception, no further info" HResult.  The other came from OpenSSL.  Since we're not using OpenSSL at this step, we don't have an OpenSSL error code.

[2019-11-21 05:52] #42661 closed

[2019-11-21 05:56] tick-rick commented on #21577
@stephentoub I think I must be missing something with that API. The following code enables 1 cipher suite, yet the result in wireshark TLS1.3 ClientHello lists 31 cipher suites (of which TLS_DHE_RSA_WITH_AES_256_CBC_SHA256 is indeed one, but that is beside the question)
[code]

[2019-11-21 06:48] adamsitnik commented on #42216
It looks like you got 10% improvement, nice!

[2019-11-21 07:03] scalablecory commented on #42645
@davidfowl It's the `IAsyncEnumerable` use. Something like this seems a better way to accomplish the same thing:

[code]

If you wouldn't ever `.ToArrayAsync()` on it, then it doesn't fit `IAsyncEnumerable`. I can't imagine ever passing this timer enumerable to anything else (like LINQ) that operates on an `IAsyncEnumerable` -- if I were ever doing that, Rx would probably be a better choice for su

[2019-11-21 07:10] scalablecory commented on #42645
I'd also want us to look at solving the problems you called out in the existing API as well. It is very common to need an interval timer but not have a neat sequence point to `await` at -- instead, callbacks that happen in parallel to your bigger machine are exactly what you need.

[2019-11-21 07:25] davidfowl commented on #42645
I disagree with the assertion that foreaching this is weird. The difference between Rx and Ix is push vs pull, nothing else. In fact the pattern you show is just a GetAsyncEnumerator().MoveNextAsync().

Also looking around, golang has a very similar feature called a Ticker that exposes a channel of ticks. It’s a pretty elegant pattern IMHO 😬. I’m it sure why ToArray matters or not.

Sure we can do

[2019-11-21 07:37] akw123 opened #42662 ".NET CORE 2.2: SSL Error : System.IO.IOException: The write operation failed,"
Hi guys,

Needed help here from the community.

We have been trying to get this work on Linux Container for quite sometime, but to no avail solution.

We are calling an API that uses SSL Client Auth. The code runs perfectly on our local container, but when deployed to docker swarm, it failed with this error:

System.IO.IOException: The write operation failed, see inner exception.
   at System.Net.

[2019-11-21 07:47] drearyrainDeng commented on #42660
why dont you use string.replace()?

[2019-11-21 07:51] tmds commented on #40711
Yes. I had same timeout issues yesterday loading the coredump (https://github.com/dotnet/diagnostics/issues/602) but managed to get it just now.

[code]

https://github.com/dotnet/corefx/blob/e99ec129cfd594d53f4390bf97d1d736cff6f860/src/System.Net.Mail/src/System/Net/Mail/SmtpConnection.cs#L155-L183

From the dump it Abort was called (_aborted = 1) bit _isClosed is still false.
The NetworkStream d

[2019-11-21 08:33] JTrotta commented on #41151
@krwq  SerialPort.GetPortNames simply works. The error occurs when you open a virtual usb port on Linux. The problem was well known in Mono, and was solved avoiding any access to DTR.
Anyway I opened a new issue [524967076](https://github.com/dotnet/corefx/issues/42638#issue-524967076)

[2019-11-21 09:09] Ulisse67 commented on #42216
Do I have to make a PR?

[2019-11-21 09:10] lfr commented on #36643
I wonder if this issue can cover F#-specific collections as well @dsyme @cartermp

[2019-11-21 09:14] Saikava commented on #34990
I had the same error on the second POST to the same URL inside one ASP.NET Core action execution. It worked fine on windows but failed inside docker on Linux. The only way I found to fix it is setting DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER=0. I use netcoreapp2.2.

[2019-11-21 09:16] tmds commented on #21380
Maybe something that could be considered here also.

[2019-11-21 09:21] wfurt commented on #34990
can you get capture of the response @Saikava ? And is it reproducible all the time?
There can be actually multiple independent issues but we need more data to make progress.
Also 2.2 will get out of support soon. Since 3.0 is out, it would be great if you can give it shot.

[2019-11-21 10:41] josundt commented on #38579
@Jozkee: This covers my personal needs, but I guess the option to preserve only non-collection references could be needed for some.

[2019-11-21 10:41] VladislavMorozov commented on #42631
@bartonjs honestly, I don't understand you) I see that `ECDsa` is `IDisposable` and I want to use the `using` construction. But it's doesn't work correctly on Linux. When I use this code in asp.net core and register class as singleton or per request, this code returns the unpredictable results. For example, 2 requests have an exception and 1 request has token. How I can help you or @krwq to find t

[2019-11-21 11:00] AntonLandor commented on #42585
I have implemented a test case to solve this issue and also get 100% branch coverage on JsonNodeOptions. I will create a pull request as soon as I can when the new dotnet/runtime repository is up.

[2019-11-21 11:13] svick commented on #42645
@davidfowl

I think the problem is that when you have an `IEnumerable<T>` or `IAsyncEnumerable<T>`, you're basically saying "you should use `foreach`". If it's expected that you're commonly going to be calling `MoveNextAsync` manually, then it's probably better to be explicit about it by using something like `WaitNextPeriodAsync`.

[2019-11-21 11:22] benaadams commented on #42645
Generalising more its an event pattern; which you couldn't do previously with synchronous enumerators, but now can with asyncenumerators:
[code]

[2019-11-21 11:36] VladislavMorozov commented on #42631
I guess that `Value` from `_key` from the screenshot can't correct work correctly on Linux, because of the namespace is `Microsoft.Win32`.

[2019-11-21 13:31] LeonardoMS01 opened #42668 "JsonIgnore"
I am confused with "JsonIgnore", which one should I use? NewtonSoft.Json or System.Text.Json.Serialization both do not work fully.

[2019-11-21 14:05] lehtoj commented on #24843
I do wonder how does this story develop towards .NET 5? Surely they should pick up the slack and make remaining Windows-only namespaces cross-platform?

I do not think the Novell library supports the [DirSync Control feature](https://www.google.com/search?q=dirsync+control), which is something I need.

[2019-11-21 14:07] BockTim91 commented on #42655
In enabling full debugging, it appears the issue occurs at line 1912 and 1913 of OdbcDataReader.

[code]

When running a select statement cRowsAffected gets -1 as expected, however when running a delete it appears to be overloading the int causing it to crash into SR GetResourceString.
[code]

Upon trying to add cRowsAffected into my watch and casting as an int or long it gives a, "Cannot obtain v

[2019-11-21 15:12] akw123 commented on #42662
The cert we used is PFX format. However we were able to curl successfully within the container.

[2019-11-21 16:22] Tratcher opened #42665 "Can't use network locations"
_From @Leonardo-Ferreira on Thursday, November 21, 2019 2:55:06 PM_

### Describe the bug
.Net Core 3 is prepending supplied paths with the local solution path.

### To Reproduce
Create a empty console app using .net 3.0 or 3.1 and insert
[code]
and you will get a exception very similar to:
System.IO.DirectoryNotFoundException: Could not find a part of the path '/Users/leonardoferreira/Projects/My

[2019-11-21 16:32] danmosemsft commented on #42631
For historical reasons (originally .NET was Windows specific), there are a number of types in the `Microsoft.Win32` alias that are not actually Windows specific. SafeHandle is one of them.

[2019-11-21 16:50] davidfowl commented on #42645
This is *exactly* the point. You should use foreach. IAsyncEnumerable + await foreach is a new paradigm for C#.

[2019-11-21 17:02] jasonleenaylor commented on #42487
@danmosemsft I'm happy to provide a documentation tweak PR, but I couldn't figure out where the source for https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation came from.

[2019-11-21 17:11] danmosemsft commented on #42487
@anurse can you help find it? I was thinking somewhere in https://github.com/aspnet/AspNetDocs ?

[2019-11-21 17:29] anurse commented on #42487
The Edit button on any doc should take you straight to the GitHub path to the source.

![image](https://user-images.githubusercontent.com/7574/69361354-2caa7e80-0c41-11ea-8ec9-f7d8291d359a.png)

In this case: https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/mvc/models/validation.md

A PR to update the doc would be awesome @jasonleenaylor !

[2019-11-21 17:47] danmosemsft commented on #42487
Oh! I didn't realize that. Thank you, that's useful knowledge.

[2019-11-21 18:23] Clockwork-Muse commented on #42655
[`CalculateRecordsAffected` is takes an `int`](https://github.com/dotnet/corefx/blob/0cc22ccba707d7552159363d586262fa9c4e8a2a/src/System.Data.Odbc/src/System/Data/Odbc/OdbcDataReader.cs#L273):

[code]

this is causing `cRowsAffected` (which is a wrapper around an `IntPtr`) to [call this operator](https://github.com/dotnet/corefx/blob/b49a8a9be1d53cd9e50cb68fd8540be25c65d433/src/System.Data.Odbc/sr

[2019-11-21 18:34] BockTim91 commented on #42655
I can safely say the table I was updating has less than 12 million records in it. The statement I am running is on the key affecting only one record.

[2019-11-21 18:43] svick commented on #42645
@davidfowl In my opinion, it's a paradigm that does not fit well here, so it shouldn't be used.

I think with `IAsyncEnumerable<T>`, the important part is the data and the fact that you sometimes have to wait for the next item is mostly incidental. But here, the waiting is what you want and you can invent some data to go along with it, but it's completely incidental.

This can be also seen in the

[2019-11-21 18:56] danmosemsft commented on #41570
@ericstj is anything left here? it's still for 3.x?

removing servicing label as that goes on PR's.

[2019-11-21 18:59] ericstj commented on #41570
I believe at the time I made that comment we were sitting on the 3.0 PR waiting to merge it when branches unlocked.  PR https://github.com/dotnet/corefx/pull/41584 merged yesterday so this should be good.

[2019-11-21 18:59] #41570 closed

[2019-11-21 19:43] krwq commented on #42631
@VladislavMorozov any chance you could try building corefx from sources (Debug build) and try to produce stack trace with line numbers and a bit more details? (at least replace System.Security.Cryptography.Algorithms with the Debug version). I also cannot see anything in SignHash which could produce NRE.

Another thing to try is perhaps try to isolate repro to not use Microsoft.IdentityModel.

Als

[2019-11-21 19:43] Tratcher commented on #41209
Server tracking issue: https://github.com/aspnet/AspNetCore/issues/4715

[2019-11-21 19:44] #41662 closed

[2019-11-21 19:49] wfurt commented on #42631
lldb + sos can now get symbols AFAIK. (certainly for 3.0)
“setsymbolserver -ms” should do the trick.

https://github.com/dotnet/diagnostics/blob/master/documentation/installing-sos-instructions.md
https://github.com/dotnet/diagnostics/blob/master/documentation/sos-debugging-extension.md

[2019-11-21 20:00] carlossanlop commented on #41654
@terrajobst your comment with the approved APIs does not mention adding the `MemoryMappedFileSecurity` class, which does not exist in Core and needs to be ported from Framework.

[2019-11-21 20:16] VladislavMorozov commented on #42631
I found.

[code]

![image](https://user-images.githubusercontent.com/31768904/69373120-2c979680-0cb4-11ea-80c6-883061a15072.png)

![image](https://user-images.githubusercontent.com/31768904/69373409-c95a3400-0cb4-11ea-9397-793a245eb724.png)

![image](https://user-images.githubusercontent.com/31768904/69373452-df67f480-0cb4-11ea-9b02-ea2c580e3e81.png)

[2019-11-21 20:28] VladislavMorozov commented on #42631
![image](https://user-images.githubusercontent.com/31768904/69374086-5c479e00-0cb6-11ea-92cc-d7371dd4b88b.png)

![image](https://user-images.githubusercontent.com/31768904/69374130-797c6c80-0cb6-11ea-92fa-b17dd8825d38.png)

![image](https://user-images.githubusercontent.com/31768904/69374157-88631f00-0cb6-11ea-9724-c436d6319f09.png)

![image](https://user-images.githubusercontent.com/31768904/6937

[2019-11-21 20:45] tarekgh commented on #42602
@NinoFloris I am closing this issue but feel free to reply back if you have more info and we can reactivate the issue again. Thanks.

[2019-11-21 20:45] #42602 closed

[2019-11-21 20:48] krwq commented on #42631
@VladislavMorozov third screenshot line 307 is where the NRE happens (throw propagates error from the `try` and the stack trace you're seeing is already after it happened). Can you step into that method just before the NRE happens and try to figure out the line where it actually happens?

[2019-11-21 20:57] VladislavMorozov commented on #42631
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/31768904/69376081-b5b1cc00-0cba-11ea-87e3-30ee906147ea.gif)

[2019-11-21 20:58] scalablecory commented on #42669
@tarekgh

[2019-11-21 20:58] VladislavMorozov commented on #42631
@krwq I debugged by F10 button.

[2019-11-21 21:00] krwq commented on #42638
@JTrotta I agree we should not throw (at least not in the constructor) when some functionalities are not supported.

We are currently during the repo merge process so I'd recommend not sending PR just yet until dotnet/runtime repo becomes public (preparing fix is fine, all the things you will learn how to build/run tests should work very similar if not the same in new repo)

[2019-11-21 21:14] #42652 closed

[2019-11-21 21:14] tarekgh commented on #42669
@arosado2895 @krussokc could you please check in your machine if Windows compatibility mode is enabled on dotnet.exe? you can do that from Windows explorer, go to dotnet.exe folder (usually it is C:\Program Files\dotnet) and then right click on dotnet.exe, click on the compatibility tab then look if the box labeled "Run this program in compatibility mode for:" is checked.

[2019-11-21 21:23] krwq commented on #42631
@VladislavMorozov you need to Step-into (if still does the same then in your debugger options unselect "Just My Code")

[2019-11-21 21:23] tarekgh commented on #42669
This can be the same issue https://github.com/dotnet/coreclr/issues/15021

[2019-11-21 21:30] benaadams commented on #42645
Don't think DateTime/TimeSpan have the precision for this; but another example which `WaitNextPeriodAsync()` by itself doesn't capture (why do you want to tick without knowing the time?)
[code]

However, I don't think the data types have the precision for the above sample as
[code]
Outputs:
[code]
Rather than
[code]

[2019-11-21 21:31] VladislavMorozov commented on #42631
Sorry)) That's my fail.

[code]

![image](https://user-images.githubusercontent.com/31768904/69378154-daa83e00-0cbe-11ea-93e4-ee5f6dd3993f.png)

![image](https://user-images.githubusercontent.com/31768904/69378257-1e9b4300-0cbf-11ea-9458-5ca1892c0084.png)

![image](https://user-images.githubusercontent.com/31768904/69378348-42f71f80-0cbf-11ea-8738-f0a4aac1ab92.png)

I will send a gif

[2019-11-21 21:35] VladislavMorozov commented on #42631
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/31768904/69378687-f102c980-0cbf-11ea-9307-8a88f752776e.gif)

[2019-11-21 21:45] stephenlautier commented on #42648
Sorry for not writing it, thought I did, We were netcore 2.x (specifically 2.2.1).

Unfortunately, the only 2 cases which we produce are work projects; Tried to produce one of them in a new project but didn't produce it, obviously our apps are much heavier than an empty project, and it seems when there are a lot in concurrency the failures increase.

Some extra info perhaps it helps...
In the seco

[2019-11-21 21:51] Anipik commented on #42231
We should either port the fix to 3.0 or should disable the test. The test is failing on official builds as wells as on prs.

[2019-11-21 22:17] scalablecory commented on #42645
@benaadams That use seems problematic, though, doesn't it?

For render lerping it would be more useful to get the time inside the loop (after your async continuation has started running) rather than have `time` be the moment the timer scheduled the continuation. `QueryPerformanceCounter`/etc.

For physics / collision detection it would be more useful to have fixed intervals, not dynamic.

You woul

[2019-11-21 22:23] davidsh commented on #42231
There was no real fix.  The change made to release/3.1 was to move the test from Innerloop to Outerloop.

If this is blocking things in release/3.0, then the test should just be disabled in that branch.

[2019-11-21 22:24] Anipik commented on #42231
okay I will disable the test

[2019-11-21 22:37] scalablecory commented on #42645
I think @benaadams' [example](https://github.com/dotnet/corefx/issues/42645#issuecomment-557041421) convinced me that it's not entirely bad, though I still think it's weird.

I think that's an over-simplification by looking only at their abstraction interfaces, not what they're currently used or the frameworks built around them -- there's a very large difference between the two. Rx is a rich event

[2019-11-21 22:45] krwq commented on #42631
Can you try stepping into SignHash?

You might need to select your debugging options as on the picture (Debug -> Options)
![image](https://user-images.githubusercontent.com/660048/69382646-73619e00-0c6c-11ea-827b-6e489473bce0.png)

and show all local variables? (try to step/step-into as deep as you can before you get moved back to the original try .. catch). I suspect you should be able to figure

[2019-11-21 22:49] krwq commented on #41151
Let's see if @JeremyKuhne has any push backs against changing Windows logic, if not or no response I think this is fine to remove the restriction.

[2019-11-21 23:01] tarekgh commented on #42669
@krussokc does the problem occur when you try to compile from the command line? I am asking because this can be a different issue than what @arosado2895 reported. something like https://developercommunity.visualstudio.com/content/problem/288684/the-program-12828-dotnetexe-has-exited-with-code-2.html and https://github.com/aspnet/AspNetCore/issues/1719

[2019-11-21 23:03] eanova commented on #41907
I would like to work on this.

[2019-11-21 23:04] krwq commented on #21577
@tick-rick what OS are you running on? Can you file a separate issue on that? (please share `dotnet --info` output)

[2019-11-21 23:05] pgovind commented on #26845
@MgSam

`df.Columns` returns a `Collection<DataFrameColumn>`. The usual `Collection` methods can be used to remove/add columns. `df.Append` to append a row to a DataFrame `df`. We don't have a way to remove a row in place from a DataFrame yet. If you really need to remove some rows, use `df.Filter(rowIndices)` where `rowIndices` is a `PrimitiveDataFrameColumn<long>`. The `Filter` method returns a

[2019-11-21 23:08] tick-rick opened #42670 "HttpClient SocketsHttpHandler ignores SslClientAuthenticationOptions"
Moving from https://github.com/dotnet/corefx/issues/21577#issuecomment-556932989
Package installed via (dotnet add package System.Net.Http --version 4.3.4)

I think I must be missing something with that API. The following code enables 1 cipher suite, yet the result in wireshark TLS1.3 ClientHello lists 31 cipher suites (of which TLS_DHE_RSA_WITH_AES_256_CBC_SHA256 is indeed one, but that is beside

[2019-11-21 23:23] pgovind commented on #26845
@veikkoeeva

Nope. But we can add the overload it if you feel like it's important. I suggest waiting for the first blog post to come out. It goes over how to use DataFrame + .NET notebook and adds custom formatting for the DataFrame that solves many pain points.

We actually don't have a `ToCsv` method yet. What you stated is one of the reasons we don't have support for many formats in `0.1.0`. If

[2019-11-21 23:24] krwq commented on #42670
@tick-rick can you try running OpenSSL server:

[code]

and following code:

[code]

and print the output?

also please provide output of `openssl version`

I've tried running above on Ubuntu and I correctly get a single ciphersuite

[2019-11-21 23:26] omariom commented on #42645
What if `WaitNextPeriodAsync` was a public method  and IAsyncEnumerable was exposed via a method (AsEnumerable?) or explicit interface implementation?

[2019-11-21 23:27] tick-rick commented on #42670
OpenSSL version: OpenSSL 1.1.1d  10 Sep 2019

results of dotnet run for the above:
[code]

[2019-11-21 23:30] krwq commented on #42670
Thanks, I'll investigate this. This looks very fishy

[2019-11-21 23:35] tick-rick commented on #42670
FWIW, I made a TlsClient in BouncyCastle with that exact cipher in repro and got this on the server:
[code]
and this on the client:
[code]

Which makes me wonder if openssl behaviour has changed recently so that if you provide what it thinks is an insecure cipher suite, it uses a default list.

[2019-11-21 23:37] scalablecory commented on #42670
Unrelated to this issue, please avoid installing via nuget package. HttpClient is provided in-box.

[2019-11-21 23:38] tick-rick commented on #42670
@scalablecory Ok, noted

[2019-11-21 23:45] krwq commented on #42670
@tick-rick can you try the same but remove `-www` switch from openssl command and following code (skip HttpClient):

[code]

(only interested in output of openssl)

If this looks correct then likely some HttpClient plumbing is ignoring CipherSuites policy

[2019-11-21 23:51] pgovind commented on #26845
No. My forthcoming blog post will go over some of the design and implementation considerations. It's a little early to talk about performance numbers IMO. I've done very little perf work for the 0.1.0 release, save for minor optimization and profiling. Understanding the performance concerns requires going over the `DataFrame` design a little bit. The backing store is the Arrow format for primitive

[2019-11-21 23:54] tick-rick commented on #42670
[code]

[2019-11-22 00:02] krwq commented on #42670
This looks good which seems the SocketsHttpHandler seem to be ignoring ssl options

[2019-11-22 00:04] krwq commented on #42670
@dotnet/ncl does any of you have cycles too look at this? This seems pretty important to fix

[2019-11-22 00:34] TylerLeonhardt commented on #25036
Just to clarify, this is because the PowerShell extension for vscode on non-Windows uses the following fake `ReadKeyAsync` implementation

https://github.com/PowerShell/PowerShellEditorServices/blob/master/src/PowerShellEditorServices/Services/PowerShellContext/Console/UnixConsoleOperations.cs#L86-L119

Which uses `System.Console.KeyAvailable`:

[code]

where the cancellationToken is cancelled eve

[2019-11-22 00:35] karelz commented on #42670
@krwq what is the important scenario? Can you please summarize it?

[2019-11-22 00:41] wfurt commented on #42670
This is similar to #36555. It should not be hard to fix. I think we should take it for next release. (and add more tests)

[2019-11-22 00:42] Clockwork-Muse commented on #42645
You **absolutely do not want** something like `DateTime.UtcNow` to drive rapidly firing (or potentially most) timers.  Because even though it's an absolute stamp, it still falls victim to clock slews when trying to set itself via NTP (or from user updates).  It's nonsensical in most of those cases anyways, because you don't actually care about "world time", but some sort of absolute "process time"

[2019-11-22 00:49] njy opened #42672 "Proposal: ExperimentalAttribute"
## The current situation
Sometimes there's the need to create (for personal/internal use) and maybe even release (for public consumption) some code that is useful in and on itself, but it's just not ready to be set in stone regarding its shape, api surface area, namespaces and so on.
Maybe we are talking about an early stage pre-v1.0 release so the expectations about stability of code/design/api m

[2019-11-22 00:55] SeeminglyScience commented on #25036
In the actual code `KeyAvailable` isn't called directly, but instead a separate method is called that polls `KeyAvailable` with a frequency determined by how recently a key was pressed.  The actual wait happens in that method, not through the cancellation token.  (I know you were trying to simplify the example, but that's the important bit in this scenario).

The very simplified version of the cod

[2019-11-22 01:06] GrabYourPitchforks commented on #42660
If the segment I want to remove also occurs as a substring of a part of the string I want to retain, then `string.Replace()` will do the wrong thing. Additionally, `string.Replace` requires walking the string again when I already know the location of the segment I want to remove.

[2019-11-22 01:11] krwq commented on #42670
@karelz, security settings don't respect what user asks for (I think you will get defaults instead which are not insecure but they're not what user requested - even exception would be more appropriate).

[2019-11-22 01:12] benaadams commented on #42645
It was an example; as you wouldn't use the timer to drive something that needed an 16ms tick as its not fast or precise enough.

I was demonstrating the pattern, which for example listening to mouse moves you could also do as an AsyncEnumerable
[code]

[2019-11-22 01:15] krwq commented on #42670
@wfurt, yes they both seem the same to me. Feel free to close one or another as dup

[2019-11-22 01:16] krwq commented on #36555
Per other issue seems the options don't get propagated to the SslStream

[2019-11-22 01:21] benaadams commented on #42645
Or perhaps a better example is; but similar vein is button clicks. AsyncEnumerable enable async event handling without `async void` and the horrors that brings.
[code]

[2019-11-22 01:57] stephentoub commented on #42670
The problem is here:
https://github.com/dotnet/runtime/blob/be980b71efadc622b5720a36867696758e59e71c/src/libraries/Common/src/System/Net/Security/SslClientAuthenticationOptionsExtensions.cs#L9-L21

When CipherSuitesPolicy was added to SslClientAuthenticationOptions, this wasn't updated with the additional property.

[2019-11-22 02:21] Gnbrkm41 commented on #42668
I expect S.T.Json.Serialization.JsonIgnoreAttribute to work when using System.Text.Json and the Newtonsoft one when using Json.NET.

How are you using it & How does it not work?

[2019-11-22 02:28] geoffkizer commented on #42670
@stephentoub Should there be a copy ctor, then? What's the best way to avoid this sort of issue in the future?

[2019-11-22 02:29] stephentoub commented on #42670
Probably.  For now I added a big honkin' debug block in https://github.com/dotnet/runtime/pull/211.

[2019-11-22 02:39] mikernet commented on #693
There's no need for crazy complicated code to make generic enum methods work - `Unsafe` can be used to build very fast generic enum methods that run at full bitwise operator speed via the following technique:

[code]

A similar pattern can be applied for other operations. As far as I can tell, the conditional branches are eliminated by the JIT.

[2019-11-22 03:07] ankitbko commented on #42645
Let me see if I can put a different perspective here.

`IEnumerable` (and its async counterpart) always meant I have a collection of *items* that I have freedom to iterate over. The items (value or `Task`) in the collection already exists and I can iterate over them as I want. The `AsyncEnumerable` just means while iterating I may have to asynchronously *wait* (incidentally as @svick put it) for a

[2019-11-22 03:08] davidfowl commented on #42645
Yea I don’t think IAsyncEnumerable is data focused, that’s just something, Linq over events will be a thing (or is a thing depending on who you talk to) and this is just the beginning.

Modeling multi fire events as IAsyncEnumerable is pretty elegant.

[2019-11-22 03:09] TylerLeonhardt commented on #25036
Thanks @SeeminglyScience. As a result, this is what pasting looks like:

![paste-in-console](https://user-images.githubusercontent.com/2644648/69394911-37413400-0c92-11ea-8fb6-8da46f280da4.gif)

[2019-11-22 03:11] davidfowl commented on #42645
I’m not sure what schedulers have to do with the conversation but IAsyncEnumerable is the pull and IObservable is the push model. That’s it. Anything else you may have associated with those types aren’t fundamental, they were just assumptions or expectations on how they would behave based on experience with IEnumerable.

[2019-11-22 03:22] johncrim commented on #38163
As I commented on #42515 - the feature to deserialize into existing sub-objects (which I described in $42515) is not the same as supporting private setters. I think the ability to deserialize into existing sub-objects is *more* important than private setters, but both features are important.

The desired behavior with #42515 is that the existing sub-object be deserialized into (the sub-object is o

[2019-11-22 03:34] davidfowl commented on #42645
FWIW paradigm shifts always feel uncomfortable,l let’s all suspend disbelief for a second and imagine a world where events were IAsyncEnumerable 😁. What problems would exist, what patterns would emerge as a result? What pitfalls would exist?

That’s the discussion I want to have (along with API approval of course).

[2019-11-22 03:40] ocean2706 opened #42674 "EventLog GetEventsLog is very very very poorly implemented"
In real life, EventLog.GetEventsLog() is far away from being ready to use in order to acces local (or remote) computer events in a way similar to Event Viewer. If you try to use the provided sample code in current documentation (2019-06-12), it will fail with System.InvalidOperationException , {"Cannot open log Parameters on machine .. Windows has not provided an error code."}

This is because, ac

[2019-11-22 03:53] stephentoub commented on #42670
I merged https://github.com/dotnet/runtime/pull/211 to address this in 5.0, but re-opening this and moving to 3.1 for @karelz to decide if it should be brought back to 3.1.

[2019-11-22 04:14] susuchaoren commented on #41406
**i have the same question.
how to fix it?**

[2019-11-22 05:11] sujayvsarma commented on #42441
@stephentoub : Could you check this out and let me know if that issue could be related to THIS issue?

[Issues fixed in Visual Studio 2019 16.4 Preview 6](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#top-issues-fixed-in-visual-studio-2019-version-164-preview-6)
"Fixes a Xamarin.iOS error adding an Apple Account or installing a provisioning profile with the mess

[2019-11-22 06:27] benaadams commented on #42645
`AsyncEnumerable` is iterating values that may be "not available" yet; rather than `IEnumerable` which is iterating values you already have (though they may be via transform/calculation e.g. Linq).

Values "not available" yet also encompasses values that do not exist yet as they come from the future; e.g. events.

Another example would be requests in a http server:
[code]

`AsyncEnumerable` is ess

[2019-11-22 06:28] valakhin opened #42675 "getaddrinfo() API not working in a specific case"
We are facing an issue with getaddrinfo() API.

We are trying to resolve IP address of remote host using getaddrinfo() from our server.  My server is enabled only with IPv4 and Remote host(windows server) is enabled with only with IPv6. The getaddrinfo() failed to retrieve remote host IP details.

hints.ai_family = AF_UNSPEC;
hints.ai_socktype = SOCK_STREAM;
hints.ai_protocol = IPPROTO_TCP;
dwRetv

[2019-11-22 06:49] AndyAyersMS commented on #42626
I thought this too, at one point (see for instance dotnet/coreclr#14474), but am now somewhat ambivalent. There is a fair amount of jit-time overhead involved inlining, and small methods are frequent enough that even modest thresholds (say just big enough for most property getters and setters) leads to a lot of inlining. This overhead has to be won back by less jit time downstream of inlining and

[2019-11-22 06:58] benaadams commented on #42645
Further to the above

Then you could build for example a Utc Timer using the `Func<DateTime>`
[code]
Or the elapsed version with `Func<TimeSpan>`
[code]

[2019-11-22 07:36] Clockwork-Muse commented on #42672
`ObsoleteAttribute` is there to allow developers to move _away_ from that particular API, so reusing it this way is definitely counter to intention.  It's primarily for the case where you want to enable consumers to take new versions of existing packages without them needing to (immediately) change any code.

... The problem is that it feels like _everything_ new in a pre-release package should be

[2019-11-22 08:56] huoyaoyuan commented on #15453
What's about implementing `IEquatable<T>` and `IComparable<T>` on enums? It looks not so simple, because enums do have metadata, unlike arrays being pure runtime-magic.
Or skip it for 1 year and jump to type classes, which is planned for C# 10 and I assume to come with .NET 6?

[2019-11-22 08:58] sujayvsarma commented on #42626
@AndyAyersMS - I don't know how you would reproduce it. The app loads CSV files at startup. It really struggled with one of them, that had well over 500K rows with 18 columns. The loader has to check each column against the RFC specs of how a CSV field should work and then load it. Of course, this involves checking multiple checks.

As part of our process to find the issue and fix it, we started b

[2019-11-22 09:21] njy commented on #42672
Yep, that was my point. I was just pointing out explicitly that was something already in the framework that can, in genral, "warn" developers about code usage.
For example I've used that in the past (only internally in my team) as a signal for other devs with a custom message along the lines of "EXPERIMENTAL: better not to use this yet" but, although it served the purpose effectively as a warning

[2019-11-22 09:25] njy commented on #42672
Also, it would be interesting to hear from F# people ( @cartermp ? others?) who I just discovered have had an ExperimentalAttribute from some time to see how they are using it, if they already encountered some problems, possible design flaws, how the tooling around that is or should be, etc.

[2019-11-22 09:31] kapsiR commented on #40656
@ViktorHofer Just for clarification: Does that mean, that from 5.0 the compat packages (e.g. Microsoft.Bcl.AsyncInterfaces) are not supported anymore? (no netstandard2.0 support?)

[2019-11-22 10:16] mikernet commented on #15453
@TylerBrinkley I'm not sure which approach you've taken to implement this but I just posted [this comment](https://github.com/dotnet/corefx/issues/693#issuecomment-557362093) which details a way to implement these operations with full bitwise operator speed. I thought I would mention it here as it turns out this appears to be the main discussion area for these.

When the methods are written like m

[2019-11-22 11:52] rlaci999 opened #42676 "Is NuGet major version upgrade allowed or not? Microsoft.Extensions.Logging.Abstractions"
We have `netstandard2.0` projects with `EF Core` `2.2.6`. I tried to upgrade a console application's NuGet `Microsoft.Extensions.Logging.Abstractions` from `2.2` to `3.0.1` but got runtime error:

The error message seems legit, because `NullScope` was removed: [[Compare link]](https://www.fuget.org/packages/Microsoft.Extensions.Logging.Abstractions/3.0.1/lib/netstandard2.0/diff/2.2.0/?code=true),

[2019-11-22 12:10] stephentoub commented on #42626
This is why you're hearing skepticism and folks asking for repros: we similarly are struggling to understand how this particular function could have the cited impact, and need something we can examine to investigate (or in the process of creating the repro determine the issue was actually elsewhere).

Thanks.

[2019-11-22 12:41] jkotas commented on #20256
FWIW, we do have a prior art for both styles of runtime constants on IntPtr/UIntPtr:
- `IntPtr.Zero` is reaonly field
- `IntPtr.Size` is a property

[2019-11-22 13:19] VladislavMorozov commented on #42631
@krwq You can reproduce my exception on Linux just put this code `ECDsa.Create()`

![image](https://user-images.githubusercontent.com/31768904/69429117-e25df600-0d43-11ea-8200-d8c137c06fe0.png)

[2019-11-22 13:23] sujayvsarma commented on #42626
I know. Being someone that's used .NET for the past 19 years, its odd.

One more thing -- The code that was having the issue was built in Debug mode. Not Release. That was still the Build+QA phase of the project.

I am not an ASM/IL guy, don't understand it at all. I created a SharpLab gist that kind of approximates the way I am using it -- of course, with dummy functions to simulate any calls it

[2019-11-22 13:25] VladislavMorozov commented on #42631
[code]

[2019-11-22 13:26] VladislavMorozov commented on #42631
@krwq I updated code for you. Just add docker support in the visual studio and run on Linux container.

[2019-11-22 13:36] VladislavMorozov commented on #42631
@krwq I have another exception on Core 3.0)

![image](https://user-images.githubusercontent.com/31768904/69430201-22be7380-0d46-11ea-921d-1661ef1ef021.png)

[code]

[2019-11-22 13:38] VladislavMorozov commented on #42631
@bartonjs I found ObjectDisposedException, but in 3.0 Core :)

[2019-11-22 13:38] stephentoub commented on #42626
Oh!

Optimizations go out the window in debug. If you care about perf at all, do not run in debug.

[2019-11-22 13:46] sujayvsarma commented on #42626
I know that. Post-QA builds are Release. But we need a way to find out where bugs happen :)

[2019-11-22 13:51] stephentoub commented on #42626
Sure. But you can't expect debug builds to run as efficiently as release builds. Debug builds not only disable optimizations like inlining, they often add additional costs in the form of additional checks exactly to help with finding such bugs

I'm considering this is addressed.

Thanks.

[2019-11-22 13:52] sujayvsarma commented on #42626
Eh? That's like saying

[2019-11-22 13:56] edespong opened #42677 "Font.Clone() not creating an exact copy?"
According to the documentation, `Font.Clone()`

But running the following code:
[code]

Gives the result:

This is likely due to MS Outlook not being installed on my machine, but does this still not contradict the documentation? An **exact** copy should equal its original, otherwise it is not an exact copy.

[2019-11-22 14:00] VladislavMorozov commented on #42631
@bartonjs I found ObjectDisposedException, but in 3.0 Core :)

[2019-11-22 14:07] stephentoub commented on #42626
It is in no way saying that.

[2019-11-22 14:11] sujayvsarma commented on #42626
Do read your reaction. The moment I said debug mode, you're like "considering this addressed".

Look, in my particular scenario, we found the problem, fixed it [by using an alternative that worked for us] and moved on. I filed this out of interest that someone will get to the bottom of it... given it could very well be *the* most used function in all of .NET, and fix it for everyone else.

I still

[2019-11-22 15:27] 304NotModified opened #42678 "XElement - LoadOptions.SetLineInfo - very slow"
Hi,

I noticed that using `XElement.Load(stream, LoadOptions.SetLineInfo)` is very slow and memory consuming compared to `XElement.Load(stream, LoadOptions.None)`

See table. For the completeness, I also added the results for the generated for class (XSD to C#) - which is very fast and not using much memory but is lacking the lineinfo.

Tested it with a XML file of 914MB

| Method							|      Mem

[2019-11-22 15:44] vcsjones commented on #42372
Okay, if per-type modes is not looking like a good idea, then I would propose:

[code]

Thoughts.

1. It didn't make sense to me to do CFB/OFB since it's missing. (#4647)
2. CTS appears to be [inconsistently supported][1]? Is it CNG only? Doesn't work on my Linux box.
3. I see AES CTR in your proposal. Was your intention to build CTR on top of ECB?

[1]: https://github.com/dotnet/corefx/blob/7a517

[2019-11-22 15:56] bartonjs commented on #42372
* ✓ DO prefer protected accessibility over public accessibility for virtual members. Public members should provide extensibility (if required) by calling into a protected virtual member.

Yeah, they wouldn't need to be done yet, but having a pattern worked out ahead of time seems virtuous.  (CFB, at least, is on the 5.0 plan).

[2019-11-22 16:16] vcsjones commented on #42372
Hm. That one is new to me. I struggle to find this documentation in the repository. There's [this][1] but doesn't mention that. Anyway, seems like a reasonable thing, updated.

[1]: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/framework-design-guidelines-digest.md#L274

[2019-11-22 16:48] ericstj commented on #42676
NuGet questions belong in https://github.com/nuget/home.
aspnet/extensions questions belong in https://github/aspnet/extensions.

Here's the commit that made this breaking change: https://github.com/aspnet/Extensions/commit/678fc58f472cc08e4387d51f1882a48ed7e26f47  @pranavkm

[2019-11-22 16:48] #42676 closed

[2019-11-22 17:06] Clockwork-Muse commented on #42672
Base version would most likely have to be previous version (in semantic versioning) non pre-release (maaaaayyybe overrideable).  Diffing a reflection-gleaned tree should be relatively painless (and trivially cacheable).

That's kinda my point.  To me, everything new in a prerelease is experimental (subject to some confidence level).  You're using a prerelease package, all bets are off.

[2019-11-22 17:26] aqunovus opened #42680 "Dictionary allows duplicate keys!"
# Issue Title

When I try to add same key to Dictionary, I am always expecting to get "ArgumentException" however after a while Dictionary accepts same key and its count is increased.

# General

Version = .NET Core 3
OS = Win10 Pro
IDE = Visual Studio 2019 Community 2019

Example Code:

I am using Dictionary which is not thread-safe. (System.Collections.Generic)

[code]

It should never reach to

[2019-11-22 17:27] davidalbertonogueira commented on #32971
So @stephentoub , how to overcome this and be able to connect to other services running in the same local host?

[2019-11-22 17:30] stephentoub commented on #32971
The issue was fixed.  What is the remaining concern?

[2019-11-22 17:45] vcsjones commented on #42662
A few questions...

1. Are you able to log or capture the inner exception?
2. Are you able to try in .NET Core 3.0 to see if it still reproduces?

[2019-11-22 17:52] bartonjs commented on #42372
That one is at https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/virtual-members.

As part of updating the guidelines for a 3rd edition of Framework Design Guidelines we're also looking at how to better (more modernly?) share the guidelines.  (Since there's a published book involved there's a bit of copyright/contract complication that slows things down a bit)

[2019-11-22 18:30] scalablecory commented on #42675
This repo is for .NET Core, so discussion of these C APIs is off-topic. I would suggest asking for further assistance over in the [MSDN Forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowssdk&filter=alltypes&sort=lastpostdesc). Thanks.

[2019-11-22 18:30] #42675 closed

[2019-11-22 19:15] anurse commented on #26477
FYI, this is valuable for SignalR customers (see https://github.com/aspnet/AspNetCore/issues/17304) so we'd support getting `StatusCode` exposed on the exception somewhere (derived exception, nullable property, whatever ;)).

[2019-11-22 19:21] scalablecory commented on #26477
@anurse Can you go into how SignalR would make use of this?

We can already get a status code out of the `HttpResponseMessage`, so is it primarily for when we use the convenience APIs like `HttpClient.GetStringAsync()`?

Or is the intent that if some other e.g. protocol problem is encountered, but we did get a status code before that problem, we would still have that status code here? I can see th

[2019-11-22 19:29] scalablecory commented on #42680
`Dictionary` is not thread-safe, so these sorts of race conditions are to be expected when used this way.

You will need to put a lock around the `Dictionary` operations, or consider using `ConcurrentDictionary`.

[2019-11-22 19:30] #42680 closed

[2019-11-22 19:38] aqunovus commented on #42680
I am aware of `Dictionary` is not thread-safe, I also mention about it in my comment. Also, I know about `ConcurrentDictionary` and `lock` solutions.

I just wanted to share that I was expecting `ArgumentException` or `InvalidOperationException` for these kind of multi-access operation. "**Duplicated Key**" was not expected for me because of nature of Dictionary and its Key controls which handled

[2019-11-22 19:43] danmosemsft commented on #42680
It is probably impossible to make invalid concurrent access fail deterministically without a performance penalty. The reason it does not make concurrent access actually safe is to avoid a performance penalty.

Historically it would typically cause lookups to enter an infinite loop. In recent versions of .NET Core, Dictionary will instead fail deterministically with "Operations that change non-conc

[2019-11-22 19:49] sharwell commented on #42680
To clarify, this means that parallel access to `Dictionary` is allowed to do _anything_. This includes leaving the dictionary in a _permanently_ invalid state where no further APIs return the correct value. You could have duplicate keys, missing keys/values, incorrect counts, failure to enumerate, exceptions for valid calls, exceptions for invalid calls, or any other behavior.

As soon as parallel

[2019-11-22 20:08] aqunovus commented on #42680
Thanks @danmosemsft for great explanation. I was also reading about this issue and pull request.
I am using ".NET Core 3" and thinking about `InvalidOperationException` should be thrown. But your clarification about non-deterministic behaviour and performance penalty makes me enlighten about this issue.

https://github.com/dotnet/corefx/issues/28123
https://github.com/dotnet/coreclr/pull/16991

[2019-11-22 20:10] danmosemsft commented on #42680
Cool - thanks for the issue though, @aqunovus

BTW, we welcome contributors to our code, if you are interested. Take a look at the README on this repo for pointers on which issues might be interesting and how to get started. It's an interesting time as over the next week we are moving to a new repo, but the code and issues will be the same.

[2019-11-22 21:23] scalablecory opened #42683 "Test issue"
Simple ref: #42670

[2019-11-22 21:34] krwq opened #42684 "Support Rfc3279 signature format for DSA and EcDSA"
When DSA/EcDSA API was defined the specs did not clarify how signature should look like - current version of our API returns a concatenation of R and S (also known as IEEEP1363). Multiple specs call out to use ASN.1 encoded signature as described in Rfc3279 (DER sequence of R and S). The same format is also returned internally by OpenSSL (we internally convert it to IEEEP1363). Proposed APIs are m

[2019-11-22 21:39] krwq commented on #42684
Full contract after these changes https://gist.github.com/krwq/b5a14288769db15335ffa079eb3b34bd to make it easier to review

[2019-11-22 21:46] bartonjs commented on #42684
I'd leave the SignatureFormatter and SignatureDeformatter out of it.  Those types are supposed to represent "a signature format" already, so if we wanted to do it we'd make new types.

But we haven't maintained that type hierarchy (note there isn't one for ECDsa), so we should just leave it as-is.

`protected virtual byte[] SignDataCore(byte[] data, HashAlgorithmName hashAlgorithm, DSASignatureFor

[2019-11-22 22:06] krwq commented on #42684
@bartonjs agreed on *Formatter. I'm ok with unifying all `byte[]` *Core overloads with ROS (presumably you meant to leave non-virtual as they are). The only thing is that current implementation actually makes `byte[]` overloads one allocation faster but presumably that doesn't matter that much considering all the crypto/hashing happening there and possibly we will optimize that in the future.

The

[2019-11-22 22:47] GrabYourPitchforks opened #42686 "Add ISO-8859-1 accessor to the Encoding class"
The ISO-8859-1 encoding is used somewhat commonly in web scenarios since it's the encoding normally specified for headers. We should consider having a fast-access property for this encoding just like we have for `Encoding.UTF8`.

The workaround for now is to use `Encoding.GetEncoding("iso-8859-1", ...)`, which works but is not convenient or optimized.

/cc @davidfowl

[2019-11-22 23:00] tarekgh commented on #42669
@arosado2895 any news?

[2019-11-22 23:09] mkArtakMSFT opened #42687 "HttpClientJsonExtensions should be able to notify callers about responses from the server that can't be serialized to type T"
_From @BenjaminCharlton on Sunday, June 30, 2019 3:16:27 PM_

### Is your feature request related to a problem? Please describe.

There are some very useful extension methods for the `System.Net.Http.HttpClient` found in `Microsoft.AspNetCore.Components.HttpClientJsonExtensions`. These are used extensively in Blazor apps but are also useful in Console and Windows Forms apps, in fact, any app that

[2019-11-22 23:09] mkArtakMSFT commented on #42687
_From @mkArtakMSFT on Monday, July 1, 2019 5:16:29 PM_

Thanks for contacting us, @BenjaminCharlton.
@rynowak can you please have a look at this? Thanks!

[2019-11-22 23:09] mkArtakMSFT commented on #42687
_From @BenjaminCharlton on Monday, July 1, 2019 5:20:28 PM_

Thanks for looking into it! I just had a related idea... It should probably also be able to catch errors when serialising the JSON for the *HttpRequest* as well as when deserialising it from the HttpResponse, and pass them to a handler too. Does that make sense?

[2019-11-22 23:09] mkArtakMSFT commented on #42687
_From @jlinstrum on Wednesday, October 16, 2019 5:43:30 PM_

As a simpler option I would like to see these methods throw more useful exceptions when they fail. If the server returns an error response the exception message should contain the response rather than "'<' is an invalid start of a value.", which I assume is what happens when the JonAsync method tries to deserialize an error response stri

[2019-11-22 23:10] mkArtakMSFT opened #42688 "Blazor - Add JsonSerializerOptions as parameter to HttpClient.GetJsonAsync<T>"
_From @GoranHalvarsson on Sunday, June 16, 2019 7:49:28 PM_

I suggest you add JsonSerializerOptions as a parameter(could be optional) to the HttpClient.GetJsonAsync<T> method. For the deserialization of json you are using `JsonSerializer.Parse<T>(await httpClient.GetStringAsync(requestUri), JsonSerializerOptionsProvider.Options)`.

The  parameter `JsonSerializerOptionsProvider.Options`  should be

[2019-11-22 23:10] mkArtakMSFT commented on #42688
_From @mkArtakMSFT on Monday, June 17, 2019 4:35:31 PM_

Thanks for contacting us, @GoranHalvarsson.
This is something we've been thinking about for quite some time. Parking in the next milestone for now to discuss what we're going to do here.

[2019-11-22 23:10] mkArtakMSFT commented on #42688
_From @GoranHalvarsson on Monday, June 17, 2019 7:26:44 PM_

Im glad you will do this 😄

[2019-11-22 23:26] svick commented on #42626
@sujayvsarma Having to increase timeout when you're processing a lot of data in Debug mode sounds acceptable to me. Minor changes resulting in 2x performance difference in Debug mode also sounds acceptable to me.

Debug mode is not there to be efficient, it's there to help you find bugs and you pay for that by having worse performance. Though Release mode doesn't mean you can't find bugs, it just

[2019-11-22 23:41] davidsh commented on #42687
@Tratcher - Should be in ASP.NET Core repo

[2019-11-22 23:45] tarekgh commented on #42686
We already have it and called Encoding.Latin1

https://source.dot.net/#System.Private.CoreLib/shared/System/Text/Encoding.cs,495

[2019-11-22 23:46] bartonjs commented on #42684
We could add a GetMaxSignatureSize(SignatureFormat) on both DSA and ECDsa, yeah.  That seems perfectly reasonable and potentially valueable.  (For IEEEP1363 "Max" and "actual" are the same, for X509 it's not)

I'm not sure I understand.  If you mean to avoid the overalloc/copy-return then two virtuals can still be defined for SignData (and similarly for SignHash/ComputeSignature):

[code]

[2019-11-22 23:49] Tratcher commented on #42687
@mkArtakMSFT can you please summarize why you moved this to corefx?

[2019-11-22 23:54] GrabYourPitchforks commented on #39483
So seems like something very straightforward would work then:

[code]

The new proposed class is sealed because I haven't yet thought through what extensibility points we'd need to add, and unsealing in the future is a non-breaking change.

When calling `TranscodingStream.Write`, we expect the outer `byte` data to be encoded using _outerEncoding_. We'll transcode it to _innerEncoding_, then write

[2019-11-23 00:06] rynowak commented on #39483
This sounds like it meets our requirements pretty well!

[2019-11-23 00:06] rynowak commented on #39483
@pranavkm - any thoughts?

[2019-11-23 00:24] pranavkm commented on #39483
This sounds pretty close to what we have in MVC (with more bells and whistles). Just to have this in writing, we'll have async versions of the `Read` and `Write` APIs, won't we?

[2019-11-23 00:26] davidsh commented on #42670
@danmosemsft - I think this is something we should put into 3.1. It was an oversight when we added CipherSuitesPolicy. Without this fix, the policy doesn't work for HTTP scenarios.

[2019-11-23 00:30] GrabYourPitchforks commented on #39483
Yes, the plan is to override all virtual methods, including async methods. I'll clarify that in the API description.

[2019-11-23 00:49] mithunta commented on #30793
Looks like issue is not fixed in 3.0 as well. Do we know when this issue will be fixed?

[2019-11-23 01:06] layomia commented on #42515
@johncrim I see. The serializer's behavior is to replace object instances. We could add an option such as Json.NET's object creation handling feature: https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_ObjectCreationHandling.htm.