[2018-07-04 13:27] ViktorHofer opened #30834 "BinaryFormatter: Order of fields in serialization payload is flaky"
It seems like the order of the fields serialized with BinaryFormatter is flaky. Example with System.Drawing.Color:

Before:
[code]

This happens _without_ a source change in System.Drawing.Primitives or in System.Runtime.Serialization.Formatters but when adding additional test data that references additional types/assemblies. In my example I added System.Drawing.Common types (Bitmap, Icon, Metafil

[2018-07-04 13:47] danmosemsft commented on #30834
Why does this not break.NET Framework customers -Binary formatter shoukd be the same code.

[2018-07-04 13:49] ViktorHofer commented on #30834
I guess because they were lucky and didn't cause that behavior change. I just found a repro for it and will post it.

[2018-07-04 13:49] TicoDePano commented on #12403
On .NET Core 2.1 on Linux it gets worst, as it considers the milliseconds part when comparing files, but a copy doesn't set such a resolution.

[2018-07-04 13:56] ViktorHofer commented on #30834
Repro:

[code]

[code]

[2018-07-04 14:03] ViktorHofer commented on #30834
This is not a BinaryFormatter bug because the reflection call returns the fields already in the reversed order: http://source.dot.net/#System.Runtime.Serialization.Formatters/System/Runtime/Serialization/FormatterServices.cs,87

I will search through documentation if that's expected or a bug in Reflection.

[2018-07-04 14:06] ViktorHofer commented on #30834
https://msdn.microsoft.com/en-us/library/6ztex2dc(v=vs.110).aspx

@tarekgh FYI. You mentioned that some customers rely on the order of the fields in CultureAwareComparer. BinaryFormatter uses Type.GetFields underneath which doesn't guarantee a deterministic order of the fields. Should that concern us?

[2018-07-04 14:40] JulianRooze opened #30836 ""The connection is closed" errors in System.Data.SqlClient on Linux without MARS."
We've recently run into an issue where executing SQL commands results in `"Invalid operation. The connection is closed."` exceptions being thrown.

- This seems to happen exclusively on Async operations.
- This seems to have started happening since we upgrade to .NET Core 2.1. We've seen occurrences in our logs before the upgrade, but that was a big burst of them (probably real, but transient, con

[2018-07-04 16:48] davidfowl commented on #30822
I don’t think we should add sync overloads to pipelines. I appreciate there are cases where it is better than async IO (there’s more overhead in general) but in most cases we recommend that people do async IO instead. I appreciate that there are challenges adapting to older APIs that do have sync code paths but I’m not convinced we should complicate the API as a result.

Kestrel implements a Strea

[2018-07-04 17:51] tarekgh commented on #30834
@ViktorHofer as the documentation says GetSerializableMembers depends on the reflection which doesn't guarantee the order of the reported fields. I don't think we can control the reflection and force specific order. But we should keep the order in the serialized stream. I mean we shouldn't change the order when serializing the fields of any old supported objects.

[2018-07-04 17:53] ViktorHofer commented on #30834
Right, I'm not planning to change anything regarding to that. I just wanted to check with you if customers who rely on fields in a specific order in the blob are aware of the fact that the given order can't be guaranteed.

[2018-07-04 18:29] tarekgh commented on #30834
Yes, we have communicated this to the customer and also we clarified the documentation too (which you quoted above).

[2018-07-04 18:31] ViktorHofer commented on #30834
Ok nice, thanks!

[2018-07-04 18:31] #30834 closed

[2018-07-04 18:31] tarekgh commented on #30593
@tanagoa I am closing this and let me know if you able to repro the issue again in your side.

[2018-07-04 18:38] roji commented on #30822
FWIW if it's somehow possible to have a version where the I/O methods would be guaranteed to return synchronously, that would amount to adding a sync API (and so it would solve my issue). But i'm not nearly familiar enough with pipelines to know what that would entail.

How do you avoid the deadlocks associated with sync over sync in Kestrel? Are you somehow ensuring that continuations don't run o

[2018-07-04 19:29] davidfowl commented on #30822
Pipelines is an abstraction and it has a default implementation. There's no built in IO but the patterns are optimized for IO. If this is a real issue in practice then I would expose a synchronous PipeReader/PipeWriter implementation over synchronous IO APIs with the existing surface area. I wouldn't want to do this as a first step though but it's do-able as a last resort.

There are no deadlocks,

[2018-07-04 19:57] roji commented on #30822
I'm thinking of another deadlock that can occur with no SynchronizationContext. If the application uses TP threads which invoke sync-over-async API calls, then if there are enough of these the thread pool gets exhausted. At that point you have TP thread synchronously blocking on async operations that require a continuation to run on a TP thread, but none are available. I've encountered this a few

[2018-07-04 20:16] kilroytrout commented on #29772
I don't think poll should be used here for either TCP or UDP especially if you're passing a non-zero wait interval. With a read selector, you're blocking the caller until there is an error or data is available to read (which never happens). Thus 99% of the time you block and this defeats the otherwise async design of this code. And defaulting this timeout to half a second means you're pretty sever

[2018-07-04 20:34] davidfowl commented on #30822
I told you we don’t. It’s atypical to use sync IO in web scenarios so we don’t protect users from starving the thread pool if they use blocking API for read/write. We have a couple of other mitigating factors:
- buffering as I mentioned before mitigates inefficient sync IO
- writing is buffered do it won’t block until you hit the buffer threshold
- We read ahead greedily so blocking IO doesn’t nee

[2018-07-04 20:42] mgravell commented on #30822
Just to confirm, yes @roji that's exactly the reason I try hard to avoid TP for this. When there are spare threads, it is fine - but when it jams, if you are the data lib that some of those workers are blocking against: it jams hard, and even though it isn't a true deadlock, it might as well be - new work will come in much faster than TP grows. TP exhaustion has hurt us hard in the past, as a libr

[2018-07-04 21:01] roji commented on #30822
@davidfowl just curious, are you aware of users running into deadlocks, have people complained? I suspect that Kestrel is in a different situation than an ADO.NET driver, which is potentially used in much more various scenarios - I know a lot of my users use sync APIs, and at some point when Npgsql had this kind of deadlock this caused a lot of anguish for people.

Thanks for confirming @mgravell,

[2018-07-04 21:48] mgravell commented on #30822
I guess if you were *desperate* for a pure sync API, you could play both ends of the pipe from a single thread, but if you wanted to do it while fully overlapping read IO (to avoid pauses when you run out of input data) would be harder. Frankly I'm not sure I see that it is worth bending the usage out of shape - I'm *guessing* you allow both sync and async on the same connection (at different time

[2018-07-04 22:07] roji commented on #30822
I'll have to become more familiar with pipelines to understand exactly what the different options are, but @davidfowl seemed to hint that at least in theory would could replace the default `PipeReader` and `PipeWriter` with sync-only implementations, which seems like an alternative to what you're proposing...

And yes, there's nothing stopping ADO.NET users from executing some things in sync and o

[2018-07-04 22:11] mgravell commented on #30822
that basically means re-implementing `Pipe` from the ground up; which you can certainly *do*, and there's lots of pieces you could re-use, but: it isn't a small ask. However: even with zero changes there's actually only 2 important APIs here: and one of them (`FlushAsync`) you can make "always sync" simply by making the threshold non-positive on the `PipeOptions`. The other *already has* a sync op

[2018-07-04 22:40] roji commented on #30822
That's interesting...

But while `TryRead()` is synchronous, it's also non-blocking, isn't it? How would we go about making the thread block synchronously while waiting for data to arrive?

(I realize this discussion is a bit academic as we'll probably go down your sync-over-async route anyway, but it's still interesting)

[2018-07-04 22:46] mgravell commented on #30822
that's what I'm saying... it gets messy; you could* basically do:

[code]

one downside is that it doesn't make it easy to read from the network and process data concurrently. Also it is very much not how `Pipe` was intended to be used...

[2018-07-04 22:59] roji commented on #30822
Ohh, I get it - you're suggesting we totally bypass the pipelines API for actual I/O reads. So as long as data is readily (i.e. synchronously) available `TryRead()` is used, and the moment it fails we drop down to blocking directly on the stream.

Yeah, I don't think we want to go down this kind of route, but I'll keep it in mind as I work on Npgsql (in any case there's lots to do before hitting t

[2018-07-04 23:13] HumanAftrAll commented on #27610
Oh, boy. I need AsDataView()... Please port it all

[2018-07-04 23:37] bgrainger commented on #30822
I have also experienced this exact situation with MySqlConnector.

Unfortunately, there is a _lot_ of legacy code that does sync I/O, particularly (with MySQL) because Oracle's MySQL connector [never implemented](https://bugs.mysql.com/bug.php?id=70111) async I/O (so there was no benefit to using it).

I haven't followed everything that's been discussed on this thread yet, but I'm interested in he

[2018-07-05 01:51] karelz commented on #30668
Can you share a repro then? We can't do much without it.

[2018-07-05 02:42] timandy commented on #30795
@aobatact `default interface method` can be implemented by abstract class indirectly.After that all sub class of `IReadOnlyCollection<T>` should extend the abstract class.But this solution is not perfact,expect real `default interface method`. Once  `default interface method` introduced, some other interfaces will be refactor.

[2018-07-05 05:07] danmosemsft commented on #12403
@TicoDePano can you clarify? I think this original Issue is fixed : milliseconds are now returned on Unix and also on macOS if APFS partition. What change remains to make?

[2018-07-05 07:20] mgravell commented on #30822
Probably an unrelated topic, but one thing I am hearing loud and clear: *lots* of people involved in data libraries (things like ADO.NET or redis) still have huge anxiety attacks about thread-pool exhaustion scenarios - a consequence of being "the thing being called by a ton of simultaneous load". Happy to raise it is a different (but tangentially related) issue, but that is something I'd love to

[2018-07-05 07:20] nockawa commented on #30777
Late feedback for @stephentoub and maybe also @davidfowl.
I'm totally on the same side of @Drawaes & @mgravell and I would like to emphasis one thing:

Casual .net developers (so I think 99% of the people), don't spend their own time looking at github source codes or issues, looking for blog posts/video to learn about something. They generally have little time for this because their work is to del

[2018-07-05 07:29] mgravell commented on #30777
@nockawa just to note - I'm *slightly* less concerned about that; and I know that some MS guidance documents are on the way. In some ways I wouldn't want documentation to be the barrier that stops things shipping for a particular milestone, but it would be good if there was a commitment to quality consistent documentation. Even knowing where to look gets tricky - you can't find System.IO.Pipelines

[2018-07-05 07:53] Drawaes commented on #30777
If you want a hand on filling out documentation (rather than just a blog post) I am happy to help.

[2018-07-05 08:05] nockawa commented on #30777
I know that release cycles are not the same anymore and I agree it's great to have bits as soon as possible, and I don't mean to blame too.

But (there's always a but) .net core documentation for asp.net core and other major components are not on the same level as what Microsoft did with .net framework, Pipeline is just one example, `Span/Memory<T>` got a lot of hype and articles/posts so it was e

[2018-07-05 08:33] luigiberrettini commented on #29772
One of the reasons for introducing this check was that during debug sessions I noticed that, after unplugging the cable, the first Write did not fail, therefore I was losing messages.
In a logging library this can be ok, but I would like to understand how not to lose messages only reacting on errors: should I keep a cache of the last sent message and how to avoid duplication?

[2018-07-05 08:33] roji commented on #30822
@mgravell I've seen the same anxiety around TP exhaustion scenarios and deadlocks (and have been bitten myself) - people have applications that work fine in testing but lock up under load. I'm not sure what a library could do to help with that but it's definitely worth discussing.

The basic advice I give is to generally avoid blocking TP threads by using async wherever possible, and especially to

[2018-07-05 08:58] davidfowl commented on #30822
It makes it less likely because you'll be using 1 threads instead of 2 per operation but blocking is blocking. For e.g. ASP.NET runs your code on a thread pool thread and you'll be blocking it. I'm not saying that's an excuse to do sync over async, it's just why we recommend (in ASP.NET Scenarios) people use async APIs.

[2018-07-05 09:21] cristian1975 opened #30842 "IFormFile bug"
If you upload a excel file to a web api endpoint,  IFormFile object type from Request.Form.Files collection  has bigger size than the original excel file and if you try to open the uploaded file from the upload folder is in incorrect format. The method to upload a file is taken from .net core 2.1 documentation site:
           using (var stream = new FileStream(filePath, FileMode.Create))

[2018-07-05 09:42] djekmusic commented on #30754
@weshaggard the problem is we don't use it directly. It's dependency of another library. That library works as well.
Would you suggest any kind of test to run?

In assembly explorer I see only internal classes there (some resources).

[2018-07-05 11:16] khellang commented on #30842
This issue belongs in https://github.com/aspnet/Mvc 😄

[2018-07-05 12:45] shueybubbles commented on #23292
The NuGet package Microsoft.SqlServer.SqlManagementObjects has versions of the SMO binaries that target NetStandard 2.0.

[2018-07-05 12:54] stephentoub commented on #30777
IMO, 99% of the people working with .NET should not be using System.IO.Pipelines.  It's a very advanced namespace / library, for a very specific set of scenarios.

And even if that weren't the case, I believe that introducing additional types doesn't make it easier to adopt.  From my experience, it would be easier to adopt with a gradual bridge from the .NET world that's flourished for the last al

[2018-07-05 12:56] SherifRefaat opened #30843 "Update the external links inside the documentation of 'ClaimTypes.cs' file."
**Verdict**
If you follow the documentation links in the 'ClaimTypes' class, you will find that the pages are removed.

![image](https://user-images.githubusercontent.com/11178713/42324515-b11217ac-8063-11e8-95f4-ac86064a8044.png)

**Source code path**
 corefx/src/System.Security.Claims/src/System/Security/Claims/ClaimTypes.cs

**Online documentation link**
https://docs.microsoft.com/en-us/dotnet/

[2018-07-05 13:21] nockawa commented on #30777
@stephentoub it's a fair point, thanks for clarification.

I was looking to use Pipelines while programming a NoSQL database engine storing POCO on my spare time and I got interested by pipeline to reduce the memory copy of file system and network mainly.

As I wanted my project to be pretty performances driven. So I would categorize myself in the 50-90% of the people 😄 and I was hoping to find re

[2018-07-05 13:22] TicoDePano commented on #12403
[code]

**.NET Core 2.0 results:**
Runtime: .NET Core 4.6.00001.0
Input: 0 ms, 636662151720000000 ticks
Output: 0 ms, 504911120400000000 ticks
Copying images: directory $img created
Copying images: file banner1.svg copied
Input: 0 ms, 636662151720000000 ticks
Output: 0 ms, 636662151720000000 ticks

**.NET Core 2.1 results:**
Runtime: .NET Core 4.6.26606.02
Input: 205 ms, 636662151722054140 ticks
O

[2018-07-05 13:59] stephentoub commented on #30826
The implementation of this would be expensive in a variety of ways.  It's not worth it.

[2018-07-05 14:05] jnm2 commented on #30826
This is also something that extension methods would be just as good at.

[2018-07-05 14:08] MarcoRossignoli opened #30845 "Implement CreateInstance APIs to Activator for uapaot"
Implement apis added on issue https://github.com/dotnet/corefx/issues/30190 to uapaot.

## Actual API

[code]

/cc @jkotas

[2018-07-05 14:11] benaadams commented on #30826
Wouldn't it require an exponential number of overloads?

[2018-07-05 14:17] stephentoub commented on #30826
If concrete types were used, yes, leading to a very expensive set of APIs.

If generics were used, then the implementation would need to type test all possible types that are supported for each generic.  And each instantiation that involved a value type would lead to bloated asm.

Hence my "expensive in a variety of ways" comment.

[2018-07-05 14:29] CanerPatir commented on #30780
Thank you for your interest. I've fixed the issue through switching "ServerGarbageCollection" to false. We can close the issue.

[2018-07-05 14:41] MohammadHamdyGhanem commented on #30826
@stephentoub
I suggest the base ValueTuple class be modified by adding an items property, so we can use the base class as a generic type parameter that can accept any tuple, and enumerate through its items. Acually I was thinnking this is already doable, and I am surprised it is not!

[2018-07-05 14:41] vcsjones commented on #30780
Hm. That's concerning though that other people using `ServerGarbageCollection` may be running in to a segfault.

[2018-07-05 14:44] davidfowl commented on #30777
FWIW I wholeheartedly disagree with this and it has nothing to do with performance, it has to do with correctness. I think anyone who has written this type of code before (assuming you have used Socket or NetworkStream) will benefit from using something like pipelines. That's already evident if you read @mgravell's blog post.

@nockawa

I'm working on another blog post that explains why this type

[2018-07-05 14:45] stephentoub commented on #30826
There is no base class.  The various `ValueTuple<>` types are structs.

If an interface were exposed to do that, it would a) require boxing the `ValueTuple<>`, and b) require boxing every value type that was yielded, since it would need to be defined as yielding `object`s to accomodate any possible type.  That's yet another expense.

[2018-07-05 14:49] HaloFour commented on #30826
@MohammadHamdyGhanem

LINQ would beg to differ

Then use them.  Either reference the VB.NET assemblies from C# and use them, or use VB.NET.

As mentioned, trying to support tuples here would lead to an explosion of overloads, each of which would have to negotiate the type parameters in order to figure out how to write the given type.  It's not worth doing.

All `ValueTuple` structs implement `ITup

[2018-07-05 14:54] MohammadHamdyGhanem commented on #30826
@stephentoub
Unfortunately, The way ypou implemented Tuples made many problems!
But how can the primitive VB6 save any structure to the file and re-read it, while .net can't?
There should be some way to do this in .NET. (And apply that on tuples as well).

[2018-07-05 15:05] MohammadHamdyGhanem commented on #30826
@HaloFour
ITuple has only the Length property, and I donn't know how to get the items and thier types. I agree this will not be easy.

[2018-07-05 15:10] MohammadHamdyGhanem commented on #30826
This is not available at CoreFx. My object is part of VB.NET on .NET Framework only, so I aske more than once (as in some VB.NET trace classes) to include the unique functionality provided by this object in CoreFx and make it available to alll languages.

[2018-07-05 15:15] MohammadHamdyGhanem commented on #30826
@HaloFour

Thanks. This If there is Ituple.GetType(int index) method, things will be easier. To pat price of boxing or not, is a decision of the programmer.

[2018-07-05 15:20] bartonjs commented on #30801
If a certificate has custom trust rules applied then corefx refuses to remove it due to the side effects it would induce.  If it's just a garden variety certificate/identity stored in the keychain then it should remove fine

Strace or code searching would show that it is under `~/.dotnet/corefx/cryptography/x509stores/`.  Direct manipulation of those directories definitely voids the warranty.

We

[2018-07-05 15:29] HaloFour commented on #30826
@MohammadHamdyGhanem

It's called "explicit interface implementation" and it's been a part of .NET since 1.0.

[2018-07-05 15:34] MaksymProkopiv commented on #29620
Just find the reason in our case. SQL-client wasn't able to build certificate chain for SQL Server certificate, as it was issued by our Enterprise PKI. Authority Information Access path of Server certificate was pointing to internal server, that wasn't accessible from docker container.

[2018-07-05 15:35] sixlettervariables commented on #30821
Interesting behavior, introduce an enumeration on `view` after you modify `set` and before you clear `view` a second time:

[code]
The results are then as you would expect:
[code]

[2018-07-05 15:36] MohammadHamdyGhanem commented on #30826
@HaloFour
I think explicit interface implementation is sued only when implementing two interfaces that have the same member, so calling this member directly will be confusing. What is the perpose of this here?
Iterating through a tuple can be useful in some situations, and I was looking for a way to do that (thanks by the way), so why hide this info?

[2018-07-05 15:39] HaloFour commented on #30826
@MohammadHamdyGhanem

No, it's used whenever the author of a type wants to use it.  Exposing additional `Length` and indexer properties from a concrete tuple type where length and item properties are known doesn't make a lot of sense, so hiding those interface members makes perfect sense.

[2018-07-05 15:54] nockawa commented on #30777
I, personally, am all for using Pipelines, it was clear before, but it was the "last feature to learn that I couldn't afford to" on the 2.1 and C# 7.2 releases after dealing with Span, Memory, SignalR, ref struct, etc.

Reading Marc's blog post and the current activity around this topic will have at least for me the benefit to clearly understand everything I need and I believe I'll have to use it

[2018-07-05 16:28] AfsanehR commented on #29620
@EltonCarreiro we did collect the data from @MaksymProkopiv , however, it would be still useful for us to have your network trace as there could be other reasons in your case.

@MaksymProkopiv  thanks for reporting back to the issue.

[2018-07-05 16:32] TylerBrinkley commented on #15453
I've updated the proposal to add support for `ReadOnlySpan<char>` parse overloads. I've also re-implemented the Base API changes at [TylerBrinkley/coreclr](https://github.com/TylerBrinkley/coreclr/tree/master). Everything's implemented, albeit untested, not sure how to proceed with that.

[2018-07-05 16:54] ajcvickers commented on #30822
Just a couple of comments from a non-web perspective:
* Any sync-over-async must be safe from deadlocks for non web scenarios running in multiple different platforms. For example, the fact that ASP.NET core doesn't have a sync context is largely irrelevant because many times the code won't be running in ASP.NET Core, or even .NET Core for that matter.
* Sync I/O is still used commonly outside of w

[2018-07-05 16:55] dotnet-mc-bot opened #30846 "File handle issue with BuildVersion-$(TodayTimeStamp).props"
Opened on behalf of @MattGal

(I'm filing this as a CoreFX issue but it may be a BuildTools issue, please move there if I am mistaken)

In builds like the linked below, we see successful deletion of the corefx directory, followed by file handle issues in E:\A\_work\2\s\corefx\ .  This implies it's extremely unlikely to have been caused by a previous build leaking a process, more likely multiple pr

[2018-07-05 17:12] Tratcher opened #30847 "AuthenticationException with Client Cert Auth, only in Chrome"
_From @WasserEsser on July 3, 2018 23:48_

Hi,

I'm not quite sure if this is the right repository for this, excuse me if it isn't.

I'm having issues implementing client certificate authentication in ASP.NET Core using Kestrel.
More specifically, I'm getting an exception (System.Security.Authentication.AuthenticationException) when connecting to the server via Chrome with a client certificate. Us

[2018-07-05 17:19] davidsh commented on #30847
cc: @bartonjs

[2018-07-05 17:24] weshaggard commented on #30754
To test ideally you would call some code that would cause it to execute something in that library but given this isn't a dependency of another library it might be hard to do that.

In an attempt to try and fix the warning could you try referencing the System.ComponentModel.Primitives packages directly in your application and see if you still get the warning?

[2018-07-05 17:28] bartonjs commented on #30847
The call stack here suggests an SChannel problem or a TLS protocol problem... I don't see anywhere that I'd have particular insight.

[2018-07-05 17:54] MattGal commented on #30846
I take it back, I got on a machine and reviewed PML logs, this is almost definitely https://github.com/dotnet/core-eng/issues/3748

[2018-07-05 17:54] #30846 closed

[2018-07-05 18:16] davidsh commented on #30847
@WasserEsser what OS and version is this problem happening on?

[2018-07-05 18:20] danmosemsft commented on #30720
https://mc.dot.net/#/product/netcore/prodconmaster/source/prodcon~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20180704.01/workItem/System.Data.SqlClient.Tests

7 tests failing all because of not recognizing PoolBlockingPeriod

@keeratsingh could you please disable these tests for UAP (or make a fuller fix)?

[2018-07-05 18:32] wfurt commented on #29772
UDP is unreliable and you can always loose some messages. The write() will succeed when you get your data into socket buffer in kernel. You can try to write simple C program to study OS behavior.

[2018-07-05 18:36] gfoidl commented on #30826
@MohammadHamdyGhanem if you absolutely want to do this in this way, you could leverage your beloved extension methods (:wink:) to create something like this:
[code]
But this relies on reflection, hence is inheritely unperformant and shouldn't find it's way into corefx.
Note this snippet has no argument validation, is unoptimized, etc. Just to give you an idea...

A total different approach would b

[2018-07-05 18:38] WasserEsser commented on #30847
@davidsh Hi, thanks for looking into this issue.
I'm not at work right now, but I can head there to look into supplying the necessary information and to create a little repro project if you want. OS though is Windows 10, that's what I can say for sure.

[2018-07-05 18:40] davidsh commented on #30847
Thanks. A little repro project would enable us to troubleshoot this problem.

[2018-07-05 18:42] CyberSinh opened #30848 "Get path in error in FileSystemEnumerator.ContinueOnError"
I'm trying to use the new custom directory enumeration API available in .NET Core 2.1, that offer a new level of flexibility and performance in the .NET world.

After reading [blog post](https://blogs.msdn.microsoft.com/jeremykuhne/2018/03/09/custom-directory-enumeration-in-net-core-2-1) of @JeremyKuhne, I wrote a FileSystemEnumerator derived from the one provided in .NET Core 2.1. I have override

[2018-07-05 18:44] sisoje commented on #23518
@freshe your code looks great, however I had a problem saying that  WinHttpHandler is not visible class.... then i gave up...

[2018-07-05 19:33] hounddog22030 commented on #30518
I did.  I get the following Nuget exception:

error NU1605: Detected package downgrade: System.Data.SqlClient from 4.5.1 to 4.4.0. Reference the package directly from the project to select a different version.

I can't even add it via VS IDE.  I added the 4.5.1 and then edited the csproj file to read 4.4.0 and get the above error.

[2018-07-05 19:35] luqunl opened #30849 "Add public API Marshal.GetEndComSlot"
The issue is found by danmosemsft in https://github.com/dotnet/corefx/issues/30393

https://github.com/dotnet/corefx/blob/master/src/shims/ApiCompatBaseline.netcoreapp.netfx461.ignore.txt#L2595-L2619
It's not necessarily with good reason eg we have Marshal.GetStartComSlot(Type t) but not Marshal.GetEndComSlot(Type t). In fact most of them look portable - if we still have the native implementation

[2018-07-05 19:45] taualex commented on #23426
I'd like to voice my support for this as well. In our scenario, we have a set of dynamic VMs (one active, a few on standby), and one of the VMs is set (elected) as a current work node with a Global IP bound to it. The Global IP can be re-assigned to another VM if the current is unavailable (a fail-over event).
This creates a situation when a VM has 2 public IPs. We need to connect to a remote web

[2018-07-05 20:10] roji commented on #30822
Responding to @ajcvickers (and in general), Npgsql is a good example of a library where all the stream handling/buffering has been done manually. The system does work, which is why I'm not really looking at adopting pipelines for a speed boost. However, as @mgravell mentioned in his post, it involves lots of potentially brittle code which I would love to get rid of. In other words, for me pipeline

[2018-07-05 20:32] WasserEsser commented on #30847
To add onto this, generating a new client certificate and signing it with the previously used intermediate also results in an exception and a dropped connection.

[2018-07-05 20:33] #30184 closed

[2018-07-05 20:48] luqunl commented on #22789
We are working on enable WinRT(WindowsRuntime) for .NETCore. In order to enable WinRT support, Currently Customer have to explicitly reference System.Runtime.WindowsRuntime reference assembly.  This experience will be improved in future.

Current rough plan:
1. Add System.Runtime.WindowsRuntime implementation assembly into .NetCoreApp nuget package
2. Publish System.Runtime.WindowsRuntime referenc

[2018-07-05 21:08] mgravell opened #30852 "System.Threading.Channels : Expose Channel.EstimatedCount"
This is already available internally via things like `ItemsCountForDebugger`, but it would be invaluable for system monitoring purposes.

Yes, I know about the inherent race condition of a `Count`; however, the purpose is not for making decisions; it isn't to decide between `0` or `2`, nor is it to decide between `10000` or `10002` - it is so that when shit hits the fan, in my automated "what the

[2018-07-05 21:11] stephentoub commented on #30852
I'm fine with such a property as long as we can come up with a name that is as much of a warning as Marc's "RoughCountEstimateDontTrustThisSeriously" but obviously not quite as verbose :)

[2018-07-05 21:12] stephentoub commented on #30852
cc: @tarekgh

[2018-07-05 21:14] MohammadHamdyGhanem commented on #30826
@gfoidl
Thanks.
This can be written without reflection like this:
[code]
I wish there is a amart way to convert objects to thier underline types in runtime.. sothing like  ```bw.write((exacttype)item)```. This will reduce the above code to:
[code]
I think C# can do this, and it will optimize some CoreFx classes codes.

[2018-07-05 21:17] tarekgh commented on #30852
@mgravell can't you get this using the reflection?

[2018-07-05 21:18] mgravell commented on #30852
yes, but that's kinda defeating the purpose of an API, no?

[2018-07-05 21:22] whizkidwwe1217 opened #30855 "Error while building an asp.net core 2.1 project in Ubuntu 17"
[code]
**dotnet info**
.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  17.10
 OS Platform: Linux
 RID:         ubuntu.17.10-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.301/

Host (useful for support):
  Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs installed:
  2.1.301 [/usr/share/dotnet/sdk]

.N

[2018-07-05 21:24] Drawaes commented on #30852
Having (even a quick and dirty) backlog counts for queues is a hard requirement for any real system. We run a lightweight custom actor style model that we currently use Data flow for and are looking to move. One key feature for measuring system health is a background thread that goes around watching no actor is getting backed up and if so alerts operators....

[2018-07-05 21:29] Anipik commented on #23063
@jkotas I tried this change. But still the value being returned in the Corefx Tests is null

[2018-07-05 21:30] AaronRobinsonMSFT commented on #30830
@jiangzeng This should be addressed now. Please try with the latest coreclr - see referenced PR. Thanks!

[2018-07-05 21:32] benaadams commented on #30826
If you are going horribly box; might as well use pattern matching to the full and drop the second cast
[code]
Note you are going to box the ValueTuple to ITuple; then box each individual item to object; so it won't be great for performance or deal with types not in the list

[2018-07-05 21:37] mgravell commented on #30852
@stephentoub  just for comparison... `ConcurrentQueue<T>` has all the same thread-race concerns; the name of the count property is... `Count` :)

[2018-07-05 21:43] tarekgh commented on #30852
Using queue is an internal implementation of specific types of channels we support so if anyone else implements a custom channel, it is not necessary to be a queue. I am just thinking if providing this property will not be confusing in the future when providing more types of channels or even changing the internal implementation of current channels if we need to.

[2018-07-05 21:45] stephentoub commented on #30852
@mgravell, ConcurrentQueue provides snapshot semantics, such that the Count it provides is guaranteed to have been the number of items in the queue at some time (even if it's changed since).  It actually makes its Count more expensive to be able to do that.  I would like to avoid such expectations here.

[2018-07-05 21:58] NickCraver commented on #30852
How about `.ApproximateCount`?

[2018-07-05 22:07] weshaggard commented on #30645
@pjanotti was this working for you when you doing testing on code coverage?

[2018-07-05 22:09] ericstj commented on #22789
Where will the reference assembly ship?  Will this be part of the NETCoreApp framework package or will you have a dedicated nuget package that supports multiple frameworks?

[2018-07-05 22:12] MohammadHamdyGhanem commented on #30826
@benaadams
That's good. We have two situations:
1- Writing data into a small file, like saving some settings or so. This code should be as short as possible, where performance impact can be neglected.
2- Writing data into large files, like videos or 3D objects, where performance is most important, so, we should optimize writing and reading operations as possible, using MemoryMappedFile or span or

[2018-07-05 22:17] mgravell commented on #30852
I'd also be fine with `bool TryGetApproximateCount(out int count)` (or `bool TryGetCount(out int count`) - and if the custom implementation can't provide that: then: don't! or an `int?`, whatever

[2018-07-05 22:23] benaadams commented on #30826
You can also do it with if, e.g.
[code]
Here's the C# pattern matching docs https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matching

HTH

[2018-07-05 22:40] danmosemsft commented on #30170
Talked offline, part of the problem is that ACL's are not even part of the base shared package so having NPSS reference ACL's pulls a lot of code into the core install.

@pjanotti hopefully can help brainstorm possible solutions for what you want to do.

[2018-07-05 22:56] danmosemsft commented on #24360
@ckrandhir note that 2.0 will go out of support on Sept 1st.

https://github.com/dotnet/core/blob/master/microsoft-support.md
https://github.com/dotnet/core/blob/4c4642d548074b3fbfd425541a968aadd75fea99/release-notes/2.1/2.1.1.md

[2018-07-05 23:18] timmydo opened #30858 ".Net Core SocketsHttpHandler with Client Certificates hangs on windows"
We're using certs from azure key vault. I'm not sure what it does to the certs, but it seems to cause the httpclient to hang and not send the request. I created a self signed cert below and uploaded/downloaded from AKV to repro.

[code]

[code]

[2018-07-05 23:21] ViktorHofer commented on #30419
Fixed by #30770

[2018-07-05 23:21] #30419 closed

[2018-07-05 23:21] Drawaes opened #30859 "Add RentAsync to MemoryPool to allow for backpressure/limits"
## Rationale
Having now used the MemoryPool for a couple of different custom memory pools one requirement seems to have come up a number of times. These pools (ephemeral memory allocated from non-paged memory, and directly from NIC ring buffers) are limited in their ability to provide memory, they can't just grow or supply unpooled memory for ever. There have also been a number of requests to use

[2018-07-05 23:29] davidsh commented on #30858
@bartonjs I think we've seen problems before with using certificates from Azure key vault.

Also, this code will produce an X509Certificate2 object that is missing the private key. I assume the Base64 here doesn't really have the private key.  So, HttpClient won't be able to use it.

[code]

[2018-07-06 00:43] bartonjs commented on #30858
@davidsh I ran that snippet of code (using the real base64 value) and `cert.HasPrivateKey` is true.  `cert.GetRSAPrivateKey()` returned a valid object with a KeySize value of 2048.

[2018-07-06 01:07] davidsh commented on #30858
Ok.  Thanks.  I didn't expect a repro to have a real private key with it.  I'm assuming it is a test certificate of some kind.

As far as why it doesn't work, I think this has something to do with `X509KeyStorageFlags.EphemeralKeySet`.  That doesn't work right now in .NET Framework or .NET Core in terms of being able to use it for client certificates in HttpClient.  I think there is some SCHANNEL

[2018-07-06 01:10] JeremyKuhne commented on #30848
You can't easily do this. I hope to add something that gives context, but it is tricky. The information given can't add heap allocations for the relevant data.

The current shape of the ContinueOnError was meant to provide a way to simply ignore all file system errors or errors of a specific class. I wanted to provide at least some functionality in this initial release- I didn't have enough time t

[2018-07-06 01:18] JeremyKuhne opened #30861 "FileSystemEnumerator.ContinueOnError() needs overload with context"
I didn't provide context in the 2.1 release of the APIs as it is somewhat tricky to do without allocating.

Presumably some API like `ContinueOnError(Span<char> directory, Span<char> filename, bool directoryOpen)` that gets called if `ContinueOnError()` returns false and has a default return value of false.

I'm marking this up-for-grabs if anyone wants to tackle it before I find time to.

See #30

[2018-07-06 01:18] bartonjs commented on #30858
SslStream + EphemeralKeySet is #24454.

[2018-07-06 02:12] timmydo commented on #30858
Replacing the line with:
[code]
fixes it. Would be nice if the original didn't lock up though... Thanks for the help!

[2018-07-06 02:50] davidsh commented on #30858
Based on this discussion, this issue can be closed as a duplicate of #24454.

[2018-07-06 03:13] hez2010 opened #30862 "P/Invoke lost the first parameter when calling an export method of class from a 64-bit dll"
I found a problem when using P/Invoke.

C#:
[code]

C++:
Header.h
[code]

Source.cpp:
[code]

And finally I build both the dll and .NET app for 64-bit and run it, I got an error: 0xC0000005: Access violation reading location 0x0000000064646464.

Finally, I debug into Source.cpp and I found that the first parameter was not being passed into the function.
Normally, the parameters should be a = "aaaa

[2018-07-06 04:09] AndyAyersMS commented on #30862
Shouldn't your C++ method be marked `static`? Otherwise you would need to pass it the implicit first `this` argument.

[2018-07-06 04:57] jkotas commented on #30862
As Andy said. You just got lucky that the mismatched signature works in 32-bit mode.

[2018-07-06 04:57] #30862 closed

[2018-07-06 04:59] jkotas opened #30864 "Add another Darwin file system"
Port https://github.com/mono/mono/pull/9440 to CoreFX

[2018-07-06 05:00] jkotas opened #30865 "Use fast copy on Mac"
Port https://github.com/mono/mono/pull/9038 to corefx

[2018-07-06 05:39] Anipik commented on #29960
@weshaggard should we create a new library for this ?

[2018-07-06 07:00] CanerPatir commented on #30780
It seems similar to https://github.com/dotnet/corefx/issues/30776. We can follow the issue from there

[2018-07-06 07:00] #30780 closed

[2018-07-06 07:09] Etrimus commented on #30341
@danmosemsft I don't known how debug with WinDbg net Core app **running under IIS**. And i gets environment variables by another way - with [Mark Russinovich's Process Explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer).
Under IIS I running this `programm.cs`
[code]
`web.config` from IIS:
[code]
And screenshots from `ProcessExplorer`.
Process tree - [screenshot](htt

[2018-07-06 07:14] jiangzeng opened #30866 "Marshal API tests failing sporadically"
The test fails accidentally in windows, not stable.
Failed test code:
[https://github.com/jiangzeng/corefx/blob/77fced488a141298d362d5204a828835416c7012/src/System.Runtime.InteropServices/tests/System/Runtime/InteropServices/Marshal/GetExceptionForHRTests.cs](https://github.com/jiangzeng/corefx/blob/77fced488a141298d362d5204a828835416c7012/src/System.Runtime.InteropServices/tests/System/Runtime/In

[2018-07-06 07:44] davidfowl commented on #30822
Sure, it's hard to starve the thread pool here so sync over async is fine.

Not quite. The plan is to have a higher level API to do async reading. The lower level parsing APIs are synchronous but there will still need to be async reading to get more data.

[2018-07-06 07:56] Tornhoof commented on #30822
Even better, I'm looking forward to see how you'll design that.

[2018-07-06 08:00] SidShetye commented on #30801
Thanks, I think we can safely close this issue

[2018-07-06 08:18] GrabYourPitchforks commented on #30746
Yeah, I'm not sure about the *int* overloads that take a repeating pattern (as in the WebSockets scenario). The caller would need to use an unsafe cast in order to get the input span from byte to int, and we shouldn't encourage the use of unsafe code by consumers of this API.

(I think this is the point @omariom was making above.)

[2018-07-06 08:19] davidfowl commented on #30822
@ajcvickers

Is it common to run out of thread pool threads in client applications?

That's a good point. SQL Lite is just a file, it isn't streaming data back and forth from the network.

We should get some benchmarks ready so we can understand what scenarios. I'll admit, I don't have a good sense for how ADO.NET is used in non-server environments where thread pool starvation is a concern. Any ex

[2018-07-06 08:59] quan01994 opened #30867 "System.Drawing.Common DrawString lost text"
CentOS 7.4

[code]

but i get this picture
![image](https://user-images.githubusercontent.com/20533465/42369769-88b33e28-813d-11e8-95fe-192f8b3439fc.png)

g.DrawString("希希希", font, brush, width * 0.25f, height * 0.38f, sf);
this code lost 2 chinese code
why?
i think casue by libgdilpus

[2018-07-06 09:12] quan01994 commented on #30867
but text=希希希.
i get this picture
![image](https://user-images.githubusercontent.com/20533465/42370581-b5e19ece-813f-11e8-93b0-f289702dfdaa.png)

[2018-07-06 09:18] filipnavara commented on #30867
By default libgdiplus is compiled with Cairo font rendering only. This font rendering backend barely supports languages with Latin alphabet and it's broken for everything else in many unpredictable ways (no shaping, no complex layouts, no RTL). See https://github.com/mono/libgdiplus/pull/269.

[2018-07-06 09:39] roji commented on #30822
@davidfowl,

From my side I can only say users report all scenarios :) In the TP, out of the TP... Sometimes it's just a console program doing ADO.NET from the main application thread, sometimes its Orleans with its own task scheduler, it's really very diverse once you step out of ASP.NET.

And just to be sure everyone's on the same page, when we're talking about deadlocks we're discussing two dis

[2018-07-06 11:03] svick commented on #30826
If you don't care much about boxing and performance in general:

1. There's no reason to use a tuple on the write side, when you could just use the simpler and more familiar `params object[]`.
2. To "convert objects to their underlying type" you can use `dynamic`: `bw.Write((dynamic)item)`. This will perform overload resolution at runtime based on C# rules.

[2018-07-06 11:31] svick commented on #30777
@davidfowl

If you want people who don't care about performance to use pipelines, then I think the API could use some polishing when it comes to convenience. For example:

* When I get `ReadOnlySequence<byte>`, why do I have to care that it's composed of multiple buffers? What I'd like to see is a sequence of bytes, not a sequence of buffers of bytes. (Though maybe [`ToArray()`](https://docs.micro

[2018-07-06 11:34] CyberSinh commented on #30861
Can we expect a such API in the .NET Core 3.0?

Why this API like `ContinueOnError(Span<char> directory, Span<char> filename, bool directoryOpen)` would be called only if `ContinueOnError()` returns false?

Thank you @JeremyKuhne.

[2018-07-06 11:51] NaveenKumar2303 commented on #30784
By Far the solution i got is by uninstalling 64 bit version of Core such that the application tends to take only 32 bit version of it .

[2018-07-06 12:00] NaveenKumar2303 commented on #30750
Closes #30750

[2018-07-06 12:07] NaveenKumar2303 commented on #30784
You can close this issue

[2018-07-06 12:07] #30784 closed

[2018-07-06 12:07] #30750 closed

[2018-07-06 12:18] stephentoub commented on #30858
@davidsh, that other issue appeared to manifest as exceptions. This one is manifesting as a hang, where the SendAsync doesn't complete, even after cancellation is requested and the connection is disposed. Do we understand why? Seems like there may be a secondary issue here.

[2018-07-06 12:29] vitawin commented on #29461
@AlexMAS здравствуйте.
удалось ли вам найти решение вашей проблемы?
столкнулся с аналогичной проблемой. приложение на core, при попытке проверки подпись System.Security.Cryptography.Pkcs.SignedCms(Boolean) возвращает ошибку "''1.2.643.2.2.9' is not a known hash algorithm.'

[2018-07-06 12:32] stephentoub commented on #30865
It looks like Mono also passes COPYFILE_CLONE in addition to COPYFILE_ALL that we currently pass.

[2018-07-06 12:34] MohammadHamdyGhanem commented on #30826
@svick
Nice. I wrote this extension methpod:
[code]
and tested it with:
[code]
it took less than 55ms on my old PC, which will be less ofcource on a more powerful PC. I don't care even such small jobs took 2 seconds. I write such small data more often to save some settings, temp info or testing something, so I care more for making code shorter.
Note: Write method doesn't accept pbject params array

[2018-07-06 12:39] stephentoub commented on #30826
@MohammadHamdyGhanem, you can include such methods in your project. You can also publish your own NuGet library of extensions for others to consume if you believe them to be useful. We're just not going to add this to coreclr/corefx right now.

[2018-07-06 12:43] MohammadHamdyGhanem commented on #30826
The ITuple indexer is readonly, so I can't use similar proccees with the BinaryReader.Read!

[2018-07-06 12:55] MohammadHamdyGhanem commented on #30826
I have this:
[code]

and tried this code:
[code]

But C# says:

if I remove the out keyword from the function defention and call, everything is OK. Why?

[2018-07-06 13:08] #30801 closed

[2018-07-06 13:15] HaloFour commented on #30826
@MohammadHamdyGhanem

1.  This isn't the C# repo.
1.  This isn't your personal blog for how you develop stuff.
1.  `ref`/`out` parameters aren't variant.

[2018-07-06 14:28] vcsjones opened #30873 "API Proposal: CSPRNG integers with ranges"
Currently, there are two main ways of getting random data. The insecure `System.Random`, and `System.Security.Cryptography.RandomNumberGenerator` and its derivatives.

# The Problem

A common issue I find when doing reviews is that developers are unsure of the best way to get random *integers* in a secure manner, specifically when they need to clamp the integer to a specific range. They will usual

[2018-07-06 14:35] stephentoub commented on #30865
Actually, it looks like the COPYFILE_CLONE flag only applies to copyfile, not to fcopyfile, so specifying that as well will require more refactoring.  Currently we open the files in C# and then pass down the file descriptors, but to use copyfile instead of fcopyfile, we'd need to pass down the paths and other open options to have the native code handle it:
https://github.com/dotnet/corefx/blob/0e0

[2018-07-06 15:19] MohammadHamdyGhanem commented on #30826
After some trials, I found that there is no easy way to use typles to read multiple values from a file. I tried another way like this:
```List<object> data = Br.Read(typeof(string), typeof(int), typeof(char), typeof(decimal));```
It took less than 5ms to execute which is good for me, but obviously it is not short and results are not in the easy form to use.
So, doing anything with the read methods

[2018-07-06 15:22] GrabYourPitchforks commented on #30873
I don't think we need to make this cancelable. Assuming our implementation generates a random 64-bit value internally, and assuming that value is evenly drawn from the domain of all 64-bit integers, the odds of us needing to try again for bias elimination are around 1 in 8 billion.

[2018-07-06 15:24] MohammadHamdyGhanem commented on #30826
Last Note:
May be I can use this:
```var data = Br.Read<(string, int, char, decimal)>();```
where the read method is defined as:
```public static List<object> Read<T>(this BinaryReader br) where T: ITuple```

[2018-07-06 15:41] EvilAvenger commented on #30388
Same issue for me, Windows, in Service Fabric cluster

[2018-07-06 15:48] weshaggard commented on #29960
I don't have a lot of context on this but from a quick look I would suggest a new library to house this I'll look to @bartonjs to suggest a name for it.

[2018-07-06 15:53] abhi-jha commented on #28924
@madmuffin1 This worked on Ubuntu 18.10

[2018-07-06 15:55] stephentoub commented on #24365
We could.  Here's what the implementation would likely look like:
https://github.com/stephentoub/coreclr/commit/186dc3e3339306cbdb04d184fc18a92168324aae

If we went this route, the proposed surface area additional surface area for the existing `ConcurrentQueue<T>` would be:
[code]
and there would be an impact on some existing surface area when constructed with this new constructor:
- `IProducerCon

[2018-07-06 15:59] bartonjs commented on #29960
If there's no grab-bag library for things between CoreFX and the Desktop UI stacks, then probably something like "System.Security.Cryptography.X509Certificates.UI".  But since it's (per Eric's gist) ~300 lines of code, it's probably a waste to have an assembly all to itself.

[2018-07-06 16:06] davidfowl commented on #30822
That one is trivial to avoid.

This one requires a couple of things:
- To literally deadlock, you need enough load to literally exhaust the thread pool so there would have to be enough load to cause that. I know this happens in big client apps like VS (for different reasons) but I haven't heard ever being a problem in non-server apps.
- You need to be using the sync API instead of the async API (I

[2018-07-06 16:19] bartonjs commented on #30873
Something like

[code]

?

Spinning with the lzcnt/mask approach never happens if the total range was a power of 2 (range == mask), and at approaching 50% (from below) probability in the case where the total range is a power of 2 plus one.  4 spins would have a ~6.25% chance, and only consume 32 bytes from the CSPRNG.

If someone wanted to hook it up to a blocking TRNG I guess maybe they'd have a

[2018-07-06 16:21] AlexMAS commented on #29461
@vitawin No, as mentioned above this part hasn't implemented yet.

[2018-07-06 16:22] stephentoub opened #30876 "Test_BadEventSource_MismatchedIds_WithEtwListener failing on Windows"
With the updated coreclr imported in https://github.com/dotnet/corefx/pull/30840, the Test_BadEventSource_MismatchedIds_WithEtwListener test is now failing on all Windows legs:
[code]

[2018-07-06 16:29] ericstj commented on #29960
So far I haven’t created a grab bag. I have opened a number of issues but all the others found a home in some existing lib.

The one other type that’s in a similar place is SystemSounds. I currently have that in its own lib in an internal repo.  I could imagine grouping these.

[2018-07-06 16:37] danmosemsft commented on #29960
Microsoft.Win32.SystemEvents also seems in a similar position.

[2018-07-06 16:41] danmosemsft commented on #30865
@JeremyKuhne fyi

[2018-07-06 16:46] carlreinke opened #30877 "Span<T> cannot be used to keep native memory alive?"
I have a type that holds some native memory.  I want to implement `AsSpan()` on it so that the native memory can be accessed safely.

Below is a naïve attempt that shows what I'm trying to do.  Clearly `Span<T>` won't keep the holder object alive because it has only the pointer to the native memory and not a reference to the holder object.  I have also tried implementing `MemoryManager<T>` but I c

[2018-07-06 16:48] JeremyKuhne commented on #30861
Possibly. It depends on feedback and available time to allocate internal resources. If someone external wants to take this on it is more likely.

Because we want to be compatible with existing code. We can't call the new method, get true, then not call the old method. We can, however, call the old method, get true, then not call the new method as it would be documented behavior. This would be impo

[2018-07-06 16:55] luqunl commented on #22789
Current plan is to ship reference assembly in a dedicated nuget package.

[2018-07-06 16:55] GrabYourPitchforks commented on #30873
Clearly we also need a method `void Shuffle<T>(IList<T> buffer)`. :)

[2018-07-06 16:55] benaadams commented on #30877
I think @GrabYourPitchforks has some guidelines somewhere

[2018-07-06 16:56] stephentoub commented on #30877
Correct. `Span<T>` just stores a pointer / reference and a length.

[2018-07-06 17:04] gafter opened #30878 "Please add APIs to determine the Unicode category of a UTF32 code point"
Please add an API for determining the Unicode category of a code point resulting from a surrogate pair. Presumably I would compute that by starting with

[code]

But there is no way to get the unicode category of the resulting code point.

The closest thing we have right now is this:

[code]

But that requires that we store the surrogates into a newly created string in order to get the Unicode cat

[2018-07-06 17:09] stephentoub commented on #30878
https://github.com/dotnet/coreclr/pull/15911 added:
[code]
to `CharUnicodeInfo`, available in .NET Core 2.1.

[2018-07-06 17:15] vcsjones commented on #30873
I had considered adding a proposal for different shuffling algorithms, however decided that I may do those later as a separate API proposal to keep this one succinct and have a higher chance of the proposal moving forward.

The broader issue I see is confusion about when to use random and when to use a shuffle. "I want to randomly generate a string with no repeating characters" would make good use

[2018-07-06 17:18] gafter commented on #30878
Perfect! Thanks.

[2018-07-06 17:18] #30878 closed

[2018-07-06 17:38] bartonjs commented on #30873
I see the value, and it might be the right shape for what it is.  There are two drawbacks I see:

* We just added `Fill(Span<byte>)` to remove most of the places where people needed an instance of a CSPRNG (modulo places they want to swap one out), this goes against that grain.
* It wastes a lot of random bits.

Yahtzee's 5d6 can be accomplished in 15 bits, 3 per die (with a 1/4 chance of a "cocke

[2018-07-06 17:44] gafter opened #30879 "Please add APIs to lowercase a UTF32 code point"
To perform case-independent identifier comparison for VB, we case map to lowercase (as recommended by the Unicode specification). We use `System.Globalization.CultureInfo.ToLower(char c)`. Unfortunately, there is no version of this API that works on UTF32 code points (that result from surrogate pairs).

Please add such an API.

[2018-07-06 17:50] tannergooding commented on #30879
@gafter, can you not use `string char.ConvertFromUtf32(int utf32)` and then `string.ToLower(CultureInfo)`?

An overload that directly took `int utf32` or `char highSurrogate, char lowSurrogate` would probably be more performant, however.

[2018-07-06 17:51] stephentoub commented on #30879
You should be able to use:
[code]
from MemoryExtensions.

[2018-07-06 17:57] nil4 commented on #30861
Should the `directory` and `filename` parameters be `ReadOnlySpan<char>`, or is it expected that the calee would mutate them?

[2018-07-06 17:59] JeremyKuhne commented on #30861
They should be. Bad habit on my part- I'll update the comment.

[2018-07-06 18:04] vcsjones commented on #30873
I see. Would we want additional static members that defer to `RandomNumberGeneratorImplementation`?

[code]

Or should we not bother with the instance members at all now and rely on `RandomNumberGeneratorImplementation`'s `GetBytes`?

Yes. As you mentioned, it can be improved to only request the necessary bytes instead of filling a whole integer. The trade off for me is that some developers will c

[2018-07-06 18:10] wfurt commented on #28501
rfc3696, section 3.
And underlying rfc2821

[code]

as @lukos mentioned,  spaces should be legal if quoted.

[2018-07-06 18:22] gafter commented on #30879
@tannergooding That would require a string allocation on every use.

@stephentoub Can you please tell me more about this API? Where do I find the docs, and in what platform is it? Does it return the new code point? Or do I have to decode the resulting surrogates in the `destination` myself?

[2018-07-06 18:23] gafter commented on #30879
@stephentoub That API is not usable from VB because of the use of Span. What API should I use from VB?

[2018-07-06 18:23] GrabYourPitchforks commented on #30879
We also have this exact API proposed as part of the UTF-8 work (via the static method `UnicodeScalar/Rune.ToLower`).

In your scenario, is it possible to perform sequence comparisons instead of char-by-char comparisons? That is, if a method `bool Equal(ReadOnlySpan<char> identifier1, ReadOnlySpan<char> identifier2, CultureInfo culture, bool caseSensitive)` were available, would you be able to call

[2018-07-06 18:28] stephentoub commented on #30879
It's the equivalent of `String.ToLower(CultureInfo)`, except the input is a `ReadOnlySpan<char>` instead of a `String`, and the output is written to the destination `Span<char>` instead of to an allocated string.  It's intended for use where `String.ToLower` was previously being used but where you want to avoid allocation, which is why I said it'd be a bit cumbersome for your desired use-case of t

[2018-07-06 18:29] danmosemsft commented on #12403
I repro this on Ubuntu 1604 -- when we copy the file the access and modify times both drop their millisec part. The change time does not, presumably because the file system sets it.

Certainly we should fix this. @TicoDePano do you have any interest in investigating?

[2018-07-06 18:30] wfurt commented on #2046
related to #30600

[2018-07-06 18:33] danmosemsft commented on #12403
Fix is here https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_io.c#L1271-L1293 where it explicitly sets 0 for milliseconds

It needs to access milliseconds via the macros defined here https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Native/pal_io.h#L40-L70

[2018-07-06 18:33] #30864 closed

[2018-07-06 18:34] GrabYourPitchforks commented on #30877
You'll need to use `Memory<T>` with a custom `MemoryManager<T>` if you want to keep the underlying reference alive.

See https://gist.github.com/GrabYourPitchforks/8efb15abbd90bc5b128f64981766e834 for samples. I've been meaning to update these docs, especially with the feedback that Steve and others gave a few months ago. Maybe this'll be the kick in the pants I need to incorporate all of that fee

[2018-07-06 18:41] ericstj commented on #22789
I see, in that case the nuget package will also have the implementation assembly?  Just trying to understand why we're putting this in .NETCoreApp package if we aren't exposing it and it isn't a dependency of anything already in there.

[2018-07-06 18:42] keeratsingh commented on #30618
Closing Issue, fixed as part of PR #29879 ,Commit https://github.com/dotnet/corefx/pull/29879/commits/08b595d71796c567467fd04fd09007d896a43b17 in file [SqlFileStream.Windows.cs](https://github.com/dotnet/corefx/blob/08b595d71796c567467fd04fd09007d896a43b17/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlFileStream.Windows.cs)

[2018-07-06 18:42] #30618 closed

[2018-07-06 18:44] ViktorHofer commented on #29907
Can someone please point me to a simple repro? I want to verify the fix.

[2018-07-06 18:44] GrabYourPitchforks commented on #29887
FWIW the reason we didn't expose a `Dispose` method on `MemoryManager<T>` is that it's not supposed to be passed around from method to method. The "token" of ownership is `IMemoryOwner<T>`, and _this_ is the type that can be passed around in a public API surface (and it has an exposed `Dispose` method). `MemoryManager<T>` is simply an implementation detail that no consumer should take a direct dep

[2018-07-06 18:52] ericstj commented on #29960
Except we already shipped that one.

[2018-07-06 18:57] gafter commented on #30879
@GrabYourPitchforks Our compilers do not allocate backing strings for the source code. We use these APIs as part of identifying where the identifiers begin and end, so we do not know ahead of time what sequence we are working with.

[2018-07-06 19:05] danmosemsft commented on #12403
This might be a servicing candidate actually since presumably it breaks up-to-date checks.

[2018-07-06 19:08] GrabYourPitchforks commented on #29887
Admittedly the initial reasoning for leaving off a public `Dispose` method is fairly weak, and perhaps we should reconsider this.

But the other point I made still stands: `MemoryManager<T>` is likely the wrong exchange type to be passing around between methods; use `IMemoryOwner<T>` if possible (which doesn't have this issue) or `DerivedMemoryManager<T>` (if you fully control the calling code and

[2018-07-06 19:15] Maoni0 commented on #30644
@Lexcess

can you please explain why you would want it to get gen counts? you could call GC.CollectionCount yourself obviously but I am guessing there's a reason why that's not sufficient for you.

you may or may not - obviously depends how often threads are created not via async. but there is an important difference in perf - this automatic tracking via async locals is more costly than simply rea

[2018-07-06 19:22] AArnott commented on #29907
The repro steps for me are described [here](https://github.com/AArnott/vs-threading/commit/357f279e44d150d2dbc305cf81fd549f2cbaed2d).

[2018-07-06 19:33] carlreinke commented on #30877
This is unfortunate.  It would have been very useful to be able to safely expose unmanaged memory in a `Span<T>` without requiring that the consumer use the `MemoryManager<T>` correctly.

It seems like portable-`Span<T>` could have stored a reference to `MemoryManager<T>` the same way that `Memory<T>` does, but fast-`Span<T>` can't support keeping a reference to the `MemoryManager<T>` because it w

[2018-07-06 19:50] tannergooding commented on #30879
@gafter, only in the scenario where you had a surrogate (this would allow the scenario to be handled now and be improved later when a non-allocating API was added). Given that surrogate characters are the exception, not the norm, I wouldn't imagine it wouldn't be terrible as a first iteration.

You can check if the character needs surrogate handling using `char.IsSurrogate` (there are `(string s,

[2018-07-06 19:51] GrabYourPitchforks commented on #30877
What kind of safety guarantees do you need to make for your consumers? I don't really think it'll be common for somebody to dispose of a `MemoryManager<T>` while somebody is still using the `Span<T>`. Remember, you can't throw a `Span<T>` across a thread boundary or store it as a field in a class, so it's unlikely that somebody will hold on to the `Span<T>` for longer than they're supposed to. Rat

[2018-07-06 19:54] CyrusNajmabadi commented on #30879
@gafter BasicCodeAnalysis has a dependency on CodeAnalysis.  So couldn't you write any helpers you needed tehre in C#, and then just reference them from BasicCodeAnalysis?  That would make it so you could use any sort of ref/span/whatever API and still have thigns work from VB.

[2018-07-06 19:58] danmosemsft commented on #23063
This is because xunit.console.netcore.exe is the entrypoint assembly for your test and it is missing the attribute. I assume it does work when you do "dotnet.exe myapp.dll" as myapp.dll is the entrypoint assembly and should have it.
For testing purposes I would either update the xunit exe's or better still use RemoteInvoke(), adding the TargetFrameworkAttribute manually into https://github.com/dot

[2018-07-06 20:01] jjxtra commented on #26061
AuthenticateAsServerAsync hangs for me on all platforms. I've tried lets encrypt certs as well as the IIS express test certificate.

[2018-07-06 20:07] weshaggard commented on #22789
The reason we are putting the implementation inbox is because of the coupling between this and the runtime. We felt it was better to keep it inbox and just expose the ref in the package with a placeholder for the implementation.

[2018-07-06 20:17] ericstj commented on #22789
I see, I believe this may be the first package to do that, so you may run into some new cases in validation that need to be suppressed.  I'd also be careful about ensuring its a placeholder everywhere (and not just windows). I could imagine our host could get confused if, for example, we had a RID-less not supported aseembly and a windows-placeholder and then ran as a portable app.

[2018-07-06 20:34] ViktorHofer commented on #29907
We just pushed the missing package and the issue should now be resolved. Thanks for the feedback!

[2018-07-06 20:34] #29907 closed

[2018-07-06 20:39] joshfree commented on #30877
related tracking docs issue for this https://github.com/dotnet/docs/issues/4823

[2018-07-06 20:42] carlreinke commented on #30877
I would like to guarantee that "using my library cannot corrupt memory".  (Obviously with `unsafe` or poking around with reflection, all bets are off.)

I'd like good performance and interoperability, so exposing a `Span<T>` for the consumer to use sounds great.  But if, then, the best guarantee that I can provide is that "using my library _as long as you don't do anything weird_ cannot corrupt me

[2018-07-06 20:58] carlreinke commented on #30877
It looks like the answer is that `Span<T>` exposed on types that hold unmanaged memory cannot absolutely guarantee no use-after-free.

[2018-07-06 20:58] #30877 closed

[2018-07-06 21:07] #29886 closed

[2018-07-06 21:46] asyncawaitmvvm commented on #29807
Oh you guys.

[code]

What exactly IS this garbage?

P.S. ENOENT = no file or directory found.

Yet under System.IO we have:

FileNotFoundException
DirectoryNotFoundException

Don't justify this source file, fix it.

[2018-07-06 23:14] karelz commented on #30760
@mconnew can you please answer the questions above for us to prioritize it properly?
* What is the impact on WCF scenarios/customers? How common are the scenarios?
* Are there any workarounds on WCF side or on customer side?

[2018-07-06 23:23] brianrob commented on #30876
This failure occurs when we write an event to the ETW event stream stating that one of the EventSource methods is incorrectly authored.  The incorrect authoring is expected and an event is supposed to be written that contains a string describing what is wrong (this is the point of the test).

Last good commit: https://github.com/dotnet/coreclr/commit/7d048c01f8eb4b7591f71556dff5cb4ae9a79d9a
First

[2018-07-06 23:28] brianrob commented on #30876
In case it's helpful, here is the callsite where we call Type.GetProperties(): https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/Statics.cs#L383.

[2018-07-06 23:35] karelz commented on #30354
Duplicate of #30327

If there are other root-causes mixed up in this report, please let us know. To tell for sure, Wireshark traces need to be verified. Thanks!

[2018-07-06 23:35] #30354 closed

[2018-07-06 23:50] AtsushiKan commented on #30876
If this generated code is compiled to IL, I'd suggest ildasm'ing the IL to see if the "message" property is still there, and is still **public** visibility (the method you're calling only returns **public** properties.)

That's all I can think of on a five minute look.

[2018-07-07 00:56] tarekgh commented on #30852
@stephentoub do you think having count property will make sense for any user's custom channels or for any channel we support later. if you think so, here is the suggested list for the name we may choose from:

- Count
- ApproximateCount
- EstimatedCount
- VolatileCount
- UnsteadyCount
- UnsafeCount

[2018-07-07 01:47] #23063 closed

[2018-07-07 02:45] karelz commented on #30855
This issue was moved to dotnet/sdk#2386

[2018-07-07 02:45] #30855 closed

[2018-07-07 02:46] karelz commented on #30843
@SherifRefaat do you want to submit a PR?

[2018-07-07 02:46] karelz commented on #30842
This issue was moved to aspnet/Home#3304

[2018-07-07 02:46] #30842 closed

[2018-07-07 02:47] karelz commented on #30842
@khellang thanks for saving me time to figure it out myself :)

[2018-07-07 03:07] danmosemsft commented on #29807
@asyncawaitmvvm  is caching it making your code less readable, or you just noticed this in corefx code?

Would ProcessException derived from Win32Exception be a substantial improvement for you?

[2018-07-07 04:02] bartonjs commented on #30843
Those URIs are the URIs that represent the claim.  I don't know that there ever was a resource at that location.

Presumably the documentation is trying to display the const string value... but then because it looks like a URI it's getting link-ified.

[2018-07-07 08:43] mgwalm commented on #2704
public static async Task<Response[]> CallService(Request[] requests, ClientDescription description, CancellationTokenSource cts = null)
    {
      try
      {
        var mainTask = RequestClient.CallHttpWebService(requests, description, cts);
        var cancellask = mainTask.ContinueWith(
           antecedent =>
           {
             Debug.WriteLine($"CallService cancellask main task cance

[2018-07-07 10:59] DanielSSilva opened #30887 "different CaseInsensitive across operating systems"
Comparing the char `º` to `o` or `O` (capital o) have different results for different OS. A repro can be found here: https://github.com/markekraus/CaseInsnsitiveOs

At the moment, it seems like it's not possible to use `º` and `o` or `O` on an hash table on Linux and MacOS, as it throws the following error (taken from PowerShell, where it was firstly detected):
[code]
On Windows, the result of thi

[2018-07-07 13:29] markekraus commented on #30887
For clarity, this issue can ignore PowerShell altogether. PowerShell HashTable literals use case-insensitive key and detect a key clash in the literal. The reason this error happens in PowerShell is that .NET Core evaluates `º`, `o`, or `O` as case-insensitively equivalent.

`º`, `o`, and `O` may be case-insensitively equivalent by design, but if so then the results of case-insensitive matching of

[2018-07-07 17:53] Duffyx commented on #2046
For your information into choosing kqueue:
https://forums.freebsd.org/threads/inotify-for-freebsd.38162/page-2#post-317478

Although, a developer of Intel is doing some work for a more scalable implementation vs kqueue.
This is in his todo-list: Scalability | inotify/fsevents equivalent. | Kqueue doesn't scale well.

I'm not saying you should stop the implementation using kqueue altough in the fut

[2018-07-07 18:07] josteink commented on #2046
If the future looks like inotify, why not just use libinotify for now?

Surely the FreeBSD code there will be improved to support native inotify-like behavior once landed?

Or am I missing something? Is depending on another third party library such a big problem?

[2018-07-07 18:11] krytarowski commented on #2046
What is future? NetBSD supports kevent(2), the same like all modern BSDs.

[2018-07-07 18:14] Duffyx commented on #2046
If the future looks like inotify, why not just use libinotify for now? -> Good point.
I don't recall that depending on a third party library is a big problem.
Just sharing some information I picked up on mailinglist/forums. (I'm not a dev :-))

[2018-07-07 19:06] filipnavara commented on #30830
Eh, all PR unit tests now consistently [fail](https://mc.dot.net/#/user/filipnavara/pr%7E2Fjenkins%7E2Fdotnet%7E2Fcorefx%7E2Fmaster%7E2F/test%7E2Ffunctional%7E2Fcli%7E2F/eca1178c6662ca1499eb75a2f3e814a699079f4f) because of this.

[2018-07-07 19:08] Clockwork-Muse commented on #30887
We rely on the OS for most underlying string operations, including casing.   [Given @tarekgh 's comment here](https://github.com/dotnet/corefx/issues/29330#issuecomment-384718448), this is going to be "by design".

(If you think string stuff is bad, we delegate timezone definitions to the OS too, and there's two completely different databases in use between Windows/Everybody else)

[2018-07-07 19:50] josteink commented on #2046
OK. Fair enough. You can call it that. If it meant we could borrow code from mono, or the Linux-codebase I'd rather call it pragmatism though.

As you may or may not know, when I (as one of total 3-4 individuals) set out back in 2015 to try to port .NET Core to FreeBSD the ambition was never for the port to be *perfect* on first take. The goal was to get *something* running, so that we had a base

[2018-07-07 20:02] geoffkizer commented on #30777
I think it's important to remember that there are tradeoffs here.

As you point out, pipelines avoid data copies by managing a sliding list of buffers. This comes at the cost of having to use ReadOnlySequence<byte> instead of just a linear Memory<byte>, which means you have to write your code to deal with discontiguous buffers. Plus, there's some (small) overhead for things like Slice or random-ac

[2018-07-07 20:04] krytarowski commented on #2046
I can tell that I've ported all of existing CoreCLR/CoreRT and almost all of CoreFX code to NetBSD. At some point in time it was superior to all other BSDs together... however I'm still preempted by toolchain work (LLDB-centric, sanitizers, kernel sanitizers etc). And regardless of grants offers from the FreeBSD people I keep my focus on the NetBSD features.

Beware a fight of things like keven vs

[2018-07-07 20:05] saper commented on #2046
The issue is about the number of file descriptors required to watch a large number of files/directories.

libinotify will not fix the problem, because it uses `kqueue(2)` internally and fakes inotify call.

[2018-07-07 20:06] Drawaes commented on #30777
Other than udp which pipelines doesn't support anyway... Is there a protocol with all of the same sized buffers.... I am yet to meet one (okay maybe lower framing like TLS but that is a framing layer) I think the majority case is variable message length as it's rare for application payloads to always be equal.

[2018-07-07 20:07] stephentoub commented on #30830
It's not exactly because of this. This PR added tests, which passed CI. Concurrently a PR updated to a new coreclr that changed a behavior (by design), and it passed CI
 I merged both, but they were incompatible, so together one of the new tests fails. I'll fix it later today when I'm back at my machine.

[2018-07-07 20:11] davidfowl commented on #30777
That’s right there are tradeoffs. The other thing to remember is the fact that Pipelines is both and abstraction and an default implementation. The abstraction leads you into a pattern that reduces errors. The default implementation has made some tradeoffs on your behalf based on our experience with processing steaming data.

That said, I fully expect to see more implementations appear in the full

[2018-07-07 20:14] bartonjs commented on #30843
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.IdentityModel.Claims/ClaimTypes.xml

[2018-07-07 20:35] davidfowl commented on #30777
If it were possible to do that without allocating but I don’t know if a way to do that. It’s possible there could be a resize memory allocation strategy that would copy instead of allocating chunks but I wouldn’t make it the default. The goal of this API is to be a bit of success for both performance and correctness. I think people will use it when they realize how error prone it is to do any of t

[2018-07-07 20:41] markekraus commented on #30887
That makes sense. I was aware of the timezone craziness. I'm glad in 2.1 I no longer have to deal with the libcurl differences between platforms causing all kinds of broken x-plat behavior in HttpClient.

@DanielSSilva It looks like this is `by design` in .NET Core and there is nothing much we can do to remedy it PowerShell.

[2018-07-07 20:48] filipnavara commented on #30830
@stephentoub Thanks!

[2018-07-07 21:34] benaadams commented on #30777
Don't go there... I've taken a breath and not posted my 20 paragraph reply as I think you are just being funny.

[2018-07-07 21:37] benaadams commented on #30777
Don't go there... Its a very out of context quote from a paper arguing for the use of `goto`.

[2018-07-07 21:52] benaadams commented on #30777
Don't go there... Its a very out of context quote:

[ ... ]

from a paper arguing for the use of `goto`:

[2018-07-07 22:32] ThadHouse commented on #29120
I think a new type of constraint would be great, however to be done right I think the constraint would need to be a special type of constraint. Basically, if a `where T : ref` constraint was added (not a good name), any type could be passed to the function, and all that would happen would the generic method itself would not be allowed to box any T object. It also couldn't be applied to classes or

[2018-07-08 01:17] nitroxis opened #30891 "HashSet ISerializable implementation sets wrong type for the equality comparer."
The `HashSet<T>` `ISerializable` implementation sets the wrong type for its equality comparer in this line:

https://github.com/dotnet/corefx/blob/2e34bf9d93e23c2fdf978e457543b95906226721/src/System.Collections/src/System/Collections/Generic/HashSet.cs#L401

I believe this should be `typeof(IEqualityComparer<T>)`, not `typeof(IComparer<T>)`. I know this is legacy code, but it leads to issues when

[2018-07-08 01:59] wfurt commented on #2046
I agree with @josteink about basic functionality and improvements. Choosing obviously wrong path would probably be waste of effort but I think performance and scalability could come after having functional implementation.  I updated build so it will create stub returning PNSP exception.
Think about it as first buggy implementation.

BTW Latest FreeBSD port effort is not mostly at https://github.co

[2018-07-08 02:09] wfurt commented on #2046
BTW we are looking for contributors and alpha users. If anybody has cycles to help, please let me know.

[2018-07-08 07:38] davidfowl opened #30892 "Add PipeOptions setting for retaining Memory after the PipeReader consumes it"
Today, the `Pipe` implementation returns buffers to the underlying buffer pool as soon as the buffer is fully consumed by the `PipeReader`. This is great for lowering memory usage but it causes more memory to be returned to the pool even if we haven't exhausted the current memory segment.

We should have an option to avoid change this behavior so that the segment sticks around longer. This'll incr

[2018-07-08 07:59] davidfowl opened #30893 "Consider offering a Pipe allocation strategy that does array re-sizes instead of using a linked list of segments"
Today the default `Pipe` implementation exposes a linked list of buffers with fixed segment sizes. In some scenarios, it might be more performant to re-size a single array instead of using a linked list.

Pros:
- It speeds up `ReadOnlySequence<T>` operations (Slice, GetPosition etc)
- Simpler to deal with a single buffer `ReadOnlySequence<T>`

Cons:
- More memory copies
- Potentially more memory u

[2018-07-08 08:30] davidfowl opened #30894 "Improve the back pressure deadlock error"
Today the error is "Advancing examined to the end would cause pipe to deadlock because FlushAsync is waiting.", we should improve this to be something like:

"The maximum buffer limit of {0} was exceeded." The exception should also be a specific type of exception that's easy to detect and throw your own error. Since this error may be thrown at a point where the `PipeReader` may not have control ov

[2018-07-08 09:59] NickCraver commented on #30894
Related: #30689

[2018-07-08 10:06] mgravell commented on #30894
I did point out that the error message *at a minimum* needs some love, on that linked issue :)

[2018-07-08 14:39] BruceHunter commented on #13660
Security should be number 1. This should have been released already.

[2018-07-08 14:45] Rajivts commented on #16680
Hi @sepidehMS ,
I'd like to participate in the issue and add relevant test cases to improve the code coverage, but I have never done open source before. I've read all the related docs and style guides, may I contribute?

[2018-07-08 15:45] danmosemsft commented on #16680
@rajivts ypu would be welcome! Work at your own pace.
@krwq owns this area now and can help with questions

[2018-07-08 16:10] Rajivts commented on #16680
Thanks @danmosemsft

Hi @krwq

Before creating the test cases, I was referring the "System.Xml.XmlSchemaSet.Tests" test project for understanding the structure of existing unit tests. On inspecting the properties of the project, the target framework was found to be ".NET Portable Subset (Visual Studio 2012)". However, while searching for project templates in Visual Studio 2017 I was not able to fi

[2018-07-08 18:20] MohammadHamdyGhanem commented on #30826
I did this for the read method:
[code]

Now I can write:
```var data = Br.Read<string, int, char, decimal>();```

[2018-07-08 19:06] karelz commented on #13660
The PR was merged into master, which will ship in 3.0.
I let @AfsanehR @David-Engel @keeratsingh to comment on option porting it to 2.2.

[2018-07-08 19:11] karelz commented on #29820
@krwq @tarekgh there are 2 more duplicates. Is it worth porting to 2.1.x servicing?

[2018-07-08 19:29] tarekgh commented on #29820
There are 2 different workarounds for anyone hitting this issue. This is why we didn't consider it for the servicing. but if you think this is meeting the servicing bar we can consider.

CC @danmosemsft and @Petermarcu

[2018-07-08 19:49] karelz commented on #30283
This has been fixed in release/2.1 branch in PR #30367. Closing.
@JeremyKuhne can you please double check?

[2018-07-08 19:49] #30283 closed

[2018-07-08 20:10] karelz commented on #30599
@maryamariyan did PRs #30716 and #30744 fix only part of the problem?
Do you expect more changes (e.g. PR #30815)? Do you expect those changes to flow into release/2.1 as well?

[2018-07-08 20:35] karelz commented on #30506
@ericstj was it fully or just partially fixed by your 2.1.x PR #30609?

[2018-07-08 20:36] karelz commented on #30484
Fixed in release 2.1 in PR #30534

[2018-07-08 20:38] stephentoub commented on #30852
I'm having trouble coming up with a case where the concept wouldn't make sense.  The closest I've come is a channel that's not actually backed by anything, e.g. an InfiniteChannel, where a read will always succeed, in which case the count would effectively be infinite.  But even in such a case you could argue that a Count of 1 always makes sense, such that there's always 1 item available, and the

[2018-07-08 20:39] karelz commented on #30388
It has been fixed in 2.1 servicing in PR #30553, closing.
It should be part of 2.1.3 release.

[2018-07-08 20:39] #30388 closed

[2018-07-08 20:40] karelz commented on #30275
Fixed in 2.1 servicing in PR #30379. Closing.
Should be part of 2.1.3 release.

[2018-07-08 20:43] karelz commented on #29691
Fixed in 2.1 servicing in PR #30381. Closing.
It will be part of 2.1.3 release.

[2018-07-08 20:43] #29691 closed

[2018-07-08 20:46] karelz commented on #29820
@tarekgh if it was considered, then fine. Although, 2.1 is LTS, and it is not nice to have a specific timezone broken ...

BTW: I saw only 1 workaround - changing timezones. What is the other one?
Maybe we should at least add it into "known issues" list? It may be easier for people to find about it.

[2018-07-08 20:48] karelz commented on #29577
Fixed in PR #30427 in 2.1 servicing - it will be part of 2.1.3 release. Closing.

[2018-07-08 20:48] #29577 closed

[2018-07-08 20:50] tarekgh commented on #29820
The second workaround mentioned in the comment: https://github.com/dotnet/corefx/issues/29820#issuecomment-390690353

@krwq could you please add the needed information to the know issues doc?

[2018-07-08 20:53] tarekgh commented on #29820
To comment on that. The issue happens only if you are using a historical period of the concerned time zone. the bug exposed because System.IO is using file dates to the year 1600 on Linux which doesn't make sense as Linux epoch is 1970. I already communicated this feedback to @JeremyKuhne

[2018-07-08 20:56] karelz commented on #29825
Fixed in 2.1 servicing via PR #30432. Will be part of 2.1.3 release.

[2018-07-08 20:56] #29825 closed

[2018-07-08 20:56] wfurt opened #30899 "System.IO.FileSystem tests failing on FreeBSD"
[code]

All the failing tests are marked with `[PlatformSpecific(~TestPlatforms.OSX)]` so there is possibility FreeBSD behaves as OSX.
This should be investigated.

[2018-07-08 20:58] karelz commented on #30391
Fixed in 2.1 servicing by PR #30459. Will be part of 2.1.3 release.

[2018-07-08 20:58] #30391 closed

[2018-07-08 21:01] karelz commented on #30003
Fixed in 2.1 servicing in PR #30033. Will be part of 2.1.3 release.

[2018-07-08 21:01] #30003 closed

[2018-07-08 21:05] karelz commented on #29942
Fixed in release/2.1 branch in PR #30155. Will be part of 2.1.3 release.

[2018-07-08 21:05] #29942 closed

[2018-07-08 21:08] karelz commented on #30359
Fixed in release/2.1 branch in PR #30361. Will be part of 2.1.3 release.

[2018-07-08 21:08] #30359 closed

[2018-07-08 21:12] karelz commented on #29669
Fixed in 2.1 servicing in PR #29923. Part of 2.1.1 release.

[2018-07-08 21:14] karelz commented on #29999
Fixed in release/2.1 branch in PR #29970. Part of 2.1.1 release.

[2018-07-08 21:14] #29999 closed

[2018-07-08 21:18] karelz commented on #29841
Adjusting milestone to 3.0 to track it was fixed in 3.0, but not in 2.1.x.

[2018-07-08 21:22] tarekgh commented on #30852
ok, let's choose a name to indicate that this count is not safe at all and would be the responsibility of the caller how to use it. I mentioned the name suggestions so far we can choose one of them or come up with one better name.

[2018-07-08 21:32] Drawaes commented on #30852
I don't mind most of the names except for what my opinion is worth I would leave "unsafe" out of it. In the lexicon of .net it has a pretty specific meaning around memory. The count method will give a stronger guarantee than "I will leak memory in some circumstances" its more "I might be inaccurate".

[2018-07-08 21:33] nitroxis commented on #30891
I don't have a repro case at the moment. I was using a custom serializer that expects the instance loaded for an entry in a SerializationInfo to be compatible with the type of that entry. For `HashSet<T>`, an `ObjectEqualityComparer` is the default comparer, which does not implement `IComparer<T>`, hence the exception.

As for the behaviour in the full framework, it used `IEqualityComparer<T>`, as

[2018-07-08 21:40] karelz commented on #29820
OK, so should we change System.IO to behave better in 2.1.x instead?

[2018-07-08 21:43] Joe4evr commented on #30852
`EstimatedCount` sounds like the best option, then.

[2018-07-08 21:44] nitroxis commented on #30891
Here is a very simple demonstration of the issue:
[code]

This succeeds on .NET Framework 4.7 but throws an exception on .NET Core 2.1:
``'System.Collections.Generic.GenericEqualityComparer`1[System.String] is not compatible with System.Collections.Generic.IComparer`1[System.String]'``

[2018-07-08 21:52] tarekgh commented on #29820
No, I am not suggesting that. this will be riskier. we either service the time zone fix to 2.1 if we think this is necessary or we add it to the known issues doc. @JeremyKuhne will need to decide if want to change the System.IO on 3.0.

[2018-07-08 21:55] tarekgh commented on #30852
If all agree, @mgravell may need to get the API proposal written in the top of this page and we can proceed from here.

[2018-07-08 22:02] mgravell commented on #30852
@tarekgh  like that? or did you mean something else?

[2018-07-08 22:05] tarekgh commented on #30852
@mgravell here is some example regarding the format we prefer

https://github.com/dotnet/corefx/issues/271

[2018-07-08 22:09] tarekgh commented on #30887
@DanielSSilva yes this is by design as @Clockwork-Muse mentioned in his comment. if you are seeing some wrong behavior in the casing when running on specific OS, you may report this issue to Windows team if this is reported on Windows or report it to the ICU library if you are running on Linux/OSX.

[2018-07-08 22:09] #30887 closed

[2018-07-09 02:10] karelz commented on #29820
Thanks for clarification.
So far I have seen 3 independent reports: this one #29820 (originally https://github.com/dotnet/sdk/issues/2251), https://github.com/dotnet/cli/issues/9526 (originally https://github.com/dotnet/core/issues/1715) and https://github.com/dotnet/sdk/issues/2386 (originally #30855).
Given that the entire timezone "Asia/Manila" has broken dotnet command even for HelloWorld app,

[2018-07-09 02:21] danmosemsft commented on #29820
The impact may meet the servicing bar. 2.1 will be in support for some time. I don't know the risk. @tarekgh you are welcome to send the usual email if you believe it makes sense.

[2018-07-09 08:14] RobertoPrevato commented on #23229
I just met this error in the following context:
Razor view having `@inject IViewLocalizer Localizer` when the view actually doesn't require localization and doesn't have an associated `.resx` file (e.g. `Views.Error.Foo.en.resx`).
It works locally, but once published the whole application crashes with `System.InvalidOperationException: Cannot find reference assembly 'netfx.force.conflicts.dll' fil

[2018-07-09 08:36] DanielSSilva commented on #30887
Thanks for the clarification @tarekgh , @Clockwork-Muse, @markekraus . I thought it would be compared to the ascii characters...

[2018-07-09 08:49] MichalStrehovsky opened #30905 "Should DataSet.WriteXml respect TypeForwardedFromAttribute?"
See https://github.com/dotnet/corert/issues/6065#issuecomment-403086890:

`DataSet.WriteXml` will serialize a column such that `System.Guid` is reported as living in the `System.Private.CoreLib` assembly. This assembly only exists on CoreRT/CoreCLR (even CoreCLR, it depends on which version you're looking at). This assembly doesn't exist in the desktop CLR, for example. This makes the serialized `

[2018-07-09 09:32] JonHanna commented on #14752
Maybe this should be considered for porting. https://stackoverflow.com/q/51240596/400547 is someone hitting the same bug against netfx.

[2018-07-09 10:29] ViktorHofer opened #30906 "Restoring optional tools fails"
[code]

cc @eerhardt @weshaggard

[2018-07-09 10:32] ViktorHofer commented on #30906
@eerhardt This line should also be removed now with Directory.Build.props: https://github.com/dotnet/corefx/blob/master/external/test-runtime/optional.csproj#L2

[2018-07-09 12:06] ViktorHofer commented on #30891
I'll look into it. Karel pls always cc me when there's a (binary) serialization issue.

[2018-07-09 12:10] BreyerW commented on #29120
Do we really need new constraint for that though? By ref structs cannot  implement interfaces anyway if i remember correctly so boxing seems to be non issue. I think relaxing rules for ref structs to allow to use them as type argument in methods and delegates ONLY, should suffice? The benefit would be that existing net core API would instantly benefit from this change while constraint route would

[2018-07-09 12:11] iftahbe opened #30909 "IPGlobalProperties.GetActiveTcpListeners() throws System.OverflowException on WSL"
Running on Ubuntu WSL (Windows Subsystem for Linux):
[code]
With dotnet (installed via apt-get install dotnet-sdk-2.1):
[code]
When I run the following console app:
[code]

I get an exception:
[code]

[2018-07-09 12:28] ViktorHofer commented on #30891
cc @stephentoub who introduced that change: https://github.com/dotnet/corefx/commit/0e62a603d1579eb5996caed44d8f1ae02ed5d76a#diff-a80c75678ed2d070e638bcb93ba26bccR376

[2018-07-09 12:39] cremor opened #30910 "System.IO.FileSystem.Primitives shows warnings when used in .NET Framework 4.7.1"
This is not about .NET Core, but about using the [System.IO.FileSystem.Primitives package](https://www.nuget.org/packages/System.IO.FileSystem.Primitives/) (which is contained in this repository) in .NET Framework.

If you add the System.IO.FileSystem.Primitives package to a project that targets a .NET Framework version from 4.6 to 4.7, everything works fine. So Visual Studio finds the referenced

[2018-07-09 13:29] stephentoub commented on #30891
I'd basically just copied the code out of netfx, so I'm not sure how that diff snuck in, but if it's wrong, we should fix it.

[2018-07-09 13:33] stephentoub commented on #30909
This appears to be an issue with WSL: both `/proc/net/tcp` and `/proc/net/tcp6` are empty.  We should have a better failure mode from `GetActiveTcpListeners` in that case, but as `GetActiveTcpListeners` depends on those for the data, if the data isn't available, it probably still needs to throw, but just throw something more informative, like `NetworkInformationException`.

[2018-07-09 13:35] ViktorHofer commented on #30910
cc @AlexGhiondea @ericstj

[2018-07-09 13:41] ViktorHofer opened #30913 "Debugging test projects inside VS doesn't work anymore after the switch to SDK project style projects"
It just builds the assembly and doesn't invoke the xunit runner.

cc @eerhardt @weshaggard @danmosemsft

[2018-07-09 13:56] hughbe opened #30914 "Marshal.GenerateGuidForType with a ref type causes a FatalExecutionEngineError"
[code]

Causes Managed Debugging Assistant 'FatalExecutionEngineError' : 'The runtime has encountered a fatal error. The address of the error was at 0x73cb832a, on thread 0x1884. The error code is 0xc0000005. This error may be a bug in the CLR or in the unsafe or non-verifiable portions of user code. Common sources of this bug include user marshaling errors for COM-interop or PInvoke, which may co

[2018-07-09 15:03] ViktorHofer commented on #30913
To avoid the duplication, isn't it possible to add the launchsettings file to the project similar to what we do with Directory.Build.props but just for test projects?

[2018-07-09 15:07] eerhardt commented on #30913
I'm not sure, @Pilchie didn't seem to think so in [this comment](https://github.com/dotnet/project-system/issues/3684#issuecomment-401857589).  Also - it looks like `dotnet/roslyn` has the dupication: https://github.com/dotnet/roslyn/pull/21014/files

[2018-07-09 15:17] ericstj commented on #30910
It’s part of the framework in .net 4.7.1 so the nuget package should be removed by the build.  I suspect this warning is just the project system having trouble matching the reference in the project to the one that’s in the targeting pack. @dsplaisted does that sound correct?

[2018-07-09 15:19] dv00d00 opened #30915 "Add System.Net.Sockets.Socket SendTo method overloads accepting Spans."
### Motivation:

There are span based overloads for Send and Receive methods on a socket class already. My proposal is to add two overloads for SendTo which would allow squeezing extra bits of performance for intensive UDP usage scenarios (e.g. stats, logging), which took significant processing time in our case.

### Proposed API:

[code]

Draft implementation: https://github.com/dotnet/corefx/pul

[2018-07-09 15:22] cremor commented on #30910
Something else that I noticed:
The warning is also visible in the solution explorer if you expand the "References" node. If you inspect the properties of the System.IO.FileSystem.Primitives assembly, it looks like a reference that is indeed missing (some fields like path and version are empty).

So maybe this is just the IDE that is confused because the build removes the reference?

[2018-07-09 15:23] winsquall opened #30916 "DirectoryServices deployemnt on nano serve Unable to load activeds.dll"
Hello,

I try to deploy a .netcore 2 app on a docker nanoserver. This app is using Mirosoft.DirectoryServices and i always have an error "Unable to load activeds.dll when it try to use it.
I try to put the dll into the container in c:/windows/system32 but nothing change.

Can somebody help me about this issue?

Regards.

[2018-07-09 15:30] ericstj commented on #30506
Yep, should be fixed starting in https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Reflection.TypeExtensions/4.5.1-servicing-26703-08.

[2018-07-09 15:30] #30506 closed

[2018-07-09 15:44] pjanotti commented on #30645
@weshaggard I didn't try this from the project root. @ViktorHofer try it from the tests folder, it should work just fine. I will look at this during this week.

[2018-07-09 15:44] pakrym commented on #30893
Which scenarios would this be useful in?
I think it should be new PipeType altogether, not having linked list would simplify/speedup implementation a lot

[2018-07-09 16:12] eerhardt commented on #30906
I believe this is also breaking the official build. I am working on a fix.

[2018-07-09 16:14] krwq commented on #16680
Hello @Rajivts,
If you are planning to create a new project then https://github.com/dotnet/corefx/tree/master/src/System.Private.Xml/tests/XmlDocument would be a better example.
In order to create a new project please copy one of the test directories and remove/replace .cs files (and do similar changes in the csproj file).

If you just want to add tests please find a relevant project and either do

[2018-07-09 16:16] ViktorHofer commented on #30645
Yes, it works from the tests folder of course :) Just wanted to report the unexpected behavior.

[2018-07-09 16:17] krwq commented on #16680
For some reason I'm not able to assign issue to you. I'll assign it to myself for now to make sure no one else picks it up.

[2018-07-09 16:30] Rajivts commented on #16680
Ok, I will start working on it. Thanks for the pointers.

[2018-07-09 16:34] ViktorHofer commented on #30645
I don't know… But probably not?

[2018-07-09 16:34] carlmacdiarmada commented on #22781
Strange error, it can also be produced by having a malformed app.config input. the issue I had was

[code]
The error was gone after I split them and bumped the newVersion to 4.0.0.0

Thanks for the insight here.

[2018-07-09 16:34] danmosemsft commented on #29691
@karelz actually this went into 2.1 without approval (due to miscommunication). @bartonjs is going to talk to shiproom tomorrow

[2018-07-09 16:46] danmosemsft commented on #16680
@krwq to assign, an admin like me or @karelz has to give collaborator rights

@Rajivts you should get an invite in mail, if you accept, we can assign issues. Note: this auto subscribes to all activity in this repo, that's a lot, you'll probably want to dial that down.

[2018-07-09 16:56] krwq commented on #16680
Thanks @danmosemsft

[2018-07-09 17:01] AlexGhiondea commented on #30910
The warning goes away with @dsplaisted changes to conflict resolution, but the warning in the references in the IDE does not.

[2018-07-09 17:03] danmosemsft commented on #30916
@tquerec, @josephisenhour, @bongiovimatthew-microsoft can you confirm whether System.DirectoryServices is expected to work on Nano?

My assumption is not - I believe activeds.dll is not part of WCP ?

[2018-07-09 17:07] danmosemsft commented on #30914
Hmm, I don't repro this (eg., by pasting this line into a unit test).

What version are you using? Also, is it possible to get a native callstack?

[2018-07-09 17:12] Rajivts commented on #16680
Ok, I have accepted the invitation as per instructions.

[2018-07-09 17:33] cremor commented on #30910
Sorry, but what changes do you mean?

[2018-07-09 17:34] Wraith2 commented on #30913
I've been trying to work through changes in various test projects and finding it very frustrating that I can't debug tests. It's slow and tedious to try and parse assertion traces back to the code manually. The documentation also claims that it works, if it is known not to then please at least update the docs to reflect that.

[2018-07-09 17:42] ViktorHofer commented on #30913
@Wraith2 debugging in VS worked before https://github.com/dotnet/corefx/commit/0b0f63d47951773cc46393312d80b40176d3a413 was merged, which happened yesterday evening. We are working on a fix in this issue. Please stay patient.

[2018-07-09 17:56] karelz commented on #29691
OK, I just reflected the status of the branch :) ... if we back it out, we can reopen and adjust milestone.

[2018-07-09 17:58] Wraith2 commented on #30913
Then I'm having a different problem because it hasn't worked for me since I started trying to work on corefx. Breakpoints simply don't get hit, no symbols are loaded even though the debugger will break on asserts.

[2018-07-09 18:01] Anipik commented on #29960
@ericstj so whats the final stand on it ? should I go ahead and create a new library for all the UI stuff ?

[2018-07-09 18:08] brianrob commented on #30876
Thanks @AtsushiKan - that is a good pointer.

It turns out that in the good case, the message property exists (see below), but in the bad case it does not.

[code]

Taking this a step further, the pre-trim (prior to ILLink) version contains the property, and the post-trim version does not.

Since this started occurring at dotnet/coreclr@c5dce0a, which removes an InternalsVisibleTo attribute (I thi

[2018-07-09 18:16] danmosemsft commented on #30876
@brianrob you probably need to add it to https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/ILLinkTrim.xml

[2018-07-09 18:24] brianrob commented on #30876
@danmosemsft, that's my expectation, but considering it is compiler generated, I'm not sure if it's name is stable.

[2018-07-09 18:31] danmosemsft commented on #30183
There is one other big one that gets significant usage -- System.Drawing.Font. Fortunately it is just string, float and two enums.

These enums need `[Serializable]` but do need `[System.Runtime.CompilerServices.TypeForwardedFrom("System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a")]` and a test added - so they're easy:
- System.Drawing.Color
- System.Drawing.Content

[2018-07-09 18:42] stephentoub commented on #30876
We've done it elsewhere with https://github.com/dotnet/corefx/blob/711c42810b8b9f8b7736b7b175cf9e330932b5f3/src/System.Net.Http/src/ILLinkTrim.xml#L4
but that's of course subject to needing to change if the compiler changes its naming scheme.

[2018-07-09 18:46] brianrob commented on #30876
Thanks @stephentoub.  @erozenfeld, @sbomer, is this the right way to proceed in this case?

[2018-07-09 18:51] jianyunt commented on #29669
👍

[2018-07-09 18:51] cremor commented on #30910
I didn't add the reference myself. I just installed the NuGet package DocumentFormat.OpenXml, which has a dependency on System.IO.Packaging, which then has the dependency on System.IO.FileSystem.Primitives. This resulted in the assembly reference and warning.

[2018-07-09 18:57] ericstj commented on #29960
Let's create a new library for now.  I suspect we'll have more stuff to go in it.  I can move the SystemSounds stuff down.  @weshaggard / @danmosemsft do you have an idea about a name?  "System.Windows.Extensions"?

[2018-07-09 19:06] hughbe commented on #30914
Another example:
[code]

[2018-07-09 19:07] hughbe commented on #30914
![screen shot 2018-07-09 at 20 07 10](https://user-images.githubusercontent.com/1275900/42470852-adc54206-83b3-11e8-87df-1ff0ac0ce21e.png)

[2018-07-09 19:10] brianrob commented on #30876
I have pre-emptively created #18835 and have confirmed locally that this fixes the broken test.

[2018-07-09 19:21] #30906 closed

[2018-07-09 19:45] erozenfeld commented on #30876
Yes, this is the right way to proceed.

[2018-07-09 19:46] SteveL-MSFT commented on #30718
@karelz Yes, .NET Core invokes `open` on macOS and `xdg-open` on Linux when UseShellExecute=true.  On macOS, the `Arguments` property isn't passed correctly, so in the above example, .Net Core actually creates a process with arguments

`open` treats `-c 1+1;read-host` as arguments to itself, not `pwsh`, so it fails (since `-c` is not a valid parameter to `open`) and outputs help text.  Looking at

[2018-07-09 19:52] mfjerome commented on #12066
Any news or plans about this feature? Would be very useful!

[2018-07-09 20:09] pjanotti commented on #30170
Hi @tylerl0706 - [Windows docs](https://docs.microsoft.com/en-us/windows/desktop/ipc/named-pipe-security-and-access-rights) state that should be possible, but I gave a few tries and couldn't do it too - I'll have to investigate it more. Is the new feature `CurrentUserOnly` a possible workaround for your scenario?

[2018-07-09 20:15] karelz commented on #12066
@mfjerome we are open to API proposal and contribution. Are you interested?

[2018-07-09 20:17] karelz commented on #30718
That sounds fairly straightforward. @wtgodbe what do you think?
@SteveL-MSFT is it blocking PowerShell scenarios?

[2018-07-09 20:36] brianrob commented on #30876
Thanks @erozenfeld.

[2018-07-09 20:41] wtgodbe commented on #30718
Seems reasonable. Looking into code paths now.

To start with, looks like this is the start of the bad path:
https://github.com/dotnet/corefx/blob/4e27e0ad415dda38c2c2add84f0315a6f56406b3/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L298-L302

[2018-07-09 20:45] wtgodbe commented on #30718
Looks like we just need to modify https://github.com/dotnet/corefx/blob/4e27e0ad415dda38c2c2add84f0315a6f56406b3/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L398-L426 to append `--args` into the arg string in the case that `UseShellExecute=true`, since in that case, we always set the filename to the path to `open`:

https://github.com/dotnet/corefx/blob/4e27e0ad415dda38c2

[2018-07-09 21:03] Petermarcu opened #30924 "SslStream's handshake broken with Win10(17711 Insider)?"
@yyjdelete commented on [Sun Jul 08 2018](https://github.com/dotnet/core/issues/1760)

# Issue Title
I know here is not the best place to report this issue, but I can't found an place to report the problem in feedback center with only dotnet reproduce case.(iexplore seems work well with tls12 disabled).
Set the server's enabledSslProtocols to `Tls|Tls12`, and the client to `Tls|Tls11`, and see the

[2018-07-09 21:20] hughbe opened #30925 "Marshal.GetHINSTANCE on Unix missing some argument validation"
[code]

Should throw ArgumentNullException, actually returns -1

[2018-07-09 21:22] hughbe opened #30926 "Marshal.GenerateGuidForType(null) throws NRE with .NET Core, should throw ANE"
Failing test
[code]
     System.Runtime.InteropServices.MarshalTests.GenerateGuidForType_NullType_ThrowsArgumentNullException [FAIL]
        Assert.Throws() Failure
        Expected: typeof(System.ArgumentNullException)
        Actual:   typeof(System.NullReferenceException): Object reference not set to an instance of an object.

[2018-07-09 21:25] hughbe opened #30927 "Marshal.GenerateProgIdForType does not perform argument validation that the object is com creatable"
Passes with netfx, fails with netcoreapp:
[code]

[2018-07-09 21:30] ViktorHofer commented on #30093
Now I also get the error that `libc.dll` is not found.

[2018-07-09 21:34] danmosemsft commented on #30170
@pjanotti I don't know. The [original commit](https://github.com/dotnet/corefx/pull/9529/commits/889ed4492f6fc65efb66fcad694a3f7ae54ed471) suggests PipeSecurity is expected to work. Hopefully you can figure out the history and missing pieces.

[2018-07-09 21:36] danmosemsft commented on #30093
That is https://github.com/dotnet/corefx/issues/30423 / https://github.com/dotnet/corefx/issues/30399 which @luqunl is looking at.

[2018-07-09 21:39] ViktorHofer commented on #30093
Thanks. Closing as dup.

[2018-07-09 21:39] #30093 closed

[2018-07-09 22:03] pjanotti commented on #30170
Looking at the history it should never worked since the rights flags were never set when calling CreateNamedPipe (since 1st version on the repo).

[2018-07-09 22:15] mconnew commented on #30760
**Impact**
Anybody using Windows authentication with requests > 1024 bytes. I don't know how common this is as we don't have any telemetry around which authentication method is used.

**Work around**
Revert to earlier release of WCF which didn't use the Expect header. In an earlier release we sent a HEAD request before every real request as an attempted mitigation to the problems caused by lack of

[2018-07-09 22:39] pjanotti opened #30930 "System.Data.SqlClient.ManualTesting.Tests taking too long on Outerloop"
Per readme it actually require some setup so likely it should be just automatically skipped, anyway, it is taking a long time on outerloop and affecting code coverage runs (see #30922).

[code]

[2018-07-09 22:53] danmosemsft commented on #30914
This 2nd example fails for me on Desktop.

[2018-07-09 23:00] danmosemsft commented on #30861
To clarify the top post -- writing up the API proposal is up for grabs. Until that is done and approved, there is no code to write

[2018-07-09 23:36] karelz commented on #30760
If you have customers complaining, let's use that as indicator. How many impacted so far? Is there public issue where it happens or is it internal via support?
How badly is the specific customer impacted? (RSP/SLA/other metric) Or was it just something that was noticed during testing?

Regarding workaround: Does it mean "use older WCF package"? Is that even supported scenario?

[2018-07-09 23:52] SteveL-MSFT commented on #30718
@karelz this is not blocking PowerShell Core.  Since enabling UseShellExecute on non-Windows is new capability, to workaround this, if the user passed Arguments, we simply set UseShellExecute to false.  not ideal, but sufficient for now.  The main scenario we wanted to enable is supporting `start-process https://bing.com` to work on non-Windows as it currently works on Windows.

[2018-07-10 00:04] weshaggard commented on #29960
System.Windows.Extensions seems reasonable to me.

[2018-07-10 02:46] #30732 closed

[2018-07-10 02:47] stephentoub commented on #30930
Most of these look to be addressed with https://github.com/dotnet/corefx/pull/30856.

[2018-07-10 02:49] stephentoub commented on #30930
This output is strange:
[code]
It's saying the tests are being skipped but then saying they're long-running?

[2018-07-10 02:57] tannergooding opened #30933 "Support generating random 64-bit values."
### Rationale

It is sometimes desirable to generate random numbers as inputs to tests. This works nicely for the majority of the primitive types, but not for `long`/`ulong`.

As such, I propose a method be exposed that allows the generation of random 64-bit integer values.

### Proposed API
[code]

[2018-07-10 03:48] Zhentar opened #30934 "Utf8Parser TryParse Numeric Parsing Wrappers Don't Inline"
(Disclaimer: I have only examined the int32 behavior; I presume the other types exhibit similar behaviors)
When calling the new numeric TryParse functions, e.g. `Utf8Parser.TryParse(parseSpan, out int result, out _);`, the TryParse wrapper function does not inline. This is unfortunate because the format to parse is commonly a hardcoded constant; if the JIT attempted to inline it the format switch

[2018-07-10 03:57] Zhentar commented on #30612
To add some support for this, in my test benchmarks I found it to be twice as fast to copy ASCII bytes from a `string` to a byte array and then call `Utf8Parser.TryParse` instead of just calling `int.TryParse` directly on the strings.

[2018-07-10 05:33] Tornhoof commented on #30933
Shouldn't be the return value be long then?

[2018-07-10 05:43] jiangzeng commented on #30830
@AaronRobinsonMSFT I tested with latest CoreFx code, after I remove the ActiveBug tag before the test, it failed in NetFx (ArchGroup=x86;TargetGroup=netfx;ConfigurationGroup=Release).
Following exception is happening:
`Unhandled Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.AccessViolationException: Attempted to read o

[2018-07-10 05:48] Etrimus commented on #30341
@danmosemsft  Right, that was an 401, I fixed screenshots.
Also I have got an info from `windbg` after attaching to the `dotnet` process.
In PowerShell - `./windbg.exe -p DOTNET_PID /g`
And I see My variables in two places.
Here the complete `windbg` log - https://gist.github.com/Etrimus/5bec954d7e60d8ebc9ecdfddc0e32459#file-windbg-output-L159-L161
And the screenshot all-in-one - https://yadi.sk/i

[2018-07-10 05:57] tannergooding commented on #30933
Yep. Fixed

[2018-07-10 06:56] airmanx86 commented on #27592
I ran into similar issue and found that the conflict of assembly come from the platform version is newer than the reference version. Please check the conflicts in the build log below. (I am still not sure what platform version mean).

[code]

I believe the issue is that, the project reference and assembly redirection is generated based on the version defined in `package.config` which is older than

[2018-07-10 07:28] danmosemsft commented on #30341
@etrimus excellent this confirms the theory. Any idea what is leading to the duplicates? Meanwhile we need to protect our code against this case.

[2018-07-10 07:32] danmosemsft commented on #30341
Oh I see they come from web.config. Does this repro with a minimal aspnet app, ie create a new app in VS then add an extra dupe environment variable in the web.config and see whether it crashes. I wonder whether some fox is needed at the point of setting it as well

[2018-07-10 07:39] jiangzeng commented on #30830
Discussed with Aaron, the Exception is wrapped in a TargetInvocationException in the .NET Framework.
So will disable this test for NetFx build

[2018-07-10 07:39] #30830 closed

[2018-07-10 07:41] dotnet-mc-bot opened #30936 "Test failure: System.Runtime.InteropServices.Tests.GetNativeVariantForObjectTests/CharType"
Opened on behalf of @Sunny-pu

The test `System.Runtime.InteropServices.Tests.GetNativeVariantForObjectTests/CharType` has failed.

System.PlatformNotSupportedException : Marshalling between VARIANT and System.Object is not supported

        Stack Trace:

           at System.Runtime.InteropServices.Marshal.GetNativeVariantForObject(Object obj, IntPtr pDstNativeVariant)
       at System.Runtime.I

[2018-07-10 07:47] davidfowl commented on #30892
Here's the logic that handles this today:

https://github.com/dotnet/corefx/blob/28f10d9057311ee21969ce1416a5196788f97086/src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs#L461-L473

[2018-07-10 07:57] tmds commented on #30162
@assyadh I can't reproduce this on my system.

Can you patch the test:
[code]
And then run it (replace `/home/tmds/repos/corefx` with your corefx location):
[code]
And share what is printed out?

[2018-07-10 08:04] Etrimus commented on #30341
@danmosemsft In My case this error raises with very simple app, but only on real IIS.
Visual Studion gets **and replace** correct variables from `web.config`
https://yadi.sk/i/u7vWW_tP3YzZbC

[2018-07-10 08:10] jkotas commented on #30934
Related to #25425

[2018-07-10 09:06] hughbe opened #30938 "Marshal.SecureStringToBSTR does not check for disposed with .NET Core"
[code]

Following test passes with .NET Framework. Fails on Unix with NRE, I believe it also throws an NRE on Windows .NET Core

[2018-07-10 09:20] hughbe opened #30939 "Marshal.AllocCoTaskMem(-1) throws OOM on Windows, but not on Unix"
[code]

[2018-07-10 09:34] stephentoub commented on #30612
Can you share those benchmarks? What inputs? What version of .NET Core?

Thanks.

[2018-07-10 10:01] hughbe opened #30940 "Marshal.GenerateGuidForType for types with true HasElementType returns Guid.Empty"
[code]

[2018-07-10 11:04] roji opened #30941 "Pipelines: best practices for managing flushing"
While working on Npgsql and pipelines, I ran into an interesting question - when should I actually flush my PipeWriter? Obviously, once the entire data has been written I should flush to make sure data is actually made available to the reader (which in my case would mean writing buffered data to a network socket). However, I also expect to need to flush in order to avoid buffering too much in memo

[2018-07-10 11:06] roji commented on #30941
/cc @davidfowl @mgravell @stephentoub

[2018-07-10 11:51] tamasVajda opened #30942 "UseShellExecute cause exception on linux"
if in ProcessStartInfo (system.Diagnostic) UseShellExecute is set to true on linux process start cause the following exception: No such file or directory win32 exception at System.Diagnostics.Process.StartCore(ProcessStartInfo startInfo)

process start called in Kestrel webserver's request handler, this process should execute script and set linux specific permissions.

operating system: Cent OS 7

[2018-07-10 11:53] masums commented on #21982
https://www.codeproject.com/Articles/1194332/Resolving-Assemblies-in-NET-Core
you can follow this example. You have to modify one thing. At loading time of an assembly .net try to load it's referenced assemblies also. And fire an event. At assembly resolve event you have to search the assembly at nuget package global and local cache folder for loading all dependencies. This technique works for us.

[2018-07-10 12:53] hughbe commented on #30939
Bad test, also fails on x64

[2018-07-10 12:53] #30939 closed

[2018-07-10 13:03] #30891 closed

[2018-07-10 13:10] stevieg402 commented on #19837
+1 it's also holding back a .Net Core project here.

[2018-07-10 13:15] Zhentar commented on #30612
Oops, I left out the link: https://gist.github.com/Zhentar/07b92a52c619641ab61aab50b1e5ec91

[2018-07-10 13:19] pantonis commented on #30910
Same problem here. Not just with this packages but also a lot other packages. Only difference is that I target .NET 4.7.2

[2018-07-10 13:36] stijnherreman commented on #13660
I think everyone waiting for this would like to see it in 2.2.

[2018-07-10 14:13] RehanSaeed commented on #21982
@masums That code manages to load the assembly but throws `FileNotFoundException` when trying to access `Assembly.ExportedTypes` or `Assembly.DefinedTypes`.

[2018-07-10 14:57] loop-evgeny opened #30945 "Path.GetFullPath no longer throws for invalid characters in .NET Core 2.1"
According to the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.io.path.getfullpath?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.IO.Path.GetFullPath)%3Bk(DevLang-csharp)%26rd%3Dtrue%26f%3D255%26MSPPError%3D-2147217396&view=netcore-2.1) `Path.GetFullPath` should throw an exception for paths containing invalid characters.

In

[2018-07-10 15:06] iftahbe opened #30946 "X509Certificate2.Export() in Linux adds a multiple localKeyID bag attribute"
Running on Ubuntu 16.04.

When exporting a certificate, Windows replaces the localKeyID bag attribute while in Linux it doesn't get replaced. Instead, another localKeyID attribute is added to the same bag but with a different value.
This is a problem when trying to load the exported certificate using BouncyCastle's Pkcs12Store.Load().

The following console app demonstrates the problem:
[code]

Ou

[2018-07-10 15:31] EvilAvenger commented on #30691
I have this behavior on nodes in Service Fabric Cluster 1. In SF Cluster 2 it works OK
I'll try to investigate it further, still have no clues, can't reproduce it on my local machine.

[2018-07-10 15:32] stephentoub commented on #30933
In general I think such an addition makes sense, but some questions:
- Would all three overloads actually be virtual?
- How do you see the base implementations being implemented?  In particular, if someone's derived from Random and overridden other virtuals, presumably those virtuals should be used (otherwise the new methods could utilize the wrong algorithm)... which methods would these delegate

[2018-07-10 15:34] karelz commented on #30942
@tamasVajda can you reproduce the problem with any script, also outside of ASP.NET Core in HelloWorld style .NET Core app?

[2018-07-10 15:34] karelz commented on #30945
@JeremyKuhne was that intentional change?

[2018-07-10 15:41] StrangeWill opened #30948 "Convert.FromBase64String() Only Supports Specific Implementations"
Kind of an annoying one, when attempting to Call `Convert.FromBase64String` on an e-mail attachment (specifically over the GMail API in this case) you *can* get the following exception:

`FormatException: The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters.`

Caused by different index

[2018-07-10 15:43] ayende commented on #30691
We have a statistical repro. Unfortunately, it require us to run about 3,400 tests to run into this.

[2018-07-10 15:54] tannergooding commented on #30933
@stephentoub, the short answer to your questions is that they are virtual because the existing `Random.Next()` methods are virtual and they should behave/be implemented following the same rules as the existing algorithms (which is, overloading one does not impact the other two).

This follows the "existing" practice for the `System.Random` class, which AFAIK is preferred.

[2018-07-10 15:56] stephentoub commented on #30933
What about my second question?

[2018-07-10 16:01] omajid commented on #9855
There's a PR here: https://github.com/dotnet/corefx/pull/30807

[2018-07-10 16:06] tannergooding commented on #30933
I don't think they should/can reliably delegate. The overall range of the existing methods isn't sufficient to provide good distribution for `long`/`ulong` (unless we default the range to the same as `int`).

If a user has already extended `System.Random` and overridden `Next`, they would likely need to reimplement `NextInt64` as well. Thinking about it, they could also have already exposed a `Nex

[2018-07-10 16:07] gfoidl commented on #30948
This is _base64url_, for an implementation see [WebEncoders](https://github.com/aspnet/Common/blob/d7a3ef5d126c2d767a26879db9ebc3d805b89014/shared/Microsoft.Extensions.WebEncoders.Sources/WebEncoders.cs#L23) (or the "hopefully" enhanced implementation in https://github.com/aspnet/Common/pull/338).

For that kind of clients ("web based") it's rather the usual one. So the correct RFC is more or less

[2018-07-10 16:09] #30599 closed

[2018-07-10 16:11] jeffschwMSFT commented on #30936
@AaronRobinsonMSFT @luqunl

[2018-07-10 16:11] stephentoub commented on #30933
That's problematic then (it's why I was asking).  Let's say I've created my own `SecureRandom : Random` type that uses `RandomNumberGenerator` under the covers, and I've overridden all of the virtuals to behave the way I need them to.  Now we add this new base virtual method, but it's not implemented in terms of any of the existing virtuals.  Someone starts using my type before I've had a chance t

[2018-07-10 16:19] tannergooding commented on #30933
Right. But I don't think we can provide new overloads, short of implementing our own sub-class/providing a new Random type (or providing some kind of compat-switch), otherwise. But maybe that is a direction worth taking...

`System.Random` is already fairly "frozen-in-time". AFAIK, we can't readily change the algorithm (as it is a massive breaking change to anyone relying on the deterministic outp

[2018-07-10 16:19] danmosemsft commented on #30933
Can't the default implementations just call the existing int implementations twice (and shift one), to create an appropriate long?

[2018-07-10 16:23] tannergooding commented on #30933
Yes, but that doesn't necessarily provide good distribution.

[2018-07-10 16:24] danmosemsft commented on #30945
Yes, see https://github.com/dotnet/coreclr/commit/a0cfda07fbdc319d8e5137a1b28d190ec242597e and https://github.com/dotnet/corefx/issues/26359

Essentially we can never get the checks right - they depend on the file system - we now rely on file system operations to validate paths.

We need an issue opened against the dotnet/docs repo. @JeremyKuhne any other API's need doc updates from your 2.1 work?

[2018-07-10 16:28] pakrym commented on #30892
I would prefer this to be "leave N bytes worth of free segments in the pipe" option.

[2018-07-10 16:29] bartonjs commented on #30946
Seems strange that the key id is actually changing, since I was under the impression that OpenSSL used the cert thumbprint as the key id.

Since we opaquely use PKCS12_parse and PKCS12_create this is probably best addressed by breaking up with those functions, which is on the near-ish-term list anyways, to solve things like the multiple-private-key export.

[2018-07-10 16:31] stephentoub commented on #30933
For just this method?  Meh, I don't think so.  There must be ways of getting the desired distribution from one of the existing sources of randomness, whether Sample(), Next(...), NextBytes, NextDouble, etc., or some combination of them, even if it makes the NextInt64 method more expensive than if it wasn't delegating.

[2018-07-10 16:31] danmosemsft commented on #30933
It does if the existing API is producing a good distribution (mixing random bits gives random bits)?

Yes, but seems doable.

[2018-07-10 16:32] karelz commented on #30691
We can try our logging on it. Do you have steps we can "easily" replicate locally?

[2018-07-10 16:34] danmosemsft commented on #30126
fixed

[2018-07-10 16:34] #30126 closed

[2018-07-10 16:35] danmosemsft commented on #30389
@karelz if your team wants to propose a fix in servicing, we need a fix in master, PR prepped, mail to shiproom, etc.

[2018-07-10 16:35] danmosemsft commented on #30327
@karelz if your team wants to propose a fix in servicing, we need a fix in master, PR prepped, mail to shiproom, etc.

[2018-07-10 16:35] #29899 closed

[2018-07-10 16:36] danmosemsft commented on #29848
@jkotas I belivee this is all fixed, and ported to 2.1. I see you reopened? Please do so again if that was intentional and there is more to do here.

[2018-07-10 16:36] #29848 closed

[2018-07-10 16:37] karelz commented on #30389
@danmosemsft yep, we're working on it ... we will see if we can make it for 2.1.3.

[2018-07-10 16:38] karelz commented on #30327
This one is higher priority, @geoffkizer is working on it. We will let shiproom know once we have a fix. In the worst case 2.1.4+ :(

[2018-07-10 16:38] danmosemsft commented on #12403
@AndyGerlicher @cdmihai this means if someone copies a file on Linux (or macOS with the latest APFS) using .NET Core 2.1, the "destination" will look older (have older modified time) than the "source". I would definitely expect that to be causing overbuilds in MSBuild.  Have you had reports?

[2018-07-10 16:41] Mirandatz commented on #2471
Both links provided in the answers are broken.

[2018-07-10 16:45] danmosemsft commented on #12403
@Anipik could you please fix this? It would be great to get a PR up today in case there is still runway for 2.1.3

[2018-07-10 16:47] Anipik commented on #12403
I will make it my first priority.

[2018-07-10 16:53] mgravell commented on #30941
I've spoken to folks previously about a `.Length` / `.Count` on the pipe, but not for this purpose - just for diagnostic system health monitoring reasons.

For when to flush: *don't hold back*. In most cases, flush is synchronous. Flush is really "make sure the writer is active, and apply throttling if I'm out-pacing the consumer" (presumably the network in your case), so there's really no reason

[2018-07-10 16:55] davidfowl commented on #30941
There have been requests to expose a Length property on the PipeWriter that would return the amount to buffer but its really up to your protocol to decide when flushing is appropriate. If you write over the `PauseWriterThreshold` will stop you from writing more, but if you do over-sized writes that break the threshold but you can still buffer "too much". I think the best you can do right now is ch

[2018-07-10 16:57] luqunl commented on #30936
We need to disable this testcase(GetNativeVariantForObjectTests) on uwp.

[2018-07-10 16:59] danmosemsft commented on #30341
@Etrimus yes instead of `.ToHashtable()` [here ](https://github.com/dotnet/corefx/blob/16f26ba855f5cc6d52a738e8bc3856c6f77cf761/src/System.Runtime.Extensions/src/System/Environment.cs#L33) and [here](https://github.com/dotnet/corefx/blob/16f26ba855f5cc6d52a738e8bc3856c6f77cf761/src/System.Runtime.Extensions/src/System/Environment.cs#L39) it should add each of the entries into the hashtable individ

[2018-07-10 17:02] krwq commented on #30942
@tamasVajda unfortunately current info might be too little to get a repro. Could you help us answering following questions?

- Could you copy & paste as little code as possible to show the exception?
- Could you copy & paste the whole exception message?
- What is the output of `dotnet --info` on the computer where app was built?
- What is the output of `dotnet --info` on the computer where app was

[2018-07-10 17:04] JeremyKuhne commented on #30945
There is an issue open on it already: https://github.com/dotnet/docs/issues/4483

[2018-07-10 17:05] joshfree commented on #30948
@GrabYourPitchforks

[2018-07-10 17:07] tannergooding commented on #30933
Right, but because these are pseudo-random number generation algorithms they don't have perfect distribution and that can impact the overall set of numbers generated.

Finding out the distribution characteristics of the existing algorithm (when applied to generating `Int64`) would be something that needs to be done as part of the implementation process.

[2018-07-10 17:09] AaronRobinsonMSFT commented on #30936
@luqunl does this run on a regular PR? If not, I suspect this was hit after @jiangzeng added Interop tests.

[2018-07-10 17:12] ayende commented on #30691
Get the code from this PR
https://github.com/ravendb/ravendb/pull/6879

Go to `test/slowtests` and run `dotnet xunit`

This reproduce in one of five runs or so. Typically more on lower end machines.
If there is a way to turn on the logging configuration, I'll happily do so and provide the results.

[2018-07-10 17:22] terrajobst commented on #10752
The proposal sounds good, but we need to have a design that answers these questions:

* Should the methods be virtual? If no, why not? If yes, how does eventing work and how do derived types work?
* Should some of these methods be pushed down to `Collection<T>`?

We are concerned that derived classes that already override the existing virtual methods will end up getting not being notified for remo

[2018-07-10 17:24] mckenzielee opened #30951 "Inconsistent System.IO.IOExceptions for requests where the URI is too long in .net core 2.1.1"
With the upgrade from .net core 2.0 to .net core 2.1.1, we are receiving different responses to /get requests where the URI is too long. The first response is consistently 414 - URI Too Long. Most of the subsequent responses to the same request are the following exception:

System.Net.Http.HttpRequestException : An error occurred while sending the request.
---- System.IO.IOException : Unable to re

[2018-07-10 17:29] karelz commented on #30691
Most of our logging went in AFTER 2.1 :( ... I am not even sure if it is going to cover this particular scenario ...
If we find logging useful, we can get it in 2.1.x servicing.
Is there easy way to run your test suite against master? (if you don't know, we will figure it out)

[2018-07-10 17:31] tmds commented on #30942
If you execute a script (like a bash script which has the executable flag set) using `Process`, `UseShellExecute` should be set to `false`.
`UseShellExecute` is meant to let the OS shell figure out what program to start for the filename. For example, `FileName` is `http://www.dot.net` and the OS shell starts a browser.

[2018-07-10 17:38] GrabYourPitchforks commented on #30730
Ah, got it. I think the presence of the `unbox` instruction in the IL sample you posted confused me, and I was curious how we'd be able to avoid expensive runtime checks.

[2018-07-10 17:39] AaronRobinsonMSFT opened #30952 "Consider testing for IMarshal"
The standard OLE implementation of `IMarshal` is being added in PR #30931. Testing of that surface area should be considered in either corefx or coreclr.

cc @luqunl @jeffschwMSFT @jiangzeng

[2018-07-10 17:46] AfsanehR commented on #30720
@Sunny-pu  could you please let me know if you see this issue happening again? I tried running the ExceptionTest and I don't see the failures happening locally.

[2018-07-10 17:50] ppekrol commented on #30691
@karelz

I'm not sure what is needed to run from 'master', but if you want to update `<RuntimeFrameworkVersion>` in csprojs (all of them) then best option to do so would be to run:

[code]

Also our CI is executing tests in 'Release'.

[2018-07-10 17:51] karelz commented on #30691
@rmkerr will take a look on our side - I asked him to try the repro in house as first step.
Just to clarify:
* Was is discovered as part of .NET Core 2.0->2.1.0/2.1.1 migration? Or is it part of larger port from .NET Framework to .NET Core? (Just to scope what to look for and if it is regression against 2.0)
* Did you try to run it with SocketsHttpHandler disabled on 2.1.1? (Just to confirm if it

[2018-07-10 17:52] pjanotti commented on #30930
I didn't notice that... it is somehow a side effect of the `PoolBlockPeriodTest` tests: if I disable the 3 theories from this class then these 3 are just skipped very quickly. Anyway closing this one since it was fixed by #30856

[2018-07-10 17:52] #30930 closed

[2018-07-10 18:06] acerbusace opened #30953 "SortedDictionary should have GetViewBetween method"
Even though `SortedDictionary` currently stores `KeyValuePair`'s inside a `SortedSet`, it does not provide access to `GetViewBetween`.

# Rational and Usage
`SortedDictionary` doesn't have a efficient way to enumerate through batches of elements. Currently you would either have to enumerate through the entire collection and then filter out the `key` range needed or convert the `KeyCollection` into

[2018-07-10 18:10] AfsanehR commented on #29560
updated @SWarnberg 's sample repro to a non SqlClient dependent repro in [here](https://gist.github.com/AfsanehR/58d9561daf24bfbeff81cbf844f28037):

Requesting the area owners to take on this issue. Please use the suggestions @krwq  mentioned in [this pr](https://github.com/dotnet/corefx/pull/30757) as fix.

[2018-07-10 18:11] StrangeWill commented on #30948
Welp, yeah that was kind of silly on my part, I should have found that. Google's docs throw me off because Java has a `Base64` implementation which you _can_ specify accepts `base64url` as a boolean on the constructor (Google is lacking on C# examples for a lot of their stuff), and only supports a total of 3 different implementations (because supporting the rest is probably borderline pointless),

[2018-07-10 18:16] #30948 closed

[2018-07-10 18:23] maumar opened #30955 "Regression: "Length cannot be less than zero" when executing somewhat complicated LINQ query projecting a DTO"
Some of EFCore tests started failing after recent package upgrade.

The queries that fail look as follows:

[code]

and

[code]

Exception is as follows:

[code]

Let me know if you guys need a better repro - I can try to unpack our test infrastructure

[2018-07-10 18:42] maumar commented on #30955
this seems to be the package upgrade that caused the problem to appear: https://github.com/aspnet/EntityFrameworkCore/commit/e9653479d11476141187527b3599757371356086

[2018-07-10 18:44] danmosemsft commented on #12403
@Anipik I expect you would use the macro similar ot this
https://github.com/dotnet/corefx/blob/44e5bdafb8d989a220c9cf1b94f31a64a6e4f052/src/Native/Unix/System.Native/pal_io.c#L177

[2018-07-10 18:55] ppekrol commented on #30691
It started to happening all of a sudden. First we thought that it might be related to 2.0 -> 2.1 migration, but at the end we think it is related to `SocketsHttpHandler` and `RavenDB_7787.cs` only.

[2018-07-10 18:57] Wraith2 commented on #29979
New PR's made

[2018-07-10 19:41] HelloKitty commented on #2471
I believe this is the new link @Mirandatz : https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Collections/Generic/List.cs

[2018-07-10 19:57] bricelam opened #30958 "SqlClient: Make SqlDataReader.GetFieldValue<XmlReader>() behave like GetXmlReader()"
Unfortunately, `reader.GetFieldValue<XmlReader>(0)` throws the following exception instead of coercing/wrapping the value inside of an `XmlReader` like calling `reader.GetXmlReader(0)` does.

[code]

[2018-07-10 19:58] wesleyolis opened #30959 "Proposal, async, await, promise, holistic, language improvement tweak, with idea of were Javascript, TypeScript, nodeJS, c# have and are heading, to simplify things"
Hi,

I feel that it would be a good thing that dotnet be aware of this proposal that will affect both typescript and javascript in the future as they may want to contribute at a technical level to any insight they may have, because this has been done with a focus on the bigger picture of all languages, however, small the little roll they play, it also suggestions that c# may follow suit with this

[2018-07-10 20:02] #30938 closed

[2018-07-10 20:32] kouvel commented on #30208
@iga1976, could you please try changing the `PropertyGroup` section in the `.csproj` file to the following:

[code]

Then rebuild and/or republish the app, and try again.

In some cases for the 2.0.* frameworks, dotnet defaults to using 2.0.0 instead of higher versions even if a higher version is installed. Setting `RuntimeFrameworkVersion` overrides that. `TargetFramework` should be `netcoreapp2.

[2018-07-10 20:39] ViktorHofer opened #30960 "Freeze netstandard refs that have a package and are inbox"
We don't want to accidently ship new APIs in a netstandard ref in a package that is already inbox on a given framework. We should harvest those configurations and if they are referenced by other contracts we should also binplace them into the ref folder by adding a ProjectReference here: https://github.com/dotnet/corefx/blob/master/external/netstandard/netstandard.depproj#L15.

When doing this we

[2018-07-10 20:40] Petermarcu opened #30961 "SqlConnection open method hangs connecting to SQL Server 2005 when running the core app on linux box"
@vsundaralingam commented on [Tue Jul 10 2018](https://github.com/dotnet/core/issues/1763)

I am using .NET Core 2.1 and System.Data.SqlClient 4.5.1 to connect to SQL Server 2005. It works great on a windows machine but running the same app in Linux machine just hangs indefinitely in  connection.Open() line.

Here is the linux server and .NET CORE info:

.NET Core SDK (reflecting any global.json):

[2018-07-10 20:41] Petermarcu opened #30962 "Targeting .NET Core 2.1 - Startup error for new Aurelia WebApp - JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0."
@Melfi11 commented on [Mon Jun 25 2018](https://github.com/dotnet/core/issues/1726)

# Targeting .NET Core 2.1 - Startup error for new Aurelia WebApp
**JsonReaderException: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.**

- Operating System: Windows 10
- .NET Core SDK Versions: 2.1.201 / 2.1.301
- VS2017 / VS Code
- NPM: 6.1.0
- Node: 8.11.3

I´m not sure if

[2018-07-10 20:45] Petermarcu opened #30963 "Calling an VB.Net String-functions (like Left(string),Right(string),Space(string),Trim(string)) in a .NET Core project throwing Runtime exceptions"
@amshekar commented on [Mon May 21 2018](https://github.com/dotnet/core/issues/1577)

# Calling an VB.Net String-functions (like Left(string),Right(string),Space(string),Trim(string)) in a .NET Core project throwing Runtime exceptions

# General

We have a .Net core 2.0 webapi project and want to call a old vb.net method. The method have some string functions like Left,right,space and trim . We ad

[2018-07-10 20:49] dynamoremover opened #30964 "Bank"

[2018-07-10 21:02] danmosemsft commented on #30963
We should add these and the next action on me is to put up a PR to reference source so that we can add them.

@amshekar I would like to add these for .NET Core 3.0: in the near term, you will need to modify this code to use equivalent methods on the `String` class.

[2018-07-10 21:12] assyadh commented on #30162
Hi @tmds

Here is the output of `System.Console.WriteLine(cert.NotBefore.ToUniversalTime());`

[code]

Hamza

[2018-07-10 21:21] josephisenhour commented on #30916
It is planned and some work is underway, but there are no specific dates yet.

[2018-07-10 21:30] maumar commented on #30955
@Eilon fyi

[2018-07-10 21:44] Mirandatz commented on #2471
Thank you very much.

[2018-07-10 21:57] GrabYourPitchforks opened #30968 "Vector<T> should have a ctor that accepts ReadOnlySpan<T>"
Currently the vector type has the following span-based ctor overload.

[code]

We should add a readonly span-based ctor overload so that vectors can be read from immutable data buffers, such as a `ReadOnlySpan<char>` backed by a `String`. This will make it easier to vectorize text processing APIs without falling back to the dangerous `Unsafe` or `MemoryMarshal` classes.

[code]

[2018-07-10 21:59] khellang commented on #29760
FYI; Brotli support was just added to ASP.NET Core's response compression middleware and will ship with the first 2.2 preview: https://github.com/aspnet/BasicMiddleware/pull/342.

[2018-07-10 21:59] halter73 commented on #30892
No matter what the `IdleMemoryThreshold` is, if it's greater than 0, you are effectively wasting 1 block worth of memory for a truly idle Pipe, right? The code you highlighted @davidfowl only affects returning the last block, so how is `IdleMemoryThreshold` any different than a `PreserveIdleMemory` bool?

Now if `IdleMemoryThreshold` represented the maximum amount of memory kept in some per-Pipe p

[2018-07-10 22:07] stephentoub commented on #30955
What OS is this happening on?

[2018-07-10 22:12] maumar commented on #30955
Windows, MacOS and Linux (Ubuntu)

[2018-07-10 22:15] danmosemsft commented on #30963
@jaredpar yes, we agreed to open it it's just not happened.

I'll dupe this against https://github.com/dotnet/corefx/issues/26386

[2018-07-10 22:15] #30963 closed

[2018-07-10 22:15] danmosemsft commented on #30963
It's on my plate BTW.

[2018-07-10 22:16] danmosemsft commented on #30963
Also dupes
https://github.com/dotnet/corefx/issues/8808
https://github.com/dotnet/corefx/issues/14300

[2018-07-10 22:18] stephentoub commented on #30955
And what version of .NET Core?

I'm particularly confused by the top of the stack trace:
[code]
That `SymbolTable.GetName` method is only calling `NameManager.Add(string, int)` if the int is >= 0:
https://github.com/dotnet/corefx/blob/ff31acd8c64ddcc69c70ae09aacbf2e15d97ceec/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/SymbolTable.cs#L301-L314
That length is then passed through unmodifi

[2018-07-10 22:20] msedi opened #30971 "Resolve un-contiguous memory into contiguous memory"
As suggested I copied my issue #2297 from corefxlab to here:

I'm often having the problem that I have to deal with large image volumes. Currently to run quickly over a volume and do image operations on the data, I need to copy the whole volume into one large block of memory. Assume that I have a volume with a matrix size of 512x512 and around 1000 images stored in float, I have doubled the amount

[2018-07-10 22:38] luqunl commented on #30952
IMarshal is a internal only interface and used for cross-process/apartment/appdomain scenarios.

We don't need to test IMarshal itself, If we add cross-apartments COM testcase into CoreCLR, then IMarshal will be tested.

[2018-07-10 22:39] maumar commented on #30955
We are running `2.2.0-preview1-26618-02` version of netcoreapp

[2018-07-10 22:40] GrabYourPitchforks commented on #30968
I updated the proposal with `CopyTo` / `TryCopyTo`, since if we're reading vectors from buffers it'll also be good to write vectors to buffers. :)

[2018-07-10 22:40] maumar commented on #30955
Here is the `dotnet --info` dump:

[code]

[2018-07-10 22:55] pjanotti commented on #29661
This affects different test projects on coverage runs. I am fixing dumpling for coverage runs in order to collect more dumps (see https://github.com/dotnet/buildtools/pull/2094)

[2018-07-10 22:59] pjanotti opened #30974 "Code coverage: jump to source for CoreLib daily coverage runs is broken"
The sources are not present in the path specified in the PDB and as such there is no source information on the daily coverage runs.

[2018-07-10 23:03] pjanotti commented on #23588
[Daily coverage run](https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/607/Code_Coverage_Report/) has numbers for CoreLib, however, due to crashes it doesn't appear as the last coverage run. Closing this issue and following up on crashes and others in separate issues:

* Coverage crashes at https://github.com/dotnet/corefx/issues/29661
* Jump to source for CoreLib daily cov

[2018-07-10 23:30] weitzhandler commented on #10752
That's a valid concern indeed, but I remember dealing with it in the past. See [this](https://github.com/weitzhandler/corefx/blob/dc49bf74fcedd315ff61f9ac47af1163ac5413a4/src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_RangeTests.netcoreapp.cs#L347-L379) test, for example. But I wouldn't resist having the methods virtualized in `Collection<T>` for a change.

[2018-07-10 23:31] weitzhandler commented on #10752
That's a valid concern indeed, I have been messing wwith it a bit in the past.
See [this](https://github.com/weitzhandler/corefx/blob/dc49bf74fcedd315ff61f9ac47af1163ac5413a4/src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_RangeTests.netcoreapp.cs#L347-L379) test, for example.

[2018-07-10 23:36] AArnott commented on #30689
I would resolve that by *not* having two limits. Just make the currently hard limit a soft limit instead.

I'm not a big fan of this solution. In @davidfowl's blog post, he described a reader that looks for EOL characters. If the 32KB limit is perfectly sane for every file except this js-minified file that is 64KB, and this reader is looking for EOL characters, it couldn't predict how much data wi

[2018-07-10 23:37] weitzhandler commented on #10752
That's a valid concern indeed, I have been messing wwith it a bit in the past, making them non-virtual, see [this](https://github.com/weitzhandler/corefx/blob/dc49bf74fcedd315ff61f9ac47af1163ac5413a4/src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_RangeTests.netcoreapp.cs#L347-L379) test, for example.
But if we are to make them virtual, then it should be degraded into `Colle

[2018-07-10 23:39] AArnott commented on #30689
BTW here is the unit test I wrote to explore this scenario (hoping that the limit would be a soft limit) which led me to see the actual behavior and find this github issue:

[code]

[2018-07-10 23:41] jaredpar commented on #26386
Linking a Roslyn issue where we tracked a number of these APIs

https://github.com/dotnet/roslyn/issues/28044

[2018-07-10 23:46] weitzhandler commented on #10752
@terrajobst
That's a valid concern indeed, I have been messing with it in the past, making the range-methods non-virtual, see [this](https://github.com/weitzhandler/corefx/blob/dc49bf74fcedd315ff61f9ac47af1163ac5413a4/src/System.ObjectModel/tests/ObservableCollection/ObservableCollection_RangeTests.netcoreapp.cs#L347-L379) test, for example.
But if we are to make them virtual, then it should be de

[2018-07-10 23:54] karelz commented on #30924
Given that it is external and not specific to .NET Core (it repros also on .NET Framework), closing here in CoreFX.

[2018-07-10 23:54] #30924 closed

[2018-07-10 23:56] karelz commented on #30962
Closing as dupe of #30327.

[2018-07-10 23:56] #30962 closed

[2018-07-10 23:58] kouvel commented on #10481
It seems unlikely to happen in the near future. `Interlocked` should probably have the equivalent bare operations despite this type anyway.

[2018-07-11 00:35] maumar commented on #30955
Ok, I've been trying to simplify the repro somewhat but now the issue is gone from our 2.2 CI runs (seemingly without any code change on our side) and only shows up in 3.0. Maybe there is some sort of issue with corrupted packages?

Currently the issue can be reproduced by cloning EFCore repo: https://github.com/aspnet/EntityFrameworkCore.git

[code]

I will report back tomorrow, once our CI catch

[2018-07-11 00:48] Anipik commented on #12403
@danmosemsft I think the bug is in managed side too.
Because I run this test https://github.com/dotnet/corefx/compare/master...Anipik:millisec#diff-ad4fcf7234e97e8a9898813be7db41e5R30
on master
the output was
[code]

while after making the change the output is

[code]

This indicates our fix is working. But we have to fix the managed side too. I am debugging into managed side now

[2018-07-11 01:19] AArnott opened #30978 "System.IO.Pipelines nuget package does not carry .xml file"
The System.IO.Pipelines 4.5.0 nuget package (as found in the `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\system.io.pipelines\4.5.0` folder) does not contain .xml API documentation for the assembly. This, combined with the lack of any useful documentation online for the assembly, makes it guesswork to understand how to properly use this library.

It's an awesome library, but it took me half a

[2018-07-11 02:02] buybackoff commented on #28046
Suddenly this has become almost the only allocator on my hot path (c.3Gb per minute). What are other current alternatives for  small number of values without lock? I'm using it instead of missing but long-awaited in CoreFx ConcurrentHashSet (only keys).

The enumerator is implemented with [`yield` keyword](https://github.com/dotnet/corefx/blob/f9f200e53600fa4af761ce59e44921b607cbe905/src/System.Co

[2018-07-11 02:14] mconnew commented on #30760
The issue where this is reported is dotnet/wcf#2923 and there's 3 customers there who have reported it. I would expect any new instances of customers having the problem would see that issue and use the workaround.
Using the older WCF package is completely supported. We aren't a part of .Net Core, we're more like a third party library which also happens to have an implementation in the full framewo

[2018-07-11 02:15] mconnew commented on #30760
Btw, 3 reported issues in a short period of time is quite high for WCF.

[2018-07-11 03:06] edenprairie commented on #8723
I need this badly!

[2018-07-11 03:33] davidsh opened #30979 "Unable to receive HTTP responses from www.nasdaq.com"
.NET Core is unable to handle HTTP responses from www.nasdaq.com.  It seems there is some non-standard HTTP response formatting from this website.

Repro:

Program.cs
[code]

httptest.csproj
[code]

.NET Core 2.1 (Windows - uses SocketsHttpHandler):

[code]

.NET Core 2.0 (Windows - use WinHttpHandler):
[code]

Even .NET Framework has problems.

.NET Framework 4.7:
[code]

However, if you add this

[2018-07-11 03:49] davidfowl commented on #30978
😓 /cc @weshaggard? How do these things work?

[2018-07-11 04:35] morganbr commented on #30933
@tannergooding, are you saying that there's more of a relationship between two consecutive outputs from System.Random than there would be from the same algorithm extended to cover 64-bit numbers? I'd be very surprised if that was the case. One could make a case that the actual algorithm in System.Random is suboptimal in general, but I don't think the size of the output is important in that.

[2018-07-11 05:13] Rajivts commented on #16680
Hi @krwq

I have started with XmlNodeReader test cases and am able to see an improvement in code coverage. However, the issue description mentions the existing code coverage for System.Xml.XmlNodeReader is 29.5% but I am not able to find any existing test cases for XmlNodeReader. Am I missing something here?

[2018-07-11 05:15] winsquall commented on #30916
Many thanks @danmosemsft , @josephisenhour .
Until a new image of nanoserver is release, is there a workaround more efficient than put the activeds.dll in system32?
Regards

[2018-07-11 06:02] Etrimus commented on #30341
@danmosemsft

PR to `dotnet/corefx` repo? Yes I am.

Yes, net core apps runs under its own server `kestrel`, in My case Microsoft IIS is just a web-server, and instead IIS it would might be an Nginx for example.

[2018-07-11 06:14] jkotas commented on #30341
I am thinking that we may want to fix this by adding try/catch around the Add method in https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/src/System/Environment.cs#L47

The thrown & caught exception would provide non-fatal notification about corrupted environment block in case somebody tries to debug why they do not see the expected environment variable values.

Also, we s

[2018-07-11 07:20] davidfowl commented on #30892
Right, I originally had a bool but then I was thinking this should be more general and just let you describe how much memory you were willing to keep around.

Agreed. We could look into this as a general feature. The thing I think we need to have a way to solve today though is the inefficiency around renting and returning buffers that are fully consumed. There are some scenarios where the PipeRead

[2018-07-11 08:20] mayconbeserra commented on #30979
Hi @davidsh I'm having the same issue using .NET Core 2.1 inside a container, it doesn't happen on MAC.

Is this problem only going to be fixed on .NET Core 3?

[code]

[2018-07-11 09:03] dotnet-mc-bot opened #30983 "rd.xml missing for System.ComponentModel.Composition.Registration.Tests and S.CM.C Tests"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.Registration.Tests.ExportBuilderUnitTests/ExportInheritedInterfaceWithImplements1` has failed.

System.InvalidOperationException : There is no metadata token available for the given member.

        Stack Trace:

           at System.Reflection.Runtime.EventInfos.NativeFormat.NativeFormatRuntimeEventInfo.get_MetadataToken()

[2018-07-11 09:06] dotnet-mc-bot opened #30984 "Test failure: System.ComponentModel.Composition.Registration.Tests.PartBuilderOfTTests/ManuallySelectingConstructor_SelectsTheExplicitOne"
Opened on behalf of @Sunny-pu

The test `System.ComponentModel.Composition.Registration.Tests.PartBuilderOfTTests/ManuallySelectingConstructor_SelectsTheExplicitOne` has failed.

Assert.Same() Failure\r
    Expected: $BlockedFromReflection_2_e7e4fdf8 { Attributes = ReuseSlot, Public, HideBySig, SpecialName, RTSpecialName, CallingConvention = HasThis, ContainsGenericParameters = False, CustomAttrib

[2018-07-11 09:20] dotnet-mc-bot opened #30985 "Test failure: System.Composition.Lightweight.UnitTests.InheritanceTests/MetadataIsOnlyDrawnFromTheTypeToWhichItIsApplied"
Opened on behalf of @Sunny-pu

The test `System.Composition.Lightweight.UnitTests.InheritanceTests/MetadataIsOnlyDrawnFromTheTypeToWhichItIsApplied` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Composition.Hosting.Providers.ImportMany.ImportManyExportDescriptorProvider.GetExportDescriptors(Composition

[2018-07-11 09:23] dotnet-mc-bot opened #30986 "Test failure: DataContractSerializerTests/DCS_BasicPerSerializerRoundTripAndCompare_DataSet"
Opened on behalf of @Sunny-pu

The test `DataContractSerializerTests/DCS_BasicPerSerializerRoundTripAndCompare_DataSet` has failed.

$BlockedFromReflection_0_374190f8 : This object cannot be invoked because it was metadata-enabled for browsing only: 'System.ComponentModel.DesignerSerializationVisibilityAttribute.Default' For more information, please visit  http://go.microsoft.com/fwlink/?LinkID=61

[2018-07-11 09:28] dotnet-mc-bot opened #30987 "Test failure: System.Net.Http.Functional.Tests.PlatformHandler_PostScenarioTest/PostRewindableStreamContentMultipleTimes_StreamContentFullySent(serverUri: http://corefx-net.cloudapp.net/Echo.ashx)"
Opened on behalf of @Sunny-pu

The test `System.Net.Http.Functional.Tests.PlatformHandler_PostScenarioTest/PostRewindableStreamContentMultipleTimes_StreamContentFullySent(serverUri: http://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.ObjectDisposedException : Cannot access a closed Stream.

        Stack Trace:

           at System.IO.__Error.StreamIsClosed()
       at System.IO.Memory

[2018-07-11 09:31] saper commented on #2046
Is Microsoft contracting freelance corners developers?

[2018-07-11 10:42] krytarowski commented on #2046
At least the NetBSD porting one is one-man-show, but I would get some help. We have already ported NetBSD to Azure (but still not merged with the mainline), I got LLDB functional enough etc.. I still don't have a Linux-KVM equivalent in order to bootstrap from a Linux guest the toolchain.. but it's on my roadmap before returning to .NET.

[2018-07-11 10:56] tamasVajda commented on #30942
@krwq :
code:

[code]

caling this via:
[code]

[2018-07-11 11:07] tamasVajda commented on #30942
@tmds:
Thank for the informations, but why changed hat ebehavior of dotnet 2.0 and dotnet 2.1? in dotnet 2.0 there wasn't any exception (but maybe this useshelexecute was ignored) and why throw it file not found in this case? Not suppoerted or similar exception would be more understandable.

[2018-07-11 11:30] Expecho opened #30988 "Extend documentation for reading EventCounter data"
I've gone through [the documentation](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/documentation/EventCounterTutorial.md) to gain knowledge about how these should be used but in my opinion it lacks documentation about how to read the data in-process using for example an EventListener.

[This issue](https://github.com/dotnet/corefx/issues/20331) does mention

but it d

[2018-07-11 11:43] tmds commented on #30942
With UseShellExecute on Linux, it tries to find one of these programs:
https://github.com/dotnet/corefx/blob/e0ba7aa8026280ee3571179cc06431baf1dfaaac/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs#L106
when no program is found it throws here:
https://github.com/dotnet/corefx/blob/a060c9669865f0089e293360deb44941f441d238/src/System.Diagnostics.Process/src/System/Diagnostics/

[2018-07-11 12:07] mayconbeserra opened #30989 "System.IO.IOException: The server returned an invalid or unrecognized response"
Hi,

I'm having an issue when calling one API which requires certificates. To reproduce we have to execute inside a docker container.

This error doesn't happen on macOS anymore since I migrated to .NET Core 2.1, but it still persists on Docker containers.

**Framework: .NET Core 2.1**

Docker file uses the following base image: `FROM microsoft/dotnet:2.1-runtime`

**Code as example:**
[code]

**E

[2018-07-11 12:12] #30942 closed

[2018-07-11 12:46] SariDev commented on #18276
I hope to see this feature in the next version of System.Data.SqlClient.
Support for Always Encrypted is required for enterprise applications that rely on SQL Server and it's security features.
Releasing this together with .NET Core 2.2 later this year should be high priority.

[2018-07-11 13:08] stephentoub commented on #30979
I don't believe this is a bug in HttpClient.  Rather, the nasdaq site appears to be filtering requests based on request headers and refusing to handle requests without specific headers set.  If I modify the request in the repro to include a few additional headers (like are sent by browsers), the code passes successfully:
[code]

[2018-07-11 13:18] #29706 closed

[2018-07-11 13:33] mayconbeserra commented on #30989
**Result from macOS - Received 1460 bytes**
[code]

**Result from Container: Received 0 bytes**
[code]

[2018-07-11 13:36] stephentoub commented on #30942
Rather than throwing, should we fall back to just using `sh` as was done in 2.0?

[2018-07-11 13:43] tmds commented on #30942
The behavior would change based on the the installed applications (xdg-open, ...), which is not good.
If one of the apps is installed, it would open up the script in an editor.
If none of the apps is installed, it would successfully execute the script.

[2018-07-11 13:44] stephentoub commented on #28046
@jkotas, are we any closer to this happening?  It's been discussed for years. :)

Interesting idea. I'd be ok with that as a stopgap measure, but it wouldn't fully replace the benefits of GetEnumerator being allocation-free, in particular because you couldn't share that enumerator instance across multiple threads.  Plus, it's very non-discoverable.

[2018-07-11 13:55] buybackoff commented on #28046
If thread that resets could exclusively use it after reset that it's ok. The new struct enumerator could be a field of a class enumerator and just re-created on Reset.

Those who care about enumerator allocations will find it. This issue was the first Google result yesterday :)

Another issue is that it will still have interface method call and no inlining, but this is still so much better than al

[2018-07-11 14:18] kfreezen opened #30990 "Is there a way to access raw header values in HttpResponseMessage?"
I'm using System.Net.Http.HttpResponseMessage and KestrelHttpServer in a transparent HTTP/S proxy application that I'm maintaining.

Unfortunately, HttpResponseMessage sanitizes the raw header values sent to it from the server. Is there any way to access those raw values?

Example: cbc.ca has an XHR which returns a `Content-Type` of `application/json;charset=utf-8` which HttpResponseMessage saniti

[2018-07-11 14:33] mbashov opened #30991 "System.Net.CookieContainer treats cookies with path as invalid"
This code:
[code]
throws the following:
[code]

These exceptions cause `HttpClient` to discard all cookies with path.

[2018-07-11 14:38] jvelezc commented on #14724
merge this!

[2018-07-11 14:47] jkotas commented on #14724
@janvorli is on vacation. We will merge the PR once he is back in August, addresses the remaining codereview feedback, and is around to deal with the fallout of the changes.

[2018-07-11 15:31] in10se commented on #23229
@UweKeim Thanks, it worked like a charm!

[2018-07-11 15:47] jnm2 commented on #30933
I'm just curious how you would compose this. Let's say you wanted to generate a random number between 0 and 0x1_0000_0000, inclusive. If you generate the high 32 bits separately, from the low 32 bits, and you use `random.Next(0, 2)` to do so, there is a 50% chance that the final 64 bit number will be 0x1_0000_0000 and a 50% change that it will be any of 4 billion other numbers.

[2018-07-11 15:49] ericstj commented on #30960
Was chatting with @ViktorHofer  about this.  We should try to formalize and centralize how we do package harvesting.

Today https://github.com/dotnet/corefx/blob/master/external/harvestPackages/harvestPackages.depproj downloads any packages that *may* be harvested.

Then the individual pkgprojs decide what *will* be harvested.

Then when someone decides they need the harvested asset when building

[2018-07-11 15:50] jnm2 commented on #30933
I'm just curious how you would compose this. Let's say you wanted to generate a random number between 0 and 0x1_0000_0000, inclusive. If you generate the high 32 bits separately from the low 32 bits, and you use `random.Next(0, 2)` to do so, there is a 50% chance that the final 64 bit number will be 0x1_0000_0000 and a 50% chance that it will be any of 4 billion other numbers.

[2018-07-11 15:50] wfurt commented on #2046
You may be able to use FreeBSD toolchain + rebuild native parts for NetBSD @krytarowski
Linux managed code heavily depends on /proc and other Linux specific functions.

[2018-07-11 15:54] mckenzielee commented on #30951
I do not have a small repro to share. I can get you one within a week.

[2018-07-11 15:55] tannergooding commented on #30933
I am saying that any inefficiencies or limitations of the current algorithm will be at risk of becoming more apparent.

Since the algorithm was designed for generating integers in the range of 0 to 2.14b, numbers outside that range are no longer guaranteed to be uniform (occur once in a cycle) and the cycle length will be halved (as we require at least two samples per generated number -- we alread

[2018-07-11 16:19] Eilon opened #30992 "HttpClient unsupported compression method"
_From @moliveto on July 3, 2018 0:39_

I have a problem with HttpClient post.

System.IO.InvalidDataException
  HResult=0x80131501
  Message=The archive entry was compressed using an unsupported compression method.
  Source=System.IO.Compression
  StackTrace:
   at System.IO.Compression.Inflater.Inflate(FlushCode flushCode)
   at System.IO.Compression.Inflater.ReadInflateOutput(Byte* bufPtr, Int32

[2018-07-11 16:19] Eilon commented on #30992
_From @Tratcher on July 3, 2018 5:17_

Doesn't this belong in dotnet/corefx?
What were the request and response headers? What server were you connecting to?

[2018-07-11 16:20] Eilon commented on #30992
_From @dhruval208 on July 7, 2018 18:10_

Have you used chilkat library to compress ?

[2018-07-11 16:45] mkArtakMSFT opened #30993 "Minus vs Hyphen/Dash. Different behaviour on Mac vs Windows in MVC View."
_From @freshe on July 8, 2018 13:59_

When doing ToString() on a C# Double in an MVC View i get different behaviour on Mac vs Windows.

On Windows i get the expected result on negative numbers where ToString() yields a "proper" minus sign that JavaScript can handle.

On Mac i instead get a dash/hyphen (long minus) that breaks the JavaScript code.

Win  -
Mac −

_Copied from original issue: aspnet/

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @khellang on July 8, 2018 21:6_

This sounds like it belongs in dotnet/corefx?

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @khellang on July 8, 2018 21:8_

Unless this only happens in MVC views?

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @freshe on July 8, 2018 21:18_

No, the issue happens in the view. Not a runtime issue.

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @khellang on July 9, 2018 6:14_

What does "not a runtime issue" mean? Are you getting errors at design- or compile-time? I think it would be helpful to provide a minimal reproducible example to better understand what you're seeing.

[2018-07-11 16:45] mkArtakMSFT commented on #30993
Hi @freshe.
As @khellang has mentioned above, we'll need a small repro project to be able to assist you.

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @freshe on July 9, 2018 17:56_

Hi @mkArtakMSFT
I uploaded a sample that reproduces the issue.

https://github.com/freshe/sample-hyphen-minus

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @khellang on July 10, 2018 7:23_

You forgot to mention that the site uses Swedish culture. That's kinda important information. I bet this is an ICU issue (or by design) since it only happens on Unix.

[2018-07-11 16:45] mkArtakMSFT commented on #30993
Thanks @freshe.
@pranavkm, can you please look into this and redirect to corefx folks, if necessary?

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @khellang on July 10, 2018 22:54_

Using the solution provided, I'm getting **HYPHEN-MINUS (U+002d)** on Windows (10.0.16299) and **MINUS SIGN (U+2212)** on MacOS (Darwin 17.5.0), which sounds like the exact opposite of what @freshe reported.

Anyway, I was able to reproduce the same results using the following code:

[code]

## Windows Result

[code]

## MacOS Result

[code]

Note the diffe

[2018-07-11 16:45] mkArtakMSFT commented on #30993
_From @pranavkm on July 11, 2018 1:9_

Thanks for the detailed investigation @khellang  👍

[2018-07-11 16:50] mayconbeserra commented on #30979
Hi @stephentoub I have created another issue with my example:

https://github.com/dotnet/corefx/issues/30989

[2018-07-11 16:51] #30389 closed

[2018-07-11 16:55] davidsh commented on #30979
Closing this issue as by-design.

[2018-07-11 16:55] #30979 closed

[2018-07-11 16:56] weshaggard commented on #30978
Generally we depend on the doc team to produce xml intellisense comments but currently we haven't been documenting our nuget packages yet.

In the mean time we can make this project output the xml doc comments it contains in code by setting https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System.Collections.Immutable.csproj#L8 in its project. That should automatica

[2018-07-11 16:56] pjanotti commented on #30170
One possible way to make this work is to add to S.IO.Pipes.AccessControl some static factory methods that can create named pipes with `PipeSecurity` and `PipeAccessRights` equivalent to the constructors that are in the Fx but not in the standard - this will allow the same old functionality of the Fx. There should be some refactor to avoid/reduce code duplication but in principle I don't see a reas

[2018-07-11 16:59] SteveL-MSFT opened #30994 "String.GetHashCode() consistently slower on dotnetcore than .Net Framework"
Using this PowerShell script on Win10 17713

[code]
 Computes the hash for the string 10M times and averages the time over 10 runs.

On .Net 4.7.2 it takes 12455ms
Same machine with PSCore6.1 w/ dotnetcore 2.1.301 17579ms

This is causing a perf regression in PowerShell due to use of GetHashCode() calls.

[2018-07-11 17:01] davidsh commented on #30989
What server is being used here?  The repro code just shows this:

" requestUri: "https://www.myurl.com"

In order to diagnose this, we'll need a complete repro that can be run.

[2018-07-11 17:08] rmkerr commented on #30691
I'm in the process of setting up the repro now. I think that the connection management logging in 2.1 actually isn't bad, so we can hopefully get some useful info there.

[2018-07-11 17:11] mayconbeserra commented on #30989
Hi @davidsh it's one API from our customer, which I can't share.

The code above has two behaviours - inside a container and on macOS.

I can try to grab more logs if it's required.

We managed to request that API successfully using curl and SOAP-UI.

[2018-07-11 17:15] davidsh commented on #30989
Can you reproduce the server/behavior in some way?  We don't need the actual customer URL. But we need a server (ASP.NET localhost etc.) that can reproduce the same error that you're getting.

If not, then we'll need more logs and Wireshark (Fiddler could be useful as well) and anything else you think would be useful.

By itself with just this error "The server returned an invalid or unrecognized

[2018-07-11 17:23] davidsh commented on #30990
So, you want to be able to get the "raw" value which in this case has no space separator before the semicolon?

Have you tried using:

[code]

[2018-07-11 17:33] mayconbeserra commented on #30989
Unfortunately, I can't reproduce the server/behaviour. It only happens inside a docker container.

I have added a screenshot, but which logs would be helpful for you? In my second comment, I added some logs from `EventListener`, do I need to grab more?

![picture1](https://user-images.githubusercontent.com/911493/42589285-c4349562-8540-11e8-816c-8fcc41d2622c.png)

[2018-07-11 17:34] krwq commented on #16680
@Rajivts - code coverage tells which code paths were hit when running tests - it does not have to be called explicitly (i.e. if other API calls XmlNodeReader APIs it counts it as well).

The other thing is I believe the numbers in this issue might not include OuterLoop tests. Please refer to https://github.com/dotnet/corefx/blob/master/Documentation/building/code-coverage.md how to run code covera

[2018-07-11 17:39] karelz commented on #30389
Fixed in 2.1 servicing in PR #30954. Should be part of 2.1.3 release.

[2018-07-11 17:40] davidsh commented on #30989
The error "The server returned an invalid or unrecognized response." usually means a HTTP protocol formatting error.  Examples could be malformed header/values pairs, missing broken CR-LF at end of headers, etc.

We would need to see the raw response headers coming back from the server to understand if there are "non-standard" responses that the .NET Core HTTP stack can't parse.

[2018-07-11 17:44] mayconbeserra commented on #30989
Is there any way to enable logs for getting that information with .NET Core? Or is wireshark/fiddler the only option?

[2018-07-11 17:47] luqunl commented on #30952
it includes both.  What I try to say is that customer scenario(cross-apartment, or even cross appdomain if supported) should cover IMarshal for Managed to native and native to managed scenario.

if someone pass a managed object to native and if native side QI for IMarshal,  Interop will provide a default implementation for IMarshal if managed object itself doesn't implement IMarshal.  The default

[2018-07-11 17:49] davidsh commented on #30989
It looks like you're already using .NET Core logging.  The logging will show partial header information but it looks like you didn't post that here in the issue.  But generally, wireshark or fiddler is useful.

Without seeing the actual headers coming from the server, it is not possible to diagnose why the HTTP parser is throwing the error.

[2018-07-11 18:21] mayconbeserra commented on #30989
Using curl inside the container, the output is below:

[code]

Does it help?

[2018-07-11 19:29] stephentoub commented on #30994
.NET Core uses randomized string hashing.  This is by-design.

[2018-07-11 19:45] caesar1995 commented on #30991
[CookieContainer.SetCookies:](https://msdn.microsoft.com/en-us/library/system.net.cookiecontainer.setcookies(v=vs.110).aspx)
[code]

[Set-Cookie path attribute:](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie)

[code]

For this operation: `cookieContainer.SetCookies(new System.Uri("http://localhost"), "name=value; path=/path");` The requested address ("http://localhost") does

[2018-07-11 19:45] #30991 closed

[2018-07-11 19:46] iainnicol commented on #8808
Closing as a dupe of the previously linked issue.
Please this is happening.

[2018-07-11 19:46] #8808 closed

[2018-07-11 19:57] rmkerr commented on #30691
@ayende are there any additional steps I need to follow to get the tests working? I'm currently:
1) checking out the code from the linked PR
2) running dotnet restore in /tests/SlowTests
3) running dotnet xunit in /tests/SlowTests

As output, I see a large number of tests skipped, and then many failures. This is running on Windows 10 RS2
<details>
<summary>Logs:</summary>
D:\ravendb\test\SlowTests

[2018-07-11 20:21] ppekrol commented on #30691
@rmkerr

This is expected. There are over 3500 tests there and it takes around 30-40min for them to complete.

I suggest running `dotnet xunit -c Release` or `dotnet xunit -c Release -verbose` if you want to see which test is currently running.

Some of them might fail due to the missing license, or can be skipped because of missing SQL Server, but you can safely ignore that fact.

[2018-07-11 20:30] AArnott commented on #30978
Should we service the fallback package in VS installation to include that file, or do folks need to update to 4.5.1?

[2018-07-11 20:42] weshaggard commented on #30978
We wouldn't hack up the nuget fallback folder to change the contents of an extracted package. It would require that we service the package to add this and then get the fallback cache updated with the newer package.

[2018-07-11 21:10] stephentoub commented on #30781
@ReubenBond, would you be able to test the fix in https://github.com/dotnet/corefx/pull/30947 and confirm that it fixes your issue?

[2018-07-11 21:36] ppekrol commented on #30691
@rmkerr

I've pushed 1 additional commit to the branch https://github.com/ppekrol/ravendb/commits/v4.1-temp4 that disables test parallelization.

After that I've ran in `test/SlowTests`:
[code]

Following two tests have failed with the exception that we are trying to trace:

[code]

[code]

Log is available here: https://drive.google.com/file/d/1syhM_yR2KwtWvzp7LGABag5_duU8cKLZ/view?usp=sharing

[2018-07-11 21:42] wfurt commented on #30992
do you have repro code and instructions?

[2018-07-11 21:43] tannergooding opened #31002 "Expose a way to get the current RuntimeIdentifier at runtime"
### Rationale

It is often the case, when working with .NET Core that you want to do something based on the current platform/architecture. In many cases, this can include needing to interop with tools published using a particular "runtime identifier".

Today, the RuntimeIdentifier is only exposed through the `Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment.GetRuntimeIdentifier()` API and

[2018-07-11 21:43] tannergooding commented on #31002
FYI. @eerhardt

[2018-07-11 21:44] tannergooding commented on #31002
@nguerrera, @KathleenDollard, @livarcocc, @dsplaisted. I know there has been a similar request on the SDK/CLI team before

[2018-07-11 21:55] weshaggard commented on #31002
We already have other related issues like https://github.com/dotnet/corefx/issues/28620.

[2018-07-11 21:56] dsplaisted commented on #31002
Is just getting the current RID helpful?  Or do you usually also need to find a best match from a list of RIDs you have resources available for, using the RID graph?

[2018-07-11 21:59] safern commented on #29957
Taking this one.

[2018-07-11 22:00] tannergooding commented on #31002
Yes, getting the best match from a list of RIDs is even better. Not sure how closely tied that is to NuGet, however.

[2018-07-11 22:03] tannergooding commented on #31002
@weshaggard, right. But I didn't see anything that looked like the "recommended" API proposal layout and that covered the `RuntimeIdentifier`.

[2018-07-11 22:17] HFadeel commented on #30994
@stephentoub Why .NET Core utilize randomized string hashing? Won't this make porting applications from .NET Framework harder? Also shouldn't hashing be stable for the same input?

[2018-07-11 22:18] keeratsingh commented on #30147
@corretge @moconchobhair Do you still see this issue with PowerShell Core as initially mentioned ?

@mcblakeb Could you kindly share a repro for the issue, I am unable to repro this in my environment even
with Entity Framework.

@las3r I was able to successfully connect using both localhost and 127.0.0.1 with:
- SQL Server hosted on Windows machine from both Mac OSX and Linux client.
- SQL Server

[2018-07-11 22:19] stephentoub commented on #30994
Security, prevention against DoS attacks, etc.

It is stable for the same input, for a given execution of a program.

[2018-07-11 22:21] HFadeel commented on #30994
@stephentoub Thanks. Is **UseRandomizedStringHashAlgorithm** applicable for .NET Core as well?

[2018-07-11 22:22] stephentoub commented on #30994
UseRandomizedStringHashAlgorithm exists in the .NET Framework to be able to opt-in to randomized string hashing.  There is no mechanism provided in .NET Core to opt-out of it.

[2018-07-11 22:31] AfsanehR commented on #29620
@EltonCarreiro @logankp @rzachariah Please share your network traces if your issue still does exist.

[2018-07-11 22:32] karelz commented on #30994
Is there something left to be done here, or are we going to call it by design perf difference?
cc @valenis @brianrob @adamsitnik

[2018-07-11 22:34] eerhardt commented on #31002
See my comments here:  https://github.com/dotnet/corefx/issues/28620#issuecomment-377421773, copied below for ease in reading:

---------------

The other public members of RuntimeEnvironment:

[code]

The following properties aren't already exposed in corefx:
* `OperatingSystem` should be moved to `RuntimeInformation`.
* `OperatingSystemVersion` should be moved to `RuntimeInformation`.

The follo

[2018-07-11 22:34] #29956 closed

[2018-07-11 22:38] eerhardt commented on #31002
One question I have about the RID API:

Today, we have an environment variable that allows someone to set the RID:

[code]

Do we plan on preserving this behavior with the proposed API?  And if we do, would it make more sense for the API to be a method instead of a property? Since it would always need to check the env var.

[2018-07-11 22:40] davidsh commented on #30605
Related issue: #18851.

This is a difference between .NET Framework and .NET Core.

[2018-07-11 22:49] karelz commented on #30989
It tells us how curl behaves, but not what is wrong with .NET Core request. Any reason why Wireshark/Fiddler traces are problematic?
If there is sensitive data, you can inspect the traces yourself.

[2018-07-11 22:51] karelz commented on #30992
Is it on .NET Framework or on .NET Core? Which version? Which OS?

[2018-07-11 22:53] tannergooding commented on #31002
I think a method makes sense, if the behavior is preserved. Otherwise, a property seems the better choice.

[2018-07-11 22:55] karelz commented on #30964
Off-topic, likely spam (based on the account history). Reported to GitHub. Closing.

[2018-07-11 22:55] #30964 closed

[2018-07-11 22:55] TicoDePano opened #31003 "System.Diagnostics.Debug not hooked up to TraceListeners and missing .Listeners property"
[code]
Using Core 2.1, this code correctly writes **TRACE** when _dotnet run -c Release_ command runs on an ordinary project, but _dotnet run_ only writes **DEBUG** and **TRACE**, no **CONDITIONAL**.

[2018-07-11 22:58] karelz commented on #30959
@wesleyolis can you please be more specific? Short description of the idea you want in CoreFX? Or are you seeking support for your idea in other communities?

[2018-07-11 23:03] karelz commented on #30951
@mckenzielee ok, we will wait for it.

[2018-07-11 23:11] keeratsingh commented on #30733
Hi @jonathanpickard,

To give more context currently `Microsoft.SqlServer.Server.SqlContext`  APIs are not yet ported to .NET Core, even if `Microsoft.SqlServer.Server.SqlContext` APIs were imported to .NET Core it still wouldn’t guarantee the .NET Core code running in SQL Server, as .NET Core code is not supported inside SQL Server.

Also, as per https://github.com/dotnet/corefx/issues/23292#issu

[2018-07-11 23:20] tmds opened #31005 "Http Negotiate authentication fails on Unix"
@ManuelAVR reported an issue where .NET Core fails to authenticate against his proxy server.

The proxy server is sending:
[code]
.NET Core doesn't reply to the proxy server to authenticate. It returns the 407 as the response result.

Trying to authenticate with curl using `--proxy-negotiate` fails with: `gss_init_sec_context() failed: SPNEGO cannot find mechanisms to negotiate.`
Using `--proxy-nt

[2018-07-11 23:30] wfurt commented on #31005
I think key may be creating credential cache with type set to NTLM.
Is this 2.1 issue using SocketHttphandler @tmds ?

[2018-07-11 23:36] tmds commented on #31005
If you get a compiled app, it should be able to authenticate with the proxy server using credentials from the envvars.

Yes. It also occurs with the curl handler (probably due to https://github.com/curl/curl/issues/876).

[2018-07-11 23:42] fadimounir opened #31006 "DllImports in PlatformDetection.NonNetFx.cs will not work in UWP ILC testing"
In file src\CoreFx.Private.TestUtilities\src\System\PlatformDetection.NonNetFx.cs, these imports will not work when the test is compiled as a UWP ILC test:

        [DllImport("libc", ExactSpelling = true, CharSet = CharSet.Ansi, CallingConvention = CallingConvention.Cdecl)]
        private static extern IntPtr gnu_get_libc_release();

        [DllImport("libc", ExactSpelling = true, CharSet = Cha

[2018-07-11 23:45] davidsh commented on #31005
Maybe this is related to #30330 which was fixed in a servicing updated of .NET Core 2.1.

[2018-07-11 23:47] davidsh commented on #31005
Also, how is the credential being set into the HttpClientHandler?  "Default credentials" only work if there is a Kerberos ticket active.

[2018-07-11 23:48] davidsh commented on #31005
CurlHandler does NOT handle Negotiate/NTLM to a proxy.  That is a known issue.  Only Basic auth works with CurlHandler for proxy auth.

[2018-07-11 23:50] danmosemsft opened #31007 "Dictionary version increment is missing for TrimExcess() and EnsureCapacity()"
`Dictionary<K,V>` has a `version` field that is incremented by modification and tested by enumerators such that any modification of a dictionary during enumeration causes an exception. This is to flag that the enumeration may not lead to self consistent results.

Calls to TrimExcess() and EnsureCapacity() appear to not increment version even though they could modify the backing storage in such a w

[2018-07-11 23:50] wfurt commented on #31005
yes, but any issues with parsing that variable would be silently ignored.
Creating the credential cache would force to skip Negotiate.

What info would we need @davidsh to confirm if it is  #30330 (and possibly #30327)
The 30330 would try and fail. In this case there is no attempt to authenticate according to @tmds.

[2018-07-11 23:53] danmosemsft commented on #30994
Depends on whether there are important enough scenarios that don't care about the possibility of DoS (and their users and callers don't either) and those scenarios are unacceptably regressed.

@SteveL-MSFT in what Powershell scenarios is the perf regression occurring?

[2018-07-11 23:53] davidsh commented on #31005
The 30330 would try and fail. In this case there is no attempt to authenticate according to @tmds.

Issue #30330 is about SocketsHttpHandler doing Windows auth to a proxy to a destination URI that is HTTPS.  Is that this scenario?

That is bug #30330.  SocketsHttpHandler does not attempt to authenticate at all to the proxy.  It does not start the Negotiate/NTLM handshake at all.

[2018-07-11 23:57] fadimounir commented on #29016
This issue has been fixed a few months ago

[2018-07-11 23:57] #29016 closed

[2018-07-12 00:04] tmds commented on #31005
I'm not sure. Maybe it is sufficient to get this to work...
It doesn't relate to behavior of if SocketsHandler would see `gss_init_sec_context() failed: SPNEGO cannot find mechanisms to negotiate.`.

There is no Kerberos ticket. credentials are passed in the http_proxy and https_proxy envvars.
I guess no Kerberos _may_ be the reason gss_init_sec_context returns `SPNEGO cannot find mechanisms to ne

[2018-07-12 00:05] tarekgh commented on #30993
The framework gets the globalization data from the underlying OS. on Linux and MAC we get this from ICU library. so this is by design for the framework. if you think this is wrong, you can report the issue to the ICU library to fix it. note that, in general, you cannot assume you are going to get minus sign for all locales. if you want to guarantee to get minus sign, you should use the Invariant c

[2018-07-12 00:05] #30993 closed

[2018-07-12 00:07] tmds commented on #31005
Also for http uri, using http proxy .NET Core doesn't try to authenticate and returns 407.

[2018-07-12 00:10] dsplaisted commented on #30910
I am able to reproduce this issue.  It occurs when the .NET Framework project uses packages.config instead of PackageReference.  In that case, installing the package adds the following to the project file:

[code]

Conflict resolution ends up removing this reference and replacing it with a framework reference to System.IO.FileSystem.Primitives, which causes VS to generate the following warning:

A

[2018-07-12 00:35] luqunl commented on #30866
@jiangzeng, Could you do the following?

`[Theory]`
`[InlineData(unchecked((int)0x80020006))]`
`[InlineData(unchecked((int)0x80020101))]`
`public void GetExceptionForHR_EqualsErrorCode(int err) `
`{`
        // `Try to clean current thread IErrorInfo's value`
        `Marshal.GetExceptionForHR(unchecked((int)0x80004002))); `
        `Exception ex = Marshal.GetExceptionForHR(err);`
       `Assert.E

[2018-07-12 00:35] tmds commented on #31005
gss-ntlmssp is not installed. krb5-libs is installed.

This is running in a container. The http_proxy and https_proxy envvars are used to configure it (as good as possible).

@ManuelAVR, can you answer these questions?

[2018-07-12 00:44] pjanotti commented on #31002
In general I don't like the idea of **applications** taking functionality dependency based on reported OS version at runtime: there is a history of broken features because the OS can fake its answers, or later starts to support some feature and the app then requires recompilation. If *possible* testing/trying the feature itself is the preferred way. That said decisions based on broad categories (e

[2018-07-12 00:44] tmds commented on #31005
It seems gss-ntlmssp isn't available on RHEL.

[2018-07-12 00:59] wfurt commented on #31005
Could you use http://rpm.pbone.net/index.php3/stat/4/idpl/40954132/dir/redhat_el_7/com/gssntlmssp-0.7.0-1.el7.x86_64.rpm.html (or package from Centos)
Without it, I was never able to do NTLM as MIT GSSAPI does not support it on it's own.

[2018-07-12 01:19] tmds commented on #31005
I think it may be feasible without the package. In the logs I saw npm installs packages through the proxy (with the same envvars set). Unless @ManuelAVR did something special that I missed?

It would be nice if we could avoid the extra dependency. Especially since for RHEL we'd need to build it from source and maintain it just for .NET Core.

[2018-07-12 01:28] wfurt commented on #31005
That is different @tmds. Curl can do it as well as it has it't own implementation for ntlm.
However SocketHttpHandler and underlying NegotiateStream only uses GSSAPI and depends on GSSAPI providers. On Windows, you get both by default (NTLM and Kerberos)

[2018-07-12 01:35] tmds commented on #31005
Ah, ok. gss-ntlmssp is a dependency of .NET Core on Linux to support Negotiate/NTLM auth.

It would be good to document this.

[2018-07-12 01:46] wfurt commented on #31005
Look at  https://github.com/dotnet/corefx/issues/28961. I was trying to get it to docker images at least but it did not happened.

[2018-07-12 02:03] davidsh commented on #30987
This test should be disabled on NETFX.  .NET Core was changed so that the HttpRequestMessage.Content is not disposed after sending a request.  But .NET Framework still disposes the Content.  That is why the test is failing on NETFX.

[2018-07-12 06:16] cremor commented on #30910
The workaround with the replaced reference looks good, thanks.

While testing this I even noticed something: If you manually add the reference in Visual Studio by Add Reference -> Browse -> choose "packages\System.IO.FileSystem.Primitives.4.3.0\lib\net46\System.IO.FileSystem.Primitives.dll", Visual Studio will just add the same simple reference (without a path) as described in your workaround. So

[2018-07-12 06:49] mayconbeserra commented on #30989
Hi @karelz what kind of info do you need? how can I collect them for you?

Looking at the logs provided above, the requested API is returning 0 bytes, and the connection is being reset. Just to be clear, the same code works when running on Windows and MacOS.

[code]

[2018-07-12 07:30] tmds commented on #31005
I created https://bugzilla.redhat.com/show_bug.cgi?id=1600392 for RHEL.

I'm closing this as a dup of https://github.com/dotnet/corefx/issues/28961.

[2018-07-12 07:30] #31005 closed

[2018-07-12 07:35] wfurt commented on #31005
did it actually worked after installing dependencies @tmds?

[2018-07-12 07:39] tmds commented on #28961
I reported https://github.com/dotnet/corefx/issues/31005. This is also due to missing gss-ntlmssp.

In this case, a proxy server provided these auth mechanisms:
[code]

Behavior was different from what is described in this issue:

--> no exception was thrown, HttpClient returned 407 Proxy Authentication Required

--> AppContext.SetSwitch (i.e. curlhandler) does not work. Running curl on the comman

[2018-07-12 07:51] tmds commented on #31005
I'm not looking into it further atm.
We have this issue when `dotnet restore` fails to authenticate against the proxy server for accessing nuget.org. A fast workaround will be to setup a caching nuget server. Providing a gss-ntlmssp package will take more time. It depends on prioritization when we investigate this issue further.

[2018-07-12 08:01] tmds commented on #31005
@wfurt @davidsh thank you for your help!

[2018-07-12 08:04] mbashov commented on #30991
Browsers, at least Firefox and Chrome, do not discard cookies with path even if the path does not match the requested resource. And there are some interactions over HTTP relying on that, for example, Microsoft's implementation of OpenID Connect client sets [two cookies with callback path](https://github.com/aspnet/Security/blob/2.1.1/test/Microsoft.AspNetCore.Authentication.Test/OpenIdConnect/Open

[2018-07-12 08:05] tynor88 commented on #26223
@FenrisWolfAtMiddleEarth have you had any luck?

I have not been able to reuse the NTLM authentication header across multiple requests, using the same instance of HttpClient. Every call requires a re-authentication which means 2 calls for every request, rather than 1.

On full .NET framework with WebRequest, setting UnsafeAuthenticatedConnectionSharing to true, would eliminate re-authentication, t

[2018-07-12 08:17] schungx opened #31011 "Proposal: Trim/TrimStart/TrimEnd methods for Memory and Span with trim element"
Currently, the overloaded versions of `Trim`, `TrimStart` and `TrimEnd` that accept a `trimChar` or `trimChars` only works with `ReadOnlySpan<char>`.  There is no reason why these versions cannot be extended to any `ReadOnlySpan<T>`.  For example:

[code]

This will allow, for example, quick processing of a byte array to trim off zero paddings before parsing.

[2018-07-12 08:30] wesleyolis commented on #30959
Hi,

I have come to realise the the language pattern of async/await, that allows
us to flatten the programming structure to more sync style, has a slight catch, which has potentially been overlook, which is across the board of all languages..

So I am sharing it with all communities, in hope that one these communities comes back to me
who is able to understand this. So far C# is the only one, i ha

[2018-07-12 08:38] MichalStrehovsky commented on #31006
Related to #30423 and #30399? Cc @luqunl

[2018-07-12 08:49] wesleyolis commented on #30959
The one other thing to mention is that await/async was ment to flatten callback hell for some languages or that styles of writing code to a flatted approach. Which is what it archives, but I feel we can further improve on things. Right now it allows with the constraint that all the code be chained, just by presenting it in a different way, but by removing the constraint for await, we can be more i

[2018-07-12 08:50] ManuelAVR commented on #31005
Hello and sorry for my late response.
We managed with the work arround, we have another proxy server with white lists and this is now working well (without auth).

[2018-07-12 09:02] filipnavara opened #31012 "Implement cryptographic algorithms (RC2, RC4, DES, SHA) natively on macOS"
Mono compiled for Xamarin profiles supports native cryptography libraries on macOS/iOS using the `CCCryptorCreate` interface (https://github.com/mono/mono/tree/master/mcs/class/corlib/CommonCrypto). As far as I can tell CoreFX still uses OpenSSL for that on macOS. Since X509 code was switched over to use CommonCrypto on macOS it would probably make sense to use the native cryptography primitives t

[2018-07-12 10:51] roji commented on #30941
Thanks for your responses - it more or less confirms my understanding of the situation.

@mgravell

I understand that pipelines is an abstraction, but the idea that flush is synchronous "in most cases" can be a bit problematic... Specifically, isn't it important for perf for the producer to know when an actual I/O system call occurs and when it doesn't (regardless of whether it blocks for any leng

[2018-07-12 10:51] roji commented on #30941
Thanks for your responses - it more or less confirms my understanding of the situation.

@mgravell

I understand that pipelines is an abstraction, but the idea that flush is synchronous "in most cases" can be a bit problematic... Specifically, isn't it important for perf for the producer to know when an actual I/O system call occurs and when it doesn't (regardless of whether it blocks for any leng

[2018-07-12 10:54] andriysavin opened #31014 "UWP HttpClient: "No more Internet handles can be allocated""
My UWP app does some amount of HTTP requests using `HttpClient` and fails with a `COMException` "No more Internet handles can be allocated". Below is the stack trace:

[code]

I'm using shared `HttpClient` instance, and requests are done primarily sequentially. I also dispose request and response objects, so there should be no resource leak. However, looking at the UWP [implementation](https://git

[2018-07-12 11:05] hughbe opened #31015 "Implement Marshal.GetComObjectData and Marshal.SetComObjectData in .NET Core"
These methods are stubbed out and throw PNSE in .NET Core. Looking at reference source it should be easy to implement (https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/__ComObject.cs#L66-L108)

[code]

[2018-07-12 11:44] gfoidl commented on #31003
Well it writes it...but by default into the "Debug Window" (Output with Debug selected).

![grafik](https://user-images.githubusercontent.com/5755834/42631125-838a4144-85d9-11e8-858e-50c95893a536.png)

This is OK according the [docs](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/trace-listeners).

[2018-07-12 11:50] gfoidl commented on #31011
@schungx can you update your code sample so that the `return` is outside the loop?

[2018-07-12 12:56] springy76 commented on #27445
To get this clear: You now have introduced a brand new non-generic `ValueTask` type (does not matter whether class or struct) which lacks that simple method:?

[code]

I just can't believe that.