[2017-09-18 16:33] davidsh commented on #24117
This was done originally as a tradeoff of space vs. time.

[2017-09-18 16:35] davidsh commented on #24114
Multicast tests in CI is probably something that it difficult to get 100% reliable.

[2017-09-18 16:35] tannergooding commented on #23433
`SplitFractionSingle` calls into `COMSingle::ModF`: https://github.com/dotnet/coreclr/blob/03bf95c8db9003a5925ca9383dca722a4c651e27/src/vm/ecalllist.h#L690.

`COMSingle::ModF` is just a call to the CRT `modff` function: https://github.com/dotnet/coreclr/blob/395f145ba0c220afb1d85ff8c26f34909d8ea424/src/classlibnative/float/floatsingle.cpp#L157.

CoreRT is incorrectly casting a `float*` to a `doubl

[2017-09-18 16:51] vancem commented on #22791
To summarize to date:   Earlier in this issue there was some non-determinism in the test that I *THINK* has been addressed.  However we now seem to be running into DETERMINISTIC failure on some particular environments (e.g. Desktop and perhaps .NET Native on Universal Windows Platform (UWP)).

These tests MAY have been passing before because of basically a bug in the infrastructure such that the t

[2017-09-18 16:55] davidsh commented on #23992
Based on this discussion, it sounds like these particular tests is invalid.  The test was originally created because it was assumed that doing a DNS lookup against IPAddress.None (which is the broadcast address, 255.255.255.255) would always be invalid.  Then it was tweaked to ignore the test on MacOS.

[code]

But in reality, since this IP address could have a DNS mapping on any platform via hard

[2017-09-18 17:09] ericstj commented on #24083
I see, if that applies to all of these you can deprioritize.  I filed this after seeing a report for a customer on desktop who did some gymnastics to workaround these allocations.  I suppose we'd want to give desktop the native-zlib improvements rather than fix up the managed implementation?

[2017-09-18 17:10] stephentoub commented on #24083
Yeah, there's a huge perf win to be had by switching the implementation to use zlib.

[2017-09-18 17:11] tijoytom commented on #23546
CORECLR is throwing the tight one , ie same as Desktop ..CoreRT probably is not handing all of the error codes correctly ,  anyways not a priority to fix all of it  now . I will skip the test..

[2017-09-18 17:12] karelz commented on #24108
@ericstj do you have any advice?

[2017-09-18 17:15] karelz commented on #24112
FYI: The public API reference is ok: https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutableinterlocked.trypop?view=netcore-2.0

[2017-09-18 17:18] danmosemsft commented on #24117
@i3arnon is this showing up high in elapsed time, or allocations?

`StringComparer.OrdinalIgnoreCase.GetHashCode` is managed code, seems a good hashcode could be generated at least as fast inline here. There is discussion [here](https://github.com/dotnet/corefx/issues/14354) over improving on xor (which is apparently not good)

[2017-09-18 17:25] i3arnon commented on #24117
Allocations, but I'm specifically looking for allocations, so I can't say much on elapsed time.

[2017-09-18 17:34] danmosemsft commented on #23433
@tannergooding you expressed interest in taking https://github.com/dotnet/corert/issues/3167, LMK if you want to take this. I'll assign to @AtsushiKan meantime ( @AtsushiKan not sure who owns which bits of the corert corelib feel free to reassign)

[2017-09-18 17:37] AtsushiKan commented on #23433
Tijoy added the MathF class to CoreRT originally - I'd expect him to be the owner.

[2017-09-18 17:39] tintoy opened #24118 "StreamReader.ReadLine fails to return null when end-of-stream is reached"
Hi.

I've run into some puzzling behaviour with `StreamReader.ReadLine` that appears to deviate that described in [the documentation](https://docs.microsoft.com/en-au/dotnet/api/system.io.streamreader.readline?view=netcore-2.0). According to these docs, `StreamReader.ReadLine` should return `null` if the end of the input stream is reached (before a line-ending sequence is encountered, I assume, al

[2017-09-18 17:46] safern commented on #24112
Fixed in #24113

[2017-09-18 17:46] #24112 closed

[2017-09-18 17:48] danmosemsft commented on #24118
@tintoy my reading of the code is that it does not require a line ending at the end of the stream. Files often don't end in a newline.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/StreamReader.cs#L704

I believe this is intended behavior -- perhaps the docs could be clearer, perhaps you might want to open an issue against the docs repo for that ? https://github.com/dot

[2017-09-18 17:51] tannergooding commented on #23433
I can take a look at this later this evening.

If someone else doesn't get to it first, I will likely push the temporary fix at that time and then start on the real fix.

[2017-09-18 17:58] qmfrederik commented on #24104
What I think happens is that .NET resolves localhost to ::1 and 127.0.0.1. Because ::1 is first in the list, it tries to connect to ::1 (perhaps with a 1-second timeout), fails, and continues with the next entry, 127.0.0.1, which succeeds.

Looking at it this way, it seems the framework is behaving correctly. You could argue that using localhost to connect to an IPv4-only service on a dual-stack s

[2017-09-18 18:03] ericstj commented on #24108
[code]
<details><summary>Full log:</summary><p>

[code]

</p></details>

The detail from RAR in the full text is not to be trusted because it is seems to be unifying all indirect references up to the max version before reporting the conflict (probably an MSBuild bug /cc @AndyGerlicher), so you need to go through references 1-by-1 to find out who actually brought in the conflict.

Referencing Value

[2017-09-18 18:14] davidsh commented on #21904
Now that #24111 is merged, this issue can be closed since it is fixed on all platforms.

[2017-09-18 18:14] #21904 closed

[2017-09-18 18:19] tintoy commented on #24118
Yeah now that you put it that way, it does sound like that's the correct behaviour. I'll open a PR for the docs though - maybe I can save someone else from running into the same confusion.

Thanks!

[2017-09-18 18:19] #24118 closed

[2017-09-18 18:30] ianhays commented on #24083
That would be much better, yes. Desktop decompression is still on the old managed implementation and also lacks deflate64 support. Upgrading it to use zlib with the modified delfate64 managed available a la netcore would be substantial improvement.

[2017-09-18 18:35] mfeingol commented on #24108
I'm not using `PackageTargetFallback`, at least that I'm aware of. So a bogus dependency is definitely a possibility.

In the context of a repro, it takes a partial recompile (e.g. touching one .cs file) to trigger the warning. A full rebuild builds cleanly, oddly enough.

Here are my PackageReference elements:

[code]
Worst case, I can give you access to my project in VS Online.

[2017-09-18 18:38] jimevans commented on #24104
@qmfrederik Your supposition of what's happening under the covers is what I suspect too, but given that the IP addresses appear in the same order in both Desktop and Core configurations, I would expect the underlying library to approach them the same way.

As to your question, the API of the library my project provides to end users include the user providing a URL to a remote-end processor (like t

[2017-09-18 18:55] justinvp commented on #24115
Nit: The parameter should be named `comparison`.

[2017-09-18 18:59] mikedn commented on #24115
Not quite true. This is generic code so it's fast only when T is a value type. Still, it should be faster than creating a new delegate.

[2017-09-18 19:11] weitzhandler commented on #19627
@karelz is this on the roadmap? I'm willing to be assigned and implement.

[2017-09-18 19:22] danmosemsft commented on #24118
Thanks @tintoy !

[2017-09-18 19:30] mellinoe commented on #24092
This was fixed by https://github.com/dotnet/corefx/pull/24100.

[2017-09-18 19:30] #24092 closed

[2017-09-18 19:42] karelz commented on #19627
@weitzhandler it's not on roadmap, but that should not prevent you from grabbing any issue. We take any (high quality) contributions even if it is not something we plan to do ourselves anytime soon.

This one needs formal API proposal as next step -- see example in [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md). For example the v

[2017-09-18 19:45] RussellHaley commented on #1626
Perhaps you can just tag the freebsd-dotnet group on GH? He is a member there (or you could look up his account name). ‎His email is mprevot@freebsd.orgRuss

[2017-09-18 19:48] weitzhandler commented on #19627
OK @karelz I'll update the OP to include those. Thanks for your kind response.

[2017-09-18 19:50] ahsonkhan commented on #23430
The last 100 Ubuntu 16.10 release builds have passed (https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.10_release/buildTimeTrend). I am not sure if this issue is reproducible or actionable. The extra logging will help if the issue re-occurs. Closing the issue.

[2017-09-18 19:50] #23430 closed

[2017-09-18 19:52] avireddy02 opened #24120 "Sql Connection Pooling"
We are having issues when connecting from .net core application to sql server. The connections opened by application was not closed/ connection pooling was not happening as expected. Below is the sample code used to open a sql connection.
[code]

On an average 200-400 inactive connections are opened in a day. In couple of weeks, inactive connections count reaching SQL max connection limits. Which

[2017-09-18 19:56] danmosemsft commented on #24000
@karelz there are no reruns currently. The x2 is chk and ret. They don't have columns for both, for lack of space.

[2017-09-18 19:57] weitzhandler commented on #19627
OK @karelz I'll update the OP to include those. Thanks for your kind response.

---
@adampursley
Obviously this is a good idea and the clear benefit of it is that we don't have to retrieve the values using reflection, but since we can't force devs to provide those values, they might be null of being unset misleading the consumer to think it was set to null. We could introduce another readonly prop

[2017-09-18 20:00] karelz commented on #1626
@RussellHaley feel free to tag the larger group if you think it is appropriate. I couldn't find Mathieu's GH account via his name nor email, that's what I meant above.

[2017-09-18 20:06] smile21prc commented on #23279
Didn't notice this thread until jan pinged me today. The logs contains all test artifacts is:
https://dotnetbuilddrops.blob.core.windows.net/build-32c392f26fb74948ae072f4937abc328/TestList.json?sv=2015-04-05&sr=c&sig=LjYI3MyqpsT63fLLxIxfh9LsVj3evs8r7CGkPHDe%2F%2BU%3D&st=2017-09-08T19%3A34%3A28.1220310Z&se=2017-10-08T19%3A34%3A28.1220410Z&sp=r

The logs to build those tests are:
https://devdiv.visu

[2017-09-18 20:11] janvorli commented on #23279
I have looked at the artifacts and the corresponding test-runtime-netcoreapp-Linux-Debug-x64.zip  at https://dotnetbuilddrops.blob.core.windows.net/build-32c392f26fb74948ae072f4937abc328/test-runtime-netcoreapp-Linux-Debug-x64.zip?sv=2015-04-05&sr=c&sig=LjYI3MyqpsT63fLLxIxfh9LsVj3evs8r7CGkPHDe%2F%2BU%3D&st=2017-09-08T19%3A34%3A28.1220310Z&se=2017-10-08T19%3A34%3A28.1220410Z&sp=r
is missing the dot

[2017-09-18 20:35] corivera commented on #24120
@geleems  Could this be related to the connection pool fragmentation issue you fixed a while back? https://github.com/dotnet/corefx/commit/4839aaf6dbbf2d453b9c27283325e0df90db5f5d

[2017-09-18 20:36] RussellHaley commented on #1626
I will look at tagging the group.

Here is Mathieu's account. Perhaps a privacy setting?

https://github.com/mprevot

Cheers,

Russ

On Mon, Sep 18, 2017 at 1:01 PM, Karel Zikmund <notifications@github.com>
wrote:

[2017-09-18 20:49] danmosemsft commented on #22791
Thanks @vancem. `Environment.Version` lies as you suspect:
[code]

The UWP test run is to make sure that CoreFX and CoreFX tests continue to work against UWP ready for next time we ship UWP. They are on latest CoreRT and latest CoreFX.

If this test is not expected to work on UWP, we can easily disable it with this attribute on the method or class:
`[SkipOnTargetFramework(TargetFrameworkMonikers.U

[2017-09-18 20:53] poizan42 commented on #24081
open on linux (and I think macOS too) allows O_TRUNC with O_RDONLY while ftruncate will fail in that case, but combining FileMode.Truncate and FileMode.Create with FileAccess.Read is illegal anyways. I cannot find anywhere that anyone has described any semantic differences.

The observable behavior at least differs in that:

1.  It is possible to observe the process having opened the file before t

[2017-09-18 20:55] danmosemsft commented on #22791
This error BTW comes from CoreRT:
https://github.com/dotnet/corert/blob/94744f187ce567c5f1490bfb18491fc54a1c27d7/src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/Statics.cs#L717

I think the action required is to run this locally and dump what the actual type is. Then either make the test stop passing it on UWP, or mark it as the message instructs: `EventDataAttribute`

[2017-09-18 21:11] tijoytom commented on #23434
@danmosemsft @safern
None of the Math.Clamp methods are in CoreRT/N System.Private.CoreLIB. Guess these need to be ported over. Not sure if they were part of NS2.0  , if yes we would have noticed.

[2017-09-18 21:11] janvorli commented on #23279
I have tried to build corefx 2.0.0 locally and the same thing happens - the test runtime folder doesn't contain the dotnet binary and host folder after the build completes. There is no error or warning during the build.

[2017-09-18 21:19] antonfirsov opened #24124 "[Question] What is the most efficient way to read/write `Vector<T>` from/to managed memory?"
I'm optimizing floating-point color conversion methods for the [ImageSharp](https://github.com/SixLabors/ImageSharp) library, using the  .NET Core 1.1 runtime for my experiments.  I have to do several arithmetic operations using SIMD vectors and scatter the elements of the result vectors to different memory locations. I tried two approaches for this:
1. Read the input as `Vector<T>` -> calculate -

[2017-09-18 21:22] AtsushiKan commented on #23654
When can we expect to see this fixed in the master branch? It's getting to be a pain constantly renaming this directory.

[2017-09-18 21:31] danmosemsft commented on #23434
Ah. Clamp is not in NS2.0. This block:
[code]

is getting included in UAP even though the files are named .netcoreapp. It looks like all of these tests are passing (or skipped) on UAP, except for MathTEsts.netcoreapp.cs which is entirely Clamp. That one file needs moving to this block
[code]

[2017-09-18 21:32] adampursley commented on #19627
@weitzhandler
Yeah, agreed that unfortunately we can't assume that values will be provided for those properties by the developer raising the event. I appreciate you giving it some thought.

In fact... I would also suggest that you give some consideration to whether you want to actually update the existing PropertyChangingEventArgs class or to perhaps instead define a new alternative class.

Consid

[2017-09-18 21:33] eerhardt commented on #23654
I was under the assumption that @joperezr was updating the CLI version to `2.0.0`, which would fix this.

/cc @weshaggard

[2017-09-18 21:37] AtsushiKan commented on #23654
Just to be, on current master bits, that little experiment: (run c:\dd\CoreFx\Tools/dotnetcli/dotnet.exe --info from the c:\dd\CoreFx\external\test-runtime working directory) still yields the output:

"Base Path:   C:\Users\atsushik\.dotnet\x64\sdk\2.1.0-preview1-007042\"

I have not re-attempted a build of corefx under this state..

[2017-09-18 21:39] 4creators commented on #23974
IMO property name should better communicate it's information content i.e. `IsNonNullPointer` or `IsNullPointer`. `HasPointer` may equally well mean (semantically) that `MemoryHandle` has pointer which could be null. **Assumption that it is not null is implicit** and not directly communicated by property name. Another issue is whether _non null pointer_ is a _valid pointer_. Non null pointers may p

[2017-09-18 21:42] janvorli commented on #23279
Ok, so the problem is that we don't have runtime.rhel.6-x64.Microsoft.NETCore.DotNetHost and runtime.rhel.6-x64.Microsoft.NETCore.DotNetHostPolicy packages version 2.0.0-preview2-25310-02 on myget. We only have versions 2.1.0 and newer over there. So it is a chicken and egg problem. @weshaggard what would be the best way to solve the issue? Can we build these packages locally and push them to the

[2017-09-18 21:45] weshaggard commented on #23279
@janvorli I think we just need to get this PR https://github.com/dotnet/corefx/pull/23536 into release/2.0.0 branch.

[2017-09-18 22:09] vancem commented on #22791
@brianrob

It does look like a UWP specific product bug.    For what it is worth the classes that the EventCounter emit seem to be decorated with EventDataAttribute.

In the past there was an issue with reflection meta-data being stripped unconditionally for things in the framework (I have forgotten the exact details), which would of course cause grief.   Michal Strehovský should have more details

[2017-09-18 22:15] mellinoe commented on #24124
This line from the first example:

`Vector<float> v = ref Unsafe.As<FooStruct, Vector<float>>(ref fooRef);`

should probably be

`Vector<float> v = Unsafe.As<FooStruct, Vector<float>>(ref fooRef);`

[2017-09-18 22:17] mellinoe commented on #24124
@CarolEidt Do you know how differently the JIT will optimize these patterns? The main pivots seem to be:

* Operating directly on a `ref Vector<T>`  vs. pulling a value into a local and then storing it back out (through a `ref struct`)
* Operating on pointers vs. `ref`s
* `Unsafe.Read/Write` vs. `Unsafe.Read/WriteUnaligned`. I think we always do unaligned reads/writes in our codegen, so this is pr

[2017-09-18 22:24] danmosemsft commented on #24114
Perhaps this category of tests can do retries then?

[2017-09-18 22:25] danmosemsft commented on #24117
@davidsh would you accept a PR if someone wanted to make a customized get hash code for IPAddresses?

[2017-09-18 22:26] davidsh commented on #24114
Yes.  We have the same idea for UDP tests were are unreliable (by-design of UDP).

We want Xunit attributes to help do retries, though, rather than have to code that logic by hand in each test.  Many other test frameworks have attributes to specify retries.

[2017-09-18 22:26] weitzhandler commented on #19627
@karelz
I've updated the [OP](https://github.com/dotnet/corefx/issues/19627#issue-227846040).

---
@adampursley
Obviously this is a good idea and the clear benefit of it is that we don't have to retrieve the values using reflection, but since we can't force devs to provide those values, they might be null of being unset misleading the consumer to think it was set to null.
We could however introduc

[2017-09-18 22:28] davidsh commented on #24117
Yes, assuming there are sufficient tests to validate it especially that it follows the generic rules of what GetHashCode() has to support.

We would also want to see perf results to understand how much "better" it is than we is currently implemented.

[2017-09-18 22:31] weitzhandler commented on #19627
@karelz  @adampursley
I've updated the [OP](https://github.com/dotnet/corefx/issues/19627#issue-227846040).

[2017-09-18 22:40] weitzhandler commented on #21534
I also vote for a central collection `Names` property as @blackstarzes suggested (in ["Proposed API"](https://github.com/dotnet/corefx/issues/21534#issuecomment-321955040)).

[2017-09-18 22:46] weitzhandler opened #24126 "Please introduce a default blank templates for posting issues"
In the [API Review Process / Steps](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps) section, there is a link to a good API proposal example.

It could be a lot easier and more productive to make a default template so that when users create an issue they can choose to fill in the questions or just <kbd>Ctrl</kbd>+<kbd>A</kbd> and start typing to

[2017-09-18 22:58] danmosemsft commented on #22771
@davkean now the IndexOfAny change went in, what else are you looking for here? Do we need a proposal for `Path.ContainsInvalidPathsChars()` ? Or is this tracking code gen improvements, ? Or..

If you need something for your CLI perf I would like to make sure we take a look.

[2017-09-18 22:59] antonfirsov commented on #24124
Fixed my first example, thanks!

[2017-09-18 23:00] davkean commented on #22771
The problem is none of these changes actually affect where we are - .NET Framework.

[2017-09-18 23:02] Priya91 commented on #23770
This is a dupe of #23037

[2017-09-18 23:02] brianrob commented on #22791
@vancem, I know exactly what you're talking about.  For the interim, I've created #24127 to disable the test on UWP.  We probably need to unblock reflection for EventDataAttribute.  I can investigate this further.

[2017-09-18 23:11] joperezr commented on #22979
Just to update, I haven't got a chance to look into this yet, but I will try to check on it this week.

[2017-09-18 23:17] davidsh commented on #23770
Duplicate of #23037.

[2017-09-18 23:17] #23770 closed

[2017-09-18 23:24] ajcvickers commented on #24064
This was closed before I was able to comment on it. (As a note to process, I though area owners were supposed to approve changes...)

My comment from the PR:
This fix seems wrong to me because it changes the behavior when .NET Native is being used such that a nonsensical exception will be thrown which would never be thrown when .NET Native is not being used. These kinds of errors are really hard f

[2017-09-18 23:25] ajcvickers commented on #24064
/cc @divega

[2017-09-18 23:27] ajcvickers commented on #24064
@danmosemsft What's the process to ensure this is re-visited/backed out appropriately?

[2017-09-18 23:32] CarolEidt commented on #24124
- Ideally, pulling a value into a local and then storing it back out should not pessimize code generation.
  - However, it is still the case that the JIT may introduce extraneous copies in some cases.
  - That said, if you are going to use the vector multiple times, and you have other writes to non-stack memory in-between uses, you are better off putting it in a local so that the JIT doesn't think

[2017-09-18 23:36] shmao commented on #24049
I was able to repro the issue on my ubuntu machine. This seems like a issue with the CLI tools for the tests. In my experiments, the following command **worked**,
[code]
The following command **failed**,
[code]

The only difference between the above two commands was that the first one use the `dotnet` tool from **Debug** testhost while the second one use the one from **Release** folder.

The Debug

[2017-09-18 23:39] Priya91 commented on #23037
@bartonjs You've addressed this bug in the issue #9244, it seems to happen again on same debian OS, sometimes the cert error is given as NotSignatureValid instead of PartialChain. Since you've already investigated this before, is this expected?

[2017-09-18 23:59] bartonjs commented on #23037
`NotSignatureValid` definitely isn't expected.  If you're pretty sure that there's not a tampered certificate involved here then the only problem I can think of (having re-read what happened in the other issue) is that there are two certs with the same "match criteria" but different public keys.  We may be testing with the wrong public key first, to which OpenSSL reports to us that using this cert

[2017-09-19 00:31] danmosemsft commented on #22979
Thanks @joperezr !
cc @safern

[2017-09-19 00:32] #23434 closed

[2017-09-19 00:45] #23605 closed

[2017-09-19 01:32] antonfirsov commented on #24124
I managed to turn my some of my cases [into microbenchmarks](https://github.com/antonfirsov/BenchmarkingExperiments/blob/master/BenchmarkRunner/FetchVectors.cs), and by running them it looks like there is no real difference.

There must be some other weakness in my original color conversion code. Will come back, and leave my notes here, as soon as I manage to figure it out.

[2017-09-19 01:33] Jiayili1 commented on #22316
Now it fails: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_release/173/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_ServerCertificates_Test/NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-09-19 01:39] Jiayili1 opened #24133 "System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ServerCertificates_Test.NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds failed with "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException" in CI"
Failed test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_ServerCertificates_Test.NoCallback_RevokedCertificate_NoRevocationChecking_Succeeds

Configuration: OuterLoop_netcoreapp_fedora24_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_release/173/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpClientHandler_Ser

[2017-09-19 02:11] ahsonkhan commented on #24103
@ektrah, what is the value of having the following:
[code]

Also, there is no way to distinguish between scenario A & E based on the output of Overlaps (from your design) but I don't think we need to.
@nietras, if Overlaps returns false, does it ever matter if it is because of scenario A instead of E and vice versa?

Regarding:

Can you please provide an example where we would throw an exception?

[2017-09-19 02:36] danmosemsft commented on #24126
Interesting idea. It would be helpful to have a template for API proposals, but it would show up when opening any issue. And I think we are doing OK without having a template for regular issues -- we usually don't need information like product version, and many issues don't need repro steps.
@karelz  ?

[2017-09-19 02:43] stephentoub commented on #24126
We had both PR and issue templates.  We removed them: https://github.com/dotnet/corefx/pull/6474.

[2017-09-19 02:47] weitzhandler commented on #24126
I'm closing this issue then.
Sorry I missed that PR, and thank ya'll.

[2017-09-19 02:47] #24126 closed

[2017-09-19 02:50] weitzhandler commented on #6471
It would be best to have a page containing raw markdown templates for various issue types, such as bug reports and API change proposals.

[2017-09-19 03:01] danmosemsft commented on #24064
@ajcvickers I can fix this /revert it tomorrow.

[2017-09-19 03:03] danmosemsft commented on #24117
@i3arnon are you interested in throwing up a PR, to trigger discussion, with some measurements? Benchmark.NEt seems generally used.

[2017-09-19 03:04] danmosemsft commented on #6471
@karelz

[2017-09-19 03:09] lextm opened #24135 "BadImageFormatException with Span<T> with xUnit.net"
`Span<T>` has been so special, that a strange runtime exception can occur. Reported to xUnit.net already, https://github.com/xunit/xunit/issues/1457 but not sure if the issue is merely caused by xUnit.net. I hope a better exception as well as more meaningful call stack can be thrown if possible.

[2017-09-19 03:46] ahsonkhan commented on #23862
I have added the following extension methods (analogous methods exist for Span) to the proposal for review:
[code]

The same issue occurs for Span to ReadOnlySpan (since only an implicit conversion is available). Can you please file a separate issue regarding this for both types?
Would an explicit conversion instance method from Memory to ReadOnlyMemory, i.e. `ReadOnlyMemory<T> AsReadOnlyMemory()`

[2017-09-19 03:50] Jiayili1 commented on #21037
This test failed with same issue: System.Net.Sockets.Tests.SendPacketsAsync/BufferZeroCount_Ignored(type: APM)

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170918.03/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendPacketsAsync~2FBufferZeroCount_Ignored(type:%20APM)

[2017-09-19 03:54] Jiayili1 opened #24136 "UWP F5 Tests (Master): All work items have fireball issue"
UWP F5 Tests (Master): All work items have fireball issue

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170918.03

Almost failed on **Windows.10.Amd64.ClientRS3-x64**

[2017-09-19 03:59] dotnet-mc-bot opened #24137 "[UWP] Test: System.Net.Http.Functional.Tests.CancellationTest / ReadAsStreamAsync_ReadAsync_Cancel_TaskCanceledQuickly"
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.CancellationTest/ReadAsStreamAsync_ReadAsync_Cancel_TaskCanceledQuickly(startResponseBody: True)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.OperationCanceledException)\r
    Actual:   typeof(System.IO.IOException): Exception from HRESULT: 0x80072EF1

        Stack Trace:

           at System.Runtime

[2017-09-19 04:01] Jiayili1 commented on #9228
Following test failed in UWP ILC tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170918.03/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FGetAsync_TrailingHeaders_Ignored(includeTrailerHeader:%20False)

Message:
System.Net.Http.HttpRequestExcept

[2017-09-19 04:06] Jiayili1 commented on #22635
This test: System.Net.WebSockets.Client.Tests.AbortTest/ClientWebSocket_Abort_CloseOutputAsync
failed with same issue.

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170918.03/workItem/System.Net.WebSockets.Client.Tests/analysis/xunit/System.Net.WebSockets.Client.Tests.AbortTest~2FClientWebSocket_Abort_Clo

[2017-09-19 06:37] YongseopKim opened #24138 "Needs to check corefx-utcs consider some situations when they are native images made by using crossgen"
I've recently tested coreclr/corefx utcs which are native images made by using crossgen `FNV` or `R2R`. I found some problems. I need to get feedback from you by sharing this.

One of them is `System.Reflection.Tests.ModuleTests.Name`.
[code]

Code of `System.Reflection.Tests.ModuleTests.Name`.
[code]

When the tc is a native image, the `Module.Name` is `System.Runtime.Tests.ni.dll` while the expe

[2017-09-19 06:41] davidkaya opened #24139 "WinHttpException: Not enough storage is available to process this command"
Hello,

I have an ASP.Net Core 2.0 server (Kestrel) on Windows Server 2016 [Standard D2s v3 (2 vcpus, 8 GB memory)] in Azure. I am trying to load test an endpoint which just sends 2 "get" and 2 "post" http requests to NoSQL database.

For load testing I use https://github.com/tsenart/vegeta from 3 computers. Throughput was approximately 15.000 rpm.

Approximately every minute it throws a lot of th

[2017-09-19 06:48] YongseopKim commented on #24138
Failed TCs when they are native images and trying loading themselves. (Some of them can be passed if they are native image made by crossgin with `R2R`. I don't know exactly, `FNV(FragileNonVersionable)` NI File cannot be loaded directly. It causes `System.BadImageFormatException : Bad IL format`. Anyway, it doesn't matter that it is `FNV` or `R2R`. The important thing is that tcs don't consider ni

[2017-09-19 08:51] davidkaya commented on #24139
And this is the same application on Ubuntu 16.04LTS
![screen shot 2017-09-19 at 10 51 32](https://user-images.githubusercontent.com/3832960/30583922-8cddd9c6-9d28-11e7-855a-7ddf6d8ea550.png)

[2017-09-19 12:46] chuckb opened #24142 "Multi-threaded TopicSession use on OSX causes unmanaged "pointer being freed was not allocated" error"
This issue was filed [here](https://github.com/Azure/azure-service-bus-dotnet/issues/306) but recommended that I file here.  I am making use of the Azure service bus client lib on OSX.  When I receive messages from a topic subscription that are a part of a session (~300 sessions with 1-5 messages per session), and do so in parallel, I consistently (but in random locations) get an unmanaged "pointe

[2017-09-19 14:28] stephentoub commented on #24135
https://github.com/xunit/xunit/issues/1457#issuecomment-330546584

[2017-09-19 14:31] ektrah commented on #24103
You don't have to type `, out _` if you don't need the second `out` parameter.

I don't have a strong opinion if this overload should be there or not. Since `endDifference` can be easily computed from `startDifference` and the span lengths, the overload with `out endDifference` may actually not be strictly necessary.

If the spans overlap, then it's reasonable to assume that the spans refer to the

[2017-09-19 14:31] stephentoub commented on #22377
The ctor, TryWriteBytes, and TryFormat are done.

[2017-09-19 14:41] logankp opened #24143 "Allow receiving a Socket from a file handle"
It would be nice to have the ability to receive a socket from a file handle and be able to call Accept() on it. This is useful to enable functionality like [systemd socket activation](http://0pointer.de/blog/projects/socket-activation.html).

Ex.
[code]

[2017-09-19 14:47] i3arnon commented on #24117
@danmosemsft I am. I'll start working on it in a couple of days.

[2017-09-19 14:47] stephentoub commented on #24143
Dup of https://github.com/dotnet/corefx/issues/14041?

[2017-09-19 14:56] davidsh commented on #24139
In order to diagnose this, we need a way to repro this.  It sounds like HttpClient is being called from your Kestrel server in reaction to clients accessing Kestrel?  Please post the full Visual Studio solution to the Kestrel server and a way for us to repro this.

[2017-09-19 15:05] kazantsev-nikita commented on #23605
@tarekgh Hello! Where can I download fix for Domain type PrincipalContext instantiating? [This one](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.DirectoryServices.AccountManagement) is too old.

[2017-09-19 15:10] desmondgc commented on #24018
Thank you for clarifying. After reading dotnet/standard#481 I have a better understanding of what's happening under the hood. We were in a precarious situation because we were relying on ClickOnce "publish" functionality in Visual Studio which adds some additional hurdles with respect to .NET Standard. One of our DevOps guys was able to rejig our build process to do all the ClickOnce packaging man

[2017-09-19 15:10] #24018 closed

[2017-09-19 15:31] KrzysztofCwalina opened #24144 "Add Span<T> Binary Reader/Writer APIs"
The API allows for reading and writing binary representation of primitve types (bit blitting) from/to spans of bytes. The API is used by SignalR.

A prototype of the API is available in corfxlab: https://github.com/dotnet/corefxlab/tree/master/src/System.Binary

Part of #24174

Usage is quite simple:
[code]

The LittleEndian and BigEndian versions assume/specify specific endianness. The Write/Read

[2017-09-19 15:43] karelz commented on #24126
We should not hijack old existing issues for discussion. If you need a discussion, we should have it here (feel free to reopen).

In ideal world, we would have templates. I would create them once we have proper clear guidance on contributions (it is still under construction in wiki), esp. issue types, etc. We can then put there links to the docs.
As @danmosemsft suggested we are mostly fine now, s

[2017-09-19 16:23] danmosemsft commented on #23605
@kazantsev-nikita since yesterday our build system is down and this is being worked on. I would expect this to automatically go to myget when it's up. That doesn't explain why there was no update to the package since the 7th. We certainly had builds since then. @tarekgh any idea about that?

[2017-09-19 16:25] tarekgh commented on #23605
I'll check why we didn't have build for these packages since Sept 7th.

@kazantsev-nikita the fix I did will show at https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.DirectoryServices.Protocols when our builds succeed.

[2017-09-19 16:37] tarekgh commented on #23605
@danmosemsft we already have packages published today. you may look at the version 4.5.0-preview1-25718-03 of the package. note that the list in myget is not sorted by publishing date so you have to scroll down to see such package.

I am not expecting my fix will show in the latest published package though. I think tomorrow's one would be.

[2017-09-19 16:40] danmosemsft opened #24145 "Consider Span<char> overloads on Regex classes"
Right now System.Text.RegularExpression.* only works against strings. Matching against buffers requires a string be created from the buffer. That string might not be needed again (especially if there's no match).

Motivating example: a grep tool that enumerates files in a directory tree, and scans their content against a pattern. It should not need to create strings except when a line in the buffe

[2017-09-19 16:57] danmosemsft commented on #24136
@safern

[2017-09-19 17:18] karelz commented on #21055
API approved as described in top post.
For future, please put there full formal proposal - we had to fish out motivation and reasons from the thread :)

[2017-09-19 17:19] karelz commented on #21055
Should be fairly straightforward (adding new public API is the most complex part). Anyone wants to pick it up?

[2017-09-19 17:28] safern commented on #24136
My initial thought about this is that when restoring the nuget package it took the latest published package rather than the specified in the dependencies proj. Will have to investigate further. Because I haven't merged any change to consume the latest package yet.

[2017-09-19 17:36] karelz commented on #19928
API review: (channeling @KrzysztofCwalina's insights from history)
Historically, we used `Try*` only for perf reasons. This is likely not the case here (opening assembly hits disk already), so exception is small contributor. @ericstj can you please confirm it is not perf? (having some data would help)

If it is syntax of exception handling, we should talk to Roslyn team.
If it is about debuggabili

[2017-09-19 18:14] karelz commented on #16428
API review:

We removed few methods after discussion. We suggest to move them into separate library and experiment.

[code]

[2017-09-19 18:31] ericstj commented on #19928
Primary driver was debuggability.  Current API will result in an exception even in the normal case.

See https://github.com/dotnet/standard/issues/326  /cc @KirillOsenkov to add his opinion.

Note that `Try` isn't a requirement in the method name.  We could just as well have a different method name that returns null instead of an AssemblyName (as Ati suggested).  We don't want the existing API to

[2017-09-19 19:01] weshaggard commented on #24144
Api review feedback:

TryReadBigEndiann -> TryReadBigEndian

- The T should be constrained to blittable types, currently the compiler doesn't support that so it will throw in cases it cannot support.
- BigEndian/LittleEndian the T should be constrained to our single value primitive types, perhaps just use an overload for each of those instead of a T.
- Consider making the Read/Write Apis use the d

[2017-09-19 19:16] stephentoub commented on #24144
Additional questions:
- We've been calling things TryWriteBytes, but here it's just TryWrite.  Is there a reason for the difference?  Should we rename TryWriteBytes -> TryWrite or TryWrite -> TryWriteBytes?
- What is the behavior of the non-Try Read/Write... do they throw in cases where the Try would return false?

[2017-09-19 19:29] geleems opened #24148 "2nd connection to mirrored server with timeout==0 hangs forever."
Customer reported a bug for hanging connection to mirrored SQL Server. When customer creates and opens ***2 connections*** one after another to ***mirrored server*** with ***connection timeout set to 0***, the 2nd connection hangs infinitely.

[2017-09-19 19:40] norek commented on #20711
How nice, a lot of work was made since my "vacation". I just bought new computer and i'm ready to go!

[2017-09-19 19:48] geleems commented on #24148
# Why does the 2nd connection hang?
The issue happened because Native SNI does not provide session handle, and just returns null. Here is the reason. After debugging, I noticed `timeout==0` value is handed over to Native SNI. `timeout==0` means “infinity for connection time” in SqlClient side. But in Native SNI, `timeout==0` means 'No time remained for connection time'. `timeout==-1` is recognized

[2017-09-19 20:00] kingces95 commented on #23992
Woot! Everything is fixed!

![image](https://user-images.githubusercontent.com/4120386/30612657-4eadeaa8-9d53-11e7-8ea5-7e2eb83d739a.png)

@mellinoe I'd close this issue out except I'm not sure which changed fixed the drawing issue so I'm not sure if it's actually fixed or just a sporadic error and I happened to get lucky this time.

[2017-09-19 20:13] ajcvickers commented on #24064
I chatted with @divega and we think a way forward is:
* Keep the try-catch in the code for TypeAccessException
* If it is thrown, then throw a wrapping exception with text somewhat like the following:

This covers the case where the Count property is just not there, and also the case where it is there, but has been compiled out. Hopefully the guidance in the inner exception will be enough to have

[2017-09-19 20:26] danmosemsft commented on #24064
@ajcvickers seems fine to me.
@weitzhandler let me know if you'd rather us take over since you didn't expect to get stuck in the UWP weeds with your original change.

[2017-09-19 20:41] gimpf commented on #14354
Don't know how much it's relevant to corefx, but I've added LegacyJit 32bit (w/FW 4.7) results.

I'd like to say that the results are ludicrously slow. However, as an example, at 56 MiB/s vs. 319 MiB/s I'm not laughing (that's Sip, it's missing the rotate-left optimization the most). I think I remember why I canceled my .NET hash-algorithm project in January...

So, RyuJit-32bit is still missing,

[2017-09-19 20:52] tannergooding commented on #14354
I'm going to run the benchmarks on a few of my boxes tonight and post results (Ryzen, i7, Xeon, A10, i7 Mobile, and I think a couple others).

[2017-09-19 20:59] KirillOsenkov commented on #19928
Yes, debuggability is really bad. I think we should rethink the approach of not having Try methods just because they let us avoid a first-chance exception.

I should write a blog post about first-chance exceptions, a lot of people don't realize a few important things there. Basically in a codebase where you're disciplined about first-chance exceptions there's a magnificent way to find hidden bugs

[2017-09-19 20:59] stephentoub commented on #24142
You're not using the same instance from multiple threads concurrently though, right?  SslStream has checks that should thwart such usage, so presumably each stream is being used independently and by only a single thread at a time?

[2017-09-19 21:06] ericstj commented on #24090
The loader policy right now is dumb: if an assembly is in the app it is preferred.  Essentially the host was pushing the version resolution into the build.

When you run on a different framework than you've built against you invalidate that assumption.  If you want to make it work again you've got to replay what's happening at build at runtime (conflict resolution).

[2017-09-19 21:07] stephentoub opened #24153 "Perf tests are broken when run from project test directory"
I'm trying to build and run the System.Collections perf tests.  Following the instructions at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md, I did a:
[code]
from the root of my repo, and then from `src\System.Collections\tests\Performance` did:
[code]
and I get the error:
[code]

[2017-09-19 21:29] joperezr commented on #23654
Correct, I'm planning to do this either next week or the next. It is the next workitem once I'm done updating the compiler used in all of our repos.

[2017-09-19 21:32] mellinoe commented on #23992
@kingces95 Glad to hear it! Drawing was fixed by https://github.com/dotnet/corefx/pull/24009 and https://github.com/dotnet/corefx/pull/24097. The problem in both is that the tests were making assumptions about what kind of printer you had installed, basically, and would fail if something was different than expected.

[2017-09-19 21:33] #23992 closed

[2017-09-19 21:34] chuckb commented on #24142
The client library abstracts away all the transport junk.

I have attempted to abbreviate my code to the relevant bits for illustration:

[code]

[2017-09-19 21:42] weitzhandler commented on #24126
Thanks for your response.
Anyway looks like the subject has its conclusions, so I'm keeping this issue closed.
Any member can open it if or when there is a demand.

[2017-09-19 21:58] weitzhandler opened #24156 "Have HashSet<T> implement ICollection"
### Motive

The `ICollection` (non-generic) interface, is a pathway to getting the `Count` property of a collection in a non-generic way. This is very common in converters or some other types that take in any object and has to deal with it differently if it's a collection.

Most common collections in .NET (`List<T>`, `Dictionary<TKey, TValue>`, `Collection<T>`, also implement `ICollection`, so it

[2017-09-19 22:03] Priya91 commented on #23037
Shared repro details offline..

[2017-09-19 22:03] sharwell commented on #24156
⚠️ This would break cases where a user defines an extension method for both `ICollection<T>` and `ICollection`, but fails to specialize the operation for `HashSet<T>`.

[2017-09-19 22:23] weitzhandler commented on #24064
OK checkout https://github.com/dotnet/corefx/pull/24157/commits/476c149c6c09d0c54196484f6c3f1fe7d9971792 (in #24157).

Anyway, I left the attribute-name from @ajcvickers [comment](https://github.com/dotnet/corefx/issues/24064#issuecomment-330659894) non-dynamic to spare a bit of perf getting their names and passing it. Instead I included both names, please check out my commit.

[2017-09-19 22:26] weitzhandler commented on #24156
@sharwell You mean as opposed to `List<T>` that can contain duplicates?

[2017-09-19 22:30] ericstj commented on #24108
I was able to reproduce it.

Interestingly the conflict doesn't actually exist in the output of RAR, but it does exist in some of the files that RAR considers along the way.

On incremental build RAR is considering (but ultimately rejecting) a System.Core.dll from the output directory rather than from the Portable.Compatibilty package.  The one in the output directory references the runtime versio

[2017-09-19 22:32] weitzhandler commented on #10752
In [my implementation](https://github.com/dotnet/corefx/compare/master...weitzhandler:observable-range-collection) I added the following features:

- Collection avoids raising notifications and events when unnecessary and avoids redundant actions, here's a couple of examples
  - Clearing collection when already empty
  - Added range is an empty collection
- The following methods:
  - `public void

[2017-09-19 22:36] safern commented on #24136
fixed by my buildtools rollback. I can see it in the current build that is now running.

[2017-09-19 22:36] #24136 closed

[2017-09-19 22:36] svick commented on #24144
I'm concerned that a common mistake will be to try to use this API to write multiple values to a single `Span<byte>` like this:

[code]

Similar code works for other `Write` methods in the framework (including `BinaryWriter`, `Stream` and `TextWriter`). Is there a way to change the API so that this mistake is avoided? (Maybe by using a different name?)

Also, how should that code be written correc

[2017-09-19 22:41] ericstj commented on #23807
I've started working on this.

Buildtools task is here:
https://github.com/ericstj/buildtools/commit/5d83d87bdafaa015689838a90c2f27876726f9f9

Sample consumption in corefx is here (WIP):
https://github.com/ericstj/corefx/commit/eeccb107b01f332448fc7bb6b6493e771173ab52

I wanted to check in generated runtime.json so we have visibility into what the generator is doing.

I'm very surprised by the num

[2017-09-19 23:53] Priya91 commented on #23731
Looked at this, it seems like openssl doesn't send the server name extension automatically, it gets sent only if configured with -servername option or by using SSL_set_tlsext_host_name in c apis. Will put up a PR to default send sni extension. This is anyways work in pending.

[2017-09-20 00:57] roller commented on #8951
I had this issue on debian stretch, gdb showed a segfault in  /usr/lib/x86_64-linux-gnu/libcrypto.so.1.0.0.

`dpkg -S /usr/lib/x86_64-linux-gnu/libcrypto.so.1.0.0` showed that `libssl1.0.0` was the installed package.  Apparently this is due to not removing obsolete packages such as php5-cli and postgresql-9.4.

After `sudo apt remove libssl1.0.0` it works!

[2017-09-20 00:59] jkotas commented on #24144
Why is System.Buffers and not System.Memory where Span and friends live?

+1

[2017-09-20 01:43] ahsonkhan commented on #24144
This was brought up in the review. The rationale is that we only have the span/memory primitive type and APIs/extension methods closely related to them in System.Memory (IndexOf, AsBytes, etc). Operations like Read/Write, transformation APIs like text encode, and text parse/format would live in System.Buffers.

Yes.

Yes. Is there any concerns with that?

One approach could be to remain consistent

[2017-09-20 01:57] Priya91 commented on #23177
Update: We should make the checkCertificateRevocation setting on the options bag to be an enum. As it's not extensible for future design. Say, we decide to add a new certificate revocation enum, now the user can set conflicting values through these different settings and we will have to obsolete the bool value. So it makes sense to add the enum now on the options bag.

Change this,

[code]

to,

[

[2017-09-20 02:02] KrzysztofCwalina commented on #19928
The .NET platform was designed in a way that it does not play along with first change exceptions debugging. The technique works in C++ because of a completely different philosophy for the design of error reporting (more error codes).

I am skeptical that we can make it first chance exceptions friendly 20 years after it was conceived. Every now and there there are people who push for various local

[2017-09-20 02:22] jkotas commented on #24144
Well, it is more complex than for .NET Core: Span/Memory primitive types are in System.Runtime, SpanExtension are in System.Memory, and now you are proposing to add extension methods to read/write bytes from Span to System.Buffers that has nothing to do with Span so far. It feels like we are trying to overthink the layering again. It has been proven that we do not know how to do that well. We shou

[2017-09-20 02:24] mfeingol commented on #24108
Thanks for chasing this one down, @ericstj! Glad it's just cosmetic and doesn't imply something dire for my app. :-)

I was a little scared to touch AssemblySearchPaths, so I guess I'm okay living with the warning for now. Hopefully this will be fixed in a future VS release?

[2017-09-20 02:25] davidfowl commented on #24144
I think we should remove the generics and instead have the type being written in the method name e.g.

`span.ReadInt32()`
`span.TryReadInt32()`

It's too easy to mess up the generic method. Here's some MQTT parser code using these APIs:

https://github.com/aspnet/SignalR/blob/6151af7e2610d422bba2097c8326de7e5d545803/samples/SocketsSample/EndPoints/MqttEndPoint.cs#L48-L59

[2017-09-20 02:25] Jiayili1 commented on #23877
This issue is repro in ubuntu16.04_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu16.04_release/4142/

[2017-09-20 02:28] Jiayili1 commented on #20223
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/257/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_Success_type__Async_/

[2017-09-20 02:31] Jiayili1 opened #24159 "Test: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.ValidArgumentCombinationsWithPath_ModesOpenOrCreate failed with "System.IO.IOException""
Failed test: System.IO.MemoryMappedFiles.Tests.MemoryMappedFileTests_CreateFromFile.ValidArgumentCombinationsWithPath_ModesOpenOrCreate

Configuration: outerloop_netcoreapp_win7_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/252/testReport/System.IO.MemoryMappedFiles.Tests/MemoryMappedFileTests_CreateFromFile/ValidArgumentCombinationsWithPath

[2017-09-20 02:44] DaleKBurrell commented on #23229
I am getting a similar issue with a web application project when I try and do a release build - but strangely not when I do a debug build. I've tried the various fixes listed above with no joy. Any suggestions?
An attempt was made to load an assembly with an incorrect format: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\ref\n

[2017-09-20 02:55] davkean commented on #19928
@KrzysztofCwalina But you can move the platform forward by adding non-throwing versions of APIs - and new consumers will use them by default, and existing consumers will change to use as they churn those areas. No difference from having int.Parse in v1 and adding TryParse in future versions.

This doesn't match my recollection, nor past usage, here's a couple of examples:

https://docs.microsoft.c

[2017-09-20 03:08] nguerrera commented on #19928
IMHO, this catching bugs is indicative of catching all exceptions way too aggressively. Sadly, most programs are very, very guilty of that.

But I do think it's fine to offer non-throwing alternatives as a debugging aid and not just for perf.

[2017-09-20 03:11] davkean commented on #19928
Another example is the `CanXXX`, `SupportsXXX` light-up APIs vs. catching `InvalidOperationException`.

[2017-09-20 03:39] stephentoub commented on #24153
cc: @mellinoe, this is the issue I mentioned to you.

[2017-09-20 03:59] Merurino commented on #2949
Hello, I just want to clarify if this is not working in .net core 2.0.
I ask because someone answered this in SO by pointing this documentation https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transactionscope?view=netcore-2.0

But even after upgrading my core 1.0 project to 2.0 I still can't use TransactionScope. I am a bit lost with all the issues opened (quite old ones) so just w

[2017-09-20 04:03] agocke commented on #19928
I think it's important to note that the goal is not to eliminate exception, it's to eliminate exceptions on non-exceptional control paths. If a call is expected, and allowed, to fail, it would be far better to utilize some other error mechanism.

[2017-09-20 04:31] mellinoe commented on #24153
I talked with @DrewScoggins about this a little bit at the end of the day. The tests work if you run them with the root script, but not if you use the command above. The CI tests use this command line, which Drew and I were able to use successfully:

`build-managed.cmd -release -tests -- /p:Performance=true /p:TargetOS=${osGroup} /m:1`

This is obviously not ideal (or even workable, really), consi

[2017-09-20 04:37] mguinness opened #24160 "Support folder names ending with a period?"
I have an issue related to Windows folder names that end with a period.  In my case this was caused by a cloud storage desktop sync application where creating folders in the cloud like "Some Corp Ltd." is possible.

Since there was already work done to support long filenames in .NET Core (see https://github.com/dotnet/corefx/issues/645) I thought it might be feasible that this issue might be addre

[2017-09-20 04:51] KirillOsenkov commented on #19928
Exactly. It's about non-avoidable exceptions vs. easily avoidable exceptions. I only want to reduce the easily avoidable exceptions like when Guid.TryParse was added to complement Guid.Parse.

[2017-09-20 05:11] weitzhandler opened #24161 "Please implement SymmetricExceptWith in LINQ"
## Motive

`HashSet<T>` provides a wonderful method that allows getting the [symmetric difference](https://en.wikipedia.org/wiki/Symmetric_difference) of two collections, that is, only the values that exists in either one of the collections, but not in both.

## Use case
Imagine you have an existing store entity and a client entity that just came in to be saved.
The entity has a collection of rela

[2017-09-20 05:33] UweKeim commented on #23229
@DaleKBurrell Did you try [the steps I summarized](https://github.com/dotnet/corefx/issues/23229#issuecomment-322968208)?

[2017-09-20 06:08] DaleKBurrell commented on #23229
Sure did - but I found the cause and added it as an edit to my original comment. Thanks for replying.

[2017-09-20 06:20] Jiayili1 commented on #24000
Now it failed with "Xunit.Sdk.TrueException", detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170920.02/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.NegotiateStreamTest~2FNegotiateStream_EchoServer_ClientWriteRead_Successive_Async_Success

The test `System.Net.Security.Tests.NegotiateStr

[2017-09-20 06:26] Jiayili1 commented on #23535
Test: System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom/ReceiveFromV6BoundToSpecificV6_Success
failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170920.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectionlessReceiveFrom~2FReceiveFromV6BoundToSpe

[2017-09-20 06:27] Jiayili1 commented on #21037
Test:  System.Net.Sockets.Tests.DualModeConnectToIPEndPoint/ConnectV6IPEndPointToDualHost_Success
failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170920.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.DualModeConnectToIPEndPoint~2FConnectV6IPEndPointToDualHost_Succe

[2017-09-20 06:45] Jiayili1 commented on #23431
This issue is still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170920.02/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.DecimalTests~2FParse_Invalid(value:%20null,%20style:%20Float,%20provider:%20null,%20exceptionType:%20typeof(System.ArgumentNullException))

[2017-09-20 06:56] Cologler opened #24162 "Problem on `string.Split`"
I doubt that this is not the expected behavior:

[code]

[2017-09-20 07:08] #24162 closed

[2017-09-20 07:45] ahsonkhan commented on #24144
We could change them so they are no longer extension methods on Span (and take Span as a parameter, similar to the other System.Text.Primitive APIs for example `bool TryParseBoolean(ReadOnlySpan<byte> text, out bool value)`). However, in that case, a short name like Binary would be preferable over something like SpanBinaryExtensions.
Used like:
[code]

[2017-09-20 08:01] davidfowl commented on #24144
Also this problem that @svick brings up is another big usability issue with these APIs and span:

Since the early days of pipelines and span @benaadams, @Drawaes, @mgravell and I have been discussing this scenario. We should also think about a mutable ref like struct that moves forward as the data is written.

[code]

[2017-09-20 08:11] Drawaes commented on #24144
Funny over the last couple of days I have been writing a fast PE/IL rewriter and while the code is dogs breakfast due to me deep diving the topic I have had to write exactly those methods again.

https://github.com/Drawaes/dotnetXperiments/blob/master/PEQuick/PEQuick/MetaData/MetaDataReader.cs#L60

A struct wrapper for a span. And then extension methods that read from (to be replaced with your met

[2017-09-20 08:49] davidfowl commented on #21537
27 days have passed 😄

[2017-09-20 10:07] ShalokShalom commented on #9855
For when is OpenSSL 1.1 support planned now? It open in the wild for one year.

[2017-09-20 10:52] Thaina opened #24165 "Should we allow multiply TimeSpan with number?"
Instead of

[code]

If we could multiply TimeSpan with number it would be easier

[code]

[2017-09-20 11:32] stephentoub commented on #21537
@karelz, this is the one I asked we ensure we get to in the review yesterday.

[2017-09-20 11:44] JonHanna commented on #24165
.NET Core already has this. #16475
(I like the idea that a day, 14 hours, 49 minutes and 58.137 seconds is a *golden day* 😄).

[2017-09-20 11:48] JonHanna commented on #24165
Incidentally, one can also now divide `TimeSpan`s by `TimeSpan`s. `TimeSpan.FromDays(1) / TimeSpan.FromHours(1)` returns 24.0, and so on.

[2017-09-20 12:02] stephentoub commented on #24144
We'd discussed a number of similar concerns yesterday as well:
- Generically reading `T` is problematic, especially when talking about reading big/little endian, as that's likely not what's going to do the intended operation for anything but int/long/etc., e.g. Guid would be incorrect.
- Especially as extension methods, Write/Read look like they advance but don't.
- We have these basic read/write

[2017-09-20 12:08] stephentoub commented on #24153
Thanks, @mellinoe and @DrewScoggins.

Yeah, this isn't viable.  That's fine for doing a full run to see where we currently stand, but it essentially prohibits writing any new performance tests.
cc: @danmosemsft

[2017-09-20 12:26] Drawaes commented on #24144
That works except when I need to read an int24 ;)

[2017-09-20 13:29] jeremyVignelles commented on #8526
One month and a half later, I totally forgot about this and tried to clean up my code by removing that weird "//TODO:" (I should have written a meaningful message back then). I faced the same issue and after some search, I went back here again.

Isn't there any workaround for the use case mentionned above?

[2017-09-20 13:38] hughbe opened #24167 "HatchStyle.Max is incorrect"
In the docs for HatchStyle, `HatchStyle.Max` is documented as "Specifies hatch style SolidDiamond."
https://msdn.microsoft.com/en-us/library/system.drawing.drawing2d.hatchstyle(v=vs.110).aspx

However, in [corefx](https://github.com/dotnet/corefx/blob/c0f506dc24f9c682fd69441b4fb3259b1a5f55d3/src/System.Drawing.Common/src/System/Drawing/Drawing2D/HatchStyle.cs#L65), it is defined as `LargeGrid`

Is

[2017-09-20 14:05] kazantsev-nikita commented on #23605
@danmosemsft are there any predictions when build system will work?

[2017-09-20 15:34] KrzysztofCwalina commented on #19928
It's like the 10th time we are rehashing this. It always ends with people proposing the mythical "exceptional condition" and then not being able to define what it means. The reason is that whether some error is exceptional or not depends on the call site, not on the API being called. parsing a literal int is very different than parsing an int from a file, yet these two operations use the same API.

[2017-09-20 15:36] anurse commented on #21537
I was going to ping it but @davidfowl beat me to it ;). Hopefully it's a pretty straightforward review since it's a single API. Let me know if you need any help from us to get things moving.

[2017-09-20 15:37] anurse commented on #21537
One data point to add in: Our desire is to have a single `netstandard` API to do this. It can use native light-up on Windows 8+, but we'd want Windows 7 and non-Windows supported as well via the managed implementation. To be honest, I don't think we'd mind if it just uses the managed implementation everywhere (cc @davidfowl on that statement)

[2017-09-20 15:44] karelz commented on #24165
Duplicate of #7175

[2017-09-20 15:44] #24165 closed

[2017-09-20 15:54] karelz commented on #24135
We can use this issue to track better exception at runtime when it happens - see https://github.com/xunit/xunit/issues/1457#issuecomment-330795410

[2017-09-20 16:05] KrzysztofCwalina commented on #24144
I like the idea or span reader/writer, but I think it should be added in addition, not instead of the proposed APIs. the reader/writer is a necessarily more heavy API.

[2017-09-20 16:09] karelz commented on #24081
@poizan42 I assume you grabbed this issue. Once you accept collaborator invite, please let me know and I will assign it to you. (assigning to myself as temporary solution)

[2017-09-20 16:24] stephentoub commented on #24144
Why?  It sounds like the reader/writer support is the more common need (to avoid needing to manually slice), and if you really do want the individual operation, you can do:
[code]
instead of:
[code]
which is barely more characters and saves doubling the number of methods we need to expose, including those that duplicate BitConverter functionality.

[2017-09-20 16:25] RehanSaeed opened #24169 ".NET Core Version of System.Web.UI.HtmlTextWriter"
Does such a thing exist? What is the alternative? I'm using this type to do XSL transforms like so:

[code]

[EDIT] Add C# syntax highlighting by @karelz

[2017-09-20 16:28] stephentoub commented on #21537
My plan is that it's purely a managed implementation.  I'd want to see data / strong arguments to do otherwise.

[2017-09-20 16:31] benaadams commented on #24144
I've recently become a fan of... "working" with the interesting things the type system + Jit does so I'd go for something more like:
[code]

[2017-09-20 16:33] KirillOsenkov commented on #19928
Keep in mind, I'm not advocating for error codes, heaven forbid. I'm not advocating for anything drastic.

All I'm saying is that when we introduced Guid.TryParse, it was a wonderful thing, it was the right thing to do, and when VS switched to using it in a few places it was a significant improvement in the quality of life of people debugging. Every little bit helps. It's OK that the old APIs stay

[2017-09-20 16:36] benaadams commented on #24144
[code]
Types being structs should compile it to an optimized method for that Endianness

Usage
[code]

[2017-09-20 16:46] benaadams commented on #24144
Assuming `BitConverter.IsLittleEndian` is recognized as an intrinsic then the native version can just be
[code]

[2017-09-20 16:49] Drawaes commented on #24144
Now we are cooking with gas ;)

[2017-09-20 16:56] Drawaes commented on #24144
It means it it throws right ? I think that is why there was a "wtf" exception.

[2017-09-20 16:59] stephentoub commented on #24144
Sure... it's just an odd design from that perspective: you allow parameterizing based on an interface anyone can implement, but then fail if provided with something other than one of a few built-in blessed implementations.

[2017-09-20 17:00] benaadams commented on #24144
When you don't care about endianness because you are always reading and writing to the same architecture

[2017-09-20 17:00] stephentoub commented on #24144
In which case why not just use little or big consistently?

[2017-09-20 17:04] benaadams commented on #24144
Is wordy; and I still have to look up what endianness intel is on the rare occasions endianness is important; so anecdotally I'd guess a regular user would need to if they wanted to be native to the platform (rather than always reversing the input)

[2017-09-20 17:04] Drawaes commented on #24144
To be fair @marcgravel and I circled around this issue several times and cane to the conclusion that even if you "don't care" it should be explicitly little or big. Reason you might not care today. But say you save the data and load it on say a bigendian Xbox you get in trouble.

So there should be no "native" option.

[2017-09-20 17:08] benaadams commented on #24144
Suppose it doesn't matter, could always be an extension ;-)

[2017-09-20 17:14] danmosemsft commented on #24159
The line number seems way off -- seems it should be at `throw Win32Marshal.GetExceptionForWin32Error(error);`

Anyway -- FlushViewOfFile failed, but GLE returned ERROR_SUCCESS I guess. @JeremyKuhne any idea why that might be?  /cc @Stephentoub who added the looping here

[2017-09-20 17:17] danmosemsft commented on #24169
@Eilon is there an equivalent?

I wonder if it could be ported. It does not seem to depend significantly on other types in System.Web, except its friends like CSSTextWriter.

[2017-09-20 17:17] davidfowl commented on #21537
MANAGED CODE EVERYWHERE!

[2017-09-20 17:19] danmosemsft commented on #24153
@DrewScoggins @brianrob can someone take a look why this broke? Your team will need this, to write more tests.

[2017-09-20 17:23] KrzysztofCwalina commented on #24144
Our customers need APIs to read sigle values. The reader/writer is a good idea, but a feature creep. It needs to be designed separately. The reader/writer APIs proposed are a good start, but they are not complete and not tested on real scenarios. In real scenarios involving readers there is a need for more APIs to search, skip, etc.

[2017-09-20 17:24] anurse commented on #21537
![https://media.giphy.com/media/F9DzQnxx6ZZNm/giphy.gif](https://media.giphy.com/media/F9DzQnxx6ZZNm/giphy.gif)

[2017-09-20 17:28] stephentoub commented on #24144
All examples shown on this thread have been for reading multiple values, and as I noted, these APIs still let you read single values when you need to.

These would work for any scenario where someone was doing the manual advance thing.  If additional APIs are needed, they can be provided separately.  And if we're worried about them not being right, then let's take the time to design the right thin

[2017-09-20 17:54] JeremyKuhne commented on #24159
I'll add it back in. Looks like it got lost in a refactor a few years ago.

[2017-09-20 17:59] KrzysztofCwalina opened #24174 "Deliver SignalR Dependencies"
SignalR just released an alpha using several components from corefxlab. We need to productize these components:

- [x] [System.Binary](https://github.com/dotnet/corefxlab/tree/master/src/System.Binary) Issue: #24144 PR: #24400
- [x] [System.Binary.Base64](https://github.com/dotnet/corefxlab/tree/master/src/System.Binary.Base64) Issue: #24568
- [x] [System.Text.Primitives](https://github.com/dotnet

[2017-09-20 18:00] shmao commented on #24049
@ericstj  @mellinoe can you please take a look at my comments above? Should the CLI tool used by Release build also include `System.Native.so`?

[2017-09-20 18:03] mellinoe commented on #24049
Have you completed a full Release build of the product before running the second command? The `bin/testhost` directory is populated during the build of the product, so if you haven't done a complete build (e.g. by running `build.sh -release`), then it will be missing things.

[2017-09-20 18:09] brianrob commented on #24153
@DrewScoggins, can you please take a look at this?

[2017-09-20 18:09] karelz commented on #21537
Sorry @stephentoub, I entirely missed that yesterday :( (at least I don't recollect it at all). The truth is we have accumulated API review backlog over the summer and we focused on larger API reviews lately to get through bigger things to support SignalR, so we didn't get through the "small ones" on GH.

Is there any pressure on this one beyond "just" getting it into 2.1? E.g. upstack dependencie

[2017-09-20 18:11] stephentoub commented on #21537
Yes, the reason @anurse and @davidfowl have been pushing on it is because ASP.NET web sockets support depends on it.

[2017-09-20 18:13] joshfree commented on #24174
@dotnet/corefxlab-contrib please treat this as the uber bug tracking the work necessary for the SignalR preview releases.  Please keep this bug up to date and reference it with your PRs

[2017-09-20 18:22] JeremyKuhne commented on #24160
It is the nature of Win32 path normalization that trailing periods on a path get eaten (as do spaces). The extended device syntax `\\?\` allows you to get around this, and both Core and Desktop (NetFX) support this. The other option is to stick a trailing separator on the path. Anything before the final `\` isn't at the end of the string and won't be eaten by Win32 path normalization.

Using devic

[2017-09-20 18:22] karelz commented on #8526
The API surface does not seem to be part of .NET Standard, but Platform Extensions (whatever that is).
Given that it is not available on Desktop, I am a bit surprised the package has `_._` under net462 target -- that is basically forwarding it into the platform itself. @ericstj any idea?

IMO the only workaround is to cross-compile Desktop, using `LoadFrom` and friends on Desktop.

[2017-09-20 18:22] DrewScoggins commented on #24153
Yeah, I have already started working on this.

[2017-09-20 18:22] brianrob commented on #24153
Thanks!

[2017-09-20 18:23] stephentoub commented on #24153
Thanks, @DrewScoggins .

[2017-09-20 18:29] muratg commented on #24174
:eyes:

[2017-09-20 18:29] joshfree commented on #24135
@VSadov can you point folks to the pre-release compiler package with the compile-time checks that would prevent this?

[2017-09-20 18:29] shmao commented on #24049
@mellinoe thanks for the tips. You are right. After I ran `build.sh -release` the command succeeded.

Is `build.sh -release` always supposed to be run before using `/build-managed.sh -release -SkipTests`, even for cross build? If that's the case, we may close the issue.

[2017-09-20 18:31] stephentoub commented on #21537
Thanks, @karelz.

[2017-09-20 18:34] mellinoe commented on #24049
I'm not sure about cross-build, to be honest. But if we are executing things out of that testhost directory, then we will need to have done a full build before-hand; `build-managed.sh` is not enough by itself.

@weshaggard Thoughts?

[2017-09-20 18:41] karelz commented on #24135
@joshfree do you want to reuse this issue to track better Runtime exception info as I suggested above or another one?

[2017-09-20 18:46] joshfree commented on #24135
@karelz a coreclr repo issue would be fine to track a better runtime exception

[2017-09-20 18:46] stephentoub commented on #23431
New ones have been trying to come in over the last day, but they're in conflict with coreclr, and we need to wait until a new one is available:
https://github.com/dotnet/corefx/pull/24164#issuecomment-330866206

[2017-09-20 18:51] Diablofan opened #24175 "SqlClient: Connection to Sql Server over network with named instance fails to connect"
When attempting to connect to a Sql Server instance over the network, with named instances, SqlConnection throws error 26 on .NET Core with the SqlClient nuget library.
### Sample Code
[code]
This sample code was tested working on .NET 4.5 and 4.6.1, but breaks on .NET Core 2.0, 1.1 and 1.0, along with versions 4.4, 4.3, and 4.1 of the System.Data.SqlClient library on nuget. I've been able to only

[2017-09-20 18:53] anurse commented on #21537
Priority-wise, we would certainly appreciate taking care of this sooner rather than later as the hack we've had in place (copying source code) has been there for a while and is starting to break down a bit.

[2017-09-20 18:53] weshaggard commented on #24049
cc @erictsj

I wouldn't expect the building of the tests to ever try to execute this command why is it running during the build? If that is the case then we should also make it honor the skiptests property to disable it from running.

[2017-09-20 18:56] corivera commented on #24175
@geleems Can you take a look at this?

[2017-09-20 19:09] karelz commented on #24135
@joshfree ok, can you (or someone on your team) please create one and link it from xunit?
Do we still need this one?

[2017-09-20 19:12] karelz commented on #21537
Can you please provide some insights into how it is breaking down a bit? (I get that source copy is not pretty and should be replaced, just curious what else might make it break ...)

[2017-09-20 19:14] stephentoub commented on #21537
e.g.
- We have different build systems and they handle resources differently, so any time for example we change a resource string (or worse, add one), that complicates the ASP.NET process.
- Any time we take a dependency on something in corefx that's not available on top of netstandard, it breaks ASP.NET.

[2017-09-20 19:35] anurse commented on #21537
This is the one that hit us recently. We have to figure out a pattern for handling CoreFX resources that are in a different form to those we use. It's not by any means a hard problem, just another of the little cuts that are making this process difficult :). The source copying process was always designed to be temporary and started in 1.1 so it's been on the queue for a little while.

[2017-09-20 19:43] ericstj commented on #8526
No, that's not forwarding to the platform.  It's preventing the more generic implementation from applying, explicitly making it [*not supported*](https://github.com/dotnet/corefx/blob/release/1.1.0/src/System.Runtime.Loader/pkg/System.Runtime.Loader.pkgproj#L11) on desktop.

[2017-09-20 19:50] karelz commented on #8526
Interesting, i didn't know we use the `_._` for that too. I heard it only in the context of forwarding. Thanks for explanation!

@jeremyVignelles I think, you will need to cross-compile for now as I suggested above.

[2017-09-20 19:51] los93sol commented on #23605
Guys, something is really messed up with these version numbers, you are building 4.5.0-preview1- now, but the builds from Sep 7 were 4.5.0-preview2-, that's why the list is out of order on your myget.

[2017-09-20 19:52] ericstj commented on #24049
As was discussed here: https://github.com/dotnet/corefx/pull/23758#issuecomment-328220067, the sgen tool is meant to run on the framework that was just built so I made changes to the project to enable that. https://github.com/ericstj/corefx/blob/43e9165afdacfa79ff1ffc87759da34ecf6ab3b9/src/Microsoft.XmlSerializer.Generator/tests/Microsoft.XmlSerializer.Generator.Tests.csproj#L11-L22

Previously th

[2017-09-20 19:53] jeremyVignelles commented on #8526
what do you mean by cross-compile? Something like using `#if NETSTANDARD_..`? Then, my library needs to be built twice and used for the correct target platform?

[2017-09-20 19:54] jkotalik commented on #21537
We currently copy [these two classes from ](https://github.com/aspnet/WebSockets/tree/dev/src/Microsoft.AspNetCore.WebSockets/Internal/fx/src/Common/src/System/Net/WebSockets) from the websockets source code. It is a bit more than "just the method source code".

[2017-09-20 19:55] Drawaes commented on #24144
I have used spans in 2 real world scenarios (not my garbage github examples) on binary protocols and both times a reader and writer struct similar to above had to be written.

[2017-09-20 19:56] joshfree commented on #24135
Sure.

Moved issue to coreclr repo  https://github.com/dotnet/coreclr/issues/14097

[2017-09-20 19:56] #24135 closed

[2017-09-20 19:57] mellinoe commented on #24167
I don't think we can feasibly change the mapping of `HatchStyle.Max` (compat and all that), so we should just treat this as a documentation bug. The docs should probably point out that `HatchStyleMax` is defined as `HatchStyleTotal - 1` in GDI+, and our version doesn't match that.

[2017-09-20 20:00] mellinoe commented on #8526
@jeremyVignelles Yes, that is correct.

[2017-09-20 20:30] tarekgh commented on #23605
CC @weshaggard

@kazantsev-nikita

Hopefully, we'll get build tomorrow.

@los93sol

We are trying to align the version with the 2.1 release. This is why we changed it to preview1. preview2 version can be deleted from myget but we don't see strong reason doing that.

[2017-09-20 20:33] karelz commented on #21537
Thanks for info! It's useful background for future.

[2017-09-20 20:36] los93sol commented on #23605
@tarekgh Why not bump from 4.5.0 to 4.6.0 so it isn't so confusing

[2017-09-20 20:40] huanwu opened #24179 "Port the assembly load path change into 2.0 branch"
#22558

This change need be ported into 2.0 branch so SGEN support 2.0

[2017-09-20 20:41] KrzysztofCwalina commented on #24144
I totally agree we need such reader and writer. I just think it's a separate feature. It would be great if somebody opened an issue about it, if not I will do it when I find some time.

[2017-09-20 20:46] weshaggard commented on #23605
We wanted to avoid versioning everything in the repo and essentially skipping versions. This is an issue that will only be seen in our dev feeds so it is limited it will never be seen in our official releases on nuget.org.

[2017-09-20 20:56] mguinness commented on #24160
Thanks for the help.  I wasn't able to get the trailing separator working, but the extended device syntax worked.

However, there is another issue which is a little tricky.  Given that "Some Corp Ltd." is under C:\Firms, running the following:

`var dirs = new DirectoryInfo(@"C:\Firms").EnumerateDirectories();`

Generates exception "Could not find a part of the path 'C:\Firms\Some Corp Ltd'", but

[2017-09-20 21:00] Drawaes commented on #24144
Okay I added an issue, mostly to start a discussion

#24180

[2017-09-20 21:01] stephentoub commented on #24144
And to me, it's _the_ feature, i.e. with that new issue opened, this one should be closed.

[2017-09-20 21:10] KrzysztofCwalina commented on #24105
@jkotas, @ahson, @jaredpar, @VSadov, thoughts?

[2017-09-20 21:12] stephentoub commented on #24105
Sounds fine to me.

[2017-09-20 21:16] VSadov commented on #24105
Good change.
Will avoid copies in cases like.

[code]

[2017-09-20 21:16] jkotas commented on #24105
Sounds fine to me.

[2017-09-20 21:19] rich-ware opened #24182 "SFTP connection throws 'Device not Configured' Error"
Hi, I am trying to connect to an SFTP server and I receive the following error:

nerException [Exception]:{System.Net.Internals.SocketExceptionFactory+ExtendedSocketException (0x00000005): Device not configured\n   at System.Net.Dns.InternalGetHostByName(String hostName, Boolean includeIPv6)\n   at System.Net.Dns.ResolveCallback(Object context)\n--- End of stack trace from previous location where

[2017-09-20 21:42] corivera commented on #24120
Unlikely this is caused by the connection pool fragmentation bug, since that one would just make empty pools.

@avireddy02 We had a connection leak bug that was fixed in System.Data.SqlClient 4.3.1. Does targeting that version resolve this issue?

[2017-09-20 21:54] dluc commented on #4479
Just here to say that after 2 years there still is no solution for MacOS users, which is a real painful experience for .NET developers, more over since VS for Mac and IntelliJ Rider are becoming popular IDEs for xplatform .NET development.

In case it's not sufficiently clear, the issue is not about "unit testing" which I noticed mentioned in here or some other linked GitHub issue. The issue is ab

[2017-09-20 21:55] JeremyKuhne commented on #24160
It seems reasonable to me to do this for enumeration as the paths aren't accessible without it and we _know_ the actual, existing path that was just reported from Windows. The `\\?\` could throw off some client code, but is much more likely to be accidentally successful than "phantom" truncated paths.

Path strings being passed _into_ System.IO APIs I'm not keen on automatically doing this for a f

[2017-09-20 22:17] Drawaes commented on #24144
As a side note the extension method by ref discussion on this exact method was discussed between

@benaadams @davidfowl @mgravell and myself about 12 months this month ago for exact reasons like this in fact if I can find the gitter archives it might be insightful :)

[2017-09-20 22:20] joperezr commented on #23431
Thanks for checking Steve, @danmosemsft if you still see issues with updating projectntfs after a new build, let me know so I take a look and make sure we fix whatever is blocking this dependency update.

[2017-09-20 22:24] safern commented on #23515
Fixed in #24178

[2017-09-20 22:24] #23515 closed

[2017-09-20 22:47] jnm2 commented on #19956
Speaking of UseShellExecute opening a new conhost, I believe this is the minimum amount of work necessary to use shell execute and stay in the same conhost window: https://github.com/jnm2/Elevate

[2017-09-20 22:52] danmosemsft commented on #20226
I'm going to close issues of this type based on the assumption they are fixed by @janvorli in https://github.com/dotnet/coreclr/pull/14054. Please reopen if not.

[2017-09-20 22:52] #20226 closed

[2017-09-20 22:54] danmosemsft commented on #24159
I'm going to close this on the assumption that #24176 will mean it gets ERROR_LOCK_VIOLATION and it will retry nicely.

[2017-09-20 22:54] #24159 closed

[2017-09-20 22:59] ericstj commented on #23807
Ok, I was able to fix both of these as well as some issues that @eerhardt pointed out.

The remaining discrepancies with what existed before are primarily for corert which appears to have had a bunch of type-os and was out of date, a couple of missing imports from new additions (eg: android), and a couple consistency issues with win*aot.  The only ones that are concerning are the aot ones and to v

[2017-09-20 23:10] benaadams commented on #24144
Yeah ref extensions would avoid needing an extra writer/reader struct to hold the state by just modifing the original

[code]

[2017-09-20 23:10] benaadams commented on #24144
Yeah ref extensions would avoid needing an extra writer/reader struct to hold the state by just modifing the original

[code]

[2017-09-20 23:26] jnm2 commented on #24162
You doubt that is *is* the expected behavior, or that it's *not* the expected behavior?

https://docs.microsoft.com/en-us/dotnet/api/system.string.split?view=netcore-2.0#return-value-details:

[2017-09-20 23:27] Drawaes commented on #24144
annnnd, I will say it again "VB can do it, so why don't we trust C# devs to do it?"

[2017-09-20 23:27] KrzysztofCwalina commented on #24105
Great. Thanks!

[2017-09-20 23:32] KrzysztofCwalina commented on #24144
The current SignalR code is reading single BigEndian ints. The reader would be a completely unnecessary from overhead and and syntax complexity perspective.

[2017-09-20 23:34] KrzysztofCwalina commented on #24144
Sorry, did not mean to close. I disagree with

Real code (e.g. SignalR) reads single BigeEndian ints, and using a reader for it would be completely unnecessary form perf and syntax perspective.

[2017-09-20 23:37] jnm2 commented on #24161
Wouldn't you rather have the added items and removed items returned separately? I feel like you haven't gained anything if you're lumping them back together.

It looks like you're addressing a many-to-many scenario here where the collections are only IDs, not a one-to-many scenario entity objects which have IDs and may represent updates as well as inserts and deletes. Most of the time I actually n

[2017-09-20 23:43] shmao commented on #24049
Thanks for the information, @ericstj . My [comments](https://github.com/dotnet/corefx/pull/23758#issuecomment-328220067) on #23758 is still valid. We want the SGen tool to run on the just-built bits. And I believe the fix you made to enable SGen's test project to use the test CLI was the right fix.

The issue here is that the `\testhost` folder populated by `build-managed.sh` does not have some co

[2017-09-21 00:04] KrzysztofCwalina commented on #24144
https://github.com/aspnet/SignalR/blob/dev/src/Microsoft.AspNetCore.SignalR.Common/Internal/Formatters/BinaryMessageParser.cs#L22

https://github.com/aspnet/SignalR/blob/dev/src/Microsoft.AspNetCore.SignalR.Common/Internal/Formatters/BinaryMessageFormatter.cs#L18

[2017-09-21 00:06] Drawaes commented on #24144
https://github.com/aspnet/SignalR/blob/dev/src/Microsoft.AspNetCore.SignalR.Common/Internal/Formatters/BinaryMessageParser.cs#L30

From your first one, they slice it a couple of lines down ;)

[2017-09-21 00:19] davidsh commented on #24182
cc: @Priya91
TcpClient on Linux

[2017-09-21 00:35] Drawaes commented on #24144
Also that second example you gave, the code rents an 8 byte buffer, to write a long and then sends it to the stream, and then rents a payload buffer to send it. Which just seems... wasteful? So my PR to rent the length + payload and write in one go

https://github.com/aspnet/SignalR/pull/921/files

Now could happily use the writer wrapper (as it writes and then slices)

[2017-09-21 01:08] Jorgelig commented on #14050
new "Microsoft Build Tools 2015 Update 3" Link: http://download.microsoft.com/download/4/3/3/4330912d-79ae-4037-8a55-7a8fc6b5eb68/buildtools_full.exe

[2017-09-21 01:20] EgorBo commented on #24175
@Diablofan is "SQL Browser" service running?

[2017-09-21 01:49] Jiayili1 commented on #23738
This issue is repro in oxs10.12_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/3133/testReport/

[2017-09-21 02:11] bartonjs commented on #23738
@mmitche All the failures I've seen have been on dci-mac-build-053.  It'd be great if we could ensure it's set up the same as the rest of the machines.  (Seems like it hasn't ever had an interactive login by the execution user, or it's SSH, or something)

[2017-09-21 02:46] WallaceKelly commented on #9234
I too have source code that authenticates when `net45` is targeted, but not when `netcoreapp2.0` is targeted.

See [https://stackoverflow.com/questions/46306508/httpclient-usedefaultcredentials-windows-authentication-net-core-2-0-console](https://stackoverflow.com/questions/46306508/httpclient-usedefaultcredentials-windows-authentication-net-core-2-0-console)

(No, I have not tried to examine the

[2017-09-21 02:49] Jiayili1 commented on #23099
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/258/testReport/System.Net.Sockets.Tests/ConnectSyncForceNonBlocking/Connect_MultipleIPAddresses_Success_listenAt__127_0_0_1_/

[2017-09-21 04:17] debasisj commented on #11857
my thumbs up to get it in .Net core 2.0

[2017-09-21 05:23] jairbubbles commented on #19928
As it's a language wide problem don't we need a new tool to achieve that ?

For instance, a new keyword `swallow` that will never trigger the debugger. Of course this would be dangerous and should be used with precaution.

[code]

Depending one the type of exceptions swallowed, static analyzers could warn the programmer.

[2017-09-21 05:36] ludbul commented on #11857
👍

[2017-09-21 05:37] ludbul commented on #11857
👍

[2017-09-21 06:00] Jenan commented on #23605
I have tried download the latest version of System.DirectoryServices.AccountManagement - but I still get same exception - 4.5.0-preview1-25718-03.

Can you please help me with this - is it correct version?

[2017-09-21 06:03] parjong commented on #24049
@shmao Thanks you! That workaround works for me.

[2017-09-21 06:11] danmosemsft commented on #11857
I've started porting the [sources](https://github.com/dotnet/corefx/compare/master...danmosemsft:port.mef1?expand=1). Would any of you be willing to help with tests, when I have them building?
Note: if Mono has suitable ones, we can copy those. I did not look. I can also look internally for tests.

[2017-09-21 06:12] Jiayili1 commented on #22850
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170921.01/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.InvalidClientRequestTests~2FGetContext_InvalidRequest_DoesNotGetContext

[2017-09-21 06:15] safern commented on #11857
I would happily help.

[2017-09-21 06:16] danmosemsft commented on #23605
@Jenan we have some issues signing, so binary is not getting updated. Can you try with [locally ](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md )built copy?

[2017-09-21 06:17] safern commented on #11857
Obviously if there is no community willing to do so. I don’t want to still the chances to contribute :)

[2017-09-21 08:57] RehanSaeed commented on #24169
After reading your comment, I tried copying across the `HtmlTextWriter` class and some of it's dependencies but quickly found that it uses a lot of types in that themselves had dependencies on types in`System.Web`.

I may be misunderstanding what is possible but could I not move my XslTransform method into a .NET 4.6.1 class library and call that from my netcoreapp2.0 application? Would that work

[2017-09-21 11:42] svick commented on #24144
@stephentoub

Personally, I'd prefer to have the non-Try methods included. If I have a bug in my code, I prefer that it throws (and subsequently crashes the process), rather than it silently doing the wrong thing. In that case, the expense of exceptions doesn't matter, you're never going to catch them.

[2017-09-21 12:07] Drawaes commented on #24144
I agree with that. If you "know" you have the right space then the try methods are just added clutter.

And if you "know" but are wrong then you want an exception  because it's exception. And as @svick says perf doesn't matter as much in a true error case.

[2017-09-21 12:16] radovanovic commented on #1626
I can't see anywhere here mentioned, but what lowest version of FreeBSD we are targeting here (I assume at least 10 and later, but maybe 9 as well)?
(I am also little bit confused what discussion should happen on mono@freebsd mailing list, and what here?)

[2017-09-21 12:17] schweinsbauch opened #24185 "Codeformatter Tool"
"We also use the .NET Codeformatter Tool to ensure the code base maintains a consistent style over time, the tool automatically fixes the code base to conform to the guidelines outlined above."

Can this be true if the codeformatter tool had it's last commit on Nov 11, 2016? (Some Issues over there are preventing the use of this tool, just check the issues there.)

[2017-09-21 12:30] stephentoub commented on #24144
Ok, that's fair.

[2017-09-21 12:31] stephentoub commented on #24144
This isn't feature creep.  This is designing the thing the code actually needs.

[2017-09-21 12:37] Drawaes commented on #24144
I tend to agree I have been racking my brain for a time you do a single op on a span and am failing to come up with one.

 The examples above the first slices the buffer only so it's close. The second example was odd code and I changed it to be correct and now it slices. It might be worth fleshing out the design in the other issue and see if it can be done in a reasonable way. If it has blocking p

[2017-09-21 12:47] Echo-8-ERA commented on #1626
Well, if Fedora is anything to go by, only 10.3 (10.4 soon) and 11.1.

[2017-09-21 12:54] sec commented on #1626
@radovanovic FreeBSD 9 is not supported anymore, 10 will EoL in april 2018, 11 in 2021. From my expierence there shouldn't be any problems with compiling on 11 vs 10 (and even 9 if you want). FreeBSD is developed with backward compatibility in mind.

[2017-09-21 13:29] kazantsev-nikita opened #24186 "Constructors in MEF2"
I'm trying to inject logging and configuration in my class
[code]
but MEF2 don't allow use class to do this.
[code]
Is there any possibilities to use MEF2 with DI?

[2017-09-21 14:12] eerhardt commented on #23807
I think the naming and the tooling looks good.  My only question is if you'd want to split out all the item "data" into a separate .props file to isolate it, and keep it cohesive.

+1

[2017-09-21 14:53] mmitche commented on #23738
@bartonjs  I'm just going to take this thing offline and have it reimaged.

[2017-09-21 15:18] ericstj commented on #23807
Yeah, I was planning to do that anyhow in order to serve as a good input/output of the target.  I'm also going to include the target in the build.  I know modifying source during build is a no-no, but here I think the benefit of having this checked in over-rides that, and sequencing it in the build makes it one less thing for people to have to read the docs in order to understand.

[2017-09-21 15:18] jnm2 commented on #24156
@weitzhandler It's the same as the issue with defining an extension method on both `IList<>` and `IReadOnlyList<>`– you can no longer use the extension method on any class that implements both.

An example of this is how people define `IReadOnlyDictionary<,>.GetValueOrDefault` and  `IDictionary<,>.GetValueOrDefault`. They are then forced to also define an extension method on the concrete `Dictiona

[2017-09-21 15:18] KrzysztofCwalina commented on #24144
I still don't see how the code samples would be better with a reader/writer. The first code sample reads one int (length) and then does nothing else with binary. The other is overly complicated. Should probably just write the int to the Stream and then the payload.

Also, to implement reader/writer we need the low level APIs.

[2017-09-21 15:26] stephentoub commented on #24144
The low-level APIs are Unsafe.Read/WriteUnaligned. We have those.

[2017-09-21 15:37] jkotas commented on #24144
Right. I won't be surprised if we find that the `Binary.Read/Write` are not great APIs to implement the Span reader/writer because of they incur unnecessary overhead (redundant range checks and/or need to move both pointer and count at the same time).

[2017-09-21 15:41] bording commented on #23807
@ericstj Would it make sense to include additional distros in the RuntimeGroup data to cover everything listed in https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md as part of this change, or should those come as a separate PR after this is merged?

[2017-09-21 15:42] ericstj commented on #23807
Let's make that separate.  I want to make this change purely about the tooling.

[2017-09-21 15:56] tarekgh commented on #23605
@Jenan the version ```4.5.0-preview1-25718-03``` is built on ```Mon, 18 Sep 2017 13:19:11 GMT``` which doesn't have the fix. people around here working hard to get the build succeed. @danmosemsft idea is good to unblock you till you get the official one.

[2017-09-21 16:01] karelz commented on #1626
I expected the technical discussions, coordination of work and status over here as this is wider audience than mono@freebsd mailing list. OTOH we don't want to have gazillion of random discussions on one issue, so we might take some specific design discussions into separate issues from this one if they grow above reasonable number of replies.

[2017-09-21 16:02] KrzysztofCwalina commented on #24144
Great, then we will use the Unsafe APIs to implement reader/writer.

[2017-09-21 16:17] fletchsod-developer opened #24189 "AddIssuerSerial method to KeyInfoX509Data class, does not allow option to specify decimal value instead of default hexadecimal value"
The X509Certificate's SerialNumber is "4F4B6C4CF95644EB850AB136B6ECE012"

When using `KeyInfoX509Data` builder as part of `KeyInfo` class that get assigned to 'KeyInfo' object in `SignedXml` class.  The issue is there's no option to encode the SerialNumber as decimal value instead of hexadecimal value.

The 3rd party company require it be in decimal value, not hexadecimal value.

[code]

As a work

[2017-09-21 16:32] Eilon commented on #24169
No equivalent in ASP.NET Core - the rendering model for HTML is completely different and based on the Razor (CSHTML) syntax.

[2017-09-21 16:37] shmao commented on #24049
Thanks for the confirmation, @parjong .

I'm closing the issue.

[2017-09-21 16:37] #24049 closed

[2017-09-21 16:53] jnm2 commented on #23994
:+1: for better guardrails.

[2017-09-21 16:55] ericstj commented on #23994
I believe @terrajobst and @pjanotti are working on a project over at https://github.com/dotnet/platform-compat that aims at doing that.

[2017-09-21 16:59] mconnew opened #24190 "Need a thread safe mechanism to opt in to ManagedHandler for a single instance of HttpClientHandler"
The recent changes in HttpClientHandler on OSX to use the native security libraries has caused server certificate validation callbacks to not be supported. The ManagedHandler does support this, but is missing other functionality needed. WCF needs a way to instantiate a single HttpClientHandler instance to explicitly use ManagedHandler. If an instance of a WCF ChannelFactory has been configured to

[2017-09-21 17:00] jnm2 commented on #23994
I think that's only going to be helpful if it comes as part of the csproj SDK. Having to discover failures on your own, take the initiative to research ways to manage to broken abstraction going forward, discover the platform-compat package, and add it defensively to every csproj– seems a bit much to me.

[2017-09-21 17:01] shmao opened #24191 "Should not Pack Generated Serialization Assembly"
The serialization assembly generated by SGen should not be packed into the library's nupkg.

[2017-09-21 17:18] pjanotti commented on #23994
We are aware of this limitation of having it as an analyzer but to get to the point of having it automatically added to any csproj we will need more tuning of it (we know it is not going to be perfect, but it needs to be right most of the time). As of today the analyzer is not covering UWP yet.

[2017-09-21 17:30] HelloKitty opened #24192 "System.Text.Encoding.Unicode Performance Slower than .NETFramework2.0"
Not sure if this is the correct place but after profiling a library I'm working on I found that System.Text.Encoding.Unicode.GetString was 10x slower in .NETCore/>=.NETFramework4.0. However I found that this was not the case in <=.NETFramework3.5 on my machine.

Maybe the performance degregadation could be attributed to something else but it was equivalent benchmarking code ran on .NET Core and >=

[2017-09-21 17:31] jnm2 commented on #23994
@pjanotti As long as it's in a temporary development phase, I'm cool with that. Though I do hope it'll come out of that phase in under a year if not months.

[2017-09-21 17:54] livarcocc opened #24193 "'Assembly' does not contain a definition for 'GetExecutingAssembly'"
_From @shmao on September 21, 2017 17:48_

## Steps to reproduce
1. Install the latest nightly build SDK. The one I used was of version (2.1.0-preview1-007214).
2. `dotnet new library`
3. Add the following code,

[code]
4. `dotnet restore`
5. `dotnet build`

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails with the following error,

[code]

## Environment data
`dotnet --info`

[2017-09-21 18:07] shmao commented on #24193
This is not a library issue. Closing this.

[2017-09-21 18:07] #24193 closed

[2017-09-21 18:27] danmosemsft commented on #24192
@HelloKitty could you share a code snippet that reproes the slowdown?

[2017-09-21 18:54] Priya91 commented on #24182
@rich-ware This seems more of a machine configuration issue, from the callstack it looks like dns lookup failed. Are you able to access the servers from your machine outside of .NET? try

[code]

[2017-09-21 19:12] mellinoe commented on #23690
This is done.

[2017-09-21 19:12] #23690 closed

[2017-09-21 19:13] mellinoe commented on #22019
Fixed by https://github.com/dotnet/corefx/pull/24009

[2017-09-21 19:13] #22019 closed

[2017-09-21 19:14] HelloKitty commented on #24192
I created a quick repro. This doesn't seem to show the same significant slowdown but it shows about a 1.5x slowdown. I'm finding it difficult to repro in isolation the 10x slowdown I encountered in a benchmark I use for one of my library using exactly the same code.

[code]

[2017-09-21 19:17] mellinoe commented on #20711
Some more steady progress was made in the past month. I think @qmfrederik's current effort will give us enough coverage to fill in the remaining gaps and let us close this issue out.

[2017-09-21 19:18] HelloKitty commented on #24192
Ahhh found how to repro it. The issue is it appears to scale by string length. It degrades significantly the longer the string gets as far as I can tell while the .NETFramework2.0 version seems to scale much better,

[code]

[2017-09-21 19:32] casperOne opened #24196 "Generalized WhenAll, WhenAny, etc. for awaitables."
Currently, when I have a number of `Task` instances where I want to perform aggregate operations across all of them (waiting for all of them to complete, for any of them to complete, etc.), I like to use the static `WhenAll`, `WhenAny`, etc. methods.

I also like to use `ValueTask<T>` as well for areas where I don't need the heap allocation that a `Task<T>` brings.

That said, I can't currently us

[2017-09-21 19:36] mellinoe commented on #20740
I'm going to call this done now. Realistically, most community RID's will be using Unix-derived assets, and if they aren't then we have a lot more stuff to add/fix than just System.Drawing.Common.

[2017-09-21 19:36] #20740 closed

[2017-09-21 19:36] geleems commented on #24148
Fix merged to main branch.

[2017-09-21 19:36] #24148 closed

[2017-09-21 20:08] dnickless commented on #23887
I was under the impression I could somehow create my pull request right into this conversation. That doesn't seem to be the case, though... Oh well, lots to learn. Check out this one instead: https://github.com/dotnet/corefx/pull/24198

[2017-09-21 20:13] am11 commented on #23887
It *is* possible for admins to convert thread type `issue` to `pull` using `git + hub = GitHub` scripts: https://github.com/github/hub#git--hub--github. 🤓

[2017-09-21 20:38] Abexdatl opened #24200 "Reference assemblies should not be loaded for execution"
I am getting this build error after upgrading to .net core 2

'Could not load file or assembly 'System.Data.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken= ***' or one of its dependencies.
Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only loader context. (Exception from HRESULT: 0x80131058)'

[2017-09-21 20:48] danmosemsft commented on #21434
Not actionable

[2017-09-21 20:48] #21434 closed

[2017-09-21 20:58] jaredpar commented on #24105
Yes def should do this

[2017-09-21 21:04] aKzenT commented on #19928
There are various methods in the framework that can throw a BadImageFormatException if the file is not a valid assembly.

Instead of adding Try-overloads to all these functions, wouldn't it be better to have generic function (IsValidAssembly, CheckAssembly, ...) that checks if a file represents a valid assembly.

Just like I might do a check to File.Exists before calling GetAssemblyName, I could a

[2017-09-21 21:52] Diablofan commented on #24175
@EgorBo Yes, it is running, thought that might have been implied in my initial post, as stated here:

But I can connect with named instances in Visual Studio, SSMS, and the sample code posted using .NET Framework 4..5 and newer.

[2017-09-21 21:54] danmosemsft commented on #19928
@nguerrera

VS (and other UI apps I've worked on) catch everything - I imagine that will always be the case. It used to be that breaking on first chance exceptions in VS would find bugs - unfortunately some components throw them excessively now. First chance can also be helpful when the exception is caught and rethrown asynchronously. For console apps you are probably right.

[2017-09-21 21:57] danmosemsft commented on #19928
This isn't my experience (just anecdata of course). At least with just my code switched on. Even without JMC, there are often only a few exception types that throw in the "normal" case and those you can filter out.

Tooling and language improvements have a long lead time. I don't think if we offer a Try version of this method, it will lead to some slippery slope. We can have a budget of just a few

[2017-09-21 22:04] EgorBo commented on #24175
@Diablofan well SQLBrowser should translate your instance name into a port (it's probably blocked by a firewall - UDP:1434) - it looks like an issue I faced a while ago - I could connect to SQL Server without SQLBrowser in .NET 4.5 and couldn't do it using .NET Core https://github.com/dotnet/corefx/issues/22236#issuecomment-315229159

[2017-09-21 22:19] Jtfinlay commented on #17559
Apologies for late reply, did not see these earlier responses. What would be the best way to test these changes? In our project, we include the Microosft.NETCore.UniversalWindowsPlatform nuget. We are on 5.3.3, which includes .Net Native 1.6.

Latest UWP package  is 5.4.0, which includes .Net Native 1.7. I still hit the problem after updating to this and deploying the app on RS3.

Can you provide

[2017-09-21 22:33] vancem commented on #17559
adding @brianrob

Note however, that the main problem with Channel support is that (to my knowledge at least) windows channels are not xcopy deployable).  That is in order to use channels you have to create a manifest and register that manifest with the operating system before you use the code (typically at install time).   Do you do this?

Or to put it another way, I don't understand your scenari

[2017-09-21 23:03] danmosemsft commented on #24200
@terrajobst @ericstj does this fall into one of the categories in https://github.com/dotnet/announcements/issues/31 ?

[2017-09-21 23:04] danmosemsft commented on #24200
Ah, it's https://github.com/dotnet/corefx/issues/23229. @Abexdatl there are workarounds there.

[2017-09-21 23:05] danmosemsft commented on #24185
@jaredpar who is the owner of this (who reviews PR's)?

[2017-09-21 23:20] Diablofan commented on #24175
Just asked the server admin, and SQL Server Browser is running. The firewall on the server is configured to allow traffic on UDP:1434. I tested it with the firewall enabled, and then disabled, on my machine and in both cases it failed to connect.

[2017-09-21 23:28] jnm2 commented on #19928
File.Exists is vulnerable to race conditions- just embrace it and catch the exception at whatever level is  responsible to know how it wants to respond to it.

[2017-09-21 23:29] jnm2 commented on #19928
I'm stealing this. 😆

[2017-09-22 02:06] stephentoub commented on #24190
https://github.com/dotnet/corefx/pull/24173

[2017-09-22 02:09] Jiayili1 commented on #19767
again on outerloop_netcoreapp_win7_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/258/

[2017-09-22 02:35] #22380 closed

[2017-09-22 02:45] kzu opened #24205 "Add StructuralComparer<T>"
Quite a few APIs can take an `IEqualityComparer<T>` (most notably `HashSet<T>`, `Dictionary<T>` and `ConcurrentDictionary<T>` ) and having a structural comparer for those would be quite useful. In fact, the non-generic `StructuralComparisons.StructuralEqualityComparer` even already exists!

So how about adding the obvious dumb typed implementation on top of it? Pretty much:

[code]

And that's all

[2017-09-22 03:28] karelz commented on #24185
We use the tool ad-hoc. It was mostly used during porting time and it served its purpose.
I think we should move the discussion about future of that tool to its repo. Here's some general discussion: https://github.com/dotnet/codeformatter/issues/267#issuecomment-331320957

[2017-09-22 03:28] #24185 closed

[2017-09-22 03:34] karelz commented on #24169
No it would not work. netcoreapp2.0 runs on .NET Core 2.0 and some of your dependencies are just missing there.

Per @Eilon's reply, I think we can close this one. If you think Razor syntax is not sufficient, I would suggest to open a discussion on ASP.NET repos (https://github.com/aspnet)

[2017-09-22 03:34] #24169 closed

[2017-09-22 03:40] karelz commented on #24186
What exactly is missing / does not happen from MEF2 point of view?

[2017-09-22 03:44] karelz commented on #24200
Duplicate of #23229.

[2017-09-22 03:51] kishoretvk opened #24206 "calls to sql server query from EfCore / Ado.net timesout in 100seconds"
HI,
when we run queries from Efcore, with underlying ado.net for sql server ! queries take more than 100seconds, are retried after 100 seconds untill command timeout ot connection timeout. but they do not wiat untill the query executes.

i've a sp which runs more than 2 minutes, and they sp is executed several times , before timeout happens
i  configured command timeout as 600, it gets retried for

[2017-09-22 04:21] Abexdatl commented on #24200
Non of the workarounds in the issue you identified as "duplicate" resolved my issue ..... so far.

Well ... we can also say .net core is of to a good start 😉

[2017-09-22 04:37] tannergooding commented on #16428
I'm going to start working on this after https://github.com/dotnet/coreclr/pull/14119 goes in.

[2017-09-22 04:40] droyad commented on #2575
I've pulled the above code into a lib and NuGet Package https://github.com/droyad/SqlAlias

[2017-09-22 06:29] Jiayili1 commented on #23102
failed again: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/176/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticSourceNewAndDeprecatedEventsLogging/

[2017-09-22 06:34] Jiayili1 commented on #23099
Test: System.Net.Sockets.Tests.ConnectSyncForceNonBlocking/Connect_Success failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170922.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.ConnectSyncForceNonBlocking~2FConnect_Success(listenAt:%20::1)

The test `System.Net.Soc

[2017-09-22 06:35] Jiayili1 commented on #21037
Test: System.Net.Sockets.Tests.SendPacketsAsync/SendPacketsElement_MissingFile_Throws failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170922.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendPacketsAsync~2FSendPacketsElement_MissingFile_Throws(type:%20Async)

[2017-09-22 07:03] kazantsev-nikita commented on #24186
I've got an error:

How can  IOptions<Settings> be exported, because IOptions is a Microsoft.Extensions.Options type, so I can't add ExportAttribute to it?

[2017-09-22 07:04] Jenan commented on #23605
OK, it's fine, I'll be waiting. Thank you. :)

[2017-09-22 07:10] danmosemsft commented on #24200
@ericstj can you help here?

[2017-09-22 10:19] hmvs opened #24209 "X509Chain under heavy load causes System.IO.IOException: Too many open files"
Having a lot of connections to the web api. API by itself doesn't open any files.
From time to time we are having container restarted because of exception.
Microsoft.AspNetCore.Mvc  **1.1.4**
Docker image: **aspnetcore-build:1.1.2**
[code]

[2017-09-22 12:41] kazantsev-nikita opened #24210 "Could not load file or assembly 'System.DirectoryServices.Protocols'"
This issue refers to #23605. While [build system is still down](https://github.com/dotnet/corefx/issues/23605#issuecomment-330594248) I locally built copy of corefx and add `System.DirectoryServices.Protocols.dll` as reference to project. When I'm trying to create instance of  `PrincipalContext` I get an error:

What I'm doing wrong? Where is the error in my implementation?

[2017-09-22 13:29] stephentoub commented on #24209
cc: @JeremyKuhne, @bartonjs in case there's something that can be done to reduce the number of file descriptors currently in use.

But... you may just want/need to increase the ulimit on your system. What is the ulimit -n value? Try setting it to something larger.

[2017-09-22 14:06] softwaretecture opened #24211 "HttpClient is not able to send Client certificate unless the cert is in Windows Cert Store"
HttpClient is using HttpClientHandler  to attach a client certificate to the request sent to a server.
The certificate isn't being attached when ClientCertificateOptions is set to `Manual` mode and the client cert is not in the Windows Certificate Store. I looked through the code in GitHub and it looks that the provided client cert is always being verified for WinRT against a "MY" local windows ce

[2017-09-22 14:14] hmvs commented on #24209
@stephentoub Now we are trying it under **aspnetcore-build:1.1.4** so we are looking into results.
If it not help we will try to increase ulimit.
Now it's 1024.

[2017-09-22 15:29] fletchsod-developer commented on #24211
Are you saying the certificate couldn't be obtain from the certificate store?

We're using Azure's KeyVault and we didn't have any issues with Client Certificate attachment using HttpClientHandler and assigning it to HttpClient.  It works as good when executing the code.

Window Platform issues?

Code below

            var x509Certificate2 = new X509Certificate2();  // Replace this class instanta

[2017-09-22 15:35] stephentoub commented on #23760
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/3574/consoleText
[code]

[2017-09-22 15:50] ericstj commented on #24200
Perhaps: What type of project is it?  Can you share some more information about the repro?  (perhaps a msbuild /flp:diag log as well)

This is different based on the version I see of System.Data.Common, that one isn't coming from the netstandard2 support package in desktop (it contains 4.2.0.0).  4.1.0.0 shipped in the System.Data.Common 4.3.0 package.  Regardless of the cause there is a bad-tool

[2017-09-22 16:06] Jtfinlay commented on #17559
This is for the C# UWP Store client across Windows devices. We are checked in as an inbox app to Windows, and updateable through the dev centre.

Let me reach out over email and I can share some of our implementation for how we are working with Channels.

[2017-09-22 16:11] Tratcher commented on #23177
Updated with `public SslApplicationProtocol(string protocol) { } // assumes utf-8` and ` public override string ToString() { } // For debugger. utf-8 or a string representation of the raw bytes. E.g. "0x68 0x74 0x74 0x70 0x2f 0x31 0x2e 0x31"`

[2017-09-22 16:18] Drawaes commented on #23177
Seems reasonable. Is it worth checking there are no multibyte utf8 chars in the string and throwing if there are? You can still set those via readonlybytes and it could stop the hidden character copy paste issues (like happens with thumbprints copied from mmc that I have wasted hours of my life on)

[2017-09-22 16:22] Tratcher commented on #23177
@Drawaes any examples?

[2017-09-22 16:28] davidsh commented on #24211
This is, unfortunately, a current limitation of the UWP HttpClient.  It is caused by an interop issue between converting .NET certificates (which have private key) into WinRT certificates.

cc: @bartonjs

[2017-09-22 16:32] davidsh commented on #24211
You can see the explanation in the code comments you linked:

[code]

[2017-09-22 16:35] Drawaes commented on #23177
The example is if you copy and paste a thumbprint from the certificate plugin for mmc you end up with a hidden Unicode char. If you then try to use this to match to thumbprint in the certificate store in code you can't find it. You then spend 2 hours checking everything only to find that in vs on the string the column number jumps between the end of the thumbprint and the ".

It's not critical but

[2017-09-22 16:42] Tratcher commented on #23177
I meant an example char/byte sequence. Was space (0x20) the errant character?

[2017-09-22 16:55] Drawaes commented on #23177
It's at the start sorry.. It's 0x200e and it's the left to right mark. There is a trail of broken dreams on stackoverflow ;)

https://stackoverflow.com/questions/8448147/problems-with-x509store-certificates-find-findbythumbprint

[2017-09-22 16:58] Drawaes commented on #23177
So my suggestion is this. If anyone sends in a string that results in the most significant bit set in any of the bytes throw it out as an exception. It will stop odd runtime matching problems early and there is a way around it if you meant it.

It's partially also because there is no way to say "we will interpret this as utf8" almost like we need a utf8 string ;)

[2017-09-22 16:59] softwaretecture commented on #24211
@fletchsod-developer: I don't see how this works, unless the app runs in Azure and different code is executed? Based on the implication I see in GitHub, the code always wants to compare the cert provided with a cert from "MY" store.

@davidsh: Also, does this mean there is no support on Linux for this currently? Trying to deploy this to a Linux Docker container. Thanks for the feedback.

[2017-09-22 17:02] Tratcher commented on #23177
Ah, understood. That more of a code editor issue rather than an API issue. Depending on your file encoding those extra bytes may just get dropped. Second-guessing the values is way beyond the purview of this API.

[2017-09-22 17:03] davidsh commented on #24211
The behavior and code you referenced above is only for the Windows UWP HttpClient.

Linux uses a different implementation.  Have you tried your code on Linux?  HttpClientHandler.ClientCertificates property is implemented on Linux in latest .NET Core.

cc: @stephentoub

[2017-09-22 17:06] softwaretecture commented on #24211
I have not. I was trying to make it work on Windows 10 first. I've created this post with a sample on how to do it as I couldn't find a complete example anywhere: https://softwaretecture.wordpress.com/

Is there a Linux implementation of HttpClientHandler.ClientCertificates that I'm not seeing in GitHub?

[2017-09-22 17:11] davidsh commented on #24211
The behavior you observed is for Windows 10 UWP.  But for Windows 10 non-UWP, there is no WinRT involved and it has no restrictions.

Linux is implemented.
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.cs#L266

[2017-09-22 17:18] softwaretecture commented on #24211
@davidsh Thank you!

[2017-09-22 17:23] benaadams commented on #23177
Yeah, wtf - though that's just Windows Certificate property window hating users

![image](https://user-images.githubusercontent.com/1142958/30756559-14592558-9fc3-11e7-933f-5fd9c899eca4.png)

[2017-09-22 17:25] softwaretecture commented on #24211
@fletchsod-developer is it possible that you're running on Windows non UWP and that's why it works for you based on @davidsh explanation?

[2017-09-22 17:47] geleems commented on #22463
@carlowahlstedt
Could you confirm that you use Fully Qualified Domain Name for SQL Server SPN?
The error is throw from this code part (line# 139) :
https://github.com/dotnet/corefx/blob/dcc29528c9c4633e81b1937e7dd9fde7115a938c/src/Common/src/System/Net/Security/NegotiateStreamPal.Unix.cs#L122-L144

[2017-09-22 18:14] geleems commented on #22463
Do you have the following two lines in your `~/.ssh/config` file, or in your `/etc/ssh_config`? :
[code]
The first is required to enable GSSAPI (Kerberos) authentication, the second one is required to get ssh to canonicalize the hostname via DNS and use the canonical name to obtain a host service ticket. Without the second one, ssh will use the exact hostname or IP address entered on the command l

[2017-09-22 18:16] fletchsod-developer commented on #24211
No idea if my workstation have UWP installed or not.  Nor do I know of that on Azure cloud servers.

[2017-09-22 18:28] danmosemsft commented on #22292
@SpocWeb any interest in putting up a PR?

[2017-09-22 18:29] davidsh commented on #24211
The UWP (UAP) version of HttpClient is only used if you are building and running a Windows Store App.  If you are not doing that, then you are not using that implementation.  It sounds like you are not running a Windows Store app.  Rather, you are building some other type of application/service.

[2017-09-22 18:35] softwaretecture commented on #24211
That's interesting cause I don't see any specific project configuration that says I'm building for WinRT. It's just a Console Application.

[2017-09-22 18:39] Abexdatl commented on #24200
It is an ASP.NET CORE project . It references other class library projects. All the class libraries build fine . The issue is in the web project.

[2017-09-22 18:41] davidsh commented on #24211
If you're building a console app, then it's not a UWP (Windows Store App).  That means that this code is not used:
https://github.com/dotnet/corefx/blob/f7bc8b413406e94549f21be79e67641f11ae8266/src/System.Net.Http/src/uap/System/Net/HttpClientHandler.cs.

Only UWP apps use core from the src/uap/System/Net folder.

[2017-09-22 18:43] softwaretecture commented on #24211
but without the cert in the store, the cert isn't being attached to the request. That's what I have observed, which is why I started digging through the MS code.

[2017-09-22 18:44] fletchsod-developer commented on #24211
Ah!  I'm not using Windows Store on this one.

[2017-09-22 18:48] softwaretecture commented on #24211
internal static partial class CertificateHelper has a bunch of partial classes that all seem to look for certs in the MY store. Am I missing something here? I could not make it work without placing the cert in the store.

[2017-09-22 19:01] davidsh commented on #24211
Please attach a full repro (Visual Studio solution).

Your code above i looking for a cert in the MY store and using that to set the .ClientCertificates property of HttpClientHandler.  Is that not working?

If you're trying to pass in a cert that is not in the MY store, (perhaps from a PFX file), please attach that repro.  Please note that the cert must have private key attached in order to be eli

[2017-09-22 19:04] elsyms commented on #24206
Could you share some code that you're experiencing the issue with?

[2017-09-22 19:11] ericstj commented on #24200
When you say ASP.NET Core project is this project targeting .NETCore or is it targeting .NETFramework (desktop).  Can you share a build log for the failing project and the project.assets.json from the obj folder?

[2017-09-22 19:18] karelz commented on #21055
FYI: The API review discussion was recorded - see https://youtu.be/W_r6oG7nnK4?t=99 (10 min duration)

[2017-09-22 19:18] karelz commented on #19928
FYI: The API review discussion was recorded - see https://youtu.be/W_r6oG7nnK4?t=680 (15 min duration)

[2017-09-22 19:19] karelz commented on #16428
FYI: The API review discussion was recorded - see https://youtu.be/W_r6oG7nnK4?t=1723 (40 min duration)

[2017-09-22 19:27] tannergooding commented on #23519
Going to ping @russellhadley @mellinoe @CarolEidt @terrajobst, on this.

The API surface area isn't fully described (since it covers several hundred APIs), but it follows the same convention as the previous proposal so it should be "reviewable".

[2017-09-22 19:51] tannergooding commented on #16428
Just as an FYI, since it was brought up in the API review (especially around naming and where they go), the names are not only just used in the C Runtime and elsewhere, but are also defined with that name in the IEEE spec (not that it makes too much difference).

The IEEE defined operations are:
* exp               = e^x
* expm1             = e^x - 1
* exp2              = 2^x
* exp2m1            =

[2017-09-22 19:51] #24081 closed

[2017-09-22 19:55] tannergooding commented on #16428
Updated the top post to list the approved APIs and the APIs which were not approved at this time.

[2017-09-22 20:03] Abexdatl commented on #24200
Application details
   **Target fw** - 4.6.1
   **output type** - console application

**Build log** : Below is the error info from the build log. I replaced the project name and replaced by *** to remove propitiatory info

**==================================**
LC : error LC0000: 'Could not load file or assembly 'System.Data.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3

[2017-09-22 20:10] tannergooding commented on #20256
@joperezr, @AlexGhiondea (since it looks like you are the area owners).

Can this be moved to `ready-for-review`. It looks like the biggest question is around the `IComparable<int>` and `IEquatable<int>` contracts, but those should be resolvable during review.

[2017-09-22 20:31] softwaretecture commented on #24211
Based on the information provided here, I was able to make it work with just passing the certificate file "pfx" which was created with a private key like this:

makecert -r -n "CN=testCert" -pe -sv c:\temp\certPrivate.pvk c:\temp\certPublic.cer
pvk2pfx.exe -pvk c:\temp\certPrivate.pvk -spc c:\temp\certPublic.cer -pfx C:\temp\testCert.pfx -pi test

I was not including the private key in the PFX fil

[2017-09-22 20:39] MattGal commented on #24036
@stephentoub FYI, the port range has been changed on all Helix Fedora machines.  I validated this by running test bits built from 9/10 before the "skip on Fedora" behavior was added, and should fix this for .Open (CI) queues as well.

[2017-09-22 21:41] qmfrederik opened #24213 "Allow loading libgdiplus from NuGet packages"
I just kicked off a first test run of our software, migrating from CoreCompat.System.Drawing to System.Drawing.Common.

On Mac, all unit tests which use System.Drawing are currently red because `libgdiplus.dylib` cannot be located.

Although `libgdiplus.dylib` can be acquired via Homebrew, we try to make it a "plug & play" experience and ship `libgdiplus.dylib` as part of our self-contained app. `

[2017-09-22 21:41] qmfrederik commented on #24213
/cc @mellinoe @safern

[2017-09-22 21:54] CarolEidt commented on #23519
I'm fine with this in theory, but we need to ensure that we measure throughput as we expand the number of intrinsics that we support.

[2017-09-22 22:19] tannergooding commented on #23519
I agree.

With the sheer number of APIs we are doing, when an intrinsic is hit in the System.Runtime.Intrinsics namespace, there are going to end up being a number (possibly in the hundreds) of string comparisons to find the matching method (at least with my limited understanding of the NamedIntrinsics feature).

I think we'll end up needing to find an alternative way to match these intrinsics qui

[2017-09-22 22:28] 4creators commented on #23519
AFAIR the proposal by @fiigii was to use binary search to get it fast

[2017-09-22 22:40] CarolEidt commented on #23519
That *may* be sufficient, but I still think it is going to be critical to measure each step along the way, so that we know where we stand.

[2017-09-22 22:50] tannergooding commented on #23519
@CarolEidt, at one point (before the Intel proposal went up), I had proposed that this be achieved via `[Intrinsic(IntrinsicId id)]`, where `IntrinsicId` was an enum that had a strict 1-to-1 mapping with an enum in the runtime (what is currently the `NamedIntrinsic` enum).

Outside of any cost required to get the value out of the attribute for a given method, it would be a constant time lookup, re

[2017-09-22 22:59] Drawaes opened #24217 "UWP - System.IO.File Tests failing on outerloop"
The test is just hanging on two unrelated PR's

https://mc.dot.net/#/user/Drawaes/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/46a30dd69c4652f1c4b4a09f645ed893136b5b9f/workItem/System.IO.FileSystem.Tests/wilogs

#23715
#24116

[2017-09-22 23:12] DrewScoggins commented on #24153
Sorry, this has taken a couple of days.  I have had some other stuff going on.

I looked into this and the problem seems to be happening in the GetBinPlaceConfiguration task.  In that task we setup the BinPlaceDir ItemGroup, but only do that if we have a definition of _currentBinPlaceConfigurations. This is not being set because of this condition, `Condition="'%(Identity)' == '$(Configuration)' OR

[2017-09-22 23:22] CarolEidt commented on #23519
@tannergooding - that might be a reasonable solution; it has all the earmarks of fragility (the two sides getting out of sync), but given that the name can be verified, certainly at least in a Checked/Debug build, it could be practical. I've always been told that attribute recognition is expensive in the runtime, except for those attributes that have specific metadata representations, so it would

[2017-09-22 23:30] tannergooding commented on #23519
I think that `[Intrinsic]` is already in that category (specific metadata representation), since it is what is being used by the `NamedIntrinsics` today, just that it doesn't take any parameters.

I think the general case is, if managed code uses an IntrinsicId that the runtime doesn't recognize, we will get a PNSE, but that was already the case today (if the runtime doesn't know to match the name

[2017-09-22 23:41] tannergooding commented on #23519
For reference, the existing check for `[Intrinsic]` is here: https://github.com/dotnet/coreclr/blob/master/src/vm/methodtablebuilder.cpp#L5086

I just don't know how expensive it is to pull out an enum value from it (although, I would hope it isn't terribly expensive, since something similar is done for `MethodImpl`).

[2017-09-22 23:52] zhenlan opened #24220 "SyndicationFeed: Change XmlReaderWrapper to XmlReader"
@ElJerry commented on [Fri Aug 04 2017](https://github.com/dotnet/wcf/issues/2159)

The current implementation of SyndicationFeed uses an XmlReaderWrapper, as Extension methods were added to XmlReader it is now not necessary to be passing around XmlReaderWrapper.

All XmlReaderWrappers have to be changed to XmlReader when possible.

[Reference](https://github.com/dotnet/wcf/pull/2028#pullrequestre

[2017-09-22 23:58] danmosemsft commented on #24153
@joperezr ?

[2017-09-22 23:58] danmosemsft commented on #24217
@jeremykuhne

[2017-09-22 23:59] danmosemsft commented on #24209
What distro is this?

[2017-09-23 00:02] jkotas commented on #23519
I believe that matching intrinsics using attribute that marks candidates (this is cheap to cache - single bit) and then do the lookup based on name is the right balance.

The current implementation of this scheme in the JIT has space for improvement. I expect that it will need to be turned into hashtable once the number of these intrinsics grows. Hashtable will turn it into one-time name compariso

[2017-09-23 00:05] jkotas commented on #23519
It is not.

I do not know what this is.

[2017-09-23 00:23] AndyAyersMS commented on #23519
I'd honestly be surprised if the current scheme can't be made to perform acceptably well. Given that we'll only resort to name comparisons when we actually have one of these new intrinsics to process, it is already in the pay-for-play category, and very little jitted code will play. It "radix decomposes" pretty nicely given the spread of the names across namespaces, classes, and methods

A similar

[2017-09-23 00:23] CarolEidt commented on #23519
By "those attributes that have specific metadata representations" I meant the "pseudo-custom attributes" as defined in II.21.2.1 of the spec. They are "attributes" that look like regular custom attributes, but which have dedicated bits in the metadata.

[2017-09-23 00:24] tannergooding commented on #23519
@jkotas, The `IntrinsicAttribute` is checked for here: https://github.com/dotnet/coreclr/blob/master/src/vm/methodtablebuilder.cpp#L5086

I don't know if that means it is in the category of specific metadata representation, just that the VM is doing the check for it regardless.

The above `IntrinsicAttribute` check ends up setting some flags which eventually routs down to `CORINFO_FLG_JIT_INTRINSI

[2017-09-23 00:26] CarolEidt commented on #23519
Right, and I've been concerned that the existing mechanism is unreasonably slow, i.e. the "pay" for the "play" isn't a good balance. But perhaps just switching to something reasonable instead of a linear search would be sufficient. Of course, measurements and data would be nice :-)

[2017-09-23 00:35] tannergooding commented on #23519
This is my concern as well.

The hardware intrinsics are expected to be used in very high-performance/core scenarios (reimplementing Math, String, Buffer functions are some primary examples in CoreFX itself).

Additionally, given how they are organized, we are going to have several hundred intrinsics in a single class (and Arm NEON, for example, doesn't have nearly the "ability" to split intrinsic

[2017-09-23 00:58] davidsh commented on #24211
Closing this issue since since the question was answered.

[2017-09-23 00:58] #24211 closed

[2017-09-23 01:25] AndyAyersMS commented on #23519
Generally string lookup against a fixed set of target strings should be logarithmic in the number of target strings. And since we have (effectively) a radix 50 or so encoding, the logarithm falls of quite sharply. Going from 1 target to 1000 targets should only increase lookup time by some small integer factor. Hashing can cut this down to something linear, should it matter.

The jit always has to

[2017-09-23 02:28] fiigii commented on #23519
Let's start with the current implementation of https://github.com/dotnet/coreclr/pull/14020 if it looks good to you all.
After enabling all the Intel hardware intrinsics (or a whole class), it may be the good time to measure the performance difference among these identifying strategies (e.g., sequential search, binary search, and hashtable, etc.).

[2017-09-23 03:57] jkotas commented on #24205
This would be pretty slow... .

[2017-09-23 06:33] danmosemsft commented on #24210
@ericstj ...

[2017-09-23 06:34] danmosemsft commented on #24210
oop, I see you're adding a reference by hand. I believe you have referenced the reference-assembly, which has no implementation in it. In the bin folder you'll see several assembly variants after you build. Look for the runtime ones, which are larger.

[2017-09-23 12:34] tiandian commented on #16761
I have almost the same problem as this, and i can confirm it is httpclient's problem.

and .net 2.0 still have this problem.

My asp.net core 2.0 webserver have five threads to download webpages, and these five thread share the same httpclient,  and use this httpclient in synchronously(client.GetAsync(url).Result), after download some pages, the whole web server will dead lock ,  but there are not

[2017-09-23 14:32] #22377 closed

[2017-09-23 16:11] dfederm commented on #8567
I have a quick and dirty fix for those looking for one. It allows parsing strings like "7.295232207972646e1336" and "7e1336". This does does some manual parsing of the number (gross) and then does multiplication for the exponent part. It's in no way a proper fix though, just works around this bug :)

[code]

[2017-09-23 18:42] Drawaes commented on #23177
Right, I have thought about this more, the string overload should be ditched entirely. There are consts for the common case, for anything else it's "advanced" and the user should control the string that is entered.

They can convert to UTF8 if they want, but there is no utf8 string type, so it's not clear what sending a string in will do. There is nothing in the spec about UTF8 but just opaque byt

[2017-09-23 18:46] benaadams commented on #23177
Common trap would be a binary Redis key/value which has an implicit conversion to string (without widening or narrowing)

So using a binary value from Redis would then get interpreted as Utf8 and either get every other byte eaten or produce an invalid Utf8 interpretation.

[2017-09-23 20:01] qmfrederik opened #24225 "X509Certificate2/CommonCrypto: Unable to open PKCS#12 files with no password and valid MAC"
If you have a PKCS#12 file which is not protected with a password, and which does have a MAC entry, opening the file will work on Windows and Linux but fails on Mac (which use CommonCrypto).

This is a regression on macOS as this worked with .NET Core 1.x (when using OpenSSL) and no longer works with .NET Core 2.0.

The following unit test reproduces the behavior:

[code]

The test passes on Windo

[2017-09-23 20:01] qmfrederik commented on #24225
/cc @bartonjs

[2017-09-23 20:08] qmfrederik commented on #24225
(updated the initial issue with the exception stack trace on macOS)

[2017-09-23 20:40] Tratcher commented on #23177
The spec does give utf-8 as a suggestion for defining spec values, and all of the current ones have used that encoding.

      identifies the protocol.  This could be the UTF-8 encoding
      [RFC3629] of the protocol name.

[2017-09-23 20:42] Drawaes commented on #23177
Right and all of the current ones that are relevant have a const.

[2017-09-23 21:03] Drawaes commented on #23177
I guess the real question is. What is the use case for passing in a string that is facilitated that warrants the potential issues?

[2017-09-23 21:35] qmfrederik opened #24226 "X509Certificate2/CommonCrypto: Exporting a certificate without a private key to a PKCS12 store with a password fails"
If you have a `X509Certificate2` object which represents a certificate without a private key, exporting that certificate to a Pkcs12 store will work on Windows and Linux but fails on Mac (which use CommonCrypto).

This is a regression on macOS as this worked with .NET Core 1.x (when using OpenSSL) and no longer works with .NET Core 2.0.

The following unit test reproduces the behavior:

[code]

Th

[2017-09-23 21:35] qmfrederik commented on #24226
/cc @bartonjs

[2017-09-23 21:36] dfederm commented on #8567
Also, I think the reason for 999 being the max exponent is mainly die to string length. When you do something like `BigInteger.Zero.ToString("e18")` then the result is 0.000000000000000000e+000. It looks like when using exponential formatting, it just always uses exactly 3 characters, no matter what the actual number of the exponent is.

I'm not sure that's a great reason for the restriction, but

[2017-09-23 21:48] benaadams commented on #23177
That different than automatically converting the input to the function from 2 byte per character representation (`string`) to a 1 byte per character representation (`utf8`) so it can match the on-wire representation.

When for example if it came from a redis key it would likely be in the on wire representation so you'd be dropping every other byte in the automatic conversion from `string` to `utf8

[2017-09-23 22:03] Drawaes commented on #23177
^^^ That. The unease I have is there is nothing saying "It's going to be assumed to be UTF8" in the API definition other than a comment. You could for instance have a
(ignoring shape and naming)

`CreateUTF8ApplicationLayerProtocolName(string inputString);`

Where it was clear what was going to happen, but to have an automatic overloaded constructor is problematic.

[2017-09-24 03:01] jnm2 commented on #24226
This is off topic, but I'm curious what the use case is for password-protecting a public key.

[2017-09-24 04:15] Tratcher commented on #23177
Some of your examples are copy paste and some are treating the input as dynamic. The copy paste seems far more likely, you don't add new protocols very often, and certainly not on the fly from redis.

The main scenario I see the string constructor being used for is when copy pasting new values from IANA list, which explicitly encourages utf-8 encodings.

I've been told several comparable platforms

[2017-09-24 04:37] jsgoupil commented on #14050
What is the recommendation to make this work on Azure. Everything works fine on my computer but on Azure, it gives me this error.

[2017-09-24 08:41] koenigst commented on #23151
I will extend ConnectHelper with cancellation support as this is the starting point from my point of view.

I still have some concerns about HttpConnectionPool. To support cancellation we would also have to extend the connection pool to support cancellation. This is a bit of a refactoring especially when there is no connection available and a ConnectionWaiter is enqueued. Would it be possible to s

[2017-09-24 09:16] Drawaes commented on #23177
Sure go takes a "string" but a string in Go is opaque bytes anyway not utf16 like a c# string

[2017-09-24 09:23] egbertn commented on #23229
I've investigated and lost lots of time on the issue too.
It basically starts, when MSBuild thinks you have a dependency on .NetStandard. That could be any Nuget Package, such as microsoft.aspnet.Odata 6.x or any package that references .NetStandard.
As soon as this get's into 'true', there is a boolean setting here
C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft

[2017-09-24 13:38] atifaziz commented on #22510
@karelz This issue was closed but then got assigned to [the 2.1.0 milestone](https://github.com/dotnet/corefx/milestone/12). Does that mean it is being addressed somehow now despite the technical challenges enumerated by @bartonjs?

[2017-09-24 15:56] j3vans opened #24227 "System.Management.Automation support on .NET Core"
Are there any plans to support running PowerShell runspaces/commands from within a .NET Core, this is the last thing preventing us from moving all our project to .NET Core.

Thanks!

@terrajobst

[2017-09-24 16:01] j3vans commented on #24227
Looks like this is possible:

https://github.com/PowerShell/PowerShell/tree/master/docs/host-powershell

[2017-09-24 16:36] sam-wheat commented on #17522
Thanks to @Kesmy for indirectly posting a fix that actually works!
@karelz  its time to get everyone in a room or on skype and get this fixed!  At this point this not just a development issue it is also a management issue.  Get the execs in the room and get the resources you need to get this done.

[code]

[2017-09-24 16:49] kazantsev-nikita commented on #24210
Thanks a lot. It helps.

[2017-09-24 16:49] #24210 closed

[2017-09-24 18:01] benaadams commented on #23177
Current usage without overload for a string would be this?
[code]

[2017-09-24 20:01] tintoy opened #24228 "AnonymousPipeClientStream.ReadAsync does not seem to support cancellation"
Hi.

After some experimentation, it seems to me that unlike `NamedPipeClientStream`, `AnonymousPipeClientStream` (or `AnonymousPipeServerStream` for that matter) does not support cancellation (because there's no way to open the pipe in async mode and so `Stream.ReadAsync` is used instead of `PipeStream.ReadAsyncCore`). This is a little painful because it means there's no way to "unblock"  a pendin

[2017-09-24 20:37] softeering opened #24229 "System.Data.SqlClient throwing System.PlatformNotSupportedException when loaded via reflection"
System.Data.SqlClient does not work when loading the external library (.NET Standard DLL) at runtime through reflection except if the library has been published for a specific platform (rid).
Trying to execute a SQL query against a SQL Server instance throws "System.PlatformNotSupportedException: System.Data.SqlClient is not supported on this platform" exception.

Repro steps and Visual studio sol

[2017-09-24 22:06] gimpf commented on #14354
@tannergooding @morganbr Some nice and some important updates.

Important first:
* I fixed some combine-implementations which were producing incorrect hash values.
* The benchmark suite now works harder to avoid constant folding. City64 was susceptible (as was murmur-3-32 in the past). Doesn't mean that I understand every result now, but they are much more plausible.

Nice things:
* Combiner imple

[2017-09-24 23:05] mguinness commented on #24160
A suggestion for System.IO APIs is that when paths with trailing spaces or periods are passed without the extended device syntax, a logging warning is generated notifying that Win32 path normalization will occur.

[2017-09-24 23:53] bartonjs commented on #24226
Yep, this is a known problem, documented on https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md#writing-a-pkcs12pfx.

The ideal case would be that Apple fix this, which would require people to complain via https://developer.apple.com/bug-reporting/.

[2017-09-25 01:07] cydhaselton commented on #21503
Briefly checking in on this issue; work at the day job has increased exponentially since this issue was posted so I've less time to contribute to this effort.

Has there been any progress on new RID build docs?
copying @janvorli  and @weshaggard for progress

[2017-09-25 02:05] Jiayili1 commented on #23877
This issue is repro in debian8.4_release, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/debian8.4_release/3880/

[2017-09-25 04:24] carlowahlstedt commented on #22463
@geleems I created the config file in `~/.ssh/config` and added these two settings.
[code]
I then restarted but realized I should have first gone back through the [original setup document](https://github.com/Microsoft/vscode-mssql/blob/master/KERBEROS_HELP.md). After I did that, it connected! So, looks like that document needs updated with your suggesting of adding these two lines into an ssh conf

[2017-09-25 04:40] dsplaisted commented on #23229
This issue should be [fixed in VS 15.4](https://github.com/dotnet/sdk/pull/1582).

@egbertn See https://github.com/dotnet/standard/issues/481 for some background around the DLLs that are added and some of the issues that exist.  We're not aware of any issues where an "older" version of a DLL will be incorrectly chosen over a "newer" one.  In fact, we have a "Conflict Resolution" target which compa

[2017-09-25 06:01] mickbyrne commented on #19914
Is there any kind of fix for this yet? I've got a console app on .NET Framework 4.7, using the latest version of Visual Studio for Mac which comes with Mono 5.2.0.224. I get this error even after deleting the `System.Net.Http.dll` from my bin directory.

[2017-09-25 06:14] Jiayili1 commented on #24114
failed again in Master branch, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170925.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SocketOptionNameTest~2FMulticastInterface_Set_AnyInterface_Succeeds

[2017-09-25 06:35] movna commented on #8807
Any movement on this? Using AAD for Azure SQL is the most secure way available now and having support for this is a must. Thanks.

[2017-09-25 07:19] hmvs commented on #24209
Host: Amazon Linux  **amzn-ami-2016.09.f-amazon-ecs-optimized (ami-b2df2ca4)**
Docker image: **aspnetcore-build:1.1.4**
Update to **aspnetcore-build:1.1.4** didn't help. Still having issues. Will try bumping ulimit.

[2017-09-25 07:41] leedavi commented on #24229
I have a the same error runing a different code set.  The erorr is thown on the SqlConnection action.

[2017-09-25 08:25] qmfrederik commented on #24226
@bartonjs Looking at that list, it appears the issue on macOS is writing PKCS12 files which contain no private keys.

Is it an option to have corefx do that in managed code instead of calling the native layer?

(For now, my workaround will most likely be to use BouncyCastle for that)

[2017-09-25 12:37] khellang commented on #23312
Did this end up getting reviewed? 👼

[2017-09-25 14:16] gummadikalyan commented on #22469
Why System.ComponentModel.Composition is not available in .Net core 2.0?
i need this for [PartCreationPolicy(CreationPolicy.Shared)] is there any other way to migrate in to .net core 2.0?

[2017-09-25 14:43] stephentoub commented on #24036
Thanks, @MattGal!

[2017-09-25 15:08] spottedmahn commented on #19928
For me, it is syntax and debug-ability.  Interesting discussion in API review.

[2017-09-25 15:35] KrzysztofCwalina commented on #19928
Yeah, I agree with have a problem with syntax and to some extent debug ability. It would be good to fix both. @jaredpar and I worked on a project trying to address the syntax issues, and I think it was very promissing. For example, what if you could do:

[code]

[2017-09-25 15:55] tlbdk commented on #18873
Any update on this, it would be nice to have any client side certificate support on mac

[2017-09-25 16:11] EssenRoc opened #24232 "HttpClient with Certificates not supported"
**system: centos 7.3
runtime: dotnet core 2.0.0**

Code:
[code]

Error:
[code]

[2017-09-25 16:12] stephentoub opened #24233 "CategoryAttributeTests.Ctor_Default failed on netfx in CI"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/3615/consoleText
[code]

[2017-09-25 16:24] karelz commented on #8807
@divega @saurabh500 @corivera can comment on progress / prioritization / workarounds, given we have 10 votes now.
AFAIK we didn't start any work yet.

[2017-09-25 16:31] karelz commented on #22510
No, milestone just captures when it was closed, it does not imply resolution as Fixed.

[2017-09-25 16:57] danmosemsft commented on #23312
@khellang nope, but I'll try to get it brought up tomorrow.
cc @terrajobst

[2017-09-25 17:03] danmosemsft commented on #24233
Odd. I don't repro this locally, and nothing seems to have changed recently.

[2017-09-25 17:05] stephentoub commented on #24233
It's most likely a race condition.

[2017-09-25 17:06] danmosemsft commented on #24233
Ah, I already fixed in 013e8523390a41deb3eb8c803b3822f5bc1cc368

[2017-09-25 17:09] danmosemsft commented on #24233
@maryamariyan can you please disable this test for desktop framework, by adding this attribute to the test method:
`[SkipOnTargetFramework(TargetFrameworkMonikers.NetFramework)] // NetFX does not have fix for #21369`

[2017-09-25 17:09] danmosemsft commented on #24233
[sincey ou're the owner of component model :)]

[2017-09-25 17:13] Code-DJ commented on #22463
@geleems This did not work for me. Note: My mac is domain joined. I login as the domain user to the mac.

Created ~/.ssh/config file (was missing):
GSSAPIAuthentication yes
GSSAPITrustDNS yes

Created /etc/krb5.conf file (was missing):
[libdefaults]
    default_realm = DOMAIN.COM

[realms]
DOMAIN.COM = {
    kdc = adservername.domain.com
}

Ran:
kinit myuser@domain.com
entered my domain password.

[2017-09-25 17:13] mellinoe commented on #24213
I don't think there is a clean way to support this right now. We will probably need an interface to the runtime that will enumerate the native search paths for us. At the moment, I don't think we can reliably emulate the search paths that the runtime uses without that. We could special case the application's base path, which would allow published applications to locate and load the binary.

@russe

[2017-09-25 17:15] jairbubbles commented on #19928
For the debug-ability issue maybe we should allow attributes on catch statements, allowing to give further information to debugger (similar to [DebuggerStepThroughAttribute](https://msdn.microsoft.com/en-us/library/system.diagnostics.debuggerstepthroughattribute(v=vs.110).aspx)).

That being said I'll let smart people make the necessary modifications 😸

[2017-09-25 17:19] danmosemsft commented on #24229
The SqlClient package contains a "default" implementation for OS other than Unix/Windows which as you found throws an exception indicating it is dummy - does not work.

What are you trying to achieve? Can you load the Windows or Unix one instead?

[2017-09-25 17:19] danmosemsft commented on #24229
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System.Data.SqlClient.csproj#L9

[2017-09-25 17:22] danmosemsft commented on #24227
@j3vans is there an issue tracking this in the powershell repo? It would be that repo who would do the work. Of course if we have some blocking issue we would like to hear about it so we can help.

[2017-09-25 17:26] joperezr commented on #21825
Hey @hughbe still interested in doing this? if not then we can flag it as up-for-grabs

[2017-09-25 17:27] joperezr commented on #21982
@RehanSaeed did you ever figure this out? @kouvel in case he didn't can you please help?

[2017-09-25 17:28] joperezr commented on #22076
@kouvel is this expected?

[2017-09-25 17:50] hughbe commented on #21825
Unfortunately I'm probably not going to have the time so please. Thanks!

[2017-09-25 17:54] spottedmahn commented on #19928
This discussion seems similar to Enum.Parse and Enum.TryParse, no?  I was very happy when Enum.TryParse was introduced 😄

[2017-09-25 18:25] joperezr commented on #22142
hey @bencyoung , have you tried this again with netcoreapp/netstandard 2.0? I ask because we added some tooling fixes that would add a reference to a compatibility package that will make referencing net461 dependencies work, so I wonder of that fixes your problem. Let me know if you still see the issue.

[2017-09-25 18:31] #23085 closed

[2017-09-25 18:41] joperezr commented on #23213
@FransBouma does it sound fair to close this issue for now, and re-open it in case you find one more type that is not in the list provided by @danmosemsft ?

[2017-09-25 18:44] joperezr commented on #23240
Given the above discussion, it doesn't seem there is enough value to add this, so I'm closing this for now. Please do feel free to re-open if there are new scenarios that would make this API more valuable.

[2017-09-25 18:44] #23240 closed

[2017-09-25 18:47] jnm2 commented on #19928
Relevant: https://github.com/dotnet/csharplang/issues/220, https://github.com/dotnet/csharplang/issues/786

[2017-09-25 18:49] danmosemsft commented on #22469
@gummadikalyan this is tracked by https://github.com/dotnet/corefx/issues/11857. We haven't got a lot of interest so far. You might add your request there to help priortize.

[2017-09-25 18:51] jnm2 commented on #19928
Also https://github.com/dotnet/roslyn/issues/16072, and my opinion on it: https://github.com/dotnet/roslyn/issues/16072#issuecomment-269087809

[2017-09-25 19:02] #24233 closed

[2017-09-25 19:02] jairbubbles commented on #19928
I feel like whe should focus on the debug-ability problem. Maybe in another issue?

`TryGetAssemblyName` is not going to happen as there's no performance issue with the try / catch pattern. Anyone can just add a new function which encapsulates it, everyone is happy, it's readable and the performances are the same. Moreover `GetAssemblyName` is clearly less used than `Enum.TryParse` or `int.TryPars

[2017-09-25 19:08] elsyms commented on #24232
Have you tried updating libcurl? You're nearly 20 minor versions behind the latest stable release.

[2017-09-25 19:15] FransBouma commented on #23213
@joperezr Yes it's OK to close this. We're done porting our library to .netstandard and haven't found any more types but if we do in the future, I'll re-open it.

[2017-09-25 19:15] #23213 closed

[2017-09-25 19:31] danmosemsft commented on #19928
@KrzysztofCwalina how would you feel about `AssemblyName.GetAssemblyName(string assemblyFile, bool throwOnInvalidAssembly).` ? It's Try under another name, but at least it wouldn't establish a precedent.

[2017-09-25 19:51] KrzysztofCwalina commented on #19928
If the only debugability problem we have in the Framework is throwing GetAssemblyName, then we should just add whether we need/want. But I think the issue is general; it's not just about GetAssemblyName.

[2017-09-25 19:54] joperezr commented on #24026
cc: @kouvel

[2017-09-25 19:54] softeering commented on #24229
I'm trying to load a .NET Standard external assembly (one I wrote) via reflection. This assembly depends on System.Data.SqlClient but when I try to open a SqlConnection, the exception above is thrown.

FYI:
- The OS is Windows and not a "dummy" one
- Executing the code works if my .NET Standard assembly is referenced in the .NET Core console app (instead of using reflection)

As a reminder, deeper

[2017-09-25 20:19] danmosemsft commented on #24229
Thank you for the repro. I see the no-rid publish gives
[code]

The SqlClient next to your app is of course the throwing one. So your question is how to load and execute  code in ClassLibrary1.Implementation.dll in such a way that it knows to load `runtimes\win\lib\netstandard2.0\System.Data.SqlClient.dll` instead of the System.Data.SqlClient.dll right next to it.

@weshaggard can you answer that?

[2017-09-25 20:22] #24191 closed

[2017-09-25 20:23] #24179 closed

[2017-09-25 20:23] EssenRoc commented on #24232
@elsyms  Thank you [https://github.com/dotnet/corefx/issues/9728#issuecomment-286251370](url)

[2017-09-25 20:23] #24232 closed

[2017-09-25 20:37] softeering commented on #24229
Yes it seems to be the issue.
The wrong System.Data.SqlClient.dll gets loaded when ClassLibrary1.Implementation.dll is loaded via reflection from the Console app (and works when ClassLibrary1.Implementation.dll is directly referenced in the console app)

[2017-09-25 20:44] softeering commented on #24229
FYI, if you delete the System.Data.SqlClient.dll under the root folder, the console app is not able to automatically load the one under the "runtimes" folder. You then get this error:
[code]

[2017-09-25 20:47] stephentoub opened #24240 "No successful code coverage CI run since July"
https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/

:frowning:

[2017-09-25 20:54] joperezr commented on #24093
flagging this as up-for-grabs for now.

*Next Steps*: What we are looking for is: a formal proposal that will include the feedback from above (the actual naming of the type, and the advantages of using this as opposed to just using an Int32).

[2017-09-25 20:57] weshaggard commented on #24229
Is there a reason you are creating your own custom AssemblyLoaderContext? When you create your own context you are responsible for finding and loading the correct assembly yourself. In your case line https://github.com/softeering/NETStandardSQLClientRepro/blob/master/ConsoleApp1/ConsoleApp1/Program.cs#L51 is trying to load an assembly by the same name in the root folder so when you delete it that

[2017-09-25 21:00] carlowahlstedt commented on #22463
@Code-DJ What version of macOS are you running? The [release notes for v1.1 of the mssql extension](https://github.com/Microsoft/vscode-mssql/blob/master/README.md) states:

[2017-09-25 21:21] joperezr commented on #22997
@tarekgh how often does this fail in Server Core? if this is often then it might be worth disabling it as you propose.

[2017-09-25 21:28] tarekgh commented on #22997
@danmosemsft is the one who logged the original issue #22656 he may tell more about this failure.

[2017-09-25 21:32] muratg commented on #24090
Folks, who will be fixing this one, and is there an ETA?  My understanding is that we'd like to get this in to unblock consuming 2.1 runtime builds.

cc @mikeharder @natemcmaster @pakrym @Eilon

[2017-09-25 21:35] eerhardt commented on #24090
@muratg - if the project targets `netcoreapp2.1` TFM, then this scenario should work correctly.

This scenario is for the case where the project targets `netcoreapp2.0`, and then tries to run on the `2.1` shared framework.  This is a new scenario that we haven't supported previously.  Previously we only supported running on the same major/minor version of the shared framework as what the project w

[2017-09-25 21:37] Code-DJ commented on #22463
@carlowahlstedt macOS Sierra.

[2017-09-25 21:40] khellang commented on #23312
No stress. I just heard some rumors about reviews coming up and thought I'd ask :smile:

[2017-09-25 21:47] mellinoe commented on #24240
It looks like the tests have been failing on the FileSystem tests for a long time. The test that is failing is this one:
https://github.com/dotnet/corefx/blob/3f6fc6bdb578cfa06324735a2fcab09decced96a/src/System.IO.FileSystem/tests/Directory/Delete.cs#L260

 I opened up the latest crash in the debugger, and it has this call stack:
![image](https://user-images.githubusercontent.com/8918977/30832305-

[2017-09-25 21:52] mellinoe opened #24242 "RecursiveDelete_DeepNesting fails due to StackOverflowException under Code Coverage"
This happens on our CI machines, at least.

Call stack from a recent Code Coverage run:

![image](https://user-images.githubusercontent.com/8918977/30832720-02d303a4-a201-11e7-8667-7bf06a6b653a.png)

@JeremyKuhne

[2017-09-25 21:52] mellinoe commented on #24240
I filed https://github.com/dotnet/corefx/issues/24242 to disable the test against for now.

[2017-09-25 21:56] Priya91 commented on #23177
@Drawaes Can you please revert the changes you did to the top issue comment? The last proposal update was done after an api-review meeting, we don't want the top comment changed without an api-review.

cc @karelz

[2017-09-25 21:57] carlowahlstedt commented on #22463
I also think I had to update OpenSSL for some other tool I used. Not sure if that's applicable here. I believe I used Homebrew to do the update. You could potentially try that.

[2017-09-25 22:02] EssenRoc commented on #24232
[code]
[code]
`mv /usr/bin/curl /usr/bin/curl.bak`
`ln -s /usr/local/curl/bin/curl /usr/bin/curl`

[2017-09-25 22:11] Drawaes commented on #23177
I only removed the string overload which wasn't discussed at the API Review meeting, and was only added 4 days ago, unless there was a meeting that I didn't know about?

That was this comment
(Comment where it was added)[https://github.com/dotnet/corefx/issues/23177#issuecomment-331490960]

[2017-09-25 22:12] Code-DJ commented on #22463
@carlowahlstedt I had 1.0.2k 1.0.2l and it shows that it is the latest version. Thanks.

[2017-09-25 22:14] Priya91 commented on #23177
@Drawaes Yes there was another meeting to follow up on the open questions from initial review. And the meeting notes 22-sept-2017 was the result of that.

[2017-09-25 22:17] danmosemsft commented on #22997
Did it in  612c36d672297d0308058e1edc803a19dba9811d

[2017-09-25 22:17] #22997 closed

[2017-09-25 22:31] stephentoub commented on #24190
Yes.  It's not a wonderful mechanism and is hopefully only temporary until we have something better, but it does work.

[2017-09-25 22:31] #24190 closed

[2017-09-25 22:35] benaadams commented on #23177
Looking it another way
[code]
Would potentially output `false`?

[2017-09-25 22:40] joperezr commented on #21825
@hughbe  no problem, thanks for reporting the problem!

*Next Steps*:
 - Let's keep this issue specific to Format Exception on dateTime objects. The idea next, is to figure out what info do we want to add to the exception.

cc: @tarekgh since he is familiar with the type.

[2017-09-25 22:42] benaadams commented on #23177
Whereas

[code]
Would return `true`?

[2017-09-25 22:48] joperezr commented on #20256
that seems reasonable. Marking it as ready-for-review.

[2017-09-25 22:53] benaadams commented on #23177
Except... it needs a `ReadOnlyMemory<byte>` .ctor; as you can't currently do that ☹️

`Protocol` is `ReadOnlyMemory<byte>`; and there is only an `byte[]` .ctor.

So the constructor <-> object symmetry for `SslApplicationProtocol` is currently broken. You cannot take the output properties of a `SslApplicationProtocol` and create another that is equal.

* `ToString()` output could be invalid when pu

[2017-09-25 23:05] Drawaes commented on #23177
I agree as it stands the API for the protocal is asymmetrical which is problematic for any API.

[2017-09-25 23:25] joperezr commented on #24153
I'm pretty sure that this is caused by the recent changes that @safern made around changing the testPath location. The reason why I think that is that I tried this out locally and both the test assembly and the PerfRunner.exe where dropped to `corefx\bin\Windows_NT.AnyCPU.Release\System.Collections.Performance.Tests\netcoreapp` folder, which is what we used to have before his change. On the other

[2017-09-25 23:28] safern commented on #24153
Yes this looks like it’s affected by my change. I might have missed to include the bin placing configuration when running perf tests. I will take a look. Self assigned.

[2017-09-25 23:29] mellinoe commented on #24153
Thanks for looking into it! If there was something that recently changed the test paths, then I would definitely think that it is related.

[2017-09-25 23:37] tarekgh commented on #21825
More info in the exception makes sense to me. there are some places deep in the stack that may not have enough context but at least can display something helpful.

[2017-09-26 01:40] Jiayili1 commented on #23121
failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/178/testReport/System.Net.Sockets.Tests/DualModeConnectionlessReceiveMessageFrom/ReceiveMessageFromAsyncV4BoundToAnyMappedV4_Success/

[2017-09-26 01:41] alewmt opened #24246 "Add method RemoveOrUpdate to ConcurrentDictionary"
It would be very useful to have the ability to conditionally remove or update `ConcurrentDictionary` entry. It already has `AddOrUpdate`. Right now I can't use `ConcurrentDictionary` in ref counting scenarios, because I can't check reference count and remove it if value is 0 and forced to use common `Dictionary` with `lock`.

[2017-09-26 02:51] jnm2 commented on #24246
With `AddOrUpdate` you don't get to decide whether to add or update. It adds if the key doesn't exist and updates if it does.

With your `RemoveOrUpdate`, it sounds like you want a way to decide whether to remove or update. Why is this necessary for reference counting? When the count gets to zero, what's the issue you're facing with leaving it in the dictionary?

[2017-09-26 03:27] JustArchi opened #24249 "Managed WebSocket implementation on Windows 7?"
Recently we've stumbled upon particular issue of Windows 7 SP1 not supporting WebSockets natively, as they were introduced in Windows 8 / Server 2012. Check out https://github.com/SteamRE/SteamKit/issues/455 as a reference of original issue.

Since there is managed implementation of websocket that is apparently **[already possible to be used on Windows](https://github.com/dotnet/corefx/blob/master

[2017-09-26 03:30] davidsh commented on #24249
Duplicate of #9503.

[2017-09-26 03:30] #24249 closed

[2017-09-26 03:32] JustArchi commented on #9503
Bump, is there any progress on this? We've stumbled upon this exact issue in #24249 as well as https://github.com/SteamRE/SteamKit/issues/455. It'd probably be a good idea to address this.

[2017-09-26 04:11] leedavi commented on #24229
In my case I'm trying to create a DB provider, for an application, so it can use multiple databases.

And I am using:

var myAssembly = AssemblyLoadContext.Default.LoadFromAssemblyPath(<assembly path for System.Data.SqlClient>);

However I have a 3 level architecture and I do call this from  the 2nd level, the 3rd level being the actual provider which calls the connection method from System.Data.C

[2017-09-26 04:43] Petermarcu opened #24250 "System.IO.Directory.Delete should check for the name surrogate bit on reparse tags before deciding if it should enumerate directories with reparse points"
Copied from internal bug 402782

System.IO.Directory.Delete recursive delete will not recurse through directory placeholders as it should (directory placeholders are a feature of GvFlt and the
container filter).

Christian Allred [callred] found that the Delete code "will avoid trying to enumerate directories that are any kind of reparse point, rather than just name surrogates ... It should be fix

[2017-09-26 04:46] Petermarcu opened #24251 "System.Console intellisense text not localized"
![image](https://user-images.githubusercontent.com/8228359/30842958-e506af44-a23a-11e7-8679-de08a01ef3d2.png)

[2017-09-26 05:31] leedavi commented on #24229
I'm using this code to initialize the provider...

        public override void Connect(string XmlConfig)
        {
            var nbi = new NBrightInfo();
            nbi.XmlString = XmlConfig;

            foreach (var nod in nbi.XMLDoc.XPathSelectElements("genxml/dependancy/*"))
            {
                AssemblyLoadContext.Default.LoadFromAssemblyPath(nod.Value);
            }

[2017-09-26 05:54] Jiayili1 commented on #19701
Following test: System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test.GetAsync_MaxLimited_ConcurrentCallsStillSucceed failed with same issue, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/271/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_MaxConnectionsPerServer_Test/GetAsync_MaxLimited_ConcurrentCallsStillSucce

[2017-09-26 07:28] hmvs commented on #24209
Seems to be Increasing ulimit helped. But from my point of view it's workaround.

[2017-09-26 07:50] tomcarver commented on #23344
FYI I had this issue locally, and fixed it just by deleting my bin folder and trying to build again.

[2017-09-26 08:11] strombringer commented on #23686
Just an FYI: The extension method doesn't generate xml in the same format as the original mscorlib method. For public keys it leaves empty tags for P, W, DP, DQ, InverseQ and D, whereas the mscorlib method just omits those tags:

**mscorlib:**
`<RSAKeyValue><Modulus>3ZWrUY0Y6...</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>`

**extension method**
`<RSAKeyValue><Modulus>3ZWrUY0Y6...</Modulus><Ex

[2017-09-26 09:27] vanillajonathan opened #24253 "StatusCode in HttpRequestException"
When the `EnsureSuccessStatusCode` method in the `HttpResponseMessage` throws a `HttpRequestException` exception it is not possible to determine the status code.

Add a new property named `StatusCode` to the `HttpRequestException` class which gets set by the `EnsureSuccessStatusCode` method of the `HttpResponseMessage` class.

## Rationale and Usage
Allows you to determine the status code which tr

[2017-09-26 09:37] stush opened #24254 "Azure KeyVaultClient -> GetSecretAsync failing on macOS High Sierra"
Hi.

Not sure if this is the right place for this issue, so please redirect me if not!

I have upgraded to macOS High Sierra only to find that my call with the dotnet core Azure KeyVault is failing.  I can't provide any exception details as I'm not getting an exception - execution just stops.

I have dotnet core V2.0.0 installed, but this is running as V1.1.2
I'm using the Microsoft.Azure.KeyVault

[2017-09-26 10:51] kazantsev-nikita commented on #23605
@tarekgh is there any progress in the System.DirectoryServices.Protocols publishing?

[2017-09-26 11:25] softeering commented on #24229
@weshaggard you're right, reason was simply a test for me. It didn't work with the default loader so I tried creating my own. I now understand where the problem could be.
I'll work to improve the loader in order to read other deps files and potentially visit the folder to find the right assembly since adding a reference to it is not a solution for me.

Thanks for the insight

[2017-09-26 12:12] los93sol commented on #23605
Been checking daily for a status update on package publishing, but so far haven't seen a new build pop up yet

[2017-09-26 12:55] stephentoub commented on #24209
What was it before you increased it?

[2017-09-26 13:00] sec opened #24255 "Unable to run tests on FreeBSD"
Hi,
I've compiled CoreCLR and CoreFX (both managed and native parts). Also did build-tests.cmd and copied them over to FreeBSD box. Now when trying to run the tests I get errors like:

`Cannot find /home/sec/core/corefx/bin/tests/Canonicalization.Tests/netcoreapp-FreeBSD-Debug-x64/RunTests.sh`

I'm missing something? I tried reading docs, but they seem little not up-to-date?

[2017-09-26 13:30] mludlum commented on #16991
Is there a way I can integrate this change to ObjectManager into my application without replacing the complete framework I'm pointing to?   There doesn't seem to be a way to substituted a type or it's methods without modifying the original type somehow.  I could do this easily in Java just by bumping a jar up in the classpath.

[2017-09-26 13:50] hmvs commented on #24209
Same exceptions as in first post.

[2017-09-26 13:55] stephentoub commented on #24209
I missed that you listed it in the third post above.  1024 is a fairly low limit for a server; if every connection had a single file descriptor open and you have "lots of connections to web api", you're going to overflow that, and most likely you've got more than a single file descriptor per connection (the inbound socket, the outbound socket, a descriptor related to a directory scan, etc.)  While

[2017-09-26 14:04] eerhardt commented on #23686
FYI - here's another user running into this problem: https://stackoverflow.com/questions/46415078/net-core-2-0-rsa-platformnotsupportedexception

[2017-09-26 14:09] bencyoung commented on #22142
I'm still getting the issue unfortunately.
[code]

[2017-09-26 14:10] bencyoung commented on #22142
The version of System.Runtime.Loader that's ending up in the bin folder is:

![image](https://user-images.githubusercontent.com/12084524/30864867-d14b7308-a2cc-11e7-9050-8ddac0ee7248.png)

[2017-09-26 14:13] vanillajonathan opened #24256 "GetValueOrDefault available for IReadOnlyDictionary but not IDictionary"
The `CollectionExtensions` extension class provides the `GetValueOrDefault` extension method.
However it extends classes that implement the `IReadOnlyDictionary` interface, hence its usable from `ReadOnlyDictionary` but not from a normal `Dictionary`.

Why isn't this extension method also available for the `Dictionary`?
Wouldn't it be nice if it were?
Perhaps another extension method that extends

[2017-09-26 14:15] davidsh commented on #24253
HttpRequestException is only thrown when an HTTP response can't be obtained from the server.  I.e. the server is down or other errors.  So, there is no HTTP status code received at all.

This is unlike HttpWebRequest API which will throw WebException for non-successful status code returns (i.e. not 2xx).  That API has a WebResponse in the WebException if the exception is being caused due to non 2x

[2017-09-26 14:15] davidsh commented on #24253
cc: @stephentoub

[2017-09-26 14:16] stephentoub commented on #24256
`Dictionary<TKey, TValue>` implements `IReadOnlyDictionary<TKey, TValue>`.

[2017-09-26 14:22] bencyoung commented on #22142
Here's a minimal reproduction

[BugDemo.zip](https://github.com/dotnet/corefx/files/1333506/BugDemo.zip)

[2017-09-26 14:28] #24254 closed

[2017-09-26 14:29] stush commented on #24254
Upgraded to dotnet core 1.1.4 solved this issue.

[2017-09-26 14:30] hmvs commented on #24209
Agree with you. But would be nice to reduce handles related to a directory scan. Is it possible to cache certificates?

[2017-09-26 14:33] vanillajonathan commented on #24253
@davidsh  `HttpRequestException` is thrown by the `EnsureSuccessStatusCode` method in the `HttpResponseMessage` class when `IsSuccessStatusCode` is `false`.

https://github.com/dotnet/corefx/blob/6b5ef121ebea45b14f489a177e2e3f27fce86781/src/System.Net.Http/src/System/Net/Http/HttpResponseMessage.cs#L148-L165

[2017-09-26 14:34] stephentoub commented on #24209
How many file descriptors do you see open from the directory enumeration?  At any given time during the enumeration I would expect there to be just one file descriptor open associated with it... are you seeing otherwise?

@bartonjs can comment best here.

[2017-09-26 14:57] benaadams commented on #20378
`StringSegment` has is usefulness over `ReadOnlyMemory<char>` when you need to give `string`, offset, length to an apis that don't understand ROM and wants strings as converting back to string becomes allocating and expensive.

However should be conversion from `StringSegment` -> `ReadOnlyMemory<char>`

[2017-09-26 15:00] Jenan commented on #24210
@kazantsev-nikita It seems you are trying to implement PrincipalContext with IdentityServer4, I am interested in this connecting - IdentityServer4 and AD via PrincipalContext - can you share your code in the future? :) Thank you.

[2017-09-26 15:01] stephentoub commented on #20378
Maybe, but `ReadOnlyMemory<char>` already has `DangerousTryGetArray` for getting out the underlying array/offset/length.  If `ReadOnlyMemory<char>` had support for `string`, you could imagine an API for extracting an object/offset/length as well, where object could be an array, a string, an OwnedMemory, etc.

[2017-09-26 15:03] migueldeicaza commented on #24093
I have updated the issue, both with the proposed API and an initial implementation:

https://github.com/migueldeicaza/NStack/blob/master/NStack/unicode/Rune.cs

As for the naming of the type, it is both a matter of having a place where you can look for the valid operations on the type, as well as having type-specific capabilities (see the implementation for some examples).

[2017-09-26 15:04] benaadams commented on #20378
That could work :)

[2017-09-26 15:14] hmvs commented on #24209
I haven't looked into it. Just thinking that listing a directory for each connection is an overkill. I might be wrong here.

[2017-09-26 15:57] davidsh commented on #24253
Yes, that is true. However, I don't quite see the value in adding a `StatusCode` property to the `HttpRequestException`.  In most cases, this property will be null.  In fact, it would have to be a nullable property since 0 can't be used since it could (in theory) be a status code.

What is the scenario where you need this property on the HttpRequestException object?

[2017-09-26 16:00] tarekgh commented on #23605
People around here working to get the builds back. Sorry for the delay but it is something out of our control. Hopefully, we'll get the builds soon. As suggested, if you really blocked you still have the option to build the library yourself and use it till you get the official one.

[2017-09-26 16:24] Clockwork-Muse commented on #24246
To clarify @jnm2, you should be able to counterfeit "removal" by checking count during the "get" update and recreate the item if the count is 0 (presumably the item was previously disposed when the count was set to 0).

@jnm2 -
Separately, I wonder if a `bool TryRemove(TKey key, out TValue value, Func<TValue, bool> currentValuePredicate)` overload would be useful?

[2017-09-26 16:30] karelz commented on #24256
We had the method on `Dictionary` and extension of `IDictionary`. We pulled it out - here's why: #17917.

[2017-09-26 16:30] #24256 closed

[2017-09-26 16:34] weshaggard commented on #24229
If you cannot or do not want to have the application reference these packages then you will need to include a deps (or a deps like file) with your provider that you are loading dynamically and use that information in your custom AssemblyLoadContext to load the correct assembly. The default AssemblyLoadContext will only be able to able to find and load assemblies that are in the applications deps f

[2017-09-26 16:35] karelz commented on #24255
Which docs did you read? What is not up-to-date?
Running the test did not start yet AFAIK and is not documented on [wiki](https://github.com/dotnet/corefx/wiki/Building-.NET-Core--2.x-on-FreeBSD). cc @wfurt
I don't think @wfurt

[2017-09-26 16:40] karelz commented on #24229
The question seems to be answered, can we close the issue?
Or is there some remaining question still open?

[2017-09-26 16:40] #24229 closed

[2017-09-26 16:43] wfurt commented on #24255
check if the script has executable flag @sec

I'm in process getting that ready. I had troubles with the test version as well as there is something broken badly broken as most tests simply fail on me with System.NullReferenceException : Object reference not set to an instance of an object.

Also System.Console did not work right so I was getting very little output from test run.
My goal was to get

[2017-09-26 16:43] karelz commented on #24227
It does not seem to be related to .NET Core itself - please raise it as a question on PowerShell repos. Thanks!

[2017-09-26 16:43] #24227 closed

[2017-09-26 16:50] rdbossjr commented on #23605
Thanks for working on this!

[2017-09-26 16:59] geoffkizer opened #24257 "Respect DNS TTL"
See #11224 for details on the issue

[2017-09-26 17:14] mellinoe commented on #24240
The build currently running should have the problematic test disabled:

https://ci.dot.net/job/dotnet_corefx/job/master/job/code_coverage_windows/329/

[2017-09-26 17:20] wfurt opened #24259 "FreeBSD: System.Console is not working right"
This is because terminfo database is missing in default installation.
I tried to add ncurses package from ports.
That only creates /usr/local/share/misc/terminfo.db
And the terminal information is kept in hashed form.

We shall investigate.

[2017-09-26 17:39] ericstj commented on #23344
@erikbra correct, netstandard doesn't need to be in the mix, just packages which have runtime-specific assets.  Targeting netstandard just happens to be a way that folks might bring in those packages.

[2017-09-26 17:44] terrajobst commented on #21537
We'll discuss the OOB separately. Let's remove the size parameters; if they are needed we can them back. But as it stands it looks weird to pass in sizes and a buffer.

[code]

[2017-09-26 17:45] terrajobst commented on #21537
We still need to decide on OOBing

[2017-09-26 17:52] danmosemsft commented on #23312
@khellang do you want to put up a PR?

[2017-09-26 17:52] terrajobst commented on #23312
Looks good as proposed

[2017-09-26 17:52] terrajobst commented on #23312
Looks good as proposed

[2017-09-26 18:00] terrajobst commented on #21472
API looks good, but we should swap the arguments passed to the func to match the `ReadOnlySpanAction<T>`:

[code]

[2017-09-26 18:09] Drawaes commented on #23177
@Priya91 One issue I have with the meeting, was not that it took place, that is fine if you needed to sort stuff out. But that it wasn't mentioned other than by updating my top comment, just that there was an API change. Now its partially a failure of GH in that you don't get notified for changes to a comment, only to new comments so I was blissfully unaware and could not understand why the API ha

[2017-09-26 18:33] Alois-xx commented on #16991
The next .NET Framework update 4.7.3? will contain a fix for the regular .NET Framework. For .NET Core the fix is already in with .NET Core 2.0.

[2017-09-26 18:45] ayende commented on #23938
Another thing to add here. When testing, we noticed that we had 21KB of data in the SSL handshake just to send the TRUSTED_ISSUERS, I don't think that this is expected.

[2017-09-26 18:53] softeering commented on #24229
@karelz More or less answered yes.
Would be great if you can direct me to some examples on how to use the DependencyContextJsonReader class to then load dependencies at runtime based on the platform the code is running on

Thanks

[2017-09-26 19:21] qmfrederik commented on #24213
@mellinoe What I did to workaround that was to embed a 'lighthouse' library in my NuGet package. The only thing those libraries contain is a function that echos back the path at which the library is located (see [lighthouse.c](https://github.com/quamotion/adk-nuget/blob/master/AdkNuGetGenerator/lighthouse/osx/lighthouse.c))

So I could figure out the path to the dylib I want System.Drawing.Common

[2017-09-26 19:27] mellinoe commented on #24213
Before doing something like that, I'd like to look at the situation holistically and try to come up with a real solution. Right now, it feels like there is no way to portably handle this use case, which is bad for the whole ecosystem, not just System.Drawing.Common.

@russellhadley Perhaps you and I can sync up about this.

[2017-09-26 19:31] mellinoe commented on #24213
One thing I didn't mention is that, in my "nativelibraryloader" project, I do handle loading native binaries from nuget assets. https://github.com/mellinoe/nativelibraryloader/blob/master/NativeLibraryLoader/PathResolver.cs#L51

Unfortunately, it relies on Microsoft.Extensions.DependencyModel, which is probably a non-starter for a library in corefx. It uses the runtime dependencies file to locate

[2017-09-26 19:34] Drawaes commented on #23938
No considering the trusted CA extension is a list of either names (x509 names) or cert hashes (fingerprints) even with the small encryption and header overhead you would be looking at 48 ca' s minimum.

[2017-09-26 19:37] davidfowl commented on #21537
OOB it

[2017-09-26 20:31] mellinoe commented on #24240
There were two issues with that build:

* A sockets test failed. `System.Net.Sockets.Tests.SendReceiveSync.Receive0ByteReturns_WhenPeerDisconnects`

[code]

* The run timed out after starting the Transactions tests:

[code]

[2017-09-26 20:36] qmfrederik commented on #24226
Just as a FYI for others who may hit the same limitaiton, this is how, as a workaround, you can create the PKCS#12 store on macOS using BouncyCastle:

[code]

[2017-09-26 20:51] qmfrederik commented on #24225
@bartonjs Is this a known compatibility issue?
 From what I can gather, it's not listed at [cross-platform-cryptography.md](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md#writing-a-pkcs12pfx), so wanted to make sure.

[2017-09-26 20:58] shmao opened #24264 "Add Tests for Type Having Primitive Types as Known Types"
A user reported an issue with DataContractSerializer serializing types having primitive types as known types on UWP. The existing tests did not cover this scenario. We should add tests for this.

[2017-09-26 20:58] KrzysztofCwalina commented on #23177
Would the following not work?
[code]

[2017-09-26 21:00] shmao opened #24265 "DCS Failed to Serialize Types Having Primitive Types as Known Types on UWP"
A user reported an issue with DataContractSerializer serializing types having primitive types as known types on UWP. We need to make fix for this in UWP toolchain.

[2017-09-26 21:02] Drawaes commented on #23177
I think the point was you had to copy it out to an array when it ends up being read-only memory in the end again. Why not just take read-only memory in?

[2017-09-26 21:05] Tratcher commented on #23177
It is a little weird to use different types for the constructor and property. In some version of the proposal the constructor took `ReadOnlyMemory<byte>`. I'm not sure where that got lost.

[2017-09-26 21:09] mellinoe opened #24268 "PrintingServices.Unix.cs is not thread safe"
The function `LoadPrinters` is called in multiple places within this class, and modifies a static Hashtable storing the system's discovered printers. This function may also be called multiple times (even after initialization) if the system does not have any installed printers. It is possible for multiple calls to this function to occur at the same time, which will result in unpredictable problems,

[2017-09-26 21:12] khellang commented on #23312
I'll submit a PR. I think I have the code sitting in my fork somewhere :smile:

[2017-09-26 21:17] abatishchev commented on #14488
Why not make it public, or better extend the existing one?

[2017-09-26 21:42] qmfrederik commented on #24225
As a FYI for others who may hit the same issue, here's code that may act as a workaround based on BouncyCastle.

[code]

[2017-09-26 22:13] alewmt commented on #24246
In the case of `AddOrUpdate` decision based on existence of an entry. I suggest symmetric functionality that requires decision based on a value of an entry.
I can’t just leave zeroes. It causes `OutOfMemoryException`.
[code]
ConcurrentDictionary with current API is useless for this case.

[2017-09-26 22:26] anurse commented on #21537
As a data point: If it isn't OOBed it's going to be a long time before we can actually use it and we'll have to keep our code copying in place for quite a while, risking divergence if we aren't diligent about syncing.

[2017-09-26 22:30] danmosemsft commented on #24240
No need to wait another day. I just clicked Rebuild on it. (CAn't remember the difference between Rebuild and Retry..)

[2017-09-26 22:35] huanwu commented on #19727
In UWP, when generating the serializer code, it know the related type e.g. it will use type MyGenericType`1[[System.String,System.Runtime]] as the serializable type. But in SGEN, we don't know what's the related type.  So there's no easy way to fix that.

[2017-09-26 22:41] vanillajonathan commented on #24253
I've only come across `HttpRequestException` from `EnsureSuccessStatusCode` when dealing with `HttpClient` so I didn't know that it would be null in most cases, if so then perhaps they ought to be throwing different exceptions.

In my scenario I call a method that use `HttpClient` and when an exception is thrown from that method then I can catch it and if I had the status code available in the exc

[2017-09-26 23:19] joperezr commented on #24093
@migueldeicaza before flagging it as ready for review, what are your thoughts regarding the concerns on the actual naming of the type, do you think that perhaps CodePoint might be better in terms of describing what it the type is?

[2017-09-26 23:22] vanillajonathan commented on #24256
I see. So as I have come to understand it existed previously but was removed due to conflict when a class implements both the `IDictionary` and the `IReadOnlyDictionary` interfaces.

I find the `GetValueOrDefault` method to be very convenient as it is useful, concise and reduces boilerplate code. I appreciate its presence when using properties and methods with the type declared as `IReadOnlyDictio

[2017-09-26 23:29] Clockwork-Muse commented on #24246
Since I doubt you have _that many_ `ValueTuple`s, what's the type of `v`, and can you set it to null?

[2017-09-26 23:30] karelz commented on #24256
Read the rationale behind the interface choice: https://github.com/dotnet/corefx/issues/17917#issuecomment-298706121
Also note the principles we applied which lead to removal even of `Dictionary.GetValueOrDefault`: https://github.com/dotnet/corefx/issues/17275#issuecomment-291636863

[2017-09-26 23:33] danmosemsft commented on #14488
I'm guessing that since we didn't need it for our own purposes it was sufficient to just port a-is and so the original proposal got a bit lost.

@weshaggard what was the concern you had about @mellinoe 's proposal?

It would make it easy to create a library that would not load on desktop., however a new attribute would be no different, and the compiler would flag this when you targeted desktop.

[2017-09-26 23:34] karelz commented on #21537
Let's not forget also the option of the middle ground: Use same source code in CoreFX, but don't OOB the same types by changing namespace (the EventSource route).
Overall there is cost, risk and value to each of these 3 solutions. There is no clear winner.

[2017-09-26 23:37] danmosemsft commented on #24251
I assume thisi s .NET Core? Is this Console specifically, or all intellisense?

[2017-09-26 23:38] mellinoe commented on #14488
I never intended for this to turn into a public API proposal, really. We already have a new attribute that we are using locally in corefx. If someone has need of this as a general-use API, then i think they should file a separate API proposal through the regular process.

[2017-09-26 23:45] alewmt commented on #24246
In my case actual type of `v` is [AsyncLock](https://github.com/StephenCleary/AsyncEx/wiki/AsyncLock)
How can it help if I set it to null?

[2017-09-26 23:48] jnm2 commented on #24246
What if you use `SemaphoreSlim` which provides `WaitAsync` which my guess would be that `AsyncLock` is built on? That way you move the reference counting into the object and don't need a tuple.

[2017-09-26 23:50] jnm2 commented on #24246
I wonder if I can bother @StephenCleary- what's the best way to implement a keyed semaphore? Seems like mixing and matching synchronization primitives may not be ideal.

[2017-09-27 00:07] Clockwork-Muse commented on #24246
Hm, the other option would be just to remove the entry (capture the value during the initial update to check later), than add/update it again if it turned out to have been updated in between the update-for-decrement and remove.  Of course, that would mean the reference count could go negative, but we don't particularly care what the actual value is, so long as it's not zero

[2017-09-27 00:08] alewmt commented on #24246
@jnm2 Shared object actually is not shared. This is asp.net core app, so every request restores personal object from DB. There are many of them point to the same DB entity simultaneously. So there is no way to move sync object to the Object.

[2017-09-27 00:17] alewmt commented on #24246
@Clockwork-Muse If you remove an entry thinking that reference count is zero, but it is not. And after that somebody will create new entry, you will have two objects with two different AsyncLocks.

[2017-09-27 00:25] jnm2 commented on #24246
@alewmt I meant stop using `AsyncLock` and use `SemaphoreSlim` instead- the rest stays the same.

[2017-09-27 00:41] davidfowl commented on #21537
We'll keep copying source codez then.

[2017-09-27 00:49] alewmt commented on #24246
@jnm2 Tuple with counter is still required. Otherwise impossible to know when to delete entry

[2017-09-27 00:52] ApocDev opened #24271 ""Cyclic" (but not cyclic) generic structure results in ReflectionTypeLoadException"
In the full .NET platform, the following is a non-issue, however in .NET Core/Standard, it results in a ReflectionTypeLoadException (with a fairly useless exception message)

Given the following structures:

[code]

Notice that StructA has a reference to StructB, and vice versa, however neither structure actually implements a field containing either. (They boil down to `IntPtr Ptr`)

In the full f

[2017-09-27 00:57] darkengines opened #24272 "netcoreapp2.0 - System.AccessViolationException using native dll"
Sorry if this is not the right place for this issue.

## Steps to reproduce
Create a new netcoreapp2.0 project

- Add reference to Google.OrTools
- Set target platform to x64
- Use the following Main function:

[code]

- Run

## Expected  behavior
The solver should be instanciated and the program should terminate without exception.

## Actual behavior
The solver instanciation throws an exception:

[2017-09-27 01:02] leedavi commented on #24229
OK, I looked at the nugget packages and found, even though I used nugget to get the latest version, I assumed it was not using the latest version. (Or maybe not in some required context)  So moved this dll to my "lib" folder :

\.nuget\packages\system.data.sqlclient\4.4.0\runtimes\win\lib\netstandard2.0

I then used this dll in the lib folder as the dependency dll, I then got a new error, so I ass

[2017-09-27 01:31] leedavi commented on #24229
Unfortunately can't get sni.dll to load with AssemblyLoadContext.  Even when updating allnuget packages and trying all dll.  But I suppose that's another issue.

[2017-09-27 01:35] anurse opened #24273 "EventCounters not reporting data in 2.0"
I have a sample app that uses EventCounters: https://github.com/anurse/EventCounterTest

In the app, I write to an event counter every 100ms, and I configure a listener to aggregate event counters every 1s:

[code]

When I run the app in `netcoreapp1.1`, I get the following output:"

[code]

So the EventCounter is firing at the requested interval.

However, if I switch the target framework to `net

[2017-09-27 01:59] jkotas commented on #24272
Google.OrTools.dll is C++/CLI assembly. C++/CLI is not supported by .NET Core. We should try to add better error message for this instead of a random AV.

[2017-09-27 02:00] jkotas commented on #24272
This issue was moved to dotnet/coreclr#14212

[2017-09-27 02:00] #24272 closed

[2017-09-27 02:00] dotnet-mc-bot opened #24274 "Test: System.Drawing.Imaging.Tests.EncoderParameterTests/Ctor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Imaging.Tests.EncoderParameterTests/Ctor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException(numberOfValues: -1)` has failed.

Assert.Throws() Failure
    Expected: typeof(System.OutOfMemoryException)
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Drawing.Imaging.Tests.EncoderParameterTests.Ctor

[2017-09-27 02:02] dotnet-mc-bot opened #24275 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest / GetAsync_ServerNeedsNonStandardAuthAndSetCredential_StatusCodeUnauthorized"
## History of failures

Day | Build | OS | Error message
-- | -- | -- | --
6/15 | 20170615.03 | Win8.1 | The handle is invalid
9/27 | 20170927.01 | Win7 | A certificate is required to complete client authentication
10/4 | 20171004.02 | Win8.1 | The operation has been canceled
10/16 | 20171016.01 | Win8.1 | The operation has been canceled
10/21 | 20171021.02 | Win8.1 | The operation has been cancel

[2017-09-27 02:05] dotnet-mc-bot opened #24276 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_DangerousAcceptAllCertificatesValidator_Test / SetDelegate_ConnectionSucceeds"
## Types of failures

### WinHttpException

Failure in build 20171215.06:
[code]

### Win32Exception: The Local Security Authority cannot be contacted

Failure in build 20171020.01:
[code]

### IOException: Authentication failed because the remote party has closed the transport stream

[code]

## History of failures

Day | Build | OS | Error message
-- | -- | -- | --
9/27 | 20170927.01 | Win7 | Wi

[2017-09-27 02:10] Jiayili1 commented on #22085
failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170927.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test~2FGetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol:%20Tls,%20requestOnlyThisProtocol:%20False)

The test `System.Net.