[2018-02-07 18:15] jbednar79 commented on #26743
So I have data including application log files & system.trace & wireshark capture. Randomly chosen packet which have different times reported by Client / Server.

Same pattern:
**Client App [A1]** - HTTP operation took 1219ms:
[code]

**Server App [B1/B2]** - server responded in '0ms' [see time stamps]:
[code]

**Client App [A1] Tracing** - sending headers & data - time gap ~500ms:
[code]
after ~5

[2018-02-07 18:27] Priya91 commented on #26651
@rynowak We have a special case for LibreSSL in our code, where we use a single multi handler for all requests [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.cs#L199). So it could be possible that because your crypto backend is not openssl, and the same multi handle is being used you are hitting this issue.

[2018-02-07 18:49] rynowak commented on #26651
OK, I'll see what I can do to change this configuration and see if that fixes the problem. Hopefully this solves the mystery.

[2018-02-07 19:00] #22925 closed

[2018-02-07 19:12] pjanotti commented on #26754
In my local hits for this it was always coming from `System.Net.Http.Functional.Tests.ManagedHandler_ResponseStreamTest.ReadAsStreamAsync_ValidServerResponse_Success(transferType: ContentLength, transferError: None)`.

In the test code we are adding "\r\n" to the content, but those two are not part of the content length (which has length 30). If I am reading this right whenever `ContentLengthReadS

[2018-02-07 19:19] weshaggard commented on #25252
The RID for this was added in https://github.com/dotnet/corefx/pull/26439.

We just need to get some test images setup.

[2018-02-07 19:21] stephentoub commented on #26754
Thanks for digging into it, @pjanotti.

Yeah, seems like there are two issues here:
1. The test is wrong. https://github.com/dotnet/corefx/blob/25c4a916bf1f35be1d009b679b19f7ebea535647/src/Common/tests/System/Net/Http/LoopbackServer.cs#L259 shouldn't include \r\n.
2. The assert is highlighting a real issue in the code.  As @pjanotti states, we can't trust the server will be honest in this regard,

[2018-02-07 19:28] steveharter commented on #25037
The `libhostfxr.dylib` should exist in a `/host/fxr/<version>/` directory underneath the host executable (dotnet.exe), at least for portable apps. I don't see how it should ever be nested under in the framework directory `/shared/Microsoft.NETCore.App/<version>/` like some of the logs have.

[2018-02-07 19:40] JeremyKuhne commented on #20876
@niemyjski I made significant improvements to FillAttributeInfo. The marshaling involved now uses blittable structs and it only falls back to FindFirstFile in the needed error case. Some of the marshaling changes are in 4.7.2.

https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem/src/System/IO/FileSystem.Windows.cs#L191

The key place the existing code is still bad is that it try/

[2018-02-07 19:42] geoffkizer commented on #26754
Yep, agreed on all points.  We should also add tests that explicitly detect this case (server sends extra stuff, we fail the connection).

[2018-02-07 19:44] stephentoub commented on #26754
Yeah, although I think it will be difficult to test well.  There's a race condition here as to whether we receive the additional data as part of the same read and thus can tell prior to finishing the response stream and before returning the connection to the pool whether there's more data.  Otherwise it just ends up looking later like a connection we can't reuse because stray data was received.

[2018-02-07 19:47] geoffkizer commented on #26754
Yeah, but either way the connection shouldn't be reused.  I think we can add a test where we send a response with added junk, and then try to send another request and ensure that it happens on a second connection and the original connection is closed.

[2018-02-07 19:49] stephentoub commented on #26754
Yup.  It'll just be a small variation on the tests here: https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/ManagedHandlerTest.cs#L318

[2018-02-07 19:58] Ekkeir commented on #26889
@stephentoub , thank you for your explanation and help. Was out of my depth there. Porting legacy code can be tricky sometimes.
@karelz, the issue can indeed be closed, thank you.

[2018-02-07 20:00] stephentoub commented on #26889
Definitely :)

[2018-02-07 20:58] tmat opened #26935 "Add API for reading/writing PDB Checksum Debug Directory entry"
## Background

The CodeView debug directory entry in PE/COFF file associates the PE file with one or more PDBs. The CodeView entry and the PDB both store the same PDB ID (for Portable PDB it's 20B for Windows PDB it's 16B of data). Debuggers, symbol servers and other tools use the PDB ID to match the PE file with the PDB.

Although the PDB ID is good enough for finding the right PDB for the PE fil

[2018-02-07 21:05] TheMinefighter opened #26936 "Registry.GetValue returns an Int32 for REG_DWORD instead of an Uint32"
When you read a REG_DWORD value with Microsoft.Win32.Registry.GetValue it will return an Int32 but the Windows Registry Editor (Regedit.exe) interprets REG_DWORD as unsigned integers with an upper limit of 2^32-1 in the decimal input filed. If you read a REG_DWORD, which was set in regedit.exe to 2^32-1, C# will give you -1 in an Int32, but it should give you an Uint32 with the value 2^32-1. The s

[2018-02-07 21:24] peteraritchie opened #26937 "Consider moving System.Net.Mime.MedaTypeNames to System.Net.Primitives package"
`System.Net.Mime.MedaTypeNames` is used outside of Mail and is much a part of HTTP communications.  Without a `System.Net.Http.Primitives` package, `System.Net.Primitives` seems like a better place for types like this to exist.  HTTP in .NET Standard supports HTTP in versions lower than 2.0; but with `System.Net.Mime.MediaTypeNames` in its current location, it's not available for .NET Standard cod

[2018-02-07 21:46] ViktorHofer opened #26938 "Update EventSource.Redist nuget package description"
https://www.nuget.org/packages/Microsoft.Diagnostics.Tracing.EventSource.Redist/

Add a description to the nuget package that explains that EventSource is inbox in .NET Core / is part of netstandard2.0. This helps existing customers to understand why installing the package on .NET Core fails and why it only support netfx TFMs.

See https://github.com/dotnet/corefx/issues/7206

[2018-02-07 21:50] stephentoub opened #26939 "Turn on ILLinker's clearing of initlocals for corefx"
We should set ILLinkClearInitLocals=true, and fix any issues that result.

cc: @jkotas, @erozenfeld
https://github.com/dotnet/corefx/pull/25956

[2018-02-07 22:17] tannergooding commented on #26939
@stephentoub, Roslyn is adding support for an attribute that will do this in 7.3, should we have a separate issue to track using that instead of a post-IL rewriting phase?

[2018-02-07 22:20] tannergooding opened #26941 "Update the System.Math and System.MathF tests to cover some more edge scenarios"
Currently the System.Math and System.MathF tests explicitly test the upper/lower inputs as well as +0, -0, NaN, +Inf, and -Inf.

We should also explicitly test values between the lower limit and -Inf and between the upper limit and +Inf, where applicable.

[2018-02-07 22:20] tannergooding commented on #26941
FYI. @eerhardt

[2018-02-07 22:20] #16428 closed

[2018-02-07 22:21] tannergooding commented on #26939
See https://github.com/dotnet/csharplang/pull/1223

[2018-02-07 22:25] stephentoub commented on #26939
We already have the ILLinker as part of the corefx toolchain, so the work here is flipping a bit and then fixing any issues we find.  If/when there's subsequently a compiler feature, we could certainly switch to it.

[2018-02-07 22:28] eerhardt commented on #26941
See
https://github.com/dotnet/corefx/pull/26035#pullrequestreview-94886951
and
https://github.com/dotnet/corefx/pull/26035#pullrequestreview-94887794

[2018-02-07 22:57] stephentoub commented on #20024
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3b3ef4445dfa7d0e598572684e8045a1cf5deba1/workItem/System.Net.Http.Functional.Tests

[2018-02-07 22:58] #23142 closed

[2018-02-07 22:58] BruceForstall opened #26944 "Improvement needed to run tests with live CoreCLR"
There is an option to build corefx against live coreclr bits, passed to build.cmd as `-- /p:CoreCLROverridePath=<path>`. This option has been used in a CI testing scenario in the dotnet/coreclr repo, which (1) builds coreclr, (2) clones corefx and builds it using that option. This very frequently leads to failures in these CI jobs due to breaking changes. To make these tests more reliable, the CI

[2018-02-07 23:08] karelz commented on #26789
@rmkerr can you try to re-enable the tests and see if the infra issue is gone? Thanks!

[2018-02-07 23:14] karelz commented on #26216
Do you have a repro we could look at? Did you try the localhost IP & NoDelay on sending side as suggested above?

[2018-02-07 23:17] karelz commented on #26617
We re you able to reproduce it on both .NET Framework and .NET Core?
Can you try to reproduce it on .NET Core 2.1 as well? (see [dogfooding](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md))
If there is consistent repro on 2.1, please post it here and we can take a look.

[2018-02-07 23:19] karelz commented on #26627
Looks like a legit bug. Do you want to put up a PR @khellang?

[2018-02-07 23:23] caesar1995 opened #26946 "[ManagedHandler] HTTP Status line contains CR has parsing behavior difference"
When ManagedHandler get a Http status line contains CR character, like "HTTP/1.1 200 O\rK", it throws `System.FormatException : The reason phrase must not contain new-line characters`

[code]

On WinHttpHandler and Framework, they throw `HttpRequestException`; on UAP and CurlHandler, no Exception will be thrown.

We should consider match at least one of the above behavior.

[2018-02-07 23:26] karelz commented on #26846
Do you use `SslStream` directly on server side?
During 2.1 we added buffer pooling in SslStream, could you try to run your app on 2.1? (see [dogfooding](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md))
If you can repro it with 2.1, we would be interested in more details about your app and/or repro.

[2018-02-07 23:28] karelz commented on #26917
Seems to be answered, closing. If you think we missed anything, please let us know.

[2018-02-07 23:28] #26917 closed

[2018-02-07 23:36] #24200 closed

[2018-02-07 23:38] VSadov opened #26948 "Need a method similar to S.R.CS.RuntimeHelpers.InitializeArray, but for spans"
Initialization of literal arrays like `new int[]{1,2,3,4,5,6}` has a special path where the blittable data is stored directly in the PE data and at runtime, instead of assigning every element of the array to a corresponding constant, we call `InitializeArray` with the target array and the token for the field that represents the data blob.

Similar technique would be very useful when initializing s

[2018-02-07 23:39] VSadov commented on #26948
This is related to:
https://github.com/dotnet/roslyn/pull/24621
https://github.com/dotnet/roslyn/pull/24249

[2018-02-07 23:42] erozenfeld commented on #26939
@JosephTremoulet @sbomer

[2018-02-07 23:42] VSadov commented on #26948
CC:@jkotas, @marek-safar, @alrz, @jcouv , @jaredpar, @stephentoub

[2018-02-07 23:52] ayende commented on #26216
Pretty sure it was our thing, can close it as won't fix.

[2018-02-07 23:52] ayende commented on #26846
Yes, we are using this directly. We'll try it on 2.1 and report if there is still an issue.

[2018-02-07 23:59] karelz commented on #26937
Moving the type into another assembly won't make it magically available on lower .NET Standard versions. Moving types around is possible, but we would need a very good reason as it leads to more type forwarders, etc.

Patching existing .NET Standards is actually non-trivial work, and likely requires also tooling updates, etc. - overall it is not worth the effort unless it is something super-critic

[2018-02-07 23:59] #26937 closed

[2018-02-08 00:00] #26216 closed

[2018-02-08 00:00] jkotas commented on #26944
We will also need to:

- Be able to run subset of tests (e.g. we may not want to run networking tests in CoreCLR because of they take time, are flaky, and do not provide interesting extra coverage for the runtime)
- Suppress tests via exclusion file that lives outside of CoreFX repo
- Be able to download the prebuilt test binaries, instead of building them each time. This is nice-to-have when the

[2018-02-08 00:00] karelz commented on #26216
Thanks! Closed.

[2018-02-08 00:07] huanwu commented on #19723
With some code moving back to system.private.xml.dll, we can no longer access the internal types like MemberMapping. Actually, when to serialize a type without public setter, the serialization will be broken (both IL and c# codegen). To fix this problem, we might have to impact the XmlSerializer behavior. In SG, we just exclude this type. But SG has the separate code and SGEN share the same code a

[2018-02-08 00:26] VSadov commented on #26948
Having this in .NET Core 2.1 would be very useful.
Is there any chance for this API making it though at this point?

[2018-02-08 00:36] #26811 closed

[2018-02-08 00:36] #26567 closed

[2018-02-08 00:42] peteraritchie commented on #26937
I suggested the Primitives not because moving a type magically makes anything work, Primitives targets lower versions of .NET Standard.  I also chose primitives because `MediaTypeNames` is just a class with nested classes with only const string fields.  Compared to the other types in Primitives, a much better fit.

I wasn't expecting it to be non-trivial; I did think its the right thing to do rega

[2018-02-08 00:55] #26789 closed

[2018-02-08 01:03] karelz commented on #25997
No response, closing. Feel free to reopen when there's more information.

[2018-02-08 01:03] #25997 closed

[2018-02-08 01:03] karelz commented on #25967
No response, closing.
If you have a repro, feel free to reopen.

[2018-02-08 01:03] #25967 closed

[2018-02-08 01:14] Anipik commented on #26561
@JeremyKuhne @danmosemsft  I tried to repro the bug, but for me it is throwing ```UnauthorizedAccessException```.  any idea what could be happening and how to repro the bug ?

[2018-02-08 01:15] karelz commented on #21429
Closing as no repro. If somebody has a minimal repro, we can reopen. Thanks!

[2018-02-08 01:15] #21429 closed

[2018-02-08 01:16] karelz commented on #24918
No response, closing.
If there is more information, let us know and we can reopen.

[2018-02-08 01:16] #24918 closed

[2018-02-08 01:17] karelz commented on #25060
No response, closing. If there is repro available, we can reopen.
FYI @ianhays

[2018-02-08 01:17] #25060 closed

[2018-02-08 01:22] danmosemsft commented on #26561
@weitzhandler what version of .NET core are you using?  What build of Windows?

[2018-02-08 01:44] geoffkizer commented on #23141
@stephentoub per our email discussion, sounds like you have a solution for this...

[2018-02-08 01:45] divega commented on #23542
We could consider porting System.Data.OleDb, but we would need to understand better:

1. What value would it bring to the table?
   - We believe OLE DB support is not as widespread as ODBC across databases and operating systems
   - How many customers want to port their applications or libraries to .NET Core but are blocked on not having OLE DB support? Are there reasons they cannot move to ADO.NE

[2018-02-08 01:49] stephentoub commented on #23141
We can do something similar to what WinCPP was working on. I'm working through some of the more intricate details. It's far from ideal, but I think it'll be shippable.

[2018-02-08 01:55] karelz commented on #26937
In general, we stopped shipping NuGet packages targeting lower versions which also ship as part of the platform - it creates giant mess (incl. complexity of what can use newer APIs in other packages vs. not) and test-matrix growth exponentially.
Technically speaking, I don't think that by moving the type, it would automatically light up for the version targeting lower .NET Standard - it would just

[2018-02-08 02:09] divega commented on #23597
*System.Data Triage:* There seems to be little value in this. And there are other reasons not to do it:
1. Currently the concept of a user doesn't seem to even exist in the base classes of ADO.NET
2. It seems that right now you can do this modifying the connection string (with a provider specific DbConnectionStringBuilder or manually) and creating a new provider specific DbConnection object with t

[2018-02-08 02:09] #23597 closed

[2018-02-08 02:12] divega commented on #26799
*System.Data Triage:* This looks like a good idea, although we are not going to implement it right away. Moving to Future.

[2018-02-08 02:15] divega commented on #26714
*System.Data Triage:* This looks like a good idea, although we are not going to implement it right away. We should also consider providing an implicit connection pool that implements know best practices, e.g. to avoid locking and yield good performance, so that ADO.NET providers can reuse it. However that would probably either require defining a public type for the underlying connection object or

[2018-02-08 02:17] divega commented on #25891
*System.Data Triage:* This looks like a good idea, although we are not going to implement it right away. Moving to Future.

[2018-02-08 02:19] divega commented on #25505
*System.Data Triage:* This looks like a good idea, although we are not going to implement it right away.
This related to another issue that calls for implementing async versions of other APIs that can block now.
Moving to Future.

[2018-02-08 02:24] divega commented on #23907
*System.Data Triage:* There was a time in .NET Core 1.x timeframe when this could have been possible and considered desirable, but given the direction taken in 2.0 towards prioritizing compatibility and the cyclic dependencies between System.Data.Common and DataSet APIs, it is no longer viable.

Closing.

[2018-02-08 02:24] #23907 closed

[2018-02-08 02:27] divega commented on #26302
@ajcvickers @corivera I think we can either assume that this could be SqlDataReader and investigate, or close as no repro, as we haven't heard back from @dominicrooijackers. Thoughts?

[2018-02-08 02:35] divega commented on #20918
@karelz We are not very familiar with the bot that creates this issue. Is it ok to close assuming that it was a transient error and that it is passing now? From looking at the test and the stack it is very hard to imagine this NRE happening without having something very fundamental broken in UWP.

cc @ajcvickers

[2018-02-08 02:46] divega commented on #26214
@danmosemsft @stephentoub this issue showed up in the System.Data triage and we are wondering what needs to happen to resolve it. Is it really a System.Data issue?

cc @ajcvickers

[2018-02-08 03:12] weitzhandler commented on #26561
Win 10 Pro x64 ver. 1709 (build 16299.192).
.NET Core ver. 2.1.4.

[2018-02-08 03:17] JeremyKuhne commented on #26561
Can you please include a call stack? That might help narrow it down.

[2018-02-08 04:45] alrz commented on #26948
how about stackalloc on pointers? e.g. `int* p = stackalloc[] { 1,2,3 };`

[2018-02-08 05:02] ahsonkhan commented on #26740
From https://github.com/dotnet/corefx/pull/26694#issuecomment-363612315
Leftover changes deferred for when we update based on performance review:
- Review Inlining - https://github.com/dotnet/corefx/issues/26740
- Fix SeekMultiSegment - https://github.com/dotnet/corefx/pull/26694#discussion_r165741661
- Fix bounds checks - https://github.com/dotnet/corefx/pull/26694#discussion_r165548714
- Use Arr

[2018-02-08 05:04] ahsonkhan commented on #26768
From https://github.com/dotnet/corefx/pull/26694#issuecomment-362620565

[2018-02-08 05:13] VSadov commented on #26948
@alrz - the resulting type does not matter here. From the bigendian point of view we store int32 elements with their bytes in a wrong order. The data will not look like consecutive `1,2,3` on bigendian machine.

[2018-02-08 05:22] alrz commented on #26948
I understand that, but we're going to use this for stackalloc initializers on pointers as well, I guess the second alternative could work though `ref T GetRefToTemplateData<T>(RuntimeFieldHandle fldHandle);`

In fact, stackalloc initializers "only" work on pointer types, no special codegen for Span. We're just passing an already initialized localloc to the Span constructor.

[2018-02-08 05:39] VSadov commented on #26948
@alrz - right, `GetRefToTemplateData` would work equally well for `stackalloc` that results in a pointer or in a span.

[2018-02-08 06:13] iSazonov commented on #25873
Currently .Net Core implement [DOS-like](https://msdn.microsoft.com/en-us/library/ff469270.aspx) globbing for Windows and [fnmatch-like](http://man7.org/linux/man-pages/man3/fnmatch.3.html) globing on Unix.
.Net Core assume that applications should have the same behavior on all platform. So .Net Core should implement 3th model for globbing - unified/modern globbing which has the same behavior on a

[2018-02-08 06:50] Sunny-pu commented on #24537
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_osx_release/327/testReport/

[2018-02-08 06:58] JeremyKuhne commented on #20781
This is fixed now with the System.IO.Enumeration changes. The legacy "DOS-like" behavior is now using the same matchers and the new APIs default to a simple match where * is 0 or more and ? is exactly 1.

[2018-02-08 06:59] dominicrooijackers commented on #26302
I have resolved my issue, I have to look and see what the solution was again.

Verzonden van mijn HTC

----- Bericht beantwoorden -----
Van: "Diego Vega" <notifications@github.com>
Aan: "dotnet/corefx" <corefx@noreply.github.com>
CC: "Dominic Rooijackers" <drooijackers@exploriaresorts.com>, "Mention" <mention@noreply.github.com>
Onderwerp: [dotnet/corefx] GetColumnSchema not supported (#26302)
Dat

[2018-02-08 06:59] JeremyKuhne commented on #20780
See #20781 for details on how this is fixed.

[2018-02-08 06:59] JeremyKuhne commented on #20779
See #20781 for details on how this is fixed.

[2018-02-08 07:02] faikozgur opened #26952 "System.IO.IOException: 'Entries cannot be opened multiple times in Update mode.'"
I am moving an application from .net to core.  When I run core version I got System.IO.IOException: 'Entries cannot be opened multiple times in Update mode.'

I use System.IO.Packaging library to create packages.

[code]

Here is the AddProperties function:

[code]
After this I call the AddCoreAndHash function:
[code]
I get error while accessing the stream of corePart.
I have attached sample files

[2018-02-08 07:03] JeremyKuhne commented on #24160
I've validated this now works, written tests, and made additional fixes. You can now use DirectoryInfo and FileInfo classes successfully with paths that end in periods or spaces. Creating such paths still requires `\\?\`, which I detail the reasoning for above.

[2018-02-08 07:03] #24160 closed

[2018-02-08 07:03] JeremyKuhne commented on #25428
This is fixed with the new System.IO.Enumeration changes

[2018-02-08 07:03] #25428 closed

[2018-02-08 07:05] Sunny-pu commented on #26586
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_debug/401/testReport/

[2018-02-08 07:14] msmolka commented on #26302
I'm using EFCore version 2.1.0-preview2-30045 and Full Framework
All worked properly on v462
After moving to v471, SqlDataReader.GetColumnSchema is no longer working:
[code]

[2018-02-08 07:15] JeremyKuhne commented on #25873
@iSazonov, #18922 is the general discussion around adding new globbing support.

With this issues changes we now use a unified matching algorithm for all platforms. Existing APIs use the DOS-like behavior and the new APIs (that take FindOptions directly) default to a simple match that honors `*` and `?` with no DOS-like strangeness.

I absolutely want to add more matching options. If anyone is gam

[2018-02-08 07:27] divega commented on #26302
Thanks @msmolka for the additional information!

Moved to SqlClient.

[2018-02-08 07:44] satano commented on #26263
We have the same problem - SHFB is not able to build our documentation because of this invalid XML file. The workaround we use is to delete the file (or whole ValueTuple package) before building documentation.

[2018-02-08 07:55] danmosemsft commented on #26936
I agree that it should have been uint. My guess is that it is int because originally uint was not CLS compilant, the same reason why int is used in many other places for quantities that are unsigned.
If you may be dealing with numbers this large, you can cast to and from int. (You may need the unchecked keyword if you are compiling with `/checked`.)
As far as I can see we cannot "fix" this now bec

[2018-02-08 07:56] danmosemsft commented on #26938
Setting 2.1 since this is a very popular package.

[2018-02-08 07:59] iSazonov commented on #25873
I duplicate my post in #18922.

For PowerShell we are very interested in implementing  simple wildcards like '[a-z]' for paths - `c:\windows\[d-fs]*\*.exe` (Named Posix char classes are not so interesting I suppose).

[2018-02-08 08:06] danmosemsft commented on #26899
I agree it does not seem right that Clear() will shrink the storage. Clear() of a regular Dictionary does not. Unless @stephentoub there is some reason? I cannot find it in history.

[2018-02-08 08:20] danmosemsft commented on #26893
File.Exists does document that failure and "does not exist" cannot be distinguished:
https://docs.microsoft.com/en-us/dotnet/api/system.io.file.exists?view=netcore-2.0
"The Exists method returns false if any error occurs while trying to determine if the specified file exists. This can occur in situations that raise exceptions such as passing a file name with invalid characters or too many characte

[2018-02-08 08:31] loop-evgeny commented on #26922
Thanks for fixing this quickly!

OK, so as I understand, all those ServicePoint settings are ignored? Is this documented somewhere, along with what the settings are? E.g. I don't know whether WinHTTP or curl use Nagle, 100-Continue, etc.

[2018-02-08 08:34] danmosemsft commented on #26891
Can you try the code you created for the 4.6.1 repo in a .NET Core console app (rather than web server you have in the callstack above)?

I am wondering whether it is some delegation issue - "An operations error occurred" seems like it can just mean "access denied". I am not an LDAP guy but the experiment above might help.

[2018-02-08 08:50] khellang commented on #26627
I'd love to, but TBH I have no clue how to approach this. Where is the correct place to fix it? I'm assuming this code was put in place for a (not so clear) reason.

[2018-02-08 09:36] nfdevil commented on #26891
Console App running on .NET Core 2.0 gives the same error. So to recap:

- .NET Framework 4.6.1 Console App => WORKS
- .NET Core 2.0 Console App => ERROR: An operations error occurred
- ASP.NET Core 2.0 App => ERROR: An operations error occurred

[2018-02-08 11:32] Microshaoft commented on #26917
@stephentoub
I have modified my code
add one method named ```ReceiveAsyncTriggerCompletedEvent```, for force waiting for auto trigger ```Completed``` event, as below:
https://github.com/Microshaoft/Socket.Echo.Server/blob/9c3166e0b99d7bc044a757d7e98df79c27e03963/ShareClassLibrary/ShareClassLibrarySharedProject/SocketAsyncDataHandler.TCP.cs#L370

and invoke it at 2 points as below:
https://github.c

[2018-02-08 11:52] stephentoub commented on #26917
That code:
[code]
is not invoking the Completed event.  If ReceiveAsync completes synchronously, it'll return false, and your loop will loop around again to invoke ReceiveAsync again, but it's not invoking Completed in between.  Again, to be clear, if ReceiveAsync returns false, it means the operation completed synchronously and Completed _will not_ be invoked: you are responsible in that case for

[2018-02-08 12:03] stephentoub commented on #26899
This is a very different situation and implementation.  On Dictionary, Clear doesn't shrink storage; it keeps the same array and updates some bookkeeping.  On ConcurrentDictionary, however, Clear has to deal with concurrent readers, and thus implements the operation by replacing the existing tables with a new one, which means allocating a new buckets array that's swapped in, leaving the old one in

[2018-02-08 12:25] jkotas opened #26954 "Proposal: TryForSufficientStack method to support stackalloc usage"
_From @kkokosa on February 8, 2018 12:8_

Due to changes in C# 7.2 and Span, more and more `stackalloc `usages may become popular like:

`Span<byte> span = stackalloc byte[1000];`

However, this call will end up with unrecoverable `StackOverflowException `if there is not enough stack space left. We can do nothing in such situation which makes this approach not useful at some point. It is now just

[2018-02-08 12:31] #26734 closed

[2018-02-08 12:44] svick commented on #26954
* I think the name of this method should be close to `EnsureSufficientExecutionStack`, to indicate that the two methods do very similar things. Maybe `CheckSufficientExecutionStack` or `HasSufficientExecutionStack`?

    Also, I think `Try` makes sense when it's combined with a verb, so if you want to use it here, the name would be `TryEnsureSufficientExecutionStack`.
* Should there be a way to us

[2018-02-08 12:59] ar7z1 commented on #17427
@karelz @Priya91 I've faced the same problem on my linux box. I use `dotnet-runtime-2.0.5`.

A small program to reproduce the issue:
[code]

On Windows this code sends SNI extension:
![image](https://user-images.githubusercontent.com/2307197/35973659-54a8edf0-0ce7-11e8-9c62-dd9ede84d014.png)

But on Linux (I've tested on Ubuntu 14.04 and Ubuntu 16.04) it doesn't:
![image](https://user-images.githu

[2018-02-08 13:28] #26600 closed

[2018-02-08 14:09] stephentoub commented on #26214
@divega, at present I don't think so.  It appears to be related to infrastructure with how tests get run rather than with the specifics of individual tests.

[2018-02-08 15:26] stephentoub commented on #26954
FYI, there already is a public RuntimeHelpers.TryEnsureSufficientExecutionStack exposed in .NET Core.

[2018-02-08 15:31] TheMinefighter commented on #26936
That sound logical, now using the following code (is there a cleaner solution for converting -1  to 2^32-1
 , because I use full 32bit ?) to  :
[code]

[2018-02-08 15:33] svick commented on #26954
Then I think the method proposed here should be added as its overload.

[2018-02-08 15:57] kkokosa commented on #26954
Then probably complementary `EnsureSufficientExecutionStack` overload (throwing `InsufficientExecutionStackException`) should be added?

[2018-02-08 16:01] danmosemsft commented on #26936
Right. @stephentoub do you see any way we could solve this ourselves? I do not (short of providing new methods)

[2018-02-08 16:02] danmosemsft commented on #26899
Makes sense. @MTBandolier is this just an observation or are you affected?

[2018-02-08 16:04] karelz commented on #17427
Yes, client-side SNI was added into 2.1. Did you try to run it on 2.1? (see [dogfooding](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md))

[2018-02-08 16:09] stephentoub commented on #26936
Nope.  If we're currently returning a boxed Int32, changing to return a boxed Int64 or UInt32 would be breaking, as casts to Int32 to unbox it would fail.

[2018-02-08 16:18] jhudsoncedaron commented on #26893
@danmosemsft:  Mostly. File.Exists's documentation should have "The Exists method returns false if any error occurs while trying to determine if the specified file exists." in the returns section instead of the long enumeration of only some of the cases where it returns false. Most people would otherwise go "I not passing null. I don't care about invalid path. I don't care about no permission to d

[2018-02-08 16:18] ryanelian commented on #23542
[code]

I was blocked from porting a feature from a legacy customer server because (AFAIK, CMIIW) ASP.NET Core MVC does not have a way of creating / reading / writing an MS Access database.

I'm under assumption that MS Access requires OLE DB.

This feature was required because the web server needs to write data to an MS Access database file, which then will be shipped to a government server via F

[2018-02-08 16:29] MohammadHamdyGhanem opened #26956 "Add Quaternion.Reciprocal() and Quaternion.Divide(Quaternion, float)"
I was trying to get the reciprocal of a Quaternion. There is no Method to do that, so may be you add it (Complex structure has one).
I also noticed that Quaternion.Divide Method has no overload to dived a quaternion by a scalar value, unlike the Multiply method! so I suggest to add it!
I used this:
[code]
Or this:
`Dim Q2 = Quaternion.Identity / Q1`

[2018-02-08 16:38] jkotas commented on #26954
If the proposed EnsureSufficientExecutionStack is added what the typical usage is going to look like?

Note that stackalloc should be only used for relatively small buffers (say up to 1kB). Array pool is more appropriate above this limit. The framework is using stackalloc in number of places and the typical pattern looks like this:

https://github.com/dotnet/coreclr/blob/efebb38f3c18425c57f94ff910

[2018-02-08 16:46] stephentoub opened #26957 "Validate ClientWebSocket wss connections work through http proxies"
After https://github.com/dotnet/corefx/pull/26878 is merged, validate (and ideally add automated tests) that ClientWebSocket's proxy support works when using wss connections.  And if it doesn't, fix it.

[2018-02-08 17:00] karelz commented on #26914
@juscla what exactly do you mean by HID? Does it require new APIs or support in existing ones?

[2018-02-08 17:07] karelz commented on #26957
@wfurt can you please look at it?

[2018-02-08 17:09] #25926 closed

[2018-02-08 17:09] tannergooding commented on #25926
This should be resolved now.

[2018-02-08 17:10] VSadov commented on #26948
It is fairly easy to get a pointer from a span. For example “(void*)s[0]”

[2018-02-08 17:17] danmosemsft commented on #26893
@jhudsoncedaron makes sense. So you want to open an issue or PR in the docs repo and close this?

[2018-02-08 17:18] #24713 closed

[2018-02-08 17:18] jhudsoncedaron commented on #26893
Are the XML comments in the corefx repo or the docs repo?

[2018-02-08 17:19] davidsh commented on #26946
I the only bug here is that ManagedHandler is not wrapping this exception into a top-level HttpRequestException.  Currently, ManagedHandler is throwing a FormatException directly as the top-level exception.  And that breaks the expected behavior of HttpClient APIs where normally runtime errors surface as top-level HttpRequestException's.

[2018-02-08 17:20] danmosemsft commented on #26893
I am not sure whether the XML comments in the code end up in the docs or the docs repo is separate. @karelz do you know?

[2018-02-08 17:22] eerhardt opened #26959 "Re-evaluate default buffer size for getpw native calls"
By default, we are allocating 1K of memory on the stack as the first buffer to use in getpwnam_r and getpwuid_r.

https://github.com/dotnet/corefx/blob/bfac45af5dddcbd70b6935fcf92b4b8755f3cd1c/src/Common/src/System/IO/PersistedFiles.Unix.cs#L100

https://github.com/dotnet/corefx/blob/6f5ce856e9f40a7d247c241a6bb916fc546045ff/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L371

https:/

[2018-02-08 17:22] karelz commented on #26893
Changes to XML comments are not reflected in any docs. If you want to change docs, please change them on dotnet/docs repo.

[2018-02-08 17:27] rmkerr opened #26960 "WebSocketProtocolTests causing failures in NETFX Outerloop"
NETFX Outerloop test runs have been failing for a few weeks now with the following error:
[code]
There have been ~200 runs that have failed at the same point. As far as I can tell the issue first occurred on January 18th. Based on that date and an offline discussion with the team I think the issue was probably introduced by PR #26429.

You can find a few instances of failed runs here: [1](https://

[2018-02-08 17:29] kkokosa commented on #26954
For example, I was thinking about various scenarios where some temporary data collections have to be calculated. Instead of using an array or even ArrayPool, we could utilize stack with almost no time overhead:

[code]

But currently every usage of `stackallow` above `MinExecutionStackSize` (from `Thread::SetStackLimits` method) - which is 128 kB (or 64 kB on 32-bit) - may end up with killing enti

[2018-02-08 17:39] jkotas commented on #26954
So what would your code example look like if you had EnsureSufficientExecutionStack API?

[2018-02-08 17:40] mguinness commented on #24160
@JeremyKuhne Thanks, I look forward to 2.1 release.

[2018-02-08 17:43] jkotas commented on #26954
Large stack buffers do have overhead: The stack memory has to be faulted in (one page at a time typically), and then it tends to be stuck in the working set.

[2018-02-08 17:46] alrz commented on #26948
@VSadov I just don't see why there has be an indirection here, we can construct both Span and ReadOnlySpan directly from a pointer (or `ref` for that matter), but `GetReadOnlySpanFromTemplate` needs a conversion for anything other than ReadOnlySpan

[2018-02-08 17:52] geoffkizer commented on #26922
Settings for HttpClient are generally on the HttpClientHandler.

WinHTTP and Curl do not use the Nagle algorithm, as far as I'm aware.

[2018-02-08 17:55] kkokosa commented on #26954
Something like:

[code]

Isn't the same for faulting in memory from ArrayPool? I mean, if `Process` is on hot path called multiple times, stucking in working set is some kind of overhead we should be aware of but maybe worth considering? If `Process` was one-shot call, probably nobody would care about optimizing it in the first place.

[2018-02-08 17:57] wfurt commented on #26959
OSX:
getconf LOGIN_NAME_MAX
255

Ubuntu:
getconf LOGIN_NAME_MAX
256

We should be able to query system limit if we want to.

[2018-02-08 17:58] VSadov commented on #26948
One reason is that ReadOnlySpan can be used safely in the ReadOnlySpan case, which would not require dealing with pointers, and would be verifiable.

Since span is basically a range-checking reference is is safer to use. Conceptually, it is the right thing to represent a chunk of data with known length.

We will see though what CLR/FX guys will say when it gets to actually implementing that API.

[2018-02-08 17:58] tarekgh commented on #26914
@juscla please clarify your ask.

[2018-02-08 18:01] tarekgh commented on #26914
closing it till we get more clarification then we can re-open it.

[2018-02-08 18:01] #26914 closed

[2018-02-08 18:03] jkotas commented on #26954
I do not think I would want to use this pattern because of it makes me duplicate the code.

No - if the buffer is reused on multiple threads, or different callers on the same thread.

There needs to be best practice for allocating large buffers. If half of the folks are going to do it via ArrayPool and other half with large stack allocs, everybody loses at the end.

[2018-02-08 18:07] alrz commented on #26948
currently none of Span tests are verifiable due to the unsafe nature of the constructor... I am more biased towards the current implementation of the stackalloc inits, I think that approach need more changes compared to just returning a ref here. We should see how things work out in either of these cases.

[2018-02-08 18:09] karelz commented on #20918
The issue was created via Mission Control (http://mc.dot.net) web site.

The test failure database was cleared on 2017/12/16 and migrated to Kusto.
I checked Kusto and there is no failure since then for this test on any kind of runs.

Let's close it. We can reopen if it happens again.

[2018-02-08 18:09] #20918 closed

[2018-02-08 18:22] rmkerr commented on #24577
We've decided to re-scope this issue to just add more logging information when a redirect is blocked. The goal is to make it easier to discover why the redirect is not happening, while also maintaining compatibility with our current behavior.

[2018-02-08 18:51] kkokosa commented on #26954
Ok, this was a poorly prepared example. I was thinking more about something like 'generic temporary collection factory' without repeating any processing logic:

[code]
However, this currently does not compile with _"A result of a stackalloc expression of type 'Span<SomeStruct>' cannot be used in this context because it may be exposed outside of the containing method"_ error. Is it supposed to be o

[2018-02-08 19:16] JeremyKuhne commented on #26893
Yes, the docs should be updated to be very clear. The results are really "yes" and "we don't know". "CouldReach" is probably a better term than Exists. You're welcome to make an issue/PR in the docs repository, let me know if you aren't interested and I'll create one. We should also call out the common error where people assume Exists == true means that the file will still be there when they try a

[2018-02-08 19:19] jkotas commented on #26954
Right, it does not compile. Also, missing in your example is code to return the buffer to the pool once you are done. The pattern that works today looks like this:

[code]

Or another example:

[code]

[2018-02-08 19:29] karelz commented on #24577
The key reason for re-scoping was to avoid breaking change for people who already implemented the workaround we suggested.

[2018-02-08 19:32] evgeniylevakhin opened #26965 "Crash in SqlConnection.Close() when using TransactionScope on linux."
I'm using SqlClient 4.5.0-preview1-26207-04 in netcoreapp2.0.

[code]

The following snippet would crash on the above machine (removed some code for brevity). Works without issues on Windows.

[code]

Both statements are inserts. Stacktrace is below:

[code]

[2018-02-08 19:51] jhudsoncedaron commented on #26893
I'll make the issue soon enough. The only hope I had of a PR was if the docs came from the XML comments, which they don't.

[2018-02-08 19:54] juscla commented on #26914
So i currently have frameworks that talk to devices over HID protocol, by pinvoking HID.DLL and would like to have this supported in the .netCore going forward. I have a Project that shows you how i am using it.

[2018-02-08 20:00] shaggygi commented on #26914
There is this open issue (#21810) that might be similar and provide goodness in this area.

[2018-02-08 20:02] kasper3 opened #26966 "System.Console fails with ncurses 6.1"
Released on Jan 27, 2018 - Announcement https://www.gnu.org/software/ncurses/

Original report: https://bugs.archlinux.org/task/57260

[code]

[2018-02-08 20:06] ktang-tmp opened #26967 "HttpClient PostAsync throws exception "The server returned an invalid or unrecognized response" when using linux container"
When I ran following code in Windows or Visual Studio, it worked fine.

[code]

However, when I ran it with docker using Linux container, I got this error:

[code]

I inspected the response via Fiddler and the raw response is like this:

[code]

I have tried to use HttpWebRequest, WebClient or RestSharp and I got the same error message from all of them.

## Steps to reproduce
Call post async metho

[2018-02-08 20:19] jhudsoncedaron commented on #26893
https://github.com/dotnet/docs/issues/4343

[2018-02-08 20:19] #26893 closed

[2018-02-08 20:20] #23233 closed

[2018-02-08 20:23] stephentoub commented on #26966
Based on following the discussion in the link and browsing from there, it looks like System.Console will need a change similar to https://github.com/hankem/S-Lang/commit/6dd5ade9a97b52ace4ac033779a6d3c1c51db4d1 in order to support the format additions.

cc: @joperezr, @ianhays

[2018-02-08 20:32] tarekgh commented on #26914
Thanks @juscla

Looks #21810 is covering this area then. feel free to put more comments there and we'll keep this issue closed as duplicate from #21810

[2018-02-08 20:34] tarekgh commented on #21810
adding @juscla comments from the linked issue:

[code]

[2018-02-08 20:45] stephentoub commented on #26960
@rmkerr, can you share a link to failure details?

[2018-02-08 20:54] joshfree commented on #26966
@joperezr @stephentoub could one of you pick this up?  @ianhays has his hands full with linux distro stuff for a while

[2018-02-08 20:57] #26941 closed

[2018-02-08 21:12] saurabh500 commented on #26965
@evgeniylevakhin What is the version of System.Data.SqlClient that you are using?

[2018-02-08 21:13] rmkerr commented on #26960
I added a few links to failed runs in the description. The start date and number of occurrences came from Kusto. If you'd like I can save that info to an excel file and share it as well.

[2018-02-08 21:13] saurabh500 commented on #26965
Sorry I realized you had put it in the issue.

[2018-02-08 21:23] stephentoub commented on #26960
@rmkerr, thanks.  Are there any successful runs of the test on netfx?

[2018-02-08 21:26] tmat opened #26971 "Adding a new resource string to .resx file doesn't regenerate generated SR.cs"
Repro:

1. Open `corefx\src\System.Reflection.Metadata\System.Reflection.Metadata.sln` in VS.
2. Open `corefx\src\System.Reflection.Metadata\src\Resources\Strings.resx`
3. Add a new resource string and save the .resx file, e.g.

[code]

4. Open any .cs file and type `SR.Foo`. `Foo` is not in completion.
5. Build. Build fails due to missing `SR.Foo` property.

**Expected behavior**

`SR.Foo` is gen

[2018-02-08 21:31] KKhurin commented on #26586
A new PR is ready to fix the regression I introduced with the previous fix.

[2018-02-08 21:38] stephentoub commented on #26960
@Priya91, were you successful with this test on netfx?  I don't think it can work as written, as the desktop HttpClient will return a read-only stream, which is why the assert is failing.  Here's a stripped-down version of the test highlighting the issue:
[code]
and it outputs:
[code]
The test should be changed to just use a socket directly on the client side, so that it's not reliant on HttpClien

[2018-02-08 21:38] kasper3 commented on #642
Is this done?

[2018-02-08 21:39] stephentoub commented on #26960
I'll fix it... I need to anyway for https://github.com/dotnet/corefx/pull/26964 to pass on netfx.

[2018-02-08 21:39] rmkerr commented on #26960
As far as I can tell the test that has issues is `WebSocketProtocol_CreateFromConnectedStream_Succeeds`. It looks like it was added in that PR on the 18th, and has never passed on NETFX.

[2018-02-08 21:51] kasper3 commented on #20902
QuickGraph was ported to https://github.com/pelikhan/quickgraph by original author @pelikhan.

[2018-02-08 22:04] AtsushiKan commented on #26396
Grabbing this as I'm a bit light on bugs right now.

[2018-02-08 22:09] stephentoub commented on #26967
Do you have a repro we can try?

[2018-02-08 22:31] krwq commented on #642
@kasper3 I'd call it done as do not think it is worth to do any more work there but this is not 100% accurate:
- we have converted most of the projects to Xunit
- for remaining tests I have added test discoverer so that Xunit can see Xml custom framework - this has achieved the goal of being able to see better errors and making it easier to investigate failures but the custom framework is still th

[2018-02-08 22:31] #642 closed

[2018-02-08 22:44] #22882 closed

[2018-02-08 22:47] BrennanConroy opened #26973 "WaitToReadAsync on UnboundedChannel should check CancellationToken before checking for items"
Original issue https://github.com/dotnet/corefxlab/issues/1813 was closed via https://github.com/dotnet/corefx/pull/24881
However the issue still exists for `UnboundedChannel`, maybe the other channel implementations were fixed?

@stephentoub

[2018-02-08 22:51] danmosemsft commented on #24250
@maryamariyan not sure how you'd test this, perhaps a little pinvoking to make a temporary reparse point of each flavor.

[2018-02-08 23:11] danmosemsft commented on #26893
Thanks @jhudsoncedaron !

[2018-02-08 23:25] geoffkizer opened #26975 "[Cookie] CookieCollection should implement ICollection<Cookie>"
It implements `ICollection`, but not `ICollection<Cookie>`.

## Proposed API

[code]

@karelz

[2018-02-08 23:29] danmosemsft commented on #26956
@MohammadHamdyGhanem for API proposals can you please format the top post as described in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md ? Eg., including sections for exact API, motivation, alternatives, sample use. This is necessary to review any API properly.

[2018-02-08 23:34] davidsh commented on #26975
Does this need to be reflected in the ref folder, i.e. is this an API change also?

[2018-02-08 23:34] davidsh commented on #26975
cc: @stephentoub

[2018-02-08 23:36] geoffkizer commented on #26975
Yes.  It's basically a feature request, and not high priority.  But it seems like we should do it.

[2018-02-09 00:14] #26973 closed

[2018-02-09 00:16] tmat opened #26977 "PDB Checksum Debug Directory Entry APIs"
** Background **

The CodeView debug directory entry in PE/COFF file associates the PE file with one or more PDBs. The CodeView entry and the PDB both store the same PDB ID (for Portable PDB it's 20B for Windows PDB it's 16B of data). Debuggers, symbol servers and other tools use the PDB ID to match the PE file with the PDB.

Although the PDB ID is good enough for finding the right PDB for the PE

[2018-02-09 01:00] JeremyKuhne commented on #24250
I don't think we can create any of the non-surrogate type outside of OneDrive folders, which you'd have to set up and manually test. Hard and symbolic links are the only ones I know how to create programmatically and they are surrogates. You might want to contact Christian Allred (mentioned above) to see if they have any suggestions.

[2018-02-09 01:02] nguerrera commented on #26935
Looks good.

Can we go back and add this all over the place or is it a breaking change?

[2018-02-09 01:07] tmat commented on #26935
@nguerrera I has already been added all over the place :)

[2018-02-09 01:29] pelikhan commented on #20902
I am in 17/2D if you want to chat

[2018-02-09 01:36] eerhardt commented on #26675
Upon further review, this test failure is actually different than #26673.  This test failure is because the test is failing when run in the outerloop with an Assert that the current real user isn't "root".

The tests expect to be able to get a non-root "real" user, so they can start a process as that user.  When we run the outerloop tests, we call "sudo build-tests.sh", which means the tests are e

[2018-02-09 01:52] karelz commented on #26856
@MarcoRossignoli thanks for your contribution! I sent you collaborator invite - that will allow us to assign the issue to you (GH limitation). Ping me once you accept and I will assign it to you (temporarily assigning to myself).
Note: Once you accept the invite, you will be auto-subscribed to all-repo notifications (500+ per day). We recommend to switch to "Not Watching" - i.e. you will get notif

[2018-02-09 02:40] karelz opened #26980 "[New test] Test failure: System.Net.Http.Functional.Tests.HttpProtocolTests / GetAsync_InvalidStatusLine_ThrowsException"
[8 test cases](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180209.01/workItem/System.Net.Http.Functional.Tests) fail on Fedora27 and Ubuntu17.10 (probably due to different libcurl version which changed the behavior) - introduced in #26798
* "HTTP/1.1 "
* "HTTP/1.1 !11"
* "HTTP/1.1 " (looks same as the first one - unclear

[2018-02-09 03:05] MgSam commented on #26845
@mgravell I think the Pandas definition is as good as any.

You're right, it is very similar to a DataTable. However, DataTables are heavy, not generic (and thus box any value types) and do not support many of the useful properties of DataFrames.

I love Linq, but it is different type of abstraction. Common operations with DataFrames include aligning columns, performing operations between columns,

[2018-02-09 03:07] caesar1995 commented on #26980
Ok, working on it now.

[2018-02-09 03:08] ktang-tmp commented on #26967
@stephentoub Unfortunately we don't have one since this is extracted from a big integration project and we don't have control over the response from the server side. Based on my investigations, I guess the content type may be the suspect to cause the problem when the headers are being parsed in ReadHeader method.

`Content-Type: multipart/related; type="application/xop+xml"; start="<soap.xml@xfire

[2018-02-09 03:13] nguerrera commented on #26935
Oh, yay!

[2018-02-09 03:34] stephentoub commented on #26817
Fixed by https://github.com/dotnet/coreclr/issues/16190

[2018-02-09 03:34] #26817 closed

[2018-02-09 03:54] davidfowl commented on #26817
@stephentoub I'll file another issue with the follow up from the PR

[2018-02-09 03:55] stephentoub commented on #26817
Thanks

[2018-02-09 04:04] #23166 closed

[2018-02-09 04:04] #26895 closed

[2018-02-09 04:04] #26960 closed

[2018-02-09 04:54] #26980 closed

[2018-02-09 05:13] rvhuang commented on #26975
Aye. **It's 2018 already** and I see no reason why it shouldn't implement generic collection interface.

[2018-02-09 05:30] geoffkizer opened #26983 "CurlHandler: container cookies are not sent if you add a Cookie header to the header collection"
If you add a Cookie header via

[code]

This causes cookies from the cookie container to not be sent.

WinHttpHandler appends the cookies from the cookie container to the specified Cookie: header.

[2018-02-09 05:33] geoffkizer opened #26984 "SocketsHttpHandler: container cookies are incorrectly handled if you add a Cookie header to the cookie collection"
If you add a Cookie header via

[code]

This causes cookies from the cookie container to be appended using the "," separator, which is incorrect for cookies -- they use ";" as a separator instead.

WinHttpHandler appends the cookies properly.

[2018-02-09 05:35] geoffkizer opened #26985 "SocketsHttpHandler: incorrect cookie behavior with redirects"
When processing a redirect, the redirected request will be sent with cookies for both the initial request and the redirected request.  Should be only the latter.

[2018-02-09 05:37] geoffkizer opened #26986 "WinHttpHandler: cookies received on a 401 response are not added to the CookieContainer"
If the server sends a 401 auth challenge with a Set-Cookie header, the cookie is not added to the CookieContainer.

SocketsHttpHandler and CurlHandler handle this correctly.

[2018-02-09 05:51] danmosemsft commented on #26966
Is there likely to be broad uptake of this ncurses update? If so we may need to fix this promptly, and service for it also.

[2018-02-09 06:01] kasper3 commented on #26845
Can you explain a bit what is F#-ism and what are those problems? If I am relying on a nuget package with .NET assembly, I shouldn't care about the source language the IL was produced from. Their usage docs has C# examples: http://bluemountaincapital.github.io/Deedle/csharpseries.html

[2018-02-09 06:10] kasper3 commented on #26966
Related to https://github.com/mono/mono/issues/6752, maybe joining forces would help?

[2018-02-09 06:53] kasper3 opened #26987 "Checking null on some value types are throwing runtime exceptions"
Try:

`dotnet new console`

replace `<TargetFramework>` line with `<TargetFrameworks>net46;netcoreapp2.0</TargetFrameworks>` to csproj

Program.cs:

[code]

and run: `dotnet run -f net46`, which works fine but `dotnet run -f netcoreapp2.0` throws:

[code]

Is this breaking change recorded somewhere or it's a bug? Checking null on arraysegment object doesn't make sense but it shouldn't probably thr

[2018-02-09 07:23] MarcoRossignoli commented on #26856
@karelz done!

[2018-02-09 07:35] wfurt commented on #26957
ok, I can take a look @karelz I don't think there is dependency on #26878 - that is only default configuration. We should be able to test with custom proxy as well as write tests. I'll net to get more familiar with WebSockets.

[2018-02-09 08:17] dotnet-mc-bot opened #26988 "[Regression] Test failure: System.IO.Tests.* / DeleteRoot"
Affected OS:
* All Linux & Mac OS

Affected tests:
* System.IO.Tests.DirectoryInfo_Delete / DeleteRoot
* System.IO.Tests.DirectoryInfo_Delete_bool / DeleteRoot
* System.IO.Tests.Directory_Delete_str / DeleteRoot
* System.IO.Tests.Directory_Delete_str_bool / DeleteRoot

Failure:
[code]

## History of failures

Day | Build | Details
-- | -- | --
2/9 | 20180209.01 | 56x (14 OS's) - [link](https://mc.

[2018-02-09 08:18] Sunny-pu commented on #26988
failed tests:

System.IO.Tests.DirectoryInfo_Delete
System.IO.Tests.DirectoryInfo_Delete_bool
System.IO.Tests.Directory_Delete_str
System.IO.Tests.Directory_Delete_str_bool

[2018-02-09 08:52] ar7z1 commented on #17427
@karelz I've checked the master nightly build, everything is perfectly working!
Is there any chance to release this feature before 2.1?

[2018-02-09 09:46] k0st1x commented on #26600
@stephentoub, where can I get the nightly build of  System.ComponentModel.TypeConverter assembly to test it on the CI?
the https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ComponentModel.TypeConverter package is last built on 13 Jan 2017 only

[2018-02-09 09:46] stephentoub commented on #26957
I put the wrong PR... I meant https://github.com/dotnet/corefx/pull/26869.

[2018-02-09 10:09] onnov72 commented on #9988
So the XslCompiledTransform in .NET Core  does not support the Load(type) method? I think this should be more clear in the documentation for this method as well as the documentation about the xsltc.exe
And I would assume that the method would throw a PlatformNotSupportedException instead of the FileNotFoundException: Could not load file or assembly 'System.Data.SqlXml, Version=4.0.0.0, Culture=neu

[2018-02-09 10:22] MarinAtanasov commented on #23401
I am not sure how it is compared to .NET Framework, but we definitely know that HttpClient in .NET Core is incredibly slow and heavy. That is proven by the fact that we can expect performance improvements up to 1000% (x10) in .NET Core 2.1. Source: [.NET Core 2.1 Roadmap](https://blogs.msdn.microsoft.com/dotnet/2018/02/02/net-core-2-1-roadmap/).

@TechnikEmpire, if you are using microservices, exp

[2018-02-09 10:25] stephentoub commented on #26966
We should fix this in the existing code, but then also take another look at changing System.Console to p/invoke into the curses lib.

[2018-02-09 10:36] jorgebay opened #26990 "Crypto provider wrappers in System.Security.Cryptography.Algorithms"
PR #12964 added crypto wrappers.

I'm able to use them targeting netstandard 2.x but not for netstandard1.x.

I see that those providers are not included as part of `System.Security.Cryptography.Algorithms` package (v4.3.1). Would it be possible to include them as part of the nuget package?

[2018-02-09 11:36] junweilee opened #26991 "HttpClient not setting Accept-Encoding: gzip, deflate on older Windows versions"
.NET Core 2.1.4 SDK

[code]

On a Windows 2008 R2 box, it looks like `Accept-Encoding` is **not** set even though the `HttpClientHandler` has compression set.

Windows 2008 R2
[code]

Windows 10
[code]
This works as expected on a Windows 10 box and Windows 8.1 VM.

If you force the headers to be sent however, on Windows 2008 R2 it decompresses fine, so compression is supported.

If you use WebClie

[2018-02-09 12:09] TechnikEmpire commented on #23401
@MarinAtanasov I'm using the client to handle the upstream side of a local transparent filtering proxy and yeah it shows. I guess I'll just target .net full for now to avoid the issue.

[2018-02-09 12:56] Dmitri-Botcharnikov opened #26992 "[Question] Per thread finalization"
We are building C# API for some native library that requires per-thread initialization and cleanup. We can implement initialization using static ThreadLocal data field, i.e.
[code]
We can not however use finalizer for cleanup because finalizer runs in GC thread, not original and native library requires that the cleanup should be performed only in the same thread as the initialization.
How can we h

[2018-02-09 13:05] dougiejay commented on #8807
We absolutely want this feature to remove the hassle of keeping passwords in keyvault and then pulling them from .NET core code. The workaround is ok from a security point of view, but adds an extra layer of maintenance that isnt ideal.

[2018-02-09 13:12] iSazonov opened #26994 "Add new overload to System.Reflection.Assembly to load from Stream"
## Rationale

Currently we can load an assembly from byte array or by file name:
[code]

If we compile dynamically in a memory stream we have to do extra allocations to load the assembly:
[code]

### Proposed API

[code]

[2018-02-09 13:16] stephentoub opened #26995 "Add DecompressionMethods.Brotli?"
System.Net.DecompressionMethods is an enum that is used by HttpClient handlers to determine whether/what to automatically decode in a response, e.g. if DecompressionMethods.Deflate is set and the response is encoded with deflate, it'll automatically decode the response as part of handing it back.

The enum today is just:
[code]
but we now also have BrotliStream, which we could use to support a Dec

[2018-02-09 13:32] xaviergxf opened #26996 "System.MissingMethodException : Method not found: 'Void System.IO.Compression.ZipFileExtensions.ExtractToFile(System.IO.Compression.ZipArchiveEntry, System.String, Boolean)'"
I'm having the following error when targetting netappcore2.0 and net471:

System.MissingMethodException : Method not found: 'Void System.IO.Compression.ZipFileExtensions.ExtractToFile(System.IO.Compression.ZipArchiveEntry, System.String, Boolean)'.

Is this a new bug? Is there any workaround available?

Thanks.

[2018-02-09 13:45] davidfowl commented on #26992
We do this today when using libuv by posting work back to the correct thread in ReleaseHandle of our safe handle (https://github.com/aspnet/KestrelHttpServer/blob/5dd590e75ec4b95b03971430696545708e292b35/src/Kestrel.Transport.Libuv/Internal/Networking/UvHandle.cs#L29). Each handle is bound to a particular thread and we store that association on handle creation. When release handle occurs, we post

[2018-02-09 14:04] benaadams commented on #26954
Though its likely unsensible to do on a different thread than the one you are running on (unless in a Wait?); how about some utility apis for querying stack size instead?

So currently there is a `maxStackSize` parameter for creating a thread:
[code]
But you can't query it back to find out what it was set to; so maybe something like the following would be better?

[code]

[2018-02-09 14:18] svick commented on #26994
If this is only about `MemoryStream`, would it be better to instead add an overload accepting `ReadOnlySpan<byte>`? With that, your example could be:

[code]

(I also removed `using` and `Flush`, those are not necessary for `MemoryStream`.)

[2018-02-09 14:31] davidfowl commented on #26994
If you're using .NET Core, this already exists:

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.loadfromstream?view=netcore-2.0#System_Runtime_Loader_AssemblyLoadContext_LoadFromStream_System_IO_Stream_System_IO_Stream_

It is .NET Core specific as it only exists on AssemblyLoadContext.

[2018-02-09 14:39] Dmitri-Botcharnikov commented on #26992
@davidfowl Tank you! Am I right that handle release occurs automatically at thread exit?

[2018-02-09 14:52] davidfowl commented on #26992
No, ReleaseHandle happens when the safe handle is disposed explicitly or finalized. More details here https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.safehandle.releasehandle(v=vs.110).aspx

[2018-02-09 14:54] J-kit opened #26999 "Add Queue/Stack Batch item Enqueue/Push"
`Queue` and `Stack` in the `System.Collections.Generic` namespace currently only implement methods to enqueue/push single objects to the collection. In order to add multible elements, the source collection has to be enumerated, that could potentialy lead to a performance loss based on the required iterations.

# Usage
Because of performance, large input collections would profit from such a change.

[2018-02-09 15:01] Dmitri-Botcharnikov commented on #26992
Thank you.

[2018-02-09 15:03] benaadams commented on #26954
Or perhaps in `System.Diagnostics`?
[code]

[2018-02-09 15:05] iSazonov commented on #26994
@davidfowl Thanks for the reference!

Currently I use .Net Core (runtime 2.0.5) and don't see the overload 😕

[2018-02-09 15:22] kkokosa commented on #26954
Moving it away from "mainstream" APIs like `Thread` seems to be a good idea. And it seems to be a better place than quite exotic `System.Runtime.CompilerServices`.

[2018-02-09 15:26] iSazonov commented on #26994
I get it `AssemblyLoadContext.Default.LoadFromStream()`

Only one question why is it in another namespace than `Assemly.Load()`?

[2018-02-09 15:33] AtsushiKan commented on #26396
Adding link to method in question (so I don't have to hunt for it later...)

https://github.com/dotnet/coreclr/blob/cd3f6e77757729d3d02dfbec4af21cdfe83f5435/src/mscorlib/shared/System/IO/Path.cs#L613

[2018-02-09 15:49] davidfowl commented on #26994
It's a lower level type that the various Assembly.Load methods are built on top of. It's only exposed in .NET Core though. A method could be added to Assembly.Load (that would just delegate to a AssemblyLoadContext.LoadFromStream) but if you're on .NET Core, you can just this instead. There's also a subtle difference between using the Default load context and Assembly.Load(byte[]). Assembly.Load(b

[2018-02-09 16:05] artkpv commented on #24425
@ViktorHofer Yes, i'm making the pull request after i overcome two problems. Couldn't run tests with my local build (BDN throws that regex dlls are not in Release). Following [this](https://github.com/dotnet/corefx/blob/14bf87805112c53d08eac5a0b03309bbe027cdc0/Documentation/project-docs/benchmarking.md#benchmarking-net-core-20--21-applications) and [that](https://github.com/dotnet/corefx/blob/mast

[2018-02-09 16:19] stephentoub commented on #26987
It's because there's an implicit cast now from array to ArraySegment. The C# compiler will use that cast with the null value, resulting in the exception being thrown from the implicit cast operator.

@jkotas, seems like we should have the operator check for null and return default rather than throwing?

[2018-02-09 16:20] danmosemsft commented on #26103
OK, thanks @bgulanowski .

[2018-02-09 16:20] #26103 closed

[2018-02-09 16:28] jkotas commented on #26954
It does not make sense for these methods to take `Thread` because of they are applicable for current thread only. For historic reasons, there are number of methods like that on `Thread` that throw when called  on anything but current thread. We do not want to be growing this set.

[2018-02-09 16:31] jkotas commented on #26987
Agree.

[2018-02-09 16:33] ViktorHofer commented on #24425
Make sure that you build corefx in Release mode `.\build -release` and to point to it in the Nuget.Config file as described in the second link.

[2018-02-09 16:33] danmosemsft commented on #24425
@artkpv when I ran that test I ran [these instructions](https://github.com/dotnet/corefx/blob/14bf87805112c53d08eac5a0b03309bbe027cdc0/Documentation/project-docs/performance-tests.md)

[2018-02-09 16:34] jkotas commented on #26987
Dup of https://github.com/dotnet/coreclr/issues/14012

[2018-02-09 16:36] stephentoub commented on #26987
Thanks. Closing as dup.

[2018-02-09 16:36] #26987 closed

[2018-02-09 16:39] danmosemsft commented on #24425
Also worth considering: API to get cache hit stats. It would be easy and cheap to maintain such stats - depending on the design of the cache, I suppose.

[2018-02-09 16:39] danmosemsft commented on #26996
@joperezr is this one of the known issues in 471?

[2018-02-09 16:41] danmosemsft commented on #26999
Doesn't enumeration still occur, you're just letting the API do it (by passing an enumerable)? Can you help me understand what you mean by performance loss here?

That isn't to say syntactic sugar cant be worthwhile, if it's a common pattern.

[2018-02-09 16:42] danmosemsft commented on #26992
Question seems answered

[2018-02-09 16:42] #26992 closed

[2018-02-09 16:45] danmosemsft commented on #26988
@Anipik I assume this is not intentional? I would expect `\` to exist so the exception type ought to remain IOException, right? Please take a look

cc @JeremyKuhne

[2018-02-09 16:53] weshaggard commented on #26600
No that does not ship as an individual package any longer. It only ships as part of Microsoft.NETCore.App package.

[2018-02-09 16:54] karelz commented on #23401
@MarinAtanasov do you have any evidence that HttpClient in .NET Core is incredibly slow and heavy? Are you measuring Windows or Linux?
While we were able to speed up specific scenarios (esp. on Linux) in 2.1 (up to 10x), I would not use it as a "proof" that HttpClient in 2.0 is slow in all scenarios.

@TechnikEmpire if you have a specific code which shows performance difference between .NET Framew

[2018-02-09 16:56] karelz commented on #26600
Thanks, that's what I thought.
@k0st1x you will have to wait for 2.1 to ship, or use daily 2.1 builds - see [details](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md).

[2018-02-09 16:57] mayconbeserra opened #27000 "The handler does not support client authentication certificates with this combination of libcurl (7.54.0) and its SSL backend ("LibreSSL/2.0.20")"
I'm having an issue when calling an endpoint with the following code, and I don't know what can solve that critical issue on mac:

[code]

The error is below:

[code]

**curl --version**
[code]

**dotnet info**
[code]

[2018-02-09 17:00] sharwell opened #27001 "API proposal: ReferenceCountedDisposable<T>"
## Summary

This proposal simplifies the use of disposable resources shared through code where single owner of the resource is either unclear, or complicates maintenance of the code. This situation is increasingly common when asynchronous code which needs to operate on a threading-agnostic API where the `Dispose` operation is explicitly called out as not safe for concurrent use.

The semantics of

[2018-02-09 17:01] J-kit commented on #26999
In terms of the `XRange(IEnumerable<T> item)` change, you are right but there is also a similar method in List<T> which would help unify the System.Collection API.

The important part is the `XRange([]T item)` because the calculation on top of enqueue would only be called once, pushing the new elements onto the underlying array could be accomplished by Array.Copy which would be much faster than en

[2018-02-09 17:08] karelz commented on #26991
It is weird if HttpWebRequest works fine on the same OS (Win 2008 R2)
@davidsh is it a known problem / would you expect it?

[2018-02-09 17:14] karelz commented on #27000
This is a known limitation of our current stack. The only workaround is to use OpenSSL/1.0-backed libcurl.
In future, we plan to roll out ManagedHandler (SocketsHttpHandler) which will not suffer from this problem.

[2018-02-09 17:15] karelz commented on #27000
cc @wfurt for Mac instructions to get the right libcurl.

[2018-02-09 17:17] wfurt commented on #27000
no, that won;t work either @karelz this is essentially dup of https://github.com/dotnet/corefx/issues/26446 and https://github.com/dotnet/corefx/issues/19718 will fix this.

[2018-02-09 17:22] mayconbeserra commented on #27000
hmmmm..... is there any workaround for that? basically, I have a bunch of APIs to call and I need to use certificates. It'd be awesome to hack this and make it work in my local environment.

[code]

That was a suggestion from Stephan in https://github.com/dotnet/corefx/issues/9728#issuecomment-234418291

[2018-02-09 17:23] danmosemsft commented on #7804
@jeffschwMSFT is Charset.UTF8 in plan somewhere? It is wonky to have to use Charset.ANSI for Unix - not guessable.

[2018-02-09 17:25] TechnikEmpire commented on #23401
@karelz I'll see if I can't whip up a test case. I test my proxy code by running an external Apache tool to measure latency and throughput so I'm wondering if you'll accept such a test case.

[2018-02-09 17:34] jeffschwMSFT commented on #7804
I will follow-up and see where the broader plan is - particularly since we have a loose dependency on ensuring .NET Fx is inalignment.

[2018-02-09 17:38] sharwell commented on #27001
## Example 1: Memory mapped files

Roslyn uses memory mapped files as a temporary data store to move infrequently-used data outside of the process. We found that closing memory mapped files is not instant, and holding a few thousand small instances had a noticeable impact on application shutdown performance. To improve overall performance, we moved from using individual files for units of data to

[2018-02-09 17:43] bartonjs commented on #26990
Are you having a compilation problem, or a runtime problem?

[2018-02-09 17:58] MgSam commented on #26845
@kasper3 F# adds a lot of its own types and conventions on top of the .NET Framework. It's in FSharp.Core.dll. You absolutely can use it from C#, and it is very powerful, but you quickly run into a lot of annoying impedance mismatches.

The biggest one being that F# has an `Option<T>` type. So the framework is written to work with `Option<T>` rather than nullables. This means for `double?`, you ha

[2018-02-09 18:03] mayconbeserra commented on #27000
@wfurt @karelz

I've upgraded my curl and now it's:

**curl --version**
[code]

Error after updating curl:
`System.PlatformNotSupportedException: The handler does not support client authentication certificates with this combination of libcurl (7.54.0) and its SSL backend ("LibreSSL/2.0.20")`

I managed to change the curl version to be **7.58**, but .NET Core 2 is still using **7.54**.

Is there an

[2018-02-09 18:11] luqunl commented on #7804
assign this to @jeffschwMSFT and @luqunl

[2018-02-09 18:11] stephentoub commented on #26691
The behavior is by-design and is specific to the specific overload of Task.Run you're using but may not realize you're using.  It stems from a design decision we had to make as we introduced the async/await semantics into the existing Task APIs.

To help clarify things, let me change your code ever so slightly, simply by clarifying for the compiler which Task.Run overload should be used:
[code]
Co

[2018-02-09 18:21] iravanchi opened #27004 "Wrong Type equality behavior when loading assembly from file"
I take a Type, query its assembly location, and then load the assembly from the same address, and find the same type from the loaded assembly. The resulting type is not equal to the original type.

Here's the test case:

    [TestMethod]
    public void TestTypeLoadingWithFilePath()
    {
        var originalType = typeof(SomeClass);
        var assemblyAddress = originalType.Assembly.Location;

[2018-02-09 18:28] jorgebay commented on #26990
Its a compilation issue, wrappers are not available on net standard 1.x and not included in `System.Security.Cryptography.Algorithms` package.

[2018-02-09 18:31] jrr commented on #27000
@mayconbeserra I suspect you're not getting libcurl 7.58 on your loader path. I'm able to get it with e.g. `DYLD_LIBRARY_PATH=/usr/local/opt/curl/lib dotnet run`.

That doesn't fix the issue, though:

`
Unhandled Exception: System.PlatformNotSupportedException: The handler does not support client authentication certificates with this combination of libcurl (7.58.0) and its SSL backend ("OpenSSL/1.

[2018-02-09 18:34] saurabh500 opened #27006 "System.Net.Security.SslStream throws exception while running EF tests"
While running EF tests on Ubuntu against netcoreapp2.1 an exception is thrown

[code]

Steps to repro

Clone the EFCore repo `https://github.com/aspnet/EntityFrameworkCore`

Build the repo from the root using build.sh

Execute the tests in /EntityFrameworkCore/test/EFCore.SqlServer.FunctionalTests
Steps:
1. Modify config.json to have a valid connection string (something like) "Data Source=tcp:serv

[2018-02-09 18:44] joperezr commented on #26996
Yes, I believe the problem here is that you are missing a binding redirect to System.IO.Compression.ZipFile. This will be automatically generated for you when we ship VS 15.6, but for the time being, can you please try adding the following binding redirect manually to your net471's app.config?
[code]

[2018-02-09 18:45] joperezr commented on #26996
Let us know if that binding redirect fixes your issue.

[2018-02-09 18:46] bartonjs commented on #26990
Okay, that's what I would expect.  The wrappers were added for netstandard 2.0.  There's no expectation that they will be available when targeting lower versions.

Whether using netstandard 1.x or 2.0 the recommended pattern is to use the algorithm factory methods.

| Replace This | With This |
| --- | --- |
| new SHA1CryptoServiceProvider() | SHA1.Create() |
| new SHA256CryptoServiceProvider() |

[2018-02-09 18:48] wfurt commented on #23401
That may be ok @TechnikEmpire as well as the original post simply measured total time to completion.
In ideal case we would get simple console app + instructions how to run it with external dependencies.
It should be full app one can look at and run, not just code fragments. Ability to reproduce and verify claims easily will greatly improve chance this will be addressed.

[2018-02-09 18:51] ar7z1 commented on #17427
@karelz Then I'll wait till 2.1. :-)

Thank you again for awesome work!

[2018-02-09 18:56] karelz commented on #23401
@TechnikEmpire ideally I would like to see an app with workload which we can measure with our tools on our side. If you have recommendations for existing tools, we're all ears of course. It would be just unfortunate if the workload is tied to them.

[2018-02-09 19:00] wfurt commented on #26966
Would you do that for every console operation - like changing colors and cursor moves @stephentoub ? That would also fix #24259
Some packages - like busybox - may have very small set build and and fallback to "dumb" terminal for everything else. It may be better to loose color than failing fatally.

[2018-02-09 19:03] stephentoub commented on #26966
That would be the ideal, so we could stop parsing this terminfo stuff ourselves, as it's apparently an implementation detail that's free to change whenever.

If we can't, then getting off it to whatever extent is possible is probably a good thing.

But worst case, we should at least fix this known issue.

[2018-02-09 19:04] TechnikEmpire commented on #23401
Ok thanks I'll see what I can do. I've written a couple of projects heavily relying on http client (one a crawler and one a proxy) and the performance of both wasn't stellar but that's anecdotal of course. Will let you know if I can out something together I just have a few things on my plate atm.

[2018-02-09 19:29] karelz commented on #27000
I did more digging and unfortunately the story is currently weird.

If you need to just skip client certificates on your dev environment (Mac) for **developer-only!** purposes, then you can use `DangerousAcceptAnyServerCertificateValidator` - that should work with any Libcurl combo.
If you truly need custom client certificates support on Mac, then unfortunately neither libuclr+OpenSSL10 won't help

[2018-02-09 19:41] iravanchi commented on #27004
More info:

If I use `Assembly.LoadFrom` instead, it works.

The `Assembly` instances are different too, so it might be the cause of the issue. (`Assembly.LoadFile` returns an `Assembly` instance that is different from the one previously loaded)

Link to discussions page on StackOverflow:
https://stackoverflow.com/questions/48711862/types-loaded-from-an-assembly-file-are-not-equal-to-the-same-type

[2018-02-09 19:43] davidsh commented on #26991
This issue is not a known problem that I am aware of.

However, internally, there is a difference in the implementation of how decompression works depending on which version of the OS you are running on.  .NET Core on Windows uses native WinHTTP component.  And on Windows 7 / Windows Serve 2008 R2, WinHTTP does not have internal support for decompression.  So, the decompression is handled in the .

[2018-02-09 19:45] kasper3 commented on #26966
Is it going to be `icushim`, `opensslshim` and other kinds of shims in corefx and coreclr? i.e. even build machine had ncurses lib available, at runtime it will load (dlopen/dlclose) the lib if available (`runtime if condition`), if not, treat as TERM=="dumb" (node.js example -> https://github.com/nodejs/node/blob/e5f101fe7beba0/lib/internal/repl.js#L37-L42).

[2018-02-09 19:50] TomYip commented on #26848
That's good. Do we have an ETA for .NET Core 2.1 public release? BTW, this problem is particular hard to solve for Lambda functions running in AWS as we are also depending on AWS to support the latest version of .NET Core. Historically AWS takes a while to enable support for the latest version of .NET Core.

[2018-02-09 20:05] karelz commented on #26848
Here's official .NET Core 2.1 roadmap: https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates (more details are not public yet)

[2018-02-09 20:15] davidsh commented on #23131
HttpClient.Dispose() does 2 things.  It cancels pending requests itself via the _pendingRequestsCts object.  And it disposes the handler assuming it owns it (i.e. HttpClient constructor was called w/ ownsHandler=true).

However, there might be cases where HttpClient doesn't own the handler.  And then someone just disposes the handler on their own.  In that case, they will bypass the HttpClient "fe

[2018-02-09 20:18] junweilee commented on #26991
FYI here's some sample WebClient code that works with just setting the decompression flag

[code]

[2018-02-09 20:54] davidsh commented on #26986
Duplicate of #26722

[2018-02-09 20:54] #26986 closed

[2018-02-09 21:07] #26815 closed

[2018-02-09 21:08] #26900 closed

[2018-02-09 22:03] smitpatel commented on #27006
I haven't seen such an error yet in our CI builds. I will run it locally on Linux & mac both and see if I encounter same issues.

[2018-02-09 22:05] livarcocc opened #27012 "The terminfo database is invalid"
_From @SebastianPfliegel on February 9, 2018 18:10_

## Steps to reproduce
I'm using openSUSE Tumbleweed and downloading the SDK and runtime via the official repos.
dotnet new console -o myApp
cd myApp
dotnet run

## Expected  behavior
Hello World printed. No exception thrown.

## Actual behavior
Exception gets thrown: http://susepaste.org/65975762
However, if I run `dotnet run > output.txt` the e

[2018-02-09 22:05] livarcocc commented on #27012
If you run dotnet publish and then execute your app through dotnet <path_to_published_dll>, does this fail with the same exception?

I am trying to differentiate between a runtime failure vs a tooling failure.

[2018-02-09 22:05] livarcocc commented on #27012
_From @danmosemsft on February 9, 2018 21:21_

Looks like https://github.com/dotnet/corefx/issues/26966

[2018-02-09 22:09] danmosemsft commented on #27012
dupe.

[2018-02-09 22:09] #27012 closed

[2018-02-09 22:20] Yves57 opened #27013 "Implement Snappy compression algorithm"
The Brotli algorithm has been recently implemented. I think that it would be nice to see a similar implementation for Snappy: it is very popular, cross platform, open source, with a lower compression but faster than Brotli.

[2018-02-09 22:33] Spongman commented on #24253
i cam here just to comment that this seems like a fundamental hole in the API. it means that if we want to throw an exception indicating http status failure, we have to bake our own exception type. it seems crazy to me that such a fundamental thing - throwing an exception in an exception case shouldn't include the reason for the exception.

[2018-02-09 22:37] Spongman commented on #9227
please reconsider this. EnsureSuccessStatusCode _should_ throw an exception that indicates the status code. either add it to HttpRequestException, or throw a different exception.

[2018-02-09 22:51] jnm2 commented on #27001
If someone passes me a `ReferenceCountedDisposable<Foo>`, how do I know when to access `Target` directly versus calling `TryAddReference` first? Do I do the latter only if I'm letting it escape the stack?

[2018-02-09 22:57] sharwell commented on #27001
@jnm2 In our usage patterns, if you get an instance, you own that instance.

[2018-02-09 23:11] jnm2 commented on #27001
@sharwell Cool. Found:

[`TryAddReference` usages](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Utilities/ReferenceCountedDisposable.cs,21b2df1541c1a160,references)

[`WeakReference` `TryAddReference` usages](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Utilities/ReferenceCountedDisposable.cs,51f570b93fca8612,references)

[2018-02-09 23:50] MohammadHamdyGhanem opened #27014 "Add Vector.Narrow and Vector.Widen overloads to cast elemnts values between float and int, and between double and long"
I suggest to add these two overloads to the Vector.Narrow method:
[code]
where:
[code]
Example:
[code]
By the way, It will be nice if we can use foreach to iterate Vector<T> elemnts using foreach..
I think more mathematical methods (like the ones in the Math class) can be added to the Vector class. The fact that the Vector<T> is immutable, demands some long codes to construct a new version contain

[2018-02-09 23:52] danmosemsft commented on #26999
There is a cost to adding new API to popular generic collection classes as they increase code size which is multiplied by every distinct instantiation increasing memory use and reducing locality. So where possible we would prefer extension methods (either in BCL or in client code). In this case you could use extension methods, except you cannot do Array.Copy.

Do you see this performance hurt real

[2018-02-09 23:55] danmosemsft commented on #24522
Note the implementation of the Libc methods is not a specialization of reading a file version. It calls gnu_get_libc_version().

It seems either
- We allow RuntimeEnvironment to remain an appropriate location for these not so generally interesting API
- CLI allows me to paste in the implementation
- We cannot collect such datapoints.

[2018-02-09 23:57] jkotas commented on #24522
Why can't you PInvoke `gnu_get_libc_version` yourself from the telemetry code? It looks odd to have APIs for it in the runtime/framework.

[2018-02-10 00:00] tannergooding commented on #24522
I don't think that these APIs (strictly speaking) need to be part of CoreFX. However, I also agree that they do not belong in CLI.

These are more general APIs that telemetry code, in general, may want to use, and adding an API to some shared telemetry library and referencing that from CLI seems like the most appropriate action.

[2018-02-10 00:04] danmosemsft commented on #24522
@livarcocc could you please speak to that?

[2018-02-10 00:10] tmat commented on #26935
@karelz When is the next API review session that can pick this up?

[2018-02-10 00:17] livarcocc commented on #24522
Have we considered maybe putting them in PlatformAbstractions in CoreSetup?

I also agree 100% with Tanner's comment above. The code had enough specificity to it that it felt it did not belong in the CLI.

[2018-02-10 00:21] danmosemsft commented on #24522
We can do that if we are happy holding API in Microsoft.DotNet.PlatformAbstractions.dll to a lower bar (less general purpose, not API reviewed, possibly lower compat bar). This is apparenlty what we have done so far.

[2018-02-10 00:38] jkotas commented on #24522
If you are collecting the telemetry point for LIBC version in CLI, it makes it part of CLI whether you like it or not. Having <10 line implementation to get it living somewhere else won't change that.

The interesting telemetry points evolve over time.  Let's say we decide that the LIBC version is useless point 6 months from now, but we would want to have telemetry about openssl version instead. A

[2018-02-10 00:46] bcr opened #27015 "Not a good idea to specify charset parameter for some content types in StringContent"
https://github.com/dotnet/corefx/blob/6bf1e7c3032d3c24d5a41bbd880549ef4a8de2da/src/System.Net.Http/src/System/Net/Http/StringContent.cs#L31

I was building a `StringContent` object with a `mediaType` of `application/json`. That media type does not specify a `charset` parameter, which is unconditionally added in this class.

Adding this parameter automatically is probably not a good idea. I'm not s

[2018-02-10 01:01] danmosemsft commented on #25354
@kurtschelfthout  are you interested in this implementation?

[2018-02-10 01:07] davidsh commented on #27015
This issue is similar or perhaps a duplicate of #25290.

[2018-02-10 01:09] bcr commented on #27015
I agree. Sorry for the noise.

[2018-02-10 01:09] #27015 closed

[2018-02-10 01:22] amanbha opened #27017 "Using System.Net.Http nuget package in a netstandard 2,0 library"
I am trying to develop a netstandard 2.0 library using System.Net.Http. But when I try to install its nuget package to net standard 2.0 project, I see only older versions 2.0.20126.16343 and not the latest 4.3.3. However if I create a .net core 2.0 or a full .net framework project I see the latest 4.3.3 version to install. Could you please let me know what is the guidance if someone wants to devel

[2018-02-10 01:25] tmat opened #27018 "Test failure in CI: System.Collections.Tests.LinkedList_Generic_Tests_string/AddBefore_LLNode_LLNode"
https://mc.dot.net/#/user/tmat/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Frelease~2F2.1~2F/test~2Ffunctional~2Fcli~2F/76c888d757bf1e9d470ceb4b93d3d00b5be5d4ec/workItem/System.Collections.Tests/analysis/xunit/System.Collections.Tests.LinkedList_Generic_Tests_string~2FAddBefore_LLNode_LLNode

[2018-02-10 01:26] amanbha commented on #27017
Incorrect issue, closing it.

[2018-02-10 01:26] #27017 closed

[2018-02-10 01:45] karelz commented on #26935
@tmat we should be able to review on Tue. Ping Immo just in case (he's back from vacation on Mon). I'll be on vacation starting Tue.

[2018-02-10 01:51] tmat commented on #26935
@karelz Cool. Thanks

[2018-02-10 02:13] Microshaoft commented on #26917
@stephentoub
Thanks.
I think the old code that without examination of the return value of receiveAsync , can almost work rightly in .NET Framework. Is the implementation between .NET Core/Standard  and .NET Framework difference? but the API naming are same only?

Would you help to Check it? Thanks very much.
Due to avoid fall in endless loop and got stack overflow exception in some unnormal situat

[2018-02-10 03:01] stephentoub commented on #26917
It has the same problem on the .MET Framework. It's just more likely to be an issue on .NET Core.

.NET Core has lots of performance improvements. One such improvement makes it much more likely that these operations will complete synchronously, but they can still compete synchronously on .NET Framework and code must be prepared to handle that.

[2018-02-10 04:14] clarkis117 commented on #27013
For prior a implementation see: https://github.com/jeffesp/Snappy.Sharp

[2018-02-10 10:15] mayconbeserra commented on #27000
Thanks @karelz , unfortunately it doesn't with `DangerousAcceptAnyServerCertificateValidator`. I applied the suggestion from @jrr and I managed to call use libcurl+openSSL10, but as you mentioned, it won't work.

When is going to be available .NET Core 2.1? Is there a preview to download?

[2018-02-10 11:11] stephentoub commented on #27006
It's of course possible there's an SslStream bug, though at first glance it sounds higher up and that the error is accurate: some code is trying to make a second write while a previous one is still in flight. That's not supported, nor was it previously. There have been changes to SslStream in 2.1, which could potentially be making a race condition in consuming code more likely to happen.

[2018-02-10 11:14] stephentoub commented on #26959
Thanks. Seems like we could lower it to 256 as a more reasonable staring place then. If it's too small, the growth logic will kick in. Seems very rare for a login name to be more than that, even if it's allowed.

[2018-02-10 11:56] jkotas commented on #26802
These 3 commits should be undone once this is fixed:

https://github.com/dotnet/corefx/commit/120dce456a90df9982797d6c94eaaababd3e00d1
https://github.com/dotnet/corefx/commit/2202b4fd49ace58876763903f43cf27b2275c10a
https://github.com/dotnet/corefx/commit/a296c86639cc59ae486d2e3870c6e75817e88992

[2018-02-10 12:12] kurtschelfthout commented on #25354
@danmosemsft  Yes, I'v been planning to attempt a PR. There's some stuff I want/need to do first though, so I can't give you a timeframe.

That said, I don't want to give the impression I "claim" this issue; if someone else gets to it first I'd be happy :) (not that I think that's likely, this is pretty niche...)

[2018-02-10 13:17] JairoMarques commented on #18012
Any news?

[2018-02-10 15:10] GSPP commented on #26734
Does this not mean that if `Dispose` fails to flush then it leaves the handle open? Is that by itself not an issue? This means that resources will not be freed and the file will remain locked. I would never expect a dispose call to do that even if it happens to throw. It also means that there is no way to free the handle on demand when the disk is full, right?

[2018-02-10 15:17] GSPP commented on #11029
I really wonder what code would depend on a NRE being thrown from a SelectMany. I would make the case to simply fix this. I think the perf loss from this null check would be very small and pale in comparison to other perf losses that are routinely accepted by LINQ to improve usability.

[2018-02-10 15:18] ayende commented on #26734
Yes, this should be closed anyway.
As an added safety, the SafeFileHandle itself is going to close to handle on its own finalizer, if needed.

[2018-02-10 18:01] danmosemsft commented on #25354
Sounds good. Nobody else will take it without posting here.

[2018-02-10 18:15] iSazonov commented on #26601
Good question. I wonder too that WMI instead of MMI was ported to .Net Core.
PowerShell Core depends on MMI and currently uses limited version https://www.nuget.org/packages/Microsoft.Management.Infrastructure/ . Tracking Issue https://github.com/PowerShell/PowerShell/issues/4562.

/cc @SteveL-MSFT

[2018-02-10 18:55] karelz commented on #27000
@mayconbeserra can you please paste a code showing what exactly doesn't work with `DangerousAcceptAnyServerCertificateValidator`? We might need to dig into that if that's true.

.NET Core 2.1 official timeline is here: https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates
Preview should be out soon-ish.

[2018-02-10 20:10] karelz commented on #26586
2 more hits in official Helix runs - see updated top post.

[2018-02-10 20:11] saurabh500 commented on #27006
@stephentoub thanks. I will see if I can isolate the scenario. It won't be easy to provide a standalone repro in this case with only sslstream and Sql. However I can try to figure out a repro with SqlClient and sslstream. Meanwhile if this bug can be investigated with  the test case above that would be great.

[2018-02-10 20:11] saurabh500 commented on #27006
@karelz why does this bug have a need more info label?

[2018-02-10 20:19] karelz commented on #26988
This is 100% repro on all Nix CI legs (see updated top post) - regression introduced between builds 20180208.06 and 20180209.01.
I'd recommend to disable the test until we have a solution.

[2018-02-10 20:27] karelz opened #27021 "[Ubuntu18.04] Test failed: System.Drawing.Imaging.Tests.EncoderParameterTests / Ctor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException"
Failed on newly added distro Ubuntu 18.04. Related to #24274 (failing in the past)

Failure:
[code]

## History of failure

Day | Build | Details
-- | -- | --
2/10 | 20180210.01 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180210.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Imaging.Tests.E

[2018-02-10 20:27] karelz commented on #27021
Fails on newly added distro: @ianhays cc @danmosemsft @joshfree

[2018-02-10 20:30] karelz opened #27022 "[Ubuntu 18.04] Test failed: System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern / CurrencyNegativePattern_Get"
Fails on newly added distro: Ubuntu 18.04

Failure:
[code]

## History of failures

Day | Build | Details
-- | -- | --
2/10 | 20180210.01 | [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180210.01/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern~2FCu

[2018-02-10 20:30] karelz commented on #27022
Failed on newly added distro (Ubuntu 18.04) - @ianhays cc @danmosemsft @joshfree

[2018-02-10 20:38] karelz opened #27023 "[Ubuntu18.04] Tests failed: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test / *"
Failed on newly added distro Ubuntu18.04

Affected tests:
* `GetAsync_AllowedSSLVersionDiffersFromServer_ThrowsException` (Tls11/Tls12 args)
* `GetAsync_DisallowTls10_AllowTls11_AllowTls12`

Test failure:
[code]

## History of failures

Day | Build | Details
-- | -- | --
2/10 | 20180210.01 | 3x - [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffu

[2018-02-10 20:39] karelz commented on #27023
Failed on newly added distro Ubuntu18.04 - @ianhays
@wfurt can you please take a look? Maybe it is just different default TLS settings than what we expect?

[2018-02-10 20:51] tmds commented on #25354
@kurtschelfthout, you mentioned some options to be used with the new FileStream overload: FILE_FLAG_SEQUENTIAL_SCAN, FILE_FLAG_NO_BUFFERING. Should these be set in the existing `string filepath` implementation?

The state of the FileStream (i.e. offset) should not change to allow concurrent use/reuse of the file handle. This should behave the same across all platforms.

@kurtschelfthout Do you pla

[2018-02-10 20:55] JeremyKuhne commented on #26988
The result of the expression `Path.GetPathRoot(Directory.GetCurrentDirectory())` has not changed.

The original throw was:
[code]
The new throw is:
[code]

It looks like I broke this. `DirectoryInfo.Exists()` on the root in Unix returns false now, when it used to return true. Investigating and adding a test for this.

[2018-02-10 21:08] karelz commented on #27006
@saurabh500 per Stephen's analysis above, it may be very much a problem in the user code (the test), hence we need more clarity if that's the case. If there is evidence it is a bug in SslStream, rather than in calling code, we will be more than happy to investigate for 2.1.

[2018-02-10 21:11] saurabh500 commented on #27006
The same code works fine for netcoreapp2.0 and fails in netcoreapp2.1
I think that should be enough information to consider this as a regression.
In case it is figured that SqlClient had been calling sslstream wrong from the very beginning I would be happy to change it.
I think there is enough information to investigate in this bug.

[2018-02-10 21:59] karelz commented on #27006
The 20 vs. 21 difference might be from this "_There have been changes to SslStream in 2.1, which could potentially be making a race condition in consuming code more likely to happen._".
Given that information I don't consider it a regression in CoreFX yet - therefore Future + needs more information.

It would be much easier if someone familiar with the test can take it out of the test harness to s

[2018-02-10 22:12] danmosemsft commented on #26601
We ported System.Management purely to make it easier to port legacy code to.NET Core. We don't recommend new code use it.
@viktorhofer could you please check whether  MMI has complete functionality on.NET Core?

[2018-02-10 22:14] danmosemsft commented on #11029
@vsadov to see above comments.

[2018-02-10 22:15] ViktorHofer commented on #26601
will do.

[2018-02-10 22:17] JonHanna commented on #11029
With a boneheaded exception like NRE, if it comes from user-code then it isn't good code that depends on it but bad code; I prefer getting an NRE to incorrect but non-throwing behaviour. Are we sure this flattening is always the best thing to do?

[2018-02-10 22:30] danmosemsft commented on #27021
Dupe of https://github.com/dotnet/corefx/issues/24274. @maryamariyan could you please disable this test for Ubuntu 1804. It is already dsiabled for 1710 as you will see.

[2018-02-10 22:50] danmosemsft commented on #27022
Ubuntu 1804 Bionic upgraded from ICU [57 ](https://packages.ubuntu.com/bionic/libs/libicu60)to [60](https://packages.ubuntu.com/bionic/libs/libicu60)
ICU v60 [picked up ](http://site.icu-project.org/download/60) CLDR v32
In CLDR v32, Bulgarian negative currency symbol [was introduced  ](http://www.unicode.org/cldr/charts/32/delta/bg.html): `(0.00 ¤)`

@tarekgh according to the CLDR [diff](http://w

[2018-02-10 22:52] danmosemsft commented on #27018
Log is gone. @tmat I don't suppose you have the log? Otherwise we have to close, this test is really long and has lots of possible asserts that could have failed.

[2018-02-10 22:52] danmosemsft commented on #27004
@AtsushiKan do you know the answer? Is this an expected discrepancy?

[2018-02-10 23:05] saurabh500 commented on #27006
Sounds good. This repro has a lot of layers and done of which are out of my area of expertise. If EF detects this failure in their CI they could ping on this bug.
 I will close this bug for now until more info comes from upstream (in case  EF experiences failures). I was checking the state of SqlClient with EF tests and opened this bug before we get such bugs in ask mode.

[2018-02-10 23:05] #27006 closed

[2018-02-11 01:19] #26988 closed

[2018-02-11 01:44] danmosemsft opened #27027 "ServiceBase tests failing on NETFX"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20180210.03/workItem/System.ServiceProcess.ServiceController.Tests/wilogs

[code]

[2018-02-11 02:08] stephentoub commented on #23760
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/8116/consoleText

[2018-02-11 02:11] ViktorHofer commented on #26601
The API is compatible with .NET Standard 2.0, only SecurityContext was problematic. Had to add a nuget package and cross-compile as SecurityContext throws on Core because it's stubbed out.

[2018-02-11 02:25] stephentoub opened #27031 "SocketsHttpHandler should check for transfer encoding chunked without content"
WinHttpHandler and CurlHandler both fail if TransferEncodingChunked is set to true but request.Content is null.  SocketsHttpHandler should check for that, too.  And there should be a test.

[2018-02-11 02:43] danmosemsft opened #27033 "[Feature-Request] N-bit sized int and floating point types"
@hamarb123 commented on [Fri Feb 09 2018](https://github.com/dotnet/standard/issues/647)

I propose we should be able to have N-bit sized int and floating point types.
Here is how it could work:

Obviously we already have the following:
- int 1 / uint 1 (bool)
- uint 8 (byte)
- int 8 (sbyte)
- uint 16, 32 and 64 (ushort, uint and ulong)
- int 16, 32 and 64 (short, int and long)
- float 32 (single)

[2018-02-11 03:35] stephentoub commented on #26089
Failed again:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/8123/consoleText

[2018-02-11 06:11] danmosemsft commented on #27023
Is SSPI relevant to Unix (should it be GSSAPI?)

Also exceptoin messages that end with ` see inner exception.` are not logging friendly. Better to append the inner exceptoin message.

[2018-02-11 07:24] Sunny-pu opened #27037 "Test System.Net.Http.WinHttpHandlerFunctional.Tests.ServerCertificateTest.UseCallback_CallbackReturnsFailure_ThrowsInnerSecurityFailureException failed with "Assert.Equal() Failure\r\nExpected: 12175\r\nActual: 12017""
Failed tests: System.Net.Http.WinHttpHandlerFunctional.Tests.ServerCertificateTest.UseCallback_CallbackReturnsFailure_ThrowsInnerSecurityFailureException

Details:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/398/testReport/System.Net.Http.WinHttpHandlerFunctional.Tests/ServerCertificateTest/UseCallback_CallbackReturnsFailure_ThrowsInnerSecurityFailureExcep

[2018-02-11 10:04] iSazonov commented on #26601
@danmosemsft It would be good to know what MSFT recommends instead. (Is there a documentation, a blog article or an Issue?)

[2018-02-11 10:15] #26750 closed

[2018-02-11 10:18] iSazonov commented on #24001
Can we expect this unified API to appear in 2.1 version?

[2018-02-11 10:20] mayconbeserra commented on #27000
@karelz the code is:

[code]

is that correct?

[2018-02-11 11:26] stephentoub opened #27038 "DirectoryEntry.GetName assert failure on macOS"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/a137bbf42598202f999ead31d92754613145c849/workItem/System.IO.Tests/wilogs
[code]
cc: @JeremyKuhne

[2018-02-11 12:23] Drawaes commented on #27004
This is the correct behavior. In "full framework" LoadFrom loads into the callers AppDomain, and LoadFile does not load into the callers AppDomain.

Translated in .net core this is AssemblyLoadContext. So you with LoadFile you will get the assembly in a different load context. This behavour is expected (no type equality) and infact it demanded for assembly load contexts to work. Say a static membe

[2018-02-11 12:25] Drawaes commented on #27004
FYI in full framework there is a "LoadFromFile(string file, Evidence )" overload that lets you provide evidence to try to map the loaded dll into the current context.

from the API documentation

[2018-02-11 14:22] jswolf19 commented on #1155
@karelz I think I've tracked down the issue... I'll try to get a working branch, and then I may need help on performance...

[2018-02-11 14:28] stephentoub commented on #25025
@karelz, can this be closed?

[2018-02-11 14:29] stephentoub commented on #26323
@geoffkizer, is this still 2.1 or can this be pushed to Future?

[2018-02-11 17:19] #27031 closed

[2018-02-11 17:50] stephentoub opened #27045 "ILLink initlocals custom step fails when building on Unix"
Adding
[code]
to a corefx .csproj works fine on Windows but fails to build on Linux with the error:
[code]
cc: @sbomer, @JosephTremoulet

[2018-02-11 18:42] geoffkizer commented on #26323
Let's leave it as 2.1 at least for now; I'd like to investigate further before we push it out.

[2018-02-11 18:43] geoffkizer commented on #26323
(That said I'm waiting until I get some other planned auth work finished...)

[2018-02-11 18:53] candide-guevara opened #27046 "System.Runtime.InteropServices bad calling convention when returning unions on linux"
Hi,

When using Interop on linux my app crashed. I managed to narrow it down to the cas where the native method returns an union.  When I looked at the core dump with gdb it seemed to me that the calling convention is wrong. I was expecting to see the pointer to the string in register RDI but it contained garbage.

I do not know if it is correct behavior or a bug, but I would appreciate if somebod

[2018-02-11 19:30] stephentoub commented on #26323
Ok. Thanks.

[2018-02-11 19:36] JeremyKuhne opened #27047 "Add more IO tests around problematic filename characters"
While we have some tests, it would be good to add more with problematic filenames and filename characters.

Here is a good article describing difficult names for reference:

https://www.dwheeler.com/essays/fixing-unix-linux-filenames.html

Creating, copying, moving, enumerating, deleting, etc.

Trailing spaces and periods on Windows are legal, but difficult to create and access. Calling Win32 APIs

[2018-02-11 19:49] JeremyKuhne opened #27048 "API Proposal: Path API that exposes the Portable Filename Character Set"
[code]

Returns true if the name only has characters from the defined set. The set is small `[A-Z][a-z][0-9]._-`.

POSIX.1-2008
3.282 Portable Filename Character Set
http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_282

[2018-02-11 19:52] danmosemsft commented on #27048
In practice do our supported systems support a wider range?

[2018-02-11 20:06] JeremyKuhne commented on #27048
Yes, this won't be the only API proposal I'll be opening.

[2018-02-11 20:14] JeremyKuhne opened #27049 "API Proposal: Add Path API that validates that path cross-plat safe"
Essentially this is similar to the Windows `Path.GetInvalidFileNameChars()`.

[code]

This API will not accept

- invalid Windows filename characters (control chars, `<`, `>`, `:`, `"`, `/`, `\`, `|`)
- starting or ending spaces ` `
- ending periods `.`
- starting dashes `-`
- normal globbing characters `[`, `]`, `*`, `?`

See related #27048

[2018-02-11 20:26] JeremyKuhne commented on #24001
@iSazonov, it is unlikely to be in 2.1 as time is almost up for that release. The enumeration updates are eating up all of my remaining bandwidth. Rest assured that better temporary file handling is something I'm _very_ interested in.

[2018-02-11 21:44] jkotas commented on #27049
What is the scenario where one would want to use this API?

[2018-02-11 22:02] iravanchi commented on #27004
@Drawaes I understand that this is the correct behavior, and I think it's good that the AssemblyLoadContext is a separated concept now. But there's a more fundamental issue then.

I was expecting both implementations of net-standard to behave the same.
I mean .NET Framework 4.7.1 and .NET Core 2.1.4.
Shouldn't this be the case? Or net-standard is just supposed to be a standardization on API signat

[2018-02-11 22:08] geoffkizer commented on #26760
I saw this once locally today, but that's the only time I've seen it.

[2018-02-11 22:24] JonHanna commented on #27004
Does `IsEquivalentTo` consider them equivalent? If not, should it?

[2018-02-11 22:27] JeremyKuhne commented on #27049
It is intended to provide a way to validate user input for names.

[2018-02-11 22:43] Drawaes commented on #27004
I don't know about the consistency question but the core version is what I would have expected. For instance if you try to cast an instance of one to the other the exception you get shows that the types are actually [A]Namespace.TypeName and the second is [B]Namespace.TypeName.

[2018-02-12 01:55] tmat commented on #27018
@danmosemsft I do not have a log.

[2018-02-12 02:04] danmosemsft commented on #27018
Too bad, if we see again we can add more logging.

[2018-02-12 02:04] #27018 closed

[2018-02-12 02:07] idubnori commented on #11292
I've observed the similar issue which seems to related to this. onovotny/Zeroconf#96
It's on ARM32 (Raspberry Pi).

   at System.Net.Sockets.Socket.UpdateStatusAfterSocketErrorAndThrowException(SocketError error, String callerName)
   at System.Net.Sockets.Socket.SetSocketOption(SocketOptionLevel optionLevel, SocketOptionName optionName, Int32 optionValue, Boolean silent)
   at System.Net.Sockets.

[2018-02-12 02:23] #26984 closed

[2018-02-12 02:23] #26985 closed

[2018-02-12 02:41] geoffkizer commented on #26453
I don't know that it's all that atypical.  That said, if it makes the tests more stable, we should do it.

[2018-02-12 03:14] pjanotti commented on #26453
The redirection tests were re-enabled with PR #26674 and no failures since then.

[2018-02-12 03:17] geoffkizer commented on #26453
Ok, then can we close this issue?

[2018-02-12 03:23] pjanotti commented on #26453
From my perspective yes, closing it...

[2018-02-12 03:23] #26453 closed

[2018-02-12 04:06] karelz commented on #27046
@janvorli do you know what is the calling convention on Linux?

[2018-02-12 04:44] jkotas commented on #27046
Dup of https://github.com/dotnet/coreclr/issues/4307

[2018-02-12 06:57] Sunny-pu commented on #24274
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180212.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Imaging.Tests.EncoderParameterTests~2FCtor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException(numberOfValues:%20-1)

[2018-02-12 07:20] jkotas commented on #27048
Is there somebody (our own CLI?) eager to use this API for user input validation? Do they plan to issue a warning, or fail with error?

I think that the right policy for cross-platform filenames depends on your tolerance for how often things do not work. I do not think there is one size fits all. For example, it is very common for spaces in filenames or non-ascii characters in filenames to be non-

[2018-02-12 07:42] xaviergxf commented on #26996
Hi @joperezr, thanks for the workaround. If this is a problem with vs, then i could use the cli instead? Thanks

[2018-02-12 09:42] #26508 closed

[2018-02-12 10:02] chleun-moon commented on #26992
@davidfowl

If we cannot dispose the safe handle explicitly, only finalizer can release it. In this situation, is there a way that the safe handle is disposed by finalizer in the same thread as initialization?

[2018-02-12 10:11] chleun-moon opened #27056 "[Question] Per thread finalizer"
Regarding https://github.com/dotnet/corefx/issues/26992,
I have a question.

@davidfowl

If we cannot dispose the safe handle explicitly, only finalizer can release it. In this situation, is there a way that the safe handle is disposed by finalizer in the same thread as initialization?

[2018-02-12 10:42] stephentoub commented on #25676
@Drawaes, this started failing with the SslStream changes. Are you able to investigate further? Maybe an error isn't being cleared when it should be?

[2018-02-12 10:59] balsingh opened #27057 "Nested Transactions failing - Enlisting in Ambient transactions is not supported"
Nested transaction are broken in System.Data.SqlClient 4.4.2 (latest stable release)

They work with System.Data.Sqlclient 4.3.1.

The error is Enlisting in Ambient transactions is not supported.

Below is sample code which works in 4.3.1 and now boken in 4.4.2

[code]

[EDIT] Update code formatting and syntax highlighting by @karelz

[2018-02-12 11:13] geoffkizer opened #27058 "HttpClientMiniStress: consistent failure in UnreadResponseMessage_Collectible"
The Assert waiting for the response object to be collected fails.

Happens for both WinHttpHandler and SocketsHttpHandler.

[2018-02-12 11:44] kurtschelfthout commented on #25354
No, I don't think so. You only want to set those in particular use cases, esp. NO_BUFFERING.

I'm not planning to do any non-Windows implementation; the SendPackets API is pretty much a wrapper around the Windows API. From what I've seen (which may be the wrong place or whatever), to get the linux implementation even to what there is today would require pretty significant work to begin with.

[2018-02-12 12:32] tmds commented on #25354
What about FILE_FLAG_SEQUENTIAL_SCAN? Would that make sense?

It looks like its implemented here:

https://github.com/dotnet/corefx/blob/40cbd5636851093309b841db4d53af369b7ef1c6/src/System.Net.Sockets/src/System/Net/Sockets/SocketPal.Unix.cs#L1590-L1591

[2018-02-12 12:54] stephentoub commented on #25354
Yes. For any new overloads to be exposed here, we'll need them implemented for both Windows and Unix. Thanks.

[2018-02-12 13:54] #8371 closed

[2018-02-12 13:57] HeMinzhang opened #27062 "My idea:Async and Task function pipeline"
I design a Lambda  Expression:Task<IEnumerable> WhereAsync.
If you used WhereAsync,You Lambda Expression pipline such as WhereAsync().SelectAsync() be broken.

So If c# has a async Lambda Expression pipline,We used async and Task our function pipline don't be broken.

[2018-02-12 15:09] stephentoub opened #27063 "Test failure: PostAsync_CancelDuringRequestContentSend_TaskCanceledQuickly"
WinHttpHandler has some cancellation support, but it doesn't appear to support cancellation during content send, e.g. if cancellation is requested and the server never sends back response headers.  netfx has the same issue.  UAP (WinRT based stack) also hangs.

[2018-02-12 15:12] stephentoub opened #27064 "Test failure: MaxConnectionsPerServer_WaitingConnectionsAreCancelable"
The MaxConnectionsPerServer_WaitingConnectionsAreCancelable test fails on WinHttpHandler in a strange manner.  It throws a "The server returned an invalid or unrecognized response" WinHttpException while receiving/parsing the response headers. This happens while handling the response from the first request, but doesn't happen if the last request is removed.  It almost as if there's some state that

[2018-02-12 15:21] stephentoub opened #27065 "Test failure: GetAsync_CancelPendingRequests_DoesntCancelReadAsyncOnResponseStream"
CurlHandler incorrectly maintains a registration with the CancellationToken passed in to SendAsync for the duration of the whole operation, including processing of the response body, even if HttpCompletionOption.ResponseHeadersRead is used.  That means that HttpClient.CancelAllPending will cancel such operations.  It should unregister from that token once it completes the Task returned from SendAs

[2018-02-12 15:28] stephentoub opened #27066 "Make Sockets behavior consistent in the face of cancellation"
See discussion at https://github.com/dotnet/corefx/pull/27029/files/a137bbf42598202f999ead31d92754613145c849#r167445914

cc: @geoffkizer

[2018-02-12 16:07] jeffschwMSFT commented on #27046
Closing and tracking by @dotnet/coreclr#4307

[2018-02-12 16:07] #27046 closed

[2018-02-12 16:21] eerhardt commented on #26959
I'll get a PR up to update the default for all 3 places.

[2018-02-12 16:23] stephentoub commented on #26959
Sounds good.  Thanks, Eric.

[2018-02-12 16:27] tarekgh commented on #27022
@krwq

[2018-02-12 16:27] tarekgh commented on #27022
I put a question on the PR.

[2018-02-12 16:28] eerhardt commented on #27033
Are there real world scenarios that require this?  Especially the lower cases - 4-bit integer/float.

We already have `BigInteger` which can grow to any size.  So I don't think we'd need another `2^n` int.

[2018-02-12 16:30] #2648 closed

[2018-02-12 16:41] AtsushiKan commented on #24897
The `Convert` api allows (and ignores) whitespace characters in the input - this is likely to be the source of its slowness compared to `Base64`. We can't just copy&paste and replace `byte` with `char` here - the whitespace requirement changes a basic assumption of the `Base64` implementation.

[2018-02-12 16:51] stephentoub opened #27067 "WinHttpHandler/CurlHandler hangs or fails when connection pooling and connection dropped"
See GetAsync_DontDisposeResponse_EventuallyUnblocksWaiters test.  It sets MaxConnectionsPerServer to 1, and then proceeds to issue a ResponseHeadersRead request but drops the response object without disposing it.  It then creates a second request to the same server, and that request is never processed.

[2018-02-12 17:14] davidfowl commented on #27056
I don't believe there's a way to do that.

[2018-02-12 17:15] karelz commented on #25163
Sounds reasonable to me - @davidsh is it ok to close the issue? Or do you have concerns regarding @geoffkizer's assessment?

[2018-02-12 17:16] tannergooding commented on #27033
I think there are real world scenarios for bitfields (which has a language proposal: https://github.com/dotnet/csharplang/issues/465). I don't think there is any need to provide framework types for them.

I think providing `Int128`/`UInt128` is reasonable. It is part of the fundamental types (and therefore has special handling) in the ABI (Application Binary Interface) for a number of modern platf

[2018-02-12 17:17] AtsushiKan commented on #26396
It appears this is the Unix-specific path that's in question here (Windows uses the OS api to remove redundant segments and other path normalization.) I'm not really set up for Unix dev and testing so this isn't a good "grab" bug for me. Putting back up for grabs.

[2018-02-12 17:31] davidsh commented on #25163
Some users want might want to resend the same HttpRequestMessage multiple times.  Mutating it will prevent that.  That said, some of our implementations already disallowed that behavior by internally marking the HttpRequestMessage as "sent' and prevented future sends of it.

If we decide to trend in this new direction (by allowing our implementation to mutate the user inputs), at the very least we

[2018-02-12 17:33] stephentoub commented on #25163
Yeah, HttpClient does this, but HttpMessageInvoker does not, e.g. the only call in System.Net.Http.dll to MarkAsSent is here:
https://source.dot.net/#System.Net.Http/System/Net/Http/HttpClient.cs,632

[2018-02-12 17:47] joperezr commented on #26966
Taking a look...

[2018-02-12 18:01] eerhardt commented on #27014
Have you taken a look at:

[code]

?

I think it does what you are trying to do above.

[2018-02-12 18:02] wfurt commented on #25163
If we want to reuse HttpRequestMessage multiple times can we add some function to sanitize it back to pristine state (or do it automatically)

[2018-02-12 18:03] AtsushiKan commented on #26465
What determines whether "we're already aligned"? If T is a sequential struct, for example, do we have to do the same calculation that the runtime already does to determine its alignment requirements? (Including taking into the account the `Pack` attribute?) If we're taking into the account the running CPU architecture as the example suggests, is there a list of supported CPU's and their alignment

[2018-02-12 18:06] SteveL-MSFT commented on #26601
On Windows, we recommend using Microsoft.Management.Infrastructure namespace (aka WMIv2).  System.Managmeent (aka WMIv1) is deprecated.  On non-Windows, we currently don't have plans to port either namespace.

[2018-02-12 18:10] kasper3 commented on #26966
@joperezr, the original poster is @redni, who raised this issue at: https://github.com/dotnet/sdk/issues/1916. Do you have ncurses 6.1 on Unix?

` dpkg -l '*ncurses*' | grep '^ii'`
or
`rpm -qa | grep ncurse`

to print the version.

[2018-02-12 18:18] joshfree commented on #26465
Per Ian, this shouldn't actually be api-approved currently given the post-review discussions.

[2018-02-12 18:26] joshfree commented on #21425
This is now failing on the (recently added) Ubuntu 18.04 leg

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180212.05/workItem/System.Globalization.Tests/analysis/xunit/System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern~2FCurrencyNegativePattern_Get(locale:%20%5C%22fa-IR%5C%22)
[code]

[2018-02-12 18:30] joshfree commented on #27021
[Link to today's 20180212.05 failure / log](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180212.05/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Imaging.Tests.EncoderParameterTests~2FCtor_Encoder_NegativeNumberOfValues_Type_Value_OutOfMemoryException(numberOfValues:%20-1))

[2018-02-12 18:39] #27058 closed

[2018-02-12 18:47] joshfree opened #27071 "ServiceProcess test failures, including PauseAndContinue"
This has failed the last three builds (2/11 - 2/12) - [MC test results link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180212.05/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceControllerTests~2FPauseAndContinue)

The test `System.ServiceProcess.Tests.ServiceContr

[2018-02-12 18:48] KrzysztofCwalina commented on #25105
In 2.1 we have productized SequencePosition. It's all we need for now. We will possibly add more in the future.

[2018-02-12 18:48] #25105 closed

[2018-02-12 18:48] cwe1ss commented on #19071
I renamed the issue as renaming the property is obviously out of the question now. It's just about fixing the xml docs now IMO.

[2018-02-12 19:03] bartonjs commented on #10749
Update from feedback:

[code]

[2018-02-12 19:10] tarekgh commented on #21425
@krwq could you please help with this issue and follow up with @maryamariyan if she can help in fixing it?

CC @danmosemsft

[2018-02-12 19:26] geoffkizer commented on #25163
I agree that being able to reuse the same HttpRequestMessage multiple times is interesting.  It's convenient, and it might also provide a perf win in some scenarios (though these may be largely artificial, benchmark scenarios; I'm not sure).

That said, I think we already prevent this today in practice.  And I believe WinHttpHandler does mutate the request in certain scenarios, right?  So the mana

[2018-02-12 19:28] #26426 closed

[2018-02-12 19:29] JeremyKuhne commented on #27048
True, but this is a standard that "fits almost all". #27049 is the one that hits the normal "I want to create filenames that will work well, even if the location is shared between .NET supported platforms.".  Right now we expose InvalidPathChars which really isn't helpful for cross plat.

[2018-02-12 20:04] krwq commented on #21425
@maryamariyan please ping me if you need any help here

[2018-02-12 20:05] maryamariyan commented on #21425
@krwq ok.

[2018-02-12 20:15] danmosemsft commented on #27021
Disable was merged

[2018-02-12 20:15] #27021 closed

[2018-02-12 20:25] danmosemsft commented on #27071
Yeah investigating...

[2018-02-12 20:49] GrabYourPitchforks commented on #26253
@mikedn @benaadams It was mentioned earlier that this code path is only optimized for the non-negative input case. Would branchless code like the below address this?

[code]

In my own testing this has a slight perf hit over the merged implementation of `Math.Abs` when the branch predictor can perfectly guess whether the input value is negative. It has a significant perf gain over the merged imple

[2018-02-12 20:51] eerhardt commented on #24522
What's the difference between the proposed APIs and the existing [`MacAddressGetter`](https://github.com/dotnet/cli/blob/af676518dd963814c76c45adb80d59adc1b387b8/src/dotnet/Telemetry/MacAddressGetter.cs#L84)?  "Getting a mac address" is also a "more general API", but it was deemed worthy of adding the code to dotnet/cli.

It would seem, if we need the data points, and no one lower in the stack is

[2018-02-12 21:10] rmkerr commented on #22535
The documentation has been updated -- closing this issue now.

[2018-02-12 21:10] #22535 closed

[2018-02-12 21:15] mikedn commented on #26253
That's a complicated problem.

Yes, if you run into branch mispredictions then the performance goes down the drain. Yes, in many cases the perf hit of the branchless version is small (though it's there pretty much all the time). But it's also likely that you can construct examples where the branchless version perf hit is higher. I've seen that with CMOV - 1.5x slower and even 2x slower. This alrea

[2018-02-12 21:25] jugg1es commented on #22142
any resolution to this?

[2018-02-12 21:39] karelz commented on #25025
Technically we're not done with all features tied to it yet - let's keep it opened, so that it shows on ZenHub board for 2.1 Epics.

[2018-02-12 21:40] stephentoub commented on #25025
It was the "alpha" part I was questioning mainly.  Your renaming it now addressed that. Thanks.

[2018-02-12 21:53] mikedn commented on #26253
Hmm, maybe it's not that bad. 1.5x - 2x tends to happen with `max` patterns because there the branch version can have the fortunate effect of breaking long dependency chains. It seems that `abs` doesn't have suffer from this particular problem, the branch version can't break a dependency chain and the branchless version should not add more than 2 cycles to an existing dependency chain, when done r

[2018-02-12 21:55] saurabh500 commented on #27057
`System.Data.Sqlclient 4.3.1` used to not enlist in TransactionScope and allow operations in transaction scope. However this was dangerous, as the library consumers would expect the transactions to be rolledback in case of errors. That was never happening. We added an error message to 4.4.x in case the Enlist keyword is set to true in connection string.
There is no capability in 4.4.x or earlier v

[2018-02-12 21:55] #27057 closed

[2018-02-12 21:55] divega opened #27074 "SqlClient: Avoid boxing values as much as possible"
We believe that for hot paths while consuming data readers this could have a significant enough impact. For parameters, there is already https://github.com/dotnet/corefx/issues/8955 about adding a generic API in ADO.NET base provider model that then can be implemented by SqlClient.

cc @saurabh500 @geleems @roji @ajcvickers

[2018-02-12 22:16] sebastienros commented on #24480
I was able to test a new update of SqlClient and confirm with @saurabh500 that it's now working as expected on Linux.

Before the fix I would see 7,300 RPS on our benchmark (TechEmpower Fortunes) and now 53,000. It also matches with the performance results in Windows.

[2018-02-12 22:18] Priya91 commented on #26651
Closing this issue as resolved. @rynowak feel free to reopen if it didn't fix your scenario.

[2018-02-12 22:18] #26651 closed

[2018-02-12 22:33] saurabh500 commented on #22324
Moving to future, because the owning team, won't be addressing this in 2.1

[2018-02-12 22:36] saurabh500 commented on #21279
Closing this as the bug was carried over from framework, and in framework it was not fixed for back compat reasons

[2018-02-12 22:36] #21279 closed

[2018-02-12 22:37] saurabh500 commented on #23927
The work for this was merged into master and is targeted the next major release.

[2018-02-12 22:37] #23927 closed

[2018-02-12 22:38] saurabh500 commented on #23503
`localhost` is supported on Linux. Have you forward the Sql Server port to localhost machine on Docker?

[2018-02-12 22:39] saurabh500 commented on #22474
Triaging to backlog. We are looking at a bunch of higher priority issues and features in SqlClient.

[2018-02-12 22:41] saurabh500 commented on #26026
Dupe of https://github.com/dotnet/corefx/issues/14615

[2018-02-12 22:41] #26026 closed

[2018-02-12 22:41] saurabh500 commented on #25728
We will tackle this after clearing 2.1 items.

[2018-02-12 22:43] saurabh500 commented on #25627
This should be evaluated with @benaadams changes.

[2018-02-12 22:44] saurabh500 commented on #23443
Dupe of https://github.com/dotnet/corefx/issues/14615

[2018-02-12 22:44] #23443 closed

[2018-02-12 22:54] caesar1995 commented on #24550
Not able to repro, probably [has already been fixed here](https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/src/System/Net/HttpListenerRequest.cs#L133).

Please re-open this bug if the problem still exists.

[2018-02-12 22:54] #24550 closed

[2018-02-12 23:21] chleun-moon commented on #27056
If so, it's the best solution that thread local unmanaged memory should be released explictly by Dipose(). right?

[2018-02-12 23:39] MohammadHamdyGhanem commented on #27014
Thanks @eerhardt. I don't know how I missed this. I focused on the Narrow, Widen and Asxx methods, and didn't see this one.
There is still one feature in my suggestion to control how rounding is done. The ConvertTo32 can have an overload with a second param. to do this.
Another Feature is the fore each.
I think more mathematical methods (like the ones in the Math class) can be added to the Vector

[2018-02-13 00:07] saurabh500 commented on #14615
I think the issue is specific to the use case of warming up the connection pool, where the Min Pool Size is set to a non-zero value, and the connections are being populated in the connection pool using the Min Pool Size.
I have been able to repro the bug in cases where the Min Pool Size was set to a non-zero value (n) and there weren't n connections available in the pool.

[2018-02-13 00:08] MohammadHamdyGhanem commented on #27014
I figured out why I didn't see the ConvertToInt32 method. It is not mentioned here:
https://msdn.microsoft.com/en-us/library/system.numerics.vector(v=vs.111).aspx
but I discoverd that it is mentioned here:
https://docs.microsoft.com/en-us/dotnet/api/system.numerics.vector?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Numerics.Vector);k

[2018-02-13 00:09] saurabh500 commented on #14615
In case the connection being opened in the
[code]

[2018-02-13 00:17] jnm2 commented on #20252
`IReadOnlyDictionary`?

[2018-02-13 00:50] GrabYourPitchforks commented on #17135
I found some usability issues while working on this. Bringing it back through API review. New proposed API surface:

[code]

[2018-02-13 01:17] J-kit commented on #26999
I recently worked a lot with queues to do my 'fifostream' (https://github.com/J-kit/UtiLib/blob/master/UtiLib/IO/FifoStream.cs). One of it's features is to push another stream of its type onto itself.
In a usecase where im using this class does a lot of those 'batch pushing' operations and would benefit greatly from a native support.
I also find the idea of an extension method in the bcl a great i

[2018-02-13 03:18] wli3 commented on #24522
It is 10 lines of implementation, and there is efforts to make sure all the calls this 10 lines of code depends on exist on all the OSs we support.

What "getMacAddress" is really doing is to "get mac address **exactly** like VS and VSCode", or we could just use `NetworkInterface.GetAllNetworkInterfaces()`.

Also it is several lines of code, but turned out one of the command it shells out (_getmac

[2018-02-13 03:34] eerhardt commented on #24522
That sounds like even MORE of a reason to put that code in a “general telemetry library” and not have it in dotnet/cli.

[2018-02-13 03:38] #26959 closed

[2018-02-13 04:31] HeMinzhang commented on #27062
I found a way to use async c#  Lambda Expression  function pipeline operations.
Although a bit complex.

[code]

[2018-02-13 05:37] Thaina commented on #5449
Now `return ref` was truely supported. Should we have this feature reopened?

[2018-02-13 05:48] Thaina opened #27084 "Linq support on Task"
I think we should add linq support for `IEnumerable<Task<T>>` and  `Task<Enumerable<T>>` with the same set of function as linq, let the lambda could return `Task<T>` and become unwrap while seamlessly handle both combination of `IEnumerable<Task<T>>` and  `Task<Enumerable<T>>`

[code]

If possible I would also want to have https://www.nuget.org/packages/System.Interactive.Async/ in BCL

[2018-02-13 06:43] davidfowl commented on #27062
What are you trying to achieve?

[2018-02-13 07:00] powercode commented on #20252
I think a `string` is better. There may be many nuances to how a command line is split into it's parts, and I think that should be left to some higher level.

[2018-02-13 07:04] danmosemsft opened #27086 "Tests are not waiting on child processes when run"
Some tests use RemoteInvoke to launch child processes. Generally they should call Dispose() on the RemoteInvokeHandle that returns in order to WaitForExit on the process. If they forget, execution will continue and any assertion failure (or other unhandled exception) in the child process will not prevent the test passing. Eg.,:
[code]

This behavior is slightly obscured when running on a dev machi

[2018-02-13 07:04] danmosemsft commented on #27086
cc @MattGal

[2018-02-13 07:07] HeMinzhang commented on #27062
@davidfowl

like this:

[2018-02-13 07:16] danmosemsft commented on #27086
We can assert at the top of the finalizer, without waiting on the remote process (wihch may never complete) so the 40 sec should not be an issue and we can deterministically fail for these.

[2018-02-13 07:32] clarkis117 commented on #27013
Also:
https://github.com/Kintaro/SnappySharp

[2018-02-13 07:37] davidfowl commented on #27062
Why? What's asynchronous about your implementation of Where?

[2018-02-13 07:40] SebastianPfliegel commented on #26966
@joperezr, I also had this issue. I can confirm, that I had ncurses 6.1 and was able to reproduce the error with several 2.* releases of the sdk.

[2018-02-13 07:45] davidfowl commented on #27056
Dispose doesn't guarantee that the safe handle (if you choose to use one) will be disposed on the right thread. If you're in the middle of a pinvoke, dispose will be queued to run later so you don't AV.

[2018-02-13 07:47] wfurt commented on #26966
What is your base OS @SebastianPfliegel ? Did you simply run msbuild or do you have different repro?

[2018-02-13 07:55] #22871 closed

[2018-02-13 08:03] SebastianPfliegel commented on #26966
@wfurt, see dotnet/cli#8576. Exception gets thrown with `dotnet run` and `dotnet restore` (though `dotnet new ...` runs fine).

[2018-02-13 08:57] RehanSaeed commented on #23503
I should add that I'm not running SQL Server in a container, it's installed on my machine, the old fashioned way.

[2018-02-13 09:05] jorgebay commented on #26990
If that means that wrappers are not going to be provided in .NET Standard 1.x, this ticket can be closed :)

[2018-02-13 09:06] wfurt commented on #26966
oh Tumbleweed -> building sand castle in swamp. I could only find Leap 42.x images on Azure.
I'll try to upgrade tomorrow and get repro.

[2018-02-13 09:15] jorgebay opened #27090 "Add a generic SASL API with GSSAPI support"
Provide GSSAPI mechanism support, for Kerberos V5 authentication.

Sample SASL client methods: `EvaluateChallenge()`, `Wrap()`, `UnWrap()`.

[2018-02-13 09:24] Cronan opened #27091 "Exception using IInternalConfigSystem to override app.config"
OS: RH Linux
Framework: .Net Core 2.0

I have a .dll compiled on windows in .net 4.5.2 and written in C#
I use the code below to inject an app.config file into the system, like so:

[code]

However, when run in Linux, I get the following exception:

[code]

I've looked at the source [here](https://github.com/dotnet/corefx/tree/master/src/System.Configuration.ConfigurationManager/src/System/Configu

[2018-02-13 09:31] wfurt commented on #27023
I've got repro. investigating. Ubuntu18 comes with openssl 1.1 and curl with gnutls.

[2018-02-13 09:41] wfurt commented on #26358
Just a note that ping is very trivial and very old utility. I doubt this is bug in it or bug in OS.
If anything this smells like environmental problem when fail to execute ping properly for some reason.

[2018-02-13 09:43] saurabh500 commented on #23503
@RehanSaeed  I setup a Ubuntu 16.04 VM, installed Sql Server 2017 Express edition, and created a connection using SqlClient using localhost as the Server name.
I tried the following connection strings to connect to localhost and they all work
1. Server=(local);uid=sa;pwd=Password
2. Server=.;uid=sa;pwd=Password
3. Server=localhost;uid=sa;pwd=Password

Are you confirming that you are not facing an

[2018-02-13 09:44] EgorBo commented on #27090
Duplicates https://github.com/dotnet/corefx/issues/15017

[2018-02-13 09:55] jorgebay commented on #27090
As long as #15017 is generic enough to cover [rfc 4422](https://tools.ietf.org/html/rfc4422), I'm happy to close this.

[2018-02-13 09:57] saurabh500 commented on #23503
I had misunderstood that you are running Sql Server in docker. It is in fact the other way around where you are running the application with SqlClient in Docker.
Just to be clear, the Docker image doesn't run with the same IP address as the host. Hence localhost inside the docker image doesn't point to the host machine where your Sql Server is hosted. That is the reason you are not able to connect

[2018-02-13 09:57] #23503 closed

[2018-02-13 10:00] Cronan commented on #27091
I also experimented with using mapped config, e.g.:

[code]
called via this:
[code]
but with the same exception.

[2018-02-13 10:43] k0st1x commented on #26600
that PR was merged into the master branch. but can you cherry-pick it onto the 2.1 branch?
or should i do a new PR for 2.1 branch?

[2018-02-13 10:54] SebastianPfliegel commented on #26966
I wasn't able to reproduce it on a tumbleweed docker machine. Even though it also runs ncurses 6.1.

[2018-02-13 11:22] jamescrowley commented on #20296
@karelz adding a note as another customer impacted by this misleading exception :)

[2018-02-13 11:22] stephentoub commented on #27086
Finalizer approach sounds reasonable.

Another instead or in addition could be to have RemoteInvoke store info into a static dictionary on ctor and remove it on dispose, and then have it's static cctor hook up an Unloading event that'll enumerate and output that dictionary.

There may also be some xunit hooks we could leverage here, e.g. an after test executes event that would throw out errors if

[2018-02-13 11:33] stephentoub commented on #27086
Or maybe simpler would just be to make RemoteInvoke itself wait/dispose so we can't mess it up, and then for the more niche care where you don't want that, have a special method for that with a scarier name.

[2018-02-13 11:47] lewurm commented on #26966
@SebastianPfliegel what is your `$TERM` set to? It needs to point to some configuration where the terminfo file is using the new file format, e.g. `screen-256color`.

[2018-02-13 11:48] HeMinzhang commented on #27062
@davidfowl  WhereAsync is my design extension function.

[2018-02-13 11:53] pawepaw commented on #24422
I got the same error and i'm pointing .net standard 2.0.

[2018-02-13 12:04] jnm2 commented on #20252
Unless you're not on Windows. Then to get a single string you have to join the native process args, so you lose information.

[2018-02-13 12:58] stephentoub commented on #24668
@karelz et al, what's the status of this? There's an open PR blocked on it.  We should either get this issue resolved so we can merge the PR, or we should close the PR and it can be reopened when this is ready to go.  Thanks.

[2018-02-13 12:58] grisha-kotler opened #27092 "Thread affinity isn't inherited from the process affinity in Linux"
Ubuntu 16.04, dotnet 2.1.4

[code]

[2018-02-13 13:08] powercode commented on #20252
In that case, we should be able to do the same thing on windows as .net executables do to get the `string[] args`  in the `Main` function.

[2018-02-13 13:10] powercode commented on #20252
Oh, now I understand that we may be talking about the environment. And in that case `IReadOnlyDictionary` seams reasonable.

[2018-02-13 13:11] stephentoub commented on #26966
Could someone experiencing the issue attach a copy of the problematic terminfo file?  While folks are working on getting a repro on a machine, that would make it a lot easier I think for someone to quickly code up a fix.

Assuming "screen-256color" is in the new format, it would likely be at one of these locations:
/etc/terminfo/s/screen-256color
/lib/terminfo/s/screen-256color
/usr/share/terminfo

[2018-02-13 13:11] jnm2 commented on #20252
Ah, sorry! Yes, `IReadOnlyDictionary<string, string>` for the environment.
`string` for the command line works well on Windows but what about other operating systems?

[2018-02-13 13:37] SebastianPfliegel commented on #26966
@stephentoub, @lewurm: I'll give you an update in a couple of hours.

[2018-02-13 13:37] stephentoub commented on #26032
Again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/ef885152773a91855c00b36b7863acfb32d2a968/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadString_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2018-02-13 13:40] lewurm commented on #26966
[copy of `screen-256color` and `xterm`](https://gist.github.com/lewurm/448c6b5506d8adb427513ad260515560)  from a system with the following version of ncurses installed:
[code]

quick look with a hex editor:
[code]

`0x02e1` and `0x011a` (little endian) correspond with the magic values defined in ncurses. Specifically, this is the relevant commit: https://github.com/mirror/ncurses/commit/1501ae2a13

[2018-02-13 13:57] stephentoub commented on #27045
https://github.com/dotnet/corefx/pull/26993 disabled this custom step when running on Unix.  That should be undone when this is fixed.  In the meantime, we're unable to clear initlocals on Unix.

[2018-02-13 14:38] PeterHagen commented on #25102
Unfortunately System.Drawing.Common 4.5.0-preview1 is used in a referenced package. In this case iTextSharp.LGPLv2.Core 1.4.2, which I accidentally updated. I run the code in Docker with the microsoft/aspnetcore:2.0.5 image. This results in the same message:

[code]

[2018-02-13 15:09] powercode commented on #20252
it is a string in `/proc/`

[2018-02-13 15:21] qmfrederik commented on #25102
@PeterHagen Did you install libgdiplus and libc6-dev in your container?

[2018-02-13 15:23] PeterHagen commented on #25102
@qmfrederik yes, both of them

[2018-02-13 15:32] #26990 closed

[2018-02-13 15:32] qmfrederik commented on #25102
Can you check whether the file `/usr/lib/x86_64-linux-gnu/libdl.so` exists _inside_ your container? If it still fails, you can try setting `LD_LIBRARY_PATH` to `$LD_LIBRARY_PATH:/usr/lib/x86_64-linux-gnu` but that should be included already.

If that still fails, can you set the `LD_DEBUG` environment variable to `libs` in your Dockerfile, restart your container, and share the output?

[2018-02-13 15:35] eerhardt commented on #27014
https://msdn.microsoft.com/en-us/library/system.numerics.vector(v=vs.111).aspx

We are transitioning from msdn.microsoft.com to docs.microsoft.com for our documentation.  Unfortunately it doesn't happen all at once.

The Widen, Narrow, and ConvertToXXX methods all [came in during .NET Core 2.0](https://github.com/dotnet/corefx/pull/16276), which is why you don't see them on the older docs sites.

[2018-02-13 15:40] molinch commented on #24773
@stephentoub @huoyaoyuan It's not just about Linq but also in many other areas like: List.InsertRange, see: http://referencesource.microsoft.com/#mscorlib/system/collections/generic/list.cs,711

If you give an IReadOnlyCollection it will instanciate an Enumerator and iterate, whereas it could be super optimized.

[2018-02-13 15:46] Clockwork-Muse commented on #27062
@HeMinzhang - No, we know that.  He means, 1) "What does it do/how was it written?", and perhaps more importantly, 2) "What code is it calling that you think needs to be async?".

Currently, when dealing with async collections (say, like for EntityFramework), `Where` is usually left as a lazy, sync, pipeline operation, and the async part is left to the final result collector (`FirstAsync`, `ToList

[2018-02-13 16:07] lroca88 commented on #17905
Is this issue completed? If not could I take `System.Console`?

[2018-02-13 16:08] stephentoub commented on #24773
Yes. But adding that `IReadOnlyCollection<T>` type check is an expense that's paid for all enumerables, not just `IReadOnlyCollection<T>`.  As with many optimizations, you make some things faster at the expense of making other things slower, and the upside needs to be worth the downside.  As you pointed out, most enumerables in the core libraries that are `IReadOnlyCollection<T>` also implement ot

[2018-02-13 16:12] jkotas opened #27094 "Move Span APIs that allow shipping visibility checks to MemoryMarshal"
`BinaryPrimitives.TryReadMachineEndian` or `MemoryExtensions.AsBytes` APIs are an inherently "unsafe" API in the sense that they allow bypassing visibility checks. They allow creating structs with invalid content that can lead to unexpected behaviors. An example of such unexpected behavior is buffer overrun described in https://github.com/dotnet/coreclr/issues/16336 .

Should we move these APIs to

[2018-02-13 16:14] karelz commented on #24668
We're waiting on API review to happen (this morning?) - @mconnew didn't add the sample code which was asked earlier ... not sure if it will be block the review.

[2018-02-13 16:16] karelz commented on #26600
Everything from master flows into 2.1 until we branch off for final release - that is still some time away.

[2018-02-13 16:16] molinch commented on #24773
Thanks @stephentoub for the quick feedback.
Couldn't what Nick shows be solved by the C# compiler?

Just another remark related to this, Array.cs doesn't implement IReadOnlyList neither IReadOnlyCollection. Would you accept a PR doing so?

[2018-02-13 16:17] danmosemsft commented on #17905
@Iroca88 sure. Note the dumps linked above may be a little out of date now.

[2018-02-13 16:19] stephentoub commented on #24773
Arrays do, they're just a very special type and the implementation is provided by the runtime, i.e. this works fine:
[code]

[2018-02-13 16:22] molinch commented on #24773
That's interesting! I expected what is in Array.cs to be the source of truth.
Thanks a lot for the explanation.

[2018-02-13 16:25] Lroca88 commented on #17905
Thanks @danmosemsft, any suggestion on getting new dumps? Otherwise I'll start with the dumps provided above.

BTW: is @lroca88, I capitalized the first letter (L) in order to avoid this type of confusion :)

[2018-02-13 16:29] danmosemsft commented on #17905
@Lroca88 the top post explains how to access the trimmed and pretrimmed assemblies. To diff them we used a tool that doesn't seem to be public. You could use a decompiler like Ilspy On both and do a text diff on the results. That would probably work.

[2018-02-13 16:35] mattwarren commented on #24773
@molinch `<shameless plug>` if you want more info on this, see a blog post I wrote [Arrays and the CLR - a Very Special Relationship](http://mattwarren.org/2017/05/08/Arrays-and-the-CLR-a-Very-Special-Relationship/), in particular the 'Implementation Details' section  `</shameless plug>`

[2018-02-13 16:38] stephentoub commented on #23128
This issue number is still referenced in a disabled test: Manual_SendClientCertificateWithServerAuthEKUToRemoteServer_Forbidden

[2018-02-13 16:44] stephentoub commented on #26966
Thanks, @lewurm!

[2018-02-13 16:51] ianhays opened #27095 "Update RIDs used in test execution"
This issue is to track updating the RIDs being used in CoreFX Jenkins testing.

Related: https://github.com/dotnet/corefx/issues/25252, https://github.com/dotnet/wcf/issues/2553, https://github.com/dotnet/core-eng/issues/2450

Current CoreFX Master Jenkins Linux RIDS:
- RHEL7.2
- CentOS7.1
- Fedora24
- Debian8.4
- Ubuntu 14.04, 16.04, 16.10

Target RIDS:
- RHEL7.4
- CentOS7.4
- Fedora27
- Debian9.

[2018-02-13 17:19] KrzysztofCwalina commented on #26894
I updated the first comment in this issue with more complete proposal. We should discuss today.

[2018-02-13 17:23] KrzysztofCwalina commented on #27094
If AsBytes returned ReadOnlySpan it would be safe, wouldn't it?

[2018-02-13 17:55] ericstj commented on #17905
Here's the latest:
- [ ] [Microsoft.CSharp](http://tempcoverage.blob.core.windows.net/report3/Microsoft.CSharp.diff.html) ([csv](http://tempcoverage.blob.core.windows.net/report3/Microsoft.CSharp.diff.csv))
- [ ] [Microsoft.VisualBasic](http://tempcoverage.blob.core.windows.net/report3/Microsoft.VisualBasic.diff.html) ([csv](http://tempcoverage.blob.core.windows.net/report3/Microsoft.VisualBasic.d

[2018-02-13 17:57] Lroca88 commented on #17905
Cool, I was struggling with the old list! 🔨

[2018-02-13 18:12] terrajobst commented on #10749
Looks good as updated in [the last comment](https://github.com/dotnet/corefx/issues/10749#issuecomment-365027340).

[2018-02-13 18:18] danmosemsft commented on #17905
@Lroca88 be sure to read the top post hints about how to do this pass, save some confusion..

[2018-02-13 18:27] zhenlan commented on #24668
@mconnew is OOF. @karelz, can tests in PR #26153 be considered as samples? Can you please review the PR?

[2018-02-13 18:28] joshfree commented on #24824
@pakrym can you close this tracking issue out after your corefx PR is merged and the corefxlab copy of the code has been removed?

[2018-02-13 18:30] daniel-white commented on #17135
With the `DllImportSearchPath` being specified, how would one specify a path to a native library?

[2018-02-13 18:41] dotMorten commented on #17135
One more thing to consider: A NuGet package would xcopy deploy the native resources, but during design time in Visual Studio we might not know what the path is, as the xcopy doesn't happen until build. So we need a way to specify a path relative to something in the nuget package when the design time check returns true.

[2018-02-13 18:45] danmosemsft commented on #27086
Those would both work. I'll stick with the finalizer as it's simple and seems to work well.

[2018-02-13 18:46] terrajobst commented on #17135
We just reviewed this and settled on the following API shape:

[code]

[2018-02-13 18:49] terrajobst commented on #17135
@dotMorten

The `name` argument for `TryLoad` allows relative paths but behavior depends on the value of `paths`.

[2018-02-13 18:58] pakrym opened #27097 "Consider adding MemoryMarshal.TryGetArray/MemoryList(ReadOnlySequence)"
We shouldn't interpret `SequencePositions` outside `ReadOnlySequence` but pipelines need to get IMemoryList reference and indexes out of SequencePositions received in `Advance`

I'm proposing to add the following API's:
[code]

/cc @davidfowl @KrzysztofCwalina

[2018-02-13 19:07] terrajobst commented on #26935
We just took a look. Looks good as proposed. Questions that came up:

* Should the `ImmtuableArray<byte>` be a `ReadOnlySpan<byte>`. We assumed the answer to be no, as S.R.M doesn't depend on span yet and you need to ship downlevel. Once you spannify S.R.M we can still add overloads.
* `IdStartOffset` are 32 bit enough? Assumption is yes, but hey :-)

[2018-02-13 19:14] tmat commented on #26935
The assumption is correct.

Yes, ECMA metadata blob can't be larger than 2GB and Portable PDB is an ECMA metadata blob.

[2018-02-13 19:15] tmat commented on #26935
@terrajobst @karelz Thanks for review.

[2018-02-13 19:16] b0wter commented on #26966
@lewurm
I am running Tumbleweed on my laptop with ncurses 6.1-1.1 and dotnet 2.1.4.
Tried several terminals:

- Kitty: $TERM = xterm-kitty, runs "refresh" and "run" fine
- Terminator: $TERM = xterm-256color, crashes on "restore" and "run"
- xterm: $TERM = xterm, runs fine
- xfce4-terminal: $TERM = xterm-256color, crashes on "restore" and "run"

[2018-02-13 19:17] #26675 closed

[2018-02-13 19:18] SebastianPfliegel commented on #26966
$TERM is xterm-256color for me.

[2018-02-13 19:22] jcouv opened #27098 ".NET 4.7 - '\0' char in String causes GetHashCode to ignore remainder -- but on x64 only"
@vsfeedback commented on [Mon Feb 12 2018](https://github.com/dotnet/roslyn/issues/24780)

The `GetHashCode(...)` function for the **ordinal** `String` comparisons In **.NET 4.7** has a grossly different behavior between running on **x86** versus **x64**. Note: ***I am not talking about the different hash code values, per-platform***, since these are intended as opaque -- rather, the issue here is

[2018-02-13 19:35] JonHanna commented on #17905
Oops. I missed two newly orphaned bits in Microsoft.CSharp in #26491. I'll get that soon.

[2018-02-13 19:43] terrajobst commented on #26894
Looks good as proposed. Regarding the open issues at the end:

5. **Limit constructors to the longest (most flexible) overload.**. Makes sense, we want the .ctors to be largely plumbing. However, we don't want to lose perf due to excessive argument validation. We'll add overloads as needed for perf, but not usability.

6. **Provide `AsReadOnly()` methods on r/w/ slice types.**. We agreed to not ad

[2018-02-13 19:50] terrajobst commented on #25875
Superseded by #25873

[2018-02-13 19:50] #25875 closed

[2018-02-13 20:08] terrajobst commented on #25873
Looks good. Comments:

* `MatchType`, `MatchCasing`, `EnumerationOptions` should live in `System.IO`. Please submit a proposal with the updated `System.IO` APIs
* `EnumerationOptions.IgnoreInaccessible` should be `true` by default
* `EnumerationOptions.AttributesToSkip` should include system and hidden files.

[2018-02-13 20:10] benaadams commented on #24365
This isn't blocked anymore?

[2018-02-13 20:11] danmosemsft commented on #27098
This isn't an issue in .NET Core at least in latest bits.
[code]
[code]
I do repro it for x64 .NET Framework. @AlexGhiondea should this go into https://github.com/microsoft/dotnet/issues, or into Connect, ..?

[2018-02-13 20:15] danmosemsft commented on #27098
I don't see a test in .NET Core for embedded nulls though. @maryamariyan could you please open an issue for that and assign to yourself to add one? Like your test for randomized hashing, you'll need to use RemoteInvoke and a couple of tries to make sure the hashcodes don't match (because there's 1 in 2^32-1 chance they will randomly match)

[2018-02-13 20:20] glenn-slayden commented on #27098
@danmosemsft I originated the issue on ***Connect***, so that's [where it came from](https://developercommunity.visualstudio.com/content/problem/196675/net-47-0-char-in-string-causes-gethashcode-to-igno-1.html).

[2018-02-13 20:21] ericstj opened #27100 "Update inbox data for UAP 6"
A number of assemblies shipped inbox in `release/uwp6.0` (10.0.15138), but have been rev'ed in master and ship ref-assms that would apply to UAP.

This will cause a ref-def mismatch if we don't include the implementation assembly for UAP in the package.

We need to make sure to update the packageIndex in to account for this and then ensure that the current packages validate cleanly (either rolling

[2018-02-13 20:22] danmosemsft commented on #27098
@glenn-slayden - oops, I think that was a mistake on their part. @AlexGhiondea how can we best get this into a place where action can happen? Reactivate the internal bug linked to Connect?

[2018-02-13 20:48] qmfrederik commented on #17135
@dotMorten Unless I'm wrong, [specifying `DllImportSearchPath.ApplicationDirectory`](https://github.com/dotnet/corefx/issues/17135#issuecomment-353632964) would include the native assemblies from the NuGet package folders.

You can also do this manually, see [`GdiplusNative.Unix.cs`](https://github.com/dotnet/corefx/blob/ec22edc155aa13289770c9f49630cc7ab588fca4/src/System.Drawing.Common/src/System

[2018-02-13 21:07] shar0119 commented on #26172
Any idea when System.Runtime.Caching will be available on NuGet?

[2018-02-13 21:27] PeterHagen commented on #25102
I'm sorry, with the libc6-dev added, it does work now. Pushing the correct Dockerfile seems to be an issue on a day like this. Thanks for the comment. I tested it on a local and the production Docker environment

[2018-02-13 21:30] #23131 closed

[2018-02-13 21:30] #23141 closed

[2018-02-13 21:40] JeremyKuhne commented on #25873
Updated original comment per latest feedback.

[2018-02-13 21:52] AlexGhiondea commented on #27098
We could reactivate the Connect bug. However given that this behavior has been like this for a very long time I don’t believe we can change it without a large compat impact.

[2018-02-13 21:58] KrzysFR commented on #26894
Regarding the `As<slice_type>(this <source_type> value, int start)` overload (with a single int): when reading code like `byte_array.AsSpan(5)`, my first instinct would be to think that it will create a span with the first 5 bytes of the buffer, while here it will _skip_ the first 5 bytes.

A typical scenario would be when slicing a pooled buffer that has been filled with data, and creating a span

[2018-02-13 21:59] KrzysztofCwalina opened #27101 "Add an option to return finalizable versions of ArrayMemoryPoolBuffer from MemoryPool"

[2018-02-13 22:00] glenn-slayden commented on #27098
Figured. I am short on amenable proposals, knowing the compat constraints. In fact after a deep dive on this, I find that both hash codes (x86, x64 on 'Framework') are not great for various reasons. Namely, not especially great entropy, and/or scanning might proceed with a tighter (i.e.) quadword loop for better performance. Of course, an app can always create a custom `IEqualityComparer<String>`

[2018-02-13 22:10] surban commented on #15112
Is this supposed to be fixed? I think I might be experiencing this issue, but because I was not sure, I first created a new issue at mono/mono#7011.

[2018-02-13 22:16] mellinoe commented on #17135
I haven't been following this, but I'm happy to see it's been approved.

My only thought: I think there should be a `TryLoad` overload without the `Assembly` parameter. I think the vast majority of calls will not be interested in it. It's unclear whether you can pass null for it, but I think there should just be an overload where it is absent.

[2018-02-13 22:43] JonHanna commented on #17905
From the new list, System.Runtime, System.Web.HttpUtility, System.Linq and System.Linq.Queryable only have constants that aren't really dead and some shared code. System.Linq.Expressions has those and a few items used in debug views and resources used with particular compiler constants and so should be removed, so those five can all be checked off.

[2018-02-13 22:53] brianrob opened #27106 "Fix ETW EventCounter Tests and Manifest_Write_T Tests"
Both of these tests fail because the event names are incorrect.  They both use TraceLogging but have statically defined events as well which results in them having a manifest produced as well (because they are not strictly marked as SelfDescribing EventSources).  TraceEvent loads the manifests correctly but does not load the templates for the TraceLogging events.

Template loading appears to be sp

[2018-02-13 23:03] stephentoub commented on #27101
Ouch 😦 So every rental is not only an allocation, but an allocation of a finalizable object?

[2018-02-13 23:08] GrabYourPitchforks commented on #27094
No. This is still unverifiable. It's the equivalent of performing private reflection over the target type's fields and calling `FieldInfo.GetValue(...)` over and over. Even if you're not manipulating the structure directly, you're still reading raw data in a manner that the type author never intended (and probably didn't guarantee to remain stable), so you as the caller don't have the context nece

[2018-02-13 23:24] #23394 closed

[2018-02-13 23:49] ahsonkhan commented on #23435
Related test failure in CI:

-  https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_corefx_baseline_prtest/24/
-  https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_corefx_baseline_prtest/91/

[code]

[2018-02-14 00:10] MohammadHamdyGhanem commented on #693
[code]

[2018-02-14 00:17] EgorBo commented on #12628
@JeremyKuhne Do you have any thoughts on what location it could be?

[2018-02-14 00:21] MohammadHamdyGhanem opened #27110 "Add a new Enum Type: Flag"
I suggest to introduce a new Type that inherits the Enum class and can be used in VB.NET (and in proper syntax in C# as well) like this:
[code]
Which is Translated to
[code]
and can be used like this:
[code]

you can't write:
 value = color.green

This seems like a class with three boolean fileds, but the "value' variable can be converted to a numeric value like regular enums.

[2018-02-14 00:25] MohammadHamdyGhanem commented on #15453
Conseder adding a new Enum Type called Flag as well #27110

[2018-02-14 02:03] TylerBrinkley commented on #27110
This would be a language feature, not a part of the framework.

But as a language feature, what if you don't wan't a `None` member and want it to start at 1? What if you want to add combination members like `Yellow` in the example you provided above, how will it increment for something like that?

[2018-02-14 02:06] Priya91 opened #27113 "Fix failing authentication test cases on different httpclienthandlers."
Search for issue number in code.

[2018-02-14 02:11] davidsh commented on #27113
Is this a product bug or test bug?

[2018-02-14 02:24] Priya91 commented on #27113
Most likely product bug, there are 2 scenarios:

1. Some cases pass on winhttphandler and socketshttphandler, but don't on curlhandler.
2. Some corner cases where the input is incorrect, winhttphandler and curlhandler hangs in native code,  socketshttphandler returns unauthorized.
3. Some corner cases of auth header string, socketshttphandler returns OK, winhttphandler and curlhandler return Unaut

[2018-02-14 02:31] Sunny-pu opened #27114 "Test under "System.Tests.EnvironmentTests" failed with "System.ArgumentOutOfRangeException""
The test System.Tests.EnvironmentTests.WorkingSet_Valid has failed.

MESSAGE:
System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values.
+++++++++++++++++++
STACK TRACE:
at System.Environment.get_WorkingSet() at System.Tests.EnvironmentTests.WorkingSet_Valid() in /mnt/resource/j/workspace/dotnet_corefx/master/rhel7.2_release/src/System.Runtime.Extensions/tests/Sy

[2018-02-14 03:27] MohammadHamdyGhanem commented on #27110
None is an indicator taht all falgs off. You can ignore using it. I earased it from the Flag definition, but kept it in the generated enum.
Flag values = 2^n, where n = 0 for the first value, n = 1 for second value, ... etc.
Yellow = 8 (2^3)
I re-introduced this proposal in C# with detailed implementation here #1323

[2018-02-14 03:38] TylerBrinkley commented on #27110
When I said Yellow, I meant `Yellow = Green | Blue`. Or another example a `ReadWrite` flag to indicate both reading and writing.

[2018-02-14 04:25] brianrob opened #27116 "Remove USE_ETW Compilation Constant from System.Diagnostics.Tracing.Tests"
It may be possible to remove USE_ETW and just mark the tests as Windows only.  We should see if this is possible to simplify the test code.

[2018-02-14 04:25] #4864 closed

[2018-02-14 05:01] davidfowl commented on #27101
Better rent big buffers 😬

[2018-02-14 06:24] jkotas commented on #27101
@KrzysztofCwalina Could you please explain motivation for this? What is the problem that it is trying to solve?

[2018-02-14 06:29] davidfowl commented on #27101
It's the oops, we have a bug in our code, please don't leak the memory. We do the same in kestrel today with our pool. The blocks have a finalizer (we pool them though).

[2018-02-14 06:34] jkotas commented on #27101
These are managed arrays. The memory won't leak. They will be collected by GC.

You have to do that in kestrel because of you are using managed memory.

[2018-02-14 06:39] davidfowl commented on #27101
You never have to return arrays to the array pool? What happens if you a bunch of components do that?

Kestrel is using managed memory, it's just pinned.

[2018-02-14 06:55] jkotas commented on #27101
The pool will be allocating a fresh arrays some of the time. If everybody does that, then the system will behave as if there was no array pool.

Pinning turns it into unmanaged memory.

[2018-02-14 07:07] biradarsm commented on #18023
I have connected a Sample Weighing Machine to Raspberry Pi 3 using Serial (RS 232 ) to USB Converter Cable on the USB Port of Raspberry Pi 3, The Serial Port device is not getting Detected in UWP Sample application.

[2018-02-14 07:09] karelz commented on #24365
Correct, @stephentoub is back, it is unblocked :)

[2018-02-14 07:10] karelz commented on #24668
@zhenlan I am OOF myself :( ... can you please ping Immo? (email is safer with him ;))

[2018-02-14 07:26] molinch commented on #24773
Many things are much more clear, thanks @mattwar !
I love the sentence "Arrays are basically voodoo." hahaha

[2018-02-14 07:32] karelz commented on #20296
Thanks for info, please upvote also top post (issues can be sorted by it), thanks!

[2018-02-14 09:06] loop-evgeny commented on #26519
I tried to get the code running on my machine and it was... pretty hard. Also, it seems that this issue will not affect us after all, so I'm unlikely to work on it any time soon.

[2018-02-14 09:42] Duranom commented on #26899
Should the reasoning of @stephentoub be be put in code comment?

[2018-02-14 11:50] deinok commented on #3188
@karelz Any progress on this?
Also seeking a way of contributing if required.

[2018-02-14 12:00] d-dizhevsky commented on #18765
@mellinoe could you update the list to see what else left uncovered?

[2018-02-14 12:23] MohammadHamdyGhanem commented on #27110
This is my suggested implementation:

[code]
you can do
`var Yellow = new Color (false, true, true);`
Or:
`Color Yellow = Color.ColorEnum.Green | Color.ColorEnum.Blue;`
Or
`var Yellow = new Color(){Green = True, Blue = True};`

The point of the Flag type is to avoid using bitwise operations.

[2018-02-14 13:05] atanasa opened #27120 "The RSA implementation fails to encrypt an empty byte array"
- Steps to reproduce: run the following code on **Windows 10 or Mac OS X on .Net Core 2.0**:
[code]
- Expected result:
A byte array that would be decrypted to an empty byte array.

- Actual result:
Exception on Windows 10:
[code]

On Mac OS X the exception is:
[code]

**Running the same code on .Net Framework 4.6.1 and on Core on Ubuntu returns the expected result.**

[2018-02-14 14:03] tudorserbanconnatix opened #27121 "Unable to create Bitmap from disk file on Linux"
Hi, I'm referencing CoreCompat.System.Drawing.v2 from a .NET Core project and doing the following:

Bitmap frame = new Bitmap($"{Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location)}\\images\\image_0.bmp")

I've checked that the path is correct at runtime. On Windows this works fine, but on Debian I am getting:

Unable to update the static FcBlanks: 0x0600
Unable to update the static Fc

[2018-02-14 14:30] svick commented on #27110
@MohammadHamdyGhanem Since you opened https://github.com/dotnet/csharplang/issues/1323, do you want to close this issue here?

[2018-02-14 14:32] mmatras commented on #25334
@tannergooding, how we can continue with this issue? I was waiting for some feedback or discussion but it took a while now and it got stuck?

[2018-02-14 15:06] MohammadHamdyGhanem commented on #27110
Yes, please.

[2018-02-14 15:33] #10749 closed

[2018-02-14 15:39] rainerklier commented on #26966
I am running Tumbleweed on my laptop and with ncurses 6.1 and dotnet 2.1.4 powershell  6.0.1 fails to run/start with the error message "The terminfo database is invalid."
dotnet 2.1.4 and powershell 6.0.1 are both installed from repo https://packages.microsoft.com/rhel/7/prod/

[2018-02-14 15:55] tannergooding commented on #25334
@eerhardt is the "area owner" and is the person who should mark the API as "ready-to-review".

Provided he agrees that the proposed API looks good, we can update the top post and marg it with the appropriate tags.

[2018-02-14 16:15] KrzysztofCwalina commented on #27101
I was talking to a customer and they asked if we finalize the buffers. I told them that yes (as I though that's what we did when the code was in corfxlab), but then I noticed we don't in corefx.

I am pretty sure the motivation for this is to make sure pool is actually a pool (and not a glorified new T[]) in the light of bugs.

But I totally agree there is a trade off here. If we think the cost is

[2018-02-14 16:21] pakrym opened #27123 "Move System.IO.Pipelines to netstandard1.1"

[2018-02-14 16:29] KrzysztofCwalina commented on #26894
@KrzysFR, it's possible that the single-int AsSpan overload will be used less often than others (or very rarely) , but I think there is value in consistency here. We are not going to remove the single int overloads in the other places (e.g. Slice methods), and so I think people will just have to learn what the single int overloads mean.

[2018-02-14 16:30] ViktorHofer opened #27124 "Regex code optimization candidates"
The following items are potential candidates for code optimization which could result in an increased performance / reduced allocation. Based on perfview data and manual code review.

- [ ] Avoid additional iteration in op code generation (https://github.com/dotnet/corefx/pull/26877)
- [ ] CharInClass (Internal & Recursive) (12.7% + 7.9% time spent exclusively)
https://source.dot.net/#System.Text.

[2018-02-14 16:56] jkotas commented on #26894
The C# is about to add first class slicing syntax: https://github.com/dotnet/csharplang/issues/185. Once that happens, I expect that there will be a strong preference to write either `array.AsSpan()[..5]` or `array.AsSpan()[5..]` instead of the multi-argument AsSpan APIs.

[2018-02-14 17:07] KrzysztofCwalina commented on #26894
We could also add AsSpan(Range) overload and so people would write array.AsSpan(..5) and array.AsSpan(5..)

[2018-02-14 17:08] jkotas commented on #27101
ArrayMemoryPoolBuffer is internal, so you can create an internal variant of it with finalizers that will be used when you turn on debugging diagnostic. But I do not think that this debugging diagnostic should be on by default.

We do have tracing for GC and ArrayPool. If you get a problem with leaking pooled arrays in production, you should be able to pinpoint it using those. The question is wheth

[2018-02-14 17:11] jkotas commented on #26894
Right. I think the question is whether all the extra overloads are worth adding everywhere (as a short term aid?) until Range comes online.

[2018-02-14 17:32] taylorreece commented on #23579
Was this issue actually solved in 2.1.0, or was it closed prematurely?  My team started running into this today with an 8MB message raising a "Message too long" error. Our app is dotnet core 2.0.0 on a Unix box.

[2018-02-14 17:42] ericstj opened #27126 "*CNG crypto algorithms missing from CNG library"
I was looking at porting some code targeting desktop and came across SHA256Cng which I noticed was missing.

I did a diff and I see we're actually missing a number of Cng algorithms:

- MD5Cng
- SHA1Cng
- SHA256Cng
- SHA384Cng
- SHA512Cng

Moreover, I see quite a few more here: https://github.com/dotnet/corefx/blob/5edf66e4f35eca3ba409cb2e31154fb6a59bd4b3/src/System.Security.Cryptography.Algorithm

[2018-02-14 17:50] KrzysztofCwalina commented on #26894
The current plan is that AsSpan(X..Y) does not mean the same as AsSpan(X,Y). It means AsSpan(X, Y-X). If we had nice syntax for index + length, I think it would be reasonable (after measuring perf impact, as Range will be heavier than one or two ints).

[2018-02-14 17:54] KrzysztofCwalina commented on #27101
Ah, good point, we could just have a different subclass of the buffer. Changing title of the issue :-)

[2018-02-14 18:11] bartonjs commented on #27126
We discourage people from caring what their digest provider is, and on core they can't actually control it.  (SHA256CryptoServiceProvider just wraps SHA256Cng).

Since the types were not part of netstandard20, we don't want them in Core.

[2018-02-14 18:32] dotnet-mc-bot opened #27127 "Test failure: System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale: \"fa-IR\")"
Opened on behalf of @danmosemsft

The test `System.Globalization.Tests.NumberFormatInfoCurrencyNegativePattern/CurrencyNegativePattern_Get(locale: \"fa-IR\")` has failed.

Assert.Contains() Failure
    Not found: 1
    In value:  Int32[] [8]

        Stack Trace:

        null
Build : Master - 20180214.02 (Core Tests)
Failing configurations:
- Ubuntu.1804.Amd64-x64
  - Release

[2018-02-14 18:32] pjanotti commented on #26358
We got our first [hit in a PR](https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/b4a14be9ac923f1b929179697a39e11a4374954e) after started to collect stdout and stderr:

[code]

That will be
[code]

[2018-02-14 18:36] danmosemsft commented on #27127
@maryamariyan this is similar to the Bulgarian culture issue

It is expecting 1 but the code below gives 8. My guess is that in version ICU v60 (which 1804 picked up) they went back to '1'.  As I did [here](https://github.com/dotnet/corefx/issues/27022#issuecomment-364702266) you can look at the CLDR update that included: http://www.unicode.org/cldr/charts/32/delta/fa.html to confirm it, then fix

[2018-02-14 19:00] pjanotti commented on #26358
This error is already mentioned in #15018, which I didn't see before. The assumption was that in case of seg fault we were going to still have a valid stdout, not the case in the hit above.

[2018-02-14 19:05] stephentoub commented on #21628
@davidsh, there are tests still disabled against this issue.  Is that by design?

[2018-02-14 19:13] danmosemsft commented on #21425
Actually it's now the reverse expectation. I'm going to close this and use https://github.com/dotnet/corefx/issues/27127 to avoid confusion.

[2018-02-14 19:13] #21425 closed

[2018-02-14 19:13] davidsh commented on #21628
Not sure.  Which tests are those?

[2018-02-14 19:18] stephentoub commented on #21628
https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=20010&type=

[2018-02-14 19:19] danmosemsft commented on #27121
cc @qmfrederik

[2018-02-14 19:19] ianhays commented on #27095
There are two ways to complete this issue:
1. Go through the new versions and add new jenkins labels for each one or attempt to use the helix queues.
2. Abandon the Jenkins testing infrastructure for innerloop/outerloop which is currently only being used for the badges and instead point our badges at some daily/onPush helix runs (which would have to be added). Depends on https://github.com/dotnet/

[2018-02-14 19:21] davidsh commented on #21628
Many tests are disabled using that same issue number. Some of the comments indicate the test hangs on UAP....other tests don't reflect why it was disabled.

We might try re-enabling those tests on UAP and see if we can repro the problem.

[2018-02-14 19:24] danmosemsft commented on #27114
Not clear where this AOORE comes from. The test would throw an XunitException. I can't see anywhere the implementation could throw AOORE. Would need someone to get on a repro box.

[2018-02-14 19:25] danmosemsft commented on #27110
as above.

[2018-02-14 19:25] #27110 closed

[2018-02-14 19:27] danmosemsft commented on #27098
I don't know about .NET Framework but on .NET Core we use Marvin for string hashes so it should have good entropy.

I'll leave this active for @maryamariyan to add a test or open and issue to do that.

[2018-02-14 19:32] danmosemsft commented on #27124
@dnickless I believe you mentioned in the past you were interested in perf optimizations?

[2018-02-14 19:35] jkotas commented on #27101
It was added by #5231 . That's all I know about it.

[2018-02-14 19:43] danmosemsft commented on #27114
repro job https://ci.dot.net/job/dotnet_corefx/job/master/job/rhel7.2_release/5060/

[2018-02-14 19:46] KrzysFR commented on #26894
I agree that both `.AsSpan(..5)` and `AsSpan(5..)` would have the advantage of being very obvious in what they do, versus a single `AsSpan(5)`. Hopefully the perf impact will be minimal, compared to the gain in code readability.

[2018-02-14 19:53] karelz commented on #3188
It is up-for-grabs and marked for Future - i.e. no immediate plans from our side at this moment.

However, I think there was some work done recently in the area by @tmds or @eerhardt.
@danmosemsft likely knows more about our plans/prioritization in the area for 2.1/Future.

Also, did you try Mono.Posix as suggested above? Is it not sufficient?

[2018-02-14 19:57] pakrym commented on #26894
@KrzysztofCwalina any plans to enable range support in existing APIs?

For example if you have a method `Slice(int start, int length)` parameters can be marked with attirbutes
`Slice([RangeStart]int start, [RangeLenght]int length)` that compiler would recognize and allow passing range instead of two arguments.

[2018-02-14 20:03] ianhays opened #27130 "Point the Readme test badges to Helix runs"
We should abandon the Jenkins testing infrastructure for innerloop/outerloop which is currently only being used for the badges and instead point our badges at daily/onPush helix runs (daily outerloop added in https://github.com/dotnet/corefx/pull/27129).

This greatly reduces the cost of updating our test OS versions and also makes the badges more accurately reflect our current build&test state.

[2018-02-14 20:09] ianhays commented on #25252
Fedora27 Outerloop daily runs will be enabled by https://github.com/dotnet/corefx/pull/27129.

Fedora26 is our current on-PR and on-Push Fedora test version.

[2018-02-14 20:28] deinok commented on #3188
@karelz Yes, Mono.Posix match the requirements, only asking if the intention of creating System.Posix.Signal is in development or if I can start an implementation for a future PR.

[2018-02-14 20:30] tarekgh commented on #27127
Thanks @maryamariyan for helping with that.

[2018-02-14 20:41] caesar1995 commented on #26775
I think this issue will only repro with Fedora CI. Probably related to: #24036.

[2018-02-14 21:11] bartonjs commented on #27120
Strangely, I ran across this today, too.

In .NET Framework RSA is provided by Windows Cryptographic API (CAPI).  On .NET Core it's provided by Windows Cryptography: Next Generation (CNG), and it looks like CNG rejects the zero byte input.

But maybe something can be done about it.

[2018-02-14 21:17] rmkerr commented on #24495
I've been looking into the original issue described [here](http://weblogs.thinktecture.com/pawel/2017/03/aspnet-core-webapi-performance.html). I have their repro working, but so far I'm getting very different results:
[code]
I think the difference is likely a result of running both the client and the server on the same machine. I'm going to try to get the server set up remotely and will see if I c

[2018-02-14 21:25] karelz commented on #16011
@agocke please get agreement with @VSadov @OmarTawfik first - they should mark it ready for review.

[2018-02-14 21:27] ericstj commented on #27126
I see, we could have put them in the Microsoft.Windows.Compatibility package.  I'll make sure to adjust the code to call the Create method instead of trying to new up the specific type.

[2018-02-14 21:37] wtgodbe commented on #19998
@AtsushiKan it looks like https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/EnumTests.cs#L64 is an example of what you're talking about - can you give an example of what should be replacing s_boolEnumType (and friends)? Do you envision that block of code not needing to be gated by an #if, or should it be gated by an #if netcoreapp OR uapaot?

[2018-02-14 21:51] AtsushiKan commented on #19998
It should be guarded by either `#if !uapaot` or `if PlatformDetection.IsReflectionEmitSupported`. Anything that makes use of s_boolEnumType (or s_char/s_float/s_double) would have to be guarded this way as the tests use RefEmit to generate these enum types and UAPAOT doesn't support RefEmit.

(Alternately, the test project could be changed to use ILASM to generate those types without the use of Re

[2018-02-14 21:53] wtgodbe commented on #24505
It looks like this is the block that writes - https://github.com/dotnet/corefx/blob/c9729ac851c4b031cee3b3c8a6682ef7cdafb3d6/src/System.IO.FileSystem/tests/FileStream/WriteAsync.cs#L395-L419. It will run for somewhere between .1-1 seconds, in a loop, for 10 seconds (https://github.com/dotnet/corefx/blob/c9729ac851c4b031cee3b3c8a6682ef7cdafb3d6/src/System.IO.FileSystem/tests/FileStream/WriteAsync.c

[2018-02-14 21:55] wtgodbe commented on #19998
So is it as simple as replacing `#if netcoreapp` with one of those two suggestions? Or should I append that guard to `#if netcoreapp`? Presumably I should do this for each usage of s_boolEnumType & the like as well?

[2018-02-14 22:05] AtsushiKan commented on #19998
The main motivation for this issue is to change `System.Runtime.Tests.csproj` so that `netcoreapp` is also #defined for uapaot builds so that it matches the practice of including files named "foo.netcore.cs" in uapaot today.

In fact, it'd be even better if we could get rid of that #define altogether and just use conditional includes exclusively - i.e. physically move all the "#if netcoreapp" code

[2018-02-14 22:26] eerhardt commented on #3188
I wouldn't get too far into an implementation without getting an API at least proposed and on the way to getting approved.  Since getting it to an approved state may drastically change the implementation.  So I'd suggest just doing prototyping to get to a place to have a proposed API.  See https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md for the process

[2018-02-14 22:36] wfurt commented on #26775
I was not able to reproduce this. Fedora24 is now officially out. However I did see failure for IPv6 multicast tests. This still may need some investigation.

[2018-02-14 22:50] dnickless commented on #27124
Thanks, @danmosemsft, for pinging me. I don't have an awful lot of time these days so I can't promise anything but I will do my best.

[2018-02-14 23:05] MattGal commented on #24505
10,000 * 4K is totally fine (40 MB is nothing) but if you care about fixing this, I'd look into using the current test assembly's directory instead of the %TEMP% directory-

https://github.com/dotnet/corefx/blob/eef60d6cf208f7c682c6156e471f7f7fe8a8d801/src/CoreFx.Private.TestUtilities/src/System/IO/FileCleanupTestBase.cs#L32

... would help use the automated cleanup of helix work items ;  if this

[2018-02-14 23:15] danmosemsft commented on #24505
It's already writing to the test directory
https://github.com/dotnet/corefx/blob/c9729ac851c4b031cee3b3c8a6682ef7cdafb3d6/src/System.IO.FileSystem/tests/FileStream/WriteAsync.cs#L388

@wtgodbe I would just change it to

`} while (DateTime.UtcNow - testStartTime <= testRunTime && totalBytesWritten < 10_000_000);`
or something

The original failure may be unconnected but this change will ensure it's

[2018-02-14 23:20] kasper3 commented on #24824
Fixed by #27007 ✌️

[2018-02-14 23:25] pakrym commented on #24824
Not yet, corefxlab is not updated yet.

[2018-02-14 23:42] caozhiyuan commented on #23579
2.0.3 fix  it

[2018-02-15 01:06] stephentoub commented on #26760
It is Expect: 100-continue.  If the timing works out so that the send starts before we've got to consume the read ahead task, then when the read ahead returns 0 due to the connection having been closed, we don't retry.  As a result, the test is inherently racy, and if we change the timeout to be long (which we could do with some hacky reflection on SocketsHttpHandler but not on the handlers), then

[2018-02-15 01:09] wfurt commented on #27023
I submitted PR to disable failing tests. However this looks like product bug to me.
The client sends TLS1.2 Client hello and that is reason why tests fail - they expect TLS/1.0 and failed negotiation.

Packet capture from test run attached.
[ubu18-tls.pcapng.zip](https://github.com/dotnet/corefx/files/1726120/ubu18-tls.pcapng.zip)

[2018-02-15 01:10] geoffkizer commented on #26760
I guess I'm fine removing this test, but what's your objection to adding a public setting for the expect100continue timeout, and then using it here?  Exposing the timeout as a setting seems like something we should consider anyway.

I agree re adding the opposite test.

[2018-02-15 01:11] geoffkizer commented on #26760
Also agree we shouldn't do hacky reflection.

[2018-02-15 01:16] stephentoub commented on #26760
I don't have an objection to adding a public property to SocketsHttpHandler for this.  We shouldn't add such a thing to HttpClientHandler, though, if for no other reason than WinHttpHandler doesn't support Expect: 100-continue at all.  If you do want to expose a public knob on SocketsHttpHandler, can you please open an API review issue for it with the signature?

We would be setting it to somethin

[2018-02-15 01:23] geoffkizer opened #27145 "SocketsHttpHandler: Consider exposing a setting for Expect: 100-continue timeout"
This is hardcoded to 1 second today.  We should consider exposing a setting to control this.

API proposal:

[code]

[2018-02-15 01:27] geoffkizer commented on #26760
I added #27145.

I'm fine with deleting the test.

[2018-02-15 01:35] danmosemsft commented on #27114
Looping the test overnight on RHEL7.2

[2018-02-15 01:42] danmosemsft opened #27147 "BasicEventSourceTests failing in non elevated Windows runs"
cc @brianrob

Not all our Windows test runs are elevated. Tests need to pass non elevated.

[code]
eg
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug/lastCompletedBuild/testReport/BasicEventSourceTests/FuzzyTests/Test_Write_Fuzzy/

They are all failing this way
[code]

Fix seems to be to change all these to have `[ConditionalFact(nameof(IsProcessElevated))]`

[2018-02-15 01:53] brianrob commented on #27147
Thanks @danmosemsft, I will fix this.  There is a break in perf runs due to an upgraded TraceEvent package so I am disabling these tests until I can fix the updated TraceEvent package.  See #27141.  I'll fix this as part re-enabling them.

[2018-02-15 02:11] ahsonkhan commented on #21395
Based on the discussion [here](https://github.com/dotnet/coreclr/pull/16379#discussion_r168325118), we want to make an adjustment to the following APIs to return an int (number of characters written to the destination). Also, instead of throwing when the destination is too small, we would return -1 isntead.

Changing return type from void to int.
[code]

[2018-02-15 02:55] agocke opened #27152 "NamedPipeClientStream does not work on Mac on Mono"
I've been trying to port the compiler server to work on Mono, but I hit a serious snag: looks like named pipes don't support Mono. Here's the stack trace I get:

[code]

cc @jaredpar @stephentoub

[2018-02-15 03:57] danmosemsft commented on #27130
We should take care not to lose coverage if we can. IIRC it was noted last time this came up that Jenkins was running configurations that official builds do not. Just today I opened a bug against some tests that were failing in Jenkins because they were not elevated, apparently the Jenkins Windows runs are not elevated and the Helix ones are elevated.

[2018-02-15 04:03] danmosemsft commented on #27127
@maryamariyan please port to release/2.1

[2018-02-15 04:08] tkggusraqk commented on #27057
@saurabh500
The latest SqlClient 4.4.2 still doesn't support，Old project migration, cost is greater。
When to support?

[2018-02-15 04:22] davidfowl opened #27154 "Remove IDisposable from IDuplexPipe"
The way you close a pipe is by completing both sides, and in the case of an IDuplexPipe, that's the input and output. There should be no dispose on the interface.

/cc @pakrym

[2018-02-15 04:22] JeremyKuhne opened #27155 "Use shared IO helper code from CoreCLR"
Common IO source code helpers were copied to CoreCLR some time ago. Now that we are mirroring, we should switch to using the mirrored code. There has been quite a bit of drift, so it might take some effort.

src/Common/src/System/IO/PathInternal.Windows.cs -> src/Common/src/CoreLib/System/IO/PathInternal.Windows.cs

https://github.com/dotnet/corefx/pull/27150#discussion_r168377623

[2018-02-15 04:34] maryamariyan commented on #27127
@danmosemsft PR to port to release/2.1 is available here: https://github.com/dotnet/corefx/pull/27139

There is an unrelated build failure on Windows X64.

[2018-02-15 04:45] danmosemsft commented on #27155
If you ignore style etc there doesn't seem much divergence. Do you see anywhere in the diff where we should not take the corelib one?

[2018-02-15 04:46] pjanotti commented on #26358
There are errors from CI for PR #26291 but those are caused by changes in that PR itself and affect both macOS 10.12 and 10.13. The timeout is consistently being hit but the output of ping6 is as expected for a good run, it seems like `WaitForExit` is always timing out with that change.

[code]

Jenkins [Link](https://mc.dot.net/#/user/tmds/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctio

[2018-02-15 05:10] JeremyKuhne commented on #27155
We might want to factor into more files to avoid pulling in more code than we need for some of the usages. Span stuff is a little weird too- we need to follow up on if/how we use System.Memory extensions in System.Runtime.Extensions. I presume we are going to continue to ship a System.Memory for .NET Standard with it's official release? E.g. can we take a reference from our .NET Standard System.IO

[2018-02-15 05:51] danmosemsft commented on #27124
Although RTL is a global option only, it's [used internally to implement lookbehind assertions](https://github.com/dotnet/corefx/pull/27156/files#diff-a9a3b963988422f7a460d8b78e314776L742). So it is a dynamic value. Updated text above.

[2018-02-15 06:30] JeremyKuhne commented on #27155
We should probably double down on using the common test project to unit test internal helpers. Some of what I removed in #27150 can probably be reused.

[2018-02-15 06:32] danmosemsft commented on #27038
I just hit this on Centos. running some tests in a loop.
[code]

[2018-02-15 06:35] JeremyKuhne commented on #27038
@danmosemsft what is your current head?

[2018-02-15 06:36] danmosemsft commented on #27038
This is a repro box. Seems to be 46267c1dbe46f0127e670ce25933ff49a5ec9d6e

[2018-02-15 06:48] danmosemsft commented on #27127
thanks @maryamariyan

[2018-02-15 06:48] #27127 closed

[2018-02-15 06:52] davidfowl opened #27157 "Default the pipe scheduler to the thread pool instead of inline"
As a safe default for the 99% of people we should use the ThreadPool PipeScheduler instead of the Inline one. Running inline can cause unintended consequences (like deadlocks).

[2018-02-15 07:02] JeremyKuhne commented on #27038
Hmm. Again in FileCleanupTestBase... Possibly a handle reuse? I can't find a way we would get into that state, however. I'll add some more details to the assert.

@tarekgh is it possible for `Encoding.UTF8.GetChars(nameBytes, buffer);`  to return an embedded null char if you pass it an array of bytes with no zeroes?

[2018-02-15 07:05] sandersaares commented on #12282
`Exception thrown: 'System.PlatformNotSupportedException' in System.Net.Requests.dll` remains on .NET Core 2.0. The workaround to set DefaultWebProxy works - it no longer gets thrown.

[2018-02-15 07:07] JeremyKuhne commented on #27038
Link to the asserting code: https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Unix/System.Native/Interop.ReadDir.cs#L37-L56

[2018-02-15 07:23] danmosemsft commented on #27038
I can repro easily. Tell me what you want me to put in the assert

[2018-02-15 07:36] clarkis117 commented on #25344
@WinCPP I believe you need to build the T4 templates in Visual Studio, so that it generates a new .cs file with the changes you made. For the tests, this may involve copying the ...includes.tt file to same directory as the test.tt file. Otherwise, Visual Studio will give you a build error when attempting to build the T4 templates in the solution.

[2018-02-15 08:10] davidfowl commented on #27154
This is already done!

[2018-02-15 08:10] #27154 closed

[2018-02-15 08:24] tudorserbanconnatix commented on #27121
I'm such an idiot. I switched to using ImageSharp and it immediately revealed the problem: path not found, because I'm using Windows forward slashes '\\' instead of '/'.

[2018-02-15 08:24] #27121 closed

[2018-02-15 09:14] olegbevz opened #27159 "Parametrized constructor for ExpandoObject"
Hello,
It would be great to have a possibility to create instance of ExpandoObject based on array of property names and values.
Here is a probable implementation:
[code]
Recently I had faced with a performance issue in my project: large amount of ExpandoObject's were created and populated with values using IDictionary<string, object>.Add(string, object) method:
[code]
Creating of over 6700 objects

[2018-02-15 10:32] stephentoub commented on #24588
This discussion seems to have petered out.

@Priya91, @bartonjs, @davidsh, what was the verdict on supporting this on Windows?

And, assuming it can be supported well, was there convergence on how this should be exposed to account for cross-platform differences, maintainability as suites grow/change in the future, OS defaults/preferences, etc.? Sounds like enums get a lot of support; could someone

[2018-02-15 10:38] tmds commented on #27095
@ianhays great you are updating these OSes! If you want to automate the upgrade of RHEL7/CentOS7 you can do it as described here: https://linuxaria.com/howto/enabling-automatic-updates-in-centos-7-and-rhel-7.

[2018-02-15 11:36] jameswilddev opened #27161 "ImmutableArray<byte> .Concat() includes a number of trailing zeroes not present in either argument"
.NET Command Line Tools 2.0.2

Hello!  Found a weird problem today, been able to isolate it to the following code sample:

[code]

Set a breakpoint on the closing brace following `var concatenated...` and inspect `concatenated`.  It ends with approximately 15 zeroes.

Note that none of a, b, c, d or e include said zeroes.

Weirdly, attempting to write this data to the console (`Console.WriteLine(s

[2018-02-15 13:00] Joe4evr commented on #17135
Wouldn't it be a better idea to piggyback off of [the upcoming delegate constraints](https://github.com/dotnet/csharplang/issues/103)?

[2018-02-15 14:28] deinok commented on #3188
@eerhardt If the solution is not implement this in favour of Mono.Posix i think that we can close this.
If not, I think that as a starting point we can map everything on C/POSIX signal.h with P/Invokes and give a more high level API with events like Signal.OnSigInt

[2018-02-15 14:43] iSazonov commented on #25873
In PowerShell we implemented this by means of a cache for device/inode information on Windows/Unix https://github.com/PowerShell/PowerShell/pull/4020
I don't know how acceptable it is for CoreFX.

[2018-02-15 14:50] ktang-tmp commented on #26967
@stephentoub we may be able to make a stripped down version of the project and send it to you to look into this issue. However, since it has all credentials in the solution, is there a way we can send it to you without uploading it to github?

Thanks very much!

[2018-02-15 15:16] AtsushiKan commented on #27101
@KrzysztofCwalina - can you be more specific about this option? How would it be specified (as a new overload of `Rent` on `MemoryPool`? An options parameter passed to `Rent`?) What would the finalizer do? (If it disposes the owned memory, it's not a "diagnostic mode" - it's a failsafe. The app that specified this option would be saying "I'm a buggy app. Please clean up after me. I understand this

[2018-02-15 15:43] eerhardt commented on #25334
Marking as ready to review.

/cc @CarolEidt @jkotas - in case they want to chime in on the proposed API.

[2018-02-15 15:49] davidfowl opened #27162 "Remove Commit from PipeWriter"
Commit was originally added because to allow an opportunistic pick up of data by the reader if it's already reading but it doesn't give any back pressure and can be a pit of failure in some cases. Originally, it was required when we had the requirement to Alloc() then Commit() but that requirement has been relaxed. On top of that the scenarios it was added for were a bit ill defined and we should

[2018-02-15 16:23] eerhardt commented on #3188
It would be my preference to close this as well.  I haven't seen any real-world scenarios that aren't supported by the Mono.Posix APIs, and that would justify creating a brand new, competing API.  I'm sure Mono would accept PRs to enhance the existing APIs, if necessary.

Anyone else have opinions?

[2018-02-15 16:31] tarekgh commented on #27038
I don't think so.

[2018-02-15 16:43] tmds commented on #3188
Also in favor of closing. Mono.Posix should be good for generic handling/sending signals.
Perhaps if there are specific use-cases that match closely with .NET Core, it may be interesting to add better support for those.

Overview of what is currently possible:
- handling SIGTERM: AssemblyLoadContext.Default.Unloading
- handling SIGINT/SIGQUIT: Console.CancelKeyPress
- sending SIGKILL: Process.Kill

[2018-02-15 17:13] keeratsingh commented on #26965
Hi @evgeniylevakhin,

I am looking into this issue, I will get back to you once I have any questions/updates.

Regards,
Keerat

[2018-02-15 17:32] geoffkizer commented on #27145
As part of this, we should make sure we've got the right default here.  Current default is 1 second.  WebRequestHandler uses 350 milliseconds.  I don't have a great sense for what makes sense here.