[2017-12-11 20:43] janvorli opened #25839 "Enable automatic updating of dotnet host version"
The MicrosoftNETCoreDotNetHostPackageVersion and MicrosoftNETCoreDotNetHostPolicyPackageVersion properties in dependencies.props are not updated automatically. We should enable their updating using the @dotnet-maestro-bot  like we do for versions of MicrosoftNETCoreAppPackageVersion and other similar properties.
The change will need to wait until the https://github.com/dotnet/core-setup/issues/351

[2017-12-11 20:44] petertsu commented on #24375
@angelcalvasp  Could you you share  your workaround please ? I need that behavior on 2.0.3 .
Thanks

[2017-12-11 20:47] tannergooding commented on #25334
@eerhardt, rather than updating the JIT, might it be better to just wait for Hardware/Platform intrinsics?

That is, just have it be purely software and add the additional intrinsic code paths once @fiigii (and others working on this) finishes adding the JIT support for those.

ARM support could be implemented in the same way, as their is currently work starting to add intrinsics for it as well.

[2017-12-11 20:55] danmosemsft commented on #20876
Costed at 3-4 days if @JeremyKuhne does it. Depends on #25539 to add Span overloads first.

[2017-12-11 21:22] Priya91 commented on #24677
In sockets perspective it makes sense with mapping ebdaf to operationaborted, given that there is no other case in this scenario where ebdaf could actually mean invalid arguments rather than the socket being closed. Although if that was the case, I am not sure why the OS would give an ebdaf instead of a more informative appropriate error. It is also a safe option to not be smarter than the OS, in

[2017-12-11 21:22] #24677 closed

[2017-12-11 21:25] Priya91 commented on #25800
@shravan2x Thanks for coming up with a more helpful repro. It sounds like a bug, we will investigate.

[2017-12-11 21:27] CarolEidt commented on #25344
Agreed.

[2017-12-11 21:33] Priya91 commented on #24253
@vanillajonathan I just did a search for HttpRequestException in our System.Net.Http codebase, and it is infact in a lot of cases where we use this exception without a statuscode like @davidsh remarks. It is only in the case where you pointed out in code we have a statuscode, and it is given as part of the exception message. It doesn't make sense to add a StatusCode on this exception, because it i

[2017-12-11 21:34] Priya91 commented on #24253
For your scenario you could try catch the httprequestexception, and parse the string message for a statuscode and throw a different custom exception from your app.

[2017-12-11 21:34] corivera commented on #25834
@weshaggard There's a SqlClient 4.4.1 on myget (https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.SqlClient/4.4.1), but not on nuget. Is this expected?

[2017-12-11 21:35] karelz commented on #24562
Kestrel should not hit this issue as it does not use Sockets in 2.0 - see https://github.com/dotnet/corefx/issues/24562#issuecomment-350358401.
`HttpListener` may be a good point (I guess it uses Sockets under the hood). Given it is obsoleted API, I'd like to see couple of examples of directly affected customers before we service it -- so far I saw hints of one in the replies above: https://github

[2017-12-11 21:39] danmosemsft commented on #25539
5 days assuming it's someone less familar with the area, including cleanup mentioned.

[2017-12-11 21:40] danmosemsft commented on #25535
5 days assuming it's someone less familiar with the area.

[2017-12-11 21:52] Priya91 commented on #24253
It could be kept as -1

[2017-12-11 21:55] davidsh commented on #24253
Sure.  But adding this property doesn't seem useful when the majority of time, it will be -1.

[2017-12-11 21:58] danmosemsft commented on #25811
@RussellHaley try `clean -all` (one hyphen) at the root then build again.

Sometimes a pull will pull down new tools to build with, and the incremental build is not robust to that and will give strange errors. Whenever you get strange errors unrelated to your changes, try a clean.

[2017-12-11 21:58] wtgodbe commented on #24357
Resolved by https://github.com/dotnet/corefx/pull/25784

[2017-12-11 21:58] #24357 closed

[2017-12-11 22:14] steveharter commented on #24090
@weshaggard there is no spec yet, but we do need one. I'll update this issue when I have something more.

This will likely be a preview2 feature.

[2017-12-11 22:14] tmds commented on #24677
This is about socket errors.

Because the Socket was Disposed, the file descriptor is closed and has become invalid.

[2017-12-11 22:22] danmosemsft commented on #25804
The user always works against the StringBuilder that owns the end chunk and that has is a singly linked list of chunks back to the start (so incidentally the smaller the index the more blocks to traverse to find it).

In the first idea, there would be two fields in the end StringBuilder: the last accessed index and a pointer to the chunk for it. Whenever the chunk chain is changed (by setting `m_C

[2017-12-11 22:33] bcuff opened #25841 "Memory leak caused by use of ArrayPool<byte>.Shared in underlying libraries."
Our application eventually runs out of memory after a few days of running. We've traced down the majority of heap usage to buffers allocated by the DefaultArrayPool.

We would like the ability to turn off or replace the ArrayPool<T>.Shared implementation. Currently we're using a reflection hack to work around the issue.

**Workaround:**
[code]

[2017-12-11 22:37] krwq commented on #25820
@rmkerr is this a convergence between netfx? I'm seeing on desktop:
[code]

produces `file:///c:/dev/c%23/test/test.xml` which seems as an expected Uri.

Xml currently parses Uri argument as seen here:
https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/XmlResolver.cs#L36

(if uri is relative it calls `new Uri(Path.GetFullPath(relativeUri))`).

As I understand `#` in

[2017-12-11 22:45] jkotas commented on #25804
Would it be better to just document that StringBuilder indexer is not fast?

StringBuilder is designed for building strings. It is not designed to inspect them - it will never work great for that. And trying to make it work ok for that just hurts the primary purpose what it is meant to be used for.

[2017-12-11 22:47] danmosemsft opened #25842 "Improve GetFiles performance (Unix)"
Extend the efficiency wins to Unix. Will require some care with UTF8.

Cost from @JeremyKuhne

Windows part https://github.com/dotnet/corefx/issues/25387

[2017-12-11 22:47] GrabYourPitchforks opened #25843 "ArrayPool.Shared.Rent should support returning a zero-inited array"
Currently calling `ArrayPool<T>.Shared.Rent` does not guarantee that the returned buffer is zero-inited. While good for performance, this could cause correctness issues in applications, especially those that simply use `byte[] xyz = ArrayPool<byte>.Shared.Rent(...)` as a drop-in replacement for `byte[] xyz = new byte[...]`.

I propose changing the signature of `ArrayPool.Rent(int minimumLength)` t

[2017-12-11 23:00] Drawaes commented on #25429
That is a Sync method are you sure that is it associated? I also can't seem to see anything about the failure when I click on that link... I don't know if its because I don't have permissions to see it.

[2017-12-11 23:05] Drawaes commented on #25429
The only change I made to that code is
[code]

became
[code]

I would suggest that as you are getting more and more failures because of some issue, not because of the test.

[2017-12-11 23:09] shmao commented on #25718
cc: @zhenlan @mconnew

[2017-12-11 23:10] karelz commented on #25429
@wfurt we should create a new test failure for SendRecvPollSync_TcpListener_Socket test

[2017-12-11 23:10] danmosemsft commented on #25804
Indexing as fast as a string or array would compromise its goals for sure. I just hate to think of people getting O(n^2) indexing when a few field gets and sets could get it to O(n) and potentially help other operations like StartsWith. If not the pit of success then at least the pit of mediocrity.

I looked at Azure profiler data and fortunately the usage of get_Chars, set_Chars, StartsWith, Find

[2017-12-11 23:10] #25804 closed

[2017-12-11 23:14] rmkerr commented on #25820
It'd be more accurate to look at LocalPath than at ToString. So for the following code:

`Uri uri1 = new Uri(@"c:\dev\c#\test\test.xml");`
`Console.WriteLine(uri1.LocalPath);`

We get a consistent result between netfx and corefx:

We have a little bit of flexibility in how we treat [LocalPath](https://docs.microsoft.com/en-us/dotnet/api/system.uri.localpath?view=netcore-2.0#System_Uri_LocalPath),

[2017-12-11 23:21] JonHanna commented on #1920
We can't cache the final result because it closes over different `handler` delegates each time, but we can cache the `DynamicMethod` and call `CreateDelegate` on the cached result. We get to skip the bulk of the method, but it's not clear how much we gain.

[2017-12-11 23:28] ianhays opened #25844 "Upgrade our ZLib version for Windows"
We've missed a few releases of zlib and should update [our version of zlib](https://github.com/dotnet/corefx/tree/master/src/Native/Windows/clrcompression) from [1.2.8 to 1.2.11](https://www.zlib.net/ChangeLog.txt).

If possible, we should retain the perf improvements contributed by the Intel folks (cc: @bjjones).

@bjjones @ViktorHofer

[2017-12-11 23:36] Petermarcu commented on #24090
We should talk about whether some form of it can make it into preview1 as I believe other parts of the stack are expecting 2.0 apps to be able to run on 2.1.

[2017-12-11 23:37] Priya91 commented on #25581
I debugged this locally on linux, and it looks like the remote certificate chain obtained from openssl doesn't have the intermediate certificate. The code [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/CertificateValidationPal.Unix.cs#L77) gives the count of the chain stack as 1, and it only has the CA cert there, doesn't contain the intermediate cert.

[2017-12-11 23:44] jkotas commented on #25843
ArrayPool is fundamentally unsecure API, just like manual malloc/free in C++. You have to be very careful when using it. It cannot be used as a drop-in replacement for `byte[] xyz = new byte[...]` without a very careful thinking.

[2017-12-11 23:48] danmosemsft opened #25846 "Add StringBuilder.Equals(string) to efficiently compare a StringBuilder with a string."
## Issue
There is no efficient way to compare the content of a large StringBuilder with a string. If you iterate with the string builder indexer, you hit [pathological performance](https://github.com/dotnet/corefx/issues/25804) on chunky StringBuilders (the typical case). If instead you create a temporary string from the builder, you have a large string that has to be garbage collected.

## Ration

[2017-12-11 23:50] jkotas commented on #25841
Yes, ArrayPool can keep a lot of unused memory alive.

I think a better fix would be to make GC aware of it and allow it to flush it.
 https://github.com/dotnet/coreclr/issues/7747

[2017-12-11 23:51] jnm2 commented on #25846
Happy to see this. I could have used it a number of times.

[2017-12-11 23:54] Priya91 commented on #24766
cc @wfurt Can you check the history of test and close if no repro..

[2017-12-11 23:56] Priya91 commented on #24648
cc @bartonjs @morganbr Should this be fixed for 2.1?

[2017-12-11 23:57] GrabYourPitchforks commented on #25843
There's [an awful lot of callers](http://source.dot.net/System.Private.CoreLib/R/a2af42d69058d8ca.html) for something that's fundamentally an unsecure API, and that's just internal to CoreFX and doesn't include ASP.NET or other external callers. That's a huge indicator to me that developers are treating this is a faster drop-in replacement for array allocation, regardless of how we intended the AP

[2017-12-11 23:58] Priya91 commented on #24000
This should be fixed by #24682

[2017-12-11 23:58] #24000 closed

[2017-12-12 00:03] denisvlah commented on #25776
I have checked the netcore 2.0.2 the bug described above is fixed.
Closing the ticket.

[2017-12-12 00:03] #25776 closed

[2017-12-12 00:05] bartonjs commented on #24648
Yes, and serviced for 2.0.

[2017-12-12 00:11] danmosemsft commented on #23388
Seems to be related to two test classes uninstalling services at about the same time, see timestamps:
[code]

[2017-12-12 00:13] bartonjs commented on #25581
I assume you mean only has the leaf/EE/server cert.

Nope, that should imply that the server just didn't send it.

Do I know of any cases where it won't send it?  Well, it gets built at https://github.com/dotnet/corefx/blob/a77d5aae4790689b86a9910ca981825b72daa9a8/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L146-L149.  Presumably the chain object at that stat

[2017-12-12 00:15] karelz commented on #25809
@tmds any idea if it is something we can override on Linux?

[2017-12-12 00:17] karelz commented on #25810
Can you share a minimal repro?

[2017-12-12 00:17] jkotas commented on #25843
Well, `Unsafe.*` or `Marshal.*` are fundamentally unsecure in similar way and they are used way more often in corefx than ArrayPool...

[2017-12-12 00:26] karelz commented on #25816
@hammond-of-texas I have noticed your thumbs up on previous answer. Does it mean you are now unblocked?

BTW: `HttpWebRequest` is flagged as deprecated API by our [platform compat tool](https://github.com/dotnet/platform-compat). We recommend to move to `HttpClient`.

[2017-12-12 00:28] Priya91 commented on #25581
@pepone Confirms that the server sends the chain, with

Windows Server | MacOS client the client keychain length is 2
Linux Server | MacOS client the client keychain length is 2
Linux Server | Linux client the client keychain length is 1

[2017-12-12 00:28] karelz commented on #25818
I don't think .NET Core BCL is localized. Is your request about .NET Framework?

[2017-12-12 00:30] GrabYourPitchforks commented on #25843
Additionally, [I searched GitHub](https://github.com/search?utf8=%E2%9C%93&q=arraypool+&type=Commits) for commits to third party libraries where the commit message contains "ArrayPool", and it looks like developers are just treating it as a drop-in replacement. In fact, the _third match_ for that search term is [this ImageSharp commit](https://github.com/SixLabors/ImageSharp/commit/b3c075a2e43fc2e

[2017-12-12 00:33] Priya91 commented on #17668
Closing as no repro for a long time.

[2017-12-12 00:33] #17668 closed

[2017-12-12 00:33] ArchieCoder commented on #25818
Maybe I post this enhancement in the wrong github although if BCL is generating any exception the error message can also have localized and non localized version.

[2017-12-12 00:34] Priya91 commented on #25581
@pepone Can you also have a Windows server and linux client, and confirm the server sends the entire chain, and the client fails to receive it..

[2017-12-12 00:36] karelz commented on #25818
Don't worry about correct/wrong place, we can move stuff.
The question is if your primary concern is about .NET Framework or about .NET Core.

[2017-12-12 00:40] danmosemsft commented on #23388
It's always in `ServiceController.Stop()` even though just above we have
[code]
getting `Status` successfully requires that the service existed at that point or `GetServiceDisplayName` would have failed.

We can see from the logging that even though this is happening about the same time, the service names they are deleting are different.

We already added logging to check we weren't getting called

[2017-12-12 00:42] jkotas commented on #25843
This commit does not quality as drop in replacement for me. There are number of extra changes to make it work - explicit Dispose methods added, some arguments are passed as `ref` now,  ... .

[2017-12-12 00:43] RussellHaley commented on #25811
Great, thanks for the guidance! I'll RTM again... sorry for the noise.

https://github.com/dotnet/buildtools/blob/master/Documentation/Dev-workflow.md
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md

[2017-12-12 00:45] jkotas commented on #25843
Then we need to update the documentation, or the Intelisense tip you get for this to make it clear.

[2017-12-12 00:45] danmosemsft commented on #25811
@RussellHaley no problem at all ping again if you get stuck.

[2017-12-12 00:54] rmkerr commented on #24712
This is similar to #23702. I believe that the failure was a result of a missing call to Socket.Shutdown in the Http loopback server used by this test. The last test failure was in the first test run on December 4th, and a fix was merged later that day in pr #25694.

[2017-12-12 00:59] weshaggard commented on #24487
@danmosemsft is this something you are still targeting for 2.1?

[2017-12-12 00:59] danmosemsft opened #25847 "System.Text.RegularExpressions.Tests.RegexReplaceTests/Replace OutOfMemoryException on two Regex tests on 64 bit Windows"
These two regex tests have recently started failing consistently
[code]
on 64 bit Windows runs
[code]

Nothing has changed in regex code/tests. It's also odd that the OOM is 64 bit only.

@maririos is the repro system ready and working for such a case?

[2017-12-12 00:59] weshaggard commented on #23220
@safern wasn't this work done with the compat package work?

[2017-12-12 01:00] bcuff commented on #25841
It would be great to have a better implementation that responded to memory pressure. I look forward to that happening.

That said... it would still be useful to swap out the implementation for the following reasons:
- Applications that don't want to trade memory for CPU
- Applications where the default implementation doesn't work well in some specific case

[2017-12-12 01:01] weshaggard commented on #1107
We do tags for releases but for any general official builds we just put sha's into the binary version info. So you can figure out what source code was used to build it.

[2017-12-12 01:01] #1107 closed

[2017-12-12 01:03] weshaggard commented on #3501
I believe we have all the tools we want enabled now and some tools just part of our security builds so we should be covered.

[2017-12-12 01:03] #3501 closed

[2017-12-12 01:05] weshaggard commented on #3789
I'm a firm believe that if we are going to do anything here it should be to add an auto-formatter instead of having a style-cop type of tool. I'm going to close this as I don't expect we will have a tool to verify this at build time.

[2017-12-12 01:05] #3789 closed

[2017-12-12 01:09] weshaggard commented on #743
Closing this as we don't really have a loc story for our nuget packages at this time with no real plans to fully add that at this point in time.

[2017-12-12 01:09] #743 closed

[2017-12-12 01:10] weshaggard commented on #4152
We are now capturing dumps on linux machines which I think covers this issue, so closing. If there are more things we need then we should open them separately.

[2017-12-12 01:10] #4152 closed

[2017-12-12 01:12] danmosemsft commented on #24487
No

[2017-12-12 01:13] weshaggard commented on #4919
We no longer have .builds files but we do have tooling to generate solution files per library, which is the level we think is the most useful for library developers. I'm closing this issue but if there is something we thinking we are still missing we can open another specific issue.

[2017-12-12 01:13] #4919 closed

[2017-12-12 01:18] weshaggard commented on #5042
We don't use TargetingPackReference any longer so closing this issue as it isn't relevant any longer.

[2017-12-12 01:18] #5042 closed

[2017-12-12 01:25] weshaggard commented on #8392
While I generally like the idea I don't think it will be easy to guarantee we stay clean in all the commands our scripts call. Given it hasn't gotten any interest for a long time I'm going to close, if someone is interested in trying to improve our scripts by all means give it a go.

[2017-12-12 01:25] #8392 closed

[2017-12-12 01:28] weshaggard commented on #9500
@janvorli @stephentoub is this something we think we still want?

[2017-12-12 01:29] weshaggard commented on #10373
It is consistent between managed and native as we explicitly generate that native version stuff in our build-native scripts https://github.com/dotnet/corefx/blob/master/src/Native/build-native.cmd#L19.

[2017-12-12 01:29] #10373 closed

[2017-12-12 01:30] weshaggard commented on #10090
@stephentoub @danmosemsft is it this still an issue with our coverage builds?

[2017-12-12 01:31] morganbr commented on #25829
I think this is the right behavior, but you might want to confirm against the desktop runtime. Strong Name signatures typically don't allow anything to change in the binary after they're completed.

[2017-12-12 01:32] weshaggard commented on #10422
This is not really on any radar. We are more likely to completely remove the run tool then to flush out this so closing.

[2017-12-12 01:32] #10422 closed

[2017-12-12 01:34] morganbr commented on #25843
@GrabYourPitchforks, I guess it's worth thinking about whether zero-initialization makes this API more secure in given that a previous caller can also hold onto a released array and get similar results. If we can make a case that they're different, I think exposing zero initialization as a choice makes sense. We could also have a pair of methods like
```ArrayPool.Rent()``` (which zero-fills) and `

[2017-12-12 01:37] weshaggard commented on #13094
@danmosemsft correct me if I'm wrong but I think this works now that we have the pdb's for the corelib, correct?

[2017-12-12 01:41] steveharter commented on #24090
Here's approaches for preview1 timeframe: (for minor roll-forward only) in order from low to higher cost:
1) Fix the specific `System.Runtime.CompilerServices.Unsafe` issue by hard-coding the fallback logic for this single assembly
2) When the app has a reference to a package (not assembly) and that package contains a framework assembly, use the framework's copy of that assembly. This means there

[2017-12-12 01:42] ahsonkhan opened #25850 "Add MemoryExtension APIs to get parity with array APIs"
As part of completing the  MemoryExtensions feature - https://github.com/dotnet/corefx/issues/24880 - here are the proposed Span extension APIs that should get added to get parity with the available APIs on array.

## Proposed API Additions
[code]

## Sample Usage and Rationale
The API usage should be almost identical to the Array API usage. Getting API parity with array makes it easier for custom

[2017-12-12 01:45] morganbr commented on #25801
@KrzysztofCwalina, can you expand on that a bit? If I understand correctly, ```DateTime.TryParse``` will return false for:
* A null string
* An empty string
* A string whose contents can't be successfully parsed

It could still throw due to underlying dependencies (e.g. OutOfMemoryException, IOException).

I would think that decrypting data would be comparable to parsing a string into a DateTime.

[2017-12-12 01:46] Petermarcu commented on #24090
For 3, what will happen for existing apps? That information won't be in the deps.json for 2.0 apps would it?

For Preview1, we can probably live with 1 as long as the behavior compatibly rolls into what we do for Preview2.

[2017-12-12 01:46] ahsonkhan commented on #21395
We have IndexOf<T> already. Does that your scenario? https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L93

Equals
StartsWith

We have StartsWith already. Also, is the semantics of Equals the same as SequenceEqual? If so, that exists as well.
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L137

[2017-12-12 01:48] Petermarcu commented on #24090
Actually, is the proposal that the additional metadata would be in the deps.json of 2.1 so we know it now owns up to a certain version of a package/assembly?

[2017-12-12 01:50] danmosemsft commented on #10090
It currently has ` -filter:"+[System.Text.RegularExpressions]*" ` (eg for System.Text.RegularExpressions tests) ie it only includes coverage of the assembly under test not any product code compiled into the unit tests themselves.

If you add ` /p:Coverage=true` then you get just `-filter:"[*]*"` which gives lots of errors about missing sources for xunit itself and coverage for xunit. For some reas

[2017-12-12 01:50] #10090 closed

[2017-12-12 01:51] bartonjs commented on #25801
What Krzysztof told me in a hallway once is "every false return should have the same action".  In the case of DateTime.TryParse it's "Your input is no good, give me a different input" for all three of those cases.

For TryDecrypt you'd really want to know the difference between "you didn't give me enough space to write down the answer" and "this data and this key don't go together", because the re

[2017-12-12 01:55] ahsonkhan commented on #21395
What about adding these as well?

[code]

[2017-12-12 02:08] terrajobst commented on #25779
@tannergooding

It doesn't violate the naming convention because ToTensor() does a return an instance of the `Tensor<T>` class -- it's just a more specific subclass.

[2017-12-12 02:24] ArchieCoder commented on #25818
My app is UWP. I'm a C# developer since 2004 (13 years!). I have seen exception messages localized only for that many years. So yeah, it would be .NET Framework. Thanks

[2017-12-12 03:05] tb-mtg opened #25852 "ASP.NET Core Web Application Visual Basic (VB)"
Any idea on when we will be able to create new projects for ASP.NET Core Web Application using Visual Basic?

[2017-12-12 04:46] gulbanana commented on #24090
point 2 sounds like reinventing the GAC. i’m not looking forward to installing .net core 3.x apps onto some user’s machine and then trying to work out why my dlls aren’t being used (because they have 3.5.x, which took an OOB package and brought it into the framework..)

[2017-12-12 05:06] danmosemsft commented on #25852
@davidfowl ?

[2017-12-12 05:09] tmds commented on #25809
@shravan2x @karelz `ReadKey` has an overload that accepts a bool, when set to `true`, it won't print the read character. That works.
The docs of `ReadKey()` say _The pressed key is displayed in the console window._ So the Linux behavior matches with the docs.
We need to understand why Windows isn't showing the character. Then we can look at changing the Linux implementation.

[2017-12-12 05:13] RussellHaley commented on #25811
While ultimately successful, the build paused at cmake:

C:\Users\russh\Git\dotnet\corefx>build.cmd
Installing dotnet cli...
Restoring BuildTools version 2.1.0-prerelease-02304-01...
Initializing BuildTools...
Done initializing tools.
Running: C:\Users\russh\Git\dotnet\corefx\src\Native\build-native.cmd   x64  Debug  Windows_NT  --numproc 4  -portable  toolSetDir=c:\tools\clr
Tools are already ini

[2017-12-12 05:13] #25811 closed

[2017-12-12 06:02] jkotas commented on #24090
We may rather rip out `System.Runtime.CompilerServices.Unsafe` from netcoreapp. It would solve other problems with this partial OOB - https://github.com/dotnet/corefx/issues/24012. The fewer partial OOBs the better. This one does not have any exchange types so there are no downsides.

[2017-12-12 06:04] jkotas commented on #24012
We may rather rip out System.Runtime.CompilerServices.Unsafe from netcoreapp.

[2017-12-12 06:32] Petermarcu commented on #24090
I thought it went in because of System.Memory. I would prefer things not to go in if they don't need to.

[2017-12-12 06:39] safern commented on #23220
I added netcoreapp to all the projects assemblies included in the compat pack. I don't think that is what we needed to fix this issue right?

[2017-12-12 07:04] jkotas commented on #24090
The OOB version of System.Memory depends on S.R.CS.Unsafe. It was an easy choice to keep the same dependency for the inbox version. This dependency is not necessary for the inbox version and can be easily avoided.

[2017-12-12 07:31] Petermarcu commented on #24090
@KrzysztofCwalina can we remove this dependency so we don't have this specific app compat challenge for Preview1?

[2017-12-12 07:32] msvprogs commented on #25810
@karelz
I was using WebClient this way:
[code]

[2017-12-12 07:46] Sunny-pu commented on #20024
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171212.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transferType:%20ContentLength,%20transferError:%20None)

[2017-12-12 07:50] javaptgl commented on #25833
@benaadams Thank you. No issues. I ran it twice just to be sure and the results were similar.

[code]

So I guess the issue exists within powershell?

[2017-12-12 08:18] Alois-xx commented on #25804
This should definitely be fixed. I have some build targets which have 8 minutes of "compile" time due to a large string with 900KB length which is compared in MSBuild properties. The resulting string is always the same but trying to intern it takes much longer than to create it and be done with with it. The actual work is < 40s which has definitely some room for improvement.

The MSBuild syntax to

[2017-12-12 08:20] DamirLisak commented on #22853
The workaround with releasing the Read-Lock at the end of MoveNext() seems to work.
Here a example-code for those which have the same problem:

[code]

[2017-12-12 08:21] davkean commented on #25804
@Alois-xx It would be better to file that issue over on MSBuild so that we can fix its interning behavior. Fixing that issue at the StringBuilder level isn't the right change.

[2017-12-12 08:47] Sunny-pu commented on #16757
failed again:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_debian8.4_release/lastCompletedBuild/testReport/System.Net.Http.Functional.Tests/HttpClientHandler_SslProtocols_Test/GetAsync_SupportedSSLVersion_Succeeds_sslProtocols__Tls__url____https___www_ssllabs_com_10301____/

[2017-12-12 10:03] danmosemsft commented on #25804
There is already https://github.com/Microsoft/msbuild/issues/1593 to add a cut over to To String at say 50K chars. For the long term I have proposed a method on String builder to equate efficiently with String.

[2017-12-12 11:13] tmds commented on #24562
As does every other .NET TCP server (except Kestrel).

[2017-12-12 12:25] xrkolovos commented on #25520
For the IE browser, in ssllabs I get this message in Handshake Simulation

[code]

[2017-12-12 12:32] LeonidVasilyev opened #25854 "How do I utilize HTTP caching with WinHttpHandler and HttpClient?"
I'm using .NET Framework 4.7, but creating issue here because [System.Net.Http.WinHttpHandler](https://www.nuget.org/packages/System.Net.Http.WinHttpHandler/) NuGet package release notes lead to .NET Core repository, and another [issue](https://github.com/dotnet/core/issues/1023) about `WinHttpHandler` was moved from .NET Core repository to CoreFx repository.

It is stated in many places accross .

[2017-12-12 12:40] xrkolovos commented on #25520
my server enables this protocols

[code]

I am trying to find, what i should do. This url
https://support.microsoft.com/en-us/help/3140245/update-to-enable-tls-1-1-and-tls-1-2-as-a-default-secure-protocols-in
doesn't apply for windows server 2012r2

[2017-12-12 12:46] jkotas commented on #24090
The work required for this:
- Rename System.Runtime.CompilerServices.Unsafe in CoreLib to Internal.Runtime.CompilerServices.Unsafe and make it public. The different namespace is necessary because of there are scenarios that compile against implementation assemblies, and having type with same name in two different assemblies always break them.
- Update inbox System.Memory (and other inbox CoreFX as

[2017-12-12 13:55] Alois-xx commented on #25804
Thanks! You are faster solving issues than I can find them ;-).

[2017-12-12 14:05] dario-l commented on #3688
@roji That's the point. I must use hacky way to do things performant. There should be the way to do this with official standard API.

If batching is not implemented in .net core yet then, maybe, it is a chance to do this properly even if this requires some changes/extensions in API.

[2017-12-12 15:14] jnm2 commented on #13890
Looks like you mixed tabs and spaces.

[2017-12-12 15:16] danmosemsft commented on #25804
@Alois-xx any interest in offering the PR for that MSBuild issue? Cutover to string with a simple test. Not sure if they want a perf measurement.

[2017-12-12 15:25] bgribaudo opened #25855 "Expose Parent/Child Process Information via System.Diagnostics.Process"
## Issue
.Net Standard does not seem to provide a means to identify the parent or child processes of a given process.

In the Windows world, this information can be obtained or extrapolated using [WMI's Win32_Process management object](https://stackoverflow.com/a/7189381/117424), [performance counters](https://stackoverflow.com/a/2336322/117424) or [P/Invoke](https://stackoverflow.com/a/3346055/11

[2017-12-12 15:30] bartonjs commented on #25828
Well, there seems to be a pretty good reason why it failed:

https://github.com/dotnet/corefx/blob/317dfb7f69ebf8274e9ad0106a738525e8d8a0b0/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/PkcsFormatReader.cs#L194-L204

When using the single certificate constructor we can't read a Pkcs7 file; because our test corpus wasn't big enough to include one.  And apparen

[2017-12-12 15:30] #25828 closed

[2017-12-12 15:33] bartonjs commented on #25828
[code]

will populate `coll` with all of the certs contained in the CMS certificates collection.  The order they come out from that file format is usually smallest first; so you'd need to do a bit of work to line that up with what the single certificate ctor does for you.

[2017-12-12 15:36] OzieGamma opened #25856 "DIA SDK missing error message is wrong/misleading"
When trying to build CoreFX I ran `.\build.cmd`. I got the following error message:

[code]

The DIA SDK is now correctly installed by the installer. However I forgot to select the correct components when installing VS Community 2017.

I am creating a PR to change the error message.

[2017-12-12 15:51] artkpv commented on #21267
Hello, thank you for this opportunity to contribute to .NET Core libraries!

@AtsushiKan I've created my first PR. Not sure I did all correctly, please review it. Some tests fails (`System.Drawing.Common.Tests`, `System.DirectoryServices.AccountManagement.Tests`, and other).

[2017-12-12 16:36] steveharter commented on #25783
The last 3 core-setup builds have been [failing ](https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1216037&_a=summary)on alpine.3.6-x64. Related?

The [error ](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1216040)message:
[code]

[2017-12-12 16:46] janvorli commented on #25783
No, this is a different issue, see https://github.com/dotnet/core-eng/issues/2260.

[2017-12-12 16:55] BrennanConroy commented on #25439
We are getting a null ref in this area, I don't think it's the same one though since the offending code should be commented out
[code]

[2017-12-12 16:58] danmosemsft opened #25860 "No dump found on fedora.25.amd64.Open:Release-x64"
https://mc.dot.net/#/user/maryamariyan/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/12cbeed85897de05d63181974602cd977ea30966/workItem/System.ComponentModel.Composition.Tests/wilogs
[code]

Opening an issue to see whether this is consistent.

[2017-12-12 17:02] danmosemsft commented on #25855
If implementing this for Windows note that processes expose their parent PID but this can represent a parent that has terminated and the PID may have been removed. The correct way (according to Win32 folks) is to also check the start time of the parent process is not after that of the child. See https://github.com/Microsoft/msbuild/blob/b499c93e95f440b98967b8d5edd910ee8556f504/src/Shared/NativeMet

[2017-12-12 17:02] weshaggard commented on #25834
That one does look like it was missed to go on nuget.org. @dagood could you please take a look at get this package published to nuget.org?

[2017-12-12 17:03] danmosemsft commented on #25847
@ViktorHofer this is consistent. Any thoughts? If not can you please simplify the test or disable it for Windows 64 bit so it's not failing in daily runs.

[2017-12-12 17:04] danmosemsft commented on #25847
One hand-wavy possibility is that it was always near to the limit, and something has changed (maybe on the 64 bit images we use) that pushed it over. I don't repro locally? I suggest simplifying.

[2017-12-12 17:13] KrzysztofCwalina commented on #24090
So, now we are going to have duplicated APIs in two different namespaces? And what's worse the in-platfrom one, which majority of people will be using long term) being called "Internal", but actually being public? This is confusing and keeps adding warts to the platfrom.

cc: @terrajobst

[2017-12-12 17:13] dagood commented on #25834
That SqlClient 4.4.1 on MyGet has a different commit hash in its version.txt than the Microsoft.NETCore.Platforms 2.0.1 package that we shipped for release 2.0.3. The drop where I pulled Platforms 2.0.1 from didn't have a stable SqlClient package.

That doesn't prevent us from pushing from MyGet to the NuGet Gallery, but I'd like to understand the situation better first such as tracking down which

[2017-12-12 17:13] tannergooding commented on #25779
@terrajobst: Having a method with a signature of `<SubType> To<Type>()`, at least to me, is not intuitive.

I would have expected the signature of an API called `ToTensor()` to be `Tensor<T> ToTensor()`. Then it would be returning `Tensor` as part of its public contract, but could internally return a different subtype and still be accurate.

Think of it this way: If `Tensor<T>` was not abstract, t

[2017-12-12 17:17] weshaggard commented on #23220
That is the key thing needed to fix this. I guess we just need to survey to see if there are any other libraries that weren't in the compat pack that also need a netcoreapp configuration.

[2017-12-12 17:18] safern commented on #23220
Yes, I'll do that check and update them if needed and then close this issue. Thanks.

[2017-12-12 17:20] wfurt commented on #24766
It fails once in a while. Previous failure was 017-09-25 and than bunch in  June. Do we know if this one depends on external server?

[2017-12-12 17:21] weshaggard commented on #23220
I think the easiest way to verify this is to disable the restoring of the netcoreapp2.0 targeting pack under external and do a full netcoreapp vertical build. It should succeed and if it doesn't then you will find the ones that need a configuration.

[2017-12-12 17:23] jkotas commented on #24090
This just .NET Core implementation details. The Internal namespace is not going to be exposed in the .NET Core reference assemblies.

We have number of similar ones already. For example, there is a public lightweight Internal.Console in S.P.CoreLib that we use for tests or debug-only logging.

The whole point of this is to prevent System.Runtime.CompilerServices.Unsafe from turning into partial OO

[2017-12-12 17:29] wfurt commented on #25633
yes I did but I hit some roadblocks again. Things got broken as we do not have automated builds for FreeBSD (yet) I'm hopeful I'll have something today or tomorrow.

[2017-12-12 17:29] dagood commented on #25834
Pushed to NuGet Gallery. This package was rolled up from a 2.0.2 build, but the 2.0.3 drops didn't reflect that.

[2017-12-12 17:38] weshaggard commented on #24090
While I'm open to the idea of duplicating the unsafe APIs in corelib and not putting the OOB inbox but are we not also going to have the same issue with System.Memory? I realize we didn't ship a stable System.Memory where we did with the Unsafe OOB but I suspect there may be folks using System.Memory in a similar fashion that we want to ensure work with 2.1 preview 1.

[2017-12-12 17:45] jkotas commented on #24090
System.Memory preview packages had number of breaking changes between different versions. I do not think we need to worry about making some random old version of System.Memory preview work on .NET Core 2.1.

[2017-12-12 17:48] safern commented on #23220
Good idea. Will do that.

[2017-12-12 18:00] KrzysztofCwalina commented on #24090
OK, this is much less of a wart.

[2017-12-12 18:31] JonHanna commented on #24093
Since `uint` isn't CLS-compliant, there's no CLS-compliant ctor that covers the astral planes. `int` would be necessary too.

Two-way implicit conversions can lead to bad things happening with overloads, so one direction should perhaps be explicit. It's not clear which. On the one hand `uint`/`int` is wider than code-points as values below 0 or above 10FFFF<sub>16</sub> aren't meaningful, and havi

[2017-12-12 18:35] terrajobst commented on #24668
Notes:

* The generic funcs are hard to understand as the three strings don't tell customers what's going on.
* Consider passing in the local name and namespace name as a single `XmlQualifiedName` instance
* User code seems to have to chain with the default one, which is a bit weird with properties that are set. We usually use virtual methods where overriders can simply call the base implementatio

[2017-12-12 18:40] joshfree opened #25861 "Process BasePriority test failure on WSL"
1 Process test consistently fails on WSL on the latest RS4 Insiders Preview build:

[code]

[2017-12-12 18:43] davidsh commented on #25854
There is no caching support in native WinHTTP nor WinHttpHandler.  Thus, the HttpClient, HttpWebRequest APIs etc. in .NET Core do not support caching.

[2017-12-12 18:46] davidsh commented on #25854
Also, WinINET is not supported on .NET Core.  The exception is that WinINET is the underlying implementation of the .NET Core Windows UWP HTTP stack.  But it used indirectly via System.Net.Http APIs on .NET Core UWP being implemented on top of WinRT Windows.Web.Http APIs (which use WinINET underneath).

In general, though, native Windows WinINET is a poor choice is not supported for server applica

[2017-12-12 18:46] davidsh commented on #25854
cc: @karelz

[2017-12-12 19:10] ahsonkhan commented on #21395
## Proposed API Additions
[code]

[2017-12-12 19:36] shmao commented on #25718
I have a PR out for adding the APIs, the implementaitons, and tests. See https://github.com/dotnet/corefx/pull/25625.

[2017-12-12 19:43] JeremyKuhne opened #25863 "Investigate improving GetFiles array perf."
The APIs that return arrays currently use an enumerable internally. We could potentially write optimized solutions for these that take into account the result will be a flat array (i.e. forgo some of the enumerable overhead).

[code]

Mono had some optimizations along these lines. https://github.com/dotnet/designs/pull/24#issuecomment-351102126

[2017-12-12 19:44] corivera commented on #25834
Thanks @dagood and @weshaggard

[2017-12-12 19:44] #25834 closed

[2017-12-12 19:46] anurse commented on #25766
Is there some resolution to this? I'm seeing this in quite a few ASP.NET Core repos (basically any project referencing Kestrel will see it as Kestrel references System.Security.Cryptography.Cng)

[2017-12-12 20:14] pranavkm commented on #25766
@weshaggard would you like me to get a repro app for you? In my case, all I did was attempt to build one of the samples in Kestrel referencing these specific package versions.

[2017-12-12 20:26] danmosemsft commented on #25861
We tried to set process to 19 (most nice) but reading back it was parsed as -19. Either the stat file had the wrong content, or we are mis-parsing it.

[2017-12-12 20:29] ianhays commented on #25785
cc: @terrajobst

[2017-12-12 20:30] danmosemsft commented on #25779
@jaredpar @nguerrera FYI this proposes to depend on Range so we should coordinate on implementation.

[2017-12-12 20:31] Petermarcu commented on #24090
@joshfree

[2017-12-12 20:37] joshfree commented on #24090
@ahsonkhan could you pick up the Unsafe fork/rename per @jkotas advice above to unblock preview1 appcompat.  This needs to be resolved in the next day or two.

[2017-12-12 20:39] eerhardt commented on #25334
If we wait for the Hardware intrinsics, would it be better to just close this as "won't fix" and consumers can just take advantage of the underlying Hardware intrinsic APIs?  I am assuming that was the point of directly exposing the intrinsics - so we didn't need to keep growing our API abstraction over the top of it.

[2017-12-12 20:48] karelz commented on #25854
Seems to be answered. Let us know if you have further questions.

[2017-12-12 20:48] #25854 closed

[2017-12-12 20:56] weshaggard commented on #25766
Sure if you have repro project I'm happy to take a look.

[2017-12-12 20:57] tannergooding commented on #25334
No, I don't think that should happen.

I don't think the intrinsics are meant to exist so that we don't have to grow our API abstraction. I think they are meant to exist so that library/framework authors can write more performant libraries that better take advantage of the underlying hardware.

That is, even if hardware intrinsics existed today, requests to expose `System.Numerics.Vector` for `flo

[2017-12-12 21:04] weshaggard commented on #23743
We at a minimum need to inspect the packages we are shipping as part of this release to ensure we don't break on any of the existing frameworks (.NET Core, .NET Framework, and UAP).

[2017-12-12 21:05] morganbr commented on #25595
@joshfree, UWP doesn't include DynamicMethod. This isn't a reflection error, just the error from trying to use a nonexistent method.

[2017-12-12 21:06] joshfree commented on #15741
@weshaggard do you want to look into this for UWP 6.1?

[2017-12-12 21:07] joshfree commented on #18940
@Chrisboh is this something you can drive?

/cc @HollyAM @lt72

[2017-12-12 21:08] pranavkm commented on #25766
I verified building the dev branch of https://github.com/aspnet/KestrelHttpServer/ produces this warning. Specifically building https://github.com/aspnet/KestrelHttpServer/tree/dev/samples/SampleApp produces the warning.

[2017-12-12 21:16] weshaggard commented on #15741
While I'm happy to consult I'm not in a great position to test it out so would prefer someone working on UWP work to pick it up.

[2017-12-12 21:19] joshfree commented on #25595
@morganbr thanks for taking a quick look

[2017-12-12 21:21] joshfree commented on #23677
@morganbr could you take a quick look at this?

[2017-12-12 21:24] steveharter commented on #24090
@gulbanana > point 2 sounds like reinventing the GAC. i’m not looking forward to installing .net core 3.x apps onto some user’s machine and then trying to work out why my dlls aren’t being used (because they have 3.5.x, which took an OOB package and brought it into the framework..)

If a 3.5 framework took in an OOB package then the framework internally depends on that version or higher, so if a l

[2017-12-12 21:28] Alois-xx commented on #25804
@danmosemsft: Sure. I need something to work with over christmas.
But first I deleted the the single line in our msbuild target file which was only there for a consistency check where no one remembers what it is actually good for.

[2017-12-12 21:37] morganbr commented on #23677
@davidwrighton , any idea if your comparer work might have allowed calling the right operand's Compare method?

[2017-12-12 21:38] danmosemsft commented on #24739
@weshaggard are all the child issues linked into this aspired to for 2.1?

To prioritize the issues for 2.1 you can drag into P1/P2 columns on the Zenhub board for this Epic: https://github.com/dotnet/corefx#boards?epics=26295345_24739&notFullScreen=false&repos=26295345&showPRs=false&showClosed=false

Any issues that are not realistic for 2.1 please detach from this Epic; if you want to keep track

[2017-12-12 21:39] KrzysztofCwalina commented on #24090
+ @ahsonkhan, @GrabYourPitchforks

[2017-12-12 21:40] steveharter commented on #24090
@Petermarcu

For Preview1, we can probably live with 1 as long as the behavior compatibly rolls into what we do for Preview2.
Actually, is the proposal that the additional metadata would be in the deps.json of 2.1 so we know it now owns up to a certain version of a package/assembly?

The additional metadata would be in the framework's 2.1 deps.json and would consist of adding package versions. The

[2017-12-12 21:47] GrabYourPitchforks commented on #25843
To be perfectly honest this is a gut feel about the future more than anything, as the API is still too new for me to have sufficient evidence that people are actively misusing it today. In an ideal world we could rely solely on developer documentation, but being developers ourselves we know that people rarely read documentation. :)

Furthermore, Karel showed me offline that this API has already sh

[2017-12-12 22:13] #25526 closed

[2017-12-12 22:14] #25580 closed

[2017-12-12 22:23] tmat commented on #25829
Just verified that ```sn``` calculates the checksum after it writes the signature.

[2017-12-12 22:26] weshaggard opened #25870 "System.Security.Cryptography.Cng netstandard 2.0 version is incorrect"
see https://github.com/dotnet/corefx/issues/25766

The netstandard 2.0 version is currently 4.3.1.0 but the netcorepp 2.0 version is 4.3.0.0. Given the netstandard2.0 is supported on netcoreapp2.0 the versions need to match. One of two things needs to happen:

1) The NS2.0 ref needs to be frozen to 4.3.0.0 to match what is inbox on netcoreapp2.0
2) We need to ship a newer version of the library th

[2017-12-12 22:26] weshaggard commented on #25766
I've found the issue and filed https://github.com/dotnet/corefx/issues/25870 to track fixing it.

[2017-12-12 22:40] jkotas commented on #25843
It is still a unnceptable breaking change. It is not binary breaking change, but still pretty significant.

[2017-12-12 22:42] ahsonkhan commented on #24090
**Should we also make sure all that the APIs available in both is identical?**
For instance, here are some of the APIs that System.Memory depends on (from https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs) that don't exist in mscorlib (https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Co

[2017-12-12 22:49] jkotas commented on #24090
The API do not have to be identical - the public S.R.CS.Unsafe can have extra APIs. You just need to add the ones that System.Memory needs.

[2017-12-12 22:50] jkotas commented on #24090
The test should still depend on the public S.R.CS.Unsafe.

[2017-12-12 22:52] ahsonkhan commented on #21395
I was thinking, like APIs like StartsWith, SequenceEqual, etc (like https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/MemoryExtensions.cs#L281), that there will only be an OOB version. What would be the value of having inbox versions as well?

Yes. I will work on the API signatures (adding destination span that is passed in as well), to try to get them to be non-allocating.

[2017-12-12 22:55] GrabYourPitchforks commented on #25843
What would move this into the "acceptable" category? What's the particular bar we need to meet?

[2017-12-12 23:07] jkotas commented on #25843
The existing apps using this API cannot get silently significantly slower by just recompiling against new version.

Deprecate the existing API and create a new one.

[2017-12-12 23:09] danmosemsft commented on #24848
This is not scheduled for the current release.

[2017-12-12 23:10] danmosemsft commented on #23444
#24848

[2017-12-12 23:10] #23444 closed

[2017-12-12 23:11] JeremyKuhne opened #25873 "Add file enumeration extensibility points"
We need low-allocating high-performance extensibility points to build solutions for enumerating files.

(This is the API review for https://github.com/dotnet/designs/pull/24)

## Rationale and Usage

Enumerating files in .NET provides limited configurability. You can specify a simple DOS style pattern and whether or not to look recursively. More complicated filtering requires post filtering all re

[2017-12-12 23:11] danmosemsft commented on #22271
@joperezr did you end up doing this?

[2017-12-12 23:12] JeremyKuhne commented on #25873
@terrajobst, @danmosemsft, @pjanotti

[2017-12-12 23:13] jkotas commented on #25843
There are number of other things that are less than ideal about the ArrayPool:

- You have to fetch a static and invoke a virtual method to do anything - both of which are relatively expensive operations
- It would be better for the API to rent System.Memory instead of array. It would allow more efficient underlying implementation. E.g. the underlying implementation would be able to reuse space fo

[2017-12-12 23:17] pjanotti opened #25874 "Remove obsolete attribute from XslTransform"
Some customers hesitate in using `XslTransform` even when recommended because of the presence of this attribute.

Depending on the scenario it could be better to use `XslTransform` instead of `XslCompiledTransform`, however, `XslTransform` was marked as obsolete back in .NET 2.0 which creates the impression that eventually it is going to be pulled out, however this is not really happening.  In UWP

[2017-12-12 23:18] jkotas commented on #21395
The problem with ToLower, ToUpper and other similar globalization APIs is that it is impossible to implement them efficiently in the OOB version. The implementation would always have to allocate the strings from the Span first. It make them kind of pointless to have. Have you though about having these APIs in System.Runtime or similar contract instead?

[2017-12-12 23:21] JeremyKuhne opened #25875 "Add overloads to enumeration APIs that take FindOptions flags"
This is contingent on https://github.com/dotnet/corefx/issues/25873. If that API proposal is done, we should also expose overloads on the existing APIs that allow you to get at the new options.

## Rationale and Usage

Customers have been asking for the ability to tweak enumeration for common scenarios. Our new extensibility proposal (https://github.com/dotnet/corefx/issues/25873) has a new set of

[2017-12-12 23:21] JeremyKuhne commented on #25875
@terrajobst, @danmosemsft, @pjanotti

[2017-12-12 23:30] nickwalkmsft opened #25876 "Platform-dependent FileStream permissions behavior?"
I might be missing something obvious, but it's strange to me that this throws an IOException on Windows but not on Ubuntu:

[code]

However, this will throw on both:

[code]

Is this expected?

[2017-12-12 23:36] weshaggard commented on #25870
The issue was caused by PR https://github.com/dotnet/corefx/pull/23168. It looks like we have the same issue for OpenSsl.

[2017-12-12 23:36] danmosemsft commented on #25873
I would rename `Matcher` to more specific eg `SimpleMatcher` since nobody would know whether it is using regexes or simple */?

[2017-12-12 23:38] danmosemsft commented on #25873
Should `FindData.Directory` usefully be `ROS<char>` ?  I imagine there could be a lot of differen t ones.

[2017-12-12 23:38] danmosemsft commented on #25874
@krwq

[2017-12-12 23:39] danmosemsft commented on #25875
typo `IgnoreInaccessable `

[2017-12-12 23:39] benaadams commented on #21395
Wouldn't work for string (as immuatable); but for regular `Span<char>`?
[code]

[2017-12-12 23:44] danmosemsft commented on #25843
Adding `ArrayPool.Rent(int minimumLength, bool clearArray)` (without default) is surely not a breaking change.

[2017-12-12 23:46] jkotas commented on #25843
Agree.

[2017-12-12 23:47] dotnet-mc-bot opened #25878 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test"
Opened on behalf of @karelz

Failed tests:
* `GetAsync_SupportedSSLVersion_Succeeds` - 75 failures per run (all executions on Windows/Linux/Mac)
* `GetAsync_UnsupportedSSLVersion_Throws` - 22 failures per run (all executions on Linux-only)

Affected (4) runs: [20171211.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/2017121

[2017-12-12 23:53] JeremyKuhne commented on #25873
I agree, updating.

It would be possible to do so. I was conflicted on this one as I wasn't sure whether or not we'd want to output it frequent, as it would reallocate an existing string as we currently have to create it. Further/future optimizations could _potentially_ be done where that could be avoided on some platforms. Pretty complicated to optimize the full path to the directory we're lookin

[2017-12-12 23:54] JeremyKuhne commented on #25875
Fixed, thanks

[2017-12-12 23:56] danmosemsft commented on #18940
This is not currently scheduled. Perhaps in a future cycle.

[2017-12-13 00:02] jkotas commented on #25875
How does one decide when to pass this flag? Should the name rather capture that, not what the implementation is going to do based on the flag?

What is the performance benefit from this option?

Note that there are examples where we have tried to add similar unsecure fast&crash options like these in the past (e.g. `bool isSynchronized` argument for `AppDomain.DefineDynamicAssembly`) that fired bac

[2017-12-13 00:10] weshaggard commented on #21237
We are going to solve the official build issues in a different way. For local dev builds I don't think we should kill dotnet and msbuild as part of clean.cmd/sh

[2017-12-13 00:10] #21237 closed

[2017-12-13 00:25] benaadams commented on #25863
Shame Windows has no async file**system** apis; as querying directories, files etc is blocking on remote, slow or asleep drives https://windowsserver.uservoice.com/forums/295056-storage/suggestions/32606341-async-callback-apis-for-drive-directory-file-query

[2017-12-13 00:31] pjanotti commented on #25874
/cc @weshaggard @terrajobst @AlexGhiondea @joperezr

The type is marked with the obsolete attribute on .NET Standard, is it a breaking change to remove it? If so can we remove it in a future version of the Standard?

Ideally we would remove it from the Standard then from CoreFX and desktop.

[2017-12-13 00:46] karelz opened #25880 "Test failure: System.Net.Http.Functional.Tests.HttpProtocolTests / GetAsync_ExpectedStatusCodeAndReason_Success"
## Type of failures

### The operation has been canceled

Failure: [20171208.04](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171208.04/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpProtocolTests~2FGetAsync_ExpectedStatusCodeAndReason_Success(statusLine:%20%5C%22HTTP~2F1.1%20

[2017-12-13 00:59] JeremyKuhne commented on #25875
By measurement. One known scenario is for remote shares, but there could be others. Not sure how better to name this, but I'm totally open to suggestions.

Looking again I didn't see a big enough benefit. Given your feedback I'll cull this option until I find harder evidence of substantive impact.

[2017-12-13 01:03] stephentoub commented on #25439
@BrennanConroy, why do you believe that's a corefx issue? From the callstack that would seem to indicate that Slab.Array at https://github.com/dotnet/corefxlab/blob/e9c08e3d2083f04af442a18d58bf8be3de1a70b2/src/System.IO.Pipelines/System/Buffers/MemoryPoolBlock.cs#L51 returned null.

[2017-12-13 01:05] jkotas commented on #25875
What I am going to lose if I set this flag all the time?

[2017-12-13 01:52] terrajobst commented on #25874
And this is why we can't have nice things :-)

[2017-12-13 01:53] sandorfr commented on #25138
Ok @shmao I'll try to build a repro project I can share with you.

[2017-12-13 02:08] tannergooding commented on #25386
I've started an experimental branch on my fork which updates `System.Numerics.Vector` to use hardware intrinsics: https://github.com/tannergooding/corefx/tree/vector-intrinsics.

I believe it will give a good feel for how the hardware intrinsics may actually be used and will also be useful for validating that the hardware intrinsics are behaving properly (https://github.com/dotnet/coreclr/issues/1

[2017-12-13 02:13] pjanotti commented on #25874
We should consider marking the `ObsoleteAttribute` with itself... :P

[2017-12-13 02:20] SunnyWar commented on #25863
@benaadams I seem to recall the Directory.EnumerateFile and EnumerateDirectories were supposed to be asynchronous, but a I could not verify this by a quick look at the code. Also, a mention was made for add FS async methods in #24931.

[2017-12-13 02:20] Priya91 opened #25883 "Match connect timeout values between curlhandler and winhttphandler."
refer discussion

https://github.com/dotnet/corefx/pull/25879#discussion_r156539561

[2017-12-13 02:26] benaadams commented on #25863
None of the `FindFirstFile`,`FindFirstFileEx`,`FindFirstFileTransacted`,`FindNextFile`,`GetFileInformationByHandle` OS level apis have completion port, async or callback versions

[2017-12-13 02:34] JeremyKuhne commented on #25875
Just memory. The flag in Windows changes the buffer size from 4K to 64K. I'm inclined to not use 64K buffers by default (particularly from ArrayPool), but my gut feel may off. What do you think?

[2017-12-13 02:39] JeremyKuhne commented on #25863
@benaadams I'm more than happy to help shepherd some async wrapper APIs, would you like to make a proposal? If not I'll open a tracking issue.

[2017-12-13 02:48] benaadams commented on #25863
Yeah; I have a HDD that falls asleep and most .NET apps hang looking at directories (e.g. save/open dialog) waiting for it to wakeup...

Wonder if its a good fit for an early async enumerable type scenario? https://github.com/dotnet/csharplang/blob/master/proposals/async-streams.md

Please open a tracking issue as I think they should probably be coordinated.

[2017-12-13 02:52] jkotas commented on #25875
Make sense. I cannot think about any better name.

[2017-12-13 02:53] benaadams commented on #25863
Though suppose this might be more lightweight?
[code]

[2017-12-13 03:15] roji commented on #3688
@dario-l, unless I'm mistaken you *can* do batching with the official standard API, as described above - you just pack your multiple SQL statements into a single string and set CommandText to it. So the issue is not that an API is *lacking*, it's that it's *unstructured* and therefore problematic.

[2017-12-13 03:21] JeremyKuhne opened #25884 ".NET does not have async file enumerators"
This presents a problem when enumerating slow/remote or offline/asleep volumes.

Things to consider:

- Work being done around extensibility https://github.com/dotnet/designs/blob/master/accepted/file-enumeration.md
- Potential `IAsyncEnumerable<T>` https://github.com/dotnet/csharplang/blob/master/proposals/async-streams.md
- Lack of low-level OS support (at least on Windows, not sure about Unix)

[2017-12-13 03:44] morganbr commented on #25843
It would also be non-breaking (and IMO a better choice for security) to change ArrayPool.Rent to always zero and introduce a new method to explicitly allow non-zeroing either via name or parameter. Of course, we'd be free to review framework code that uses ArrayPool.Rent to decide whether to move it to the new method to mitigate any performance losses.

[2017-12-13 04:09] bklooste commented on #21568
I don't think the lock is an issue these are extremely short lived. Static public Httpclient would be evil ( and you would need many more locks)   ( a static internal tcp  connection pool  used by httpclient is a different matter)  .  I agree with @Drawaes   above leave it and create a new high performance client that is harder to use with a construct which accepts a tcppool etc
.

[2017-12-13 07:17] wizofaus commented on #18276
Actually I had reported this separately, so technically my issue is a duplicate. But I've been looking at explicit server-based value encryption (using ENCRYPTBYKEY etc), and it seems there are no .net libraries out there that support this either?

[2017-12-13 08:50] Thaina opened #25885 "Nullable TryParse"
Please add `TryParse` API that return nullable value for each static `TryParse` function

[code]

This should be added to all number struct at least

[2017-12-13 10:33] nietras commented on #15329
@karelz you can assign this to me if you like. I will start working on this tentatively, it will probably take some time, due to the writing tests mostly I think. First goal is simply porting the existing Array.Sort code with some minor modifications.

[2017-12-13 11:00] luckyhappy opened #25886 "Chinese random code on dotnet core ,but on Framework is normal"
byte[] contentByte = { 214, 208 };
 Console.WriteLine(Encoding.Default.GetString(contentByte));
operating system:windows 10 ，Chinese Version

![qq 20171213185822](https://user-images.githubusercontent.com/2962847/33935680-c8a0fdd8-e037-11e7-8d89-5f12588dc0f4.png)

![qq 20171213185848](https://user-images.githubusercontent.com/2962847/33935681-c8f1ac24-e037-11e7-896b-f1444ae8dfb9.png)

[2017-12-13 11:13] #25886 closed

[2017-12-13 11:20] JonHanna commented on #25886
The default encoding in .NET Core is UTF-8, so the bytes for `"中"` would be `{ 228, 184, 173 }`.

To use a legacy encoding, use it explicitly, `Console.WriteLine(Encoding.GetEncoding("GB2312").GetString(new byte[]{ 214, 208 }));`
It can be worth storing an encoding you'll use often in a static field.

[2017-12-13 11:30] nietras commented on #25779
Please see https://github.com/dotnet/corefxlab/issues/1938 for a critique of this API design.

[2017-12-13 12:23] davidfowl commented on #9503
😍 this is great news

[2017-12-13 12:30] ForkBug opened #25887 "Multiple thread pools per appdomain and correspond ThreadpoolTaskScheduler"
Current thread pool implementation is based on old windows thread pool api(https://msdn.microsoft.com/en-us/library/windows/desktop/ms686766(v=vs.85).aspx).
Windows support multiple thread pools per process since Vista.

Multiple thread pools per appdomain is useful for advanced scenarios, especially in the TPL scenario.
For example, some tasks may take more priority than others. These tasks shoul

[2017-12-13 12:35] ForkBug commented on #25887
With the wider usage of TPL, various TaskScheduler may be used.  One thread pools per appdomain may not be enough

[2017-12-13 13:22] Troncek commented on #8158
2.1 netcoreapp2.1 or netstandard2.1?

[2017-12-13 13:37] darrelmiller commented on #21568
@bryanjhogan Why can't you inject in HttpClient instances in ASP.NET DI ?

@John0King I don't see why the OperationStarted flag that is used to prevent you changing BaseAddress and DefaultRequestHeaders after making a request is bad for concurrent access? It doesn't affect the request/response processing.  Changing BaseAddress/DefaultRequestHeaders per request defeats the point of the properties.

[2017-12-13 14:16] davidfowl commented on #25843
It’s worth noting that we’re working on a more general purpose MemoryPool abstraction that will be more flexiable and should address some of @jkotas concerns.

[2017-12-13 14:16] janvorli commented on #9500
I don't think there is anything we can statically link on corefx. There is:
* libssl - bad idea to link statically due to maintenance (updates for security fixes in libssl), different location of the certs on different distros, a lot of other second level dependencies that would need to be linked statically too so that the static linking would make sense at all.
* libcurl - similar issue to libssl

[2017-12-13 14:46] jkotas commented on #25843
Good. So it is where we should make the zero-initialize by default change if we believe that it is a good idea.

[2017-12-13 15:16] John0King commented on #21568
@darrelmiller

how ?  How u handle the cookie / Credential / default headers ?

and for concurrent  performance , I'm not very sure, I only see the souce code and it using `lock` (I think without `lock` may be better for concurrent ) . At some time  ,I miss the old HttpWebRequest, it don't need to share the instance so it also do not need to lock.

[2017-12-13 15:24] darrelmiller commented on #21568
@John0King I don't see a lock here https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs  Can you show me where you are seeing a lock in the source?

DefaultHeaders can be stored in the HttpClient instance and Cookies and Certificates can be added to the HttpClientHandler.

[2017-12-13 15:46] bartonjs commented on #8158
netcoreapp.  But then probably also netstandard.

[2017-12-13 15:47] dario-l commented on #3688
@roji Yes, I can but this leads to rebuild query by database server every time it will change and will be not cached. I've tested that scenario.

[2017-12-13 15:47] tmds commented on #21227
On non-Windows, .NET Core is using libcurl which has it's own TCP connection pooling strategy.

If I read this right this is saying: 80 concurrent HttpClient instances used 283 TCP connections to make 20000 search HTTP calls. So it seems connections are getting re-used, but to a lower extent than on Windows.

The connection pooling may be per HttpClient, so it could be that you'll have less TCP co

[2017-12-13 16:31] Troncek commented on #8158
Thanks.

Will these APIs be available as a separate NuGet package? So they can be used with netstandard2.0 class libraries which can then be used by other .NET platforms beside .NET Core 2?

[2017-12-13 16:31] weshaggard commented on #25874
No it isn't a breaking change.

Yes we can consider removing it.

[2017-12-13 16:32] John0King commented on #21568
@darrelmiller  😆  I must remember it incorrectly, I can't find it.

[2017-12-13 16:40] weshaggard commented on #9500
Thanks @janvorli so it sounds like we should just close this issue. Feel free to reactive if there is something else missing.

[2017-12-13 16:40] #9500 closed

[2017-12-13 16:51] karelz commented on #8158
@Troncek We do not plan to ship every single API in its own nuget package / DLL - it would explode. Testing is nightmare, gazillion of dependencies is a problem in projects, etc.
You can consider lightup (use the APIs when they are available on the platform) or cross-compilation for platforms you need to support.
If there is strong demand from large set of customers, we can always consider alterna

[2017-12-13 16:56] karelz commented on #24562
What are they? How popular they are? How many customers have you seen using them? (I haven't seen any so far)

[2017-12-13 17:02] karelz commented on #25852
This issue was moved to aspnet/Home#2306

[2017-12-13 17:02] #25852 closed

[2017-12-13 17:05] karelz commented on #25856
If you can detect all needed components of VS, that would be great. Don't forget to test it also with VS 2015 which we still support.

[2017-12-13 17:07] roji commented on #3688
What do you mean when you say that the query "will change" and have to be rebuilt? If you properly use parameters why would the query have to change?

[2017-12-13 17:07] secana commented on #25828
@bartonjs Thx for the tip. I got it working with the collection approach. Just had to parse the ASN.1 structure to find the serial number of the signing certificate to select the correct one in the collection. Where the serial number can be found is documented in the "Authenticode Standard" by Mircosoft.

[2017-12-13 17:20] pjanotti commented on #25874
@mairaw we should also update the docs to reflect this "un-obsolence" of `XslTransform`.

[2017-12-13 17:23] JonHanna commented on #25874
Preferably the docs would give some insight into the "Depending on the scenario it could be better to use" comment above. Having two classes that seem to do the same thing and no insight into which to use is a displeasing dilemma.

[2017-12-13 17:35] pjanotti commented on #25874
Good point, I will work with docs folks but basically it is similar to interpreter vs compiler discussion, plus:

1. XslCompiledTransform does not work in UWP (or any situation that JIT is not available)
2. XslCompiledTransform causes load of modules via code generation (depending on how many times this happens it can be a problem).

[2017-12-13 17:37] #25653 closed

[2017-12-13 17:38] OzieGamma commented on #25856
I'll have a look at those that I can detect. Does VS 2015 do component based install?

[2017-12-13 17:44] pjanotti opened #25890 "When .NET Standard is updated remove pragmas around XslTransform"
This is related to #25874.

For the pragmas around `XslTransform` to be removed we need to update the .NET Standard in CoreFX,  to one in which the obsolete attribute was removed. This is issue is to track that when the standard is updated the pragmas get removed.

Alternatively we could change xml tests to target netcoreapp instead but in general I prefer to keep the tests with the more general t

[2017-12-13 17:54] karelz commented on #25856
It's been a while I played with VS 2015 pre-req. Here's what is necessary: https://github.com/dotnet/corefx/wiki/Development-environment-setup-for-Windows#visual-studio-2015

[2017-12-13 18:00] #24635 closed

[2017-12-13 18:04] karelz commented on #25885
What is the benefit? What kind of problems does it solve?

Are you aiming at discoverability of the APIs? (that's the only potential reason I can come up with)
Do you have strong evidence it is a real problem? Even when taking into account that current usage pattern is well documented on MSDN, in books, and on StackOverflow and similar sites?

BTW: These questions are exactly the reason why we ask

[2017-12-13 18:13] karelz commented on #25890
Why do we have to track it separately from #25874? It feels like it should be done as part of that IMO ...

[2017-12-13 18:17] roji opened #25891 "String-based way to specify datatypes on ADO.NET parameters"
The ADO.NET API includes two enums which specify database types: DbType for standard types and the provider-specific *DbType (SqlDbType, NpgsqlDbType, and so on). DbType allows for database-independent programming, providing a close list of "universal" data types that are expected to be supported in all databases (although some DbType values are clearly SqlServer-specific or at least inspired).

O

[2017-12-13 18:18] pjanotti commented on #25890
I want to do the removal soon (likely today) and make it clear that it was completed (i.e.: closing #25874), but I don't want to forget to remove the pragmas when we update the standard. The first part is visible to CoreFX users the second is basically a clean-up of test code.

[2017-12-13 18:26] danmosemsft commented on #24909
@terrajobst @pjanotti have we considered updating https://github.com/dotnet/platform-compat to allow it to be fine grained down to the SKU level?

@dasMulli I don't believe Nano has GDI+ so Drawing will not work. It does not surprise me that DS does not work. At least when stuff doesn't work, it will usually fail right away, typically with DllNotFound or PlatformNotSupported or NotSupported etc.

[2017-12-13 18:35] bartonjs commented on #8158
@Troncek My understanding is that we can publish a new copy of the System.Security.Cryptography.Algorithms package which adds ECDH as an "on netstandard20" algorithm (deferring the rest of the netstandard20 types to the netstandard package).  So it won't be as automagic as the things "in netstandard", but it should be available.

[2017-12-13 18:40] fiigii commented on #25386
related to https://github.com/dotnet/coreclr/issues/15506

[2017-12-13 18:57] karelz commented on #25890
OK, makes sense then.

[2017-12-13 19:02] Troncek commented on #8158
Yeah, that's what I meant.

Similar to System.Threading.Tasks.Dataflow namespace that is available with netcoreapp2.0, but not part of netstandard2.0, and can be added separately via System.Threading.Tasks.Dataflow NuGet package.

Thanks for the info.

[2017-12-13 19:06] normj commented on #21227
@niemyjski What we do in the AWS SDK for .NET is for non windows platform we maintain a pool of HttpClients to help improve the performance. We default the pool size to the number of cores and allow the user to adjust the pool size.

[2017-12-13 19:17] karelz commented on #25820
This seems to be fixed in 2.1 by PR #21826

.NET Core 2.0 is broken - see [release/2.0.0 branch code](https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Private.Xml/src/System/Xml/XmlResolver.cs#L43):
https://github.com/dotnet/corefx/blob/63e70fa6b1bc6b7175467e0ad16cbbf4c44f8d83/src/System.Private.Xml/src/System/Xml/XmlResolver.cs#L43

[master (2.1)](https://github.com/dotnet/corefx/bl

[2017-12-13 19:25] Priya91 opened #25892 "Use consistent test reporting api to record remote server failure in networking tests."
One such method was proposed in this PR: #25879

Several opinions on the thread was voiced:

1. What's the motivation of doing this, does this add value or only adds more clutter - @davidsh  @wfurt
2. Use xunit apis for the same - proposed by @wfurt

[2017-12-13 19:26] Priya91 commented on #25892
Related to issues like #25878 , where the ssllabs went down for 3 days, and the tests were failing due to unavailability of remote server.

[2017-12-13 19:26] Priya91 commented on #25892
cc @karelz @wfurt @davidsh

[2017-12-13 19:29] #25647 closed

[2017-12-13 19:32] ahsonkhan opened #25893 "Investigate optimizations for vectorized Span<byte> {Last}IndexOf{Any} APIs"
From https://github.com/dotnet/corefx/pull/25848#discussion_r156750679

Consider avoiding the memory alignment checks and only loop byte at a time until we get Vector.Count aligned.

The APIs to consider optimizing (for typeof(T) == byte):
[code]

+ the equivalent ReadOnlySpan extension methods

See current implementation here:
https://github.com/dotnet/corefx/blob/c20881a8ea94a40e1f1f98f79ffdef9f

[2017-12-13 19:34] #25264 closed

[2017-12-13 19:39] karelz opened #25894 "Test failure: System.Net.Sockets.Tests.SendReceiveMemoryNativeTask/SendRecvPollSync_TcpListener_Socket"
## Type of failures

### System.TimeoutException : WhenAllOrAnyFailed timed out after 30000

Failure [20171211.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171211.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveMemoryNativeTask~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::

[2017-12-13 19:39] karelz commented on #25894
@rmkerr historical info

[2017-12-13 19:41] Priya91 commented on #24766
@wfurt these are all loopback tests, so there were no failures after this instance Oct 19, also can you provide more data on the previous failures, were they all in sles.12 runs? If there were no failures after this instance, this can be closed.

msdn reports InvalidProgramException means The exception that is thrown when a program contains invalid Microsoft intermediate language (MSIL) or metadat

[2017-12-13 19:45] wfurt commented on #25892
Can we replicate somehow functionality of ssllabs internally? I would expect that for certificate handling tests and other ssl features the IO/real networking does mot matter that much.
(what I'm trying to get is if there is stong motivation to use this particular site)

[2017-12-13 19:47] rmkerr commented on #25880
It looks like the "handle is invalid" error occurs only on windows 7. That particular issue also appears to be occurring in #20024, failing on win7 with the same error [here](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171205.06/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.Http

[2017-12-13 19:48] rmkerr commented on #25894
Thanks for adding that!

[2017-12-13 19:50] Priya91 commented on #25892
We already have loopback tests that perform the same testing, but the comment on the code says,

[code]

[2017-12-13 19:51] karelz commented on #25892
@wfurt let's treat that as a solution to particular problem.

**Problem:** In general we have bunch of external servers. They are sometimes unreliable.
**Goal:** I would like to have a way that test failures which are likely caused by the remote server unresponsivness are clearly marked in test results -- with special exception and/or text.
It will make triaging of test failures easier by ANYONE -

[2017-12-13 19:53] ahsonkhan opened #25895 "Make Span IndexOfAny a generic method with special case for byte"
Similar to LastIndexOfAny (added here - https://github.com/dotnet/corefx/pull/25848), change the IndexOfAny APIs to be generic. The premise is that there should be little performance degradation for the byte case when we make this change. This needs to be confirmed by comparing performance results before/after.

**Change:**
[code]

To:
[code]

Example implementation change:
[code]

Then implement

[2017-12-13 19:55] davidsh commented on #25892
I was planning to move away from ssllabs.com and set up Azure servers for that.

Loopback is not always a good idea especially for ssl protocol tests because of caching issues w/ loopback in SCHANNEL on Windows etc.

[2017-12-13 19:56] karelz commented on #25892
I think we need the same detection of unreliable external/remote server even for the Azure servers.
It will make everyone's life MUCH easier.

[2017-12-13 19:59] #25839 closed

[2017-12-13 20:20] karelz opened #25896 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test / GetAsync_MaxLimited_ConcurrentCallsStillSucceed"
## Type of failures

### The operation has been canceled

Failure [20171208.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171208.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_MaxConnectionsPerServer_Test~2FGetAsync_MaxLimited_ConcurrentCallsStillSucceed(ma

[2017-12-13 20:25] #14354 closed

[2017-12-13 20:57] natemcmaster opened #25898 "CS0433 compiler error: ValueTask<TResult> is defined in both System.Runtime and System.Threading.Tasks.Extensions"
**Repro steps:**

1. git clone https://github.com/aspnet/Common.git
2. Checkout this commit: https://github.com/aspnet/Common/commit/2c4a50456614ea3b0a21aef00adf13581299cafd
3. build.cmd

**Result**:
[code]

**Details**:

Using
System.Threading.Tasks.Extensions/4.5.0-preview1-26008-09
Microsoft.NETCore.App/2.1.0-preview1-26009-01

**Log**
[msbuild.binlog.zip](https://github.com/dotnet/corefx/files

[2017-12-13 20:58] #25856 closed

[2017-12-13 21:12] weshaggard commented on #25898
This was moved to System.Runtime and inbox as part of change https://github.com/dotnet/corefx/pull/22559. However we didn't correctly update the configuration.props (https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Extensions/src/Configurations.props and https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Extensions/ref/Configurations.props)  to put the n

[2017-12-13 21:14] rmkerr commented on #25880
After looking through the existing issues I think that those "handle is invalid" failures might be caused by #9228. The last stack trace posted in that thread is very similar to the one you posted, though for a different test:

System.Net.Http.HttpRequestException : An error occurred while sending the request.
---- System.Net.Http.WinHttpException : The handle is invalid
Stack Trace :
   at System

[2017-12-13 21:21] #23388 closed

[2017-12-13 21:24] dotnet-mc-bot opened #25901 "Compression tests broken"
@ianhays, all or most of the compression tests have started failing:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171213.10/workItem/System.IO.Compression.Performance.Tests

example --

The test `System.IO.Compression.GzipStreamPerfTests/Decompress_Canterbury(innerIterations: 1, uncompressedFilePath: \"UncompressedTestFil

[2017-12-13 21:27] natemcmaster commented on #25898
Thanks. I'll look into that workaround

[2017-12-13 21:34] karelz opened #25902 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest / PostAsync_CallMethod_StreamContent"
## Types of failures

### The operation has been canceled

Failure [20171209.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171209.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FPostAsync_CallMethod_StreamContent\(remoteServer:%20https:~2F~2Fcorefx-net

[2017-12-13 21:58] karelz opened #25904 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest / PostAsync_ReuseRequestContent_Success"
## Type of failures

### The operation was canceled

Failure [20171128.05](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171128.05/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FPostAsync_ReuseRequestContent_Success(remoteServer:%20http:~2F~2Fcorefx-net.clou

[2017-12-13 22:05] pepone opened #25905 "2.0.4 update breaks dotnet symlink on Centos 7"
As you can see in the log dotnet symlink is removed after upgrade from 2.0.3 to 2.0.4
[code]

[2017-12-13 22:21] danmosemsft opened #25906 "ReflectionTypeLoadException's ToString() should include inner exceptions"
As thrown by the runtime, ReflectionTypeLoadException always has its default message, which is:
`Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.`

The information is only in LoaderExceptions and that can contain many possible messages along the lines of type X could not be loaded due to reason Y.

AggregateException is analogous and i

[2017-12-13 22:35] danmosemsft commented on #25906
https://github.com/dotnet/coreclr/issues/10520 made me think of this. These types of load related errors are often configuration specific and therefore not easily reproduceable after the fact so it's particularly important that the exception provide all the information possible.

[2017-12-13 22:38] danmosemsft commented on #25905
@leecow

[2017-12-13 22:48] smitpatel commented on #14354
@morganbr - Can we get the package name & version no which will include this commit?

[2017-12-13 22:50] vancem commented on #19781
As @mikem8361  indicates we need SOMETHING that builds produce that include the symbols (so we can upload them).  We MAY decide to put the PDBs in the main package and not have a separate symbol package, but that seems too costly at least in the native code case (maybe for managed).

Also, we really can't contemplate dropping them until the replacement (the cool symbol server), works EVERYWHERE an

[2017-12-13 23:09] leecow commented on #25905
@pepone I'm going to guess that you ran yum/dnf update which presented an update for `dotnet-host`? There are a number of issues with our linux native installers which we will begin addressing after the holidays.

`yum search 'dotnet-sdk'` should show the 2.1.3 SDK which can be installed with the usual `sudo yum install dotnet-sdk-2.1.3`

cc @rakeshsinghranchi @wli3

[2017-12-13 23:27] morganbr commented on #14354
@karelz, might you be able to help @smitpatel with package/version info?

[2017-12-13 23:37] #25829 closed

[2017-12-13 23:39] wtgodbe commented on #23496
I have run the program above against .net framework, .net core 1.0, .net core 2.0, and .net core 2.1, and all output the same: `"""triple quoted argument"""`. I also have confirmed that the tests in https://github.com/dotnet/corefx/pull/25866/files#diff-a40257c563e727625287f3a6eea5e706L1126 all pass on Unix & windows against current CoreFX bits, as well as on .net framework. At this point I'm a bi

[2017-12-13 23:43] wtgodbe commented on #23496
Also worth noting that the test at https://github.com/dotnet/corefx/pull/25866/files#diff-a40257c563e727625287f3a6eea5e706R1144 outputs `"a" c b`, meaning that the triple quoted arg is being emitted surrounded by just 1 set of quotes. Not sure why my repro program consistently produces triple-quote output.

[2017-12-13 23:44] karelz commented on #21148
@vancem ping?

[2017-12-13 23:48] karelz commented on #17427
Closing, feel free to reopen when there is a repro we can look at.

[2017-12-13 23:48] #17427 closed

[2017-12-13 23:49] karelz commented on #25905
This issue was moved to dotnet/core-setup#3527

[2017-12-13 23:49] #25905 closed

[2017-12-13 23:58] karelz commented on #14354
I would try daily build of .NET Core - I'd wait until tomorrow.
I don't think there is a package you can simply take dependency on.

[2017-12-14 00:12] Priya91 commented on #23496
I'm confused here, if all platforms report the same output, what is the bug here?

[2017-12-14 00:25] tiayi opened #25911 "Confused Versions"
Why are you using different versions?
Which one is major? SDK version? Corefx release version?
Where can I find the SDK release version such as (2.1.2 , 2.1.3) ?

[2017-12-14 00:27] karelz opened #25912 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test / UseCallback_NotSecureConnection_CallbackNotCalled"
## Type of failures

### The handle is in the wrong state for the requested operation

Failure [20171210.03](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171210.03/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test~2FUseCallback_NotSecureConne

[2017-12-14 00:38] davidsh commented on #25912
The root cause of most of the "handle is invalid" errors is:
https://github.com/dotnet/corefx/issues/9228

I have some ideas of how to fix this in WinHttpHandler/HttpClientHandler but need to prioritize this bug higher so that it gets fixed.

[2017-12-14 00:41] Thaina commented on #25885
@karelz This is not actually a problem but it just speed things up and make life easier. We can use this to write nullable flow in parser and linq and it shorter in general

[code]

But the point where it is extension method is wrong. I was copied that function from my extension method and forgot to remove it. I will fix that

ps. In my library I always write extension method `TryParseInt` `TryPar

[2017-12-14 00:42] karelz commented on #20024
Updated top post with failures history

[2017-12-14 01:10] eerhardt commented on #23496
This is part of the reason I stopped at the console app in my repo above. That project reproduces the break between .net Core 2.0 and 2.1. It is a stand-alone console app isolated from the MSBuild source code. It seems someone who is more familiar with the Process code should be able to take that project and investigate/debug the break.

[2017-12-14 01:47] #25901 closed

[2017-12-14 02:07] drwharris commented on #24478
I am having this issue with core 2.0.

The inner exception is

Message	"Unable to load DLL 'libdl': The specified module or one of its dependencies could not be found.\n (Exception from HRESULT: 0x8007007E)"	string

Andrew

[2017-12-14 02:24] halter73 opened #25914 "Managed sockets binding regression on linux"
@tmds @stephentoub

Starting with runtime build 2.1.0-preview1-25915-01, it is now possible to bind multiple times simultaneously to the exact same TCP address on linux without setting any special options.

### SampleApp:

[code]

### Expected output:

[code]

This is what is seen today on Windows and macOS.

### Actual output:

[code]

This is the behavior on Linux (tested on Ubuntu 16.04.3 LTS)

[2017-12-14 03:35] ahsonkhan commented on #25229
Reverted here - https://github.com/dotnet/coreclr/pull/15516

Re-opening.

[2017-12-14 04:22] whoisj commented on #24093
That is unless a new intrinsic type were introduced into the common language. <hint, wink, hint>

[2017-12-14 04:23] ahsonkhan commented on #15818
Completed in https://github.com/dotnet/corefx/pull/24479

[2017-12-14 04:23] #15818 closed

[2017-12-14 05:07] rahl0b10 opened #25916 "Console.ReadLine echo's first input on OS X 10.13.1."
## Background
I am not a console programmer, but was helping someone learn some foundations of programming and fundamental syntax of C# in a console application. When demonstrating loops I found that following simple code has an unexpected behavior. On the first pass through the while loop, the input is echoed to *stdout*.

### Example Program

            var retries = 10;
            var input =

[2017-12-14 05:41] peterhpchen opened #25917 "build -tests fail"
when I executed build-tests after executed build command, I got below error:
[code]

Then, I opened `CounterCreationDataTests.cs` in notepad, I found a garbled character at line 8
[code]

After I removed it and entered a white space, It works fine now.

Is this a problem?

Thanks.

[2017-12-14 07:42] Kantuz001 commented on #17107
Any news?

[2017-12-14 07:44] tmds commented on #25914
The exception you are looking for has moved to the `Listen` call.

TCP connections are identified by the quadruplet `(srcaddr, srcip, dstaddr, dstip)`. So when the `Bind` call is made, only two of them are really fixed. Theoretically, you could `Bind` two sockets to the same src-pair, and then `Connect `to a different dst-pair. If an OS throws on `Bind` (Windows, macOS), they are assuming everythi

[2017-12-14 09:10] ma-bjo commented on #25773
I have been struggling with this issue as well. After installing VS 15.5, re-targeting the projects to .NET Framework 4.7.1 and changing to PackageReference instead of packages.config for nuget I get the 4.2.0.0 version of System.Net.Http.dll copied to the output folder. In my case the dependency on the System.Net.Http nuget package comes from using the newer System.Threading.Tasks.Dataflow from n

[2017-12-14 09:15] tmds commented on #25914
This is the test in corefx that behaves the same on all platforms. Notice the second `Bind` fails, because the first socket has also called `Listen`.
https://github.com/dotnet/corefx/blob/1e955510bf4f95963dc9276539870ddbf7319988/src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs#L340-L358

[2017-12-14 09:22] dario-l commented on #3688
"UPDATE X SET Y = 0 WHERE ID = @id;UPDATE X SET Y = 1; WHERE ID = @id;" != "UPDATE X SET Y = 0 WHERE ID = @id;"

I have better performance through SqlCommandSet and batching.

[2017-12-14 09:25] tmds commented on #25914
Depending on the order, the exception can also be thrown on the Listen call.
Exception thrown on Bind:
[code]
Exception thrown on Listen:
[code]

[2017-12-14 11:12] dpedrelli commented on #25757
@davidsh I created two, test projects that illustrate what I am trying to do.

TestNetStandard14.zip is a .Net Standard 1.4 class library that implements an HttpClient.  I publish it as a Nuget package.

TestWF461.zip is a .Net Framework 4.6.1 WinForms application that uses the class library, installed as a Nuget package.  I am installing it through ClickOnce.

In my own application, I can install

[2017-12-14 14:14] netdragonboberb opened #25919 "Intellisense tooltip for SqlCommand's CommandTimeout doesn't describe units"
The Visual Studio tooltip for SqlCommand.CommandTimeout doesn't say whether units are seconds or milliseconds.The tooltip says "Gets or sets the wait time before terminating the attempt to execute a command and generating an error."

[MSDN](https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlcommand.commandtimeout(v=vs.110).aspx) has a bettter description: "The time in seconds to wai

[2017-12-14 14:14] AndresPabloGomez commented on #25529
I’d like to track the port to the .Net Framework, Is there an issue or request opened to track? Thanks

[2017-12-14 14:53] gerardog commented on #2575
People do use Sql Aliases. Solving this issue in corefx will kill the need to manually fix it on each .Net Core application. Examples are dbcli/mssql-cli#100 and Microsoft/sqlopsstudio#71

[2017-12-14 15:04] ViktorHofer commented on #25529
There is one in our internal TFS. I will keep this thread updated as we progress with the Desktop port

[2017-12-14 16:04] FrankSzendzielarz commented on #8158
Working on Ethereum client implementation, I require various crypto , Keccak256 SHA-3, ECIES, not offered by .NET,  and I think with the explosion of distributed ledger, the need is growing more urgent. Right now the go-to for some of that is BouncyCastle or roll-your-own. The uservoice /community feedback is probably not a reflective metric of the real need. How is the MS internal team doing BaaS

[2017-12-14 16:37] karelz commented on #25914
@wfurt can you please take a look?

[2017-12-14 16:48] karelz commented on #25917
The file in repo seems fine:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.PerformanceCounter/tests/CounterCreationDataTests.cs

We also don't see broken builds.
It's most likely some corruption on your machine ... Try a new clone.

[2017-12-14 16:49] karelz commented on #25885
I still don't understand what you're proposing and why. Please post formal proposal with my questions above answered, then please update also top post. Thanks!

[2017-12-14 16:57] Thaina commented on #25885
@karelz

[code]

What does not make you clear?

Original is what already exist in library
Proposed is what I proposing that should be added into `Int8` `Int16` `Int32` `Int64` `Decimal` `BigInteger` `Float32` `Float64` `Float128` and maybe `DateTime` and `DateTimeOffset`

All this has API `bool TryParse(string,out T)` that should be easy to just add `T? TryParse(string)` along with. So we could wr

[2017-12-14 17:35] vancem commented on #21148
@karelz - Just to make sure I checked again and we still do use this Token abstraction in the Socket implementation (given that Geoff and Stephen were actively playing in this code).

I believe that this change is useful.   Basically we added another (surprising) level of indirection to fix a corner case that could be fixed other ways.   Thus it is clearly simpler AND efficient to avoid that indir

[2017-12-14 17:35] gsfreema commented on #25885
I believe you are clear as to what the API changes you want are.  The problem is that it is unclear what use cases you might have that would make a compelling reason to include these changes into the core framework.  Every bit of code that goes into these assemblies makes the assemblies just a little bit bigger, and everyone will have to pay the cost to load that larger assembly even if they don't

[2017-12-14 17:45] vancem commented on #21148
I am copying in the most relevant parts of the e-mail conversation we had on this issue:  I wrote (on 6/14/17)

I am probably not understanding all the subtlety here,  so let’s talk through the problem (starting with the simplest solution), and see where we land.

Basically we have three APIs
[code]
The first creates an socket event port, the second registers a socket with the socket event port (w

[2017-12-14 17:48] danmosemsft commented on #25916
Thanks for the thorough bug report @rahl0b10 ... someone will likely look in the new year.

[2017-12-14 17:58] jkotas commented on #25873
This API feels very complicated. Should it be part of the platform, or should it rather live in separate NuGet package that folks who need it will reference?

[2017-12-14 18:29] geoffkizer commented on #21148
I agree and I'd like to see this happen.  I was hoping to get around to this after some other changes, but haven't had time.

Sounds good to me.

[2017-12-14 18:33] pjanotti commented on #24909
For the Platform-Compat to go to that level it will need some extra information in project files, which it already uses for some stuff, so, in principle it seems doable. I opened an issue to consider this possibility (https://github.com/dotnet/platform-compat/issues/80).

[2017-12-14 18:47] weshaggard opened #25924 "SupportedFramework apply to all versions of a reference assembly"
When applying SupportedFramework metadata to a reference assembly in pkgproj it applies to all files in all configurations for the reference assembly project. This causes some invalid validation errors when the reference assembly pins the assembly version for come configurations but not others.

It ends up expecting some frameworks to support both versions of the reference assembly instead of just

[2017-12-14 19:04] JeremyKuhne commented on #25873
It is, but out of necessity. I couldn't find a better solution that kept performance high and allocations low. Note that I'm measuring impact against hitting the same folders more than once (which is super common, particularly in the MSBuild scenario). Once caches below us are hot (OS, hardware) we consume a much more significant portion of the time spent.

We use it internally already. I'm not su

[2017-12-14 19:10] tannergooding opened #25926 "Several x86 intrinsic APIs are "missing""
In the process of adding the APIs for #23519 (see https://github.com/dotnet/coreclr/pull/15341), I found several non-scalar x86 intrinsic APIs that are "missing".

We should determine which of these need to be added and which were explicitly excluded.

[code]

[2017-12-14 19:11] karelz commented on #25912
@davidsh if the root cause #9228 is fixed, are you confident this test would pass? Or could it just transform the exception into another one (e.g. the "The operation has been canceled")?

Does your root-cause statement apply just to "The handle is invalid" (1 hit in above history), or also to "The handle is in the wrong state for the requested operation" (8 hits)?

[2017-12-14 19:12] tannergooding commented on #25926
From the discussion so far on dotnet/coreclr#15341.

`int _mm_movemask_ps (__m128 a)` is missing from `Sse`. It was an oversight and the corresponding `Sse2` intrinsic already exists.

`__m256i _mm256_permute2f128_si256 (__m256i a, __m256i b, int imm8)` is discouraged from use due to a data bypass penalty, but we may be able to complement the types to make the API simpler via `Permute2x128<T>`.

[2017-12-14 19:14] tannergooding commented on #25926
`void _mm_stream_si32 (int* mem_addr, int a)` and `void _mm_stream_si64 (__int64* mem_addr, __int64 a)` are streaming store for scalar types. There needs to be further thought about their usefulness

[2017-12-14 19:14] tannergooding commented on #25926
CC. @fiigii. Moved the discussion here so that dotnet/coreclr#15341 stays on track and isn't blocked by this.

[2017-12-14 19:15] davidsh commented on #25912
It would transform "handle is invalid" to a normal "cancellation" / "timeout" exception.

Not sure.  Those are 2 different WinHTTP errors.  They might be related to same root cause or not.  Need to investigate that.

[2017-12-14 19:20] karelz commented on #25912
Thanks! That means we should keep counting the "handle is invalid" hits as part of the test failures.
Only the way the error is surfaced will be addressed by #9228. We still need to make the test robust against such situations (or fix the product even more).

[2017-12-14 19:26] 4creators commented on #25926
[code]
IMO we should implement them with imm8. This allows for faster implementations as call may skip Vector creation and setting shift values on Vector. The missing language feature for supporting immediate / compile constants parameters can be compensated with analyzer and attribute like previously discussed (I can implement support for this feature).

[2017-12-14 19:27] halter73 commented on #25914
@tmds. Thanks for the explanation. This behavior is fine for Kestrel of course. Given that Listen still throws an address in use error, I doubt any other real-world app would be adversely affected either. We just need to update a few tests.

Thanks. I'm fine with closing this BTW.

[2017-12-14 19:28] 4creators commented on #25926
Ahh forgot it - we should have corresponding AVX/AVX2 instructions as well. They really can be very handy in many situations.

[2017-12-14 19:29] jkotas commented on #25873
I am concerned about things like being able to evolve this independently on the platform, or requiring all current and future platform to implement it.

We have number of other cases where we use one flavor of the functionality internally, and we expose the same thing in independent package. And we are reversing course on a few more for the reasons above.

[2017-12-14 19:53] #25874 closed

[2017-12-14 19:57] JeremyKuhne commented on #25873
While I like the idea of OOB'ing this from a quick distribution standpoint (VS really wants this), there are some things that I'd want to ensure:

- It would require new, rather wordy, public constructors on the `*Info` classes to keep the allocations low for those transforms (presuming that we don't want to use `InternalsVisibleTo` or reflection)
- I want one implementation in CoreFX, presumably

[2017-12-14 19:59] karelz commented on #9228
I added history of the failures to the top post - it's about 15 per month in official builds (excluding PRs).

[2017-12-14 19:59] WinCPP commented on #21629
Hi. I am interested to work on this. Essentially is this the ask,

1. Throw NotSupportedException for `ReadOnlySpan.ToString` on the same lines as `GetHashCode`?
2. Like wise handle these two methods for other 'byref' like structs. (Which all structs ...?)

And I guess new test cases would have to be added or current ones fixed.

Appreciate inputs. Thanks!

[2017-12-14 20:02] danmosemsft commented on #25873
Presumably it would need a .NET Framework target that used the existing constructors, or quick distribution is not solved.

[2017-12-14 20:10] ahsonkhan commented on #21629
Yes.

For this issue, in particular, I would consider step 2 as optional but nice to have :)

Thanks for taking this issue :) Let me know if you need any help.

[2017-12-14 20:13] JeremyKuhne commented on #25873
We'd need to do some contortions and lose some perf if the APIs aren't there. I don't think any of the scenarios that are currently in play for the build teams actually use the `*Info` classes, so there is still benefit to getting this fast-pathed with this caveat.

[2017-12-14 20:13] karelz commented on #25914
Closing per discussion above

[2017-12-14 20:13] #25914 closed

[2017-12-14 20:14] shravan2x commented on #25800
@karelz @Priya91 This issue is fairly serious, preventing reuse of `HttpClient`s (since there is no guarantee when a connection will be lost, and a full 100s delay occurs when it is). Could a fix be prioritized?

[2017-12-14 20:18] geoffkizer commented on #25800
This does seem like a pretty serious issue.

[2017-12-14 20:48] #25500 closed

[2017-12-14 21:10] Priya91 commented on #24114
This failed again in PR #25888

https://mc.dot.net/#/user/tmds/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/d37a56878be68097ab3729f648cd5101e1af923b/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SocketOptionNameTest~2FMulticastInterface_Set_AnyInterface_Succeeds

[2017-12-14 21:10] #25081 closed

[2017-12-14 21:34] jkotas commented on #21629
The better error message should be thrown in the runtime. Doing that will handle all byref like types, not just Span.

I think changing this line https://github.com/dotnet/coreclr/blob/master/src/vm/jitinterface.cpp#L6466 to be `COMPlusThrow(kInvalidOperationException,W("InvalidOperation_TypeCannotBeBoxed"));` (ie fold the two cases to throw same error) should do the trick.

[2017-12-14 21:49] jkotas opened #25928 "Add "Create" method to EqualityComparer<> class"
_From @ViIvanov on December 14, 2017 20:15_

Now we have a `Create` method in [Comparer<> class](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Comparer.cs#L21):
[code]

I think, it will be usable to have an analog in EqualityComparer<>:
[code]

_Copied from original issue: dotnet/coreclr#15526_

[2017-12-14 21:52] JonHanna commented on #25928
Not quite as handy since we need two delegates, and there isn't as much of an existing use as there is with `Comparison`, but I could definitely see this as something I'd use while experimenting at least, even if I might end up replacing with a custom equality comparer.

[2017-12-14 22:13] ahsonkhan commented on #25188
cc @ianhays

[2017-12-14 22:45] danmosemsft commented on #20497
@madelson any interest?

[2017-12-14 22:48] PeterSmithRedmond commented on #24093
JonHanna -- do you mean that these three constructors:
	public static implicit operator uint (Rune rune);
	public static implicit operator Rune (char ch);
	public static implicit operator Rune (uint value);

should be "int" instead of "uint". AFAICT, int easily covers the entire set of astral (non-BMP) planes.

[2017-12-14 22:52] JonHanna commented on #24093
@PeterSmithRedmond  I mean that as well as the two constructors, one taking `char` and one taking `uint`, there should be one taking `int`, but yes there should also be an `int` conversion operator (just what should be `implicit` and what `explicit` is another question). There's no harm having `uint` too for those languages that can use it; it's quite a natural match after all.

[2017-12-14 22:53] danmosemsft commented on #24445
Hopefully this can get a quick OK from review then @maryamariyan can do it.

[2017-12-14 23:17] GrabYourPitchforks commented on #25832
@vermorel, can you clarify the proposal? `Span<T>` instances [are implicitly convertible](http://source.dot.net/#System.Private.CoreLib/shared/System/Span.cs,357) to `ReadOnlySpan<T>` instances, so for example the below method should compile just fine.

[code]

[2017-12-14 23:30] Priya91 commented on #25800
@shravan2x I tried this repro with latest changes from master on ubuntu1704 with curl 7.52.1, and was not able to repro it. Can you try with the latest master bits?

[code]

[2017-12-14 23:31] wtgodbe commented on #23496
With the following program (and a similar implementation on Linux):

`
class Program
    {
        static void Main(string[] args)
        {
            Process p = new Process();
            p.StartInfo.FileName = "C:\\Users\\wigodbe\\Documents\\Visual Studio 2015\\Projects\\ProcessStart\\ProcessStart\\tmp.cmd";
            p.StartInfo.Arguments = "\"\"\"triple quoted argument\"\"\"";

[2017-12-14 23:41] Priya91 commented on #24253
The proposed API doesn't work well in majority of the scenarios, and adding a new api for usability purposed for a particular narrow case doesn't seem worth the cost. Closing.

[2017-12-14 23:41] #24253 closed

[2017-12-14 23:51] ahsonkhan commented on #25832
We also have AsReadOnlySpan extension method, if you cannot use an implicit operator for some reason:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L126
[code]

[2017-12-14 23:54] AndyGerlicher opened #25930 "EventArgs type not Serializable"
MSBuild uses EventArgs base class to derive all build events and messages (see [BuildEventArgs](https://github.com/Microsoft/msbuild/blob/6851538897f5d7b08024a6d8435bc44be5869e53/src/Framework/BuildEventArgs.cs#L30)).

As part of our effort to migrate to `netstandard2.0`, we need this type to be marked Serializable in order to maintain compatibility between full framework and Core versions. Ideall

[2017-12-15 00:13] #25870 closed

[2017-12-15 00:13] weshaggard commented on #25766
The underlying issue should be fixed with https://github.com/dotnet/corefx/pull/25925. So there shouldn't be an assembly version mismatch any longer.

[2017-12-15 00:13] #25766 closed

[2017-12-15 00:49] peterhpchen commented on #25917
You can click `Raw` button to see raw data.
You will see `�` in the line 8.

[2017-12-15 00:58] karelz commented on #25917
Interesting. Do you mind submitting a patch?

[2017-12-15 01:03] #25878 closed

[2017-12-15 01:03] #25892 closed

[2017-12-15 01:06] karelz commented on #25779
API review comments:
* `CompressedTensor`
    * Indexer - changing recalculates the encoding - can we avoid that?
    * Change Memory-returning getters to ReadOnlyMemory (`CompressedCounts` and `Indices`)
* `Tensor.Slice` - does it have to be fast? Should we create `TensorView` struct?
* Deep copy vs. shallow copy and where we in general reuse underlying – should be clear from API name
* Arithmeti

[2017-12-15 01:13] karelz commented on #25926
cc @CarolEidt @RussKeldorph

[2017-12-15 01:19] karelz commented on #25930
cc @ViktorHofer

[2017-12-15 01:24] karelz commented on #25928
What is the value? Example of usage today vs. in future? How commonly is it used?
Ideally please follow [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (see the example there).

From a [brief look](https://msdn.microsoft.com/en-us/library/ms132123(v=vs.110).aspx) it seems today's state - inheritance + overriding 2 methods is not

[2017-12-15 01:26] 4creators commented on #25926
Emitted instruction is not the same for imm8 and _mm128i / _mm256i arguments, encoding is different.

[2017-12-15 01:32] tannergooding commented on #25926
The encoding is different, but it is still `psll*`, `psra*`, and `psrl*`, which is what I meant.

[2017-12-15 01:32] 4creators opened #25933 "Create new label for hardware intrinsics i.e. area-System.Runtime.Intrinsics"
There is a growing number of issues and PRs in both coreclr and corefx repos which are result of ongoing work in implementation of Intel and Arm hardware instrinsics. It would be very helpful in managing the information flow if that area would have it's own labels to better organize work and information flow.

cc: @karelz @jkotas @tannergooding @CarolEidt  @fiigii @sdmaclea

[2017-12-15 01:36] tannergooding commented on #25933
It should probably be `area-System.Runtime.Intrinsics`, to better match the existing area paths.

[2017-12-15 01:38] 4creators commented on #25933
Much better than mine - changing title

[2017-12-15 01:54] danmosemsft commented on #25930
We should just do this. It's an empty base type. They are not asking for any derived types.

[2017-12-15 02:09] #25503 closed

[2017-12-15 02:09] #25506 closed

[2017-12-15 02:19] shravan2x commented on #25800
@Priya91 Does .NET Core use the version of CURL I can find with `curl --version`?

If not, how would I check this?

[2017-12-15 02:24] #24105 closed

[2017-12-15 02:26] Thaina commented on #25885
@gsfreema I think opposite. The Try... pattern is well established that's right. But it was the same as we make `Task<>` to do asynchronous in place of AsyncOperation

Nullable make all Try... method more compact. And `null` is the most obvious sign that the parse was failed. You can check against nullable like you use `TryParse`

[code]
Is the same logic

I also have already write the common use

[2017-12-15 02:38] andymac4182 commented on #2106
Is there any movement on this? Found a good looking library but it requires Span<T> so waiting for that https://github.com/ektrah/nsec

[2017-12-15 03:03] karelz commented on #25933
In general, I am not keen on creating new labels for areas with less than 10-20 issues in CoreFX. I didn't see more than 3-ish issues in CoreFX so far I think. Did I miss more?

BTW: I can't speak on behalf of CoreCLR repo - I assume the JIT work will be tracked under JIT label anyway. The area-System.\* namespaces are only for BCL pat of CoreCLR repos.

[2017-12-15 03:11] danmosemsft commented on #25933
IMO labels should be our servant, if they are useful for a period, then we should have one, and delete it later.

[2017-12-15 03:12] danmosemsft commented on #25933
If it would confuse the area-owner system, it could be a separate label like "Numerics"

[2017-12-15 03:21] tylerl0706 commented on #25036
Hey guys, I just wanted to ping on this thread that this would be amazing for us working on the PowerShell extension for VSCode!

Checkout https://github.com/PowerShell/vscode-powershell/issues/987#issuecomment-351568610 for context.

[2017-12-15 03:23] JonHanna commented on #25917
A ha. The byte is 0xA0 so in some encodings (most of the Latin-1 family and a few others) it'll be interpreted as a non-breaking space (U+00A0), but with other encodings it'll fail.

TIL that C# considers U+00A0 as whitespace in source files.

[2017-12-15 03:30] karelz commented on #25933
Agreed. I just don't think that creating a label for 3-5 issues is doing us any good service. It is creating more clutter IMO and doing us disservice.
As I said, if there's more, I'm on board.

I think this is independent and more applicable to other non-area labels. That said, I don't believe we do that in practice. We tend to hang on the some-time-ago-useful labels and it is pretty hard to get r

[2017-12-15 03:56] danielcrabtree commented on #24832
@danmosemsft How do we get a project to actually use 2.0.3?

I have 2.0.3 installed (and newer releases), but I'm not sure it is actually being used. When I go into NuGet, it lists the package as 2.0.0 and shows 2.0.3 and 2.0.4 in the list, but they cannot be selected as they're "Blocked by project".

I'm getting the `Infinite recursion during resource lookup within System.Private.CoreLib` error a

[2017-12-15 04:01] tannergooding commented on #25933
I also imagine many more will open up as the intrinsic are implemented.

Not to mention that Arm is likely going to be in the same boat (pending api review sometime next year).

[2017-12-15 04:06] danmosemsft commented on #24832
@joperezr can you help?

[2017-12-15 04:26] fiigii commented on #25933
Agree with  @jkotas, most of the intrinsic work is (and will be) in CoreCLR.

[2017-12-15 05:40] tiayi commented on #25800
@shravan2x
curl -V

I got the same issue.
I'm using docker container base on  microsoft/aspnetcore:2.

[2017-12-15 05:49] rvhuang opened #25937 "Add LookUp(TKey, TElement).Empty() API"
# Issue

Recently we are dealing with a scenario which is to provide an API that returns an `ILookup<TKey, TElement>` instance. The design is, before actually performing queries, the API checks whether the parameters will cause empty result. If so, an empty `ILookup<TKey, TElement>` is returned. Currently we manually create a static field as below:

[code]
However, if there is a built-in API simil

[2017-12-15 06:06] #25917 closed

[2017-12-15 07:32] dotnet-mc-bot opened #25938 "Test failure: System.Collections.Concurrent.Tests.ConcurrentBagTests/BlockingCollection_WrappingCollection_ExpectedElementsTransferred(numThreadsPerConsumerProducer: 4, numItemsPerThread: 100000, producerSp..."
Opened on behalf of @Sunny-pu

The test `System.Collections.Concurrent.Tests.ConcurrentBagTests/BlockingCollection_WrappingCollection_ExpectedElementsTransferred(numThreadsPerConsumerProducer: 4, numItemsPerThread: 100000, producerSp...` has failed.

Assert.NotEqual() Failure\r
    Expected: Not 0\r
    Actual:   0

        Stack Trace:

           at System.Collections.Concurrent.Tests.ProducerCo

[2017-12-15 07:38] dotnet-mc-bot opened #25939 "Test failure: System.Collections.Concurrent.Tests.ConcurrentBagTests/ManyConcurrentAddsTakes_ForceContentionWithToArray(seconds: 1)"
Opened on behalf of @Sunny-pu

The test `System.Collections.Concurrent.Tests.ConcurrentBagTests/ManyConcurrentAddsTakes_ForceContentionWithToArray(seconds: 1)` has failed.

System.IndexOutOfRangeException : Index was outside the bounds of the array.

        Stack Trace:

           at System.Collections.Concurrent.ConcurrentBag`1.ToArray() in E:\A\_work\1973\s\corefx\src\System.Collections.Concur

[2017-12-15 07:44] shravan2x commented on #25800
I'm on 7.47.0.

@Priya91 If you can't reproduce it, it might be something that was fixed on master since at least `2.0.2`. However, I can't compile and test at the moment.

[2017-12-15 07:49] Sunny-pu commented on #24993
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20171215.02/workItem/System.ServiceProcess.ServiceController.Tests/analysis/xunit/System.ServiceProcess.Tests.ServiceBaseTests~2FTestOnExecuteCustomCommand

[2017-12-15 08:14] tiayi commented on #25800
I changed the code, do not always new HttpClient, it turns well.

[2017-12-15 08:18] Joe4evr commented on #25937
Additional suggestion, put it in the static `Enumerable` class.
[code]

[2017-12-15 09:23] unicomp21 commented on #25659
For very high throughput, low latency situations, where all memory is preallocated and we're leaning heavily on cpu prefetch patterns, having a ReusableTask which one could push/pop into a stack/cache would be really useful.

[2017-12-15 09:35] juepiezhongren commented on #25659
@unicomp21 , task, valueTask, taskCompletionSource..... there r quite a few to be reusable.

[2017-12-15 09:38] unicomp21 commented on #24860
Thanks!

[2017-12-15 09:38] #24860 closed

[2017-12-15 09:45] Carq commented on #18964
@shmao @weshaggard @zhenlan
Hi guys, any progress with resolving this issue? Currently in my project correctly we are struggling with this problem. Can you provide some estimation when this issue will be resolved?

[2017-12-15 09:47] KennethLundberg commented on #25895
@ahsonkhan I've been looking for a nice issue to get my feet wet with. May I take up this issue? Considering you made a similar change a few days ago, I have a pretty good model to go off of in terms of how things should be done. [In a coreclr issue](https://github.com/dotnet/coreclr/issues/6136) it was mentioned that they use "PerfView to profile, Benchmark.NET to prove the win (post results here

[2017-12-15 09:48] roji commented on #25891
After opening this I learned of the existence of UdtTypeName in SqlClient, which is basically what I am asking for but as a standard ADO.NET feature (i.e. on DbParameter). I'd also simplify the name to TypeName.

[2017-12-15 10:21] ViktorHofer commented on #25930
PRs are open for coreclr (src), corefx (tests) and docs. This issue should be closed after the PR into the servicing branch is merged.

[2017-12-15 10:53] ahsonkhan commented on #25895
Awesome. Absolutely.

That would be fine. As an alternative, you could also try to create and run xunit.performance tests. See this for details - https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md#performance-tests

Here are some example performance tests using xunit.performance - https://github.com/dotnet/corefx/tree/master/src/System.Memory/tests/Perform

[2017-12-15 11:08] vermorel commented on #25832
@ahsonkhan Thanks a lot for pointing out the implicit conversion. I had not even realized that it was possible. Yes, it delivers exactly what I was seeking here.

[2017-12-15 11:08] #25832 closed

[2017-12-15 11:20] davidfowl commented on #25659
ReusableValueTask doesn't make much sense. It's a value type..

[2017-12-15 11:38] khellang commented on #20497
I can take a stab at this if @madelson can't 😄

[2017-12-15 11:44] Jamesxql opened #25941 "dotnet report segfaults on Ubuntu 16.04 x64"
Run asp.net core 2.0 app causes a Segmentation fault.

[code]

[code]

[code]

[Core file](https://s3.cn-north-1.amazonaws.com.cn/netcoredebug/core)
[code]

[2017-12-15 12:01] madelson commented on #20497
@danmosemsft sorry I never got a notification for your comment for some reason. Taking a look now.

[2017-12-15 13:22] jnm2 commented on #25659
How would you possible know it's safe to reset a ReusableTask instance? Consuming code may have been doing other things for an arbitrarily long time before needing to `.ContinueWith` or `.GetAwaiter` on the original (reusable) task. If the (reusable) task instance is reset, you'd have logic errors and deadlocks.

[2017-12-15 13:38] jnm2 commented on #25937
The upcoming Default Interface Methods feature [will allow](https://github.com/dotnet/csharplang/blob/master/proposals/default-interface-methods.md#detailed-design) static methods on instances, so `ILookup<TKey, TValue>.Empty()` would be possible (if that was even desirable).

[2017-12-15 13:46] davidfowl commented on #25659
It would need to be special usage. You cant replace all instances of Task with reusable task. It’s really a new custom awaitable that can be reset. Having something like this in the framework would be nice (there are many places where the BCL does this today internally). Task as it exists today is too big and has too many features to do something like this safely

[2017-12-15 14:50] jkotas commented on #25930
@AndyGerlicher Where does/will msbuild use binary serialization for this in .NET Core?

[2017-12-15 15:20] WinCPP commented on #21629
@jkotas thanks for inputs. So I guess, instead of here, I should fix the issue dotnet/coreclr#15458...?

[2017-12-15 15:25] jkotas commented on #21629
Yes, I agree. We can close this issue and just use the CoreCLR issue to track this problem.

[2017-12-15 15:25] #21629 closed

[2017-12-15 16:18] weshaggard commented on #25898
Fixed with #25932

[2017-12-15 16:18] #25898 closed

[2017-12-15 17:03] jkotas commented on #25941
This issue was moved to dotnet/coreclr#15543

[2017-12-15 17:03] #25941 closed

[2017-12-15 17:14] karelz commented on #25800
@Priya91 can you check your test on 2.0? It would be good to have a confirmation we are able to reproduce it on 2.0 and the fact we can't reproduce it on master (2.1) means, it is fixed.

@tiayi I don't follow - the [code snippet above](https://github.com/dotnet/corefx/issues/25800#issuecomment-350432342) does not create new `HttpClient` instances. Just one.

[2017-12-15 17:27] JonHanna opened #25944 "RuntimeFeature.IsSupported("EmitIL") would be a useful feature check."
Whether one can emit IL or not is a significant difference between platforms, that impacts on the best approach to some problems, so it would be useful if `RuntimeFeature` could be queried about it.

This should close #10470 as well, which wishes to be able to enquire as to whether `LamdbaExpression.Compile()` can emit IL, which in turn depends on that feature.

[2017-12-15 17:39] iSazonov opened #25945 "Implement public partial sort Array API"
## Rationale
- In [PowerShell repo](https://github.com/PowerShell/PowerShell) we have Sort-Object cmdlet enhanced with `-Top` and `-Bottom` parameters  - their implementation is based on partial sorting.
 - Currently Linq uses [`Array.Sort`](https://github.com/dotnet/corefx/pull/24116) but own internal (not public API) implementation of [PartialQuickSort](https://github.com/stephentoub/corefx/blob

[2017-12-15 17:46] iSazonov commented on #25945
The initial implementation could be the use of `PartialQuickSort` from Linq.
Ideally I guess it would enhance `private void IntrospectiveSort` from `Array`.

[2017-12-15 17:48] AndyGerlicher commented on #25930
We use binary serialization for many things, in particular cache files and IPC for multi-proc builds. The type I linked ([BuildEventArgs](https://github.com/Microsoft/msbuild/blob/6851538897f5d7b08024a6d8435bc44be5869e53/src/Framework/BuildEventArgs.cs#L30)) is the base class for all our build messages/events which derives from BuildEvent (and is not ISerializable). And customers can (and do) crea

[2017-12-15 17:56] JonHanna commented on #25945
That's certainly where I got the idea of doing that partial quicksort from.

I'd prefer there was a yay or a nay on #25240 before exposing a partial sort, since they yay or nay should carry through to anything like this.

An in-place sort could *perhaps* benefit from setting the range to sort within as well as the range to get sorted, especially if using it incrementally. Say I have 100 items and

[2017-12-15 18:25] calum74 opened #25946 "Unsafe behaviour of MetadataReaderProvider"
I spent quite a while debugging some non-deterministic behaviour of the `System.Reflection.Metadata.MetadataReader` class. It would randomly start throwing `BadImageFormatException`.

Example:

[code]

It turns out that the underlying `System.Reflection.Metadata.MetadataReaderProvider` class had been garbage collected, and the unsafe pointers used internally in `System.Reflection.Metadata` became

[2017-12-15 18:41] lmolkova opened #25947 "Where do I get nightly master builds (dotnet-core myget feed is for dev/defaultintf)"
I'm trying to consume DiagnosticSource nightly build to integrate recent bugfix with partners.

The latest available in dotnet-core myget is  [4.5.0-dev-di-26015-02](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Diagnostics.DiagnosticSource/4.5.0-dev-di-26015-02)

That points to the ce3b6524a275b2ac814d76e5e49e96aa9be7f877 and is a head of dev/defaultintf branch.

Is it expected?

[2017-12-15 18:46] bartonjs opened #25948 "Consolidate HashAlgorithmName->HashAlgorithm lookup tables"
There are a fair number of copies of HashAlgorithmName to HashAlgorithm resolvers.  They should be consolidated into one place, and probably just be public API.

`HashAlgorithm.Create(HashAlgorithmName algName)`, perhaps?

[2017-12-15 18:49] bartonjs commented on #25948
For PKCS/X.509 there may also be some Oid <-> HashAlgorithm(Name) resolvers that should be addressed, too.

[2017-12-15 19:12] MichalStrehovsky commented on #25947
This one is the latest: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Diagnostics.DiagnosticSource/4.5.0-preview1-26015-06

Both the master branch and the defaultInterfaces branch are producing these packages. The defaultinterfaces build happened to be published 6 minutes after master, making it the latest.

[2017-12-15 19:15] Roblinde opened #25949 "Intermittent WinHttpException on Azure"
I have had an issue running ASP.NET Core 2.0 app in Azure and have had a conversation with the Azure support team. They have, after some investigation, suggested I open the issue here for further help.

The scenario is as follows. I have a completely standard, out of the box, ASP.NET Core app that I published to Azure. The only modification I've made to this application is I've added a singleton `

[2017-12-15 19:25] lmolkova commented on #25947
@MichalStrehovsky

Thanks! I've got confused with 4.5.0-preview2  builds from September

[2017-12-15 19:25] #25947 closed

[2017-12-15 19:45] vermorel opened #25950 "Mark Write7BitEncodedInt and Read7BitEncodedInt as public"
7-bits encoding are useful in many situations. Yet, the method [BinaryWriter.Write7BitEncodedInt(int)](https://msdn.microsoft.com/en-us/library/system.io.binarywriter.write7bitencodedint(v=vs.110).aspx) is `protected` (idem for [BinaryReader.Read7BitEncodedInt](https://msdn.microsoft.com/en-us/library/system.io.binaryreader.read7bitencodedint(v=vs.110).aspx)) are not public. As a result, codebases

[2017-12-15 20:16] Anipik commented on #25535
Can somebody give an example of how api should work in case of device paths (1  & 2 case)

[2017-12-15 20:31] andersstorhaug commented on #649
Something that makes this a little bit less painful with C# 6:

[code]

[code]

[2017-12-15 20:36] MarcoRossignoli commented on #23748
checking System.Private.Xml

[2017-12-15 20:39] jnm2 commented on #25950
Yes!

[2017-12-15 20:51] wtgodbe commented on #23496
This appears to be a problem with Linux shell, not with the way we parse args. To illustrate, consider the following program:

[code]

This will fail with:

This is analogous to the scenario in the repro, where we parse the triple-quoted stuff into an arg surrounded by single-quotes, then pass that directly to /bin/sh. If you run the same thing from the command line, the command line shell will pa

[2017-12-15 21:09] GrabYourPitchforks opened #25951 "Properly obsolete insecure types we no longer want people to use"
This is a placeholder for future work to be performed under the Security Epic.

[2017-12-15 21:10] JeremyKuhne commented on #25535
@Anipik My comments above describe what to do. `PathInternal.IsDevice()` will tell you if a path is a device path. So, given that, you'd be doing something roughly like this:

[code]

[2017-12-15 21:12] jkotas commented on #23496
@wtgodbe I disagree with your conclusion that this is a problem with Unix `/bin/sh`.

On Unix OS, you provide array of arguments to the OS when starting a process. There is no quoting or escaping involved. You will get exactly what you are asked for. There is nothing that can go wrong there.

On Windows OS, you  provide the escaped command line to the OS when starting a process. So the array of ar

[2017-12-15 21:25] karelz commented on #23496
@jkotas what would you recommend then?

The problem is that .NET offers API which takes 1 string. We have to break it out on Unix into array of args. We have 2 choices -- use Windows rules (current implementation), or emulate [Linux shell rules](https://www.tutorialspoint.com/unix/unix-quoting-mechanisms.htm) (assuming there is a single spec and shells do not deviate).

Swapping Windows rules to L

[2017-12-15 21:41] karelz commented on #23496
From offline discussions with @wtgodbe and @jkotas - we are not trying to say that /bin/sh has a bug. Rather that whoever passes triple quotes on Unix (msbuild in this case) has to be aware that single-quoted string will be passed over as argument (applying Windows rules) and it is up to the caller (msbuild in this case) to make sure the callee (/bin/sh in this case) can handle it.
For /bin/sh as

[2017-12-15 21:41] #23496 closed

[2017-12-15 22:01] camp-007 commented on #25773
Sorry you are correct the title had a typo and v4.2.0.0 is what is getting copied into the bin directory

[2017-12-15 22:24] madelson commented on #20497
@danmosemsft ok so I added the new property to `ProcessStartInfo` but when I tried to reference the new property from the tests project it breaks the build. Is there something special I have to do here?

[2017-12-15 22:26] danmosemsft commented on #20497
@madelson you need to make the edit under both src\ and ref\ folders next to each other. The tests compile against \ref (it's like a header). If you are still stuck push your branch and share a link to it...

[2017-12-15 22:45] ahsonkhan commented on #25229
The change from the previous PR (https://github.com/dotnet/coreclr/pull/15410) was reverted here (https://github.com/dotnet/coreclr/pull/15516) to unblock CoreCLR ingestion into CoreFX - this change was causing CoreFX socket tests to fail.

See trail of build update failures:
https://github.com/dotnet/corefx/pull/25787
https://github.com/dotnet/corefx/pull/25821
https://github.com/dotnet/corefx/pu

[2017-12-15 22:45] ahsonkhan commented on #25229
The change from the previous PR (https://github.com/dotnet/coreclr/pull/15410) was reverted here (https://github.com/dotnet/coreclr/pull/15516) to unblock CoreCLR ingestion into CoreFX - this change was causing CoreFX socket tests to fail.

See trail of build update failures:
https://github.com/dotnet/corefx/pull/25787
https://github.com/dotnet/corefx/pull/25821
https://github.com/dotnet/corefx/pu

[2017-12-15 23:12] weshaggard commented on #19781
OK so it sounds like we will keep symbol packages. However the second question in the issue is around including source files in them? With SourceLink I assume we don't need to do that any longer is that your guys assumption as well?

[2017-12-15 23:20] mikem8361 commented on #19781
Yes, we do not need to include the source files anymore.  SourceLink should be enabled now in all of our coreclr/corefx projects.

We also should not include the reference assemblies and the reference assembly pdbs in the symbol packages.  The uploader build task will blindly upload all the files in any package named “*.symbols.nupkg”.  I have observed that are a lot of dlls/pdbs under the “ref/ne

[2017-12-15 23:25] #24892 closed

[2017-12-15 23:28] danmosemsft commented on #25944
https://github.com/dotnet/corefx/issues/25530

[2017-12-15 23:30] danmosemsft commented on #25939
Seems like corruption in ConcurrentBag as it should be impossible for ToArray() to throw IOORE. I wonder if this is ARM specific.

[2017-12-15 23:54] Priya91 commented on #25800
@shravan2x I was not able to repro this for 2.0 as well,

[code]

[2017-12-15 23:56] karelz commented on #25880
Note that "The handle is invalid" failures would be just transformed into another exception (e.g. "The operation has been canceled") if #9228 was fixed - see https://github.com/dotnet/corefx/issues/25912#issuecomment-351809555

[2017-12-15 23:57] Priya91 commented on #25800
@shravan2x Can you share more information about your runtime environment, which linux distro version are you on, is it a docker container? Can you try your code on updated version of curl?

[2017-12-15 23:57] karelz commented on #20024
Note that "The handle is invalid" failures would be just transformed into another exception (e.g. "The operation has been canceled") if #9228 was fixed, the test would still fail - see https://github.com/dotnet/corefx/issues/25912#issuecomment-351808254

[2017-12-16 00:03] karelz commented on #20024
(deleted a few unrelated test failures - the bug does NOT track general "The server returned an invalid or unrecognized response")

[2017-12-16 00:26] rmkerr commented on #25880
Thanks for letting me know -- I was definitely getting sidetracked by that issue. I'll try to see if I can root cause the problem in the test then instead of looking into #9228.

[2017-12-16 00:57] ahsonkhan commented on #24090
What would be required to make this change?

Do we mark the IsNETCoreApp/IsUAP properties as false and remove the netcoreapp build configuration?
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/dir.props#L7
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/Configurations.props#L7

I don't fully understand what this p

[2017-12-16 01:02] karelz commented on #25880
BTW: Both issues are important to get to clean test runs, so feel free to focus on the one you think is easier / more tractable ;)

[2017-12-16 01:14] danmosemsft commented on #25950
This need a bit more formal writeup as an api proposal.

[2017-12-16 01:15] weshaggard commented on #24090
Yes remove the IsNETCoreApp/IsUAP properties and remove the netcoreapp build configurations. Also remove the TreatAsOutOfBox suppression once those other properties are removed.

[2017-12-16 01:25] ahsonkhan commented on #25785
Regarding OperationStatus, something to consider is that we already have an enum with a similar name in System.Net.NetworkInformation - [OperationalStatus](https://github.com/dotnet/corefx/blob/master/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/OperationalStatus.cs).

[MSDN Doc on NetworkInterface.OperationalStatus Property](https://msdn.microsoft.com/en-us/library/system.n

[2017-12-16 02:41] rvhuang commented on #25937
In addition to this, since `ILookup<TKey, TElement>` implements `IEnumerable<IGrouping<TKey, TElement>>`, the purposed API can also be used as an empty result of `Enumerable.GroupBy<TSource, TKey>()`.

[2017-12-16 03:36] shravan2x commented on #25800
@Priya91

Runtime Environment: **.NET Core 2.0.2** (A regular installation, not preview or anything)
Linux: **Ubuntu 16.04.3 LTS**
Is Container: **No**

I can't try an updated CURL until next Wednesday or so.

[2017-12-16 04:55] benhysell opened #25960 "ASP.NET Core 2.0 using System.DirectoryServices.AccountManagement GroupPrincipal GetMembers Throws System.Exception: An operations error occurred."
Repo: https://github.com/benhysell/AspNetCoreGroupPrincipal

Manual steps to reproduce:

- Create empty ASP.NET Core 2.0 Template, select React/Redux
- Add Microsoft.Windows.Compatibility 2.0.0-preview1-25914-04 to the project via NuGet
- Replace ```Index``` on ```HomeController.cs``` with the following to trigger a lookup of all users in a group:

[code]
- Start debugging

- Throws the following:

[2017-12-16 06:47] jkotas commented on #23881
We may want to just use less ugly `GetPinnableReference` name for the pinning pattern. Once it returns null for empty for empty spans and `in` for read-only spans, there is really nothing dangerous about it.

[2017-12-16 09:00] #24090 closed

[2017-12-16 09:08] ahsonkhan commented on #25412
Changing the API to the following based on feedback from @VSadov, @jkotas:
https://github.com/dotnet/coreclr/pull/15532#issuecomment-352141138

[code]

[2017-12-16 10:36] benaadams commented on #23881
`GetReference`? unless there are other references you can get which you can't pin?

[2017-12-16 11:08] davidfowl commented on #25412
Can you not remove the instance methods until ASP.NET is updated as well? It would be nice to avoid breaking *everything* all at once.

/cc @BrennanConroy @pakrym

[2017-12-16 14:15] cosminstirbu commented on #19914
@johndbell - I have the exact same issues. Did you find a fix for your problem?

[2017-12-16 14:19] johndbell commented on #19914
Possibly, we converted our unit test project to target dot net core instead of full framework 4.6.1. That way I believe the same version of the http client component gets used.

[2017-12-16 15:24] cosminstirbu commented on #19914
Unfortunately, if I target dot net core instead of a full framework 4.6.1 Visual Studio for Mac doesn't show my unit tests any longer so I can't run them from the IDE.

[2017-12-16 15:35] jkotas commented on #23881
This is about the name that will be used for https://github.com/dotnet/csharplang/pull/1100 . `GetReference` sounds too generic for it. It needs to have something that ties it to pinning or fixed in the name, I think.

[2017-12-16 15:41] benaadams commented on #23881
Ah, the contract for a `fixed` statement. `GetPinnableReference` then sounds good as it ties it to the framework (e.g. GCHandle Pinned) whereas fixed would tie it to language.

[2017-12-16 16:12] iSazonov commented on #25945
@JonHanna Thanks for your feedback!
I think honest paging can only be for immutable arrays. So I don't know full right solution. My initial thoughts was about PowerShell scenario to get only N-top (-bottom) elements and web scenario to get first (ex.) 60 elements and show it by 20 elements (expecting 3-sigma rule - nobody use 4th page in Google).
I agree with `endIndex` to `length`.

[2017-12-16 16:41] madelson commented on #20497
@danmosemsft I did try that but I'm still getting the same build error. Here's what I have so far: https://github.com/dotnet/corefx/compare/master...madelson:process-info-standard-input-encoding?expand=1

[2017-12-16 16:51] jkotas commented on #16428
This needs exposing in the contracts.

[2017-12-16 16:55] jkotas commented on #25945
All new APIs like these should work on Spans, not arrays.

[2017-12-16 18:11] karelz commented on #25937
Thanks for nice writeup @rvhuang!

It would be good to figure out where the API should go in the proposal. Maybe [`Lookup` class](https://msdn.microsoft.com/en-us/library/bb460184(v=vs.110).aspx)?

How often is it needed in real-world scenarios? -- It would be helpful to either find some occurrences in open-source projects (e.g. search GitHub), or wait for a few upvotes on the top post from people

[2017-12-16 18:16] karelz commented on #25944
Duplicate of #25530

[2017-12-16 18:16] #25944 closed

[2017-12-16 18:23] karelz commented on #25945
Do I understand it correctly, that the ask is to be able to sort just a specific segment of array?
In that case, adding `Sort` on `Span` would be the right thing to do as @jkotas pointed out.

[2017-12-16 18:29] karelz commented on #25950
Can you please submit [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)? (see the example there)
It would be nice to comment more on how often devs work around the problem by inheritting (e.g. search GH?)

[2017-12-16 18:32] karelz commented on #25960
Can you try to run the same example on .NET Framework? (using .NET Framework DirectoryServices)

[2017-12-16 18:49] iSazonov commented on #25945
No, partial sort does sort _entire array_ but return requested top/bottom elements only - the performance gain is that there is no need to sort the tail.

[2017-12-16 18:49] karelz commented on #24114
@wfurt this is failing more and more often - can we disable the test until we have a solution?

[2017-12-16 19:20] karelz commented on #25945
Ah, ok, that's what I originally thought, but the arg names `startIndex` and `endIndex` lead me to believe otherwise. Maybe we could use better names?
What is the `keys`/`items` for? Sorting dictionary?

[2017-12-16 19:34] karelz commented on #24712
Another occurrence on 12/15 - [20171215.09](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171215.09/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_InvalidServerResponse_ThrowsIOException(transferType:%20Chunked,%20transferError:%20MissingChunk

[2017-12-16 19:35] iSazonov commented on #25945
`startIndex` and `endIndex` came from [PartialQuickSort](https://github.com/stephentoub/corefx/blob/a6aff797a33e606a60ec0c9ca034a161c609620f/src/System.Linq/src/System/Linq/OrderedEnumerable.cs#L592). Partial sort is a generalization of sorting and perhaps these names make sense. Although as suggested above we could use `index` and `length`.
The `keys/items` is from Array.Sort API. I don't know ab

[2017-12-16 19:37] ahsonkhan commented on #25412
I have updated corefx/corert/coreclr. What is left is aspnet and corefxlab. On the aspnet side, which repos would require updates? SignalR and Kestrel or are there others?

[2017-12-16 19:48] Petermarcu opened #25962 "Process pipes aren't garbage collected"
@myrup commented on [Sat Dec 16 2017](https://github.com/dotnet/core/issues/1166)

# Process pipes aren't garbage collected
# General
When using redirection for StandardOutput (and possibly StandardError, StandardInput as well) the pipes aren't garbage collected when the Process reference is collected.

The following silly piece of code lives (probably) forever in mono, but crashes in dotnet after

[2017-12-16 19:56] karelz commented on #20024
BTW: Another hit - this time with the "original" failure and on Win10. If it is different problem with the test, we may slipt it off.

[2017-12-16 20:02] ahsonkhan commented on #24090
@marek-safar

Flagging as a potential breaking change. FYI

[2017-12-16 20:31] benhysell commented on #25960
@karelz you bet!

I updated the example repo, full .NET framework and ASP.NET Web Api project template.

See the updated test code in the ```HomeController.cs``` [here](https://github.com/benhysell/AspNetCoreGroupPrincipal/blob/master/AspNetGroupPrincipal/Controllers/HomeController.cs#L14).

Full .NET framework ASP.NET with System.DirectoryServices.AccountManagement works as expected, all users fo

[2017-12-16 23:26] ahsonkhan commented on #25412
See https://github.com/aspnet/KestrelHttpServer/pull/2222

Depends on a package update to aspnet/Universe to go through - https://github.com/aspnet/Universe/pull/717

- SignalR doesn't use DangerousGetPinnableReference or DangerousTryGetArray (these APIs will be removed/changed).
- Kestrel doesn't use DangerousTryGetArray
- I couldn't find any other aspnet repo that relied on these two APIs.

[2017-12-17 00:07] danmosemsft commented on #20497
What is the error? Your change looks fine (but please use alpha order)

[2017-12-17 00:16] jnm2 commented on #6073
I don't know how to judge implementations, but I would have done this rather than `foreach` with a flag:

[code]

Just curious because stuff like this is sitting in my Extensions.cs and I may as well use the official implementation if I can deduce from the discussion what that would be.

[2017-12-17 00:36] JonHanna commented on #6073
@jnm2 well `Single` is done similarly to yours because it beat `foreach` with a flag when compared a while back. Also I think it's more intuitive; look for the thing you want, and then look to see if there's another.

[2017-12-17 01:04] madelson commented on #20497
@danmosemsft the test project build fails because it thinks the new property doesn’t exist.

For alpha order, do you mean of properties? Happy to make that change in the final version.

[2017-12-17 03:53] danmosemsft commented on #25962
@myrup what does it do on .NETFramework?

[2017-12-17 04:32] myrup commented on #25962
4.5 on windows seems consistent with mono.

[2017-12-17 10:22] CliffordSimak opened #25966 "ASP.NET Core 2.0 WriteStartElementAsync in XmlDictionaryWriter"
Hello!

I`m trying to create a SOAP protocol middleware for ASP.NET Core based on [Microsoft article: Custom ASP.NET Core Middleware Example](https://blogs.msdn.microsoft.com/dotnet/2016/09/19/custom-asp-net-core-middleware-example/). And I ran into a problem of a WSDL generation.

---

On the second line I get  **`System.NotImplementedException: "The method or operation is not implemented."`**

[

[2017-12-17 11:56] JonHanna commented on #25966
Was the `XmlDictionaryWriter` created using an `XmlWriter` that in turn was created using an `XmlWriterSettings` for which `Async` was set to true?

[2017-12-17 12:47] hmdhasani opened #25967 "long.TryParse return false for negative numbers in ubuntu"
I have an asp core 1.1.5 app and I'm running it in Ubuntu with docker
In Windows (Dev environment) It's OK but in Ubuntu I found that long.TryParse return false for negative inputs. I think its a bug
currently I use this code to solve the problem:

[code]

[EDIT] Add C# syntax highlighting by @karelz

[2017-12-17 13:03] evil-shrike opened #25968 "[Reflection] TypeInfo.GetProperty: difference in behavior on netfx and netcore"
On .NET Framework:
[code]
returns a property descriptor.
But on .NET Core (checked on 2.0.3) it returns `null`.
Now we have to add two flags:
[code]
At the same time `GetMember` doesn't require that flags.

`typeof(System.Environment).GetMember("OSVersion")` returns an array with MemberInfo for the property.

What's the point in breaking compatibility of GetProperty and requiring BindingFlags flag

[2017-12-17 13:57] evil-shrike commented on #25968
Things are even worse.
I executed code in Immediate Window in VS2015 15.5.
![image](https://user-images.githubusercontent.com/1203230/34080147-7c8413fc-e34a-11e7-9860-33e7bc8dbb39.png)
But now in another debug session (in a debugging session of a mstest under .net core) I do see result:
![image](https://user-images.githubusercontent.com/1203230/34080163-b7958e62-e34a-11e7-91b0-adb5bd935cd0.png)

A

[2017-12-17 14:12] CliffordSimak commented on #25966
@JonHanna I override `System.ServiceModel.Channel.BodyWriter` class methods like:
[code]
I tried to write this:
[code]

but **`asyncWriter`** has `XmlWriterSettings.Async = false`

[2017-12-17 14:15] JonHanna commented on #25966
I think it's a bug that it throws not implemented instead of invalid operation then, but in terms of getting a result rather than an exception, can you try setting Async to true?

[2017-12-17 14:24] CliffordSimak commented on #25966
I tried to setting `Async` to `true` in Debug mode, but after pressing the Enter key, the value is returned to `false`.

I think if the problem is in `Async mode`, then `WriteStartElementAsync` should not work, but it works.

[2017-12-17 14:35] hmdhasani commented on #25967
I think It's because of  hyphen-minus (-) and dash(—).
in linux long.toString and long.Parse use dash but in windows use hyphen-minus

[2017-12-17 14:44] JonHanna commented on #25967
@hmdhasani is it dash or minus (U+2212)?

[2017-12-17 16:39] Petermarcu commented on #24090
Did we verify that a 2.0 ASP.NET App can now run on 2.1? I want to make sure the end user scenario is addressed and if not, we can re-open this issue to track the next problem we find with it.

[2017-12-17 17:59] chrishoffman commented on #24484
I created a reproducible case that demonstrates the error. I don't have a Windows machine available to me right now but I have used similar code on Windows without issue.

https://gist.github.com/chrishoffman/4917a03870d2e3e8489af714495de537

[2017-12-17 18:08] chrishoffman commented on #24484
Actually, I was able to get the above code to work by base64 decoding.  This code was previously developed on .NET core 1.1 and worked there.  Maybe something changed in how the bytes were interpreted between the versions?

[2017-12-17 19:23] bartonjs commented on #24484
@chrishoffman For best results use either the DER-binary or the PEM (Base64 with the header and footer).  Plain base64 isn't anything I had any idea Windows would load until recently :).

Yep, all of certificates and TLS and asymmetric cryptography was rewritten on macOS for 2.0 (Security.framework instead of OpenSSL)

[2017-12-17 23:42] mjmckp commented on #22440
I have implementations of `Log` and `Exp` for `System.Numerics.Vector` (see https://github.com/mjmckp/VectorMathFuns and https://github.com/dotnet/corefx/issues/15957), however these require vectorised versions of `ceil` and `floor` (https://github.com/dotnet/corefx/issues/16833), and left/right bit shifting (https://github.com/dotnet/corefx/issues/16835).  Unfortunately, the proposal for bit shif

[2017-12-18 01:45] benaadams opened #25972 "Linq.Expressions.Tests: Assert failure: Thread::IsObjRefValid(&objref) testing against checked coreclr"
Coreclr issue: https://github.com/dotnet/coreclr/issues/15537 though only happens for these tests

Windows_NT x64 Checked corefx_baseline failure
[code]

[2017-12-18 03:22] chrishoffman commented on #24484
Using the native stack sounds to great to me.  I am curious what the compatibility break was introduced in 2.0 but it seems easy enough to work around.  It is possible that 1.1 allowed for base64 encoded DER as input while 2.0 does not.  Thanks for the continued advancement.

[2017-12-18 07:35] hmdhasani commented on #25967
@JonHanna  I think that's the main point
In windows system.long works with minus
but in Linux works with dash

[2017-12-18 09:11] MichalStrehovsky commented on #25968
This will make it more clear what's going on:

[code]

On CoreCLR, this prints:

[code]

`Type.GetType` is supposed to search the current assembly, followed by the core assembly when the string is not an assembly-qualified name. CoreCLR made the seach happen in System.Private.CoreLib instead of the mscorlib facade.

[2017-12-18 09:56] tmds commented on #25962
When I run this code I get:
[code]
This is because `fork` returns `EAGAIN`:

              error: the RLIMIT_NPROC soft resource limit (set via setrlimit(2)), which limits the number of processes and threads for a
              real user ID, was reached; the kernel's  system-wide  limit  on  the  number  of  processes  and  threads,  /proc/sys/ker‐
              nel/threads-max,  was  reached  (se

[2017-12-18 10:43] johndbell commented on #19914
Urgh, it's all over the place isn't it. We use VS4M too and have noticed it not detecting unit tests when we used PackageReferences for nuget packages recently (in full framework projects) but since moving the projects to dotnet core (which still uses package references) we can actually see them, so I'm not sure why you're not. We did have to add a reference to the Microsoft.NET.Test.Sdk nuget pac

[2017-12-18 11:37] jkotas commented on #25968
`Type.GetType` is just of one of the many ways how one can get to the private duplicate types in CoreLib. Fixing `Type.GetType` closes one of them, but still keeps many other open. E.g. `typeof(object).Assembly.GetType("System.Environment")` will still hit it.

We may want to finish cleaning up the duplicate types between CoreFX and CoreLib so that they stop causing confusion - either move the pri

[2017-12-18 11:39] jkotas opened #25973 "Array.Sort of primitive array using Comparer.Default 100x slower compared to .NET Framework"
`Array.Sort(new int[1000000], System.Collections.Comparer.Default)` is ~100x slower on .NET Core vs. NET Framework. See discussion at https://github.com/dotnet/corefx/issues/25968#issuecomment-352402058.

[2017-12-18 11:58] JonHanna commented on #25967
Windows works with hyphen-minus (U+002D), and so for that matter does the Linux install I have to hand (but it's .NET Core 2.1.3, and also maybe this is locale-related) and the code in your workaround. Minus (U+2212) would make semantic sense while em-dash (U+2014, the dash character you put in your comment above) doesn't mean minus and so wouldn't make semantic sense. That would make producing U+

[2017-12-18 13:26] stijnherreman commented on #25773
I've just upgraded an entire solution to 4.7.1 and I'm still seeing conflicts, but I don't know what exactly causes it.

* Project A chooses `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net471\lib\System.Net.Http.dll` and detects it as version 4.2.0.0
* Project B, which depends on project A, chooses `C:\Program Files (x86)\Referen

[2017-12-18 14:10] hmdhasani commented on #25967
another problem is in JS as JS use hyphen-minus when I run the app in the Linux server my javascripts does not work properly and I have to fix this manually too

[2017-12-18 15:36] Roblinde commented on #25949
@karelz adding the labels I take it this has been recognized as a framework bug? Could you shed any light on the cause? Would be interesting.

Thanks!

[2017-12-18 15:44] tapmantwo commented on #25607
Hi - any suggestions for a work around for this?

[2017-12-18 16:06] aobatact opened #25974 "Use "in" at Matrix4x4"
It might be better to use in keyword at some methods of Matrix4x4

## Benchmark
[code]
[code]
| Method |     Mean |     Error |    StdDev |
|------- |---------:|----------:|----------:|
|    Add | 14.01 ns | 0.1274 ns | 0.1130 ns |
|  InAdd | 13.11 ns | 0.0094 ns | 0.0088 ns |
|    Multiply | 30.34 ns | 0.0397 ns | 0.0287 ns |
|  InMultiply | 29.36 ns | 0.1664 ns | 0.1557 ns |

[2017-12-18 16:50] karelz commented on #25960
Thanks for confirmation!
@tquerec @jay98014 any advice here? cc @danmosemsft @tarekgh

[2017-12-18 16:51] davidsh commented on #25949
It has not been identified as a bug yet.  The labels were added simply to guide the bug to the right team.

This particular exception is "normal", in that it indicates that the remote endpoint terminated the connection. It is not clear this is a bug in the .NET Core HTTP stack layer.  It needs investigation and really needs a good Wireshark trace to help evaluate what is happening on the wire.

[2017-12-18 16:53] Roblinde commented on #25949
Thanks @davidsh!

I haven't been able to replicate it locally so I haven't been able to monitor the actual traffic since it's happening on the remote server. Is there any steps I can take to enable such remote monitoring?

[2017-12-18 16:59] karelz commented on #25949
Agreed with what @davidsh said.
My best guess was that this is a bug and we should treat it as such until proven otherwise, or someone with deeper expertise overrides my guess by experienced judgement :).

@Roblinde do you have dedicated VM in Azure you can collect additional logs from? If not, try to ask the support folks how to collect additional logs in the Azure service you're using.

[2017-12-18 17:03] 4creators commented on #22440
Quite the opposite see: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Intrinsics.X86/ref/System.Runtime.Intrinsics.X86.cs

Functionality is actively worked on in CoreCLR repo. The plan is to support expanded Numerics.Vector functionality with Intrinsics.

[2017-12-18 17:05] Roblinde commented on #25949
Afraid not, just a regular app service :/ I could setup a VM I guess, see if I can reproduce there.

I've spoken to Azure support, but they couldn't discern anything unusual, which is why I was ferried over here I guess 😄

I'll experiment some more and get back to you with any further findings.

[2017-12-18 17:10] karelz commented on #25949
Might be good to compare VM in Azure vs. app service. If you can reproduce on VM, you can collect logs. If you can't, you should push on their support to explain the difference / help to track it down :)

[2017-12-18 17:19] danmosemsft commented on #20497
I do not have a computer handy this week. @maryamariyan @anipik can one of your please pull this branch and help with the build error?

[2017-12-18 17:25] maryamariyan commented on #20497
@danmosemsft @madelson I'll pull this branch today.

[2017-12-18 17:27] KrzysztofCwalina commented on #25785
@ahsonkhan, good point. Maybe we should call it OperationResult

[2017-12-18 17:39] karelz commented on #6073
@jnm2 I skimmed through the thread -- looks like we are still waiting on https://github.com/dotnet/corefx/issues/6073#issuecomment-273845281. Nobody picked it up yet:

[code]

[2017-12-18 17:46] jnm2 commented on #6073
Here's what I care about, plus the IQuerable versions. Are we doing predicate overloads?
[code]

[2017-12-18 18:14] karelz commented on #6073
@jnm2 we need also the other APIs - someone should reread the thread discussion and find out if we planned to do all.

[2017-12-18 18:24] karelz commented on #20024
BTW: I updated the bug with history for the **original** problem on `ReadAsStreamAsync_ValidServerResponse_Success` test. Sorry for the confusion earlier ...

[2017-12-18 18:40] d96patel commented on #24375
@angelcalvasp Could you please share your workaround for 2.0.0?

[2017-12-18 18:41] jnm2 commented on #6073
I reread the whole thread twice just now and don't see much mention of either the TryFirst, TryLast and TryElementAt variants or the predicate variants. Certainly not in conjunction with `Queryable`. I'm not sure why it's me doing this, but here's everything, just to get the ball rolling:

[code]

[2017-12-18 18:53] joperezr commented on #24832
@danielcrabtree how are you running your code? Are you using Visual Studio or are you using the dotnet command line?

[2017-12-18 18:58] joperezr commented on #22271
yeah, it was done by: https://github.com/dotnet/corefx/pull/24307

[2017-12-18 19:01] divega commented on #19826
@FransBouma @saurabh500 it seems to me that this is already fixed in master. Can you please check?

[2017-12-18 19:04] joperezr commented on #25024
@eerhardt which version of VS are you using to compile? From what I can tell, it looks like you don't have the right conflict resolution logic that would fix the nuget clash.

[2017-12-18 19:06] karelz opened #25977 "Test failure: System.Net.Http.Functional.Tests.PostScenarioTest / PostUsingContentLengthSemantics_Success"
## Type of failures

### The handle is invalid

Failure [20171218.01](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171218.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.PostScenarioTest~2FPostUsingContentLengthSemantics_Success(serverUri:%20http:~2F~2Fcorefx-net.cloudapp.net~2F

[2017-12-18 19:17] FransBouma commented on #19826
@divega yes this has already been added: https://github.com/dotnet/corefx/blob/master/src/System.Data.Common/src/System/Data/Common/DbConnection.cs#L38 The DbProviderFactories implementation otherwise wouldn't be working ;) I'll close this one. I didn't know it was still open.

[2017-12-18 19:17] #19826 closed

[2017-12-18 19:22] karelz commented on #24712
History of test failure added to the top post

[2017-12-18 19:30] karelz commented on #6073
You were interested in the issue and no one else was interested to follow up in the last year, which means it won't happen otherwise. I am just trying to help here to push it forward and unblock contributors (you) :) ... maybe I misunderstood your intent?

[2017-12-18 19:31] zhenlan commented on #18964
No progress on this. We don't have a good solution at this point.

[2017-12-18 19:33] joperezr commented on #24680
@sandorfr from your proposal `can be extremely useful in some scenarios` can you please add some sample scenarios where this would be useful to help on the review?

[2017-12-18 19:35] karelz commented on #6073
LGTM, adding it to the top post (it is considered approved - I will ping API reviewers as FYI).
Thanks @jnm2!
FYI: @OmarTawfik @VSadov

Next steps: it is available for implementation if someone wants to grab it (not blocked anymore).

[2017-12-18 19:40] jnm2 commented on #6073
I'm interested but I must be the least knowledgeable person in this thread... I guess I won't let that stop me in the future. 😂

[2017-12-18 19:41] jnm2 commented on #6073
I'm also interested enough to implement it if no one else does...

[2017-12-18 19:41] SamuelEnglard commented on #6073
@jnm2 Happy to help anyway I can 😄

[2017-12-18 19:45] jnm2 commented on #6073
@SamuelEnglard Can I sign you up to do the implementation? =D

[2017-12-18 20:05] JonHanna commented on #6073
I know the relevant code well, and am happy to do it, but if someone wants to take it as an intro to the relevant libraries and/or to adding to the API I think this would be quite a nice one for them to do.

[2017-12-18 20:25] #25507 closed

[2017-12-18 20:32] SamuelEnglard commented on #6073
I only have code for the original `TrySingle` currently and free time is something I'm low on currently

[2017-12-18 20:34] jnm2 commented on #6073
Whatever time I give here I won't have for NUnit, but I don't want this issue to get put off any longer.

[2017-12-18 20:37] SamuelEnglard commented on #6073
NUnit will live :P

[2017-12-18 20:44] JonHanna commented on #6073
Grand, I'll take it so.

[2017-12-18 21:03] Priya91 commented on #25800
I was not able to repro on a vanilla ubuntu16.04 vm with .netcore 2.0.2

[code]

@shravan2x Are you able to reproduce on other ubuntu16.04 vms? Looks like your machine could be in corrupted state or someother issue is interferring with your requests.

[2017-12-18 21:16] mjmckp commented on #22440
@4creators Awesome, thanks!

[2017-12-18 21:23] karelz commented on #23702
2 new occurrences - 12/15 (20171215.05) & 12/16 (20171216.01).

[2017-12-18 22:03] divega commented on #20903
Adding netfx-port-consider label for the new APIs. Note for implementer: In the .NET Core implementation of the new API we decided to ignore aspects of a provider registration like the name and the description. In .NET Framework the new API will probably don't have these either, but the underlying implementation will have to set them to something in the DataTable used for storage. The table will p

[2017-12-18 22:38] karelz commented on #6073
Turns out not everyone is happy with the outcome, we will have to do proper API review once again.
Questions:
* Are we establishing Try-pattern with `(bool success, T value)`?
* Why would we not add them also on `Enumerable`?

[2017-12-18 22:38] safern commented on #20497
The reason why you're seeing this error is because the tests are built against netstandard andSystem.Diagnostics.Process was shipped inbox in netstandard2.0. When building the tests they will build vs the netstandard.dll ref assembly that we shipped with this contract: https://github.com/dotnet/standard/blob/master/netstandard/ref/System.cs#L4033-L4100 which doesn't have this new API.

Your change

[2017-12-18 22:57] wtgodbe commented on #281
I've put up https://github.com/dotnet/corefx/pull/25978 to try to addres this, please let me know if that isn't the right fix.

[2017-12-18 22:57] tmenier commented on #1936
@davidsh (or anyone else thinking about a solution) I ran into some serious gotchas when switching from `Uri.EscapeDataString` to `WebUtility.UrlEncode` in similar scenario where I just wanted to avoid the string length limitation associated with the former. I posted my findings [here](https://stackoverflow.com/a/47877559/62600). Long story short, `WebUtility.UrlEncode` is a strange animal and pro

[2017-12-18 22:57] jnm2 commented on #6073
I wondered. That was faster than I expected. 😄

[2017-12-18 22:59] jnm2 commented on #6073
Is there room to postpone some of this complexity and just get the estimated 90% use case via the lone `TrySingle<T>(this IEnumerable<T>, out T)`?

[2017-12-18 22:59] danmosemsft commented on #20497
Wes is out. Presumably as you say we just need a netcoreapp configuration to the tests. Aren't there others we already did this for? Eg we added more members to  String!

[2017-12-18 23:13] JonHanna commented on #6073
I've been on phone for the last part of the thread, and missed that we had something on Queryable that wasn't on Enumerable. Really, bar `ToXxx` methods on Enumerable that produce a collection, we shouldn't add anything to one without parity on the other without a very good reason.

On the ValueTuple matter, it seems sensible to me to consider that a separate, and deeper, API design question than

[2017-12-18 23:19] safern commented on #20497
Yes we do it in System.Runtime for example

https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System.Runtime.Tests.csproj#L177

So basically what you would need to do is create a ProcessTests.netcoreapp2.1.cs file and include it in the tests csproj when '$(TargetGroup)' == 'netcoreapp' and then in the /tests/configurations.props file add:
[code]

And that will fix the problem,

[2017-12-18 23:20] #23220 closed

[2017-12-18 23:44] karelz opened #25979 "Test failure: System.Net.Sockets.Tests.SendFileTest / SendFile_APM"
## Type of failures

### WhenAllOrAnyFailed timed out after 30000

Failure [20171213.05](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171213.05/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendFileTest~2FSendFile_APM(listenAt:%20127.0.0.1,%20sendPreAndPostBuffers:%20False,%20bytesToSend:%20512)

[2017-12-18 23:58] karelz opened #25980 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test / GetAsync_AllowedSSLVersion_Succeeds"
## Type of failures

### The operation has been canceled

Failure [20171213.08](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171213.08/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_SslProtocols_Test~2FGetAsync_AllowedSSLVersion_Succeeds(acceptedProtocol:%20Tls12

[2017-12-18 23:59] karelz commented on #22085
The original exception reported went away - it was consistently massively reproducing 2017/7/8-7/11.
The remaining test failures are tracked by #25980

[2017-12-18 23:59] #22085 closed

[2017-12-19 00:07] karelz opened #25981 "Test failure: System.Net.Http.Functional.Tests.ResponseStreamTest / GetStreamAsync_ReadToEnd_Success"
## Types of failures

### The handle is invalid

Failure [20171215.09](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171215.09/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FGetStreamAsync_ReadToEnd_Success(readMode:%202)):
[code]

### The operation has been ca

[2017-12-19 00:25] karelz commented on #23702
The 2 new failures are slightly different, closing again, will create new bug.

[2017-12-19 00:25] #23702 closed

[2017-12-19 00:31] karelz commented on #23702
## History of the failures

Day | Build | OS
-- | -- | --
5/22 | 20170522.01 | Win10
6/14 | 20170614.03 | Win8.1
6/18 | 20170618.02 | Win7
6/19 | 20170619.01 | Win10
9/28 | 20170928.03 | Win10
11/13 | 20171113.02 | Win10
11/22 | 20171122.03 | Win8.1
11/22 | 20171122.12 | Win8.1
11/24 | 20171124.01 | Win10
11/25 | 20171125.01 | Win10
11/27 | 20171127.06 | Win10
11/28 | 20171128.03 | Win8.1
11/28 |

[2017-12-19 00:37] karelz opened #25983 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test / ProxyExplicitlyProvided_DefaultCredentials_Ignored"
## Types of failures

### The operation has been canceled

Failure [20171215.05](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171215.05/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandler_DefaultProxyCredentials_Test~2FProxyExplicitlyProvided_DefaultCredentials_Ignore

[2017-12-19 00:51] dotnet-mc-bot opened #25984 "Test failure: System.Net.Tests.SyncWebClientTest / OpenWrite_Success"
## Type of failures

### CurlException: SSL connect error

Build 20171210.01 (Fedora26):
[code]

## History of failures

Day | Build | OS | Error message
-- | -- | -- | --
9/3 | 20170903.01 | Ubuntu17.04 | System.Net.WebException : The operation has timed out.
10/9 | 20171009.04 | Fedora25 | CurlException: SSL connect error
10/24 | 20171024.02 | Fedora26 | CurlException: SSL connect error
11/3 | 2

[2017-12-19 00:57] wfurt commented on #25984
Rare failure, likely caused by networking problems

**Ubuntu.1704.Amd64,2017-09-03
fedora.25.amd64,2017-10-09
Fedora.26.Amd64,2017-10-24
Fedora.26.Amd64,2017-11-03
Fedora.26.Amd64,2017-11-04
fedora.25.amd64,2017-11-08
Fedora.26.Amd64,2017-11-16
Fedora.26.Amd64,2017-12-10

[2017-12-19 00:57] shravan2x commented on #25800
@Priya91 I've tested on 3 VMs so far. All of them have the issue. It might have something to do with the fact that I upgraded most of these from the 1.0.0 preview versions. I'll try on a vanilla VM and post back.

[2017-12-19 01:00] rmkerr commented on #19701
I'm getting very consistent timeouts for PostAsync_CallMethod_StreamContent with the same "System.Net.Http.WinHttpException : The operation has been canceled" timeout that is showing up for the rest of the test failures mentioned here. If you think it would help I can collect wireshark traces of the failure and share them.

[code]

[2017-12-19 01:08] karelz commented on #19701
That one is tracked primarily by #25902 and there's bunch of other tests with similar exception/error sets.
If you can reproduce, we should try to collect additional logs to find out what's going on.

[2017-12-19 01:22] KennethLundberg commented on #25895
@karelz, could I please get that invite requested above? Thanks!

[2017-12-19 01:55] juepiezhongren commented on #25659
To replace every Task is a catastrophe, just treat Task the most comprehensive IPromise imp, ValueTask and ReusableTask as supplementary ones

[2017-12-19 02:03] juepiezhongren commented on #25659
mistake

[2017-12-19 02:03] juepiezhongren commented on #25659
@davidfowl, considering an rpc method is a vTask async one,  if there is a ReusableValueTask pool(native heap or managed heap), i guess that there still will be some performance improvement

[2017-12-19 02:13] juepiezhongren commented on #25659
@jnm2, it's just a more option just like vTask

[2017-12-19 02:38] danielcrabtree commented on #24832
In this particular case, it's a console program and I'm compiling it to an exe, so it can be run directly on Windows. The error occurs when running it via this exe or via Visual Studio. I have not tried running via the dotnet command line.

The thing I'm unsure about is whether it is actually using the newer point releases or not. Is there some way to confirm which version it is using or to specif

[2017-12-19 03:44] danmosemsft commented on #24832
Could you start your app (make it pause of necessary) then use process explorer to find the path to and certain of the system.private.corelib.dll that is loaded into your app?

[2017-12-19 04:40] #14197 closed

[2017-12-19 05:22] danielcrabtree commented on #24832
It's using `D:\Users\[Username]\.nuget\packages\runtime.win-x64.microsoft.netcore.app\2.0.0\runtimes\win-x64\native\System.Private.CoreLib.dll`

[2017-12-19 06:57] Sunny-pu commented on #24678
Following tests failed with same issue, detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/3837/testReport/

[2017-12-19 07:01] jcdickinson opened #25986 "Replace HashHelpers.Combine with HashCode.Combine"
`System.HashCode` was recently added in order to make high-quality fast hashing easy. We should replace usage of `HashHelpers.Combine`, an internal low-quality hash combiner with `HashCode.Combine`. It should lead to better distribution in dictionaries and the hashing should be nearly as fast.

See: https://github.com/dotnet/coreclr/issues/15508

[2017-12-19 07:30] FenrisWolfAtMiddleEarth opened #25988 "NTLM authentication HttpClient in Core"
I am trying to use the HttpClient to access a REST service which requires NTLM authentication. However I keep getting a 401 Unauthorized. My code looks like this

[code]

My target framework is netcoreapp2.0. If I change to net461, it will work. Not sure what I am doing wrong?

[EDIT] Add C# syntax highlighting by @karelz

[2017-12-19 09:43] madelson commented on #20497
Thanks @safern I will give that a try.

[2017-12-19 10:42] stijnherreman commented on #25773
@davidsh I know OP is using net461, but I thought the binding redirects wouldn't be needed anymore with the combination of net471 and VS 15.5? Will .NET Framework 4.x need the binding redirects to 4.0.0.0 forever?

[2017-12-19 11:08] Roblinde commented on #25949
I have now deployed the exact same app to an Azure VM and have run the exact same tests against it. Not a single failure.

I even ramped up the test to run 10k requests in a `Parallel.For` loop instead of 3k, still nothing.

I think it's safe to assume that this is an Azure Web App issue.

What I'd like to ask, though, is when would this error occurr? @davidsh mentioned that this issue is "normal"

[2017-12-19 11:44] Tragetaschen commented on #21395
@benaadams
`string.ToUpper` depends on the current culture and there's no one-to-one mapping between characters. For example the one-character, lowercase `ß` in German becomes the two-character `SS` (`groß` => `GROSS`)

[2017-12-19 12:22] danielcrabtree commented on #25773
The problem seems to be the existence of the MSBuild libraries, I think they are the wrong version, as surely they should match the Reference Assembly version.

I was able to get all projects using the Reference Assemblies instead of the MSBuild libraries (without changing the actual dependencies), but after a while, it would revert to the MSBuild libraries.

I was able to resolve the issue using

[2017-12-19 12:46] wanton7 opened #25991 "Invalid setting csharp_new_line_within_query_expression_clauses in .editorconfig"
I used .editorconfig from corefx in our project. Noticed that .editorconfig file has one invalid setting that Roslyn doesn't support csharp_new_line_within_query_expression_clauses.
But Roslyn does support csharp_new_line_between_query_expression_clauses and it's missing from .editorconfig.

Also noticed that at least following settings are missing as well

csharp_indent_case_contents_when_block
d

[2017-12-19 14:34] natelaff commented on #25773
@stijnherreman Well, it did work gloriously in net471 + netstardard20 for the few weeks that 15.3 was out. 15.4 turned around and broke it again :P

[2017-12-19 15:07] kj1981 commented on #25960
I am also receiving the same error.

[2017-12-19 15:16] bruno-garcia commented on #5501
I guess a work around if you can't wait for Q2 2018 (I can't) is to peek at the [reference source](https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/SqlClient/SqlCommand.cs#L2696a) and [corefx impl](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlCommand.cs#L1960) and see if you can bring what you need into your pro

[2017-12-19 15:25] lwiechec commented on #8723
:+1: yes please!

[2017-12-19 16:04] danielmarbach commented on #25800
I was able to reproduce a similar issue with the AWS SDK using HttpClient underneath on Ubuntu 16.04. Details can be found https://github.com/aws/aws-sdk-net/issues/796

[2017-12-19 16:27] davidsh commented on #25988
Is this on Windows or Linux?

[2017-12-19 16:41] karelz commented on #25800
@danielmarbach why do you think it is the same problem? There is no concurrency in this case.
Were you able to reproduce the same problem with exactly identical code as posted here?

[2017-12-19 16:51] karelz commented on #25949
BTW: @davidsh is out for the rest of the year.
The termination is happening outside of your process - it can be the remote server (unlikely as you would see it repro also on your VM), or the server executing your code, or anything in the middle.

It would be best to ask Azure App Service support to help explain the differences in their environment vs. VMs. Feel free to loop me in on the case (see

[2017-12-19 17:12] Roblinde commented on #25949
Great @karelz thank you. The remote server is very unlikely as I work at Contentful and have checked our internal logs many times (also it would most likely affect many of our clients).

I will CC you on the Azure ticket and we'll see what gives.

Closing this and my apologies for disturbing David on his holidays.

Merry Christmas!

[2017-12-19 17:12] #25949 closed

[2017-12-19 17:24] eriawan commented on #19771
@weshaggard
Thanks for the reply! 👍
Any scheduled ETA for this System.Data.DatasetExtensions package? Will this package be included as part of .NET Standard 2.1/.NET Core 2.1? Or will it be available as standalone nuget package?

[2017-12-19 17:28] karelz commented on #24668
FYI: The API review discussion was recorded - see https://youtu.be/KKUjm8zaJBM?t=10 (50 min duration)

[2017-12-19 17:30] karelz commented on #25779
FYI:
The first API review discussion on 12/12 was recorded - see https://youtu.be/KKUjm8zaJBM?t=3014 (65 min duration)

The follow up 2h API review discussion on 12/14 was NOT recorded - see the notes above: https://github.com/dotnet/corefx/issues/25779#issuecomment-351883459

[2017-12-19 17:36] karelz commented on #25949
No need to apologize. It is in everyone's best interest to make sure Azure works great with .NET Core. We just need the right people helping to root cause the issue :)
If you don't get any response, please ping me with your case ID details, I can contact the dev team internally.

[2017-12-19 17:38] karelz commented on #19771
There is no .NET Standard 2.1 planned. Just .NET Core 2.1.

This package is part of [Windows Compatibility Pack for .NET Core](https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/).
We do no have official schedule yet. I expect it will ship at .NET Core 2.1 time frame the latest - see [.NET Core 2.1 high-level roadmap](https://github.com/dotnet

[2017-12-19 17:47] karelz commented on #25949
@Roblinde if you can look at the server traffic & logs, can you check if the failing requests even gets to the server and what happens if it does? (e.g. Wireshark traces from server)
It may be easier to set up a test server to check that ...

[2017-12-19 17:50] karelz commented on #25949
Another interesting data point might be to run the same client code from another language/runtime - Java/Node.js/PHP/anything else. I wonder if it hits the same problem (that would point to Azure App Service infra, not .NET Core runtime).

[2017-12-19 18:14] terrajobst commented on #17299
Looks good as proposed. BTW, I'm amazed it's only that many lines. Great API :-)

[2017-12-19 18:28] suwatch commented on #25949
@Roblinde We could take a look at the client (Azure WebApps side).   We need a site name and UTC time of the incident.   We can check if there was some limit or throttle that we impose within the Azure WebApps.

Better yet, if you could have a simpler repro (such as an exe that we can try ourselves) - it would speed things up.

[2017-12-19 18:40] joperezr commented on #17346
My validation work was all manual, although I did generate some scripts that can be ran from the release branches to test api compat for packages. If the issue was meant to have this happening on CI builds and official builds then my work doesn't cover that.

[2017-12-19 18:53] terrajobst commented on #22796
Given #25354 it seems we should look at this API holistically. I've commented there.

[2017-12-19 18:53] #22796 closed

[2017-12-19 18:55] joperezr commented on #24832
If you build (and run it) using Visual studio it won't actually use the 2.0.3 runtime yet since we use MSBuild directly to compile it and depending on which TFM you are targeting we will use assets coming from packages(like you are seeing above). In order to use the 2.0.3 runtime from the command line, you can try running
[code]
That should run on the 2.0.3 runtime so you shouldn't see the bug. If

[2017-12-19 19:01] terrajobst commented on #25354
The proposal makes sense. We've combined this with #22796. Notes:

* It basically means `Count` and `Offset` will have to throw when `SendPacketsElement` is constructed with long based values that exceed `int.MaxValue`.
* It seems nonsensical to expose `FileStream` overloads that operate on both `int` and `long` so we've only added the `long` ones.
* `FileStream` property will return  null when no

[2017-12-19 19:24] terrajobst commented on #6073
* It seems `out` doesn't work well in Linq as it forces a mutable variable in the containing scope.
* The tuple results seem better although this API really screams for `Optional<T>`. Mostly because tuples are harder to document and enforce consistency in naming.
* We're not sure we should "hijack" the Try-parse pattern for that, but it might be a sensible way. We'd just need to define that patter

[2017-12-19 19:42] mattwar commented on #6073
You don't need to have all methods on Enumerable exist on Queryable.  ToXXX collection methods will work automatically because IQueryable derives from IEnumerable.  You only need methods on Queryable that need to either be implemented differently or converted to an Expression (to be executed later by the provider).

[2017-12-19 19:46] JonHanna commented on #6073
@mattwar that's what I said. Those under discussion here would be in the category where we should have parity.

[2017-12-19 19:56] TylerBrinkley commented on #17299
I'd like to take this if that's good with you guys.

[2017-12-19 19:56] terrajobst commented on #24445
Alright, looking around it seems we want this API:

[code]

Notes:
* Ideally, we'd design this as a single API but the established APIs (`StringBuilder` `List<T>`, `HashSet<T>`) we think having separate APIs is more conistent. While @davkean cares mostly about growing, not supporting shrinking seems unnecessary dumb, especially it might end up being the very next ask due to perf work.
* `EnsureCap

[2017-12-19 19:56] jnm2 commented on #6073
@terrajobst The excellent LINQ out var proposal (https://github.com/dotnet/csharplang/issues/159), which we already want for other APIs, would make `TrySingle` automatically appealing in LINQ.

[2017-12-19 20:11] danielmarbach commented on #25800
I was not able to reproduce it on the same machine with the code provided here and not even when taking concurrency into account. When you look at the stack trace the exception is also raised from `FinishSendAsyncUnbuffered`. I was thinking they might be related.

[2017-12-19 20:13] karelz commented on #17299
Go ahead, assigned to you.
BTW: The approved API was the one matching the current API pattern - so we will be adding 4 methods, not just 2 (with default cancellatinToken).

[2017-12-19 20:33] TylerBrinkley commented on #17299
Sounds good. Thanks.

[2017-12-19 20:49] Priya91 commented on #25800
Almost all exceptions will be from there, that's the method that awaits the execution of the send task that sends the request.

[2017-12-19 20:52] karelz commented on #17299
FYI: The API review discussion was recorded - see https://youtu.be/ZrT0uOsqQlI?t=46 (6 min duration)

[2017-12-19 20:52] karelz commented on #25354
FYI: The API review discussion was recorded - see https://youtu.be/ZrT0uOsqQlI?t=393 (48 min duration)

[2017-12-19 20:53] karelz commented on #6073
FYI: The API review discussion was recorded - see https://youtu.be/ZrT0uOsqQlI?t=3282 (25 min duration)

[2017-12-19 20:53] karelz commented on #24445
FYI: The API review discussion was recorded - see https://youtu.be/ZrT0uOsqQlI?t=4774 (30 min duration)

[2017-12-19 20:54] karelz commented on #25785
FYI: First part of the API review discussion was recorded - see https://youtu.be/ZrT0uOsqQlI?t=6541 (5 min duration)

[2017-12-19 20:54] rafael-aero commented on #21395
any thoughts on supporting running Regex on ReadOnlySpan<char>?

[2017-12-19 21:13] karelz commented on #25967
@hmdhasani can you please post a self-contained repro which contains the good and bad 'minus'? (entered via `\u` in the string). Thanks!

[2017-12-19 21:23] karelz commented on #25974
I assume the In-versions reuse the first argument, and return it as result. Is that correct?
Wouldn't it be better if it is instance method on the type then?
Given that we do not have them yet (not in [Numerics](https://apisof.net/catalog/System.Numerics)), I wonder if it is pattern we want to introduce.

Also I wonder if C# doesn't make `+=` work based off `+` operator (I heard something like it,

[2017-12-19 21:47] TheAngryByrd commented on #19914
If anyone wants to use `dotnet-mono` I added a  `--purge-system-net-http` in [0.3.3-alpha001}(https://www.nuget.org/packages/dotnet-mono/0.3.3-alpha001) flag that will delete System.Net.Http.dll after build and fix the `Foobar.exe.config` binding redirects and try to use the GAC version.

[2017-12-19 22:02] ColbyBurke opened #25995 "Does anybody know what these errors mean at runtime? (Authentication)"
I am using Swagger so maybe that has to do with it...
[code]
here is from my utils:

    internal sealed class UserInfoProvider : IUserInfoProvider
    {
        private readonly IHttpContextAccessor _httpContextAccessor;

        public UserInfoProvider(IHttpContextAccessor httpContextAccessor)
        {
            _httpContextAccessor = httpContextAccessor
                ?? throw new ArgumentN

[2017-12-19 22:12] tannergooding commented on #25974
There was a discussion about some of these methods using in already and it was rejected in PR (on phone, so I can't find the link right now).

The end goal should be to fix any code generated issues here so that passing by value happens in register like  rather than implicitly by ref with shadow copying or by explicitly passing these by ref using in (passing by register without shadow copying is t

[2017-12-19 22:13] tannergooding commented on #25974
Cc. @eerhardt

[2017-12-19 22:25] Clockwork-Muse commented on #25995
... you probably want StackOverflow, or _maybe_ the relevant ASP NET repositories, if they can't give you any help.  This isn't really the correct place for this question.

First, though, I'd check and make sure your JWT is valid, being sent, etc.  It's impossible to tell what's really going wrong here otherwise.

[2017-12-19 22:26] ColbyBurke commented on #25995
I cant post on stackoverflow anymore...

[2017-12-19 22:42] steveharter commented on #24090
I verified success with latest 2.1 preview:
[code]

Also tested this scenario with auto roll-forward from 2.0 to 2.1 when 2.0 is not installed (with new roll-forward policy changes via https://github.com/dotnet/core-setup/issues/3469)
[code]
Snippet from COREHOST_TRACE=1:
[code]

[2017-12-19 23:33] benaadams commented on #24445
Just watching review

`public int EnsureCapacity(int capacity)` is good

`public void TrimExcess(int capacity)`

:worried: Not sure you'd be wanting to shrink for perf; it would be a very expensive and allocating call, re-allocating 90% of the dictionary:
1. Reallocate the `buckets` and `entries` arrays
2. Copy entires 1 by 1, defragging removed entry gaps (Resize[increase] just does array copy)
3

[2017-12-19 23:46] terrajobst commented on #25785
[code]

[2017-12-19 23:58] benaadams commented on #24445
Note: not saying `TrimExcess` isn't possible; just it may be a counter productive api - as people will likely call it if its there, but really they shouldn't as its outcome will usually be bad

[2017-12-20 01:38] caesar1995 commented on #20294
Closing as suggested.

[2017-12-20 01:38] #20294 closed

[2017-12-20 04:46] KrzysztofCwalina commented on #21395
I think APIs that don't specify otherwise (including the ToUpper/Lower) should be culture invariant. If We want to provide culture aware APIs, they should take an explicit CultureInfo argument.

[2017-12-20 05:59] jkotas commented on #25779
Have we proved that the proposed API achieves this goal?

It seems that this API will very likely need iterating on before it is declared stable, similar to how we have been iterating on Span/Memory or pipelines to make them work well for ASP.NET Core.

[2017-12-20 07:00] eriawan commented on #19771
@karelz
Thanks! Out of curiosity, any reason why is this package included in Windows Compatibility Pack? I have used it from myget, and afaik it doesn't have any dependency to Windows platform at all, therefore it should be good/OK to be included into .NET Core.

[2017-12-20 07:05] danielcrabtree commented on #24832
`dotnet --version` returns 2.1.2.

On executing those 4 commands, they all work, but the program crashes with the same error when using dotnet run. Using process explorer, it still seems to be using the same incorrect dll: `D:\Users\[Username]\.nuget\packages\runtime.win-x64.microsoft.netcore.app\2.0.0\runtimes\win-x64\native\System.Private.CoreLib.dll`.

I'm using Visual Studio 2017 15.5.2. I thi

[2017-12-20 07:06] Roblinde commented on #25949
@suwatch @karelz  Thanks! I will email you both the details and the repro I have right now and CC you in on the Azure support thread.

[2017-12-20 09:06] chetski opened #25997 "HttpClient/HttpWebRequest gives error 407 (ProxyAuthenticationRequired) when used with a proxy server that requires authentication"
When making a HTTP request with either HttpClient or HttpWebRequest via a proxy server that requires authentication the result is always 407 (ProxyAuthenticationRequired). Compiling the same code with .NET framework does not give an error. Code to reproduce the issue:

[code]

The same error is given if we make the request via `HttpClient` and `HttpWebRequest`. It also happens if you create a cust

[2017-12-20 09:19] Ghostbird commented on #24552
@DHowett-MSFT I had the same problem with the transition from Debian 8. The weirdest thing was that there was no error on the .NET side. My API terminated as if performing an expected shutdown (exit code 0). _That_ is a pretty major bug in my books, but the underlying cause was my misconfigured system. Uninstalling libssl1.0.0 was the solution for me.

[2017-12-20 09:48] 4creators commented on #25926
There is a large class of instructions missing: all that may take as an argument both SIMD register `xmm`, `ymm` or memory address i.e.:

[code]
_it could be that there was Api Review decision to not implement these variants, than this would be to just remind what is missing by design_

cc @tannergooding @fiigii

[2017-12-20 09:53] mikedn commented on #25926
What for? You can just write `Add(left, *pRight)`.

[2017-12-20 09:55] 4creators commented on #25926
Providing RyuJIT will generate `paddq xmm, m128` without separate load instruction.

[2017-12-20 09:55] fiigii commented on #25926
@4creators We do not expose these reg-mem/mem-reg instructions as intrinsics. The compiler will fold `Load`/`Store` into `paddq xmm, m128`. Please see the discussion https://github.com/dotnet/coreclr/pull/15538#issuecomment-352090230

[2017-12-20 09:56] 4creators commented on #25926
@fiigii OK I have expected it was by design.

[2017-12-20 11:22] kurtschelfthout commented on #25354
Awesome. Thanks!

[2017-12-20 11:32] JonHanna commented on #23054
#23201 did fix things at the time, but of the runs that have timed out over the last month many (most) seem to have failed solely due to running out of time, and the last successful run just scraped in after 2 hours, 57 minutes against a 3-hour deadline, so I'm reopening this.

CC: @dotnet/dnceng

[2017-12-20 11:43] aobatact commented on #25974
Both by value codes are copied from the corefx and by ref codes are just adding in so these do not use a first argument.
[code]

[2017-12-20 11:51] evil-shrike commented on #24282
There's an interesting point here.

On System.Data.SqlClient v4.3.0 opening an SqlConnection inside `TransactionScope` or with set `Transaction.Current` works. Transaction isn't distributed of cause, but SqlClient doesn't throw. It works in the same way as without `TransactionScope`.

On the contrary on System.Data.SqlClient v4.4.0 opening an SqlConnection in the same conditions throws System.NotS

[2017-12-20 14:00] FenrisWolfAtMiddleEarth commented on #25988
- It is Windows platform, or I could not verify that it works as net461
- No redirection is needed to reproduce the problem
- The attached solution can reproduce the problem. Run the host part on a different machine, as it cannot be reproduced on localhost.

Change the target framework of the client project to net461, and it will work

[NtlmAuthentication.zip](https://github.com/dotnet/corefx/file

[2017-12-20 15:03] svick commented on #21395
@rafael-aero There's a separate issue for that: https://github.com/dotnet/corefx/issues/24145.

[2017-12-20 15:21] SamuelEnglard commented on #6073
@karelz would here be the right place to reply to the review?

[2017-12-20 15:51] magol commented on #24145
+1

[2017-12-20 15:53] artkpv opened #25998 "Test failures in System.Drawing.Common"
Machine:
[code]

**IsDirectPrintingSupported_ImageFormatSupported_ReturnsExpected(imageFormat: Png)**
[code]

**PrinterSettingsTests.SupportsColor_ReturnsExpected**
[code]

**ToLogFont_Invoke_ReturnsExpected**
[code]

**ToLogFont_InvokeGraphics_ReturnsExpected**
[code]
[testResults.zip](https://github.com/dotnet/corefx/files/1576175/testResults.zip)

[2017-12-20 15:56] artkpv commented on #25998
Under **System.DirectoryServices.ActiveDirectory**

**GetDomainController_InvalidIPV6_ThrowsActiveDirectoryObjectNotFoundException**
[code]

[testResults.zip](https://github.com/dotnet/corefx/files/1576186/testResults.zip)

[2017-12-20 16:02] artkpv commented on #25998
Under **System.IO.FileSystem.AccessControl**

**AddAuditRule_Succeeds**
**SetAccessRule_IgnoreExistingRule_Succeeds**
**AddAccessRule_Succeeds**
[code]

**RemoveAccessRule_IdenticalRule_Succeeds**
**RemoveAccessRuleAll_Succeeds**
**RemoveAuditRule_Succeeds**
[code]

**RemoveAccessRuleSpecific_Succeeds**
**SetAuditRule_Succeeds**
[code]

**RemoveAuditRuleSpecific_NoMatchableRuleFound**
[code]

**Se

[2017-12-20 16:04] artkpv commented on #25998
Under **System.Net.Security**

**NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails**
[code]

**NegotiateStream_StreamToStream_Authentication_EmptyCredentials_Fails**
[code]

And other similar. Please see the attached zip
[testResults.zip](https://github.com/dotnet/corefx/files/1576210/testResults.zip)

[2017-12-20 16:27] kassemsandarusi commented on #1593
Hey I had a few questions about this issue. Implementing IEnumerable<XPathNavigator> leads to this:

[code]

[2017-12-20 16:48] karelz commented on #6073
@SamuelEnglard sure, you can continue the discussion here. Given that there are plenty of opinions on this matter, I can't promise everything will be answered here.

[2017-12-20 16:54] karelz commented on #25974
Oh, it just adds the `in` modifier on arguments. I didn't get it earlier.
That should be fairly straightforward and non-controversial change, assuming it really helps JIT to emit better code.

Can you show the difference in assembly generated by JIT between the 2 cases? (BenchmarkDotNet should have the capability)

[2017-12-20 16:57] davidsh commented on #25988
This behavior difference between .NET Core (Windows) and .NET Framework is not due to using NTLM.  It is due to the scenario involving the use of DefaultCredentials.

On .NET Core (Windows), the HTTP stack uses WinHTTP.  And as part of that, the requirements for releasing default credentials to a remote host are different.  They are only released when the remote server is considered part of the "I

[2017-12-20 16:57] karelz commented on #24832
I don't understand why execution of the app would load anything from `.nuget\packages` directory. Maybe I am just naive ...
Are you able to repro on clean machine/VM?

[2017-12-20 17:11] karelz commented on #19771
In general, we are trying to stop shipping individual packages where we can - they are very high cost for us compared to the benefit they bring. (e.g. test matrix explodes exponentially)
Shipping in standalone Windows Compatibility Pack allows us to provide value also on .NET Core 2.0, without forcing people to upgrade to .NET Core 2.1 right away.