[2017-02-06 17:45] weshaggard commented on #15826
@dsplaisted this is a similar case to the NS 1.6.1 issue, where the ValueTuple package is upgrading packages above what we shipped in netcoreapp1.0 and will likely cause issues.

If we want to support System.ValueTuple package with netcoreapp1.0 then we will need to update the System.ValueTuple package to have matching dependencies.

cc @jcouv

[2017-02-06 17:56] weshaggard commented on #15809
I'd prefer we remove it completely as well.

[2017-02-06 17:59] sepidehMS commented on #15332
@darxis Tests are usually written at the same time new APIs are being added. If you have time, it would be great if you could write some tests for these APIs as well. Thanks for your contribution.

[2017-02-06 18:01] karelz commented on #15823
AFAIK CoreFX XML documentation is not always used in IntelliSense - @ericstj @weshaggard can you please clarify this case?

[2017-02-06 18:03] darxis commented on #15332
@sepidehMS Ok, I'm going to write some tests and update the PR when done.

[2017-02-06 18:06] karelz commented on #15830
Do you propose to include the **in .NET Standard**, or build a package which is **on top of .NET Standard**?
We have to think carefully through the implications. These things seem easy, but have unexpected implications in future releases and might limit our ability to include the APIs in .NET Standard in future.

[2017-02-06 18:08] karelz commented on #15842
Should we close the bug as by design = won't fix then?

[2017-02-06 18:11] karelz commented on #15849
@mellinoe @weshaggard are they supposed to work with the new infra?

[2017-02-06 18:11] dsplaisted commented on #15826
@weshaggard It's a similar situation, but the difference with ValueTuple is that it's not actually upgrading all of the packages.  It's upgrading some of the runtime packages (for example runtime.win.System.Console) but not their dependencies (for example System.IO.FileSystem.Primitives).

I'm not sure whether this will work at runtime or not, but even if it does the package downgrade warnings wil

[2017-02-06 18:20] wjk opened #15870 "System.Security.Cryptography.Native not linking against correct OpenSSL"
As per the directions for building CoreFX from source, I have installed OpenSSL (version 1.0.2k) through Homebrew, and manually symlinked `libcrypto.1.0.0.dylib`, `libssl.1.0.0.dylib`, and the pkgconfig files for those two libraries into `/usr/local`. However, when I go to build corefx, I get a linker error. Investigation reveals that the compiler is trying to link against _the outdated 0.9.8 vers

[2017-02-06 18:21] tarekgh commented on #1271
@ChrisEelmaa I have added some comments to the PR. thanks again for getting this ready for the review.

[2017-02-06 18:30] weshaggard commented on #15849
Currently our test builds/runs only run the netcoreapp configurations and so we aren't yet building and running the netstandard configurations. We have https://github.com/dotnet/corefx/issues/15667 tracking that.

[2017-02-06 18:34] tannergooding commented on #15830
I was requesting that they be included in .NET Standard, presumably as part of `System.Runtime.Extensions`?

Are you indicating that this might not be possible due to any loss of precision that would occur when the runtime support is merged back into the Desktop framework?

[2017-02-06 18:35] weshaggard commented on #15847
This is another instance of https://github.com/dotnet/corefx/issues/15744. I will spend some time to try and fix this today.

[2017-02-06 18:35] davidsh commented on #9768
There are no current plans to implement this functionality.  Implementing this on Window will require changes to the native HTTP stacks.  A linux-only implementation might be possible.

Feel free to submit a PR for this if you need it soon.

[2017-02-06 18:36] stephentoub commented on #15847
Thanks, Wes.

[2017-02-06 18:37] blackdwarf commented on #15842
@karelz I would say so, yes.

[2017-02-06 18:38] karelz commented on #15830
Including them **in** the standard, before they are truly available on Desktop, may be very hard to do if Desktop just forwards the types into Desktop. We have burned ourselves in the area recently (System.Net.Http), so I would like to be extra careful before we do anything like that.
cc @weshaggard @ericstj

What is the value? How many customers are waiting for the APIs? Is there a reasonable wor

[2017-02-06 18:39] karelz commented on #15870
cc @bartonjs

[2017-02-06 18:39] #15842 closed

[2017-02-06 18:48] tannergooding commented on #15830
Understood.

The value comes from being able to consume the `System.MathF` APIs everywhere and through a single reference, without needing any kind of workarounds.

I am unsure how many customers are waiting on the APIs.

The workaround if users wan't to consume the APIs today, and they want to target more than just `.netcoreapp1.1`, then they need to create their own class that wraps the function

[2017-02-06 18:56] karelz commented on #15830
Given the fact we could not even provide the full functionality (without down-casting), I think the workaround is reasonable place to be in.

[2017-02-06 18:59] justin-lavelle opened #15871 "HttpClient with Client Certificate on CentOS 7"
HttpClient does not seem to work with a client certificate on linux (CentOS 7).
Using dotnet 1.1 with System.Net.Http 4.3.0 in a console app and asp.net site.

[code]
It works fine on Windows 8.1/10 but fails on CentOS 7 with the following error...
`
Exception: System.PlatformNotSupportedException: The libcurl library in use (7.29.0) and its SSL backend ("NSS/3.19.1 Basic ECC") do not support cust

[2017-02-06 19:09] JeremyKuhne commented on #15554
Sorry about the difficulties. I'll help figure out what is going on. As mentioned, the build environment is changing pretty fast- you apparently are hitting some quirk or bug in our tools/docs.

Sometimes the VS files for a solution gets messed up, wiping out .user files and the hidden .vs folder is a useful clean step.

Make sure that the test project is the startup project. If you're getting a c

[2017-02-06 19:19] danmosemsft commented on #15849
Ouch. I didn't realize (or had forgotten) this. Meantime is it reasonable to check in without #if netstandard17? The only effect being test may fail on desktop?

Also should we be replacing netstandard17 define with netstandard? I'm guessing not, since we will need to filter desktop tests later so they don't include "netstandard21" until they support it.

But presumably netstandard17 define should

[2017-02-06 19:25] masaeedu commented on #10577
@shmao Which version of NETStandard.Library is this exposed in? The implicitly referenced NETStandard.Library for SDK version 2.0.0-alpha-004778 does not seem to have this.

[2017-02-06 19:26] TylerBrinkley commented on #15691
I've formalized this request.

@ianhays, @safern any thoughts?

[2017-02-06 19:37] weshaggard commented on #15849
We are trying to move most things to the version-less TFM's which I think we can do for this case as well.

We still need to make a decision of whether or not we want all concrete platforms (i.e. netcoreapp, netfx, uap, etc) to be the union of all the tests in a project including the netstandard tests that apply to that platform or if we want netstandard configuration to be mutually exclusive and

[2017-02-06 19:38] bartonjs commented on #15870
@wjk You shouldn't need to specify OPENSSL_ROOT_DIR, it's part of a fallback path for when pkg-config isn't available.

One thing you may be missing, in fact, is pkg-config (`brew install pkg-config`).

[code]

(Though clearly I need to upgrade openssl to get 1.0.2k)

If pkg-config is available and isn't giving the -I and -L values you can try the very verbose debug option:

[code]

It's pretty ve

[2017-02-06 19:53] danmosemsft commented on #15849
Need an issue for the versionless define? that should be easy at least.

[2017-02-06 20:08] giant-chicken commented on #15871
We're also having this issue. CentOS is pretty popular.  We are having a lot of trouble locating an RPM that will work with Cent7. We also couldn't get it working by compiling from source.

[2017-02-06 20:15] mellinoe commented on #15845
Yes, it should never happen during normal situations. That semaphore file is created [at the end of the target I linked](https://github.com/dotnet/corefx/blob/master/Tools-Override/ConstructSharedFx.targets#L56), so if it exists, that means the test folder should already exist.

[2017-02-06 20:18] dhoehna commented on #15554
I'll try your recommendation.  I am now re-installing Visual Studio on my laptop.  I am also putting the corfx project on my desktop.  If my desktop version has the same error than it might be I am doing something wrong.

[2017-02-06 20:40] willdean commented on #15845
@mellinoe I think the issue is that if one has ill-advisedly 'cleaned up' the tools directory, most of it gets rebuilt for you automatically, but the testdotnetcli folder doesn't get rebuilt because its semaphore is in a different place.  I don't suppose it matters in the larger scheme of things though.

[2017-02-06 20:40] #15845 closed

[2017-02-06 20:41] wjk commented on #15870
@bartonjs As it turns out, I had pkgconfig already installed; it was the pkgconfig file CMake was looking for that was the problem. Because `brew link openssl` no longer functions, I have to ensure that all the moving parts are symlinked correctly myself. I had manually symlinked `libcrypto.pc` and `libssl.pc`, but not `openssl.pc`. Hence, pkg-config was instead finding `/usr/lib/pkgconfig/openssl

[2017-02-06 20:41] #15870 closed

[2017-02-06 20:59] akoeplinger commented on #15825
@eerhardt Mono uses ICU as well, so there shouldn't be a difference AFAIK.

If you select `en-US-u-va-posix (type=standard):   American English (Computer, Standard Sort Order)` in the demo link you posted, then it reorders the input:

![image](https://cloud.githubusercontent.com/assets/1376924/22666045/7976deae-ecb7-11e6-8603-986104bd9321.png)

[2017-02-06 21:04] bartonjs commented on #15870
@wjk Glad it was a simple problem.  Sorry it's such a pain to diagnose :(.

[2017-02-06 21:11] karelz commented on #15871
cc @Priya91 @stephentoub

[2017-02-06 21:15] emirhosseini commented on #13619
I'm having the same issue with the Visual Studio 2017 test explorer.  Running a "dotnet test" command however works fine.  Running on CLI version rc3.

[2017-02-06 21:15] eerhardt commented on #15825
If you wanted to use `en-us-posix` culture, you can:

[code]

[code]

[2017-02-06 21:24] mellinoe commented on #15845
@willdean That's actually a good point. Generally I clean both the `bin` and `Tools` directories so I've probably dodged this issue, but it does seem broken. Personally I think we should move the whole "testdotnetcli" under the bin directory in the first place.

[2017-02-06 21:34] willdean commented on #15845
@mellinoe Wherever it goes, MHO is that the semaphore file (if that really is the best way to detect it) should be with it.

[2017-02-06 21:50] shmao commented on #10577
@masaeedu The APIs are available in NetStandard2.0. I checked the latest [daily build](https://github.com/dotnet/core-setup#daily-builds). The APIs are available there.

[2017-02-06 21:57] Priya91 commented on #15871
@justin-lavelle Can you try sending the request through curl without .net,

```curl --cacert <client-cerficate> url```

[2017-02-06 22:01] weshaggard commented on #15823
For any new libraries like System.ValueTuple we don't have any old xml intellisense files to fall back to so we do produce these from the xml doc comments in code. This one is broken because of what @dsplaisted called out which is because the file isn't correctly named. I'm going to submit a PR to fix that.

[2017-02-06 22:04] weshaggard commented on #15823
PR https://github.com/dotnet/corefx/pull/15880 should take care of this issue.

[2017-02-06 22:04] shmao commented on #14820
All issues in this sprint were completed. Closing this.

[2017-02-06 22:04] #14820 closed

[2017-02-06 22:33] Priya91 commented on #14767
this is fixed. closing.

[2017-02-06 22:33] #14767 closed

[2017-02-06 23:26] masaeedu commented on #10577
@shmao I've set up a repro of the issue I'm seeing in `git@gitlab.com:masaeedu/netstandard2_wcf_problems.git`. Could you clone that and try to restore + build?

[2017-02-06 23:30] gkhanna79 opened #15884 "Resurrect CoreFX Validation on Nano"
Needs to be enabled, at minimum, in CI. For completeness (as we do for supported platforms), it needs to be enabled in Helix as well.

[2017-02-06 23:32] gkhanna79 commented on #15884
From @Priya91:

 - If you look at the run-tests.cmd, it is a simple for loop of the output test folder, invoking xunit on each folder. This folder structure has changed quite a lot depending on what platform-OS is built, and this script hasn’t been updated when the build infrastructure changed in corefx.

- Nano is not being tested on Helix. Nano is only being tested in Jenkins CI, and as you can

[2017-02-06 23:37] stephentoub commented on #15850
@weshaggard, is this related to the other issues you're investigating?

[2017-02-06 23:40] shmao commented on #10577
@masaeedu Sure. Can you share an Https Url to your repo with me? I had trouble accessing your repo using the Url above.

[2017-02-06 23:41] stephentoub commented on #15884
This is a dup of https://github.com/dotnet/corefx/issues/15280

[2017-02-06 23:46] weshaggard commented on #15850
@hughbe for your step 3 are you calling build.cmd from the root again or you just building the individual src library? And are you doing it after you modify source code of the project?

Just to call it out doing a BuildAndTest on a test project no longer causes the src library to build so it has to be built before you can expect changes to manifest in the test run.

One potential approach here is

[2017-02-06 23:50] shmao commented on #10577
@masaeedu Sure. Can you please grant me permission to access your repo? I'm getting the following error,

[2017-02-07 00:03] masaeedu commented on #10577
Sorry, I'll check as soon as I'm back at my desk. Could you try visiting
https://gitlab.com/masaeedu/netstandard2_wcf_problems ?

On Feb 6, 2017 6:50 PM, "Shin Mao" <notifications@github.com> wrote:

[2017-02-07 00:07] shmao commented on #10577
I'm getting the same error as above. I'm no sure if I had access to the repo. FYI, My username on GitLab is maoxing330.

[2017-02-07 00:15] #15823 closed

[2017-02-07 00:21] safern commented on #15691
I think adding `TryGetValue` would be useful and as you guys already mentioned there are some practical uses where this can be useful.

About the index getter, why should this be valuable if adding `TryGetValue` would already give users the tool to get the value in a safe way without throwing an exception if the key doesn't exist and knowing if the key did exist while trying to get the value witho

[2017-02-07 00:24] masaeedu commented on #10577
@shmao Alright, I'm pretty sure I've set the project permissions to as permissive as they can be, and have added you as a contributor just in case 😄. Thanks for your patience.

[2017-02-07 00:33] dcwuser commented on #11030
Two main observations: (1) The type signature issues here are complex. (2) This doesn't seem to me to add much practical value.

By the way, Abs takes one argument, not two.

First: The point of having methods like this is presumably to be able to build sophisticated algorithms on top of them which will then automatically work for all the built-in numeric types. Let's start with looks to me like t

[2017-02-07 00:39] willdean commented on #15752
I just pushed about 20 or so migrated tests to #15867 - anybody thinking modding test code in the next day or so should check on progress first, because these are very large changes which would be hard to merge.

[2017-02-07 00:44] swgillespie commented on #15158
@danmosemsft No update, sorry - haven't had a chance to look yet. Will take a look today or tomorrow.

[2017-02-07 00:48] fujiy commented on #15829
Thanks @stephentoub. It worked.

@arcs001. I followed the following steps:

CoreFX
build -release
build-tests -release -skiptests

CoreCLR:
build release skiptests

Follow these instructions: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

Execute the following command at C:\Users\fepessot\Source\corefx\src\System.Collec

[2017-02-07 01:00] TylerBrinkley commented on #15691
@safern I think you're probably right. The index getter is probably not that useful. I guess I was trying to mirror `Dictionary` and added it as an afterthought. I've removed it from the proposal.

[2017-02-07 01:14] danmosemsft commented on #15884
Dupe.

[2017-02-07 01:14] #15884 closed

[2017-02-07 01:17] shmao commented on #10577
@masaeedu Cool. I confirmed I was able to clone the repo. Thanks :)

I will try restore + build.

[2017-02-07 01:25] dennisdietrich opened #15891 "Test issue: System.IO.MemoryMappedFiles.Tests.CrossProcessTests.DataShared crashes"
The cross-process memory-mapped file test below consistently crashes on my machine on Windows 10 Pro even on first build of a freshly cloned repo. Command line:
[code]
Test output:
[code]

[2017-02-07 01:25] shmao opened #15892 "Change "#if NET_NATIVE" to "#if uapaot" in S.P.DataContractSerialization"
We need make changes to the following compilation directives,

1.  Remove USE_REFEMIT as we do not use it.
2. Change NET_NATIVE to uapaot

[2017-02-07 01:54] jkotas commented on #15892
We will also want to have AOT friendly builds for Console CoreRT apps. They are not called uapaot. I do not think it is a good idea to use `#if uapaot` for AOT friendly build.

Unless you can come up with a better, I think that `NET_NATIVE` is just fine.

[2017-02-07 02:03] danmosemsft commented on #15691
I updated the rationale to capture the use cases discussed above.

[2017-02-07 02:04] shmao commented on #10577
@masaeedu I tried building your app, but it failed with numerous errors. But I was able to follow the [instruction](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md) and create a new app and use one of the new added APIs. Here's the configuration in my csproj file,

[code]

Then I put the following configuration into your app's csproj file and the build succeed

[2017-02-07 02:08] masaeedu commented on #10577
@shmao Yes, it was exploding for me as well, I am trying to understand how to make it work. I am assuming you generated yours using `dotnet new`, whereas I generated mine using `dotnet new -t lib`. I need a .NET Standard class library project that I can reference in other projects (e.g. in a .NET 4.6.1 console application), so an executable targeting the `netcoreapp` runtime would not work.

[2017-02-07 02:13] karelz commented on #15892
cc @weshaggard

[2017-02-07 02:34] dennisdietrich opened #15895 "Test failure: System.Net.Tests.WebProxyTest.BypassOnLocal_MatchesExpected on Ubuntu 16.04 LTS (x64)"
Getting the following test failure on 64-bit Ubuntu 16.04 LTS. Command line:
[code]
Test output:
[code]

[2017-02-07 02:40] safern commented on #15691
Thanks for updating that @danmosemsft.

API proposal looks good for me, so I will go ahead and add the label api-ready-for-review so that the members in charge of approving APIs can review it. Thanks @TylerBrinkley for your proposal, the review process should take one or a couple of weeks.

[2017-02-07 02:41] justin-lavelle commented on #15871
Well we seem to have been able to work around it by importing the certificate into nss on CentOS and changing our code to remove the HttpClientHandler. letting

With the default curl
`curl 7.29.0 (x86_64-redhat-linux-gnu) libcurl/7.29.0 NSS/3.19.1 Basic ECC zlib/1.2.7 libidn/1.28 libssh2/1.4.3`
[code]
This is turns out is because the default curl using nss is wants the cert imported to nss.

With

[2017-02-07 03:18] danmosemsft opened #15897 "Couple of tests should be [Theory] not [Fact]"
Run tests by whatever means, then look in the log xml:

[code]

[2017-02-07 03:22] shmao commented on #10577
The above config I used in your app csproj should build the app as an .dll (it did for me).

[2017-02-07 03:51] hilts-vaughan commented on #15118
Are there any updates on this? Quite a few distros no longer shipping SSL with this on: http://disablessl3.com/

Is there a good reason this is still required?

[2017-02-07 03:55] bartonjs commented on #15118
@hilts-vaughan We don't officially build for Arch.  When running .NET Core on Arch you're using a .so built for a platform which still has SSL 3.0 enabled.

If you were to clone the corefx repository and `./build-native.sh` on Arch, that would produce a System.Security.Cryptography.Native.OpenSsl.so which knew SSL 3.0 had been disabled by the platform at build time, and your error would go away.

[2017-02-07 03:58] hilts-vaughan commented on #15118
Hi @bartonjs

I totally get that. I was just wondering -- why is it that it tries to use SSLv3 in the first place? i.e: why select that particular algorithm?

[2017-02-07 04:10] bartonjs commented on #15118
SSLv3 only gets used when an application explicitly requests it, for example in `sslStream.AuthenticateAsClientAsync("myolddevice.intranet", null, SslProtocols.Ssl3, true)`

Note that in #15661 the filer is trying explicitly to communicate with old hardware which supports SSLv3 but not Tls1.0.  So just blanket removing SSLv3 isn't viewed as a simple win by all users.

[2017-02-07 07:46] jooooel commented on #15865
@JonHanna Thank you! Works like a charm :)

[2017-02-07 09:52] varocarbas commented on #12492
@SunnyWar  Sorry for joining a bit late this chat. Just wanted to thanks you for your extremely valuable contribution.

Nice nick and pic, although kind of incompatible with the personality you have shown. I mean... some people might have some prejudices about the true intentions of someone whose nick includes "war",  has a pic like the one you have and come with a so curious concern in a so curio

[2017-02-07 10:01] varocarbas commented on #12492
@karelz Not sure if you read my last comment to terrajobs (I wrote it in a thread that you might be subscribed to, no idea), but here comes a good summary just in case: I don't want to create problems, neither I will tolerate certain behaviours (which I seem to attract in this area; just look at what the war fellow above did or the emoticon which my answer has got just 1 minute after being written

[2017-02-07 10:13] varocarbas commented on #12492
@karelz Not sure if you read my last comment to terrajobs (I wrote it in a thread to which you might be subscribed), but here comes a good summary just in case: I don't want to create problems, neither I will tolerate certain behaviours. As proven by what the war fellow above did or the emoticon which my answer got just 1 minute after being written (-> most likely delivered by the "person" who rep

[2017-02-07 10:25] varocarbas commented on #12492
@JonHanna I saw that you were the confused-emoji guy. Yes, this is a certainly off-topic post, but IMO motivated for quite a few reasons. I think that we discussed the technical aspects of my proposal at the start. I continue thinking the same than before (i.e., I would like to have this feature), but apparently not too many people think like me (or the noisy ones or the ones whose motivation I do

[2017-02-07 12:24] stephentoub commented on #15897
Dup of https://github.com/dotnet/corefx/issues/15827, which was already fixed.

[2017-02-07 12:24] #15897 closed

[2017-02-07 13:10] nzcoward opened #15902 "AccountManagement Context.cs"
In the AccountManagement namespace I am unable to create a PrincipalContext  with no password. This is useful for situations where we're using a gMSA or MSA. PrincipalContext throws an exception in the constructor.

With DirectoryEntry, I am able to do so:

[code]

Note, this isn't just corefx - it's also in the .NET 4 (v4.0.30319) version.

[2017-02-07 14:23] stephentoub commented on #15895
Thanks.  Dup of https://github.com/dotnet/corefx/issues/13464.

[2017-02-07 14:23] #15895 closed

[2017-02-07 14:24] jorgemota commented on #15118
@bartonjs  I got only the exception connecting to SQL Server from dotnet

[2017-02-07 14:35] dennisdietrich commented on #15895
Ugh, my bad. I checked if this was a known issue but missed 13464 somehow. Thanks!

[2017-02-07 14:36] stephentoub commented on #15895
No problem. Thanks for letting us know, regardless.

[2017-02-07 14:40] stephentoub commented on #15891
I'm unable to repro this.  The error suggests that the test is handing off to itself an unexpected number of arguments.  @dennisdietrich, could you try modifying the RemoteExecutorConsoleApp to print out its arguments?
https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/RemoteExecutorConsoleApp/RemoteExecutorConsoleApp.cs#L17
e.g. make the beginning of the program some

[2017-02-07 14:55] BlasVilla commented on #9357
Any progress on this bug? I encountered this in 1.1 (I thought this had been fixed by now). I can confirm that curl works but the HttpClient throws a CurlException and cannot find the host.

[2017-02-07 15:27] Trolldemorted commented on #12282
@davidsh i have a similar issue:

This code compiles fine in an UWP project:

[code]

But when executing a PlatformNotSupportedException is thrown:

[code]

Is this the right issue and repository for this issue, or should i open a new one?
Are there any workarounds that allow UWP to handle server certificate validation?

Setup information:
- VS 2017 RC, everything up-to-date
- UWP project, target

[2017-02-07 15:31] stephentoub commented on #9357
@BlasVilla, the issue should have been addressed for 1.1.  If you're still having trouble, could you please open a new issue with the details of the failure you're encountering, what OS you're on, a repro, etc.? Thanks!

[2017-02-07 15:48] davidsh commented on #12282
This is a known issue.  The functionality is not implemented for UWP apps which is why it throws PlatformNotSupportedException.

The functionality will be working sometime later this year.

[2017-02-07 15:49] davidsh commented on #12282
There is no waorkaround except to use WinRT Windows.Web.Http APIs in your UWP app.  Those WinRT APIs work in C# and support server certificate validation callback

[2017-02-07 16:00] Trolldemorted commented on #12282
Unfortunately, the HTTPS requests are being sent from a .NETStandard1.4 library. Is there a way i can keep this functionality in the library and still use it in UWP and non-UWP projects?

[2017-02-07 16:08] karelz commented on #15902
CoreFX does not expose DirectoryServices namespace yet (it's only work in progress).

We do not track "full" .NET Framework bugs on GitHub, please see CoreFX [main page](https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback) for .NET Framework bugs guidance.

[2017-02-07 16:09] dennisdietrich commented on #15891
Well, well. Looks like it chokes on the space character in the path to my profile.
[code]

[2017-02-07 16:19] jirisykora83 commented on #11100
If somebody want simple powershell script for fix bindingRedirect in all app.config here it is. Probably it is not best solution but right now i have project with lot of webjobs sub-projects and it is really frustrating manually changing all file binding after updating some package.

[code]

Example use:
`` ./scripts/FixAppConfig.ps1 -SourceDirectory "--project-path--" -Package "System.Net.Http" -

[2017-02-07 16:21] davidsh commented on #12282
Sorry, but the UWP binary in the System.Net.Http package does not currently support this functionality.  You will have to wait until a new version of the package ships (probably in the .NET Core 2.0 timeframe).

[2017-02-07 16:28] stephentoub commented on #15891
Thanks, @dennisdietrich.  If you change the line at:
https://github.com/dotnet/corefx/blob/master/src/System.IO.MemoryMappedFiles/tests/MemoryMappedFile.CrossProcess.cs#L30
from:
[code]
to:
[code]
does that fix the problem?  If so, mind submitting a PR to make that change?

[2017-02-07 16:35] Trolldemorted commented on #12282
Thanks for your quick and kind help. I suppose i will have to fall back to a PCL library until .NET Core 2.0 hits.

Is there an official list which functionalities UWP is not yet supporting? And is it intended that there are no compile-time warnings about this, or will these differences disappear forever as soon as 2.0 is there?

[2017-02-07 16:37] davidsh commented on #12282
Sorry, there is no list but PlatformNotSupportedException is what you will get when it is not yet implemented.

The plan is to implement this in the .NET Core 2.0 timeframe.

[2017-02-07 16:55] steveharter commented on #13907
Closing with fixes from PR https://github.com/dotnet/corefx/pull/15887
If it reappears, please open.

[2017-02-07 16:55] #13907 closed

[2017-02-07 17:24] weshaggard commented on #15892
We have been trying to root out all the NET_NATIVE defines (see https://github.com/dotnet/corefx/issues/5315) and update them to follow our guidelines https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md#define-naming-convention which are generally driven by the configuration they are unique to or a FEATURE if they are more tied to something not specif

[2017-02-07 17:30] ianhays commented on #13938
This isn't failing because of a timeout, it's failing [this check](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/ResponseStreamTest.cs#L111):
[code]
which is called after the `WaitOne` call completes. So there's something else going on here.

[2017-02-07 17:33] tarekgh commented on #15825
@eerhardt so you are saying this is by design? just want to know if there is anything we need to do here.

[2017-02-07 17:39] ChrisEelmaa commented on #1271
Yeah, Linux/OSX is working nicely, it was just small bug with ordinal strings that I didn't notice (nothing to do with usearch).

I'll  try to reply/fix to PR comments in few days.

[2017-02-07 17:50] jkotas commented on #15892
`FEATURE_FULL_AOT` ?

[2017-02-07 18:07] karelz commented on #12492
@varocarbas
I'd like to ask you to reread https://github.com/dotnet/corefx/issues/12492#issuecomment-252607964 above and also [code of conduct](http://www.dotnetfoundation.org/code-of-conduct).

Please refrain from any attacks on others in your responses (incl. discussing their user names, past behavior, etc.), please keep the discussion strictly technical. If you were personally offended by someo

[2017-02-07 18:19] stephentoub commented on #13938
Interesting.  We should change:
[code]
to something like:
[code]
That way, the test will propagate any exception if there was one and we'll be better able to diagnose the problem.

[2017-02-07 18:19] terrajobst commented on #15739
Before we add a new API, we'd like to understand:

* Why wouldn't we make the existing one more precise? Presumably, the API is "fast" either way, but the difference would register when called in hot loop. For folks that do call the API in a hot loop, wouldn't the precision matter anyway?
* `Stopwatch` is our place for high-precision measurement, but it doesn't seem likely that folks would search

[2017-02-07 18:24] terrajobst commented on #15691
Looks good as proposed, but we should add the same API on `SortedSet<T>` for consistency. By the way, we already exposed these APIs on the immutable collections for the same reason:

* [ImmutableHashSet\<T>](https://apisof.net/catalog/System.Collections.Immutable.ImmutableHashSet%3CT%3E.TryGetValue(T,T))
* [ImmutableSortedSet\<T>](https://apisof.net/catalog/System.Collections.Immutable.ImmutableSo

[2017-02-07 18:25] akoeplinger commented on #15112
ping, any updates on this?

[2017-02-07 18:28] RussKeldorph opened #15913 "[x86 Release] AccessViolationException in System.Numerics.Tests.Matrix4x4Tests.Matrix4x4CreateScaleCenterTest1"
**Commit**
b9e51257e5409f77af2cb3d2566593e97eefba7a

**Repro**
build -Release -os:Windows_NT -buildArch:x86
build-tests -Release -os:Windows_NT -buildArch:x86

**Output**
<details>
xUnit.net console test runner (32-bit .NET Core)
Copyright (C) 2014 Outercurve Foundation.

Discovering: System.Numerics.Vectors.Tests
Discovered:  System.Numerics.Vectors.Tests
Starting:    System.Numerics.Vectors.Test

[2017-02-07 18:30] karelz commented on #15691
I have updated the top-post with the new API shape (@terrajobst's note above):

###Original Proposal
[code]
###New Proposal
[code]

[2017-02-07 18:31] RussKeldorph commented on #15913
@mellinoe @CarolEidt Don't know root cause; opening for visibility.  @BruceForstall I haven't checked whether this is consuming an x86 CoreCLR with SIMD enabled; but I'm skeptical that it does since you just enabled it.

/cc @stephentoub

[2017-02-07 18:31] TylerBrinkley commented on #15691
I'll take my stab at implementing this if that's alright.

[2017-02-07 18:32] karelz commented on #15691
I was just about to write it is straightforward and available :).
Assigned yo you @TylerBrinkley.

[2017-02-07 18:32] safern commented on #15691
That is great @TylerBrinkley thanks for contributing!!

Thanks @karelz @terrajobst

[2017-02-07 18:33] stephentoub commented on #15913
Note that we've been hitting another AV here:
https://github.com/dotnet/corefx/issues/15713
I don't know if they're related.  Carol was investigating that one.

[2017-02-07 18:36] karelz commented on #15112
BTW: @ericstj is OOF if you're asking for his opinion.

[2017-02-07 18:40] eerhardt commented on #15825
We just use whatever ICU says.  So yes, I kind of think this is "by design", unless we are saying we are using ICU incorrectly.  We (.NET Core) don't actually control culture-based string comparisons.

[2017-02-07 18:41] terrajobst commented on #15329
The scenario and proposed overloads all make sense. Minor issue: the one that takes two spans (keys and items) should call the items `values` as that's what array did. So it should be:

[code]

We should discuss the extension method pattern for span holistically -- I don't think that this a good idea for our customers. It introduces a somewhat weird type (`SpanHelpers`) we no additional benefit. W

[2017-02-07 18:43] terrajobst opened #15914 "Span extension methods vs instance methods"
This was brought up in the review of #15329.

[2017-02-07 18:45] karelz commented on #15329
Approved and up-for-grabs, anyone wants to take it? @nietras?

[2017-02-07 18:48] stephentoub commented on #15825
Or, it sounds like unless we're saying we think we should change the default culture.  If Mono is also using ICU but is getting different results, is it using a different culture by default?

[2017-02-07 18:49] varocarbas commented on #12492
@karelz

Even better: [comment where I say that I will not do it again](https://github.com/dotnet/corefx/issues/12492#issuecomment-252613942). There is no justification for my behaviour, other than being my official farewell ;)

I have to cut you right there, because my principles (among them always acting in good faith) are the most important thing to me. I don't mean well deep down; I mean well

[2017-02-07 18:52] terrajobst commented on #14891
This is a great issue. We need to approach this space more holistically. I don't think we want to add all functionality like this (area that is large enough to warrant its own library but doesn't need to be part of the platform layer) to CoreFX. On the other hand, we don't want to a bunch of random extensions with inconsistent names on top either. It would be nice if had some sort of agreed up and

[2017-02-07 19:02] eerhardt commented on #15825
I did some searching last night in mono, and I couldn't find where ICU was actually being used.

I see this code:  https://github.com/mono/mono/blob/7ca51073c638becc090e2c974ecaa739af62e4a3/mcs/class/referencesource/mscorlib/system/globalization/compareinfo.cs#L451-L456

[code]

Where `internal_compare_switch` looks like:

https://github.com/mono/mono/blob/0bcbe39b148bb498742fc68416f8293ccd350fb6/

[2017-02-07 19:05] nietras commented on #15329
@terrajobst if you look at the `ref` sources I included at the bottom of the proposal, these are in fact called `items`, this is where I took it from. E.g.:
[code]
 Are there conflicting names, or are the ref sources not correct?

The original proposal was for member methods, but I guess there are some implementation issues related to fast/slow span. @jkotas should answer that. I would have prefer

[2017-02-07 19:07] dennisdietrich commented on #15891
@stephentoub Thanks! Yeah, it does, but I found some more instances of that issue so I'm fixing them too. I'll submit an PR when I'm done.

[2017-02-07 19:08] stephentoub commented on #15891
Thanks.

[2017-02-07 19:14] vancem commented on #15739
This thread should be put on hold until  issue #5061 is decided, as it resolves this issue raised here.

To answer @terrajobst question, I don't think we need a DateTimeOffset variation because this is UTC (thus always a particular time zone), and we want it to be as simple and fast as possible (it really is for timestamping).

[2017-02-07 19:19] jkotas commented on #15914
Where is this weird type?

The extension vs. instance methods on generic types have performance implications. The instance methods on generic types are not pay for play - every instantiations pays for all methods, not just the ones that somebody uses.

We should make heavy weight methods like Sort to be extension methods for this reason.

[2017-02-07 19:20] #14669 closed

[2017-02-07 19:20] terrajobst commented on #15329
@nietras

You're correct. I looked at apisof.net but apparently I suck at reading because it's called `items` there as well. Never mind then; `items` it is :-)

[2017-02-07 19:27] tinchou commented on #15776
@chcosta I've read you maintain https://github.com/dotnet/corefx/tree/master/buildpipeline, so maybe you can help us out.

I've been running docker locally to test these changes, and it seems I only need two extra packages for everything to work in Linux. The only minor hiccup I can see is that libsqliteodbc is missing from Debian Jessie, but it's available on Wheezy, Stretch and Sid: https://pack

[2017-02-07 19:37] omariom commented on #15914
Is there such a rule: "Everything that can be implemented using only the public surface of a type should be implemented as extension methods"?

[2017-02-07 19:37] chcosta commented on #15776
@dleeapho should be able to help with docker / machine configuration requirements.

[2017-02-07 19:46] karelz commented on #12492
Thanks @varocarbas for your reply. I wish you best luck.

Back to discussion on this issue:
Given that we have some push back on the proposal, and the discussion is somewhat tainted with off-track discussions, I will close this particular issue. -- If someone is passionate about the direction and has different/improved API proposal, please file a new issue. Feel free to reference this one if you f

[2017-02-07 19:46] #12492 closed

[2017-02-07 19:49] weshaggard commented on #15892
FEATURE_FULL_AOT would be fine if that is what best describes the code being ifdef'ed.

[2017-02-07 19:57] akoeplinger commented on #15825
Seems like I misremembered, we do use the CLDR data (which ICU uses too) for certain things like date/time formats, but not ICU directly. String comparison is done differently too, so this seems like it's working as expected.

Sorry about that, it makes sense now why .NET Core behaves different in this case. Thanks 👍

[2017-02-07 19:57] #15825 closed

[2017-02-07 19:58] #15829 closed

[2017-02-07 20:10] #15847 closed

[2017-02-07 20:16] dcwuser opened #15921 "Add hypot, expm1, log1p"
These are very standard methods used in numerical computing.

[code]

They appear, with exactly these names, in the Java Math class and Boost and GSL libraries, in many other mathematical libraries, and in many articles in the numerical computing literature.

Naming: The names are somewhat cryptic. .NET coding guidelines would probably favor ExpMinusOne over Expm1, etc. On the other hand, the name

[2017-02-07 20:18] nietras commented on #15914
Can't instance methods simply forward to implementations elsewhere e.g. SpanHelpers to resolve that? That is, this is an implementation issue, not necessarily an API design issue?

[2017-02-07 20:25] weshaggard commented on #15744
Fixed with #15917

[2017-02-07 20:25] #15744 closed

[2017-02-07 20:40] steveharter commented on #15839
@stephentoub have you seen random AVs in code coverage runs? Who owns code coverage for corefx?

Could the code coverage be adding IL to methods that may cause AV under certain conditions? (perhaps with some other underlying memory or stack corruption)

[2017-02-07 20:42] stephentoub commented on #15839
No, I haven't.

A variety of folks contribute to it, including me.  Not sure anyone "owns" it.

It uses the profiling APIs to add code that it uses to track whether each line and branch is hit.  It's possible that's leading to issues, but we've not seen any problems with it, and we've been using this tool now for quite a while.

[2017-02-07 21:18] jkotas commented on #15914
It does not help. The generic dictionaries are transitive.

[2017-02-07 21:18] geleems commented on #15640
Now `IPHostEntry hostEntry = Dns.GetHostEntry("IPv6_address");` does not work anymore in Linux.
[code]
Let me open another issue for this..

[2017-02-07 21:22] geleems opened #15926 "Dns.GetHostEntry("IPv6_string") does not work anymore in Linux environment."
Now `IPHostEntry hostEntry = Dns.GetHostEntry("IPv6_address");` failed, and does not work anymore in Linux, while the same code works perfectly in Windows.
[code]
@saurabh500 @corivera

[2017-02-07 21:27] jkotas commented on #15914
I am not sure whether there is such a rule. I do not think there needs to universal rule like this.

My concern is about performance characteristic of basic building blocks. I would like to make sure that any new basic building blocks do not force you into choosing either shiny looking big and slow code or old-fashioned performant code (Linq is the worst offender on this front).

BTW: A recent exa

[2017-02-07 21:35] dcwuser opened #15927 "Add mixed Complex/double arithmetic operators to Complex"
There are implicit casts from double -> Complex, so it's currently possible to write e.g. 2.5 * z for Complex z,  but in addition to the cast, this costs 6 flops for a Complex * Complex multiply, while it's possible to implement a double * Complex multiply directly in 2 flops.

For a single multiplication, a 4 flop additional cost is trivial. But in large operations on Complex matrices, where Comp

[2017-02-07 21:49] benaadams commented on #15914
Too late to change ValueTuple? Is there any point to the non-generic interfaces on them anyway? At the point you use them the two ValueTuples have been boxed, and then you might have well have just used Tuple... (though the answer might be language features)

[2017-02-07 22:52] #15891 closed

[2017-02-07 23:09] dmetzgar commented on #15259
@karelz Our team is in agreement on System.Transactions.Local

[2017-02-07 23:12] dmetzgar commented on #15259
@weshaggard @karelz if we change the assembly name, does that also change the package name?

[2017-02-07 23:13] sepidehMS opened #15930 "Test failure in System.Net.NameResolution.Tests.GetHostEntryTest.Dns_GetHostEntryAsync_NoneIPAddress_Fail and"
The test is currently disabled with label [ActiveIssue(10345)](https://github.com/dotnet/corefx/issues/10345), although the issue has been closed. If you enable the test, it would still fail on Linux.

[code]

[2017-02-07 23:16] OmarTawfik commented on #15663
LGTM. @VSadov?
I think it is useful addition to the API.

[2017-02-07 23:16] sepidehMS opened #15931 "Test failures in System.ComponentModel.Tests.CultureInfoConverterTest.ConvertFrom_String and System.ComponentModel.Tests.CultureInfoConverterTest.ConvertFrom_String_InvalidCulture"
These tests are currently disabled with label [ActiveIssue(11611)](https://github.com/dotnet/corefx/issues/11611), although the issue has been closed. If you enable the tests, they would still fail on Linux.

[code]

[2017-02-07 23:23] karelz commented on #15930
cc @steveharter @Priya91 @ianhays

[2017-02-07 23:28] karelz commented on #15259
I don't think so - I let @weshaggard confirm for sure.

[2017-02-08 00:14] Priya91 commented on #15865
The string with the unicode char is an IRI - Internationalized Resource Identifier. When getting converted to URI (Only US-ASCII chars), the following chars are not escaped:

[code]

You can read about it in [RFC3987](https://www.ietf.org/rfc/rfc3987.txt)

It works as expected.

[2017-02-08 00:15] #15865 closed

[2017-02-08 00:23] weshaggard commented on #15259
Just changing the assembly name will not update the package name but this name change does apply to both the package and the assembly so you should rename both of them.

[2017-02-08 00:42] Priya91 commented on #15926
@geleems It is probably because your device does not have reverse DNS lookup configured for your IP. You can check if you're able to resolve the ipaddress using the below command on the terminal. And copy the output here.

```host <ip-address>```

[2017-02-08 00:47] Priya91 commented on #15640
@saurabh500

The implementation is different on the OSes as they call into the platform specific OS APIs. However for this functionality to work, your system has to be configured to setup reverse dns lookup to ping the correct dns server. Can you verify if running this from Mac OS terminal resolves the hostname,

[code]

[2017-02-08 00:53] jamesqo commented on #15927
Sounds like a good idea. I noticed this myself when going over the Complex source. We would have to be careful to ensure behavior stays the same though, since existing code will start using it when compiled against the new API surface.

[2017-02-08 00:55] Priya91 commented on #15871
@justin-lavelle .NET Core requires curl with openssl. From the curl error with openssl it seems like your certificate is self-signed and is not placed in the correct location as required by openssl. You can follow the instructions from [here](http://gagravarr.org/writing/openssl-certs/others.shtml#selfsigned-openssl) and then the .net code should work.

[2017-02-08 00:58] weshaggard commented on #15166
This is fixed.

[2017-02-08 00:58] #15166 closed

[2017-02-08 00:59] weshaggard commented on #15301
@jamesqo are you still hitting this issue?

[2017-02-08 01:07] weshaggard opened #15936 "Figure out how to runtime output with the test shared framework"
Today we have a runtime output "bin\runtime\netcoreapp-Windows_NT-Debug-x64" and we have a runtime folder "testhost\netcoreapp-Windows_NT-Debug-x64\shared\Microsoft.NETCore.App\9.9.9" output so that we can run our tests as a shared application. The contents of those 2 directories are currently duplicated. We should figure out a way to hard-line the entire directory (not just the individual files)

[2017-02-08 01:15] weshaggard opened #15937 "Figure out a strategy for generating test shared framework deps file"
https://github.com/weshaggard/corefx/blob/c67cb8a80fe2449e59e023ed481e977ffe8ced8b/src/src.builds#L20

Today we build the deps json file as a post step to building all the src projects and we rely on having a previous deps.json file to generate the new one. Maintaining the deps.json is likely going to be error prone so ideally we would eliminate it completely but if we cannot we should at least lo

[2017-02-08 01:17] gkhanna79 commented on #15937
Not without changing the entire appmodel @weshaggard. The portable app activation relies on deps.json to be present for the host to consume.

[2017-02-08 01:20] Matthewsre commented on #9846
I got bit by this nastiness today. @jkells redirects helped me "kick the can" for now. I am on the latest nuget package:
<package id="System.Net.Http" version="4.3.0" targetFramework="net461" />
A partners library we are using breaks, but I am fortunate to have all of my code working with a binding redirect down to 4.0.

[2017-02-08 01:29] jackbond commented on #5766
Here's a vote for open sourcing WPF, every other version of XAML is garbage in comparison. And seriously guys, complete the loop on this, have a .net core / XAML **STORE** for unix and MacOS.

[2017-02-08 01:32] karajas commented on #15937
We can get rid of the current way we generate the deps.json file. The only reason I was using it was to pull the versions out of the assemblies to fake a package version. In the netstandard2.0 since everything is flat we can probably just list a fake Microsoft.NETCore.App package version and things should work.

[2017-02-08 01:34] jamesqo commented on #15301
@weshaggard Nope, not anymore. I can close this.

[2017-02-08 01:34] #15301 closed

[2017-02-08 01:34] Jiayili1 commented on #15913
This issue is repro on build 20170207.03, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170207.03/workItem/System.Numerics.Vectors.Tests/wilogs

No test result generated:

Message:
[code]

[2017-02-08 01:37] weshaggard commented on #15937
@karajas we still need to list all the libraries in the deps file.

[2017-02-08 01:50] karajas commented on #15937
is there anything besides the standard that tells us what's in the shared framework and what's not?

[2017-02-08 04:44] jamesqo opened #15942 "[Bug] Double-evaluation of selector in SelectMany"
I found out my changes from https://github.com/dotnet/corefx/pull/14675 introduced a double-evaluation of a selector in `SelectMany.ToArray`: https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/SelectMany.cs#L245 This will be fixed shortly in an upcoming PR, but I am opening a tracking issue just in case I forget or that PR gets closed.

[2017-02-08 04:53] jamesqo commented on #15914
My thoughts: extension methods can be kinda annoying when you have generic types because if you have a second generic type that the compiler can't infer, then you have to write out both types (e.g. like `Unsafe.As<uint, byte>`). This is why Enumerable.Cast/OfType have to accept a non-generic IEnumerable as a workaround. I vote in favor of instance methods.

[2017-02-08 05:44] aammfe commented on #9788
i have almost same issue , trying to add reference of core1.1 app to xunit project , using VS 2017 RC .

 is being use means i could not use upper solutions

[2017-02-08 10:01] nietras commented on #15329
@karelz I would love to to do this. I even had this idea to base this on "Multi-Pivot Quicksort: Theory and Experiments" (or newer e.g. "comparison-optimal dual-pivot quicksort algorithms" see http://itu.dk/people/maau/additional/2016_vortrag_arco_QS.pdf) using a multi-pivot quick-sort algorithm (point being it is more important to have fewer cache misses than comparisons).

But given the scope of

[2017-02-08 10:40] nietras commented on #15329
@karelz I would love to to do this. I even had this idea to base this on "Multi-Pivot Quicksort: Theory and Experiments" (or newer e.g. "comparison-optimal dual-pivot quicksort algorithms" see http://itu.dk/people/maau/additional/2016_vortrag_arco_QS.pdf) using a multi-pivot quick-sort algorithm (point being it is more important to have fewer cache misses than comparisons).

But given the scope of

[2017-02-08 13:59] willdean commented on #15752
OK - I've completed a first pass through everything 'normal' (i.e. can be run simply in xUnit) in Legacy/SerialPorts.  There is still Legacy/SerialStream to do, and there's lots of clean up to do.

It's clear that the tests push very hard for exact compatibility with serial.sys, and there are a bunch of failures with FTDI devices (and on the CI, not sure what the serial port actually is on there)

[2017-02-08 14:05] willdean commented on #15752
After we've merged this when I've blocked-up the tests that fail on the CI, anyone who wants a gentle play with the source could go through things in Legacy/SerialPort and gradually migrate some of the ```if(xxx) { Fail() }``` pattern into proper xUnit test assertions.  I've done it where I could be bothered and where the predicate was very simple, but in the whirlwind of migrating this many tests

[2017-02-08 14:14] willdean opened #15949 "SerialPort in core doesn't support certain char encodings"
Posting this to allow us to ActiveIssue some encoding tests - we're failing on:

* Custom encoding 1047
* System.Text.Encoding.GetEncoding(50220) (Japanese JIS)
* System.Text.Encoding.GetEncoding(57006) (ISCIIAssemese)

I'm not clear if this is a Core or a SerialPort limitation.

[2017-02-08 14:53] dleeapho commented on #15776
@MichaelSimons can you work with @tinchou on Docker / machine config? Thx.

[2017-02-08 14:56] stephentoub commented on #15942
Thanks, @jamesqo. I thought we'd added tests to help avoid such bugs... I guessed we missed some cases. It'd be great to get a more thorough set for this. cc: @JonHanna

[2017-02-08 15:04] JonHanna commented on #15942
You put forward the idea of having tests that both guarded against double evaluation of enumerables and against changes to how often delegates where called. At the time you said that I was already working on the first part of that, and submitted a PR saying I'd look at the other part "soon". Soon has yet to happen.

[2017-02-08 15:10] stephentoub commented on #15942
Ah, gotcha, I misremembered. Thanks!

[2017-02-08 15:13] JonHanna commented on #15942
Or you remembered my saying "soon" too well. It's definitely something we should have, but ensuring it has coverage would be a bit tricky. Maybe a trait could help there.

[2017-02-08 16:00] karelz commented on #15329
Sounds good, let's see if anyone else wants to help with the work in the meantime ...

[2017-02-08 17:00] weshaggard commented on #15937
For the purposes of our testing work here everything we build in corefx is in the shared framework.

[2017-02-08 17:33] qizhanMS commented on #15259
Previously we encountered version mismatch when we were trying to use the package. Do you think the version issue was gone?

[2017-02-08 17:45] weshaggard commented on #15259
@qizhanMS I need more information to help answer that question.

[2017-02-08 17:53] danmosemsft commented on #15713
@CarolEidt did you have luck getting this to run?

[2017-02-08 18:13] AlexGhiondea commented on #15818
/cc @KrzysztofCwalina what are you thoughts on this?

[2017-02-08 18:16] AlexGhiondea commented on #15158
@swgillespie do you have an estimate on when you will take a look at this?

[2017-02-08 18:18] KrzysztofCwalina commented on #15818
I think we should add Sort and BinarySearch. We are combining SpanExtensions and ReadOnlySpanExtensions into one type, and so the methods would go there.

@nietras, are you just proposing this feature, or you are willing to submit a PR?

[2017-02-08 18:18] CarolEidt commented on #15713
@danmosemsft Yes,but I haven't got much farther than that.

[2017-02-08 18:19] danmosemsft commented on #15713
OK! let us know if you need anything on our side.

[2017-02-08 18:20] AlexGhiondea commented on #15826
@jcouv what are you thoughts on this? Do we want to update the ValueTuple package references as suggested above?

[2017-02-08 18:21] swgillespie commented on #15158
Took a look yesterday - I wasn't able to repro this on my own machine or the DTL machine I obtained. It would be a lot easier to understand what happened if this particular negative test was split into separate negative tests for every case being checked - but at any rate, this code hasn't changed recently.

[2017-02-08 18:25] joperezr commented on #15176
@jcouv @jkotas why do we have to wait for CoreRT to ship in order to do the required work on corefx side? can't we just use the NETNative TargetingPack with the latest changes and type forward to that? If not, then what am I missing?

[2017-02-08 18:26] AlexGhiondea commented on #15175
@jcouv I am still not clear where the change would need to happen.

Is it inside the Full .NET code base or here?

If it is inside the Full .NET I suggest creating a bug in the internal bug tracking system and closing this issue.

[2017-02-08 18:26] joperezr commented on #15176
I agree with the idea of the new label in order to separate CoreRT specific issues. @karelz do you agree.

[2017-02-08 18:32] jkotas commented on #15176
We do not. I do think that anything in this issue says that it is the case.

[2017-02-08 18:38] joperezr commented on #15176
I see, well the description of this issue says

Which led me to believe that we needed an official package shipped in nuget.org in order to do the work here. @jcouv do you still want to take this or should I just flag it as up-for-grabs?

[2017-02-08 18:39] karelz commented on #15176
I had a chat about it with @jkotas about the CoreRT label. We didn't come to full agreement yet.

My latest proposal:
* Add os-corert (in theory it should be platform-*, but it is at least consistent now with os-windows-uwp and os-windows-wsl)
  * Note: We can consider renaming all os-* to platform-* as independent change (I am not against that)
* Use os-corert primarily on issues which are CoreRT

[2017-02-08 18:49] AlexGhiondea opened #15954 "Create targeting pack for upcoming release of Full .NET"

[2017-02-08 18:50] AlexGhiondea commented on #15954
/cc @weshaggard

[2017-02-08 18:53] jkotas commented on #15818
@KrzysztofCwalina What do you think about the `TComparer : IComparer<T>` plan that allows the comparer to be inlined vs. the classic `IComparer<T>` plan that calls the comparer via indirection.

[2017-02-08 18:53] justinvp commented on #15949
What are the failures? Note that the code pages have been moved to a separate component (System.Text.Encoding.CodePages) for Core...

The following code needs to run before `Encoding.GetEncoding` will be able to find them:

[code]

[2017-02-08 18:57] jkotas commented on #15176
I think that os- prefix for corert is *super confusing*.

[2017-02-08 18:57] KrzysztofCwalina commented on #15818
I think we need to get it inlined. Otherwise the reusable routine would be usless for many scenarios.

[2017-02-08 18:58] dcwuser commented on #15927
@jamesqo: Agreed. One good way to address this concern would be to add tests not just that mixed arithmetic gives right answers, but also that those answers are exactly the same as when double input is upcast to Complex. I am cautiously optimistic that this will work itself out, because although floating point arithmetic suffers from non-associativity and CPU dependency and other such "jitter" for

[2017-02-08 18:59] jcouv commented on #15175
@AlexGhiondea Some notes from our discussion:
A new moniker and targeting pack will be created in CoreFX. A new slice will be defined in the ValueTuple package for that moniker, and that slice will type-forward to the mscorlib implementation of ValueTuple (but not ITuple, which will be in a later version of desktop).

I captured the matrix of the ValueTuple package in the [umbrella issue](https://

[2017-02-08 19:02] jkotas commented on #15176
You may also add `platform-mono` and `plaform-netfx` because of there are quite a few of issues in corefx specific to those.

[2017-02-08 19:03] safern commented on #14502
Since nobody else has commented in this issue and we didn't get any code examples on what is difficult to do with what we've got now we are going to close it.

[2017-02-08 19:03] #14502 closed

[2017-02-08 19:05] nietras commented on #15818
@krzysztofcwalina for now just proposing, as I also say in https://github.com/dotnet/corefx/issues/15329#issuecomment-278292780 I would love to add, but not much time currently.

[2017-02-08 19:08] jkotas commented on #15818
Agree. So I think we should have both flavors - both `TComparer : IComparer<T>` one and the classic `IComparer<T>` ones. The classic ones should be implemented as thin wrapper over `TComparer : IComparer<T>`.

[2017-02-08 19:08] jcouv commented on #15176
@joperezr My ultimate goal is that the ValueTuple package (from CoreFX) needs to have type-forwards to account for the CoreRT implementation. I defer to the team in terms of timing and dependencies,

My understanding was that such type-forwards are currently blocked on shipping CoreRT with ValueTuple and possibly also some other work. If that is not the case, please provide some details (what is t

[2017-02-08 19:18] jkotas commented on #15176
The CoreRT implementation is exactly same as UAPAOT implementation, so the work is identical between the two.

No, CoreRT and UAPAOT ship independently. However once the work is done, it does not matter which one ships first.

[2017-02-08 19:18] gkhanna79 commented on #12625
We will get this issue fixed for the first ASP.NET Core 2.0 Preview once we are done with our impending feature work.

[2017-02-08 19:18] willdean commented on #15949
@justinvp Thanks for this - the RegisterProvider fixes the two GetEncoding issues.

I'll debug the other one a bit further and see what's going on, I hadn't appreciated it was different.  It's creating an instance of `System.Text.Encoding` with code page 1047 - the creation's OK but something chokes later.

[2017-02-08 19:20] karelz commented on #15176
`platform-mono` might be eventually useful.

Which bugs should have `platform-netfx`? Overall we try to NOT track anything for Desktop/netfx on GitHub (netfx-port-consider is the only tag which triggers mirroring of issues into internal TFS for Desktop purposes).

[2017-02-08 19:23] safern commented on #15622
So as we understand from this proposed APIs is that
* `T TakeAt(int index, int count)` doesn't seem valuable as you could only do
[code]
* `T[] TakeRange(int index, int count)` same here, you could only do it in two lines of code as:
[code]
* What we understand from `T TakeValue(K key)` is that it is just a getter which already exists in `Dictionary`, is this correct?
*`TryRemove(K key, out T Valu

[2017-02-08 19:24] safern commented on #1942
FYI we are having a formal API proposal for `bool TryRemove(TKey key, out Value value)` here #15622

[2017-02-08 19:28] safern commented on #15413
@AArnott any other thoughts on this one?

[2017-02-08 19:30] jkotas commented on #15176
corefx repo is building a lot of bits that specifically targeting full framework platform (OOB assemblies, targeting packs, etc.) `platform-netfx` is yet another vertical, just like uap or corert verticals. Anything specific to this vertical would be marked with `platform-netfx`. A few examples:
- https://github.com/dotnet/corefx/issues/15954
- https://github.com/dotnet/corefx/issues/14101
- https

[2017-02-08 19:37] safern commented on #15403
@bradphelan did you find the source of the error? it seems that it is a little bit unclear yet.

[2017-02-08 19:39] joperezr commented on #15176
@jcouv @jkotas I checked and actually this work(type forwarding ValueTuple to CoreRT's CoreLib) is already done, given that System.Runtime was already compiling against corert in uapaot build. That means that we can close this issue.

@jkotas @karelz do you want to change the title of this issue to be about the label discussion? or is it ok to just close it?

[2017-02-08 19:39] bradphelan commented on #15403
No. I just stopped using Immutable collections with WPF as it seems they
are incompatible.

On Wed, 8 Feb 2017, 20:38 Santiago Fernandez Madero <
notifications@github.com> wrote:

[2017-02-08 19:40] danmosemsft commented on #1942
My 2c, it would be great to get this into 2.0

[2017-02-08 19:41] safern commented on #14815
`ConcurrentDictionary` has several different things that `Dictionary` doesn't have. So just for consistency we think it is not worth adding this API when this can be done just by `dictionary.Values.Contains(value)` and it would only change to `dictionary.ContainsValue(value)`. Being said that we're going to close it.

[2017-02-08 19:41] #14815 closed

[2017-02-08 19:41] #15332 closed

[2017-02-08 19:42] willdean commented on #15949
OK, I've got a grip on this now, and I'm afraid it's one for @JeremyKuhne again, sorry.

The test `Encoding.Encoding_Custom` is failing because it's expecting that a custom encoding will be rejected with an `ArgumentException`, but instead what happens is that the custom encoding is accepted but then fails later (it was never expecting to be used).

This is because of a change in 2a4846c to the wa

[2017-02-08 19:42] justin-lavelle commented on #15871
@Priya91

You're correct I see this isn't a .NET issue, but a platform specific implementation issue.

I was thinking the issue maybe with the version of openssl linked in the curl rpm, OpenSSL/1.0.1e, since I came across some threads on the self signed cert issue, http://stackoverflow.com/questions/27599985/verify-errorcode-20-unable-to-get-local-issuer-certificate

I was able to get it working b

[2017-02-08 19:43] #15871 closed

[2017-02-08 19:44] safern commented on #14708
Since we didn't get any response on this one and/or an API proposal we are going to go ahead and close it. If someone wants to bring it up, just comment and we can reopen.

[2017-02-08 19:44] #14708 closed

[2017-02-08 19:48] karelz commented on #15176
@joperezr the label discussion should be somewhere else. Sorry for hijacking this issue. Feel free to close it.

[2017-02-08 19:48] safern commented on #14416
For this one we would definitely would want the new API addition but since `IEqualityComparer<HashSet<T>> CreateSetComparer()` has been out so long we wouldn't like to mark it as obsolete. So we are going to mark it as ready for review. Thanks @JonHanna

[2017-02-08 19:50] safern commented on #14369
So do we still want this to happen or other people still needs it? Moving it down could be a nightmare so if we could avoid that would be nice.

[2017-02-08 19:51] JeremyKuhne commented on #15949
Yeah, the block wasn't possible as it was. Didn't think it was that important to try and match the behavior- would rather have it as a comment that it is untested/unsupported.

I'm open to adding back the block if we have strong consensus for it. In any case we should probably open an issue so someone can take this on if they want (validating custom encoding).

[2017-02-08 19:52] safern commented on #1942
Anyone interested in grabbing this issue? We should definitely try to get this into 2.0!

[2017-02-08 19:53] safern commented on #15403
Thanks for the update @bradphelan. So then we are going to close it until further notice.

[2017-02-08 19:54] willdean opened #15955 "Build system requirements are incorrectly documented"
I'm trying to build corefx on a non-developer machine (i.e. no VS, etc).

I installed msbuild manually from a stand-alone package (nobody told me to, but it seemed sensible).anThen I copied the entire corefx tree to the machine and run build.cmd, and it says this:

[code]

I'm sceptical that VS2015 is actually required (that's not the issue however), but I'm 100% sure that the document that which

[2017-02-08 19:59] danmosemsft commented on #15955
@karelz because we SHOULD make this easier.

@mmitche how does Jenkins set up the CI boxes -- I assume they don't have VS on them?

I don't know why the scripts require it. VS in general should be required only for certain things like building VS packages/VSIX (it should not be required on a build machine). VS installs the SDK that includes CL but that should be obtainable separately.

[2017-02-08 20:00] mellinoe opened #15957 "API Proposal: Widen, Narrow, and Convert for Vector<T>"
This is a concrete proposal of the ideas discussed in issue #1605. Converting data from one form to another is a necessary part of vector algorithms in many areas such as image processing, signal processing, text manipulation, and more. Current SIMD instruction sets expose a lot of functionality for quickly and efficiently converting large chunks of data, but the current interface of `Vector<T>` d

[2017-02-08 20:00] willdean commented on #15949
I am inclined to think that nobody in human history has ever passed a custom code page to a SerialPort object anyway, so it's probably all completely irrelevant.  Should I Ieave the test with an ActiveIssue on it, or should I just delete it?

[2017-02-08 20:02] willdean commented on #15955
@danmosemsft I am not whining about VS2015 (though I can whine about VS anytime anyone wants me to), I'm whining about being referred to a document to see the requirements which doesn't tell me what they are.

[2017-02-08 20:04] #15176 closed

[2017-02-08 20:06] mellinoe commented on #1605
I've made a proposal here: #15957

[2017-02-08 20:08] karelz commented on #15955
cc @mellinoe

[2017-02-08 20:13] karelz commented on #15955
VS is mentioned as prereq (https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md).
The discoverability is not ideal for newbies, I agree - we need the "better newbie contributor guide" I mentioned (started here https://github.com/karelz/corefx/tree/docs). I will share my notes on next steps in the guide this week.

[2017-02-08 20:23] mellinoe commented on #15955
VS is the easiest thing to document as a pre-req, since it pulls in all of the other things that we need, which is more than just MSBuild. For example, we rely on the developer command prompt script to set up some paths, we need the VC++ compiler and targets, etc. The developer command prompt requirement alone would probably make it tricky to build without VS, although it's not a show-stopper. You

[2017-02-08 20:28] AlexGhiondea commented on #15158
@swgillespie should we split the tests then?

[2017-02-08 20:31] mmitche commented on #15955
@danmosemsft Most have VS.

[2017-02-08 20:32] bradphelan commented on #15403
Why close it? It's obviously a bug in  the immutable collections API.
Liskov substition principle and all that. I should be able to swap any
collection and it will have the same behaviour. What else can I do except
report it. That I have a work around is not acknowledgment that there is no
problem.

On Wed, 8 Feb 2017, 20:54 Santiago Fernandez Madero <
notifications@github.com> wrote:

[2017-02-08 20:34] jcouv commented on #15176
@joperezr I also tried to verify this is already done. I must be doing it wrong.

I downloaded the latest beta package (from [myget](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.ValueTuple)) and opened it.
Both in the `ref` and `lib` folders I see 3 sub-folders: PCL, netstandard1.0 and netcoreapp1.1.
But I would expect a fourth sub-folder for a moniker corresponding to CoreRT.

[2017-02-08 20:35] DamianEdwards commented on #12625
@gkhanna79 this is less about the first preview (which is a while away) and more about unblocking work right now. Can you clarify the timelines you're eluding to please?

[2017-02-08 20:44] danmosemsft commented on #15955
Ah, OK. In that case I think it's reasonable to require VS instead of 2 separate install paths to document.

[2017-02-08 20:46] willdean commented on #15955
@karelz It sounds like all that's needed is to either remove the reference to the wrong document which is currently in the error message (if there was no link to a document, I would just take "Error: Visual Studio 2015 required" at face value).  Or change the error message to point to the correct document, though it's probably hard to keep them in sync, long term.

[2017-02-08 20:48] jkotas commented on #14369
It should not be needed after https://github.com/dotnet/corefx/pull/15526. Also, #15526 highlighted the bad dependencies of the current implementation that make it hard to move down.

[2017-02-08 21:05] JeremyKuhne commented on #15949
Delete it is my call.

[2017-02-08 21:11] Priya91 commented on #15871
@justin-lavelle Thanks for explaining the solution here, it will be helpful for others who hit the same issue. :)

[2017-02-08 21:15] #15167 closed

[2017-02-08 21:23] safern commented on #14369
Thanks for the update @jkotas, then I will go ahead and close the issue since this is not longer needed, if for some reason we need it in the future we could reopen.

[2017-02-08 21:23] #14369 closed

[2017-02-08 21:29] swgillespie commented on #15158
Sure, we can do that - I can do that today.

[2017-02-08 21:35] benaadams commented on #15957
Yes please 😄

[2017-02-08 21:36] VSadov opened #15960 "Existing reflection APIs should be able to invoke ref-returning methods and return a value"
Related to: https://github.com/dotnet/roslyn/issues/8489

The scenario seems to be explicitly forbidden. Possibly due to ref returning methods not being common in the past.

Note that this issue does not ask for a new API that would allow returning a `ref`.

This is just about the  existing APIs that returns the result as an object.
It seems that they should work with ref returning methods by eval

[2017-02-08 21:53] alexperovich commented on #15773
Using an environment variable makes sense to me, I don't want an API that will need to exist for the rest of time for compatibility. I don't have a good name to use though.

[2017-02-08 21:57] Ran-QUAN commented on #13914
@ianhays  Hi, this issue can still be reproduced by simply referencing `System.IO.Compression 4.3.0` in a blank UWP app project and use some api of it, like `new DeflateStream(...`

When testing on an arm device with Debug configuration, `ZLibException` will be thrown. Could anyone do some further testing about it?

Here is a project that reproduces this issue.
[SystemIOCompressionUWPError.zip](ht

[2017-02-08 21:57] JeremyKuhne opened #15961 "SerialPort timeout tests are slow and flaky"
They don't play well with CI builds and take some time.

We need to:

1. Pick some more generous thresholds for validation
2. Try to make tests faster where possible
3. Move the slowest tests to the outer loop

#15752

[2017-02-08 22:05] jcouv commented on #15475
This was done after all (as part of Eric's cleanup https://github.com/dotnet/corefx/commit/17fdb439c50f4aa66a99f9b5549e9db923331e40#diff-a4bc1bc0e27259ab3f915dc79b8f36a4 )

[2017-02-08 22:11] JeremyKuhne commented on #15961
We really should avoid playing with the thread priority if at all possible. We should also look to reduce any unnecessary redundancy.

[2017-02-08 22:23] tarekgh commented on #1271
@ChrisEelmaa did you have a chance to look at comments? just wondering if you need any help from our side. Thanks.

[2017-02-08 22:34] willdean commented on #15961
As I said on the PR, it's not just the timeout tests which are slow and flaky - there are lots and lots of slow and flaky tests in there, it's just that these are the ones which have caused trouble in the small subset which is currently running on the CI.

How would I go about marking all the 'needs a serial port' tests as non-CI?  I think that would be better for now anyway.

[2017-02-08 22:37] karelz commented on #15961
@JeremyKuhne is it test bug or test enhancement?

[2017-02-08 22:37] MichaelSimons commented on #15776
@mmitche Can you work with @tinchou to get the appropriate CI machines configured.
@tinchou I can work with you to get the Docker images updated as needed for the official builds.

[2017-02-08 22:43] JeremyKuhne commented on #15961
@karelz Er, test bug I think.

@willdean We can mark things as outer loop, but that doesn't address the problem. I don't know if there is a good way to do this. @weshaggard, @tarekgh: do we have any patterns established for running tests locally only?

[2017-02-08 22:46] weshaggard commented on #15961
I would suggest a conditional fact, which you can add any logic you want in it to detect whether or not you have a serial port or not.

[2017-02-08 22:49] mmitche commented on #15776
@MichaelSimons @tinchou Yea.

[2017-02-08 22:50] JeremyKuhne commented on #15961
@weshaggard We already have that- the issue is that the CI machines have a serial port present and the tests don't work reliably in the CI environment.

[2017-02-08 22:51] willdean commented on #15961
@weshaggard All the tests already have conditional facts around detecting serial ports and the equipment they're connected to.

The problem is that the CI machines do appear to have a serial port of kind, so various tests are triggered to run.

[2017-02-08 22:54] willdean commented on #15961
We could just decide that the 'no loopback, just a single serial port' subset isn't very useful anyway, and effectively upgrade all the requirements to require either single-port loopback or null modem - that would mean that they'd only get run if there was a deliberate attempt to equip a machine for serial port testing.

[2017-02-08 22:55] weshaggard commented on #15961
I see. The other potential way is to mark them as IgnoreForCI, see https://github.com/dotnet/corefx/blob/158800db40864779aadbe2b2e6916dbc495060b6/src/System.Runtime.Extensions/tests/System/EnvironmentTests.cs#L182.

[2017-02-08 22:59] joperezr opened #15966 "Microsoft.Win32.Registry shouldn't be supported on uap"
Today we have Microsoft.Win32.Registry in the closure of uap because the implementation of System.Private.Xml and System.Diagnostics.Process depend on it. We should break those dependencies at least for UAP so that we can safely remove the uap Configuration for registry.

To do:
 - [X] Remove Registry dependency from System.Private.XML (PR #15973)
 - [ ] Remove Registry dependency from System.Diag

[2017-02-08 23:02] joperezr opened #15968 "System.IO.IsolatedStorage shouldn't depend on AccessControl for UAP"
Today IsolatedStorage depends on two AccessControl libraries for netcoreapp and uap. While this is ok in netcoreapp, AccessControl isn't available on UAP so we should break that dependency and create a new uap specific configuration of IsolatedStorage that doesn't depend on them.

cc: @JeremyKuhne

[2017-02-08 23:32] JeremyKuhne commented on #15961
@weshaggard What does that do for outerloop? I assume these would struggle on that run as well...

[2017-02-08 23:34] JeremyKuhne commented on #15968
@weshaggard We have an AccessControl for Unix that throws PNSE. Would it make sense to do the same for UAP?

[2017-02-09 00:12] karelz commented on #3906
@vancem do you have API shape in mind for OS counters (CPU, memory, etc.)? I guess using Desktop PerfCounters is probably non-starter.
@galvesribeiro expressed interest on gitter to have something like that for Orleans (on Linux), potentially contributing the work to CoreFX code base.

[2017-02-09 00:16] karelz commented on #4577
@vancem do you have API shape in mind for OS counters (CPU, memory, etc.)? Should we explore Mono (cc @marek-safar if he has advice here)

@galvesribeiro expressed interest on gitter to have something like that for Orleans (on Linux), potentially contributing the work to CoreFX code base.

[2017-02-09 00:16] karelz commented on #3906
Note: Fully x-plat PerfCounters are tracked by #4577.

[2017-02-09 00:19] dennisdietrich commented on #3140
Quick update: Including some code changes I haven't committed yet I'm down to about 50 failing inner loop test projects on Windows so it'll probably be a few more days until I'm done with that, after which I'll take a look at running inner loop on Linux (and after that, obviously, I'll check outer loop).

[2017-02-09 00:22] tarekgh commented on #3140
thanks @dennisdietrich this is awesome!

[2017-02-09 00:27] vancem commented on #3906
First I note that some of this data (e.g. CPU Time, working set, etc), already exists on the System.Diagnostics.Process class.    I think in general if there is a 'obvious' class where metrics 'belong' it should go on that (e.g. GC information on the GC class).   If that would 'pollute' the API too much with this 'rare' case, we should make a helper class with a standard suffix (e.g. PerfMetrics),

[2017-02-09 00:27] tinchou opened #15972 "DbDataReader.GetFieldValue<T> fails in SQLite"
I'm writing `System.Data.Odbc` library for corefx and testing it with a SQLite provider. When you call `reader.GetInt64(i)` to get a big number it'll work great, but if you try to do `reader.GetValue(i)` then it'll fail with and `Unknown SQL type` exception. Given the inner working of SQLite, I'd say this is expected.

The real issue here is that `reader.GetInt64(i)` works fine but  `reader.GetFie

[2017-02-09 00:33] akoeplinger commented on #4577
Mono has implementations for reading a few of the performance counters like getting free/total memory, cpu usage etc that could be reused. I'm not sure however whether the PerformanceCounter API is the best approach xplat (though it'd probably help porting existing code).

[2017-02-09 00:33] karelz commented on #3906
@vancem I put my original text into the wrong issue - can you please move your reply there? I don't want to side-track this one. Sorry!

[2017-02-09 00:34] karelz commented on #4577
@akoeplinger Does Mono have any API for the tasks? Can you point us to it?

[2017-02-09 00:36] vancem commented on #4577
First I note that some of this data (e.g. CPU Time, working set, etc), already exists on the System.Diagnostics.Process class. I think in general if there is a 'obvious' class where metrics 'belong' it should go on that (e.g. GC information on the GC class). If that would 'pollute' the API too much with this 'rare' case, we should make a helper class with a standard suffix (e.g. PerfMetrics),
Note

[2017-02-09 00:41] akoeplinger commented on #4577
@karelz nothing special, just regular PerformanceCounter:

[code]

[2017-02-09 00:46] karelz commented on #4577
@vancem given that we will introduce Performance Counters consumers for Windows, would it make sense to provide the same API also on Linux? It may not be the most beautiful, but it will be easy to use (samples everywhere), while we figure out the "right way". Thoughts?

[2017-02-09 00:48] shmao opened #15974 "Area-Serialization Sprint 114"
The issue is for tracking issues to be done in sprint 114 (due by 3/3/2017).

[2017-02-09 00:54] #15955 closed

[2017-02-09 00:56] danmosemsft commented on #15961
It would be nice if there were at least SOME that were reliable/fast enough we could run in the CI even if all they do is little more than new up a serial port.

[2017-02-09 01:06] tannergooding commented on #15830
@karelz, what is the answer going to be moving forward for APIs added that require runtime support but have reasonable workarounds to also get it functioning on Desktop?

We did something very similar with SIMD, where platforms that either don't support the hardware intrinsics or don't have runtime support yet would just fallback to using a slower and possibly less precise implementation.

[2017-02-09 01:22] weshaggard commented on #15961
See https://github.com/dotnet/corefx/blob/master/netci.groovy#L225 we pass IgnoreForCI in outerloop runs as well.

[2017-02-09 01:33] weshaggard commented on #15968
Similar to https://github.com/dotnet/corefx/issues/15337 I would prefer we break this dependency for NETCoreApp and UAP.

[2017-02-09 01:42] Thaina commented on #15622
@safern First, reduce it from 2 tobe only one like has benefit on one line return. Such as Linq

I have wanting this API when I was writing random unique select with Linq

[code]

instead I should
[code]

Second. `Dictionary.TakeValue(K key)` I propose work like the list above. Internally it act like
[code]
 In one line. Same reason as List above

I use the word `Take` to make a difference from `G

[2017-02-09 01:45] Thaina commented on #15622
ps. I myself don't like word `Take` but I just can't think of another word. Are there anyone have better wording for this functionality?

[2017-02-09 01:47] dennisdietrich commented on #3140
Just noticed some UAP PAL source files. Is that an environment I should check too? If so, how? The building and debugging instructions for Windows don't seem to mention UAP.

[2017-02-09 01:50] karelz commented on #3140
We are just bringing UAP back to life, I think it is fine to skip it for now cc: @joperezr @weshaggard.

[2017-02-09 01:53] JeremyKuhne commented on #15968
Ok, thanks

[2017-02-09 01:53] Thaina commented on #1942
Please also consider `T TakeAt(int index,int count)` , `T[] TakeRange(int index,int count)` for list and `T TakeValue(K key)` in #15622

[2017-02-09 01:54] JeremyKuhne commented on #15961
Thanks @weshaggard

[2017-02-09 01:55] karelz commented on #15830
Right now we do not have plans. We will adjust them based on customer demand.
cc: @danmosemsft @weshaggard

[2017-02-09 02:05] tannergooding commented on #15830
My opinion here is that we should be providing the surface area on all platforms, whether it is available or not. This allows users to use APIs, no matter what framework they are targeting. If the API is not available, it will throw and the user can handle it as they desire. My understanding is that this is what is being done for a number of APIs in .NETStandard 2.0.

Additionally, for APIs which

[2017-02-09 02:33] karelz commented on #15830
Compiler errors are much easier for consumers to deal with than runtime errors. With runtime errors you are never sure when you're done, until you exercise every single code path in your app/library (which is sci-fi).

Yes, we did that for a bunch of APIs, but we tried very hard to minimize number of such cases and minimize the impact (i.e. based on usage data from nuget). Having it as default pol

[2017-02-09 02:46] danmosemsft commented on #15839
We're working on getting dumpfiles from test runs, so that may be the next step.

[2017-02-09 02:56] dotnet-mc-bot opened #15981 "Tests under: System.IO.Compression.Tests failed with "System.IO.Compression.ZLibException & System.DllNotFoundException""
Opened on behalf of @Jiayili1

The test `System.IO.Compression.Tests.BeginEndDeflateStreamTests/DecompressWorks` has failed.

System.IO.Compression.ZLibException : The underlying compression routine could not be loaded correctly.\r
    ---- System.DllNotFoundException : Unable to load DLL 'clrcompression.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)

        S

[2017-02-09 02:58] karelz commented on #15735
@weshaggard can you help while @ericstj is OOF?
@leecow how much time we have for 1.0 servicing?

[2017-02-09 03:00] jamesqo opened #15982 "[Proposal] Stack.Swap to simultaneously pop/push an element"
## Description

I have found it's often necessary to replace the top element of a stack with a new one. Currently, that's done like this:

[code]

This issue proposes adding a new API, `Swap`, that pops and pushes in one go:

[code]

## Proposal

[code]

## Remarks

- In addition to lowering LOC, this API would likely increase performance when replacing Pop/Push because there would be fewer method

[2017-02-09 03:04] Jiayili1 commented on #15981
Tests under "System.IO.Packaging.Tests" are failed with "System.IO.Compression.ZLibException" on build 20170209.01.

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170209.01/workItem/System.IO.Packaging.Tests/analysis/xunit/System.IO.Packaging.Tests.Tests~2FPackageOpenStream_VerifyDefaultAccess

[2017-02-09 03:09] lmolkova opened #15984 "Implement DiagnosticSource.IsEnabled with extended context"
# Motivation
Our goal is to enable telemetry event correlation. To do this we need incoming requests to be tagged with an ID (and potentially other information), and have this information 'flow' through (be available) to all code run in response to that request and in particular allow this information to be propagated to any outgoing requests.

#15023 Implements this approach and involves addition

[2017-02-09 03:13] onovotny commented on #15735
When I talked to @ericstj before he went OOF, he mentioned he'd try to prep a branch with the changes? Not sure if he got to it or where it is....

[2017-02-09 03:44] leecow commented on #15735
@karelz the window is closed at 6pm tonight for the March release. We should talk first thing in the morning if this is a must-have.

/cc @gkhanna79

[2017-02-09 03:48] onovotny commented on #15735
@leecow IMO this is a must have because it's causing active pain for package.config users with netstandard1.1 PCL profiles....and that's going to be many people initially. What's "worse" is that 1.6.1 fixes it but has the bad side-effect re LTS/FTS with .NET Core. It *shouldn't* but it does.

[2017-02-09 03:52] leecow commented on #15735
Thanks for the additional information @onovotny. Very important.

[2017-02-09 04:12] stephentoub commented on #15982
I'm personally not seeing enough value here.  For situations where I have needed something along these lines, the new value I'm pushing is very often based on the value that's popped (or more than one), which this wouldn't support.  And even if there are scenarios that would benefit from this, I think there's value in having a simple set of composable operations (e.g. Push and Pop) rather than one

[2017-02-09 04:25] #15809 closed

[2017-02-09 04:26] karelz commented on #15735
cc @terrajobst @Petermarcu @danmosemsft - blocking 1.0.x release.

Probably stupid question (sorry, packaging is still new to me :(): What exactly is the scenario which does break today? (I looked at the referenced issue, but couldn't put it together, again sorry if it is stupid question)

[2017-02-09 04:29] jkotas commented on #15960
Related to https://github.com/dotnet/corefx/issues/14021

[2017-02-09 04:49] jamesqo commented on #15982
That's a good point. I was about to point out that `Peek` would let you do this, e.g. `stack.Swap(1 + stack.Peek())` but at that point it becomes no more convenient than writing `stack.Push(1 + stack.Pop())`. I guess what I've proposed would only benefit people not using the old value in the replacement value, and having to put `Pop` on a separate line.

OK, fair enough. This was more of a conveni

[2017-02-09 04:49] #15982 closed

[2017-02-09 04:56] Maxim-Kornilov opened #15986 "Wrong .NET Core console output encoding on Windows"
Command prompt on my computer have a 866 (OEM - Russian) encoding, but .NET Core app says it is Unicode (UTF-8).

Source code:
[code]
Console output:
[code]

[2017-02-09 06:23] stukselbax commented on #7129
I think that current `X509Certificate2` is almost ready for this. You need to provide ability to create empty in-memory instance of `X509Certificate2`, and allow several of it properties to be initialized, via setters or other initilialization technics - SubjectName, FriendlyName, ExtensionCollection, and so on.

You also need to add ability to set public/private key pair, which must be generated

[2017-02-09 08:42] willdean commented on #15961
@danmosemsft There are currently about 120 out of 760 that can run with no serial port at all.

With a serial port but no attached hardware, you get about 320 out of 760 running.  (This is what's trying to run on the CI at the moment)

[2017-02-09 09:11] dhoehna commented on #15554
Still figuring out what is wrong.  I am making progress.  Hopefully my efforts will help someone else down the road.

@FireAlkazar Sorry I'm not helping.  It seems like both my computers have something wrong with them and won't let me run corefx code.

[2017-02-09 09:29] happysysadm opened #15989 "Issue with system.net.networkinformation.ping.send() with a low timeout"
It appears as when I use .NET [system.net.networkinformation.ping.send()](https://github.com/dotnet/corefx/blob/master/src/System.Net.Ping/src/System/Net/NetworkInformation/Ping.Windows.cs) function with a low timeout, like less than 100ms, it will return an answer even if the time is higher than the timeout I have set:

[code]

Is the iphelper API able to handle low ping thresholds correctly when

[2017-02-09 09:52] FireAlkazar commented on #15554
@dhoehna that's ok, I hope you'll figure it out.

I also take a pause for a week approximately as I'm changing the company where I work now and it takes lots of time.

[2017-02-09 10:03] deVaXz opened #15990 "Threadpool Min/Max ThreadCount Configuration"
I am porting a .net 4.5 windows application to a .net core application targeting docker. Since i have a massive usage of the System.Threading.Tasks namespace, which is obvious based on the System.Threading.ThreadPool's min/max thread configuration, I was looking for an replacement for the following APIs
- System.Threading.ThreadPool.SetMinThreads(int, int) and
- System.Threading.ThreadPool.SetMaxT

[2017-02-09 10:37] nietras commented on #15914
@jkotas I am not sure I fully understand the details, would you mind elaborating on this? Let's say we implement `Sort` as a member method like this (just for arguments sake):
[code]
And `SpanHelper` then contains the actual implementation. What are the concerns here as seen from CLR's point of view? Compared to an extension method defined as:
[code]
Both defer the actual implementation to other t

[2017-02-09 10:50] roji commented on #3906
Just wanted to second @vancem's distinction between reading existing perf counters vs. creating a publishing new ones. I maintain Npgsql, which publishes connection pool perf information on Windows (just like SqlClient does), and it's important for something like this to be possible in a x-plat way with .NET Core.

[2017-02-09 11:23] galvesribeiro commented on #3906
@roji yeah we understand that. Perhaps we should have a revamp on those counters in .Net Core to make it crossplat.

[2017-02-09 11:24] KlausLinzner commented on #13857
Are there any more specs in regards to target size/resizing/performance?

I have a small implementation (not all IDictionary members are implemented though) that uses an array as backend. It's only a basic implemention (no shrink,...), but its read performance for n < 10 elements is very close to Dictionary (in some case faster if you take into account that read/write operations need no exclusive

[2017-02-09 13:35] onovotny commented on #15735
Here's the scenario:

User with netstandard 1.1-level legacy PCL project (Profile 111, 151, etc), with a packages.config file (everyone today), adds a NuGet reference to a netstandard 1.1 package. That package has a dependency on NETStandard.Library 1.6.0 because they've been told to (and the tooling does it for them).

Now install of that package fails for that PCL user because the RuntimeInforma

[2017-02-09 13:56] JonHanna opened #15991 "S.L.Expression Casts of Boolean Enums Incomplete"
#13516 raised and #13518 closed the issue of casting from bool to bool-based enums using `Convert`. It did not though cover the inverse cast or the use of `ConvertChecked`. The inverse cast isn't accepted, and `ConvertChecked` fails on both interpreter and compiler.

[2017-02-09 15:47] jkotas commented on #15914
In the first case, generic dictionary of `Span<T>` will have slots for everything used by Sort method. It means that every `Span<T>` instantiation (where T is reference type - assuming current CoreCLR generic code sharing policy) will pay for Sort baggage. Moving the actual implementation into separate type or method does not solve the problem because of the `Span<T>` dictionary is still going to

[2017-02-09 16:23] vancem commented on #15984
I worked with @lmolkova  on this API.  I want to indicate that the need for more context (arguments) to the IsEnabled() call has always been a known issue.    We did not add it initially because we did not need it and at the time and could be added later.   That time has now come (we have a real scenario that needs it.

Note that there already was the API

     public virtual bool IsEnabled(string

[2017-02-09 16:30] stephentoub commented on #15984
Are the args supposed to be optional in the proposal then?  They're not currently:
[code]

What about value type arguments?  Should these be generic?

[2017-02-09 16:45] vancem commented on #15984
Yes, that was the original suggestion but @lmolkova may have run into a snag.   @lmolkova  can comment

Bingo.   Generic Virtual methods add non-trivial overhead (since you have to pass a type argument, and frankly we don't optimize this path much).    Moreover, the value type case is likely to be rare (typically you pass 'big' things to DiagnosticsSources, which should be objects, and even if you

[2017-02-09 16:52] CarolEidt commented on #15713
I have duplicated this on an earlier version and have a potential fix, but with the latest sources it doesn't seem to repro. I'm tracking down whether this is by design (i.e. actually fixed by some intervening change), or by accident (i.e. something else changed).

[2017-02-09 16:52] karelz commented on #15990
The APIs will be part of .NET Core 2.0 and .NET Standard 2.0 - see [apisof.net](https://apisof.net/catalog/System.Threading.ThreadPool.SetMinThreads(Int32,Int32))

[2017-02-09 16:55] kzu commented on #1022
FWIW MSBuild string comparison when dealing with booleans is *not* case sensitive.

"Test":

[code]

You will see this output:

[code]

[2017-02-09 16:57] karelz commented on #15989
That sounds more like a question about the underlying platform (Windows) API than about .NET, right?

[2017-02-09 17:06] happysysadm commented on #15989
@karelz I am unsure of where the problem is. But as a matter of fact when I use that .NET method I don't get what I would expect. You reckon I am approaching it wrong? Thanks

[2017-02-09 17:08] karelz commented on #15989
I am not questioning your approach - just reacting to what you wrote: You noticed .NET Core uses Windows API, so the limitations are likely coming from it ...
Did you get chance to test the Windows API directly (PInvoke or C++ app)?

[2017-02-09 17:45] sepidehMS commented on #15966
System.Private.Xml dependency removed by https://github.com/dotnet/corefx/pull/15973

[2017-02-09 18:01] danmosemsft opened #16002 "Fix build to work for VS2017"
It ought to be possible to build with VS2017 at least with the V15 tools if not potentially with the V14 tools if VS installs those. Someone needs to remove the checks below and make any other necessary fixes. Probably won't take long.

[code]

and probably a few other places.

[2017-02-09 18:16] huanwu opened #16004 "Prototype XmlSerializer pregeneration"
Investigate the feasibility of the implementation XmlSerializer Generator in core.

[2017-02-09 18:19] huanwu opened #16005 "Investigate the usage svcutil tool in serialization"
Investigate the usage of svcutil tool in Desktop so as to well understand the feasibility of its implementation in the core.

[2017-02-09 18:21] huanwu opened #16006 "Test more scenarios in the XmlSerializer pregeneration"
Based on the #16004, try more scenarios including soap.

[2017-02-09 18:26] ianhays commented on #15837
This test doesn't purposefully hit OOM or come near it, so I'm going to close this since it's the first time we've seen it fail. If it fails again then I'll modify the test to ease up on resources or move it to Outerloop.

[2017-02-09 18:27] karelz commented on #15735
Thanks @onovotny for your explanation! I also chatted a bit with @weshaggard and here's summary (please correct me if I am wrong):
* .NET Core 1.0 (meta-package 1.6.0, LTS) - System.Runtime.InteropServices.RuntimeInformation 4.0.0 package has a (packaging) bug - customer impact described in https://github.com/dotnet/corefx/issues/15735#issuecomment-278642111
* .NET Core 1.1 (meta-package 1.6.1, FT

[2017-02-09 18:39] dennisdietrich commented on #3140
@karelz Okay. What about endianness? I believe that ARM is typically bi-endinan (or fixed to little) and with Xbox having moved to x64 I don't think anyone cares about PowerPC anymore. Still, did just come across some PAL code with ```if# BIGENDIAN```so I wonder if there's anything I should check.

[2017-02-09 18:40] nietras commented on #15914
Right.

Of course, that makes sense then.

@jkotas thanks again! 😃

[2017-02-09 18:42] karelz commented on #3140
How is endianness related to CheckForOverflowUnderflow? It should be transparent to most of the system, right?

[2017-02-09 18:45] divega commented on #15972
@tinchou I talked briefly to @bricelam about how we are handling this in the Microsoft.Data.Sqlite provider and he suspects there maybe a problem in the ODBC driver for SQLite: the fact that `GetValue()` fails for that column makes little sense. If a value is stored it should be able to return it (even if it is not of the type you expect) so the implementation of `GetFiledValue<T>() for System.Dat

[2017-02-09 18:46] danmosemsft commented on #15931
@safern

[2017-02-09 18:50] dennisdietrich commented on #3140
It is not, but keep in mind that I'm working my way through overflow exception; I'm not doing a manual code inspection so any code that's big-endian only will go untested with the current approach.

[2017-02-09 18:51] divega commented on #15972
We also talked about this issue you filed and we both believe it is actually ok for the default implementation of `GetFieldValue<T>()` on `DbDataReader` to be just a cast. Many providers may not need more than that, and if they do, they can always override.

[2017-02-09 18:58] #15949 closed

[2017-02-09 19:14] TimHess commented on #9788
This info helped me get codegen working with netcoreapp1.1 on my machine
https://developercommunity.visualstudio.com/content/problem/10914/scaffolding-net-core-with-entity-framework.html

[2017-02-09 19:14] ianhays commented on #15986
Heya @Maxim-Kornilov, this is a duplicate of https://github.com/dotnet/corefx/issues/10054 and is expected behavior. Please comment over there after reading the comments if you have any further concerns :)

[2017-02-09 19:14] #15986 closed

[2017-02-09 19:15] am11 commented on #15961
The node.js community has configured Jenkins based test machine for testing their serial-port implementation: nodejs/hardware#13. Would be nice to have a similar system employed to test .NET Core implementation on a real hardware.

[2017-02-09 19:16] #16004 closed

[2017-02-09 19:22] onovotny commented on #15735
That is the summary, thanks @karelz. Hopefully this can hit Update 1 and the next release as soon as possible....

[2017-02-09 19:24] karelz commented on #5749
Next step: We need formal API proposal.
On Windows we need to find out if after cancellation you can send still something else on the same connection.
We need to asses Linux implementation - is it doable?

[2017-02-09 19:26] karelz commented on #5606
Next step: Scan the code base of System.Networking, replace the pattern as per advise above.
Should be straightforward.

[2017-02-09 19:28] karelz commented on #5525
This should be actionable once we have UWP testing back in place.

[2017-02-09 19:29] karelz commented on #5200
We should investigate the behavior difference in 2.0.

[2017-02-09 19:30] CarolEidt commented on #15713
I was able to repro it and had a possible fix, but after merging with the latest coreclr, it seems to be failing before it hits the previously failing test. I'm continuing to work on it, but may have to pass it to someone else.

[2017-02-09 19:31] karelz commented on #4721
@CIPop has some work done in the space as well. We need to reconcile it with SNI work and figure out how to push it forward. It needs non-trivial work to even figure out the plan.

[2017-02-09 19:34] karelz commented on #3862
Next steps: We need sweep of code base and changes to it.
Warning: Be careful about changing semantics (some of them might not be easy).
Complexity: Medium.

[2017-02-09 19:35] nzcoward commented on #15902
Sure, but is it a bug or feature-request? It's an API shortfall, that I think corefx might look to resolve - I don't think it's something for the full framework (except perhaps for parity), but moving forward, it would be good to have. Is there a way to register this against a work in progress?

[2017-02-09 19:37] karelz commented on #2928
This is dupe of #4721.
If there is any unique information in this issue which is not in the dupe, please let us know.

[2017-02-09 19:37] #2928 closed

[2017-02-09 19:39] karelz commented on #7623
It's part of our UWP .NET Standard 2.0 work (in planning).

[2017-02-09 19:40] jamesqo opened #16007 "ImmutableSortedSet.Builder.DebuggerProxy incorrectly caches contents"
https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableSortedSet_1.Builder.DebuggerProxy.cs#L42-L45

`ImmutableSortedSet<T>.Builder` is probably a mutable type, so it's incorrect to cache the contents for display to the debugger. The code was probably copied-and-pasted from the proxy for a collection that actually is immutable, where

[2017-02-09 19:41] karelz commented on #7459
Looks like we need to change the docs.
@hughbe do you have links to MSDN which need to be changed? Do you have proposed wording change?

[2017-02-09 19:43] karelz commented on #7340
We are tracking all Networking test failures in specific effort - cc @steveharter @Priya91 @ianhays - guys, can you please link the master issue?

[2017-02-09 19:43] #7340 closed

[2017-02-09 19:43] weshaggard commented on #15830
That is the exceptional case that we are dealing with there for the initial pull together of the .NET Standard 2.0 work. Going forward we don't yet have the full plan worked out (see https://github.com/dotnet/standard/issues/127) but we will have a process for adding things to the standard and platforms that don't support that version of the standard will not be able to use libraries that build ag

[2017-02-09 19:47] karelz commented on #7254
It looks like a reasonable thing to fix in .NET Core.
We will have to carefully review impact of the difference between platforms.

Question: How painful it is today for customers? What is value? (number of customers)

[2017-02-09 19:51] mellinoe commented on #15830
Another option: we can move this class to a new extension library, entirely on top of the standard. It can have a specialized implementation for .NET Core 2.0 which type-forwards to System.Private.CoreLib.dll, but is otherwise fully portable.

[2017-02-09 19:53] weshaggard commented on #15830
Yes that is an option if we felt there was enough value for having it but if the portable implementation is simply going to cast I don't know if there is really enough value.

[2017-02-09 19:57] karelz commented on #7037
`WebRequest.DefaultWebProxy` uses default IE settings. It's a singleton and behaves differently than `HttpClient` which has per-instance behavior and settings.
There is workaround by using `HttpClientHandler` properties to select the proxy you want.

Given that `WebRequest` is legacy, compat-only API and given there is not super-high demand for this feature from customers and that there is workaro

[2017-02-09 19:57] #7037 closed

[2017-02-09 19:58] ianhays commented on #7340
https://github.com/dotnet/corefx/issues/14519

[2017-02-09 19:59] karelz commented on #6997
It's edge case bug.
Next step: Review the PR comments and provide a fix.
Complexity: Medium, requires WinHttp stack knowledge.

[2017-02-09 20:03] karelz commented on #6946
This is side-effect of the fact we have different HTTP stacks in Desktop, Core and UWP.
Fixing this specific bug will be very complex and difficult. It would be better to focus on reconciling and merging the Http stacks implementations.

If you think this bug has high impact on customers, please let us know.

[2017-02-09 20:03] #6946 closed

[2017-02-09 20:04] jkotas commented on #15830
Agree with @weshaggard . We invest into building and shipping the extension library if the types involved are exchange types, thus they are likely to be used in public signatures) because of it has ripple effects. MathF is not an exchange type.

Note that this does not prevent to anybody out there who feels strongly about this to build the portable extension library as their own nuget package. It

[2017-02-09 20:09] ianhays commented on #15785
Tracking in https://github.com/dotnet/corefx/issues/14519.

This issue is of the same class as #8744, #12683, #12706, and #12728 - duplicate issues failing because of an intermittent error (credentials package not recognized) that occurs in several NetSecurity tests.

I'm about to re-enable all of these tests in https://github.com/dotnet/corefx/pull/15952 to try to get some better data on the circ

[2017-02-09 20:09] #15785 closed

[2017-02-09 20:22] jcouv opened #16010 "Proposal: GetAwaiter for tuple of tasks"
@jnm2 has [implemented `GetAwaiter` extension methods](https://gist.github.com/jnm2/3660db29457d391a34151f764bfe6ef7) which enable convenient awaiting on tuples of tasks (up to some arity).

For instance, `var (x, y) = await (thingX.OperationAsync(), thingY.OperationAsync());`

@terrajobst @weshaggard @jkotas How do you recommend proceeding with such API proposals?
Do you need an API review before

[2017-02-09 20:26] tannergooding commented on #15830
The benefit here is that users can consume the API without needing to target any additional/special packages (or even 3rd party) packages. Then, when the runtime support is finally merged back to Desktop, they get a decent performance increase.

Currently, one cannot reference NETStandard.Library and consume the System.MathF APIs without creating a custom wrapper/workaround. This limits adoption o

[2017-02-09 20:32] karelz commented on #15902
Fair point - I let @tquerec to triage the issue from long-term DirectoryServices in CoreFX point of view.

[2017-02-09 20:39] #7825 closed

[2017-02-09 20:39] #9130 closed

[2017-02-09 20:39] #10909 closed

[2017-02-09 20:39] #11170 closed

[2017-02-09 20:39] #12706 closed

[2017-02-09 20:39] #14177 closed

[2017-02-09 20:39] jcouv opened #16011 "Proposal: New Zip LINQ Tuple Overload API"
(By @agocke) Rewriting this issue to focus on exactly one API:

[code]

There will also be a matching IQueryable API:

[code]

[EDIT] Add class names and existing `Zip` method for context by @karelz

[2017-02-09 20:49] migueldeicaza commented on #15289
Hello @eerhardt

This is music to my ears.   I do like the approach.

One thing that we have done in the past for some pieces of Mono code is to extract them into a separate top-level module  (and we have a script that extracts the code with the complete Git history) and then we have taken a dependency from Mono into the module, and .NET core takes a dependency into that module as well.

We can st

[2017-02-09 20:53] karelz commented on #3140
I see.
We should make at least small effort to not change code which we won't cover in tests. That said, I expect we will make a few mistakes -- CI will catch such cases. If particular build is not covered by CI, I am fine discovering such issues later.

[2017-02-09 20:55] dennisdietrich commented on #3140
Fair enough. That said, what about the System.IO.Ports tests? Since I'm running the tests in a VM that doesn't even have a (virtual) serial port I get 425 skipped tests. Is there a virtual null modem I could install to get those to run?

[2017-02-09 20:57] willdean opened #16013 "SerialPort Tests EventGeneric.EventHandlers_CalledSerially always hangs"
EventGeneric.EventHandlers_CalledSerially always hangs waiting for events.

@karelz  This is a placeholder to allow ActiveIssue - it can be assigned to me.

[2017-02-09 21:17] alexperovich commented on #16010
We would want a format API proposal before implementation. I think this is a useful api to have. The right place for them would be in https://github.com/dotnet/corefx/tree/master/src/System.Threading.Tasks/src/System/Threading/Tasks.

[2017-02-09 21:21] divega commented on #2648
@karelz @weshaggard we discussed this in triage today and we believe the issue is worth addressing. Compatibility is also important so we don't think it is a good idea to change the default behavior. We are not sure whether having a quirk or a new member is a better option:
- It seems both approaches would require work in .NET Core and .NET Framework for the issue to be completely addressed
- A qu

[2017-02-09 21:22] bricelam commented on #2249
I'm re-opening this because it is a real issue for provider writers that prevents them from creating a provider that *just* targets .NET Standard 1.2 (without cross-targeting .NET Framework 4.5.1).

IMHO, the solution here is to add `Close()` back to `DbDataReader` in .NET Standard 1.2 (as we're doing in .NET Standard 2.0)

[2017-02-09 21:33] safern commented on #15931
@tarekgh I see you addressed issue #11611 in PRs dotnet/coreclr#7713 and #12971. Probably you missed this disabled test when enabling the other ones disabled by that issue. Could you please take a look?

[2017-02-09 21:38] danmosemsft commented on #15981
Hi @Jiayili1 please include test-run-core (or desktop) labels for failures.

[2017-02-09 21:44] divega commented on #2093
We are not planning to do what the title say but @lajones will try to figure out what it would mean to do what the last comment says and whether we need more information.

[2017-02-09 21:44] danmosemsft commented on #15713
If it helps -- you can run tests just in one folder by going to the `tests` folder and doing `msbuild /t:buildandtest` or `/t:test`. You can also add [ActiveIssue(1)] on individual tests temporarily but obviously it's probably easier to just comment them out or remove them from the project.

[2017-02-09 21:46] svick commented on #16011
How would `Unzip` work when it comes to laziness? Would it be similar to `GroupBy`, which I belive iterates the whole input before yielding the first result? Or something more lazy, where iterating `first` would iterate `input` at the same time, while saving `second` results to a queue (and vice versa)?

Also, considering that with this change, there would be tuple and non-tuple `Zip`, but only tu

[2017-02-09 21:47] divega commented on #4481
The base constructor call was changed purposely to enable localized messages from resources, and we are not planning to revert that, but @lajones will look into the assertion that `customErrorMessageSet` is set to true and it shouldn't be.

[2017-02-09 21:49] bricelam commented on #2249
Maybe even put `[EditorBrowsable(EditorBrowsableState.Never)]` on it so users won't call it, but provider writers can provide a correct implementation.

[2017-02-09 21:52] divega commented on #4942
One possible reason not to do this is compatibility. We are following up trying to figure out a general bar for that. cc @rowanmiller

[2017-02-09 21:53] tarekgh commented on #15931
@safern
I had no idea about these tests and never was in my radar. I am not sure even if these failing related to my changes. looks @AlexGhiondea disabled the tests till we support the missing globalization properties and I believe we never run these tests on Linux before.

I'll try to take a look and let you know.

[2017-02-09 21:57] divega commented on #6109
Triage: There are comments in #2093 arguing strongly against removing `sealed` for Data Annotations.  Unless are a missing something, the same arguments apply here. It would actually help if frameworks that use Data Annotations for validation are only looking for exact matches.

[2017-02-09 21:57] #6109 closed

[2017-02-09 22:01] weshaggard commented on #15830
While this is unfortunate it is the state of the world we live in. I just did a lot of work to decouple .NET Core from .NET Standard in order to enable folks to have freedom to be able to add new APIs much quicker for .NET Core then for the Standard. If we go back to the model, which I don't believe anyone wants, to tie these together again then it will result in folks not being able to innovate o

[2017-02-09 22:06] jcouv commented on #16010
@alexperovich Thanks. Would you have a past example of formal API proposal that we could use as template?

[2017-02-09 22:26] safern commented on #15931
Thanks @tarekgh let me know if you can find something so if not I can take a look or wait to see if @AlexGhiondea knows something about this!

[2017-02-09 22:30] HaloFour commented on #16010
Awaiting multiple asynchronous operations is a very common pattern in my project.  It's a public-facing WebAPI portal to a large number of microservices where it's normal for a single incoming request to require making multiple backend HTTP requests to aggregate the data.  We currently use some helper extension methods to return a `System.Tuple<...>` of the results.  Having BCL support which would

[2017-02-09 22:30] alexperovich commented on #16010
@jcouv see #4547

[2017-02-09 22:38] jkotas commented on #16010
This explains the whole workflow to add new APIs: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-02-09 23:32] onovotny commented on #15735
That is the summary, thanks @karelz. Hopefully this can hit Update 1 and the next release as soon as possible....

[2017-02-09 23:37] willdean commented on #15961
@am11 Thanks for that - very interesting.   In comparison with what we're trying to do they have very relaxed requirements for hardware but the principle is encouraging.

Somewhere in Redmond there is (I like to think so, anyway) a machine running the SerialPort test suite on behalf of .NET 4.6 - what we really need is a clone of that...

[2017-02-09 23:42] AlexGhiondea commented on #15931
I remember disabling these a long time ago ... since the ComponentModel was brought up before we had full support for globalization.

[2017-02-09 23:47] steveharter commented on #7340
Note GetHostEntryAsyncWithAddress no longer exists

[2017-02-09 23:51] steveharter commented on #9472
Tracking intermittent failures in #14519 (Make System.Net tests reliable)

[2017-02-09 23:51] #9472 closed

[2017-02-09 23:59] geleems commented on #15926
@Priya91 This is the result of the command:
[code]
It seems it began to work from yesterday again, I did not change any setting though.
I think it is more about machine configuration issue. Thanks!

[2017-02-10 00:09] steveharter commented on #13967
Last occurrence 1\15\2017.

Potential fix made here (along with other "DualMode*" tests See PR https://github.com/dotnet/corefx/pull/15697#pullrequestreview-19708024 \ https://github.com/dotnet/corefx/commit/9cac08be84c04a895f6457472b808d3ec164cbcf

Referencing PR #14519

[2017-02-10 00:10] gkhanna79 commented on #12625
@ramarag would be able to look into this sometime next week.

[2017-02-10 00:13] jcouv commented on #15826
We discussed a few options with @srivatsn and @weshaggard. We'll have a decision Monday and I'll prioritize fixing this before RTM ships.

[2017-02-10 00:45] weshaggard commented on #15814
We should try and get this to use the same logic as build-tests.sh and just skip the building part and go directly to running.

[2017-02-10 01:01] weshaggard commented on #14368
@h82258652 That missing library is a library that should come from your package references as it isn't something that currently ships inbox on .NET Framework. Looking at your solution file it appears you are using packages.config for your .NET Framework unit test project. I would suggest switching to Project.json and adding the package reference there and I would expect that should correctly get t

[2017-02-10 01:08] h82258652 commented on #14368
@weshaggard thanks for response, is there a tool convert packages.config to project.json?

[2017-02-10 01:14] lmolkova commented on #15984
Correct, second argument could be optional. I updated issue description and PR

[2017-02-10 01:16] saurabh500 commented on #14638
I am closing this due to a lack of repro and any sample apps.
Please reopen if this issue persists.

[2017-02-10 01:20] karelz commented on #16011
@jcouv please check our [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) for assigning issues. And API process.

[2017-02-10 01:20] saurabh500 commented on #12472
Since there is no error code returned from the underlying Networking calls, it wouldn't be feasible to send them up to SqlException on OSX and Linux.

[2017-02-10 01:20] #12472 closed

[2017-02-10 01:24] tarekgh commented on #15383
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/471/

[2017-02-10 01:24] #15931 closed

[2017-02-10 01:30] weshaggard commented on #14368
I don't know but from a quick search I found https://github.com/NuGet/Home/wiki/Converting-a-csproj-from-package.config-to-project.json which might help you.

[2017-02-10 01:43] h82258652 commented on #14368
@weshaggard thanks a lot.

[2017-02-10 01:56] Jiayili1 commented on #15837
This issue is repro on build 20170209.02, failed test: System.Collections.Concurrent.Tests.ConcurrentQueueTests/ManyConcurrentAddsTakes_CollectionRemainsConsistent(seconds: 1)

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170209.02/workItem/System.Collections.Concurrent.Tests/analysis/xunit/System.Collections.Concu

[2017-02-10 02:02] danmosemsft commented on #15814
We can delete run-test.sh but there needs to be a way to build without running tests. Is therea  flag on build-tests that I missed?

[2017-02-10 02:02] danmosemsft commented on #15814
And run without building.

[2017-02-10 02:04] MichalStrehovsky opened #16022 "BlockReflection attribute inclusion for assemblies that are used on uap"
Framework assemblies that are used on netcore50 should include `BlockReflectionAttribute=true` in their project file unless there's a good reason not to.

It seems like something happened to framework reflection blocking with e.g. Microsoft.CSharp.dll in the 5.2.2 framework metapackage for UWP apps.

I was helping out troubleshooting a UWP failure where the `dynamic` keyword support goo was trying

[2017-02-10 02:05] MichalStrehovsky commented on #16022
Cc @weshaggard @morganbr @davidwrighton @zamont

[2017-02-10 02:16] Jiayili1 commented on #15472
This issue is still repro on build 20170209.02, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170209.02/workItem/Common.Tests/wilogs

[code]

[2017-02-10 02:30] Jiayili1 opened #16024 "OuterLoop_CentOS7.1_release: Test 'System.Xml.Tests.CReaderTestModule.RunTestCase' failed with 'Xunit.Sdk.EqualException'"
Failed Test: System.Xml.Tests.CReaderTestModule.TCMaxSettings
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_release/89/consoleText

Message:
[code]

Stack Trace:
[code]

Configuration:
OuterLoop_Centos7.1_release (build#89)

[2017-02-10 02:41] Jiayili1 commented on #16024
On OuterLoop_OpenSUSE42.1_release ([build#90](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_opensuse42.1_release/90/consoleText)), the test System.Xml.Tests.CReaderTestModule.TCMaxSettings failed with Xunit.Sdk.EqualException

Message:
[code]

Stack Trace:
[code]

[2017-02-10 04:06] #11934 closed

[2017-02-10 04:18] Priya91 commented on #15926
Must be that your network administrator made changes. Thanks for verifying.

[2017-02-10 04:18] #15926 closed

[2017-02-10 06:25] jkotas commented on #16022
Did not we agree to make things well work without it? This stuff is super fragile...

[2017-02-10 06:37] Jiayili1 commented on #16024
This test also failed on following configurations:
OuterLoop_OSX10.11_release ([build#77](https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_osx_release/77/consoleText))
OuterLoop_RedHat7.2_debug ([build#96](
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/96/consoleText))
OuterLoop_Ubuntu14.04_debug ([build#98](https://ci.dot.net/job/dotnet_corefx/job/master

[2017-02-10 06:48] Jiayili1 commented on #15383
@tstringer it is just in openSUSE, If I ran into this issue on other OS system, I will update the comment here.

[2017-02-10 06:56] WinCPP commented on #3862
@karelz The other one on my name is not moving yet. Can I take this instead? Sounds interesting.

[2017-02-10 07:26] karelz commented on #3862
Sure assigning to you ...
I would recommend to start with the easier, straightforward cases. Maybe even do just a couple in initial PR to check first round of review feedback. Either way, breaking up cross-cutting work into not-so-big PRs is always good.

[2017-02-10 07:53] StevenLiekens commented on #7037
@karelz I think it's unfortunate that there is no way to get the address of the system proxy. I don't particularly care that the WebRequest API went away. I care because that was the only way to get that information.

[2017-02-10 07:54] feiyun0112 opened #16025 "SqlConnection.ClearAllPools not working when running on Linux"
You can repeat this issue by steps:

create new Asp.Net Core WebApi Project in VS2015

add Nuget package

`"System.Data.SqlClient": "4.3.0"`

write codes in ValuesController

[code]
run "dotnet publish" and upload files to ubuntu 16.04 server

build docker image use this Dockerfile, and run this image

[code]
call this webapi by muilti threads

[code]

after test many times, then run “sp_who2” in

[2017-02-10 08:03] karelz commented on #7037
@CIPop @davidsh is there a way to get to the system proxy info via `HttpClientHandler`?

[2017-02-10 09:00] tomkuijsten commented on #14601
I'm sorry, but I can't reproduce the problem anymore. I tried creating a simplified reproduction scenario, but it just works, every time. I could imagine that some package update fixed the problem,. I suggest to close the issue, if I somehow experience it again, I'll create a repro project first before adding an issue again.

[2017-02-10 09:53] happysysadm commented on #15989
@karelz thanks for your feedback. I haven't had the occasion to test anything else apart from trying to pinging with the -w option (which is used to set the timeout in milliseconds to wait for each reply) and got the same behavior:

[code]

Since the problem resides probably in the underlying API, does anybody know how to open an issue in the right place?

[2017-02-10 10:11] marek-safar opened #16028 "The binary operator Add is not defined for the types 'System.Nullable`1[System.Byte]' and 'System.Nullable`1[System.Byte]'."
[code]

fails with following error (works as expected without dynamic)

[code]

[2017-02-10 10:19] georgiosd commented on #11100
When does this go public again? :)

[2017-02-10 10:30] Ettery opened #16029 "OpenSslCryptographicException initialising an X509Certificate2 on Debian (Docker)"
I have a Web API running in a docker container.  The container is built from the provided 1.1.0 package:

      FROM microsoft/aspnetcore:1.1.0

and the Web API binaries are copied in.    The API runs fine and returns data as expected until I turn on authentication, at which point it needs an X509SecurityKey to set the *TokenValidationParameters.IssuerSigningKey* value.  It throws an exception whe

[2017-02-10 11:05] JonHanna commented on #16028
Interesting. The compiler is treating the rule that for any `T`, `x` adding a literal null results in a null of type `T` if `T` can be null and type `T?` otherwise, as coming before anything else, including the rule that there's no `+` for enum types (note that `d + MyEnum.Value_1` fails both dynamically and statically).

I'm not completely sure it isn't the static case that's incorrect here, but

[2017-02-10 11:20] deVaXz commented on #15990
So if i understand correctly, the threadpool's threadcount is currently hardcoded or at least not accessible?  If there is no workaround for it, I have to wait for the release of 2.0

[2017-02-10 11:23] JonHanna commented on #16028
Since whether an argument is a literal isn't reflected in dynamic calls the closest we can do is detect if the argument is `const`. That may end up allowing more than it should, though there's already strangeness there as in:

[code]

Where it's taken that the only sensible `+` between some `object` and constant null is that with strings and concatenating null strings results in the empty string.

[2017-02-10 11:59] marek-safar commented on #16028
I think const should have CSharpArgumentInfoFlags.UseCompileTimeType set whereas null literal shouldn't

[2017-02-10 12:12] JonHanna commented on #16028
Yeah, that seems to be the case, which makes this a lot easier. #15537 fixes a few other issues around handling of constants, so I might update that to cover this, though I think the checks need to come in earlier since it covers cases where only one argument is constant.

[2017-02-10 12:58] dmitriyse commented on #2704
Please reopen this issue.
1) There are no any convenient way to simply turn CancellationToken in a non exception raising task.
2) We needs some good Event replacement in TPL. In a light of ValueTask c# 7.0 -  TaskCompletionSource is too have and requires some dummy type.

[2017-02-10 13:19] JonHanna commented on #2704
The above works fine without exceptions. E.g.:

[code]

Or if you really want to `await` it:

[code]

It's a one-liner, so not dreadfully inconvenient.

This sounds like asking for a more convenient square peg for a round hole.

[2017-02-10 13:28] fdinardo commented on #15118
@bartonjs thank you for the explanation. Did you think to create a vagrant box using a tested Distro ready to run? like Ubuntu or fedora. I used the docker container for a while, but only for testing purpose. The advantage to have a vagrant box made is while developing thanks to the shared file system.

@jorgemota your workaround didn't work for me with the very latest openssl.

[2017-02-10 14:19] jorgemota commented on #15118
@fdinardo  can you post your PKG BUILD ? or download all files and zip it to share me?

[2017-02-10 14:22] hilts-vaughan commented on #15118
Please don't downgrade SSL to accomplish this. That's a security risk. If you want to do this, I wrote a guide on how under Arch by passing the current PKGBUILD every time you update:

http://vaughanhilts.me/blog/2017/02/06/openssl-with-sslv3-on-arch-linux-for-dot-net-core.html

Let me know if you have trouble.

[2017-02-10 14:22] jnm2 commented on #2704
@dmitriyse This is about as lean as you can get. Usage:

[code]

Implementation:

[code]

[2017-02-10 14:25] jnm2 commented on #2704
Perhaps `GetResult` could use a `ManualResetEventSlim` instead of allocating a wait handle. This could possibly be lighter, at the risk of allocating yet another waithandle:

[code]

[2017-02-10 14:34] fdinardo commented on #15118
@jorgemota Sure, but I think we should open a dedicated issue regarding dotnet on Arch specifically, Since this problem is due by the Arch's maintainers which (fortunately) got rid off SSLv3.

@hilts-vaughan Thanks for sharing your approach. Just let me understand more what is the difference between your solution and jorgemota's one. Basically he made the patch manually while you are using a tool

[2017-02-10 14:37] hilts-vaughan commented on #15118
@jorgemota will be relying on old versions which will break every time you update. It's also an old version of OpenSSL provided above, so you will be open to security vulnerabilities as well that come with an older version.

Yes, mine is automatic and will apply the patch over the latest version every time you update.

[2017-02-10 15:07] #13172 closed

[2017-02-10 15:28] willdean opened #16033 "Some SerialPort tests very sensitive to flow control details"
This is so that I can ActiveIssue a bunch of failing tests as precisely as possible, and also so that I can get  my thoughts straight on this.

**tl;dr**
A significant number of the legacy SerialPort tests rely on specific traditional hardware behaviour which is not available on the CI or in the future.  We need to work around this.

**Full Details**
A lot of the serial port tests, including some

[2017-02-10 15:42] fdinardo commented on #15118
@hilts-vaughan Is there actually a difference between `customizepkg` and `customizepkg-git`? I already have installed customizepkg, does it will do the same job?

[2017-02-10 15:44] hilts-vaughan commented on #15118
Yes, that will do fine.

[2017-02-10 16:05] karelz commented on #15990
I let area owners to comment - @kouvel and @alexperovich.

[2017-02-10 16:08] fdinardo commented on #15118
@hilts-vaughan Thanks so much! This fixed the problem.

[2017-02-10 16:12] karelz commented on #11100
Our change got into release/1.1.0 branch on Tuesday - package version 4.3.1. All packages in the branch were fliped to stable yesterday (independent effort, but helps us as well :)).
@davidsh will do sanity test on myget feed (ETA: today), then we will ask for one last validation here by community (ETA: today, EOD). Once we have final validation on that build, we will push the package to NuGet. My

[2017-02-10 16:15] karelz commented on #15989
OK, closing here then.
I don't know if Windows team has any direct feedback on API bugs and feature requests. You can use Microsoft Support (paid channel).

[2017-02-10 16:15] #15989 closed

[2017-02-10 16:17] weshaggard commented on #15814
There isn't today but I think we can probably figure out a way to make that scenario work.

[2017-02-10 16:22] gulbanana commented on #11100
That's welcome news, and will make netstandard2.0 easier to use.

[2017-02-10 16:25] hilts-vaughan commented on #15118
Great. Happy development! @bartonjs  feel free to link to my post for other Arch users if you guys want to at least post this information to avoid getting all the reports.

[2017-02-10 16:28] tarekgh commented on #16022
CC @AtsushiKan

[2017-02-10 17:31] davidsh commented on #7037
No.  The HTTP stacks in .NET Core use the OS level HTTP stacks.  This is true for both Windows and Linux. While we can specify that a request can USE the system proxy, we cannot query the system to determine what that system proxy is.  Usually this isn't needed.  It's more important that HTTP requests can use the system proxy and that developers can specify to use the system proxy or a custom prox

[2017-02-10 17:37] karelz commented on #7037
Thanks @davidsh, it makes sense from certain point of view. @StevenLiekens, is it sufficient answer? Is the option to USE system proxy good enough for your scenario?

If not, what are the use cases when you need to know the system proxy yourself?

[2017-02-10 17:48] JonHanna commented on #16028
It's not the constant handling, it's the conversions that are wrong.

It should be producing the expression:

[code]
Instead it's producing:
[code]

[2017-02-10 17:54] MichalStrehovsky commented on #16022
Getting this to work all the time would require a change in default RD.XML reflection policy on UWP apps from:

[code]

To:

[code]

This change in policy comes with size on disk costs and compilation throughput costs. I don't remember an agreement about that.

This would still be breaking to apps that use the old form of the RD.XML (which is why the customer I was helping hit this by merely upgra

[2017-02-10 17:59] tinchou commented on #15972
I'll close this, then try to get in touch with the driver owner. Thanks!

[2017-02-10 17:59] #15972 closed

[2017-02-10 18:08] danmosemsft commented on #15472
@mellinoe

[2017-02-10 18:10] danmosemsft opened #16036 "Do we need #if BIGENDIAN?"
These came over from desktop and we apparently never define it.

[code]

[2017-02-10 18:10] danmosemsft commented on #16036
@CIPop @davidsh

[2017-02-10 18:11] #16013 closed

[2017-02-10 18:13] jkotas commented on #16022
If this bug is for servicing existing framework package, I agree - servicing upgrades of the framework metapackages should be breaking change.

If this bug is to get this fixed in live master correctly, the framework package update will require matching toolset upgrade so I do not see a problem.

BlockReflectionAttribute have been used to communicate what types are part of the actual public surfac

[2017-02-10 18:18] mellinoe commented on #15472
Pretty sure this is going to be fixed by my latest buildtools PR, but we haven't started using that in corefx yet. https://github.com/dotnet/buildtools/pull/1328.

[2017-02-10 18:19] kouvel commented on #15990
Before 2.0, you can use environment variables or configure the values in the app's runtime config file.
set COMPlus_ThreadPool_ForceMinWorkerThreads=10
set COMPlus_ThreadPool_ForceMaxWorkerThreads=100
https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md

The default min is the number of logical processors on the system, and the default max is 32K (the max

[2017-02-10 18:27] JeremyKuhne commented on #16033
@willdean, perhaps a bit of both of your solutions? Assuming probing is possible I would think doing that and adding new tests for your second option.

I haven't looked closely at all of these, but we should make sure they're clearly documented. Assuming it isn't too difficult, tossing them all in together (class/es) might be good bucketing.

[2017-02-10 18:29] divega commented on #6830
Data Annotations Triage: The scenario looks valid, however we believe the proposed solution has several issues and would be insufficient, e.g.:
- We are not aware of a way to pass a delegate directly to an attribute like this
- The implementation of `ValidationAttribute` assumes `_errorMessageResourceType` will contain a property named after the resource rather than a `GetString()` method like Res

[2017-02-10 18:34] #15984 closed

[2017-02-10 18:36] willdean commented on #16033
@JeremyKuhne I think you're right about needing a bit of both - I can certainly improve the pass rate here on 'enhanced uarts' by merely increasing the size of buffers to make sure that they exceed the capabilities of the hardware to swallow data.  Such an increase could be made across the board without any particular adverse effect on hardware which has the more traditional behaviour.

However, t

[2017-02-10 18:42] deVaXz commented on #15990
Thank you :) It was this information i was lacking

[2017-02-10 18:42] #15990 closed

[2017-02-10 18:43] weshaggard commented on #14869
Sorry for the delay I just got back to this. I've repackaged the 4.5.24 Microsoft.tpl.dataflow package as 4.5.24 System.Threading.Tasks.DataFlow however beyond basic file content comparison I don't have a great way to verify this package. Before I push this package to nuget.org (which cannot easily be undone) I've uploaded the package to our dotnet.myget.org feed.

Could any of you guys that are i

[2017-02-10 18:50] #15991 closed

[2017-02-10 19:13] CarolEidt commented on #15713
I have a fix for this issue, and the other problem I was running into, which affects only Checked and Debug versions of the JIT.

[2017-02-10 19:14] mellinoe opened #16038 "Alpine has no CI builds"
We don't have any Alpine images or CI jobs being run right now, so things are prone to breaking without extra care. We do have official builds using docker.

[2017-02-10 19:30] danmosemsft commented on #15713
It's great the numeric tests catch these. Do you think https://github.com/dotnet/corefx/issues/15913 is related?

[2017-02-10 19:32] danmosemsft commented on #15713
#15913 can't be related since if I interpret the link in there corectly, it's failing on retail too.

[2017-02-10 19:36] safern opened #16040 "Improve Uri.UnescapeDataString codepath -> UriHelper.UnescapeString"
After doing an investigation on some performance traces collected from some mvc aspnet applications scenarios we found that a considerable amount of `char[]` objects were allocated on the GC Heap which are coming from `Uri.UnescapeDataString` codepath that is calling `UriHelper.UnescapeString` ([source code](https://github.com/dotnet/corefx/blob/master/src/System.Private.Uri/src/System/UriExt.cs#L

[2017-02-10 19:44] stephentoub opened #16041 "Review UNSUPPORTEDAPI usage in Microsoft.CSharp"
Most likely now it can all be removed.
cc: @danmosemsft

[2017-02-10 19:48] danmosemsft opened #16042 "Remove versioned defines"
We should migrate to versionless platform defines. @joperezr @weshaggard can we do this now if not what has to come first? I see you already renamed all the C# file suffixes to be versionless.

[code]

Perhaps you already have something tracking this kind of thing.

[2017-02-10 19:50] danmosemsft commented on #15849
https://github.com/dotnet/corefx/issues/16042

[2017-02-10 19:50] mellinoe opened #16043 "Android cross-build fails if "rt" library is not removed from CMake configuration"
@qmfrederik This might be an issue with the way I've run the cross-build commands, but I figured I'd file this issue anyways. When I run the Android cross build after creating the Android rootfs, I get an error related to the `HAVE_MKSTEMP` check failing, when it should be passing (according to the PR's I followed, at least). It fails because the linker is trying to pass `-lrt`, which doesn't seem

[2017-02-10 19:51] weshaggard commented on #16042
We can do that for all the test projects because we don't care about the versioned target frameworks for those projects. However we might still need to keep some of these for the ref/src projects if we care about that build configuration for that project.

[2017-02-10 19:52] danmosemsft commented on #16040
Concretely in the MVC scenario captured, UnescapeDataString is 1% of CPU time and 1.5% of strings (which doesn't sound like much but there's a lot of strings in this scenario). There really doesn't seem like a great reason to make a char[] and certainly not to make a new string out of it given probably most times the result will be the same as the input.

[2017-02-10 19:59] danmosemsft commented on #16042
Can you clarify? I thought we now only build ref/src for the latest version. So we would never define eg netcoreapp11 would we?

[2017-02-10 20:02] CarolEidt commented on #15713
@danmosemsft - I am fixing two issues with https://github.com/dotnet/coreclr/pull/9496. The real issue behind this GetHashCode failure is an issue which causes an AV in retail, and an assert in Checked - though in Checked, if you ran the full set of tests, you would run into the other (Checked/Debug only) AV. So it's possible that #15913 is due to the same issue as this.

[2017-02-10 20:08] weshaggard commented on #16042
For ref/src that ship as an individual nuget package we may need to still have non-latest build configurations building so that the package can contain the correct assets. For anything that doesn't ship in an individual package you are correct they should always just target the latest (i.e. versionless) targets.

[2017-02-10 20:19] ianhays opened #16044 "Single project build failing for platform-specific projects"
Running an msbuild on a single source csproj for a project that does not have a platform-agnostic implementation is currently failing.

Example:
[code]

Also fails for: System.IO.Compression, System.IO.FileSystem.
Does not fail for: System.Runtime, System.Collections

It looks like this is because the msbuild is trying to build the project for netstandard AnyOS even though it isn't supported or li

[2017-02-10 20:22] weshaggard commented on #16044
This works for me. @ianhays when is the last time you did a full clean `clean.cmd --all`? I know there have been a number of build changes that requires the tools to be cleaned out and recreated.

[2017-02-10 20:26] karelz opened #16046 "Test failure System.Net.Tests.HttpWebRequestTest/GetResponseAsync_GetResponseStream_ContainsHost(remoteServer: https://corefx-net.cloudapp.net/Echo.ashx)"
release/1.1.0 branch:
Same 2 test failures in 2 runs, each time on different platform
* [20170208.02 - Redhat.72.amd64-Release](https://mc.dot.net/#/product/netcore/110/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170208.02/workItem/System.Net.Requests.Tests/analysis/xunit/System.Net.Tests.HttpWebRequestTest~2FGetResponseAsync_GetResponseStream_ContainsHost

[2017-02-10 20:26] karelz commented on #16046
@Priya91 can you please take a look? It's making our 1.1.1 release sign off difficult ...

[2017-02-10 20:32] karelz opened #16047 "Security test failures - Unable to load DLL 'System.Security.Cryptography.Native'"
5 tests failed on all Linux & Mac OSX platforms (release & debug) in two 1.1 servicing builds:
* [20170208.02](https://mc.dot.net/#/product/netcore/110/source/official~2Fcorefx~2Frelease~2F1.1.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170208.02/workItem/System.Security.Cryptography.Algorithms.Tests)
* [20170209.02](https://mc.dot.net/#/product/netcore/110/source/official~2Fcorefx~2Frelease~2F1.

[2017-02-10 20:33] karelz commented on #16047
@bartonjs can you please take a look?

[2017-02-10 20:44] karelz commented on #16046
cc @ianhays @steveharter (1.1 test failure)

[2017-02-10 20:45] karelz commented on #16028
@marek-safar is it blocking Xamarin usage of CoreFX?

[2017-02-10 20:46] #15806 closed

[2017-02-10 20:47] danmosemsft commented on #16042
Ah, so we go back to the issue of clearly distinguishing what is its own package. It's too bad we don't segreate the rest of corefx from those.

[2017-02-10 20:47] danmosemsft commented on #16042
I thought we doing harvesting for non latest configurations.

[2017-02-10 20:57] ianhays commented on #16044
About an hour ago. @mellinoe repro'd it as well on his machine for System.IO.FileSystem at least.

[2017-02-10 21:04] weshaggard commented on #16044
OK let me do a full sync, clean, build and see I can repro it with recent changes but I'm only about a 4 hours old right now.

Can you tell me what the value of Configuration and BuildConfiguration is from your log?

[2017-02-10 21:04] willdean opened #16050 "SerialPort test unicode source did not come in cleanly from netfx"
One for @JeremyKuhne again I'm afraid.

There is a big unicode string in  `SerialPortRegressions.VerifyReadExisting` which has come in from legacy as a load of question marks.

If you wouldn't mind attaching the orginal utf-8 or however it was originally, then I'll sort out making it all into \u's or a char array or something.

This is the final failing test in the loopback config :-)

[2017-02-10 21:06] AtsushiKan commented on #16036
There are still times I'm in the position of having to write endian-specific code. At those times, I don't want to leave a silent landmine behind. I want a protocol to make sure the code does the right thing or throws or asserts or breaks the build or paint a message on the screen saying "Big endian. Warranty voided." "#if BIGENDIAN" works well enough for that - it costs nothing and its meaning is

[2017-02-10 21:07] weshaggard commented on #16042
Unfortunately it is a clean cut in all cases. Consider Immutable collections it is ships in the platform package and in an individual package.

We do in a lot of cases but in some cases, again like Immutable, we still want to produce live updated builds with new fixes for older targets.

[2017-02-10 21:11] sepidehMS commented on #15660
@akcorp2003 I don't think `XDocument` has this functionality. I'm not sure, but it might be a bug in XDocument. It needs further investigation. In the meantime, is there a reason you cannot use `XmlDocument` instead? If that's the case, a post-process on the xml document would help you workaround this.

[2017-02-10 21:12] ianhays commented on #16044
I do get this questionable warning:
[code]

[2017-02-10 21:14] weshaggard commented on #16044
I just did a pull of latest and a full clean and a build.cmd and then I can build the individual projects just fine.

That seems to indicate something isn't correct as Configuration should not be set to Debug. Can you try and see where that is getting set to Debug at?

[2017-02-10 21:18] Priya91 commented on #8538
@davidsh @CIPop Debugged through this, and the test is waiting for state to be updated by the WinHttpSendRequest native winhttp API [here](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L851). I'm not sure how to debug further to identify the problem, can you take a look..

cc @karelz @steveharter @ianhays

[2017-02-10 21:21] ianhays commented on #16044
It's something weird with powershell. I opened up a new window and building works fine in that one, but still fails in the already-open window.

[2017-02-10 21:21] #16044 closed

[2017-02-10 21:21] ianhays commented on #16044
I'll add that to my things to try in the future when seeing weird behavior. Thanks for taking a look.

[2017-02-10 21:22] emirhosseini commented on #9846
Also having this issue publishing to net461. Had to downgrade to net451.  They're saying it'll be fixed in Asp.net Core 1.1.1. I'm not sure I follow what that means exactly. The Mvc NuGet package? That's already set to 1.1.1. What's this thing that's going to be released?

[https://github.com/aspnet/Security/issues/1046#issuecomment-277200815](https://github.com/aspnet/Security/issues/1046#issueco

[2017-02-10 21:23] divega commented on #8201
@karelz not sure the area-System.ComponentModel.DataAnnotations label is appropriate for this issue. Do you know who could actually help with getting the resx files into the reference source repo?

[2017-02-10 21:28] weshaggard commented on #16044
I use Powershell as my primary command shell and it works fine. It must just be something in that environment, perhaps Configuration was set as an environment variable.

[2017-02-10 21:39] Priya91 commented on #16046
If you can confirm that it is just test issue, that would be great.

I think so, we have had same kind of bug in other branches as well, it's more likely to do with machine configuration. Will prioritize to investigate this first, it causing quite a lot of noise.

other similar bugs: #12637 #13300

[2017-02-10 21:43] ianhays commented on #16044
@mellinoe just suggest that as well and you're both correct. I was building Core-Setup build.cmd in the same window which sets the "Configuration" environment variable and that was causing my issues when moving back to building corefx. Looks like a build failure in my core-setup prevented the Configuration from being unset.

[2017-02-10 21:46] karelz commented on #8201
Xamarin is now migrating to use CoreFX (sources now, binaries hopefully later).
@marek-safar, is it interesting/valuable for Xamarin to have the reference source fixed? Or would you rather close it and wait for the CoreFX consumption?

[2017-02-10 21:50] bartonjs commented on #16047
This is a test bug.  It was fixed in master by https://github.com/dotnet/corefx/pull/13123.

(The native file was renamed, but the test had its own copy of the P/Invoke, and didn't get the memo)

[2017-02-10 22:00] bartonjs commented on #16029
@Ettery If you save that to a file, like so

[code]

and run `openssl x509 -in thatfileyousaved -text` on the same system does it work, or do you get the same error?

It parsed fine for me on Ubuntu 16.04 (OpenSSL 1.0.2g), and I was able to load it into a .NET process.

[2017-02-10 22:04] karelz commented on #16047
Good to know. Can you please fix the tests in release branch(es)? So that we avoid noise in servicing branches ...

[2017-02-10 22:56] willdean opened #16055 "Tests failing in new SerialStream tests"
Placeholder for ActiveIssue - there's an intermittent CI test failure caused by something in the new SerialStream tests

[2017-02-10 23:21] karelz commented on #16055
Assigning to you @willdean - I think you are working through those. Let me know if I am wrong.

[2017-02-10 23:29] JonHanna commented on #16028
More Microsoft.CSharp than Expressions, @karelz. It's correct for expressions to throw that exception, incorrect for MS.CSharp to try to build it.

[2017-02-10 23:34] karelz commented on #16028
Thanks for correcting me!

[2017-02-10 23:43] Priya91 commented on #16046
Not able to repro this using the helix repro environment from the centos VM with jenkins image. This is mostly a machine issue. The problem could be that the openssl cert location /etc/pki/tls/certs on centos is not there, incorrect permissions, etc. Need access to the failure machine to investigate.

cc @MattGal How do i access the helix machine where the job is failing?

[2017-02-10 23:48] karelz commented on #16046
Unmarking as blocking - as we believe it is just test issue.

[2017-02-10 23:55] willdean commented on #16055
Turns out this is easily repro'd here with an appropriately tight loop - it's intermittent but not terribly so.

A similar test elsewhere in the suite contains code like this, with an interesting comment

[code]

I guess this is a reference to a bug in an internal MS database.  Would it be possible to get access the content of this bug, or at least some kind of redacted summary?

It's fairly well

[2017-02-11 00:03] rrelyea commented on #6746
is there an issue tracking providing support for encryption on non-windows platforms? thx -nuget team

[2017-02-11 00:17] #4343 closed

[2017-02-11 00:17] davidfowl commented on #14903
@stephentoub do you have a preference here?

[2017-02-11 00:17] #3934 closed

[2017-02-11 00:21] karelz opened #16060 "'Fireball' failure in Helix for 2 Socket tests on Redhat.72"
2x 'fireball' failure for RedHat 7.2 for these two tests:
System.Net.Sockets.Tests.SocketOptionNameTest:
* ReuseUnicastPort_CreateSocketGetOption_SocketsReuseUnicastPortSupport_OptionIsZero
* ReuseUnicastPort_CreateSocketSetOptionToZeroAndGetOption_SocketsReuseUnicastPortSupport_OptionIsZero

Logs:
* [20170209.02](https://mc.dot.net/#/product/netcore/110/source/official~2Fcorefx~2Frelease~2F1.1.0~

[2017-02-11 00:24] JeremyKuhne commented on #16055
@willdean I'll try and find the issue.

[2017-02-11 00:43] JeremyKuhne commented on #16055
So many databases over the years... :)

The issue was opened on the test being unstable in the lab (back in 2009):

[code]

The dev responded:

[code]

And, finally, the tester:

[code]

[2017-02-11 00:47] #16024 closed

[2017-02-11 01:02] jnm2 commented on #15289
I would be fascinated to learn how this works. I have been unable to achieve this with NuGet v3+. https://github.com/NuGet/Home/issues/3970

[2017-02-11 01:11] karelz commented on #312
@davidfowl why did you close it?

[2017-02-11 01:16] jnm2 commented on #15622
Dunno if it's better, but in my codebase I've stuck to calling this `Pop` because of the resemblance to the stack operation.

[2017-02-11 01:43] akcorp2003 commented on #15660
I can use XmlDocument with no problem. This would just be a nice feature to have for XDocument.

[2017-02-11 01:44] Priya91 commented on #16060
assigning to @MattGal  to confirm it's product issue first.

[2017-02-11 01:55] MattGal commented on #16060
Assigning to @Priya91.   The test fails consistently with the same symptoms on RedHat 7.2 while others do not;  this is not the same issue as the Fedora runs.  If you have any evidence for this being an infra issue I will happily investigate.

[2017-02-11 02:05] MattGal commented on #16046
I can get you limited access to a local VM, but they are created and destroyed randomly.  If you give me specifics of what you'd like to investigate I'm happy to help you get onto one or investigate machine state for you.

[2017-02-11 02:13] Priya91 commented on #16060
@MattGal I thought you mentioned the build libs used for redhat may not be the right ones, and you were gonna confirm with Chris. Maybe I misunderstood it.

[2017-02-11 02:27] Priya91 commented on #16046
@MattGal On the centos box where this fails, can you check if you're able to access this location with same user rights as the test:

[code]

If, not what is the following outputting,
[code]

[2017-02-11 07:06] mairaw commented on #15106
Can you guys please assign this to me? I'll review the bugs assigned to me here once I work through the backlog of items I have for the release. Thanks!

[2017-02-11 07:18] karelz commented on #15106
@mairaw you don't have rights to modify issues? Let me fix that ...

[2017-02-11 07:19] mairaw commented on #15106
Nope @karelz. Thanks!

[2017-02-11 07:20] karelz commented on #15106
Now you do :)
Please check our [triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified) - I guess [2] will have exception for documentation bugs which can be fixed only by your team ;-)

[2017-02-11 08:05] StevenLiekens commented on #7037
The case for wanting to know the system proxy is if you don't want to use the HttpClient stack.

RestSharp is one of the libs that come to mind. I'm sure there are others. I'm working on my own HTTP stack, in fact. I'm doing that for learning purposes but also because HttpClient behaves differently on different operating systems. My goal is to create a HTTP stack that is C# down to the socket leve

[2017-02-11 08:22] karelz commented on #7037
Did you consider implementing the functionality yourself?
You can probably even grab the code from [referencesource](https://github.com/Microsoft/referencesource/blob/4fe4349175f4c5091d972a7e56ea12012f1e7170/System/net/System/Net/WebRequest.cs#L1071) - the one which is under [MIT license](https://github.com/Microsoft/referencesource/blob/master/LICENSE.txt).

Given the very limited API usage, I th

[2017-02-11 08:32] karelz commented on #11100
@davidsh verified the 4.3.1 package from release branch (warning: myget was very slow for him - 5 mins)
Here are steps to validate:

Please try out the latest packages on the MyGet dev feed.  You'll want to use the latest STABLE (not Prerelease) build of System.Net.Http.dll package - **4.3.1**:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Net.Http

You can use dev feed packages v

[2017-02-11 08:40] willdean commented on #16055
That's great,thanks.  Clearly games with test order are not available to us, so i'll put the delay back in.  Ultimately it would be good at some point to get this fixed properly in SerialPort, so I'll file an issue on that, add a breaking test and ActiveRecord it for now.

[2017-02-11 08:43] karelz commented on #11100
I have updated top post 'Execution plan' with next steps:
* 5.c Final/last validation of (most of) the ~7 end-to-end scenarios - folks who helped before (or anyone else), can you please reply once you verify with the scenario brief description? Thanks! (we're almost there)
    * cc: @annemartijn0 @karelkrivanek @jahmai @pollax @MikeGoldsmith @chadwackerman @dluxfordhpf @onovotny
* 5.d Publish the

[2017-02-11 10:29] khellang commented on #4343
This happened?

[2017-02-11 11:35] qmfrederik commented on #16043
@mellinoe Thanks! That was an oversight on my side, #16065 should fix it.

[2017-02-11 12:55] SomeAnon42 commented on #11661
Referencing a csproj-based NETStandard project/package from a full .NET application in VS 2017 RC4 still causes this. That's... really frustrating. What's the point of NETStandard if such an obvious scenario as referencing a library from a desktop project is in fact not really supported?

[2017-02-11 13:07] #16043 closed

[2017-02-11 14:32] marek-safar commented on #16028
@karelz it's blocking Microsoft.CSharp switch to corefx because this is a regression compare to our existing implementation

[2017-02-11 14:38] marek-safar commented on #8201
I looked at System.ComponentModel.DataAnnotations few days ago and it looks like we won't be able to use it for some time as it's missing quite few APIs and implementation dependencies in CoreFX compare to full .NET hence even though we'd love to use it we need to first put back code which was removed in CoreFX.

I'll try to use at least CoreFX resx files instead of referencesource to resolve this

[2017-02-11 15:01] WinCPP commented on #3862
@karelz Thanks for the direction. I'm on this now!

[2017-02-11 15:08] JonHanna commented on #16028
Really? I can reproduce it against the version in the GAC.

[2017-02-11 15:25] coderb opened #16067 "PartitionerStatic.SharedLong Value seems to be missing "volatile" modifier"
I haven't analysed the code, but superficially it seems as though there is a "volatile" modifer missing from the Value field of class SharedLong in:

corefx/src/System.Collections.Concurrent/src/System/Collections/Concurrent/PartitionerStatic.cs

[2017-02-11 15:37] stephentoub commented on #16067
Why? Unless there's a specific case of concern, this issue isn't actionable. All uses appear to either be under a lock, with Interlocked, with Volatile, or in a non-shared context.

[2017-02-11 16:04] marek-safar commented on #16028
Which GAC, .net or Mono ?

[2017-02-11 16:09] JonHanna commented on #16028
.NET. If Mono's correct it might be worth seeing if this already came up and was fixed there.

[2017-02-11 16:30] davidsh commented on #7037
@StevenLiekens Thank you for clarifying your requirements.

Since you appear to want to access `WebProxy` class separately, it is possible that the functionality you want can be implemented in .NET Core.

My comments above and this particular issue dealt with an interaction between HttpClient and WebProxy.  That interaction doesn't work the same anymore since the HttpClient stack uses OS specific

[2017-02-11 16:36] JonHanna opened #16068 "Need fuller testing of IL/Intructions generated by S.L.Expressions"
Something @VSadov mentioned in a few PRs is that changes to IL generation are rather opaque and not reflected in tests. The same thing would be true of the instruction list produced by the interpreter.

@bartdesmet has already done some work in this regard, but there's a lot more that could be covered, so this issue is to track that.

One problem with the few tests of IL generation that already ex

[2017-02-11 17:04] tstringer commented on #15383
@Jiayili1 what are the .net core build steps for openSUSE 42.x? I don't see anything documented. Do you have a quick list of zypper packages required on the host?

[2017-02-11 18:20] karelz commented on #8201
@richlander @terrajobst what is the process for updating one file in https://github.com/Microsoft/referencesource?
If it is cheap, it might be easier to do that instead of asing @marek-safar to mix and match bits from various sources and then chase down differences later :(

[2017-02-11 18:26] karelz commented on #16028
@JonHanna @VSadov @OmarTawfik can you please prioritize the fix? It blocks our partner's attempt to use CoreFX on Mono (something everyone would like to see).

[2017-02-11 20:09] #15790 closed

[2017-02-11 20:21] JonHanna commented on #16028
I'm looking at it, but I still have gaps in my knowledge of this project and the automatic conversions logic is one of them, so someone else would likely find the problem a lot faster.

[2017-02-11 21:20] jkotas commented on #15849
I have just run the System.Runtime tests that are in the netstandard and thus not being run by default, and got a pile of failures - some of them looked like regressions.

Can we please get this fixed asap? We are running blind and accumulating dept.

What is the purpose the netstandard ifdefs and conditions anyway? It does not make sense to me now that we have netcoreapp. Can we just delete all o

[2017-02-11 21:21] ChrisEelmaa commented on #1271
I addressed the feedback, I believe I understood everything. Tests pass, and I rebased with the latest state.

[2017-02-11 21:22] jkotas commented on #16042
I think `#if netstandard` should be deleted (and code under it kept). I do not think we need it.

[2017-02-12 00:11] jkotas opened #16074 "Unexpected exception thrown by WaitHandle.SignalAndWait"
[code]

[2017-02-12 00:15] jkotas commented on #16074
This looks like a test bug to me.

[2017-02-12 01:02] nguerrera opened #16076 "On Mac, Console.ReadLine result includes arrow key presses as '\0's"
I found this while porting a toy REPL to .NET Core on Mac.

On the Windows console, I can use the arrow keys to edit input on its way to Console.ReadLine() or to pull up previous input from my history. When my muscle memory tried the same thing on Mac, the arrow keys appeared to do nothing, but then parsing would mysteriously fail. I went to the debugger and found '\0's in the parser input!

## Re

[2017-02-12 02:20] #15942 closed

[2017-02-12 03:05] xumingxiang commented on #9357
我在centos6.8下也遇到这个问题，升级libcurl就行了。
centos6.8下自带的curl版本是7.19 ，版本过低
rpm -ivh http://mirror.city-fan.org/ftp/contrib/yum-repo/city-fan.org-release-1-13.rhel6.noarch.rpm
yum update libcurl
升级后的版本是libcurl-7.52

[2017-02-12 05:40] #15849 closed

[2017-02-12 06:05] jkotas opened #16081 "*.builds files for tests"
The tests still have both Configurations.props files and  *.builds files.

@weshaggard Do we need both? Should we delete the *.builds files?

[2017-02-12 06:08] jkotas opened #16082 "Fold or rename *.netstandard.cs files"
They do not need to be separate files and the .netstandard suffix on them is just confusing because of they do not have anything netstandard-specific in them. They contain tests for APIs added on top of netstandard1.6 in the early days of netstandard2.0 project.

See https://github.com/dotnet/corefx/pull/16072

[2017-02-12 11:28] Maxim-Kornilov commented on #15986
OK. But it is still looks like a bug even if it is an expected behavior. It is working as expected on a full .NET Framework.

[2017-02-12 13:00] stephentoub commented on #14903
My preference would be either:
[code]
or
[code]
though I'm not particularly attached to this naming if folks don't like it and have better ideas.  And I understand the objections to the first one, so maybe the second.

The current implementation is the way it is because the vast majority case is needing to ensure that the registration won't fire after Dispose; logic in many situations gets broken

[2017-02-12 13:07] Thaina opened #16084 "Please expose all Array static method as extension method"
There are a bunch of static function in `Array` class that should just be extension method

Like `Find` and `IndexOf`

Using extension method is more natural and also familiar with js

[2017-02-12 13:22] exyi opened #16086 "MemberInitExpression.Reduce returns block with undeclared variable"
Calling `Reduce` method on `MemberInitExpression` result in invalid expression tree (at least can't be compiled), because it uses a temporary variable without declaring it:

Calling `Reduce` on tree
[code]
results in:
[code]
which can't be compiled, because `$var1` is not declared. Or do I miss something? IMHO it can be fixed by adding a `, new [] { objVar }` to https://github.com/dotnet/corefx/bl

[2017-02-12 13:33] JonHanna commented on #16028
Or not. PTAL @ #16085

[2017-02-12 13:58] JonHanna commented on #16086
Gosh! I really do need to fill out those little gaps in the S.L.Expressions testing!

[2017-02-12 14:03] #16074 closed

[2017-02-12 14:10] #16067 closed

[2017-02-12 14:11] stephentoub commented on #16067
@coderb, I'm closing this.  If you have a more specific concern, please feel free to re-open.

[2017-02-12 14:35] chadwackerman2 commented on #11100
@karelz Tried to verify but I'm getting errors attempting to install that package. (I'm also getting errors posting to this thread from my main account... other threads aren't affected so I'm not sure what's up.)

Retrieving package 'System.Net.Http 4.3.1' from 'myget.org'.
Removed package 'System.Net.Http.4.4.0-beta-24913-01' from 'packages.config'
Successfully uninstalled 'System.Net.Http.4.4.0-

[2017-02-12 14:37] exyi commented on #16086
Thank you for your super fast fix :)

[2017-02-12 15:03] JonHanna commented on #16086
I'm kicking myself though, because I've said "there's a few `Reduce` overrides not covered by tests, I should do that" to myself a dozen times, and if I had I would have caught that already.

[2017-02-12 15:43] davidsh commented on #11100
When I did my validation, I did it with a brand new project.

I suspect that the error you're getting with "Failed to update binding redirects" is due to the downgrade in package and assembly versions.  Your current project appears to be based on the packages from the [master] branch.  System.Net.Http.4.4.* is package numbering from [master] branch (part of the pre-release for .NET Core 2.0).  It

[2017-02-12 15:46] davidsh commented on #11100
FYI.  My log from my package install:

[code]

[2017-02-12 16:54] gimlichael commented on #9846
I am using Visual Studio 2017 RC and has just created a class library (.NET Standard).

I am referencing my project, Cuemon.Core (https://www.nuget.org/packages/Cuemon.Core.Package) , which is built for .NET Standard 1.4 (so its compatible with .NET Framework 4.6.1 projects), and i am now met with this error message:
[code]
This is becoming very confusing and I am starting to loose faith if this w

[2017-02-12 17:30] chadwackerman2 commented on #11100
@davidsh I don't know about Master branches or .NET Core 2.0 or any of that. The 4.4.0-beta was your test build that I installed to help @karelz test this. Look above and you can see other people pulling that down as well. If that wasn't the right version to test against two weeks ago please inform.

Yesterday per his request I unchecked pre-release and installed the 4.3.1 as requested. It takes 1

[2017-02-12 19:34] pollax commented on #11100
Hm, I'm confused when testing. I updated to 4.3.1 and got the following binding redirect in my web.config.
[code]
Expected?
Maybe I missed something earlier in the thread, or maybe this is one of those confusing packages version vs dll version missmatch situations.

Building and running Works On My Machine™️.

[2017-02-12 20:14] jkotas commented on #10911
Failed in CI with

System.ComponentModel.Win32Exception : The credentials supplied to the package were not recognized

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/3339/testReport/junit/System.Net.Security.Tests/ServerAsyncAuthenticateTest/ServerAsyncAuthenticate_AllClientVsIndividualServerSupportedProtocols_Success_serverProtocol__Tls11_/

[2017-02-12 20:56] davidsh commented on #11100
The version dropped in numbering because the 4.4 version will be the latest but it is still pre-release and will shipped as part of .NET Core 2.0.  @karelz asked folks to test that package first because the fix was there first.

The 4.3.* packages are based on the RTM .NET Core 1.1.  And there will be a servicing release of that.  So, the updated package based on that codebase is 4.3.1 for System.

[2017-02-12 21:12] karelz commented on #16028
Very cool, thanks @JonHanna! :)

[2017-02-12 21:23] karelz commented on #16084
For compatibility with Desktop .NET Framework and Xamarin we cannot remove the static methods.
.NET/C# should not just blindly copy patterns used in outer languages like JS. If such concepts make sense in .NET/C# land, we need proper reasoning on its own.

Adding extension methods might be useful if it improves discoverability of the API ... can you please share more details, pros/cons, usage exam

[2017-02-12 21:51] karelz commented on #16082
cc: @danmosemsft

[2017-02-12 22:48] JonHanna commented on #16082
There's at least a few that aren't tests. I assume we'd want to fold those too?

[2017-02-12 22:50] am11 opened #16094 "System.IO.Directory.GetFiles() API usage with recursive symlinks on Unix"
When the recursive symlink is encountered by `GetFiles(path, pattern, SearchOption.AllDirectories)` methos, .NET Core throws `PathTooLongException` (whereas Mono, in this case, throws `IndexOutOfRangeException`).

* Is it recommended for the consumers to handle the recursion cases in our code by keeping track of the directory graph node visits?
* To achieve this, would it be possible to provide an

[2017-02-13 00:29] jkotas commented on #16082
Yes - fixed the title.

[2017-02-13 03:05] JonHanna commented on #16028
NP. Incidentally, the copy I have of the published ECMA-334 and the unofficial draft at https://github.com/ljw1004/csharpspec/blob/gh-pages/README.md both suggest that `underlyingTypeValue - enumTypeValue` isn't valid, and it makes logical sense to prohibit it, but both static and dynamic non-lifted behaviour allows it, so I allowed it in the fix; however logical banning it might be, it would be a

[2017-02-13 04:03] Thaina commented on #16084
I don't think we need to remove old static api. Instead, we just have extension class wrap those static api

Like this

[code]

[2017-02-13 06:24] stephentoub opened #16097 "Unable to build.cmd while offline"
I did a full build.cmd successfully and then disconnected.  When I tried to build.cmd again, even with using -RestoreDuringBuild=false, I got errors that prevented the build from succeeding:
[code]

[2017-02-13 06:51] Jiayili1 opened #16098 "Test "System.Net.Http.Functional.Tests.DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging" failed with "Xunit.Sdk.EqualException""
Failed test: System.Net.Http.Functional.Tests.DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging

Configuration: OuterLoop_Centos7.1_debug (build#94)

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_centos7.1_debug/94/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-02-13 08:11] dmitriyse commented on #2704
Probable this implementation will also work but will not allocate MRE internally.
[code]

[2017-02-13 08:21] Jiayili1 opened #16099 "OuterLoop_Win7_debug: Test under "Legacy.SerialStream" failed with "Xunit.Sdk.EqualException""
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/95/consoleText

Configuration: OuterLoop_Windows7_debug (build#95)

Message:
[code]

Stack Trace:
[code]

Failed tests:
WriteByte_Generic/SuccessiveReadTimeout
WriteByte_Generic/BytesToWriteSuccessive
WriteTimeout_Property/WriteTimeout_750_WriteByte
WriteTimeout_Property/WriteTimeout_750_Write_byte_int_int
Write_byte_

[2017-02-13 08:23] dmitriyse commented on #2704
Also, although this code works
[code]
it not so usable as some direct method, for example:
[code]
So this like method should be in BCL.
Otherwise thousands of developers will posts the same question. And discuss multiple approaches (http://stackoverflow.com/questions/18670111/task-from-cancellation-token). We need a one standard approach in BCL.

[2017-02-13 08:26] Jiayili1 opened #16100 "OuterLoop_Win7_debug: tests under "Legacy.SerialStream.WriteTimeout_Property" failed with "Xunit.Sdk.ThrowsException""
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_debug/95/consoleText

Configuration: OuterLoop_Windows7_debug (build#95)

Message:
[code]

Stack Trace:
[code]

Failed tests:
WriteTimeout_Property/SuccessiveWriteTimeoutNoData_WriteByte
WriteTimeout_Property/SuccessiveWriteTimeoutNoData_Write_byte_int_int

[2017-02-13 08:47] Jiayili1 commented on #16098
This issue is also repro on following configurations:
1.	OuterLoop_Centos7.1_debug (build#94)
2.	OuterLoop_Centos7.1_release (build#92)
3.	OuterLoop_OpenSUSE42.1_debug (build#99)
5.	OuterLoop_OSX10.11_debug (build#84)
6.	OuterLoop_OSX10.11_release (build#80)
7.	OuterLoop_RedHat7.2_debug (build#99)
8.	OuterLoop_RedHat7.2_release (build#96)
9.	OuterLoop_Ubuntu14.04_debug (build#101)
10.	OuterLoop_Ub

[2017-02-13 08:48] Ettery commented on #16029
Yes, it works - I'm not sure exactly what to expect, but it gives the output below and no errors.  As you can see, this is running under MINGW64 on Windows 10; I will try it on my Ubuntu server today and let you know if I have the same problem.  Do you have any other guidance?

I tried taking the BEGIN and END markers out (which is all you've added) I get the following error, which is not the same

[2017-02-13 08:49] Jiayili1 commented on #16099
This issue is also repro on following configurations:
1.	OuterLoop_Windows7_debug (build#95)
2.	OuterLoop_Windows7_release (build#95)
3.	OuterLoop_Windows8.1_debug (build#98)
4.	OuterLoop_Windows8.1_release (build#95)
5.	OuterLoop_Windows10_debug (build#91)
6.	OuterLoop_Windows10_release (build#97)

[2017-02-13 08:49] Jiayili1 commented on #16100
This issue is also repro on following configurations:
1.OuterLoop_Windows7_debug (build#95)
2.OuterLoop_Windows7_release (build#95)
3.OuterLoop_Windows8.1_debug (build#98)
4.OuterLoop_Windows8.1_release (build#95)
5.OuterLoop_Windows10_debug (build#91)
6.OuterLoop_Windows10_release (build#97)

[2017-02-13 08:49] marek-safar opened #16101 "Port more of System.ComponentModel.DataAnnotations types"
in System.ComponentModel.Annotations

https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.associatedmetadatatypetypedescriptionprovider(v=vs.110).aspx

[2017-02-13 10:46] groege commented on #13914
Same here, please help (I'm using ZipArchive)

[2017-02-13 11:55] groege commented on #13914
Why is there: runtime.**win10-arm-aot**.runtime.native.System.IO.Compression in version 4.01, but the runtime.**win10-arm**.runtime.native.System.IO.Compression  is still in prerelease 4.01-rc2-24027
Seems to me there should be a runtime.**win10-arm**.runtime.native.System.IO.Compression with a sable 4.01 that is used when native toolchain is disabled, allowing for debugging...

[2017-02-13 14:05] willdean opened #16105 "Namespaces for test classes"
Is there any guidance for namespacing tests?

The `SerialPort` tests which I currently seem to be herding are in a mixture of the root namespace (!) which is where they fell, in `Legacy.SerialStream` which is where I moved a bunch of them because they clashed with the root lot and that was what Resharper did for me automatically, and in `System.IO.PortsTests`, which is where @JeremyKuhne put an ex

[2017-02-13 14:14] stephentoub commented on #16105
https://github.com/dotnet/corefx/issues/2898

[2017-02-13 14:18] willdean commented on #16105
@stephentoub Thanks - Looks like everything which could ever be said on the subject has already been said...  I'll close this.

[2017-02-13 14:18] #16105 closed

[2017-02-13 14:32] tstringer commented on #15383
@Jiayili1 can you please link me to the test failure instead of just the console output?

If this is related to the issue that @tarekgh pointed out, then there is an underlying problem outside of the diagnostics:

That's a transport layer issue.

cc @saurabh500

[2017-02-13 15:40] vRITHNER opened #16107 "Microsoft.NETCore.UniversalWindowsPlatform 5.3.0 makes my appx crashes when deploy from .ps1"
Hi,

I have an UWP application which crashes when I deploy it manually from PowerShell
**Add-AppDevPackage.ps1** 's script but the same app works fine when I deploy from my **VS2017 latest RC.**
I can't attach WinDbg because the app is crashing about 4-6 seconds after the launch.

After long hours to restart from earlier working branch, I upgrated each stable Nuget separatly to finally
found the o

[2017-02-13 15:48] jnm2 commented on #2704
@dmitriyse

It will not work, because some things use `.GetAwaiter().GetResult()` without checking `IsCompleted` or `OnCompleted`. That's a totally valid use of the API. If `.GetAwaiter().GetResult()` is a no-op, things break.

On the other hand, you bring up a good point we could save ourselves that allocation in the common case:

[code]

[2017-02-13 16:04] karelz commented on #16097
That's pretty bad. @weshaggard can you please look into it?

[2017-02-13 16:05] karelz commented on #16101
@divega @weshaggard can you chime in why we skipped this type?
@marek-safar why do you think it is needed?

[2017-02-13 16:39] stephentoub opened #16108 "Clean build produces several MSB3245 "netstandard" warnings"
When I do a clean build, I get several warnings like the following:
[code]
cc: @weshaggard

[2017-02-13 16:39] karelz commented on #16107
For .NET Native feedback, please contact dotnetnative@microsoft.com - see [blog post](https://blogs.msdn.microsoft.com/dotnet/2017/01/30/announcing-net-core-net-native-and-nuget-updates-in-vs-2017-rc/). Here's info about how to file bugs: https://github.com/dotnet/core/blob/master/Documentation/ilcRepro.md

cc @MattWhilden

In general: To debug app startup issues, you need to tell OS to launch deb

[2017-02-13 16:39] #16107 closed

[2017-02-13 16:41] weshaggard commented on #3934
@davidfowl did you close this because it is tracked somewhere else or did you give up on the idea?

[2017-02-13 16:44] marek-safar commented on #16101
It's part of public .NET API and Xamarin APIs, it's not obsolete so not sure why it's not part of corefx

[2017-02-13 16:49] weshaggard commented on #16042
I agree in general the defines should be targeting a specific platform (i.e. netcoreapp, uap, netfx, etc) however there may be cases for libraries above netstandard to use that define in some cases if it is easier then negating the other specific platforms.

[2017-02-13 16:57] karelz commented on #16101
In general: @weshaggard removed ad-hoc some parts of the Desktop and Xamarin intersection (based on complexity/usage/usefulness) - you might want to sync up with him on details about the criteria used.
cc @danmosemsft

[2017-02-13 17:03] MattGal commented on #16060
That's Fedora (we're currently build for 24 and running on 23.   Any current issues around that from offical runs should be disregarded until we address that.  Redhat does not have this problem.

[2017-02-13 17:09] karelz commented on #11802
Unassigning ... @matekm does not have time to finish it now.
Anyone can grab the issue and finish it (feel free to reuse existing work in #14722).

[2017-02-13 17:12] fostersanders commented on #645
Hello,

I had the same problem. I didn´t know what to do so I searched on the internet for some solutions.

And I read about [b]Long Path Tool[/b], which is a great tool in these type of cases. :o

It worked really well. Hope it works for you too   :p

[2017-02-13 17:16] MattGal commented on #16046
[code]
the user used in test runs definitely has access to /etc/pki/tls/certs, but I did note that I had to sudo to create new files in this path.

Let me know if you'd like me to check anything else out.

[2017-02-13 17:17] weshaggard commented on #16097
Yes we should look into making sure the offline mode works correctly.

Ideally after calling sync.cmd or one call to build.cmd you should be able to fully work offline, assuming you didn't clean.

[2017-02-13 17:18] weshaggard commented on #16108
CoreFxTools is a temporary thing but I agree it would be nice to be warning free.

[2017-02-13 17:21] weshaggard commented on #16101
Yes I did that as part of the netstandard work however System.ComponentModel.DataAnnotations is not part of netstandard so it wasn't included in my analysis. We still need to do further upstack comparisons for bringing APIs back.

[2017-02-13 17:22] danmosemsft commented on #16101
What kind of upstack comparison do you have in mind?

[2017-02-13 17:24] vRITHNER commented on #16107
Hi karelz, txs for the help

ps. I tried  plmdebug stuff but it's not doing anything...
Cheers
-v

[2017-02-13 17:25] karelz commented on #16084
OK, not removing existing APIs is good.
Can you please update top post with API proposal. Please include all methods you propose to add - it will simplify the discussion.

[2017-02-13 17:27] weshaggard commented on #16101
Any library that we ship that is above netstandard, like Registry (which was recently done) and DataAnnotations, we should probably look at everything else that is above netstandard that ships inbox on .NET Framework.

[2017-02-13 17:35] danmosemsft commented on #16097
Who owns this @weshaggard ?

[2017-02-13 17:36] davidfowl commented on #3934
Closing old bugs without activity. If deemed important, I'm refilling the exact same bug to push it to the top of the queue. This one didn't seem worth it.

[2017-02-13 17:36] karelz commented on #16107
@vRITHNER I have used plmdebug in the past (though it's been 1+ year) and it worked. It is not easy to use, but eventually you can make it work - I would suggest to search for articles on internet how to debug UWP startup issues for additional tips and tricks.

[2017-02-13 17:38] karelz commented on #16097
@weshaggard I think the line should be "sync.cmd" and I can go offline even for first "build.cmd".
In general: build.cmd should not even attempt to touch the network if I ran sync.cmd before that.

[2017-02-13 17:38] danmosemsft commented on #16036
OK, as long as we're all clear that it's not getting compiled let alone tested.

[2017-02-13 17:38] MattGal commented on #16060
Took a bit of a look here, something very odd is happening.
Both of these tests have the same Condition attribte on their facts:
[code]

https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/tests/FunctionalTests/SocketOptionNameTest.cs#L46
Looking at the sources, we see that this test was clearly designed to be a conditional fact...
https://github.com/dotnet/corefx/blob/master/src/S

[2017-02-13 17:46] Thaina commented on #16084
@karelz Well, that's hard. Because there are so many function in [Array class](https://msdn.microsoft.com/en-us/library/system.array(v=vs.110).aspx) that should just be wrapped

I think I could better write the implementation code if there is a file I could write to
Because it is just this

[code]

But I don't know what name that extension class should have or where I should put that file in coref

[2017-02-13 17:47] danmosemsft commented on #16101
Do you plan to do this :)

[2017-02-13 17:49] steveharter opened #16109 "DiagnosticsTest.SendAsync_ExpectedDiagnosticCancelledLogging Assert failing area-System.Net.Http.Functional.Tests"
Test appears to be added with https://github.com/dotnet/corefx/pull/15971 and is affecting Linux tests
cc@lmolkova
cc@stephentoub

Assert.Equal() Failure
18:57:42         Expected: 42
18:57:42         Actual:   134
18:57:42         Stack Trace:
18:57:42            /mnt/resource/j/workspace/dotnet_corefx/master/outerloop_opensuse42.1_debug/src/Common/tests/System/Diagnostics/RemoteExecutorTestBase.

[2017-02-13 17:53] blowdart opened #16111 "Add support for Certificate Signing Requests"
I've had a few discussions with customers who are either spawning out to OpenSSL, or looking at bouncy castle. Having support for creating an CSR (and better yet, also signing it, enabling self signed certs, like Powershell has) would go a long way to helping them.

[2017-02-13 17:54] karelz commented on #16084
@Thaina we will need full list of methods. But maybe you can wait for area owners to first comment on it though (if they don't like it, it would be waste of time).
Suggestion: You can avoid the implementation part, it will be easier to read.

For each extension method, you will also have to think through any potential collision with already existing methods (e.g. on Linq).

Regarding the class nam

[2017-02-13 17:54] stephentoub commented on #16109
Is there any stack trace earlier in the log from an unhandled exception? Exit code 134 suggests the remote executor app crashed.

[2017-02-13 17:55] karelz commented on #16060
@Priya91 should be able to answer Networking questions on Linux.

[2017-02-13 18:10] bartonjs commented on #16111
Already opened as https://github.com/dotnet/corefx/issues/7129.

[2017-02-13 18:10] #16111 closed

[2017-02-13 18:14] jkotas commented on #16042
Agree it makes sense to use it in these cases if they show up.

[2017-02-13 18:22] ianhays commented on #13914
@groege the win10-arm package isn't updated any longer and it should not be used. You want either the win8-arm or win10-arm-aot packages instead. Take a look at the project.lock.json code I linked earlier in this thread for what the correct usage should look like.

@Ran-QUAN did you try what tipa did and do a full clean? If so, is there a clrcompression.dll in your bin folder? What is the version

[2017-02-13 18:38] #15691 closed

[2017-02-13 18:40] Priya91 commented on #16060
It could be that the windows version of ```System.Runtime.InteropServices.RuntimeInformation``` lib is copied to the redhat box, as the IsOSPlatform implementation is just a build time constant set according to the OS platform the library will be used at runtime.

[2017-02-13 18:47] Priya91 commented on #16109
This is a dupe of #16098

[2017-02-13 18:55] MattGal commented on #16060
Checking the assets included with the test (can be found in container "" in dotnetbuilddrops account, ping me if you need help getting to this), the only included copy of that assembly came from:

System.Runtime.InteropServices.RuntimeInformation\4.3.0\runtimes\unix\lib\netstandard1.1\System.Runtime.InteropServices.RuntimeInformation.dll.

Poking at that assembly using ILSpy, I'm unsure how to che

[2017-02-13 18:58] danmosemsft commented on #16109
Closing as dupe. I tagged the other one as blocking as it's making the badges red. We should either fix now or disable.

[2017-02-13 18:58] danmosemsft commented on #16098
Tagged as blocking as it's making the badges red. We should either fix now or disable.

[2017-02-13 19:04] JeremyKuhne commented on #645
@whoisj, @be5invis, @Jaykul The anniversary update (RS1) of Windows 10 has PowerShell support for long paths. 4.6.2 is part of that release and PowerShell turns on the .NET functionality. The only caveat is that Windows long path policy needs enabled as (for now) it is off by default. I go over these desktop details in one of my blog [posts]( https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30

[2017-02-13 19:04] ianhays commented on #14338
Next step here is to submit a [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md) and once we nail down the API we can submit it to API review.

[2017-02-13 19:05] ianhays commented on #14244
@mairaw did you get a chance to take a look at this?

[2017-02-13 19:09] ianhays commented on #14230
Since this hasn't gotten much interest since December, I'm going to close it for now. If anyone else wants to take control and restart the discussion, feel free to re-open this issue.

Personally I agree with @mikedn that these overloads increase the API footprint but don't provide much value since the existing Comparer overload for Sort is mostly adequate.

[2017-02-13 19:09] #14230 closed

[2017-02-13 19:11] mairaw commented on #14244
Not yet @ianhays. I'm completely swamped at the moment with the .NET Core release.

[2017-02-13 19:13] ianhays commented on #14198
I agree with Stephen here. Doing this would require a lot of effort, probably introduce bugs somewhere, and not provide all that much benefit. Using the pooled buffers and release it on ToString would probably work, but I question whether it is worth the effort just to use ArrayPool.

Closing this.

[2017-02-13 19:13] #14198 closed

[2017-02-13 19:16] ianhays commented on #13970
@fujiy @arcs001 sorry about that, code coverage for mscorlib types is... complicated. You can submit a PR with new tests anyways and as long as the new tests are valuable then the coverage report itself doesn't matter as much.

[2017-02-13 19:17] Priya91 commented on #16060
@MattGal I copied down the helix libs and ran the tests locally on a redhat box with the azure image used by Jenkins CI, This is the output, the tests are correctly skipped.

[code]

[2017-02-13 19:22] ianhays commented on #13695
I agree with @AArnott, we should be careful here and not break any scenarios if we can avoid it.

@jamesqo were you still planning on working on this issue?

[2017-02-13 19:22] ianhays commented on #13308
@mairaw have you been able to take a look at this?

[2017-02-13 19:23] whoisj commented on #645
@JeremyKuhne interesting that you were looking at this issue, I was just looking too.

Have you ever look at this nice write up on long-path support and the canonicalization nightmare?

https://googleprojectzero.blogspot.com/2016/02/the-definitive-guide-on-win32-to-nt.html

[2017-02-13 19:25] ianhays commented on #13254
This test should be disabled for full framework since it assumes the current codepage is UTF8.

[2017-02-13 19:27] ianhays commented on #12998
@bartdesmet Do you still have interest in adding motivation/examples/etc to [follow the API suggestion guidelines?](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md) That is the next step to fully reviewing this API.

[2017-02-13 19:28] ianhays commented on #12915
This seems like a good API.

@jamesqo could you update your proposal with some example code or real-world code as Karel mentioned? After that, I say we take it to review.

[2017-02-13 19:29] CIPop commented on #16036
The code was ported as-is and as you mention is not tested on a big-endian machine. Network data should be handled via host to network (and reverse) APIs.
I wouldn't trust the fact that only these areas would be affected by switching to big-endian. I too agree with @AtsushiKan and see more harm in removing the statements.

@danmosemsft The question remains: do we want to support bi-endian machines

[2017-02-13 19:32] ianhays commented on #12182
@jamesqo are you still interested in looking into this and getting some perf results to see if it's a good enhancement?

[2017-02-13 19:37] ianhays commented on #11976
I'm going to close this since it's been stale for a few months now and there hasn't been much interest in it.

Personally I don't see much value in implementing directly on SortedDictionary over just using the existing extension method. I don't think the use-case justifies the additional API and potential compat issues (though I'm not sure how extensive those would be).

[2017-02-13 19:39] MattGal commented on #16060
@Priya91, Which correlation id did you use for this?

[2017-02-13 19:42] ianhays commented on #11861
@SamuelEnglard could you update the API proposal with the new shift methods that were added in https://github.com/dotnet/corefx/issues/8719?

[2017-02-13 19:47] Priya91 commented on #16060
Used this one: f687c2e8-fb22-4f5e-b77f-ca993e08b191

[2017-02-13 19:47] fujiy commented on #13970
@ianhays, I forgot to update the thread. I could make it work with Stephen help: https://github.com/dotnet/corefx/issues/15829

[2017-02-13 19:50] mairaw commented on #13308
Same as the other one @ianhays. All the issues assigned to me at the moment are all in my backlog until I finish my priorities for the upcoming releases.

[2017-02-13 19:51] ianhays commented on #15622
@Thaina

is ```T List.TakeAt(int index,int count)``` supposed to be ```T List.TakeAt(int index)```? Why does it have a count?

Did you only want ```T Dictionary.TakeValue(K key)``` in addition to ```bool Dictionary.TryRemove(K key,out V value)``` so you could have the return type be `T` instead of `bool`? To me it seems more potentially confusing than actually beneficial when you consider that we'

[2017-02-13 19:54] Priya91 commented on #16098
Disabling the test in #16114

cc @lmolkova Can you help take a look at the failing test..

[2017-02-13 20:09] #14484 closed

[2017-02-13 20:11] MattGal commented on #16060
@Priya91 that run shows a timeout for System.Net.Sockets, it could not have been the one resulting in the misplaced conditional facts.

[2017-02-13 20:32] NinoFloris opened #16116 "ExpandoClass summary worded incorrectly/ambiguously?"
There seems to be some room for interpretation in this summary:
[code]
https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Linq.Expressions/src/System/Dynamic/ExpandoClass.cs#L9

Specifically:

How does this work? I don't see any static caching of ExpandoClass going on in either _transitions or ExpandoObject's internal structures like ExpandoData.

Or is what

[2017-02-13 20:51] danmosemsft commented on #16036
I agree this seems like a case where keeping dead code makes sense.

@gkhanna79 for question about supporting big-endian mode.

[2017-02-13 20:57] JeremyKuhne commented on #645
@whoisj No, I hadn't seen that write up- it is quite good. Thanks for sharing the link.

FYI, I did a dump of my own around that time as well:

[Path Format Overview](https://blogs.msdn.microsoft.com/jeremykuhne/2016/04/21/path-format-overview/)
[Path Normalization](https://blogs.msdn.microsoft.com/jeremykuhne/2016/04/21/path-normalization/)
[DOS to NT: A Path’s Journey](https://blogs.msdn.microso

[2017-02-13 21:09] weshaggard commented on #16097
I'm not entirely sure who would be the owner the engineering system for corefx is kind of team owned. I will look into fixing this.

It should amount to the same thing and should be incremental. We don't want to require folks to call sync.cmd all the time so we encapsulate that in a call to build.cmd if it hasn't been called. So a call to build.cmd or sync.cmd should setup subsequent calls to buil

[2017-02-13 21:14] SamuelEnglard commented on #11861
@ianhays done

[2017-02-13 21:15] MattGal commented on #16060
Further investigation:  THere's a bug here where mission control is showing "not run" for things that ran and passed if other columns contain skipped tests.  I created https://github.com/dotnet/core-eng/issues/451 to track this and will keep investigating.

That means the only real issue here is the timeout on RedHat 7.2;  If you're certain that release 1.1.0 bits do not hit this hang on a proper

[2017-02-13 21:27] JeremyKuhne commented on #16094
The same problem happens with Windows as well. Using `EnumerateFiles` will allow you to process the results as you go, but won't let you skip, just abort.

I don't think we can change the behavior of the existing API as tracking the recursion would have a significant impact on the performance. Adding an updated API is possible- you could turn this into an [API request/review](https://github.com/do

[2017-02-13 21:29] weshaggard commented on #16081
No this is on the list of things to get cleaned-up we just didn't have a tracking issue for it. We can use this issue.

We should delete all the *.builds files that are in the library directories, we still use them for the root traversal builds.

[2017-02-13 21:30] weshaggard commented on #16101
No it isn't on my list of things to do.

[2017-02-13 21:35] JonHanna commented on #16116
They have the same *class* as a general OOP concept. This take on the concept of *class* is not the same as the static C# take that the `class` keyword provides (where an object can't change class, and two distinct classes could have identical members) but is a different approach to the general OOP concept. (Or if your own views on OOP don't allow a class to behave like that, it still fits within

[2017-02-13 21:39] jamesqo commented on #12182
@ianhays, I haven't forgotten about this issue. I am thinking it would be good to cleanup the `SortedSet` code a bit more first (I have a PR for part 2 of the cleanup open at https://github.com/dotnet/corefx/pull/16061) before making optimizations. I also think that maybe we could just remove `InOrderTreeWalk` entirely and do the recursion ourselves at every call site-- it shouldn't be too hard, e

[2017-02-13 21:41] jamesqo commented on #13695
@ianhays This was already fixed, actually: https://github.com/dotnet/corefx/pull/15296/files#diff-1b253343143020c47f05f28a4aeaad5aR127 It can be closed. Thanks for pinging me on this.

[2017-02-13 21:41] #13695 closed

[2017-02-13 21:47] jkotas commented on #16036
.NET Core does not run on any big endian machines right now, and nobody has a crystal ball to tell whether it will change in future.

Mono does run on big endian machines. However it prefers runtime checks for it instead of ifdefs, see for example https://github.com/mono/mono/commit/92cec4692a244dc11117a5931cf6f059dbd1ad24

[2017-02-13 21:57] Priya91 commented on #16060
I've reproed the bits from the above jobid on a jenkins CI azure image, and didn't see the hang. Is that a valid test? If not, what would be the correct repro?

[2017-02-13 22:00] dennisdietrich commented on #3140
Update: I have an almost clean inner loop run on Windows 10 at this point. Outer loop runs and inner loop on macOS and Ubuntu are not clean but as far as I can tell the failures are all due to environmental issues (e.g. DNS tests, HTTP tests, certificate tests). Regarding the last inner loop issue on Windows 10 I've already enlisted @tarekgh's support (thanks Tarek! :)) as I'm not sure what's goin

[2017-02-13 22:14] Priya91 commented on #15640
This issue is highly likely that the host machine doesn't have the network setting configured for reverse dns lookup.

Closing the issue due to inactivity, @saurabh500 or @geleems please reopen if you believe this is a .net issue, based on the information provided in previous comment. Thanks!

[2017-02-13 22:14] #15640 closed

[2017-02-13 22:29] danmosemsft opened #16121 "Remove "'$(TargetGroup)'=='netstandard' in configurations in test projects."
We should remove these because in the case where a project has a non-netstandard configuration in the configurations.props, that configuration will be picked and this condition will be false causing the tests to not run in the normal case.

When doing this, make sure tests that are NOT conditioned to be netstandard are instead conditioned to only be non-netstandard, eg ,.
 `<ItemGroup Condition="'