[2017-04-18 17:37] danmosemsft commented on #16195
@AlexGhiondea is this going to be part of what you're doing?
Also should you move it to the desktop bug tracker?

[2017-04-18 17:41] safern commented on #18542
@hughbe this is being taken care of on: https://github.com/dotnet/corefx/pull/17874, right?

[2017-04-18 17:42] danmosemsft commented on #17067
Leaving in 2.0 for a couple more days since @ianhays says he has the change ready :)

[2017-04-18 17:42] danmosemsft commented on #16675
@hughbe might be up your alley if you want.

[2017-04-18 17:43] gkhanna79 commented on #9917
This is about running tests on OneCoreUAP images, similar to how we do it for Nano. Doing this will enable us to get coverage for any OS SKU built over OneCoreUAP (e.g. Holo*, Phone, IoTCore, etc).

[2017-04-18 17:44] safern commented on #18549
@stephentoub the xunit framework was built against 4.5.2 I believe: https://github.com/xunit/xunit/blob/master/src/xunit.console/App.config

[2017-04-18 17:46] terrajobst commented on #18017
Yep, after talking for 15 minutes we convinced ourselves that this API shape indeed makes the most sense:

[code]

[2017-04-18 17:49] #18172 closed

[2017-04-18 17:50] non-standard opened #18560 "System.Net.Http.WinHttpHandler not respecting request versions explicitly targeting http/2"
In WinHttpHandler.cs the if block on line 792 doesn't use HTTP/2 when the request message version is explicitly set.  It currently just defaults to the WinHTTP default for sending the request.

Change:
[code]

To:

[code]

[2017-04-18 17:50] ericstj commented on #9743
Looking at your lock file I see that both the win10-arm and win10-arm-aot targets have a clrcompression.dll provided, so this does not appear to be an issue with the packages.  @MattWhilden @ianhays are you aware of any issues in the toolchain/targets that @andrey-denisenko may be hitting?

[2017-04-18 17:51] ianhays commented on #17067
Sure do! It'll be up today.

[2017-04-18 17:52] terrajobst commented on #16745
We think

[code]

makes the most sense:

* It's consistent to the other `IsXxx` method
* Makes it clear that success is a subcase of completion

[2017-04-18 17:53] danmosemsft commented on #18559
I sympathize .. it's taken us a while to come to terms with it ourselves.

[2017-04-18 18:04] davidsh commented on #18560
WinHTTP uses a different mechanism to turn on HTTP/2 protocol.

See:
https://github.com/dotnet/corefx/blob/master/src/System.Net.Http.WinHttpHandler/src/System/Net/Http/WinHttpHandler.cs#L1182

Conceptually, WinHTTP treats HTTP/2 as the transport protocol.  And within HTTP/2 protocol, HTTP/1.1 is really used anyways.

The current tests for HTTP/2 protocol are passing in CI.  So, the feature works

[2017-04-18 18:08] davidsh commented on #18560
And see here where we test for HTTP/2:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.cs#L1704

[2017-04-18 18:15] shiftylogic commented on #18540
The test needs to be wrapped in check like [here](https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/Span/Overflow.cs#L24) since this test will never pass on 32-bit.

[2017-04-18 18:25] non-standard commented on #18560
Good to know, I thought I was on the right track there, but apparently I'm not.

I am working on some client code that communicates with a server that rejects any request that is not specifically HTTP/2.  When I try and stream content of unknown length to this server, the WinHttpHandler (or maybe the lower level WinHTTP) is specifying HTTP/1.1 in the request.

[code]

If I send a known length stre

[2017-04-18 18:33] #17163 closed

[2017-04-18 18:35] davidsh commented on #18560
You can't use a request body that has unknown known unless you make sure to include 'Transfer-Encoding: chunked" request header.

I think it would reduce confusion to close this issue since the title and original question doesn't apply anymore.

If you think there is a bug regarding HTTP/2 support, you should open a new issue and attach a full buildable/runable repro.  I suspect the problem, thoug

[2017-04-18 18:36] davidsh commented on #18560
Also, this is not per RFC in my opinion.  Servers are supposed to downgrade to HTTP/1.1.  And many servers only support HTTP/2 connections using secure "https".

[2017-04-18 18:41] lmolkova commented on #18418
With this change Activity.Id looks like `|DESKTOP-OJC80DI-c0059174-64e1202c.`, only the last component increments by  0xB50001 on each Activity created.

I played with it together with DJB  and it gives pretty good uniform distribution on small and large number of buckets.

@Dmitry-Matveev @SergeyKanzhelev
I will send you private DiagnosticSource.dll build so you can verify it.

I agree with @cwe1

[2017-04-18 18:47] danmosemsft commented on #17905
@zhenlan question above about Microsoft.XmlSerializer.Generator.dll -- it's got 400KB of dead code (!) ... is this code temporarily dead, or are you done with this work and someone can delete it? I can ask the vendors to do much of the work, most likely. Just let me know.

[2017-04-18 18:49] pnobre commented on #18452
I was having the same issue and managed to solve it by removing the offending package. By mistake I have added scaffolding support to one of my mvc projects. This added a reference to Microsoft.VisualStudio.Web.CodeGeneration.Design, which if you follow to nuget references all the way down to Microsoft.CodeAnalysis.Workspaces.Common, will reference Microsoft.Composition.
So, in my case, removing t

[2017-04-18 18:51] steveharter commented on #17749
Note that the issue reported above is fixed; that was referencing the 0413 build which was reported before the 'fix' was merged \ new build made...

On getaddrinfo, as long as it is supported on all platforms, and functionality is same\better (including perf) I don't see why we wouldn't want to move to that. We are using an obsolete API with gethostbyname.

[2017-04-18 18:53] SergeyKanzhelev commented on #18418
@lmolkova I'm generally fine leaving machine name, but if we can make ID shorter compromising on readability - I'd prefer that. 128bit random number can do it as a trace id as @cwe1ss commented

[2017-04-18 18:59] seanterry42 commented on #18452
pnobre pointed out where I was seeing this as well. My MVC project had a PackageTargetFallback entry in it, but the error actually showed up when referencing that project from my testing project. Adding the same entry to the test project cleared up the error.

[2017-04-18 19:02] vancem commented on #18418
To be clear I am not suggesting that anyone take a dependency on the format of the ID.   But I will say that HUMANS doing DEBUGGING are likely to find the information handy for ad-hoc comparison.

Also to be clear, the machine name is not redundant, because it is part of what makes the ID unique.   We are just doing it in a way that is more useful for ad-hoc debugging than a 128 bit random number.

[2017-04-18 19:02] non-standard commented on #18560
Agreed, but that is a constraint on the server I am trying to call.

To debug the issue, I created a simple http/2 server in nodejs that just dumps the request headers to logs.  When I set the HttpContent of the request to a StreamContent the request comes through my nodejs server as HTTP/2, if I set the HttpContent to a custom type that computes a -1 length, the request comes through my nodejs se

[2017-04-18 19:02] #18560 closed

[2017-04-18 19:02] cwe1ss commented on #18418
For what scenarios would it be more useful?

[2017-04-18 19:07] #3571 closed

[2017-04-18 19:07] cwe1ss commented on #18418
Hmm... I can't see why. In distributed tracing, you can't do much with a single ID anyway, you'd have to look up the full trace in most cases and there you get this information and much more.
And if you do local debugging with ETW/PerfView, you're on the machine anyway.

[2017-04-18 19:09] SergeyKanzhelev commented on #18418
@vancem for ad-hoc debugging you probably either rdp to the box or get log file uploaded with the computer name as part of the name.

Worse - keeping machine name makes this ID dangerous from PII standpoint. When we collect telemetry from customer machines reported by our installer we explicitly replacing machine name to the unreadable hash string. It is a compliance requirement. It is unnecessary

[2017-04-18 19:12] eerhardt commented on #16636
FYI - I have merged two pretty major DateTime/TimeZoneInfo perf changes: https://github.com/dotnet/coreclr/pull/10507 and https://github.com/dotnet/coreclr/pull/10948.  From my perf investigations, running `DateTime.Now` 9,000 times went from ~340ms to ~28ms.

Please try the scenario again on the latest builds to ensure DateTime and TimeZoneInfo are no longer perf bottlenecks.

[2017-04-18 19:14] #15966 closed

[2017-04-18 19:15] vancem commented on #18418
Have you used systems (like Microsoft likes to produce), where the URLS are just one nasty long GUID thing.   Then compare it to say GitHub, where the URLS are all sensible.     It is the same issue.   A URL at the end of the day is just a Unique ID, but encoding the hierarchical data (this is machine X, process Y, Request Z), is useful.

[2017-04-18 19:17] ericstj commented on #18452
Closing this as there are several workarounds.  I recommend you follow up with the owner of the package that had this dependency `Microsoft.CodeAnalysis.Workspaces.Common` and ask them to update their package so you don't need to use workarounds.

[2017-04-18 19:17] #18452 closed

[2017-04-18 19:18] karelz commented on #8819
Triage: The impact on 2.0 is expected to be low if any. The cost is high, moving to Future.

[2017-04-18 19:32] WinCPP commented on #18540
I will add the check...

[2017-04-18 19:34] ahsonkhan commented on #18540
@WinCPP, there is a PR out with the fix:
https://github.com/dotnet/corefx/pull/18563

[2017-04-18 19:35] WinCPP commented on #18540
oops sorry. Joined in late tonight... ok... got it...

[2017-04-18 19:37] karelz commented on #7812
@steveharter can you please try to repro this issue? It will help us triage it. If we don't have repro, it is likely not actionable in 2.0.

[2017-04-18 19:43] cwe1ss commented on #18418
I don't see how this relates. Trace IDs are just copy&paste strings that you put into some input box or use for a "where traceId = 'xxx'" query in the tracer. Also, the first Activity is in no way more special then child requests. A trace could involve 10 machines, why is it so important where it was started to put it into the ID?

I hope I made my point so I'll stop arguing. I still care very dee

[2017-04-18 19:47] karelz commented on #15002
Not actionable for us, closing. Please feel free to reopen when you have more info for us. Thanks!

[2017-04-18 19:47] #15002 closed

[2017-04-18 19:48] ianhays commented on #10546
If the limitation is no longer present, then the test shouldn't exist anymore.

Even if the limitation was present, I agree that it isn't testing what we want it to. I'll push a PR removing them.

[2017-04-18 19:52] karelz commented on #17234
Given that this is test issue only and that the product actually works and that we do not have infinite time, moving to Future. It would be still nice to have it fixed in 2.0.

@hughbe are you interested? ;-)

[2017-04-18 19:59] weshaggard opened #18567 "Add .NET Framework 4.7 support to NETStandard.Library.NETFramework package"
We need a separate build of both ref (shims.proj so that it unifies with ValueTuple in mscorlib) and lib to support net47. Without that we'd have type-conflicts at compile-time.

cc @ericstj

[2017-04-18 19:59] weshaggard commented on #18567
See https://github.com/dotnet/corefx/pull/18519 as an example.

[2017-04-18 20:02] karelz commented on #18013
Triage: Same behavior as on Desktop, so not critical for 2.0. Moving to Future.

[2017-04-18 20:07] karelz commented on #18376
@steveharter can you please include this bug also in your test run in a loop. We want to find out its frequency and if there is a repro.

[2017-04-18 20:09] danmosemsft opened #18569 "Run outer loop tests on 32 bit Windows in Jenkins"
We don't do this at present. (The only 32 bit Windows runs we do is inner loop on Windows 8)

@gkhanna79 @wtgodbe is this planned? Any reason why we shouldn't? Is it worth someone updating the groovy file at least?

cc @mmitche @karelz

[2017-04-18 20:09] karelz commented on #17957
@hughbe do you want to help us out here? ;-)

[2017-04-18 20:10] JonHanna commented on #18431
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_release_prtest/3664/

[2017-04-18 20:11] karelz commented on #17957
Triage: We probably need new infra with multiple clients/machines. The loopback we have is not sufficient.
It is not common feature, moving to Future.

[2017-04-18 20:12] safern commented on #18431
Thanks @JonHanna this failed yesterday at 7pm and we disabled the whole test class at around 11pm, so now we should not see failures.

[2017-04-18 20:14] germanmarky commented on #7812
The MSXML2.XMLHttp.6.0 object did not resolve the issue. I have since created and implemented a different module using the endpoint WSDL and a COM-Visible DLL in the customers production environment, so unable to revert or reproduce.

[2017-04-18 20:19] karelz commented on #17802
Triage: This is the same as Desktop, so not critical for 2.0. Moving to Future.

[2017-04-18 20:22] karelz commented on #18260
@danmosemsft why is the issue marked as 'portable' when it comes from Windows? Do we have Windows legs in portable testing? ... I'm confused.

[2017-04-18 20:23] karelz commented on #18260
@steveharter can you please check if you saw this failure in your test runs?

[2017-04-18 20:23] JonHanna commented on #18431
That was just in the last hour or so. Maybe I'm mis-identifying, but it seems to be the same class.

[2017-04-18 20:26] weshaggard commented on #3942
Yes I think that is good enough. Closing.

[2017-04-18 20:26] #3942 closed

[2017-04-18 20:27] safern commented on #18431
The test is not being even executed, so how come it can fail? Is this failure the one you are pointing out on https://github.com/dotnet/corefx/pull/18421?

[2017-04-18 20:28] danmosemsft commented on #18569
@weshaggard pointed out they are running in MC just mislabed in some contexts.

Transmuting this to ask whether we can set up Jenkins configurations for outerloop x86 Windows for regular runs and on-request in PR's.

[2017-04-18 20:28] #18444 closed

[2017-04-18 20:33] OmarTawfik commented on #18493
@VSadov can you comment on the breaking change?

[2017-04-18 20:41] danmosemsft commented on #17982
@MattGal any luck? We still get this
…
  File "/home/helixbot/dotnetbuild/scripts/helix/saferequests.py", line 105, in request_with_retry
    raise last_error
TypeError: data must be a byte string
2017-04-18 17:26:53,627: ERROR: logs(86): _log_uncaught_exception: Unhandled error: data must be a byte string

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~

[2017-04-18 20:43] MattGal commented on #17982
Unfortunately not, even connecting to a SUSE 42.1 machine and running the exact same test in a loop I can't reproduce the problem.

[2017-04-18 20:46] ahsonkhan opened #18572 "Add ReadOnlySpan CopyTo tests that already exist for Span"
cc @WinCPP, @shiftylogic

An example of this would be the test recently added here: https://github.com/dotnet/corefx/pull/18286

We want these and possibly other such tests added to RoS from:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/Span/CopyTo.cs#L205

To here:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/tests/ReadOnlySpan/CopyTo.cs#L123

[2017-04-18 20:52] DavidArno commented on #18159
@svick,

`none` is an absence of a value; `null` is an uninitialised reference. `none` is non-zero and non-null because both of those are values. One can "hack" systems to behave such that `null` (or `0`) behave like `none` but as the `XXXOrDefault` methods in linq show, this means overloading `0/null` with two meanings: an absence of a value and the default value:
[code]

Whereas, if one uses `Op

[2017-04-18 20:57] WinCPP commented on #18572
@ahsonkhan I can work on this after I do #16640. Kindly assign it to me.

[2017-04-18 21:06] DavidArno commented on #18159
@svick,

Um, yes you can. I write C# code, yet those features live on the periphery for me.

Why? Is this because you don't want to have to learn functional techniques, or is there a real reason for this? Why should I have to learn a new language just to use modern programming techniques? Why should Luddites stop my preferred language keeping up with my advancements in programming? C# already have

[2017-04-18 21:06] #7129 closed

[2017-04-18 21:06] #14284 closed

[2017-04-18 21:06] #17892 closed

[2017-04-18 21:15] Priya91 commented on #9006
@stephentoub I agree with 1 as well, and exposing a property on HttpContent for controlling the behavior sounds good. The problem in the issue exists with CurlHandler and libcurl, but the proposed fix differs .net core from the behavior on Desktop, so until we can have an API that can control this behavior, should we go with option 3 in the description, instead of disposing, make CurlHandler to wa

[2017-04-18 21:19] louthy commented on #18159
@svick

`None` has no contract.  It doesn't honour anything.  `null of T` claims to honour the contract of `T`, yet it's a lie.  It's a massive hole in the type-system, and that's why `null` is considered the 'billion dollar mistake'.  You can't dereference `None`, and therefore it's safer.  You have to pattern-match to either extract a concrete value of `T` that will do what its contract says, or

[2017-04-18 21:40] davidsh commented on #18448
I just researched this issue more. It does appear that the porting of this property from .NET Framework to .NET Core was done incorrectly.

The reference source:
https://github.com/Microsoft/referencesource/blob/master/System/net/System/Net/HttpWebRequest.cs#L449

shows this:

[code]

So, setting this property in .NET Framework only sets an internal field.  Later, this internal field is used by _C

[2017-04-18 21:40] davidsh commented on #18448
cc: @stephentoub @CIPop @karelz

[2017-04-18 21:42] wtgodbe commented on #18569
I don't know of any plans to do this, but I also don't know any reason why we couldn't. Maybe @ellismg or @stephentoub might know?

[2017-04-18 21:44] DavidArno commented on #18159
@louthy,

I don't agree here. I have put a lot of effort into [Succinc&lt;T&gt;](https://github.com/DavidArno/SuccincT), only to recently discover that I'd duplicated a whole load of stuff that you'd already put into [ language-ext](https://github.com/louthy/language-ext/). And in both cases, we are duplicating work already done for F#. All of this duplication exists because core functional featur

[2017-04-18 21:44] #16924 closed

[2017-04-18 21:48] davidsh commented on #18448
Looks like this bug was introduced with this PR https://github.com/dotnet/corefx/pull/12347 back in October. And unfortunately, we didn't catch it during code review.

cc: @tijoytom

[2017-04-18 21:49] terrajobst commented on #17452
I think we want symmetry with NuGet packaging, i.e. you should answer the question considering people perform runtime light-up. Mono, while compatible with .NET Framework isn't .NET Framework. So I would expect it to return `false`. Folks that want to handle .NET Framework & Mono the same way can easily do so, but they cannot easily do the reverse if they have to special case one over the other.

[2017-04-18 21:54] louthy commented on #18159
@DavidArno I do see your point, and mostly agree, but I don't really agree on the approach.  I think the BCL being both a functional and OO repository is a recipe for disaster.  One strength of the BCL (for all its OO-ness) is that it's consistent, there are pretty much never any surprises.  The biggest surprises come from the functional types that are already in there (`IEnumerable`, `IObservable

[2017-04-18 21:57] benaadams commented on #18481
Will take a while to make this good; @karelz want to assign to me? @stephentoub has :trollface:'d my ego into it

[2017-04-18 21:58] stephentoub commented on #18481
Mwahahahaha

[2017-04-18 21:59] hongdai commented on #12618
@mconnew @zhenlan
We believe below scenario should work:
1. HttpClientHandler  UseDefaultCredentials is specified.
2. If the Server reply with a Kerberos challenge, indicating it only accept Kerberos credential. And
users has used kinit to obtain a kerberos ticket.
3. Then HttpClientHandler should just use the kerberos ticket by setting it to System.Net.CredentialCache.DefaultNetworkCredentials.

[2017-04-18 22:03] #18520 closed

[2017-04-18 22:03] DavidArno commented on #18159
@louthy,

Maybe we are arguing at cross-purposes then, as `SystemF...` would serve nicely. Those old `out p` and `XXXOrDefault` methods could be left in place and a separate set of methods/functions could be created in new namespaces that behave in a more "modern" way. This would keep the two worlds separate, keeping both parties happy, but avoiding the need for "function C# folk" to re-invent the

[2017-04-18 22:04] ElemarJR commented on #18159
IEnumerable and the C# support for enumerations is one of the best features
from dotnet.

I can't see any reason why BCL could not support more than a programming
style.

Em ter, 18 de abr de 2017 às 18:54, Paul Louth <notifications@github.com>
escreveu:

[2017-04-18 22:10] #11843 closed

[2017-04-18 22:11] #8578 closed

[2017-04-18 22:17] saul commented on #16924
Thanks @JonHanna :)

[2017-04-18 22:23] JonHanna commented on #16924
NP. I'd appreciate if you could confirm the fix in practice as I know little F#, so I actually found it more telling to build your example, compile it and read the IL than to read the F#, and I didn't do a check against the actual F# version.

[2017-04-18 22:24] lajones commented on #2093
We do not intend to make `LocalizableString` public. We consider it simple enough that if people want to replicate it they can just copy the code.

Re unsealing `DisplayAttribute`. After consideration we are changing our mind on this. We are not planning on working on this but we would consider a PR to do so. When doing so however consider that many usages of this code will be looking for just `Di

[2017-04-18 22:27] louthy commented on #18159
@ElemarJR I'm not suggesting that `IEnumerable` (or more precisely the LINQ extensions) aren't amazing.  They are.  But the interface is 'surprising' if all you know is the rest of the BCL style.

@DavidArno  I guess I'm trying to be as pragmatic as possible, because it would be easy to say "But it's only an Option type", however if it's done badly it could backfire on any drive for a functional f

[2017-04-18 22:28] lajones commented on #2648
We would consider a PR which provided either a new constructor (taking an extra bool indicating whether to use `InvariantCulture`) or a new member which did the same thing.

[2017-04-18 22:31] seguler commented on #18173
- We are using the Azure Storage SDK with .NET Core 1.1. It seems System.IO version is 4.3.0. I have tested 1.0 as well and saw no difference.
- I couldn't possibly recreate this in a simple unit test with HttpClient directly, as we have a lot of parallelism - as well as different REST API calls- in order to get to 600MB/s in the Storage SDK. However the HttpClient in the SDK is here, if it will h

[2017-04-18 22:33] CIPop commented on #18449
@geoffkizer Some parser (WinHTTP?) appears to do normalization. Interestingly the [RFC ABNF production](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) doesn't include a space yet some of the RFC examples do.

@zugzwangm Do you see the same behavior in .Net Desktop?

If any of the ones you know are public, could you give a few examples please?

[2017-04-18 22:34] #4465 closed

[2017-04-18 22:34] weshaggard commented on #17452
@terrajobst are you planning to update the proposal here?

[2017-04-18 22:38] danmosemsft commented on #3419
@hughbe this is not a 2.0 issue, but at some point it may interest you. Exposing API on stringbuilder that is already implmented.

[2017-04-18 22:40] ericstj opened #18578 "IsolatedStorage depends on two PlatformNotSupported assemblies on Unix"
I noticed this when doing some package refactoring.

IsolatedStorage's unix implementation depends on System.Security.AccessControl and System.Security.Principal.Windows, both of which are not implemented.

I suspect this means that IsolatedStorage doesn't work on Unix, or at least some portion of it doesn't.

/cc @weshaggard

[2017-04-18 22:41] seguler commented on #18173
In response to the custom work with certs question, we don't do any custom work with certificates. It is pretty straight forward: https://github.com/Azure/azure-storage-net/blob/master/Lib/ClassLibraryCommon/Shared/Protocol/HttpWebRequestFactory.cs

[2017-04-18 22:41] CIPop commented on #16338
This is the same stack as #16516.
@Jiayili1 I'm currently working on instrumenting the code to give out more information. The TimeoutException is just a side effect of the Win32 exception in AcquireCredentialsHandle.

[code]

[2017-04-18 22:45] lajones commented on #4942
We think the fix for this would probably consist of replicating the offending stateful members and making sure that the new members state was always the same regardless of what had been called before. The old members would have to be left as is for compatibility reasons.

[2017-04-18 22:52] lajones commented on #6830
We are not planning on working on this. We would consider a PR, but we don't think the above approach (passing a delegate to the attribute) will work. At the moment we look for a property on a type. One alternative approach might be to recognize different patterns e.g. an Indexer property. You would then need an adapter to take the result of `.resw` files which results in a class with index proper

[2017-04-18 22:56] lajones commented on #8201
Ping... @karelz @richlander @preetikr
We are fine with releasing the resources. But we don't know who copies it into Microsoft/referencesource.

[2017-04-18 22:56] weshaggard commented on #18078
There isn't any real reason to in include this and I would suggest we not expose it.

[2017-04-18 22:57] jnm2 commented on #3419
I really want to see this in 2.0. Can I help?

[2017-04-18 22:58] #15018 closed

[2017-04-18 22:59] karelz commented on #3419
Sure, I'll sign it to you (once GitHub let's me - from unknown reason, you don't show up in the list of users there :()

[2017-04-18 23:04] weshaggard opened #18580 "xplat msbuild not correctly failing on build failure"
See:
Wow, that isn't good. Somehow on rerun Jenkins decided to ignore the failure:

[code]

Compare this to the failing build:
[code]

[2017-04-18 23:04] weshaggard commented on #18580
cc @mellinoe have you seen anything similar?

[2017-04-18 23:07] ericstj commented on #18580
I remember seeing this before on multi-node builds. We should probably get on a more recent MSBuild to see if it still repros.  /cc @rainersigwald

[2017-04-18 23:07] mellinoe commented on #18580
I don't think I've seen this, but then again it is kind of hard to notice unless you look into the logs. Updating MSBuild sounds like a good idea regardless.

[2017-04-18 23:12] shrah opened #18581 "Add ConditionalWeakTable.GetOrAdd API"
`ConditionalWeakTable`  currently provides APIs for  `public TValue GetValue(TKey key, CreateValueCallback createValueCallback)` and `public void AddOrUpdate(TKey key, TValue value)`,  however it doesn't have any easy and efficient way  to do `GetOrAdd`.

Rationale and Usage
-------------------------------------
Given a `Key` it will return the associated `Value` if the `Key` already exists in the

[2017-04-18 23:13] shrah commented on #18581
cc @jkotas

[2017-04-18 23:14] kumpera commented on #17452
Hi Immo,

Who's the target of this API?
What sort of things is this meant to allow the user to dynamically select upon?

My concern is that this API makes it harder to query for capabilities and available surface by only allowing querying for the underlying implementation.

A few examples of things that are hard to do with this API:

- Are appdomains available?
- Can it JIT?
- Is API XXX available

[2017-04-18 23:17] danmosemsft commented on #17693
@jguady here's an example of an existing one
https://github.com/dotnet/corefx/search?utf8=%E2%9C%93&q=FileIOPermissionAttribute&type=

[2017-04-18 23:19] huanwu commented on #17905
@danmosemsft These are not dead code. Most of code are shared with System.Private.Xml. If you check the project file https://github.com/dotnet/corefx/blob/master/src/Microsoft.XmlSerializer.Generator/src/Microsoft.XmlSerializer.Generator.csproj, you can find most of code files are located under $(SourceDir)\System\Xml\Serialization

[2017-04-18 23:20] ellismg commented on #18569
I think this is just in the camp of "no one wanted this, so we never enabled it".  If it's desired, I do think it's easy to do (ensure that you restore an x86 version of CoreCLR).

Care to send a PR @danmosemsft ?

[2017-04-18 23:25] #18078 closed

[2017-04-18 23:26] mikeharder commented on #18406
CC @davidfowl

[2017-04-18 23:30] ViktorHofer commented on #18073
@steveharter @bartonjs does these members make sense to port to Core?

[2017-04-18 23:31] ViktorHofer commented on #18075
@lajones Any update on that?

[2017-04-18 23:32] AtsushiKan opened #18584 "Reenable Array.CreateInstance Tests for UapAot in System.Runtime.Tests.dll."
In System.Runtime.Tests, Array and Array17 tests exercising CreateInstance are Skip'd for UapAot using this issue as a comment.

Something in those tests is corrupting memory in a way that causes the test exe to fail-fast (sometimes in an entirely unrelated test later on.) Since this hampers investigation of all the other tests, I'm disabling the whole lot until someone can figure it out.

[2017-04-18 23:35] lajones commented on #18075
@divega @ajcvickers This is basically a compatibility issue. Any comment?

[2017-04-18 23:45] mellinoe commented on #18569
It sounds like we have coverage for this in Helix, at least, which is good. In that case, can we move this to "Future"? It would certainly be nice to have for future test coverage, but non-blocking for 2.0. Agree/disagree, @danmosemsft ?

[2017-04-18 23:50] mellinoe commented on #8718
I'm going to say that, unless there's concrete improvements to be made, we can close this. When originally filed, we had tons of different packges with weird and confusing version numbers. Nowadays, it is vastly simplified, and all of the version numbers make more sense, especially the stable versions.

[2017-04-18 23:50] #8718 closed

[2017-04-18 23:55] #17914 closed

[2017-04-18 23:55] Priya91 commented on #14614
I count 2 votes for silent behavior and 3 for throwing. Should we conclude this with current behavior, which is to throw?

[2017-04-18 23:55] karelz commented on #18260
Thanks @steveharter.
Given there's been only 1 occurrence so far, pushing it out to Future.

[2017-04-18 23:58] karelz commented on #16602
Low frequency so far, moving it to Future.

[2017-04-19 00:02] weshaggard commented on #18406
To update this issue. It was discovered the problem is that sni.dll depends on api-sets on Win7 and those are no longer included in .NET Core 2.0 shared framework. So to make this scenario work you either need to directly reference https://www.nuget.org/packages/runtime.win7-x64.Microsoft.NETCore.Windows.ApiSets/ to get the api-set shims or reference the newer version of SqlClient package (>4.4.0)

[2017-04-19 00:02] #18406 closed

[2017-04-19 00:04] mellinoe commented on #18305
@danmosemsft Given that this is just documentation, is it really blocking 2.0? Can we move it out or re-categorize it in some way?

[2017-04-19 00:05] danmosemsft commented on #17905
@huanwu even if we can't delete the code from the repo (because it's used by others) if the code is not used within this assembly we ideally would not compile it into the assembly.
 ReflectionAwareCodeGen
 XmlSerializationWriterCodeGen
XmlSerializationCodeGen
all seem dead classes. Ideally they could be moved into their own code files so they're only compiled in where they're needed.

ReflectionAw

[2017-04-19 00:06] karelz commented on #17327
@steveharter given the low frequency, should we push it out to Future?

[2017-04-19 00:10] ericstj commented on #2249
I would imagine that is possible if you rebuild the ns1.2 ref and ensure that all implementations have the Close method (including those where it is inbox like xamarin).  It doesn't appear to be inbox anywhere else (Desktop, .NET Core, UAP) so it seems feasible.

This is actually the first I've heard of this, but I think the right course of action would be for the folks who own Data.Common to prop

[2017-04-19 00:18] karelz commented on #14614
Let's ask community: https://twitter.com/ziki_cz/status/854489134060101632

[2017-04-19 00:28] karelz commented on #3419
Contacted GitHub support - your name does not show up either in query Author/Assignee drop downs. Similar to another user problems earlier today (he was 'flagged').

[2017-04-19 00:45] karelz commented on #17878
@steveharter did you hit it in your CI runs in a loop?

@Priya91 says it is likely similar to #10764. Either way very unlikely a product bug, moving to Future.

[2017-04-19 00:48] jnm2 commented on #3419
That doesn't bother me. So:

CoreCLR needs to be updated. https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Text/StringBuilder.cs#L1084-L1164:

@karelz Are these the steps I should take?

- [ ] Submit PR to dotnet/coreclr master, removing the rejected overloads and implementing the [approved](https://github.com/dotnet/corefx/issues/3419#issuecomment-273254581) API shape
- [

[2017-04-19 00:51] jamesqo opened #18589 "Proposal: Enumerable.RemoveAll(T) and RemoveFirst(T)"
## Background

Most of the time I use `Enumerable.Except`, I only want to remove one item. Unfortunately, `Except` takes an `IEnumerable<T>` so I have to write `new[] { }` every time. Here are a couple of instances where this has happened recently:

- [Polynomial.cs](https://gitlab.com/jamesqo/PolynomialReducer/blob/master/PolynomialReducer/CompactR/Polynomial.cs#L330)
- [Data.cs](https://gitlab.c

[2017-04-19 00:52] jnm2 commented on #3419
Ah, looks like I'll want to update https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L6875-L6958

[2017-04-19 01:08] jguady commented on #17693
Thanks! @danmosemsft. Quick question,  Do they all live under SS.Permissions or do they live in each area listed above?

[2017-04-19 01:13] #18029 closed

[2017-04-19 01:17] jnm2 commented on #3419
I'm a little confused why StringBuilder tests exist both in https://github.com/dotnet/coreclr/blob/master/tests/src/CoreMangLib/cti/system/text/stringbuilder and https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Text/StringBuilderTests.cs. How should I proceed?

[2017-04-19 01:20] karelz commented on #16174
@hqueue would it be ok to push it to Future milestone, so that we have better idea what we have to ZBB on 5/10? Or do you use the milestone for your own tracking? Thanks!

[2017-04-19 01:20] karelz commented on #17601
@hseok-oh would it be ok to push it to Future milestone, so that we have better idea what we have to ZBB on 5/10? Or do you use the milestone for your own tracking? Thanks!

[2017-04-19 01:21] danmosemsft commented on #17693
@jguady they are in various namespaces of course but they can all go into the S.S.Permissions library. Just as S.Net.NetworkInformation.NetworkInformationPermission is already there.

[2017-04-19 01:21] danmosemsft commented on #17693
Basically we're segregating all these stubs in that place.

[2017-04-19 01:25] #18459 closed

[2017-04-19 01:25] ektrah commented on #17793
Possible implementation without pinning based on a suggestion by @nietras:

[code]

(not thoroughly tested yet)

[2017-04-19 01:26] hseok-oh commented on #17601
@karelz I think it's no matter to change it future milestone.

[2017-04-19 01:29] danmosemsft opened #18590 "HttpRequestStreamTests.Read_FullLengthAsynchronous_Success failed in CI with "invalid response""
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/6549/consoleText
[code]

[2017-04-19 01:31] zhenlan commented on #17905
Hi @danmosemsft, I may not fully understand how the dead code is determined, but something feels off.

For example, the diff file [Microsoft.XmlSerializer.Generator](http://tempcoverage.blob.core.windows.net/report2/Microsoft.XmlSerializer.Generator.diff.html) marked `ReflectionAwareCodeGen` as red, which I interpreted as dead code from the tools point of view. However, it is clearly used in `Micr

[2017-04-19 01:34] ektrah commented on #17793
Possible implementation without pinning based on a suggestion by @nietras:

[code]

(not thoroughly tested yet)

[2017-04-19 01:37] karelz commented on #17601
@hseok-oh do you mean that it is ok (you don't care), or that you dislike the idea (and would like to keep 2.0 milestone)?

[2017-04-19 01:59] karelz commented on #3419
It's weird to see tests in both places, I would expect them only in CoreFX -- @AlexGhiondea @joperezr any idea?

[2017-04-19 02:01] karelz commented on #3419
Your plan sounds reasonable (once we clarify where the tests should go - I think we will have to skip adding them in CoreCLR).

Contributions docs under construction have some rough links: https://github.com/dotnet/corefx/wiki/Contributions (feel free to help us improve them)

[2017-04-19 02:04] hseok-oh commented on #17601
@karelz it's ok to push future milestone.

[2017-04-19 02:06] AlexGhiondea commented on #16195
Yes it is. And there is no need for an additional issue -- i am handling this as part of a larger work item.

[2017-04-19 02:10] zhenlan commented on #17905
OK, I see the tool actually marked the whole chain of *CodeGen as dead code. Please ignore my previous question and let me explain. The Microsoft.XmlSerializer.Generator project just had its initial check-in. Some code is only dead temporarily. They will be used when we have more work done. Maybe we can run the tool again when we get closer to code complete?

[2017-04-19 02:34] #18540 closed

[2017-04-19 03:07] hughbe commented on #18590
Dupe of https://github.com/dotnet/corefx/issues/18376

[2017-04-19 03:08] hughbe commented on #18376
Another instance in #18950. Looks like this only happens with chunked content and the empty string?

[2017-04-19 03:08] danmosemsft commented on #3419
@jnm2 your plan looks good. Re the tests you found in coreclr - I do not think we add new tests for corelib in the coreclr repo. I think those are legacy although I don't know the history. Although they are nice because they can be modified in the same PR, tests in corefx are preferred because they can be reused over several runtimes (CoreCLR, CoreRT, Mono, UWP,.. .)

[2017-04-19 03:09] jnm2 commented on #3419
I pushed https://github.com/dotnet/coreclr/pull/11059. Next I'd like to write some corefx tests.
Is there a guide on how to run corefx tests against a local build of coreclr?

[2017-04-19 03:10] hughbe commented on #3419
https://github.com/dotnet/corefx/blob/c2588415e91ca1d44885ac0bbe9bf8268adc4b48/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

[2017-04-19 03:19] ektrah commented on #17793
Looking further at the [`SpanHelpers.CopyTo<T>`](https://github.com/dotnet/corefx/blob/166e73faa842fc8d8c46737c0b7b68293af5e1dd/src/System.Memory/src/System/SpanHelpers.cs#L25-L44) implementation, it seems that `isOverlapped` gives false positives if the GC swaps the order of `src` and `dst` after the assignment to `srcGreaterThanDst` and before the calculation of `tailDiff`. That doesn't hurt, bu

[2017-04-19 03:19] #18590 closed

[2017-04-19 03:43] danmosemsft commented on #3419
If we want to match `string.join` then the `string[]` is `value` and `object[]` is `values` no doubt by accident. I updated above since this matches the stated goal. However `values` in both seems better ot me. @terrajobst ?

[2017-04-19 03:44] MattWhilden commented on #9743
I guess we'll start with the foolish sounding questions, does clrcompresison.dll end up in the bin directory? (aka <projectRoot>\bin\ARM\[Release|Debug]\clrcompression.dll)

I can take a closer look tomorrow but it's not something I've seen before.

[2017-04-19 03:47] danmosemsft commented on #18581
@shrah can you please format similar to https://github.com/dotnet/corefx/issues/271 .. this makes review easier

[2017-04-19 03:49] #17872 closed

[2017-04-19 03:49] #18148 closed

[2017-04-19 03:49] #18149 closed

[2017-04-19 03:49] #18150 closed

[2017-04-19 03:49] #18145 closed

[2017-04-19 03:49] #18146 closed

[2017-04-19 03:51] jnm2 commented on #3419
Please say we can be `values`...

[2017-04-19 03:59] danmosemsft commented on #17905
@zhenlan that's exactly what I assumed. Code complete was last week actually :) Perhaps this is a DCR. Is there much more to do?

[2017-04-19 04:11] NicolasDorier commented on #17010
@karelz can you remove the "need more info" tag ?

[2017-04-19 04:28] jguady commented on #17693
If all this looks correct I'll keep doing the same thing.

https://github.com/jguady/corefx/commit/373631f4efa65f1ba881d1aa3a43a70b4ad253b5

@danmosemsft @ViktorHofer

[2017-04-19 04:36] danmosemsft commented on #17693
@jguady yes it looks good!

BTW, you do'nt need to type the stubs out. You can use genapis. Eg., in my local repo this:
[code]

emits into `foo.cs` the stubs for all api in System.Drawing.dll (as an example). You can copy and paste stubs out of that. No typing, no errors!

[2017-04-19 04:38] danmosemsft commented on #17693
As another check, when you are done, you can remove any of the types and members you added from this file `src\shims\ApiCompatBaseline.netcoreapp.netfx461.ignore.txt`. Then go run msbuild on `src\ships\apicompat.proj`. You should see the diffs go away from `ApiCompatBaseline.netcoreapp.netfx461.txt` and you can include that updated reduced baseline with your commit.

[2017-04-19 04:46] zhenlan commented on #17905
@danmosemsft yes what you assumed is right :)

Microsoft.XmlSerializer.Generator (Sgen) is a CLI tool that does not ship as part of .NET Core. For the part of code Sgen shares with S.Private.Xml, I don't think there are any big gaps except bug fixes and we are targeting 5/10 for ZBB. For the part of the code that is solely under Sgen, there is more feature work to do but we should have more leeway

[2017-04-19 05:17] richlander commented on #8234
Was just talking about this on Twitter: https://twitter.com/runfaster2000/status/854039105423818753

Feel free to reply to it / like it. The Ubuntu folks are watching.

[2017-04-19 05:28] richlander commented on #8201
Awesome. Will pass on ...

[2017-04-19 05:34] richlander commented on #16441
Sent internal mail to get it started.

[2017-04-19 05:37] richlander commented on #12190
@terrajobst can we start updating the license link for our NuGet packages. If you give me the password, I'll do it ;)

We'll update the license in the packages for .NET Core 2.0.

[2017-04-19 05:57] karelz commented on #17010
Done, thanks for reminder @NicolasDorier. BTW: We did triage & costing today - @Priya91 mentioned this is likely dupe of #9006.

[2017-04-19 06:01] jkotas commented on #17793
I think so - if you can come up with the detailed example on where it will result in incorrect behavior.

[2017-04-19 06:02] karelz commented on #3419
@hughbe thanks for the link, added to the [wiki](https://github.com/dotnet/corefx/wiki/Contributions) (hopefully will grow into set of short straight-to-the-point reference docs)

[2017-04-19 06:02] MattGal opened #18594 "Reenable Silverlight signing for System.Json.dll"
I reverted one line from https://github.com/dotnet/corefx/commit/88e110bc10f3d5c9e27c1df41cf8be3300fd8c7e  to unblock build.  The Microbuild signing service does not recognize its 'SilverlightExtension' Strong name key moniker.

This issue tracks re-enabling it once someone more familiar with Microbuild can take a look.

@weshaggard

[2017-04-19 06:06] karelz commented on #17601
@hseok-oh great, thanks! That will be helpful for our tracking.
Do you mind if I do it with all the remaining 4 [arm32 2.0 issues in Infrastructure](https://github.com/dotnet/corefx/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3Aarea-Infrastructure%20label%3Aarch-arm32%20milestone%3A2.0.0)?

[2017-04-19 06:08] andrey-denisenko commented on #9743
Yes, *clrcompression.dll* exists my bin directory.
It even included into .APPX file (when I generate it)
![image](https://cloud.githubusercontent.com/assets/26914037/25165410/649406f4-24a4-11e7-9ba1-9ac41271165f.png)

[2017-04-19 06:12] karelz commented on #12618
@hongdai why only kinit when there are many other options?

[2017-04-19 06:13] sharwell commented on #395
@tarekgh I'm not sure I agree with this completely. It should be possible to implement a comparer which uses `StringComparer.CurrentCulture` for substrings that do not contain the code points `[0-9]`, and a numeric comparison based on `int.Parse` for sequences containing *only* those code points.

The API could be defined to simply be two new properties of the `StringComparer` class.

* `StringCom

[2017-04-19 06:15] karelz commented on #18448
Given this is new API and difference from Desktop, we should address it before shipping. Moving it to 2.0.

@davidsh do you know how costly is the fix? (one-liner vs. couple of days vs. more?) ... adding it to our "costing" OneNote

[2017-04-19 06:21] sandersaares commented on #14284
What exactly is the API that fulfills this issue's description? It is not clear to me where PEM files come into play in the snippet you posted.

[2017-04-19 06:28] hseok-oh commented on #17601
Remaining issues looks different. These issues could be cleared if nuget packaged generated for armel(tizen) is uploaded to dotnet myget (or use additional myget feed).
cc/ @jyoungyun @gkhanna79

[2017-04-19 06:34] Jiayili1 opened #18595 "Desktop: System.Security.Permissions.Tests.EvidenceBaseTests.HashCallMethods failed with "System.IO.FileNotFoundException""
Failed test: System.Security.Permissions.Tests.EvidenceBaseTests.HashCallMethods

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/23/testReport/System.Security.Permissions.Tests/EvidenceBaseTests/HashCallMethods/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-19 06:38] Jiayili1 opened #18596 "Desktop: System.ConfigurationTests.TypeUtilTests.GetType_NoAssemblyQualifcation failed with "Xunit.Sdk.EqualException""
Failed test: System.ConfigurationTests.TypeUtilTests.GetType_NoAssemblyQualifcation

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/23/testReport/System.ConfigurationTests/TypeUtilTests/GetType_NoAssemblyQualifcation_typeString____System_Uri____expectedType__typeof_System_Uri__/

MESSAGE:
[code]
STACK TR

[2017-04-19 06:53] Jiayili1 opened #18597 "Desktop: System.Linq.Parallel.Tests.ParallelQueryCombinationTests.ToArray_OperationCanceledException_PreCanceled failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Linq.Parallel.Tests.ParallelQueryCombinationTests.ToArray_OperationCanceledException_PreCanceled

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/23/testReport/System.Linq.Parallel.Tests/ParallelQueryCombinationTests/ToArray_OperationCanceledException_PreCanceled_operation__Distinct_/

[2017-04-19 06:56] Jiayili1 opened #18598 "Desktop: System.Linq.Parallel.Tests.CastTests.Cast_ArgumentNullException failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Linq.Parallel.Tests.CastTests.Cast_ArgumentNullException

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/23/testReport/System.Linq.Parallel.Tests/CastTests/Cast_ArgumentNullException/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-19 06:59] Jiayili1 opened #18599 "Desktop: Tests under "System.Linq.Parallel.Tests.ElementAtElementAtOrDefaultTests" failed with "System.MissingMethodException""
Failed tests:
System.Linq.Parallel.Tests.ElementAtElementAtOrDefaultTests.ElementAt System.Linq.Parallel.Tests.ElementAtElementAtOrDefaultTests.ElementAtOrDefault
System.Linq.Parallel.Tests.ElementAtElementAtOrDefaultTests.ElementAtOrDefault_OutOfRange
System.Linq.Parallel.Tests.ElementAtElementAtOrDefaultTests.ElementAt_OutOfRange
System.Linq.Parallel.Tests.ElementAtElementAtOrDefaultTests.Elemen

[2017-04-19 07:05] Jiayili1 commented on #18599
Following tests also failed with the "System.MissingMethodException ":
System.Linq.Parallel.Tests.FirstFirstOrDefaultTests.FirstOrDefault_Longrunning
System.Linq.Parallel.Tests.FirstFirstOrDefaultTests.FirstOrDefault_NoMatch_Longrunning
System.Linq.Parallel.Tests.FirstFirstOrDefaultTests.FirstOrDefault_NoMatch
System.Linq.Parallel.Tests.FirstFirstOrDefaultTests.FirstOrDefault_Empty
System.Linq.Par

[2017-04-19 07:14] marek-safar commented on #17452
I agree that the API should check if a feature is available/supported and not if string matches all possible supported frameworks.

I think it'd make more sense to unify this with https://github.com/dotnet/corefx/issues/17116.

[2017-04-19 07:38] Jiayili1 commented on #18599
Failed tests:
System.Linq.Parallel.Tests.JoinTests.Join
System.Linq.Parallel.Tests.JoinTests.Join_NotPipelined
System.Linq.Parallel.Tests.JoinTests.Join_NotPipelined_Longrunning
System.Linq.Parallel.Tests.JoinTests.Join_InnerJoin_Ordered_Longrunning
System.Linq.Parallel.Tests.JoinTests.Join_Longrunning
System.Linq.Parallel.Tests.JoinTests.Join_InnerJoin_Ordered

[2017-04-19 07:42] hughbe commented on #18589
I've been playing around with pure functions in JavaScript with React and wished I had this, I can see a use case for c# too.
I'm slightly confused about the equality comparison part - surely a compared could return equal for all elements. In that case, I assume only one, the first encounter, is removed

[2017-04-19 07:44] olivier-spinelli commented on #18559
So... the case is closed? No hope to design something cleaner?

[2017-04-19 07:45] Jiayili1 commented on #18599
Failed tests:
System.Linq.Parallel.Tests.LastLastOrDefaultTests.LastOrDefault_Empty
System.Linq.Parallel.Tests.LastLastOrDefaultTests.Last_NoMatch_Longrunning
System.Linq.Parallel.Tests.LastLastOrDefaultTests.LastOrDefault_NoMatch_Longrunning
System.Linq.Parallel.Tests.LastLastOrDefaultTests.Last_Empty
System.Linq.Parallel.Tests.LastLastOrDefaultTests.LastOrDefault
System.Linq.Parallel.Tests.LastL

[2017-04-19 07:53] karelz commented on #17749
That is likely not going to be correct assumption in next 1-2 months. Please wait for official announcements around specifics ... (can't disclose them yet, sorry)

[2017-04-19 07:54] Jiayili1 commented on #18599
Failed tests:
System.Linq.Parallel.Tests.SkipSkipWhileTests.Skip_NotPipelined
System.Linq.Parallel.Tests.SkipSkipWhileTests.Skip_Longrunning
System.Linq.Parallel.Tests.SkipSkipWhileTests.SkipWhile_NotPipelined_Longrunning
System.Linq.Parallel.Tests.SkipSkipWhileTests.Skip_NotPipelined_Longrunning
System.Linq.Parallel.Tests.SkipSkipWhileTests.SkipWhile
System.Linq.Parallel.Tests.SkipSkipWhileTests.

[2017-04-19 07:55] karelz commented on #16636
Thanks @eerhardt @mellinoe for your help here.
I will opportunistically close the issue and reach out to CSS to make sure the validation happens. If there's still significantly blocking difference we can reopen / file a new tracking issue. Thanks!

[2017-04-19 07:55] #16636 closed

[2017-04-19 08:03] Jiayili1 opened #18600 "Desktop: System.Linq.Parallel.Tests.SumTests.Sum_Float_Longrunning failed with "Xunit.Sdk.EqualException""
Failed test: System.Linq.Parallel.Tests.SumTests.Sum_Float_Longrunning

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/23/testReport/System.Linq.Parallel.Tests/SumTests/Sum_Float_Longrunning_count__65536_/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-19 08:03] Jiayili1 commented on #18599
Failed tests:
 System.Linq.Parallel.Tests.TakeTakeWhileTests.TakeWhile_Indexed
 System.Linq.Parallel.Tests.TakeTakeWhileTests.TakeWhile
 System.Linq.Parallel.Tests.TakeTakeWhileTests.TakeWhile_Longrunning
 System.Linq.Parallel.Tests.TakeTakeWhileTests.TakeWhile_Indexed_NotPipelined_Longrunning
 System.Linq.Parallel.Tests.TakeTakeWhileTests.TakeWhile_AllTrue_Longrunning
 System.Linq.Parallel.Tests.

[2017-04-19 08:08] Jiayili1 commented on #18599
Failed tests:
 System.Linq.Parallel.Tests.DegreeOfParallelismTests.DegreeOfParallelism_Pipelining
 System.Linq.Parallel.Tests.DegreeOfParallelismTests.DegreeOfParallelism_Barrier
 System.Linq.Parallel.Tests.DegreeOfParallelismTests.DegreeOfParallelism_OutOfRange
 System.Linq.Parallel.Tests.DegreeOfParallelismTests.DegreeOfParallelism_Aggregate_SeedFunction
 System.Linq.Parallel.Tests.DegreeOfParal

[2017-04-19 08:11] Jiayili1 commented on #18599
Failed tests:
 System.Linq.Parallel.Tests.ExchangeTests.Partitioning_Striped_Longrunning
 System.Linq.Parallel.Tests.ExchangeTests.Merge_Ordered_Pipelining_Select
 System.Linq.Parallel.Tests.ExchangeTests.Partitioning_Default
 System.Linq.Parallel.Tests.ExchangeTests.Merge_Ordered
 System.Linq.Parallel.Tests.ExchangeTests.Partitioning_Default_Longrunning
 System.Linq.Parallel.Tests.ExchangeTests.P

[2017-04-19 08:14] hseok-oh opened #18601 "[ARM32/Linux] Test failure: System.Numerics.Vectors.Tests.dll"
Environment: Raspberry pi 3 (Ubuntu 16.04)

[code]

Simple Test
[code]

Test result:
[code]

[2017-04-19 08:15] Jiayili1 opened #18602 "Desktop: System.Transactions.Tests.LTMEnlistmentTests.TwoPhaseDurable failed with "Xunit.Sdk.ThrowsException""
Failed test: System.Transactions.Tests.LTMEnlistmentTests.TwoPhaseDurable

Configuration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/23/testReport/System.Transactions.Tests/LTMEnlistmentTests/TwoPhaseDurable_volatileCount__0__volatileEnlistmentOption__None__durableEnlistmentOption__None__volatilePhase1Vote__Prepare

[2017-04-19 08:20] hseok-oh commented on #18601
It needs to use `MathHelper.Equal` method to compare `expected` and `actual` like other tests in `System.Numerics.Tests.Vector2Tests`.

[2017-04-19 08:28] Jiayili1 opened #18603 "System.Security.Cryptography.X509Certificates.Tests.ChainTests.BuildChain_MicrosoftDotCom_WithRootCertInUserAndSystemRootCertStores failed with "System.Security.Cryptography.CryptographicException""
Failed test: System.Security.Cryptography.X509Certificates.Tests.ChainTests.BuildChain_MicrosoftDotCom_WithRootCertInUserAndSystemRootCertStores

Configuration: outerloop_netcoreapp_fedora24_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/26/testReport/System.Security.Cryptography.X509Certificates.Tests/ChainTests/BuildChain_MicrosoftDotCom_Wi

[2017-04-19 08:36] Jiayili1 opened #18604 "System.Data.SqlClient.Tests.DiagnosticTest.ExecuteReaderAsyncTest failed with "Timed out after 60000ms waiting for remote process 54039""
Failed test: System.Data.SqlClient.Tests.DiagnosticTest.ExecuteReaderAsyncTest

Configuration: outerloop_netcoreapp_Ubuntu 14.04_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_release/20/testReport/System.Data.SqlClient.Tests/DiagnosticTest/ExecuteReaderAsyncTest/

MESSAGE:
[code]
STACK TRACE:
at System.Diagnostics.RemoteExecutorTestBase.Remot

[2017-04-19 08:37] Jiayili1 commented on #18604
Closed issue: https://github.com/dotnet/corefx/issues/16421

[2017-04-19 08:52] karelz commented on #3419
@jnm2 ok, Contributor != Collaborator ... sigh, should have caught it myself. I added you to the repo Collaborators list, you should get an invitation from me. Let me know when you accept ...

[2017-04-19 09:26] kalokamgit commented on #2394
@erikcai8 Workflow designer is very nice Idea. Can I get the source of your workflow designer?

[2017-04-19 09:41] shimingsg opened #18606 "System.Tests.GCTests.LatencyRoundtrips_LowLatency(value: SustainedLowLatency) failed"
this test failed when **set TestGCStressLevel=2**,  error message in testresult.xml as following

<test name="System.Tests.GCTests.LatencyRoundtrips_LowLatency(value: SustainedLowLatency)" type="System.Tests.GCTests" method="LatencyRoundtrips_LowLatency" time="0.2391149" result="Fail">
        <traits>
          <trait name="category" value="nonlinuxtests" />
          <trait name="category" value

[2017-04-19 10:51] mgravell commented on #16745
@terrajobst plus that makes it directly equivalent to `ValueTask<T>` (which should be updated to use that in the `IsCompletetedSuccessfully` property when available) :)

[2017-04-19 11:02] stephentoub commented on #18581
Seems reasonable.  It can be done today with:
[code]
but that's fairly inefficient, creating a delegate and a closure just to pass the value in.

[2017-04-19 11:18] ViktorHofer commented on #17693
As those types are already in `ApiCompatBaseline.netcoreapp.netfx461.ignore.txt`, they won't show up in the `ApiCompatBaseline.netcoreapp.netfx461.txt`. We put all TypesMustExist lines into `ApiCompatBaseline.netcoreapp.netfx461.ignore.txt` as they are not a target for 2.0.

What you could/should do, is to remove these TypesMustExist lines from `ApiCompatBaseline.netcoreapp.netfx461.ignore.txt` an

[2017-04-19 11:25] ViktorHofer commented on #4002
From @davidsh

I think this test was creating a listener and testing for receiving data on both IPv4 and IPv6. It thus required DNS resolution of the server endpoint to return both A and AAAA DNS records. In addition, it probably required listening on that dual-mode socket.
Changing this test to 'www.microsoft.com' might be testing the DNS resolution part of the test but it isn't testing receiving

[2017-04-19 11:45] ViktorHofer commented on #17536
Reopened original issue: https://github.com/dotnet/corefx/issues/11687

[2017-04-19 11:58] JonHanna commented on #8081
Marking `MakeIndex` and `MakeMemberAccess` as okay as they make quite simple calls into methods already covered.

[2017-04-19 11:59] ektrah opened #18608 "Overlap detection in SpanHelpers.CopyTo<T> yields false positives"
The [`SpanHelpers.CopyTo<T>`](https://github.com/dotnet/corefx/blob/166e73faa842fc8d8c46737c0b7b68293af5e1dd/src/System.Memory/src/System/SpanHelpers.cs#L25-L44) method tests if `src` and `dst` overlap by first checking [if `src` is greater than `dst`](https://github.com/dotnet/corefx/blob/166e73faa842fc8d8c46737c0b7b68293af5e1dd/src/System.Memory/src/System/SpanHelpers.cs#L25-L26) and then checki

[2017-04-19 12:47] ViktorHofer commented on #15045
You mean we also remove all TypeConverter Attributes from the types? Example in DataColumn.cs:
[code]
Wouldn't that break the expected behavior? Type converting wouldn't be possible then?

![image](https://cloud.githubusercontent.com/assets/7412651/25180662/1a60190e-250f-11e7-975b-2a3058d5b94e.png)

[2017-04-19 13:06] mgravell commented on #18481
@stephentoub I refined and polished the tests, and I still think there's some big wins yet to be had on `await` for `ValueTask<T>`. [Here's my gist that describes the scenario](https://gist.github.com/mgravell/878e7fb19ad2378941f810820b9e90b5), and here's the headline numbers:

[code]

`int/sync` is regular classic code without any tasks etc; the two `int/manual/valuetask/*` versions are sync with

[2017-04-19 13:06] AndreiFuse commented on #18207
* Correction. If I type just `dotnet`, I get version `1.1.0` for both Win and Linux environments.
* Here's the full curl version.
[code]
* I'm on Mint and I can't change that.

[2017-04-19 13:12] stephentoub commented on #18481
What do you get for await'ing an already completed `Task<int>`?

Great.  Let's find them.  I never said there weren't places that could be improved.

[2017-04-19 13:13] mgravell commented on #18481
@stephentoub  that's in the gist linked - I snipped those rows here

[2017-04-19 13:15] stephentoub commented on #18481
I see `int/await/task`, but it's obviously allocating a new object on each call.  Do you have one that's not?  That's what I was looking for.

Have you profiled?  For example, are you sure the overhead is coming from the await rather than from, say, the overhead of invoking an `async` method?

[2017-04-19 13:16] jnm2 commented on #3419
@karelz Done.

[2017-04-19 13:16] mgravell commented on #18481
I'll add a version that returns the same cached `static readonly Task.FromResult(42)` each time - will update in a few minutes

[2017-04-19 13:23] mgravell commented on #18481
with:

        const int FixedResultValue = 42;
        static readonly Task<int> FixedResultTask = Task.FromResult(FixedResultValue);
        static readonly ValueTask<int> FixedResultValueTask = new ValueTask<int>(FixedResultValue);
        internal int GetLineWorthInt32Sync() => FixedResultValue;
        internal Task<int> GetLineWorthInt32TaskAsync() => FixedResultTask;
        internal ValueT

[2017-04-19 13:25] ViktorHofer commented on #6901
Are arm64 tests already running in Helix or still waiting for the hardware? If the hardware is the blocker I suggest moving it to a future milstone

[2017-04-19 13:35] bartonjs commented on #14284
@sandersaares Yeah.  There are quite a number of mutation-based side-effects that CopyWithPrivateKey avoids, and CopyWithPrivateKey works for more than RSACryptoServiceProvider/DSACryptoServiceProvider; but it fills the role of letting a cert and a key be combined.

I admit that it doesn't quite hit "open cert.key and do something useful with it" mark, since the key file parsing is left as an exer

[2017-04-19 13:44] ViktorHofer commented on #5501
@saurabh500 is this planned for 2.0? I tried to add the type but failed as some members and other types are missing.

[2017-04-19 14:13] ViktorHofer commented on #13458
@Jiayili1 which test is disabled here?

@VSadov @JonHanna If you say it cannot be truly fixed I assume the documentation part is the only missing piece here? If yes can you propose a documentation change/addition and where it should go? Thanks!

[2017-04-19 14:50] YehudahA opened #18614 "Allow instantiate HttpRequestHeaders and merge it into another instance"
```System.Net.Http.HttpRequestHeaders``` is a comfortable class, and it stores all general headers [UserAgent, Connection, Encoding etc.] and custom headers.

This class used by ```HttpClient``` as ```DefaultRequestHeaders``` property, for merge default headers into every ```HttpRequestMessage```.

Example for internal using of this for set default headers:  [HttpClient.PrepareRequestMessage](http

[2017-04-19 14:54] danmosemsft commented on #17693
Thank you @ViktorHofer for the correction :)

[2017-04-19 14:55] danmosemsft commented on #18606
[code]

[2017-04-19 14:56] danmosemsft commented on #18606
@swgillespie I'm guessing this test is expected to fail when gcstress is 2? If so is there some check we can do in the test so it doesn't? Worst case, check whether COMPLUS_GCStress is set, I guess.

[2017-04-19 14:57] #17362 closed

[2017-04-19 14:57] #17154 closed

[2017-04-19 14:59] #14166 closed

[2017-04-19 15:00] danmosemsft commented on #6901
@Chrisboh

[2017-04-19 15:18] danmosemsft commented on #11737
@sokket I wanted to see when if ever this failed (at least in Helix right?). I manually constructed the link below, and it says no failures. Right?

https://mc.int-dot.net/#/testResultHistory/corefx/System.Transactions.Tests.NonMsdtcPromoterTests/PSPENonMsdtcTimeout?failureCount=10&onlyPullRequests=false&timeFrame=OneMonth

@jimcarley do you plan to work on this further, or are we waiting for anot

[2017-04-19 15:18] steveharter commented on #17681
No reported jdash failures for this method. Closing since rare and to see if this occurs again.

A timeout could occur because of test interference from related tests that do not allocate a port+algorithm(IPV4, IPV6) but still do a receive on that port+algorithm expecting failures, but instead may eat\receive another test's messages. Some tests were recently disabled that may help here (#17362 and

[2017-04-19 15:19] danmosemsft commented on #16283
Hi @jimcarley @qizhanMS any further progress on this one? Did you end up doing this:

Given this is code coverage only, I'm going to move to Future. Please correct if you wish.

[2017-04-19 15:20] danmosemsft commented on #18277
@corivera ?

[2017-04-19 15:21] ViktorHofer commented on #13007
@JonHanna @bartdesmet @VSadov As 2.0 comes closer, I kindly ask if there is an update on that topic?

[2017-04-19 15:25] bartonjs commented on #16925
A minor complication here is that Rfc2898DeriveBytes lets you keep calling GetBytes as if it were a stream (GetBytes(16).Concat(GetBytes(16)) is the same as GetBytes(32)); and all of the native implementations are one-shot.

There certainly exist buffered workarounds, but I'm wondering if it's going to introduce more complexity than it's worth...

* Always ask the native implementation, do local o

[2017-04-19 15:25] steveharter commented on #17878
I do not have CI results for NameResolution.Pal.Tests; I will include those in next run. Did not repro running locally.

[2017-04-19 15:33] steveharter commented on #18603
Uncovered due to #14166; previously assert and seg fault. Will disable test via IsReliableInCI

[2017-04-19 15:44] Drawaes commented on #14614
Can you not require a certain version of curl like you do for openssl.

[2017-04-19 15:45] hongdai commented on #12618
@karelz Because users have chosen kinit in this case, it does not use other options.

Do you know who owns System.Net.CredentialCache.DefaultNetworkCredentials? It uses the kerberos ticket generated by the kinit in this case.  They should be able to provide justifications.

[2017-04-19 15:48] JonHanna commented on #13007
I'm not sure that they should be. Certainly reference types are mutable, but that seems to me to be akin to how a `readonly` field of a reference type is readable.

Of course CS1648 means we can't generally attempt to mutate a `readonly` field where the type is a value type, but consider:

[code]
Output:
[code]

`X` is mutated and `Y` is copied first, then copy mutated and and discarded, which doe

[2017-04-19 15:54] jguady commented on #17693
Hey @danmosemsft E:\dev\corefx\Tools\dotnetcli\shared\Microsoft.NETCore.App\1.1.1\dotnet.exe says "This app can't run on your PC dialog" and displays Access is denied in the VS command prompt (puzzled). Can I use another version? I have 1.0.3 installed and there appear to be a few others in the source.

[2017-04-19 15:56] danmosemsft commented on #17693
@jguady what about `Tools\dotnetcli\dotnet.exe Tools\GenAPI.exe` ? No idea why one would work for me and not for you.

[2017-04-19 15:57] JonHanna commented on #13458
There's talk of some ref-returning/using additions to reflection, which could give us more flexibility in dealing with this. I think it may be worth waiting an seeing what happens there.

(On the note of documentation, is there any good documentation anywhere about the different types of compilation? It's not something I knew about until I saw the source).

[2017-04-19 15:59] JonHanna commented on #16916
I opened the issue and submitted the change after losing some time trying to find a bug that had hit the stack-overflow case in a desktop project, so I definitely favour changing desktop 😄

[2017-04-19 15:59] davidsh commented on #18614
Can you provide a link to the source code you are talking about?

[2017-04-19 16:08] ViktorHofer commented on #15337
It's basically this code which requires System.IO.FileSystem.AccessControl: https://github.com/dotnet/corefx/blob/master/src/System.IO.IsolatedStorage/src/System/IO/IsolatedStorage/Helper.Win32.Unix.cs#L72-L97

AccessControl does not contain a lot source files and it all sticks together. Is it still planned to remove the dependency to System.IO.FileSystem.AccessControl for NETCore.App? If yes, sho

[2017-04-19 16:11] ViktorHofer commented on #17693
@jguady If the tools don't work for you I would suggest copying it manually as that shouldn't take longer than 5min...

[2017-04-19 16:15] ViktorHofer commented on #13458
@JonHanna is the ref-returning available till 2.0?

[2017-04-19 16:15] karelz commented on #17681
@steveharter I assume it didn't show up in your run-in-a-loop-on-CI-machine effort either, right?

[2017-04-19 16:16] danmosemsft commented on #17693
Adding a reference in VS, newing up the type, then go to definition also displays a stub...

[2017-04-19 16:18] dleeapho commented on #15092
@danmosemsft I don't think we can get it done by then unless we shift priorities.

[2017-04-19 16:19] karelz commented on #12618
@hongdai my team owns (parts) of Networking - I can help loop in right folks.

I don't think we should build one-off solutions for just kinit, until we convince ourselves that our solution will be useful for other options. We might easily end up with very targeted APIs which will soon become legacy and we will be sorry & dragging them with us for years.

Should be perhaps chat?

cc @geoffkizer @Pr

[2017-04-19 16:20] tarekgh commented on #395
This will not work with non Latin digits. if you use other numerals from other languages that will not work. please read the discussion in this issue.
other concern from the proposed implementation is the performance. splitting the string and then comparing parts will be expensive.
Also should we consider cases like (1,0000, 1.1, ...etc.)? did you think about that?

[2017-04-19 16:22] karelz commented on #14614
@Drawaes I think higher version is not available on Centos 7 - see https://github.com/dotnet/corefx/issues/14614#issuecomment-269252015

[2017-04-19 16:24] rainersigwald commented on #18580
I have a vague recollection of something like this fixed long ago, but I can't dig up a bug for it. What version of MSBuild are you using today?

[2017-04-19 16:27] danmosemsft commented on #15092
I'm fine with that, it's just cleanup. Moved to Future.

[2017-04-19 16:29] mellinoe commented on #18580
We're using `15.1.0-preview-000523-01`

[2017-04-19 16:31] bartonjs commented on #18603
Do we have an existing issue for that?  Since all we did here was change assert to throw we shouldn't have changed the pass/fail state of any debug tests.

[2017-04-19 16:32] rainersigwald commented on #18580
What I was thinking of should definitely have been fixed by then, so this may be new and exciting.

Are you by chance using MSBuild's new `/WarnAsError` functionality?

[2017-04-19 16:33] terrajobst commented on #17452
@kumpera @marek-safar

The target audience of this feature is library developers want to tweak runtime behavior for specific platforms. This could be targeted light-up or for working around specific issues. This API isn't meaningful for app developers as they know what they are targeting.

Our general approach is what you suggest:

* **Feature detection**. Optional features, such as the registry,

[2017-04-19 16:35] ajcvickers commented on #18075
Given the comments from @ViktorHofer and the analysis by @lajones I don't think we should do this unless there is a strong customer scenario for needing this member back.

[2017-04-19 16:40] weshaggard commented on #15092
I disagree with moving this to future. We will be servicing 2.0 for a long time to come and so at a minimum we need to survey what we have here to ensure we aren't setting ourselves up for trouble once we enter servicing.

[2017-04-19 16:45] krwq commented on #18479
@bartonjs - I do not agree on that for properties - setting a property is not an action - if I'd serialize this object as is and deserialize it I'd get exception currently and would need to add special logic to workaround this. Setting a property should be transparent IMO

[2017-04-19 16:46] ViktorHofer commented on #18075
That's fine for me! For our baseline analysis I will put that member into our ignore file and reference this issue as the reason for omitting it.

[2017-04-19 16:46] #18075 closed

[2017-04-19 16:47] JonHanna commented on #13458
I'm not in the loop on that, but I would doubt it.

[2017-04-19 16:48] Chrisboh commented on #6901
The hardware just finished on-boarding into the DTAP lab.  All that is left is getting the clients setup and hooked up to Helix.

[2017-04-19 16:50] weshaggard commented on #15045
Yes we should remove them here and move them into https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs#L102 if we feel the are needed. I would suggest only doing that reactively if we find they are needed.

Those attributes are only interesting to VS designers for WinForms which we do not support in .NET Co

[2017-04-19 16:52] Clockwork-Muse commented on #18600
Probably due to not having #1215 ?  Given the large difference it shows (ie: unlikely to be just from rounding errors)

[2017-04-19 16:53] swgillespie commented on #18606
@danmosemsft Yeah, i'd imagine that this test would fail if GCStress is inducing GCs. We don't have anything like [this](https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Scenarios/FinalizeTimeout/FinalizeTimeout.csproj#L10) for CoreFX, do we?

[2017-04-19 16:57] karelz commented on #17154
For future use: Fixed by #18576 (@steveharter can you please confirm?)

[2017-04-19 16:57] karelz commented on #17362
Also fixed by #18576

[2017-04-19 16:57] davidsh commented on #18448
@stephentoub is working on this already with a PR

[2017-04-19 16:58] karelz commented on #17601
OK, let's take the discussion over there in that case ...

[2017-04-19 16:59] steveharter commented on #18603
No there wasn't an issue logged, although Fedora 24 has been failing on X509 tests with seg fault for last few days presumingly due to the Debug.Assert. I did not generate a dump however.

https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/25/consoleFull
[code]

[2017-04-19 16:59] karelz commented on #18448
Great

[2017-04-19 17:01] danmosemsft commented on #18606
We don't. Also that would assume they're in their own assembly. OK, I'll just ignore the error for now.

[2017-04-19 17:02] ViktorHofer commented on #13458
If you feel we can do something here for 2.0 then leave it as it is but if not then please set it to a future milestone.

[2017-04-19 17:10] ViktorHofer commented on #6901
Any work to on the corefx side?

[2017-04-19 17:20] davidsh commented on #18614
If you want to set additional headers per request and based on a custom set of rules, it might be better to use a customer HttpMessageHandler.  You can create a new handler based on a DelegatingHandler class:
https://docs.microsoft.com/en-us/dotnet/api/System.Net.Http.DelegatingHandler?view=netframework-4.7&viewFallbackFrom=netcore-1.1.0

Then you can use this handler when you create an HttpClient

[2017-04-19 17:20] davidsh commented on #18614
cc: @karelz @stephentoub

[2017-04-19 17:21] TylerBrinkley commented on #395
@tarekgh I've updated my proposal to specify the use of the `Char.GetNumericValue` method to retrieve its value. I've also added @sharwell `Logical` and `LogicalIgnoreCase` properties.

[2017-04-19 17:23] bartonjs commented on #18603
This state makes me sad.  Oh, well.

[2017-04-19 17:25] #18603 closed

[2017-04-19 17:26] JonHanna commented on #13458
I think future would be more appropriate, if you can change the milestone

[2017-04-19 17:28] stephentoub commented on #12618
I think there's some confusion on this thread.  We already rely on this Kerberos infrastructure / kinit / etc. from various parts of corefx, like NegotiateStream and SqlClient for integrated auth.  I believe all @hongdai is asking for is that rather than our current implementation of UseDefaultCredentials:
[code]
i.e. a nop, we instead track it and if true behave as if CredentialCache.DefaultNetwo

[2017-04-19 17:32] tlbdk commented on #14745
I understand the issue with interpreting the errors, but from an cross platform API perspective it kind of sucks. There will be a lot of know error scenarios on Windows with rather wierd limitations, fx the profile requirements, key store naming, etc. That I guess will be non existent on other platforms where Openssl is used instead.

So if wrapping crypt32 in a nice way is out of the question, th

[2017-04-19 17:38] JeremyKuhne commented on #15337
@weshaggard, @ericstj, can you clarify?

[2017-04-19 17:39] ViktorHofer commented on #15045
@danmosemsft  I just looked into it again and think the cost is VERY high.

[2017-04-19 17:39] hongdai commented on #12618
@stephentoub Yeap, that's exactly what I ask. Thanks for helping clarify!

[2017-04-19 17:44] #18521 closed

[2017-04-19 17:48] seanterry42 commented on #18452
ericstj, just for posterity, it is added to ASP.NET Core projects automatically when taking the following actions:
- Create a project with the "ASP.NET Core Web Application (.NET Core)" project type.
- Use the "Empty" template.
- Add "New Scaffolded Item"
- Select "Minimal Dependencies".
When scaffolding completes, Microsoft.VisualStudio.Web.CodeGeneration.Design is automatically added as a packag

[2017-04-19 17:49] steveharter commented on #17327
Yes I think Future is appropriate here. With the exception of 2 failures that occurred in a different branch, the failures only occurred from 4/4-4/6 and there were 19 of them indicating some infrastructure issue other other issue that was fixed.

[2017-04-19 17:52] karelz commented on #17327
That sounds more like "Let's Close it". 4/4-4/6 seems like temporary hiccup.
Do we have any indication that this is real problem in our CI? Shouldn't we just wait for another occurrence? (just thinking aloud, feel free to push back)

[2017-04-19 17:52] krwq opened #18623 "Failure in System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync.SslStream_StreamToStream_Successive_ClientWrite_WithZeroBytes_Success"
[code]

https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/6585/

[2017-04-19 17:54] JeremyKuhne commented on #11687
@ViktorHofer As per #17536, this issue is in the test algorithm that is generating the long paths.

[2017-04-19 17:54] bartonjs commented on #14745
Not... really.  The problem stems from X509Certificate2 not only exposing, but accepting, an IntPtr.  On Windows we assume that this is a PCERT_CONTEXT; on Linux an OpenSSL X509\*, and on macOS a SecCertificateRef or SecIdentityRef.

It also adds a world of pain when certs are passed to SslStream or X509Store... both of those are (for the most part) system resources that expect pointers.

If you c

[2017-04-19 17:55] sokket commented on #11737
@danmosemsft By our data, this test has not failed in the last 5 days (max length of our current data). As we accrue more information, we should be able to see when this test fails in our long-term trend analysis

[2017-04-19 18:03] JeremyKuhne commented on #18578
It doesn't actually use these assemblies when running on Unix. The code does a platform check and only tries to ACL on Windows.

[2017-04-19 18:09] jguady commented on #17693
Looks like that dotnet.exe worked. I generated System.Drawing for S.D.Printing PrintingPermission. When I run the build I'm getting
E:\dev\corefx\pkg\frameworkPackage.targets(103,5): error : Assembly 'System.Drawing' is missing dependency 'System.Security.Permissions' [E:\dev\corefx\pkg\Microsoft.Private.CoreFx.NETCoreApp\Microsoft.Private.CoreFx.NETCoreApp.pkgproj]

I looked at the package-projec

[2017-04-19 18:13] stephentoub commented on #12618
@hongdai, does this do what you want?
https://github.com/stephentoub/corefx/commit/8499dc22409f59db6b83ad8a4da9cfac9357b6f9
If it looks like what you're hoping for, I'd appreciate it if you could test it out, as I don't currently have infrastructure set up to do so.

[2017-04-19 18:14] #18602 closed

[2017-04-19 18:14] danmosemsft commented on #17693
The idea is you paste the stubs in the S.S.Permissions library (not S.Drawing, etc). Maybe throw up a work-in-progress PR so we can see where you're at and help along?

[2017-04-19 18:14] #18448 closed

[2017-04-19 18:15] #18597 closed

[2017-04-19 18:15] #18598 closed

[2017-04-19 18:15] #18599 closed

[2017-04-19 18:25] FrancoisM opened #18626 "What can EntityFramework be waiting for so long?"
In that [SO ](http://stackoverflow.com/questions/43503179/azure-web-api-entityframework-inconsistent-bad-performances)post, I'm trying to find out why my query response time can vary so much. It shows that the time is spent waiting. But waiting what and why?

[2017-04-19 18:34] shrah commented on #18581
@danmosemsft  Done.

[2017-04-19 18:36] hongdai commented on #12618
@stephentoub I'm happy to help testing. Please be aware it will take some time as we don't have automated tests for this scenario. I will get back to you once it's done.

[2017-04-19 18:38] stephentoub commented on #12618
Thanks!

[2017-04-19 18:39] krwq commented on #18475
Fixed with https://github.com/dotnet/corefx/pull/18575

[2017-04-19 18:39] #18475 closed

[2017-04-19 18:39] krwq commented on #18476
Fixed with https://github.com/dotnet/corefx/pull/18575

[2017-04-19 18:39] krwq commented on #18139
Fixed with https://github.com/dotnet/corefx/pull/18575

[2017-04-19 18:39] #18139 closed

[2017-04-19 18:39] krwq commented on #18479
Fixed with https://github.com/dotnet/corefx/pull/18575

[2017-04-19 18:39] #18479 closed

[2017-04-19 18:39] krwq commented on #18478
Fixed with https://github.com/dotnet/corefx/pull/18575

[2017-04-19 18:39] krwq commented on #18477
Fixed with https://github.com/dotnet/corefx/pull/18575

[2017-04-19 18:39] #18477 closed

[2017-04-19 18:40] YehudahA commented on #18614
@davidsh, I want to write something like this:

[code]

This code have 2 problems:
1.  ```HttpRequestHeaders``` doesn't hava any public ctor.
2.  ```HttpRequestHeaders``` has ```AddHeaders``` method, but it's internal. This method merge a source ```HttpRequestHeaders``` into the target.

[2017-04-19 18:53] steveharter commented on #17327
Changing to close; if it occurs again, let's change it to future.

[2017-04-19 18:53] #17327 closed

[2017-04-19 18:54] Priya91 commented on #18486
The bug seems to be in windows port of httplistener, the public api surface is calling into CookieParser.Get, whereas on Desktop it uses the internal CookieParser.GetServer(). We can move CookieParser to common and build that source into httplistener.

[2017-04-19 18:54] ianhays commented on #17438
[This behavior is present in both netcore and netfx](https://github.com/dotnet/corefx/blob/master/src/System.IO.FileSystem.Watcher/src/System/IO/FileSystemWatcher.Win32.cs#L295), though I'm not certain there's much we can do about it without potentially messing up another scenario. The issue with waiting until the next buffer comes is that we're not certain it *will* come, so if we wait then we wo

[2017-04-19 18:59] stephentoub commented on #18546
I think this was technically a by-design change, but I also think it probably makes sense to fix it in .NET Core.  We're differentiating in core based on whether a CancellationToken was provided: if one was, then cancellation that occurs for other reasons is treated as an IOException, but if one wasn't, then it's treated as OperationCanceledException.  I suggest we always treat it as OperationCanc

[2017-04-19 19:05] AlexGhiondea commented on #18139
@sepidehMS I don't know, but @bartonjs probably does :).

[2017-04-19 19:10] tarekgh commented on #395
I think for the API interface we can do the following:

- Add a new value to CompareOptions
- Then we can use the following to StringComparer API to return the comparer
https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Extensions/src/System/Globalization/Extensions.cs#L13

The benefit here is this will enable string comparison APIs too and not just the string comparer.

[2017-04-19 19:12] stephentoub commented on #18546
(Oops, ignore previous comment, I commented on the wrong issue.)

[2017-04-19 19:16] ianhays commented on #17218
@ReimuHakurei Are you having issues with this on the latest packages?

[2017-04-19 19:28] sharwell commented on #395
Yes, this behavior is intentional.

There is no need to split the string. You can identify the numeric portions easily, with will also reveal the sequences of non-digits. The sequences of non-digits can be compared using `CultureInfo.CurrentCulture.CompareInfo.Compare`, which can operate on explicit substrings without [external] allocation.

Yes, the `,` and `.` elements seen here do not fall in t

[2017-04-19 19:35] #17067 closed

[2017-04-19 19:35] TylerBrinkley commented on #395
If we only use the `CompareOptions` enum then we'll be limited to only supporting the base integer case without sign, decimal, or thousands support. Also, it would be far less visible and hardly anyone would use it that would otherwise.

With my proposal the user can specify whether to `AllowLeadingSign`, `AllowTrailingSign`, `AllowDecimalPoint`, and `AllowThousands` using the  `NumberStyles` flag

[2017-04-19 19:40] ianhays commented on #15516
@eerhardt are we good to close this now that https://github.com/dotnet/corefx/pull/18565 is in? I know it's not exactly what you were asking for since [ZipFile automatically applying and recording permissions had to be pushed off into its own issue that won't make it for 2.0.0](https://github.com/dotnet/corefx/issues/17342), but manual permissions recording is at least unblocked.

[2017-04-19 19:46] ahsonkhan commented on #18608
cc @shiftylogic

[2017-04-19 19:48] tarekgh commented on #395
@sharwell

why you think this is good?

I didn't mean split the string. I meant you need to search the string for the numbers first and then compare the part before the number then compare the number and then repeat the process. that what I meant will be expensive.

I understand but in same time we need to get the right design to serve us in the future if we need to expand the functionality.

[2017-04-19 19:57] WinCPP commented on #16640
@bartonjs @karelz  As per [this](https://github.com/dotnet/corefx/issues/16640#issuecomment-292990506) comment, I added code to make [HMAC.Create(string)](https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Security.Cryptography.Primitives/src/System/Security/Cryptography/HMAC.cs#L31-L34) defer to `CryptoConfig.CreateFromName(algorithmName)`. But that sets up

[2017-04-19 20:04] danmosemsft opened #18630 "Failure of WaitForChangedTests.CreatedDeleted_Success"
@ianhays attempted to fix in https://github.com/dotnet/corefx/pull/17240
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/6591/consoleFull#-12256351162d31e50d-1517-49fc-92b3-2ca637122019
[code]

[2017-04-19 20:04] danmosemsft commented on #18630
https://github.com/dotnet/corefx/issues/16857

[2017-04-19 20:22] brentschmaltz commented on #2342
@danmosemsft is XML Schema available in a public package?

[2017-04-19 20:22] bartonjs commented on #18139
@sepidehMS  Apparently CryptographicException is in System.Private.CoreLib now.  Who knew?  Presumably Alex, but definitely not me.

The netfx CryptographicException does stuff assuming that it's Win32.  Those behaviors don't make sense for Linux or macOS; so they're gone in corefx.

[2017-04-19 20:25] ericstj commented on #18578
Any reason why you didn't just cross-compile it instead?  Since this thing is part of the shared framework we're already building it separately for Windows vs Unix.  Nearly every other library with the same requirement handles this problem at build time rather than runtime.

[2017-04-19 20:30] sepidehMS commented on #2342
@brentschmaltz Xml Schema will be publieshed as part of System.Xml.ReaderWriter package in NetCore2.0 and NetStandard2.0. If you like to consume the latest prerelease version, please follow [these instructions](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md).

[2017-04-19 20:30] #2342 closed

[2017-04-19 20:33] eerhardt commented on #15516
Technically, as you've explained it to me, this issue is "by design".  We are intentionally breaking this behavior from .NET Core 1.x to 2.0.

Yes, it is find to close this.  Thank you for getting at least this amount of functionality done for 2.0.

[2017-04-19 20:34] steveharter commented on #16640
For the other Create methods in Primitives, we throw PNSE because of this.

[2017-04-19 20:36] danmosemsft commented on #14950
Crypto XML is not in a net standard configuration right now so this dep is not legal. The usage is so low (zero in our data)  that this can be done if and when we get feedback.

[2017-04-19 20:38] bartonjs commented on #16640
Ah, HMAC and friends are in Primitives, but CryptoConfig is in Algorithms.  Yeah, that can't work.

That means it also can't return any specific instance of HMAC (the "hard-code return new HMACSHA1()" strategy), since they're all in Algorithms.  (I thought HMAC was in Algorithms)

So... this might be the opposite of easy; in that it requires collapsing Primitives and Algorithms (and probably Encod

[2017-04-19 20:39] tmat opened #18632 "Reentrancy in AbstractMemoryBlock.Dispose on shutdown"
Copied from internal VSO bug 360526.

**Crash Analysis**

In the crash case, the portable PDB reader ends up running because CLR shutdown has already been kicked off on another thread, meaning clr!g_fEEShutDown has been transitioned to a nonzero value.  Once this happens, the code that would normally acquire an ISymUnmanagedReader for mscorlib/System.Web short circuits at the following stack:

[co

[2017-04-19 20:42] ianhays commented on #15516
That is correct, yes. It is an intended result of the change to the default FileStream permissions in 2.0.

I'm glad we were able to figure out something that works and get it merged in time :)

[2017-04-19 20:42] #15516 closed

[2017-04-19 20:42] ianhays commented on #18630
Hmm. Looks like I was overconfident in the value of retries when I reduced the timeout from 50000ms to 500ms and moved the tests to innerloop.

[2017-04-19 20:46] stephentoub commented on #10898
@EricWhiteDev actually ported it.  But I just took a look, see the problem, and will submit a fix.

[2017-04-19 20:48] ViktorHofer commented on #18626
Wrong repo. Please post your question here: https://github.com/aspnet/EntityFramework.

[2017-04-19 20:48] #18626 closed

[2017-04-19 20:50] FrancoisM commented on #18626
Oops, sorry I don't know how I ended up in the wrong repo.

[2017-04-19 20:58] divega commented on #16402
Marking this appropriately so that we don't miss it in the next triage.

This issue has been looked at before in triage but we wanted to investigate more what it would encompass. My recommendation at this point is to close, since the .NET Standard 2 should cover the desired platforms in timeframe that is not too distant from when the next version of this package will be released.

[2017-04-19 20:58] ViktorHofer commented on #15111
cc: @JonHanna @bartdesmet @VSadov @OmarTawfik

[2017-04-19 21:00] divega commented on #8201
Clearing up milestone so that we can track this for now in our triage.

[2017-04-19 21:13] steveharter commented on #17681
It didn't show up. However since it is very rare it likely requires putting the test in a loop (along with potentially other interfering tests) which I did not do.

[2017-04-19 21:20] corivera commented on #17458
Fixed in https://github.com/dotnet/corefx/commit/1d01c2da6aec2cde3b5744f2e1298b6b35c3a485

[2017-04-19 21:20] #17458 closed

[2017-04-19 21:20] safern commented on #18431
After a long investigation and debugging session I found what was the change that introduced this failure. The failure of this tests is happening because of: #18343 which we moved from setting the File.CreationTime from being default time on Unix if the file doesn't have a BirthTime to be the Minimum in between last access, modification and change time.

#### Why was this causing a failure in Conf

[2017-04-19 21:23] steveharter commented on #16640
FWIW link to CryptoConfig PR: https://github.com/dotnet/corefx/pull/13734

[2017-04-19 21:29] jamesqo commented on #18589
@hughbe Good point, there are containers that remove only the first item when `Remove` is called, e.g. [ImmutableArray](https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableArray_1.cs#L515). I've updated the proposal so `Remove` only takes away the first matching item, and I've added a new method `RemoveAll` that filters all such i

[2017-04-19 21:29] stephentoub commented on #18431
Nice job tracking this down!

And I see how the access time could be problematic here.  The Mono behavior is interesting, though, in that it's inconsistent from other Mono code here:
https://github.com/mono/mono/blob/8df83179b63e256bcd476d6d7ddbbd50015b81d6/mono/metadata/w32file-unix.c#L1690-L1702
which does factor in access time.

Regardless, your suggested fix makes sense.  Let's do it.

If we s

[2017-04-19 21:30] Priya91 commented on #14614
@karelz I'm not able to see the results of the vote without being a twitter member :P So what's the consensus?

[2017-04-19 21:30] weshaggard commented on #15337
All of the ACL libraries are intended to be extensions on top of .NET Standard and ship as individual nuget packages for folks that want them. We should try to avoid pulling these dependencies in the the shared framework if we can.

Do we really need to care about setting specific permissions to the directories we create? It is already inconsistent across platforms (as it we only do it on windows)

[2017-04-19 21:34] safern commented on #18431
That is confusing and inconsistent.

I'm sending a PR with the fix :)

[2017-04-19 21:45] stephentoub commented on #11151
I don't love it, but at this point I'm ok sticking with the reflection approach for 2.0.

[2017-04-19 21:46] #18594 closed

[2017-04-19 21:51] sepidehMS commented on #18548
@AlexGhiondea
The behavior of this test depends on the value of [LocalAppContextSwitches.IgnoreEmptyKeySequences](https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Core/LocalAppContextSwitches.cs#L26). The default value of this switch is:
On .NET Core: `False`
On Desktop: `False` for `version >= 4.6`, `True` for `version <= 4.5.2`
Based on these facts and the assum

[2017-04-19 21:52] divega commented on #10526
@dougbu are you using the term "breaking change" in the sense that framework code that consumes data annotations such as would need to be updated in order to take advantage of new functionality or is there something specific that would actually crash or cause the display or garbled data or something worse? Also, what frameworks do you think would need to make adjustments, MVC5? Core MVC? (note tha

[2017-04-19 21:56] weitzhandler commented on #16402
I've set the PCL profile to 44 (I only need UWP, Droid and iOS), now `DataAnnotations` is available in the PCL. I'm closing this issue because I don't find any personal interest on it. Feel free to open anyone.

[2017-04-19 21:56] #16402 closed

[2017-04-19 21:59] JeremyKuhne commented on #15337
The root folder is shared with the desktop implementation, which ACLs in this way.

[2017-04-19 22:05] weshaggard commented on #17633
@ericstj did your recent PR cover this?

[2017-04-19 22:08] stephentoub commented on #18589
How would:
[code]
differ meaningfully from:
[code]
?  Seems unnecessary to add a RemoveAll like this.

Remove is a little harder, but it's also not clear to me how useful that actually is.

[2017-04-19 22:08] karelz commented on #2191
@corivera was it fixed, or moved to aspnet/Home?

[2017-04-19 22:10] karelz commented on #15516
@ianhays can you please log the difference here? https://github.com/terrajobst/platform-compat/issues/21

[2017-04-19 22:12] corivera commented on #2191
Bulk closed bymistake

[2017-04-19 22:14] weshaggard commented on #16126
What is left for this work item? @MattGal is the only thing left to do is disable overwriting of files to blob storage? If so can you please submit a PR to do that?

[2017-04-19 22:16] tarekgh commented on #395
@TylerBrinkley please move the proposal to the top of the issue.

@joperezr we can mark this as ready for review according to the latest discussion.

[2017-04-19 22:16] #18431 closed

[2017-04-19 22:17] sepidehMS commented on #17545
Did this ever happen again? Where can we check?

[2017-04-19 22:19] MattGal commented on #16126
I believe that's already done via implementing suggestion 3, by https://github.com/dotnet/corefx/commit/590e7fbd9b93b12891674b99327ad114c5800b8c for CoreFX.   When OverwriteOnPublish is false, we will throw an exception for any blob we try to upload that already exists, so #3 on Eric's list is done.

If we want to do something for 1, "Builds should copy to a leg-specific path in azure" we could en

[2017-04-19 22:19] benaadams commented on #18481
`await task` is quite a complicated beast compared to `task.IsCompletedSuccessfully` as it involves creating MethodBuilder, copying stack into MethodBuilder creating awaiter, getting result from awaiter and saving and restoring the execution context vs a quick check.

Having said that, I think it can be improved, but it needs some juggling

[2017-04-19 22:20] tarekgh commented on #395
One last note, for the

[code]

I think this will be a little bit confusing as we can can create StringComparer for specific culture that match the desired number format. I know that could have have a comparer for specific culture and in same time you want to treat the numbers from other culture but that is unlikely and it would be good just not include it till we find a real need for it. other th

[2017-04-19 22:27] weshaggard commented on #17420
Yes it looks like we used to pass `/p:XunitTraitOptions="-notrait category=requireselevation` to our test build in our old definitions, which got lost when we moved to checked in build definitions. We just need to add this or switch to instead using a ConditionalFact instead of doing the xunit filtering.

[2017-04-19 22:30] weshaggard commented on #17430
We haven't shipped a stable package with this in the graph so we should try and make a call on what we want it to be before we ship 2.0.

[2017-04-19 22:30] sokket commented on #17545
Here are the latest failures for this test case:
https://mc.int-dot.net/#/testResultHistory/corefx/System.Diagnostics.Tests.ProcessTests/TestEnableRaiseEvents?onlyPullRequests=false&timeFrame=OneWeek

[2017-04-19 22:30] weshaggard commented on #17528
@ericstj is it safe to assume there isn't anything we plan to do with this?

[2017-04-19 22:34] weshaggard commented on #14070
@mellinoe did this when moving to the msbuild based CLI.

[2017-04-19 22:34] #14070 closed

[2017-04-19 22:36] weshaggard commented on #15151
We no longer do these builds.

[2017-04-19 22:36] #15151 closed

[2017-04-19 22:39] weshaggard commented on #16638
I don't think we really have a good way to handle this in general so folks just need to manually run tests.

[2017-04-19 22:39] #16638 closed

[2017-04-19 22:51] JonHanna commented on #15111
@tchekjunior have you been able to reduce this issue to a smaller reproduction of the issue?

[2017-04-19 22:51] karelz commented on #14614
:D I didn't realize that you can't see the results. The discussion is actually more important - @terrajobst had some strong opinions. We should check with him.

[2017-04-19 22:56] dougbu commented on #10526
@divega I'm thinking of all kinds of shipped packages that load customer code and handle data annotations on the loaded classes. ASP.NET MVC Core is one example. But, I would not be surprised if the number of impacted frameworks was quite high.

Note it isn't really about "taking advantage". The user's code and their `[DisplayFormat]` attributes using the new feature is **Just Fine:tm:** up until

[2017-04-19 22:57] weshaggard commented on #11151
@stephentoub what would your idea solution look like? Would you merge everything down lower?

[2017-04-19 22:58] dougbu commented on #10526
Ooops, hit return too soon.

The difference with a new attribute would be the lack of in-between state: .NET Core extensions either understand `[DisplayFormatMarkII]` or they don't.

[2017-04-19 22:59] safern commented on #18551
@stephentoub corefx will run against latest installed .NET Framework and TFM will be 4.5.2 which is the one that xunit runner is built against. Maybe jenkins and helix machines should update to .NET 4.7?

[2017-04-19 22:59] weshaggard commented on #15337
Does that break desktop if we happen to be the one that creates it and doesn't ACL? Also should we consider using a different root folder from desktop to isolate from the other platforms/application types?

[2017-04-19 22:59] eerhardt commented on #17430
Another thing to note is that we cut alpine builds on corefx and core-setup recently.

See the NOTE here: https://github.com/dotnet/corefx/pull/18035

[2017-04-19 23:01] karelz commented on #16640
@WinCPP I am amazed at the bad luck you have with CoreFX issues. I will soon start to doubt every new "easy" issue you pick - based on the trend so far, it will have a good chance to turn into the opposite of easy as Jeremy said above :)
And while I know you have fun with these difficulties on the road and you don't mind them, it still amazes me :)

Anyway, thanks for your help to uncover these hi

[2017-04-19 23:03] mellinoe commented on #17430
Given that we won't produce packages for it, just removing the alpine RID is a viable option. Although, there's no harm in keeping it in, as long as we are comfortable with where it ends up landing in the graph.

[2017-04-19 23:03] weshaggard commented on #16126
I missed the OverwriteOnPublish parameter in @dagood's PR (it was off the screen). Given that I'm going to call this issue complete then, because I assume the build would have already been failing if we are still publishing packages from multiple legs.

[2017-04-19 23:03] #16126 closed

[2017-04-19 23:04] karelz commented on #17681
I thought you ran the entire test suite in a loop, so this test should have been included is that not the case?

Either way, it is only one-time issue, so we can wait for another repro before we try harder to reproduce it (assuming none of your runs so far truly exercised the test).

[2017-04-19 23:07] mgravell commented on #18481
@benaadams I guess the point I'm getting at here is: you and me - we can hack around this and make our code work fine as though it wasn't an issue; I'm thinking of "regular .NET Jo" - who is just going to use `await` and wonder why they aren't getting the performance they expected

[2017-04-19 23:12] stephentoub commented on #18551
Do you know which version that is in these runs?

I agree.

[2017-04-19 23:21] mellinoe commented on #18589
I agree with @stephentoub, I think all this buys us is a method invocation that "reads better". Although on that note, I don't think it would be a stretch to assume that `Remove(T)` removed all instances of that item, rather than just the first. I'd assume something like `RemoveFirst(T)` would do that.

[2017-04-19 23:33] ViktorHofer commented on #18578
Related: https://github.com/dotnet/corefx/issues/15337

I think we can definitely remove the dependencies on System.Security.AccessControl and System.Security.Principal.Windows for non Windows by excluding it at build time.

But we need to need achieve more as @weshaggard pointed out in the issue above, that netcoreapp shouldn't reference System.Security.AccessControl at all.

[2017-04-19 23:33] JeremyKuhne commented on #15337
Most likely. Real world may never hit the case where the default ACL isn't enough, but that is probably wishful thinking.

That would prevent loading existing data when running against CoreCLR. The idea is that if folks are using IsoStorage with a given identity for sharing data that it will still work. Think of a specific library running on multiple apps and platforms at the same time.

[2017-04-19 23:36] JeremyKuhne commented on #18578
Only that we didn't have to. It was one point of difference in the implementation and doing a runtime check avoided the cross-compile.

[2017-04-19 23:41] ViktorHofer commented on #18578
@JeremyKuhne I would offer to do the cross-compile change. With that we also fulfill the requirements in the other issue for at least non Windows platforms. Are you fine with that?

[2017-04-19 23:41] jamesqo commented on #18589
@stephentoub Using `Where` is fine in terms of readability, but it's not the first thing to pop into everyone's head because people are searching for a dedicated method for removing items. The first thing they find is `Except` and they use it, unaware it also makes all other items distinct.

For example, take a look [this Stack Overflow question](http://stackoverflow.com/questions/3185975/remove-i

[2017-04-19 23:44] karelz commented on #18614
@YehudahA did you consider using the suggestion from @davidsh? Would that be a viable alternative?

[2017-04-19 23:45] karelz commented on #18486
Marking as 2.0 - it is new 2.0 API and we made a porting problem.

[2017-04-19 23:45] karelz commented on #18486
@hughbe are you interested in fixing it? @Priya91 can provide some guidance if needed ...

[2017-04-19 23:46] shmao commented on #18205
The bug is with [`XmlDictionaryReader.ReadElementContentAsDateTime()`](https://github.com/dotnet/corefx/blob/6c53c9572258b5b208e9a74efc170494de4de822/src/System.Private.DataContractSerialization/src/System/Xml/XmlDictionaryReader.cs#L859). The method should use `ReadContentAsDateTime` instead of `ReadContentAsDateTimeOffset` to read string into DateTime.

The test was verifying the behavior on Net

[2017-04-19 23:51] jamesqo commented on #18589
@mellinoe I was initially going to argue with you since `RemoveFirst` is a little verbose, but personally I've never needed to only remove the first occurrence of an item so let's go with that. It's much better than people falling into the trap of mistaking what it does.

[2017-04-19 23:55] JeremyKuhne commented on #18578
@ViktorHofer Sure, go ahead and cross-compile it. You can remove the runtime check as part of doing that.

[2017-04-20 00:00] mmitche commented on #18551
Not sure.  Probably 4.6.2

[2017-04-20 00:15] daxian-dbw opened #18646 "HttpClient no longer sends header 'Accept-Encoding:"gzip, deflate"' and decompress 'gzip/deflate' content by default in .NET Core 2.0"
This is a breaking change compared to `netcoreapp1.1`.
In `netcoreapp1.1`, `HttpClient` automatically sends header `"Accept-Encoding": "gzip, deflate"` in the request, and automatically decompress 'gzip/deflate' content from the response.
However, with `netcoreapp2.0`, `HttpClient` doesn't send the header and stop automatically decompressing 'gzip/deflate' content.

Repro Steps
--------------
[cod

[2017-04-20 00:20] #17396 closed

[2017-04-20 00:23] svick commented on #18589
I don't like the naming. Consider:

[code]

Can you tell which ones modify the `List` and which ones return a new enumerable? I think it's especially bad for `RemoveAll`, since it's exactly the same name.

Though I don't know what would be a better name. `Except` would also be confusing, since the existing `Except` removes duplicates. Maybe `Without`?

[2017-04-20 00:34] davidsh commented on #18646
Yes, it is a change from .NET Core 1.1.

But it aligns with .NET Framework behavior.  And one of the goals of NETStandard2.0/.NET Core 2.0 release is app-compat alignment with .NET Framework.

cc: @stephentoub @karelz @CIPop

[2017-04-20 00:35] hughbe commented on #18486
Sure I can fix this, I'll look into this when my tests PR goes in

[2017-04-20 00:36] davidsh commented on #18646
See PR #17701

[2017-04-20 00:40] karelz commented on #18486
Awesome, thanks! Help in Networking area is extra appreciated these days! ;-)

[2017-04-20 00:41] daxian-dbw commented on #18646
@davidsh Thanks for the clarification. This change breaks our tests, but I think it makes sense.

[2017-04-20 00:43] davidsh commented on #18646
Closing as by-design.

[2017-04-20 00:44] danmosemsft commented on #16961
Let's resolve fixed by #18625 and reopen if not.

[2017-04-20 00:44] #16961 closed

[2017-04-20 00:47] karelz commented on #18646
In theory, we could view it as improved behavior in .NET Core over .NET Framework, right? We could eventually port the improvement into .NET Framework (netfx-port-consider).
We won't stop innovating in .NET Core, just because .NET Framework cannot catch up immediately.

The question should be: Do we envision this API enhancement in the platforms in a few years? Is it valuable enhancement?
If it is

[2017-04-20 00:48] karelz commented on #18646
cc @geoffkizer

[2017-04-20 00:55] davidsh commented on #18646
It is highly unlikely we would ever port it to .NET Framework because it would break app-compat.  The bar is very high there and no breaking changes are allowed. This would be a breaking change of a default value of a property.  I've never seen that allowed by NETFX shiproom or app-compat review.

There is no missing feature here.  It is simply the default setting. It can be mitigated by changing

[2017-04-20 00:56] davidsh commented on #18646
Also, not sure why this is marked as "tenet-compatibility".  It is already compatible with .NET Framework at this point.  That label is only used when it is not compatible with .NET Framework.

[2017-04-20 00:57] safern commented on #18551
Who would be the right person to get them updated to 4.7?

[2017-04-20 01:14] TylerBrinkley commented on #395
How do you recommend we get the `NumberFormatInfo` though? For a `CultureAwareComparer` we would need to add another field initialized from the constructor and for non-`CultureAwareComparer`'s we would need to use a default such as `CurrentInfo`.

Also since there is already a `Create(CultureInfo culture, bool ignoreCase)` method, should we also add overloads for those parameters, e.g. `CreateLogi

[2017-04-20 01:32] Jiayili1 commented on #13458
@ViktorHofer https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/tests/New/NewWithByRefParameterTests.cs#L69

[2017-04-20 01:36] ZhiqiangTao opened #18649 "Does the upcoming .net core 2.0 support System.Drawing fully in Linux?"

[2017-04-20 01:39] divega commented on #10526
@dougbu thanks for clarifying.

FWIW, a large portion of the issues we get it in DataAnnotations have this characteristic: the change to the DataAnnotation seems relatively easy, but we would need to go modify DataAnnotations-aware frameworks for the change to actually have any effect.

Makes sense, however I don't necessarily see a definitive reason to prefer the new attribute approach there. E.g

[2017-04-20 01:51] #17482 closed

[2017-04-20 02:29] jamesqo commented on #14354
@tannergooding MurmurHash is fast, but not secure, from the sounds of [this blog post](http://emboss.github.io/blog/2012/12/14/breaking-murmur-hash-flooding-dos-reloaded/).

[2017-04-20 02:31] jamesqo commented on #14354
@jkotas, has there been any work in the JIT around generating better code for >4-byte structs on 32-bit since our discussions last year? Also, what do you think of @CyrusNajmabadi's proposal:

[2017-04-20 02:33] WinCPP commented on #16640
@karelz I'm lucky that I'm having this bad luck ;-)

So what do we do with this issue...? May I consider that this is not to be fixed?

[2017-04-20 02:55] tannergooding commented on #14354
@jamesqo, I don't think this implementation needs to be cryptographically secure (that is the purpose of the explicit cryptographically hashing functions).

Also, that article applies to Murmur2. The issue has been resolved in the Murmur3 algorithm.

[2017-04-20 03:10] jkotas commented on #14354
I am not aware of any.

The framework types should be simple choices that work well for 95%+ of cases. They may not be the fastest ones, but that's fine. Having you to choose between Hash32 and Hash64 is not a simple choice.

[2017-04-20 03:10] bartonjs commented on #16640
Yeah, since we apparently already discussed the inverted dependency and I forgot about it, I think I'm going to close this issue.  Thanks for looking into it, @WinCPP; sorry I was wrong about it being easy :smile:.

[2017-04-20 03:10] #16640 closed

[2017-04-20 03:11] CyrusNajmabadi commented on #14354
That's fine with me.  But can we at least have a good-enough solution for those 95% cases?  Right now there's nothing... :-/

[2017-04-20 03:26] jkotas commented on #14354
@CyrusNajmabadi Why are you calling EqualityComparer here, and not just this.s.GetHashCode()?

[2017-04-20 03:27] CyrusNajmabadi commented on #14354
For non-structs: so that we don't need to check for null.

[2017-04-20 03:28] jkotas commented on #14354
The call to EqualityComparer.Default.GetHashCode is like 10x+ more expensive than check for null... .

[2017-04-20 03:30] CyrusNajmabadi commented on #14354
Sounds like a problem.  if only there were  good hash code API we could call in the Fx that i could defer to :)

(also, we have that problem then in our anonymous types as that's what we generate there as well).

Not sure what we do for tuples, but i'm guessing it's similar.

[2017-04-20 03:35] jkotas commented on #14354
`System.Tuple` goes through `EqualityComparer<Object>.Default` for historic reasons. `System.ValueTuple` calls Object.GetHashCode with null check - https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/ValueTuple.cs#L809.

[2017-04-20 03:35] CyrusNajmabadi commented on #14354
Oh no.  Looks like tuple can just use "HashHelpers".  Could that be exposed so that users can get the same benefit?

[2017-04-20 03:36] CyrusNajmabadi commented on #14354
Great.  I'm happy to do something similar.  I started from our anonymous types because i figured they were reasonable best practices.  If not, that's fine.  :)

That's not why i'm here.  I'm here to get some system that actually combines the hashes effectively.

[2017-04-20 03:39] jkotas commented on #14354
What would be the API shape that you think would work best for the compiler generated code?

[2017-04-20 03:41] CyrusNajmabadi commented on #14354
Literally any of the 32bit solutions that were presented earlier would be fine with me.   Heck, 64bit solutions are fine with me.  Just some sort of API that you can get that says "i can combine hashes in some sort of reasonable fashion and produce a reasonably distributed result".

[2017-04-20 03:43] CyrusNajmabadi commented on #14354
I can't reconcile these statements:

And

Can we not come up with a simple 32bit accumulating hash that works well enough for 95% of cases? What are the cases that aren't handled well here, and why do we think they're in the 95% case?

[2017-04-20 03:44] jamesqo commented on #14354
@jkotas, is performance really that critical for this type? I think on average things like hashtable lookups and [this](https://github.com/dotnet/coreclr/issues/6688) would take up way more time than a few struct copies. If it does turn out to be a bottleneck, would it be reasonable to ask the JIT team to optimize 32-bit struct copies after the API is released rather than completely blocking this

[2017-04-20 03:59] jkotas commented on #14354
We have been burnt really badly by default 32bit accumulating hash for strings, and that's why Marvin hash for strings in .NET Core - https://github.com/dotnet/corert/blob/87e58839d6629b5f90777f886a2f52d7a99c076f/src/System.Private.CoreLib/src/System/Marvin.cs#L25. I do not think we want to repeat same mistake here.

I do not think the performance is critical. Since it looks like that this API is

[2017-04-20 04:03] CyrusNajmabadi commented on #14354
That doesn't seem like the 95% case.  We're talking about normal developers just wanting a "good enough" hash for all those types where they manually do things today.

This is not for use by the Roslyn compiler.  This is for use by the Roslyn IDE when we help users generate GetHashCodes for their types.  THis is code that the user will see and have to maintain, and having something sensible like:

[2017-04-20 04:06] CyrusNajmabadi commented on #14354
I mean, we already have this code in the Fx:

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Test/Resources/Core/NetFX/ValueTuple/ValueTuple.cs#L5

We think it's good enough for tuples.  It's unclear to me why it would be such a problem to make it available for users who want it for their own types.

Note: we've even considered doing this in roslyn:

[code]

But now you're forcing peop

[2017-04-20 04:15] danmosemsft commented on #18649
@ZhiqiangTao .NET Core 2.0 does not support System.Drawing on any platform. (Although it does offer a small number of primitives commonly used in the System.Drawing namespace). Porting it to .NET Core (ideally for all platforms) is something we're considering for post 2.0, depending on demand.

Can you tell me a little about what you would use it for?

@karelz do we have an issue tracking porting

[2017-04-20 04:16] jkotas commented on #14354
The original string hash was a "good enough" hash that worked well for normal developers. But then it was discovered that ASP.NET webservers were vulnerable to DoS attacks because they do store received stuff in hashtables. So the "good enough" hash basically turned into a bad security issue.

No necessarily. We made a back stop measure for tuples to make the hashcode randomized that gives us opti

[2017-04-20 04:21] jkotas commented on #14354
This looks reasonable to me.

[2017-04-20 04:25] CyrusNajmabadi commented on #14354
I don't get your positoin.  You seem to be saying two things:

Ok, if that's the case, then let's provide a hash code that's good for people who have security/DoS concerns.

Ok, if that's the case, then let's provide a hash code that's good enough for the 95% of cases.  People who have security/DoS concerns can use the specialized forms that are documented for that purpose.

Ok.  Can we expose tha

[2017-04-20 04:29] CyrusNajmabadi commented on #14354
Great :)   Can we then expose:

[code]

Roslyn could then generate:

[code]

This would have the benefit of really being "good enough" for the vast majority of cases, while also leading people down the good path of initializing with random values so they don't take dependencies on non-random hashes.

[2017-04-20 04:35] jkotas commented on #14354
Every ASP.NET app has security/DoS concern.

[2017-04-20 04:44] jkotas commented on #14354
This is different from what I have said is reasonable.

What do you think about https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.HashCodeCombiner.Sources/HashCodeCombiner.cs . It is what is used in ASP.NET internally in number of places today, and it is what I would be pretty happy with (except that the combining function needs to be stronger - implementation detail that we ca

[2017-04-20 04:48] blowdart commented on #14354
@jkotas I heard that :p

So the problem here is developers don't know when they're susceptible to DoS attacks, because it's not something they thing about it, which is why we switched strings to use Marvin32.

We should not head down the route of saying "95% of the cases don't matter", because we have no way to prove that, and we must err on the side of caution even when it has a performance cost.

[2017-04-20 05:00] ZhiqiangTao commented on #18649
I just use S.D to load the width, height and other based properties,  to resize the image, and so on...

[2017-04-20 05:12] danmosemsft commented on #18649
How important is the existing API to you, vs. having equivalent functionality through some other library? Eg., do you have much existing code or rely on existing libraries that use the API?

[2017-04-20 05:15] danmosemsft commented on #18595
Test issue. This `            Hash hash = new Hash(Reflection.Assembly.Load(new Reflection.AssemblyName("System.Reflection")));`
needs to instead be `            Hash hash = new Hash(Reflection.Assembly.Load(AssemblyGetExecutingAssembly());` or similar.

[2017-04-20 05:17] danmosemsft commented on #18595
@Jiayili1 can you please try making the change above, in this file, and verify it passes both normally and with `/p:targetgroup=netfx` and if so put up a PR.

[2017-04-20 05:26] stephentoub commented on #12618
Reopening for validation of the fix...

[2017-04-20 05:54] CyrusNajmabadi commented on #14354
Ok.  So how are you dealing with teh issue today that no one has any help with hashcodes, and thus is likely doing things poorly?   Clearly it's been acceptable to have that state of the world.  So what is harmed by providing a reasonable hashing system that likely performs better than what people are hand rolling today?

If you don't provide something, people will continue to just do things badly

[2017-04-20 05:58] karelz commented on #18646
That is not correct, it is used for any compatibility with any product we consider important. Compat with 1.x is also important. And it is not black and white :(

Based on your information - it is a change of default value, not something we want to port to .NET Framework ever, I personally agree with your decision to keep it compatible with .NET Framework. ... Closing, thanks for explanation @davi

[2017-04-20 05:58] #18646 closed

[2017-04-20 06:00] karelz commented on #18646
@davidsh can you please document the incompatibility here? https://github.com/terrajobst/platform-compat/issues/21

In a form: API X behaves this way on 1.x and that way on 2.0/.NET Framework
Thanks!

[2017-04-20 06:01] CyrusNajmabadi commented on #14354
I have no opinion one way or the other.  If it's an API that customers can use which performs acceptably and which provides a simple API with clear code on their end, then i think that's fine.

I think it would be nice to have a simple static form that handles the 99% case of wanting to combine a set of fields/properties in an ordered fashion.  It seems like such a thing could be added to this typ

[2017-04-20 06:12] jkotas commented on #14354
Agree.

[2017-04-20 06:29] karelz commented on #12618
@stephentoub Did you meant to reopen?

[2017-04-20 06:32] karelz commented on #18649
@danmosemsft I don't see anything about System.Drawing in [port-to-core](https://github.com/dotnet/corefx/labels/port-to-core) - it's probably just in your offline list ... let's keep this issue

[2017-04-20 06:34] Jiayili1 commented on #18373
Another test failed with same issue: DataContractJsonSerializerTests.DCJS_VerifyDateTimeForFormatStringDCJsonSerSetting

Message:

strings differ at index 13
                         ?
    [expected]:Date(1291190400000+0000)\\/\"
    [actual  ]:Date(1291161600000+0000)\\/\"
                         ?
    [Expected (with length=30)]:
    \"\\/Date(1291190400000+0000)\\/\"
    [Actual (with length=3

[2017-04-20 06:49] dotnet-mc-bot opened #18652 "Test: Microsoft.Win32.RegistryAclExtensionsTests/SetAccessControl_NullArgument_Throws failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `Microsoft.Win32.RegistryAclExtensionsTests/SetAccessControl_NullArgument_Throws` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.ArgumentNullException)\r
    Actual:   typeof(System.PlatformNotSupportedException): Operation is not supported on this platform.

        Stack Trace:

           at System.Security.AccessControl.RegistrySecuri

[2017-04-20 07:13] Jiayili1 opened #18653 "No test result generated under "Microsoft.Win32.Registry.Tests""
No test result generated under "Microsoft.Win32.Registry.Tests"

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170420.01/workItem/Microsoft.Win32.Registry.Tests/wilogs

Configuration:
Windows.10.Amd64:x64-Debug

[2017-04-20 07:17] Jiayili1 opened #18654 "No test result generated under "System.IO.Pipes.Tests" and "System.IO.Ports.Tests""
No test result generated under "System.IO.Pipes.Tests" and "System.IO.Ports.Tests"

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170420.01/workItem/System.IO.IsolatedStorage.Tests/wilogs

Configuration: Windows.10.Amd64:x64-Release

[2017-04-20 07:21] Jiayili1 commented on #18654
No test result generated under "System.IO.Pipes.Tests"

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170420.01/workItem/System.IO.Pipes.Tests/wilogs

Configuration: Windows.10.Amd64:x64-Release

[2017-04-20 07:22] Jiayili1 commented on #18654
No test result generated under "System.IO.Ports.Tests"

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170420.01/workItem/System.IO.Ports.Tests/wilogs

Configuration:
Windows.10.Amd64:x64-Release
Windows.10.Amd64:x64-Debug

[2017-04-20 07:32] stone-li commented on #18373
@Jiayili1 There is another issue #18538 to tracking the test fail
DataContractJsonSerializerTests.DCJS_VerifyDateTimeForFormatStringDCJsonSerSetting

[2017-04-20 07:33] hqueue commented on #16174
@karelz I think `armel` also have same schedule for the release, i.e. May 10, and it is being prepared.

@gkhanna79 @jyoungyun What do you think of it ?

[2017-04-20 07:34] Jiayili1 commented on #18373
@stone-li thanks.

[2017-04-20 07:35] Jiayili1 commented on #18538
DataContractJsonSerializerTests.DCJS_VerifyDateTimeForFormatStringDCJsonSerSetting

Message:

strings differ at index 13
                         ?
    [expected]:Date(1291190400000+0000)\\/\"
    [actual  ]:Date(1291161600000+0000)\\/\"
                         ?
    [Expected (with length=30)]:
    \"\\/Date(1291190400000+0000)\\/\"
    [Actual (with length=30)]:
    \"\\/Date(1291161600000+0000

[2017-04-20 07:47] dotnet-mc-bot opened #18655 "Tests under: System.Linq.Queryable.Tests.System.Linq.Tests.QueryFromExpressionTests failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Linq.Tests.QueryFromExpressionTests/Block` has failed.

System.ArgumentException : Unhandled Expression Type: Block

        Stack Trace:

           at System.Linq.Expressions.OldExpressionVisitor.Visit(Expression exp)
       at System.Linq.EnumerableQuery`1.GetEnumerator()
       at System.Linq.Tests.QueryFromExpressionTests.Block() in E:\A\_work\8

[2017-04-20 07:50] Jiayili1 commented on #17990
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170420.01/workItem/System.Net.NameResolution.Unit.Tests/analysis/xunit/System.Net.NameResolution.Tests.InitializationTests~2FDns_BeginGetHostAddresses_CallSocketInit_Ok

[2017-04-20 07:54] dotnet-mc-bot opened #18656 "Test: System.Net.NameResolution.Tests.InitializationTests/Dns_GetHostName_CallsSocketInit_Ok failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.NameResolution.Tests.InitializationTests/Dns_GetHostName_CallsSocketInit_Ok` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.Exception)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.NameResolution.Tests.InitializationTests.Dns_GetHostName_CallsSocketInit_Ok() in E:\A\_work\83\s\corefx

[2017-04-20 07:58] Jiayili1 commented on #17993
This issue is repro on full framework test: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170420.01/workItem/System.Net.NetworkInformation.WinRT.Unit.Tests/analysis/xunit/System.Net.NetworkInformation.Unit.Tests.NetworkInterfaceTest~2FGetIsNetworkAvailable_ConnectionProfileNotPresent_ReturnsFalse

[2017-04-20 07:59] dotnet-mc-bot opened #18657 "Test: System.Net.Tests.HttpWebRequestHeaderTest/HttpWebRequest_KeepAlive_CorrectConnectionHeaderSent failed with "Xunit.Sdk.ContainsException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpWebRequestHeaderTest/HttpWebRequest_KeepAlive_CorrectConnectionHeaderSent(keepAlive: True)` has failed.

Assert.Contains() Failure\r
    Not found: \"Connection\": \"Keep-Alive\"\r
    In value:  {\"Method\":\"GET\",\"Url\":\"/Echo.ashx\",\"Headers\": {\r
        \"Host\": \"corefx-net.cloudapp.net\"\r
      },\r
      \"Cookies\": {},\

[2017-04-20 08:00] hseok-oh commented on #18601
`Matrix4x4.CreateRotationX()` calls `MathF.Cos()`. And in MathF.Cos()` in CoreCLR uses cosf() function. But its result is different for different architecture.

For example the result of,
[code]
ARM: 0x3f5db3d8
x64(x86): 0x3f5db3d7

The result is 1 bit difference.

[2017-04-20 08:05] dotnet-mc-bot opened #18659 "Test: System.Net.Security.Tests.NegotiateStreamStreamToStreamTest_Async/NegotiateStream_StreamToStream_FlushAsync_Propagated failed with "System.InvalidOperationException""
Opened on behalf of @Jiayili1

The test `System.Net.Security.Tests.NegotiateStreamStreamToStreamTest_Async/NegotiateStream_StreamToStream_FlushAsync_Propagated` has failed.

System.InvalidOperationException : Operation is not valid due to the current state of the object.

        Stack Trace:

           at System.Net.Test.Common.VirtualNetworkStream.CompleteAsyncFlush() in E:\A\_work\83\s\corefx\

[2017-04-20 08:10] Jiayili1 commented on #18318
This issue is repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170420.01/workItem/System.Net.Security.Tests/analysis/xunit/System.Net.Security.Tests.SslStreamStreamToStreamTest_Async~2FSslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success

Message:
[code]

Stack Trace:
[

[2017-04-20 08:39] Jiayili1 commented on #17925
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/24/testReport/

Failed tests:
System.Data.SqlClient.Tests.DiagnosticTest.ExecuteReaderAsyncErrorTest
System.Data.SqlClient.Tests.DiagnosticTest.ExecuteReaderErrorTest System.Data.SqlClient.Tests.DiagnosticTest.ExecuteXmlReaderErrorTest
System.Data.SqlClient.Tests.DiagnosticTest.ConnectionOpenErrorTest
Syst

[2017-04-20 08:54] Jiayili1 opened #18660 "Desktop: Test "XmlSerializerTests.SoapEncodedSerializationTest_Enum" failed with "System.InvalidOperationException""
Failed tests:
 XmlSerializerTests.SoapEncodedSerializationTest_Enum
 XmlSerializerTests.SoapEncodedSerializationTest_Basic
 XmlSerializerTests.SoapEncodedSerialization_IncludeType
 XmlSerializerTests.SoapEncodedSerializationTest_With_SoapType
 XmlSerializerTests.SoapEncodedSerialization_SoapAttribute
 XmlSerializerTests.SoapEncodedSerialization_CircularLink
 XmlSerializerTests.SoapEncodedSerializa

[2017-04-20 09:01] marek-safar commented on #17452
I don't see why distinguish between Feature detection and Runtime semantic. The Feature detection as you describe could end up in situation where every class has IsAvailable method and in worse case even more than one and as you wrote this would work for new types only.

Further, is reflection emit limitation runtime semantic feature or feature detection? Similarly is lack of sockets support featu

[2017-04-20 09:02] Jiayili1 opened #18661 "Desktop: XmlSerializerTests.Xml_TimeSpanAsRoot failed with "XML comparison is also failing""
Failed tests:
Xml_TimeSpanAsRoot
Xml_TypeWithDateTimePropertyAsXmlTime
Xml_TypeWithTimeSpanProperty

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/24/consoleText

Message:
[code]

Stack Trace:
[code]

[2017-04-20 09:18] Jiayili1 commented on #17220
This issue is repro on innerloop_netcoreapp_fedora24_debug, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/fedora24_debug/2020/testReport/System.Diagnostics.Tests/ProcessWaitingTests/WaitForPeerProcess/

[2017-04-20 09:21] Jiayili1 commented on #17088
This issue is repro, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/28/testReport/System.Data.SqlClient.Tests/SqlConnectionBasicTests/ConnectionTest/

[2017-04-20 09:22] goncalo-oliveira commented on #10727
@davidsh, @Petermarcu, are there any updates on this? Is there any chance to disable Nagle algorithm in .net core?

[2017-04-20 09:42] ViktorHofer commented on #18653
https://github.com/dotnet/corefx/pull/18648

[2017-04-20 09:43] ViktorHofer commented on #18652
https://github.com/dotnet/corefx/pull/18648

[2017-04-20 09:51] ViktorHofer commented on #18649
We have kind of an issue for that: https://github.com/dotnet/corefx/issues/5921

Unfortunately nobody did an API proposal for it

[2017-04-20 10:08] JonHanna commented on #16287
I did some experimenting with this last night. A problem with this idea is that a very large number of the tests make use of a constant value of a type `CompileToMethod()` can't cope with, and rewriting the tests to cover the same cases but constructing the values within the expression tree would be both an arduous rewrite, and result in tests that took longer to execute.

Since the majority of pa

[2017-04-20 10:23] shimingsg opened #18664 "System.Net.HttpListenerException : An operation was attempted on a nonexistent network connection with GCStress"
Test failed in System.Net.HttpListener.Tests.dll, the test output log as following:

set COMPlus_GCStress=3
set XUNIT_PERFORMANCE_MIN_ITERATION=1
set XUNIT_PERFORMANCE_MAX_ITERATION=1
call F:\repos\corefx\bin\testhost\netcoreapp-Windows_NT-Debug-x64\\dotnet.exe xunit.console.netcore.exe System.Net.HttpListener.Tests.dll  -xml testResults.xml -notrait category=nonnetcoreapptests  -notrait category=

[2017-04-20 10:46] jamesqo commented on #14354
I am willing to meet you both halfway on this one because I really want to see some sort of API come through. @jkotas I still do not understand you're opposed to adding a immutable instance-based API; first you said it was because 32-bit copies would be slow, then because the mutable API would be more terse (which is not true; `h.Combine(a).Combine(b)` (immutable version) is shorter than `h.Combin

[2017-04-20 10:53] jamesqo commented on #14354
I can't edit my post right now, but I just realized not all methods can accept T. In that case, we can just have 8 overloads accepting all ints and force the user to call GetHashCode.

[2017-04-20 11:31] YehudahA commented on #18614
@karelz, I know this and I have experience with it, but as I understood @davidsh suggestion, I did not understand how it solved the problem.

[code]

1. The code is ugly.
2. It's very hard to merge all general headers [userAgent, AcceptEncoding, AcceptEncoding, AcceptLanguage etc.]

System.Net.Http.HttpClient does it with a single line of code: ```AddHaders```. Why I cannot do the same?
Let see he

[2017-04-20 11:54] stephentoub commented on #12618
Yes... take a look at my comment before yours ;-)

[2017-04-20 11:56] stephentoub commented on #18589
That's fine.  There are a ton of possible query operators, and a nice thing about LINQ is that you can compose the existing operators to generally create what you want.  In this case, I don't even need to compose: there's already an operator that does it.  To me, this is a case where less is more.

[2017-04-20 12:17] azhmur opened #18666 "Caching EqualityComparer.Default<T> in ValueTuple brings significant performance increase"
I have added caching for EqualityComparer instances inside ValueTuple. E.g.

        internal static readonly EqualityComparer<T1> T1Comparer = EqualityComparer<T1>.Default;
        internal static readonly EqualityComparer<T2> T2Comparer = EqualityComparer<T2>.Default;
        internal static readonly EqualityComparer<T3> T3Comparer = EqualityComparer<T3>.Default;
        internal static readonly

[2017-04-20 12:28] benaadams commented on #18390
Hashtable.Add might be a simple one to isolate; its a big change and mostly just looks like its had attribute and dead path clear up; and resx used for exception

[2017-04-20 13:11] JonHanna commented on #18666
Considering that most things don't call `GetHashCode()` directly, but through `EqualityComparer<T>.Default`, I wonder if a specialisation of `EqualityComparer<T>.Default` could give gains here without taking up as much static memory for tuple types that don't have it used.

[2017-04-20 13:15] stephentoub commented on #11151
Yeah, at this point I'm not clear on what the separation really buys us.

[2017-04-20 13:35] JonHanna commented on #16287
Interestingly, storing `TypeBuilder` constants with `CompileToMethod()` isn't quite as simple as it seemed when dealing with #15852.

To recap, interpretation can handle those fine, compiling to IL could not (and cannot on desktop, still) but now can because it does so as a bound constant (an approach unavailable to `CompileToMethod()`).

It had seemed at the time that `CompileToMethod()` could ha

[2017-04-20 14:02] blowdart commented on #14354
Because people don't use things properly when they're there. Let's take a simple example, XSS. From the beginning even web forms had the ability to HTML encode output. However developers didn't know the risk, didn't know how to do it properly, and only found out when it was too late, their app was published, and oops, now their auth cookie has been lifted.

Giving people a security choice assumes

[2017-04-20 14:08] vitek-karas opened #18668 "HttpWebRequest.AllowReadStreamBuffering can't be set to true"
Found during UWP apps testing. In the version 4.0.10.0 the System.Net.Requests.dll did implement the HttpWebRequest.AllowReadStreamBuffering and allowed it to be set to true (and it actually did make a difference in behavior).
In the latest code, the property always returns false, and can't be set to true. It throws InvalidOperationException if something tries to set it to true.
This obviously bre

[2017-04-20 14:15] davidsh commented on #18668
This is a known issue.

[2017-04-20 14:21] vitek-karas commented on #11873
Per the code at https://github.com/dotnet/corefx/blob/master/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L137
the value of the AllowReadStream property is now always false... not sure if that is intentional, but the above discussion says otherwise (that we always buffer and thus the property should always be true).

[2017-04-20 14:28] davidsh commented on #11873
the value of the AllowReadStream property is now always false... not sure if that is intentional, but the above discussion says otherwise (that we always buffer and thus the property should always be true).

Actually, I should not have linked these issues.  The new issue you entered #18668 has nothing to do with this issue.  Let's continue discussion on that issue instead.

[2017-04-20 14:30] davidsh commented on #18668
Ok.  My error.  Your issue has nothing to do with #11873.  That was about `AllowWriteStreamBuffering`.

This issue is about `AllowReadStreamBuffering`.  That means it is about the buffering of the HTTP response body content.

The reason we don't allow the property to be changed on .NET Core is due to the way we implement HttpWebRequest over HttpClient.  It is possible we could, though, allow the p

[2017-04-20 14:31] davidsh commented on #18668
cc: @stephentoub

[2017-04-20 14:31] davidsh commented on #18668
Setting to 2.0 milestone as is it app-compat difference.

cc: @karelz

[2017-04-20 14:32] TylerBrinkley commented on #395
I've updated the proposal to retrieve the `NumberFormatInfo` from `CultureAwareComparer`'s and for other  comparers a default of `NumberFormatInfo.CurrentInfo` will be used if not explicitly provided.

I've also added `CreateLogical` overloads for the parameters included in the `Create(CultureInfo culture, bool ignoreCase)` method.

I don't have access to do that.

[2017-04-20 14:36] karelz commented on #18668
@vitek-karas were there any real-world UWP apps broken by this? Or how did you discover the breaking change?

[2017-04-20 14:41] vitek-karas commented on #18668
Yes, there's a real-world app broken by this.

[2017-04-20 14:48] karelz commented on #18668
Impact: 1 app in Top2000 app startup compat run (internal bug number 410815).

There's no way to tell how many apps/libraries would run into it during app execution ...

[2017-04-20 14:51] jnm2 commented on #18589
I agree, `Remove` connotes list mutation. What about `.Except(value)` and `.ExceptFirst(value)`?

[2017-04-20 14:54] svick commented on #18589
@jnm2 Then it would be confusing that the existing `.Except(new[] { value })` and the new `.Except(value)`  behave differently.

[2017-04-20 14:58] jnm2 commented on #18589
@svick

They would act the same. They would both remove all occurrences of the supplied value. `ExceptFirst` would be the new thing.

[2017-04-20 14:59] mmitche commented on #18551
I can work on updating the image. How does 4.7 come down?  Is it through WU or VS2017?  What is the priority of this?  I want to start pushing in a new direction for how we manage VM images and this may give me a change to test it out.

[2017-04-20 15:02] karelz commented on #18614
Did you consider adding your `PerHostDefaultHeaders` API on the handler? Why is it uglier in that case?
Yes, it is a bit more work (~50 lines of code), but it achieves exactly what you asked for, right?

If this is common task in real-world apps (so far we got only 1 report), we could consider adding it into `HttpClient`. Right now the Handler extensibility seems to be much more flexible and gener

[2017-04-20 15:04] svick commented on #18589
@jnm2 The difference is that the existing `Except` returns only distinct values, while the proposed method does not. Quoting @jamesqo from the first post:

Or do you think the new `Except` methods should behave the same as the old one in that they would return only distinct values?

[2017-04-20 15:05] karelz commented on #18649
Ooops, missed that - closing as dupe of #5921, thanks for finding it @ViktorHofer!

[2017-04-20 15:05] #18649 closed

[2017-04-20 15:10] livarcocc opened #18670 ".Net Core cryptography"
_From @vnd-edu on April 20, 2017 9:34_

## Steps to reproduce
I have used
 DESCryptoServiceProvider DES = new DESCryptoServiceProvider();
 DESCryptoServiceProvider DES = new DESCryptoServiceProvider();
            DES.Key = Convert.FromBase64String("DESC4");
            DES.IV = ASCIIEncoding.ASCII.GetBytes("DESC4");

            string fpath = "" ;
            FileStream fsread = new FileStream(f

[2017-04-20 15:10] livarcocc opened #18671 ".Net Core cryptography"
_From @vnd-edu on April 20, 2017 9:34_

## Steps to reproduce
I have used
 DESCryptoServiceProvider DES = new DESCryptoServiceProvider();
 DESCryptoServiceProvider DES = new DESCryptoServiceProvider();
            DES.Key = Convert.FromBase64String("DESC4");
            DES.IV = ASCIIEncoding.ASCII.GetBytes("DESC4");

            string fpath = "" ;
            FileStream fsread = new FileStream(f

[2017-04-20 15:11] livarcocc commented on #18671
This issue was moved to dotnet/corefx#18670

[2017-04-20 15:12] jnm2 commented on #18589
Oh, I did forget that. So `Remove` connotes list mutation and `Except` connotes a set result, neither of which is desirable. `Without` is probably the next best. Even though it's pretty much an exact synonym linguistically, it doesn't have existing connotations. Though at that point, I'm a bit skeptical that people will need it very often. All the time I've needed to skip items from an enumerable,

[2017-04-20 15:14] jnm2 commented on #18589
I guess I just used this verb while talking about it, so `SkipValues` is a candidate.

[2017-04-20 15:17] livarcocc commented on #18671
Dup of #18670. The mover tool created duplicates.

[2017-04-20 15:17] #18671 closed

[2017-04-20 15:20] svick commented on #18589
One more super-obscure argument against the `RemoveAll` name: it can become effectively ambiguous when the collection type is something like `List<Predicate<object>>` due to variance:

[code]

You would probably expect `list.RemoveAll(p)` to call the new extension method (and it indeed is callable as a static method), but it actually calls the existing instance method, because `Predicate<object>`

[2017-04-20 15:22] danmosemsft commented on #18649
That one is about new API, not S.D right?

[2017-04-20 15:22] azhmur commented on #18666
I have update code to use field stored comparer instance instead direct call to Equals and GetHashCode. This is more similar to the usage inside HashSet and Dictionary. And it still shows some improvement.

[code]
 |            Method |          Job |       Jit | Platform |       Mean |    StdErr |    StdDev |
 |------------------ |------------- |---------- |--------- |----------- |---------- |---

[2017-04-20 15:26] jkotas commented on #11151
I agree with this for System.IO.FileSystem. I think merging it into System.Runtime.Extensions would  be pretty reasonable to me. (Note that there is a ton of dead code and unnecessary abstraction in System.IO.FileSystem right now. It won't look as bad as it looks once it is cleaned up.)

I think the reflection call for working set is ok. However, it can be written in more compact way now that the

[2017-04-20 15:28] #18657 closed

[2017-04-20 15:34] ViktorHofer commented on #18649
It's definitely about bringing the existing APIs back but more in a more portable way than in current netfx. I think that issue fits.

[2017-04-20 15:36] karelz commented on #18318
I don't think we had GCStress truly enabled with this run, right? (updated title)

@steveharter did it pop in your runs?

Moving to Future as it happens also on Desktop - i.e. it is not regression / new failure in .NET Core.

[2017-04-20 15:40] stephentoub commented on #18318
I have a fix for the SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success test hang (the timeout) on desktop... is that what this issue is about now?  Will be putting up a PR for that momentarily.

[2017-04-20 15:53] danmosemsft commented on #16289
@dhoehna did you get a chance to take a look?

[2017-04-20 15:57] deppe commented on #16636
Which build version can i install to test this out? 2.0.0-preview1-002028-00?

[2017-04-20 16:01] tarekgh commented on #395
While creating the string comparer we'll store the corresponding NFI object. for example, if you are creating CurrentCulture comparer we'll get NFI from current culture and use it. this will apply on culture aware comparer. so we should be find here without passing NFI to the constructors of String comparers.

please don't add any overloads to this one as we have introduced a new signature that is

[2017-04-20 16:01] steveharter commented on #18318
I did not see this in any of my windows runs (win10\win2008)

No jdash history for this either.

[2017-04-20 16:04] dhoehna commented on #16289
@danmosemsft I'll be looking at all the feedback today.

[2017-04-20 16:05] dhoehna commented on #16289
oh wait, wrong issue

[2017-04-20 16:05] danmosemsft commented on #17905
@erozenfeld much of the remaining deletable code is likely parts of common shared files that nobody uses. Without analyzing each by hand or doing some tiresome joining of the CSV it's not possible to clean that code up. Is there some straightforward way to run ILLink over the whole set of assemblies, coalescing files that are used in multiple assemblies, so we can get one of these HTML reports sho

[2017-04-20 16:06] dhoehna commented on #16289
@danmosemsft Yeah.  I thought this issue was fixed and merged.  Did it not get merged?

[2017-04-20 16:12] danmosemsft commented on #16289
Ah yes https://github.com/dotnet/corefx/pull/18182. Thanks! (If you include a link in your PR, it shows in the isseu)

I guess I was wondering whether anyone looked at the resource loading probelm or whether it's real. @ViktorHofer could you have a quick look?

[2017-04-20 16:21] zebmason commented on #17905
@danmosemsft My tool can do that. i.e Run it on the whole code base, automatically deleting lines including false positives, build and revert repeatedly then test. Finally push it up to my Github account and create a pull request. Probably quite a bit of work involved though so not to be attempted unless it'll be used. See https://github.com/dotnet/corefx/pull/18395 for results on a subset

[2017-04-20 16:21] TylerBrinkley commented on #395
So do you want me to remove those overloads and add ones with `CompareOptions` instead of the ignoreCase bool or just remove those overloads?

[2017-04-20 16:28] ViktorHofer commented on #16289
The test method doesn't even exist anymore: findstr /si /C:"LeftTest" * --> nothing
The resource is there: findstr /si /C:"Argument_GEZero1" * --> `Microsoft.VisualBasic\src\Resources\Strings.resx:  <data name="Argument_GEZero1" xml:space="preserve">`

[2017-04-20 16:30] #16289 closed

[2017-04-20 16:42] tarekgh commented on #395
I suggest to have only

[code]

The signature taking StringComparer (the first and second one) is covering the scenario of culture aware comparer which can be created using ignoreCase or CompareOptions. Also I removed the one which is taking NFI.

We still have the freedom in the future to add more signatures if proven we really need them.

What you think?

[2017-04-20 16:42] gkhanna79 commented on #16174
If we are tracking armel for 5/10, I think it is fine to keep it in 2.0 as we are doing for anything targeted for that milestone.

[2017-04-20 16:45] tarekgh commented on #395
Also, do you think naming Logical is good here? I understand Windows API StrCmpLogicalW called logical but I am not sure if this is really easy to understand what it means. anyway, we may get more feedback from the design reviewer as needed if we don't come up with better naming now.

[2017-04-20 16:46] karelz commented on #18603
Just discussed with @bartonjs and @danmosemsft -- we have 3 problems here:
1. Our CoreFX CI & Helix runs don't report Debug.Asserts as failures - we are running blind. We have to fix it - @danmosemsft to follow up with vendors
2. For every customer: Debug.Assert should print to console "This is why I exited your process" - it's not happening today - @bartonjs is poking at it in https://github.com/

[2017-04-20 16:51] TylerBrinkley commented on #395
While that's acceptable I don't necessarily like that a user can't use an `Ordinal` `StringComparer` with a culture's NFI besides the current.

I can't think of anything better but naming it something different is definitely worth considering.

[2017-04-20 16:57] mattnischan commented on #18481
Right. Another part is the new .Net conventional wisdom to "async all the things", which I know I've been guilty of spreading the past couple of years as sort of a simplified version of the what we probably should be telling people. The problem is, AsyncMethodBuilder is an expensive construct. If you have a simple REST API that calls into your data access layer, you might be 5 or 6 async calls dee

[2017-04-20 16:59] davidsh opened #18674 "WebClient.UploadValuesAsync app-compat difference with Desktop"
While investigating #17882, I root caused the failure of the WebClient.UploadValuesAsync test.

On .NET Framework, WebClient uses an internal method, `UrlEncodeBytesToBytesInternal`, to "UrlEncode" the NameValueCollection. This is causing it to use lowercase hex digits.

On .NET Core, WebClient uses the public WebUtility.UrlEncode method which always uses uppercase hex digits.

The public WebUtili

[2017-04-20 16:59] davidsh commented on #18674
cc: @stephentoub @karelz

[2017-04-20 17:00] tarekgh commented on #395
This still can be achieved by create culture aware comparer with CompareOptions.Ordinal and use the first or second signature.

[2017-04-20 17:01] jkotas commented on #18603
Debug.Assert should be killing the process today via FailFast. Does this mean that CoreFX CI & Helix are not reporting test that just die silently for whatever reason?

More specifically - FailFast should print to console the message.

This is a new feature. Also, it is not clear to me whether it is a good idea. It tends to lead to really long and confusing recursive logs when something really goe

[2017-04-20 17:04] davidsh commented on #18646
@karelz

Are you sure that is the correct issue to log compat issues?  The issue discusses legacy/deprecated things:

"Steer developers away from legacy/deprecated APIs #21"

Perhaps there is another issue I should document this into?

[2017-04-20 17:05] TylerBrinkley commented on #395
What's the API to create a culture aware comparer with `CompareOptions.Ordinal`? Is that not implemented yet?

From a brief search `Natural` is the only other reasonable name I could find.

[2017-04-20 17:06] krwq commented on #17220
[code]

dumpling seems to has failed to download
[code]

[2017-04-20 17:08] davidsh commented on #18646
Summary:

On .NET Core 1.1, the default value for the `HttpClientHandler.AutomaticDecompression` property was

[code]

On .NET Core 2.0, the default is now:

[code]
This was changed so that it is now the same as .NET Framework.

If you need to change the default back to what it was in .NET Core 1.1, use the following code:

[code]

[2017-04-20 17:10] bartonjs commented on #18603
@jkotas The problem with the FailFast approach for the unit tests is that it doesn't tell you where the problem isn't.  The X509Certificates library has ~700 test cases in it.  One test tripped an assert, so we lost reporting on 699 other cases... and we also don't know what test to have been looking at (for a single failure; when it's the whole library then there's probably just a contaminated st

[2017-04-20 17:12] davidsh commented on #18646
Perhaps I need to create a new issue in that repo?  If so, I created this new issue for tracking:

https://github.com/terrajobst/platform-compat/issues/22

[2017-04-20 17:20] #18318 closed

[2017-04-20 17:20] #18659 closed

[2017-04-20 17:20] steveharter commented on #18603
I think the first baby step is to add a call stack to the reporting, either from a dump or some other mechanism. Today we don't even know what Assert was tripped (at least on Linux)

[2017-04-20 17:20] bartonjs commented on #18670
@vnd-edu (1)DES support was brought back already via https://github.com/dotnet/corefx/issues/11116 and will be part of the .NET Core 2.0 release.

If you would like to try a pre-release build you can follow the instructions at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-04-20 17:20] #18670 closed

[2017-04-20 17:20] #18656 closed

[2017-04-20 17:21] bartonjs commented on #18670
@vnd-edu (though, you ideally would use `DES des = DES.Create()` instead of `DES des = new DESCryptoServiceProvider()`)

[2017-04-20 17:25] stephentoub commented on #18603
A few days ago I updated the dumpling script to print out the exception as part of its trace to stdout. Not a replacement for FailFast itself printing out, but it should be a stopgap, add it'll include the message, stack, etc. We just need to ensure we using the latest script. cc: @mellinoe

[2017-04-20 17:29] ViktorHofer commented on #11151
@jkotas looking into http://tempcoverage.blob.core.windows.net/report2/System.IO.FileSystem.diff.html it seems that S.IO.FileSystem does not have that much dead code. I can't say anything about the abstractions though. +1 for merging it down.

Isn't there another way for dealing with Process.WorkingSet? Reflection sounds like the last resort...

[2017-04-20 17:37] danmosemsft commented on #18603
I tried Environment.FailFast(msg, ex) on Desktop and it dumps the message and callstack to console. On Core, it doesn't do that. It sounds like we're all in agreement it should do that? If so I'll open an issue.

I was going to change Debug.cs to write to stderr first (on both Unix and Windows) but it seems that the above would make that unnecessary and also catch other FailFast paths.

Separately

[2017-04-20 17:40] danmosemsft commented on #18603
The advantages are (1) other tests in the fixture continue to run. Which is probably quite reasonable since the Debug.Assert generally does not mean the process is in a bad state. Otherwise we are blind to those failures (2) existing infrastructure that parses the XUnit log will show all the results nicely. Without the XUnit log, you just get a console dump.

I don't think the above is vital to fi

[2017-04-20 17:45] JeremyKuhne commented on #11151
There is a good chance the FileSystem abstractions won't be needed. I've intentionally dragged my feet on aggressively removing them pending potential WinRT changes around brokering.

[2017-04-20 17:48] tarekgh commented on #395
We have it here:
https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Extensions/src/System/Globalization/Extensions.cs#L13

But I can see it will complicate our implementation to extract the NFI. So I am OK to return back the signatures that taking NFI.

Also we need to define the behavior when someone using
        public static StringComparer CreateLogical(StringComparer string

[2017-04-20 17:50] jnm2 commented on #395
I think `Logical` has the correct connotations. You could also try for `Intelligent`.

[2017-04-20 17:50] tarekgh commented on #395
And we'll use Invariant.NumberFormatInfo when the caller not passing NFI to us

[2017-04-20 17:50] tarekgh commented on #395
let's stick with Logical for now

[2017-04-20 17:52] jnm2 commented on #395
What, you don't like `StringComaprer.BestestBetterness`? 😆

[2017-04-20 17:53] danmosemsft commented on #15472
@mellinoe is there any work herE? I'm not sure what it is

[2017-04-20 17:54] danmosemsft opened #18676 "dumpling error"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_fedora24_debug/25/consoleFull#-74100521779fe3b83-f408-404c-b9e7-9207d232e5fc
[code]

@mellinoe

[2017-04-20 17:55] davidsh commented on #17882
cc: @stephentoub

[2017-04-20 17:56] krwq opened #18677 "Update defaults of SignedXml to use SHA-256"
SignedXml is currently using SHA-1 for both line and RSA signature digests. These need to be updated to SHA-256.

[2017-04-20 18:08] mellinoe commented on #17220
It looks like the Fedora images are missing one of the python prerequisites. It doesn't seem related to the test failure here. I will fix the image, though.

[2017-04-20 18:14] ViktorHofer commented on #5501
ping @YoungGah

[2017-04-20 18:17] vcsjones commented on #16364
This would be very handy for checking a certificate is pinned against a private root.

[2017-04-20 18:17] mellinoe commented on #18676
I'm working on getting that python module installed; shouldn't take long.

[2017-04-20 18:22] TerribleDev commented on #11672
Hi, is there a plan to add the ability to merge dll's in the future? I can see this being huge for self-contained apps, especially when combined with ILLink #17825 Basically if you could link down your api's and then merge them into a single file that is a self-contained app. We could easily distribute cli based tools, without having to zip a whole directories worth of dll's.

[2017-04-20 18:25] TylerBrinkley commented on #395
`NumberFormatInfo` is only needed when using `NumberStyles` because the default value is specified as `None`, meaning we don't need to know what the signs, group separators, or decimal separators are. Thus we only need the already proposed method.

[code]

I've removed the `CreateLogical` overloads that match the `Create` method's parameters.

[2017-04-20 18:28] krwq commented on #17220
@mellinoe what about the multiple "Dumpling not found, installing..."? Are we trying to install dumpling per test?

[2017-04-20 18:31] tarekgh commented on #395
NFI is needed to parse the numbers in the strings. right? how you know the decimal point, thousand separator...etc. when parsing the number?

[2017-04-20 18:33] TylerBrinkley commented on #395
With the default `NumberStyles.None` it only allows for positive integral values thus those aren't needed.

[2017-04-20 18:34] tarekgh commented on #395
Ok. I missed this part. so I think we have the proposal now. I'll move it up

[2017-04-20 18:34] mellinoe commented on #17220
Every installation is failing (because one of the pre-reqs is missing), so that's why the message shows up over and over.

[2017-04-20 18:44] JeremyKuhne commented on #17304
In principle I'm ok with this. Getting the Unix end working is a little complicated. If someone wants to prototype how this would work cross-plat I'm happy to help shepherd it through the API review process.

[pal_io.cpp](https://github.com/dotnet/corefx/blob/0ad947709f6629cf965a17ab94d9a67c3faf85b2/src/Native/Unix/System.Native/pal_io.cpp) has our Unix code.

[2017-04-20 18:47] jnm2 commented on #11672
See also: https://github.com/gluck/il-repack

[2017-04-20 18:47] mellinoe commented on #18676
This should be fixed now. I'll close when i see the new images being used.

[2017-04-20 18:48] TylerBrinkley commented on #395
Note, I didn't update the proposal to use `NumberFormatInfo.InvariantInfo` vs `NumberFormatInfo.CurrentInfo`.

[2017-04-20 18:50] safern commented on #18551
@mmitche I talked to @AlexGhiondea and he told me that we can't update the machines to use 4.7 yet. That it has some issues and it is not yet available. That it should be out in some months, thank you anyway for your help I'll let you know when it is available so that you can help us with the update.

[2017-04-20 18:54] tarekgh commented on #395
please update it in your comment and I'll re-apply it at the top.

[2017-04-20 18:54] danmosemsft commented on #18664
This seems unlikely to be GC related but either due to the extreme slowness of the tests in this mode or some unrelated flaky problem.

[2017-04-20 18:56] TerribleDev commented on #11672
@jnm2 oh snap........ I literally want to dance right now 🎉

[2017-04-20 18:57] TylerBrinkley commented on #395
Done. Just curious, why Invariant vs Current?

[2017-04-20 18:58] omariom commented on #18666
It is waiting for[ this optimization](https://github.com/dotnet/coreclr/issues/6688)

[2017-04-20 19:00] JeremyKuhne commented on #17306
I don't know of any existing async Win32 APIs. I'm fine with creating an Async wrapper that wraps the calls in a Task- I'm not sure you need anything more complicated than that?

[2017-04-20 19:02] tarekgh commented on #395
Actually current make more sense. I'll update the top with the "current" and you may update your comment. thank you.

[2017-04-20 19:20] ahsonkhan commented on #18420
@jkotas, when do we change from api-needs-work to api-ready-for-review?

[2017-04-20 19:21] ahsonkhan commented on #17793
Is this proposal ready for review?

[2017-04-20 19:28] #18572 closed

[2017-04-20 19:30] ahsonkhan commented on #14376
@fujiy, do you have any updates for fast span or maybe some more questions?

[2017-04-20 19:33] danmosemsft commented on #18603
I misspoke. On Desktop, Environment.FailFast does not write to the console either. Still, we can fix Core.

[2017-04-20 19:34] fujiy commented on #14376
I'm still trying to build coreclr with 2017 without success, my computer has just 100GB so I can't install both 2015 and 2017.
https://github.com/dotnet/coreclr/issues/10890

[2017-04-20 19:36] danmosemsft commented on #18603
https://github.com/dotnet/coreclr/issues/11114

[2017-04-20 19:37] #18548 closed

[2017-04-20 19:45] jnm2 commented on #11672
For that matter, https://github.com/microsoft/ilmerge is open-source and I have contributed code to both projects. ILMerge is in the process of moving to the .NET Foundation.

[2017-04-20 19:49] jnm2 commented on #17306
If there is no async API, I'd prefer a synchronous method with cancellation and progress support. People can wrap that in `Task.Run` and they won't be under the impression that it's not hogging a thread that way.

I'm curious what @StephenCleary thinks.

[2017-04-20 19:57] safern commented on #17917
@Pothulapati any update on the pending work needed to close this issue?

[2017-04-20 20:07] jnm2 commented on #17917
I understood that `GetValueOrDefault` extension methods on `IDictionary` and `IReadOnlyDictionary` don't play well together unless there is a disambiguating `GetValueOrDefault` specific to `Dictionary`, because otherwise the compiler will complain that the extension method is ambiguous.

[2017-04-20 20:08] davidsh opened #18680 "Validation missing when adding certain headers to WebClient.Headers collection"
While investigating #17882, I discovered that adding certain request headers to `WebClient` are not error-checked the same between .NET Core and .NET Framework implementations.

Adding 'Connection', or 'Expect' request headers throws WebException when sending the request using .NET Framework.  But .NET Core does not throw exception.

Adding 'Host' request header with an illegal DNS name throws Web

[2017-04-20 20:12] davidmatson commented on #17306
@jnm2 : I agree; I've seen folks call it an anti-pattern to wrap somtehing in a task when it isn't really async under the hood.

I'm also interested in exploring adding a Win 32 API with async support, though that would likely require business justification, such as ".NET wants to use this API." Let me know if there's interest in pursuing that option.

[2017-04-20 20:25] brentschmaltz opened #18682 "XmlDictionaryReader / Writer Canonicalization throws NotSupportedException"
Is there a plan to support Canonicalization in Core?

[2017-04-20 20:27] StephenCleary commented on #17306
I agree in general - [`Task.Run` wrappers over non-asynchronous APIs are not recommended](https://blogs.msdn.microsoft.com/pfxteam/2012/03/24/should-i-expose-asynchronous-wrappers-for-synchronous-methods/). However, I'd also say that it's up to each platform whether to do this. For example, Node.js keeps a threadpool around specifically to block threads on APIs that *should* be asynchronous but *a

[2017-04-20 20:37] grahamehorner commented on #13035
@tinchou any plans to do testing with oracle odbc windows/linux providers ?

[2017-04-20 20:40] #18509 closed

[2017-04-20 20:43] danmosemsft opened #18683 "Delete *UnknownUnix.*cs"
We never set the property necessary to build them and they're only stubs.

@stephentoub shall I just delete them?

[2017-04-20 20:44] #15175 closed

[2017-04-20 20:45] danmosemsft commented on #7879
@davidsh can you specify a string and I'll do it. I trip over it when going through our PNSE's without reasons.

[2017-04-20 20:47] stephentoub commented on #18683
We don't still use that on FreeBSD? We added this when folks were bringing up additional platforms, so that libraries that needed more specialization than just "Unix" could be stubbed it easily and not break the entire build.

[2017-04-20 20:53] davidsh commented on #7879
I can summarize the reason (already in the comments) and give you a string:

"The handler will no longer automatically buffer the request content. Instead 'Transfer-Encoding: chunked' behavior will be used if needed."

But in light of #17691 and making our .NET Core behavior more like .NET Framework, we might re-consider the whole idea that this property is "deprecated" and instead make it work mo

[2017-04-20 21:03] tinchou commented on #13035
Adding dependencies to the CI is not a simple process and I don't think an
Oracle Database will be added for testing. I don't manage that, so feel
free to make a request if you think it should be done and someone else
might give you a better answer.

On Thu, Apr 20, 2017, 17:38 Grahame Horner <notifications@github.com> wrote:

[2017-04-20 21:06] YehudahA commented on #18614
@karelz, I have two problems:
1. ```HttpRequestHeaders``` doesn't have any public ctor, so I cannot use ```PerHostDefaultHeaders ```.
2. I want to merge ```HttpRequestHeaders``` into the request headers, without special handling for every header. I looked into the internal code behind ``AddHeaders``` and I see that it's very complex.

It is not a new feature. It exists already, and it is used inte

[2017-04-20 21:08] danmosemsft commented on #7879
Your call, do you want me to transumte this issue to 'implement it' ?

[2017-04-20 21:13] davidsh commented on #7879
No.  Add the string for now and close out this issue.  If we decide later to change behavior, that will be based on the analysis for #17691.

[2017-04-20 21:14] ahsonkhan commented on #14376
Are you able to build using the command line instead?

[2017-04-20 21:14] danmosemsft commented on #18683
Uh, you're right we use it for BSD's. The UnknownUnix property could probably be deleted but not important..

[2017-04-20 21:14] #18683 closed

[2017-04-20 21:15] danmosemsft commented on #18666
@jcouv

[2017-04-20 21:17] danmosemsft commented on #18654
@MattGal , seen this?
[code]

[2017-04-20 21:18] danmosemsft commented on #18655
@JonHanna any idea why behavior differs here?

[2017-04-20 21:22] danmosemsft commented on #18474
@stephentoub any objection to raising from 30sec to 60sec?

[2017-04-20 21:40] JonHanna commented on #18655
#3751
There are a good number of other tests that will fail.

[2017-04-20 21:52] mellinoe commented on #18676
The new image looks like it's working.

[2017-04-20 21:52] #18676 closed

[2017-04-20 22:15] Priya91 commented on #17545
This test hasn't failed since from the link @sokket has provided. @sokket Does that test history include test results from both Jenkins and helix runs?

[2017-04-20 22:17] eerhardt commented on #16636
@deppe - I verified that all my fixes are in `2.0.0-preview1-002053-00`.  You can install it from https://github.com/dotnet/core-setup#daily-builds

[2017-04-20 22:29] MattGal commented on #18654
Yes, I caused this to happen yesterday with a small bug fix. These are timeouts that are not new, but were mistakenly being treated as passed single-item workitems before. Previously we were sending an event (that we ignored) and logging 0 as the return code, which is considered success but should not be.

It's unlikely the test was ever going to finish after taking 20 minutes, so the team should

[2017-04-20 22:31] bartonjs opened #18690 "Port S.S.Cryptography.Primitives changes to netfx"
* AsymmetricAlgorithm validates against the LegalKeySizesValue field instead of the LegalKeySizes property. https://github.com/dotnet/corefx/issues/18475
* KeyedHashAlgorithm.Key (set/get) do not handle null well. https://github.com/dotnet/corefx/issues/18477
* SymmetricAlgorithm.set_Key permits large keys by mistake

[2017-04-20 22:31] bartonjs commented on #18690
Netfx, so closing.

[2017-04-20 22:31] #18690 closed

[2017-04-20 22:40] jkotas commented on #18420
Typically, the area owner (it includes you for area-System.Memory) flips it when he/she believes that the proposal is actionable. Check https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md.

[2017-04-20 22:41] Drawaes opened #18693 "Update Crypto API's to support Span<T>"
As they take byte[], offset, length in a number of places which are then checked and fixed then often passed to a native call, as well as pretty much all being Sync in nature (CPU or Memory bound) they seem like ideal candidates.

This should increase safety/reduce checks (no need to check that length is past the array etc) and reduce the number of copies/interim arrays that are needed to be creat

[2017-04-20 22:41] Drawaes commented on #13892
What about Crypto API's?
#18693

[2017-04-20 22:42] sepidehMS commented on #18543
The behavior is the same among Desktop and Core with this one. However, on Core [this line](https://source.dot.net/#System.Private.CoreLib/src/System/Threading/ClrThreadPoolBoundHandle.cs,101) wraps `(System.ApplicationException): The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))` into a nicer-looking System.ArgumentException. I believe we prefer to stick with the Arg

[2017-04-20 22:43] mellinoe commented on #17213
I did some analysis of what I think the current gaps are, and what the most important things to fill in are.

Existing Coverage:
* `Vector2/3/4` -- Current test cases are good, but some small improvements could be made.
  * Test cases are too long -- 10+ seconds on my machine for some. That is single-iteration time, and should ideally be around 100 - 1000 ms.
  * Test cases should potentially have

[2017-04-20 22:44] bartonjs commented on #16925
Having thought about it a bit more, plan 4 seems the best (reduce the allocations) in terms of supportability and compatibility.

Since we're going to make this as an incremental improvement and not a Hail-Mary it no longer feels like we need to rush to get it in for 2.0.

[2017-04-20 22:46] bartonjs commented on #18693
@Drawaes Yes, I'm very much looking forward to taking Span.

[2017-04-20 22:53] Drawaes commented on #18693
I figured you would be. It's merely an issue for tracking in the future not a complaint or push :)

[2017-04-20 23:03] stephentoub commented on #18474
No objection, but 30s is already really long; my guess is something is actually hung and raising the timeout won't actually fix anything. We can see I guess.

[2017-04-20 23:05] danmosemsft commented on #18474
@Jiayili1 please update both lines I changed in https://github.com/dotnet/corefx/pull/18496 to change "30" to "60" in four places, and put up a PR for it. thanks.

[2017-04-20 23:06] danmosemsft commented on #18474
@stephentoub if it hung, would it finish in 30.1 seconds? maybe some timeout internally? I didn't see one in the test.

[2017-04-20 23:11] jkotas commented on #11151
You can always create a duplicate the code, or move the code down in the stack (with all its dependencies). For the Process.WorkingSet case, it is worse option than using reflection, I think.

Process.WorkingSet is not the only place where we use reflection to workaround the layering issues. For example, the stack trace dumping code in CoreLib is loading System.Reflection.Metadata using reflection

[2017-04-20 23:13] #18653 closed

[2017-04-20 23:27] tannergooding commented on #17213
I think the list above represents a good prioritization.

I think the biggest issue here is that without consuming the output and without modifying the input values, the JIT can (and does in some of the cases) optimize away the call entirely.

I can think of a handful of other ways to ensure we consume the output and modify the input, but they generally involve doing something like storing the val

[2017-04-20 23:29] ahsonkhan commented on #16878
@AronParker, does this thinking still hold?

Also, can you explain what SequenceCompare should return and in what cases? Essentially, can you provide code sample showing usage of this API?

[2017-04-20 23:34] geleems commented on #14638
I am trying to reproduce the issue in Linux (Ubuntu 14.04). Could you please provide the full stack trace?

[2017-04-20 23:53] karelz commented on #18614
Sadly, there is no such thing as "just make the API public" :(. Public APIs need extra care - you have to think through all angles, all usage cases. You have to understand how it impacts your ability to evolve the API in future.
It is a lot of work.

Key questions: Who is going to benefit form the API? How common the API is? Are we going to regret the API in 3-5 years, because there will be someth

[2017-04-20 23:53] #18677 closed

[2017-04-20 23:58] jnm2 commented on #3419
I have `CoreCLROverridePath` set as an environment variable. When I run `build.cmd` and then try to build System.Runtime.Tests, I get:

Any idea why?

[2017-04-21 00:01] sokket commented on #17545
@Priya91 yes, however the data only goes back 7 days as of right now

[2017-04-21 00:02] sepidehMS commented on #18544
@stephentoub I'm seeing failures like the following on desktop (Only for task `CancelTokenOn_ServerWaitForConnectionAsyncWithOuterCancellation_Throws_OperationCanceledException`):
[code]
Looks like in this case the task is not being canceled, but is rather faulted. Any ideas?

[2017-04-21 00:13] karelz commented on #18693
For now tracked by #13892

[2017-04-21 00:13] #18693 closed

[2017-04-21 00:13] karelz commented on #13892
Top post updated, thanks @Drawaes!

[2017-04-21 00:15] stephentoub commented on #18544
This is the same symptom as the one I fixed yesterday. I'll take a look...

[2017-04-21 00:18] karelz commented on #17917
@jnm2 @safern do we plan to add the `IReadOnlyDictionary` extensions? I don't see them in the top post ...
If we plan both, then adding `Dictionary` extension as well may make sense. We should run it by API review in such case.

[2017-04-21 00:19] sharwell commented on #395
I don't like that the proposed `CreateLogical` method takes a `StringComparer` argument. This will be difficult to implement without additional allocations (or at least copying). The following overload should be enough:

[code]

I'm also not convinced it makes sense to add the overload which takes a `NumberStyles` argument.

[2017-04-21 00:20] weshaggard opened #18697 "BuildAllConfigurations and IsDesktopFacade don't play well together"
An example of this is System.Security.Principal.Windows.

If you do:
`build.cmd -framework=netfx`
The correct facade ends up under `bin\ref\netfx` from the source build.
The ref gets bin-placed by https://github.com/dotnet/corefx/blob/master/dir.targets#L55

if you do:
`build.cmd -allconfigurations`

The netstandard ref for this assembly ends up under `bin\ref\netfx` which is incorrect.
The ref ge

[2017-04-21 00:25] svick commented on #18159
@DavidArno

Yes, using `0` like this is problematic, because it's also a valid value of type `int`. But `null` does not have that problem, it's not a normal value now. And it won't be a possible value of a non-nullable reference type `T` in the future. I don't understand how your `FirstOrDefault` example is in any way relevant here, `0` is not `null`.

You can try, but without a whole new standard

[2017-04-21 00:30] karelz commented on #18674
Thanks @davidsh. Sounds reasonable, moving to 2.0.

[2017-04-21 00:32] svick commented on #18159
@louthy

Except for the specifics of pattern matching, don't non-nullable reference types solve all those problems?

* `null` won't be assignable to `T`? Check.
* You can't dereference `T?`? Check.
* You have to do a `null`-check to extract the value? Check.

[2017-04-21 00:33] karelz commented on #18649
Not sure what you meant @ViktorHofer by "issue fits". Given this is about porting and the other is about new APIs, I would be ok to reopen - I'll leave it to area owners.
@alexperovich thoughts?

[2017-04-21 00:35] tarekgh commented on #395
@sharwell extra allocation is good point.

if we have

[code]

This will not include the ordinal case. so we need to have a way to provide that. we may consider adding the following to your suggestion

[code]

And we don't have to provide any NFI parameters.

How you think we should support the number parsing? should we just allow the number sign, decimal points, thousand separators...etc. or you

[2017-04-21 00:41] karelz commented on #18646
Yeah, that original issue was not best. The new one is overkill, but we will eventually migrate to some database (at least on wiki).
Thanks @davidsh!

[2017-04-21 00:43] Priya91 commented on #17545
Thanks @sokket. Closing this issue as no-repro.

[2017-04-21 00:43] #17545 closed

[2017-04-21 00:44] benaadams commented on #10481
Even javascript is getting Atomic 😱  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics

[2017-04-21 00:44] MattGal commented on #17982
Should be fixed now.  Basically we hit a known issue with pyOpenSSL and upgrading our dependency solved it.   The run starting in ~20 minutes will show whether I'm right.

[2017-04-21 00:46] ElemarJR commented on #18159
@svick

Are you happy with `NullReferenceException`s? Did you understand that `Option<T>` could represent the end of this nightmare?

[2017-04-21 00:47] gkhanna79 commented on #13238
This is marked for future but being used as base for investigating https://github.com/dotnet/coreclr/issues/8158 (see @jkotas comment about it). Are we sure we don't want to fix this for 2.0?

[2017-04-21 00:49] AronParker commented on #16878
@ahsonkhan No. I was actually mainly looking for a way to compare equality, not relation so SequenceEqual is actually sufficient.

[2017-04-21 00:54] #17882 closed

[2017-04-21 00:55] svick commented on #18159
@ElemarJR

How is `Option<T>` going to change all the existing code and libraries? On the other hand, all of those can be updated with non-nullable reference types, ending the nightmare of `NullReferenceExceptions` in a much more friendly way.

Also, like I said many times before, `Option<T>` on its own does not prevent `NullReferenceException`s, since `null` is still valid for `T`, it just adds a

[2017-04-21 01:03] karelz commented on #13238
@AtsushiKan @DnlHarvey should be able to chime in ...

[2017-04-21 01:07] ElemarJR commented on #18159
@svick

We could have Some(null) but it would be strange.

I've been using Option for years and creating adapters when implementing my APIs using non-functional libraries. I have no more NullReferenceException occurrences.

That's my experience. I am not talking about features that I don't have today. :)

[2017-04-21 01:35] hseok-oh commented on #18601
Fixed by #18658

[2017-04-21 01:35] #18601 closed

[2017-04-21 01:53] Priya91 commented on #17187
One possible explanation could be, the osx thread id is a ulong value, and the public surface area in .NET gives thread id as int, it could be that the ulong value was large that while casting it became a negative number [here](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessThread.cs#L59). Adding threadID value to error to check the assump

[2017-04-21 02:01] danmosemsft commented on #3419
@jnm2  does once doing `build-tests.cmd` at the root fix it?

[2017-04-21 02:29] billwert opened #18704 "System.CharEnumerator is not Serializable"
This type is serializable on Desktop and Mono.

[2017-04-21 02:31] billwert opened #18705 "IsolatedStorage.MaximumSize throws when it doesn't on 4.6"
The .NET Core implementation of IsolatedStorage does not initialize m_Quota as the desktop implementation does, resulting in code like this throwing instead of working:

[code]

[2017-04-21 02:35] jnm2 commented on #3419
@danmosemsft Yes, that fixed it.

It's not a problem for me, but `build-tests` fails four times with this message:

n assembly reference?) [C:\Users\jmusser\Source\Repos\corefx\src\System.IO.Compression\tests\System.IO.Compression.Tests.csproj]

[2017-04-21 02:37] stephentoub commented on #18173
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md
@danmosemsft, @karelz, are these the latest and greatest docs available?

Not much happened here between 1.0 and 1.1.  We did do some work on performance, at least for some scenarios, for 2.0, in particular for Unix, so it'd be good to try out the latest bits to see whether it touches on your case.

Ooh, you're u

[2017-04-21 02:40] billwert opened #18706 "IsolatedStorageFile.GetStore overloads should not throw PlatformNotSupportedException"
This is a compat with desktop issue. Currently the only overload that is supported is GetStore(IsolatedStorageScope). We should consider the most sensible fallback possible for the other overloads. Code that happened to call ```IsolatedStorageFile.GetStore(System.IO.IsolatedStorage.IsolatedStorageScope.User | System.IO.IsolatedStorage.IsolatedStorageScope.Assembly,null,null)```, which is the same

[2017-04-21 02:46] billwert commented on #18706
These overloads are also supported on Mono.

[2017-04-21 03:00] sharwell commented on #395
Correct. Prior implementations I've seen, including many of the ones that led people to want this comparer out-of-the-box, are based on integers and non-integers.

[2017-04-21 03:08] stephentoub commented on #18704
@jkotas, it looks like your change in https://github.com/dotnet/coreclr/pull/9259 removed the attribute. Was that on purpose or inadvertent?

[2017-04-21 03:16] terrajobst commented on #17452
How would a centralized API be able to answer questions for all libraries?

If the feature has an API, its much simpler if we provide a capability API. Whether a specific type system feature is available (like default implementations of interfaces) isn't relevant for 99.9% of our customers.

[2017-04-21 03:33] davidsh commented on #18668
So, I looked into this.  And it can be made to work on .NET Core very easily especially because HttpWebRequest is implemented on top of HttpClient in .NET Core.

However, looking at the original .NET Framework code for HttpWebRequest.AllowReadStreamBuffering, I see this:

[code]

I have a vague memory of why this code is like this.  But for .NET Framework, it appears that `AllowReadStreamBuffering

[2017-04-21 03:53] davidsh commented on #18668
So, it looks like in .NET Core 1.0 and 1.1, we allowed this property to be set and used.

In a recent PR #18163, I made a a bunch of .NET Framework vs. .NET Core app-compat fixes and made this property throw that exception again (so that it was now the same as .NET Framework).

 I can undo that (and thus fix this issue).  We will have to modify our tests so that when we test this property on Deskt

[2017-04-21 05:02] Clockwork-Muse commented on #18608
In theory you could do something like:
[code]
... however, this would only work for value types.

[2017-04-21 05:20] safern commented on #17917
@karelz now that i'm going through the PR (#16605) that added `IDictionary` extensions we added `IReadOnlyDictionary` extensions as well but in that time frame `Dictionary` had instance methods so it we wouldn't have that ambiguity when using `Dictionary`. So we should definitely add `Dictionary<TKey, TValue>.GetValueOrDefault` extension methods as if not we will cause our customers this ambiguity

[2017-04-21 05:29] richlander commented on #12190
Update: Turns out that the only way to update the license is to update the nupkg. So, we've started updating the packages. I thought you could update the license through the NuGet Gallery config UI. You cannot. That's why I created https://github.com/dotnet/buildtools/issues/1447.

1447 == 1337 ... right?

[2017-04-21 06:06] safern commented on #18595
I was disabling all tests in System.Security.Permissions, should I disable them all or just the ones that don't make sense on Desktop that doesn't really test anything?

[2017-04-21 06:08] safern commented on #18655
So should we disable all the tests that will hit this? It seems like you fixed it for Net Core and it has to be ported to Desktop right?

[2017-04-21 06:20] Jiayili1 commented on #18474
@danmosemsft https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/tests/HttpHandlerDiagnosticListenerTests.cs#L276  this file is changed and don't have the code that need to be edited.

[2017-04-21 06:23] Jiayili1 commented on #18595
@danmosemsft msbuild /t:BuildAndTest /p:targetgroup=netfx failed with
Metadata file 'C:\Fork1\Source\Repos\corefx\bin/runtime/netfx-Windows_NT-Debug-x64/xunit.core.dll'
could not be found

But xunit.core.dll exists under that folder.

[2017-04-21 06:27] safern commented on #18595
Did you build for netfx from root before doing that?

Try doing from the root of your repo:
`clean.cmd -all`
`build.cmd -framework:netfx`

And then do msbuild...

[2017-04-21 06:33] cwe1ss commented on #16491
I raised my concerns so I'll close this.

[2017-04-21 06:33] #16491 closed

[2017-04-21 06:38] benaadams commented on #18418
Issue isn't limited to Activity.Id. Combining a [hashcode that maximises entropy in the low order bits then sampling from the high order bits](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/src/TelemetryChannels/ServerTelemetryChannel/Shared/Implementation/SamplingScoreGenerator.cs#L17-L57) where entropy is lowest also causes issues with other things, like User.Id

https://gi

[2017-04-21 06:39] karelz commented on #17917
@dotnet/fxdc quick review ask: We are pulling out `Dictionary.GetValueOrDefault`, but we need to add extension method to avoid compile-time ambiguity between `IDictionary.GetValueOrDefault` and `IReadOnlyDictionary.GetValueOrDefault`. Can we get quick ack on the plan please?

New proposed API
[code]

See details: [in today's code](https://github.com/dotnet/corefx/blob/c8ed5b616c140494f8713a839ea4b

[2017-04-21 06:47] safern commented on #17917
Thanks @karelz for bringing that quick API Proposal, hopefully we can get an answer soon so that we can solve the ambiguity.

[2017-04-21 06:52] Jiayili1 commented on #18201
This issue is repro on Full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170420.02/workItem/System.ComponentModel.TypeConverter.Tests/analysis/xunit/System.ComponentModel.Tests.MemberDescriptorTests~2FCopiedMemberDescriptorEqualsItsSource

[2017-04-21 07:00] dotnet-mc-bot opened #18707 "Test: System.Net.Tests.ServicePointManagerTest/FindServicePoint_Collectible failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.ServicePointManagerTest/FindServicePoint_Collectible` has failed.

Assert.Equal() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Net.Tests.ServicePointManagerTest.FindServicePoint_Collectible() in E:\A\_work\81\s\corefx\src\System.Net.ServicePoint\tests\ServicePointManagerTest.cs:line 231
Buil

[2017-04-21 07:08] Jiayili1 commented on #18595
thanks @safern , msbuild /t:BuildAndTest /p:targetgroup=netfx failed with:

xUnit.net Console Runner (64-bit .NET 4.0.30319.42000)
  System.BadImageFormatException: Could not load file or assembly 'System.Runtime, Version=4.0.0.0, Culture=neutral, Pu
  blicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. Reference assemblies should not be loaded for execution.
  They can only be loaded in th

[2017-04-21 07:10] dotnet-mc-bot opened #18708 "Test: System.Net.Tests.ServicePointManagerTest/InvalidArguments_Throw failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Net.Tests.ServicePointManagerTest/InvalidArguments_Throw` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.NotSupportedException)\r
    Actual:   (No exception was thrown)

        Stack Trace:

           at System.Net.Tests.ServicePointManagerTest.InvalidArguments_Throw() in E:\A\_work\81\s\corefx\src\System.Net.ServicePoint\tests

[2017-04-21 07:14] jkotas commented on #18704
This was oversight. Adding it back.

[2017-04-21 07:14] dotnet-mc-bot opened #18709 "Tests under: System.Numerics.Vectors.Tests.System.Numerics.Tests.Matrix4x4Tests failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Numerics.Tests.Matrix4x4Tests/PerspectiveFarPlaneAtInfinityTest` has failed.

Assert.Equal() Failure\r
    Expected: -1\r
    Actual:   NaN

        Stack Trace:

           at System.Numerics.Tests.Matrix4x4Tests.PerspectiveFarPlaneAtInfinityTest() in E:\A\_work\81\s\corefx\src\System.Numerics.Vectors\tests\Matrix4x4Tests.cs:line 2525
Build : Master

[2017-04-21 07:17] Jiayili1 commented on #18311
This issue is repro on full framework test, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170420.02/workItem/System.Reflection.Tests/analysis/xunit/System.Reflection.Tests.AssemblyNameTests~2FCtor_String(name:%20%5C%22NAME%5C%22,%20expectedName:%20%5C%22NAME%5C%22)

[2017-04-21 07:20] dotnet-mc-bot opened #18710 "Test: System.Reflection.Tests.AssemblyNameTests/FullName failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyNameTests/FullName(name: \"NAME\", expectedName: \"NAME\")` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Reflection.Tests.AssemblyNameTests.FullName(String name, String expectedName) in E:\A\_work\81\s\corefx\src\System.Reflection\tests\AssemblyNameT

[2017-04-21 07:21] dotnet-mc-bot opened #18711 "Test: System.Reflection.Tests.AssemblyTests/GetEntryAssembly failed with "Xunit.Sdk.NotNullException""
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyTests/GetEntryAssembly` has failed.

Assert.NotNull() Failure

        Stack Trace:

           at System.Reflection.Tests.AssemblyTests.GetEntryAssembly() in E:\A\_work\81\s\corefx\src\System.Reflection\tests\AssemblyTests.cs:line 123
Build : Master - 20170420.02 (Full Framework Tests)
Failing configurations:
- Windows.10.Am

[2017-04-21 07:24] dotnet-mc-bot opened #18712 "Test: System.Resources.ResourceWriterTests.ResourceWriterTests/ExceptionforResWriter03 failed with "Xunit.Sdk.ThrowsException""
Opened on behalf of @Jiayili1

The test `System.Resources.ResourceWriterTests.ResourceWriterTests/ExceptionforResWriter03` has failed.
[code]
Build : Master - 20170420.02 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Debug
  - x86-Release
  - x64-Release
  - x86-Debug

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ff

[2017-04-21 07:30] dotnet-mc-bot opened #18713 "Tests under: System.Runtime.Extensions.Tests.System.IO.Tests.PathTests failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/Combine(paths: [\"<\", \"abc\", \"def\", \"ghi\", \"jkl\"])` has failed.

System.ArgumentException : Illegal characters in path.

        Stack Trace:

           at System.IO.Path.CheckInvalidPathChars(String path, Boolean checkAdditional)
       at System.IO.Path.Combine(String path1, String path2)
       at System.IO.Tests.PathT

[2017-04-21 07:32] karelz commented on #18682
Which API in particular? [`EndCanonicalization`](https://apisof.net/catalog/System.Xml.XmlDictionaryReader.EndCanonicalization()) is part of .NET Core 1.0.

[2017-04-21 07:32] dotnet-mc-bot opened #18715 "Test: System.IO.Tests.PathTests/GetFullPath_Windows_MaxPathNotTooLong failed with "System.IO.PathTooLongException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetFullPath_Windows_MaxPathNotTooLong` has failed.

System.IO.PathTooLongException : The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.

        Stack Trace:

           at System.IO.Path.LegacyNormalizePath(St

[2017-04-21 07:34] dotnet-mc-bot opened #18716 "Test: System.IO.Tests.PathTests/GetFullPath_Windows_StrangeButLegalPaths failed with "Xunit.Sdk.NotEqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetFullPath_Windows_StrangeButLegalPaths` has failed.
[code]
Build : Master - 20170420.02 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Debug
  - x86-Release
  - x64-Release
  - x86-Debug

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fde

[2017-04-21 07:36] dotnet-mc-bot opened #18717 "Test: System.IO.Tests.PathTests/GetFullPath_Windows_UNC_Valid failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.IO.Tests.PathTests/GetFullPath_Windows_UNC_Valid(expected: \"\\\\\\\\.\\\\UNC\\\\LOCALHOST\\\\share\\\\\", input: \"\\\\\\\\.\\\\UNC\\\\LOCALHOST\\\\share\\\\. \")` has failed.
[code]
Build : Master - 20170420.02 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64
  - x64-Debug
  - x86-Release
  - x64-Release
  - x86-Debug

Detail:
http

[2017-04-21 07:46] dotnet-mc-bot opened #18718 "Tests under: System.Runtime.Extensions.Tests.System.Tests.AppDomainTests failed with "System.UnauthorizedAccessException""
Opened on behalf of @Jiayili1

The test `System.Tests.AppDomainTests/AppendPrivatePath` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\dotnetbuild\\work\\7ed983c1-4274-40de-9871-dedf09c523de\\Work\\e8d39aba-863d-43c0-9b98-6396742c36f1\\Unzip\\AssemblyResolveTests.dll' is denied.

        Stack Trace:

           at System.IO.__Error.WinIOError(Int32 errorCode, String may

[2017-04-21 08:23] Jiayili1 commented on #18660
Failed tests:
 XmlSerializerTests.Xml_Soap_Enum_With_SoapEnumOverrides
 XmlSerializerTests.Xml_Soap_ComplexField
 XmlSerializerTests.Xml_Soap_Basic_FromMappings
 XmlSerializerTests.Xml_Soap_WithNullables
 XmlSerializerTests.Xml_Soap_Array
 XmlSerializerTests.Xml_Soap_TypeWithNullableFields
 XmlSerializerTests.Xml_Soap_List
 XmlSerializerTests.Xml_Soap_TypeWithEnumFlagPropertyHavingDefaultValue
 Xm

[2017-04-21 08:29] nietras commented on #17793
I was wondering if `Overlaps`/`IsSliceOf` https://github.com/dotnet/corefxlab/issues/827 (etc. ??) are not part of an overall functionality around detecting different **kinds** of overlap. A naive approach would define some kind of enum to return the kind of overlap e.g. for `source.Overlap(target)`:

 - `source` entirely before `target`, no overlap
 - `source` starts before `target` and ends insi

[2017-04-21 08:34] Jiayili1 opened #18719 "Desktop: System.Security.Cryptography.Cng.Tests.ECDsaCngTests.TestVerify521_EcdhKey failed with "System.ArgumentException""
Failed test: System.Security.Cryptography.Cng.Tests.ECDsaCngTests.TestVerify521_EcdhKey

Configration: outerloop_netfx_windows_nt_debug

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/26/testReport/System.Security.Cryptography.Cng.Tests/ECDsaCngTests/TestVerify521_EcdhKey/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-21 08:41] Jiayili1 opened #18720 "Desktop: System.TypeLoadException : Could not load type 'System.Security.Cryptography.AesCng' from assembly 'System.Security.Cryptography.Cng'"
Failed test: System.Security.Cryptography.Encryption.Aes.Tests.AesModeTests.SupportsECB

Track issues under System.Sercurity.Cryptography failed with "System.TypeLoadException"

Detail: System.Security.Cryptography.Encryption.Aes.Tests.AesModeTests.SupportsECB

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-21 09:04] JonHanna commented on #18655
Yes, unless and until it is ported then that an also at least `ExplicitlyTypedConditional` and `ExplicitlyTypedBlock` and perhaps others should be disabled for desktop.

Anything that fails with "Unhandled Expression Type" or "Unhandled Binding Type" in the error message can also be safely considered to be testing something that isn't supported on desktop and disabled for it.

[2017-04-21 09:07] Jiayili1 opened #18721 "Desktop: System.Security.Cryptography.Hashing.Algorithms.Tests.Sha512Tests.Sha512_Fips180_MultiBlock failed with "Xunit.Sdk.EqualException""
Failed test: System.Security.Cryptography.Hashing.Algorithms.Tests.Sha512Tests.Sha512_Fips180_MultiBlock

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/26/testReport/System.Security.Cryptography.Hashing.Algorithms.Tests/Sha512Tests/Sha512_Fips180_MultiBlock/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-04-21 09:18] Jiayili1 opened #18723 "Desktop: Tests under "DataContractJsonSerializerTests" failed with "strings differ at index 2""
Failed tests:
 DataContractJsonSerializerTests.DCJS_StringAsRoot
 DataContractJsonSerializerTests.DCJS_ReadOnlyDictionary
 DataContractJsonSerializerTests.DCJS_StringAsRoot
 DataContractJsonSerializerTests.DCJS_ReadOnlyDictionary

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netfx_windows_nt_debug/26/consoleText

[code]