[2017-07-24 08:50] #22480 closed

[2017-07-24 09:15] karlra commented on #2949
I have to also ask when this will be available. Lack of ambient transactions makes it very difficult to write a proper data access architecture. Is there any way this can be included in release 2.0?

[2017-07-24 10:15] DRAirey1 commented on #2949
It goes deeper than just Ambient Transactions.  The entire System.Transactions.Transaction class is incompatible with the System.Data.SqlClient class.  At this time you can't write anything with SqlClient that involves enlisting a transaction, ambient or explicit.

[2017-07-24 10:24] SaltyDH commented on #2949
I had been patiently waiting for this in 2.0 after it was deferred from
1.x. The additional delay has serious consequences on our ability to go
live in our original timeframes, Its extremely disappointing this has been
missed!

On 24 July 2017 at 20:16, DRAirey1 <notifications@github.com> wrote:

[2017-07-24 10:34] karlra commented on #2949
That's weird, at least using MySQL transactions works fine, so I'm just missing ambient transactions:

[code]

[2017-07-24 10:40] DRAirey1 commented on #2949
Try doing anything that involves an explicit transaction (something implements an IEnlistmentNotification interface) and EnlistVolatile().  These kinds of operations are critical for middle tier software.

[2017-07-24 10:42] divega commented on #22469
@ysmoradi isn’t this issue a duplicate of https://github.com/dotnet/corefx/issues/16101? Otherwise, what is different between them?

[2017-07-24 11:06] cklutz commented on #22276
I like the idea quite a lot (and actually use a variation thereof in a production application), however I think there are a couple of conceptual things that might need to be addressed:

**Information in the error message**

The problem with just printing the PID is that the processing having the PID might be (long) gone, when you actually come around to analyzing the issue. That leaves you no trac

[2017-07-24 11:27] ysmoradi commented on #22469
@divega Yeah, I've mentioned it in my second comment. I realized that late.

[2017-07-24 12:38] JonHanna commented on #22536
Hmm, perhaps not. The similar issue I was thinking of was suspected as fixed by dotnet/coreclr#7103 which was some time ago.

[2017-07-24 13:31] harshjain2 commented on #22318
- Dotnet CLI version 2.1.0-preview1-006329

- I have tried to narrow down the repro to a single test project.
Here is the specific test project in which I am getting a consistent repro.
This project targets netcoreapp but we have also seen this issue reproing for full clr as well.
E:\Code\github\harshjain2\vstest\tools\dotnet\dotnet.exe E:\Code\github\harshjain2\vstest\artifacts\Debug\netcoreapp2.

[2017-07-24 13:33] stephentoub commented on #22318
@harshjain2, I meant a repro outside of VSTest, having nothing to do with it, a little C# app that would demonstrate the problem.

[2017-07-24 13:36] harshjain2 commented on #22318
@stephentoub Sure, I can try to repro the issue using C# app.

[2017-07-24 13:38] stephentoub commented on #22318
Thanks.

[2017-07-24 14:00] stephentoub commented on #21537
Then I suggest we do what I outlined above:
[code]

[2017-07-24 14:11] rogeru opened #22551 "'secure' cookies missing in HTTPS WebSocket upgrade request (ClientWebSocket)"
Cookies with 'secure' flag set are not sent by ClientWebSocket in the HTTPS WebSocket upgrade request.

**Actual result:**
When sharing the CookieContainer between a HttpClient and ClientWebSocket, only the cookies with secure=false are sent in the HTTPS WebSocket upgrade request.

**Expected result:**
When sharing the CookieContainer between a HttpClient and ClientWebSocket, all shared cookies ar

[2017-07-24 16:22] danmosemsft commented on #22469
Incidentally the focus of System.ComponentModel.* API additions in 2.0 was those that in Desktop are in System.dll. These we ported into System.ComponentModel.dll. This type is in System.ComponentModel.DataAnnotations.dll. Some types from that were already in .NET Core, but not this one. I think we would be glad in general to have more of DataAnnotations ported.

[2017-07-24 16:31] davidwrighton commented on #21379
Official builds are not done Friday/Saturday night, so today should be the first build with the fix.

[2017-07-24 16:33] davidwrighton commented on #22016
It is intentional that EqualityComparer.Default doesn't have a special comparer, the behavior of the standard one has equivalent performance to a special one. Now, that said, I'm curious why the test is failing. Is it specifically attempting to verify the type of the comparer?

[2017-07-24 16:35] danmosemsft commented on #22469
Let's dupe this against https://github.com/dotnet/corefx/issues/16101 and make progress on S.CM.DA there.

[2017-07-24 16:35] #22469 closed

[2017-07-24 16:37] kouvel opened #22555 "[uapaot] Investigate AssemblyResolve event raising for CoreLib resources"
.NET Core PRs:
https://github.com/dotnet/coreclr/pull/12999
https://github.com/dotnet/corefx/pull/22552

[2017-07-24 16:37] danmosemsft commented on #16101
As noted above/in the dupe, we focused on porting S.CM.* that were in System.dll (mostly into our S.CM.dll I guess), not more types from S.CM.DA.dll (which would go into our S.CM.Annotations.dll). It would be great to now port more of S.CM.DA.dll and contributions would be welcome.

[2017-07-24 16:38] ViktorHofer commented on #22016
The test was failing because it compared the serialization payload between coreclr and corert, which was obviously different. Morgan already implemented a workaround for the test. I just wanted to make sure that the behavior is intentional.

[2017-07-24 16:41] danmosemsft commented on #2209
@ericstj fyi.

[2017-07-24 16:42] ysmoradi commented on #22469
It's ok. So, I'll report my progress there (:

[2017-07-24 16:44] danmosemsft commented on #22434
@davidsh , thanks, I should have noticed it was Linux. @Priya91 I'm going to move this out of 2.0 on the assumption it's a test issue. Feel free to move back.

[2017-07-24 16:44] danmosemsft commented on #22555
Should this be UWP6.0 ?

[2017-07-24 16:45] weshaggard commented on #18083
@joperezr can you do a final validation based on our stable packages?

[2017-07-24 16:49] kouvel commented on #22555
Yes that's what I meant, thanks

[2017-07-24 16:49] weshaggard commented on #22509
By default everything in coreclr/corefx repo assumes it is a portable linux build. Is there a reason you need to specify the amzn RID?

[2017-07-24 16:58] danmosemsft commented on #22542
This must be passing null through
`            string sqlContextInfo = SR.GetResourceString(Enum.GetName(typeof(SniContext), stateObj.SniContext), Enum.GetName(typeof(SniContext), stateObj.SniContext));`

Does Enum.GetName work in ILC context? And why did this all only start failing in the last few days?

[2017-07-24 16:59] danmosemsft commented on #22542
@corivera could you please take a look?
There are a number of tests hitting this.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170724.02/workItem/System.Data.SqlClient.Tests

[2017-07-24 17:02] danmosemsft commented on #22482
Could your team throw up a PR which added this to https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/PlatformDetection.cs ? Sounds like it should use GetProductInfo and look at pdwReturnedProductType.

[2017-07-24 17:03] danmosemsft commented on #22545
@kouvel can you take a look?

[2017-07-24 17:04] danmosemsft commented on #22544
should be fixed by https://github.com/dotnet/corefx/pull/22513

[2017-07-24 17:11] DavidGoll commented on #22464
Typical test server reliability issue. The only fix would be to use a local loopback server instead. Moved to 2.1.0.

[2017-07-24 17:15] DavidGoll commented on #21853
Typical test server reliability issue. The only fix would be to use a local loopback server instead, which will be handled via #22464 (if at all).

[2017-07-24 17:15] #21853 closed

[2017-07-24 17:22] ianhays commented on #13914
This issue is the same one described in the comments in https://github.com/dotnet/corefx/issues/9743.

The problem you all are facing is that the clrcompression being packaged for Debug is one that imports from kernel32. This causes errors when testing on a device with a OneCore OS that doesn't support kernel32. You don't get errors for Release because the Release clrcompression imports from the A

[2017-07-24 17:23] ianhays commented on #9743
As an update, I've got a [fix for this merged in the 1.1 servicing branch](https://github.com/dotnet/corefx/pull/20019), but it hasn't shipped a new package yet. cc: @weshaggard

[2017-07-24 17:28] redknightlois commented on #2209
@benaadams That C# example would work right off the bat with software fallbacks I had to build because no intrinsics (even though perf sucks :D).
@damageboy While I agree with you about most of the post, I am not in the camp of using the C++ intrinsic names which are cryptic and do not give an idea... Having the Interop.XXX version that @benaadams has also the interesting extra that we can build R

[2017-07-24 17:46] joperezr commented on #18083
Sure I'll do that

[2017-07-24 17:52] weshaggard commented on #21503
Not that I'm aware of.

Additional note: Using the build instructions from here, specifically run build-custom -verbose -OSGroup=Linux -- src/corehost/build.proj /p:TargetRid=ubuntu.16.04-x64 runs without errors. However the Bin/ folder is created as android.21-arm64.Debug/ instead of linux-arm64.Debug/

The problem is because we don't have any linux-arm64 binaries for the runtime which is why it

[2017-07-24 18:06] ericstj commented on #19914
I think two things need to happen for this to work:
1. mono adds all APIs that are part of netstandard2.0 (I believe this is in progress and I suspect the latest mono build will have them).
2. mono prefers its own copy of System.Net.Http.dll rather than the one we build and include for windows desktop apps.

@marek-safar can you comment on these?  Should we open an issue in the mono repo?

[2017-07-24 18:32] safern commented on #21219
Since this was about a month ago, we haven't seen this happen again in CI and we have no logs at all to get a repro, we are going to close it. If somebody hits it we could re-open and take a look at his logs.

[2017-07-24 18:32] #21219 closed

[2017-07-24 18:37] #22484 closed

[2017-07-24 18:42] corivera opened #22560 "Remove resource string checking in SqlClient UWP ILC tests"
The resource strings are retrieved via reflection in the SqlClient tests, and this reflection is blocked on UWP ILC. This causes NullReference and ArgumentNullExceptions to be thrown when trying to retrieve the strings.

[2017-07-24 18:46] safern commented on #21055
@ianhays and me are okay with the updated propsal, so marking it as api-ready-for-review.

[2017-07-24 18:53] safern commented on #21052
@alrz could you please add a formal API Proposal?

Here are the guidelines on how to do it: https://github.com/dotnet/corefx/issues/22345#issue-243552910

[2017-07-24 19:08] ericstj commented on #14235
The package is meant to provide **nothing** for Xamarin frameworks.  ValueTuple comes from the framework itself.  Make sure you're using the latest version of the Xamarin SDK.  /cc @marek-safar

[2017-07-24 19:22] ericstj commented on #21664
Id should try and be short but specific.  It doesn't need to be complete, just make sure it doesn't overlap with something else that would like to use the same name.  You can add more detail in the name or description to provide detail.

[2017-07-24 19:22] geoffkizer opened #22564 "Linux Sockets: Close with pending synchronous Receive hangs"
If you issue a blocking Receive on a connected socket, and then try to Close it from another thread, the Close call will hang and the Receive will never complete.

This works properly on Windows -- the Close succeeds and the Receive throws a SocketException with errorCode = ConnectionAborted.

[2017-07-24 19:24] marek-safar commented on #19914
The resolution is described above [link](https://github.com/dotnet/corefx/issues/19914#issuecomment-302509285), manually delete the file or upgrade to recent Mono version (e.g. 5.2) which has updated hacks for broken NETStandard assemblies.

[2017-07-24 19:26] geoffkizer commented on #22564
Also note, this works fine with an asynchronous Receive.

[2017-07-24 19:37] tarekgh opened #22565 "Allow Current Cultures behave in UWP as it does in none-UWP"
While running inside UWP, CultureInfo.CurrentCulture/CurrentUICulture will behave differently than when running outside UWP apps.
In UWP get or set the current culture from/to Windows.ApplicationModel.Resources.Core.ResourceManager.Current.DefaultContext.Languages. This causes the current cultures global to the whole app.
In the none-UWP app, the current cultures are tied to the running thread. Wh

[2017-07-24 19:45] stephentoub commented on #22564
I believe it's undefined behavior in BSD sockets.  Windows makes that work, but we can't depend on it working on arbitrary systems.

[2017-07-24 20:11] vellozzi commented on #22509
We need to specify the 'rhel.7-x64' RID while building on Amazon Linux.  The build scripts concatenate values from /etc/os-release and get 'amzn.2015.09-x64' as the RID.  But 'amzn.2015.09-x64' isn't a supported RID so the build errors out.

Here's the error I get when I run build.sh in the corefx repo:

`/home/ec2-user/git/corefx/Tools/dotnetcli/sdk/2.0.0-preview1-005977/Sdks/Microsoft.NET.Sdk/bu

[2017-07-24 20:26] weshaggard commented on #22509
@vellozzi have you pulled the latest version of release/2.0.0 branch? In directly there was a BuildTools update that would eliminate that problem because the tool-runtime/project.csproj no longer depends on a RID.

[2017-07-24 20:29] kouvel commented on #22555
Looks like AssemblyResolve is not raised at all in CoreRT (looks to me like that is by design to disallow changing assembly resolution), and Assembly.LoadFrom is not supported (looks like for the same reason).

[2017-07-24 20:29] #22555 closed

[2017-07-24 20:36] #22016 closed

[2017-07-24 20:40] kouvel commented on #22555
And because it's aot I guess

[2017-07-24 20:47] vellozzi commented on #22509
I pulled the latest and that specific error is gone.  But there's a new one:
`/home/ec2-user/git/corefx/Tools/depProj.targets(83,5): error : Error no assets were resolved from NuGet packages. [/home/ec2-user/git/corefx/external/ilasm/ilasm.depproj]`

This is also fixed by hacking the /etc/os-release file to make the build think it's rhel.7-x64

[2017-07-24 20:51] safern commented on #22544
This is actually another test, so I will throw another PR and then port both test changes to UWP6.0 branch in one PR.

[2017-07-24 20:58] weshaggard commented on #22509
That issue and a couple more similar were fixed with https://github.com/dotnet/corefx/pull/21032 but those changes are only in master. You can probably cherry-pick that change if you want to see if that helps get you past this current set of issues.

[2017-07-24 20:58] weshaggard commented on #22509
That issue and a couple more similar were fixed with https://github.com/dotnet/corefx/pull/21032 but those changes are only in master. You can probably cherry-pick that change if you want to see if that helps get you past this current set of issues.

[2017-07-24 20:58] weshaggard commented on #19305
This should be fixed with https://github.com/dotnet/corefx/pull/21032. Please let me know if that isn't the case.

[2017-07-24 20:58] #19305 closed

[2017-07-24 21:13] Priya91 commented on #22434
Requires investigation, seems to happen only on Ubuntu?

[2017-07-24 22:09] #22353 closed

[2017-07-24 22:10] joshfree commented on #20511
@safern can you verify the fix on today's build?  Are we safe to resolve/close now?

[2017-07-24 22:12] safern commented on #20511
To close this I need to re-enable the tests for UapAot as they are disabled. I will verify if the fix is on today's build and will throw a PR that closes this issue.

[2017-07-24 22:18] stephentoub opened #22569 "Uri.ReCreateParts allocates a char[] that could be avoided"
Accessing a property like Uri.PathAndQuery not only allocates the resulting string, but also a char[] that's larger than often necessary which is then used to create that resulting string.  Whenever/wherever possible, it'd be good to avoid that allocation.

As an example of the impact of this allocation, that one char[] array is currently showing up as ~14% of the memory allocated when making a si

[2017-07-24 22:18] weitzhandler commented on #4697
Ditto.

[2017-07-24 23:07] safern commented on #22542
cc: @morganbr

[2017-07-24 23:28] AtsushiKan commented on #22542
SniContext is an internal enum type and System.Data.SqlClient.dll is opted into reflection blocking so Enum.GetNames() will always return null on that type.

Preferable (and least riskiest/impact) fix is to remove the dependency on Reflection for this (replace with switch on value.)

[2017-07-24 23:35] vellozzi commented on #22509
Cherry picking that PR definitely works.  But when I was reading through the PR I noticed another setting that solves our problem without the need for cherry picking the PR.

If I run
`./build.sh -RuntimeOS=rhel.7`
against the latest of release/2.0.0 branch it works.

Is the -RuntimeOS switch something we can rely on? (at least, until master and release/2.0.0 converge)

[2017-07-24 23:43] caesar1995 commented on #22066
I'm able to verify that after this PR: https://github.com/dotnet/corert/pull/4174, the problem goes away. I will submit a PR to re-enable the tests.

[2017-07-24 23:44] weshaggard commented on #22509
Yes RuntimeOS is the property we use to store the OS for we are running on and so if you want to mimic it you can set it explicitly like you are doing.

[2017-07-24 23:46] weshaggard commented on #22509
I'm closing this issue now but don't hesitate to ask follow-up questions.

[2017-07-24 23:46] #22509 closed

[2017-07-24 23:50] danmosemsft commented on #22569
related https://github.com/dotnet/corefx/issues/16040

[2017-07-25 00:53] geoffkizer commented on #22564
I should have been clearer.  I don't necessarily expect the Receive call to complete; that's OS dependent.

The specific problem here is that we're hanging in the Close path trying to close the AsyncContext, because of some deadlock in AsyncContext's close logic.

If I just disable the AsyncContext close call, then the Close does not hang and the Receive never completes, which is what we expect on

[2017-07-25 01:01] stephentoub commented on #22564
Ah.  What happens if you issue a Shutdown before closing the handle... does that help at all?

[2017-07-25 01:06] geoffkizer commented on #22564
Haven't tried that (I will later).

[2017-07-25 01:11] Jiayili1 commented on #22493
This issue is repro on UWP F5 Tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170722.02/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetDirectoryName_NonControl(path:%20%5C%22%C2%A0%5C%22)

[2017-07-25 01:13] Jiayili1 commented on #22492
This issue is repro on UWP F5 tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170722.02/workItem/System.Runtime.Extensions.Tests/analysis/xunit/System.IO.Tests.PathTests~2FGetFullPath_NonControlWhiteSpaceStays(component:%20%5C%22%C2%85%5C%22)

[2017-07-25 01:15] Jiayili1 commented on #21720
This issue is repro on UWP F5 Tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170722.02/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20UTC,%20blobs:%20%5B%5C%22AAEAAAD~2F~2F~

[2017-07-25 01:25] dotnet-mc-bot opened #22576 "Test: System.Data.SqlClient.ManualTesting.Tests.LocalDBTest/LocalDBNotSupportedOnUapTest failed with "System.NullReferenceException""
Opened on behalf of @Jiayili1

The test `System.Data.SqlClient.ManualTesting.Tests.LocalDBTest/LocalDBNotSupportedOnUapTest` has failed.

System.NullReferenceException : Object reference not set to an instance of an object.

        Stack Trace:

           at System.Data.SqlClient.ManualTesting.Tests.AssemblyResourceManager.TryGetResourceValue() in E:\A\_work\532\s\corefx\src\System.Data.SqlClien

[2017-07-25 01:29] Jiayili1 commented on #22544
This issue is repro on UWP ILC tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170722.02/workItem/System.IO.FileSystem.Tests

[2017-07-25 01:32] Jiayili1 commented on #22351
This issue is repro on UWP ILC tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170722.02/workItem/System.Runtime.Tests/analysis/xunit/System.Runtime.ExceptionServices.Tests.ExceptionDispatchInfoTests~2FStaticThrow_UpdatesStackTraceAppropriately

[2017-07-25 01:35] safern commented on #22351
Did the fix make it to the release branch? Because this is not failing in master.

[2017-07-25 01:37] Jiayili1 commented on #22364
This issue is repro on UWP ILC Tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170722.02/workItem/System.Threading.Tasks.Tests/analysis/xunit/System.Threading.Tasks.Tests.AsyncTaskMethodBuilderTests~2FFaultedTaskExceptions

[2017-07-25 01:39] Jiayili1 commented on #22360
This issue is repro on UWP ILC Tests (UWP 6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170722.02/workItem/System.Data.Common.Tests.Execution/analysis/xunit/System.Data.Tests.SqlTypes.SqlBooleanTest~2FToSqlInt64

[2017-07-25 01:43] joshfree commented on #22576
related issue #22560

[2017-07-25 01:50] Jiayili1 commented on #22362
This issue is repro on UWP ILC Tests (UWP6.0), detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170722.02/workItem/System.Linq.Expressions.Tests.Execution

[2017-07-25 01:54] jnm2 commented on #4697
I'm partial to what I've been using:
[code]

[2017-07-25 01:56] jnm2 commented on #4697
And then I've got:
[code]

[2017-07-25 01:57] jnm2 commented on #4697
Entire thing: https://gist.github.com/jnm2/9bbdc74c5f2ec835a2af2a88ca8c100d

[2017-07-25 02:04] male110 opened #22577 "How to handle the kill signal"
a console application,How to handle the kill signal?

[2017-07-25 02:38] #22066 closed

[2017-07-25 02:43] Jiayili1 commented on #20024
Failed again on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170725.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ResponseStreamTest~2FReadAsStreamAsync_ValidServerResponse_Success(transferType:%20ContentLength,%20transferError:%20None)

[2017-07-25 02:45] Jiayili1 opened #22578 "Core Tests (Master): All work items has fireball on Ubuntu.1610.Amd64-x64"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170725.01

All work items has fireball on Ubuntu.1610.Amd64-x64

[2017-07-25 02:52] davidsh commented on #20024
FWIW, this test does not use the Azure test endpoint. Rather, it uses a loopback server. So, it is odd for the test to fail with "The server returned an invalid or unrecognized response".

[code]

[2017-07-25 03:52] divega commented on #22469
@ysmoradi sounds good. Thanks!

[2017-07-25 05:16] geoffkizer commented on #22564
Calling shutdown() before close() seems to cause the sync Receive to return 0 bytes (i.e. EOF).

This certainly seems better than hanging forever.  I suppose we could try to detect that we're in the process of closing and convert this into an exception, like Windows does.  Or we could just leave it returning 0 bytes.

That said, calling shutdown made a few other tests break which I have not invest

[2017-07-25 05:54] #22576 closed

[2017-07-25 05:56] sankar1204 opened #22582 "Encoding "iso-8859-4" throws encoding not supported exception."
I tried below code on Net standard 2.0,
[code]

[code]

But samething works on .Net framework,  class library 4.5.2

Same exception comes for other encoding names, 'iso-8859-2, 'iso-8859-3, till 'iso-8859-9.
Only'iso-8859-1 is supported.

Please let me know if am missing something with this code.

[2017-07-25 05:57] danmosemsft commented on #22578
@mattgal any more to do here?

[2017-07-25 06:16] dotnet-mc-bot opened #22583 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/PostAsync_CallMethod_EmptyContent failed with "System.Exception : Operation aborted""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/PostAsync_CallMethod_EmptyContent(remoteServer: http://corefx-net.cloudapp.net/Echo.ashx)` has failed.

System.Net.Http.HttpRequestException : An error occurred while sending the request.\r
    ---- System.Exception : Operation aborted (Exception from HRESULT: 0x80004004)

        Stack Trace:

[2017-07-25 06:17] Jiayili1 commented on #22583
Failed tests:
PostAsync_CallMethod_EmptyContent
PostAsync_ReuseRequestContent_Success

[2017-07-25 06:19] Jiayili1 commented on #22464
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170725.01/workItem/System.Net.WebSockets.Client.Tests.Execution/analysis/xunit/System.Net.WebSockets.Client.Tests.CloseTest~2FCloseAsync_DuringConcurrentReceiveAsync_ExpectedStates(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-07-25 06:24] geoffkizer commented on #22564
FYI, for sync Send the behavior is similar: without shutdown it hangs, with shutdown it returns EINVAL -- presumably because the socket is no longer valid for sending.

[2017-07-25 06:58] Jiayili1 commented on #22434
This issue is repro in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/121/testReport/

[2017-07-25 07:43] bruce31 opened #22586 "Assertion Failure in core 2.0 preview 2 for Assembly.LoadFrom when file not found"
Running Console App
[code]
gives Assert Failure with no way to catch exception
[code]

[2017-07-25 08:28] geoffkizer opened #22587 "Linux Sockets: Send/Receive timeouts take too long"
If you set a timeout and then perform a (synchronous) Send or Receive, it will timeout eventually, but the timeout period is much larger than what was requested -- Send timeout seems to be 3x what was requested, Receive is 2x.

If you force the socket into nonblocking mode (e.g. socket.Blocking = false; socket.blocking = true;) then the timeouts are as expected.

[2017-07-25 12:07] jameyboor opened #22589 "Dns.GetHostEntryAsync is faulty on Windows"
When calling `Dns.GetHostEntryAsync()` an  `AggregateException` is always thrown with information of:

It seems that the method does not correctly initialize Winsock through `WSAStartup()`.

A hacky "fix" at this moment is asking for a response from a WebRequest first to ensure that Winsock is initialized:
[code]

[2017-07-25 13:23] stephentoub commented on #22577
You can't. SIGKILL results in the process being terminated by the kernel without running user code.

[2017-07-25 13:23] #22577 closed

[2017-07-25 13:24] stephentoub commented on #22589
What version of .NET Core are you using? I seem to remember that being a bug in 1.0 that was subsequently fixed.

[2017-07-25 13:27] stephentoub commented on #22589
This was fixed here for 1.1:
https://github.com/stephentoub/corefx/commit/2a7dcbbaf79cdde8146622ee9fe14947e7211e06

[2017-07-25 13:27] #22589 closed

[2017-07-25 13:30] cosborne83 opened #22591 "Min/Max properties for SortedDictionary<TKey, TValue>"
The `SortedDictionary<TKey, TValue>` does not provide any way to efficiently access the minimum and maximum key values, despite being built upon `SortedSet<T>`, which provides `Min` and `Max` properties for this purpose.

It would be useful if similar properties for accessing the minimum and maximum keys were available for the SortedDictionary, perhaps via similar `Min` and `Max` properties to fol

[2017-07-25 16:24] jnm2 commented on #22591
We have `ContainsKey` rather than `Contains`, so I would expect `MinKey`.

[2017-07-25 16:25] stephentoub commented on #22582
Have you tried adding:
[code]
at the beginning of your program?

[2017-07-25 16:29] MattGal commented on #22578
No more action needed, @weshaggard  already did the right stuff and merged it (https://github.com/dotnet/corefx/pull/22568), but it evidently wasn't in by 5 PM yesterday.  20170725.02 does not have this problem

We do I believe still need to do this in any release branches that use 16.10... I've set up the 16.10 queue to automatically forward to the deadletter (instant fireball) queue so this sort

[2017-07-25 16:49] shortspider opened #22593 "Buffer Overflow Exception in WinHttpHandler"
My application has crashed due to the following exception:

ERROR_CODE: (NTSTATUS) 0xc0000409 - The system detected an overrun of a stack-based buffer in this application. This overrun could potentially allow a malicious user to gain control of this application.

EXCEPTION_CODE: (NTSTATUS) 0xc0000409 - The system detected an overrun of a stack-based buffer in this application. This overrun could p

[2017-07-25 16:57] KostaVlev commented on #20711
Hi, the next one which isn't tested in `Imaging` is `Metafile`. I started working on it but :) a little bit help here.

I wrote this test:

[code]
My idea is to create blank `Metafile` but I am getting `System.Runtime.InteropServices.ExternalException : A generic error occurred in GDI+.` when calling the constructor.

Any hints how to make this to work?

[2017-07-25 16:58] davidsh commented on #22593
Please see #7812.

What version of Windows OS are you running?  That assert is used to track a WIndows OS bug dealing with TLS/SSL and DHE ciphers used in key exchange.

I don't see how your "stack overflow" is related to this assert.  Did you get an assert of a stack overflow?  What is the repro?  Can you attach it?

[2017-07-25 17:39] danmosemsft commented on #22493
I think this should be fixed by e021648.
@Jiayili1 please reactivate if this still reproes in the UWP6.0 branch.

[2017-07-25 17:39] #22493 closed

[2017-07-25 17:39] danmosemsft commented on #22492
I think this should be fixed by e021648.
@Jiayili1 please reactivate if this still reproes in the UWP6.0 branch.

[2017-07-25 17:41] Petermarcu commented on #21664
Should we categorize the ones that we expect to just work on Windows vs which ones can work everywhere?

[2017-07-25 17:42] danmosemsft commented on #22360
I think this should be fixed by e021648.
@Jiayili1 please reactivate if this still reproes in the UWP6.0 branch.

[2017-07-25 17:42] #22360 closed

[2017-07-25 17:42] weshaggard commented on #21664
We could but I'm not sure the distinction is all that interesting given that we want to focus this on Window .NET Framework support which all of them should support.

[2017-07-25 17:45] #22492 closed

[2017-07-25 17:48] danmosemsft commented on #21156
@pjanotti are we still waiting on Windows? What remains to get serial ports working for UWP?

[2017-07-25 17:48] Petermarcu commented on #21664
The OpenSSL one for example only works on Linux/Mac though and is not in .NET Framework right?

[2017-07-25 17:54] pjanotti commented on #22586
At first try I couldn't repro it. @bruce31 Any language package or other configuration special to your scenario?

[2017-07-25 17:56] danmosemsft commented on #22578
@weshaggard any chance you could remove 16.10 from the uwp60 and release/2.0 branches as well?

[2017-07-25 17:57] danmosemsft commented on #22586
Probably already tracked by @tarekgh ..

[2017-07-25 18:04] weshaggard commented on #21664
Fair I overlooked that one I will remove it.

[2017-07-25 18:05] pjanotti commented on #21156
@danmosemsft I have yet to get a Windows build with the working version of the API - I will see where it is now.

[2017-07-25 18:15] shortspider commented on #22593
@davidsh as I understand it it's not a stack overflow but a buffer overflow. I thought ERROR_INSUFFICIENT_BUFFER would be the buffer overflow error.

We are running Windows Server 2012 R2. We can update to 2016 like #7812 suggests.

[2017-07-25 18:34] tarekgh commented on #22586
Duplicate of https://github.com/dotnet/coreclr/issues/12668

CC @kouvel @jkotas

[2017-07-25 18:34] #22586 closed

[2017-07-25 18:36] #20511 closed

[2017-07-25 18:36] tarekgh commented on #22586
You need to register in Appdomain resolve assembly event to get the repro. you may look at the PR for simpler repro.

[2017-07-25 18:38] geoffkizer commented on #17107
This is really important.  I've been working on our Linux socket implementation (which is very different than Windows) and there are definite testing gaps.  It's really hard to have confidence in our testing when we have no code coverage.  I hope we can get this done for 2.1.

[2017-07-25 18:38] caesar1995 commented on #20470
@stephentoub

Reflection doesn't work on ILC (The metadata is stripped away if reflection is not declared at buildtime). The `internal sealed partial class NetEventSource` in `NetEventSource.Common.cs` doesn't work. We tried:
1. Add rd.xml to tell compiler not optimize the types. This will incur in larger metadata sizes.
2. Use `#if-def` to make `NetEventSource` public on ILC build. We will have d

[2017-07-25 18:39] mconnew opened #22597 "Unable to construct X509Certificate2 object from byte array on UWP"
The WCF team has a test infrastructure which creates new short lived client certificates for each run. In our scenario test code we fetch the bytes for a certificate from our test server and instantiate an X509Certificate2 object to then install in the local user MY certificate store. This works fine on all platforms
except UWP where we get a WindowsCryptographicException with the message `Access

[2017-07-25 18:40] stephentoub commented on #20470
How much?  Is it really prohibitive?

[2017-07-25 18:44] tarekgh commented on #22582
@sankar1204, the exception message giving the hint there :-)

[code]
You may also look at the remarks section in https://msdn.microsoft.com/en-us/library/system.text.encodingprovider(v=vs.110).aspx

I am closing this one but feel free reply back if you have any question.

[2017-07-25 18:44] #22582 closed

[2017-07-25 18:45] davidsh commented on #20470
@stephentoub It really is more complicated than just the rd.xml optimization. That isn't the real problem.  The real problem is type name clashing since all the type names are "NetEventSource" in all the different assemblies.  And then they get merged via ILC.EXE and stuff breaks.  So, using rd.xml is NOT going to work. Yes, it will expose the types.  But then everything breaks because of the simi

[2017-07-25 18:45] 4creators commented on #22565
This same problem exists for Thread.CurrentThred.CurrentCulture/CurrentUICulture.

[2017-07-25 18:49] stephentoub commented on #20470
Isn't that a toolchain issue then?  Assemblies can contain different internal types of the same name, whether in our code or in customer code.  What makes this case special?

[2017-07-25 18:51] stephentoub commented on #20470
Am I misreading, or isn't that solution involving publicly exposing new APIs in the ref assembly ("with the class definition available in the ref assembly")?

I already don't like the cases where we've made these kinds of EventSource classes public in the implementation assemblies, but I can at least hold my nose on those due to being hidden behind the contracts.  But now this sounds like it's tal

[2017-07-25 18:54] tarekgh commented on #22565
Yes. Thread.CurrentCulture/CurrentUICulture is just mapping to CultureInfo.CurrentCulture/CurrentUICulture

when we fix CultureInfo current cultures will fix the thread one automatically.

[2017-07-25 19:04] #22500 closed

[2017-07-25 19:04] davidsh commented on #20470
Yes.  I am proposing that.  We can document it as a "infrastructure use only" type of API.  In .NET Framework, we didn't have these issues because everything was in a single assembly (System.dll or System.Net.Http.dll).  But we keep running into cases where we need cross-assembly things because we have currently many different assemblies for components.

[2017-07-25 19:06] davidsh commented on #20470
Yes, this is a toolchain issue.  But they can't solve it right now.  The alternatives are not to have any tracing for UWP in .NET Native mode or to try to use a messy ifdef approach to rename classes during common source include compiles.

[2017-07-25 19:07] stephentoub commented on #20470
Honestly I would rather wait for the toolchain fix and in the meantime have no tracing in these builds than add new public API we need to maintain forever and that anyone could take a dependency on.

But that's just me.  If you want to add new surface area, you'll need to run it through the standard API review process.

[2017-07-25 19:11] danmosemsft commented on #21720
The failure now is `The stored blob for type System.TimeZoneInfo is outdated and needs to be updated`

https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170725.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlo

[2017-07-25 19:12] MattGal commented on #22578
@danmosemsft as mentioned before it's actually only in the uwp60 branch.  I'm happy to make the PR, do I need to send a ship-room template for this?

[2017-07-25 19:19] danmosemsft commented on #21156
OK. If we decide we can't do this in the near term I'd like to do so consciously (although as I mentioned it seems our library doesn't need to be on the exact same schedule, if it's blocked on Windows, we need to get that fix into RS3)

[2017-07-25 19:20] danmosemsft commented on #22578
Oh, I just saw it in the 2.0 results because they are old https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170719.03

Yes, I'll send the template offline.

[2017-07-25 19:30] KostaVlev opened #22598 "System.Drawing.Imaging.Metafile(filename) throws wrong Exception when filename is Null on netcoreapp"
The test:

[code]

**Expected:** `System.ArgumentNullException`

**Actual:**
netfx `System.ArgumentNullException`
netcoreapp `System.ArgumentException`

(#20711)

[2017-07-25 19:39] pjanotti commented on #21156
It should be part of RS3 but for now it is not part of prerelease yet.

[2017-07-25 19:39] davidsh commented on #20470
But that's just me. If you want to add new surface area, you'll need to run it through the standard API review process.

I would rather we didn't add API surface either.  But we don't seem to have a good way to share code between library without using duplicated Common source includes.  Perhaps we need a new library that is intended as internal/private use for CoreFx libraries only.  We no longer

[2017-07-25 20:03] #21753 closed

[2017-07-25 20:05] svick commented on #22591
Related closed proposal: https://github.com/dotnet/corefx/issues/11976.

[2017-07-25 20:06] danmosemsft opened #22599 "System.Drawing types lost ISerializable"
This is showing up in /src/shims/ApiCompatBaseline.netcoreapp.netfx461.txt

[code]

For types we don't support binary serializing, like these, we are implementing the interface but throwing PNSE. This at least allows casting to work. Eg.,

[code]

We should do thes ame for drawing and then msbuild src/shims /p:baselineapicompat=true to remove the errors.

[2017-07-25 20:23] jkotas commented on #20470
I agree with Stephen.

I agree with Stephen. It is not acceptable to be adding internal types as public APIs just to make reflection blocking happy.

The simplest solution is to disable reflection blocking for the affected libraries. Yes, it has a size hit but it should better not be prohibitive because of all NuGet libraries and app code pays it.

If we are saying that reflection blocking is requ

[2017-07-25 20:47] ericstj opened #22601 "Remove invalid "BaselineVersion" entries from PackageIndex.json for packages which are not building."
See https://github.com/dotnet/wcf/pull/2097#issuecomment-317825845

[2017-07-25 20:59] svrooij commented on #2538
Not sure if this is the correct place, but maybe it is even a good idea to just support creating a `TimeZoneInfo` with the required fields. Just a public constructor maybe?

I'm currently using [Ews-api-core](https://github.com/sherlock1982/ews-managed-api) to talk to Office 365. And I cannot set the timezone to display correctly. That is because the `TimeZoneInfo.Id` gets serialised as XML into t

[2017-07-25 21:12] tarekgh commented on #21720
@ViktorHofer may need to investigate why we are getting this serialization failure and possibly fix the test.  We decided the code unification effort will not be done for UWP6.0

[2017-07-25 21:24] corivera commented on #20718
Issue no longer repros.

[2017-07-25 21:24] #20718 closed

[2017-07-25 21:25] corivera commented on #22542
Fixed by https://github.com/dotnet/corefx/pull/22579

[2017-07-25 21:25] #22542 closed

[2017-07-25 21:27] corivera commented on #22543
Fixed by https://github.com/dotnet/corefx/pull/22579

[2017-07-25 21:27] #22543 closed

[2017-07-25 21:43] davidsh commented on #20470
My understanding is that disabling reflection blocking is not sufficient to solve this.  One reflection blocking is disabled, the ILC.EXE tools has problems merging all the duplicate class names (NetEventSource) from all the libraries into one EXE.  So, the NetEventSource related class names still need to be made dis-similar and unique across all libraries.

[2017-07-25 21:45] vellozzi commented on #22509
So we use -RuntimeOS=rhel.7, and the build and tests complete successfully.
How can we gain confidence that our build will work correctly on Amazon Linux?
How is that rhel.7 value being used in the build?
Are there decision points in the build, or conditional compilation points in the source code that we'll need to handle in order to support Amazon Linux?

[2017-07-25 21:57] jkotas commented on #20470
@morganbr, @brianrob Is this really the case? Why does ILC tools needs to merge anything here?

[2017-07-25 22:01] MichalStrehovsky commented on #20470
ILC.exe has no problem with duplicate class names in different assemblies. This happens all the time.

[2017-07-25 22:06] weshaggard commented on #22509
I suspect you can also get this to work by setting RuntimeOS=linux. All it ends up doing is using that RID to pick native assets for the tools and for the runtime to run tests against.

The only way to test that it works correctly on Amazon Linux is to run the output there.

[2017-07-25 22:09] stephentoub opened #22607 "Add IPAddress Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Net.Primitives in corefx
- [ ] Expose from System.Net.Primitives contract in corefx
- [ ] Add tests to System.Net.Primitives tests in corefx

[code]

[2017-07-25 22:15] stephentoub opened #22608 "Add Socket Span/Buffer-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [X] Implement/expose/test span-based methods in System.Net.Sockets in corefx
- [x] Implement/expose/test buffer-based methods in System.Net.Sockets in corefx

[code]

[2017-07-25 22:25] stephentoub opened #22610 "Add WebSocket Buffer-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Net.WebSockets in corefx
- [ ] Expose from System.Net.WebSockets contract in corefx
- [ ] Add tests to System.Net.WebSockets tests in corefx

[code]

[2017-07-25 22:27] stephentoub commented on #4530
Replaced by https://github.com/dotnet/corefx/issues/22610.  If anyone feels otherwise, please feel free to comment/re-open.

[2017-07-25 22:27] #4530 closed

[2017-07-25 22:27] stephentoub opened #22611 "Override new WebSocket.Receive/SendAsync methods on ClientWebSocket"
Depends on https://github.com/dotnet/corefx/issues/22610

[2017-07-25 22:34] stephentoub opened #22612 "Add ReadOnlyBufferContent for HttpClient"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement in System.Net.Http in corefx
- [x] Expose from System.Net.Http contract in corefx
- [x] Add tests to System.Net.Http tests in corefx

[code]

[2017-07-25 22:48] benaadams commented on #22610
Just a thought... on `WebSocketCloseStatus?`

A value of 0 is in invalid status; so the enum could have `WebSocketCloseStatus`.`NoClosed`/`NoStatus` = 0 rather than being a nullable as a nullable int is much bigger

[2017-07-25 22:52] stephentoub opened #22613 "Add HashAlgorithm Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Security.Cryptography.Primitives in corefx
- [ ] Expose from System.Security.Cryptography.Primitives contract in corefx
- [ ] Add tests to System.Security.Cryptography.Primitives tests in corefx

[code]

These methods should then be overridden as-is appropriate on the implementations fo

[2017-07-25 22:56] stephentoub opened #22614 "Add IncrementalHash Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [ ] Implement in System.Security.Cryptography.Algorithms in corefx
- [ ] Expose from System.Security.Cryptography.Algorithms contract in corefx
- [ ] Add tests to System.Security.Cryptography.Algorithms tests in corefx

[code]

[2017-07-25 22:58] mellinoe commented on #20711
@KostaVlev Which call is throwing the exception? I'm pretty sure it is not valid to call `FromHwndInternal` using a null handle like that, so I'm not sure such a test is really valuable. A test could be added to assert that an ExternalException is thrown, but again, I don't think it is valuable, and I don't think we should care about that level of behavior compat to emulate it on the Unix version.

[2017-07-25 23:02] stephentoub commented on #22610
And that's reflected in the comment here:
https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketCloseStatus.cs#L11-L12
Seems reasonable to me.

@davidsh?

[2017-07-25 23:04] stephentoub opened #22615 "Add AssymetricAlgorithm Span-based APIs"
Separated out of https://github.com/dotnet/corefx/issues/21281 for tracking purposes.

- [x] Implement/expose/test RSA methods
- [x] Implement/expose/test DSA methods
- [ ] Implement/expose/test ECDsa methods

[code]

This includes not only adding the virtuals but also providing meaningful and efficient implementations on the internal concrete implementations returned from the various Create metho

[2017-07-25 23:07] stephentoub opened #22616 "Use primitive TryFormat methods in StringBuilder"
Currently StringBuilder.Append(primitiveType) first does a ToString on that type and then appends the resulting characters.  Once https://github.com/dotnet/corefx/issues/22403 is implemented, we should use that support in StringBuilder to avoid the intermediate strings.

[2017-07-25 23:10] stephentoub commented on #21281
All of the proposed APIs have been reviewed, and individual issues created for each piece.  As such, this issue has served its purpose and I'm closing it.  Further discussion on individual topics can/should be done on the associated issues, or new issues created for anything deemed missing.  Thanks!

[2017-07-25 23:10] #21281 closed

[2017-07-25 23:12] benaadams commented on #22610
Or JS has different events for Close and Receive; different question...

If `ReceiveAsync` returns close information, it should never throw? e.g. that's what Status 1000+ are for.

However it throws in all sorts of ways; based on state, on close, on bad message etc; so should Close not be part of result but part of a WebscoketCloseExcpetion type instead?

[2017-07-25 23:24] #21097 closed

[2017-07-25 23:44] danmosemsft commented on #19717
Hi @kellypleahy are you planning to take this one? If so I'll assign it. If not that's fine we might have someone else who can.

[2017-07-26 00:11] shmao commented on #21942
Thanks for submitting the issue, @poizan42 . The issue does seem to be a bug to me. We would consider to make a fix for the issue

Here're two workarounds for the issue,
1. Change the return type of the `Test` property to `string`
2. or move the property into the base class.

[2017-07-26 00:11] smile21prc opened #22620 "Create a docker file for RHEL 6 distro"
Per @Petermarcu @janvorli
As part of the plan to be able to ship .NET Core 2.0 that supports RHEL 6, we need build machines for that distro. This is necessary as RHEL 6 is super ancient w.r.t. the libraries that we depend on. So if we build on RHEL 7, which was our minimum supported distro, the binary will get dependencies on versions of some symbols that are not present on RHEL 6.

As a result, t

[2017-07-26 00:12] danmosemsft commented on #16002
I think this is working. https://github.com/dotnet/corefx/pull/22575/files

[2017-07-26 00:12] #16002 closed

[2017-07-26 00:27] danmosemsft commented on #10361
This should work now (with useshellexecute=true) on Windows and work on Unix after https://github.com/dotnet/corefx/issues/19956

[2017-07-26 00:56] corivera opened #22624 "Failing Debug Assert in TdsParserStateObject.ReadAsyncCallback"
Fails in SqlClient manual tests when running with Managed SNI in debug mode.

https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/TdsParserStateObject.cs#L2686

[2017-07-26 01:06] jamesqo opened #22625 "Add ImmutableArray Span-based APIs"
@stephentoub You did not open a tracking issue for this in https://github.com/dotnet/corefx/issues/21281, although from the notes at https://github.com/dotnet/apireviews/pull/40 it seems like this was approved (:tada:). So I took the liberty of moving the proposal here:

[code]

Since the API seems to have been approved, this is intended to be a tracking issue for work towards implementing it.

[2017-07-26 01:08] jamesqo commented on #22625
@stephentoub I also wanted to open this issue since I noticed you wanted to add the following API to `String`:

[code]

Would it be worthwhile to add a similar method to create `ImmutableArray`s without copying as well?

[2017-07-26 01:08] stephentoub commented on #22625
@terrajobst, did I miss that part of the discussion?

[2017-07-26 01:14] onovotny opened #22626 "HashAlgorithm.Create throws PNSE on .NET Core 2"
If you need to call `HashAlgorithm.Create` to create an instance without knowing the concrete type, it throws PNSE on .NET Core 2.

Workaround is to call `(HashAlgorithm)CryptoConfig.CreateFromName(string)`, though calling `CryptoConfig` directly is generally discouraged.

[2017-07-26 01:17] jamesqo commented on #21055
@safern That's great. One thought I had since writing this, when you write

[code]

Both `M()` and `M<>()` will show up in the editor completion list. Also, changing extension method -> instance method calls could be breaking since they might throw an NRE instead of an ANE. So I'm changing the proposal so that the new APIs are extension methods:

[code]

[2017-07-26 01:31] dotnet-mc-bot opened #22627 "Test: System.Net.Tests.HttpWebRequestTest / Timeout_SetTenMillisecondsOnLoopback_ThrowsWebException"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpWebRequestTest/Timeout_SetTenMillisecondsOnLoopback_ThrowsWebException` has failed.

Assert.InRange() Failure\r
    Range:  (1 - 15000)\r
    Actual: 0

        Stack Trace:

           at System.Net.Tests.HttpWebRequestTest.<>c.<Timeout_SetTenMillisecondsOnLoopback_ThrowsWebException>b__31_0() in E:\A\_work\552\s\corefx\src\System.Net.

[2017-07-26 01:51] Jiayili1 commented on #22493
This issue is still repro in the UWP6.0 branch, checked the commit it not in this build, will check it on next build, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170725.01/workItem/System.Runtime.Extensions.Tests

[2017-07-26 01:52] Jiayili1 commented on #22492
This issue is still repro in the UWP6.0 branch, checked the commit it not in this build, will check it on next build, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170725.01/workItem/System.Runtime.Extensions.Tests

[2017-07-26 01:54] Jiayili1 commented on #22360
This issue is still repro in the UWP6.0 branch, checked the commit it not in this build, will check it on next build, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170725.01/workItem/System.Data.Common.Tests.Execution

[2017-07-26 01:57] Jiayili1 commented on #22464
This issue is repro on UWP6.0 branch, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170725.01/workItem/System.Net.WebSockets.Client.Tests.Execution/analysis/xunit/System.Net.WebSockets.Client.Tests.CloseTest~2FCloseAsync_DuringConcurrentReceiveAsync_ExpectedStates(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~

[2017-07-26 02:38] dotnet-mc-bot opened #22629 "Test failure: System.Drawing.Tests.FontFamilyTests/Ctor_GenericFamily(genericFamily: SansSerif, expectedName: \"Microsoft Sans Serif\")"
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.FontFamilyTests/Ctor_GenericFamily(genericFamily: SansSerif, expectedName: \"Microsoft Sans Serif\")` has failed.

Assert.Equal() Failure\r
              ? (pos 0)\r
    Expected: Microsoft Sans Serif\r
    Actual:   Arial\r
              ? (pos 0)

        Stack Trace:

           at System.Drawing.Tests.FontFamilyTests.Ctor_GenericFam

[2017-07-26 02:40] dotnet-mc-bot opened #22630 "Test: System.Drawing.Tests.FontFamilyTests/Ctor_Name failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.FontFamilyTests/Ctor_Name(name: \"Microsoft Sans Serif\", expectedName: \"Microsoft Sans Serif\")` has failed.

System.ArgumentException : Font 'Microsoft Sans Serif' cannot be found.

        Stack Trace:

           at System.Drawing.FontFamily.CreateFontFamily(String name, FontCollection fontCollection)
       at System.Drawing.Tests

[2017-07-26 02:42] dotnet-mc-bot opened #22631 "Test: System.Drawing.Tests.FontTests/GetHeight_Dpi_ReturnsExpected failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.FontTests/GetHeight_Dpi_ReturnsExpected(dpi: -1, expected: -0.1571995)` has failed.

Assert.Equal() Failure\r
    Expected: -0.1572 (rounded from -0.157199501991272)\r
    Actual:   -0.15971 (rounded from -0.159708678722382)

        Stack Trace:

           at System.Drawing.Tests.FontTests.GetHeight_Dpi_ReturnsExpected(Single dpi, Sin

[2017-07-26 02:45] dotnet-mc-bot opened #22632 "Tests under: System.Drawing.Tests.IconTests failed with "System.ComponentModel.Win32Exception : The specified module could not be found""
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.IconTests/Ctor_FilePath_Size(fileName: \"256x256_one_entry_32bit.ico\", size: {Width=0, Height=0}, expectedSize: {Width=256, Height=256})` has failed.

System.ComponentModel.Win32Exception : The specified module could not be found

        Stack Trace:

           at System.Drawing.Icon.Initialize(Int32 width, Int32 height)
       at Sy

[2017-07-26 02:49] Jiayili1 commented on #22632
Failed tests:
Ctor_FilePath_Size
Ctor_FilePath_Width_Height
Ctor_Icon_Size
Ctor_Icon_Width_Height
Ctor_Stream_Size
Ctor_Stream_Width_Height

[2017-07-26 02:50] dotnet-mc-bot opened #22634 "Test: System.Drawing.Tests.IconTests/ToBitmap_PngIconNotSupportedInSwitches_ThrowsArgumentOutOfRangeException failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.IconTests/ToBitmap_PngIconNotSupportedInSwitches_ThrowsArgumentOutOfRangeException` has failed.

Assert.Equal() Failure\r
    Expected: 42\r
    Actual:   -532462766

        Stack Trace:

           at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose()
       at System.Drawing.Tests.IconTests.ToBitmap_PngIconNotSupp

[2017-07-26 02:51] Jiayili1 commented on #22634
Failed tests:
ToBitmap_PngIconNotSupportedInSwitches_ThrowsArgumentOutOfRangeException
ToBitmap_PngIconSupportedInSwitches_Success

[2017-07-26 02:55] Jiayili1 commented on #20457
This issue is repro on UWP F5 Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170726.01/workItem/System.Threading.Tasks.Tests/analysis/xunit/System.Threading.Tasks.Tests.CancelWait.TaskCancelWaitTestCases~2FTaskCancelWait1

[2017-07-26 02:57] Jiayili1 commented on #22629
This issue is also repro on Full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170726.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.FontFamilyTests~2FCtor_GenericFamily(genericFamily:%20SansSerif,%20expectedName:%20%5C%22Microsoft%20Sans%20Serif%5C%22)

[2017-07-26 02:58] Jiayili1 commented on #22630
This issue is also repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170726.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.FontFamilyTests~2FCtor_Name(name:%20%5C%22Microsoft%20Sans%20Serif%5C%22,%20expectedName:%20%5C%22Microsoft%20Sans%20Serif%5C%22

[2017-07-26 02:59] Jiayili1 commented on #22631
This issue is also repro on full framework tests (master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170726.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.FontTests~2FGetHeight_Dpi_ReturnsExpected(dpi:%20-1,%20expected:%20-0.1571995)

[2017-07-26 03:00] Jiayili1 commented on #22632
This issue is also repro on full framework tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170726.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.IconTests~2FCtor_FilePath_Size(fileName:%20%5C%22256x256_one_entry_32bit.ico%5C%22,%20size:%20%7BWidth=0,%20Height=0%7D,%20expec

[2017-07-26 03:03] Jiayili1 commented on #22634
This issue is also repro on Full Framework Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170726.01/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.IconTests~2FToBitmap_PngIconNotSupportedInSwitches_ThrowsArgumentOutOfRangeException

[2017-07-26 03:06] dotnet-mc-bot opened #22635 "[Desktop] Test failed: System.Net.WebSockets.Client.Tests.CancelTest / ReceiveAsync_ReceiveThenCancel_ThrowsOperationCanceledException"
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Client.Tests.CancelTest/ReceiveAsync_ReceiveThenCancel_ThrowsOperationCanceledException(server: wss://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

Assert.Throws() Failure\r
    Expected: typeof(System.OperationCanceledException)\r
    Actual:   typeof(System.InvalidOperationException): This operation is only allo

[2017-07-26 03:19] vcsjones opened #22637 "API Proposal: Add *Async operations to signing abstract types"
The abstract types `RSA` and `ECDSA` have synchronous operations for signing, verifying, and in the case of RSA specifically, encryption and decryption.

For custom implementations of these types, it would be nice if there were *Async versions of these APIs. For example, an [implementation](https://github.com/onovotny/RSAKeyVaultProvider) that uses Azure Key Vault can do this asynchronously.

I wo

[2017-07-26 03:22] vcsjones commented on #22637
I'm happy to flesh out the API proposal and do the work if the proposal is sound and agreed upon.

[2017-07-26 03:44] steji113 commented on #20158
@weshaggard Did your work in #22575 address this?

[2017-07-26 03:52] EmmaZhu opened #22638 "Cannot get Header value back when it includes special chars."
Just encountered an issue when trying to get azure blob's properties, that it cannot get the property value back when the value string includes special chars like "<" or ">" with following code:
[code]
Value for "ContentDisposition" is "<fd>". From the response got from fiddler, Azure Storage Server returns the value correctly, while the value is null in `HttpResponseMessage response` of above fil

[2017-07-26 04:50] KostaVlev commented on #20711
@mellinoe  The graphics object is created successfully `var metafile = new Metafile(bufferGraphics.GetHdc(), new WmfPlaceableFileHeader())` throws the exception.

It tried this way too but still getting exception.
[code]

Since we have same behavior for netfx and netcoreapp should I skip this test for now?

[2017-07-26 05:01] KostaVlev opened #22640 "System.Drawing.Imaging.Metafile(filename) throws wrong Exception when filename is not valid on netcoreapp"
**Test:**

[code]

Expected:  `System.ArgumentException`

Actual:
netfx `System.ArgumentException`
netcoreapp `typeof(System.Runtime.InteropServices.ExternalException): A generic error occurred in GDI+`

(#20711)

[2017-07-26 06:09] mellinoe commented on #20711
Yes

[2017-07-26 06:18] kellypleahy commented on #19717
I think so... but other priorities have been in the way recently.  If you have someone already ready to jump on this it might make sense to hand it off.  I'm hoping to get back to this in a couple weeks or three.

[2017-07-26 06:22] Jiayili1 commented on #19455
This issue is repro on UWP ILC tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170726.01/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener

[2017-07-26 07:27] Jiayili1 commented on #19388
Failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_debug/121/testReport/System.Net.Tests/TaskWebClientTest/UploadString_Success_echoServer__https___corefx_net_cloudapp_net_Echo_ashx_/

[2017-07-26 07:29] Jiayili1 opened #22642 "System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest.GetAsync_ServerNeedsAuthAndNoCredential_StatusCodeUnauthorized failed with "Xunit.Sdk.EqualException""
Failed test: System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandlerTest.GetAsync_ServerNeedsAuthAndNoCredential_StatusCodeUnauthorized

Configuration: OuterLoop_netcoreapp_rhel7.2_debug

MESSAGE:
[code]
STACK TRACE:
[code]

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_debug/121/testReport/System.Net.Http.Functional.Tests/ManagedHandler_HttpCli

[2017-07-26 07:37] Jiayili1 commented on #20390
Failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_portablelinux_release/119/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_HttpTracingEnabled_Succeeds/

[2017-07-26 08:30] safern commented on #21055
Sounds reasonable to me. Could you please update the original proposal?

[2017-07-26 12:57] jnm2 commented on #22637
What's the alternative? Maintain a separate abstraction specific to communication with a remote signer?

[2017-07-26 13:09] ygc369 opened #22644 "Proposal: add overloads for methods like string.Format(), using ValueTuple as parameter to avoid boxing"
If we could use ValueTuple as string.Format()'s parameter, many boxing could be avoided.
[code]

[2017-07-26 13:16] jnm2 commented on #22644
The only way you can pass N arbitrary values to a method without boxing is to make the method generic with that arity. Once you do that, you may as well use plain arguments instead of taking a tuple.

[2017-07-26 13:18] jnm2 commented on #22644
If it *was* even possible to pass `ValueTuple<,,>` as `ValueTuple`, there would necessarily be boxing involved somewhere in getting the values out. No free lunch.

[2017-07-26 13:29] mikedn commented on #22644
And to continue from the csharplang issue: such an approach (and I'm talking about the version without tuples as the one with tuples is a dead end) would generate a lot of code. Call to `Format("", 1, 2)`? One piece of code. Call to `Format("", 2, 4.0)`? Another piece of code. And so on for every argument combination that involves value types. And it would quite a bit of code if you really want to

[2017-07-26 13:47] vcsjones commented on #22637
That is doable but rather tedious, and getting it in the core framework will allow library authors to use this instead of everyone inventing their own abstraction. Everyone just goes through the `RSA` type.

A long term goal would be to add async operations for higher level constructs that performing signing, such as `SignedXml`, etc.

[2017-07-26 14:37] brentschmaltz opened #22646 "Null ref thrown in System.Text RegEx"
The user posted an image with issue here:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/649

[2017-07-26 14:52] vjrantal commented on #18257
@gregg-miskelly I'd agree with the suggestions you posted and would prefer number 2. This is because you might have a node.js server using a pipe file in a code that is not under your control and from c# need to point to exactly that file.

If you can control both ends, as a bit silly workaround, you can have something like this in node.js:

[code]

And like this in c#:

[code]

Due to [this line]

[2017-07-26 15:23] vancem opened #22647 "Add EventCounter.Dispose()"
Today EventCounters have a very simple API.  You can Create one, and you can write a metric (floating point value) to one).    This works well for 'static' counters (that get created early and live forever), but does not allow for counters that are specific to objects that come and go.

For example. There may be a counter for the I/O operations for a request.  Thus you would like a counter that ge

[2017-07-26 15:39] hoyMS commented on #22475
The fix has been checked into TFS as 1667844

[2017-07-26 15:41] hoyMS commented on #22416
A fix has been checked into TFS as 1667773.

[2017-07-26 15:41] #22416 closed

[2017-07-26 15:56] weshaggard commented on #20158
@steji113 yes it did. Thanks for pinging this issue.

[2017-07-26 15:56] #20158 closed

[2017-07-26 16:26] MichalStrehovsky commented on #22475
We'll need to remove the line that forces the test to run without optimizations.

[2017-07-26 16:27] danmosemsft commented on #22646
@nicksav  can you give a repro case, or more detailed callstack?

[2017-07-26 16:27] dazinator commented on #16322
I experienced this with my xunit project not generating binding redirects. You also have make sure you have this:

[code]

As binding redirects are only generated for executables not libraries.

[2017-07-26 16:37] joperezr commented on #22627
cc: @davidsh can you take a look?

[2017-07-26 16:38] davidsh commented on #22642
cc: @stephentoub
ManagedHandler

[2017-07-26 16:39] danmosemsft commented on #22475
@safern can you remove the no-optimizations line when we get a new project N ?

[2017-07-26 16:40] davidsh commented on #22627
This is a brittle test and seems unreliable on busy test machines.

[2017-07-26 16:40] safern commented on #22475
Yes, I will.

[2017-07-26 16:41] danmosemsft commented on #22597
@bartonjs are you available to investigate this?

[2017-07-26 16:49] danmosemsft commented on #19717
@kellypleahy OK. @JeremyKuhne this might be a candidate for one of your "team".

[2017-07-26 16:53] danmosemsft commented on #21720
Moved out of UWP milestone.

[2017-07-26 16:57] vellozzi opened #22650 "When and how to use build-tests.sh and run-test.sh"
There are some [instructions](https://github.com/dotnet/corefx/blob/7059f8b316723f5db64e4b1d28e2b1e8b137ab1e/Documentation/project-docs/developer-guide.md) that say to use build-tests.sh to test corefx, and some [instructions](https://github.com/dotnet/corefx/blob/release/2.0.0/Documentation/building/cross-platform-testing.md) that say to use run-test.sh to test.
It sounds like build-tests.sh buil

[2017-07-26 17:51] #21443 closed

[2017-07-26 18:12] ianhays commented on #21539
@zchpit were you able to look into Jeremy's investigation?

[2017-07-26 18:20] ianhays commented on #22597
Jeremy is at Defcon for the remainder of the week. I'll take a look and see if I can follow the path of the failure.

[2017-07-26 18:28] smile21prc commented on #22620
This active issue is currently blocking the creation of docker images:
https://github.com/dotnet/core-eng/issues/1251

[2017-07-26 18:36] ViktorHofer commented on #21720
Code unification of TimeZoneInfo is a non goal for UWP6.0 but for .NET Core 2.1.

The test wasn't failing before and I am not sure why it's failing now. So the required work here is to
- fix the test in uwp6.0
- Finish converging TimeZoneInfo code and update blobs in master

I'm on it.

[2017-07-26 18:37] vellozzi commented on #22509
Using RuntimeOS=Linux works, and feels a lot better than using rhel.7.  Thanks.
Thanks for the clarification on its use in building and testing.

Is there any conditional compilation in the C, C++, or C# code that's specific to any particular flavor of Linux?  Or are the native and managed bits the same for any Linux flavor?
(Is the answer the same for the coreclr?)

We're trying to understand how

[2017-07-26 18:37] JeremyKuhne commented on #19717
Taking it for now as it should fit well with my team's current schedule.

[2017-07-26 18:42] weshaggard commented on #22509
We are trying very hard to make sure the bits are the same for any linux flavor.

Yes the answer is the same for coreclr as well. Although I don't think they use the same property RuntimeOS, but they do build for linux by default.

Hopefully nothing.

[2017-07-26 18:59] mj1856 commented on #2538
@svrooij - Does my [TimeZoneConverter](https://github.com/mj1856/TimeZoneConverter) library help?  If not, can you elaborate for the team as to why?  Thanks.

[2017-07-26 19:03] stephentoub commented on #22644
At which point this is largely duplicative of https://github.com/dotnet/corefx/issues/1514.

[2017-07-26 19:06] mj1856 commented on #19914
@marek-safar I think Mono 5.2 hasn't released yet?

[2017-07-26 19:13] snpz opened #22655 "System.Net.Primitives Nuget is unusable"
Hi.

I'm experiencing the following:
When I install System.Net.Primitives package via Nuget to my project, I get the following in the place, where the dlls should live.

![grafik](https://user-images.githubusercontent.com/30478030/28638972-d8c81c0a-7246-11e7-9bb2-41c7f43c0f9f.png)

Not any dll in there, installation does not raise an error.

[2017-07-26 19:16] danmosemsft opened #22656 "Disable some tests expected to fail on Server Core"
•	All the Drawing tests fail.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170726.03/workItem/System.Drawing.Common.Tests
I assume this is because GDI doesn’t exist, like on Nano.

Currently these all have
[ConditionalTheory(nameof(PlatformDetection) + "." + nameof(PlatformDetection.IsNotWindowsNanoServer))]
Which we shoul

[2017-07-26 19:39] 4creators opened #22658 "Is it possible to package assemblies during build into individual packages i.e. System.Numerics"
Tried to find code which would allow to pack assemblies in a standard way and in addition each assembly individually - without success. Is it possible or do I have to create additional build code to get it done?

I need to get normal build output plus all assemblies packaged each in it's own NuGet package.

[2017-07-26 19:53] svrooij commented on #2538
@mj1856 Thanks for the reply Matt, but that doesn't help. The problem is that the id's on unix are not in the format that Exchange wants. And Exchange uses the offset and the timezone id to set the timezone on appointments. And if the id isn't in the list it recorgnises it just picks a random one with the same offset (and then displays a notice to the user that the appointment is in a different ti

[2017-07-26 19:58] ViktorHofer commented on #21720
Found the failure. The Culture=neutral casing is different (which I fixed a while ago).

Stored blob:
`\0\u0001\0\0\0????\u0001\0\0\0\0\0\0\0\f\u0002\0\0\0NSystem.Core, Version=3.5.0.0, Culture=neutral`

Runtime generated blob:
`\0\u0001\0\0\0????\u0001\0\0\0\0\0\0\0\f\u0002\0\0\0NSystem.Core, Version=3.5.0.0, Culture=Neutral`

I'm not exactly sure which codebase the UWP F5 tests are picking up as

[2017-07-26 20:00] ViktorHofer commented on #21720
I thought the F5 tests would use the coreclr release/uwp6.0 branch: https://github.com/dotnet/coreclr/blob/release/uwp6.0/src/mscorlib/src/System/TimeZoneInfo.cs#L32

[2017-07-26 20:17] AlexGhiondea opened #22660 "How to get PhysicalMemory"
@heartlocker commented on [Mon Jul 24 2017](https://github.com/dotnet/core/issues/769)

As the .NET Core project could run on Windows, Linux and Mac OS. Is it possible for me to get the PhysicalMemory size of the running machine on these three OS. Just like in .NET framework, by using `Microsoft.VisualBasic.Devices.ComputerInfo` to get the Physical Memory information of the windows machine

---

@

[2017-07-26 20:21] ipinak opened #22661 "Memory overconsumption on SqlClient with MARS"
I have a simple web api application which connects to SQLServer with MARS enabled. I have noticed that the application consumes a lot of memory and never release any of it. However, when MARS is disabled everything works fine and memory is properly released. Memory increases constantly until it reaches the maximum physical limit, after that it starts writing on swap.

The same application works as

[2017-07-26 20:24] corivera commented on #22661
What connection string options are you using besides MARS? And do you have any simple repro steps?

[2017-07-26 20:29] mj1856 commented on #2538
Sure.  So you call:

[code]
Working .net fiddle [here](https://dotnetfiddle.net/KWXi3L)

You would do this in your code before you pass the time zone on to exchange.

[2017-07-26 20:34] mj1856 commented on #2538
@svrooij  - I found your report at sherlock1982/ews-managed-api#9.  They would have to take the dependency on TimeZoneConverter with the above code to make this work seamlessly for you.

[2017-07-26 20:56] marek-safar commented on #19914
It's available http://www.mono-project.com/download/alpha/ but still in preview

[2017-07-26 21:11] jnm2 commented on #22661
(Off-topic: I've found that leaving MARS enabled leads to inefficient development practices. Also ran into http://www.freetds.org/mars.html.)

[2017-07-26 21:18] danmosemsft opened #22663 "AssemblyName ctor throws on Core when version number does not have 4 parts - works on full Framework"
This code succeeds on Desktop but throws on Core. Can we either make this work, or be more helpful?
[code]

[code]

@morganbr is this expected?

[2017-07-26 21:20] Petermarcu commented on #22660
This is probably a larger discussion and API design we should have about how to get common system information in general across platforms.

[2017-07-26 21:30] #20712 closed

[2017-07-26 21:32] mellinoe commented on #22660
Do we want "RuntimeInformation" to encompass this sort of thing? Although there's a real risk of it becoming a "grab bag of stuff" (and it sort of already is...), I'm not sure there's a better place for it.

[2017-07-26 21:36] Petermarcu commented on #22660
That was the first thing I thought of. Yes, it may become a grab bag of stuff but hopefully its common information people want / need to know about the hardware, OS, etc. Kinda wish it wasn't under InteropServices but that ship has sailed :(

[2017-07-26 21:36] Petermarcu commented on #22660
@mellinoe , do you want to carry this forward and make an API proposal with a basic set of capabilities?

[2017-07-26 21:40] jnm2 commented on #22663
Oh boy, I can think of two projects offhand that will fail on Core. That had better be load and clear in the constructor's XML summary if it has to stay for some reason.

[2017-07-26 21:42] danmosemsft commented on #22663
@AtsushiKan ?

[2017-07-26 21:44] danmosemsft commented on #22660
There is some stuff already on Environment of course (and proposals for more --
 https://github.com/dotnet/corefx/issues/16767)

[2017-07-26 21:46] mellinoe commented on #22660
Unless we've pivoted drastically, then we don't want to be adding new stuff into legacy types like `Environment`... we certainly could have changed our minds about that, though. That was kind of the impetus for developing `RuntimeInformation` in the first place.

[2017-07-26 22:03] ianhays commented on #22597
@mconnew I repro your bug. I'm guessing your certs' default is to try to install to the machine store which is disallowed on UWP.

You can circumvent the "Access Denied" exception and override the default by specifying X509KeyStorageFlags.UserKeySet e.g.
[code]

[2017-07-26 22:12] AtsushiKan commented on #22663
AssemblyNames on CoreCLR are parsed by the CoreCLR binder which demands that version numbers have all four parts: this is enforced here:

https://github.com/dotnet/coreclr/blob/5e82b75a22e9f1ee379beab45c2ddc6146132aab/src/binder/textualidentityparser.cpp#L382

I'd rather have the area owner for the CoreCLR binder figure out what to do about that - alternatively, we could force CoreCLR to use CoreR

[2017-07-26 22:13] ViktorHofer commented on #21720
I can't repro that locally. It seems to be somehow related to a CI package mismatch. Closing for now.

[2017-07-26 22:14] cydhaselton commented on #21503
@weshaggard I'm not building a private version or changing the version number; I'm using an unofficial RID generate nuget packages for  coreclr.   If I'm not understanding you correctly let me know.

I'll re-try the core-setup build specifying that property.

[2017-07-26 22:19] mellinoe commented on #22650
@vellozzi [These instructions](https://github.com/dotnet/corefx/blob/release/2.0.0/Documentation/building/cross-platform-testing.md) are VERY out of date -- I would ignore them entirely. Very sorry about that. The first instructions you linked are accurate, you should be able to follow those.

As for your specific questions:

run-tests.sh was written at a time when the corefx build was mostly non-

[2017-07-26 22:21] mellinoe commented on #22660
Sure, I can come up with something. I'll try to come up with some reasonable basic set and see how different OS's expose that info.

[2017-07-26 22:22] AntonLapounov commented on #22364
The fix was integrated into the UWP6.0 branch yesterday.  The tests in question passed in the latest run:
https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170726.01

[2017-07-26 22:22] #22364 closed

[2017-07-26 22:23] vellozzi commented on #22650
Yes.  I'll use build-tests.sh exclusively.
If you could update docs to help future devs that would be cool.

Thanks.

[2017-07-26 22:23] #22650 closed

[2017-07-26 22:28] jnm2 commented on #22663
Never mind, my uses specify full version or nothing.

[2017-07-26 22:29] gokarnm commented on #21591
Closing this issue, based on the discussion in PR #22105

[2017-07-26 22:29] #21591 closed

[2017-07-26 22:33] weshaggard commented on #21503
We don't currently produce linux-arm64 packages from our coreclr builds (https://github.com/dotnet/coreclr/blob/master/src/.nuget/dir.props#L135), so that RID doesn't exist and will need to be built before you can consume it in core-setup.

[2017-07-26 22:41] danmosemsft commented on #22090
This is still failing in the latest 2.0 bits:

https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170726.01/workItem/System.Net.HttpListener.Tests/wilogs

[2017-07-26 22:42] danmosemsft commented on #22663
@kouvel are you the owner of the CoreCLR binder now, de facto? Or who is?

[2017-07-26 22:42] danmosemsft commented on #22663
Incidentally it would be nice if we could make this message ` The given assembly name or codebase was invalid.` more helpful.

[2017-07-26 22:44] danmosemsft commented on #22655
I'm guessing this is because in this TFM, the implementation is supposed to already exist - @weshaggard ?

[2017-07-26 22:50] weshaggard commented on #22655
That is called a placeholder file which allows nuget to install the package but when you reference or deploy it doesn't included any binaries because it should already exist on that platform (or those platforms in this case of a PCL target).

[2017-07-26 22:50] #22655 closed

[2017-07-26 23:36] danmosemsft commented on #22663
Putting into 2.0 for servicing consideration.

[2017-07-26 23:43] weshaggard opened #22670 "Identify the set of packages we need to ship for UWP60"
Ideally we would only ship the UWP platform package with the UWP6 release and avoid having to ship any of the other library nuget packages. We should do some analysis to see if there are any additional packages that have uwp specific assets in them that we need to ship. If we do have such packages we need to test to make sure they don't have netcoreapp specific assets as well as we need to ensure

[2017-07-27 00:56] ygc369 commented on #22644
@stephentoub
Yes, very similar. So I closed this.

[2017-07-27 00:56] #22644 closed

[2017-07-27 01:44] kouvel commented on #22663
Not that I'm aware of, and not sure if there is an owner, but I can take a look.

[2017-07-27 01:52] dotnet-mc-bot opened #22674 "Test: System.Net.Http.Functional.Tests.HttpClientHandlerTest/Proxy_BypassFalse_GetRequestGoesThroughCustomProxy failed with "System.AggregateException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/Proxy_BypassFalse_GetRequestGoesThroughCustomProxy(creds: NetworkCredential { Domain = \"\", Password = \"password\", SecurePassword = Se...` has failed.

System.AggregateException : One or more errors occurred. (An error occurred while sending the request.) (An error occurred while sending the request.

[2017-07-27 03:25] AArnott commented on #21055
But the existing ToImmutableArray method is an extension method. Will defining one for a more derived type take precedence in c#? In other languages?

[2017-07-27 03:49] danmosemsft commented on #22626
Hm, I don't remember the rationale for this one. @bartonjs @ianhays why isn't it like desktop:
[code]

If the caller just has to do exactly that, it seems perverse for us to not do it. There's no string in the PNSE either.

[2017-07-27 04:31] liamdawson commented on #14284
Another point - when provisioning certificates from the Azure Key Vault onto a Linux VM, they come down as PEM files. I'd prefer not to have to run a separate step of combining them again if they're already there.

[2017-07-27 05:01] danmosemsft commented on #22646
@krwq can you see how this https://github.com/dotnet/corefx/blob/986ffdb1053d334b862f96b53c67ca3bae222219/src/System.Text.RegularExpressions/src/System/Text/RegularExpressions/Regex.cs#L941 could throw NRE? I have looked at the code carefully and I don't see it.

[2017-07-27 05:09] danmosemsft commented on #22626
This method has non trivial usage.

[2017-07-27 05:21] danmosemsft commented on #22663
This API has substantial usage, but we cannot say how often the version number does not have four parts.

[2017-07-27 05:56] danmosemsft commented on #21379
This is apparently not failing any more in the UWP branch
https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170727.01

[2017-07-27 05:56] #21379 closed

[2017-07-27 06:16] Jiayili1 commented on #19455
This issue is repro on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170727.01/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener

[2017-07-27 06:21] ipinak commented on #22661
@corivera  here is the connection string: `Data Source=some.source\\DB;Initial Catalog=TheCatalog;Persist Security Info=True;Trusted_Connection=True;Pooling=False;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;Integrated Security=SSPI;`

[2017-07-27 06:21] ipinak commented on #22661
@jnm2 thanks for the link!

[2017-07-27 06:23] Jiayili1 commented on #21720
This issue is still repro on Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170727.01/workItem/System.Runtime.Serialization.Formatters.Tests/analysis/xunit/System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests~2FValidateAgainstBlobs(obj:%20CookieContainer%20%7B%20Capacity%20=%2010,%2

[2017-07-27 06:28] dotnet-mc-bot opened #22677 "Test: System.ServiceProcess.Tests.ServiceControllerTests/StopAndStart failed with "System.ServiceProcess.TimeoutException""
Opened on behalf of @Jiayili1

The test `System.ServiceProcess.Tests.ServiceControllerTests/StopAndStart` has failed.

System.ServiceProcess.TimeoutException : Time out has expired and the operation has not been completed.

        Stack Trace:

           at System.ServiceProcess.ServiceController.WaitForStatus(ServiceControllerStatus desiredStatus, TimeSpan timeout)
       at System.ServiceProce

[2017-07-27 06:29] Jiayili1 commented on #22677
Closed issue: https://github.com/dotnet/corefx/issues/17222

[2017-07-27 07:10] Jiayili1 commented on #22434
Failed again in CI, detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/123/testReport/

[2017-07-27 07:10] krwq commented on #22646
I think it will be:
`s_livecode.Remove(current);` + `current = current.Next` - I guess removing current will set its next to null - will check it tomorrow (aka later today)

[2017-07-27 07:23] 4creators commented on #22660
Perhaps good idea would to add new class to System.Diagnostics used solely for the purpose of gathering all important information on the physical system even if they would be available in other parts of library.

[code]
The code above is a oversimplified sketch since it would be necessary to provide details for every 'complex' hardware with breakdown of features for every individual device i.e. di

[2017-07-27 08:03] Jiayili1 commented on #17925
This issue is repro in UWP6.0 branch, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170727.01/workItem/System.Data.SqlClient.Tests

[2017-07-27 08:26] aalub commented on #10054
I'm aware the branch seems closed, but the issue still exists. Yesterday I tried fresh downloaded VS2017 with ubiquitous HelloWorld and encountered this behavior in .NET Core while .NET Framework works fine. I should stress what @JohnRisk already sayd:
`           string Message = "Привет, .NET Core!";           // a localized string containing cyrillic
            Console.WriteLine(Message);

[2017-07-27 08:34] ChristophAlbert commented on #7812
Is there a way to get more information about the circumstances under which these SChannel bugs occur and in which version they were fixed? Something like a change log?
I see the described errors on Windows 7 and 2012, but so far not on Windows 10 - even with build numbers smaller than 1607. I can also rule out that the observed errors are caused by public key length 127.

[2017-07-27 08:47] ipinak commented on #22661
I have found this test `TestSqlAsyncMARS` inside `SqlClientTestGroup`, which I suppose if modified to execute more commands (e.g. 500), it can help replicate the issue.

[2017-07-27 09:43] clrjunkie commented on #21281
@stephentoub Isn’t it true that in order gain value from all these overloads one would require to allocate the Span backed memory region from a pool of heap memory, like a pre-allocated array of value/reference types, for all inputs and outputs?  If that’s the case, I would suggest highlighting this at the very beginning.

[2017-07-27 10:14] massi100 opened #22681 "DBNull exists in both System.Data.Common and System.Net.NameResolution"
Using VS2017 /NET core 1.1,  I get this error:
The type 'DBNull' exists in both 'System.Data.Common, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Net.NameResolution, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

when I execute the following lines:
var dbNullValue = typeof(System.DBNull).GetField("Value");
var dbNullExp = Expression.Field(Expr

[2017-07-27 11:28] svick commented on #10054
@aalub This issue is closed with milestone set to 2.0.0. That means that .Net Core 1.x still has the issue (and requires a workaround). It will be fixed in .Net Core 2.0, which means you can either wait until that's released later this quarter or you can try [a preview version](https://www.microsoft.com/net/core/preview).

[2017-07-27 12:08] cydhaselton commented on #21503
@weshaggard Thanks for clarifying. Just making sure I understand; it's possible to build coreclr for Linux.arm64.Debug, but not package it?

[2017-07-27 12:30] stephentoub commented on #21281
No.  While that's one use case, there are others, for example slicing a string to get a substring but without allocating/copying to a new one, or using stackalloc to get the memory to use with the span.

[2017-07-27 12:32] nicksav commented on #22646
Guys, the issue might be related to me running .net core 2.o prev 1 with libs from 1.2.  I have all code to 2 prev 2 Haven't seen this for 6 days. Before was quite often.

[2017-07-27 12:59] clrjunkie commented on #21281
I can appreciate the value of having a movable window over the String characters, but wouldn't resulting  Span of characters incur one allocation and one more when converting it back to String? Point being isn't this really beneficial when working with buffers (of characters in this case) from a pool?

I understand, but that's not part of above Api's contract.

[2017-07-27 13:07] stephentoub commented on #21281
No, Span is a struct.

No, there are many use cases where a heap-based pool isn't involved.  The ones I've already mentioned, others where you get native memory handed to you over interop, etc.

I don't understand the comment.  With spans, I can write a single method that works in terms of a span, and then I can pass to it a span that represents either managed or unmanaged memory, e.g.
[code]

[2017-07-27 13:10] steji113 commented on #8655
@JeremyKuhne / @karelz I just wanted to ping you guys regarding the previous question I had asked regarding documenting the API compat. Even though this is a sensible and hopefully intuitive change made in behavior, it is still a breaking change nonetheless in comparison to Desktop. Also, is this something that should perhaps be publicized / blogged about as it can potentially unblock downstream p

[2017-07-27 13:22] jnm2 commented on #22681
Why is DBNull in System.Net.NameResolution?

[2017-07-27 13:24] clrjunkie commented on #21281
Of course... but when slicing a *String Object* does the resulting Span point to the original memory of the String Object or does it point to new memory containing a partial copy of the String characters?

My question  and comment where specifically about the API's listed in this issue... not about different Span use-cases in general.

[2017-07-27 13:31] stephentoub commented on #21281
The original memory of the string object.

You wrote "in order gain value from all these overloads one would require to allocate the Span backed memory region from a pool of heap memory", which is explicitly stating that these APIs are tied to a specific Span use-case, and I'm saying that's not true.  For example, to pick an example at random (pun intended), if I want 100 random bytes, today I mig

[2017-07-27 13:33] am11 commented on #21281
@stephentoub, is `Buffer<T>` in the above proposal a new name for `Memory<T>`? If not, can you please point me to `Buffer<T>` spec? Thanks! :)

[2017-07-27 13:38] benaadams commented on #21281
If you want a smaller set, you don't even have to stackalloc and can address of a local var/struct e.g. for 8 random bytes
[code]

[2017-07-27 13:39] stephentoub commented on #21281
Yes, the name keeps going back and forth:
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/Buffer.cs#L15

[2017-07-27 13:50] davidsh commented on #7812
That information is already in this issue discussion by my comments above:

This was fixed in 10.0.14393. That means it is fixed in Windows Server 2016 since the RTM release of that server SKU was build 14393. For Windows 10, it means "Windows 10 Version 1607 (Anniversary Update)" which is build 14393. See: https://en.wikipedia.org/wiki/Windows_10_version_history

You can also workaround the probl

[2017-07-27 13:58] mconnew commented on #22597
I'm not trying to import it into any store at this point, I'm simply constructing an X509Certificate2 object. This works on .Net core on Windows and then can successfully use X509Store to import it into the user store. Even though you've provided a work around, full framework/.Net core code should work unmodified on UWP.

[2017-07-27 14:13] clrjunkie commented on #21281
Thanks.

byte* p = stackalloc byte[100];
var bytes = new Span<byte>(p, 100);
r.Next(bytes);

ulong l;
var bytes = new Span<byte>(&l, sizeof(ulong));
r.Next(bytes);

Those indeed show a clear use case... I suggest including within the text describing the motivation.

I would also suggest to state this as one of the motivations.

So I assume constructing a String with this ctor will allocate a new S

[2017-07-27 14:15] clrjunkie commented on #21281
Actually, it would be GREAT if you could include snippets like these along each API :)

[2017-07-27 14:15] stephentoub commented on #21281
It will allocate a new string and copy the data from the span:
https://github.com/dotnet/coreclr/pull/13075/files#diff-d2a641ec9b77a5ea1cc985bdec3e74efR680

[2017-07-27 14:20] clrjunkie commented on #21281
https://github.com/dotnet/coreclr/pull/13075/files#diff-d2a641ec9b77a5ea1cc985bdec3e74efR680

Then it's twice important to mention that a Span which is a result of a sliced String points to the original String memory, otherwise the use-case is not clear.

[2017-07-27 14:30] davidsh commented on #22674
Similar to #9228 root cause.

[2017-07-27 14:30] #22674 closed

[2017-07-27 14:36] ChristophAlbert commented on #7812
Well, I was actually hoping for something a little more detailed than "There were some additional bugs in the TLS/SSL handshake on Windows dealing with DHE cipher suites that did not deal with 127 bit length." - it's kind of difficult to judge whether an "additional bug" is afflicting my application  ;) - or if there is another problem in the infrastructure or client implementation.
Also, accordin

[2017-07-27 14:37] davidsh commented on #22610
Actually 1006 is the code that should be used if an "unclean" code happens, i.e. a close frame handshake fails to occur.

https://tools.ietf.org/html/rfc6455#page-42

endpoint (such as could occur if the underlying transport connection
is lost), _The WebSocket Connection Close Code_ is considered to be
1006.

[2017-07-27 14:40] davidsh commented on #7812
There was no detailed change log for this. If you can't control which servers you talk with, and you can't disable the DHE ciphers on the client, then you'll need to update the Windows OS on the client.

[2017-07-27 14:55] benaadams commented on #22610
Currently if the socket closes then you call `ReceiveAsync` on it, it will throw and it has a whole bunch of [exceptions](https://github.com/dotnet/corefx/blob/master/src/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketException.cs), so am questioning the api generally.

e.g. should the `ValueWebSocketReceiveResult` be shrunk to (since its by val)
[code]
If could return `Count == 0`; `End

[2017-07-27 14:58] bartonjs commented on #22597
@mconnew If it's just the user vs machine permissions, then the same PFX would fail if you tried to open it by a non-admin without specifying a scope.  A PFX normally goes into UserKeySet unless it has a marker within it saying it came from a machine key store, at which point not having a preference means to put it back.

So if this is just User vs Machine, I don't think any code change for UWP is

[2017-07-27 15:02] clrjunkie commented on #21281
@am11 Consider subscribing to https://github.com/dotnet/corefxlab/issues/1653 to get notified when the spec gets updated/finalized.

[2017-07-27 15:06] bartonjs commented on #22626
It just got missed when CryptoConfig finally made it back.  If @Petermarcu wants to take it this late I don't have an objection.  But I can't, with a straight face, say it's necessary.

[2017-07-27 15:34] #19789 closed

[2017-07-27 15:35] vancem commented on #17559
I believe the particular issue (not having access to the Channel property in the EventAttribute has been resolved (we basically added the necessary properties to the reference assemblies).

However this is not particularly useful, however things *Might* work on windows now that this is unblocked (We don't seem to have testing for channels on .NET Core .NET Native, so we should determine the level

[2017-07-27 15:45] stephentoub opened #22688 "Mark System.Memory package as stable for 2.1"
cc: @KrzysztofCwalina, @ahsonkhan

[2017-07-27 15:52] Petermarcu commented on #22626
We should get it fixed in 2.0.1

[2017-07-27 15:56] danmosemsft commented on #22681
@jnm2 it isn't. I see it moved from System.Data.Common to System.Runtime in 2.0, with a type forward.
@weshaggard can you figure what is going on?

[2017-07-27 15:59] onovotny commented on #22626
@Petermarcu as a library author, how do I know where the fix is and how to set baseline requirements? I can target `netstandard2.0`, but then what? There's no way for me to force that it needs `netcoreapp2.0.1` on that platform?

[2017-07-27 16:07] danmosemsft commented on #22677
5 secs, then 10 secs, now 30 secs, ...

[2017-07-27 16:09] danmosemsft commented on #22544
@JeremyKuhne has several other things to fix for UWP. Maybe @safern you could understand the necessary change from @JeremyKuhne and fix it?

[2017-07-27 16:11] danmosemsft commented on #22626
@Petermarcu may have a better answer, but I think you're right that if you target netstandard2.0 the only safe approach is to leave the workaround in. The purpose of servicing is to at least help folks who fully deploy the servicing release: they don't need the workaround in their own code.

[2017-07-27 16:11] danmosemsft commented on #22663
We should probably service for this.

[2017-07-27 16:12] tarekgh commented on #10054
@aalub I assume you are running on Windows. please confirm. Did you use the following line in your app initialization?

[code]

Also, it will be helpful to print Console.OutputEncoding before you print the first message.

[2017-07-27 16:19] Petermarcu commented on #22626
There are always going to be bugs in the platform implementations of .NET Standard that may require workarounds.

Yes, as long as you want to behave well on 2.0.0 you will have to use the workaround. The lifespan of 2.0.0 should be fairly short as support for it will die off quickly once we ship a 2.0.1 which I expect will only be a month or two out.  Apps will automatically roll forward to it, al

[2017-07-27 16:19] Petermarcu commented on #22626
Lets make sure we leave this in the 2.0.0 milestone so we don't lose track of it for the first update.

[2017-07-27 16:21] safern commented on #22544
Yes I will do so. I will investigate and work with him if I need to, to understand the necessary fix.

[2017-07-27 16:22] joperezr commented on #18083
Results of this run are here: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170726.42

Closing this issue as I feel it has served its purpose.

[2017-07-27 16:22] #18083 closed

[2017-07-27 16:24] onovotny commented on #22626
@Petermarcu one thing that'll help are regular telemetry releases that show the % of users who have what version deployed -- ideally would love a time-series chart to see as new versions are introduced and watch it exceed the current version.

[2017-07-27 16:24] safern commented on #19455
This is failing in uwp consistently.

[2017-07-27 16:27] Petermarcu commented on #22626
I agree. I think that would help everyone. We currently don't have any telemetry at runtime which would be the most accurate way to get this info but should be able to get a better understanding of the trend of which SDK they are using which also tells us all which runtime people are running on at dev time at least.

[2017-07-27 16:28] stephentoub opened #22690 "Add RandomNumberGenerator.GetBytes(Span)"
Currently RandomNumberGenerator provides a GetBytes method that takes a byte[].  We should add one that takes a Span<byte>.
[code]
cc: @bartonjs

[2017-07-27 16:29] Petermarcu commented on #22626
@richlander do we have the datapoint in the sdk to tell us which runtime they are running on and/or which runtime they are deploying with their SCD?

[2017-07-27 16:31] krwq commented on #22646
@nicksav thanks for trying out 2.0! I'll close this for now then since I can't see anything wrong with that code, please reopen if you see this again.

[2017-07-27 16:31] #22646 closed

[2017-07-27 16:42] krwq commented on #22646
Also, if it repros could you try also adding this to you App.Config?
[code]

or setting environmental variable on the server: `COMPlus_TailCallLoopOpt=1` - we recently have seen a JIT bug which was producing random NREs - this is a workaround

[2017-07-27 17:00] tijoytom commented on #22362
@VSadov Can you please take look ? there are System.Linq.Expressions tests

[2017-07-27 17:01] tijoytom commented on #22351
@trylek Tomas can you  please take look ?

[2017-07-27 17:04] shmao opened #22691 "Area-Serialization Sprint 122"
The issue is for tracking issues to be done in sprint 122 (due by 8/17/2017)

[2017-07-27 17:10] jamespettigrew commented on #18012
@dima117, I'd love to see how you got it working. I've got a library with the Mono serial port implementation building  just fine but I think I have a packaging issue as the DllImports fail to find MonoPosixHelper.

[2017-07-27 17:15] dima117 commented on #18012
@jamespettigrew, you can find MonoPosixHelper library in the [Mono.Posix.NETStandard package](https://preview.nuget.org/packages/Mono.Posix.NETStandard/1.0.0-beta1) in NuGet.

[2017-07-27 17:18] jamespettigrew commented on #18012
@dima117 It appears to be working now that I've referenced Mono.Posix.NETStandard in my CLI project. For some reason it's not being included in my library project's build output.

[2017-07-27 17:23] weshaggard commented on #22681
Looks like DBNull was an internal type in System.Net.NameResolution in the past So reflection could get that type however from the code I see there I don't know why you would get that error. I can understand the watch window might get that error because it looks at both public and private types.

@massi100 Are you also hitting that error at runtime?

[2017-07-27 17:24] weshaggard commented on #18083
Thanks @joperezr

[2017-07-27 17:38] danmosemsft commented on #18012
@dima117 we would love to include Unix/Mac support. One way to do this might be to follow the pattern of System.Drawing, which is to move the Mono code into CoreFX, and Mono pulls it from CoreFX via submodule. @mellinoe the motivation for doing that (rather than just pulling from Mono repo) was to include the Windows implementation in the same package, right?

I assume it is fine for CoreFX code t

[2017-07-27 17:39] danmosemsft commented on #22677
Let's see how often we hit this. So far it's once in 4 months.

[2017-07-27 17:39] #22677 closed

[2017-07-27 17:56] safern commented on #17925
This is failing in uwp-ilc and uwp-coreclr, @corivera could you take a look please?

[2017-07-27 17:58] weshaggard commented on #18012
We cannot depend on that package unless we pull the building of it into our closure for our build from source efforts. That is certainly possible but it will require work and we will need to think twice before taking that dependency.

[2017-07-27 18:03] weshaggard commented on #21503
That is correct until PR https://github.com/dotnet/coreclr/pull/12372 goes through.

[2017-07-27 18:07] jnm2 commented on #21281
@clrjunkie The design on Span has been full of examples and I'm not sure what you're saying is lacking. This particular thread? This thread is not to document or explain Span but to track the work to be done adding Span to existing BCL APIs.

[2017-07-27 18:15] shmao commented on #21706
Closing the issue as we get the same behaviors on .Net Core and .Net Framework.

[2017-07-27 18:15] #21706 closed

[2017-07-27 18:22] shmao commented on #19720
We'd like try the fix on .Net Framework and see if it would cause any regressions.

[2017-07-27 18:24] janvorli commented on #22620
Here is a Dockerfile contents I have just prepared for the CentOS 6 docker image. It contains all dependencies and tools necessary for dotnet core native parts build.

[code]

[2017-07-27 18:35] trylek commented on #22351
@tijoytom Well, when I first heard about this issue on Tuesday, Anton said that it was just an integration problem - the ProjectNRel bits didn't end up propagating to the UWP6.0 branch. Anton expected that the bug would be fixed the next day, I'm not sure if the recent build breaks didn't affect the integration process. Where can I double-check if the problem still reproes?

[2017-07-27 18:47] smile21prc commented on #22620
Hi, @MichaelSimons , Jan has create the CentOS 6 docker file above, what are the following steps to make sure the images created from it are in the lab?

[2017-07-27 18:48] tijoytom commented on #22351
@safern Can you please provide tomas with the link to latest failure ? It's definitely integration failure since @safern mentioned that it pass on master

[2017-07-27 18:50] #22475 closed

[2017-07-27 18:52] shmao commented on #19721
We have fix for the issue in Net Native toolchain. We'd like to port the fix.

[2017-07-27 18:52] safern commented on #22351
They are not failing anymore in rel branch. When they where reported as failing I suspect the release branch didn't have consumed the latest builds from ProjectNRel.

[2017-07-27 18:52] #22351 closed

[2017-07-27 18:53] danmosemsft commented on #22626
@ianhays can you please document this in https://github.com/dotnet/corefx/wiki/ApiCompat.

[2017-07-27 18:54] trylek commented on #22351
@safern Thanks a lot Santiago for your immediate action!

Tomas

[2017-07-27 18:58] clrjunkie commented on #21281
@jnm2 I don't know what documentation you are referring to but I'm only interested in the spec which is referenced in the issue I linked to. If you have made the effort to read it you would have noticed that it is work in progress and somewhat problematic especially on the examples side. So given information about Span/Buffer is scattered all over and this particular issue is not a gantt chart but

[2017-07-27 19:04] JonHanna opened #22695 "Poor wording of error message if first argument to dynamic constructor binding isn't a type."
#22333 fixed an issue with Microsoft.CSharp not handling erroneous calls to static methods well (#22331).

In doing so it also fixed a similar issue with calls to constructors. Unfortunately the error message added in #22333 specifically refers to static methods.

While the two cases could be distinguished, just rewording to cover both cases would probably suffice.

[2017-07-27 19:11] jnm2 commented on #21281
@clrjunkie

Yes, I did, and it the spec already answers every question you've brought up here had *you* made the effort to read it. I'm sorry to put it like this, but this is what it looks like from the outside:

[You:](https://github.com/dotnet/corefx/issues/21281#issuecomment-318313185)

Spec: Second sehttps://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md#introduction

[You:](https:

[2017-07-27 19:14] jnm2 commented on #21281
I'm all for examples of uses cases though, so please suggest away.

[2017-07-27 19:15] clrjunkie commented on #21281
@jnm2 Sorry, I'm not a native English speaker, was that supposed to be some kind of insult?

[2017-07-27 19:17] jnm2 commented on #21281
I'm sorry, not at all! "Please suggest away" means please make all the suggestions you can come up with.

[2017-07-27 19:19] jnm2 commented on #21281
And thanks for confirming what I meant rather than assuming. It can be tough and it really shows a good level of maturity not always seen! Much appreciated.

[2017-07-27 19:19] davidsh commented on #22593
Closing as duplicate of #7812.

[2017-07-27 19:19] #22593 closed

[2017-07-27 19:23] jnm2 commented on #21281
Other English idioms that mean the same thing, but some could sound like opposites 😆: "go to town," "have at it," "knock yourself out." Languages are funny things!

[2017-07-27 19:24] clrjunkie commented on #21281
@jnm2 Ah :)) No worries! but let's see first if the ones I suggested so far get in.. they would really get a readers notice if they are presented in the context of the motivation

[2017-07-27 19:24] jkotas opened #22697 "Random exceptions with System.Net.Http.WinHttpHandler"
_From @hanabi1224 on July 27, 2017 18:34_

It randomly(at very low chance) throws 'An item with the same key has already been added.' when SendAsync being called, and same issue never happen after removing  WinHttpHandler
Package version: 4.3.1
.Net version: 4.6.2
OS: Azure guest OS 5-*
Http version: 2.0

_Copied from original issue: dotnet/coreclr#13086_

[2017-07-27 20:02] #20358 closed

[2017-07-27 20:22] clrjunkie commented on #21281
BTW, Shalom to all from Tel-Aviv!

[2017-07-27 20:25] davidsh commented on #22697
@hanabi1224

Interesting bug report but there is no actionable information to debug this.

Can you please attach a call stack and/or process dump?

[2017-07-27 20:46] ianhays commented on #22626
@danmosemsft sure thing :)

[2017-07-27 20:48] danmosemsft commented on #22626
This needs fixing in more places:
[code]

[2017-07-27 20:52] VSadov commented on #22362
Since this is ARM only and the test is running in interpreter mode, this is most likely a problem with reflection.

[2017-07-27 21:09] corivera commented on #22661
Managed to repro the issue. Looking into it.

[2017-07-27 21:10] cydhaselton commented on #21503
@weshaggard But if I have a private build of a coreclr linux-arm64 package, I should be able to use it and run a successful build by specifying /p:OverridePackagePath=/path/to/Product/Linux.arm64.Debug?

[2017-07-27 21:10] corivera commented on #22624
The repro scenario in the following issue hits this debug assert immediately, so it may be related.
https://github.com/dotnet/corefx/issues/22661

[2017-07-27 21:14] corivera commented on #22661
When connection pooling is disabled, the number of MARS connections in this file keep accumulating and are never disposed: https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIMarsManager.cs#L16

Working on a fix.

[2017-07-27 21:19] DavidGoll commented on #20470
Ultimately, this is a tooling issue and we should try to work around it in our implementation. Keeping this issue open, but moving it to 2.1.0.

[2017-07-27 21:22] davidsh opened #22700 "ManagedHandler: Failing AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection test"
Discovered while working on PR #22702. The managed handler is not changing/keeping the correct HTTP methods on the various redirect status codes:

AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection

[2017-07-27 21:29] MichaelSimons commented on #22620
@janvorli, The next step would be to create a PR for this new Dockerfile at https://devdiv.visualstudio.com/DevDiv/_git/DotNetCore?path=%2Fdockerfiles.  I would suggest consolidating some of the commands to reduce the number of layers produced in the resulting image.  Additionally it looks like some tar files could be cleaned up to reduce the size of the resulting image.

[2017-07-27 21:34] corivera commented on #22661
@ipinak Looks like the workaround for this issue is to set Pooling=true

[2017-07-27 21:39] davidsh commented on #22700
cc: @stephentoub

[2017-07-27 21:46] janvorli commented on #22620
@MichaelSimons my experience with creating Dockerfiles and building images out of them is quite small - in fact, this is my first Dockerfile ever. I have assumed that docker would be somehow able to consolidate all the layers at the end of the build or using some command. Obviously I was not right.

[2017-07-27 21:51] janvorli commented on #22620
Hmm, which docker version do we use? The docker 1.13 has a `--squash` option that does what I was assuming - squashes all the layers into one after the build is done.

[2017-07-27 22:00] davidsh commented on #22191
PR #22702 changes how redirection works and we know can workaround this limitation in the WinRT layer.

[2017-07-27 22:01] MichaelSimons commented on #22620
The `--squash- option is only supported when running with experimental features enabled.  In general using the `squash` option is not a good practice IMO because it prevents the use of shared layers.  This is not really applicable here but it is used in the other dockerfiles we use for official builds.

[2017-07-27 22:18] weshaggard commented on #21503
Yes in theory which is what I was asking/suggesting earlier.

[2017-07-27 22:29] shmao commented on #21942
We decided to not fix the issue in .Net Core for now because there's some simple workarounds for the issue. One of the workarounds is to modify the derived class as shown below,

[code]

[2017-07-27 22:31] krwq opened #22705 "Xml test case disabled on UAP needs to be reenabled on RS4"
This is a Windows issue and will likely be fixed on RS4. It is related to frequently changing culture.
Converting this test case to use RemoteInvoke is significantly increasing test execution time (from seconds to minutes).

[code]

_change is still pending in the PR_

[2017-07-27 22:42] joshfree commented on #19455
@DrewScoggins PTAL while @brianrob is OOF

[2017-07-27 22:49] tannergooding commented on #16428
@mellinoe, any chance we could move this to 'API ready for review'?

[2017-07-27 22:51] davidsh opened #22707 "AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection failing"
AllowAutoRedirect_True_ValidateNewMethodUsedOnRedirection(statusCode: 300, oldMethod: \"POST\", newMethod: \"GET\")

PR #22702 and the added tests has exposed that CurlHandler is not changing HTTP method verbs appropriately for certain redirect status codes.

Ref: https://mc.dot.net/#/user/davidsh/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/2621566904aabc833bf3515748c9c62

[2017-07-27 22:54] davidsh commented on #22707
cc: @stephentoub

[2017-07-27 22:57] danmosemsft commented on #21156
@pjanotti I forgot to ask -- presumably using this API will require us to add a uap configuration to this library?
Either way, if it needs a code change to work on UWP, you should make sure @joperezr knows, as we will need to ship it. As it is, it probably won't ship from the UWP branch since it's not UWP specific currently.

[2017-07-27 22:58] danmosemsft commented on #18012
Interesting. @eerhardt are you aware of other cases where we might want to take a dependency from CoreFX onto Mono.Posix? I believe you had ideas for other Unix libraries we could offer, and those presumably would sit on Mono.Posix. So you will need to solve this problem.

[2017-07-27 23:00] danmosemsft commented on #18012
@dima117 @jamespettigrew I'm also curious what your code uses serial ports for? For newly written code, we'd probably direct them to a different library, since the System.IO.Ports API's are not necessarily satisfactory. We've ported them mainly for preexisting code.

[2017-07-27 23:03] pjanotti commented on #21156
@danmosemsft and @joperezr  Yes, this requires UAP configuration since we need to use a different API.

[2017-07-27 23:07] danmosemsft commented on #22646
Thanks guys, I was starting to not trust my eyes.

[2017-07-27 23:12] jamespettigrew commented on #18012
@danmosemsft I'm using it to communicate over RS-485 for a Linux based IoT type HVAC application. I'm not aware of any other suitable libraries, have I missed some?

[2017-07-27 23:14] stephentoub commented on #22707
What are you defining as the correct behavior here? We rely on curl's default semantics, described in https://curl.haxx.se/libcurl/c/CURLOPT_POSTREDIR.html.

[2017-07-27 23:14] danmosemsft commented on #18012
@jamespettigrew ha, no I just assumed they existed. @willdean do you know of any?

[2017-07-27 23:19] poizan42 commented on #21942
@shmao yes there are simple workarounds, but thats a code smell. Would you accept a PR for this?

[2017-07-27 23:20] #22534 closed

[2017-07-27 23:25] davidsh commented on #22707
The RFC itself.  Also, the test work on .NET Framework, .NET Core (Windows, i.e. using WinHTTP) and UWP (Wininet).

[2017-07-27 23:30] nicolasr75 commented on #18012
@jamespettigrew @danmosemsft  I did a few tests with https://github.com/jcurl/SerialPortStream and was able to connect to my z-wave usb stick from an rpi with Ubuntu. That will hopefully allow me to talk to z-wave compatible sensors and actors for home automation.

[2017-07-27 23:41] mellinoe commented on #16428
@tannergooding Does the first post contain the additions you'd like to move forward with? Those look ok to me.

[2017-07-27 23:43] tannergooding commented on #16428
Yes. The first post was cleaned up to contains just the APIs I believe we should move forward with.

[2017-07-28 00:08] mellinoe commented on #16428
@tannergooding Okay -- looks reasonable. I've marked it ready for review.

[2017-07-28 00:16] mconnew commented on #9672
It's a spec violation which means when communicating with a server which is strict, authentication may not be possible.

[2017-07-28 00:17] DavidGoll commented on #22110
We have determined that this is *not* a product issue, so I have re-tagged as a test bug and set the milestone to Future.

@caesar1995 to provide the details

[2017-07-28 00:26] shmao commented on #21942
@poizan42 Yes, we accepts PRs as long as they are good. Please feel free to submit a PR for this. The fix probably can be made at this [line](https://github.com/dotnet/corefx/blob/befefc6d398f8e41184091453162b518f4793953/src/System.Private.Xml/src/System/Xml/Serialization/Mappings.cs#L653). The fix might be simple, but it might cause other regressions. Given that there're simple workarounds for th

[2017-07-28 00:29] PavelSafronov commented on #21227
@davidsh and @stephentoub, do you know what's causing this? I've been trying to reproduce the issue using just HttpClient - in the hopes of identifying a possible workaround - but haven't been able to hit the specific case that causes the problematic socket reuse behavior.

[2017-07-28 00:58] stephentoub commented on #22707
I'm missing it somehow. Can you point me to the relevant part of the RFC that discusses this for status code 300?

[2017-07-28 01:27] jnm2 commented on #16428
I can't wait to use these!

[2017-07-28 02:36] Jiayili1 commented on #22464
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170727.02/workItem/System.Net.WebSockets.Client.Tests.Execution/analysis/xunit/System.Net.WebSockets.Client.Tests.CloseTest~2FCloseAsync_DuringConcurrentReceiveAsync_ExpectedStates(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx)

[2017-07-28 02:58] mazong1123 opened #22711 "Add more performance tests for double.ToString()"
Per https://github.com/dotnet/coreclr/pull/12894#issuecomment-318065901 and  https://github.com/dotnet/coreclr/pull/12894#issuecomment-318425886 , we need to add more tests to cover all scenarios of double.ToString().  So that when new implementation of double.ToString() included by CoreFX, we can know the exact performance gain.

Current double.ToString() performance tests are not enough: https:/

[2017-07-28 04:47] dagood opened #22713 "All 2.1.0 branches create Microsoft.NETCore.Platforms with the same fixed version"
`master`, `release/uwp6.0`, and ~~`release/defaultintf`~~`dev/defaultintf` all produce `Microsoft.NETCore.Platforms 2.1.0-preview1-25324-02`:

[build-info/dotnet/corefx/master/Last_Build_Packages.txt#L2](https://github.com/dotnet/versions/blob/356894fb584a6a16010f894f7723176b18166dd9/build-info/dotnet/corefx/master/Last_Build_Packages.txt#L2)
[build-info/dotnet/corefx/release/uwp6.0/Last_Build_Pac

[2017-07-28 05:33] aalub commented on #10054
Yes, confirm. Windows 8.1 Enterprise x64, localized.

No. The code quoted above is the entire contents of the `Main()` method. It was just a "HelloWorld", you know. And my .NET Core instance (neither 1.0 nor 1.1) won't find the name CodePagesEncodingProvider, sorry.

Tested. The same. It outputs `System.Text.UTF8Encoding` even if it's the only statement in `Main()`.

[2017-07-28 05:37] aalub commented on #10054
@svick, thank you very much! You are helpful.

[2017-07-28 06:24] Jiayili1 commented on #20390
Failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug/123/testReport/System.Net.Http.Functional.Tests/ManagedHandler_DiagnosticsTest/SendAsync_ExpectedDiagnosticStopOnlyActivityLogging/

[2017-07-28 06:37] dima117 commented on #18012
@danmosemsft I'm using it to communicate with [FT232R](http://www.ftdichip.com/Drivers/VCP.htm) device over USB on MacOS and Linux.

@nicolasr75 I have tested SerialPortStream library too, but it not works for me. SerialPortStream depends on unmanaged `libnserial` library, which I can't compile (on MacOS). When I try to compile it, I see uninformative error message. I also [asked for help](https:/

[2017-07-28 07:25] willdean commented on #18012
Alternatives to SerialPort on unix?  I don't know much about it, but SerialPortStream is the main alternative to SerialPort.  I don't personally have as much of a problem with SerialPort as some of the world seems to, so I'm not really up on the alternatives.

[2017-07-28 09:06] aalub commented on #10054
@svick , yes, dotnet/cli shows the issue is gone in .NET Core 2.0 preview 2: a console program prints correct text without any workarounds. Still I can't see 2.0 in Visual Studio 2017: I employ version 15.2 which they say is hard coded for 1.x, and 2.0 can install only on VS2017 version 15.3 which is a preview. So I'll wait.

Thanks again.

[2017-07-28 09:14] nicolasr75 commented on #18012
@dima117 Can't say much about MacOS. I had to compile `libnserial` myself too to get it working on ARM but that worked without any issues. You may want to check the tips I got here https://github.com/jcurl/SerialPortStream/issues/29

[2017-07-28 09:27] Jiayili1 opened #22719 "System.Data.SqlClient.Tests.AmbientTransactionFailureTest.TestSqlException failed with "System.InvalidOperationException" in CI"
Failed Test: System.Data.SqlClient.Tests.AmbientTransactionFailureTest.TestSqlException

Configuration: outerloop_netcoreapp_rhel7.2_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_release/122/testReport/System.Data.SqlClient.Tests/AmbientTransactionFailureTest/TestSqlException_connectAction__Action_1___Method___Void___cctor_b__13_0_System_String__

[2017-07-28 10:06] dima117 commented on #18012
@nicolasr75 Yes, `libnserial` compiles fine on Linux, but it not compiles on MacOS out of box. Now I see this error message
[code]

[2017-07-28 12:54] jnm2 commented on #22646
Do you think the JIT bug is also responsible for VS refusing to close and giving me a message box with the text of the NRE message? https://developercommunity.visualstudio.com/content/problem/61470/visual-studio-2017-object-reference-exception-when.html?childToView=85733#comment-85733

[2017-07-28 13:00] cydhaselton commented on #21503
@weshaggard: Sorry, difficult keeping suggestions for corefx and core-setup straight.
I mentioned [here](https://github.com/dotnet/corefx/issues/21503#issuecomment-317276355) that I did use the /p:OverridePackagePath with my local `/path/to/bin/Product/Linux.arm64.Debug` during the core-setup build; unfortunately I get the same error mentioned earlier.

Build command:
[code]

[2017-07-28 14:49] dagood opened #22721 "The release/1.1.0 branch produces old stable-versioned Compression packages"
4.3.0 versions of `runtime.[non-windows].runtime.native.System.IO.Compression` are being produced and pushed to MyGet dotnet-core. ([build-info/dotnet/corefx/release/1.1.0/Latest_Packages.txt](https://github.com/dotnet/versions/blob/9ad683d7d73031d00f0d2a60d9ebc1feea57781f/build-info/dotnet/corefx/release/1.1.0/Latest_Packages.txt))

This is now causing build failures because overwriting is disabl

[2017-07-28 14:50] ipinak commented on #22661
Ok, I will try it out. Thank you!
Do you know on which version will this be released?

[2017-07-28 15:27] ViktorHofer commented on #22705
The first RS4 build is already available: Windows 10 Build 16251 (rs_prerelease). Might the fix already be included there?

[2017-07-28 15:32] krwq commented on #22646
@jnm2 - I do not know about that (I doubt it though) but you can definitely try if you got consistent repro - I think the JIT bug is already fixed in new versions of clr but it might take a while until fix is being consumed everywhere.

Usually if you provide a step by step instruction how to recreate a bug it is being fixed fairly quickly. If you do not have a consistent repro then when it happen

[2017-07-28 15:34] krwq commented on #22705
@ViktorHofer I do not see the repro on my box anymore at all (not sure if that was after syncing, luck or my Windows got updated), the CIs have consistent repro since they run on RS2

[2017-07-28 15:39] ViktorHofer commented on #22705
I see. We also have RS3 CIs, right? Is it failing for those too?

[2017-07-28 15:43] tarekgh commented on #10054
Could you please add a reference to the package System.Text.Encoding.CodePages and then add the line

[code]

in your app initialization and let's know if you see any difference.

[2017-07-28 15:44] ericstj commented on #22713
What's the versioning story for this branch?  Typically when we branch for release we'll assign some version of the packages and then increment master (either through version or pre-release string).  It looks like that wasn't done here.

I suspect that's because the UWP branch isn't expected to ship many of the packages.  In that case, perhaps you should just disable build of Microsoft.NETCore.Pla

[2017-07-28 15:46] jnm2 commented on #22646
I don't have a consistent repro, so I will do that.

[2017-07-28 15:49] krwq commented on #22030
Closing, please reopen if you find some bug in above grammar dependency check.

[2017-07-28 15:49] #22030 closed

[2017-07-28 15:51] ericstj commented on #22721
@ianhays can you fix this?  I can't recall if you intended to not rebuild those x-plat packages (and should exclude them) or if you wanted to build them and increment the versions.

[2017-07-28 15:51] ericstj commented on #22713
/cc @joperezr

[2017-07-28 15:55] krwq commented on #22705
@ViktorHofer I think I didn't see RS3 but I'm not 100% sure, I think this should fail on RS3 as well - AFAIK Windows bug is not fixed yet. (There were actually two similar bugs around setting cultures frequently - for one of them @tarekgh has added a workaround on our side - this test case is hitting the other issue which we do not have any good workaround for)

[2017-07-28 16:04] tarekgh commented on #22705
@krwq my understanding you were going to fix the test to avoid such case. did you do that?

Also if the issue consistently repro, could you please create a iDNA dump file we can look more at it and send it to the WinRT team? I was going to do that later as it was not a high priority. don't assume Windows has a fix in RS4.

[2017-07-28 16:07] joperezr commented on #22670
Ok so after doing the investigation, I found packages that basically fall into one of three categories as follows:

- Packages which assets are not part of the UAP MP, and they have a `netstandard` build configuration that we package as UAP:
[code]

- Packages which assets are not part of the UAP MP, and they have a `uap` build configuration:
[code]

- Packages which assets are part of the RID-spe

[2017-07-28 16:08] joperezr commented on #22670
@weshaggard is the idea to test all 7 of them to make sure they work just fine with .NET Core 2.0? Or only the packages on the second and third bucket?

[2017-07-28 16:08] joperezr commented on #22670
cc: @ericstj as FYI.

[2017-07-28 16:10] krwq commented on #22705
@tarekgh it has stopped happening on my box after I rebased but still happening on the CI - I have converted it to use RemoteInvoke but since this case is a fairly large theory with hundreds of test cases it has increased the test runtime from seconds to minutes - I decided to disable that instead on UAP as it is not worth it

[2017-07-28 16:12] Petermarcu commented on #22670
Question for me is why not just add the 2nd two categories to the MP?

[2017-07-28 16:19] ericstj commented on #22670
Shoudn't that be going away now that UAP is getting a netstandard2 mapping?  If so I suspect we wouldn't necessarily need to reship them (unless we needed to make fixes for UAP).

Is this actually going stable?  If so then I think we should put it in the MP.  It'll have type-forwards to the core-assembly (I think) so we shouldn't really be shipping it in a package.

For these  (and SqlClient and A

[2017-07-28 16:27] joperezr commented on #22670
We totally can do that. The reason why we didn't do it from the beginning is because the plan on constructing what went in the MP was:
 - Libraries that were there on the last shipped stable UAP MP
 - Full closure of netstandard.dll
 - assemblies that are required in order to make libraries from the above points api closure complete.

The four packages above (excluding System.Memory since I believ

[2017-07-28 16:27] joperezr commented on #22670
Correct. That is why I wanted to put them in a separate bucket, as I suppose they will be a no-op once we have the mapping in place.

[2017-07-28 16:29] Petermarcu commented on #22670
Should we get the packages right right away and have people use "imports" to reference them if they need to?

[2017-07-28 16:41] davidsh commented on #22707
The 300 status code (multiple choice) behaves in a similar fashion to 301, 302.  The RFC isn't very crisp on the 300 response code.

https://tools.ietf.org/html/rfc7231#page-55

It isn't really used much in practice since the default Location: response header is used by all browers and stacks today.  In addition, we should have the behavior be aligned among .NET Framework and the rest of .NET Core

[2017-07-28 16:49] joshfree commented on #22713
We discussed this with @ellismg before creating /release/uwp6.0 branches.  The intent was to use -preview1 for the release branch and -preview2 for master.  Looks like master was not bumped to preview2 properly

[2017-07-28 16:53] KostaVlev opened #22723 "System.Drawing.Imaging.Metafile(filename, referenceHdc) throws wrong Exception when filename is not valid on netcoreapp"
**Test Invalid path:**

[code]

**Expected:** `System.ArgumentException`

**Actual:**
netfx `System.ArgumentException`
netcoreapp `typeof(System.Runtime.InteropServices.ExternalException): A generic error occurred in GDI+.`

**Test Path Too Long:**

[code]

**Expected:** `System.IO.PathTooLongException`

**Actual:**
netfx `System.IO.PathTooLongException`
netcoreapp `typeof(System.Runtime.InteropSe

[2017-07-28 16:54] joshfree commented on #22713
@joperezr is going to assist per offline thread

[2017-07-28 17:21] DavidGoll commented on #22021
Not blocking UWP6.0... just something we want to dig into before too long.

[2017-07-28 17:29] joshfree commented on #22545
/cc @AntonLapounov since this is ILC and not CoreCLR

[2017-07-28 17:30] ianhays commented on #22721
Yeah, I'll fix this. We don't need to be pushing new versions of the non-windows packages.

[2017-07-28 17:31] weshaggard commented on #22670
Yes I'm fine moving those packages to the UAP platform package. It looks like a couple of them still have WACK violations that will need to be addressed.

Do we have a nuget issue to track the mapping? Or has it been added already?

[2017-07-28 17:31] dagood commented on #22713
(Typo'd in the description: `dev/defaultintf`, not `release/defaultintf`.)

This package looks like a weird special case because for some reason it's being treated as a dependency, but also building at the same version it depends on. Without very intentionally overwriting packages, this just doesn't make sense. (@joperezr See the pkgproj and dependencies.props I linked in the desc.)

[2017-07-28 17:38] weshaggard commented on #21503
Are the nupkg files in `/build/core/coreclr/bin/Product/Linux.arm64.Debug` I think they are under `/build/core/coreclr/bin/Product/Linux.arm64.Debug/.nuget/pkg`.

[2017-07-28 17:54] mahoekst opened #22725 "Cannot connect to SQL Server from UWP: HResult=0x80131904"
When trying to connect to SQL from UWP I get an exception. Same code works from a console. Tried local database and 1 in azure.

System.Data.SqlClient.SqlException occurred
  HResult=0x80131904
  Message=A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and th

[2017-07-28 18:18] joperezr commented on #22713
right, found the root cause. I'll put up a PR for master and then port it to the other two branches.

[2017-07-28 18:52] danmosemsft commented on #22670
I know of no outstanding wack issues other than createfile and shgetknownfolderpath (on jeremy) and some that haven't got to rsmaster yet. @pjanotti has the details and can look at any you are referring to.

[2017-07-28 19:01] weshaggard commented on #22670
This is the one I noticed while looking at the libraries in question https://github.com/dotnet/corefx/blob/release/uwp6.0/src/System.Security.Principal.Windows/src/PinvokeAnalyzerExceptionList.analyzerdata.uap

[2017-07-28 19:09] danmosemsft commented on #22670
They fixed that, not in master yet

[2017-07-28 19:13] cydhaselton commented on #21503
@weshaggard They're in `/build/core/coreclr/bin/Product/Linux.arm64.Debug/.nuget/pkg`, but the docs specifies `/build/core/coreclr/bin/Product/Linux.arm64.Debug` so I assumed the build had code to locate the package dir.

I'll try with `.nuget/pkg` added

[2017-07-28 19:21] cydhaselton commented on #21503
@weshaggard Same error.  I don't know if it matters but the error is always thrown immediately after this part in the build
[code]

[2017-07-28 19:48] joperezr commented on #22713
fixed in all 3 branches.

[2017-07-28 19:48] #22713 closed

[2017-07-28 19:49] joperezr commented on #22670
fixed by #22732

[2017-07-28 19:49] #22670 closed

[2017-07-28 20:18] jamesqo commented on #14336
What is the status of this proposal? @karelz, it looks like @joperezr has added a formal proposal [here](https://github.com/dotnet/corefx/issues/14336#issuecomment-270446899), maybe this is ready-for-review?

[2017-07-28 20:32] joperezr commented on #21156
that is a good catch @danmosemsft, as he points out, the way we have it now means that we won't be shipping this binary for UWP since it's not part of the metapackage. In case we do want to ship System.IO.Ports for UAP then I would suggest adding the uap configuration now and then consider to add this to the metapackage since we probably won't want to publish this as it's own package (cc: @weshagg

[2017-07-28 20:55] pjanotti commented on #21156
@joperezr I still do not have a stable build to validate this but I can start a PR soon (there is one last issue that I need to fix). That way we can be ready as soon as I am able to run the tests.

[2017-07-28 21:32] weshaggard commented on #21503
Sorry for not thinking about this earlier but did you update the version of the runtime package you are using in your branch? It should match the version you have in our local build. You will need to update the version here https://github.com/dotnet/core-setup/blob/release/2.0.0/dependencies.props#L22

[2017-07-28 21:47] hanabi1224 commented on #22697
@davidsh I can never repro it locally but if someone can pass me a debug build of System.Net.Http.WinHttpHandler I can help get stacktrace

[2017-07-28 21:52] #17462 closed

[2017-07-28 21:53] davidsh opened #22735 "HttpClient test SendAsync_RequestVersion20_ResponseVersion20 fails"
See discussion in PR #22702:

Outerloop tests for .NET Core and UWP are failing on this test:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_true_prtest/16/

It looks like the www.microsoft.com server is not using HTTP/2.0 protocol today. Our tests assume that this server always uses HTTP/2 protocol. Don't know if this is temporary

[2017-07-28 21:59] davidsh commented on #22735
cc: @stephentoub

I will push a commit to my active PR #22702 to disable this test for now.

[2017-07-28 22:06] ChadNedzlek commented on #21127
I believe the retry logic has fixed this fairly well, so I'm going to close this issue unless someone sees this again (we also have more explicit logging around this now)

[2017-07-28 22:06] #21127 closed

[2017-07-28 22:15] cydhaselton commented on #21503
@weshaggard Updated the property in core-setup and corefx.  The managed build still fails in corefx with the same error, but in a different part of the build, but core-setup is failing with a different error
core-setup:
[code]
[code]

[2017-07-28 22:27] weshaggard commented on #21503
That is an indication that you don't have the matching linux-arm64 package from corefx which probably isn't built yet. We are going to need to get that building first. Lets focus on the corefx build until we get it working.

That tells me that it didn't find your package. Are you passing the OverridePackagePath to option to corefx build? https://github.com/dotnet/corefx/blob/master/dir.props#L68.

[2017-07-28 22:33] MattGal commented on #21127
+1.  Haven't seen any repros since 6/19.

[2017-07-28 22:59] CIPop commented on #22735
We could use https://http2.akamai.com  instead maybe?

[2017-07-28 22:59] davidsh commented on #22735
Yes. We can submit a PR to re-enable this test and change the http/2 test server after #22702 gets merged

[2017-07-28 23:33] CIPop commented on #21738
@davidsh I've properly installed all certificates and all tests pass if the user presses "Allow" within the 15s timeout.

[2017-07-28 23:35] karelz commented on #14336
If @joperezr thinks it is ready, please update top post with final proposal and mark it api-ready-for-review.

[2017-07-28 23:36] karelz commented on #8655
I let area experts (@JeremyKuhne @ianhays) decide if we need to add it to the API compat tool and how.

[2017-07-28 23:43] #9003 closed

[2017-07-28 23:43] #22191 closed

[2017-07-28 23:44] cydhaselton commented on #21503
@weshaggard I was using `CoreCLROverridePath` as per build instructions [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits). I'll try `OverridePackagePath`

[2017-07-29 00:04] cydhaselton commented on #21503
@weshaggard same error with corefx build using `OverridePackagePath`

[2017-07-29 00:16] weshaggard commented on #21503
OK I've been getting this issue as well as another issue (https://github.com/dotnet/corefx/issues/22509) mixed up in my head. To make sure we are on the same page let me ask a few questions:

- For your work are you based off of master?
- I assume you have successfully built coreclr repo with the linux-arm64 packaging PR?

Assuming that is true we should focus on getting corefx successfully buildi

[2017-07-29 00:18] karelz commented on #22658
Are you asking about CoreFX build system or in general?
cc @weshaggard @ericstj

[2017-07-29 00:40] cydhaselton commented on #21503
@weshaggard: Yes, to both questions. And corefx build works using `/p:OverridePackageSource`,  so we have a successful Linux.arm64.Debug build for corefx.

[2017-07-29 00:44] weshaggard commented on #21503
It works now? I thought you said it had the same error earlier.

If it works then the next step is to make sure the corefx build produces the necessary linux-arm64 packages which is PR https://github.com/dotnet/corefx/pull/21236. If you get that fully working then you can start working on the core-setup build making sure the override path you point it at contains but the coreclr and the corefx pac

[2017-07-29 00:49] cydhaselton commented on #21503
If failed when I used `OverridePackagePath`.  I changed it to `OverridePackageSource` and it worked.

What param is used to specify the corefx packages? Or is it `OverridePackageSource` as well?

[2017-07-29 00:56] karelz commented on #21534
@lajones @divega @ajcvickers can you please review the API? There is pending implementation by @blackstarzes. Thanks!

[2017-07-29 01:00] karelz commented on #21534
Temporarily assigning to myself. @blackstarzes please ping me when you accept the invitation, so that I can assign the issue to you ...

[2017-07-29 01:04] cydhaselton commented on #21503
@weshaggard A RID question: I'm working on building and packaging clr, fx and setup for Android. As part of that effort android.21-arm64 has been added as a RID in PR #16729 and dotnet/coreclr#10286. Why is it necessary to have this RID if packaging will be using linux-arm64?  Where does the android RID fit in to this layout?

[2017-07-29 02:50] #21738 closed

[2017-07-29 07:51] damageboy commented on #2209
@redknightlois I really like attacking this through roslyn suggestions. I'm the last person to willingly push forward the cryptic naming, but it really helps with getting stuff off the ground...

[2017-07-29 08:50] christiannagel commented on #21629
GetHashCode is already overridden with Span and throws a NotSupportedException.
Wouldn't it be useful to have the same approach with GetHashCode and ToString? The overridden GetHashCode also doesn't take care of all other byreflike structs.

I found good information about this issue in the C# proposals:
https://github.com/dotnet/csharplang/blob/master/proposals/span-safety.md

[2017-07-29 12:11] KostaVlev opened #22741 "System.Drawing.Imaging.Metafile(Stream) throws wrong Exception when Stream is Null on netcoreapp"
**Test Null Stream:**

[code]

Expected: `System.ArgumentException`

Actual:
netfx `System.ArgumentException`
netcoreapp `System.ArgumentNullException`

**Edit**
Forgot to reference related issue  (#20711)

[2017-07-29 12:31] JonHanna commented on #22741
Throwing a more derived exception is an improvement the [breaking change rules](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/breaking-change-rules.md#exceptions) allow.

[2017-07-29 12:49] jnm2 commented on #2209
You could make Roslyn fixes that work without the interop class too.

[2017-07-29 14:08] sdmaclea commented on #21503
@weshaggard
 CoreCLR and CoreFX both cross build successfully using a Ubuntu Xenial ROOTFS.

CoreCLR ubuntu CI is running, but it is not green yet,  @jashook has been working on it over the last few months.  The failed test list needs to be updated and some unexplained CI weirdness needs to be fixed.

CoreFX CI is not building arm64 native packages automatically, so that piece is missing.  No one

[2017-07-29 16:09] dotnet-mc-bot opened #22744 "Test failure: System.Net.Http.Functional.Tests.HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20(server: https://www.microsoft.com/)"
Opened on behalf of @joshfree

The test `System.Net.Http.Functional.Tests.HttpClientHandlerTest/SendAsync_RequestVersion20_ResponseVersion20(server: https://www.microsoft.com/)` has failed.

Assert.Equal() Failure\r
    Expected: 2.0\r
    Actual:   1.1

        Stack Trace:

           at System.Net.Http.Functional.Tests.HttpClientHandlerTest.<SendAsync_RequestVersion20_ResponseVersion20>d__91.Mo

[2017-07-29 16:11] dotnet-mc-bot opened #22745 "Test failure: System.IO.Tests.Perf_FileStream/Write(useAsync: False, bufferSize: 1, totalSize: 200000)"
Opened on behalf of @joshfree

The test `System.IO.Tests.Perf_FileStream/Write(useAsync: False, bufferSize: 1, totalSize: 200000)` has failed.

System.UnauthorizedAccessException : Access to the path 'C:\\Users\\DotNetTestRunner\\AppData\\Local\\Packages\\5cd54353-3ed7-4a6e-a72f-db349f28867c_v52bfwc2c21ha\\AC\\Temp\\Perf_FileStream_bnuz2qjb.aqh\\Write_104_e160e71a' is denied.

        Stack Trace:

[2017-07-29 16:13] dotnet-mc-bot opened #22746 "Test failure: System.Net.WebSockets.Client.Tests.KeepAliveTest/KeepAlive_LongDelayBetweenSendReceives_Succeeds"
Opened on behalf of @joshfree

The test `System.Net.WebSockets.Client.Tests.KeepAliveTest/KeepAlive_LongDelayBetweenSendReceives_Succeeds` has failed.

System.Net.WebSockets.WebSocketException : The WebSocket is in an invalid state ('Aborted') for this operation. Valid states are: 'Open, CloseSent, CloseReceived, Closed'

        Stack Trace:

           at System.Net.WebSockets.WinRTWebSocket.Che

[2017-07-29 16:41] jnm2 commented on #22646
@krwq Here you are. https://developercommunity.visualstudio.com/content/problem/86999/cannot-close-vs-shows-simple-object-reference-is-n.html

[2017-07-29 17:44] KostaVlev opened #22747 "System.Drawing.Imaging.Metafile.GetMetafileHeader(String) throws wrong Exception when String is not valid path on netcoreapp"
**Test Path Too Long:**

[code]

**Expected**: `System.IO.PathTooLongException`

**Actual:**
netfx `System.IO.PathTooLongException`
netcoreapp `System.ArgumentException`

**Test Null path:**

[code]

**Expected**: `System.ArgumentNullException`

**Actual:**
netfx `System.ArgumentNullException`
netcoreapp `System.ArgumentException`

 (#20711)

[2017-07-29 18:27] davidsh commented on #22744
Duplicate of #22735.  Test is already disabled in master branch.

[2017-07-29 18:27] #22744 closed

[2017-07-29 18:27] davidsh commented on #22744
cc: @joshfree

[2017-07-29 19:12] cydhaselton commented on #21503
@sdmaclea Couple of questions:

1.  Do your cross-built CoreCLR packages use the ubuntu.16.04-arm64 RID or linux-arm64?
2.  If the answer to #1 is linux-arm64, would the CoreFX and Core-Setup packages use the same naming conventions?
3. Does the successful corefx/coreclr cross-builds include .nuget package generation?

@weshaggard A few questions/comments
1. Skimmed #21236 and it looks like this j

[2017-07-29 23:54] blackstarzes commented on #21534
@karelz I have accepted the invite. Thanks for that - I am keen to contribute! Sorry for the delay - I'm in the middle of moving apartments.

[2017-07-30 01:18] jamesqo commented on #21809
@AlexGhiondea @joperezr Please consider marking this ready-for-review: the C# language design team has already approved of it, and this attribute needs to get into the fx for them to take any further action.

[2017-07-30 03:41] danmosemsft commented on #22745
@safern

[2017-07-30 03:43] jamesqo commented on #16374
I ended up creating my own repo for this: https://github.com/jamesqo/BlockList

[2017-07-30 04:33] sharwell commented on #16374
I would rather see a B+-tree implementation of a list. For reasonably large values of *b*, these perform similarly to block allocating lists, but offer O(log<sub>*b*</sub> n) insertion and lookup times anywhere in the list.

[2017-07-30 07:27] #22587 closed

[2017-07-30 09:03] KostaVlev commented on #22367
I updated `ImageAttributes.SetOutputChannelColorProfile()`:

[code]

As @hughbe  suggested I added this line of code `Path.GetFullPath(colorProfileFilename);` which will validate the `colorProfileFilename` and this fixes the current issue when the path is Null and we get the correct exception.

but :)

**Test for path too long fails:**

[code]
**Expected:** `System.IO.PathTooLongException`

**Actu

[2017-07-30 11:20] miloush opened #22755 "TextEncoder misses last BMP character after surrogate pair"
**Version:** 2.0.0-preview2-final
[code]
**Expected:**
[code]
**Actual:**
[code]

[2017-07-30 12:03] miloush commented on #22755
I would find this blocking for ASP.NET Core release.

In [EncodeIntoBuffer](https://github.com/dotnet/corefx/blob/f462fa1e1f9dc3b7d297c856e8585ee2c4e2a2fc/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs#L127) the condition of `if (!wasSurrogatePair)` final block does not make sense, it's irrelevant whether the previous character was a surrogate pair or not, this block is

[2017-07-30 15:17] svick commented on #22755
@miloush If you know how to fix it, why don't you create a PR?

[2017-07-30 15:25] KooKiz commented on #22430
Can we start working on these?

[2017-07-30 18:27] miloush commented on #22755
@svick Because I haven't done that before, thought issues should be discussed first, suspected that declaring the iteration variable out of a the loop might not be the preferred solution, don't have the build environment set up, expected I would be asked to write tests for that which I don't have any experience with either and feared it would take me much more time than someone doing this on daily

[2017-07-30 19:54] geoffkizer opened #22764 "Socket.BeginAccept does not allow socket reuse"
If you call socket.Disconnect(true) and then try to BeginAccept into that socket, you get InvalidOperationException.

If you use SocketAsyncEventArgs to do the Accept, it succeeds.

This is Windows-only and not a common scenario at all, but I found it while adding tests so I thought we should at least track it.

[2017-07-30 19:57] geoffkizer commented on #22764
Also, if you do Disconnect(false) and then try to BeginAccept into that socket, you also get InvalidOperationException, whereas SocketAsyncEventArgs gives a SocketException with SocketError.InvalidArgument.

BeginAccept is calling GetOrCreateAcceptSocket with checkDisconnect = false, which is what causes this behavior in both cases.

[2017-07-30 20:57] geoffkizer opened #22765 "Linux sockets: async connect on already connected socket does not throw"
If you do a ConnectAsync on an already connected socket, no exception is thrown.

Synchronous Connect correctly throws a SocketException with errorcode SocketError.IsConnected.

[2017-07-30 23:36] JonHanna opened #22767 "Microsoft.CSharp does not validate binding arguments well."
Say for example we have a binder from:

[code]

Then if called with:

[code]

We get a `NullReferenceException` rather than an `ArgumentNullException`, and if called with:

[code]

We get a `RuntimeBinderInternalCompilerException` rather than an `ArgumentException` or any other exception that reflects the issue. In a debug build, an assertion fails.

[2017-07-31 00:20] tmenier commented on #11224
I'd consider many of the participants in this thread to be something of a "dream team" in this subject matter, yet I'm still not sure if any consensus has been reached on what the best practices are given what we have today. It would be great to get a decisive answer from this group on a couple key points.

Let's say I have a general purpose HTTP library targeting many platforms, not all of which

[2017-07-31 00:44] ohadschn commented on #11224
I wouldn't even be invited to the dream team tryouts, but I do have one insight regarding your singleton `HttpClient` comment. First, you can always use the `SendAsync` method to specify different headers and addresses, so you could wrap that with your class that provides shared data similar to `HttpClient` (e.g. default headers, base address) yet ends up calling the same single client. But even b

[2017-07-31 01:08] redknightlois commented on #2209
@jnm2 the downside of that is while you are coding an algorithm that has been published, you would use  the interop naming just to be able to follow the algorithm properly. Later on you move to the better notation.

[2017-07-31 02:32] tmenier commented on #11224
@ohadschn Thanks, and hopefully I'm not getting too off topic, but is there any _benefit_ at all to sharing the same HttpClient (or HttpClientHandler) between multiple hosts? I could be wrong but it seems to me that a new host means new DNS lookup, new connection, new socket. Can a socket in TIME_WAIT be reclaimed and re-purposed for a different host? I had assumed not, but we're definitely reachi

[2017-07-31 02:42] Jiayili1 commented on #22434
Failed again in Core Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170731.01/workItem/System.Net.Security.Tests

[2017-07-31 02:49] Jiayili1 commented on #20457
Failed again on UWP F5 Tests (Master), detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fuwp~2F/build/20170731.01/workItem/System.Threading.Tasks.Tests/analysis/xunit/System.Threading.Tasks.Tests.CancelWait.TaskCancelWaitTestCases~2FTaskCancelWait1

[2017-07-31 03:49] davkean opened #22771 "String.IndexOfAny is slower than hand-written naive implementation on x86"
See: https://github.com/NuGet/NuGet.Client/pull/1590#discussion_r130262373 and https://github.com/aspnet/Mvc/issues/5362.

On short strings and only two char arrays, `String.IndexOfAny` is significantly slower than a hard-coded version, and on x86 (non-RyuJIT) even slower than a hand-written naive implementation where there is no matches.

Method |          Job |       Jit | Platform |

[2017-07-31 06:08] dotnet-mc-bot opened #22773 "Cleanup test workaround for: System.Reflection.Tests.AssemblyNetCoreAppTests/AssemblyGetForwardedTypes failed with "Xunit.Sdk.EqualException""
Opened on behalf of @Jiayili1

The test `System.Reflection.Tests.AssemblyNetCoreAppTests/AssemblyGetForwardedTypes` has failed.

Assert.Equal() Failure\r
    Expected: Type[] [typeof(string), typeof(TypeInForwardedAssembly), typeof(TypeInForwardedAssembly+PublicInner), typeof(TypeInForwardedAssembly+PublicInner+PublicInnerInner)]\r
    Actual:   Type[] [typeof(TypeInForwardedAssembly), typeof(Type

[2017-07-31 06:22] Jiayili1 commented on #22735
Failed again on UWP6.0 branch, detail: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170729.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FSendAsync_RequestVersion20_ResponseVersion20(server:%20https:~2F~2Fwww.microsoft.com~2F)

[2017-07-31 06:25] Jiayili1 commented on #22464
failed again: https://mc.dot.net/#/product/netcore/uwp60/source/official~2Fcorefx~2Frelease~2Fuwp6.0~2F/type/test~2Ffunctional~2Filc~2F/build/20170729.01/workItem/System.Net.WebSockets.Client.Tests.Execution/analysis/xunit/System.Net.WebSockets.Client.Tests.CloseTest~2FCloseAsync_DuringConcurrentReceiveAsync_ExpectedStates(server:%20ws:~2F~2Fcorefx-net.cloudapp.net~2FWebSocket~2FEchoWebSocket.ashx

[2017-07-31 06:35] nmbradford commented on #20994
apologies for delay responding - been afk for a few weeks.  See https://github.com/PowerShell/PowerShell/issues/2895 for the original issue that ack's the fact that the etag header is invalid, but the server implementation does accept it (and worse, requires it!).  Understand the argument for not being bug compatible, just wanted people more savvy than I to adjudicate on it :)

[2017-07-31 07:24] Jiayili1 commented on #22434
Failed again in CI: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/127/testReport/

[2017-07-31 08:48] JonHanna commented on #20994
It's far from me to make such a call, but I do think the server requiring the invalid behaviour is a strong point in favour of allowing it.

[2017-07-31 10:49] D383125 opened #22775 "Roslyn Error MSB3883: Unexpected exception: when build is run"
Hi,
Im having problems building corefx, using build-managed.  When the ..\corefx\Tools\net46\roslyn\tools\Microsoft.CSharp.Core.targets(72,5)  file is loaded, a series of
"System.ComponentModel.Win32Exception (0x80004005): The system cannot find the file specified" are thrown.  Each of the files reported missing are present and the VS command-prompt is run with Administrator privileges.  See below

[2017-07-31 10:57] JimboWei opened #22776 "Serialization test case DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes_FailedInuapaot_IncludeDataSet failed when targeting uapaot"
This case is a part of test case DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes , it was failed when **targeting `uapaot`** , so we move these scenarios into a new case.

**Detail** : the class include **DataSet** will fail when serialization.

**Error Message** : System.Runtime.Serialization.InvalidDataContractException : Type 'System.Data.DataSet' does not have a static method 'GetDataSet

[2017-07-31 11:13] JimboWei opened #22777 "Serialization test case DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes_FailedInuapaot_InheritedFromIList failed when targeting uapaot"
This case is a part of test case DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes , it failed when **targeting `uapaot `**, so we move these scenarios into a new case.

**Detail** : the class in these scenarios  inherit from **IList**  will fail when serialization.

**Error Message** : System.Runtime.Serialization.InvalidDataContractException : Collection type 'SerializationTestTypes.SampleLi

[2017-07-31 11:50] JimboWei opened #22778 "Serialization test case DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes_FailedInuapaot_InheritedFromIList_CanPassInReflectionOnly failed when targeting uapaot"
This case is a part of test case DCS_BasicPerSerializerRoundTripAndCompare_SampleTypes , it failed when **targeting `uapaot`** , so we move these scenarios into a new case.

**Detail** : the class in these scenarios inherit from **IList** will fail when serialization, but it can pass in project ReflectionOnly.

**Error Message** : System.Runtime.Serialization.InvalidDataContractException : Collect

[2017-07-31 11:52] JimboWei opened #22779 "Serialization test case DCS_BasicPerSerializerRoundTripAndCompare_Collections_FailedInuapaot_InCollections failed when targeting uapaot"
This case is a part of test case DCS_BasicPerSerializerRoundTripAndCompare_Collections , it failed when **targeting `uapaot`** , so we move these scenarios into a new case.

**Detail** : the class in these scenarios has **DataMember attribute decorate Collections type** ,has different result with baseline when serialization.

**Baseline** : … <List2 i:type=\"b:System.Collections.Generic.List`1[[Se

[2017-07-31 11:57] bbowyersmyth commented on #22771
I can have a look at this one if no one is on it. We should be able to get 2 chars working faster anyway.

[2017-07-31 12:02] benaadams commented on #22771
Could have a private; overload and call into it when length == 2?
[code]
Then raise api request to expose?

[2017-07-31 12:04] benaadams commented on #22771
Though as an string extension in corefx can Vectorize 😈

[2017-07-31 12:29] arespr commented on #14354
Large table of hash functions with performance and quality characteristic:
https://github.com/leo-yuriev/t1ha

[2017-07-31 12:57] ViktorHofer opened #22780 "Cleanup serialization code in unsupported types"
Mainly test code but in a few cases also production code. E.g. https://github.com/dotnet/corefx/blob/master/src/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentBag.cs#L42

cc @morganbr @danmosemsft @stephentoub

[2017-07-31 13:06] kierenj opened #22781 "System.Net.Http package 4.3.2 - redirect to 4.2.0.0, assembly loading failure"
I know there's been a few issues with System.Net.Http, but after some searching I couldn't find anything that seems to relate to, or remedy, my issue.  I'll be happy to move this somewhere else, provide more details, etc, as necessary.

I have some .NET Framework 4.6.1 class libraries and ASP.NET MVC projects which reference this package:

<package id="System.Net.Http" version="4.3.2" targetFramew

[2017-07-31 13:10] stephentoub commented on #22771
@mellinoe, when will corelib support vectorization?

[2017-07-31 13:55] AtsushiKan commented on #22773
This api is not exposed for UWP6.0.

[2017-07-31 14:30] ViktorHofer opened #22786 "Converge root scripts for Unix and Windows"
This is intended to be more a question than an issue. Currently we have to the following scripts with each two flavors for Unix and Windows:
- build-managed
- build-native
- build-packages
- build-tests
- build
- clean
- init-tools
- publish-packages
- (run-test.sh)
- run
- sync

Are there any plans to converge them? If yes, will we use the dotnet-cli for that? If not, what about using cross-platf

[2017-07-31 15:24] aalub commented on #10054
Yes, I see now. After adding System.Text.Encoding.CodePages NuGet package the name got resolved and there it is:
[code]
It seems more consistent than superstitious `Console.OutputEncoding = System.Text.Encoding.UTF8` but takes one or two more little steps and many much more knowledge and experience.

Thank you very much!

[2017-07-31 15:32] ericstj commented on #22658
The `build -allConfigurations` leg of the build produces packages.  Packages must be authored to be included in this leg, see the `.pkgproj` files in the repo for examples.

[2017-07-31 16:13] #21539 closed

[2017-07-31 16:38] #22755 closed

[2017-07-31 17:02] Clockwork-Muse commented on #22786
...doesn't windows support shell scripts now, too (hey I'm more a windows guy, so approach things from that end, but still....)?

[2017-07-31 17:04] weshaggard commented on #21503
Yes you will need the OverridePackageSource to build. If you do a root level build on an linux-arm64 machine then the packages should get built automatically for you assuming you have the changes in https://github.com/dotnet/corefx/pull/21236. Once you build you should see two packages of interest under `bin/packages/Debug` which are `Microsoft.Private.CoreFx.NETCoreApp` and `runtime.linux-arm64.

[2017-07-31 17:21] bdlou opened #22789 "Add support for System.Runtime.WindowsRuntime to .NETCore"
We have a need to develop tooling using .NETCore to do hardware validation scenarios.  .NETCore currently has no ways to talk to hardware.  Exposing System.Runtime.WindowsRuntime would enable us to perform many query and validation scenarios on hardware devices.

[2017-07-31 17:23] weshaggard commented on #22786
cc @dleeapho @markwilkie

Unfortunately there isn't any good thing to converge them on that will work on all the places we need to build. If you look at the scripts our goal is to keep them simple and get into our build engine as quickly as possible and let it do most of the heavy lifting.

For now I believe using cmd/ps on windows and sh on unix are our best options without introducing more depen

[2017-07-31 17:24] jkotas commented on #21503
The current portable Linux design will work for Android. The portable Linux design assumes glibc. Android does not use glibc - it is similar to Alpine.

cc @janvorli

[2017-07-31 17:36] joperezr commented on #21809
proposal looks reasonable. Marking as ready for review.

[2017-07-31 17:42] krwq commented on #22626
I agree with @bartonjs that this API is not necessary.

On desktop HashAlgorithm.Create will create SHA1 implementation which is not recommended to use because of the recent progress on breaking it.

If we change the default to better hash algorithm which in theory seems like was a plan when creating this general purpose API then people validating a hash between two different frameworks will not b

[2017-07-31 17:46] onovotny commented on #22626
@krwq to be clear, I'm not referring to `HashAlgorithm.Create()`, I specifically need `HashAlgorithm.Create(string)`, which takes in the name of the algorithm to create. No defaults. The workaround is just silly IMO, that it'd cause bunches of existing code to break at runtime.

[2017-07-31 17:50] krwq commented on #22626
@onovotny that sounds good then 😉

[2017-07-31 17:53] krwq commented on #22646
@jnm2 nice - thank you for reporting this! Hopefully someone will take a look at it soon!

[2017-07-31 17:56] mellinoe commented on #22771
@stephentoub We don't really have an exact timeline yet, but that piece is definitely in the plans.

[2017-07-31 17:56] davidsh commented on #22735
This failure in UWP6.0 branch is now fixed as of PR https://github.com/dotnet/corefx/pull/22759 which disabled the test in the release/uwp6.0 branch.

[2017-07-31 18:10] tannergooding opened #22790 "A mechanism for specifying alignment on a field or struct should be supported."
### Rationale

In certain high performance or specialized data structures/algorithms, it is desirable to enforce an alignment for structs, fields, or locals.

Today, CoreFX provides several specialized data structures for which the runtime either has special alignment handling (`System.Numerics.Vector`) or for which they have some specialized padding (`https://github.com/dotnet/corefx/pull/22724`)

[2017-07-31 18:17] safern commented on #22591
We are going to close this issue and re-open the closed proposal (#11976). We would like to have a proposal spec with performance benchmarks on having new instances method (First, Last or Max, Min) vs existing Linq extensions methods (First, Last).

We are moving it to that issue since we've already had a good discussion on that side. @cosborne83 please feel free to update that issue with your pro

[2017-07-31 18:17] #22591 closed

[2017-07-31 18:18] safern commented on #11976
Re-opening issue since we have a similar proposal recently and we would like to have a proposal spec with performance benchmarks. (#22591)

[2017-07-31 18:19] JonHanna commented on #22790
Perhaps `-4` to mean 4 octets from the end of the cache line?

[2017-07-31 18:24] tannergooding commented on #2209
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:24] tannergooding commented on #12425
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:24] tannergooding commented on #16835
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:25] tannergooding commented on #22440
Would become easier to implement with: https://github.com/dotnet/designs/issues/13

[2017-07-31 18:25] safern commented on #22475
@hoyMS was the fix ported to release branch? If I build this tests in ret mode in the release branch they fail. Could you please port it?

[2017-07-31 18:26] tannergooding commented on #18954
More readily fixable with https://github.com/dotnet/designs/issues/13

[2017-07-31 18:26] tannergooding commented on #17353
Easier to implement with https://github.com/dotnet/designs/issues/13

[2017-07-31 18:26] tannergooding commented on #17267
Easier to implement with https://github.com/dotnet/designs/issues/13

[2017-07-31 18:26] tannergooding commented on #17214
Easier with https://github.com/dotnet/designs/issues/13

[2017-07-31 18:32] #22711 closed

[2017-07-31 18:34] hoyMS commented on #22475
No, it is still in ProjectN branch now. I'm going to port it to the release branch today. Will let you know once it's done.

[2017-07-31 18:40] brianrob opened #22791 "BasicEventSourceTests.TestEventCounter.Test_Write_Metric_EventListener fails on UWP."
Test failure on UWP: BasicEventSourceTests.TestEventCounter.Test_Write_Metric_EventListener

This failure appears to be caused by #22422.

https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20170726.01/workItem/System.Diagnostics.Tracing.Tests/analysis/xunit/BasicEventSourceTests.TestEventCounter~2FTest_Write_Metric_EventListener

[2017-07-31 18:41] safern commented on #22475
Thanks.

[2017-07-31 18:42] brianrob commented on #19455
The re-activation is actually for a different test not originally covered by this issue.  It is due to #22422, which is not in any release branches.  Thus, it does not need to be fixed for UWP6.0.  I've filed #22791 to track this.

[2017-07-31 18:43] brianrob commented on #22791
@vancem, can you please take a look at this?  It appears to be related to #22422, which fixes races in EventCounter.

[2017-07-31 18:54] stephentoub commented on #22430
Yup.

[2017-07-31 18:55] ohadschn commented on #11224
To me the most obvious benefit to sharing the same `HttpClient`[`Handler`] is simplicity. You won't have to keep things like mapping between hosts and clients. I wouldn't know about the TIME_WAIT stuff, really not my expertise either.

Regarding DNS, you mentioned one possible approach when you don't control the server. You could also implement a mechanism that periodically queries the DNS and dis

[2017-07-31 19:19] KooKiz commented on #22430
Alright, on it.

[2017-07-31 19:20] CIPop commented on #16516
We didn't see this issue for the last 2 months. Please reopen adding actionable information (full-memory dump file) or ETW logs if this happens again.

[2017-07-31 19:20] #16516 closed

[2017-07-31 19:27] CIPop commented on #22128
@danmosemsft this got fixed on 7/13 in Windows. What needs to be updated on CoreFX to remove the workaround?

[2017-07-31 19:41] cydhaselton commented on #21503
@weshaggard By 'specifically for android' do you mean components that would only be applicable to the Android OS?

I'm not sure I understand; android was added to the official RID list but official packages aren't published and CI builds aren't enabled.  Wouldn't it be possible to do the same for linux-arm64?  Or is there enough support for ARM64 Linux for it to have official CI and published pack

[2017-07-31 19:48] ViktorHofer commented on #22786
I understand the need to use a common lightweight build scripts for various projects. Wouldn't that be possible with cross-platform and still slim ps1s? Is taking a dev-dependency on powershell (opensource version) too much of an issue/blocker?

That the root of the repo will be cleanup in a future PR is definitely a step forward 👍

[2017-07-31 19:52] janvorli commented on #21503
@jkotas is right, Android uses Bionic C library. See https://en.wikipedia.org/wiki/Bionic_(software).
So it needs its own RID (android-arm64).

[2017-07-31 20:16] mellinoe commented on #22786
Taking a dependency on PowerShell is not that different in theory from the current "run tool", which is a managed app that runs on our toolset. But PowerShell is vastly more complicated, and considerably larger, than run.exe. Also, I think we want to phase out the usage of run.exe for a variety of reasons.

[2017-07-31 21:00] kurtschelfthout opened #22796 "System.Net.Sockets.SendPacketsElement should have Int64 offset"
# Latest Proposal

[code]

# Original Proposal

The [_offset field](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/SendPacketsElement.cs#L12) in SendPacketsElement defines the offset to start sending from, in the byte buffer or the filename. In the former case an `int` is fine, but in the latter it would be great to allow  `int64` to allow offsets beyond

[2017-07-31 21:19] developermj commented on #8807
Has there been any traction on this? My employer is moving on-prem applications to the cloud and our current standard is to use Active Directory Integrated authentication. We would really like to use this in our applications. Thanks.

[2017-07-31 21:30] AtsushiKan commented on #22773
Now tracked as TFS 295251 - [assembly: TypeForwardedTo(typeof(string))] metadata not emitted when compiling in shared assembly mode.

[2017-07-31 21:34] weshaggard commented on #21503
Yes and it sounds like we will need to do that because of the boinic dependency.

Yes it is possible it just doesn't exist yet. HOwever given the new information linux-arm64 doesn't look like it will be enough. You will likely need a new build just for andriod-arm64 and use that as your RID for each repo build.

[2017-07-31 21:45] AtsushiKan commented on #22773
https://github.com/dotnet/corefx/pull/22800

[2017-07-31 21:48] #22780 closed

[2017-07-31 22:14] hoyMS commented on #22475
@safern The fix has been ported to ProjectNRel.

[2017-07-31 22:35] caesar1995 commented on #22110
I can confirm that it's not a product issue. I am able to solve the hang by fixing tests, and I am working on the PR right now. The PR will contain more details.

[2017-07-31 23:08] pjanotti commented on #22789
@bdlou have you tried using the nuget package? https://www.nuget.org/packages/System.Runtime.WindowsRuntime let us know how that goes.

[2017-07-31 23:20] tdevere opened #22801 "Slow Performance using AspNetCore Kestrel Host\WebAPI\HttpClient.SendAsync"
Sample code:

[code]

Some sample data which might be helpful as well (using Visual Studio Load Test Project to generate load)

10x User Load for 6000 Request:
AVG: 472 Milliseconds and Max: 10 Seconds

As load increases these numbers get worse:

100x User Load for 6000 Request:
AVG: 3.7 Seconds and MAX: 33 Seconds

*I can provide sample project and load project as well.

Question:
Are we calling

[2017-07-31 23:46] jamesqo commented on #14354
@arespr I think the team is looking for a C# implementation of the hash functions. Thank you for sharing, though.

@tannergooding Are you still unable to pick this issue back up? If so then I'll post on Reddit/Twitter that we're looking for a hash expert.

[2017-08-01 00:03] safern commented on #22475
Thanks @hoyMS tomorrow once we consume them I will make sure that this is ported in the coreFX side.

[2017-08-01 00:11] nchikanov opened #22803 "Add tests to System.Data.DataSetExtensions and create pkgproj"
Recently ported System.Data.DataSetExtensions to Core (see #22669)

Still need to add relevant tests to ensure full coverage, and later create a package.

[2017-08-01 00:19] CIPop commented on #22746
@davidsh @Diego-Perez-Botero From the stack trace it looks like the ReadAsync operation completed but found the WS in the Aborted state. This could be related to recent changes or a wrong assumption on the WinRT WebSocket (maybe particular to ARM?).

[2017-08-01 00:27] benaadams commented on #22801
Are you hitting Bing with 600,000 requests from a single IP address (your server)?

[2017-08-01 00:35] CIPop commented on #22746
A likely suspect is 5573a9e3: the code is now attempting to marshal exceptions from the WinRT callback to the ReceiveAsync call by using the new `AbortInternal`. The WS state is changed before the final ReceiveAsync state check.

[2017-08-01 01:23] divega commented on #7810
cc @bricelam what do you think about refactoring the Microsoft.Data.Sqlite test to follow the test spec pattern we already use for EF Core provider tests?

[2017-08-01 01:50] jamesqo commented on #2877
@jnm2 I don't think it would be a good idea to add `GetOrAdd` as an extension method on `IDictionary`-- it would give the impression that only 1 lookup is being made. I think it's best just to make this proposal about `Dictionary<K, V>`.

@karelz This is not necessarily a convenience API. For `Dictionary`, this helps avoid duplicate hashtable lookups, and the last time I checked I think I saw arou

[2017-08-01 01:55] tannergooding commented on #14354
@jamesqo, I have a few higher priority things on my plate and won't be able to get to this within the next 3 weeks.

[2017-08-01 01:56] tannergooding commented on #14354
Also, the current measurements will be limited by what we can currently code in C#, however, if/when this becomes a thing (https://github.com/dotnet/designs/issues/13), the measurements will likely change somewhat ;)

[2017-08-01 02:00] jamesqo commented on #14354
That's OK-- we can always change the hash algorithm once intrinsics become available, enscapulating/randomizing the hash code enables us to do that. We're just looking for something that offers the best performance/distribution tradeoff for the runtime in its current state.

[2017-08-01 02:12] tianmaoyu opened #22806 "MultipartFormDataContent Encoding problem"
## my code
[code]

 ##  result：output
---------boundary
Content-Disposition: form-data; name=files;
filename="=?utf-8?B5paw5bu65paH5pys5paH5qGjLnR4dA==?=";
filename*=utf8''%E6%96%B0%E5%BB%BA%E6%96%87%E6%9C%AC%E6%96%87%E6%A1%A3.txt

������
---------boundary--

I want to use httpclient to upload files. When the name of the file is Chinese, the garbled code appears. I want to be able to upload Chines

[2017-08-01 02:17] tdevere commented on #22801
Hey Ben. A few points... even if we power test numbers, we see the delay spike. Also, even if we change endpoints to a local server, we see the same delay. Finally, my customer has a dedicated load environment, not just a single single server host like my test environment, which shows the same behavior.

So, 10 users running queries 6000 times was just one example and I can replicate with fewer ir

[2017-08-01 02:26] benaadams commented on #22801
Desktop or Core? Desktop you may be throttled on [outbound connection](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/connectionmanagement-element-network-settings) limits

Which you can change with [connectionmanagement](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/connectionmanagement-element-network-settings) in .conf

[2017-08-01 02:31] jnm2 commented on #2877
@jamesqo Yeah, okay. After the BCL has it for a while and we get default interface methods it might make more sense.

[2017-08-01 02:36] benaadams commented on #22806
Do you have to do?
[code]

[2017-08-01 02:45] dotnet-mc-bot opened #22807 "[Desktop] Test failed: System.Net.Tests.HttpListenerAuthenticationTests / NoAuthenticationGetContextAsync_AuthenticationProvided_ReturnsForbiddenStatusCode"
Opened on behalf of @Jiayili1

The test `System.Net.Tests.HttpListenerAuthenticationTests/NoAuthenticationGetContextAsync_AuthenticationProvided_ReturnsForbiddenStatusCode(headerType: \"NTLM\")` has failed.

System.ApplicationException : The parameter is incorrect. (Exception from HRESULT: 0x80070057 (E_INVALIDARG))

        Stack Trace:

           at System.Threading.ThreadPool.BindIOCompletionC

[2017-08-01 02:47] dotnet-mc-bot opened #22808 "[Desktop] Test failed: System.Net.Sockets.Tests.AcceptTask / Accept_WithTargetSocket_ReuseAfterDisconnect_Success on Desktop"
Opened on behalf of @Jiayili1

The test `System.Net.Sockets.Tests.AcceptTask/Accept_WithTargetSocket_ReuseAfterDisconnect_Success(reuseSocket: False)` has failed.

[code]

Build : Master - 20170801.01 (Full Framework Tests)
Failing configurations:
- Windows.10.Amd64.Core-x86
  - Debug
- Windows.10.Amd64-x86
  - Debug
- Windows.10.Amd64.Core-x64
  - Debug
- Windows.10.Amd64-x64
  - Debug

Detail: h

[2017-08-01 03:02] davkean commented on #22771
One more data point, on a trace I took off an MSBuild design-time build, InitializeProbabilisticMap is 5.3% of the CPU time.

![image](https://user-images.githubusercontent.com/1103906/28807556-80689ae0-76b9-11e7-8935-2add4eb2dee5.png)

[2017-08-01 03:09] benaadams commented on #22771
Caching the map against array pointer might also help (with LRU cap e.g. max 8 kept) and reusing it rather than always recreating could also help?

[2017-08-01 03:14] davkean commented on #22771
I suspect a lot is coming from these two Path.Combine: http://referencesource.microsoft.com/#mscorlib/system/io/filesystemenumerable.cs,514. These don't even need to check the paths for invalid chars.

[2017-08-01 04:01] jamesqo opened #22809 "Does SortedSet.UnionWith need to optimize for another SortedSet?"
Hi, I'm in the middle of trying to clean up the `SortedSet` code. Over [here](https://github.com/jamesqo/corefx/blob/9f892eb60e68916d24670190ecc070eb22b6973e/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L927-L989), in both `UnionWith` and `IntersectWith`, there is a huge 60-line block of code that checks if the other enumerable is a `SortedSet<T>` and if so does a mergesort o

[2017-08-01 04:05] danmosemsft commented on #22128
@pjanotti can help there

[2017-08-01 04:15] jamesqo commented on #22809
Similarly things like this seem silly: https://github.com/jamesqo/corefx/blob/9f892eb60e68916d24670190ecc070eb22b6973e/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L1303-L1307. I can't imagine that would be driven by a real perf problem...

[2017-08-01 06:07] dotnet-mc-bot opened #22811 "Test: System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback failed with "System.OperationCanceledException""
Opened on behalf of @Jiayili1

The test `System.Net.Http.Functional.Tests.HttpClientHandler_ServerCertificates_Test/UseCallback_ValidCertificate_ExpectedValuesDuringCallback(url: https://corefx-net.cloudapp.net/Echo.ashx, checkRevoca...` has failed.

System.OperationCanceledException : The operation was canceled.

        Stack Trace:

           at System.Net.Http.HttpClient.HandleFinishSendAsync

[2017-08-01 06:08] thechopkins commented on #12915
I grabbed some time today and I have all of the changes done and compiling. However, I'm running into issues running the tests I've written against my newly built System.Private.CoreLib build. In my case, it isn't finding the new overloads for the functions. I followed the parts of the documentation about building on windows and running tests on windows.  Would love any guidance on this, branch is

[2017-08-01 06:11] dotnet-mc-bot opened #22812 "Test: System.Net.WebSockets.Client.Tests.SendReceiveTest/SendReceive_VaryingLengthBuffers_Success failed with "System.OperationCanceledException""
Opened on behalf of @Jiayili1

The test `System.Net.WebSockets.Client.Tests.SendReceiveTest/SendReceive_VaryingLengthBuffers_Success(server: ws://corefx-net.cloudapp.net/WebSocket/EchoWebSocket.ashx)` has failed.

System.OperationCanceledException : Aborted
    ---- System.IO.IOException : Unable to transfer data on the transport connection: Operation canceled.
    -------- System.Net.Sockets.Sock

[2017-08-01 06:27] ygc369 opened #22813 "Please provide a weak reference version of ArrayPool"
This kind of WeakArrayPool should only hold the weak reference of every array, so the arrays in the pool could be collected by GC, and could be reused before GC. It would be a self-balanced array cache mechanism.

[2017-08-01 06:43] KooKiz commented on #12915
Make sure to also declare the new overloads in System.Runtime in corefx, otherwise you won't be able to use them.

[2017-08-01 06:47] bbowyersmyth commented on #22771
@davkean It doesn't look like the HasIllegalCharacters optimizations have been backported to desktop yet(?). That will be the best way to improve path combine.

I have an implementation for special casing a 2-char anyOf array that beats the minimal hard coded loop after about 4 characters.
I'll look at the mapping logic for larger arrays but I'm not very hopeful with that. It seems to be a good so

[2017-08-01 06:56] KristinXie1 opened #22814 "Test failure: System.Net.Sockets.Tests.SendReceiveSync / Receive0ByteReturns_WhenPeerDisconnects"
## History of failures

Day | Build | OS
-- | -- | --
7/11 | 20170711.03 | Win10
7/15 | 20170715.02 | Win8.1
7/23 | 20170723.01 | Win7
9/16 | 20170916.02 | Win10
9/17 | 20170917.01 | Win10
11/4 | 20171104.02 | Win10
11/16 | 20171116.01 | Win8.1

# Original report

Failed test: System.Net.Sockets.Tests.SendReceiveSync.Receive0ByteReturns_WhenPeerDisconnects
Configuration: OuterLoop_netcoreapp_windo

[2017-08-01 07:22] jan-johansson-mr opened #22818 "Deserialization of Claim blows up, if Properties was set"
The following code snippet causes the de-serialization of [serialized] claim to blow up:

[code]

With the following exception:

[code]

There is no issue if the properties are not used.

[EDIT] Fixed code markdown by @karelz

[2017-08-01 10:16] benaadams commented on #22809
I assume you mean the inlined algo rather than the casting (to avoid enumerator boxing)?

e.g. writing [2 naive specific functions](https://github.com/NuGet/NuGet.Client/blob/53fee133b29200bf24423247a25d6a7a39b02c9c/src/NuGet.Core/NuGet.Frameworks/FrameworkNameProvider.cs#L1150-L1175) for `HashSet` that took a `HashSet` for `SetEquals` and `UnionWith` saves 194MB of allocations during a NuGet rest

[2017-08-01 10:22] benaadams commented on #22809
I'd assume if you were adding two large sorted sets together adding items one by one would cause an issue? As  [Add is quite a chunky function](https://github.com/jamesqo/corefx/blob/9f892eb60e68916d24670190ecc070eb22b6973e/src/System.Collections/src/System/Collections/Generic/SortedSet.cs#L315-L393) by itself.

[2017-08-01 11:11] bbowyersmyth commented on #22771
Ok I can cut half of the time out of InitializeProbabilisticMap if the search chars are mostly ASCII which is highly likely. Need to run some variation tests.

[2017-08-01 11:15] benaadams commented on #22771
Looking at Rosyln/MSBuild the main counts for IndexOfAny seem to be 2, 3, Lots. Might we worth special casing 3 also?

[2017-08-01 12:04] JonHanna opened #22819 "System.Drawing.Color considers 0 a known, system color."
On desktop `Color.FromKnownColor(0).IsKnownColor` and `Color.FromKnownColor(0).IsSystemColor` both return false. In CoreFX they both return true.

[2017-08-01 12:04] JonHanna opened #22820 "System.Drawing.KnownColor exposes internal names"
When `System.Drawing.KnownColor` was made internal-only it had convenience values of `First` and `Last` added. When it was made public again these were not removed.

The ref assembly doesn't include them, but they can be found in calls to `Enum.GetNames()` and `Enum.GetValues()` includes `First` and doubles up on `MenuHighlight`.

[2017-08-01 12:40] karelz commented on #22818
Which .NET Core version did you use? 2.0 preview? Or older?
cc @ianhays

[2017-08-01 12:49] jan-johansson-mr commented on #22818
Hi,

I'm using the latest and greatest :-) That is the 2.0 version.

2017-08-01 14:40 GMT+02:00 Karel Zikmund <notifications@github.com>:

[2017-08-01 12:54] JonHanna commented on #22819
Seems to have been introduced with https://github.com/dotnet/corefx/commit/9eb75a26a32de61fd4b9e51a1e029df1b2d59ff9#diff-167862f543287597f9cd8ac6708f09bdR455

[2017-08-01 13:00] jeremyVignelles commented on #8526
Where can I follow the implementation status of this feature?

I came across this issue and #8965 because I have an issue using this assembly in a .Net full framework. Here is my use case:

I am implementing a plugin system that will load assemblies from a folder. I want the loading logic to be used in both my .Net full and .Net core projects. That's why I created a projet targetting .net standard

[2017-08-01 13:03] ygc369 commented on #22813
Are you sure? What's that algorithm? What if it does not have?

[2017-08-01 13:24] stephentoub commented on #22813
Weak references generally are not a good approach for this kind of pool.  You often end up both with lots of arrays getting promoted to gen1 or gen2 and then getting dropped, making for very expensive collections, and with lots of arrays never getting reused, such that the pool provides little benefit.

[2017-08-01 13:59] danmosemsft commented on #22818
@viktorhofer

[2017-08-01 14:54] ViktorHofer commented on #22818
Could be related to my code changes yesterday. Will look at it later.

[2017-08-01 14:57] jan-johansson-mr commented on #22818
Thanks! :-)

2017-08-01 16:55 GMT+02:00 Viktor Hofer <notifications@github.com>:

[2017-08-01 15:16] sdmaclea commented on #21503
@cydhaselton I think you already have these answers.

linux-arm64

Yes

Yes

[2017-08-01 16:09] ViktorHofer commented on #22818
Jan, so you mean the 2.0 nightly build version from master? Or a preview version?

[2017-08-01 16:43] jan-johansson-mr commented on #22818
Hi,

I'm working with the preview [2.0.0-preview2-006497], so I guess what I see
has been there for a while.

2017-08-01 18:09 GMT+02:00 Viktor Hofer <notifications@github.com>:

[2017-08-01 17:10] #22695 closed

[2017-08-01 17:11] krwq commented on #22646
@jnm2 - in case you've missed - you just got response in the issue - they suspect this is coming from some extension you might have installed since they couldn't find symbols and gave you instructions on how to create better (?) dump

[2017-08-01 17:17] ViktorHofer commented on #22818
Thanks, that verifies that the error isn't connected to my latest change. I will now test it locally. I guess it's connected to the fact that we removed the serialization attribute from these types.

[2017-08-01 17:38] bricelam commented on #7810
They weren't written with that purpose in mind, but it could be a good starting point...

[2017-08-01 17:43] pjanotti commented on #22128
Not closed yet, language in the commit marked this one as closed but we still have to update things on corefx side. I will do that.

[2017-08-01 17:47] thechopkins commented on #12915
@KooKiz I will make those updates next. Atm, I'm still trying to get my tests in coreclr (cause thats where Array and List live) compiling against the updates in System.Private.CoreLib. Any guidance on getting those to work? It isn't finding the new overloads from the test projects (doesn't seem to be referencing my version of the System.Private.CoreLib/mscorelib).

[2017-08-01 18:02] geleems commented on #21530
I was trying to reproduce the performance gap issue in my local machine, and I noticed interesting performance change in .NET Core.

I ran my sample code in my local VM by :
* Creating a new project of Console App (.NET Framework 4.6.1) -- Release / Any CPU
* Creating a new project of Console App (.NET Core 1.1.0) -- Release / Any CPU
* Adding the sample code to release/1.1.0 `CoreFx\src\System.Da

[2017-08-01 18:10] KooKiz commented on #12915
Well that's the thing. I've struggled a few hours on this, and from what I found those tests use the "microsoft.private.corefx.netcoreapp" package, which is generated by... corefx. So it seems you need to update corefx so you can feed the changes to the tests in coreclr.

I hope somebody comes in with a better way, but I've been doing is:

- Implement your changes in System.Private.CoreLib
- Build

[2017-08-01 18:13] ViktorHofer commented on #22818
The mentioned behavior is indeed broken and presents a production issue for 2.0. The constructor of System.Security.Claims.Claim which accepts a BinaryReader seems either reading too much from the stream or the function System.Security.Claims.Claim.WriteTo(BinaryWriter) writes too much into the stream.

I will check that latter (currently on an event).

[2017-08-01 18:26] pjanotti commented on #22128
/cc @CIPop started PR to get this special case removed.

[2017-08-01 18:35] thechopkins commented on #12915
Thanks @KooKiz. I'll try these steps. I'm assuming that means that the versions of coreclr and corefx need to be version synced on their merges back to master in some form?

[2017-08-01 18:35] jan-johansson-mr commented on #22818
Thanks for feedback!

2017-08-01 20:14 GMT+02:00 Viktor Hofer <notifications@github.com>:

[2017-08-01 18:37] KooKiz commented on #12915
Unfortunately I'm not sure of that part yet, I'm still halfway through my first pull request...

[2017-08-01 18:40] stephentoub commented on #12915
FWIW, most of our tests live in corefx, even for Array and List, and you can add tests there much more easily, without having to worry about consuming the corefx build back into coreclr.

[2017-08-01 18:48] joperezr opened #22826 "Re-enable corefx multifile test configurations once nutc error is fixed"
A recent change in PN side has broken the build for the uapaot configurations that use the multifile test configuration. In order to unblock the full official build, we turned off the multifile test configurations from corefx/master, but we should re-enable them once the fix has been checked in to PN.

cc: @joshfree @trylek

[2017-08-01 18:56] joshfree commented on #22826
Related change that will need to be undone once the PN side is fixed 7c62f4e

[2017-08-01 19:13] CIPop commented on #22128
Thanks @pjanotti !

[2017-08-01 19:17] divega commented on #7810
@bricelam I think that is probably true for (at least some of) the SqlClient tests.

[2017-08-01 19:35] kingces95 commented on #17051
So if I declare a method `void Foo<T, V>()` and then using `MakeGenericMethod` to create a method `void Foo<T, int>()` the `MethodInfo` for the latter will return `true` for `IsConstructedGenericMethod` even though it cannot be invoked? If so, then what good is it to know a method is `IsConstructedGenericMethod`?

[2017-08-01 19:38] #22128 closed

[2017-08-01 19:40] tdevere commented on #22801
This is Core.

I put a condition in the Async call to check CurrentConnections vs ConnectionLimit and the delay occurs even when we're well below the limit. Actually, current connections never exceeds the # of users defined in the load test.

Even on low numbers for the test (users and iterations), the delay can occur but it's far less often and I cannot reproduce the behavior consistently. Also,

[2017-08-01 19:49] kingces95 commented on #644
If these are all APIs, why not distribute them in a nuget package instead of pulling them into core? The bar for adding new helpers to a nuget package is much lower than submission into core. Plus, the core team can be freed to develop/test/maintain features that can only be implemented by the core team.

[2017-08-01 19:51] mellinoe opened #22831 "Retarget System.Drawing.Common to netcoreapp2.0"
We would like to be able to ship a preview version of System.Drawing.Common that works on .NET Core 2.0, so that customers can easily test out the library without needing to upgrade their entire runtime to version 2.1. For the most part, the library can be easily retargeted, with a few small caveats. I'm filing this issue to document the things that will need to change for us to target .NET Core 2

[2017-08-01 19:51] #22819 closed

[2017-08-01 19:51] #22820 closed

[2017-08-01 19:58] jnm2 commented on #644
I get your point, but at the same time having to distribute a helper library dependency just for one type of reflection task is distasteful enough to be that I'd prefer to write it manually.

[2017-08-01 20:10] pjanotti commented on #22775
@D383125 thanks for reporting the issue. I could reproduce the issue and workaround it by renaming the folder `C#` to `CSharp`.  I updated the instructions at https://github.com/dotnet/corefx/wiki/Checking-out-the-code-repository to reflect this issue.

[2017-08-01 20:11] kingces95 commented on #644
Shouldn't the bar for including logic in core be higher than any logic that requires users distribute a helper library?

[2017-08-01 20:15] HaloFour commented on #644
@kingces95

You could say that about the bulk of the BCL as it stands today.  In my opinion reflection is a pretty fundamental feature.  Having to manually enumerate every single method and reimplement binding rules and logic already baked into the BCL (but internal) just because the method you want happens to be generic doesn't make a lot of sense to me.  It's very easy to get wrong.

[2017-08-01 20:33] bartonjs commented on #22626
Yeah, I think we made a conscious choice to have AsymmetricAlgorithm, HashAlgorithm, and SymmetricAlgorithm .Create(void) throw.  But the Create(string) versions should be fine to continue dipping into CryptoConfig.

[2017-08-01 20:37] bbowyersmyth commented on #22818
@ViktorHofer Looks to be a pre-existing bug. Reading `Properties` is not advancing `numPropertiesRead`

[2017-08-01 20:39] kingces95 commented on #644
To the extent we're exposing complex logic already implemented in the BLC then I'm all for it!

[2017-08-01 20:56] AtsushiKan commented on #17051
If you're looking to discover if a method has open types that need further specialization, the api you're looking for is `MethodBase.ContainsGenericParameters`

[2017-08-01 21:35] safern commented on #22745
This doesn't repro in the latest runs. Seems like a timing issue more than a product/test issue. Will close it and if we see it repro again then we can investigate more.

[2017-08-01 21:35] #22745 closed

[2017-08-01 23:24] JonHanna opened #22837 "ImmutableArrayBuilderDebuggerProxy ctor should throw ArgumentNullException on null parameter"
Unlike other debugger proxies for immutable collections, this accepts a null `ImmutableArray` parameter, then throw NRE on use.

[2017-08-02 00:02] davidsh commented on #22812
Most likely this was a Azure Internet hiccup:

---- System.IO.IOException : Unable to transfer data on the transport connection: Operation canceled.
-------- System.Net.Sockets.SocketException : Operation canceled

[2017-08-02 00:12] 4creators commented on #22658
@karelz My question was for CoreFX specifically but general answer regarding all repos participating in build for shipping version of .NET Core would very helpful. Essentially what I am looking for is to build complete shipping (private) version of .NET Core with fine granularity allowing for referencing individual assemblies or runtime.

[2017-08-02 00:14] 4creators commented on #22658
@ericstj

My understanding is that I need to write .pkgproj or include packaging info in .csproj if this does not exists currently. Could you confirm that?

[2017-08-02 00:27] corivera commented on #22725
@mahoekst This issue doesn't repro for me on the latest builds. Does it still repro for you?

I'm also not seeing the IAsyncStateMachine type being used anywhere in SqlClient. This is likely an issue in some underlying dependency.

[2017-08-02 00:39] morganbr commented on #14354
@jamesqo, thanks for looking for folks to help out. We'd be happy to have somebody who isn't a hash expert work on this too -- we really just need somebody who can port some algorithms to C# from other languages or designs and then do performance measurements. Once we've chosen candidates, our experts will do what we do on any change -- review the code for correctness, performance, security, etc.

[2017-08-02 00:52] jamesqo commented on #22809
@benaadams

That's interesting, so `HashSet<>` is actually lacking optimizations in this area you seem to be saying.

Have you seen any cases where `SortedSet` (not `HashSet`) not specializing for itself created a performance problem? From what I've seen the type looks quite slow/allocation-heavy (e.g. node allocated for each item) anyway, so I can't imagine a few more boxed enumerators would make

[2017-08-02 01:06] jamesqo commented on #22837
Why? I thought the debugger doesn't bother trying to instantiate the debugger proxy if a variable is null-- wouldn't the better approach be to remove null validation from all of them instead?