[2020-01-11 10:52] faruknane opened #42814 "[BUG] .Net Core ArrayPool"
I have tried to use Array Pool many times. Every time I used it to create many arrays with big sizes, I encountered a problem. The problem is after a while my deep learning library runs it throws "System.AccessViolationException HResult=0x80004003 Message=Attempted to read or write protected memory. This is often an indication that other memory is corrupt.". So, I infer that array pool doesn't wor

[2020-01-11 10:53] faruknane commented on #42814
I liked the **Dotnet-GitSync-Bot**. Exciting to see...

[2020-01-11 12:01] vanillajonathan commented on #37220
You're right, it cannot return a `ReadOnlyCollection<T>` since that class implements `IList<T>` which `HashSet<T>` does not.

Maybe it is weird that `ReadOnlyCollection<T>` implements `IList<T>`, and that `IList<T>` implements `ICollection<T>`?
Maybe `ReadOnlyCollection<T>` should not have implemented `IList<T>`?

[2020-01-11 13:45] svick commented on #42814
If you think there is still a bug, can you share code that reproduces it?

[2020-01-11 14:13] stephentoub commented on #42814
That is almost certainly going to be an issue with the library itself, in how it's accessing the arrays using unsafe code, making assumptions about the state of the array when it's retrieved (e.g. zero'd vs not), etc.  Please share a repro; without that, this isn't actionable.

Also, when you say "big sizes", what's an example size?  Arrays larger than a megabyte or two won't be pooled; the pool w

[2020-01-11 14:18] faruknane commented on #42814
It's a big project that I can't update on github now. The code is changed with my arraypool implementation. So I can't create the same case now. Maybe it became pointless to open the issue like that. But I believe that some arrays get unusable after a while. I'll try to create a small test code (other than my project) in a few hours.

[2020-01-11 14:30] faruknane commented on #42814
Could it be because I don't use the arrays directly? I use pointers instead of arrays in unsafe methods. Because it needs highly optimization. I preferred to use pointers. However, I know that the pointer of an array is fixed until it dies? Or Can they change during run time (like the same array but it needs to be moved to another location in memory for some sort of reasons. and its pointer become

[2020-01-11 14:32] stephentoub commented on #42814
If you have an array (regardless of where you got it from), and you get a pointer to it, that pointer is only valid while you're explicitly pinning the array, either with `fixed` or with a GCHandle.  If you try to use that pointer and the array hasn't been pinned the entire time, the GC could have moved it and your pointer may no longer be pointing to what you thought it was pointing to.  That is

[2020-01-11 14:35] faruknane commented on #42814
I'm coding a deep learning library and I am aware of that. I don't use an array that is returned to the pool. I look up my matrix classes and I see that it throws the error even though the array is not returned yet.

[2020-01-11 14:36] stephentoub commented on #42814
I'm saying it sounds like you're getting a pointer to your array but not pinning the array for the lifetime you use that pointer, in which case the GC could move the array and invalidate your pointer.

[2020-01-11 14:38] faruknane commented on #42814
I remember that I created Living Arrays in my classes to stop GC from deleting the arrays.  Honestly, I don't know. It just works well with my implementation (I create the arrays using Intel MKL not to get GC tired). Do we close the issue?

[2020-01-11 14:40] stephentoub commented on #42814
Yes.  Thanks.

[2020-01-11 14:40] #42814 closed

[2020-01-11 15:36] weloytty commented on #6204
So for fun, I got System.Messaging working under netcore, using the reference source.  Since the reference source for System.Messaging is NOT included  at https://github.com/microsoft/referencesource, I was wondering what the licensing implications of porting it are.  (I emailed refsrcfeedback@microsoft.com and got nothing back).

At this point, it works as far as I need it to (basic send/receive

[2020-01-11 16:34] #42616 closed

[2020-01-11 17:01] karelz commented on #6204
Oh, that is great!
@weloytty please add me and @richlander @danmosemsft to the email, we will try to push on it ...

[2020-01-11 17:52] svick commented on #42697
@stephentoub

Would it make sense to use a readers-writer lock instead of a mutex here? That way, multiple processes that don't need the handle can be started in parallel, while if a process does need the handle, it's guaranteed no other process is starting in the meantime.

[2020-01-11 17:55] MihaZupan commented on #9768
For people that just want to use a socks5 proxy in their .Net apps right away, the library mentioned above should work fine and should work in every scenario as it implements the IWebProxy interface.

Having built-in support would be better in terms of performance overhead and resolving issues (some error information is swallowed by the library).

Having looked at the code, adding support shouldn'

[2020-01-11 18:17] stephentoub commented on #42697
It's an interesting idea that could be experimented with, but I'm a little skeptical it'll be worthwhile.

Process.Start calls where no redirection is requested would take the reader lock. If any of the RedirectXx properties was true, it would take the writer lock. And I suspect that a typical app launching processes at enough scale for this to matter is going to be redirecting, which means they'd

[2020-01-11 18:19] #35410 closed

[2020-01-11 19:21] pie-flavor commented on #24093
@Entomy outsider input: your entire argument, as far as I can tell, is 'it's confusing and bad, yes, but it's not *that* confusing and bad'.
So? Why can't it be actually good instead? What is the *problem* with naming it exactly what Unicode names it?
Also, runes are not code points, or even graphemes or clusters, in the general field of computing. If you search 'Unicode runes' in Google, anything

[2020-01-11 21:42] GrabYourPitchforks commented on #37220
Yeah, in hindsight it may have made sense to have two types `ReadOnlyList<T>` and `ReadOnlyCollection<T>`. That predates my time on this team so I'm not familiar with the history behind why this decision was made. But regardless it's not a decision that can be undone right now. ☹

[2020-01-11 22:49] vanillajonathan commented on #37220
Maybe things can be fixed for .NET 5?

This would be nice for developers using Entity Framework Core and who wish to implement domain-driven design (DDD).

[2020-01-11 22:52] GrabYourPitchforks commented on #37220
That's not the type of breaking change we would take in .NET 5.

[2020-01-12 00:47] HavenDV commented on #31190
Hello.
Recently I encountered the same problem when translating the project to .Net Core.
I added a nuget package to help with the transition: https://www.nuget.org/packages/NamedPipeServerStream.NetFrameworkVersion/
The package targets .Net Standard 2.0 and contains the original constructor from the .Net Framework (which supports PipeSecurity, HandleInheritability, and PipeAccessRights). I restor

[2020-01-12 01:40] buddhashrestha commented on #42813
hi @GrabYourPitchforks thank you for the feedback. I tried it that way too, but I get the same behaviour. Again, this is doesn't happen when the file is small (<20Mb). And I use this `TempFileStreams` because using `MemoryStream` throws `System.OutOfMemoryException`. So, I just wanted to know how should I approach this problem. Also, the error is occurring at `System.Runtime.Serialization.Formatte

[2020-01-12 07:57] jkotas commented on #42077
Happened again in https://github.com/dotnet/runtime/pull/1609

[2020-01-12 10:01] Evrey commented on #24093
Just for the sake of argument, and for scientific purposes, I'd like to point everyone here at the one programming language that does Unicode text handling best, where »best« is defined by »closest in accordance to the Unicode standard«, not by faking simplicity: [Swift](https://docs.swift.org/swift-book/LanguageGuide/StringsAndCharacters.html#ID293)

- `String` is a buffer of arbitrary Unicode te

[2020-01-12 16:04] Entomy commented on #24093
@pie-flavor

No that's not my argument at all. I'm doing the best with the disability I have, but this isn't my intended communication.

If you search 'Unicode string' in Google you won't get specifically how .NET strings work, either. This is a matter of searching for an adjacent thing. As a very strict analogy, I program in both .NET and Ada; `string` is not the same between them, and some sligh

[2020-01-12 20:49] #31792 closed

[2020-01-12 20:49] #37739 closed

[2020-01-12 21:30] AllanMichaelsen opened #42815 "MessagePack Reference Loop Handling"
I know there is a thread for handling this with Json  ( #38579 ), but the issue also exists with message pack protocol.(MPP)

When switching to binary serialization via MPP there are immediate buffer overflow issues.

Is there a way to handle this with MPP?

[2020-01-12 22:20] davidfowl commented on #42815
There's no message pack implementation built into .NET, you might want to file an issue here https://github.com/neuecc/MessagePack-CSharp/issues

[2020-01-12 23:09] AllanMichaelsen commented on #42815
I know that the .AddMessagePackProtocol uses neuecc, but is it there the issue occurs or is it in the .AddMessagePackProtocol itself?

[2020-01-12 23:58] davidfowl commented on #42815
Yes its a serializer issue.

[2020-01-13 00:49] Evrey commented on #24093
As mentioned I'm just arguing from the perspective of principle and idealism. The reality of things has been mentioned plentifully. Though there is *some* nuance to all that:

- Going Swift-style with strings does not necessarily break software. It's just a matter of adding more enumeration methods and types on top of the already existing `String` interface. I do not mean radical things like chang

[2020-01-13 00:54] GrabYourPitchforks commented on #24093
Hi all - the name `System.Text.Rune` is what shipped and what we're using going forward. There was significant (and heated!) earlier discussion of using the name `UnicodeScalar` instead of `Rune`, but in the end `Rune` won out. The team is not entertaining the idea of choosing a different name for it at this time. And while I know folks are passionate about this and we'll continue to monitor the c

[2020-01-13 02:18] benaadams commented on #24093
To me the main drawback with `UnicodeScalar` is the large disparity between the length of the type name and the datasize of the type. Essentially it is an `int` with some gaps in its domain.

However, the verboseness in usage is would be extreme:
[code]
vs the equivalent  `char` over a `string` (and ideally people would use the new type over `char` as they are whole values rather than containing s

[2020-01-13 02:47] Serentty commented on #24093
@GrabYourPitchforks

Hello! To be honest, I got caught up in this argument not because I'm trying to convince the .NET people that the name needs to be changed, as it seems that that ship has sailed, but simply because I wanted to express my opinion to others in this thread who disagreed with it. I think it's wonderful that C# finally has a _real_ character type as opposed to the broken character

[2020-01-13 04:14] eriawan commented on #39962
@stephentoub

Now that we have dotnet/runtime repo, I think we have to transfer/move this issue to dotnet/runtime repo for more visibility and tracking this to .NET Core 5.0, because I also think the progress on this issue is valid for .NET Core 5.0 milestone, cmiiw.

Could we move/transfer this issue to https://github.com/dotnet/runtime repo?

[2020-01-13 04:15] stephentoub commented on #39962
All issues are going to be transferred in bulk.

[2020-01-13 04:22] eriawan commented on #39962
@stephentoub
Thanks for the quick reply! 🙂
I'm glad to know we'll move the issues here to dotnet/runtime.

Just for tracking update, if you don't mind could you also update the finished/merged progress on System.Data.OleDb check marks? Thanks in advance.

[2020-01-13 04:32] buddhashrestha commented on #42813
I also ran a memory profiler, and it shows the following result:
![image](https://user-images.githubusercontent.com/10449218/72233167-79903e80-357a-11ea-94b4-2c9bd0af4bd0.png)
I think this is due to memory issues while deserializing the data.

[2020-01-13 09:34] MarcoRossignoli commented on #41487
A frequent usage for me is `StringSplitOptions.TrimEntries | StringSplitOptions.RemoveEmptyOrWhiteSpaceEntries` 😄 missing both.

[2020-01-13 12:57] MihaZupan commented on #42349
From the linked thread (emphasis mine):

I believe this is a valid use-case. I am not aware of a direct alternative for such a scenario, so I don't think the method can be deprecated. The documentation for it could, however, be updated to note its intended usage - if there are other valid usage scenarios for it I would love to know.

[2020-01-13 13:12] adamsitnik commented on #42055
I've investigated this issue and it turned out to be more complex ;)

BenchmarkDotNet JITs the code by just running the benchmark once. When it takes a lot of time, it skips further warmups and just runs the benchmark once per iteration. It does so to avoid situations where we have a benchmark that takes a lot of time to run and we run it many times just for a warmup (for example for 30s per run a

[2020-01-13 13:27] adamsitnik commented on #42055
`ucol_openRules` takes 150ms... I <3 ICU

![image](https://user-images.githubusercontent.com/6011991/72259460-d2121b00-3610-11ea-8534-854b258a9ed6.png)

[2020-01-13 14:58] adamsitnik commented on #42055
FWIW I was wondering why we create a new collator based on custom text comparison rules while parsing the DateTime and debugged it to the following code:

![image](https://user-images.githubusercontent.com/6011991/72265715-4652bb80-361d-11ea-8a6f-e4892ccdbf6c.png)

[2020-01-13 15:32] adamsitnik commented on #42055
I've studied the [ICU UCollator APIs](https://unicode-org.github.io/icu-docs/apidoc/released/icu4c/ucol_8h.html) and I cant' see any alternatives to `ucol_openRules` for creating an `UCollator` based on a list of custom rules.

Currently the only idea I have is to try to call this method with normalization disabled (`UCOL_OFF` instead of `UCOL_DEFAULT`)

[2020-01-13 16:55] sharwell commented on #42055
@adamsitnik would it help to have the ability to specify the number of warmup iterations as an override?

[2020-01-13 17:49] tarekgh commented on #42055
@adamsitnik I am not sure it is worth it to try optimizing the initialization time of the parsing. The reason is the main scenarios always using a single culture (e.g. CurrentCulture or InvariantCulture) which have the initialization done once and we never got any complaint about that. I suggest closing this one until we get a real complaint.

[2020-01-13 17:49] ViktorHofer commented on #24525
@jkotas unsure if this issue was only tracking rhel6 failures.

[2020-01-13 18:03] jkotas commented on #24525
Keep it open. There are still tests disabled against this issue.

[2020-01-13 18:20] lostmsu commented on #42349
@MihaZupan so what is a concrete example, in which case `EscapeUriString` is required over `EscapeDataString`?

[2020-01-13 19:12] bartonjs commented on #37748
A hallway chat for this suggested that we probably want a new assembly, distributed via NuGet (anticipating netstandard2.x requests)--and probably some engineering trickery to be able to use it as internal implementation details without getting into packaging.

* ASN types (not including PEM, since it's not ASN): namespace System.Security.Cryptography.Asn(1) (strawman, I also have other thoughts b

[2020-01-13 19:15] AArnott commented on #4491
I tried the Lokad/ILPack project and hit [a couple of blocking issues](https://github.com/Lokad/ILPack/issues/created_by/AArnott).

[2020-01-13 19:15] sipsorcery commented on #29711
Perhaps the reason at least some of us are asking for DTLS is because it's required for WebRTC which has gained a lot of momentum. QUIC is highly unlikely to replace DTLS for WebRTC anytime soon (if ever).

There also seem to already be a few [DTLS implementations](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-tsgu/7b1c3b62-c241-4a98-a3f3-6c393ceadfb4) in Microsoft products perha

[2020-01-13 20:43] AArnott commented on #4491
We need this in VS as well, as we have several libraries that use Ref.Emit and debugging such code during development is absolutely vital. We debug it primarily by writing the dynamic assembly out to disk then using peverify and ILSpy on it.

[2020-01-13 20:49] tmat commented on #4491
@AArnott Any reason not to generate .cs files and use Roslyn to build the assemblies?

[2020-01-13 20:53] AArnott commented on #4491
Yes, a few reasons @tmat:

1. Perf
1. we generate one type at a time, on demand. We don't want to compile a distinct assembly every time we need to generate a proxy. Dynamic assemblies let us add types without creating a new assembly.
1. We absolutely need to access non-public members of assemblies our dynamic code references. C# won't let us do that, but the CLR will if we write our own IL.

[2020-01-13 20:54] tmat commented on #4491
Makes sense. I assume this is for RPC proxies? Would it make sense to pre-generate them as part of VS build?

[2020-01-13 20:56] AArnott commented on #4491
Yes, RPC proxies is the main scenario, but so is generation of serializers in MessagePack.

Pregenerating them is something we're likely to look at, but only as an optimization. We don't want to *require* that. And anyway, pregenerating or not doesn't solve our problem that we access non-public members so C# won't do, therefore we use Ref.Emit, and therefore we need to be able to debug our output

[2020-01-13 21:01] tmat commented on #4491
The non-public access can be solved. We don't want to expose such option to csc.exe but an API can be added to support the proxy generation scenario. We have other scenarios in C# scripting where this is needed.

The benefit of requiring it would be that you have just one code path to maintain. What's the downside of requiring it? If it is a default build step in VS SDK that is enabled by default,

[2020-01-13 21:04] AArnott commented on #4491
I think we should discuss whether we pregenerate or JIT-generate these proxies on another thread, as IMO it's orthogonal to this issue.

[2020-01-13 22:32] danmosemsft commented on #27878
REX may not be useful: "Rex error: The following constructs are currently not supported: anchors \G, \b, \B, named groups, lookahead, lookbehind, as-few-times-as-possible quantifiers, backreferences, conditional alternation, substitution"

There are plenty of other test sets and generators (even for other regex engines) and other approaches to increase test coverage.

[2020-01-13 22:49] danmosemsft commented on #27878
Also https://github.com/moodmosaic/Fare ?

[2020-01-13 23:24] DeneshPohar commented on #35629
@ViktorHofer, what's the guidance when we have a lot of .NET Fx `BinaryFormatter` serialized content that contains types that are no longer `[Serializable]` (e.g., `ConcurrentDictionary` as per #28137), but we'd like to consume from a .NET Core 2.2 app?  Is there some way to upgrade these types on the .NET Core side, such that we can use all that legacy data generated from .NET Fx code?

[2020-01-14 00:03] danmosemsft commented on #35629
@DeneshPohar if it's only one or two types you might be able to make it work by defining your own surrogates (https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.surrogateselector?view=netframework-4.8)

However really what we would recommend is to use a different serialization mechanism. One thing to consider is whether you have cycles in your data - only some serializers sup

[2020-01-14 04:49] DeneshPohar commented on #35629
Thanks @danmosemsft, `SurrogateSelector` works well for my narrow scenario.

[2020-01-14 04:49] GrabYourPitchforks commented on #42815
Closing as external. Please use the issue tracker David referenced.

[2020-01-14 04:49] #42815 closed

[2020-01-14 10:18] sunserg commented on #33060
.Net Core 3.1.0 has this issue:

Creating a new event source using .NET Core, adds a registry entry that points to a file that does not exist ->C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.1.0\EventLogMessages.dll

[2020-01-14 11:59] paulomorgado commented on #33701
@sharwell, I would mix both. The obsolete attribute could have an overload with the replacement API and a generic analyzer/fixer for this attribute would offer the proper fix.

[2020-01-14 13:54] MihaZupan commented on #42349
The two methods have different use-cases.

For example, if you are escaping a query key or value, you should use `EscapeDataString`.
[code]

But, if you are trying to escape a whole uri, you should **not** use `EscapeDataString` as it will encode too much
[code]

That said, I am having trouble finding a uri example where using `EscapeUriString` is necesarry before passing the string to the ctor.

[2020-01-14 14:00] Itd-Automha opened #42816 "System.Text.Json Custom JsonConverter<DateTime> .Read() method not being used by .Deserialize()"
I have created a custom converter and it was working in my api project. When i build my client i tried using the same class, but the .Deserialize() methods won't call .Read() on the DateTime property of my class.

https://stackoverflow.com/questions/59733697/system-text-json-custom-jsonconverterdatetime-read-method-not-being-used-by

[2020-01-14 14:07] benaadams commented on #35594
For string would could re-implement the following apis with these span versions
[code]

[2020-01-14 14:10] stephentoub commented on #35594
We could, but I'm skeptical we'd want to... in my experience the number of spaces being trimmed is usually few to none, which could make the overhead here be very pronounced. Also, the trim methods that don't take characters use IsWhitespace and would need to compare against every Unicode space character.

[2020-01-14 14:38] DmitryGaravsky opened #42817 "BinaryFormatter.Deserialize swallow the SecurityException after #35491 fix."
**Issue description:**
After the source code changes merged in the context of https://github.com/dotnet/corefx/pull/40215 the `BinaryFormatter.Deserialize` method wraps the SecurityException into the SerializationException:

[code]
**Expected Behavior:**
According to the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.formatters.binary.binaryformatter.deser

[2020-01-14 16:19] niemyjski commented on #2089
This really needs support linux

[2020-01-14 17:13] tarekgh commented on #2089
CC @joperezr

[2020-01-14 17:51] assyadh commented on #42811
Thanks, that works. I was trying to adapt the 2.1 instructions for 3.1, which changed.

[2020-01-14 17:51] #42811 closed

[2020-01-14 18:25] GrabYourPitchforks commented on #40693
API review - this sentinel value would only be special-cased by specific APIs, and in some contexts -1 is a perfectly valid value for `TimeSpan` parameters. This really should be a doc issue demonstrating correct use of the existing `Timeout` API rather than a public API being added to `TimeSpan`.

[2020-01-14 18:25] #40693 closed

[2020-01-14 18:29] GrabYourPitchforks commented on #40504
API review - `AllBitsSet` seems like a decent name given the scenario.

Suggestion: also rename the internal member `Vector<T>.AllOnes` at the same time so that if it does become public in the future we have consistent naming already.

[2020-01-14 18:34] GrabYourPitchforks commented on #41131
API review - approved.

[2020-01-14 18:49] GrabYourPitchforks commented on #41487
API review - see if there's any usage of `Split` followed by `TrimStart` and `TrimEnd` as opposed to just `Trim`. That'll inform us on whether these enum values being added are sufficient for common use cases.

[2020-01-14 19:04] tannergooding commented on #41783
At the same time, `in` is more appropriate because it does not mutate the ref and not taking in forces users who have a readonly ref to use `ref Unsafe.As(in value)`

[2020-01-14 19:07] GrabYourPitchforks commented on #41783
API review - This really should be `in` from a purity perspective, but should sit down with language folks to figure out exactly what pitfalls might exist and whether the language itself could be evolved to address any concerns. I'll punt this back to myself.

[2020-01-14 19:21] jkotas commented on #41783
FWIW, there are two reasons why this should take `ref`:
- Consistency with the existing APIs: All existing `S.R.CS.Unsafe` APIs for ref pointer arithmetic take `ref`.
- Pit of success: `in` makes it easy to introduce accidental aliasing.

[2020-01-14 19:27] lorranpalmeira opened #42819 "System.Text.Json disallows string literals surrounded by single quotes"
´´´
var objectExpeted = @"{
              'cep': '01001-000',
              'logradouro': 'Praça da Sé',
              'complemento': 'lado ímpar',
              'bairro': 'Sé',
              'localidade': 'São Paulo',
              'uf': 'SP',
              'unidade': '',
              'ibge': '3550308',
              'gia': '1004'
            }";

 //var expected = JsonSerializer.Deserialize<Cep

[2020-01-14 19:29] tannergooding commented on #41783
Many of the APIs were added before `in` existed (C# 7.2) and it causes issues anytime you want to work with readonly references as it requires you to convert using `ref T Unsafe.As<T>(in T)`. Not only does this add another API call but it strips the readonly from the ref which can make code harder to follow/maintain. There are a number of other APIs (not on `Unsafe`) where this can also be problem

[2020-01-14 19:29] GrabYourPitchforks commented on #42372
API review: CBC padding mode should default to PKCS7, ECB padding modes should be non-default (require explicit value at call site). For all methods, move non-_out_ parameters before _out_ parameters.

@bartonjs - please document whether the newly introduced virtual members would ever mutate the underlying instance (changing block mode or padding mode) or throw.

[2020-01-14 19:37] khellang commented on #42819
You're using single quotes which is invalid JSON. From the migration article:

This works with Newtonsoft because it's very flexible and allows a ton of non-standard features. This will probably never work with System.Text.Json 😊

[2020-01-14 19:40] GrabYourPitchforks commented on #38395
API review: We can't add the desired ctor because it would conflict with the `.ctor(IDictionary<TKey, TValue>, ...)` ctor and would be a compile-time breaking change. We might be able to get away with using one of the existing ctors and instead adding a method `AddRange(IEnumerable<KeyValuePair<TKey, TValue>>)`, so the call site would look like:

[code]

Perhaps a ctor that takes a capacity would

[2020-01-14 19:45] jkotas commented on #41783
I have written quite a bit of code against S.R.CS.Unsafe and I have not found this to be a nuisance. I find the unsafe byref-arithmetic with `ref` to be more readable than with `readonly ref`/`in`.

Yes, this sounds better to me.

[2020-01-14 19:55] Thomas-Avery commented on #34730
Using the above test case this error still persists in .NET core 3.1. Is there any plans on working on this for Windows OS compatibility?

[2020-01-14 20:13] vcsjones commented on #42372
Thanks. Will take this if someone wants to assign to me.

[2020-01-14 20:16] lostmsu commented on #42349
That's exactly the point.

If you need to escape a whole URI, what kind of escaping you need to do depends on what are you escaping for.

I suspect (and it might have been mentioned in the original post), that the whole URI might had a need to be escaped for certain browsers which did not support spaces or, for example, instant messengers, which would confuse a space in plain text as a URI's end.

[2020-01-14 20:23] lostmsu commented on #42349
To further illustrate the problem, just look at this: https://github.com/search?q=EscapeUriString&type=Code

I struggled to find any code example there, where `EscapeUriString` would not lead to incorrect input processing under some circumstances.

[2020-01-14 20:41] bartonjs commented on #42372
@vcsjones Done.  FWIW, during the meeting we landed on the Core methods NOT changing the mode, so they'll throw in the wrong mode.

It'll only matter for custom types that directly extend SymmetricAlgorithm, but @GrabYourPitchforks was concerned with people "knowing" that they can call CreateEncryptor/CreateDecryptor across threads without problems; so we'll stay defensive by default.

[2020-01-14 21:50] karelz commented on #42609
Triage: Looks like the workaround is sufficient.
If we the proposed change, we would turn deterministic error into stress-only production error at Read/Write (when they do not finish synchronously with content from buffers in kernel).

We should add explanation comment into the code with the check in constructor and close it.

[2020-01-14 21:51] karelz commented on #42634
Fixed in 3.1.2 in PR #42800 and in 5.0 in PR https://github.com/dotnet/runtime/pull/591

[2020-01-14 21:51] #42634 closed

[2020-01-14 21:54] karelz commented on #42711
Triage: Looks like by design -- anything else would be fairly complicated with little benefit.

[2020-01-14 21:54] #42711 closed

[2020-01-14 21:54] killergege commented on #37563
In my company we're also waiting for a .net core compatible version of the Adomd client, and this is the only blocking point for migration.

Our product is an API that provides aggregated financial information from a SSAS Cube (tabular model) to external applications (mostly widgets). So we mostly use the client to execute dynamically built DAX queries (mostly summarizecolumns with filters to sele

[2020-01-14 22:04] kavun commented on #41445
[code]

This might be more readable. I'm also confused by this seemingly breaking change.

[2020-01-14 22:07] #41324 closed

[2020-01-14 22:08] scalablecory commented on #41445
@mayur-ekbote @kavun can you supply a self-contained sample that compiles in 2.2 but fails to compile with 3.0?

`GroupCollection.Count` does exist, but it is an integer property, not a method. The only other `Count` I'm aware of is an extension method on `IEnumerable<T>`, which `GroupCollection` does not implement.

[2020-01-14 22:39] danmosemsft commented on #41445
I am guessing it relates to this https://github.com/dotnet/corefx/pull/30077 which made this change:
[code]
specifically it added `IReadOnlyDictionary<string, Group>`. @scalablecory can you see how that would cause this error?

[2020-01-14 22:41] danmosemsft commented on #41445
It already had
[code]
and this change added also
[code]
Perhaps it doesn't know which to bind to.

[2020-01-14 22:45] scalablecory commented on #41445
@danmosemsft that looks correct. Not sure how we'd fix that short of reverting the change.

[2020-01-14 22:54] danmosemsft commented on #41445
@bartonjs @stephentoub thoughts about this kind of breaking change? I feel like we've talked about this before and treated them on case by case bases.

[2020-01-14 23:07] JeremyKuhne commented on #312
Triage, really nice to have, but a significant task to accomplish.

[2020-01-14 23:10] JeremyKuhne commented on #549
Triage: Rare case, but disabled test. We should fix.

[2020-01-14 23:12] JeremyKuhne commented on #549
As mentioned above https://github.com/dotnet/corefx/issues/549#issuecomment-72322352 this type of drive shouldn't be considered. Need to look deeper at expected behavior in this case and update tests to either skip in this case or handle appropriately.

[2020-01-14 23:17] JeremyKuhne commented on #1086
Triage: We want to do this, but there are questions around performance (as we have to walk the full path) and what to do for paths that don't exist or are not accessible. We also need to understand what to do with drive letters and validate casing requirements for device paths (e.g. `\\.\Volume....`). Effectively we need `GetCanonicalCasingForExistingPath` but with a better name.

[2020-01-14 23:20] JeremyKuhne commented on #1221
#549 also deals with SUBST

[2020-01-14 23:21] JeremyKuhne commented on #1221
Closing for now as doing machine-wide state modification is difficult to do reliably and we don't get a lot of value from it. Will reopen if we get further input/data.

[2020-01-14 23:53] karelz commented on #3993
Triage: Adding API adds cost. While potentially useful, there seems to be limited interest (3 people commenting). Closing for now, until there is more interest.

[2020-01-14 23:53] #3993 closed

[2020-01-14 23:54] JeremyKuhne commented on #4208
Duplicate of #30701

[2020-01-14 23:54] #4208 closed

[2020-01-14 23:55] bartonjs commented on #41445
If it was caught in preview we probably would have reverted it; but given that we've already shipped an LTS version with the change it's probably there forever now.

Somewhat ironically, we were talking about an overload ambiguity problem from IEnumerable and IReadOnlyDictonary in an API Review today, but we apparently missed this as an ambiguity on extension method invocation because this now has

[2020-01-14 23:56] bartonjs commented on #41445
Specifying the generic should work at the call-site:

[code]

It's only generic inference that fails due to the ambiguity.

[2020-01-14 23:58] JeremyKuhne commented on #4299
Triage: Closing due to low interest.

[2020-01-14 23:58] #4299 closed

[2020-01-14 23:59] danmosemsft commented on #41445
Is this a check we could build into one of our compatibility checker tools, eg., apicompat?

Although, I guess all changes that could potentially cause this would be additive changes visible in an API review at some point, so the scrutiny should be possible there rather than on every PR.

[2020-01-15 00:16] bartonjs commented on #41445
The problem is when you gain a second (specifically second) implementation of an interface, IEnumerable\<T\> being both the most common and the one with the most extension methods.

Probably what happened was "hey, why doesn't GroupCollection implement IReadOnlyDictionary? it seems like it functions as one, but can't be used in IReadOnlyDictionary extension methods...", that led to an API proposal

[2020-01-15 00:20] JeremyKuhne commented on #6663
Triage: seems valuable, let's finish addressing the API review feedback.

[2020-01-15 00:24] danmosemsft commented on #41445
OK. Too bad. @mayur-ekbote thanks for reporting it. Hopefully you can use one of these workarounds above.

@PriyaPurkayastha where do we add a breaking change note? This is from 2.2 to 3.0

[2020-01-15 00:24] JeremyKuhne commented on #7434
Triage: closing as this is external.

[2020-01-15 00:24] #7434 closed

[2020-01-15 00:35] PriyaPurkayastha commented on #41445
Same breaking change template https://github.com/dotnet/docs/issues/new?template=dotnet-breaking-change.md can be used. Version introduced section will have .NET Core 3.0 and description will state that this is a change in behavior from 2.2.
cc @gewarren for awareness that this will come up for documentation.

[2020-01-15 00:48] karelz commented on #8895
Triage: There seems to be mix up of several independent issues here. We need to break them out - @carlossanlop is going to help. Thanks!

[2020-01-15 00:49] karelz commented on #9634
@wfurt do you know if this is still failing?

[2020-01-15 00:52] JeremyKuhne commented on #9872
@carlossanlop This should be addressed by your security extensions, can you validate?

[2020-01-15 00:55] JeremyKuhne commented on #10120
This issue has come up in other forums such as Twitter/StackOverflow

[2020-01-15 00:56] JeremyKuhne commented on #10935
Closing as this isn't a common scenario.

[2020-01-15 00:56] #10935 closed

[2020-01-15 00:59] JeremyKuhne commented on #11658
Triage: No customer demand. The existing Encrypt/Decrypt works with EFS, which isn't fully supported on file systems like ReFS. It is also discouraged- MS IT for example disables this in favor of BitLocker.

[2020-01-15 00:59] #11658 closed

[2020-01-15 01:00] vcsjones commented on #42372
@bartonjs Hm. It sounds like y'all had an idea on implementation that either I am misunderstanding or I am misunderstanding your comment / concerns.

Do you mean the instance property `Mode`? I envisioned these methods operating wholly independently from the instance, essentially ignoring the `Mode`, `Padding`, and `IV` properties.

What is a "wrong" mode? One that does not match the instance's va

[2020-01-15 01:11] vcsjones commented on #42372
@GrabYourPitchforks

Optional parameters need to be last. Since ECB would no longer have an optional parameter, the `byteWritten` out could come after the padding mode, but just for ECB. Taken literally, it would look like this:

[code]

Or would you expect the order to be consistent across modes:

[code]

[2020-01-15 01:11] JeremyKuhne commented on #12628
`/usr/local/share/dotnet/appdata` seems fine. Can we create if it doesn't exist and give it the rights @migueldeicaza suggests: 1777? If not we can document the need for it, perhaps in an exception?

[2020-01-15 01:21] bartonjs commented on #42372
[code]

is correct for what the group decided.  The two calls won't look the same.  But that's fine, it further helps to make a brain engage when switching modes :smile:.

As for the implementation, while all of the built-in types are going to override the virtual \*Core methods, the base class has to do one of:

1) throw NotSupportedException
2) `Mode = theModeINeed; ICryptoTransform xform = Crea

[2020-01-15 01:23] karelz commented on #2089
@niemyjski see #24843

[2020-01-15 01:25] bartonjs commented on #42372
I guess (3) further requires throwing when the padding mode isn't right.  But that's mostly OK, since mostly people want CBC with PKCS#7 padding.

[2020-01-15 01:53] vcsjones commented on #42372
@bartonjs got it. Thank you!

[2020-01-15 02:28] GrabYourPitchforks commented on #42372
For context, the reason I mentioned thread-safety in the first place is that I've come across quite a bit of production code which instantiated a `SymmetricAlgorithm` instance, set the appropriate properties on it, then used it as a glorified factory while many different threads call `CreateEncryptor(byte[], byte[])`. If we were to have one-shot APIs that violate thread safety, we'd want to make s

[2020-01-15 06:25] GrabYourPitchforks commented on #28416
Fixed by https://github.com/dotnet/runtime/pull/328.

[2020-01-15 06:25] #28416 closed

[2020-01-15 06:52] fgfmichael opened #42825 "Non static System.Text.Json?"
Hi Team

I try to avoid usage of global/static code, however after looking over System.Text.Json it looks like all of the code is written with statics... Is there any way to use DI instead of accessing a global static (i.e. is there some interface I can inject into my services) OR will i need to wrap your serialize up into my own container class?

Really not a fan of globals...

[2020-01-15 07:27] Itd-Automha commented on #42816
It was a naming mistake in the DTO, closing the issue

[2020-01-15 07:27] #42816 closed

[2020-01-15 07:32] SunnyWar opened #42826 "DTLS support for UDP client"
#29711 was closed without resolving the issue. Re-opening it here.  We need DTLS in .Net.

As @sipsorcery pointed out, DTLS is needed for the implementation of WebRTC. Also, there does not appear to be any progress on QUIC protocol that @karelz pointed out. In any case, it's not available, so it's not a workaround.

If the powers that be choose to close this again, please show tracking on QUIC or

[2020-01-15 07:57] tmds commented on #42711
@SeanSnyders this is the way to go. You need to Wrap ReceiveAsync in a way it supports cancellation. When a wrapped ReceiveAsync got cancelled, the next call will use the on-going _inner_ ReceiveAsync.

[2020-01-15 08:33] craigwardman commented on #38395
Hi, I suppose that would be a start - however as noted in the issue, the actual implementation of the current ctor does not rely on such a strong interface:

[code]

As you can see it's just a foreach loop, so surely `IEnumerable<KeyValuePair<TKey, TValue>>` would suffice? In which case this signature would fit all purposes without any breaking change? (assuming all implementations of `IDictionary

[2020-01-15 09:59] voltcode commented on #37563
@divega I tried contacting you via e-mail, but it was rejected. I'd be grateful if you could shed some light on whether the Analysis Services team has committed to a timeline regarding netstandard/net core version of their client libraries.

[2020-01-15 11:54] miloush commented on #26603
Sorry to be late to this, but it is not very clear to me from the above what is currently the recommended way to turn a `MemoryMappedFile` into a `ReadOnlySequence<byte>` (or `ReadOnlySpan<byte>`)?

[2020-01-15 13:07] ArgusMagnus commented on #41814
I get the same exception with the JET provider:

    System.Data.OleDb.OleDbException (0x80004002): 'Microsoft.Jet.OLEDB.4.0' failed with no error message available, result code: E_NOINTERFACE(0x80004002)

[2020-01-15 16:09] MihaZupan commented on #9768
If any community member would like to take this and try implementing it, ping me so I can assign the issue to you. I can help out with PR review.

Otherwise I will look into this in the following weeks.

[2020-01-15 16:31] #33904 closed

[2020-01-15 17:17] stijnherreman commented on #35892
I've my doubts about it being too much of a hurdle, considering the target audience is people who consciously choose to use immutable collections. I'd wager a large majority of .NET developers will rarely, if ever, come in contact with the concept of immutable collections.

[2020-01-15 17:21] Clockwork-Muse commented on #42825
... if you're talking about things like [`JsonDocument.Parse(...)`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsondocument.parse?view=netcore-3.1#System_Text_Json_JsonDocument_Parse_System_Buffers_ReadOnlySequence_System_Byte__System_Text_Json_JsonDocumentOptions_), they're factory methods.

This suggests that what you inject should be a reference to the function:

[code]

... w

[2020-01-15 18:01] Gladskih commented on #1794
So we have opposite behaviour of the same code (or Standard library) in Framework and Core!

[2020-01-15 18:12] wfurt commented on #9634
seems like some limitation per @ramarag comment. However I did check and the test is not disabled and not failing last 90 days. This is very old and we have updated versions of windows now.

closing now, we can reopen if this fails ever again.
cc: @carlossanlop

[2020-01-15 18:12] #9634 closed

[2020-01-15 19:42] rynowak commented on #39483
@GrabYourPitchforks - what do we need to do to make progress on this? We want to build more functionality in ASP.NET Core that would use this, and I'd really love not to duplicate the code we're using in MVC today.

[2020-01-15 20:19] redwyre commented on #18924
AFAIK, there is currently no way to handle more than 64 core using .net even on windows. In fact without access to processor groups the process will end up with access to _less_ cores, We sorely need something like this. AMD is currently pushing core count and it wont be long before 64 core is something we need to handle.

[2020-01-15 20:30] karelz commented on #9634
Thanks @wfurt for confirmation!

[2020-01-15 20:33] karelz commented on #1794
@Gladskih you can't maintain 100% compatibility while also fixing bugs and fixing design flaws (like this one). Compatibility and innovation are ancient rivals.

[2020-01-15 20:49] GrabYourPitchforks commented on #39483
@rynowak I'll mark it partner blocking so that it gets prioritized during triage.

[2020-01-15 21:10] GrabYourPitchforks commented on #38395
I had forgotten to include an example earlier of code which breaks:

[code]

Adding a constructor which takes `IEnumerable<KeyValuePair<TKey, TValue>>` would possibly work. The `IDictionary<TKey, TValue>` ctor would be preferred over the `IEnumerable<...>` ctor in all cases I can think of, so it wouldn't be a source breaking change.

[2020-01-15 22:25] manne commented on #38569
I have started to implement a custom converter for `immutable` types here <https://github.com/manne/obviously/tree/master/src/system.text.json>.

The converter is able to read "basic" types. The type must have exactly one constructor with at least one parameter. The type has not be sealed.

Example
[code]
I have uploaded a nuget package [Obviously.System.Text.Json](https://www.nuget.org/packages/O

[2020-01-16 00:07] ahsonkhan commented on #42819
This issue is similar to https://github.com/dotnet/corefx/issues/41421 (which talks about having support for no quotes for names, but the same applies to single quotes).

As @khellang mentioned, the bar for such a feature would be quite high and I don't see enough evidence to suggest we should support such flexibility (anything other than double quoted strings), at the cost of perf for the common

[2020-01-16 00:07] #42819 closed

[2020-01-16 00:07] ahsonkhan commented on #41421
Similar concern from @lorranpalmeira in https://github.com/dotnet/corefx/issues/42819 (but for single quotes):

[2020-01-16 00:08] ahsonkhan commented on #42819
Also, just a reminder, please open new issues in https://github.com/dotnet/runtime and not in this repo.

Look at these pinned issues:
https://github.com/dotnet/corefx/issues/42733
https://github.com/dotnet/corefx/issues/42716

[2020-01-16 00:17] carlossanlop commented on #9872
Here are the APIs we have already merged:

Shipped in 3.1:

#### FileInfo that creates a FileStream
- API Proposal: https://github.com/dotnet/corefx/issues/41614
- PR: https://github.com/dotnet/corefx/pull/42099
- Available in 3.1: https://github.com/dotnet/corefx/pull/42228
[code]

### DirectoryInfo that creates a directory
- API Proposal: https://github.com/dotnet/corefx/issues/41614
- PR: https

[2020-01-16 00:18] #9872 closed

[2020-01-16 01:10] fgfmichael commented on #42825
Cheers

[2020-01-16 01:10] #42825 closed

[2020-01-16 04:21] SeanSnyders commented on #42711
Thanks for the suggestions. I'll look into this.
For the time being I am circumventing this situation on app logic level, but would like not to.

Might still be worthwhile pondering the suggestion of @tmds and see if those internal protocol management of receiveAsync can be made to not abort the socket.

[2020-01-16 11:30] simendsjo commented on #38497
I tested with 3.1, and it works, thanks! Since 2.2 isn't supported, I won't bother to add a new issue for this.

[2020-01-16 11:51] Gladskih commented on #37965
Error in private Asure Build:

`dotnet --info` report:

[2020-01-16 12:46] ScottMathieson commented on #27971
I believe this is actually still an issue when dealing with non-Seekable stream content. Seems to me that in the event of an authorization negotiation, there is a second attempt to read the stream content regardless if the underlying stream is seekable or not meaning this error happens. Not sure how this could be solved other than by using an OPTIONS request before attempting to POST to ensure the

[2020-01-16 14:48] stephentoub commented on #27971
Potentially it's Expect: 100-continue kicking in?  Using Expect: 100-continue defaults to true on .NET Framework, and false on .NET Core.  It's possible the timing is working out such that on .NET Framework the sending of the request content is delayed sufficiently that it doesn't experience the issue.  You could try disabling it on .NET Framework and see if the problem reproduces, and conversely

[2020-01-16 15:40] tannergooding commented on #31598
@benaadams, could you update this proposal to just be for `Dictionary`?

Seeing as we already reviewed/approved the `List<T>` changes here: https://github.com/dotnet/corefx/issues/31597 (and implemented https://source.dot.net/#System.Private.CoreLib/CollectionsMarshal.cs,18)

[2020-01-16 15:47] benaadams commented on #31598
Done

[2020-01-16 15:50] jkotas commented on #31598
Also update the proposed API list in the top post?

[2020-01-16 15:55] benaadams commented on #31598
Dropped List and ConcurrentDictionary (as getting a live ref for `ConcurrentDictionary` is probably asking for trouble as other threads could invalid the ref)

[2020-01-16 15:57] lrhoads opened #42833 "Potential for Port Exhaustion"
https://github.com/dotnet/corefx/blob/07080ceab1e5b305d8a5fecd9d5b793fb502d57a/src/System.Net.Requests/src/System/Net/HttpWebRequest.cs#L1101

This was discovered in using RestSharp in .Net Core 2.2, which utilizes HttpWebRequest and instantiates a new HttpWebRequest per instance of RestClient.

With the change in .Net Core to wrap HttpClient, this is allowing the potential for port exhaustion. I

[2020-01-16 16:02] AlonCG commented on #38712
We ran into this issues as well, and being stubborn (& lazy ... since I did not read all the docs first) ... I decided to trudge through and forcefully and painstakingly remove JSON.Net from our 2.2 to 3.1 migration. In the end we created a `JsonConverter<DataTable>`.

I have **not tested** it extensively and I am sure there are dozens of other **better** examples out there, but this was my first

[2020-01-16 16:08] gjcampbell commented on #42833
It's surprising that dotnet core is using HttpClient in this way. There are Microsoft articles detailing this pitfall.

From [Issues with the original HttpClient class available in .NET Core](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-availab

[2020-01-16 16:42] ericstj commented on #37965
@Gladskih you should open a new issue.  If you're having an issue during restore, the correct location for the issue is https://github.com/nuget/home.  My best guess is that your corporate build infrastructure is using a very old nuget.exe to restore the project.  Make sure you're using dotnet.exe to restore the project.  If that doesn't help, open the new issue in nuget repo and attach the msbuil

[2020-01-16 16:49] karelz commented on #39955
Triage: We believe that majority of the sharing was done.
If there are ideas to share specific code more, please file new specific issues, otherwise we will sit on this one indefinitely.

[2020-01-16 16:49] #39955 closed

[2020-01-16 16:50] karelz commented on #40367
@scalablecory already looked at these as well and didn't find anything related, closing.

[2020-01-16 16:50] #40367 closed

[2020-01-16 16:50] ScottMathieson commented on #27971
Setting it doesn't have any effect so I think it must be something else. I can see in Fiddler the 401 response and the negotiate follow-up when running in .NET Framework. In dotnet core I simply see the 401 response and then the failure in `StreamContent.PrepareContent()`  which looking at the source code can only happen when `SerializeToStreamAsync` gets called twice for the same stream. From the

[2020-01-16 16:52] karelz commented on #41339
@davidsh unassigning you as you don't work on it now ...

[2020-01-16 16:56] karelz commented on #41408
Triage: We currently don't track it. Adding one more field for a corner-case scenario (which has a workaround) does not seem to be worth it (perf impact on all scenarios).

[2020-01-16 16:56] #41408 closed

[2020-01-16 16:58] carlossanlop commented on #8895
Let's focus this issue on **the discussion** of [this comment](https://github.com/dotnet/corefx/issues/8895#issuecomment-573276013) that proposes making some Stream methods virtual and changing behaviors of Dispose and Close.

I opened a separate issue, specific for `FileStream.Dispose`, to address the problem reported by @arunjvs on Unix: https://github.com/dotnet/runtime/issues/1816

[2020-01-16 16:59] karelz commented on #41412
Triage: It seems that the value looks questionable. Bandwidth monitoring sounds like a good idea, but it may be via diagnostics EventSource or something else. If there are API requests, we would like to see full end-to-end scenario and its usage described to make sure we design APIs that make sense and are truly valuable for customers.

[2020-01-16 16:59] #41412 closed

[2020-01-16 16:59] karelz commented on #41412
@zivkan let me know if you disagree or if we missed anything.

[2020-01-16 17:02] karelz commented on #41658
Triage: Original request -- support HTTPS proxies sounds reasonable, we should try to implement it in 5.0.
Some of the code already exists in the code base under if-statements.
With @davidsh's enterprise scenario testing, we should be able to test it easier.

[2020-01-16 20:34] aaron-pedigo commented on #33897
When porting code to a .NET Core 3 project, VS suggested installing Microsoft.SqlServer.Compact to help resolve SqlCeConnection.  When trying to load my CE 3.5 file, I got a message mentioning that it cannot find an ADO.NET provider of version 8876.  Google searching has led me to believe that is CE 4.  Is there any way to load CE 3.5 files in .NET Core 3?

[2020-01-16 20:36] aaron-pedigo-eii commented on #33897
When porting code to a .NET Core 3 project, VS suggested installing Microsoft.SqlServer.Compact to help resolve SqlCeConnection. When trying to load my CE 3.5 file, I got a message mentioning that it cannot find an ADO.NET provider of version 8876. Google searching has led me to believe that is CE 4. Is there any way to load CE 3.5 files in .NET Core 3?

[2020-01-16 22:17] carlossanlop commented on #41614
There was one more API to port. See https://github.com/dotnet/runtime/pull/1834

[2020-01-16 22:45] ahsonkhan commented on #38712
From a quick glance, I would recommend one adjustment. Remove **all** the calls to `JsonEncodedText.Encode` and pass the strings directly to the writer. Unless you are doing custom encoding specific to a particular key/value pair, it is just extra overhead and making things slower (+ you are writing more code). `JsonEncodedText` is mainly useful for known/constant string literals you want to encod

[2020-01-16 23:01] AlonCG commented on #38712
@ahsonkhan Yeah, that is simple. For some reason early on I thought it was required, so just copied and pasted it there! Thanks!

[2020-01-17 02:05] GrabYourPitchforks commented on #35370
How about something like this?

[code]

The behavior of the `GetLengthOfFirstTextElement` API is that it would return the length in chars of the first text element (["extended grapheme cluster"](https://www.unicode.org/glossary/#extended_grapheme_cluster)) in the input string or span. The `(string, int)` overload tells you the length of the first text element starting at char position _index_ in t

[2020-01-17 02:10] GrabYourPitchforks commented on #35370
For your other question re: `CharUnicodeInfo`, take a look at the [`Rune`](https://docs.microsoft.com/en-us/dotnet/api/system.text.rune) type we introduced in .NET Core 3.0. You can create a `Rune` instance [from a UTF-16 buffer](https://docs.microsoft.com/en-us/dotnet/api/system.text.rune.decodefromutf16), and once you have an instance you can query APIs like [`Rune.GetUnicodeCategory`](https://d

[2020-01-17 02:26] etghanibahman commented on #41002
Do you have any advice on how we can serialize DataSet with current version of System.Text.Json.JsonSerializer ?

[2020-01-17 02:52] alizainal-abidin commented on #41466
Hi @xav-stargate,

May I know your workaround for this? I recently got the same error when using _dotnet-passbook_ which runs on docker (linux image).

I've tried to add this but have had no success..
https://github.com/dotnet/corefx/issues/41466#issuecomment-540235768

Many thanks!!

[2020-01-17 03:36] danmosemsft commented on #33897
@aaron-pedigo-eii  this issue is closed so it’s likely to get overlooked. Please open a fresh issue. Maybe in https://github.com/dotnet/SqlClient

[2020-01-17 10:02] ffMathy commented on #41307
@ahsonkhan was this fixed in 3.1? It seems that the converter is no longer needed, but I'm not fully sure. Can someone confirm?

[2020-01-17 12:12] #12093 closed

[2020-01-17 13:43] voltcode commented on #37563
@danmosemsft I noticed that @divega is no longer in Microsoft. Would you mind pointing me to another person that I could talk to regarding this issue?

[2020-01-17 16:05] ErikEJ commented on #33897
@aaron-pedigo-eii Being able to use deisgners and using 3.5 at runtime are two very different things. I very much doubt you will be able to do that - why not just move to 4.0?

[2020-01-17 16:12] aaron-pedigo-eii commented on #33897
@ErikEJ We have several programs that output logs in 3.5 and we also have a custom viewer.  I am trying to port over a log analysis tool over to Core 3.  At a minimum this is letting me know another hurdle we will have when we try to port our other apps over from .NET Framework.

[2020-01-17 18:19] danmosemsft commented on #37563
@voltcode you're right. @David-Engel @roji can you please help route this request?

@voltcode the SqlClient team has created a fork named Microsoft.SqlClient, so they can ship more often than we do. You could ask in that repo, where they will certainly see it. : https://github.com/dotnet/SqlClient/issues

[2020-01-17 18:59] jader1313 commented on #23542
I tested using a LocalDB database and OLE DB Driver for SQL Server and got a error too.

"Provider=MSOLEDBSQL;Server=(localdb)\MSSQLLocalDB;Database=SarathlalDb;DataTypeCompatibility=80;Integrated Security=SSPI; "

In .Net Core 3.0 or 3.1 tests with 1 parameter works, but with 2 or more parameters error occurs.

@JoeHz tests the command with a parameter just to confirm what I said:

Select * from

[2020-01-17 19:00] danmosemsft commented on #42812
Does LD_DEBUG confirm it's loading the right one?
http://www.bnikolic.co.uk/blog/linux-ld-debug.html

If so, what is the code at the point of failure, and the callstack? What is the exception?

[2020-01-17 19:15] JeremyKuhne commented on #9225
There are two security buckets here. One is that there are actual ACL implementations (such as what ships with RedHat Linux), but there is no standard Unix wide. We could implement against the various ACL implementations and perhaps be able to leverage the existing API surface, but that isn't certain.

One other approach that we should consider is creating a simple Least-Common-Denominator access

[2020-01-17 19:16] JeremyKuhne commented on #12660
The parent issue (#12628) discusses the rights that need to be set and we've been doing that with P/Invoke elsewhere in the libraries.

[2020-01-17 19:16] JeremyKuhne commented on #12660
Duplicate of #12628

[2020-01-17 19:16] #12660 closed

[2020-01-17 19:17] danmosemsft commented on #23542
This issue is closed so comments don't reliably get seen. Please open new issues for any distinct remaining issues. Any debugging you could do would help speed things up.

[2020-01-17 19:19] carlossanlop commented on #15589
We recently addressed this by making sure both the .NET Core and the .NET Framework versions of `FileSystemAclExtensions` threw `ArgumentNullException` if the `this` argument was `null`. See history for those two files:

https://github.com/dotnet/runtime/blob/master/src/libraries/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs
https://github.com/dotnet/runtime/blob/mast

[2020-01-17 19:26] JeremyKuhne commented on #13270
You can manually set the flag, as we allow it. We should make this one public if this is hitting enough people. We should also consider removing validation for the options. Closing for now pending more data on need/usage.

[2020-01-17 19:26] #13270 closed

[2020-01-17 19:30] JeremyKuhne commented on #15337
We've had this in NetCoreApp for multiple versions now, probably not worth removing it at this point.

[2020-01-17 19:30] #15337 closed

[2020-01-17 19:32] JeremyKuhne commented on #15393
Triage: We would consider this if there was demand and someone was willing to champion it. As it hasn't gotten any traction and isn't critical, closing.

[2020-01-17 19:32] #15393 closed

[2020-01-17 19:34] JeremyKuhne commented on #15589
Should be fixed in 5.0. Closing per @carlossanlop comment above. https://github.com/dotnet/corefx/issues/15589#issuecomment-575759695

[2020-01-17 19:34] #15589 closed

[2020-01-17 19:38] JeremyKuhne commented on #15708
API shape needs good. The proposed implementation is obviously just a draft and the final implementation would need parameter validation and as per our other API's would need `GetFullPath` to normalize the inputs.

[2020-01-17 19:40] JeremyKuhne commented on #15752
Closing this as the test are ported and there are individual issues to track other test problems.

[2020-01-17 19:40] #15752 closed

[2020-01-17 19:44] JeremyKuhne commented on #16050
Closing as @krwq's pr was merged. https://github.com/dotnet/corefx/pull/33027/files#diff-773a9e01da688a99d805eb327e4b7012R22

[2020-01-17 19:44] #16050 closed

[2020-01-17 19:52] JeremyKuhne commented on #16094
We have a customizable enumeration API now which should allow you to skip links by looking at the file attributes.  [System.IO.FileSystemEnumerable](https://docs.microsoft.com/en-us/dotnet/api/system.io.enumeration.filesystemenumerable-1?view=netcore-3.1)

[2020-01-17 19:52] #16094 closed

[2020-01-17 20:00] JeremyKuhne commented on #16187
This is the full initial API shape we want to review.

[code]

[2020-01-17 20:02] JeremyKuhne commented on #16261
It appears that @krwq fixed this, closing.

[2020-01-17 20:02] #16261 closed

[2020-01-17 20:04] JeremyKuhne commented on #16542
Triage: This needs to be validated on Windows. Validation should be simple, we can close if it works or add further details and track fixing here.

[2020-01-17 20:06] JeremyKuhne commented on #17242
Triage: Closing due to lack of interest (nearly 5 years).

[2020-01-17 20:06] #17242 closed

[2020-01-17 20:08] JeremyKuhne commented on #17304
Triage: We would be very interested in this functionality if someone wants to champion moving this forward.

[2020-01-17 20:13] JeremyKuhne commented on #17306
The right way forward for this is implementing #17304.

[2020-01-17 20:13] #17306 closed

[2020-01-17 20:15] JeremyKuhne commented on #17438
Triage: Closing due to low interest on this edge case.

[2020-01-17 20:15] #17438 closed

[2020-01-17 20:22] JeremyKuhne commented on #17843
#17843 details a scenario where not having this support breaks (deleting the reparse point).

[2020-01-17 20:22] JeremyKuhne commented on #17844
Tracking this with #17843.

[2020-01-17 20:22] #17844 closed

[2020-01-17 20:25] JeremyKuhne commented on #18023
@PRIMETSS did your commit make it to an official PR?

[2020-01-17 20:29] JeremyKuhne commented on #18749
Triage: closing as the workaround in https://github.com/dotnet/corefx/issues/18749#issuecomment-296818568 should be sufficient.

[2020-01-17 20:29] #18749 closed

[2020-01-17 20:44] JeremyKuhne commented on #18922
The hope is that we are able to add to `MatchOptions` so that it would be something like this (don't mind the terms):

[code]

Adding  `Regex` may not be possible due to taking the dependency on the Regex library. If it isn't we'd add something like 'Custom' and a property in the `EnumerationOptions` that allows you to specify a match delegate.

[2020-01-17 20:47] JeremyKuhne commented on #19717
Need to update and put back to review.

[2020-01-17 20:48] JeremyKuhne commented on #19839
Edge case.

[2020-01-17 20:48] #19839 closed

[2020-01-17 20:52] JeremyKuhne commented on #20652
Triage: Not a common scenario.

[2020-01-17 20:52] #20652 closed

[2020-01-17 20:56] JeremyKuhne commented on #21472
@davidfowl Did you get a chance to validate yet?

[2020-01-17 21:00] JeremyKuhne commented on #22384
Triage: Closing as this isn't a common scenario.

[2020-01-17 21:00] #22384 closed

[2020-01-17 21:03] davidfowl commented on #21472
Repo consolidation plus asp.net has a super old CoreFx build, not yet

[2020-01-17 21:30] ahedreville opened #42836 "JsonConstructor attribute missed on System.Text.Json"
I missed the Newtonsoft.Json the nice attribute JsonConstructor that is very handy when serializing classes that do not expose public constructor.. like the one below...

[code]

[2020-01-17 21:42] danmosemsft commented on #41445
@scalablecory mind adding a quick note for this one ?

[2020-01-17 22:18] stephentoub commented on #9071
There are still references to this in the code, e.g.
https://github.com/dotnet/runtime/blob/1e31730c2831b01e9c6778d7aa97d10751e4db36/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/Http2Stream.cs#L976

[2020-01-18 05:23] JoeHz commented on #23542
@jader1313  You want to open the issue that @danmosemsft says should be created? I'll add my $.02 to it. I have parameterless queries that run fine but all my parametered queries fail. I don't believe I have any with one and only one parameter. Will try to get to your test case this week.

[2020-01-18 06:44] jan-johansson-mr commented on #38650
I followed your example, and I got the exception: `System.NotSupportedException: 'Deserialization of interface types is not supported'` from System.Text.Json. Is this how you set up the types?

[code]
As an example...

One observation I've made is that only property are handled by `System.Text.Json`, e.g. if you have a POCO with fields, then the serializer will not handle the fields at all.

[2020-01-18 15:17] iSazonov commented on #18922
Question about custom delegate is - would we want to pass custom options to the delegate?

[2020-01-18 22:26] zehavibarak commented on #38007
Try using the JsonElement type:

`public JsonElement MyProperty {get; set;}`

[2020-01-19 03:28] BinaryPatrick commented on #25107
Any update on this?

[2020-01-19 05:20] danmosemsft commented on #30131
I had a quick check, and compiled path is indeed slower because of JITting. Although creating the regex may be out of the benchmarked path, the JITing occurs when the regex is first used. As pointed out the cache doesn't help because each of these 798 is only used once. In short, this pattern of creating large numbers of regexes only used once is not a good fit for RegexOptions.Compiled. The cost

[2020-01-19 05:20] #30131 closed

[2020-01-20 00:51] PureKrome commented on #34233
Any update on this issue, btw?

[2020-01-20 01:06] GrabYourPitchforks commented on #41487
I dug into this a bit further, and there doesn't seem to be much of a scenario for having a separate `TrimStart` or `TrimEnd` enum value. There were two "interesting" use cases of `string.Split` followed by `string.TrimStart` in the Framework, but they're both achievable though other means.

 * https://referencesource.microsoft.com/#PresentationBuildTasks/Shared/System/Windows/Markup/ReflectionHel

[2020-01-20 10:04] roji commented on #37563
Issue opened on SqlClient repo: https://github.com/dotnet/SqlClient/issues/387.

@David-Engel @cheenamalhotra any idea who the owners of this are?

[2020-01-20 10:30] tomesendam commented on #34233
@PureKrome honestly I've forgotten about this issue. I'll create the complete list of design decisions I can come up with by the end of today.

This most likely will not be enough so others should feel free to comment more design decisions and I'll add them to the list.

[2020-01-20 11:14] danielsh555 commented on #27971
Hi,
We have a project with .NET Framework 4.7.2 as the target.
We've received the same issue:

[code]

So it seems that it doesn't work with .NET Framework too.
Could you please help?

[2020-01-20 14:05] jader1313 commented on #42596
I tested using a LocalDB database and OLE DB Driver for SQL Server and got a error too.

"Provider=MSOLEDBSQL;Server=(localdb)\MSSQLLocalDB;Database=SarathlalDb;DataTypeCompatibility=80;Integrated Security=SSPI; "

In .Net Core 3.0 or 3.1 tests with 1 parameter works, but with 2 or more parameters error occurs.

@JoeHz tests the command with 1 parameter just to confirm what I said:

Select * from

[2020-01-20 14:06] jader1313 commented on #23542
@JoeHz I replied on #42596

[2020-01-20 15:34] cheenamalhotra commented on #37563
@roji

It's out of scope for dotnet/SqlClient repository and our driver team so I'll close the issue opened at our end. I'll let David respond regarding area owners.

[2020-01-20 15:35] David-Engel commented on #37563
@roji @danmosemsft I have no idea. But there is a relevant issue on the SQL Server feedback site which people can vote for. From comments, it also looks like they are planning a preview in Q1:
https://feedback.azure.com/forums/908035-sql-server/suggestions/35508349-adomd-core

[2020-01-20 17:57] rharpavat commented on #42634
Would it be possible to get a dev build of 3.1.2 so we can verify this fix? We're depending on this fix for a product release so would like to verify it prior to release. Thanks!

[2020-01-20 21:16] JohnGalt1717 commented on #32563
The reason you want to create a copy is simple:

let's say you load a value from a resource string.

And you want to go and do find and replace within that string.

Every iteration of a loop you copy the original string that was expensive to get out of resources so you got it before the string, and then you do find and replace on the original string.

This happens all of the time.

[2020-01-20 21:20] GrabYourPitchforks commented on #34144
Marking as ready for review since there's now a more fleshed-out API surface.

[2020-01-20 21:20] raffaeler commented on #34927
In late 2018 I demoed at #dotnext in Moscow the use of Pipelines in processing audio files.
The only weirdness was the need of MemoryMarshal to convert blobs into audio chunks as the Pipelines are not able to manage anything out of bytes.

The good part of the sample is the ability to compose the blocks chaining multiple Pipes, such as:
- FileSource, FileWriter blocks
- IntToFloat, FloatToint bloc

[2020-01-20 21:26] GrabYourPitchforks commented on #29990
This issue hasn't been touched in nearly 2 years and a viable use case hasn't yet been presented. Should we go ahead and close it?

Alternatively: as mentioned earlier, the compiler could special-case `<struct>.GetType()` and replace it with the IL it would have generated for an equivalent `typeof(<struct>)` statement. That will work for all struct types, including ref structs. If that's the desir

[2020-01-20 22:05] GrabYourPitchforks commented on #41308
I don't have a good scenario for this at the moment. Closing.

[2020-01-20 22:05] #41308 closed

[2020-01-20 22:14] GrabYourPitchforks commented on #9369
API proposal from the thread, more formally stated:

[code]

[2020-01-20 22:21] GrabYourPitchforks commented on #32563
Find and replace operations always return a copy of the string. You don't need to make a manual copy.

Example:

[code]

[2020-01-20 22:33] GrabYourPitchforks commented on #29969
It's coming up on 2 years and there has been no recent activity on this issue. Is there still interest in this? Otherwise, we should close it.

[2020-01-20 22:36] stephentoub commented on #29969
I don't think this is something we should or would add. I think we can close it. Thanks.

[2020-01-20 22:39] GrabYourPitchforks commented on #31443
Just to be clear, when you say ordinal comparison by code points, you're asking for something like this?

[code]

[2020-01-20 22:41] GrabYourPitchforks commented on #32551
It has been a while and this issue hasn't had any recent activity. Is there any reason the suggestion at https://github.com/dotnet/corefx/issues/32551#issuecomment-425735834 (use a discard) isn't satisfactory?

[2020-01-20 22:45] bartonjs commented on #9369
As ComputeHash is an instance method, making a static method with the same name seems overly confusing (removed ready-for-review)

[2020-01-20 22:52] GrabYourPitchforks commented on #32931
Is this the API proposal?

[code]

[2020-01-20 22:54] bartonjs commented on #9369
It's actually worse than confusing, it's a recompile-breaking change.  Anyone with a strongly typed `SHA256` that currently invokes the instance method will get a compile error:

[code]

[2020-01-20 22:58] GrabYourPitchforks commented on #34857
Just to be clear, this proposal is about making the `T[]` (internally, _SzArray_) type something _other_ than a contiguous buffer of elements with the ability to arbitrarily get and set values by index? I don't really see us changing _SzArray_ in that fashion. There are other abstractions like `SortedSet<T>` and `SortedList<TKey, TValue>` that provide the needed guarantees.

If I'm misinterpreting

[2020-01-20 23:00] GrabYourPitchforks commented on #35381
Seems like the "hash-based collections won't benefit from this" discussion has already taken place. Is there another scenario that might benefit from this API?

[2020-01-20 23:02] GrabYourPitchforks commented on #36519
Possibly covered by https://github.com/dotnet/corefx/issues/34144?

[2020-01-20 23:05] GrabYourPitchforks commented on #9369
@bartonjs You have an alternative proposal that puts these as static members on a new static type, which would work around the issue. Even with the issues you point out it still seems like something we'd allow to come through API review since it's an actionable, concrete proposal.

[2020-01-20 23:05] #29969 closed

[2020-01-20 23:11] jjdseattle commented on #31443
Right.

I proposed a StringComparer with results that would be identical to a comparisons based on 32-bit (UCS4) code points.  In 32-bit code points, we see that

U+01234 U+0E000 U+103FF

sorts before

U+01234 U+103FF

.

Converting UCS4 code-points to UTF8 code-units happens to be order preserving.  So one could also think of this comparison as occurring in UTF8 space:

E1 88 B4 EE 80 80 F0 90 8F

[2020-01-20 23:21] GrabYourPitchforks commented on #31443
Collation is normally performed in a linguistic-aware fashion. Existing linguistic-aware comparers should already handle this case correctly by decoding multi-code unit sequences for both UTF-8 and UTF-16.

Most people use linguistic-unaware collation as a glorified _memcmp_ operation, which isn't quite meaningful when comparing two texts with different encoding. What scenario do you have in mind

[2020-01-20 23:36] bartonjs commented on #9369
The proposal for a new type named Hash?  Since we've spanified things since then, I think it would be

[code]

Morgan's suggestion was to use Hash as the method name for the one-shot, which would be

[code]

The latter generalizes better (anyone who adds a hash algorithm in a NuGet package, or whatever, can follow that pattern, but they can't add static methods on our Hash accelerator type).

Havi

[2020-01-20 23:57] tomesendam commented on #34233
@tarekgh should I move this issue to the new repo? or will this be done by Microsoft?

### Summary of the discussion so far

There are situations where a asynchronous parallel foreach is needed instead of the already existing ```Parallel.ForEach()``` and while it's not rocket science to implement yourself I think it would be a nice feature to be implemented in corefx. This should be seen as the as

[2020-01-21 00:11] jjdseattle commented on #31443
I’m concerned with building systems that must collate in a compatible manner to mon-CLR code that in turn is implemented based on linguistic-unaware UTF8 comparison.

Admittedly, as CoreFx support for UTF8 encoding grows, the need for such a compatible collation of UTF16-encoded string is reduced.  Still, it would be valuable to be able do a UTF8-compatible ordinal collation without the performanc

[2020-01-21 00:41] benaadams commented on #36519
Yes, think it would be covered by `Equals(ReadOnlySpan<byte> left, ReadOnlySpan<char> right)` ?

[2020-01-21 00:42] benaadams commented on #34144
If one is `EqualsOrdinalIgnoreCase` should the other be `EqualsOrdinal` rather than `Equals`?

[2020-01-21 00:46] GrabYourPitchforks commented on #37504
@MarcusWichelmann Is the suggestion at https://github.com/dotnet/corefx/issues/37504#issuecomment-490441358 sufficient for your scenario? It's the canonical way of parsing hex strings.

Some sample usage within the Framework source code:

 * https://referencesource.microsoft.com/mscorlib/system/runtime/remoting/soapinteroptypes.cs.html#978
 * https://referencesource.microsoft.com/System/net/System

[2020-01-21 00:59] GrabYourPitchforks commented on #35815
It's not possible to change the type of the `KeyedHashAlgorithm.Key` property. As @vcsjones said, it would likely need to be an entirely new API with a different type hierarchy than `KeyedHashAlgorithm`. Too much of the type as it exists today is dependent on everything being in the form of a `byte[]`.

The scenario can be accomplished safely with a single line of code. It makes a copy of the inne

[2020-01-21 00:59] #35815 closed

[2020-01-21 01:03] GrabYourPitchforks commented on #34144
I'm not too attached to the name to be honest, so sure. :)

Though the nice thing about naming it `Equals` is that most consumers won't run into the trap of typing `Ascii.Equals(span1, span2)` then receive a cryptic "can't box Span" error.

[2020-01-21 01:11] GrabYourPitchforks commented on #1617
@CarolEidt @tannergooding isn't there an environment variable you can set to make the `Vector<T>` type be 128-bit instead of 256-bit? I assume having an application-wide switch as the default behavior and otherwise falling back to the intrinsics as suggested by https://github.com/dotnet/corefx/issues/1617#issuecomment-541644968 would be adequate for the scenarios under consideration.

[2020-01-21 01:11] jnm2 commented on #32931
@GrabYourPitchforks Yes.

[2020-01-21 01:15] GrabYourPitchforks commented on #2102
This issue hasn't been touched in 4 years and there is no actionable API proposal. Closing the issue. If you feel that this issue has been closed in error please reopen with a reviewable API proposal.

[2020-01-21 01:15] #2102 closed

[2020-01-21 01:18] GrabYourPitchforks commented on #2324
This issue hasn't been touched in 3+ years. Some of the shipping APIs (`String.Contains`, `String.Replace`) have now been updated to take `StringComparison` parameters.

Is there still interest in addressing the remainder of the proposal?

[2020-01-21 01:24] GrabYourPitchforks commented on #3418
Is anybody still driving this? It has been many years since the last comment.

[2020-01-21 01:32] GrabYourPitchforks commented on #11390
Just as a note: you likely don't want to add all of the string functionality. For instance, APIs that are culture-aware (i.e., that take a `CultureInfo` or a `StringComparison`) only operate over fully contiguous buffers, _not_ discontiguous buffers like what `StringBuilder` is backed by today. Attempting to add these APIs to `StringBuilder` would almost certainly result in significant performance

[2020-01-21 01:43] GrabYourPitchforks commented on #11580
### Possible API proposal

[code]

### Behavior

If _T_ is a value type, returns _obj_ as-is (since it's a copy anyway).

If _T_ is not a value type, or if _obj_ is a boxed value type, just turns around and calls the existing `object.MemberwiseClone` method.

An `ArgumentNullException` is thrown if _obj_ is null.

[2020-01-21 01:48] benaadams commented on #34144
True, also matches behaviour of `String.Equals(string, string)`

Question then, are other comparisions in the mix other than ordinal (e.g. see some `Invariant`s in the list)

So would a `Equals(ReadOnlySpan<byte>, ReadOnlySpan<char>, StringComparison)` be something to offer also?

[2020-01-21 01:54] GrabYourPitchforks commented on #34144
I don't think it makes sense to put proper culture-aware APIs here. At that point we're talking globalization, which almost always involves non-ASCII data at some point, and which isn't really prevalent for the scenarios we're considering here like network protocol parsing. If globalization is a concern for the developer IMO they'd be better served by the existing APIs on `string` and `CultureInfo

[2020-01-21 02:00] GrabYourPitchforks commented on #23590
Is this a common scenario? If so, I wonder if an overload of `CreateLinkedTokenSource` might be appropriate. Creating the CTS rather than the token provides somewhat more flexibility to the consumer.

[2020-01-21 02:02] benaadams commented on #34144
That makes sense; then my final concern from that would be inconsistency here
[code]
Why are some `Invariant` and others `OrdinalIgnoreCase`

[2020-01-21 02:33] GrabYourPitchforks commented on #27707
Is there anything left to consider for this issue? The `Vector<T>` type was updated with some support for `Span<T>` in the 2.x and 3.x releases.

[2020-01-21 03:04] tannergooding commented on #1617
There are some internal switches available, but I don't believe we currently have something officially supported. @CarolEidt might be able to confirm.

[2020-01-21 03:22] etghanibahman commented on #38712
@AlonCG The main problem is when you are going to read serialized data and turn it to dataset.
In this case you do not know what is the type of column, so you do not know you can use which function to retrieve data.

[2020-01-21 03:39] am11 commented on #2324
I have personally written `Truncate` extension method in multiple .NET projects by this signature:

[code]

[2020-01-21 05:07] int19h commented on #11580
`object.MemberwiseClone` is protected, though. If this helper allows calling it on any random reference type instance, what's the point of hiding the member anymore? And wouldn't this allow breaking other classes' invariants all over the place.

It feels like a generic helper would require an interface to let classes opt into being cloneable.

[2020-01-21 05:18] GrabYourPitchforks commented on #28282
Think of `Memory<T>` as an abstraction where the sole purpose is to extract a `Span<T>` from some backing store. Getting the backing `Span<T>` might take some amount of work. And while we try to keep the overhead of that small, it's still expensive enough that you definitely _don't_ want to be getting the `Span<T>` over and over again in a tight loop. That's also at the heart of @benaadams's comme

[2020-01-21 05:21] GrabYourPitchforks commented on #11580
The `RuntimeHelpers` class and its related types already contain APIs which allow violating type invariants. I'm not too worried about putting dangerous APIs on that type. But we definitely wouldn't want to expose such a public API directly off of a base type like `object`.

[2020-01-21 05:23] GrabYourPitchforks commented on #2324
If there's interest in a `Truncate` method I'd recommend opening a separate issue for that in [the _runtime_ repo](https://github.com/dotnet/runtime). There's probably enough nuance in that one method alone that it's deserving of its own issue.

[2020-01-21 05:27] GrabYourPitchforks commented on #29562
This hasn't been touched in over a year. What's the actual API suggestion here?

[2020-01-21 05:35] benaadams commented on #28282
Or `ReadOnlyMemory<T>` for this case :wink:

You could then do `.Span` on that to get a `ReadOnlySpan<T>` which would be the smallest overhead to iterate.

[2020-01-21 05:39] #33686 closed

[2020-01-21 05:44] GrabYourPitchforks commented on #36046
What type of application would benefit from this? Generally we use `Span<T>` for hot or tight code paths. Reading an environment variable seems like something that would only take place a small handful of times over an application's entire lifetime, and if it's only a small handful of times then it seems acceptable to perform the allocations.

[2020-01-21 05:55] GrabYourPitchforks commented on #39199
There's no "safe" API to go between `Span<byte>` and `Span<int>`. You'd have to go through the `MemoryMarshal` or `Unsafe` classes. Both classes are considered equivalent to using the `unsafe` keyword. Think of it as akin to the `Marshal` APIs which take `IntPtr` as a parameter. You don't need to write the `unsafe` keyword to call these APIs, but you are nevertheless performing operations on raw p

[2020-01-21 05:57] GrabYourPitchforks commented on #39616
This question has been answered, so I'm closing the issue. If you feel this has been closed incorrectly then please reopen and add more info. Thanks!

[2020-01-21 05:57] #39616 closed

[2020-01-21 06:00] SoftCircuits commented on #39199
The whole point of using `Span<T>` is really a performance one. Have to copy arrays here would be inconsistent with the objective.

[2020-01-21 06:09] GrabYourPitchforks commented on #39199
So if you're willing to use unsafe-equivalent code, then the solution was already given:

[code]

That pattern also works with `sbyte[]`, `short[]`, `ushort[]`, `int[]`, `uint[]`, `MyBlittableStruct[]`, and so on. So it's far more flexible than adding just the one overload asked for here.

[2020-01-21 06:17] SoftCircuits commented on #39199
So then why add `Span<T>`? I would expect that to be more performant than `MemoryMarshal`. Certainly, easier to use. `Span<T>` was added, so why not `Span<int>`?

[2020-01-21 06:44] GrabYourPitchforks commented on #39199
`Span<byte>` is the way to represent arbitrary buffers of binary data. It makes sense to add a `Span<byte>`-consuming overload to an API that deals with streaming data.

Contrast this against `Span<T>` (for `T != byte`), which is the way to represent contiguous blocks of elements of type `T`. With _very_ few exceptions, the Framework isn't in the business of assuming how such data should be projec

[2020-01-21 07:14] AlonCG commented on #38712
@etghanibahman, yeah ... I basically just do the reverse, hence the "..." in the *Read* function.

This needs some work, since I don't like the double enumeration and could use some optimization (and I am not sure it is even a good idea, but I needed reusable bits)... but again, this could just be used as a stepping stone for others that are stuck and need a bit of a boost?

[code]
JsonElementToDa

[2020-01-21 10:17] etghanibahman commented on #38712
Thank you, it works really well in my case.

[2020-01-21 13:02] JohnGalt1717 commented on #32563
I thought this wasn't the case with StringBuilder? (i.e. create a stringbuilder off of a string, then act on it, I thought it was always working with pointers and mutating instead of copying?)

And since replace and all of the rest create copies, why wouldn't string.copy be valid for the same reason that Replace creates a copy instead of mutating the original like other languages?

[2020-01-21 13:45] antonfirsov commented on #34993
@poizan42 @JeremyKuhne although I was unable to find any statement in Win32 API documentation, my understanding is that it's not possible to bind a duplicate handle to a second IOCP port, therefore async operations on `clientStream2` will always fail on Windows.

This is a known behavior for sockets (see dotnet/runtime#1760).

[2020-01-21 13:57] stephentoub commented on #32563
`System.String` is immutable.  That means in order to create one, you need to first mutate something that's mutable to contain the content you want, and then create an immutable `string` from it.  One way to do that is to just fill up a `char[]` and pass that to a `string` ctor, but that lacks useful helpers for easily building up the content, means you need to manually manage the growth of the ar

[2020-01-21 15:25] OlegKarasik commented on #36046
@GrabYourPitchforks
I faced this when I was working on the project which was able to dynamically configure different configuration sources on application startup based on configuration passed through environment variables. This configuration was accessed on multiple abstraction levels, so to distinguish these levels all variables were extended with prefixes and postfixes. So this was a typical cas

[2020-01-21 15:55] tannergooding commented on #27707
I don't believe so.
The issue (or a new one) can always be reopened if there is something someone feels is missing.

[2020-01-21 15:55] #27707 closed

[2020-01-21 16:02] ScottMathieson commented on #27971
@danielsh555 - if you are having the same issue I was when using Windows Authentication and hitting issues with the 401 challenge response then you could try issuing a GET request to a known authenticated endpoint on the same server before making the POST request. That way the authentication challenge happens before the POST and allows the POST to complete.

It is a bit hacky but it is a possible

[2020-01-21 16:30] rugglcon commented on #30349
@MelbourneDeveloper I believe Microsoft's official solution for this at the moment of writing this comment (found on MSDN) is to write your own authentication module, which is not ideal. Our request to a url has a redirect that changes every year, sometimes more than once so it's unreasonable to use `CredentialsCache` for our use case.

In my opinion, an option should just be added to not remove h

[2020-01-21 16:31] jkotas commented on #36046
Allocations of about 300 environment variable names will cost in the order of 10's microseconds. Drop in a bucket for typical startup path.

Note that the typical `Environment.GetEnvironmentVariable` cost is more than 10x of allocation of typical environment name. If you wanted to make this pattern to scale well for large number of parameters, you would want to reduce number of times `Environment.

[2020-01-21 16:34] jkotas commented on #36046
This overload would not move the performance needle enough.

[2020-01-21 16:34] #36046 closed

[2020-01-21 16:54] karelz commented on #42634
Did you try to grab daily build? https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries

[2020-01-21 17:24] CarolEidt commented on #1617
The `COMPlus_EnableAVX` switch is externally supported, and it will cause `Vector<T>` to be 128 bits instead of 256. That said, though, its impact is broader than that, and will cause the JIT to use SSE rather than AVX encodings, and will make any AVX or later HW intrinsics also unavailable.

There is also `COMPlus_SIMD16ByteOnly` which is *not* supported in the release build. It only limits the s

[2020-01-21 17:29] tannergooding commented on #1617
If we were to expose a switch which forces the `Vector<T>` size I'm not sure it should be `COMPlus_SIMD16ByteOnly`.

Instead, I imagine we would want something slightly more general purpose that would also be future proofed for new additions, like `AVX-512` (if we ever decide it is worthwhile to add).

[2020-01-21 17:34] CarolEidt commented on #1617
@tannergooding - agreed. I was just saying that we currently have something kind of like what's being requested, but how it would be exposed is something that would require design consideration beyond what's necessary to support altjits (which was the motivation for `COMPlus_SIMD16ByteOnly`) - that was my "1) validation of the usage/usability" comment.

[2020-01-21 19:51] danmosemsft commented on #35381
Another issue not mentioned above is collections that store the hashcode (like `Dictionary<K,V>`) would grow significantly bigger if we store a 64 bit hashcode. They could not bother storing it if there were vanishingly few collisions, but as others pointed out above, assuming the existing hashes are well distributed, that is a properly of the load factor not the size of the hashcode.

A 64 bit ha

[2020-01-21 19:54] danmosemsft commented on #35381
I think we can close this, as @HaloFour's suggestion is good.

If you do create a set of reusable collections that can contain huge numbers of entries, perhaps you'd consider putting them on Nuget and sharing a link here? 😄

[2020-01-21 19:54] #35381 closed

[2020-01-21 19:57] danmosemsft commented on #25107
@tquerec @josephisenhour where is the right place to report an issue with the native API here?

[2020-01-21 21:41] Jozkee commented on #38579
Preview is here.
* download the NuGet preview package from dotnet5 gallery (through Visual Studio's NuGet client):
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

OR

* download the .NET 5 preview SDK version:
https://github.com/dotnet/core-sdk#installers-and-binaries

[2020-01-21 22:42] Jozkee commented on #37786
Preview is here.

* download the `System.Text.Json` preview package version 5.0.0-alpha.1.20071.1 from dotnet5 gallery (through Visual Studio's NuGet client):
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

If you want to add feedback, feel free to leave a comment in https://github.com/dotnet/corefx/issues/41002.

[2020-01-21 22:42] #37786 closed

[2020-01-21 22:43] #38579 closed

[2020-01-21 22:46] Jozkee commented on #40045
Preview is here.

* download the `System.Text.Json` preview package version 5.0.0-alpha.1.20071.1 from dotnet5 gallery (through Visual Studio's NuGet client):
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

If you want to add feedback, feel free to leave a comment in https://github.com/dotnet/corefx/issues/41002.

[2020-01-21 22:46] Jozkee commented on #41139
Preview is here.

* download the `System.Text.Json` preview package version 5.0.0-alpha.1.20071.1 from dotnet5 gallery (through Visual Studio's NuGet client):
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

If you want to add feedback, feel free to leave a comment in https://github.com/dotnet/corefx/issues/41002.

[2020-01-21 22:50] Jozkee commented on #41288
The preview version for `ReferenceHandling` feature is here.

* download the `System.Text.Json` preview package version 5.0.0-alpha.1.20071.1 from dotnet5 gallery (through Visual Studio's NuGet client):
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

If you want to add feedback, feel free to leave a comment in https://github.com/dotnet/corefx/issues/41002.

[2020-01-21 23:02] eiriktsarpalis commented on #40949
That's correct, that particular operator returns [a custom IDictionary implementation](https://github.com/dotnet/fsharp/blob/d3d5e30852454146876dc3af1f3e6ff21fdd67da/src/fsharp/FSharp.Core/fslib-extra-pervasives.fs#L168). I'd recommend closing this issue, since serializing arbitrary interface implementations should not be possible (that's a job for BinaryFormatter :P)

[2020-01-22 03:57] jkotas commented on #40348
Failed in https://github.com/dotnet/runtime/pull/406

[2020-01-22 05:09] ahsonkhan commented on #35791
For consistency with existing APIs on BinaryPrimitives, the span parameter for the {Try}Read* APIs should be called `source` and **not** `buffer`. Just an FYI for whoever picks this issue up. The {Try}Write* APIs are correct:
[code]

[2020-01-22 06:30] carlossanlop commented on #29524
Triage:

This issue is a combination of at least these problems:

- [The documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.driveinfo.-ctor?view=netcore-3.1#System_IO_DriveInfo__ctor_System_String_) for the `DriveInfo` constructor states that the argument is `driveName`, which I think it means:
  - In Windows, we have to pass `C`, `C:` or `C:\` (they get resolved properly).
  - I

[2020-01-22 06:31] OlegKarasik commented on #36046
This is how it is done currently.

Thanks for taking a look!

[2020-01-22 10:03] Cronan commented on #41652
@karelz What more info do you need from me?

[2020-01-22 10:30] denmitchell commented on #38007
@tchivs, I made some modifications to your code -- reworking it so that it uses dynamically generated "projection" types (having a subset of properties from a base type), rather than ExpandoObject.  I posted the code (in a sample console project) here: [EDennis.DynamicDeserialization](https://github.com/denmitchell/EDennis.DynamicDeserialization).

I will be testing this approach with more complic

[2020-01-22 12:32] v1n3k0 commented on #33620
Thak you @vitalybibikov

[2020-01-22 14:32] catfood commented on #41288
@Jozkee, I tried using the alpha from the dotnet5 gallery and it seems to be a prior build number (19523.8) that doesn't yet have the `ReferenceHandling` property. Do you know what I'm doing wrong?

[code]

[2020-01-22 18:30] Jozkee commented on #41288
@catfood make sure to select version `5.0.0-alpha.1.20071.1` from the dropdown.

![image](https://user-images.githubusercontent.com/16040868/72922596-29e00e80-3d02-11ea-9e31-303614e7cd2b.png)

[2020-01-22 18:50] carlossanlop commented on #12628
Should we assign this issue to the installer team? It seems the folder needs to be created during installation -- Unless we want to create it on first use if it doesn't exist.

[2020-01-22 20:09] karelz commented on #41652
@Cronan it was part of our triage, so I assume @davidsh didn't feel like he has all the info to make it actionable yet.
There is lots of back and forth on this issue. What is IMO needed is clear repro environment setup that will allow us to reproduce it locally and dig deeper. Do you think you can help us identify the key environment setup knobs to reproduce it?

[2020-01-22 20:57] danmosemsft commented on #33620
@cheenamalhotra is there any action required here? Can you please help evaluate.

[2020-01-22 21:20] cheenamalhotra commented on #33620
We've verified that **Microsoft.Data.SqlClient** is supported with Azure Functions all versions (v1, v2 and v3).

A demo app that can be tested with deployment is available here:
https://github.com/cheenamalhotra/azurefunctions-sqlclient-example

Same should also work with System.Data.SqlClient and is also verified above.
I don't think any action item is needed from our end on the same.

[2020-01-22 22:09] #24977 closed

[2020-01-22 22:23] JeremyKuhne commented on #41961
Closing as we intend to cover this request in dotnet/runtime/issues/2048.

[2020-01-22 22:23] #41961 closed

[2020-01-22 22:24] JeremyKuhne commented on #22972
Closing as we intend to cover this request in dotnet/runtime/issues/2048.

[2020-01-22 22:24] #22972 closed

[2020-01-22 22:25] JeremyKuhne commented on #24001
Closing as we intend to cover this request in dotnet/runtime/issues/2048.

[2020-01-22 22:25] #24001 closed

[2020-01-22 22:33] JeremyKuhne commented on #23874
Triage: We need a proposal on an interface that allows providing buffers. Same issue came up with `SequenceReader` as we want a way to allocate arrays to provide results on the allocating APIs that return spans across sequences.

[2020-01-22 22:35] karelz commented on #23234
UWP was removed from master.

[2020-01-22 22:35] #23234 closed

[2020-01-22 22:35] JeremyKuhne commented on #24040
@carlossanlop Was this taken care of in our ACL work that you did?

[2020-01-22 22:43] karelz commented on #25364
UWP is not running in master anymore.

[2020-01-22 22:43] #25364 closed

[2020-01-22 22:45] JeremyKuhne commented on #25765
Closing as we haven't had any other reports of this test failure.

[2020-01-22 22:45] #25765 closed

[2020-01-22 22:52] JeremyKuhne commented on #25876
Triage: need to investigate our current usage of advisory locking to see if we address the comments above.

[2020-01-22 22:59] JeremyKuhne commented on #26309
Triage: @eerhardt Is this something we should still be tracking? How does this impact customers?

[2020-01-22 23:01] JeremyKuhne commented on #26310
Duplicate of #25569

[2020-01-22 23:01] #26310 closed

[2020-01-22 23:18] JeremyKuhne commented on #27155
This has been done.

[2020-01-22 23:18] #27155 closed

[2020-01-22 23:27] JeremyKuhne commented on #27418
Triage: We need to take existing feeback back into the design and resubmit. See the linked issues above for full discussions.

[2020-01-22 23:30] JeremyKuhne commented on #27456
#18922

[2020-01-22 23:32] #27456 closed

[2020-01-22 23:33] JeremyKuhne commented on #27495
Triage: closing due to lack of traces to investigate.

[2020-01-22 23:33] #27495 closed

[2020-01-22 23:33] drdamour commented on #41002
man, this thing is not ready for very simple use cases....

[2020-01-22 23:34] JeremyKuhne commented on #27629
Fixed with #28405.

[2020-01-22 23:34] #27629 closed

[2020-01-22 23:36] Jozkee commented on #41002
@drdamour Thank you for give it a try.
Regardless of https://github.com/dotnet/runtime/pull/655 being merged, it is still a WIP.
Can you specify the case that is causing you issues?

[2020-01-22 23:40] drdamour commented on #41002
simple double relationship from db office <=> employee getting either an including the other circles back to the other now on deserialization.  can't mark them as do not serialize because i need to be able to get from either way.

[2020-01-22 23:40] JeremyKuhne commented on #27885
Triage: @joperezr this appears to be packaging related, can you take a look?

[2020-01-22 23:42] karelz commented on #28466
Triage: Affects Desktop only. We don't do Desktop runs anymore. We do not track .NET Framework bugs on GitHub.

[2020-01-22 23:42] #28466 closed

[2020-01-22 23:45] Jozkee commented on #41002
@drdamour You mean `Office` and `Employee` enitites where `Office` contains a `List<Employee>`? and each `Employee` contains an `Office` property?

Can you provide your model classes in a comment?

[2020-01-22 23:47] JeremyKuhne commented on #29290
Triage: We should wait for the UTF-8 string work to finish to finalize on what we do here.

[2020-01-22 23:54] carlossanlop commented on #29524
Triage:
We had a conversation and a good option would be to add a new static method in the `DriveInfo` class, maybe named `GetDriveInfoForFullPath` that accepts a full path and finds to which drive that path belongs to, including the case of mounting a drive into a folder (which applies to both Windows and Unix).

[2020-01-22 23:56] JeremyKuhne commented on #29546
Duplicate of #941

[2020-01-22 23:56] #29546 closed

[2020-01-23 00:04] JeremyKuhne commented on #29820
Triage: We need to explore the implications of making this change. We notably don't have a good way of discovering that the default time has been used and that might be even more problematic with two different values. Is it going to create a problem for code that might be checking for `DateTime.MinValue`? Is that an ok risk? (Check GitHub/StackOverflow for possible data.)

[2020-01-23 02:25] stephentoub commented on #11046
@bartonjs, there's still mention of this issue in the code:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Security.Cryptography.Pkcs/tests/Pkcs12/Pkcs12BuilderTests.cs#L406
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Security.Cryptography.Pkcs/tests/Pkcs12/Pkcs12BuilderTests.cs#L461

[2020-01-23 02:27] stephentoub commented on #1221
@JeremyKuhne, there are a bunch of tests with ActiveIssue against this issue, e.g.
https://github.com/dotnet/runtime/blob/caa2ed96988d89a080dc63edb7c7868daca1cabc/src/libraries/System.IO.FileSystem/tests/Directory/CreateDirectory.cs#L511
I'm going to re-open the issue.  If the fix is to delete the tests, that's fine, but we shouldn't have stale tests with ActiveIssue against closed issues.  Thanks

[2020-01-23 02:28] stephentoub commented on #12696
@karelz, there's still a test disabled against this issue:
https://github.com/dotnet/runtime/blob/ccf6aedb63c37ea8e10e4f5b5d9d23a69bdd9489/src/libraries/System.Diagnostics.Process/tests/ProcessStartInfoTests.cs#L353-L355

[2020-01-23 02:31] stephentoub commented on #13302
@karelz, @davidsh, there's still a test disabled against this closed issue:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Net.WebSockets.Client/tests/CancelTest.cs#L50-L51
We shouldn't have [ActiveIssue] against closed issues.  If the fix is to delete the test, ok, but for now I'm re-enabling this issue.

[2020-01-23 02:39] stephentoub commented on #15066
@danmosemsft, the test is disabled:
https://github.com/dotnet/runtime/blob/ccf6aedb63c37ea8e10e4f5b5d9d23a69bdd9489/src/libraries/System.Configuration.ConfigurationManager/tests/Mono/ConfigurationManagerTest.cs#L159-L160
so it won't happen again ;)  I'm going to re-open this.  If the fix is to just make the test [PlatformSpecific] for Windows, ok.

[2020-01-23 02:47] stephentoub commented on #19534
Several tests are [ActiveIssue(...)]'d against this, e.g.
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Net.HttpListener/tests/HttpResponseStreamTests.cs#L499-L504

[2020-01-23 03:05] stephentoub commented on #20246
There are two tests disabled against this issue:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Net.HttpListener/tests/HttpResponseStreamTests.cs#L380-L385
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Net.HttpListener/tests/HttpResponseStreamTests.cs#L419-L424

[2020-01-23 03:06] stephentoub commented on #20362
@davidsh, there's still a test disabled against this:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Net.WebSockets.Client/tests/CloseTest.cs#L263-L266

[2020-01-23 03:08] stephentoub commented on #20779
@JeremyKuhne, there are still several tests disabled against this:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str_str.cs#L221-L239
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str_str.

[2020-01-23 03:09] stephentoub commented on #20780
@JeremyKuhne, there are still several tests disabled against this:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str_str.cs#L246-L280
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.IO.FileSystem/tests/Directory/GetFileSystemEntries_str_str.

[2020-01-23 03:10] stephentoub commented on #20781
As with #20780, there are still several tests with ActiveIssues disabling them against this.

[2020-01-23 03:18] glopesdev commented on #28861
This is a real debugging nightmare: essentially this means that if I'm debugging my netstandard 2.0  class library by launching an external application that loads that library (a very reasonable approach to debugging plugin libraries btw), I am actually prevented from accessing System.Drawing.Common classes.

It's baffling to me that there are different "special cases" when generating .exe and .dl

[2020-01-23 03:23] glopesdev commented on #28861
Btw, I also figured out you can add this directive to the csproj file and will generate the runtimes folder and everything for your library project:

`<PreserveCompilationContext>true</PreserveCompilationContext>`

Unfortunately, this still doesn't work if the DLL is loaded from an external .NET application, it's as if the runtime has no idea what to do with these files unless .NET core is actuall

[2020-01-23 03:50] danmosemsft commented on #28861
Cc @ericstj

[2020-01-23 04:13] stephentoub commented on #21886
@safern, the test is currently disabled on both netcoreapp and netfx:
[code]
(with the netfx one against this issue).

I'm going to re-open this issue, if for nothing else than to remove the ActiveIssue against this issue and reconfigure the test appropriately (or delete it since it's not being run anywhere).

[2020-01-23 04:16] stormCup commented on #25569
Imho the file api should always work on the _target_ of a symlink (except for delete).

[2020-01-23 04:22] stephentoub commented on #24903
@safern, there are ~180 tests with ActiveIssue against this issue.

[2020-01-23 04:25] stephentoub commented on #25613
@JeremyKuhne, the test is still disabled on Unix against this issue:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.IO.FileSystem/tests/Directory/EnumerableTests.cs#L14-L16

[2020-01-23 04:27] stephentoub commented on #25665
@Anipik, there's still a test disabled against this issue:
https://github.com/dotnet/runtime/blob/644bdd98151ccf64c230a2d646ed2be0e3f2d77b/src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Extract.cs#L69-L74

[2020-01-23 04:28] stephentoub commented on #26186
@wfurt, your PR #35605 closed this issue, but there's still a test disabled against it:
https://github.com/dotnet/runtime/blob/26298bc6295be9cddfa185f9d1dc8e99a5c92278/src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.SslProtocols.cs#L157-L161

[2020-01-23 04:30] stephentoub commented on #26910
@tmat, your PR #27589 closed this issue, but there are still two tests disabled against it:
https://github.com/dotnet/runtime/blob/fd7a5e8cf1748b7aefa90dd8e6966af2cbb4fe8b/src/libraries/System.Reflection.Metadata/tests/Metadata/Ecma335/Encoding/MethodBodyStreamEncoderTests.cs#L377-L378
https://github.com/dotnet/runtime/blob/fd7a5e8cf1748b7aefa90dd8e6966af2cbb4fe8b/src/libraries/System.Reflection.M

[2020-01-23 04:32] stephentoub commented on #27106
I think this issue was closed accidentally, having the same issue number as one in coreclr.  There are still three tests ActiveIssue'd against this.

[2020-01-23 04:34] stephentoub commented on #27269
@danmosemsft, your PR #27525 closed this, but there are still two tests disabled against it:
https://github.com/dotnet/runtime/blob/ccf6aedb63c37ea8e10e4f5b5d9d23a69bdd9489/src/libraries/System.Net.Sockets/tests/FunctionalTests/SendPacketsAsync.cs#L290-L295
https://github.com/dotnet/runtime/blob/fd7a5e8cf1748b7aefa90dd8e6966af2cbb4fe8b/src/libraries/System.IO.Compression.ZipFile/tests/ZipFile.Extr

[2020-01-23 04:34] stephentoub commented on #27552
@Anipik, there's still a test disabled against this issue:
https://github.com/dotnet/runtime/blob/caa2ed96988d89a080dc63edb7c7868daca1cabc/src/libraries/System.Runtime.Extensions/tests/System/IO/PathTests_Windows.cs#L45-L50

[2020-01-23 04:36] stephentoub commented on #28027
@davidsh, there's still a test disabled against this issue:
https://github.com/dotnet/runtime/blob/ccf6aedb63c37ea8e10e4f5b5d9d23a69bdd9489/src/libraries/System.Net.WebSockets.Client/tests/ClientWebSocketOptionsTests.cs#L65-L68

[2020-01-23 04:39] stephentoub commented on #31032
All tests passed because they were all disabled 😦

[2020-01-23 04:40] stephentoub commented on #31104
It didn't fail because it was disabled:
https://github.com/dotnet/runtime/blob/26298bc6295be9cddfa185f9d1dc8e99a5c92278/src/libraries/Common/tests/System/Net/Http/HttpClientHandlerTest.cs#L2218-L2221

[2020-01-23 04:42] stephentoub commented on #33530
There are still 7 tests disabled against this.

[2020-01-23 04:43] stephentoub commented on #35466
@wfurt, there's still a test disabled against this:
https://github.com/dotnet/runtime/blob/ccf6aedb63c37ea8e10e4f5b5d9d23a69bdd9489/src/libraries/System.Net.Http/tests/FunctionalTests/HttpClientHandlerTest.Http2.cs#L212-L217

[2020-01-23 04:44] stephentoub commented on #36643
@layomia, there are still 8 tests (all appear to be immutable collections tests) disabled against this issue, e.g.
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Text.Json/tests/NewtonsoftTests/ImmutableCollectionsTests.cs#L90-L92

[2020-01-23 04:48] stephentoub commented on #39075
The VeryLargePart test is still disabled against this issue:
https://github.com/dotnet/runtime/blob/0b25063ec056b0d6668bf0848d108d8c873f3fce/src/libraries/System.IO.Packaging/tests/Tests.cs#L3755-L3758

[2020-01-23 04:50] stephentoub commented on #40711
@tmds, this test is still disabled against this issue:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Net.Mail/tests/Functional/SmtpClientTest.cs#L311-L315
Should the [ActiveIssue] be removed?

[2020-01-23 04:52] stephentoub commented on #42507
@aik-jahoda, there's still a test disabled against this issue:
https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.IO.FileSystem.Watcher/tests/FileSystemWatcher.Directory.Move.cs#L29-L35

[2020-01-23 04:57] stephentoub commented on #8655
@JeremyKuhne, there's still a test disabled against this issue:
https://github.com/dotnet/runtime/blob/0b25063ec056b0d6668bf0848d108d8c873f3fce/src/libraries/System.Drawing.Common/tests/Text/PrivateFontCollectionTests.cs#L132-L134

[2020-01-23 05:09] wfurt commented on #35466
ok. i'll take a look.

[2020-01-23 05:10] casz commented on #39473
I would say it is kind of unexpected that a object like [VersionVariables.cs](https://github.com/GitTools/GitVersion/blob/4b5d7153b576c639d428b4f6c58fa10bae1acd6b/src/GitVersionCore/OutputVariables/VersionVariables.cs) needs a `JsonConverter<string>` to convert numbers into `string`

[2020-01-23 06:20] GuerrillaCoder commented on #38007
Thanks for the community workaround.  It's surprising Microsoft are unable to put out this feature in a sensible timeframe.  Working with GraphQL responses without dynamic object of some sort leads to lots of verbose and ugly code.  Or even just checking for existence of deeply nested properties.

[2020-01-23 07:03] glopesdev commented on #28861
Even more strange, if I change the library target to `net472 `(with an explicit reference to `System.Drawing`) but consume a `netstandard2.0` 3rd party library that relies on `System.Drawing.Common`, I still get the same error when creating a `System.Drawing.Bitmap` _in my `net472` code_. That is just incredibly bizarre, because in this case I am letting the tooling do all the work, I am creating

[2020-01-23 07:16] glopesdev commented on #28861
I have deleted my previous comment, as I noticed a problem with my debugging settings. I can confirm that building my own library as a `net472` project works, even if it consumes a 3rd party `netstandard2.0` library.

It would still be important to know what is preventing a pure `netstandard2.0` library build to load `System.Drawing` correctly in a .NET framework host on Windows. Exactly as @Flori

[2020-01-23 15:36] tmds commented on #40711
Yes, it should be removed. This issue can stay open. We're identifying what types of exceptions are at the root (via https://github.com/dotnet/runtime/pull/428).
I'll make a PR to remove it.

[2020-01-23 15:58] karelz commented on #35466
We should then switch it back to 3.0 milestone to reflect where it was fixed (assuming it was fully fixed and the tests are addressed)

[2020-01-23 16:11] jhudsoncedaron commented on #25569
@stormCup : We've been through this already. Sometimes you want to know about the symlink target; other times you want to know about the symlink. It needs a flags for `new FileSystemInfo`.

[2020-01-23 16:22] roji commented on #37563
@David-Engel @cheenamalhotra thanks! @danmosemsft I think we can close this as external.

[2020-01-23 16:34] danmosemsft commented on #37563
Ok, thanks. Glad there seems to be a solution coming.

[2020-01-23 16:34] #37563 closed

[2020-01-23 16:52] karelz commented on #41852
@JamesNK do you think this will be needed for gRPC? Did you hear other requests?

Triage: We could implement just timeout (based on fraction of existing timeouts like `PooledConnectionIdleTimeout`), or we could expose new timeout.
Overall we are not convinced this is super-valuable. If we don't have strong need from users, we would suggest to do nothing, or just fraction-timer based solution.

[2020-01-23 16:54] karelz commented on #41875
Looks like it is addressed in 3.0+. Given that 2.2 is not supported anymore, we can close it.

[2020-01-23 16:54] #41875 closed

[2020-01-23 16:57] karelz commented on #41895
Duplicate of https://github.com/dotnet/runtime/issues/911

[2020-01-23 16:57] #41895 closed

[2020-01-23 16:58] ericstj commented on #28861
Any library which requires a different .NETFramework implementation will face this issue.  As you mention, not all libraries do, but many do.  This is the case those which are exposing existing .NETFramework API to netstandard libraries but are not part of the standard, like System.Drawing.Comming, System.Configuration.ConfigurationManger, Microsoft.Win32.Registry, etc.  They must provide a differ

[2020-01-23 16:58] karelz commented on #41895
Triage: Entire response body should not be part of the exception -- status code and potentially its text is fine to be there -- hence the duplicate.

[2020-01-23 17:01] karelz commented on #41938
Triage: We could reduce the costs by having gradual custom collection -- object -> array of a few items -> eventually Dictionary (which is heavy weight for smaller number of items).
Or maybe other tricks ...

[2020-01-23 17:21] joperezr commented on #27885
The package isn't correctly authored, my guess here is that the way that net461 project is consuming the package is via packages.config which won't produce an assets file so it's just bringing the same implementation picked by the netstandard assembly. It would really help if we could get a binlog to confirm my suspicions.

Here is a way to work around it:

1. Create your .NET Standard library pro

[2020-01-23 17:41] baulig commented on #12628
You will need root access to create it and set the permissions, so it will need to be done in the installer.

[2020-01-23 17:41] stormCup commented on #25569
Yes, I agree there needs to be an api that allows acces to both. What I’m saying is hat the old app should access the _target_.
I understand this is a breaking change, but I’d argue that any code written without knowledge of the new api that’s accessing symlinks is broken anyway: it never makes sense to read the contents of a symlink using a legacy file api.

[2020-01-23 18:00] eerhardt commented on #26309
If we are not going to change the current behavior, I would expect an update to the docs to describe any differences between Windows and Unix.

https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.namedpipeserverstream.runasclient?view=netcore-3.1

This makes it sound like only the delegate gets executed while impersonating the client, not any other threads running in the process.

This is

[2020-01-23 18:26] carlossanlop commented on #12628
I'll transfer this issue to dotnet/runtime first.

[2020-01-23 18:36] glopesdev commented on #28861
This is fair enough, but what if the plugin is loaded by a host other than the .net core tooling? Is there a documented way that the host can resolve the specific versions of these assemblies?

I imagine you can hook into AppDomain.AssemblyLoad event (which works even on core) and then when one of these assemblies comes up you have to resolve them to the correct assembly.

Is there an easy way to

[2020-01-23 19:09] ericstj commented on #28861
[AssemblyLoad](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.assemblyload?view=netframework-4.8) doesn't let you change the resolution, [AssemblyResolve](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.assemblyresolve?view=netframework-4.8) does, but it's only raised when the runtime cannot locate an assembly which is not the case here.

A .NETStandard project's output

[2020-01-23 19:14] glopesdev commented on #28861
All of this makes sense (my mistake about the AssemblyResolve name). What I am trying to understand is what exactly is meant here by “publishing”. When I publish a netcore app, it creates a .deps.json file that points to different runtime assemblies. Is this file handled by .net core when running an app? What about a .net framework application? Does it understand this file?

If I have a host that

[2020-01-23 19:18] glopesdev commented on #28861
Can we count on these NuGet packages to have a deps.json file? If this is standard we could use this to know a particular assembly needs “publishing” or a specific platform resolution.

[2020-01-23 19:23] safern commented on #24903
Ok, I'll take a look at why and fix it accordingly.

[2020-01-23 19:25] ericstj commented on #28861
deps.json is framework-specific.  The only thing that knows how to select from many frameworks is NuGet restore, nothing at runtime does this.  So you would need to restore the package for a specific framework + potentially RID in order to understand which is the best asset to apply.  This gets even more complicated because packages have framework-specific dependencies, so even if you can select w

[2020-01-23 20:14] rharpavat commented on #42634
Hi, I tried installing the latest daily build from the 3.1.2 release branch (`3.1.200-preview-014935`). I'm running into these `dotnet build` errors:

[code]

I updated my NuGet.Config file as directed on [this page](https://github.com/dotnet/core-sdk) with the following lines:
[code]

I know 3.1.2 is installed as running the `dotnet --list-sdks` and `dotnet --list-runtimes` commands give the foll

[2020-01-23 20:45] karelz commented on #42634
@nguerrera @dsplaisted could you help route this problem of using daily build of servicing branch? Are any steps missing?

[2020-01-23 21:35] gomathip02 opened #42839 "MutexRights is not available in .NET Core 3.1"
@edward-a commented on [Wed Jan 22 2020](https://github.com/dotnet/wpf/issues/2473)

We weren't able to migrate our WPF app to .NET Core 3.1 because MutexRights wasn't available. Hope it gets implemented soon.

Unsupported (per Portability Analyzer):
M:System.Threading.Mutex.TryOpenExisting(System.String,System.Security.AccessControl.MutexRights,System.Threading.Mutex@)

---

@weltkante commented

[2020-01-23 22:50] carlossanlop commented on #29946
Triage: We see some value in this suggestion. @dfoverdx would you like to work on an API Proposal?

[2020-01-23 22:54] carlossanlop commented on #29978
Triage:
Let's focus the discussion in #25569 , which is the older issue. Let's make sure we discuss the hard link scenario in the other issue.

[2020-01-23 22:54] carlossanlop commented on #29978
Duplicate of #25569

[2020-01-23 22:54] #29978 closed

[2020-01-23 22:55] carlossanlop commented on #25569
Triage: We should include hard link support as discussed in issue https://github.com/dotnet/corefx/issues/29978

[2020-01-23 22:56] carlossanlop commented on #29982
Triage: Closing this issue until we get further hits.

[2020-01-23 22:56] #29982 closed

[2020-01-23 23:00] karelz commented on #30686
Triage: @stephentoub any particular reason to have this one in 5.0? The team does not feel strongly about priority of this. Maybe we are missing something.

[2020-01-23 23:02] stephentoub commented on #30686
IIRC, this had to do with various IoT scenarios, e.g. from the linked duplicate in https://github.com/dotnet/corefx/issues/32827#issue-370292487, so it would depend on how we want to prioritize those.

[2020-01-23 23:10] carlossanlop commented on #31265
Triage: There are enough scenarios that we see the value in doing this.

[2020-01-23 23:13] carlossanlop commented on #31460
Triage: Looks like the docs are addressing this now. @dlech let us know is you have any more questions.

[2020-01-23 23:13] #31460 closed

[2020-01-23 23:24] carlossanlop commented on #32024
Triage: As this was fixed in https://github.com/dotnet/corefx/pull/32462, and the discussion is dying down, we are re-closing.

[2020-01-23 23:24] #32024 closed

[2020-01-23 23:26] carlossanlop commented on #32077
Triage: We don't have these UWP runs anymore.

[2020-01-23 23:26] #32077 closed

[2020-01-23 23:29] karelz commented on #32082
Triage: Seems to be answered above. If there is still security concern, please follow the process linked above.

[2020-01-23 23:29] #32082 closed

[2020-01-23 23:47] carlossanlop commented on #34469
@Pilchie this seems to be an issue in Kestrel. Can you please move it to the asp repo?

[2020-01-23 23:49] carlossanlop commented on #34640
@ptoonen are you still working on this? Do you have a branch you can share?

[2020-01-23 23:54] carlossanlop commented on #34992
Triage: We will consider this scenario as described by Jeremy above. Closing since it's not actionable in the current state of FileStream.

[2020-01-23 23:54] #34992 closed

[2020-01-24 00:01] carlossanlop commented on #34993
Triage: It would be useful to try doing straight P/Invokes and confirm if handle duplication can be done as described.

[2020-01-24 00:10] carlossanlop commented on #35037
Triage: Dan's change was the correct one, we just need to test this manually with a card reader, floppy, cd, etc.

We need to make sure the driver is loaded by accessing media on the device, then remove the media, and run a program that enumerates the files. A prompt should not show up with the fix (but will with the current code).

[2020-01-24 00:24] carlossanlop commented on #35180
Triage: Closing as this isn't a common scenario.

[2020-01-24 00:24] #35180 closed

[2020-01-24 00:27] carlossanlop commented on #35336
Triage: it seems the above answer may be the right one. If not, feel free to reactivate.

[2020-01-24 00:27] #35336 closed

[2020-01-24 00:30] SimonCropp commented on #41421
can we get a ruling on this one? if the decision is "no supported" at least people can base their own decisions on that and move forward. I just dont want this one sitting open as "we might one day support it" and people deciding "well we wont fix our double quote usage, instead we will wait till System.Text.Json supports is".

if you do want to support it can the status be changed to "will accept

[2020-01-24 01:43] glopesdev commented on #28861
Sure, but again, some API is doing that work, presumably the NuGet core SDK itself. Ultimately one would just let NuGet do the walk, providing a target framework. For me its good enough to know resolution is done at package install time, I will take care of the rest. Thanks.

[2020-01-24 02:21] ahsonkhan commented on #41421
Thanks for the reminder, @SimonCropp.

Given there isn't strong evidence that suggests users need this flexibility in processing JSON and given this request goes against the JSON spec (see previous comment https://github.com/dotnet/corefx/issues/41421#issuecomment-536844882), closing this issue as won't fix.

To me, introducing this flexibility to the JSON reader requires more user blocking scenar

[2020-01-24 02:21] #41421 closed

[2020-01-24 02:55] am11 commented on #41421
Property names without quotes is valid in [CSON](https://github.com/bevry/cson), which should be kept separate from JSON, IMO.

There are various other JSON-like syntax in existence, e.g. [HCL](https://www.terraform.io/docs/configuration/syntax.html) supports blocks, MongoDB document supports custom keywords like `ObjectId()`, `NumberLong()` etc.; therefore if library allows some non-standard lang

[2020-01-24 05:56] ericstj commented on #28861
Closing as the original question was answered and there isn’t any actionable bug here.

[2020-01-24 05:56] #28861 closed

[2020-01-24 05:56] glopesdev commented on #28861
Actually, after reading [this pos](https://natemcmaster.com/blog/2017/12/21/netcore-primitives/)t and the comments it seems like there are additional mechanisms for runtime resolution of framework-specific assemblies specifically for this scenario of dependencies coming from packages, either by using `.runtimeconfig.json` or via specifying --additional-deps: https://github.com/dotnet/core-setup/is

[2020-01-24 05:59] glopesdev commented on #28861
I'm not sure I agree that there is no bug, as there are clearly two distinct mechanisms of interpreting how to resolve System.Drawing.Common for .NET framework and .NET core; the intended equivalence where .NET standard can act as an equivalent target for either is not fulfilled when loading assemblies through Assembly.Load mechanisms.

[2020-01-24 06:24] Rambalac commented on #41811
You do not need huge POCO class, you can create only properties you need. Non-existing properties will be ignored.

[2020-01-24 06:31] ericstj commented on #28861
Netstandard is just API it isn’t a runnable thing.

NuGet is the only supported mechanism to select framework specific assemblies from packages. You must restore or publish for a concrete framework, eg net*, netcoreapp*. A .NETStandard project’s output is not runnable since it doesn’t select the right target framework assets fRom dependent packages.  We have no mechanism in .NETFramework nor .NETC

[2020-01-24 07:57] #39199 closed

[2020-01-24 08:05] GrabYourPitchforks commented on #34143
Even with your scenario, there's nothing stopping you from creating an `IRandom` interface yourself. Your `GameRandom` class could implement it, and you could also define a separate internal type which both wraps a `Random` object (assuming you need to support the built-in `Random` class) and implements `IRandom`. Why would such an interface need to be defined at the framework level?

[2020-01-24 08:12] GrabYourPitchforks commented on #32219
This issue hasn't been touched in over a year, and since there's no API or behavioral change proposal it's currently not actionable by the team. If somebody wishes to fill in more detail about the proposed API or the scenario under consideration, please do so. Otherwise the issue will be closed. Thanks!

[2020-01-24 08:17] GrabYourPitchforks commented on #31525
Is there any further desire to have these extension methods on `ROM<char>` instead of `ROS<char>`? From the discussion it seems that the existing extension method are sufficient for the scenario.

@cdmihai I understand the desire for a `StringView` type (read-only view into a guaranteed immutable buffer). If you have a scenario where such a type would be a better fit than `ROM<char>` or `ROS<char>

[2020-01-24 08:26] GrabYourPitchforks commented on #30859
Wouldn't this significantly increase the risk of deadlocks in multithreaded applications? I can easily envision a scenario where a bunch of threads are stuck waiting for the pool to respond, but resources are never released back to the pool because _those_ threads are also stuck waiting for some further allocation to complete.

/cc @Maoni0 who might understand the consequences better than me.

[2020-01-24 08:26] wfurt commented on #35466
this is a test bug. No need to worry about versions IMHO.

[2020-01-24 08:31] GrabYourPitchforks commented on #28282
@smmalis37 did the comments above help unblock your scenario? Is there any further information you need from us?

[2020-01-24 08:35] GrabYourPitchforks commented on #26465
Should this issue be modified to track the addition of an `IsAligned` or `GetAlignment` API? Since the `Span<T>.Cast` method was removed before shipping and replaced with `MemoryMarshal.Cast`, I don't think there's much of an appetite to add the API that this issue originally proposed.

[2020-01-24 08:40] GrabYourPitchforks commented on #26378
Just to clarify, is the API proposal here that we go through all members of the `Interlocked` class, adding `ref uint` / `ref ulong` overloads where `ref int` / `ref long` overloads currently exist?

I assume we'd do the same for `ref UIntPtr` / `ref IntPtr` as well since the `nuint` / `nint` feature is expected to come online in the near future?

[2020-01-24 09:43] hopix commented on #30686
When developing apps for IoT/embedded Linux there is usually close interaction with peripherals. In lots of cases existing kernel drivers can be used to interact with peripherals. But for custom peripherals or special needs I found it is usually easiest (considering development cost and performance) directly access peripheral controller over special memory mapped file (common example is the /dev/m

[2020-01-24 11:06] vitek-karas commented on #28861
I absolutely agree with what @ericstj wrote, maybe just to make some things a bit clearer:

Let's say I have a netstandard2.0 class lib called MyPainting.
* If I include it in an application via either ProjectReference or PackageReference, then during the build of the application NuGet will restore all the dependencies transitively, so it will also restore dependencies for MyPainting. Since the ap

[2020-01-24 12:28] aka-STInG opened #42840 "Inconsistent behavior for bitwise operations with Nullable<bool> typed local variable and Nullable<bool> typed member binding expression"
Here is some sample code. Checked it in console app targeting netcoreapp3.1.
`
    public class SomeObject
    {
        public bool BoolValue;
    }

    public class OtherClass
    {
        public static void Process(SomeObject obj)
        {
            var value = obj?.BoolValue;
            var res1 = obj?.BoolValue | true; // = null
            var res2 = value | true; // = true

[2020-01-24 14:59] #26186 closed

[2020-01-24 14:59] #39075 closed

[2020-01-24 15:00] #31104 closed

[2020-01-24 18:28] smmalis37 commented on #28282
Like I mentioned earlier I have my own type that just performs pointer arithmetic (without using MemoryManager), so I've never really been blocked here. I will look into MemoryManager to see if it supports what I need.

[2020-01-24 18:40] danmosemsft commented on #42737
Another direction, more likely to help you, is to write the code yourself and share it on nuget.

[2020-01-24 19:12] undecided2013 commented on #32291
Guys I am having a similar issue. Here's the problem I am trying to solve:
1. Running a .net core 3.1 in a container on Openshift (works fine)
2. Using a keytab file I would like to fetch a kerberos token in order to use for a REST call to a Kerberos protected service

Other teams in the firm have this working in Node and in Java, they are basically accessing the MIT libs and using the Krb5.conf a

[2020-01-24 19:42] #35466 closed

[2020-01-24 19:47] carlossanlop commented on #30701
I'll work on this.

[2020-01-24 19:55] GrabYourPitchforks commented on #28282
Ok. I'll close this for now because I believe it is resolved, but feel free to reopen if you need to.

[2020-01-24 19:55] #28282 closed

[2020-01-24 20:07] wfurt commented on #32291
.net only wraps krb5 via GSSPI. So it will respect krb5.conf as well as keytab entries.
It should be certainly possible. look at https://github.com/dotnet/corefx/pull/39933
You can perhaps also look at the test. If that does not help you I would suggest to open a separate issue and provide as many details as you can @undecided2013.

[2020-01-24 20:17] undecided2013 commented on #32291
Thanks, I just looked at the test code, I do not see any tests that utilize keytabs. To be more clear, I only have username, keytab, spn of REST service to be hit and the uri for that service.

[2020-01-24 20:38] karelz commented on #31104
Original bug was addressed in 3.0 - marking as such.

[2020-01-24 20:39] karelz commented on #26186
Original bug was fixed in 3.0 - marking as such.

[2020-01-24 20:40] karelz commented on #35466
FYI @wfurt 3.0 milestone is in the "Closed" tab under Milestone ;)

[2020-01-24 20:55] udlose commented on #40739
@stephentoub please consider adding this to the new analyzers:

https://github.com/microsoft/RoslynClrHeapAllocationAnalyzer/issues/58

[2020-01-24 21:16] GrabYourPitchforks commented on #26378
API proposal:

[code]

[2020-01-24 21:18] mavasani commented on #40739
RE: RoslynClrHeapAllocationAnalyzer
Tagging @genlu @sharwell. We already have a ported version of this analyzer in https://github.com/dotnet/roslyn-analyzers/tree/master/src/PerformanceSensitiveAnalyzers. It is currently not published yet, but are working towards making it available on NuGet.

[2020-01-24 21:31] GrabYourPitchforks commented on #40300
As mentioned, this can be done via your own extension methods.

[code]

Your extension method would be responsible for defining its desired endianness behaviors.

I'm closing this for now since a solution has been provided, and there's not much of an appetite by the engineering team to add these APIs. If you feel this issue has been closed in error please reopen. Thanks!

[2020-01-24 21:31] #40300 closed

[2020-01-24 21:35] GrabYourPitchforks commented on #40941
How can we make progress on this? The API proposal is straightforward enough and normally it'd be actionable by us. But it sounds like there's concern that the proposal as currently stated is incomplete?

[2020-01-24 21:43] GrabYourPitchforks commented on #34237
Can you describe the scenario a bit further? What's the benefit of having this API over calling `(T)Activator.CreateInstance(typeof(T), ...)`?

[2020-01-24 21:48] jkotas commented on #40941
@GrabYourPitchforks The proposal says to add generic overload to every CreateDelegate variant:

- It is not possible to add it everywhere because of it creates ambiguity. We need to figure how to deal with this ambiguity.
- It probably does not make sense to add it to every existing CreateDelegate variant. There is a lot of redundancy in the existing CreateDelegate variants. My proposal above was

[2020-01-24 22:16] undecided2013 opened #42841 "Kerberos GSSAPI operation failed when running in Linux container"
I am creating a new issue per

https://github.com/dotnet/corefx/issues/32291#issuecomment-578281670

Attempting to use .net core 3.1 on linux container for which a valid krb5.conf configuration exists.

Code uses HttpClient like this:

`            var handler = new HttpClientHandler
            {
                PreAuthenticate = true,
                Credentials = new NetworkCredential("someacco

[2020-01-24 23:37] bartonjs commented on #40941
Can you expand on the ambiguity, Jan?

Given my very clever class of:

[code]

I don't have compile-time or runtime ambiguity with these calls (intentionally using var to maximize ambiguity):

[code]

Since the T isn't used in a parameter it isn't a candidate for generic inference, so there's no inference-based ambiguity (and even if there was, the non-generic method wins).

But if I'm confused an

[2020-01-24 23:58] iUnknwn commented on #11497
Will this be backported to classic .NET framework?

In our .NET Standard library (which uses ZipArchive), when the library is loaded and called from PowerShell (not PowerShell core), we still end up hitting this, so we're still including the wrapper class.

[2020-01-25 00:07] karelz commented on #11497
.NET Framework had its last major version - see [.NET Core is the future of .NET](https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/).
We won't port any features, or nice to have things to .NET Framework. It is in servicing / support mode.

[2020-01-25 00:25] jkotas commented on #40941
@bartonjs You are right. I am not sure what I was thinking about. So two new generic methods on MethodInfo is the plan then?

[2020-01-25 01:08] iUnknwn commented on #11497
In that case, can there be a compiler warning or some other indication? Right now, as someone building for netstandard2.0 as a library, our library consumers will see different behavior in Net Framework (which still has the bug) and Core (which has the fix I believe as of Core 2).

[2020-01-25 01:28] wfurt commented on #30686
I put up PR since this is pretty simple.  Note that `/dev/mem` will not be available unless running as root on most systems. (and my give grief even then if SELinux is enabled)
It would be great to do some verification with GPIO or some other HW.

[2020-01-25 02:09] bartonjs commented on #40941
Added generic constraints (where T : Delegate) and updated the top post.

[2020-01-25 04:30] ahsonkhan commented on #38569
From @ahedreville in https://github.com/dotnet/runtime/issues/1925:

[2020-01-25 15:45] canthonyparkinson opened #42842 "New overload for TryParse"
TryParse method in many ValueTypes is very useful, but would be more useful if it supported fluent API.

**### Rationale and Usage**

Many classes in .NET (Int32, Int16, Int64, Decimal, Double, ...) have a method called TryParse.  The existing signature (I will use Int32 as an example) is:

`public static bool TryParse(string? s, out int result)`

There are additional overloads, but my proposal wi

[2020-01-25 16:51] vcsjones commented on #42842
`ReadOnlySpan<char>` parsing enables a lot of scenarios that weren't possible before, like parsing a substring of a string without allocating a new string, parsing stack data, etc.

I tend to write something like this when I want to work with `TryParse` as an expression:

[code]

[2020-01-25 17:09] manandre commented on #21472
After answering to https://github.com/dotnet/runtime/issues/2062, I wonder whether we should enhance the implemented API in order to be more "user friendly" by:
- Moving state to a generic TState in order to avoid casting from object
- Making bufferSize and cancellationToken optional parameters
- Add a CopyToAsync overload taking a sync action as parameter for use cases where we only want the read

[2020-01-25 17:13] stephentoub commented on #21472
This is a more advanced API. It does not need to be the paramount of easy to use.

This would make it a generic virtual method. That had non-trivial performance implications and should be avoided.

From my perspective this is unnecessary complication.

[2020-01-25 18:37] GrabYourPitchforks commented on #40941
Any issues with adding generic instance methods to a non-generic type? I recall some discussion in the past about trying to avoid such things.

[2020-01-25 18:41] johnnyreilly commented on #30203
I stumbled on this as I was trying to work out how to convert a Kerberos ticket obtained with Kerberos.Net to a `Credential` that can be used by SignalR. See this discussion on SignalR and Windows Authentication / Kerberos in AWS:

https://github.com/dotnet/aspnetcore/issues/18576#issuecomment-578423094

I thought I'd ask in case anyone else had an idea as to how this leap from performing Kerberos

[2020-01-25 18:51] galvesribeiro commented on #38248
The problem still happen on OSX with .Net Core 3.1

[2020-01-25 19:09] PedroCavaleiro commented on #38248
I'm running the latest version of OSX and .NET Core (3.1) and I didn't run into problems
Have you tried to clear your DNS and test with another network?

[2020-01-25 19:10] galvesribeiro commented on #38248
It happens on my home network over wifi, over wire, at office, and even on Starbucks wifi...

[2020-01-25 19:20] EatonZ commented on #42564
@karelz Please reconsider - as @waltdestler stated, using `WebClient` is better in the case where download progress needs to be tracked. In all other cases, I agree that `HttpClient` is better... but not this one.😉

[2020-01-25 19:33] PedroCavaleiro commented on #38248
Can you run this small program and tell me the output?
[code]

[2020-01-25 19:36] galvesribeiro commented on #38248
![image](https://user-images.githubusercontent.com/4714040/73126389-b3a50b80-3f90-11ea-89c2-d5d5a3da59a4.png)

`Dns.GetHostName()` return the right macbook name but `GetHostEntryAsync(hostname)` is what explodes...

[2020-01-25 19:38] waltdestler commented on #42564
@EatonZ If it helps, I wrote an async wrapper method around HttpClient that can be used to download a file, can track progress via a callback, can be canceled via a CancellationToken, and can handle local files (which HttpClient can't):

[code]

(Note that this creates a new HttpClient object on every call, which isn't ideal if you make a lot of downloads. In that case, you might want to use a glo

[2020-01-25 19:41] EatonZ commented on #42564
@waltdestler Thanks for sharing that. Stuff like this should be built in by default!

[2020-01-25 20:03] PedroCavaleiro commented on #38248
I'm unable to replicate the problem...
Try editing your hosts file `/etc/hosts` and add `<your network ip> GUTO-MBP` or `127.0.0.1 GUTO-MBP`

[2020-01-25 21:00] jkotas commented on #40941
Virtual generic methods are problematic. Non-virtual generic instance methods are fine.

[2020-01-25 21:04] canthonyparkinson commented on #42842
Not very concise.  By this argument, String.IsNullOrWhiteSpace is also unnecessary.  The wrapper is also much better when dealing with more junior developers, less chance of trouble.

I had an idea for an alternative (not quite as good, but no actual change  to the core library.

How about an extension method library for String to add methods like:

`public static int? ParseInt32(this String str)

[2020-01-25 21:47] galvesribeiro commented on #38248
Looks like it worked @PedroCavaleiro

Thanks!

[2020-01-26 01:07] CodeBlanch commented on #38641
For anyone blocked by this, here's a NuGet package with a converter (JsonTimeSpanConverter) we can use ahead of the 5.0 drop: [Macross.Json.Extensions](https://www.nuget.org/packages/Macross.Json.Extensions/)

Supports TimeSpan & Nullable<TimeSpan> types.

[2020-01-26 01:13] CodeBlanch commented on #41307
For anyone blocked by this, here's a NuGet package with a converter (JsonStringEnumMemberConverter) we can use ahead of the 5.0 drop: [Macross.Json.Extensions](https://www.nuget.org/packages/Macross.Json.Extensions/)

Supports nullable enum types and adds EnumMemberAttribute support.

[2020-01-26 01:14] CodeBlanch commented on #41578
For anyone blocked by this, here's a NuGet package with a converter (JsonStringEnumMemberConverter) we can use ahead of the 5.0 drop: [Macross.Json.Extensions](https://www.nuget.org/packages/Macross.Json.Extensions/)

Supports nullable enum types and adds EnumMemberAttribute support.

[2020-01-26 12:52] rafaelmaeuer commented on #40737
@odhanson sorry as this is oftopic but I couldn't find another way to contact you. Can you please get in touch with me? I have a question to your SR-Tool from http://www1.idc.ac.il/toky/videoProc-07/projects/SuperRes/srproject.html

[2020-01-26 13:24] alexrp commented on #4647
Just ran into this in a project where I unfortunately don't have the luxury of deciding the cipher mode, so I'll add another request to the pile.

[2020-01-26 14:32] KhalilMohammad commented on #42001
I really need to equivalent of DefaultContractResolver in System.Text.Json.

I am getting stuck at multiple places due to this.

https://stackoverflow.com/questions/59792850/system-text-json-serialize-null-strings-into-empty-strings-globally

It's not possible to treat all null strings as empty in using converter.

Similarly any custom advance logic is not possible in converters.

[2020-01-26 15:02] fsdrw08 commented on #41719
Hi, I have the same issue, I use Windows 10 vscode remote development container plug-in to development asp.net core in a Linux container, when I send HTTP request to the application, this error comes out.

[2020-01-26 16:49] salvois commented on #24457
Greetings,
apparently this issue is still present. Creating a streamed XLSX file using the OpenXmlWriter of Office Open XML SDK 2.10.0, using System.IO.Packaging 4.7.0, on .net core 2.1, memory consumption is not constant but proportional to the amount of data written. This does not happen on .net framework 4.6.2, which exhibits constant, low memory usage as expected.
Any hint is appreciated.
Than

[2020-01-26 17:26] lextm commented on #4647
@alexrp It depends on how you plan to port the code. This issue only tells you that so far the built-in classes cannot handle this cipher mode.

Third party libraries such as BouncyCastle have their own implementations of this cipher mode, so you can build upon them if needed.

[2020-01-26 19:05] WenceyWang commented on #34143
Yes, I have created a wrapper
 https://github.com/DreamRecorder/ToolBox/blob/master/General/General/IRandom.cs

The first idea is that we need a well-known interface to regulate these pRNG implementations. There is a lot of implementation that can be found at nuget.org and GitHub, but while I want to change current implementation to another, there is no well-known interface that I can use.

The se

[2020-01-26 20:40] bartonjs commented on #34143
Our general stance for interfaces is they should be used for capabilities (e.g. `IDisposable` says any implementing class it has the Dispose capability), and not just for "a thing that provides some methods" -- preferring to use class inheritance.

I think that for ASP.Net's DI system, you can use a base class just like an interface, e.g. `services.AddTransient<Random>(() => new GameRandom())`.

C

[2020-01-27 02:29] avivanoff commented on #24977
@stephentoub, I am still trying to get a clear answer whether this works on full framework. [Related issue](https://developercommunity.visualstudio.com/content/problem/753482/windowsidentityimpersonate-in-some-async-schenario.html) has been sitting there for a while, and [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.windowsidentity.runimpersonated) has not b

[2020-01-27 05:16] scalablecory commented on #28863
Ran into this one today!

CC @MihaZupan

[2020-01-27 05:47] scalablecory commented on #42842
What happens when I want to parse a null? How do I distinguish between that null and a failed parse?

[2020-01-27 05:47] scalablecory commented on #42842
Also: I believe our design guidelines say `Try` methods should return a bool.

[2020-01-27 08:43] benaadams commented on #11555
Moved to Math

[2020-01-27 09:32] Mrpankaj666 commented on #19708
@NickCraver I am also facing the same issue
object must implement iconvertible
after upgrading .net core 2.2 to 3.1.

[2020-01-27 13:08] canthonyparkinson commented on #42842
How do you distinguish between null and a failed parse with the existing API, both return false.  You have to check the Input string for null separately if you care.  As for your second point, a Nullable in a sense can be thought of as a Tuple<Boolean, T> the Boolean is there in the HasValue property.

[2020-01-27 16:21] chrisdot commented on #41852
I don't know how difficult that is, and I don't fully understand your proposition based on fraction of existing timers.
Timeout after which the PING ack should be done is not a big deal: using the same timeout mechanism for any regular frame with payload could definitely be a valid option.
But for the inactivity timeout after which a ping would be sent to test the line, I don't know! It may depend

[2020-01-27 17:11] ericstj commented on #40846
If that became a burden we could even change the build workflow to build and test a smaller part of the product.

[2020-01-27 17:28] wfurt commented on #28863
I was thinking about it more and I'm not sure this is a problem other than surprise. According to documentation:

If we put scopeID or '[]` the value will no longer be safe to use for DNS IMHO and additional work would be needed by the caller to make it passable to NameResolution API.

I'm wondering what was the original intention for this property.

[2020-01-27 18:08] cfguimaraes commented on #34990
We have an Alpine Linux POD managed by k8s and we get the same error, so it isn't happening only on Debian as previously said.
We use Image: microsoft/dotnet:2.2-aspnetcore-runtime
Our PODs is behind NGINX proxy on AWS.

Hope this help.

[2020-01-27 18:26] wfurt commented on #34990
If this is with HTTPS it depends more on the OpenSSL version and that can change over time. Debian usually being more aggressive on upgrades than other distributions. For example OpenSSL 1.1.1 brins TLS13 and behavior change.  You can do packet captures and/or tracing @cfguimaraes to see what is going on.

Also, note that 2.2 is out of support now.  https://dotnet.microsoft.com/platform/support/po

[2020-01-27 19:04] Gnbrkm41 commented on #42842
This would depend on what you are parsing to & whether the implementation of it allows null-equivalent string to be parsed as null. it is perfectly valid to return true to denote that the conversion has succeeded, while returning null.

[2020-01-27 19:18] #42245 closed

[2020-01-27 20:24] cfguimaraes commented on #34990
You are right @wfurt.
We use HTTP**S** and with 2.2 out of support, I think no one will look at this in the future.
Also, this issue is closed.

Thank you and sorry.

[2020-01-27 20:42] GrangeLife commented on #41288
@Jozkee the highest version for System.Text.Json that I am seeing is only 4.7.0.  I have the `Include Prerelease` checked.

[2020-01-27 21:13] Jozkee commented on #41288
@GrangeLife You are probably using default package source gallery (nuget.org).

Go to Package Manager Settings and add dotnet5 daily feed to your Package Sources and search there for version `5.0.0-alpha.1.20071.1`.
[code]

[2020-01-27 21:17] Jozkee commented on #41002
Forgot to add the comment here.

[2020-01-27 22:48] Dzivo commented on #41002
@Jozkee  is this available in 3.1.1 version ?

[2020-01-27 22:59] Jozkee commented on #41002
@Dzivo  No, this is going to be shipped on 5.0; right now it is only available on the preview package version of `System.Text.Json`.

[2020-01-27 23:39] wfurt commented on #34740
Closing, since there is no response for a long time. On Linux, proper certificate extensions must be used (see linked issue). This is a platform limitation we will not be able to address.
Reopen with more details if there is new evidence.

[2020-01-27 23:39] #34740 closed

[2020-01-27 23:46] networkfusion commented on #34740
I would not define it as adding a proper certificate extension, but define it by adding the proper certificate to the store... I think it is a documentation issue (and possibly an ifdef between systems windows and Linux) where a note needs to be made to do this... and how to do it properly in a makefile (that is generated in docker via VS context menu)...

[2020-01-27 23:52] wfurt commented on #34740
https://github.com/dotnet/docs would be the right repo to track that unless @bartonjs or @davidsh  have other suggestions.

[2020-01-28 00:28] Dzivo commented on #41002
@Jozkee thx for the info switching back to NewtonsoftJson until then :)

[2020-01-28 04:50] aaronfranke commented on #17147
Just to add to the discussion, one simple use case for 128-bit integers is the ability to store the full range of an unsigned 64-bit integer inside of a signed context. If possible I would like to use signed numbers throughout the APIs I build, but that's not possible if the value is above 9,223,372,036,854,775,807.

[2020-01-28 06:48] GrabYourPitchforks commented on #24591
Related: https://github.com/dotnet/corefx/issues/26378

[2020-01-28 09:50] asm2025 commented on #38579
I wish the new System.Text.Json.JsonSerializer hasn't been made the default serialization handler in .net core 3 unless it is production-ready. I don't see how can anyone depend on it without having such an essential feature :(.

[2020-01-28 09:58] asm2025 commented on #38579
Also, there is currently no abstraction layer to make a smooth transition between Newtonsoft and the new System.Text.Json classes. JsonConvert and JsonSerializer, for example, are both static classes that will not play well with interfaces or dependency injection.

[2020-01-28 10:04] etghanibahman commented on #40399
Is there any temporary solution for this ?!

[2020-01-28 10:55] manne commented on #40399
@etghanibahman I have implemented a functionality supporting "custom" constructors. For details read <https://github.com/dotnet/corefx/issues/38569#issuecomment-574886051>

[2020-01-28 11:26] CodeAngry commented on #1973
**The Microsoft way:** The most simple and useful things take decades. It's mind blowing. 5 years and counting.

[2020-01-28 12:06] erkanKR commented on #41288
Hello,
i have installed the alpha versions, after editing my source gallery.
![Packages](https://user-images.githubusercontent.com/39823202/73262604-e2a8c080-41ce-11ea-9dc8-184ff564584f.PNG)

The ReferenceHandling  wont show up in my JsonOptions. I added Jsonoptions for my Controllers.
`    services.AddControllers().AddJsonOptions(option =>
            {
                option.JsonSerializerOption

[2020-01-28 12:28] riscie commented on #38579
@asm2025 It is still really easy to use JSON.NET instead of System.Text.Json https://stackoverflow.com/questions/42290811/how-to-use-newtonsoft-json-as-default-in-asp-net-core-web-api

[2020-01-28 13:05] asm2025 commented on #38579
@riscie Thank you.
I think I'm having the same issue as [#13564](https://github.com/dotnet/aspnetcore/issues/13564).
The code keeps looping forever and tells me eventually the size of the response is too long. It works normally for simple classes but it seems to have an issue when there is a reference loop problem.

[2020-01-28 16:46] danmosemsft commented on #1973
@terrajobst thoughts?

[2020-01-28 17:18] AutismPatient opened #42844 "iso-22-cn is not supported encoding"
Response coding error:
![73285829-95116f80-4231-11ea-88de-96e8704d9ddb](https://user-images.githubusercontent.com/37021551/73288008-2b936000-4235-11ea-8e69-667595c62fba.png)

[2020-01-28 17:37] stephentoub commented on #42844
You're trying to use Chinese Simplified (ISO-2022)? Try using "x-cp50227" rather than "iso-22-cn".  On .NET Core, you'll need to call `Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);` first.

[2020-01-28 17:52] Jozkee commented on #41288
@erkanKR, it seems that you are using a wrong version. Make sure to select `5.0.0-alpha.1.20071.1`. Let me know if it still does not show up.

[2020-01-28 18:37] #42507 closed

[2020-01-28 18:47] terrajobst commented on #1973
* We generally believe that this indeed a hole in our interface hierarchy. We suggest to focus on just adding the interface and implementing it on the existing set implementations. We can't make `ISet<T>` extend `IReadOnlySet<T>` (for the same reason that we couldn't do for the other mutable interfaces). We can add an `ReadOnlySet<T>` at a later stage. We should double check that `IReadOnlySet<T>`

[2020-01-28 18:51] terrajobst commented on #7864
We believe the correct API is this:

[code]

[2020-01-28 18:55] TylerBrinkley commented on #41409
@terrajobst any input on this collection interface change as well?

[2020-01-28 19:07] terrajobst commented on #15708
We generally have avoided IO APIs with complex policy (such as, cancellation, error handling, recovery, permissions etc). The API shape would work, but we're concerned about the complexity in implementation and don't think it's worth it.

[2020-01-28 19:07] #15708 closed

[2020-01-28 20:29] fabricefou commented on #1272
How have some visibility on this issue ?

[2020-01-28 23:01] #37674 closed

[2020-01-29 00:12] urzur commented on #41421
I am hitting the same issue when trying to make a POST via RestSharp using
request.AddParameters({name}, {value})

Does anyone know within RestSharp how to change the request such that I am able to successfully get a response?

[2020-01-29 04:40] AutismPatient commented on #42844
@stephentoub Thank you for your answer

[2020-01-29 07:29] panost commented on #29562
@GrabYourPitchforks To add a method to the assembly that returns directly a ReadOnlySpan<byte> of a Manifest Resource, without using hacks (or creating UnmanagedMemoryStream), but most importantly safe, so you dont have to mark your project as unsafe, just for using the proposed hack

[2020-01-29 07:48] GrabYourPitchforks commented on #29562
I don't know if it's possible to do this "safely". Imagine a scenario where an assembly is loaded, the resource is returned as a `ReadOnlySpan<byte>`, then the assembly is unloaded. Attempting to access the `ReadOnlySpan<byte>` after this point could have undefined behavior, including AVing the process. There might be some potential workarounds we could do from the runtime, such as forbidding unlo

[2020-01-29 07:58] brian-reichle commented on #29562
@GrabYourPitchforks What if the method returned an `IMemoryOwner<byte>` which kept the assembly loaded at least until disposed?

[2020-01-29 08:09] pavel-agarkov commented on #32610
I had to manually put `System.ValueTuple.dll` into

in order for it to be automatically found in .Net 4.6.1 console app. No other recommendations helped.

[2020-01-29 08:42] GrabYourPitchforks commented on #29562
Neither `Memory<T>` nor `Span<T>` is "safe" when pointer-backed. The reason `UnmanagedMemoryStream` is "safe" (aside from the scenario where you write unsafe code to call the pointer getter manually) is that all read / write operations go through a memcpy operation, so they can be guarded appropriately. Such a guard cannot be implemented if the consumer is given a raw projection of the backing mem

[2020-01-29 09:06] pumbpeng commented on #31749
it's same here for me.

[2020-01-29 10:03] Wraith2 commented on #35877
Is there anything more needed than the two methods @tannergooding proposed before this can be api reviewed?

[2020-01-29 13:58] mikernet commented on #22625
`ImmutableArray<T> ImmutableArray.Create<T>(ReadOnlySpan<T> span)` would be rather handy to have to avoid the ceremony of allocating a builder and such.

[2020-01-29 14:00] mikernet commented on #22625
As well as a `Builder.AddRange(ReadOnlySpan<T> span)` method.

[2020-01-29 14:03] tannergooding commented on #35877
Sorry for the delay, I had missed the last reply to this thread.

Ideally the OP (@gbieging) would update the top post with the API intended to be reviewed.

The API review process is here: https://github.com/dotnet/runtime/blob/master/docs/project/api-review-process.md and we generally prefer the proposal to be in a format similar to the [good example](https://github.com/dotnet/corefx/issues/271)

[2020-01-29 15:07] rmcwhae commented on #31749
See https://github.com/dotnet/aspnetcore/issues/18236#issuecomment-573217786

[2020-01-29 16:40] #42844 closed

[2020-01-29 17:47] safern commented on #41292
This is fixed.

[2020-01-29 17:47] #41292 closed

[2020-01-29 17:47] safern commented on #40814
This is fixed now.

[2020-01-29 17:47] #40814 closed

[2020-01-29 18:16] GrabYourPitchforks commented on #35877
I updated the top comment since Tanner already did the heavy lifting of making the API proposal. ;)

[2020-01-29 19:27] wfurt commented on #42812
Also full exception itself and possibly link to PR may be useful. Dependency on libodbc.so will depend on your linking. You can try `ldd *.so` to see external dependencies for each shared object.
However, that will not show dependencies request explicitly via `dlopen()`,

[2020-01-29 19:29] wfurt commented on #42802
What is in CMakeOutput.log @deokershesh? Also  #42812 suggests you solved your build problem. Should this issue be closed?

[2020-01-29 19:34] wfurt commented on #42717
It seems like you get it working @mattw-db. Should this be closed or do we need documentation update? (or diagnostic improvements?)

[2020-01-29 19:39] mattw-db commented on #42717
@wfurt,

Yes, everything is working fine for us!  A note on the behavior change in the release notes may save other's some time, however.  I'd recommend that.  Otherwise, we can close this ticket.

Thanks,

Matt

[2020-01-29 19:44] wfurt commented on #42701
If downgrade to Debian9 solves this, it suggests that this is related to OpenSSL version.
As far as I know, new OpenSSL (and MacOS as well) are more strict about proper EKU and KU extensions. (for example discussion in https://github.com/dotnet/corefx/issues/37282) You can use 'openssl s_client' to see if OS trusts your certificate. .NET generally defers decision about trust to OS so if OS does no

[2020-01-29 19:50] wfurt commented on #42583
All the evidence is gone. SslStrem went through major rewrite. As I don't see any recent failures I will close this now. If it fails again, we should open a fresh issue in https://github.com/dotnet/runtime repo.

[2020-01-29 19:50] #42583 closed

[2020-01-29 20:14] wfurt commented on #42178
Is there anything we should do @tmds besides verifying 3.1? Should this be a documentation issue?

[2020-01-29 20:37] wfurt commented on #41357
I don't see any failures since https://github.com/dotnet/runtime/pull/453 was submitted. Last failure 12/13 and it was failing frequently before.
This test does use memory stream so it should be quite predictable as long as the test machine is in a reasonable state. All failures occurred on Windows.
I will watch it and I'll close it if there is no failure for another 30 days.

[2020-01-29 21:46] asm2025 commented on #38579
@riscie You're right, it's easy to switch. I had conflicting versions of Newtonsoft. After I resolved the conflict, things seem to work fine again.
I made my own abstraction layer to switch between Newtonsoft and System.Text.Json just in case.

Thanks

[2020-01-29 21:48] danmosemsft commented on #27453
@TylerBrinkley still interested?

[2020-01-29 21:51] danmosemsft commented on #36652
@hughbe any interest in taking this one?

[2020-01-29 21:52] danmosemsft commented on #16833
@Gnbrkm41 how is it going on this one?

[2020-01-29 21:53] #31786 closed

[2020-01-29 22:36] stephentoub commented on #39998
A Count property was added to ChannelReader in https://github.com/dotnet/runtime/pull/312 for issue https://github.com/dotnet/corefx/issues/30852.

[2020-01-29 22:36] #39998 closed

[2020-01-29 22:37] stephentoub commented on #25162
https://github.com/dotnet/runtime/pull/312 added a Count property to ChannelReader.

[2020-01-29 22:37] #25162 closed

[2020-01-29 22:37] tebeco commented on #39998
thx a lot ;)

[2020-01-29 22:39] tebeco commented on #25162
will try to find time by the week to take a look at it
thx a lot for everyone involved in it

[2020-01-29 22:45] wfurt commented on #38198
This is not related to SslStream @karelz, see comments from @stephentoub.
Since there is compat risk and have only @afterlogic-support hitting this so far and since there is a workaround I suggest we close this.

[2020-01-29 23:31] MarcusWichelmann commented on #37504
@GrabYourPitchforks Yeah, looks like this is a great alternative and solves my issue. Thank you @FiniteReality!

I'm not sure if it would still make sense to enhance the `Convert` methods, too. If you think it does not, feel free to close this issue.

[2020-01-30 02:01] #37504 closed

[2020-01-30 02:12] bklooste commented on #40120
They should fix it  but I see this time and time again even with the old formatter , binary formatter early newtsoft , dictionaries in dictionaries , dictionaries with interfaces . They should fix it but if you dont want trouble   people really shouldn't put complex objects like Dictionaries in serialization contracts your asking for trouble - newtsoft has spoiled people  . Look at all the public

[2020-01-30 02:16] carlossanlop commented on #42076
Moving this issue to the Docs repo.

[2020-01-30 03:51] echesakovMSFT commented on #26581
I will take this issue if no one is working on it.

[2020-01-30 04:48] Gnbrkm41 commented on #16833
Been wondering if the intrinsics part could be implemented in C# (https://github.com/dotnet/runtime/issues/956) since there's a few conversion methods introduced to convert between Vector<T> and HWIntrinsics vector types not so long ago, then apparently I've forgotten about it 😅 Thanks for the ping. I can give it a try still but feel free to unassign if this is a problem.

[2020-01-30 08:43] karelz commented on #38198
Agreed, closing.

[2020-01-30 08:43] #38198 closed

[2020-01-30 09:25] wfurt commented on #38834
This test will ALWAYS fail when running as `root` or elevated. Name pipe access compares EUID with EUID of the remote process. Now, we expect this to throw when running as `RunAsSudo`.  But if the current user is the same as `Sudo`, access will work and the test will fail.
I can reproduce this easily in my Ubuntu18.04 system.
Rather than skipping on Fedora, this test is invalid IMHO if `Interop.Sy

[2020-01-30 11:52] HASSEN-MEDDEB-ATOS commented on #36058
Hello @davidsh
How can i resolve this in .Net core :/ WebRequest.DefaultWebProxy  WebRequest.DefaultWebProxy
[code]

[2020-01-30 12:43] jtattermusch commented on #41852
As @chrisdot  have mentioned, this feature is critical for gRPC long lived RPCs and streaming RPCs.
It is also important for general interoperability with other gRPC implemenations (that do support keepalive)
Here is the gRPC's keepalive spec: https://github.com/grpc/grpc/blob/master/doc/keepalive.md

[2020-01-30 13:00] cypressious commented on #40120
Here's a workaround but by no means a complete solution:

[code]

[code]

[2020-01-30 13:33] TamarChristinaArm commented on #26581
I'm not working on it, `AddAcross` and `ReverseElementBits` I already did since those intersected with my list but didn't work on the rest.

[2020-01-30 14:29] Fr1z2r commented on #42693
Here is another simpler example. This code throws an exception when IgnoreNullValues=true, and doesn't throw when IgnoreNullValues=false:
[code]

[code]

[2020-01-30 18:25] jkotas commented on #41695
`Assembly.EscapedCodeBase` should be marked as obsolete as well.

[2020-01-30 19:27] layomia commented on #42334
Closing as fixed.

[2020-01-30 19:27] #42334 closed

[2020-01-30 19:56] bitbonk commented on #41695
Just out of curiosity: Since those APIs are part of .NET Standard, what implications does marking APIs as obsolete have for .NET Standard?

Since in .NET Standard, APIs [cannot be removed, only added](https://docs.microsoft.com/en-us/dotnet/standard/net-standard#versionin), does that mean you will only obsolete those APs but never remove them? Or will .NET Standard itself become obsolete due to th

[2020-01-30 20:24] softlion commented on #40404
Why is this not supported ? The key of the dictionary is a string. And its value an object. `JsonSerializer.Deserialize<Dictionary<string, Dictionary<VoiceAction, string>>>(VoiceCommands);`

[2020-01-30 20:55] jkotas commented on #41695
Right, we do not have plans to remove any netstandard APIs.

[2020-01-30 21:25] mikem8361 commented on #9670
This may be fixed by PR https://github.com/dotnet/runtime/pull/2269

[2020-01-30 21:25] #9670 closed

[2020-01-30 21:34] wfurt commented on #18290
It seems like this is because it is disabled in the base class.
[code]

When I remove that test hangs on my Ubuntu 18.04.  I will take a look.

[2020-01-30 21:35] stephentoub commented on #18290
Ugh. Thanks

[2020-01-30 21:38] wfurt commented on #18290
It seems like it was https://github.com/dotnet/performance/issues/56. I tried to move this to perf repo but I did not figure out how. Corefx/runtime tests do all pass so it seems like a problem with the perf test.

[2020-01-30 21:47] ahsonkhan commented on #40404
Can you share an isolated repro along with the error/behavior you are seeing in your use case? Also, are you running on .NET Core 3.1?

[2020-01-30 22:04] echesakovMSFT commented on #26581
@TamarChristinaArm @tannergooding @CarolEidt

I have a question - for `MaxNumericPairwise` and `MinNumericPairwise` there is no overloads that operate on one vector (i.e. `Vector64<float> MaxNumericPairwise(Vector64<float> value)`) even though there is a c++ intrinsic `float32_t vpmaxnms_f32 (float32x2_t a)` that maps to `FMAXNMP Sd,Vn.2S` instruction. Same for the `Vector128<double> MaxNumericPai

[2020-01-30 22:24] Microshaoft commented on #33794
attention

[2020-01-31 00:34] layomia commented on #41105
I don't think this is enough information for the serializer to change the normal behavior.

It seems that the way to move forward here is if there were an explicit way to tell the serializer to treat an `IEnumerable` like an object with properties, similar to Netonsoft's [JsonObject] attribute. I'll rename this issue to reflect this.

[2020-01-31 02:06] wfurt commented on #18290
It seems like a test bug in perf repo. Closing since there is nothing left here.
I'll reopen dotnet/performance#56 and I'll submit fix there.

[2020-01-31 02:06] #18290 closed

[2020-01-31 02:40] CarolEidt commented on #26581
To me it seems like these should have the same name, and have overloads with one or two operands, since the fundamental operation is the same. It's a bit weird because the operation is always pairwise, but the number of operations & results isn't always consistent for the one operand and two operand case, if I read it correctly (i.e the one operand form always produces a single result, while the t

[2020-01-31 02:57] #36643 closed

[2020-01-31 04:16] #38834 closed

[2020-01-31 08:32] AgnesAarthy opened #42846 "Issue on Deserialisation in .Netcore 3.0 :: Getting System.InvalidCastException"
Exception has been thrown by the target of an invocation. ---> System.InvalidCastException: Specified cast is not valid.
   at System.Data.DataTable..ctor(SerializationInfo info, StreamingContext context)
   --- End of inner exception stack trace ---
   at System.RuntimeMethodHandle.SerializationInvoke(IRuntimeMethodInfo method, Object target, SerializationInfo info, StreamingContext& context)

[2020-01-31 10:37] softlion commented on #40404
I managed to make it work. I had to include the DictionaryTKeyEnumTValueConverter described here: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to#support-dictionary-with-non-string-key

[2020-01-31 10:48] TamarChristinaArm commented on #26581
@echesakovMSFT Thanks for reminding me, I was waiting for the API review to ask, but yes, so I personally think it the `pair` single register versions should instead by under the reduction intrinsics.

So instead of having a single register `MaxNumericPairwise(Vector64<float> value)` it should be under `MaxAcross`.

In C we defined them under `vmaxv` (Which I didn't here waiting to solicit feedbac

[2020-01-31 11:27] icelandgrecian commented on #33620
@cheenamalhotra  - I took this sample project upgraded to the Azure functions SDK to the latest (3.0.3), updated the version of Azure functions in the project file to use v3 and then replaced  Microsoft.Data.SqlClient with System.Data.SqlClient and then added this to the test function:

SqlConnectionStringBuilder connStrBldr = new SqlConnectionStringBuilder
            {
                Applicatio

[2020-01-31 13:39] bjornen77 commented on #42056
Is it possible to add the following to the API proposal?

public static JsonElement SerializeToElement<TValue>(TValue value);

[2020-01-31 14:42] jskeet commented on #28001
Can I check that the intention is for this to get into 5.0, with no workaround for libraries targeting older versions of .NET? NodaTime 3.0 is aiming to target netstandard2.0, using the System.Memory package for span integration. Am I right to not expect any support for this `Compare(ReadOnlySpan<char>, ReadOnlySpan<char>, CompareOptions)` in future versions of that package, basically?

[2020-01-31 14:55] vcsjones commented on #42846
1. Can you provide a minimal code sample that reproduces the issue?
2. Was it working on previous versions of .NET Core, such as .NET Core 2.x, or .NET Framework?

[2020-01-31 16:02] tannergooding commented on #26581
This is my understanding of the conventions we have followed thus-far. The instructions is `FMAXNMP (scalar)` and functionally it is a scalar (for which we have always used the `Scalar` postfix in the name).

The confusion likely comes because, so far, scalar just means "lowest element" and so for something like `Vector64<float> AddScalar(Vector64<float> lhs, Vector64<float> rhs)`, it adds Element

[2020-01-31 16:12] tannergooding commented on #26581
Also, to this note:

I believe the proposed signatures for things like the following are incorrect:
[code]

The instructions return the result in a SIMD&FP register, not in a general purpose register. So the result should remain `Vector64<T>`. The purpose of the scalar variants is to remove the need to continuously transition between "scalar" code and "vector" code. If it is an intrinsic that oper

[2020-01-31 16:25] tarekgh commented on #28001
@jskeet So far this is marked for netcoreapp 5.0 and not netstandard 2.0. Unfortunately, the only workaround for this has to allocate strings.

@terrajobst is there a way we can add these new APIs to netsatndard 2.0?

[2020-01-31 16:42] jkotas commented on #28001
No. .NET Standard 2.0 is set in stone.

[2020-01-31 16:51] Mistuke commented on #26581
Yes the reductions need to be updated. They were based on my understanding the time where I thought you could assign types to multiple register classes.

That said I still think the scalar pairwise operations should be reductions. I think the fact that we exposed them as extra intrinsics as well in C was a mistake. But If we expose them as Scalar operations here I think they should also be an over

[2020-01-31 16:56] jskeet commented on #28001
It can't be added to .NET Standard 2.0... but it could be added to the System.Memory nuget package. That's what I was hoping for :)

[2020-01-31 17:01] jkotas commented on #28001
System.Memory is not a nuget package anymore. It was folded into runtime (aka inboxed). It cannot evolve.

Also, adding this to System.Memory would mean using extension methods for this that is not the natural shape for these APIs and does not follow API design guidelines.

[2020-01-31 17:20] tannergooding commented on #26581
I agree that functionally speaking it could be exposed as either `Vector64<float> MaxNumericAcross(Vector64<float> value)` or as `Vector64<float> MaxNumericPairwiseScalar(Vector64<float> value)`.

Which is ultimately chosen will probably come down to API review. I have a slight preference for the latter since the actual instruction is `FMAXNMP (scalar)`, but the former may be easier for some to un

[2020-01-31 17:23] Mistuke commented on #26581
True.. for consistency we could rename the `Across` functions to `AcrossScalar` to indicate this? But yeah seems like a question for API review..

[2020-01-31 17:45] am11 commented on #40120
Perhaps support for (some of the) common types serializers could be added OOTB, e.g. [this list](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-reliable-collections-serialization#built-in-serializers), and also if one of these types `.IsAssignableFrom(systemDotObjectInstance.GetType())` to support <code>Dictionary<<ins>object</ins>, V></code>.

[2020-01-31 17:58] CarolEidt commented on #26581
In my opinion, something that operates on multiple elements within a vector should not have the `Scalar` suffix. If that's the naming chosen, then I would reiterate my request for a clear explanation of what we mean by that suffix.

[2020-01-31 18:20] echesakovMSFT commented on #26581
I agree with Carol - in my opinion, exposing `FMAXNMP Sd, Vn.2S` as `MaxNumericAcross(Vector64<float> value)` would introduce *less* confusion that going with `MaxNumericPairwiseScalar`.

And as it was mentioned above we would need to rename all `AddAcross` and other reduction functions which wouldn't add a value to understanding what these functions are doing - it's already clear from the name.

[2020-01-31 18:24] tannergooding commented on #26581
Scalar means it operates on a single "element", its what "element" is that can vary.

In the majority case an "element" is just `float` or `int` or `double` For example: `Vector128<float>` is a vector of `float` scalars.
In the pairwise case, the "element" is pairs of values (e.g. `float, float`). For example: `Vector128<float>` when talking about Pairwise, is a vector of `(float, float)` scalars.

[2020-01-31 18:27] tannergooding commented on #26581
If we had the proper support for it, the technically correct signature would be: `Vector64<float> MaxNumericPairwiseScalar(Vector64<(float, float)> value)`; but that is a lot of complexity that is likely not worthwhile.

It's also worth noting users familiar with ARM assembly would likely not look for it under `Across` since their is no across instruction for it, even if they are functionally equi

[2020-01-31 18:31] CarolEidt commented on #26581
@tannergooding - I disagree. A pair is a vector not a scalar, albeit a smaller vector. I think the `Scalar` suffix is confusing enough without having it refer to pairs as well. I really think that we need some API design review of the naming conventions for this.

[2020-01-31 18:40] jeffvandyke commented on #26886
@caesar-chen, As a cautionary note, the situation may be different for HTTP headers and email headers, that last document is titled "Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types", and neither of the linked RFCs mention HTTP headers.

Checking MDN's page on [Content-Type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type) links to 2 RFC specs for HTTP head

[2020-01-31 19:05] sdmaclea commented on #26581
Scalar could be reserved for cases which consume a vector, but produce a scalar return value.  As opposed to a vector<scalar> return value.

[2020-01-31 19:12] TamarChristinaArm commented on #26581
I disagree, if we had proper support I would have expected `float MaxNumericPairwise(Vector64<float>)` as it's intention is to just add two "pairs" inside a single vector. or rather two adjacent entries. https://developer.arm.com/architectures/instruction-sets/simd-isas/neon/intrinsics?search=vpadds_f32

Broadly speaking the ISA splits instructions into tree classes `Vector`, `Scalar` and `By Elem

[2020-01-31 19:15] tannergooding commented on #26581
It is too late for that, x86 already has shipped and has things like `Vector128<float> Sse.AddScalar(Vector128<float> left, Vector128<float> right)`
On x86, this is important because x86 preserves the upper bits and returning or taking `float` would mean the entire value isn't preserved.

On ARM, the upper bits are zeroed, but the API design decisions would then be inconsistent.

I agree.

I think

[2020-01-31 19:21] tannergooding commented on #26581
Yes, but we have also not had to deviate from the descriptions/names so far and have fallen back to them in past API reviews when naming concerns came up.

I believe the case of the `half-precision variant` for `FMINNMP` will likely be a big deciding factor in the name. It can't be named `Across` (or `AcrossScalar`) and has the same issue (it operates on a scalar pair and returns a scalar value).

[2020-01-31 20:03] GSPP commented on #32551
I have laid down my case for this feature, and the discussion was pretty exhaustive. If the team is not convinced at this point, I think it's time to let this go :smile:

[2020-02-01 00:47] ahsonkhan commented on #35877
Is there a need for the `try`-pattern API here? If so, maybe include one that throws:
[code]

[2020-02-01 00:52] ahsonkhan commented on #41288
The versioning schema of the packages on the nightly feed changed a bit. Since we went from `alpha1.<version>` to `alpha.1.<version>`, the newest packages don't show up on the top as they are sorted alphabetically (note the extra `.`). As @Jozkee mentioned, please look at the publish date and make sure to grab 5.0.0-alpha.1.**20071**.1 or higher to get the feature.

cc @mmitche, @safern

[2020-02-01 01:07] Wraith2 commented on #35877
I think the idea is to provide some symmetry with the `BitConverter.TryGet` methods which don't throw. If you're dealing with something like Pipelines and can't write all the bytes to the existing buffer you don't want to be using exceptions to signal failure you just try get a false then ask for a larger buffer and retry.

[2020-02-01 03:07] AgnesAarthy commented on #42846
I will give the background of what I have done.
1) I ported my code base from Mono to .Netcore 3.0.
2) There are subsystems which interact with this code base that are in .net framework.
3) The serialisation with binary formatter happens in .netcore 3.0 where the other subsystems receive my data and deserialise using the same formatter configuartions in .Netframework. The Error is thrown here.
The