[2017-01-12 00:17] tarekgh commented on #14804
Closing it as I am no table to repro it any more. looks #14907 has fixed that as @karajas mentioned.

[2017-01-12 00:17] #14804 closed

[2017-01-12 00:27] tintoy opened #15096 "CurlHandler calls HttpContent.ReadAsStreamAsync - doesn't this mean request bodies are always buffered?"
While tracking down some odd behaviour with HttpClient on OSX (request body always seems to be buffered, unlike response body) I noticed that `CurlHandler` calls `HttpContent.ReadAsStreamAsync` rather than `CopyToAsync`:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.MultiAgent.cs#L1167

Am I correct in my assumption that this means the reque

[2017-01-12 00:29] tintoy commented on #15096
(I ran into this, specifically, when trying to send `StreamContent` in the request body)

[2017-01-12 00:30] davidsh commented on #15096
cc: @stephentoub

`HttpContent.ReadAsStreamAsync` does not buffer anything.  It simply returns a Stream representing that HttpContent object.

[2017-01-12 00:38] tintoy commented on #15096
Here's the code that was causing problems:

https://github.com/tintoy/AWTY/blob/development/v1.0/test/AWTY.Http.IntegrationTests/ProgressHandlerTests.cs#L104

When I use a `MemoryStream` and `StreamContent`, the content's data is always read in a single pass (buffer exactly the same size as the content, no matter how large it is).

But when I use a [class](https://github.com/tintoy/AWTY/blob/devel

[2017-01-12 00:39] cesarbs commented on #14954
We're not seeing this issue anymore. It appears to have been fixed between versions 4.4.0-beta-24903-02 and 4.4.0-beta-24909-02.

While investigating this I thought this might be somehow related to the issue fixed by https://github.com/dotnet/corefx/pull/14852, but I did build corefx from source with that fix at the time and could still see the perf degradation in `AuthenticateAsServerAsync`.

Is

[2017-01-12 00:48] JeremyKuhne opened #15098 "Paths with bad colons don't throw ArgumentException"
On desktop paths like `C::` would throw `ArgumentException`. In CoreFX we're currently throwing `NotSupportedException`.  (See tests in System.IO.FileSystem.)

The Path class in CoreCLR needs updated.

[2017-01-12 00:51] tintoy commented on #15096
Interestingly, `HttpContent.CopyToAsync` will attempt to buffer the content:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpContent.cs#L279

But `StreamContent` doesn't (can't?) override this, so how does it avoid being buffered when using `CopyToAsync`?

[2017-01-12 00:52] davidsh commented on #15096
As you seeing this behavior when you use this HttpContent as a requestBody to POST?  It sounds like this is a requestBody issue.

It is possible that the implementation of CurlhHandler is buffer'ing the requestBody content.  But that would be an implementation detail of this handler and not a design issue, per se, with HttpContent.

@stephentoub would be the best person to answer this question.

[2017-01-12 00:55] tintoy commented on #15096
Yep, that's correct - it works just fine when I'm reading a stream representing the response body, but not when sending a stream request body.

Yes, I suspect that may be the case (issue is with `CurlHandler` not `HttpContent`) but I can't be certain (after looking at a problem for long enough, I'm no longer sure of anything).

[2017-01-12 00:56] tintoy commented on #15096
I've tried passing an instrumented `Stream` implementation to `StreamContent`, BTW, that's how I tracked the issue this far. Just overrode `Read` and `Write` methods to dump the buffer size and count.

[2017-01-12 01:05] danmosemsft opened #15099 "Add baseline file for uap10.1 vs. NS2.0"
We already have these baselines comparing to netcoreapp2.0:
[code]

We could use another one in there, that compares uap10.1 to netstandard2.0. We can then burn this file down to zero as we did before with ApiCompatBaseline.netstandard20.txt

Joe maybe you can do this with your work to enable the uap build configurations.

[2017-01-12 01:07] karelz commented on #14954
Do you mean git history?

[2017-01-12 01:09] karelz commented on #14978
I concur with kudos on fast turn around of suggestions on confirmations!

[2017-01-12 01:11] karajas opened #15101 "System.Runtime.Loader tests don't work when running with shared framework."
As a part of https://github.com/dotnet/corefx/pull/14823, the following two tests fail.
System.Runtime.Loader.Tests.AssemblyLoadContextTest.LoadFromAssemblyName_ValidTrustedPlatformAssembly
[code]
and
System.Runtime.Loader.Tests.DefaultLoadContextTests.LoadInDefaultContext
[code]

[2017-01-12 01:32] Priya91 commented on #14736
I believe there was another similar issue like this, where the process didn't exit in the given time. And it was also on OSX i think, requires investigation.

[2017-01-12 01:34] Priya91 commented on #14736
The other occurrence was filed in this issue #14117

[2017-01-12 01:51] tintoy commented on #15096
Ok, so I believe I've fixed the problem, but I'm not sure I understand _why_:

https://github.com/tintoy/AWTY/commit/21789912f9074a8424c82ec75e34430c42f69d18#diff-274b91af93396a16f4cdf8de3e5ed44cR149

The issue (I think) is that `HttpContent.CopyToAsync` doesn't specify a buffer size, and so by default the entire content stream written to my progress stream with a single call to `Write`. This seem

[2017-01-12 01:56] tintoy commented on #15096
Oh, and it's still all written in one go if I use a `MemoryStream`, but not if I use a class derived from `MemoryStream`. I can understand that, though - it's not a real-world use case.

[2017-01-12 02:04] cesarbs commented on #14954
I hadn't realized you guys have commit messages for each version update. That's great, I'll try and find what change(s) might have affected this.

[2017-01-12 02:08] yizhang82 commented on #7804
@danmosemsft We'll get to it when we add CharSet.UTF8.
cc @tijoytom

[2017-01-12 04:07] benaadams commented on #14954
coreclr had AVX2 switched off between beta-24815-03 https://github.com/dotnet/coreclr/pull/8624 and   beta-24904-02 https://github.com/dotnet/coreclr/pull/8788 - though don't think that explains why its only the first call; so probably not that...

[2017-01-12 08:22] Jiayili1 commented on #14991
This issue happens on build 20170111.07, Failed test: System.Numerics.Tests.cast_fromTest/RunDoubleExplicitCastFromLargeBigIntegerTests

detail:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170111.07/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.cast_fromTest~2FRunDoubleExplicitCastF

[2017-01-12 08:24] Jiayili1 commented on #14991
This issue happens on build 20170111.07, Failed test: System.Numerics.Tests.logTest/RunLargeValueLogTests

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170111.07/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.logTest~2FRunLargeValueLogTests

Message:
[code]

Stack Trace:
[code

[2017-01-12 08:28] Jiayili1 commented on #14992
This issue happens on build 20170111.07, failed test: System.Numerics.Tests.modpowTest/ModPow3LargeInt

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170111.07/workItem/System.Runtime.Numerics.Tests/analysis/xunit/System.Numerics.Tests.modpowTest~2FModPow3LargeInt(value:%20%5C%22-15068527412936954639638223

[2017-01-12 08:32] Jiayili1 commented on #14995
This issue is repro on build 20170111.07, failed tests:
System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/ZeroLengthContent_FixedValue
  System.Security.Cryptography.Pkcs.EnvelopedCmsTests.Tests.EdgeCasesTests/ZeroLengthContent_RoundTrip

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/2

[2017-01-12 09:03] tmds commented on #14089
@ellismg @gkhanna79 exposing rid the minor is causing a first casualty: https://github.com/dotnet/cli/pull/5255/files

I grepped through much of the dotnet repos. This pattern is everywhere: after reading os-release, the minor is stripped from rhel. This is not a surprise, since the minor itself does nothing meaningful. coreclr and corefx are the exception where the minor is not stripped out but r

[2017-01-12 10:14] denisz1 opened #15106 "No waiting on SemaphoreSlim"
For `SemaphoreSlim`, there are `semaphore.Wait()`, `semaphore.Wait(int)`, `semaphore.WaitAsync()`, etc. methods.

Sometimes it is necessary *to try* obtain the semaphore, *but if it is unavailable then not to wait*. This is a real use case, as evident by the number of StackOverflow posts related to it.

So: `semaphore.Wait(0)` or `semaphore.WaitAsync(0)` or `semaphore.Wait(TimeSpan.Zero)`, etc.

B

[2017-01-12 11:19] skadefro commented on #2394
We need a web based workflow designer. Support for .NET core for running the workflows would be double awesome. go go

[2017-01-12 13:34] ViktorHofer commented on #15098
I'm going to take that issue.

[2017-01-12 14:21] stephentoub commented on #15106
Wait/WaitAsync with a zero timeout will complete synchronously, either with a value of true if the semaphore could be acquired or a value of false if it would require waiting.  This is supported.  The docs could be improved to explicitly state this, but changing the behavior to anything else would break a bunch of code, including code in corefx itself.
cc: @mairaw

[2017-01-12 14:23] jchannon commented on #11897
Any update on this, maybe a netstandard 2.0 thing?

[2017-01-12 14:24] stephentoub commented on #15096
MemoryStream.CopyToAsync is optimized to avoid needing to allocate an intermediate buffer for the copy; instead it just hands out its internal array in a single WriteAsync call:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/MemoryStream.cs#L461

If you derive from MemoryStream, you don't get this optimization, because MemoryStream doesn't know whether the derived impleme

[2017-01-12 14:25] benaadams commented on #15106
The behaviour is correct (see: https://github.com/dotnet/coreclr/pull/6898)

Are you suggesting a new api `TryWait(...)` and `TryWaitAsync(...)` to indicate it has a return? (Which would just map to `Wait(...)` and `WaitAsync(...)`)

[2017-01-12 14:26] stephentoub commented on #15106
I believe he's just asking that the "completes synchronously and quickly" behavior be documented for an input of 0.

[2017-01-12 14:46] ericstj opened #15109 "Conflict-resolution: NETCore.App needs to declare itself a preferred package"
Add a props to declare this.

[2017-01-12 14:54] ericstj opened #15110 "Conflict-Resolution: NETCore.App is not winning over fat packages for copy-local"
In 1.0/1.1 NETCore.App was composed of a mix of fat packages and split packages.

In 2.0 NETCore.App is one big split package.

This means that for a portable app using the shared framework it may see copy-local assets from 1.0/1.1 without seeing any of the newer 2.0 SharedFramework assets to cancel them out.

1. One solution is to make NETCore.App carry metadata (via a generated props file) that

[2017-01-12 15:10] ericstj commented on #15110
For 1 I propose the following.

HandlePackageConflicts accepts an item as ExternalCopyLocal.  These items will have metadata for AssemblyVersion, FileVersion, NuGetPackageId, NuGetPackageVersion.  HandlePackageConflicts will first load these items into conflict map for copy local before doing other conflict detection.  When examining these for conflicts we'll skip the exists check.

NETCore.App wi

[2017-01-12 15:22] karelz commented on #11897
.NET Standard 2.0 is about APIs which are common across runtimes/implementations - .NET Core, Desktop and Xamarin. This is new API, so it does not fit that bucket.
We intentionally set the Milestone to Future to communicate that we do not plan to address it ourselves in next release - .NET Core 2.0.

The next steps are highlighted in my earlier comment. If anyone from the community is passionate a

[2017-01-12 15:29] eerhardt commented on #15110
`type: platform` is now specified by an MSBuild property:  `MicrosoftNETPlatformLibrary`, which specifies which library should be treated as the "platform" library.
See https://github.com/dotnet/sdk/blob/a237ed6ee95d3c8438635c13fed12cbccd79da7d/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.targets#L226-L241

Publish looks for this library, and if it finds it, excludes any assets comi

[2017-01-12 15:32] tchekjunior opened #15111 "cloning dictionnary<,> by reflection and expression tree"
### Hello everyone,
I'm coming to share with you a strange I have with my code at the moment.
I'm exporting an XNA game to Monogame for the Universal Windows application (wup).
But in the game code we make deep and brute cloning of some class (public and private propriety)
We created a code module for the cloning a bit like Deepcloner, using "expression tree" to generate the cloner fonctions by di

[2017-01-12 15:46] omajid commented on #14089
I obviously agree with just using the major RHEL version (`7`) as the identifier instead of the complete `VERSION_ID` (`7.2` or `7.3`). RHEL 7.x releases are basically bugfix releases. They may add features, but compatibility is a big goal - so users should find it mostly transparent. Treating each RHEL 7.x release as a separate version is like treating macOS 10.12 as being different from 10.12.1.

[2017-01-12 15:53] marek-safar opened #15112 "Packages with platform specific implementation in net4* TFM"
We've identified following netstandard/corefx nuget packages as breaking when used with VS for Mac and targeting .NET Framework.

- System.Runtime.InteropServices.RuntimeInformation
- System.Globalization.Extensions
- System.Net.Http
- System.Text.Encoding.CodePages
- System.IO.Compression

The underlying issue is when running on non-Windows platform using .NET TFM e.g. `net462` the nuget `lib` im

[2017-01-12 15:55] gpiercey commented on #14089
I've made the script changes that @tmds mentioned in my local workspace and I'm in the process of building now so if it all works out fine, and the tests pass, I'll submit a PR.

[2017-01-12 16:00] akoeplinger commented on #15112
/cc @ericst @weshaggard

Related issue for RuntimeInformation: https://github.com/dotnet/corefx/issues/9012
We're contemplating a "fix" in the Mono runtime on our side to essentially blacklist those assemblies from loading from the app folder, but a more long-term solution would be great.

[2017-01-12 16:03] karelz commented on #15106
If you can send me link to the docs which need to change and provide the new wording, I can ask docs team to make the changes.
@denisz1 would that be acceptable resolution of your issue?

[2017-01-12 16:06] karelz commented on #15111
Could you provide a repro for the issue? Command line app which creates dictionary, creates the cloning code and then executes the cloning code, showing it is not properly cloned?

[2017-01-12 16:07] karelz commented on #15111
cc: @JonHanna @bartdesmet @VSadov @OmarTawfik if they have Expression tree insight here ...

[2017-01-12 16:24] #10844 closed

[2017-01-12 16:51] tarekgh opened #15114 "Make System.Console throw the same Exception on netcore as the full framework"
The desktop throw IOException on the follwoing calls:

[code]
while netcore throw ArgumentOutOfRangeException

[code]
please have a look at the PR #15095 for more info

[2017-01-12 16:55] ericstj commented on #15110
Ah, I see.  Indeed it is very close to the NuGet behavior as it is doing a graph walk of package dependencies  by package ID and excluding those that have been upgraded.  That won't help us here.

Do you have any opinon about option 1 vs 2?  For 2 we'd need some way to determine the path to the shared framework, then we'd pass in all the files in that folder as ExternalCopyLocal and consider them

[2017-01-12 16:58] karelz commented on #15023
@lmolkova @vancem please follow [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-01-12 17:00] karelz commented on #15023
@vancem here's background on [triage and issues](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified), I'll be happy to give you crash course as we didn't triage Tracing area yet (cc @valenis)

[2017-01-12 17:01] danmosemsft commented on #14995
@tarekgh I think you missed disabling these two for desktop.

[2017-01-12 17:06] danmosemsft commented on #6302
According to this it has failed 4 times in Dec/Jan

http://jdash.azurewebsites.net/builds/test?name=System.Security.Cryptography.X509Certificates.Tests.PublicKeyTests.TestKey_RSA&viewName=dotnet_corefx&pr=true&startDate=2016-12-01&limit=20   (check 'include PRs')

[2017-01-12 17:09] karelz commented on #15112
@akoeplinger changing the right Eric alias above (missing 'j' at the end)

[2017-01-12 17:11] tarekgh commented on #14995
I ran the whole test successfully before I merged my stuff. I just discovered there are some test cases while labeled with OuterLoop which doesn't run by default and these are what is still failing.

[OuterLoop(/* Leaks key on disk if interrupted */)]

[2017-01-12 17:19] vancem commented on #15023
@karelz I have marked the issue as 'API-read-for-review'.    @lmolkova  and I have already gone through several rounds of updates, and while there may be a tweek or two left, its rough shape and usage should be stable now.

@lmolkova  has also submitted a correspoinding pull request #15103  which was done not to circumvent the review process, but to provide additional detail.   In particular the u

[2017-01-12 17:19] weshaggard opened #15116 "Add option to build script to have it also build and run tests."
Perhaps `build.cmd -all` which would include the test project builds.

[2017-01-12 17:20] ericstj commented on #15110
As far as I can tell it does not.

I looked into how the shared framework is located.
First off, it's not garunteed to be there on build which is problematic if we depend on it for build output.  It could mean different results if you have shared framework vs not.
Second, it's actually determined by which dotnet is on the path https://github.com/dotnet/cli/blob/c50aeb318ed9afed731640033f571e8dd191

[2017-01-12 17:33] karelz commented on #15023
Perfect, we should cover it in one of the next API review meetings (we have 15 issues now, so it may take 2 weeks for us to get to it).
The API proposal is typically sufficient for API review.

BTW: I skimmed through it - the name 'Baggage' seems a bit weird to me. Did you consider any alternatives?

[2017-01-12 17:36] danmosemsft commented on #15023
Baggage seems to be the opentracing.io term: https://github.com/opentracing/opentracing.io/blob/cccdae2f2a09969945a857ae73328b4b4ed1d11f/spec.md

[2017-01-12 17:41] karelz commented on #15023
Thanks for explanation. It makes sense to be consistent with open standards ...

[2017-01-12 17:45] weshaggard opened #15117 "Need to add build and test support for corert"
As part of the new engineering changes we need to add build and test configuration support for corert builds of the libraries.

In other words we need to make the following commands work and build the correct stuff:
[code]

cc @jkotas @SedarG

[2017-01-12 17:45] raphi011 opened #15118 "SSLv3_method not defined in file libssl.so.1.0.0"
Hi! I'm trying to access an SQL Server via EF on Arch Linux and the following error occurs.

[code]

I know Arch Linux is not supported but maybe you guys have a hint so I may be able to fix this.

### Steps to reproduce

Execute an arbitrary EF statement

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Arch Linux
ID

[2017-01-12 17:58] #15076 closed

[2017-01-12 18:01] couven92 opened #15120 "dotnet build on NFS: Access to the path '.SDKVersion' is denied."
Re-issue of https://github.com/dotnet/cli/issues/4227

# Problem

The following problem occurs when attempting to build a dotnet project in Ubuntu when the project to build is located on a network file system.

When I run `dotnet build -f netstandard1.6` on any project, `dotnet build` returns the following output:

[code]

However, when I run `ls -lah` with the path shown above, it shows me that t

[2017-01-12 18:02] weshaggard opened #15121 "Provide a nice error message when building an individual project without the configuration initalized"
After the engineering work if you try to build an individual project for a build configuration that hasn't been setup by calling build.cmd once for it will cause all kinds of random looking errors. We should detect this case and give a good error with a clear message of what needs to be done to fix it.

[2017-01-12 18:02] ericstj commented on #15112
The reason these packages do this is to make the packages work with Desktop packages.config.

FWIW you have the same exact problem for any package that works with desktop and needs to pinvoke.

We could try and make these assemblies do "the right thing" by detecting mono and doing something different, but I would imagine that in any case you'd prefer to use the mono implementation.

Rather than bl

[2017-01-12 18:07] danmosemsft commented on #15098
@ViktorHofer great. Please include test/s!

[2017-01-12 18:17] weshaggard opened #15122 "Provide a way to build all configurations"
With the new engineering workflow we no longer have a simple way to build all configurations of a library or test project. We should add support for a build-all supported configurations for a given machine. We should do that from the root level as well as from an individual test project level.

[2017-01-12 18:28] JeremyKuhne commented on #15098
I'll be checking in #15100 today- you'll just need to remove the Issue from the tests once CoreCLR is updated and it is pulled into CoreFX.  To run tests against desktop you need to do this:

[code]

Tests should work both with and without the FilterToTestTFM. Note that there are still a few more desktop failures in FileSystem.Tests. Some exceptions not being thrown exactly the same. If you are in

[2017-01-12 18:36] marek-safar commented on #15112
Correct any package could end up in this situation but for netstandard packages the assumption that they will **just** work is much higher.

Fixing the assemblies to do the right thing and work on all platform might not be that easy. In some cases we have another dependencies which would have to be abstracted and moved to corefx, sometime we use internal API via IVT etc.

Blacklist-ing is another

[2017-01-12 18:49] crummel commented on #14703
@karajas @stephentoub I just tried it and I'm seeing the same issue in dev/eng.

[2017-01-12 18:59] weshaggard commented on #15110
I agree we shouldn't depend on the shared framework on the box, so I don't like option 2. The thing I don't like about option 1 is we need to know about the contents of all the RID split packages in the identity package which seems unfortunate. If we can figure out a good way to scope and maintain the list in option 1 then I think I could get behind that option.

[2017-01-12 19:06] ericstj opened #15125 "test.builds should filter projects to only the ones that it wants to test."
See https://github.com/dotnet/corefx/pull/15093#discussion_r95859628

Previously we'd filter tests in a number of places, their was the test.builds file that determined what was in the traversal, then dir.traversal.targets was trying to filter those based on some metadata and the filename of the project, then IsTestProject would still need to be set.

Today we've more-or-less whittled this down to

[2017-01-12 19:12] mellinoe commented on #14595
Do we actually want to have the binaries in the nuget package crossgen'd (rather than just the shared framework)? Crossgen'ing has a particular set of tradeoffs, so it'd be unfortunate if we forced standalone applications to take those tradeoffs, instead of giving them the choice to do so if it makes sense for them.

[2017-01-12 19:19] karajas opened #15126 "Code coverage in dev/eng"
Enable code coverage in dev/eng

[2017-01-12 19:20] eerhardt commented on #15110
Agreed that if possible, we shouldn't rely on the shared framework being installed on the box. @rainersigwald informed me that MSBuild has its own installer, so people can build on build servers.  So if someone ever tried using that MSBuild, the shared framework wouldn't be installed.

[2017-01-12 19:20] karajas commented on #14703
Opened an issue in dev/eng https://github.com/dotnet/corefx/issues/15126 .

[2017-01-12 19:27] tarekgh commented on #15051
The following case is giving different results on desktop too
[code]
    System.Numerics.Tests.cast_fromTest.RunDoubleExplicitCastFromLargeBigIntegerTests [FAIL]
        Assert.Equal() Failure
        Expected: ∞
        Actual:   0

[2017-01-12 19:30] tintoy commented on #15096
Cheers, that makes sense.

As far as the `CurlHandler` thing goes, _is_ there meant to be any difference in semantics between `HttpContent.GetStreamAsync().CopyToAsync()` and `HttpContent.CopyToAsync()`? The docs don't really say either way, but I think it might make a difference if `CopyToAsync` is just a convenience method or something else...

[2017-01-12 19:38] ianhays commented on #7707
I'm re-opening this issue. We've been seeing several failures of this test in the past month in the Rhel7.2 Outerloop runs for both Debug and Release.

It fails in one of two ways:

[code]

or

[code]

When it fails in the first manner, it is the only test in the run to fail that way. When it fails in the second manner, these tests all fail the same way:
[code]

[2017-01-12 19:53] steveharter opened #15127 "Test Failure: System.IO.Tests.Directory_SetCurrentDirectory.SetToValidOtherDirectory"
Encountered this random failure in an unrelated PR under Centos

dotnet_corefx/master/centos7.1_release_prtest 2060 	centos71-20160929-f983f0 	01/11 04:35 PM 	steveharter 	15072

MESSAGE: Assert.Equal() Failure
Expected: 42
Actual: 255
STACK TRACE: at System.Diagnostics.RemoteExecutorTestBase.RemoteInvokeHandle.Dispose() in
/mnt/resource/j/workspace/dotnet_corefx/master/centos7.1_release_prtest/sr

[2017-01-12 20:04] saurabh500 commented on #15089
I did some testing with SqlClient on .Net Framework.

Server setup:
1. For the MSSQLServer instance (which is the default instance) the only protocol turned on was Tcp, SM and NP were disabled.
2. I changed the TCP port of Sql server from 1433 to 1432 so that the default port is not picked up during connectivity.
3. The connection to sql Server with "Data Source = servername" (Note no port, no ins

[2017-01-12 20:11] ericstj commented on #15110
@weshaggard I think I can do that.

[2017-01-12 20:12] ericstj commented on #14595
We haven't done this yet.  Cross-gen'ing still happens only for shared framework.  Are you thinking about the file-size tradeoffs?

[2017-01-12 20:14] mellinoe commented on #14595
(R2R) crossgen trades off runtime speed and file size for startup speed, correct? I'm just suggesting that those tradeoffs are not ideal for all applications (selfishly I'm thinking of my own side projects), and it would be nice if folks could opt-in to those tradeoffs rather than being forced into them (since there's no other way to deploy a standalone application than through the nuget assets).

[2017-01-12 20:16] tarekgh commented on #15051
one more case:
[code]
      System.Numerics.Tests.logTest.RunLargeValueLogTests [FAIL]
[code]

[2017-01-12 20:22] ericstj commented on #15112
We discussed this with NuGet folks, @migueldeicaza, and @mhutch a few months ago and folks didn't want to do that.  Folks were saying that the benefit of desktop mono is that it is *identical* to desktop.  That means no build-time solution is acceptable.

The downsides of a black-list / unification table is it makes it harder for you to allow for app-local copies of these assemblies.  Is that a sc

[2017-01-12 20:45] ericstj commented on #14595
I see.  I am ok leaving the packages un-cross-gened.  Alternatively we could look at producing some packages that are not cross-gen'ed and giving them a architecture-less-RID.  @weshaggard what are your thoughts.

[2017-01-12 20:49] danmosemsft opened #15131 "Audit behavioral differences between CoreFX and Desktop"
Eg by looking through all tests that are desktop specific by grepping for
`SkipOnTargetFramework.*TargetFrameworkMonikers.Netcoreapp`

We are concerned about cases where we broke compat with Desktop exception behavior, and now with the new focus on NS2.0 we want to be more closely compatible. See https://github.com/dotnet/corefx/pull/15095/files/51dfc8f3bb7a08f87ba519ed39ec70a443b35507#diff-e33ac3

[2017-01-12 20:54] mellinoe commented on #14595
From my viewpoint, the right way to offer this would be as an option in `dotnet publish`. Build customizations like this shouldn't be too difficult to accomplish with custom MSBuild targets, anyways (whether or not they are built-in).

If I could just run `dotnet publish -crossgen` (or `/p:Crossgen=true`) instead of `dotnet publish`, I think that would be simple enoughh to cover the scenario witho

[2017-01-12 21:09] tchekjunior commented on #15111
I write little code with my cloner to test dictionary clone.
she work well for other class.
I use visual studio 2017

[zip code source](https://drive.google.com/file/d/0B9IHjQmx0e1fZURoWlpCcVB2bW8/view?usp=sharing)

[2017-01-12 21:21] tchekjunior commented on #15111
I write little code with my cloner to test dictionary clone. she work well for other class but loss clone dictionary.
I use visual studio 2017, universal uap
[ test code source ](https://drive.google.com/file/d/0B9IHjQmx0e1fZURoWlpCcVB2bW8/view?usp=sharing)

[2017-01-12 21:29] Clockwork-Muse commented on #15131
As a reminder to whoever grabs this, there are some tests that aren't skipped, but rather just choose a different internal path, possibly by `RuntimeDetection.IsNetFramework` or similar.

[2017-01-12 21:48] phototropic commented on #7325
Thanks for the reply @karelz. I wish I had the capacity to contribute in some meaningful way, but I too am a newb when it comes to authentication and cross-platform issues.

Unfortunately for my efforts, I had to give up on implementing a web service in .net core. Without having some relatively easy way to integrate our services through Kerberos I had to redirect my efforts to do a regular Windows

[2017-01-12 21:50] weshaggard opened #15135 "Announcement: Engineering changes for corefx"
Over the last couple months, we have been doing some overhauling of our corefx engineering system in the dev/eng branch. The time has finally come to get these changes into master so we are going to use this issue to give a heads up on the details.

## Primary reasons for the changes
* **Build from source**
  * Value: Simplify on-boarding of new Linux distros
  * As we have worked more in the open

[2017-01-12 21:56] JeremyKuhne opened #15136 "Cannot run tests against specific desktop TFMs"
You can specify a [particular config file](https://github.com/xunit/xunit/blob/master/src/xunit.console/CommandLine.cs#L116) with the xunit console runner. When we run against a particular TFM we should be generating the right config so the appropriate compat switches (quirks) are set.

[2017-01-12 21:57] JeremyKuhne commented on #15136
@joperezr, @alexghi, @tarekgh

[2017-01-12 22:00] karelz commented on #15135
Heads up to all CoreFX contributors, it will affect your dev workflow + you will need to **rebase next week**
cc'ing all recently active contributors (in random order), my apologies if I missed anyone (it was not intentional): @hughbe @justinvp @JonHanna @xoofx @AlexRadch @stephenmichaelf @nietras @benaadams @fujiy @jamesqo @SamuelEnglard @couven92 @tintoy @sparraguerra @vcsjones @bartdesmet @lmol

[2017-01-12 22:25] weshaggard commented on #14492
lets please add remove buildvertical.targets to the list and fold it into our other common targets in build tools.

[2017-01-12 22:27] karelz commented on #15135
cc @khellang @cshung @AndyAyersMS @SedarG @nikitozz @varocarbas @andrewlock @cesarbs @roji
 @alaatm @vancem

[2017-01-12 22:40] #14991 closed

[2017-01-12 22:40] #14992 closed

[2017-01-12 22:48] adamhathcock commented on #15135
So for NET Standard 2.0 there will be one large "mscorlib" instead of individual System.Linq etc packages?

Asking as a user, not a contributor here:)

[2017-01-12 22:53] weshaggard commented on #15135
@adamhathcock there will still be more than one assembly but one package Microsoft.NETCore.App. So yes there will still be a System.Linq.dll assembly but not a System.Linq nuget package.

[2017-01-12 23:03] weshaggard commented on #14595
@jkotas @gkhanna79 do you guys have any opinions on whether or not we should have binaries already cross-gen'ed in our new flat NETCore.App package?

Assuming the size isn't too much larger I think I would prefer them to already be R2R images.

[2017-01-12 23:13] weshaggard opened #15140 "Fix auto-updates to pass along project.json.template files"
@dagood tells me it should be as simple as passing those files to the update target so it should be easy to get this working.

[2017-01-12 23:19] geoffkizer commented on #4900
See #15141

[2017-01-12 23:25] cesarbs commented on #14954
This was fixed by the same change that fixed `WriteAsync` for us - https://github.com/dotnet/corefx/commit/5ccb1e47a8fe954c67026a577af99cb51166e68b

At the time I filed this issue I did build corefx with @stephentoub's fix to WriteAsync and saw the authentication performance issue, but I must have pointed to the wrong package instead of the one I had just built, or something of that sort.

Sorry f

[2017-01-12 23:25] #14954 closed

[2017-01-12 23:26] huanwu commented on #10574
The NetCore currently doesn't support this scenario.

[2017-01-12 23:26] #10574 closed

[2017-01-12 23:26] #15125 closed

[2017-01-12 23:27] stephentoub commented on #14954
Thanks, @cesarbs.  Just for future reference, do you know when the issue started?  Was it when Begin/EndXx were added back to Stream, or something else?

[2017-01-12 23:31] SamuelEnglard commented on #15135
@weshaggard So we won't be able to pair down the DLLs to just what we need?

[2017-01-12 23:34] weshaggard commented on #15135
For the shared framework that obviously isn't needed but for standalone apps we plan to work on adding some assembly level trimming to the publish. @terrajobst do we have any pointers for that feature?

[2017-01-12 23:37] saurabh500 commented on #15046
Thanks @roji @divega
I had a discussion with the team.
It makes sense to have `DbTransaction` in .Net Core System.Data.Common so that the providers can take advantage of the ambient transactions enlistment model.

@weshaggard Let me know if I can answer any questions

[2017-01-12 23:38] cesarbs commented on #14954
@stephentoub I don't know fore sure. @mikeharder, do we know the date when we started seeing this?

[2017-01-12 23:41] weshaggard commented on #15046
So you are suggesting we should just move DbTransaction and its closure into System.Data.Common instead of System.Transactions?  If so can you please put together a full proposal for what types this would include?

[2017-01-12 23:46] mikeharder commented on #14954
It's difficult to trace everything back to the CoreFx versions.  Our dev branch was fine on 12/21/16, then we first noticed this problem on 1/5/17, and it was fixed on 1/11/17.  Our automation was not working over the holidays, so I don't know when this started failing between 12/21/16 and 1/5/17.  Even if we did know exactly when it started failing in our dev branch, we'd then need to trace back

[2017-01-12 23:49] saurabh500 commented on #15046
Sorry bad comment from me. I edited it.
`DbConnection.EnlistTransaction()`  should stay in System.Data.Common and it would bring in `System.Transaction`

[2017-01-12 23:50] cesarbs commented on #14954
We grabbed CoreFX 4.4 packages on 12/21.

[2017-01-12 23:57] weshaggard commented on #15046
OK I've opened https://github.com/dotnet/standard/issues/157 to discuss adding System.Transactions to .NET Standard.

[2017-01-12 23:58] SamuelEnglard commented on #15135
So I just get the whole standard when writing libraries, no more saying what parts my library needs?

[2017-01-13 00:05] MattGal commented on #15135
Have we tested distributed Helix runs with this yet?  I've seen PRs around this but have not seen a clean test build.

[2017-01-13 00:05] gkhanna79 commented on #14595
R2R is not focused only for startup - it also helps execution time (i.e. runtime) speed as well as the JIT is not invoked for every method invocation during the life of the app.

Since M.N.App would be RID split, I would prefer to have the SharedFW binaries crossgened in them so that attempt to publish for a cross-target (e.g. publish on Windows for OSX) would get the target platform precompiled a

[2017-01-13 00:06] gkhanna79 commented on #14595
This size impact is there - comfort level depends upon who is looking at it :)

[2017-01-13 00:07] weshaggard commented on #15135
@SamuelEnglard Yes when you are writing a library you get all of .NET Standard APIs. For anything above .NET Standard you still need reference, but with .NET Standard 2.0 it is much larger so hopefully that will not be necessary in most cases.

@MattGal please chat with @mellinoe about that work.

[2017-01-13 00:19] JeremyKuhne commented on #14986
Fixed Argument and PathTooLong exception errors with #15100

[2017-01-13 00:19] #14986 closed

[2017-01-13 00:24] MaherJendoubi commented on #15135
What about compiler and runtime perfs?

[2017-01-13 00:25] corivera opened #15143 "System.Data.OperationAbortedException not present in System.Data.SqlClient contract"
CC @saurabh500

[2017-01-13 00:27] mellinoe commented on #15135
@MattGal I've had some successful private builds and am currently working on adding the steps back into the official build definitions.

[2017-01-13 00:30] weshaggard commented on #15135
@MaherJendoubi I'm not sure I understand your question. What context are you referring to? Are you asking will the compiler perf be less if we always pass it .NET Standard? If that is what you are asking then I don't think it will be. .NET Standard 2.0 is still smaller then the .NET Framework and the compiler handles a lot more type references in that context just fine.

[2017-01-13 00:32] PinpointTownes commented on #15135
And what about .NET Standard 1.x libraries? Do you plan to update the CoreFX NuGet packages so we can keep using them when targeting older .NET Standard TFMs?

[2017-01-13 00:33] mellinoe commented on #14595
Interesting; I thought there was some overhead due to the indirections needed to be version-resilient in the generated code. If runtime speed is actually greater, then I have less concerns about this.

My big fear is that we will end up slipping on the "dependency trimming" feature in MSBuild, and when combined with a R2R'd framework, I will end up with a 150+MB application when it used to be ~30

[2017-01-13 00:36] weshaggard commented on #15135
@PinpointTownes We don't need to update the packages to support .NET Standard 1.x as the packages that are already released on NuGet already support those. If there are fixes needed for a servicing event then we will produce updates in our servicing branches. Also if you are writing a library targeting .NET Standard 1.x those will be supported in our .NET Core 2.0 package.

[2017-01-13 00:37] gkhanna79 commented on #14595
This overhead exists, happens at runtime and happens only for the first time the fixup is required. R2R does not make runtime speed better - it simply alleviates the need to JIT for every call.

What is this about? Can you please share more details?

[2017-01-13 00:44] mellinoe commented on #14595
I see, so essentially runtime performance will become identical after this fixup is run, compared to after a "regular method" is JIT'd?

This is about not publishing the entire BCL in a standalone application. Previously this was facilitated by the modular package graph. In the new world (with one giant package), we will need to do explicit analysis and trimming in order to avoid deploying unneces

[2017-01-13 00:46] tarekgh opened #15145 "Rewrite System.Private.Uri tests for desktop"
Looks the behavior of netcore is very different than the desktop so the current existing tests are dramatically failing on the desktop and need to be re-written for the desktoop.

#10821 is an example of failures

[2017-01-13 00:48] jkotas commented on #14595
There is performance loss, but it is primarily caused by lack of cross-module inlining.

[2017-01-13 00:48] jkotas commented on #14595
I believe @russellhadley team is working on that.

[2017-01-13 00:49] PinpointTownes commented on #15135
Actually, my question was not about using the bits that are already published, but future versions that will be released :smile:

Here's a concrete sample: let's say I have a .NET Standard 1.3 class library that depends on `System.Security.Claims` 4.3. If a bug is discovered and an updated library is released or if performance improvements are introduced in the next few months (e.g in `System.Secu

[2017-01-13 00:53] davidsh commented on #15145
This is probably due to quirking issues where the behavior on .NET Framework (Desktop) depends on what TFM is used, i.e. < .NET 4.5 vs >= .NET 4.5.  I know that in the case of #10821 there is a quirk that changes that behavior on Desktop depending on the TFM.

We have lots of tests for Desktop in TFS for Uri.

cc: @CIPop

[2017-01-13 00:54] davidsh commented on #15136
This will be required in order to properly test against .NET Framework (Desktop).  Desktop code, for example, has different quirked behavior depending on the TFM.   See #15145

[2017-01-13 00:59] weshaggard commented on #15135
The fixes will be rolled into our latest release, so .NET Core 2.0, in this case but they will not be in our older .NET Core 1.x releases. We will only be releasing servicing level fixes for those releases. To get the latest greatest changes people have to move to the latest .NET Core release.  So you are correct a .NET Core 1.x will not be able to use them. That is true even with the small indivi

[2017-01-13 00:59] tarekgh commented on #15145
I am not sure if the issue is just a quirk. I tried some examples of the test on 4.6 and clearly the behavior is different. and I am seeing the comments on the code like

[code]

[2017-01-13 01:04] davidsh commented on #15145
For that particular case, yes, the behavior is different.  That is because we changed it on .NET Core but not yet on .NET Framework (Desktop).  It was one of those bugs we proposed as "port-to-netfx" but have not yet acted on the change due to app-compat concerns.

[2017-01-13 01:05] PinpointTownes commented on #15135
@weshaggard thanks for the clarification :+1:

[2017-01-13 01:09] huanwu commented on #10579
Did the ad-hoc tests. The returned mapping object seems the same as the one get from desktop version.

[2017-01-13 01:12] MaherJendoubi commented on #15135
@weshaggard I mean one package still tons of references. Huge package has downsides.

[2017-01-13 01:23] jimcarley commented on #15046
I haven't finished reading thru this, but I wanted to get @qizhanMS for visibility.

[2017-01-13 01:26] weshaggard commented on #15135
@MaherJendoubi in the end it will be pulling down less files then what happens today. Today when you reference Microsoft.NETCore.App it has a pretty large package graph under it and causes it to pull a lot of packages and files in those packages that aren't even applicable to .NET Core. With the flat package it will only pull the files that are needed for .NET Core, so in the end I think it will h

[2017-01-13 01:29] MaherJendoubi commented on #15135
@weshaggard thank you for enlightening me 👍

[2017-01-13 01:37] karelz commented on #15118
Do you have the right version of OpenSSL? Looks like it is missing a method ...

[2017-01-13 01:45] weshaggard opened #15148 "Fix projects that have be renamed to .disabled"
@mellinoe @joperezr as part of the bring-up it looks like you guys renamed some projects to ".disabled" We need to work on re-enabling those.

I found the following from a quick search:

[code]

[2017-01-13 01:57] zhenlan commented on #7325
We just fall back to use a hard coded default user. It's okay for the specific WCF scenario involved here, but I don't think it can be a solution for this API.

[2017-01-13 02:21] karelz commented on #7325
Does it make the connection basically anonymous / unauthenticated? Or is the default user some process-wide / machine-wide setting?

[2017-01-13 02:29] karelz opened #15150 "Create x-plat System.Security.Principal.Identity"
`WindowsIdentity` is tied to Windows concept of 1 identity per user. Linux can have multiple identities (in various locations on different distros) per user.
Create common `Identity` which would abstract both approaches and provide Identity API which can be used on any OS.

Details here https://github.com/dotnet/corefx/issues/7325#issuecomment-270967064

[2017-01-13 02:30] karelz commented on #15150
Next steps: We need API proposal and idea how it would work on Linux/Mac.

[2017-01-13 02:46] ellismg opened #15151 "openSUSE 13.2 builds time out frequently."
While I was looking at some other stuff, I noticed that it looks like the runs of openSUSE 13.2 hang from time to time when running tests.  See https://ci.dot.net/job/dotnet_corefx/job/master/job/opensuse13.2_release/.  Some jobs complete but others timeout (and then the logic to kill everything makes it look like MSBuild is failing).

It isn't 100% reproducible, as some builds do complete without

[2017-01-13 03:27] Thaina commented on #14021
I think it should support `return ref` on `FieldInfo` directly, without `TypedReference`

I think `TypedReference` add more complexity to implementation. It make reference that would need to be fixed can be passed around. While `return ref` are compatible with dotnet behaviour

[code]

Also, `GetMethod` should be able to use by cast it into generic delegate that can be used with ref object

[code]

[2017-01-13 03:33] SedarG opened #15152 "Move System.Threading.Tasks implementation down to CoreLib"
see https://github.com/dotnet/corefx/pull/15137#discussion_r95915839

[2017-01-13 03:37] DustinCampbell commented on #9012
What's the plan to address this? We just discovered that this package slipped into the desktop C# compiler causing it to no longer run on Mono.

cc @jaredpar

[2017-01-13 03:39] #10823 closed

[2017-01-13 03:39] #10842 closed

[2017-01-13 03:45] bartonjs commented on #15118
Arch must have compiled it without SSLv3 (old) support, but the distro we actually compiled that native asset for did have it.

Recompiling the native libraries for arch should fix the problem, but that's a DIY thing.

[2017-01-13 04:16] gulshan commented on #15135
Will the "assembly level trimming" be included within 2.0 release timeframe?

[2017-01-13 04:16] #15047 closed

[2017-01-13 04:19] shmao opened #15154 "Refactor Files under Common/src/System/CodeDom"
Refactor the files under src/Common/src/System/CodeDom and remove the ifdefs in the files. See the following comments copied from https://github.com/dotnet/corefx/pull/15054 for more details:

[2017-01-13 04:19] jkotas commented on #14021
The implementation that returns TypedReference is more efficient and more powerful.

It is more efficient because of it does not suffer generic from generic code bloat.

It is more powerful because of you can easily add a strong typed generic convenience wrapper extension method around it that just returns ref (this wrapper can be part of the API proposal too); but the other direction is not possi

[2017-01-13 04:25] jkotas commented on #14021
There are existing methods that do that like `Delegate.CreateDelegate(Type type, Object firstArgument, MethodInfo method)`. If you wish to have more convenient wrappers around them, it would be best to split it into a separate API proposal issue.

[2017-01-13 04:50] Thaina commented on #14021
@jkotas You are right that it more powerful, which, at the same time, overkill. It not safe to pass `TypedReference` around. And `TypedReference` is hard to have it implement everywhere while `return ref` is more promising to be standard

as you say

So I want to trade off here. We can live with generic in the most case

[2017-01-13 04:53] Thaina commented on #14021
Also with `Delegate.CreateDelegate` the returned delegate does not work with mutable struct (without boxing?). So I propose something to make it work

The point here is to avoid bringing back `TypedReference`. Which I think generic is satisfied what we need and it make code always be strong type

[2017-01-13 05:14] jkotas commented on #14021
TypedReference is coming back for other reasons. It is used in non-trivial percentage of .NET libraries. See https://github.com/dotnet/standard/issues/20.

[2017-01-13 05:17] jkotas commented on #14021
There is nothing inherently unsafe about it. The safety rules for TypedReference are exactly same as the rules for other `ref` and byref-like types.

[2017-01-13 05:58] Thaina commented on #14021
@jkotas any `ref T` is syntactically error in `async` and lambda expression/function callback. Was the `TypedReference` get the same behaviour in compile time?

I mean

[code]

is it the same for

[code]

[2017-01-13 06:02] Thaina commented on #14021
I quite suspect that most of those could be replace with `ref return` if we could. To support old code is ok. but I don't think we need to use it anymore

Bringing it back I said is misused, I was actually mean not encourage to using it more in the future. It fine to have it support like `volatile`. But should not use it to implement the new reflection

[2017-01-13 06:14] jkotas commented on #14021
TypedReference was in .NET since forever. byref-like type safety rules has been always enforced for it by the C# compiler. You example works as expected today - there is no extra work required to make it work.

[2017-01-13 06:23] jkotas commented on #14021
It is not possible to build things like good high fidelity IL interpreter on top of reflection without having  the TypedReference-based reflection. I think it is important that any reflection APIs give you full power. We do not need yet another partial solution.

[2017-01-13 06:29] jkotas commented on #9012
@DustinCampbell Desktop != Mono. The desktop C# compiler package is meant to run on desktop. If you run app build for desktop on Mono, your millage will vary. That's by design.

[2017-01-13 06:31] Thaina commented on #14021
@jkotas Well, that's why I propose `generic + return ref` based API. And I think it could done all of things `TypedReference` based api could do, with strong typed

Could you please guide me what `TypedReference` could do but `generic + return ref` could not?

[2017-01-13 06:32] agocke commented on #9012
@jkotas I thought the point of "netstandard" was that it would allow people to build different runtimes targeting the same standard.

If Mono is an implementation of "net46" how can it not be expected to be compatible with netstandard libraries compiled against "net46"?

[2017-01-13 06:33] davidfowl commented on #9012
That's true but this package *should* be made to work on mono. @emgarten do we have a mono TFM as yet?

[2017-01-13 06:43] jkotas commented on #9012
Yes, mono TFM is the proper "correct by construction" solution for this problem.

[2017-01-13 06:45] DustinCampbell commented on #9012
agreed -- for many things. The Microsoft.Build.Runtime package would benefit greatly from that TFM as well

[2017-01-13 06:48] agocke commented on #9012
Maybe for some things. But that abandons the notion that Mono is an alternate implementation of some/most of net46 -- which its entire purpose today.

If you abandon that design, you are leaving behind almost all of Mono's consumers.

[2017-01-13 06:49] jkotas commented on #14021
If you are building things like IL interpreter, the actual types are not known. You need a type that can store any value that can appear as method argument or on IL stack. TypedReference is such type.

[2017-01-13 07:03] emgarten commented on #9012
there is no mono TFM in NuGet currently

[2017-01-13 07:06] Thaina commented on #14021
OK, I quite get some image for the reason. So now I would like to agree with you

2 last things I concern is
1 - Is `TypedReference` box things? Could we get ref of struct without boxing/unboxing with it?
2 - Will it cls compatible in the future?

[2017-01-13 07:18] jkotas commented on #14021
1. TypedReference does not box things.
2. The CLS compliance guidelines were set 15+ years ago and have not change since then. I doubt anybody will bother with updating them. It does not really help anything.

[2017-01-13 07:25] Thaina commented on #14021
Thank you very much

[2017-01-13 07:27] Thaina commented on #14021
So actually what I should want is `ref T field = fieldInfo.GetValueDirect<T>(typedReference)` ?

[2017-01-13 07:37] denisz1 commented on #15106
@stephentoub @benaadams @karelz No code change is necessary.

My point is that if it's not documented then we are not relying on formal behavior, but on "side effects". So you could one day decide to change the behavior, and that would break our system.

For wording, I think I saw something similar in `Semaphore` or `WaitHandle`? Otherwise something really really simple... it already states what m

[2017-01-13 07:41] Jiayili1 commented on #13304
It's happening in build 20170112.01, failed test: System.IO.Tests.WaitForChangedTests/CreatedDeleted_Success(changeType: Created)

Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fdesktop~2Fcli~2F/build/20170112.01/workItem/System.IO.FileSystem.Watcher.Tests/analysis/xunit/System.IO.Tests.WaitForChangedTests~2FCreatedDeleted_Success(

[2017-01-13 07:42] Jiayili1 commented on #13304
@ianhays This issue still occur, is it still timeout?

[2017-01-13 07:46] marek-safar commented on #15112
I haven't though about copy deployment but agree it's important aspect.

Yes, we care about replacing framework assemblies with local version. As Mono is open source project anyone can build and copy fixed/improved/optimized version of system assembly to local folder and expect it to work.

[2017-01-13 08:39] xoofx commented on #15135
This change is *very much* welcome, thanks!

About the problem I ran into recently in #14730 while trying to build a local coreclr with a local corefx, how this change will affect the cross building of this two inter-dependent repo?

Typically, are we going to have a repository like [`dotnet/versions`](https://github.com/dotnet/versions) where the commit id of coreclr and corefx working together w

[2017-01-13 08:54] marek-safar opened #15156 "Purpose of net46 AclExtensions"
What's the purpose net46 AclExtension files in CoreFX repo ? They expose different API then their CoreFX/netstandard counterparts and missing quite few checks.

One example is https://github.com/dotnet/corefx/blob/296dc18f32e718280794becd8eccc67aab50251b/src/System.Threading.AccessControl/src/System/Threading/ThreadingAclExtensions.net46.cs

[2017-01-13 10:40] JonHanna commented on #15106
I think the current behaviour is pretty much entailed by what is documented—a wait for zero milliseconds is no wait—but it wouldn't hurt to have it spelled out more explicitly. As well as making it clearer, it being pointed out could be somebody's "a ha! that's what I need!" moment.

[2017-01-13 11:51] Jetski5822 commented on #15135
Guy's, come on, this whole package reduction feels like a step back.

The whole idea behind this 'new world' was an 'opt in to what you need' approach. I remember watching Taylor Mullins talk at Orchard Harvest about the whole opt in approach... yes it was K Runtime etc at the time but the philosophy remained the same till now.

The other part that was awesome was, you just upgrade a small part of

[2017-01-13 11:58] tewarid opened #15157 "Allow changing cipher suites offered in SSL/TLS handshake"
Some servers require clients to use specific suite of ciphers, that is different from the one netcore offers by default.

This is the list that netcore on Windows 10 defaults to (on my PC)
[code]

For comparison, here's the list netcore offers on OS X Sierra
[code]

Here's the cipher suites offered by .NET for Windows (TLS 1.0 is default unless different SslProtocol specified in call to Authentica

[2017-01-13 12:02] stephentoub opened #15158 "TryStartNoGCRegionNegTest test failed in CI"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release_prtest/23/consoleText
[code]

[2017-01-13 12:24] akoeplinger commented on #9012
@jkotas

That's not true, we've been shipping an implementation for that in Mono 4.6. The issue is that the System.Runtime.InteropServices.RuntimeInformation nuget package contains an implementation in the lib\net45 folder which will be copied to the app directory and since it calls into Windows APIs it'll crash on other platforms.

Mono prefers loading an assembly from the app directory, that's w

[2017-01-13 12:39] denisz1 commented on #15106
@JonHanna Maybe I'm not looking at the same docs as you, but it doesn't mention the zero case where I'm looking? Regardless, this is BCL stuff, so I agree with you that it should be "explicit".

[2017-01-13 12:47] peterwurzinger opened #15160 "Running into proxy issues with init-tools & build-managed"
Hi!

The precondition is, that I'm sitting in a cooperate network with some kind of proxy/firewall - combination dropping all traffic not routed through it. Authentication method is Windows/NTLM (i guess..?).
I cloned the repository yesterday and tried to build it but did not get far with that. In my opinion there are (as far as I can tell) two sources leading to a similar problem:

1) While execu

[2017-01-13 13:30] stevedesmond-ca commented on #15135
Would it make sense to simplify the main package by including (instead of referencing) all its libraries, while still keeping the individual library packages available (and up-to-date)? That way, we have the choice: quick and easy vs specific.

[2017-01-13 13:35] Jetski5822 commented on #15135
Yeah, that would make much more sense... Then the people who want everything opt in to everything, and the people who want to keep their applications nimble and small, can do so too.

[2017-01-13 14:12] SamuelEnglard commented on #15135
@Jetski5822 based on my understand of what @weshaggard has said, you will keep applications small. The difference is mainly two things:

1) Library developers don't specify the core assemblies they need.
2) Assembly trimming isn't done by the dev but by the tooling.

So in the end we get the small, self contained still but we don't have to manage the dependencies ourselves

[2017-01-13 14:50] #12926 closed

[2017-01-13 15:00] jkotas commented on #9012
Agree. I should have been more specific - Mono has not caught up yet with how System.Runtime.InteropServices.RuntimeInformation and similar OOB packages are deployed in desktop apps.

[2017-01-13 15:13] akoeplinger commented on #15112
An idea we had for a more long-term solution would be adding a new (internal) attribute to an assembly, e.g. `PreferMonoInboxVersion`. It would be similar to the existing `ReferenceAssembly` attribute where the runtime will skip loading it.

Adding this to each CoreFX package which only supports Windows/.NET Framework should be trivial and it could simply be removed down the line if a package swit

[2017-01-13 15:20] stephentoub commented on #15096
There are some subtle differences.  I'm not sure if there's spelled out anywhere in docs; @davidsh would know.

[2017-01-13 15:48] karelz commented on #15106
Can you guys each please link docs you're looking at? Ideally also suggest the wording change.
It will be easier to discuss it from there ...

[2017-01-13 16:55] tarekgh commented on #13250
we have disabled the whole System.Private.Uri tests on desktop and tracking it to enable it back throw the issue #15145 so closing this one here.

[2017-01-13 16:55] #13250 closed

[2017-01-13 17:00] karelz commented on #15156
@kouvel can you please chime in?
It seems that net46 tries to be fully compatible with Desktop behavior (likely also on Mono), but in .NET Core we do not want the implementation in corlib, we want to keep it in CoreFX. I may be wrong ...

[2017-01-13 17:02] karelz commented on #15158
cc @swgillespie

[2017-01-13 17:03] karelz commented on #15160
@mellinoe @weshaggard any idea?

[2017-01-13 17:04] karelz commented on #15154
@shmao please copy the reason from the comment in the PR - it is very hard to follow these links, especially after some time. Thanks!

[2017-01-13 17:17] denisz1 commented on #15106
[For `Semaphore`](https://msdn.microsoft.com/en-us/library/cc190477(v=vs.110).aspx#Remarks) it says: *If timeout is zero, the method does not block. It tests the state of the wait handle and returns immediately.*

[For `SemaphoreSlim.WaitAsync`](https://msdn.microsoft.com/en-us/library/hh462740(v=vs.110).aspx#Syntax) and [`SemaphoreSlim.Wait`](https://msdn.microsoft.com/en-us/library/dd289488(v=vs

[2017-01-13 17:24] weshaggard commented on #15135
@gulshan I'm not sure if it is fully committed in this timeframe or not. I will try to find out.

@xoofx that scenario will become a lot easier now that we will have a flat runtime folder as part of the output. We are also working on other work that will make building the full .NET Core stack from source easier, that means orchestrating all the various different repo builds from one place. That is

[2017-01-13 17:34] shmao commented on #15154
Sure. I edited the issue description.

[2017-01-13 17:34] stevedesmond-ca commented on #15135
Thanks, that makes sense -- I didn't really have an idea of how coupled the various CoreFX libraries were, so if the best atomic unit size is all of CoreFX, then I'm all for it!

[2017-01-13 17:35] weshaggard commented on #15160
These both sound like good things for us to fix. Init-tools could be fixed in the repo and the VerifyDependencies needs to be fixed in our BuildTools repo.

[2017-01-13 17:42] karelz commented on #15154
Thank you!

[2017-01-13 17:49] xoofx commented on #15135
@stevedesmond-ca  just computed the graph dependency of corefx libs: ![dotnet-corefx-dependencies](https://cloud.githubusercontent.com/assets/715038/21939565/a232eeaa-d9c0-11e6-8298-e27d641eed3e.png)

[2017-01-13 18:05] ianhays commented on #14519
The **NegotiateStream_StreamToStream_KerberosAuthDefaultCredentials_Success** test is failing intermittently on Outerloop runs of RHEL7.2 Debug and Release. In the past 3 weeks it has failed 5 times with the following errors:
[code]

It is the only NegotiateStream test to fail consistently with these errors which suggests to me that the issue is with either the test or the code, and not [the testi

[2017-01-13 18:06] ianhays commented on #14519
related: [NegotiateStream_StreamToStream_AuthToHttpTarget_Success test failing on RHEL ](https://github.com/dotnet/corefx/issues/7707)

[2017-01-13 18:10] ianhays commented on #14519
**NegotiateStream_EchoServer_ClientWriteRead_Successive_Sync_Success** appears to also be failing very seldom (twice since December 1st) on RHEL Release Outerloop with the Success error:

[code]

The only other test to fail with this same inner exception is **NegotiateStream_StreamToStream_AuthToHttpTarget_Success** which failed in a different run.

[2017-01-13 18:13] ianhays commented on #14519
Those are the only three NegotiateStream tests that are failing consistently enough for me to get console output for them. If we disable any tests for stability on RHEL, it should be these three and no others.

[2017-01-13 18:30] karelz commented on #15106
I personally prefer the original wording - IMO it is clearer. I had to think about what does it mean "semaphore is unavailable" ... it sounds like "handle is closed" or something.

I am curious if [`WaitAsync(0)`](https://msdn.microsoft.com/en-us/library/hh462740(v=vs.110).aspx#Syntax) call basically makes the call asynchronous. Is it worth calling out? (more for clarification and explanation what

[2017-01-13 18:35] stephentoub commented on #15106
See the first sentence of my first reply above.

[2017-01-13 18:43] weshaggard opened #15166 "Building and running tests not working in VS"
@karajas it would appear after our changes building and running tests in VS isn't working. At least not for System.Threading.Tasks.Extensions.Tests.

[2017-01-13 18:49] marek-safar commented on #15156
The implementation is in mscorlib but the public API this new type exposes is different for net46 and netstandard. Secondly the implementation is worse in net46 as it crashes with NRE on null arguments value.

[2017-01-13 18:54] weshaggard commented on #15156
The reason for the extensions was because we didn't have the ACL APIs on the core types as ACLs aren't part of .NET Standard. So we provided some extension methods to fill the gaps in scenarios so folks could still use ACLs but on top of the core assemblies instead of requiring them in the core assembly. These extensions for net46 should just call the inbox APIs in mscorlib.

[2017-01-13 18:58] karelz commented on #15106
Ah, missed that. And I see that you already looped in @mairaw ... thanks!

[2017-01-13 18:58] marek-safar commented on #15156
Right but why net46 API is not using `this` even if the type is called Extension and it's not doing any arguments checks ?

[2017-01-13 19:02] weshaggard commented on #15156
That is a good question. It should probably be using this and in that case it shouldn't be doing argument checking.

[2017-01-13 19:12] stephentoub commented on #15150
Does this issue supersede https://github.com/dotnet/corefx/issues/3187?

[2017-01-13 19:12] karelz commented on #14160
@tarekgh can you please summarize the final API in the top post? (here's typically used [template](https://github.com/dotnet/corefx/issues/271))
BTW: I don't see class/namespace. Motivation/example would help as well.

[2017-01-13 19:20] karelz commented on #15150
If this one can be done, it might remove the need for #3187 entirely, or it might need it as pre-req.

[2017-01-13 19:21] stephentoub opened #15167 "Unable to rebuildandtest a test project after build.cmd"
From the root of my repo, I do:
[code]
Everything works fine until that last step.  When I try to do the msbuild /t:rebuildandtest, it fails while trying to start running the tests.  I'm forced to do a build-tests.cmd first and then this works.

cc: @weshaggard, @karajas

[2017-01-13 19:23] terrajobst commented on #15040
We know that Xamarin has excluded configuration to help with AOT. It seems the current design is:

1. `System.Configuration.ConfigurationManager` depends on a large number of assemblies.
2. We don't plan on depending `System.Configuration.ConfigurationManager` in .NET Core, we purely provide it for consumers

That seems fine. That simply means that customers who depend on it might not get a very t

[2017-01-13 19:24] stephentoub opened #15168 "Need easier way to find out where dotnet host is"
Today I very frequently cd into the test execution directory and use corerun from that directory to run xunit.console.netcore.exe and the tests library. With the changes in dev/eng, the test folder no longer contains corerun or any other host, which means I need to know where the host is I should use to achieve the same thing.  How do I do this?

cc: @weshaggard, @karajas

[2017-01-13 19:41] tarekgh commented on #14160
@steentottrup I have moved your first comment to the next one and updated the first comment with the proposal.

@karelz please let me know if you have any other asks.

thanks

[2017-01-13 19:43] terrajobst commented on #14724
What's the behavior of `Unload`?

* Presumbaly, `Unload` will throw an exception if the context isn't collectible. In that case it seems a bit odd that we use both "collectible" and "unload". We should probably use one terminology.
* Or does `Unload` work for any context and simply result in disallowing future loads?

[2017-01-13 19:47] karajas commented on #15167
At the moment, this is because I added the dotnet test host as a pre test traversal build step. I can look into making it a post product build step. Does this make more sense?

[2017-01-13 19:50] karajas commented on #15168
Currently the host is installed in Tools/testdotnetcli (defined in dir.props) so hopefully the idea is whenever you want a version of the host you have it in the Tools directory (either the one used to restore and the one to test) . Do you think it makes sense to have a "where host" command in the run tool or something similar? The RunTests.cmd command prints out where the host is when run.

[2017-01-13 19:51] karajas commented on #15166
The VS PR hasn't gone in, will push on this.

[2017-01-13 19:52] terrajobst commented on #14387
We concluded that @stephentoub will take a look whether we can actually implement these APIs without holding references for too long. If we can, the API seem fine as proposed.

[2017-01-13 19:56] terrajobst commented on #14337
Assuming the behavior is the same as calling the existing APIs with a an array of size one, these APIs look  good as proposed.

[2017-01-13 19:56] weshaggard commented on #15167
I think I would like the dotnetclitest setup to happen as part of the external directory build after we get the host, and add the hard-link to the runtime folder. Then as a prestep to running any test generate the deps file.

[2017-01-13 19:57] xoofx commented on #14724
Currently, the behavior is to throw an exception if the ALC is not collectible. Do you think of using something like `Collect()`? (with the associating event `Collecting` - which would break the current `Unloading` event introduced).

We could also use the `IDisposable` pattern instead (I'm not a particular supporter of the Unload API actually) and keep the `Unloading` event as it is, but still th

[2017-01-13 20:03] jkotas commented on #14724
Unloadability will always have runtime overhead. It is important that folks pay this overhead only if they need it.

[2017-01-13 20:03] terrajobst commented on #11555
We concluded that `Comparer<T>` isn't good type, along the line of thinking you guys already had:

1. Forces to pass in a `T`
2. Cannot constrain `T` to be `IComparable<T>`, thus means implementation to call the general `Compare` method, which isn't going to be user fast.

We shouldn't add a new type. From the existing ones, it seems `System.Math` makes indeed the most sense.

[2017-01-13 20:15] xoofx commented on #14724
Never looked exactly but while checking this, Is it mainly related to the empty `CGCDescSeries *pSeries`  that are inserted in the code? (attached to `FEATURE_COLLECTIBLE_TYPES`)... looks like indeed the overhead should be avoided then...

[2017-01-13 20:46] joperezr commented on #14591
this is done now.

[2017-01-13 20:46] #14591 closed

[2017-01-13 20:48] joperezr commented on #15092
Along with this, we should also remove the current workarounds that we have in place on build.sh and sync.sh that are working around an issue of assembly loading by building the CoreFx.Tools task library as a pre-step. Once this are moved to buildtools on this issue, we should clean up that code from both build.sh and sync.sh

[2017-01-13 21:24] NickCraver opened #15173 "Add a static property Regex.DefaultRegexMatchTimeout to configure default timeouts globally"
`System.Text.RegularExpressions.Regex` has [a `.MatchTimeout` property](https://msdn.microsoft.com/en-us/library/system.text.regularexpressions.regex.matchtimeout(v=vs.110).aspx), but there has never been a good way to configure this **globally**. It's always been a very roundabout way (which AFAIK has been removed in .NET Core). Previously, you'd do this:
[code]

Or in ASP.NET:
[code]

Otherwise,

[2017-01-13 21:28] TerisseNicolas commented on #15002
Hello back!
I dug I little bit the case and I found something interesting and very strange: An error is raising depending of the order of execution. This example shows that when I run my application with a random argument, the application works well, however, with the bug parameter, the application crashes. Is that an issue or am I missing something? Only the order of execution changes..

Thank a

[2017-01-13 21:31] weshaggard commented on #14591
https://github.com/dotnet/corefx/pull/15165

[2017-01-13 21:39] terrajobst commented on #15173
@weshaggard, given the `AppDomain` type is coming back the .NET Framework way:

[code]

should still work.

@NickCraver @blowdart assuming that's true, would do you still think the global property is useful? Personally, I think it would be good to have the property and implement by reading/storing the the `AppDomain` data for consistency. However, I think we can agree that if the global time out p

[2017-01-13 21:39] shmao commented on #10714
@joperezr Has this been done? Can we close this issue?

[2017-01-13 21:40] blowdart commented on #15173
Well you'd still have to wire it in. But that app domain setting was so poorly documented and hard to find. A property would at least expose this better.

[2017-01-13 21:42] shmao commented on #10579
Thanks for confirming this, @huanwu . Closing the issue.

[2017-01-13 21:42] #10579 closed

[2017-01-13 21:42] NickCraver commented on #15173
Agreed on something more intuitive and discoverable being available. The lack of people setting this easily takes down production systems. Given the nature of what it prevents, it should be something as easy to access as possible.

[2017-01-13 21:43] shmao commented on #13191
This was fixed by #14952 .

[2017-01-13 21:43] #13191 closed

[2017-01-13 21:49] craigajohnson commented on #15135
I should know the answer to this but does Roslyn take a dependency on .NET Core, such as Roslyn using .NET Core to build itself which is then used to build future versions of .NET Core?

[2017-01-13 21:51] saurabh500 commented on #8701
@natemcmaster Is this still an issue?
I see this working quite well on Ubuntu. I am using .Net Core 1.1 tooling
I have tried the execution with SqlClient 4.1.0 and 4.3.0.
The execution is very quick.

[2017-01-13 22:08] joperezr commented on #10714
the only thing that couldn't be done yet is to remove the workaround in ObjectManager.cs. We couldn't find an easy and clean way for removing those extension methods from there without having to expose them to the public on coreclr, so that is why this issue is not yet fully done, but I'm not sure it can actually be done without a major refactoring so we might end up keeping it as is.

[2017-01-13 22:09] natemcmaster commented on #8701
cc @ajcvickers have you seen this since RC2? This might have been mitigated by a Entity Framework Core change: https://github.com/aspnet/EntityFramework/pull/6023

[2017-01-13 22:10] jcouv opened #15175 "Desktop targeting pack: Add ValueTuple type forward to mscorlib for Desktop"
From discussion with Wes, once the first version of desktop with ValueTuple ships, the targeting pack for that framework needs to be updated with those bits and a typeforward can be added for that target group (I'm not sure the exact string/moniker that will be).

[2017-01-13 22:11] jcouv opened #15176 "Add ValueTuple type forward to CoreRT"
ValueTuple was implemented in CoreRT. ~~Once it ships (I'm not sure which release or timeframe that will be),~~ The corefx package will need to type forward to CoreRT.

FYI @jkotas

[2017-01-13 22:11] saurabh500 commented on #8701
The repro in archive.zip has nothing to do with  EF

[2017-01-13 22:15] natemcmaster commented on #8701
Right. We discovered the issue from EF Core testing. The EF team would know better if this continues to be an issue, but I haven't worked on EF for 6 months.

[2017-01-13 22:26] saurabh500 commented on #8701
Thanks @natemcmaster

I am closing this issue based on the results that we have today.

[2017-01-13 22:26] #8701 closed

[2017-01-13 23:58] weshaggard commented on #15173
I agree we probably should have a public property for this setting.

[2017-01-14 00:03] Sobiru commented on #8907
Has this option been added yet? I've created a new ASP.NET Core Web Application but I can't use the `ResourceManager.GetResourceSet` command.

[2017-01-14 00:08] ellismg opened #15184 "build-native.[cmd|sh] should not depend on the "run" tool"
We should remove build-native's dependency on `run.exe`.  The rationale is that run requires managed code but there are lot of scinerios where we need to build the native components without being able to run managed code (platform bring-up is one case).

In general, we need to be able to build native code without invoking managed code and the use of the run tool in build-native is an impediment to

[2017-01-14 00:14] ellismg commented on #15184
/cc @weshaggard @chcosta

A possible workaround today is to invoke `src/Native/build-native.sh` directly.  I would like to get all repositories that produce native code in a world where build-native.sh from the root does the right thing and we have consistent options for things like Configuration and Architecture.

[2017-01-14 00:33] karelz commented on #14160
Thank you!

[2017-01-14 00:40] karelz commented on #15173
Any proposals for property name & which class to be on? (`AppDomain`?)

[2017-01-14 00:53] jamesqo commented on #14790
@JonHanna I also think we could do this for `Lookup<,>` too. Neither `Grouping` nor `Lookup` are lazily loaded, so there should be no risk of the debugger mutating state when it enumerates them.

[2017-01-14 00:58] weshaggard commented on #15184
This is definitely an interesting issue which I agree we need to figure out. I'm a little torn about whether or not we have two modes one that uses run and one that doesn't. I still think the usage documentation being shared with run is interesting. What if root script still used run for most cases but has a mode where if you run it on another machine with "-whatif" it will dump out the raw non-ru

[2017-01-14 01:06] cdmihai opened #15185 "File.SetLastWriteTime does not seem to work when called repeatedly"
[code]

Produces output:
[code]

I'd expect all iterations to increment the time by one hour, but only the first one seems to do so. This is happening for both Windows and OSX on `"System.IO": "4.3.0-preview1-24530-04"`

Is there some caching / throttling going on that I'm not aware of? How can I get this working in a loop?

[2017-01-14 02:21] ellismg commented on #15135
Yes.  At least when building on Unix, Roslyn uses a [toolset](https://github.com/dotnet/roslyn/blob/master/build/MSBuildToolset/project.json) based on .NET Core plus a previously built version of the compiler to bootstrap themselves, and then they rebuild using that just built compiler.

[2017-01-14 06:00] terrajobst commented on #15173
It's in the proposal 😄

[2017-01-14 14:09] #15156 closed

[2017-01-14 16:18] lafe commented on #5014
I just encountered the issue myself while connecting to the UPNP endpoint of my router (AVM Fritz!Box).
From my point of view, the framework should be able to parse such data, because "in the real world" there are imperfect implementations that we have to be able to connect to (and in this case it is not even incorrect but only frowned upon). If we can't rely on the framework to handle these imper

[2017-01-14 16:19] jkotas commented on #15184
I think we should be working towards getting rid of the run tool completely. It unnecessary complexity that makes the system hard to understand and debug.

[2017-01-14 16:30] weshaggard commented on #15184
The run tool is supposed to serve two purposes. One is to provide a common way to parse command line options so we don't have to duplicate it in all the scripts to try and maintain it. The other is to provide a way to document all the various command line options. We can debate whether or not it provides enough value for the complexity, I could live with docs for the options but I really hate seei

[2017-01-14 16:33] jkotas commented on #15184
I have been avoiding the run tool as much as I can. To give you one example, here is the first hand experience:

[code]

I do not understand why do I care that the dev workflow has change, but lets see what the command line options are:

[code]

Ok, we are on Windows. Maybe the `/?` will help?

[code]

Even once you figure out how it sort of works, it does not get better. I never does what I want.

[2017-01-14 16:39] weshaggard commented on #15184
Those are bugs which should be fixed, assuming it gets better do you feel it can add enough value or do you feel the potential for value is still too limited?

[2017-01-14 16:57] tmenier opened #15191 "Allow null HttpResponseMessage in HttpClient.SendAsync?"
I understand that making this change could quite possibly have far-reaching implications, so I guess at the very least I'd like to start a discussion and understand why it is the way it is.

Currently [`HttpClient.SendAsync`](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.cs#L392) checks that the returned `HttpResponseMessage` is not null and throws

[2017-01-14 17:05] jkotas commented on #15184
I think the value is still too limited - not enough to compensate for the extra complexity that comes with it.

[2017-01-14 17:05] mikedn commented on #15191
Any real world examples?

[2017-01-14 17:20] tmenier commented on #15191
I maintain a library that basically wraps a fluent interface around HttpClient and provides a few other goodies. One is the ability to configure error handling globally, as described [here](http://tmenier.github.io/Flurl/configuration/). A [bug](https://github.com/tmenier/Flurl/issues/159) was recently discovered that really came down to a bad assumption on my part that returning a null `HttpRespo

[2017-01-14 17:34] akoeplinger commented on #15185
`DateTime.Now + new TimeSpan(1, 0, 0))` results in the same value for all your iterations, so this seems correct to me :smile:

[2017-01-14 17:40] jamesgibbs100 opened #15194 "SqlClient / MultiSubnetFailover / Linux / 1.1.0 (Part II - Not Working)"
@corivera @saurabh500 @karelz

Gents : I am opening another issue as I cannot reopen the original : #14978

Largely, I think I spoke to soon as deploying with the port number fix into our UAT environment FAILED.

In order to help understand what was going on I captured two TCPDUMP traces as I performed a simple Open on the SqlConnection object.

One container running on HOST01 fails, whilst anothe

[2017-01-14 18:09] karelz commented on #15194
Interesting, I thought that whomever creates an issue can also reopen it if it is closed. Anyway, in future feel free to reply on closed issue and we will reopen it on your behalf ... for this particular case we can track your question / troubles in this one.

[2017-01-14 18:16] karelz commented on #15175
@weshaggard how best to track it? Which release cycle is it tied to? Desktop or .NET Core?
Does the targeting pack live in CoreFX repo or in Desktop source code base? Or is it part of .NET Standard?

[2017-01-14 18:18] saurabh500 commented on #15194
@jamesgibbs100 I have reopened the original issue.
Can you put these details in the original issue and close this one? We may not be able to  look at this issue before next week.
Also you can mail the whereabouts of the tcp dump to my GitHub email id. Does that work?

[2017-01-14 18:18] karelz commented on #15176
@weshaggard @jkotas I think it might be best to track it in CoreRT repo - tied to "next release" milestone. CoreFX repo does not have milestones for CoreRT release cycle ...
Mainly I want to make sure we don't forget.

[2017-01-14 18:27] jamesgibbs100 commented on #14978
Largely, I think I spoke to soon as deploying with the port number fix into our UAT environment FAILED.

In order to help understand what was going on I captured two TCPDUMP traces as I performed a simple Open on the SqlConnection object.

One container running on HOST01 fails, whilst another running on HOST02 succeeds.

The only difference i can see is the order in which DNS returns the primary a

[2017-01-14 18:29] karelz commented on #15184
Command line parsing can be done in scripts - yes, we will need 2 scripts (Windows & Linux), but if they are written nicely in a readable form, they are also easy to debug, understand, comprehend and improve -- way much better than some magic in a tool.
Anytime we have a black-box tool, we highly raise a bar for improvements and contributions - only folks familiar with it will be likely to fix it

[2017-01-14 18:32] karelz commented on #15185
Closing as it seems to work correctly. If we missed anything, please let us know.

[2017-01-14 18:32] #15185 closed

[2017-01-14 18:36] jamesgibbs100 commented on #15194
Not really seeing your github email id - is it just saurabh500@github.com ?

[2017-01-14 18:46] saurabh500 commented on #15194
Saurabh DOT singh AT microsoft.com

[2017-01-14 18:51] jkotas commented on #15176
Large fraction of CoreRT-related issues that needs to be fixed in corefx repo are common between ProjectN/UWP project and CoreRT project. This is one of them.

@karelz I think that we need tags to mark corefx issues specific to ProjectN/UWP, and corefx issues common to both ProjectN/UWP and CoreRT. You should assume that anything labelled CoreRT is in the common to both ProjectN/UWP and CoreRT buc

[2017-01-14 18:54] #15194 closed

[2017-01-14 19:11] karelz commented on #15176
We have uwp tag "os-windows-uwp". If we don't expect tons of CoreRT-only issues, I would suggest to use just that.
Once we have schedule & milestone in CoreFX repo for UWP .NET Standard 2.0, we can move all "os-windows-uwp" issues into that milestone (or at least triage them from that perspective).

Another option is to create more labels / milestones and explain it to everyone - which IMO creates

[2017-01-14 19:14] jnm2 commented on #14021
The ability to assign to a field reference obtained via reflection with equal performance to setting a field directly would be amazing. I could stop emitting IL for this.

[2017-01-14 19:16] karelz commented on #15194
BTW: @saurabh500 you can update your GitHub profile to make your email public for cases like this ;-) (see my profile for example)

[2017-01-14 19:18] karelz commented on #15135
FYI: dev/eng branch RI'd yesterday (#15165) and we restarted merging PRs again.

BTW: Mon is MS holiday, so if there is any fall out, it may need to wait for Tue to get the right attention from folks who understand all the new infra.
Kudos to the folks who made it happen - @weshaggard @ericstj @mellinoe @joperezr @chcosta @karajas.

[2017-01-14 19:26] saurabh500 commented on #15194
@karelz I did that after James told me he can't see my email . :) Thank you.

[2017-01-14 19:32] jkotas commented on #15176
So the issue is tagged with `os-windows-uwp` that the code referrers to it as `UAP`, but it is really `corert`. Reminds me of [this joke](http://www.nejvtipy.cz/dva-policajti-zastavi-ridice-nakladniho-vozu_vt4115&skup=vtipy-o-policajtech) :-)

More seriously: I think we need a label for CoreRT so that you do not have to use full text search to look for it that never works too well: https://github.

[2017-01-14 19:33] karelz commented on #5014
@lafe just to clarify if I fully understood your reply:
I think we are all on the same page - as @CIPop says above, we agree and support code changes that make CoreFX code conform with RFC spec. That's why the issue is marked as "up for grabs" (anyone can grab it).

[2017-01-14 19:36] karelz commented on #15176
I am not against creating another label, if it brings value and if it can be easily and naturally explained to everyone :) (CoreRT vs. ProjectN/UWP is still a mystery to many ;-))
Let's chat and find out what is best.

[2017-01-14 19:48] karelz commented on #15173
Hmm, bad skimming on my side, sorry :)

[2017-01-14 20:33] jkotas commented on #15176
The rules should be:

- Does this issue affect Windows store apps? Use the existing os-windows-uwp label.
- Does this issue affect Console apps built using github.com/dotnet/corert/ toolchain? Use the new CoreRT label, potentially in combination with existing OS labels if it is OS specific.
- Does it affect both? Use both labels.

https://github.com/dotnet/corert/blob/master/Documentation/intro-to

[2017-01-15 00:39] davidsh commented on #15191
It is a fundamental design principle that the handler's SendAsync() method for HttpClient always return a non-null HttpResponseMessage.  That design is part of the original design for HttpClient when we built the API for .NET 4.5.  It would be a breaking change to alter that principle.

[2017-01-15 01:26] davidfowl commented on #14203
@kierenj because you're using a package that pulls in one of these packages most likely. What packages do you reference in project.json?

[2017-01-15 07:22] polarapfel opened #15201 "System.IO.FileAttributes are Windows specific"
There is no way to retrieve POSIX file attributes on Linux via anything in System.IO. System.IO.FileAttributes only has enumerations for Windows specific file attributes.

[2017-01-15 09:05] yaakov-h opened #15202 "Failing unit tests in clean macOS development environment"
I've followed the instructions outlined [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md), and after running `./build-tests.sh`, two unit tests failed:

[code]

[code]

This occurred on macOS 10.12.2 (16C67).

[2017-01-15 13:34] aliveli186 opened #15206 "System.Net.Http.HttpRequestException: Error while copying content to a stream."
The application is a ClickOnce application. When I run it from it's ClickOnce installer the one which checks for updates first and then starts the application I receive "Error while copying content to a stream." error.

But, when I run the application manually from it's installed folder it runs without any error.

Referenced DLL: System.Net.Http\4.3.0\lib\net46\System.Net.Http.dll

[code]

[2017-01-15 15:04] Vicher opened #15208 "How to specify network adapter which HttpClient must use?"
At .NET Framework it can be done by HttpWebRequest.ServicePoint.BindIPEndPointDelegate.

Can't find anything about that. It's currently impossible?

[2017-01-15 15:10] #13915 closed

[2017-01-15 16:23] davidsh commented on #15208
This is not possible in either .NET Framework or .NET Core implementations of `HttpWebRequest`.

And, FYI, `ServicePoint.BindIPEndPointDelegate` is not implemented in .NET Core. It is only implemented in .NET Framework.

[2017-01-15 16:27] davidsh commented on #15206
Since the question is about a ClickOnce application, I'm assuming this issue is about .NET Framework and not .NET Core.

.NET Framework bugs are not generally tracked in this repo.  They are usually tracked in Connect:
https://connect.microsoft.com/visualstudio

Looking at the call stack, it will be difficult to diagnose this without a repro application.  The exception being generated looks like s

[2017-01-15 16:38] Vicher commented on #15208
Any plans to add this feature?

[2017-01-15 18:38] davidsh commented on #15208
There are no plans to add this.  it would be difficult since it would require changes to various OS layer stacks to provide enumeration of adapters as well as APIs to pass a specific adapter down to the TCP connection logic of various HTTP stacks.

[2017-01-15 18:59] ryantrem commented on #7580
Couple of comments on this:

1. One problem with having overloads for more specific types (e.g. IReadOnlyList<T> and IList<T>) is that this becomes "infectious" for anything built on top of it. For example, say we have ElementAt(IEnumerable<T>), ElementAt(IList<T>), and ElementAt(IReadOnlyList<T>), and now on top of this I want to build a Median extension method. Well, I now have to implement thre

[2017-01-15 19:01] deinok opened #15209 "Add Cookie Property to System.Net.Http.Headers"
Add a Cookie property at System.Net.Http.Headers.HttpRequestHeaders
Add a Set-Cookie property at System.Net.Http.Headers.HttpResponseHeaders

This will help the access of the Cookies and its manipulation. For example

`responseHeader.Set-Cookie.Add(new Cookie("nameCookie","valueCookie"))`

[2017-01-15 19:43] nietras commented on #14189
Closed via https://github.com/dotnet/corefx/issues/14396

[2017-01-15 19:43] #14189 closed

[2017-01-15 21:27] aliveli186 commented on #15206
On Fiddler there is no error.
The request is sent and received perfectly fine without error.

The application itself is ClickOnce but the code where the exception is thrown is a .net core dll referenced by the ClickOnce application.

[2017-01-15 22:04] davidsh commented on #15206
If the repro changes due to adding Fiddler to the mix, it means that using a proxy (which is what Fiddler is really) changes the repro scenario.

Since Fiddler interferes with the repro scenario, you should probably use WireShark to capture traces.  Looking at the success and failures traces would help narrow down the problem.

[2017-01-15 22:08] davidsh commented on #15209
We have had this request before.  The object model for cookies with HttpClient is to use the CookieContainer object.

While there is an object model for `Cookie` itself, it doesn't map the same to the request header 'Cookie' vs. the response header 'Set-Cookie'.

The ASP.NET WebAPI team has looked at this before in their version of the Web APIs.  If you would like to propose a set of new APIs, you

[2017-01-15 22:16] davidsh commented on #15209
Ref: Issue #1611 for previous discussion on this.

See API proposal/review process:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-01-15 22:20] aliveli186 commented on #15206
No fiddler doesn't change anything.
Without fiddler I get the exception, with fiddler I still get the exception but from Fiddler I see the data is sent and received perfectly.
Something causes a CancellationToken to be disposed somewhere while ReadStringAsync is working. (CancellationTokenSource.ThrowObjectDisposedException())

[2017-01-15 23:16] deinok commented on #15209
In the issue you are referencing, you wrote:
"By the way, aren't the raw response headers (strings) already available in the HttpResponseMessage.Headers? If so, it sounds like the requirement is to have a strongly typed object model for the 'Set-Cookie' header itself."
That's exacly what im asking.

I have checked the source code of `HttpRequestHeaders` and `HttpResponseHeaders` and seems like all

[2017-01-16 05:31] hseok-oh opened #15215 "[ARM32/Linux] Cross build failure - managed build"
After merging engineering changes (#15135), cross build fails in managed code build for ARM (targetting for nuget packaging)

1. follow guideline for arm crossbuild (https://github.com/dotnet/corefx/blob/master/Documentation/building/cross-building.md)

[code]
error in managed build
[code]
Need to build CoreFX.Tools (like `build.sh`)

2. try x64 build, and follow guideline for arm crossbuild
canno

[2017-01-16 05:48] hqueue commented on #15215
@gkhanna79 Is this related to E2E pipeline build of CoreCLR and Core-Setup ?

[2017-01-16 12:55] kapsiR opened #15217 "Add Argon2 support to System.Security.Cryptography"
Are there any plans to support the PHC-winner Argon2? (https://github.com/p-h-c/phc-winner-argon2)
Also mentioned in #7127

[2017-01-16 13:36] TiagoSoczek commented on #14173
Invitation accepted @karelz, thanks. I'll work on it.

[2017-01-16 14:18] stephentoub opened #15219 "corefx not using coreclr version defined in dependencies.props"
As of my opening this issue, the dependencies.props file specifies:
[code]
but tests are being run using an older CoreCLR, version beta-24904-03.  This means we're not picking up changes from coreclr, and the auto-updates being generated aren't having the desired effect.
cc: @weshaggard

[2017-01-16 14:38] ericstj opened #15220 "Don't copy files just for packaging"
I suspect this is due to the binplacing behavior.  /cc @weshaggard @chcosta @mellinoe

[2017-01-16 15:07] deinok commented on #15209
Also, HttpHeader should implement IDictionary<string,IEnumerable<string>>
That will adding headers that dont have a property
`requestHeader["API-HEADER"]="myApiKey"`

[2017-01-16 15:52] miikkaa commented on #9158
Had the same issue. Had to provide the explicit `4.3.0` version for `System.Text` in `project.json`:

[code]

And then registered the provider in `Startup.cs` ([as suggested on StackOverflow](http://stackoverflow.com/a/33579717/186787)):

`Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);`

[2017-01-16 16:00] tmds commented on #1745
It works because it avoids the ambiguity for paths that start with //.
It looks like the .NET Core `Path` class also only supports Unc/Dos paths on Windows and not on Linux.

[2017-01-16 16:01] chcosta commented on #15220
I agree, I believe this is because we are binplacing binaries to various locations for consumption (like bin\(TargetFramework)\pkg). We first binplace binaries from a source location, then we sign the files in that source location, so we never get the signed binaries.

[2017-01-16 16:35] JeffreySax commented on #6308
@varocarbas Your enthusiasm is commendable.

I actually have written a full set of math functions for [`decimal`](www.extremeoptimization.com/Documentation/Reference/Extreme.Mathematics.DecimalMath.aspx) as well as a [standard IEEE quad precision type](www.extremeoptimization.com/Documentation/Reference/Extreme.Mathematics.Quad.aspx).

Producing accurate results is hard. Producing them fast is eve

[2017-01-16 16:42] jorgemota commented on #15118
I am having the same issue, this was working a on november.. and now got this
`/opt/dotnet/dotnet: relocation error: /opt/dotnet/shared/Microsoft.NETCore.App/1.1.0/System.Security.Cryptography.Native.OpenSsl.so: symbol SSLv3_method, version OPENSSL_1.0.0 not defined in file libssl.so.1.0.0 with link time reference
`

Only occurs when connecting to sql server (latest version on linux, and SQL Serve

[2017-01-16 17:01] jorgemota commented on #15118
I got this working again.. but I am not sure of problems with my solutions:
downloaded this file to some folder (/tmp/sslv3)
https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/openssl&id=4b82ed4285c7cb76caf6d75a015c5a7542c625d1

downloaded this 3 files
https://git.archlinux.org/svntogit/packages.git/plain/trunk/ca-dir.patch?h=packages/openssl&id=4b82ed4285c7cb76caf6d75a

[2017-01-16 17:05] jorgemota commented on #15118
If someone want the latest version of openssl can try downloading all files from:
https://git.archlinux.org/svntogit/packages.git/tree/trunk?h=packages/openssl
and  remove from PKGBUILD this
no-ssl3-method

[2017-01-16 17:06] varocarbas commented on #6308
@JeffreySax Thanks for the comment.

I took a quick look at your site (BTW, you should fix the links in your post) and it looks nice. Certainly much more comprehensive than what I intended to do (i.e., originally just a parsing library; the decimal-based calculations came later).

Fully agree on that. In fact, producing both accurate and fast results might be almost impossible in some cases. My li

[2017-01-16 17:28] varocarbas commented on #6308
@JeffreySax Actually, you are right. There is no problem in relying on double for the initial guess (the subsequent simplification in your code isn't applicable to my case)!

By being completely puristic, it wouldn't be building everything from scratch in `decimal`, but the associated speed improvement might be enough to forget about this issue! I might implement your suggestion in my library, tha

[2017-01-16 17:53] varocarbas commented on #6308
@JeffreySax  After some quick tests, it doesn't look as good as I was expecting. It is faster, but not much faster. Not enough to create a new version and kind-of-break the general statement of "everything done exclusively in `decimal`".

Additionally, bear in mind that `Sqrt` isn't precisely the biggest deal, but `Pow`. Unfortunately, `System.Math` doesn't have a method to calculate the n root an

[2017-01-16 20:31] weshaggard commented on #15175
If this is about adding the facade into the desktop targeting pack that that ships from the internal desktop builds. If this is about adding the facade the the ValueTuple package then that ships from corefx.

[2017-01-16 20:37] weshaggard commented on #15184
I think that is fair and we should consider our options. @MattGal @markwilkie can you guys take that feedback and see what our best options are?

I would completely agree with you if it were only 2 scripts however it is many more than 2. Every script that we had duplicated a bunch of logic that was constantly outdated and redundant and needed to be updated in many files.

The duplication on all th

[2017-01-16 21:00] rodchenkov commented on #14488
Can you please confirm that in next release ExcludeFromCodeCoverageAttribute will be available for any developer?

Here in documentation https://msdn.microsoft.com/en-us/library/jj159530.aspx I can see that ^System\.Diagnostics\.CodeAnalysis.ExcludeFromCodeCoverageAttribute$ is used for ignore in code coverage but I can use it as it is marked as sealed.

Thank you!

[2017-01-16 21:07] jkotas commented on #15184
You can solve this problem by moving the common part into a helper script. Check how it is done in CoreRT: https://github.com/dotnet/corert/blob/master/buildscripts/buildvars-setup.sh

[2017-01-16 21:46] PawelGerr opened #15224 "WinHttpHandler throws "Could not load file or assembly 'System.IO.Compression'""
WinHttpHandler throws an error when using it in xproj targeting net46. Other constellations like targetting netcoreapp or having a csproj work fine.

## Error
[code]

## Repro

### project.json
[code]

### Program.cs
[code]

[2017-01-16 21:47] terrajobst commented on #14724
To me "unload" assumes a user-initiated action. "Collection" implies and automated clean-up. We should be consistent with out nomenclature. If we call the feature "collectible load context" having an "Unload" that shows up on all load context but will only work when it's collectible load context seems surprising.

[2017-01-16 22:31] geoffkizer commented on #4900
implemented in #15141

[2017-01-16 22:31] #4900 closed

[2017-01-16 23:31] ericstj commented on #15220
I was thinking it might make more sense rather than to binplace just to write a file list.  We don't actually need the package layout as real files.  That would let us transfer more state, like the source files needed for the symbol packages.

[2017-01-17 00:16] JonHanna commented on #14488
@rodchenkov in the meantime, you can use a different script to match a different attribute or with the common match of `*.ExcludeFromCodeCoverage*` just create your own with a matching name.

[2017-01-17 00:52] geoffkizer opened #15226 "System.Security.Principal.Windows.Tests failing"
Result from my dev machine:

[code]

[2017-01-17 00:53] geoffkizer commented on #15226
`<?xml version="1.0" encoding="utf-8"?>
<assemblies>
  <assembly name="System.Security.Principal.Windows.Tests.dll" environment="64-bit .NET (unknown version) [collection-per-class, parallel (8 threads)]" test-framework="xUnit.net 2.2.0.3300" run-date="2017-01-16" run-time="16:47:05" total="6" passed="3" failed="3" skipped="0" time="0.341" errors="0">
    <errors />
    <collection total="1" passe

[2017-01-17 00:58] geoffkizer opened #15227 "can't build System.Net.Sockets.Tests locally"
(1) Go to src\System.Net.Sockets\tests\FunctionalTests
(2) msbuild

Result:
[code]

[2017-01-17 00:58] geoffkizer commented on #15227
@weshaggard I'm guessing this is due to the build changes.

[2017-01-17 00:59] geoffkizer commented on #15227
btw, I did "build" and "build-tests" from the root before doing this.  if there's something else i need to do, let me know.

[2017-01-17 01:21] terrajobst opened #15229 "Make ValueTuple* binary serializable"
We generally don’t want to add more types to be binary serializable in the framework, due to complexities and the fragility that it causes across version boundaries (remember that binary serialization has to be backward- and forward compatible). That being said, for `ValueTuple` we can likely convince ourselves that the serialization behavior is fixed and mostly a function of the types you instant

[2017-01-17 08:07] xoofx commented on #14724
What about a new `CollectibleAssemblyLoadContext` instead?

[2017-01-17 09:22] tmds opened #15234 "On Linux Win32Exception thrown by Process have incorrect error number"
`Process.Unix.cs` calls:
[code]
which are implemented as
[code]
These functions return -1 on error. They should return errno:
[code]

[2017-01-17 10:03] magol commented on #10908
If I get a flag enum value from a external API with flags that I have not defines in my local enum, the value is undefined.

I had this problem i [this](https://github.com/dokan-dev/dokan-dotnet/pull/100/commits/9c05ccd86fd1e9d305b30e93be333c07299be995#diff-0f3f663a3cccd223cb4ef766aa591292R209) code where I got a `FileOptions` from a WIndows API. The problem is that `FileOptions` do not defines al

[2017-01-17 13:20] MaherJendoubi commented on #15135
@weshaggard the new size is impressive :-) 100 times!
![image](https://cloud.githubusercontent.com/assets/1798510/22021958/255336a8-dcc0-11e6-899a-6957a5e8110f.png)

[2017-01-17 15:44] marek-safar opened #15242 "Missing this in RegistryAclExtensions extension methods"
https://github.com/dotnet/corefx/blob/fdc332530a2ec9aca582a6d88f95aaba9660070b/src/Microsoft.Win32.Registry.AccessControl/src/Microsoft/Win32/RegistryAclExtensions.net46.cs

There is also missing null argument check

[2017-01-17 15:46] marek-safar opened #15243 "Missing this in FileSystemAclExtensions method extensions"
only `GetAccessControl` has it

https://github.com/dotnet/corefx/blob/fdc332530a2ec9aca582a6d88f95aaba9660070b/src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.net46.cs

[2017-01-17 16:01] ericstj commented on #15135
@MaherJendoubi you are looking at the Microsoft.NETCore.App package.  Previously this only contained dependencies so the size of the single package was not a representation of the closure of all packages.  Now this contains all reference assemblies for the entire framework.

A better test would be to restore NETCore.App with an empty packages folder before and after the change.  I think you'll see

[2017-01-17 16:05] MaherJendoubi commented on #15135
@ericstj Thanks!

[2017-01-17 16:15] Pzixel opened #15245 "FEATURE_COMPILE_TO_METHODBUILDER compiler constant clarification"
I'm porting some library from full .Net to .Net Standard and faced an issue that `LambdaExpression` is missing subject method. [See](http://stackoverflow.com/questions/41520319/alternatives-of-compiletomethod-in-net-standard) question on SO.

After some research I found that problem is that `LambdaCompiler` is missing one overload ([see referencesource](https://referencesource.microsoft.com/#Syste

[2017-01-17 16:20] Pzixel commented on #15245
Ok, I found that it's done intentionally because of `FEATURE_COMPILE_TO_METHODBUILDER` flag. Where can I read why this feature is excluded from `.Net Standard`? Before we had very useful feature which alloved us to write class methods using modern Expressions, but now we are forced to use ol' terrible `Emit` manually.

[2017-01-17 16:23] markwilkie commented on #15184
There's wide agreement that we can do better.  To reiterate the goal - it's to have a common interface (contract if you will) across all of our repos regardless of platform.  (Obviously there will be bits that are specific to each repo, and that's ok of course)

There is a tracking issue to learn from what we've done so far, and get to a better for functional (and simpler) place.  https://github.c

[2017-01-17 16:40] tarekgh commented on #15229
CC @jcouv

[2017-01-17 16:44] #15219 closed

[2017-01-17 16:45] weshaggard commented on #15140
Fixed with https://github.com/dotnet/corefx/pull/15228

[2017-01-17 16:45] #15140 closed

[2017-01-17 16:47] karelz commented on #15201
Looks like dupe of #312.

[2017-01-17 16:47] #15201 closed

[2017-01-17 16:48] karelz commented on #15202
Did they fail just once?
We might need to slit them into separate issues.

[2017-01-17 16:57] karelz commented on #15226
How's the second report different from the first one? They look the same.

Could the first failure be as well bad machine state? "*The trust relationship between this workstation and the primary domain failed*"
Was it one time error or repeating failure of the tests on your machine?

[2017-01-17 17:00] karelz commented on #15234
@yizhang82 is the error code handled by interop?

[2017-01-17 17:02] karelz commented on #15242
Did we ship these APIs this way before? If yes, we might have app compat concerns to delete them / change their signature ... @sepidehMS?

[2017-01-17 17:03] karelz commented on #15243
Did we ship the API this way before? If yes, we may have app compat problem ...

[2017-01-17 17:03] stephentoub commented on #15234
No

@tmds, no, that's not the pattern used for these functions.  The managed call sites check for -1 and then check errno using a platform-agnostic mechanism.  I don't see a bug here; is there a particular call site you're concerned about?

[2017-01-17 17:05] stephentoub commented on #15234
Actually, I take that back, I do see one, e.g.
https://github.com/dotnet/corefx/blob/912cba3675a15718515417e7e9b46504c0303fbc/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L59
[code]
should be:
[code]
There may be some other places as well.

[2017-01-17 17:18] davidsh commented on #15227
I can repro this problem also.  I just did a full clean and rebuild of the repo.  Not sure how this got broken.

[2017-01-17 17:23] weshaggard commented on #15227
Investigating...

[2017-01-17 17:26] TiagoSoczek commented on #15227
Same for System.Linq

[2017-01-17 17:31] jkotas commented on #15242
It is mismatch between the reference assembly and the desktop implementation:

The reference assembly and .NET Core implementation has it https://github.com/dotnet/corefx/blob/fdc332530a2ec9aca582a6d88f95aaba9660070b/src/Microsoft.Win32.Registry.AccessControl/ref/Microsoft.Win32.Registry.AccessControl.cs#L14, but it is missing in the desktop implementation. We should fix the desktop implementation

[2017-01-17 17:33] jkotas commented on #15243
Mismatch between the reference assembly and the desktop implementation. We should fix the desktop implementation to match.

[2017-01-17 17:33] ianhays commented on #15243
Note that this is only in the net46 version of this file. [The one included in the netcore build](https://github.com/dotnet/corefx/blob/fdc332530a2ec9aca582a6d88f95aaba9660070b/src/System.IO.FileSystem.AccessControl/src/System/IO/FileSystemAclExtensions.cs) has `this` on all members (as it should), so there isn't any compat worry.

That said, we should fic it.

[2017-01-17 17:41] weshaggard commented on #15227
From my local repo the steps seem to work just fine for me.
[code]

The build succeeded for me as well as "/t:rebuildandtest" built and run the test successfully.

@geoffkizer do you have anything in `C:\github\geoffkizer\corefx\bin/runtime/netcoreapp-Windows_NT-Debug-x64-x64/`

Actually while pasting that path I noticed there is a double `-x64` that isn't correct. I see if I can figure out a way

[2017-01-17 17:52] davidsh commented on #15227
I had been doing only "clean", "sync", "build".  The "build-tests" is a new requirement.

So, I did the "build-tests" step.

I am still not able to do a "msbuild" in the directory of System.Net.Sockets/tests/FunctionalTests.

But I am now able to do a "msbuild /t:rebuildandtest".

[2017-01-17 17:56] weshaggard commented on #15227
Currently build-tests is required once to to setup the test host but we are going to be fixing that (https://github.com/dotnet/corefx/issues/15167). I don't know why doing an msbuild in that directly wouldn't work though. What error were you getting @davidsh?

[2017-01-17 18:01] bartonjs commented on #15217
There are no plans to do so, no.  But we'd be open to contribution (starting with an API proposal)

[2017-01-17 18:03] davidsh commented on #15227
These are the errors from just doing "msbuild".

[code]

[2017-01-17 18:03] weshaggard commented on #15227
Hmmm... you have the double `-x64` as well I will see if I can figure out how that might happen.

[2017-01-17 18:12] sepidehMS commented on #14855
The reason for them being OuterLoop is that these tests are still using the old test structure and were never properly modified to Xunit structure. I will assign some time to break these bundles into separate tests.

[2017-01-17 18:16] davidsh commented on #15224
@PawelGerr What tooling are you using to create the xproj?  Visual Studio or command line tools?  Can you provide a little more detail so that we can set up a repro?

[2017-01-17 18:22] safern commented on #14391
Will close this issue because with the new build from source changes they already fixed this during the merge.

[2017-01-17 18:22] #14391 closed

[2017-01-17 18:25] karelz commented on #3419
For context: This is the form approved:
We should adjust the API to `string.Join` (see example, incl. usage in https://github.com/dotnet/corefx/issues/5552#issuecomment-268395367).

This is the shape we should adopt:
[code]

Updating the top most post.

[2017-01-17 18:58] danmosemsft commented on #14432
@sepidehMS please look out for a dumpfile for this onealso.

[2017-01-17 18:59] kouvel commented on #14724
We already have the event called `Unloading` that was part of the API surface for 1.0.0 and it would be a breaking change to change its name. Maybe we should stick with "unload" and call the parameter "canBeUnloaded", and the property maybe could also be "CanBeUnloaded"? The Unload method is user-initiated, but like Dispose, it may take some time for objects to be finalized after the Dispose call

[2017-01-17 19:03] ianhays commented on #15120
We call flock in the Unix PAL on opening of a FileStream, but we don't throw any errors if the flock fails in this manner.

[Here's the lock code where we only throw an exception if we get EWOULDBLOCK](https://github.com/dotnet/coreclr/blob/7faacd90b77514c4a07ba74fd221d0d968f89135/src/mscorlib/corefx/System/IO/FileStream.Unix.cs#L74). Since @kosak wasn't receiving an EWOULDBLOCK, it seems likely t

[2017-01-17 19:04] ianhays commented on #15120
We also call flock on [the handle release](https://github.com/dotnet/coreclr/blob/81c42cecca5e1b0b802d4df980280750d2e1419e/src/mscorlib/corefx/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs#L95), but we don't throw on error there for any errno.

[2017-01-17 19:04] raphi011 commented on #15118
Thanks, will try that later!

[2017-01-17 19:20] davidsh commented on #15227
The same problem happens in other folders like System.Net.Http/tests/FunctionalTests.  Doing just "msbuild" has those weird errors.

[2017-01-17 19:28] weshaggard commented on #15227
I cannot get a repo locally. Can you send me a diag log? `msbuild /flp:v=diag`

[2017-01-17 19:32] TrplM opened #15252 "Problem porting RSAPKCS1SignatureFormatter implementation to RSA.Create()"
Hi

I am trying to port an oauth1.0 implementation using RSAPKCS1SignatureFormatter to dotnet core.

This is what I have so far

original **net40**
[code]

port **netcoreapp1.0**
[code]

However I keep getting this exception when trying to use MD5 with RSASignaturePadding.Pkcs1

[code]

Any ideas?

Also how would I import the key when using RSA.Create()?

Thanks

[2017-01-17 19:35] davidsh commented on #15227
[msbuild.zip](https://github.com/dotnet/corefx/files/712122/msbuild.zip)

[2017-01-17 19:35] tmds commented on #15234
@stephentoub Interesting. This means properties exposing error codes on Win32Exception are platform specific?

[2017-01-17 19:36] terrajobst commented on #15023
We reviewed this today with @vancem, here is some high-level feedback:

 * Shouldn't use fluent interface design as it's not clear whether the object is immutable or mutable
 * `Tags` and `Baggage` should probably be a collection type that offers an add so that collection initializer syntax can be used and typical expectations are met, i.e. `activity.Tags.("x", "y")` works. One option would be to

[2017-01-17 19:39] karajas opened #15253 "Fix syntax highlighting issue due to dev/eng"
/cc @weshaggard

[2017-01-17 19:39] stephentoub commented on #15234
Yes

[2017-01-17 19:42] terrajobst commented on #1081
We just reviewed this today:

* I understand that accessing the main module currently throws. Any reason we cannot make this API work and have other properties on `ProcessModule` throw if the bitness differs or the process is elevated?
* The concern being, that adding multiple properties to access the same information might make the API more confusing.

[2017-01-17 19:44] weshaggard commented on #15227
Thanks for the log. You are hitting an issue that got fixed for another reason (https://github.com/dotnet/corefx/pull/15181/files#diff-0b192804a6349e8c26d2b027afbd89a2L151). If you pull down the latest changes for corefx this should no longer repro. Please reactivate if you still hit it.

[2017-01-17 19:44] #15227 closed

[2017-01-17 19:46] yaakov-h commented on #15202
The second time I set up a clean workspace those two failed, plus another one in WebProxy. I didn't catch the name at the time.

[2017-01-17 19:47] karajas commented on #15227
@weshaggard This looks like the defaulting issue.

[2017-01-17 19:53] tmds commented on #15234
And so is `ErrorCode` and `HResult`.

[2017-01-17 19:57] terrajobst commented on #14160
We just took a brief look. For semantics, is it fair to say that your code sample above:

[code]

is (logically) the same as:

[code]

@steentottrup @tarekgh ?

[2017-01-17 19:58] stephentoub commented on #15234
No, the base implementation of ExternalException.ErrorCode just returns HResult, and HResult is set by SetErrorCode, not by the error passed to the Win32Exception ctor.

[2017-01-17 20:00] karelz commented on #14160
We need more info and @tarekgh's expertise to do proper review. If you can update the top post with the background, alternatives, etc., that would be great. If not, we can discuss it next time with @tarekgh in the room.

[2017-01-17 20:11] tinchou commented on #15227
Wasn't able to build in VS either, can confirm it's now fixed.

[2017-01-17 20:13] weshaggard commented on #15227
VS is a work in progress. See https://github.com/dotnet/corefx/pull/15182. That should get merged soon which will fix the VS builds.

[2017-01-17 20:16] morganbr commented on #14950
We should consider reviewing the security of RsaProtectedConfigurationProvider and whether it needs to be compatible with files protected by the .NET Framework version as part of this port. That version uses some less-preferred algorithms and may not work cross-platform.

[2017-01-17 20:20] gkhanna79 commented on #15215
@hqueue Very likely. @ericstj and @weshaggard have been working on fixing the issues. Can you confirm if the issue still persists?

[2017-01-17 20:27] saurabh500 commented on #15135
How are the assembly dependencies being managed after this merge?
They were in project.json which are not around after this merge.

[2017-01-17 20:27] tarekgh commented on #14160
@terrajobst @karelz

The mentioned code by @terrajobst is correct as if want to achieve the same results with the proposed APIs

[code]

Basically the APIs will just help in converting the date/time to the target time zone before the formatting so  the caller don't have to manually convert to the target time zone.

[2017-01-17 20:28] weshaggard commented on #15135
See https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/project-guidelines.md#src. You should now just put a Reference in your src projects.

[2017-01-17 20:45] davidsh opened #15254 "Building clean shows modified src\shims\ApiCompatBaseline.netfx461.txt file"
When I build clean, I now get a modified file:
![image](https://cloud.githubusercontent.com/assets/7684835/22039086/ad95e17c-dcb2-11e6-89ff-04db8d4ce82f.png)

perhaps the .gitignore needs to be updated now?

[2017-01-17 20:46] davidsh commented on #15227
After syncing to the very latest, I can do "msbuild" now ok.  But there is a new problem, #15254

[2017-01-17 20:47] tarekgh commented on #14160
@terrajobst @karelz

The mentioned code by @terrajobst is correct as if want to achieve the same results with the proposed APIs except in one case

[code]
Basically the APIs will just help in converting the date/time to the target time zone before the formatting so the caller don't have to manually convert to the target time zone.

The only difference between the proposed API and the alternative c

[2017-01-17 20:54] danmosemsft opened #15255 "Check for omissions in types supported by both Desktop and Core"
We have defined a common subset named .NET Standard 2.0 and analyzed (and fixed or baselined) any discrepancies between the Desktop and Core implementations of types in that subset.

We also care about any types that Desktop and Core both have that aren't in .NET Standard 2.0. If Core is missing some members that Desktop does have, this should be a conscious decision. Example of where it wasn't: h

[2017-01-17 20:54] weshaggard commented on #15254
That file shouldn't be gitignored. This file will get updated when ever someone adds or removes APIs that affect the compat with net461. See comments in https://github.com/dotnet/corefx/pull/15238#pullrequestreview-17054441 where I've asked for that file to be added to the PR. The current difference is a result of an earlier merged PR that added those APIs in that diff.

So there isn't anything to

[2017-01-17 20:54] #15254 closed

[2017-01-17 21:43] JeremyKuhne commented on #14950
@morganbr The only other protected provider in-box (`DpapiProtectedConfigurationProvider`) only works on Windows. This is more about compat- and I don't see anything existing discouraging use of `RsaProtectedConfigurationProvider`.  Should we be opening an issue (or issues) specifically about discouraging it overall / providing an alternative (on Desktop as well)?

[2017-01-17 22:40] karajas commented on #15253
Current theory is design time build isn't included refs allocated by targetingpacks.props. Will condition a new ItemGroup with DesignTimeBuild=true

https://github.com/dotnet/roslyn-project-system/blob/master/docs/design-time-builds.md#diagnosing-design-time-builds

[2017-01-17 22:41] karelz commented on #14160
Is extending the string formatting out of question?
It would be nice to include the background in motivation section of the proposal at the top.

[2017-01-17 22:46] weshaggard commented on #13020
The shims are now being produced (https://github.com/dotnet/corefx/blob/master/src/shims/shims.proj). They are only included in the Microsoft.NETCore.App package currently but we will also need to add them to the UWP package once we do that work.

[2017-01-17 22:46] #13020 closed

[2017-01-17 22:47] weshaggard commented on #14528
The shims are now being produced (https://github.com/dotnet/corefx/blob/master/src/shims/shims.proj). They are only included in the Microsoft.NETCore.App package currently.

[2017-01-17 22:47] #14528 closed

[2017-01-17 22:48] weshaggard commented on #14322
Yes RuntimeOS is now computed as part of the configuration intialization. RuntiemOS combined with ArchGroup will give folks the correct RID for packaging and restoration.

[2017-01-17 22:48] #14322 closed

[2017-01-17 22:49] tarekgh commented on #14160
@karelz

What you mean by that? do you mean the date/time formatting pattern strings? if this is the case I don't think this will help much as most people want to use the existing APIs without specifying the patterns.

I already mentioned the following in the details, what exactly else you want to see?

[code]

[2017-01-17 22:51] weshaggard commented on #14573
Fixed with https://github.com/dotnet/corefx/commit/382b73b943ff89b931d84cb67af6d4c82701f8b6 and https://github.com/dotnet/corefx/commit/238d7ec9e4bea4cb31c8690266fb87d0e2f8cefd.

[2017-01-17 22:51] #14573 closed

[2017-01-17 23:02] karelz commented on #14160
For me (with little background on specific APIs in the space), the sample code above is just much easier to comprehend - the alternative is to talk about it in person.

I see `localTime.ToString("o")` in your sample, I assume the "o" is important there and does not produce the right format. Is there option to extend that? e.g. `localTime.ToString("oo")`?

[2017-01-17 23:05] stephentoub commented on #15168
Yes, some way to just get the full path to the location would be helpful. Thanks.

[2017-01-17 23:07] weshaggard commented on #15168
Do you just want to document the full path or do you want a wrapper script that will run it with a shorter command?

[2017-01-17 23:08] stephentoub commented on #15168
I'd be fine if there was an easy way for it to just give me the full path.  Often I actually want to muck with stuff in that directory, e.g. overwrite some of the .dlls with other ones before I run a command.

[2017-01-17 23:09] weshaggard commented on #15168
Don't you get that from the console output when you do a `msbuild /t:rebuildandtest` that is what I generally use to find where tests are running from.

[2017-01-17 23:11] danmosemsft commented on #14488
@rodchenkov yes, it will be available in .NET Core 2.0, which is the upcoming shipping version. (Albeit - not legal to apply to assemblies, as mentioned above)

[2017-01-17 23:15] stephentoub commented on #15168
Sorry, I got conversations confused.  It's not just the host I care about.  It's also where the other binaries for the platform are coming from.  So I need the host, and yeah, that is output by doing "msbuild /t:rebuildandtest", though I need to hunt for it in the spew of output that gets generated (and also run the tests).  But the path to where the binaries are coming from (e.g. ```C:\Users\stou

[2017-01-17 23:16] tarekgh commented on #14160
@karelz ok I'll add the alternative code sample in the proposal to be easier for the reader.

my point regarding the formatting string is will still not help much even if we added something like "oo" such pattern will help format the date in specific pattern but not cover other pattern. Also the callers prefer the APIs (something like DateTime.ToLongDateString(), ToShortDateString(), ToString()) i

[2017-01-17 23:19] deinok commented on #15209
@davidsh Where should i submit the API proposal?

[2017-01-17 23:26] mellinoe commented on #1081
I don't think that's true, barring the caveats in the original post (e.g. 64->32-bit or non-elevated->elevated processes on Windows). We just recently started using it in [the corefx tests here](https://github.com/dotnet/corefx/blob/5bd6dea77374feccbc859d4a771f9fff7e973d86/src/Common/tests/System/Diagnostics/RemoteExecutorTestBase.cs#L21), and I do believe that code is being run on all of our plat

[2017-01-17 23:29] karajas commented on #15168
The files in the shared framework are currently hardlinked to the bin dir that corresponds to the build configuration that you are trying to run for. I am working now will just hardlink the entire directory instead of individual files. I'll make sure to double check the rebuildandtest scenario for a single library.

[2017-01-17 23:38] davidsh commented on #15209
This repo is where API proposals should be submitted.  Please review the link above as well review closed issues of prior API proposals to give you an idea of creating the proposal and the review process, etc.

[2017-01-17 23:39] weshaggard commented on #15168
Here is what I see  in the output for what is running.
[code]

While it isn't direct you can see that the argument that is passed to RunTests.cmd is the path of the shared runtime which is the part that is interesting. My hope is that folks will eventually learn which shared runtime folder to go manually update if they want to change things. The nice thing is that it is only one folder now instead

[2017-01-17 23:55] mellinoe commented on #15168
Just in case you didn't know (and for others consuming these new changes), the tests all share a single runtime directory, with a single set of binaries. They aren't duplicated into an isolated test directory now, so any changes you make to those binaries will affect the other tests, and I think you'll need to re-run the original source build to recover the files, unless I misunderstood where and

[2017-01-18 00:11] weshaggard commented on #14580
I know we were thinking to not add these but the more I think about this the more I think we will need these in order to correctly handle all the build configurations correctly.

[2017-01-18 00:12] JeremyKuhne commented on #15040
Assembly rename is in.

[2017-01-18 00:12] #15040 closed

[2017-01-18 00:14] Priya91 commented on #1081
We can defer throwing exceptions in the implementation to when the properties are accessed, and use a different win32 API for ProcessModule.FileName, but that will cause a behavior change from desktop. And there could be code, for, if MainModule is null assume querying process is elevated so no access, or if MainModule throws, assume different bitness, hence do something else, etc.

[2017-01-18 00:24] weshaggard opened #15259 "Rename System.Transactions assembly in .NET Core"
We cannot use the assembly name System.Transactions because that assembly already exist in the full .NET framework. We need to come up with another name and rename it before we try to ship this assembly.

[2017-01-18 00:51] morganbr commented on #14950
It's not broken per se, but if we believe desktop config files aren't compatible with .NET Core, it would be good to look into things like using AES by default instead of 3DES.

[2017-01-18 00:57] geoffkizer commented on #14037
fix is in PR #15261

[2017-01-18 01:19] #14918 closed

[2017-01-18 01:21] corivera commented on #14978
Looking into it

[2017-01-18 02:05] rodchenkov commented on #14488
@JonHanna @danmosemsft thank you!

[2017-01-18 02:31] #14775 closed

[2017-01-18 02:32] sepidehMS commented on #14772
Fixed by https://github.com/dotnet/corefx/pull/15249

[2017-01-18 02:32] #14772 closed

[2017-01-18 03:35] stephentoub commented on #1081
From an implementation standpoint, in what situations is it possible to provide MainModuleFilePath and not MainModule.FilePath?  On macOS we simply construct a single ProcessModule from getting the file path (https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessManager.OSX.cs#L113-L123), so if we can get the latter we can get the former.  Simila

[2017-01-18 03:41] stephentoub commented on #15168
I don't understand; how do I get from ```c:\users\stoub\Source\Repos\corefx\bin/runtime/netcoreapp-Windows_NT-Debug-x64/``` to ```C:\Users\stoub\Source\Repos\corefx\Tools\testdotnetcli\shared\Microsoft.NETCore.App\9.9.9```?

Not sure how I learn that without being told it.

FWIW, for my use cases, that's actually a downside.  99% of the time I'm working on a single library and only want to experim

[2017-01-18 03:59] mellinoe commented on #15168
@stephentoub I agree that it's a big downside for that scenario. Do you think it would be valuable to have something like a `SelfContainedTest` flag that you could use to essentially emulate the old behavior, e.g. everything in one folder?

[2017-01-18 06:03] AlexGhiondea commented on #14601
@tomkuijsten sorry for taking this long to get back to you and thanks for posting the exception!

Could you share the project you are using (or a simplified repro)?

[2017-01-18 07:02] Jiayili1 commented on #13539
This issue doesn't happen for more than 2 months, so close it.

[2017-01-18 07:02] Jiayili1 commented on #13302
This issue doesn't happen for more than 2 months, so close it.

[2017-01-18 07:03] Jiayili1 commented on #13299
This issue doesn't happen for more than 2 months, so close it.

[2017-01-18 11:07] fujiy commented on #4805
Hi @terrajobst, did you have a chance to evaluate this item? Thanks!

[2017-01-18 12:22] stephentoub commented on #15168
I would definitely use that.

[2017-01-18 12:24] stephentoub opened #15269 "Port TplEventSource fix to desktop"
https://github.com/dotnet/coreclr/pull/8942
cc: @AlexGhiondea

[2017-01-18 13:16] couven92 commented on #15120
I haven't tested this extensively (since I sit in Windows most of the time), but I can try compiling every single dotnet project I have and see what happens...

[2017-01-18 14:06] varocarbas commented on #6308
@JeffreySax Sorry to bother you again, but I am feeling a bit of curiosity.

At first, I was grateful for your comment without giving too much thought to it. But your subsequent inactivity looked a bit too weird. For example: you have written wrong links to what (apparently) you are claiming that is your own site, which you haven't corrected despite my warning; at first, you seemed knowledgeable a

[2017-01-18 15:51] omajid opened #15274 "build-native.sh followed by build-managed.sh doesn't work"
I am hitting errors building corefx on RHEL:

    $ cat /etc/os-release
    NAME="Red Hat Enterprise Linux Workstation"
    VERSION="7.3 (Maipo)"
    ID="rhel"
    ID_LIKE="fedora"
    VERSION_ID="7.3"
    PRETTY_NAME="Employee SKU"
    ANSI_COLOR="0;31"
    CPE_NAME="cpe:/o:redhat:enterprise_linux:7.3:GA:workstation"
    HOME_URL="https://www.redhat.com/"
    BUG_REPORT_URL="https://bugzilla.redh

[2017-01-18 16:25] maikebing opened #15275 "When to add support for running dotnet core on raspberrypi's os raspbian?"
http://www.raspbian.org/

[2017-01-18 16:29] leonpw commented on #15275
Or running on ARM at all?

[2017-01-18 16:40] maikebing commented on #15275
dotnet core  supported  Debian 8, while raspbian is based on Debian 8,  it's  has more advantages!

[2017-01-18 16:43] weshaggard commented on #15168
Those are essentially the same directory as they are hard-linked together. You don't really even need to care about the second one.

I think it is worth filing an issue to have an option for producing a self-contained test output.

[2017-01-18 16:58] karelz commented on #15269
@AlexGhiondea as soon as it is mirrored in TFS, can you please close the issue?

[2017-01-18 17:01] omajid commented on #15274
I get a little further using `./build-managed.sh -SkipTests -BuildTests`:

      System.Runtime.InteropServices.RuntimeInformation -> /home/omajid/corefx/bin/Unix.AnyCPU.Debug/System.Runtime.InteropServices.RuntimeInformation/netstandard1.1/System.Runtime.InteropServices.RuntimeInformation.dll
      System.Security.Cryptography.X509Certificates -> /home/omajid/corefx/bin/Unix.AnyCPU.Debug/System.S

[2017-01-18 17:16] JonHanna commented on #12943
@hughbe are you still intending to work on this? While I don't think it makes sense to allow such methods on bindings, we shouldn't have NRE thrown.

[2017-01-18 17:18] hughbe commented on #12943
@JonHanna not currently! feel free to grab this if you'd like.

[2017-01-18 17:51] PawelGerr commented on #15224
I'm using Visual Studio Professional 2015 (14.0.25431.01 Update 3) for setting up xproj-projects.
VS-Template: Templates -> .NET Core -> Console Application (.NET Core)

System:
* Win 10 x64
* i7-4870HQ @2,5 GHz
* 16 GB RAM

The whole VS solution can be downloaded from https://www.dropbox.com/s/bz4f77ms7bzbwz0/WinHttpHandlerRepro.zip

After reboot I'm getting a new exception but my colleague still

[2017-01-18 17:53] JonHanna commented on #12943
Will do.

[2017-01-18 18:01] geoffkizer opened #15277 "add variations of SocketTestServer to increase test coverage in System.Net.Sockets.Tests"
Currently, we have this "SocketTestServer" abstract class that allows us to run the same tests in two variations: (1) APM-style (IAsyncResult) and (2) SocketAsyncEventArgs.

We should add new implementations of this class that cover:
(1) Synchronous APIs
(2) Non-blocking operations (i.e. socket.Blocking = false)
(3) Task-based APIs

[2017-01-18 18:04] Mike-EEE commented on #15135
Great work everyone.  Glad to hear the details and all the work.  I was surprised to see that:

1. You attempted to do everything on a Friday the 13th.
2. I actually went through this past Friday not realizing that it was as such. 😮

Anyways, glad to see the efforts here and how everything is coalescing into the next generation of .NET tech.  FWIW, this thread made The Week in .NET:
https://blogs.

[2017-01-18 18:10] AlexGhiondea commented on #15269
The issue does not have to be open for the tool to pick it up :).

[2017-01-18 18:10] #15269 closed

[2017-01-18 18:16] stephentoub opened #15278 "System.Net.Sockets.Async.Performance tests crashing"
@geoffkizer, it looks like this test library has very recently started crashing... I suspect it's related to your recent synchronous completion changes. e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/71/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/70/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_rhel7.2_debug/

[2017-01-18 18:19] geoffkizer commented on #15278
Yes, already looking.

[2017-01-18 18:19] davidsh commented on #15224
[WinHttpHandlerRepro.zip](https://github.com/dotnet/corefx/files/714669/WinHttpHandlerRepro.zip)

[2017-01-18 18:20] stephentoub opened #15279 "SpanTests.ClearLongerThanUintMaxValueBytes failing in CI"
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_debug/69/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/69/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/70/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_windows_nt_release/71/
[code]

[2017-01-18 18:25] stephentoub opened #15280 "Nano CI builds completely broken"
cc: @Priya91, @karelz, @mmitche
Our Windows Server Nano 2016 builds have been red for as long as we have history.  Looking at the error message, it looks like the Jenkins configuration is broken:
[code]
If we care about Nano (I assume we do!), we should fix this immediately.
If we don't, we should delete the jobs and remove the badges from the home page.

[2017-01-18 18:26] #15234 closed

[2017-01-18 18:27] davidsh commented on #15224
Thanks for providing a complete Visual Studio solution.  I was able to use the solution and rebuild it.  But when I hit F5, I get this error:

![image](https://cloud.githubusercontent.com/assets/7684835/22077303/77a58386-dd68-11e6-87c7-46bf75bd741d.png)

This .NET Core profile/template that you used only produces a DLL and not EXE. It looks like it is using the old ASP.NET 5 Core profile and not t

[2017-01-18 18:30] benaadams commented on #15280
I care...

[2017-01-18 18:32] davidsh commented on #15224
Also, when I use your repro steps above to create a new Visual Studio Solution:

I get a different project.json that is defined against the RTM 'netcoreapp1.0' moniker.

[code]

I think the problem is that you are using a pre-release version of the .NET Core template.

[2017-01-18 18:39] #14501 closed

[2017-01-18 18:43] PawelGerr commented on #15224
Me and my colleague are able to start the project with F5 without any problems.
Regarding project.json, I changed this file so that it looks like in my 1st post.

Try to build the project via command line: `dotnet restore` , `dotnet publish --configuration Release`

Or use the exe that I get when executing `dotnet publish --configuration Release`: https://www.dropbox.com/s/ihshy2lh878uf07/WinHttpH

[2017-01-18 18:50] davidsh commented on #15224
I think the difference in my ability to repro it and yours is a difference in various pre-release tools both commandline and Visual Studio installed on our respective dev machines.  So, it will be difficult to troublshoot this.

However, looking at the ZIP file of the WinHttpHandlerRepro-publish that you posted, it is very clear why you are getting a FileIOException about missing System.IO.Compres

[2017-01-18 18:57] omajid commented on #15135
Is there any documentation on "Simplify on-boarding of new Linux distros"? I am trying to get corefx to build on RHEL 7.3 and running into https://github.com/dotnet/corefx/issues/15274. Even a rough sketch on how to on-board new distros will be very useful.

[2017-01-18 19:03] jchannon commented on #15135
I'd like a more official announcement and what it means to current apps and
what a new app now looks like

On 18 January 2017 at 18:58, Omair Majid <notifications@github.com> wrote:

[2017-01-18 19:03] weshaggard commented on #15274
@ericstj @joperezr did we ever get to the bottom of the build task loading issue yet?

@omajid what do you git if you just do a build.sh?

[2017-01-18 19:05] weshaggard commented on #15135
@omajid lets continue that conversation on the issue you filed.

@jchannon there will be more information on the build from source effort once we get closer to shipping. cc @bleroy @ellismg

[2017-01-18 19:17] mmitche commented on #15280
@stephentoub The issue is that the nodes themselves don't seem to dynamically provision properly, and TP5 is really old now (which is what our old static image had).  So we need to figure that out first

[2017-01-18 19:23] DnlHarvey opened #15284 "Assembly in CoreRT has APIs that depend on FileStream"
Just a note so we get a heads up when we can bring over those APIs

[2017-01-18 19:31] JeremyKuhne commented on #15284
Path was moved already https://github.com/dotnet/corert/pull/2438 by @jkotas. With that moved, FileStream should be able to be moved fairly easily I think- at least with basic Win32 support (no brokering for Pictures, etc.).

[2017-01-18 19:57] jkotas commented on #15284
I have moved Win32 filestream as well (https://github.com/dotnet/corert/pull/2428), but it is only enabled in CoreRT/Win32 build. Enabling it in ProjectN/UWP build requires figuring out what to do about the brokering support.

[2017-01-18 19:59] omajid commented on #15274
Hm.. a `build.sh` works. But a `build-native.sh` followed by `build-managed.sh` doesn't.

[2017-01-18 20:01] geoffkizer commented on #15226
Second report is the same, sorry.  When I pasted the first report in, it looked garbled, but now it looks fine.

I get this issue consistently when I am not VPN-ed in.  Is that by design?

[2017-01-18 20:02] JeremyKuhne commented on #15284
@jkotas Can we enable it in SPCL without the brokering to allow filling out the API?

[2017-01-18 20:04] jkotas commented on #15284
It may be possible - as long as whoever is doing that makes sure that it does not put everything on the floor.

[2017-01-18 20:08] karelz commented on #15280
cc @danmosemsft

[2017-01-18 20:12] ericstj commented on #15274
When you did `build-native.sh` followed by `build-managed.sh` what was in the `/home/omajid/corefx/bin/Linux.x64.Debug/native` folder? If it's missing can you check to see where `build-native.sh` actually put the binaries?

[2017-01-18 20:17] karelz commented on #13309
@Priya91 can you please help here?

[2017-01-18 20:20] karelz commented on #15269
Thanks!
I keep forgetting that it works on closed issues, and then I want to make sure it doesn't get lost, so I ask :flushed:

[2017-01-18 20:23] davidsh commented on #15031
Now that PR #15036 is checked in, this problem should go away w.r.t. net46.  System.Net.Http.dll no longer use WinHttpHandler internally and thus no longer trys to load System.Diagnostics.DiagnosticSource.dll at runtime.

Please try out the latest packages on the MyGet dev feed.  You'll want to use the latest built System.Net.Http.dll packages which as of today is:
https://dotnet.myget.org/feed/do

[2017-01-18 20:24] davidsh commented on #15031
I'll close this issue for now.  If the problem isn't solved w.r.t. System.Net.Http.dll, please re-open this issue.

If there is a different problem, then please open up a new issue.  Thanks!

[2017-01-18 20:24] #15031 closed

[2017-01-18 20:26] davidsh commented on #11100
Now that PR #15036 is checked in, this problem should go away w.r.t. net46.  System.Net.Http.dll is now using built-in HTTP stack from .NET Framework.  This means it has 100% compatibility with WebRequestHandler.

Please try out the latest packages on the MyGet dev feed.  You'll want to use the latest built System.Net.Http.dll packages which as of today is:
https://dotnet.myget.org/feed/dotnet-cor

[2017-01-18 20:33] davidsh commented on #11100
And to summarize the fix in #15036, we ended up with 100% app-compat with the original .NET Framework System.Net.Http 4.0 API surface and 100% app-compat when using WebRequestHandler.

In terms of the level of support for the newer properties added to HttpClientHandler (that are part of .NET Core 1.1 and beyond), the following summarizes the expected behavior of these newer properties when running

[2017-01-18 20:43] omajid commented on #15274
After running `./build-native.sh`:

    [omajid@localhost corefx]$ ls bin/Linux.x64.Debug/native/
    System.IO.Compression.Native.so
    System.Native.a
    System.Native.so
    System.Net.Http.Native.so
    System.Net.Security.Native.so
    System.Security.Cryptography.Native.OpenSsl.so
    System.Security.Cryptography.Native.so

No change in the contents of that dir after running `./build-manag

[2017-01-18 21:05] Giorgi commented on #1081
@stephentoub I haven't tried it on other platforms but I do have encountered this issue on Windows. Here is this bug on Microsoft connect with a small repro and workaround: [https://connect.microsoft.com/VisualStudio/feedback/details/595717/add-path-property-to-process-class-so-that-it-works-with-elavated-processes-too](url)

[2017-01-18 21:09] paalmoest opened #15287 "sqlclient does not close connections in Docker(debian)"
We are seeing behaviour form the System.Data.Sqlclient is not closing the connections when its running  on the official mircosoft/dotnet docker image for linux. The connections are accumulating to over 400 connections in a couple of days on a service with little traffic. We have the same code running on a windows platform and there we do not see this behaviour.
We are running dotnet 1.1.0.

[2017-01-18 21:12] omajid commented on #15274
Sorry for the noise. I guess this is a known issue. As `build.sh` says, the following works:

1. `./build-native.sh`
2. `./Tools/msbuild.sh src/Tools/CoreFx.Tools/CoreFx.Tools.csproj /v:m /m`
3. `./build-managed.sh`

`./build.sh` does step 2 to work around a bug. See https://github.com/dotnet/corefx/commit/05d190de1ecf5d023ab0d288fa95ea751d2325af.

Is there any chance the underlying bug will be fi

[2017-01-18 21:38] ericstj opened #15288 "Bring back netstandard1.1 config for RuntimeInformation"
We had a RID-less config for RuntimeInformation but that was removed with vertical build work.  Bring it back if we bring back a package for this library.

https://github.com/dotnet/corefx/blob/a07f6aac5309b30154d0fe00debe7f9979600ea1/src/System.Runtime.InteropServices.RuntimeInformation/src/System.Runtime.InteropServices.RuntimeInformation.csproj#L19

/cc @chcosta

[2017-01-18 21:39] weshaggard commented on #15274
@joperezr  do we have issue tracking the real fix for 05d190d?

[2017-01-18 21:41] eerhardt opened #15289 "Proposal: Expose POSIX functions"
To allow developers to develop applications on Unix operating systems, .NET Core should contain a library exposing a set of common Unix and Linux APIs.

## Rationale
Today, .NET Core programs running on Unix do not have the ability to make calls into operating system functions in a portable manor, without writing native code. There are Unix-specific functions/capabilities that are not exposed in o

[2017-01-18 21:42] eerhardt commented on #15289
## Appendix A: Alternate names
Alternate Library/Namespace names  :
- System.Unix
- System.Runtime.Unix[Runtime]
- System.Runtime.InteropServices.Unix[Runtime]
- Unix.Native

Alternate class names  :
- SysCall
- Syscall
- SystemCall
- OS
- OperatingSystem
- SystemFunctions
- OSFunctions

An option we have when introducing Linux-specific functions is to either put them in the same class as the POSI

[2017-01-18 21:55] benaadams commented on #15289
If they are only POSIX, then wouldn't a variant on `System.Posix` make more sense rather than `Unix`?

Would they intertop with Windows or Windows Subsystem for Linux if available? Or throw PlatformNotSupported?

[2017-01-18 21:56] JeremyKuhne commented on #15166
@karajas Is the VS PR you're talking about #15182?  You can currently build, but you can't F5 to run the tests.

[2017-01-18 21:58] JeremyKuhne commented on #15166
Start in the test project has

[code]

And the command line args are

[code]

Working directory

[code]

[2017-01-18 22:00] karajas commented on #15166
What configuration are you building for?

[2017-01-18 22:04] JeremyKuhne commented on #15166
netstandard-Debug. %RUNTIME_PATH%\dotnet.exe doesn't exist.

[2017-01-18 22:07] weshaggard commented on #15166
You need to run build-tests at least once until we get https://github.com/dotnet/corefx/issues/15167 fixed. But F5 should  work fine in VS now.

[2017-01-18 22:08] danmosemsft commented on #6302
@bartonjs could you comment? What is the next action? This seems likely to be a real product issue and potentially significant.

[2017-01-18 22:08] shmao opened #15290 "SoapEncodedSerializationTest_Enum Failed with PNSE"
The test is failing with PlatformNotSupportedException.

[code]

[2017-01-18 22:10] danmosemsft commented on #15289
@eerhardt I assume you've looked at [Mono.Posix](https://www.nuget.org/packages/Mono.Posix) - is there any value in reusing their API surface? I figure we can't reuse the package, as it calls into their runtime.

[2017-01-18 22:10] JeremyKuhne commented on #15166
Ok, I'll try that and close this one if I get this to work.

[2017-01-18 22:12] jonpryor commented on #15289
@danmosemsft wrote:

`Mono.Posix.dll` calls into `MonoPosixHelper`, which is just a C library, with no dependencies on the rest of mono. This shouldn't be a problem, IMHO.

[2017-01-18 22:17] bartonjs commented on #6302
@danmosemsft The proposal I discussed with @steveharter was to make the test do something like

[code]

(Though ensuring a) it compiles, and b) that the messages are all correct/useful)

[2017-01-18 22:20] JeremyKuhne commented on #15166
Still complains about `%RUNTIME_PATH%\dotnet.exe doesn't exist.` I don't see this environment variable set anywhere...

[2017-01-18 22:23] danmosemsft commented on #6302
OK, good that it's not a product bug then. Do either of you have cycles to make this change?

[2017-01-18 22:23] eerhardt commented on #15289
Only the initial phase of added APIs are in the POSIX standard (according to http://pubs.opengroup.org/onlinepubs/9699919799/nframe.html). I plan on adding Linux-specific APIs as well in the future, as the need arises.

I don't think it is a goal to support these APIs on Windows proper. They will throw PlatformNotSupported exceptions.
On Windows Subsystem for Linux: these APIs will work as well as

[2017-01-18 22:29] weshaggard commented on #15166
Where do you see `%RUNTIME_PATH%` at? It should not be in the VS debug dialog. It is only in the RunTests.cmd script itself.

[2017-01-18 22:38] eerhardt commented on #15289
Yes, I've heavily based this proposal off of Mono.Posix and plan to reuse designs/approaches from it as much as possible.

As for reusing their API surface directly:
1. I assume we don't want a "Mono" namespace in corefx.
2. Some APIs that Mono exposes I don't feel should be exposed.  One example is from the proposal above: `getgrnam`, which is not a thread-safe method since it returns pointers to

[2017-01-18 22:44] bartonjs commented on #6302
Well, we don't know that it is or isn't.  This is just the good old "add logging to figure out what sort of problem we're facing", since it hasn't reproed for me under at least a million runs (not sarcastic; did a `seq 1 1000000` launch loop, and it finished, having never failed).

[2017-01-18 22:45] weshaggard commented on #15046
Transactions have been added to .NET Standard 2.0. https://github.com/dotnet/standard/pull/168.

[2017-01-18 22:45] #15046 closed

[2017-01-18 23:00] JeremyKuhne commented on #15166
It is in the dialog.

[2017-01-18 23:01] JonHanna commented on #14432
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/2264/consoleFull#20242849304b7730ef-150b-4be7-a00f-82ba6c50792b

[code]

[2017-01-18 23:05] mellinoe commented on #15289
One part that is missing (IMO) is what our rules for translating parameter types would be. A `char*` could be marshaled in a variety of different ways, for example. It's not clear which rules you used to create the examples, other than `ref` and `out` seemed to be favored over pointer types. If we want as thin a layer as possible, then it makes sense to translate the pointer types directly, but th

[2017-01-18 23:09] weshaggard commented on #15166
Looks like it was regressed with @mellinoe change https://github.com/dotnet/corefx/commit/febe1f61c0dc28b3e91e95895892e53111293d0c.

[2017-01-18 23:23] mellinoe commented on #15166
The VS command line options should be using absolute paths, it would seem, rather than the env-relative ones we need elsewhere.

[2017-01-18 23:24] JeremyKuhne commented on #15166
I'm about to put up a PR.

[2017-01-18 23:36] stephentoub commented on #6302
Again here:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/2268/consoleText
[code]

[2017-01-18 23:44] danmosemsft commented on #6302
Alright, I'll add this since nobody is biting. :)

[2017-01-18 23:54] weshaggard opened #15298 "test projects configured as netstandard should compile against netstandard targeting pack"
Tests are always compiling against the build configuration ref and never netstandard. See https://github.com/dotnet/corefx/blob/5bd6dea77374feccbc859d4a771f9fff7e973d86/targetingpacks.props#L20 and https://github.com/dotnet/corefx/blob/5bd6dea77374feccbc859d4a771f9fff7e973d86/Tools-Override/FrameworkTargeting.targets#L5

[2017-01-18 23:55] NickCraver commented on #13526
We talked about two major aspects of this proposal offline while I was on campus this week. They were:
- Is this worth it to include in CoreFX?
- If so, where would it live, package-wise?

The first needs community help. A decent addition to the BCL includes usage *in the BCL*, or a large set of known usages outside the BCL (e.g. being a handy class for many consuming the BCL).

## What are your u

[2017-01-19 00:20] #14037 closed

[2017-01-19 00:20] karajas commented on #15166
We could make VS run RunTests.cmd instead

[2017-01-19 00:22] jamesqo opened #15301 "MSBuild says dlls are being used by another process when invoking build-tests"
I have just rebased after the announcement in https://github.com/dotnet/corefx/issues/15135 and run `clean --all`, `build`, and `build-tests`. During `build-tests` this error pops up when MSBuild tries to copy files from `bin\runtime` to `Tools\testdotnetcli\shared\Microsoft.NETCore.App\9.9.9`:

[code]

This happens for every file in `bin\runtime`; the full log is [here](https://gist.github.com/ja

[2017-01-19 00:25] JeremyKuhne commented on #15166
All I really care is that settings get picked up appropriately without having to define them in multiple places. :) (Well, and that you only run the tests for the current project.)

[2017-01-19 00:28] eerhardt commented on #15289
This is a good point. Here is my first "stab" at it, and once we solidify on an approach, I'll add it to the proposal.

For the most part, we will follow the same marshaling strategies employed internally in our existing [`System.Native` shims](https://github.com/dotnet/corefx/tree/master/src/Common/src/Interop/Unix):
1. All parameters and return values must have constant sizes across all supporte

[2017-01-19 00:40] karelz commented on #15226
I edited it -- see the [markup](https://guides.github.com/features/mastering-markdown/) I added (triple backtick with xml as language name as the first line and triple backtick as the last line).

[2017-01-19 00:48] danmosemsft opened #15303 "Update allow-list for UWP build validation"
1) Bring these up to date with the latest Windows allow-list:
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/PinvokeAnalyzer_UWPApis.txt
https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.CodeAnalysis/PackageFiles/PinvokeAnalyzer_Win32UWPApis.txt
and incidentally https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNe

[2017-01-19 00:51] weshaggard commented on #15166
While I would like that it doesn't work as you have to give VS an executable and so you would need to give in cmd.exe and then when you debug you are debugging cmd.exe and not the test code.

[2017-01-19 00:55] weshaggard opened #15305 "Clean-up usage of $(OS) property in targets"
We should try and limit the usage of $(OS) property in all the targets files. In places we need it we should use it in a limited fashion to setup other properties like RunningOnUnix/Windows and we should use that as the conditions in all our targets.

Examples we should clean-up.
test.targets (https://github.com/dotnet/corefx/pull/15177/files#diff-b8c5f6b5d9e571e8187355199b2a1680R33), in this case

[2017-01-19 01:07] karelz commented on #13526
Thanks @NickCraver for writing it up!
For context: We have been discussing the general topic internally since start of December (and there is no obvious consensus). I was trying to find best way to bring the discussion to the open - this particular issue/API looks like a good candidate for that.
Regarding 2 - it is interesting general discussion regardless how 1 ends. At minimum I expect it will k

[2017-01-19 01:10] danmosemsft commented on #15279
@nietras I see you added this test. Do you have any context on this error?

[2017-01-19 01:11] danmosemsft commented on #15301
This would tell us what is holding it. https://technet.microsoft.com/en-us/sysinternals/handle.aspx

[2017-01-19 01:37] weshaggard commented on #15301
cc @karajas

do you have any dotnet.exe process alive?

[2017-01-19 02:15] jonpryor commented on #15289
Regarding `const char*` marshaling, there is one additional complication: filenames.

Consider [**open**(2)](https://linux.die.net/man/2/open):

    int open(
            const char *pathname,
            int flags
    );

Q: In what encoding is `pathname`?

A: "What's an encoding?"

Which is to say, the encoding is wholly unspecified, and it's not difficult to create a filesystem entry which *may

[2017-01-19 02:50] Priya91 commented on #13309
@jchannon What is the host value for which you get this error?

[2017-01-19 03:05] stephentoub opened #15309 "Seg fault in System.Numerics.Vectors.Tests on macOS"
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx_release_prtest/2194/consoleText
[code]
cc: @mellinoe

[2017-01-19 03:07] stephentoub commented on #15309
Happened on CentOS as well:
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_release_prtest/2288/
[code]

[2017-01-19 03:13] danmosemsft commented on #15287
@saurabh500

[2017-01-19 03:16] mellinoe commented on #15309
Hm, no changes in the library that I'm aware of. @CarolEidt @sivarv Have there been any changes in the Unix codegen here lately?

[2017-01-19 03:38] saurabh500 commented on #15287
I think this is a duplicate of https://github.com/dotnet/corefx/issues/13422

[2017-01-19 04:05] jkotas commented on #15279
This tests depends on https://github.com/dotnet/coreclr/pull/8853 to pass. The error message suggests that it is running on older CoreCLR that does not contain this change.

[2017-01-19 04:07] jkotas commented on #15279
Dup of https://github.com/dotnet/corefx/issues/15219?

[2017-01-19 04:44] hseok-oh commented on #15215
We can build by
1. build native
`./build-native.sh -buildArch=armel -release -- cross`
2. build CoreFx.Tools
./Tools/msbuild.sh ./src/Tools/CoreFx.Tools/CoreFx.Tools.csproj /v:m /m
3. build managed without packaging
./build-managed.sh -release -BuildPackages=false

But we cannot get nuget package for arm and armel. (or we cannot fix nuget package file's name for other architecture)

[2017-01-19 05:05] ericstj commented on #15110
This was fixed with https://github.com/dotnet/core-setup/commit/a2d19c1921275219fb9322df2dc585195ff0ba12

[2017-01-19 05:05] #15110 closed

[2017-01-19 05:05] ericstj commented on #15109
Fixed with https://github.com/dotnet/core-setup/commit/a2d19c1921275219fb9322df2dc585195ff0ba12

[2017-01-19 05:05] #15109 closed

[2017-01-19 05:23] ericstj commented on #15215
It's trying to fetch the CoreCLR bits and the host (from core-setup) for testing.

@hseok-oh you can just comment [that](https://github.com/dotnet/corefx/blob/master/external/dir.proj#L6) out if you don't want to run the tests.  It shouldn't be needed if all you want to do is build.  Can you try this and see if it works?

@weshaggard @karajas can't we move these external dependencies to the test p

[2017-01-19 05:26] ccpony commented on #2394
Daniel Gerlag is working on a really nice light-weight core-compatible workflow engine here:

https://github.com/danielgerlag/workflow-core

Daniel's has come a long way in a very short period of time.  I would strongly encourage you to look at it and participate in this project if you find merit in it.

[2017-01-19 05:37] ccpony commented on #2394
With all this interest, why not just build a Net Core compatible engine from scratch?

[2017-01-19 06:06] danmosemsft commented on #15309
It's consistent now.

[2017-01-19 06:25] PawelGerr commented on #15224
@davidsh What tooling are you using?

[2017-01-19 06:40] ericstj commented on #15224
Tooling bug.
System.Net.Http.WinHttpHandler depends on System.IO.Compression:
http://www.nuget.org/api/v2/package/System.Net.Http.WinHttpHandler/4.3.0
(extract, inspect nuspec)
[code]

System.IO.Compression has a net46 assembly in it.
http://www.nuget.org/api/v2/package/System.IO.Compression/4.3.0
(extract, inspect contents)
[code]

Try a newer dotnet CLI, if it still repros file a bug in http://g

[2017-01-19 06:57] hseok-oh commented on #15215
@ericstj I can build and get nuget package for ARM by comment out that. But fail for ARM-softfp (armel). It seems to related to build configuration for armel.
[code]

Thanks.

[2017-01-19 07:22] PawelGerr commented on #15224
There is one newer version "1.0.0-rc4-004530" (https://github.com/dotnet/cli) but it is msbuild-based and (as I know) for that I need VS 2017.
Is there another newer version that works with xproj?

[2017-01-19 07:32] jchannon commented on #13309
An ip address

On Thu, 19 Jan 2017 at 02:50, Lakshmi Priya Sekar <notifications@github.com>
wrote:

[2017-01-19 07:46] hseok-oh commented on #15215
I could build ARM-softfp(armel) target by adding `ArchGroups armel` in `src/Tools/GenerateProps/archgroups.props`.
`./build.sh -release -buildArch=armel -runtimeos=tizen.4.0.0`

[2017-01-19 08:09] nietras commented on #15279
Perhaps this might be related to the build warning (clean build from new clone of master), although this is regarding an assembly:
[code]
This happens on restore command:
[code]

[2017-01-19 09:48] iainnicol commented on #14300
I would volunteer to assist @bbowyersmyth in porting some of the Microsoft.VisualBasic assembly, to work on top of netstandard.

However, I would prefer to work from MIT Reference Source (à la #8808) and not MSIL.

Politely pinging @VSadov, @OmarTawfik.

[2017-01-19 13:52] jonpryor commented on #15289
Various replies to an [earlier comment](https://github.com/dotnet/corefx/issues/15289#issuecomment-273624590):

While **getgrnam**(3) returns a pointer into static memory, *managed* use of `Syscall.getgrnam()` uses a managed-side lock, so managed use of the API is thread-safe. (If you're running concurrently with native code that *also* uses **getgrnam**(3), all bets are obviously off, unfortunate

[2017-01-19 14:18] ewinnington commented on #2394
@ccpony Because you can use CoreWF on dot net core right now ->  https://github.com/dmetzgar/corewf . The central components are ported and work. A few things are waiting for .net standard 2.0.

[2017-01-19 15:20] #15278 closed

[2017-01-19 15:25] RandyBuchholz opened #15320 "Tuple in List<T> Creates Extra Values"
### Issue
When I create a list of tuples it is adding additional items to the list. These aren't showing in the list, only the debugger.

### Example
[code]
In the debugger, it shows a list containing eight values, though the count says five.

![image](https://cloud.githubusercontent.com/assets/13967891/22112489/b7ef3692-de28-11e6-86e7-39b47d41c4f0.png)

[2017-01-19 15:28] ericstj commented on #15215
@hseok-oh, that looks correct.  I went ahead and made a PR to do this as well as add the RID-specific packages for all the RIDs added by @chunseoklee.  https://github.com/dotnet/corefx/pull/15321

Let's let this issue track the dependency on CoreCLR & Host from the build phase.

[2017-01-19 15:38] dluxfordhpf commented on #11100
Woo hoo!  Thanks guys!

David Luxford
Senior Software Engineer
Home Point Financial Corporation
1194 Oak Valley Dr Ste 80
Ann Arbor, MI 48108
Work Phone:  (734) 256-4038
Email: dluxford@homepointfinancial.com
www.homepointfinancial.com

This email message, including any attachments (&ldquo;Message&rdquo;) is intended solely for the use of the intended recipient(s) and may contain information that

[2017-01-19 15:41] epa opened #15322 "Feature: Stack.TryPeek and TryPop"
The `Stack<T>` class should add methods `bool TryPeek(out T value)` and `bool TryPop(out T value)`.

In ordinary usage, these would only be a small improvement in clarity (and perhaps, marginally, in performance) compared to manually checking `Count()` and then calling `Peek()` or `Pop()`.  But they would be very useful to have to make the interface closer to that of `ConcurrentStack`.  Then if yo

[2017-01-19 16:05] steveharter commented on #6302
I'll start on this later today.

[2017-01-19 16:09] sivarv commented on #15309
@mellinoe - there are many codegen changes both on Unix and Windows of recent.
Any idea of the CoreCLR last known drop (or commit) against which these tests are known to be working?

[2017-01-19 16:15] danmosemsft commented on #6302
Steve I already added the logging. Thanks!

[2017-01-19 16:37] ccpony commented on #2394
@ewinnington Thanks for responding, but I'm not getting this.  WF was not a successful MS product and MS has done nothing to enhance it for years.  The community is replete with testimonies of tried-and-failed implementations.  It has not been widely adopted in the enterprise.  It is unwieldy, over-featured, difficult to learn and (still) buggy.  It's interface is widely maligned.  It failed to be

[2017-01-19 16:38] stephentoub commented on #15320
You're seeing the underlying array used by the list, which may be larger than the actual number of entries stored in the list.

[2017-01-19 16:43] RandyBuchholz commented on #15320
Ah, should have known that.

[2017-01-19 16:43] #15320 closed

[2017-01-19 16:46] dmetzgar commented on #2394
@ccpony Thanks for sharing your opinion. Would you mind elaborating on what bugs you're referring to? If there's something we can do to fix issues in the .NET Framework, I'd be happy to know.

[2017-01-19 16:46] karelz commented on #15322
It is already part of .NET Core -- added in #12047 on 2016/9/29

[2017-01-19 16:46] #15322 closed

[2017-01-19 16:47] karelz commented on #15322
See the API discussion here: https://github.com/dotnet/corefx/issues/4316#issuecomment-245036426

[2017-01-19 16:54] eerhardt commented on #15289
...encoding

.NET Core's System.IO also ignores this problem.  On the managed side, [the DllImport uses `string`](https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/Unix/System.Native/Interop.Open.cs#L13) and [`const char*` on the native C side](https://github.com/dotnet/corefx/blob/732d65134d71b95763da643fd93fbeeef6ebcb97/src/Native/Unix/System.Native/pal_io.h#L312).
My thought i

[2017-01-19 16:54] weshaggard opened #15323 "Update the adding APIs guide"
We need to update https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md based on the new engineering changes.

[2017-01-19 16:54] CarolEidt commented on #15309
It would also be useful to know what version these are currently being tested with.

[2017-01-19 17:08] karelz commented on #14059
The PR #14123 by @AlexRadch seems to be abandoned. Unassigning the issue - it is "up for grabs" again, available for anyone to pick up. Just ping the issue if you plan to work on it.

[2017-01-19 17:10] karelz commented on #3482
The PR #14521 seems to be abandoned. Unassigning the issue - is it again "up for grabs" for anyone to pick up.

[2017-01-19 17:11] davidsh commented on #15224
In terms of Visual Studio tooling, I am using Visual Studio 2015 with Update 3.

And I still don't understand the repro here.  When you create a new .NET Core application, the project.json file should contain 'netcoreapp1.0' references.  It doesn't have 'net46' references in it.  That is usually only for when you build a library (DLL) that needs to be used across multiple scenarios such as netcore

[2017-01-19 17:13] karelz commented on #13746
The PR #14621 seems to be abandoned. Unassigning the issue - it is again "up for grabs", for anyone to pick it up and finish.

[2017-01-19 17:16] karelz commented on #13800
The PR #14623 seems to be abandoned. Unassinging the issue - it is "up for grabs" again, available for anyone to pick it up and finish it.

[2017-01-19 17:19] karelz commented on #5552
The PR #14641 seems to be abandoned. Unassigning the issue - it is again "up for grabs", available for anyone to pick it up and finish it.

[2017-01-19 17:31] ccpony commented on #2394
@dmetzgar Thank for responding, Dustin. During the period of time that was trying to develop WF applications, I did encounter bugs.  Not just unexpected behaviors, but there were several times that a complex WF would "blow up" and generate errors in the XAML UI that were difficult to fix in the XAML code.  I never really developed a great confidence in the WF technology.  Really, it just got to th

[2017-01-19 17:35] stephentoub commented on #15309
@CarolEidt, @sivarv, @mellinoe, the tests are consistently passing on CentOS and OSX (CoreFx and CoreCLR release) on CoreCLR build beta-24917-03.  The tests are consistently seg fault on CentOS and OSX (CoreFx and CoreCLR release) on CoreCLR build beta-24919-01.  Looks like the tests also pass on beta-24919-01 on CoreFx Debug / CoreCLR Release (which would support the issue being related to optimi

[2017-01-19 17:38] karelz commented on #6073
The PR #14276 seems to be abandoned. Unassigning this issue - it is "up for grabs" again, available for anyone to pick it up.

[2017-01-19 17:40] galvesribeiro commented on #2394
@ccpony The discussion in this topic is to support WF .Net Standard and not the opposite.

Just curious... Have you ever used or saw a Sharepoint deployment in action? If you do, you will see that it is really heavily on WF. Have you ever saw a BizTalk deployment? The same.

Those are major MSFT products in enterprise world, so yes, there are users that care about WF and there is usage for it. It

[2017-01-19 17:40] PawelGerr commented on #15224
That's the case. I have a lib that supports both netstandard and net46. Furthermore, I have 2 executable projects, 1 netcoreapp-only project and 1 net46-only project, referencing the lib. Netcoreapp works without problems, net46 doesn't.

I tried to keep the repro as minimal as possible thats why I changed the project.json the way it is.
WinHttpHandler works as expected having netcoreapp thas why

[2017-01-19 17:41] karelz commented on #6073
It looks like we got consensus on the design of `IQueryable` companion APIs. Can someone please produce the full API shape for `IQueryable`? -- Basically list of ALL `IQueryable` APIs (incl. which type they will live in - `Queryable`?) based on what @MadsTorgersen suggested above:
[code]

[2017-01-19 17:44] davidsh commented on #15224
I think making that manual change to the project.json creates an unsupported configuration.

Can you re-craft the repro scenario with instructions for re-creating it from scratch (i.e. steps in Visual Studio etc.?  That would allow us to investigate it and keep it mapped to supported scenarios.

[2017-01-19 18:03] ccpony commented on #2394
@galvesribeiro I get your point.  Yes, I have written SharePoint deployments.  And I HAVE seen BizTalk deployments in action ( * shutter *).  I understand the relationship between SharePoint and WF.  (I don't know what you mean when you suggest that BizTalk somehow relies on WF.  It doesn't.)

But I do have to disagree with you on one important point: WF **IS** a forsaken/dropped project.  I truly

[2017-01-19 18:20] InariTheFox commented on #2394
@ccpony I would like to remind you that there are numerous people here who are actively seeking to see this project come to life, and some are actually putting time in to making it happen. While you personally may view WF as a failed product from Microsoft, it continues to remain a part of .NET and is used by more than just us here.

This thread should be for constructive criticism and input in to

[2017-01-19 18:22] ianhays commented on #2089
@jay98014 has a PR up here https://github.com/dotnet/corefx/pull/15324 to add further support and get Protocols/AccountManagement building.

[2017-01-19 18:25] galvesribeiro commented on #2394
@ccpony

Sorry, I express myself badly (I'm on mobile). I had application which use both together and I know much other which does as well.

I'm not saying it will. I'm saying that the team who work with WF Today, is totally focused on support Sharepoint deployments. Even the latest version of Sharepoint are using the same/current version of WF.

I'm not saying it will affect Sharepoint's future.

[2017-01-19 18:26] joperezr commented on #15274
I don't think so. @ericstj and I believe that the issue was on the CLI's new assembly loading logic, but the error might as well be somewhere else, so we didn't yet have enough info to log an issue of why do we think this is happening.

[2017-01-19 18:34] eerhardt commented on #15289
My opinion is `getgrnam_r` provides for all the same use cases.  So unless there is a scenario that can only be achieved by calling `getgrnam`, we shouldn't expose the API. We can add it later, if deemed necessary. But if we add it now, it can't be taken away.

Whatever is done, we should keep the larger picture in mind.

100% agreed. My current thinking is these low-level, native APIs go in `Syst

[2017-01-19 18:37] joperezr commented on #14582
This was fixed by #14663

[2017-01-19 18:37] #14582 closed

[2017-01-19 18:38] sivarv commented on #15309
CC @dotnet/jit-contrib

As per @stephentoub this issue is not hit with 17th Jan CoreCLR master bits.  Looks like this segfault issue (on CentOS and CoreCLR)  is caused or exposed by recent check-ins in the last two days.

[2017-01-19 18:43] stephentoub commented on #15309
The CoreCLR bits currently used in master were built from this commit:
https://github.com/dotnet/coreclr/commit/03da00
so it would have been something after that.  The auto-update PR https://github.com/dotnet/corefx/pull/15262 is attempting to move beyond that and is the one experiencing these release failures on OSX and CentOS legs consistently.

[2017-01-19 18:47] CarolEidt commented on #15309
@stephentoub @mellinoe - I've rebuilt in coreclr (been awhile since I did anything in my linux repos), and am now building corefx. Can someone remind me how to run just the System.Numerics.Vectors tests?

[2017-01-19 18:52] mellinoe commented on #15309
@CarolEidt After you've run `build.cmd` once (and it has completed), you can run `msbuild src/System.Numerics.Vectors/tests/System.Numerics.Vectors.Tests.csproj /t:rebuildandtest`. If you want to use a custom clrjit.dll, you should be able to copy it to `Tools/testdotnetcli/shared/Microsoft.NETCore.App/9.9.9` (once you've built/run any test once).

[2017-01-19 18:54] CarolEidt commented on #15309
@mellinoe - But that doesn't work on unix does it?

[2017-01-19 18:55] danmosemsft commented on #15279
As of now, tests in CoreFX seem to be running on CoreCLR from 03da007 from Jan 17th (it comes out of C:\git\corefx.dan\Tools\testdotnetcli\shared\Microsoft.NETCore.App\9.9.9\System.Private.CoreLib.dll). That should contain 163983e.

Also, this passes on my machine. @stephentoub does it fail locally for you?

[2017-01-19 18:55] sepidehMS commented on #13299
Reopening. Happened again [here](https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/2276/testReport/junit/System.Net.Sockets.Tests/DualModeBeginConnectToIPAddress/BeginConnectV4IPAddressToV6Host_Fails/) on centos7.1 Debug

[code]

[2017-01-19 18:55] danmosemsft commented on #15219
As of now, tests in CoreFX seem to be running on CoreCLR from 03da007 from Jan 17th (it comes out of C:\git\corefx.dan\Tools\testdotnetcli\shared\Microsoft.NETCore.App\9.9.9\System.Private.CoreLib.dll).

[2017-01-19 18:55] mellinoe commented on #15309
@CarolEidt Yes, sorry, I just edited the message. The same general steps should work on Linux.

[2017-01-19 19:00] ccpony commented on #2394
Ok.  I see the passions here.  Actually, if there was a good replacement to WF that addresses all the problems that I mentioned before, we wouldn't be having this conversation.  For the record, a lot of us have walked away from WF and have waited in vein for the next thing to come along.  It never did.  To the best of my knowledge, there is NO current, supported, functional, .Net-based workflow/st

[2017-01-19 19:02] orosandrei commented on #2394
I think that there are many products / companies out there that made WF central to their product strategy, it is not just a Sharepoint dependency in support mode: at my current company we developed an automation platform with WF being the central tech (and I know other 2 competitors from this market that also use WF in their products); also I've discussed with people who use it in insurtech.. so I

[2017-01-19 19:03] CarolEidt commented on #15309
@mellinoe Does msbuild run on linux? If so, where does one find it?

[2017-01-19 19:08] mellinoe commented on #15309
@CarolEidt We download a toolset that we end up placing into the `Tools` directory in the root (this is part of `init-tools.sh`. We have a helper script called `Tools/msbuild.sh` which will invoke MSBuild for you on Linux. I edited the post above with the exact command you can run.

[2017-01-19 19:10] stephentoub commented on #15309
Also, just to make sure it's clear, the tests are _not_ seg faulting on Ubuntu (at least not on the 14.04 version that's used in CI), only on CentOS and OSX.

[2017-01-19 19:18] #14332 closed

[2017-01-19 19:18] #14333 closed

[2017-01-19 19:27] kernelcutter commented on #2394
We and our customers rely on WF and we would dearly love to see it working on the client as well as server.  A WF free of XAML and other dependencies, designed to be lightweight but with the expressiveness of the existing WF that is also community supported with MS would be an exciting and valuable product indeed.

[2017-01-19 19:28] ccpony commented on #2394
Once again, please allow me to ask:  what does one do with @dmetzgar's port to give it a run?  What is the current status?

[2017-01-19 19:38] kernelcutter commented on #2394
I didn't know @dmetzgar's port was actually usable in its current incarnation...

[2017-01-19 19:40] #14439 closed

[2017-01-19 19:41] ccpony commented on #2394
From @ewinnington, above:

"Because you can use CoreWF on dot net core right now -> https://github.com/dmetzgar/corewf . The central components are ported and work. A few things are waiting for .net standard 2.0."

[2017-01-19 19:45] kernelcutter commented on #2394
In which case I too would like to hear of its use...

[2017-01-19 19:48] galvesribeiro commented on #2394
Yes, it is the barebones of core functionality. You can run code-based workflows. The missing features from `netstandard2.0` are mostly related to transactions support.

That is more one reason I still suggest to start it open and make people contribute to a central place. Having it spread will make things even more difficult to reach in a final product someday in the future.

[2017-01-19 19:54] fiigii opened #15328 "Out of date comments in System.Numerics.Vectors"
There is a comment at the beginning of  Vectors.cs [https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L22-L32](url)

    *    if (Vector.IsHardwareAccelerated) { ... }
    *    else { ... }
    * EXPLANATION
    *    This pattern solves two problems:
    *        1. Allows us to unroll loops when we know the size (when no hardware acceleration i

[2017-01-19 19:56] jonpryor commented on #15289
The only reason that comes to mind, and the reason I bound `getgrnam()` in Mono.Unix, is that it's *plausible* that some random Unix platform you're trying to run on won't support the `getgrnam_r()` variant. (This is arguably a stupid reason, and maybe one should instead get a more recent OS, but that was the inane rationale. ;-)

Mono.Unix.Native has been using `ulong` for `size_t` for *years*, a

[2017-01-19 19:56] nietras opened #15329 "Proposal: Add Sort(...) extension methods for Span<T>"
Currently, there is no way to sort native or fixed memory (e.g. coming from a pointer) in .NET, this proposal intends to fix that by adding sorting extension methods to `Span<T>`, but also proposes some different overloads than seen on `Array` to allow for inlined comparisons via the possibility to use value type comparers.

### Proposed API
Add a set of `Sort` extension methods to `Span<T>` in `S

[2017-01-19 20:02] jkotas commented on #15329
These should be extension methods. They are in same category as the other similar methods being added: https://github.com/dotnet/corefx/pull/13854

cc @KrzysztofCwalina

[2017-01-19 20:07] nietras commented on #15329
Ok, would this not mean any optimizations specific to native/managed memory would not be possible as directly as when they are members? Not sure it has such big a relevance since sorting can be done on `ref`s, but not everything is possible with `ref`s as with pointers. Anyway, if you think this should not be an issue I will update the proposal.

[2017-01-19 20:08] nietras commented on #15329
Another concern, is generic type inference which in C# is not always working so well with many generic parameters... not that I can think of a specific case for the proposed API though, but in the face of implicit conversions or similar it is often lacking.

[2017-01-19 20:09] jonpryor commented on #15289
The problem with `byte*` overloads is that they *will* be *painful* to use. You either have an extra `Marshal.StringToHGlobalAnsi()` + `Marshal.FreeHGlobal()` around everything dealing with paths, plus the required `try`/`catch` to avoid memory leaks in case of exceptions...or you stick with `string`s and have this filename marshaling corner case.

...or go with the Mono.Unix approach of a custom

[2017-01-19 20:11] krwq opened #15330 "Fast creating and removing files and directories causes UnauthorizedAccessException or DirectoryNotFoundException"
When quickly creating and removing files exceptions are being thrown

Repro:
[code]

This has reproed both on coreclr and Desktop - usually between 100-500 iterations (Ocassionally couple thousand)
OS: Windows 10

[2017-01-19 20:17] corivera commented on #14978
Looks like the Non-Windows version of SqlClient is opening connections serially for MSF, since some of the Linux networking APIs were missing at the time the change was made.
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L191

[2017-01-19 20:18] corivera opened #15331 "SqlClient: Enable parallel connection opens for MultiSubnetFailover on Unix"
Looks like Unix networking APIs for connecting to multiple IP addresses simultaneously were not available when MultiSubnetFailover was implemented in CoreFx SqlClient.

https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNITcpHandle.cs#L191

[2017-01-19 20:19] billwert opened #15332 "Missing methods in Microsoft.Win32.Registry"
In a porting project I'm working on I noticed RegistryKey.Close is not in the surface area right now. It should come back. It's also useful to generally diff the Microsoft.Win32.Registry types with desktop.

[2017-01-19 20:23] Priya91 opened #15333 "Update libcurl package on Centos outerloop image to latest version"
libcurl version on centos image in Jenkins is 7.29.0, and the other Unix Oses use 7.35.0. There are some sslprotocol tests failing consistently with SSL connect error due to this. Verified locally that updating the curl version doesn't cause the test failure.

This is currently causing Centos Outerloop runs to be red. So marking with blocking-ci tag.

cc @karelz @steveharter

[2017-01-19 20:28] stephentoub commented on #15333
Since we don't ship a libcurl with .NET Core, we rely on whatever libcurl is available by default on the target OS.  Unless we change that policy, I worry about changing our CI system to use a different version of libcurl than the one everyone else will be using by default on that target OS.  If there's an issue we're consistently hitting in CI on that OS with that version of libcurl, we should fi

[2017-01-19 20:30] jamesgibbs100 commented on #14978
Hi @corivera

Thank you for progressing this - it is consistent with what i was observing.

So, firstly, are those API's now in place ? and secondly, if so, how can I obtain some kind of patch ?

_[Even without them wouldn't the for loop be capable of being run in parallel to resolve the first successful open and ignore others?]_

As I mentioned at the start of this thread, I am trying to get into

[2017-01-19 20:40] danielgerlag commented on #2394
https://github.com/danielgerlag/workflow-core

[2017-01-19 20:40] corivera commented on #14978
@saurabh500 what are our patch options for delivering a fix?

[2017-01-19 20:43] justinvp commented on #14337
FYI, I went ahead and grabbed this.

[2017-01-19 20:46] mellinoe commented on #15328
I believe what you've said about reflection is true, @sivarv do you recall whether this behavior changed at some point, or has the comment always been inaccurate? I know we added these safety codepaths because we were specifically concerned about methods called through reflection being treated differently.

This is a good point regarding the current x64 support. On the other hand, we are striving

[2017-01-19 21:02] davidsh commented on #15096
The end result of calling either is that the HttpContent object is copied (written out to) a destination stream.

However, in most cases and depending on the actual derived `HttpContent` class, calling `HttpContent.CopyToAsync` is going to be more efficient than calling `HttpContent.GetStreamAsync().CopyToAsync()`

In the latter case, it needs to do a stream-to-stream copy.  And depending on the a

[2017-01-19 21:06] tintoy commented on #15096
Ok, that makes sense. I'm closing this issue then, because I'm pretty sure I understand why I was seeing the behaviour described.

Thanks for taking the time to write such a detailed explanation - it's been very helpful :)

[2017-01-19 21:06] #15096 closed

[2017-01-19 21:07] weshaggard commented on #14582
@joperezr Do we know if the configurations are correct? I suspect we still have more tweaking to do on the configurations, but we can uses other issues to track that.

[2017-01-19 21:10] darxis commented on #15332
Would simply adding the following method to the Microsoft.Win32.RegistryKey class resolve this issue?

[code]

[2017-01-19 21:12] billwert commented on #15332
It's a good start! I don't know offhand if there are more; @weshaggard has a differ handy I don't, so I didn't dig in further.

[2017-01-19 21:13] weshaggard commented on #15332
It would require adding that method to both the ref and the src. However we should also diff the full API surface and try and fill in any other gaps.

[2017-01-19 21:20] danmosemsft commented on #14337
Sounds good @justinvp !

[2017-01-19 21:20] danmosemsft commented on #15332
Bigger pass is tracked by https://github.com/dotnet/corefx/issues/15255

[2017-01-19 21:21] danmosemsft commented on #15255
This isn't stricly blocking release but it's important to our compat goal so it really should happen.

[2017-01-19 21:23] darxis commented on #15332
I could take a look at the API differences for the Registry types:
- Registry
- RegistryKey

[2017-01-19 21:41] karelz commented on #14978
@corivera does it depend on .NET Standard 2.0 APIs?

[2017-01-19 21:46] darxis commented on #15332
So, based on the https://raw.githubusercontent.com/dotnet/corefx/master/src/shims/ApiCompatBaseline.netfx461.txt file, these are the differences:

### Missing types
[code]

### Missing members
[code]

### Different inheritance
[code]

Half of the missing method's require the RegistryKeyPermissionCheck parameter. We should firstly decide, whether we exclude this type, or not.

[2017-01-19 21:51] ericstj opened #15337 "System.IO.IsolatedStroage brings System.IO.FileSystem.AccessControl into NETCore.App"
See https://github.com/dotnet/corefx/pull/15313#pullrequestreview-17504675

It's undesireable to have this in NETCore.App.  Consider copying the code used System.IO.FileSystem.AccessControl instead.

/cc @weshaggard

[2017-01-19 21:51] #15083 closed

[2017-01-19 21:54] karelz commented on #15333
My understanding is that packaging your dependencies with your product is rather common case in Linux world (unlike in Windows). Is that something we should start considering for libcurl?
cc: @janvorli @gkhanna79

[2017-01-19 22:00] fiigii commented on #15328
Thank you for the reply @mellinoe .Originally,  I just wanted to make sure the behavior of SIMD intrinsics in reflection calls because my experiments maybe do not cover all situations. Your answer is very clear to me.

Additionally,  I recommend to update this comment with more details about general fallback implementation patterns.
For example, when are the unrolled fallbacks called? when do the

[2017-01-19 22:16] sivarv commented on #15328
@mellinoe @fiigii - I am not sure that I understand why it the following pattern is useless to guard against reflection invocation of a SIMD method.

[code]

Say DotProduct method is called on Vector<float> through reflection.  DotProduct method IL will get jitted, because in the caller method JIT will not recognize a method call via reflection as an intrinsic. Since that method IL has the above i

[2017-01-19 22:58] ericstj opened #15339 "Ensure we run UAP pinvoke checks regardless of TargetGroup"
Previously we'd only check pinvokes if a library specifically targeted UAP.  That would miss the case where a netstandard build would be applicable.

We should change this to run whenever the buildvertical is UAP.  EG: _bc_TargetGroup == uap || _bc_TargetGroup == uapaot.

[2017-01-19 23:32] jamesqo commented on #6073
@karelz One thing to consider, btw, is whether we should use camelcase or pascal case for the tuple's element names, e.g. `(bool success, T value)` or `(bool Success, T Value)`. I'm not sure if there's an established convention for that yet.

[2017-01-19 23:49] jnm2 commented on #6073
Tuples have argument list semantics rather than structure semantics. IMO the more that logic about tuple values is distributive to each individual value, the better. If you wouldn't pascal-case arguments or multiple return values (if we had those), you probably shouldn't pascal-case tuple element names.

[2017-01-19 23:52] joperezr commented on #14582
Agreed, I believe we'll find a bunch of configs that need some tweeks, but I thought the purpose of this issue was more to track the original creation of those props files.

[2017-01-20 00:29] jamesqo commented on #15301
@danmosemsft I did try using Process Monitor to look at the path before, and nothing came up. I could have done something wrong though (I had just downloaded the program).

[2017-01-20 01:26] fiigii commented on #15328
@sivarv @mellinoe Sorry, there was something wrong in my experiments. I ran them again, and I detected that the method body of DotProduct indeed can by called in reflection. However, other SIMD intrinsics are not. Here is my experiment steps:
1. Pick up a SIMD intrinsic to change its fallback in Vector.cs. Here I selected "Abs", and changed its "safety codepath" to return Zero vector always. So if

[2017-01-20 02:04] #14298 closed

[2017-01-20 06:26] Jiayili1 opened #15348 "Span: Win7 Outer Loop test failures in System.SpanTests.SpanTests.ClearNativeLongerThanUintMaxValueBytes"
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_win7_release/lastFailedBuild/consoleText

Message:
[code]

Stack Trace:
[code]

Configuration:
OuterLoop_Windows7_release (build#72)

[2017-01-20 09:20] varocarbas commented on #6308
And "someone" has tagged my last post as funny?! Seriously why these stupid kids are constantly around me? Don't they have enough with their easy jobs, with their bunch of stupid followers repeating the last sentence which their idol of that moment said, with their never-worked-for-it benefits, with their fake and over-protected lives and knowledge?

Why are these "people" so interested in me? Am

[2017-01-20 09:49] paalmoest commented on #13422
@saurabh500 Any status or workaround on this issue ?

[2017-01-20 13:55] PawelGerr commented on #15224
@davidsh @ericstj
It really is a tooling/nuget problem. As soon as I add `NETStandard.Library` to `dependencies` then everything works as expected.

[code]

[2017-01-20 14:23] ViktorHofer commented on #15098
Starting today and hope to finish before TechReady 👨‍💻

[2017-01-20 15:59] somewhatabstract commented on #13526
I know that we would use this extensively in PowerShell scripts for builds and deployments, both locally in our dev environments and on CI servers. It would also be incredibly helpful to us in our production deployments. We work in healthcare and being able to tag versions with metadata would be very helpful in tracking what has been deployed to which customers and in turn, using that for audit lo

[2017-01-20 16:28] davidein commented on #13422
Only thing I know is you can wait until late into April for version 2.0 or use something other than MS Sql Server.

[2017-01-20 16:34] migueldeicaza commented on #15289
There is no reason to create a new API when a perfectly working, debugged, battle-tested version exists already in the form of Mono.Posix.

There are no good reasons to not use the existing Mono.Posix:

Not worth creating a different API for that reason.

It does not hurt anyone.   Nothing prevents us from using `[Obsolete]` to give better guidance to our users.

Not a reason to not bring it.   A

[2017-01-20 17:20] ericstj commented on #14594
Here's what I'm planning:

Instead of "binplacing" to a package location as we do today, instead we will write a text file to the same location.  The text file will contain a list of files that the project wants to include in packaging.  This will cover the binary, symbols, and source.

Then in the Microsoft.Private.CoreFx.NETCoreApp pacakge, instead of including files by wildcard, we'll read all

[2017-01-20 18:28] davidsh commented on #15224
As a recommendation, if you are building a library to be used by different types of apps/services, etc., it's recommended that you build the library and simply depend on NETStandard.Library.  Then add more things as needed.  By defining your library as dependending on NETStandard, you are automatically making it compatible with everything including 'net46'.  That's because NETStandard 1.6, for exa

[2017-01-20 19:22] Priya91 commented on #15209
@deinok You can refer to API proposal process [here](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-01-20 19:26] Priya91 commented on #15208
@Vicher Closing the issue per @davidsh comment.

[2017-01-20 19:26] #15208 closed

[2017-01-20 19:32] ericstj commented on #14594
We'll still need to think about how we aggregate the symbol packages into the NETCore.App flat packages in core-setup.

@dagood : do you have any pointers for how to fetch symbol packages?

Whatever we do we'll also need to make sure that works for `vertical build, EG: don't exclusively depend on HTTP GET's to nuget feed.  /cc @ellismg

[2017-01-20 19:49] #14690 closed

[2017-01-20 20:23] dagood commented on #14594
There's no common NuGet way, unfortunately: symbol packages are a NuGet feature, but there isn't any typical way to get them back from a server. MyGet only makes symbol packages available through the HTTP GETs you mentioned, and in internal builds that need symbol packages, the first choice is to use a VSTS Drop to transfer them.

There is a potential base case, though: `nuget restore` restores sy

[2017-01-20 20:56] ericstj commented on #14594
Does MyGet expose a feed with only symbol packages?

[2017-01-20 21:07] dagood commented on #14594
They don't, but I could see that being a reasonable ask. We could also publish the symbol packages to an additional feed, if not.

My concern with isolation is mostly about the caches and accidentally poisoning an unrelated build, but I suppose we should be able to trust `--no-cache`.

[2017-01-20 21:28] shmao opened #15355 "Area-Serialization Sprint 113"
The issue is for tracking issues to be done in sprint 113 (due by 2/10/2017).

[2017-01-20 21:37] shmao opened #15356 "Add More Tests for XmlSerializer Supporting Varied Types in SOAP"
Now we are using reflection based serialization to read/write types into/from Soap-encoded messages. We need to add more tests covering more kinds of types.

[2017-01-20 22:29] jamesgibbs100 commented on #14978
@saurabh500, @corivera @karelz

Gents, as we approach the weekend I was wondering if you had come to any conclusions ?

To @karelz  point :  I don't think so (probably wrong), the SqlClient references 4.1 lib so i doubt that 2.0 is an issue.

I'm hoping that you have a larger plan here to ensure that the Linux client doesn't become be a second class citizen ??

Either way - it would be great to un

[2017-01-20 22:48] JonHanna commented on #14703
Fixed by #15306

[2017-01-20 22:48] #14703 closed

[2017-01-20 23:34] danmosemsft commented on #6302
@jiangzeng @Jiayili1 when this test fails again please let me know so we can grab the extra logging that 's now added. thanks.

[2017-01-20 23:47] saurabh500 commented on #14978
@jamesgibbs100 We are still investigating the correct fix for this issue.
The fix should be delivered in the next release of .Net Core and we will take through a bar check for the servicing of the v 1.1 version.
In case the release dates doesn't meet your deadlines, would you be willing to build and package a SqlClient binary for linux with the patch till the fix is available in the official feeds

[2017-01-20 23:55] #15089 closed

[2017-01-21 00:58] jamesqo commented on #15301
@danmosemsft Nvm, I thought that Handle was a GUI app like Process Monitor, didn't realize it was actually a command-line program. Here's the output of `handle Tools\`:

[code]