[2017-11-08 04:18] #24941 closed

[2017-11-08 04:23] davidsh commented on #25072
Just looking at the client certificate won't be enough.  We really need a full repro to figure this out.  The exception you're getting is simply a generic TLS/SSL handshake failure.  So, the question is why does it fail?

Looking at the client certificate could help at least determine if the certificate has the proper X509v3 fields set.

This is interesting behavior.  Adding a debugger should not

[2017-11-08 04:33] kchanlee commented on #25072
@davidsh What do you mean by "a smaller repro"? The reproduce steps? Or a smaller code repository that can reproduce the issue?

The latter is already in my first post: https://github.com/kchanlee/HttpMessageHandlerIssue

I will provide more details (binary WireShare capture, client certificate) later.

[2017-11-08 05:11] tuespetre commented on #5360
@YohDeadfall just pushed up the code I've been working with at https://github.com/tuespetre/Multipolar. The data is just randomized arrays. There are a few `.diagsession` files for reference.

[2017-11-08 05:39] kchanlee commented on #25072
@davidsh I have sent you the Wireshark binary captures and my client certificate by email. Given that the server is inside the Azure private VNet, you have no access to it. I will try to ask our ops team to expose it to the public so that you can do trouble-shooting from your computer. Please let me know if you need more information from me.

[2017-11-08 05:53] stephentoub commented on #25088
You'd need to read up on domain sockets.  I'm not sure of what, if any, tradeoffs exist.

[2017-11-08 05:53] #25088 closed

[2017-11-08 06:20] kchanlee commented on #25072
@davidsh update: the server (in my GitHub code) is now exposed to public.

[2017-11-08 06:43] Sunny-pu commented on #23209
failed again in master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171108.01/workItem/System.Net.Http.Functional.Tests/analysis/xunit/System.Net.Http.Functional.Tests.ManagedHandler_HttpClientHandler_DefaultProxyCredentials_Test~2FProxySetViaEnvironmentVariable_DefaultProxyCredentialsUsed(useProxy:%20True)

[2017-11-08 07:22] Sunny-pu commented on #17925
failed again:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171108.02/workItem/System.Data.SqlClient.Tests/analysis/xunit/System.Data.SqlClient.Tests.DiagnosticTest~2FExecuteScalarAsyncErrorTest

[2017-11-08 07:25] Sunny-pu commented on #22087
failed again in 2.0.0 branch, detail:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171108.02/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.DirectoryInfo_EnumDir_str_str~2FPatternTests_DosStarOddSpace(pattern:%20%5C%22*.%5C%22,%20sourceFiles:%20%5B%5C%22foo.%20%5C%22,%20%5C%22foo.%20%20%5C%22,%20%

[2017-11-08 07:44] FransBouma commented on #20903
@karelz

correct :)

Question: I have a PR with the original code / API I wrote for this, that's flagged as not merge etc. Is it better to commit to that PR or delete that PR and create a new one?

[2017-11-08 08:08] Sunny-pu commented on #21857
This issue is repro in 2.0.0 branch, detail:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171108.02/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.FileInfo_Delete~2FUnix_ExistingDirectory_ReadOnlyVolume

[2017-11-08 08:45] aka-STInG opened #25121 "System.Threading.Channels is not compatible with .NETStandard 1.3"
I was using [System.Threading.Tasks.Channels](https://www.nuget.org/packages/System.Threading.Tasks.Channels/) package for project with .NETStandard 1.3 target and was very excited it is on its way to become stable (by moving from corefxlab to corefx repo).
But today I got frustrated that it suddenly dropped support for .NETStandard 1.3 and min possible target is set to .NETStandard 2.0
`Package S

[2017-11-08 08:47] rwatjen commented on #16176
I was just informed by @cijothomas that this works with Application Insights for .NET Core 2.2.0-beta1. (https://github.com/Microsoft/ApplicationInsights-aspnetcore/releases/tag/v2.2.0-beta1)

[2017-11-08 08:49] avireddy02 opened #25122 "Asp.Net Core App restarts when controller return type is void on Exception"
Use the the below code as a controller action.
[code]

Ideally async method should return Task but returning void should not bring the application down.

[2017-11-08 10:04] damageboy commented on #18924
There's a definite need for having support for affinities > 64 processors...
The undelying Windows/Posix APIs do expose these abilities...

I'd love to have that...
![image](https://user-images.githubusercontent.com/125730/32542967-f4caff84-c47c-11e7-9a02-7c7fda4542d9.png)

[2017-11-08 10:55] JimboWei commented on #25058
Yes, the added test cases `AtomEntryPositiveTest` , `AtomFeedPositiveTest `, `RssEntryPositiveTest `, `RssFeedPositiveTest` all used `XmlDictionaryWriter ` in desktop tests.

[2017-11-08 10:56] danmosemsft commented on #25121
@stephentoub

[2017-11-08 11:13] FransBouma commented on #20903
@terrajobst @divega
Refactoring the code now, this method:

[code]

the problem is, the data is stored in a shared resource, so locking (readwritelockslim) is used for its access. This gives a problem with this method, as the enumerator traversing the stream would require a full lock (it can't deal with a write mid-enumeration). Internally projecting the names to a list and returning that is also

[2017-11-08 12:11] stephentoub commented on #25121
The main reason was difficulties in the initial port in getting the packaging right in corefx, but that should be fixable.

[2017-11-08 12:24] ayende commented on #8931
@stephentoub Is there a source with all these values documents?
And will this work in a cross platform manner?

[2017-11-08 12:36] justintubbs commented on #23605
Seems like this package is no longer in the JSON feed at:
https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

Is there another way to get it?

[2017-11-08 12:49] justintubbs commented on #23605
Nevermind, had to run the PowerShell command 2x for some reason...odd

[2017-11-08 12:55] AndersAbel opened #25123 "Make SignedXml.XmlDsigRSASHA256Url etc. public"
In the full framework the constants for the algorithm names (`XmlDsigRSASHA256Url` et. al) are public: http://referencesource.microsoft.com/#System.Security/system/security/cryptography/xml/signedxml.cs,83

In .NET Core they are `internal`: https://github.com/dotnet/corefx/blob/7b7da40c0b509fd902814529cbbd840da7698017/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/Signed

[2017-11-08 13:44] Joe4evr commented on #25122
When you `await` something in an `async void`, the method returns to the caller, but it has no way to capture the context on which it was called. The caller always considers it completed successfully because `void` can't carry any state. So when an exception happens later, it goes off into the wild and brings down the whole process because there's no context to throw it on.

This is ***exactly***

[2017-11-08 14:26] BinaryPatrick commented on #25107
It seems to be the same.
[code]

But is that the correct and expected? Neither seem to fit the documentation.

[2017-11-08 14:26] rlordcardano commented on #24716
Perhaps useful for people struggling with this: the _HasReferenceToSystemRuntime route worked for us as well, the DependsOnSystemRuntime that was mentioned does not.

[2017-11-08 15:38] migueldeicaza commented on #24093
Good catch on the naming, will fix.

There are other small inconsistencies in the provided API, will take a look at fixing those as well.

[2017-11-08 15:53] cijothomas commented on #16176
Yes. If you .net core application is targeting the full .NET Framework, then sql calls should have been automatically monitored.
But if you are targeting .NET Core, then support for this started with 2.2.0-beta1 of the SDK.
https://github.com/Microsoft/ApplicationInsights-aspnetcore/releases/tag/v2.2.0-beta1
You need to explicitly update to the above package, as the version of ApplicationInsights

[2017-11-08 16:14] karelz commented on #25107
@tquerec can you please comment?

[2017-11-08 16:18] karelz commented on #20903
@FransBouma it's up to you what you think is easier for you and PR feedback. New PR might start fresh with new comments and new rebase, so it may be easier overall. But if current PR is very close to final code, I can imagine it will be easier for you to reuse it ...

[2017-11-08 16:33] JonHanna commented on #24093
@migueldeicaza

*Runic* is the adjective, *rune* the noun. All the runic characters are runes.

[2017-11-08 16:39] FransBouma commented on #20903
@karelz I think it's better to use a new PR regardless as the history of the old PR isn't really relevant for this new code. I'll refer to it in the new PR. I lean towards going for the ConcurrentDictionary approach (see previous message) so the previous PR's code isn't close to the final code.

I'll likely make a mistake with rebasing / history squashing as I haven't done that before (once I thin

[2017-11-08 17:41] tannergooding commented on #23519
I've marked this as `api-ready-for-review` as I believe all relevant discussions so far have been made.

This might warrant a special review session, as was done for the original intrinsics proposal, however.

[2017-11-08 17:56] Petermarcu opened #25127 "Unrecognized configuration section system.net in .net core 2"
@techaimail commented on [Wed Nov 08 2017](https://github.com/dotnet/core/issues/1067)

When include system.net section in the application configuration file on .net core 2 throw the following exception. In the API reference mailsettings is supported for SmtpClient.
[code]

[2017-11-08 17:58] andre-ss6 opened #25128 "Provide localization for default error messages in System.ComponentModel.Annotations"
Currently, using attributes like `[Required]` or `[Range(1, 20)]` in ASP.NET Core only gives you english error messages, no matter what culture you set. That is because .NET Core currently only has [one ](https://github.com/dotnet/corefx/tree/master/src/System.ComponentModel.Annotations/src/Resources)(english) resource file. In this [issue ](https://github.com/aspnet/Localization/issues/286), @rya

[2017-11-08 18:01] Pierl0 opened #25129 "EmailAddressAttribute doesn't check email domain"
Hello,
I use the EmailAddressAttribute to check a valid Email stirng, but I've got a validation when a bad email address is given to the method.
[code]

This code return true.

[2017-11-08 18:10] satano commented on #23748
I would take `ConfigurationManager`. It looks really easy. In `GenericEnumConverter` `new Exception` is used to control flow and it can be fully avoided. In `ProtectedConfigurationSection` it is just to decide which exception to throw. I would use `ArgumentException`.

[2017-11-08 18:55] davidsh commented on #25129
Are you referring to this:
https://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.emailaddressattribute(v=vs.110).aspx

Just wanted to understand the exact .NET class you are referring to.

[2017-11-08 18:56] joshfree opened #25132 "Tech Empower Fortunes System.Data perf improvements"
https://www.techempower.com/benchmarks/#section=data-r14&hw=ph&test=fortune

Tracking issue for :
1.	(~10%) Fix system.data.sqlclient!System.Data.ProviderBase.DbConnectionPoolIdentity.GetCurrent on windows to cache the windows identity, or to mimic what Linux does
2. (~4%) There are hot locks in system.data.sqlclient
a.	(2.7%) system.data.sqlclient!System.Data.ProviderBase.DbConnectionPool.Prepare

[2017-11-08 18:57] WinCPP opened #25133 "XPathNavigator returns incorrect Name and LocalName for attribute node after call to ReadAttributeValue method"
Consider the following XML:

[code]
Load the XML string into an `XmlDocument` to obtain an `XPathNavigator`, in turn to obtain `XmlReader`. Navigate to the attribute `xmlns:x` using `XmlReader.MoveToAttribute` API. The `XmlReader` properties `Name`, `Prefix`, `LocalName` respectively return `xmlns:x`, `xmlns` and `x`, which is correct.

While the reader is positioned at the attribute, call `ReadAt

[2017-11-08 19:20] PeterSmithRedmond commented on #25129
Weirdly, testUser@test is a valid email address.  And if you create an email machine call "test" on your local network, you should have no trouble sending email to it.

Email addresses are one of the more convoluted specs.  Looking at RFC [2822](https://tools.ietf.org/html/rfc2822#page-15), testUser@test is an "addr-spec" (section 3.4.1).  An addr-spec is a local-part @ domain.  The domain in turn

[2017-11-08 19:22] davidsh commented on #25072
I took a look at the WireShark traces you sent offline.  I used the filters for IP addresses you mentioned in the README file.  I don't understand, though, why the "TLS Client Hello" is missing from those traces.

Did you take the trace from the client or the server machine?  Either way, why is the TLS Client Hello missing.  I do see the TLS Server Hello in the trace.

The only difference between

[2017-11-08 19:43] #24961 closed

[2017-11-08 19:50] avireddy02 commented on #25122
I did understand async void should not be used.

but in Asp.Net 4.6.1 -Web Api below is the error and its doesn't not Crashing the application

[code]

[2017-11-08 20:50] softwaretecture opened #25135 "Implementation of SecureChannel.cs in .NET Core does not verify client cert issuers"
Problem description:

A Web Api (.NET Core 2.0) is hosted via Kestrel on Windows 10, MobiLinux and Docker.
It's configured in the code to request a client certificate.
Kestrel is configured with a CA issued server certificate and exposes port 443.

Testing
1. A client application written in .NET 4.5-6 uses a self-signed client certificate (using makecert)
2. A client application written in .NET Co

[2017-11-08 20:54] whoisj commented on #24093
Fair as it seems "Cortana: define _'rune'_" comes up with:

[2017-11-08 20:59] karelz commented on #23748
@satano please submit a PR and we can have detailed discussion there ... thanks!

[2017-11-08 21:23] egbertn commented on #23229
This might help ignoring netfx.force.conflicts.
b.t.w. on VS 2017 15.4.3 and 15.4.2 the yellow icons should have been solved.

<compilation debug="true" targetFramework="4.7" >
      <assemblies>
        <remove assembly="netfx.force.conflicts"/>
      </assemblies>
    </compilation>

[2017-11-08 21:27] ahsonkhan commented on #23881
So, what are the next steps for this? #23879 is in progress [here](https://github.com/dotnet/coreclr/pull/14906) and [here](https://github.com/dotnet/corefx/pull/25120)

Do we plan to change DangerousGetPinnableReference to return ref readonly (along with potential rename to GetReference and moving it to MemoryMarshal?

cc @stephentoub

[2017-11-08 21:42] huanwu opened #25138 "Introducing Xml Serializer Generator for .NET Core"
# Introducing Xml Serializer Generator for .NET Core
Like the Xml Serializer Generator (sgen.exe) on desktop, Microsoft.XmlSerializer.Generator NuGet package is the solution for .NET Core and .NET Standard Libraries. It creates an Xml serialization assembly for types contained in an assembly in order to improve the startup performance of Xml serialization when serializing or de-serializing objects

[2017-11-08 21:44] davidsh commented on #25135
Can you confirm what .NET Core / .NET Framework APIs are being used on the client side?  Is this an HTTP API being used (HttpWebRequest, HttpClient)?  Or, is this SslStream?

In terms of HTTP APIs, on .NET Core, HttpWebRequest and HttpClient are using native WinHTTP underneath.  And we have an active issue about issuing the trusted issuers list if sent by the server.

https://github.com/dotnet/cor

[2017-11-08 21:48] davidsh commented on #25135
Also, please confirm what OS is being used for the client.  Is it Windows or Linux?  You mentioned that the server is running on Linux.  But what about the client?  I was assuming it was running on Windows since you are comparing the behavior of .NET Framework.

[2017-11-08 21:49] softwaretecture commented on #25135
.NET 4.52 client
=================
 public static string GetSecureApiResults()
        {
            ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;
            using (var handler = new WebRequestHandler())
            {
                                                                var clientCert = GetCertFromStore();
                handler.ClientCertificates.Add(clientCert);

[2017-11-08 21:54] softwaretecture commented on #25135
The test set up can be reproduced on a single Windows 10 machine as follows:
Server:
Windows 10 -> MobiLinux ->Docker (latest) -> container -> Kestrel (Web Api .NET Core 2.0)
Client:
Windows 10 -> Console App (.NET 4.52/.NET Core 1.1/2.0)

[2017-11-08 21:55] davidsh commented on #25135
Ok.  Thx.  So the behavior difference for Windows client between .NET Framework and .NET Core regarding use (or non-use) of Trusted Issuers List from server is due to #3891.

[2017-11-08 21:59] softwaretecture commented on #25135
Interestingly enough, if the server Web API is hosted on the  same Windows machine (not in Docker), both .NET 4.5 and .NET Core clients work. On Linux .NET 4.5 does not, which prompted us to open an issue with Microsoft about .NET 4.5. Turns out it, it works as expected.

[2017-11-08 22:01] davidsh commented on #25135
The default for modern Windows OS (I think starting in Windows Server 2008 R2, not sure) is by default not to send any Trusted Issuers List at all.  If so, there is no paring down based on that.  Since the Trusted Issuers List could be large, it tends to overflow TLS/SSL packet limits.  So, the tendency is for many servers to not send any such list.

[2017-11-08 22:02] davidsh commented on #25135
See: http://netsekure.org/2011/04/tls-client-authentication-and-trusted-issuers-list/

[2017-11-08 22:04] davidsh commented on #25135
cc: @bartonjs

[2017-11-08 22:05] softwaretecture commented on #25135
Below is some tracing from .NET 4.5

System.Net Information: 0 : [17444] InitializeSecurityContext(In-Buffers count=2, Out-Buffer length=0, returned code=CredentialsNeeded).
    ProcessId=17080
    ThreadId=7
    DateTime=2017-10-27T20:58:10.5900945Z
    Timestamp=18642633601
    Callstack=   at System.Environment.GetStackTrace(Exception e, Boolean needFileInfo)
   at System.Environment.get_StackT

[2017-11-08 22:59] divega commented on #20903
@FransBouma I also think it is ok to switch the implementation to use a `ConcurrentDictionary<string,TValue>`, with `TValue` possibly being a struct that can hold both a reference to the actual factory instance (if has already been resolved) and the metadata necessary to get it (otherwise). Just a few thoughts about this:

- We intentionally left the human-readable name and description fields out

[2017-11-09 00:12] shmao commented on #4561
We just released a preview of the Microsoft.XmlSerializer.Generator package. Please see the [announcement](https://github.com/dotnet/corefx/issues/25138) for more information. Here's the [instructions](https://github.com/dotnet/core/blob/master/samples/xmlserializergenerator-instructions.md) on using the package.

Please feel free to leave comments in #25138 if you have any feedback. We are active

[2017-11-09 00:18] JonHanna commented on #23748
That particular case is one where the `Exception`is immediately caught, so the actual public method does not throw `Exception` as far as observable by users of the API. This might be the case for some of the rest of those above, in which case they are fine.

[2017-11-09 00:26] felixfbecker commented on #20147
I recently added macOS support to ps-nvm, which uses `SetEnvironmentVariable()` to persist a default NodeJS version across shell restarts:

https://github.com/aaronpowell/ps-nvmw/blob/9784e5ada938a7485a6786371ac76b3ed78d37fb/nvm.psm1#L113

The scope argument being present in .netcore and the documentation not mentioning any different behaviour for macOS/Linux, I would have expected it to work on m

[2017-11-09 00:39] joperezr commented on #24694
This proposal looks reasonable and useful. Marking it as ready for review.

[2017-11-09 00:46] stephentoub commented on #8931
I don't know if there's any documentation other than the source:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Tasks/TPLETWProvider.cs

Yes

[2017-11-09 01:53] #8123 closed

[2017-11-09 02:31] kchanlee commented on #25072
@davidsh I took the trace from the client only. Some packets from client to server seemed missing.

 I just sent you the new packets (packets-20171109.zip) by email.

I just had a try and it worked. The captures are in the email attachment.

By the way, the two APIs are exposed to the public now. You can clone the code and have some tests from you computer.

[2017-11-09 03:36] EmmaZhu commented on #22638
@davidsh
Do you have plan to fix this issue? Or would you suggest using Headers.TryGetValues and Headers.GetValues?

[2017-11-09 04:52] owlyowl commented on #14050
I'm getting the Multiple Assemblies with Equivalent Identity

System.Xml.ReaderWriter is included as part of NetStandard.Library's nuget package and another package requires a nuget reference to System.Xml.ReaderWriter assembly version 4.3.0.

This blows up the build (I'm trying to deploy from github) with:

 CSC : error CS1703: Multiple assemblies with equivalent identity have been imported: 'D:\

[2017-11-09 06:00] Anwar-Faiz commented on #7552
The TimeZone exception thrown shows that the API was not unit tested with some negative tests. And, as suggested earlier, an automation test caught it but was ignored or taken as a False Positive.

We Surely need a fix for that. There can be a more crafted attack on the function/API and help crashing the systems.

What is the exception:
If you send undesired or unformatted inputs like "Invalid", "

[2017-11-09 07:23] sherry-ummen opened #25145 "Question: How do we do performance test?"
I had a small conversation with @karelz on the Gitter Coreclr channel. Here is the chat transcript

Hi,
Just wondering how the performance test is done for the core clr

Karel Zikmund @karelz Nov 08 23:05
We have a perf lab with perf test cases. The perf lab and its results is internal only at this moment.
What exactly are you interested in?

@karelz I am more interested in how it’s done. What OS?

[2017-11-09 07:32] Sunny-pu commented on #24133
failed again in 2.0.0 branch:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171108.03/workItem/System.Net.HttpListener.Tests/analysis/xunit/System.Net.Tests.HttpListenerResponseHeadersTests~2FStatusDescription_SetInvalid_ThrowsArgumentException(statusDescription:%20%5C%22%5C%5Cr%5C%22)

[2017-11-09 08:20] karelz commented on #25145
@DrewScoggins @brianrob @valenis can you please help answer the question here?
Did we publish scripts / machine setup instructions we use in perf lab?

[2017-11-09 10:57] Pierl0 commented on #25129
Thanks @PeterSmithRedmond, that could explain my "issue". I found it strange that you could specify with a enum the type of address you want to check. it could be a simple way to distinguish internal vs external address.

@davidsh Yes it is.

[2017-11-09 12:30] sjnorval commented on #25050
I see that this issue has been closed although I don't seem to get how to fix the problem... Please help:
![image](https://user-images.githubusercontent.com/4039677/32605493-4d4b5f22-c55a-11e7-963b-e30bc4ca3b3a.png)

I am using .netFramework 4.7 and I have the following nuget package installed:
![image](https://user-images.githubusercontent.com/4039677/32605570-921a35ce-c55a-11e7-8679-245bf609b2f2

[2017-11-09 13:23] #25129 closed

[2017-11-09 13:45] FransBouma commented on #20903
@divega In the current implementation I don't fill the columns name and description indeed, the returned datatable from `GetFactories` returns the columns for api compatibility but I fill them with string.Empty. If people need these values it's always possible to add overloads in the future, so not a big deal indeed.

Regarding the overwriting of the internal datatable... I've always found that a

[2017-11-09 13:53] softwaretecture commented on #25135
"The default for modern Windows OS (I think starting in Windows Server 2008 R2, not sure) is by default not to send any Trusted Issuers List at all. If so, there is no paring down based on that. Since the Trusted Issuers List could be large, it tends to overflow TLS/SSL packet limits. So, the tendency is for many servers to not send any such list."

Does this mean that Windows 10 doesn't send the

[2017-11-09 13:57] softwaretecture commented on #25072
I would try making sure both the client and server code use the same TLS cipher like:
 ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2017-11-09 14:17] kchanlee commented on #25072
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

@softwaretecture Actually I had tried `handler.SslProtocols = SslProtocols.Default`, `None`, `Ssl2`, `Ssl3`, `Tls`, `Tls11`, `Tls12` one by one, but none of them worked.

[2017-11-09 14:53] softwaretecture commented on #25072
Also, the quality of a certificate on both the server and the client matters. Normally you should not see issues with certs issued by real CAs. Self-signed, especially those without exportable private key are an issue.

[2017-11-09 14:58] softwaretecture commented on #25072
I have the same code in my client and it works as expected in .NET 4.X as well as .NET Core 1-2 with proper certs.
What's the server code doing?

[2017-11-09 15:09] davidsh commented on #25072
FYI:

ServicePointManager is not used on .NET Core.  Setting the .SecurityProtocol field doesn't do anything.

If you need to control TLS/SSL protocols, you use the HttpClientHandler.SslProtocols property.

I looked at the private key and it seems ok in terms of having the right X509v3 fields, etc.

We will need to take advanced SCHANNEL/NCRYPT tracing logs in order to troubleshoot this problem.

[2017-11-09 15:11] davidsh commented on #25135
The DEFAULT for current Windows OS is not send a Trusted Issuers List.  You can change the default, though, using the registry.

See: https://technet.microsoft.com/en-us/library/dn786429(v=ws.11).aspx

[2017-11-09 15:15] softwaretecture commented on #25072
Sorry, that's what I meant. ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12; for .NET 4.X and HttpClientHandler.SslProtocols for Core.

also, here's the server code that works for us:

[code]

[2017-11-09 15:20] softwaretecture commented on #25135
@davidsh That's exactly the answer I was looking for to explain the behavior differences on Windows vs Linux. Thank you for that. I guess issue still remains regarding .NET Core not reacting to the list of issuers on either OS.

[2017-11-09 15:22] davidsh commented on #25135
Yes, Once #3891 is addressed (.NET Core/Windows), it will look at the Trusted Issuers List, if present.

[2017-11-09 16:22] kchanlee commented on #25072
@softwaretecture Thanks for your sample server code, but my target server is Barracuda Web Application Firewall...

@davidsh I found HttpGet with client certificate authentication works well in the same situation.

[2017-11-09 17:04] stephentoub opened #25148 "IndexOutOfRangeExceptions on multiple System.Reflection.Metadata tests in CI on macOS"
https://mc.dot.net/#/user/benaadams/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/80f4db8dc2ef1b73a0dbccc693c0d05b22bcf4eb/workItem/System.Reflection.Metadata.Tests/wilogs
[code]

[2017-11-09 17:07] davidsh commented on #25072
I don't understand this comment.  What is "HttpGet"? Is that a different program?  Or are you talking about doing an HTTP request with the "GET" verb/method?  Was that request using client cert auth as well or not?

[2017-11-09 17:07] VimalKumarS opened #25149 "SqlException: Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'."
I am trying to connect to mssql using integrated security credential, dotnet core 2.0 runtime/sdk, running on Macox 10.12.6, dot net core version 2.0.2
tried setting up kinit, i also see klist - list the credential. tried to  set up open ssl.

got following exception, any pointers

`SqlException: Cannot access Kerberos ticket. Ensure Kerberos has been initialized with 'kinit'. ErrorCode=InternalEr

[2017-11-09 17:10] jherbert commented on #25138
First off, thanks for porting this over. It's really going to help start up time for those of us with huge number of serialized objects. The simplicity of having this within the normal dotnet build is fantastic.

I've successfully got gotten a `*.XmlSerializers.dll` in a hello world type scenario. However when doing a more complex project with `System.ServiceModel.*` dependencies I'm getting this

[2017-11-09 17:13] Petermarcu opened #25150 "TransactionScope Support"
@SoggySocks2 commented on [Thu Nov 09 2017](https://github.com/dotnet/core/issues/1071)

# TransactionScope Support When Not Using EF

Using .NET Core 2.0

I wanted to use MVC for a new project but we don't want to use Enitity Framework since it will be based on an existing, large database used by other products.

However, when using our own business layer which uses TransactionScope, the .NET Cor

[2017-11-09 17:17] tarekgh commented on #7552
@Anwar-Faiz

could you clarify the statement you mentioned ```We Surely need a fix for that. There can be a more crafted attack on the function/API and help crashing the systems.```

What is exactly the attack you are talking about? and what is your suggestion?

Usually, the applications which getting data (e.g. zone names) from external sources has to protect itself when using such data. throwing

[2017-11-09 17:34] davidsh commented on #22638
Do you have plan to fix this issue? Or would you suggest using Headers.TryGetValues and Headers.GetValues?

Not sure at this time.  The properties are currently designed to return RFC-compliant values.  Since the values here in the raw headers are not RFC-compliant, they are not returned in the strongly-typed property right now.  Changing this would alter the current behavior.

[2017-11-09 17:53] shmao commented on #25138
@jherbert Thanks for trying out the tool. I guessed that some types indirectly reference types in System.ServiceModel.Primitives (btw version 4.2.0.0 ships with package 4.4.0). Does any of your types have dependency on any types in the 4 packages you listed above? If so, would you mind sharing the type definition with me? I can take a look. Thanks!

[2017-11-09 18:09] #19722 closed

[2017-11-09 18:10] shmao opened #25153 "Area-Serialization Sprint 127"
The issue is for tracking issues to be done in sprint 127 (due by 11/30/2017)

[2017-11-09 18:13] jherbert commented on #25138
It's code generated using https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService

Attached is Reference.cs which has all of those types.
[Reference.txt](https://github.com/dotnet/corefx/files/1458726/Reference.txt)

Thanks!

[2017-11-09 18:20] huanwu commented on #19728
Same as issue #19720 and #19722, when to import the second type, in the code https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Serialization/XmlReflectionImporter.cs#L713, it will return the mapping for the first type because their type name is same, which is MyXmlType in this case. The fix is to add one more key "fullname" to the NameTable class at huanwu/corefx@5

[2017-11-09 18:20] binki opened #25154 "Document that CancellationToken in Stream.ReadAsync() is advisory"
At https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.readasync?view=netframework-4.7.1 I read:

As described in #15033, this is not true in actual practice. Especially because `NetworkStream.ReadAsync()` ignores the `CancellationToken` altogether.

Thus, I think the documentation for `Stream.ReadAsync()` should be changed to indicate that the parameter is advisory. For code accepting a

[2017-11-09 18:29] stephentoub commented on #25154
In general, cancellation is best-effort / cooperative.  Regardless of the API, there are no guarantees that requesting cancellation will actually force that it happens.

You can submit PRs to improve the .NET docs at https://github.com/dotnet/docs.

[2017-11-09 18:34] shmao commented on #25138
I see. Xml Serializer Generator, like the SGen tool on desktop, does not support generating serializers for . `ServiceContract` or `OperationContract` types. It does not know about WCF. The tool that can generate serializers for WCF services is svcutil.

The good news is that we're actively working on svcutil for .Net Core. And it is exactly for the scenario you mentioned above.

[2017-11-09 18:37] binki commented on #25154
If cancellation is really that optional, then I guess I need to start writing a lot more complex/unreadable code to safely consume things without hanging indefinitely :-/. Especially if it isn’t guaranteed that the things which are cancellable on the framework will also be cancellable in Core or on particular platforms.

If the documentation could identify for me which places I can expect it to ac

[2017-11-09 18:46] jherbert commented on #25138
Ah okay, thank you for taking a look. I guess I was under the impression that svcutil was just for code generation and not for building the XmlSerializers.

Glad to hear that this scenario is on the road map then. Thanks!

[2017-11-09 19:06] shmao commented on #24971
This was fixed after we reset the code base.

[2017-11-09 19:06] #24971 closed

[2017-11-09 19:07] shmao commented on #24666
We have no plan to add async APIs for .Net Core. Closing the issue.

[2017-11-09 19:07] #24666 closed

[2017-11-09 19:07] shmao commented on #24667
We have no plan to add async APIs for .Net Core. Closing the issue.

[2017-11-09 19:07] #24667 closed

[2017-11-09 19:10] shmao opened #25156 "Improve Syndication DateTime Formatter"
We made some improvements on Syndication's DateTimer formatter. After we reset the code base, the improvements were gone. We'd like to bring them back.

[2017-11-09 19:12] shmao commented on #23859
We've released the preview.

[2017-11-09 19:12] #23859 closed

[2017-11-09 19:15] shmao commented on #19727
@huanwu , can you please open a doc issue for the workaround?

[2017-11-09 19:15] #19727 closed

[2017-11-09 19:24] shmao commented on #19728
This is not a supported scenario. Considering the fix is risky, and we're not going to make fix for the issue until we get a strong customer ask.

[2017-11-09 19:24] #19728 closed

[2017-11-09 19:29] #23373 closed

[2017-11-09 19:37] shmao commented on #21724
@huanwu can you please check if we have bug opened for porting the fix to desktop?

[2017-11-09 19:41] satano commented on #23710
Can the PR for this be one for whole codebase, or one PR per project?

[2017-11-09 19:41] shmao commented on #18964
We'd like to add this into the known issue list for .NetStandard 2.0 release notes.

[2017-11-09 19:57] shmao commented on #17437
We just need to verify if our tests already cover the API.

[2017-11-09 20:12] WinCPP commented on #16646
@krwq I have created #25133 for the confusing behavior that I mentioned above...

[2017-11-09 20:32] jkotas opened #25157 "Running test using .net core CLI on Mac crashes"
_From @livarcocc on October 6, 2017 16:16_

_From @Petermarcu on October 6, 2017 16:3_

@m2b commented on [Thu Apr 20 2017](https://github.com/dotnet/core/issues/599)

**Here is the simple test project code**

using System;
using Xunit;

namespace ITVizion.ActionBoard.RepositoryInMemory
{
    public class Test
    {
        [Fact]
        public void Test1()
        {
            Assert.Equal(1,1)

[2017-11-09 20:32] jkotas commented on #25157
_From @livarcocc on October 6, 2017 16:16_

@steveharter can you take a first look? If this is something that belongs in the CLI, please re-activate the CLI bug.

[2017-11-09 20:32] jkotas commented on #25157
_From @Petermarcu on October 6, 2017 16:20_

It looks like the runtime is actually being loaded so it doesn't look like a host issue. Probably not a core-setup issue but perhaps @steveharter can narrow down where its failing and move to corefx if its in libraries or  coreclr if its in the runtime.

[2017-11-09 20:32] jkotas commented on #25157
_From @Petermarcu on October 6, 2017 16:21_

@janvorli in case he can tell from the stack above where the problem likely is.

[2017-11-09 20:32] jkotas commented on #25157
_From @janvorli on October 6, 2017 19:14_

See https://github.com/dotnet/cli/issues/6225 and https://github.com/dotnet/coreclr/issues/12672 for another reports of this issue. See this comment for possible solution:
https://github.com/dotnet/cli/issues/6225#issuecomment-291671376

[2017-11-09 20:32] jkotas commented on #25157
_From @Petermarcu on October 6, 2017 19:18_

So not a runtime issue? Is there a way to detect this and exit early with a good message?

[2017-11-09 20:32] jkotas commented on #25157
This would be change in corefx code that PInvokes into libproc: https://github.com/dotnet/corefx/blob/master/src/Common/src/Interop/OSX/Interop.libproc.cs. It can be wrapped by catch handlers that provide error message customized for the specific case of missing libproc, etc.

[2017-11-09 20:32] jkotas commented on #25157
_From @Petermarcu on November 9, 2017 19:41_

Should we move this bug to corefx there and use it to track making that change?

[2017-11-09 20:43] jkotas commented on #25157
Note that the same problem exists pretty much for any random library that corefx depends on. E.g. https://github.com/dotnet/corefx/issues/14151 was about the same problem for libcurl.

[2017-11-09 20:59] janvorli commented on #25157
I agree with @jkotas, if we want better error message, it should be done in corefx around the usage of that PInvoke.

[2017-11-09 21:29] Petermarcu commented on #25157
Makes sense. I asked @danmosemsft to look at all the BCL dependencies and make sure we have good errors when they are missing. He may have filed an issues to track it. If so, we can tie all these to that one.

[2017-11-09 21:35] stephentoub commented on #25081
I think that change is necessary but not sufficient.  The locking here appears to be problematic, in that the changing of the s_availabilityTimer is covered by the s_subscriberLock lock, but then the invocation covered by the s_availabilityLock lock.  If one thread is removing the last delegate from NetworkAvailabilityChanged at the same time as a socket event arrives and we call s_availabilityTim

[2017-11-09 21:38] #25015 closed

[2017-11-09 21:49] jkotas opened #25159 "Remove forced GC during System.Drawing.Common shutdown"
System.Drawing.Common is forcing GC and waiting for pending finalizers during shutdown: https://github.com/dotnet/corefx/blob/7d3cd2adff8272efcf1bc6e0bf1902de6fd9e8e9/src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs#L95

This is potential reliability and performance and problem. This sequence is only going to collect unreachable objects, and so it is not providing any sort of gua

[2017-11-09 21:50] #25058 closed

[2017-11-09 22:00] danmosemsft commented on #23710
@satano either would work. Grouping into related changes may make it quicker to get through the pr processes.

[2017-11-09 22:02] DrewScoggins commented on #25145
Also tagging @jorive

[2017-11-09 22:03] divega commented on #20903
@FransBouma ok, let me summarize what I believe you are saying, just to confirm:

1. For .NET Core, the implementation will use `ConcurrentDictionary` for storage :+1:
2. For .NET Framework, a future implementation of `GetProviderInvariantName` is still feasible: although it may have to introduce additional synchronization around accessing the DataTable to be safe, it does not seem to be a big con

[2017-11-09 22:21] rianjs opened #25161 "PipeTransmissionMode.Message is not supported on macOS"
Is it on the roadmap?

[code]

[2017-11-09 22:46] mguinness commented on #22369
For anyone else that encounters the following issue, the code below can be used as a workaround.

[code]

[2017-11-09 22:49] stephentoub opened #25162 "Improve Diagnose Api of (Buffered)Channel"
_From @JanEggers on September 23, 2017 9:39_

hi there,

im currently experimenting with System.Threading.Tasks.Channels.Channel.

for perfromance analysis it would be really great if BoundedChannel would be a public type and has properties that express the current buffer fill level.

Right now im using reflection to get that Info but i wonder why you make that an internal. (the info is there via

[2017-11-09 22:49] stephentoub commented on #25162
_From @KrzysztofCwalina on November 9, 2017 20:9_

@stephentoub, is this still relevant? If yes, should we move it to corefx? I would like to remove System.Threadin.Channels issues from corfxlab

[2017-11-09 22:49] stephentoub commented on #25162
It's still relevant (though debatable whether we should do it or not).  Feel free to move it to corefx. Thanks.

[2017-11-09 22:49] stephentoub commented on #25162
_From @KrzysztofCwalina on November 9, 2017 21:51_

@JanEggers, could I please ask you to move this to corefx repo? The component itself was moved there and it would be good to have the issue there as well.

[2017-11-09 22:53] stephentoub commented on #25161
How would it be implemented?

[2017-11-09 23:07] Priya91 opened #25163 "Do not change the request object provided by the user"
It is general implementation policy in other handlers in System.Net.Http, to not modify the HttpRequestMessage object provided by the user through the SendAsync method. In managed handler implementation, this object is modified in several places, revisit this design to minimize altering the request object from user. For more information refer to the conversation in PR #25090

[2017-11-09 23:28] Clockwork-Muse commented on #25154
@binki -
Part of the problem is that cancellation is something inherently susceptible to race conditions.
What happens if you cancel the token, but the runtime is already in the process of throwing an exception?  Or already returning you results?  Or it only checks once a minute, and did just before the token was signaled.
And that assumes the cancellation would happen "immediately" in the first p

[2017-11-09 23:54] davidsh commented on #25072
I have reproduced the failure with client cert negotiation.

The WinHttpException you're getting is due to WinHttpHandler returning error  ERROR_WINHTTP_SECURE_FAILURE (12175).  That is translated from an SCHANNEL error SEC_E_ILLEGAL_MESSAGE (0x80090326).

The error is happening when the server does TLS renegotiation and then requests the client certificate.  A TLS alert is being sent back from th

[2017-11-10 00:37] rianjs commented on #25161
Yeah, someone else has just pointed out that *nix systems don't have a concept of messages, which I didn't know. I guess my question now is [why it's in Netstandard](https://docs.microsoft.com/en-us/dotnet/api/system.io.pipes.pipetransmissionmode?view=netstandard-2.0)? Should it be?

[2017-11-10 01:08] brianrob commented on #24941
No problem.  Glad we were able to resolve this.

[2017-11-10 02:17] #25159 closed

[2017-11-10 02:26] kchanlee commented on #25072
I meant I tried an HTTPS request with "GET" verb/method. "in the same situation" meant (1) to the same URL, (2) the server is asking for the same client certificate for authentication, (3) my .Net Core code is similar and sends the same client certificate

[2017-11-10 03:05] KKhurin opened #25168 "Refactor S.R.Caching ObjectCache.Host tests to be able to run without creating a separate AppDomain"
A handful of tests for System.Runtime.Caching borrowed from Mono are using a separate app domains to test ObjectCache.Host extensibility points. They would need some refactoring before we can run them in Core.

One simple option would be to put each of them into a separate project; another is to combine them all to run once. In my preliminary tests they would add about 2-3% of additional code cove

[2017-11-10 03:27] stephentoub commented on #23485
@Drawaes, how close are you to tackling this one?  Seems like since you've already successfully turned the write path into one that uses tasks and async/await, it should be fairly straightforward?  If you don't think we'll be successful in getting a real fix in quickly, what would you think about putting in a temporary hack that just adds the dummy continuation we saw previously bred most of the w

[2017-11-10 03:40] stephentoub commented on #25161
We try not to subset types, putting some of a type into the standard and some not, as for the not part there's then no way to use that functionality on platforms where it is implemented.  In such cases we've generally opted to include it, try hard to make it work everywhere, and where we can't fall back to either partial implementations or throwing PlatformNotSupportedExceptions; you can then do p

[2017-11-10 08:00] tylerl0706 commented on #25016
I thought it might be related to those but wasn't sure since those didn't mention HttpListener. Is this then a dupe of one of those, you think?

[2017-11-10 09:03] tmds commented on #25016
@tylerl0706 yes, I believe that is the root cause of the issue you are seeing.

[2017-11-10 10:20] FransBouma commented on #20903
@terrajobst  @divega
There's another subtle issue with the API, which only occurs in the CoreFX variant because the CoreFX API allows registering another factory with an already known invariant name. I ran into it when I was refactoring the code to `ConcurrentDictionary<T, U>`.

The method `GetFactory(DataRow)` is problematic. Consider the scenario:

- you register a factory FReal under the invari

[2017-11-10 10:49] jozefizso opened #25171 "System.Threading.Tasks.Dataflow 4.8.0 requires too many packages to install in VS 2015"
We use System.Threading.Tasks.Dataflow library 4.7.0 in VS 2015 project. It is a single library for .NET 4.5

When we upgrade to 4.8.0, it requires a lot of other libraries. This makes is painful to upgrade and to create new deployment and installer for our project because we must now include many unnecessary libraries.

[code]

[2017-11-10 10:59] Ark-kun opened #25172 "[API] Stack constructed from another Stack is not the same as the original."
`Stack<T>` has only only  one copy constructor and it accepts `IEnumerable<T>`.

The constructor does not try to check whether the given collection is another `Stack<T>`. The constructor just enumerates the source stack (in the `Pop()` order) and pushes all values in the new stack.

The result is that the new stack is actually reversed.

I consider this behavior unexpected and an example of bad AP

[2017-11-10 12:53] stephentoub commented on #25171
cc: @weshaggard

[2017-11-10 13:03] JonHanna commented on #25172
It's not really a copy constructor at all though, it's a filling constructor.

If stack did have a copy constructor, then it would be a breaking change upon recompilation, precisely because it would be called by code currently calling the filling constructor, and do so in the reverse order to before the change.

A `Clone()` or similar method could fulfil the use case of producing a copy, without b

[2017-11-10 13:27] Ark-kun commented on #25172
There is an neat rule of thumb that if class constructor accepts instance of the same class, then the resulting instance equals the original instance.

Whenever this rule of thumb is broken, it brings bad surprises to the API users.

I understand that this would never be fixed given the back-compat problems (even though I seriously doubt anyone is constructing stack from stack due to the current "

[2017-11-10 13:32] FransBouma commented on #20903
@divega @terrajobst @karelz
Ok, I have a temp implementation done, with tests which all pass:
https://github.com/FransBouma/corefx/tree/DbConnection_ProviderFactory_19826

If the replies to my (small) questions above are in line with what I have implemented, I'll post a PR from the code, otherwise will change the code to make it match what's decided and then push the PR (after squashing some commi

[2017-11-10 15:43] vanillajonathan opened #25176 "string.Contains should provide a StringComparison parameter"
The `Contains` method of the `String` object currently does not provide any means to perform a case-insensitive string contains operation.

Add a parameter that takes `StringComparison` to the `Contains` method on the `String` object.

## Rationale
The `StartsWith` and `EndsWith` methods provides overloads that accept a `StringComparison` parameter.

[Developers inquire about this](https://stackov

[2017-11-10 15:46] stephentoub commented on #25176
This already exists:
https://github.com/dotnet/coreclr/pull/12400
https://github.com/dotnet/corefx/issues/20846

[2017-11-10 15:46] #25176 closed

[2017-11-10 15:54] LeonardoSobrado opened #25177 "Referencing a standard 2 library with enums from 4.7.1 app doesn't work."
Create a console app targeting 4.7.1 (you can start with a windows app or a netcore 2 app template. Just make sure you target 4.7.1 on both)

Create a helper assembly targeting standard 2.0
reference helper assembly from console app 4.7.1
add a public enum in helper assembly targeting standard 2.0
use public enum in console ap 4.7.1

you will receive error:
2>Program.cs(10,13,10,21): error CS0012:

[2017-11-10 16:11] WinCPP commented on #20669
Hi @tarekgh I got the tests working on my AD LDS setup with the credentials related changes that you mentioned. Just like you mentioned, the tests that make use of "OrganizationalRole" class are failing. I searched the internet to get the ldif files for OrganizationalRole, but looks like I will not find them, probably because they are proprietary...? Don't know. Also I don't have AD Server setup a

[2017-11-10 16:15] LeonardoSobrado commented on #25177
Seems related to this per VS team
https://github.com/Microsoft/msbuild/pull/2567

workaround seems to work: add _HasReferenceToSystemRuntime

[code]

[2017-11-10 16:20] stephentoub commented on #25037
I'm not sure.  Generally infrastructure like docker or jenkins will use SIGTERM rather than SIGQUIT, and if I remember correctly, Jenkins even blocked SIGQUIT signals, hence https://github.com/dotnet/corefx/blob/dd1a1f9b12c177b0f6e3d239d3e9b1961fd1f840/src/System.Console/tests/CancelKeyPress.Unix.cs#L19.

[2017-11-10 16:37] ViktorHofer commented on #25168
why not just off-loading into a different process with RemoteExecutor?

[2017-11-10 16:54] tarekgh commented on #20669
@WinCPP thank you for looking at this issue.

It is better we look for the classes which are common between the server and LDS schema. and then we can update the tests to use these classes instead. we need to ensure. can you do this search? I may be able to help in that early next week too if you get stuck.

[2017-11-10 17:21] weshaggard commented on #25171
@jozefizso any particular reason you are still using VS2015? If you use VS2017 (just verified locally) or a newer version of nuget client (not sure which in VS2015) then this library will have no dependencies when being installed. I can go into details of why if you like but I'm not sure they are interesting.

[2017-11-10 17:31] BladeWise commented on #24832
@danmosemsft @karelz Is the servicing release 2.0.2? Even using .NET Core 2.0.2 I still hit this issue in one ASP.Net Core project, but only when the site is hosted in IIS. If it is hosted in IIS Express, or launched using dotnet CLI I have no issues.

[2017-11-10 17:36] jozefizso commented on #25171
Because Visual Studio 2015 works.

[2017-11-10 17:41] weshaggard commented on #25171
@jozefizso to fix this issue you need newer tools, at least a newer nuget client that understands the latest nuget target framework mappings. Once you have that this should no longer be an issue.

[2017-11-10 17:43] jozefizso commented on #25171
The library does not work on .NET 4.5 anymore?

[2017-11-10 17:49] weshaggard commented on #25171
@jozefizso yes it does work on .NET 4.5. However from your logs `Attempting to gather dependency information for package 'System.Threading.Tasks.Dataflow.4.8.0' with respect to project 'src\Project1', targeting '.NETFramework,Version=v4.6.2'` you are attempt to use it in a .NET 4.6.2 project so it picks a different library in that context.

[2017-11-10 17:50] jozefizso commented on #25171
So the library does not work on .NET 4.6 then?

[2017-11-10 17:53] weshaggard commented on #25171
Yes it should also work on .NET 4.6. I'm not sure I understand what isn't working? From the initial report it is just an issue of extra dependencies being pulled in but the library still works.

[2017-11-10 17:56] jozefizso commented on #25171
We use System.Threading.Tasks.Dataflow.dll 4.7.0 and we must distribute just this single file.

Suddenly, with 4.8.0 we must distribute tens of other libraries in our installer. We must update build scripts, installer packages and integrations tests.

And you suddenly does not support the library in Visual Studio 2015? And just because I use different NuGet client I get completely different refere

[2017-11-10 18:03] jozefizso commented on #25171
Both 4.7.0 and 4.8.0 contains `lib\portable-net45+win8+wpa81\System.Threading.Tasks.Dataflow.dll` file. So why Visual Studio 2015 suddenly cannot use it?

[2017-11-10 18:06] jozefizso commented on #25171
And both libraries have the same .NET Framework references...

![screenshot_111017_070501_pm](https://user-images.githubusercontent.com/287778/32672089-1dad1d5a-c64a-11e7-8f2f-3e303cc64d08.jpg)

[2017-11-10 18:08] jozefizso commented on #25171
And the page https://www.nuget.org/packages/System.Threading.Tasks.Dataflow/4.8.0 says "Requires NuGet 2.8.6 or higher."

So why should I need Visual Studio 2017 and/or newer NuGet client?

[2017-11-10 18:20] weshaggard commented on #25171
The difference between the 4.7.0 and 4.8.0 packages is we started depending on the NETStandard.Library package instead of individual library packages. That was done for good reasons but in some edge cases like yours it ends up adding more dependent packages.

Nuget will only select that library for older PCL based projects. It will prefer the netstandard libraries for other project types like .NET

[2017-11-10 18:26] jozefizso commented on #25171
Using Visual Studio 2015 and .NET 4.5 and 4.6 is an edge case?

[2017-11-10 18:27] jozefizso commented on #25171
Why there is no Visual Studio 2015 Update 4 with newer NuGet client?

[2017-11-10 18:31] danmosemsft commented on #24832
@bladewise 2.0.3 due out in a few days. We expect servicing releases to move more smoothly in future.

[2017-11-10 18:40] Drawaes commented on #23485
In theory the read and the write side suffer the same issue. I was waiting for the read side then it would have slotted in nicely, but that got a bit derailed by other PR's and then I got busy at work for the last 2 weeks :). I was going to look at that re-occurring error over the next 2 days because I want to be confident that things haven't become unstable but that could take a while.

Let me ta

[2017-11-10 18:41] jozefizso commented on #25171
So what's the benefit of dropping Visual Studio 2015 support in a minor package update? And not informing about it anywhere?

[2017-11-10 18:48] elucidsoft commented on #14897
I have the same error as well while trying to connect to an SSE stream.  This should be considered a bug whether or not the server is enforcing RFC protocols, mainly because well if your a client developer the framework should be flexible enough to allow me to get around this problem.  As it stands there is no resolution for this issue at all.

[2017-11-10 18:53] stephentoub commented on #23485
Why would that impact starvation?  It's extra overhead, yes, but just another empty work item to go through the queue, no extra blocking, etc.  I don't love adding such overhead, but when it buys us massive scalability wins as a temporary workaround, I'm ok with it.

You should just be able to WaitAsync... there shouldn't be a need for the Wait(0).  In fact on core I'd expect that to be slower.

[2017-11-10 18:57] elucidsoft opened #25180 "HttpClient throws 'The server returned an invalid or unrecognized response' error"
When connecting to an SSE stream and in chunked mode, the HttpClient will throw an 'The server returned an invalid or unrecognized response' error every single time.

To see the issue, try to connect to [This API Call ](https://horizon-testnet.stellar.org/accounts/GAZHWW2NBPDVJ6PEEOZ2X43QV5JUDYS3XN4OWOTBR6WUACTUML2CCJLI/transactions?limit=50)and use the header Accept: text/event-stream, HttpClient

[2017-11-10 19:06] stephentoub commented on #25180
This code runs fine for me:
[code]
It outputs the json to the console.

Can you share a repro?

[2017-11-10 19:17] stephentoub commented on #25180
This also runs fine for me:
[code]
It just waits after outputting all of the data as presumably the server hasn't stopped sending events.

[2017-11-10 19:22] elucidsoft commented on #25180
Keep it open for at least 3 minutes and you will see it happen...

[2017-11-10 19:23] jozefizso commented on #25171
Is this issue related? https://github.com/dotnet/corefx/issues/25121

[2017-11-10 19:25] weshaggard commented on #25171
We didn't drop support for VS2015, we simply added new dependencies in our new package version, which is common practice. If you would like to eliminate those dependencies and remain on the new package version then I was simply suggesting that you could update your tools to accomplish that.

[2017-11-10 19:25] weshaggard commented on #25171
No this isn't related.

[2017-11-10 19:29] jozefizso commented on #25171
How can I update my toolset?

[2017-11-10 19:29] elucidsoft commented on #25180
You will notice it fails on	System.Net.Http.dll!System.Net.Http.WinHttpResponseStream.ReadAsyncCore(byte[] buffer, int offset, int count, System.Threading.CancellationToken token)

I have stepped through it but was not able to come to any conclusion.  It's possible its a heartbeat tick being sent by the server that is causing it to fail. I was unable to find a way to see exactly what came over the

[2017-11-10 19:41] weshaggard commented on #25171
Looking at the download page at https://www.nuget.org/downloads it appears the highest version of nuget for VS2015 is 3.5.0, but I'm not sure if that includes the .NET Standard 2.0 changes. @rrelyea @emgarten do we have a version of nuget for VS2015 that supports this new mapping?

[2017-11-10 20:05] emgarten commented on #25171
3.6.0 contains support for ns2.0 which is on the downloads page. 3.5.0 is marked as the Latest which is confusing since it refers to the recommended release.

[2017-11-10 20:12] stephentoub commented on #25180
From what I can see, the server is simply closing the connection after a few minutes, and is doing so without sending a terminating chunk, even though it specified Transfer-Encoding: chunked.  As such, the response is invalid, and you're getting the associated exception.  Same thing happens with curl on linux, e.g. this:
[code]
downloads the data, and then fails at the end when the server closes t

[2017-11-10 20:47] wfurt commented on #24036
It seems like this is working now. closing.

[2017-11-10 20:47] #24036 closed

[2017-11-10 20:57] benaadams commented on #23485
Looking at code, is faster for for fail fast - likely could tweak to be the same.

No items 1M iters

| method | fail (ms) |
| --- | --- |
| Wait(0) | 12.28 |
| WaitAsync(0) | 24.38 |

But slower for success as the `WaitAsync` just does its thing; whereas `Wait` has to check for async waiters.

Aside: My patterns have just leveled up...
[code]

[code]

So...
[code]

[2017-11-10 20:59] stephentoub commented on #23485
But it wouldn't be WaitAsync(0), it's be WaitAsync(). I see it as twice as fast as Wait(0) in the success case, and in the file case it would need to call WaitAsync anyway.

[2017-11-10 21:03] benaadams commented on #23485
I assume the previous pattern was
[code]

[2017-11-10 21:11] jnm2 commented on #25171
Yes. I wish this practice would change.

[2017-11-10 21:13] jnm2 commented on #25154
Cancellation is advisory because advisory cancellation is the only in-process cancellation that is remotely safe. The other option is `Thread.Abort` or doing it out-of-proc and killing the process.

[2017-11-10 21:19] stephentoub commented on #23485
With this benchmark:
[code]
I get this result:
[code]

And if I use WaitAsync, I can get away with just calling a wait method once, regardless of whether there's contention or not:
[code]
The `WaitAndProcessAsync` method then just awaits the `waitTask` it was handed, rather than having to call `WaitAsync()` again.

[2017-11-10 21:26] dasjestyr commented on #13035
@danmosemsft link? I'm just looking to proof some connections to Snowflake

[2017-11-10 21:29] benaadams commented on #23485
`Wait` does look like it does a [spin before even trying to acquire](https://github.com/dotnet/coreclr/blob/c0853dca93c054d1dedcfb15ad3a49e5012758d6/src/mscorlib/src/System/Threading/SemaphoreSlim.cs#L314-L366)?

As well as the actual acquire path being more complicated than the async path.

[2017-11-10 21:34] stephentoub commented on #23485
Yeah, that looks like a perf bug introduced in https://github.com/dotnet/coreclr/commit/03bf95c8db9003a5925ca9383dca722a4c651e27#diff-e0962c2ab4c9e7938e811430bcaeae81R357
@kouvel, can you take a look?

[2017-11-10 21:35] dasjestyr commented on #13035
This one? https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.Odbc

[2017-11-10 21:38] elucidsoft commented on #25180
Ok, I will open an issue with the Horizon team and see if they can track it down.  Thanks!

[2017-11-10 21:38] stephentoub commented on #23485
Opened https://github.com/dotnet/coreclr/issues/14980 for the erroneous spin.

[2017-11-10 21:39] stephentoub commented on #25180
Thanks.

[2017-11-10 21:39] #25180 closed

[2017-11-10 21:46] ahsonkhan opened #25182 "Add MemoryExtensions to CoreLib and type forward for .NET Core"
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/StringSpanHelpers.cs, for example the trivial IndexOf implementation here versus the optimized implementation in https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanExtensions.cs
This is a good reason why to move SpanExtensions into CoreLib.

From thread (for context): https://github.com/dotnet/coref

[2017-11-10 22:01] danmosemsft commented on #13035
@maryamariyan can you please share a link to the latest odbc package on MyGet. Santi can show you if needed

[2017-11-10 22:09] JonHanna commented on #24694
Also, OpenCover will work with it immediately (as it did with the private implementation in CoreFX and does now with the private `ExcludeFromCodeCoverageAssembly` attribute, or indeed any attribute whose name matches `*.ExcludeFromCodeCoverage*`) and I think NCover will similarly just light up.

[2017-11-10 22:12] maryamariyan commented on #13035
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.Odbc.

Thanks @safern

[2017-11-10 22:20] benaadams commented on #25182
SpanHelpers uses vectors though which aren't in coreclr?

[2017-11-10 22:26] ahsonkhan commented on #25182
This is why I had initially split the SpanExtension class into separate files and SpanExtensions.cs contained methods that could not be implemented in core:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanExtensions.cs#L13

[2017-11-10 22:34] Drawaes commented on #23485
Well, I guess my pattern has just changed :) All that while I ate dinner. Good work

[2017-11-10 22:50] stephentoub commented on #25182
Can we instead use the new intrinsics? My understanding is that those will be available in corelib.

[2017-11-10 23:07] benaadams commented on #25182
![](https://aoa.blob.core.windows.net/aspnet/intrinsics.png)

[2017-11-10 23:13] benaadams commented on #25182
I feel I let myself down with that meme; apologies...

[2017-11-10 23:21] jamesloh opened #25184 "PowerShell v6.0.0-beta.7 xml save on Linux and MacOS X has an additional [] in DOCTYPE"
[xml]$XmlDoc = get-content 'Info.plist'

$XmlDoc.Save('def.plist')

The two lines above work correctly in PowerShell 5.1 on Windows 10 but incorrectly with PowerShell v6 on Linux and MacOSX.

Notice the [] just before the end in DOCTYPE.

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"[]>

[2017-11-10 23:33] jkotas commented on #25182
Just move the dozen .cs files that implement `Vector<T>` and friends to CoreLib as well.

`System.Numerics.Vectors` as left over from the too fine grained factoring era. It is tighly coupled with the JIT, so it is not like that the two can version independently from the runtime in a reasonable way. CoreLib is the right place for it.

Eventually. I am not sure whether Intel will be able to get all

[2017-11-10 23:45] binki commented on #25154
@Clockwork-Muse What I care about with cancellations is that I can rely on `DoSomethingAsync(ct)` completing (either faulting, succeeding, or being cancelled) in a somewhat timely manner if `ct` were ever cancelled if the docs suggest I can rely on that behavior. The fact that cancellation is complicated to implement or consume properly might be unrelated(?). Also, [the docs for `NetworkStream.Rea

[2017-11-10 23:51] JonHanna commented on #25154
https://msdn.microsoft.com/en-us/library/system.threading.cancellationtoken(v=vs.110).aspx

[2017-11-10 23:56] galvesribeiro commented on #13309
@danmosemsft Sorry, I just got out on vacation with limited access to computer. If none else try that, I can try Dec 3th when I got back.

[2017-11-11 00:10] binki commented on #25154
@JonHanna “cooperative” simply means that it is an alternative to forceful external cancellation which would be like calling `Thread.Abort()` or killing a process. `CancellationToken` provides [a way to run code **immediately** in response to a request for cancellation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtoken.register?view=netframework-4.7.1#System_Threading_

[2017-11-11 00:25] JonHanna commented on #25154
No cooperative cancellation is immediate, except through extreme luck. You're always waiting on the next check point. Just how frequent those check points should be isn't the easiest thing to judge, but if something is waiting on async I/O to respond there isn't anywhere to do that check.

The page you link to is about running code (not aborting it) in response to cancellation, and it isn't immedi

[2017-11-11 01:08] ahsonkhan opened #25188 "Infra: Sync the sources of {ReadOnly}Memory and friends between corefx and corelib"
Use ifdefs for small differences

From https://github.com/dotnet/coreclr/pull/14906#discussion_r149799699 (for context)

Also figure out and setup a source mirroring strategy between the two repos.

cc @stephentoub, @KrzysztofCwalina, @jkotas, @brianrob, @safern

[2017-11-11 01:10] VSadov opened #25189 ""ItemRef" - Ref element accessor for types that already have an indexer."
We have a number of  **existing** indexable types that could benefit from a ref-returning element accessor. For example `ImmutableArray`.

A typical problem is that such types already have a get/set indexer, so the only way to add an indexed byref access to elements is to add a ref returning method.
I believe this will happen one way or another, since there is a motivation. So, I think we should s

[2017-11-11 01:12] VSadov commented on #25189
CC: @stephentoub  @KrzysztofCwalina @jaredpar

[2017-11-11 01:21] benaadams commented on #25189
Sounds good

`Address` isn't a very .NET type of name; `ItemRef`/`ItemReference` would match it more, also clashes a bit with VB.NET's `AddressOf`

`ItemAt` I think is good though.

[2017-11-11 01:25] benaadams commented on #25189
Was a suggestion of `xByRef` for Dictionary https://github.com/dotnet/corefx/issues/21240, https://github.com/dotnet/corefx/issues/20684
[code]
So `ItemByRef(int index)`

[2017-11-11 01:32] JonHanna opened #25190 "Microsoft.CSharp should allow operations on identically-named types"
In the rare case that two types have exactly the same type name, dynamic operations will fail:

[code]

#23021 changed the exception thrown in this case from `RuntimeBinderInternalCompilerException` to `RuntimeBinderException`; pretty much a change from "sorry, we got this wrong" to "sorry, you can't do that".

Ideally such cases should succeed. While the case is extremely rare:

1. It's always be

[2017-11-11 02:51] Clockwork-Muse commented on #25154
To echo @JonHanna, you have no guarantee of when the cancellation becomes visible, for the same reason you have no guarantee of immediacy when results are returned (or an exception set).  You're at the mercy of the thread scheduler, which will also affect when that little trick of yours runs as well.
Even then, you have issues when doing a read on a stream - it's unlikely the token is checked for

[2017-11-11 04:43] Joe4evr commented on #25189
I'm not sure how I feel about this, it just looks *really* weird.

Other than that, would be nice to have this with specialized implementations since `ElementAt` is a LINQ method, so it's frequently a toss up for how it'll perform.

[2017-11-11 06:41] binki commented on #25154
@JonHanna

Handlers registered with `CancellationToken.Cancel()` run synchronously before `CancellationTokenSource.Cancel()` returns except for handlers which have captured a `SynchronizationContext`, in which case the captured context schedules the cancellation handler. Depending on how the scheduling for the completion of the `Task` is being scheduled, it is possible that the `Task` can be marke

[2017-11-11 07:20] tmds opened #25193 "Environment.ProcessorCount does not take into account cgroup/Docker limits"
This leads to managed code over-dimensioning when running in Docker.

coreclr takes into account docker cpu limits: https://github.com/dotnet/coreclr/blob/dbfd10c94055fb5af823b4a7e30774641afcb3b2/src/classlibnative/bcltype/system.cpp#L349-L350

[2017-11-11 09:28] benaadams commented on #25189
[code]
Could introduce named indexers in C# as per VB.NET so it would be
[code]

[2017-11-11 09:38] taoyouh opened #25194 "Should support Windows-ARM"
.NET Core should support Windows-ARM and run on Windows IoT Core

[2017-11-11 10:59] JonHanna commented on #25189
Well, I've wanted named indexers since the public beta of C# 1, so my instinct is to favour that, though it opens its own can of worms. My initial thought to the opening post here was that it was another place to wish for named indexers, though.

[2017-11-11 12:32] mikedn commented on #25189
I think that having `ref` in the name is good so I'll vote for `ItemRef`, `RefItem` etc. Though I'm not convinced that adding this to general purpose collections like `List<T>` is a good idea.

[2017-11-11 13:05] stephentoub commented on #10981
Let's just expose this thing.  We keep talking about it, people want it, let's do it.
[code]
It'll work on Unix and result in PlatformNotSupportedExceptions on Windows.

[2017-11-11 13:05] stephentoub commented on #10981
cc: @eerhardt

[2017-11-11 15:08] migueldeicaza commented on #24093
Ah yes, whenever I see the word "rune", I immediately think of this obscure chapter on a spec nobody has read that talks about "The Runic Unicode Block".

[2017-11-11 15:40] jkotas commented on #25194
@taoyouh .NET Core builds for Windows ARM are available as community supported currently. Check the instructions at https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md on how to use them.

[2017-11-11 15:40] #25194 closed

[2017-11-11 15:41] jkotas commented on #25194
cc @richlander

[2017-11-11 15:50] jkotas commented on #25189
Agree. It is hard to explain and enforce for how long the ref is valid.

[2017-11-11 15:56] JonHanna commented on #7527
The great thing about not having time to contribute to corefx for a month, is getting a fresher look at some things. I'd tried a variant of the fix in #25196 before but must have slipped up, since it went quite smoothly this time.

[2017-11-11 15:58] JonHanna commented on #23706
Confirmed as having duplicate cause as #7527. #25196 includes a test confirming it fixes this.

[2017-11-11 16:07] jnm2 commented on #24093
😆 I think of childhood memories of reading Tolkien.

[2017-11-11 16:09] JonHanna commented on #24093
ᛁ᛫ᚦᛁᛜᚲ᛫ᛟᚠ᛫ᚱᚢᚾᛖᛋ

[2017-11-11 17:28] tannergooding commented on #24093
Yeah, I don't specifically think of the spec, but I do think of the type of characters that the spec refers to.

You say `rune` and I think of magic, fantasy, cryptic puzzles, ancient languages, etc.

[2017-11-11 17:41] euclid47 commented on #24843
@pasikarkkainen the closest thing to support is Novell.directory.ldap.netstandard on github. It took a while to get it working. It is adequate for basic use but it is not as comprehensive as the classic dot net implementation. The hardest part is working with userAccountControlattribute and creating objects. I had to create UAC enum flags which was something I had not done before. Be careful about

[2017-11-11 18:50] eerhardt commented on #10981
I'll work on this next week.

[2017-11-11 20:40] Petermarcu commented on #281
Given that the layering goals of .NET Core have changed and some of the low level assembly factoring isn't as critical, is this still worth keeping open/investing in?

[2017-11-11 21:06] jkotas commented on #281
For layering - no. But the other issues mentioned in the discussion should be fixed. E.g.:

[code]

.NET Framework: Absolute path required exception
.NET Core: Incorrectly returns version info for `%WINDIR%\System32\kernelbase.dll`, not for the kernelbase.dll from the current directory.

[2017-11-11 22:47] BrettBaggott commented on #11224
Regardless of the bigger issues discussed here, is ConnectionLeaseTimeout now implemented in core? And if so, why is this issue not closed? I was able to code an example exactly like the original post with no issues just now. Whether that solves my connection DNS issues or not, it _seems_ ConnectionLeaseTimeout _is_ implemented in core.

[2017-11-11 22:59] JonHanna commented on #25189
Is "ref" language-neutral across .NET languages (including those who don't support ref returns, in case they do in the future)?

[2017-11-11 23:18] Petermarcu commented on #281
Sounds good.

[2017-11-11 23:19] Petermarcu commented on #25039
Who should this be assigned to?

[2017-11-11 23:45] benaadams commented on #25189
VB.NET has `ByRef` [though](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/procedures/ref-return-values) is can only consume ref returns:

and [F# has ref and byref](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/procedures/ref-return-values); `byref` being the ref return consumer

[2017-11-12 01:19] davidsh commented on #11224
ServicePointMananager.ConnectionLeaseTimeout is not implemented in .NET Core.  Using this property in .NET Core is a no-op.  It is functional only in .NET Framework.  And by default, this property is set to "off" in .NET Framework.

[2017-11-12 01:59] jkotas commented on #10455
This should be taken care of by `Span<T>` and the optimizations that went into `Buffer.MemoryCopy` (the manshed implementation takes advantage of XMM registers on x64 now).

[2017-11-12 01:59] #10455 closed

[2017-11-12 02:12] #24028 closed

[2017-11-12 02:28] jkotas commented on #15735
Anything left to do here?

[2017-11-12 12:17] qmfrederik commented on #17135
Just my 2 cents on this:

- On operating systems where you cannot load a native library, this could throw a `PlatformNotSupportedException`, right? (Although I believe that at least on iOS, you can load native libraries which are part of your application bundle.)
- I like the idea to keep a dll-map like functionality separate from this API. It makes sense to me that this is a lowel-level API which

[2017-11-12 14:06] JonHanna opened #25201 "Pontential failure in Microsoft.CSharp on hashcode collision."
In the table that stores `AggregateType` instances the key is a composite of the `AggregateSymbol` (same for all instances of the same generic type and a `Name` that in turn composed from the outer `AggregateType` and the type arguments.

That composition though depends on the (default implementation) hash code of the type array for the type arguments:

[code]

(`u1` is the type array, `u2` is the

[2017-11-12 17:24] jkotas opened #25205 "System.Data.SqlClient packaging"
From https://github.com/dotnet/corefx/pull/25134#discussion_r150415393:

We either need to fix that, or we need to add a test coverage to ensure that you can mix and match different versions of .NET Core Runtime (that bundles `System.Net.Security.Native.so/dylib`) with different versions of `System.Data.SqlClient` and document/enforce the supported mixing and matching.

The packaging for `System.D

[2017-11-12 17:35] stephentoub commented on #24874
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/5226/
[code]

[2017-11-12 17:49] stephentoub opened #25206 "Support cancellation on SslStream.AuthenticateAs*Async methods"
cc: @Priya91
Previous attempt in https://github.com/dotnet/corefx/pull/24857 reverted in https://github.com/dotnet/corefx/pull/25203 due to it causing a failing outerloop test SslStream_StreamToStream_WriteAsync_ReadAsync_Pending_Success (outerloop tests weren't run on the original PR).

[2017-11-12 19:48] VSadov commented on #23881
See https://github.com/dotnet/csharplang/pull/1100

It is still subject to discussions, but it seems reasonable to start changing DangerousGetPinnableReference  to be `ref readonly`.

Perhaps change it to return `nullptr` in empty case, but may wait on that since it is just implementation. It does not need to be in the same single change.

[2017-11-12 20:22] Anipik commented on #24874
@stephentoub  can you check the link once ...as i am not able to see the failed eventlog test here .
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/31f6c1ec570f5508f26bcf2cb210df4df9c9554c

[2017-11-12 20:23] stephentoub commented on #24874
I re-ran the tests; it likely got overwritten.

[2017-11-12 20:25] Anipik commented on #24874
can i access the console output of that run somehow ...as we added debugging info last time to check the reason of the failure.

[2017-11-12 20:26] stephentoub commented on #24874
@dotnet/dnceng, is there a way to see the old log for a run where it was then re-run?

[2017-11-12 20:40] VSadov commented on #25189
Adding the helper to resizable types such as `List` and `Dictionary` is indeed controversial since it is possible to cause a resize while holding a reference.

We are not discussing the set of types that could use this though.

So far I hear two popular choices:

[2017-11-12 20:40] VSadov commented on #25189
- ItemAt

[2017-11-12 20:41] VSadov commented on #25189
- ItemRef

[2017-11-12 20:46] benaadams commented on #25189
Like what you did there 😄

[2017-11-12 21:06] jkotas commented on #23881
@VSadov Breaking changes in signatures of methods that are used in many places are very expensive to push through the system - they need to be staged carefully. @ahsonkhan is still working on changing the indexer to read-only. We should wait for that one to get pushed through before starting the next one.

I think the plan for this one should be:
1. Add MemoryExtensions.GetReference (https://githu

[2017-11-12 22:05] VSadov commented on #23881
I would hope this change is easier than the indexer.
At least `ref` -> `ref readonly` is not binary-breaking, and perhaps JIT intrinsics do not need to change, if there are any.

Also `fixed` is already updated to work with readonly references, so that should mitigate some changes as well. (need to make sure we have the right compiler in CoreFx)

[2017-11-12 22:24] jkotas commented on #23881
Yes, it should be easier in the sense that we do not need to do complex staging for it. But it will still require changing hundreds of lines: E.g. out of ~200 calls to DangerousGetPinnableReference in corefx, ~30 of them are used with pinned and should "just work". The remaining ~170 will need to be fixed up manually. There is more in other repos.

[2017-11-13 02:24] Daniel15 commented on #25064
I have no idea, sorry. I'm not very familiar with the OpenSSL codebase.

[2017-11-13 02:38] migueldeicaza commented on #24093
I am glad that you do not see the word "rune" and immediately think "Ah this clearly refers to the Unicode 7.0 runic block whose value will be limited to those unique values in the range 16A0..16F8".

I know that Tanner is a single voice here, and some of you are still thinking "But Miguel, I see the word 'rune' and I immediately think of a data type that could ever only hold 88 possible values".

[2017-11-13 02:50] migueldeicaza commented on #17135
This wrapper looks good, additionally, I would add the following API, that would lookup a symbol (not a function) from the specified dynamic library:

[code]

This would be useful to access global variables and other global symbols in the loaded library.

[2017-11-13 03:58] mgw854 commented on #24093
I've been following this thread for a while with a mixture of excitement and hesitancy for a little over a month. I attended the Internationalization and Unicode Conference last month, and none of the presentations dealt with .NET. There is a perception problem with the .NET Framework; one that isn't necessarily unearned given the history of its globalization features. That being said, I love prog

[2017-11-13 06:33] kasper3 commented on #11857
Is there anything left that was not ported in https://github.com/dotnet/corefx/pull/24921 for MEF1?
Can we have a check list on remaining work?
Microsoft.Composition can be found under https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.Composition which was last updated 5 months ago, where can i find nightly myget package for System.ComponentModel.Composition?
Has publishing all pac

[2017-11-13 06:48] Daniel15 commented on #24891
Thanks for the info @bartonjs. In the meantime, the `LD_LIBRARY_PATH` hack I mentioned above is working for me in production. By creating a directory where `libssl.so.1.0.0` is symlinked to `libssl.so.1.0.2` and adding that directory to the `LD_LIBRARY_PATH` environment variable, I'm tricking it into only loading that version (as loading `libssl.so.1.0.0` and `libssl.so.1.0.2` will both load the s

[2017-11-13 07:56] Sunny-pu commented on #24540
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171113.01/workItem/System.Dynamic.Runtime.Tests/analysis/xunit/System.Dynamic.Runtime.Tests.Test~2FCalledFrom_UsingExpression

[2017-11-13 08:20] tmds commented on #17135
@mellinoe can this be used to perform lookups using `dlvsym` instead of `dlsym` on Linux? `dlvsym` is a Linux specific mechanism that allows symbols to be versioned. It allows a library to provide different versions of the same symbol. The `dlsym` lookup that is fixed in coreclr always gives you the oldest version of the symbol. See https://github.com/dotnet/coreclr/issues/8721 for more info.

[2017-11-13 08:24] Sunny-pu commented on #24510
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171113.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.TypeTestsNetcore~2FTestIsByRefLike

[2017-11-13 08:25] Sunny-pu commented on #23734
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171113.01/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.ValueTypeTests~2FStructWithDoubleFieldNotTightlyPackedNaNCompareTest

[2017-11-13 08:27] qmfrederik commented on #17135
@tdms Looking at https://linux.die.net/man/3/dlvsym and https://www.gnu.org/software/gnulib/manual/html_node/dlvsym.html, `dlvsym` is a glibc-extension. This means it's not available on non-glibc Linux, BSD, macOS and Windows (GetProcAddress doesn't seem to take a version parameter, either).

I'm wondering whether it makes sense to add support for a glibc-extension in the core API?

[2017-11-13 08:31] dotnet-mc-bot opened #25210 "Test failure: System.Threading.Channels.Tests.ChannelTests/DefaultReadAsync_CatchesTryWriteExceptions"
Opened on behalf of @Sunny-pu

The test `System.Threading.Channels.Tests.ChannelTests/DefaultReadAsync_CatchesTryWriteExceptions` has failed.

Assert.Equal() Failure\r
    Expected: Faulted\r
    Actual:   RanToCompletion

        Stack Trace:

           at System.Threading.Channels.Tests.ChannelTests.<DefaultReadAsync_CatchesTryWriteExceptions>d__10.MoveNext() in E:\A\_work\722\s\corefx\src\Syst

[2017-11-13 08:37] Sunny-pu commented on #23499
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171113.01/workItem/System.ComponentModel.TypeConverter.Tests.Execution

[2017-11-13 08:39] Sunny-pu commented on #24947
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171113.01/workItem/System.Net.Http.Functional.Tests.Execution/analysis/xunit/System.Net.Http.Functional.Tests.HttpClientHandlerTest~2FSendAsync_GetWithInvalidHostHeader_ThrowsException

[2017-11-13 08:44] tmds commented on #17135
I'm not requesting `dlvsym` to be baked in .NET Core. I tried this with https://github.com/dotnet/coreclr/issues/8721 (+PR) and it was not accepted.
I got feedback this should be done via some extension mechanism. I believe this proposal could fit that use-case.

[2017-11-13 08:48] Sunny-pu commented on #24394
failed in master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171113.01/workItem/System.Net.HttpListener.Tests.Execution/analysis/xunit/System.Net.Tests.HttpRequestStreamTests~2FRead_InvalidOffsetSize_ThrowsArgumentOutOfRangeException(offset:%200,%20size:%203,%20chunked:%20True)

[2017-11-13 08:48] qmfrederik commented on #17135
@tmds Well with this API you should be able to do something like this, right:

[code]

I do hope that the `NativeLibrary` API will make it into .NET core, though ;-)

[2017-11-13 08:53] tmds commented on #17135
I think in this proposal, I'm looking to override `LoadFunction`. So e.g. `LoadFunction("foo@VERS_1.1")` calls `dlvsym(Handle, "foo", "VERS1_1");`.

[2017-11-13 09:02] ipinak commented on #25149
I have experienced the same issue running on Centos 7.

[2017-11-13 09:13] Sunny-pu commented on #20307
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171113.01/workItem/System.Net.WebClient.Tests/analysis/xunit/System.Net.Tests.SyncWebClientTest~2FUploadData_Success(echoServer:%20https:~2F~2Fcorefx-net.cloudapp.net~2FEcho.ashx)

[2017-11-13 10:22] philippweidhas opened #25212 "How to integrate CoreFX Binaries manually in a Linux System"
Hallo .Net Core Community,

im looking for a way to integrate my selfbuild Binaries of coreclr and corefx in an UbuntuSystem. I build the binaries for x86 to get .Net Core running on a x86 Ubuntu System. Now i need a guide where and how to place the binaries in this UbuntuSystem. Can someone give me a instruction or a link to an guide wich i was not able to find.

Greetings
Philipp

[2017-11-13 10:26] philippweidhas commented on #25002
Hello @seanshpark ,

i finally found the time to try to build the binaries following your instructions. I was able to generate:
./build-native.sh -debug -- clang3.8
./build-native.sh -debug -buildArch=x86 -- cross clang3.8

im working on:
./build-managed.sh -BuildTests=false

Now im looking for the way to integrate this binaries on my destination linux system. Where do i have to place the Binaires

[2017-11-13 12:56] Robula commented on #22781
I'm experiencing this issue also, is there a preferred work around? Would downgrading `System.Net.Http` help with this?

Thanks

[2017-11-13 13:00] nshibano opened #25213 "Interlocked.Read x100 slowdown in some condition"
Interlocked.Read usually takes ~10 nanoseconds, but in some unconfirmed condition it takes ~1000 nanoseconds.

This is F# code I used to measure Interlocked.Read speed. (Executing this code on your machine will not reproduce the issue. Please read below section.)

[code]
This is output from process in normal state.
[code]

This is output from process in erroneous state.
[code]

# Difficulty in rep

[2017-11-13 13:28] mikedn commented on #25213
Hmm, one possible reason is that `counter` is not properly aligned. Couple of questions:
* 32 bit or 64 bit code?
* `counter` looks like a local variable but it looks like in F# that ends up stored in a class and thus on the heap. I suppose that the proprietary code does allocate memory too?
* When it gets slow can you attach a debugger to the process and get the assembly code generated for that p

[2017-11-13 13:34] JonHanna commented on #25213
Another possibility would be [false sharing](https://en.wikipedia.org/wiki/False_sharing), and if it happens often enough, it might benefit from some padding to force it out of cache lines being used by other cores.

[2017-11-13 13:38] mckelvj commented on #22781
I found that the Assembly bindings in the App.Config were the problem.  You can resolve the issue by either commenting out or remove those.  It appears that they are not being created correctly by the package manager.

[2017-11-13 15:00] nshibano commented on #25213
Thank you, @mikedn and @JonHanna.

@mikedn,

- The process is 32 bit since Environment.Is64BitProcess is false. The exe is compiled with "Any CPU" with "Prefer 32 bits" checked.

- Yes. I have looked at IL and creation of mutable variable `counter` was construction of `FSharpRef<T>` class instance. Counter value is in private field of `FSharpRef<T>` class. Therefore it is on the heap.

- I have at

[2017-11-13 15:02] JonHanna commented on #25213
If you don't have a lot of such objects, try adding padding to it and see if it fixes it.

[2017-11-13 15:20] YohDeadfall opened #25220 "Generic Range type"
Currently there is the non-generic `Range` type in the corefxlab repository ([link](https://github.com/dotnet/corefxlab/blob/2711e0824729fb318eb4e25544236bb2f53fa33e/src/System.Buffers.Experimental/System/Range.cs#L5-L20)) which is designed for a new C# slice syntax. As you can see, it's limited only to `int` values.

[code]
[code]
So it would be nice to have a generic one instead it to represent

[2017-11-13 15:39] mikedn commented on #25213
Right. On 32 bit systems `long` fields are not guaranteed to be 8 byte aligned because objects themselves are only 4 byte aligned. By itself misalignment doesn't usually cause issues on x86. But misaligned values can also straddle cache lines, if that happens... good luck with performance.

False sharing it less likely to cause such a significant slowdown on a single processor system. Well, maybe

[2017-11-13 15:45] stephentoub commented on #25213
Yeah.  You can see a similar case where we worked around this in https://github.com/dotnet/corefx/pull/19277.

[2017-11-13 16:24] edgarleonardo commented on #22781
Reinstall all nugget and the problem should get fixed

El nov. 13, 2017 9:39 AM, "John McKelvey" <notifications@github.com>
escribió:

[2017-11-13 16:40] weshaggard commented on #11857
@kasper3 the port of the library has been completed but we haven't yet started producing a nuget package for it yet. @maryamariyan can give you more information about when that will be ready.

[2017-11-13 16:41] jaredpar commented on #25189
This exact discussion came up, at length over and over again, when we did ref returns in Midori. The result is the controversy lasted until we actually checked in the change to expose the ref values from `List<T>`. After that our code got faster, the debate ended and the hypothetical "using a ref after resize" never actually turned into a real issue.

[2017-11-13 16:43] nshibano commented on #25213
@JonHanna,

Since I can not modify `FSharpRef<T>` implementation, I think this is the best I can do.

[code]

It didn't change the rate of the process enters erroneous state. I can not say this experiment is perfect though.

[2017-11-13 16:49] nshibano commented on #25213
@mikedn and all,

This is screen shots of OllyDbg. Left side is in erroneous state, and right side is in normal state. I am not familiar with assembly language so I can not read it. Is there something in this data? Which number is the address of `counter`?

![samples](https://user-images.githubusercontent.com/16814225/32737393-44b34fec-c8dd-11e7-99c7-a8f902dcafb2.png)

[2017-11-13 17:07] mikedn commented on #25213
In your screenshots the address is in register `esi`. It can be seen that in all case the address ends up in C (hexa). So it's a multiple of 4 but not a multiple of 8. The long value is not properly aligned.

[2017-11-13 17:23] weshaggard commented on #25039
I suspect anyone could pick it up but ideally it would be someone familiar with the new IL patterns for this new compiler feature.

[2017-11-13 17:30] mikedn commented on #25213
For clarity here's a little program that attempts to read at various offsets from a block of memory:
[code]
You'll notice the 100x slowdown when the cache line offset is between 0x39 and 0x3F (a cache line has 64 bytes).

[2017-11-13 17:31] maririos commented on #24874
Not easily. Mission Control shows the logs of the latest runs.
We could get the logs from the DB directly though, so if you have the commit and the name of the job you want the log for, we could give you the information

[2017-11-13 18:45] tannergooding commented on #25213
I'm surprised this is the case, I would have expected us to match the native side where `int64` and `float64` are 8-byte aligned by default.

I would think `int64` is a common enough case that the perf drop at every cache line (or worse, every page) boundary would show up and cause issues on 32-bit machines.

[2017-11-13 18:53] mj1856 opened #25222 "Add To[Short/Long][Date/Time]String on DateTimeOffset, and include invariant and ISO forms"
It is still very common to see developers using the `ToShortDateString`,  `ToShortTimeString`, `ToLongDateString`, and `ToLongTimeString` methods on the `DateTime` struct.  However, there are no corresponding methods on the `DateTimeOffset` struct, and there probably should be, for consistency.  This also aids developers who may not be completely familiar with the various string format specifiers.

[2017-11-13 19:17] tarekgh commented on #24449
https://github.com/dotnet/corert/pull/4905

[2017-11-13 19:19] VSadov opened #25223 "SecurityTransparent should be removed from Collections.Immutable"
SecurityTransparent is a bit of a vestige nowdays, but is still enforced on desktop runtime.
As such the presence of the attribute is a blocker for the new language/runtime features such as ref returns, readonly references, spans...

Use of readonly references, in particular, makes a lot of sense, since the collections are _Immutable_

NOTE: Nearly no other library in CoreFx uses SecurityTranspare

[2017-11-13 19:27] jkotas commented on #25223
https://github.com/dotnet/corefx/issues/1512
https://github.com/dotnet/corefx/issues/3293

[2017-11-13 19:27] jaredpar commented on #25223
Agree. This attribute is specifically blocking us from making performance wins in Roslyn. It prevents us from using any performance related feature we've done in SCI and that is the core of Roslyn's performance.

Customers who want to continue to use SecurityTransparent can use the older version of this  library.

[2017-11-13 19:27] philippweidhas commented on #25002
Hello again @seanshpark ,

i receive following erros by building the build-managed.sh :
/home/arbeit/Tools/depProj.targets(83,5): error : Error no assets were resolved from NuGet packages. [/home/arbeit/corefx/external/netstandard/netstandard.depproj]
/home/arbeit/Tools/depProj.targets(83,5): error : Error no assets were resolved from NuGet packages. [/home/arbeit/corefx/external/docs/docs.depproj

[2017-11-13 19:28] jaredpar commented on #25223
@jkotas yep. In both those cases the customer can continue using the older NuGet package. Going forward we should remove this limitation so we can take advantage of all the new performance work we've been doing.

[2017-11-13 19:42] terrajobst commented on #25193
@stephentoub @weshaggard

[2017-11-13 20:01] davidsh opened #25224 "HttpClient possibly causing "Unresolved P/Invoke" crash"
Case Link:
https://social.msdn.microsoft.com/Forums/windowsapps/en-US/15f89674-8c49-43d5-920b-d0997bb607f5/rs31709systemnethttphttpclient-possibly-causing-unresolved-pinvoke-crash?forum=wpdevelop

Issue Descrption:
Many customers in our MSDN forum report that when running app from the Windows Store, any HTTP requests made with the System.Net.Http.HttpClient class causes an exception: "Unresolved P

[2017-11-13 20:04] Priya91 commented on #24853
@stephentoub Why this issue is reopened? Oh i see that entire PR was reverted, this was in a separate commit.

[2017-11-13 20:14] Priya91 commented on #25206
@stephentoub @Drawaes  Is the cancellationToken PR the cause for the failing test? The test is question is not marked as outerloop, so it was run on the cancellationToken PR. Is there any other information from the investigation as to the cause?

[2017-11-13 20:29] JonHanna opened #25225 "Microsoft.CSharp binders enumerate argument infos twice"
With the following:

[code]
`IndexOutOfRangeException` is thrown (desktop throws `ArgumentOutOfRangeException`). More plausible calls could be needlessly expensive, or have other confusing behaviour.

[2017-11-13 20:29] Priya91 commented on #25206
@Drawaes Also this test failure happens on only on Linux right? The cancellation token change was entirely os agnostic. I'm trying to understand how it was verified that this was the cause, it'll be helpful if you could share more information on the investigation, for me work on this further.

[2017-11-13 20:40] jrmacks commented on #9728
FYI getting this on my mac using dotnet core 2.0.2.

my mac version:
`ProductName:	Mac OS X
ProductVersion:	10.13.1
BuildVersion:	17B48`
My original curl version:
`curl 7.54.0 (x86_64-apple-darwin17.0) libcurl/7.54.0 LibreSSL/2.0.20 zlib/1.2.11 nghttp2/1.24.0`

I updated my curl via homebrew and ran through the `sudo install_name_tool` change to `System.Net.Http.Native.dylib` and now my app recogn

[2017-11-13 20:51] deepumi commented on #24580
@davidsh  Were you able to reproduce the issue from your end?

[2017-11-13 20:54] davidsh commented on #24580
Are you asking about trying the repro on Linux?  If so, the answer is that I have not tried that repro.  @Priya91 would be the one to look at that.

[2017-11-13 22:07] Priya91 commented on #25069
Failed again here https://mc.dot.net/#/user/Priya91/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/98f2b0521b1ac42c727afd5e0b1c8a4d755af355/workItem/System.Diagnostics.EventLog.Tests/analysis/xunit/System.Diagnostics.Tests.EventLogEntryCollectionTests~2FCheckingEntryEqualityAndIndex

[2017-11-13 22:19] sstevenkang commented on #23968
Thank you! I think I got all the information I needed.

[2017-11-13 22:19] #23968 closed

[2017-11-13 22:21] Drawaes commented on #25206
I ran the outerloop with the commits... consistent failures. Took the commits out and it passes.

Locally master could bot run a benchmark on asp.net. if I took those commits out asp.net worked fine ( this was Ubuntu 16.04)

[2017-11-13 22:27] Priya91 commented on #25206
Since the test was not marked outerloop, but the failure happens only in outerloop, maybe someother outerloop test is interfering with this, or the cancellation token change exposed some other bug. More investigation is required, i'll look into this.

I don't understand what you mean by this.. If you have a short repro, I can use that to debug locally.

[2017-11-13 22:31] stephentoub commented on #24853
1) The PR was squashed when merged; there was only one commit to revert.
2) We should not be closing issues when there are still tests ActiveIssue'd against that issue number, as there is here: https://github.com/dotnet/corefx/blob/94688adc0ea82cdea19d7b6963c00fe9f98c86e3/src/System.Net.Security/tests/FunctionalTests/SslStreamAlpnTests.cs#L119
3) I'm not convinced that was the right fix; Authentic

[2017-11-13 22:37] stephentoub commented on #25206
He means with the change running ASP.NET benchmarks resulting in hangs.

[2017-11-13 22:40] Priya91 commented on #24853
Yeah, the activeissue is there because the code got reverted, so issue is also open. So if the commits are getting squashed, is it best practice to have separate PRs for distinct work items, since separate commits are not actually making reverts or separating work any easier.

Point 3 maybe true, with fixing other test, will have more info.

[2017-11-13 22:49] bartonjs commented on #9728
@jrmacks In .NET Core 2.0 the certificates library and TLS library used on macOS are from Security.framework, there's no longer support on macOS for custom callbacks via libcurl+openssl.  And, unfortunately, libcurl+darwinssl (SecureTransport) doesn't support callbacks.

[2017-11-13 22:56] ahsonkhan commented on #24910
Closing this issue as "won't fix" given Wes' recommendation to upgrade the version of S.N.V as the workaround.

[2017-11-13 22:56] #24910 closed

[2017-11-13 22:57] mckelvj commented on #22781
Nope sorry.   I used a variety of deleting, adding and/or updating the nugget packages and it never cleared the problem.  Some of the assembly registrations created are incorrect, most notably those identified earlier in this stream.  When you remove and reinstall the nugget packages it does not clean-up those invalid entries, and you still get the "can't load a reference assembly".
Manually delet

[2017-11-13 23:02] Robula commented on #22781
We eventually got past this by moving from VS2015 to VS2017 and using `<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>`. Voodoo.

[2017-11-13 23:06] Drawaes commented on #25206
I used https://github.com/benaadams/netperf/tree/aspnet/AspNetCore
which is as basic a webserver as you can make. Then I used net core 2.1 from master. It didn't actually hang, it starts the ssl handshake and then drops the connection before it actually sends data. It does it on every connect so you can just hit it with any browser on 5001 and it gives you an error.

Removing these commits it coul

[2017-11-13 23:09] bartonjs commented on #21867
Any work that we know of from this is tracked under #20414, so closing this issue.

[2017-11-13 23:09] #21867 closed

[2017-11-13 23:16] stephentoub commented on #24853
No, the ActiveIssue was there before it was reverted.  Your change https://github.com/dotnet/corefx/pull/24857 didn't remove the ActiveIssue.

In general a PR should be for one purpose, and its commits should be squashed.  If for some reason it needs to be for multiple distinct, purposes, then there should be a commit for each, and it shouldn't be squashed.

[2017-11-13 23:27] stephentoub opened #25228 "PerformanceCounterCategory_Create_Obsolete test failed with InvalidOperationException"
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/3eb7408de3fa474f21e4107091731f7d412ef9f2/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterCategoryTests~2FPerformanceCounterCategory_Create_Obsolete
[code]

[2017-11-13 23:49] ahsonkhan opened #25229 "Change OwnedMemory Pin to take an optional integer offset"
Related to https://github.com/dotnet/corefx/issues/24317 and https://github.com/dotnet/corefx/pull/24323#discussion_r141769638

## API Proposal
Change:
[code]

To:
[code]

## Usage
**Example** from [NativeOwnedMemory](https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Buffers/NativeOwnedMemory.cs#L56):
[code]
Would become:
[code]

The following can then be re-written from [Memory

[2017-11-13 23:52] DavidGoll commented on #25224
This affecting multiple libraries. There is an update that needs to be made in the store so that the submitted app is compiled with the latest Windows API’s (requires a coordinated update of the .NET Native toolchain and Store pipeline).
New ref: Internal Microsoft WDG Bug 14647032.

[2017-11-14 00:15] nshibano commented on #25213
@mikedn ,

Thank you again. Your code reproduced the issue. 👏😂

I have run it on two machines, desktop Ryzen and laptop Core i5. It is shown that this issue occurs on both machine.

Result on Ryzen 5 1600X (desktop) machine:

[code]

Result on Core i5 5200U (laptop) machine:

[code]

[2017-11-14 00:15] #15735 closed

[2017-11-14 00:29] pakrym commented on #25229
`AddOffset ` can be removed without adding anything, see https://github.com/dotnet/corefx/pull/24323#discussion_r141769011 second point.

[2017-11-14 00:32] wfurt opened #25230 "HTTP unit tests crashes sometimes"
This is on Ubuntu 17.04. I'm not sure yet if other platforms are affected.
I build HTTP uni tests and than I use RunTest.sh to it in loop with outer-loop tests enabled.

*** Error in `/home/build/github/corefx/bin/testhost/netcoreapp-Linux-Debug-x64//dotnet': double free or corruption (fasttop): 0x00007f07f800e680 ***

if enabled, core file is created
[code]

[2017-11-14 01:05] Priya91 commented on #25206
One difference I see from the previous commits in this codepath that has varied is in HandleWriteCallback, prior to the writeasync overload work on sslstream, in FinishHandshake, the work done on the thread pool is ```CompleteRequestWaitCallback```, upon refactoring, this is now doing ```AsyncResumeHandshake``` in this [commit](https://github.com/dotnet/corefx/commit/85cc2ff5f5c382b12fb859451814cc

[2017-11-14 01:12] krwq opened #25232 "Move RandomNumberGenerator to coreclr"
There are many cases where RandomNumberGenerator needs to be used. Currently it requires pulling in whole System.Security.Cryptography.Algorithms. It would be useful to have it defined in coreclr to avoid this dependency.

cc: @bartonjs @morganbr

[2017-11-14 01:13] ahsonkhan commented on #25229
How would that work? Wouldn't we need to add getters to the private fields of MemoryHandle (for example, for `GCHandle _handle`?
[code]

[2017-11-14 01:25] nshibano commented on #25213
@stephentoub,

Thanks, the root cause seems same.

[2017-11-14 01:26] Drawaes commented on #25206
Doesn't seem so I will need to double check tomorrow. If you change it does it fix it?

Looking at that code, the original "write" path won't hit this anyway as it uses a tsc. Also this should only happen if you are trying to write during a handshake which in the repro code would only happen during a handshake re-negotiation

[2017-11-14 01:27] nshibano commented on #25213
So, now I'm clear about why this happens. I think this is something by design and it should be avoided to use Interlocked.Read(long) in 32 bit process if possible.

All, thank you for your help.

[2017-11-14 01:27] #25213 closed

[2017-11-14 01:33] Drawaes commented on #25206
Actually that case isn't even needed it's only ever tcs or lazyasyncresult so that case could just be deleted

[2017-11-14 01:35] Drawaes commented on #25206
Actually it is set in one place, need to look on a computer

[2017-11-14 01:36] Priya91 commented on #25206
I've not been able to repro the test failure locally, I'm currently just reading code to understand what;s happening. The cancellation code path causing hang is also weird, as that code is hit only during handshake, and the failing test is hanging after the handshake.

[2017-11-14 01:42] Priya91 commented on #25206
@Drawaes Are you able to repro the hang in the test consistently locally? Can you share your repro steps..

[2017-11-14 01:47] Drawaes commented on #25206
I need a branch I can checkout with your changes back in it and I will then repo it.

[2017-11-14 01:48] KKhurin commented on #25168
Thanks! I'll look into examples of how to use it.

[2017-11-14 01:52] Drawaes commented on #25206
Looking at that change, it was fine. The reason for the single path through the async is because the queueing of the async write changed to a TCS, therefore it should never hit that case if it is an queued write, only a queued handshake.

Is the cancellation code adding APM code back into the new Async/Await write path?

[2017-11-14 02:53] stephentoub commented on #25232
Hope does moving it to coreclr help? What dependencies?

[2017-11-14 03:07] morganbr commented on #25232
@stephentoub, it would have helped in #25013 and we might want it for other future hash algorithms as well.

[2017-11-14 03:28] stephentoub commented on #25232
That's a corefx PR. Why does it require moving something to coreclr (and corert)? And we're implementing new hash algorithms in coreclr rather than corefx?

[2017-11-14 03:30] morganbr commented on #25232
Because I accidentally pointed to the wrong PR 😄 . https://github.com/dotnet/coreclr/pull/14863 is the right one.

[2017-11-14 03:31] morganbr commented on #25232
Future hash algorithms would probably be in CoreFX. I'd be fine with a move to System.Runtime to start with and see if we really need CoreLib.

[2017-11-14 03:42] Clockwork-Muse commented on #25213
@nshibano - Um, in a 32-bit process (or, [on a 32-bit machine, at least](https://msdn.microsoft.com/en-us/library/system.threading.interlocked.read(v=vs.110).aspx)) was where that particular method was **designed** to run.  If you're on a 64-bit machine you don't need the method at all (going to naively assume it no-ops).

You only need it if you have multiple threads writing and reading at the sa

[2017-11-14 03:44] poizan42 commented on #19773
@craigajohnson See #8677

[2017-11-14 04:23] AArnott commented on #25223
Using an older version of the package sounds easy -- until a desktop app wants to use a library that 'requires' a newer version of the package. When will this be a problem? If full trust contexts on .NET Framework have no problem with this attribute removed, then I don't object.

[2017-11-14 05:11] #23862 closed

[2017-11-14 05:33] ajryan opened #25234 "SocketException in SmtpClient takes down process"
With the following code, the resulting ExtendedSocketException is not caught and the process crashes:

    static void Main(string[] args)
    {
        try
        {
            using (var smtpClient = new SmtpClient())
            {
                smtpClient.Host = "bogusdomainnotreal.com";
                smtpClient.Port = 587;
                smtpClient.EnableSsl = true;
                smtpC

[2017-11-14 05:43] davidsh commented on #25234
Is this on Windows or Linux?

[2017-11-14 05:48] ajryan commented on #25234
Windows

[2017-11-14 07:22] Sunny-pu commented on #24678
Following tests failed with same issue, detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_debug/3543/testReport/

[2017-11-14 08:01] Sunny-pu opened #25236 "Tests under "System.Diagnostics.Tests.PerformanceCounterTests.PerformanceCounter_CreateCounter_SetReadOnly" failed with "Assert.NotEqual() Failure\r\nExpected: Not 0\r\nActual: 0""
failed test:
System.Diagnostics.Tests.PerformanceCounterTests.PerformanceCounter_CreateCounter_SetReadOnly (from (empty))
Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/lastCompletedBuild/testReport/System.Diagnostics.Tests/PerformanceCounterTests/PerformanceCounter_CreateCounter_SetReadOnly/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-11-14 08:07] Sunny-pu commented on #23099
failed again:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_release/217/testReport/System.Net.Sockets.Tests/ConnectSyncForceNonBlocking/Connect_MultipleIPAddresses_Success_listenAt__127_0_0_1_/

[2017-11-14 08:12] mikedn commented on #25213
To be clear - the method is not a no-op on 64 bit. A `lock cmpxchg` instruction is still generated and the performance will be just as bad if the long value somehow ends up unaligned. The MSDN documentation claims that the method's only feature is atomicity but the implementation also has load acquire/store release semantics that the documentation conveniently fails to mention.

The difference is

[2017-11-14 09:12] tompazourek commented on #22781
I had some issues with assembly redirects as well. I resolved it by updating to the latest .NET Framework 4.7.1, VS2017, and not having any references to NuGet package assemblies for assemblies that are already part of .NET Framework.

My projects are targetting the full .NET Framework, and it works better when they, for example, reference the System.Net.Http assembly from the .NET Framework inste

[2017-11-14 09:40] mingzhi198 commented on #20177
First, curl_global_init and Curl_resolv_timeout are not thread-safe
1. Make sure  curl_global_init and  curl_global_cleanup are invoked in your main thread
    curl_easy_init will invoke curl_global_init, and there is a global variable named 'initialized' was invoked by curl_global_init,
    But it's not safe to modify a global variable without thread lock.
2 . curl_global_init and Curl_resolv_tim

[2017-11-14 11:31] JonHanna commented on #20563
As a request for documenting it, this is a duplicate of #1939.

[2017-11-14 11:52] tmds commented on #20177
There is now also a .NET Core 2.0 package available for CentOS. This includes a more recent version of libcurl that uses OpenSSL.
To install the package:
[code]
To use the package:
[code]

[2017-11-14 12:43] svick commented on #25220
My questions:

1. What is the point of `IsNormalized` and `Normalize`? Wouldn't it be better if ranges where `From` is larger than `To` weren't allowed in the first place?
2. Does `Range<T>` represent [closed, open or half-open interval](https://en.wikipedia.org/wiki/Interval_(mathematics)#Terminology)?
3. `public static bool Contains<T>(this Range<T> range)`

   This signature doesn't make sense

[2017-11-14 13:05] JonHanna commented on #25220
An implication of @svick's second question is that it's obvious to everyone where a range with a `Length` ends, when such things are reasonable (not so much for things that don't support subtraction and addition of unitless numbers) is that the problems for confusion between closed, open and half-open doesn't exist.

[2017-11-14 13:12] jkotas commented on #25232
I am strongly opposed on having on strong cryptography in CoreCLR. It creates more problems than it solves.

[2017-11-14 13:16] jrmacks commented on #9728
Thanks @bartonjs for the quick reply. Are there any plans to have parity on mac with this feature? Based on your response I'm assuming it's not possible with the current architecture.

[2017-11-14 13:37] Cronan commented on #9800
I'm interested in having a go at this, it's a major blocking issue for
https://github.com/pythonnet/pythonnet/issues/96

Any advice other than "read the contrib dox"?

[2017-11-14 13:51] YohDeadfall commented on #25220
1. There is no argument validation in the constructor for two reasons:

  - Poor performance because of `Comparer<T>.Default`. It's possible to restrict `T` to be `IComparable<T>`, but then it isn't possible to support nullable value types. See the Benchmarks section.

  - It wouldn't work for strings because of Unicode. We should provide a comparer to the non-default constructor to solve that iss

[2017-11-14 13:59] bassebaba commented on #24952
I have the same problem.
However, If i try/catch and resend the same request in the catch, it works the second time...

[2017-11-14 14:06] stephentoub commented on #24874
Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/da55d79ba3809ded4091a9c2cb6636754ccca070/workItem/System.Diagnostics.EventLog.Tests/wilogs
[code]

[2017-11-14 14:34] stephentoub commented on #25234
I'm not able to repro this.  What version of Windows?  What version of .NET Core?  When I run this the exception is thrown and caught on the main thread.

[2017-11-14 14:46] maryamariyan commented on #11857
@kasper3 @weshaggard. We are porting the tests for System.ComponentModel.Composition and then we'll produce nuget packages. I am actively working on this.

[2017-11-14 15:18] ajryan commented on #25234
Just tried at work, on 2.1.1-preview-007118 as well as 2.0.2, Windows 7 x64, and it hangs, doesn't crash. I'm behind a proxy at work so it could behave differently.

At home I'm on Windows 10. Need to double-check the framework version bit I think it's 2.0.2.

Thanks for looking at this.

[2017-11-14 15:23] stephentoub commented on #24580
@deepumi, are you experiencing this with other sites?  This appears to be an issue with the site, not the client.  If I just do:
[code]
on Linux, I similarly get back a 405 response code, and if you look at the body of the response, you see this:
[code]
So it appears the server is detecting something about the client and believes it's a robot.  Similar error happens with `wget`.  And the same mess

[2017-11-14 15:24] danmosemsft commented on #24874
If it didn't happen after 152 seconds then it never will... Maybe this is limited to old OS? Or the whole test could try again? Or make them manual tests only?

[2017-11-14 15:29] stephentoub commented on #25229
Is that the only benefit?

Your example is in the same assembly.  We could add internal getters, we could make the fields internal, etc., or simply keep the internal AddOffset we have today.

What's the key scenario for exposing this functionality?

[2017-11-14 15:31] #24985 closed

[2017-11-14 15:33] deepumi commented on #24580
@stephentoub Thanks,

May I know why the same code works fine in WINDOWS environment and get a different status code?

Why is the status code different in Linux?

For ex :
OS - CENT OS
Status Code = **MethodNotAllowed**

OS - Windows 10 OS
Status Code = **MovedPermanently**

[2017-11-14 15:37] deepumi commented on #24580
@stephentoub

Yes

[2017-11-14 15:37] stephentoub commented on #24580
Which ones?

[2017-11-14 15:42] deepumi commented on #24580
@stephentoub I think the below one,

https://www.era.com/

[2017-11-14 15:43] stephentoub commented on #24580
Having never connected to that site from my Linux box, I just ran this go program:
[code]
and it produced:
[code]

[2017-11-14 15:44] deepumi commented on #24580
However, same running in windows returns 200 status, that's what confusing

[2017-11-14 15:46] stephentoub commented on #24580
Are both your Windows and Linux machines on the same network?  Are they both VMs?  Is maybe one of them in a cloud and the other not?  There could be a variety of things the server is picking up on to believe that the client is a bot.

[2017-11-14 15:48] stephentoub commented on #24580
My previous tests were done on a Linux VM in the cloud.  I just tried it on a local Linux machine, and your repro runs fine on Linux:
[code]
So again I think this is more to do with things the server is interpreting about the client than about the client being used.

[2017-11-14 15:48] deepumi commented on #24580
Only Linux VM is with Azure.

[2017-11-14 15:49] stephentoub commented on #24580
Yeah.  So most likely the server is seeing the IP address of the client and is deciding that it's a bot, regardless of the OS or client software being used.

[2017-11-14 15:49] #24580 closed

[2017-11-14 15:50] deepumi commented on #24580
@stephentoub - Thank you!

[2017-11-14 15:50] jeff-powell commented on #24790
It would definitely be nice to have the ability to issue remote WQLs for performance monitoring, etc. from a Linux system.  .Net really only provides a couple options, CimSession (in MS.Mgmt.Infrastructure) or ManagementScope here in System.Management.

I would be willing to jump in and help build this out; does anyone have an ideal of what level of involvement this will require?

[2017-11-14 15:51] MikeDempseyFL commented on #5982
I tried adding ***Microsoft-System-Net-Sockets** as an additional EventSource when starting PerfView monitoring but I did not see any socket trace info in the resulting output files.

I also tried using **logman start/stop** with the associated GUID for Net-Sockets.
I tried this command both without keywords/level [i.e. the defaults] and with 0xFFFFFFFF 0x5, which I think would be 'All' and 'Debug

[2017-11-14 15:59] stephentoub commented on #24874
Let's please disable the test.  It's failing frequently.

Failed again here:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/72808f373001bce73a3253275d5491d4e96a08a5/workItem/System.Diagnostics.EventLog.Tests/wilogs
[code]

[2017-11-14 16:01] stephentoub commented on #17924
Failed again here:
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_uap+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/5275/
[code]

[2017-11-14 16:06] JonHanna opened #25240 "Should we randomise pivots in remaining S.Linq quicksorts?"
In #24116 @stephentoub replaced Linq's main use of quicksort with `Array.Sort` (which uses a hybrid sort) to avoid the worse case scenarios identified in #24110

Linq still uses variants of quicksort; partial quicksort to find just part of an ordered sequence and quickselect to find a single element in the ordered sequence. Both of these have the same worse cases as quicksort.

`Array.Sort()` is n

[2017-11-14 16:11] stephentoub commented on #25240
I'm not aware of any reason why we'd generally expect different kinds of inputs to Array.Sort from LINQ's OrderBy, and thus I don't believe we should have two different implementations for them.  If there are improvements to be made to perform better on a wider set of inputs, we should make such improvements to Array.Sort rather than bifurcating and maintaining a separate implementation.

That's o

[2017-11-14 16:12] stephentoub commented on #24874
Failed again here, on Windows 8:
https://mc.dot.net/#/user/tmds/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/953d7e638fe93fb04b77f57d9c4ef37fb5a7d624/workItem/System.Diagnostics.EventLog.Tests/wilogs
[code]

[2017-11-14 16:20] stephentoub commented on #25161
I don't know of a way to properly implement this on Unix.  If you have suggestions or we discover a way, this can be re-opened.  In the meantime, though, it's not actionable so I'm going to close it.  Thanks.

[2017-11-14 16:20] #25161 closed

[2017-11-14 16:20] JonHanna commented on #25240
Yes, it's only the partial cases I think need be considered further, but I would have been remiss if I didn't compare `Array.Sort` and the previous version as well. If it had been consistently worse for the majority of cases, instead of worse sometimes and better others it might have been worth considering why that was so.

[2017-11-14 16:21] KrzysztofCwalina commented on #25229
The key scenario is using OwnedMemory directly without using Memory<T>/RreadOnlyMemory<T>. Memory<T> and friends are factories of spans. They are very general purpose, e.g. they handle arrays, native pointers, and now strings. Quite often (when using OwnedMemory internally), it's more efficient to create a custom span factory to avoid the overhead associated with the general purpose Memory<T>. But

[2017-11-14 16:26] davidsh commented on #25072
From: Kris (Kequan) Li
Sent: Tuesday, November 14, 2017 2:51 AM

Hi David,

Barracuda confirmed that this is a bug in their product and they will provide a patch to fix it. I will keep you updated once the patch is applied or when we get more details from Barracuda.

Thanks,
Kris

[2017-11-14 16:26] #25072 closed

[2017-11-14 16:37] stephentoub commented on #25115
I don't believe this is a .NET issue.  The OS is simply reporting that it doesn't support the combination of inputs you provided.  For example, on my Ubuntu 17.10 install, when I `sudo dotnet run` this:
[code]
I get an error, but when I `sudo dotnet run` this:
[code]
it runs successfully and prints out the socket object.

Similarly, if I compile this program (`gcc -o test test.c`):
[code]
and run

[2017-11-14 16:37] #25115 closed

[2017-11-14 16:39] stephentoub commented on #25085
Fixed by https://github.com/dotnet/corefx/pull/25120

[2017-11-14 16:39] #25085 closed

[2017-11-14 16:40] stephentoub commented on #23642
Fixed by https://github.com/dotnet/corefx/pull/25076 (https://github.com/dotnet/corefx/pull/25179)

[2017-11-14 16:40] #23642 closed

[2017-11-14 16:47] dombrovsky opened #25242 "HttpClient GET methods does not call virtual SendAsync method"
I want to decorate all requests to `System.Net.Http.HttpClient` in some generic way, e.g. log request uri.
I create a subclass of `HttpClient` and override method `SendAsync(HttpRequestMessage, CancellationToken)`.
It turns out that overridden method is executed for `PostAsync`, `DeleteAsync`, `PutAsync`, but not executed for `GetAsync`.

[code]
Adding some generic request decorators would be much

[2017-11-14 16:49] stephentoub commented on #25242
https://github.com/dotnet/corefx/issues/23812
cc: @davidsh

[2017-11-14 16:51] davidsh commented on #25242
This is a dupe of #23812.

If you want to do custom pre and post processing of requests, the design pattern is to create a new handler based on HttpMessageHandler, DelegatingHandler.  Then pass that into the constructor or HttpClient.

The helper methods of HttpClient: GetAsync, PostAsync, etc. are not meant to be "subclassed".

Also, if you want to create a new set of helper methods, you can only

[2017-11-14 16:52] #25242 closed

[2017-11-14 16:53] stephentoub commented on #25016
Dup of #24562 / #24809. Thanks for reporting.

[2017-11-14 16:53] #25016 closed

[2017-11-14 17:22] jnm2 commented on #2471
In general, just press <kbd>T</kbd> while on the repo's home page and type `List.cs`. If it doesn't appear in the search results, try it at the other repo's home page.

[2017-11-14 17:47] jaredpar commented on #25223
Requiring that this package continue to load in full trust enviroment is pretty much going to prevent it from being modified in any substantial way going forward. Consider that:

- Moving to Net Standard 2.0 will break verification. All DLLs / EXEs which target Net Standard 2.0 will fail to verify and hence not be usable in full trust. This is due to corlib being named netstandard instead of mscor

[2017-11-14 17:52] jkotas commented on #25223
I assume you meant to say partial trust.

It will break PEVerify. It will not break partial trust. The checks done by PEVerify are not the same as the checks done when running in particular trust.

I agree with the rest what you are saying. Partial trust is a dead end. Not worth keeping it alive.

[2017-11-14 17:53] jnm2 commented on #25043
I heartily disagree with @Clockwork-Muse. I use this pattern all the time for reference counting.

With the Resolve/Release typed factory pattern, I'll have:

[code]

Usage:

[code]

[2017-11-14 17:56] jnm2 commented on #25043
As for passing a lease around, rather than the tuple `(IDisposable, T[])`, it's easy enough to make `FactoryLease<T>` public and expose an `.Instance` property.

[2017-11-14 18:03] blowdart opened #25245 "[Announcement] [Discussion] Microsoft Security Advisory CVE-2017-11770"
# Microsoft Security Advisory CVE-2017-11770
## Malformed Certificate can cause Denial of Service
### Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in the public versions of .NET Core 1.0 and 1.1, and 2.0. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a se

[2017-11-14 18:46] #24869 closed

[2017-11-14 18:48] huanwu opened #25248 "Fix the SGEN performance issue"
The app that use SGEN take much longer than the app not use SGEN. This is caused by the super long “if…else if …else if” statement in the Wrte_Object/Read_Object methods.  Need port the fix in SG to corefx.

[2017-11-14 18:49] satano commented on #17905
Well... Probably it's time to review this issue and maybe close it?

Dead code from this projects was removed and merged:

- Microsoft.CSharp (already done earlier as mentioned in comment above)
- Microsoft.VisualBasic
- System.IO.Compression
- System.IO.FileSystem
- System.IO.FileSystem.AccessControl
- System.Net.Http
- System.Net.HttpListener
- System.Net.NetworkInformation
- System.Net.Primitiv

[2017-11-14 19:16] Priya91 commented on #25206
The cancellation change is just adding an extra field on asyncprotocolrequest object that is passed down through the existing handshake methods in sslstate. During re-negotiation at the time of read/write, the handshake codepath will be hit which is having the apm pattern. Although the cancellation token will be none, so the cancellationtoken change will not be hit, as the if will be returning fal

[2017-11-14 19:23] ahsonkhan opened #25249 "System.Text.Formatting Epic"
Tracking item for [System.Text.Formatting](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.Formatting)

Related #24174

[2017-11-14 19:27] fgreinacher commented on #25043
My primary reason for not using the returned `IDisposable` to expose the array is overload resolution. If we returned a lease from the extension method, we couldn't call it `Rent` because the instance `T[] Rent(int)` would always win.

What do you think about something like this:
[code]

Usage:
[code]

[2017-11-14 20:01] gafter opened #25251 "Reference assembly for Nullable<T> needs to contain a private field of type T"
The reference assembly's declaration for `Nullable<T>` should contain a private field of type `T`. But it does not.

------------------------------------------

@hughbe commented on [Mon Jul 03 2017](https://github.com/dotnet/roslyn/issues/20624)

**Version Used**:
Microsoft (R) Visual C# Compiler version 2.2.0.61624

**Steps to Reproduce**:

1. `git clone https://github.com/hughbe/excel-mapper/tr

[2017-11-14 20:02] gafter commented on #25251
/cc @jcouv

[2017-11-14 20:11] joshfree opened #25252 "Add RID for Fedora 27 and enable CoreFX runs"
https://fedoramagazine.org/announcing-fedora-27/

https://fedoraproject.org/wiki/Releases/27/Schedule

https://fedoraproject.org/wiki/End_of_life

Related: https://github.com/dotnet/corefx/pull/16302

[2017-11-14 20:27] AArnott commented on #25223
@jaredpar Is it safe to replace every one of your uses of the term "full trust" with "partial trust"? Otherwise I'm thoroughly confused as I would expect everything to always work in full trust environments (the default for .NET Framework). I thought removing this security transparent attribute would break _partial_ trust scenarios, which were never very popular anyway and have been deprecated lon

[2017-11-14 20:28] AArnott commented on #25223
Also, how is this package being held back? So what if it can't use C# 7.2 features like `ref returns`? Have we identified a need for it in this package? Or is it preventing _consumers_ of the package from using this new C# feature when dealing with types defined in this library?

[2017-11-14 20:32] jaredpar commented on #25223
Yes. Sorry for the confusion here.

There are many places in this library where we would like to take advantage of `ref readonly` returns. Concretely we can make Roslyn more efficient in places if we have a `ref readonly` index style method on `ImmutableArray<T>`. It's not possible to use that until we move to C# 7.2.

[2017-11-14 21:39] geoffkizer opened #25253 "Linux sockets: Consider removing multi-threading support in SocketAsyncEngine"
PR #23115 makes this likely unnecessary.

There's some additional tuning work planned to try to better optimize epoll_wait behavior, and as part of this, we should remove the multi-threading support in SocketAsyncEngine (or at least rework it).

[2017-11-14 22:14] KrzysztofCwalina commented on #25249
We should identify what exactly from System.Text.Formatting we need. The corfxlab project/dll/package has several separable features.

[2017-11-14 22:57] Drawaes opened #25254 "Large memory test fails on outerloop"
/cc @AtsushiKan

ref #24497

From System.Memory.Tests

Suspected test : (thanks @benaadams ) At a guess... would be the ParserTests.2gbOverflow which needs 4 * 2BG > 8 GB to run

[code]

[2017-11-14 23:01] gokarnm commented on #25245
Hi @blowdart , I'm not able to find the tags in CoreClr and CoreFx repos, which correspond to .NET Core 1.0.8 release. I'd like to build .NET Core 1.0.8 from source. Could you provide this information?

The release page for [CoreCLR](https://github.com/dotnet/coreclr/releases) doesn't have a 1.0.8 release and associated tag (1.0.7 is the latest release for .NET Core 1.0 on this page, similarly 1.1

[2017-11-14 23:12] danmosemsft commented on #25236
@adiaaida ptal

[2017-11-14 23:30] adiaaida commented on #25236
It looks like we hit the retry limit on this test run. I can either up the retry limit, or change the sleep amount. I'll look into additional ways to harden the tests.

[2017-11-14 23:45] blowdart commented on #25245
@leecow to address both questions

[2017-11-14 23:54] tarekgh commented on #20669
https://github.com/dotnet/core-eng/issues/2096

[2017-11-14 23:54] leecow commented on #25245
@gokarnm - we have merges in progress to those branches as a final act of the release. Once those are complete I'll publish the associated release tags. Hopefully this evening or early tomorrow.

[2017-11-14 23:55] tarekgh commented on #20669
@WinCPP I am closing this issue as we already added the needed tests. feel free to open a new issue to track support running the tests against LDS. Thank you.

[2017-11-14 23:55] #20669 closed

[2017-11-15 00:05] vancem commented on #5982
@MikeDempseyFL  I am assuming you are running on windows (since you are using PerfView and logman).

I just tried the following
[code]
Then I ran a .NET core scenario that used sockets.    Then hit the 'Stop collect' button on PerfView and open the PerfViewData.etl file that resulted, and then looked at the 'Events view.

In this few I see the Microsoft-System-Net-Sockets events as shown below.
[c

[2017-11-15 00:30] alirobe commented on #2295
@karelz Silverlight/XAML issues, InfoPath issues, Classic -> Modern SharePoint issues can all be tracked back to lack of this functionality. Again, all Office documents are XML-based. Think of the developer hours wasted creating new experiences and not updating old ones, because of inadequate transformation tooling. The lack of this functionality is not just bad for third party developers. It's fu

[2017-11-15 00:34] shmao opened #25255 "Change `releaseNotes` in Sgen package's nuspec"
The current releaseNotes points to the release notes of .NET Core runtime 1.0.0 release. We should update it to a new fwlink.

[2017-11-15 00:35] jaredrsowers commented on #16201
@tmds,  I just noticed that Microsoft is now distributing CentOS builds through RPM packages for the install of dotnet core 2 (https://www.microsoft.com/net/learn/get-started/linuxcentos), do these packages include an updated libcurl, or does the issue still exist?

For CentOS we need the same. @Priya91 listed the available options until there is a CentOS build available.

[2017-11-15 00:46] shmao commented on #25255
@huanwu can you please take a look at this?

[2017-11-15 01:31] seanshpark commented on #25002
Um... Sorry but never seen this. Maybe posting a new issue and ask for help would be a way...

[2017-11-15 01:41] seanshpark commented on #25002
I'm not sure there is a guide but one keyword that might help is `overlay` like in https://github.com/dotnet/coreclr/blob/master/Documentation/building/unix-test-instructions.md page. When testing CoreCLR, CoreFX libraries are needed and this overlay is gatherings of the libraries (this is what I think but maybe not correct)

This is something like what I do to prepare the overlay
[code]

where `N

[2017-11-15 02:19] AArnott commented on #25223
OK. Since it sounds like it works in Full Trust environments on .NET Framework, I don't object.

[2017-11-15 02:30] ajryan commented on #25234
Just ran at home again - confirmed this is on .NET Core 2.0.2, Windows 10 Fall Creators Update.
Definitely not catching the exception on the main thread.

Here's the stack trace:

[code]

[2017-11-15 02:39] drwharris opened #25258 "SqlDataAdapter.Fill() Terminates Container on long query"
I have the following .net core (dotnet --version: 2.0.3) code running in an application which runs within docker. Note the issue does not occur when running under IIS Express, only under docker (microsoft/aspnetcore:latest).

In general it works well, but when the commandText is a statement that takes longer than (I think) 2 min to run it barfs my entire application. There is no exception thrown b

[2017-11-15 02:39] #24842 closed

[2017-11-15 02:41] #23731 closed

[2017-11-15 02:48] davidsh commented on #25234
Please post your small repro of the problem as a full Visual Studio solution etc.  You can ZIP it and post it here.  It's important to see exactly how your project is set up etc.  This will make it easier to diagnose the problem.  Thx.

[2017-11-15 02:49] drwharris commented on #25258
Scratch that. The issue was the container running out of memory.

[2017-11-15 02:49] #25258 closed

[2017-11-15 03:41] scegg opened #25259 "System.Runtime.Serialization.Primitives (DataContractSerializer) 4.3 is not compatible with coreapp 2.0 Derived Exceptions"
DataContractSerializer in System.Runtime.Serialization.Primitives 4.3 is not compatible with Derived Exception objects in coreapp2.

In coreapp2, run this code below:
[code]

System.PlatformNotSupportedException will be observed.

This code works like a charm in coreapp1.

Problem is still existed in System.Runtime.Serialization.Primitives 4.4.0-beta-24913-02.

[EDIT] Add C# syntax highlighting by

[2017-11-15 03:53] #25201 closed

[2017-11-15 03:57] omajid commented on #16201
AKAIK, no.

But you can use the RHEL steps on CentOS 7 too: https://stackoverflow.com/a/46733657/3561275

[2017-11-15 04:01] ajryan commented on #25234
Attached.
[smtp.zip](https://github.com/dotnet/corefx/files/1473378/smtp.zip)

[2017-11-15 04:09] #23710 closed

[2017-11-15 04:09] divega commented on #20903
@FransBouma, trying to answer your questions:

That is interesting indeed. It sounds like the current implementation on .NET Framework relies on the fact that the configuration cannot change at runtime to implement some shortcuts. At first lance, here is how I think about it: When we add the `RegisterFactory` methods to .NET Framework implementation, the assumption that the configuration cannot ch

[2017-11-15 04:13] jaredrsowers commented on #16201
Well whaddya know....  I think that'll work! Thanks!

[2017-11-15 05:06] Vohuman opened #25260 "Error: CS1703: System.Runtime, Version=4.1.2.0"
When my MVC.core project tries to open any page, I face with the following error:

I tried to clean Temporary folder and checked about the conflicts within the projects but I found nothing.

[2017-11-15 07:23] tmds commented on #17135
What happens when someone uses a delegate after disposing the library?

Are libraries used via PInvoke ever closed? When?

[2017-11-15 07:27] weshaggard commented on #25251
Our reference assemblies haven't had private fields exposed for a long time. We have issue https://github.com/dotnet/corefx/issues/6185 tracking the addition of that but it has never made it off the backlog.

[2017-11-15 08:16] Sunny-pu commented on #14673
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Filc~2F/build/20171115.02/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveTask~2FSendRecvPollSync_TcpListener_Socket(listenAt:%20::1,%20pollBeforeOperation:%20False)

[2017-11-15 08:21] dotnet-mc-bot opened #25263 "Test failure: System.Threading.ThreadPools.Tests.ThreadPoolTests/SetMinThreadsTo0Test"
Opened on behalf of @Sunny-pu

The test `System.Threading.ThreadPools.Tests.ThreadPoolTests/SetMinThreadsTo0Test` has failed.

Assert.True() Failure\r
    Expected: True\r
    Actual:   False

        Stack Trace:

           at System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinThreadsTo0Test$fin$0() in E:\A\_work\1217\s\corefx\src\System.Threading.ThreadPool\tests\ThreadPoolTests.cs:line 2

[2017-11-15 08:22] yyjdelete opened #25264 "NetworkInterface.GetPhysicalAddress() will return null for `tun*` on netcore2.0 and linux"
Not sure if the method is expected to return not null, but seems it does?

<details>

* On windows([core](https://github.com/dotnet/corefx/blob/v2.0.0/src/System.Net.NetworkInformation/src/System/Net/NetworkInformation/SystemNetworkInterface.cs#L168)/framework/[mono](https://github.com/mono/mono/blob/mono-5.4.1.7/mcs/class/System/System.Net.NetworkInformation/NetworkInterface.cs#L892)), it always

[2017-11-15 09:19] FransBouma commented on #20903
@divega

So in short:

- the GetFactory(datarow) has to ignore the type name in the row and simply use the invariant name in the row to lookup the real factory (it currently uses the typename in the row)
- a test has to check whether the type of the returned factory is the same as the one in the row passed to the GetFactory method. If they differ the test has to fail.

? Sounds good.

I completely

[2017-11-15 09:59] MichalStrehovsky opened #25267 "RuntimeInformation.ProcessArchitecture is a lie on desktop"
1. In Visual Studio 2017, create a new console app targeting .NET Framework 4.7.1 (you might need to grab the [targeting pack](https://www.microsoft.com/net/download/visual-studio-sdks)).
2. Create a x64 solution configuration and switch to it.
3. Put this in `Main()`: `Console.WriteLine($"Arch {RuntimeInformation.ProcessArchitecture}, IntPtr.Size: {IntPtr.Size}");`
4. Run the app

Expected result

[2017-11-15 10:00] divega commented on #20903
What happens today in .NET Framework when you call `GetFactory()` if the config files contain an invalid assembly-qualified type name or one that cannot be resolved or loaded? I am not sure what validation happens at registration time and what exceptions occur in `GetFactory()`.

Certainly this overload and the one that takes the type are IMO much less important than the one that takes the instanc

[2017-11-15 10:36] elevate-andrewlock commented on #25245
@leecow The [`microsoft/aspnetcore`](https://hub.docker.com/r/microsoft/aspnetcore/) docker images for the updated runtimes are not yet available either. I assume those be automatically published once you merge the final branches? Thanks

[2017-11-15 10:48] benaadams commented on #25189
In "Unite Austin 2017 - Bringing Modern .NET to Unity" they even talk about how to create your own value list with `ref returns` as one of the exciting new features 😄  https://youtu.be/vJqWn74eCOI?t=30m15s

[2017-11-15 10:51] JonHanna commented on #25189
https://github.com/dotnet/corefx/issues/25189#issuecomment-343652212

Is this at all likely in anything remotely considered short-term? My number 1 preference would be `ItemRef` as a named indexer, followed by `ItemAt` as a named indexer. If we aren't at all likely to see it soon though, I wouldn't want to keep waiting on it.

[2017-11-15 11:56] Cronan opened #25268 "Test failure: System.Data.Tests.DataTableTest.PropertyExceptions"
The test `System.Data.Tests.DataTableTest.PropertyExceptions ` has failed.

Assert.Throws() Failure
Expected: typeof(System.ArgumentException)
Actual:   (No exception was thrown)

[code]

- Config:  netcoreapp-Windows_NT-Debug-x64
- OS: Microsoft Windows [Version 6.1.7601]

[2017-11-15 12:28] qqbuby opened #25269 "Unhandled Exception: System.Data.Odbc.OdbcException: ERROR [H] [unixODBC]["
[code]

[code]

[code]

[code]

[code]

[code]

*P.S: the host and database has been replaced with '*.*.*.*'*

[code]

Source Repo on GitHub: https://github.com/qqbuby/dotnet-cross-odbc

[2017-11-15 13:12] jkotas commented on #25189
It is absolutely fine to do in custom collections that are optimized for specialized cases like large value types. The mainstream .NET collections are optimized for productivity, not for the last bit of performance in specialized cases.

[2017-11-15 13:55] benaadams commented on #25189
Currently for a value type you need to do:
[code]
As well as being more perfomant, it is also more productive to mirror an array's behaviour:
[code]

[2017-11-15 15:11] jaredpar commented on #25189
Getting back to the proposal though. This is meant to provide guidance for the pattern to use for ref accessors on existing types to ensure consistency when we choose to do so. The proposal isn't meant to debate which types we add it to. Sure we'll have plenty of fun doing that later.

There seem to be two suggestions now for the name: `ItemRef` and `ItemAt`.

I'm slightly partial to `ItemRef` bec

[2017-11-15 15:16] benaadams commented on #25189
`ItemRef` does seem to have the edge:

![image](https://user-images.githubusercontent.com/1142958/32843488-d71c9b50-ca17-11e7-8d48-eecf4bfe0755.png)

[2017-11-15 15:38] VSadov commented on #25189
Yes. I think we are nearly done here and `ItemRef` is going to be the name.

[2017-11-15 16:28] khellang commented on #23312
I guess it's time to expose the new API in System.Runtime.cs? 😄

[2017-11-15 17:03] FransBouma commented on #20903
It actually happens twice. First the validation occurs when the config is parsed and the datatable is created internally, see:
https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/Common/DbProviderFactories.cs#L117
called from:  https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/Common/DbProviderFactories.cs#L237
So if an invalid type is sp

[2017-11-15 17:18] terrajobst commented on #25189
While strictly speaking not an API suggestion, it's a subject we should review as part of the API review process.

[2017-11-15 17:46] gafter commented on #25251
@weshaggard The compiler simply cannot implement the proper language semantics against incorrect reference assemblies. This is a new problem because of the way that reference assemblies are now being used for `mscorlib`. See https://github.com/dotnet/roslyn/issues/20624 .

[2017-11-15 17:58] twsouthwick opened #25273 "Calling Flush on System.IO.Packaging.Package does not flush contents"
When creating a package on .NET Core, you have to call Dispose or Close to get the contents written out to the underlying stream. This works on .NET Framework, but fails on .NET Core:

[code]

[2017-11-15 18:01] twsouthwick commented on #25273
It appears that this is due to not flushing the underlying zip. In [.NET Framework](http://referencesource.microsoft.com/#WindowsBase/Base/System/IO/Packaging/ZipPackage.cs,333) it is flushed, but not in [.NET Core](http://source.dot.net/#System.IO.Packaging/System/IO/Packaging/ZipPackage.cs,197). I'll try adding that in and see if it works.

[2017-11-15 18:40] VSadov commented on #25189
Sure. As a part of the review we need to settle on:
1) General pattern for adding a ref accessor when indexer already present.
Here we propose a  `ref [readonly]` returning method with a name we agree on.
2) Name of the method
Discussion has converged on `ItemRef`
3) Rough guidance or set of principles on what types should have this.
I would suggest to go through a list of representative types and

[2017-11-15 18:42] davidsh commented on #25234
Thanks for posting this.

I was able to reproduce a problem.  It seems that on .NET Framework, this code correctly throws an exception that surfaces to the top-level and is caught by this code:

But on .NET Core, the exceptions are still happening, but they are not been propagated correctly.  In fact, this code hangs forever (due to the .Wait()).  It appears that the Task is never notified of the

[2017-11-15 18:43] VSadov commented on #25189
=== The list of "interesting" types :
- `String`
- `ImmutableArray<T>`
- `ImmutableList<T>`
- `ArraySegment<T>`
- `Stack<T>`
- `List<T>`
- `ArrayBuilder<T>`
- `StringBuilder`
- `ImmutableDictionary<K, V>`
- `Dictionary<K, V>`

[2017-11-15 18:43] davidsh commented on #25234
This is not just a Windows issue.  The SmtpClient code is common across all platforms for .NET Core.

[2017-11-15 19:17] twsouthwick commented on #25273
@ianhays ZipArchive does not have a Flush method. Is there a way to flush the current archive state to a stream, or is this part of the issue to get streaming support for compression?

[2017-11-15 19:33] leecow commented on #25245
@natemcmaster - where are we with the aspnetcore docker update?

[2017-11-15 20:10] danmosemsft commented on #23710
Thanks @satano. This will definitely help customers.

[2017-11-15 20:11] natemcmaster commented on #25245
2.0.3 NanoServer images are available. Linux builds are still a WIP. We discovered our tests for Linux have been skipped for the last month and, upon re-enabling them, they failed due to bugs in our bash scripts. Hoping to have this fixed this afternoon.

[2017-11-15 20:13] danmosemsft commented on #25269
Are you comfortable to debug a little?

[2017-11-15 20:52] ianhays commented on #25273
I'm not sure why ZipArchive in netcore doesn't have a flush method. It was ported to CoreFX without one. It could be that it was removed since it was internal-only in netfx and not used in netcore.

We could probably add it as public, at least for ZipArchiveMode.Create. I'm not sure how that would affect being able to open some entries though. We would need to add lots of tests to first verify the

[2017-11-15 21:25] #24409 closed

[2017-11-15 21:27] natemcmaster commented on #25245
2.0.3 ASP.NET Core images for both Linux and NanoServer are now available on Docker Hub.

[2017-11-15 21:29] #25225 closed

[2017-11-15 21:29] twsouthwick commented on #25273
Yeah - I took a shot at just calling the WriteFile method (which is what the Dispose method calls) in lieu of a flush and it caused a lot of problems. It seems to close streams, so it expects to be called in the dispose. Exposing it would be nice, but I agree that there will be a need to add a bunch of tests for it.

We seem to be finding many issues with System.IO.Packaging in the DocumentFormat.

[2017-11-15 21:57] davidsh commented on #25135
Closing this as a duplicate of #3891.

[2017-11-15 21:57] #25135 closed

[2017-11-15 21:57] divega commented on #20903
That code you pointed to special cases the providers defined by .NET Framework itself (in System.Data.dll, assembly that you would have been already loaded) and in particular, it instantiates Microsoft's Oracle provider.

Unless I am missing something, I believe if you call `GetFactory` for provider A, and provider B is registered using its assembly qualified name, provider B will not be loaded an

[2017-11-15 21:58] danmosemsft commented on #22586
Fix released https://github.com/dotnet/corefx/releases/tag/v2.0.3

[2017-11-15 21:58] danmosemsft commented on #24832
Fix released https://github.com/dotnet/corefx/releases/tag/v2.0.3

[2017-11-15 21:58] danmosemsft commented on #23608
Fix released https://github.com/dotnet/corefx/releases/tag/v2.0.3

[2017-11-15 21:59] danmosemsft commented on #24718
Fix released https://github.com/dotnet/corefx/releases/tag/v2.0.3

[2017-11-15 22:08] eddiezane commented on #21689
[2.0.3 shipped](https://github.com/dotnet/core/blob/eecb169f45109db81e08d642da95cc2d3ab1defb/release-notes/2.0/2.0.3.md) and fixes the issue for me!

Great work by the team 🎉

[2017-11-15 22:16] razzemans commented on #24718
thanks for the feedback!

[2017-11-15 22:33] wernerbarnard commented on #20598
Did anything come of this suggestion?

I would +1 to the feature of adding something similar to curl's --resolve, to manually put an IP address behind a hostname.

[2017-11-15 22:46] ajryan commented on #25234
Is this the fix already? https://github.com/dotnet/corefx/pull/24536

[2017-11-15 22:51] davidsh commented on #25234
Yes, looks like this issue was fixed with PR #24536.

[2017-11-15 22:51] #25234 closed

[2017-11-15 22:59] ahsonkhan commented on #24840
@KrzysztofCwalina, can you update the original post and remove the byte specific EndsWith overloads?

[2017-11-15 23:11] ahsonkhan commented on #16730
This PR fixes the issue (by adding a null check to the implicit cast): https://github.com/dotnet/corefx/pull/25257

Should we still add those equality overloads?

[2017-11-15 23:14] ahsonkhan commented on #25077
Adjusting milestone to future.

[2017-11-15 23:20] gafter commented on #16730
I don't think so. However, it is slightly strange that you can convert a null `T[]` to a `Span<T>` by the conversion but not by construction.

[2017-11-15 23:30] KrzysztofCwalina commented on #24840
@ahsonkhan, which original post? I did remove the byte overloads in this issue (at the top).

[2017-11-15 23:52] benaadams commented on #25189
`String` returning a `ref readonly char` probably isn't useful over just `char`? Unless there was a corresponding interface that it conformed to.

`StringBuilder` returning a `ref char` would have some utility.

[2017-11-15 23:53] ahsonkhan commented on #24840
Remove these from https://github.com/dotnet/corefx/issues/24840#issue-268103434:
[code]

[2017-11-16 01:12] tarekgh commented on #24449
@adriangodong did you have a chance to enable the added APIs in corefx repo?

[2017-11-16 01:24] adriangodong commented on #24449
@tarekgh Yep, #25235

[2017-11-16 01:28] bigmacd commented on #25269
@qqbuby , have you tried isql and iusql?  I would be curious to know if one or the other can connect.

I am having a similar issue with Netezza via unixODBC.  For me, isql will connect but iusql (the unicode version) will not.  It seems System.Data.Odbc only calls SQLDriverConnectW and this may be the issue.  I think we need a way to say "no unicode for me, please", and call SQLDriverConnect (with

[2017-11-16 01:36] blowdart commented on #25245
The issue has been updated to reflect it's 2.0.3 rather than 2.01 for the runtime.

[2017-11-16 01:47] Deren-Liao opened #25287 "Is it possible to run test against runtime only?"
I was able to build and run corefx tests.
My work has a constraint that it need to use docker image less than 500MB in size.
The docker image contains corefx, coreclr and with built tests is 13.4 GB

I wonder if it is possible that I copy minimum required files to the microsoft/dotnet:2.0-runtime-jessie image and have the test run?

[2017-11-16 02:40] jkotas commented on #9800
Needs to be exposed from the contracts: https://github.com/dotnet/corefx/tree/master/src/System.Reflection.Emit.ILGeneration

[2017-11-16 03:00] stephentoub commented on #25234
#24536 fixes a hang, but that's not what you're seeing.  I can't repro the behavior you're seeing, and it sounds like @davidsh couldn't either, so I don't know if #24536 actually addresses it or not.

[2017-11-16 03:18] Sunny-pu commented on #18907
failed again in 2.0.0 branch:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcorefx~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20171115.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveUdpClient~2FSendToRecvFromAsync_Datagram_UDP_UdpClient(loopbackAddress:%20127.0.0.1)

[2017-11-16 03:51] jkotas opened #25289 "HttpListener failure on Windows ARM"
System.Net.HttpListenerException: Invalid access to memory location
   at System.Net.HttpListener.BeginGetContext(AsyncCallback callback, Object state)
   at DotNetCoreHttpListener.Program.Main(String[] args) in C:\src\DotNetCoreHttpListener\Program.cs:line 22

[2017-11-16 03:52] jkotas commented on #25289
This is bug in .NET Core implementation of System.Net.HttpListener on Windows ARM.

https://msdn.microsoft.com/en-us/library/windows/desktop/aa364495(v=vs.85).aspx says “The pRequestBuffer parameter must point to a valid memory buffer with a memory alignment equal or greater to the memory alignment requirement for an HTTP_REQUEST structure.”

The alignment requirement for HTTP_REQUEST structure on

[2017-11-16 04:07] ajryan commented on #25234
The same code hangs on my Win 7 machine and hard crashes on Win 10. Makes me think it may be different symptoms of the same underlying issue.

Have you tried the repro on .NET Core 2.0.2 on Win 10?

[2017-11-16 05:22] VSadov commented on #21689
CC: @jaredpar

[2017-11-16 06:29] Sunny-pu commented on #20245
failed again in Master branch, detail:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171116.01/workItem/System.Net.NameResolution.Pal.Tests/analysis/xunit/System.Net.NameResolution.PalTests.NameResolutionPalTests~2FGetHostByName_HostName

[2017-11-16 07:05] Sunny-pu commented on #22814
failed again in master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171116.01/workItem/System.Net.Sockets.Tests/analysis/xunit/System.Net.Sockets.Tests.SendReceiveSync~2FReceive0ByteReturns_WhenPeerDisconnects

[2017-11-16 07:07] qqbuby commented on #25269
@bigmacd

From the ODBC trace message  `UNICODE Using encoding ASCII 'ANSI_X3.4-1968' and UNICODE 'UCS-2LE'`, it seems that the problem was caused with `DriverManagerEncoding`.

@danmosemsft

The problem has been solved by set the `DriverManagerEncoding=UTF-16` in the Cloudera Impala Driver `cloudera.impalaodbc.ini` or just comment it as below:

[code]

**However, the `System.Data.Odbc` should giv

[2017-11-16 07:40] Cronan commented on #9800
I noticed this - I can do it as well, if you like, I’ve got the code open as it is

[2017-11-16 07:43] Sunny-pu commented on #20223
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/lastCompletedBuild/testReport/System.Net.Sockets.Tests/DnsEndPointTest/Socket_StaticConnectAsync_HostNotFound/

[2017-11-16 08:26] jkotas commented on #9800
@Cronan Yes, that would be great. Thanks!

[2017-11-16 08:52] Cronan commented on #9800
I'm slightly confused about where exactly the change should be made.
The screen grab below is from my corefx checkout of master

![emicalli_grab](https://user-images.githubusercontent.com/777435/32882165-5f1e742c-caab-11e7-8acb-d99ba1a37aae.png)

[2017-11-16 09:24] mkushakov commented on #8807
Since SQL Operations Studio goes to Preview stage, original request of supporting AAD username and password on MacOS and Linux needs to be upvoted and uplifted with higher priority.

[2017-11-16 10:48] hungquach opened #25290 "StringContent doesn't have an option to remove charset"
I'm using `HttpClient `to send the request but it seems `StringContent ` doesn't have an option to remove `charset `and I have to do it manually

REST endpoint only support `{application/json}` not `{application/json; charset=utf-8}`

[code]

**Environment**: .NET Core 2.0, .NET Standard 2.0

[2017-11-16 11:49] FransBouma commented on #20903
You're not missing something, you're right. It registers type names and defers the checks to the GetFactory() method.

Ok :) I have struggled with coming up with a use case for the method, but last night I thought of one and it's close to home as well: an ORM can pre-register all supported ADO.NET providers with DbProviderFactories using this method, so the user doesn't have to :) (they then have

[2017-11-16 13:17] tmds opened #25291 "Linux Process.StartTime is in the future"
TestStartTimeProperty failed on my laptop:
[code]
The actual and lower range values are in the future.

To calculate the StartTime, the boot time of the system is used. It is calculated as follows:

https://github.com/dotnet/corefx/blob/c280881a048ee9d9fbfc629ca55d755d3e2b045d/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L483

Probably Stopwatch.GetTimestamp doesn't increm

[2017-11-16 13:27] FransBouma commented on #20903
@divega
In any case, I've updated the implementation: https://github.com/FransBouma/corefx/blob/DbConnection_ProviderFactory_19826/src/System.Data.Common/src/System/Data/Common/DbProviderFactories.cs
added tests for the deferred behavior, but NOT for the earlier discussed weird GetFactory(datarow) behavior, as @terrajobst e.a. have to decide what to do.

Current implementation defers the registrat

[2017-11-16 15:00] JamieKeeling commented on #25245
Our application is using the **microsoft/dotnet:onbuild** base image (project.json), however I can't see a way of protecting ourselves from this issue without moving to CSPROJ and picking the new 1.1.5 SDK and run-time.

Is that the expected journey for this?

For reference dotnet --info kicks out the following within context of the application:

[2017-11-16 15:13] jkotas commented on #9800
1. Wait for https://github.com/dotnet/corefx/pull/25282 to get merged. This PR will propagate your change to CoreFX repo. (Alternatively, if you do not want to wait - you can use CoreCLROverridePath option for build.cmd to point it to your private CoreCLR build https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md.)
2. Add the method to https://github.com/dotne

[2017-11-16 15:27] jamesqo commented on #14354
@morganbr Why did you reopen this?

[2017-11-16 15:35] philippweidhas opened #25293 "Problem building the build-managed.sh for an x86 CoreFX Linux build"
Hallo Github Community,

im facing following problems building the build-managed.sh for an corefx x86 build:
[code]
I was following these steps:

[code]
The build-native.sh builds working fine, but the managed build not. I also tried -release instead of -debug.

I found [these  issue with a workaround](https://github.com/dotnet/corefx/issues/15274) but i have no
src/Tools/CoreFx.Tools/CoreFx.Tools

[2017-11-16 15:39] jkotas commented on #14354
The PR to get it exposed in CoreFX did not go through yet.

[2017-11-16 15:40] bigmacd commented on #25269
Anyone want to take a guess at this:

[code]

I took those characters (in Python):
In [1]: s = '敓癲牥愠摮漯⁲潰瑲愠瑴楲畢整⁳牡⁥浥瑰y䵈琀缰'
In [2]: s.encode('utf-16')
Out[3]: b'\xff\xfeServer and/or port attributes are empty\x00HM\x00t0\x7f'

It is on Linux using unixODBC->Netezza

I have followed the instructions in the Netezza ODBC_README:

LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/nz/lib
ODBCINI=/root/odbc.ini

[2017-11-16 16:18] DavidThi808 opened #25294 "IsolatedStorageException using System.IO.Packaging"
We are getting an IsolatedStorageException in the System.IO.Packaging code ([details here](https://github.com/OfficeDev/Open-XML-SDK/issues/292#issuecomment-344715377)). Two questions:

1. What is the best way to avoid this using the existing code.
2. I'm willing to contribute a fix to eliminate this issue - can I volunteer to do so?

thanks - dave

[2017-11-16 16:47] tarekgh commented on #25228
https://mc.dot.net/#/user/adriangodong/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/df8d80943850d79ac38ac0c0ab921486b0c2b4fa/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterCategoryTests~2FPerformanceCounterCategory_Create_Obsolete

[2017-11-16 16:52] karelz commented on #25122
If ASP.NET 4.6.1 behaves differently, it would be best to follow up on ASP.NET repos to find out what is different. I don't think it is difference in async behavior.
Closing as answered.

[2017-11-16 16:52] #25122 closed

[2017-11-16 16:54] karelz commented on #25128
@krwq @tarekgh do you have any advice from general .NET Core localization point of view?

[2017-11-16 16:55] karelz commented on #25145
@jorive @DrewScoggins @brianrob @valenis any insights?

[2017-11-16 17:01] tarekgh commented on #25128
@karelz I believe the request here is to get the net core assemblies localized. neither me nor @krwq familiar or owning that. would be better to get the owner take a look.

CC @danmosemsft as he was involved in similar discussions before.

[2017-11-16 17:07] karelz commented on #25172
Seems to be answered and agreed that there is nothing to fix here.

[2017-11-16 17:07] #25172 closed

[2017-11-16 17:08] karelz commented on #25177
@AlexGhiondea is it dupe of the known 4.7.1 problem?

[2017-11-16 17:08] tarekgh commented on #25128
https://github.com/dotnet/corefx/pull/2713

[2017-11-16 17:09] karelz commented on #25184
Please ask the question on PowerShell repo. If there is underlying problem in .NET Core, please provide a repro without PowerShell for us to look at. Thanks!

[2017-11-16 17:09] #25184 closed

[2017-11-16 17:15] twsouthwick commented on #20558
We have encountered a few issues in System.IO.Packaging that users of DocumentFormat.OpenXml (a common Office document manipulation library) have hit that require streaming support in zip files. I'm not familiar with the domain enough to add much to the API discussion, but would love to see some movement on this issue.

[2017-11-16 17:16] karelz commented on #25220
@KrzysztofCwalina can you comment if `Range` is ready for CoreFX repo?

[2017-11-16 17:21] karelz commented on #25212
Check out these instructions: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#more-advanced-scenario---using-your-local-corefx-build

[2017-11-16 17:21] #25212 closed

[2017-11-16 17:31] KrzysztofCwalina commented on #25220
The corfxlab Range is not ready yet. There are the following open questions:
1. Should Range be generic?
2. If not, should its indexes be long or int?
3. The compiler team wants to provide syntax for ranges, will this range type worrk for the compiler?
4. Is range (index, count) or (from,to)
5. If (from,to), is it exclusive or inclusive?
6. In Python, ranges/sliceing can support skipping elements.

[2017-11-16 17:33] karelz commented on #25220
OK, let's close this API proposal then. We should first iterate on the proposal in CoreFxLab.

[2017-11-16 17:33] #25220 closed

[2017-11-16 17:34] KrzysztofCwalina commented on #24840
Done. Thanks.

[2017-11-16 17:47] DavidThi808 commented on #20558
I want to add my voice agreeing with @twsouthwick - this is critically needed for the OpenXML library.

thanks - dave

[2017-11-16 17:49] ViktorHofer commented on #25294
@karelz who owns System.IO.Packaging?

[2017-11-16 17:50] Grauenwolf opened #25295 "TryParse for email addresses"
Currently we have to write this code:

        public static bool IsEmailAddress(this string value)
        {
            try
            {
                new System.Net.Mail.MailAddress(value);
                return true;
            }
            catch ()
            {
                return false;
            }
        }

MailAddress should have a TryParse method like Int32.TryParse.

[2017-11-16 17:57] karelz commented on #25294
@DavidThi808 as first step, it would be great to create minimal repro. Can you help with that?

@ViktorHofer check the list of [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) - it is currently part of System.IO. If there is need to split it off, I would expect System.IO experts to initiate that discussion.

[2017-11-16 18:05] karelz commented on #25287
Size of tests is not a metric we are optimizing for.
If you need to run tests on small Docker images, you will need to manually build & deploy only subset of tests (e.g. per project, or in extreme per test). There is nothing in our scripts/infrastructure which would help you beyond that.

I am curious why you have the 500MB limit on Docker image ...

[2017-11-16 18:05] #25287 closed

[2017-11-16 18:08] karelz commented on #25260
Do you have a (minimal) repro for your failure?
Are you running on .NET Core or on .NET Framework?
Are you able to reproduce the problem outside of MVC? (if not, starting the bug report in MVC repo might be best)

[2017-11-16 18:10] davidsh commented on #25289
@jkotas
This issue is currently marked as "arch-arm32".  Wouldn't a requirement of "8" be for "arch-arm64"?  Is this bug repro'ing on arm32 or arm64 architectures?

[2017-11-16 18:17] karelz commented on #25295
Can you post full API proposal? (see [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md))

[2017-11-16 18:19] karelz commented on #25294
Ah, I missed the zip link. It seems rather large repro. Is there a chance to minimize it to a sample code which could be copy pasted here? Or is the zip the minimal thing possible?

[2017-11-16 18:22] karelz commented on #25128
@tarekgh does it mean .NET Core assemblies are not localized at all? (that would be a bit surprising to me)

[2017-11-16 18:24] shmao opened #25298 "XmlSerializer.CreateWriter Throws NotImplementedException"
The tests being added by https://github.com/dotnet/wcf/compare/master...imcarolwang:SFxTest?expand=1 got the following exceptions. We need to investigate if it's issue in serialization or in WCF.

[code]

[2017-11-16 18:25] tarekgh commented on #25128
I don't think we localize the net core assemblies. I believe the exception is Microsoft.CSharp #2713

[2017-11-16 18:26] jkotas commented on #25289
This is for `arch-arm32`. ARM32 ABI requires 8-byte alignment for structures that contain 64-bit integers or floats.

[2017-11-16 18:30] divega commented on #20903
@FransBouma glad to hear you arrived to that scenario for the assembly-qualified name overload. It is basically the same thing we had in mind.

Feel free to propose improvements to the XML doc comments of the methods. The comments were not really the focus of the API discussion and should not be considered part of the spec.

Last-one has to wins always, otherwise I can't think of a way to explain

[2017-11-16 18:30] #24449 closed

[2017-11-16 18:31] DrewScoggins commented on #25145
Sorry, meant to write something here and got sidetracked.

So first and foremost you can find all of our performance runs at ci2.dot.net. They live under dotnet_coreclr and dotnet_corefx. All of the jobs there are handled by a perf.groovy that is checked in the respective coreclr and corefx repos. That should give you a good idea of the general shape of the infrastructure that we use to run the te

[2017-11-16 18:33] kasper3 commented on #24824
Is this moving scoped to copy/pasting the directories and updating some xml files? Or would it also include using Pipelines in existing BCL types (<many>*Stream APIs, HttpClient, websocket etc.)?

[2017-11-16 18:36] DavidThi808 commented on #25294
That's the minimum. You only need the Word AddIn project to repro. The big file is the chart.xml and it needs that giant set of data to cause the error.

You need to run the Word AddIn project - it runs fine as a command line app.

[2017-11-16 18:36] TylerBrinkley commented on #24449
Can we add the netfx-port-consider label to this issue?

[2017-11-16 18:37] #25080 closed

[2017-11-16 18:40] tarekgh commented on #24449
The added APIs should be included in the next wave of creating the new netsatndard version and support it on the full framework.

CC @weshaggard @AlexGhiondea

[2017-11-16 18:42] Cronan commented on #9800
Accepted.

[2017-11-16 18:47] Grauenwolf commented on #25295
How's that look?

[2017-11-16 18:48] karelz commented on #18907
This is fixed in master (2.1) - see #24099.
We should port the fix into 2.0.x branch to decrease noise.

[2017-11-16 18:48] Cronan commented on #9800
I’m AFK until Monday, hope that’s not a problem

[2017-11-16 18:56] davidfowl commented on #24824
The former. The latter would be a much bigger effort and *may* happen eventually but the first step is to BCLize the APIs and move them into corefx.

[2017-11-16 19:00] jkotas commented on #9800
No problem

[2017-11-16 19:18] karelz commented on #9800
@Cronan GH shows your invite as "not accepted". Can you please double check?

[2017-11-16 19:19] karelz commented on #25295
See the link I posted - it has details and also example. The key thing is that API should be thought through various points of views (usage patterns, similar patterns in BCL, etc.)

[2017-11-16 19:24] tarekgh commented on #24918
Issue moved to [dotnet/wcf #2390](https://github.com/dotnet/wcf/issues/2390) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-16 19:25] karelz commented on #25294
Any chance to repro without the Word AddIn? And minimize the data needed? The larger repro, the more difficult it is to debug. (yes, it may be non-trivial work to get there)
Smaller repros without additional libraries also minimize the chance of analyzing problems in the libraries themselves.

[2017-11-16 19:25] Grauenwolf commented on #25295
My apologies, I see how my last comment was a bit ambiguous.

[2017-11-16 19:28] bartonjs commented on #25123
The API got locked to netstandard20 equivalence, which was the .NET Framework version before they were made public.

[2017-11-16 19:30] DavidThi808 commented on #25294
Sorry, no. One of the projects there is identical except it's a command line app - it works. And if the amount of data is smaller, it works. It's the combination of being an AddIn and the large data that causes the error.

sorry - dave

ps - With that said, the code to reproduce this is very minimal. It's just the number of nodes on chart.xml that's large.

[2017-11-16 19:33] tarekgh commented on #25099
This issue was moved to angular/angular#20485

[2017-11-16 19:33] #25099 closed

[2017-11-16 19:35] karelz commented on #25294
OK, that's a good context to have ;)

[2017-11-16 19:37] shmao opened #25299 "Add New APIs in Syndication for Custom DateTimeParser/StringParser/UrlParser"

[2017-11-16 19:42] tarekgh commented on #25260
This issue was moved to aspnet/Mvc#7058

[2017-11-16 19:42] #25260 closed

[2017-11-16 19:46] saurabh500 commented on #24792
@benrr101 Can you repro this on .Net Framework as well>

[2017-11-16 20:20] tarekgh commented on #25260
CC @joperezr

[2017-11-16 20:26] YohDeadfall commented on #25220
@karelz Should I reopen this issue in the CoreFxLab repo?

[2017-11-16 20:26] MikeDempseyFL commented on #5982
Sorry, it was user error.
There was a bug in my test that prevented it from making the network calls.

Now that I have fixed it I can see socket events including the 'DumpBuffer' events which is what I need to look at.
These events only show the first 16 bytes in the initial grid display - which makes it difficult to recognize the messages I'm interested in without opening each one individually (u

[2017-11-16 20:26] tmat commented on #23937
@YongseopKim Sounds like a bug in NGEN to me. It should not reorder custom attributes.

[2017-11-16 20:51] euclid47 commented on #25295
@Grauenwolf Have you tried writing an extension class to accomplish this task?

[2017-11-16 21:02] LarrySmith-1437 commented on #18276
The lack of Always Encrypted is a real drag on promoting .net Core where I am, because security is paramount.

[2017-11-16 21:15] shmao commented on #25259
This worked on netcoreapp1.X because we had a special ExceptionDataContract for serializing exceptions. The drawback was that DataContractSerializer only serialized partial information of the exceptions.

On netcoreapp2.0, types like `ISerializable` and `SerializableAttribute` became available. As Exceptions implement `ISerializable` interface, DataContractSerializer would respect the interface an

[2017-11-16 21:29] karelz commented on #22578
Not repro, closing.

[2017-11-16 21:29] #22578 closed

[2017-11-16 21:39] karelz commented on #25220
@YohDeadfall that might be reasonable - @KrzysztofCwalina can provide further guidance how issues are tracked in CoreFxLab repo.

[2017-11-16 22:00] ajcvickers commented on #24738
@amitsaini12345 This is not something we are planning to do in the core data annotations. One of the problems with any changes to data annotations is that at least some of the consumers of the annotations need to be updated to understand the changes, and when consumers are not updated it results in a confusion experience. Due to that, it might be better to do this by having some tool/package that

[2017-11-16 22:00] #24738 closed

[2017-11-16 22:05] ViktorHofer commented on #25259
We are bringing exception serialization back with the imminent servicing release (2.0.4). You can already inspect the changes to the types in the release/2.0.0 and master branches.

[2017-11-16 22:08] ViktorHofer commented on #25259
@scegg Please retry your scenario after upgrading to the next servicing release (2.0.4, rough release date: ~December) and get back to us if you are still having troubles. I'll close the issue for now.

[2017-11-16 22:08] #25259 closed

[2017-11-16 22:10] Deren-Liao commented on #25287
It has something to do with our existing test infrastructure.  We'll have to find an alternatives.   Thanks.

[2017-11-16 22:14] ajcvickers commented on #10526
Closing this as the change discussed above has been merged from a PR.

[2017-11-16 22:14] #10526 closed

[2017-11-16 22:17] vancem commented on #5982
@MikeDempseyFL  - You are describing limitations in the PerfView viewer.   The actual data being dumped is complete, and it is the viewer that is truncating it as not to create a huge artifact.   The viewer is really not designed for your use case (where you want to look at large buffers as raw bytes).    This scenario really is a unusual corner case (normally loggers don't log large byte buffers

[2017-11-16 22:27] Priya91 commented on #24387
This is fixed.

[2017-11-16 22:27] #24387 closed

[2017-11-16 22:27] tmat commented on #23937
@sergiy-k

[2017-11-16 22:45] ctolkien commented on #25295
Alternatively, why not make the `MailAddressParser` which the `MailAddress` uses under the covers not internal?

https://github.com/dotnet/corefx/blob/f0ccd9742065ee2aa296448fe3dd38ef6ff77af9/src/Common/src/System/Net/Mail/MailAddressParser.cs#L21

[2017-11-16 22:48] sergiy-k commented on #23937
/cc: @nattress

[2017-11-16 22:49] Grauenwolf commented on #25295
As long as it has a TryParse method, I have no preference.

[2017-11-16 22:53] jkotas commented on #23937
It may be nice if tools always preserve order of custom attributes. A lot of tools do not do it today though, e.g. ildasm/ilasm roundtrip does not preserve the order of the custom attributes either.

[2017-11-16 23:01] satano commented on #25295
@euclid47
Own extension is not enough, because it will still have the issues @Grauenwolf  mentioned in his rationale: impact on performance because of thrown exception and troubles in IDE when you use _Break on All Exceptions_. The other disadvantage of extension is, that you have to have an instance already and this should be static methods as shown in proposed API.

@ctolkien
This probably will

[2017-11-16 23:05] blowdart commented on #25295
The only way to discover if an email is valid is to send an email to it and see what happens. Just because it looks like an email address **does not** mean it's valid. When you TryParse on a number the result indicates that the value parsed is, or is not, a number. TryParse for email addresses cannot do this.

As people make security decisions on email addresses I would not like to see this added.

[2017-11-16 23:07] ctolkien commented on #25295
My experience is that the only real way to check if an email is valid is to send an email to it.

[2017-11-16 23:21] JonHanna opened #25301 "S.L.Expressions produces unnecessary nop instructions for high-arity delegates"
Any use of `ldarg`, `ldarga` or `starg` is followed by two redundant `nop` functions due to passing a four-byte signed integer where a two-byte unsigned is expected.

In theory this could produce even worse IL for very large values, but since that would be an attempt to use more that 65535 arguments, would fail on that ground anyway.

[2017-11-16 23:42] #24213 closed

[2017-11-16 23:49] JonHanna opened #25302 "S.L.Expressions interpreter defers and differs on excepton for excessive arguments."
If you try to compile a lambda expression with more than 65535 parameters it throws `InvalidProgramException` which is to be expected since .NET methods cannot have more arguments than that.

The interpreter doesn't throw until attempted invocation, and at that point throws `TargetInvocationException` instead.

[2017-11-16 23:58] udlose opened #25303 "Regex should have a static TryParse() method"
[edit by @ViktorHofer to put into review format]

# Issue
from @udlose
The `System.Text.RegularExpression` class does not have a true ability to test for valid regular expression syntax from a string input. The only way that this can currently be accomplished is to surround the `Regex `ctor (that takes a string) with a `try/catch` and look for an `ArgumentException `if the string is not a valid re

[2017-11-17 00:01] Grauenwolf commented on #25295
That's like arguing we shouldn't parse someone's date of birth because the only way to know if the DOB is valid is to check the birth certificate.

If using for UI validation, you shouldn't wait for a bounce to inform the user they typed "me#google.com".

Personally I'm not even using it for sending emails. I'm using it to extract the user and host name as separate fields for LDAP lookups. (Which

[2017-11-17 00:08] Grauenwolf commented on #25295
On another project I need to read the top 10,000 rows from each table and see which non-null columns always, never, or sometimes contain email addresses.

Again, I need an email address parser. But I'm not going to be actually sending out emails.

******

Finally, how would you use an email address alone for security? Even if you did send a validation email, it could be to a fake address set up fo

[2017-11-17 00:12] WiredUK commented on #25295
You were given an email parser in your [Stack Overflow question](https://stackoverflow.com/a/47336235/1663001), so what more do you need really? I'm in agreement with @blowdart here, not keen on adding extra APIs to parse email addresses, especially as the rules for what a valid address has the potential to change, meaning the API would go out of date.

[2017-11-17 01:03] karelz commented on #25303
We intentionally don't spread TryPattern everywhere. Only in places where it makes sense.
What are the scenarios where you need to parse unknown RegEx? How common are those scenarios? (Naively I would assume that RegEx is typically constant in code)

[2017-11-17 01:12] arturl opened #25306 "X509Store.Add pops up a dialog, fails on OneCore systems"
Repro:

[code]

The code below pops up a dialog: "You are about to install a certificate from a certification authority... ":

![image](https://user-images.githubusercontent.com/1875734/32924226-6bac68ee-caf0-11e7-934e-afef4e317c16.png)

when run on a desktop version on Windows. On a GUI-less OneCore system (such as Nano or IoT Core), it fails immediately with exception
`Internal.Cryptography.Cryp

[2017-11-17 01:22] Grauenwolf commented on #25295
I fail to see the logic in your argument. Class MailAddress isn't going away. In the unlikely event that the definition of an email address changes, it will have to be updated anyways.

And no, a Regex is not a substitute for a standards compliant parser.

[2017-11-17 01:35] Cronan commented on #9800
Sorry, I didn’t have 2-factor enabled, and the mobile GUI wasn’t very clear. Should be accepted now.

[2017-11-17 01:57] qqbuby commented on #25269
@bigmacd For your problem, I think this issue should be reopened.

[2017-11-17 02:13] udlose commented on #25303
I've had apps where regex's were stored in databases, xml files, .config files, etc.  Different clients, different projects.  In other words, it didn't seem like an exception to the rule that I would have benefited from having this API.  The most recent example that comes to mind is a coupon validation component that business folks store regex's dynamically in a database when running special event

[2017-11-17 02:16] euclid47 commented on #25295
@Grauenwolf For both questions I would ask these on stackoverflow.com due to being off topic. Both questions are important and I have a few ideas to accomplish both tasks.

[2017-11-17 02:43] scegg opened #25310 "Feature request: Add a method to get the core framework version."
Due to some function is brought in with newer version of core framework, I need to test the installed version of core framework on client side while my app running.

Is there any way to get the framework version, e.g. "2.0.3" ?
Currently, Environment.Version is set to netfx version even the app is running as core app.

Thanks.

[2017-11-17 04:34] euclid47 commented on #24843
@karelz Any movement on the issue?

[2017-11-17 08:39] Joe4evr commented on #25310
That's not how things work in the new world. If you need some functionality from the framework, you target the NetStandard version that contains that functionality.

[2017-11-17 08:41] scegg commented on #25310
@Joe4evr So, how to check this?
Method will throw PlatformNotSupported until 2.0.4.

https://github.com/dotnet/corefx/issues/25259

[2017-11-17 08:55] Sunny-pu opened #25311 "Tests under "System.Net.Tests" failed with "Exit code was 131 but it should have been 42""
Failed tests:
 System.Net.Tests.WebRequestTest.DefaultWebProxy_SetThenGet_ValuesMatch
 System.Net.Tests.GlobalProxySelectionTest.Select_Success
 System.Net.Tests.HttpWebRequestTest.DefaultMaximumResponseHeadersLength_SetAndGetLength_ValuesMatch
 System.Net.Tests.HttpWebRequestTest.DefaultMaximumErrorResponseLength_SetAndGetLength_ValuesMatch
 System.Net.Tests.HttpWebRequestTest.DefaultCachePolicy_

[2017-11-17 08:57] sherry-ummen commented on #25145
Thank you very much. You say "as well as putting the machines in a good state for collecting performance information" which line in that script does that, as I could not find that.

[2017-11-17 09:10] satano commented on #25295
@blowdart, @ctolkien, @WiredUK

It can and it definitelly would. You mix two different things here. One is a check if some string _represents_ an email address, the other is if that email address _really exists_ (or is valid as you say). ˙TryParse˙ is about the first one. The same is with `int.TryParse` - it just checks if string is a nuber, but does not check if that number is valid in given cont

[2017-11-17 09:14] satano commented on #25295
To put it in simpler way `MailAddress.TryParse` methods ar not for checking if email is valid, but for checking if given string is in a format, which represents email address.

[2017-11-17 09:19] satano commented on #25295
@euclid47

This is not about searching for some workaround, but it is an API proposal for .NET core. So this is the place where to ask/propose. If you have some ideas, why not share them?

[2017-11-17 10:15] viking84 opened #25313 "Getting MSB3027 (access denied) in MSDEV during compilation after dotnet.exe crash"
Hey there,

I'm devolping a dotnet core console application with Visual Studio Pro 2017 (15.4.0).

Sometimes I'm starting my console app from the Powershell, sometimes directly hitting F5 from the Visual Studio. It occurs from time to time, that when I start the Project from Powershell, that dotnet.exe crashes in case of an unhandled application exception.

From that Point on, I can't compile my P

[2017-11-17 10:26] rlarno commented on #8807
Came here from SQL Operation Studio (Preview). As we only allow ad-hoc query to our Azure SQL using Azure AD (username/password), not via SQL Login (username/password).
People are using Windows & MacOS (but mostly Windows)

[2017-11-17 12:51] euclid47 commented on #25295
@satano The two questions about searching through large datasets and using an email address as the only method of security. Both are valid questions but off topic for the original feature request. Those are best suited for stackoverflow.com.

[2017-11-17 15:14] twsouthwick commented on #24963
Since this seems to be a non-standard way of forming a URI, I'll close this for now. Thanks for the help!

[2017-11-17 15:14] #24963 closed

[2017-11-17 16:03] satano commented on #25295
@euclid47 OK. Thanks.

[2017-11-17 16:50] karelz commented on #24843
@euclid47 no update. If/when we decide to invest, we will update this issue.

[2017-11-17 17:11] karelz commented on #25310
Your app can decide which version to target and can even require minimal minor version (e.g. 2.0.4), or be self-contained. Would that be sufficient for you?

[2017-11-17 17:19] scegg commented on #25310
@karelz
It should be good. How can I do that?
Thanks

[2017-11-17 17:38] safern commented on #11857
We published a pre-release package 2 days ago into nugget.

https://www.nuget.org/packages/System.Data.Odbc/4.5.0-preview1-25914-04

Also we published `Microsoft.Windows.Compatibility` which depends on this package + another set of packages that ported a bunch of APIs From Full Framework.

https://www.nuget.org/packages/Microsoft.Windows.Compatibility/2.0.0-preview1-25914-04

[2017-11-17 17:43] karelz commented on #25310
Modify your app.runtimeconfig.json (runtimeOptions/framework/version) to desired minimal version:
https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md#appnameruntimeconfigjson

[2017-11-17 17:43] #25310 closed

[2017-11-17 17:48] weshaggard commented on #11857
@safern he is asking about System.ComponentModel.Composition. I expect once @maryamariyan finishes the testing in the next few weeks we will create the package and start publishing it to our myget feed.

[2017-11-17 17:52] safern commented on #11857
Hmmm, I misread and got confused as @maryamariyan also worked on System.Data.Odbc, sorry for the confusion.

[2017-11-17 19:15] karelz commented on #25313
It almost looks like OS keeps some handles opened, forcing you to restart. It typically doesn't happen for normal apps, so I guess PowerShell is using something special tricks which can result in that situation.
I would suggest to ask PowerShell if they have a clue. I don't think it is anything specific to .NET or VS as it doesn't happen until PowerShell comes into the game.

[2017-11-17 19:24] Priya91 commented on #19705
I investigated this test issue, the test is doing the following:

1. Perform TLS handshake - successfully completes, and the Assert here passes
2. Server starts a ReadAsync operation, and enters wait mode, this wait has a timeout of 30s, set from VirtualNetwork in test code.
3. Server starts a WriteAsync operation, this has a timeout of 4*60s, and the test is supposed to verify that this WriteAsyn

[2017-11-17 19:36] benrr101 commented on #24792
Just ran the test on .NET 4.6.1 and it repros, so it's not a regression from .NET Framework to .NET Core. Please let me know if you need any additional information.

[2017-11-17 19:39] viking84 commented on #25313
Hi Karel,
It is not a powershell Problem. I also tried it with cmd.exe.
Same behavior. Also tested with different Projects and different exceptions.
Greetings

[2017-11-17 19:41] davidsh commented on #19705
If these tests are using the Virtual Network then it really strange to need multiple minutes for a timeout.  The Virtual Network is simply a mock NetworkStream that isn't really traveling on any real network.  It's just stream APIs reading/writing.

[2017-11-17 19:45] zhenlan commented on #24918
Looks like the issue currently is with System.Net.Http.WinHttpHandler.dll, which is built in corefx. Reopen this issue and closed the one that was moved to wcf repo.

[2017-11-17 19:49] karelz commented on #25313
OK, that was not clear.
Are you able to reproduce it with small app? (HelloWorld)
Are you able to reproduce it on more than 1 machine?

[2017-11-17 20:00] pentp commented on #23519
Does this proposal also cover scalar move instructions (e.g., MOVD xmm, r/m32)?

[2017-11-17 20:14] tannergooding commented on #23519
It is meant to cover all of the scalar instructions that are behind the SSE through AVX CPUID flags (that is, the same CPUID flags covered by https://github.com/dotnet/corefx/issues/22940).

`movd xmm r/m32` and `movd xmm r/m64` would be covered since they are behind the SSE2 CPUID flag.

[2017-11-17 22:07] huanwu opened #25320 "SGEN need support .exe"
It only works for .dll not works for .exe. This is because in the target, we always load <AssemblyName>.dll. In full framework, the output is <AssemblyName>.exe.

[2017-11-17 22:07] danmosemsft commented on #24040
This is required for 2.1 for persistent Roslyn and MSBuild processes.

[2017-11-17 22:10] danmosemsft commented on #25313
Can you find which process is holding the handle to this file?
https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer

[2017-11-17 22:13] danmosemsft commented on #25294
@DavidThi808 with respect to your original comment, you are very welcome to contribute a fix (if a fix is required). There is information on how to contribute here https://github.com/dotnet/corefx/tree/master/Documentation
especially https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md

[2017-11-17 22:14] tarekgh commented on #24918
@zhenlan does this still owned by WCF? who is the right person to look at this issue?

[2017-11-17 22:20] tarekgh commented on #25313
would be either to just reboot the machine and try again.

[2017-11-17 22:25] Petermarcu commented on #11857
Any reason we can't create the package even if complete testing isn't done?

[2017-11-17 22:27] tarekgh commented on #25313
@viking84 you have mentioned MSDEV, did you mean devenv.exe? or you mean something else? please update us if you reboot and still seeing the issue.

[2017-11-17 22:42] zhenlan commented on #24918
WCF does not (never) own System.Net.Http.WinHttpHandler.dll. I think it's owned by networking team.

[2017-11-17 23:21] safern commented on #11857
@maryamariyan will be working with me on adding the packaging so that we can have a preview package in myget early next week.

[2017-11-18 00:13] #16730 closed

[2017-11-18 01:15] #25255 closed

[2017-11-18 01:48] danmosemsft commented on #25269
@bigmacd could you please open a new issue as this does not seem related to the previous one? I will close this.

@qqbuby with respect to unhelpful errors of the form `ERROR [H] [unixODBC][....]` .. it looks like this information comes essentially from the ODBC driver, in this case unixODBC, via the SQLGetDiagRec call. (Doc for Windows version: https://docs.microsoft.com/en-us/sql/odbc/reference/s

[2017-11-18 01:48] #25269 closed

[2017-11-18 02:19] danmosemsft commented on #25268
@Cronan oops, your locale must be en-GB. I pushed up a fix.

We should have some runs that aren't en-US.

[2017-11-18 02:20] danmosemsft commented on #25268
@weshaggard could we change one of our test runs to be a different culture? Maybe one Linux and one Windows?

[2017-11-18 02:21] danmosemsft commented on #25313
msdev.exe is what VS used to be called until 2002. 😃

[2017-11-18 02:30] danmosemsft commented on #25037
Another SIGQUIT failure on OSX 10.12...

https://github.com/dotnet/corefx/issues/25311

I am always seeing this just before it ...

  A fatal error occurred, the required library libhostfxr.dylib could not be found at /Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_debug/bin/testhost/netcoreapp-OSX-Debug-x64/shared/Microsoft.NETCore.App/9.9.9/

This seems to come from corehost.cpp in w

[2017-11-18 02:31] danmosemsft commented on #25037
@steveharter we are periodically getting OSX 10.12 test failures with `A fatal error occurred, the required library libhostfxr.dylib could not be found at /Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_debug/bin/testhost/netcoreapp-OSX-Debug-x64/shared/Microsoft.NETCore.App/9.9.9/`. This comes from corehost. Any idea why this might happen?

I guess we have to set COREHOST_TRACE on the

[2017-11-18 02:32] danmosemsft commented on #25311
Look at the full console and you see`A fatal error occurred, the required library libhostfxr.dylib could not be found at /Users/dotnet-bot/j/workspace/dotnet_corefx/master/osx10.12_debug/bin/testhost/netcoreapp-OSX-Debug-x64/shared/Microsoft.NETCore.App/9.9.9/`
Please dupe all such against https://github.com/dotnet/corefx/issues/25037

[2017-11-18 02:32] #25311 closed

[2017-11-18 02:39] danmosemsft commented on #25210
@stephentoub this is your test. Is CoreRT missing something?

[2017-11-18 02:47] danmosemsft commented on #25268
@Cronan do all other tests pass in en-GB?

[2017-11-18 02:57] stephentoub commented on #25210
The test and the associated library code looks correct to me.  I don't see how it could fail on a correctly functioning runtime.  The test is deterministic.  It calls ReadAsync (https://github.com/dotnet/corefx/blob/c40b68559e52eccd68b6616ea7a023c1c8f4361e/src/System.Threading.Channels/src/System/Threading/Channels/ChannelReader.cs#L37), which calls TryRead (https://github.com/dotnet/corefx/blob/m

[2017-11-18 02:59] saurabh500 commented on #25149
I am closing this issue after the follow ups on https://github.com/Microsoft/vscode-mssql/issues/985#issuecomment-345408856

[2017-11-18 02:59] #25149 closed

[2017-11-18 03:00] saurabh500 opened #25328 "Better error messaging for Integrated Auth Failure in SqlClient"
SqlClient error should also point the user to check if Kerberos is enabled on Sql Server for authentication when Integrated Authentication fails.

[2017-11-18 03:02] saurabh500 commented on #25328
Related problems https://github.com/dotnet/corefx/issues/25149

[2017-11-18 03:16] danmosemsft commented on #24468
@SimonCropp it's shipped
https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/
Note - it's marked preview, but it is on nuget.
Please open an issue if you find one.

[2017-11-18 03:25] saurabh500 commented on #24608
@foxjazz can you provide mode information or code sample for the repro?
Based on the issue described, it seems like there are scenarios the connections go through which is a bit weird as sni.dll not found should be a persistent problem if it occurs.

[2017-11-18 03:27] saurabh500 commented on #24951
@wizofaus we have a security team that is trying to get this feature into .Net Core and it seems that there are some Windows specific dependencies in this feature.
The logic is spread across SqlCommand and TdsParser
If you want to give the port  a shot, you are welcome to. Right now with a code port we can support AKV integration scenarios only.

[2017-11-18 03:29] saurabh500 commented on #24792
Thanks @benrr101 This is good for me to get started. I will get in touch in case I need more information.

[2017-11-18 03:31] saurabh500 commented on #24371
@roederja2 How long is the token valid until, in this case? Do you have auto-renewal setup for when the Kerberos token obtained through kinit expires?

[2017-11-18 03:31] saurabh500 commented on #24206
What's your server client topology? And also what operating systems are you using?

[2017-11-18 04:02] zugzwangm opened #25330 "WebSocket broken after failed close handshake"
Server: AspNet Core 2.0
Client: websocket-sharp

If you connect with websocket-sharp to AspNet Core's Websocket server, then kills the client app, reopen it, and connect again, you get an exception on server's ReceiveAsync(). After that, you can't connect from any source, even from browsers.

[code]

Exception while trying to connect with Chrome after the server is broken:

[code]

Workaround:

[c